{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-default-dc-euap7.devcenter.azure.com/projects/sdk-default-project/catalogItems?api-version=2022-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2022-10-06T19:21:34.2006555Z"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd:sdk-default-dc-euap7:sdk-default-catalog:empty",
            "name": "Empty",
            "catalogName": "sdk-default-catalog"
          }
        ]
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-default-dc-euap7.devcenter.azure.com/projects/sdk-default-project/users/me/environments/DevTestEnv?api-version=2022-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "catalogItemName": "Empty",
        "catalogName": "sdk-default-catalog",
        "environmentType": "sdk-default-environment-type"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-default-dc-euap7.devcenter.azure.com/projects/sdk-default-project/operationstatuses/2edaf908-46d4-4c1f-8399-4d74de607448?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-default-dc-euap7.devcenter.azure.com/projects/sdk-default-project/operationstatuses/2edaf908-46d4-4c1f-8399-4d74de607448",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2022-10-06T19:21:31.1337375Z"
      },
      "ResponseBody": {
        "name": "devtestenv",
        "environmentType": "sdk-default-environment-type",
        "owner": "df428e89-1bc2-4e72-b736-032c31a6cd97",
        "provisioningState": "Creating",
        "catalogName": "sdk-default-catalog",
        "catalogItemName": "Empty",
        "scheduledTasks": {},
        "tags": {}
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-default-dc-euap7.devcenter.azure.com/projects/sdk-default-project/operationstatuses/2edaf908-46d4-4c1f-8399-4d74de607448?api-version=2022-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-default-dc-euap7.devcenter.azure.com/projects/sdk-default-project/operationstatuses/2edaf908-46d4-4c1f-8399-4d74de607448?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-default-dc-euap7.devcenter.azure.com/projects/sdk-default-project/operationstatuses/2edaf908-46d4-4c1f-8399-4d74de607448",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2022-10-06T19:21:35.4276344Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-default-project/operationStatuses/2edaf908-46d4-4c1f-8399-4d74de607448",
        "name": "2edaf908-46d4-4c1f-8399-4d74de607448",
        "status": "NotStarted",
        "startTime": "2022-10-06T19:20:35.2983682\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-default-dc-euap7.devcenter.azure.com/projects/sdk-default-project/operationstatuses/2edaf908-46d4-4c1f-8399-4d74de607448?api-version=2022-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-default-dc-euap7.devcenter.azure.com/projects/sdk-default-project/operationstatuses/2edaf908-46d4-4c1f-8399-4d74de607448?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-default-dc-euap7.devcenter.azure.com/projects/sdk-default-project/operationstatuses/2edaf908-46d4-4c1f-8399-4d74de607448",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2022-10-06T19:23:06.2859124Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-default-project/operationStatuses/2edaf908-46d4-4c1f-8399-4d74de607448",
        "name": "2edaf908-46d4-4c1f-8399-4d74de607448",
        "status": "Succeeded",
        "startTime": "2022-10-06T19:20:35.2983682\u002B00:00",
        "endTime": "2022-10-06T19:22:01.035976\u002B00:00"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-default-dc-euap7.devcenter.azure.com/projects/sdk-default-project/users/me/environments/DevTestEnv?api-version=2022-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2022-10-06T19:23:06.4839664Z"
      },
      "ResponseBody": {
        "name": "devtestenv",
        "environmentType": "sdk-default-environment-type",
        "owner": "df428e89-1bc2-4e72-b736-032c31a6cd97",
        "provisioningState": "Succeeded",
        "resourceGroupId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/sdk-default-project-devtestenv-8",
        "catalogName": "sdk-default-catalog",
        "catalogItemName": "Empty",
        "scheduledTasks": {},
        "tags": {}
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-default-dc-euap7.devcenter.azure.com/projects/sdk-default-project/operationstatuses/4669ee53-9385-4dae-a192-d14d7f655b05?api-version=2022-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-default-dc-euap7.devcenter.azure.com/projects/sdk-default-project/operationstatuses/4669ee53-9385-4dae-a192-d14d7f655b05?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-default-dc-euap7.devcenter.azure.com/projects/sdk-default-project/operationstatuses/4669ee53-9385-4dae-a192-d14d7f655b05",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2022-10-06T19:23:46.9559022Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-default-project/operationStatuses/4669ee53-9385-4dae-a192-d14d7f655b05",
        "name": "4669ee53-9385-4dae-a192-d14d7f655b05",
        "status": "Succeeded",
        "startTime": "2022-10-06T19:22:06.8679114\u002B00:00",
        "endTime": "2022-10-06T19:22:48.7052949\u002B00:00"
      }
    }
  ],
    "Variables": {
        "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
        "CLIENT_ID": "82759f53-fe56-4a00-a282-dc1990e29267",
        "DEFAULT_CATALOG_NAME": "sdk-default-catalog",
        "DEFAULT_DEVCENTER_NAME": "sdk-default-dc-euap7",
        "DEFAULT_DEVCENTER_SCOPE": "https://devcenter.azure.com/.default",
        "DEFAULT_ENVIRONMENT_TYPE_NAME": "sdk-default-environment-type",
        "DEFAULT_PROJECT_NAME": "sdk-default-project",
        "DEFAULT_TEST_USER_SECRET": "Sanitized",
        "RandomSeed": "190431703",
        "STATIC_TEST_USER_ID": "df428e89-1bc2-4e72-b736-032c31a6cd97",
        "TENANT_ID": "8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd"
    }
}
