{
  "Entries": [
    {
      "RequestUri": "https://storagedoctranslator.blob.core.windows.net/source254142079?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 Aug 2021 20:28:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9578679193228\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 20:28:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedoctranslator.blob.core.windows.net/source254142079/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 04 Aug 2021 20:28:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\u00220x8D957867979C51C\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 20:28:52 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedoctranslator.blob.core.windows.net/target1626648402?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 Aug 2021 20:28:52 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9578679A585F7\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 20:28:52 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/ffecb1d4-4f3c-4b37-896e-4de9fd083855",
        "X-RequestId": "3a8edfc3-ea2a-4045-b08f-bb5458427e60"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/ffecb1d4-4f3c-4b37-896e-4de9fd083855",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022B1E8BACA1B4D92BED33BA47D202A5EA678E5B1EDF687E0D16A5F6E2C122967E1\u0022",
        "Retry-After": "1",
        "X-RequestId": "ca106e62-cd5e-4536-b0cd-54ce5b55c73b"
      },
      "ResponseBody": {
        "id": "ffecb1d4-4f3c-4b37-896e-4de9fd083855",
        "createdDateTimeUtc": "2021-08-04T20:28:54.7241777Z",
        "lastActionDateTimeUtc": "2021-08-04T20:28:54.7241781Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/ffecb1d4-4f3c-4b37-896e-4de9fd083855/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225DCE53DB7082FCBBFD0BD8A264D6ECCA3614623A813A70C4550FF034BDCAA5DD\u0022",
        "Retry-After": "1",
        "X-RequestId": "2e8892b3-c0a9-4487-aff1-3a60fc57b088"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://storagedoctranslator.blob.core.windows.net/target1626648402/File_0.txt",
            "sourcePath": "https://storagedoctranslator.blob.core.windows.net/source254142079/File_0.txt",
            "createdDateTimeUtc": "2021-08-04T20:28:56.5746234Z",
            "lastActionDateTimeUtc": "2021-08-04T20:29:00.8940397Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000a53ca-0000-0000-0000-000000000000",
            "characterCharged": 16
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?ids=\u0026statuses=\u0026createdDateTimeUtcStart=2021-08-04T20%3A29%3A01.4902512Z\u0026$orderBy=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022540ABF35FD8C4EC829B6A334A0F9B6CACD68DE00BE6CFD94D76CBE63FF1D61BE\u0022",
        "Retry-After": "1",
        "X-RequestId": "8a2986cf-d60e-4635-959e-14050864b01f"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "3998c574-c735-49bf-b118-d33fee05dd0d",
            "createdDateTimeUtc": "2021-08-04T20:29:03.3100139Z",
            "lastActionDateTimeUtc": "2021-08-04T20:29:09.8583078Z",
            "status": "Succeeded",
            "summary": {
              "total": 1,
              "failed": 0,
              "success": 1,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 16
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-08-04T22:29:01.4902512\u002B02:00",
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=storagedoctranslator;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://r-doctranslator.cognitiveservices.azure.com/",
    "RandomSeed": "221592565"
  }
}