{
  "Entries": [
    {
      "RequestUri": "https://storagedoctranslator.blob.core.windows.net/source2144847833?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 02 Aug 2021 16:05:01 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D955CF48CBF8C6\u0022",
        "Last-Modified": "Mon, 02 Aug 2021 16:05:01 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedoctranslator.blob.core.windows.net/source2144847833/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 02 Aug 2021 16:05:01 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\u00220x8D955CF48F28BD9\u0022",
        "Last-Modified": "Mon, 02 Aug 2021 16:05:02 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedoctranslator.blob.core.windows.net/target648167143?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 02 Aug 2021 16:05:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D955CF495E682E\u0022",
        "Last-Modified": "Mon, 02 Aug 2021 16:05:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7afd5c7e-13d8-4691-abd0-abde4ce5474e",
        "X-RequestId": "5a722374-81fd-409f-a1b4-ef9066382921"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7afd5c7e-13d8-4691-abd0-abde4ce5474e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222B64FF266769FF5C549482D5FA29F90EB9627F23201427FFDFA4BFC34CC0B114\u0022",
        "Retry-After": "1",
        "X-RequestId": "b1dd734c-89d2-4894-8ee1-d7a74245e59c"
      },
      "ResponseBody": {
        "id": "7afd5c7e-13d8-4691-abd0-abde4ce5474e",
        "createdDateTimeUtc": "2021-08-02T16:05:02.9540382Z",
        "lastActionDateTimeUtc": "2021-08-02T16:05:02.9540386Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7afd5c7e-13d8-4691-abd0-abde4ce5474e/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228270350399FEAD5FF9DCFCA888A1566245A4CADFEDCF45A3562A8B2E25479585\u0022",
        "Retry-After": "1",
        "X-RequestId": "d53ce8ac-4a31-47b5-8603-14f48c188dcf"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://storagedoctranslator.blob.core.windows.net/target648167143/File_2.txt",
            "sourcePath": "https://storagedoctranslator.blob.core.windows.net/source2144847833/File_2.txt",
            "createdDateTimeUtc": "2021-08-02T16:05:04.5825888Z",
            "lastActionDateTimeUtc": "2021-08-02T16:05:17.4654216Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000a3179-0000-0000-0000-000000000000",
            "characterCharged": 16
          },
          {
            "path": "https://storagedoctranslator.blob.core.windows.net/target648167143/File_1.txt",
            "sourcePath": "https://storagedoctranslator.blob.core.windows.net/source2144847833/File_1.txt",
            "createdDateTimeUtc": "2021-08-02T16:05:04.5625755Z",
            "lastActionDateTimeUtc": "2021-08-02T16:05:18.9445098Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000a3178-0000-0000-0000-000000000000",
            "characterCharged": 16
          },
          {
            "path": "https://storagedoctranslator.blob.core.windows.net/target648167143/File_0.txt",
            "sourcePath": "https://storagedoctranslator.blob.core.windows.net/source2144847833/File_0.txt",
            "createdDateTimeUtc": "2021-08-02T16:05:04.5551103Z",
            "lastActionDateTimeUtc": "2021-08-02T16:05:17.2980732Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000a3177-0000-0000-0000-000000000000",
            "characterCharged": 16
          }
        ]
      }
    },
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7afd5c7e-13d8-4691-abd0-abde4ce5474e/documents?statuses=Succeeded\u0026createdDateTimeUtcStart=0001-01-01T00%3A00%3A00.0000000Z\u0026createdDateTimeUtcEnd=0001-01-01T00%3A00%3A00.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022CCBB5D491432C3C14211F701B70B8FD33F87F97654F7143379575047AA9D8219\u0022",
        "Retry-After": "1",
        "X-RequestId": "6d45c744-aacf-4926-94e5-7e4b2eb8a522"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=storagedoctranslator;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://r-doctranslator.cognitiveservices.azure.com/",
    "RandomSeed": "24451130"
  }
}