{
  "Entries": [
    {
      "RequestUri": "https://storagedoctranslator.blob.core.windows.net/source779279517?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 03 Aug 2021 21:25:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D956C537026027\u0022",
        "Last-Modified": "Tue, 03 Aug 2021 21:25:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedoctranslator.blob.core.windows.net/source779279517/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 03 Aug 2021 21:25:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\u00220x8D956C5374FFC11\u0022",
        "Last-Modified": "Tue, 03 Aug 2021 21:25:28 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedoctranslator.blob.core.windows.net/target694859894?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 03 Aug 2021 21:25:30 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D956C538186F1D\u0022",
        "Last-Modified": "Tue, 03 Aug 2021 21:25:29 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/61f64340-86f6-42f1-9c8a-d5caca0214bf",
        "X-RequestId": "ca68b446-9281-43a5-ac85-2433aab7383d"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/61f64340-86f6-42f1-9c8a-d5caca0214bf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022DCBBF846C4015202E8D0E3BC5687E0897F843C64149602CA4C02ECD4889A4C66\u0022",
        "Retry-After": "1",
        "X-RequestId": "381054f2-6997-4cd1-a1c4-4f64629f65d8"
      },
      "ResponseBody": {
        "id": "61f64340-86f6-42f1-9c8a-d5caca0214bf",
        "createdDateTimeUtc": "2021-08-03T21:25:30.4527461Z",
        "lastActionDateTimeUtc": "2021-08-03T21:25:30.4527464Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/61f64340-86f6-42f1-9c8a-d5caca0214bf/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002240A85EDE169BFF76BB9049E3DA34E23B8089C782D34B660621F6998F89F2FD1D\u0022",
        "Retry-After": "1",
        "X-RequestId": "6e9303de-a694-4d12-a2be-b82cbcd57653"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://storagedoctranslator.blob.core.windows.net/target694859894/File_2.txt",
            "sourcePath": "https://storagedoctranslator.blob.core.windows.net/source779279517/File_2.txt",
            "createdDateTimeUtc": "2021-08-03T21:25:31.6069123Z",
            "lastActionDateTimeUtc": "2021-08-03T21:25:41.4473807Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000a4228-0000-0000-0000-000000000000",
            "characterCharged": 16
          },
          {
            "path": "https://storagedoctranslator.blob.core.windows.net/target694859894/File_1.txt",
            "sourcePath": "https://storagedoctranslator.blob.core.windows.net/source779279517/File_1.txt",
            "createdDateTimeUtc": "2021-08-03T21:25:31.599629Z",
            "lastActionDateTimeUtc": "2021-08-03T21:25:41.4589026Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000a4227-0000-0000-0000-000000000000",
            "characterCharged": 16
          },
          {
            "path": "https://storagedoctranslator.blob.core.windows.net/target694859894/File_0.txt",
            "sourcePath": "https://storagedoctranslator.blob.core.windows.net/source779279517/File_0.txt",
            "createdDateTimeUtc": "2021-08-03T21:25:31.5962089Z",
            "lastActionDateTimeUtc": "2021-08-03T21:25:41.3986332Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000a4226-0000-0000-0000-000000000000",
            "characterCharged": 16
          }
        ]
      }
    },
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/61f64340-86f6-42f1-9c8a-d5caca0214bf/documents?statuses=Succeeded\u0026createdDateTimeUtcStart=0001-01-01T00%3A00%3A00.0000000Z\u0026createdDateTimeUtcEnd=0001-01-01T00%3A00%3A00.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226A77F54DFA9A226C12EACF0F0EA7A209E78DE71F2D266530FFCC298A6AD49321\u0022",
        "Retry-After": "1",
        "X-RequestId": "45f3297d-0671-4de0-9eba-08c8e720bb0a"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=storagedoctranslator;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://r-doctranslator.cognitiveservices.azure.com/",
    "RandomSeed": "525428698"
  }
}