{
  "Entries": [
    {
      "RequestUri": "https://storagedoctranslator.blob.core.windows.net/source1785108693?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 03 Aug 2021 21:26:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D956C54D8FF26E\u0022",
        "Last-Modified": "Tue, 03 Aug 2021 21:26:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedoctranslator.blob.core.windows.net/source1785108693/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 03 Aug 2021 21:26:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\u00220x8D956C54DDACFFF\u0022",
        "Last-Modified": "Tue, 03 Aug 2021 21:26:06 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedoctranslator.blob.core.windows.net/target181974416?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 03 Aug 2021 21:26:07 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D956C54E9646F3\u0022",
        "Last-Modified": "Tue, 03 Aug 2021 21:26:07 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/160fbcac-6719-48b1-a381-07c96def522c",
        "X-RequestId": "17152de7-fef4-4f9c-ad60-ab060f53ed3c"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/160fbcac-6719-48b1-a381-07c96def522c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002286C73320CB0E48C117790B2AB8FF364AC17BFEAD0D57036EC80FAD4A6576C6E4\u0022",
        "Retry-After": "1",
        "X-RequestId": "e41f3fd8-44d2-4774-a32b-4dc05aac240c"
      },
      "ResponseBody": {
        "id": "160fbcac-6719-48b1-a381-07c96def522c",
        "createdDateTimeUtc": "2021-08-03T21:26:08.1805962Z",
        "lastActionDateTimeUtc": "2021-08-03T21:26:08.1805966Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/160fbcac-6719-48b1-a381-07c96def522c/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002209940FEB1FCB4F172B673122EF5244023D839754FC0030D92AD63C5AEA599368\u0022",
        "Retry-After": "1",
        "X-RequestId": "012491d1-2fbb-4d8f-b456-9c5d39b90c08"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://storagedoctranslator.blob.core.windows.net/target181974416/File_2.txt",
            "sourcePath": "https://storagedoctranslator.blob.core.windows.net/source1785108693/File_2.txt",
            "createdDateTimeUtc": "2021-08-03T21:26:08.7927066Z",
            "lastActionDateTimeUtc": "2021-08-03T21:26:10.5960791Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000a4231-0000-0000-0000-000000000000",
            "characterCharged": 16
          },
          {
            "path": "https://storagedoctranslator.blob.core.windows.net/target181974416/File_1.txt",
            "sourcePath": "https://storagedoctranslator.blob.core.windows.net/source1785108693/File_1.txt",
            "createdDateTimeUtc": "2021-08-03T21:26:08.7859245Z",
            "lastActionDateTimeUtc": "2021-08-03T21:26:10.5587274Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000a4230-0000-0000-0000-000000000000",
            "characterCharged": 16
          },
          {
            "path": "https://storagedoctranslator.blob.core.windows.net/target181974416/File_0.txt",
            "sourcePath": "https://storagedoctranslator.blob.core.windows.net/source1785108693/File_0.txt",
            "createdDateTimeUtc": "2021-08-03T21:26:08.7798193Z",
            "lastActionDateTimeUtc": "2021-08-03T21:26:10.5523428Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000a422f-0000-0000-0000-000000000000",
            "characterCharged": 16
          }
        ]
      }
    },
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/160fbcac-6719-48b1-a381-07c96def522c/documents?statuses=Succeeded\u0026createdDateTimeUtcStart=0001-01-01T00%3A00%3A00.0000000Z\u0026createdDateTimeUtcEnd=0001-01-01T00%3A00%3A00.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022EC52F86F9AF6388523550A38C9A50E07B62CC371A29013398CAE8536943EA101\u0022",
        "Retry-After": "1",
        "X-RequestId": "84ed4ef1-9065-4dc5-a80d-321e8df991c7"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=storagedoctranslator;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://r-doctranslator.cognitiveservices.azure.com/",
    "RandomSeed": "573522025"
  }
}