{
  "Entries": [
    {
      "RequestUri": "https://storagedoctranslator.blob.core.windows.net/source1122460916?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 03 Aug 2021 21:29:18 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D956C5C0E6372D\u0022",
        "Last-Modified": "Tue, 03 Aug 2021 21:29:19 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedoctranslator.blob.core.windows.net/source1122460916/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 03 Aug 2021 21:29:20 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\u00220x8D956C5C14A29B6\u0022",
        "Last-Modified": "Tue, 03 Aug 2021 21:29:20 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedoctranslator.blob.core.windows.net/target1544928617?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 03 Aug 2021 21:29:20 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D956C5C1765C64\u0022",
        "Last-Modified": "Tue, 03 Aug 2021 21:29:20 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/741e8783-65a0-4a78-b0bb-40bb90ca2ce2",
        "X-RequestId": "3aa40fff-5b0b-446e-a336-9ae8df2f7f8f"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/741e8783-65a0-4a78-b0bb-40bb90ca2ce2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002241A21911ADF23AA5081E0BAA2247C808308042D3689E592F0D4320ACE5040F7F\u0022",
        "Retry-After": "1",
        "X-RequestId": "ee1da66a-8a7b-496b-bebc-7157d78626ed"
      },
      "ResponseBody": {
        "id": "741e8783-65a0-4a78-b0bb-40bb90ca2ce2",
        "createdDateTimeUtc": "2021-08-03T21:29:22.6625965Z",
        "lastActionDateTimeUtc": "2021-08-03T21:29:22.6625969Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/741e8783-65a0-4a78-b0bb-40bb90ca2ce2/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228D1A6061C039B594C19E92E6BAA64652BD433140B59BA1F183FE5DED9BD349CA\u0022",
        "Retry-After": "1",
        "X-RequestId": "c6ae2fa9-b3e8-45ad-a4f4-6bc9fdb09003"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://storagedoctranslator.blob.core.windows.net/target1544928617/File_0.txt",
            "sourcePath": "https://storagedoctranslator.blob.core.windows.net/source1122460916/File_0.txt",
            "createdDateTimeUtc": "2021-08-03T21:29:27.8894664Z",
            "lastActionDateTimeUtc": "2021-08-03T21:29:30.950517Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000a4235-0000-0000-0000-000000000000",
            "characterCharged": 16
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?createdDateTimeUtcStart=2021-08-03T21%3A29%3A59.2444280Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022275D51718D932B5B6EDE1730B335971651789AEE2BF79DCE164D[...]
