{
  "Entries": [
    {
      "RequestUri": "https://storagedoctranslator.blob.core.windows.net/source617309560?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 02 Aug 2021 16:24:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D955D1F6F7332B\u0022",
        "Last-Modified": "Mon, 02 Aug 2021 16:24:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedoctranslator.blob.core.windows.net/source617309560/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 02 Aug 2021 16:24:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\u00220x8D955D1F73BC89B\u0022",
        "Last-Modified": "Mon, 02 Aug 2021 16:24:13 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedoctranslator.blob.core.windows.net/target1979657043?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 02 Aug 2021 16:24:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D955D1F75E6B36\u0022",
        "Last-Modified": "Mon, 02 Aug 2021 16:24:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9a921d78-9a3f-4fb0-bd3e-e9e85adfb5c7",
        "X-RequestId": "bfa8b497-f288-4815-90b3-1f8e5a8c92ac"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9a921d78-9a3f-4fb0-bd3e-e9e85adfb5c7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022741C2413E88EEAE14DE4BC6417EEBABD06CB33E201AB76947463B1DF17EA072C\u0022",
        "Retry-After": "1",
        "X-RequestId": "84bbc8c9-d010-4030-aa14-b0861e966735"
      },
      "ResponseBody": {
        "id": "9a921d78-9a3f-4fb0-bd3e-e9e85adfb5c7",
        "createdDateTimeUtc": "2021-08-02T16:24:14.084628Z",
        "lastActionDateTimeUtc": "2021-08-02T16:24:14.0846283Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9a921d78-9a3f-4fb0-bd3e-e9e85adfb5c7/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228EB8D128F51356B490DB4F41892577AFA045F5C3F79AC761A29706129E76AADC\u0022",
        "Retry-After": "1",
        "X-RequestId": "efa7051f-454b-4b0b-ab06-1bc59e926fef"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://storagedoctranslator.blob.core.windows.net/target1979657043/File_0.txt",
            "sourcePath": "https://storagedoctranslator.blob.core.windows.net/source617309560/File_0.txt",
            "createdDateTimeUtc": "2021-08-02T16:24:14.5402858Z",
            "lastActionDateTimeUtc": "2021-08-02T16:24:16.8863055Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000a3215-0000-0000-0000-000000000000",
            "characterCharged": 16
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$orderBy=createdDateTimeUtc%20Desc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222593245182D9A321C83289F8A669709A8CF85E6919D81D42F37C177378335C96\u0022",
 [...]
    {
      "RequestUri": "https://r-doctranslator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=50\u0026$top=200\u0026$maxpagesize=50\u0026$orderBy=createdDateTimeUtc%20Desc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022477326ECF24FB217E2152BD0A[...]
[...]
