{
  "Entries": [
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/source685276814?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 16 Aug 2021 09:57:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9609C4FB89024\u0022",
        "Last-Modified": "Mon, 16 Aug 2021 09:57:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/source685276814/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 16 Aug 2021 09:57:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\u00220x8D9609C4FCF19E0\u0022",
        "Last-Modified": "Mon, 16 Aug 2021 09:57:51 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/target1975620071?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 16 Aug 2021 09:57:52 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9609C4FFB98CB\u0022",
        "Last-Modified": "Mon, 16 Aug 2021 09:57:52 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/be93dbe0-eb6d-48c7-ab88-e1ec129b00de",
        "X-RequestId": "d0312312-c725-4014-8382-213ddf51f8d6"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/be93dbe0-eb6d-48c7-ab88-e1ec129b00de",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228C0E54EA7601FCAF6618C80BAE29FBFA6B1B4767C1B890CFC0C2BCC6515A65AE\u0022",
        "Retry-After": "1",
        "X-RequestId": "3410dfc7-9b56-462e-98bd-9d02b8b79ead"
      },
      "ResponseBody": {
        "id": "be93dbe0-eb6d-48c7-ab88-e1ec129b00de",
        "createdDateTimeUtc": "2021-08-16T09:57:52.4613038Z",
        "lastActionDateTimeUtc": "2021-08-16T09:57:52.4613042Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/be93dbe0-eb6d-48c7-ab88-e1ec129b00de/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002280952C81D0B47B268CE1681CB2B544F66C9D26126696C6907F8F20AA3038DD62\u0022",
        "Retry-After": "1",
        "X-RequestId": "8247db70-c48e-411c-aae3-b1961e0605bf"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://documentstorageleithy.blob.core.windows.net/target1975620071/File_0.txt",
            "sourcePath": "https://documentstorageleithy.blob.core.windows.net/source685276814/File_0.txt",
            "createdDateTimeUtc": "2021-08-16T09:57:54.1463595Z",
            "lastActionDateTimeUtc": "2021-08-16T09:57:57.361427Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000abfeb-0000-0000-0000-000000000000",
            "characterCharged": 16
          },
          {
            "path": "https://documentstorageleithy.blob.core.windows.net/target1975620071/File_1.txt",
            "sourcePath": "https://documentstorageleithy.blob.core.windows.net/source685276814/File_1.txt",
            "createdDateTimeUtc": "2021-08-16T09:57:54.136938Z",
            "lastActionDateTimeUtc": "2021-08-16T09:57:57.3832221Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000abfec-0000-0000-0000-000000000000",
            "characterCharged": 16
          }
        ]
      }
    },
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/be93dbe0-eb6d-48c7-ab88-e1ec129b00de/documents?ids=\u0026statuses=Succeeded\u0026createdDateTimeUtcStart=0001-01-01T00%3A00%3A00.0000000Z\u0026createdDateTimeUtcEnd=0001-01-01T00%3A00%3A00.0000000Z\u0026$orderBy=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022726F6B22F7F46FB09690F1755D7499DEE438EA586F20CE657C916BA667A7FEED\u0022",
        "Retry-After": "1",
        "X-RequestId": "4c389066-cd66-4016-8878-f4f3bc8e022e"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=documentstorageleithy;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://document-translation-test.cognitiveservices.azure.com/",
    "RandomSeed": "445837392"
  }
}