{
  "Entries": [
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/source60504317?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 26 Aug 2021 14:30:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9689E14649B20\u0022",
        "Last-Modified": "Thu, 26 Aug 2021 14:30:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/source60504317/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 26 Aug 2021 14:30:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\u00220x8D9689E14916228\u0022",
        "Last-Modified": "Thu, 26 Aug 2021 14:30:40 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/target37326002?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 26 Aug 2021 14:30:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9689E14D30168\u0022",
        "Last-Modified": "Thu, 26 Aug 2021 14:30:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d5e6b9fb-a90d-43f6-996c-9a28332c146e",
        "X-RequestId": "88a8dab6-135c-4454-9175-2deb8a21fa50"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d5e6b9fb-a90d-43f6-996c-9a28332c146e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227535D552458F71A5D23836CC78C4C7611C503F4C1CDDCBBCC435302ECBF401E3\u0022",
        "Retry-After": "1",
        "X-RequestId": "bd387743-baef-47a3-9933-21594b8aa7ff"
      },
      "ResponseBody": {
        "id": "d5e6b9fb-a90d-43f6-996c-9a28332c146e",
        "createdDateTimeUtc": "2021-08-26T14:30:41.6174038Z",
        "lastActionDateTimeUtc": "2021-08-26T14:30:41.6174043Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d5e6b9fb-a90d-43f6-996c-9a28332c146e/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002284F653AB2B8AEA19CC7E12CD711712D976131A613E9170FEA93E94BAB7DD5ABC\u0022",
        "Retry-After": "1",
        "X-RequestId": "5fdd0c9b-712d-4ca9-ba3a-6d3fe0b8189e"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://documentstorageleithy.blob.core.windows.net/target37326002/File_1.txt",
            "sourcePath": "https://documentstorageleithy.blob.core.windows.net/source60504317/File_1.txt",
            "createdDateTimeUtc": "2021-08-26T14:30:47.7442085Z",
            "lastActionDateTimeUtc": "2021-08-26T14:30:51.1609827Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000b5475-0000-0000-0000-000000000000",
            "characterCharged": 16
          },
          {
            "path": "https://documentstorageleithy.blob.core.windows.net/target37326002/File_0.txt",
            "sourcePath": "https://documentstorageleithy.blob.core.windows.net/source60504317/File_0.txt",
            "createdDateTimeUtc": "2021-08-26T14:30:47.7014599Z",
            "lastActionDateTimeUtc": "2021-08-26T14:30:51.2757053Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000b5474-0000-0000-0000-000000000000",
            "characterCharged": 16
          }
        ]
      }
    },
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d5e6b9fb-a90d-43f6-996c-9a28332c146e/documents?statuses=Succeeded",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002284F653AB2B8AEA19CC7E12CD711712D97[...]
