{
  "Entries": [
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/source1805082759?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 26 Aug 2021 14:33:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9689E7B38DDAB\u0022",
        "Last-Modified": "Thu, 26 Aug 2021 14:33:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/source1805082759/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 26 Aug 2021 14:33:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\u00220x8D9689E7B7C0621\u0022",
        "Last-Modified": "Thu, 26 Aug 2021 14:33:33 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/target1385302454?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 26 Aug 2021 14:33:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9689E7BC9ED86\u0022",
        "Last-Modified": "Thu, 26 Aug 2021 14:33:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7fe0383c-d81e-4b02-8446-ea17b1f352e0",
        "X-RequestId": "1bf30dbb-d875-49df-b092-2f23cf6a990f"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7fe0383c-d81e-4b02-8446-ea17b1f352e0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221B8CBD10D97EFF9E5D8C5EF2B565030CFCA150A1D5C89EF8161BAB21DD8D5876\u0022",
        "Retry-After": "1",
        "X-RequestId": "5026b1bf-5555-448f-a3df-87c9e3691dd3"
      },
      "ResponseBody": {
        "id": "7fe0383c-d81e-4b02-8446-ea17b1f352e0",
        "createdDateTimeUtc": "2021-08-26T14:33:35.667793Z",
        "lastActionDateTimeUtc": "2021-08-26T14:33:35.6677933Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7fe0383c-d81e-4b02-8446-ea17b1f352e0/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224FD1A801C4A0CB00AFFA124D06C8F32ABC9A05F4F75C2D4D8F4053F16C238825\u0022",
        "Retry-After": "1",
        "X-RequestId": "b68df339-8998-4855-8531-eb3df9d53f3e"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://documentstorageleithy.blob.core.windows.net/target1385302454/File_1.txt",
            "sourcePath": "https://documentstorageleithy.blob.core.windows.net/source1805082759/File_1.txt",
            "createdDateTimeUtc": "2021-08-26T14:33:42.6540825Z",
            "lastActionDateTimeUtc": "2021-08-26T14:33:48.7102761Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000b5477-0000-0000-0000-000000000000",
            "characterCharged": 16
          },
          {
            "path": "https://documentstorageleithy.blob.core.windows.net/target1385302454/File_0.txt",
            "sourcePath": "https://documentstorageleithy.blob.core.windows.net/source1805082759/File_0.txt",
            "createdDateTimeUtc": "2021-08-26T14:33:42.6417226Z",
            "lastActionDateTimeUtc": "2021-08-26T14:33:48.6497917Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000b5476-0000-0000-0000-000000000000",
            "characterCharged": 16
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7fe0383c-d81e-4b02-8446-ea17b1f352e0/documents?ids=000b5477-0000-0000-0000-000000000000",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022196389A1BB2C2F5532402EDAFAD8F9B959988688EBFF917C75DC6B1AA1302D1F\u0022",
        "Retry-After": "1",
        "X-RequestId": "19103116-b912-4233-a4fa-9f6defce9476"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://documentstorageleithy.blob.core.windows.net/target1385302454/File_1.txt",
            "sourcePath": "https://documentstorageleithy.blob.core.windows.net/source1805082759/File_1.txt",
            "createdDateTimeUtc": "2021-08-26T14:33:42.6540825Z",
            "lastActionDateTimeUtc": "2021-08-26T14:33:48.7102761Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000b5477-0000-0000-0000-000000000000",
            "characterCharged": 16
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=documentstorageleithy;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://document-translation-test.cognitiveservices.azure.com/",
    "RandomSeed": "655457310"
  }
}