{
  "Entries": [
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/source761402163?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 26 Aug 2021 14:30:17 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9689E0753A228\u0022",
        "Last-Modified": "Thu, 26 Aug 2021 14:30:18 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/source761402163/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 26 Aug 2021 14:30:18 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\u00220x8D9689E0794635D\u0022",
        "Last-Modified": "Thu, 26 Aug 2021 14:30:19 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/target2111158774?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 26 Aug 2021 14:30:19 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9689E07DA4FC9\u0022",
        "Last-Modified": "Thu, 26 Aug 2021 14:30:19 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/ffe69a46-1b2a-414b-a270-7febbaacbc72",
        "X-RequestId": "646a995d-891f-47ba-80c5-55201fab30dc"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/ffe69a46-1b2a-414b-a270-7febbaacbc72",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221136630CA30A6A3A2FF95A772CC348FACB3870D73A3F5A5FFC1B78BE8192BAA9\u0022",
        "Retry-After": "1",
        "X-RequestId": "d7bc2cf3-4f9c-49cb-a6c7-24dee7944dd1"
      },
      "ResponseBody": {
        "id": "ffe69a46-1b2a-414b-a270-7febbaacbc72",
        "createdDateTimeUtc": "2021-08-26T14:30:21.2012802Z",
        "lastActionDateTimeUtc": "2021-08-26T14:30:21.2012805Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/ffe69a46-1b2a-414b-a270-7febbaacbc72/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022DA700F03CCB9D2DB522E8F32BDDD385D06496AAC8C28BAB5524803C762EEAC18\u0022",
        "Retry-After": "1",
        "X-RequestId": "615843cd-319c-45de-89b7-bab3b0284709"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://documentstorageleithy.blob.core.windows.net/target2111158774/File_1.txt",
            "sourcePath": "https://documentstorageleithy.blob.core.windows.net/source761402163/File_1.txt",
            "createdDateTimeUtc": "2021-08-26T14:30:30.340147Z",
            "lastActionDateTimeUtc": "2021-08-26T14:30:39.4726051Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000b5473-0000-0000-0000-000000000000",
            "characterCharged": 16
          },
          {
            "path": "https://documentstorageleithy.blob.core.windows.net/target2111158774/File_0.txt",
            "sourcePath": "https://documentstorageleithy.blob.core.windows.net/source761402163/File_0.txt",
            "createdDateTimeUtc": "2021-08-26T14:30:30.2524115Z",
            "lastActionDateTimeUtc": "2021-08-26T14:30:39.4632272Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000b5472-0000-0000-0000-000000000000",
            "characterCharged": 16
          }
        ]
      }
    },
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/ffe69a46-1b2a-414b-a270-7febbaacbc72/documents?statuses=Succeeded",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022DA700F03CCB9D2DB522E8F32BDDD385D0[...]
