{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/glossaries/formats",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022BB09005FA0DB45CD46802EE70709AA319365D435A020BE2897C9B902157EAD55\u0022",
        "Retry-After": "1",
        "X-RequestId": "a21901dd-1fcd-4520-bcd0-5b86cf830cf4"
      },
      "ResponseBody": {
        "value": [
          {
            "format": "XLIFF",
            "fileExtensions": [
              ".xlf"
            ],
            "contentTypes": [
              "application/xliff\u002Bxml"
            ],
            "defaultVersion": "1.2",
            "versions": [
              "1.0",
              "1.1",
              "1.2"
            ]
          },
          {
            "format": "TSV",
            "fileExtensions": [
              ".tsv",
              ".tab"
            ],
            "contentTypes": [
              "text/tab-separated-values"
            ]
          },
          {
            "format": "CSV",
            "fileExtensions": [
              ".csv"
            ],
            "contentTypes": [
              "text/csv"
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "1032706159"
  }
}