{
  "Entries": [
    {
      "RequestUri": "https://micnashtranslationprim.blob.core.windows.net/source1408981434?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 04 Mar 2022 21:12:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FE23B814CC1E\u0022",
        "Last-Modified": "Fri, 04 Mar 2022 21:12:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://micnashtranslationprim.blob.core.windows.net/source1408981434/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 04 Mar 2022 21:12:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\u00220x8D9FE23B817E0C8\u0022",
        "Last-Modified": "Fri, 04 Mar 2022 21:12:41 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://micnashtranslationprim.blob.core.windows.net/target1450253557?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 04 Mar 2022 21:12:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FE23B81BCFF5\u0022",
        "Last-Modified": "Fri, 04 Mar 2022 21:12:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://micnashtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://micnashtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/dea905ef-4035-43d5-a2c2-ee38e36fe5c9",
        "X-RequestId": "fc1f0643-3da3-4bfa-a9d2-fa8b91212bc7"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://micnashtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/dea905ef-4035-43d5-a2c2-ee38e36fe5c9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225C64BE34E5020CC10489088A42ACA910992CA8ACED5C13A3301E949815DBFB99\u0022",
        "Retry-After": "1",
        "X-RequestId": "f6dee1c8-2dc2-4ff6-8300-e3eb3c47d5ba"
      },
      "ResponseBody": {
        "id": "dea905ef-4035-43d5-a2c2-ee38e36fe5c9",
        "createdDateTimeUtc": "2022-03-04T21:12:41.6056599Z",
        "lastActionDateTimeUtc": "2022-03-04T21:12:41.6056601Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://micnashtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?ids=dea905ef-4035-43d5-a2c2-ee38e36fe5c9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227278AE0C2D1CE4D9A3393680FF563BFD747C40B4CEA075F62B5984B8C70B2F64\u0022",
        "Retry-After": "1",
        "X-RequestId": "c2d1c013-5038-4746-94f1-950400f20eb5"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dea905ef-4035-43d5-a2c2-ee38e36fe5c9",
            "createdDateTimeUtc": "2022-03-04T21:12:41.6056599Z",
            "lastActionDateTimeUtc": "2022-03-04T21:12:52.2175953Z",
            "status": "Succeeded",
            "summary": {
              "total": 1,
              "failed": 0,
              "success": 1,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 16
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=micnashtranslationprim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://micnashtranslation-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "1196526711"
  }
}
