{
  "Entries": [
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/source1478981449?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 Jan 2022 11:54:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DA793812D9FC\u0022",
        "Last-Modified": "Tue, 18 Jan 2022 11:54:01 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/source1478981449/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 Jan 2022 11:54:01 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\u00220x8D9DA793843CC1E\u0022",
        "Last-Modified": "Tue, 18 Jan 2022 11:54:01 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/target350713167?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 Jan 2022 11:54:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DA7938677D21\u0022",
        "Last-Modified": "Tue, 18 Jan 2022 11:54:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/24c943e3-e49c-4df8-91cb-e559eab632ea",
        "X-RequestId": "63f0f3c7-7105-4117-9028-bf52c49589e7"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/24c943e3-e49c-4df8-91cb-e559eab632ea",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022A66C635EDF5EDB3930CE56E8257C851CEDF83FE105D7FA02D9C77A236F071A9C\u0022",
        "Retry-After": "1",
        "X-RequestId": "fc88c665-3a1e-4a85-a30b-60f6c05cfa10"
      },
      "ResponseBody": {
        "id": "24c943e3-e49c-4df8-91cb-e559eab632ea",
        "createdDateTimeUtc": "2022-01-18T11:54:03.805391Z",
        "lastActionDateTimeUtc": "2022-01-18T11:54:03.8053914Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/24c943e3-e49c-4df8-91cb-e559eab632ea/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002214851989F9794A499C1132589AE3BD270534001D565B215493FECFD4C27E116A\u0022",
        "Retry-After": "1",
        "X-RequestId": "43fe5c70-8f23-48ed-9651-4ab37a18bbb7"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://documentstorageleithy.blob.core.windows.net/target350713167/File_0.txt",
            "sourcePath": "https://documentstorageleithy.blob.core.windows.net/source1478981449/File_0.txt",
            "createdDateTimeUtc": "2022-01-18T11:54:07.610603Z",
            "lastActionDateTimeUtc": "2022-01-18T11:54:19.39751Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "001dba7e-0000-0000-0000-000000000000",
            "characterCharged": 16
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?createdDateTimeUtcStart=2022-01-18T11%3A54%3A34.6661871Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022265AB39A239B6A37608A33619FD9F9979BB422A28DAD2189C5F9A4E82C06428A\u0022",
        "Retry-After": "1",
        "X-RequestId": "aff82172-a155-4a8f-8022-f4bf7cbf83b8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "d7e4854c-5f7d-4fe5-9d0e-e7013d8100ab",
            "createdDateTimeUtc": "2022-01-18T11:54:37.0024105Z",
            "lastActionDateTimeUtc": "2022-01-18T11:54:52.0093254Z",
            "status": "Succeeded",
            "summary": {
              "total": 1,
              "failed": 0,
              "success": 1,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 16
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-01-18T13:54:35.6661871\u002B02:00",
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=documentstorageleithy;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://document-translation-test.cognitiveservices.azure.com/",
    "RandomSeed": "1640543011"
  }
}
