{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.ManagedIdentity/operations?api-version=2023-01-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.ManagedIdentity/identities/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Managed Identity\",\r\n        \"resource\": \"System Assigned Identities\",\r\n        \"operation\": \"Get System Assigned Identity\",\r\n        \"description\": \"Gets an existing system assigned identity\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.ManagedIdentity/operations/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Managed Identity\",\r\n        \"resource\": \"Managed Identity operations\",\r\n        \"operation\": \"List Managed Identity operations\",\r\n        \"description\": \"Lists operations available on Microsoft.ManagedIdentity resource provider\"\r\n      }\r\n    },\r\n    {\r\n      \"name\":[...]
