{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6824/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-8602?api-version=2021-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11898"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6824/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-8602",
        "name": "dbaccount-8602",
        "location": "West US 2",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "GlobalDocumentDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "systemData": {
          "createdAt": "2021-12-03T12:13:14.8337168Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "documentEndpoint": "https://dbaccount-8602.documents.azure.com:443/",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": true,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "Sql",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "WellDefined"
          },
          "instanceId": "7484ab17-9f85-47d3-a6c8-40e61ea244c4",
          "databaseAccountOfferType": "Standard",
          "defaultIdentity": "FirstPartyIdentity",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxIntervalInSeconds": 1000,
            "maxStalenessPrefix": 300
          },
          "configurationOverrides": {},
          "writeLocations": [
            {
              "id": "dbaccount-8602-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-8602-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "dbaccount-8602-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-8602-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "locations": [
            {
              "id": "dbaccount-8602-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-8602-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "failoverPolicies": [
            {
              "id": "dbaccount-8602-westus",
              "locationName": "West US",
              "failoverPriority": 0
            }
          ],
          "cors": [],
          "capabilities": [],
          "ipRules": [
            {
              "ipAddressOrRange": "23.43.230.120"
            }
          ],
          "backupPolicy": {
            "type": "Periodic",
            "periodicModeProperties": {
              "backupIntervalInMinutes": 240,
              "backupRetentionIntervalInHours": 8,
              "backupStorageRedundancy": "Geo"
            }
          },
          "networkAclBypassResourceIds": []
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6824/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-8602/sqlDatabases/sql-db-6237?api-version=2021-06-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "resource": {
            "id": "sql-db-6237"
          },
          "options": {
            "throughput": 700
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/b8d1d92d-2173-4eb9-84a0-3c60831804a1?api-version=2021-06-15",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6824/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-8602/sqlDatabases/sql-db-6237/operationResults/b8d1d92d-2173-4eb9-84a0-3c60831804a1?api-version=2021-06-15",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/b8d1d92d-2173-4eb9-84a0-3c60831804a1?api-version=2021-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11897"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6824/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-8602/sqlDatabases/sql-db-6237?api-version=2021-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11887"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6824/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-8602/sqlDatabases/sql-db-6237",
        "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases",
        "name": "sql-db-6237",
        "properties": {
          "resource": {
            "id": "sql-db-6237",
            "_rid": "CwwaAA==",
            "_self": "dbs/CwwaAA==/",
            "_etag": "\u002200002e09-0000-0700-0000-61aa0a7b0000\u0022",
            "_colls": "colls/",
            "_users": "users/",
            "_ts": 1638533755
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6824/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-8602/sqlDatabases/sql-db-6237/throughputSettings/default?api-version=2021-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11886"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6824/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-8602/sqlDatabases/sql-db-6237/throughputSettings/default",
        "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/throughputSettings",
        "name": "7dyT",
        "properties": {
          "resource": {
            "throughput": 700,
            "minimumThroughput": "400"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/476f2b91-474a-4fcd-a27a-d67f10786394?api-version=2021-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11868"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1228007369",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}