{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-14?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-14",
        "name": "testRG-14",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-14/providers/Microsoft.Automation/automationAccounts/account6188?api-version=2021-06-22",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "sku": {
            "name": "Basic"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-14/providers/Microsoft.Automation/automationAccounts/account6188?api-version=2021-06-22",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "account6188",
        "systemData": {
          "createdAt": "2023-04-14T06:15:22.8333333\u002B00:00",
          "lastModifiedAt": "2023-04-14T06:15:22.8333333\u002B00:00"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-14/providers/Microsoft.Automation/automationAccounts/account6188",
        "type": "Microsoft.Automation/AutomationAccounts",
        "location": "eastus",
        "tags": {},
        "etag": null,
        "properties": {
          "disableLocalAuth": false,
          "sku": {
            "name": "Basic",
            "family": null,
            "capacity": null
          },
          "state": "Ok",
          "RegistrationUrl": "https://43244a80-4257-4c19-af06-ea61b0aea266.agentsvc.eus.azure-automation.net/accounts/43244a80-4257-4c19-af06-ea61b0aea266",
          "encryption": {
            "keySource": "Microsoft.Automation",
            "identity": {
              "userAssignedIdentity": null
            }
          },
          "automationHybridServiceUrl": "https://43244a80-4257-4c19-af06-ea61b0aea266.jrds.eus.azure-automation.net/automationAccounts/43244a80-4257-4c19-af06-ea61b0aea266",
          "RuntimeConfiguration": {
            "powershell": {
              "builtinModules": {
                "Az": "8.0.0"
              }
            },
            "powershell7": {
              "builtinModules": {
                "Az": "8.0.0"
              }
            }
          },
          "creationTime": "2023-04-14T06:15:22.8333333\u002B00:00",
          "lastModifiedBy": null,
          "lastModifiedTime": "2023-04-14T06:15:22.8333333\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-14/providers/Microsoft.Automation/automationAccounts/account6188/variables/variable1698?api-version=2020-01-13-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "variable1698",
        "properties": {
          "value": "10",
          "isEncrypted": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-14/providers/Microsoft.Automation/automationAccounts/account6188/variables/variable1698?api-version=2020-01-13-preview",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "name": "variable1698",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-14/providers/Microsoft.Automation/automationAccounts/account6188/variables/variable1698",
        "type": "Microsoft.Automation/AutomationAccounts/Variables",
        "properties": {
          "creationTime": "2023-04-14T06:15:26.7266667\u002B00:00",
          "lastModifiedTime": "2023-04-14T06:15:26.7266667\u002B00:00",
          "isEncrypted": false,
          "value": "10",
          "description": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-14/providers/Microsoft.Automation/automationAccounts/account6188/variables/vaiable2770?api-version=2020-01-13-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "variable1698",
        "properties": {
          "value": "10",
 [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-14/providers/Microsoft.Automation/automationAccounts/account6188/variables?api-version=2020-01-13-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-14/providers/Microsoft.Automation/automationAccounts/account6188/variables/variable16981?api-version=2020-01-13-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "code": "NotFound",
        "message": "Variable not found."
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-14/providers/Microsoft.Automation/automationAccounts/account6188/variables/variable1698?api-version=2020-01-13-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "LOCATION": "EastUS",
    "RandomSeed": "759629238",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
