{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-service-version": [
          "10.5.1245.541"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Billing/billingAccounts/692a1ef6-595a-5578-8776-de10c9d64861:5869ea10-a21e-423f-9213-2ca0d1938908_2019-05-31\",\r\n      \"name\": \"692a1ef6-595a-5578-8776-de10c9d64861:5869ea10-a21e-423f-9213-2ca0d1938908_2019-05-31\",\r\n      \"properties\": {\r\n        \"accountStatus\": \"Active\",\r\n        \"accountType\": \"Individual\",\r\n        \"agreementType\": \"MicrosoftCustomerAgreement\",\r\n        \"billingProfiles\": {\r\n          \"hasMoreResults\": false\r\n        },\r\n        \"displayName\": \"0759605d-3381-4acf-83c5-9bb24a42189d\",\r\n        \"hasReadAccess\": true\r\n      },\r\n      \"type\": \"Microsoft.Billing/billingAccounts\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0195fcc8-69cd-4440-852b-237bdae4e36c"
  }
}