{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts?api-version=2019-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-service-version": [
          "9.11.1047.343"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Billing/billingAccounts/723c8ce0-33ba-5ba7-ef23-e1b72f15f1d8:4ce5b530-c82b-44e8-97ec-49f3cce9f14d_2019-05-31\",\r\n      \"name\": \"723c8ce0-33ba-5ba7-ef23-e1b72f15f1d8:4ce5b530-c82b-44e8-97ec-49f3cce9f14d_2019-05-31\",\r\n      \"properties\": {\r\n        \"accountId\": \"723c8ce0-33ba-5ba7-ef23-e1b72f15f1d8\",\r\n        \"accountStatus\": \"Active\",\r\n        \"accountType\": \"Enterprise\",\r\n        \"agreementType\": \"MicrosoftCustomerAgreement\",\r\n        \"displayName\": \"Canary Test EA Transition 2\",\r\n        \"hasReadAccess\": true,\r\n        \"organizationId\": \"4ce5b530-c82b-44e8-97ec-49f3cce9f14d_2019-05-31\"\r\n      },\r\n      \"type\": \"Microsoft.Billing/billingAccounts\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "df6e24cd-21d5-4f70-ac15-32bb1f8b4536"
  }
}