{
  "Entries": [
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/DefaultResourceGroup-EUS\",\r\n      \"name\": \"DefaultResourceGroup-EUS\",\r\n      \"location\": \"eastus\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/cloud-shell-storage-westus\",\r\n      \"name\": \"cloud-shell-storage-westus\",\r\n      \"location\": \"westus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/partnersRg\",\r\n      \"name\": \"partnersRg\",\r\n      \"lo[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups/sdk-EventGrid-RG-1822?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centraluseuap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-1822\",\r\n  \"name\": \"sdk-EventGrid-RG-1822\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-1822/providers/Microsoft.EventGrid/domains/sdk-Domain-4775?api-version=2020-10-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"inputSchema\": \"CloudEventSchemaV1_0\",\r\n    \"inputSchemaMapping\": {\r\n      \"inputSchemaMappingType\": \"Json\",\r\n      \"properties\": {\r\n        \"topic\": {\r\n          \"sourceField\": \"myTopicField\"\r\n        }\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"originalTag1\": \"originalValue1\",\r\n    \"originalTag2\": \"originalValue2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://centraluseuap.management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/B8ECA234-6AEA-494C-ACD5-C6A56B2AD84A?api-version=2020-10-15-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"endpoint\": null,\r\n    \"inputSchema\": \"CloudEventSchemaV1_0\",\r\n    \"inputSchemaMapping\": {\r\n      \"properties\": {\r\n        \"id\": null,\r\n        \"topic\": {\r\n          \"sourceField\": \"myTopicField\"\r\n        },\r\n        \"eventTime\": null,\r\n        \"eventType\": null,\r\n        \"subject\": null,\r\n        \"dataVersion\": null\r\n      },\r\n      \"inputSchemaMappingType\": \"Json\"\r\n    }\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"originalTag1\": \"originalValue1\",\r\n    \"originalTag2\": \"originalValue2\"\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-1822/providers/Microsoft.EventGrid/domains/sdk-Domain-4775\",\r\n  \"name\": \"sdk-Domain-4775\",\r\n  \"type\": \"Microsoft.EventGrid/domains\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-1822/providers/Microsoft.EventGrid/domains/sdk-Domain-4775?api-version=2020-10-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"inputSchema\": \"CloudEventSchemaV1_0\",\r\n    \"inputSchemaMapping\": {\r\n      \"inputSchemaMappingType\": \"Json\",\r\n      \"properties\": {\r\n        \"topic\": {\r\n          \"sourceField\": \"myTopicField\"\r\n        }\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"replacedTag1\": \"replacedValue1\",\r\n    \"replacedTag2\": \"replacedValue2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://centraluseuap.management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/76480BEC-6504-49F6-8C72-0FF5F632003C?api-version=2020-10-15[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-1822/providers/Microsoft.EventGrid/domains/sdk-Domain-4775?api-version=2020-10-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"inputSchema\": \"CloudEventSchemaV1_0\",\r\n    \"inputSchemaMapping\": {\r\n      \"inputSchemaMappingType\": \"Json\",\r\n      \"properties\": {\r\n        \"topic\": {\r\n          \"sourceField\": \"myTopicField\"\r\n        }\r\n      }\r\n    },\r\n    \"publicNetworkAccess\": \"Disabled\",\r\n    \"inboundIpRules\": [\r\n      {\r\n        \"ipMask\": \"12.35.67.98\",\r\n        \"action\": \"Allow\"\r\n      },\r\n      {\r\n        \"ipMask\": \"12.35.90.100\",\r\n        \"action\": \"Allow\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"replacedTag1\": \"replacedValue1\",\r\n    \"replacedTag2\": \"replacedValue2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azur[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/B8ECA234-6AEA-494C-ACD5-C6A56B2AD84A?api-version=2020-10-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"https://centraluseuap.management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/B8ECA234-6AEA-494C-ACD5-C6A56B2AD84A?api-version=2020-10-15-preview\",\r\n  \"name\": \"b8eca234-6aea-494c-acd5-c6a56b2ad84a\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-1822/providers/Microsoft.EventGrid/domains/sdk-Domain-4775?api-version=2020-10-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"endpoint\": \"https://sdk-domain-4775.centraluseuap-1.eventgrid.azure.net/api/events\",\r\n    \"inputSchema\": \"CloudEventSchemaV1_0\",\r\n    \"inputSchemaMapping\": {\r\n      \"properties\": {\r\n        \"id\": null,\r\n        \"topic\": {\r\n          \"sourceField\": \"myTopicField\"\r\n        },\r\n        \"eventTime\": null,\r\n        \"eventType\": null,\r\n        \"subject\": null,\r\n        \"dataVersion\": null\r\n      },\r\n      \"inputSchemaMappingType\": \"Json\"\r\n    },\r\n    \"metricResourceId\": \"e781acfc-467d-4605-ba92-2f32fc25e48d\",\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"originalTag1\": \"originalValue1\",\r\n    \"originalTag2\": \"originalValue2\"\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-1822/providers/Microsoft.EventGrid/domains/sdk-Domain-4775\",\r\n  \"name\": \"sdk-Domain-4775\",\r\n  \"type\": \"Microsoft.EventGrid/domains\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-1822/providers/Microsoft.EventGrid/domains/sdk-Domain-4775?api-version=2020-10-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"endpoint\": \"https://sdk-domain-4775.centraluseuap-1.eventgrid.azure.net/api/events\",\r\n    \"inputSchema\": \"CloudEventSchemaV1_0\",\r\n    \"inputSchemaMapping\": {\r\n      \"properties\": {\r\n        \"id\": null,\r\n        \"topic\": {\r\n          \"sourceField\": \"myTopicField\"\r\n        },\r\n        \"eventTime\": null,\r\n        \"eventType\": null,\r\n        \"subject\": null,\r\n        \"dataVersion\": null\r\n      },\r\n      \"inputSchemaMappingType\": \"Json\"\r\n    },\r\n    \"metricResourceId\": \"e781acfc-467d-4605-ba92-2f32fc25e48d\",\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"updatedTag1\": \"updatedValue1\",\r\n    \"updatedTag2\": \"updatedValue2\"\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-1822/providers/Microsoft.EventGrid/domains/sdk-Domain-4775\",\r\n  \"name\": \"sdk-Domain-4775\",\r\n  \"type\": \"Microsoft.EventGrid/domains\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-1822/providers/Microsoft.EventGrid/domains?api-version=2020-10-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody":[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-1822/providers/Microsoft.EventGrid/domains?api-version=2020-10-15-preview&$top=5",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "Respons[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/domains?api-version=2020-10-15-preview&$top=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "320b5b51-8fe6-4ebc-8355-e1207973ad69",
          "daa92cb9-1f66-4957-9c8a-b6e3628041f6",
          "06cc1749-2051-4855-92ec-672dc0586563",
          "c12bf107-4908-48e0-9df6-7e643d9078da",
          "b24043a9-bac7-4a04-aef2-dd773531f57f",
          "76ca3b44-58bc-47df-83ea-c3b60c1ddd4e",
          "521b3306-1dd3-4f4d-8190-b906d6428436",
          "b8f2ece1-c4f0-4308-bb63-c9e7c45c965d",
          "e2ba79a8-bb5a-4f65-874d-9f9aad31323c",
          "4de91438-5456-4344-96fb-8d563fa3f46f[...]
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-1822/providers/Microsoft.EventGrid/domains/sdk-Domain-4775/topics/sdk-DomainTopic-4178?api-version=2020-10-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://centraluseuap.management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/4DC0509B-FE68-473A-9ED2-2E72DB4D8C08?api-version=2020-10-15-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\"\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-1822/providers/Microsoft.EventGrid/domains/sdk-Domain-4775/topics/sdk-DomainTopic-4178\",\r\n  \"name\": \"sdk-DomainTopic-4178\",\r\n  \"type\": \"Microsoft.EventGrid/domains/topics\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-1822/providers/Microsoft.EventGrid/domains/sdk-Domain-4775/topics/sdk-DomainTopic-187?api-version=2020-10-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://centraluseuap.management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/0DA4429F-BD6D-43F2-93E6-4376E45D0966?api-version=2020-10-15-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\"\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-1822/providers/Microsoft.EventGrid/domains/sdk-Domain-4775/topics/sdk-DomainTopic-187\",\r\n  \"name\": \"sdk-DomainTopic-187\",\r\n  \"type\": \"Microsoft.EventGrid/domains/topics\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-1822/providers/Microsoft.EventGrid/domains/sdk-Domain-4775/topics?api-version=2020-10-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "893"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-1822/providers/Microsoft.EventGrid/domains/sdk-Domain-4775/topics/sdk-DomainTopic-4178\",\r\n      \"name\": \"sdk-DomainTopic-4178\",\r\n      \"type\": \"Microsoft.EventGrid/domains/topics\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-1822/providers/Microsoft.EventGrid/domains/sdk-Domain-4775/topics/sdk-DomainTopic-187\",\r\n      \"name\": \"sdk-DomainTopic-187\",\r\n      \"type\": \"Microsoft.EventGrid/domains/topics\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-1822/providers/Microsoft.EventGrid/domains/sdk-Domain-4775/topics/sdk-DomainTopic-4178?api-version=2020-10-15-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://centraluseuap.management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationResults/FD808630-222C-4F4F-BE9F-96C5FDBBA027?api-version=2020-10-15-preview"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://centraluseuap.management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/FD808630-222C-4F4F-BE9F-96C5FDBBA027?api-version=2020-10-15-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationResults/FD808630-222C-4F4F-BE9F-96C5FDBBA027?api-version=2020-10-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11981"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationResults/AAA0BBDA-3534-4919-B5A9-DFED3E39AD8F?api-version=2020-10-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11977"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "DomainCreateGetUpdateDelete": [
      "sdk-EventGrid-RG-1822",
      "sdk-Domain-4775",
      "sdk-DomainTopic-4178",
      "sdk-DomainTopic-187"
    ]
  },
  "Variables": {
    "SubscriptionId": "5b4b650e-28b9-4790-b3ab-ddbd88d727c4"
  }
}