{
  "Entries": [
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/DefaultResourceGroup-EUS\",\r\n      \"name\": \"DefaultResourceGroup-EUS\",\r\n      \"location\": \"eastus\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/cloud-shell-storage-westus\",\r\n      \"name\": \"cloud-shell-storage-westus\",\r\n      \"location\": \"westus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/partnersRg\",\r\n      \"name\": \"partnersRg\",\r\n      \"lo[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups/sdk-EventGrid-RG-5395?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centraluseuap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-5395\",\r\n  \"name\": \"sdk-EventGrid-RG-5395\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-5395/providers/Microsoft.EventGrid/domains/sdk-Domain-1679?api-version=2021-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"inputSchema\": \"CloudEventSchemaV1_0\",\r\n    \"inputSchemaMapping\": {\r\n      \"inputSchemaMappingType\": \"Json\",\r\n      \"properties\": {\r\n        \"topic\": {\r\n          \"sourceField\": \"myTopicField\"\r\n        }\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"originalTag1\": \"originalValue1\",\r\n    \"originalTag2\": \"originalValue2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/099F582D-CDCE-4B9F-B32F-744FD98CCA03?api-version=2021-12-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"endpoint\": null,\r\n    \"inputSchema\": \"CloudEventSchemaV1_0\",\r\n    \"inputSchemaMapping\": {\r\n      \"properties\": {\r\n        \"id\": null,\r\n        \"topic\": {\r\n          \"sourceField\": \"myTopicField\"\r\n        },\r\n        \"eventTime\": null,\r\n        \"eventType\": null,\r\n        \"subject\": null,\r\n        \"dataVersion\": null\r\n      },\r\n      \"inputSchemaMappingType\": \"Json\"\r\n    }\r\n  },\r\n  \"systemData\": null,\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"originalTag1\": \"originalValue1\",\r\n    \"originalTag2\": \"originalValue2\"\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-5395/providers/Microsoft.EventGrid/domains/sdk-Domain-1679\",\r\n  \"name\": \"sdk-Domain-1679\",\r\n  \"type\": \"Microsoft.EventGrid/domains\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-5395/providers/Microsoft.EventGrid/domains/sdk-Domain-1679?api-version=2021-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"inputSchema\": \"CloudEventSchemaV1_0\",\r\n    \"inputSchemaMapping\": {\r\n      \"inputSchemaMappingType\": \"Json\",\r\n      \"properties\": {\r\n        \"topic\": {\r\n          \"sourceField\": \"myTopicField\"\r\n        }\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"replacedTag1\": \"replacedValue1\",\r\n    \"replacedTag2\": \"replacedValue2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/967BEE48-7D8B-4CC0-9B5D-02FF5FD21EA1?api-version=2021-12-01"
        ],
 [...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-5395/providers/Microsoft.EventGrid/domains/sdk-Domain-1679?api-version=2021-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"inputSchema\": \"CloudEventSchemaV1_0\",\r\n    \"inputSchemaMapping\": {\r\n      \"inputSchemaMappingType\": \"Json\",\r\n      \"properties\": {\r\n        \"topic\": {\r\n          \"sourceField\": \"myTopicField\"\r\n        }\r\n      }\r\n    },\r\n    \"publicNetworkAccess\": \"Disabled\",\r\n    \"inboundIpRules\": [\r\n      {\r\n        \"ipMask\": \"12.35.67.98\",\r\n        \"action\": \"Allow\"\r\n      },\r\n      {\r\n        \"ipMask\": \"12.35.90.100\",\r\n        \"action\": \"Allow\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"replacedTag1\": \"replacedValue1\",\r\n    \"replacedTag2\": \"replacedValue2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azur[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/099F582D-CDCE-4B9F-B32F-744FD98CCA03?api-version=2021-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/099F582D-CDCE-4B9F-B32F-744FD98CCA03?api-version=2021-12-01\",\r\n  \"name\": \"099f582d-cdce-4b9f-b32f-744fd98cca03\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-5395/providers/Microsoft.EventGrid/domains/sdk-Domain-1679?api-version=2021-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"endpoint\": \"https://sdk-domain-1679.centraluseuap-1.eventgrid.azure.net/api/events\",\r\n    \"inputSchema\": \"CloudEventSchemaV1_0\",\r\n    \"inputSchemaMapping\": {\r\n      \"properties\": {\r\n        \"id\": null,\r\n        \"topic\": {\r\n          \"sourceField\": \"myTopicField\"\r\n        },\r\n        \"eventTime\": null,\r\n        \"eventType\": null,\r\n        \"subject\": null,\r\n        \"dataVersion\": null\r\n      },\r\n      \"inputSchemaMappingType\": \"Json\"\r\n    },\r\n    \"metricResourceId\": \"59df9965-f6aa-407a-8679-14347ada98f2\",\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"systemData\": null,\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"originalTag1\": \"originalValue1\",\r\n    \"originalTag2\": \"originalValue2\"\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-5395/providers/Microsoft.EventGrid/domains/sdk-Domain-1679\",\r\n  \"name\": \"sdk-Domain-1679\",\r\n  \"type\": \"Microsoft.EventGrid/domains\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-5395/providers/Microsoft.EventGrid/domains/sdk-Domain-1679?api-version=2021-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"endpoint\": \"https://sdk-domain-1679.centraluseuap-1.eventgrid.azure.net/api/events\",\r\n    \"inputSchema\": \"CloudEventSchemaV1_0\",\r\n    \"inputSchemaMapping\": {\r\n      \"properties\": {\r\n        \"id\": null,\r\n        \"topic\": {\r\n          \"sourceField\": \"myTopicField\"\r\n        },\r\n        \"eventTime\": null,\r\n        \"eventType\": null,\r\n        \"subject\": null,\r\n        \"dataVersion\": null\r\n      },\r\n      \"inputSchemaMappingType\": \"Json\"\r\n    },\r\n    \"metricResourceId\": \"59df9965-f6aa-407a-8679-14347ada98f2\",\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"systemData\": null,\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"updatedTag1\": \"updatedValue1\",\r\n    \"updatedTag2\": \"updatedValue2\"\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-5395/providers/Microsoft.EventGrid/domains/sdk-Domain-1679\",\r\n  \"name\": \"sdk-Domain-1679\",\r\n  \"type\": \"Microsoft.EventGrid/domains\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-5395/providers/Microsoft.EventGrid/domains?api-version=2021-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n [...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-5395/providers/Microsoft.EventGrid/domains?api-version=2021-12-01&$top=5",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": [...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/domains?api-version=2021-12-01&$top=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "3f187aff-3020-4666-b32e-a89a8d2c0016",
          "4d2e6243-6db6-44ed-88d1-b7c64492b512",
          "8eb3551f-8b98-414d-8beb-adb5d9bdc3c6",
          "9065155c-b79d-4ca0-8f23-68e6c15a5cdb",
          "44e9869c-d2e9-4878-a378-ad43e11313f5",
          "050bcbca-1c12-4eef-a1eb-7df12c0ab9eb",
          "c811f602-0104-4355-8fa4-f8d3d7ac0bb1",
          "db4858db-568f-4639-8b52-9480b61af3d8",
          "053f4c11-1982-4ea4-9fe5-3227d6841c09",
          "a14f43cb-0a2a-4042-90e9-c29f029f4078[...]
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-5395/providers/Microsoft.EventGrid/domains/sdk-Domain-1679/topics/sdk-DomainTopic-6625?api-version=2021-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/30B54A55-0E8F-49DD-AEAE-35F38D895987?api-version=2021-12-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\"\r\n  },\r\n  \"systemData\": null,\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-5395/providers/Microsoft.EventGrid/domains/sdk-Domain-1679/topics/sdk-DomainTopic-6625\",\r\n  \"name\": \"sdk-DomainTopic-6625\",\r\n  \"type\": \"Microsoft.EventGrid/domains/topics\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-5395/providers/Microsoft.EventGrid/domains/sdk-Domain-1679/topics?api-version=2021-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "893"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"systemData\": null,\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-5395/providers/Microsoft.EventGrid/domains/sdk-Domain-1679/topics/sdk-DomainTopic-6625\",\r\n      \"name\": \"sdk-DomainTopic-6625\",\r\n      \"type\": \"Microsoft.EventGrid/domains/topics\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"systemData\": null,\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-5395/providers/Microsoft.EventGrid/domains/sdk-Domain-1679/topics/sdk-DomainTopic-9640\",\r\n      \"name\": \"sdk-DomainTopic-9640\",\r\n      \"type\": \"Microsoft.EventGrid/domains/topics\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-5395/providers/Microsoft.EventGrid/domains/sdk-Domain-1679/topics/sdk-DomainTopic-6625?api-version=2021-12-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationResults/3215CE60-A1E0-49A2-BEEA-1258A2C930A4?api-version=2021-12-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/3215CE60-A1E0-49A2-BEEA-1258A2C930A4?api-version=2021-12-01"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationResults/3215CE60-A1E0-49A2-BEEA-1258A2C930A4?api-version=2021-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11983"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationResults/A8AC4861-D767-4599-BF3E-92A5E8A63D8D?api-version=2021-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11979"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "DomainCreateGetUpdateDelete": [
      "sdk-EventGrid-RG-5395",
      "sdk-Domain-1679",
      "sdk-DomainTopic-6625",
      "sdk-DomainTopic-9640"
    ]
  },
  "Variables": {
    "SubscriptionId": "5b4b650e-28b9-4790-b3ab-ddbd88d727c4"
  }
}