{
  "Entries": [
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/DefaultResourceGroup-EUS\",\r\n      \"name\": \"DefaultResourceGroup-EUS\",\r\n      \"location\": \"eastus\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/cloud-shell-storage-westus\",\r\n      \"name\": \"cloud-shell-storage-westus\",\r\n      \"location\": \"westus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/partnersRg\",\r\n      \"name\": \"partnersRg\",\r\n      \"lo[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups/sdk-EventGrid-RG-9979?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centraluseuap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979\",\r\n  \"name\": \"sdk-EventGrid-RG-9979\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerRegistrations/sdk-PartReg-9315?api-version=2020-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"partnerName\": \"Contoso\",\r\n    \"partnerResourceTypeName\": \"Accounts.4225e794-b938-422b-8e00-34f5a91bad37\",\r\n    \"partnerResourceTypeDisplayName\": \"DisplayName Text -- 4225e794-b938-422b-8e00-34f5a91bad37\",\r\n    \"partnerResourceTypeDescription\": \"Description Text -- 4225e794-b938-422b-8e00-34f5a91bad37\",\r\n    \"setupUri\": \"https://www.contoso.com/setup.html\",\r\n    \"logoUri\": \"https://www.contoso.com/logo.png\",\r\n    \"authorizedAzureSubscriptionIds\": [\r\n      \"5b4b650e-28b9-4790-b3ab-ddbd88d727c4\"\r\n    ]\r\n  },\r\n  \"location\": \"global\",\r\n  \"tags\": {\r\n    \"originalTag1\": \"originalValue1\",\r\n    \"originalTag2\": \"originalValue2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"partnerName\": \"Contoso\",\r\n    \"partnerResourceTypeName\": \"Accounts.4225e794-b938-422b-8e00-34f5a91bad37\",\r\n    \"partnerResourceTypeDisplayName\": \"DisplayName Text -- 4225e794-b938-422b-8e00-34f5a91bad37\",\r\n    \"partnerResourceTypeDescription\": \"Description Text -- 4225e794-b938-422b-8e00-34f5a91bad37\",\r\n    \"setupUri\": \"https://www.contoso.com/setup.html\",\r\n    \"logoUri\": \"https://www.contoso.com/logo.png\",\r\n    \"visibilityState\": \"Hidden\",\r\n    \"authorizedAzureSubscriptionIds\": [\r\n      \"5b4b650e-28b9-4790-b3ab-ddbd88d727c4\"\r\n    ]\r\n  },\r\n  \"location\": \"global\",\r\n  \"tags\": {\r\n    \"originalTag1\": \"originalValue1\",\r\n    \"originalTag2\": \"originalValue2\"\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerRegistrations/sdk-PartReg-9315\",\r\n  \"name\": \"sdk-PartReg-9315\",\r\n  \"type\": \"Microsoft.EventGrid/partnerRegistrations\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerRegistrations/sdk-PartReg-9315?api-version=2020-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"partnerName\": \"Contoso\",\r\n    \"partnerResourceTypeName\": \"Accounts.4225e794-b938-422b-8e00-34f5a91bad37\",\r\n    \"partnerResourceTypeDisplayName\": \"DisplayName Text -- 4225e794-b938-422b-8e00-34f5a91bad37\",\r\n    \"partnerResourceTypeDescription\": \"Description Text -- 4225e794-b938-422b-8e00-34f5a91bad37\",\r\n    \"setupUri\": \"https://www.contoso.com/setup.html\",\r\n    \"logoUri\": \"https://www.contoso.com/logo.png\",\r\n    \"authorizedAzureSubscriptionIds\": [\r\n      \"5b4b650e-28b9-4790-b3ab-ddbd88d727c4\"\r\n    ]\r\n  },\r\n  \"location\": \"global\",\r\n  \"tags\": {\r\n    \"replacedTag1\": \"replacedValue1\",\r\n    \"replacedTag2\": \"replacedValue2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"partnerName\": \"Contoso\",\r\n    \"partnerRes[...]
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerRegistrations?api-version=2020-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "R[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerRegistrations?api-version=2020-04-01-preview&$top=5",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11983"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
 [...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/partnerRegistrations?api-version=2020-04-01-preview&$top=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11982"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"partnerName\": \"ContosoCorp\",\r\n        \"partnerResourceTypeName\": \"ContosoCorp.Accounts\",\r\n        \"partnerResourceTypeDisplayName\": \"ContocoCorp Accounts DisplayName Text\",\r\n        \"partnerResourceTypeDescription\": \"ContocoCorp Accounts Description Text\",\r\n        \"setupUri\": \"https://www.example.com/setup.html\",\r\n        \"logoUri\": \"https://www.example.com/logo.png\",\r\n        \"visibilityState\": \"Hidden\",\r\n        \"authorizedAzureSubscriptionIds\": [\r\n          \"d48566a8-2428-4a6c-8347-9675d09fb851\"\r\n        ]\r\n      },\r\n      \"location\": \"global\",\r\n      \"tags\": {\r\n        \"key1\": \"value1\",\r\n        \"key2\": \"Value2\",\r\n        \"key3\": \"Value3\"\r\n      },\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/amh/providers/Microsoft.EventGrid/partnerRegistrations/ContosoCorpAccount1\",\r\n      \"name\": \"ContosoCorpAccount1\",\r\n      \"type\": \"Microsoft.EventGrid/partnerRegistrations\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"partnerName\": \"Contoso\",\r\n        \"partnerResourceTypeName\": \"Accounts.712226e8-1c6f-444[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerNamespaces/sdk-PartNs-7884?api-version=2020-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"partnerRegistrationFullyQualifiedId\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerRegistrations/sdk-PartReg-9315\"\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"originalTag111\": \"originalValue111\",\r\n    \"originalTag222\": \"originalValue222\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/37E84205-C42F-4CD0-8B05-8E25FD362A4B?api-version=2020-04-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"partnerRegistrationFullyQualifiedId\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerRegistrations/sdk-PartReg-9315\",\r\n    \"endpoint\": null\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"originalTag111\": \"originalValue111\",\r\n    \"originalTag222\": \"originalValue222\"\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerNamespaces/sdk-PartNs-7884\",\r\n  \"name\": \"sdk-PartNs-7884\",\r\n  \"type\": \"Microsoft.EventGrid/partnerNamespaces\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerNamespaces/sdk-PartNs-7884?api-version=2020-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"partnerRegistrationFullyQualifiedId\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerRegistrations/sdk-PartReg-9315\"\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"replacedTag111\": \"replacedValue111\",\r\n    \"replacedTag222\": \"replacedValue222\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/B7C1EDB0-B589-41F4-B7F9-3A3080572E8D?api-version=2020-04-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"partnerRegistrationFullyQualifiedId\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerRegistrations/sdk-PartReg-9315\",\r\n    \"endpoint\": null\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"replacedTag111\": \"replacedValue111\",\r\n    \"replacedTag222\": \"replacedValue222\"\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerNamespaces/sdk-PartNs-7884\",\r\n  \"name\": \"sdk-PartNs-7884\",\r\n  \"type\": \"Microsoft.EventGrid/partnerNamespaces\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/37E84205-C42F-4CD0-8B05-8E25FD362A4B?api-version=2020-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11981"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/37E84205-C42F-4CD0-8B05-8E25FD362A4B?api-version=2020-04-01-preview\",\r\n  \"name\": \"37e84205-c42f-4cd0-8b05-8e25fd362a4b\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerNamespaces?api-version=2020-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11977"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"partnerRegistrationFullyQualifiedId\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerRegistrations/sdk-PartReg-9315\",\r\n        \"endpoint\": \"https://sdk-partns-7884.centraluseuap-1.eventgrid.azure.net/api/events\"\r\n      },\r\n      \"location\": \"centraluseuap\",\r\n      \"tags\": {\r\n        \"originalTag111\": \"originalValue111\",\r\n        \"originalTag222\": \"originalValue222\"\r\n      },\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerNamespaces/sdk-PartNs-7884\",\r\n      \"name\": \"sdk-PartNs-7884\",\r\n      \"type\": \"Microsoft.EventGrid/partnerNamespaces\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerNamespaces?api-version=2020-04-01-preview&$top=5",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11976"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"partnerRegistrationFullyQualifiedId\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerRegistrations/sdk-PartReg-9315\",\r\n        \"endpoint\": \"https://sdk-partns-7884.centraluseuap-1.eventgrid.azure.net/api/events\"\r\n      },\r\n      \"location\": \"centraluseuap\",\r\n      \"tags\": {\r\n        \"originalTag111\": \"originalValue111\",\r\n        \"originalTag222\": \"originalValue222\"\r\n      },\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerNamespaces/sdk-PartNs-7884\",\r\n      \"name\": \"sdk-PartNs-7884\",\r\n      \"type\": \"Microsoft.EventGrid/partnerNamespaces\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/partnerNamespaces?api-version=2020-04-01-preview&$top=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "ac1f257b-0b6a-42dc-abe0-30203ed7991c",
          "e2ab546e-5479-4315-9435-576462b9e9a3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11975"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"partnerRegistrationFullyQualifiedId\": \"/subscriptions/5b4b650e-28b9-4[...]
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerNamespaces/sdk-PartNs-7884/eventChannels/sdk-EvtChnl-5806?api-version=2020-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"source\": {\r\n      \"source\": \"Accounts.User.4225e794-b938-422b-8e00-34f5a91bad37\"\r\n    },\r\n    \"destination\": {\r\n      \"azureSubscriptionId\": \"5b4b650e-28b9-4790-b3ab-ddbd88d727c4\",\r\n      \"resourceGroup\": \"sdk-EventGrid-RG-9979\",\r\n      \"partnerTopicName\": \"sdk-PartTop-1413\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": {\r\n      \"source\": \"Accounts.User.4225e794-b938-422b-8e00-34f5a91bad37\"\r\n    },\r\n    \"destination\": {\r\n      \"azureSubscriptionId\": \"5b4b650e-28b9-4790-b3ab-ddbd88d727c4\",\r\n      \"resourceGroup\": \"sdk-EventGrid-RG-9979\",\r\n      \"partnerTopicName\": \"sdk-PartTop-1413\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerNamespaces/sdk-PartNs-7884/eventChannels/sdk-EvtChnl-5806\",\r\n  \"name\": \"sdk-EvtChnl-5806\",\r\n  \"type\": \"Microsoft.EventGrid/partnerNamespaces/eventChannels\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerNamespaces/sdk-PartNs-7884/eventChannels?api-version=2020-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11970"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"source\": {\r\n          \"source\": \"Accounts.User.4225e794-b938-422b-8e00-34f5a91bad37\"\r\n        },\r\n        \"destination\": {\r\n          \"azureSubscriptionId\": \"5b4b650e-28b9-4790-b3ab-ddbd88d727c4\",\r\n          \"resourceGroup\": \"sdk-EventGrid-RG-9979\",\r\n          \"partnerTopicName\": \"sdk-PartTop-1413\"\r\n        },\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerNamespaces/sdk-PartNs-7884/eventChannels/sdk-EvtChnl-5806\",\r\n      \"name\": \"sdk-EvtChnl-5806\",\r\n      \"type\": \"Microsoft.EventGrid/partnerNamespaces/eventChannels\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerTopics/sdk-PartTop-1413?api-version=2020-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11969"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Accounts.User.4225e794-b938-422b-8e00-34f5a91bad37\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"activationState\": \"NeverActivated\"\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerTopics/sdk-PartTop-1413\",\r\n  \"name\": \"sdk-PartTop-1413\",\r\n  \"type\": \"Microsoft.EventGrid/partnerTopics\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerTopics?api-version=2020-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11967"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"source\": \"Accounts.User.4225e794-b938-422b-8e00-34f5a91bad37\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"activationState\": \"NeverActivated\"\r\n      },\r\n      \"location\": \"centraluseuap\",\r\n      \"tags\": null,\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerTopics/sdk-PartTop-1413\",\r\n      \"name\": \"sdk-PartTop-1413\",\r\n      \"type\": \"Microsoft.EventGrid/partnerTopics\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerTopics?api-version=2020-04-01-preview&$top=5",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11966"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"source\": \"Accounts.User.4225e794-b938-422b-8e00-34f5a91bad37\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"activationState\": \"NeverActivated\"\r\n      },\r\n      \"location\": \"centraluseuap\",\r\n      \"tags\": null,\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerTopics/sdk-PartTop-1413\",\r\n      \"name\": \"sdk-PartTop-1413\",\r\n      \"type\": \"Microsoft.EventGrid/partnerTopics\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/partnerTopics?api-version=2020-04-01-preview&$top=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "0364b495-42e6-4d87-b6f1-ab6204e79cc3",
          "5febe87f-c37a-444b-a337-4c2ea41643c1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerTopics/sdk-PartTop-1413/eventSubscriptions/sdk-EventSubscription-463?api-version=2020-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"destination\": {\r\n      \"endpointType\": \"StorageQueue\",\r\n      \"properties\": {\r\n        \"resourceId\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/DevExpRg/providers/Microsoft.Storage/storageAccounts/devexpstg\",\r\n        \"queueName\": \"queue1\"\r\n      }\r\n    },\r\n    \"filter\": {\r\n      \"subjectBeginsWith\": \"TestPrefix\",\r\n      \"subjectEndsWith\": \"TestSuffix\",\r\n      \"isSubjectCaseSensitive\": true\r\n    },\r\n    \"labels\": [\r\n      \"TestLabel1\",\r\n      \"TestLabel2\"\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/50D5ED43-ADB8-496F-9957-151F62891BB2?api-version=2020-04-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"topic\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerTopics/sdk-PartTop-1413\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"destination\": {\r\n      \"properties\": {\r\n        \"resourceId\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/DevExpRg/providers/Microsoft.Storage/storageAccounts/devexpstg\",\r\n        \"queueName\": \"queue1\"\r\n      },\r\n      \"endpointType\": \"StorageQueue\"\r\n    },\r\n    \"filter\": {\r\n      \"subjectBeginsWith\": \"TestPrefix\",\r\n      \"subjectEndsWith\": \"TestSuffix\",\r\n      \"isSubjectCaseSensitive\": true\r\n    },\r\n    \"labels\": [\r\n      \"TestLabel1\",\r\n      \"TestLabel2\"\r\n    ],\r\n    \"retryPolicy\": {\r\n      \"maxDeliveryAttempts\": 30,\r\n      \"eventTimeToLiveInMinutes\": 1440\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerTopics/sdk-PartTop-1413/eventSubscriptions/sdk-EventSubscription-463\",\r\n  \"name\": \"sdk-EventSubscription-463\",\r\n  \"type\": \"Microsoft.EventGrid/systemTopics/eventSubscriptions\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerTopics/sdk-PartTop-1413/eventSubscriptions/sdk-EventSubscription-463?api-version=2020-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11963"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"topic\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-eventgrid-rg-9979/providers/microsoft.eventgrid/partnertopics/sdk-parttop-1413\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"destination\": {\r\n      \"properties\": {\r\n        \"resourceId\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/DevExpRg/providers/Microsoft.Storage/storageAccounts/devexpstg\",\r\n        \"queueName\": \"queue1\"\r\n      },\r\n      \"endpointType\": \"StorageQueue\"\r\n    },\r\n    \"filter\": {\r\n      \"subjectBeginsWith\": \"TestPrefix\",\r\n      \"subjectEndsWith\": \"TestSuffix\",\r\n      \"isSubjectCaseSensitive\": true\r\n    },\r\n    \"labels\": [\r\n      \"TestLabel1\",\r\n      \"TestLabel2\"\r\n    ],\r\n    \"eventDeliverySchema\": \"CloudEventSchemaV1_0\",\r\n    \"retryPolicy\": {\r\n      \"maxDeliveryAttempts\": 30,\r\n      \"eventTimeToLiveInMinutes\": 1440\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerTopics/sdk-PartTop-1413/eventSubscriptions/sdk-EventSubscription-463\",\r\n  \"name\": \"sdk-EventSubscription-463\",\r\n  \"type\": \"Microsoft.EventGrid/partnerTopics/eventSubscriptions\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-9979/providers/Microsoft.EventGrid/partnerTopics/sdk-PartTop-1413/eventSubscriptions/sdk-EventSubscription-463?api-version=2020-04-01-preview",
      "RequestMethod": "GET",
[...]
