{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.EventGrid/topicTypes?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidResourceType\",\r\n    \"message\": \"The resource type 'topicTypes' could not be found in the namespace 'Microsoft.EventGrid' for api version '2021-06-01-preview'. The supported api-versions are '2017-06-15-preview,2017-09-15-preview,2018-01-01,2018-05-01-preview,2018-09-15-preview,2019-01-01,2019-02-01-preview,2019-06-01,2020-01-01-preview,2020-04-01-preview,2020-06-01,2020-10-15-preview'.\"\r\n  }\r\n}",
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "5b4b650e-28b9-4790-b3ab-ddbd88d727c4"
  }
}