{
  "Entries": [
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/DefaultResourceGroup-EUS\",\r\n      \"name\": \"DefaultResourceGroup-EUS\",\r\n      \"location\": \"eastus\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/cloud-shell-storage-westus\",\r\n      \"name\": \"cloud-shell-storage-westus\",\r\n      \"location\": \"westus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/partnersRg\",\r\n      \"name\": \"partnersRg\",\r\n      \"lo[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups/sdk-EventGrid-RG-8001?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centraluseuap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-8001\",\r\n  \"name\": \"sdk-EventGrid-RG-8001\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-8001/providers/Microsoft.EventGrid/topics/sdk-Topic-931?api-version=2021-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"inputSchema\": \"CustomEventSchema\",\r\n    \"inputSchemaMapping\": {\r\n      \"inputSchemaMappingType\": \"Json\",\r\n      \"properties\": {\r\n        \"id\": {\r\n          \"sourceField\": \"MyIDFIELD\"\r\n        },\r\n        \"topic\": {\r\n          \"sourceField\": \"myTopicField\"\r\n        },\r\n        \"eventTime\": {\r\n          \"sourceField\": \"MyEventTimeField\"\r\n        },\r\n        \"eventType\": {\r\n          \"sourceField\": \"MyEventTypeField\"\r\n        },\r\n        \"subject\": {\r\n          \"sourceField\": \"mySubjectField\"\r\n        },\r\n        \"dataVersion\": {\r\n          \"defaultValue\": \"2\"\r\n        }\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"originalTag1\": \"originalValue1\",\r\n    \"originalTag2\": \"originalValue2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/1AAC0D4B-C1ED-421B-9458-DE29E5A6CB54?api-version=2021-12-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"endpoint\": null,\r\n    \"inputSchema\": \"CustomEventSchema\",\r\n    \"inputSchemaMapping\": {\r\n      \"properties\": {\r\n        \"id\": {\r\n          \"sourceField\": \"MyIDFIELD\"\r\n        },\r\n        \"topic\": {\r\n          \"sourceField\": \"myTopicField\"\r\n        },\r\n        \"eventTime\": {\r\n          \"sourceField\": \"MyEventTimeField\"\r\n        },\r\n        \"eventType\": {\r\n          \"sourceField\": \"MyEventTypeField\",\r\n          \"defaultValue\": null\r\n        },\r\n        \"subject\": {\r\n          \"sourceField\": \"mySubjectField\",\r\n          \"defaultValue\": null\r\n        },\r\n        \"dataVersion\": {\r\n          \"sourceField\": null,\r\n          \"defaultValue\": \"2\"\r\n        }\r\n      },\r\n      \"inputSchemaMappingType\": \"Json\"\r\n    }\r\n  },\r\n  \"systemData\": null,\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"originalTag1\": \"originalValue1\",\r\n    \"originalTag2\": \"originalValue2\"\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-8001/providers/Microsoft.EventGrid/topics/sdk-Topic-931\",\r\n  \"name\": \"sdk-Topic-931\",\r\n  \"type\": \"Microsoft.EventGrid/topics\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-8001/providers/Microsoft.EventGrid/topics/sdk-Topic-931?api-version=2021-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"inputSchema\": \"CustomEventSchema\",\r\n    \"inputSchemaMapping\": {\r\n      \"inputSchemaMappingType\": \"Json\",\r\n      \"properties\": {\r\n        \"id\": {\r\n          \"sourceField\": \"MyIDFIELD\"\r\n        },\r\n        \"topic\": {\r\n          \"sourceField\": \"myTopicField\"\r\n        },\r\n        \"eventTime\": {\r\n          \"sourceField\": \"MyEventTimeField\"\r\n        },\r\n        \"eventType\": {\r\n          \"sourceField\": \"MyEventTypeField\"\r\n        },\r\n        \"subject\": {\r\n          \"sourceField\": \"mySubjectField\"\r\n        },\r\n        \"dataVersion\": {\r\n          \"defaultValue\": \"2\"\r\n        }\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"replacedTag1\": \"replacedValue1\",\r\n    \"replacedTag2\": \"replacedValue2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/A2963430-C134-47BA-88EF-1ABDAB846889?api-version=2021-12-01"
        ],
 [...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-8001/providers/Microsoft.EventGrid/topics/sdk-Topic-931?api-version=2021-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"inputSchema\": \"CustomEventSchema\",\r\n    \"inputSchemaMapping\": {\r\n      \"inputSchemaMappingType\": \"Json\",\r\n      \"properties\": {\r\n        \"id\": {\r\n          \"sourceField\": \"MyIDFIELD\"\r\n        },\r\n        \"topic\": {\r\n          \"sourceField\": \"myTopicField\"\r\n        },\r\n        \"eventTime\": {\r\n          \"sourceField\": \"MyEventTimeField\"\r\n        },\r\n        \"eventType\": {\r\n          \"sourceField\": \"MyEventTypeField\"\r\n        },\r\n        \"subject\": {\r\n          \"sourceField\": \"mySubjectField\"\r\n        },\r\n        \"dataVersion\": {\r\n          \"defaultValue\": \"2\"\r\n        }\r\n      }\r\n    },\r\n    \"publicNetworkAccess\": \"Disabled\",\r\n    \"inboundIpRules\": [\r\n      {\r\n        \"ipMask\": \"12.35.67.98\",\r\n        \"action\": \"Allow\"\r\n      },\r\n      {\r\n        \"ipMask\": \"12.35.90.100\",\r\n        \"action\": \"Allow\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"replacedTag1\": \"replacedValue1\",\r\n    \"replacedTag2\": \"replacedValue2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azur[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/1AAC0D4B-C1ED-421B-9458-DE29E5A6CB54?api-version=2021-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/1AAC0D4B-C1ED-421B-9458-DE29E5A6CB54?api-version=2021-12-01\",\r\n  \"name\": \"1aac0d4b-c1ed-421b-9458-de29e5a6cb54\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-8001/providers/Microsoft.EventGrid/topics/sdk-Topic-931?api-version=2021-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"endpoint\": \"https://sdk-topic-931.centraluseuap-1.eventgrid.azure.net/api/events\",\r\n    \"inputSchema\": \"CustomEventSchema\",\r\n    \"inputSchemaMapping\": {\r\n      \"properties\": {\r\n        \"id\": {\r\n          \"sourceField\": \"MyIDFIELD\"\r\n        },\r\n        \"topic\": {\r\n          \"sourceField\": \"myTopicField\"\r\n        },\r\n        \"eventTime\": {\r\n          \"sourceField\": \"MyEventTimeField\"\r\n        },\r\n        \"eventType\": {\r\n          \"sourceField\": \"MyEventTypeField\",\r\n          \"defaultValue\": null\r\n        },\r\n        \"subject\": {\r\n          \"sourceField\": \"mySubjectField\",\r\n          \"defaultValue\": null\r\n        },\r\n        \"dataVersion\": {\r\n          \"sourceField\": null,\r\n          \"defaultValue\": \"2\"\r\n        }\r\n      },\r\n      \"inputSchemaMappingType\": \"Json\"\r\n    },\r\n    \"metricResourceId\": \"315d2ea2-9c68-4257-8a22-37c3053a4f9a\",\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"systemData\": null,\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"originalTag1\": \"originalValue1\",\r\n    \"originalTag2\": \"originalValue2\"\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-8001/providers/Microsoft.EventGrid/topics/sdk-Topic-931\",\r\n  \"name\": \"sdk-Topic-931\",\r\n  \"type\": \"Microsoft.EventGrid/topics\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-8001/providers/Microsoft.EventGrid/topics?api-version=2021-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  [...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-8001/providers/Microsoft.EventGrid/topics?api-version=2021-12-01&$top=5",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/topics?api-version=2021-12-01&$top=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "cdfdef0d-a6d8-4f0b-92f1-1aa6badc7881",
          "4debb8bd-fec5-41b5-85f7-1c56669da3ed",
          "5a9ddb75-dd41-49c0-9661-13b98f7e3e07",
          "f72b9fc2-1877-4dc0-95c5-a832ddd06c79",
          "002c1dab-44e1-465e-b541-6772b386ecb2",
          "b3eeaf57-2523-445a-b5a6-381a86b709a1",
          "c2b4214d-9536-441a-b7ae-3b60cd317b51",
          "d79edddb-2538-45cf-a8d4-f6d69cd177f4",
          "a3ed21c1-8ba0-417d-855d-a54b56e722fc",
          "fafd4c53-c64c-4363-afef-d45b0776427a[...]
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-8001/providers/Microsoft.EventGrid/topics/sdk-Topic-931?api-version=2021-12-01",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"tags\": {\r\n    \"updatedTag1\": \"updatedValue1\",\r\n    \"updatedTag2\": \"updatedValue2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/63C1975C-D263-458A-805C-A819916CAB17?api-version=2021-12-01"
        ],
  [...]
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-8001/providers/Microsoft.EventGrid/topics/sdk-Topic-931?api-version=2021-12-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationResults/27B7FFF7-0EC0-4AD4-8799-65B5C28B4B48?api-version=2021-12-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/27B7FFF7-0EC0-4AD4-8799-65B5C28B4B48?api-version=2021-12-01"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationResults/27B7FFF7-0EC0-4AD4-8799-65B5C28B4B48?api-version=2021-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11985"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "TopicCreateGetUpdateDelete": [
      "sdk-EventGrid-RG-8001",
      "sdk-Topic-931"
    ]
  },
  "Variables": {
    "SubscriptionId": "5b4b650e-28b9-4790-b3ab-ddbd88d727c4"
  }
}