{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "timeSeriesIds": [
            [
              "fHnQm",
              "O1beU",
              "kC3n3"
            ]
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "error": {
              "code": "ResourceNotFound",
              "message": "Time series instance with time series ID \u0027[\u0022fHnQm\u0022,\u0022O1beU\u0022,\u0022kC3n3\u0022]\u0027 is not found.",
              "innerError": {
                "code": "InstanceNotFound"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "put": [
          {
            "timeSeriesId": [
              "fHnQm",
              "O1beU",
              "kC3n3"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393"
          },
          {
            "timeSeriesId": [
              "VyVaV",
              "evfzj",
              "HnE6u"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "put": [
          {},
          {}
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "timeSeriesIds": [
            [
              "fHnQm",
              "O1beU",
              "kC3n3"
            ],
            [
              "VyVaV",
              "evfzj",
              "HnE6u"
            ]
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "instance": {
              "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
              "timeSeriesId": [
                "fHnQm",
                "O1beU",
                "kC3n3"
              ]
            }
          },
          {
            "instance": {
              "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
              "timeSeriesId": [
                "VyVaV",
                "evfzj",
                "HnE6u"
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "update": [
          {
            "timeSeriesId": [
              "fHnQm",
              "O1beU",
              "kC3n3"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "name": "instance88xCXHgq"
          },
          {
            "timeSeriesId": [
              "VyVaV",
              "evfzj",
              "HnE6u"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "name": "instance70GwngvI"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "update": [
          {},
          {}
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "names": [
            "instance88xCXHgq",
            "instance70GwngvI"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "instance": {
              "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
              "timeSeriesId": [
                "fHnQm",
                "O1beU",
                "kC3n3"
              ],
              "name": "instance88xCXHgq"
            }
          },
          {
            "instance": {
              "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
              "timeSeriesId": [
                "VyVaV",
                "evfzj",
                "HnE6u"
              ],
              "name": "instance70GwngvI"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "instances": [
          {
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "timeSeriesId": [
              null,
              null,
              null
            ]
          },
          {
            "typeId": "7b842385-0888-49d7-ba15-0c314f5b4a76",
            "timeSeriesId": [
              "100",
              "11",
              "12"
            ],
            "name": "100, 11, 12",
            "description": "Building 100, floor 11, room 12",
            "hierarchyIds": [
              "a2d2756c-47a5-4f53-9521-8ce7c4788c03"
            ],
            "instanceFields": {
              "Country": "Canada",
              "Building": "100",
              "Floor": "11",
              "Room": "12"
            }
          },
          {
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "timeSeriesId": [
              "101",
              "13",
              "3"
            ],
            "hierarchyIds": [
              "a2d2756c-47a5-4f53-9521-8ce7c4788c03"
            ],
            "instanceFields": {
              "Country": "Canada",
              "Building": "101",
              "Floor": "13",
              "Room": "3"
            }
          },
         [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-continuation": "aXsic2tpcCI6MTAwMCwidGFrZSI6MTAwMCwicmVxdWVzdEhhc2hDb2RlIjoxOTQ3MjUzNzgyLCJlbnZpcm9ubWVudElkIjoiZTYyMTY4NGEtZmMwNi00M2RiLTg1YTQtMjkxNjBjMjZmMmQ1In0="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "instances": []
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/suggest?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "searchString": "fHn"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "suggestions": [
          {
            "searchString": "fHnQm",
            "highlightedSearchString": "\u003Chit\u003EfHn\u003C/hit\u003EQm"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "delete": {
          "timeSeriesIds": [
            [
              "fHnQm",
              "O1beU",
              "kC3n3"
            ],
            [
              "VyVaV",
              "evfzj",
              "HnE6u"
            ]
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "delete": [
          null,
          null
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1947845832",
    "TIMESERIESINSIGHTS_URL": "fakeHost.api.wus2.timeseriesinsights.azure.com"
  }
}