{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "timeSeriesIds": [
            [
              "LNORp6iX",
              "54P0xclA",
              "gPzKxdwx"
            ]
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "error": {
              "code": "ResourceNotFound",
              "message": "Time series instance with time series ID \u0027[\u0022LNORp6iX\u0022,\u002254P0xclA\u0022,\u0022gPzKxdwx\u0022]\u0027 is not found.",
              "innerError": {
                "code": "InstanceNotFound"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "put": [
          {
            "timeSeriesId": [
              "LNORp6iX",
              "54P0xclA",
              "gPzKxdwx"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393"
          },
          {
            "timeSeriesId": [
              "qheMge2C",
              "m34SHqks",
              "abjZhyS5"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "put": [
          {},
          {}
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "timeSeriesIds": [
            [
              "LNORp6iX",
              "54P0xclA",
              "gPzKxdwx"
            ],
            [
              "qheMge2C",
              "m34SHqks",
              "abjZhyS5"
            ]
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "instance": {
              "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
              "timeSeriesId": [
                "LNORp6iX",
                "54P0xclA",
                "gPzKxdwx"
              ]
            }
          },
          {
            "instance": {
              "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
              "timeSeriesId": [
                "qheMge2C",
                "m34SHqks",
                "abjZhyS5"
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "update": [
          {
            "timeSeriesId": [
              "LNORp6iX",
              "54P0xclA",
              "gPzKxdwx"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "name": "instanceKVBLrHzR"
          },
          {
            "timeSeriesId": [
              "qheMge2C",
              "m34SHqks",
              "abjZhyS5"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "name": "instance5WMMkVA4"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "update": [
          {},
          {}
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "names": [
            "instanceKVBLrHzR",
            "instance5WMMkVA4"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "instance": {
              "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
              "timeSeriesId": [
                "LNORp6iX",
                "54P0xclA",
                "gPzKxdwx"
              ],
              "name": "instanceKVBLrHzR"
            }
          },
          {
            "instance": {
              "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
              "timeSeriesId": [
                "qheMge2C",
                "m34SHqks",
                "abjZhyS5"
              ],
              "name": "instance5WMMkVA4"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "instances": [
          {
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "timeSeriesId": [
              "0DkQOudp",
              "U7zOsJle",
              "kDf82GEi"
            ]
          },
          {
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "timeSeriesId": [
              "3d0upowl",
              "3Wa66uQe",
              "g6VSSlf9"
            ]
          },
          {
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
       [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-continuation": "aXsic2tpcCI6MTAwMCwidGFrZSI6MTAwMCwicmVxdWVzdEhhc2hDb2RlIjoxOTQ3MjUzNzgyLCJlbnZpcm9ubWVudElkIjoiYWU5ODljZDQtNmRlMy00MWY4LWIwNzYtYjkxNThiY2YxZjFkIn0="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "instances": []
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/suggest?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "searchString": "LNO"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "suggestions": [
          {
            "searchString": "LNORp6iX",
            "highlightedSearchString": "\u003Chit\u003ELNO\u003C/hit\u003ERp6iX"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "delete": {
          "timeSeriesIds": [
            [
              "LNORp6iX",
              "54P0xclA",
              "gPzKxdwx"
            ],
            [
              "qheMge2C",
              "m34SHqks",
              "abjZhyS5"
            ]
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "delete": [
          null,
          null
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "883416027",
    "TIMESERIESINSIGHTS_URL": "fakeHost.api.wus2.timeseriesinsights.azure.com"
  }
}