{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "timeSeriesIds": [
            [
              "ZxGatc2A",
              "cYjVW5hm",
              "zO49NECW"
            ]
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "error": {
              "code": "ResourceNotFound",
              "message": "Time series instance with time series ID \u0027[\u0022ZxGatc2A\u0022,\u0022cYjVW5hm\u0022,\u0022zO49NECW\u0022]\u0027 is not found.",
              "innerError": {
                "code": "InstanceNotFound"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "put": [
          {
            "timeSeriesId": [
              "ZxGatc2A",
              "cYjVW5hm",
              "zO49NECW"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393"
          },
          {
            "timeSeriesId": [
              "QFdW0I0y",
              "9pLI0aRV",
              "vuD2OzEV"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "put": [
          {},
          {}
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "timeSeriesIds": [
            [
              "ZxGatc2A",
              "cYjVW5hm",
              "zO49NECW"
            ],
            [
              "QFdW0I0y",
              "9pLI0aRV",
              "vuD2OzEV"
            ]
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "instance": {
              "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
              "timeSeriesId": [
                "ZxGatc2A",
                "cYjVW5hm",
                "zO49NECW"
              ]
            }
          },
          {
            "instance": {
              "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
              "timeSeriesId": [
                "QFdW0I0y",
                "9pLI0aRV",
                "vuD2OzEV"
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "update": [
          {
            "timeSeriesId": [
              "ZxGatc2A",
              "cYjVW5hm",
              "zO49NECW"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "name": "instanceOz3yvzaB"
          },
          {
            "timeSeriesId": [
              "QFdW0I0y",
              "9pLI0aRV",
              "vuD2OzEV"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "name": "instancewIY0oDHW"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "update": [
          {},
          {}
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "names": [
            "instanceOz3yvzaB",
            "instancewIY0oDHW"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "instance": {
              "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
              "timeSeriesId": [
                "ZxGatc2A",
                "cYjVW5hm",
                "zO49NECW"
              ],
              "name": "instanceOz3yvzaB"
            }
          },
          {
            "instance": {
              "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
              "timeSeriesId": [
                "QFdW0I0y",
                "9pLI0aRV",
                "vuD2OzEV"
              ],
              "name": "instancewIY0oDHW"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "instances": [
          {
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "timeSeriesId": [
              "4wzf4b92",
              "JuySZgMR",
              "9SNC9aLM"
            ]
          },
          {
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "timeSeriesId": [
              "5DhMbTV4",
              "x7CeLsyT",
              "VmOgzQZO"
            ]
          },
          {
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
       [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-continuation": "aXsic2tpcCI6MTAwMCwidGFrZSI6MTAwMCwicmVxdWVzdEhhc2hDb2RlIjoxOTQ3MjUzNzgyLCJlbnZpcm9ubWVudElkIjoiN2RhNWU1NjQtMTI3NS00YjQwLWI1ZWMtZGZmZjBmMGExMWFhIn0="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "instances": []
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/suggest?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "searchString": "ZxG"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "suggestions": [
          {
            "searchString": "ZxGatc2A",
            "highlightedSearchString": "\u003Chit\u003EZxG\u003C/hit\u003Eatc2A"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "delete": {
          "timeSeriesIds": [
            [
              "ZxGatc2A",
              "cYjVW5hm",
              "zO49NECW"
            ],
            [
              "QFdW0I0y",
              "9pLI0aRV",
              "vuD2OzEV"
            ]
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "delete": [
          null,
          null
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "134609761",
    "TIMESERIESINSIGHTS_URL": "fakeHost.api.wus2.timeseriesinsights.azure.com"
  }
}