{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "timeSeriesIds": [
            [
              "197Vczz6",
              "kGW1mmY9",
              "XgjczZC4"
            ]
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "instance": {
              "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
              "timeSeriesId": [
                "197Vczz6",
                "kGW1mmY9",
                "XgjczZC4"
              ],
              "name": "instance354sVNgp"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "timeSeriesIds": [
            [
              "GtEzy22E",
              "ggcjSR0X",
              "VPJrLpCW"
            ]
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "error": {
              "code": "ResourceNotFound",
              "message": "Time series instance with time series ID \u0027[\u0022GtEzy22E\u0022,\u0022ggcjSR0X\u0022,\u0022VPJrLpCW\u0022]\u0027 is not found.",
              "innerError": {
                "code": "InstanceNotFound"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "put": [
          {
            "timeSeriesId": [
              "GtEzy22E",
              "ggcjSR0X",
              "VPJrLpCW"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393"
          },
          {
            "timeSeriesId": [
              "L9IFgxu6",
              "bRGhLc4a",
              "qsIbZt9g"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "put": [
          {},
          {}
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "update": [
          {
            "timeSeriesId": [
              "GtEzy22E",
              "ggcjSR0X",
              "VPJrLpCW"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "name": "instance3Oy3CMmu"
          },
          {
            "timeSeriesId": [
              "L9IFgxu6",
              "bRGhLc4a",
              "qsIbZt9g"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "name": "instanceYQV2HYBn"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "update": [
          {},
          {}
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "names": [
            "instance3Oy3CMmu",
            "instanceYQV2HYBn"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "instance": {
              "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
              "timeSeriesId": [
                "GtEzy22E",
                "ggcjSR0X",
                "VPJrLpCW"
              ],
              "name": "instance3Oy3CMmu"
            }
          },
          {
            "instance": {
              "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
              "timeSeriesId": [
                "L9IFgxu6",
                "bRGhLc4a",
                "qsIbZt9g"
              ],
              "name": "instanceYQV2HYBn"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "instances": [
          {
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "timeSeriesId": [
              null,
              null,
              null
            ]
          },
          {
            "typeId": "7b842385-0888-49d7-ba15-0c314f5b4a76",
            "timeSeriesId": [
              "100",
              "11",
              "12"
            ],
            "name": "100, 11, 12",
            "description": "Building 100, floor 11, room 12",
            "hierarchyIds": [
              "a2d2756c-47a5-4f53-9521-8ce7c4788c03"
            ],
            "instanceFields": {
              "Country": "Canada",
              "Building": "100",
              "Floor": "11",
              "Room": "12"
            }
          },
          {
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "timeSeriesId": [
              "101",
              "13",
              "3"
            ],
            "hierarchyIds": [
              "a2d2756c-47a5-4f53-9521-8ce7c4788c03"
            ],
            "instanceFields": {
              "Country": "Canada",
              "Building": "101",
              "Floor": "13",
              "Room": "3"
            }
          },
         [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-continuation": "aXsic2tpcCI6MTAwMCwidGFrZSI6MTAwMCwicmVxdWVzdEhhc2hDb2RlIjoxOTQ3MjUzNzgyLCJlbnZpcm9ubWVudElkIjoiZTYyMTY4NGEtZmMwNi00M2RiLTg1YTQtMjkxNjBjMjZmMmQ1In0="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "instances": []
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/suggest?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "searchString": "GtE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "suggestions": [
          {
            "searchString": "GtEzy22E",
            "highlightedSearchString": "\u003Chit\u003EGtE\u003C/hit\u003Ezy22E"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "delete": {
          "timeSeriesIds": [
            [
              "GtEzy22E",
              "ggcjSR0X",
              "VPJrLpCW"
            ],
            [
              "L9IFgxu6",
              "bRGhLc4a",
              "qsIbZt9g"
            ]
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "delete": [
          null,
          null
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1188087842",
    "TIMESERIESINSIGHTS_URL": "fakeHost.api.wus2.timeseriesinsights.azure.com"
  }
}