{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2022-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 31 Aug 2022 17:02:45 GMT"
      },
      "RequestBody": {
        "createTokenWithScopes": [
          "chat"
        ],
        "expiresInMinutes": 59
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01",
        "Content-Type": "application/json",
        "MS-CV": "7ds74vRN/UOKZRKQhWZxjg.0",
        "X-Processing-Time": "36ms"
      },
      "ResponseBody": {
        "error": {
          "code": "ValidationError",
          "message": "ExpiresInMinutes value 59 is invalid.",
          "target": "ExpiresInMinutes"
        }
      }
    }
  ],
    "Variables": {
        "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
        "RandomSeed": "858786419"
    }
}
