{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2022-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Sep 2022 10:40:12 GMT"
      },
      "RequestBody": {
        "createTokenWithScopes": [
          "chat"
        ],
        "expiresInMinutes": 1440
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "k1su7BiPYkqOVAgvILvqHQ.0",
        "X-Processing-Time": "41ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        },
        "accessToken": {
          "token": "Sanitized",
          "expiresOn": "2022-09-06T10:40:13.1321066\u002B00:00"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "456446347"
  }
}
