{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2022-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Sep 2022 10:40:03 GMT"
      },
      "RequestBody": {
        "createTokenWithScopes": [
          "chat"
        ],
        "expiresInMinutes": 59
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01",
        "Content-Type": "application/json",
        "MS-CV": "XI2SL8jamUWfEddO\u002BKOPhA.0",
        "X-Processing-Time": "35ms"
      },
      "ResponseBody": {
        "error": {
          "code": "ValidationError",
          "message": "ExpiresInMinutes value 59 is invalid.",
          "target": "ExpiresInMinutes"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1516670574"
  }
}
