{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2022-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 09 Jan 2023 17:55:58 GMT"
      },
      "RequestBody": {
        "createTokenWithScopes": [
          "chat"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "n7bcZi5vpEiJ7dP0RhDxQA.2.0",
        "X-Processing-Time": "132ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        },
        "accessToken": {
          "token": "Sanitized",
          "expiresOn": "2023-01-10T17:56:00.7844833\u002B00:00"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1732440059"
  }
}
