{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/teamsUser/:exchangeAccessToken?api-version=2021-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Oct 2021 12:24:24 GMT"
      },
      "RequestBody": {
        "token": "Sanitized"
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "MS-CV": "hV5OtpP7oE6xv9KtaLq4ng.0",
        "X-Processing-Time": "21ms"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidAccessToken",
          "message": "Provided access token is not valid."
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "755394592"
  }
}