{
  "Entries": [
    {
      "RequestUri": "https://sdktest-communication.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2021-03-31-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "token": "Sanitized"
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "MS-CV": "E\u002BoW\u002BRJvZUiZSr9ICqHp4w.0",
        "X-Processing-Time": "4ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sdktest-communication.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1865715413"
  }
}