{
  "Entries": [
    {
      "RequestUri": "https://lakshmanscommunication-communication.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2021-03-31-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "token": "Sanitized"
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "MS-CV": "Romi6\u002B2XNkO6esGNu0KeFA.0",
        "X-Processing-Time": "5ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://lakshmanscommunication-communication.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "174075357"
  }
}