{
  "Entries": [
    {
      "RequestUri": "https://sdktest-communication.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2021-03-31-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "token": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "di8dDsot3ESrpmg2tKlrJg.0",
        "X-Processing-Time": "434ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-05-28T02:19:04.5009679\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sdktest-communication.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "968777057"
  }
}