{
  "Entries": [
    {
      "RequestUri": "https://sdktest-communication.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2021-03-31-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 28 May 2021 18:52:11 GMT"
      },
      "RequestBody": {
        "token": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "pmrTE5dZrUi8RE/knkxWVQ.0",
        "X-Processing-Time": "600ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-05-29T18:52:10.2904648\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sdktest-communication.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1685364189"
  }
}
