{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2021-03-31-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 21:17:23 GMT"
      },
      "RequestBody": {
        "token": "Sanitized"
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "MS-CV": "KoLzTt4KFkmAyGMsNhobIw.0",
        "X-Processing-Time": "3ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "174075357"
  }
}