{
  "Entries": [
    {
      "RequestUri": "https://sdktest-communication.communication.azure.com/identities?api-version=2021-03-31-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "PR7BppGzLUCrnVw2\u002BwAbtw.0",
        "X-Processing-Time": "65ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:b5006058-9a48-4a02-a333-11c443e69e12_0000000a-5433-7c66-51b9-a43a0d0067cb"
        }
      }
    },
    {
      "RequestUri": "https://sdktest-communication.communication.azure.com/identities/8%3Aacs%3Ab5006058-9a48-4a02-a333-11c443e69e12_0000000a-5433-7c66-51b9-a43a0d0067cb/:issueAccessToken?api-version=2021-03-31-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "scopes": [
          "chat",
          "voip"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "mR8d9mRJbUSGaeAqo0QsLA.0",
        "X-Processing-Time": "148ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-05-29T18:52:12.5539471\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sdktest-communication.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1882728583"
  }
}