{
  "Entries": [
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/identities?api-version=2021-02-22-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ro17n8j8KEyUVdobCeSW8w.0",
        "X-Processing-Time": "17ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffc9-ac09-ac00-343a0d007425"
        }
      }
    },
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/turn/8%3Aacs%3A207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffc9-ac09-ac00-343a0d007425/:issueCredentials?api-version=2021-02-22-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "78S60V/mz0KCH8bBJJu1bA.0",
        "X-Processing-Time": "99ms"
      },
      "ResponseBody": {
        "expiresOn": "2021-03-23T16:25:45.4249573\u002B00:00",
        "turnServers": [
          {
            "urls": [
              "turn:worldaz.turn.skype.com:3478"
            ],
            "username": "BQAANoHoRJUB1yGTV6J9ENTZHTnundyzNpTkKUxmYi8AAAAEARAgfVy0ivxCy6JvdK0zcxPxd9L1szCPXvOwZPoes4ibw\u002BNeRns=",
            "credential": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://avinpsdklivetestacs03222021-communication.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1889456111"
  }
}