{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2022-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 31 Aug 2022 17:02:55 GMT"
      },
      "RequestBody": {
        "token": "Sanitized",
        "appId": "",
        "userId": "Sanitized"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "MS-CV": "ZeO2DIayR0S\u002Bi2eV3ewIsw.0",
        "X-Processing-Time": "43ms"
      },
      "ResponseBody": {
        "error": {
          "code": "ValidationError",
          "message": "AppId: The AppId field is required.",
          "target": "AppId"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1734881628"
  }
}
