{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2022-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 04 Aug 2022 06:50:49 GMT"
      },
      "RequestBody": {
        "token": "Sanitized",
        "appId": "Sanitized",
        "userId": "Sanitized"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-31-preview, 2022-06-01",
        "Content-Type": "application/json",
        "MS-CV": "OK3p2rcoc0GLwof4IOTFAg.0",
        "X-Processing-Time": "174ms"
      },
      "ResponseBody": {
        "error": {
          "code": "ValidationError",
          "message": "Provided AppId has invalid format.",
          "target": "appId"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "930816442"
  }
}
