{
  "Entries": [
    {
      "RequestUri": "https://chitchat-test.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "KDhtsvWkI0KEuCsjB5NJzQ.0",
        "X-Processing-Time": "10ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:cb58c3bb-a8ef-4e54-8c12-4a8e652eba58_00000008-57be-1376-6a0b-343a0d005886"
        }
      }
    },
    {
      "RequestUri": "https://chitchat-test.communication.azure.com/identities/8%3Aacs%3Acb58c3bb-a8ef-4e54-8c12-4a8e652eba58_00000008-57be-1376-6a0b-343a0d005886/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat",
          "voip"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "yiRYxLOn3kySYSDG\u002BCih8g.0",
        "X-Processing-Time": "26ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-02-20T01:16:52.0528301\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chitchat-test.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "584762309"
  }
}