{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2022-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 18 Apr 2022 12:00:37 GMT"
      },
      "RequestBody": {
        "token": "Sanitized",
        "appId": "Sanitized",
        "userId": "Sanitized"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-31-preview, 2022-06-01",
        "Content-Type": "application/json",
        "MS-CV": "vKnCXIe68kavdpYJnN9Mvw.0",
        "X-Processing-Time": "34ms"
      },
      "ResponseBody": {
        "error": {
          "code": "ValidationError",
          "message": "Provided UserId has invalid format.",
          "target": "userId"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "419754212"
  }
}
