{
  "Entries": [
    {
      "RequestUri": "https://test-petrsvihlik.ppe.communication.azure.net/identities?api-version=2021-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "9ndmvHMiC0CxqW3qo9yrng.0",
        "X-Processing-Time": "82ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000000d-1960-c745-83fe-084822000103"
        }
      }
    },
    {
      "RequestUri": "https://test-petrsvihlik.ppe.communication.azure.net/identities/8%3Aacs%3Aa5ba7870-ef05-4e2b-9901-7751faa29e20_0000000d-1960-c745-83fe-084822000103/:issueAccessToken?api-version=2021-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "scopes": [
          "chat",
          "voip"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "GIFo/XxWhUuL0vJXmVehtA.0",
        "X-Processing-Time": "89ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-10-14T11:52:29.0750907\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://test-petrsvihlik.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1882728583"
  }
}