{
  "Entries": [
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/identities?api-version=2021-02-22-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "IBsBqWzCjUeODqt7i32wSQ.0",
        "X-Processing-Time": "11ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffc9-afbc-ac00-343a0d007427"
        }
      }
    },
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/identities/8%3Aacs%3A207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffc9-afbc-ac00-343a0d007427/:issueAccessToken?api-version=2021-02-22-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "miMscGvN00\u002BTYHbovVG\u002Bww.0",
        "X-Processing-Time": "23ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-03-24T16:25:45.2256364\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://avinpsdklivetestacs03222021-communication.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "85396322"
  }
}