{
  "Entries": [
    {
      "RequestUri": "https://avinpcommunication-communication.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "bxyGHIKSzk6IE4PUgq9LXA.0",
        "X-Processing-Time": "9ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:baad9c59-2f35-44b0-b341-5c376bce0ed7_00000008-6bcb-96c4-e3c7-593a0d00f546"
        }
      }
    },
    {
      "RequestUri": "https://avinpcommunication-communication.communication.azure.com/turn/8%3Aacs%3Abaad9c59-2f35-44b0-b341-5c376bce0ed7_00000008-6bcb-96c4-e3c7-593a0d00f546/:issueCredentials?api-version=2021-12-12",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-12",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "tSlSIF8s30m/pANXCW7bBA.0",
        "X-Processing-Time": "50ms"
      },
      "ResponseBody": {
        "expiresOn": "2021-02-22T22:44:02.9738483\u002B00:00",
        "turnServers": [
          {
            "urls": "Sanitized",
            "username": "Sanitized",
            "credential": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://avinpcommunication-communication.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "393012784"
  }
}