{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/identities?api-version=2022-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 10 Feb 2022 14:47:23 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ZFDMP33k4UGjDMeW1CBORg.2.0",
        "X-Processing-Time": "91ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000f-83fc-1123-fa5d-573a0d00ddb7"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/identities/8%3Aacs%3Aac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000f-83fc-1123-fa5d-573a0d00ddb7/:issueAccessToken?api-version=2022-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 10 Feb 2022 14:47:24 GMT"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ROVQ1tUoqUuv0x0hGu6VpA.2.0",
        "X-Processing-Time": "161ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2022-02-11T14:47:24.7458844\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1315213946"
  }
}
