{
  "Entries": [
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/identities?api-version=2021-02-22-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "\u002BpAOwK6LYUWBJz4xFKh0aw.0",
        "X-Processing-Time": "11ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffc9-ad1b-1000-343a0d005732"
        }
      }
    },
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/turn/8%3Aacs%3A207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffc9-ad1b-1000-343a0d005732/:issueCredentials?api-version=2021-02-22-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "eCts7nU3WkCAH9IfMvHSwA.0",
        "X-Processing-Time": "157ms"
      },
      "ResponseBody": {
        "expiresOn": "2021-03-23T16:25:45.6851524\u002B00:00",
        "turnServers": [
          {
            "urls": [
              "turn:worldaz.turn.skype.com:3478"
            ],
            "username": "BQAANoIRIhMB1yGTROVvUCXtFTuE1RWYpff6zM5gSfEAAAAEARAgfVy0ivxCy6JvdK0zcxPxcLBoNSiAUhmqBsG2m940Wc/ZiRI=",
            "credential": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://avinpsdklivetestacs03222021-communication.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "393012784"
  }
}