{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2022-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Mar 2023 09:48:15 GMT"
      },
      "RequestBody": {
        "token": "Sanitized",
        "appId": "Sanitized",
        "userId": ""
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "MS-CV": "TPyYJ48D/UG7MxWR1aOUeA.0",
        "X-Processing-Time": "369ms"
      },
      "ResponseBody": {
        "error": {
          "code": "ValidationError",
          "message": "UserId: The UserId field is required.",
          "target": "UserId"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "325516576"
  }
}
