{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "4s3DrRDxwk\u002BV6nUXhpHMvg.0",
        "X-Processing-Time": "18ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3411-7b1b-1000-343a0d001890"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities/8%3Aacs%3Aac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3411-7b1b-1000-343a0d001890/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "UqkeviaJz0yZYPZuLNqjoQ.0",
        "X-Processing-Time": "30ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-02-13T03:01:38.3087574\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1680093306"
  }
}