{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/prebuilts",
      "RequestMethod": "POST",
      "RequestBody": "[\r\n  \"datetimeV2\"\r\n]",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"40419390-70e0-4a67-a700-fff014ce9d3d\",\r\n    \"name\": \"datetimeV2\",\r\n    \"typeId\": 2,\r\n    \"readableType\": \"Prebuilt Entity Extractor\",\r\n    \"roles\": []\r\n  }\r\n]",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/compositeentities",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"children\": [\r\n    \"datetimeV2\"\r\n  ],\r\n  \"name\": \"CompositeTest\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/compositeentities/f2c5b9b1-3ffb-4656-a67d-cb9cc55b3101"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/compositeentities/f2c5b9b1-3ffb-4656-a67d-cb9cc55b3101"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"f2c5b9b1-3ffb-4656-a67d-cb9cc55b3101\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/compositeentities/f2c5b9b1-3ffb-4656-a67d-cb9cc55b3101",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/prebuilts/40419390-70e0-4a67-a700-fff014ce9d3d",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}