{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/compositeentities",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"children\": [\r\n    \"datetime\"\r\n  ],\r\n  \"name\": \"CompositeTest\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "\"ffb7bf58-23f7-42c3-815a-51c5fca55e26\"",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://api.luis.ai/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/compositeentities/ffb7bf58-23f7-42c3-815a-51c5fca55e26"
        ],
        "Operation-Location": [
          "https://api.luis.ai/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/compositeentities/ffb7bf58-23f7-42c3-815a-51c5fca55e26"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/compositeentities/ffb7bf58-23f7-42c3-815a-51c5fca55e26",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"ffb7bf58-23f7-42c3-815a-51c5fca55e26\",\r\n  \"name\": \"CompositeTest\",\r\n  \"typeId\": 4,\r\n  \"readableType\": \"Composite Entity Extractor\",\r\n  \"children\": [\r\n    {\r\n      \"id\": \"e221132c-d612-4a6d-a7fe-769ebd8d6b00\",\r\n      \"name\": \"datetime\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/compositeentities/ffb7bf58-23f7-42c3-815a-51c5fca55e26",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}