{
  "Entries": [
    {
      "RequestUri": "https://aoa.westus2.mixedreality.azure.com/accounts/421ee486-93a8-431a-958b-d3f82a2e62e7/blobUploadEndpoint?api-version=0.3-preview.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-mrc-cv": "tiLacVx2pkeP\u002BwA9a5VwKA"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "JfvZwtly4EuiJJ3y\u002BKfxJw.0"
      },
      "ResponseBody": {
        "inputAssetUri": "https://aoacnrystorewu2.blob.core.windows.net/421ee486-93a8-431a-958b-d3f82a2e62e7/52acf278-f6bd-4202-b381-343f66b37651?sv=2018-03-28\u0026sr=b\u0026sig=yPI40SMIx2AR7SqeYYbUk0g0H%2F3hSFcYXHjPDIyods8%3D\u0026se=2022-04-27T02%3A43%3A56Z\u0026sp=cw"
      }
    },
    {
      "RequestUri": "https://aoacnrystorewu2.blob.core.windows.net/421ee486-93a8-431a-958b-d3f82a2e62e7/52acf278-f6bd-4202-b381-343f66b37651?sv=2018-03-28\u0026sr=b\u0026sig=yPI40SMIx2AR7SqeYYbUk0g0H%2F3hSFcYXHjPDIyods8%3D\u0026se=2022-04-27T02%3A43%3A56Z\u0026sp=cw",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "SSdtIGEgZmFrZQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sLZfT00rFQ08drzv9mjPyQ==",
        "ETag": "\u00220x8DA27EF648BF7F6\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 01:43:56 GMT",
        "x-ms-content-crc64": "6MbwaltneJ0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://aoa.westus2.mixedreality.azure.com/accounts/421ee486-93a8-431a-958b-d3f82a2e62e7/jobs/34345be8-8d78-5bdc-3ba5-697444196058?api-version=0.3-preview.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "assetFileType": ".ply",
        "inputAssetUri": "https://aoacnrystorewu2.blob.core.windows.net/421ee486-93a8-431a-958b-d3f82a2e62e7/52acf278-f6bd-4202-b381-343f66b37651?sv=2018-03-28\u0026sr=b\u0026sig=yPI40SMIx2AR7SqeYYbUk0g0H%2F3hSFcYXHjPDIyods8%3D\u0026se=2022-04-27T02%3A43%3A56Z\u0026sp=cw",
        "ingestionConfiguration": {
          "gravity": {
            "x": 0,
            "y": -1,
            "z": 0
          },
          "gtTrajectory": [],
          "scale": 0.00100000005,
          "testTrajectory": []
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "6bek2wccRECh4wYjxmVP8A.0"
      },
      "ResponseBody": {
        "clientErrorDetails": null,
        "serverErrorDetails": null,
        "errorCode": "NO_ERROR",
        "jobId": "34345be8-8d78-5bdc-3ba5-697444196058",
        "outputModelUri": null,
        "jobStatus": "NotStarted",
        "assetFileType": ".ply",
        "inputAssetUri": null,
        "accountId": "421ee486-93a8-431a-958b-d3f82a2e62e7",
        "ingestionConfiguration": {
          "dimensions": null,
          "boundingBoxCenter": null,
          "gravity": {
            "x": 0.0,
            "y": -1.0,
            "z": 0.0
          },
          "keyFrameIndexes": null,
          "gtTrajectory": [],
          "principalAxis": null,
          "scale": 0.001,
          "supportingPlane": null,
          "testTrajectory": [],
          "modelResolution": "VoxelSize4Cm"
        },
        "scaledAssetDimensions": null
      }
    },
[...]
