{
  "Entries": [
    {
      "RequestUri": "https://aoa.eastus2.mixedreality.azure.com/accounts/2eb113b4-e5d2-4753-9e95-270a7fe18545/blobUploadEndpoint?api-version=0.3-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-mrc-cv": "Vd8U0FOTokClwZlkDI46yQ"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "EzK81Biydk2aYh2H1myajQ.0"
      },
      "ResponseBody": {
        "inputAssetUri": "https://aoacnrystorewu2.blob.core.windows.net/421ee486-93a8-431a-958b-d3f82a2e62e7/1ac9d834-ceda-480e-b992-819ac1136901?sv=2018-03-28\u0026sr=b\u0026sig=EPPH0dbPVE7TbNhDup%2Bn1R2YJfXp%2FERtCoCMWlM9MAk%3D\u0026se=2022-04-27T02%3A44%3A43Z\u0026sp=cw"
      }
    },
    {
      "RequestUri": "https://aoacnrystorewu2.blob.core.windows.net/421ee486-93a8-431a-958b-d3f82a2e62e7/1ac9d834-ceda-480e-b992-819ac1136901?sv=2018-03-28\u0026sr=b\u0026sig=EPPH0dbPVE7TbNhDup%2Bn1R2YJfXp%2FERtCoCMWlM9MAk%3D\u0026se=2022-04-27T02%3A44%3A43Z\u0026sp=cw",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "SSdtIGEgZmFrZQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sLZfT00rFQ08drzv9mjPyQ==",
        "ETag": "\u00220x8DAB2F98B69EF5D\u0022",
        "Last-Modified": "Fri, 21 Oct 2022 00:16:48 GMT",
        "x-ms-content-crc64": "6MbwaltneJ0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://aoa.eastus2.mixedreality.azure.com/accounts/2eb113b4-e5d2-4753-9e95-270a7fe18545/jobs/933929ff-03d0-bf4d-19cc-496a44741031?api-version=0.3-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "assetFileType": ".ply",
        "inputAssetUri": "https://aoacnrystorewu2.blob.core.windows.net/421ee486-93a8-431a-958b-d3f82a2e62e7/1ac9d834-ceda-480e-b992-819ac1136901?sv=2018-03-28\u0026sr=b\u0026sig=EPPH0dbPVE7TbNhDup%2Bn1R2YJfXp%2FERtCoCMWlM9MAk%3D\u0026se=2022-04-27T02%3A44%3A43Z\u0026sp=cw",
        "ingestionConfiguration": {
          "gravity": {
            "x": 0,
            "y": -1,
            "z": 0
          },
          "gtTrajectory": [],
          "scale": 0.00100000005,
          "disableDetectScaleUnits": false,
          "testTrajectory": []
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "hOLtXY5cIUiUKOFWf5qouQ.0"
      },
      "ResponseBody": {
        "clientErrorDetails": null,
        "serverErrorDetails": null,
        "errorCode": "NO_ERROR",
        "jobId": "933929ff-03d0-bf4d-19cc-496a44741031",
        "outputModelUri": null,
        "jobStatus": "NotStarted",
        "assetFileType": ".ply",
        "inputAssetUri": null,
        "accountId": "2eb113b4-e5d2-4753-9e95-270a7fe18545",
        "ingestionConfiguration": {
          "dimensions": null,
          "boundingBoxCenter": null,
          "gravity": {
            "x": 0.0,
            "y": -1.0,
            "z": 0.0
          },
          "keyFrameIndexes": null,
          "gtTrajectory": [],
          "principalAxis": null,
          "scale": 0.001,
          "disableDetectScaleUnits": false,
          "supportingPlane": null,
          "testTrajectory": [],
          "modelResolution": "VoxelSize4Cm"
        },
        "scaledAssetDimensions": null
      }
    },
[...]
