{
  "Entries": [
    {
      "RequestUri": "https://aoa.eastus2.mixedreality.azure.com/accounts/2eb113b4-e5d2-4753-9e95-270a7fe18545/blobUploadEndpoint?api-version=0.3-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-mrc-cv": "pSD1NPrD3EqY80lvWJUChg"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "wfyJB/wm3U2\u002BYQQblNoZ9w.0"
      },
      "ResponseBody": {
        "inputAssetUri": "https://aoacnrystorewu2.blob.core.windows.net/421ee486-93a8-431a-958b-d3f82a2e62e7/52acf278-f6bd-4202-b381-343f66b37651?sv=2018-03-28\u0026sr=b\u0026sig=yPI40SMIx2AR7SqeYYbUk0g0H%2F3hSFcYXHjPDIyods8%3D\u0026se=2022-04-27T02%3A43%3A56Z\u0026sp=cw"
      }
    },
    {
      "RequestUri": "https://aoacnrystorewu2.blob.core.windows.net/421ee486-93a8-431a-958b-d3f82a2e62e7/52acf278-f6bd-4202-b381-343f66b37651?sv=2018-03-28\u0026sr=b\u0026sig=yPI40SMIx2AR7SqeYYbUk0g0H%2F3hSFcYXHjPDIyods8%3D\u0026se=2022-04-27T02%3A43%3A56Z\u0026sp=cw",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "SSdtIGEgZmFrZQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sLZfT00rFQ08drzv9mjPyQ==",
        "ETag": "\u00220x8DAB2F9383AE61A\u0022",
        "Last-Modified": "Fri, 21 Oct 2022 00:14:28 GMT",
        "x-ms-content-crc64": "6MbwaltneJ0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://aoa.eastus2.mixedreality.azure.com/accounts/2eb113b4-e5d2-4753-9e95-270a7fe18545/jobs/8c507e20-8646-05a5-953f-50a072c16f4a?api-version=0.3-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "assetFileType": ".ply",
        "inputAssetUri": "https://aoacnrystorewu2.blob.core.windows.net/421ee486-93a8-431a-958b-d3f82a2e62e7/52acf278-f6bd-4202-b381-343f66b37651?sv=2018-03-28\u0026sr=b\u0026sig=yPI40SMIx2AR7SqeYYbUk0g0H%2F3hSFcYXHjPDIyods8%3D\u0026se=2022-04-27T02%3A43%3A56Z\u0026sp=cw",
        "ingestionConfiguration": {
          "gravity": {
            "x": 0,
            "y": -1,
            "z": 0
          },
          "gtTrajectory": [],
          "scale": 0.00100000005,
          "disableDetectScaleUnits": false,
          "testTrajectory": []
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "YwYr8ZOjYEOdwLgBZR2Ldg.0"
      },
      "ResponseBody": {
        "clientErrorDetails": null,
        "serverErrorDetails": null,
        "errorCode": "NO_ERROR",
        "jobId": "8c507e20-8646-05a5-953f-50a072c16f4a",
        "outputModelUri": null,
        "jobStatus": "NotStarted",
        "assetFileType": ".ply",
        "inputAssetUri": null,
        "accountId": "2eb113b4-e5d2-4753-9e95-270a7fe18545",
        "ingestionConfiguration": {
          "dimensions": null,
          "boundingBoxCenter": null,
          "gravity": {
            "x": 0.0,
            "y": -1.0,
            "z": 0.0
          },
          "keyFrameIndexes": null,
          "gtTrajectory": [],
          "principalAxis": null,
          "scale": 0.001,
          "disableDetectScaleUnits": false,
          "supportingPlane": null,
          "testTrajectory": [],
          "modelResolution": "VoxelSize4Cm"
        },
        "scaledAssetDimensions": null
      }
    },
[...]
