{
  "Entries": [
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder010934%2FSDKTestConcatFile01.txt?op=CONCAT&sources=SDKTestFolder01%2FSDKTestFile01.txt2733%2CSDKTestFolder01%2FSDKTestFile01.txt5634&api-version=2015-10-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.4-preview "
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190224"
        ],
        "Server-Perf": [
          "[738fcbe46bce4c6d88688e6cc3677ae9][ AuthTime::1681.2652900621::PostAuthTime::30996.6982019742 ][IsExist :: 00:00:000 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[CONCAT :: 00:02:430 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FSDKTestFile01.txt2733?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.4-preview "
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /SDKTestFolder01/SDKTestFile01.txt2733 [b87f31d7572d47ae8afa0891d5cde1c5]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103190224"
        ],
        "Server-Perf": [
          "[b87f31d7572d47ae8afa0891d5cde1c5][ AuthTime::777.547773424803::PostAuthTime::184.763827348468 ][IsExist :: 00:00:000 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETFILESTATUS :: 00:00:196 ms]%0a"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FSDKTestFile01.txt5634?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.4-preview "
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /SDKTestFolder01/SDKTestFile01.txt5634 [bcabd4346acb4c32b2c31d174a91acea]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103190224"
        ],
        "Server-Perf": [
          "[bcabd4346acb4c32b2c31d174a91acea][ AuthTime::1678.69912579337::PostAuthTime::30786.2727319385 ][IsExist :: 00:00:000 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETFILESTATUS :: 00:00:005 ms]%0a"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {}
}