{
  "Entries": [
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FSDKTestFile01.txt8685?op=CREATE&api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.6-preview "
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[5ed1ad4448aa4a8994a7d0e86565a516][ AuthTime::1801.87424004147::PostAuthTime::31576.637821567 ][CREATE :: 00:00:000 ms]%0a"
        ],
        "Location": [
          "https://testadlfs16600.caboaccountdogfood.net/webhdfs/v1/SDKTestFolder01/SDKTestFile01.txt8685?op=CREATE&api-version=2015-10-01-preview&write=true"
        ]
      },
      "StatusCode": 307
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01/SDKTestFile01.txt8685?op=CREATE&api-version=2015-10-01-preview&write=true",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "Content-Type": [
          "application/octet-stream"
        ],
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.6-preview "
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[2876b4b9b54f4aafbaa8068cd537bf12][ AuthTime::815.612194578467::PostAuthTime::184.336054464247 ][FsOpenStream :: 00:00:756 ms]%0a[Open :: 00:00:756 ms]%0a[Write :: 00:00:000 ms]%0a[FsAppendStream :: 00:00:014 ms]%0a[FlushWrite :: 00:00:014 ms]%0a[CREATE :: 00:00:773 ms]%0a"
        ],
        "Location": [
          "https://testadlfs16600.caboaccountdogfood.net/webhdfs/v1/SDKTestFolder01/SDKTestFile01.txt8685?op=CREATE&api-version=2015-10-01-preview&write=true"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FSDKTestFile01.txt8685?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.6-preview "
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 0,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1447874351647,\r\n    \"modificationTime\": 1447874351647,\r\n    \"replication\": 0,\r\n    \"permission\": \"777\",\r\n    \"owner\": \"NotSupportYet\",\r\n    \"group\": \"NotSupportYet\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[a850be6fb7ce4ae3be0d3e1b4dbe01c7][ AuthTime::819.033745473395::PostAuthTime::192.889931701567 ][IsExist :: 00:00:000 ms]%0a[HdfsGetFileStatus :: 00:00:248 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETFILESTATUS :: 00:00:248 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FSDKTestFile01.txt8685?op=APPEND&api-version=2015-10-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.6-preview "
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[922f22c7623d4237b8c4059f6d1e1c0e][ AuthTime::780.541297905455::PostAuthTime::178.776034259989 ][APPEND :: 00:00:000 ms]%0a"
        ],
        "Location": [
          "https://testadlfs16600.caboaccountdogfood.net/webhdfs/v1/SDKTestFolder01/SDKTestFile01.txt8685?op=APPEND&api-version=2015-10-01-preview&append=true"
        ]
      },
      "StatusCode": 307
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01/SDKTestFile01.txt8685?op=APPEND&api-version=2015-10-01-preview&append=true",
      "RequestMethod": "POST",
      "RequestBody": "More test contents, that were appended!",
      "RequestHeaders": {
        "Content-Type": [
          "application/octet-stream"
        ],
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.6-preview "
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Server-Perf": [
          "[1beb6a7971e141598443c7179f17f91e][ AuthTime::783.535154938517::PostAuthTime::194.173013287165 ][GetCacheEntry :: 00:00:000 ms]%0a[FsOpenStream :: 00:00:090 ms]%0a[OpenNewHandle :: 00:00:091 ms]%0a[CreateCacheEntry :: 00:00:000 ms]%0a[GetOrCreateHandle :: 00:00:091 ms]%0a[Open :: 00:00:091 ms]%0a[FsGetStreamLength :: 00:00:008 ms]%0a[GetLength :: 00:00:008 ms]%0a[FsAppendStream :: 00:00:078 ms]%0a[Write :: 00:00:078 ms]%0a[FsAppendStream :: 00:00:002 ms]%0a[FlushWrite :: 00:00:002 ms]%0a[APPEND :: 00:00:181 ms]%0a"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "CreateFile": [
      "SDKTestFolder01/SDKTestFile01.txt8685"
    ]
  },
  "Variables": {
    "SubscriptionId": "0353d26d-e338-469a-a87a-bd3507471155"
  }
}