{
  "Entries": [
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FmsconcatFolder%2FSDKTestFile01.txt4131?op=CREATE&api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.6-preview "
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[b95a5606911f4d3b8de3aa8830960a3c][ AuthTime::1925.0574822763::PostAuthTime::34815.2697561109 ][CREATE :: 00:00:000 ms]%0a"
        ],
        "Location": [
          "https://testadlfs14863.azuredatalakestore.net/webhdfs/v1/SDKTestFolder01/msconcatFolder/SDKTestFile01.txt4131?op=CREATE&api-version=2015-10-01-preview&write=true"
        ]
      },
      "StatusCode": 307
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01/msconcatFolder/SDKTestFile01.txt4131?op=CREATE&api-version=2015-10-01-preview&write=true",
      "RequestMethod": "PUT",
      "RequestBody": "These are some random test contents 1234!@",
      "RequestHeaders": {
        "Content-Type": [
          "application/octet-stream"
        ],
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.6-preview "
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[e91ce706c4ba4ac0b5e1a369061003e3][ AuthTime::893.028221060411::PostAuthTime::201.016888840227 ][FsOpenStream :: 00:00:245 ms]%0a[Open :: 00:00:245 ms]%0a[FsAppendStream :: 00:00:070 ms]%0a[Write :: 00:00:274 ms]%0a[FsAppendStream :: 00:00:002 ms]%0a[FlushWrite :: 00:00:003 ms]%0a[CREATE :: 00:00:525 ms]%0a"
        ],
        "Location": [
          "https://testadlfs14863.azuredatalakestore.net/webhdfs/v1/SDKTestFolder01/msconcatFolder/SDKTestFile01.txt4131?op=CREATE&api-version=2015-10-01-preview&write=true"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FmsconcatFolder%2FSDKTestFile01.txt4131?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.6-preview "
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 42,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1448057682293,\r\n    \"modificationTime\": 1448057682678,\r\n    \"replication\": 0,\r\n    \"permission\": \"777\",\r\n    \"owner\": \"NotSupportYet\",\r\n    \"group\": \"NotSupportYet\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[dd432004bc75485681ce3415865f3857][ AuthTime::845.554019653464::PostAuthTime::187.758328086935 ][IsExist :: 00:00:000 ms]%0a[HdfsGetFileStatus :: 00:00:074 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETFILESTATUS :: 00:00:074 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FmsconcatFolder%2FSDKTestFile01.txt4131?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.6-preview "
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /SDKTestFolder01/msconcatFolder/SDKTestFile01.txt4131 [dbd2c2bf843249e69ebf3d64cf4999d1]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[dbd2c2bf843249e69ebf3d64cf4999d1][ AuthTime::779.261215887006::PostAuthTime::181.770590972545 ][IsExist :: 00:00:000 ms]%0a[HdfsGetFileStatus :: 00:00:041 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETFILESTATUS :: 00:00:042 ms]%0a"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder014460?op=MKDIRS&api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.6-preview "
        ]
      },
      "ResponseBody": "{\r\n  \"boolean\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[86e3667b5f394505871257430a8d0191][ AuthTime::801.501382311882::PostAuthTime::179.632113431692 ][HdfsMkdirs :: 00:00:039 ms]%0a[MKDIRS :: 00:00:039 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder014460%2FSDKTestConcatFile01.txt?op=MSCONCAT&deletesourcedirectory=true&api-version=2015-10-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "sources=SDKTestFolder01/msconcatFolder/SDKTestFile01.txt4131,SDKTestFolder01/msconcatFolder/SDKTestFile01.txt2847",
      "RequestHeaders": {
        "Content-Type": [
          "application/octet-stream"
        ],
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.6-preview "
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Server-Perf": [
          "[c968f42b4c624574bb9b549ea0f5cda6][ AuthTime::786.104344017737::PostAuthTime::186.475241562423 ][IsExist :: 00:00:000 ms]%0a[HdfsGetFileStatus :: 00:00:020 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[FsMultiModifyStream :: 00:00:791 ms]%0a[MSCONCAT :: 00:00:813 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder014460%2FSDKTestConcatFile01.txt?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.6-preview "
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 84,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1448057684297,\r\n    \"modificationTime\": 1448057684550,\r\n    \"replication\": 0,\r\n    \"permission\": \"777\",\r\n    \"owner\": \"NotSupportYet\",\r\n    \"group\": \"NotSupportYet\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[b04809ac15ab400dbfbe898c200f4473][ AuthTime::879.341964798949::PostAuthTime::190.75219664413 ][IsExist :: 00:00:000 ms]%0a[HdfsGetFileStatus :: 00:00:044 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETFILESTATUS :: 00:00:044 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FmsconcatFolder?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.6-preview "
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /SDKTestFolder01/msconcatFolder [9e07a4bd81d84416b9738587c93b6b3f]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[9e07a4bd81d84416b9738587c93b6b3f][ AuthTime::1694.95729888046::PostAuthTime::33427.397832097 ][IsExist :: 00:00:000 ms]%0a[HdfsGetFileStatus :: 00:00:010 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETFILESTATUS :: 00:00:010 ms]%0a"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {
    "CreateFile": [
      "SDKTestFolder01/msconcatFolder/SDKTestFile01.txt4131",
      "SDKTestFolder01/msconcatFolder/SDKTestFile01.txt2847"
    ],
    "CreateFolder": [
      "SDKTestFolder014460"
    ]
  },
  "Variables": {
    "SubscriptionId": "46153750-fa3b-4140-bf57-8beb7d5c971a"
  }
}