{
  "Entries": [
    {
      "RequestUri": "/webhdfs/v1/%2F?op=GETACLSTATUS&api-version=2014-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.1-preview "
        ]
      },
      "ResponseBody": "{\r\n  \"AclStatus\": {\r\n    \"entries\": [\r\n      \"user::rwx\",\r\n      \"group::rwx\",\r\n      \"other::---\",\r\n      \"mask::rwx\",\r\n      \"default:user::rwx\",\r\n      \"default:group::rwx\",\r\n      \"default:other::---\",\r\n      \"default:mask::rwx\"\r\n    ],\r\n    \"owner\": \"353f35f8-e1c3-461c-8314-5650973a5ec7\",\r\n    \"group\": \"353f35f8-e1c3-461c-8314-5650973a5ec7\",\r\n    \"stickyBit\": false\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103190734"
        ],
        "Server-Perf": [
          "[e1e6af416391458fb3190cee2f37a952][ AuthTime::1810.00274579812::PostAuthTime::16760.4885638792 ][SS Response Process :: 00:00:000 ms]%0a[GETACLSTATUS :: 00:00:235 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1/%2F?op=SETACL&aclspec=user::rwx%2Cgroup::rwx%2Cother::rwx%2Cmask::rwx%2Cdefault:user::rwx%2Cdefault:group::rwx%2Cdefault:other::---%2Cdefault:mask::rwx&api-version=2014-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.1-preview "
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190734"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[5d564183f786464ab081ef4bde3f3a4a][ AuthTime::845.979544231728::PostAuthTime::189.896318320974 ][SETACL :: 00:01:837 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/%2F?op=CHECKACCESS&fsaction=rwx&api-version=2014-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.1-preview "
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190734"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[e74adec7fcea4dbba8388cfd158b041f][ AuthTime::854.533432444385::PostAuthTime::195.456345659201 ][CHECKACCESS :: 00:00:040 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/%2F?op=MODIFYACLENTRIES&aclspec=other::---&api-version=2014-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.1-preview "
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190734"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[d4586175549847dc85d1afd15613a4e2][ AuthTime::784.391549100601::PostAuthTime::175.782402770091 ][MODIFYACLENTRIES :: 00:00:343 ms]%0a"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}