{
  "Entries": [
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder011550?op=MKDIRS&api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.4-preview "
        ]
      },
      "ResponseBody": "{\r\n  \"boolean\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[39236e3514f2403b804a889aceb07fb6][ AuthTime::1871.59394281032::PostAuthTime::1551241.72730671 ][MKDIRS :: 00:00:056 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder011550?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.4-preview "
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 0,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"DIRECTORY\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1446662827972,\r\n    \"modificationTime\": 1446662827972,\r\n    \"replication\": 0,\r\n    \"permission\": \"777\",\r\n    \"owner\": \"NotSupportYet\",\r\n    \"group\": \"NotSupportYet\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[e9f89f8875d0458faf589fbe9bb664be][ AuthTime::844.270210947798::PostAuthTime::183.908911199368 ][IsExist :: 00:00:000 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETFILESTATUS :: 00:00:069 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder011550%2FSDKTestFile01.txt2389?op=CREATE&api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.4-preview "
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[f29cc0681c904382bc29f13e2dcc1b11][ AuthTime::887.039725180209::PostAuthTime::186.475082053313 ][CREATE :: 00:00:000 ms]%0a"
        ],
        "Location": [
          "https://testadlfs17611.azuredatalakestore.net/webhdfs/v1/SDKTestFolder011550/SDKTestFile01.txt2389?op=CREATE&api-version=2015-10-01-preview&write=true"
        ]
      },
      "StatusCode": 307
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder011550/SDKTestFile01.txt2389?op=CREATE&api-version=2015-10-01-preview&write=true",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "Content-Type": [
          "application/octet-stream"
        ],
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.4-preview "
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[40aed21a613240b1ac2be9b095fb2a45][ AuthTime::879.768907760699::PostAuthTime::191.179728618878 ][Open :: 00:00:088 ms]%0a[Write :: 00:00:078 ms]%0a[FlushWrite :: 00:00:020 ms]%0a[CREATE :: 00:00:188 ms]%0a"
        ],
        "Location": [
          "https://testadlfs17611.azuredatalakestore.net/webhdfs/v1/SDKTestFolder011550/SDKTestFile01.txt2389?op=CREATE&api-version=2015-10-01-preview&write=true"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder011550%2FSDKTestFile01.txt2389?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.4-preview "
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 0,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1446662829020,\r\n    \"modificationTime\": 1446662829020,\r\n    \"replication\": 0,\r\n    \"permission\": \"777\",\r\n    \"owner\": \"NotSupportYet\",\r\n    \"group\": \"NotSupportYet\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[b57c0a20ad2f4fa98de3ddb20e7c4316][ AuthTime::860.950321498438::PostAuthTime::185.191996626341 ][IsExist :: 00:00:000 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETFILESTATUS :: 00:00:035 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder011550?op=LISTSTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.4-preview "
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatuses\": {\r\n    \"FileStatus\": [\r\n      {\r\n        \"length\": 0,\r\n        \"pathSuffix\": \"SDKTestFile01.txt2389\",\r\n        \"type\": \"FILE\",\r\n        \"blockSize\": 268435456,\r\n        \"accessTime\": 1446662829020,\r\n        \"modificationTime\": 1446662829020,\r\n        \"replication\": 0,\r\n        \"permission\": \"777\",\r\n        \"owner\": \"NotSupportYet\",\r\n        \"group\": \"NotSupportYet\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[eaa4fb1f40bb43cba44e3f0fb7817801][ AuthTime::858.384150644494::PostAuthTime::184.336606341692 ][FsEnumerateDirectory :: 00:00:029 ms]%0a[ListDirectory :: 00:00:029 ms]%0a[LISTSTATUS :: 00:00:029 ms]%0a"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "CreateFolder": [
      "SDKTestFolder011550"
    ],
    "CreateFile": [
      "SDKTestFolder011550/SDKTestFile01.txt2389"
    ]
  },
  "Variables": {
    "SubscriptionId": "045c28ea-c686-462f-9081-33c34e871ba3"
  }
}