{
  "Entries": [
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FSDKTestFile01.txt6502?op=CREATE&write=true&api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "These are some random test contents 1234!@",
      "RequestHeaders": {
        "Content-Type": [
          "application/octet-stream"
        ],
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.3-preview "
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190124"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[4376e65f7e1c463782a2591a8ae3f853][ AuthTime::1769.3710200379::PostAuthTime::16912.7405405798 ][Open :: 00:00:820 ms]%0a[Write :: 00:00:121 ms]%0a[FlushWrite :: 00:00:050 ms]%0a[CREATE :: 00:00:994 ms]%0a"
        ],
        "Location": [
          "https://testadlfs17606.caboaccountdogfood.net/webhdfs/v1/SDKTestFolder01/SDKTestFile01.txt6502?op=CREATE&write=true&api-version=2015-10-01-preview"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FSDKTestFile01.txt6502?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.3-preview "
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 42,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1444867302180,\r\n    \"modificationTime\": 1444867302410,\r\n    \"replication\": 0,\r\n    \"permission\": \"777\",\r\n    \"owner\": \"NotSupportYet\",\r\n    \"group\": \"NotSupportYet\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103190124"
        ],
        "Server-Perf": [
          "[acec75c5f472436f913c4420fe349e9d][ AuthTime::914.837953072534::PostAuthTime::181.770046776918 ][IsExist :: 00:00:001 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETFILESTATUS :: 00:00:037 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FSDKTestFile01.txt6502?op=OPEN&read=true&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.3-preview "
        ]
      },
      "ResponseBody": "These are some random test contents 1234!@",
      "ResponseHeaders": {
        "Content-Type": [
          "application/octet-stream"
        ],
        "x-origin-server": [
          "bn4sch103190124"
        ],
        "Server-Perf": [
          "[6fd601df93674e61b9929fbe18317ac4][ AuthTime::848.545347777423::PostAuthTime::190.751625558836 ][GetCacheEntry :: 00:00:000 ms]%0a[OpenNewHandle :: 00:00:332 ms]%0a[CreateCacheEntry :: 00:00:000 ms]%0a[GetOrCreateHandle :: 00:00:332 ms]%0a[Open :: 00:00:332 ms]%0a[OPEN :: 00:00:351 ms]%0a"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}