{
  "Entries": [
    {
      "RequestUri": "/webhdfs/v1/%2F?op=GETACLSTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.4-preview "
        ]
      },
      "ResponseBody": "{\r\n  \"AclStatus\": {\r\n    \"entries\": [\r\n      \"user::rwx\",\r\n      \"group::rwx\",\r\n      \"other::---\",\r\n      \"mask::rwx\",\r\n      \"default:user::rwx\",\r\n      \"default:group::rwx\",\r\n      \"default:other::---\",\r\n      \"default:mask::rwx\"\r\n    ],\r\n    \"owner\": \"353f35f8-e1c3-461c-8314-5650973a5ec7\",\r\n    \"group\": \"353f35f8-e1c3-461c-8314-5650973a5ec7\",\r\n    \"stickyBit\": false\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103201423"
        ],
        "Server-Perf": [
          "[0c6d73b328e344cc85dfe90860d40973][ AuthTime::1695.379918644::PostAuthTime::31174.6322578107 ][SS Response Process :: 00:00:000 ms]%0a[GETACLSTATUS :: 00:00:188 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1/%2F?op=SETACL&aclspec=user::rwx%2Cgroup::rwx%2Cother::rwx%2Cmask::rwx%2Cdefault:user::rwx%2Cdefault:group::rwx%2Cdefault:other::---%2Cdefault:mask::rwx&api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.4-preview "
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103201423"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[dc6731b111814c4cbafd95306a2b711b][ AuthTime::828.871413302745::PostAuthTime::187.330071737153 ][SETACL :: 00:02:252 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/%2F?op=CHECKACCESS&fsaction=rwx&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.4-preview "
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103201423"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[7606031ea27d467ba24c2b088b4fcce3][ AuthTime::873.351612984626::PostAuthTime::180.914658321497 ][CHECKACCESS :: 00:00:041 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/%2F?op=MODIFYACLENTRIES&aclspec=other::---&api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.4-preview "
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103201423"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[73a5b5b26ed244e887c5213460ca0523][ AuthTime::740.766402394403::PostAuthTime::174.926939133551 ][MODIFYACLENTRIES :: 00:00:053 ms]%0a"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}