{
  "Entries": [
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder018269%2FSDKTestConcatFile01.txt?op=MSCONCAT&deletesourcedirectory=true&api-version=2015-10-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "sources=SDKTestFolder01/msconcatFolder/SDKTestFile01.txt8250,SDKTestFolder01/msconcatFolder/SDKTestFile01.txt974",
      "RequestHeaders": {
        "Content-Type": [
          "application/octet-stream"
        ],
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.4-preview "
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190324"
        ],
        "Server-Perf": [
          "[fea9fb97115841d78efea346b94d01ee][ AuthTime::1661.1672223137::PostAuthTime::31752.9291758532 ][IsExist :: 00:00:000 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[MSCONCAT :: 00:41:793 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FmsconcatFolder%2FSDKTestFile01.txt8250?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.4-preview "
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /SDKTestFolder01/msconcatFolder/SDKTestFile01.txt8250 [2038e0531e4b45a4b73f889478d9405c]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103190324"
        ],
        "Server-Perf": [
          "[2038e0531e4b45a4b73f889478d9405c][ AuthTime::877.630056690967::PostAuthTime::183.481137583053 ][IsExist :: 00:00:000 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETFILESTATUS :: 00:03:343 ms]%0a"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FmsconcatFolder?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.4-preview "
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /SDKTestFolder01/msconcatFolder [ab51a48d89a544bca6ea6f575e6a8b7c]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103190324"
        ],
        "Server-Perf": [
          "[ab51a48d89a544bca6ea6f575e6a8b7c][ AuthTime::1559.80351693565::PostAuthTime::30806.0125357393 ][IsExist :: 00:00:000 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETFILESTATUS :: 00:00:005 ms]%0a"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {
    "CreateFile": [
      "SDKTestFolder01/msconcatFolder/SDKTestFile01.txt8250",
      "SDKTestFolder01/msconcatFolder/SDKTestFile01.txt974"
    ],
    "CreateFolder": [
      "SDKTestFolder018269"
    ]
  },
  "Variables": {}
}