{
  "Entries": [
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FSDKTestFile01.txt8770?op=APPEND&append=true&api-version=2015-10-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "More test contents, that were appended!",
      "RequestHeaders": {
        "Content-Type": [
          "application/octet-stream"
        ],
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.StoreFileSystem 0.9.4-preview "
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103201525"
        ],
        "Server-Perf": [
          "[2bf417c890d44eb6badb0c817712c530][ AuthTime::1671.00420637993::PostAuthTime::31598.5312955094 ][GetCacheEntry :: 00:00:000 ms]%0a[OpenNewHandle :: 00:00:171 ms]%0a[CreateCacheEntry :: 00:00:000 ms]%0a[GetOrCreateHandle :: 00:00:171 ms]%0a[Open :: 00:00:171 ms]%0a[GetLength :: 00:00:010 ms]%0a[Write :: 00:00:314 ms]%0a[FlushWrite :: 00:00:044 ms]%0a[APPEND :: 00:00:541 ms]%0a"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "CreateFile": [
      "SDKTestFolder01/SDKTestFile01.txt8770"
    ]
  },
  "Variables": {}
}