{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-185ef2e8-be9a-2c8f-7a1f-679a7e7337b0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 Dec 2021 23:37:37 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9B5238F1991BC\u0022",
        "Last-Modified": "Wed, 01 Dec 2021 23:37:37 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-185ef2e8-be9a-2c8f-7a1f-679a7e7337b0/test-blob-eed76313-f149-956b-ed36-e2e12dba3ab8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 Dec 2021 23:37:37 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9B5238F269533\u0022",
        "Last-Modified": "Wed, 01 Dec 2021 23:37:37 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-12-01T23:37:37.9789107Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-185ef2e8-be9a-2c8f-7a1f-679a7e7337b0/test-blob-eed76313-f149-956b-ed36-e2e12dba3ab8?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 Dec 2021 23:37:38 GMT",
        "x-ms-version": "2021-04-10"
  [...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-185ef2e8-be9a-2c8f-7a1f-679a7e7337b0/test-blob-eed76313-f149-956b-ed36-e2e12dba3ab8?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u00220x8D9B5238F2F9483\u0022",
        "x-ms-date": "Wed, 01 Dec 2021 23:37:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9B5238F5E3ED0\u0022",
        "Last-Modified": "Wed, 01 Dec 2021 23:37:38 GMT",
        "x-ms-content-crc64": "17m5j6ScWgM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-12-01T23:37:38.3447008Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-185ef2e8-be9a-2c8f-7a1f-679a7e7337b0/test-blob-eed76313-f149-956b-ed36-e2e12dba3ab8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 Dec 2021 23:37:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9B5238F77DD90\u0022",
        "Last-Modified": "Wed, 01 Dec 2021 23:37:38 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 Dec 2021 23:37:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 Dec 2021 23:37:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-12-01T23:37:38.5136038Z"
      },
      "ResponseBody": "B\u002BzPc/mszd2ij21OnPdqS1r/LTSIFtEpeaHjbmDUlauZa7kFihEB6\u002BWddpV68YOzEf4P\u002BHl5YvEapvlYyF58zvrBtTA\u002BZMBI/UFP6588rogdMF1ixJ0yIAnH6\u002BMYqSKGIKeauTxSdK09xvo4KnZR3vdxOpgBGgldj5QndnndMFQeyMv4ofVLy7uvJf6i\u002BfaSdg3sp26KhAWePSqnK/0zYJalGmGrWTwBJW/dUvULupWelABs8IjllETFWmTLo6C9e8Ro/d\u002BU5xzQ6oH/rDIQkoOUCZb8x28Nv4Yc5v/XNoLPH9Ywor22Ca3kmwUG5ucStMfhNpoJ[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-30a4c090-76ee-ca9a-b0da-f6167330109e/test-blob-938ad94f-e3a8-0c32-079f-95981d229441",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Modified-Since": "Tue, 30 Nov 2021 23:37:37 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 Dec 2021 23:37:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9B5238FA74B0F\u0022",
        "Last-Modified": "Wed, 01 Dec 2021 23:37:38 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-12-01T23:37:38.8234271Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dab09eb9-0ea7-ead4-6a99-b9425321a55c/test-blob-db99cf82-8b24-d266-2ef7-994de623e764",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Unmodified-Since": "Thu, 02 Dec 2021 23:37:37 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 Dec 2021 23:37:39 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9B523901CDF0C\u0022",
        "Last-Modified": "Wed, 01 Dec 2021 23:37:39 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-12-01T23:37:39.5939868Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f7a786ac-3490-e7e4-ed5f-86e306ba6b8f/test-blob-c4ce61a2-2d68-b6be-7e5a-8f417501f9bb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 Dec 2021 23:37:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9B52390C3DC0F\u0022",
        "Last-Modified": "Wed, 01 Dec 2021 23:37:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 Dec 2021 23:37:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 Dec 2021 23:37:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-12-01T23:37:40.6873615Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-81bb92ff-c4e1-ef12-e45f-a160f9d6aff3/test-blob-2d484b69-5c95-98e8-7a07-e6f174a5da50",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 Dec 2021 23:37:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9B523914CF530\u0022",
        "Last-Modified": "Wed, 01 Dec 2021 23:37:41 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-12-01T23:37:41.5868480Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4888da40-45a5-1dbd-ade0-aa3b9d29d036/test-blob-dec74615-644d-75e2-16b1-1e3ec4c0aed5?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 Dec 2021 23:37:42 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "3adf3245-86d8-ddc4-ea81-06ab4fa26fbd",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9B52391BA25F6\u0022",
        "Last-Modified": "Wed, 01 Dec 2021 23:37:42 GMT",
        "x-ms-lease-id": "3adf3245-86d8-ddc4-ea81-06ab4fa26fbd",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4888da40-45a5-1dbd-ade0-aa3b9d29d036?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 Dec 2021 23:37:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-12-01T15:37:37.8560095-08:00",
    "RandomSeed": "165804547",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}