{
  "Entries": [
    {
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourcegroups/hdisdk5467?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"North Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/hdisdk5467\",\r\n  \"name\": \"hdisdk5467\",\r\n  \"location\": \"northcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/providers/Microsoft.HDInsight/clusters?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "7489b55d-1cc6-466d-97b1-43da63fddae2",
          "81c43947-0547-4f7c-b996-cf3c3b5b8c8b",
          "a9bbc6e0-2f6a-45ef-a807-ff62655c4c45",
          "6f95f9b3-a9f7-4afc-bcca-6ff3a4e3ffb1",
          "9ae68ddd-67d3-41da-b822-83a9e318aa55",
          "1e118f77-2b58-41f0-8eb7-b7f244db28ef",
          "fe3a36f9-7e73-4185-a9a6-bd729f7e6b10",
          "40bc13ad-dbd3-4520-a387-5e568c174ca3",
          "aa579c91-d549-4fba-8ad1-37383a5dff60",
          "63a6a43b-2dc7-47bb-b21b-3b1a644f6df4"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11985"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/01hditestdonotdelete/providers/Microsoft.HDInsight/clusters/dsautoscale01\",\r\n      \"name\": \"dsautoscale01\",\r\n      \"type\": \"Microsoft.HDInsight/clusters\",\r\n      \"location\": \"East US 2\",\r\n      \"etag\": \"a4a0f4f2-8097-4fe3-a0c9-a7dc4f68c4f7\",\r\n      \"tags\": null,\r\n      \"properties\": {\r\n        \"clusterVersion\": \"3.6.1000.3\",\r\n        \"osType\": \"Linux\",\r\n        \"clusterDefinition\": {\r\n          \"blueprint\": \"https://blueprints.azurehdinsight.net/spark-3.6.1000.3.1808181812.json\",\r\n          \"kind\": \"SPARK\",\r\n          \"componentVersion\": {\r\n            \"Spark\": \"2.2\"\r\n          }\r\n        },\r\n        \"computeProfile\": {\r\n          \"roles\": [\r\n            {\r\n              \"name\": \"headnode\",\r\n              \"targetInstanceCount\": 2,\r\n              \"hardwareProfile\": {\r\n                \"vmSize\": \"Standard_D12_V2\"\r\n              },\r\n              \"osProfile\": {\r\n                \"linuxOperatingSystemProfile\": {\r\n                  \"username\": \"sshuser\"\r\n                }\r\n              },\r\n              \"encryptDataDisks\": false\r\n            },\r\n            {\r\n              \"name\": \"workernode\",\r\n              \"targetInstanceCount\": 4,\r\n              \"hardwareProfile\": {\r\n                \"vmSize\": \"Standard_D13_V2\"\r\n              },\r\n              \"osProfile\": {\r\n                \"linuxOperatingSystemProfile\": {\r\n                  \"username\": \"sshuser\"\r\n                }\r\n              },\r\n              \"encryptDataDisks\": false\r\n            },\r\n            {\r\n              \"name\": \"zookeepernode\",\r\n              \"targetInstanceCount\": 3,\r\n              \"hardwareProfile\": {\r\n                \"vmSize\": \"Medium\"\r\n              },\r\n              \"osProfile\": {\r\n                \"linuxOperatingSystemProfile\": {\r\n                  \"username\": \"sshuser\"\r\n                }\r\n              },\r\n              \"encryptDataDisks\": false\r\n            }\r\n          ]\r\n        },\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"clusterState\": \"Running\",\r\n        \"createdDate\": \"2018-08-28T21:34:17.063\",\r\n        \"quotaInfo\": {\r\n          \"coresUsed\": 40\r\n        },\r\n        \"connectivityEndpoints\": [\r\n          {\r\n            \"name\": \"SSH\",\r\n            \"protocol\": \"TCP\",\r\n            \"location\": \"dsautoScale01-ssh.azurehdinsight.net\",\r\n            \"port\": 22\r\n          },\r\n          {\r\n            \"name\": \"HTTPS\",\r\n            \"protocol\": \"TCP\",\r\n            \"location\": \"dsautoScale01.azurehdinsight.net\",\r\n            \"port\": 443\r\n          }\r\n        ],\r\n        \"tier\": \"standard\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/dstestcluster/providers/Microsoft.HDInsight/clusters/dstestclustercreation\",\r\n      \"name\": \"dstestclustercreation\",\r\n      \"type\": \"Microsoft.HDInsight/clusters\",\r\n      \"location\": \"East US 2\",\r\n      \"etag\": \"3b4c3e2a-523e-4f04-93f9-9366e943486d\",\r\n      \"tags\": null,\r\n      \"properties\": {\r\n        \"clusterVersion\": \"3.6.1000.[...]
[...]
