{
  "Entries": [
    {
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourcegroups/hdisdk4823?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"North Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/hdisdk4823\",\r\n  \"name\": \"hdisdk4823\",\r\n  \"location\": \"northcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/providers/Microsoft.HDInsight/clusters?api-version=2015-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "957f1c22-bc32-454e-b3de-c561d32270eb",
          "8656a99a-c432-4f49-b042-afa398d0e67d",
          "140e0527-0680-4722-bbdb-03ca285c5f85",
          "caf856dd-480a-45cb-a450-8a754e98cf8b",
          "8222492b-8ab4-44f0-ad55-f1bf87f2c7a9",
          "6c27ee14-deed-4175-b020-9bdedf070987",
          "66b2d0d3-7436-4610-9824-9afb06124697",
          "57c7beb8-be0e-4afe-9f11-bddfc6b3e5b2",
          "3d963bce-f87e-4033-9fc2-7ceb727c51b1",
          "56853b46-a5b9-418c-93a5-9dead62bf539",
          "4eb09f8c-a365-4912-9178-a27fa6437355",
          "5989e57d-ef77-4324-8228-402fba11290c",
          "3cccbebd-6a3d-4757-9eb5-0cf15466468f",
          "039a65ef-952a-4ee8-915a-6a7ed9d13811",
          "e13dc1c4-827e-4141-b7c7-8d156f9f4dc5"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/anusharg/providers/Microsoft.HDInsight/clusters/anutestglobal\",\r\n      \"name\": \"anutestglobal\",\r\n      \"type\": \"Microsoft.HDInsight/clusters\",\r\n      \"location\": \"East US 2\",\r\n      \"etag\": \"fbc8e99b-9f97-4e9b-a2d8-01e34f1985f8\",\r\n      \"tags\": null,\r\n      \"properties\": {\r\n        \"clusterVersion\": \"3.6.1000.3\",\r\n        \"osType\": \"Linux\",\r\n        \"clusterDefinition\": {\r\n          \"blueprint\": \"https://blueprints.azurehdinsight.net/hadoop-3.6.1000.3.1806061605.json\",\r\n          \"kind\": \"HADOOP\",\r\n          \"componentVersion\": {\r\n            \"Hadoop\": \"2.7\"\r\n          }\r\n        },\r\n        \"computeProfile\": {\r\n          \"roles\": [\r\n            {\r\n              \"name\": \"headnode\",\r\n              \"targetInstanceCount\": 2,\r\n              \"hardwareProfile\": {\r\n                \"vmSize\": \"Standard_D12_V2\"\r\n              },\r\n              \"osProfile\": {\r\n                \"linuxOperatingSystemProfile\": {\r\n                  \"username\": \"sshuser\"\r\n                }\r\n              },\r\n              \"encryptDataDisks\": false\r\n            },\r\n            {\r\n              \"name\": \"workernode\",\r\n              \"targetInstanceCount\": 4,\r\n              \"hardwareProfile\": {\r\n                \"vmSize\": \"Standard_D4_V2\"\r\n              },\r\n              \"osProfile\": {\r\n                \"linuxOperatingSystemProfile\": {\r\n                  \"username\": \"sshuser\"\r\n                }\r\n              },\r\n              \"encryptDataDisks\": false\r\n            },\r\n            {\r\n              \"name\": \"zookeepernode\",\r\n              \"targetInstanceCount\": 3,\r\n              \"hardwareProfile\": {\r\n                \"vmSize\": \"Medium\"\r\n              },\r\n              \"osProfile\": {\r\n                \"linuxOperatingSystemProfile\": {\r\n                  \"username\": \"sshuser\"\r\n                }\r\n              },\r\n              \"encryptDataDisks\": false\r\n            }\r\n          ]\r\n        },\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"clusterState\": \"Running\",\r\n        \"createdDate\": \"2018-06-29T01:39:21.357\",\r\n        \"quotaInfo\": {\r\n          \"coresUsed\": 40\r\n        },\r\n        \"connectivityEndpoints\": [\r\n          {\r\n            \"name\": \"SSH\",\r\n            \"protocol\": \"TCP\",\r\n            \"location\": \"anutestglobal-ssh.azurehdinsight.net\",\r\n            \"port\": 22\r\n          },\r\n          {\r\n            \"name\": \"HTTPS\",\r\n            \"protocol\": \"TCP\",\r\n            \"location\": \"anutestglobal.azurehdinsight.net\",\r\n            \"port\": 443\r\n          }\r\n        ],\r\n        \"tier\": \"standard\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/anusharg/providers/Microsoft.HDInsight/clusters/anutestglobal2\",\r\n      \"name\": \"anutestglobal2\",\r\n      \"type\": \"Microsoft.HDInsight/clusters\",\r\n      \"location\": \"Central US\",\r\n      \"etag\": \"d5cfdecf-12c2-442d-a2ef-8aa8f523bad8\",\r\n      \"tags\": null,\r\n      \"properties\": {\r\n        \"clusterVersion\": \"3.6.1000.3\",\r\n        \"[...]
[...]
