{
  "Entries": [
    {
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/Api-Default4528/providers/Microsoft.ApiManagement/service/hydraapimservice3107/apis/aid3390?api-version=2014-02-14&path=wadlapi",
      "RequestMethod": "PUT",
      "RequestBody": "<application xmlns=\"http://wadl.dev.java.net/2009/02\" xmlns:tns=\"urn:yahoo:yn\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:ya=\"urn:yahoo:api\" xmlns:yn=\"urn:yahoo:yn\" xsi:schemaLocation=\"http://wadl.dev.java.net/2009/02 wadl.xsd\">\r\n  <doc title=\"Yahoo News Search\">Yahoo News Search API</doc>\r\n  <grammars>\r\n    <xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"urn:yahoo:api\" targetNamespace=\"urn:yahoo:api\" elementFormDefault=\"qualified\">\r\n      <xs:element name=\"Error\" type=\"xs:string\" />\r\n    </xs:schema>\r\n    <xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"urn:yahoo:yn\" targetNamespace=\"urn:yahoo:yn\" elementFormDefault=\"qualified\">\r\n      <xs:element name=\"ResultSet\">\r\n        <xs:complexType>\r\n          <xs:sequence>\r\n            <xs:element name=\"Result\" type=\"ResultType\" minOccurs=\"0\" maxOccurs=\"50\" />\r\n          </xs:sequence>\r\n          <xs:attribute name=\"totalResultsAvailable\" type=\"xs:integer\" />\r\n          <xs:attribute name=\"totalResultsReturned\" type=\"xs:integer\" />\r\n          <xs:attribute name=\"firstResultPosition\" type=\"xs:integer\" />\r\n        </xs:complexType>\r\n      </xs:element>\r\n      <xs:complexType name=\"ResultType\">\r\n        <xs:sequence>\r\n          <xs:element name=\"Title\" type=\"xs:string\" />\r\n          <xs:element name=\"Summary\" type=\"xs:string\" />\r\n          <xs:element name=\"Url\" type=\"xs:string\" />\r\n          <xs:element name=\"ClickUrl\" type=\"xs:string\" />\r\n          <xs:element name=\"NewsSource\" type=\"xs:string\" />\r\n          <xs:element name=\"NewsSourceUrl\" type=\"xs:string\" />\r\n          <xs:element name=\"Language\" type=\"xs:string\" />\r\n          <xs:element name=\"PublishDate\" type=\"xs:string\" />\r\n          <xs:element name=\"ModificationDate\" type=\"xs:string\" minOccurs=\"0\" />\r\n          <xs:element name=\"Thumbnail\" type=\"ImageType\" minOccurs=\"0\" />\r\n        </xs:sequence>\r\n      </xs:complexType>\r\n      <xs:complexType name=\"ImageType\">\r\n        <xs:sequence>\r\n          <xs:element name=\"Url\" type=\"xs:string\" />\r\n          <xs:element name=\"Height\" type=\"xs:integer\" minOccurs=\"0\" />\r\n          <xs:element name=\"Width\" type=\"xs:integer\" minOccurs=\"0\" />\r\n        </xs:sequence>\r\n      </xs:complexType>\r\n    </xs:schema>\r\n  </grammars>\r\n  <resources base=\"http://api.search.yahoo.com/NewsSearchService/V1/\">\r\n    <resource path=\"newsSearch?willbeIgnored={willbeIgnored}\">\r\n      <method name=\"GET\" id=\"search\">\r\n        <request>\r\n          <param name=\"appid\" type=\"xsd:string\" style=\"query\" required=\"true\" />\r\n          <param name=\"query\" type=\"xsd:string\" style=\"query\" required=\"true\" />\r\n          <param name=\"type\" style=\"query\" default=\"all\">\r\n            <option value=\"all\" />\r\n            <option value=\"any\" />\r\n            <option value=\"phrase\" />\r\n          </param>\r\n          <param name=\"results\" style=\"query\" type=\"xsd:int\" default=\"\" />\r\n          <param name=\"start\" style=\"query\" type=\"xsd:int\" default=\"1\" />\r\n          <param name=\"sort\" style=\"query\" default=\"rank\">\r\n            <option value=\"rank\" />\r\n            <option value=\"date\" />\r\n          </param>\r\n          <param name=\"language\" style=\"query\" type=\"xsd:string\" />\r\n        </request>\r\n        <response status=\"200\">\r\n          <representation mediaType=\"application/xml\" element=\"yn:ResultSet\" />\r\n        </response>\r\n        <response status=\"400\">\r\n          <representation mediaType=\"application/xml\" element=\"ya:Error\" />\r\n        </response>\r\n      </method>\r\n    </resource>\r\n  </resources>\r\n</application>",
      "RequestHeaders": {
        "Content-Type": [
          "application/vnd.sun.wadl+xml"
        ],
        "If-Match": [
          "*"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/Api-Default4528/providers/Microsoft.ApiManagement/service/hydraapimservice3107/apis/aid3390?api-version=2014-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/apis/aid3390\",\r\n  \"name\": \"Yahoo News Search\",\r\n  \"description\": \"Yahoo News Search API\",\r\n  \"serviceUrl\": \"http://api.search.yahoo.com/NewsSearchService/V1/\",\r\n  \"path\": \"wadlapi\",\r\n  \"protocols\": [\r\n    \"https\"\r\n  ],\r\n  \"authenticationSettings\": {\r\n    \"oAuth2\": null\r\n  },\r\n  \"subscriptionKeyParameterNames\": {\r\n    \"header\": \"Ocp-Apim-Subscription-Key\",\r\n    \"query\": \"subscription-key\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14973"
        ],
        "ETag": [
          "\"AAAAAAAACBs=\""
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/Api-Default4528/providers/Microsoft.ApiManagement/service/hydraapimservice3107/apis/aid3390?api-version=2014-02-14",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "If-Match": [
          "*"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "ApiImportExport": [
      "aid3390"
    ]
  },
  "Variables": {
    "SubscriptionId": "a200340d-6b82-494d-9dbf-687ba6e33f9e"
  }
}