{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/openidProviders/openId2431?api-version=2014-02-14",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"openIdName4774\",\r\n  \"metadataEndpoint\": \"https://provider7183.endpoint9702\",\r\n  \"clientId\": \"clientId1039\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/openidProviders/openId2431?api-version=2014-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/openidConnectProviders/openId2431\",\r\n  \"name\": \"openIdName4774\",\r\n  \"description\": null,\r\n  \"metadataEndpoint\": \"https://provider7183.endpoint9702\",\r\n  \"clientId\": \"clientId1039\",\r\n  \"clientSecret\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "ETag": [
          "\"AAAAAAAACHw=\""
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/openidProviders/openId2431?api-version=2014-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"OpenidConnectProvider not found.\",\r\n    \"details\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/openidProviders?api-version=2014-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/openidConnectProviders/openId2431\",\r\n      \"name\": \"openIdName4774\",\r\n      \"description\": null,\r\n      \"metadataEndpoint\": \"https://provider7183.endpoint9702\",\r\n      \"clientId\": \"clientId1039\",\r\n      \"clientSecret\": null\r\n    },\r\n    {\r\n      \"id\": \"/openidConnectProviders/openId1092\",\r\n      \"name\": \"openIdName5602\",\r\n      \"description\": \"description9598\",\r\n      \"metadataEndpoint\": \"https://provider1339.endpoint7343\",\r\n      \"clientId\": \"clientId203\",\r\n      \"clientSecret\": \"clientSecret736\"\r\n    }\r\n  ],\r\n  \"count\": 2,\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/openidProviders?api-version=2014-02-14&$top=1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/openidConnectProviders/openId2431\",\r\n      \"name\": \"openIdName4774\",\r\n      \"description\": null,\r\n      \"metadataEndpoint\": \"https://provider7183.endpoint9702\",\r\n      \"clientId\": \"clientId1039\",\r\n      \"clientSecret\": null\r\n    }\r\n  ],\r\n  \"count\": 2,\r\n  \"nextLink\": \"https://management.azure.com:443/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/openidProviders?api-version=2014-02-14&%24top=1&%24skip=1\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/openidProviders/openId2431?api-version=2014-02-14",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "If-Match": [
          "\"AAAAAAAACHw=\""
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/openidProviders/openId1092?api-version=2014-02-14",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "If-Match": [
          "\"AAAAAAAACH4=\""
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "OpenIdConnectProviderCreateUpdateDeleteList": [
      "openId2431",
      "openIdName4774",
      "clientId1039",
      "openId1092",
      "openIdName5602",
      "clientId203",
      "clientSecret736",
      "description9598",
      "updatedClient6651"
    ],
    "GetHttpsUrl": [
      "provider7183",
      "endpoint9702",
      "provider1339",
      "endpoint7343",
      "provider1008",
      "endpoint396"
    ]
  },
  "Variables": {
    "SubscriptionId": "3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f"
  }
}