{
  "Entries": [
    {
      "RequestUri": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/Api-Default9285/providers/Microsoft.ApiManagement/service/hydraapimservice9937/openidConnectProviders/openId9002?api-version=2016-07-07",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"openIdName7436\",\r\n  \"metadataEndpoint\": \"https://provider2709.endpoint7920\",\r\n  \"clientId\": \"clientId9948\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/Api-Default9285/providers/Microsoft.ApiManagement/service/hydraapimservice9937/openidConnectProviders/openId9002?api-version=2016-07-07",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/openidConnectProviders/openId9002\",\r\n  \"name\": \"openIdName7436\",\r\n  \"description\": null,\r\n  \"metadataEndpoint\": \"https://provider2709.endpoint7920\",\r\n  \"clientId\": \"clientId9948\",\r\n  \"clientSecret\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14948"
        ],
        "ETag": [
          "\"AAAAAAAACHE=\""
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/Api-Default9285/providers/Microsoft.ApiManagement/service/hydraapimservice9937/openidConnectProviders/openId9002?api-version=2016-07-07",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"OpenidConnectProvider not found.\",\r\n    \"details\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14944"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/Api-Default9285/providers/Microsoft.ApiManagement/service/hydraapimservice9937/openidConnectProviders?api-version=2016-07-07",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/openidConnectProviders/openId9437\",\r\n      \"name\": \"openIdName6172\",\r\n      \"description\": \"description7211\",\r\n      \"metadataEndpoint\": \"https://provider1934.endpoint9720\",\r\n      \"clientId\": \"clientId6612\",\r\n      \"clientSecret\": \"clientSecret6537\"\r\n    },\r\n    {\r\n      \"id\": \"/openidConnectProviders/openId9002\",\r\n      \"name\": \"openIdName7436\",\r\n      \"description\": null,\r\n      \"metadataEndpoint\": \"https://provider2709.endpoint7920\",\r\n      \"clientId\": \"clientId9948\",\r\n      \"clientSecret\": null\r\n    }\r\n  ],\r\n  \"count\": 2,\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14946"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/Api-Default9285/providers/Microsoft.ApiManagement/service/hydraapimservice9937/openidConnectProviders?api-version=2016-07-07&$top=1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/openidConnectProviders/openId9437\",\r\n      \"name\": \"openIdName6172\",\r\n      \"description\": \"description7211\",\r\n      \"metadataEndpoint\": \"https://provider1934.endpoint9720\",\r\n      \"clientId\": \"clientId6612\",\r\n      \"clientSecret\": \"clientSecret6537\"\r\n    }\r\n  ],\r\n  \"count\": 2,\r\n  \"nextLink\": \"https://management.azure.com:443/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/Api-Default9285/providers/Microsoft.ApiManagement/service/hydraapimservice9937/openidConnectProviders?api-version=2016-07-07&%24top=1&%24skip=1\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14945"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/Api-Default9285/providers/Microsoft.ApiManagement/service/hydraapimservice9937/openidConnectProviders/openId9002?api-version=2016-07-07",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "If-Match": [
          "\"AAAAAAAACHE=\""
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ]
      },
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/Api-Default9285/providers/Microsoft.ApiManagement/service/hydraapimservice9937/openidConnectProviders/openId9437?api-version=2016-07-07",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "If-Match": [
          "\"AAAAAAAACHM=\""
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1188"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "OpenIdConnectProviderCreateUpdateDeleteList": [
      "openId9002",
      "openIdName7436",
      "clientId9948",
      "openId9437",
      "openIdName6172",
      "clientId6612",
      "clientSecret6537",
      "description7211",
      "updatedClient9674"
    ],
    "GetHttpsUrl": [
      "provider2709",
      "endpoint7920",
      "provider1934",
      "endpoint9720",
      "provider3789",
      "endpoint5231"
    ]
  },
  "Variables": {
    "SubscriptionId": "20010222-2b48-4245-a95c-090db6312d5f"
  }
}