{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/tenant/access/git?api-version=2014-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"57158aed97afa706c4030004\",\r\n  \"primaryKey\": \"PBHZjlCyLDATur60S29xr8yNQP8MHPY+xC3zc/xMZ18D38Rm854I6EKKE0FeSwPl9Ld9m7W2c0/zCxpl77856Q==\",\r\n  \"secondaryKey\": \"axf+4uyENjnJkfAgu/o5wYb/i4c6m54hm5i+s8uewYqdkJGLSAnynIMUhh2zsqZ8nB2JM7IvO9QYkt8U5v9vtg==\",\r\n  \"enabled\": false\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14988"
        ],
        "ETag": [
          "\"AAAAAAAAB9kAAAAAAAAAAA==\""
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/tenant/access/git?api-version=2014-02-14",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"enabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "If-Match": [
          "\"AAAAAAAAB9kAAAAAAAAAAA==\""
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/tenant/configuration/syncState?api-version=2014-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"branch\": null,\r\n  \"commitId\": null,\r\n  \"isExport\": false,\r\n  \"isSynced\": false,\r\n  \"isGitEnabled\": true,\r\n  \"syncDate\": null,\r\n  \"configurationChangeDate\": \"2016-04-19T01:56:54.8854624Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14986"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/tenant/configuration/save?api-version=2014-02-14",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"branch\": \"master\",\r\n  \"force\": false\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/tenant/operationResults/571590753f73170438d50b38?api-version=2014-02-14"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/tenant/operationResults/571590753f73170438d50b38?api-version=2014-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"571590753f73170438d50b38\",\r\n  \"status\": \"InProgress\",\r\n  \"started\": \"2016-04-19T01:57:10.293\",\r\n  \"updated\": \"2016-04-19T01:57:10.64\",\r\n  \"resultInfo\": null,\r\n  \"error\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14985"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/tenant/configuration/validate?api-version=2014-02-14",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"branch\": \"master\",\r\n  \"force\": false\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/tenant/operationResults/571590c33f73170438d50b3d?api-version=2014-02-14"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/tenant/operationResults/571590c33f73170438d50b3d?api-version=2014-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"571590c33f73170438d50b3d\",\r\n  \"status\": \"Failed\",\r\n  \"started\": \"2016-04-19T01:58:27.31\",\r\n  \"updated\": \"2016-04-19T01:58:36.387\",\r\n  \"resultInfo\": null,\r\n  \"error\": {\r\n    \"code\": \"InternalServerError\",\r\n    \"message\": \"Request processing failed due to internal error.\",\r\n    \"details\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14980"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/tenant/configuration/deploy?api-version=2014-02-14",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"branch\": \"master\",\r\n  \"force\": false\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/tenant/operationResults/571590d23f73170438d50b41?api-version=2014-02-14"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f/resourceGroups/Api-Default1194/providers/Microsoft.ApiManagement/service/hydraapimservice7157/tenant/operationResults/571590d23f73170438d50b41?api-version=2014-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"571590d23f73170438d50b41\",\r\n  \"status\": \"Failed\",\r\n  \"started\": \"2016-04-19T01:58:42.82\",\r\n  \"updated\": \"2016-04-19T01:59:01.237\",\r\n  \"resultInfo\": null,\r\n  \"error\": {\r\n    \"code\": \"InternalServerError\",\r\n    \"message\": \"Request processing failed due to internal error.\",\r\n    \"details\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14978"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "3ddc931e-3fed-40fd-8ea7-8e56fbfaa27f"
  }
}