{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11955"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "49d64d54-e966-4c46-a868-1999802b762c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Az WaaS Test 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/SdkRg-SVICrud75036028?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SdkRg-SVICrud75036028",
        "name": "SdkRg-SVICrud75036028",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "Created": "20220630"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SdkRg-SVICrud75036028/providers/Microsoft.Workloads/sapVirtualInstances/F97?api-version=2021-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {
          "environment": "NonProd",
          "sapProduct": "S4HANA",
          "configuration": {
            "appLocation": "eastus",
            "infrastructureConfiguration": {
              "subnetId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-vnet/subnets/loopsubnet",
              "virtualMachineConfiguration": {
                "vmSize": "Standard_E32ds_v4",
                "imageReference": {
                  "publisher": "RedHat",
                  "offer": "RHEL-SAP-HA",
                  "sku": "84sapha-gen2",
                  "version": "8.4.2021091202"
                },
                "osProfile": {
                  "adminUsername": "adminuser",
                  "osConfiguration": {
                    "disablePasswordAuthentication": true,
                    "ssh": {
                      "publicKeys": [
                        {
                          "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDPasKQ7pRBFzDsyM3y8UiH\u002BZvhDeGzqUsuTPktiz/YJeufmgjWnKqYTuZX/tLhSAtX/imG9dBDCLEe5bxLtOn1m2i1vRCfsh2NxNqVxSl2GRXTnsC9Ehw5PHqXQhxSHNItDD1K6vKlydVw7DhmJgkl\u002B1Og7WPdxeO/D6YQr1ogmaQHoK2A0AJyH9HXGbNtIiFUuPers8sKhzYztPSZCO9EZvYTB7quNSa7usgv6CByiJ2MOre/RuLaE7B7lRKhysjeIn1M\u002BfQ3xKxW9cXsJhAHTgbqO2peydz5TLpP0S9XuIna0O5pQEXFgUnfdX/W6NT94Vl/Cqs8obSfQntZ/QmGvr1Qb27ZBSQ24eIsYDfr1mI423TuXwUr\u002B1AEvaSCapgRBnDaV3nBzk9qp1kIIGWRGpaz6qb3ahYpDGP\u002BA8lABy19rBk\u002B/Kmfb9N8qkUK7kdNytHeusKoR0kzhW8xpctCnd/13oN3gXbps0Tx8O2E5w7n\u002BBIDNodxEGxzdYD1hh0= generated-by-azure"
                        }
                      ]
                    },
                    "osType": "Linux"
                  }
                }
              },
              "deploymentType": "SingleServer",
              "appResourceGroup": "SdkRg-SVICrud75036028"
            },
            "configurationType": "Deployment"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/b3f4eb61-b70d-4535-b267-9a54a8a3c522*DB9A7910A492D03D14895046E6FEC8028216DC929322129DA685976487508794?api-version=2021-12-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222a001891-0000-0200-0000-62bd70770000\u0022",
        "Location": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SdkRg-SVICrud75036028/providers/Microsoft.Workloads/sapVirtualInstances/F97",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SdkRg-SVICrud75036028/providers/Microsoft.Workloads/sapVirtualInstances/F97",
        "name": "F97",
        "type": "microsoft.workloads/sapvirtualinstances",
        "location": "eastus2",
        "tags": {},
        "systemData": {
          "createdBy": "98f50aef-4bc8-4929-bba1-7d6928d5465a",
          "createdByType": "Application",
          "createdAt": "2022-06-30T09:44:21.7802498Z",
          "lastModifiedBy": "98f50aef-4bc8-4929-bba1-7d6928d5465a",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-06-30T09:44:21.7802498Z"
        },
        "properties": {
          "environment": "NonProd",
          "sapProduct": "S4HANA",
          "configuration": {
            "configurationType": "Deployment",
            "appLocation": "eastus",
            "infrastructureConfiguration": {
              "deploymentType": "SingleServer",
              "subnetId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.Network/virtualNet[...]
