{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "49d64d54-e966-4c46-a868-1999802b762c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Az WaaS Test 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/SdkRg-SVICrud31667373?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SdkRg-SVICrud31667373",
        "name": "SdkRg-SVICrud31667373",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "Created": "20220705"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SdkRg-SVICrud31667373/providers/Microsoft.Workloads/sapVirtualInstances/F97?api-version=2021-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "e2e-test": "SVISingleServer"
        },
        "location": "eastus2euap",
        "properties": {
          "environment": "NonProd",
          "sapProduct": "S4HANA",
          "configuration": {
            "appLocation": "eastus",
            "infrastructureConfiguration": {
              "subnetId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-vnet/subnets/loopsubnet",
              "virtualMachineConfiguration": {
                "vmSize": "Standard_E32ds_v4",
                "imageReference": {
                  "publisher": "RedHat",
                  "offer": "RHEL-SAP-HA",
                  "sku": "84sapha-gen2",
                  "version": "8.4.2021091202"
                },
                "osProfile": {
                  "adminUsername": "adminuser",
                  "osConfiguration": {
                    "disablePasswordAuthentication": true,
                    "ssh": {
                      "publicKeys": [
                        {
                          "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDJI2Ey49Mri226LUDDXNo6qGW5UaIdJpKOqKg4lWZjVhkFXSCCtKNaq4HXYS3q0yT0FUN053GPc0D0RHiiirYSgszuKmay3rMoZjbjkLwT81FT/1hri6p4zwLzguvHk\u002B2jbgOEo4zrWB9a6JTXXT6XiR/HCxWr2RZHGy5cFOqNqrKxNE3cALn5Y8YeKVuuBCvUBo\u002ByW/zjD469AelAxvtI0x6KkYFFLCZwUvRBVM\u002BGelH0v9Iy3L6Wbam4sA1rl\u002BA8poEzE0ZkIX5d74EdDxroBFUGe9FPxWtuUL0aTflsxV9guk3n9HSm5QPW1vPzoaWEbc7Iano8hgCUjhILIK1xoXp469an\u002BDc1vY6OG8GmLmqMworqKTXHXFHMM9Gb\u002BMEhRPZsgqMG9tywkQt\u002BharK5wsM5xVCqcNLKTSLCS77eZ/KakalVF/rxKXDoeAhA3ueTSvo1EDZAhDvBoVREebsjHBk2vIE2zosdnnS7vdsadeI8O7HqjWBk0Xo4agIjrE= generated-by-azure\r\n"
                        }
                      ]
                    },
                    "osType": "Linux"
                  }
                }
              },
              "deploymentType": "SingleServer",
              "appResourceGroup": "SdkRg-SVICrud31667373"
            },
            "configurationType": "Deployment"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/ae733c4b-54ca-4e81-8c17-35943e50a00b*018DDED6A093A29DF43B45C8C3648852B5279719B7A8F287DBFCF597A28B426A?api-version=2021-12-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002203003f09-0000-3400-0000-62c3db9a0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SdkRg-SVICrud31667373/providers/Microsoft.Workloads/sapVirtualInstances/F97",
        "name": "F97",
        "type": "microsoft.workloads/sapvirtualinstances",
        "location": "eastus2euap",
        "tags": {
          "e2e-test": "SVISingleServer"
        },
        "systemData": {
          "createdBy": "98f50aef-4bc8-4929-bba1-7d6928d5465a",
          "createdByType": "Application",
          "createdAt": "2022-07-05T06:35:06.356129Z",
          "lastModifiedBy": "98f50aef-4bc8-4929-bba1-7d6928d5465a",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-07-05T06:35:06.356129Z"
        },
        "properties": {
          "environment": "NonProd",
          "sapProduct": "S4HANA",
          "configuration": {
            "appLocation": "eastus",
            "infrastructureConfiguration": {
              "subnetId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-vnet/subnets/loopsubnet",
              "virtualMachineConfiguration": {
       [...]
