{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "49d64d54-e966-4c46-a868-1999802b762c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Az WaaS Test 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/svi-loop-test-register-30Jun-avzone-44?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/svi-loop-test-register-30Jun-avzone-44",
        "name": "svi-loop-test-register-30Jun-avzone-44",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "tags": {
          "Created": "20220630"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/svi-loop-test-register-30Jun-avzone-44/providers/Microsoft.Workloads/sapVirtualInstances/E61?api-version=2021-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002202008308-0000-3400-0000-62bd6b570000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/svi-loop-test-register-30Jun-avzone-44/providers/Microsoft.Workloads/sapVirtualInstances/E61",
        "name": "E61",
        "type": "microsoft.workloads/sapvirtualinstances",
        "location": "eastus2euap",
        "tags": {
          "e2e-test": "SVIThreeTierHAAvZone"
        },
        "systemData": {
          "createdBy": "d4b3c6a3-2fd1-4f46-b0c1-37220ff8d54d",
          "createdByType": "Application",
          "createdAt": "2022-06-30T05:25:48.0187661Z",
          "lastModifiedBy": "ea21b132-560f-4b0b-9876-903b6bca7b9d",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-06-30T09:22:31.4879022Z"
        },
        "properties": {
          "environment": "NonProd",
          "sapProduct": "S4HANA",
          "configuration": {
            "configurationType": "Deployment",
            "appLocation": "eastus",
            "infrastructureConfiguration": {
              "deploymentType": "ThreeTier",
              "centralServer": {
                "subnetId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-vnet/subnets/loopsubnet",
                "virtualMachineConfiguration": {
                  "vmSize": "Standard_E8ds_v4",
                  "imageReference": {
                    "sku": "gen2",
                    "publisher": "SUSE",
                    "version": "2022.01.26",
                    "offer": "sles-sap-15-sp3"
                  },
                  "osProfile": {
                    "adminUsername": "adminuser",
                    "osConfiguration": {
                      "osType": "Linux",
                      "disablePasswordAuthentication": true,
                      "ssh": {
                        "publicKeys": [
                          {
                            "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDPasKQ7pRBFzDsyM3y8UiH\u002BZvhDeGzqUsuTPktiz/YJeufmgjWnKqYTuZX/tLhSAtX/imG9dBDCLEe5bxLtOn1m2i1vRCfsh2NxNqVxSl2GRXTnsC9Ehw5PHqXQhxSHNItDD1K6vKlydVw7DhmJgkl\u002B1Og7WPdxeO/D6YQr1ogmaQHoK2A0AJyH9HXGbNtIiFUuPers8sKhzYztPSZCO9EZvYTB7quNSa7usgv6CByiJ2MOre/RuLaE7B7lRKhysjeIn1M\u002BfQ3xKxW9cXsJhAHTgbqO2peydz5TLpP0S9XuIna0O5pQEXFgUnfdX/W6NT94Vl/Cqs8obSfQntZ/QmGvr1Qb27ZBSQ24eIsYDfr1mI423TuXwUr\u002B1AEvaSCapgRBnDaV3nBzk9qp1kIIGWRGpaz6qb3ahYpDGP\u002BA8lABy19rBk\u002B/Kmfb9N8qkUK7kdNytHeusKoR0kzhW8xpctCnd/13oN3gXbps0Tx8O2E5w7n\u002BBIDNodxEGxzdYD1hh0= generated-by-azure"
                          }
                        ]
                      }
                    }
                  }
                },
                "instanceCount": 2
              },
              "applicationServer": {
                "subnetId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-vnet/subnets/loopsubnet",
                "virtualMachineConfiguration": {
                  "vmSize": "Standard_E4ds_v4",
                  "imageReference": {
                    "sku": "gen2",
                    "publisher": "SUSE",
                    "version": "2022.01.26",
                    "offer": "sles-sap-15-[...]
