{
  "Entries": [
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "query": "query"
        },
        "dataSourceType": "SqlServer",
        "dataFeedName": "dataFeedXPPtTUtT",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "metric"
          }
        ],
        "dimension": [
          {
            "dimensionName": "dimensionA"
          },
          {
            "dimensionName": "dimensionB"
          }
        ],
        "dataStartFrom": "2022-01-01T00:00:00.0000000Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/4008f037-63c5-4a3a-abfd-0e5fec442051"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/4008f037-63c5-4a3a-abfd-0e5fec442051",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "4008f037-63c5-4a3a-abfd-0e5fec442051",
        "dataFeedName": "dataFeedXPPtTUtT",
        "metrics": [
          {
            "metricId": "88ce501b-b852-4a49-8b2d-116d4aeb6eb8",
            "metricName": "metric",
            "metricDisplayName": "metric",
            "metricDescription": ""
          }
        ],
        "dimension": [
          {
            "dimensionName": "dimensionA",
            "dimensionDisplayName": "dimensionA"
          },
          {
            "dimensionName": "dimensionB",
            "dimensionDisplayName": "dimensionB"
          }
        ],
        "dataStartFrom": "2022-01-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2022-04-19T04:01:24Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "query": "query"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "dataFeedx2U6eOAR",
        "metricId": "88ce501b-b852-4a49-8b2d-116d4aeb6eb8",
        "wholeMetricConfiguration": {
          "hardThresholdCondition": {
            "upperBound": 1,
            "anomalyDetectorDirection": "Up",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 1
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/6a333902-b287-4107-86bb-a2e7c716891d"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/6a333902-b287-4107-86bb-a2e7c716891d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "6a333902-b287-4107-86bb-a2e7c716891d",
        "name": "dataFeedx2U6eOAR",
        "description": "",
        "metricId": "88ce501b-b852-4a49-8b2d-116d4aeb6eb8",
        "wholeMetricConfiguration": {
          "hardThresholdCondition": {
            "upperBound": 1.0,
            "anomalyDetectorDirection": "Up",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 1.0
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [],
        "seriesOverrideConfigurations": []
      }
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "configir6JJ3rK",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "6a333902-b287-4107-86bb-a2e7c716891d",
            "anomalyScopeType": "Dimension",
            "dimensionAnomalyScope": {
              "dimension": {
                "dimensionA": "Delhi"
              }
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/caee9a26-5fe9-4af7-84c7-93b07f387fa3"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/caee9a26-5fe9-4af7-84c7-93b07f387fa3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "caee9a26-5fe9-4af7-84c7-93b07f387fa3",
        "name": "configir6JJ3rK",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "6a333902-b287-4107-86bb-a2e7c716891d",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "dimensionA": "Delhi"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/4008f037-63c5-4a3a-abfd-0e5fec442051",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "ga-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1843208965"
  }
}
