{
  "Entries": [
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "query": "query"
        },
        "dataSourceType": "SqlServer",
        "dataFeedName": "dataFeedaAk5vAi0",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "metric"
          }
        ],
        "dimension": [
          {
            "dimensionName": "dimensionA"
          },
          {
            "dimensionName": "dimensionB"
          }
        ],
        "dataStartFrom": "2022-01-01T00:00:00.0000000Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/9ae70daa-0cb7-4dab-aac3-0259a1568efb"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/9ae70daa-0cb7-4dab-aac3-0259a1568efb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "9ae70daa-0cb7-4dab-aac3-0259a1568efb",
        "dataFeedName": "dataFeedaAk5vAi0",
        "metrics": [
          {
            "metricId": "0b32eb3c-f887-4aa6-84d9-82f5eb3b8739",
            "metricName": "metric",
            "metricDisplayName": "metric",
            "metricDescription": ""
          }
        ],
        "dimension": [
          {
            "dimensionName": "dimensionA",
            "dimensionDisplayName": "dimensionA"
          },
          {
            "dimensionName": "dimensionB",
            "dimensionDisplayName": "dimensionB"
          }
        ],
        "dataStartFrom": "2022-01-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2022-04-19T04:00:26Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "query": "query"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "dataFeed25IxxLUa",
        "metricId": "0b32eb3c-f887-4aa6-84d9-82f5eb3b8739",
        "wholeMetricConfiguration": {
          "hardThresholdCondition": {
            "upperBound": 1,
            "anomalyDetectorDirection": "Up",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 1
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/7d98c3b3-5994-4e4b-8387-82618a7818cb"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/7d98c3b3-5994-4e4b-8387-82618a7818cb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "7d98c3b3-5994-4e4b-8387-82618a7818cb",
        "name": "dataFeed25IxxLUa",
        "description": "",
        "metricId": "0b32eb3c-f887-4aa6-84d9-82f5eb3b8739",
        "wholeMetricConfiguration": {
          "hardThresholdCondition": {
            "upperBound": 1.0,
            "anomalyDetectorDirection": "Up",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 1.0
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [],
        "seriesOverrideConfigurations": []
      }
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "configGKsVjuq9",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "7d98c3b3-5994-4e4b-8387-82618a7818cb",
            "anomalyScopeType": "All"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/06a1f0c8-54eb-49dc-b8fb-452c1c75fe05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/06a1f0c8-54eb-49dc-b8fb-452c1c75fe05",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "06a1f0c8-54eb-49dc-b8fb-452c1c75fe05",
        "name": "configGKsVjuq9",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "7d98c3b3-5994-4e4b-8387-82618a7818cb",
            "anomalyScopeType": "All",
            "negationOperation": false
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/06a1f0c8-54eb-49dc-b8fb-452c1c75fe05",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "code": "Not Found",
        "message": "Not found this AnomalyAlertingConfiguration. TraceId: cd2d6d0d-c9b3-49b0-b7b9-3147c281971f"
      }
    },
[...]
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/9ae70daa-0cb7-4dab-aac3-0259a1568efb",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "ga-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1705128895"
  }
}
