{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "hookParameter": {
          "endpoint": "http://contoso.com"
        },
        "hookType": "Webhook",
        "hookName": "hookw4cgJZAG"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/894de0a3-56db-44ab-af03-ea3223fa27eb"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "configsvjeElq2",
        "crossMetricsOperator": "XOR",
        "hookIds": [
          "894de0a3-56db-44ab-af03-ea3223fa27eb"
        ],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
            "anomalyScopeType": "All",
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "Medium"
            },
            "snoozeFilter": {
              "autoSnooze": 12,
              "snoozeScope": "Series",
              "onlyForSuccessive": true
            },
            "valueFilter": {
              "lower": 10,
              "upper": 20,
              "direction": "Both",
              "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
              "triggerForMissing": true
            }
          },
          {
            "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
            "anomalyScopeType": "All",
            "negationOperation": true
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/ba3a1685-ef31-40bd-a99f-f7ba435d1c38"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/ba3a1685-ef31-40bd-a99f-f7ba435d1c38",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "ba3a1685-ef31-40bd-a99f-f7ba435d1c38",
        "name": "configsvjeElq2",
        "description": "",
        "crossMetricsOperator": "XOR",
        "hookIds": [
          "894de0a3-56db-44ab-af03-ea3223fa27eb"
        ],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "Medium"
            },
            "snoozeFilter": {
              "autoSnooze": 12,
              "snoozeScope": "Series",
              "onlyForSuccessive": true
            },
            "valueFilter": {
              "lower": 10.0,
              "upper": 20.0,
              "direction": "Both",
              "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
              "triggerForMissing": true
            }
          },
          {
            "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
            "anomalyScopeType": "All",
            "negationOperation": true
          }
        ]
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/ba3a1685-ef31-40bd-a99f-f7ba435d1c38",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "configsvjeElq2",
        "description": "This hook was created to test the .NET client.",
        "crossMetricsOperator": "AND",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Medium",
              "maxAlertSeverity": "High"
            },
            "valueFilter": {
              "lower": 5,
              "upper": 15,
              "direction": "Both",
              "triggerForMissing": false
            }
          },
          {
            "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
            "anomalyScopeType": "TopN",
            "negationOperation": true,
            "topNAnomalyScope": {
              "top": 50,
              "period": 40,
              "minTopCount": 30
            },
            "snoozeFilter": {
              "autoSnooze": 4,
              "snoozeScope": "Metric",
              "onlyForSuccessive": true
            }
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/894de0a3-56db-44ab-af03-ea3223fa27eb",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "952237586"
  }
}