{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "hookParameter": {
          "endpoint": "http://contoso.com"
        },
        "hookType": "Webhook",
        "hookName": "hookNOAhi9yH"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/ff3d00d3-7038-446b-b39d-f05eb1587d31"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "configrfjAAr3b",
        "crossMetricsOperator": "XOR",
        "hookIds": [
          "ff3d00d3-7038-446b-b39d-f05eb1587d31"
        ],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
            "anomalyScopeType": "All",
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "Medium"
            },
            "snoozeFilter": {
              "autoSnooze": 12,
              "snoozeScope": "Series",
              "onlyForSuccessive": true
            },
            "valueFilter": {
              "lower": 10,
              "upper": 20,
              "direction": "Both",
              "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
              "triggerForMissing": true
            }
          },
          {
            "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
            "anomalyScopeType": "All",
            "negationOperation": true
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/1182562b-b950-4948-b44e-909c6778f016"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/1182562b-b950-4948-b44e-909c6778f016",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "1182562b-b950-4948-b44e-909c6778f016",
        "name": "configrfjAAr3b",
        "description": "",
        "crossMetricsOperator": "XOR",
        "hookIds": [
          "ff3d00d3-7038-446b-b39d-f05eb1587d31"
        ],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "Medium"
            },
            "snoozeFilter": {
              "autoSnooze": 12,
              "snoozeScope": "Series",
              "onlyForSuccessive": true
            },
            "valueFilter": {
              "lower": 10.0,
              "upper": 20.0,
              "direction": "Both",
              "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
              "triggerForMissing": true
            }
          },
          {
            "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
            "anomalyScopeType": "All",
            "negationOperation": true
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/ff3d00d3-7038-446b-b39d-f05eb1587d31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "RandomSeed": "1743892646"
  }
}