{
  "Entries": [
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "query": "query"
        },
        "dataSourceType": "SqlServer",
        "dataFeedName": "dataFeedohn4ybiW",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "metric"
          }
        ],
        "dimension": [
          {
            "dimensionName": "dimensionA"
          },
          {
            "dimensionName": "dimensionB"
          }
        ],
        "dataStartFrom": "2022-01-01T00:00:00.0000000Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/52c75867-14b8-4172-8622-5662f99c4260"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/52c75867-14b8-4172-8622-5662f99c4260",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "52c75867-14b8-4172-8622-5662f99c4260",
        "dataFeedName": "dataFeedohn4ybiW",
        "metrics": [
          {
            "metricId": "bcf59571-79bd-49d3-82f6-ccea59ccb9ae",
            "metricName": "metric",
            "metricDisplayName": "metric",
            "metricDescription": ""
          }
        ],
        "dimension": [
          {
            "dimensionName": "dimensionA",
            "dimensionDisplayName": "dimensionA"
          },
          {
            "dimensionName": "dimensionB",
            "dimensionDisplayName": "dimensionB"
          }
        ],
        "dataStartFrom": "2022-01-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2022-04-19T04:00:33Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "query": "query"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "dataFeedmPYDag2d",
        "metricId": "bcf59571-79bd-49d3-82f6-ccea59ccb9ae",
        "wholeMetricConfiguration": {
          "hardThresholdCondition": {
            "upperBound": 1,
            "anomalyDetectorDirection": "Up",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 1
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/84f75ff1-a605-4bfd-9e85-efad0a5a94c1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/84f75ff1-a605-4bfd-9e85-efad0a5a94c1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "84f75ff1-a605-4bfd-9e85-efad0a5a94c1",
        "name": "dataFeedmPYDag2d",
        "description": "",
        "metricId": "bcf59571-79bd-49d3-82f6-ccea59ccb9ae",
        "wholeMetricConfiguration": {
          "hardThresholdCondition": {
            "upperBound": 1.0,
            "anomalyDetectorDirection": "Up",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 1.0
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [],
        "seriesOverrideConfigurations": []
      }
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "hookParameter": {
          "toList": [
            "fake@email.com"
          ]
        },
        "hookType": "Email",
        "hookName": "hooka7XxXbYN"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/39ad34cb-2ab9-4079-9567-43f13afd1c11"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/39ad34cb-2ab9-4079-9567-43f13afd1c11",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "39ad34cb-2ab9-4079-9567-43f13afd1c11",
        "hookName": "hooka7XxXbYN",
        "hookType": "Email",
        "externalLink": "",
        "description": "",
        "admins": [
          "foo@contoso.com"
        ],
        "hookParameter": {
          "toList": [
            "fake@email.com"
          ]
        }
      }
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "configkTAMOMtM",
        "crossMetricsOperator": "XOR",
        "hookIds": [
          "39ad34cb-2ab9-4079-9567-43f13afd1c11"
        ],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "84f75ff1-a605-4bfd-9e85-efad0a5a94c1",
            "anomalyScopeType": "All",
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "Medium"
            },
            "snoozeFilter": {
              "autoSnooze": 12,
              "snoozeScope": "Series",
              "onlyForSuccessive": true
            },
            "valueFilter": {
              "lower": 10,
              "upper": 20,
              "direction": "Both",
              "metricId": "bcf59571-79bd-49d3-82f6-ccea59ccb9ae",
              "triggerForMissing": true
            }
          },
          {
            "anomalyDetectionConfigurationId": "84f75ff1-a605-4bfd-9e85-efad0a5a94c1",
            "anomalyScopeType": "All",
            "negationOperation": true
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/ae030759-c160-48e8-965c-0fe8d25706e8"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/ae030759-c160-48e8-965c-0fe8d25706e8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "ae030759-c160-48e8-965c-0fe8d25706e8",
        "name": "configkTAMOMtM",
        "description": "",
        "crossMetricsOperator": "XOR",
        "splitAlertByDimensions": [],
        "hookIds": [
          "39ad34cb-2ab9-4079-9567-43f13afd1c11"
        ],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "84f75ff1-a605-4bfd-9e85-efad0a5a94c1",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "Medium"
            },
            "snoozeFilter": {
              "autoSnooze": 12,
              "snoozeScope": "Series",
              "onlyForSuccessive": true
            },
            "valueFilter": {
              "lower": 10.0,
              "upper": 20.0,
              "direction": "Both",
              "metricId": "bcf59571-79bd-49d3-82f6-ccea59ccb9ae",
              "triggerForMissing": true,
              "type": "Value"
            }
          },
          {
            "anomalyDetectionConfigurationId": "84f75ff1-a605-4bfd-9e85-efad0a5a94c1",
            "anomalyScopeType": "All",
            "negationOperation": true
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/52c75867-14b8-4172-8622-5662f99c4260",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "ga-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "772888120"
  }
}
