{
  "Entries": [
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "query": "query"
        },
        "dataSourceType": "SqlServer",
        "dataFeedName": "dataFeedjFO6CUag",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "metric"
          }
        ],
        "dimension": [
          {
            "dimensionName": "dimensionA"
          },
          {
            "dimensionName": "dimensionB"
          }
        ],
        "dataStartFrom": "2022-01-01T00:00:00.0000000Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/d5482a8a-9565-498c-8326-60eb3c53465b"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/d5482a8a-9565-498c-8326-60eb3c53465b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "d5482a8a-9565-498c-8326-60eb3c53465b",
        "dataFeedName": "dataFeedjFO6CUag",
        "metrics": [
          {
            "metricId": "3fdf11b7-be34-444e-b35d-4d48a3fad45b",
            "metricName": "metric",
            "metricDisplayName": "metric",
            "metricDescription": ""
          }
        ],
        "dimension": [
          {
            "dimensionName": "dimensionA",
            "dimensionDisplayName": "dimensionA"
          },
          {
            "dimensionName": "dimensionB",
            "dimensionDisplayName": "dimensionB"
          }
        ],
        "dataStartFrom": "2022-01-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2022-04-19T04:01:32Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "query": "query"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "dataFeedKvS6YhMd",
        "metricId": "3fdf11b7-be34-444e-b35d-4d48a3fad45b",
        "wholeMetricConfiguration": {
          "hardThresholdCondition": {
            "upperBound": 1,
            "anomalyDetectorDirection": "Up",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 1
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/61b9a201-4ea7-4b39-a4e1-aabd2f07fc85"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/61b9a201-4ea7-4b39-a4e1-aabd2f07fc85",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "61b9a201-4ea7-4b39-a4e1-aabd2f07fc85",
        "name": "dataFeedKvS6YhMd",
        "description": "",
        "metricId": "3fdf11b7-be34-444e-b35d-4d48a3fad45b",
        "wholeMetricConfiguration": {
          "hardThresholdCondition": {
            "upperBound": 1.0,
            "anomalyDetectorDirection": "Up",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 1.0
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [],
        "seriesOverrideConfigurations": []
      }
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "hookParameter": {
          "toList": [
            "fake@email.com"
          ]
        },
        "hookType": "Email",
        "hookName": "hookX71A9ADV"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/7f6dd8de-7150-4c54-8376-7b2d2f363809"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/7f6dd8de-7150-4c54-8376-7b2d2f363809",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "7f6dd8de-7150-4c54-8376-7b2d2f363809",
        "hookName": "hookX71A9ADV",
        "hookType": "Email",
        "externalLink": "",
        "description": "",
        "admins": [
          "foo@contoso.com"
        ],
        "hookParameter": {
          "toList": [
            "fake@email.com"
          ]
        }
      }
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "configcnIFiOVc",
        "crossMetricsOperator": "XOR",
        "hookIds": [
          "7f6dd8de-7150-4c54-8376-7b2d2f363809"
        ],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "61b9a201-4ea7-4b39-a4e1-aabd2f07fc85",
            "anomalyScopeType": "All",
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "Medium"
            },
            "snoozeFilter": {
              "autoSnooze": 12,
              "snoozeScope": "Series",
              "onlyForSuccessive": true
            },
            "valueFilter": {
              "lower": 10,
              "upper": 20,
              "direction": "Both",
              "metricId": "3fdf11b7-be34-444e-b35d-4d48a3fad45b",
              "triggerForMissing": true
            }
          },
          {
            "anomalyDetectionConfigurationId": "61b9a201-4ea7-4b39-a4e1-aabd2f07fc85",
            "anomalyScopeType": "All",
            "negationOperation": true
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/ea173200-cc43-458c-b3ab-6e6cbe090871"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/ea173200-cc43-458c-b3ab-6e6cbe090871",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "ea173200-cc43-458c-b3ab-6e6cbe090871",
        "name": "configcnIFiOVc",
        "description": "",
        "crossMetricsOperator": "XOR",
        "splitAlertByDimensions": [],
        "hookIds": [
          "7f6dd8de-7150-4c54-8376-7b2d2f363809"
        ],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "61b9a201-4ea7-4b39-a4e1-aabd2f07fc85",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "Medium"
            },
            "snoozeFilter": {
              "autoSnooze": 12,
              "snoozeScope": "Series",
              "onlyForSuccessive": true
            },
            "valueFilter": {
              "lower": 10.0,
              "upper": 20.0,
              "direction": "Both",
              "metricId": "3fdf11b7-be34-444e-b35d-4d48a3fad45b",
              "triggerForMissing": true,
              "type": "Value"
            }
          },
          {
            "anomalyDetectionConfigurationId": "61b9a201-4ea7-4b39-a4e1-aabd2f07fc85",
            "anomalyScopeType": "All",
            "negationOperation": true
          }
        ]
      }
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/ea173200-cc43-458c-b3ab-6e6cbe090871",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "configcnIFiOVc",
        "description": "This hook was created to test the .NET client.",
        "crossMetricsOperator": "AND",
        "splitAlertByDimensions": [
          "dimensionA"
        ],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "61b9a201-4ea7-4b39-a4e1-aabd2f07fc85",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Medium",
              "maxAlertSeverity": "High"
            },
            "valueFilter": {
              "lower": 5,
              "upper": 15,
              "direction": "Both",
              "type": "Mean",
              "triggerForMissing": false
            }
          },
          {
            "anomalyDetectionConfigurationId": "61b9a201-4ea7-4b39-a4e1-aabd2f07fc85",
            "anomalyScopeType": "TopN",
            "negationOperation": true,
            "topNAnomalyScope": {
              "top": 50,
              "period": 40,
              "minTopCount": 30
            },
            "snoozeFilter": {
              "autoSnooze": 4,
              "snoozeScope": "Metric",
              "onlyForSuccessive": true
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "ea173200-cc43-458c-b3ab-6e6cbe090871",
        "name": "configcnIFiOVc",
        "description": "This hook was[...]
[...]
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/d5482a8a-9565-498c-8326-60eb3c53465b",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "ga-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1578612346"
  }
}
