{
  "Entries": [
    {
      "RequestUri": "https://csharp-linux-westus-2.azure-devices.net/devices/IdentityLifecycleDevice1709111919?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "IdentityLifecycleDevice1709111919"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022NjAyNjM5Nw==\u0022"
      },
      "ResponseBody": {
        "deviceId": "IdentityLifecycleDevice1709111919",
        "generationId": "637305341233122486",
        "etag": "NjAyNjM5Nw==",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "yAhSKqF1bMkMCvhNdx8x6tsDarSJBBvFsFp7tyr0g9A=",
            "secondaryKey": "FEwKTEi9oXYo2JIZPEI0s2UQwDFTtqT0NKt\u002Bxvpa7LY="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        }
      }
    },
    {
      "RequestUri": "https://csharp-linux-westus-2.azure-devices.net/devices/IdentityLifecycleDevice1709111919/modules/IdentityLifecycleModule81781974?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "moduleId": "IdentityLifecycleModule81781974",
        "deviceId": "IdentityLifecycleDevice1709111919"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "moduleId": "IdentityLifecycleModule81781974",
        "managedBy": null,
        "deviceId": "IdentityLifecycleDevice1709111919",
        "generationId": "637305341233591311",
        "etag": "NjAwODY4Mzgw",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "2Tawzs8yCot1Ux245BJu9d50EGliu9/UY5T0h0DAgZY=",
            "secondaryKey": "YQ62VMfN9fPlYXGNzR/vdPH9yYyguBs4W6GPn6oVtgM="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        }
      }
    },
[...]
    {
      "RequestUri": "https://csharp-linux-westus-2.azure-devices.net/devices/IdentityLifecycleDevice1709111919?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=csharp-linux-westus-2.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "902369367"
  }
}