{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/bulkDeviceUpdate1990292153?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "bulkDeviceUpdate1990292153"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022MzU1MzMxNTY4\u0022"
      },
      "ResponseBody": {
        "deviceId": "bulkDeviceUpdate1990292153",
        "generationId": "637315714279891558",
        "etag": "MzU1MzMxNTY4",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "oIHVMjV4iZhPLfJY8Qkg1sdBRo79YN71YS7GZk7T5FE=",
            "secondaryKey": "YTkqwEANBxAhKomBVMC8uaHU8ssP0HUhPOJjCVJvyVw="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/bulkDeviceUpdate1990292153/modules/bulkModuleUpdate1487464634?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "moduleId": "bulkModuleUpdate1487464634",
        "deviceId": "bulkDeviceUpdate1990292153",
        "authentication": {
          "type": "sas"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "moduleId": "bulkModuleUpdate1487464634",
        "managedBy": null,
        "deviceId": "bulkDeviceUpdate1990292153",
        "generationId": "637315714280516506",
        "etag": "MTAwOTkxNzM1NA==",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "5hHr/Adeyp327/O43X3w0uWD1uGWLHJRJ8DHXaciOM8=",
            "secondaryKey": "FmJXHMCVT/6NGse\u002B1QQorQqmHlaU2mPH1DQS7jFdZtc="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        }
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022bulkDeviceUpdate1990292153\u0022,\u0022moduleId\u0022:\u0022bulkModuleUpdate1487464634\u0022,\u0022importMode\u0022:\u0022update\u0022,\u0022authentication\u0022:{\u0022type\u0022:\u0022selfSigned\u0022}},{\u0022id\u0022:\u0022[...]
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/bulkDeviceUpdate1990292153?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "1373101306"
  }
}