{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag1533314784?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "UpdateWithETag1533314784"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022NzQ1MTYxNzQ=\u0022"
      },
      "ResponseBody": {
        "deviceId": "UpdateWithETag1533314784",
        "generationId": "637335625068880178",
        "etag": "NzQ1MTYxNzQ=",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "y8fjVcQFBgb0CJLiFrw252WF57vXdLvy1YmcIdj1xy8=",
            "secondaryKey": "\u002BsG7BskfeAmtQYYFCzsZimkY5Z2W/02J95ugFXG1aC0="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag1533314784/modules/UpdateWithETag122992285?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "moduleId": "UpdateWithETag122992285",
        "deviceId": "UpdateWithETag1533314784"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "moduleId": "UpdateWithETag122992285",
        "managedBy": null,
        "deviceId": "UpdateWithETag1533314784",
        "generationId": "637335625069587256",
        "etag": "ODc4OTM2MTc1",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "RzMCcfYnqplkape13Q55eeYKQiIoZ1M2NxS6WlbEyak=",
            "secondaryKey": "byoBUgRy3wTMsUjindtOg2pvBpPZnVKM/D1VytZ0xwM="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        }
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag1533314784/modules/UpdateWithETag122992285?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022ODc4OTM2MTc1\u0022"
      },
      "RequestBody": {
        "moduleId": "UpdateWithETag122992285",
        "managedBy": "SomeOtherChangedValue",
        "deviceId": "UpdateWithETag1533314784",
        "generationId": "637335625069587256",
        "etag": "ODc4OTM2MTc1",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00Z",
        "lastActivityTime": "0001-01-01T00:00:00Z",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "RzMCcfYnqplkape13Q55eeYKQiIoZ1M2NxS6WlbEyak=",
            "secondaryKey": "byoBUgRy3wTMsUjindtOg2pvBpPZnVKM/D1VytZ0xwM="
          },
          "x509Thumbprint": {},
          "type": "sas"
        }
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "iothub-errorcode": "PreconditionFailed"
      },
      "ResponseBody": {
        "Message": "ErrorCode:PreconditionFailed;PreconditionFailed",
        "ExceptionMessage": "Tracking ID:e15b1680a84b409a8ee18149d9fa8154-G:3-TimeStamp:08/20/2020 23:21:47"
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag1533314784?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==",
    "RandomSeed": "116004528"
  }
}