{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/TwinLifecycleDevice1651260581?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "TwinLifecycleDevice1651260581"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022NjE2NjE5MjAx\u0022"
      },
      "ResponseBody": {
        "deviceId": "TwinLifecycleDevice1651260581",
        "generationId": "637334789522917500",
        "etag": "NjE2NjE5MjAx",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "Wt6WsuPfvM5PJNRpCRpYekLWcJehIFQkp0we\u002BWoYglk=",
            "secondaryKey": "1X0v4WEsBGlOcbvHtRIpqXnTN0jDvMsM9GBXNkY5Aco="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/TwinLifecycleDevice1651260581/modules/TwinLifecycleModule672370684?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "moduleId": "TwinLifecycleModule672370684",
        "deviceId": "TwinLifecycleDevice1651260581"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "moduleId": "TwinLifecycleModule672370684",
        "managedBy": null,
        "deviceId": "TwinLifecycleDevice1651260581",
        "generationId": "637334789523216757",
        "etag": "ODI2MTk3MjIw",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "BmBzUhHxigLCtzRvv\u002BnIYY/5U7em4IFXaOTjL2J5mnA=",
            "secondaryKey": "/hXgT2UTg3jrXkW/dF8zeSAZ\u002B5nxyYt3Udgf0Q3IgnI="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        }
      }
    },
    {
      "RequestUri": "https://FakeHost.net/twins/TwinLifecycleDevice1651260581/modules/TwinLifecycleModule672370684?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "deviceId": "TwinLifecycleDevice1651260581",
        "moduleId": "TwinLifecycleModule672370684",
        "etag": "AAAAAAAAAAE=",
        "deviceEtag": "ODI2MTk3MjIw",
        "status": "enabled",
        "statusUpdateTime": "0001-01-01T00:00:00Z",
        "connectionState": "Disconnected",
        "lastActivityTime": "0001-01-01T00:00:00Z",
        "cloudToDeviceMessageCount": 0,
        "authenticationType": "sas",
        "x509Thumbprint": {
          "primaryThumbprint": null,
          "secondaryThumbprint": null
        },
        "version": 2,
        "properties": {
          "desired": {
            "$metadata": {
              "$lastUpdated": "0001-01-01T00:00:00Z"
            },
            "$version": 1
          },
          "reported": {
            "$metadata": {
              "$lastUpdated": "0001-01-01T00:00:00Z"
            },
            "$version": 1
          }
        }
      }
    },
    {
      "RequestUri": "https://FakeHost.net/twins/TwinLifecycleDevice1651260581/modules/TwinLifecycleModule672370684?api-version=2020-03-13",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*"
      },
      "RequestBody": {
        "deviceId": "TwinLifecycleDevice1651260581",
        "moduleId": "TwinLifecycleModule672370684",
        "properties": {
          "desired": {
            "$metadata": {
              "$lastUpdated": "0001-01-01T00:00:00Z"
            },
            "$version": 1,
            "username": "userA"
          },
          "reported": {
            "$metadata": {
              "$lastUpdated": "0001-01-01T00:00:00Z"
            },
            "$version": 1
          }
        },
        "etag": "AAAAAAAAAAE=",
        "version": 2,
        "deviceEtag": "ODI2MTk3MjIw",
        "status": "enabled",
        "statusUpdateTime": "0001-01-01T00:00:00Z",
        "connectionState": "Disconnected",
        "lastActivityTime": "0001-01-01T00:00:00Z",
        "cloudToDeviceMessageCount": 0,
  [...]
    {
      "RequestUri": "https://FakeHost.net/twins/TwinLifecycleDevice1651260581/modules/TwinLifecycleModule672370684?api-version=2020-03-13",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022AAAAAAAAAAE=\u0022"
      },
      "RequestBody": {
        "deviceId": "TwinLifecycleDevice1651260581",
        "moduleId": "TwinLifecycleModule672370684",
        "properties": {
          "desired": {
            "$metadata": {
              "$lastUpdated": "0001-01-01T00:00:00Z"
            },
            "$version": 1,
            "username": "userA"
          },
          "reported": {
            "$metadata": {
              "$lastUpdated": "0001-01-01T00:00:00Z"
            },
            "$version": 1
          }
        },
        "etag": "AAAAAAAAAAE=",
        "version": 2,
        "deviceEtag": "ODI2MTk3MjIw",
        "status": "enabled",
        "statusUpdateTime": "0001-01-01T00:00:00Z",
        "connectionState": "Disconnected",
        "lastActivityTime": "0001-01-01T00:00:00Z",
        "cloudToDeviceMessageCount": 0,
        "authenticationType": "sas",
        "x509Thumbprint": {}
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "iothub-errorcode": "PreconditionFailed"
      },
      "ResponseBody": {
        "Message": "ErrorCode:PreconditionFailed;ETag mismatch for device ID \u0027TwinLifecycleDevice1651260581\u0027",
        "ExceptionMessage": "Tracking ID:58cf045bfd604645a00c89d0505894a0-TimeStamp:08/20/2020 00:09:12"
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/TwinLifecycleDevice1651260581?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==",
    "RandomSeed": "1094421636"
  }
}