{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag405634285?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "UpdateWithETag405634285"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022NTIyNTIzOTU4\u0022"
      },
      "ResponseBody": {
        "deviceId": "UpdateWithETag405634285",
        "generationId": "637335625031343982",
        "etag": "NTIyNTIzOTU4",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "6MF4jBgWgZeLrKsXHHMtsvv/2y\u002Bu4QoozpjSHg41EJQ=",
            "secondaryKey": "Ijd\u002BCNXeXfhN0bfYmeohdY0VQPdLwORJyQ1nKAQs6IM="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag405634285/modules/UpdateWithETag1986225016?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "moduleId": "UpdateWithETag1986225016",
        "deviceId": "UpdateWithETag405634285"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "moduleId": "UpdateWithETag1986225016",
        "managedBy": null,
        "deviceId": "UpdateWithETag405634285",
        "generationId": "637335625032003741",
        "etag": "NDI4ODg4MDgx",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "dvmA03ce1buF0Yc7C6vOJtA\u002BNJyX8v5CNXSQc3MKcf4=",
            "secondaryKey": "CNUboBXcm9IcP\u002B0n5ZoLKDJEmRzFCNc\u002Br6ARYbNRxzg="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        }
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag405634285/modules/UpdateWithETag1986225016?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022NDI4ODg4MDgx\u0022"
      },
      "RequestBody": "{\u0022moduleId\u0022:\u0022UpdateWithETag1986225016\u0022,\u0022managedBy\u0022:\u0022SomeOtherChangedValue\u0022,\u0022deviceId\u0022:\u0022UpdateWithETag405634285\u0022,\u0022generationId\u0022:\u0022637335625032003741\u0022,\u0022etag\u0022:\u0022NDI4ODg4MDgx\u0022,\u0022connectionState\u0022:\u0022Disconnected\u0022,\u0022connectionStateUpdatedTime\u0022:\u00220001-01-01T00:00:00Z\u0022,\u0022lastActivityTime\u0022:\u00220001-01-01T00:00:00Z\u0022,\u0022cloudToDeviceMessageCount\u0022:0,\u0022authentication\u0022:{\u0022symmetricKey\u0022:{\u0022primaryKey\u0022:\u0022dvmA03ce1buF0Yc7C6vOJtA\u002BNJyX8v5CNXSQc3MKcf4=\u0022,\u0022secondaryKey\u0022:\u0022CNUboBXcm9IcP\u002B0n5ZoLKDJEmRzFCNc\u002Br6ARYbNRxzg=\u0022},\u0022x509Thumbprint\u0022:{},\u0022type\u0022:\u0022sas\u0022}}",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "iothub-errorcode": "PreconditionFailed"
      },
      "ResponseBody": {
        "Message": "ErrorCode:PreconditionFailed;PreconditionFailed",
        "ExceptionMessage": "Tracking ID:c2e293f7999a46c28c539208c766f978-G:1-TimeStamp:08/20/2020 23:21:43"
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag405634285?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==",
    "RandomSeed": "518792752"
  }
}