{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/bulkDevice1268817015?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "bulkDevice1268817015"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022MzgzMTUyNjA1\u0022"
      },
      "ResponseBody": {
        "deviceId": "bulkDevice1268817015",
        "generationId": "637333788573383679",
        "etag": "MzgzMTUyNjA1",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "CSU35\u002BxcnJFtBcwYLeNvyK20CES5NZhIRiwITJswnFA=",
            "secondaryKey": "c0HymT0yj44RhDqwOi6aWVpMIGYF4MHIYQfTHOtLoIE="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022bulkDevice1268817015\u0022,\u0022moduleId\u0022:\u0022bulkModule1222956618\u0022,\u0022importMode\u0022:\u0022create\u0022},{\u0022id\u0022:\u0022bulkDevice1268817015\u0022,\u0022moduleId\u0022:\u0022bulkModule1701849614\u0022,[...]
    {
      "RequestUri": "https://FakeHost.net/devices/query?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "select * from devices.modules"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-item-type": "Twin"
      },
      "ResponseBody": "[{\u0022deviceId\u0022:\u0022bulkDeviceWithTwin278602410\u0022,\u0022moduleId\u0022:\u0022bulkModuleWithTwin1950068615\u0022,\u0022etag\u0022:\u0022AAAAAAAAAAE=\u0022,\u0022deviceEtag\u0022:\u0022MzEyMzU3ODk1\u0022,\u0022status\u0022:\u0022enabled\u0022,\u0022statusUpdateTime\u0022:\u00220001-01-01T00:00:00Z\u0022,\u0022connectionState\u0022:\u0022Disconnected\u0022,\u0022lastActivityTime\u0022:\u00220001-01-01T00:00:00Z\u0022,\u0022cloudToDeviceMessageCou[...]
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/bulkDevice1268817015?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "1790959606"
  }
}