{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag405634285?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "UpdateWithETag405634285"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ODE0MDgwODUy\u0022"
      },
      "ResponseBody": {
        "deviceId": "UpdateWithETag405634285",
        "generationId": "637334720216415285",
        "etag": "ODE0MDgwODUy",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "SnG0/KFFH0VdLuxhW2dAocsG8gxucZ8IvXKaBwx6IlQ=",
            "secondaryKey": "HaN0j/DQeEJqrvlZDGt5jh1Y16ucXoLgoiJOYWhOBmc="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag405634285/modules/UpdateWithETag1986225016?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "moduleId": "UpdateWithETag1986225016",
        "deviceId": "UpdateWithETag405634285"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "moduleId": "UpdateWithETag1986225016",
        "managedBy": null,
        "deviceId": "UpdateWithETag405634285",
        "generationId": "637334720216715264",
        "etag": "MTAyMzY1ODg3MQ==",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "nS9epsacEpo3MK8Bzq6R4lfS5UY7ejOwO/b9tA03miw=",
            "secondaryKey": "9c0uaXOOasY0vNCqY2Tkl7PYf\u002B2th1C1jd\u002BPbaGLWHw="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        }
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag405634285/modules/UpdateWithETag1986225016?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022MTAyMzY1ODg3MQ==\u0022"
      },
      "RequestBody": "{\u0022moduleId\u0022:\u0022UpdateWithETag1986225016\u0022,\u0022managedBy\u0022:\u0022SomeOtherChangedValue\u0022,\u0022deviceId\u0022:\u0022UpdateWithETag405634285\u0022,\u0022generationId\u0022:\u0022637334720216715264\u0022,\u0022etag\u0022:\u0022MTAyMzY1ODg3MQ==\u0022,\u0022connectionState\u0022:\u0022Disconnected\u0022,\u0022connectionStateUpdatedTime\u0022:\u00220001-01-01T00:00:00Z\u0022,\u0022lastActivityTime\u0022:\u00220001-01-01T00:00:00Z\u0022,\u0022cloudToDeviceMessageCount\u0022:0,\u0022authentication\u0022:{\u0022symmetricKey\u0022:{\u0022primaryKey\u0022:\u0022nS9epsacEpo3MK8Bzq6R4lfS5UY7ejOwO/b9tA03miw=\u0022,\u0022secondaryKey\u0022:\u00229c0uaXOOasY0vNCqY2Tkl7PYf\u002B2th1C1jd\u002BPbaGLWHw=\u0022},\u0022x509Thumbprint\u0022:{},\u0022type\u0022:\u0022sas\u0022}}",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "iothub-errorcode": "PreconditionFailed"
      },
      "ResponseBody": {
        "Message": "ErrorCode:PreconditionFailed;PreconditionFailed",
        "ExceptionMessage": "Tracking ID:8016d0ce5d594062958afc51e5049f8e-G:7-TimeStamp:08/19/2020 22:13:46"
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag405634285?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==",
    "RandomSeed": "518792752"
  }
}