{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/IdentityLifecycleDevice2082359738?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "IdentityLifecycleDevice2082359738"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022NjY1NDgzMzQ1\u0022"
      },
      "ResponseBody": {
        "deviceId": "IdentityLifecycleDevice2082359738",
        "generationId": "637335579338252074",
        "etag": "NjY1NDgzMzQ1",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "FLw6Ds2d6oiYE3aBe\u002BKYeWXqDqcnUsvuF2RUN5wsKuY=",
            "secondaryKey": "Sznif9E4r2EX2rViZtovAQRwEPLMZhR7kSrKmRV0hHI="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/IdentityLifecycleDevice2082359738/modules/IdentityLifecycleModule0-1964812919?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "moduleId": "IdentityLifecycleModule0-1964812919",
        "deviceId": "IdentityLifecycleDevice2082359738"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "moduleId": "IdentityLifecycleModule0-1964812919",
        "managedBy": null,
        "deviceId": "IdentityLifecycleDevice2082359738",
        "generationId": "637335579338910445",
        "etag": "NTcxODQ3NDY4",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "Vn3dd3kCq39/CS1zGqByk41iP71CCdmn7DaEmaRmxBw=",
            "secondaryKey": "BqXxSmkx\u002B\u002BHGyGsJuTW4ILlIulAsgKHKvi4wq4lo9YY="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        }
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/IdentityLifecycleDevice2082359738/modules?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\u0022moduleId\u0022:\u0022IdentityLifecycleModule0-1964812919\u0022,\u0022managedBy\u0022:null,\u0022de[...]
    {
      "RequestUri": "https://FakeHost.net/devices/IdentityLifecycleDevice2082359738?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==",
    "RandomSeed": "484546377"
  }
}