{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/TwinLifecycleDevice1651260581?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "TwinLifecycleDevice1651260581"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022NjE5Njk5ODc2\u0022"
      },
      "ResponseBody": {
        "deviceId": "TwinLifecycleDevice1651260581",
        "generationId": "637333788604481314",
        "etag": "NjE5Njk5ODc2",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "GCLheSwTwqn0NIXXooWENGo6xsuTrvVe\u002BkeeqEfWY4g=",
            "secondaryKey": "62lxc/AGnPtN26C5SY76nbQVFsWaIimZfVCpBfHrnGU="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/TwinLifecycleDevice1651260581/modules/TwinLifecycleModule672370684?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "moduleId": "TwinLifecycleModule672370684",
        "deviceId": "TwinLifecycleDevice1651260581"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "moduleId": "TwinLifecycleModule672370684",
        "managedBy": null,
        "deviceId": "TwinLifecycleDevice1651260581",
        "generationId": "637333788604793873",
        "etag": "ODI5Mjc3ODk1",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "z3pnbwd54uzyE283\u002B7UaVnvVXZP4Nd9TknXUlki5KvM=",
            "secondaryKey": "WBLKnR1WWLnIE2ou\u002BLJPWGxG1y3rAv9NBlsRxmR\u002BJfw="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        }
      }
    },
    {
      "RequestUri": "https://FakeHost.net/twins/TwinLifecycleDevice1651260581/modules/TwinLifecycleModule672370684?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "deviceId": "TwinLifecycleDevice1651260581",
        "moduleId": "TwinLifecycleModule672370684",
        "etag": "AAAAAAAAAAE=",
        "deviceEtag": "ODI5Mjc3ODk1",
        "status": "enabled",
        "statusUpdateTime": "0001-01-01T00:00:00Z",
        "connectionState": "Disconnected",
        "lastActivityTime": "0001-01-01T00:00:00Z",
        "cloudToDeviceMessageCount": 0,
        "authenticationType": "sas",
        "x509Thumbprint": {
          "primaryThumbprint": null,
          "secondaryThumbprint": null
        },
        "version": 2,
        "properties": {
          "desired": {
            "$metadata": {
              "$lastUpdated": "0001-01-01T00:00:00Z"
            },
            "$version": 1
          },
          "reported": {
            "$metadata": {
              "$lastUpdated": "0001-01-01T00:00:00Z"
            },
            "$version": 1
          }
        }
      }
    },
    {
      "RequestUri": "https://FakeHost.net/twins/TwinLifecycleDevice1651260581/modules/TwinLifecycleModule672370684?api-version=2020-03-13",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*"
      },
      "RequestBody": {
        "deviceId": "TwinLifecycleDevice1651260581",
        "moduleId": "TwinLifecycleModule672370684",
        "properties": {
          "desired": {
            "$metadata": {
              "$lastUpdated": "0001-01-01T00:00:00Z"
            },
            "$version": 1,
            "username": "userA"
          },
          "reported": {
            "$metadata": {
              "$lastUpdated": "0001-01-01T00:00:00Z"
            },
            "$version": 1
          }
        },
        "etag": "AAAAAAAAAAE=",
        "version": 2,
        "deviceEtag": "ODI5Mjc3ODk1",
        "status": "enabled",
        "statusUpdateTime": "0001-01-01T00:00:00.0000000Z",
        "connectionState": "Disconnected",
        "lastActivityTime": "0001-01-01T00:00:00.0000000Z",
        "cloudToDeviceMess[...]
    {
      "RequestUri": "https://FakeHost.net/twins/TwinLifecycleDevice1651260581/modules/TwinLifecycleModule672370684?api-version=2020-03-13",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022AAAAAAAAAAE=\u0022"
      },
      "RequestBody": {
        "deviceId": "TwinLifecycleDevice1651260581",
        "moduleId": "TwinLifecycleModule672370684",
        "properties": {
          "desired": {
            "$metadata": {
              "$lastUpdated": "0001-01-01T00:00:00Z"
            },
            "$version": 1,
            "username": "userA"
          },
          "reported": {
            "$metadata": {
              "$lastUpdated": "0001-01-01T00:00:00Z"
            },
            "$version": 1
          }
        },
        "etag": "AAAAAAAAAAE=",
        "version": 2,
        "deviceEtag": "ODI5Mjc3ODk1",
        "status": "enabled",
        "statusUpdateTime": "0001-01-01T00:00:00.0000000Z",
        "connectionState": "Disconnected",
        "lastActivityTime": "0001-01-01T00:00:00.0000000Z",
        "cloudToDeviceMessageCount": 0,
        "authenticationType": "sas",
        "x509Thumbprint": {}
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "iothub-errorcode": "PreconditionFailed"
      },
      "ResponseBody": {
        "Message": "ErrorCode:PreconditionFailed;ETag mismatch for device ID \u0027TwinLifecycleDevice1651260581\u0027",
        "ExceptionMessage": "Tracking ID:732ea773f76f4243a199c08104accaa2-TimeStamp:08/18/2020 20:21:00"
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/TwinLifecycleDevice1651260581?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "1094421636"
  }
}