{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/bulkDeviceWithTwin278602410?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "bulkDeviceWithTwin278602410"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022MzcyMTAxNjk5\u0022"
      },
      "ResponseBody": {
        "deviceId": "bulkDeviceWithTwin278602410",
        "generationId": "637333788554073300",
        "etag": "MzcyMTAxNjk5",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "xbEohmNRyZUbbaX3qB6ppqVW9pUuFUeQl0DtQy4XA64=",
            "secondaryKey": "Fj61XALNyQw8mr6mymmBLifeeDeB/J8CrJWPOZg9sxE="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022bulkDeviceWithTwin278602410\u0022,\u0022moduleId\u0022:\u0022bulkModuleWithTwin1950068615\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022properties\u0022:{\u0022desired\u0022:{\u0022user\u0022:\u0022userA\u0022}}},{\u002[...]
    {
      "RequestUri": "https://FakeHost.net/twins/bulkDeviceWithTwin278602410/modules/bulkModuleWithTwin1950068615?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "deviceId": "bulkDeviceWithTwin278602410",
        "moduleId": "bulkModuleWithTwin1950068615",
        "etag": "AAAAAAAAAAE=",
        "deviceEtag": "MzEyMzU3ODk1",
        "status": "enabled",
        "statusUpdateTime": "0001-01-01T00:00:00Z",
        "connectionState": "Disconnected",
        "lastActivityTime": "0001-01-01T00:00:00Z",
        "cloudToDeviceMessageCount": 0,
        "authenticationType": "sas",
        "x509Thumbprint": {
          "primaryThumbprint": null,
          "secondaryThumbprint": null
        },
        "version": 2,
        "properties": {
          "desired": {
            "user": "userA",
            "$metadata": {
              "$lastUpdated": "2020-08-18T20:20:55.5167036Z",
              "$lastUpdatedVersion": 1,
              "user": {
                "$lastUpdated": "2020-08-18T20:20:55.5167036Z",
                "$lastUpdatedVersion": 1
              }
            },
            "$version": 1
          },
          "reported": {
            "$metadata": {
              "$lastUpdated": "2020-08-18T20:20:55.5167036Z",
              "$lastUpdatedVersion": 1
            },
            "$version": 1
          }
        }
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/bulkDeviceWithTwin278602410?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "1402894610"
  }
}