{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/TwinLifecycleDevice796017923?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "TwinLifecycleDevice796017923"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022MzE0NjExMjIy\u0022"
      },
      "ResponseBody": {
        "deviceId": "TwinLifecycleDevice796017923",
        "generationId": "637333788583105266",
        "etag": "MzE0NjExMjIy",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "5LvZFEZDHE6WujTfC7q3jHya/vOtPkWIQpqp\u002BUWTchg=",
            "secondaryKey": "55b5awys6Noh5NZLPEksFyihYjOMRK7f3mK5IBXyxI4="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/TwinLifecycleDevice796017923/modules/TwinLifecycleModule2123975924?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "moduleId": "TwinLifecycleModule2123975924",
        "deviceId": "TwinLifecycleDevice796017923"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "moduleId": "TwinLifecycleModule2123975924",
        "managedBy": null,
        "deviceId": "TwinLifecycleDevice796017923",
        "generationId": "637333788583417833",
        "etag": "MTEzOTczMjY=",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "MUtPIHzrhIP0k62eTTHzc3Cn2rifUP0pVa\u002BzRwyB/3k=",
            "secondaryKey": "\u002B9Ib05gN0\u002BjwxV\u002Bd4C2suXiIbq5d9rm1WodlWv\u002BIxX0="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        }
      }
    },
    {
      "RequestUri": "https://FakeHost.net/twins/TwinLifecycleDevice796017923/modules/TwinLifecycleModule2123975924?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "deviceId": "TwinLifecycleDevice796017923",
        "moduleId": "TwinLifecycleModule2123975924",
        "etag": "AAAAAAAAAAE=",
        "deviceEtag": "MTEzOTczMjY=",
        "status": "enabled",
        "statusUpdateTime": "0001-01-01T00:00:00Z",
        "connectionState": "Disconnected",
        "lastActivityTime": "0001-01-01T00:00:00Z",
        "cloudToDeviceMessageCount": 0,
        "authenticationType": "sas",
        "x509Thumbprint": {
          "primaryThumbprint": null,
          "secondaryThumbprint": null
        },
        "version": 2,
        "properties": {
          "desired": {
            "$metadata": {
              "$lastUpdated": "0001-01-01T00:00:00Z"
            },
            "$version": 1
          },
          "reported": {
            "$metadata": {
              "$lastUpdated": "0001-01-01T00:00:00Z"
            },
            "$version": 1
          }
        }
      }
    },
    {
      "RequestUri": "https://FakeHost.net/twins/TwinLifecycleDevice796017923/modules/TwinLifecycleModule2123975924?api-version=2020-03-13",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*"
      },
      "RequestBody": {
        "deviceId": "TwinLifecycleDevice796017923",
        "moduleId": "TwinLifecycleModule2123975924",
        "properties": {
          "desired": {
            "$metadata": {
              "$lastUpdated": "0001-01-01T00:00:00Z"
            },
            "$version": 1,
            "username": "userA"
          },
          "reported": {
            "$metadata": {
              "$lastUpdated": "0001-01-01T00:00:00Z"
            },
            "$version": 1
          }
        },
        "etag": "AAAAAAAAAAE=",
        "version": 2,
        "deviceEtag": "MTEzOTczMjY=",
        "status": "enabled",
        "statusUpdateTime": "0001-01-01T00:00:00.0000000Z",
        "connectionState": "Disconnected",
        "lastActivityTime": "0001-01-01T00:00:00.0000000Z",
        "cloudToDeviceMess[...]
    {
      "RequestUri": "https://FakeHost.net/twins/TwinLifecycleDevice796017923/modules/TwinLifecycleModule2123975924?api-version=2020-03-13",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022AAAAAAAAAAE=\u0022"
      },
      "RequestBody": {
        "deviceId": "TwinLifecycleDevice796017923",
        "moduleId": "TwinLifecycleModule2123975924",
        "properties": {
          "desired": {
            "$metadata": {
              "$lastUpdated": "0001-01-01T00:00:00Z"
            },
            "$version": 1,
            "username": "userA"
          },
          "reported": {
            "$metadata": {
              "$lastUpdated": "0001-01-01T00:00:00Z"
            },
            "$version": 1
          }
        },
        "etag": "AAAAAAAAAAE=",
        "version": 2,
        "deviceEtag": "MTEzOTczMjY=",
        "status": "enabled",
        "statusUpdateTime": "0001-01-01T00:00:00.0000000Z",
        "connectionState": "Disconnected",
        "lastActivityTime": "0001-01-01T00:00:00.0000000Z",
        "cloudToDeviceMessageCount": 0,
        "authenticationType": "sas",
        "x509Thumbprint": {}
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "iothub-errorcode": "PreconditionFailed"
      },
      "ResponseBody": {
        "Message": "ErrorCode:PreconditionFailed;ETag mismatch for device ID \u0027TwinLifecycleDevice796017923\u0027",
        "ExceptionMessage": "Tracking ID:46a35b00420d434a990cc965d52e2f3a-TimeStamp:08/18/2020 20:20:58"
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/TwinLifecycleDevice796017923?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "789243263"
  }
}