{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9388/providers/Microsoft.Media/mediaservices/mediaservice5139?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11973"
      },
      "ResponseBody": {
        "name": "mediaservice5139",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9388/providers/Microsoft.Media/mediaservices/mediaservice5139",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "properties": {
          "mediaServiceId": "3e640383-238c-4c26-a282-c5f9818cd100",
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9388/providers/Microsoft.Storage/storageAccounts/azstorageformedia4474",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "encryption": {
            "type": "SystemKey"
          },
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9388/providers/Microsoft.Media/mediaServices/mediaservice5139/transforms/randomtransfer2117?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "outputs": [
            {
              "preset": {
                "@odata.type": "#Microsoft.Media.AudioAnalyzerPreset"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "name": "randomtransfer2117",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9388/providers/Microsoft.Media/mediaservices/mediaservice5139/transforms/randomtransfer2117",
        "type": "Microsoft.Media/mediaservices/transforms",
        "properties": {
          "created": "2022-08-17T08:24:52.6362651Z",
          "lastModified": "2022-08-17T08:24:52.6362651Z",
          "outputs": [
            {
              "onError": "StopProcessingJob",
              "relativePriority": "Normal",
              "preset": {
                "@odata.type": "#Microsoft.Media.AudioAnalyzerPreset",
                "mode": "Standard"
              }
            }
          ]
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-08-17T08:24:52.6362651Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-17T08:24:52.6362651Z"
        }
      }
    },
[...]
