{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": {
        "id": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "tenantId": "f1a380c7-4edb-405c-9ffb-015823f5b32c",
        "displayName": "PayG-UK-03-09-2021",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/providers/Microsoft.Capacity/catalogs?api-version=2022-11-01\u0026reservedResourceType=DataFactory\u0026location=eastus",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11975",
        "x-ms-version": "1.0.2251.115"
      },
      "ResponseBody": {
        "value": [
          {
            "resourceType": "DataFactory",
            "name": "datafactory_general_purpose_optimized",
            "terms": [
              "P1Y",
              "P3Y",
              "P5Y"
            ],
            "locations": [
              "eastus"
            ],
            "billingPlans": {
              "p1Y": [
                "Upfront",
                "Monthly"
              ],
              "p3Y": [
                "Upfront",
                "Monthly"
              ],
              "p5Y": [
                "Upfront",
                "Monthly"
              ]
            },
            "msrp": {
              "p1Y": {
                "currencyCode": "USD",
                "amount": 1690.0
              },
              "p3Y": {
                "currencyCode": "USD",
                "amount": 4668.0
              }
            },
            "skuProperties": [
              {
                "name": "Type",
                "value": "Data Flow - General Purpose"
              },
              {
                "name": "ProductShortName",
                "value": "Az Dta Factry v2 Dta Flow-GP"
              },
              {
                "name": "DeploymentType",
                "value": "Azure Data Factory v2 Data Flow"
              },
              {
                "name": "ProductTitle",
                "value": "Azure Data Factory v2 Data Flow - General Purpose"
              },
              {
                "name": "SkuName",
                "value": "vCore"
              },
              {
                "name": "MeterId",
                "value": "3942310a-a1e3-4df6-854c-70a18805957e"
              },
              {
                "name": "MeterType",
                "value": "1 vCore Hour"
              },
              {
                "name": "SkuDisplayName",
                "value": "vCore"
              },
              {
                "name": "billingPlans",
                "value": "[\u0022Upfront\u0022,\u0022Monthly\u0022]"
              }
            ],
            "restrictions": [
              {
                "type": "Term",
                "values": [
                  "P5Y"
                ],
                "reasonCode": "NotAvailableForSubscription"
              }
            ]
          },
          {
            "resourceType": "DataFactory",
            "name": "datafactory_memory_optimized",
            "terms": [
              "P1Y",
              "P3Y",
              "P5Y"
            ],
            "locations": [
              "eastus"
            ],
            "billingPlans": {
              "p1Y": [
                "Upfront",
                "Monthly"
              ],
              "p3Y": [
        [...]
