{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "id": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "costcenter": "1000"
        },
        "subscriptionId": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
        "displayName": "Azure subscription 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/providers/Microsoft.Capacity/catalogs?api-version=2022-11-01-beta\u0026reservedResourceType=RedHat",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11969",
        "x-ms-version": "1.0.2257.119"
      },
      "ResponseBody": {
        "value": [
          {
            "resourceType": "RedHat",
            "name": "rhel_1-4_vcpu",
            "terms": [
              "P1Y",
              "P3Y",
              "P5Y"
            ],
            "billingPlans": {
              "p1Y": [
                "Upfront"
              ],
              "p3Y": [
                "Upfront"
              ],
              "p5Y": [
                "Upfront"
              ]
            },
            "msrp": {
              "p1Y": {
                "currencyCode": "USD",
                "amount": 420.0
              }
            },
            "skuProperties": [
              {
                "name": "ProductShortName",
                "value": "Red Hat Ent Linux"
              },
              {
                "name": "ProductTitle",
                "value": "Red Hat Enterprise Linux"
              },
              {
                "name": "SkuName",
                "value": "1-4 vCPU VM"
              },
              {
                "name": "MeterId",
                "value": "4831a7b4-bdd4-48a2-8e95-18d053971ede"
              },
              {
                "name": "MeterType",
                "value": "1 4-vCPU VM License Hour"
              },
              {
                "name": "SkuDisplayName",
                "value": "1-4 vCPU VM"
              },
              {
                "name": "billingPlans",
                "value": "[\u0022Upfront\u0022]"
              }
            ],
            "restrictions": [
              {
                "type": "Term",
                "values": [
                  "P3Y"
                ],
                "reasonCode": "NotAvailableForSubscription"
              },
              {
                "type": "Term",
                "values": [
                  "P5Y"
                ],
                "reasonCode": "NotAvailableForSubscription"
              }
            ]
          },
          {
            "resourceType": "RedHat",
            "name": "rhel_5plus_vcpu",
            "terms": [
              "P1Y",
              "P3Y",
              "P5Y"
            ],
            "billingPlans": {
           [...]
