{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11953"
      },
      "ResponseBody": {
        "id": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "costcenter": "1000"
        },
        "subscriptionId": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
        "displayName": "Azure subscription 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/providers/Microsoft.Capacity/catalogs?api-version=2022-11-01-beta\u0026reservedResourceType=MariaDb\u0026location=eastus",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11952",
        "x-ms-version": "1.0.2257.119"
      },
      "ResponseBody": {
        "value": [
          {
            "resourceType": "MariaDb",
            "name": "azuredb_mariadb_general_purpose_compute_gen5",
            "terms": [
              "P1Y",
              "P3Y",
              "P5Y"
            ],
            "locations": [
              "eastus"
            ],
            "billingPlans": {
              "p1Y": [
                "Upfront",
                "Monthly"
              ],
              "p3Y": [
                "Upfront",
                "Monthly"
              ],
              "p5Y": [
                "Upfront",
                "Monthly"
              ]
            },
            "msrp": {
              "p1Y": {
                "currencyCode": "USD",
                "amount": 447.0
              },
              "p3Y": {
                "currencyCode": "USD",
                "amount": 903.0
              }
            },
            "skuProperties": [
              {
                "name": "ProductShortName",
                "value": "Az DB for MariaDB SS GP-Compute Gen5"
              },
              {
                "name": "DeploymentType",
                "value": "Azure Database for MariaDB"
              },
              {
                "name": "ProductTitle",
                "value": "Azure Database for MariaDB Single Server General Purpose - Compute Gen5"
              },
              {
                "name": "SkuName",
                "value": "vCore"
              },
              {
                "name": "MeterId",
                "value": "f4c59b85-f36f-4254-89ba-d89f349b4559"
              },
              {
                "name": "MeterType",
                "value": "1 vCore Hour"
              },
              {
                "name": "SkuDisplayName",
                "value": "vCore"
              },
              {
                "name": "billingPlans",
                "value": "[\u0022Upfront\u0022,\u0022Monthly\u0022]"
              }
            ],
            "restrictions": [
              {
                "type": "Term",
                "values": [
                  "P5Y"
                ],
                "reasonCode": "NotAvailableForSubscription"
              }
            ]
          },
          {
            "resourceType": "MariaDb",
            "name": "azuredb_mariadb_memory_optimized_compute_gen5",
            "terms": [
              "P1Y",
              "P3Y",
              "P5Y"
            ],
            "locations": [
              "eastus"
            ],
            "billingPlans": {
              "p1Y": [
                "Upfront",
                "Monthly"
              ],
              "p3Y[...]
