{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11915"
      },
      "ResponseBody": {
        "id": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "tenantId": "f1a380c7-4edb-405c-9ffb-015823f5b32c",
        "displayName": "PayG-UK-03-09-2021",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/providers/Microsoft.Capacity/catalogs?api-version=2022-11-01\u0026reservedResourceType=Databricks",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11914",
        "x-ms-version": "1.0.2251.115"
      },
      "ResponseBody": {
        "value": [
          {
            "resourceType": "Databricks",
            "name": "azure_databricks_1million_dbu_hours",
            "terms": [
              "P1Y",
              "P3Y",
              "P5Y"
            ],
            "billingPlans": {
              "p1Y": [
                "Upfront"
              ],
              "p3Y": [
                "Upfront"
              ],
              "p5Y": [
                "Upfront"
              ]
            },
            "msrp": {
              "p1Y": {
                "currencyCode": "USD",
                "amount": 730000.0
              }
            },
            "skuProperties": [
              {
                "name": "ReservedUnitCount",
                "value": "1000000"
              },
              {
                "name": "ReservationsAutofitGroup",
                "value": "Azure Databricks, Reservation"
              },
              {
                "name": "ReservationsAutofitRatio",
                "value": "1"
              },
              {
                "name": "ProductShortName",
                "value": "Azure Databricks"
              },
              {
                "name": "ProductTitle",
                "value": "Azure Databricks"
              },
              {
                "name": "SkuName",
                "value": "1 Million DBCUs"
              },
              {
                "name": "MeterId",
                "value": "b8f04bc8-3a4f-4b3a-9c37-a8f8b92da5d0"
              },
              {
                "name": "MeterType",
                "value": "1 DBU Hour"
              },
              {
                "name": "SkuDisplayName",
                "value": "1 Million DBCUs"
              },
              {
                "name": "billingPlans",
                "value": "[\u0022Upfront\u0022]"
              }
            ],
            "restrictions": [
              {
                "type": "Term",
                "values": [
                  "P3Y"
                ],
                "reasonCode": "NotAvailableForSubscription"
              },
              {
                "type": "Term",
                "values": [
                  "P5Y"
                ],
                "reasonCode": "NotAvailableForSubscription"
              }
            ]
          },
          {
            "resourceType": "Databricks",
            "name": "azure_databricks_350000_dbu_hours",
            "terms": [
              "P1Y",
              "P3Y",
              "P5Y"
            ],
            "billin[...]
