{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11964"
      },
      "ResponseBody": {
        "id": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "costcenter": "1000"
        },
        "subscriptionId": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
        "displayName": "Azure subscription 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/providers/Microsoft.Capacity/catalogs?api-version=2022-11-01-beta\u0026reservedResourceType=SapHana\u0026location=westus",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11963",
        "x-ms-version": "1.0.2257.119"
      },
      "ResponseBody": {
        "value": [
          {
            "resourceType": "SapHana",
            "name": "sap_hana_on_azure_s192m",
            "terms": [
              "P1Y",
              "P3Y",
              "P5Y"
            ],
            "locations": [
              "westus"
            ],
            "billingPlans": {
              "p1Y": [
                "Upfront",
                "Monthly"
              ],
              "p3Y": [
                "Upfront",
                "Monthly"
              ],
              "p5Y": [
                "Upfront",
                "Monthly"
              ]
            },
            "msrp": {
              "p1Y": {
                "currencyCode": "USD",
                "amount": 180204.0
              },
              "p3Y": {
                "currencyCode": "USD",
                "amount": 274536.0
              }
            },
            "skuProperties": [
              {
                "name": "ProductShortName",
                "value": "BareMetal Infrastructure"
              },
              {
                "name": "ProductTitle",
                "value": "BareMetal Infrastructure"
              },
              {
                "name": "SkuName",
                "value": "S192m"
              },
              {
                "name": "MeterId",
                "value": "bb1ce828-af10-40f6-9c8d-2c158d28e22b"
              },
              {
                "name": "MeterType",
                "value": "1 Instance Hour"
              },
              {
                "name": "SkuDisplayName",
                "value": "S192m"
              },
              {
                "name": "billingPlans",
                "value": "[\u0022Upfront\u0022,\u0022Monthly\u0022]"
              }
            ],
            "restrictions": [
              {
                "type": "Term",
                "values": [
                  "P5Y"
                ],
                "reasonCode": "NotAvailableForSubscription"
              }
            ]
          },
          {
            "resourceType": "SapHana",
            "name": "sap_hana_on_azure_s672ooo",
            "terms": [
              "P1Y",
              "P3Y",
              "P5Y"
            ],
            "locations": [
              "westus"
            ],
            "billingPlans": {
              "p1Y": [
                "Upfront",
                "Monthly"
              ],
              "p3Y": [
               [...]
