{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11958"
      },
      "ResponseBody": {
        "id": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "tenantId": "f1a380c7-4edb-405c-9ffb-015823f5b32c",
        "displayName": "PayG-UK-03-09-2021",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/providers/Microsoft.Capacity/catalogs?api-version=2022-11-01\u0026reservedResourceType=RedisCache\u0026location=westus",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11957",
        "x-ms-version": "1.0.2251.115"
      },
      "ResponseBody": {
        "value": [
          {
            "resourceType": "RedisCache",
            "name": "azure_redis_cache_premium_p2_cache",
            "terms": [
              "P1Y",
              "P3Y",
              "P5Y"
            ],
            "locations": [
              "westus"
            ],
            "billingPlans": {
              "p1Y": [
                "Upfront",
                "Monthly"
              ],
              "p3Y": [
                "Upfront",
                "Monthly"
              ],
              "p5Y": [
                "Upfront",
                "Monthly"
              ]
            },
            "msrp": {
              "p1Y": {
                "currencyCode": "USD",
                "amount": 3112.0
              },
              "p3Y": {
                "currencyCode": "USD",
                "amount": 6563.0
              }
            },
            "skuProperties": [
              {
                "name": "ProductShortName",
                "value": "Azure Redis Cache Premium"
              },
              {
                "name": "ProductTitle",
                "value": "Azure Redis Cache Premium"
              },
              {
                "name": "SkuName",
                "value": "P2"
              },
              {
                "name": "MeterId",
                "value": "585b6ab7-b236-48ea-80b2-5e6550d48c11"
              },
              {
                "name": "MeterType",
                "value": "1 Cache Instance Hour"
              },
              {
                "name": "SkuDisplayName",
                "value": "P2"
              },
              {
                "name": "billingPlans",
                "value": "[\u0022Upfront\u0022,\u0022Monthly\u0022]"
              }
            ],
            "restrictions": [
              {
                "type": "Term",
                "values": [
                  "P5Y"
                ],
                "reasonCode": "NotAvailableForSubscription"
              }
            ]
          },
          {
            "resourceType": "RedisCache",
            "name": "azure_redis_cache_premium_p3_cache",
            "terms": [
              "P1Y",
              "P3Y",
              "P5Y"
            ],
            "locations": [
              "westus"
            ],
            "billingPlans": {
              "p1Y": [
                "Upfront",
                "Monthly"
              ],
              "p3Y": [
   [...]
