{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11950"
      },
      "ResponseBody": {
        "id": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "tenantId": "f1a380c7-4edb-405c-9ffb-015823f5b32c",
        "displayName": "PayG-UK-03-09-2021",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/providers/Microsoft.Capacity/catalogs?api-version=2022-11-01\u0026reservedResourceType=SqlEdge",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11949",
        "x-ms-version": "1.0.2251.115"
      },
      "ResponseBody": {
        "value": [
          {
            "resourceType": "SqlEdge",
            "name": "sql_edge_standard",
            "terms": [
              "P1Y",
              "P3Y",
              "P5Y"
            ],
            "billingPlans": {
              "p1Y": [
                "Upfront",
                "Monthly"
              ],
              "p3Y": [
                "Upfront",
                "Monthly"
              ],
              "p5Y": [
                "Upfront",
                "Monthly"
              ]
            },
            "msrp": {
              "p1Y": {
                "currencyCode": "USD",
                "amount": 100.0
              },
              "p3Y": {
                "currencyCode": "USD",
                "amount": 180.0
              }
            },
            "skuProperties": [
              {
                "name": "ProductShortName",
                "value": "Azure SQL Edge"
              },
              {
                "name": "ProductTitle",
                "value": "Azure SQL Edge"
              },
              {
                "name": "SkuName",
                "value": "Standard"
              },
              {
                "name": "MeterId",
                "value": "abc8c2a2-c4f5-5ef2-87a7-b6ab0adfac2d"
              },
              {
                "name": "MeterType",
                "value": "1 Device Hour"
              },
              {
                "name": "SkuDisplayName",
                "value": "Standard"
              },
              {
                "name": "billingPlans",
                "value": "[\u0022Upfront\u0022,\u0022Monthly\u0022]"
              }
            ],
            "restrictions": [
              {
                "type": "Term",
                "values": [
                  "P5Y"
                ],
                "reasonCode": "NotAvailableForSubscription"
              }
            ]
          }
        ],
        "totalItems": 1
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2049796542",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
  }
}
