{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "tenantId": "f1a380c7-4edb-405c-9ffb-015823f5b32c",
        "displayName": "PayG-UK-03-09-2021",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/providers/Microsoft.Capacity/catalogs?api-version=2022-11-01\u0026reservedResourceType=VirtualMachineSoftware\u0026publisherId=canonical\u0026offerId=0001-com-ubuntu-pro-jammy\u0026planId=pro-22_04-lts",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996",
        "x-ms-version": "1.0.2251.115"
      },
      "ResponseBody": {
        "value": [
          {
            "resourceType": "VirtualMachineSoftware",
            "name": "canonical.0001-com-ubuntu-pro-jammy.pro-22_04-lts.1core",
            "terms": [
              "P1Y",
              "P3Y",
              "P5Y"
            ],
            "billingPlans": {
              "p1Y": [
                "Monthly",
                "Upfront"
              ],
              "p3Y": [
                "Monthly",
                "Upfront"
              ],
              "p5Y": [
                "Monthly",
                "Upfront"
              ]
            },
            "skuProperties": [
              {
                "name": "ProductShortName",
                "value": "VirtualMachineSoftware - Ubuntu Pro 22.04 LTS - Ubuntu Pro 22.04 LTS"
              },
              {
                "name": "ProductTitle",
                "value": "VirtualMachineSoftware - Ubuntu Pro 22.04 LTS - Ubuntu Pro 22.04 LTS"
              },
              {
                "name": "MeterId",
                "value": "1core"
              },
              {
                "name": "vCpu",
                "value": "1"
              },
              {
                "name": "SkuDisplayName",
                "value": "Ubuntu Pro 22.04 LTS - Ubuntu Pro 22.04 LTS"
              },
              {
                "name": "PublisherId",
                "value": "canonical"
              },
              {
                "name": "OfferId",
                "value": "0001-com-ubuntu-pro-jammy"
              },
              {
                "name": "PlanId",
                "value": "pro-22_04-lts"
              },
              {
                "name": "billingPlans",
                "value": "{\u0022P1Y\u0022:[\u0022Monthly\u0022,\u0022Upfront\u0022],\u0022P3Y\u0022:[\u0022Monthly\u0022,\u0022Upfront\u0022],\u0022P5Y\u0022:[\u0022Monthly\u0022,\u0022Upfront\u0022]}"
              },
              {
                "name": "LegalTermsUri",
                "value": "https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RWWRdd"
              }
            ],
            "restrictions": [
              {
                "type": "Term",
                "values": [
                  "P5Y"
                ],
                "reasonCode": "NotAvailableForOffer"
              }
            ]
          },
          {
            "resourceType": "VirtualMachineSoftware",
            "name": "canonical.0001-com-ubuntu-pro-jammy.pro-22_04-lts.208core",
            "terms": [
              "P1Y",
              "P3Y",
              "P5Y"
            ],
            "billingPlans": {
              "p1Y": [
                "Monthly",
                "Upfront"
              ],
              "p3Y": [
                "Monthly",
             [...]
