{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-3461?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-3461",
        "name": "testRg-3461",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-3461/providers/Microsoft.DeviceUpdate/accounts/Account-3377?api-version=2020-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-03-01-preview, 2021-11-02-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/1533c69a-ed64-4704-8126-5eea36e24ea7*F788EFCB99B661B2968138117EB393F0E0FED246292208FB9E2D6AE338ACC6C7?api-version=2020-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222300baf6-0000-0800-0000-6209e70b0000\u0022",
        "x-ms-async-operation-timeout": "PT15M",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-3461/providers/Microsoft.DeviceUpdate/accounts/Account-3377",
        "name": "Account-3377",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "createdByType": "Application",
          "createdAt": "2022-02-14T05:22:17.9711365Z",
          "lastModifiedBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-02-14T05:22:17.9711365Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "hostName": "account-3377.api.adu.microsoft.com",
          "publicNetworkAccess": "Enabled"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/1533c69a-ed64-4704-8126-5eea36e24ea7*F788EFCB99B661B2968138117EB393F0E0FED246292208FB9E2D6AE338ACC6C7?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c2013052-0000-0800-0000-6209e70b0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/1533c69a-ed64-4704-8126-5eea36e24ea7*F788EFCB99B661B2968138117EB393F0E0FED246292208FB9E2D6AE338ACC6C7",
        "name": "1533c69a-ed64-4704-8126-5eea36e24ea7*F788EFCB99B661B2968138117EB393F0E0FED246292208FB9E2D6AE338ACC6C7",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-3461/providers/Microsoft.DeviceUpdate/accounts/Account-3377",
        "status": "Accepted",
        "startTime": "2022-02-14T05:22:19.6154332Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/1533c69a-ed64-4704-8126-5eea36e24ea7*F788EFCB99B661B2968138117EB393F0E0FED246292208FB9E2D6AE338ACC6C7?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c2018b53-0000-0800-0000-6209e7290000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11883"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/1533c69a-ed64-4704-8126-5eea36e24ea7*F788EFCB99B661B2968138117EB393F0E0FED246292208FB9E2D6AE338ACC6C7",
        "name": "1533c69a-ed64-4704-8126-5eea36e24ea7*F788EFCB99B661B2968138117EB393F0E0FED246292208FB9E2D6AE338ACC6C7",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-3461/providers/Microsoft.DeviceUpdate/accounts/Account-3377",
        "status": "Succeeded",
        "startTime": "2022-02-14T05:22:19.6154332Z",
        "endTime": "2022-02-14T05:22:49.0980096Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-3461/providers/Microsoft.DeviceUpdate/accounts/Account-3377/instances/Instance-8355?api-version=2020-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "iotHubs": [
            {
              "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DeviceUpdateResourceGroup/providers/Microsoft.Devices/IotHubs/orange-aducpsdktestaccount-iothub"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-03-01-preview, 2021-11-02-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/oper[...]
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/c9113994-6af7-49a3-9870-0f1d233baec5*983B53FB79851820