{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7b65ad46-fb39-8b87-5a11-986d1f76e0b3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 23:48:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD7E457CBC868\u0022",
        "Last-Modified": "Tue, 06 Dec 2022 23:48:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7b65ad46-fb39-8b87-5a11-986d1f76e0b3/test-blob-8d93a602-9dab-9e0d-b73c-9c162fb0771f?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 06 Dec 2022 23:48:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "fniL0twVXxyhtgWVewmFJqIc1G2nBnREP/oTF9FUFLqqDG8rLa3T7EZ26/SYdyKtt3VzEtsJd3cDRpLhAkdLTaFK6m\u002BaWfn1SecnMRp/rMfYZWBc4AHfoZX3KOYb8er/K55TTo2zE117fsnz4kVcg5nKCZ3n7myfa0jaojAS2Vf9JwZ8LF46JVIC4GI4679Pm6VNUedNFzwxs\u002BJE2HAtaKRx9ro/31Y7j\u002BRK5A4KZ4CJigeKxYhvrxDKS3l79kzh1Xe9xvQEELtPEcEDAjMtJktiuk5poqMbAUaqdZTcwJmYaQ6WTKCLhHpMOrPHbK3cnCQtGDv\u002Bd[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7b65ad46-fb39-8b87-5a11-986d1f76e0b3/test-blob-8d93a602-9dab-9e0d-b73c-9c162fb0771f?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Tue, 06 Dec 2022 23:48:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD7E457EE3F14\u0022",
        "Last-Modified": "Tue, 06 Dec 2022 23:48:15 GMT",
        "x-ms-content-crc64": "2lljW2IaEzY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-06T23:48:15.4093332Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7b65ad46-fb39-8b87-5a11-986d1f76e0b3/test-blob-8d93a602-9dab-9e0d-b73c-9c162fb0771f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 23:48:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAD7E457EE3F14\u0022",
        "Last-Modified": "Tue, 06 Dec 2022 23:48:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 06 Dec 2022 23:48:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-06T23:48:15.4093332Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7b65ad46-fb39-8b87-5a11-986d1f76e0b3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 23:48:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "818157712",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
