{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5bb89037-0758-ade8-581e-a535e4110aea?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB740D1A2D5172\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 17:13:02 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5bb89037-0758-ade8-581e-a535e4110aea/test-blob-15b1c874-5838-10d5-b657-fb7bd236826d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "O8k\u002BYjj\u002BaOEixuNCrX2UrXpoRzs0tDEDd/yj\u002BAdLvy81y0AI\u002BB80DJsZynSNDgj0rKIP6T/m\u002B4eYOus8WnDa1wezDeE8i7VbMzugGum8dWnzr0tkO9XvTtC5cL0097EqP/Nt2QEntyDts7UERuGd28SBSasldZsxxL4Qgxv4JzuJdtr2T5xnzPcqd4gg6gjvHJT4sq4GBMlYOxVDFjQE9It6e88GposoGXy0\u002Bv4SEdm1IWeHAHWMg3ERnhSHJLXCJoL8pm846HUIz5gxUQrKRSo7jfTNffMW7fhe9Ah3ofXH8dR7FmtqfTjxfjHcWjFmRlnpS5fA9aiP5bh32vNtkC6jal82Ty\u002B/0Q\u002B83P7COpLG966ujlZdBvwr7D[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5bb89037-0758-ade8-581e-a535e4110aea/test-blob-ecfb030a-703a-b550-7140-508a5187212f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-5bb89037-0758-ade8-581e-a535e4110aea/test-blob-15b1c874-5838-10d5-b657-fb7bd236826d",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB740D1A670A4A\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 17:13:02 GMT",
        "x-ms-content-crc64": "sxCHm/Arc1U=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-23T17:13:02.9414474Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5bb89037-0758-ade8-581e-a535e4110aea/test-blob-ecfb030a-703a-b550-7140-508a5187212f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "r8kZvRW8FCMvrY3GoRAJXg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB740D1A670A4A\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 17:13:02 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 23 Jun 2023 17:13:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-23T17:13:02.9414474Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5bb89037-0758-ade8-581e-a535e4110aea?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2113547633",
    "Storage_TestConfigOAuth": "OAuthTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net/\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\n\namnguye-rg\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
