{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a9e10859-2608-6a9e-ee79-9ff7daa7766b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 09 Jun 2023 19:49:46 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB6922AFEF1213\u0022",
        "Last-Modified": "Fri, 09 Jun 2023 19:49:50 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a9e10859-2608-6a9e-ee79-9ff7daa7766b/test-blob-f2efb494-cee8-b572-b41d-056c9813b6b0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 09 Jun 2023 19:49:46 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "g6f2/k6J1Fef6C8YRNENwIgc4AcbT9wCfwp\u002BlZ2H3T5ETujxHLdhdA56KSFiHKCjRHBiupXSmzTK9H9ECz65Fwrw1PXoG6PQumv4oSW6n2Nq21EtJSKpcrO0Jyg4HWnQwBIXcUequinMkf8p2foOD1Qc2S/ti/HnR2JCM/R7mJ0CKOAToy0bvyAnYZMjf5i4phfUG0M54zUgLyrlaIY0UPliJrEZ\u002BmsmABoPxSpexMfJiY3cp3xZyESr8nQDNVaa8xCawFjmnqusrRopKh4KwmpiHN/4WKl9CF5sbgj3I8vDddIZwwNu4urhL/phMJ4moDAJoRl3oZpmHbj6eTCjtYlPZbVM8f5n8z[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a9e10859-2608-6a9e-ee79-9ff7daa7766b/test-blob-c8d1e2fd-920a-e435-7452-31ead775d9b6?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-a9e10859-2608-6a9e-ee79-9ff7daa7766b/test-blob-f2efb494-cee8-b572-b41d-056c9813b6b0",
        "x-ms-date": "Fri, 09 Jun 2023 19:49:46 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "ybZ6ClUnq8Y=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a9e10859-2608-6a9e-ee79-9ff7daa7766b/test-blob-c8d1e2fd-920a-e435-7452-31ead775d9b6?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 09 Jun 2023 19:49:46 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB6922B028818D\u0022",
        "Last-Modified": "Fri, 09 Jun 2023 19:49:50 GMT",
        "x-ms-content-crc64": "2lljW2IaEzY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-09T19:49:50.8306317Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a9e10859-2608-6a9e-ee79-9ff7daa7766b/test-blob-c8d1e2fd-920a-e435-7452-31ead775d9b6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Jun 2023 19:49:46 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB6922B028818D\u0022",
        "Last-Modified": "Fri, 09 Jun 2023 19:49:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 09 Jun 2023 19:49:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-09T19:49:50.8306317Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a9e10859-2608-6a9e-ee79-9ff7daa7766b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Jun 2023 19:49:46 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "644374256",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
