{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-406c2906-af1d-2bcc-490d-6a10e1c96234?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB7E6D8535075A\u0022",
        "Last-Modified": "Thu, 06 Jul 2023 22:08:25 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-406c2906-af1d-2bcc-490d-6a10e1c96234/test-blob-172d6797-e347-412c-46ac-49ef973b64ae",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "qH8EcwKJkn31gtuOk5aIvSQU\u002BWBsTKMoQYWS9adcpU6/gqO3NJUADtSwIcUInq6vJIvLgkEEQlzc2zJ89pzWmdyNzhDz0YmOFOuLuyreIKLW4tAbkCIMu0BH2lhigxc42ojoe8\u002BdvFMCPW5WeIYx/ruPphTLugm6gBPQq/YwLJDTU\u002BGi9aXTOCV9GVO0tUK5Fduc0t0DbB9/Lvq7zRBc0RDdgyWljwgWvG3uTqG2BcrRF5YalFmz0ObBI8eqGGsVIUdC1jIcFIbThhZwFR1\u002ByCgv6bZ6QT23KrI\u002B42xBa6MB2C1ZdC\u002BYtQIQRw1CQ7rIQ1qeey61m98Kiqt/3TAakRtybjzwJFT5lzSzafovdef4daARou91TD1NT\u002BmDGNj[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-406c2906-af1d-2bcc-490d-6a10e1c96234?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2010765648",
    "Storage_TestConfigOAuth": "OAuthTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net/\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\n\namnguye-rg\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
