{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-abaf4d2d-69d3-ef31-464a-da04a7ec61d8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 23:48:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD7E45417E48E\u0022",
        "Last-Modified": "Tue, 06 Dec 2022 23:48:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-abaf4d2d-69d3-ef31-464a-da04a7ec61d8/test-blob-946d67d0-6ea0-5094-fe8a-692669b487c1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 06 Dec 2022 23:48:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "ZORcSl5JVgcl8THLei0PWdFNrAAXUVU5yT0Y9\u002BNzOvKvn7wxi5BVhhFlbq89yNbRew9UGweHqhKPI4EgMV4ksrc\u002BG9pw3c5B\u002BCbuseKl\u002BwBnR3zTHh7rKPSqomcONFWzQbz3/qz7YJ1BEyPhmfkw6SeAuOrhUJSZUvPlxjtmMsPQO28mrvxTa\u002Bffkgr7Co/7ebg/jnxq0fEnXqu5Fplh2\u002BBfEF2JCToqLUwDAr2Jnkhk6kyDJqRHZml\u002B/1BRmlVNfbcqm/oxcm99FWEvZ84znb9jVStM3rQ7GKn0Cwrq2ZP3tYQGXwJNM3jcBRFDF/\u002BaSmGQ[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-abaf4d2d-69d3-ef31-464a-da04a7ec61d8/test-blob-946d67d0-6ea0-5094-fe8a-692669b487c1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 23:48:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Q5rzCo0Ryulwzhf7Rv0Ulg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAD7E45421E512\u0022",
        "Last-Modified": "Tue, 06 Dec 2022 23:48:09 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 06 Dec 2022 23:48:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-06T23:48:09.0369298Z"
      },
      "ResponseBody": "ZORcSl5JVgcl8THLei0PWdFNrAAXUVU5yT0Y9\u002BNzOvKvn7wxi5BVhhFlbq89yNbRew9UGweHqhKPI4EgMV4ksrc\u002BG9pw3c5B\u002BCbuseKl\u002BwBnR3zTHh7rKPSqomcONFWzQbz3/qz7YJ1BEyPhmfkw6SeAuOrhUJSZUvPlxjtmMsPQO28mrvxTa\u002Bffkgr7Co/7ebg/jnxq0fEnXqu5Fplh2\u002BBfEF2JCToqLUwDAr2Jnkhk6kyDJqRHZml\u002B/1BRmlVNfbcqm/oxcm99FWEvZ84znb9jVStM3rQ7GKn0Cwrq2ZP3tYQGXwJNM3jcBRFDF/\u002BaSmGQ7UQpAZ8C7oJQPGZlkzvOOLFKLT69FiKzb9ij\u002BACqWcGpWexOzbTkBHB//PYRd3HWdd9[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-abaf4d2d-69d3-ef31-464a-da04a7ec61d8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 23:48:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1903926897",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
