{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aa340cca-0982-c6bd-d0a7-3ce014c12bcd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 23:48:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD7E454620D27\u0022",
        "Last-Modified": "Tue, 06 Dec 2022 23:48:09 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aa340cca-0982-c6bd-d0a7-3ce014c12bcd/test-blob-2a044878-d039-6690-e771-8b07392bd4a3?comp=block\u0026blockid=BQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 06 Dec 2022 23:48:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "XGKhTFd6Cuy2x8C0CmeQO2VyGakoIKBuNwPJUGUHdr2XtWHPQscG/j0Yc3EP21x/4VCixhErezzBMxVTsbmHr1EDHVUGwPidbBtrEKwvXlynSW8UZa\u002BsbDkkDQ6yskyEkMQfDL0GeSBYBFn1v2uQktW5rGdKc0mhVrEb4bPp6rrO53/nD1GeoNBOu2BWtqzOlHs5\u002BQXlOh16frUM65dtbhmfJtjrqIODGgyX\u002B7fpS58FTE03r/G16a1ibJGbkbQ44U1GtpDT4\u002Bz3tt74Tj5mkTIVB55KNb4o6T0riTvy6IlXXhppopQPMWlgQPkSvJtu\u002B9te[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aa340cca-0982-c6bd-d0a7-3ce014c12bcd/test-blob-2a044878-d039-6690-e771-8b07392bd4a3?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Tue, 06 Dec 2022 23:48:09 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EBQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD7E45475502F\u0022",
        "Last-Modified": "Tue, 06 Dec 2022 23:48:09 GMT",
        "x-ms-content-crc64": "NSkWwxzy2WY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-06T23:48:09.5836207Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aa340cca-0982-c6bd-d0a7-3ce014c12bcd/test-blob-2a044878-d039-6690-e771-8b07392bd4a3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 23:48:09 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAD7E45475502F\u0022",
        "Last-Modified": "Tue, 06 Dec 2022 23:48:09 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 06 Dec 2022 23:48:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-06T23:48:09.5836207Z"
      },
      "ResponseBody": "XGKhTFd6Cuy2x8C0CmeQO2VyGakoIKBuNwPJUGUHdr2XtWHPQscG/j0Yc3EP21x/4VCixhErezzBMxVTsbmHr1EDHVUGwPidbBtrEKwvXlynSW8UZa\u002BsbDkkDQ6yskyEkMQfDL0GeSBYBFn1v2uQktW5rGdKc0mhVrEb4bPp6rrO53/nD1GeoNBOu2BWtqzOlHs5\u002BQXlOh16frUM65dtbhmfJtjrqIODGgyX\u002B7fpS58FTE03r/G16a1ibJGbkbQ44U1GtpDT4\u002Bz3tt74Tj5mkTIVB55KNb4o6T0riTvy6IlXXhppopQPMWlgQPkSvJtu\u002B9tehYoW7auOHs1SqF[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aa340cca-0982-c6bd-d0a7-3ce014c12bcd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 23:48:09 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "27225128",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
