{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-97fd195d-aa7f-b749-58e3-d1a9c903cbc9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 23:48:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD7E45441DAC5\u0022",
        "Last-Modified": "Tue, 06 Dec 2022 23:48:09 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-97fd195d-aa7f-b749-58e3-d1a9c903cbc9/test-blob-4548535d-0b3a-52f0-cab1-326446df4d3f?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 06 Dec 2022 23:48:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "\u002BDOhIfAlw3dyowRO8HD280u/CxfQpWP8tsDbVM1Cgl3C2uYi0K2zN4/R0pYHomFZuz8ZhtQ2b1PPpGovSW6qMCGmjBaK0yKeC9OH/9LN9RRfgpmNKPuJi2uSUyxChO0hJqJ0YBZLz\u002BccensArnCBAa5V0MfUHAclHQCr94D2XIfmZtgwWJX\u002BE7KycK6Aid36EFJ97LMmTAmaT0IVn9dmJh7zGUiXUagYV7wVIqxYpJQjsOYueG/TwBnOlQlT6XPaS0mQjG\u002BUYr\u002BpZJX3ESpdQaut8u/wOK6uIFkvyLuexW5IOtdiyBcljk0nhBPa3K/vcVNd[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-97fd195d-aa7f-b749-58e3-d1a9c903cbc9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 23:48:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1055240959",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
