{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/providers/Microsoft.Search/register?api-version=2014-04-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/providers/Microsoft.Search\",\r\n  \"namespace\": \"Microsoft.Search\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"searchServices\",\r\n      \"locations\": [\r\n        \"West US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-08-19\",\r\n        \"2015-02-28\",\r\n        \"2014-07-31-Preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"searchServicesCit\",\r\n      \"locations\": [\r\n        \"West US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-08-19\",\r\n        \"2015-02-28\",\r\n        \"2014-07-31-Preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"searchServicesInt\",\r\n      \"locations\": [\r\n        \"West US\"\r\n      ],\r\n      \"[...]
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourcegroups/azsmnet7783?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourceGroups/azsmnet7783\",\r\n  \"name\": \"azsmnet7783\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1063"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourceGroups/azsmnet7783/providers/Microsoft.Search/searchServices/azs-1559?api-version=2015-02-28",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"free\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourceGroups/azsmnet7783/providers/Microsoft.Search/searchServices/azs-1559\",\r\n  \"name\": \"azs-1559\",\r\n  \"type\": \"Microsoft.Search/searchServices\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"free\"\r\n    },\r\n    \"replicaCount\": 1,\r\n    \"partitionCount\": 1,\r\n    \"status\": \"running\",\r\n    \"statusDetails\": null,\r\n    \"provisioningState\": \"succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"datetime'2016-04-22T22%3A39%3A09.1733662Z'\""
        ],
        "elapsed-time": [
          "2349"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1057"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourceGroups/azsmnet7783/providers/Microsoft.Search/searchServices/azs-1559/listAdminKeys?api-version=2015-02-28",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"811F098FCEA2320ABB6113828C729F45\",\r\n  \"secondaryKey\": \"285DE0902302DD016A4E4840BC8BAFF3\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "elapsed-time": [
          "619"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1056"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourceGroups/azsmnet7783/providers/Microsoft.Search/searchServices/azs-1559/listQueryKeys?api-version=2015-02-28",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": null,\r\n      \"key\": \"A745210D1EB47A09C4E9F48D9BF00FBC\"\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "elapsed-time": [
          "238"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14989"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/indexes?api-version=2015-02-28-Preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"azsmnet2738\",\r\n  \"fields\": [\r\n    {\r\n      \"type\": \"Edm.String\",\r\n      \"name\": \"id\",\r\n      \"key\": true,\r\n      \"searchable\": false,\r\n      \"filterable\": false,\r\n      \"sortable\": false,\r\n      \"facetable\": false,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"type\": \"Edm.String\",\r\n      \"analyzer\": \"ar.microsoft\",\r\n      \"name\": \"field0\",\r\n      \"key\": false,\r\n      \"searchable\": true,\r\n      \"filterable\": false,\r\n      \"sortable\": false,\r\n      \"facetable\": false,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"type\": \"Collection(Edm.String)\",\r\n      \"analyzer\": \"ar.lucene\",\r\n      \"name\": \"field1\",\r\n      \"key\": false,\r\n      \"searchable\": true,\r\n      \"filterable\": false,\r\n      \"sortable\": false,\r\n      \"faceta[...]
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourceGroups/azsmnet7783/providers/Microsoft.Search/searchServices/azs-1559?api-version=2015-02-28",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "elapsed-time": [
          "437"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1062"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "GenerateName": [
      "azsmnet7783",
      "azsmnet2738"
    ],
    "GenerateServiceName": [
      "azs-1559"
    ]
  },
  "Variables": {
    "SubscriptionId": "b80cf239-2c72-47ab-b309-b26aec4656b1"
  }
}