{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/bgpServiceCommunities?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"value\": [\r\n",
        "    {\r\n",
        "      \"name\": \"Exchange\",\r\n",
        "      \"id\": \"/subscriptions//resourceGroups//providers/Microsoft.Network/bgpServiceCommunities/Exchange\",\r\n",
        "      \"type\": \"Microsoft.Network/bgpServiceCommunities\",\r\n",
        "      \"properties\": {\r\n",
        "        \"serviceName\": \"Exchange\",\r\n",
        "        \"bgpCommunities\": [\r\n",
        "          {\r\n",
        "            \"serviceSupportedRegion\": \"Global\",\r\n",
        "            \"communityName\": \"Exchange\",\r\n",
        "            \"communityValue\": \"12076:5010\",\r\n",
        "            \"communityPrefixes\": [\r\n",
        "              \"13.107.6.152/31\",\r\n",
        "              \"13.107.18.10/31\",\r\n",
        "              \"13.107.128.0/22\",\r\n",
        "              \"23.103.160.0/20\",\r\n",
        "              \"40.92.0.0/15\",\r\n",
        "              \"40.96.0.0/13\",\r\n",
        "              \"40.104.0.0/15\",\r\n",
        "              \"40.107.0.0/16\",\r\n",
        "              \"52.96.0.0/14\",\r\n",
        "              \"52.100.0.0/14\",\r\n",
        "              \"52.238.78.88/32\",\r\n",
        "              \"104.47.0.0/17\",\r\n",
        "              \"131.253.33.215/32\",\r\n",
        "              \"132.245.0.0/16\",\r\n",
        "              \"150.171.32.0/22\",\r\n",
        "              \"204.79.197.215/32\",\r\n",
        "              \"13.107.128.0/24\",\r\n",
        "              \"13.107.129.0/24\",\r\n",
        "              \"150.171.32.0/24\",\r\n",
        "              \"150.171.34.0/24\",\r\n",
        "              \"150.171.35.0/24\",\r\n",
        "              \"52.96.38.0/24\"\r\n",
        "            ],\r\n",
        "            \"isAuthorizedToUse\": false,\r\n",
        "            \"serviceGroup\": \"O365\"\r\n",
        "          }\r\n",
        "        ]\r\n",
        "      }\r\n",
        "    },\r\n",
        "    {\r\n",
        "      \"name\": \"OtherOffice365Services\",\r\n",
        "      \"id\": \"/subscriptions//resourceGroups//providers/Microsoft.Network/bgpServiceCommunities/OtherOffice365Services\",\r\n",
        "      \"type\": \"Microsoft.Network/bgpServiceCommunities\",\r\n",
        "      \"properties\": {\r\n",
        "        \"serviceName\": \"OtherOffice365Ser[...]
