{
  "Entries": [
    {
      "RequestUri": "/secrets/TestSecret?api-version=2015-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"value\": \"cR37TzKYOLLR9l46EPPaXYbns1+5J5xz\",\r\n  \"contentType\": \"application/octet-stream\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": \"cR37TzKYOLLR9l46EPPaXYbns1+5J5xz\",\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://sdktestvault0518.vault.azure.net/secrets/TestSecret/e11463d6557c43c4ae3f862cd44d0937\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1469645091,\r\n    \"updated\": 1469645091\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/secrets/TestSecret/?api-version=2015-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": \"cR37TzKYOLLR9l46EPPaXYbns1+5J5xz\",\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://sdktestvault0518.vault.azure.net/secrets/TestSecret/e11463d6557c43c4ae3f862cd44d0937\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1469645091,\r\n    \"updated\": 1469645091\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/secrets/TestSecret/e11463d6557c43c4ae3f862cd44d0937?api-version=2015-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": \"cR37TzKYOLLR9l46EPPaXYbns1+5J5xz\",\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://sdktestvault0518.vault.azure.net/secrets/TestSecret/e11463d6557c43c4ae3f862cd44d0937\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1469645091,\r\n    \"updated\": 1469645091\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/secrets/TestSecret?api-version=2015-06-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://sdktestvault0518.vault.azure.net/secrets/TestSecret/e11463d6557c43c4ae3f862cd44d0937\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1469645091,\r\n    \"updated\": 1469645091\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://sdktestvault0518.vault.azure.net",
    "KeyName": "sdktestkey",
    "KeyVersion": "02b25477dfb04427926bb9a250e1df14"
  }
}