{
  "Entries": [
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/domains?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#domains\",\r\n  \"value\": [\r\n    {\r\n      \"authenticationType\": \"Federated\",\r\n      \"availabilityStatus\": null,\r\n      \"isAdminManaged\": true,\r\n      \"isDefault\": false,\r\n      \"isInitial\": false,\r\n      \"isRoot\": false,\r\n      \"isVerified\": false,\r\n      \"name\": \"BFDevOpsNonRestricted.onmicrosoft.de\",\r\n      \"supportedServices\": [],\r\n      \"forceDeleteState\": null,\r\n      \"state\": null\r\n    },\r\n    {\r\n      \"authenticationType\": \"Managed\",\r\n      \"availabilityStatus\": null,\r\n      \"isAdminManaged\": true,\r\n      \"isDefault\": false,\r\n      \"isInitial\": false,\r\n      \"isRoot\": true,\r\n      \"isVerified\": true,\r\n      \"name\": \"azdevextest.com\",\r\n      \"supportedServices\": [],\r\n      \"forceDeleteState\": null,\r\n      \"state\": null\r\n    },\r\n    {\r\n      \"authenticationType\": \"Managed\",\r\n      \"availabilityStatus\": null,\r\n      \"isAdminManaged\": true,\r\n      \"isDefault\": true,\r\n      \"isInitial\": true,\r\n      \"isRoot\": true,\r\n      \"isVerified\": true,\r\n      \"name\": \"AzureSDKTeam.onmicrosoft.com\",\r\n      \"supportedServices\": [\r\n        \"Email\",\r\n        \"OfficeCommunicationsOnline\"\r\n      ],\r\n      \"forceDeleteState\": null,\r\n      \"state\": null\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "fAzcDZyFSvI7esIUZ/nG6AP2lSBjzL8Jnvv5hxgG43k="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "6QANLR2Arrmxd1XEklHL3LgLDhXzzDSYzb5VbXtNFgriusTfmix0MB3cnBvLWrhcaX_5vvJk-hpuzCRd2paKC5RX-Cuo3Nq-iU2_egOEnqbF_G62MRTNduFyVd7B_mFlXwBaEuLAzvlE1R9vKtP8GvQ1X8pXAjoJI6A6lfZoI5QTuG9VB-sD7tTiAQu6J5gqftod_YCdrxpx-Klw1smPxg.dkhTMjt8CUhmlHey84Xl0hm_MKfnHqGSJ6QaA7xuWns"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "506297"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"Test user9c82883552\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"StrongPass!123\"\r\n  },\r\n  \"userPrincipalName\": \"user9c82883552@AzureSDKTeam.onmicrosoft.com\",\r\n  \"mailNickname\": \"user9c82883552\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n  \"objectType\": \"User\",\r\n  \"objectId\": \"cc77093a-4bcb-4311-b69a-dca0896b3fec\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"signInNames\": [],\r\n  \"assignedLicenses\": [],\r\n  \"assignedPlans\": [],\r\n  \"city\": null,\r\n  \"companyName\": null,\r\n  \"country\": null,\r\n  \"creationType\": null,\r\n  \"department\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"Test user9c82883552\",\r\n  \"employeeId\": null,\r\n  \"facsimileTelephoneNumber\": null,\r\n  \"givenName\": null,\r\n  \"immutableId\": null,\r\n  \"isCompromised\": null,\r\n  \"jobTitle\": null,\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"user9c82883552\",\r\n  \"mobile\": null,\r\n  \"onPremisesDistinguishedName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"otherMails\": [],\r\n  \"passwordPolicies\": null,\r\n  \"passwordProfile\": {\r\n    \"password\": null,\r\n    \"forceChangePasswordNextLogin\": true,\r\n    \"enforceChangePasswordPolicy\": false\r\n  },\r\n  \"physicalDeliveryOfficeName\": null,\r\n  \"postalCode\": null,\r\n  \"preferredLanguage\": null,\r\n  \"provisionedPlans\": [],\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"refreshTokensValidFromDateTime\": \"2017-07-31T21:58:04.8759586Z\",\r\n  \"showInAddressList\": null,\r\n  \"sipProxyAddress\": null,\r\n  \"state\": null,\r\n  \"streetAddress\": null,\r\n  \"surname\": null,\r\n  \"telephoneNumber\": null,\r\n  \"usageLocation\": null,\r\n  \"userPrincipalName\": \"user9c82883552@AzureSDKTeam.onmicrosoft.com\",\r\n  \"userType\": \"Member\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/cc77093a-4bcb-4311-b69a-dca0896b3fec/Microsoft.DirectoryServices.User"
        ],
        "ocp-aad-diagnostics-server-name": [
          "Llgy9/ab0slLzBlr4d1Q8lNJvx6g8YZ9cwM/rai9BcE="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "Us-E76D-BSMllg-7rK8jWkj8H6XPg09qldNWcSSJZvAuyR6mGLqwcrG3lw6jmSa2aF1ozrHDGEVmaadjPOsJQ9HTQtWnZTnwJCDBZmmCBlX-LfNVI8Or64iD40dmPE36XyM8JRNj_2kD2nKU8oqnvrVTb9gQr2a3AxaWTq4YlxjEoqLnDgGjMmtvUFA4Kcae5IzWsiwU2Fa8g3zI-2l44Q.MntylCFmaDpCrcdcWeO43JT8FOwENgHF5lUEmRxp3qc"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "13193706"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/users/cc77093a-4bcb-4311-b69a-dca0896b3fec?api-version=1.6",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"displayName\": \"Test user9c82883552\",\r\n  \"mailNickname\": \"user9c82883552\",\r\n  \"usageLocation\": \"AU\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "U+YMVzOyT/t0EcKWN1svOsrZWxSmfEz8fYuEmDuRH8w="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "DmXgLb3K_GUyp6ghTY9F-6_WGSugdDUWH4gvVPWC061Ry6iTiUIZjyQhpxIYfBXk7Xgn8eTksqMR0fX0Z8-MtYT55UJXBmJeuN8C51fY72R9W9UJi5FJSasOEXnq4QED9hDXIda8n83MltsWL0laCz8Azkpk5IpDI0Iwt9VhmTuXgIs9mhfx8d-H-5KOWMbegcbdU6E6zQH2lJajTCKoqg.wyy9pJMdAmN2EIKctpaDiLRteK5FwtyGu_I4HGgvzFE"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "4119747"
        ]
      },
      "StatusCode": 204
    },
[...]
