{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11870"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-4439?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4439",
        "name": "testRg-4439",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4439/providers/Microsoft.Cdn/profiles/AFDProfile-9162?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "tags": {},
        "location": "Global",
        "properties": {
          "originResponseTimeoutSeconds": 60
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-4439/providers/Microsoft.Cdn/operationresults/aa30513f-b879-456d-a133-2f64a9defa65?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "19"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-4439/providers/Microsoft.Cdn/profiles/AFDProfile-9162",
        "type": "Microsoft.Cdn/profiles",
        "name": "AFDProfile-9162",
        "location": "Global",
        "kind": "frontdoor",
        "tags": {},
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "properties": {
          "originResponseTimeoutSeconds": 60,
          "frontDoorId": "0c6e75f6-9eb7-43ed-addf-e5d0009656e5",
          "resourceState": "Creating",
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-4439/providers/Microsoft.Cdn/operationresults/aa30513f-b879-456d-a133-2f64a9defa65?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11869"
      },
      "ResponseBody": {
        "status": "InProgress",
        "error": {
          "code": "None",
          "message": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4439/providers/Microsoft.Cdn/profiles/AFDProfile-9162/afdEndpoints/AFDEndpoint-6232?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-4439/providers/Microsoft.Cdn/operationresults/8b9d852f-51ee-408b-94a6-8c0eef8102e0?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "98"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-4439/providers/Microsoft.Cdn/profiles/AFDProfile-9162/afdendpoints/AFDEndpoint-6232",
        "type": "Microsoft.Cdn/profiles/afdendpoints",
        "name": "AFDEndpoint-6232",
        "location": "WestUs",
        "tags": {},
        "properties": {
          "hostName": "AFDEndpoint-6232-a5b9apfvazcaexfg.z01.azurefd.net",
          "autoGeneratedDomainNameLabelScope": null,
          "enabledState": "Enabled",
          "provisioningState": "Creating",
          "deploymentStatus": "NotStarted"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4439/providers/Microsoft.Cdn/profiles/AFDProfile-9162/originGroups/AFDOriginGroup-2112?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "loadBalancingSettings": {
            "sampleSize": 5,
            "successfulSamplesRequired": 4,
            "additionalLatencyInMilliseconds": 200
          },
          "healthProbeSettings": {
            "probePath": "/healthz",
            "probeRequestType": "HEAD",
            "probeProtocol": "Https",
            "probeIntervalInSeconds": 60
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "96"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-4439/providers/Microsoft.Cdn/profiles/AFDProfile-9162/origingroups/AFDOriginGroup-2112",
        "type": "Microsoft.Cdn/profiles/origingroups",
        "name": "AFDOriginGroup-2112",
        "properties": {
          "loadBalancingSettings": {
            "sampleSize": 5,
            "successfulSamplesRequired": 4,
            "additionalLatencyInMilliseconds": 200
          },
          "healthProbeSettings": {
            "probePath": "/healthz",
            "probeRequestType": "HEAD",
            "probeProtocol": "Https",
            "probeIntervalInSeconds": 60
          },
          "trafficRestorationTimeToHealedOrNewEndpointsInMinutes": null,
          "sessionAffinityState": "Disabled",
          "provisioningState": "Succeeded",
          "deploymentStatus": "NotStarted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4439/providers/Microsoft.Cdn/profiles/AFDProfile-9162/originGroups/AFDOriginGroup-2112/origins/AFDOrigin-751?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "hostName": "testsa4dotnetsdk.blob.core.windows.net"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-4439/providers/Microsoft.Cdn/operationresults/108a1620-5094-4f70-8797-92539f577286?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "95"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-4439/providers/Microsoft.Cdn/profiles/AFDProfile-9162/origingroups/AFDOriginGroup-2112/origins/AFDOrigin-751",
        "type": "Microsoft.Cdn/profiles/origingroups/origins",
        "name": "AFDOrigin-751",
        "properties": {
          "originGroupName": "AFDOriginGroup-2112",
          "hostName": "testsa4dotnetsdk.blob.core.windows.net",
          "httpPort": 80,
          "httpsPort": 443,
          "originHostHeader": null,
          "priority": null,
          "weight": null,
          "enabledState": "Enabled",
          "sharedPrivateLinkResource": null,
          "enforceCertificateNameCheck": true,
          "provisioningState": "Creating",
          "deploymentStatus": "NotStarted"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4439/providers/Microsoft.Cdn/profiles/AFDProfile-9162/ruleSets/AFDRuleSet7098?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "98"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-4439/providers/Microsoft.Cdn/profiles/AFDProfile-9162/rulesets/AFDRuleSet7098",
        "type": "Microsoft.Cdn/profiles/rulesets",
        "name": "AFDRuleSet7098",
        "properties": {
          "provisioningState": "Succeeded",
          "deploymentStatus": "NotStarted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4439/providers/Microsoft.Cdn/profiles/AFDProfile-9162/afdEndpoints/AFDEndpoint-6232/routes/AFDRoute7940?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "originGroup": {
            "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-4439/providers/Microsoft.Cdn/profiles/AFDProfile-9162/origingroups/AFDOriginGroup-2112"
          },
          "ruleSets": [
            {
              "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-4439/providers/Microsoft.Cdn/profiles/AFDProfile-9162/rulesets/AFDRuleSet7098"
            }
          ],
          "patternsToMatch": [
            "/*"
          ],
          "linkToDefaultDomain": "Enabled",
          "enabledState": "Enabled"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-4439/providers/Microsoft.Cdn/operationresults/740dbe1a-4c66-41af-be66-21214514f47f?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "98"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-4439/providers/Microsoft.Cdn/profiles/AFDProfile-9162/afdendpoints/AFDEndpoint-6232/routes/AFDRoute7940",
        "type": "Microsoft.Cdn/profiles/afdendpoints/routes",
        "name": "AFDRoute7940",
        "properties": {
          "cacheConfiguration": null,
          "customDomains": [],
          "originGroup": {
            "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-4439/providers/Microsoft.Cdn/profiles/AFDProfile-9162/origingroups/AFDOriginGroup-2112"
          },
          "originPath": null,
          "ruleSets": [
            {
              "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-4439/providers/Microsoft.Cdn/profiles/AFDProfile-9162/rulesets/AFDRuleSet7098"
            }
          ],
          "supportedProtocols": [
            "Http",
            "Https"
          ],
          "patternsToMatch": [
            "/*"
          ],
          "forwardingProtocol": "MatchRequest",
          "linkToDefaultDomain": "Enabled",
          "httpsRedirect": "Disabled",
          "enabledState": "Enabled",
          "provisioningState": "Creating",
          "deploymentStatus": "NotStarted"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4439/providers/Microsoft.Cdn/profiles/AFDProfile-9162/afdEndpoints/AFDEndpoint-6232/routes/AFDRoute7940?api-version=2021-06-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "enabledState": "Disabled"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-4439/providers/Microsoft.Cdn/operationresults/67860dc5-48e8-42e4-b89e-1760f9f6e085?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-4439/providers/Microsoft.Cdn/operationresults/67860dc5-48e8-42e4-b89e-1760f9f6e085/profileresults/AFDProfile-9162/afdendpointresults/AFDEndpoint-6232/routeresults/AFDRoute7940?api-version=2021-06-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "97"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63c[...]
[...]
