{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11954"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/test-OnlineEndpointTrackedResourceContainer7894?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11953"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/test-OnlineEndpointTrackedResourceContainer7894",
        "name": "test-OnlineEndpointTrackedResourceContainer7894",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/test-OnlineEndpointTrackedResourceContainer7894/providers/Microsoft.MachineLearningServices/workspaces/test-workspace6108?api-version=2021-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11952",
        "x-ms-response-type": "standard",
        "x-request-time": "0.013"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022id\u0022: \u0022/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/test-OnlineEndpointTrackedResourceContainer7894/providers/Microsoft.MachineLearningServices/workspaces/test-workspace6108\u0022,\n",
        "  \u0022name\u0022: \u0022test-workspace6108\u0022,\n",
        "  \u0022type\u0022: \u0022Microsoft.MachineLearningServices/workspaces\u0022,\n",
        "  \u0022location\u0022: \u0022westus2\u0022,\[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ManagedIdentity?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11951"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ManagedIdentity",
        "namespace": "Microsoft.ManagedIdentity",
        "resourceTypes": [
          {
            "resourceType": "Identities",
            "locations": [
              "South Africa North",
              "South Africa West",
              "UAE North",
              "Australia Central",
              "Australia East",
              "Australia Southeast",
              "Canada Central",
              "Canada East",
              "Brazil South",
              "Central India",
              "West India",
              "Jio India West",
              "South India",
              "Japan West",
              "Japan East",
              "East Asia",
              "Southeast Asia",
              "Korea Central",
              "Korea South",
              "North Europe",
              "West Europe",
              "UK West",
              "UK South",
              "Switzerland North",
              "Germany West Central",
              "Central US",
              "North Central US",
              "East US",
              "East US 2",
              "South Central US",
              "West US",
              "West US 2",
              "West US 3",
              "West Central US",
              "France Central",
              "Norway East"
            ],
            "apiVersions": [
              "2018-11-30",
              "2015-08-31-PREVIEW"
            ],
            "capabilities": "SupportsExtension"
          },
          {
            "resourceType": "userAssignedIdentities",
            "locations": [
              "South Africa North",
              "South Africa West",
              "UAE North",
              "Australia Central",
              "Australia East",
              "Australia Southeast",
              "Canada Central",
              "Canada East",
              "Brazil South",
              "Central India",
              "West India",
              "Jio In[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/test-ml-common/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mltestid?api-version=2018-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11950"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/test-ml-common/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mltestid",
        "name": "mltestid",
        "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "location": "westus2",
        "tags": {},
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "principalId": "6238b7c7-95f3-44af-afa8-4905987277bc",
          "clientId": "a3facf0d-80d1-40a0-8f6d-416d5d181e89"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/test-OnlineEndpointTrackedResourceContainer7894/providers/Microsoft.MachineLearningServices/workspaces/test-workspace6108/onlineEndpoints/test-resource3246?api-version=2021-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/test-ml-common/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mltestid": {}
          }
        },
        "kind": "SampleKind",
        "properties": {
          "authMode": "AMLToken",
          "description": "this is a test endpoint",
          "traffic": {
            "deployment1": 100
          }
        },
        "tags": {},
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.MachineLearningServices/locations/westus2/mfeOperationsStatus/oe:50e85260-ef95-4bf8-bcec-013cf3211e42:73526ab0-c91f-4480-8668-bb00234b4e45?api-version=2021-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/test-OnlineEndpointTrackedResourceContainer7894/providers/Microsoft.MachineLearningServices/workspaces/test-workspace6108/onlineEndpoints/test-resource3246?api-version=2021-03-01-preview",
        "x-ms-async-operation-timeout": "PT30M",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-ms-response-type": "standard",
        "x-request-time": "2.482"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022id\u0022: \u0022/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/test-OnlineEndpointTrackedResourceContainer7894/providers/Microsoft.MachineLearningServices/workspaces/test-workspace6108/onlineEndpoints/test-resource3246\u0022,\n",
        "  \u0022name\u0022: \u0022[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.MachineLearningServices/locations/westus2/mfeOperationsStatus/oe:50e85260-ef95-4bf8-bcec-013cf3211e42:73526ab0-c91f-4480-8668-bb00234b4e45?api-version=2021-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11949",
        "x-ms-response-type": "standard",
        "x-request-time": "0.102"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022percentComplete\u0022: 0.0,\n",
        "  \u0022status\u0022: \u0022Updating\u0022,\n",
        "  \u0022startTime\u0022: \u00222021-08-20T07:33:05.7768283Z\u0022,\n",
        "  \u0022endTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\n",
        "  \u0022name\u0022: \u0022oe:50e85260-ef95-4bf8-bcec-013cf3211e42:73526ab0-c91f-4480-8668-bb00234b4e45\u0022,\n",
        "  \u0022id\u0022: \u0022/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.MachineLearningServices/locations/westus2/mfeOperationsStatus/oe:50e85260-ef95-4bf8-bcec-013cf3211e42:73526ab0-c91f-4480-8668-bb00234b4e45\u0022\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/test-OnlineEndpointTrackedResourceContainer7894/providers/Microsoft.MachineLearningServices/workspaces/test-workspace6108/onlineEndpoints?api-version=2021-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "a[...]
