{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-7031/providers/Microsoft.HDInsight/clusters/cluster6049/applications/application5434?api-version=2023-04-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "test"
        },
        "properties": {
          "computeProfile": {
            "roles": [
              {
                "name": "edgenode",
                "targetInstanceCount": 1,
                "hardwareProfile": {
                  "vmSize": "Large"
                }
              }
            ]
          },
          "installScriptActions": [
            {
              "name": "InstallHue9527",
              "uri": "https://hdiconfigactions.blob.core.windows.net/linuxhueconfigactionv02/install-hue-uber-v02.sh",
              "parameters": "-version latest -port 20000",
              "roles": [
                "edgenode"
              ]
            }
          ],
          "applicationType": "CustomApplication"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-7031/providers/Microsoft.HDInsight/clusters/cluster6049/azureasyncoperations/create?api-version=2023-04-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022A2970D11-1111-488C-B081-E7236C3F39C0\u0022",
        "x-ms-hdi-appuri": "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-7031/providers/Microsoft.HDInsight/clusters/cluster6049/applications/application5434?api-version=2023-04-15-preview",
        "x-ms-hdi-served-by": "japaneast",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-7031/providers/Microsoft.HDInsight/clusters/cluster6049/applications/application5434",
        "name": "application5434",
        "type": "Microsoft.HDInsight/clusters/applications",
        "etag": "A2970D11-1111-488C-B081-E7236C3F39C0",
        "tags": {
          "test": "test"
        },
        "properties": {
          "computeProfile": {
            "roles": [
              {
                "name": "edgenode",
                "targetInstanceCount": 1,
                "hardwareProfile": {
                  "vmSize": "standard_a4_v2"
                },
                "encryptDataDisks": false
              }
            ]
          },
          "installScriptActions": [
            {
              "name": "InstallHue9527",
              "uri": "https://hdiconfigactions.blob.core.windows.net/linuxhueconfigactionv02/install-hue-uber-v02.sh",
              "roles": [
                "edgenode"
              ]
            }
          ],
          "uninstallScriptActions": [],
          "httpsEndpoints": [],
          "sshEndpoints": [],
          "provisioningState": "InProgress",
          "applicationState": "Accepted",
          "createdDate": "2023-06-13T06:34:32.83",
          "applicationType": "CustomApplication"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-7031/providers/Microsoft.HDInsight/clusters/cluster6049/azureasyncoperations/create?api-version=2023-04-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-hdi-served-by": "japaneast",
        "x-ms-ratelimit-remaining-subscription-reads": "11850"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-7031/providers/Microsoft.HDInsight/clusters/cluster6049/applications?api-version=2023-04-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-hdi-served-by": "japaneast",
        "x-ms-ratelimit-remaining-subscription-reads": "11848"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-7031/providers/Microsoft.HDInsight/clusters/cluster6049/applications/application5434",
            "name": "application5434",
            "type": "Microsoft.HDInsight/clusters/applications",
            "etag": "A2970D11-1111-488C-B081-E7236C3F39C0",
            "tags": {
              "test": "test"
            },
            "properties": {
              "computeProfile": {
        [...]
