{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1363cdec-f85e-ba45-7ed7-48a74fca0862?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 29 Oct 2021 20:35:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B1BAEDD655E\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 20:35:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1363cdec-f85e-ba45-7ed7-48a74fca0862/test-blob-2aa5c712-7493-1ee7-3462-1a9874f0d936",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 29 Oct 2021 20:35:45 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022bar\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022d37d1fb8-34d1-1aef-c9e3-b04ea72a6dfc\u0022,\u0022EncryptedKey\u0022:\u0022WY322kybuaO6SX7p7iXBGgZ0P89dQcN2sTdR9X55Nl8=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022foo\u0022},\u0022ContentEncryptionIV\u0022:\u0022OyFhyG8LRCfoRIEKNggYzxigpP0YOiebRBoq/IcHq7Q=\u0022,\u0022KeyWrappi[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1363cdec-f85e-ba45-7ed7-48a74fca0862/test-blob-2aa5c712-7493-1ee7-3462-1a9874f0d936",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 20:35:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "cYSUgJ\u002BAFRHtVx\u002BbQmFsqA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D99B1BAF014455\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 20:35:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 29 Oct 2021 20:35:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 29 Oct 2021 20:35:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022bar\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022d37d1fb8-34d1-1aef-c9e3-b04ea72a6dfc\u0022,\u0022EncryptedKey\u0022:\u0022WY322kybuaO6SX7p7iXBGgZ0P89dQcN2sTdR9X55Nl8=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022foo\u0022},\u0022ContentEncryptionIV\u0022:\u0022OyFhyG8LRCfoRIEKNggYzxigpP0YOiebRBoq/IcHq7Q=\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022fizz\u0022:\u0022buzz\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-29T20:35:45.2153941Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1363cdec-f85e-ba45-7ed7-48a74fca0862/test-blob-2aa5c712-7493-1ee7-3462-1a9874f0d936?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-language": "foo",
        "x-ms-date": "Fri, 29 Oct 2021 20:35:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B1BAF29D50F\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 20:35:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1363cdec-f85e-ba45-7ed7-48a74fca0862/test-blob-2aa5c712-7493-1ee7-3462-1a9874f0d936?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D99B1BAF014455\u0022",
        "x-ms-date": "Fri, 29 Oct 2021 20:35:46 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022bar\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022a7c87dd9-b5c2-4da7-90da-556bc0166b14\u0022,\u0022EncryptedKey\u0022:\u00223Boc0irYGyBY3gxHmnS2IzLRQ4qL/AiyotceQza4awE=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022foo\u0022},\u0022ContentEncryptionIV\u0022:\u0022OyFhyG8LRCfoRIEKNggYzxigpP0YOiebRBoq/IcHq7Q=\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022fizz\u0022:\u0022buzz\u0022}}",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:188375d7-301e-004d-6904-cd152e000000\n",
        "Time:2021-10-29T20:35:46.4683028Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1363cdec-f85e-ba45-7ed7-48a74fca0862?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 20:35:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1332402052",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}