{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9a46d94b-5f2b-9b9e-2f73-ef8aaa86c7e0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 29 Oct 2021 18:42:36 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B0BE09B165D\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 18:42:36 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9a46d94b-5f2b-9b9e-2f73-ef8aaa86c7e0/test-blob-74e15099-ea8e-e00b-ccfe-774cc8fc5f45",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 29 Oct 2021 18:42:36 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022bar\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022d0487917-61aa-9961-a1d4-7f01a13c7062\u0022,\u0022EncryptedKey\u0022:\u0022aFbwDLR61IHbvZ/XYW5qyac1VFB3zlIVAGeBukgPQeo=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022foo\u0022},\u0022ContentEncryptionIV\u0022:\u0022g4uenwJsZMgoJumwOfcj82srJ6B\\u002BOmi/B2AwepIUt3M=\u0022,\u0022Key[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9a46d94b-5f2b-9b9e-2f73-ef8aaa86c7e0/test-blob-74e15099-ea8e-e00b-ccfe-774cc8fc5f45",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 18:42:36 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "OFlwdb76FazrbbgpB9hkPg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D99B0BE0B3EDE8\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 18:42:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 29 Oct 2021 18:42:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 29 Oct 2021 18:42:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022bar\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022d0487917-61aa-9961-a1d4-7f01a13c7062\u0022,\u0022EncryptedKey\u0022:\u0022aFbwDLR61IHbvZ/XYW5qyac1VFB3zlIVAGeBukgPQeo=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022foo\u0022},\u0022ContentEncryptionIV\u0022:\u0022g4uenwJsZMgoJumwOfcj82srJ6B\\u002BOmi/B2AwepIUt3M=\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022fizz\u0022:\u0022buzz\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-29T18:42:36.6469608Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9a46d94b-5f2b-9b9e-2f73-ef8aaa86c7e0/test-blob-74e15099-ea8e-e00b-ccfe-774cc8fc5f45?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D99B0BE0B3EDE8\u0022",
        "x-ms-date": "Fri, 29 Oct 2021 18:42:36 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022bar\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022edd62f6b-9f08-4ac1-bd6a-cc2e33b9521a\u0022,\u0022EncryptedKey\u0022:\u0022J/z3o6luum0ALEhuYE1/4JgKPdrtV4g/kmm1AybzfxE=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022foo\u0022},\u0022ContentEncryptionIV\u0022:\u0022g4uenwJsZMgoJumwOfcj82srJ6B\\u002BOmi/B2AwepIUt3M=\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022fizz\u0022:\u0022buzz\u0022}}",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B0BE0D3F45A\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 18:42:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-29T18:42:36.8588404Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9a46d94b-5f2b-9b9e-2f73-ef8aaa86c7e0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 18:42:36 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1898110416",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}