{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-cfc47b5b-a601-d53f-5e40-7b41fcce906f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 15 Jun 2022 02:17:02 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA4E7524F04762\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 02:17:06 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-cfc47b5b-a601-d53f-5e40-7b41fcce906f/test-blob-6b569388-3756-1e62-4a6b-78147fe4e909",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Jun 2022 02:17:02 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022bar\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022628afe89-140d-f109-46fe-29c2bc1b8a09\u0022,\u0022EncryptedKey\u0022:\u0022fgt66q7l5dmy2hRwIIfQs8OB/7yR5Ahh5\\u002BEyoFd\\u002Bfpg=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022foo\u0022},\u0022ContentEncryptionIV\u0022:\u0022q1GGKnPuIr5AT\\u002Bg60Xhq67INrUFmUvqZAhgDzLJEgTM=\u00[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-cfc47b5b-a601-d53f-5e40-7b41fcce906f/test-blob-6b569388-3756-1e62-4a6b-78147fe4e909",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 02:17:02 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "4mMG0U0q0LVCaYHOyekHbw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA4E7524F52A9F\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 02:17:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Jun 2022 02:17:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022bar\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022628afe89-140d-f109-46fe-29c2bc1b8a09\u0022,\u0022EncryptedKey\u0022:\u0022fgt66q7l5dmy2hRwIIfQs8OB/7yR5Ahh5\\u002BEyoFd\\u002Bfpg=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022foo\u0022},\u0022ContentEncryptionIV\u0022:\u0022q1GGKnPuIr5AT\\u002Bg60Xhq67INrUFmUvqZAhgDzLJEgTM=\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022fizz\u0022:\u0022buzz\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-06-15T02:17:06.4533663Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-cfc47b5b-a601-d53f-5e40-7b41fcce906f/test-blob-6b569388-3756-1e62-4a6b-78147fe4e909?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA4E7524F52A9F\u0022",
        "x-ms-date": "Wed, 15 Jun 2022 02:17:02 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022bar\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00229b2926a3-e515-8be9-7283-c170c2650e8b\u0022,\u0022EncryptedKey\u0022:\u0022fgt66q7l5dmy2hRwIIfQs8OB/7yR5Ahh5\\u002BEyoFd\\u002Bfpg=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022foo\u0022},\u0022ContentEncryptionIV\u0022:\u0022q1GGKnPuIr5AT\\u002Bg60Xhq67INrUFmUvqZAhgDzLJEgTM=\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022fizz\u0022:\u0022buzz\u0022}}",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA4E7525072964\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 02:17:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-06-15T02:17:06.5722996Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-cfc47b5b-a601-d53f-5e40-7b41fcce906f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 02:17:02 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1975991191",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
