{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ef071b16-80c0-4b68-9fc1-419397180aa1/resourceGroups/Default-RemoteApp-WestUS/providers/microsoft.remoteapp/collections/ybtest/securityPrincipals?prevToken=&api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"userConsentStatuses\": [\r\n    {\r\n      \"id\": \"/subscriptions/ef071b16-80c0-4b68-9fc1-419397180aa1/resourceGroups/Default-RemoteApp-WestUS/providers/microsoft.remoteapp/collections/ybtest/securityPrincipals\",\r\n      \"name\": \"ybtest\",\r\n      \"type\": \"microsoft.remoteapp/collections\",\r\n      \"location\": \"West US\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"status\": \"Accepted\",\r\n        \"user\": {\r\n          \"securityPrincipalType\": \"User\",\r\n          \"userIdType\": \"OrgId\",\r\n          \"name\": \"test3@aztestorg068.ccsctp.net\",\r\n          \"aadObjectId\": \"963de88f-e282-4c42-a29e-35eb5695a15a\",\r\n          \"description\": \"\"\r\n        }\r\n      },\r\n      \"eTag\": \"fc73defd-80f8-411b-bf6a-59e80db86790\",\r\n      \"nextLink\": null\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/ef071b16-80c0-4b68-9fc1-419397180aa1/resourceGroups/Default-RemoteApp-WestUS/providers/microsoft.remoteapp/collections/ybtest/securityPrincipals\",\r\n      \"name\": \"ybtest\",\r\n      \"type\": \"microsoft.remoteapp/collections\",\r\n      \"location\": \"West US\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"status\": \"NotFound\",\r\n        \"user\": {\r\n          \"securityPrincipalType\": \"User\",\r\n          \"userIdType\": \"MicrosoftAccount\",\r\n          \"name\": \"auxtm517@live.com\",\r\n          \"aadObjectId\": \"\",\r\n          \"description\": \"\"\r\n        }\r\n      },\r\n      \"eTag\": \"61dc274c-3686-4918-bb77-ed064817ef4c\",\r\n      \"nextLink\": null\r\n    }\r\n  ],\r\n  \"continuationToken\": \"f040f6f9-2043-45db-ad9b-9325820562e6:963de88f-e282-4c42-a29e-35eb5695a15a\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ef071b16-80c0-4b68-9fc1-419397180aa1/resourceGroups/Default-RemoteApp-WestUS/providers/microsoft.remoteapp/collections/ybtest/securityPrincipals?api-version=2014-09-01",
      "RequestMethod": "POST",
      "RequestBody": "[\r\n  {\r\n    \"securityPrincipalType\": \"User\",\r\n    \"userIdType\": \"OrgId\",\r\n    \"name\": \"admin@aztestorg068.ccsctp.net\"\r\n  }\r\n]",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/ef071b16-80c0-4b68-9fc1-419397180aa1/resourceGroups/Default-RemoteApp-WestUS/providers/microsoft.remoteapp/collections/ybtest/securityPrincipals?api-version=2014-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "[\r\n  {\r\n    \"securityPrincipalType\": \"User\",\r\n    \"userIdType\": \"OrgId\",\r\n    \"name\": \"admin@aztestorg068.ccsctp.net\"\r\n  }\r\n]",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "ef071b16-80c0-4b68-9fc1-419397180aa1"
  }
}