{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c920adeb-8172-4d69-80af-a8f4050bc758/resourceGroups/Default-RemoteApp-WestUS/providers/microsoft.remoteapp/collections/testd122/securityPrincipals?prevToken=&api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"userConsentStatuses\": [],\r\n  \"continuationToken\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "c920adeb-8172-4d69-80af-a8f4050bc758"
  }
}