{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Subscription/subscriptions/d17ad3ae-320e-42ff-b5a1-705389c6063a/acceptOwnership?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "MS-CV": [
          "UeSAjMuERkmAPaePkpkxxA.0"
        ],
        "x-gsm": [
          "1.0.0.0"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NullRequestBody\",\r\n    \"message\": \"Request body is either null or not formatted as expected\"\r\n  },\r\n  \"code\": \"NullRequestBody\",\r\n  \"message\": \"Request body is either null or not formatted as expected\"\r\n}",
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "d17ad3ae-320e-42ff-b5a1-705389c6063a"
  }
}