{
  "Entries": [
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/triggers?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/Trigger 1",
            "name": "Trigger 1",
            "type": "Microsoft.Synapse/workspaces/triggers",
            "etag": "00000200-0000-0100-0000-5f07d15b0000",
            "properties": {
              "annotations": [],
              "runtimeState": "Stopped",
              "pipelines": [],
              "type": "ScheduleTrigger",
              "typeProperties": {
                "recurrence": {
                  "frequency": "Minute",
                  "interval": 1,
                  "startTime": "2020-07-10T02:23:00Z",
                  "timeZone": "UTC"
                }
              }
            }
          },
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/dongwwaTrigger2",
            "name": "dongwwaTrigger2",
            "type": "Microsoft.Synapse/workspaces/triggers",
            "etag": "00000600-0000-0100-0000-5f07d2bb0000",
            "properties": {
              "annotations": [],
              "runtimeState": "Stopped",
              "type": "TumblingWindowTrigger",
              "typeProperties": {
                "frequency": "Minute",
                "interval": 15,
                "startTime": "2020-07-10T02:29:00Z",
                "delay": "00:00:00",
                "maxConcurrency": 50,
                "retryPolicy": {
                  "intervalInSeconds": 30
                },
                "dependsOn": []
              }
            }
          },
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/Trigger3",
            "name": "Trigger3",
            "type": "Microsoft.Synapse/workspaces/triggers",
            "etag": "0000e600-0000-0100-0000-5f07d4c80000",
            "properties": {
              "annotations": [],
              "runtimeState": "Stopped",
              "pipelines": [],
              "type": "BlobEventsTrigger",
              "typeProperties": {
                "blobPathBeginsWith": "/fs1/blobs/",
                "ignoreEmptyBlobs": true,
                "scope": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/arcadia-ps-test-group/providers/Microsoft.Storage/storageAccounts/zzygen2",
                "events": [
                  "Microsoft.Storage.BlobCreated"
                ]
              }
            }
          },
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/MyTrigger",
            "name": "MyTrigger",
            "type": "Microsoft.Synapse/workspaces/triggers",
            "etag": "05002cc9-0000-0100-0000-5f45da2a0000",
            "properties": {
              "type": "Trigger",
              "runtimeState": "Stopped"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/triggers/Trigger%201?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/Trigger 1",
        "name": "Trigger 1",
        "type": "Microsoft.Synapse/workspaces/triggers",
        "properties": {
          "annotations": [],
          "runtimeState": "Stopped",
          "pipelines": [],
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {
              "frequency": "Minute",
              "interval": 1,
              "startTime": "2020-07-10T02:23:00Z",
              "timeZone": "UTC"
            }
          }
        },
        "etag": "00000200-0000-0100-0000-5f07d15b0000"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/triggers/dongwwaTrigger2?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/dongwwaTrigger2",
        "name": "dongwwaTrigger2",
        "type": "Microsoft.Synapse/workspaces/triggers",
        "properties": {
          "annotations": [],
          "runtimeState": "Stopped",
          "type": "TumblingWindowTrigger",
          "typeProperties": {
            "frequency": "Minute",
            "interval": 15,
            "startTime": "2020-07-10T02:29:00Z",
            "delay": "00:00:00",
            "maxConcurrency": 50,
            "retryPolicy": {
              "intervalInSeconds": 30
            },
            "dependsOn": []
          }
        },
        "etag": "00000600-0000-0100-0000-5f07d2bb0000"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/triggers/Trigger3?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/Trigger3",
        "name": "Trigger3",
        "type": "Microsoft.Synapse/workspaces/triggers",
        "properties": {
          "annotations": [],
          "runtimeState": "Stopped",
          "pipelines": [],
          "type": "BlobEventsTrigger",
          "typeProperties": {
            "blobPathBeginsWith": "/fs1/blobs/",
            "ignoreEmptyBlobs": true,
            "scope": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/arcadia-ps-test-group/providers/Microsoft.Storage/storageAccounts/zzygen2",
            "events": [
              "Microsoft.Storage.BlobCreated"
            ]
          }
        },
        "etag": "0000e600-0000-0100-0000-5f07d4c80000"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/triggers/MyTrigger?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/MyTrigger",
        "name": "MyTrigger",
        "type": "Microsoft.Synapse/workspaces/triggers",
        "properties": {
          "type": "Trigger",
          "runtimeState": "Stopped"
        },
        "etag": "05002cc9-0000-0100-0000-5f45da2a0000"
      }
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://testsynapseworkspace.dev.azuresynapse.net",
    "RandomSeed": "400292028"
  }
}