{
  "Entries": [
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/triggers/Trigger277322190?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Trigger"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspaceywlive.dev.azuresynapse.net/operationResults/30fee3e9-f81c-41b9-aa54-d1fb50b6c48d?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/rg-ywlive/providers/Microsoft.Synapse/workspaces/workspaceywlive/triggers/Trigger277322190",
        "recordId": 459906,
        "state": "Updating",
        "created": "2020-09-23T08:27:30.29Z",
        "changed": "2020-09-23T08:27:34.5933333Z",
        "type": "Trigger",
        "name": "Trigger277322190",
        "operationId": "30fee3e9-f81c-41b9-aa54-d1fb50b6c48d",
        "artifactId": "153D9F19-8C22-441D-83BA-39CA68D86D0A"
      }
    },
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/operationResults/30fee3e9-f81c-41b9-aa54-d1fb50b6c48d?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspaceywlive.dev.azuresynapse.net/operationResults/30fee3e9-f81c-41b9-aa54-d1fb50b6c48d?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/operationResults/30fee3e9-f81c-41b9-aa54-d1fb50b6c48d?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/rg-ywlive/providers/Microsoft.Synapse/workspaces/workspaceywlive/triggers/Trigger277322190",
        "name": "Trigger277322190",
        "type": "Microsoft.Synapse/workspaces/triggers",
        "properties": {
          "type": "Trigger",
          "runtimeState": "Stopped"
        },
        "etag": "7700a968-0000-0800-0000-5f6b0e160000"
      }
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspaceywlive.dev.azuresynapse.net",
    "RandomSeed": "1334339896"
  }
}