{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/triggers/Trigger169449771?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {}
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/5a83d028-5971-4ec9-b4ed-c626229d5d9c?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/triggers/Trigger169449771",
        "recordId": 996522,
        "state": "Creating",
        "created": "2021-01-22T19:44:46.31Z",
        "changed": "2021-01-22T19:44:46.31Z",
        "type": "Trigger",
        "name": "Trigger169449771",
        "operationId": "5a83d028-5971-4ec9-b4ed-c626229d5d9c",
        "artifactId": "EE953B2D-F8EE-462E-9B7C-A10B462C7827"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/5a83d028-5971-4ec9-b4ed-c626229d5d9c?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/5a83d028-5971-4ec9-b4ed-c626229d5d9c?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/5a83d028-5971-4ec9-b4ed-c626229d5d9c?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/triggers/Trigger169449771",
        "name": "Trigger169449771",
        "type": "Microsoft.Synapse/workspaces/triggers",
        "properties": {
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {}
          },
          "runtimeState": "Stopped"
        },
        "etag": "04023007-0000-0800-0000-600b2b310000"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/triggers?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/triggers/Trigger56446399",
            "name": "Trigger56446399",
            "type": "Microsoft.Synapse/workspaces/triggers",
            "etag": "f5012d73-0000-0800-0000-5fd2533c0000",
            "properties": {
              "type": "ScheduleTrigger",
              "typeProperties": {
                "recurrence": [...]
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/triggers/TestTrigger-asdf?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/triggers/TestTrigger-asdf",
        "name": "TestTrigger-asdf",
        "type": "Microsoft.Synapse/workspaces/triggers",
        "properties": {
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {}
          },
          "runtimeState": "Stopped"
        },
        "etag": "fc01c140-0000-0800-0000-5fd28ff90000"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/triggers?api-version=2019-06-01-preview\u0026%24skipToken=%2BRID%3A~Sl8ZAKxwhABoUgAAAAD8BA%3D%3D%23RT%3A1%23TRC%3A50%23ISV%3A2%23IEO%3A65551%23QCF%3A1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody"[...]
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/triggers?api-version=2019-06-01-preview\u0026%24skipToken=%2BRID%3A~Sl8ZAKxwhACdWwAAAAD8BA%3D%3D%23RT%3A2%23TRC%3A100%23ISV%3A2%23IEO%3A65551%23QCF%3A1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody[...]
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/46f4c89f-3921-441f-96d0-6b4a5ba10356?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1061454897"
  }
}