{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/triggers/Trigger533902365?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {}
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/798bbfaf-fe8c-441f-888a-20104e15b24e?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/triggers/Trigger533902365",
        "recordId": 801123,
        "state": "Updating",
        "created": "2020-12-10T21:54:54.5733333Z",
        "changed": "2020-12-10T22:55:58.9033333Z",
        "type": "Trigger",
        "name": "Trigger533902365",
        "operationId": "798bbfaf-fe8c-441f-888a-20104e15b24e",
        "artifactId": "44A142AD-22F7-4B02-9108-8AEB10F0963A"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/798bbfaf-fe8c-441f-888a-20104e15b24e?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/798bbfaf-fe8c-441f-888a-20104e15b24e?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/798bbfaf-fe8c-441f-888a-20104e15b24e?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/triggers/Trigger533902365",
        "name": "Trigger533902365",
        "type": "Microsoft.Synapse/workspaces/triggers",
        "properties": {
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {}
          },
          "runtimeState": "Stopped"
        },
        "etag": "fe0118f9-0000-0800-0000-5fd2a7af0000"
      }
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1383773590"
  }
}