{
  "Entries": [
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/triggers/MyTrigger?api-version=2019-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/4252ed22-8e31-43e0-b780-cea1114923ed?api-version=2019-06-01-preview"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/MyTrigger",
        "recordId": 0,
        "state": "Deleting",
        "created": "0001-01-01T00:00:00",
        "changed": "0001-01-01T00:00:00",
        "type": "Trigger",
        "name": "MyTrigger",
        "operationId": "4252ed22-8e31-43e0-b780-cea1114923ed"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/4252ed22-8e31-43e0-b780-cea1114923ed?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/4252ed22-8e31-43e0-b780-cea1114923ed?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/4252ed22-8e31-43e0-b780-cea1114923ed?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://testsynapseworkspace.dev.azuresynapse.net",
    "RandomSeed": "1355740848"
  }
}