{
  "Entries": [
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/triggers/Trigger324461666?api-version=2020-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {}
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/37078012-6993-4a2d-8356-6e3ce558685c?api-version=2020-12-01",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/Trigger324461666",
        "recordId": 2424615,
        "state": "Creating",
        "created": "2021-09-30T06:22:43.2033333Z",
        "changed": "2021-09-30T06:22:43.2033333Z",
        "type": "Trigger",
        "name": "Trigger324461666",
        "operationId": "37078012-6993-4a2d-8356-6e3ce558685c",
        "artifactId": "4EB6296D-BA92-4683-AA43-7F489BD633AE"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/37078012-6993-4a2d-8356-6e3ce558685c?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/37078012-6993-4a2d-8356-6e3ce558685c?api-version=2020-12-01",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/37078012-6993-4a2d-8356-6e3ce558685c?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/Trigger324461666",
        "name": "Trigger324461666",
        "type": "Microsoft.Synapse/workspaces/triggers",
        "properties": {
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {}
          },
          "runtimeState": "Stopped"
        },
        "etag": "2e003681-0000-0100-0000-615557b60000"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/triggers?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/Trigger 1",
            "name": "Trigger 1",
            "type": "Microsoft.Synapse/workspaces/triggers",
            "etag": "00000200-0000-0100-0000-5f07d15b0000",
            "properties": {
              "annotations": [],
              "runtimeState": "Stopped",
              "pipelines": [],
              "type": "ScheduleTrigger",
              "typeProperties": {
                "recurrence": {
                  "frequency": "Minute",
                  "interval": 1,
                  "startTime": "2020-07-10T02:23:00Z",
                  "timeZone": "UTC"
                }
              }
            }
          },
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/dongwwaTrigger2",
            "name": "dongwwaTrigger2",
            "type": "Microsoft.Synapse/workspaces/triggers",
            "etag": "00000600-0000-0100-0000-5f07d2bb0000",
            "properties": {
              "annotations": [],
              "runtimeState": "Stopped",
              "type": "TumblingWindowTrigger",
              "typeProperties": {
                "frequency": "Minute",
                "interval": 15,
                "startTime": "2020-07-10T02:29:00Z",
                "delay": "00:00:00",
                "maxConcurrency": 50,
                "retryPolicy": {
                  "intervalInSeconds": 30
                },
                "dependsOn": []
              }
            }
          },
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/Trigger3",
            "name": "Trigger3",
            "type": "Microsoft.Synapse/workspaces/triggers",
            "etag": "0000e600-0000-0100-0000-5f07d4c80000",
            "properties": {
              "annotations": [],
              "runtimeState": "Stopped",
              "pipelines": [],
              "type": "BlobEventsTrigger",
              "typeProperties": {
                "blobPathBeginsWith": "/fs1/blobs/",
                "ignoreEmptyBlobs": true,
                "scope": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/arcadia-ps-test-group/providers/Microsoft.Storage/storageAccounts/zzygen2",
                "events": [
                  "Microsoft.Storage.BlobCreated"
                ]
              }
            }
          },
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/EventTrigger",
            "name": "EventTrigger",
            "type": "Microsoft.Synapse/workspaces/triggers",
            "etag": "1200bc14-0000-0100-0000-5f51ace40000",
            "properties": {
              "type": "BlobEventsTrigger",
              "annotations": [],
              "pipelines": [
                {
                  "pipelineReference": {
                    "type": "PipelineReference",
                    "referenceName": "Pipeline 1"
                  }
                }
              ],
              "typeProperties": {
                "blobPathBeginsWith": "/ywfilesystem/blobs/",
                "ignoreEmptyBlobs": true,
                "events": [
                  "Microsoft.Storage.BlobCreated"
                ],
                "scope": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/ywtest/providers/Microsoft.Storage/storageAccounts/ywtestaccount"
              },
              "runtimeState": "Stopped"
            }
          },
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/TumblingWindowTrigger",
            "name": "TumblingWindowTrigger",
            "type": "Microsoft.Synapse/workspaces/triggers",
            "etag": "09009271-0000-0100-0000-61404cd20000",
            "properties": {
              "type": "TumblingWindowTrigger",
              "annotations": [],
              "pipeline": {
                "pipelineReference": {
                  "type": "PipelineReference",
                  "referenceName": "Pipeline 1"
                }
              },
              "typeProperties": {
                "frequency": "Minute",
                "interval": 15,
                "startTime": "2020-07-10T02:00:00Z",
                "delay": "00:00:00",
                "maxConcurrency": 50,
                "retryPolicy": {
                  "intervalInSeconds": 30
                },
 [...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/triggers/Trigger%201?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/Trigger 1",
        "name": "Trigger 1",
        "type": "Microsoft.Synapse/workspaces/triggers",
        "properties": {
          "annotations": [],
          "runtimeState": "Stopped",
          "pipelines": [],
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {
              "frequency": "Minute",
              "interval": 1,
              "startTime": "2020-07-10T02:23:00Z",
              "timeZone": "UTC"
            }
          }
        },
        "etag": "00000200-0000-0100-0000-5f07d15b0000"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/triggers/dongwwaTrigger2?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/dongwwaTrigger2",
        "name": "dongwwaTrigger2",
        "type": "Microsoft.Synapse/workspaces/triggers",
        "properties": {
          "annotations": [],
          "runtimeState": "Stopped",
          "type": "TumblingWindowTrigger",
          "typeProperties": {
            "frequency": "Minute",
            "interval": 15,
            "startTime": "2020-07-10T02:29:00Z",
            "delay": "00:00:00",
            "maxConcurrency": 50,
            "retryPolicy": {
              "intervalInSeconds": 30
            },
            "dependsOn": []
          }
        },
        "etag": "00000600-0000-0100-0000-5f07d2bb0000"
      }
    },
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/triggers/EventTrigger?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/EventTrigger",
        "name": "EventTrigger",
        "type": "Microsoft.Synapse/workspaces/triggers",
        "properties": {
          "type": "BlobEventsTrigger",
          "annotations": [],
          "pipelines": [
            {
              "pipelineReference": {
                "type": "PipelineReference",
                "referenceName": "Pipeline 1"
              }
            }
          ],
          "typeProperties": {
            "blobPathBeginsWith": "/ywfilesystem/blobs/",
            "ignoreEmptyBlobs": true,
            "events": [
              "Microsoft.Storage.BlobCreated"
            ],
            "scope": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/ywtest/providers/Microsoft.Storage/storageAccounts/ywtestaccount"
          },
          "runtimeState": "Stopped"
        },
        "etag": "1200bc14-0000-0100-0000-5f51ace40000"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/triggers/TumblingWindowTrigger?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/TumblingWindowTrigger",
        "name": "TumblingWindowTrigger",
        "type": "Microsoft.Synapse/workspaces/triggers",
        "properties": {
          "type": "TumblingWindowTrigger",
          "annotations": [],
          "pipeline": {
            "pipelineReference": {
              "type": "PipelineReference",
              "referenceName": "Pipeline 1"
            }
          },
          "typeProperties": {
            "frequency": "Minute",
            "interval": 15,
            "startTime": "2020-07-10T02:00:00Z",
            "delay": "00:00:00",
            "maxConcurrency": 50,
            "retryPolicy": {
              "intervalInSeconds": 30
            },
            "dependsOn": []
          },
          "runtimeState": "Stopped"
        },
        "etag": "09009271-0000-0100-0000-61404cd20000"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/triggers/TestTrigger-asdf?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/triggers/TestTrigger-asdf",
        "name": "TestTrigger-asdf",
        "type": "Microsoft.Synapse/workspaces/triggers",
        "properties": {
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {}
          },
          "runtimeState": "Stopped"
        },
        "etag": "1a00bdca-0000-0100-0000-5fd71bf80000"
      }
    },
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/d05cd422-b0e4-4b7a-b8e6-1e06c379becb?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://testsynapseworkspace.dev.azuresynapse.net",
    "RandomSeed": "1535958187"
  }
}