{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Network/trafficManagerGeographicHierarchies/default?api-version=2022-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-resource-requests": "98"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Network/trafficManagerGeographicHierarchies/default",
        "name": "default",
        "type": "Microsoft.Network/trafficManagerGeographicHierarchies",
        "properties": {
          "geographicHierarchy": {
            "code": "WORLD",
            "name": "World",
            "regions": [
              {
                "code": "GEO-EU",
                "name": "Europe",
                "regions": [
                  {
                    "code": "AD",
                    "name": "Andorra",
                    "regions": []
                  },
                  {
                    "code": "AL",
                    "name": "Albania",
                    "regions": []
                  },
                  {
                    "code": "AT",
                    "name": "Austr[...]
