{
  "Entries": [
    {
      "RequestUri": "https://azs-net-gjxdhkdl.search.windows.net/indexes(\u0027grurisvf\u0027)/docs/search.post.autocomplete?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "very po",
        "suggesterName": ""
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "2",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "Cannot find fields enabled for suggestions. Please provide a value for \u0027suggesterName\u0027 in the query.\r\nParameter name: suggestions"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1550951357",
    "SearchIndexName": "grurisvf",
    "SearchServiceName": "azs-net-gjxdhkdl"
  }
}