{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/query",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"query\": \"union * | foobar\",\r\n  \"timespan\": \"PT1H\"\r\n}",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"message\": \"The request had some invalid properties\",\r\n    \"code\": \"BadArgumentError\",\r\n    \"innererror\": {\r\n      \"code\": \"SyntaxError\",\r\n      \"message\": \"A recognition error occurred in the query.\",\r\n      \"innererror\": {\r\n        \"code\": \"SYN0002\",\r\n        \"message\": \"Query could not be parsed at 'foobar' on line [1,10]\",\r\n        \"line\": 1,\r\n        \"pos\": 10,\r\n        \"token\": \"foobar\"\r\n      }\r\n    }\r\n  }\r\n}",
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {}
}