{
  "Entries": [
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": "{\u0022startTime\u0022:\u00222020-09-26T00:00:00Z\u0022,\u0022endTime\u0022:\u00222020-09-29T00:00:00Z\u0022,\u0022value\u0022:{\u0022anomalyValue\u0022:\u0022AutoDetect\u0022},\u0022anomalyDetectionConfigurationId\u0022:\u0022efaee305-f049-43ec-9f9b-76026d55c14a\u0022,\u0022feedbackType\u0022:\u0022Anomaly\u0022,\u0022metricId\u0022:\u0022390d1139-98fb-45af-b831-8d5ad61b150a\u0022,\u0022dimensionFilter\u0022:{\u0022dimension\u0022:{\u0022region\u0022:\u0022Cairo\u0022,\u0022category\u0022:\u0022Shoes Handbags \u0026 Sunglasses\u0022}}}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/a14115fe-8973-466b-9b8d-b9af89c5f11b"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/a14115fe-8973-466b-9b8d-b9af89c5f11b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "feedbackId": "a14115fe-8973-466b-9b8d-b9af89c5f11b",
        "createdTime": "2021-11-18T17:48:46.25Z",
        "userPrincipal": "foo@contoso.com",
        "metricId": "390d1139-98fb-45af-b831-8d5ad61b150a",
        "dimensionFilter": {
          "dimension": {
            "region": "Cairo",
            "category": "Shoes Handbags \u0026 Sunglasses"
          }
        },
        "feedbackType": "Anomaly",
        "startTime": "2020-09-26T00:00:00Z",
        "endTime": "2020-09-29T00:00:00Z",
        "value": {
          "anomalyValue": "AutoDetect"
        },
        "anomalyDetectionConfigurationId": "efaee305-f049-43ec-9f9b-76026d55c14a",
        "anomalyDetectionConfigurationSnapshot": {
          "anomalyDetectionConfigurationId": "efaee305-f049-43ec-9f9b-76026d55c14a",
          "name": "Default",
          "description": "This description was generated by a sample.",
          "metricId": "390d1139-98fb-45af-b831-8d5ad61b150a",
          "wholeMetricConfiguration": {
            "smartDetectionCondition": {
              "sensitivity": 100.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            }
          },
          "dimensionGroupOverrideConfigurations": [],
          "seriesOverrideConfigurations": []
        }
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-11-18T09:48:46.8728799-08:00",
    "METRICSADVISOR_ACCOUNT_NAME": "ga-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1945671246"
  }
}