{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "value": {
          "periodType": "AutoDetect",
          "periodValue": 10
        },
        "feedbackType": "Period",
        "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
        "dimensionFilter": {
          "dimension": {
            "city": "Delhi",
            "category": "Handmade"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/860e289c-8777-4148-acdf-518e902c7f3e"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/860e289c-8777-4148-acdf-518e902c7f3e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "feedbackId": "860e289c-8777-4148-acdf-518e902c7f3e",
        "createdTime": "2020-12-08T04:20:08.482Z",
        "userPrincipal": "foo@contoso.com",
        "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
        "dimensionFilter": {
          "dimension": {
            "city": "Delhi",
            "category": "Handmade"
          }
        },
        "feedbackType": "Period",
        "value": {
          "periodType": "AutoDetect",
          "periodValue": 10
        }
      }
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "667262993"
  }
}