{
  "Entries": [
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2020-09-26T00:00:00.0000000Z",
        "endTime": "2020-09-29T00:00:00.0000000Z",
        "value": {
          "anomalyValue": "AutoDetect"
        },
        "feedbackType": "Anomaly",
        "metricId": "b6c0649c-0c51-4aa6-82b6-3c3b0aa55066",
        "dimensionFilter": {
          "dimension": {
            "Dim1": "JPN",
            "Dim2": "JP"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/59c3e929-8a88-4b3a-9ae0-79c4072f3684"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/59c3e929-8a88-4b3a-9ae0-79c4072f3684",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "feedbackId": "59c3e929-8a88-4b3a-9ae0-79c4072f3684",
        "createdTime": "2022-04-19T04:03:24.593Z",
        "userPrincipal": "foo@contoso.com",
        "metricId": "b6c0649c-0c51-4aa6-82b6-3c3b0aa55066",
        "dimensionFilter": {
          "dimension": {
            "Dim1": "JPN",
            "Dim2": "JP"
          }
        },
        "feedbackType": "Anomaly",
        "startTime": "2020-09-26T00:00:00Z",
        "endTime": "2020-09-29T00:00:00Z",
        "value": {
          "anomalyValue": "AutoDetect"
        }
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-04-18T21:03:24.9062861-07:00",
    "METRICSADVISOR_ACCOUNT_NAME": "ga-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "451567318"
  }
}
