{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2020-09-26T00:00:00Z",
        "endTime": "2020-09-29T00:00:00Z",
        "value": {
          "anomalyValue": "AutoDetect"
        },
        "feedbackType": "Anomaly",
        "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
        "dimensionFilter": {
          "dimension": {
            "city": "Delhi",
            "category": "Handmade"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/8c198030-01a6-46cb-856b-3d22d63c3a2d"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/8c198030-01a6-46cb-856b-3d22d63c3a2d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "feedbackId": "8c198030-01a6-46cb-856b-3d22d63c3a2d",
        "createdTime": "2020-12-08T04:20:09.722Z",
        "userPrincipal": "foo@contoso.com",
        "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
        "dimensionFilter": {
          "dimension": {
            "city": "Delhi",
            "category": "Handmade"
          }
        },
        "feedbackType": "Anomaly",
        "startTime": "2020-09-26T00:00:00Z",
        "endTime": "2020-09-29T00:00:00Z",
        "value": {
          "anomalyValue": "AutoDetect"
        },
        "anomalyDetectionConfigurationId": null,
        "anomalyDetectionConfigurationSnapshot": null
      }
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "196571607"
  }
}