{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2020-09-26T00:00:00Z",
        "endTime": "2020-09-29T00:00:00Z",
        "value": {
          "anomalyValue": "AutoDetect"
        },
        "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
        "feedbackType": "Anomaly",
        "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
        "dimensionFilter": {
          "dimension": {
            "city": "Delhi",
            "category": "Handmade"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/252407cf-f2b4-4820-8b66-70d764bc6d85"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/252407cf-f2b4-4820-8b66-70d764bc6d85",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "feedbackId": "252407cf-f2b4-4820-8b66-70d764bc6d85",
        "createdTime": "2020-12-15T01:34:41.562Z",
        "userPrincipal": "foo@contoso.com",
        "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
        "dimensionFilter": {
          "dimension": {
            "city": "Delhi",
            "category": "Handmade"
          }
        },
        "feedbackType": "Anomaly",
        "startTime": "2020-09-26T00:00:00Z",
        "endTime": "2020-09-29T00:00:00Z",
        "value": {
          "anomalyValue": "AutoDetect"
        },
        "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
        "anomalyDetectionConfigurationSnapshot": {
          "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
          "name": "Default",
          "description": "",
          "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
          "wholeMetricConfiguration": {
            "smartDetectionCondition": {
              "sensitivity": 100.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            }
          },
          "dimensionGroupOverrideConfigurations": [],
          "seriesOverrideConfigurations": []
        }
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-12-14T17:34:41.8057376-08:00",
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "484178245"
  }
}