{
  "Entries": [
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2020-09-26T00:00:00.0000000Z",
        "endTime": "2020-09-29T00:00:00.0000000Z",
        "value": {
          "changePointValue": "AutoDetect"
        },
        "feedbackType": "ChangePoint",
        "metricId": "b6c0649c-0c51-4aa6-82b6-3c3b0aa55066",
        "dimensionFilter": {
          "dimension": {
            "Dim1": "JPN",
            "Dim2": "JP"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/560a5832-b8b5-4ed7-9343-0547c07f5ff3"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/560a5832-b8b5-4ed7-9343-0547c07f5ff3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "feedbackId": "560a5832-b8b5-4ed7-9343-0547c07f5ff3",
        "createdTime": "2022-04-19T04:03:19.914Z",
        "userPrincipal": "foo@contoso.com",
        "metricId": "b6c0649c-0c51-4aa6-82b6-3c3b0aa55066",
        "dimensionFilter": {
          "dimension": {
            "Dim1": "JPN",
            "Dim2": "JP"
          }
        },
        "feedbackType": "ChangePoint",
        "startTime": "2020-09-26T00:00:00Z",
        "endTime": "2020-09-29T00:00:00Z",
        "value": {
          "changePointValue": "AutoDetect"
        }
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-04-18T21:03:20.3888840-07:00",
    "METRICSADVISOR_ACCOUNT_NAME": "ga-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "384861667"
  }
}
