{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2020-09-26T00:00:00Z",
        "endTime": "2020-09-29T00:00:00Z",
        "value": {
          "commentValue": "Feedback created in a .NET test."
        },
        "feedbackType": "Comment",
        "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
        "dimensionFilter": {
          "dimension": {
            "city": "Delhi",
            "category": "Handmade"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/b8ada8a3-3895-40b8-857d-13defbfde5be"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/b8ada8a3-3895-40b8-857d-13defbfde5be",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "feedbackId": "b8ada8a3-3895-40b8-857d-13defbfde5be",
        "createdTime": "2020-12-08T04:42:06.665Z",
        "userPrincipal": "foo@contoso.com",
        "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
        "dimensionFilter": {
          "dimension": {
            "city": "Delhi",
            "category": "Handmade"
          }
        },
        "feedbackType": "Comment",
        "startTime": "2020-09-26T00:00:00Z",
        "endTime": "2020-09-29T00:00:00Z",
        "value": {
          "commentValue": "Feedback created in a .NET test."
        }
      }
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1304289560"
  }
}