{
  "Entries": [
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": "{\u0022startTime\u0022:\u00222020-09-26T00:00:00Z\u0022,\u0022endTime\u0022:\u00222020-09-29T00:00:00Z\u0022,\u0022value\u0022:{\u0022changePointValue\u0022:\u0022AutoDetect\u0022},\u0022feedbackType\u0022:\u0022ChangePoint\u0022,\u0022metricId\u0022:\u0022390d1139-98fb-45af-b831-8d5ad61b150a\u0022,\u0022dimensionFilter\u0022:{\u0022dimension\u0022:{\u0022region\u0022:\u0022Cairo\u0022,\u0022category\u0022:\u0022Shoes Handbags \u0026 Sunglasses\u0022}}}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/23cd5038-7b4b-4b2f-97bf-937ddc6c4ca1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/23cd5038-7b4b-4b2f-97bf-937ddc6c4ca1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "feedbackId": "23cd5038-7b4b-4b2f-97bf-937ddc6c4ca1",
        "createdTime": "2021-11-18T17:48:47.323Z",
        "userPrincipal": "foo@contoso.com",
        "metricId": "390d1139-98fb-45af-b831-8d5ad61b150a",
        "dimensionFilter": {
          "dimension": {
            "region": "Cairo",
            "category": "Shoes Handbags \u0026 Sunglasses"
          }
        },
        "feedbackType": "ChangePoint",
        "startTime": "2020-09-26T00:00:00Z",
        "endTime": "2020-09-29T00:00:00Z",
        "value": {
          "changePointValue": "AutoDetect"
        }
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-11-18T09:48:47.5846065-08:00",
    "METRICSADVISOR_ACCOUNT_NAME": "ga-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1325061589"
  }
}