{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2020-09-26T00:00:00Z",
        "endTime": "2020-09-29T00:00:00Z",
        "value": {
          "changePointValue": "AutoDetect"
        },
        "feedbackType": "ChangePoint",
        "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
        "dimensionFilter": {
          "dimension": {
            "city": "Delhi",
            "category": "Handmade"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/f9e43d89-e98f-4be4-8949-88135f278536"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/f9e43d89-e98f-4be4-8949-88135f278536",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "feedbackId": "f9e43d89-e98f-4be4-8949-88135f278536",
        "createdTime": "2020-12-08T18:40:17.33Z",
        "userPrincipal": "foo@contoso.com",
        "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
        "dimensionFilter": {
          "dimension": {
            "city": "Delhi",
            "category": "Handmade"
          }
        },
        "feedbackType": "ChangePoint",
        "startTime": "2020-09-26T00:00:00Z",
        "endTime": "2020-09-29T00:00:00Z",
        "value": {
          "changePointValue": "AutoDetect"
        }
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-12-08T10:40:17.9046943-08:00",
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1927302374"
  }
}