{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9bdbbb92-5a63-506c-f0cd-02b6ebd49495?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B2026C6C948\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9bdbbb92-5a63-506c-f0cd-02b6ebd49495/test-blob-c03a3310-ce32-5994-b372-af013e29c21a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "\u002BovoS8s\u002BMVXp5z6RO8Y69tauGLEkM3TAwl20n56GOcVpCsJzmP4AL1sCO19OI8S\u002Bovg7CVQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "z\u002Bp\u002B2AI900thetg803DsTw==",
        "ETag": "\u00220x8DA6B2026CCF30D\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-content-crc64": "ySgGUFnK/Z4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T13:51:46.0437773Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9bdbbb92-5a63-506c-f0cd-02b6ebd49495/test-blob-c03a3310-ce32-5994-b372-af013e29c21a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "z\u002Bp\u002B2AI900thetg803DsTw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B2026CCF30D\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T13:51:46.0437773Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9bdbbb92-5a63-506c-f0cd-02b6ebd49495/test-blob-c03a3310-ce32-5994-b372-af013e29c21a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-range": "bytes=0-36",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-36/53",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B2026CCF30D\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-blob-content-md5": "z\u002Bp\u002B2AI900thetg803DsTw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T13:51:46.0437773Z"
      },
      "ResponseBody": "\u002BovoS8s\u002BMVXp5z6RO8Y69tauGLEkM3TAwl20n56GOcVpCsJzmA=="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9bdbbb92-5a63-506c-f0cd-02b6ebd49495?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "620530612",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
