{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-cb95c72c-19c5-67b5-9bbd-6d1863028cd7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 19 Jul 2022 18:51:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69B7BEB33D66\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:51:52 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-cb95c72c-19c5-67b5-9bbd-6d1863028cd7/test-blob-2297b7c9-0267-75b4-aa7f-c5f21f180331",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 18:51:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "bQT6g0aI5FYL9CS3DGzuVtrf4GYDKLzl9EjyALH5fFk760qQMkvx7HMeouLpyE3p9O5UB6k=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "FHNLLAJNM1V3stguX7wB0g==",
        "ETag": "\u00220x8DA69B7BEB8F301\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:51:52 GMT",
        "x-ms-content-crc64": "ROFxzEQAMz4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:51:52.6070017Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-cb95c72c-19c5-67b5-9bbd-6d1863028cd7/test-blob-2297b7c9-0267-75b4-aa7f-c5f21f180331",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:51:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "FHNLLAJNM1V3stguX7wB0g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69B7BEB8F301\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:51:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 18:51:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:51:52.6070017Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-cb95c72c-19c5-67b5-9bbd-6d1863028cd7/test-blob-2297b7c9-0267-75b4-aa7f-c5f21f180331",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:51:53 GMT",
        "x-ms-range": "bytes=16-36",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 16-36/53",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69B7BEB8F301\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:51:52 GMT",
        "x-ms-blob-content-md5": "FHNLLAJNM1V3stguX7wB0g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 18:51:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:51:52.6070017Z"
      },
      "ResponseBody": "2t/gZgMovOX0SPIAsfl8WTvrSpAy"
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-cb95c72c-19c5-67b5-9bbd-6d1863028cd7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:51:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "671377481",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
