{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6a001370-1e3f-2e02-126d-5da8733be6a0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:47 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B2026FF5D3D\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6a001370-1e3f-2e02-126d-5da8733be6a0/test-blob-b9aa5640-f94e-71ab-5f36-c37e7394ea07",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:47 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "C334IEbXJWrvGlVA5qhdFGP36rtqS8fUHhmpnrqlefZYLlqkyFK8VH4H\u002BG5YjiliuLZQWZg=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "3aJmMKVWWszqy0nsRfQIew==",
        "ETag": "\u00220x8DA6B20270475CB\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-content-crc64": "cGtdrk1LBNs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T13:51:46.4085707Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6a001370-1e3f-2e02-126d-5da8733be6a0/test-blob-b9aa5640-f94e-71ab-5f36-c37e7394ea07",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:47 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "3aJmMKVWWszqy0nsRfQIew==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B20270475CB\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T13:51:46.4085707Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6a001370-1e3f-2e02-126d-5da8733be6a0/test-blob-b9aa5640-f94e-71ab-5f36-c37e7394ea07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:47 GMT",
        "x-ms-range": "bytes=16-36",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 16-36/53",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B20270475CB\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-blob-content-md5": "3aJmMKVWWszqy0nsRfQIew==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T13:51:46.4085707Z"
      },
      "ResponseBody": "Y/fqu2pLx9QeGameuqV59lguWqTI"
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6a001370-1e3f-2e02-126d-5da8733be6a0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:47 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "862596540",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
