{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-528a38fc-d9ca-6b92-d229-4e501cff0271?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B20268E0E4F\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:45 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-528a38fc-d9ca-6b92-d229-4e501cff0271/test-blob-766fc53b-2020-2b31-45e3-5fa61a08a56c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "21LCHYWDqm4oQoqN20A4RRH6Km9Alu7Jsd3retfeesY3kMbl5TJJt3bGGfsz23srsMyVbKJAXUVk\u002BWuomDCXSsjDVkp5U2DesHP4en3yldViv8kLSQ0k9jOBgevGoR5GL88zb4UwsVxrtrwuR\u002BPIcWOWRdhmjAC6n2AX\u002BNJ0GA5UskquvyZQMQ5sn5NR9a5PuA\u002BIMFxG36POeNAkGLiK952u2pWYGrE8RhPK\u002Be1saamxx0DC7OeyDtKn30ZWKxlV4af1oxsYt55dS\u002BpIe\u002BW2Yg8mclB4xwu2/MzC8Dpr5hr6dRdFd8aOmBChZKD9apLs8X03L7jI3[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-528a38fc-d9ca-6b92-d229-4e501cff0271/test-blob-766fc53b-2020-2b31-45e3-5fa61a08a56c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "9ybD5jjghi21w1I4s7wq2w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B20269374DC\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 13:51:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T13:51:45.6669916Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-528a38fc-d9ca-6b92-d229-4e501cff0271?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1610187059",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
