{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9baaba99-61e1-c516-e915-eaa39961e2bb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 19 Jul 2022 21:23:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69CCF6CCCE96\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:23:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9baaba99-61e1-c516-e915-eaa39961e2bb/test-blob-7acc1050-5e0d-6f95-b853-433503a076e4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 21:23:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "vK9U/s8O4p4ID/ZpB3N6eQ\u002B5k46D3CbodVVYOx1RcaSWZanWRnZq6XN/EYcfhjyETs56sME=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "DcNZ5GA9wZrwOREuxR1a2A==",
        "ETag": "\u00220x8DA69CCF6D2B212\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:23:46 GMT",
        "x-ms-content-crc64": "PYMVlApRwGE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:23:46.1604638Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9baaba99-61e1-c516-e915-eaa39961e2bb/test-blob-7acc1050-5e0d-6f95-b853-433503a076e4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:23:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DcNZ5GA9wZrwOREuxR1a2A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69CCF6D2B212\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:23:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 21:23:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:23:46.1604638Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9baaba99-61e1-c516-e915-eaa39961e2bb/test-blob-7acc1050-5e0d-6f95-b853-433503a076e4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:23:46 GMT",
        "x-ms-range": "bytes=16-36",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 16-36/53",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69CCF6D2B212\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:23:46 GMT",
        "x-ms-blob-content-md5": "DcNZ5GA9wZrwOREuxR1a2A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 21:23:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:23:46.1604638Z"
      },
      "ResponseBody": "D7mTjoPcJuh1VVg7HVFxpJZlqdZG"
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9baaba99-61e1-c516-e915-eaa39961e2bb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:23:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "841140081",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
