{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-cb8f6e26-384b-16a7-f06e-74cbb2a6c868?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69CD081BB3D8\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-cb8f6e26-384b-16a7-f06e-74cbb2a6c868/test-blob-f1523e2f-8184-210f-0e0d-f52c605ad7e7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "QbpnZOSlBkDHgc8/VWoYP1mwUmzKFGGwd4qNJ4UTcxhwppv3kJSZD4a\u002BVn7DO9Y9sHsQUOs=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "uRTjidXCkJQut5EcC64CIw==",
        "ETag": "\u00220x8DA69CD082040A1\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-content-crc64": "inEgFyCQLRw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:24:15.1890081Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-cb8f6e26-384b-16a7-f06e-74cbb2a6c868/test-blob-f1523e2f-8184-210f-0e0d-f52c605ad7e7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "uRTjidXCkJQut5EcC64CIw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69CD082040A1\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:24:15.1890081Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-cb8f6e26-384b-16a7-f06e-74cbb2a6c868/test-blob-f1523e2f-8184-210f-0e0d-f52c605ad7e7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-range": "bytes=0-36",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-36/53",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69CD082040A1\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-blob-content-md5": "uRTjidXCkJQut5EcC64CIw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:24:15.1890081Z"
      },
      "ResponseBody": "QbpnZOSlBkDHgc8/VWoYP1mwUmzKFGGwd4qNJ4UTcxhwppv3kA=="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-cb8f6e26-384b-16a7-f06e-74cbb2a6c868?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1903893117",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
