{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-3b316991-95d8-41c6-73d1-544d84939e14?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69CD0802B13C\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:14 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-3b316991-95d8-41c6-73d1-544d84939e14/test-blob-eb82757a-29dc-34bc-629f-587778627f2a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "zZwmOPOfmdMCUO5R5j/ItKL4dOg3JamoPsn7B1RQtQr8QsF89M6guGYQG8sfLTlD",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "v8yhPaC4U6tAOAF29S7Ksw==",
        "ETag": "\u00220x8DA69CD08078C1A\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-content-crc64": "n2OXu4ckMLU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:24:15.0271002Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-3b316991-95d8-41c6-73d1-544d84939e14/test-blob-eb82757a-29dc-34bc-629f-587778627f2a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "v8yhPaC4U6tAOAF29S7Ksw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69CD08078C1A\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:24:15.0271002Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-3b316991-95d8-41c6-73d1-544d84939e14/test-blob-eb82757a-29dc-34bc-629f-587778627f2a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-range": "bytes=0-31",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-31/48",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69CD08078C1A\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-blob-content-md5": "v8yhPaC4U6tAOAF29S7Ksw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:24:15.0271002Z"
      },
      "ResponseBody": "zZwmOPOfmdMCUO5R5j/ItKL4dOg3JamoPsn7B1RQtQo="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-3b316991-95d8-41c6-73d1-544d84939e14?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:15 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1474320148",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
