{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b1e35677-a4ee-9194-2b9b-85a6ac8b6acc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:21 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69B83A91ABA9\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:55:20 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b1e35677-a4ee-9194-2b9b-85a6ac8b6acc/test-blob-333be5ae-c3bb-2591-f5a0-5ee25a41fdad",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:21 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022c039a9dc-aef2-74a6-1919-b171eae1e269\u0022,\u0022EncryptedKey\u0022:\u0022ojMfkgLCLaxgEfbQQ/blrLpDW1G99QL9UpfIpnzLIyw=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022q\\u002Bj5XB9ZkHAT55PMumJp7A==\u0022,\u0022KeyWrappin[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b1e35677-a4ee-9194-2b9b-85a6ac8b6acc/test-blob-333be5ae-c3bb-2591-f5a0-5ee25a41fdad",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:21 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1039/1040",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69B83A96DD74\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:55:20 GMT",
        "x-ms-blob-content-md5": "VBXmsJ1feqr1VFGACn21ew==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 18:55:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022c039a9dc-aef2-74a6-1919-b171eae1e269\u0022,\u0022EncryptedKey\u0022:\u0022ojMfkgLCLaxgEfbQQ/blrLpDW1G99QL9UpfIpnzLIyw=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022q\\u002Bj5XB9ZkHAT55PMumJp7A==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:55:20.4211060Z"
      },
      "ResponseBody": "lCXOibCDIn8SpzZAl47DWA4WfaoxcVK3R4ihaTZ1HaS96VmiOevG1eBSP0XyhrCw9ZhEBRh4WUKdaJQLCMrdRTTqH2x43XuaX/NQJ\u002B9C/A/GQLXmidcarehfVKfKWlbGfbBpvXGYxBpJvSLEyordSCmmxPeWUXXuA3zL8bXghnHzPnNK7zfF9AZJdWIqlo95WXIOTef0lCwdgyi/7bJ7h22Od3E80cdixeQYoTYATjOzmX8C49FchpBiXnvK\u002BOPkMy3OUVJ18/Mq79IuYIVct0JY1OI4S\u002Bu7LqzcLdF\u002BjrcgQquLc4A6hGU5ksSmK56svnL/N5lzotOMECVlxrAg/hJI12UUXu0g68wTRbm\u002BGfZGM1XDgLqBGn4Hg5T\u002BPtjjxk0/AKw3vLFRHV0dU6cPOO[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b1e35677-a4ee-9194-2b9b-85a6ac8b6acc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:21 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1560774511",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
