{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1165073e-a900-1e85-2377-e049dd2b9745?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:51:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69B7BFAFA0F9\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:51:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1165073e-a900-1e85-2377-e049dd2b9745/test-blob-a9d60acc-c652-4b60-90dc-ea0bdfc7713b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 18:51:54 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022dbbc0b86-230c-a260-2664-50046289b049\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////\\u002BhsVNNSpS4712mnLTFHrjwzzEPXe6RwCk11WTdzPYDQQ==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:4194304,\u0022Non[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1165073e-a900-1e85-2377-e049dd2b9745/test-blob-a9d60acc-c652-4b60-90dc-ea0bdfc7713b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:51:54 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1051/1052",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69B7BFB6DD35\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:51:54 GMT",
        "x-ms-blob-content-md5": "JansrMJ/lXMJLNECpKUQXg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 18:51:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022dbbc0b86-230c-a260-2664-50046289b049\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////\\u002BhsVNNSpS4712mnLTFHrjwzzEPXe6RwCk11WTdzPYDQQ==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:4194304,\u0022NonceLength\u0022:12},\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:51:54.2710581Z"
      },
      "ResponseBody": "AAAAAAEAAAAAAAAA8UWjQzAJSIVtbl8i7XNokNhqoWYYVXkGC1d6mflkYYLajBHXm4WD0KBH4lhR7CDiFc/A\u002BJDUxUPHAgL5N3ClNQ8rlVVk8ookoWhK20e7h8WIJsIh0Tks5y\u002BKx26K9IqZuMO3hfx2edU4apkXhhpNwLz\u002B7itLSC5nc97hPknntgTsS8P6n/vqL3wYuBhB8Du6lt0FCWW\u002Bta7N6WxlWCLq0opxwYMDU07CndXLJFjGBhLbypeiENulkA\u002BXnRVPZFJybk5FjW73SCk3Lecx0cBtwLQ6RqeiLbEDNFmdhXCAQA/5SWiWHytx923bSSmpl\u002Bz3WYpO24INf/BiwoDqQqeebmGQQ3ixIa3SKLajQpu1bl9ijc\u002BBp2DT8rfZ2pryhHd3g[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1165073e-a900-1e85-2377-e049dd2b9745?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:51:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "540734810",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
