{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-7240a601-190f-f245-3689-429684cb04e2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:51:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69B7BF4E5550\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:51:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-7240a601-190f-f245-3689-429684cb04e2/test-blob-31bbccd5-318d-d88a-4827-f0eb11ec29f2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 18:51:54 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00221753c73d-d71d-e621-acd9-afeaa7e4dabd\u0022,\u0022EncryptedKey\u0022:\u00225k4fTab/iiWJzdkttzd7CT3YfAN3wfx7uGVFupzr7Gk=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022N\\u002B9746muh9RX4btbCriPfw==\u0022,\u0022KeyWrappin[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-7240a601-190f-f245-3689-429684cb04e2/test-blob-31bbccd5-318d-d88a-4827-f0eb11ec29f2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:51:54 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1039/1040",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69B7BF5B5CFA\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:51:53 GMT",
        "x-ms-blob-content-md5": "R5AgfkiZ9QGVVPJtTTB7eQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 18:51:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00221753c73d-d71d-e621-acd9-afeaa7e4dabd\u0022,\u0022EncryptedKey\u0022:\u00225k4fTab/iiWJzdkttzd7CT3YfAN3wfx7uGVFupzr7Gk=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022N\\u002B9746muh9RX4btbCriPfw==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:51:53.6713978Z"
      },
      "ResponseBody": "kMaEBkXrA1EFTH/rEzhOyzvjyyTEBXIXEwXVedeGcGBQvC3WZ3aM2Q86o0ow0P5cWpFOB57KJOXB78Ra88j6B0QFFxh7K2N6OuPgSie9yObF4g7Z3xTbDJu0rj9kIs6nZs3wvHNSnJ0knnLhWHuUk6kQze\u002Bz6XonPSEacxyv6dbzhvGsPx2BHH/GBvqkFZ3Zb82KuEzsvpzigYf4061D\u002BT8yLeWjyOo3YcOE97xjSlPJ5JFu68BBjZ9\u002B6Tugju9THZIG4gTSi9tlch2EOUQr9NkqT9Aw2CR/2\u002Bv9WINML4L0oMKiWvOO2OYPHVNsap9rZzgiyLn3Oz1Qw80\u002B9j2uSZE620k3ZjtK8oMfvDgDwzHkfHWisIdkJKPxjwIc0W4ciBeVfZkkC\u002B0cW3bkHAAzYL[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-7240a601-190f-f245-3689-429684cb04e2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:51:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1957938809",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
