{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-27552a83-90be-9bec-9527-bd8180805bc8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:16 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69CD08CA9EC3\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:16 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-27552a83-90be-9bec-9527-bd8180805bc8/test-blob-ddd64e8b-dab2-86d7-12c1-9483b7908ca4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:17 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00227251e648-8a2b-8ef7-20e6-162ce0106ffb\u0022,\u0022EncryptedKey\u0022:\u0022KAStTxGg6c/FWWWR4Os449LHMD/ljfCrB/QWEHC6/5Y=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022KTks0SNdsis3paMLP2lm/Q==\u0022,\u0022KeyWrappingMetad[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-27552a83-90be-9bec-9527-bd8180805bc8/test-blob-ddd64e8b-dab2-86d7-12c1-9483b7908ca4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:17 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1039/1040",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69CD08D0B256\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:16 GMT",
        "x-ms-blob-content-md5": "Nf691yWQOjCAqOE0S\u002BXa8A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 21:24:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00227251e648-8a2b-8ef7-20e6-162ce0106ffb\u0022,\u0022EncryptedKey\u0022:\u0022KAStTxGg6c/FWWWR4Os449LHMD/ljfCrB/QWEHC6/5Y=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022KTks0SNdsis3paMLP2lm/Q==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:24:16.3453526Z"
      },
      "ResponseBody": "W8SVkDZpU/lojMZvkh7cZGtBgC5EZeLrIrYFwUMzF7agTavcaTQkWxvM58aS87uQcMap9\u002BXTLifw7gBgox8DB8Cmq9wZUU9D/3jNzH91RuzBLpv7EnEWilcIp2jLwCH08Y4EbwKjYHFtPAbRgYKxTTubpwTQGIR/zSxT9nglePENyUYqaKz7QzgaflRwEgXMXHNp\u002BUJ0kJGlLyzoQKh181Yri743o02WGE9/G2CfQzMJ21d0IwTYU40uh7WTnP1HcJZjYzhFNbLUwaWvNCcgwxuuSgcw6QsxN/GXuew67afcZJ9EDrFrGpz9h22GzFYaPWlWYWglH8yXQurO6YLIvCX5B7PoS4uS5Ll9cCcEudjnBrWi3XVcGt/Vg1lxPXm/PV7A2LwRNhIT6CQ4ogcNJ3zv/GzoXbsGJvPQ6cm23l[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-27552a83-90be-9bec-9527-bd8180805bc8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:17 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1595692845",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
