{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-81e779b0-004e-f42c-6646-07e61cf74de0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:17 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69CD093CFED0\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:17 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-81e779b0-004e-f42c-6646-07e61cf74de0/test-blob-720a57f4-a251-6be4-4223-928934ca0602",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:17 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002295500e5f-6746-968c-0f41-38c381edbeab\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////\\u002BrMjLxWwR3J0nCxpXqyJu4tEqSaKaAF4nWGPDLsjHV6A==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:4194304,\u0022Non[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-81e779b0-004e-f42c-6646-07e61cf74de0/test-blob-720a57f4-a251-6be4-4223-928934ca0602",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:17 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1051/1052",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69CD09429D81\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:17 GMT",
        "x-ms-blob-content-md5": "QQfGPPUJZT5lUxRBmnQWDg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 21:24:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002295500e5f-6746-968c-0f41-38c381edbeab\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////\\u002BrMjLxWwR3J0nCxpXqyJu4tEqSaKaAF4nWGPDLsjHV6A==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:4194304,\u0022NonceLength\u0022:12},\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:24:17.0919297Z"
      },
      "ResponseBody": "AAAAAAEAAAAAAAAArtPhIPrI3JsMv9ScA9PAglRjFfmgwvhnWm5Jr8Slk4PFcI3q5ypIKnPnXHS5zW6KgpmCekFwNyoFChFj8kiYXI1fqCsNCfWHrKGNt20qb6QFr3rpDbhE2OPgbyLmC6WzEk94E9w3JY0gOKWy9rSWkSQn1ZSp2AJs4vL4GAUCWegRfh3NZ/KLrDwZLCVa8FnDSq1NK\u002BdyhP\u002B3m\u002BbxiwGuPvjWAUR3E0PQwBDsktfiPxj3/hIvt5ebcU\u002BULT03BwfdsPr5WrccHVge92YB\u002BRo2X1ZakiW8/7ADtQ5DXlFtslJ/lx2oVdDzQfsEaxrTsK9fWa4qimgz047iE2M8sNl8ggt/VId4lsQTzajwkLBeLTBMIzbMpmyT1w0LxxTJA4a6P7g6DWnakQ/[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-81e779b0-004e-f42c-6646-07e61cf74de0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:17 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1402539472",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
