{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0a88f21d-6d75-f083-f51b-972602e75329?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:25 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B201A1831B3\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:24 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0a88f21d-6d75-f083-f51b-972602e75329/test-blob-3c1a2383-894d-ae6f-4c5b-4747dd41de40",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:25 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002264a51482-8e28-4cfa-06d7-4d38a666c34d\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////9lHlqY4MtDUsn7V9gAZskQHI5AEmW8lwjU5izu1hTHsA==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:4194304,\u0022NonceLeng[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0a88f21d-6d75-f083-f51b-972602e75329/test-blob-3c1a2383-894d-ae6f-4c5b-4747dd41de40",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:25 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1051/1052",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B201A1CD1C1\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:24 GMT",
        "x-ms-blob-content-md5": "TmFtaiMZImKDOtbYGDCynA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 13:51:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002264a51482-8e28-4cfa-06d7-4d38a666c34d\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////9lHlqY4MtDUsn7V9gAZskQHI5AEmW8lwjU5izu1hTHsA==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:4194304,\u0022NonceLength\u0022:12},\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T13:51:24.7568321Z"
      },
      "ResponseBody": "AAAAAAEAAAAAAAAAeGwG70Qkxn8rg5oIqhVkuBCmFSqG0y07dqT7mB6atiuJ0iTpf1I8L7pB6964wYxDXW0/lwRH7F7C1Pdtnq\u002BSgSWwpnt1LmCtAlA4vgEmkbxOLKqK/ZN1uL5y4jMXPc6S4OmmxYdcMyd9lnHs5GbJVlauxOBinzwb2KNTf75\u002Bcut2tbcKyISd2slOwaD7jDRkdaa4Y\u002BYsiWb9QXkPMPDjrJjC0wC62LcFmsczmMJjOEPDmiClF3rPTFdVezbuSUSmhmx1GrAnsGR1vLHj7kAcMzqtQoLDIfHWnLU3lnbcyWh44CfJ8CCBrYzM5FEVphL/UTIe6m0rM4IR/I0xEHjaXD6mnaFnzyYJSv2WbuGQLEhgbyzC5jwTx/HMKH/z8FuNQH\u002Bsp2ssz7WbEu73[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0a88f21d-6d75-f083-f51b-972602e75329?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:25 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1840267934",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
