{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-91ba2939-665a-3387-8441-fd4c03668b15?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:20 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69B83A5FA66A\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:55:20 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-91ba2939-665a-3387-8441-fd4c03668b15/test-blob-caf73d93-20a1-4a53-8880-63abbf83c2ed",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:20 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002273af2199-deb4-9ac6-c51e-520797b99955\u0022,\u0022EncryptedKey\u0022:\u0022xpeOWxmTWN36GiF5/9GlTOi3j8xgwQxE9MpqEnbjjOg=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022uQE4dwnyeCaV1MS8QsxKWg==\u0022,\u0022KeyWrappingMetad[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-91ba2939-665a-3387-8441-fd4c03668b15/test-blob-caf73d93-20a1-4a53-8880-63abbf83c2ed",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:20 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1039/1040",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69B83A6685A5\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:55:20 GMT",
        "x-ms-blob-content-md5": "1b/kHph7Tlk5SSobEFej2w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 18:55:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002273af2199-deb4-9ac6-c51e-520797b99955\u0022,\u0022EncryptedKey\u0022:\u0022xpeOWxmTWN36GiF5/9GlTOi3j8xgwQxE9MpqEnbjjOg=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022uQE4dwnyeCaV1MS8QsxKWg==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:55:20.1042853Z"
      },
      "ResponseBody": "rHS4aIJWX5T7Wr5DPf8iLoTjySq8wV8dAov\u002BlBEfvVhZM6Mkt9lmqJrzvSvlzMMKUBRz3XziruzXQBEVoX1fWmL/C0bt5hwQcdgMsrSFrYcBXJcjllGebxHqpk8Txx0k79dft7CbbXSdlT8K3ho1UZk5UhcP5G0cgwxIbbqYo7\u002BqwX5Vg4xMUTPB7TShAolLvbk1f9FSQmZVGhCivJKyc64EQwQqwNgPZmkzguS03uZb5790Bi5f3pJLgg50wZyFLdGPhYpHIz9ZdHzNt7eguyPAvdWwljEcULTvCIs7oMpCpRYfhpVaUEGUuaXhczhO6wn1pacurIWdq6cQqZwfMnslGJlP1OOWBgrXziV5qdLZnkFwIMzc\u002B14WeXJZrmK1c8B1O2r/Df1ogkmoV\u002Bddlysy4r1MkdBw[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-91ba2939-665a-3387-8441-fd4c03668b15?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:20 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "802627642",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
