{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-cecd8ad5-973e-9049-8c30-c03a9c3d8077?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:26 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B201AAFC7A7\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:25 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-cecd8ad5-973e-9049-8c30-c03a9c3d8077/test-blob-b402da5e-a6d6-9a29-b5ab-4c3c76644cda",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:26 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002232fd8f85-d587-b643-2ddf-52510154dff1\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////9BSylOLqbxOXJwDaRrgvKHGM95llFBykM9Lo5Cw3yIHg==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:4194304,\u0022NonceLength\u0022:12},\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-meta-foo": "bar",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "AAAAAAEAAAAAAAAA\u002BqNDiCrh8Ka3So2O3c6Erm4MiibdZNJ1LX81RfE9OzVZhyzvcVT\u002BX32lhNFS8HMs7hXrYbT4IQRFQU8cKyWCtWeclMlKhoaTDW/fWMCuINmHvOyzjT3Gf5ddoPzhGf28v7ud/okSgjrTwb7YngdOwC\u002BrTjAnbR3ZMq3xM33SetDM946OUYfM6B/\u002BKX6yZu8\u002BRZ8FyYyZcVYUq\u002BEA8L1tjyMJlQUqr0bEqreWt\u002BpLzpsgnNj5GtEJMQZvZZ4Qdl9xWBXnbUD6\u002Ba0KFsXBM0R31qPuIiBfK\u002BXm4\u002BwDxWasMRMs2KrnSF/ZowCjlyeK2TkykLVrI5Uf4a4MQ1y\u002BupITMiixEXZRJYnyB[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-cecd8ad5-973e-9049-8c30-c03a9c3d8077/test-blob-b402da5e-a6d6-9a29-b5ab-4c3c76644cda",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:26 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "tGqt1fn7Z8BUJqrB7PUI\u002BA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B201AB467E1\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:25 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 13:51:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002232fd8f85-d587-b643-2ddf-52510154dff1\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////9BSylOLqbxOXJwDaRrgvKHGM95llFBykM9Lo5Cw3yIHg==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:4194304,\u0022NonceLength\u0022:12},\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-meta-foo": "bar",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T13:51:25.7512685Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-cecd8ad5-973e-9049-8c30-c03a9c3d8077?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:26 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1241444176",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
