{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-28be1799-b3b6-789c-13c0-a4fb8ec63d92?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:22 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69B83B655771\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:55:21 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-28be1799-b3b6-789c-13c0-a4fb8ec63d92/test-blob-ee306c0f-ea79-4f44-8ffd-afd86e9e38cd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:22 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022faf41d26-641d-1c11-184d-fe72476789b3\u0022,\u0022EncryptedKey\u0022:\u0022jQp\\u002BKMzwQz0\\u002BhOIMndT\\u002BnbAMEivrocpwjbxgJzFB\\u002Bx0=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022QxnpypS2HQCvbi3\\u002BzVHsYw=[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-28be1799-b3b6-789c-13c0-a4fb8ec63d92/test-blob-ee306c0f-ea79-4f44-8ffd-afd86e9e38cd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:22 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1039/1040",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69B83B6A3B6D\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:55:21 GMT",
        "x-ms-blob-content-md5": "dNca8ANlSsheFewGXjgOAw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 18:55:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022faf41d26-641d-1c11-184d-fe72476789b3\u0022,\u0022EncryptedKey\u0022:\u0022jQp\\u002BKMzwQz0\\u002BhOIMndT\\u002BnbAMEivrocpwjbxgJzFB\\u002Bx0=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022QxnpypS2HQCvbi3\\u002BzVHsYw==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:55:21.8073191Z"
      },
      "ResponseBody": "V3G7lrHq8LzLeHotutl3bvy7/Ok854\u002Bj\u002BST3T2rN5jRGYVya2aXiacaggfLsbc1lAf82rmrpMOzFZBv4Kr1zHJIfDcUFngV62/Jaa34RHOuCkAtLO559QVIJBgm2RCTPGW1JLxB9t1RHK36ghJy\u002BRaveGocs0sGPp8MVGp0bIa0XxR/6lvft70K5fQynEi265dL9nidbgUz8Nh72dw\u002BpNNHfCFP92Dma/qxoLvnzucvW1Xj7Lyie7r3Rq7NgIQx2ZFVZmNVO8JimIE0iBA2kVjQhPhHLbWJ\u002BrxVOHh79BUBG1V6DP6h2BJdEJWLncq5\u002Ba\u002BQ1uXIWVskEpchfAZ/VU/90KC1gZQJ4dnnpRdTKRY13K0GzllgZ65At5D2jmjIE5H/MV\u002BDTWr3H[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-28be1799-b3b6-789c-13c0-a4fb8ec63d92?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:22 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1759843788",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
