{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-36a0b23a-d38d-440d-1603-10d3e06df333?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:51 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69B84C7211D9\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:55:50 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-36a0b23a-d38d-440d-1603-10d3e06df333/test-blob-ddfc7f39-9eca-f60a-767c-f2038cd2f98c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:51 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002206853ffc-1200-f8a2-6f2c-b3e167adeaaf\u0022,\u0022EncryptedKey\u0022:\u0022BPFceX7dZIzZRuWbrMHdi466/jRy1chusAul5IGfY6A=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022R2MC8yuRgBfkiLcQhKajNw==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8DA69B84C76D21E\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:55:50 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:55:50.4100894Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-36a0b23a-d38d-440d-1603-10d3e06df333/test-blob-ddfc7f39-9eca-f60a-767c-f2038cd2f98c?comp=block\u0026blockid=EAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:51 GMT",
        "x-ms-version": "2021-08-06"
  [...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-36a0b23a-d38d-440d-1603-10d3e06df333/test-blob-ddfc7f39-9eca-f60a-767c-f2038cd2f98c?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u00220x8DA69B84C76D21E\u0022",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:51 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002206853ffc-1200-f8a2-6f2c-b3e167adeaaf\u0022,\u0022EncryptedKey\u0022:\u0022BPFceX7dZIzZRuWbrMHdi466/jRy1chusAul5IGfY6A=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022R2MC8yuRgBfkiLcQhKajNw==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EEAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69B84C8157F4\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:55:50 GMT",
        "x-ms-content-crc64": "xyNFWRFCzv0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:55:50.4800516Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-36a0b23a-d38d-440d-1603-10d3e06df333/test-blob-ddfc7f39-9eca-f60a-767c-f2038cd2f98c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:51 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1039/1040",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69B84C861228\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:55:50 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 18:55:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002206853ffc-1200-f8a2-6f2c-b3e167adeaaf\u0022,\u0022EncryptedKey\u0022:\u0022BPFceX7dZIzZRuWbrMHdi466/jRy1chusAul5IGfY6A=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022R2MC8yuRgBfkiLcQhKajNw==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:55:50.5120325Z"
      },
      "ResponseBody": "N6Ry\u002Bq671AJPBYHJhPHaiVO4\u002BnCkeQHLol7RHBUusHGJwt\u002B92vsw2zkfbPSny1nSqyVFO3ZUMg1JijtRXxkyUiZAJHS6RDi/o69dQtNeq4rJ7tLxmx72U7Czzlq4kGehu3HgXAbW6fMh5Yh5FqzFD756vZga28uvYrnAKfp\u002BVq95gaLSE47wHTwP9JdNa/i7swBimsw5Wt26cQEPrOAhWiWnVlr53yI3VeYMPKmk/qcVrOTycOoixjGI3ShuN0n4XQMv\u002BU4aBoVueT9QvMaUPVv4qT4i2/Dzalv/VELdwtNAvetMBtJKzyo8Ku4lWyUNMwAMyjXrpsIYiYSxLH[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-36a0b23a-d38d-440d-1603-10d3e06df333/test-blob-ddfc7f39-9eca-f60a-767c-f2038cd2f98c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:51 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69B84C861228\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:55:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 18:55:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002206853ffc-1200-f8a2-6f2c-b3e167adeaaf\u0022,\u0022EncryptedKey\u0022:\u0022BPFceX7dZIzZRuWbrMHdi466/jRy1chusAul5IGfY6A=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022R2MC8yuRgBfkiLcQhKajNw==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:55:50.5120325Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-36a0b23a-d38d-440d-1603-10d3e06df333?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:51 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "92646739",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
