{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2781f893-5fbc-c562-9a59-94818837a2b3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 15:01:35 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B29E76AF7F6\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 15:01:34 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2781f893-5fbc-c562-9a59-94818837a2b3/test-blob-541dcb74-da6a-9ace-89b5-3718b35936ff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 Jul 2022 15:01:35 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00227b9bf18b-aaee-f690-b617-7ec57d12de03\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////9mz8Ko5JrEMpaEi6HnJkofydRsPIOVBpWdfk09XViHyQ==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:1024,\u0022NonceLength\u0022:12},\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8DA6B29E7786CEF\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 15:01:34 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T15:01:34.7616756Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2781f893-5fbc-c562-9a59-94818837a2b3/test-blob-541dcb74-da6a-9ace-89b5-3718b35936ff?comp=block\u0026blockid=gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jul 2022 15:01:35 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "AAAAAAEAAAAAAAAAs4rlcAkAbsmsqkcky5eKoc51GmES6oiDm52cF35/r7wkLZoMnwRr4du5c\u002Bgyj2KkTDKFLe6W8E5HtiarsSP6b8caVm4QZfFy0Or4W8qF5lk8G0jpPW09DsDA9DLnUQeTf8lHQGisyRs9tkxiQkQshMZV78Y=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "Ff0Q98skGQY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2781f893-5fbc-c562-9a59-94818837a2b3/test-blob-541dcb74-da6a-9ace-89b5-3718b35936ff?comp=block\u0026blockid=AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jul 2022 15:01:35 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "HnvPLdHia4ZtgHHtQOIDlD9l29NsKotBl1vAGaXpUVcx0PsJ\u002BLRHrio7k7oUZdQhRuyT0t2MhseGu0GtP1\u002BHMT57dL4s1evJkpu\u002BEJEGCHN/PdcYnAqoPC7iZFqxD1rzEjMKEWKOMNoIC3dIgm\u002B5yO29uDd/oYIyFsLYmVEEYPY=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "TyeKqIEQriw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2781f893-5fbc-c562-9a59-94818837a2b3/test-blob-541dcb74-da6a-9ace-89b5-3718b35936ff?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jul 2022 15:01:35 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "mL1GZjkfTKkTts5ZugBRJJXy9Y5kyjoQaxBYhw4lKfzbZK/TOrekgKo3JbRi7XzJhL1ZBCCYxBId7Qf4dMeFCeEOLmTxtMbyDUEpVO7\u002B/zETnZ7ToL6GfQ1NlUOV7uKxEBB\u002BJnw3RLdAGYEFo655U4BnGIp9Ldi8H6W\u002Bf/y3GJo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "o7QPV6bq42k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2781f893-5fbc-c562-9a59-94818837a2b3/test-blob-541dcb74-da6a-9ace-89b5-3718b35936ff?comp=block\u0026blockid=gAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jul 2022 15:01:35 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "2Stc2kPimEiRkfWTT0rHRoK9ryKw/jHj8al8xSOc\u002BpdQ1dbpGw9hDuWMV194g2EK7vguonO8Qm84G\u002BTVxXuayjmOWWcyB7t\u002BU9oE6NKxM2FMswRENfCtOHPAhJgICoT/gU6Y0ehaByBxZU4Pm4qLC316uNovK0LqTpjuA4yhhw4=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "GLkKXsVT51w=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2781f893-5fbc-c562-9a59-94818837a2b3/test-blob-541dcb74-da6a-9ace-89b5-3718b35936ff?comp=block\u0026blockid=AAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jul 2022 15:01:35 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "3ZeLG14Ea83XaN6Uw9fMjd3GslkMDY1ZvD9FgxIEQX3M/F5P73f1tvIuvfR07ajHdsY7Stvv8YVw6QNf99vZEfkub025YHTy86OT890WbhmKbWAQ2y6pMCwXA1lfPsisfMJ65b4sZ94IEYK1mFxs4gGcjZWFVTnU5LIJ4N/IaTA=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "QRePFOJsJQM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2781f893-5fbc-c562-9a59-94818837a2b3/test-blob-541dcb74-da6a-9ace-89b5-3718b35936ff?comp=block\u0026blockid=gAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jul 2022 15:01:35 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "4GxKEc9WMxssU2fFjxwiXfd7vIiXgCSjkzOkl/kFoiFIRgCB2Nq2OBqBRIUYlCEYtQjnF3q/8LHhLSOrNBhfDLeIIxOK0XtkiX9ojnkjAYWAmovImh2Ed14EWYoHAisPfIL4Ap02JKfCfPfV0lG2xxAOVTkaIcnY//Yz27WxOMs=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "PEDws8A4B5Q=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2781f893-5fbc-c562-9a59-94818837a2b3/test-blob-541dcb74-da6a-9ace-89b5-3718b35936ff?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jul 2022 15:01:35 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "4KKTgMGDAenDXNbuaZUFdUSTWqRvUpIZRfEY7aCWfiQ5I6JQGjjFx56UDi1NrLmuhRVOg/8cgmti0\u002BHFen4ThRuWTF1lhwPA0ynzERQeWprtTda9hl9wBQfCnvvmKnna5oPtHlA3PtC3rTHBSU\u002Btl36/krsQQLII7PrH27gl6RY=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "M6vo0jdm5No=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2781f893-5fbc-c562-9a59-94818837a2b3/test-blob-541dcb74-da6a-9ace-89b5-3718b35936ff?comp=block\u0026blockid=EgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jul 2022 15:01:35 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "W0BOTUeTXcKXGPwdlF8Qk\u002BIG",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "eVooWnI4eKk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2781f893-5fbc-c562-9a59-94818837a2b3/test-blob-541dcb74-da6a-9ace-89b5-3718b35936ff?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u00220x8DA6B29E7786CEF\u0022",
        "x-ms-date": "Thu, 21 Jul 2022 15:01:35 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00227b9bf18b-aaee-f690-b617-7ec57d12de03\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////9mz8Ko5JrEMpaEi6HnJkofydRsPIOVBpWdfk09XViHyQ==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022Encrypt[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2781f893-5fbc-c562-9a59-94818837a2b3/test-blob-541dcb74-da6a-9ace-89b5-3718b35936ff",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 15:01:35 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1041/1042",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B29E7B064CB\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 15:01:35 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 15:01:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00227b9bf18b-aaee-f690-b617-7ec57d12de03\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////9mz8Ko5JrEMpaEi6HnJkofydRsPIOVBpWdfk09XViHyQ==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:1024,\u0022NonceLength\u0022:12},\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T15:01:35.1294685Z"
      },
      "ResponseBody": "AAAAAAEAAAAAAAAAs4rlcAkAbsmsqkcky5eKoc51GmES6oiDm52cF35/r7wkLZoMnwRr4du5c\u002Bgyj2KkTDKFLe6W8E5HtiarsSP6b8caVm4QZfFy0Or4W8qF5lk8G0jpPW09DsDA9DLnUQeTf8lHQGisyRs9tkxiQkQshMZV78Yee88t0eJrhm2Ace1A4gOUP2Xb02wqi0GXW8AZpelRVzHQ\u002Bwn4tEeuKjuTuhRl1CFG7JPS3YyGx4a7Qa0/X4cxPnt0vizV68mSm74QkQYIc3891xicCqg8LuJkWrEPWvMSMwoRYo4w2ggLd0iCb7nI7b24N3\u002BhgjIWwtiZUQRg9os3y06Z[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2781f893-5fbc-c562-9a59-94818837a2b3/test-blob-541dcb74-da6a-9ace-89b5-3718b35936ff",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 15:01:36 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B29E7B064CB\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 15:01:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 15:01:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00227b9bf18b-aaee-f690-b617-7ec57d12de03\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////9mz8Ko5JrEMpaEi6HnJkofydRsPIOVBpWdfk09XViHyQ==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:1024,\u0022NonceLength\u0022:12},\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T15:01:35.1294685Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2781f893-5fbc-c562-9a59-94818837a2b3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 15:01:36 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "904229594",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
