{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5ba69cb8-e3be-b7c6-4592-77a5c3bc0c07?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 15:01:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B29E857CD2E\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 15:01:36 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5ba69cb8-e3be-b7c6-4592-77a5c3bc0c07/test-blob-feee7740-d1f5-19ac-4f88-f39bf68513f6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 Jul 2022 15:01:37 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002269fe2df7-721c-ecd4-444c-7e7c085d8f86\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////\\u002BPlkvl1CFx0/OrqG2EPt7GBZr\\u002B05/c5\\u002BADiCEQkZ7jHg==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:1024,[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5ba69cb8-e3be-b7c6-4592-77a5c3bc0c07/test-blob-feee7740-d1f5-19ac-4f88-f39bf68513f6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 15:01:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "pwn/kb6HXdbt9z1DfKd5bg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B29E85C1C4C\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 15:01:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 15:01:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002269fe2df7-721c-ecd4-444c-7e7c085d8f86\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////\\u002BPlkvl1CFx0/OrqG2EPt7GBZr\\u002B05/c5\\u002BADiCEQkZ7jHg==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:1024,\u0022NonceLength\u0022:12},\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T15:01:36.2538328Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5ba69cb8-e3be-b7c6-4592-77a5c3bc0c07/test-blob-feee7740-d1f5-19ac-4f88-f39bf68513f6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 15:01:37 GMT",
        "x-ms-range": "bytes=0-1051",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1051/1112",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B29E85C1C4C\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 15:01:36 GMT",
        "x-ms-blob-content-md5": "pwn/kb6HXdbt9z1DfKd5bg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 15:01:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002269fe2df7-721c-ecd4-444c-7e7c085d8f86\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////\\u002BPlkvl1CFx0/O[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5ba69cb8-e3be-b7c6-4592-77a5c3bc0c07?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 15:01:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1961381",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
