{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a9fff59f-2962-6eeb-9ba3-95890357a5bd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:52 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69B84D3CE55A\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:55:51 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a9fff59f-2962-6eeb-9ba3-95890357a5bd/test-blob-eaeda69b-6846-88f8-7037-9ac55e31a881",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:52 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022f3318f7b-b672-196c-a441-6465d87a09ab\u0022,\u0022EncryptedKey\u0022:\u0022c9gn5AZ9DjADHQIPQEpY03mB4uDT1Ni3ECpNa/HUDY0=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022GdVC\\u002BQn6Uxm1He5kawjJug==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "wgkIxAgZ1a7GZeY7qbO29Bnfpd7ApgubWEncw0Wj2cXaOTGygR6ZNgLkJweINmEmw6FwvKSUAoMXy4sWGxGY4\u002BrqK\u002BIB/cbPXTNXK4aZ9RYnLzcIdPVVtlJEPKrd7Nsa",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "P/sdD03r97jFUYeQZiIdAA==",
        "ETag": "\u00220x8DA69B84D46FC2F\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:55:51 GMT",
        "x-ms-content-crc64": "eavxslO7sMA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:55:51.7743151Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a9fff59f-2962-6eeb-9ba3-95890357a5bd/test-blob-eaeda69b-6846-88f8-7037-9ac55e31a881",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:52 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "P/sdD03r97jFUYeQZiIdAA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69B84D46FC2F\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:55:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 18:55:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022f3318f7b-b672-196c-a441-6465d87a09ab\u0022,\u0022EncryptedKey\u0022:\u0022c9gn5AZ9DjADHQIPQEpY03mB4uDT1Ni3ECpNa/HUDY0=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022GdVC\\u002BQn6Uxm1He5kawjJug==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:55:51.7743151Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a9fff59f-2962-6eeb-9ba3-95890357a5bd/test-blob-eaeda69b-6846-88f8-7037-9ac55e31a881",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:52 GMT",
        "x-ms-range": "bytes=16-63",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 16-63/96",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69B84D46FC2F\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:55:51 GMT",
        "x-ms-blob-content-md5": "P/sdD03r97jFUYeQZiIdAA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 18:55:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022f3318f7b-b672-196c-a441-6465d87a09ab\u0022,\u0022EncryptedKey\u0022:\u0022c9gn5AZ9DjADHQIPQEpY03mB4uDT1Ni3ECpNa/HUDY0=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022GdVC\\u002BQn6Uxm1He5kawjJug==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:55:51.7743151Z"
      },
      "ResponseBody": "Gd\u002Bl3sCmC5tYSdzDRaPZxdo5MbKBHpk2AuQnB4g2YSbDoXC8pJQCgxfLixYbEZjj"
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a9fff59f-2962-6eeb-9ba3-95890357a5bd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:55:52 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "321402085",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
