{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-50f414fd-9629-8fe4-23aa-1f9d88b128da?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:23:58 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69CCFD9DDE1A\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:23:57 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-50f414fd-9629-8fe4-23aa-1f9d88b128da/test-blob-3f60f500-a033-d042-ec0d-e257cba5c118",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 21:23:58 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022db5cdf60-98b6-1af1-1129-d0f4bbf2ac9c\u0022,\u0022EncryptedKey\u0022:\u0022LcnPSY10luBdCu5yiuSR5b\\u002BUwidVZ0ozcZFPnG19Aao=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022Cp85QiPa7XSLQZ0\\u002Bj7Vb0A==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "5Vci1fiwNI63IQlzZBOuE9JvfiU5GhOwMeiaRk\u002B/y6qM2TZTxMg45C6LTf2sSRZAkA1xPBRF2gvAIkimv8jHsUxbd\u002BM48Y5A/Th/xkK6m58=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Rr698Bz8Wrjta5jZw0mDCQ==",
        "ETag": "\u00220x8DA69CCFDA301DD\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:23:57 GMT",
        "x-ms-content-crc64": "hNbrOtoTmVQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:23:57.5909853Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-50f414fd-9629-8fe4-23aa-1f9d88b128da/test-blob-3f60f500-a033-d042-ec0d-e257cba5c118",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:23:58 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Rr698Bz8Wrjta5jZw0mDCQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69CCFDA301DD\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:23:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 21:23:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022db5cdf60-98b6-1af1-1129-d0f4bbf2ac9c\u0022,\u0022EncryptedKey\u0022:\u0022LcnPSY10luBdCu5yiuSR5b\\u002BUwidVZ0ozcZFPnG19Aao=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022Cp85QiPa7XSLQZ0\\u002Bj7Vb0A==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:23:57.5909853Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-50f414fd-9629-8fe4-23aa-1f9d88b128da/test-blob-3f60f500-a033-d042-ec0d-e257cba5c118",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:23:58 GMT",
        "x-ms-range": "bytes=0-47",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-47/80",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69CCFDA301DD\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:23:57 GMT",
        "x-ms-blob-content-md5": "Rr698Bz8Wrjta5jZw0mDCQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 21:23:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022db5cdf60-98b6-1af1-1129-d0f4bbf2ac9c\u0022,\u0022EncryptedKey\u0022:\u0022LcnPSY10luBdCu5yiuSR5b\\u002BUwidVZ0ozcZFPnG19Aao=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022Cp85QiPa7XSLQZ0\\u002Bj7Vb0A==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:23:57.5909853Z"
      },
      "ResponseBody": "5Vci1fiwNI63IQlzZBOuE9JvfiU5GhOwMeiaRk\u002B/y6qM2TZTxMg45C6LTf2sSRZA"
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-50f414fd-9629-8fe4-23aa-1f9d88b128da?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:23:58 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "833144440",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
