{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-31a392c5-a5fe-ac7b-079a-f7bb0fc34e62?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:31 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B201D79A306\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:30 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-31a392c5-a5fe-ac7b-079a-f7bb0fc34e62/test-blob-d44dfaa5-d1b6-e932-c5f2-5d145be8bd90",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:31 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022721a19b8-b45f-2a25-33f4-5c1a96898c0b\u0022,\u0022EncryptedKey\u0022:\u0022bNTec/e4M1rLP\\u002BKVj/gLlTEmEwrWzOo3ri6\\u002BXDaGSEo=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022sdoxkUiPaF4tp5/1tMd5vQ==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "fc0\u002BFv9VKJYPgnYac/zZ3BkHZOEQRWyxbVCi6qnoWCLLLW2nOveC46w82\u002BE/5eA7T/TYmGEF\u002Bzmr7ZLPJKxPatdkjKBQCc1u9f7g0gMO8Tg=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "idQqMlIhyS0XVjYki9LRjA==",
        "ETag": "\u00220x8DA6B201D7E6B10\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:30 GMT",
        "x-ms-content-crc64": "FuNX7mISBIw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T13:51:30.4296208Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-31a392c5-a5fe-ac7b-079a-f7bb0fc34e62/test-blob-d44dfaa5-d1b6-e932-c5f2-5d145be8bd90",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:31 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "idQqMlIhyS0XVjYki9LRjA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B201D7E6B10\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:30 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 13:51:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022721a19b8-b45f-2a25-33f4-5c1a96898c0b\u0022,\u0022EncryptedKey\u0022:\u0022bNTec/e4M1rLP\\u002BKVj/gLlTEmEwrWzOo3ri6\\u002BXDaGSEo=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022sdoxkUiPaF4tp5/1tMd5vQ==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T13:51:30.4296208Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-31a392c5-a5fe-ac7b-079a-f7bb0fc34e62/test-blob-d44dfaa5-d1b6-e932-c5f2-5d145be8bd90",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:31 GMT",
        "x-ms-range": "bytes=0-31",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-31/80",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B201D7E6B10\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:30 GMT",
        "x-ms-blob-content-md5": "idQqMlIhyS0XVjYki9LRjA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 13:51:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022721a19b8-b45f-2a25-33f4-5c1a96898c0b\u0022,\u0022EncryptedKey\u0022:\u0022bNTec/e4M1rLP\\u002BKVj/gLlTEmEwrWzOo3ri6\\u002BXDaGSEo=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022sdoxkUiPaF4tp5/1tMd5vQ==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T13:51:30.4296208Z"
      },
      "ResponseBody": "fc0\u002BFv9VKJYPgnYac/zZ3BkHZOEQRWyxbVCi6qnoWCI="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-31a392c5-a5fe-ac7b-079a-f7bb0fc34e62?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:31 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "28657763",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
