{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a1004590-8f56-74b9-453a-6bf9f1cca01c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:23:57 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69CCFD37B13D\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:23:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a1004590-8f56-74b9-453a-6bf9f1cca01c/test-blob-a51c1ec6-0cd0-e791-aad1-fc9471955aea",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 21:23:57 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022042855ef-6872-f590-5d67-3bfb4c661a05\u0022,\u0022EncryptedKey\u0022:\u00228C0Njd2RFRtRyI1AFZvN8kFyowTAejcEEj54nwKcEfk=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022WdQnKqSRblc0N/eZmdL9Rg==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "3wAdXKwZQ/NNjh\u002B3Lztum8eVXJpR\u002Bo7pmk9ChFCwdzuysjNBGHZIL5jdcU9mrnvITuDkZDDeEjWYTkWzAPsYHXaIcr0Wx1IRxBXUJmOvJ5l\u002BbG8wOOjPMhRm/FDTNKml",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "oN4lF1X5q59HYo0Jf/YHLw==",
        "ETag": "\u00220x8DA69CCFD3CD4CA\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:23:56 GMT",
        "x-ms-content-crc64": "OFBuMiL8hgA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:23:56.9213642Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a1004590-8f56-74b9-453a-6bf9f1cca01c/test-blob-a51c1ec6-0cd0-e791-aad1-fc9471955aea",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:23:57 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "oN4lF1X5q59HYo0Jf/YHLw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69CCFD3CD4CA\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:23:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 21:23:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022042855ef-6872-f590-5d67-3bfb4c661a05\u0022,\u0022EncryptedKey\u0022:\u00228C0Njd2RFRtRyI1AFZvN8kFyowTAejcEEj54nwKcEfk=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022WdQnKqSRblc0N/eZmdL9Rg==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:23:56.9213642Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a1004590-8f56-74b9-453a-6bf9f1cca01c/test-blob-a51c1ec6-0cd0-e791-aad1-fc9471955aea",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:23:57 GMT",
        "x-ms-range": "bytes=16-63",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 16-63/96",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69CCFD3CD4CA\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:23:56 GMT",
        "x-ms-blob-content-md5": "oN4lF1X5q59HYo0Jf/YHLw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 21:23:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022042855ef-6872-f590-5d67-3bfb4c661a05\u0022,\u0022EncryptedKey\u0022:\u00228C0Njd2RFRtRyI1AFZvN8kFyowTAejcEEj54nwKcEfk=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022WdQnKqSRblc0N/eZmdL9Rg==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:23:56.9213642Z"
      },
      "ResponseBody": "x5VcmlH6jumaT0KEULB3O7KyM0EYdkgvmN1xT2aue8hO4ORkMN4SNZhORbMA\u002Bxgd"
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a1004590-8f56-74b9-453a-6bf9f1cca01c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:23:57 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1145001477",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
