{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1d35fe44-564a-5850-4ea2-da20b979784c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B201E37CE33\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:31 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1d35fe44-564a-5850-4ea2-da20b979784c/test-blob-bfd19acf-d63f-c661-5637-1f6285f63eff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:32 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022d0a373f6-8592-48c9-aa48-e6f1c1c2ac93\u0022,\u0022EncryptedKey\u0022:\u0022jKIoRNkYlVf3HE0aBEesq6dhdYGCkMKNY3PEVadp5dM=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022DIJ8TdHTC\\u002BgwKbZcI3vLnQ==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "1Oueuw0pY9laAGScpiYtulQ8rgZuQcl\u002B3/BfaPCEQD0z80OLo6ZkOsU\u002B4v9I5jPbpuVeE5l2P\u002BR1n/QSsYQs/KswNvozDofLd8\u002B6jENDkMRLopaISmuUcGfERmkZrP/j",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "SSj7UavR7bUgJXIrr7oxTA==",
        "ETag": "\u00220x8DA6B201E3E6AE4\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:31 GMT",
        "x-ms-content-crc64": "VdhYJGabDBs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T13:51:31.6879076Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1d35fe44-564a-5850-4ea2-da20b979784c/test-blob-bfd19acf-d63f-c661-5637-1f6285f63eff",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "SSj7UavR7bUgJXIrr7oxTA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B201E3E6AE4\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 13:51:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022d0a373f6-8592-48c9-aa48-e6f1c1c2ac93\u0022,\u0022EncryptedKey\u0022:\u0022jKIoRNkYlVf3HE0aBEesq6dhdYGCkMKNY3PEVadp5dM=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022DIJ8TdHTC\\u002BgwKbZcI3vLnQ==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T13:51:31.6879076Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1d35fe44-564a-5850-4ea2-da20b979784c/test-blob-bfd19acf-d63f-c661-5637-1f6285f63eff",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:32 GMT",
        "x-ms-range": "bytes=0-63",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-63/96",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B201E3E6AE4\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:31 GMT",
        "x-ms-blob-content-md5": "SSj7UavR7bUgJXIrr7oxTA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 13:51:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022d0a373f6-8592-48c9-aa48-e6f1c1c2ac93\u0022,\u0022EncryptedKey\u0022:\u0022jKIoRNkYlVf3HE0aBEesq6dhdYGCkMKNY3PEVadp5dM=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022DIJ8TdHTC\\u002BgwKbZcI3vLnQ==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T13:51:31.6879076Z"
      },
      "ResponseBody": "1Oueuw0pY9laAGScpiYtulQ8rgZuQcl\u002B3/BfaPCEQD0z80OLo6ZkOsU\u002B4v9I5jPbpuVeE5l2P\u002BR1n/QSsYQs/A=="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1d35fe44-564a-5850-4ea2-da20b979784c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1123577929",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
