{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-edb9eaa2-8f4c-9c39-cc44-36b3de96f8cb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:56:49 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69B86F3FF0CF\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:56:48 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-edb9eaa2-8f4c-9c39-cc44-36b3de96f8cb/test-blob-d279757c-176a-448d-c633-550be1c36437",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 18:56:49 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002279f3449b-2199-d173-9075-41f94b5d3dce\u0022,\u0022EncryptedKey\u0022:\u0022ul5/2Jdg7Q3sGeUWTzFkKbJLBj7k09Xl1hZtecem1bc=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u00228nYQST/Mkd1jhr6D/aSU\\u002BA==\u0022,\u0022KeyWrappin[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-edb9eaa2-8f4c-9c39-cc44-36b3de96f8cb/test-blob-d279757c-176a-448d-c633-550be1c36437",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:56:49 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1039/1040",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69B86F44B637\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:56:48 GMT",
        "x-ms-blob-content-md5": "PSPt/q8tJW62W59q8/6jug==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 18:56:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002279f3449b-2199-d173-9075-41f94b5d3dce\u0022,\u0022EncryptedKey\u0022:\u0022ul5/2Jdg7Q3sGeUWTzFkKbJLBj7k09Xl1hZtecem1bc=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u00228nYQST/Mkd1jhr6D/aSU\\u002BA==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:56:48.8019511Z"
      },
      "ResponseBody": "HZxifWXEQWiUfGThIj6IPO53j/idEX9SxfT4/l/GSKF2rL9v9p6yKviFuj5FVLIF7d85HwHPDE9\u002B06BVoBx1HbcFnJIDUsdpBq4Uley7dLNFR7o/ECGr155MF8VdMPi4tnFaS753wyLdjn/t\u002BkWTiyYfx0iUhXyt4HWSCG4FCDRn9YrXXqRd9MGwJLLwnhKE7JCFI\u002B6xNl4a7qNhVBuRru2ex3rUqtpKfnwFAzloDJYGfEthHBl0L4i\u002BtdAxzPDa6VgC0lI0Icfvlkdw3KNZSSFJ6eepui3M3OI8Eu2bjzNEHjYINI3pdEzVn1pp3iZlVLdInPzHvfVYf2myLryg8ojeLfgnrFdCz/k4KF\u002BIMit3Sbwmwbgboa8YIxi1KGYLSTon6FarsDbAbItSNCd77kjCYaJ[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-edb9eaa2-8f4c-9c39-cc44-36b3de96f8cb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:56:49 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1049414928",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
