{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-75d01711-856d-9272-df76-6f9398378239?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:52:02 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B203043A60C\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:52:01 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-75d01711-856d-9272-df76-6f9398378239/test-blob-0e48acdd-d5bf-b9ee-f139-98f3f9af272e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 Jul 2022 13:52:02 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002271f20a56-2aa1-3b0d-f360-e5d9ba328356\u0022,\u0022EncryptedKey\u0022:\u0022MY\\u002B2wvSrBtaKXun4OQUjnSgwGkGWZsCLko3D\\u002BTG8KBg=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022OWNcSjBlsImyHpkdv\\u002Bby9w==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-meta-fizz": "buzz",
        "x-ms-meta-foo": "bar",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "Lo3tLhh0p/ov2mAlftSlngXFebCD0PSC/729gw7pIujTho7sreTZZ3I4dkaz4HVBK8jFtuYDd0u4\u002B3eOHO4TkZA3jTD6Pu6Vh5d\u002BWLaUCFmYBEQMpbgCLhhTF0wggELcI5PhT7GTTgpY5cVmM88HGdKaPN2Q7FNClKCksANh8Icxh83KVxLX8\u002B32yjFCDD8lVNder9gPQ6CnC4f8m/NsadBRcrLEWyi/UDcTLoPh5KJvEMWzh3hZSAl0pAJ/l\u002Bkhq\u002BMLXThs2x1JAIyXKG07FI2wBiAR3ZtdEJIpiJ\u002B3mcE9NpzU\u002ByWW0OX1VJ6bu1ggdp/fBoIWGfMk8RpC\u002BX\u002Bpat0/kuY3dZHErDAcDrp4LTzmFSMYwKmPto89Q1p[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-75d01711-856d-9272-df76-6f9398378239/test-blob-0e48acdd-d5bf-b9ee-f139-98f3f9af272e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:52:02 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ql3kCaZfbuWjVQkxZsJxjA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B203048ECF3\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:52:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 13:52:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002271f20a56-2aa1-3b0d-f360-e5d9ba328356\u0022,\u0022EncryptedKey\u0022:\u0022MY\\u002B2wvSrBtaKXun4OQUjnSgwGkGWZsCLko3D\\u002BTG8KBg=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022OWNcSjBlsImyHpkdv\\u002Bby9w==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-meta-fizz": "buzz",
        "x-ms-meta-foo": "bar",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T13:52:01.9567611Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-75d01711-856d-9272-df76-6f9398378239?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:52:02 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "755713952",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
