{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-74ba9a17-8e57-43e9-fd66-f298550b900b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 15:02:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B2A17232BE9\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 15:02:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-74ba9a17-8e57-43e9-fd66-f298550b900b/test-blob-13066120-f12f-6ece-59e3-8e915f1a81c3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 Jul 2022 15:02:55 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00223aaa1099-1641-06c1-9fb0-6d93d86ca992\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////8HmutJU\\u002BNceNTNbqOTmUxD6mVRn8ykoW4vD\\u002BZ7iPdU8w==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:1024,\u0022[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-74ba9a17-8e57-43e9-fd66-f298550b900b/test-blob-13066120-f12f-6ece-59e3-8e915f1a81c3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 15:02:55 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1051/1052",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B2A1727B74B\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 15:02:54 GMT",
        "x-ms-blob-content-md5": "oicWLi0B\u002BfoQbEeslGI1ew==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 15:02:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00223aaa1099-1641-06c1-9fb0-6d93d86ca992\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////8HmutJU\\u002BNceNTNbqOTmUxD6mVRn8ykoW4vD\\u002BZ7iPdU8w==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:1024,\u0022NonceLength\u0022:12},\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T15:02:54.7623755Z"
      },
      "ResponseBody": "AAAAAAEAAAAAAAAARwG5iYuvNYMSDjaBVuBR7LYWil5vGqWImlvaaBrgjmwSGSytLMdwQpRwFFRTGbcgpdAgR5lq\u002BbkoaFz3MXOdqR2FuLOS8Uy7lqCv5TPBPker\u002B8o/wVFUNaIUd2TBdMOhfKHnkm7dnQG6Gb4KFjjYYTGCnTuOpBVFHMR9h5gEzn0DuvGX0H5y/1nF/e/d3cqxuPCilyYl\u002B2\u002BVPM35vJWfcwvjpoMsLpcxuybosjbDi6hwTwx9Pv7VtpyomzXQSUa5o\u002B31eWjOsJdVTbSn3A6glEqrMaqGmCrymD5UF\u002BT2qa2CC/9m2CHXF5XHU8OFy3qskSSKFL9JC3l9dhIuyqD7uFMPL5algz7J3zxSqAHoiGgmIleBtdToaSPv6o2eNOuVxf1AkL[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-74ba9a17-8e57-43e9-fd66-f298550b900b/test-blob-13066120-f12f-6ece-59e3-8e915f1a81c3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 15:02:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "oicWLi0B\u002BfoQbEeslGI1ew==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B2A1727B74B\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 15:02:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 15:02:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00223aaa1099-1641-06c1-9fb0-6d93d86ca992\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////8HmutJU\\u002BNceNTNbqOTmUxD6mVRn8ykoW4vD\\u002BZ7iPdU8w==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:1024,\u0022NonceLength\u0022:12},\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T15:02:54.7623755Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-74ba9a17-8e57-43e9-fd66-f298550b900b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 15:02:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1773644532",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
