{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d86bf902-4df3-4bd4-d490-b742b7e13481?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:05 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69CD01FBB1CB\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:04 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d86bf902-4df3-4bd4-d490-b742b7e13481/test-blob-74efcf37-f679-7207-3b9b-01509172e3c0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:05 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022b03c28be-c0f6-e930-766b-513987822a28\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////\\u002BHiumFL8BkUIFoH89LqDkXjtnVZ9tcN8rJYke1Z7sgHw==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:4194304,\u0022Non[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d86bf902-4df3-4bd4-d490-b742b7e13481/test-blob-74efcf37-f679-7207-3b9b-01509172e3c0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:05 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2065/2066",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69CD0203BD89\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:04 GMT",
        "x-ms-blob-content-md5": "LkVOr\u002BnfigSm16QT83I2Bg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 21:24:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022b03c28be-c0f6-e930-766b-513987822a28\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////\\u002BHiumFL8BkUIFoH89LqDkXjtnVZ9tcN8rJYke1Z7sgHw==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:4194304,\u0022NonceLength\u0022:12},\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:24:04.9358217Z"
      },
      "ResponseBody": "AAAAAAEAAAAAAAAAy6TmZnn4MCNRpqosn4UTSf7AQuGWC\u002BWQWuBnHobPSjohFSJdToP6KxhArC2/NoWtRWN6i5b7ah1PI9NzAb/IUojWHGoACXG8\u002BaFsAJ8OI53VQBQYoa97by7AmVN5MBXR6K\u002Ba/wXlXtYR/YhAHcJDQGUtNYbnpg0NXoqtIuSTVy3jtmn6t\u002BBIp3zx9uwiCbZqI30FlMXfcVn360JUyHLBUslwIWJ9Qscocr7yBImuaYL1gwcoD49p7At/uI10lWTk4PwJj53941JHwVP4ZjODOeeMn6n67Va1lHGEuKGo9lRsIWss31/TosTBFmo7\u002BTM2tl\u002BXyrJ1dG/jEe\u002BK\u002BA14ov0/rqaCMcLuqnZehRR9TqNR9gaOea4ROwHGbi\u[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d86bf902-4df3-4bd4-d490-b742b7e13481?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:05 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1142512420",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
