{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6f8bbd1a-0f78-256a-7819-49550812fb78?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:53:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69B7F9D3DF53\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:53:31 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6f8bbd1a-0f78-256a-7819-49550812fb78/test-blob-43fc1094-2a4e-f12a-8b4f-a217fa54e954",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 18:53:32 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022ec5cf0c3-dcf2-3d6d-5c90-89adc51dff64\u0022,\u0022EncryptedKey\u0022:\u0022qP1tpfclNfjX5LD9S6dVTNM0f9TYgQdnfOdqoPm9Rs8=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022TR\\u002BBj4baQbpF9Boy2yc9Mg==\u0022,\u0022KeyWrappin[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6f8bbd1a-0f78-256a-7819-49550812fb78/test-blob-43fc1094-2a4e-f12a-8b4f-a217fa54e954",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:53:32 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69B7F9D8DD57\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:53:31 GMT",
        "x-ms-blob-content-md5": "0i19SRBZV3qRvi7hYwHwQA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 18:53:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022ec5cf0c3-dcf2-3d6d-5c90-89adc51dff64\u0022,\u0022EncryptedKey\u0022:\u0022qP1tpfclNfjX5LD9S6dVTNM0f9TYgQdnfOdqoPm9Rs8=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022TR\\u002BBj4baQbpF9Boy2yc9Mg==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:53:31.8017367Z"
      },
      "ResponseBody": "q9mO5wSw0ZC7Rix9qJY56arBuGPj/zCBR0A3nXTu28ezkhDnHc6ObX5rBH\u002BrM6oU3pzwZuGTVSBdpM0u2meVJohJ9ovwGCHL6slsQRJ2Lw5zDciYuSApuLx4iuakETNXYMi6k8xIXY1npKa5atgK1kjhJfTtR2nLh7h7dhcf9SVykQskSoW1WwIhs10UAWkThndC/OjEVoArcXeuoSECKF\u002Bphz0vMrIpClcOU0OGeRG1VIIaXBtl545iGPoE15VBZ4tHVJ6b7igVmm\u002BxjrsQTzabEPX8HrQMZxIhz4AtJCGXZJDXeNz8tzfJBn4j9ckJsCNBHQOvNGKBwLuylRyihZfmw4sffvltz0kQxl6iKVPDIuoMpNYxNbqZehOSf5mxDMs1\u002B4OYAXwC13cy2jMVNBzNxY7JRGdR[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6f8bbd1a-0f78-256a-7819-49550812fb78?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:53:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "425581637",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
