{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-810b61e8-983a-102b-887f-c97bbe804c51?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:53:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69B7F9BEFACA\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:53:31 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-810b61e8-983a-102b-887f-c97bbe804c51/test-blob-a565bb0e-424a-8a6e-2418-a25b65ad1cd7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 18:53:32 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022deca2ca5-6766-7541-795b-0c4b637ba7a6\u0022,\u0022EncryptedKey\u0022:\u0022ZO0fyoMaGq3T25uC\\u002BKuq59fGkMe1wZOn5Ya9rBDJWKw=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022nn5Mi\\u002BWAfCjVE3gl3fCC0A==\u0022,\u0022KeyW[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-810b61e8-983a-102b-887f-c97bbe804c51/test-blob-a565bb0e-424a-8a6e-2418-a25b65ad1cd7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:53:32 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1039/1040",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69B7F9C41FDB\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:53:31 GMT",
        "x-ms-blob-content-md5": "OCvuxm8KUPnfeYc2g/MGFQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 18:53:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022deca2ca5-6766-7541-795b-0c4b637ba7a6\u0022,\u0022EncryptedKey\u0022:\u0022ZO0fyoMaGq3T25uC\\u002BKuq59fGkMe1wZOn5Ya9rBDJWKw=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022nn5Mi\\u002BWAfCjVE3gl3fCC0A==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:53:31.6658139Z"
      },
      "ResponseBody": "toZ2x75rC4Yqg8SAOnzxrmqaAWHG\u002Bo\u002B5Ib3X21vicUeFawUQFfTcEksSh1unwKp7XtN7bC/Ea2mCsx4gFSDEwQmQyto7uKh81\u002Bsbi0X0f6kWChtB2eTWzfCPjCL3QrCg1ewCnpWXTpBBUx0e6s/77fuJPV08m5/XUSWEPGF\u002BXRnZ9YbTagZI3leIoYjP\u002BfKRjTjlf0FLK6lNAyDrC0/UQYJqMCGL19h3\u002BQyk23uBFt\u002B5Vkrzk6sON1TtZu0mNsqdA1g\u002BT7uZ9vC5O65bHzecMDEVmgf0Ot8SWv72meAWaStNKhG7OSkJg2EBDSnHsg1JzCgdZRa0tDHHztdk2YaW5OM/g\u002BMDqYfnlM/dRvWlIus01zzSPvp\u002B4uJpvn1K81RKfq[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-810b61e8-983a-102b-887f-c97bbe804c51?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:53:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1015313558",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
