{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1d54675c-8ae8-fa0e-0617-a30be07d287e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:26:21 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69CD52F300B4\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:26:20 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1d54675c-8ae8-fa0e-0617-a30be07d287e/test-blob-e85cf36f-ff00-5cdb-def7-266cc85f5fb6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 21:26:21 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00227412b3a8-079f-e467-0f98-71a52f97a1df\u0022,\u0022EncryptedKey\u0022:\u00223MBRjrt/nkXOhgMTbf4GZIfPwVgM9JyibCM22phXqrk=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022uLdkI62RTO\\u002BRobeGAu7K3A==\u0022,\u0022KeyWrappin[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1d54675c-8ae8-fa0e-0617-a30be07d287e/test-blob-e85cf36f-ff00-5cdb-def7-266cc85f5fb6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:26:21 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-255/1040",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69CD52F998F1\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:26:20 GMT",
        "x-ms-blob-content-md5": "895l2S20DQtVANkbJ69coQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 21:26:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00227412b3a8-079f-e467-0f98-71a52f97a1df\u0022,\u0022EncryptedKey\u0022:\u00223MBRjrt/nkXOhgMTbf4GZIfPwVgM9JyibCM22phXqrk=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022uLdkI62RTO\\u002BRobeGAu7K3A==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:26:20.7647985Z"
      },
      "ResponseBody": "QLHH9mge9JTviQXt7FZQxwLkYfdkS2EQkM0UMWtJ1TVZAlVqPwE\u002BCzlVEcBdqE3HO7qweoBCJqco/5ggXYlN4kKHh/sDjoeYXqFb3Gqs8V/vI9wC7H/b7qR2MzAFMh0YtJF9ByzS/YqQ2u4BQVrEt7Pw1Ksig2Sxz2jCmwuCwWlBjOcgSzVp7\u002BZyXJWjPWV159wKQt6t0dYaMQyqsY5wbLynZPHb3KwphK//ReNmj7tH6hgbrloK\u002BQaj1tdKKPPeE1qETK\u002BZZiLmUQgyfTUog6JyOnp\u002B9UbVXmIxVEWcS3L430W\u002BvEkQbL8\u002BEuF4CXIbID7/BN2k5taWXxOdDS/NOg=="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1d54675c-8ae8-fa0e-0617-a30be07d287e/test-blob-e85cf36f-ff00-5cdb-def7-266cc85f5fb6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA69CD52F998F1\u0022",
        "x-ms-date": "Tue, 19 Jul 2022 21:26:21 GMT",
        "x-ms-range": "bytes=256-1039",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 256-1039/1040",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69CD52F998F1\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:26:20 GMT",
        "x-ms-blob-content-md5": "895l2S[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1d54675c-8ae8-fa0e-0617-a30be07d287e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:26:21 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "58247317",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
