{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6e9ef6fd-6f42-cc6b-da03-de77f4cad3c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Jul 2022 14:42:51 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6A5E1F4C288A\u0022",
        "Last-Modified": "Wed, 20 Jul 2022 14:42:51 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6e9ef6fd-6f42-cc6b-da03-de77f4cad3c7/test-blob-8cb97628-cd6c-9e77-b37d-5d2e2451a0a9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 20 Jul 2022 14:42:51 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00220cd360f4-8649-3625-ddfc-3d3d462a60c0\u0022,\u0022EncryptedKey\u0022:\u0022B0E2PmbNXnuGxmO80wOGnS7HDkmJgUwfRGwSV13tn1s=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022ZolN6OSBefXVNRMzMDNxtg==\u0022,\u0022KeyWrappingMetad[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6e9ef6fd-6f42-cc6b-da03-de77f4cad3c7/test-blob-8cb97628-cd6c-9e77-b37d-5d2e2451a0a9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Jul 2022 14:42:51 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Eq1Sh\u002BWvu/SmztIUZPOepA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6A5E1F599FA2\u0022",
        "Last-Modified": "Wed, 20 Jul 2022 14:42:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Jul 2022 14:42:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00220cd360f4-8649-3625-ddfc-3d3d462a60c0\u0022,\u0022EncryptedKey\u0022:\u0022B0E2PmbNXnuGxmO80wOGnS7HDkmJgUwfRGwSV13tn1s=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022ZolN6OSBefXVNRMzMDNxtg==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-20T14:42:51.1783842Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6e9ef6fd-6f42-cc6b-da03-de77f4cad3c7/test-blob-8cb97628-cd6c-9e77-b37d-5d2e2451a0a9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA6A5E1F599FA2\u0022",
        "x-ms-date": "Wed, 20 Jul 2022 14:42:52 GMT",
        "x-ms-range": "bytes=0-63",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-63/1040",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6A5E1F599FA2\u0022",
        "Last-Modified": "Wed, 20 Jul 2022 14:42:51 GMT",
        "x-ms-blob-content-md5": "Eq1Sh\u002BWvu/SmztIUZPOepA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Jul 2022 14:42:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00220cd360f4-8649-3625-ddfc-3d3d462a60c0\u0022,\u0022EncryptedKey\u0022:\u0022B0E2PmbNXnuGxmO80wOGnS7HDkmJgUwfRGwSV13tn1s=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022ZolN6OSBefXVNRMzMDNxtg==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-20T14:42:51.1783842Z"
      },
      "ResponseBody": "G1Mk46RCNYbWU75lPzkdeQ\u002BQ7FYbR9GvuFj2VZunxH/gyM43pBM96GmBEHgilhhAirxvTXEMfeYTvOFhgyOR1A=="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6e9ef6fd-6f42-cc6b-da03-de77f4cad3c7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Jul 2022 14:42:52 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "802922348",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
