{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-03529145-c716-a705-380d-4025dabc19d9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B202120ECCD\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:36 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-03529145-c716-a705-380d-4025dabc19d9/test-blob-e1f69349-15aa-54d8-8bae-b3f3ad9079a8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:37 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002210d458f1-46ac-626d-8b62-6df8043ff3a6\u0022,\u0022EncryptedKey\u0022:\u0022jUlHcUCS8OIVlXVf55lh92S01WVnRR\\u002BojVfg48\\u002B5gz0=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022sy8tT4/5D9uE2fY/ijg7JQ==\u0022,\u0022KeyW[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-03529145-c716-a705-380d-4025dabc19d9/test-blob-e1f69349-15aa-54d8-8bae-b3f3ad9079a8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:37 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-255/1040",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B202125DCD6\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:36 GMT",
        "x-ms-blob-content-md5": "DzfOfYEO7vOBD2ZiM\u002BdUJA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 13:51:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002210d458f1-46ac-626d-8b62-6df8043ff3a6\u0022,\u0022EncryptedKey\u0022:\u0022jUlHcUCS8OIVlXVf55lh92S01WVnRR\\u002BojVfg48\\u002B5gz0=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022sy8tT4/5D9uE2fY/ijg7JQ==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T13:51:36.5601494Z"
      },
      "ResponseBody": "DLVlAU3MFcdxYch7Jj8mNQSJIpCIHIihKEJ/cBP6feTYawRwHmqstI65wSO7\u002BrmHtzBk5x4B4SCda1D5TrFLKtxqu7VCgNMbSkhzgTkg2yNumjo8RFLLyGyNLnEn/fazXxWXyxVBkbIrq948stJijb7iOuAIV76\u002BTsT2WV1MdiNdoZ5OYybDEpXrzbHI5FkGKwLcHwx5pvUJO4qrMjs\u002BZ9D\u002Bcr0l7cfin3UV\u002BgmwYy0HR07Rp1HKpQmPXbIiHH3SoXcniQvO9iGPLfK/\u002B\u002Bd8t698\u002BJEzaEhMbwFCP1exLQK4D8MFHXK4/DHT/zx8vPbfSM5VPRAbK1p8bdFOoBRBZA=="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-03529145-c716-a705-380d-4025dabc19d9/test-blob-e1f69349-15aa-54d8-8bae-b3f3ad9079a8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA6B202125DCD6\u0022",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:37 GMT",
        "x-ms-range": "bytes=256-1039",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 256-1039/1040",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B202125DCD6\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:36 GMT",
        "x-ms-blob-content-md5": "DzfOfY[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-03529145-c716-a705-380d-4025dabc19d9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1536476498",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
