{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-af9d6a73-15a3-dec4-0d20-9c1f241f6881?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:42 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B2024778A4B\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:42 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-af9d6a73-15a3-dec4-0d20-9c1f241f6881/test-blob-a6db39f0-af09-22f6-7be9-4c2e7826567a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:42 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022a7595231-48a0-ecc0-bb59-ba2134a51074\u0022,\u0022EncryptedKey\u0022:\u0022rv\\u002BmXkz7cFU1fiz8SI/4PVT9U7JI127pc7YX97FsXJg=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022JB8uq0cn6OyqMNuI2/NrCw==\u0022,\u0022KeyWrappin[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-af9d6a73-15a3-dec4-0d20-9c1f241f6881/test-blob-a6db39f0-af09-22f6-7be9-4c2e7826567a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:43 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1039/1040",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B20247D8C71\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:42 GMT",
        "x-ms-blob-content-md5": "/TVWYnsl8DTHB/6x5Rt7Bg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 13:51:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022a7595231-48a0-ecc0-bb59-ba2134a51074\u0022,\u0022EncryptedKey\u0022:\u0022rv\\u002BmXkz7cFU1fiz8SI/4PVT9U7JI127pc7YX97FsXJg=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022JB8uq0cn6OyqMNuI2/NrCw==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T13:51:42.1679729Z"
      },
      "ResponseBody": "rzMEeKWV05TMlplHWTR6mlmjCuQWUiLdNCZ0DonWMynnSHl23INMwPvybt8EeayT4PQ3xaernbySRtlOgQrMLT73k2HlVCVJcobCeB1F0/\u002BR6U4Tgi\u002BKpVjVpV7eH/TgogQrRTLEbMvlvYNDsh1ByVljLaev2v5WukTyU2ny4NGtBZiOu7iOKtgicjdkiGOKiLDQcA6GHvHJinYeUL2gu4CgVyAzfAbIGq1zuSE4kslx14ChbTul3nnSvUzBWyzqIwktGSvR\u002BDaQ96t131y6dM\u002B5jCGQhCVDCwEYSqd185woPXO56l76pxyVMUapnH4eORY8uVE4DAZwLNDxexMgUxBiCBiyRF3cHkN1wxebUvSlNSyGyXZ\u002BnSgZFwsAf0spW1s\u002BhtHei\u002BJ11uyqa[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-af9d6a73-15a3-dec4-0d20-9c1f241f6881/test-blob-a6db39f0-af09-22f6-7be9-4c2e7826567a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:43 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "/TVWYnsl8DTHB/6x5Rt7Bg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B20247D8C71\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 13:51:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 13:51:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022a7595231-48a0-ecc0-bb59-ba2134a51074\u0022,\u0022EncryptedKey\u0022:\u0022rv\\u002BmXkz7cFU1fiz8SI/4PVT9U7JI127pc7YX97FsXJg=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022JB8uq0cn6OyqMNuI2/NrCw==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-21T13:51:42.1679729Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-af9d6a73-15a3-dec4-0d20-9c1f241f6881?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 13:51:43 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1317649011",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
