{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-78d9b0c7-506a-24d6-2adf-613c531b5a9f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69CD16A2A5AE\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:39 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-78d9b0c7-506a-24d6-2adf-613c531b5a9f/test-blob-0c826306-f32b-d674-72c7-d595cf85f760",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:40 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00221edc6194-8aa7-cfd4-8660-02befa66e1f5\u0022,\u0022EncryptedKey\u0022:\u0022yfnkf8oLbbGCCJw3A4kX9KfqtDe4Y9DSofANuuYli/o=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022wJORInv6NRHRNI80j6vZ/A==\u0022,\u0022KeyWrappingMetad[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-78d9b0c7-506a-24d6-2adf-613c531b5a9f/test-blob-0c826306-f32b-d674-72c7-d595cf85f760",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:40 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1039/1040",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69CD16AD40A2\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:39 GMT",
        "x-ms-blob-content-md5": "wA3r4VevNZxFu7QRCn01Ug==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 21:24:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00221edc6194-8aa7-cfd4-8660-02befa66e1f5\u0022,\u0022EncryptedKey\u0022:\u00227nSJO86a2YoWebfv8tYj2pFk22pzRB\\u002B6DU9C17D1nfg=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022hMtmvBQ8pIpFpDkWS353tQ==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:24:39.6021682Z"
      },
      "ResponseBody": "tPruuf7eyFSH34i/uPP/w5TzAltIcTkTDDP9sO/HcMkq2TyfHJWkqu4ZTLFvxaiXtzKaLt8HZXD6wEIeDF2oFvG\u002BE3vG5\u002BhkoUibVYMowDAtzjULAX4apia/ciUgS2aLl2bbfIvO\u002Bc3uCc\u002BVAAg3EnBdiLuEydkXmj7FoZdAHbTgTreRx98r5APNrZy0LpEnnJhSXb6sQuFH2oGNFgI9ocFKwl8RimKyxLD7fwid47UG4Ks\u002BD6z4Mwp12vryCHA/30O8BktkgmciMSSulHiXb\u002BZ9GUc4Y04Xn98ZlQgB\u002BOJoaIp\u002BmOKEFmgGA56vCwoJegVi50Ukkk7B\u002B1z/3Zj4X\u002Bt\u002ByJTpu3PG1t3iEt0urlvvBoBWwjg4tk4XzMgj4[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-78d9b0c7-506a-24d6-2adf-613c531b5a9f/test-blob-0c826306-f32b-d674-72c7-d595cf85f760",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "wA3r4VevNZxFu7QRCn01Ug==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69CD16AD40A2\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:39 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 21:24:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u00221edc6194-8aa7-cfd4-8660-02befa66e1f5\u0022,\u0022EncryptedKey\u0022:\u00227nSJO86a2YoWebfv8tYj2pFk22pzRB\\u002B6DU9C17D1nfg=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022hMtmvBQ8pIpFpDkWS353tQ==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:24:39.6021682Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-78d9b0c7-506a-24d6-2adf-613c531b5a9f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "89933300",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
