{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-67fdbcc0-592c-1f3f-47ee-d4e6b1b37bdb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:58:44 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69B8B3B51176\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:58:43 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-67fdbcc0-592c-1f3f-47ee-d4e6b1b37bdb/test-blob-a38a2578-f4a6-f430-b8ec-071c2189b642",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 18:58:44 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002289977419-fc77-a506-51f3-01b0a0c6b98d\u0022,\u0022EncryptedKey\u0022:\u0022TN1eoDAol3Yan3AadYQWv\\u002BNlwruEZ/Sv3hAUeWoFYlM=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022wQDVBH2TzaC8Ab1GZUtqPA==\u0022,\u0022KeyWrappin[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-67fdbcc0-592c-1f3f-47ee-d4e6b1b37bdb/test-blob-a38a2578-f4a6-f430-b8ec-071c2189b642",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:58:44 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1039/1040",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69B8B3BEE498\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:58:43 GMT",
        "x-ms-blob-content-md5": "8LBoibAx5EH9BT/3OcQeuw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 18:58:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002289977419-fc77-a506-51f3-01b0a0c6b98d\u0022,\u0022EncryptedKey\u0022:\u0022z3F5aUZ/8HO1AkG2KC\\u002BhGEgP2c23HWBFM7OvOwqP6ks=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022RW7Lzo5xhDT9DazOMBMB5w==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:58:43.6887464Z"
      },
      "ResponseBody": "4pRQY2Af8y81ZmDM1Ksbu2xJtTkDRtjki4MR90yll93LF4xXbJeFl/BMexHC5\u002B3ngCECgoVwN2E1lcxq9SopR6UGxJjKfgv\u002BmnvXCAftiahhqkAV5oegKb13L88ExWqH7RiVIxSqrbS8FrxV9DjjmcmMH37nYZP7LoFlfkBiBDNWgK1voPNgurPJVRIUrQkO9LcYzz3M8c5AOK5vonwGQwFnW5BMbW\u002BTIww/jbmxJvTG1rtcZdHMpKjErFyQnUAt/4M01L/n\u002BhVYeiGTTZFWDwRaHOmC5Nt5ZH\u002B1V70TvAGBDBJ6ZvUVXNvc91GzuQT3YFjhaRLfI6CpDcmqnur71Pbpkie2/JhQZAeC6FYWDIh264JMfuoQCNi8HyrA7F0S4P\u002BKKj9jzWh3xuqD5NCUx0[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-67fdbcc0-592c-1f3f-47ee-d4e6b1b37bdb/test-blob-a38a2578-f4a6-f430-b8ec-071c2189b642",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:58:44 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "8LBoibAx5EH9BT/3OcQeuw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69B8B3BEE498\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 18:58:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 18:58:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u002289977419-fc77-a506-51f3-01b0a0c6b98d\u0022,\u0022EncryptedKey\u0022:\u0022z3F5aUZ/8HO1AkG2KC\\u002BhGEgP2c23HWBFM7OvOwqP6ks=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022RW7Lzo5xhDT9DazOMBMB5w==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T18:58:43.6887464Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-67fdbcc0-592c-1f3f-47ee-d4e6b1b37bdb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 18:58:44 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1794157145",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
