{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b4f8d269-a124-df60-2b2d-434d5d61a889?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA69CD06554063\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b4f8d269-a124-df60-2b2d-434d5d61a889/test-blob-ab8d30b3-d207-b363-caae-338ae10bafa5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:12 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022e6da8166-5b7b-a895-fd5c-b9b32c4545e6\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////\\u002B9KjgTt2uqe3OHrHgERc7GsNxeAAfAmkzymrZ6kJYc6g==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:4194304,\u0022Non[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b4f8d269-a124-df60-2b2d-434d5d61a889/test-blob-ab8d30b3-d207-b363-caae-338ae10bafa5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:12 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2075/2076",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69CD065D0041\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:12 GMT",
        "x-ms-blob-content-md5": "JmvrmDVAMgAIuiss8\u002BDZeg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 21:24:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022e6da8166-5b7b-a895-fd5c-b9b32c4545e6\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////\\u002B9KjgTt2uqe3OHrHgERc7GsNxeAAfAmkzymrZ6kJYc6g==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:4194304,\u0022NonceLength\u0022:12},\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:24:12.2326847Z"
      },
      "ResponseBody": "AAAAAAEAAAAAAAAAgVvTi81bP7ExG94sYKKZODwWNbN8C7upSzX/X\u002Bgo5yMvdnoAtLhNQtYh\u002BBdvk8qvrnKuBkRfxALmbAfuVSPaYUB5/kX0AQTuEye0wBtmt8WXQO5nIoMebekN96O3o/yIm65Y0IcHXeMnlOVtCnqd1YOwdhCR2e1GA07UvoMDFunYCKz4TDNc9ewR5JBWhFfWdgPZkiS/lizwp9oKRgPhgh\u002B7DBqdRLTlrA9Ong23bJl5FwDLHf4Mg9jDh13iC9VsNtRk0//3fgU3QJYx\u002BoJOYprNYTxv7AEtMA7/lUvxCawG0yzgsiaHAT8YSQ8Z3JQ7GO8Ns/IERBTosc762uXi4EZhhivmXnHW4lid1SsA3B6fooHgtMPPRM6Tnmzk4wZ5dOfr/iCL6P7OHvH2[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b4f8d269-a124-df60-2b2d-434d5d61a889/test-blob-ab8d30b3-d207-b363-caae-338ae10bafa5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:13 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "JmvrmDVAMgAIuiss8\u002BDZeg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA69CD065D0041\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 21:24:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Jul 2022 21:24:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022e6da8166-5b7b-a895-fd5c-b9b32c4545e6\u0022,\u0022EncryptedKey\u0022:\u0022zdHP//////\\u002B9KjgTt2uqe3OHrHgERc7GsNxeAAfAmkzymrZ6kJYc6g==\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00222.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_GCM_256\u0022},\u0022EncryptedRegionInfo\u0022:{\u0022DataLength\u0022:4194304,\u0022NonceLength\u0022:12},\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-19T21:24:12.2326847Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b4f8d269-a124-df60-2b2d-434d5d61a889?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Jul 2022 21:24:13 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1115534692",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
