{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-65262658-c30d-438d-ea7d-364f1d8d5888?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Jul 2022 14:42:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6A5E21035C43\u0022",
        "Last-Modified": "Wed, 20 Jul 2022 14:42:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-65262658-c30d-438d-ea7d-364f1d8d5888/test-blob-bfe99567-f3b3-05cb-5987-ac87b22f5c7b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 20 Jul 2022 14:42:54 GMT",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022ef121ac8-e22f-6068-1bbf-1d3ac10431ef\u0022,\u0022EncryptedKey\u0022:\u0022E5N/n7U8zeWNs0\\u002BqsuQMYL19CK97LuklDcLFMXb3rqI=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022conEP5jiQ6Nizk1nQ3W4Pg==\u0022,\u0022KeyWrappin[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-65262658-c30d-438d-ea7d-364f1d8d5888/test-blob-bfe99567-f3b3-05cb-5987-ac87b22f5c7b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Jul 2022 14:42:54 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1039/1040",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6A5E210ABA69\u0022",
        "Last-Modified": "Wed, 20 Jul 2022 14:42:54 GMT",
        "x-ms-blob-content-md5": "5p6q5N2BJJFDwFtr5iKK0A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Jul 2022 14:42:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022ef121ac8-e22f-6068-1bbf-1d3ac10431ef\u0022,\u0022EncryptedKey\u0022:\u0022E5N/n7U8zeWNs0\\u002BqsuQMYL19CK97LuklDcLFMXb3rqI=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022conEP5jiQ6Nizk1nQ3W4Pg==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-20T14:42:54.0167785Z"
      },
      "ResponseBody": "Ao0ulSGUryXcEpNSq5jDpPGIjiw9DNghaXACqhC5lMt6/09duyJuM8sMpP9BdOE0tuPmX0VIkGX0bdHTvKYApdOUmIFE5bAEqebb28bTwtHHJhjYfm/\u002BkQer6idPFGuD374c73i7sbr9KzHV/sQ5FMn43i4aYd1x1PXJ2\u002BAU1lTTESHH5kyohHUn0Evp/fwT\u002BVYJrvWL1ynIOg5V9n3g6iDVkWbJQATyGT/gqjNMrbEZJ\u002Bj7lmnkbMqRAdFydxUQ7E\u002B6R1a3ndxIYDaE4Eu0CPojTcD/e0ZX3kYBJGvjR4ljAY/YUZLa/zmqWS2cLbZ1QmQcHUD5f2vzYgVA2n2J4nxrpb4Pw6MMe\u002BtXDn5ZTpe\u002BhYK6I2APpwW6/Y6BBf5HGI6j9eLccVPf51ZAq[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-65262658-c30d-438d-ea7d-364f1d8d5888/test-blob-bfe99567-f3b3-05cb-5987-ac87b22f5c7b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Jul 2022 14:42:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "5p6q5N2BJJFDwFtr5iKK0A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6A5E210ABA69\u0022",
        "Last-Modified": "Wed, 20 Jul 2022 14:42:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Jul 2022 14:42:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022EncryptionMode\u0022:\u0022FullBlob\u0022,\u0022WrappedContentKey\u0022:{\u0022KeyId\u0022:\u0022ef121ac8-e22f-6068-1bbf-1d3ac10431ef\u0022,\u0022EncryptedKey\u0022:\u0022E5N/n7U8zeWNs0\\u002BqsuQMYL19CK97LuklDcLFMXb3rqI=\u0022,\u0022Algorithm\u0022:\u0022some algorithm name\u0022},\u0022EncryptionAgent\u0022:{\u0022Protocol\u0022:\u00221.0\u0022,\u0022EncryptionAlgorithm\u0022:\u0022AES_CBC_256\u0022},\u0022ContentEncryptionIV\u0022:\u0022conEP5jiQ6Nizk1nQ3W4Pg==\u0022,\u0022KeyWrappingMetadata\u0022:{\u0022EncryptionLibrary\u0022:\u0022.NET Recorded Test Encryption Metadata Agent String\u0022}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-20T14:42:54.0167785Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-65262658-c30d-438d-ea7d-364f1d8d5888?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Jul 2022 14:42:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1403754302",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
