{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11946"
      },
      "ResponseBody": {
        "id": "/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "6bb9d374-1f0d-437e-8bbe-4bc892850065",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure DNS Managed Resolver (Test) (Monitoring) (Shoebox)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065/resourcegroups/resourceGroupName8384?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065/resourceGroups/resourceGroupName8384",
        "name": "resourceGroupName8384",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065/resourceGroups/resourceGroupName8384/providers/Microsoft.Network/trafficmanagerprofiles/profileName3898?api-version=2022-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "name": "profileName3898",
        "properties": {
          "trafficRoutingMethod": "Weighted",
          "dnsConfig": {
            "relativeName": "profileName3898"
          },
          "monitorConfig": {
            "protocol": "HTTP",
            "port": 80,
            "path": "/public/health-probe"
          },
          "endpoints": [
            {
              "name": "endpoint1",
              "type": "Microsoft.Network/trafficManagerProfiles/externalEndpoints",
              "properties": {
                "target": "az-int-black.int.microsoftmetrics.com",
                "weight": 1000
              }
            },
            {
              "name": "endpoint2",
              "type": "Microsoft.Network/trafficManagerProfiles/externalEndpoints",
              "properties": {
                "target": "az-int-red.int.microsoftmetrics.com",
                "weight": 1
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "4498"
      },
      "ResponseBody": {
        "id": "/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065/resourceGroups/resourcegroupname8384/providers/Microsoft.Network/trafficManagerProfiles/profileName3898",
        "name": "profileName3898",
        "type": "Microsoft.Network/trafficManagerProfiles",
        "location": "global",
        "properties": {
          "profileStatus": "Enabled",
          "trafficRoutingMethod": "Weighted",
          "dnsConfig": {
            "relativeName": "profilename3898",
            "fqdn": "profilename3898.trafficmanager.net",
            "ttl": 0
          },
          "monitorConfig": {
            "profileMonitorStatus": "CheckingEndpoints",
            "protocol": "HTTP",
            "port": 80,
            "path": "/public/health-probe",
            "intervalInSeconds": 30,
            "toleratedNumberOfFailures": 3,
            "timeoutInSeconds": 10
          },
          "endpoints": [
            {
              "id": "/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065/resourceGroups/resourcegroupname8384/providers/Microsoft.Network/trafficManagerProfiles/profileName3898/externalEndpoints/endpoint1",
              "name": "endpoint1",
              "type": "Microsoft.Network/trafficManagerProfiles/externalEndpoints",
              "properties": {
                "endpointStatus": "Enabled",
                "endpointMonitorStatus": "CheckingEndpoint",
                "targetResourceId": null,
                "target": "az-int-black.int.microsoftmetrics.com",
                "weight": 1000,
                "priority": 1,
                "endpointLocation": null,
                "minChildEndpoints": null,
                "alwaysServe": "Disabled"
              }
            },
            {
              "id": "/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065/resourceGroups/resourcegroupname8384/providers/Microsoft.Network/trafficManagerProfiles/profileName3898/externalEndpoints/endpoint2",
              "name": "endpoint2",
              "type": "Microsoft.Network/trafficManagerProfiles/externalEndpoints",
              "properties": {
                "endpointStatus": "Enabled",
                "endpointMonitorStatus": "CheckingEndpoint",
                "targetResourceId": null,
                "target": "az-int-red.int.microsoftmetrics.com",
                "weight": 1,
                "priority": 2,
                "endpointLocation": null,
                "minChildEndpoints": null,
                "alwaysServe": "Disabled"
              }
            }
          ],
          "trafficViewEnrollmentStatus": "Disabled",
          "maxReturn": null
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065/resourceGroups/resourceGroupName8384/providers/Microsoft.Network/trafficmanagerprofiles?api-version=2022-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065/resourceGroups/resourcegroupname8384/providers/Microsoft.Network/trafficManagerProfiles/profileName3898",
            "name": "profileName3898",
            "type": "Microsoft.Network/trafficManagerProfiles",
            "location": "global",
            "tags": {},
            "properties": {
              "profileStatus": "Enabled",
              "trafficRoutingMethod": "Weighted",
              "dnsConfig": {
                "relativeName": "profilename3898",
                "fqdn": "profilename3898.trafficmanager.net",
                "ttl": 0
              },
              "monitorConfig": {
                "profileMonitorStatus": "CheckingEndpoints",
                "protocol": "HTTP",
                "port": 80,
                "path": "/public/[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065/resourcegroups/resourceGroupName8384?api-version=**",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRVNPVVJDRUdST1VQTkFNRTgzODQtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2022-09-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRVNPVVJDRUdST1VQTkFNRTgzODQtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRVNPVVJDRUdST1VQTkFNRTgzODQtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2022-09-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11945"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRVNPVVJDRUdST1VQTkFNRTgzODQtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11940"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1332435475",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "6bb9d374-1f0d-437e-8bbe-4bc892850065"
  }
}
