{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11973"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS12581055": "20220228",
          "NRMSBreakGlassNonHighRisk ": "NRMSBreakGlassNonHighRisk "
        },
        "subscriptionId": "fb9e7fe1-af44-47ef-852d-2d086a069327",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "GenevaMetrics_Int",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourcegroups/resourceGroupName1789?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/resourceGroupName1789",
        "name": "resourceGroupName1789",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/resourceGroupName1789/providers/Microsoft.Network/trafficmanagerprofiles/profileName6121?api-version=2018-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "name": "profileName6121",
        "properties": {
          "trafficRoutingMethod": "Weighted",
          "dnsConfig": {
            "relativeName": "profileName6121"
          },
          "monitorConfig": {
            "protocol": "HTTP",
            "port": 80,
            "path": "/public/health-probe"
          },
          "endpoints": [
            {
              "name": "endpoint1",
              "type": "Microsoft.Network/trafficManagerProfiles/externalEndpoints",
              "properties": {
                "target": "az-int-black.int.microsoftmetrics.com",
                "weight": 1000
              }
            },
            {
              "name": "endpoint2",
              "type": "Microsoft.Network/trafficManagerProfiles/externalEndpoints",
              "properties": {
                "target": "az-int-red.int.microsoftmetrics.com",
                "weight": 1
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "10794"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/resourcegroupname1789/providers/Microsoft.Network/trafficManagerProfiles/profileName6121",
        "name": "profileName6121",
        "type": "Microsoft.Network/trafficManagerProfiles",
        "location": "global",
        "properties": {
          "profileStatus": "Enabled",
          "trafficRoutingMethod": "Weighted",
          "dnsConfig": {
            "relativeName": "profilename6121",
            "fqdn": "profilename6121.trafficmanager.net",
            "ttl": 0
          },
          "monitorConfig": {
            "profileMonitorStatus": "CheckingEndpoints",
            "protocol": "HTTP",
            "port": 80,
            "path": "/public/health-probe",
            "intervalInSeconds": 30,
            "toleratedNumberOfFailures": 3,
            "timeoutInSeconds": 10
          },
          "endpoints": [
            {
              "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/resourcegroupname1789/providers/Microsoft.Network/trafficManagerProfiles/profileName6121/externalEndpoints/endpoint1",
              "name": "endpoint1",
              "type": "Microsoft.Network/trafficManagerProfiles/externalEndpoints",
              "properties": {
                "endpointStatus": "Enabled",
                "endpointMonitorStatus": "CheckingEndpoint",
                "targetResourceId": null,
                "target": "az-int-black.int.microsoftmetrics.com",
                "weight": 1000,
                "priority": 1,
                "endpointLocation": null,
                "minChildEndpoints": null,
                "minChildEndpointsIPv4": null,
                "minChildEndpointsIPv6": null
              }
            },
            {
              "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/resourcegroupname1789/providers/Microsoft.Network/trafficManagerProfiles/profileName6121/externalEndpoints/endpoint2",
              "name": "endpoint2",
              "type": "Microsoft.Network/trafficManagerProfiles/externalEndpoints",
              "properties": {
                "endpointStatus": "Enabled",
                "endpointMonitorStatus": "CheckingEndpoint",
                "targetResourceId": null,
                "target": "az-int-red.int.microsoftmetrics.com",
                "weight": 1,
                "priority": 2,
                "endpointLocation": null,
                "minChildEndpoints": null,
                "minChildEndpointsIPv4": null,
                "minChildEndpointsIPv6": null
              }
            }
          ],
          "trafficViewEnrollmentStatus": "Disabled",
          "maxReturn": null
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourcegroups/dialtone-traffic-manager?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/dialtone-traffic-manager",
        "name": "dialtone-traffic-manager",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/dialtone-traffic-manager/providers/Microsoft.Network/trafficmanagerprofiles/az-int-int-msftmetrics?api-version=2018-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/dialtone-traffic-manager/providers/Microsoft.Network/trafficmanagerprofiles/az-int-int-msftmetrics/heatMaps/default?api-version=2018-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "599"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/dialtone-traffic-manager/providers/Microsoft.Network/trafficManagerProfiles/az-int-int-msftmetrics/heatMaps/default",
        "name": "default",
        "type": "Microsoft.Network/trafficManagerProfiles/heatMaps",
        "properties": {
          "endTime": "2022-06-28T00:00:00.0000000Z",
          "endpoints": [
            {
              "endpointId": 0,
              "resourceId": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/dialtone-traffic-manager/providers/Microsoft.Network/trafficManagerProfiles/az-int-int-msftmetrics/externalEndpoints/az-int-black"
            },
            {
              "endpointId": 1,
              "resourceId": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/dialtone-traffic-manager/providers/Microsoft.Network/trafficManagerProfiles/az-int-int-msftmetrics/externalEndpoints/az-int-red"
            }
          ],
          "startTime": "2022-06-21T00:00:00.0000000Z",
          "trafficFlows": [
            {
              "latitude": 37.335,
              "longitude": -121.888,
              "queryExperiences": [
                {
                  "endpointId": 0,
                  "queryCount": 446307
                },
                {
                  "endpointId": 1,
                  "queryCount": 377790
                }
              ],
              "sourceIp": "40.112.246.128"
            },
            {
              "latitude": 37.335,
              "longitude": -121.888,
              "queryExperiences": [
                {
                  "endpointId": 0,
                  "queryCount": 338354
                },
                {
                  "endpointId": 1,
                  "queryCount": 285058
                }
              ],
              "sourceIp": "40.112.240.128"
            },
            {
              "latitude": 47.132,
  [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourcegroups/resourceGroupName1789?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRVNPVVJDRUdST1VQTkFNRTE3ODktRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14993"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRVNPVVJDRUdST1VQTkFNRTE3ODktRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRVNPVVJDRUdST1VQTkFNRTE3ODktRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11971"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRVNPVVJDRUdST1VQTkFNRTE3ODktRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "270001474",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "fb9e7fe1-af44-47ef-852d-2d086a069327"
  }
}
