{
  "Entries": [
    {
      "RequestUri": "/subscriptions/cdd53a71-7d81-493d-bce6-224fec7223a9/providers/Microsoft.Automanage/configurationProfilePreferences?api-version=2020-06-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"values\": [\r\n    {\r\n      \"id\": \"/subscriptions/cdd53a71-7d81-493d-bce6-224fec7223a9/resourceGroups/myNewAmVm3/providers/Microsoft.Automanage/configurationProfilePreferences/MyNewCustomPrefs\",\r\n      \"name\": \"MyNewCustomPrefs\",\r\n      \"type\": \"Microsoft.Automanage/configurationProfilePreferences\",\r\n      \"location\": \"westus2\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"antimalware\": {\r\n          \"enableRealTimeProtection\": true,\r\n          \"exclusions\": {\r\n            \"extensions\": \"c:\\\\temp\",\r\n            \"paths\": \"myDb.sql\",\r\n            \"processes\": \"notepad.exe\"\r\n          },\r\n          \"runScheduledScan\": false,\r\n          \"scanType\": \"Quick\",\r\n          \"scanDay\": \"7\",\r\n          \"scanTimeInMinutes\": \"120\"\r\n        }\r\n      },\r\n      \"systemData\": {\r\n        \"createdAt\": \"2020-08-22T10:25:21.4596406-04:00\",\r\n        \"createdBy\": \"stowen@microsoft.com\",\r\n        \"createdByType\": \"User\",\r\n        \"lastModifiedAt\": \"2020-08-22T10:25:21.4596406-04:00\",\r\n        \"lastModifiedBy\": \"stowen@microsoft.com\",\r\n        \"lastModifiedByType\": \"User\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cdd53a71-7d81-493d-bce6-224fec7223a9/resourceGroups/MYNEWAMVM3/providers/Microsoft.Automanage/configurationProfilePreferences/MyNewCustomPrefs?api-version=2020-06-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ][...]
