{
  "Entries": [
    {
      "RequestUri": "https://contosoprodwus2.api.prod.adu.microsoft.com/deviceupdate/blue/v2/updates/providers/Contoso/names/Virtual-Machine/versions/2021.302.1202.48/files/00000",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022490fe67f-4cc1-4b69-8c7e-80e9665060f7\u0022"
      },
      "ResponseBody": {
        "fileId": "00000",
        "fileName": "setup.exe",
        "sizeInBytes": 94,
        "hashes": {
          "Sha256": "nTsYZEDeW9554a4YGmawsypogbG8zhc1IgvOE2PbSsA="
        },
        "etag": "\u0022490fe67f-4cc1-4b69-8c7e-80e9665060f7\u0022"
      }
    }
  ],
  "Variables": {
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "contosoprodwus2.api.prod.adu.microsoft.com",
    "DEVICEUPDATE_INSTANCE_ID": "blue",
    "DEVICEUPDATE_UPDATE_VERSION": "2021.302.1202.48",
    "RandomSeed": "1708468163"
  }
}