{
  "Entries": [
    {
      "RequestUri": "https://contosoprod.api.prod.adu.microsoft.com/deviceupdate/blue/v2/updates/providers/foo/names/bar/versions/0.0.0.1/files",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/problem\u002Bjson; charset=utf-8"
      },
      "ResponseBody": {
        "type": "https://tools.ietf.org/html/rfc7231#section-6.5.4",
        "title": "Not Found",
        "status": 404,
        "traceId": "00-3eb6f5bdeadb6b4bb910a8e842515bf5-a557933509815b4c-00"
      }
    }
  ],
  "Variables": {
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "contosoprod.api.prod.adu.microsoft.com",
    "DEVICEUPDATE_INSTANCE_ID": "blue",
    "RandomSeed": "617791428"
  }
}