{
  "Entries": [
    {
      "RequestUri": "//subscriptions/1c70e365-4937-4ff9-8524-262064a268d8/resourceGroups/DotnetSDKTest/providers/Microsoft.HybridCompute/machines/LAPTOP-HDUMCR3M/providers/Microsoft.HybridConnectivity/endpoints?api-version=2021-10-06-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/1c70e365-4937-4ff9-8524-262064a268d8/resourceGroups/DotnetSDKTest/providers/Microsoft.HybridCompute/machines/LAPTOP-HDUMCR3M/providers/Microsoft.HybridConnectivity/endpoints/default\",\r\n      \"name\": \"default\",\r\n      \"type\": \"microsoft.hybridconnectivity/endpoints\",\r\n      \"systemData\": {\r\n        \"createdBy\": \"e600f1c3-f27f-4cb8-9e64-d7596f944d7d\",\r\n        \"createdByType\": \"Application\",\r\n        \"createdAt\": \"2022-02-08T19:37:48.0424132Z\",\r\n        \"lastModifiedBy\": \"e600f1c3-f27f-4cb8-9e64-d7596f944d7d\",\r\n        \"lastModifiedByType\": \"Application\",\r\n        \"lastModifiedAt\": \"2022-02-08T19:37:48.0424132Z\"\r\n      },\r\n      \"properties\": {\r\n        \"type\": \"default\",\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "1c70e365-4937-4ff9-8524-262064a268d8"
  }
}