{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/entities?skip=0&take=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"5511daf7-90d1-4c14-841d-7f20fece6d89\",\r\n    \"name\": \"Calendar.Location\",\r\n    \"typeId\": 1,\r\n    \"readableType\": \"Entity Extractor\",\r\n    \"customPrebuiltDomainName\": \"Calendar\",\r\n    \"customPrebuiltModelName\": \"Location\"\r\n  },\r\n  {\r\n    \"id\": \"105cede3-6c7c-42ef-b878-7497cc72e08e\",\r\n    \"name\": \"Calendar.Subject\",\r\n    \"typeId\": 1,\r\n    \"readableType\": \"Entity Extractor\",\r\n    \"customPrebuiltDomainName\": \"Calendar\",\r\n    \"customPrebuiltModelName\": \"Subject\"\r\n  },\r\n  {\r\n    \"id\": \"7fa94cf1-47a4-4761-9a43-ad3dffaca8e1\",\r\n    \"name\": \"Category\",\r\n    \"typeId\": 1,\r\n    \"readableType\": \"Entity Extractor\"\r\n  },\r\n  {\r\n    \"id\": \"8a09378c-64fc-4f63-a2cc-c19a4d44942b\",\r\n    \"name\": \"Code\",\r\n    \"typeId\": 1,\r\n    \"readableType\": \"Entity Extractor\"\r\n  },\r\n  {\r\n    \"id\": \"14c2528c-287d-45f4-939f-626d2a659aeb\",\r\n    \"name\": \"RoomType\",\r\n    \"typeId\": 1,\r\n    \"readableType\": \"Entity Extractor\"\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/entities/14c2528c-287d-45f4-939f-626d2a659aeb/suggest?take=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"text\": \"search hotels, seattle\",\r\n    \"tokenizedText\": [\r\n      \"search\",\r\n      \"hotels\",\r\n      \",\",\r\n      \"seattle\"\r\n    ],\r\n    \"intentPredictions\": [\r\n      {\r\n        \"id\": \"9d3cba7e-64dd-4205-9b23-e2642221b7fe\",\r\n        \"name\": \"FindHotels\",\r\n        \"score\": 1.0\r\n      },\r\n      {\r\n        \"id\": \"6827b869-bbeb-4755-82e9-bfd453dfb32e\",\r\n        \"name\": \"Calendar.Find\",\r\n        \"score\": 0.03\r\n      },\r\n      {\r\n        \"id\": \"76c92d38-2e8e-46f0-9645-5c5040c1bab1\",\r\n        \"name\": \"None\",\r\n        \"score\": 0.02\r\n      },\r\n      {\r\n        \"id\": \"841618ba-38aa-48d6-999b-1cede3aef126\",\r\n        \"name\": \"Calendar.Add\",\r\n        \"score\": 0.0\r\n      },\r\n      {\r\n        \"id\": \"985650d4-[...]
