{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/MediaService-RG-6696?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaService-RG-6696",
        "name": "MediaService-RG-6696",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaService-RG-6696/providers/Microsoft.Storage/storageAccounts/azstorageformedia2158?api-version=2021-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "BlobStorage",
        "location": "westus2",
        "properties": {
          "accessTier": "Hot"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/4cf59607-edcb-4960-bf22-ac1dfd510bcc?monitor=true\u0026api-version=2021-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/4cf59607-edcb-4960-bf22-ac1dfd510bcc?monitor=true\u0026api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/4cf59607-edcb-4960-bf22-ac1dfd510bcc?monitor=true\u0026api-version=2021-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/4cf59607-edcb-4960-bf22-ac1dfd510bcc?monitor=true\u0026api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "kind": "BlobStorage",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaService-RG-6696/providers/Microsoft.Storage/storageAccounts/azstorageformedia2158",
        "name": "azstorageformedia2158",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "westus2",
        "tags": {},
        "properties": {
          "keyCreationTime": {
            "key1": "2022-08-08T07:02:35.0481672Z",
            "key2": "2022-08-08T07:02:35.0481672Z"
          },
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_0",
          "allowBlobPublicAccess": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-08-08T07:02:35.0481672Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-08-08T07:02:35.0481672Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2022-08-08T07:02:34.9544675Z",
          "primaryEndpoints": {
            "dfs": "https://azstorageformedia2158.dfs.core.windows.net/",
            "blob": "https://azstorageformedia2158.blob.core.windows.net/",
            "table": "https://azstorageformedia2158.table.core.windows.net/"
          },
          "primaryLocation": "westus2",
          "statusOfPrimary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaService-RG-6696/providers/Microsoft.Media/mediaservices/mediaservice5107?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaService-RG-6696/providers/Microsoft.Storage/storageAccounts/azstorageformedia2158",
              "type": "Primary"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/d3faa1aa-53b9-4c12-885b-4927fa77aac7?api-version=2021-11-01",
        "Content-Type": "application/json; odata.metadata=minimal",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationResults/d3faa1aa-53b9-4c12-885b-4927fa77aac7?api-version=2021-11-01",
        "OData-Version": "4.0",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "name": "mediaservice5107",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaService-RG-6696/providers/Microsoft.Media/mediaservices/mediaservice5107",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "tags": {},
        "properties": {
          "mediaServiceId": "c5d8a8d4-f277-4212-a5a6-19b3ca64fa99",
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaService-RG-6696/providers/Microsoft.Storage/storageAccounts/azstorageformedia2158",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "InProgress",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/d3faa1aa-53b9-4c12-885b-4927fa77aac7?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "name": "d3faa1aa-53b9-4c12-885b-4927fa77aac7",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/d3faa1aa-53b9-4c12-885b-4927fa77aac7",
        "startTime": "2022-08-08T07:02:57.2833751Z",
        "endTime": "2022-08-08T07:02:57.7990103Z",
        "status": "Succeeded"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaService-RG-6696/providers/Microsoft.Media/mediaServices/mediaservice5107/assets/asset1894?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11998"
      },
      "ResponseBody": {
        "name": "asset1894",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaService-RG-6696/providers/Microsoft.Media/mediaservices/mediaservice5107/assets/asset1894",
        "type": "Microsoft.Media/mediaservices/assets",
        "properties": {
          "assetId": "b3635aa8-2dd6-4696-9d88-f0f573e5814d",
          "created": "2022-08-08T07:02:59.42Z",
          "lastModified": "2022-08-08T07:02:59.42Z",
          "storageAccountName": "azstorageformedia2158",
          "storageEncryptionFormat": "None"
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-08-08T07:02:59.1431954Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-08T07:02:59.1431954Z"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1634811245",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
