{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourcegroups/Default-AppConfiguration-3022?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3022",
        "name": "Default-AppConfiguration-3022",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/8503b6c9-85a2-3dc2-cb6e-0b8c3769aa98?api-version=2020-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "properties": {
          "provisioningState": "Creating",
          "creationDate": "2020-09-10T17:52:42.8124768\u002B00:00",
          "endpoint": null,
          "encryption": null,
          "privateEndpointConnections": null
        },
        "sku": null,
        "id": "/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417",
        "name": "configuration8417",
        "location": "westus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/8503b6c9-85a2-3dc2-cb6e-0b8c3769aa98?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/8503b6c9-85a2-3dc2-cb6e-0b8c3769aa98?api-version=2020-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11945"
      },
      "ResponseBody": {
        "id": "/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/8503b6c9-85a2-3dc2-cb6e-0b8c3769aa98",
        "name": "8503b6c9-85a2-3dc2-cb6e-0b8c3769aa98",
        "status": "Creating",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220f001909-0000-0700-0000-5f5a67eb0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11943"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2020-09-10T17:52:43\u002B00:00",
          "endpoint": "https://configuration8417.azconfig.io",
          "encryption": {
            "keyVaultProperties": null
          },
          "privateEndpointConnections": null
        },
        "sku": {
          "name": "standard"
        },
        "id": "/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/default-appconfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417",
        "name": "configuration8417",
        "location": "westus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.Network/virtualNetworks/vnetname7896?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "subnetname5464",
              "properties": {
                "addressPrefix": "10.0.0.0/24",
                "privateEndpointNetworkPolicies": "Disabled"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/providers/Microsoft.Network/locations/eastus/operations/8a86b33b-c504-418e-8a1d-489e35e31c72?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022vnetname7896\u0022,\r\[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/providers/Microsoft.Network/locations/eastus/operations/8a86b33b-c504-418e-8a1d-489e35e31c72?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11942"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.Network/privateEndpoints/endpointxyz7486?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "subnet": {
            "id": "/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.Network/virtualNetworks/vnetname7896/subnets/subnetname5464",
            "properties": {}
          },
          "privateLinkServiceConnections": [
            {
              "name": "myconnection",
              "properties": {
                "privateLinkServiceId": "/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/default-appconfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417",
                "groupIds": [
                  "configurationStores"
                ],
                "requestMessage": "Please approve my connection"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/providers/Microsoft.Network/locations/eastus/operations/6eb5756b-1277-408a-adb8-fe68b2a0c086?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-Afte[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417/privateEndpointConnections/endpointxyz7486.70370e8a-7b6a-4b09-945e-956193353b86?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "privateEndpoint": {
            "id": "/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.Network/privateEndpoints/endpointxyz7486"
          },
          "privateLinkServiceConnectionState": {
            "status": "Approved",
            "description": "Auto-Approved"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/b9f4feb3-b760-9f7b-1907-60ccc86cb399?api-version=2020-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {
          "provisioningState": "Updating",
          "privateEndpoint": null,
          "privateLinkServiceConnectionState": {
            "status": "Approved",
            "description": "Auto-Approved"
          }
        },
        "id": "/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/default-appconfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417/privateEndpointConnections/endpointxyz7486.70370e8a-7b6a-4b09-945e-956193353b86",
        "name": "endpointxyz7486.70370e8a-7b6a-4b09-945e-956193353b86",
        "location": null,
        "tags": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417/privateLinkResources?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11924"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417/privateLinkResources/configurationStores",
            "name": "configurationStores",
            "type": "Microsoft.AppConfiguration/configurationStores/privateLinkResources",
            "properties": {
              "groupId": "configurationStores",
              "requiredMembers": [
                "configurationStores"
              ],
              "requiredZoneNames": [
                "privatelink.azconfig.io"
              ]
            }
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417/privateLinkResources/configurationStores?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11923"
      },
      "ResponseBody": {
        "id": "subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417/privateLinkResources/configurationStores",
        "name": "configurationStores",
        "type": "Microsoft.AppConfiguration/configurationStores/privateLinkResources",
        "properties": {
          "groupId": "configurationStores",
          "requiredMembers": [
            "configurationStores"
          ],
          "requiredZoneNames": [
            "privatelink.azconfig.io"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417/privateEndpointConnections?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/jso[...]
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppConfiguration/operations?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "origin": null,
            "name": "Microsoft.AppConfiguration/operations/read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft App Configuration",
              "resource": "Operation",
              "operation": "List Operations",
              "description": "Lists all of the operations supported by Microsoft App Configuration."
            },
            "properties": null
          },
          {
            "origin": null,
            "name": "Microsoft.AppConfiguration/register/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft App Configuration",
              "resource": "Microsoft App Configuration",
              "operation": "Register for[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Link": "\u003C/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01\u0026$skipToken=configuration8417\u003E; rel=\u0022next\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11918"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.AppConfiguration/configurationStores",
            "properties": {
              "provisionin[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01\u0026$skipToken=configuration8417",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11917"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "5f7ff870-011a-4401-bfda-808f763c980e",
          "a2c20a58-f97a-48f8-bce1-4dd4f3f78243",
          "40d92af6-249e-439c-97b8-59690089738b",
          "5c84d13f-0949-4f66-afa7-fdd5587fa334",
          "8a2a8ba0-2201-456d-b012-bd58e5121427",
          "1f2d87ae-96ba-4ece-9af9-efe7c18c86a8",
          "e00063c8-7ec8-4f29-af7e-1f102840e7bb",
          "3f598d97-90ca-4947-ad22-05072c192f41",
          "a3b1a17e-5f84-43c4-ba78-c4342179d772",
          "80586175-02df-464b-ba0e-b182ab568141[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01\u0026%24skiptoken=1ZhRb5swFIX%2fC5r2VAdCl7FFqiYvZVq2jEQQNGlvxtwkDoqNbJymqfrfZxNE%2bxeueEIIyKdzzz0nvAQSLt1KyMYE85fgb1psF2m2zemqLIJ5cOi61szD8MQk28MJZDdhV6thwtUpNLYyXIu2E0qaMEnqGauizySBuiafADipOHwls5hPp1Uyq6r7JGy1OosatAn%2fCK6VUbtuQtt2oeRO7K1m%2flEhf39WdEqD%2bcZaQc7uPnf9IY7iiLgXRdOPH0wj2q1qQD5c7MVOg7sA6c9%2fFkfBDsP[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417?api-version=2020-06-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "tags": {
          "category": "Marketing"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220f008e09-0000-0700-0000-5f5a68080000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2020[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/providers/Microsoft.AppConfiguration/checkNameAvailability?api-version=2020-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "contoso",
        "type": "Microsoft.AppConfiguration/configurationStores"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11914"
      },
      "ResponseBody": {
        "nameAvailable": false,
        "message": "The specified name is already in use.",
        "reason": "AlreadyExists"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417?api-version=2020-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14994"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "792674776",
    "SUBSCRIPTION_ID": "77d5ab06-7edd-4eec-bce9-52c11b75bb37"
  }
}