{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/Default-AppConfiguration-3510?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-3510",
        "name": "Default-AppConfiguration-3510",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-3510/providers/Microsoft.AppConfiguration/configurationStores/configuration1102?api-version=2019-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/1ad266cd-859d-9e5d-6207-39b7d42c6c12?api-version=2019-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "properties": {
          "provisioningState": "Creating",
          "creationDate": "2020-07-29T09:13:42.7530098\u002B00:00",
          "endpoint": null,
          "encryption": null,
          "privateEndpointConnections": null
        },
        "sku": null,
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-3510/providers/Microsoft.AppConfiguration/configurationStores/configuration1102",
        "name": "configuration1102",
        "location": "westus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/1ad266cd-859d-9e5d-6207-39b7d42c6c12?api-version=2019-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/1ad266cd-859d-9e5d-6207-39b7d42c6c12?api-version=2019-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11888"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/1ad266cd-859d-9e5d-6207-39b7d42c6c12",
        "name": "1ad266cd-859d-9e5d-6207-39b7d42c6c12",
        "status": "Creating",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-3510/providers/Microsoft.AppConfiguration/configurationStores/configuration1102?api-version=2019-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00221800ae43-0000-0700-0000-5f213dcc0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11883"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2020-07-29T09:13:48\u002B00:00",
          "endpoint": "https://configuration1102.azconfig.io",
          "encryption": {
            "keyVaultProperties": null
          },
          "privateEndpointConnections": null
        },
        "sku": {
          "name": "standard"
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/default-appconfiguration-3510/providers/Microsoft.AppConfiguration/configurationStores/configuration1102",
        "name": "configuration1102",
        "location": "westus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-3510/providers/Microsoft.AppConfiguration/configurationStores/configuration1102/ListKeys?api-version=2019-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "0/yf-l1-s0:YEiaBQJBVBvi8wv0GzWn",
            "name": "Primary",
            "value": "83JNAIL7yv0eFXhlknLnHkR8rKnyV5wVdx1q4JP/x1Q=",
            "connectionString": "Endpoint=https://configuration1102.azconfig.io;Id=0/yf-l1-s0:YEiaBQJBVBvi8wv0GzWn;Secret=83JNAIL7yv0eFXhlknLnHkR8rKnyV5wVdx1q4JP/x1Q=",
            "lastModified": "2020-07-29T09:13:42\u002B00:00",
            "readOnly": false
          },
          {
            "id": "n08q-l1-s0:m/V7mVuEfzjONZnKR37i",
            "name": "Secondary",
            "value": "hSVUD1R8T3uO6Yg3zoiEGoExScb7/tRqjp7yRwfIcn4=",
            "connectionString": "Endpoint=https://configuration1102.azconfig.io;Id=n08q-l1-s0:m/V7mVuEfzjONZnKR37i;Secret=hSVUD1R8T3uO6Yg3zoiEGoExScb7/tRqjp7yRwfIcn4=",
            "lastModified": "2020-07-29T09:13:42\u002B00:00",
            "readOnly": false
          },
          {
            "id": "M/If-l1-s0:aLVWoI9hzIu0\u002BSHUCfkO",
            "name": "Primary Read Only",
            "value": "aKVxzhYsYJ0cCE25bgCvt1Wxmb9pVfsz8LnPwGJEgnc=",
            "connectionString": "Endpoint=https://configuration1102.azconfig.io;Id=M/If-l1-s0:aLVWoI9hzIu0\u002BSHUCfkO;Secret=aKVxzhYsYJ0cCE25bgCvt1Wxmb9pVfsz8LnPwGJEgnc=",
            "lastModified": "2020-07-29T09:13:42\u002B00:00",
            "readOnly": true
          },
          {
            "id": "jPTf-l1-s0:/0rkRxB7jkcOm1pOjfxm",
            "name": "Secondary Read Only",
            "value": "1gnGEa2HS9oDrgtN1RuhCheXW/OnrfSss5jyyIuhJ6U=",
            "connectionString": "Endpoint=https://configuration1102.azconfig.io;Id=jPTf-l1-s0:/0rkRxB7jkcOm1pOjfxm;Secret=1gnGEa2HS9oDrgtN1RuhCheXW/OnrfSss5jyyIuhJ6U=",
            "lastModified": "2020-07-29T09:13:42\u002B00:00",
            "readOnly": true
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-3510/providers/Microsoft.AppConfiguration/configurationStores/configuration1102/RegenerateKey?api-version=2019-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "0/yf-l1-s0:YEiaBQJBVBvi8wv0GzWn"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "kSOH-l1-s0:wRyYpiZLAnDwCq7QWz8U",
        "name": "Primary",
        "value": "EjGsip2oDGocX/DA/peerB23UMGFTEzc7CYyrKO8MJ0=",
        "connectionString": "Endpoint=https://configuration1102.azconfig.io;Id=kSOH-l1-s0:wRyYpiZLAnDwCq7QWz8U;Secret=EjGsip2oDGocX/DA/peerB23UMGFTEzc7CYyrKO8MJ0=",
        "lastModified": "2020-07-29T09:13:50\u002B00:00",
        "readOnly": false
      }
    }
  ],
  "Variables": {
    "RandomSeed": "786846551",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb"
  }
}