{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourcegroups/Default-AppConfiguration-3510?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3510",
        "name": "Default-AppConfiguration-3510",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3510/providers/Microsoft.AppConfiguration/configurationStores/configuration1102?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/05e5da2f-e869-56b2-d8b5-96a1449c9a68?api-version=2020-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "properties": {
          "provisioningState": "Creating",
          "creationDate": "2020-09-10T17:53:39.2134119\u002B00:00",
          "endpoint": null,
          "encryption": null,
          "privateEndpointConnections": null
        },
        "sku": null,
        "id": "/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3510/providers/Microsoft.AppConfiguration/configurationStores/configuration1102",
        "name": "configuration1102",
        "location": "westus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/05e5da2f-e869-56b2-d8b5-96a1449c9a68?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/05e5da2f-e869-56b2-d8b5-96a1449c9a68?api-version=2020-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11896"
      },
      "ResponseBody": {
        "id": "/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/05e5da2f-e869-56b2-d8b5-96a1449c9a68",
        "name": "05e5da2f-e869-56b2-d8b5-96a1449c9a68",
        "status": "Creating",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3510/providers/Microsoft.AppConfiguration/configurationStores/configuration1102?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002230000cff-0000-0700-0000-5f5a68240000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11894"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2020-09-10T17:53:40\u002B00:00",
          "endpoint": "https://configuration1102.azconfig.io",
          "encryption": {
            "keyVaultProperties": null
          },
          "privateEndpointConnections": null
        },
        "sku": {
          "name": "standard"
        },
        "id": "/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/default-appconfiguration-3510/providers/Microsoft.AppConfiguration/configurationStores/configuration1102",
        "name": "configuration1102",
        "location": "westus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3510/providers/Microsoft.AppConfiguration/configurationStores/configuration1102/ListKeys?api-version=2020-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "SAPg-l1-s0:yDekfS48hmKHM7o7n4aN",
            "name": "Primary",
            "value": "cuWu3XiDCmENWFF6b1h0OyUlOtOoK6jgSiaCmgUFPJk=",
            "connectionString": "Endpoint=https://configuration1102.azconfig.io;Id=SAPg-l1-s0:yDekfS48hmKHM7o7n4aN;Secret=cuWu3XiDCmENWFF6b1h0OyUlOtOoK6jgSiaCmgUFPJk=",
            "lastModified": "2020-09-10T17:53:39\u002B00:00",
            "readOnly": false
          },
          {
            "id": "oF5x-l1-s0:JUSS2RrP\u002By2aE/ffPJxZ",
            "name": "Secondary",
            "value": "z6PQix4uMrDJOtnsXdR6vGDvAsaY7ysQUFlIkf9Czl0=",
            "connectionString": "Endpoint=https://configuration1102.azconfig.io;Id=oF5x-l1-s0:JUSS2RrP\u002By2aE/ffPJxZ;Secret=z6PQix4uMrDJOtnsXdR6vGDvAsaY7ysQUFlIkf9Czl0=",
            "lastModified": "2020-09-10T17:53:39\u002B00:00",
            "readOnly": false
          },
          {
            "id": "SeY1-l1-s0:jaEoe8/05kV80CWo65zY",
            "name": "Primary Read Only",
            "value": "2JkDFXo/lPW8KN2/bT9LDs5iwp4Xwvj0PJBXuSvPMCg=",
            "connectionString": "Endpoint=https://configuration1102.azconfig.io;Id=SeY1-l1-s0:jaEoe8/05kV80CWo65zY;Secret=2JkDFXo/lPW8KN2/bT9LDs5iwp4Xwvj0PJBXuSvPMCg=",
            "lastModified": "2020-09-10T17:53:39\u002B00:00",
            "readOnly": true
          },
          {
            "id": "K0j9-l1-s0:UX1piSuqGH\u002Bu7PkhLhQr",
            "name": "Secondary Read Only",
            "value": "TQa5bODiygxSR2sSntkPBL9G8sxAfDJ\u002BNrtPXHu5WX8=",
            "connectionString": "Endpoint=https://configuration1102.azconfig.io;Id=K0j9-l1-s0:UX1piSuqGH\u002Bu7PkhLhQr;Secret=TQa5bODiygxSR2sSntkPBL9G8sxAfDJ\u002BNrtPXHu5WX8=",
            "lastModified": "2020-09-10T17:53:39\u002B00:00",
            "readOnly": true
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/Default-AppConfiguration-3510/providers/Microsoft.AppConfiguration/configurationStores/configuration1102/RegenerateKey?api-version=2020-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "SAPg-l1-s0:yDekfS48hmKHM7o7n4aN"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "j4U8-l1-s0:pm\u002BsRRykNO4QOJt4wg1c",
        "name": "Primary",
        "value": "XUAgujBAeYC/Cz55Y6fXbXNhp02dbuDOPY5VoTs7nSo=",
        "connectionString": "Endpoint=https://configuration1102.azconfig.io;Id=j4U8-l1-s0:pm\u002BsRRykNO4QOJt4wg1c;Secret=XUAgujBAeYC/Cz55Y6fXbXNhp02dbuDOPY5VoTs7nSo=",
        "lastModified": "2020-09-10T17:53:41\u002B00:00",
        "readOnly": false
      }
    }
  ],
  "Variables": {
    "RandomSeed": "786846551",
    "SUBSCRIPTION_ID": "77d5ab06-7edd-4eec-bce9-52c11b75bb37"
  }
}