{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/Default-EventHub-3510?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-3510",
        "name": "Default-EventHub-3510",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-3510/providers/Microsoft.AppConfiguration/configurationStores/configuration1102?api-version=2019-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/93c8ac9e-6bb3-12cb-26a4-5b7ba8ca3bef?api-version=2019-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "properties": {
          "provisioningState": "Creating",
          "creationDate": "2020-06-16T11:36:52.8485064\u002B00:00",
          "endpoint": null,
          "encryption": null,
          "privateEndpointConnections": null
        },
        "sku": null,
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-3510/providers/Microsoft.AppConfiguration/configurationStores/configuration1102",
        "name": "configuration1102",
        "location": "westus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/93c8ac9e-6bb3-12cb-26a4-5b7ba8ca3bef?api-version=2019-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/93c8ac9e-6bb3-12cb-26a4-5b7ba8ca3bef?api-version=2019-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/93c8ac9e-6bb3-12cb-26a4-5b7ba8ca3bef",
        "name": "93c8ac9e-6bb3-12cb-26a4-5b7ba8ca3bef",
        "status": "Creating",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-3510/providers/Microsoft.AppConfiguration/configurationStores/configuration1102?api-version=2019-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002201006906-0000-0700-0000-5ee8aeda0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2020-06-16T11:36:59\u002B00:00",
          "endpoint": "https://configuration1102.azconfig.io",
          "encryption": {
            "keyVaultProperties": null
          },
          "privateEndpointConnections": null
        },
        "sku": {
          "name": "standard"
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/default-eventhub-3510/providers/Microsoft.AppConfiguration/configurationStores/configuration1102",
        "name": "configuration1102",
        "location": "westus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-3510/providers/Microsoft.AppConfiguration/configurationStores/configuration1102/ListKeys?api-version=2019-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "OoYR-l1-s0:nqq/Rjl3bAdWH2S2iRqO",
            "name": "Primary",
            "value": "Ltsxsk2\u002Br5y8oVxbcHdkB7tR5/8SOdIlAQJPCRiLvk4=",
            "connectionString": "Endpoint=https://configuration1102.azconfig.io;Id=OoYR-l1-s0:nqq/Rjl3bAdWH2S2iRqO;Secret=Ltsxsk2\u002Br5y8oVxbcHdkB7tR5/8SOdIlAQJPCRiLvk4=",
            "lastModified": "2020-06-16T11:36:53\u002B00:00",
            "readOnly": false
          },
          {
            "id": "r3VB-l1-s0:CSf5EU3dwiuxq\u002BBDYSbw",
            "name": "Secondary",
            "value": "bMHA8yavlgtcJZE5R/8\u002BvpEkwtM1LIU8a48cajsMg6Y=",
            "connectionString": "Endpoint=https://configuration1102.azconfig.io;Id=r3VB-l1-s0:CSf5EU3dwiuxq\u002BBDYSbw;Secret=bMHA8yavlgtcJZE5R/8\u002BvpEkwtM1LIU8a48cajsMg6Y=",
            "lastModified": "2020-06-16T11:36:53\u002B00:00",
            "readOnly": false
          },
          {
            "id": "Nbsi-l1-s0:XikL8xXfegTXCDntzf0P",
            "name": "Primary Read Only",
            "value": "WdpjgrIinWv36IKbXmgHCBQeNcE6ukIVjIT2gVpWO3I=",
            "connectionString": "Endpoint=https://configuration1102.azconfig.io;Id=Nbsi-l1-s0:XikL8xXfegTXCDntzf0P;Secret=WdpjgrIinWv36IKbXmgHCBQeNcE6ukIVjIT2gVpWO3I=",
            "lastModified": "2020-06-16T11:36:53\u002B00:00",
            "readOnly": true
          },
          {
            "id": "wOH9-l1-s0:9Tu0NuGib/xtsT\u002BiGnaq",
            "name": "Secondary Read Only",
            "value": "fbQxB0tzGx/koW2jHRucPhD6LjU9N0v5hhcJ5av6l24=",
            "connectionString": "Endpoint=https://configuration1102.azconfig.io;Id=wOH9-l1-s0:9Tu0NuGib/xtsT\u002BiGnaq;Secret=fbQxB0tzGx/koW2jHRucPhD6LjU9N0v5hhcJ5av6l24=",
            "lastModified": "2020-06-16T11:36:53\u002B00:00",
            "readOnly": true
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-3510/providers/Microsoft.AppConfiguration/configurationStores/configuration1102/RegenerateKey?api-version=2019-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "OoYR-l1-s0:nqq/Rjl3bAdWH2S2iRqO"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "RHN9-l1-s0:ATZH21rufl7qqGLqpjW3",
        "name": "Primary",
        "value": "c95ySFh4EXyCyvl6DjQ\u002BEwzrcmsVik7jITDJgmoXTco=",
        "connectionString": "Endpoint=https://configuration1102.azconfig.io;Id=RHN9-l1-s0:ATZH21rufl7qqGLqpjW3;Secret=c95ySFh4EXyCyvl6DjQ\u002BEwzrcmsVik7jITDJgmoXTco=",
        "lastModified": "2020-06-16T11:37:00\u002B00:00",
        "readOnly": false
      }
    }
  ],
  "Variables": {
    "RandomSeed": "786846551",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb"
  }
}