{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/Default-AppConfiguration-4397?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-4397",
        "name": "Default-AppConfiguration-4397",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-4397/providers/Microsoft.AppConfiguration/configurationStores/configuration5727?api-version=2019-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/2b4fafad-6d4b-4d93-2a21-c0fcb2a7c46c?api-version=2019-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "properties": {
          "provisioningState": "Creating",
          "creationDate": "2020-07-29T09:10:54.6772553\u002B00:00",
          "endpoint": null,
          "encryption": null,
          "privateEndpointConnections": null
        },
        "sku": null,
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-4397/providers/Microsoft.AppConfiguration/configurationStores/configuration5727",
        "name": "configuration5727",
        "location": "westus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/2b4fafad-6d4b-4d93-2a21-c0fcb2a7c46c?api-version=2019-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/2b4fafad-6d4b-4d93-2a21-c0fcb2a7c46c?api-version=2019-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/2b4fafad-6d4b-4d93-2a21-c0fcb2a7c46c",
        "name": "2b4fafad-6d4b-4d93-2a21-c0fcb2a7c46c",
        "status": "Succeeded",
        "error": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-4397/providers/Microsoft.AppConfiguration/configurationStores/configuration5727?api-version=2019-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00221200dad0-0000-0700-0000-5f213d1f0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2020-07-29T09:10:55\u002B00:00",
          "endpoint": "https://configuration5727.azconfig.io",
          "encryption": {
            "keyVaultProperties": null
          },
          "privateEndpointConnections": null
        },
        "sku": {
          "name": "standard"
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/default-appconfiguration-4397/providers/Microsoft.AppConfiguration/configurationStores/configuration5727",
        "name": "configuration5727",
        "location": "westus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-4397/providers/Microsoft.Network/virtualNetworks/vnetname5788?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "subnetname2406",
              "properties": {
                "addressPrefix": "10.0.0.0/24",
                "privateEndpointNetworkPolicies": "Disabled"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus/operations/576fbd4a-e8ca-4cf1-b9fc-c2d6d628a58e?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022vnetname5788\u0022,\r\[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus/operations/576fbd4a-e8ca-4cf1-b9fc-c2d6d628a58e?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022Succeeded\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-4397/providers/Microsoft.Network/privateEndpoints/endpointxyz3844?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "subnet": {
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-4397/providers/Microsoft.Network/virtualNetworks/vnetname5788/subnets/subnetname2406",
            "properties": {}
          },
          "privateLinkServiceConnections": [
            {
              "name": ",myconnection",
              "properties": {
                "privateLinkServiceId": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/default-appconfiguration-4397/providers/Microsoft.AppConfiguration/configurationStores/configuration5727",
                "groupIds": [
                  "configurationStores"
                ],
                "requestMessage": "Please approve my connection"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus/operations/cafdd210-1e42-4ed4-b6fc-b5fbaad830e3?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-Afte[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-4397/providers/Microsoft.AppConfiguration/configurationStores/configuration5727/privateEndpointConnections/endpointxyz3844.42455548-1aca-4ef9-810a-6dcc8c20d48a?api-version=2019-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/default-appconfiguration-4397/providers/Microsoft.AppConfiguration/configurationStores/configuration5727/privateEndpointConnections/endpointxyz3844.42455548-1aca-4ef9-810a-6dcc8c20d48a",
        "name": "endpointxyz3844.42455548-1aca-4ef9-810a-6dcc8c20d48a",
        "properties": {
          "privateEndpoint": {
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-4397/providers/Microsoft.Network/privateEndpoints/endpointxyz3844"
          },
          "privateLinkServiceConnectionState": {
            "status": "Approved",
            "description": "Auto-Approved"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/0882d257-5bd6-994c-8735-92ae11f9de44?api-version=2019-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {
          "provisioningState": "Updating",
          "privateEndpoint": null,
          "privateLinkServiceConnectionState": {
            "status": "Approved",
            "description": "Auto-Approved"
          }
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/default-appconfiguration-4397/providers/Microsoft.AppConfiguration/configurationStores/configuration5727/privateEndpointConnections/endpointxyz3844.42455548-1aca-4ef9-810a-6dcc8c20d48a",
        "name": "endpointxyz3844.42455548-1aca-4ef9-810a-6dcc8c20d48a",
        "location": null,
        "tags": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-4397/providers/Microsoft.AppConfiguration/configurationStores/configuration5727/privateLinkResources?api-version=2019-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11969"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-4397/providers/Microsoft.AppConfiguration/configurationStores/configuration5727/privateLinkResources/configurationStores",
            "name": "configurationStores",
            "type": "Microsoft.AppConfiguration/configurationStores/privateLinkResources",
            "properties": {
              "groupId": "configurationStores",
              "requiredMembers": [
                "configurationStores"
              ],
              "requiredZoneNames": [
                "privatelink.azconfig.io"
              ]
            }
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-4397/providers/Microsoft.AppConfiguration/configurationStores/configuration5727/privateLinkResources/configurationStores?api-version=2019-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11968"
      },
      "ResponseBody": {
        "id": "subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-4397/providers/Microsoft.AppConfiguration/configurationStores/configuration5727/privateLinkResources/configurationStores",
        "name": "configurationStores",
        "type": "Microsoft.AppConfiguration/configurationStores/privateLinkResources",
        "properties": {
          "groupId": "configurationStores",
          "requiredMembers": [
            "configurationStores"
          ],
          "requiredZoneNames": [
            "privatelink.azconfig.io"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-4397/providers/Microsoft.AppConfiguration/configurationStores/configuration5727/privateEndpointConnections?api-version=2019-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppConfiguration/operations?api-version=2019-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "origin": null,
            "name": "Microsoft.AppConfiguration/operations/read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft App Configuration",
              "resource": "Operation",
              "operation": "List Operations",
              "description": "Lists all of the operations supported by Microsoft App Configuration."
            },
            "properties": null
          },
          {
            "origin": null,
            "name": "Microsoft.AppConfiguration/register/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft App Configuration",
              "resource": "Microsoft App Configuration",
              "operation": "Register for[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-4397/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Link": "\u003C/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-4397/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-11-01-preview\u0026$skipToken=configuration5727\u003E; rel=\u0022next\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11963"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.AppConfiguration/configurationStores",
            "properties": {
              "pro[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-4397/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-11-01-preview\u0026$skipToken=configuration5727",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11962"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-11-01-preview\u0026$skipToken=Default-AppConfiguration-4397",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Link": "[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-11-01-preview\u0026$skipToken=configuration5727",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11960"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-4397/providers/Microsoft.AppConfiguration/configurationStores/configuration5727?api-version=2019-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "tags": {
          "category": "Marketing"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022120006d1-0000-0700-0000-5f213d520000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2020[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/checkNameAvailability?api-version=2019-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "contoso",
        "type": "Microsoft.AppConfiguration/configurationStores"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11959"
      },
      "ResponseBody": {
        "nameAvailable": false,
        "message": "The specified name is already in use.",
        "reason": "AlreadyExists"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-4397/providers/Microsoft.AppConfiguration/configurationStores/configuration5727?api-version=2019-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "480516059",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb"
  }
}