{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/Default-AppConfiguration-3022?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-AppConfiguration-3022",
        "name": "Default-AppConfiguration-3022",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/776e7094-b8b9-cb4d-5f92-a2970737add2?api-version=2020-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "properties": {
          "provisioningState": "Creating",
          "creationDate": "2020-09-22T06:39:12.9068656\u002B00:00",
          "endpoint": null,
          "encryption": null,
          "privateEndpointConnections": null
        },
        "sku": null,
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417",
        "name": "configuration8417",
        "location": "westus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/776e7094-b8b9-cb4d-5f92-a2970737add2?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/776e7094-b8b9-cb4d-5f92-a2970737add2?api-version=2020-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11914"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/776e7094-b8b9-cb4d-5f92-a2970737add2",
        "name": "776e7094-b8b9-cb4d-5f92-a2970737add2",
        "status": "Succeeded",
        "error": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220b00e5eb-0000-0700-0000-5f699c110000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11913"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2020-09-22T06:39:14\u002B00:00",
          "endpoint": "https://configuration8417.azconfig.io",
          "encryption": {
            "keyVaultProperties": null
          },
          "privateEndpointConnections": null
        },
        "sku": {
          "name": "standard"
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/default-appconfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417",
        "name": "configuration8417",
        "location": "westus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.Network/virtualNetworks/vnetname7896?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "subnetname5464",
              "properties": {
                "addressPrefix": "10.0.0.0/24",
                "privateEndpointNetworkPolicies": "Disabled"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/bc17264e-d8f1-4799-9e3f-73f09b2797fc?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022vnetname7896\u0022,\r\[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/bc17264e-d8f1-4799-9e3f-73f09b2797fc?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11912"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022Succeeded\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.Network/privateEndpoints/endpointxyz7486?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "subnet": {
            "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.Network/virtualNetworks/vnetname7896/subnets/subnetname5464",
            "properties": {}
          },
          "privateLinkServiceConnections": [
            {
              "name": "myconnection",
              "properties": {
                "privateLinkServiceId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/default-appconfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417",
                "groupIds": [
                  "configurationStores"
                ],
                "requestMessage": "Please approve my connection"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/85f9f1d0-387f-4949-95d2-054998ddd963?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-Afte[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417/privateEndpointConnections/endpointxyz7486.b551e965-5594-4f39-a600-2022561f7c0f?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "privateEndpoint": {
            "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.Network/privateEndpoints/endpointxyz7486"
          },
          "privateLinkServiceConnectionState": {
            "status": "Approved",
            "description": "Auto-Approved"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/938d138f-7445-eaaa-34b6-0714c2c1c85e?api-version=2020-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {
          "provisioningState": "Updating",
          "privateEndpoint": null,
          "privateLinkServiceConnectionState": {
            "status": "Approved",
            "description": "Auto-Approved"
          }
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/default-appconfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417/privateEndpointConnections/endpointxyz7486.b551e965-5594-4f39-a600-2022561f7c0f",
        "name": "endpointxyz7486.b551e965-5594-4f39-a600-2022561f7c0f",
        "location": null,
        "tags": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417/privateLinkResources?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11896"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417/privateLinkResources/configurationStores",
            "name": "configurationStores",
            "type": "Microsoft.AppConfiguration/configurationStores/privateLinkResources",
            "properties": {
              "groupId": "configurationStores",
              "requiredMembers": [
                "configurationStores"
              ],
              "requiredZoneNames": [
                "privatelink.azconfig.io"
              ]
            }
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417/privateLinkResources/configurationStores?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11895"
      },
      "ResponseBody": {
        "id": "subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417/privateLinkResources/configurationStores",
        "name": "configurationStores",
        "type": "Microsoft.AppConfiguration/configurationStores/privateLinkResources",
        "properties": {
          "groupId": "configurationStores",
          "requiredMembers": [
            "configurationStores"
          ],
          "requiredZoneNames": [
            "privatelink.azconfig.io"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417/privateEndpointConnections?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/jso[...]
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppConfiguration/operations?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "origin": null,
            "name": "Microsoft.AppConfiguration/operations/read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft App Configuration",
              "resource": "Operation",
              "operation": "List Operations",
              "description": "Lists all of the operations supported by Microsoft App Configuration."
            },
            "properties": null
          },
          {
            "origin": null,
            "name": "Microsoft.AppConfiguration/register/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft App Configuration",
              "resource": "Microsoft App Configuration",
              "operation": "Register for[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Link": "\u003C/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01\u0026$skipToken=configuration8417\u003E; rel=\u0022next\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11890"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.AppConfiguration/configurationStores",
            "properties": {
              "provisionin[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01\u0026$skipToken=configuration8417",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11889"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Link": "\u003C/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01\u0026$skipToken=configuration8417",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11887"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417?api-version=2020-06-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "tags": {
          "category": "Marketing"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220b000cec-0000-0700-0000-5f699c2d0000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2020[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.AppConfiguration/checkNameAvailability?api-version=2020-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "contoso",
        "type": "Microsoft.AppConfiguration/configurationStores"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11886"
      },
      "ResponseBody": {
        "nameAvailable": false,
        "message": "The specified name is already in use.",
        "reason": "AlreadyExists"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-AppConfiguration-3022/providers/Microsoft.AppConfiguration/configurationStores/configuration8417?api-version=2020-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14994"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "792674776",
    "SUBSCRIPTION_ID": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}