{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/Default-AppConfiguration-7453?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-7453",
        "name": "Default-AppConfiguration-7453",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-7453/providers/Microsoft.AppConfiguration/configurationStores/configuration4014?api-version=2019-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/b901cc1d-6eae-58f6-b6b9-af4a506ed98f?api-version=2019-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "properties": {
          "provisioningState": "Creating",
          "creationDate": "2020-09-04T07:27:47.2577912\u002B00:00",
          "endpoint": null,
          "encryption": null,
          "privateEndpointConnections": null
        },
        "sku": null,
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-7453/providers/Microsoft.AppConfiguration/configurationStores/configuration4014",
        "name": "configuration4014",
        "location": "westus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/b901cc1d-6eae-58f6-b6b9-af4a506ed98f?api-version=2019-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/b901cc1d-6eae-58f6-b6b9-af4a506ed98f?api-version=2019-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11918"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/b901cc1d-6eae-58f6-b6b9-af4a506ed98f",
        "name": "b901cc1d-6eae-58f6-b6b9-af4a506ed98f",
        "status": "Creating",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-7453/providers/Microsoft.AppConfiguration/configurationStores/configuration4014?api-version=2019-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022c8020982-0000-0700-0000-5f51ec790000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11913"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2020-09-04T07:27:53\u002B00:00",
          "endpoint": "https://configuration4014.azconfig.io",
          "encryption": {
            "keyVaultProperties": null
          },
          "privateEndpointConnections": null
        },
        "sku": {
          "name": "standard"
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/default-appconfiguration-7453/providers/Microsoft.AppConfiguration/configurationStores/configuration4014",
        "name": "configuration4014",
        "location": "westus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-7453/providers/Microsoft.AppConfiguration/configurationStores/configuration4014/ListKeys?api-version=2019-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "ZfOa-l1-s0:hSS5Wg/YI6Z0\u002BGeEhScl",
            "name": "Primary",
            "value": "/aylGu\u002BwADYius1PihIOGw7mBhB42U7uhQZNl40\u002BmOA=",
            "connectionString": "Endpoint=https://configuration4014.azconfig.io;Id=ZfOa-l1-s0:hSS5Wg/YI6Z0\u002BGeEhScl;Secret=/aylGu\u002BwADYius1PihIOGw7mBhB42U7uhQZNl40\u002BmOA=",
            "lastModified": "2020-09-04T07:27:52\u002B00:00",
            "readOnly": false
          },
          {
            "id": "QQwb-l1-s0:E3gShk30Im4mZz53\u002BmjI",
            "name": "Secondary",
            "value": "mXMOj2snL/e3ZQDNVwnmZbPlk2XEi/Jcb1FO3SwHepc=",
            "connectionString": "Endpoint=https://configuration4014.azconfig.io;Id=QQwb-l1-s0:E3gShk30Im4mZz53\u002BmjI;Secret=mXMOj2snL/e3ZQDNVwnmZbPlk2XEi/Jcb1FO3SwHepc=",
            "lastModified": "2020-09-04T07:27:52\u002B00:00",
            "readOnly": false
          },
          {
            "id": "L9ar-l1-s0:AR6ZdYJHxvCwKnIg12T2",
            "name": "Primary Read Only",
            "value": "LQJFO5LNJ4b7XwPsgiMHA/yC7zKKqAXG3xkAZKawQ7w=",
            "connectionString": "Endpoint=https://configuration4014.azconfig.io;Id=L9ar-l1-s0:AR6ZdYJHxvCwKnIg12T2;Secret=LQJFO5LNJ4b7XwPsgiMHA/yC7zKKqAXG3xkAZKawQ7w=",
            "lastModified": "2020-09-04T07:27:52\u002B00:00",
            "readOnly": true
          },
          {
            "id": "QLVA-l1-s0:TPpM9a2Gz\u002BlGlTDJBbWa",
            "name": "Secondary Read Only",
            "value": "Xvcz81eP\u002BNTIDS9BuvBRkW3HqNLmUjOJC/Kr2LYHd3Q=",
            "connectionString": "Endpoint=https://configuration4014.azconfig.io;Id=QLVA-l1-s0:TPpM9a2Gz\u002BlGlTDJBbWa;Secret=Xvcz81eP\u002BNTIDS9BuvBRkW3HqNLmUjOJC/Kr2LYHd3Q=",
            "lastModified": "2020-09-04T07:27:52\u002B00:00",
            "readOnly": true
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-AppConfiguration-7453/providers/Microsoft.AppConfiguration/configurationStores/configuration4014/RegenerateKey?api-version=2019-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "ZfOa-l1-s0:hSS5Wg/YI6Z0\u002BGeEhScl"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "Ieyx-l1-s0:mHA96PE61IDPJ2aWVwdU",
        "name": "Primary",
        "value": "i\u002BT6ECHhsonSbngMuoPk7h6dlyZRN8pgyEYumHlndl8=",
        "connectionString": "Endpoint=https://configuration4014.azconfig.io;Id=Ieyx-l1-s0:mHA96PE61IDPJ2aWVwdU;Secret=i\u002BT6ECHhsonSbngMuoPk7h6dlyZRN8pgyEYumHlndl8=",
        "lastModified": "2020-09-04T07:27:54\u002B00:00",
        "readOnly": false
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1633317117",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb"
  }
}