{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/Default-EventHub-9840?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9840",
        "name": "Default-EventHub-9840",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9840/providers/Microsoft.AppConfiguration/configurationStores/configuration7101?api-version=2019-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/dc57504a-e241-ae9b-be01-b8c7a1a6a2c9?api-version=2019-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "properties": {
          "provisioningState": "Creating",
          "creationDate": "2020-06-16T11:35:45.3688324\u002B00:00",
          "endpoint": null,
          "encryption": null,
          "privateEndpointConnections": null
        },
        "sku": null,
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9840/providers/Microsoft.AppConfiguration/configurationStores/configuration7101",
        "name": "configuration7101",
        "location": "westus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/dc57504a-e241-ae9b-be01-b8c7a1a6a2c9?api-version=2019-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/dc57504a-e241-ae9b-be01-b8c7a1a6a2c9?api-version=2019-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/dc57504a-e241-ae9b-be01-b8c7a1a6a2c9",
        "name": "dc57504a-e241-ae9b-be01-b8c7a1a6a2c9",
        "status": "Succeeded",
        "error": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9840/providers/Microsoft.AppConfiguration/configurationStores/configuration7101?api-version=2019-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002200000f0e-0000-0700-0000-5ee8ae920000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2020-06-16T11:35:46\u002B00:00",
          "endpoint": "https://configuration7101.azconfig.io",
          "encryption": {
            "keyVaultProperties": null
          },
          "privateEndpointConnections": null
        },
        "sku": {
          "name": "standard"
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/default-eventhub-9840/providers/Microsoft.AppConfiguration/configurationStores/configuration7101",
        "name": "configuration7101",
        "location": "westus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9840/providers/Microsoft.AppConfiguration/configurationStores/configuration7101/ListKeys?api-version=2019-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/Z1B-l1-s0:uTPaNRDpODdMDqqtinZX",
            "name": "Primary",
            "value": "uKdE\u002B2/iQq0eBn0/fUUb4yYXpX12C5OFcVAhCDCXFxE=",
            "connectionString": "Endpoint=https://configuration7101.azconfig.io;Id=/Z1B-l1-s0:uTPaNRDpODdMDqqtinZX;Secret=uKdE\u002B2/iQq0eBn0/fUUb4yYXpX12C5OFcVAhCDCXFxE=",
            "lastModified": "2020-06-16T11:35:45\u002B00:00",
            "readOnly": false
          },
          {
            "id": "f7cQ-l1-s0:INJFLSsb5dHJTdP1\u002BHck",
            "name": "Secondary",
            "value": "rKtgOEEdLU\u002BpMhtFr34VUFL2Mpv0FXCRmPykQtPeqQg=",
            "connectionString": "Endpoint=https://configuration7101.azconfig.io;Id=f7cQ-l1-s0:INJFLSsb5dHJTdP1\u002BHck;Secret=rKtgOEEdLU\u002BpMhtFr34VUFL2Mpv0FXCRmPykQtPeqQg=",
            "lastModified": "2020-06-16T11:35:45\u002B00:00",
            "readOnly": false
          },
          {
            "id": "uXMp-l1-s0:G73olBQeGiAr\u002B/\u002BpbsQw",
            "name": "Primary Read Only",
            "value": "BIo\u002B\u002Bx9kK/CksdKXuLimLc8mrXTlBGjqqBMzkbSOYy0=",
            "connectionString": "Endpoint=https://configuration7101.azconfig.io;Id=uXMp-l1-s0:G73olBQeGiAr\u002B/\u002BpbsQw;Secret=BIo\u002B\u002Bx9kK/CksdKXuLimLc8mrXTlBGjqqBMzkbSOYy0=",
            "lastModified": "2020-06-16T11:35:45\u002B00:00",
            "readOnly": true
          },
          {
            "id": "wwLO-l1-s0:bICCezI0dKMmqsUnOWm4",
            "name": "Secondary Read Only",
            "value": "/Gv9NzI0R5Mar9jj7ryUBw10iJBrQcJVVzbAkeLaf0M=",
            "connectionString": "Endpoint=https://configuration7101.azconfig.io;Id=wwLO-l1-s0:bICCezI0dKMmqsUnOWm4;Secret=/Gv9NzI0R5Mar9jj7ryUBw10iJBrQcJVVzbAkeLaf0M=",
            "lastModified": "2020-06-16T11:35:45\u002B00:00",
            "readOnly": true
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9840/providers/Microsoft.AppConfiguration/configurationStores/configuration7101/RegenerateKey?api-version=2019-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "/Z1B-l1-s0:uTPaNRDpODdMDqqtinZX"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "vlvy-l1-s0:wTiEPw54AIZpZ7cfgGDO",
        "name": "Primary",
        "value": "p4zdOhOiV6U\u002Bl/Okk8g8Z/DSW8/37gMJe/EZwdm7VVU=",
        "connectionString": "Endpoint=https://configuration7101.azconfig.io;Id=vlvy-l1-s0:wTiEPw54AIZpZ7cfgGDO;Secret=p4zdOhOiV6U\u002Bl/Okk8g8Z/DSW8/37gMJe/EZwdm7VVU=",
        "lastModified": "2020-06-16T11:35:48\u002B00:00",
        "readOnly": false
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1509312020",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb"
  }
}