{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2022-01-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": "{\u0022modelId\u0022:\u00222113614243\u0022,\u0022description\u0022:\u0022This is a test model.\u0022,\u0022buildMode\u0022:\u0022template\u0022,\u0022azureBlobSource\u0022:{\u0022containerUrl\u0022:\u0022Sanitized\u0022},\u0022tags\u0022:{\u0022ordinary tag\u0022:\u0022an ordinary tag\u0022,\u0022crazy tag\u0022:\u0022a CRAZY tag 123!@#$%^\u0026*()[]{}\\\\/?.,\u003C\u003E\u0022}}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31522673961_ebe1e85c-7780-4897-851f-c540836e9d80?api-version=2022-01-30-preview"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31522673961_ebe1e85c-7780-4897-851f-c540836e9d80?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022operationId\u0022: \u002231522673961_ebe1e85c-7780-4897-851f-c540836e9d80\u0022,\n",
        "  \u0022kind\u0022: \u0022documentModelBuild\u0022,\n",
        "  \u0022status\u0022: \u0022running\u0022,\n",
        "  \u0022createdDateTime\u0022: \u00222022-02-01T05:40:39Z\u0022,\n",
        "  \u0022lastUpdatedDateTime\u0022: \u00222022-02-01T05:40:41Z\u0022,\n",
        "  \u0022resourceLocation\u0022: \u0022https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/2113614243?api-version=2022-01-30-preview\u0022,\n",
        "  \u0022tags\u0022: {\n",
        "    \u0022ordinary tag\u0022: \u0022an ordinary tag\u0022,\n",
        "    \u0022crazy tag\u0022: \u0022a CRAZY tag 123!@#$%^\\u0026*()[]{}\\\\/?.,\\u003C\\u003E\u0022\n",
        "  }\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/2113614243?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022docTypes\u0022: {\n",
 [...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022value\u0022: [\n",
        "    {\[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels?api-version=2022-01-30-preview\u0026nextLink=2!204!MDAwMTA4IXN1YnNjcmlwdGlvbnMvNTE3OTk2NzEzMjkxNGZmNWE5ZGEzMjBhNjFmOTA5M2IvbW9kZWxzLzZmZDVhMTAwLTZmYjctNDk4YS05OGJmLWEwZWYyZWE1ZDBjMC91c2VMYWJlbEZpbGUuanNvbiEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "Requ[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels?api-version=2022-01-30-preview\u0026nextLink=2!232!MDAwMTMwIXN1YnNjcmlwdGlvbnMvNTE3OTk2NzEzMjkxNGZmNWE5ZGEzMjBhNjFmOTA5M2IvbW9kZWxzL2Y3NDNjNTE4LTlhYzItNDUxZC1iZmIyLTA1MDRmNmMyNWZlMS9mNzQzYzUxOC05YWMyLTQ1MWQtYmZiMi0wNTA0ZjZjMjVmZTEuZ3ohMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVoh",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "San[...]
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/2113614243?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022error\u0022: {\n",
        "    \u0022code\u0022: \u0022NotFound\u0022,\n",
        "    \u0022message\u0022: \u0022Resource not found.\u0022,\n",
        "    \u0022innererror\u0022: {\n",
        "      \u0022code\u0022: \u0022ModelNotFound\u0022,\n",
        "      \u0022message\u0022: \u0022The requested model was not found.\u0022\n",
        "    }\n",
        "  }\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com",
    "RandomSeed": "1936962394"
  }
}