{
  "Entries": [
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "972501450",
        "description": "This is a test model.",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        },
        "tags": {
          "ordinary tag": "an ordinary tag",
          "crazy tag": "a CRAZY tag 123!@#$%^\u0026*()[]{}\\/?.,\u003C\u003E"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/operations/31488204340_bdb57fef-1be9-41fa-bfef-8c68bac93d66?api-version=2023-02-28-preview",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/operations/31488204340_bdb57fef-1be9-41fa-bfef-8c68bac93d66?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": {
        "operationId": "31488204340_bdb57fef-1be9-41fa-bfef-8c68bac93d66",
        "kind": "documentModelBuild",
        "status": "notStarted",
        "createdDateTime": "2023-03-07T04:34:19Z",
        "lastUpdatedDateTime": "2023-03-07T04:34:19Z",
        "resourceLocation": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/972501450?api-version=2023-02-28-preview",
        "tags": {
          "ordinary tag": "an ordinary tag",
          "crazy tag": "a CRAZY tag 123!@#$%^\u0026*()[]{}\\/?.,\u003C\u003E"
        }
      }
    },
[...]
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/operations/31488204340_bdb57fef-1be9-41fa-bfef-8c68bac93d66?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": {
        "operationId": "31488204340_bdb57fef-1be9-41fa-bfef-8c68bac93d66",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-03-07T04:34:19Z",
        "lastUpdatedDateTime": "2023-03-07T04:34:27Z",
        "resourceLocation": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/972501450?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "972501450": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "972501450",
          "createdDateTime": "2023-03-07T04:34:27Z",
          "expirationDateTime": "2025-03-06T04:34:27Z",
          "apiVersion": "2023-02-28-preview",
          "description": "This is a test model.",
          "tags": {
            "ordinary tag": "an ordinary tag",
            "crazy tag": "a CRAZY tag 123!@#$%^\u0026*()[]{}\\/?.,\u003C\u003E"
          }
        },
        "tags": {
          "ordinary tag": "an ordinary tag",
          "crazy tag": "a CRAZY tag 123!@#$%^\u0026*()[]{}\\/?.,\u003C\u003E"
        }
      }
    },
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/972501450?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": {
        "docTypes": {
[...]
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": {
        "value": [
          {
            "modelId": "prebuilt-businessCard",
            "createdDateTime": "2023-02-28T00:00:00Z",
            "apiVersion": "2023-02-28-preview",
            "description": "Extract key information from business cards."
          },
          {
            "modelId": "prebuilt-document",
            "createdDateTime": "2023-02-28T00:00:00Z",
            "apiVersion": "2023-02-28-preview",
            "description": "Extract text, layout, entities, and general key-value pairs [...]
[...]
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/972501450?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Resource not found.",
          "innererror": {
            "code": "ModelNotFound",
            "message": "The requested model was not found."
          }
        }
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/",
    "RandomSeed": "1409052197"
  }
}
