{
  "Entries": [
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "592226846",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/operations/31488216603_84a816a1-7308-44e2-82ad-0b3e53b0da62?api-version=2023-02-28-preview",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/operations/31488216603_84a816a1-7308-44e2-82ad-0b3e53b0da62?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": {
        "operationId": "31488216603_84a816a1-7308-44e2-82ad-0b3e53b0da62",
        "kind": "documentModelBuild",
        "status": "notStarted",
        "createdDateTime": "2023-03-07T01:09:56Z",
        "lastUpdatedDateTime": "2023-03-07T01:09:56Z",
        "resourceLocation": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/592226846?api-version=2023-02-28-preview"
      }
    },
    {
      "RequestUri": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/operations/31488216603_84a816a1-7308-44e2-82ad-0b3e53b0da62?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": {
        "operationId": "31488216603_84a816a1-7308-44e2-82ad-0b3e53b0da62",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-03-07T01:09:56Z",
        "lastUpdatedDateTime": "2023-03-07T01:10:01Z",
        "resourceLocation": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/592226846?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "592226846": {
              "fieldSchema": {
                "Gold": {
                  "type": "string"
                },
                "Silver": {
                  "type": "string"
                },
                "Bronze": {
                  "type": "string"
                },
                "Full": {
                  "type": "string"
                },
                "Half": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "Contact": {
                  "type": "string"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "Bronze": 0.995,
                "CompanyName": 0.8,
                "Contact": 0.995,
                "Full": 0.995,
                "Gold": 0.995,
                "Half": 0.995,
                "Silver": 0.995
              }
            }
          },
          "modelId": "592226846",
          "createdDateTime": "2023-03-07T01:10:01Z",
          "expirationDateTime": "2025-03-06T01:10:01Z",
          "apiVersion": "2023-02-28-preview"
        }
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://jrathor-fr-weu1.ppe.cognitiveservices.azure.com/",
    "FORM_RECOGNIZER_MULTIPAGE_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "RandomSeed": "802218417"
  }
}
