{
  "Entries": [
    {
      "RequestUri": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2022-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "1611797200",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/operations/31513284831_546ff0aa-c79e-4977-99f8-3a1f9666a41a?api-version=2022-06-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/operations/31513284831_546ff0aa-c79e-4977-99f8-3a1f9666a41a?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31513284831_546ff0aa-c79e-4977-99f8-3a1f9666a41a",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2022-05-20T21:46:09Z",
        "lastUpdatedDateTime": "2022-05-20T21:46:13Z",
        "resourceLocation": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/1611797200?api-version=2022-06-30-preview"
      }
    },
    {
      "RequestUri": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/operations/31513284831_546ff0aa-c79e-4977-99f8-3a1f9666a41a?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31513284831_546ff0aa-c79e-4977-99f8-3a1f9666a41a",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2022-05-20T21:46:09Z",
        "lastUpdatedDateTime": "2022-05-20T21:46:14Z",
        "resourceLocation": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/formrecognizer/documentModels/1611797200?api-version=2022-06-30-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "1611797200": {
              "fieldSchema": {
                "Gold": {
                  "type": "string"
                },
                "Silver": {
                  "type": "string"
                },
                "Bronze": {
                  "type": "string"
                },
                "Full": {
                  "type": "string"
                },
                "Half": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "Contact": {
                  "type": "string"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "Bronze": 0.995,
                "CompanyName": 0.8,
                "Contact": 0.995,
                "Full": 0.995,
                "Gold": 0.995,
                "Half": 0.995,
                "Silver": 0.995
              }
            }
          },
          "modelId": "1611797200",
          "createdDateTime": "2022-05-20T21:46:14Z",
          "apiVersion": "2022-06-30-preview"
        }
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://formrecognizersdk.ppe.cognitiveservices.azure.com/",
    "FORM_RECOGNIZER_MULTIPAGE_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "RandomSeed": "221186066"
  }
}
