{
  "Entries": [
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "802720052",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/operations/31534183809_ec0d2803-4316-49e9-b0cc-3f8e221c1cde?api-version=2021-09-30-preview"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/operations/31534183809_ec0d2803-4316-49e9-b0cc-3f8e221c1cde?api-version=2021-09-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022operationId\u0022: \u002231534183809_ec0d2803-4316-49e9-b0cc-3f8e221c1cde\u0022,\n",
        "  \u0022kind\u0022: \u0022documentModelBuild\u0022,\n",
        "  \u0022status\u0022: \u0022notStarted\u0022,\n",
        "  \u0022createdDateTime\u0022: \u00222021-09-21T00:29:50Z\u0022,\n",
        "  \u0022lastUpdatedDateTime\u0022: \u00222021-09-21T00:29:50Z\u0022,\n",
        "  \u0022resourceLocation\u0022: \u0022https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels/802720052?api-version=2021-09-30-preview\u0022\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels:authorizeCopy?api-version=2021-09-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "1145705635"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/mariari-group/providers/Microsoft.CognitiveServices/accounts/mariari-centraluseuap",
        "targetResourceRegion": "centraluseuap",
        "targetModelId": "1145705635",
        "targetModelLocation": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels/1145705635?api-version=2021-09-30-preview",
        "accessToken": "Sanitized",
        "expirationDateTime": "2021-09-21T01:29:55Z"
      }
    },
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels/802720052:copyTo?api-version=2021-09-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/mariari-group/providers/Microsoft.CognitiveServices/accounts/mariari-centraluseuap",
        "targetResourceRegion": "centraluseuap",
        "targetModelId": "1145705635",
        "targetModelLocation": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels/1145705635?api-version=2021-09-30-preview",
        "accessToken": "Sanitized",
        "expirationDateTime": "2021-09-21T01:29:55.0000000Z"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/operations/31534183804_15056463-0cb5-4ba7-b24b-f2f572acda41?api-version=2021-09-30-preview"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels/802720052?api-version=2021-09-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-centraluseuap.cognitiveservices.azure.com/",
    "RandomSeed": "1939083385"
  }
}