{
  "Entries": [
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "1978306981",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/operations/31532039578_4313181b-cdc9-453e-aaa1-d25740314e0a?api-version=2021-09-30-preview"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/operations/31532039578_4313181b-cdc9-453e-aaa1-d25740314e0a?api-version=2021-09-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022operationId\u0022: \u002231532039578_4313181b-cdc9-453e-aaa1-d25740314e0a\u0022,\n",
        "  \u0022kind\u0022: \u0022documentModelBuild\u0022,\n",
        "  \u0022status\u0022: \u0022running\u0022,\n",
        "  \u0022createdDateTime\u0022: \u00222021-10-15T20:07:01Z\u0022,\n",
        "  \u0022lastUpdatedDateTime\u0022: \u00222021-10-15T20:07:04Z\u0022,\n",
        "  \u0022resourceLocation\u0022: \u0022https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels/1978306981?api-version=2021-09-30-preview\u0022\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/operations?api-version=2021-09-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022value\u0022: [\n",
        "    {\n",
        "      \u0022operationId\u0022: \u002231532039578_4313181b-cdc9-453e-aaa1-d25740314e0a\u0022,\n",
        "      \u0022kind\u0022: \u0022documentModelBuild\u0022,\n",
        "      \u0022status\u0022: \u0022succeeded\u0022,\n",
        "      \u0022createdDateTime\u0022: \u00222021-10-15T20:07:01Z\u0022,\n",
        "      \u0022lastUpdatedDateTime\u0022: \u00222021-10-15T20:07:06Z\u0022,\n",
        "      \u0022resourceLocation\u0022: \u0022https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels/1978306981?api-version=2021-09-30-preview\u0022,\n",
        "      \u0022percentCompleted\u0022: 100\n",
        "    }\n",
        "  ]\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels/1978306981?api-version=2021-09-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-centraluseuap.cognitiveservices.azure.com/",
    "RandomSeed": "113647558"
  }
}