{
  "Entries": [
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/operations/0000000000000000?api-version=2021-09-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022error\u0022: {\n",
        "    \u0022code\u0022: \u0022NotFound\u0022,\n",
        "    \u0022message\u0022: \u0022Resource not found.\u0022,\n",
        "    \u0022innererror\u0022: {\n",
        "      \u0022code\u0022: \u0022OperationNotFound\u0022,\n",
        "      \u0022message\u0022: \u0022The requested operation was not found. The identifier may be invalid or the operation may have expired.\u0022\n",
        "    }\n",
        "  }\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-centraluseuap.cognitiveservices.azure.com/",
    "RandomSeed": "1466190704"
  }
}