{
  "Entries": [
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt?api-version=2021-09-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022docTypes\u0022: {\n",
        "    \u0022prebuilt:receipt\u0022: {\n",
        "      \u0022fieldSchema\u0022: {\n",
        "        \u0022ReceiptType\u0022: {\n",
        "          \u0022type\u0022: \u0022string\u0022\n",
        "        },\n",
        "        \u0022Locale\u0022: {\n",
        "          \u0022type\u0022: \u0022string\u0022\n",
        "        },\n",
        "        \u0022MerchantName\u0022: {\n",
        "          \u0022type\u0022: \u0[...]
