{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-businessCard?api-version=2022-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "docTypes": {
          "businessCard": {
            "fieldSchema": {
              "ContactNames": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "FirstName": {
                      "type": "string",
                      "description": "First (given) name of contact",
                      "example": "Chris"
                    },
                    "LastName": {
                      "type": "string",
                      "description": "Last (family) name of contact",
                      "example": "Smith"
                    }
                  },
                  "description": "Contact name",
                  "example": "Chris Smith"
                }
              },
              "CompanyNames": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Company name",
                  "example": "CONTOSO"
                }
              },
              "JobTitles": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Job title",
                  "example": "Senior Researcher"
                }
              },
              "Departments": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Department or organization",
                  "example": "Cloud \u0026 AI Department"
                }
              },
              "Addresses": {
                "type": "array",
                "items": {
                  "type": "address",
                  "description": "Address",
                  "example": "4001 1st Ave NE Redmond, WA 98052"
                }
              },
              "WorkPhones": {
                "type": "array",
                "items": {
                  "type": "phoneNumber",
                  "description": "Work phone number",
                  "example": "\u002B1 (987) 213-5674"
                }
              },
              "MobilePhones": {
                "type": "array",
                "items": {
                  "type": "phoneNumber",
                  "description": "Mobile phone number",
                  "example": "\u002B1 (987) 123-4567"
                }
              },
              "Faxes": {
                "type": "array",
                "items": {
                  "type": "phoneNumber",
                  "description": "Fax number",
                  "example": "\u002B1 (987) 312-6745"
                }
              },
              "OtherPhones": {
                "type": "array",
                "items": {
                  "type": "phoneNumber",
                  "description": "Other phone number",
                  "example": "\u002B1 (987) 213-5673"
                }
              },
              "Emails": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Contact email",
                  "example": "chris.smith@contoso.com"
                }
              },
              "Websites": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Website",
                  "example": "https://www.contoso.com"
                }
              }
            },
            "buildMode": "template"
          }
        },
        "modelId": "prebuilt-businessCard",
        "createdDateTime": "2022-08-31T00:00:00Z",
        "apiVersion": "2022-08-31",
        "description": "Extract key information from business cards."
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/",
    "RandomSeed": "1403389917"
  }
}
