{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2022-01-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "1559705955",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31523218316_20386800-3645-47db-9de4-e9d0859709e3?api-version=2022-01-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31523218316_20386800-3645-47db-9de4-e9d0859709e3?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31523218316_20386800-3645-47db-9de4-e9d0859709e3",
        "kind": "documentModelBuild",
        "status": "notStarted",
        "createdDateTime": "2022-01-25T22:28:03Z",
        "lastUpdatedDateTime": "2022-01-25T22:28:03Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1559705955?api-version=2022-01-30-preview"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31523218316_20386800-3645-47db-9de4-e9d0859709e3?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31523218316_20386800-3645-47db-9de4-e9d0859709e3",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2022-01-25T22:28:03Z",
        "lastUpdatedDateTime": "2022-01-25T22:28:08Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1559705955?api-version=2022-01-30-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "1559705955": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.95,
                "CompanyPhoneNumber": 0.95,
                "DatedAs": 0.95,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.95,
                "PhoneNumber": 0.95,
                "PurchaseOrderNumber": 0.95,
                "Quantity": 0.95,
                "Signature": 0.95,
                "Subtotal": 0.95,
                "Tax": 0.95,
                "Total": 0.95,
                "VendorName": 0.95,
                "Website": 0.95
              }
            }
          },
          "modelId": "1559705955",
          "createdDateTime": "2022-01-25T22:28:08Z",
          "apiVersion": "2022-01-30-preview"
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels:compose?api-version=2022-01-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "387849246",
        "componentModels": [
          {
            "modelId": "1559705955"
          },
          {
            "modelId": "00000000-0000-0000-0000-000000000000"
          }
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid request.",
          "innererror": {
            "code": "ModelComposeError",
            "message": "Could not compose the model: Requested model \u002700000000-0000-0000-0000-000000000000\u0027 does not exist."
          }
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1559705955?api-version=2022-01-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com",
    "RandomSeed": "1846093533"
  }
}
