{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2022-01-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "382513465",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "Sanitized",
          "prefix": "subfolder/"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/operations/31518364656_1534e7c0-da3a-4e43-b040-102ce291f4b6?api-version=2022-01-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/operations/31518364656_1534e7c0-da3a-4e43-b040-102ce291f4b6?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31518364656_1534e7c0-da3a-4e43-b040-102ce291f4b6",
        "kind": "documentModelBuild",
        "status": "notStarted",
        "createdDateTime": "2022-03-23T02:42:23Z",
        "lastUpdatedDateTime": "2022-03-23T02:42:23Z",
        "resourceLocation": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/382513465?api-version=2022-01-30-preview"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/operations/31518364656_1534e7c0-da3a-4e43-b040-102ce291f4b6?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31518364656_1534e7c0-da3a-4e43-b040-102ce291f4b6",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2022-03-23T02:42:23Z",
        "lastUpdatedDateTime": "2022-03-23T02:42:29Z",
        "resourceLocation": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/documentModels/382513465?api-version=2022-01-30-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "382513465": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.95,
                "CompanyPhoneNumber": 0.95,
                "DatedAs": 0.95,
                "Email": 0.8,
                "Merchant": 0.95,
                "PhoneNumber": 0.95,
                "PurchaseOrderNumber": 0.95,
                "Quantity": 0.95,
                "Signature": 0.6,
                "Subtotal": 0.95,
                "Tax": 0.95,
                "Total": 0.95,
                "VendorName": 0.95,
                "Website": 0.95
              }
            }
          },
          "modelId": "382513465",
          "createdDateTime": "2022-03-23T02:42:29Z",
          "apiVersion": "2022-01-30-preview"
        }
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/",
    "RandomSeed": "1352389322"
  }
}
