{
  "Entries": [
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "2102049473",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/operations/31534618796_6ffd2fba-cba5-4fb4-a05e-b8011f5ff94f?api-version=2021-09-30-preview"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/operations/31534618796_6ffd2fba-cba5-4fb4-a05e-b8011f5ff94f?api-version=2021-09-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022operationId\u0022: \u002231534618796_6ffd2fba-cba5-4fb4-a05e-b8011f5ff94f\u0022,\n",
        "  \u0022kind\u0022: \u0022documentModelBuild\u0022,\n",
        "  \u0022status\u0022: \u0022running\u0022,\n",
        "  \u0022createdDateTime\u0022: \u00222021-09-15T23:40:04Z\u0022,\n",
        "  \u0022lastUpdatedDateTime\u0022: \u00222021-09-15T23:40:08Z\u0022,\n",
        "  \u0022resourceLocation\u0022: \u0022https://mariari-centraluseuap.cognitiveservices.azure.com/formrecognizer/documentModels/2102049473?api-version=2021-09-30-preview\u0022\n",
        "}"
      ]
    },
[...]
