{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "ad44cbb7-4f0b-47b4-97bd-be70a5b1e681"
          }
        ],
        "subscriptionId": "ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "HCI IDC Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourcegroups/hci-cluster-rg6455?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg6455",
        "name": "hci-cluster-rg6455",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg6455/providers/Microsoft.AzureStackHCI/clusters/hci-cluster836?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "identity": {
          "type": "None"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222b00390b-0000-0100-0000-642fa30c0000\u0022",
        "mise-correlation-id": "d2b146fc-5f8d-45c3-a64c-48432a6b8ad4",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg6455/providers/Microsoft.AzureStackHCI/clusters/hci-cluster836",
        "name": "hci-cluster836",
        "type": "microsoft.azurestackhci/clusters",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "createdByType": "Application",
          "createdAt": "2023-04-07T04:58:51.9673375Z",
          "lastModifiedBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-07T04:58:51.9673375Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "status": "NotYetRegistered",
          "cloudId": "ffa6f068-c3ba-4d62-a8ed-dd5750acc132",
          "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "softwareAssuranceProperties": {
            "softwareAssuranceStatus": "Disabled",
            "softwareAssuranceIntent": "Disable"
          },
          "desiredProperties": {
            "windowsServerSubscription": "Disabled",
            "diagnosticLevel": "Basic"
          },
          "trialDaysRemaining": 60,
          "billingModel": "Trial",
          "serviceEndpoint": "https://dp.stackhci.azure.com/eastus/",
          "resourceProviderObjectId": "f57be460-ae5d-444a-9317-bbfa416ab4b9"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg6455/providers/Microsoft.AzureStackHCI/clusters/hci-cluster836/arcSettings/default?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
 [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg6455/providers/Microsoft.AzureStackHCI/clusters/hci-cluster836/arcSettings/default?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223a00429f-0000-0100-0000-642fa30e0000\u0022",
        "mise-correlation-id": "451b5ee6-94f0-497c-8387-20587a5e8766",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg6455/providers/Microsoft.AzureStackHCI/clusters/hci-cluster836/arcSettings/default",
        "name": "default",
        "type": "microsoft.azurestackhci/clusters/arcsettings",
        "properties": {
          "connectivityProperties": {
            "enabled": false
          },
          "provisioningState": "Succeeded",
          "arcInstanceResourceGroup": "hci-cluster836-ffa6f068-c3ba-4d62-a8ed-dd5750acc132-Arc-Infra-RG",
          "aggregateState": "NotSpecified",
          "perNodeDetails": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg6455/providers/Microsoft.AzureStackHCI/clusters/hci-cluster836/arcSettings?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b8fc4290-3d86-4cc1-b3d1-255bcf10349c",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg6455/providers/Microsoft.AzureStackHCI/clusters/hci-cluster836/arcSettings/default",
            "name": "default",
            "type": "microsoft.azurestackhci/clusters/arcsettings",
            "properties": {
              "connectivityProperties": {
                "enabled": false
              },
              "provisioningState": "Succeeded",
              "arcInstanceResourceGroup": "hci-cluster836-ffa6f068-c3ba-4d62-a8ed-dd5750acc132-Arc-Infra-RG",
              "aggregateState": "NotSpecified",
              "perNodeDetails": []
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
    "RandomSeed": "1575819807",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
