{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "a9280d5f-f9ab-436e-90cb-b6b9863c5551",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ASME_RestonAzureStackEdge_Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourcegroups/hci-cluster-rg3051?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg3051",
        "name": "hci-cluster-rg3051",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg3051/providers/Microsoft.AzureStackHCI/clusters/hci-cluster7597?api-version=2022-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "aadClientId": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "identity": {
          "type": "None"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ee009b98-0000-0100-0000-63ef7a790000\u0022",
        "mise-correlation-id": "e2189533-8e72-40f1-98e1-508b366bcd7d",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg3051/providers/Microsoft.AzureStackHCI/clusters/hci-cluster7597",
        "name": "hci-cluster7597",
        "type": "microsoft.azurestackhci/clusters",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "createdByType": "Application",
          "createdAt": "2023-02-17T13:00:40.9915357Z",
          "lastModifiedBy": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-17T13:00:40.9915357Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "status": "NotYetRegistered",
          "cloudId": "84f0ce97-a86c-4ee5-a2c1-f9e5bc90aa36",
          "aadClientId": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "softwareAssuranceProperties": {
            "softwareAssuranceStatus": "Disabled",
            "softwareAssuranceIntent": "Disable"
          },
          "desiredProperties": {
            "windowsServerSubscription": "Disabled",
            "diagnosticLevel": "Basic"
          },
          "trialDaysRemaining": 60,
          "billingModel": "Trial",
          "serviceEndpoint": "https://dp.stackhci.azure.com/eastus/",
          "resourceProviderObjectId": "f57be460-ae5d-444a-9317-bbfa416ab4b9"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg3051/providers/Microsoft.AzureStackHCI/clusters/hci-cluster7597/arcSettings/default?api-version=2022-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg3051/providers/Microsoft.AzureStackHCI/clusters/hci-cluster7597/arcSettings/default?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022530031c3-0000-0100-0000-63ef7a790000\u0022",
        "mise-correlation-id": "f59235a9-71b1-4238-b25c-33a224566f42",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg3051/providers/Microsoft.AzureStackHCI/clusters/hci-cluster7597/arcSettings/default",
        "name": "default",
        "type": "microsoft.azurestackhci/clusters/arcsettings",
        "properties": {
          "connectivityProperties": {
            "enabled": false
          },
          "provisioningState": "Succeeded",
          "arcInstanceResourceGroup": "hci-cluster7597-84f0ce97-a86c-4ee5-a2c1-f9e5bc90aa36-Arc-Infra-RG",
          "aggregateState": "NotSpecified",
          "perNodeDetails": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg3051/providers/Microsoft.AzureStackHCI/clusters/hci-cluster7597/arcSettings?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "978beb53-eb9d-4b06-98af-54b094ed9da4",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg3051/providers/Microsoft.AzureStackHCI/clusters/hci-cluster7597/arcSettings/default",
            "name": "default",
            "type": "microsoft.azurestackhci/clusters/arcsettings",
            "properties": {
              "connectivityProperties": {
                "enabled": false
              },
              "provisioningState": "Succeeded",
              "arcInstanceResourceGroup": "hci-cluster7597-84f0ce97-a86c-4ee5-a2c1-f9e5bc90aa36-Arc-Infra-RG",
              "aggregateState": "NotSpecified",
              "perNodeDetails": []
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
    "RandomSeed": "1705957443",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "a9280d5f-f9ab-436e-90cb-b6b9863c5551",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
