{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-6784/providers/Microsoft.DocumentDB/databaseAccounts/amegraphtest7483/gremlinDatabases/databaseName1002/graphs?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11934"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-6784/providers/Microsoft.DocumentDB/databaseAccounts/amegraphtest7483/gremlinDatabases/databaseName1002/graphs/gremlinGraphName1002",
            "type": "Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/graphs",
            "name": "gremlinGraphName1002",
            "properties": {
              "resource": {
                "id": "gremlinGraphName1002",
                "indexingPolicy": {
                  "indexingMode": "consistent",
                  "automatic": true,
                  "includedPaths": [
                    {
                      "path": "/*"
                    }
                  ],
                  "excludedPaths": [
                    {
                      "path": "/pathToNotIndex/*"
                    },
                    {
                      "path": "/\"_etag\"/?"
                    }
                  ],
                  "spatialIndexes": [
                    {
                      "path": "/*",
                      "types": [
                        "Point",
                        "LineString",
                        "Polygon",
                        "MultiPolygon"
                      ]
                    }
                  ],
                  "compositeIndexes": [
                    [
                      {
                        "path": "/orderByPath1",
                        "order": "ascending"
                      },
                      {
                        "path": "/orderByPath2",
                        "order": "descending"
                      }
                    ],
                    [
                      {
                        "path": "/orderByPath3",
                        "order": "ascending"
                      },
                      {
                        "path": "/orderByPath4",
                        "order": "descending"
                      }
                    ]
                  ]
                },
                "partitionKey": {
                  "paths": [
                    "/address"
                  ],
                  "kind": "Hash"
                },
                "defaultTtl": -1,
                "uniqueKeyPolicy": {
                  "uniqueKeys": [
                    {
                      "paths": [
                        "/testpath"
                      ]
                    }
                  ]
                },
                "conflictResolutionPolicy": {
                  "mode": "LastWriterWins",
                  "conflictResolutionPath": "/path",
                  "conflictResolutionProcedure": ""
                },
                "allowMaterializedViews": false,
                "geospatialConfig": {
                  "type": "Geography"
                },
                "_rid": "n21ZANCB+RQ=",
                "_ts": 1630402836,
                "_self": "dbs/n21ZAA==/colls/n21ZANCB+RQ=/",
                "_etag": "\"0000aa00-0000-0700-0000-612df9140000\"",
                "_docs": "docs/",
                "_sprocs": "sprocs/",
                "_triggers": "triggers/",
                "_udfs": "udfs/",
                "_conflicts": "conflicts/"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-6784/providers/Microsoft.DocumentDB/databaseAccounts/amegraphtest7483/gremlinDatabases/databaseName1002/graphs/gremlinGraphName1002?api-version=2020-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/0f582e7c-0db6-4e47-bab2-406c69974eab?api-version=2020-04-01",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-6784/providers/Microsoft.DocumentDB/databaseAccounts/amegraphtest7483/gremlinDatabases/databaseName1002/graphs/gremlinGraphName1002/operationResults/0f582e7c-0db6-4e47-bab2-406c69974eab?api-version=2020-04-01",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/0f582e7c-0db6-4e47-bab2-406c69974eab?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11933"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-6784/providers/Microsoft.DocumentDB/databaseAccounts/amegraphtest7483/gremlinDatabases/databaseName1002/graphs?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11927"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "748451045"
  }
}