{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-CosmosDB-5454/providers/Microsoft.DocumentDB/databaseAccounts/amegraphtest1336/gremlinDatabases/databaseName1002/graphs?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://management.documents.azure.com:450/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-CosmosDB-5454/providers/Microsoft.DocumentDB/databaseAccounts/amegraphtest1336/gremlinDatabases/databaseName1002/graphs?api-version=2020-04-01",
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.11.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11307"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-CosmosDB-5454/providers/Microsoft.DocumentDB/databaseAccounts/amegraphtest1336/gremlinDatabases/databaseName1002/graphs/gremlinGraphName1002",
            "type": "Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/graphs",
            "name": "gremlinGraphName1002",
            "properties": {
              "resource": {
                "id": "gremlinGraphName1002",
                "indexingPolicy": {
                  "indexingMode": "consistent",
                  "automatic": true,
                  "includedPaths": [
                    {
                      "path": "/*"
                    }
                  ],
                  "excludedPaths": [
                    {
                      "path": "/pathToNotIndex/*"
                    },
                    {
                      "path": "/\u0022_etag\u0022/?"
                    }
                  ],
                  "spatialIndexes": [
                    {
                      "path": "/*",
                      "types": [
                        "Point",
                        "LineString",
                        "Polygon",
                        "MultiPolygon"
                      ]
                    }
                  ],
                  "compositeIndexes": [
                    [
                      {
                        "path": "/orderByPath1",
                        "order": "ascending"
                      },
                      {
                        "path": "/orderByPath2",
                        "order": "descending"
                      }
                    ],
                    [
                      {
                        "path": "/orderByPath3",
                        "order": "ascending"
                      },
                      {
                        "path": "/orderByPath4",
                        "order": "descending"
                      }
                    ]
                  ]
                },
                "partitionKey": {
                  "paths": [
                    "/address"
                  ],
                  "kind": "Hash"
                },
                "defaultTtl": -1,
                "uniqueKeyPolicy": {
                  "uniqueKeys": [
                    {
                      "paths": [
                        "/testpath"
                      ]
                    }
                  ]
                },
                "conflictResolutionPolicy": {
                  "mode": "LastWriterWins",
                  "conflictResolutionPath": "/path",
                  "conflictResolutionProcedure": ""
                },
                "geospatialConfig": {
                  "type": "Geography"
                },
                "uniqueIndexReIndexingState": 0,
                "_rid": "\u002Bxd1AP9YC9g=",
                "_ts": 1600843494,
                "_self": "dbs/\u002Bxd1AA==/colls/\u002Bxd1AP9YC9g=/",
                "_etag": "\u00220300d2df-0000-0700-0000-5f6aeee60000\u0022",
                "_docs": "docs/",
                "_sprocs": "sprocs/",
                "_triggers": "triggers/",
                "_udfs": "udfs/",
                "_conflicts": "conflicts/"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-CosmosDB-5454/providers/Microsoft.DocumentDB/databaseAccounts/amegraphtest1336/gremlinDatabases/databaseName1002/graphs/gremlinGraphName1002?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Locati[...]
