{
  "Entries": [
    {
      "RequestUri": "/d2599f84-5099-4ef0-8548-d4765d6a0718/services/networking/media",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "<Error xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Code>ResourceNotFound</Code>\r\n  <Message>Network configuration does not exist.</Message>\r\n</Error>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/d2599f84-5099-4ef0-8548-d4765d6a0718/services/networking/virtualnetwork/NonExistingVnetName/subnets/SubnetName/routetables",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "<Error xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Code>ResourceNotFound</Code>\r\n  <Message>The virtual network NonExistingVnetName does not exist.</Message>\r\n</Error>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "d2599f84-5099-4ef0-8548-d4765d6a0718"
  }
}
