{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/layout/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "image/jpeg"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/layout/analyzeResults/3be0164c-a95c-47c6-81e1-3285cd0910dd"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/layout/analyzeResults/3be0164c-a95c-47c6-81e1-3285cd0910dd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2021-03-23T00:30:09Z",
        "lastUpdatedDateTime": "2021-03-23T00:30:09Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/layout/analyzeResults/3be0164c-a95c-47c6-81e1-3285cd0910dd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-03-23T00:30:09Z",
        "lastUpdatedDateTime": "2021-03-23T00:30:13Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0.3673,
              "width": 1688,
              "height": 3000,
              "unit": "pixel",
              "lines": [
                {
                  "boundingBox": [
                    620,
                    291,
                    1048,
                    288,
                    1049,
                    384,
                    621,
                    389
                  ],
                  "text": "Contoso",
                  "appearance": {
                    "style": {
                      "name": "other",
                      "confidence": 0.878
                    }
                  },
                  "words": [
                    {
                      "boundingBox": [
                        620,
                        293,
                        1035,
                        290,
                        1036,
                        380,
                        623,
                        389
                      ],
                      "text": "Contoso",
                      "confidence": 0.965
                    }
                  ]
                },
                {
                [...]
