{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/formrecognizer/v2.1/layout/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": "JVBERlVVVQ==",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Canada Central"
      },
      "ResponseBody": {
        "error": {
          "code": "BadArgument",
          "message": "Bad or unrecognizable request JSON or binary file."
        }
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-canadacentral.cognitiveservices.azure.com/",
    "RandomSeed": "1867142212"
  }
}
