{
  "Entries": [
    {
      "RequestUri": "/contentmoderator/moderate/v1.0/ProcessImage/FindFaces?CacheImage=false",
      "RequestMethod": "POST",
      "RequestBody": "����\u0000\u0010JFIF\u0000\u0001\u0001\u0001\u0000`\u0000`\u0000\u0000��\u0000ZExif\u0000\u0000MM\u0000*\u0000\u0000\u0000\b\u0000\u0005\u0003\u0001\u0000\u0005\u0000\u0000\u0000\u0001\u0000\u0000\u0000J\u0003\u0003\u0000\u0001\u0000\u0000\u0000\u0001\u0000\u0000\u0000\u0000Q\u0010\u0000\u0001\u0000\u0000\u0000\u0001\u0001\u0000\u0000\u0000Q\u0011\u0000\u0004\u0000\u0000\u0000\u0001\u0000\u0000\u000e�Q\u0012\u0000\u0004\u0000\u0000\u0000\u0001\u0000\u0000\u000e�\u0000\u0000\u0000\u0000\u0000\u[...]
