{
  "Entries": [
    {
      "RequestUri": "/contentmoderator/moderate/v1.0/ProcessImage/FindFaces?CacheImage=false",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"dataRepresentation\": \"URL\",\r\n  \"value\": \"https://pbs.twimg.com/media/BfopodJCUAAjmkU.jpg:large\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Ocp-Apim-Subscription-Key": [
          
        ],
        "User-Agent": [
          "FxVersion/4.7.2600.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.CognitiveServices.ContentModerator.ContentModeratorClient/0.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"Faces\": [\r\n    {\r\n      \"Left\": 455,\r\n      \"Right\": 804,\r\n      \"Top\": 245,\r\n      \"Bottom\": 594\r\n    }\r\n  ],\r\n  \"Count\": 1,\r\n  \"AdvancedInfo\": [\r\n    {\r\n      \"Key\": \"ImageDownloadTimeInMs\",\r\n      \"Value\": \"1749\"\r\n    },\r\n    {\r\n      \"Key\": \"ImageSizeInBytes\",\r\n      \"Value\": \"369974\"\r\n    }\r\n  ],\r\n  \"Result\": true,\r\n  \"Status\": {\r\n    \"Code\": 3000,\r\n    \"Description\": \"OK\",\r\n    \"Exception\": null\r\n  },\r\n  \"TrackingId\": \"SEA_ad975eeae1f24f81bebb40be0c3ba4fd_ContentModerator.Preview_8c8842cf-9534-454c-8c92-efcb9721dc05\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}