{
  "Entries": [
    {
      "RequestUri": "/contentmoderator/moderate/v1.0/ProcessImage/Match?listId=&CacheImage=false",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"dataRepresentation\": \"URL\",\r\n  \"value\": \"https://pbs.twimg.com/media/BfopodJCUAAjmkU.jpg:large\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Ocp-Apim-Subscription-Key": [
          
        ],
        "User-Agent": [
          "FxVersion/4.7.2600.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.CognitiveServices.ContentModerator.ContentModeratorClient/0.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"IsMatch\": false,\r\n  \"Matches\": [],\r\n  \"Status\": {\r\n    \"Code\": 3000,\r\n    \"Description\": \"OK\",\r\n    \"Exception\": null\r\n  },\r\n  \"TrackingId\": \"SEA_ad975eeae1f24f81bebb40be0c3ba4fd_ContentModerator.Preview_9eb41ea5-c59c-44f2-be52-94d67a3c1d12\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}