{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Communication-RG-581?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11855"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-581",
        "name": "Communication-RG-581",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-581/providers/Microsoft.Communication/communicationServices/communication-service-4870?api-version=2020-08-20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/0ac51f2f-1338-466a-8227-2e9b83df4f78*38FDB3A399BC350E314D99E17DD5E2A15A57C65F6BBD366C7FE39A98C7EC9AC9?api-version=2020-08-20",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002224006031-0000-0700-0000-61c41dd90000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-581/providers/Microsoft.Communication/communicationServices/communication-service-4870",
        "name": "communication-service-4870",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2021-12-23T06:57:27.9371293Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-12-23T06:57:27.9371293Z"
        },
        "properties": {
          "dataLocation": "UnitedStates",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/0ac51f2f-1338-466a-8227-2e9b83df4f78*38FDB3A399BC350E314D99E17DD5E2A15A57C65F6BBD366C7FE39A98C7EC9AC9?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221200aab2-0000-0800-0000-61c41dd90000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11854"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/0ac51f2f-1338-466a-8227-2e9b83df4f78*38FDB3A399BC350E314D99E17DD5E2A15A57C65F6BBD366C7FE39A98C7EC9AC9",
        "name": "0ac51f2f-1338-466a-8227-2e9b83df4f78*38FDB3A399BC350E314D99E17DD5E2A15A57C65F6BBD366C7FE39A98C7EC9AC9",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-581/providers/Microsoft.Communication/communicationServices/communication-service-4870",
        "status": "Accepted",
        "startTime": "2021-12-23T06:57:28.9804206Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-581/providers/Microsoft.Communication/communicationServices/communication-service-4870?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002224006b31-0000-0700-0000-61c41de10000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11800"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-581/providers/Microsoft.Communication/communicationServices/communication-service-4870",
        "name": "communication-service-4870",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2021-12-23T06:57:27.9371293Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-12-23T06:57:27.9371293Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "hostName": "communication-service-4870.communication.azure.com",
          "immutableResourceId": "11dd7474-6639-4aae-978b-15f1edcddd2e",
          "dataLocation": "UnitedStates"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-581/providers/Microsoft.Communication/communicationServices?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11798"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-581/providers/Microsoft.Communication/communicationServices/communication-service-4870",
            "name": "communication-service-4870",
            "type": "microsoft.communication/communicationservices",
            "location": "global",
            "systemData": {
              "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "createdByType": "Application",
              "createdAt": "2021-12-23T06:57:27.9371293Z",
              "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2021-12-23T06:57:27.9371293Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "hostName": "communication-service-4870.communication.azure.com",
              "immutableResourceId": "11dd7474-6639-4aae-978b-15f1edcddd2e",
              "dataLocation": "UnitedStates"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-581/providers/Microsoft.Communication/communicationServices/communication-service-4870?api-version=2020-08-20",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/8b88f69e-2a48-48fb-8261-36f65bba7d3f*38FDB3A399BC350E314D99E17DD5E2A15A57C65F6BBD366C7FE39A98C7EC9AC9?api-version=2020-08-20",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002224008f31-0000-0700-0000-61c41e200000\u0022",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/8b88f69e-2a48-48fb-8261-36f65bba7d3f*38FDB3A399BC350E314D99E17DD5E2A15A57C65F6BBD366C7FE39A98C7EC9AC9?api-version=2020-08-20",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/8b88f69e-2a48-48fb-8261-36f65bba7d3f*38FDB3A399BC350E314D99E17DD5E2A15A57C65F6BBD366C7FE39A98C7EC9AC9?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221200a5b3-0000-0800-0000-61c41e640000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/8b88f69e-2a48-48fb-8261-36f65bba7d3f*38FDB3A399BC350E314D99E17DD5E2A15A57C65F6BBD366C7FE39A98C7EC9AC9",
        "name": "8b88f69e-2a48-48fb-8261-36f65bba7d3f*38FDB3A399BC350E314D99E17DD5E2A15A57C65F6BBD366C7FE39A98C7EC9AC9",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-581/providers/Microsoft.Communication/communicationServices/communication-service-4870",
        "status": "Succeeded",
        "startTime": "2021-12-23T06:58:39.773657Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1912724960",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}