{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Communication-RG-690?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11607"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690",
        "name": "Communication-RG-690",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690/providers/Microsoft.Communication/communicationServices/communication-service-1147?api-version=2020-08-20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/bb052a00-efac-4f8d-b9c1-f75a4cf1870c*7F4E29642F8DEE03D86124670D621E71E850C4565CF500FBC1416828C62BF449?api-version=2020-08-20",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223e0010a0-0000-0700-0000-61e662590000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690/providers/Microsoft.Communication/communicationServices/communication-service-1147",
        "name": "communication-service-1147",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-01-18T06:46:47.0394284Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-01-18T06:46:47.0394284Z"
        },
        "properties": {
          "dataLocation": "UnitedStates",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/bb052a00-efac-4f8d-b9c1-f75a4cf1870c*7F4E29642F8DEE03D86124670D621E71E850C4565CF500FBC1416828C62BF449?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221f0042c1-0000-0800-0000-61e662580000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11606"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/bb052a00-efac-4f8d-b9c1-f75a4cf1870c*7F4E29642F8DEE03D86124670D621E71E850C4565CF500FBC1416828C62BF449",
        "name": "bb052a00-efac-4f8d-b9c1-f75a4cf1870c*7F4E29642F8DEE03D86124670D621E71E850C4565CF500FBC1416828C62BF449",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690/providers/Microsoft.Communication/communicationServices/communication-service-1147",
        "status": "Accepted",
        "startTime": "2022-01-18T06:46:48.7798971Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690/providers/Microsoft.Communication/communicationServices/communication-service-1147?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223e001ca0-0000-0700-0000-61e662630000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11552"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690/providers/Microsoft.Communication/communicationServices/communication-service-1147",
        "name": "communication-service-1147",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-01-18T06:46:47.0394284Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-01-18T06:46:47.0394284Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "hostName": "communication-service-1147.communication.azure.com",
          "immutableResourceId": "7b5d418a-403c-401f-8820-8ef6fee2bb05",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690/providers/Microsoft.Communication/communicationServices?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11551"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690/providers/Microsoft.Communication/communicationServices/communication-service-1147",
            "name": "communication-service-1147",
            "type": "microsoft.communication/communicationservices",
            "location": "global",
            "systemData": {
              "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "createdByType": "Application",
              "createdAt": "2022-01-18T06:46:47.0394284Z",
              "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-01-18T06:46:47.0394284Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "hostName": "communication-service-1147.communication.azure.com",
              "immutableResourceId": "7b5d418a-403c-401f-8820-8ef6fee2bb05",
              "dataLocation": "UnitedStates"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690/providers/Microsoft.Communication/communicationServices/communication-service-1147?api-version=2020-08-20",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/fcfeb547-0d35-4f17-9725-2acfb0ce51d5*7F4E29642F8DEE03D86124670D621E71E850C4565CF500FBC1416828C62BF449?api-version=2020-08-20",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223e0054a0-0000-0700-0000-61e662a00000\u0022",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/fcfeb547-0d35-4f17-9725-2acfb0ce51d5*7F4E29642F8DEE03D86124670D621E71E850C4565CF500FBC1416828C62BF449?api-version=2020-08-20",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14996"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/fcfeb547-0d35-4f17-9725-2acfb0ce51d5*7F4E29642F8DEE03D86124670D621E71E850C4565CF500FBC1416828C62BF449?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221f00f1c1-0000-0800-0000-61e662e40000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11566"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/fcfeb547-0d35-4f17-9725-2acfb0ce51d5*7F4E29642F8DEE03D86124670D621E71E850C4565CF500FBC1416828C62BF449",
        "name": "fcfeb547-0d35-4f17-9725-2acfb0ce51d5*7F4E29642F8DEE03D86124670D621E71E850C4565CF500FBC1416828C62BF449",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690/providers/Microsoft.Communication/communicationServices/communication-service-1147",
        "status": "Succeeded",
        "startTime": "2022-01-18T06:48:00.4207796Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2014475296",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}