{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Communication-RG-690?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11849"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690",
        "name": "Communication-RG-690",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690/providers/Microsoft.Communication/communicationServices/communication-service-1147?api-version=2020-08-20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/cb741ae7-23ad-4e64-8029-27559f92903b*7F4E29642F8DEE03D86124670D621E71E850C4565CF500FBC1416828C62BF449?api-version=2020-08-20",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002224000234-0000-0700-0000-61c421650000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690/providers/Microsoft.Communication/communicationServices/communication-service-1147",
        "name": "communication-service-1147",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2021-12-23T07:12:36.2158237Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-12-23T07:12:36.2158237Z"
        },
        "properties": {
          "dataLocation": "UnitedStates",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/cb741ae7-23ad-4e64-8029-27559f92903b*7F4E29642F8DEE03D86124670D621E71E850C4565CF500FBC1416828C62BF449?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221200ddb8-0000-0800-0000-61c421650000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11848"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/cb741ae7-23ad-4e64-8029-27559f92903b*7F4E29642F8DEE03D86124670D621E71E850C4565CF500FBC1416828C62BF449",
        "name": "cb741ae7-23ad-4e64-8029-27559f92903b*7F4E29642F8DEE03D86124670D621E71E850C4565CF500FBC1416828C62BF449",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690/providers/Microsoft.Communication/communicationServices/communication-service-1147",
        "status": "Accepted",
        "startTime": "2021-12-23T07:12:37.4137877Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690/providers/Microsoft.Communication/communicationServices/communication-service-1147?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002224000934-0000-0700-0000-61c4216d0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11794"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690/providers/Microsoft.Communication/communicationServices/communication-service-1147",
        "name": "communication-service-1147",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2021-12-23T07:12:36.2158237Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-12-23T07:12:36.2158237Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "hostName": "communication-service-1147.communication.azure.com",
          "immutableResourceId": "4cfb47af-4e08-4694-aa39-4d5b380648d0",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690/providers/Microsoft.Communication/communicationServices?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11793"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690/providers/Microsoft.Communication/communicationServices/communication-service-1147",
            "name": "communication-service-1147",
            "type": "microsoft.communication/communicationservices",
            "location": "global",
            "systemData": {
              "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "createdByType": "Application",
              "createdAt": "2021-12-23T07:12:36.2158237Z",
              "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2021-12-23T07:12:36.2158237Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "hostName": "communication-service-1147.communication.azure.com",
              "immutableResourceId": "4cfb47af-4e08-4694-aa39-4d5b380648d0",
              "dataLocation": "UnitedStates"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690/providers/Microsoft.Communication/communicationServices/communication-service-1147?api-version=2020-08-20",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/17ee75c0-4af6-4ce1-b41f-54c3c9925225*7F4E29642F8DEE03D86124670D621E71E850C4565CF500FBC1416828C62BF449?api-version=2020-08-20",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002224003834-0000-0700-0000-61c421ad0000\u0022",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/17ee75c0-4af6-4ce1-b41f-54c3c9925225*7F4E29642F8DEE03D86124670D621E71E850C4565CF500FBC1416828C62BF449?api-version=2020-08-20",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/17ee75c0-4af6-4ce1-b41f-54c3c9925225*7F4E29642F8DEE03D86124670D621E71E850C4565CF500FBC1416828C62BF449?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022120046ba-0000-0800-0000-61c421f00000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/17ee75c0-4af6-4ce1-b41f-54c3c9925225*7F4E29642F8DEE03D86124670D621E71E850C4565CF500FBC1416828C62BF449",
        "name": "17ee75c0-4af6-4ce1-b41f-54c3c9925225*7F4E29642F8DEE03D86124670D621E71E850C4565CF500FBC1416828C62BF449",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-690/providers/Microsoft.Communication/communicationServices/communication-service-1147",
        "status": "Succeeded",
        "startTime": "2021-12-23T07:13:48.8618418Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2014475296",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}