{"Entries": [{"RequestUri": "//keys/CreateSoftKeyTest/create?api-version=7.0", "EncodedRequestUri": "Ly9rZXlzL0NyZWF0ZVNvZnRLZXlUZXN0L2NyZWF0ZT9hcGktdmVyc2lvbj03LjA=", "RequestMethod": "POST", "RequestBody": "{\r\n  \"kty\": \"RSA\",\r\n  \"key_size\": 2048,\r\n  \"key_ops\": [\r\n    \"encrypt\",\r\n    \"decrypt\",\r\n    \"sign\",\r\n    \"verify\",\r\n    \"wrapKey\",\r\n    \"unwrapKey\"\r\n  ],\r\n  \"attributes\": {},\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"CreateGetDeleteKeyTest\"\r\n  }\r\n}", "RequestHeaders": {"Content-Type": ["application/json; charset=utf-8"], "Content-Length": ["269"], "x-ms-client-request-id": ["7785b616-69c2-475f-8670-d0f43af0db0b"], "accept-language": ["en-US"], "User-Agent": ["FxVersion/4.6.25009.03", "Microsoft.Azure.KeyVault.KeyVaultClient/2.2.1-preview"]}, "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://kv-sdk-test.vault-int.azure-int.net/keys/CreateSoftKeyTest/78deebed173b48e48f55abf87ed4cf71\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"2HJAE5fU3Cw2Rt9hEuq-F6XjINKGa-zskfISVqopqUy60GOs2eyhxbWbJBeUXNor_gf-tXtNeuqeBgitLeVa640UDvnEjYTKWjCniTxZRaU7ewY8BfTSk-7KxoDdLsPSpX_MX4rwlAx-_1UGk5t4sQgTbm9T6Fm2oqFd37dsz5-Gj27UP2GTAShfJPFD7MqU_zIgOI0pfqsbNL5xTQVM29K6rX4jSPtylZV3uWJtkoQIQnrIHhk1d0SC0KwlBV3V7R_LVYjiXLyIXsFzSNYgQ68ZjAwt8iL7I8Osa-ehQLM13DVvLASaf7Jnu3sC3CWl3Gyirgded6cfMmswJzY87w\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1493942451,\r\n    \"updated\": 1493942451,\r\n    \"recoverylevel\": \"Recoverable+Purgeable\"\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"CreateGetDeleteKeyTest\"\r\n  }\r\n}", "ResponseHeaders": {"Content-Length": ["740"], "Content-Type": ["application/json; charset=utf-8"], "Expires": ["-1"], "Cache-Control": ["no-cache"], "Date": ["Fri, 05 May 2017 00:00:50 GMT"], "Pragma": ["no-cache"], "Server": ["Microsoft-IIS/8.5"], "x-ms-keyvault-region": ["eastus2"], "x-ms-request-id": ["8863a464-e107-40c4-a34c-0afcf4ee5e6a"], "x-ms-keyvault-service-version": ["1.0.0.1185"], "X-AspNet-Version": ["4.0.30319"], "X-Powered-By": ["ASP.NET"], "Strict-Transport-Security": ["max-age=31536000;includeSubDomains"], "X-Content-Type-Options": ["nosniff"]}, "StatusCode": 200}, {"RequestUri": "/keys/CreateSoftKeyTest/78deebed173b48e48f55abf87ed4cf71?api-version=7.0", "EncodedRequestUri": "L2tleXMvQ3JlYXRlU29mdEtleVRlc3QvNzhkZWViZWQxNzNiNDhlNDhmNTVhYmY4N2VkNGNmNzE/YXBpLXZlcnNpb249Ny4w", "RequestMethod": "GET", "RequestBody": "", "RequestHeaders": {"x-ms-client-request-id": ["bb9e8020-d547-4da6-a824-1310b0a1ce7a"], "accept-language": ["en-US"], "User-Agent": ["FxVersion/4.6.25009.03", "Microsoft.Azure.KeyVault.KeyVaultClient/2.2.1-preview"]}, "ResponseBody": "{\r\[...]
