{"Entries": [{"RequestUri": "//keys/GetDeletedKeyTest/create?api-version=7.0", "EncodedRequestUri": "Ly9rZXlzL0dldERlbGV0ZWRLZXlUZXN0L2NyZWF0ZT9hcGktdmVyc2lvbj03LjA=", "RequestMethod": "POST", "RequestBody": "{\r\n  \"kty\": \"RSA\",\r\n  \"key_size\": 2048,\r\n  \"key_ops\": [\r\n    \"encrypt\",\r\n    \"decrypt\",\r\n    \"sign\",\r\n    \"verify\",\r\n    \"wrapKey\",\r\n    \"unwrapKey\"\r\n  ],\r\n  \"attributes\": {},\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"GetDeletedKeyTest\"\r\n  }\r\n}", "RequestHeaders": {"Content-Type": ["application/json; charset=utf-8"], "Content-Length": ["264"], "x-ms-client-request-id": ["e4f39a70-2dd5-4697-aa3c-16e946d13050"], "accept-language": ["en-US"], "User-Agent": ["FxVersion/4.6.25009.03", "Microsoft.Azure.KeyVault.KeyVaultClient/2.2.1-preview"]}, "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://kv-sdk-test.vault-int.azure-int.net/keys/GetDeletedKeyTest/70cd0755e48944cfa3b1463a388a7a7e\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"smlX4hTrJj1vuU3JGLtSNJ-7UQVzJmRlZx8iBBO-SG-_BJoXGmU2FuK1hiLPL2InV_2s9KswD6tQqTdKtODVDIWzHWKgsCrbu7xst4Rsk3ATguDdrB6BBvCihL0goPNi61SqvGJUuK1Ki5gIQDXgCDIYVmhcL-RfBeaWzR-l4cUz-QL7tNzdE5CiRNQ3aTDU-ylE8DLhwrb78AFrKij02vHovDabrSrwthdsYQ0FJtuwocjfTnKtVCR2qHpzzdE2BLVjdp8V3gaTPJqfpshBVpV2_9HqAF8x-7aa_HBt0WvNx9MaoJNZnB-Thkn4lNRp7VfVg9ki1CUjcU3s_6yCbw\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1493938194,\r\n    \"updated\": 1493938194,\r\n    \"recoverylevel\": \"Recoverable+Purgeable\"\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"GetDeletedKeyTest\"\r\n  }\r\n}", "ResponseHeaders": {"Content-Length": ["735"], "Content-Type": ["application/json; charset=utf-8"], "Expires": ["-1"], "Cache-Control": ["no-cache"], "Date": ["Thu, 04 May 2017 22:49:54 GMT"], "Pragma": ["no-cache"], "Server": ["Microsoft-IIS/8.5"], "x-ms-keyvault-region": ["eastus2"], "x-ms-request-id": ["db0605c0-8be3-4e3e-8ec3-ffbb9d409546"], "x-ms-keyvault-service-version": ["1.0.0.1185"], "X-AspNet-Version": ["4.0.30319"], "X-Powered-By": ["ASP.NET"], "Strict-Transport-Security": ["max-age=31536000;includeSubDomains"], "X-Content-Type-Options": ["nosniff"]}, "StatusCode": 200}, {"RequestUri": "//keys/GetDeletedKeyTest?api-version=7.0", "EncodedRequestUri": "Ly9rZXlzL0dldERlbGV0ZWRLZXlUZXN0P2FwaS12ZXJzaW9uPTcuMA==", "RequestMethod": "DELETE", "RequestBody": "", "RequestHeaders": {"x-ms-client-request-id": ["0bdbc177-dac6-4a0c-bacc-d3d22cf3919a"], "accept-language": ["en-US"], "User-Agent": ["FxVersion/4.6.25009.03", "Microsoft.Azure.KeyVault.KeyVaultClient/2.2.1-preview"]}, "ResponseBody": "{\r\n  \"recoveryId\": \"https://kv-sdk-test.vault-int.azure-int.net/deletedkeys/GetDeletedKeyTest\",\r\n  \"deletedDate\": 1493938194,\r\n  \"scheduledPurgeDate\": 1501714194,\r\n  \"key\": {\r\n    \"kid\": \"https://kv-sdk-test.vault-int.azure-int.net/keys/GetDeletedKeyTest/70cd0755e48944cfa3b1463a388a7a7e\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"smlX4hTrJj1vuU3JGLtSNJ-7UQVzJmRlZx8iBBO-SG-_BJoXGmU2FuK1hiLPL2InV_2s9KswD6tQqTdKtODVDIWzHWKgsCrbu7xst4Rsk3ATguDdrB6BBvCihL0goPNi61SqvGJUuK1Ki5gIQDXg[...]
