{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-701?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-701",
        "name": "testRg-701",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-701/providers/Microsoft.DeviceUpdate/accounts/Account-5385?api-version=2020-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-03-01-preview, 2021-11-02-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/160e6178-548d-4257-bf5e-f63112fdd0f0*B5709472413E0C3EE180E0E9CF4ADEF5570AFF5D10961EF0F22E55F12E659D13?api-version=2020-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002233000206-0000-0800-0000-6192312c0000\u0022",
        "x-ms-async-operation-timeout": "PT15M",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-701/providers/Microsoft.DeviceUpdate/accounts/Account-5385",
        "name": "Account-5385",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "systemData": {
          "createdBy": "814cdb39-82c4-4a9a-b57d-82a22becc8f7",
          "createdByType": "Application",
          "createdAt": "2021-11-15T10:06:33.7837011Z",
          "lastModifiedBy": "814cdb39-82c4-4a9a-b57d-82a22becc8f7",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-11-15T10:06:33.7837011Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "hostName": "account-5385.api.adu.microsoft.com"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/160e6178-548d-4257-bf5e-f63112fdd0f0*B5709472413E0C3EE180E0E9CF4ADEF5570AFF5D10961EF0F22E55F12E659D13?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222c0095ed-0000-0800-0000-6192312c0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/160e6178-548d-4257-bf5e-f63112fdd0f0*B5709472413E0C3EE180E0E9CF4ADEF5570AFF5D10961EF0F22E55F12E659D13",
        "name": "160e6178-548d-4257-bf5e-f63112fdd0f0*B5709472413E0C3EE180E0E9CF4ADEF5570AFF5D10961EF0F22E55F12E659D13",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-701/providers/Microsoft.DeviceUpdate/accounts/Account-5385",
        "status": "Accepted",
        "startTime": "2021-11-15T10:06:36.2025654Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/160e6178-548d-4257-bf5e-f63112fdd0f0*B5709472413E0C3EE180E0E9CF4ADEF5570AFF5D10961EF0F22E55F12E659D13?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222c009cee-0000-0800-0000-6192314a0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11976"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/160e6178-548d-4257-bf5e-f63112fdd0f0*B5709472413E0C3EE180E0E9CF4ADEF5570AFF5D10961EF0F22E55F12E659D13",
        "name": "160e6178-548d-4257-bf5e-f63112fdd0f0*B5709472413E0C3EE180E0E9CF4ADEF5570AFF5D10961EF0F22E55F12E659D13",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-701/providers/Microsoft.DeviceUpdate/accounts/Account-5385",
        "status": "Succeeded",
        "startTime": "2021-11-15T10:06:36.2025654Z",
        "endTime": "2021-11-15T10:07:06.8110829Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-701/providers/Microsoft.DeviceUpdate/accounts/Account-5385/instances/Instance-8591?api-version=2020-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "iotHubs": [
            {
              "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DeviceUpdateResourceGroup/providers/Microsoft.Devices/IotHubs/orange-aducpsdktestaccount-iothub"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/71fbc6d7-c878-496d-9255-7d1a8933aecd*16B60F922EECEF4DCC27C5C30[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-701/providers/Microsoft.DeviceUpdate/accounts/Account-5385/instances/Instance-8591?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222a006f65-0000-0800-0000-619232250000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-701/providers/Microsoft.DeviceUpdate/accounts/Account-5385/instances/Instance-8591",
        "name": "Instance-8591",
        "type": "microsoft.deviceupdate/accounts/instances",
        "location": "westus2",
        "systemData": {
          "createdBy": "814cdb39-82c4-4a9a-b57d-82a22becc8f7",
          "createdByType": "Application",
          "createdAt": "2021-11-15T10:07:09.1338125Z",
          "lastModifiedBy": "814cdb39-82c4-4a9a-b57d-82a22becc8f7",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-11-15T10:07:09.1338125Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "accountName": "Account-5385",
          "iotHubs": [
            {
              "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DeviceUpdateResourceGroup/providers/Microsoft.Devices/IotHubs/orange-aducpsdktestaccount-iothub",
              "ioTHubConnectionString": null,
              "eventHubConnectionString": null
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "768786526",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}