{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-3850?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-3850",
        "name": "testRg-3850",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-3850/providers/Microsoft.DeviceUpdate/accounts/Account-6970?api-version=2020-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-03-01-preview, 2021-11-02-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/a491c98e-8e7d-4613-9e27-56b5a8919039*ECCD71EC2151FB5DF9E7E3773BB4927B67A6B1A17838931736020C973ED5B02A?api-version=2020-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223300b0be-0000-0800-0000-61924d2b0000\u0022",
        "x-ms-async-operation-timeout": "PT15M",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-3850/providers/Microsoft.DeviceUpdate/accounts/Account-6970",
        "name": "Account-6970",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "systemData": {
          "createdBy": "814cdb39-82c4-4a9a-b57d-82a22becc8f7",
          "createdByType": "Application",
          "createdAt": "2021-11-15T12:06:01.2395712Z",
          "lastModifiedBy": "814cdb39-82c4-4a9a-b57d-82a22becc8f7",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-11-15T12:06:01.2395712Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "hostName": "account-6970.api.adu.microsoft.com"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/a491c98e-8e7d-4613-9e27-56b5a8919039*ECCD71EC2151FB5DF9E7E3773BB4927B67A6B1A17838931736020C973ED5B02A?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222d00ac9e-0000-0800-0000-61924d2b0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/a491c98e-8e7d-4613-9e27-56b5a8919039*ECCD71EC2151FB5DF9E7E3773BB4927B67A6B1A17838931736020C973ED5B02A",
        "name": "a491c98e-8e7d-4613-9e27-56b5a8919039*ECCD71EC2151FB5DF9E7E3773BB4927B67A6B1A17838931736020C973ED5B02A",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-3850/providers/Microsoft.DeviceUpdate/accounts/Account-6970",
        "status": "Accepted",
        "startTime": "2021-11-15T12:06:03.4081397Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/a491c98e-8e7d-4613-9e27-56b5a8919039*ECCD71EC2151FB5DF9E7E3773BB4927B67A6B1A17838931736020C973ED5B02A?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222d009f9f-0000-0800-0000-61924d460000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11979"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/a491c98e-8e7d-4613-9e27-56b5a8919039*ECCD71EC2151FB5DF9E7E3773BB4927B67A6B1A17838931736020C973ED5B02A",
        "name": "a491c98e-8e7d-4613-9e27-56b5a8919039*ECCD71EC2151FB5DF9E7E3773BB4927B67A6B1A17838931736020C973ED5B02A",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-3850/providers/Microsoft.DeviceUpdate/accounts/Account-6970",
        "status": "Succeeded",
        "startTime": "2021-11-15T12:06:03.4081397Z",
        "endTime": "2021-11-15T12:06:30.7271007Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-3850/providers/Microsoft.DeviceUpdate/accounts/Account-6970/instances/Instance-1707?api-version=2020-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "iotHubs": [
            {
              "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DeviceUpdateResourceGroup/providers/Microsoft.Devices/IotHubs/orange-aducpsdktestaccount-iothub"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/1f49c28a-5a2f-4297-84d2-dba6279732ec*7865BAC069A3E37B5A07A0BD2[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-3850/providers/Microsoft.DeviceUpdate/accounts/Account-6970/instances/Instance-1707?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222b00b7ae-0000-0800-0000-61924e2d0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-3850/providers/Microsoft.DeviceUpdate/accounts/Account-6970/instances/Instance-1707",
        "name": "Instance-1707",
        "type": "microsoft.deviceupdate/accounts/instances",
        "location": "westus2",
        "systemData": {
          "createdBy": "814cdb39-82c4-4a9a-b57d-82a22becc8f7",
          "createdByType": "Application",
          "createdAt": "2021-11-15T12:06:33.2395797Z",
          "lastModifiedBy": "814cdb39-82c4-4a9a-b57d-82a22becc8f7",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-11-15T12:06:33.2395797Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "accountName": "Account-6970",
          "iotHubs": [
            {
              "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DeviceUpdateResourceGroup/providers/Microsoft.Devices/IotHubs/orange-aducpsdktestaccount-iothub",
              "ioTHubConnectionString": null,
              "eventHubConnectionString": null
            }
          ]
        }
      }
    },
[...]
