{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Env": "NonProd",
          "IsHostedOnBehalfOf": "False"
        },
        "subscriptionId": "cf65b9a6-fe0f-4011-881c-aba5a5fb8603",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AzureDeviceUpdate/PPE-MS",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourcegroups/testRg-4216?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-4216",
        "name": "testRg-4216",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Env": "NonProd"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-4216/providers/Microsoft.DeviceUpdate/accounts/Account-6687?api-version=2022-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "sku": "Standard"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-03-01-preview, 2022-04-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/cdf47af3-13cc-4381-b272-b13d337b1b41*4BAE307D96B172787FB870B0267A66678AF5C21049B48AF4CD545CD868CA2B29?api-version=2022-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f503f2d4-0000-0800-0000-629f818f0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-4216/providers/Microsoft.DeviceUpdate/accounts/Account-6687",
        "name": "Account-6687",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "createdByType": "Application",
          "createdAt": "2022-06-07T16:49:17.7991854Z",
          "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-06-07T16:49:17.7991854Z"
        },
        "properties": {
          "sku": "Standard",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/cdf47af3-13cc-4381-b272-b13d337b1b41*4BAE307D96B172787FB870B0267A66678AF5C21049B48AF4CD545CD868CA2B29?api-version=2022-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022d70448ce-0000-0800-0000-629f818f0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/cdf47af3-13cc-4381-b272-b13d337b1b41*4BAE307D96B172787FB870B0267A66678AF5C21049B48AF4CD545CD868CA2B29",
        "name": "cdf47af3-13cc-4381-b272-b13d337b1b41*4BAE307D96B172787FB870B0267A66678AF5C21049B48AF4CD545CD868CA2B29",
        "resourceId": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-4216/providers/Microsoft.DeviceUpdate/accounts/Account-6687",
        "status": "Accepted",
        "startTime": "2022-06-07T16:49:19.3253045Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-4216/providers/Microsoft.DeviceUpdate/accounts/Account-6687?api-version=2022-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f50328d5-0000-0800-0000-629f81b60000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-4216/providers/Microsoft.DeviceUpdate/accounts/Account-6687",
        "name": "Account-6687",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "createdByType": "Application",
          "createdAt": "2022-06-07T16:49:17.7991854Z",
          "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-06-07T16:49:17.7991854Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "hostName": "account-6687.api.adu.microsoft.com",
          "locations": [
            {
              "name": "westus2",
              "role": "Primary"
            },
            {
              "name": "WestCentralUS",
              "role": "Failover"
            }
          ],
          "sku": "Standard",
          "publicNetworkAccess": "Enabled"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-4216/providers/Microsoft.DeviceUpdate/accounts/Account-6687/instances/Instance-2330?api-version=2022-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "iotHubs": [
            {
              "resourceId": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourcegroups/edgarse/providers/Microsoft.Devices/IotHubs/orange-aducpsdktestaccount-iothub"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-03-01-preview, 2022-04-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/4c99[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-4216/providers/Microsoft.DeviceUpdate/accounts/Account-6687/instances/Instance-2330?api-version=2022-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002284040047-0000-0800-0000-629f83820000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-4216/providers/Microsoft.DeviceUpdate/accounts/Account-6687/instances/Instance-2330",
        "name": "Instance-2330",
        "type": "microsoft.deviceupdate/accounts/instances",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "createdByType": "Application",
          "createdAt": "2022-06-07T16:50:30.3381842Z",
          "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-06-07T16:50:30.3381842Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "accountName": "Account-6687",
          "iotHubs": [
            {
              "resourceId": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourcegroups/edgarse/providers/Microsoft.Devices/IotHubs/orange-aducpsdktestaccount-iothub"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-4216/providers/Microsoft.DeviceUpdate/accounts/Account-6687/instances?api-version=2022-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "92c86512-017a-45dd-98ec-31b0fe25f9b1",
          "4aabf6f1-a255-4983-bf56-84170dd45258",
          "ae756a32-4692-479b-9522-96c30e4e0664",
          "5eb3935a-d4d8-4532-bce9-812debdc38c7"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-4216/providers/Microsoft.DeviceUpdate/accounts/Account-6687/instances/Instance-2330",
            "name": "Instance-2330",
            "type": "microsoft.deviceupdate/accounts/instances",
            "location": "westus2",
            "tags": {},
            "systemData": {
              "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
              "createdByType": "Application",
              "createdAt": "2022-06-07T16:50:30.3381842Z",
              "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-06-07T16:50:30.3381842Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "accountName": "Account-6687",
              "iotHubs": [
                {
                  "resourceId": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourcegroups/edgarse/providers/Microsoft.Devices/IotHubs/orange-aducpsdktestaccount-iothub"
                }
              ]
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1087809630",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "cf65b9a6-fe0f-4011-881c-aba5a5fb8603"
  }
}
