{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Env": "NonProd",
          "IsHostedOnBehalfOf": "False"
        },
        "subscriptionId": "a645d3be-5a4a-40ef-82a1-d5f5358a424c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AzureDeviceUpdate/Canary-MS",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourcegroups/testRg-213?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-213",
        "name": "testRg-213",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Env": "NonProd"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-213/providers/Microsoft.DeviceUpdate/accounts/Account-1226?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "sku": "Standard"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-03-01-preview, 2022-04-01-preview, 2022-10-01",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/5e698079-b6b4-4e88-aa18-ad836c803846*F52954C9B93C2E6F9C4BA0EE324D85E30B8F9013A803E40733768DBDFA05DF80?api-version=2022-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ca006387-0000-0800-0000-62f36cab0000\u0022",
        "mise-correlation-id": "1df7577a-74a4-4977-b150-26c606fafb03",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-213/providers/Microsoft.DeviceUpdate/accounts/Account-1226",
        "name": "Account-1226",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "createdByType": "Application",
          "createdAt": "2022-08-10T08:30:34.2769542Z",
          "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-10T08:30:34.2769542Z"
        },
        "properties": {
          "sku": "Standard",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/5e698079-b6b4-4e88-aa18-ad836c803846*F52954C9B93C2E6F9C4BA0EE324D85E30B8F9013A803E40733768DBDFA05DF80?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ea003478-0000-0800-0000-62f36cab0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/5e698079-b6b4-4e88-aa18-ad836c803846*F52954C9B93C2E6F9C4BA0EE324D85E30B8F9013A803E40733768DBDFA05DF80",
        "name": "5e698079-b6b4-4e88-aa18-ad836c803846*F52954C9B93C2E6F9C4BA0EE324D85E30B8F9013A803E40733768DBDFA05DF80",
        "resourceId": "/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-213/providers/Microsoft.DeviceUpdate/accounts/Account-1226",
        "status": "Accepted",
        "startTime": "2022-08-10T08:30:35.2820774Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-213/providers/Microsoft.DeviceUpdate/accounts/Account-1226?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ca00068a-0000-0800-0000-62f36cd30000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-213/providers/Microsoft.DeviceUpdate/accounts/Account-1226",
        "name": "Account-1226",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "createdByType": "Application",
          "createdAt": "2022-08-10T08:30:34.2769542Z",
          "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-10T08:30:34.2769542Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "hostName": "account-1226.api.adu.microsoft.com",
          "locations": [
            {
              "name": "westus2",
              "role": "Primary"
            },
            {
              "name": "WestCentralUS",
              "role": "Failover"
            }
          ],
          "sku": "Standard",
          "publicNetworkAccess": "Enabled"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-213/providers/Microsoft.DeviceUpdate/accounts/Account-1226/instances/Instance-2161?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "iotHubs": [
            {
              "resourceId": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourcegroups/edgarse/providers/Microsoft.Devices/IotHubs/orange-aducpsdktestaccount-iothub"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-03-01-preview, 2022-04-01-preview, 2022-10-01",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationS[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-213/providers/Microsoft.DeviceUpdate/accounts/Account-1226/instances/Instance-2161?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002208009965-0000-0800-0000-62f36e5e0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-213/providers/Microsoft.DeviceUpdate/accounts/Account-1226/instances/Instance-2161",
        "name": "Instance-2161",
        "type": "microsoft.deviceupdate/accounts/instances",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "createdByType": "Application",
          "createdAt": "2022-08-10T08:32:13.7617336Z",
          "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-10T08:32:13.7617336Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "accountName": "Account-1226",
          "iotHubs": [
            {
              "resourceId": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourcegroups/edgarse/providers/Microsoft.Devices/IotHubs/orange-aducpsdktestaccount-iothub"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-213/providers/Microsoft.DeviceUpdate/accounts/Account-1226/instances?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "5814e2ed-5b54-410b-8ccb-3b34465ccd2c",
          "e9c6090b-3fc8-4c5c-a048-1eb89d29802c",
          "a530c85a-6f4f-41e0-8c11-6a2067d51632",
          "8d7bb425-e5f4-46ed-9d1a-9de9bb61d9ca",
          "88d88e87-5fb2-46fc-9e1e-eb02b2f25685",
          "e57ba7cb-41fd-4ff0-b18a-958192b65fbf",
          "1e2bd12b-1f5a-4b9c-9efc-faa6cf9dccd6",
          "3e1f0137-894a-48b2-b8c5-219f01cb5730",
          "6f112398-6bc8-4e6a-b7cd-f59dcc0efcb6",
          "8abbe18c-58ff-409a-ba99-1694f95bbea5",
          "d16f9eb4-b2a4-4db0-8af7-2227d5e68dd1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-213/providers/Microsoft.DeviceUpdate/accounts/Account-1226/instances/Instance-2161",
            "name": "Instance-2161",
            "type": "microsoft.deviceupdate/accounts/instances",
            "location": "westus2",
            "tags": {},
            "systemData": {
              "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
              "createdByType": "Application",
              "createdAt": "2022-08-10T08:32:13.7617336Z",
              "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-08-10T08:32:13.7617336Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "accountName": "Account-1226",
              "iotHubs": [
                {
                  "resourceId": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourcegroups/edgarse/providers/Microsoft.Devices/IotHubs/orange-aducpsdktestaccount-iothub"
                }
              ]
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "782291718",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "a645d3be-5a4a-40ef-82a1-d5f5358a424c"
  }
}
