{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11674"
      },
      "ResponseBody": {
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "b6a8bef9-9220-454a-a229-f360b6e9f0f6",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Event Grid - DevPool 10",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourcegroups/sdktest-15738172?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "DeleteAfter": "2023-06-21T08:43:53.2787868"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1150"
      },
      "ResponseBody": {
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-15738172",
        "name": "sdktest-15738172",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "DeleteAfter": "2023-06-21T08:43:53.2787868"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-15738172/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-2756?api-version=2023-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard",
          "capacity": 1
        },
        "tags": {
          "originalTag1": "originalValue1",
          "originalTag2": "originalValue2"
        },
        "location": "eastus2euap",
        "properties": {
          "isZoneRedundant": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/F39BB8B9-C469-407E-8A33-799AE4120294?api-version=2021-10-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1149"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Creating",
          "isZoneRedundant": true,
          "publicNetworkAccess": "Enabled",
          "inboundIpRules": null,
          "minimumTlsVersionAllowed": "1.2"
        },
        "sku": {
          "name": "Standard",
          "capacity": 1
        },
        "systemData": null,
        "location": "eastus2euap",
        "tags": {
          "originalTag1": "originalValue1",
          "originalTag2": "originalValue2"
        },
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-15738172/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-2756",
        "name": "sdk-Namespace-2756",
        "type": "Microsoft.EventGrid/namespaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/F39BB8B9-C469-407E-8A33-799AE4120294?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11673"
      },
      "ResponseBody": {
        "id": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/F39BB8B9-C469-407E-8A33-799AE4120294?api-version=2023-06-01-preview",
        "name": "f39bb8b9-c469-407e-8a33-799ae4120294",
        "status": "Active"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-15738172/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-2756?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11665"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "topicsConfiguration": {
            "hostname": "sdk-namespace-2756.eastus2euap-1.eventgrid.azure.net"
          },
          "isZoneRedundant": true,
          "publicNetworkAccess": "Enabled",
          "inboundIpRules": null,
          "minimumTlsVersionAllowed": "1.2"
        },
        "sku": {
          "name": "Standard",
          "capacity": 1
        },
        "systemData": null,
        "location": "eastus2euap",
        "tags": {
          "originalTag1": "originalValue1",
          "originalTag2": "originalValue2"
        },
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-15738172/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-2756",
        "name": "sdk-Namespace-2756",
        "type": "Microsoft.EventGrid/namespaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-15738172/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-2756/topics/sdk-Namespace-Topic4097?api-version=2023-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "eventRetentionInDays": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/14095D3A-B45D-49B3-8A4E-A93F1B8B17C1?api-version=2021-10-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1148"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Creating",
          "publisherType": "Custom",
          "eventRetentionInDays": 1
        },
        "systemData": null,
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-15738172/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-2756/topics/sdk-Namespace-Topic4097",
        "name": "sdk-Namespace-Topic4097",
        "type": "Microsoft.EventGrid/namespaces/topics"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-15738172/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-2756/topics/sdk-Namespace-Topic4097?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11659"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "publisherType": "Custom",
          "inputSchema": "CloudEventSchemaV1_0",
          "eventRetentionInDays": 1
        },
        "systemData": null,
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-15738172/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-2756/topics/sdk-Namespace-Topic4097",
        "name": "sdk-Namespace-Topic4097",
        "type": "Microsoft.EventGrid/namespaces/topics"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-15738172/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-2756/topics/sdk-Namespace-Topic4097?api-version=2023-06-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "eventRetentionInDays": 1
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/54F387B3-6E5B-4D2A-96A0-DEFCB6FA4F8E?api-version=2021-10-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationResults/54F387B3-6E5B-4D2A-96A0-DEFCB6FA4F8E?api-version=2021-10-15-preview",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1145"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Updating",
          "publisherType": "Custom",
          "inputSchema": "CloudEventSchemaV1_0",
          "eventRetentionInDays": 1
        },
        "systemData": null,
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-15738172/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-2756/topics/sdk-Namespace-Topic4097",
        "name": "sdk-Namespace-Topic4097",
        "type": "Microsoft.EventGrid/namespaces/topics"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-15738172/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-2756/topics/sdk-Namespace-Topic4097/listKeys?api-version=2023-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "key1": "yvqorh9IVCRs0kdEiKZcTwpWTTdNCtlfPoq\u002BwG3BT5E=",
        "key2": "Qre9HviGUUL\u002B\u002BrDhogOc3QXEwkRffckaw3qzr5eoups="
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-15738172/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-2756/topics/sdk-Namespace-Topic4097/regenerateKey?api-version=2023-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyName": "key1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "key1": "Uw9uwLUKPeOCEKzWPKQD9B5i/sxYzTLp3zGidfWdcPo=",
        "key2": "Qre9HviGUUL\u002B\u002BrDhogOc3QXEwkRffckaw3qzr5eoups="
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-15738172/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-2756/topics?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11643"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded",
              "publisherType": "Custom",
              "inputSchema": "CloudEventSchemaV1_0",
              "eventRetentionInDays": 1
            },
            "systemData": null,
            "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-15738172/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-2756/topics/sdk-Namespace-Topic4097",
            "name": "sdk-Namespa[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TREtURVNUOjJEMTU3MzgxNzItRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TREtURVNUOjJEMTU3MzgxNzItRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2022-09-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11619"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TREtURVNUOjJEMTU3MzgxNzItRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11618"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DateTimeOffsetNow": "2023-06-20T17:43:53.2787868-07:00",
    "RandomSeed": "704422353",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "b6a8bef9-9220-454a-a229-f360b6e9f0f6"
  }
}
