{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11936"
      },
      "ResponseBody": {
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "b6a8bef9-9220-454a-a229-f360b6e9f0f6",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Event Grid - DevPool 10",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourcegroups/sdktest-93648234?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "DeleteAfter": "2023-06-26T13:19:13.6238175"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-93648234",
        "name": "sdktest-93648234",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "DeleteAfter": "2023-06-26T13:19:13.6238175"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-93648234/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-4168?api-version=2023-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard",
          "capacity": 1
        },
        "tags": {
          "originalTag1": "originalValue1",
          "originalTag2": "originalValue2"
        },
        "location": "eastus2euap",
        "properties": {
          "isZoneRedundant": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/9894E2A6-1BA8-497E-A02D-ED151CE1EAF6?api-version=2021-10-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Creating",
          "isZoneRedundant": true,
          "publicNetworkAccess": "Enabled",
          "inboundIpRules": null,
          "minimumTlsVersionAllowed": "1.2"
        },
        "sku": {
          "name": "Standard",
          "capacity": 1
        },
        "systemData": null,
        "location": "eastus2euap",
        "tags": {
          "originalTag1": "originalValue1",
          "originalTag2": "originalValue2"
        },
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-93648234/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-4168",
        "name": "sdk-Namespace-4168",
        "type": "Microsoft.EventGrid/namespaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/9894E2A6-1BA8-497E-A02D-ED151CE1EAF6?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11935"
      },
      "ResponseBody": {
        "id": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/9894E2A6-1BA8-497E-A02D-ED151CE1EAF6?api-version=2023-06-01-preview",
        "name": "9894e2a6-1ba8-497e-a02d-ed151ce1eaf6",
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-93648234/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-4168?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11928"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "topicsConfiguration": {
            "hostname": "sdk-namespace-4168.eastus2euap-1.eventgrid.azure.net"
          },
          "isZoneRedundant": true,
          "publicNetworkAccess": "Enabled",
          "inboundIpRules": null,
          "minimumTlsVersionAllowed": "1.2"
        },
        "sku": {
          "name": "Standard",
          "capacity": 1
        },
        "systemData": null,
        "location": "eastus2euap",
        "tags": {
          "originalTag1": "originalValue1",
          "originalTag2": "originalValue2"
        },
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-93648234/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-4168",
        "name": "sdk-Namespace-4168",
        "type": "Microsoft.EventGrid/namespaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-93648234/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-4168/topics/sdk-Namespace-Topic6570?api-version=2023-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "eventRetentionInDays": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/E756BE5D-2A9F-45A2-A949-C63154FB5006?api-version=2021-10-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Creating",
          "publisherType": "Custom",
          "eventRetentionInDays": 1
        },
        "systemData": null,
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-93648234/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-4168/topics/sdk-Namespace-Topic6570",
        "name": "sdk-Namespace-Topic6570",
        "type": "Microsoft.EventGrid/namespaces/topics"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-93648234/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-4168/topics/sdk-Namespace-Topic6570?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11923"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "publisherType": "Custom",
          "inputSchema": "CloudEventSchemaV1_0",
          "eventRetentionInDays": 1
        },
        "systemData": null,
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-93648234/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-4168/topics/sdk-Namespace-Topic6570",
        "name": "sdk-Namespace-Topic6570",
        "type": "Microsoft.EventGrid/namespaces/topics"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-93648234/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-4168/topics/sdk-Namespace-Topic6570/eventSubscriptions/sdk-Namespace-Topic-Subscription597?api-version=2023-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "deliveryConfiguration": {
            "deliveryMode": "Queue",
            "queue": {
              "receiveLockDurationInSeconds": 120,
              "maxDeliveryCount": 5,
              "eventTimeToLive": "P1D"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/57FEB43E-0F33-4C10-B823-A2B82FCD6863?api-version=2021-10-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Creating",
          "deliveryConfiguration": {
            "deliveryMode": "Queue",
            "queue": {
              "receiveLockDurationInSeconds": 120,
              "maxDeliveryCount": 5,
              "eventTimeToLive": "P1D"
            }
          }
        },
        "systemData": null,
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-93648234/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-4168/topics/sdk-Namespace-Topic6570/eventSubscriptions/sdk-Namespace-Topic-Subscription597",
        "name": "sdk-Namespace-Topic-Subscription597",
        "type": "Microsoft.EventGrid/namespaces/topics/eventSubscriptions"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-93648234/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-4168/topics/sdk-Namespace-Topic6570/eventSubscriptions/sdk-Namespace-Topic-Subscription597?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11917"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "deliveryConfiguration": {
            "deliveryMode": "Queue",
            "queue": {
              "receiveLockDurationInSeconds": 120,
              "maxDeliveryCount": 5,
              "eventTimeToLive": "P1D"
            }
          },
          "eventDeliverySchema": "CloudEventSchemaV1_0"
        },
        "systemData": null,
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-93648234/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-4168/topics/sdk-Namespace-Topic6570/eventSubscriptions/sdk-Namespace-Topic-Subscription597",
        "name": "sdk-Namespace-Topic-Subscription597",
        "type": "Microsoft.EventGrid/namespaces/topics/eventSubscriptions"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-93648234/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-4168/topics/sdk-Namespace-Topic6570/eventSubscriptions/sdk-Namespace-Topic-Subscription597?api-version=2023-06-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "deliveryConfiguration": {
            "deliveryMode": "Queue",
            "queue": {
              "receiveLockDurationInSeconds": 120,
              "maxDeliveryCount": 6,
              "eventTimeToLive": "PT12H"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/C81998DF-7B84-4E58-B8DF-F0188D324A73?api-version=2021-10-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationResults/C81998DF-7B84-4E58-B8DF-F0188D324A73?api-version=2021-10-15-preview",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Updating",
          "deliveryConfiguration": {
            "deliveryMode": "Queue",
            "queue": {
              "receiveLockDurationInSeconds": 120,
              "maxDeliveryCount": 6,
              "eventTimeToLive": "PT12H"
            }
          },
          "eventDeliverySchema": "CloudEventSchemaV1_0"
        },
        "systemData": null,
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-93648234/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-4168/topics/sdk-Namespace-Topic6570/eventSubscriptions/sdk-Namespace-Topic-Subscription597",
        "name": "sdk-Namespace-Topic-Subscription597",
        "type": "Microsoft.EventGrid/namespaces/topics/eventSubscriptions"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-93648234/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-4168/topics/sdk-Namespace-Topic6570/eventSubscriptions?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11899"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded",
              "deliveryConfiguration": {
                "deliveryMode": "Queue",
                "queue": {
                  "receiveLockDurationInSeconds": 120,
                  "maxDeliveryCount": 6,
                  "eventTimeToLive": "PT12H"
                }
              },
              "eventDeliverySchema": "CloudEventSchemaV1_0"
            },
            "systemData": null,
            "id":[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TREtURVNUOjJEOTM2NDgyMzQtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TREtURVNUOjJEOTM2NDgyMzQtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2022-09-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11874"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TREtURVNUOjJEOTM2NDgyMzQtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DateTimeOffsetNow": "2023-06-25T22:19:13.6238175-07:00",
    "RandomSeed": "94230152",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "b6a8bef9-9220-454a-a229-f360b6e9f0f6"
  }
}
