{
  "Entries": [
    {
      "RequestUri": "/templeton/v1/mapreduce/jar?user.name=admin",
      "RequestMethod": "POST",
      "RequestBody": "jar=%2Fexample%2Fjars%2Fhadoop-mapreduce-examples.jar&class=pi&arg=10&arg=1000&define=mapreduce.map.maxattempts%3D10&define=mapreduce.reduce.maxattempts%3D10&define=mapreduce.task.timeout%3D60000&statusdir=2016-04-18T19-57-44-6b028ac4-5158-4404-b743-5089c3c074fc",
      "RequestHeaders": {
        "Content-Type": [
          "application/text"
        ],
        "useragent": [
          "HDInsight Job SDK .Net 2.0.1.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"job_1460573144061_0091\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-hdi-servedby": [
          "GATEWAY1"
        ],
        "x-ms-hdi-active": [
          "headnode0.pattipakawin33.d6.internal.cloudapp.net"
        ],
        "x-ms-leader-detect-time": [
          "0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/templeton/v1/jobs/job_1460573144061_0091?user.name=admin&fields=*",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "HDInsight Job SDK .Net 2.0.1.0"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": {\r\n    \"mapProgress\": 0.0,\r\n    \"reduceProgress\": 0.0,\r\n    \"cleanupProgress\": 0.0,\r\n    \"setupProgress\": 0.0,\r\n    \"runState\": 4,\r\n    \"startTime\": 1461009466547,\r\n    \"queue\": \"default\",\r\n    \"priority\": \"NORMAL\",\r\n    \"schedulingInfo\": \"NA\",\r\n    \"failureInfo\": \"NA\",\r\n    \"jobACLs\": {},\r\n    \"jobName\": \"TempletonControllerJob\",\r\n    \"jobFile\": \"/user/admin/.staging/job_1460573144061_0091/job.xml\",\r\n    \"finishTime\": 0,\r\n    \"historyFile\": \"\",\r\n    \"trackingUrl\": \"http://headnodehost:9014/proxy/application_1460573144061_0091/\",\r\n    \"numUsedSlots\": 0,\r\n    \"numReservedSlots\": 0,\r\n    \"usedMem\": 0,\r\n    \"reservedMem\": 0,\r\n    \"neededMem\": 0,\r\n    \"jobPriority\": \"NORMAL\",\r\n    \"jobID\": {\r\n      \"id\": 91,\r\n      \"jtIdentifier\": \"1460573144061\"\r\n    },\r\n    \"username\": \"admin\",\r\n    \"jobId\": \"job_1460573144061_0091\",\r\n    \"state\": \"PREP\",\r\n    \"jobComplete\": false,\r\n    \"retired\": false,\r\n    \"uber\": false\r\n  },\r\n  \"profile\": {\r\n    \"user\": \"admin\",\r\n    \"jobFile\": \"/user/admin/.staging/job_1460573144061_0091/job.xml\",\r\n    \"url\": \"http://headnodehost:9014/proxy/application_1460573144061_0091/\",\r\n    \"queueName\": \"default\",\r\n    \"jobID\": {\r\n      \"id\": 91,\r\n      \"jtIdentifier\": \"1460573144061\"\r\n    },\r\n    \"jobName\": \"TempletonControllerJob\",\r\n    \"jobId\": \"job_1460573144061_0091\"\r\n  },\r\n  \"id\": \"job_1460573144061_0091\",\r\n  \"parentId\": null,\r\n  \"percentComplete\": null,\r\n  \"exitValue\": null,\r\n  \"user\": \"admin\",\r\n  \"callback\": null,\r\n  \"completed\": null,\r\n  \"userargs\": {\r\n    \"statusdir\": \"2016-04-18T19-57-44-6b028ac4-5158-4404-b743-5089c3c074fc\",\r\n    \"define\": [\r\n      \"mapreduce.map.maxattempts=10\",\r\n      \"mapreduce.reduce.maxattempts=10\",\r\n      \"mapreduce.task.timeout=60000\"\r\n    ],\r\n    \"arg\": [\r\n      \"10\",\r\n      \"1000\"\r\n    ],\r\n    \"files\": null,\r\n    \"enablelog\": \"false\",\r\n    \"libjars\": null,\r\n    \"user.name\": \"admin\",\r\n    \"jar\": \"/example/jars/hadoop-mapreduce-examples.jar\",\r\n    \"callback\": null,\r\n    \"class\": \"pi\",\r\n    \"enablejobreconnect\": null\r\n  },\r\n  \"msg\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-hdi-servedby": [
          "GATEWAY1"
        ],
        "x-ms-hdi-active": [
          "headnode0.pattipakawin33.d6.internal.cloudapp.net"
        ],
        "x-ms-leader-detect-time": [
          "0"
        ]
      },
      "StatusCode": 200
    },
[...]
