{
  "Entries": [
    {
      "RequestUri": "/templeton/v1/sqoop?user.name=admin",
      "RequestMethod": "POST",
      "RequestBody": "command=import%20--connect%20jdbc%3Asqlserver%3A%2F%2Fhdinsightjobtest.database.windows.net%3A1433%3Bdatabase%3DHdInsightJobTest%3Buser%3Djobtest%40hdinsightjobtest%3Bpassword%3DPassword%401%3B%20--table%20dept%20--warehouse-dir%20%2Fuser%2Fadmin%2Fsqoop%2F44397b72-a02b-472a-b5a0-69fa54064b2d%20--hive-import%20-m%201%20--hive-table%20dept47f4865b4a4a44b3a4ae72afa2a3d26a&statusdir=SqoopStatus",
      "RequestHeaders": {
        "Content-Type": [
          "application/text"
        ],
        "useragent": [
          "HDInsight Job SDK .Net 2.0.3.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"job_1461849598908_0123\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-hdi-servedby": [
          "GATEWAY1"
        ],
        "x-ms-hdi-active": [
          "headnode0.pattipakawin33.d6.internal.cloudapp.net"
        ],
        "x-ms-leader-detect-time": [
          "0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/ws/v1/cluster/apps/application_1461849598908_0123/state",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "HDInsight Job SDK .Net 2.0.3.0"
        ]
      },
      "ResponseBody": "{\r\n  \"state\": \"ACCEPTED\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-hdi-servedby": [
          "GATEWAY1"
        ],
        "x-ms-hdi-active": [
          "headnode0.pattipakawin33.d6.internal.cloudapp.net"
        ],
        "x-ms-leader-detect-time": [
          "0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/templeton/v1/jobs/job_1461849598908_0123?user.name=admin&fields=*",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "HDInsight Job SDK .Net 2.0.3.0"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": {\r\n    \"mapProgress\": 1.0,\r\n    \"reduceProgress\": 1.0,\r\n    \"cleanupProgress\": 0.0,\r\n    \"setupProgress\": 0.0,\r\n    \"runState\": 2,\r\n    \"startTime\": 1462827946331,\r\n    \"queue\": \"default\",\r\n    \"priority\": \"NORMAL\",\r\n    \"schedulingInfo\": \"NA\",\r\n    \"failureInfo\": \"NA\",\r\n    \"jobACLs\": {},\r\n    \"jobName\": \"TempletonControllerJob\",\r\n    \"jobFile\": \"wasb://pattipakawin33@pattipakastorageaccount.blob.core.windows.net/mapred/history/done/2016/05/09/000000/job_1461849598908_0123_conf.xml\",\r\n    \"finishTime\": 1462828038940,\r\n    \"historyFile\": \"\",\r\n    \"trackingUrl\": \"headnode0.pattipakawin33.d6.internal.cloudapp.net:19888/jobhistory/job/job_1461849598908_0123\",\r\n    \"numUsedSlots\": 0,\r\n    \"numReservedSlots\": 0,\r\n    \"usedMem\": 0,\r\n    \"reservedMem\": 0,\r\n    \"neededMem\": 0,\r\n    \"jobID\": {\r\n      \"id\": 123,\r\n      \"jtIdentifier\": \"1461849598908\"\r\n    },\r\n    \"jobPriority\": \"NORMAL\",\r\n    \"jobId\": \"job_1461849598908_0123\",\r\n    \"username\": \"admin\",\r\n    \"state\": \"SUCCEEDED\",\r\n    \"jobComplete\": true,\r\n    \"retired\": false,\r\n    \"uber\": false\r\n  },\r\n  \"profile\": {\r\n    \"user\": \"admin\",\r\n    \"jobFile\": \"wasb://pattipakawin33@pattipakastorageaccount.blob.core.windows.net/mapred/history/done/2016/05/09/000000/job_1461849598908_0123_conf.xml\",\r\n    \"url\": null,\r\n    \"queueName\": \"default\",\r\n    \"jobID\": {\r\n      \"id\": 123,\r\n      \"jtIdentifier\": \"1461849598908\"\r\n    },\r\n    \"jobName\": \"TempletonControllerJob\",\r\n    \"jobId\": \"job_1461849598908_0123\"\r\n  },\r\n  \"id\": \"job_1461849598908_0123\",\r\n  \"parentId\": null,\r\n  \"percentComplete\": \"map 100% reduce 0%\",\r\n  \"exitValue\": 0,\r\n  \"user\": \"admin\",\r\n  \"callback\": null,\r\n  \"completed\": \"done\",\r\n  \"userargs\": {\r\n    \"statusdir\": \"SqoopStatus\",\r\n    \"optionsfile\": null,\r\n    \"files\": null,\r\n    \"enablelog\": \"false\",\r\n    \"user.name\": \"admin\",\r\n    \"callback\": null,\r\n    \"command\": \"import --connect jdbc:sqlserver://hdinsightjobtest.database.windows.net:1433;database=HdInsightJobTest;user=jobtest@hdinsightjobtest;password=Password@1; --table dept --warehouse-dir /user/admin/sqoop/44397b72-a02b-472a-b5a0-69fa54064b2d --hive-import -m 1 --hive-table dept47f4865b4a4a44b3a4ae72afa2a3d26a\",\r\n    \"enablejobreconnect\": null,\r\n    \"libdir\": null\r\n  },\r\n  \"msg\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-hdi-servedby": [
          "GATEWAY1"
        ],
        "x-ms-hdi-active": [
          "headnode0.pattipakawin33.d6.internal.cloudapp.net"
        ],
        "x-ms-leader-detect-time": [
          "0"
        ]
      },
      "StatusCode": 200
    },
[...]
