{
  "Entries": [
    {
      "RequestUri": "/templeton/v1/mapreduce/jar?user.name=admin",
      "RequestMethod": "POST",
      "RequestBody": "user.name=admin&jar=/example/jars/hadoop-mapreduce-examples.jar&class=pi&define=mapreduce.map.maxattempts%3D10&define=mapreduce.reduce.maxattempts%3D10&define=mapreduce.task.timeout%3D60000&arg=10&arg=1000&statusdir=&enablelog=&LibJars=&Files=",
      "RequestHeaders": {
        "Content-Type": [
          "application/text"
        ],
        "useragent": [
          "xplat MapReduce job submission"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"job_1441022937859_0015\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-hdi-servedby": [
          "GATEWAY0"
        ],
        "x-ms-hdi-active": [
          "headnode0.nemadj-prod-sdk.b4.internal.cloudapp.net"
        ],
        "x-ms-leader-detect-time": [
          "0"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}