{
  "Entries": [
    {
      "RequestUri": "/templeton/v1/pig?user.name=admin",
      "RequestMethod": "POST",
      "RequestBody": "user.name=admin&execute=records = LOAD '/example/pig/sahara-paleo-fauna.txt' AS (DateBP:int, Loc:chararray, Coordinates:chararray, Samples:chararray, Country:chararray, Laboratory:chararray);filtered_records = FILTER records by Country == 'Egypt' OR Country == 'Morocco';grouped_records = GROUP filtered_records BY Country;DUMP grouped_records;&file=&arg=&files=&statusdir=&enablelog=",
      "RequestHeaders": {
        "Content-Type": [
          "application/text"
        ],
        "useragent": [
          "xplat Hive job submission"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"job_1441139801399_0057\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}