{
  "Entries": [
    {
      "RequestUri": "/templeton/v1/pig?user.name=admin",
      "RequestMethod": "POST",
      "RequestBody": "execute=LOGS%20%3D%20LOAD%20%27wasb%3A%2F%2F%2Fexample%2Fdata%2Fsample.log%27%3BLEVELS%20%3D%20foreach%20LOGS%20generate%20REGEX_EXTRACT%28%240%2C%20%27%28TRACE%7CDEBUG%7CINFO%7CWARN%7CERROR%7CFATAL%29%27%2C%201%29%20%20as%20LOGLEVEL%3BFILTEREDLEVELS%20%3D%20FILTER%20LEVELS%20by%20LOGLEVEL%20is%20not%20null%3BGROUPEDLEVELS%20%3D%20GROUP%20FILTEREDLEVELS%20by%20LOGLEVEL%3BFREQUENCIES%20%3D%20foreach%20GROUPEDLEVELS%20generate%20group%20as%20LOGLEVEL%2C%20COUNT%28FILTEREDLEVELS.LOGLEVEL%29%20as%20COUNT%3BRESULT%20%3D%20order%20FREQUENCIES%20by%20COUNT%20desc%3BDUMP%20RESULT%3B&statusdir=2016-05-09T20-54-08-3cb2c95e-76b9-4653-ac24-cc83a0ceddef",
      "RequestHeaders": {
        "Content-Type": [
          "application/text"
        ],
        "useragent": [
          "HDInsight Job SDK .Net 2.0.3.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"job_1462754318084_0061\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/ws/v1/cluster/apps/application_1462754318084_0061/state",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "HDInsight Job SDK .Net 2.0.3.0"
        ]
      },
      "ResponseBody": "{\r\n  \"state\": \"ACCEPTED\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/templeton/v1/jobs/job_1462754318084_0061?user.name=admin&fields=*",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "HDInsight Job SDK .Net 2.0.3.0"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": {\r\n    \"mapProgress\": 1.0,\r\n    \"reduceProgress\": 1.0,\r\n    \"cleanupProgress\": 0.0,\r\n    \"setupProgress\": 0.0,\r\n    \"runState\": 2,\r\n    \"startTime\": 1462827258406,\r\n    \"queue\": \"default\",\r\n    \"priority\": \"NORMAL\",\r\n    \"schedulingInfo\": \"NA\",\r\n    \"failureInfo\": \"NA\",\r\n    \"jobACLs\": {},\r\n    \"jobName\": \"TempletonControllerJob\",\r\n    \"jobFile\": \"wasb://pattipakalinux340@pattipakalinux.blob.core.windows.net/mr-history/done/2016/05/09/000000/job_1462754318084_0061_conf.xml\",\r\n    \"finishTime\": 1462827388753,\r\n    \"historyFile\": \"\",\r\n    \"trackingUrl\": \"hn0-pattip.5myeek1qjnme1m5xbpq3oj3vbh.dx.internal.cloudapp.net:19888/jobhistory/job/job_1462754318084_0061\",\r\n    \"numUsedSlots\": 0,\r\n    \"numReservedSlots\": 0,\r\n    \"usedMem\": 0,\r\n    \"reservedMem\": 0,\r\n    \"neededMem\": 0,\r\n    \"jobId\": \"job_1462754318084_0061\",\r\n    \"username\": \"admin\",\r\n    \"jobID\": {\r\n      \"id\": 61,\r\n      \"jtIdentifier\": \"1462754318084\"\r\n    },\r\n    \"jobPriority\": \"NORMAL\",\r\n    \"jobComplete\": true,\r\n    \"retired\": false,\r\n    \"uber\": false,\r\n    \"state\": \"SUCCEEDED\"\r\n  },\r\n  \"profile\": {\r\n    \"user\": \"admin\",\r\n    \"jobFile\": \"wasb://pattipakalinux340@pattipakalinux.blob.core.windows.net/mr-history/done/2016/05/09/000000/job_1462754318084_0061_conf.xml\",\r\n    \"url\": null,\r\n    \"queueName\": \"default\",\r\n    \"jobId\": \"job_1462754318084_0061\",\r\n    \"jobID\": {\r\n      \"id\": 61,\r\n      \"jtIdentifier\": \"1462754318084\"\r\n    },\r\n    \"jobName\": \"TempletonControllerJob\"\r\n  },\r\n  \"id\": \"job_1462754318084_0061\",\r\n  \"parentId\": null,\r\n  \"percentComplete\": \"100% complete\",\r\n  \"exitValue\": 0,\r\n  \"user\": \"admin\",\r\n  \"callback\": null,\r\n  \"completed\": \"done\",\r\n  \"userargs\": {\r\n    \"statusdir\": \"2016-05-09T20-54-08-3cb2c95e-76b9-4653-ac24-cc83a0ceddef\",\r\n    \"files\": null,\r\n    \"arg\": [],\r\n    \"enablelog\": \"false\",\r\n    \"execute\": \"LOGS = LOAD 'wasb:///example/data/sample.log';LEVELS = foreach LOGS generate REGEX_EXTRACT($0, '(TRACE|DEBUG|INFO|WARN|ERROR|FATAL)', 1)  as LOGLEVEL;FILTEREDLEVELS = FILTER LEVELS by LOGLEVEL is not null;GROUPEDLEVELS = GROUP FILTEREDLEVELS by LOGLEVEL;FREQUENCIES = foreach GROUPEDLEVELS generate group as LOGLEVEL, COUNT(FILTEREDLEVELS.LOGLEVEL) as COUNT;RESULT = order FREQUENCIES by COUNT desc;DUMP RESULT;\",\r\n    \"user.name\": \"admin\",\r\n    \"file\": null,\r\n    \"callback\": null,\r\n    \"enablejobreconnect\": null\r\n  },\r\n  \"msg\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "StatusCode": 200
    },
[...]
