{
  "Entries": [
    {
      "RequestUri": "/templeton/v1/sqoop?user.name=admin",
      "RequestMethod": "POST",
      "RequestBody": "command=import%20--connect%20jdbc%3Asqlserver%3A%2F%2Fhdinsightjobtest.database.windows.net%3A1433%3Bdatabase%3DHdInsightJobTest%3Buser%3D%3B3B%20--table%20dept%20--warehouse-dir%20%2Fuser%2Fadmin%2Fsqoop%2F80fdddb1-f14b-4d4a-ac89-4f9e6ecbaa0b%20--hive-import%20-m%201%20--hive-table%20depte824e8366d4e4e139b8f0180bc6542d6&statusdir=SqoopStatus",
      "RequestHeaders": {
        "Content-Type": [
          "application/text"
        ],
        "useragent": [
          "HDInsight Job SDK .Net 2.0.1.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"job_1460573144061_0110\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-hdi-servedby": [
          "GATEWAY1"
        ],
        "x-ms-hdi-active": [
          "headnode0.pattipakawin33.d6.internal.cloudapp.net"
        ],
        "x-ms-leader-detect-time": [
          "0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/templeton/v1/jobs/job_1460573144061_0110?user.name=admin&fields=*",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "HDInsight Job SDK .Net 2.0.1.0"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": {\r\n    \"mapProgress\": 0.0,\r\n    \"reduceProgress\": 0.0,\r\n    \"cleanupProgress\": 0.0,\r\n    \"setupProgress\": 0.0,\r\n    \"runState\": 4,\r\n    \"startTime\": 1461105374089,\r\n    \"queue\": \"default\",\r\n    \"priority\": \"NORMAL\",\r\n    \"schedulingInfo\": \"NA\",\r\n    \"failureInfo\": \"NA\",\r\n    \"jobACLs\": {},\r\n    \"jobName\": \"TempletonControllerJob\",\r\n    \"jobFile\": \"/user/admin/.staging/job_1460573144061_0110/job.xml\",\r\n    \"finishTime\": 0,\r\n    \"historyFile\": \"\",\r\n    \"trackingUrl\": \"http://headnodehost:9014/proxy/application_1460573144061_0110/\",\r\n    \"numUsedSlots\": 0,\r\n    \"numReservedSlots\": 0,\r\n    \"usedMem\": 0,\r\n    \"reservedMem\": 0,\r\n    \"neededMem\": 0,\r\n    \"jobPriority\": \"NORMAL\",\r\n    \"jobID\": {\r\n      \"id\": 110,\r\n      \"jtIdentifier\": \"1460573144061\"\r\n    },\r\n    \"username\": \"admin\",\r\n    \"jobId\": \"job_1460573144061_0110\",\r\n    \"state\": \"PREP\",\r\n    \"jobComplete\": false,\r\n    \"retired\": false,\r\n    \"uber\": false\r\n  },\r\n  \"profile\": {\r\n    \"user\": \"admin\",\r\n    \"jobFile\": \"/user/admin/.staging/job_1460573144061_0110/job.xml\",\r\n    \"url\": \"http://headnodehost:9014/proxy/application_1460573144061_0110/\",\r\n    \"queueName\": \"default\",\r\n    \"jobID\": {\r\n      \"id\": 110,\r\n      \"jtIdentifier\": \"1460573144061\"\r\n    },\r\n    \"jobName\": \"TempletonControllerJob\",\r\n    \"jobId\": \"job_1460573144061_0110\"\r\n  },\r\n  \"id\": \"job_1460573144061_0110\",\r\n  \"parentId\": null,\r\n  \"percentComplete\": null,\r\n  \"exitValue\": null,\r\n  \"user\": \"admin\",\r\n  \"callback\": null,\r\n  \"completed\": null,\r\n  \"userargs\": {\r\n    \"statusdir\": \"SqoopStatus\",\r\n    \"optionsfile\": null,\r\n    \"files\": null,\r\n    \"enablelog\": \"false\",\r\n    \"user.name\": \"admin\",\r\n    \"callback\": null,\r\n    \"command\": \"import --connect jdbc:sqlserver://hdinsightjobtest.database.windows.net:1433;database=HdInsightJobTest;user=;; --table dept --warehouse-dir /user/admin/sqoop/80fdddb1-f14b-4d4a-ac89-4f9e6ecbaa0b --hive-import -m 1 --hive-table depte824e8366d4e4e139b8f0180bc6542d6\",\r\n    \"enablejobreconnect\": null,\r\n    \"libdir\": null\r\n  },\r\n  \"msg\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-hdi-servedby": [
          "GATEWAY1"
        ],
        "x-ms-hdi-active": [
          "headnode0.pattipakawin33.d6.internal.cloudapp.net"
        ],
        "x-ms-leader-detect-time": [
          "0"
        ]
      },
      "StatusCode": 200
    },
[...]
