{
  "Entries": [
    {
      "RequestUri": "/templeton/v1/mapreduce/streaming?user.name=admin",
      "RequestMethod": "POST",
      "RequestBody": "input=%2Fexample%2Fdata%2Fgutenberg%2Fdavinci.txt&output=%2Fexample%2Fdata%2Fgutenberg%2Fwcount%2F023f0a34-5bfe-4b6d-bb40-fd0100e3261b&mapper=cat&reducer=wc&statusdir=2016-04-19T22-46-32-b5a8c0b3-d9b6-4893-9419-93d4ff183be7",
      "RequestHeaders": {
        "Content-Type": [
          "application/text"
        ],
        "useragent": [
          "HDInsight Job SDK .Net 2.0.1.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"job_1460939678768_0074\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/templeton/v1/jobs/job_1460939678768_0074?user.name=admin&fields=*",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "HDInsight Job SDK .Net 2.0.1.0"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": {\r\n    \"mapProgress\": 0.0,\r\n    \"reduceProgress\": 0.0,\r\n    \"cleanupProgress\": 0.0,\r\n    \"setupProgress\": 0.0,\r\n    \"runState\": 4,\r\n    \"startTime\": 1461105995223,\r\n    \"queue\": \"default\",\r\n    \"priority\": \"NORMAL\",\r\n    \"schedulingInfo\": \"NA\",\r\n    \"failureInfo\": \"NA\",\r\n    \"jobACLs\": {},\r\n    \"jobName\": \"TempletonControllerJob\",\r\n    \"jobFile\": \"/mapreducestaging/admin/.staging/job_1460939678768_0074/job.xml\",\r\n    \"finishTime\": 0,\r\n    \"historyFile\": \"\",\r\n    \"trackingUrl\": \"http://hn0-pattip.d2cmq52jtndulpo2pcweyyzj1d.dx.internal.cloudapp.net:8088/proxy/application_1460939678768_0074/\",\r\n    \"numUsedSlots\": 0,\r\n    \"numReservedSlots\": 0,\r\n    \"usedMem\": 0,\r\n    \"reservedMem\": 0,\r\n    \"neededMem\": 0,\r\n    \"username\": \"admin\",\r\n    \"jobId\": \"job_1460939678768_0074\",\r\n    \"jobID\": {\r\n      \"id\": 74,\r\n      \"jtIdentifier\": \"1460939678768\"\r\n    },\r\n    \"jobPriority\": \"NORMAL\",\r\n    \"jobComplete\": false,\r\n    \"retired\": false,\r\n    \"uber\": false,\r\n    \"state\": \"PREP\"\r\n  },\r\n  \"profile\": {\r\n    \"user\": \"admin\",\r\n    \"jobFile\": \"/mapreducestaging/admin/.staging/job_1460939678768_0074/job.xml\",\r\n    \"url\": \"http://hn0-pattip.d2cmq52jtndulpo2pcweyyzj1d.dx.internal.cloudapp.net:8088/proxy/application_1460939678768_0074/\",\r\n    \"queueName\": \"default\",\r\n    \"jobId\": \"job_1460939678768_0074\",\r\n    \"jobName\": \"TempletonControllerJob\",\r\n    \"jobID\": {\r\n      \"id\": 74,\r\n      \"jtIdentifier\": \"1460939678768\"\r\n    }\r\n  },\r\n  \"id\": \"job_1460939678768_0074\",\r\n  \"parentId\": null,\r\n  \"percentComplete\": null,\r\n  \"exitValue\": null,\r\n  \"user\": \"admin\",\r\n  \"callback\": null,\r\n  \"completed\": null,\r\n  \"userargs\": {\r\n    \"statusdir\": \"2016-04-19T22-46-32-b5a8c0b3-d9b6-4893-9419-93d4ff183be7\",\r\n    \"reducer\": \"wc\",\r\n    \"files\": null,\r\n    \"define\": [],\r\n    \"mapper\": \"cat\",\r\n    \"enablejobreconnect\": null,\r\n    \"arg\": [],\r\n    \"enablelog\": \"false\",\r\n    \"input\": [\r\n      \"/example/data/gutenberg/davinci.txt\"\r\n    ],\r\n    \"inputreader\": null,\r\n    \"cmdenv\": [],\r\n    \"user.name\": \"admin\",\r\n    \"file\": [],\r\n    \"callback\": null,\r\n    \"combiner\": null,\r\n    \"output\": \"/example/data/gutenberg/wcount/023f0a34-5bfe-4b6d-bb40-fd0100e3261b\"\r\n  },\r\n  \"msg\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "StatusCode": 200
    },
[...]
