{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/providers/Microsoft.Search/register?api-version=2016-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1146"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/providers/Microsoft.Search\",\r\n  \"namespace\": \"Microsoft.Search\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"804f4a7a-7d6e-4df7-bf8c-e7f0106e16c2\",\r\n    \"roleDefinitionId\": \"20FA3191-87CF-4C3D-9510-74CCB594A310\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"searchServices\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-08-19\",\r\n        \"2015-02-28\",\r\n        \"2014-07-31-Preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity\"\r\n    },\r\n    {\r\n      \"resourceType\": \"searchServicesCit\",\r\n      \"locations\": [\r\n        \"West US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-08-19\",\r\n        \"2015-02-28\",\r\n        \"2014-07-31-Preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity\"\r\n    },\r\n    {[...]
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourcegroups/azsmnet795?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1147"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet795\",\r\n  \"name\": \"azsmnet795\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet795/providers/Microsoft.Search/searchServices/azs-4717?api-version=2015-08-19",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"free\"\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2019-03-17T23%3A35%3A13.1795522Z'\""
        ],
        "elapsed-time": [
          "810"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1165"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet795/providers/Microsoft.Search/searchServices/azs-4717\",\r\n  \"name\": \"azs-4717\",\r\n  \"type\": \"Microsoft.Search/searchServices\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"replicaCount\": 1,\r\n    \"partitionCount\": 1,\r\n    \"status\": \"running\",\r\n    \"statusDetails\": \"\",\r\n    \"provisioningState\": \"succeeded\",\r\n    \"hostingMode\": \"Default\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"free\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet795/providers/Microsoft.Search/searchServices/azs-4717/listAdminKeys?api-version=2015-08-19",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "elapsed-time": [
          "157"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1165"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"6BACD5C253DA29DA9088731C9CB173B7\",\r\n  \"secondaryKey\": \"24E46777A2F50883EDF2113FDECA35D1\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet795/providers/Microsoft.Search/searchServices/azs-4717/listQueryKeys?api-version=2015-08-19",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "elapsed-time": [
          "168"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14980"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": null,\r\n      \"key\": \"4E2B235B8FB1C51B9BB4163A47DF235D\"\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/indexes?api-version=2017-11-11-Preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"azsmnet8371\",\r\n  \"fields\": [\r\n    {\r\n      \"name\": \"hotelId\",\r\n      \"type\": \"Edm.String\",\r\n      \"analyzer\": null,\r\n      \"searchAnalyzer\": null,\r\n      \"indexAnalyzer\": null,\r\n      \"key\": true,\r\n      \"searchable\": false,\r\n      \"filterable\": true,\r\n      \"sortable\": true,\r\n      \"facetable\": true,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"name\": \"baseRate\",\r\n      \"type\": \"Edm.Double\",\r\n      \"analyzer\": null,\r\n      \"searchAnalyzer\": null,\r\n      \"indexAnalyzer\": null,\r\n      \"key\": false,\r\n      \"searchable\": false,\r\n      \"filterable\": true,\r\n      \"sortable\": true,\r\n      \"facetable\": true,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"name\": \"description\",\r\n      \"type\": \"Edm.String\",\r\n      \"analyzer\": null,\r\n      \"s[...]
    {
      "RequestUri": "/indexes('azsmnet8371')/docs/search.index?api-version=2017-11-11-Preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"value\": [\r\n    {\r\n      \"@search.action\": \"upload\",\r\n      \"hotelId\": \"1\",\r\n      \"baseRate\": 199.0,\r\n      \"description\": \"Best hotel in town if you like luxury hotels. They have an amazing infinity pool, a spa, and a really helpful concierge. The location is perfect -- right downtown, close to all the tourist attractions. We highly recommend this hotel.\",\r\n      \"descriptionFr\": \"Meilleur hôtel en ville si vous aimez les hôtels de luxe. Ils ont une magnifique piscine à débordement, un spa et un concierge très utile. L'emplacement est parfait – en plein centre, à proximité de toutes les attractions touristiques. Nous recommandons fortement cet hôtel.\",\r\n      \"hotelName\": \"Fancy Stay\",\r\n      \"category\": \"Luxury\",\r\n      \"tags\": [\r\n        \"pool\",\r\n        \"view\",\r\n        \"wifi\",\r\n        \"concierge\"\r\n      ],\r\n      \"parkingIncluded\": false,\r\n      \"smokingAllowed\": false,\r\n      \"lastRenovationDate\": \"2010-06-26T17:00:00-07:00\",\r\n      \"rating\": 5,\r\n      \"location\": {\r\n        \"type\": \"Point\",\r\n        \"coordinates\": [\r\n          -122.131577,\r\n          47.678581\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"@search.action\": \"upload\",\r\n      \"hotelId\": \"2\",\r\n      \"baseRate\": 79.99,\r\n      \"description\": \"Cheapest hotel in town. Infact, a motel.\",\r\n      \"descriptionFr\": \"Hôtel le moins cher en ville. Infact, un motel.\",\r\n      \"hotelName\": \"Roach Motel\",\r\n      \"category\": \"Budget\",\r\n      \"tags\": [\r\n        \"motel\",\r\n        \"budget\"\r\n      ],[...]
    {
      "RequestUri": "/indexes('azsmnet8371')/docs/search.suggest?search=hitel&suggesterName=sg&api-version=2017-11-11-Preview&fuzzy=true&$select=*",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "api-key": [
          "4E2B235B8FB1C51B9BB4163A47DF235D"
        ]
      },
      "ResponseHeaders": {
        "elapsed-time": [
          "66"
        ],
        "OData-Version": [
          "4.0"
        ],
        "Preference-Applied": [
          "odata.include-annotations=\"*\""
        ],
        "Content-Type": [
          "application/json; odata.metadata=none"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"@search.text\": \"Pretty good hotel\",\r\n      \"hotelId\": \"4\",\r\n      \"baseRate\": 129.99,\r\n      \"description\": \"Pretty good hotel\",\r\n      \"descriptionFr\": \"Assez bon hôtel\",\r\n      \"hotelName\": \"Express Rooms\",\r\n      \"category\": \"Budget\",\r\n      \"tags\": [\r\n        \"wifi\",\r\n        \"budget\"\r\n      ],\r\n      \"parkingIncluded\": true,\r\n      \"smokingAllowed\": false,\r\n      \"lastRenovationDate\": \"1995-07-01T00:00:00Z\",\r\n      \"rating\": 4,\r\n      \"location\": {\r\n        \"type\": \"Point\",\r\n        \"coordinates\": [\r\n          -122.131577,\r\n          48.678581\r\n        ],\r\n        \"crs\": {\r\n          \"type\": \"name\",\r\n          \"properties\": {\r\n            \"name\": \"EPSG:4326\"\r\n          }\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"@search.text\": \"Another good hotel\",\r\n      \"hotelId\": \"5\",\r\n      \"baseRate\": 129.99,\r\n      \"description\": \"Another good hotel\",\r\n      \"descriptionFr\": \"Un autre bon hôtel\",\r\n      \"hotelName\": \"Comfy Place\",\r\n      \"category\": \"Budget\",\r\n      \"tags\": [\r\n        \"wifi\",\r\n  [...]
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet795/providers/Microsoft.Search/searchServices/azs-4717?api-version=2015-08-19",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "elapsed-time": [
          "930"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14948"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "GenerateName": [
      "azsmnet795",
      "azsmnet8371"
    ],
    "GenerateServiceName": [
      "azs-4717"
    ]
  },
  "Variables": {
    "SubscriptionId": "3c729b2a-4f86-4bb2-abe8-4b8647af156c"
  }
}