{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/countries/US/phoneplangroups?locale=en-US\u0026api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "eX0fuRHkQUu0UckkDG4b7g.0",
        "X-Processing-Time": "249ms"
      },
      "ResponseBody": {
        "phonePlanGroups": [
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "Geographic",
            "localizedName": "Azure- User - Geographic",
            "localizedDescription": "These are numbers used by Azure resources."
          },
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "Geographic",
            "localizedName": "Azure - Geographic",
            "localizedDescription": "These are numbers used by Azure resources."
          },
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "TollFree",
            "localizedName": "Azure - Toll Free",
            "localizedDescription": "These are toll free numbers used by Azure resources."
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/countries/US/phoneplangroups/Sanitized/phoneplans?locale=en-US\u0026api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "iZiC/gLks02sfLaKPM9KBg.0",
        "X-Processing-Time": "256ms"
      },
      "ResponseBody": {
        "phonePlans": [
          {
            "phonePlanId": "Sanitized",
            "localizedName": "2-way SMS (A2P) \u0026 Outbound Only PSTN - Toll Free",
            "locationType": "NotRequired",
            "areaCodes": [
              "844",
              "833"
            ],
            "capabilities": [
              "Azure",
              "OutboundCalling",
              "ThirdPartyAppAssignment",
              "InboundA2PSms",
              "OutboundA2PSms",
              "TollFree"
            ],
            "maximumSearchSize": 20
          },
          {
            "phonePlanId": "Sanitized",
            "localizedName": "2-way SMS (A2P) \u0026 Inbound Only PSTN - Toll Free",
            "locationType": "NotRequired",
            "areaCodes": [
              "844",
              "833"
            ],
            "capabilities": [
              "Azure",
              "InboundCalling",
              "ThirdPartyAppAssignment",
              "InboundA2PSms",
              "OutboundA2PSms",
              "TollFree"
      [...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches?api-version=2020-07-20-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "displayName": "My reservation",
        "description": "my description",
        "phonePlanIds": [
          "Sanitized"
        ],
        "areaCode": "844",
        "quantity": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "D3vbxtAAVESD538zLrqOwA.0",
        "X-Processing-Time": "815ms"
      },
      "ResponseBody": {
        "searchId": "b6c5cbe1-8f58-47ac-abbf-da5e64b4ba79"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches/Sanitized?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "nBFqebjdl0WqP3ad\u002B7XNPQ.0",
        "X-Processing-Time": "427ms"
      },
      "ResponseBody": {
        "searchId": "b6c5cbe1-8f58-47ac-abbf-da5e64b4ba79",
        "displayName": "My reservation",
        "createdAt": "2020-11-21T03:49:39.6031717\u002B00:00",
        "description": "my description",
        "phonePlanIds": [
          "Sanitized"
        ],
        "areaCode": "844",
        "quantity": 1,
        "locationOptions": [],
        "status": "Pending",
        "phoneNumbers": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches/Sanitized?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "SUuhRWYgvEucKsvEek8xzg.0",
        "X-Processing-Time": "271ms"
      },
      "ResponseBody": {
        "searchId": "b6c5cbe1-8f58-47ac-abbf-da5e64b4ba79",
        "displayName": "My reservation",
        "createdAt": "2020-11-21T03:49:39.6031717\u002B00:00",
        "description": "my description",
        "phonePlanIds": [
          "Sanitized"
        ],
        "areaCode": "844",
        "quantity": 1,
        "locationOptions": [],
        "status": "Reserved",
        "phoneNumbers": [
          "Sanitized"
        ],
        "reservationExpiryDate": "2020-11-21T04:05:46.9503096\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==;",
    "RandomSeed": "1100497228"
  }
}
