{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/countries/US/phoneplangroups?locale=en-US\u0026api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ztP7CP2mqUKtTaz1jrsETA.0",
        "X-Processing-Time": "482ms"
      },
      "ResponseBody": {
        "phonePlanGroups": [
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "Geographic",
            "localizedName": "Azure- User - Geographic",
            "localizedDescription": "These are numbers used by Azure resources."
          },
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "Geographic",
            "localizedName": "Azure - Geographic",
            "localizedDescription": "These are numbers used by Azure resources."
          },
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "TollFree",
            "localizedName": "Azure - Toll Free",
            "localizedDescription": "These are toll free numbers used by Azure resources."
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/countries/US/phoneplangroups/Sanitized/phoneplans?locale=en-US\u0026api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "G1skQLd\u002Bok2fv1oypy\u002Ba\u002Bw.0",
        "X-Processing-Time": "412ms"
      },
      "ResponseBody": {
        "phonePlans": [
          {
            "phonePlanId": "Sanitized",
            "localizedName": "Outbound Only PSTN For User - Geographic",
            "locationType": "Selection",
            "areaCodes": [],
            "capabilities": [
              "OutboundCalling",
              "UserAssignment",
              "Geographic"
            ],
            "maximumSearchSize": 20
          },
          {
            "phonePlanId": "Sanitized",
            "localizedName": "Inbound Only PSTN For User - Geographic",
            "locationType": "Selection",
            "areaCodes": [],
            "capabilities": [
              "InboundCalling",
              "UserAssignment",
              "Geographic"
            ],
            "maximumSearchSize": 20
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/countries/US/phoneplangroups/Sanitized/phoneplans/Sanitized/locationoptions?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "A6O2qzqHMk\u002BgMGYzAMe24w.0",
        "X-Processing-Time": "397ms"
      },
      "ResponseBody": {
        "locationOptions": {
          "labelId": "state",
          "labelName": "State",
          "options": [
            {
              "name": "AL",
              "value": "AL",
              "locationOptions": [
                {
                  "labelId": "city",
                  "labelName": "City",
                  "options": [
                    {
                      "name": "Birmingham",
                      "value": "NOAM-US-AL-BI",
                      "locationOptions": []
                    },
                    {
                      "name": "Huntsville",
                      "value": "NOAM-US-AL-HN",
                      "locationOptions[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/countries/US/areacodes?locationType=Selection\u0026phonePlanId=Sanitized\u0026api-version=2020-07-20-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "locationOptions": [
          {
            "labelId": "state",
            "optionsValue": "AL"
          },
          {
            "labelId": "city",
            "optionsValue": "NOAM-US-AL-BI"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "PbPNSOKjDk\u002B9heDlpSXALw.0",
        "X-Processing-Time": "652ms"
      },
      "ResponseBody": {
        "primaryAreaCodes": [
          "205"
        ],
        "secondaryAreaCodes": [],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches?api-version=2020-07-20-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "displayName": "My reservation",
        "description": "my description",
        "phonePlanIds": [
          "Sanitized"
        ],
        "areaCode": "205",
        "quantity": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "8PRPVuHSq0awjQALYOp7Tg.0",
        "X-Processing-Time": "1290ms"
      },
      "ResponseBody": {
        "searchId": "7fcd3158-05c1-47ea-b9d2-3444863cb4ff"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches/Sanitized?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "uEApE/B6jEiYAsMkzdA/Ew.0",
        "X-Processing-Time": "462ms"
      },
      "ResponseBody": {
        "searchId": "7fcd3158-05c1-47ea-b9d2-3444863cb4ff",
        "displayName": "My reservation",
        "createdAt": "2020-12-12T03:12:48.1401703\u002B00:00",
        "description": "my description",
        "phonePlanIds": [
          "Sanitized"
        ],
        "areaCode": "205",
        "quantity": 1,
        "locationOptions": [],
        "status": "Pending",
        "phoneNumbers": [],
        "error": "NoError"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches/Sanitized?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "47WI69kADkiRVeOAcrnxYA.0",
        "X-Processing-Time": "465ms"
      },
      "ResponseBody": {
        "searchId": "7fcd3158-05c1-47ea-b9d2-3444863cb4ff",
        "displayName": "My reservation",
        "createdAt": "2020-12-12T03:12:48.1401703\u002B00:00",
        "description": "my description",
        "phonePlanIds": [
          "Sanitized"
        ],
        "areaCode": "205",
        "quantity": 1,
        "locationOptions": [],
        "status": "Reserved",
        "phoneNumbers": [
          "Sanitized"
        ],
        "reservationExpiryDate": "2020-12-12T03:28:53.4291913\u002B00:00",
        "error": "NoError"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches/Sanitized/cancel?api-version=2020-07-20-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "MS-CV": "v7BekDfV0USz4qk\u002Bzx0Wmw.0",
        "X-Processing-Time": "1024ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==;",
    "RandomSeed": "1861070499"
  }
}