{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/countries/US/phoneplangroups?locale=en-US\u0026api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "7Jw5La8blkyu/xLKWZPUSQ.0",
        "X-Processing-Time": "383ms"
      },
      "ResponseBody": {
        "phonePlanGroups": [
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "Geographic",
            "localizedName": "Azure- User - Geographic",
            "localizedDescription": "These are numbers used by Azure resources."
          },
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "Geographic",
            "localizedName": "Azure - Geographic",
            "localizedDescription": "These are numbers used by Azure resources."
          },
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "TollFree",
            "localizedName": "Azure - Toll Free",
            "localizedDescription": "These are toll free numbers used by Azure resources."
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/countries/US/phoneplangroups/Sanitized/phoneplans?locale=en-US\u0026api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "oSaZ6EhwUEClOBwQ2QPF0A.0",
        "X-Processing-Time": "374ms"
      },
      "ResponseBody": {
        "phonePlans": [
          {
            "phonePlanId": "Sanitized",
            "localizedName": "2-way SMS (A2P) \u0026 Outbound Only PSTN - Toll Free",
            "locationType": "NotRequired",
            "areaCodes": [
              "833"
            ],
            "capabilities": [
              "OutboundCalling",
              "ThirdPartyAppAssignment",
              "InboundA2PSms",
              "OutboundA2PSms",
              "TollFree"
            ],
            "maximumSearchSize": 20
          },
          {
            "phonePlanId": "Sanitized",
            "localizedName": "2-way SMS (A2P) \u0026 Inbound Only PSTN - Toll Free",
            "locationType": "NotRequired",
            "areaCodes": [
              "833"
            ],
            "capabilities": [
              "InboundCalling",
              "ThirdPartyAppAssignment",
              "InboundA2PSms",
              "OutboundA2PSms",
              "TollFree"
            ],
            "maximumSearchSize": 20[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches?api-version=2020-07-20-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "displayName": "My reservation",
        "description": "my description",
        "phonePlanIds": [
          "Sanitized"
        ],
        "areaCode": "833",
        "quantity": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Xj2AGpDQUEGnQ44pyASEuw.0",
        "X-Processing-Time": "1040ms"
      },
      "ResponseBody": {
        "searchId": "16b72c8b-26a3-489c-9621-02e093977cf8"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches/Sanitized?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "WjYVfvfcCUepCPIH\u002B\u002BqbAA.0",
        "X-Processing-Time": "468ms"
      },
      "ResponseBody": {
        "searchId": "16b72c8b-26a3-489c-9621-02e093977cf8",
        "displayName": "My reservation",
        "createdAt": "2020-12-12T03:38:54.6342648\u002B00:00",
        "description": "my description",
        "phonePlanIds": [
          "Sanitized"
        ],
        "areaCode": "833",
        "quantity": 1,
        "locationOptions": [],
        "status": "Pending",
        "phoneNumbers": [],
        "error": "NoError"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches/Sanitized?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "KQhNn7sUx0OKMVP91B6x0Q.0",
        "X-Processing-Time": "529ms"
      },
      "ResponseBody": {
        "searchId": "16b72c8b-26a3-489c-9621-02e093977cf8",
        "displayName": "My reservation",
        "createdAt": "2020-12-12T03:38:54.6342648\u002B00:00",
        "description": "my description",
        "phonePlanIds": [
          "Sanitized"
        ],
        "areaCode": "833",
        "quantity": 1,
        "locationOptions": [],
        "status": "Error",
        "phoneNumbers": [],
        "errorCode": 1000,
        "error": "OutOfStock"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==;",
    "RandomSeed": "631123094"
  }
}