{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/countries/US/phoneplangroups?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "UTbiTOeRi0iwBx7x9i3tYA.0",
        "X-Processing-Time": "384ms"
      },
      "ResponseBody": {
        "phonePlanGroups": [
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "Geographic",
            "localizedName": "Azure- User - Geographic",
            "localizedDescription": "These are numbers used by Azure resources."
          },
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "Geographic",
            "localizedName": "Azure - Geographic",
            "localizedDescription": "These are numbers used by Azure resources."
          },
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "TollFree",
            "localizedName": "Azure - Toll Free",
            "localizedDescription": "These are toll free numbers used by Azure resources."
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/countries/US/phoneplangroups/Sanitized/phoneplans?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "8dsZKSKZ20qrAfMcP0Gnyg.0",
        "X-Processing-Time": "395ms"
      },
      "ResponseBody": {
        "phonePlans": [
          {
            "phonePlanId": "Sanitized",
            "localizedName": "2-way SMS (A2P) \u0026 Outbound Only PSTN - Toll Free",
            "locationType": "NotRequired",
            "areaCodes": [
              "833"
            ],
            "capabilities": [
              "OutboundCalling",
              "ThirdPartyAppAssignment",
              "InboundA2PSms",
              "OutboundA2PSms",
              "TollFree"
            ],
            "maximumSearchSize": 20
          },
          {
            "phonePlanId": "Sanitized",
            "localizedName": "2-way SMS (A2P) \u0026 Inbound Only PSTN - Toll Free",
            "locationType": "NotRequired",
            "areaCodes": [
              "833"
            ],
            "capabilities": [
              "InboundCalling",
              "ThirdPartyAppAssignment",
              "InboundA2PSms",
              "OutboundA2PSms",
              "TollFree"
            ],
            "maximumSearchSize": 20[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches?api-version=2020-07-20-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "displayName": "My reservation",
        "description": "my description",
        "phonePlanIds": [
          "Sanitized"
        ],
        "areaCode": "833",
        "quantity": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "z7aJquGqIEiEk42nG8yybw.0",
        "X-Processing-Time": "1043ms"
      },
      "ResponseBody": {
        "searchId": "d905ffc3-3216-49c4-bae8-33c1364c49a0"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches/Sanitized?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "VqimzBrhS0aRFKWHPEqz7g.0",
        "X-Processing-Time": "439ms"
      },
      "ResponseBody": {
        "searchId": "d905ffc3-3216-49c4-bae8-33c1364c49a0",
        "displayName": "My reservation",
        "createdAt": "2020-12-12T03:10:47.66292\u002B00:00",
        "description": "my description",
        "phonePlanIds": [
          "Sanitized"
        ],
        "areaCode": "833",
        "quantity": 1,
        "locationOptions": [],
        "status": "Pending",
        "phoneNumbers": [],
        "error": "NoError"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches/Sanitized?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "w62IgbGKGUGVlr9mIXQV6g.0",
        "X-Processing-Time": "440ms"
      },
      "ResponseBody": {
        "searchId": "d905ffc3-3216-49c4-bae8-33c1364c49a0",
        "displayName": "My reservation",
        "createdAt": "2020-12-12T03:10:47.66292\u002B00:00",
        "description": "my description",
        "phonePlanIds": [
          "Sanitized"
        ],
        "areaCode": "833",
        "quantity": 1,
        "locationOptions": [],
        "status": "Reserved",
        "phoneNumbers": [
          "Sanitized"
        ],
        "reservationExpiryDate": "2020-12-12T03:26:54.1693232\u002B00:00",
        "error": "NoError"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches/Sanitized/cancel?api-version=2020-07-20-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "MS-CV": "YpyxsT/GKU2gjz0EYXiu3A.0",
        "X-Processing-Time": "939ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==;",
    "RandomSeed": "1209562406"
  }
}