{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/countries/US/phoneplangroups?locale=en-US\u0026api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "L4K9hsL9KESf/GIYhgylsw.0",
        "X-Processing-Time": "482ms"
      },
      "ResponseBody": {
        "phonePlanGroups": [
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "Geographic",
            "localizedName": "Azure- User - Geographic",
            "localizedDescription": "These are numbers used by Azure resources."
          },
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "Geographic",
            "localizedName": "Azure - Geographic",
            "localizedDescription": "These are numbers used by Azure resources."
          },
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "TollFree",
            "localizedName": "Azure - Toll Free",
            "localizedDescription": "These are toll free numbers used by Azure resources."
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/countries/US/phoneplangroups/Sanitized/phoneplans?locale=en-US\u0026api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "zIarWYzxOU\u002B1FzUJVI6KqA.0",
        "X-Processing-Time": "388ms"
      },
      "ResponseBody": {
        "phonePlans": [
          {
            "phonePlanId": "Sanitized",
            "localizedName": "2-way SMS (A2P) \u0026 Outbound Only PSTN - Toll Free",
            "locationType": "NotRequired",
            "areaCodes": [
              "833"
            ],
            "capabilities": [
              "OutboundCalling",
              "ThirdPartyAppAssignment",
              "InboundA2PSms",
              "OutboundA2PSms",
              "TollFree"
            ],
            "maximumSearchSize": 20
          },
          {
            "phonePlanId": "Sanitized",
            "localizedName": "2-way SMS (A2P) \u0026 Inbound Only PSTN - Toll Free",
            "locationType": "NotRequired",
            "areaCodes": [
              "833"
            ],
            "capabilities": [
              "InboundCalling",
              "ThirdPartyAppAssignment",
              "InboundA2PSms",
              "OutboundA2PSms",
              "TollFree"
            ],
            "maximumSearchSize": 20[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches?api-version=2020-07-20-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "displayName": "My reservation",
        "description": "my description",
        "phonePlanIds": [
          "Sanitized"
        ],
        "areaCode": "833",
        "quantity": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "a7\u002BPmINO0UqQZJQF87FWhA.0",
        "X-Processing-Time": "1060ms"
      },
      "ResponseBody": {
        "searchId": "5831c6df-5373-4ad0-9720-730217329d7f"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches/Sanitized?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "rs4P32p9I063wwsJDd8WoA.0",
        "X-Processing-Time": "455ms"
      },
      "ResponseBody": {
        "searchId": "5831c6df-5373-4ad0-9720-730217329d7f",
        "displayName": "My reservation",
        "createdAt": "2020-12-12T01:55:26.0049318\u002B00:00",
        "description": "my description",
        "phonePlanIds": [
          "Sanitized"
        ],
        "areaCode": "833",
        "quantity": 1,
        "locationOptions": [],
        "status": "Pending",
        "phoneNumbers": [],
        "error": "NoError"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches/Sanitized?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "vjuNxci/902a9CJYOSbRTg.0",
        "X-Processing-Time": "464ms"
      },
      "ResponseBody": {
        "searchId": "5831c6df-5373-4ad0-9720-730217329d7f",
        "displayName": "My reservation",
        "createdAt": "2020-12-12T01:55:26.0049318\u002B00:00",
        "description": "my description",
        "phonePlanIds": [
          "Sanitized"
        ],
        "areaCode": "833",
        "quantity": 1,
        "locationOptions": [],
        "status": "Reserved",
        "phoneNumbers": [
          "Sanitized"
        ],
        "reservationExpiryDate": "2020-12-12T02:11:33.7702076\u002B00:00",
        "error": "NoError"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "QVbiTLqg0UaHymuiPU1OYw.0",
        "X-Processing-Time": "493ms"
      },
      "ResponseBody": {
        "entities": [
          {
            "id": "Sanitized",
            "createdAt": "2020-12-12T01:55:26.0049318\u002B00:00",
            "displayName": "My reservation",
            "quantity": 1,
            "quantityObtained": 1,
            "status": "Reserved"
          },
          {
            "id": "Sanitized",
            "createdAt": "2020-12-12T01:55:14.1336731\u002B00:00",
            "displayName": "My reservation",
            "quantity": 1,
            "quantityObtained": 1,
            "status": "Cancelled"
          },
          {
            "id": "Sanitized",
            "createdAt": "2020-12-12T01:55:03.2378782\u002B00:00",
            "displayName": "My reservation",
            "quantity": 1,
    [...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches/Sanitized/cancel?api-version=2020-07-20-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "MS-CV": "e08YmfVPIkGA2/ZRQ14dMg.0",
        "X-Processing-Time": "962ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "486063139"
  }
}