{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/administration/phonenumbers/countries/us/phoneplangroups?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "KWJzK5KrzEWcb1HUaJhrPA.0",
        "X-Processing-Time": "359ms"
      },
      "ResponseBody": {
        "phonePlanGroups": [
          {
            "phonePlanGroupId": "55bc1415-9fe6-42d7-9ed4-5ea28c6a17cf",
            "phoneNumberType": "Geographic",
            "localizedName": "Azure- User - Geographic",
            "localizedDescription": "These are numbers used by Azure resources."
          },
          {
            "phonePlanGroupId": "671ee064-662f-4c3b-82a9-af2ab200dd5c",
            "phoneNumberType": "Geographic",
            "localizedName": "Azure - Geographic",
            "localizedDescription": "These are numbers used by Azure resources."
          },
          {
            "phonePlanGroupId": "d47a0cdc-8dc1-4e82-a29b-39067f7fc317",
            "phoneNumberType": "TollFree",
            "localizedName": "Azure - Toll Free",
            "localizedDescription": "These are toll free numbers used by Azure resources."
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/administration/phonenumbers/countries/us/phoneplangroups/55bc1415-9fe6-42d7-9ed4-5ea28c6a17cf/phoneplans?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "3qBGEuKc2UOqRVVdVaEjfw.0",
        "X-Processing-Time": "377ms"
      },
      "ResponseBody": {
        "phonePlans": [
          {
            "phonePlanId": "01432411-5169-4665-b13e-3fa56c10e1d1",
            "localizedName": "Outbound Only PSTN For User - Geographic",
            "locationType": "Selection",
            "areaCodes": [],
            "capabilities": [
              "Azure",
              "OutboundCalling",
              "UserAssignment",
              "Geographic"
            ],
            "maximumSearchSize": 20
          },
          {
            "phonePlanId": "b528a997-03bb-446e-af98-3d99877cf0ba",
            "localizedName": "Inbound Only PSTN For User - Geographic",
            "locationType": "Selection",
            "areaCodes": [],
            "capabilities": [
              "Azure",
              "InboundCalling",
              "UserAssignment",
              "Geographic"
            ],
            "maximumSearchSize": 20
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/administration/phonenumbers/countries/us/phoneplangroups/55bc1415-9fe6-42d7-9ed4-5ea28c6a17cf/phoneplans/01432411-5169-4665-b13e-3fa56c10e1d1/locationoptions?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "0ehekVYJeUqnvYafNMacBA.0",
        "X-Processing-Time": "353ms"
      },
      "ResponseBody": {
        "locationOptions": {
          "labelId": "state",
          "labelName": "State",
          "options": [
            {
              "name": "AZ",
              "value": "AZ",
              "locationOptions": [
                {
                  "labelId": "city",
                  "labelName": "City",
                  "options": [
                    {
                      "name": "Phoenix",
                      "value": "NOAM-US-AZ-PH",
                      "locationOptions": []
                    }
                  ]
                }
              ]
            },
            {
              "name": "CA",
              "value": "CA",
              "l[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/administration/phonenumbers/countries/us/areacodes?locationtype=selection\u0026phoneplanid=01432411-5169-4665-b13e-3fa56c10e1d1\u0026api-version=2020-07-20-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "locationOptions": [
          {
            "labelId": "state",
            "optionsValue": "WA"
          },
          {
            "labelId": "city",
            "optionsValue": "NOAM-US-WA-SE"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "dXT71Uqrf0OQmmA\u002BkV3WLw.0",
        "X-Processing-Time": "350ms"
      },
      "ResponseBody": {
        "primaryAreaCodes": [
          "206",
          "360",
          "425"
        ],
        "secondaryAreaCodes": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.net/;accesskey=Kg==;",
    "RandomSeed": "2032726734"
  }
}