{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/countries/US/phoneplangroups?locale=en-US\u0026includeRateInformation=true\u0026api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Pzlf13sRkE2TXVfEnDWckw.0",
        "X-Processing-Time": "1779ms"
      },
      "ResponseBody": {
        "phonePlanGroups": [
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "Geographic",
            "localizedName": "Azure- User - Geographic",
            "localizedDescription": "These are numbers used by Azure resources.",
            "rateInformation": {
              "monthlyRate": 1.0,
              "currencyType": "USD",
              "rateErrorMessage": null
            }
          },
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "Geographic",
            "localizedName": "Azure - Geographic",
            "localizedDescription": "These are numbers used by Azure resources.",
            "rateInformation": {
              "monthlyRate": 1.0,
              "currencyType": "USD",
              "rateErrorMessage": null
            }
          },
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "TollFree",
            "localizedName": "Azure - Toll Free",
            "localizedDescription": "These are toll free numbers used by Azure resources.",
            "rateInformation": {
              "monthlyRate": 2.0,
              "currencyType": "USD",
              "rateErrorMessage": null
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==;",
    "RandomSeed": "794078690"
  }
}