{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/countries/US/phoneplangroups?locale=en-US\u0026api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "znEqe1E5z0uozc9gbd1wgA.0",
        "X-Processing-Time": "244ms"
      },
      "ResponseBody": {
        "phonePlanGroups": [
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "Geographic",
            "localizedName": "Azure- User - Geographic",
            "localizedDescription": "These are numbers used by Azure resources."
          },
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "Geographic",
            "localizedName": "Azure - Geographic",
            "localizedDescription": "These are numbers used by Azure resources."
          },
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "TollFree",
            "localizedName": "Azure - Toll Free",
            "localizedDescription": "These are toll free numbers used by Azure resources."
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/countries/US/phoneplangroups/Sanitized/phoneplans?locale=en-US\u0026api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "nkWlLhbGVUOKgbMR1f0Vdw.0",
        "X-Processing-Time": "258ms"
      },
      "ResponseBody": {
        "phonePlans": [
          {
            "phonePlanId": "Sanitized",
            "localizedName": "Outbound Only PSTN For User - Geographic",
            "locationType": "Selection",
            "areaCodes": [],
            "capabilities": [
              "Azure",
              "OutboundCalling",
              "UserAssignment",
              "Geographic"
            ],
            "maximumSearchSize": 20
          },
          {
            "phonePlanId": "Sanitized",
            "localizedName": "Inbound Only PSTN For User - Geographic",
            "locationType": "Selection",
            "areaCodes": [],
            "capabilities": [
              "Azure",
              "InboundCalling",
              "UserAssignment",
              "Geographic"
            ],
            "maximumSearchSize": 20
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==;",
    "RandomSeed": "1728370529"
  }
}