{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"culture\": \"en-us\",\r\n  \"domain\": \"Comics\",\r\n  \"description\": \"New LUIS App\",\r\n  \"usageScenario\": \"IoT\",\r\n  \"name\": \"Examples Test App\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "\"4a6bca31-8787-472e-b3e3-45d4d2ed4d3b\"",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://api.luis.ai/api/v2.0/apps/4a6bca31-8787-472e-b3e3-45d4d2ed4d3b"
        ],
        "Operation-Location": [
          "https://api.luis.ai/api/v2.0/apps/4a6bca31-8787-472e-b3e3-45d4d2ed4d3b"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/4a6bca31-8787-472e-b3e3-45d4d2ed4d3b/versions/0.1/intents",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"WeatherInPlace\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "\"fd1996f8-6c7c-49e1-a5bd-89dd74f11fbf\"",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://api.luis.ai/api/v2.0/apps/4a6bca31-8787-472e-b3e3-45d4d2ed4d3b/versions/0.1/intents/fd1996f8-6c7c-49e1-a5bd-89dd74f11fbf"
        ],
        "Operation-Location": [
          "https://api.luis.ai/api/v2.0/apps/4a6bca31-8787-472e-b3e3-45d4d2ed4d3b/versions/0.1/intents/fd1996f8-6c7c-49e1-a5bd-89dd74f11fbf"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/4a6bca31-8787-472e-b3e3-45d4d2ed4d3b/versions/0.1/entities",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"Place\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "\"f53c7768-39c4-4b31-aad4-343bebb9f1c7\"",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://api.luis.ai/api/v2.0/apps/4a6bca31-8787-472e-b3e3-45d4d2ed4d3b/versions/0.1/entities/f53c7768-39c4-4b31-aad4-343bebb9f1c7"
        ],
        "Operation-Location": [
          "https://api.luis.ai/api/v2.0/apps/4a6bca31-8787-472e-b3e3-45d4d2ed4d3b/versions/0.1/entities/f53c7768-39c4-4b31-aad4-343bebb9f1c7"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/4a6bca31-8787-472e-b3e3-45d4d2ed4d3b/versions/0.1/examples",
      "RequestMethod": "POST",
      "RequestBody": "[\r\n  {\r\n    \"text\": \"whats the weather in seattle?\",\r\n    \"entityLabels\": [\r\n      {\r\n        \"entityName\": \"Place\",\r\n        \"startCharIndex\": 21,\r\n        \"endCharIndex\": 29\r\n      }\r\n    ],\r\n    \"intentName\": \"InvalidIntent\"\r\n  },\r\n  {\r\n    \"text\": \"whats the weather in buenos aires?\",\r\n    \"entityLabels\": [\r\n      {\r\n        \"entityName\": \"Place\",\r\n        \"startCharIndex\": 21,\r\n        \"endCharIndex\": 34\r\n      }\r\n    ],\r\n    \"intentName\": \"IntentDoesNotExist\"\r\n  }\r\n]",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"value\": null,\r\n    \"hasError\": true,\r\n    \"error\": {\r\n      \"code\": \"FAILED\",\r\n      \"message\": \"whats the weather in seattle?. Error: The intent classifier InvalidIntent does not exist in the selected application\"\r\n    }\r\n  },\r\n  {\r\n    \"value\": null,\r\n    \"hasError\": true,\r\n    \"error\": {\r\n      \"code\": \"FAILED\",\r\n      \"message\": \"whats the weather in buenos aires?. Error: The intent classifier IntentDoesNotExist does not exist in the selected application\"\r\n    }\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 207
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/4a6bca31-8787-472e-b3e3-45d4d2ed4d3b",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}