{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/users/df428e89-1bc2-4e72-b736-032c31a6cd97/devboxes/MyDevBox?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "poolName": "sdk-pool-6ieikn5v2nfnu"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/cdec79bd-0255-47e4-b1cf-e13612f7d5b5?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/cdec79bd-0255-47e4-b1cf-e13612f7d5b5",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-04-28T20:31:10.1769845Z"
      },
      "ResponseBody": {
        "name": "MyDevBox",
        "projectName": "sdk-project-x2z4o4ohvwcbi",
        "poolName": "sdk-pool-6ieikn5v2nfnu",
        "hibernateSupport": "Disabled",
        "provisioningState": "Succeeded",
        "actionState": "Stopped",
        "powerState": "Running",
        "uniqueId": "cf018ef6-21d5-42d0-80b1-6e2121314ae3",
        "errorDetails": {},
        "location": "centraluseuap",
        "osType": "Windows",
        "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
        "hardwareProfile": {
          "vCPUs": 8,
          "skuName": "general_a_8c32gb_v1",
          "memoryGB": 32
        },
        "storageProfile": {
          "osDisk": {
            "diskSizeGB": 1024
          }
        },
        "imageReference": {
          "name": "MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-m365",
          "version": "1.0.0",
          "operatingSystem": "Windows11",
          "osBuildNumber": "win11-21h2-ent-cpc-m365",
          "publishedDate": "2021-10-04T00:00:00\u002B00:00"
        },
        "createdTime": "2023-04-28T16:50:04.2257271\u002B00:00",
        "localAdministrator": "Enabled"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/cdec79bd-0255-47e4-b1cf-e13612f7d5b5?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/cdec79bd-0255-47e4-b1cf-e13612f7d5b5?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/cdec79bd-0255-47e4-b1cf-e13612f7d5b5",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "296",
        "X-Rate-Limit-Reset": "2023-04-28T20:30:38.8817368Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-x2z4o4ohvwcbi/operationStatuses/cdec79bd-0255-47e4-b1cf-e13612f7d5b5",
        "name": "cdec79bd-0255-47e4-b1cf-e13612f7d5b5",
        "status": "NotStarted",
        "startTime": "2023-04-28T20:30:11.2184645\u002B00:00"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/cdec79bd-0255-47e4-b1cf-e13612f7d5b5?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/cdec79bd-0255-47e4-b1cf-e13612f7d5b5?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/cdec79bd-0255-47e4-b1cf-e13612f7d5b5",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2023-04-28T20:31:10.1769845Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-x2z4o4ohvwcbi/operationStatuses/cdec79bd-0255-47e4-b1cf-e13612f7d5b5",
        "name": "cdec79bd-0255-47e4-b1cf-e13612f7d5b5",
        "status": "Succeeded",
        "startTime": "2023-04-28T20:30:11.2184645\u002B00:00",
        "endTime": "2023-04-28T20:30:39.3395635\u002B00:00"
      }
    },
[...]
