{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-fmzegocvsahko.eastus.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/pools?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "296",
        "X-Rate-Limit-Reset": "2023-04-28T20:31:10.1769845Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "sdk-pool-6ieikn5v2nfnu",
            "location": "eastus",
            "osType": "Windows",
            "hardwareProfile": {
              "vCPUs": 8,
              "skuName": "general_a_8c32gb_v1",
              "memoryGB": 32
            },
            "hibernateSupport": "Disabled",
            "storageProfile": {
              "osDisk": {
                "diskSizeGB": 1024
              }
            },
            "imageReference": {
              "name": "MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-m365",
              "version": "1.0.0",
              "operatingSystem": "Windows11",
              "osBuildNumber": "win11-21h2-ent-cpc-m365",
              "publishedDate": "2021-10-04T00:00:00\u002B00:00"
            },
            "localAdministrator": "Enabled"
          }
        ]
      }
    }
  ],
  "Variables": {
    "DEFAULT_POOL_NAME": "sdk-pool-6ieikn5v2nfnu",
    "DEFAULT_PROJECT_NAME": "sdk-project-x2z4o4ohvwcbi",
    "DEVCENTER_ENDPOINT": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-fmzegocvsahko.eastus.devcenter.azure.com/",
    "RandomSeed": "684161968"
  }
}
