{
    "Entries": [
        {
            "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/users/df428e89-1bc2-4e72-b736-032c31a6cd97/devboxes/MyDevBox?api-version=2023-04-01",
            "RequestMethod": "PUT",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "Content-Type": "application/json"
            },
            "RequestBody": {
                "poolName": "sdk-pool-6ieikn5v2nfnu"
            },
            "StatusCode": 201,
            "ResponseHeaders": {
                "Content-Type": "application/json; charset=utf-8",
                "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/91a74149-7105-46b6-8c5d-342b2488939e?monitor=true",
                "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/91a74149-7105-46b6-8c5d-342b2488939e",
                "X-Rate-Limit-Limit": "1m",
                "X-Rate-Limit-Remaining": "286",
                "X-Rate-Limit-Reset": "2023-04-28T20:19:05.5226320Z"
            },
            "ResponseBody": {
                "name": "MyDevBox",
                "projectName": "sdk-project-x2z4o4ohvwcbi",
                "poolName": "sdk-pool-6ieikn5v2nfnu",
                "hibernateSupport": "Disabled",
                "provisioningState": "Succeeded",
                "actionState": "Started",
                "powerState": "Running",
                "uniqueId": "cf018ef6-21d5-42d0-80b1-6e2121314ae3",
                "errorDetails": {},
                "location": "centraluseuap",
                "osType": "Windows",
                "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
                "hardwareProfile": {
                    "vCPUs": 8,
                    "skuName": "general_a_8c32gb_v1",
                    "memoryGB": 32
                },
                "storageProfile": {
                    "osDisk": {
                        "diskSizeGB": 1024
                    }
                },
                "imageReference": {
                    "name": "MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-m365",
                    "version": "1.0.0",
                    "operatingSystem": "Windows11",
                    "osBuildNumber": "win11-21h2-ent-cpc-m365",
                    "publishedDate": "2021-10-04T00:00:00\u002B00:00"
                },
                "createdTime": "2023-04-28T16:50:04.2257271\u002B00:00",
                "localAdministrator": "Enabled"
            }
        },
        {
            "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/91a74149-7105-46b6-8c5d-342b2488939e?api-version=2023-04-01",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "Content-Type": "application/json; charset=utf-8",
                "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/91a74149-7105-46b6-8c5d-342b2488939e?monitor=true",
                "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/91a74149-7105-46b6-8c5d-342b2488939e",
                "Retry-After": "30",
                "X-Rate-Limit-Limit": "1m",
                "X-Rate-Limit-Remaining": "287",
                "X-Rate-Limit-Reset": "2023-04-28T20:19:16.6653690Z"
            },
            "ResponseBody": {
                "id": "/projects/sdk-project-x2z4o4ohvwcbi/operationStatuses/91a74149-7105-46b6-8c5d-342b2488939e",
                "name": "91a74149-7105-46b6-8c5d-342b2488939e",
                "status": "NotStarted",
                "startTime": "2023-04-28T20:18:52.3135818\u002B00:00"
            }
        },
[...]
        {
            "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/users/df428e89-1bc2-4e72-b736-032c31a6cd97/devboxes/MyDevBox/remoteConnection?api-version=2023-04-01",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "Content-Type": "application/json; charset=utf-8",
                "X-Rate-Limit-Limit": "1m",
                "X-Rate-Limit-Remaining": "298",
                "X-Rate-Limit-Reset": "2023-04-28T20:21:25.7233133Z"
            },
            "ResponseBody": {
                "webUrl": "https://deschutes-ppe.microsoft.com/webclient/1736b91b-d243-4305-b25c-68123c1c66b3",
                "rdpConnectionUrl": "ms-avd:connect?env=avdarm\u0026resourceid=f0774346-0851-48cc-7eee-08db412c4af2\u0026username=sdk_integration_test_1%40fidalgoppe010.onmicrosoft.com\u0026version=0\u0026workspaceId=a10f24e7-8ebc-414e-b94d-6e957c70164e\u0026preview=yes"
            }
        },
[...]
