{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-dd9a1b59-420e-f66f-2269-01f4b22e71a3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D11380A21A4\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-dd9a1b59-420e-f66f-2269-01f4b22e71a3/test-file-16486d01-232c-17fa-6f93-bfc876e79039?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D113813B9E1\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-dd9a1b59-420e-f66f-2269-01f4b22e71a3/test-file-16486d01-232c-17fa-6f93-bfc876e79039?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "ry326CQsOSfwll1HGtcrQs1d6dLgf4LJiZ6Lz4CFq/Li\u002Beid6LOA36YnAItxvx3caW/X\u002B6MSTjCrLV6GoGmma\u002BtqZCDujloa3AkruH72V8qAr2URrq9P0Kq48bpU\u002Bj49gJWfB1r97dsVvR6a5pWxtNaUBfEElbw7G5R2NZyfxeLL7jfoVlBvg8KK\u002B/GQteoUBzzkwPRMOOvZZOzFhrc\u002Bdvc8zvdeyV6FJYIveZnLq2aqYS5fugTtfrZMD/JkqfwKTIX5VObytj7eX5tyHb9RDrmFGyWI3rvzTk9BEblrIXuFJC0T0VZ/t6rwgFtpe2H[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-dd9a1b59-420e-f66f-2269-01f4b22e71a3/test-file-16486d01-232c-17fa-6f93-bfc876e79039?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D113825B8A6\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-dd9a1b59-420e-f66f-2269-01f4b22e71a3/test-file-16486d01-232c-17fa-6f93-bfc876e79039",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D113825B8A6\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "BOAQr6BZvwY=",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "ry326CQsOSfwll1HGtcrQs1d6dLgf4LJiZ6Lz4CFq/Li\u002Beid6LOA36YnAItxvx3caW/X\u002B6MSTjCrLV6GoGmma\u002BtqZCDujloa3AkruH72V8qAr2URrq9P0Kq48bpU\u002Bj49gJWfB1r97dsVvR6a5pWxtNaUBfEElbw7G5R2NZyfxeLL7jfoVlBvg8KK\u002B/GQteoUBzzkwPRMOOvZZOzFhrc\u002Bdvc8zvdeyV6FJYIveZnLq2aqYS5fugTtfrZMD/JkqfwKTIX5VObytj7eX5tyHb9RDrmFGyWI3rvzTk9BEblrIXuFJC0T0VZ/t6rwgFtpe2H2\u002BgE53o7Wgm3KBgWWsaWEcz0f7PiRPjxiBmR7l15gidLuShe3MkLtrqLAScpR6AUFbA0[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-dd9a1b59-420e-f66f-2269-01f4b22e71a3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "106771063",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}