{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-33c18b85-a074-4350-c207-12594daef3ad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F356DABE04\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-33c18b85-a074-4350-c207-12594daef3ad/test-file-f124380b-7532-e14e-b63a-c8e7f71227c6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3571AC505\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-33c18b85-a074-4350-c207-12594daef3ad/test-file-f124380b-7532-e14e-b63a-c8e7f71227c6?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "/E2a/13RBOlUqQnnLuSSWGOp7ikH5h0/7DpfkppQdERfD29kz6QLmB\u002B9uOZF2SgJLKiB\u002BfYDWxYvWhIjcnJOBDXEhx51Lom/nVYKSi43\u002BhMRVmXyz3tOXLRYNHWR5yasbrSwgFEJk/4fwlug\u002BRHo\u002BF//ERwNXDS6ditqHfkTLbUwXdt6hnnCB8Jm0wwfrmKicDwVktYJnxJ/9goln3YFC5Wlb5s1bnHlPApapogomsfJx6y8/ZrfJr7J\u002B49vnGhLYch3eT7GbQHKL1XLr/iKVlxDXNjJSA36xknda3PhdqChDkW/sCGIAlmr8c1FE3b[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-33c18b85-a074-4350-c207-12594daef3ad/test-file-f124380b-7532-e14e-b63a-c8e7f71227c6?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F35749DFC0\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:20 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-33c18b85-a074-4350-c207-12594daef3ad/test-file-f124380b-7532-e14e-b63a-c8e7f71227c6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F35749DFC0\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:20 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "KVZNC/tY9QE=",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:59:19 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "/E2a/13RBOlUqQnnLuSSWGOp7ikH5h0/7DpfkppQdERfD29kz6QLmB\u002B9uOZF2SgJLKiB\u002BfYDWxYvWhIjcnJOBDXEhx51Lom/nVYKSi43\u002BhMRVmXyz3tOXLRYNHWR5yasbrSwgFEJk/4fwlug\u002BRHo\u002BF//ERwNXDS6ditqHfkTLbUwXdt6hnnCB8Jm0wwfrmKicDwVktYJnxJ/9goln3YFC5Wlb5s1bnHlPApapogomsfJx6y8/ZrfJr7J\u002B49vnGhLYch3eT7GbQHKL1XLr/iKVlxDXNjJSA36xknda3PhdqChDkW/sCGIAlmr8c1FE3bGP6QzK0CPgRi7fbP06QGO6bm1KqGyyqY7ull\u002BHlY/tbLTFizPrkpfEo0sBDNtlBhYHAg[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-33c18b85-a074-4350-c207-12594daef3ad?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "41351298",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}