{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-d07d2656-d7a2-b63f-7ccb-93bc4fbb418e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D113945C0DB\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-d07d2656-d7a2-b63f-7ccb-93bc4fbb418e/test-file-58980640-3f87-5cca-6fea-c42e6fa06a0a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D11394F6757\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-d07d2656-d7a2-b63f-7ccb-93bc4fbb418e/test-file-58980640-3f87-5cca-6fea-c42e6fa06a0a?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "WoIh6YVWpFt11sj3Vys9rz9BCgLy5iQwPmPIwiFCQByu1br3qqLMXKhs5ZNr8hCIwyovJOL5uHRe8aoijeE6M5arSIFxRQWddK1ahQCQxEtSP//2Ehs6tB1FmLn3qs7GMrL9v6mPF30lka80njJzzSxfz07iQyB6cZRkK61LpsrflFNOkwWiwyiC0YBsBRXr0cuNl9p/4\u002B6Rg00VK\u002BvP2erlVAreJTkmvQslX3KfDWx\u002BeVnhvg7vX7BlvRC3jJg8sviWh7ALDKyRZtrPWoR88XXhl7KR7hvb9fVZeWgpbjBz6Kx5CYa7cmytUFczIAUs6cyb1vXmq8Tcup[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-d07d2656-d7a2-b63f-7ccb-93bc4fbb418e/test-file-58980640-3f87-5cca-6fea-c42e6fa06a0a?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D113960C9F0\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:36 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-d07d2656-d7a2-b63f-7ccb-93bc4fbb418e/test-file-58980640-3f87-5cca-6fea-c42e6fa06a0a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:36 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "daQGK7Dx9r6gItie8AIaJQ==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D113960C9F0\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:36 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:45:36 GMT",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:45:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "WoIh6YVWpFt11sj3Vys9rz9BCgLy5iQwPmPIwiFCQByu1br3qqLMXKhs5ZNr8hCIwyovJOL5uHRe8aoijeE6M5arSIFxRQWddK1ahQCQxEtSP//2Ehs6tB1FmLn3qs7GMrL9v6mPF30lka80njJzzSxfz07iQyB6cZRkK61LpsrflFNOkwWiwyiC0YBsBRXr0cuNl9p/4\u002B6Rg00VK\u002BvP2erlVAreJTkmvQslX3KfDWx\u002BeVnhvg7vX7BlvRC3jJg8sviWh7ALDKyRZtrPWoR88XXhl7KR7hvb9fVZeWgpbjBz6Kx5CYa7cmytUFczIAUs6cyb1vXmq8TcupG7sZNEaPeqXHHXAufuJiRF5J3Dp9TwLY\u002BbjZg7jD3onU/1/8DZaOdgicSUVOfkrbDRoc[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-d07d2656-d7a2-b63f-7ccb-93bc4fbb418e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1036672576",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}