{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-d74db7a4-e25f-a5c6-0a1b-07075862f672?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:15 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D112D0B5614\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:15 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-d74db7a4-e25f-a5c6-0a1b-07075862f672/test-file-58266132-5a8a-dd40-3fde-06abaf687f31?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:15 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D112D14DBA0\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-d74db7a4-e25f-a5c6-0a1b-07075862f672/test-file-58266132-5a8a-dd40-3fde-06abaf687f31?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:16 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "WiO\u002Bb5MyJVnmnYtp5MjkGn89u6OchtWcKiAAl2VnUMHr8qOcMCw2GZBsiP5ZTbABG8rqIc5mbtNNIkRzMo3zf03KffIkR\u002BpSB6ETL/7XQtxv/3ybfC/yhIPPTg7nw\u002BcDeQmwj9C\u002B3NTgmBktUj7VduBoAzMQVwMe1/huVfjba0S6ELb0JrIMsSKouuMVxTJE\u002Bdguf7\u002Bz8iEGkrfXT4bbBCzVckGI4FAtW1IQaJ0fCRLGKVsgreuEBx6U7pP6NWGczLa2P1LwvBiHACNtooqE5omlECYru1dBUGsj9PK8MibwdJvmaMm/1m1CmKzIF2S[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-d74db7a4-e25f-a5c6-0a1b-07075862f672/test-file-58266132-5a8a-dd40-3fde-06abaf687f31?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:16 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D112D5D24BC\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:16 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-d74db7a4-e25f-a5c6-0a1b-07075862f672/test-file-58266132-5a8a-dd40-3fde-06abaf687f31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:16 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D112D5D24BC\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:16 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "8SRYYEV3hik=",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:45:15 GMT",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:45:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "WiO\u002Bb5MyJVnmnYtp5MjkGn89u6OchtWcKiAAl2VnUMHr8qOcMCw2GZBsiP5ZTbABG8rqIc5mbtNNIkRzMo3zf03KffIkR\u002BpSB6ETL/7XQtxv/3ybfC/yhIPPTg7nw\u002BcDeQmwj9C\u002B3NTgmBktUj7VduBoAzMQVwMe1/huVfjba0S6ELb0JrIMsSKouuMVxTJE\u002Bdguf7\u002Bz8iEGkrfXT4bbBCzVckGI4FAtW1IQaJ0fCRLGKVsgreuEBx6U7pP6NWGczLa2P1LwvBiHACNtooqE5omlECYru1dBUGsj9PK8MibwdJvmaMm/1m1CmKzIF2SUEAgKVSQ6cBFfde/nzMgmy879fS7unX6/5Tq56SKqeDkHjuPqsd0BtQSKh/LZ2AmlG83eypo1[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-d74db7a4-e25f-a5c6-0a1b-07075862f672?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:16 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "906197249",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}