{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-d2452aa9-35dd-17ac-7a48-0db6a151a0c1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:33 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1137CFCD3A\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:33 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-d2452aa9-35dd-17ac-7a48-0db6a151a0c1/test-file-e8bd2bf9-a72b-972a-7cdb-dfd0c6ec2242?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1137D8DC51\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-d2452aa9-35dd-17ac-7a48-0db6a151a0c1/test-file-e8bd2bf9-a72b-972a-7cdb-dfd0c6ec2242?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "1/vzObtmRNeg8GuMpRHQHIulJOS/TPKF8UrvW/7chAPNi8NLa4SsK3i6tN35CvbzH7chKT6eRIsIbUdxd\u002BjZw2tovxlOhbAH\u002BfhrBZcUjOdT\u002BztHulvFLkc4Qv08O7SP4fBykErcpZkGGjBFMz/z8\u002BBgHXutkQkQopHSFkOzy71E3COnovucdlWhQaAqgPsHRE4c2x444k/mYe65Co9WUk9yAFcbTFHkw6YmC1Bp5iKWytH0lu\u002BfC/nTwEEN42zGS\u002B5Qt3\u002Bj6/j9Nxd3Etb/fXrLIj\u002B9Ybtg0vVdSIsP1\u002BA6YL9h[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-d2452aa9-35dd-17ac-7a48-0db6a151a0c1/test-file-e8bd2bf9-a72b-972a-7cdb-dfd0c6ec2242?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1137EA3EEB\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-d2452aa9-35dd-17ac-7a48-0db6a151a0c1/test-file-e8bd2bf9-a72b-972a-7cdb-dfd0c6ec2242",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "jkZR2jtPazGlQCKvmjyzdA==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D1137EA3EEB\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "1/vzObtmRNeg8GuMpRHQHIulJOS/TPKF8UrvW/7chAPNi8NLa4SsK3i6tN35CvbzH7chKT6eRIsIbUdxd\u002BjZw2tovxlOhbAH\u002BfhrBZcUjOdT\u002BztHulvFLkc4Qv08O7SP4fBykErcpZkGGjBFMz/z8\u002BBgHXutkQkQopHSFkOzy71E3COnovucdlWhQaAqgPsHRE4c2x444k/mYe65Co9WUk9yAFcbTFHkw6YmC1Bp5iKWytH0lu\u002BfC/nTwEEN42zGS\u002B5Qt3\u002Bj6/j9Nxd3Etb/fXrLIj\u002B9Ybtg0vVdSIsP1\u002BA6YL9hGC6j8t/Y91/XKPki1ELGQsAsCOoz8OSJRqNt7WA3PbIWnmVMJzBg5Wlciar7OnNISJQgDVjVL[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-d2452aa9-35dd-17ac-7a48-0db6a151a0c1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:34 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1678257582",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}