{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-2241a419-fc82-a9fa-beb0-5d5960d7b0db?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F353D476AA\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-2241a419-fc82-a9fa-beb0-5d5960d7b0db/test-file-0fea7154-5c1b-9584-9e7e-edc0138034c5?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F353E4B725\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-2241a419-fc82-a9fa-beb0-5d5960d7b0db/test-file-0fea7154-5c1b-9584-9e7e-edc0138034c5?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "WvCOc/3FSn3YWeH3GhWX32Gtr5PuQofa3FfvBbqvpa\u002BgtIshUNux5INrlfqueTv0SAG7lOJXPxdotJem1kTCKLQyV2aKdo6G\u002B8sQg62MK2Ib\u002Br259BHNSHRzuJxDCw0\u002BqWxGfCLVatFzNJgWR7xp3Ig1ituHCDSiZQ7xFr3xQvC90dpBRa8/RpDrRr94tgC3CdwTDoEytqA4oxYT41MUgfKoWXXiKJbZ9UNKnMJ0Kq8NOgzh3TNuihs5CaKYLGI81sTN0FyL1OFFOhk96Bndw3lnBalHMqO\u002BOc5aqB/0QcnhDcX9pllSgmUrnKMaMKIBXEUo[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-2241a419-fc82-a9fa-beb0-5d5960d7b0db/test-file-0fea7154-5c1b-9584-9e7e-edc0138034c5?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F353FE2470\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:14 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-2241a419-fc82-a9fa-beb0-5d5960d7b0db/test-file-0fea7154-5c1b-9584-9e7e-edc0138034c5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "TjsC/Bh\u002BenCw47JZh5KBgw==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F353FE2470\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:14 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:59:14 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "WvCOc/3FSn3YWeH3GhWX32Gtr5PuQofa3FfvBbqvpa\u002BgtIshUNux5INrlfqueTv0SAG7lOJXPxdotJem1kTCKLQyV2aKdo6G\u002B8sQg62MK2Ib\u002Br259BHNSHRzuJxDCw0\u002BqWxGfCLVatFzNJgWR7xp3Ig1ituHCDSiZQ7xFr3xQvC90dpBRa8/RpDrRr94tgC3CdwTDoEytqA4oxYT41MUgfKoWXXiKJbZ9UNKnMJ0Kq8NOgzh3TNuihs5CaKYLGI81sTN0FyL1OFFOhk96Bndw3lnBalHMqO\u002BOc5aqB/0QcnhDcX9pllSgmUrnKMaMKIBXEUoMCa49aMhD5eNMSzCUPlQW9pT4BwgFYNEG5YAowgsWEzZzBCiKRci3JfCxFE5aEuqydXHrXsoC[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-2241a419-fc82-a9fa-beb0-5d5960d7b0db?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1657152896",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}