{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-1f94ad14-8c48-fd20-a36a-2c48212f4480?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:29:26 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0EF75C568A\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:29:26 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-1f94ad14-8c48-fd20-a36a-2c48212f4480/test-file-d3ed61b0-4245-80d7-3381-8f3ec67276d9?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:29:26 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0EF765C0D8\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:29:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-1f94ad14-8c48-fd20-a36a-2c48212f4480/test-file-d3ed61b0-4245-80d7-3381-8f3ec67276d9?action=append\u0026position=512",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "8PRaYEHnsE4=",
        "x-ms-date": "Mon, 11 Oct 2021 23:29:27 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "YEwW2vmzOxljd2Ieq9UoEmkfpWz72N4TJCUboAEvLlokAh25OWDNEGKJhSNMQNynUzZQBDZfgYhtArbUl5sYM0gH\u002Bqi4btgIUZUJclO6x\u002BNIdE3K3ikkxYCVSzep\u002BXjHcVHaRUYz7uVeSLKhVQ81sjvTjCJOTVQf4zQnIyKhX1gcQgEB34KcFIZnbJZ2gm9xYJj81mxWeSP8u2ERDMvCvehZhBIOM9O5Nnic5uC9qGDFtsOJpYjsxsndBCQgigi6pa\u002BuHP1dYizFQqD0uZJDPhIBTFUIOBhgbb5JMS6umatv4UAxD4tjaFOWw2Lo9ww2mcYRHz6ysmyXTa4/EzH9F6n0hdhREi6GnuQCcXS1eHayEpdonHptvC/UmcLcI1QhmKy483I05IeXioFasED34dU4jQGalXovh8iofXhsqXqQ4NnI/IQDfi0P0BH5Ewzu3LfspJZShwMxiWyqi2YPK\u002BEGydBnL\u002BRRNQ/UisRoNnS8uqHAfwXjPVjVlnMXWfLGAKUw8kk7h6zSm2\u002BHfvw\u002ByVL47tDETqvbI4x4kZhxOdscDYofN0QrgDL17uSWW75bl80gH2shAbL5Vc68w/UTYWGTa3FyHpEOzW2ez2DHRcfNHPrLUBlw\u002BgvXJuJ1br094YyCAvBN6Hg8EVL9gzJSMg8H7qb7SBBII3Flm/iumV4=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "8PRaYEHnsE4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-1f94ad14-8c48-fd20-a36a-2c48212f4480/test-file-d3ed61b0-4245-80d7-3381-8f3ec67276d9?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:29:27 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0EF78356AD\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:29:27 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-1f94ad14-8c48-fd20-a36a-2c48212f4480?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:29:27 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1115989766",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}