{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-cf7b43f5-dee2-bf24-fdd3-d0e7a2a2fae4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F35076A0E8\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-cf7b43f5-dee2-bf24-fdd3-d0e7a2a2fae4/test-file-7ebbfad3-65ac-62fa-bec9-112b8335efc6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F350BB67C0\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-cf7b43f5-dee2-bf24-fdd3-d0e7a2a2fae4/test-file-7ebbfad3-65ac-62fa-bec9-112b8335efc6?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "QgGBaheaRvg=",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:09 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "qAPjYnpE\u002Bc0h5cJPVB9INJy1N/2dy8F8HtT8s2sQdKjC5F1z5dOga6s4DT27O734Qol1ay3SCNxBZ0OmR0ZhEHEajW/C1E7IFMxSZb6EweIXBHDhmwh679yAMn2P\u002BiNl1v3Moa5NNm46rFZggKMevKZhj0PVgHRon52TQaHROBqp7Y7BuB80yc4Cp\u002B\u002BxGm45YnXXLmvgj1aIYwIQuvTMaXM8tpMUXASGLMV00tmFt4QuWd4r\u002BQmvyV04OVQdJA/ZNj17dGPbJAZxUQKla719Aqt94WAWoG9pjO023COvaAi2m5ybCUIgUzXYuqgHCV6guzapoEKvw5XOEeh2pUjiwej6788g4vhoXY0rPebGYoOOlSHtBsjFB9gHzPdaqq7s9vm/DRqOf9g9QEK0g4WvB69l5w8n9bsgNOj3GRUBDrLePkfsBlVoABZIr8WFEINTV8RI9cKfxQA9n9gxlmbDPDKQ1UU9wgFZ/Ob430X1miNlpMFRuBjwP3lGr2Z9N2mwhHOT9To\u002BFZXD7/nbpuW7SAW0zPKkcYMZn5bL9hOa3MR9SFrSYaXoJ44sjskfFJiTi2ZhyGp3CxPvelWkch\u002BBKBI0Xl2L6eZgzKRkd\u002BO6\u002Bov9N2usOBRZBT1H4udPRLRuqmW26rU6CKF/AfzGE5MvNIDJpjq01e/\u002B2lggQwb/EIg=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "QgGBaheaRvg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-cf7b43f5-dee2-bf24-fdd3-d0e7a2a2fae4/test-file-7ebbfad3-65ac-62fa-bec9-112b8335efc6?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:09 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F350F19218\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:09 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-cf7b43f5-dee2-bf24-fdd3-d0e7a2a2fae4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:09 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "999696305",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}