{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-cf7b43f5-dee2-bf24-fdd3-d0e7a2a2fae4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:29 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D11352DF465\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:29 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-cf7b43f5-dee2-bf24-fdd3-d0e7a2a2fae4/test-file-7ebbfad3-65ac-62fa-bec9-112b8335efc6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:29 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1135371C32\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-cf7b43f5-dee2-bf24-fdd3-d0e7a2a2fae4/test-file-7ebbfad3-65ac-62fa-bec9-112b8335efc6?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "QgGBaheaRvg=",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:29 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "qAPjYnpE\u002Bc0h5cJPVB9INJy1N/2dy8F8HtT8s2sQdKjC5F1z5dOga6s4DT27O734Qol1ay3SCNxBZ0OmR0ZhEHEajW/C1E7IFMxSZb6EweIXBHDhmwh679yAMn2P\u002BiNl1v3Moa5NNm46rFZggKMevKZhj0PVgHRon52TQaHROBqp7Y7BuB80yc4Cp\u002B\u002BxGm45YnXXLmvgj1aIYwIQuvTMaXM8tpMUXASGLMV00tmFt4QuWd4r\u002BQmvyV04OVQdJA/ZNj17dGPbJAZxUQKla719Aqt94WAWoG9pjO023COvaAi2m5ybCUIgUzXYuqgHCV6guzapoEKvw5XOEeh2pUjiwej6788g4vhoXY0rPebGYoOOlSHtBsjFB9gHzPdaqq7s9vm/DRqOf9g9QEK0g4WvB69l5w8n9bsgNOj3GRUBDrLePkfsBlVoABZIr8WFEINTV8RI9cKfxQA9n9gxlmbDPDKQ1UU9wgFZ/Ob430X1miNlpMFRuBjwP3lGr2Z9N2mwhHOT9To\u002BFZXD7/nbpuW7SAW0zPKkcYMZn5bL9hOa3MR9SFrSYaXoJ44sjskfFJiTi2ZhyGp3CxPvelWkch\u002BBKBI0Xl2L6eZgzKRkd\u002BO6\u002Bov9N2usOBRZBT1H4udPRLRuqmW26rU6CKF/AfzGE5MvNIDJpjq01e/\u002B2lggQwb/EIg=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "QgGBaheaRvg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-cf7b43f5-dee2-bf24-fdd3-d0e7a2a2fae4/test-file-7ebbfad3-65ac-62fa-bec9-112b8335efc6?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:29 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D11356FB027\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:30 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-cf7b43f5-dee2-bf24-fdd3-d0e7a2a2fae4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:30 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "999696305",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}