{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-70f28d64-f30f-67d3-82fc-3220c8b22972?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:29 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1134EB8838\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:29 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-70f28d64-f30f-67d3-82fc-3220c8b22972/test-file-4bad7fb1-3170-9748-1381-1f7b26afb3ab?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:29 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1134F49E9D\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-70f28d64-f30f-67d3-82fc-3220c8b22972/test-file-4bad7fb1-3170-9748-1381-1f7b26afb3ab?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "FZMM5D5OaM7MsP9iIyMXqA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:29 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "eXmrqh9TbL03K0gL7utZsgQxeRlHZIe6xUBYxqdpLwehe26UJE3iU0Ktjb96PqE8aEznZqdJQRXy8eTf\u002BqYVzftBaXJ9xY23TyXXmtbHQIaeG11bgslfWDpYojNoAlmbl7/EONUuv6O\u002BMBaBcqc\u002BK7BdQN5Juksy4hE4JCNaTkzMOwIXAgixcFy5nFKy3uWSGXaCCsJ6Ut10klbD9ZqAZOHKtDelJyiorM\u002BBjx75gAMspgqs10OKUuglo3Cy7nrCOTdw5ymu7fJO2l7y\u002BMO\u002BehFSl0\u002BP1I2dP2JOf4S39r5Vv1XmiJjZfbgYXv3kmFklZiheX1YqMmWp06jHX21uluOgnDht1/J5eBmXd3WQuKcIKBlcWZZnKo3wPLTvEh1LqsgZRPsht4415Oc8k7rvGRoAvjdTEjxNOHKqfZs9imX7TM2td3Sr53CLJnSuKpbTASOa71Pm95eLywuJdjrz91qBQUfsQaKmVNfGyOvIng7b13x3o5oSFFU1IqtoInA1ly4ZLelP5r\u002BB9Jp8IC6swi39rZ\u002B\u002Be1S/byzytx/2PTFmkDC8rnEkjPC89q4AlvQmiV9\u002Ba3XRdxzaWb29XC\u002BgirdoFZD97xO72CGuAoSlv9k3yy2/eNG8lRkU4lWzZy/BHGz3l4BkKJlMwpJUI3SXNJrjhZEB4BHlrH936Qy\u002BB3E=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-MD5": "FZMM5D5OaM7MsP9iIyMXqA==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-70f28d64-f30f-67d3-82fc-3220c8b22972/test-file-4bad7fb1-3170-9748-1381-1f7b26afb3ab?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:29 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D11351B0CC6\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:29 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-70f28d64-f30f-67d3-82fc-3220c8b22972?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:29 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "948160956",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}