{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-3ff4fa41-f3cd-19e3-69d6-aa225223507a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:29:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0EE9C3D444\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:29:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-3ff4fa41-f3cd-19e3-69d6-aa225223507a/test-file-58caa512-aa5d-bd89-afef-fe3a25846dc3?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:29:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0EE9CD37B8\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:29:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-3ff4fa41-f3cd-19e3-69d6-aa225223507a/test-file-58caa512-aa5d-bd89-afef-fe3a25846dc3?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "/0G7flJ00Mg=",
        "x-ms-date": "Mon, 11 Oct 2021 23:29:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "OiXiL9tGLM2nKwvQ4ImzzKQ\u002BrEfpj7nAexI6VhNvBt6eQx8/uwKQLt5sGZWGqReJXpM/gqgW5qpsIrPIC9W5NyUsMp1qdBGhrn5ofHYjOdL7sfh/L4M2h1x00phPxyIJs\u002BFwWnd6H\u002BmCntQqrWo0SOjhzVrcOQih9atA9aF4UudbX8mVs99bgZIO/ZCvDNnxQIqwbfnILHnZzmTLOSlICUzszk6hnpQJhkzIzTx38unRT7UWyOTtkzJPu\u002BV6j0hoxvREwj2LT6H1p\u002Bet/188Ydt6\u002BulzMUFn/jsbUeKvjvcEXwdHMy\u002BsRf8UISH9QJTTE1oJAJ[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-3ff4fa41-f3cd-19e3-69d6-aa225223507a/test-file-58caa512-aa5d-bd89-afef-fe3a25846dc3?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:29:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0EE9E8AAFA\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:29:04 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-3ff4fa41-f3cd-19e3-69d6-aa225223507a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:29:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1711597951",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}