{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-6a7b3aff-af9f-697d-088c-2c75bedf73be?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:49 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1140D441DF\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:49 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-6a7b3aff-af9f-697d-088c-2c75bedf73be/test-file-ef5e0991-0599-6d99-7e55-3411e881d31f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:49 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1140DD93B4\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-6a7b3aff-af9f-697d-088c-2c75bedf73be/test-file-ef5e0991-0599-6d99-7e55-3411e881d31f?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "we8NYEp/jg8=",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:49 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "nfsWRWEL0W6FXksVQ0O7Ihe4E931GkVF9PwY4bRO7Tr80Zux0C8TVg981Bp\u002BoN4QZLpPd9GwpIK20FBk8\u002B\u002B5NnARGHGnCVLnpL3NeEYrxlQdB3z6/3VpTC0Z\u002B//frmMgw56pbYhsaFpnZ9MT4yw8iwn7R\u002Btyvzb6p8tEjg5TCPVZrLWogVnLsJ4ikpiiVWgA3HD142d3rgNnrsW8KNlMFF/dujZ3kwqwL5ZMUC2eWFJjRLGeXSSO4f6xQdKTD4jE1X04xZsxiUllRLPRK13WyVZyWOQnrrc7Ttg4xVI3HSANh3uvZZK3MbpoOBhwvbah2nd7ILaknCbF/XbC[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-6a7b3aff-af9f-697d-088c-2c75bedf73be/test-file-ef5e0991-0599-6d99-7e55-3411e881d31f?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:49 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1140F81CB9\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:49 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-6a7b3aff-af9f-697d-088c-2c75bedf73be?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:49 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1610188995",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}