{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-8e190aa1-6035-287c-f2b4-7a8491a53d7e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:01 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F34C3D4AEE\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:01 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-8e190aa1-6035-287c-f2b4-7a8491a53d7e/test-file-85bd7932-fd65-6f42-09dd-1eca264631cf?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:01 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F34C4C1F8A\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-8e190aa1-6035-287c-f2b4-7a8491a53d7e/test-file-85bd7932-fd65-6f42-09dd-1eca264631cf?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:01 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "Z\u002B7fzFvGgJn9nsU2V8lFHNmvkt1JEZZwkiOhQCYblKq4kkrz9g9wKzPCL0mxGxXeBMUYN41pLFZYbzo3JT9z4QobfcV\u002BUSbKP2aqh\u002BJMvnYOwztgA10cT2X0m4bVOAbzTk0/lZ1QX7KfTvcmv6RzDLDDKWEDEt6t/i5firaf9QZgtjmVDCjZvWSJwbRl9pDBgI7WEQ\u002Bk7ztukpdv8NX8/1jxxQhr3gCH6mv9elApRwiengkoyeP2vMb9JnqRac2OjcFcdDGHVaGOTiekpnXqREqP0FLL0zZ1\u002BglCbriF9oCdbu2PzdPWF0hnmXq7URZREuIv[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-8e190aa1-6035-287c-f2b4-7a8491a53d7e/test-file-85bd7932-fd65-6f42-09dd-1eca264631cf?action=flush\u0026position=2048",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:01 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F34C6682A7\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:01 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-8e190aa1-6035-287c-f2b4-7a8491a53d7e/test-file-85bd7932-fd65-6f42-09dd-1eca264631cf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:01 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "o5KcSOjZpdGo5Am7qot7ZQ==",
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F34C6682A7\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:01 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:59:01 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "Z\u002B7fzFvGgJn9nsU2V8lFHNmvkt1JEZZwkiOhQCYblKq4kkrz9g9wKzPCL0mxGxXeBMUYN41pLFZYbzo3JT9z4QobfcV\u002BUSbKP2aqh\u002BJMvnYOwztgA10cT2X0m4bVOAbzTk0/lZ1QX7KfTvcmv6RzDLDDKWEDEt6t/i5firaf9QZgtjmVDCjZvWSJwbRl9pDBgI7WEQ\u002Bk7ztukpdv8NX8/1jxxQhr3gCH6mv9elApRwiengkoyeP2vMb9JnqRac2OjcFcdDGHVaGOTiekpnXqREqP0FLL0zZ1\u002BglCbriF9oCdbu2PzdPWF0hnmXq7URZREuIvApl6w7mK5nknRefpCFinBjeHW3Z3uLkJZDm8uanz8FvVVvPnI6s0BOdar9FhfZEhFEreybdruErfcV5/zi3QNFSLFLFkwOOMU1ePHQnnqOaomqVeFCekaZ6pB7FMtDW5iXp91WnfvVRmUnVf3JtA98l41zOIcR8s56oSurgyP58h1ZOOatJ8yN1Q98KyRI0DaA/o1N0CMRhaUO6/zQKbNBLWPgYHsoz2\u002Bw5WN3pdeqIcD1KpSWvBH6N6NBrkvfvbtcKw3AaH\u002B7aC8tjOrPqe/dVLo72w8uumFB9ijX1yEj4TeoG3rJ6clRObJleT8nKp3DZEmRo9K8PXCcfnJG44EN\u002BZuzF45lA3rg2qFMs="
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-8e190aa1-6035-287c-f2b4-7a8491a53d7e/test-file-85bd7932-fd65-6f42-09dd-1eca264631cf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D993F34C6682A7\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:01 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "BmS7ggM7Fpco2BO1uKdq8g==",
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F34C6682A7\u0022",
 [...]
[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-8e190aa1-6035-287c-f2b4-7a8491a53d7e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "257105322",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}