{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-41f980d1-8c7b-a0d8-e6f5-cbf308a98d12?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:29:05 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0EEA8AA3CB\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:29:05 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-41f980d1-8c7b-a0d8-e6f5-cbf308a98d12?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:29:05 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "677935859",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}