{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-4b17970e-53a1-6b81-5a14-6a2b2a59e750?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Oct 2021 17:29:31 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99A3880ECBD09\u0022",
        "Last-Modified": "Thu, 28 Oct 2021 17:29:32 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-4b17970e-53a1-6b81-5a14-6a2b2a59e750/test-file-125f8736-e684-469b-a5e6-e7871d455015?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Oct 2021 17:29:31 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99A388137916C\u0022",
        "Last-Modified": "Thu, 28 Oct 2021 17:29:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-4b17970e-53a1-6b81-5a14-6a2b2a59e750/test-file-125f8736-e684-469b-a5e6-e7871d455015?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "PSx9/nGGk4k=",
        "x-ms-date": "Thu, 28 Oct 2021 17:29:31 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "MLTP/gI4cd6\u002B3Shf/rCqCiL46Bf36s3/pNM80ySnLH11kqAMf/RvC6GEPqXuTCDyQQAOFb60y0Xn0Fku\u002B526FrCr6msPnYsuiNx2c6soEVezSpEjmBe\u002BwMdbJa\u002BaQQ8Dyif1Q2K046N14IzhPliavr8BerEMln6Y7CmktHjbk0fNcqmDM871/2burbiK3YJvwWbwmMZe9zOpXFY4EC8rmkxFFMuuFovxDHtKHejFDQ6mNPIR6/uAb3t12tZ3ve43wxNrRcm3wKra/oxLE9lK405Hkds8Ga5RxKRQOTu0eU6NE1rVWshF73RIN\u002BxvNVyhK/aILysS\u002B6llGoAkZoZuJYU9vf9\u002BdYmFAqJn9OHC4Y9Irg5FLEojehiwcD9IIIjt2RFnMXdcI7VsAiyJqwbHozjx3Lh4Kfk6GkPnzQVKPeIZeRvQWq8X7ItY2Codms8R6c0GVkTQdK8YLBc0dFWwIsRKbzHr90iJ2u8sIFDOHX901uQ4Q\u002BedSQRruC6X4ng2p7Vl0iqdJfGEfXxUo1ReSQ6XwJ1weN/drCUsgD4a8fd39nibaEtU1rHys8ZqSaWwDG8fACLaxS/WiCUFcaSzaoyF3a3bw\u002BDDQursfsQZc2OAfHPP\u002BvHUnDFIxOAlT2QMP0g65Gz41EmOW7047kdqvRXChPUx42\u002BasEB8k/8AnvM=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "PSx9/nGGk4k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-4b17970e-53a1-6b81-5a14-6a2b2a59e750/test-file-125f8736-e684-469b-a5e6-e7871d455015?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Oct 2021 17:29:31 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99A3881701C72\u0022",
        "Last-Modified": "Thu, 28 Oct 2021 17:29:33 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-4b17970e-53a1-6b81-5a14-6a2b2a59e750/test-file-125f8736-e684-469b-a5e6-e7871d455015",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Oct 2021 17:29:31 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D99A3881701C72\u0022",
        "Last-Modified": "Thu, 28 Oct 2021 17:29:33 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "PSx9/nGGk4k=",
        "x-ms-creation-time": "Thu, 28 Oct 2021 17:29:32 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "MLTP/gI4cd6\u002B3Shf/rCqCiL46Bf36s3/pNM80ySnLH11kqAMf/RvC6GEPqXuTCDyQQAOFb60y0Xn0Fku\u002B526FrCr6msPnYsuiNx2c6soEVezSpEjmBe\u002BwMdbJa\u002BaQQ8Dyif1Q2K046N14IzhPliavr8BerEMln6Y7CmktHjbk0fNcqmDM871/2burbiK3YJvwWbwmMZe9zOpXFY4EC8rmkxFFMuuFovxDHtKHejFDQ6mNPIR6/uAb3t12tZ3ve43wxNrRcm3wKra/oxLE9lK405Hkds8Ga5RxKRQOTu0eU6NE1rVWshF73RIN\u002BxvNVyhK/aILysS\u002B6llGoAkZoZuJYU9vf9\u002BdYmFAqJn9OHC4Y9Irg5FLEojehiwcD9IIIjt2RFnMXdcI7VsAiyJqwbHozjx3Lh4Kfk6GkPnzQVKPeIZeRvQWq8X7ItY2Codms8R6c0GVkTQdK8YLBc0dFWwIsRKbzHr90iJ2u8sIFDOHX901uQ4Q\u002BedSQRruC6X4ng2p7Vl0iqdJfGEfXxUo1ReSQ6XwJ1weN/drCUsgD4a8fd39nibaEtU1rHys8ZqSaWwDG8fACLaxS/WiCUFcaSzaoyF3a3bw\u002BDDQursfsQZc2OAfHPP\u002BvHUnDFIxOAlT2QMP0g65Gz41EmOW7047kdqvRXChPUx42\u002BasEB8k/8AnvM="
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-4b17970e-53a1-6b81-5a14-6a2b2a59e750/test-file-125f8736-e684-469b-a5e6-e7871d455015",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D99A3881701C72\u0022",
        "x-ms-date": "Thu, 28 Oct 2021 17:29:32 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D99A3881701C72\u0022",
        "Last-Modified": "Thu, 28 Oct 2021 17:29:3[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-4b17970e-53a1-6b81-5a14-6a2b2a59e750?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Oct 2021 17:29:32 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "101779910",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n\nXClient\n"
  }
}