{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-d942abef-aaf5-ce37-e925-d822d387f976?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:31 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D11366D8C33\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:31 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-d942abef-aaf5-ce37-e925-d822d387f976/test-file-914d90f5-3ae1-3b6b-bc2e-97bef8beaf50?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:31 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1136770ECB\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-d942abef-aaf5-ce37-e925-d822d387f976/test-file-914d90f5-3ae1-3b6b-bc2e-97bef8beaf50?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "xwBciDrsQcRoLf4R7R9B5A==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:31 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "\u002BVXewtqnsAMuAkMCmIwPU8jqoyB15BUb4Nz0kDa/QGpEIrNpt5sT1wIO5l4QjcsWWWH0FYeOexQ/wuH9syDNbsHZvXXZppws1sseZv23C1IR3jbUyyritqefKvS5FiThQXicN9BVPbPExz\u002B8bxQWh7aP7NXp\u002BKOX9gbOOnync8CnPCWFG9SCu6GDDwPqJkaTiKI\u002BKSlP\u002BEjUBEDJhwI3HFN/FTLukWziDTA0ZeigrNC/O7HZaUmWV0PcsRaTuDSeS/KvaxATpPc1XBz5GpJgM1dwCUxRXbMJ6L3vEeBVTlT8lRr18EC/q5a6pAwtnTywfH2/[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-d942abef-aaf5-ce37-e925-d822d387f976?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:31 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1104182829",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}