{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-8b78eee3-07e4-2e43-869d-04692c178e40?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:50 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1141B9C272\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:50 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-8b78eee3-07e4-2e43-869d-04692c178e40/test-file-76c2c183-abe4-ec61-313b-3cadc50f0ae6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:50 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1141C428AA\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-8b78eee3-07e4-2e43-869d-04692c178e40/test-file-76c2c183-abe4-ec61-313b-3cadc50f0ae6?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "f3Kuk2vTdlsLJGU7\u002BxaGoQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:50 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "erlYuQUjXKP5LKBMbR1OYd4Oh7BNRa6R24U09pNPUq1RBqwmzAXwvh8nTmZWngk3SkvF67aVRjMKxt1/7mYPqtny\u002BmdwJ5TZHciRJvdIOzx8/KxIiWb2vL95GwUncc\u002B4F6SMY6SixyK27M7tBCA8wouhAvK6xiBy\u002Bz6o9gyOsqv52A5Tu9eY2jSJkZ2YCbiePFl6hW/d/lCDGWhl\u002BtAWJzki9CsR6QazCCi9MDWD2vKGCbmyFCw8G9m9z6FvMuBjcmljdRSMjVNSxn1GIM4bAD913/AXYxMN5thSVBlkRNVIWb3LH2Xd\u002BXxmYE6v9vsLos9i[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-8b78eee3-07e4-2e43-869d-04692c178e40?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:50 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "370721733",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}