{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-656283ef-7a57-30ea-c480-8bb2dbd7c363?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F352DA4D76\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-656283ef-7a57-30ea-c480-8bb2dbd7c363/test-file-7f21a749-c5d2-82be-bd36-ca7ae30b8ae3?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F352E94C21\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-656283ef-7a57-30ea-c480-8bb2dbd7c363/test-file-7f21a749-c5d2-82be-bd36-ca7ae30b8ae3?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "ISBFudu8AwD7WX1X3OVLEw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "FRW9t0zijTJxl/hQfpFHaWoAU7LC38llSM9W\u002BynnjIROVELTnl0/fZvjcgKf8Vk\u002BAirAPpUF5TZLV298i5EJigpzASlPc8sNwdUW3mzHxlZ2GPj\u002BJk7vSG4LiEbtwvIK2ej3K/Av7o9fsny/7wfKhJEZBnKYCmO8g7i7ROuEH//jDAWDz5plRippn3TRMFlnQAO11Lt/cc6FO6c3c6qk2pN92\u002BICR7T2s8BIL2vv6lNeVATnz0pDY5o2/pTzLtN/xcTgVFR3ZflPvyD7N0JjllBU2B\u002BmvAtIOXhHy0kgA4XsyGmnDpX/5\u002B8LmBAqSCx[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-656283ef-7a57-30ea-c480-8bb2dbd7c363?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1970690522",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}