{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-8b78eee3-07e4-2e43-869d-04692c178e40?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F36AB6E0F6\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-8b78eee3-07e4-2e43-869d-04692c178e40/test-file-76c2c183-abe4-ec61-313b-3cadc50f0ae6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F36AEFE6AC\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-8b78eee3-07e4-2e43-869d-04692c178e40/test-file-76c2c183-abe4-ec61-313b-3cadc50f0ae6?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "f3Kuk2vTdlsLJGU7\u002BxaGoQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:53 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "erlYuQUjXKP5LKBMbR1OYd4Oh7BNRa6R24U09pNPUq1RBqwmzAXwvh8nTmZWngk3SkvF67aVRjMKxt1/7mYPqtny\u002BmdwJ5TZHciRJvdIOzx8/KxIiWb2vL95GwUncc\u002B4F6SMY6SixyK27M7tBCA8wouhAvK6xiBy\u002Bz6o9gyOsqv52A5Tu9eY2jSJkZ2YCbiePFl6hW/d/lCDGWhl\u002BtAWJzki9CsR6QazCCi9MDWD2vKGCbmyFCw8G9m9z6FvMuBjcmljdRSMjVNSxn1GIM4bAD913/AXYxMN5thSVBlkRNVIWb3LH2Xd\u002BXxmYE6v9vsLos9i[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-8b78eee3-07e4-2e43-869d-04692c178e40?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:53 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "370721733",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}