{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-db213e66-f626-437b-fa53-0ab56c5f08fe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F353144444\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-db213e66-f626-437b-fa53-0ab56c5f08fe/test-file-bad28f70-388a-0433-d7fb-83b4d90992d1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F35333070A\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-db213e66-f626-437b-fa53-0ab56c5f08fe/test-file-bad28f70-388a-0433-d7fb-83b4d90992d1?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "Spv7o2Q67uY=",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "6AWJtUmp/1aTfqRkO0adJMrZGikY5ieUzaQKQEtwf0oItkygTNPm8UPwjlhWbvPDg59wSdCP7AHd9eilnr4KIv5ZW4X6/Nj38ynmKFfPPV6wRryrADZ5eMpKwlfqQFKF5Wxa/BNuyYfHeVWnqcSqDriK9FgBXyLH4OK7sDmBDLLWYELrdEBLQX015Ifg0s8FoLSeYEz6g4ZKkhwwsxhNRWyj0UiBv5l4PrPazHua5w0TtRCF4qxm2927oOIjG45l6J4bPQCGhOAaJiGZH7cLr6sPHP4Ix2PAPPVrxh63VCMkdePdf6oNjTEvaruKzbsmsPE3FP6QXCA6WgALGr3CY9H\u002BdKrTLjAAAY/N[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-db213e66-f626-437b-fa53-0ab56c5f08fe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1626409564",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}