{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-403d2210-1f3f-d1b5-0da3-969c9b945fd3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:53 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1143722245\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:53 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-403d2210-1f3f-d1b5-0da3-969c9b945fd3/test-file-9c190f0c-6939-f418-6600-516507257a48?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:53 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D11437D7F59\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-403d2210-1f3f-d1b5-0da3-969c9b945fd3/test-file-9c190f0c-6939-f418-6600-516507257a48?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "XULbyyViUfSX6/OzD8kdPg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:53 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "agX73D9DLHu35fKNcZ/ux5zqI1rd596ORrw7Lo3sHYkZpKvdSylsNBQ7vw45GbXysj/hUKE9LIImbJaCCP3ty8hodMzzEHtyfe5FoSfPVS0GSHxNC8zo23gott6T6SwXTfRG0KTo/qHEbtKy\u002BIpbVhdpe8CAoMD8gJhUy1md35TCLVMyiYSIHknbiZz6NePuzV/GKW1rlq00SlAMlDNHJo4\u002B8Mo2KM2S4V12pRYjAUq0Zv751rUmVpem/j80e4kVk2MNu0QZt6SSNEgP9fGWEEgFVy41TU/ZF5ozkCqNXWXUYBGzFkYFm65ZZ6JsF2ClD\u002B33LyRa4EUTNK[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-403d2210-1f3f-d1b5-0da3-969c9b945fd3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:53 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1492453439",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}