{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-3464f0cc-7a14-e2f9-ab5a-03b46548ea6b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F3529ED026\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-3464f0cc-7a14-e2f9-ab5a-03b46548ea6b/test-file-c5624682-36c8-2744-98c7-5b16dbba052c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F352ADF8F1\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:59:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-3464f0cc-7a14-e2f9-ab5a-03b46548ea6b/test-file-c5624682-36c8-2744-98c7-5b16dbba052c?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "cTcF/HlYbgQ=",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "1sHzPQfVTELgl7oVcC\u002BhgwoOhuBjCvtr/qE5jJTsY1xLG/N\u002BNBLtWDei/terXc\u002BL\u002BHEYWpbSi8zFiD5mnMCt9DRdylQ8Ik/3IS6owAskv6HSrZQj1AjGeJAnuavUhrx39QqjTZJ6TtUiITloKsrAocidk\u002B4riiArl1LDFWmjIppyMMsBgHEPV1\u002B\u002BALLOXk7GZhfjN/PNTGrqd7ZAtzhsf/6f9vn\u002BviBXjTyPbYltXDkE/a5SwOunpORgFgm7z6AmUoGzL2hUx6f2i6m2Pt7hfRp8O7mJGr4S\u002BFEUnagXm76baBsIuS3RrzUGWzRC[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-3464f0cc-7a14-e2f9-ab5a-03b46548ea6b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:59:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "586643870",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}