{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11223"
      },
      "ResponseBody": {
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "b6a8bef9-9220-454a-a229-f360b6e9f0f6",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Event Grid - DevPool 10",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourcegroups/EventGridRG1532?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap",
        "tags": {
          "DeleteAfter": "2023-06-22T15:00:48.1117745"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1055"
      },
      "ResponseBody": {
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG1532",
        "name": "EventGridRG1532",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "tags": {
          "DeleteAfter": "2023-06-22T15:00:48.1117745"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG1532/providers/Microsoft.EventGrid/topics/EventGridTopic5067?api-version=2023-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2euap",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/EC002E5F-CCD0-4881-85CC-4C2F2341DF23?api-version=2021-10-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1054"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Creating",
          "endpoint": null,
          "minimumTlsVersionAllowed": "1.0"
        },
        "systemData": null,
        "location": "eastus2euap",
        "tags": {},
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG1532/providers/Microsoft.EventGrid/topics/EventGridTopic5067",
        "name": "EventGridTopic5067",
        "type": "Microsoft.EventGrid/topics"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/EC002E5F-CCD0-4881-85CC-4C2F2341DF23?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11222"
      },
      "ResponseBody": {
        "id": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/EC002E5F-CCD0-4881-85CC-4C2F2341DF23?api-version=2023-06-01-preview",
        "name": "ec002e5f-ccd0-4881-85cc-4c2f2341df23",
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG1532/providers/Microsoft.EventGrid/topics/EventGridTopic5067?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11219"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "endpoint": "https://eventgridtopic5067.eastus2euap-1.eventgrid.azure.net/api/events",
          "minimumTlsVersionAllowed": "1.0",
          "inputSchema": "EventGridSchema",
          "metricResourceId": "f03f4b2a-ca94-47d4-aa3e-734bba500cbf",
          "publicNetworkAccess": "Enabled",
          "dataResidencyBoundary": "WithinGeopair"
        },
        "sku": {
          "name": "Basic"
        },
        "kind": "Azure",
        "systemData": null,
        "location": "eastus2euap",
        "tags": {},
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG1532/providers/Microsoft.EventGrid/topics/EventGridTopic5067",
        "name": "EventGridTopic5067",
        "type": "Microsoft.EventGrid/topics"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG1532/providers/Microsoft.EventGrid/topics/EventGridTopic5067?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11218"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "endpoint": "https://eventgridtopic5067.eastus2euap-1.eventgrid.azure.net/api/events",
          "minimumTlsVersionAllowed": "1.0",
          "inputSchema": "EventGridSchema",
          "metricResourceId": "f03f4b2a-ca94-47d4-aa3e-734bba500cbf",
          "publicNetworkAccess": "Enabled",
          "dataResidencyBoundary": "WithinGeopair"
        },
        "sku": {
          "name": "Basic"
        },
        "kind": "Azure",
        "systemData": null,
        "location": "eastus2euap",
        "tags": {},
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG1532/providers/Microsoft.EventGrid/topics/EventGridTopic5067",
        "name": "EventGridTopic5067",
        "type": "Microsoft.EventGrid/topics"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DateTimeOffsetNow": "2023-06-22T00:00:48.1117745-07:00",
    "RandomSeed": "1028036160",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "b6a8bef9-9220-454a-a229-f360b6e9f0f6"
  }
}
