{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11870"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/EventGridRG8376?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "DeleteAfter": "2022-10-17T15:40:36.9739142"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1161"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/EventGridRG8376",
        "name": "EventGridRG8376",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "DeleteAfter": "2022-10-17T15:40:36.9739142"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/EventGridRG8376/providers/Microsoft.EventGrid/topics/EventGridTopic8260?api-version=2022-06-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.EventGrid/locations/eastus/operationsStatus/F5576970-2665-48E6-84E1-3D2BD847F475?api-version=2022-06-15",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1160"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Creating",
          "endpoint": null
        },
        "systemData": null,
        "location": "eastus",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/EventGridRG8376/providers/Microsoft.EventGrid/topics/EventGridTopic8260",
        "name": "EventGridTopic8260",
        "type": "Microsoft.EventGrid/topics"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.EventGrid/locations/eastus/operationsStatus/F5576970-2665-48E6-84E1-3D2BD847F475?api-version=2022-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11869"
      },
      "ResponseBody": {
        "id": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.EventGrid/locations/eastus/operationsStatus/F5576970-2665-48E6-84E1-3D2BD847F475?api-version=2022-06-15",
        "name": "f5576970-2665-48e6-84e1-3d2bd847f475",
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/EventGridRG8376/providers/Microsoft.EventGrid/topics/EventGridTopic8260?api-version=2022-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11866"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "endpoint": "https://eventgridtopic8260.eastus-1.eventgrid.azure.net/api/events",
          "inputSchema": "EventGridSchema",
          "metricResourceId": "0e95e606-7f25-4273-935c-b6ad88eb5913",
          "publicNetworkAccess": "Enabled",
          "dataResidencyBoundary": "WithinGeopair"
        },
        "systemData": null,
        "location": "eastus",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/EventGridRG8376/providers/Microsoft.EventGrid/topics/EventGridTopic8260",
        "name": "EventGridTopic8260",
        "type": "Microsoft.EventGrid/topics"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/EventGridRG8376/providers/Microsoft.EventGrid/topics?api-version=2022-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11865"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded",
              "endpoint": "https://eventgridtopic8260.eastus-1.eventgrid.azure.net/api/events",
              "inputSchema": "EventGridSchema",
              "metricResourceId": "0e95e606-7f25-4273-935c-b6ad88eb5913",
              "publicNetworkAccess": "Enabled",
              "dataResidencyBoundary": "WithinGeopair"
            },
            "systemData": null,
            "location": "eastus",
            "tags": {},
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/EventGridRG8376/providers/Microsoft.EventGrid/topics/EventGridTopic8260",
            "name": "EventGridTopic8260",
            "type": "Microsoft.EventGrid/topics"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2022-10-17T15:40:36.9739142\u002B08:00",
    "RandomSeed": "75216990",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
