{
  "Entries": [
    {
      "RequestUri": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/register?api-version=2015-11-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache\",\r\n  \"namespace\": \"Microsoft.StorageCache\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"4392ab71-2ce2-4b0d-8770-b352745c73f5\",\r\n      \"roleDefinitionId\": \"e27430df-bd6b-4f3a-bd6d-d52ad1a7d075\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"caches\",\r\n      \"locations\": [\r\n        \"Australia East\",\r\n        \"Canada Central\",\r\n        \"Central US\",\r\n        \"East Asia\",\r\n        \"East US 2\",\r\n        \"Korea Central\",\r\n        \"North Central US\",\r\n        \"North Europe\",\r\n        \"South Central US\",\r\n        \"Southeast Asia\",\r\n        \"UK South\",\r\n        \"West Europe\",\r\n        \"West US\",\r\n        \"West US 2\",\r\n        \"East US\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2021-03-01\",\r\n        \"2020-10-01\",\r\n        \"2020-03-01\",\r\n        \"2019-11-01\",\r\n        \"2019-08-01-preview\"\r\n      ],\r\n      \"capabilities\": \"SystemAssignedResourceIdentity\"\r\n    },\r\n    {\r\n      \"resourceType\": \"caches/storageTargets\",\r\n      \"locations\": [\r\n        \"Australia East\",\r\n        \"Canada Central\",\r\n        \"Central US\",\r\n        \"East Asia\",\r\n        \"East US 2\",\r\n        \"Korea Central\",\r\n        \"North Central US\",\r\n        \"North Europe\",\r\n        \"South Central US\",\r\n        \"Southeast Asia\",\r\n        \"UK South\",\r\n        \"West Europe\",\r\n        \"We[...]
    {
      "RequestUri": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/46841c0e-69c8-4b[...]
    {
      "RequestUri": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/usageModels?api-version=2021-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"display\": {\r\n        \"description\": \"Read heavy, infrequent writes\"\r\n      },\r\n      \"modelName\": \"READ_HEAVY_INFREQ\",\r\n      \"targetType\": \"Nfs\"\r\n    },\r\n    {\r\n      \"display\": {\r\n        \"description\": \"Greater than 15% writes\"\r\n      },\r\n      \"modelName\": \"WRITE_WORKLOAD_15\",\r\n      \"targetType\": \"Nfs\"\r\n    },\r\n    {\r\n      \"display\": {\r\n        \"description\": \"Clients write to the NFS target bypassing the cache\"\r\n      },\r\n      \"modelName\": \"WRITE_AROUND\",\r\n      \"targetType\": \"Nfs\"\r\n    },\r\n    {\r\n      \"display\": {\r\n        \"description\": \"Greater than 15% writes, checking the backing server for changes every 30 seconds \"\r\n      },\r\n      \"modelName\": \"WRITE_WORKLOAD_CHECK_30\",\r\n      \"targetType\": \"Nfs\"\r\n    },\r\n    {\r\n      \"display\": {\r\n        \"description\": \"Greater than 15% writes, checking the backing server for changes every 60 seconds\"\r\n      },\r\n      \"modelName\": \"WRITE_WORKLOAD_CHECK_60\",\r\n      \"targetType\": \"Nfs\"\r\n    },\r\n    {\r\n      \"display\": {\r\n        \"description\": \"Greater than 15% writes, write back to the server every 30 seconds\"\r\n      },\r\n      \"modelName\": \"WRITE_WORKLOAD_CLOUDWS\",\r\n      \"targetType\": \"Nfs\"\r\n    },\r\n    {\r\n      \"display\": {\r\n        \"description\": \"Read heavy, checking the backing server every 3 hours\"\r\n      },\r\n      \"modelName\": \"READ_HEAVY_CHECK_180\",\r\n      \"targetType\": \"Nfs\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
