{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source698049479?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 29 Mar 2021 22:05:29 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8F2FEC38F50C4\u0022",
        "Last-Modified": "Mon, 29 Mar 2021 22:05:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source698049479/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 29 Mar 2021 22:05:29 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D8F2FEC3DBF27C\u0022",
        "Last-Modified": "Mon, 29 Mar 2021 22:05:29 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/f4bee4d9-1607-4d25-b930-d0cb95c363a6",
        "X-RequestId": "aab09a36-deb3-4aac-b6b6-7ae2aa7eb57a"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/f4bee4d9-1607-4d25-b930-d0cb95c363a6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022249CE59B2C5F40050766B1F37F6A5A8B127F3EA66A951DC9D1762AA3E970BAD1\u0022",
        "Retry-After": "1",
        "X-RequestId": "115739aa-158e-49f5-9f64-2d4e77045476"
      },
      "ResponseBody": {
        "id": "f4bee4d9-1607-4d25-b930-d0cb95c363a6",
        "createdDateTimeUtc": "2021-03-29T22:05:29.9357334Z",
        "lastActionDateTimeUtc": "2021-03-29T22:05:30.1071124Z",
        "status": "ValidationFailed",
        "error": {
          "code": "InvalidRequest",
          "message": "Cannot access source document location with the current permissions.",
          "target": "Operation",
          "innerError": {
            "code": "InvalidDocumentAccessLevel",
            "message": "Cannot access source document location with the current permissions."
          }
        },
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "50827542"
  }
}