{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "942b80cd-1b14-42a1-8dcf-4b21dece61ba"
          }
        ],
        "subscriptionId": "2bf4a339-294d-4c25-b0b2-ef649e9f5c27",
        "tenantId": "888d76fa-54b2-4ced-8ee5-aac1585adee7",
        "displayName": "Liftr-PAN",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourcegroups/dotnetSdkTest-4436?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-4436",
        "name": "dotnetSdkTest-4436",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourcegroups/dotnetSdkTest-infra-rg?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg",
        "name": "dotnetSdkTest-infra-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "northcentralus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/firewalls/dotnetSdkTest-default-1?api-version=2022-08-29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a9001eea-0000-0100-0000-649bbc590000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/firewalls/dotnetSdkTest-default-1",
        "name": "dotnetSdkTest-default-1",
        "type": "paloaltonetworks.cloudngfw/firewalls",
        "location": "eastus2",
        "tags": {},
        "systemData": {
          "createdBy": "vibhuti.sharma@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-06-28T04:29:21.3902027Z",
          "lastModifiedBy": "54a2195e-8365-444c-8f50-4a5de4be1e2b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-28T04:51:37.9231891Z"
        },
        "properties": {
          "networkProfile": {
            "vnetConfiguration": {
              "vnet": {
                "resourceId": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/Microsoft.Network/virtualNetworks/dotnetSdkTest-default-1-vnet"
              },
              "trustSubnet": {
                "resourceId": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/Microsoft.Network/virtualNetworks/dotnetSdkTest-default-1-vnet/subnets/subnet1"
              },
              "unTrustSubnet": {
                "resourceId": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/Microsoft.Network/virtualNetworks/dotnetSdkTest-default-1-vnet/subnets/subnet2"
              },
              "ipOfTrustSubnetForUdr": {
                "address": "10.224.0.4"
              }
            },
            "networkType": "VNET",
            "publicIps": [
              {
                "resourceId": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/Microsoft.Network/publicIPAddresses/dotnetSdkTest-default-1-public-ip",
                "address": "20.122.25.79"
              }
            ],
            "enableEgressNat": "DISABLED",
            "egressNatIp": []
          },
          "associatedRulestack": {
            "resourceId": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-1-lrs",
            "location": "eastus2",
            "rulestackId": "SUBSCRIPTION~2bf4a339-294d-4c25-b0b2-ef649e9f5c27~RG~dotnetSdkTest-infra-rg~STACK~dotnetSdkTest-default-1-lrs"
          },
          "dnsSettings": {
            "enableDnsProxy": "DISABLED",
            "enabledDnsType": "CUSTOM"
          },
          "isPanoramaManaged": "FALSE",
          "provisioningState": "Succeeded",
          "planData": {
            "usageType": "PAYG",
            "billingCycle": "MONTHLY",
            "planId": "cloud-ngfw-payg-test",
            "effectiveDate": "0001-01-01T00:00:00Z"
          },
          "marketplaceDetails": {
            "offerId": "pan_swfw_cloud_ngfw",
            "publisherId": "paloaltonetworks",
            "marketplaceSubscriptionStatus": "Subscribed",
            "marketplaceSubscriptionId": "4d407033-fc7d-470b-dc72-24bd505968d9"
          },
          "panEtag": "6c9061f8-156c-11ee-a1f7-cedd2f0787df"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/firewalls?api-version=2022-08-29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "6fd9c3a6-d7dd-4852-abf5-5cc7c0e81c69",
          "a76f68c7-8303-4a3b-93f8-dc19efe5fe4d",
          "f62d2f65-09ef-43b5-ae30-004eff088e3b",
          "9064e57e-52f7-4865-846d-3fb2b3498142",
          "9cb43aea-f115-439c-9609-d7c4473d03f9",
          "e8923b84-9cd9-4cf4-9e23-d4c561e30e86",
          "c79a06f3-9f7e-4c8a-b06e-0a776a08f0f8",
          "a869a290-a049-41a7-8cc7-15f06077bae3",
          "575e6462-9737-49bb-ab1d-da46997a2c3d",
          "61c36b2f-3747-47c6-8ff4-b0aa50d50421",
          "379c2cda-7dcb-43ec-acad-d7d1d6d5a3ef",
          "ea093d07-0aec-4809-a1cf-6490982c36d6",
          "940f7b67-a907-4c64-ab88-f6a6c2b54d1c",
          "bdd46896-edd3-44d3-b505-12d16fcacf5b",
          "38cfb9c1-b34c-4954-8abf-43eca3b77ce8",
          "138d3811-2495-4160-a5c5-ca328440f74c",
          "baac1fd5-ea08-4b46-818b-9728529cde1b",
          "78c54619-440f-4056-8237-e162421b9c7e",
          "0d5de300-0d21-4338-aa58-9921963153a6",
          "de811422-6163-4b6f-b95d-a6ba10390167",
          "373bc04e-8d7f-4750-820f-dc5bbc259af5"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/firewalls/dotnetSdkTest-default-1",
            "name": "dotnetSdkTest-default-1",
            "type": "paloaltonetworks.cloudngfw/firewalls",
            "location": "eastus2",
            "tags": {},
            "systemData": {
              "createdBy": "vibhuti.sharma@microsoft.com",
              "createdByType": "User",
           [...]
