{
  "Entries": [
    {
      "RequestUri": "https://tcf1bded27398a4cb-avro.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-17277?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "Hello",
      "StatusCode": 415,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidSchemaType"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidSchemaType",
          "message": "SubCode=41500, The messaging entity \u0027Schema of type Custom cannot be created within group \u0027azsdk_net_test_group\u0027 that supports Avro schema type.\u0027 could not be found. To know more visit https://aka.ms/sbResourceMgrExceptions. . TrackingId:7cbcb923-3b5c-4663-a497-17a3f3e26c48_G0, SystemTracker:NoSystemTracker, Timestamp:2023-03-31T00:39:12"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "719131734",
    "SCHEMAREGISTRY_ENDPOINT_AVRO": "tcf1bded27398a4cb-avro.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
