{
  "Entries": [
    {
      "RequestUri": "https://mreddingschemaregistry-avro.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-91178?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": {
        "type": "record",
        "namespace": "TestSchema",
        "name": "Employee",
        "fields": [
          {
            "name": "Name",
            "type": "string"
          },
          {
            "name": "Age",
            "type": "int"
          }
        ]
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "NotAvaliable"
      },
      "ResponseBody": {
        "error": {
          "code": "NotAvaliable",
          "message": "SubCode=40301, Schema of type Custom cannot be created within group \u0027azsdk_net_test_group\u0027 that support Avro schema type. TrackingId:7ce514b4-6635-4d8e-908f-fce9612315f8_G2, SystemTracker:NoSystemTracker, Timestamp:2023-01-12T00:17:52"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1861815083",
    "SCHEMAREGISTRY_ENDPOINT_AVRO": "mreddingschemaregistry-avro.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
