{
  "Entries": [
    {
      "RequestUri": "https://mreddingschemaregistry-avro2.servicebus.windows.net/$schemaGroups/azsdk_net_test_group2/schemas/test-98593?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "Hello",
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "NotAvaliable"
      },
      "ResponseBody": {
        "error": {
          "code": "NotAvaliable",
          "message": "SubCode=40301, Schema of type Custom cannot be created within group \u0027azsdk_net_test_group2\u0027 that support Avro schema type. TrackingId:0213bb58-9172-4080-b62b-b3a28ffe6be3_G2, SystemTracker:NoSystemTracker, Timestamp:2023-02-02T22:52:46"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "867809747",
    "SCHEMAREGISTRY_ENDPOINT_AVRO2": "mreddingschemaregistry-avro2.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP2": "azsdk_net_test_group2"
  }
}
