{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-31189?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=json"
      },
      "RequestBody": {
        "$id": "1",
        "$schema": "Json",
        "title": "Person",
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "The person\u0027s first name."
          },
          "lastName": {
            "type": "string",
            "description": "The person\u0027s last name."
          },
          "age": {
            "description": "Age in years which must be equal to or greater than zero.",
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-31189/versions/1?api-version=2022-10",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "bde04d58a1f04fecbc6b9e437b2fa182",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-json.servicebus.windows.net:443/$schemagroups/$schemas/bde04d58a1f04fecbc6b9e437b2fa182?api-version=2022-10",
        "Schema-Name": "test-31189",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-json.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-31189/versions?api-version=2022-10"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-31189/versions/1?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; serialization=Json",
        "Location": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemagroup[...]
[...]
