{
  "Entries": [
    {
      "RequestUri": "https://hmlam-cbn04-503.servicebus.windows.net/$schemaGroups/hmlam-json1/schemas/test-12111?api-version=2021-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=JSON"
      },
      "RequestBody": {
        "$id": "1",
        "$schema": "Json",
        "title": "Person",
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "The person\u0027s first name."
          },
          "lastName": {
            "type": "string",
            "description": "The person\u0027s last name."
          },
          "age": {
            "description": "Age in years which must be equal to or greater than zero.",
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://hmlam-cbn04-503.servicebus.windows.net/$schemagroups/hmlam-json1/schemas/test-12111/versions/1?api-version=2021-10",
        "Schema-Group-Name": "hmlam-json1",
        "Schema-Id": "5d9c07854e17408ca2a9a5d96f7def10",
        "Schema-Id-Location": "https://hmlam-cbn04-503.servicebus.windows.net:443/$schemagroups/$schemas/5d9c07854e17408ca2a9a5d96f7def10?api-version=2021-10",
        "Schema-Name": "test-12111",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://hmlam-cbn04-503.servicebus.windows.net:443/$schemagroups/hmlam-json1/schemas/test-12111/versions?api-version=2021-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hmlam-cbn04-503.servicebus.windows.net/$schemaGroups/$schemas/5d9c07854e17408ca2a9a5d96f7def10?api-version=2021-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/schema\u002Bjson",
        "Location": "https://hmlam-cbn04-503.servicebus.windows.net/$schemagroups/hmlam-json1/schemas/test-1211[...]
