{
  "Entries": [
    {
      "RequestUri": "https://mreddingschemaregistry-custom3.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-15463?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "Hello",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://mreddingschemaregistry-custom3.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-15463/versions/1?api-version=2022-10",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "8928388b1872405d83d22b3f40a1f039",
        "Schema-Id-Location": "https://mreddingschemaregistry-custom3.servicebus.windows.net:443/$schemagroups/$schemas/8928388b1872405d83d22b3f40a1f039?api-version=2022-10",
        "Schema-Name": "test-15463",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://mreddingschemaregistry-custom3.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-15463/versions?api-version=2022-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mreddingschemaregistry-custom3.servicebus.windows.net/$schemaGroups/$schemas/8928388b1872405d83d22b3f40a1f039?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://mreddingschemaregistry-custom3.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-15463/versions/1?api-version=2022-10",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "8928388b1872405d83d22b3f40a1f039",
        "Schema-Id-Location": "https://mreddingschemaregistry-custom3.servicebus.windows.net:443/$schemagroups/$schemas/8928388b1872405d83d22b3f40a1f039?api-version=2022-10",
        "Schema-Name": "test-15463",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://mreddingschemaregistry-custom3.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-15463/versions?api-version=2022-10"
      },
      "ResponseBody": "Hello"
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "228177494",
    "SCHEMAREGISTRY_ENDPOINT_CUSTOM3": "mreddingschemaregistry-custom3.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
