{
  "Entries": [
    {
      "RequestUri": "https://mreddingschemaregistry-custom4.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-93596?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "Hello",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://mreddingschemaregistry-custom4.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-93596/versions/1?api-version=2022-10",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "58104686eb4e488aa69b9aae04c7ef0b",
        "Schema-Id-Location": "https://mreddingschemaregistry-custom4.servicebus.windows.net:443/$schemagroups/$schemas/58104686eb4e488aa69b9aae04c7ef0b?api-version=2022-10",
        "Schema-Name": "test-93596",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://mreddingschemaregistry-custom4.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-93596/versions?api-version=2022-10"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://mreddingschemaregistry-custom4.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-93596/versions/1?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://mreddingschemaregistry-custom4.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-93596/versions/1?api-version=2022-10",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "58104686eb4e488aa69b9aae04c7ef0b",
        "Schema-Id-Location": "https://mreddingschemaregistry-custom4.servicebus.windows.net:443/$schemagroups/$schemas/58104686eb4e488aa69b9aae04c7ef0b?api-version=2022-10",
        "Schema-Name": "test-93596",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://mreddingschemaregistry-custom4.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-93596/versions?api-version=2022-10"
      },
      "ResponseBody": "Hello"
    },
    {
      "RequestUri": "https://mreddingschemaregistry-custom4.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-93596/versions/2?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://mreddingschemaregistry-custom4.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-93596/versions/2?api-version=2022-10",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "df987b9733e24189b0d148db77e75531",
        "Schema-Id-Location": "https://mreddingschemaregistry-custom4.servicebus.windows.net:443/$schemagroups/$schemas/df987b9733e24189b0d148db77e75531?api-version=2022-10",
        "Schema-Name": "test-93596",
        "Schema-Version": "2",
        "Schema-Versions-Location": "https://mreddingschemaregistry-custom4.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-93596/versions?api-version=2022-10"
      },
      "ResponseBody": "Hello_V2"
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "2016337088",
    "SCHEMAREGISTRY_ENDPOINT_CUSTOM4": "mreddingschemaregistry-custom4.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
