{
  "Entries": [
    {
      "RequestUri": "https://mreddingschemaregistry-custom4.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-19260?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "Hello",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://mreddingschemaregistry-custom4.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-19260/versions/1?api-version=2022-10",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "cd72b7046507471b89e35cfedacac54c",
        "Schema-Id-Location": "https://mreddingschemaregistry-custom4.servicebus.windows.net:443/$schemagroups/$schemas/cd72b7046507471b89e35cfedacac54c?api-version=2022-10",
        "Schema-Name": "test-19260",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://mreddingschemaregistry-custom4.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-19260/versions?api-version=2022-10"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://mreddingschemaregistry-custom4.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-19260/versions/1?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://mreddingschemaregistry-custom4.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-19260/versions/1?api-version=2022-10",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "cd72b7046507471b89e35cfedacac54c",
        "Schema-Id-Location": "https://mreddingschemaregistry-custom4.servicebus.windows.net:443/$schemagroups/$schemas/cd72b7046507471b89e35cfedacac54c?api-version=2022-10",
        "Schema-Name": "test-19260",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://mreddingschemaregistry-custom4.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-19260/versions?api-version=2022-10"
      },
      "ResponseBody": "Hello"
    },
    {
      "RequestUri": "https://mreddingschemaregistry-custom4.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-19260/versions/2?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://mreddingschemaregistry-custom4.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-19260/versions/2?api-version=2022-10",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "cc0b9d203fe446e897914676f0381d1c",
        "Schema-Id-Location": "https://mreddingschemaregistry-custom4.servicebus.windows.net:443/$schemagroups/$schemas/cc0b9d203fe446e897914676f0381d1c?api-version=2022-10",
        "Schema-Name": "test-19260",
        "Schema-Version": "2",
        "Schema-Versions-Location": "https://mreddingschemaregistry-custom4.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-19260/versions?api-version=2022-10"
      },
      "ResponseBody": "Hello_V2"
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1797557030",
    "SCHEMAREGISTRY_ENDPOINT_CUSTOM4": "mreddingschemaregistry-custom4.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
