{
  "Entries": [
    {
      "RequestUri": "https://mreddingschemaregistry-avro.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-20553?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": {
        "type": "record",
        "namespace": "TestSchema",
        "name": "Employee",
        "fields": [
          {
            "name": "Name",
            "type": "string"
          },
          {
            "name": "Age",
            "type": "int"
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://mreddingschemaregistry-avro.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-20553/versions/1?api-version=2022-10",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "6896c2d216bc44dd80c30f3f3001b6f6",
        "Schema-Id-Location": "https://mreddingschemaregistry-avro.servicebus.windows.net:443/$schemagroups/$schemas/6896c2d216bc44dd80c30f3f3001b6f6?api-version=2022-10",
        "Schema-Name": "test-20553",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://mreddingschemaregistry-avro.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-20553/versions?api-version=2022-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mreddingschemaregistry-avro.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-20553:get-id?api-version=2022-10",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": {
        "type": "record",
        "namespace": "TestSchema",
        "name": "Employee",
        "fields": [
          {
            "name": "Name",
            "type": "string"
          },
          {
            "name": "Age",
            "type": "int"
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://mreddingschemaregistry-avro.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-20553/versions/1?api-version=2022-10",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "6896c2d216bc44dd80c30f3f3001b6f6",
        "Schema-Id-Location": "https://mreddingschemaregistry-avro.servicebus.windows.net:443/$schemagroups/$schemas/6896c2d216bc44dd80c30f3f3001b6f6?api-version=2022-10",
        "Schema-Name": "test-20553",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://mreddingschemaregistry-avro.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-20553/versions?api-version=2022-10"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "431148886",
    "SCHEMAREGISTRY_ENDPOINT_AVRO": "mreddingschemaregistry-avro.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}