{
  "Entries": [
    {
      "RequestUri": "https://mreddingschemaregistry-json.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-12865?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=json"
      },
      "RequestBody": {
        "$id": "1",
        "$schema": "Json",
        "title": "Person",
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "The person\u0027s first name."
          },
          "lastName": {
            "type": "string",
            "description": "The person\u0027s last name."
          },
          "age": {
            "description": "Age in years which must be equal to or greater than zero.",
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://mreddingschemaregistry-json.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-12865/versions/1?api-version=2022-10",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "54a8b33a3cfd4956832e25820bc0e226",
        "Schema-Id-Location": "https://mreddingschemaregistry-json.servicebus.windows.net:443/$schemagroups/$schemas/54a8b33a3cfd4956832e25820bc0e226?api-version=2022-10",
        "Schema-Name": "test-12865",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://mreddingschemaregistry-json.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-12865/versions?api-version=2022-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mreddingschemaregistry-json.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-12865:get-id?api-version=2022-10",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=json"
      },
      "RequestBody": {
        "$id": "1",
        "$schema": "Json",
        "title": "Person",
        "type": "object",
        "properties": {
          "firstN[...]
[...]
