{
  "Entries": [
    {
      "RequestUri": "https://jolovschemaregistry.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test1?api-version=2020-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "text/plain; charset=utf-8",
        "Serialization-Type": "avro"
      },
      "RequestBody": "{\u0022type\u0022 : \u0022record\u0022,\u0022namespace\u0022 : \u0022TestSchema\u0022,\u0022name\u0022 : \u0022Employee\u0022,\u0022fields\u0022 : [{ \u0022name\u0022 : \u0022Name\u0022 , \u0022type\u0022 : \u0022string\u0022 },{ \u0022name\u0022 : \u0022Age\u0022, \u0022type\u0022 : \u0022int\u0022 }]}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Location": "https://jolovschemaregistry.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test1/versions/1?api-version=2020-09-01-preview",
        "Schema-Id": "df9f8210598b40a88675e68c541506b7",
        "Schema-Id-Location": "https://jolovschemaregistry.servicebus.windows.net:443/$schemagroups/getschemabyid/df9f8210598b40a88675e68c541506b7?api-version=2020-09-01-preview",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://jolovschemaregistry.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test1/versions?api-version=2020-09-01-preview",
        "Serialization-Type": "Avro"
      },
      "ResponseBody": {
        "id": "df9f8210598b40a88675e68c541506b7"
      }
    },
[...]
