{
  "Entries": [
    {
      "RequestUri": "https://jolovschemaregistry.servicebus.windows.net/$schemaGroups/test-83608/schemas/azsdk_net_test_group:get-id?api-version=2021-10",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": {
        "type": "record",
        "namespace": "TestSchema",
        "name": "Employee",
        "fields": [
          {
            "name": "Name",
            "type": "string"
          },
          {
            "name": "Age",
            "type": "int"
          }
        ]
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ItemNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ItemNotFound",
          "message": "Schema test-83608/azsdk_net_test_group does not exist. TrackingId:c6e0df26-8c33-401e-81e5-a16fcde7e210_G3, SystemTracker:jolovschemaregistry.servicebus.windows.net:$schemaGroups/test-83608/schemas/azsdk_net_test_group:get-id, Timestamp:2022-04-19T23:59:11"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1412903779",
    "SCHEMAREGISTRY_ENDPOINT": "jolovschemaregistry.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
