{
  "Entries": [
    {
      "RequestUri": "https://mreddingschemaregistry-avro1.servicebus.windows.net/$schemaGroups/test-34973/schemas/azsdk_net_test_group:get-id?api-version=2022-10",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": "Hello",
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ItemNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ItemNotFound",
          "message": "Schema test-34973/azsdk_net_test_group does not exist. TrackingId:b7cf33a6-c7ee-48df-a9c3-14e429206022_G26, SystemTracker:mreddingschemaregistry-avro1.servicebus.windows.net:$schemaGroups/test-34973/schemas/azsdk_net_test_group:get-id, Timestamp:2023-02-08T18:01:36"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "111270679",
    "SCHEMAREGISTRY_ENDPOINT_AVRO1": "mreddingschemaregistry-avro1.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
