{
  "Entries": [
    {
      "RequestUri": "https://hmlam-cbn04-503.servicebus.windows.net/$schemaGroups/test-14693/schemas/hmlam-json1:get-id?api-version=2021-10",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": {
        "type": "record",
        "namespace": "TestSchema",
        "name": "Employee",
        "fields": [
          {
            "name": "Name",
            "type": "string"
          },
          {
            "name": "Age",
            "type": "int"
          }
        ]
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ItemNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ItemNotFound",
          "message": "Schema test-14693/hmlam-json1 does not exist. TrackingId:e9a58072-1cd4-4941-826b-80187f73ef5d_G5, SystemTracker:hmlam-cbn04-503.servicebus.windows.net:$schemaGroups/test-14693/schemas/hmlam-json1:get-id, Timestamp:2022-10-11T14:55:59"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "872843332",
    "SCHEMAREGISTRY_ENDPOINT": "hmlam-cbn04-503.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "hmlam-json1"
  }
}
