{
  "Entries": [
    {
      "RequestUri": "https://mreddingschemaregistry-avro.servicebus.windows.net/$schemaGroups/test-19921/schemas/azsdk_net_test_group:get-id?api-version=2022-10",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": {
        "type": "record",
        "namespace": "TestSchema",
        "name": "Employee",
        "fields": [
          {
            "name": "Name",
            "type": "string"
          },
          {
            "name": "Age",
            "type": "int"
          }
        ]
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ItemNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ItemNotFound",
          "message": "Schema test-19921/azsdk_net_test_group does not exist. TrackingId:89b84df0-0f9e-40ac-981f-39bd0a957100_G14, SystemTracker:mreddingschemaregistry-avro.servicebus.windows.net:$schemaGroups/test-19921/schemas/azsdk_net_test_group:get-id, Timestamp:2023-01-12T00:09:37"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "2026136549",
    "SCHEMAREGISTRY_ENDPOINT_AVRO": "mreddingschemaregistry-avro.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
