{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-41823029-8364-4d4e-ee83-f8a2b34d6fe5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:58:58 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3669E4EA275\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:58:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-41823029-8364-4d4e-ee83-f8a2b34d6fe5/test-directory-89b6f589-2c64-fb8b-94a9-634b7b2d941f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:58:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3669E52B4E4\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:58:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-41823029-8364-4d4e-ee83-f8a2b34d6fe5/test-directory-89b6f589-2c64-fb8b-94a9-634b7b2d941f/test-file-bd194480-e597-ce81-8e7d-95ff2eddaaa3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "uyplpjuslntvxacfrewg",
        "x-ms-content-disposition": "llxyoqdcgbohvrafwomb",
        "x-ms-content-encoding": "dohvqlmyhoraycwiapvx",
        "x-ms-content-language": "grljxlyfywicrvcwechd",
        "x-ms-content-length": "1048576",
        "x-ms-content-md5": "jOsZiE8h\u002bfcicS3e2cJWhA==",
        "x-ms-content-type": "dduriohturegsnukdwwf",
        "x-ms-date": "Mon, 17 Jun 2019 20:58:58 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3669E561113\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:58:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-41823029-8364-4d4e-ee83-f8a2b34d6fe5/test-directory-89b6f589-2c64-fb8b-94a9-634b7b2d941f/test-file-bd194480-e597-ce81-8e7d-95ff2eddaaa3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:58:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "llxyoqdcgbohvrafwomb",
        "Content-Language": "grljxlyfywicrvcwechd",
        "Content-MD5": "jOsZiE8h\u002bfcicS3e2cJWhA==",
        "Content-Type": "dduriohturegsnukdwwf",
        "ETag": "\u00220x8D6F3669E561113\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:58:58 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-41823029-8364-4d4e-ee83-f8a2b34d6fe5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:58:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-17T13:58:58.7630841-07:00",
    "RandomSeed": "1957962940"
  }
}