{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-b8796586-fa3f-c371-06c4-afe93d550bc8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:11:25 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5C1264DBAC\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:11:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-b8796586-fa3f-c371-06c4-afe93d550bc8/test-directory-0906a72a-de42-e469-478a-2a5cad00b7f0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:11:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5C126802E4\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:11:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-b8796586-fa3f-c371-06c4-afe93d550bc8/test-directory-0906a72a-de42-e469-478a-2a5cad00b7f0/test-file-96bfd249-014f-3486-c6b2-2f463a597708",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 17 Jul 2019 02:11:25 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-type": "file",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5C126B5F16\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:11:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-b8796586-fa3f-c371-06c4-afe93d550bc8/test-directory-0906a72a-de42-e469-478a-2a5cad00b7f0/test-file-96bfd249-014f-3486-c6b2-2f463a597708",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:11:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5C126B5F16\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:11:25 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-b8796586-fa3f-c371-06c4-afe93d550bc8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:11:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1410403626",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}