{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-801dc65e-12d0-8364-54d8-4bef04a6e152?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:11:28 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5C144386F3\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:11:28 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-801dc65e-12d0-8364-54d8-4bef04a6e152/test-directory-c469b8d5-f843-aef9-42be-040840128c28?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:11:28 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5C14463861\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:11:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-801dc65e-12d0-8364-54d8-4bef04a6e152/test-directory-c469b8d5-f843-aef9-42be-040840128c28/test-file-4c1a7985-1d3c-6a0e-afd4-591c14690b87?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "bcvypncwejxxgbwsqfsp",
        "x-ms-content-disposition": "fillducrqacooxirraxk",
        "x-ms-content-encoding": "vjnwjtfbmursfppsqjvt",
        "x-ms-content-language": "kkfdgjjisebphitutncj",
        "x-ms-content-md5": "fv6ALfiTMnmtUMWg0U7MBA==",
        "x-ms-content-type": "pafuijixhpbhedyldjpy",
        "x-ms-date": "Wed, 17 Jul 2019 02:11:28 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eResourceNotFound\u003c/Code\u003e\u003cMessage\u003eThe specified resource does not exist.\n",
        "RequestId:9efe5ff4-e01a-0006-2844-3c7eb1000000\n",
        "Time:2019-07-17T02:11:28.9773610Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-801dc65e-12d0-8364-54d8-4bef04a6e152?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:11:28 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-16T19:11:28.9469096-07:00",
    "RandomSeed": "1043143260",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}