{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-45eb360d-8600-a1d0-6a6f-8e0657a09990?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:28 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD8135D1157D\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:34:31 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-45eb360d-8600-a1d0-6a6f-8e0657a09990/test-directory-1c40250d-e079-5e06-726c-6a4fb150ec6a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:28 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD8135D5331B\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:34:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-45eb360d-8600-a1d0-6a6f-8e0657a09990/test-directory-1c40250d-e079-5e06-726c-6a4fb150ec6a/test-file-31f8fb75-7c5f-c016-d728-d28a079536f3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:28 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD8135D7CBCA\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:34:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-45eb360d-8600-a1d0-6a6f-8e0657a09990/test-directory-1c40250d-e079-5e06-726c-6a4fb150ec6a/test-file-31f8fb75-7c5f-c016-d728-d28a079536f3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:28 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09",
        "x-ms-write": "update"
      },
      "RequestBody": "\u002bMJ0dqpyPiwV2W2uJfTjhzld7da92XucxU2RmK\u002bj4HyIBBOndThBhGjLyP4yTDMaetehW/G50h5G2LFc4KV9cfnxJiDhPBEBG2lt8RB8aXkadh3XAoSKzzL0YJ2H5KTDTlcFQCUTOT7GoECIS\u002bAOym43QmmIpW51Zlft7NtzejbFqqO5dyhUBz3eEWJDAoNR5pYvT6I6Oqnoj9rOJUxiUiUKwqE9VFJF4zsrqZMMMWPTnAZFRCqTim/50edOheHxfL88OUDhE5FD6WxnDpEW2152\u002b4hFHQ37djcyQ4Nr911ZOi3T0Pcj8Yh0Alu9LHze4/WJ2IpZq16yQMMIr88O2PIPDdNkQgtmUgkA0RuyPkm7VGCO4h7TAI/OIY80G0G4Ziporh\u002boeaDpIoWBWNpD/wJ5TFtvf/bTOw1ElSF8MTfHR2rxSY[...]
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-b6da2e65-ba57-c50b-d41d-d70fe8ec93bb/test-directory-d9251f9c-7fbb-e79b-3e0a-da34724b69c2/test-file-c973943c-b9c7-4c00-72e8-4ae47db5b754",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.file.core.windows.net/test-share-45eb360d-8600-a1d0-6a6f-8e0657a09990/test-directory-1c40250d-e079-5e06-726c-6a4fb150ec6a/test-file-31f8fb75-7c5f-c016-d728-d28a079536f3",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:28 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD8135F56D3A\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:34:31 GMT",
        "x-ms-copy-id": "2116e0ac-4e4b-4b54-bc8e-dee1d983bbbe",
        "x-ms-copy-status": "success",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-b6da2e65-ba57-c50b-d41d-d70fe8ec93bb/test-directory-d9251f9c-7fbb-e79b-3e0a-da34724b69c2/test-file-c973943c-b9c7-4c00-72e8-4ae47db5b754",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:28 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FD8135F56D3A\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:34:31 GMT",
        "x-ms-copy-completion-time": "Sun, 30 Jun 2019 17:34:31 GMT",
        "x-ms-copy-id": "2116e0ac-4e4b-4b54-bc8e-dee1d983bbbe",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://storageteglazatesting.file.core.windows.net/test-share-45eb360d-8600-a1d0-6a6f-8e0657a09990/test-directory-1c40250d-e079-5e06-726c-6a4fb150ec6a/test-file-31f8fb75-7c5f-c016-d728-d28a079536f3",
        "x-ms-copy-status": "success",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-45eb360d-8600-a1d0-6a6f-8e0657a09990?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:29 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-30T10:34:28.8072500-07:00",
    "RandomSeed": "1704832768"
  }
}