{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-ce6114cb-2b15-d149-1ff6-0ed31f182e1a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:58:38 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F2915EB332\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:58:38 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-ce6114cb-2b15-d149-1ff6-0ed31f182e1a/test-directory-618f8c57-0ceb-6996-ae1b-72dddbbe58d3?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:58:38 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F291617043\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:58:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-ce6114cb-2b15-d149-1ff6-0ed31f182e1a/test-directory-618f8c57-0ceb-6996-ae1b-72dddbbe58d3/test-file-927cc05a-cc89-cb2f-bc1e-84f7dd33355d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 12 Jul 2019 17:58:38 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F29163BAC6\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:58:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-ce6114cb-2b15-d149-1ff6-0ed31f182e1a/test-directory-618f8c57-0ceb-6996-ae1b-72dddbbe58d3/test-file-927cc05a-cc89-cb2f-bc1e-84f7dd33355d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:58:38 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09",
        "x-ms-write": "update"
      },
      "RequestBody": "TxbMXJw88nFwfcfGQjSoPkTOM2HQ0UliRYMND1esWtazTM1H5p0IRTWRbpmm4qCNa20t2DFXb33MaRYYLuMZwyPxEvVnYVemxe4sP2OwvGPjgKPqf4GkW9xPe3yH8BZSeKt1tM\u002bqJgoVhhNCKzAaG6yzNK4/LkShTbcZF\u002bXaH9XY2sa3OgiTOVmY1fhuYTCsNF/P1LtnEkpn1GYYkQ4kOmc9alFpY\u002bCkH/tUp1hMM\u002buHbOKGCkoZcMh8UGaheqhKc5qQMPbfQtF/K7TAE2rxGqB6kSQsni8cJPqI7BJ5A6VTCTO\u002buwL1pyoRBt\u002bWWVxdizXGJumDHtVqdAz7VlW\u002bBScPbAk3Ml\u002bdhen6G5dQhsqeK2Hcs928z\u002bteU0b2\u002bVHUUgC3huxTJljWKKD/iQM9Gu5BX[...]
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-1a8341db-c542-1e49-f542-ca16e33f9ecf/test-directory-9b1b14b0-1ab0-411a-1300-769d4a020b16/test-file-cf66eed1-0223-011e-3b6c-8c1d5db2f9a5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.file.core.windows.net/test-share-ce6114cb-2b15-d149-1ff6-0ed31f182e1a/test-directory-618f8c57-0ceb-6996-ae1b-72dddbbe58d3/test-file-927cc05a-cc89-cb2f-bc1e-84f7dd33355d",
        "x-ms-date": "Fri, 12 Jul 2019 17:58:38 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F2917F38B1\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:58:38 GMT",
        "x-ms-copy-id": "542c96e4-b9c6-4ee1-8190-e257a45ca9d5",
        "x-ms-copy-status": "success",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-ce6114cb-2b15-d149-1ff6-0ed31f182e1a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:58:38 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "154051119",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}