{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-f1e196dd-d736-f21e-b926-94260956439d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Oct 2019 01:24:45 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D758EA1EA535D5\u0022",
        "Last-Modified": "Fri, 25 Oct 2019 01:24:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-f1e196dd-d736-f21e-b926-94260956439d/test-directory-2191d38f-349e-2e8c-feb7-838279642ea7?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Oct 2019 01:24:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D758EA1EA882FD\u0022",
        "Last-Modified": "Fri, 25 Oct 2019 01:24:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-10-25T01:24:45.6166141Z",
        "x-ms-file-creation-time": "2019-10-25T01:24:45.6166141Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-10-25T01:24:45.6166141Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5551277012781935673*2725028605417700272",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-f1e196dd-d736-f21e-b926-94260956439d/test-directory-2191d38f-349e-2e8c-feb7-838279642ea7/test-file-23eca328-e107-c7bb-7cce-24382313c9fe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 25 Oct 2019 01:24:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D758EA1EAB42C5\u0022",
        "Last-Modified": "Fri, 25 Oct 2019 01:24:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-10-25T01:24:45.6346309Z",
        "x-ms-file-creation-time": "2019-10-25T01:24:45.6346309Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-10-25T01:24:45.6346309Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "10192164194483098430*2725028605417700272",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-f1e196dd-d736-f21e-b926-94260956439d/test-directory-2191d38f-349e-2e8c-feb7-838279642ea7/test-file-23eca328-e107-c7bb-7cce-24382313c9fe?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Oct 2019 01:24:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-02-02",
        "x-ms-write": "update"
      },
      "RequestBody": "SxnFbKxX3y00kcHecnXFtVWAQ9BSSK\u002BlY2GFK5nG22DwkEtaE/1PgsLtVOAomxgq7sfrEVVEJwNqIAlK0bSTbrVg7uIqa6FXMcANZfPOfcdJWzzR28oLq2lH7/PzBLAOWeYqyK02AIMlk\u002BCUNsIPm6JCAHZ3wpLrVEJ44nuuYywP/wwNpLUaE1q5rEfqdnWmOFRQsQQ5l5dTPnNqvR0HdzCzhTa2AfbsKO0cvRZKAd3N0aknXbIo1Wh1umVCr1Y9sjQXNvE\u002B8DZeZIkWHdmACD2Vnetz4Bl9i7DOQUeRqniX3gvhM8vsjuFzyPkoEbeP9LEorBJqydIbmapBcK/uzbkQfz/On9VyqQ4KABcgVXr4P0yWaP5mLBU4xZkgqx4xhftAGJJ4wFTbtQIDYMm6\u002BkQwSDFiV2S6qlIpldk8Uf7w2Hsb4DzngH7[...]
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-f1e196dd-d736-f21e-b926-94260956439d/test-directory-2191d38f-349e-2e8c-feb7-838279642ea7/test-file-23eca328-e107-c7bb-7cce-24382313c9fe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.file.core.windows.net/test-share-f1e196dd-d736-f21e-b926-94260956439d/test-directory-2191d38f-349e-2e8c-feb7-838279642ea7/test-file-23eca328-e107-c7bb-7cce-24382313c9fe",
        "x-ms-date": "Fri, 25 Oct 2019 01:24:45 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D758EA1EC3D9DC\u0022",
        "Last-Modified": "Fri, 25 Oct 2019 01:24:45 GMT",
        "x-ms-copy-id": "406294a3-bf53-44b7-a5c6-bfe91b826a29",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-f1e196dd-d736-f21e-b926-94260956439d/test-directory-2191d38f-349e-2e8c-feb7-838279642ea7/test-file-23eca328-e107-c7bb-7cce-24382313c9fe",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Oct 2019 01:24:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D758EA1EC3D9DC\u0022",
        "Last-Modified": "Fri, 25 Oct 2019 01:24:45 GMT",
        "x-ms-copy-completion-time": "Fri, 25 Oct 2019 01:24:45 GMT",
        "x-ms-copy-id": "406294a3-bf53-44b7-a5c6-bfe91b826a29",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://storageteglazatesting.file.core.windows.net/test-share-f1e196dd-d736-f21e-b926-94260956439d/test-directory-2191d38f-349e-2e8c-feb7-838279642ea7/test-file-23eca328-e107-c7bb-7cce-24382313c9fe",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-10-25T01:24:45.6346309Z",
        "x-ms-file-creation-time": "2019-10-25T01:24:45.7957852Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-10-25T01:24:45.6346309Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "10192164194483098430*2725028605417700272",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-0b3f7da0-4070-eba4-7c99-dae7a3677bb6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Oct 2019 01:24:46 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-f1e196dd-d736-f21e-b926-94260956439d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Oct 2019 01:24:46 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-10-24T18:24:45.8511369-07:00",
    "RandomSeed": "290610615",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}