{
  "Entries": [
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-abed9209-8394-55a4-a47d-b11e18566db5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Oct 2019 23:56:03 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D751CB3CBDA74A\u0022",
        "Last-Modified": "Tue, 15 Oct 2019 23:56:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-abed9209-8394-55a4-a47d-b11e18566db5/test-directory-fd160164-f5bc-3a89-0897-56d0d7b3f025?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Oct 2019 23:56:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D751CB3CD06869\u0022",
        "Last-Modified": "Tue, 15 Oct 2019 23:56:03 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-10-15T23:56:03.6716649Z",
        "x-ms-file-creation-time": "2019-10-15T23:56:03.6716649Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-10-15T23:56:03.6716649Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-abed9209-8394-55a4-a47d-b11e18566db5/test-directory-fd160164-f5bc-3a89-0897-56d0d7b3f025/test-file-565e7dd4-be30-0e11-364a-3bd2c8220eb5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 15 Oct 2019 23:56:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D751CB3CDCC6CF\u0022",
        "Last-Modified": "Tue, 15 Oct 2019 23:56:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-10-15T23:56:03.7527247Z",
        "x-ms-file-creation-time": "2019-10-15T23:56:03.7527247Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-10-15T23:56:03.7527247Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-abed9209-8394-55a4-a47d-b11e18566db5/test-directory-fd160164-f5bc-3a89-0897-56d0d7b3f025/test-file-565e7dd4-be30-0e11-364a-3bd2c8220eb5?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Oct 2019 23:56:04 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-02-02",
        "x-ms-write": "update"
      },
      "RequestBody": "XZzk2tu/tsX2cUCkWRK\u002BhscPxnmv/l3tpDcGL8FiQE8ZdsLbaXXfxmYrUl47Zv8RoV3YHFBfc14\u002B9jWkuYcDlDDwi\u002BNP4x1RMP8ThKz/sj449I1kiST\u002BuQJknXI/Ow3fJ74uStobwr4/huxRTO\u002ByPkP3a8T5ngoM8dLg60aqEvTxNFzu0WdkHDLPJAM3rWwTsV4vSM9J5YmzIVkIOtZ4lXT3XxiTxG3bkk\u002BRKXkH1ENlzTrne8olqE7SOq8OXOFcV4\u002BOQE1UgO3wU7V/t7wPrE0Vom2ckBqp0bbKwIm\u002BzTZtNdLqeJP1EE1M9ycVpfGRw41h\u002Bbl0wMd05W6Xir9jMoZ\u002BEoHqJDS5H5EgT5nylCzFOPz8XNN9\u002BXQKdZMlXoaN6cShlpNvp59ZqNknVHEu[...]
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-39005af4-096b-4751-c02c-d5aa72fbc7be/test-directory-cddf6eb6-f320-94f0-9a9a-4e0d25a9e722/test-file-5b61ca64-41c4-da9b-2671-625a41ae22a1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandadev2.file.core.windows.net/test-share-abed9209-8394-55a4-a47d-b11e18566db5/test-directory-fd160164-f5bc-3a89-0897-56d0d7b3f025/test-file-565e7dd4-be30-0e11-364a-3bd2c8220eb5",
        "x-ms-date": "Tue, 15 Oct 2019 23:56:04 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D751CB3D4ADFD2\u0022",
        "Last-Modified": "Tue, 15 Oct 2019 23:56:04 GMT",
        "x-ms-copy-id": "9c27318c-5525-4ad4-aeb6-3fd4ada7b4fa",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-39005af4-096b-4751-c02c-d5aa72fbc7be/test-directory-cddf6eb6-f320-94f0-9a9a-4e0d25a9e722/test-file-5b61ca64-41c4-da9b-2671-625a41ae22a1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Oct 2019 23:56:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D751CB3D4ADFD2\u0022",
        "Last-Modified": "Tue, 15 Oct 2019 23:56:04 GMT",
        "x-ms-copy-completion-time": "Tue, 15 Oct 2019 23:56:04 GMT",
        "x-ms-copy-id": "9c27318c-5525-4ad4-aeb6-3fd4ada7b4fa",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://amandadev2.file.core.windows.net/test-share-abed9209-8394-55a4-a47d-b11e18566db5/test-directory-fd160164-f5bc-3a89-0897-56d0d7b3f025/test-file-565e7dd4-be30-0e11-364a-3bd2c8220eb5",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-10-15T23:56:03.9999083Z",
        "x-ms-file-creation-time": "2019-10-15T23:56:04.4742610Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-10-15T23:56:03.9999083Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-abed9209-8394-55a4-a47d-b11e18566db5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Oct 2019 23:56:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-10-15T16:56:04.5415079-07:00",
    "RandomSeed": "889172953",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttp://amandadev2.blob.core.windows.net\nhttp://amandadev2.file.core.windows.net\nhttp://amandadev2.queue.core.windows.net\nhttp://amandadev2.table.core.windows.net\n\n\n\n\nhttp://amandadev2-secondary.blob.core.windows.net\nhttp://amandadev2-secondary.file.core.windows.net\nhttp://amandadev2-secondary.queue.core.windows.net\nhttp://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandadev2.blob.core.windows.net/;QueueEndpoint=http://amandadev2.queue.core.windows.net/;TableEndpoint=http://amandadev2.table.core.windows.net/;FileEndpoint=http://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=http://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandadev2-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://amandadev2-secondary.table.core.windows.net/;FileSecondaryEndpoint=http://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized"
  }
}