{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-794df9bd-f265-9644-da10-84ed5d05cb90?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:59:24 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F366ADBFB2F7\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:59:24 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-794df9bd-f265-9644-da10-84ed5d05cb90/test-directory-d5fb4f9b-322d-b378-42b8-dfc6db1184be?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:59:24 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F366ADC2B0C3\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:59:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-794df9bd-f265-9644-da10-84ed5d05cb90/test-directory-d5fb4f9b-322d-b378-42b8-dfc6db1184be/test-file-0e513fd8-f50a-6c63-d0e9-3ef731e1e281?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:59:24 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2018-11-09",
        "x-ms-write": "update"
      },
      "RequestBody": "dJ7w71a2pzDSToSdTAseFKwc7pvAdrQvN1Swsy2Fe2\u002btZfj3PRxsIZghO7txxSDFyypKFfNHwf7pwbgBBfMCTNMV7\u002bYTJtaQr8wCnjr5vXE06\u002bgDO2Z7ZqP5DXtjaxylHu/nXNY5saRTuWUmRCLD8ARHzRoL/xBtmYlDGRlaLESwXH9LEWGb\u002bzpDr4EAVSGANhx3HJ4Bmh/eesNM9ZeL\u002bY0hdeejeN\u002biq9Hgx1CPbUNnwuP84g\u002bmr8JgbJeeTgWiuLb03t853b091HDMIdLPTwx/5DO0jhZ9e8YlQwtHBF3LPQ\u002bamo5kLeUlvg6e2Y3wkR2KH2nS7imgdmMZFJqy9dATAOTCNLR\u002bGrZOjtAI3qE5NLLtveXz\u002bU7m\u002bSMqSxlKc8g9i9moLVxpDASyhF9Z[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-794df9bd-f265-9644-da10-84ed5d05cb90?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:59:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1111416013"
  }
}