{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "9015"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "2cf9eb86-36b5-49dc-86ae-9a63135dfa8c",
            "roleDefinitionId": "13ba9ab4-19f0-4804-adc4-14ece36cc7a1"
          },
          {
            "applicationId": "7c33bfcb-8d33-48d6-8e60-dc6404003489",
            "roleDefinitionId": "ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"
          },
          {
            "applicationId": "1e3e4475-288f-4018-a376-df66fd7fac5f",
            "roleDefinitionId": "1d538b69-3d87-4e56-8ff8-25786fd48261"
          },
          {
            "applicationId": "a0be0c72-870e-46f0-9c49-c98333a996f7",
            "roleDefinitionId": "7ce22727-ffce-45a9-930c-ddb2e56fa131"
          },
          {
            "applicationId": "486c78bf-a0f7-45f1-92fd-37215929e116",
            "roleDefinitionId": "98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"
          },
          {
            "applicationId": "19947cfd-0303-466c-ac3c-fcc19a7a1570",
            "roleDefinitionId": "d813ab6c-bfb7-413e-9462-005b21f0ce09"
          },
          {
            "applicationId": "341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd",
            "roleDefinitionId": "8141843c-c51c-4c1e-a5bf-0d351594b86c"
          },
          {
            "applicationId": "328fd23b-de6e-462c-9433-e207470a5727",
            "roleDefinitionId": "79e29e06-4056-41e5-a6b2-959f1f47747e"
          },
          {
            "applicationId": "6d057c82-a784-47ae-8d12-ca7b38cf06b4",
            "roleDefinitionId": "c27dd31e-c1e5-4ab0-93e1-a12ba34f182e"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "virtualNetworks",
            "locations": [
              "West US",
              "East US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "North Central US",
              "South Central US",
              "Central US",
              "East US 2",
              "Japan East",
              "Japan West",
              "Brazil South",
              "Australia East",
              "Australia Southeast",
              "Central India",
              "South India",
              "West India",
              "Canada Central",
              "Canada East",
              "West Central US",
              "West US 2",
              "UK West",
              "UK South",
              "Korea Central",
              "Korea South",
              "France Central",
              "Australia Central",
              "South Africa North",
              "UAE North",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "Central US EUAP",
              "East US 2 EUAP"
            ],
            "apiVersions": [
              "2020-05-01",
              "2020-04-01",
              "2020-03-01",
              "2020-01-01",
              "2019-12-01",
              "2019-11-01",
              "2019-09-01",
              "2019-08-01",
              "2019-07-01",
              "2019-06-01",
              "2019-04-01",
              "2019-02-01",
              "2018-12-01",
              "2018-11-01",
              "2018-10-01",
              "2018-08-01",
              "2018-07-01",
              "2018-06-01",
              "2018-05-01",
              "2018-04-01",
              "2018-03-01",
              "2018-02-01",
              "2018-01-01",
              "2017-11-01",
              "2017-10-01",
              "2017-09-01",
              "2017-08-01",
              "2017-06-01",
              "2017-04-01",
              "2017-03-01",
              "2016-12-01",
              "2016-11-01",
              "2016-10-01",
              "2016-09-01",
              "2016-08-01",
              "2016-07-01",
              "2016-06-01",
              "2016-03-30",
              "2015-06-15",
              "2015-05-01-preview",
              "2014-12-01-preview"
            ],
            "apiProfiles": [
              {
                "profileVersion": "2017-03-09-profile",
                "apiVersion": "2015-06-15"
              },
              {
                "profileVersion": "2018-03-01-hybrid",
                "apiVersion": "2017-10-01"
              },
              {
                "profileVersion": "2019-03-01-hybrid",
                "apiVersion": "2017-10-01"
              }
            ],
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove"
          },
          {
            "resourceType": "natGateways",
            "locations": [
              "West US",
              "East US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "North Central US",
              "South Central US",
              "Central US",
              "East US 2",
              "Japan East",
              "Japan [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/csmrg2169?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1152"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2169",
        "name": "csmrg2169",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2169/providers/Microsoft.Network/virtualNetworks/azsmnet7981?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "azsmnet8461",
              "properties": {
                "addressPrefix": "10.0.0.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/5c2fafd8-f4ad-4fcf-8d3c-89e9a9d326ad?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1151"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022azsmnet7981\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2169/providers/Microsoft.Network/virtualNetworks/azsmnet7981\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u00227f2881b0-5c1a-420a-b782-2b99b0fc6ed3\\\u0022\u0022,\r\n",
        "  \u0022type\u0022: \u0022Micr[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/5c2fafd8-f4ad-4fcf-8d3c-89e9a9d326ad?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "9014"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2169/providers/Microsoft.Network/virtualNetworks/azsmnet7981?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022590d4424-2a50-4725-8b47-570c0ecdd4bb\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "9012"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022azsmnet7981\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2169/providers/Microsoft.Network/virtualNetworks/azsmnet7981\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022590d4424-2a50-4725-8b47-570c0ecdd4bb\\\u0022\u002[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2169/providers/Microsoft.Network/virtualNetworks/azsmnet7981/subnets/azsmnet8461?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002259[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2169/providers/Microsoft.Network/networkInterfaces/azsmnet4302?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US",
        "tags": {
          "key": "value"
        },
        "properties": {
          "ipConfigurations": [
            {
              "name": "azsmnet1766",
              "properties": {
                "privateIPAllocationMethod": "Dynamic",
                "subnet": {
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2169/providers/Microsoft.Network/virtualNetworks/azsmnet7981/subnets/azsmnet8461",
                  "properties": {}
                }
              }
            }
          ],
          "enableIPForwarding": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/1d67da30-0723-4d55-b196-a23582d4a784?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1150"
      },
      "Respons[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2169/providers/Microsoft.Network/networkInterfaces/azsmnet4302?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2169/providers/Microsoft.Network/networkInterfaces/azsmnet4302",
        "location": "westus",
        "tags": {
          "key": "value"
        },
        "properties": {
          "ipConfigurations": [
            {
              "name": "azsmnet1766",
              "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2169/providers/Microsoft.Network/networkInterfaces/azsmnet4302/ipConfigurations/azsmnet1766",
              "properties": {
                "privateIPAddress": "10.0.0.4",
                "privateIPAllocationMethod": "Dynamic",
                "privateIPAddressVersion": "IPv4",
                "subnet": {
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2169/providers/Microsoft.Network/virtualNetworks/azsmnet7981/subnets/azsmnet8461",
                  "properties": {}
                },
                "primary": true
              }
            }
          ],
          "dnsSettings": {
            "dnsServers": []
          },
          "enableAcceleratedNetworking": false,
          "enableIPForwarding": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/6767fb5f-689d-4f24-a424-7d51cc49f99b?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1149"
      },
      "ResponseBody": [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2169/providers/Microsoft.Network/networkInterfaces/azsmnet4302?api-version=2020-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/a9333c06-c453-4823-8cd7-00756056df37?api-version=2020-04-01",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operationResults/a9333c06-c453-4823-8cd7-00756056df37?api-version=2020-04-01",
        "x-ms-ratelimit-remaining-subscription-deletes": "14972"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2169/providers/Microsoft.Network/networkInterfaces?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "9006"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022value\u0022: []\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2169/providers/Microsoft.Network/virtualNetworks/azsmnet7981?api-version=2020-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/d795f852-6173-4e06-b098-ef0fce7c50b6?api-version=2020-04-01",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operationResults/d795f852-6173-4e06-b098-ef0fce7c50b6?api-version=2020-04-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14971"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1416805322",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb"
  }
}