{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "9464"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "2cf9eb86-36b5-49dc-86ae-9a63135dfa8c",
            "roleDefinitionId": "13ba9ab4-19f0-4804-adc4-14ece36cc7a1"
          },
          {
            "applicationId": "7c33bfcb-8d33-48d6-8e60-dc6404003489",
            "roleDefinitionId": "ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"
          },
          {
            "applicationId": "1e3e4475-288f-4018-a376-df66fd7fac5f",
            "roleDefinitionId": "1d538b69-3d87-4e56-8ff8-25786fd48261"
          },
          {
            "applicationId": "a0be0c72-870e-46f0-9c49-c98333a996f7",
            "roleDefinitionId": "7ce22727-ffce-45a9-930c-ddb2e56fa131"
          },
          {
            "applicationId": "486c78bf-a0f7-45f1-92fd-37215929e116",
            "roleDefinitionId": "98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"
          },
          {
            "applicationId": "19947cfd-0303-466c-ac3c-fcc19a7a1570",
            "roleDefinitionId": "d813ab6c-bfb7-413e-9462-005b21f0ce09"
          },
          {
            "applicationId": "341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd",
            "roleDefinitionId": "8141843c-c51c-4c1e-a5bf-0d351594b86c"
          },
          {
            "applicationId": "328fd23b-de6e-462c-9433-e207470a5727",
            "roleDefinitionId": "79e29e06-4056-41e5-a6b2-959f1f47747e"
          },
          {
            "applicationId": "6d057c82-a784-47ae-8d12-ca7b38cf06b4",
            "roleDefinitionId": "c27dd31e-c1e5-4ab0-93e1-a12ba34f182e"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "virtualNetworks",
            "locations": [
              "West US",
              "East US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "North Central US",
              "South Central US",
              "Central US",
              "East US 2",
              "Japan East",
              "Japan West",
              "Brazil South",
              "Australia East",
              "Australia Southeast",
              "Central India",
              "South India",
              "West India",
              "Canada Central",
              "Canada East",
              "West Central US",
              "West US 2",
              "UK West",
              "UK South",
              "Korea Central",
              "Korea South",
              "France Central",
              "Australia Central",
              "South Africa North",
              "UAE North",
              "Switzerland North",
              "Germany West Central",
              "Norway East"
            ],
            "apiVersions": [
              "2020-04-01",
              "2020-03-01",
              "2020-01-01",
              "2019-12-01",
              "2019-11-01",
              "2019-09-01",
              "2019-08-01",
              "2019-07-01",
              "2019-06-01",
              "2019-04-01",
              "2019-02-01",
              "2018-12-01",
              "2018-11-01",
              "2018-10-01",
              "2018-08-01",
              "2018-07-01",
              "2018-06-01",
              "2018-05-01",
              "2018-04-01",
              "2018-03-01",
              "2018-02-01",
              "2018-01-01",
              "2017-11-01",
              "2017-10-01",
              "2017-09-01",
              "2017-08-01",
              "2017-06-01",
              "2017-04-01",
              "2017-03-01",
              "2016-12-01",
              "2016-11-01",
              "2016-10-01",
              "2016-09-01",
              "2016-08-01",
              "2016-07-01",
              "2016-06-01",
              "2016-03-30",
              "2015-06-15",
              "2015-05-01-preview",
              "2014-12-01-preview"
            ],
            "defaultApiVersion": "2017-09-01",
            "apiProfiles": [
              {
                "profileVersion": "2017-03-09-profile",
                "apiVersion": "2015-06-15"
              },
              {
                "profileVersion": "2018-03-01-hybrid",
                "apiVersion": "2017-10-01"
              },
              {
                "profileVersion": "2019-03-01-hybrid",
                "apiVersion": "2017-10-01"
              }
            ],
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "natGateways",
            "locations": [
              "West US",
              "East US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "North Central US",
              "South Central US",
              "Central US",
              "East US 2",
              "Ja[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/csmrg8938?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg8938",
        "name": "csmrg8938",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg8938/providers/Microsoft.Network/virtualNetworks/azsmnet7690?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "azsmnet7588",
              "properties": {
                "addressPrefix": "10.0.0.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/23c5c2e0-1425-47fc-9390-574cfc2416be?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1097"
      },
      "ResponseBody": {
        "name": "azsmnet7690",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg8938/providers/Microsoft.Network/virtualNetworks/azsmnet7690",
        "etag": "W/\u0022fb7c094c-f3a2-49e5-bf74-a317e5cb12a5\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "westus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "289ac6a3-804a-43cb-8391-85e11518de8f",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "azsmnet7588",
              "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg8938/providers/Microsoft.Network/virtualNetworks/azsmnet7690/subnets/azsmnet7588",
              "etag": "W/\u0022fb7c094c-f3a2-49e5-bf74-a317e5cb12a5\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.0.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Enabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false,
          "enableVmProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/23c5c2e0-1425-47fc-9390-574cfc2416be?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "9463"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg8938/providers/Microsoft.Network/virtualNetworks/azsmnet7690?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022a4814fc5-52e9-436b-a58c-6dfedac9426c\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "9461"
      },
      "ResponseBody": {
        "name": "azsmnet7690",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg8938/providers/Microsoft.Network/virtualNetworks/azsmnet7690",
        "etag": "W/\u0022a4814fc5-52e9-436b-a58c-6dfedac9426c\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "westus",
        "propert[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg8938/providers/Microsoft.Network/networkSecurityGroups/azsmnet1889?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US",
        "properties": {
          "securityRules": [
            {
              "name": "azsmnet3466",
              "properties": {
                "description": "Test security rule",
                "protocol": "Tcp",
                "sourcePortRange": "655",
                "destinationPortRange": "123-3500",
                "sourceAddressPrefix": "*",
                "destinationAddressPrefix": "*",
                "access": "Allow",
                "priority": 500,
                "direction": "Inbound"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/6b8f3588-54ba-4562-b470-7f9de670f69c?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-m[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg8938/providers/Microsoft.Network/networkInterfaces/azsmnet24?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US",
        "tags": {
          "key": "value"
        },
        "properties": {
          "networkSecurityGroup": {
            "etag": "W/\u002219230c45-e330-4b20-8897-9dde8bc1b9e3\u0022",
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg8938/providers/Microsoft.Network/networkSecurityGroups/azsmnet1889",
            "name": "azsmnet1889",
            "type": "Microsoft.Network/networkSecurityGroups",
            "location": "westus",
            "properties": {
              "securityRules": [
                {
                  "name": "azsmnet3466",
                  "etag": "W/\u002219230c45-e330-4b20-8897-9dde8bc1b9e3\u0022",
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg8938/providers/Microsoft.Network/networkSecurityGroups/azsmnet1889/securityRules/azsmnet3466",
                  "properties": {
                    "description": "Test security rule",
                    "protocol": "Tcp",
                    "sourcePortRange": "655",
                    "destinationPortRange": "123-3500",
                    "sourceAddressPrefix": "*",
                    "sourceAddressPrefixes": [],
                    "destinationAddressPrefix": "*",
                    "destinationAddressPrefixes": [],
                    "sourcePortRanges": [],
                    "destinationPortRanges": [],
                    "access": "Allow",
                    "priority": 500,
                    "direction": "Inbound",
                    "provisioningState": "Succeeded"
                  }
                }
              ],
              "defaultSecurityRules": [
                {
                  "name": "AllowVnetInBound",
                  "etag": "W/\u002219230c45-e330-4b20-8897-9dde8bc1b9e3\u0022",
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg8938/providers/Microsoft.Network/networkSecurityGroups/azsmnet1889/defaultSecurityRules/AllowVnetInBound",
                  "properties": {
                    "description": "Allow inbound traffic from all VMs in VNET",
                    "protocol": "*[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg8938/providers/Microsoft.Network/networkInterfaces/azsmnet24?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00223715bea2-ba7a-4f1e-899a-89abc240ced4\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "9457"
      },
      "ResponseBody": {
        "name": "azsmnet24",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg8938/providers/Microsoft.Network/networkInterfaces/azsmnet24",
        "etag": "W/\u00223715bea2-ba7a-4f1e-899a-89abc240ced4\u0022",
        "location": "westus",
        "tags": {
          "key": "value"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "532d2235-59a7-45d7-80b0-ae983ab05dd5",
          "ipConfigurations": [
            {
              "name": "azsmnet5089",
              "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg8938/providers/Microsoft.Network/networkInterfaces/azsmnet24/ipConfigurations/azsmnet5089",
              "etag": "W/\u00223715bea2-ba7a-4f1e-899a-89abc240ced4\u0022",
              "type": "Microsoft.Network/networkInterfaces/ipConfigurations",
              "properties": {
                "provisioningState": "Succeeded",
                "privateIPAddress": "10.0.0.4",
                "privateIPAllocationMethod": "Dynamic",
                "subnet": {
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg8938/providers/Microsoft.Network/virtualNetworks/azsmnet7690/subnets/azsmnet7588"
                },
                "primary": true,
                "privateIPAddressVersion": "IPv4"
              }
            }
          ],
          "dnsSettings": {
            "dnsServers": [],
            "appliedDnsServers": [],
            "internalDomainNameSuffix": "updjukckqdfuha2rqxqrkgg4rh.dx.internal.cloudapp.net"
          },
          "enableAcceleratedNetworking": false,
          "enableIPForwarding": false,
          "networkSecurityGroup": {
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg8938/providers/Microsoft.Network/networkSecurityGroups/azsmnet1889"
          },
          "hostedWorkloads": [],
          "tapConfigurations": [],
          "nicType": "Standard"
        },
        "type": "Microsoft.Network/networkInterfaces"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg8938/providers/Microsoft.Network/networkInterfaces/azsmnet24?api-version=2020-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/1eff5955-7361-4481-baa8-097947f6b096?api-version=2020-04-01",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operationResults/1eff5955-7361-4481-baa8-097947f6b096?api-version=2020-04-01",
        "x-ms-ratelimit-remaining-subscription-deletes": "14920"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg8938/providers/Microsoft.Network/networkInterfaces?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "9454"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/csmrg8938?api-version=2019-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DU01SRzg5MzgtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2019-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14917"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "ApplicationId": "28ea375d-3c6f-40cd-abdd-9c485e527612",
    "RandomSeed": "1947045504",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}