{
  "Entries": [
    {
      "RequestUri": "/Subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backupseadev01/BackupVault/backuprn/containers/iaasvmcontainer%3Bdev01testing%3Bdev01testing/datasources/VM/17593283453810/unprotect?api-version=2014-09-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"RemoveProtectionOption\": \"RetainBackupData\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"ErrorCode\": \"BMSUserErrorDataSourceObjectNotProtected\",\r\n  \"Message\": {\r\n    \"Language\": \"en-US\",\r\n    \"Value\": \"Item is not protected.\\r\\nPlease check if item is associated with any policy.\"\r\n  },\r\n  \"Values\": [\r\n    {\r\n      \"Key\": \"Endpoint\",\r\n      \"Value\": \"net.tcp://10.25.228.128:20002/2014/09/BMSManagementService\"\r\n    },\r\n    {\r\n      \"Key\": \"Name\",\r\n      \"Value\": \"NetTcpBinding_IBMSManagementInternal\"\r\n    },\r\n    {\r\n      \"Key\": \"Source\",\r\n      \"Value\": \"BMSWebRole_IN_0\"\r\n    },\r\n    {\r\n      \"Key\": \"Target\",\r\n      \"Value\": \"BMSWorkerRole_IN_0\"\r\n    },\r\n    {\r\n      \"Key\": \"ResourceId\",\r\n      \"Value\": \"3420983535961922368\"\r\n    },\r\n    {\r\n      \"Key\": \"containerName\",\r\n      \"Value\": \"iaasvmcontainer;dev01testing;dev01testing\"\r\n    },\r\n    {\r\n      \"Key\": \"dataSourceType\",\r\n      \"Value\": \"VM\"\r\n    },\r\n    {\r\n      \"Key\": \"dataSourceId\",\r\n      \"Value\": \"17593283453810\"\r\n    },\r\n    {\r\n      \"Key\": \"ApiVersion\",\r\n      \"Value\": \"1.0\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {}
}