{
  "Entries": [
    {
      "RequestUri": "/Subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backupseadev01/BackupVault/backuprn/protectableobjects/protect?api-version=2014-09-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"ProtectableObjects\": [\r\n    \"iaasvmcontainer;dev01testing;dev01testing\"\r\n  ],\r\n  \"ProtectableObjectType\": \"VM\",\r\n  \"PolicyId\": \"f9e9691b-e05e-45ee-a273-e39e40216a04\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "\"d0e0993d-1b9e-423b-9b3a-a7d59cb79a23\"",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/Subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backupseadev01/BackupVault/backuprn/containers/iaasvmcontainer%3Bdev01testing%3Bdev01testing/datasources/VM/17593283453810/unprotect?api-version=2014-09-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"RemoveProtectionOption\": \"RetainBackupData\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "\"e20e07a9-f59e-41a9-bb85-06591a5f7c49\"",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {}
}