{
  "Entries": [
    {
      "RequestUri": "/Subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backupseadev01/BackupVault/backuprn/datasources?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"Objects\": [\r\n    {\r\n      \"FriendlyName\": \"dev01Testing\",\r\n      \"ContainerName\": \"iaasvmcontainer;dev01testing;dev01testing\",\r\n      \"ContainerType\": \"IaasVMContainer\",\r\n      \"Type\": \"VM\",\r\n      \"Status\": \"Protected\",\r\n      \"ProtectionStatus\": \"Protected\",\r\n      \"ProtectableObjectName\": \"iaasvmcontainer;dev01testing;dev01testing\",\r\n      \"ProtectionPolicyName\": \"ProtPolicy01_updated\",\r\n      \"ProtectionPolicyId\": \"f9e9691b-e05e-45ee-a273-e39e40216a04\",\r\n      \"PolicyInconsistent\": false,\r\n      \"RecoveryPointsCount\": 13,\r\n      \"LastRecoveryPoint\": \"2015-06-15T17:38:00.3816293Z\",\r\n      \"LastBackupTime\": \"2015-06-16T04:19:02.5947672Z\",\r\n      \"LastBackupStatus\": \"Cancelled\",\r\n      \"LastBackupJobId\": \"bcc46976-4cde-4c48-b19a-baa001e9aea0\",\r\n      \"InstanceId\": \"17593283453810\",\r\n      \"Name\": \"iaasvmcontainer;dev01testing;dev01testing\",\r\n      \"OperationInProgress\": false\r\n    }\r\n  ],\r\n  \"ResultCount\": 1,\r\n  \"Skiptoken\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "f5303a0b-fae4-4cdb-b44d-0e4c032dde26"
  }
}