{
  "Entries": [
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/gateways/rameshr12?api-version=2016-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/gateways/rameshr12\",\r\n  \"name\": \"rameshr12\",\r\n  \"type\": \"microsoft.servermanagement/gateways\",\r\n  \"location\": \"centralus\",\r\n  \"etag\": \"W/\\\"datetime'2016-09-22T19%3A48%3A35.9490958Z'\\\"\",\r\n  \"properties\": {\r\n    \"created\": \"2016-09-22T19:32:15.1387289Z\",\r\n    \"updated\": \"2016-09-22T19:48:34.2572838Z\",\r\n    \"autoUpgrade\": \"On\",\r\n    \"upgradeMode\": \"Automatic\",\r\n    \"desiredVersion\": null,\r\n    \"minimumVersion\": \"1.0.1547.0\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-managementservice-fileversion": [
          "1.0.1684.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12?api-version=2016-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"gatewayId\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/gateways/rameshr12\",\r\n    \"connectionName\": \"rameshr12\",\r\n    \"userName\": \"\",\r\n    \"password\": \"\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/nodes/rameshr12\",\r\n  \"name\": \"rameshr12\",\r\n  \"type\": \"microsoft.servermanagement/nodes\",\r\n  \"location\": \"centralus\",\r\n  \"etag\": \"W/\\\"datetime'2016-09-23T21%3A33%3A30.1282223Z'\\\"\",\r\n  \"properties\": {\r\n    \"gatewayId\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/gateways/rameshr12\",\r\n    \"connectionName\": \"rameshr12\",\r\n    \"created\": \"2016-09-23T21:33:30.3831621Z\",\r\n    \"updated\": \"2016-09-23T21:33:30.3831621Z\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-managementservice-fileversion": [
          "1.0.1684.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/providers/Microsoft.ServerManagement/nodes?api-version=2016-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/pd-rnr-wellknown-rg/providers/microsoft.servermanagement/nodes/pd-nd-cu-01\",\r\n      \"name\": \"pd-nd-cu-01\",\r\n      \"type\": \"microsoft.servermanagement/nodes\",\r\n      \"location\": \"centralus\",\r\n      \"etag\": \"W/\\\"datetime'2016-08-17T19%3A28%3A51.4403733Z'\\\"\",\r\n      \"properties\": {\r\n        \"gatewayId\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceg[...]
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes?api-version=2016-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/nodes/rameshr12\",\r\n      \"name\": \"rameshr12\",\r\n      \"type\": \"microsoft.servermanagement/nodes\",\r\n      \"location\": \"centralus\",\r\n      \"etag\": \"W/\\\"datetime'2016-09-23T21%3A33%3A30.1282223Z'\\\"\",\r\n      \"properties\": {\r\n        \"gatewayId\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/gateways/rameshr12\",\r\n        \"connectionName\": \"rameshr12\",\r\n        \"created\": \"2016-09-23T21:33:30.3831621Z\",\r\n        \"updated\": \"2016-09-23T21:33:30.3831621Z\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-managementservice-fileversion": [
          "1.0.1684.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/7c0d4c77-ec67-4609-807b-7989c23b0a47?api-version=2016-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"userName\": \"rsmtuser\",\r\n    \"password\": \"Rsmt!1234\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/nodes/rameshr12/sessions/7c0d4c77-ec67-4609-807b-7989c23b0a47\",\r\n  \"name\": \"7c0d4c77-ec67-4609-807b-7989c23b0a47\",\r\n  \"type\": \"microsoft.servermanagement/nodes/sessions\",\r\n  \"properties\": {\r\n    \"retentionPeriod\": \"session\",\r\n    \"created\": \"2016-09-23T21:33:33.6028917Z\",\r\n    \"updated\": \"2016-09-23T21:33:33.6028917Z\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-managementservice-fileversion": [
          "1.0.1684.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/7c0d4c77-ec67-4609-807b-7989c23b0a47/features/powerShellConsole/pssessions/00000000-0000-0000-0000-000000000000?api-version=2016-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/7c0d4c77-ec67-4609-807b-7989c23b0a47/features/powerShellConsole/pssessions/00000000-0000-0000-0000-000000000000\",\r\n  \"name\": \"00000000-0000-0000-0000-000000000000\",\r\n  \"type\": \"Microsoft.ServerManagement/nodes/features/pssessions\",\r\n  \"properties\": {\r\n    \"sessionId\": \"3823e25c-c086-4bb2-a09a-72479b266a7a\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-managementservice-fileversion": [
          "1.0.1684.0"
        ],
        "X-ManagementService-ExpiredOn": [
          "2016-09-24T21:33:37.5002838Z"
        ],
        "X-ManagementService-RequestReceiveTimeOnGateway": [
          "2016-09-23T21:33:36.4841686Z"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/7c0d4c77-ec67-4609-807b-7989c23b0a47/features/powerShellConsole/pssessions/3823e25c-c086-4bb2-a09a-72479b266a7a/invokeCommand?api-version=2016-07-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"command\": \"dir c:\\\\\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"results\": [\r\n    {\r\n      \"foregroundColor\": \"#FFFFFF\",\r\n      \"backgroundColor\": \"#012456\",\r\n      \"value\": \"\\r\\n\\r\\n    Directory: C:\\\\\\r\\n\\r\\n\\r\\nMode                LastWriteTime         Length Name                                                                  \\r\\n----                -------------         ------ ----                                                                  \\r\\nd-----        6/26/2015   2:22 PM                ant                                                                   \\r\\nd-----         9/8/2015   2:39 PM     [...]
[...]
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/7c0d4c77-ec67-4609-807b-7989c23b0a47/features/powerShellConsole/pssessions/3823e25c-c086-4bb2-a09a-72479b266a7a/tab?api-version=2016-07-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"command\": \"dir c:\\\\\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf[...]
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/7c0d4c77-ec67-4609-807b-7989c23b0a47/features/powerShellConsole/pssessions?api-version=2016-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/7c0d4c77-ec67-4609-807b-7989c23b0a47/features/powerShellConsole/pssessions/dd621e8a-4f2a-4d6b-a563-daa24bf4326b\",\r\n      \"name\": \"dd621e8a-4f2a-4d6b-a563-daa24bf4326b\",\r\n      \"type\": \"Microsoft.ServerManagement/nodes/features/pssessions\",\r\n      \"properties\": {\r\n        \"sessionId\": \"dd621e8a-4f2a-4d6b-a563-daa24bf4326b\",\r\n        \"state\": \"Disconnected\",\r\n        \"runspaceAvailability\": \"None\",\r\n        \"disconnectedOn\": \"2016-09-23T14:19:03.1488593-07:00\",\r\n        \"expiresOn\": \"2016-09-23T16:19:03.1488593-07:00\",\r\n        \"version\": {\r\n          \"major\": 5,\r\n          \"minor\": 1,\r\n          \"build\": 14393,\r\n          \"revision\": 187,\r\n          \"majorRevision\": 0,\r\n          \"minorRevision\": 187\r\n        },\r\n        \"name\": \"Runspace22\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/7c0d4c77-ec67-4609-807b-7989c23b0a47/features/powerShellConsole/pssessions/3823e25c-c086-4bb2-a09a-72479b266a7a\",\r\n      \"name\": \"3823e25c-c086-4bb2-a09a-72479b266a7a\",\r\n      \"type\": \"Microsoft.ServerManagement/nodes/features/pssessions\",\r\n   [...]
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/7c0d4c77-ec67-4609-807b-7989c23b0a47/features/powerShellConsole/pssessions/3823e25c-c086-4bb2-a09a-72479b266a7a?api-version=2016-07-01-preview&$expand=output",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/7c0d4c77-ec67-4609-807b-7989c23b0a47/features/powerShellConsole/pssessions/3823e25c-c086-4bb2-a09a-72479b266a7a\",\r\n  \"name\": \"3823e25c-c086-4bb2-a09a-72479b266a7a\",\r\n  \"type\": \"Microsoft.ServerManagement/nodes/features/pssessions\",\r\n  \"properties\": {\r\n    \"results\": [],\r\n    \"sessionId\": \"3823e25c-c086-4bb2-a09a-72479b266a7a\",\r\n    \"commandId\": \"52639979-ea8f-45d8-b21b-613e5cc8d39d\",\r\n    \"command\": \"dir c:\\\\ ; sleep 20 ; dir c:\\\\windows\",\r\n    \"completed\": \"false\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-managementservice-fileversion": [
          "1.0.1684.0"
        ],
        "X-ManagementService-ExpiredOn": [
          "2016-09-24T21:33:44.7763744Z"
        ],
        "X-ManagementService-RequestReceiveTimeOnGateway": [
          "2016-09-23T21:33:43.4457490Z"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14990"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12?api-version=2016-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-managementservice-fileversion": [
          "1.0.1684.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "a01fbab8-1714-4f94-8b67-40d7827a5efd",
    "SMT_NODE_NAME": "RAMESHR12",
    "SMT_TEST_LOCATION": "centralus",
    "SMT_SESSION_ID": "7c0d4c77-ec67-4609-807b-7989c23b0a47",
    "SMT_NODE_USERNAME": "rsmtuser"
  }
}