{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/operations?api-version=2017-02-27-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Billing/invoices/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Billing\",\r\n        \"resource\": \"Invoices\",\r\n        \"operation\": \"Get Invoice\",\r\n        \"description\": \"Gets list of available invoices.\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0347d63a-421a-43a7-836a-5f389c79cd07"
  }
}