{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "fc35d936-3b89-41f8-8110-a24b56826c37",
        "tenantId": "888d76fa-54b2-4ced-8ee5-aac1585adee7",
        "displayName": "PayG_Test_LiftrQumulo",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourcegroups/Default-Qumulo-3416?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-3416",
        "name": "Default-Qumulo-3416",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-3416/providers/Qumulo.Storage/fileSystems/testResource-6673?api-version=2022-10-12",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {
          "marketplaceDetails": {
            "planId": "qumulo-on-azure-v1%%gmz7xq9ge3py%%P1M",
            "offerId": "qumulo-saas-mpp",
            "publisherId": "qumulo1584033880660"
          },
          "storageSku": "Performance",
          "userDetails": {
            "email": "abc@test.com"
          },
          "delegatedSubnetId": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/virtualNetworks/eastus2vnet/subnets/default",
          "adminPassword": "Test123",
          "initialCapacity": 18,
          "availabilityZone": "2"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/54bbeaec-e748-44e3-9229-1b5a83c7c1ff*7033B56AC04A93A9E33EECC449EC30F7025DBBEA6336B2341DD5ACA66A82EB20?api-version=2022-10-12",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b08b7d0-0000-0100-0000-6450f23d0000\u0022",
        "Location": "https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/54bbeaec-e748-44e3-9229-1b5a83c7c1ff*7033B56AC04A93A9E33EECC449EC30F7025DBBEA6336B2341DD5ACA66A82EB20?api-version=2022-10-12",
        "mise-correlation-id": "f7284f3f-fb02-4176-b537-e12dda3c6440",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-3416/providers/Qumulo.Storage/fileSystems/testResource-6673",
        "name": "testResource-6673",
        "type": "qumulo.storage/filesystems",
        "location": "eastus2",
        "tags": {},
        "systemData": {
          "createdBy": "d01a3099-115f-472c-8d79-8e19275b4d8c",
          "createdByType": "Application",
          "createdAt": "2023-05-02T11:21:32.6537126Z",
          "lastModifiedBy": "d01a3099-115f-472c-8d79-8e19275b4d8c",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-02T11:21:32.6537126Z"
        },
        "properties": {
          "marketplaceDetails": {
            "marketplaceSubscriptionId": null,
            "planId": "qumulo-on-azure-v1%%gmz7xq9ge3py%%P1M",
            "offerId": "qumulo-saas-mpp",
            "publisherId": "qumulo1584033880660",
            "marketplaceSubscriptionStatus": "PendingFulfillmentStart"
          },
          "provisioningState": "Accepted",
          "userDetails": {},
          "delegatedSubnetId": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/virtualNetworks/eastus2vnet/subnets/default",
          "clusterLoginUrl": null,
          "privateIPs": null,
          "storageSku": "Performance",
          "initialCapacity": 18,
          "availabilityZone": "2"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/54bbeaec-e748-44e3-9229-1b5a83c7c1ff*7033B56AC04A93A9E33EECC449EC30F7025DBBEA6336B2341DD5ACA66A82EB20?api-version=2022-10-12",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f50127dd-0000-0100-0000-6450f23d0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/54bbeaec-e748-44e3-9229-1b5a83c7c1ff*7033B56AC04A93A9E33EECC449EC30F7025DBBEA6336B2341DD5ACA66A82EB20",
        "name": "54bbeaec-e748-44e3-9229-1b5a83c7c1ff*7033B56AC04A93A9E33EECC449EC30F7025DBBEA6336B2341DD5ACA66A82EB20",
        "resourceId": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-3416/providers/Qumulo.Storage/fileSystems/testResource-6673",
        "status": "Accepted",
        "startTime": "2023-05-02T11:21:33.7748228Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/54bbeaec-e748-44e3-9229-1b5a83c7c1ff*7033B56AC04A93A9E33EECC449EC30F7025DBBEA6336B2341DD5ACA66A82EB20?api-version=2022-10-12",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f6012132-0000-0100-0000-6450f4860000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11976"
      },
      "ResponseBody": {
        "id": "/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/54bbeaec-e748-44e3-9229-1b5a83c7c1ff*7033B56AC04A93A9E33EECC449EC30F7025DBBEA6336B2341DD5ACA66A82EB20",
        "name": "54bbeaec-e748-44e3-9229-1b5a83c7c1ff*7033B56AC04A93A9E33EECC449EC30F7025DBBEA6336B2341DD5ACA66A82EB20",
        "resourceId": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-3416/providers/Qumulo.Storage/fileSystems/testResource-6673",
        "status": "Succeeded",
        "startTime": "2023-05-02T11:21:33.7748228Z",
        "endTime": "2023-05-02T11:31:18.8393503Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-3416/providers/Qumulo.Storage/fileSystems/testResource-66731?api-version=2022-10-12",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Qumulo.Storage/fileSystems/testResource-66731\u0027 under resource group \u0027Default-Qumulo-3416\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1814133289",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "fc35d936-3b89-41f8-8110-a24b56826c37"
  }
}
