{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/sdktestrg-kv-9707?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "canadacentral"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-9707",
        "name": "sdktestrg-kv-9707",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "canadacentral",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-9707/providers/Microsoft.KeyVault/vaults/sdktest-vault-716?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "canadacentral",
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "accessPolicies": [
            {
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "objectId": "d8d75902-f0d1-442d-b310-62e23b1ff5ec",
              "permissions": {
                "keys": [
                  "all"
                ],
                "secrets": [
                  "all"
                ],
                "certificates": [
                  "all"
                ],
                "storage": [
                  "all"
                ]
              }
            }
          ],
          "vaultUri": "http://vaulturi.com/",
          "enabledForDeployment": true,
          "enabledForDiskEncryption": true,
          "enabledForTemplateDeployment": true,
          "enableSoftDelete": true,
          "softDeleteRetentionInDays": 7,
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Allow",
            "ipRules": [
              {
                "value": "1.2.3.4/32"
              },
              {
                "value": "1.0.0.0/25"
              }
            ]
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-9707/providers/Microsoft.KeyVault/vaults/sdktest-vault-716",
        "name": "sdktest-vault-716",
        "type": "Microsoft.KeyVault/vaults",
        "location": "canadacentral",
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-04-26T05:48:28.723Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-26T05:48:28.723Z"
        },
        "properties": {
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Allow",
            "ipRules": [
              {
                "value": "1.2.3.4/32"
              },
              {
                "value": "1.0.0.0/25"
              }
            ],
            "virtualNetworkRules": []
          },
          "accessPolicies": [
            {
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "objectId": "d8d75902-f0d1-442d-b310-62e23b1ff5ec",
              "permissions": {
                "keys": [
                  "all"
                ],
                "secrets": [
                  "all"
                ],
                "certificates": [
                  "all"
                ],
                "storage": [
                  "all"
                ]
              }
            }
          ],
          "enabledForDeployment": true,
          "enabledForDiskEncryption": true,
          "enabledForTemplateDeployment": true,
          "enableSoftDelete": true,
          "softDeleteRetentionInDays": 7,
          "vaultUri": "https://sdktest-vault-716.vault.azure.net",
          "provisioningState": "RegisteringDns",
          "publicNetworkAccess": "Enabled"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-9707/providers/Microsoft.Network/privateEndpoints/pe-8641?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "canadacentral",
        "properties": {
          "subnet": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-9707/providers/Microsoft.Network/virtualNetworks/vnet-9882/subnets/default",
            "properties": {}
          },
          "manualPrivateLinkServiceConnections": [
            {
              "name": "pec9530",
              "properties": {
                "privateLinkServiceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-9707/providers/Microsoft.KeyVault/vaults/sdktest-vault-716",
                "groupIds": [
                  "vault"
                ],
                "requestMessage": "SDK test"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/canadacentral/operations/1a70836f-c32e-46ec-a7f8-82dd89a60b36?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "name": "pe-8641",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-9707/providers/Microsoft.Network/privateEndpoints/pe-8641",
        "etag": "W/\u0022d84117f5-adc6-45a0-9cef-2100394a4a13\u0022",
        "type": "Microsoft.Network/privateEndpoints",
        "location": "canadacentral",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "0eae1cd6-aa6a-409e-b89c-40caf47911a1",
          "privateLinkServiceConnections": [],
          "manualPrivateLinkServiceConnections": [
            {
              "name": "pec9530",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-9707/providers/Microsoft.Network/privateEndpoints/pe-8641/manualPrivateLinkServiceConnections/pec9530",
              "etag": "W/\u0022d84117f5-adc6-45a0-9cef-2100394a4a13\u0022",
              "properties": {
                "provisioningState": "Succeeded",
                "privateLinkServiceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-9707/providers/Microsoft.KeyVault/vaults/sdktest-vault-716",
                "groupIds": [
                  "vault"
                ],
                "requestMessage": "SDK test",
                "privateLinkServiceConnectionState": {
                  "status": "Pending",
                  "description": "SDK test",
                  "actionsRequired": "None"
                }
              },
              "type": "Microsoft.Network/privateEndpoints/manualPrivateLinkServiceConnections"
            }
          ],
          "subnet": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-9707/providers/Microsoft.Network/virtualNetworks/vnet-9882/subnets/default"
          },
          "networkInterfaces": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-9707/providers/Microsoft.Network/networkInterfaces/pe-8641.nic.a0a069e4-a06b-449c-b8a3-54bced470575"
            }
          ],
          "customDnsConfigs": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/canadacentral/operations/1a70836f-c32e-46ec-a7f8-82dd89a60b36?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-9707/providers/Microsoft.Network/privateEndpoints/pe-8641?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022d4222dd0-c570-4659-8638-564d8e90d742\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "name": "pe-8641",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-9707/providers/Microsoft.Network/privateEndpoints/pe-8641",
        "etag": "W/\u0022d4222dd0-c570-4659-8638-564d8e90d742\u0022",
        "type": "Microsoft.Network/privateEndpoints",
        "location": "canadacentral",
      [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-9707/providers/Microsoft.Network/privateEndpoints/pe-8641?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "canadacentral",
        "tags": {
          "test": "test"
        },
        "properties": {
          "subnet": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-9707/providers/Microsoft.Network/virtualNetworks/vnet-9882/subnets/default",
            "properties": {}
          },
          "manualPrivateLinkServiceConnections": [
            {
              "name": "pec9530",
              "properties": {
                "privateLinkServiceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c1[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-9707/providers/Microsoft.Network/privateEndpoints?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-rea[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-9707/providers/Microsoft.Network/privateEndpoints/pe-8641?api-version=2021-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/canadacentral/operations/d80e712c-eaa9-45a6-875f-61ed2d3eea60?api-version=2021-02-01",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/canadacentral/operationResults/d80e712c-eaa9-45a6-875f-61ed2d3eea60?api-version=2021-02-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/privateEndpoints?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "OBJECT_ID": "d8d75902-f0d1-442d-b310-62e23b1ff5ec",
    "RandomSeed": "1337156536",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
