{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-74db8b66-366e-3c72-394f-010399e9c922?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 23:55:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F7F11621BE19\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 23:55:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-74db8b66-366e-3c72-394f-010399e9c922/test-blob-fcdbf785-fba3-ce68-ba04-b11d65faebaf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 24 Feb 2022 23:55:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "noXeGJ9mbBNX2vNDw/M/nGIRnd0TlBRmV50duHAOK1GYkuB4vtRR/k7B3TM0FK9CVUbDxJG1zApxeMABSLSjSa\u002BiqzASxt6Nv56PUbbgMkPt22IpS2a/4sbWB0YTT7aZHpOEkWh\u002BL49nNQTzJXpTkEV9FG1Sef1I48hqPL\u002BYenDo9TMiXKDab6vTwRVhzL1Mg3YAljtIR6WVO66gFPPPz7uUCjBHMDSloqTCf7fo5xYLHbhIl\u002BM1oK6NjCHxOlu4A/JazcGMBVNCWvSWhsfurVOXlPY6hzfXXmmCuaMSs2dJCXzFjRlUfhhlBT3vnxrmn9/NWaVlfXu6gm9XCkuwL6eM[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-74db8b66-366e-3c72-394f-010399e9c922/test-blob-fcdbf785-fba3-ce68-ba04-b11d65faebaf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 23:55:08 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F7F11651F516\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 23:55:08 GMT",
        "x-ms-blob-content-md5": "pNin3CGrvc/3uHT0/zx\u002BuQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "jDZpMC8geNs=",
        "x-ms-creation-time": "Thu, 24 Feb 2022 23:55:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 24 Feb 2022 23:55:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T23:55:08.3284758Z"
      },
      "ResponseBody": "noXeGJ9mbBNX2vNDw/M/nGIRnd0TlBRmV50duHAOK1GYkuB4vtRR/k7B3TM0FK9CVUbDxJG1zApxeMABSLSjSa\u002BiqzASxt6Nv56PUbbgMkPt22IpS2a/4sbWB0YTT7aZHpOEkWh\u002BL49nNQTzJXpTkEV9FG1Sef1I48hqPL\u002BYenDo9TMiXKDab6vTwRVhzL1Mg3YAljtIR6WVO66gFPPPz7uUCjBHMDSloqTCf7fo5xYLHbhIl\u002BM1oK6NjCHxOlu4A/JazcGMBVNCWvSWhsfurVOXlPY6hzfXXmmCuaMSs2dJCXzFjRlUfhhlBT3vnxrmn9/NWaVlfXu6gm9XCkuwL6eMTXxLKCA6Qhbd1YH66L9PmxrERVnB5IwACwuq/XTMtNWWY1Kemna/kxePh6f6v5qvCG4x7OpN[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-74db8b66-366e-3c72-394f-010399e9c922?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 23:55:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "956560835",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}