{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9cbfd7c2-589c-dcf6-8ecc-0b290c53c667?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA28A117B712EB\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9cbfd7c2-589c-dcf6-8ecc-0b290c53c667/test-blob-82aa4d0e-3055-3284-7a62-13429fd36787",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "E2BHzZqO0NMp6z0GvnZuHEvA1FW4AI/LRsob373b9SikgGwNK7OxxufInOwW7qjlzxWHHmGbYBLQfIbQcvEVTfYUYj4KYfCYDw5u8GSjtFgiNRCnVNfGCSBZPK8s4FP2sk72AYxq220l7g5TLHCuLMcurjzgbvkeTlgdsSRBbC67eD0VrbPMuFqigmXJc9ywqg/n/jIWFURV17MzTClI44Lfl7QymH8UYvbiPuuTVdt7bQYVWW77pGL5wNYAmGsxWZ/j6dsofhKQ05s8NNZYwYHXuN8iM4kU5PNRONipFMmKsOVMsGz/U\u002B70hIbSv2\u002BMof5UKN\u002BMDiUVzgXo1kY5577SsoPxD[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9cbfd7c2-589c-dcf6-8ecc-0b290c53c667/test-blob-82aa4d0e-3055-3284-7a62-13429fd36787",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA28A117C79F98\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:58 GMT",
        "x-ms-blob-content-md5": "n3tcHX9KsUo0QNw4sgd4sQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "pcYAVtqvxJA=",
        "x-ms-creation-time": "Wed, 27 Apr 2022 22:55:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-27T22:55:58.0150680Z"
      },
      "ResponseBody": "E2BHzZqO0NMp6z0GvnZuHEvA1FW4AI/LRsob373b9SikgGwNK7OxxufInOwW7qjlzxWHHmGbYBLQfIbQcvEVTfYUYj4KYfCYDw5u8GSjtFgiNRCnVNfGCSBZPK8s4FP2sk72AYxq220l7g5TLHCuLMcurjzgbvkeTlgdsSRBbC67eD0VrbPMuFqigmXJc9ywqg/n/jIWFURV17MzTClI44Lfl7QymH8UYvbiPuuTVdt7bQYVWW77pGL5wNYAmGsxWZ/j6dsofhKQ05s8NNZYwYHXuN8iM4kU5PNRONipFMmKsOVMsGz/U\u002B70hIbSv2\u002BMof5UKN\u002BMDiUVzgXo1kY5577SsoPxDBEV2GXwLa4CQiSDxZfaVOzq/aG/NuFnF32ou53HAAzrmpTtPk96nOF2EozgZBCuX5LS57ThM[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9cbfd7c2-589c-dcf6-8ecc-0b290c53c667?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1354455610",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
