{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0e6a8594-bbfe-ea06-4886-cecb469071a3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:16:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A8E074467D\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:16:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0e6a8594-bbfe-ea06-4886-cecb469071a3/test-blob-fb3a6053-4eea-d154-1ee0-db7efb3f9a11",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:16:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "7GzivBCGAYlFW6VrvebkARwOa/Akf9a/TP2TszQIZiAnSDOZY62v2VTirHJ1vvTkD9Qamtx7kGyWI28T805VPPWEQ3WyS55uXpKbQtNjSo0IrqNf7stDrLjHAkA9m\u002BYGjW998Hp/MsM2qztK306ZMtjhC0Sq9U4pQZe860leMMKslbRj5loTiXzgKUKQ\u002BcxpLc9nW5ChXJcgU67jwkZ613t4nkqZNUx\u002BzoLIyswMmEjKU71699QyCjkdQ5KrL8Y2ZVHGF1qC0PiC6Y0O2JLKFLtmGW\u002BI/\u002BCmRpMRfPK50p\u002B7kmR7RYDtR4LF9w1HIzKmUi7XRBZXrWVwIN[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0e6a8594-bbfe-ea06-4886-cecb469071a3/test-blob-fb3a6053-4eea-d154-1ee0-db7efb3f9a11",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:16:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A8E084CCBD\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:16:52 GMT",
        "x-ms-blob-content-md5": "G6\u002BUDCDSvlJkCp4v2iNQAg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:16:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:16:52.9040573Z"
      },
      "ResponseBody": "7GzivBCGAYlFW6VrvebkARwOa/Akf9a/TP2TszQIZiAnSDOZY62v2VTirHJ1vvTkD9Qamtx7kGyWI28T805VPPWEQ3WyS55uXpKbQtNjSo0IrqNf7stDrLjHAkA9m\u002BYGjW998Hp/MsM2qztK306ZMtjhC0Sq9U4pQZe860leMMKslbRj5loTiXzgKUKQ\u002BcxpLc9nW5ChXJcgU67jwkZ613t4nkqZNUx\u002BzoLIyswMmEjKU71699QyCjkdQ5KrL8Y2ZVHGF1qC0PiC6Y0O2JLKFLtmGW\u002BI/\u002BCmRpMRfPK50p\u002B7kmR7RYDtR4LF9w1HIzKmUi7XRBZXrWVwINHGcVQGyRbuU0YtT846edHswwjTXiJhainD4Y2IZOT\u002BCiWvJtYtvy72WdDreQJfnctFa[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0e6a8594-bbfe-ea06-4886-cecb469071a3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:16:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "321627873",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
