{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-e566c558-76bf-6938-6174-3756177f23e0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA28A1166AC6A9\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-e566c558-76bf-6938-6174-3756177f23e0/test-blob-f80dac55-c205-5621-6b27-672bced78daf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "wqb\u002BYKFcWnyYa0n3rB//O1xz1txkHxEHjpFsZXOXW32uYFfCJ7ciI\u002BCeamTUJypCViw5LEg8BaKV99IP8PQIABDMSEzHPBSkUbL8xbWsM2ZnKQ9GXi40clq1LC/lEjLrlmlUB9/eehkYlduVP0Dt6cRrqMblwaLhl9XxEhDkvj5/EC9LWCuHia/1LslTnjMax0NrempsBdTGcm8J7GgJM9acFS4RoZCY4x4X8JPZjfmh1krMeUTTEwtahOW7fZxH6/rytogECSay0pZLVRVB7eV2ZxYdPbqRyQIjthyr3WWC0ASY5tZwncwkGaauh771GJcARBaGKa5AYO2G4VIJB/UwyYQRqAYOBc[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-e566c558-76bf-6938-6174-3756177f23e0/test-blob-f80dac55-c205-5621-6b27-672bced78daf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA28A1167A6B87\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:55:55 GMT",
        "x-ms-blob-content-md5": "zQgKNkKUveOGaEy0FGv23A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "u1bv0Boo5Ok=",
        "x-ms-creation-time": "Wed, 27 Apr 2022 22:55:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-27T22:55:55.8323849Z"
      },
      "ResponseBody": "wqb\u002BYKFcWnyYa0n3rB//O1xz1txkHxEHjpFsZXOXW32uYFfCJ7ciI\u002BCeamTUJypCViw5LEg8BaKV99IP8PQIABDMSEzHPBSkUbL8xbWsM2ZnKQ9GXi40clq1LC/lEjLrlmlUB9/eehkYlduVP0Dt6cRrqMblwaLhl9XxEhDkvj5/EC9LWCuHia/1LslTnjMax0NrempsBdTGcm8J7GgJM9acFS4RoZCY4x4X8JPZjfmh1krMeUTTEwtahOW7fZxH6/rytogECSay0pZLVRVB7eV2ZxYdPbqRyQIjthyr3WWC0ASY5tZwncwkGaauh771GJcARBaGKa5AYO2G4VIJB/UwyYQRqAYOBcpJ\u002BSMT40FDLp2Fq5hP/KZVWIXp6rt5GxGxfr455HCR8T9LPDCLLH2sQrO1g1xc4M3eu[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-e566c558-76bf-6938-6174-3756177f23e0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:55:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "185876331",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
