{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-86571914-1304-9e2b-a5d6-8b23121738b8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:02:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6DA87EA8F\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-86571914-1304-9e2b-a5d6-8b23121738b8/test-blob-dd99d9d6-7a1e-83fb-35ee-d72d07a3de08",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:02:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "UdKU7hIQEKbIBCq/xepWd4cn9InFDKGxe9aBKXidY\u002BMboO90mWFRHnisYxLZwlaURX0rx4Sf6EQx43I7juctKqBGoyX64d0m1dYRGKmO2LmA7eP6cpxffLerQ7buFo\u002BQfjhxkh4xmmOfBfGujc\u002Bbogq5uqEEMrgE5ydtT54nN75GgZlwHEWaT1OAWm2qsO/oD6CrNVztjEyAbav3w0rFeM0zZws1KobEH2pOg9dLWjY4hT/9ewJiWPVN8K6ao4sIu\u002BKfd0njsuUa5hbxnwh0NRN0vz4Lx/zK0A4V6DnXKnvfRcj1q\u002BLtVNJZ4pTscbnt2LubJuRM/fPl1Kc6zcq[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-86571914-1304-9e2b-a5d6-8b23121738b8/test-blob-dd99d9d6-7a1e-83fb-35ee-d72d07a3de08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6DA9A6B44\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:23 GMT",
        "x-ms-blob-content-md5": "zT5kg7hccUC2lfabWzJNPw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "BW1zLmDHUWY=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:23.9859524Z"
      },
      "ResponseBody": "UdKU7hIQEKbIBCq/xepWd4cn9InFDKGxe9aBKXidY\u002BMboO90mWFRHnisYxLZwlaURX0rx4Sf6EQx43I7juctKqBGoyX64d0m1dYRGKmO2LmA7eP6cpxffLerQ7buFo\u002BQfjhxkh4xmmOfBfGujc\u002Bbogq5uqEEMrgE5ydtT54nN75GgZlwHEWaT1OAWm2qsO/oD6CrNVztjEyAbav3w0rFeM0zZws1KobEH2pOg9dLWjY4hT/9ewJiWPVN8K6ao4sIu\u002BKfd0njsuUa5hbxnwh0NRN0vz4Lx/zK0A4V6DnXKnvfRcj1q\u002BLtVNJZ4pTscbnt2LubJuRM/fPl1Kc6zcqrQ7yaEVpAf4kwh2psseVn3l9VKA9\u002BOwSXkkjUD9Y7soYIrZ/YUl9erVkxap554EsOff[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-86571914-1304-9e2b-a5d6-8b23121738b8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "646207464",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
