{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-57127bd4-a0d9-b268-1c90-9918e41040dd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:02:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6DADE3B68\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-57127bd4-a0d9-b268-1c90-9918e41040dd/test-blob-2182159d-d922-8ed5-d4b5-07ce7947bee4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:02:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "GVTmb1yo\u002BivyQGO9iy36LdaOaxAgyk40NobAyqYHurn/2CFjCEuuBdrFg06l4R2ZzNWriM8MHE4GsjjW5zCF64apvrIMlySL32U2W0f/jlRoJ/3QXDLq8rzSXFUS2B2pP5fI\u002ByJrjDWwIKhp1cEHBiPkbcAztI9Uv8v2OjrOeAdIjBuvN5Iy/ZrHIDuJgBz7ylUxLmpcdosIczxXdVL74aegIEmlV8\u002BRsW8la5NTyj6u\u002Bm/knUqc7BWQp8RW24hIyz\u002BU6F/TVXOGoHz7Ngr3tan9qHriFkRcBDQzFbALOtbn3Z9UvuHf26X8XvzOobULmPEbWDINZbX6OOQqn0D[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-57127bd4-a0d9-b268-1c90-9918e41040dd/test-blob-2182159d-d922-8ed5-d4b5-07ce7947bee4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6DAF1A67D\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:24 GMT",
        "x-ms-blob-content-md5": "aM\u002BZCvDBl99RV6xiOBl1/g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "nq8QYilLm5w=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:24.5576317Z"
      },
      "ResponseBody": "GVTmb1yo\u002BivyQGO9iy36LdaOaxAgyk40NobAyqYHurn/2CFjCEuuBdrFg06l4R2ZzNWriM8MHE4GsjjW5zCF64apvrIMlySL32U2W0f/jlRoJ/3QXDLq8rzSXFUS2B2pP5fI\u002ByJrjDWwIKhp1cEHBiPkbcAztI9Uv8v2OjrOeAdIjBuvN5Iy/ZrHIDuJgBz7ylUxLmpcdosIczxXdVL74aegIEmlV8\u002BRsW8la5NTyj6u\u002Bm/knUqc7BWQp8RW24hIyz\u002BU6F/TVXOGoHz7Ngr3tan9qHriFkRcBDQzFbALOtbn3Z9UvuHf26X8XvzOobULmPEbWDINZbX6OOQqn0DCe2WlE1lqovbHHszU5rhIjmJ/KHy\u002B8OKk2XfqWYb9tDtlOuKWKI1boPX7UzplOH/9sq[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-57127bd4-a0d9-b268-1c90-9918e41040dd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "915613343",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
