{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e4da6534-caf3-93ea-1136-d2fc1047f21b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 23:55:09 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F7F116C07F2E\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 23:55:09 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e4da6534-caf3-93ea-1136-d2fc1047f21b/test-blob-000bcaa9-7f26-efe9-ecb7-f026c55276d9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 24 Feb 2022 23:55:09 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "JKo5zNBYmYh17owfoVNcKNaAkkAfkQrIsXzmy3MnLc0UX3KMrpKBETaf6yOFmE1zhQ/yPvd/qpOfcRtUcc0VTcC\u002BCkLgz3pD/4AJf6bmQhkvckZjNe/WlbTf7Tx3LaBpiZ1jxo0LkrWVrj52dSrsuS8CJf\u002BHshjQ6HWNAOI9zNLgoPYIg3uLI\u002BCRzYawXx\u002BK8jMNdAih4teFkt4XfZLSWOFsltQ05DWzdwEe9eSRIIlVAw2uL1fJP74egvGdc6ZNvnWkRMhLVQ7\u002BWv0Hguzy9HFVwnqEJCiJolYVFWJDFQNa0Tdu7NvACq3/r9Vawr3SK45/SLEryZpNGqFxNT\[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e4da6534-caf3-93ea-1136-d2fc1047f21b/test-blob-000bcaa9-7f26-efe9-ecb7-f026c55276d9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 23:55:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F7F116D84F95\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 23:55:09 GMT",
        "x-ms-blob-content-md5": "E78RH\u002BtJMJheXsuqD6aClA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "vU1hZkLKPIs=",
        "x-ms-creation-time": "Thu, 24 Feb 2022 23:55:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 24 Feb 2022 23:55:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T23:55:09.2089749Z"
      },
      "ResponseBody": "JKo5zNBYmYh17owfoVNcKNaAkkAfkQrIsXzmy3MnLc0UX3KMrpKBETaf6yOFmE1zhQ/yPvd/qpOfcRtUcc0VTcC\u002BCkLgz3pD/4AJf6bmQhkvckZjNe/WlbTf7Tx3LaBpiZ1jxo0LkrWVrj52dSrsuS8CJf\u002BHshjQ6HWNAOI9zNLgoPYIg3uLI\u002BCRzYawXx\u002BK8jMNdAih4teFkt4XfZLSWOFsltQ05DWzdwEe9eSRIIlVAw2uL1fJP74egvGdc6ZNvnWkRMhLVQ7\u002BWv0Hguzy9HFVwnqEJCiJolYVFWJDFQNa0Tdu7NvACq3/r9Vawr3SK45/SLEryZpNGqFxNT\u002Bsu0X6rLC0gweWlLfMhXRTL\u002BCZQ\u002BnTw8xSLgedIdE6TtVtU/SQYBYMHaeG[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e4da6534-caf3-93ea-1136-d2fc1047f21b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 23:55:09 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "120651918",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}