{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-7c56664c-cd20-af98-1097-0585020e6706?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:02:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6DB28A71E\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-7c56664c-cd20-af98-1097-0585020e6706/test-blob-d2fb5f2b-622f-a6a3-d4c4-7c965ec9faf3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:02:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "ncOQX/jV/gQ2Tf6AJxkFK5nzewL7MHts/vvwpUgAEcygvuHmVJ4ZNAEOAD1TyhfuUNOVBDX87GxII2D85Fi8NTsx32k4H9b62kYB7TA\u002BGTTjAlV0aw2XpNF0njE9HFCoUsoBIequtjD9minu\u002B/88CQosGOICR8oumjuXw4Glvb31WJtlPfdKNEsld9DjqKnSOJQnEARupQoA0oeuF/OuWN1s\u002BaJj18sS4uOW3dD6SvKRxYrsfay5hrKQZGpwmx1Xdh/zd68GbmHJFC4g2Mg6BoeUHVFowdowsnLv0nJgokfFPmawB9NDilYpI2l9mK7qVl7j237M77REwsQ8F5zuaHHnWplhi[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-7c56664c-cd20-af98-1097-0585020e6706/test-blob-d2fb5f2b-622f-a6a3-d4c4-7c965ec9faf3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "DQiWxeyNci0rSQTi/WF13g==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6DB4B5250\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:25 GMT",
        "x-ms-blob-content-md5": "DQiWxeyNci0rSQTi/WF13g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:25.1453008Z"
      },
      "ResponseBody": "ncOQX/jV/gQ2Tf6AJxkFK5nzewL7MHts/vvwpUgAEcygvuHmVJ4ZNAEOAD1TyhfuUNOVBDX87GxII2D85Fi8NTsx32k4H9b62kYB7TA\u002BGTTjAlV0aw2XpNF0njE9HFCoUsoBIequtjD9minu\u002B/88CQosGOICR8oumjuXw4Glvb31WJtlPfdKNEsld9DjqKnSOJQnEARupQoA0oeuF/OuWN1s\u002BaJj18sS4uOW3dD6SvKRxYrsfay5hrKQZGpwmx1Xdh/zd68GbmHJFC4g2Mg6BoeUHVFowdowsnLv0nJgokfFPmawB9NDilYpI2l9mK7qVl7j237M77REwsQ8F5zuaHHnWplhif\u002B0UZL7P55xshnDBXwUfcfJ\u002BU\u002Bya0QPBnO5Orv3lj4VicxeL4rr0K8W0w[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-7c56664c-cd20-af98-1097-0585020e6706?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "601763048",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
