{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1487a7f4-0d71-2fa7-1a15-e8d67ea51c2e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Apr 2022 22:56:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA28A121B71D26\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:56:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1487a7f4-0d71-2fa7-1a15-e8d67ea51c2e/test-blob-0386047f-1aba-cdbf-cc53-275195a8bff4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Apr 2022 22:56:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "STqJ3njWW6XVFy9s5BLXI8M40wKGgXevN81IZtYwHc2\u002BO0ocbXI3LSB6xJ7x6gyQ2lTdGkNEZ8fC2qeqjfTOpPpirqjHurZQAKbiDL3ZvU3BuIuBUgOJedOCWpLLjJ8rqyCkjztkyCCejRmdYVsK6RxZ6dVpTFH32DTVRWAjhHMGt2CcNC4RXfBr48Xp6xh3d3B2caPJwl/OrbYHjoO/egimlqr7bbXtSIzl/WmMDewcXc3wrRPQPPQBzod3Cs5trGi9Q1VtfAm7iCkX5MX1Qp/J6jG1z8z11Vm2\u002Bp8tdj6\u002Bd1AAz8qXr\u002BHDNCXpuVgvC4zorh\u002Bdt92bx237t4F[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1487a7f4-0d71-2fa7-1a15-e8d67ea51c2e/test-blob-0386047f-1aba-cdbf-cc53-275195a8bff4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:56:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "4BAivVFb8Q7lr5Gdm8Vtaw==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA28A121C80790\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:56:14 GMT",
        "x-ms-blob-content-md5": "4BAivVFb8Q7lr5Gdm8Vtaw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Apr 2022 22:56:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-27T22:56:14.7949456Z"
      },
      "ResponseBody": "STqJ3njWW6XVFy9s5BLXI8M40wKGgXevN81IZtYwHc2\u002BO0ocbXI3LSB6xJ7x6gyQ2lTdGkNEZ8fC2qeqjfTOpPpirqjHurZQAKbiDL3ZvU3BuIuBUgOJedOCWpLLjJ8rqyCkjztkyCCejRmdYVsK6RxZ6dVpTFH32DTVRWAjhHMGt2CcNC4RXfBr48Xp6xh3d3B2caPJwl/OrbYHjoO/egimlqr7bbXtSIzl/WmMDewcXc3wrRPQPPQBzod3Cs5trGi9Q1VtfAm7iCkX5MX1Qp/J6jG1z8z11Vm2\u002Bp8tdj6\u002Bd1AAz8qXr\u002BHDNCXpuVgvC4zorh\u002Bdt92bx237t4FqjRLqWG109XLUMjtP8pqnCxwBhu8TRccfIMBzZAdcnPdfWacS/2DruxUZE3zjTcVC9LxR\u0[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1487a7f4-0d71-2fa7-1a15-e8d67ea51c2e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:56:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1317556891",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
