{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6b1aa7af-559f-cd14-b00f-3bff60a8338d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:16:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A8E13F6790\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:16:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6b1aa7af-559f-cd14-b00f-3bff60a8338d/test-blob-e281184b-74c5-dd52-facb-c4356a050db3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:16:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "KkaVgPy8QkbKq71NmGBFrJKjsoHX5ATduMOV8eLeX\u002BFe24lBbvybkJ2LhN1v2dU4v9lsbBlzCkVBuMg4JlFj60zc7rzWBD6VByHjS2Anbd7tXDEJcvLH69FE/7YzY2lMJ5iQk\u002BsZYrub1mT4j77lGUrqS8ofWnlZFAPqkQSIYqS3liTIltrz0/l2bZuNz1sTX\u002BZrSRefLMweN3/nLtC2E3TAQPiZHINv93fQqezey0Sn1jIeHBiMGGpXqV9bC6Uov1omzY5jekJi/FGgzoPfQGs6QFedmPZcMyiOQXMjFOvSqOmRuP62RFzwuyDG7Enmd2n0IctNiidkyppm1DjOP\u002Bdl[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6b1aa7af-559f-cd14-b00f-3bff60a8338d/test-blob-e281184b-74c5-dd52-facb-c4356a050db3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:16:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A8E14F5278\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:16:54 GMT",
        "x-ms-blob-content-md5": "/3k\u002BNApt/bMcNRUTUDEIgg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:16:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:16:54.2313080Z"
      },
      "ResponseBody": "KkaVgPy8QkbKq71NmGBFrJKjsoHX5ATduMOV8eLeX\u002BFe24lBbvybkJ2LhN1v2dU4v9lsbBlzCkVBuMg4JlFj60zc7rzWBD6VByHjS2Anbd7tXDEJcvLH69FE/7YzY2lMJ5iQk\u002BsZYrub1mT4j77lGUrqS8ofWnlZFAPqkQSIYqS3liTIltrz0/l2bZuNz1sTX\u002BZrSRefLMweN3/nLtC2E3TAQPiZHINv93fQqezey0Sn1jIeHBiMGGpXqV9bC6Uov1omzY5jekJi/FGgzoPfQGs6QFedmPZcMyiOQXMjFOvSqOmRuP62RFzwuyDG7Enmd2n0IctNiidkyppm1DjOP\u002BdlzSaaTYdtg/v6rdzWlUbfqMkKL/MghR3CLe5kUG8kIns4YR4jTCnhh53PUt1KjTVThyxuxBD0[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6b1aa7af-559f-cd14-b00f-3bff60a8338d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:16:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1998420134",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
