{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-67abb8e2-63a2-d093-08ba-d715db22cad7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 25 Feb 2022 21:01:21 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F8A1FA176BAA\u0022",
        "Last-Modified": "Fri, 25 Feb 2022 21:01:21 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-67abb8e2-63a2-d093-08ba-d715db22cad7/test-blob-3fd7b0b6-2052-a088-fdc3-acf34490bdae",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 25 Feb 2022 21:01:21 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "PBGaknlhv7jio8IV/WCHM3ZXWA930iOyvbzjqkboVt/RBPY3OrEGWwvyFRB2FPkWEa52W22r6mrt59W9fhVy\u002Bk3iQ/lqUPnFUPwDhL0TO6nDzJmXcfpyJhqLSVLcSd32gBrCk9D/q8G1sQpwp2Wt2qsr\u002BbF82olScB3f3wen6AceDQOiUKjZwyHX4r/wAX\u002B03W6msE8seqWRcCOzIMy5DcgCUpphC4oDUjaPpPjJYm\u002BdKwGYATi48ZNeEOCEJqJVHtX27a7lUtLjol0ZnNWtyA2zFfXKIQuQSmAGA/qqfiyTOoYi0nXAuNgutF/anlW9sEjS0RCtiv3JZaJO3k7XOSMx[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-67abb8e2-63a2-d093-08ba-d715db22cad7/test-blob-3fd7b0b6-2052-a088-fdc3-acf34490bdae",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Feb 2022 21:01:22 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F8A1FA2FA3BD\u0022",
        "Last-Modified": "Fri, 25 Feb 2022 21:01:22 GMT",
        "x-ms-blob-content-md5": "w\u002B125NNOyNNTJrEjIeaWTg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "aiDOer/5TZU=",
        "x-ms-creation-time": "Fri, 25 Feb 2022 21:01:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 25 Feb 2022 21:01:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-25T21:01:22.0485053Z"
      },
      "ResponseBody": "PBGaknlhv7jio8IV/WCHM3ZXWA930iOyvbzjqkboVt/RBPY3OrEGWwvyFRB2FPkWEa52W22r6mrt59W9fhVy\u002Bk3iQ/lqUPnFUPwDhL0TO6nDzJmXcfpyJhqLSVLcSd32gBrCk9D/q8G1sQpwp2Wt2qsr\u002BbF82olScB3f3wen6AceDQOiUKjZwyHX4r/wAX\u002B03W6msE8seqWRcCOzIMy5DcgCUpphC4oDUjaPpPjJYm\u002BdKwGYATi48ZNeEOCEJqJVHtX27a7lUtLjol0ZnNWtyA2zFfXKIQuQSmAGA/qqfiyTOoYi0nXAuNgutF/anlW9sEjS0RCtiv3JZaJO3k7XOSMxhWJPivWY810cnGystqsLSVOy160b5rCIWWzScdmKVns7qRnybSZSOt6zke2RHa/2Q5X7JWF1[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-67abb8e2-63a2-d093-08ba-d715db22cad7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Feb 2022 21:01:22 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1559034251",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}