{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f8179de4-1491-bb95-953b-63d2d606b7ff?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Apr 2022 22:56:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA28A122427F6F\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:56:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f8179de4-1491-bb95-953b-63d2d606b7ff/test-blob-aa5f7e5e-d321-f89c-92b7-1f75badd041f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Apr 2022 22:56:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "ZgZBaDhiO20AZJkKd0aFxZWTeCZ6nvk75PNzbf4U/xk2Aegujj2X\u002BHQeGKGOXDP5zrPyIM0pIMcMBYRF781v62R/03ZeVzZY/ICxW4ZYrYjAeZ9KIt9LDeAgIYm4Uginryw8Doi8mnZ9mSNNd8VBtFj8hHYtJcmFNMaVPjWtoKl3CqxZG57/A94ozIi7/pUb32wxvM2SeYljttrCJlxB0Pl61WwY6Jm5/ICXBVhAyjUwel/IfOPc5ZEi9WTEPd2B5/yPQSgoAvbTd79N\u002BnQxI\u002Bykkqv9eFQVnfDb9fI19L\u002BjFh1bsIkNB3ho9QQkjuod8dF3H6sxhG6oeaM4TQ0EnoL/[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f8179de4-1491-bb95-953b-63d2d606b7ff/test-blob-aa5f7e5e-d321-f89c-92b7-1f75badd041f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:56:15 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA28A12252A5FC\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:56:15 GMT",
        "x-ms-blob-content-md5": "bqqd7lwzLBB2Hutqdenuxw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "2dM/rr2v\u002BOg=",
        "x-ms-creation-time": "Wed, 27 Apr 2022 22:56:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-27T22:56:15.7033980Z"
      },
      "ResponseBody": "ZgZBaDhiO20AZJkKd0aFxZWTeCZ6nvk75PNzbf4U/xk2Aegujj2X\u002BHQeGKGOXDP5zrPyIM0pIMcMBYRF781v62R/03ZeVzZY/ICxW4ZYrYjAeZ9KIt9LDeAgIYm4Uginryw8Doi8mnZ9mSNNd8VBtFj8hHYtJcmFNMaVPjWtoKl3CqxZG57/A94ozIi7/pUb32wxvM2SeYljttrCJlxB0Pl61WwY6Jm5/ICXBVhAyjUwel/IfOPc5ZEi9WTEPd2B5/yPQSgoAvbTd79N\u002BnQxI\u002Bykkqv9eFQVnfDb9fI19L\u002BjFh1bsIkNB3ho9QQkjuod8dF3H6sxhG6oeaM4TQ0EnoL/qeRW1XNjl4ozlIJP8Q8FvgMgvdQUcpGuszbm1bpqZFeBJOQGxxteFIgg/e/sWIiUMo4J4\u0[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f8179de4-1491-bb95-953b-63d2d606b7ff?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:56:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "622072155",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
