{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8ff66b73-496b-7489-d4a5-9957306c339c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 May 2023 19:14:58 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C1ADFB33B8\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:14:58 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8ff66b73-496b-7489-d4a5-9957306c339c/test-blob-a959cf99-4193-2ab5-3ae0-c669e8731d45",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 May 2023 19:14:58 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8DB50C1AE040BB2\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:14:58 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8ff66b73-496b-7489-d4a5-9957306c339c/test-blob-a959cf99-4193-2ab5-3ae0-c669e8731d45?comp=block\u0026blockid=gAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "8zOjsmKB/DI=",
        "x-ms-date": "Tue, 09 May 2023 19:14:58 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "FkqZMMpaaNGE\u002BWJzO9xWfnOuaSBjKRlPcZ02lW7\u002B7hDpX5fSvQEgk6c3hYjTM50PMrR1YLLtS\u002B0xSb8sJNJihQtSitxEg8ByjdZ5K6ORez0AJmO6iI5d\u002BxOpoXNB9G/V1f99gKjByq7zAtLcdB9JoM6BK/1vqP199I/Im\u002BFNMZlmo1ajE/qVP1y0xoa7gYbzXwGlwMhyZSwCAIsZ\u002BC/NptE5ddDJpozT7OyhuuJ3wXMJ1Tvfp3HQ9D4qoBNve0cs5x\u002B0gQu1Krl10tPc0KtJiz4YDyP07f5gaIGSngV4ZHCkdNPDwj9oVKqBatWd9COT4BXUVmwkN/ogUxmKIou0/G1iN1vYhsn/sLt4c4Mow3Rd/77vpA0EgD3Zom4m3TEfzG1oOr3Hu1pM1aawq8R295CkLCPMxFhgXrYe/uNa2NKKWaYWwIi2lURko85mVNV4YqrdgbEOUggUB9wGqbx28fzUJlIdYDcI7pfeaCGK\u002BQngppw4fFcgewaeAbisr\u002ByI",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "8zOjsmKB/DI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8ff66b73-496b-7489-d4a5-9957306c339c/test-blob-a959cf99-4193-2ab5-3ae0-c669e8731d45?comp=block\u0026blockid=AAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "ALp4kxm7eVU=",
        "x-ms-date": "Tue, 09 May 2023 19:14:58 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "7bHRki6DWgJz1ZMZL\u002Bnmig7SJQMfPXWls6pLf15\u002BXD6qVnpvuGfbXUuaxKfDB0sdt3aq2YrpaLA8LN6DONuj9XhVb9hvd9Kn9si3hXnN4qxeLcfn1IK0we7KMoyIWCVv988ubZhzrUCkA\u002BPBMeI3bkkyJQoTuyH2oa3qpERFHp6jR46pn3QU64CHQ9Cf8o8Mk8RCVjMaXDuuOMzqiAj7XuREHulTjc/VHTmKi3hQVq8e3hGAA8driOtS\u002B2enKmJ3jOTsW9SluAX0bTn5kNDDXeEdy6r3elsd2ZX\u002BAZJoLfPXEv\u002BTZPvaeCULjJaOcvgaj52Fil63fxKIz4E\u002BprdzjD9GIn3RL/nlQlOE6\u002B7Fjmad5HH04qKUH5LtCpV5nNFul/9WSE96SV\u002BjoEgLM5Mjw0AaoMJFfqqcsQPq5CRka6WBFVTub0YXI5sRUUFaiev/yUdUXvsPKRhUuZdMj2Q7PzSiiR0/NFT6A30nMy1oQicX6xvdDw2pcuw7mrWvypM2",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "ALp4kxm7eVU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8ff66b73-496b-7489-d4a5-9957306c339c/test-blob-a959cf99-4193-2ab5-3ae0-c669e8731d45?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "0tBferBTT\u002Bk=",
        "x-ms-date": "Tue, 09 May 2023 19:14:58 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "1hINuP/Ov5TzWlt\u002B5/br7HdvNaNJXS8n\u002BBcwBJqeSzjp8VwbW4knSCyG6rWyK4r2T64\u002BP5Xw7Xni5r/onbr6VA8ilfaZz5HtR\u002Bx3wnN5dM2MOrXsXwuj\u002BQTjOHTKP6tyjJWmkJWUXIAcUfipeCoFaXHyW2IFDfQDfpvxtpYcIwdBBDbd0\u002BQ39900zw4T\u002BYDa3c8C1\u002BRIbH6hohH5o6bpAC7waHPzKJaNumOE0D3m8IQbF9jHGksj\u002BJi3PDDTPVQ3S8/fIpEM5rU5dR2Aw5xBurKM3ovNIebjzW/bPOtluXwOTYRuBs3zDjEjjqQuojX7doF9Rl/Jairp/FUhManJ0w==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "0tBferBTT\u002Bk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8ff66b73-496b-7489-d4a5-9957306c339c/test-blob-a959cf99-4193-2ab5-3ae0-c669e8731d45?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u00220x8DB50C1AE040BB2\u0022",
        "x-ms-date": "Tue, 09 May 2023 19:14:58 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EgAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C1AE1CE736\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:14:58 GMT",
        "x-ms-content-crc64": "Z8MDRj3Ds2Q=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8ff66b73-496b-7489-d4a5-9957306c339c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 May 2023 19:14:58 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "393398949",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
