{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a0be556e-ce11-cc90-abfc-a1fa5fa73283?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:02:11 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6D307C481\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:11 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a0be556e-ce11-cc90-abfc-a1fa5fa73283/test-blob-5cc34477-dca2-30eb-7e62-3fb2b223f4c8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:02:11 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "uCAaHxLjBxlC9xqFWLr5b3H6GEzY6IevW8Lzvw9dN0R8fx2yIWuU/wu0CAUk/QNF7tZElSnDHc\u002BZa8RQ70cJ5b/VCNmcR04FZRhBJOCBil6\u002BrtA5GKIauWFOGLWnRA/DqiNGTvUqqaeHPy8QgvnvGOBlkUF20Mwcuk53Ti\u002BYXSEJfXm9OztplAUpsdhzCjdoX//UQrLOTNpWKZOmslp37\u002BINBwR/Mdyk/Pw8TR70qbAXDu8vwxtuOjCfZxKow\u002BGqssL1ZQMy6S0iL0W2kf\u002B8YX/jjqNrRyvHnszU4MnK/Dkakppb/0St5SXBDZTVuKkw4gaTxTQ\u002BP[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a0be556e-ce11-cc90-abfc-a1fa5fa73283/test-blob-5cc34477-dca2-30eb-7e62-3fb2b223f4c8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:11 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "lhw8k5Ka11Q6JNb/cIsPMQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6D32BA6B3\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:11.5159731Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a0be556e-ce11-cc90-abfc-a1fa5fa73283/test-blob-5cc34477-dca2-30eb-7e62-3fb2b223f4c8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32A6D32BA6B3\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:02:12 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "YxpsbimZOGu7DMohy8V6eQ==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6D32BA6B3\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:11 GMT",
        "x-ms-blob-content-md5": "lhw8k5Ka11Q6JNb/cIsPMQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:11.5159731Z"
      },
      "ResponseBody": "uCAaHxLjBxlC9xqFWLr5b3H6GEzY6IevW8Lzvw9dN0R8fx2yIWuU/wu0CAUk/QNF7tZElSnDHc\u002BZa8RQ70cJ5b/VCNmcR04FZRhBJOCBil6\u002BrtA5GKIauWFOGLWnRA/DqiNGTvUqqaeHPy8QgvnvGOBlkUF20Mwcuk53Ti\u002BYXSEJfXm9OztplAUpsdhzCjdoX//UQrLOTNpWKZOmslp37\u002BINBwR/Mdyk/Pw8TR70qbAXDu8vwxtuOjCfZxKow\u002BGqssL1ZQMy6S0iL0W2kf\u002B8YX/jjqNrRyvHnszU4MnK/Dkakppb/0St5SXBDZTVuKkw4gaTxTQ\u002BPmqWLsY2XQljWDMLm/9kYGI6Nah\u002BqjqX8eYjpP3DNzcF3FQwxdF\u002BdoccXbRhyh2py4KjWI\u002BLwJQw/zzgE7kLnyH7Br6rNJuRvL8hYUyGNifIedh6IN6oeRy/AMWUnmPOEL2SZcNf/pfnEpvPal5HqsgUF5ngkX9CUo2h6zTV/B5cUlGO89BkaXtBkw5C2A69eFb9gIbJ7X8\u002BUBI2vRJiERV9cxcNubb3sK4en/1xAHl\u002B43Pe13yYk2XRUKK9Lato3oH4xWX3sL\u002BfBc/Yqk2BzU\u002BYuNmfhDmZ5eCyO2kTOYICtsF7eDoUhjO0PtKsv\u002BgXT4JTJHXSyFlIX\u002BCERXRVi8xN1vSMBlQVhDE="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a0be556e-ce11-cc90-abfc-a1fa5fa73283?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "86172482",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
