{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-90dfbd54-c838-021e-125e-3d4bdad8a0da?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:02:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6DEDBB035\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-90dfbd54-c838-021e-125e-3d4bdad8a0da/test-blob-ebb0c24d-a812-a0a8-563d-91ac641aaae0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:02:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "IVngeK0irI3j3lrMWeCHqm27QSbCsCJ0H5tBzZvWGn5w9xwhhnfV6AeIDNkWwsZ8jICVKnbVtHA2bFkR4N/yDMPbXGLEZST15lgeOaNIXVzUxEAaQfAImkKr6hoewwcolgAVOmVkuCZcn0Mdt3vN7g78PRue2MvT08EfGHsJ1yNQ9qKiMiP2bwwavaGt6\u002BPH3vwMIYXsib41QmejRZ\u002BrU8gfzcDYKrvqBc4OhBopJejeWDl\u002B/LWeZGzkbfC7Uyltb2rYjR0i7rRAIRu33QSjCxx/xe1lLFYTgWlU9LzLL7KkoRWwUJfKu2mFPtuZ5oZoQGHTPI08B0IUxQy0zvn3dPJpEzvv8[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-90dfbd54-c838-021e-125e-3d4bdad8a0da/test-blob-ebb0c24d-a812-a0a8-563d-91ac641aaae0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "V/o7newlWlOupUtUDlSaNw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6DEEC5D2C\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:31.2338732Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-90dfbd54-c838-021e-125e-3d4bdad8a0da/test-blob-ebb0c24d-a812-a0a8-563d-91ac641aaae0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32A6DEEC5D2C\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:02:31 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6DEEC5D2C\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:31 GMT",
        "x-ms-blob-content-md5": "V/o7newlWlOupUtUDlSaNw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "AkJvbUBzZnU=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:31.2338732Z"
      },
      "ResponseBody": "IVngeK0irI3j3lrMWeCHqm27QSbCsCJ0H5tBzZvWGn5w9xwhhnfV6AeIDNkWwsZ8jICVKnbVtHA2bFkR4N/yDMPbXGLEZST15lgeOaNIXVzUxEAaQfAImkKr6hoewwcolgAVOmVkuCZcn0Mdt3vN7g78PRue2MvT08EfGHsJ1yNQ9qKiMiP2bwwavaGt6\u002BPH3vwMIYXsib41QmejRZ\u002BrU8gfzcDYKrvqBc4OhBopJejeWDl\u002B/LWeZGzkbfC7Uyltb2rYjR0i7rRAIRu33QSjCxx/xe1lLFYTgWlU9LzLL7KkoRWwUJfKu2mFPtuZ5oZoQGHTPI08B0IUxQy0zvn3dPJpEzvv87qEtQqD3\u002B56eZvi67Nb\u002BPMlZ5rTm4uLFuxvjsnpMNJLeUymT4eDuCdTmUxx0uJGm3z/Q6uhG1cv\u002BZ8dE1ElkUjIlnJmtKlsoa5yfwI\u002BGkMJKfJM6ewnql31dlboZqTWLgcDqTtw3\u002BbTkqL8LpxV8N5bE\u002Bpf2KdcoewVcT5ShDsJnFD7O3AImUoLeVZKKnzAoIV3jFK6d1ZfpwhPWm6ogA5m8pFMWbVtUnqgU19QEXZwVdG42/fpTyX5nJRouT7bYvhI4zfqc0bQCTrYGiP3DpWR3wWc8KQXfaNsUr0hBZk7xPBmCC4/heGK59K8EDQCAo3/19o5P3JTMGU="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-90dfbd54-c838-021e-125e-3d4bdad8a0da?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1899324025",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
