{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c170da26-eaf6-3f24-60a7-73f8fff33975?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:44:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32ACB97DC07A\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:44:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c170da26-eaf6-3f24-60a7-73f8fff33975/test-blob-13dc56dd-b68a-c858-33ee-1c2da48693ba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:44:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "OYd8O9uWyCNs/TzePxS543BynPbT0/k\u002BlXX9gkJlA02wRNb9//omxUD7\u002BH6zXFptcNyX/ZpwkmWOPaZmmEbhB/ruLvo9vON2S9a219t6izkajxFlzgWzP7Fwb8JTwC35GvGExS1fMLT5IbHEurqKFLJtSwg0ezj0O\u002B5IzE0hIoupvL3q9sYLul9dbK1U7oX35loP5nQkxZ64j4k\u002BFmNn2P4mGv79oB7sYpCo1w\u002BLoExpUebyETwWhPceMWc8zKT89pOuLdSG\u002BUU8I4TjfO2PLO491MR8dMbCD5YG3263r5XsrOF73XN44lihte63MggJjwR4//fff4HN7B[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c170da26-eaf6-3f24-60a7-73f8fff33975/test-blob-13dc56dd-b68a-c858-33ee-1c2da48693ba",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:44:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "xalOjg9df8zmgJRLVEKrqQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32ACB98DA2AE\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:44:25 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:44:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:44:25.5177390Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c170da26-eaf6-3f24-60a7-73f8fff33975/test-blob-13dc56dd-b68a-c858-33ee-1c2da48693ba",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32ACB98DA2AE\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:44:25 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32ACB98DA2AE\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:44:25 GMT",
        "x-ms-blob-content-md5": "xalOjg9df8zmgJRLVEKrqQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:44:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:44:25.5177390Z"
      },
      "ResponseBody": "OYd8O9uWyCNs/TzePxS543BynPbT0/k\u002BlXX9gkJlA02wRNb9//omxUD7\u002BH6zXFptcNyX/ZpwkmWOPaZmmEbhB/ruLvo9vON2S9a219t6izkajxFlzgWzP7Fwb8JTwC35GvGExS1fMLT5IbHEurqKFLJtSwg0ezj0O\u002B5IzE0hIoupvL3q9sYLul9dbK1U7oX35loP5nQkxZ64j4k\u002BFmNn2P4mGv79oB7sYpCo1w\u002BLoExpUebyETwWhPceMWc8zKT89pOuLdSG\u002BUU8I4TjfO2PLO491MR8dMbCD5YG3263r5XsrOF73XN44lihte63MggJjwR4//fff4HN7B09gBrWhXPu988ME096xPJs277XCt2N/U9qPrCdDSxgrvBVOmI\u002ByjB6yDs4/Xu1/joFcqPC9eFAr4LKbEfDUeqirGReJYqPLhGOXUKhVADTtT91mJqJnrgPFIrgc13pt3dRllAWVtiwdkSSM5ienluC9rcHTbhPGQ2sThD/r7qzpaXKUL6vvV5nxSJW9mogcXYvXX2l4Wm\u002BAXxDagfIsMeJ3o7y006c0jlZoIiW\u002BSKji92a0FE9DsM7DE9BbFJXnhVazBjcLZ0nkotDTEHhJwhZn98pLt92S9DKt8f/WmbnAQFyOywKxl5Acj3F\u002BsGBWuRH58xzLXA15IFHEXbVKDgkXEs/bus="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c170da26-eaf6-3f24-60a7-73f8fff33975?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:44:26 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "962613308",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
