{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ef6873e6-b10a-5a6f-8c2a-db13a7c8714c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:02:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6DE0B861A\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ef6873e6-b10a-5a6f-8c2a-db13a7c8714c/test-blob-8a464b56-ffa5-d330-c074-a3214eb5ec7c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:02:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "T\u002BIiMAcnOZ3MmtMRwxR2KvtA//IXGFwqdy29ul5zXR\u002BEUgsBP/6T7HwTjFVXv\u002BBLZr83L/yCgzeF\u002BLjaan8\u002BWD2zjHAIdev9rBN1BIsH0rhMcVSePC0jAs/Te0ZFuIL91TQXozJvQvHUOoPoDX\u002BsfiUAjvgrnxwPkIqhNfmkt/ORdy9W8C6F3C5jygKqO/RPJ/0hRSqJ0jUXBxOozg33L4KPV5VQVY32erHJyNUaZVSVUQ38g3HIB6X5P\u002Bgb3Q4ga5p/GuNf/9FvKst5vwpg/aK\u002BE3wA\u002B6wRxlDvVhal25yiqVw6mkpxNVI7jFilT0e[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ef6873e6-b10a-5a6f-8c2a-db13a7c8714c/test-blob-8a464b56-ffa5-d330-c074-a3214eb5ec7c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "A6B\u002Bt8dElsZinAAOGhm\u002BTA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6DE1E2E5C\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:29.8836331Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ef6873e6-b10a-5a6f-8c2a-db13a7c8714c/test-blob-8a464b56-ffa5-d330-c074-a3214eb5ec7c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32A6DE1E2E5C\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:02:30 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6DE1E2E5C\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:29 GMT",
        "x-ms-blob-content-md5": "A6B\u002Bt8dElsZinAAOGhm\u002BTA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "SwEqmAgK4bw=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:29.8836331Z"
      },
      "ResponseBody": "T\u002BIiMAcnOZ3MmtMRwxR2KvtA//IXGFwqdy29ul5zXR\u002BEUgsBP/6T7HwTjFVXv\u002BBLZr83L/yCgzeF\u002BLjaan8\u002BWD2zjHAIdev9rBN1BIsH0rhMcVSePC0jAs/Te0ZFuIL91TQXozJvQvHUOoPoDX\u002BsfiUAjvgrnxwPkIqhNfmkt/ORdy9W8C6F3C5jygKqO/RPJ/0hRSqJ0jUXBxOozg33L4KPV5VQVY32erHJyNUaZVSVUQ38g3HIB6X5P\u002Bgb3Q4ga5p/GuNf/9FvKst5vwpg/aK\u002BE3wA\u002B6wRxlDvVhal25yiqVw6mkpxNVI7jFilT0eamUFGXMmSIHDublSTb6i7yk8u1hauJWNXTd4pxG5Ta3YIVL3UX3/TEIjrSyz23cWpgMIJd3kw7HPe7g7raFwBmwPdihvr5mvPW8WOwto3YXAYgEOsSfT912hJ9nBw56cs6a8pGFOqvZlXORuzoiqZp42e0ugYVVIO4LKyovD6X3MeYdgqDkgdbsKqVA/YSTU9sE7j0hS\u002BFJRdGjeg9xuoXNqnlUFRbplEgWQlbgBDNpd9dfGiF4xeX01EzfMQfHanAfg0MLTz60G1nlGwmKWTGuOgIoIpBkVOSDXzDaGlMwTufmwIDgbiiYmw7Hg7rsensLIQb1r0fvqy5ed/AN2gEGpMwho5igvdvpj4eRnMEpo="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ef6873e6-b10a-5a6f-8c2a-db13a7c8714c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1950859374",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
