{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-fa44550e-2d8c-af93-0d94-fcdc705cd99e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:02:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6E2819BC1\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-fa44550e-2d8c-af93-0d94-fcdc705cd99e/test-blob-bb4bfd2a-91ab-9455-7352-e201b14e4236",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:02:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "Q41u2/LDtzKlY8qaLwCxOTZYl/VrE0fsNmqITtK46JN0NU9xZYKygcO\u002BIPOIezp2AdDAoASJXTBFgqWHO2hf7Hs2JvmwP9OzphYxrPJUZLovEk0B\u002BEeP6tceLOPdKkZbXzN4UVVBxcL9DPrtWLE\u002B8R3qVygbXfQzpzsikRPw1nvQ1U2\u002B2xJl7kyKBOtMoZIm4DvF8tIdPwE/RKoZHjOvDTZ\u002BHIJjfxULhWnckFkJ5wWo\u002B7HXKuOps5ZMf5ZoS88Z2/a1zYUQw2Elum1pQK6nNV2kcCOC1\u002BJS1WjrF/9/ojmZw7ViVBmAmDhPsm92QHLnpEk4w9qsl[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-fa44550e-2d8c-af93-0d94-fcdc705cd99e/test-blob-bb4bfd2a-91ab-9455-7352-e201b14e4236",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "wZxmTgkdJaYjD0VXy/U5tQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6E292E574\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:37.3584244Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-fa44550e-2d8c-af93-0d94-fcdc705cd99e/test-blob-bb4bfd2a-91ab-9455-7352-e201b14e4236",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32A6E292E574\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:02:37 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "ljjHNjg21yLZnFPo/Dnzyg==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6E292E574\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:37 GMT",
        "x-ms-blob-content-md5": "wZxmTgkdJaYjD0VXy/U5tQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:37.3584244Z"
      },
      "ResponseBody": "Q41u2/LDtzKlY8qaLwCxOTZYl/VrE0fsNmqITtK46JN0NU9xZYKygcO\u002BIPOIezp2AdDAoASJXTBFgqWHO2hf7Hs2JvmwP9OzphYxrPJUZLovEk0B\u002BEeP6tceLOPdKkZbXzN4UVVBxcL9DPrtWLE\u002B8R3qVygbXfQzpzsikRPw1nvQ1U2\u002B2xJl7kyKBOtMoZIm4DvF8tIdPwE/RKoZHjOvDTZ\u002BHIJjfxULhWnckFkJ5wWo\u002B7HXKuOps5ZMf5ZoS88Z2/a1zYUQw2Elum1pQK6nNV2kcCOC1\u002BJS1WjrF/9/ojmZw7ViVBmAmDhPsm92QHLnpEk4w9qslgMTYvccJathpRczz335ROFEI9jrMiVz25X2A3K2Rt9f7SyxTvEhZHOM7gxYQ3D07l9n9KABwWPeoIdiJSE4q1841OFRR/XwI75lXkQYGpglARUTTlI\u002BXSzI0q5qvz5RU0KtH26Po6dpd9HhnGIexobuPCQLJVwM\u002BXe0iHRHhmOAEwoCa/opll1uqdeBXcHKqQwoe4IZRi3moCb32hoyIvBtYYhXHFuLxabHnXyFipy26t9oHwrhZs3cG8rUMbtDO4fmFPs4coyxnLbbUqixYBWJQe87ygLljPu6ewCRtpPqhGH1nnagfXhSt4NUBRMkK7u0SvDMB3GFAIgAfvaLH\u002BUi8M5HvMKf6cQ="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-fa44550e-2d8c-af93-0d94-fcdc705cd99e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1588045000",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
