{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c6abe5b4-5825-0f25-ee31-b88f4b80e09c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:34 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2963C6E65BD6\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:34 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c6abe5b4-5825-0f25-ee31-b88f4b80e09c/test-blob-a8356094-f6ba-9d91-c79a-cfcab4f68248",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:34 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "YrzGTbzSUTMrshmmoPRBbceHm/1/B26uo9i2bjcUZjsCTM0SuhxzIvvNrXsBMI5\u002BztveCtV\u002B61pNF6rkG\u002BL7FkvepFMmLrKrFHkCslryrXNJOJ9bNVtlg2FzxKNyjwYY0ZYwIos7WJ8pM/ZcfDkAW2o2muNDoOHveSDys2oPOIVy6eHDwovnDuAAMgFlCAcncmg4O/Qj1TG1QKhrSaQ1Gfpw6ZNYPZneT4wDQm3finAZykAB1v2RTxOvDoLifMU7yxgH9B5zzzXPWetoH5PD1bY3UX5jM0P935qAqC4X/NPHyHdV2JVSpfoLMXwRKS9/7DnLqipG15fUCRWE8ycGuF0YoFcbb[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c6abe5b4-5825-0f25-ee31-b88f4b80e09c/test-blob-a8356094-f6ba-9d91-c79a-cfcab4f68248",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:34 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "osk4\u002B0bfYKbt9v8R4cZovg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2963C6F5E260\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Apr 2022 22:09:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T22:09:34.2850656Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c6abe5b4-5825-0f25-ee31-b88f4b80e09c/test-blob-a8356094-f6ba-9d91-c79a-cfcab4f68248",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA2963C6F5E260\u0022",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2963C6F5E260\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:34 GMT",
        "x-ms-blob-content-md5": "osk4\u002B0bfYKbt9v8R4cZovg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "JrXYnoTxRcg=",
        "x-ms-creation-time": "Thu, 28 Apr 2022 22:09:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T22:09:34.2850656Z"
      },
      "ResponseBody": "YrzGTbzSUTMrshmmoPRBbceHm/1/B26uo9i2bjcUZjsCTM0SuhxzIvvNrXsBMI5\u002BztveCtV\u002B61pNF6rkG\u002BL7FkvepFMmLrKrFHkCslryrXNJOJ9[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c6abe5b4-5825-0f25-ee31-b88f4b80e09c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:34 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "168005082",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
