{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-738952d8-8e70-a021-0ee0-53e893886917?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:02:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6DDA9EC2B\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-738952d8-8e70-a021-0ee0-53e893886917/test-blob-fd42e64a-4159-c1fd-bb48-aebf25f4f208",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:02:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "Jf4O\u002BU3krDO4Ua6UoCl6g6CtGhafPC8YtK11cxYWyqzVHtInfUVY6dC1dJY6Yd6zFwviv/7wMOjP9UWgbjgdoYcCvoJXUwZbVDBG6ciY3VLPwVwKMwut5e7pV4f/uHuXmNIPOKJbXMQFh2rOqUYgNxjz0azcEm57VNiUbvt/W5y0r1D2iKWvc2WXBayg3zynyB9vDOfOuoVklOTJx\u002B7IhSvOGfr1Kq5zQ11HRQ3B2nSc7KXbEE\u002B15vTLkvTB5at3z3\u002BB0sZCsp5x/MmJh3V3orlvLdpI7HXcGDIFKpe6sV2xz3aOQAitWjoGahSFK15/U\u002B87UbjRLuIJpLmTPIc[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-738952d8-8e70-a021-0ee0-53e893886917/test-blob-fd42e64a-4159-c1fd-bb48-aebf25f4f208",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "m3V76bPCp2buOIZe2maSpg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6DDB9FCC1\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:29.2260033Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-738952d8-8e70-a021-0ee0-53e893886917/test-blob-fd42e64a-4159-c1fd-bb48-aebf25f4f208",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32A6DDB9FCC1\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:02:29 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6DDB9FCC1\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:29 GMT",
        "x-ms-blob-content-md5": "m3V76bPCp2buOIZe2maSpg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "19Rjr2d6ZVg=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:29.2260033Z"
      },
      "ResponseBody": "Jf4O\u002BU3krDO4Ua6UoCl6g6CtGhafPC8YtK11cxYWyqzVHtInfUVY6dC1dJY6Yd6zFwviv/7wMOjP9UWgbjgdoYcCvoJXUwZbVDBG6ciY3VLPwVwKMwut5e7pV4f/uHuXmNIPOKJbXMQFh2rOqUYgNxjz0azcEm57VNiUbvt/W5y0r1D2iKWvc2WXBayg3zynyB9vDOfOuoVklOTJx\u002B7IhSvOGfr1Kq5zQ11HRQ3B2nSc7KXbEE\u002B15vTLkvTB5at3z3\u002BB0sZCsp5x/MmJh3V3orlvLdpI7HXcGDIFKpe6sV2xz3aOQAitWjoGahSFK15/U\u002B87UbjRLuIJpLmTPIcGtkps17f/6WGwwdKgQoFhVuzUhtenf2Ck4KCThJxOGh6z/7TKGVSmf2mNio/lMOxgqE3Nv7WwXzfpx/YWa2TFYqe07ULNlz2YLQdtGfTQvrC0MtxOgVpoA6B94FFdjxMFyCfoMUOqkxEPNJGuQkVCGAhGYjiId\u002BFMTOqhULbsOp3zaFHM6I1sCZ/KPkzIucBbOsdIFy3afFBGm\u002BRZCENbI/n0u9nzdTB62ViZvTiUg5MpRRXuoyNwGOsAhkypEwFbbxpS1P3maMWXzj3UQb4YshhRL8IubIDWhKLt8u/j0cZXPU4dQa\u002BVQt1PVtXlm9ct6NM0WOM\u002BLQKae1Bb\u002BXXWs/w="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-738952d8-8e70-a021-0ee0-53e893886917?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "72613493",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
