{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-4334efc1-523a-9e79-2c1b-9791d93814de?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 21:50:26 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3205ED1B66F2\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:50:26 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-4334efc1-523a-9e79-2c1b-9791d93814de/test-blob-7006a546-81d1-6dac-1444-2c461488aa4b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "tftZlQYxOcc=",
        "x-ms-date": "Mon, 09 May 2022 21:50:26 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "QviS25C9tutcJO\u002BU7pKBGVyrbQSPqWhClmfpiA6de/JeQaQlf\u002BNaZh28DlGvANemwKyZ6PJDkpiQUEUp0y7cv6n9Na3tXJp5UAfm0psWkpaPQ8dhA5MAG64LlC\u002BdMZLv4E\u002BossoquGQSIJfrXL/9er2vmZBnersW/Br\u002B4sdq2x909/JLbeDLZYpiTuL7Fb7vDhpy7pcCh2WTkrWwK9adqEV3dmTNsQzd5DMFBCvZGudcD9Ot\u002BO2HcW\u002BNt9sqGjq0xaadg55ZIlwOlApk/YM5unfOVBwC8LBY7wT0P/kwssn5UT\u002BFO5ZIAux3nmPiI3TsV[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-4334efc1-523a-9e79-2c1b-9791d93814de?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:50:26 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1397471501",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
