{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-567ca775-471e-12e3-9b67-fb56207e7bee?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 21:50:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3205EEEC1195\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:50:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-567ca775-471e-12e3-9b67-fb56207e7bee/test-blob-e3aebece-9710-9e8d-3cae-ef7227cf241a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "JA22M42cwSCnh1\u002BZL9vu5A==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 21:50:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "ikRGy9aXoKT04HCN7Xg990mGG6joQSl2hHx0XmPOhq6OduCRXVKeo9bxROQGaZyhQHWbjxtZ\u002B0ga0EdaIkJAJlnC/3eYrJr253fR9v1Ebxvg0x7tM/eTNHuYdowLRICUsB6LRGkkCJPbpKejhwRL1WAsek8kU/JhL8v7ADYO6qP3PUbeuSuxu8qKEo5P76x3TKAr38oxcF0rKRWdKAhdzboErEq\u002BbBw1er6FmkBkEj8fhLOV4gvZxc3os48WFJLBLETUSkNhud\u002BE9WULq9UcxxfVfqRVyOquK\u002BZ91bmNHmYsxG38j8f7vcvTEOylzRr3y\u002Bt3QJXubGRZJR9d5OM[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-567ca775-471e-12e3-9b67-fb56207e7bee?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:50:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1032253970",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
