{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b46069e4-ebf4-d40c-9682-3c8ae81b109c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 21:50:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3205F1982EA6\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:50:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b46069e4-ebf4-d40c-9682-3c8ae81b109c/test-blob-935368a8-92ab-3b68-a358-452378826e67",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "KLoOwffVpPPe6fm5mi8Mow==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 21:50:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "BWdxuTEDoTGN6mTC29JkR74Ieu0IjzGPItGz7BBhjWaAWjUJ3AsCDVng84FsFIRLrFq74HDErHU24pZfT7QhLFz\u002BQYGdWmuzBmyTKJuvIg5NZz\u002B1pa31vK2/0/p0or2kvsYkbtICrlLvCNoDMITZhr\u002BIEud0bIevCIXT3YdwPmOu72nVi7Q7S7ntxZzS8osp5Uw77JDWMFI\u002BdWZNLtDKf8p2VUEaBPsLTMcuhqbr3BX5qvg6NFHT2L4XlhVN7hzoI0bSW51KD\u002BFRMKDJp6mrU5lQU4TYj0p4o3yCAm3lvV2qRmNfGIB4rpoW6ASxCjAVbEN8/ZuXD5T8WrggyAx[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b46069e4-ebf4-d40c-9682-3c8ae81b109c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:50:34 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "76857445",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
