{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0edc3ee6-12f4-01f9-6fb9-e667a6425081?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:57:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217A62FA59F\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0edc3ee6-12f4-01f9-6fb9-e667a6425081/test-blob-aa7ecc5a-e97c-ed46-0ee1-fd10354c3f13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 23:57:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "ZRu7Aq5HZGR1MrWAgeZ6wg5Ju96K0SHJv\u002B/3c7780sz2hq5r8ajtZGJSCSxgK71ljgC\u002Bjs\u002Bef5P58UK\u002BT/CmeF/pifo3D9FmXFd7OMj1aJQykeS9PUT8WAcbcf9lLhRyrJDMd6LCLn8uWDF4IkfLBIiujL0M6Dsb7DHzHJ3RAS1CCYw3KPDxb2NkjuUShDW/T2x2tqJXZsNVsYtwzxHiXVcENRm7k9yXvBxZp1lVCWf7M8wwWkqK66PJ4nZlgZ9RgjGODU4bBLuQ3/mG/b5p/6gkdJxFsQIMeUp18rFlMjt8CCUox/sY4C4RoHtRBO3kX\u002BLOQQwDDNAvgZQEpRI[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0edc3ee6-12f4-01f9-6fb9-e667a6425081/test-blob-aa7ecc5a-e97c-ed46-0ee1-fd10354c3f13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:18 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "V7JK7/m76z\u002ByOBcy9crZ/w==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217A63F1CBF\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:18 GMT",
        "x-ms-blob-content-md5": "V7JK7/m76z\u002ByOBcy9crZ/w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:57:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:57:18.1137087Z"
      },
      "ResponseBody": "ZRu7Aq5HZGR1MrWAgeZ6wg5Ju96K0SHJv\u002B/3c7780sz2hq5r8ajtZGJSCSxgK71ljgC\u002Bjs\u002Bef5P58UK\u002BT/CmeF/pifo3D9FmXFd7OMj1aJQykeS9PUT8WAcbcf9lLhRyrJDMd6LCLn8uWDF4IkfLBIiujL0M6Dsb7DHzHJ3RAS1CCYw3KPDxb2NkjuUShDW/T2x2tqJXZsNVsYtwzxHiXVcENRm7k9yXvBxZp1lVCWf7M8wwWkqK66PJ4nZlgZ9RgjGODU4bBLuQ3/mG/b5p/6gkdJxFsQIMeUp18rFlMjt8CCUox/sY4C4RoHtRBO3kX\u002BLOQQwDDNAvgZQEpRIKKqy9CfWZQDetC5RuMxGGunVckZLOl/EveftU\u002BEVnFDobBnXPk/r4Sx6qITV3ldi\u0[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0edc3ee6-12f4-01f9-6fb9-e667a6425081?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "492979061",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
