{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-023e04dc-ec7a-30df-1269-d998ef5d60a1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA11E384A6AA0F\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 00:23:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-023e04dc-ec7a-30df-1269-d998ef5d60a1/test-blob-282fbade-f218-8eb8-e60d-81e9180f76f8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "zWhL1SIfv\u002BM=",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "Ggwy27yA86Xz0GRQiq56nxYzig78CQVYRQvr\u002BlO3ClkthRaoQHfpje27ZMs1QRocEkNEL7nu3xAH2ZaxlPlRO8UKIgSY0V\u002BeSvwgQaU5IwPwz\u002BcQctugPqUFoWbhN/j0aSgGKx4Wg0DjpeW9zZ5rzbaSwMURQMjqauRekjD5vRIDLNd8M/fl2kumLcz14nAHmdOvTnYz4ihfG8E6t/EQ6ejSuaHG7pm\u002BreZ5ahP79IdzVvlcSm6bz0muHRg2qyJalkPkIinPQas68KGQuXcVYyY5xmD3tJ96N\u002BlXF9CBiAHDH9TQF9JepBVNIlnMCxbSmbnx/OXBYuK[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-023e04dc-ec7a-30df-1269-d998ef5d60a1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1051870138",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
