{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d49103fb-2cf2-e36c-21c8-2c26dde67c05?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 00:01:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA321839B2F737\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d49103fb-2cf2-e36c-21c8-2c26dde67c05/test-blob-944404f1-2e0d-9ed5-0c9c-bdea4f831d39",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 00:01:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "KbhXxrS1WRZJsB5VCClH6mkBf3FoUSvUfB4DDAF\u002BTRdBLRnj35h28hFm4SmAXUC3G/jSkh/pjNiNgkmWskwVymMGE9sPZAvQi4xfAm8BVB/dS/AJrLr4WKBBVV1O3z/FUBbGeUplp7fsAQeSiYpojC0quGZcDB6oDbo6zg6ugqtNmrFZOtvUeKQ4HKqyZs8W2ckvIyfZaUT3HWuPK9mpPn9cRO7ZD1FSVUDCI\u002B909qfrJPRFfl6EdDFsYR1vREzKj90qViLhPMp33M3mFkVUgyfEpAbkZL8g2NC8ba004hDz\u002BJQSSZ\u002BFCecqzaKQnV3sF971q6BG5SoeCX5RJM8cQ/q8[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d49103fb-2cf2-e36c-21c8-2c26dde67c05/test-blob-944404f1-2e0d-9ed5-0c9c-bdea4f831d39",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA321839C379BC\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:25 GMT",
        "x-ms-blob-content-md5": "IM3aFT6ziquzZLJtHgm\u002BDQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 00:01:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T00:01:25.6062396Z"
      },
      "ResponseBody": "KbhXxrS1WRZJsB5VCClH6mkBf3FoUSvUfB4DDAF\u002BTRdBLRnj35h28hFm4SmAXUC3G/jSkh/pjNiNgkmWskwVymMGE9sPZAvQi4xfAm8BVB/dS/AJrLr4WKBBVV1O3z/FUBbGeUplp7fsAQeSiYpojC0quGZcDB6oDbo6zg6ugqtNmrFZOtvUeKQ4HKqyZs8W2ckvIyfZaUT3HWuPK9mpPn9cRO7ZD1FSVUDCI\u002B909qfrJPRFfl6EdDFsYR1vREzKj90qViLhPMp33M3mFkVUgyfEpAbkZL8g2NC8ba004hDz\u002BJQSSZ\u002BFCecqzaKQnV3sF971q6BG5SoeCX5RJM8cQ/q88h6xQjmHP5ofupcdjzpz0FXPPjZwrRNp8z8hM\u002BUYDoqn1Ks\u002BOtWkbmwFJyqTAH[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d49103fb-2cf2-e36c-21c8-2c26dde67c05?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:26 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1413996352",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
