{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d97d6c1a-0248-f5d3-3177-b568ddaad101?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:57:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217A29D6F62\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d97d6c1a-0248-f5d3-3177-b568ddaad101/test-blob-3aa91e82-22ab-3e46-811d-b2c7dba6ee10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 23:57:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "rTQANozDpdO8ycChVMNJk7Z8wLpQLajbEaZyYi6QibaFo2J2noqs5X2F6I\u002BVdxz7CoVpraFmuYCMJCXlUEKlKz8JG7Bh0vUs0Ns8y0UZRpmKd1eoJtwVH\u002Bnh6npkxpQ74LxPi1xrmjiQPNzFKe47ct2LW9nr/ARi8/vHf\u002Bh7xwlGAeuIybo9Ht0fGOn/UPb7pnec2Wu7T\u002BO37ZdgpBpQFXXTficDs6kiTjz8zOQaY6MFy9hw3u6di7II0Nwj3HrCzwJ0K9HO\u002BPPOeYsvvoL\u002BnYn0W9hB3zaHNfN1\u002B\u002BLM/3HBOv3ipjfSNtPloWRjbs0vCTNS[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d97d6c1a-0248-f5d3-3177-b568ddaad101/test-blob-3aa91e82-22ab-3e46-811d-b2c7dba6ee10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:12 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "/t09blb2kVFldg5pNvTgig==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217A2ACDCE2\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:12 GMT",
        "x-ms-blob-content-md5": "wP95OSE1F17fsmRO9gKsfA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:57:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:57:12.1230835Z"
      },
      "ResponseBody": "rTQANozDpdO8ycChVMNJk7Z8wLpQLajbEaZyYi6QibaFo2J2noqs5X2F6I\u002BVdxz7CoVpraFmuYCMJCXlUEKlKz8JG7Bh0vUs0Ns8y0UZRpmKd1eoJtwVH\u002Bnh6npkxpQ74LxPi1xrmjiQPNzFKe47ct2LW9nr/ARi8/vHf\u002Bh7xwlGAeuIybo9Ht0fGOn/UPb7pnec2Wu7T\u002BO37ZdgpBpQFXXTficDs6kiTjz8zOQaY6MFy9hw3u6di7II0Nwj3HrCzwJ0K9HO\u002BPPOeYsvvoL\u002BnYn0W9hB3zaHNfN1\u002B\u002BLM/3HBOv3ipjfSNtPloWRjbs0vCTNSL4GhgO/L7fbeWfwQAnoZbYSFG/dSISUEXD7SI8clRvGvedDwH7oOFrhB9NzW1Z/qSQBIqe48AA1bnSOw\u002BckuuBMLYIipKU3KdgQ\u002BES1ILoaf59rH3ZwCc3nClIKWXh3vEzvJynQWQCCyfjPp/u/gEm6cEBHvZ9p3CO0P5pTLNBjnTv7xf2MSiKe5FF5pGXWJ4oET\u002BU0LAKtgUcKGB1mM50oaAa/x7pMLiodqNVJ8Du94hQQStzrL3E5SkC2hi4FNLS0UThjGmPPuB27FoMpZ5EPSDoJVeS8PTiVgn15lav4GHQgkZ7/XsuwQI6/LBTuE\u002BKvqzn3\u002B97P9Bf/yZfmViZ1wvoPCNH2E\u002B1yVRVY="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d97d6c1a-0248-f5d3-3177-b568ddaad101/test-blob-3aa91e82-22ab-3e46-811d-b2c7dba6ee10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA3217A2ACDCE2\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:57:12 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "h8\u002Bcijwaw9uz1ASlM\u002BG7oA==",
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217A2ACDCE2[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d97d6c1a-0248-f5d3-3177-b568ddaad101?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "78342687",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
