{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2051c739-d13a-0ed2-f2d9-b00133fe1ff1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:57:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217A2E8C499\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2051c739-d13a-0ed2-f2d9-b00133fe1ff1/test-blob-7a0fca2c-11bd-efa7-8dd0-aea5894cf0f8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 23:57:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "bMsw1STL5CrG6GsvvrFN3axASgVZSiN4a6I0OM\u002BDnyuwo7T15FZL7El6DuQMz1rlaGLQhz9VFSKnuGqBlqxaQ0lAfxv8V/hW9F273zs\u002Ba5tITtBtsxfsWo2STizsylWdH8ubzFA\u002B6RBpepPhmTbmaEzOOEjb7Y8xUySNaQnMaSoIHr9wo59LCWS/AzmEC8BWq\u002BXfHpENwTE7angrsH8HnBBo2Ht3dsWtgi7jG\u002BpWrEhjN74j7EqZ\u002BlyONTgmIFnluGYoHDJF3zUgMpxiKqVH5L4wx3nB47DFz94e6UGMhmLV/mODLpAVHleIA7quNtC3RlB69ljfI9W2Yk[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2051c739-d13a-0ed2-f2d9-b00133fe1ff1/test-blob-7a0fca2c-11bd-efa7-8dd0-aea5894cf0f8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "7jiUOks67er/7zzUhFa3YQ==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217A2F80BDF\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:12 GMT",
        "x-ms-blob-content-md5": "7jiUOks67er/7zzUhFa3YQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:57:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:57:12.6148063Z"
      },
      "ResponseBody": "bMsw1STL5CrG6GsvvrFN3axASgVZSiN4a6I0OM\u002BDnyuwo7T15FZL7El6DuQMz1rlaGLQhz9VFSKnuGqBlqxaQ0lAfxv8V/hW9F273zs\u002Ba5tITtBtsxfsWo2STizsylWdH8ubzFA\u002B6RBpepPhmTbmaEzOOEjb7Y8xUySNaQnMaSoIHr9wo59LCWS/AzmEC8BWq\u002BXfHpENwTE7angrsH8HnBBo2Ht3dsWtgi7jG\u002BpWrEhjN74j7EqZ\u002BlyONTgmIFnluGYoHDJF3zUgMpxiKqVH5L4wx3nB47DFz94e6UGMhmLV/mODLpAVHleIA7quNtC3RlB69ljfI9W2Yk1UJ/b0k6w5jCtCxLYtGqkiOd/2F5gNZ6LwEpAK9tqOzMtDwfdgk3ANdaqkdIKaTNuvver1wE[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-2051c739-d13a-0ed2-f2d9-b00133fe1ff1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "535020320",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
