{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-291f34cd-6f17-6945-987c-d8d54d01d788?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:09:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320888413F54\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:09:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-291f34cd-6f17-6945-987c-d8d54d01d788/test-blob-6c752da5-c39b-269f-7ac4-9f65b0cce846",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 22:09:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "B99RaL\u002BnxCuucrqJKbiwsmKYCEZbBx8\u002BhD2sHLxSAHNBNYXalLCAJUJ7IPaKs2SK8jPPE/IGtAC/EuOC\u002B6duXHFHSPMz1h2xGOMD4OYptNHYIiqJgu2AOoGEGoLM/SqaDcSEQ2pwVhwVHvoPAtQZll0Rqdh95NmDxg1yrrua5Bq5aNIipHFnZ8sOdGTycTisa4QkulRRHSjrAXxd/qdgejngVpoB9/HsqkEMb290kFXVxUM3dinGZ0upNqP0CmgjrfkqEhueqnSSOBASRK24dnAnhzlkKQQQGu5OV8BO\u002BKDY6MJ1Sn45NxrPpD0ZsyOe8b8yzIIvv4T1GvcsT1KzRD9v[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-291f34cd-6f17-6945-987c-d8d54d01d788?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:09:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "813551213",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
