{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-e0981b5f-00ed-66e4-51b5-187f3b81ccf2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 21:50:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3205F42DE81F\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:50:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-e0981b5f-00ed-66e4-51b5-187f3b81ccf2/test-blob-8ae88ab6-b5f5-0445-d81a-9e1fc150b44e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "F3zH6xmvnqfWotBBsuzuxw==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 21:50:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "\u002BO/M6qlDmnQZC47EAt/R/CyRdJQcWZG5QQfSKoXiyUQ8BwyliJ7dxwvxWVX5sBu0ZWnyMZhX255eEqmicW/vNkJJh/rSK3SNs6yJKv87v5DrHsUb8Jis5SttR3X1O1abAiITrygg4Tr1ZH3szrCeI1MZtlOq00aqnaLPZeT\u002BmHhW7SjdKA9nyzyKJYsavxZ7ziMi3IUC8C7caRKFUXxV98wFleCHwfpEseoWH667j92LU5bA3LzzU/z6AL/94XrANS6\u002BFSo29A0p3Sqa7NF/Idk0\u002Bf3mlRoPEUHjjME7R9BvVuqA/HqzVV\u002BIl/6SWGcret/lyOd82Z8TrwPoU2d[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-e0981b5f-00ed-66e4-51b5-187f3b81ccf2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:50:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "969276138",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
