{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b2f8a126-9add-7240-d0a7-cfcf3230d8fd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA11E38A5EE617\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 00:23:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b2f8a126-9add-7240-d0a7-cfcf3230d8fd/test-blob-b898a83c-66df-fa2e-0063-dcab0b967057?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "qL/DmuC6jFr01kMyRpAA\u002Bw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "NiJhs/yB4EHjnBvQ8x5Pq1Z/wjxxGcEGcz1pZuq\u002BQs0gup6ijo/veEcY0/FGE7WKAFkAJRGQCBxhWz\u002B\u002BGHlWJFlNsDiArR3Hj0n1WUbQv1\u002BI3mWQvR27j7KBQTJPMGDOwa6X\u002BWN8CVM8OZXHm67VkZzfNjkTxWc8kSGG/mvqd1/pJ5iYOMb8C9URVIOH8/QDrLCWcPkmuvtHWmdB9groUsI23nQWPFjV4ytkAXHjtJ4sg1K6Uwdlw2ydUd5fuhXKKQLAURWA7W9YwY3OwrmJY6XJFXK4Lv670RsHeet5digVmthvImOIrJbjYpJ5lgGzE\u002B44laWiEfsDBX/6eHOD3kpkuCfhGkBBQGjc1ctsQTsaVGb9QeCCcojcax3kjjQiX4NHFd3Z0fit9lQ9xjwvl8NE3yQNhp1p4kWfBK4iXbI0uXVIJCxdQYJtT0qLRaxMrdRan64QFdjm3jKXOc1Ki5iiCA3G5nKW556hoDZS3ZyZU1bZyL0DJKSdYkb5xQe0IsSy6TyehcZiw7gPbnSilACV/uZ2ccLanuRpKYQsnSGX7H1yoPRg\u002B82QdwQF9LUv\u002Bs1GY8cgPrEB10pYNVxBNiaWd4H2L/MMNQMZ5vm\u002B1aouOS625Tlad67McMmpB8ZwTkHebnwzOcraOi3EBle3QwGfKfstilDtPADTKr8qYi0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "qL/DmuC6jFr01kMyRpAA\u002Bw==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b2f8a126-9add-7240-d0a7-cfcf3230d8fd/test-blob-b898a83c-66df-fa2e-0063-dcab0b967057?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "qf2fpz4HIwd5M003WAepLA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Mar 2022 00[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b2f8a126-9add-7240-d0a7-cfcf3230d8fd/test-blob-b898a83c-66df-fa2e-0063-dcab0b967057?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA11E38A7B17D6\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 00:23:40 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-03-30T00:23:40.4917718Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b2f8a126-9add-7240-d0a7-cfcf3230d8fd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1206594723",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
