{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-53f20145-1d0e-6d06-457e-f6f2967d572e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 00:01:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32183C174056\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-53f20145-1d0e-6d06-457e-f6f2967d572e/test-blob-f7ca13b0-bb6b-98e5-41c9-f1bbf5f2d3ff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 00:01:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "swnlRi3Ehv8wl\u002BWgDukSEA8Ex1KlbJXdjaSAlJmcxVo9R2hQTyjEZr3ZugH8Bz3ye5wlkEveIUd0B7iJRPJlk9KKYsaAwcHnQGCUzLGU4YZnjRn9dzUPXiYh3EdvOiLLcycucaR2cbnbPU/qSlWW4CYyIrbZaBydewSgX\u002BV5eAY9yViKZW/h8BtfITnlJBTQivwhPBhs8gsKkfag1hLUYcVJrIH8DHq2UDKaeUbit1bwz9XpWDvt0dZNf9N5QRkJisB0nHeS1H6Bauvl0XjEKNqfrwY86wmKW9uqro2nPQ8Yke\u002BGbRveXftXZ\u002B1PCABeiFb52pESzJ\u002B26kCc6CX[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-53f20145-1d0e-6d06-457e-f6f2967d572e/test-blob-f7ca13b0-bb6b-98e5-41c9-f1bbf5f2d3ff",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:30 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32183C2D90CB\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:29 GMT",
        "x-ms-blob-content-md5": "eJs3esZ8DRkH5uiVDM3N8Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 00:01:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T00:01:29.6569547Z"
      },
      "ResponseBody": "swnlRi3Ehv8wl\u002BWgDukSEA8Ex1KlbJXdjaSAlJmcxVo9R2hQTyjEZr3ZugH8Bz3ye5wlkEveIUd0B7iJRPJlk9KKYsaAwcHnQGCUzLGU4YZnjRn9dzUPXiYh3EdvOiLLcycucaR2cbnbPU/qSlWW4CYyIrbZaBydewSgX\u002BV5eAY9yViKZW/h8BtfITnlJBTQivwhPBhs8gsKkfag1hLUYcVJrIH8DHq2UDKaeUbit1bwz9XpWDvt0dZNf9N5QRkJisB0nHeS1H6Bauvl0XjEKNqfrwY86wmKW9uqro2nPQ8Yke\u002BGbRveXftXZ\u002B1PCABeiFb52pESzJ\u002B26kCc6CXw2i3czUCJPru/wFIL5YMbOlPbTCY3rWJ9BcRPz4PaQnTVZo3Acjq/1UmbOhk/B\u002BYbm6[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-53f20145-1d0e-6d06-457e-f6f2967d572e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1191606159",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
