{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-4a5e2407-8675-e68e-2db0-8aa5e7fc1d9d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:02:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207A0A8368C\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-4a5e2407-8675-e68e-2db0-8aa5e7fc1d9d/test-blob-266c18cb-4416-abea-d919-c52c8eabf7b3?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "sf3kiOxdh04=",
        "x-ms-date": "Mon, 09 May 2022 22:02:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "1TaPz\u002BvhZbP3JgNmKv3LBtmXnpkQPS7uZCMcu7jzwXEzlLrllwYHJek46EjLdtQG1ZRf3zdBtpgIoGvHxan6BGWRMpZC5m7Sj3iv2FTlIu1PFeYjlOE58d0i3febQGBAPuTjOUM\u002Bw\u002B8ljE\u002B\u002Bkt5DIn1\u002BeK/C1m\u002BEWEG4Hwh3N08YbplwAempEFL3/QeRel//37p5HMewfWd0X\u002BEChaPmrlUApiNE0iGU1Wddy9ho8t3huUBO/hqHZ/Ex/KIHpouuEE\u002BxkdQ8ugyZ5UdgU7KPC2wDIcxjl7A6eD4yEtZ\u002BjC7cr7qIt2EJpf40tRjTJxQ\u002BovA2A4W/SnmfdhiVCqg1GlgYhKP4BlQK\u002BnzNL\u002BGXZ1Aq83DmSIipHGRB6UBIc5tW/pu/uqNwRpycKwkJ8huXBw/HahY3T9LQb2c/txwTwYbgdjBG162tuq3TSR1/oCpIqeExgQmEHq/I70o7MY9/iGmCKHvrUDBhGrBoZAW1Uc899g074kB9W1iBfehicYgeVMGz/HevXVmxz2ZYHLqpE557/juBQ6UoBMwjatJH/6gnSg9EAVRXjZi0iRPZJT\u002Bd2GlJ53JNnBAbi/erjPOGadC\u002BMNKrZBJJI3CizbmRTt\u002BMhZFp/Rc12q3\u002BKHVcrAGlLSBDG/Rt8nNXAMMCq85XiTwYHgZhHWu4iFYkrDud7Xc=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "sf3kiOxdh04=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-4a5e2407-8675-e68e-2db0-8aa5e7fc1d9d/test-blob-266c18cb-4416-abea-d919-c52c8eabf7b3?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "a6SwxX6ffqM=",
        "x-ms-date": "Mon, 09 May 2022 22:02:37[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-4a5e2407-8675-e68e-2db0-8aa5e7fc1d9d/test-blob-266c18cb-4416-abea-d919-c52c8eabf7b3?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 09 May 2022 22:02:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207A0C690A5\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:36 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T22:02:36.9884082Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-4a5e2407-8675-e68e-2db0-8aa5e7fc1d9d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:02:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1267631809",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
