{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c95cdfe7-7c10-33d9-8b1f-670dd48d3352?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:09:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320887303A7E\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:09:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c95cdfe7-7c10-33d9-8b1f-670dd48d3352/test-blob-81339445-0b2d-aeed-dc95-4e44e9cb2646",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 22:09:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "nQyOh/VhdUqx8GXzn6T8jdcnMsiYuAaV\u002BRwG3vv7tttyopcqb8BKeZaqylvdJk9aWxRbjlTiouUF\u002BY7ZWpdPtTmKgP0N0R0W3Lky7e2qt9LMrILnnyeGkP\u002ByJXYycB7/WhQhU6ZSTIr2RbGbsLT3WkG7DK0UaBYSA\u002B/9W6yn5GuaMpLZiWQseV/48Fp16\u002BBLuso0d2Rw6vL\u002BD0\u002B3VfHeT2FFAX0iHdHdj5NNHHe7nBgPsqDhcmwHKUif23kVdSRuGaD5MOliKJ34V\u002BjQIs16QnM3p6JR/N30Ptg0gkJYxxlu3wLXwmwurIkD6RuENgZ6JZgF[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c95cdfe7-7c10-33d9-8b1f-670dd48d3352?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:09:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1246721003",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
