{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-14f6a47d-b9bf-a8b6-b732-f08f2bfa131a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:57:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217A6BCB49C\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-14f6a47d-b9bf-a8b6-b732-f08f2bfa131a/test-blob-cb7c98c9-9e25-6540-f49c-ca5eb743a7dc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 23:57:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "vA/8O2u5fatniC/p2hsgrgsD2USspeu1/pqfdeTRd3rtcd14DeuB/GmiBqbGDDFuXD9f85GjwBcjRj3QGQjGlRC0\u002B2k9p6Eggt3bCZ9E7/FpMRilcoToSrDGVMausONh3HCVERHHMLSdPnG0yLd431dLZ\u002BfvISKMy7C4d1LacdH5eS0urt3gogFkBzMTNIL5TnVvY0n7crtNCUVgDrliw82fuk6JSTB5asXmixnveJctvyjcag6H/Qdy4KSXf5NHAkNmc3k0bwRF9fiEFeehXpGuM0\u002BQhVi/GLxGF2mL4usxnonWiAUd\u002BVAkl3UVA\u002Bgg0YET6ExEt3zrp1u97le[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-14f6a47d-b9bf-a8b6-b732-f08f2bfa131a/test-blob-cb7c98c9-9e25-6540-f49c-ca5eb743a7dc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217A6CBDF1F\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:19 GMT",
        "x-ms-blob-content-md5": "NkpLBuHC\u002BzukF6bmz15aug==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "JgQXoXbQWV0=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:57:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:57:19.0361887Z"
      },
      "ResponseBody": "vA/8O2u5fatniC/p2hsgrgsD2USspeu1/pqfdeTRd3rtcd14DeuB/GmiBqbGDDFuXD9f85GjwBcjRj3QGQjGlRC0\u002B2k9p6Eggt3bCZ9E7/FpMRilcoToSrDGVMausONh3HCVERHHMLSdPnG0yLd431dLZ\u002BfvISKMy7C4d1LacdH5eS0urt3gogFkBzMTNIL5TnVvY0n7crtNCUVgDrliw82fuk6JSTB5asXmixnveJctvyjcag6H/Qdy4KSXf5NHAkNmc3k0bwRF9fiEFeehXpGuM0\u002BQhVi/GLxGF2mL4usxnonWiAUd\u002BVAkl3UVA\u002Bgg0YET6ExEt3zrp1u97lebuRMMUnZey9aLkTn/bO3jqRXUJUbnd/mf7ecM6uGpYAv4iN1hCbBywgWrh1cSRUuPB/1G6cg[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-14f6a47d-b9bf-a8b6-b732-f08f2bfa131a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "568022253",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
