{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bad5739b-da8a-080e-3937-ea4627cf8df8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:57:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217AE82C663\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bad5739b-da8a-080e-3937-ea4627cf8df8/test-blob-54d9301c-bd89-af3b-0853-f2bdc5e7ebfe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 23:57:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "7h1xoo8oYCfVyAz\u002BLpMgXD0mSs2xgFMfAmFkCtIJNlJxmIzKa1cz1Pn2ONxpWr2zI0VXrxBMYG7JUqAtxFZUzJG6jJUHVvHl8nXUu0h3tqekseaNsYdCJTgeABi2BRCioWxLrs4nrM1Ucbyad6UlUpz4iRJvxxoJeGZd6FXYLuxlMRrcLAfZfAQZOT/Kp62S\u002BK58vnz9M9pRQTZnysN4e0PPNUWLSSWVHw0OVo7aP9C5yu\u002BmXHBwZ/4/iuvQcrJBob38\u002BnFoB6\u002BI5p9u791LdgFmrf/T0R7SX85HS746xKxbzLTQ3kRfUcJAHnXRAXgh8xPpasSybtCeKZujIbz[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bad5739b-da8a-080e-3937-ea4627cf8df8/test-blob-54d9301c-bd89-af3b-0853-f2bdc5e7ebfe",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:32 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217AE9169A3\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:32 GMT",
        "x-ms-blob-content-md5": "erJ0aEVyCzU4GsKEDPhqEg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "NYiebs\u002B8Vaw=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:57:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:57:32.0748451Z"
      },
      "ResponseBody": "7h1xoo8oYCfVyAz\u002BLpMgXD0mSs2xgFMfAmFkCtIJNlJxmIzKa1cz1Pn2ONxpWr2zI0VXrxBMYG7JUqAtxFZUzJG6jJUHVvHl8nXUu0h3tqekseaNsYdCJTgeABi2BRCioWxLrs4nrM1Ucbyad6UlUpz4iRJvxxoJeGZd6FXYLuxlMRrcLAfZfAQZOT/Kp62S\u002BK58vnz9M9pRQTZnysN4e0PPNUWLSSWVHw0OVo7aP9C5yu\u002BmXHBwZ/4/iuvQcrJBob38\u002BnFoB6\u002BI5p9u791LdgFmrf/T0R7SX85HS746xKxbzLTQ3kRfUcJAHnXRAXgh8xPpasSybtCeKZujIbzxTiLyEyMoe5i9B1w8k7OpAF1VJVeqUFrnqF7kMbSouzAGT89T3\u002B5V\u002BHh7LGNnddoc9Sk\u002BTftlRv3HC2rEREnjFEssNkTjVSFuAC3eLiT3fzKDxzyLaW00oQjRjNOEkLQulxcXOz\u002BWOaAH0EzOhhfZ0Is3QHwNWKvd95Q8EslN6nB4sJcN30Ty7Y6bg5kgZhvw\u002BLtITE83IT5rOUOrWifXueXcVdaAy/FGRFPucdQRvJF5SxkNBZ4hQY5YoaUBR5NnxMqzRBFEcCzKAQf8Sa9pWnyyMQ4NybRHuxRHJypLRfy/h6wKXXh/NNrtQwOWJPff7kcoTxaEWfsVa4n8/UgBfrw="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bad5739b-da8a-080e-3937-ea4627cf8df8/test-blob-54d9301c-bd89-af3b-0853-f2bdc5e7ebfe",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA3217AE9169A3\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:57:32 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217AE9169A3\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:3[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bad5739b-da8a-080e-3937-ea4627cf8df8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "746422794",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
