{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d5f62ac7-1d33-18d5-66fd-dc5f4b058723?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:57:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217A747C818\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d5f62ac7-1d33-18d5-66fd-dc5f4b058723/test-blob-e268b08c-f088-f689-ad5c-3b6c1453252f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 23:57:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "nrMtFS5qIfbLwYi7oE7WBKsABRBzCx/eGDk5gQy8mmTeHOmONTyt8BmbsEKaDhNDdb/3meKJ7ZKTTv31MZ/pDick3YNlSM9uUxX211rdRAkl9QxMxQCBVS5W\u002BuY/t795sqEbdjGQ3S3wiEbNkhY4tgrz0DuTnEkmo4hUDk3oL5tVfCW4wc3YlRfeXDy6s8IYHUPcS\u002BeE5hZX9NOoO87gCFmqdxXwgPU8GzojtUANbO/FO/EJC\u002BS00ZYOYMz6L1lI/lPjDzusKJ1Ony\u002BsYDDWSojj4//d1vx19qZ/4h8oQuzh2rfsKlyzGRNTu2u0B3FmOBZDFkxZaihWbhmVLUV\u002[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d5f62ac7-1d33-18d5-66fd-dc5f4b058723/test-blob-e268b08c-f088-f689-ad5c-3b6c1453252f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217A75657EA\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:19 GMT",
        "x-ms-blob-content-md5": "6pY37Izn6LD9YpgOiDG74Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "3jPYGtglOEY=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:57:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:57:19.9436778Z"
      },
      "ResponseBody": "nrMtFS5qIfbLwYi7oE7WBKsABRBzCx/eGDk5gQy8mmTeHOmONTyt8BmbsEKaDhNDdb/3meKJ7ZKTTv31MZ/pDick3YNlSM9uUxX211rdRAkl9QxMxQCBVS5W\u002BuY/t795sqEbdjGQ3S3wiEbNkhY4tgrz0DuTnEkmo4hUDk3oL5tVfCW4wc3YlRfeXDy6s8IYHUPcS\u002BeE5hZX9NOoO87gCFmqdxXwgPU8GzojtUANbO/FO/EJC\u002BS00ZYOYMz6L1lI/lPjDzusKJ1Ony\u002BsYDDWSojj4//d1vx19qZ/4h8oQuzh2rfsKlyzGRNTu2u0B3FmOBZDFkxZaihWbhmVLUV\u002BJl1Dy4Z56SArL8nsihqQwO41GakJ5Cufh2\u002BPlbxDHuvN1JUOcDzq7E72GOaCbeANxq[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d5f62ac7-1d33-18d5-66fd-dc5f4b058723?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1249493236",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
