{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-521536c1-2c6b-ce54-e3c6-8822d84f9a71?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 21:50:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3205EE7F07FE\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:50:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-521536c1-2c6b-ce54-e3c6-8822d84f9a71/test-blob-e4b5f93a-5ebb-bfb5-6cff-c21bac453fda",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "6SlomzHNLOg=",
        "x-ms-date": "Mon, 09 May 2022 21:50:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "OiYkjqnTr9O9u25dYOjgpfMlQYSAANUDSq0UbP5UZf9zBjHGGUS5DaT63OFgPINaBUkxzqMVRDlRIET7vkLUaFZu6Vm2GouvbDPghSTzog4pume1I5ZbXsL3dfn/vU5hJnOL8VIqo\u002Bq9gmJvNL4VXX020gTbH0W/E4uWv6WSr6/lf1\u002BwaLG7/hZ896A06yoD4hd7yOpJhgYty97HlORFK9KyirReZfTMetTtXiekiidgk92NF\u002BfFm/lZgp3T9GoyN8zOgWB1pH0irk4VWyffiUC2ZgEHtxTr7e\u002B7BeJX\u002BYZquyda1gnH6\u002B5fa2iZrz/ReflcHY5pK3\[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-521536c1-2c6b-ce54-e3c6-8822d84f9a71?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:50:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "463179662",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
