{
  "Entries": [
    {
      "RequestUri": "https://ssnetvault.vault.azure.net/secrets/CrudBasic?api-version=7.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "CrudBasicValue1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "CrudBasicValue1",
        "id": "https://ssnetvault.vault.azure.net/secrets/CrudBasic/f959b1935dd34084a850bf2de44935e7",
        "attributes": {
          "enabled": true,
          "created": 1559604943,
          "updated": 1559604943,
          "recoveryLevel": "Purgeable"
        }
      }
    },
[...]
    {
      "RequestUri": "https://ssnetvault.vault.azure.net/secrets/CrudBasic?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://ssnetvault.vault.azure.net/secrets/CrudBasic/f959b1935dd34084a850bf2de44935e7",
        "attributes": {
          "enabled": true,
          "created": 1559604943,
          "updated": 1559604943,
          "recoveryLevel": "Purgeable"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://ssnetvault.vault.azure.net/",
    "RandomSeed": "1490654618"
  }
}