{
  "Entries": [
    {
      "RequestUri": "https://ssnetvault.vault.azure.net/secrets/CrudWithExtendedProps?api-version=7.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "CrudWithExtendedPropsValue1",
        "contentType": "password",
        "attributes": {
          "nbf": 1564536012448,
          "exp": 1567128012448
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "CrudWithExtendedPropsValue1",
        "contentType": "password",
        "id": "https://ssnetvault.vault.azure.net/secrets/CrudWithExtendedProps/be9e5302a8844779a2e4f50403887522",
        "attributes": {
          "enabled": true,
          "nbf": 1564536012448,
          "exp": 1567128012448,
          "created": 1559579953,
          "updated": 1559579953,
          "recoveryLevel": "Purgeable"
        }
      }
    },
[...]
    {
      "RequestUri": "https://ssnetvault.vault.azure.net/secrets/CrudWithExtendedProps?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "contentType": "password",
        "id": "https://ssnetvault.vault.azure.net/secrets/CrudWithExtendedProps/be9e5302a8844779a2e4f50403887522",
        "attributes": {
          "enabled": true,
          "nbf": 1564536012448,
          "exp": 1567128012448,
          "created": 1559579953,
          "updated": 1559579953,
          "recoveryLevel": "Purgeable"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://ssnetvault.vault.azure.net/",
    "RandomSeed": "983029186"
  }
}