{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/secrets/1069495620?api-version=7.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value",
        "id": "https://pakrym-keyvault.vault.azure.net/secrets/1069495620/d8a835dbff6940509f9999b225552ca6",
        "attributes": {
          "enabled": true,
          "created": 1559775286,
          "updated": 1559775286,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/secrets/1069495620?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedsecrets/1069495620",
        "deletedDate": 1559775286,
        "scheduledPurgeDate": 1567551286,
        "id": "https://pakrym-keyvault.vault.azure.net/secrets/1069495620/d8a835dbff6940509f9999b225552ca6",
        "attributes": {
          "enabled": true,
          "created": 1559775286,
          "updated": 1559775286,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedsecrets/1069495620/recover?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://pakrym-keyvault.vault.azure.net/secrets/1069495620/d8a835dbff6940509f9999b225552ca6",
        "attributes": {
          "enabled": true,
          "created": 1559775286,
          "updated": 1559775286,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
[...]
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedsecrets/1069495620?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "342526183"
  }
}