{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Support/supportTickets/2303060030001646?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Support/supportTickets/2303060030001646",
        "name": "2303060030001646",
        "type": "Microsoft.Support/supportTickets",
        "properties": {
          "description": "Question: Problem Start Date\nAnswer: Not sure, use current time\n\nQuestion: Subscription ID\nAnswer: db1ab6f0-4769-4b27-930e-01e2ef9c123c\n\nQuestion: Provide a brief description of the issue\nAnswer: My subscription was suddenly added 2 delete lock that  caused I can\u0027t delete the any resource.\nThis is a test subscription we are using so we do frequent create/delete operations.",
          "problemClassificationId": "/providers/Microsoft.Support/services/f3dc5421-79ef-1efa-41a5-42bf3cbb52c6/problemClassifications/62f2a151-0564-fc4e-264d-58defd24998e",
          "problemClassificationDisplayName": "Re-enable my subscription / My issue is not listed above",
          "severity": "Minimal",
          "require24X7Response": false,
          "enrollmentId": "",
          "contactDetails": {
            "firstName": "Arthur",
            "lastName": "Ma",
            "preferredContactMethod": "Email",
            "primaryEmailAddress": "arthurma@microsoft.com",
            "preferredTimeZone": "Singapore Standard Time",
            "country": "CHN",
            "preferredSupportLanguage": "en-US"
          },
          "serviceLevelAgreement": {
            "startTime": "2023-03-06T10:36:50Z",
            "expirationTime": "2023-03-07T09:00:00Z",
            "slaMinutes": 480
          },
          "supportEngineer": {
            "emailAddress": "v-kaizheng@microsoft.com"
          },
          "supportPlanType": "Azure Internal",
          "supportTicketId": "2303060030001646",
          "title": "The whole subscription was added a delete lock",
          "serviceId": "/providers/Microsoft.Support/services/f3dc5421-79ef-1efa-41a5-42bf3cbb52c6",
          "serviceDisplayName": "Subscription management",
          "status": "Closed",
          "problemStartTime": "2023-03-06T10:31:00Z",
          "createdDate": "2023-03-06T10:36:50Z",
          "modifiedDate": "2023-03-08T10:05:22Z"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "867316723",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
