{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11790"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-846?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-846",
        "name": "testRg-846",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-846/providers/Microsoft.Cdn/profiles/AFDProfile-6050?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "tags": {},
        "location": "Global",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-846/providers/Microsoft.Cdn/operationresults/4d8db179-97b0-45b4-b18e-f9cee7546c83?api-version=2020-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "22"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-846/providers/Microsoft.Cdn/profiles/AFDProfile-6050",
        "type": "Microsoft.Cdn/profiles",
        "name": "AFDProfile-6050",
        "location": "Global",
        "kind": "frontdoor",
        "tags": {},
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "properties": {
          "frontDoorId": "1d5c581b-7917-4868-b555-0235fd7d49cc",
          "resourceState": "Creating",
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-846/providers/Microsoft.Cdn/operationresults/4d8db179-97b0-45b4-b18e-f9cee7546c83?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11789"
      },
      "ResponseBody": {
        "status": "InProgress",
        "error": {
          "code": "None",
          "message": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-846/providers/Microsoft.Cdn/profiles/AFDProfile-6050/getLogAnalyticsLocations?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11736"
      },
      "ResponseBody": {
        "continents": [
          {
            "id": "africa"
          },
          {
            "id": "antarctica"
          },
          {
            "id": "asia"
          },
          {
            "id": "europe"
          },
          {
            "id": "northAmerica"
          },
          {
            "id": "oceania"
          },
          {
            "id": "southAmerica"
          }
        ],
        "countryOrRegions": [
          {
            "id": "dz",
            "continentId": "africa"
          },
          {
            "id": "ao",
            "continentId": "africa"
          },
          {
            "id": "bw",
            "continentId": "africa"
          },
          {
            "id": "bi",
            "continentId": "africa"
          },
          {
            "id": "cm",
            "continentId": "africa"
          },
          {
            "id": "cv",
            "continentId": "africa"
          },
          {
            "id": "cf",
            "con[...]
