{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11849"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-7276?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-7276",
        "name": "testRg-7276",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-7276/providers/Microsoft.Cdn/profiles/AFDProfile-347?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "tags": {},
        "location": "Global",
        "properties": {
          "originResponseTimeoutSeconds": 60
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-7276/providers/Microsoft.Cdn/operationresults/0609e5e5-47b6-41c7-8f17-45663e304f92?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "21"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-7276/providers/Microsoft.Cdn/profiles/AFDProfile-347",
        "type": "Microsoft.Cdn/profiles",
        "name": "AFDProfile-347",
        "location": "Global",
        "kind": "frontdoor",
        "tags": {},
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "properties": {
          "originResponseTimeoutSeconds": 60,
          "frontDoorId": "f7e50f24-121a-4267-bc40-19bd770b1f80",
          "resourceState": "Creating",
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-7276/providers/Microsoft.Cdn/operationresults/0609e5e5-47b6-41c7-8f17-45663e304f92?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11848"
      },
      "ResponseBody": {
        "status": "InProgress",
        "error": {
          "code": "None",
          "message": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-7276/providers/Microsoft.Cdn/profiles/AFDProfile-347?api-version=2021-06-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "newTag": "newValue"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-7276/providers/Microsoft.Cdn/operationresults/7ade7695-9c6f-4a0a-8dcf-5615fc12b53b?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-7276/providers/Microsoft.Cdn/operationresults/7ade7695-9c6f-4a0a-8dcf-5615fc12b53b/profileresults/AFDProfile-347?api-version=2021-06-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "20"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-7276/providers/Microsoft.Cdn/profiles/AFDProfile-347",
        "type": "Microsoft.Cdn/profiles",
        "name": "AFDProfile-347",
        "location": "Global",
        "kind": "frontdoor",
        "tags": {
          "newTag": "newValue"
        },
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "properties": {
          "originResponseTimeoutSeconds": 60,
          "frontDoorId": "f7e50f24-121a-4267-bc40-19bd770b1f80",
          "resourceState": "Active",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-7276/providers/Microsoft.Cdn/profiles/AFDProfile-347?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "39"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-7276/providers/Microsoft.Cdn/profiles/AFDProfile-347",
        "type": "Microsoft.Cdn/profiles",
        "name": "AFDProfile-347",
        "location": "Global",
        "kind": "frontdoor",
        "tags": {
          "newTag": "newValue"
        },
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "properties": {
          "originResponseTimeoutSeconds": 60,
          "frontDoorId": "f7e50f24-121a-4267-bc40-19bd770b1f80",
          "resourceState": "Active",
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1924253740",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f3d94233-a9aa-4241-ac82-2dfb63ce637a"
  }
}
