{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 15 Dec 2021 19:51:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableMjs0r6dX"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-12-15T19%3A51%3A43.7871112Z\u0027\u0022",
        "Location": "https://pakrymtables3prim.table.cosmos.azure.com/Tables(\u0027testtableMjs0r6dX\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtableMjs0r6dX",
        "odata.metadata": "https://pakrymtables3prim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/testtableMjs0r6dX?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Wed, 15 Dec 2021 19:51:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value": "EjQ=",
        "Value@odata.type": "Edm.Binary"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-12-15T19%3A51%3A44.2787336Z\u0027\u0022",
        "Location": "https://pakrymtables3prim.table.cosmos.azure.com/testtableMjs0r6dX(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/testtableMjs0r6dX(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 15 Dec 2021 19:51:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-12-15T19%3A51%3A44.2787336Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.cosmos.azure.com/testtableMjs0r6dX/$metadata#testtableMjs0r6dX/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-15T19%3A51%3A44.2787336Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value@odata.type": "Edm.Binary",
        "Value": "EjQ=",
        "Timestamp": "2021-12-15T19:51:44.2787336Z"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/testtableMjs0r6dX(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "W/\u0022datetime\u00272021-12-15T19%3A51%3A44.2787336Z\u0027\u0022",
        "x-ms-date": "Wed, 15 Dec 2021 19:51:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Value": "Vng=",
        "Value@odata.type": "Edm.Binary",
        "PartitionKey": "PK",
        "RowKey": "RK"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-12-15T19%3A51%3A44.3301384Z\u0027\u0022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/Tables(\u0027testtableMjs0r6dX\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 19:51:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "1751445917",
    "TABLES_COSMOS_ACCOUNT_NAME": "pakrymtables3prim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
