{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/testtableUwXT3Iun(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 15 Dec 2021 18:55:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-12-15T18%3A55%3A20.8964104Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.cosmos.azure.com/testtableUwXT3Iun/$metadata#testtableUwXT3Iun/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-15T18%3A55%3A20.8964104Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value@odata.type": "Edm.Binary",
        "Value": "EjQ=",
        "Timestamp": "2021-12-15T18:55:20.8964104Z"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/testtableUwXT3Iun(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "W/\u0022datetime\u00272021-12-15T18%3A55%3A20.8964104Z\u0027\u0022",
        "x-ms-date": "Wed, 15 Dec 2021 18:55:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Value": "Vng=",
        "Value@odata.type": "Edm.Binary",
        "PartitionKey": "PK",
        "RowKey": "RK"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-12-15T18%3A55%3A20.9739272Z\u0027\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "539447385",
    "TABLES_COSMOS_ACCOUNT_NAME": "pakrymtables3prim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
