{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "33e01921-4d64-4f8c-a055-5bdaffd5e33d"
          }
        ],
        "subscriptionId": "204898ee-cd13-4332-b9d4-55ca5c25496d",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ARC-Testing",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourcegroups/testConnectedVMwareRG-2735?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
            "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-2735",
        "name": "testConnectedVMwareRG-2735",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-2735/providers/Microsoft.ConnectedVMwarevSphere/datastores/testdatastore898?api-version=2020-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "extendedLocation": {
          "type": "CustomLocation",
          "name": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ExtendedLocation/customLocations/service-sdk-test-cl"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "vCenterId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/VCenters/service-sdk-test-vcenter",
          "moRefId": "datastore-11"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-10-01-preview, 2022-01-10-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/b633ddca-4585-4d5c-817e-cd1746cf6a0f*2948A3C8618EA16DABEDF3818531534F940213F8DB7FD6BE46AD2380E4D969CC?api-version=2020-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223d00379c-0000-0100-0000-61de8bc80000\u0022",
        "Location": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-2735/providers/Microsoft.ConnectedVMwarevSphere/Datastores/testdatastore898",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-2735/providers/Microsoft.ConnectedVMwarevSphere/datastores/testdatastore898",
        "name": "testdatastore898",
        "type": "microsoft.connectedvmwarevsphere/datastores",
        "location": "eastus",
        "extendedLocation": {
          "type": "CustomLocation",
          "name": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ExtendedLocation/customLocations/service-sdk-test-cl"
        },
        "tags": {},
        "systemData": {
          "createdBy": "bf1347fd-2d31-40a9-9980-5f31f8e0edd1",
          "createdByType": "Application",
          "createdAt": "2022-01-12T08:05:26.3453866Z",
          "lastModifiedBy": "bf1347fd-2d31-40a9-9980-5f31f8e0edd1",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-01-12T08:05:26.3453866Z"
        },
        "properties": {
          "vCenterId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/VCenters/service-sdk-test-vcenter",
          "moRefId": "datastore-11",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/b633ddca-4585-4d5c-817e-cd1746cf6a0f*2948A3C8618EA16DABEDF3818531534F940213F8DB7FD6BE46AD2380E4D969CC?api-version=2020-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002286001f9f-0000-0100-0000-61de8bc80000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/b633ddca-4585-4d5c-817e-cd1746cf6a0f*2948A3C8618EA16DABEDF3818531534F940213F8DB7FD6BE46AD2380E4D969CC",
        "name": "b633ddca-4585-4d5c-817e-cd1746cf6a0f*2948A3C8618EA16DABEDF3818531534F940213F8DB7FD6BE46AD2380E4D969CC",
        "resourceId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-2735/providers/Microsoft.ConnectedVMwarevSphere/datastores/testdatastore898",
        "status": "Accepted",
        "startTime": "2022-01-12T08:05:28.2549919Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/b633ddca-4585-4d5c-817e-cd1746cf6a0f*2948A3C8618EA16DABEDF3818531534F940213F8DB7FD6BE46AD2380E4D969CC?api-version=2020-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228600619f-0000-0100-0000-61de8bd40000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11971"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/b633ddca-4585-4d5c-817e-cd1746cf6a0f*2948A3C8618EA16DABEDF3818531534F940213F8DB7FD6BE46AD2380E4D969CC",
        "name": "b633ddca-4585-4d5c-817e-cd1746cf6a0f*2948A3C8618EA16DABEDF3818531534F940213F8DB7FD6BE46AD2380E4D969CC",
        "resourceId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-2735/providers/Microsoft.ConnectedVMwarevSphere/datastores/testdatastore898",
        "status": "Succeeded",
        "startTime": "2022-01-12T08:05:28.2549919Z",
        "endTime": "2022-01-12T08:05:40.7999167Z",
        "properties": null
      }
    },
[...]
