{
  "Entries": [
    {
      "RequestUri": "https://azs-net-jcswnkcn.search.windows.net/indexes(\u0027mesaejwj\u0027)/docs/search.post.autocomplete?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "luxu",
        "autocompleteMode": "oneTerm",
        "searchFields": "hotelName",
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "74",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "CLIENT_ID": "f9ab11db-b032-44b3-af0a-44713541cc40",
    "LOCATION": "westus2",
    "RandomSeed": "1881067006",
    "RESOURCE_GROUP": "heaths-search",
    "SearchIndexName": "mesaejwj",
    "SearchServiceName": "azs-net-jcswnkcn",
    "SUBSCRIPTION_ID": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}