{
  "Entries": [
    {
      "RequestUri": "https://azs-net-jcswnkcn.search.windows.net/indexes(\u0027mesaejwj\u0027)/docs/search.post.autocomplete?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "mod",
        "autocompleteMode": "oneTerm",
        "filter": "hotelId ne \u00276\u0027 and (hotelName eq \u0027Modern Stay\u0027 or tags/any(t : t eq \u0027budget\u0027))",
        "fuzzy": true,
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "9",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "text": "modern",
            "queryPlusText": "modern"
          },
          {
            "text": "motel",
            "queryPlusText": "motel"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1645982235",
    "SearchIndexName": "mesaejwj",
    "SearchServiceName": "azs-net-jcswnkcn"
  }
}