{
  "Entries": [
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027mbqvlxmt\u0027)/docs/search.post.autocomplete?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "po",
        "autocompleteMode": "oneTerm",
        "filter": "hotelName eq \u0027EconoStay\u0027 or hotelName eq \u0027Fancy Stay\u0027",
        "highlightPostTag": "\u003C/b\u003E",
        "highlightPreTag": "\u003Cb\u003E",
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "7",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "text": "pool",
            "queryPlusText": "\u003Cb\u003Epool\u003C/b\u003E"
          },
          {
            "text": "popular",
            "queryPlusText": "\u003Cb\u003Epopular\u003C/b\u003E"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1713520203",
    "SearchIndexName": "mbqvlxmt",
    "SEARCH_ENDPOINT_SUFFIX": null,
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "mohitc-acs"
  }
}