{
  "Entries": [
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027vcjtxlyr\u0027)/docs/search.post.autocomplete?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "looking for very po",
        "autocompleteMode": "oneTermWithContext",
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "14",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "text": "very police",
            "queryPlusText": "looking for very police"
          },
          {
            "text": "very polite",
            "queryPlusText": "looking for very polite"
          },
          {
            "text": "very popular",
            "queryPlusText": "looking for very popular"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "417866891",
    "SearchIndexName": "vcjtxlyr",
    "SEARCH_ENDPOINT_SUFFIX": null
  }
}