{
  "Entries": [
    {
      "RequestUri": "https://azs-net-t50d8619e0b774b52.search.windows.net/indexes(\u0027irggcyth\u0027)/docs/search.post.autocomplete?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "po",
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "6",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "text": "point",
            "queryPlusText": "point"
          },
          {
            "text": "police",
            "queryPlusText": "police"
          },
          {
            "text": "polite",
            "queryPlusText": "polite"
          },
          {
            "text": "pool",
            "queryPlusText": "pool"
          },
          {
            "text": "popular",
            "queryPlusText": "popular"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1143673798",
    "SearchIndexName": "irggcyth",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-t50d8619e0b774b52"
  }
}