{
  "Entries": [
    {
      "RequestUri": "https://azs-net-t50d8619e0b774b52.search.windows.net/indexes(\u0027irggcyth\u0027)/docs/search.post.autocomplete?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "mod",
        "autocompleteMode": "oneTerm",
        "fuzzy": true,
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "5",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "text": "model",
            "queryPlusText": "model"
          },
          {
            "text": "modern",
            "queryPlusText": "modern"
          },
          {
            "text": "morel",
            "queryPlusText": "morel"
          },
          {
            "text": "motel",
            "queryPlusText": "motel"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "59185497",
    "SearchIndexName": "irggcyth",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-t50d8619e0b774b52"
  }
}