{
  "Entries": [
    {
      "RequestUri": "https://azs-net-gjxdhkdl.search.windows.net/indexes(\u0027grurisvf\u0027)/docs/search.post.autocomplete?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "po",
        "autocompleteMode": "oneTerm",
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "5",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-gjxdhkdl.search.windows.net/indexes(\u0027grurisvf\u0027)/$metadata#Collection(Microsoft.Azure.Search.V2019_05_06_Preview.AutocompleteItem)",
        "value": [
          {
            "text": "point",
            "queryPlusText": "point"
          },
          {
            "text": "police",
            "queryPlusText": "police"
          },
          {
            "text": "polite",
            "queryPlusText": "polite"
          },
          {
            "text": "pool",
            "queryPlusText": "pool"
          },
          {
            "text": "popular",
            "queryPlusText": "popular"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "351280611",
    "SearchIndexName": "grurisvf",
    "SearchServiceName": "azs-net-gjxdhkdl"
  }
}