{
  "Entries": [
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027vcjtxlyr\u0027)/docs/search.post.autocomplete?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "very po",
        "autocompleteMode": "oneTerm",
        "fuzzy": false,
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "13",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "text": "point",
            "queryPlusText": "very point"
          },
          {
            "text": "police",
            "queryPlusText": "very police"
          },
          {
            "text": "polite",
            "queryPlusText": "very polite"
          },
          {
            "text": "pool",
            "queryPlusText": "very pool"
          },
          {
            "text": "popular",
            "queryPlusText": "very popular"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "633936821",
    "SearchIndexName": "vcjtxlyr",
    "SEARCH_ENDPOINT_SUFFIX": null
  }
}