{
  "Entries": [
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027vcjtxlyr\u0027)/docs/search.post.autocomplete?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "po",
        "autocompleteMode": "twoTerms",
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "129",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "text": "point motel",
            "queryPlusText": "point motel"
          },
          {
            "text": "police station",
            "queryPlusText": "police station"
          },
          {
            "text": "polite staff",
            "queryPlusText": "polite staff"
          },
          {
            "text": "pool a",
            "queryPlusText": "pool a"
          },
          {
            "text": "popular hotel",
            "queryPlusText": "popular hotel"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1006700618",
    "SearchIndexName": "vcjtxlyr",
    "SEARCH_ENDPOINT_SUFFIX": null
  }
}