{
  "Entries": [
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027mbqvlxmt\u0027)/docs/search.post.autocomplete?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "mod",
        "autocompleteMode": "twoTerms",
        "fuzzy": true,
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "6",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "text": "model suites",
            "queryPlusText": "model suites"
          },
          {
            "text": "modern architecture",
            "queryPlusText": "modern architecture"
          },
          {
            "text": "modern stay",
            "queryPlusText": "modern stay"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1304635693",
    "SearchIndexName": "mbqvlxmt",
    "SEARCH_ENDPOINT_SUFFIX": null,
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "mohitc-acs"
  }
}