{
  "Entries": [
    {
      "RequestUri": "https://azs-net-gjxdhkdl.search.windows.net/indexes(\u0027grurisvf\u0027)/docs/search.post.autocomplete?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "mod",
        "autocompleteMode": "twoTerms",
        "fuzzy": true,
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "8",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-gjxdhkdl.search.windows.net/indexes(\u0027grurisvf\u0027)/$metadata#Collection(Microsoft.Azure.Search.V2019_05_06_Preview.AutocompleteItem)",
        "value": [
          {
            "text": "model suites",
            "queryPlusText": "model suites"
          },
          {
            "text": "modern architecture",
            "queryPlusText": "modern architecture"
          },
          {
            "text": "modern stay",
            "queryPlusText": "modern stay"
          },
          {
            "text": "morel coverings",
            "queryPlusText": "morel coverings"
          },
          {
            "text": "motel",
            "queryPlusText": "motel"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1627275835",
    "SearchIndexName": "grurisvf",
    "SearchServiceName": "azs-net-gjxdhkdl"
  }
}