{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "9739"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "2cf9eb86-36b5-49dc-86ae-9a63135dfa8c",
            "roleDefinitionId": "13ba9ab4-19f0-4804-adc4-14ece36cc7a1"
          },
          {
            "applicationId": "7c33bfcb-8d33-48d6-8e60-dc6404003489",
            "roleDefinitionId": "ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"
          },
          {
            "applicationId": "1e3e4475-288f-4018-a376-df66fd7fac5f",
            "roleDefinitionId": "1d538b69-3d87-4e56-8ff8-25786fd48261"
          },
          {
            "applicationId": "a0be0c72-870e-46f0-9c49-c98333a996f7",
            "roleDefinitionId": "7ce22727-ffce-45a9-930c-ddb2e56fa131"
          },
          {
            "applicationId": "486c78bf-a0f7-45f1-92fd-37215929e116",
            "roleDefinitionId": "98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"
          },
          {
            "applicationId": "19947cfd-0303-466c-ac3c-fcc19a7a1570",
            "roleDefinitionId": "d813ab6c-bfb7-413e-9462-005b21f0ce09"
          },
          {
            "applicationId": "341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd",
            "roleDefinitionId": "8141843c-c51c-4c1e-a5bf-0d351594b86c"
          },
          {
            "applicationId": "328fd23b-de6e-462c-9433-e207470a5727",
            "roleDefinitionId": "79e29e06-4056-41e5-a6b2-959f1f47747e"
          },
          {
            "applicationId": "6d057c82-a784-47ae-8d12-ca7b38cf06b4",
            "roleDefinitionId": "c27dd31e-c1e5-4ab0-93e1-a12ba34f182e"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "virtualNetworks",
            "locations": [
              "West US",
              "East US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "North Central US",
              "South Central US",
              "Central US",
              "East US 2",
              "Japan East",
              "Japan West",
              "Brazil South",
              "Australia East",
              "Australia Southeast",
              "Central India",
              "South India",
              "West India",
              "Canada Central",
              "Canada East",
              "West Central US",
              "West US 2",
              "UK West",
              "UK South",
              "Korea Central",
              "Korea South",
              "France Central",
              "Australia Central",
              "South Africa North",
              "UAE North",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "Central US EUAP",
              "East US 2 EUAP"
            ],
            "apiVersions": [
              "2020-05-01",
              "2020-04-01",
              "2020-03-01",
              "2020-01-01",
              "2019-12-01",
              "2019-11-01",
              "2019-09-01",
              "2019-08-01",
              "2019-07-01",
              "2019-06-01",
              "2019-04-01",
              "2019-02-01",
              "2018-12-01",
              "2018-11-01",
              "2018-10-01",
              "2018-08-01",
              "2018-07-01",
              "2018-06-01",
              "2018-05-01",
              "2018-04-01",
              "2018-03-01",
              "2018-02-01",
              "2018-01-01",
              "2017-11-01",
              "2017-10-01",
              "2017-09-01",
              "2017-08-01",
              "2017-06-01",
              "2017-04-01",
              "2017-03-01",
              "2016-12-01",
              "2016-11-01",
              "2016-10-01",
              "2016-09-01",
              "2016-08-01",
              "2016-07-01",
              "2016-06-01",
              "2016-03-30",
              "2015-06-15",
              "2015-05-01-preview",
              "2014-12-01-preview"
            ],
            "apiProfiles": [
              {
                "profileVersion": "2017-03-09-profile",
                "apiVersion": "2015-06-15"
              },
              {
                "profileVersion": "2018-03-01-hybrid",
                "apiVersion": "2017-10-01"
              },
              {
                "profileVersion": "2019-03-01-hybrid",
                "apiVersion": "2017-10-01"
              }
            ],
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove"
          },
          {
            "resourceType": "natGateways",
            "locations": [
              "West US",
              "East US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "North Central US",
              "South Central US",
              "Central US",
              "East US 2",
              "Japan East",
              "Japan [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/csmrg2097?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "East US 2 EUAP"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1035"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2097",
        "name": "csmrg2097",
        "location": "eastus2euap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2097/providers/Microsoft.Network/publicIPAddresses/csmipv6publicip7067?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "East US 2 EUAP",
        "tags": {
          "key": "value"
        },
        "properties": {
          "publicIPAllocationMethod": "Dynamic",
          "publicIPAddressVersion": "IPv6",
          "dnsSettings": {
            "domainNameLabel": "csmdnslabelpublicip2016"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2euap/operations/5800d9ff-3642-4358-9804-af425f5eb506?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1034"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022csmipv6publicip7067\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2097/providers/Microsoft.Network/publicIPAddresses/csmipv6publicip7067\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022003e77be-9a2c-4914-b605-88af50eb56e7\\\u0022\u0022,\r\n",
        "  \u0022loca[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2euap/operations/5800d9ff-3642-4358-9804-af425f5eb506?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "9738"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022Succeeded\u0022\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2097/providers/Microsoft.Network/publicIPAddresses/csmipv6publicip7067?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022526880d6-24f9-4fb9-8173-069a126387f5\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "9737"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022csmipv6publicip7067\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2097/providers/Microsoft.Network/publicIPAddresses/csmipv6publicip7067\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022526880d6-24f9-4fb9-8173-069a126[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2097/providers/Microsoft.Network/publicIPAddresses?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "9[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/publicIPAddresses?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "9e32dbc5-1b67-4565-bf45-1332d1f0f757",
          "3a27f51a-7dea-4291-9a7f-59db6a9285b3",
          "7a690a3b-81e1-4642-8ae3-b760ea489c49"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "9734"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "azsmnet6198",
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg1380/providers/Microsoft.Network/publicIPAddresses/azsmnet6198",
            "etag": "W/\u0022ed743a9f-04ff-4383-a357-54135365559d\u0022",
            "location": "westus",
            "tags": {
              "key": "value"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "resourceGuid": "10a5ac4a-c46f-4009-9c23-63a6efb52769",
              "publicIPAddressVersion": "IPv4",
              "publicIPAllocationMethod": "Dynamic",
              "idleTimeoutInMinutes": 4,
              "dnsSettings": {
                "domainNameLabel": "azsmnet2713",
                "fqdn": "azsmnet2713.westus.cloudapp.azure.com"
              },
              "ipTags": []
            },
            "type": "Microsoft.Network/publicIPAddresses",
            "sku": {
              "name": "Basic"
            }
          },
          {
            "name": "pip8513",
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar24131/providers/Microsoft.Network/publicIPAddresses/pip8513",
            "etag": "W/\u0022f7a5a442-35ad-4506-8281-fd21e370b5fc\u0022",
            "location": "southeastasia",
            "tags": {
              "key": "value"
            },
            "properties": {
              "provisioningStat[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2097/providers/Microsoft.Network/publicIPAddresses/csmipv6publicip7067?api-version=2020-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2euap/operations/a8ee5f86-2507-4a46-8aaf-e6b7397542a1?api-version=2020-04-01",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2euap/operationResults/a8ee5f86-2507-4a46-8aaf-e6b7397542a1?api-version=2020-04-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14861"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg2097/providers/Microsoft.Network/publicIPAddresses/csmipv4publicip6685?api-version=2020-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2euap/operations/5178ad6d-b971-445e-ab00-2752c5110d6f?api-version=2020-04-01",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2euap/operationResults/5178ad6d-b971-445e-ab00-2752c5110d6f?api-version=2020-04-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14860"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1380786629",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb"
  }
}