{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "9195"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "2cf9eb86-36b5-49dc-86ae-9a63135dfa8c",
            "roleDefinitionId": "13ba9ab4-19f0-4804-adc4-14ece36cc7a1"
          },
          {
            "applicationId": "7c33bfcb-8d33-48d6-8e60-dc6404003489",
            "roleDefinitionId": "ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"
          },
          {
            "applicationId": "1e3e4475-288f-4018-a376-df66fd7fac5f",
            "roleDefinitionId": "1d538b69-3d87-4e56-8ff8-25786fd48261"
          },
          {
            "applicationId": "a0be0c72-870e-46f0-9c49-c98333a996f7",
            "roleDefinitionId": "7ce22727-ffce-45a9-930c-ddb2e56fa131"
          },
          {
            "applicationId": "486c78bf-a0f7-45f1-92fd-37215929e116",
            "roleDefinitionId": "98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"
          },
          {
            "applicationId": "19947cfd-0303-466c-ac3c-fcc19a7a1570",
            "roleDefinitionId": "d813ab6c-bfb7-413e-9462-005b21f0ce09"
          },
          {
            "applicationId": "341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd",
            "roleDefinitionId": "8141843c-c51c-4c1e-a5bf-0d351594b86c"
          },
          {
            "applicationId": "328fd23b-de6e-462c-9433-e207470a5727",
            "roleDefinitionId": "79e29e06-4056-41e5-a6b2-959f1f47747e"
          },
          {
            "applicationId": "6d057c82-a784-47ae-8d12-ca7b38cf06b4",
            "roleDefinitionId": "c27dd31e-c1e5-4ab0-93e1-a12ba34f182e"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "virtualNetworks",
            "locations": [
              "West US",
              "East US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "North Central US",
              "South Central US",
              "Central US",
              "East US 2",
              "Japan East",
              "Japan West",
              "Brazil South",
              "Australia East",
              "Australia Southeast",
              "Central India",
              "South India",
              "West India",
              "Canada Central",
              "Canada East",
              "West Central US",
              "West US 2",
              "UK West",
              "UK South",
              "Korea Central",
              "Korea South",
              "France Central",
              "Australia Central",
              "South Africa North",
              "UAE North",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "Central US EUAP",
              "East US 2 EUAP"
            ],
            "apiVersions": [
              "2020-06-01",
              "2020-05-01",
              "2020-04-01",
              "2020-03-01",
              "2020-01-01",
              "2019-12-01",
              "2019-11-01",
              "2019-09-01",
              "2019-08-01",
              "2019-07-01",
              "2019-06-01",
              "2019-04-01",
              "2019-02-01",
              "2018-12-01",
              "2018-11-01",
              "2018-10-01",
              "2018-08-01",
              "2018-07-01",
              "2018-06-01",
              "2018-05-01",
              "2018-04-01",
              "2018-03-01",
              "2018-02-01",
              "2018-01-01",
              "2017-11-01",
              "2017-10-01",
              "2017-09-01",
              "2017-08-01",
              "2017-06-01",
              "2017-04-01",
              "2017-03-01",
              "2016-12-01",
              "2016-11-01",
              "2016-10-01",
              "2016-09-01",
              "2016-08-01",
              "2016-07-01",
              "2016-06-01",
              "2016-03-30",
              "2015-06-15",
              "2015-05-01-preview",
              "2014-12-01-preview"
            ],
            "apiProfiles": [
              {
                "profileVersion": "2017-03-09-profile",
                "apiVersion": "2015-06-15"
              },
              {
                "profileVersion": "2018-03-01-hybrid",
                "apiVersion": "2017-10-01"
              },
              {
                "profileVersion": "2019-03-01-hybrid",
                "apiVersion": "2017-10-01"
              }
            ],
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove"
          },
          {
            "resourceType": "natGateways",
            "locations": [
              "West US",
              "East US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "North Central US",
              "South Central US",
              "Central US",
              "East US 2",
              "Japan East",
              "Japan [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/csmrg5838?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "East US 2 EUAP"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1026"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg5838",
        "name": "csmrg5838",
        "location": "eastus2euap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg5838/providers/Microsoft.Network/publicIPAddresses/ipname7896?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "East US 2 EUAP",
        "tags": {
          "key": "value"
        },
        "properties": {
          "publicIPAllocationMethod": "Dynamic",
          "dnsSettings": {
            "domainNameLabel": "domain1180"
          },
          "idleTimeoutInMinutes": 16
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2euap/operations/b0b9299e-85b3-452c-9d7d-e14ce70855d5?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1025"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022ipname7896\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg5838/providers/Microsoft.Network/publicIPAddresses/ipname7896\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022d00cc60e-2934-48d0-9096-c9d32061fd03\\\u0022\u0022,\r\n",
        "  \u0022location\u0022: \u0022[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2euap/operations/b0b9299e-85b3-452c-9d7d-e14ce70855d5?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "9194"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022Succeeded\u0022\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg5838/providers/Microsoft.Network/publicIPAddresses/ipname7896?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022b6f2ebbe-60da-4c2b-9e94-21277c2936b2\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "9193"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022ipname7896\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg5838/providers/Microsoft.Network/publicIPAddresses/ipname7896\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022b6f2ebbe-60da-4c2b-9e94-21277c2936b2\\\u0022\u002[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg5838/providers/Microsoft.Network/publicIPAddresses/ipname7896?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Basic"
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg5838/providers/Microsoft.Network/publicIPAddresses/ipname7896",
        "location": "eastus2euap",
        "tags": {
          "key": "value"
        },
        "properties": {
          "publicIPAllocationMethod": "Dynamic",
          "publicIPAddressVersion": "IPv4",
          "dnsSettings": {
            "domainNameLabel": "domain1180",
            "fqdn": "domain1180.eastus2euap.cloudapp.azure.com",
            "reverseFqdn": "domain1180.eastus2euap.cloudapp.azure.com"
          },
          "ipTags": [],
          "idleTimeoutInMinutes": 16
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2euap/operations/9fac84ae-77a8-4672-b9cc-5d294cc82bc6?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1024"
 [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg5838/providers/Microsoft.Network/publicIPAddresses?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "9[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/publicIPAddresses?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "4c83a40e-faf2-4427-8318-ce101352b0bf",
          "6a712a18-d33a-4493-a447-bf46604cca1a",
          "e6ee3fd7-672a-4ebe-9ce5-540941db6979"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "9186"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "pip7130",
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar3634/providers/Microsoft.Network/publicIPAddresses/pip7130",
            "etag": "W/\u0022b466805a-b567-431c-9012-b372f0c92b87\u0022",
            "location": "northeurope",
            "tags": {
              "key": "value"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "resourceGuid": "7eb84a21-d559-42f1-ada3-865ffd24de54",
              "publicIPAddressVersion": "IPv4",
              "publicIPAllocationMethod": "Dynamic",
              "idleTimeoutInMinutes": 4,
              "dnsSettings": {
                "domainNameLabel": "dn7016",
                "fqdn": "dn7016.northeurope.cloudapp.azure.com"
              },
              "ipTags": []
            },
            "type": "Microsoft.Network/publicIPAddresses",
            "sku": {
              "name": "Basic"
            }
          },
          {
            "name": "azsmnet5615-ip",
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet2344/providers/Microsoft.Network/publicIPAddresses/azsmnet5615-ip",
            "etag": "W/\u002257027daf-a1d6-4949-a04a-755873c51981\u0022",
            "location": "westus2",
            "properties": {
              "provisioningState": "Succeeded",
              "resourceGuid": "57f406b1-2c03-4136-aed0-7051a7540ef3",
              "publicIPAddressVersion": "IPv4",
              "publicIPAllocationMethod": "Dynamic",
              "idleTimeoutInMinutes": 4,
              "ipTags": [],
              "ipConfiguration": {
                "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet2344/providers/Microsoft.Network/networkInterfaces/azsmnet8566/ipConfigurations/ipconfig1"
              }
            },
            "type": "Microsoft.Network/publicIPAddresses",
            "sku": {
              "name": "Basic"
            }
          },
          {
            "name": "ipname7896",
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg5838/providers/Microsoft.Network/publicIPAddresses/ipname7896",
            "etag": "W/\u0022f5556f83-7c2c-42c3-ace6-660ced0fb495\u0022",
            "location": "eastus2euap",
            "tags": {
              "key": "value"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "resourceGuid": "167c49fc-bee0-498c-b83e-51189110874a",
              "publicIPAddressVersion": "IPv4",
              "publicIPAllocationMethod": "Dynamic",
              "idleTimeoutInMinutes": 16,
              "dnsSettings": {
                "domainNameLabel": "domain1180",
                "fqdn": "domain1180.eastus2euap.cloudapp.azure.com",
                "reverseFqdn": "domain1180.eastus2euap.cloudapp.azure.com"
              },
              "ipTags": []
            },
            "type": "Microsoft.Network/publicIPAddresses",
            "sku": {
              "name": "Basic"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg5838/providers/Microsoft.Network/publicIPAddresses/ipname7896?api-version=2020-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2euap/operations/b7aaf03e-4be9-41da-935b-a072cf0f20cb?api-version=2020-04-01",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2euap/operationResults/b7aaf03e-4be9-41da-935b-a072cf0f20cb?api-version=2020-04-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14859"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg5838/providers/Microsoft.Network/publicIPAddresses?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "9183"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022value\u0022: []\r\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "378490499",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb"
  }
}