{
  "Entries": [
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/Notebook51465148?api-version=2020-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "Notebook51465148",
        "properties": {
          "metadata": {
            "language_info": {
              "name": "Python"
            }
          },
          "nbformat": 4,
          "nbformat_minor": 2,
          "cells": []
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testsynapseworkspace.dev.azuresynapse.net/notebookOperationResults/e57984aa-a1c7-4ab0-9f90-e8e37431c3a1?api-version=2020-12-01",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/notebooks/Notebook51465148",
        "recordId": 2424363,
        "state": "Updating",
        "created": "2021-09-30T06:18:58.7133333Z",
        "changed": "2021-09-30T06:34:27.3933333Z",
        "type": "Notebook",
        "name": "Notebook51465148",
        "operationId": "e57984aa-a1c7-4ab0-9f90-e8e37431c3a1",
        "artifactId": "3243ff1d-37a5-40b1-8b3f-ebbed51f33cf"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebookOperationResults/e57984aa-a1c7-4ab0-9f90-e8e37431c3a1?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testsynapseworkspace.dev.azuresynapse.net/notebookOperationResults/e57984aa-a1c7-4ab0-9f90-e8e37431c3a1?api-version=2020-12-01",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebookOperationResults/e57984aa-a1c7-4ab0-9f90-e8e37431c3a1?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/notebooks/Notebook51465148",
        "name": "Notebook51465148",
        "type": "Microsoft.Synapse/workspaces/notebooks",
        "properties": {
          "nbformat": 4,
          "nbformat_minor": 2,
          "entityState": null,
          "renameOperationDetails": null,
          "bigDataPool": null,
          "sessionProperties": null,
          "metadata": {
            "language_info": {
              "name": "Python"
            },
            "a365ComputeOptions": null,
            "sessionKeepAliveTimeout": 0
          },
          "cells": [],
          "folder": null
        },
        "etag": "2e00eb87-0000-0100-0000-6155681c0000"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/notebooks/Notebook 1",
            "name": "Notebook 1",
            "type": "Microsoft.Synapse/workspaces/notebooks",
            "etag": "1700db78-0000-0100-0000-60f7a2160000",
            "properties": {
              "nbformat": 4,
              "nbformat_minor": 2,
              "entityState": null,
              "renameOperationDetails": null,
              "bigDataPool": {
                "referenceName": "testsparkpool",
                "type": "BigDataPoolReference"
              },
              "sessionProperties": {
                "driverMemory": "28g",
                "driverCores": 4,
                "executorMemory": "28g",
                "executorCores": 4,
                "numExecutors": 1,
                "conf": {
                  "spark.dynamicAllocation.enabled": "false",
                  "spark.dynamicAllocation.minExecutors": "1",
                  "spark.dynamicAllocation.maxExecutors": "1"
                }
              },
              "metadata": {
                "language_info": {
                  "name": "python"
                },
                "a365ComputeOptions": {
                  "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/bigDataPools/testsparkpool",
                  "name": "testsparkpool",
                  "type": "Spark",
                  "endpoint": "https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool",
                  "auth": {
                    "type": "AAD",
                    "authResource": "https://dev.azuresynapse.net"
                  },
                  "sparkVersion": "2.4",
                  "nodeCount": 3,
                  "cores": 8,
                  "memory": 56,
                  "extraHeader": null
                },
                "sessionKeepAliveTimeout": 30,
                "saveOutput": true,
                "synapse_widget": {
                  "version": "0.1",
                  "state": {}
                },
                "kernelspec": {
                  "name": "synapse_pyspark",
                  "display_name": "python"
                }
              },
              "cells": [
                {
                  "cell_type": "code",
                  "metadata": {},
                  "source": "Sanitized",
                  "attachments": {},
                  "outputs": [],
                  "execution_count": null
                }
              ],
              "folder": {
                "name": "nbfolder"
              }
            }
          },
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/notebooks/dongwwaTestNotebook",
            "name": "dongwwaTestNotebook",
            "type": "Microsoft.Synapse/workspaces/notebooks",
            "etag": "0100d5a0-0000-0100-0000-5ec[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/Notebook%201?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/dongwwaTestNotebook?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/pr[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/dongwwaNb2?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/M[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/dongwwanb23?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/dongwwatestnb1446?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/notebooks/dongwwatestnb1446",
        "name": "dongwwatestnb1446",
        "type": "Microsoft.Synapse/workspaces/notebooks",
        "properties": {
          "nbformat": 4,
          "nbformat_minor": 2,
          "entityState": null,
          "renameOperationDetails": null,
          "bigDataPool": null,
          "sessionProperties": {
            "driverMemory": "28g",
            "driverCores": 4,
            "executorMemory": "28g",
            "executorCores": 4,
            "numExecutors": 2,
            "conf": null
          },
          "metadata": {
            "language_info": {
              "name": "python"
            },
            "a365ComputeOptions": null,
            "sessionKeepAliveTimeout": 30
          },
          "cells": [],
          "folder": null
        },
        "etag": "5f0029d3-0000-0100-0000-5f06bd6a0000"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/dongwwaCreateNbwithCell?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-r[...]
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/dwnb1218?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Mic[...]
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/dongwwanb?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Mi[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/dongwwanb1?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/notebooks/dongwwanb1",
        "name": "dongwwanb1",
        "type": "Microsoft.Synapse/workspaces/notebooks",
        "properties": {
          "nbformat": 4,
          "nbformat_minor": 0,
          "entityState": null,
          "renameOperationDetails": null,
          "bigDataPool": null,
          "sessionProperties": null,
          "metadata": {
            "language_info": null,
            "a365ComputeOptions": null,
            "sessionKeepAliveTimeout": 0,
            "application/vnd.databricks.v1\u002Bnotebook": {
              "notebookName": "config",
              "dashboards": [],
              "language": "python",
              "widgets": {},
              "notebookOrigID": 1159393715563015
            }
          },
          "cells": [
            {
              "cell_type": "markdown",
              "metadata": {
                "application/vnd.databricks.v1\u002Bcell": {
                  "title": "",
                  "showTitle": false,
                  "inputWidgets": {},
                  "nuid": "ec9689e6-a215-42cf-aa9f-85a38cca6362"
                }
              },
              "source": "Sanitized",
              "attachments": null,
              "outputs": [],
              "execution_count": null
            },
            {
              "cell_type": "code",
              "metadata": {
                "application/vnd.databricks.v1\u002Bcell": {
                  "title": "",
                  "showTitle": false,
                  "inputWidgets": {},
                  "nuid": "4eb23c41-ffd4-412f-a887-102462d4d316"
                }
              },
              "source": "Sanitized",
              "attachments": null,
              "outputs": [
                {
                  "output_type": "display_data",
                  "data": {
                    "text/html": [
                      "\u003Cstyle scoped\u003E\n  .ansiout {\n    display: block;\n    unicode-bidi: embed;\n    white-space: pre-wrap;\n    word-wrap: break-word;\n    word-break: break-all;\n    font-family: \u0022Source Code Pro\u0022, \u0022Menlo\u0022, monospace;;\n    font-size: 13px;\n    color: #555;\n    margin-left: 4px;\n    line-height: 19px;\n  }\n\u003C/style\u003E\n\u003Cdiv class=\u0022ansiout\u0022\u003E\u003C/div\u003E"
                    ]
                  },
                  "metadata": {
                    "application/vnd.databricks.v1\u002Boutput": {
                      "datasetInfos": [],
                      "data": "\u003Cdiv class=\u0022ansiout\u0022\u003E\u003C/div\u003E",
                      "removedWidgets": [],
                      "addedWidgets": {},
                      "type": "html",
                      "arguments": {}
                    }
                  }
                }
              ],
              "execution_count": 0
            },
            {
              "cell_type": "code",
              "metadata": {
                "application/vnd.databricks.v1\u002Bcell": {
                  "title": "",
                  "showTitle": false,
                  "inputWidgets": {},
                  "nuid": "b5c38c38-a7f7-43f5-a15c-e387079ac8d7"
                }
              },
              "source": [...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/testclinb?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Mi[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/HelloWorld?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/M[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/notebook-04-14-00-07?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/p[...]
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/BRMSRule?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Mic[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/dwtestnbdescription?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/pr[...]
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebookOperationResults/5a766667-bc5e-465a-ab08-02180b44cf0e?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://testsynapseworkspace.dev.azuresynapse.net",
    "RandomSeed": "963561127"
  }
}