{
  "Entries": [
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/Notebook82429219?api-version=2020-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "Notebook82429219",
        "properties": {
          "metadata": {
            "language_info": {
              "name": "Python"
            }
          },
          "nbformat": 4,
          "nbformat_minor": 2,
          "cells": []
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testsynapseworkspace.dev.azuresynapse.net/notebookOperationResults/f6cd2df0-cdba-46b0-a521-f6482a640c45?api-version=2020-12-01",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/notebooks/Notebook82429219",
        "recordId": 2424373,
        "state": "Updating",
        "created": "2021-09-30T06:19:13.9633333Z",
        "changed": "2021-09-30T06:19:15.0366667Z",
        "type": "Notebook",
        "name": "Notebook82429219",
        "operationId": "f6cd2df0-cdba-46b0-a521-f6482a640c45",
        "artifactId": "3549a878-3dc0-4614-bf4b-7478da575e2d"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebookOperationResults/f6cd2df0-cdba-46b0-a521-f6482a640c45?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testsynapseworkspace.dev.azuresynapse.net/notebookOperationResults/f6cd2df0-cdba-46b0-a521-f6482a640c45?api-version=2020-12-01",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebookOperationResults/f6cd2df0-cdba-46b0-a521-f6482a640c45?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/notebooks/Notebook82429219",
        "name": "Notebook82429219",
        "type": "Microsoft.Synapse/workspaces/notebooks",
        "properties": {
          "nbformat": 4,
          "nbformat_minor": 2,
          "entityState": null,
          "renameOperationDetails": null,
          "bigDataPool": null,
          "sessionProperties": null,
          "metadata": {
            "language_info": {
              "name": "Python"
            },
            "a365ComputeOptions": null,
            "sessionKeepAliveTimeout": 0
          },
          "cells": [],
          "folder": null
        },
        "etag": "2e001e88-0000-0100-0000-615568630000"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "{\u0022value\u0022:[{\u0022id\u0022:\u0022/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/Notebook%201?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/notebooks/Notebook 1",
        "name": "Notebook 1",
        "type": "Microsoft.Synapse/workspaces/notebooks",
        "properties": {
          "nbformat": 4,
          "nbformat_minor": 2,
          "entityState": null,
          "renameOperationDetails": null,
          "bigDataPool": {
            "referenceName": "testsparkpool",
            "type": "BigDataPoolReference"
          },
          "sessionProperties": {
            "driverMemory": "28g",
            "driverCores": 4,
            "executorMemory": "28g",
            "executorCores": 4,
            "numExecutors": 1,
            "conf": {
              "spark.dynamicAllocation.enabled": "false",
              "spark.dynamicAllocation.minExecutors": "1",
              "spark.dynamicAllocation.maxExecutors": "1"
            }
          },
          "metadata": {
            "language_info": {
              "name": "python"
            },
            "a365ComputeOptions": {
              "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/bigDataPools/testsparkpool",
              "name": "testsparkpool",
              "type": "Spark",
              "endpoint": "https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool",
              "auth": {
                "type": "AAD",
                "authResource": "https://dev.azuresynapse.net"
              },
              "sparkVersion": "2.4",
              "nodeCount": 3,
              "cores": 8,
              "memory": 56,
              "extraHeader": null
            },
            "sessionKeepAliveTimeout": 30,
            "saveOutput": true,
            "synapse_widget": {
              "version": "0.1",
              "state": {}
            },
            "kernelspec": {
              "name": "synapse_pyspark",
              "display_name": "python"
            }
          },
          "cells": [
            {
              "cell_type": "code",
              "metadata": {},
              "source": [
                "print(\u0022hello from portal\u0022)"
              ],
              "attachments": {},
              "outputs": [],
              "execution_count": null
            }
          ],
          "folder": {
            "name": "nbfolder"
          }
        },
        "etag": "1700db78-0000-0100-0000-60f7a2160000"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/dongwwaTestNotebook?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/pr[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/dongwwaNb2?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/M[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/dongwwanb23?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/dongwwatestnb1446?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/notebooks/dongwwatestnb1446",
        "name": "dongwwatestnb1446",
        "type": "Microsoft.Synapse/workspaces/notebooks",
        "properties": {
          "nbformat": 4,
          "nbformat_minor": 2,
          "entityState": null,
          "renameOperationDetails": null,
          "bigDataPool": null,
          "sessionProperties": {
            "driverMemory": "28g",
            "driverCores": 4,
            "executorMemory": "28g",
            "executorCores": 4,
            "numExecutors": 2,
            "conf": null
          },
          "metadata": {
            "language_info": {
              "name": "python"
            },
            "a365ComputeOptions": null,
            "sessionKeepAliveTimeout": 30
          },
          "cells": [],
          "folder": null
        },
        "etag": "5f0029d3-0000-0100-0000-5f06bd6a0000"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/dongwwaCreateNbwithCell?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-r[...]
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/dwnb1218?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "{\u0022id\u0022:\u0022/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/provide[...]
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/dongwwanb?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Mi[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/dongwwanb1?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/notebooks/dongwwanb1",
        "name": "dongwwanb1",
        "type": "Microsoft.Synapse/workspaces/notebooks",
        "properties": {
          "nbformat": 4,
          "nbformat_minor": 0,
          "entityState": null,
          "renameOperationDetails": null,
          "bigDataPool": null,
          "sessionProperties": null,
          "metadata": {
            "language_info": null,
            "a365ComputeOptions": null,
            "sessionKeepAliveTimeout": 0,
            "application/vnd.databricks.v1\u002Bnotebook": {
              "notebookName": "config",
              "dashboards": [],
              "language": "python",
              "widgets": {},
              "notebookOrigID": 1159393715563015
            }
          },
          "cells": [
            {
              "cell_type": "markdown",
              "metadata": {
                "application/vnd.databricks.v1\u002Bcell": {
                  "title": "",
                  "showTitle": false,
                  "inputWidgets": {},
                  "nuid": "ec9689e6-a215-42cf-aa9f-85a38cca6362"
                }
              },
              "source": [
                "Copyright (c) Microsoft Corporation. All rights reserved."
              ],
              "attachments": null,
              "outputs": [],
              "execution_count": null
            },
            {
              "cell_type": "code",
              "metadata": {
                "application/vnd.databricks.v1\u002Bcell": {
                  "title": "",
                  "showTitle": false,
                  "inputWidgets": {},
                  "nuid": "4eb23c41-ffd4-412f-a887-102462d4d316"
                }
              },
              "source": [
                "# Disable the verbose log\nimport logging\nlogging.getLogger(\u0022py4j\u0022).setLevel(logging.ERROR)"
              ],
              "attachments": null,
              "outputs": [
                {
                  "output_type": "display_data",
                  "data": {
                    "text/html": [
                      "\u003Cstyle scoped\u003E\n  .ansiout {\n    display: block;\n    unicode-bidi: embed;\n    white-space: pre-wrap;\n    word-wrap: break-word;\n    word-break: break-all;\n    font-family: \u0022Source Code Pro\u0022, \u0022Menlo\u0022, monospace;;\n    font-size: 13px;\n    color: #555;\n    margin-left: 4px;\n    line-height: 19px;\n  }\n\u003C/style\u003E\n\u003Cdiv class=\u0022ansiout\u0022\u003E\u003C/div\u003E"
                    ]
                  },
                  "metadata": {
                    "application/vnd.databricks.v1\u002Boutput": {
                      "datasetInfos": [],
                      "data": "\u003Cdiv class=\u0022ansiout\u0022\u003E\u003C/div\u003E",
                      "removedWidgets": [],
                      "addedWidgets": {},
                      "type": "html",
                      "arguments": {}
                    }
                  }
                }
              ],
              "execution_count": 0
            },
            {
              "cell_type": "code",
              "metadata": {
                "application/vnd.databricks.v1\u002Bcell": {
                  "title": "",
                  "showTitle": false,
                  "inputWidgets": {},
                  "nuid": "b5c38c38-a7f7-43f5-a15c-e387079ac8d7"
                }
              },
              "source": [...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/testclinb?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Mi[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/HelloWorld?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/M[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/notebook-04-14-00-07?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/p[...]
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/BRMSRule?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Mic[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebooks/dwtestnbdescription?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/pr[...]
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/notebookOperationResults/75094c64-e964-4cca-96aa-9b799797f02f?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://testsynapseworkspace.dev.azuresynapse.net",
    "RandomSeed": "767908713"
  }
}