{
  "Entries": [
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/notebooks/Notebook1304990161?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "metadata": {
            "language_info": {
              "name": "Python"
            }
          },
          "nbformat": 4,
          "nbformat_minor": 2,
          "cells": []
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspaceywlive.dev.azuresynapse.net/operationResults/a70e8be0-7d57-47f4-90da-45a0529276c6?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/rg-ywlive/providers/Microsoft.Synapse/workspaces/workspaceywlive/notebooks/Notebook1304990161",
        "recordId": 460281,
        "state": "Creating",
        "created": "2020-09-23T08:57:17.2566667Z",
        "changed": "2020-09-23T08:57:17.2566667Z",
        "type": "Notebook",
        "name": "Notebook1304990161",
        "operationId": "a70e8be0-7d57-47f4-90da-45a0529276c6",
        "artifactId": "1A5E32E5-89E6-42F7-894E-8A327DFFCC5D"
      }
    },
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/operationResults/a70e8be0-7d57-47f4-90da-45a0529276c6?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspaceywlive.dev.azuresynapse.net/operationResults/a70e8be0-7d57-47f4-90da-45a0529276c6?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/operationResults/a70e8be0-7d57-47f4-90da-45a0529276c6?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/rg-ywlive/providers/Microsoft.Synapse/workspaces/workspaceywlive/notebooks/Notebook1304990161",
        "name": "Notebook1304990161",
        "type": "Microsoft.Synapse/workspaces/notebooks",
        "properties": {
          "metadata": {
            "language_info": {
              "name": "Python"
            }
          },
          "nbformat": 4,
          "nbformat_minor": 2,
          "cells": []
        },
        "etag": "77004563-0000-0800-0000-5f6b0df10000"
      }
    },
[...]
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/operationResults/ce88bc6a-afe5-463e-95fc-821adc4ecbeb?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspaceywlive.dev.azuresynapse.net",
    "RandomSeed": "145218629"
  }
}