{
  "Entries": [
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/notebooks/Notebook1980347592?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "metadata": {
            "language_info": {
              "name": "Python"
            }
          },
          "nbformat": 4,
          "nbformat_minor": 2,
          "cells": []
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspaceywlive.dev.azuresynapse.net/operationResults/5801e8a4-e082-45f3-a4a1-6c5ddfcb290f?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/rg-ywlive/providers/Microsoft.Synapse/workspaces/workspaceywlive/notebooks/Notebook1980347592",
        "recordId": 459902,
        "state": "Updating",
        "created": "2020-09-23T08:27:03.06Z",
        "changed": "2020-09-24T06:00:29.92Z",
        "type": "Notebook",
        "name": "Notebook1980347592",
        "operationId": "5801e8a4-e082-45f3-a4a1-6c5ddfcb290f",
        "artifactId": "C460AE4C-0616-43E4-A452-313C69B0936B"
      }
    },
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/operationResults/5801e8a4-e082-45f3-a4a1-6c5ddfcb290f?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspaceywlive.dev.azuresynapse.net/operationResults/5801e8a4-e082-45f3-a4a1-6c5ddfcb290f?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/operationResults/5801e8a4-e082-45f3-a4a1-6c5ddfcb290f?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/rg-ywlive/providers/Microsoft.Synapse/workspaces/workspaceywlive/notebooks/Notebook1980347592",
        "name": "Notebook1980347592",
        "type": "Microsoft.Synapse/workspaces/notebooks",
        "properties": {
          "metadata": {
            "language_info": {
              "name": "Python"
            }
          },
          "nbformat": 4,
          "nbformat_minor": 2,
          "cells": []
        },
        "etag": "91001ef2-0000-0800-0000-5f6c3b5f0000"
      }
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspaceywlive.dev.azuresynapse.net",
    "RandomSeed": "825585454"
  }
}