{
  "Entries": [
    {
      "RequestUri": "/subscriptions/8827b0fb-6039-47eb-a7e8-35ca9d2a7a00/providers/Microsoft.Network.Admin/adminOverview?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"\",\r\n  \"type\": \"Microsoft.Network.Admin/adminOverview\",\r\n  \"location\": \"\",\r\n  \"id\": \"/subscriptions/8827b0fb-6039-47eb-a7e8-35ca9d2a7a00/providers/Microsoft.Network.Admin/adminOverview/\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNetworkHealth\": {\r\n      \"totalResourceCount\": 0,\r\n      \"healthyResourceCount\": 0,\r\n      \"errorResourceCount\": 0,\r\n      \"warningResourceCount\": 0,\r\n      \"healthUnknownCount\": 0\r\n    },\r\n    \"loadBalancerMuxHealth\": {\r\n      \"totalResourceCount\": 1,\r\n      \"healthyResourceCount\": 1,\r\n      \"errorResourceCount\": 0,\r\n      \"warningResourceCount\": 0,\r\n      \"healthUnknownCount\": 0\r\n    },\r\n    \"virtualGatewayHealth\": {\r\n      \"totalResourceCount\": 1,\r\n      \"healthyResourceCount\": 1,\r\n      \"errorResourceCount\": 0,\r\n      \"warningResourceCount\": 0,\r\n      \"healthUnknownCount\": 0\r\n    },\r\n    \"publicIpAddressUsage\": {\r\n      \"totalResourceCount\": 255,\r\n      \"inUseResourceCount\": 31\r\n    },\r\n    \"backendIpUsage\": {\r\n      \"totalResourceCount\": 411,\r\n      \"inUseResourceCount\": 11\r\n    },\r\n    \"macAddressUsage\": {\r\n      \"totalResourceCount\": 3998720,\r\n      \"inUseResourceCount\": 2\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvfbn9Hk0z6V75FpsUQbA576g5Lcq+V+KA3BINEjfqxWFWr67iqBncMCOqjerIVGyxi8S8fUb0Z4bVLexAGNivL+kkcdEf/saflj2xB9pTlkyd4ooUu055VPaHLzjrzcJnPWPndQKiEg8u1TYI90Hn"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14737"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "8827b0fb-6039-47eb-a7e8-35ca9d2a7a00"
  }
}