{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/providers/Microsoft.Search/register?api-version=2016-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1141"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/providers/Microsoft.Search\",\r\n  \"namespace\": \"Microsoft.Search\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"804f4a7a-7d6e-4df7-bf8c-e7f0106e16c2\",\r\n    \"roleDefinitionId\": \"20FA3191-87CF-4C3D-9510-74CCB594A310\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"searchServices\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-08-19\",\r\n        \"2015-02-28\",\r\n        \"2014-07-31-Preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity\"\r\n    },\r\n    {\r\n      \"resourceType\": \"searchServicesCit\",\r\n      \"locations\": [\r\n        \"West US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-08-19\",\r\n        \"2015-02-28\",\r\n        \"2014-07-31-Preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity\"\r\n    },\r\n    {[...]
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourcegroups/azsmnet8013?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1141"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet8013\",\r\n  \"name\": \"azsmnet8013\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet8013/providers/Microsoft.Search/searchServices/azs-9665?api-version=2015-08-19",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"free\"\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2019-03-19T03%3A43%3A22.2520033Z'\""
        ],
        "elapsed-time": [
          "794"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1148"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet8013/providers/Microsoft.Search/searchServices/azs-9665\",\r\n  \"name\": \"azs-9665\",\r\n  \"type\": \"Microsoft.Search/searchServices\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"replicaCount\": 1,\r\n    \"partitionCount\": 1,\r\n    \"status\": \"running\",\r\n    \"statusDetails\": \"\",\r\n    \"provisioningState\": \"succeeded\",\r\n    \"hostingMode\": \"Default\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"free\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet8013/providers/Microsoft.Search/searchServices/azs-9665/listAdminKeys?api-version=2015-08-19",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "elapsed-time": [
          "135"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1148"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"5DD572D1483580C7D15D1F34DC2FDE01\",\r\n  \"secondaryKey\": \"3F973A0757C89CD59DE0A6A9A37D9F80\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet8013/providers/Microsoft.Search/searchServices/azs-9665/listQueryKeys?api-version=2015-08-19",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "elapsed-time": [
          "98"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14959"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": null,\r\n      \"key\": \"D83CB6518589AD7401228DFBE0A088AC\"\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/synonymmaps('azsmnet9370')?api-version=2017-11-11-Preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "api-key": [
          "5DD572D1483580C7D15D1F34DC2FDE01"
        ]
      },
      "ResponseHeaders": {
        "elapsed-time": [
          "42"
        ],
        "OData-Version": [
          "4.0"
        ],
        "Preference-Applied": [
          "odata.include-annotations=\"*\""
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "Content-Language": [
          "en"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"\",\r\n    \"message\": \"No synonymMap with the name 'azsmnet9370' was found in a service named 'azs-9665'.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/synonymmaps?api-version=2017-11-11-Preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"azsmnet9370\",\r\n  \"synonyms\": \"word1,word2\",\r\n  \"format\": \"solr\"\r\n}",
      "RequestHeaders": {
        "api-key": [
          "5DD572D1483580C7D15D1F34DC2FDE01"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"0x8D6AC1D0B10684E\""
        ],
        "Location": [
          "https://azs-9665.search-dogfood.windows-int.net/synonymmaps('azsmnet9370')?api-version=2017-11-11-Preview"
        ],
        "elapsed-time": [
          "19"
        ],
        "OData-Version": [
          "4.0"
        ],
        "Preference-Applied": [
          "odata.include-annotations=\"*\""
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://azs-9665.search-dogfood.windows-int.net/$metadata#synonymmaps/$entity\",\r\n  \"@odata.etag\": \"\\\"0x8D6AC1D0B10684E\\\"\",\r\n  \"name\": \"azsmnet9370\",\r\n  \"format\": \"solr\",\r\n  \"synonyms\": \"word1,word2\",\r\n  \"encryptionKey\": null\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet8013/providers/Microsoft.Search/searchServices/azs-9665?api-version=2015-08-19",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "elapsed-time": [
          "790"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14942"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "GenerateName": [
      "azsmnet8013",
      "azsmnet9370"
    ],
    "GenerateServiceName": [
      "azs-9665"
    ]
  },
  "Variables": {
    "SubscriptionId": "3c729b2a-4f86-4bb2-abe8-4b8647af156c"
  }
}