{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/search?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "collections": [
          "naip-atl"
        ],
        "datetime": "2021-01-01T00:00:00Z/2022-12-31T00:00:00Z",
        "limit": 10
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/geo+json"
      },
      "ResponseBody": {
        "type": "FeatureCollection",
        "features": [
          {
            "id": "ga_m_3308428_ne_16_060_20211115",
            "bbox": [
              -84.566447,
              33.559422,
              -84.495982,
              33.628103
            ],
            "type": "Feature",
            "links": [
              {
                "rel": "collection",
                "type": "application/json",
                "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl"
              },
              {
                "rel": "parent",
                "type": "application/json",
                "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl"
              },
              {
                "rel": "root",
                "type": "application/json",
                "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
              },
              {
                "rel": "self",
                "type": "application/geo+json",
                "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl/items/ga_m_3308428_ne_16_060_20211115"
              }
            ],
            "assets": {
              "image": {
                "href": "https://SANITIZED.blob.core.windows.net/naip-atl-bde3e846/76b/ga_m_3308428_ne_16_060_20211115/image.tif",
                "type": "image/tiff; application=geotiff; profile=cloud-optimized",
                "roles": [
                  "data"
                ],
                "title": "RGBIR COG tile",
                "eo:bands": [
                  {
                    "name": "Red",
                    "common_name": "red"
                  },
                  {
                    "name": "Green",
                    "common_name": "green"
                  },
                  {
                    "name": "Blue",
                    "common_name": "blue"
                  },
                  {
                    "name": "NIR",
                    "common_name": "nir",
                    "description": "near-infrared"
                  }
                ]
              },
              "tilejson": {
                "href": "https://SANITIZED.blob.core.windows.net/naip-atl-bde3e846/76b/ga_m_3308428_ne_16_060_20211115/tilejson.json",
                "type": "application/json",
                "roles": [
                  "tiles"
                ],
                "title": "TileJSON with default rendering"
              },
              "thumbnail": {
                "href": "https://SANITIZED.blob.core.windows.net/naip-atl-bde3e846/76b/ga_m_3308428_ne_16_060_20211115/thumbnail.jpg",
                "type": "image/jpeg",
                "roles": [
                  "thumbnail"
                ],
                "title": "Thumbnail"
              },
              "rendered_preview": {
                "rel": "preview",
                "href": "https://SANITIZED.blob.core.windows.net/naip-atl-bde3e846/76b/ga_m_3308428_ne_16_060_20211115/rendered_preview.png",
                "type": "image/png",
                "roles": [
                  "overview"
                ],
                "title": "Rendered preview"
              }
            },
            "_msft:ts": "2025-10-22T11:16:44.789330Z",
            "geometry": {
              "type": "Polygon",
              "coordinates": [
                [
                  [
                    -84.497927,
                    33.559422
                  ],
                  [
                    -84.495982,
                    33.626733
                  ],
                  [
                    -84.564555,
                    33.628103
                  ],
                  [
                    -84.566447,
                    33.560789
                  ],
                  [
                    -84.497927,
                    33.559422
                  ]
                ]
              ]
            },
            "_msft:etag": "6fa17c77-dc8e-4f36-b11a-cbf5412beecf",
            "collection": "naip-atl",
            "properties": {
              "gsd": 0.6,
              "datetime": "2021-11-15T16:00:00Z",
              "naip:year": "2021",
              "proj:bbox": [
                725910.0,
                3716112.0,
                732276.0,
                3723582.0
              ],
              "proj:epsg": 26916,
              "providers": [
                {
                  "url": "https://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-programs/naip-imagery/",
                  "name": "USDA Farm Service Agency",
                  "roles": [
                    "producer",
                    "licensor"
                  ]
                }
              ],
              "naip:state": "ga",
              "proj:shape": [
                12450,
                10610
              ],
              "proj:transform": [
                0.6,
                0.0,
                725910.0,
                0.0,
                -0.6,
                3723582.0,
                0.0,
                0.0,
                1.0
              ]
            },
            "stac_extensions": [
              "https://stac-extensions.github.io/eo/v1.1.0/schema.json",
              "https://stac-extensions.github.io/projection/v1.1.0/schema.json"
            ],
            "stac_version": "1.0.0"
          },
          {
            "id": "ga_m_3308420_se_16_060_20211115",
            "bbox": [
              -84.566501,
              33.621904,
              -84.495982,
              33.690587
            ],
            "type": "Feature",
            "links": [
              {
                "rel": "collection",
                "type": "application/json",
                "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/n[...]
