{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/1f434626-12ea-5b95-6758-0c4b6432b3ae:d0f4c360-b456-4844-b6e2-040c0d6b0cd7_2019-05-31/billingProfiles?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-service-version": [
          "10.6.1249.547"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Billing/billingAccounts/1f434626-12ea-5b95-6758-0c4b6432b3ae:d0f4c360-b456-4844-b6e2-040c0d6b0cd7_2019-05-31/billingProfiles/DRWP-ID5F-BG7-TGB\",\r\n      \"name\": \"DRWP-ID5F-BG7-TGB\",\r\n      \"properties\": {\r\n        \"billTo\": {\r\n          \"addressLine1\": \"1 Microsoft Way\",\r\n          \"city\": \"Redmond\",\r\n          \"companyName\": \"Test_Test_v-xiaokm_737a8ee286\",\r\n          \"country\": \"US\",\r\n          \"email\": \"v-xiaokm@microsoft.com\",\r\n          \"postalCode\": \"98052\",\r\n          \"region\": \"WA\"\r\n        },\r\n        \"currency\": \"USD\",\r\n        \"displayName\": \"billing group\",\r\n        \"enabledAzurePlans\": [\r\n          {\r\n            \"skuId\": \"0001\",\r\n            \"skuDescription\": \"Microsoft Azure Plan\"\r\n          }\r\n        ],\r\n        \"hasReadAccess\": true,\r\n        \"invoiceDay\": 1,\r\n        \"invoiceEmailOptIn\": false,\r\n        \"invoiceSections\": {\r\n          \"hasMoreResults\": false\r\n        },\r\n        \"poNumber\": \"testOrderNumber\",\r\n        \"spendingLimit\": \"Off\",\r\n        \"status\": \"Active\",\r\n        \"systemId\": \"DRWP-ID5F-BG7-TGB\"\r\n      },\r\n      \"type\": \"Microsoft.Billing/billingAccounts/billingProfiles\"\r\n    },\r\n    {\r\n      \"id\": \"/providers/Microsoft.Billing/billingAccounts/1f434626-12ea-5b95-6758-0c4b6432b3ae:d0f4c360-b456-4844-b6e2-040c0d6b0cd7_2019-05-31/billingProfiles/H2OP-XGPQ-BG7-TGB\",\r\n      \"name\": \"H2OP-XGPQ-BG7-TGB\",\r\n      \"properties\": {\r\n        \"billTo\": {\r\n          \"addressLine1\": \"1 Microsoft Way\",\r\n          \"city\": \"Redmond\",\r\n          \"companyName\": \"Test_Test_v-xiaokm_737a8ee[...]
