{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/1f434626-12ea-5b95-6758-0c4b6432b3ae:d0f4c360-b456-4844-b6e2-040c0d6b0cd7_2019-05-31/billingProfiles/Test_BillingProfile2020GA?api-version=2020-05-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"UpdatedBillingProfileDisplayName\",\r\n    \"poNumber\": \"8901234\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.Billing/billingAccounts/1f434626-12ea-5b95-6758-0c4b6432b3ae:d0f4c360-b456-4844-b6e2-040c0d6b0cd7_2019-05-31/operationResults/putBillingProfile_f0bf3654-a91b-4722-9ec5-ea9bbb33611e?api-version=2020-05-01"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-service-version": [
          "10.6.1249.547"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/1f434626-12ea-5b95-6758-0c4b6432b3ae:d0f4c360-b456-4844-b6e2-040c0d6b0cd7_2019-05-31/operationResults/putBillingProfile_f0bf3654-a91b-4722-9ec5-ea9bbb33611e?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-service-version": [
          "10.6.1249.547"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Billing/billingAccounts/1f434626-12ea-5b95-6758-0c4b6432b3ae:d0f4c360-b456-4844-b6e2-040c0d6b0cd7_2019-05-31/billingProfiles/Test_BillingProfile2020GA\",\r\n  \"name\": \"Test_BillingProfile2020GA\",\r\n  \"properties\": {\r\n    \"billTo\": {\r\n      \"addressLine1\": \"1 Microsoft Way\",\r\n      \"city\": \"Redmond\",\r\n      \"companyName\": \"Contoso Inc.\",\r\n      \"country\": \"US\",\r\n      \"postalCode\": \"98052\",\r\n      \"region\": \"WA\"\r\n    },\r\n    \"currency\": \"USD\",\r\n    \"displayName\": \"UpdatedBillingProfileDisplayName\",\r\n    \"enabledAzurePlans\": [\r\n      {\r\n        \"skuId\": \"0002\",\r\n        \"skuDescription\": \"Microsoft Azure Plan for DevTest\"\r\n      },\r\n      {\r\n        \"skuId\": \"0001\",\r\n        \"skuDescription\": \"Microsoft Azure Plan\"\r\n      }\r\n    ],\r\n    \"hasReadAccess\": true,\r\n    \"invoiceDay\": 5,\r\n    \"invoiceEmailOptIn\": true,\r\n    \"invoiceSections\": {\r\n      \"hasMoreResults\": false,\r\n      \"value\": [\r\n        {\r\n          \"id\": \"/providers/Microsoft.Billing/billingAccounts/1f434626-12ea-5b95-6758-0c4b6432b3ae:d0f4c360-b456-4844-b6e2-040c0d6b0cd7_2019-05-31/billingProfiles/Test_BillingProfile2020GA/invoiceSections/UBRT-7B2T-PJA-TGB\",\r\n          \"name\": \"UBRT-7B2T-PJA-TGB\",\r\n          \"properties\": {\r\n            \"displayName\": \"NewBillingProfileDisplayName\",\r\n            \"systemId\": \"UBRT-7B2T-PJA-TGB\"\r\n          },\r\n          \"type\": \"Microsoft.Billing/billingAccounts/billingProfiles/invoiceSections\"\r\n        }\r\n      ]\r\n    },\r\n    \"poNumber\": \"8901234\",\r\n    \"spendingLimit\": \"Off\",\r\n    \"status\": \"Active\",\r\n    \"systemId\": \"XDQL-TSLK-BG7-TGB\"\r\n  },\r\n  \"type\": \"Microsoft.Billing/billingAccounts/billingProfiles\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "c9386abf-21f8-4937-85df-c14daa258948"
  }
}