{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-951663882?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "endpointName": "someEventHubEndpoint",
        "filter": "$eventType = 'DigitalTwinTelemetryMessages' or $eventType = 'DigitalTwinLifecycleNotification'"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "4b957c85-8e0d-4bec-bfd8-2410719a6dc0",
        "traceresponse": "00-74316ba8aa1c3c2159c336b88e026649-7ac7cd3c9658cafa-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-951663882?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3a771fbe-cb36-4eb5-87ff-643207545a12",
        "traceresponse": "00-40ed727f2ca7de9bf0b8bca60b9851ea-66db618d40fe5217-01"
      },
      "ResponseBody": {
        "id": "someEventRouteId-951663882",
        "endpointName": "someEventHubEndpoint",
        "filter": "$eventType = 'DigitalTwinTelemetryMessages' or $eventType = 'DigitalTwinLifecycleNotification'"
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "46c4317d-75ad-46f9-8b7d-abcb17702f71",
        "traceresponse": "00-f5eae47ae2c6f392a069a7c96d11f2d5-93e5d7bd91babe40-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "someEventRouteId-951663882",
            "endpointName": "someEventHubEndpoint",
            "filter": "$eventType = 'DigitalTwinTelemetryMessages' or $eventType = 'DigitalTwinLifecycleNotification'"
          }
        ],
        "nextLink": null
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-951663882?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "50f87665-d746-480f-90d1-529556b55146",
        "traceresponse": "00-328528b24108ca645d89b785bad5a38e-dca0df7fcef90778-01",
        "x-ms-error-code": "EventRouteNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "EventRouteNotFound",
          "message": "There is no route available that matches the provided input. Check for all valid event routes by calling EventRoute_List. See Swagger example (https://aka.ms/RouteSwSmpl)."
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "733705070"
  }
}
