{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-1814515966?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "endpointName": "someEventHubEndpoint",
        "filter": "$eventType = 'DigitalTwinTelemetryMessages' or $eventType = 'DigitalTwinLifecycleNotification'"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "c2159bcc-75ee-4d88-906e-eef748bb8862",
        "traceresponse": "00-8aa3ee623f3f5483310560868f79abe2-a71ade05e6d87e23-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-1814515966?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9a440f1a-9e86-4eb8-9de3-79aae54a6f3b",
        "traceresponse": "00-5620f8d9b906057cc410ddc533551d85-46251e8776f25f96-01"
      },
      "ResponseBody": {
        "id": "someEventRouteId-1814515966",
        "endpointName": "someEventHubEndpoint",
        "filter": "$eventType = 'DigitalTwinTelemetryMessages' or $eventType = 'DigitalTwinLifecycleNotification'"
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "69c71659-f6a3-4664-8f3e-50d9c1885be7",
        "traceresponse": "00-06992a46fa9d3e892c2338b578a0ae76-89a998139a8b73c3-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "someEventRouteId-1814515966",
            "endpointName": "someEventHubEndpoint",
            "filter": "$eventType = 'DigitalTwinTelemetryMessages' or $eventType = 'DigitalTwinLifecycleNotification'"
          },
          {
            "id": "someEventRouteId-951663882",
            "endpointName": "someEventHubEndpoint",
            "filter": "$eventType = 'DigitalTwinTelemetryMessages' or $eventType = 'DigitalTwinLifecycleNotification'"
          }
        ],
        "nextLink": null
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-1814515966?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7cf60808-b016-4d3b-a442-a6e59f26fa81",
        "traceresponse": "00-ba0284b9677599ac0f477cf83cd16c4c-70c416e9abdf1a71-01",
        "x-ms-error-code": "EventRouteNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "EventRouteNotFound",
          "message": "There is no route available that matches the provided input. Check for all valid event routes by calling EventRoute_List. See Swagger example (https://aka.ms/RouteSwSmpl)."
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "965589353"
  }
}
