{
  "Entries": [
    {
      "RequestUri": "https://vinageshnew.api.wus2.digitaltwins.azure.net/eventroutes/someNonExistantEventRoute?api-version=2020-05-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "EventRouteNotFound",
          "message": "There is no route available that matches the provided input. Check for all valid event routes by calling EventRoute_List. See Swagger example (http://aka.ms/RouteSwSmpl)."
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://vinageshnew.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "52822797"
  }
}