{
  "Entries": [
    {
      "RequestUri": "https://vinageshnew.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-1181382281?api-version=2020-05-31-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "endpointName": "someEventHubEndpoint",
        "filter": "this is not a valid filter string"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "{\u0022error\u0022:{\u0022code\u0022:\u0022EventRouteFilterInvalid\u0022,\u0022message\u0022:\u0022The provided filter is invalid. Parsing error, Line=1, Position=6, Message=Unexpected input \u0027is\u0027. See event route documentation for supported values and structure (http://aka.ms/ADTv2Routes).\u0022}}"
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://vinageshnew.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "347938930"
  }
}