{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-983872584?api-version=2020-05-31-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "endpointName": "someEventHubEndpoint",
        "filter": "this is not a valid filter string"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "EventRouteFilterInvalid",
          "message": "The provided filter is invalid. Parsing error, Line=1, Position=6, Message=Unexpected input \u0027is\u0027. See event route documentation for supported values and structure (http://aka.ms/ADTv2Routes)."
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "870924642"
  }
}