{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-51766273?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "endpointName": "someEventHubEndpoint",
        "filter": "this is not a valid filter string"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b3adc2d7-dc9c-4573-ab32-f026de7ac695",
        "traceresponse": "00-bab6bfa8e1538f4cada7e950556f9f78-2ee7e9f8501bb44e-01"
      },
      "ResponseBody": {
        "error": {
          "code": "EventRouteFilterInvalid",
          "message": "The provided filter is invalid. Parsing error, Line=1, Position=6, Message=Unexpected input \u0027is\u0027. See event route documentation for supported values and structure (https://aka.ms/ADTv2Routes)."
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1649278199"
  }
}
