{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-1656757919?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "endpointName": "someEventHubEndpoint",
        "filter": "$eventType = \u0027DigitalTwinTelemetryMessages\u0027 or $eventType = \u0027DigitalTwinLifecycleNotification\u0027"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "8b286ada-db9a-48e3-ae38-da73a211b5f1",
        "traceresponse": "00-9367747b892a845ed509f4a5ea31a077-9f56333dc9f8ca4c-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-1656757919?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b774656d-f8fe-4318-ba83-5fd4e12931f0",
        "traceresponse": "00-050ee1a5b78ba9ae482a9e5dcb911243-ac7e4d8cbd984b47-01"
      },
      "ResponseBody": {
        "id": "someEventRouteId-1656757919",
        "endpointName": "someEventHubEndpoint",
        "filter": "$eventType = \u0027DigitalTwinTelemetryMessages\u0027 or $eventType = \u0027DigitalTwinLifecycleNotification\u0027"
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f244e315-dfc7-411e-9326-2686f51eb9e8",
        "traceresponse": "00-71280bb8ca6f8f7809a2ffcca3bbc759-012a2c2d7f324145-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "someEventRouteId-1259504181",
            "endpointName": "someEventHubEndpoint",
            "filter": "$eventType = \u0027DigitalTwinTelemetryMessages\u0027 or $eventType = \u0027DigitalTwinLifecycleNotification\u0027"
          },
          {
            "id": "someEventRouteId-1357915648",
            "endpointName": "someEventHubEndpoint",
            "filter": "$eventType = \u0027DigitalTwinTelemetryMessages\u0027 or $eventType = \u0027DigitalTwinLifecycleNotification\u0027"
          },
          {
            "id": "someEventRouteId-1656757919",
            "endpointName": "someEventHubEndpoint",
            "filter": "$eventType = \u0027DigitalTwinTelemetryMessages\u0027 or $eventType = \u0027DigitalTwinLifecycleNotification\u0027"
          },
          {
            "id": "someEventRouteId-892999272",
            "endpointName": "someEventHubEndpoint",
            "filter": "$eventType = \u0027DigitalTwinTelemetryMessages\u0027 or $eventType = \u0027DigitalTwinLifecycleNotification\u0027"
          }
        ],
        "nextLink": null
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-1656757919?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a1992b40-0e9e-481a-93b3-ab8f8badbcb2",
        "traceresponse": "00-8752e85e2a300d7eb19f82970e50e562-dcc80e7429a05e4a-01"
      },
      "ResponseBody": {
        "error": {
          "code": "EventRouteNotFound",
          "message": "There is no route available that matches the provided input. Check for all valid event routes by calling EventRoute_List. See Swagger example (https://aka.ms/RouteSwSmpl)."
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1722279952"
  }
}
