{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-1641947162?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "endpointName": "someEventHubEndpoint",
        "filter": "$eventType = \u0027DigitalTwinTelemetryMessages\u0027 or $eventType = \u0027DigitalTwinLifecycleNotification\u0027"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "50f03560-4e84-4d8a-876f-a59db325e375",
        "traceresponse": "00-c758b130514a6f4c83084418e3c33de5-9db6915caee34528-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-1641947162?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2aa0ff95-e49f-47c1-8ffa-33d4eedf6cda",
        "traceresponse": "00-94ee51d3859b4e479afdbf0dce9ae5d9-6461b7b39c0611fb-01"
      },
      "ResponseBody": {
        "id": "someEventRouteId-1641947162",
        "endpointName": "someEventHubEndpoint",
        "filter": "$eventType = \u0027DigitalTwinTelemetryMessages\u0027 or $eventType = \u0027DigitalTwinLifecycleNotification\u0027"
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0254fde1-0506-4672-8a89-209231122da9",
        "traceresponse": "00-43ee6da875deda4e9465dae2915e9c9f-7e71baf0a93d1855-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "someEventRouteId-1641947162",
            "endpointName": "someEventHubEndpoint",
            "filter": "$eventType = \u0027DigitalTwinTelemetryMessages\u0027 or $eventType = \u0027DigitalTwinLifecycleNotification\u0027"
          },
          {
            "id": "someEventRouteId-1110533101",
            "endpointName": "someEventHubEndpoint",
            "filter": "$eventType = \u0027DigitalTwinTelemetryMessages\u0027 or $eventType = \u0027DigitalTwinLifecycleNotification\u0027"
          }
        ],
        "nextLink": null
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-1641947162?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a5cfebc1-fc62-4a7a-a0f2-f8ded4e2cf52",
        "traceresponse": "00-a546d0c89011b14fa271de73789398d3-e460d404250632b6-01"
      },
      "ResponseBody": {
        "error": {
          "code": "EventRouteNotFound",
          "message": "There is no route available that matches the provided input. Check for all valid event routes by calling EventRoute_List. See Swagger example (https://aka.ms/RouteSwSmpl)."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "385778454"
  }
}
