{
  "Entries": [
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Subject is taking 100mg of ibuprofen twice daily",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Can cause rapid or irregular heartbeat, delirium, panic, psychosis, and heart failure.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "keyPhraseExtractionTasks": [
            {
              "parameters": {
                "model-version": "latest"
              }
            }
          ]
        },
        "displayName": "AnalyzeOperationTest"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidArgument",
          "message": "At least one document is missing a Text attribute."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2105007868",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com"
  }
}