{
  "Entries": [
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.1/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "A developer with SSN 859-98-0987 whose phone number is 800-102-1100 is building tools with our APIs. They work at Microsoft.",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "piiCategories": [
                  "USSocialSecurityNumber"
                ],
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cognitiveweppe.azure-api.net/text/analytics/v3.1/analyze/jobs/268cc2ff-2c18-4b4b-8b97-841de076880d"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.1/analyze/jobs/268cc2ff-2c18-4b4b-8b97-841de076880d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "268cc2ff-2c18-4b4b-8b97-841de076880d",
        "lastUpdateDateTime": "2021-06-18T16:10:17Z",
        "createdDateTime": "2021-06-18T16:09:44Z",
        "expirationDateTime": "2021-06-19T16:09:44Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "entityRecognitionPiiTasks": [
            {
              "lastUpdateDateTime": "2021-06-18T16:10:17.4457949Z",
              "taskName": "PersonallyIdentifiableInformation_latest",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "A developer with SSN *********** whose phone number is 800-102-1100 is building tools with our APIs. They work at Microsoft.",
                    "id": "0",
                    "entities": [
                      {
                        "text": "859-98-0987",
                        "category": "USSocialSecurityNumber",
                        "offset": 21,
                        "length": 11,
                        "confidenceScore": 0.65
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-01-15"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1156890369",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://cognitiveweppe.azure-api.net"
  }
}