{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Tesla stock is up by 400% this year.",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "keyPhraseExtractionTasks": [
            {
              "parameters": {
                "model-version": "latest"
              }
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/6a311b47-37bb-4350-8c82-0909ac1f902f_637483392000000000"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/6a311b47-37bb-4350-8c82-0909ac1f902f_637483392000000000?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "6a311b47-37bb-4350-8c82-0909ac1f902f_637483392000000000",
        "lastUpdateDateTime": "2021-02-08T19:53:35Z",
        "createdDateTime": "2021-02-08T19:53:35Z",
        "expirationDateTime": "2021-02-09T19:53:35Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "details": {
            "lastUpdateDateTime": "2021-02-08T19:53:35Z"
          },
          "completed": 0,
          "failed": 0,
          "inProgress": 0,
          "total": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/6a311b47-37bb-4350-8c82-0909ac1f902f_637483392000000000?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "6a311b47-37bb-4350-8c82-0909ac1f902f_637483392000000000",
        "lastUpdateDateTime": "2021-02-08T19:53:37Z",
        "createdDateTime": "2021-02-08T19:53:35Z",
        "expirationDateTime": "2021-02-09T19:53:35Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "details": {
            "lastUpdateDateTime": "2021-02-08T19:53:37Z"
          },
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "keyPhraseExtractionTasks": [
            {
              "lastUpdateDateTime": "2021-02-08T19:53:37.7761076Z",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "keyPhrases": [
                      "CEO of SpaceX",
                      "Elon Musk",
                      "Tesla"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "Tesla stock",
                      "year"
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2020-07-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1505286662",
    "TEXT_ANALYTICS_ENDPOINT": "https://mariari-westus2-s.cognitiveservices.azure.com/"
  }
}