{
  "Entries": [
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.4/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "A patient with medical id 12345678 whose phone number is 800-102-1100 is going under heart surgery",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "domain": "phi",
                "model-version": "latest",
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ]
        },
        "displayName": "AnalyzeOperationWithPHIDomain"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.4/analyze/jobs/6689664d-aaa5-4bd7-af1b-e646e9f9c4ad"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.4/analyze/jobs/6689664d-aaa5-4bd7-af1b-e646e9f9c4ad?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationWithPHIDomain",
        "jobId": "6689664d-aaa5-4bd7-af1b-e646e9f9c4ad",
        "lastUpdateDateTime": "2021-02-24T16:46:49Z",
        "createdDateTime": "2021-02-24T16:46:49Z",
        "expirationDateTime": "2021-02-25T16:46:49Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithPHIDomain",
            "lastUpdateDateTime": "2021-02-24T16:46:49Z"
          },
          "completed": 0,
          "failed": 0,
          "inProgress": 0,
          "total": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.4/analyze/jobs/6689664d-aaa5-4bd7-af1b-e646e9f9c4ad?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationWithPHIDomain",
        "jobId": "6689664d-aaa5-4bd7-af1b-e646e9f9c4ad",
        "lastUpdateDateTime": "2021-02-24T16:46:49Z",
        "createdDateTime": "2021-02-24T16:46:49Z",
        "expirationDateTime": "2021-02-25T16:46:49Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithPHIDomain",
            "lastUpdateDateTime": "2021-02-24T16:46:49Z"
          },
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "entityRecognitionPiiTasks": [
            {
              "lastUpdateDateTime": "2021-02-24T16:46:49.787323Z",
              "name": "AnalyzeOperationWithPHIDomain",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "A patient with medical id ******** whose phone number is ************ is going under heart surgery",
                    "id": "0",
                    "entities": [
                      {
                        "text": "12345678",
                        "category": "PhoneNumber",
                        "offset": 26,
                        "length": 8,
                        "confidenceScore": 0.8
                      },
                      {
                        "text": "800-102-1100",
                        "category": "PhoneNumber",
                        "offset": 57,
                        "length": 12,
                        "confidenceScore": 0.8
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-01-15"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "390387714",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://ta-s-westeurope.cognitiveservices.azure.com"
  }
}