{
  "Entries": [
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Mi perro y mi gato tienen que ir al veterinario.",
              "language": "es"
            }
          ]
        },
        "tasks": {
          "entityRecognitionTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "domain": "phi",
                "model-version": "latest",
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "keyPhraseExtractionTasks": [
            {
              "parameters": {
                "model-version": "latest"
              }
            }
          ]
        },
        "displayName": "AnalyzeOperationWithMultipleTasks"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/ad99bee7-184e-41f3-ad59-17a01cc73d39_637480800000000000"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/ad99bee7-184e-41f3-ad59-17a01cc73d39_637480800000000000?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationWithMultipleTasks",
        "jobId": "ad99bee7-184e-41f3-ad59-17a01cc73d39_637480800000000000",
        "lastUpdateDateTime": "2021-02-05T23:24:52Z",
        "createdDateTime": "2021-02-05T23:24:52Z",
        "expirationDateTime": "2021-02-06T23:24:52Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithMultipleTasks",
            "lastUpdateDateTime": "2021-02-05T23:24:52Z"
          },
          "completed": 0,
          "failed": 0,
          "inProgress": 0,
          "total": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/ad99bee7-184e-41f3-ad59-17a01cc73d39_637480800000000000?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationWithMultipleTasks",
        "jobId": "ad99bee7-184e-41f3-ad59-17a01cc73d39_637480800000000000",
        "lastUpdateDateTime": "2021-02-05T23:24:54Z",
        "createdDateTime": "2021-02-05T23:24:52Z",
        "expirationDateTime": "2021-02-06T23:24:52Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithMultipleTasks",
            "lastUpdateDateTime": "2021-02-05T23:24:54Z"
          },
          "completed": 1,
          "failed": 0,
          "inProgress": 2,
          "total": 3,
          "keyPhraseExtractionTasks": [
            {
              "name": "AnalyzeOperationWithMultipleTasks",
              "lastUpdateDateTime": "2021-02-05T23:24:54.4145553Z",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "keyPhrases": [
                      "Bill Gates",
                      "Paul Allen",
                      "Microsoft"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "gato",
                      "perro",
                      "veterinario"
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2020-07-01"
              }
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/ad99bee7-184e-41f3-ad59-17a01cc73d39_637480800000000000?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationWithMultipleTasks",
        "jobId": "ad99bee7-184e-41f3-ad59-17a01cc73d39_637480800000000000",
        "lastUpdateDateTime": "2021-02-05T23:24:54Z",
        "createdDateTime": "2021-02-05T23:24:52Z",
        "expirationDateTime": "2021-02-06T23:24:52Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithMultipleTasks",
            "lastUpdateDateTime": "2021-02-05T23:24:54Z"
          },
          "completed": 2,
          "failed": 0,
          "inProgress": 1,
          "total": 3,
          "entityRecognitionTasks": [
            {
              "name": "AnalyzeOperationWithMultipleTasks",
              "lastUpdateDateTime": "2021-02-05T23:24:54.4145553Z",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "entities": [
                      {
                        "text": "Microsoft",
                        "category": "Organization",
                        "offset": 0,
                        "length": 9,
                        "confidenceScore": 0.97
                      },
                      {
                        "text": "Bill Gates",
                        "category": "Person",
                        "offset": 25,
                        "length": 10,
                        "confidenceScore": 1.0
                      },
                      {
                        "text": "Paul Allen",
                        "category": "Person",
                        "offset": 40,
                        "length": 10,
             [...]
[...]
