{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "3",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
         [...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/36a9feb2-b191-476a-9e1a-42278908583e_637479072000000000?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationWithSkipParameter",
        "jobId": "36a9feb2-b191-476a-9e1a-42278908583e_637479072000000000",
        "lastUpdateDateTime": "2021-02-03T00:00:22Z",
        "createdDateTime": "2021-02-03T00:00:22Z",
        "expirationDateTime": "2021-02-04T00:00:22Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithSkipParameter",
            "lastUpdateDateTime": "2021-02-03T00:00:22Z"
          },
          "completed": 0,
          "failed": 0,
          "inProgress": 0,
          "total": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/36a9feb2-b191-476a-9e1a-42278908583e_637479072000000000?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationWithSkipParameter",
        "jobId": "36a9feb2-b191-476a-9e1a-42278908583e_637479072000000000",
        "lastUpdateDateTime": "2021-02-03T00:00:27Z",
        "createdDateTime": "2021-02-03T00:00:22Z",
        "expirationDateTime": "2021-02-04T00:00:22Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithSkipParameter",
            "lastUpdateDateTime": "2021-02-03T00:00:27Z"
          },
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "keyPhraseExtractionTasks": [
            {
              "name": "AnalyzeOperationWithSkipParameter",
              "lastUpdateDateTime": "2021-02-03T00:00:27.2996144Z",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "keyPhrases": [
                      "CEO of SpaceX",
                      "Elon Musk",
                      "Tesla"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "keyPhrases": [
                      "CEO of SpaceX",
                      "Elon Musk",
                      "Tesla"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "CEO of SpaceX",
                      "Elon Musk",
                      "Tesla"
              [...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/36a9feb2-b191-476a-9e1a-42278908583e_637479072000000000?$skip=20\u0026$top=20\u0026showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "Response[...]
[...]
