{
  "Entries": [
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.1/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Tesla stock is up by 400% this year.",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "entityRecognitionTasks": [
            {
              "parameters": {
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "keyPhraseExtractionTasks": [
            {
              "parameters": {}
            }
          ],
          "entityLinkingTasks": [
            {
              "parameters": {
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "sentimentAnalysisTasks": [
            {
              "parameters": {
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ]
        },
        "displayName": "AnalyzeOperationWithMultipleTasks"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cognitiveweppe.azure-api.net/text/analytics/v3.1/analyze/jobs/c39caa54-3e1f-4dc5-bd15-c82afe66cf1d"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.1/analyze/jobs/c39caa54-3e1f-4dc5-bd15-c82afe66cf1d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "c39caa54-3e1f-4dc5-bd15-c82afe66cf1d",
        "lastUpdateDateTime": "2021-06-23T19:50:59Z",
        "createdDateTime": "2021-06-23T19:50:58Z",
        "expirationDateTime": "2021-06-24T19:50:58Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "AnalyzeOperationWithMultipleTasks",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 5,
          "total": 5
        }
      }
    },
[...]
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.1/analyze/jobs/c39caa54-3e1f-4dc5-bd15-c82afe66cf1d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "c39caa54-3e1f-4dc5-bd15-c82afe66cf1d",
        "lastUpdateDateTime": "2021-06-23T19:51:01Z",
        "createdDateTime": "2021-06-23T19:50:58Z",
        "expirationDateTime": "2021-06-24T19:50:58Z",
        "status": "running",
        "errors": [],
        "displayName": "AnalyzeOperationWithMultipleTasks",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 4,
          "total": 5,
          "entityLinkingTasks": [
            {
              "lastUpdateDateTime": "2021-06-23T19:51:01.4316336Z",
              "taskName": "EntityLinking_latest",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "name": "Elon Musk",
                        "matches": [
                          {
                            "text": "Elon Musk",
                            "offset": 0,
                            "length": 9,
                            "confidenceScore": 0.94
                          }
                        ],
                        "language": "en",
                        "id": "Elon Musk",
                        "url": "https://en.wikipedia.org/wiki/Elon_Musk",
                        "dataSource": "Wikipedia"
                      },
                      {
                        "name": "SpaceX",
                        "matches": [
                          {
                            "text": "SpaceX",
                            "offset": 24,
                            "length": 6,
                            "confidenceScore": 0.63
                          }
                        ],
                        "language": "en",
                        "id": "SpaceX",
                        "url": "https://en.wikipedia.org/wiki/SpaceX",
                        "dataSource": "Wikipedia"
                      },
                      {
                        "name": "Tesla, Inc.",
                        "matches": [
                          {
                            "text": "Tesla",
                            "offset": 35,
                            "length": 5,
                            "confidenceScore": 0.47
                          }
                        ],
                        "language": "en",
                        "id": "Tesla, Inc.",
                        "url": "https://en.wikipedia.org/wiki/Tesla,_Inc.",
                        "dataSource": "Wikipedia"
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "entities": [
                      {
                        "name": "Tesla, Inc.",
                        "matches": [
                          {
                            "text": "Tesla",
                            "offset": 0,
                            "length": 5,
                            "confidenceScore": 0.05
                          }
                        ],
                        "language": "en",
                        "id": "Tesla, Inc.",
                        "url": "https://en.wikipedia.org/wiki/Tesla,_Inc.",
                        "dataSource": "Wikipedia"
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2020-02-01"
              }
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.1/analyze/jobs/c39caa54-3e1f-4dc5-bd15-c82afe66cf1d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "c39caa54-3e1f-4dc5-bd15-c82afe66cf1d",
        "lastUpdateDateTime": "2021-06-23T19:52:07Z",
        "createdDateTime": "2021-06-23T19:50:58Z",
        "expirationDateTime": "2021-06-24T19:50:58Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "AnalyzeOperationWithMultipleTasks",
        "tasks": {
          "completed": 5,
          "failed": 0,
          "inProgress": 0,
          "total": 5,
          "entityRecognitionTasks": [
            {
              "lastUpdateDateTime": "2021-06-23T19:52:07.0861499Z",
              "taskName": "NamedEntityRecognition_latest",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "text": "Elon Musk",
                        "category": "Person",
                        "offset": 0,
                        "length": 9,
                        "confidenceScore": 1.0
                      },
                      {
                        "text": "CEO",
                        "category": "PersonType",
                        "offset": 17,
                        "length": 3,
                        "confidenceScore": 0.95
                      },
                      {
                        "text": "SpaceX",
                [...]
