{
  "Entries": [
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Tesla stock is up by 400% this year.",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "entityRecognitionTasks": [
            {
              "parameters": {
                "loggingOptOut": true,
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "loggingOptOut": false,
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "keyPhraseExtractionTasks": [
            {
              "parameters": {
                "loggingOptOut": true
              }
            }
          ],
          "entityLinkingTasks": [
            {
              "parameters": {
                "loggingOptOut": true,
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "sentimentAnalysisTasks": [
            {
              "parameters": {
                "loggingOptOut": true,
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/79256156-1c4e-472a-9bd8-8367086209fe"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/79256156-1c4e-472a-9bd8-8367086209fe",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "79256156-1c4e-472a-9bd8-8367086209fe",
        "lastUpdateDateTime": "2021-09-27T11:43:48Z",
        "createdDateTime": "2021-09-27T11:43:47Z",
        "expirationDateTime": "2021-09-28T11:43:47Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 5,
          "total": 5
        }
      }
    },
[...]
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/79256156-1c4e-472a-9bd8-8367086209fe",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "79256156-1c4e-472a-9bd8-8367086209fe",
        "lastUpdateDateTime": "2021-09-27T11:43:50Z",
        "createdDateTime": "2021-09-27T11:43:47Z",
        "expirationDateTime": "2021-09-28T11:43:47Z",
        "status": "running",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 2,
          "failed": 0,
          "inProgress": 3,
          "total": 5,
          "entityRecognitionTasks": [
            {
              "lastUpdateDateTime": "2021-09-27T11:43:50.7167954Z",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "text": "Elon Musk",
                        "category": "Person",
                        "offset": 0,
                        "length": 9,
                        "confidenceScore": 1.0
                      },
                      {
                        "text": "CEO",
                        "category": "PersonType",
                        "offset": 17,
                        "length": 3,
                        "confidenceScore": 0.95
                      },
                      {
                        "text": "SpaceX",
                        "category": "Organization",
                        "offset": 24,
                        "length": 6,
                        "confidenceScore": 0.99
                      },
                      {
                        "text": "Tesla",
                        "category": "Organization",
                        "offset": 35,
                        "length": 5,
                        "confidenceScore": 0.99
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "entities": [
                      {
                        "text": "Tesla",
                        "category": "Organization",
                        "offset": 0,
                        "length": 5,
                        "confidenceScore": 0.98
                      },
                      {
                        "text": "400%",
                        "category": "Quantity",
                        "subcategory": "Percentage",
                        "offset": 21,
                        "length": 4,
                        "confidenceScore": 0.8
                      },
                      {
                        "text": "this year",
                        "category": "DateTime",
                        "subcategory": "DateRange",
                        "offset": 26,
                        "length": 9,
                        "confidenceScore": 0.8
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "lastUpdateDateTime": "2021-09-27T11:43:50.786588Z",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "********* is the *** of ****** and *****.",
                    "id": "0",
                    "entities": [
                      {
                        "text": "Elon Musk",
                        "category": "Person",
                        "offset": 0,
                        "length": 9,
                        "confidenceScore": 0.99
                      },
                      {
                        "text": "CEO",
                        "category": "PersonType",
              [...]
[...]
