{
  "Entries": [
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "3",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
         [...]
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/717c5a8a-d2a6-4388-8884-71212b4b7dea_637480800000000000?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationWithSkipParameter",
        "jobId": "717c5a8a-d2a6-4388-8884-71212b4b7dea_637480800000000000",
        "lastUpdateDateTime": "2021-02-05T16:45:24Z",
        "createdDateTime": "2021-02-05T16:45:24Z",
        "expirationDateTime": "2021-02-06T16:45:24Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithSkipParameter",
            "lastUpdateDateTime": "2021-02-05T16:45:24Z"
          },
          "completed": 0,
          "failed": 0,
          "inProgress": 0,
          "total": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/717c5a8a-d2a6-4388-8884-71212b4b7dea_637480800000000000?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationWithSkipParameter",
        "jobId": "717c5a8a-d2a6-4388-8884-71212b4b7dea_637480800000000000",
        "lastUpdateDateTime": "2021-02-05T16:45:26Z",
        "createdDateTime": "2021-02-05T16:45:24Z",
        "expirationDateTime": "2021-02-06T16:45:24Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithSkipParameter",
            "lastUpdateDateTime": "2021-02-05T16:45:26Z"
          },
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "keyPhraseExtractionTasks": [
            {
              "name": "AnalyzeOperationWithSkipParameter",
              "lastUpdateDateTime": "2021-02-05T16:45:26.745037Z",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "keyPhrases": [
                      "CEO of SpaceX",
                      "Elon Musk",
                      "Tesla"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "keyPhrases": [
                      "CEO of SpaceX",
                      "Elon Musk",
                      "Tesla"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "CEO of SpaceX",
                      "Elon Musk",
                      "Tesla"
              [...]
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/717c5a8a-d2a6-4388-8884-71212b4b7dea_637480800000000000?$skip=20\u0026$top=20\u0026showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBo[...]
[...]
