{
  "Entries": [
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Tesla stock is up by 400% this year.",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "keyPhraseExtractionTasks": [
            {
              "parameters": {
                "model-version": "latest"
              }
            }
          ]
        },
        "displayName": "AnalyzeOperationWithSkipParameter"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/105e9e6d-d7a9-4a8c-9bea-2bf73ba3e13a_637407360000000000"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/105e9e6d-d7a9-4a8c-9bea-2bf73ba3e13a_637407360000000000?showStats=false\u0026$top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationWithSkipParameter",
        "jobId": "105e9e6d-d7a9-4a8c-9bea-2bf73ba3e13a_637407360000000000",
        "lastUpdateDateTime": "2020-11-12T19:27:06Z",
        "createdDateTime": "2020-11-12T19:27:06Z",
        "expirationDateTime": "2020-11-13T19:27:06Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithSkipParameter",
            "lastUpdateDateTime": "2020-11-12T19:27:06Z"
          },
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/105e9e6d-d7a9-4a8c-9bea-2bf73ba3e13a_637407360000000000?showStats=false\u0026$top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationWithSkipParameter",
        "jobId": "105e9e6d-d7a9-4a8c-9bea-2bf73ba3e13a_637407360000000000",
        "lastUpdateDateTime": "2020-11-12T19:27:06Z",
        "createdDateTime": "2020-11-12T19:27:06Z",
        "expirationDateTime": "2020-11-13T19:27:06Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithSkipParameter",
            "lastUpdateDateTime": "2020-11-12T19:27:06Z"
          },
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "keyPhraseExtractionTasks": [
            {
              "name": "AnalyzeOperationWithSkipParameter",
              "lastUpdateDateTime": "2020-11-12T19:27:06.7592687Z",
              "results": {
                "inTerminalState": true,
                "documents": [
                  {
                    "id": "0",
                    "keyPhrases": [
                      "CEO of SpaceX",
                      "Elon Musk",
                      "Tesla"
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2020-07-01",
                "@nextLink": "http://svc--textanalyticsdispatcher.text-analytics.svc.cluster.local/text/analytics/v3.1-preview.3/jobs/e607da11-c6c5-44d5-87f6-5c77282fa4c5?$skip=1\u0026$top=1"
              }
            }
          ]
        },
        "nextLink": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/105e9e6d-d7a9-4a8c-9bea-2bf73ba3e13a_637407360000000000?$skip=1\u0026$top=1"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1969253882",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com"
  }
}