{
  "Entries": [
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.4/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Subject is taking 100mg of ibuprofen twice daily",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Can cause rapid or irregular heartbeat, delirium, panic, psychosis, and heart failure.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "entityRecognitionTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "stringIndexType": "Utf16CodeUnit"
              }
            },
            {
              "parameters": {
                "model-version": "InvalidVersion",
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "stringIndexType": "Utf16CodeUnit"
              }
            },
            {
              "parameters": {
                "model-version": "InvalidVersion",
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "keyPhraseExtractionTasks": [
            {
              "parameters": {
                "model-version": "latest"
              }
            },
            {
              "parameters": {
                "model-version": "InvalidVersion"
              }
            }
          ],
          "entityLinkingTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "stringIndexType": "Utf16CodeUnit"
              }
            },
            {
              "parameters": {
                "model-version": "InvalidVersion",
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ]
        },
        "displayName": "AnalyzeOperationBatchWithErrorTest"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.4/analyze/jobs/22b57cdc-0ce4-45c5-9da8-0df30ca9d81e"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.4/analyze/jobs/22b57cdc-0ce4-45c5-9da8-0df30ca9d81e?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationBatchWithErrorTest",
        "jobId": "22b57cdc-0ce4-45c5-9da8-0df30ca9d81e",
        "lastUpdateDateTime": "2021-03-03T17:35:54Z",
        "createdDateTime": "2021-03-03T17:35:54Z",
        "expirationDateTime": "2021-03-04T17:35:54Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationBatchWithErrorTest",
            "lastUpdateDateTime": "2021-03-03T17:35:54Z"
          },
          "completed": 0,
          "failed": 0,
          "inProgress": 0,
          "total": 0
        }
      }
    },
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.4/analyze/jobs/22b57cdc-0ce4-45c5-9da8-0df30ca9d81e?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationBatchWithErrorTest",
        "jobId": "22b57cdc-0ce4-45c5-9da8-0df30ca9d81e",
        "lastUpdateDateTime": "2021-03-03T17:35:55Z",
        "createdDateTime": "2021-03-03T17:35:54Z",
        "expirationDateTime": "2021-03-04T17:35:54Z",
        "status": "running",
        "errors": [
          {
            "code": "InvalidRequest",
            "message": "Job task parameter value InvalidVersion is not supported for model-version parameter for job task type PersonallyIdentifiableInformation. Supported values latest,2020-07-01,2021-01-15.",
            "target": "#/tasks/entityRecognitionPiiTasks/1"
          },
          {
            "code": "InvalidRequest",
            "message": "Job task parameter value InvalidVersion is not supported for model-version parameter for job task type NamedEntityRecognition. Supported values latest,2020-04-01,2021-01-15.",
            "target": "#/tasks/entityRecognitionTasks/1"
          },
          {
            "code": "InvalidRequest",
            "message": "Job task parameter value InvalidVersion is not supported for model-version parameter for job task type KeyPhraseExtraction. Supported values latest,2020-07-01.",
            "target": "#/tasks/keyPhraseExtractionTasks/1"
          },
          {
            "code": "InvalidRequest",
            "message": "Job task parameter value InvalidVersion is not supported for model-version parameter for job task type EntityLinking. Supported values latest,2020-02-01.",
            "target": "#/tasks/entityLinkingTasks/1"
          }
        ],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationBatchWithErrorTest",
            "lastUpdateDateTime": "2021-03-03T17:35:55Z"
          },
          "completed": 0,
          "failed": 4,
          "inProgress": 4,
          "total": 8,
          "entityRecognitionTasks": [
            {
              "lastUpdateDateTime": "2021-03-03T17:35:55.9361325Z",
              "name": "AnalyzeOperationBatchWithErrorTest",
              "state": "failed"
            }
          ],
          "entityLinkingTasks": [
            {
              "lastUpdateDateTime": "2021-03-03T17:35:55.9361325Z",
              "name": "AnalyzeOperationBatchWithErrorTest",
              "state": "failed"
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "lastUpdateDateTime": "2021-03-03T17:35:55.9361325Z",
              "name": "AnalyzeOperationBatchWithErrorTest",
              "state": "failed"
            }
          ],
          "keyPhraseExtractionTasks": [
            {
              "lastUpdateDateTime": "2021-03-03T17:35:55.9361325Z",
              "name": "AnalyzeOperationBatchWithErrorTest",
              "state": "failed"
            }
          ]
        }
      }
    },
[...]
