{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Mi perro y mi gato tienen que ir al veterinario.",
              "language": "es"
            }
          ]
        },
        "tasks": {
          "entityRecognitionTasks": [
            {
              "parameters": {
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "keyPhraseExtractionTasks": [
            {
              "parameters": {}
            }
          ],
          "entityLinkingTasks": [
            {
              "parameters": {
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "sentimentAnalysisTasks": [
            {
              "parameters": {
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ]
        },
        "displayName": "AnalyzeOperationWithMultipleTasks"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze/jobs/3025514a-f95e-42dd-bf37-f83f6163091b"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze/jobs/3025514a-f95e-42dd-bf37-f83f6163091b?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "3025514a-f95e-42dd-bf37-f83f6163091b",
        "lastUpdateDateTime": "2021-05-17T22:27:03Z",
        "createdDateTime": "2021-05-17T22:27:03Z",
        "expirationDateTime": "2021-05-18T22:27:03Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "AnalyzeOperationWithMultipleTasks",
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithMultipleTasks",
            "lastUpdateDateTime": "2021-05-17T22:27:03Z"
          },
          "completed": 0,
          "failed": 0,
          "inProgress": 5,
          "total": 5
        }
      }
    },
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze/jobs/3025514a-f95e-42dd-bf37-f83f6163091b?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "3025514a-f95e-42dd-bf37-f83f6163091b",
        "lastUpdateDateTime": "2021-05-17T22:27:04Z",
        "createdDateTime": "2021-05-17T22:27:03Z",
        "expirationDateTime": "2021-05-18T22:27:03Z",
        "status": "running",
        "errors": [],
        "displayName": "AnalyzeOperationWithMultipleTasks",
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithMultipleTasks",
            "lastUpdateDateTime": "2021-05-17T22:27:04Z"
          },
          "completed": 1,
          "failed": 0,
          "inProgress": 4,
          "total": 5,
          "entityLinkingTasks": [
            {
              "lastUpdateDateTime": "2021-05-17T22:27:04.9524484Z",
              "name": "AnalyzeOperationWithMultipleTasks",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "entities": [
                      {
                        "name": "Bill Gates",
                        "matches": [
                          {
                            "text": "Bill Gates",
                            "offset": 25,
                            "length": 10,
                            "confidenceScore": 0.52
                          }
                        ],
                        "language": "en",
                        "id": "Bill Gates",
                        "url": "https://en.wikipedia.org/wiki/Bill_Gates",
                        "dataSource": "Wikipedia"
                      },
                      {
                        "name": "Paul Allen",
                        "matches": [
                          {
                            "text": "Paul Allen",
                            "offset": 40,
                            "length": 10,
                            "confidenceScore": 0.54
                          }
                        ],
                        "language": "en",
                        "id": "Paul Allen",
                        "url": "https://en.wikipedia.org/wiki/Paul_Allen",
                        "dataSource": "Wikipedia"
                      },
                      {
                        "name": "Microsoft",
                        "matches": [
                          {
                            "text": "Microsoft",
                            "offset": 0,
                            "length": 9,
                            "confidenceScore": 0.49
                          }
                        ],
                        "language": "en",
                        "id": "Microsoft",
                        "url": "https://en.wikipedia.org/wiki/Microsoft",
                        "dataSource": "Wikipedia"
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2020-02-01"
              }
            }
          ]
        }
      }
    },
[...]
