{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "3",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
         [...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/analyze/jobs/68e0ab49-d4cc-4e9d-a1f9-5e3fa5b73e02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "68e0ab49-d4cc-4e9d-a1f9-5e3fa5b73e02",
        "lastUpdateDateTime": "2021-08-06T01:50:09Z",
        "createdDateTime": "2021-08-06T01:50:08Z",
        "expirationDateTime": "2021-08-07T01:50:08Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "AnalyzeOperationWithPagination",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/analyze/jobs/68e0ab49-d4cc-4e9d-a1f9-5e3fa5b73e02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "68e0ab49-d4cc-4e9d-a1f9-5e3fa5b73e02",
        "lastUpdateDateTime": "2021-08-06T01:51:16Z",
        "createdDateTime": "2021-08-06T01:50:08Z",
        "expirationDateTime": "2021-08-07T01:50:08Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "AnalyzeOperationWithPagination",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "keyPhraseExtractionTasks": [
            {
              "lastUpdateDateTime": "2021-08-06T01:51:16.1632865Z",
              "taskName": "KeyPhraseExtraction_latest",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "keyPhrases": [
                      "Elon Musk",
                      "CEO",
                      "SpaceX",
                      "Tesla"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "keyPhrases": [
                      "Elon Musk",
                      "CEO",
                      "SpaceX",
                      "Tesla"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "Elon Musk",
                      "CEO",
                      "SpaceX",
[...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/analyze/jobs/68e0ab49-d4cc-4e9d-a1f9-5e3fa5b73e02?$skip=20\u0026$top=3\u0026showStats=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jo[...]
[...]
