{
  "Entries": [
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "A patient with medical id 12345678 whose phone number is 800-102-1100 is going under heart surgery",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "domain": "phi",
                "model-version": "latest"
              }
            }
          ]
        },
        "displayName": "AnalyzeOperationWithPHIDomain"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/11c0bcd0-9ccf-4e37-9b6a-1cfee647699f_637407360000000000"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/11c0bcd0-9ccf-4e37-9b6a-1cfee647699f_637407360000000000?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationWithPHIDomain",
        "jobId": "11c0bcd0-9ccf-4e37-9b6a-1cfee647699f_637407360000000000",
        "lastUpdateDateTime": "2020-11-12T00:04:38Z",
        "createdDateTime": "2020-11-12T00:04:37Z",
        "expirationDateTime": "2020-11-13T00:04:37Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithPHIDomain",
            "lastUpdateDateTime": "2020-11-12T00:04:38Z"
          },
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/11c0bcd0-9ccf-4e37-9b6a-1cfee647699f_637407360000000000?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationWithPHIDomain",
        "jobId": "11c0bcd0-9ccf-4e37-9b6a-1cfee647699f_637407360000000000",
        "lastUpdateDateTime": "2020-11-12T00:04:38Z",
        "createdDateTime": "2020-11-12T00:04:37Z",
        "expirationDateTime": "2020-11-13T00:04:37Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithPHIDomain",
            "lastUpdateDateTime": "2020-11-12T00:04:38Z"
          },
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "entityRecognitionPiiTasks": [
            {
              "name": "AnalyzeOperationWithPHIDomain",
              "lastUpdateDateTime": "2020-11-12T00:04:38.4236181Z",
              "results": {
                "inTerminalState": true,
                "documents": [
                  {
                    "redactedText": "",
                    "id": "0",
                    "entities": [
                      {
                        "text": "12345678",
                        "category": "Phone Number",
                        "offset": 26,
                        "length": 8,
                        "confidenceScore": 0.8
                      },
                      {
                        "text": "800-102-1100",
                        "category": "Phone Number",
                        "offset": 57,
                        "length": 12,
                        "confidenceScore": 0.8
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2020-07-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "390387714",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com"
  }
}