{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Tesla stock is up by 400% this year.",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "keyPhraseExtractionTasks": [
            {
              "parameters": {
                "model-version": "latest"
              }
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/c6f7f1ee-e5da-4aaf-b780-d97dcd02774f_637424640000000000"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/c6f7f1ee-e5da-4aaf-b780-d97dcd02774f_637424640000000000?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "c6f7f1ee-e5da-4aaf-b780-d97dcd02774f_637424640000000000",
        "lastUpdateDateTime": "2020-12-02T22:53:07Z",
        "createdDateTime": "2020-12-02T22:53:07Z",
        "expirationDateTime": "2020-12-03T22:53:07Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "details": {
            "lastUpdateDateTime": "2020-12-02T22:53:07Z"
          },
          "completed": 0,
          "failed": 0,
          "inProgress": 0,
          "total": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/c6f7f1ee-e5da-4aaf-b780-d97dcd02774f_637424640000000000?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "c6f7f1ee-e5da-4aaf-b780-d97dcd02774f_637424640000000000",
        "lastUpdateDateTime": "2020-12-02T22:53:11Z",
        "createdDateTime": "2020-12-02T22:53:07Z",
        "expirationDateTime": "2020-12-03T22:53:07Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "details": {
            "lastUpdateDateTime": "2020-12-02T22:53:11Z"
          },
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "keyPhraseExtractionTasks": [
            {
              "lastUpdateDateTime": "2020-12-02T22:53:11.8830827Z",
              "results": {
                "inTerminalState": true,
                "documents": [
                  {
                    "id": "0",
                    "keyPhrases": [
                      "CEO of SpaceX",
                      "Elon Musk",
                      "Tesla"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "keyPhrases": [
                      "Tesla stock",
                      "year"
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2020-07-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1711546596",
    "TEXT_ANALYTICS_ENDPOINT": "https://mariari-westus2-s.cognitiveservices.azure.com/"
  }
}