{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Tesla stock is up by 400% this year.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "stringIndexType": "Utf16CodeUnit",
              "loggingOptOut": false
            },
            "kind": "PiiEntityRecognition"
          },
          {
            "parameters": {
              "stringIndexType": "Utf16CodeUnit",
              "loggingOptOut": true
            },
            "kind": "EntityRecognition"
          },
          {
            "parameters": {
              "loggingOptOut": true
            },
            "kind": "KeyPhraseExtraction"
          },
          {
            "parameters": {
              "stringIndexType": "Utf16CodeUnit",
              "loggingOptOut": true
            },
            "kind": "EntityLinking"
          },
          {
            "parameters": {
              "stringIndexType": "Utf16CodeUnit",
              "loggingOptOut": true
            },
            "kind": "SentimentAnalysis"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/21156b9b-9bf3-474b-ae06-a64b8ba374ef?api-version=2022-10-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/21156b9b-9bf3-474b-ae06-a64b8ba374ef?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "21156b9b-9bf3-474b-ae06-a64b8ba374ef",
        "lastUpdateDateTime": "2022-10-14T22:15:33Z",
        "createdDateTime": "2022-10-14T22:15:32Z",
        "expirationDateTime": "2022-10-15T22:15:32Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 5,
          "total": 5,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/21156b9b-9bf3-474b-ae06-a64b8ba374ef?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "21156b9b-9bf3-474b-ae06-a64b8ba374ef",
        "lastUpdateDateTime": "2022-10-14T22:15:35Z",
        "createdDateTime": "2022-10-14T22:15:32Z",
        "expirationDateTime": "2022-10-15T22:15:32Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 3,
          "failed": 0,
          "inProgress": 2,
          "total": 5,
          "items": [
            {
              "kind": "PiiEntityRecognitionLROResults",
              "lastUpdateDateTime": "2022-10-14T22:15:35.0304129Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "********* is the *** of ****** and *****.",
                    "id": "0",
                    "entities": [
                      {
                        "text": "Elon Musk",
                        "category": "Person",
                        "offset": 0,
                        "length": 9,
                        "confidenceScore": 0.99
                      },
                      {
                        "text": "CEO",
                        "category": "PersonType",
                        "offset": 17,
                        "length": 3,
                        "confidenceScore": 0.96
                      },
                      {
                        "text": "SpaceX",
                        "category": "Organization",
                        "offset": 24,
                        "length": 6,
                        "confidenceScore": 0.98
                      },
                      {
                        "text": "Tesla",
                        "category": "Organization",
                        "offset": 35,
                        "length": 5,
                        "confidenceScore": 0.98
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "redactedText": "***** stock is up by 400% *********.",
                    "id": "1",
                    "entities": [
                      {
                        "text": "Tesla",
                        "category": "Organization",
                        "offset": 0,
                        "length": 5,
                        "confidenceScore": 0.95
                      },
                      {
                        "text": "this year",
                        "category": "DateTime",
                        "subcategory": "DateRange",
                        "offset": 26,
                        "length": 9,
                        "confidenceScore": 0.8
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-01-15"
              }
            },
            {
              "kind": "EntityRecognitionLROResults",
              "lastUpdateDateTime": "2022-10-14T22:15:34.9617968Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "text": "Elon Musk",
                        "category": "Person",
                        "[...]
[...]
