{
  "Entries": [
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "3",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
         [...]
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/e3a9b19e-814a-41fe-ab07-14c57a42f2e4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "e3a9b19e-814a-41fe-ab07-14c57a42f2e4",
        "lastUpdateDateTime": "2021-09-23T14:42:41Z",
        "createdDateTime": "2021-09-23T14:42:41Z",
        "expirationDateTime": "2021-09-24T14:42:41Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "AnalyzeOperationWithPagination",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/e3a9b19e-814a-41fe-ab07-14c57a42f2e4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "e3a9b19e-814a-41fe-ab07-14c57a42f2e4",
        "lastUpdateDateTime": "2021-09-23T14:42:50Z",
        "createdDateTime": "2021-09-23T14:42:41Z",
        "expirationDateTime": "2021-09-24T14:42:41Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "AnalyzeOperationWithPagination",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "keyPhraseExtractionTasks": [
            {
              "lastUpdateDateTime": "2021-09-23T14:42:50.3741302Z",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "keyPhrases": [
                      "Elon Musk",
                      "CEO",
                      "SpaceX",
                      "Tesla"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "keyPhrases": [
                      "Elon Musk",
                      "CEO",
                      "SpaceX",
                      "Tesla"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "Elon Musk",
                      "CEO",
                      "SpaceX",
[...]
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/e3a9b19e-814a-41fe-ab07-14c57a42f2e4?$skip=20\u0026$top=3\u0026showStats=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "e3a9b19e-8[...]
[...]
