{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "displayName": "AnalyzeOperationWithOpinionMining",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "The park was clean and pretty. The bathrooms and restaurant were not clean.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "opinionMining": true,
              "stringIndexType": "Utf16CodeUnit"
            },
            "kind": "SentimentAnalysis"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/dcc1cb80-7c10-41c9-a008-3a7283884d45?api-version=2022-05-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/dcc1cb80-7c10-41c9-a008-3a7283884d45?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "dcc1cb80-7c10-41c9-a008-3a7283884d45",
        "lastUpdatedDateTime": "2022-07-21T23:22:15Z",
        "createdDateTime": "2022-07-21T23:22:15Z",
        "expirationDateTime": "2022-07-22T23:22:15Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "AnalyzeOperationWithOpinionMining",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/dcc1cb80-7c10-41c9-a008-3a7283884d45?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "dcc1cb80-7c10-41c9-a008-3a7283884d45",
        "lastUpdatedDateTime": "2022-07-21T23:22:23Z",
        "createdDateTime": "2022-07-21T23:22:15Z",
        "expirationDateTime": "2022-07-22T23:22:15Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "AnalyzeOperationWithOpinionMining",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "SentimentAnalysisLROResults",
              "lastUpdateDateTime": "2022-07-21T23:22:23.2811863Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "sentiment": "mixed",
                    "confidenceScores": {
                      "positive": 0.5,
                      "neutral": 0.0,
                      "negative": 0.5
                    },
                    "sentences": [
                      {
                        "sentiment": "positive",
                        "confidenceScores": {
                          "positive": 0.99,
                          "neutral": 0.0,
                          "negative": 0.0
                        },
                        "offset": 0,
                        "length": 31,
                        "text": "The park was clean and pretty. ",
                        "targets": [
                          {
                            "sentiment": "positive",
                            "confidenceScores": {
                              "positive": 1.0,
                              "negative": 0.0
                            },
                            "offset": 4,
                            "length": 4,
                            "text": "park",
                            "relations": [
                              {
                                "relationType": "assessment",
                                "ref": "#/documents/0/sentences/0/assessments/0"
                              },
                              {
                                "relationType": "assessment",
                                "ref": "#/documents/0/sentences/0/assessments/1"
                              }
                            ]
                          }
                        ],
                        "assessments": [
                          {
                            "sentiment": "positive",
                            "confidenceScores": {
                              "positive": 1.0,
                              "negative": 0.0
                            },
                            "offset": 13,
                            "length": 5,
                            "text": "clean",
                            "isNegated": false
                          },
                          {
                            "sentiment": "positive",
                            "confidenceScores": {
                              "positive": 1.0,
                              "negative": 0.0
                            },
                            "offset": 23,
                            "length": 6,
                            "text": "pretty",
                            "isNegated": false
                          }
     [...]
