{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.4/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Subject is taking 100mg of ibuprofen twice daily",
              "language": "en"
            },
            {
              "id": "1",
              "text": "",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "keyPhraseExtractionTasks": [
            {
              "parameters": {
                "model-version": "InvalidVersion"
              }
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.4/analyze/jobs/50f346e4-fcdc-4a95-aa81-800276087d8d"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.4/analyze/jobs/50f346e4-fcdc-4a95-aa81-800276087d8d?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "50f346e4-fcdc-4a95-aa81-800276087d8d",
        "lastUpdateDateTime": "2021-03-04T00:47:41Z",
        "createdDateTime": "2021-03-04T00:47:41Z",
        "expirationDateTime": "2021-03-05T00:47:41Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "details": {
            "lastUpdateDateTime": "2021-03-04T00:47:41Z"
          },
          "completed": 0,
          "failed": 0,
          "inProgress": 0,
          "total": 0
        }
      }
    },
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.4/analyze/jobs/50f346e4-fcdc-4a95-aa81-800276087d8d?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "50f346e4-fcdc-4a95-aa81-800276087d8d",
        "lastUpdateDateTime": "2021-03-04T00:47:42Z",
        "createdDateTime": "2021-03-04T00:47:41Z",
        "expirationDateTime": "2021-03-05T00:47:41Z",
        "status": "failed",
        "errors": [
          {
            "code": "InvalidRequest",
            "message": "Job task parameter value InvalidVersion is not supported for model-version parameter for job task type KeyPhraseExtraction. Supported values latest,2020-07-01.",
            "target": "#/tasks/keyPhraseExtractionTasks/0"
          }
        ],
        "tasks": {
          "details": {
            "lastUpdateDateTime": "2021-03-04T00:47:42Z"
          },
          "completed": 0,
          "failed": 1,
          "inProgress": 0,
          "total": 1,
          "keyPhraseExtractionTasks": [
            {
              "lastUpdateDateTime": "2021-03-04T00:47:42.113312Z",
              "state": "failed"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2033891722",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://mariari-westus2-s.cognitiveservices.azure.com/"
  }
}