{
  "Entries": [
    {
      "RequestUri": "https://cognitiveusw2dev.azure-api.net/text/analytics/v3.1/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Mi perro y mi gato tienen que ir al veterinario.",
              "language": "es"
            }
          ]
        },
        "tasks": {
          "keyPhraseExtractionTasks": [
            {
              "parameters": {}
            }
          ]
        },
        "displayName": "AnalyzeOperationWithLanguageTest"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cognitiveusw2dev.azure-api.net/text/analytics/v3.1/analyze/jobs/d0383225-ef16-40be-b2b7-b45a763c4b57"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cognitiveusw2dev.azure-api.net/text/analytics/v3.1/analyze/jobs/d0383225-ef16-40be-b2b7-b45a763c4b57",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "d0383225-ef16-40be-b2b7-b45a763c4b57",
        "lastUpdateDateTime": "2021-06-10T17:55:14Z",
        "createdDateTime": "2021-06-10T17:55:14Z",
        "expirationDateTime": "2021-06-11T17:55:14Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "AnalyzeOperationWithLanguageTest",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://cognitiveusw2dev.azure-api.net/text/analytics/v3.1/analyze/jobs/d0383225-ef16-40be-b2b7-b45a763c4b57",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "d0383225-ef16-40be-b2b7-b45a763c4b57",
        "lastUpdateDateTime": "2021-06-10T17:55:24Z",
        "createdDateTime": "2021-06-10T17:55:14Z",
        "expirationDateTime": "2021-06-11T17:55:14Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "AnalyzeOperationWithLanguageTest",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "keyPhraseExtractionTasks": [
            {
              "lastUpdateDateTime": "2021-06-10T17:55:24.330336Z",
              "taskName": "KeyPhraseExtraction_latest",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "keyPhrases": [
                      "Bill Gates",
                      "Paul Allen",
                      "Microsoft"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "Mi",
                      "perro",
                      "gato",
                      "veterinario"
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2064506440",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://cognitiveusw2dev.azure-api.net"
  }
}