{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "displayName": "AnalyzeOperationAnalyzeHealthcareEntitiesWithFhirVersion",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Prescribed 100mg ibuprofen to Jane Doe, taken twice daily.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "fhirVersion": "4.0.1",
              "documentType": "DischargeSummary",
              "stringIndexType": "Utf16CodeUnit"
            },
            "kind": "Healthcare"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/80ca6638-41bc-421c-b2ee-c3c70af422f9?api-version=2022-10-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/80ca6638-41bc-421c-b2ee-c3c70af422f9?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "80ca6638-41bc-421c-b2ee-c3c70af422f9",
        "lastUpdateDateTime": "2022-10-19T05:03:41Z",
        "createdDateTime": "2022-10-19T05:03:41Z",
        "expirationDateTime": "2022-10-20T05:03:41Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "AnalyzeOperationAnalyzeHealthcareEntitiesWithFhirVersion",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/80ca6638-41bc-421c-b2ee-c3c70af422f9?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "80ca6638-41bc-421c-b2ee-c3c70af422f9",
        "lastUpdateDateTime": "2022-10-19T05:03:44Z",
        "createdDateTime": "2022-10-19T05:03:41Z",
        "expirationDateTime": "2022-10-20T05:03:41Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "AnalyzeOperationAnalyzeHealthcareEntitiesWithFhirVersion",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "lastUpdateDateTime": "2022-10-19T05:03:44.2862133Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "offset": 11,
                        "length": 5,
                        "text": "100mg",
                        "category": "Dosage",
                        "confidenceScore": 0.98
                      },
                      {
                        "offset": 17,
                        "length": 9,
                        "text": "ibuprofen",
                        "category": "MedicationName",
                        "confidenceScore": 1.0,
                        "name": "ibuprofen",
                        "links": [
                          {
                            "dataSource": "UMLS",
                            "id": "C0020740"
                          },
                          {
                            "dataSource": "AOD",
                            "id": "0000019879"
                          },
                          {
                            "dataSource": "ATC",
                            "id": "M01AE01"
                          },
                          {
                            "dataSource": "CCPSS",
                            "id": "[...]
