{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Tesla stock is up by 400% this year.",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "keyPhraseExtractionTasks": [
            {
              "parameters": {}
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1/analyze/jobs/dcaa83df-cd2c-462b-ab9f-9095d3e376d6"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1/analyze/jobs/dcaa83df-cd2c-462b-ab9f-9095d3e376d6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "dcaa83df-cd2c-462b-ab9f-9095d3e376d6",
        "lastUpdateDateTime": "2021-06-30T00:21:26Z",
        "createdDateTime": "2021-06-30T00:21:25Z",
        "expirationDateTime": "2021-07-01T00:21:25Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1/analyze/jobs/dcaa83df-cd2c-462b-ab9f-9095d3e376d6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "dcaa83df-cd2c-462b-ab9f-9095d3e376d6",
        "lastUpdateDateTime": "2021-06-30T00:21:40Z",
        "createdDateTime": "2021-06-30T00:21:25Z",
        "expirationDateTime": "2021-07-01T00:21:25Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "keyPhraseExtractionTasks": [
            {
              "lastUpdateDateTime": "2021-06-30T00:21:40.8778915Z",
              "taskName": "KeyPhraseExtraction_latest",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "keyPhrases": [
                      "Elon Musk",
                      "CEO",
                      "SpaceX",
                      "Tesla"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "Tesla stock"
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1711546596",
    "TEXT_ANALYTICS_ENDPOINT": "https://mariari-westus2-s.cognitiveservices.azure.com/"
  }
}