{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "3",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
         [...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze/jobs/36575a78-d141-49df-9b8c-988a391f8524?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "36575a78-d141-49df-9b8c-988a391f8524",
        "lastUpdateDateTime": "2021-05-17T19:51:15Z",
        "createdDateTime": "2021-05-17T19:51:15Z",
        "expirationDateTime": "2021-05-18T19:51:15Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "AnalyzeOperationWithPagination",
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithPagination",
            "lastUpdateDateTime": "2021-05-17T19:51:15Z"
          },
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze/jobs/36575a78-d141-49df-9b8c-988a391f8524?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "36575a78-d141-49df-9b8c-988a391f8524",
        "lastUpdateDateTime": "2021-05-17T19:51:23Z",
        "createdDateTime": "2021-05-17T19:51:15Z",
        "expirationDateTime": "2021-05-18T19:51:15Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "AnalyzeOperationWithPagination",
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithPagination",
            "lastUpdateDateTime": "2021-05-17T19:51:23Z"
          },
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "keyPhraseExtractionTasks": [
            {
              "lastUpdateDateTime": "2021-05-17T19:51:23.7629577Z",
              "name": "AnalyzeOperationWithPagination",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "keyPhrases": [
                      "CEO of SpaceX",
                      "Elon Musk",
                      "Tesla"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "keyPhrases": [
                      "CEO of SpaceX",
                      "Elon Musk",
                      "Tesla"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "CEO of SpaceX",
                      "Elon Musk",
                      "Tesla"
              [...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze/jobs/36575a78-d141-49df-9b8c-988a391f8524?$skip=20\u0026$top=3\u0026showStats=False",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jo[...]
[...]
