{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Mi perro y mi gato tienen que ir al veterinario.",
              "language": "es"
            }
          ]
        },
        "tasks": {
          "keyPhraseExtractionTasks": [
            {
              "parameters": {}
            }
          ]
        },
        "displayName": "AnalyzeOperationWithLanguageTest"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze/jobs/1fe56e7f-100d-4797-8da9-c05fbfd91470"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze/jobs/1fe56e7f-100d-4797-8da9-c05fbfd91470",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "1fe56e7f-100d-4797-8da9-c05fbfd91470",
        "lastUpdateDateTime": "2021-05-27T18:08:27Z",
        "createdDateTime": "2021-05-27T18:08:27Z",
        "expirationDateTime": "2021-05-28T18:08:27Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "AnalyzeOperationWithLanguageTest",
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithLanguageTest",
            "lastUpdateDateTime": "2021-05-27T18:08:27Z"
          },
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze/jobs/1fe56e7f-100d-4797-8da9-c05fbfd91470",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "1fe56e7f-100d-4797-8da9-c05fbfd91470",
        "lastUpdateDateTime": "2021-05-27T18:08:35Z",
        "createdDateTime": "2021-05-27T18:08:27Z",
        "expirationDateTime": "2021-05-28T18:08:27Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "AnalyzeOperationWithLanguageTest",
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithLanguageTest",
            "lastUpdateDateTime": "2021-05-27T18:08:35Z"
          },
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "keyPhraseExtractionTasks": [
            {
              "lastUpdateDateTime": "2021-05-27T18:08:35.3095905Z",
              "name": "AnalyzeOperationWithLanguageTest",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "keyPhrases": [
                      "Bill Gates",
                      "Paul Allen",
                      "Microsoft"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "gato",
                      "perro",
                      "veterinario"
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2020-07-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "915431106",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://mariari-westus2-s.cognitiveservices.azure.com/"
  }
}