{
  "Entries": [
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Mi perro y mi gato tienen que ir al veterinario.",
              "language": "es"
            }
          ]
        },
        "tasks": {
          "keyPhraseExtractionTasks": [
            {
              "parameters": {
                "model-version": "latest"
              }
            }
          ]
        },
        "displayName": "AnalyzeOperationWithLanguageTest"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/92e2229a-df1f-47f1-96a2-523179a03b01_637480800000000000"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/92e2229a-df1f-47f1-96a2-523179a03b01_637480800000000000?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationWithLanguageTest",
        "jobId": "92e2229a-df1f-47f1-96a2-523179a03b01_637480800000000000",
        "lastUpdateDateTime": "2021-02-05T22:45:43Z",
        "createdDateTime": "2021-02-05T22:45:43Z",
        "expirationDateTime": "2021-02-06T22:45:43Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithLanguageTest",
            "lastUpdateDateTime": "2021-02-05T22:45:43Z"
          },
          "completed": 0,
          "failed": 0,
          "inProgress": 0,
          "total": 0
        }
      }
    },
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/92e2229a-df1f-47f1-96a2-523179a03b01_637480800000000000?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationWithLanguageTest",
        "jobId": "92e2229a-df1f-47f1-96a2-523179a03b01_637480800000000000",
        "lastUpdateDateTime": "2021-02-05T22:45:45Z",
        "createdDateTime": "2021-02-05T22:45:43Z",
        "expirationDateTime": "2021-02-06T22:45:43Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithLanguageTest",
            "lastUpdateDateTime": "2021-02-05T22:45:45Z"
          },
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "keyPhraseExtractionTasks": [
            {
              "name": "AnalyzeOperationWithLanguageTest",
              "lastUpdateDateTime": "2021-02-05T22:45:45.9445857Z",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "keyPhrases": [
                      "Bill Gates",
                      "Paul Allen",
                      "Microsoft"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "gato",
                      "perro",
                      "veterinario"
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2020-07-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2064506440",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://ta-s-westeurope.cognitiveservices.azure.com"
  }
}