{
  "Entries": [
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.1/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "The park was clean and pretty. The bathrooms and restaurant were not clean.",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "sentimentAnalysisTasks": [
            {
              "parameters": {
                "opinionMining": true,
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ]
        },
        "displayName": "AnalyzeOperationWithOpinionMining"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cognitiveweppe.azure-api.net/text/analytics/v3.1/analyze/jobs/b8cf71f8-52aa-489e-b097-6a0d221ccc55"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.1/analyze/jobs/b8cf71f8-52aa-489e-b097-6a0d221ccc55",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "b8cf71f8-52aa-489e-b097-6a0d221ccc55",
        "lastUpdateDateTime": "2021-06-23T19:48:24Z",
        "createdDateTime": "2021-06-23T19:48:24Z",
        "expirationDateTime": "2021-06-24T19:48:24Z",
        "status": "running",
        "errors": [],
        "displayName": "AnalyzeOperationWithOpinionMining",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.1/analyze/jobs/b8cf71f8-52aa-489e-b097-6a0d221ccc55",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "b8cf71f8-52aa-489e-b097-6a0d221ccc55",
        "lastUpdateDateTime": "2021-06-23T19:48:37Z",
        "createdDateTime": "2021-06-23T19:48:24Z",
        "expirationDateTime": "2021-06-24T19:48:24Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "AnalyzeOperationWithOpinionMining",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "sentimentAnalysisTasks": [
            {
              "lastUpdateDateTime": "2021-06-23T19:48:37.9373408Z",
              "taskName": "SentimentAnalysis_latest",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "sentiment": "mixed",
                    "confidenceScores": {
                      "positive": 0.5,
                      "neutral": 0.0,
                      "negative": 0.5
                    },
                    "sentences": [
                      {
                        "sentiment": "positive",
                        "confidenceScores": {
                          "positive": 1.0,
                          "neutral": 0.0,
                          "negative": 0.0
                        },
                        "offset": 0,
                        "length": 30,
                        "text": "The park was clean and pretty.",
                        "targets": [
                          {
                            "sentiment": "positive",
                            "confidenceScores": {
                              "positive": 1.0,
                              "negative": 0.0
                            },
                            "offset": 4,
                            "length": 4,
                            "text": "park",
                            "relations": [
                              {
                                "relationType": "assessment",
                                "ref": "#/documents/0/sentences/0/assessments/0"
                              },
                              {
                                "relationType": "assessment",
                                "ref": "#/documents/0/sentences/0/assessments/1"
                              }
                            ]
                          }
                        ],
                        "assessments": [
                          {
                            "sentiment": "positive",
                            "confidenceScores": {
                              "positive": 1.0,
                              "negative": 0.0
                            },
                            "offset": 13,
                            "length": 5,
                            "text": "clean",
                            "isNegated": false
                          },
                          {
                            "sentiment": "positive",
                            "confidenceScores": {
                              "positive": 1.0,
                              "negative": 0.0
                            },
                            "offset": 23,
                            "length": 6,
                            "text": "pretty",
                            "isNegated": false
                          }
     [...]
