{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Mi perro y mi gato tienen que ir al veterinario.",
              "language": "es"
            },
            {
              "id": "3",
              "text": "",
              "language": "es"
            }
          ]
        },
        "tasks": {
          "keyPhraseExtractionTasks": [
            {
              "parameters": {
                "model-version": "latest"
              }
            }
          ]
        },
        "displayName": "AnalyzeOperationTest"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze/jobs/33fde014-072d-45d3-b542-153f140db10e"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze/jobs/33fde014-072d-45d3-b542-153f140db10e?showStats=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "33fde014-072d-45d3-b542-153f140db10e",
        "lastUpdateDateTime": "2021-05-11T16:04:23Z",
        "createdDateTime": "2021-05-11T16:04:23Z",
        "expirationDateTime": "2021-05-12T16:04:23Z",
        "status": "running",
        "errors": [],
        "displayName": "AnalyzeOperationTest",
        "tasks": {
          "details": {
            "name": "AnalyzeOperationTest",
            "lastUpdateDateTime": "2021-05-11T16:04:23Z"
          },
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze/jobs/33fde014-072d-45d3-b542-153f140db10e?showStats=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "33fde014-072d-45d3-b542-153f140db10e",
        "lastUpdateDateTime": "2021-05-11T16:04:34Z",
        "createdDateTime": "2021-05-11T16:04:23Z",
        "expirationDateTime": "2021-05-12T16:04:23Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "AnalyzeOperationTest",
        "tasks": {
          "details": {
            "name": "AnalyzeOperationTest",
            "lastUpdateDateTime": "2021-05-11T16:04:34Z"
          },
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "keyPhraseExtractionTasks": [
            {
              "lastUpdateDateTime": "2021-05-11T16:04:34.0634782Z",
              "name": "AnalyzeOperationTest",
              "state": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 3,
                  "validDocumentsCount": 2,
                  "erroneousDocumentsCount": 1,
                  "transactionsCount": 2
                },
                "documents": [
                  {
                    "id": "1",
                    "keyPhrases": [
                      "Bill Gates",
                      "Paul Allen",
                      "Microsoft"
                    ],
                    "statistics": {
                      "charactersCount": 51,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "gato",
                      "perro",
                      "veterinario"
                    ],
                    "statistics": {
                      "charactersCount": 48,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "3",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid document in request.",
                      "innererror": {
                        "code": "InvalidDocument",
                        "message": "Document text is empty."
                      }
                    }
                  }
                ],
                "modelVersion": "2020-07-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1456992479",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://mariari-westus2-s.cognitiveservices.azure.com/"
  }
}