{
  "Entries": [
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Mi perro y mi gato tienen que ir al veterinario.",
              "language": "es"
            }
          ]
        },
        "tasks": {
          "entityRecognitionTasks": [
            {
              "parameters": {
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "keyPhraseExtractionTasks": [
            {
              "parameters": {}
            }
          ],
          "entityLinkingTasks": [
            {
              "parameters": {
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "sentimentAnalysisTasks": [
            {
              "parameters": {
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ]
        },
        "displayName": "AnalyzeOperationWithMultipleTasks"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/8e6be3ec-355d-4438-8c6a-1d7f90180e8c"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/8e6be3ec-355d-4438-8c6a-1d7f90180e8c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "8e6be3ec-355d-4438-8c6a-1d7f90180e8c",
        "lastUpdateDateTime": "2021-09-23T14:42:30Z",
        "createdDateTime": "2021-09-23T14:42:29Z",
        "expirationDateTime": "2021-09-24T14:42:29Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "AnalyzeOperationWithMultipleTasks",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 5,
          "total": 5
        }
      }
    },
[...]
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/8e6be3ec-355d-4438-8c6a-1d7f90180e8c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "8e6be3ec-355d-4438-8c6a-1d7f90180e8c",
        "lastUpdateDateTime": "2021-09-23T14:42:32Z",
        "createdDateTime": "2021-09-23T14:42:29Z",
        "expirationDateTime": "2021-09-24T14:42:29Z",
        "status": "running",
        "errors": [],
        "displayName": "AnalyzeOperationWithMultipleTasks",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 4,
          "total": 5,
          "entityRecognitionPiiTasks": [
            {
              "lastUpdateDateTime": "2021-09-23T14:42:32.620207Z",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "********* was founded by ********** and **********.",
                    "id": "1",
                    "entities": [
                      {
                        "text": "Microsoft",
                        "category": "Organization",
                        "offset": 0,
                        "length": 9,
                        "confidenceScore": 0.97
                      },
                      {
                        "text": "Bill Gates",
                        "category": "Person",
                        "offset": 25,
                        "length": 10,
                        "confidenceScore": 1.0
                      },
                      {
                        "text": "Paul Allen",
                        "category": "Person",
                        "offset": 40,
                        "length": 10,
                        "confidenceScore": 0.99
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "redactedText": "Mi perro y mi gato tienen que ir al ***********.",
                    "id": "2",
                    "entities": [
                      {
                        "text": "veterinario",
                        "category": "PersonType",
                        "offset": 36,
                        "length": 11,
                        "confidenceScore": 0.96
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-01-15"
              }
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/8e6be3ec-355d-4438-8c6a-1d7f90180e8c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "8e6be3ec-355d-4438-8c6a-1d7f90180e8c",
        "lastUpdateDateTime": "2021-09-23T14:42:38Z",
        "createdDateTime": "2021-09-23T14:42:29Z",
        "expirationDateTime": "2021-09-24T14:42:29Z",
        "status": "running",
        "errors": [],
        "displayName": "AnalyzeOperationWithMultipleTasks",
        "tasks": {
          "completed": 4,
          "failed": 0,
          "inProgress": 1,
          "total": 5,
          "entityLinkingTasks": [
            {
              "lastUpdateDateTime": "2021-09-23T14:42:38.2749246Z",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "entities": [
                      {
                        "bingId": "a093e9b9-90f5-a3d5-c4b8-5855e1b01f85",
                        "name": "Microsoft",
                        "matches": [
                          {
                            "text": "Microsoft",
                            "offset": 0,
                            "length": 9,
                            "confidenceScore": 0.49
                          }
                        ],
                        "language": "en",
                        "id": "Microsoft",
                        "url": "https://en.wikipedia.org/wiki/Microsoft",
                        "dataSource": "Wikipedia"
                      },
                      {
                        "bingId": "0d47c987-0042-5576-15e8-97af601614fa",
                        "name": "Bill Gates",
                        "matches": [
                          {
                            "text": "Bill Gates",
                            "offset": 25,
                            "length": 10,
                            "confidenceScore": 0.52
                          }
                        ],
            [...]
[...]
