{
  "Entries": [
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Subject is taking 100mg of ibuprofen twice daily",
              "language": "en"
            },
            {
              "id": "1",
              "text": "",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "keyPhraseExtractionTasks": [
            {
              "parameters": {}
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/37b99e49-3f42-46dd-b57d-9947a93e10c7"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/37b99e49-3f42-46dd-b57d-9947a93e10c7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "37b99e49-3f42-46dd-b57d-9947a93e10c7",
        "lastUpdateDateTime": "2021-09-27T11:44:11Z",
        "createdDateTime": "2021-09-27T11:44:11Z",
        "expirationDateTime": "2021-09-28T11:44:11Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/37b99e49-3f42-46dd-b57d-9947a93e10c7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "37b99e49-3f42-46dd-b57d-9947a93e10c7",
        "lastUpdateDateTime": "2021-09-27T11:44:15Z",
        "createdDateTime": "2021-09-27T11:44:11Z",
        "expirationDateTime": "2021-09-28T11:44:11Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "keyPhraseExtractionTasks": [
            {
              "lastUpdateDateTime": "2021-09-27T11:44:15.3242616Z",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "keyPhrases": [
                      "Subject",
                      "100mg",
                      "ibuprofen"
                    ],
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "1",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid document in request.",
                      "innererror": {
                        "code": "InvalidDocument",
                        "message": "Document text is empty."
                      }
                    }
                  }
                ],
                "modelVersion": "2021-06-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1508474165",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://cognitiveweppe.azure-api.net"
  }
}