{
  "Entries": [
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Tesla stock is up by 400% this year.",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "keyPhraseExtractionTasks": [
            {
              "parameters": {
                "model-version": "latest"
              }
            }
          ]
        },
        "displayName": "AnalyzeOperationWithSkipParameter"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/0d9a2eae-f8b8-4584-aaed-e7917e311708_637407360000000000"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/0d9a2eae-f8b8-4584-aaed-e7917e311708_637407360000000000?showStats=false\u0026$skip=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationWithSkipParameter",
        "jobId": "0d9a2eae-f8b8-4584-aaed-e7917e311708_637407360000000000",
        "lastUpdateDateTime": "2020-11-12T19:31:39Z",
        "createdDateTime": "2020-11-12T19:31:39Z",
        "expirationDateTime": "2020-11-13T19:31:39Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithSkipParameter",
            "lastUpdateDateTime": "2020-11-12T19:31:39Z"
          },
          "completed": 0,
          "failed": 0,
          "inProgress": 0,
          "total": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/0d9a2eae-f8b8-4584-aaed-e7917e311708_637407360000000000?showStats=false\u0026$skip=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationWithSkipParameter",
        "jobId": "0d9a2eae-f8b8-4584-aaed-e7917e311708_637407360000000000",
        "lastUpdateDateTime": "2020-11-12T19:31:40Z",
        "createdDateTime": "2020-11-12T19:31:39Z",
        "expirationDateTime": "2020-11-13T19:31:39Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationWithSkipParameter",
            "lastUpdateDateTime": "2020-11-12T19:31:40Z"
          },
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "keyPhraseExtractionTasks": [
            {
              "name": "AnalyzeOperationWithSkipParameter",
              "lastUpdateDateTime": "2020-11-12T19:31:40.4562139Z",
              "results": {
                "inTerminalState": true,
                "documents": [
                  {
                    "id": "1",
                    "keyPhrases": [
                      "Tesla stock",
                      "year"
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2020-07-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "418709910",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com"
  }
}