{
  "Entries": [
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "A developer with SSN 859-98-0987 whose phone number is 800-102-1100 is building tools with our APIs. They work at Microsoft.",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "piiCategories": [
                  "USSocialSecurityNumber"
                ],
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/518f3c7a-8373-4ca4-afd3-b005457e145e"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/518f3c7a-8373-4ca4-afd3-b005457e145e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "518f3c7a-8373-4ca4-afd3-b005457e145e",
        "lastUpdateDateTime": "2021-09-23T14:45:12Z",
        "createdDateTime": "2021-09-23T14:45:12Z",
        "expirationDateTime": "2021-09-24T14:45:12Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/518f3c7a-8373-4ca4-afd3-b005457e145e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "518f3c7a-8373-4ca4-afd3-b005457e145e",
        "lastUpdateDateTime": "2021-09-23T14:45:15Z",
        "createdDateTime": "2021-09-23T14:45:12Z",
        "expirationDateTime": "2021-09-24T14:45:12Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "entityRecognitionPiiTasks": [
            {
              "lastUpdateDateTime": "2021-09-23T14:45:15.1898509Z",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "A developer with SSN *********** whose phone number is 800-102-1100 is building tools with our APIs. They work at Microsoft.",
                    "id": "0",
                    "entities": [
                      {
                        "text": "859-98-0987",
                        "category": "USSocialSecurityNumber",
                        "offset": 21,
                        "length": 11,
                        "confidenceScore": 0.65
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-01-15"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1393333091",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://cognitiveweppe.azure-api.net"
  }
}