{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "displayName": "AnalyzeOperationWithMultipleTasks",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Mi perro y mi gato tienen que ir al veterinario.",
              "language": "es"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "stringIndexType": "Utf16CodeUnit"
            },
            "kind": "PiiEntityRecognition"
          },
          {
            "parameters": {
              "stringIndexType": "Utf16CodeUnit"
            },
            "kind": "EntityRecognition"
          },
          {
            "parameters": {},
            "kind": "KeyPhraseExtraction"
          },
          {
            "parameters": {
              "stringIndexType": "Utf16CodeUnit"
            },
            "kind": "EntityLinking"
          },
          {
            "parameters": {
              "stringIndexType": "Utf16CodeUnit"
            },
            "kind": "SentimentAnalysis"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/c96b1a5a-7e3a-47d7-94a2-d4d99603b55a?api-version=2022-10-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/c96b1a5a-7e3a-47d7-94a2-d4d99603b55a?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "c96b1a5a-7e3a-47d7-94a2-d4d99603b55a",
        "lastUpdateDateTime": "2022-10-14T22:16:38Z",
        "createdDateTime": "2022-10-14T22:16:37Z",
        "expirationDateTime": "2022-10-15T22:16:37Z",
        "status": "running",
        "errors": [],
        "displayName": "AnalyzeOperationWithMultipleTasks",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 5,
          "total": 5,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/c96b1a5a-7e3a-47d7-94a2-d4d99603b55a?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "c96b1a5a-7e3a-47d7-94a2-d4d99603b55a",
        "lastUpdateDateTime": "2022-10-14T22:16:39Z",
        "createdDateTime": "2022-10-14T22:16:37Z",
        "expirationDateTime": "2022-10-15T22:16:37Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "AnalyzeOperationWithMultipleTasks",
        "tasks": {
          "completed": 5,
          "failed": 0,
          "inProgress": 0,
          "total": 5,
          "items": [
            {
              "kind": "PiiEntityRecognitionLROResults",
              "lastUpdateDateTime": "2022-10-14T22:16:39.8816488Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "********* was founded by ********** and **********.",
                    "id": "1",
                    "entities": [
                      {
                        "text": "Microsoft",
                        "category": "Organization",
                        "offset": 0,
                        "length": 9,
                        "confidenceScore": 0.97
                      },
                      {
                        "text": "Bill Gates",
                        "category": "Person",
                        "offset": 25,
                        "length": 10,
                        "confidenceScore": 1.0
                      },
                      {
                        "text": "Paul Allen",
                        "category": "Person",
                        "offset": 40,
                        "length": 10,
                        "confidenceScore": 0.99
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "redactedText": "Mi perro y mi gato tienen que ir al ***********.",
                    "id": "2",
                    "entities": [
                      {
                        "text": "veterinario",
                        "category": "PersonType",
                        "offset": 36,
                        "length": 11,
                        "confidenceScore": 0.95
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-01-15"
              }
            },
            {
              "kind": "EntityRecognitionLROResults",
              "lastUpdateDateTime": "2022-10-14T22:16:39.9778181Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "entities": [
                      {
                        "text": "Microsoft",
                        "category": "Organization",
                   [...]
