{
  "Entries": [
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Mi perro y mi gato tienen que ir al veterinario.",
              "language": "es"
            }
          ]
        },
        "tasks": {
          "entityRecognitionTasks": [
            {
              "parameters": {
                "model-version": "latest"
              }
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "model-version": "latest"
              }
            }
          ],
          "keyPhraseExtractionTasks": [
            {
              "parameters": {
                "model-version": "latest"
              }
            }
          ]
        },
        "displayName": "AnalyzeOperationTest"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/2c681642-aa22-409f-947a-05a01a0e6b0c_637404768000000000"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/2c681642-aa22-409f-947a-05a01a0e6b0c_637404768000000000?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationTest",
        "jobId": "2c681642-aa22-409f-947a-05a01a0e6b0c_637404768000000000",
        "lastUpdateDateTime": "2020-11-09T07:54:22Z",
        "createdDateTime": "2020-11-09T07:54:22Z",
        "expirationDateTime": "2020-11-11T07:54:22Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationTest",
            "lastUpdateDateTime": "2020-11-09T07:54:22Z"
          },
          "completed": 0,
          "failed": 0,
          "inProgress": 0,
          "total": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/2c681642-aa22-409f-947a-05a01a0e6b0c_637404768000000000?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationTest",
        "jobId": "2c681642-aa22-409f-947a-05a01a0e6b0c_637404768000000000",
        "lastUpdateDateTime": "2020-11-09T07:54:24Z",
        "createdDateTime": "2020-11-09T07:54:22Z",
        "expirationDateTime": "2020-11-11T07:54:22Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationTest",
            "lastUpdateDateTime": "2020-11-09T07:54:24Z"
          },
          "completed": 1,
          "failed": 0,
          "inProgress": 2,
          "total": 3,
          "keyPhraseExtractionTasks": [
            {
              "name": "AnalyzeOperationTest",
              "lastUpdateDateTime": "2020-11-09T07:54:24.698594Z",
              "results": {
                "inTerminalState": true,
                "documents": [
                  {
                    "id": "1",
                    "keyPhrases": [
                      "Bill Gates",
                      "Paul Allen",
                      "Microsoft"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "gato",
                      "perro",
                      "veterinario"
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2020-07-01"
              }
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/2c681642-aa22-409f-947a-05a01a0e6b0c_637404768000000000?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "displayName": "AnalyzeOperationTest",
        "jobId": "2c681642-aa22-409f-947a-05a01a0e6b0c_637404768000000000",
        "lastUpdateDateTime": "2020-11-09T07:54:24Z",
        "createdDateTime": "2020-11-09T07:54:22Z",
        "expirationDateTime": "2020-11-11T07:54:22Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "details": {
            "name": "AnalyzeOperationTest",
            "lastUpdateDateTime": "2020-11-09T07:54:24Z"
          },
          "completed": 2,
          "failed": 0,
          "inProgress": 1,
          "total": 3,
          "entityRecognitionTasks": [
            {
              "name": "AnalyzeOperationTest",
              "lastUpdateDateTime": "2020-11-09T07:54:24.698594Z",
              "results": {
                "inTerminalState": true,
                "documents": [
                  {
                    "id": "1",
                    "entities": [
                      {
                        "text": "Microsoft",
                        "category": "Organization",
                        "offset": 0,
                        "length": 9,
                        "confidenceScore": 0.83
                      },
                      {
                        "text": "Bill Gates",
                        "category": "Person",
                        "offset": 25,
                        "length": 10,
                        "confidenceScore": 0.85
                      },
                      {
                        "text": "Paul Allen",
                        "category": "Person",
                        "offset": 40,
                        "length": 10,
                        "confidenceScore": 0.9
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "entities": [
                      {
                        "text": "Mi",
                        "category": "DateTime",
                        "subcategory": "Date",
                        "offset": 0,
                        "length": 2,
                        "confidenceScore": 0.8
                      },
                      {
                        "text": "mi",
                        "category": "DateTime",
                        "subcategory": "Date",
                        "offset": 11,
                        "length": 2,
                        "confidenceScore": 0.8
                      },
                      {
                 [...]
[...]
