{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "displayName": "AnalyzeOperationTest",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Mi perro y mi gato tienen que ir al veterinario.",
              "language": "es"
            },
            {
              "id": "3",
              "text": "",
              "language": "es"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {},
            "kind": "KeyPhraseExtraction"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/48f173b1-7b45-4f04-9993-4d2f6dd77591?api-version=2022-04-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/48f173b1-7b45-4f04-9993-4d2f6dd77591?api-version=2022-04-01-preview\u0026showStats=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "48f173b1-7b45-4f04-9993-4d2f6dd77591",
        "lastUpdateDateTime": "2022-05-13T17:26:54Z",
        "createdDateTime": "2022-05-13T17:26:54Z",
        "expirationDateTime": "2022-05-14T17:26:54Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "AnalyzeOperationTest",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/48f173b1-7b45-4f04-9993-4d2f6dd77591?api-version=2022-04-01-preview\u0026showStats=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "48f173b1-7b45-4f04-9993-4d2f6dd77591",
        "lastUpdateDateTime": "2022-05-13T17:26:56Z",
        "createdDateTime": "2022-05-13T17:26:54Z",
        "expirationDateTime": "2022-05-14T17:26:54Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "AnalyzeOperationTest",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "KeyPhraseExtractionLROResults",
              "lastUpdateDateTime": "2022-05-13T17:26:56.2753243Z",
              "status": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 3,
                  "validDocumentsCount": 2,
                  "erroneousDocumentsCount": 1,
                  "transactionsCount": 2
                },
                "documents": [
                  {
                    "id": "1",
                    "keyPhrases": [
                      "Bill Gates",
                      "Paul Allen",
                      "Microsoft"
                    ],
                    "statistics": {
                      "charactersCount": 51,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "perro",
                      "gato",
                      "veterinario"
                    ],
                    "statistics": {
                      "charactersCount": 48,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "3",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Document in request.",
                      "innererror": {
                        "code": "InvalidDocument",
                        "message": "Document text is empty."
                      }
                    }
                  }
                ],
                "modelVersion": "2021-06-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "560936079",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
