{
  "Entries": [
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.1/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Mi perro y mi gato tienen que ir al veterinario.",
              "language": "es"
            }
          ]
        },
        "tasks": {
          "entityRecognitionTasks": [
            {
              "parameters": {
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "keyPhraseExtractionTasks": [
            {
              "parameters": {}
            }
          ],
          "entityLinkingTasks": [
            {
              "parameters": {
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "sentimentAnalysisTasks": [
            {
              "parameters": {
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ]
        },
        "displayName": "AnalyzeOperationWithMultipleTasks"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cognitiveweppe.azure-api.net/text/analytics/v3.1/analyze/jobs/0f8f8f39-27e3-4a50-af81-b6aec845b409"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.1/analyze/jobs/0f8f8f39-27e3-4a50-af81-b6aec845b409",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "0f8f8f39-27e3-4a50-af81-b6aec845b409",
        "lastUpdateDateTime": "2021-06-23T19:45:33Z",
        "createdDateTime": "2021-06-23T19:45:33Z",
        "expirationDateTime": "2021-06-24T19:45:33Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "AnalyzeOperationWithMultipleTasks",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 5,
          "total": 5
        }
      }
    },
[...]
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.1/analyze/jobs/0f8f8f39-27e3-4a50-af81-b6aec845b409",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "0f8f8f39-27e3-4a50-af81-b6aec845b409",
        "lastUpdateDateTime": "2021-06-23T19:45:35Z",
        "createdDateTime": "2021-06-23T19:45:33Z",
        "expirationDateTime": "2021-06-24T19:45:33Z",
        "status": "running",
        "errors": [],
        "displayName": "AnalyzeOperationWithMultipleTasks",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 4,
          "total": 5,
          "entityLinkingTasks": [
            {
              "lastUpdateDateTime": "2021-06-23T19:45:35.8729523Z",
              "taskName": "EntityLinking_latest",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "entities": [
                      {
                        "name": "Bill Gates",
                        "matches": [
                          {
                            "text": "Bill Gates",
                            "offset": 25,
                            "length": 10,
                            "confidenceScore": 0.52
                          }
                        ],
                        "language": "en",
                        "id": "Bill Gates",
                        "url": "https://en.wikipedia.org/wiki/Bill_Gates",
                        "dataSource": "Wikipedia"
                      },
                      {
                        "name": "Paul Allen",
                        "matches": [
                          {
                            "text": "Paul Allen",
                            "offset": 40,
                            "length": 10,
                            "confidenceScore": 0.54
                          }
                        ],
                        "language": "en",
                        "id": "Paul Allen",
                        "url": "https://en.wikipedia.org/wiki/Paul_Allen",
                        "dataSource": "Wikipedia"
                      },
                      {
                        "name": "Microsoft",
                        "matches": [
                          {
                            "text": "Microsoft",
                            "offset": 0,
                            "length": 9,
                            "confidenceScore": 0.49
                          }
                        ],
                        "language": "en",
                        "id": "Microsoft",
                        "url": "https://en.wikipedia.org/wiki/Microsoft",
                        "dataSource": "Wikipedia"
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2020-02-01"
              }
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.1/analyze/jobs/0f8f8f39-27e3-4a50-af81-b6aec845b409",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "0f8f8f39-27e3-4a50-af81-b6aec845b409",
        "lastUpdateDateTime": "2021-06-23T19:45:46Z",
        "createdDateTime": "2021-06-23T19:45:33Z",
        "expirationDateTime": "2021-06-24T19:45:33Z",
        "status": "running",
        "errors": [],
        "displayName": "AnalyzeOperationWithMultipleTasks",
        "tasks": {
          "completed": 3,
          "failed": 0,
          "inProgress": 2,
          "total": 5,
          "entityRecognitionTasks": [
            {
              "lastUpdateDateTime": "2021-06-23T19:45:46.7306611Z",
              "taskName": "NamedEntityRecognition_latest",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "entities": [
                      {
                        "text": "Microsoft",
                        "category": "Organization",
                        "offset": 0,
                        "length": 9,
                        "confidenceScore": 1.0
                      },
                      {
                        "text": "Bill Gates",
                        "category": "Person",
                        "offset": 25,
                        "length": 10,
                        "confidenceScore": 1.0
                      },
                      {
                        "text": "Paul Allen",
   [...]
[...]
