{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticslivetestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "displayName": "AnalyzeOperationAbstractSummary",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Extractive summarization extracts sentences that collectively represent the most important or relevant information within the original content. Abstractive summarization generates a summary with concise, coherent sentences or words which are not simply extract sentences from the original document. These features are designed to shorten content that could be considered too long to read.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "sentenceCount": 2,
              "stringIndexType": "Utf16CodeUnit"
            },
            "kind": "AbstractiveSummarization"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticslivetestresources.cognitiveservices.azure.com/language/analyze-text/jobs/0f0aa1fe-2764-4876-b009-c00e96753813?api-version=2022-10-01-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticslivetestresources.cognitiveservices.azure.com/language/analyze-text/jobs/0f0aa1fe-2764-4876-b009-c00e96753813?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "0f0aa1fe-2764-4876-b009-c00e96753813",
        "lastUpdateDateTime": "2022-11-07T06:09:54Z",
        "createdDateTime": "2022-11-07T06:09:54Z",
        "expirationDateTime": "2022-11-08T06:09:54Z",
        "status": "running",
        "errors": [],
        "displayName": "AnalyzeOperationAbstractSummary",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticslivetestresources.cognitiveservices.azure.com/language/analyze-text/jobs/0f0aa1fe-2764-4876-b009-c00e96753813?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "0f0aa1fe-2764-4876-b009-c00e96753813",
        "lastUpdateDateTime": "2022-11-07T06:09:56Z",
        "createdDateTime": "2022-11-07T06:09:54Z",
        "expirationDateTime": "2022-11-08T06:09:54Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "AnalyzeOperationAbstractSummary",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "AbstractiveSummarizationLROResults",
              "lastUpdateDateTime": "2022-11-07T06:09:56.0235868Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "summaries": [
                      {
                        "text": "Extractive summarization extracts sentences that collectively represent the most important or relevant information within the original content. abstractive summarization generates a summary with concise, coherent sentences or words.",
                        "contexts": [
                          {
                            "offset": 0,
                            "length": 388
                          }
                        ]
                      }
                    ],
                    "id": "0",
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "latest"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1192663132",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticslivetestresources.cognitiveservices.azure.com/"
  }
}
