{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Elon Musk is the CEO of SpaceX and Tesla.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Tesla stock is up by 400% this year.",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "entityRecognitionTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": true,
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": false,
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "keyPhraseExtractionTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": true
              }
            }
          ],
          "entityLinkingTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": true,
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ],
          "sentimentAnalysisTasks": [
            {
              "parameters": {
                "loggingOptOut": true,
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze/jobs/ca59934b-d331-41b8-969a-91316ff52e3d"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze/jobs/ca59934b-d331-41b8-969a-91316ff52e3d?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "ca59934b-d331-41b8-969a-91316ff52e3d",
        "lastUpdateDateTime": "2021-05-14T19:15:32Z",
        "createdDateTime": "2021-05-14T19:15:32Z",
        "expirationDateTime": "2021-05-15T19:15:32Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "details": {
            "name": "NA",
            "lastUpdateDateTime": "2021-05-14T19:15:32Z"
          },
          "completed": 0,
          "failed": 0,
          "inProgress": 5,
          "total": 5
        }
      }
    },
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze/jobs/ca59934b-d331-41b8-969a-91316ff52e3d?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "ca59934b-d331-41b8-969a-91316ff52e3d",
        "lastUpdateDateTime": "2021-05-14T19:15:33Z",
        "createdDateTime": "2021-05-14T19:15:32Z",
        "expirationDateTime": "2021-05-15T19:15:32Z",
        "status": "running",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "details": {
            "name": "NA",
            "lastUpdateDateTime": "2021-05-14T19:15:33Z"
          },
          "completed": 1,
          "failed": 0,
          "inProgress": 4,
          "total": 5,
          "entityLinkingTasks": [
            {
              "lastUpdateDateTime": "2021-05-14T19:15:33.333577Z",
              "name": "NA",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "name": "Elon Musk",
                        "matches": [
                          {
                            "text": "Elon Musk",
                            "offset": 0,
                            "length": 9,
                            "confidenceScore": 0.94
                          }
                        ],
                        "language": "en",
                        "id": "Elon Musk",
                        "url": "https://en.wikipedia.org/wiki/Elon_Musk",
                        "dataSource": "Wikipedia"
                      },
                      {
                        "name": "SpaceX",
                        "matches": [
                          {
                            "text": "SpaceX",
                            "offset": 24,
                            "length": 6,
                            "confidenceScore": 0.63
                          }
                        ],
                        "language": "en",
                        "id": "SpaceX",
                        "url": "https://en.wikipedia.org/wiki/SpaceX",
                        "dataSource": "Wikipedia"
                      },
                      {
                        "name": "Tesla, Inc.",
                        "matches": [
                          {
                            "text": "Tesla",
                            "offset": 35,
                            "length": 5,
                            "confidenceScore": 0.47
                          }
                        ],
                        "language": "en",
                        "id": "Tesla, Inc.",
                        "url": "https://en.wikipedia.org/wiki/Tesla,_Inc.",
                        "dataSource": "Wikipedia"
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "entities": [
                      {
                        "name": "Tesla, Inc.",
                        "matches": [
                          {
                            "text": "Tesla",
                            "offset": 0,
                            "length": 5,
                            "confidenceScore": 0.05
                          }
                        ],
                        "language": "en",
                        "id": "Tesla, Inc.",
                        "url": "https://en.wikipedia.org/wiki/Tesla,_Inc.",
                        "dataSource": "Wikipedia"
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2020-02-01"
              }
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/analyze/jobs/ca59934b-d331-41b8-969a-91316ff52e3d?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "ca59934b-d331-41b8-969a-91316ff52e3d",
        "lastUpdateDateTime": "2021-05-14T19:15:57Z",
        "createdDateTime": "2021-05-14T19:15:32Z",
        "expirationDateTime": "2021-05-15T19:15:32Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "details": {
            "name": "NA",
            "lastUpdateDateTime": "2021-05-14T19:15:57Z"
          },
          "completed": 5,
          "failed": 0,
          "inProgress": 0,
          "total": 5,
          "entityRecognitionTasks": [
            {
              "lastUpdateDateTime": "2021-05-14T19:15:57.9342902Z",
              "name": "NA",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "text": "Elon Musk",
                        "category": "Person",
                        "offset": 0,
                        "length": 9,
                        "confidenceScore": 0.99
                      },
                      {
                        "text": "CEO",
                        "category": "PersonType",
                        "offset": 17,
                        "length": 3,
                        "confidenceScore": 0.96
                      },
                      {
                        "text": "SpaceX",
               [...]
