{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "A patient with medical id 12345678 whose phone number is 800-102-1100 is going under heart surgery",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "domain": "phi",
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ]
        },
        "displayName": "AnalyzeOperationWithPHIDomain"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1/analyze/jobs/e9ac7761-476b-4344-b1ea-3c0681c1d8c3"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1/analyze/jobs/e9ac7761-476b-4344-b1ea-3c0681c1d8c3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "e9ac7761-476b-4344-b1ea-3c0681c1d8c3",
        "lastUpdateDateTime": "2021-06-29T23:31:34Z",
        "createdDateTime": "2021-06-29T23:31:34Z",
        "expirationDateTime": "2021-06-30T23:31:34Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "AnalyzeOperationWithPHIDomain",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1/analyze/jobs/e9ac7761-476b-4344-b1ea-3c0681c1d8c3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "e9ac7761-476b-4344-b1ea-3c0681c1d8c3",
        "lastUpdateDateTime": "2021-06-29T23:32:41Z",
        "createdDateTime": "2021-06-29T23:31:34Z",
        "expirationDateTime": "2021-06-30T23:31:34Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "AnalyzeOperationWithPHIDomain",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "entityRecognitionPiiTasks": [
            {
              "lastUpdateDateTime": "2021-06-29T23:32:41.1088954Z",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "A patient with medical id ******** whose phone number is ************ is going under heart surgery",
                    "id": "0",
                    "entities": [
                      {
                        "text": "12345678",
                        "category": "PhoneNumber",
                        "offset": 26,
                        "length": 8,
                        "confidenceScore": 0.8
                      },
                      {
                        "text": "800-102-1100",
                        "category": "PhoneNumber",
                        "offset": 57,
                        "length": 12,
                        "confidenceScore": 0.8
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-01-15"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "390387714",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://mariari-westus2-s.cognitiveservices.azure.com/"
  }
}