{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "No roads or rails connect the 39,000 people dispersed across Nunavut, a territory in northeastern Canada that spans three time zones and features fjord-cut isles that stretch into the Arctic Circle off the west coast of Greenland. About 80% of the population is of Inuit descent with cultural ties to the land that date back more than 4,000 years.\r\n            Today, low-bandwidth satellite internet service links the people of Nunavut to each other and with the rest of the world.\r\n          [...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/analyze/jobs/bcca03b3-07b3-49b2-a8f4-034959c2c163?showStats=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "bcca03b3-07b3-49b2-a8f4-034959c2c163",
        "lastUpdateDateTime": "2021-08-06T01:59:34Z",
        "createdDateTime": "2021-08-06T01:59:34Z",
        "expirationDateTime": "2021-08-07T01:59:34Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/analyze/jobs/bcca03b3-07b3-49b2-a8f4-034959c2c163?showStats=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "bcca03b3-07b3-49b2-a8f4-034959c2c163",
        "lastUpdateDateTime": "2021-08-06T01:59:40Z",
        "createdDateTime": "2021-08-06T01:59:34Z",
        "expirationDateTime": "2021-08-07T01:59:34Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "extractiveSummarizationTasks": [
            {
              "lastUpdateDateTime": "2021-08-06T01:59:40.6015552Z",
              "taskName": "ExtractiveSummarization_latest",
              "state": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 2,
                  "validDocumentsCount": 2,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 12
                },
                "documents": [
                  {
                    "id": "1",
                    "statistics": {
                      "charactersCount": 7276,
                      "transactionsCount": 8
                    },
                    "sentences": [
                      {
                        "text": "No roads or rails connect the 39,000 people dispersed across Nunavut, a territory in northeastern Canada that spans three time zones and features fjord-cut isles that stretch into the Arctic Circle off the west coast of Greenland.",
                        "rankScore": 0.8651234540823339,
                        "offset": 0,
                        "length": 230
                      },
                      {
                        "text": "About 80% of the population is of Inuit descent with cultural ties to the land that date back more than 4,000 years.",
                        "rankScore": 0.9408765634641423,
                        "offset": 231,
                        "length": 116
                      },
                      {
                        "text": "Today, low-bandwidth satellite internet service links the people of Nunavut to each other and with the rest of the world.",
                        "rankScore": 0.9746985661604508,
                        "offset": 361,
                        "length": 121
                      },
                      {
                        "text": "The Government of Nunavut relies on this internet link to provide healthcare, education, housing and family, and financial and other services to 25 communities.",
                        "rankScore": 1.0,
                        "offset": 496,
                        "length": 160
                      },
                      {
                        "text": "The smallest, Grise Fiord, has a population of 130;",
                        "rankScore": 0.9327812042146636,
                        "offset": 656,
                        "length": 51
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "statistics": {
                      "charactersCount": 3428,
                      "transactionsCount": 4
                    },
                    "sentences": [
                      {
                        "text": "Windows 365 was in the works before COVID-19 sent companies around the world on a scramble to secure solutions to support employees suddenly forced to work from home, but \u201Cwhat[...]
