{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022jobDevice1808659919\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice1056013129\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice334655816\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice188594520\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice1188852856\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "isSuccessful": true,
        "errors": [],
        "warnings": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/create?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "type": "export",
        "outputBlobContainerUri": "Sanitized",
        "excludeKeysInExport": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "67f2fc5f-8b53-4eab-899f-8a0899c2b2af",
        "startTimeUtc": "2020-08-19T20:14:19.9912974Z",
        "type": "export",
        "status": "enqueued",
        "progress": 0,
        "outputBlobContainerUri": "Sanitized",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/67f2fc5f-8b53-4eab-899f-8a0899c2b2af?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "67f2fc5f-8b53-4eab-899f-8a0899c2b2af",
        "startTimeUtc": "2020-08-19T20:14:19.9912974Z",
        "type": "export",
        "status": "enqueued",
        "progress": 0,
        "outputBlobContainerUri": "Sanitized",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/67f2fc5f-8b53-4eab-899f-8a0899c2b2af?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "67f2fc5f-8b53-4eab-899f-8a0899c2b2af",
        "startTimeUtc": "2020-08-19T20:14:19.9912974Z",
        "endTimeUtc": "2020-08-19T20:14:22.1769795Z",
        "type": "export",
        "status": "completed",
        "progress": 100,
        "outputBlobContainerUri": "Sanitized",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/create?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "type": "import",
        "inputBlobContainerUri": "Sanitized",
        "outputBlobContainerUri": "Sanitized",
        "outputBlobName": "Devices.txt",
        "storageAuthenticationType": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "98bb5bf5-c025-437f-964a-cf22d0093c2a",
        "startTimeUtc": "2020-08-19T20:14:30.1777853Z",
        "type": "import",
        "status": "enqueued",
        "progress": 0,
        "inputBlobContainerUri": "Sanitized",
        "outputBlobContainerUri": "Sanitized",
        "outputBlobName": "Devices.txt",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022jobDevice1808659919\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice1056013129\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice334655816\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice188594520\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice1188852856\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "isSuccessful": true,
        "errors": [],
        "warnings": []
      }
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==",
    "RandomSeed": "1863545485",
    "STORAGE_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=FakeAccount;AccountKey=Kg==;EndpointSuffix=core.windows.net"
  }
}