{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022jobDevice500596369\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice1808659919\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice1056013129\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice334655816\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice188594520\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "isSuccessful": true,
        "errors": [],
        "warnings": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/create?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "type": "export",
        "outputBlobContainerUri": "Sanitized",
        "excludeKeysInExport": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "11e8d89d-95ea-43c5-abc1-92cc575f7cfb",
        "startTimeUtc": "2020-08-20T21:45:11.9933005Z",
        "type": "export",
        "status": "enqueued",
        "progress": 0,
        "outputBlobContainerUri": "Sanitized",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/11e8d89d-95ea-43c5-abc1-92cc575f7cfb?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "11e8d89d-95ea-43c5-abc1-92cc575f7cfb",
        "startTimeUtc": "2020-08-20T21:45:11.9933005Z",
        "type": "export",
        "status": "enqueued",
        "progress": 0,
        "outputBlobContainerUri": "Sanitized",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/11e8d89d-95ea-43c5-abc1-92cc575f7cfb?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "11e8d89d-95ea-43c5-abc1-92cc575f7cfb",
        "startTimeUtc": "2020-08-20T21:45:11.9933005Z",
        "endTimeUtc": "2020-08-20T21:45:16.326172Z",
        "type": "export",
        "status": "completed",
        "progress": 100,
        "outputBlobContainerUri": "Sanitized",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/create?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "type": "import",
        "inputBlobContainerUri": "Sanitized",
        "outputBlobContainerUri": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "986e55c3-7c35-4303-b9b5-5d2eb4be8c73",
        "startTimeUtc": "2020-08-20T21:45:22.1532564Z",
        "type": "import",
        "status": "enqueued",
        "progress": 0,
        "inputBlobContainerUri": "Sanitized",
        "outputBlobContainerUri": "Sanitized",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022jobDevice500596369\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice1808659919\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice1056013129\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice334655816\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice188594520\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "isSuccessful": true,
        "errors": [],
        "warnings": []
      }
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==",
    "RandomSeed": "1863545485",
    "STORAGE_SAS_TOKEN": "https://fake.blob.core.windows.net"
  }
}