{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022jobDevice677019803\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice46214004\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice1677703041\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice1020576207\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice104748052\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "isSuccessful": true,
        "errors": [],
        "warnings": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/create?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "type": "export",
        "outputBlobContainerUri": "Sanitized",
        "excludeKeysInExport": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "bc2d1a2c-b4d2-4b04-880a-c5bdfd5704b4",
        "startTimeUtc": "2020-09-01T20:57:59.7839823Z",
        "type": "export",
        "status": "enqueued",
        "progress": 0,
        "outputBlobContainerUri": "Sanitized",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/bc2d1a2c-b4d2-4b04-880a-c5bdfd5704b4?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "bc2d1a2c-b4d2-4b04-880a-c5bdfd5704b4",
        "startTimeUtc": "2020-09-01T20:57:59.7839823Z",
        "type": "export",
        "status": "enqueued",
        "progress": 0,
        "outputBlobContainerUri": "Sanitized",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/bc2d1a2c-b4d2-4b04-880a-c5bdfd5704b4?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "bc2d1a2c-b4d2-4b04-880a-c5bdfd5704b4",
        "startTimeUtc": "2020-09-01T20:57:59.7839823Z",
        "endTimeUtc": "2020-09-01T20:58:01.2957428Z",
        "type": "export",
        "status": "completed",
        "progress": 100,
        "outputBlobContainerUri": "Sanitized",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/create?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "type": "import",
        "inputBlobContainerUri": "Sanitized",
        "outputBlobContainerUri": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "f5f4103e-1eaa-4d72-a742-75c8e9b8c3de",
        "startTimeUtc": "2020-09-01T20:58:10.0878641Z",
        "type": "import",
        "status": "enqueued",
        "progress": 0,
        "inputBlobContainerUri": "Sanitized",
        "outputBlobContainerUri": "Sanitized",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022jobDevice677019803\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice46214004\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice1677703041\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice1020576207\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice104748052\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "isSuccessful": true,
        "errors": [],
        "warnings": []
      }
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==",
    "RandomSeed": "548749863",
    "STORAGE_SAS_TOKEN": "https://fake.blob.core.windows.net"
  }
}