{
  "Entries": [
    {
      "RequestUri": "/Subscriptions/04cf684a-d41f-4550-9f70-7708a3a2283b/resourceGroups/ASRRG1/providers/Microsoft.RecoveryServices/vaults/hello5/backupJobs?api-version=2015-03-15&$filter=status%20eq%20'InProgress'%20and%20operation%20eq%20'Backup'",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/Subscriptions/04cf684a-d41f-4550-9f70-7708a3a2283b/resourceGroups/ASRRG1/providers/Microsoft.RecoveryServices/vaults/hello5/backupJobs/4c08cfa7-44c6-4e8b-8712-97f7a0209643\",\r\n      \"name\": \"4c08cfa7-44c6-4e8b-8712-97f7a0209643\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupJobs\",\r\n      \"location\": null,\r\n      \"tags\": null,\r\n      \"eTag\": null,\r\n      \"properties\": {\r\n        \"jobType\": \"AzureIaaSVMJob\",\r\n        \"duration\": \"00:00:25.0875682\",\r\n        \"actionsInfo\": [\r\n          1\r\n        ],\r\n        \"errorDetails\": null,\r\n        \"virtualMachineVersion\": \"Compute\",\r\n        \"extendedInfo\": null,\r\n        \"entityFriendlyName\": \"v2prjai10\",\r\n        \"backupManagementType\": \"AzureIaasVM\",\r\n        \"operation\": \"Backup\",\r\n        \"status\": \"InProgress\",\r\n        \"startTime\": \"2016-04-05T07:27:31.2004606Z\",\r\n        \"endTime\": \"2001-01-01T00:00:00Z\",\r\n        \"activityId\": \"cc4fe3e5-00cf-43ce-9a71-99e6da60d07f\"\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11318"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/04cf684a-d41f-4550-9f70-7708a3a2283b/resourceGroups/ASRRG1/providers/Microsoft.RecoveryServices/vaults/hello5/backupJobs/4c08cfa7-44c6-4e8b-8712-97f7a0209643/cancel?api-version=2015-03-15",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-03-15"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1180"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/Subscriptions/04cf684a-d41f-4550-9f70-7708a3a2283b/resourceGroups/ASRRG1/providers/Microsoft.RecoveryServices/vaults/hello5/backupJobs/4c08cfa7-44c6-4e8b-8712-97f7a0209643/operationResults/dbd061f9-6d6c-4252-b816-bc7f3e0ff94b?api-version=2015-03-15"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/Subscriptions/04cf684a-d41f-4550-9f70-7708a3a2283b/resourceGroups/ASRRG1/providers/Microsoft.RecoveryServices/vaults/hello5/backupJobs/4c08cfa7-44c6-4e8b-8712-97f7a0209643/operationResults/dbd061f9-6d6c-4252-b816-bc7f3e0ff94b?api-version=2015-03-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11290"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "04cf684a-d41f-4550-9f70-7708a3a2283b"
  }
}