{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/backup?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/backup?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://heathskeyvaultprim.blob.core.windows.net/backup",
        "token": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://heathskeyvaulthsm.managedhsm.azure.net/backup/4d9cc0cd8ce94b539cb597038f88ae0e/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "466"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1666996489,
        "endTime": null,
        "jobId": "4d9cc0cd8ce94b539cb597038f88ae0e",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/backup/4d9cc0cd8ce94b539cb597038f88ae0e/pending?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221011-1-b82851ba-develop",
        "x-ms-server-latency": "171"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "4d9cc0cd8ce94b539cb597038f88ae0e",
        "startTime": 1666996489,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/restore?api-version=7.4-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://heathskeyvaultprim.blob.core.windows.net/backup",
          "token": "Sanitized"
        },
        "folderToRestore": "mhsm-heathskeyvaulthsm-2022102822344911"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://heathskeyvaulthsm.managedhsm.azure.net/restore/151a94c43e3147ab83e9327cadeac687/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "447"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "151a94c43e3147ab83e9327cadeac687",
        "startTime": 1666996505,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/restore/151a94c43e3147ab83e9327cadeac687/pending?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221011-1-b82851ba-develop",
        "x-ms-server-latency": "317"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "151a94c43e3147ab83e9327cadeac687",
        "startTime": 1666996505,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/restore/151a94c43e3147ab83e9327cadeac687/pending?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221011-1-b82851ba-develop",
        "x-ms-server-latency": "203"
      },
      "ResponseBody": {
        "endTime": 1666996512,
        "error": null,
        "jobId": "151a94c43e3147ab83e9327cadeac687",
        "startTime": 1666996505,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "BLOB_PRIMARY_STORAGE_ACCOUNT_KEY": "Sanitized",
    "BLOB_STORAGE_ACCOUNT_NAME": "heathskeyvaultprim",
    "RandomSeed": "1154475054"
  }
}
