{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/backup?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/backup?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://heathskeyvaultprim.blob.core.windows.net/backup",
        "token": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://heathskeyvaulthsm.managedhsm.azure.net/backup/d8aef4ef3bf24d5f8f57b21ead051b85/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "0",
        "x-ms-server-latency": "1712"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": {
          "code": null,
          "message": null,
          "innererror": null
        },
        "startTime": 1612565819,
        "endTime": null,
        "jobId": "d8aef4ef3bf24d5f8f57b21ead051b85",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/backup/d8aef4ef3bf24d5f8f57b21ead051b85/pending?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210128-1-4c3070d1-develop",
        "x-ms-server-latency": "1611"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": {
          "code": null,
          "innererror": null,
          "message": null
        },
        "jobId": "d8aef4ef3bf24d5f8f57b21ead051b85",
        "startTime": 1612565819,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/restore?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://heathskeyvaultprim.blob.core.windows.net/backup",
          "token": "Sanitized"
        },
        "folderToRestore": "mhsm-heathskeyvaulthsm-2021020522565991"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://heathskeyvaulthsm.managedhsm.azure.net/restore/fcdba63252d44255b397af8c4b2c68ee/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "0",
        "x-ms-server-latency": "1684"
      },
      "ResponseBody": {
        "endTime": null,
        "error": {
          "code": null,
          "innererror": null,
          "message": null
        },
        "jobId": "fcdba63252d44255b397af8c4b2c68ee",
        "startTime": 1612565832,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/restore/fcdba63252d44255b397af8c4b2c68ee/pending?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210128-1-4c3070d1-develop",
        "x-ms-server-latency": "1503"
      },
      "ResponseBody": {
        "endTime": null,
        "error": {
          "code": null,
          "innererror": null,
          "message": null
        },
        "jobId": "fcdba63252d44255b397af8c4b2c68ee",
        "startTime": 1612565832,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/restore/fcdba63252d44255b397af8c4b2c68ee/pending?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210128-1-4c3070d1-develop",
        "x-ms-server-latency": "1990"
      },
      "ResponseBody": {
        "endTime": 1612565849,
        "error": null,
        "jobId": "fcdba63252d44255b397af8c4b2c68ee",
        "startTime": 1612565832,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "BLOB_PRIMARY_STORAGE_ACCOUNT_KEY": "Sanitized",
    "BLOB_STORAGE_ACCOUNT_NAME": "heathskeyvaultprim",
    "RandomSeed": "430167557"
  }
}