{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/backup?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/backup?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://heathskeyvaultprim.blob.core.windows.net/backup",
        "token": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://heathskeyvaulthsm.managedhsm.azure.net/backup/55f5563ff684442ab4565cea2a423c2e/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "400"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1666996518,
        "endTime": null,
        "jobId": "55f5563ff684442ab4565cea2a423c2e",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/backup/55f5563ff684442ab4565cea2a423c2e/pending?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221011-1-b82851ba-develop",
        "x-ms-server-latency": "177"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "55f5563ff684442ab4565cea2a423c2e",
        "startTime": 1666996518,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/restore?api-version=7.4-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://heathskeyvaultprim.blob.core.windows.net/backup",
          "token": "Sanitized"
        },
        "folderToRestore": "mhsm-heathskeyvaulthsm-2022102822351872"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://heathskeyvaulthsm.managedhsm.azure.net/restore/001d8c25063b4f9890cf082d37ff680b/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "408"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "001d8c25063b4f9890cf082d37ff680b",
        "startTime": 1666996534,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/restore/001d8c25063b4f9890cf082d37ff680b/pending?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221011-1-b82851ba-develop",
        "x-ms-server-latency": "237"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "001d8c25063b4f9890cf082d37ff680b",
        "startTime": 1666996534,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/restore/001d8c25063b4f9890cf082d37ff680b/pending?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221011-1-b82851ba-develop",
        "x-ms-server-latency": "173"
      },
      "ResponseBody": {
        "endTime": 1666996546,
        "error": null,
        "jobId": "001d8c25063b4f9890cf082d37ff680b",
        "startTime": 1666996534,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "BLOB_PRIMARY_STORAGE_ACCOUNT_KEY": "Sanitized",
    "BLOB_STORAGE_ACCOUNT_NAME": "heathskeyvaultprim",
    "RandomSeed": "324710807"
  }
}
