{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourcegroups/rgchash12?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgchash12\",\r\n  \"name\": \"rgchash12\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourcegroups/rgchash12/providers/Microsoft.Resources/deployments/deployment1?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"templateLink\": {\r\n      \"uri\": \"https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-vnet-two-subnets/azuredeploy.json\",\r\n      \"contentVersion\": \"1.0.0.0\"\r\n    },\r\n    \"parametersLink\": {\r\n      \"uri\": \"https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-vnet-two-subnets/azuredeploy.parameters.json\",\r\n      \"contentVersion\": \"1.0.0.0\"\r\n    },\r\n    \"mode\": \"Complete\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgchash12/providers/Microsoft.Resources/deployments/deployment1\",\r\n  \"name\": \"deployment1\",\r\n  \"properties\": {\r\n    \"templateLink\": {\r\n      \"uri\": \"https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-vnet-two-subnets/azuredeploy.json\",\r\n      \"contentVersion\": \"1.0.0.0\"\r\n    },\r\n    \"templateHash\": \"5017584205907667268\",\r\n    \"parametersLink\": {\r\n      \"uri\": \"https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-vnet-two-subnets/azuredeploy.parameters.json\",\r\n      \"contentVersion\": \"1.0.0.0\"\r\n    },\r\n    \"parameters\": {\r\n      \"vnetName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"VNet1\"\r\n      },\r\n      \"vnetAddressPrefix\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"10.0.0.0/16\"\r\n      },\r\n      \"subnet1Prefix\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"10.0.0.0/24\"\r\n      },\r\n      \"subnet1Name\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"Subnet1\"\r\n      },\r\n      \"subnet2Prefix\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"10.0.1.0/24\"\r\n      },\r\n      \"subnet2Name\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"Subnet2\"\r\n      }\r\n    },\r\n    \"mode\": \"Complete\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"timestamp\": \"2017-05-25T00:13:57.328872Z\",\r\n    \"duration\": \"PT1.1693852S\",\r\n    \"correlationId\": \"95c6c285-177f-4ae1-aba9-8deedf204e5f\",\r\n    \"providers\": [\r\n      {\r\n        \"namespace\": \"Microsoft.Network\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"virtualNetworks\",\r\n            \"locations\": [\r\n              \"eastus\"\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"dependencies\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourcegroups/rgchash12/providers/Microsoft.Resources/deployments/deployment1/operationStatuses/08587059356493189973?api-version=2016-02-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourcegroups/rgchash12/providers/Microsoft.Resources/deployments/deployment1/operationStatuses/08587059356493189973?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourcegroups/rgchash12/providers/Microsoft.Resources/deployments/?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgchash12/providers/Microsoft.Resources/deployments/deployment1\",\r\n      \"name\": \"deployment1\[...]
[...]
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourcegroups/rgchash12/providers/Microsoft.Resources/deployments/deployment1/exportTemplate?api-version=2016-02-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"template\": {\r\n    \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n    \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n      \"vnetName\": {\r\n        \"defaultValue\": \"VNet1\",\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"description\": \"VNet name\"\r\n        }\r\n      },\r\n      \"vnetAddressPrefix\": {\r\n        \"defaultValue\": \"10.0.0.0/16\",\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"description\": \"Address prefix\"\r\n        }\r\n      },\r\n      \"subnet1Prefix\": {\r\n        \"defaultValue\": \"10.0.0.0/24\",\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"description\": \"Subnet 1 Prefix\"\r\n        }\r\n      },\r\n      \"subnet1Name\": {\r\n        \"defaultValue\": \"Subnet1\",\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"description\": \"Subnet 1 Name\"\r\n        }\r\n      },\r\n      \"subnet2Prefix\": {\r\n        \"defaultValue\": \"10.0.1.0/24\",\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"description\": \"Subnet 2 Prefix\"\r\n        }\r\n      },\r\n      \"subnet2Name\": {\r\n        \"defaultValue\": \"Subnet2\",\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"description\": \"Subnet 2 Name\"\r\n        }\r\n      }\r\n    },\r\n    \"variables\": {\r\n      \"apiVersion\": \"2015-06-15\"\r\n    },\r\n    \"resources\": [\r\n      {\r\n        \"type\": \"Microsoft.Network/virtualNetworks\",\r\n        \"name\": \"[parameters('vnetName')]\",\r\n        \"apiVersion\": \"[variables('apiVersion')]\",\r\n        \"location\": \"[resourceGroup().location]\",\r\n        \"properties\": {\r\n          \"addressSpace\": {\r\n            \"addressPrefixes\": [\r\n              \"[parameters('vnetAddressPrefix')]\"\r\n            ]\r\n          },\r\n          \"subnets\": [\r\n            {\r\n              \"name\": \"[parameters('subnet1Name')]\",\r\n              \"properties\": {\r\n                \"addressPrefix\": \"[parameters('subnet1Prefix')]\"\r\n              }\r\n            },\r\n            {\r\n              \"name\": \"[parameters('subnet2Name')]\",\r\n              \"properties\": {\r\n                \"addressPrefix\": \"[parameters('subnet2Prefix')]\"\r\n              }\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourcegroups/rgchash12/exportTemplate?api-version=2016-02-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"resources\": [\r\n    \"*\"\r\n  ],\r\n  \"options\": \"IncludeParameterDefaultValue, IncludeComments\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"template\": {\r\n    \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n    \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n      \"virtualNetworks_VNet1_name\": {\r\n        \"defaultValue\": \"VNet1\",\r\n        \"type\": \"String\"\r\n      }\r\n    },\r\n    \"variables\": {},\r\n    \"resources\": [\r\n      {\r\n        \"comments\": \"Generalized from resource: '/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgchash12/providers/Microsoft.Network/virtualNetworks/VNet1'.\",\r\n        \"type\": \"Microsoft.Network/virtualNetworks\",\r\n        \"name\": \"[parameters('virtualNetworks_VNet1_name')]\",\r\n        \"apiVersion\": \"2017-03-01\",\r\n        \"location\": \"eastus\",\r\n        \"scale\": null,\r\n        \"properties\": {\r\n          \"addressSpace\": {\r\n            \"addressPrefixes\": [\r\n              \"10.0.0.0/16\"\r\n            ]\r\n          },\r\n          \"subnets\": [\r\n            {\r\n              \"name\": \"Subnet1\",\r\n              \"properties\": {\r\n                \"addressPrefix\": \"10.0.0.0/24\"\r\n              }\r\n            },\r\n            {\r\n              \"name\": \"Subnet2\",\r\n              \"properties\": {\r\n                \"addressPrefix\": \"10.0.1.0/24\"\r\n              }\r\n            }\r\n          ],\r\n          \"virtualNetworkPeerings\": []\r\n        },\r\n        \"dependsOn\": []\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourcegroups/rgchash12/deployments/deployment1/operations?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgchash12/providers/Microsoft.Resources/deployments/deployment1/operations/00C4FA9C9005C221\",\r\n      \"operationId\": \"00C4FA9C9005C221\",\r\n      \"properties\": {\r\n        \"provisioningOperation\": \"Create\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"timestamp\": \"2017-05-25T00:14:00.2555086Z\",\r\n        \"duration\": \"PT0.9717003S\",\r\n        \"trackingId\": \"f913aa6a-21e7-4c88-88ea-eb8f36de747b\",\r\n        \"serviceRequestId\": \"284b7208-69cc-429e-83c8-e84dd813eb0d\",\r\n        \"statusCode\": \"OK\",\r\n        \"targetResource\": {\r\n          \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgchash12/providers/Microsoft.Network/virtualNetworks/VNet1\",\r\n          \"resourceType\": \"Microsoft.Network/virtualNetworks\",\r\n          \"resourceName\": \"VNet1\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgchash12/providers/Microsoft.Resources/deployments/deployment1/operations/08587059356493189973\",\r\n      \"operationId\": \"08587059356493189973\",\r\n      \"properties\": {\r\n        \"provisioningOperation\": \"EvaluateDeploymentOutput\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"timestamp\": \"2017-05-25T00:14:01.0795895Z\",\r\n        \"duration\": \"PT0.3118274S\",\r\n        \"trackingId\": \"8856030a-8c54-48a5-b3e1-2ef6f71b9d7b\",\r\n        \"statusCode\": \"OK\",\r\n        \"statusMessage\": null\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourcegroups/rgchash12/deployments/deployment1/operations/00C4FA9C9005C221?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgchash12/providers/Microsoft.Resources/deployments/deployment1/operations/00C4FA9C9005C221\",\r\n  \"operationId\": \"00C4FA9C9005C221\",\r\n  \"properties\": {\r\n    \"provisioningOperation\": \"Create\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"timestamp\": \"2017-05-25T00:14:00.2555086Z\",\r\n    \"duration\": \"PT0.9717003S\",\r\n    \"trackingId\": \"f913aa6a-21e7-4c88-88ea-eb8f36de747b\",\r\n    \"serviceRequestId\": \"284b7208-69cc-429e-83c8-e84dd813eb0d\",\r\n    \"statusCode\": \"OK\",\r\n    \"targetResource\": {\r\n      \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgchash12/providers/Microsoft.Network/virtualNetworks/VNet1\",\r\n      \"resourceType\": \"Microsoft.Network/virtualNetworks\",\r\n      \"resourceName\": \"VNet1\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourcegroups/rgchash12/providers/Microsoft.Network//virtualnetworks/VNet1?api-version=2015-06-15",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/providers/Microsoft.Network/locations/eastus/operationResults/3e72c84a-2fc6-409e-baf7-b7e62cfbccca?api-version=2015-06-15"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/providers/Microsoft.Network/locations/eastus/operations/3e72c84a-2fc6-409e-baf7-b7e62cfbccca?api-version=2015-06-15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "ServicePrincipal": "4c660ecb-cff1-401f-9d6e-047022d2b5e3",
    "AADTenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "SubscriptionId": "c549f475-dee8-428c-bb19-829a55e52f77"
  }
}