{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-05-01\u0026showStats=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "That was the best day of my life!. I had a lot of fun at the park.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "I\u0027m not sure how I feel about this product. It is complicated.",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "SentimentAnalysis"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2,CognitiveServices.TextAnalytics.TextRecords=2"
      },
      "ResponseBody": {
        "kind": "SentimentAnalysisResults",
        "results": {
          "statistics": {
            "documentsCount": 2,
            "validDocumentsCount": 2,
            "erroneousDocumentsCount": 0,
            "transactionsCount": 2
          },
          "documents": [
            {
              "id": "0",
              "sentiment": "positive",
              "statistics": {
                "charactersCount": 66,
                "transactionsCount": 1
              },
              "confidenceScores": {
                "positive": 0.98,
                "neutral": 0.01,
                "negative": 0.01
              },
              "sentences": [
                {
                  "sentiment": "positive",
                  "confidenceScores": {
                    "positive": 0.99,
                    "neutral": 0.0,
                    "negative": 0.0
                  },
                  "offset": 0,
                  "length": 35,
                  "text": "That was the best day of my life!. "
                },
                {
                  "sentiment": "positive",
                  "confidenceScores": {
                    "positive": 0.97,
                    "neutral": 0.02,
                    "negative": 0.01
                  },
                  "offset": 35,
                  "length": 31,
                  "text": "I had a lot of fun at the park."
                }
              ],
              "warnings": []
            },
            {
              "id": "1",
              "sentiment": "negative",
              "statistics": {
                "charactersCount": 62,
                "transactionsCount": 1
              },
              "confidenceScores": {
                "positive": 0.04,
                "neutral": 0.27,
                "negative": 0.69
              },
              "sentences": [
                {
                  "sentiment": "neutral",
                  "confidenceScores": {
                    "positive": 0.04,
                    "neutral": 0.74,
                    "negative": 0.22
                  },
                  "offset": 0,
                  "length": 44,
                  "text": "I\u0027m not sure how I feel about this product. "
                },
                {
                  "sentiment": "negative",
                  "confidenceScores": {
                    "positive": 0.04,
                    "neutral": 0.27,
                    "negative": 0.69
                  },
                  "offset": 44,
                  "length": 18,
                  "text": "It is complicated."
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2022-06-01"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "64115871",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
