{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "That was the best day of my life!. I had a lot of fun at the park.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "I\u0027m not sure how I feel about this product. It is complicated.",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "sentimentAnalysisTasks": [
            {
              "parameters": {
                "loggingOptOut": true,
                "stringIndexType": "Utf16CodeUnit"
              },
              "taskName": "AnalyzeSentimentWithDisabledServiceLogs"
            },
            {
              "parameters": {
                "stringIndexType": "Utf16CodeUnit"
              },
              "taskName": "AnalyzeSentiment"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/a6c06233-04c8-4662-84c7-c6d3cfa72e3e"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/a6c06233-04c8-4662-84c7-c6d3cfa72e3e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "a6c06233-04c8-4662-84c7-c6d3cfa72e3e",
        "lastUpdateDateTime": "2021-10-25T18:47:48Z",
        "createdDateTime": "2021-10-25T18:47:47Z",
        "expirationDateTime": "2021-10-26T18:47:47Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 2,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/a6c06233-04c8-4662-84c7-c6d3cfa72e3e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "a6c06233-04c8-4662-84c7-c6d3cfa72e3e",
        "lastUpdateDateTime": "2021-10-25T18:48:00Z",
        "createdDateTime": "2021-10-25T18:47:47Z",
        "expirationDateTime": "2021-10-26T18:47:47Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 1,
          "total": 2,
          "sentimentAnalysisTasks": [
            {
              "lastUpdateDateTime": "2021-10-25T18:48:00.3990299Z",
              "taskName": "AnalyzeSentiment",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "sentiment": "positive",
                    "confidenceScores": {
                      "positive": 1.0,
                      "neutral": 0.0,
                      "negative": 0.0
                    },
                    "sentences": [
                      {
                        "sentiment": "positive",
                        "confidenceScores": {
                          "positive": 1.0,
                          "neutral": 0.0,
                          "negative": 0.0
                        },
                        "offset": 0,
                        "length": 34,
                        "text": "That was the best day of my life!."
                      },
                      {
                        "sentiment": "positive",
                        "confidenceScores": {
                          "positive": 1.0,
                          "neutral": 0.0,
                          "negative": 0.0
                        },
                        "offset": 35,
                        "length": 31,
                        "text": "I had a lot of fun at the park."
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "sentiment": "negative",
                    "confidenceScores": {
                      "positive": 0.0,
                      "neutral": 0.0,
                      "negative": 1.0
                    },
                    "sentences": [
                      {
                        "sentiment": "neutral",
                        "confidenceScores": {
                          "positive": 0.02,
                          "neutral": 0.85,
                          "negative": 0.13
                        },
                        "offset": 0,
                        "length": 43,
                        "text": "I\u0027m not sure how I feel about this product."
                      },
                      {
                        "sentiment": "negative",
                        "confidenceScores": {
                          "positive": 0.0,
                          "neutral": 0.0,
                          "negative": 1.0
                        },
                        "offset": 44,
                        "length": 18,
                        "text": "It is complicated."
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2020-04-01"
              }
            }
          ]
        }
      }
    },
[...]
