{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-10-01-preview\u0026showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "The park was clean and pretty. The bathrooms and restaurant were not clean.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "The food and service is not good.",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "opinionMining": true,
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "SentimentAnalysis"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2,CognitiveServices.TextAnalytics.TextRecords=2"
      },
      "ResponseBody": {
        "kind": "SentimentAnalysisResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "sentiment": "mixed",
              "confidenceScores": {
                "positive": 0.5,
                "neutral": 0.0,
                "negative": 0.5
              },
              "sentences": [
                {
                  "sentiment": "positive",
                  "confidenceScores": {
                    "positive": 1.0,
                    "neutral": 0.0,
                    "negative": 0.0
                  },
                  "offset": 0,
                  "length": 31,
                  "text": "The park was clean and pretty. ",
                  "targets": [
                    {
                      "sentiment": "positive",
                      "confidenceScores": {
                        "positive": 1.0,
                        "negative": 0.0
                      },
                      "offset": 4,
                      "length": 4,
                      "text": "park",
                      "relations": [
                        {
                          "relationType": "assessment",
                          "ref": "#/documents/0/sentences/0/assessments/0"
                        },
                        {
                          "relationType": "assessment",
                          "ref": "#/documents/0/sentences/0/assessments/1"
                        }
                      ]
                    }
                  ],
                  "assessments": [
                    {
                      "sentiment": "positive",
                      "confidenceScores": {
                        "positive": 1.0,
                        "negative": 0.0
                      },
                      "offset": 13,
                      "length": 5,
                      "text": "clean",
                      "isNegated": false
                    },
                    {
                      "sentiment": "positive",
                      "confidenceScores": {
                        "positive": 1.0,
                        "negative": 0.0
                      },
                      "offset": 23,
                      "length": 6,
                      "text": "pretty",
                      "isNegated": false
                    }
                  ]
                },
                {
                  "s[...]
