{
  "Entries": [
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.4/sentiment?showStats=false\u0026opinionMining=false\u0026stringIndexType=Utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "El mejor test del mundo!",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "sentiment": "positive",
            "confidenceScores": {
              "positive": 0.96,
              "neutral": 0.03,
              "negative": 0.01
            },
            "sentences": [
              {
                "sentiment": "positive",
                "confidenceScores": {
                  "positive": 0.96,
                  "neutral": 0.03,
                  "negative": 0.01
                },
                "offset": 0,
                "length": 24,
                "text": "El mejor test del mundo!"
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2020-04-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "486778307",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://ta-s-westeurope.cognitiveservices.azure.com"
  }
}