{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-10-01-preview\u0026showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "That was the best day of my life!",
              "language": "en"
            },
            {
              "id": "1",
              "text": "",
              "language": "en"
            },
            {
              "id": "2",
              "text": "I\u0027m not sure how I feel about this product.",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "SentimentAnalysis"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2,CognitiveServices.TextAnalytics.TextRecords=2"
      },
      "ResponseBody": {
        "kind": "SentimentAnalysisResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "sentiment": "positive",
              "confidenceScores": {
                "positive": 1.0,
                "neutral": 0.0,
                "negative": 0.0
              },
              "sentences": [
                {
                  "sentiment": "positive",
                  "confidenceScores": {
                    "positive": 1.0,
                    "neutral": 0.0,
                    "negative": 0.0
                  },
                  "offset": 0,
                  "length": 33,
                  "text": "That was the best day of my life!"
                }
              ],
              "warnings": []
            },
            {
              "id": "2",
              "sentiment": "neutral",
              "confidenceScores": {
                "positive": 0.01,
                "neutral": 0.9,
                "negative": 0.09
              },
              "sentences": [
                {
                  "sentiment": "neutral",
                  "confidenceScores": {
                    "positive": 0.01,
                    "neutral": 0.9,
                    "negative": 0.09
                  },
                  "offset": 0,
                  "length": 43,
                  "text": "I\u0027m not sure how I feel about this product."
                }
              ],
              "warnings": []
            }
          ],
          "errors": [
            {
              "id": "1",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid Document in request.",
                "innererror": {
                  "code": "InvalidDocument",
                  "message": "Document text is empty."
                }
              }
            }
          ],
          "modelVersion": "2022-10-01"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1286493688",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
