{
  "Entries": [
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/sentiment?showStats=false\u0026opinionMining=false\u0026stringIndexType=Utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "That was the best day of my life!",
            "language": "en"
          },
          {
            "id": "1",
            "text": "",
            "language": "en"
          },
          {
            "id": "2",
            "text": "I\u0027m not sure how I feel about this product.",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "sentiment": "positive",
            "confidenceScores": {
              "positive": 1.0,
              "neutral": 0.0,
              "negative": 0.0
            },
            "sentences": [
              {
                "sentiment": "positive",
                "confidenceScores": {
                  "positive": 1.0,
                  "neutral": 0.0,
                  "negative": 0.0
                },
                "offset": 0,
                "length": 33,
                "text": "That was the best day of my life!"
              }
            ],
            "warnings": []
          },
          {
            "id": "2",
            "sentiment": "neutral",
            "confidenceScores": {
              "positive": 0.02,
              "neutral": 0.85,
              "negative": 0.13
            },
            "sentences": [
              {
                "sentiment": "neutral",
                "confidenceScores": {
                  "positive": 0.02,
                  "neutral": 0.85,
                  "negative": 0.13
                },
                "offset": 0,
                "length": 43,
                "text": "I\u0027m not sure how I feel about this product."
              }
            ],
            "warnings": []
          }
        ],
        "errors": [
          {
            "id": "1",
            "error": {
              "code": "InvalidArgument",
              "message": "Invalid document in request.",
              "innererror": {
                "code": "InvalidDocument",
                "message": "Document text is empty."
              }
            }
          }
        ],
        "modelVersion": "2020-04-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1934874503",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com"
  }
}