{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-10-01-preview\u0026showStats=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Pike Place Market is my favorite Seattle attraction.  We had so much fun there.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Esta comida no me gusta. Siempre que la como me enfermo.",
              "language": "es"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "SentimentAnalysis"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2,CognitiveServices.TextAnalytics.TextRecords=2"
      },
      "ResponseBody": {
        "kind": "SentimentAnalysisResults",
        "results": {
          "statistics": {
            "documentsCount": 2,
            "validDocumentsCount": 2,
            "erroneousDocumentsCount": 0,
            "transactionsCount": 2
          },
          "documents": [
            {
              "id": "1",
              "sentiment": "positive",
              "statistics": {
                "charactersCount": 79,
                "transactionsCount": 1
              },
              "confidenceScores": {
                "positive": 0.99,
                "neutral": 0.01,
                "negative": 0.0
              },
              "sentences": [
                {
                  "sentiment": "positive",
                  "confidenceScores": {
                    "positive": 0.99,
                    "neutral": 0.01,
                    "negative": 0.0
                  },
                  "offset": 0,
                  "length": 54,
                  "text": "Pike Place Market is my favorite Seattle attraction.  "
                },
                {
                  "sentiment": "positive",
                  "confidenceScores": {
                    "positive": 0.99,
                    "neutral": 0.01,
                    "negative": 0.0
                  },
                  "offset": 54,
                  "length": 25,
                  "text": "We had so much fun there."
                }
              ],
              "warnings": []
            },
            {
              "id": "2",
              "sentiment": "negative",
              "statistics": {
                "charactersCount": 56,
                "transactionsCount": 1
              },
              "confidenceScores": {
                "positive": 0.0,
                "neutral": 0.22,
                "negative": 0.77
              },
              "sentences": [
                {
                  "sentiment": "negative",
                  "confidenceScores": {
                    "positive": 0.0,
                    "neutral": 0.22,
                    "negative": 0.77
                  },
                  "offset": 0,
                  "length": 25,
                  "text": "Esta comida no me gusta. "
                },
                {
                  "sentiment": "neutral",
                  "confidenceScores": {
                    "positive": 0.04,
                    "neutral": 0.5,
                    "negative": 0.46
                  },
                  "offset": 25,
                  "length": 31,
                  "text": "Siempre que la como me enfermo."
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2022-10-01"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1971472576",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
