{
  "Entries": [
    {
      "RequestUri": "https://cognitiveusw2dev.azure-api.net/text/analytics/v3.1-preview.3/sentiment?showStats=false\u0026opinionMining=true\u0026stringIndexType=Utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "The park was clean and pretty. The bathrooms and restaurant were not clean.",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "sentiment": "mixed",
            "confidenceScores": {
              "positive": 0.5,
              "neutral": 0.0,
              "negative": 0.5
            },
            "sentences": [
              {
                "sentiment": "positive",
                "confidenceScores": {
                  "positive": 1.0,
                  "neutral": 0.0,
                  "negative": 0.0
                },
                "offset": 0,
                "length": 30,
                "text": "The park was clean and pretty.",
                "aspects": [
                  {
                    "sentiment": "positive",
                    "confidenceScores": {
                      "positive": 1.0,
                      "negative": 0.0
                    },
                    "offset": 4,
                    "length": 4,
                    "text": "park",
                    "relations": [
                      {
                        "relationType": "opinion",
                        "ref": "#/documents/0/sentences/0/opinions/0"
                      },
                      {
                        "relationType": "opinion",
                        "ref": "#/documents/0/sentences/0/opinions/1"
                      }
                    ]
                  }
                ],
                "opinions": [
                  {
                    "sentiment": "positive",
                    "confidenceScores": {
                      "positive": 1.0,
                      "negative": 0.0
                    },
                    "offset": 13,
                    "length": 5,
                    "text": "clean",
                    "isNegated": false
                  },
                  {
                    "sentiment": "positive",
                    "confidenceScores": {
                      "positive": 1.0,
                      "negative": 0.0
                    },
                    "offset": 23,
                    "length": 6,
                    "text": "pretty",
                    "isNegated": false
                  }
                ]
              },
              {
                "sentiment": "negative",
         [...]
