{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "The bathrooms are not clean.",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "opinionMining": true,
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "SentimentAnalysis"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "kind": "SentimentAnalysisResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "sentiment": "negative",
              "confidenceScores": {
                "positive": 0.0,
                "neutral": 0.0,
                "negative": 1.0
              },
              "sentences": [
                {
                  "sentiment": "negative",
                  "confidenceScores": {
                    "positive": 0.0,
                    "neutral": 0.0,
                    "negative": 1.0
                  },
                  "offset": 0,
                  "length": 28,
                  "text": "The bathrooms are not clean.",
                  "targets": [
                    {
                      "sentiment": "negative",
                      "confidenceScores": {
                        "positive": 0.0,
                        "negative": 1.0
                      },
                      "offset": 4,
                      "length": 9,
                      "text": "bathrooms",
                      "relations": [
                        {
                          "relationType": "assessment",
                          "ref": "#/documents/0/sentences/0/assessments/0"
                        }
                      ]
                    }
                  ],
                  "assessments": [
                    {
                      "sentiment": "negative",
                      "confidenceScores": {
                        "positive": 0.0,
                        "negative": 1.0
                      },
                      "offset": 22,
                      "length": 5,
                      "text": "clean",
                      "isNegated": true
                    }
                  ]
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2022-10-01"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1764227734",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
