{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-05-01\u0026showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Pike Place Market is my favorite Seattle attraction.  We had so much fun there.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Esta comida no me gusta. Siempre que la como me enfermo.",
              "language": "es"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "SentimentAnalysis"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2,CognitiveServices.TextAnalytics.TextRecords=2"
      },
      "ResponseBody": {
        "kind": "SentimentAnalysisResults",
        "results": {
          "documents": [
            {
              "id": "1",
              "sentiment": "positive",
              "confidenceScores": {
                "positive": 0.97,
                "neutral": 0.02,
                "negative": 0.01
              },
              "sentences": [
                {
                  "sentiment": "positive",
                  "confidenceScores": {
                    "positive": 0.96,
                    "neutral": 0.03,
                    "negative": 0.01
                  },
                  "offset": 0,
                  "length": 54,
                  "text": "Pike Place Market is my favorite Seattle attraction.  "
                },
                {
                  "sentiment": "positive",
                  "confidenceScores": {
                    "positive": 0.98,
                    "neutral": 0.01,
                    "negative": 0.01
                  },
                  "offset": 54,
                  "length": 25,
                  "text": "We had so much fun there."
                }
              ],
              "warnings": []
            },
            {
              "id": "2",
              "sentiment": "negative",
              "confidenceScores": {
                "positive": 0.02,
                "neutral": 0.02,
                "negative": 0.96
              },
              "sentences": [
                {
                  "sentiment": "negative",
                  "confidenceScores": {
                    "positive": 0.01,
                    "neutral": 0.01,
                    "negative": 0.98
                  },
                  "offset": 0,
                  "length": 25,
                  "text": "Esta comida no me gusta. "
                },
                {
                  "sentiment": "negative",
                  "confidenceScores": {
                    "positive": 0.03,
                    "neutral": 0.03,
                    "negative": 0.94
                  },
                  "offset": 25,
                  "length": 31,
                  "text": "Siempre que la como me enfermo."
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2022-06-01"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "328270696",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
