{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "defaultLanguage": "en",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "The park was clean and pretty. The bathrooms and restaurant were not clean.",
              "language": "auto"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "stringIndexType": "Utf16CodeUnit"
            },
            "kind": "SentimentAnalysis"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/690a1787-28c2-4ac9-937d-ac5c3002f379?api-version=2022-10-01-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/690a1787-28c2-4ac9-937d-ac5c3002f379?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "690a1787-28c2-4ac9-937d-ac5c3002f379",
        "lastUpdatedDateTime": "2022-11-29T20:37:07Z",
        "createdDateTime": "2022-11-29T20:37:07Z",
        "expirationDateTime": "2022-11-30T20:37:07Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/690a1787-28c2-4ac9-937d-ac5c3002f379?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "690a1787-28c2-4ac9-937d-ac5c3002f379",
        "lastUpdatedDateTime": "2022-11-29T20:37:09Z",
        "createdDateTime": "2022-11-29T20:37:07Z",
        "expirationDateTime": "2022-11-30T20:37:07Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "SentimentAnalysisLROResults",
              "lastUpdateDateTime": "2022-11-29T20:37:09.5968833Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "sentiment": "mixed",
                    "confidenceScores": {
                      "positive": 0.5,
                      "neutral": 0.0,
                      "negative": 0.5
                    },
                    "sentences": [
                      {
                        "sentiment": "positive",
                        "confidenceScores": {
                          "positive": 1.0,
                          "neutral": 0.0,
                          "negative": 0.0
                        },
                        "offset": 0,
                        "length": 31,
                        "text": "The park was clean and pretty. "
                      },
                      {
                        "sentiment": "negative",
                        "confidenceScores": {
                          "positive": 0.0,
                          "neutral": 0.0,
                          "negative": 1.0
                        },
                        "offset": 31,
                        "length": 44,
                        "text": "The bathrooms and restaurant were not clean."
                      }
                    ],
                    "warnings": [],
                    "detectedLanguage": {
                      "name": "English",
                      "iso6391Name": "en",
                      "confidenceScore": 0.99
                    },
                    "isLanguageDefaulted": false
                  }
                ],
                "errors": [],
                "modelVersion": "2022-11-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1984864932",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
