{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-10-01-preview\u0026showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "That was the best day of my life!. I had a lot of fun at the park.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "I\u0027m not sure how I feel about this product. It is complicated.",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "opinionMining": true,
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "SentimentAnalysis"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2,CognitiveServices.TextAnalytics.TextRecords=2"
      },
      "ResponseBody": {
        "kind": "SentimentAnalysisResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "sentiment": "positive",
              "confidenceScores": {
                "positive": 0.95,
                "neutral": 0.05,
                "negative": 0.0
              },
              "sentences": [
                {
                  "sentiment": "positive",
                  "confidenceScores": {
                    "positive": 1.0,
                    "neutral": 0.0,
                    "negative": 0.0
                  },
                  "offset": 0,
                  "length": 35,
                  "text": "That was the best day of my life!. ",
                  "targets": [],
                  "assessments": []
                },
                {
                  "sentiment": "positive",
                  "confidenceScores": {
                    "positive": 0.9,
                    "neutral": 0.09,
                    "negative": 0.01
                  },
                  "offset": 35,
                  "length": 31,
                  "text": "I had a lot of fun at the park.",
                  "targets": [
                    {
                      "sentiment": "positive",
                      "confidenceScores": {
                        "positive": 1.0,
                        "negative": 0.0
                      },
                      "offset": 61,
                      "length": 4,
                      "text": "park",
                      "relations": [
                        {
                          "relationType": "assessment",
                          "ref": "#/documents/0/sentences/1/assessments/0"
                        }
                      ]
                    }
                  ],
                  "assessments": [
                    {
                      "sentiment": "positive",
                      "confidenceScores": {
                        "positive": 1.0,
                        "negative": 0.0
                      },
                      "offset": 50,
                      "length": 3,
                      "text": "fun",
                      "isNegated": false
                    }
                  ]
                }
              ],
              "warnings": []
            },
            {
              "id": "1",
              "sentiment": "negative",
              "confidenceScores": {
                "positive": 0.0,
                "neutral": 0.06,
                "negative": 0.94
              },
              "sentences": [
                {
                  "sentiment": "neutral",
                  "confidenceScores": {
                    "positive": 0.03,
                    "neutral": 0.85,
                    "negative": 0.12
          [...]
