{
  "Entries": [
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-18b8c113-6327-ea79-b44c-36338c72ecba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:29:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7541248EFF656\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:29:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-18b8c113-6327-ea79-b44c-36338c72ecba?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:29:40 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "d29e0cea-ec91-88fb-9cfa-40b94b64be79",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7541248EFF656\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:29:40 GMT",
        "x-ms-lease-id": "d29e0cea-ec91-88fb-9cfa-40b94b64be79",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-304aae60-6720-90f1-16ef-c6e72246ef47?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 17 Oct 2019 21:29:40 GMT",
        "x-ms-date": "Fri, 18 Oct 2019 21:29:40 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "1acb3da7-cb1d-30a1-9378-9da70f4cac43",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7541248FAF4D7\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:29:40 GMT",
        "x-ms-lease-id": "1acb3da7-cb1d-30a1-9378-9da70f4cac43",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-fa0d8e68-394a-a82c-e70a-bc475de830dc?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 19 Oct 2019 21:29:40 GMT",
        "x-ms-date": "Fri, 18 Oct 2019 21:29:40 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "26fcccba-d6dc-8af6-0891-bd71fda6b2c7",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D754124903D01B\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:29:40 GMT",
        "x-ms-lease-id": "26fcccba-d6dc-8af6-0891-bd71fda6b2c7",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-fa0d8e68-394a-a82c-e70a-bc475de830dc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:29:40 GMT",
        "x-ms-lease-id": "26fcccba-d6dc-8af6-0891-bd71fda6b2c7",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-10-18T14:29:40.6053159-07:00",
    "RandomSeed": "53428987",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttp://seannse.blob.core.windows.net\nhttp://seannse.file.core.windows.net\nhttp://seannse.queue.core.windows.net\nhttp://seannse.table.core.windows.net\n\n\n\n\nhttp://seannse-secondary.blob.core.windows.net\nhttp://seannse-secondary.file.core.windows.net\nhttp://seannse-secondary.queue.core.windows.net\nhttp://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seannse.blob.core.windows.net/;QueueEndpoint=http://seannse.queue.core.windows.net/;TableEndpoint=http://seannse.table.core.windows.net/;FileEndpoint=http://seannse.file.core.windows.net/;BlobSecondaryEndpoint=http://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seannse-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://seannse-secondary.table.core.windows.net/;FileSecondaryEndpoint=http://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized"
  }
}