{
  "Entries": [
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-35f6548c-92d8-7ce7-7699-875f9bc7cc81?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:59:01 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C15069C949BF\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:59:01 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-35f6548c-92d8-7ce7-7699-875f9bc7cc81?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:59:01 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "35bc0153-44f9-fe55-ffb2-0c7651121a27",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C15069C949BF\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:59:01 GMT",
        "x-ms-lease-id": "35bc0153-44f9-fe55-ffb2-0c7651121a27",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-f35895d9-5bb4-d076-4a42-e0a4bc1eeca1?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 04 Mar 2020 21:59:01 GMT",
        "x-ms-date": "Thu, 05 Mar 2020 21:59:02 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "a1424f4c-21d8-1872-783e-f82014322a34",
        "x-ms-proposed-lease-id": "47a37418-5c6c-3084-1232-5ee3801faf20",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C1506A268CEA\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:59:01 GMT",
        "x-ms-lease-id": "47a37418-5c6c-3084-1232-5ee3801faf20",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-84d4d2a6-5257-18ad-dc90-c8e4a375842f?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 06 Mar 2020 21:59:01 GMT",
        "x-ms-date": "Thu, 05 Mar 2020 21:59:02 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "dfd6ae0f-6219-cc64-9ef8-e3dfbf25c66b",
        "x-ms-proposed-lease-id": "8225bb18-42a8-3459-9b9a-1c4b74858067",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C1506A8C4096\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:59:02 GMT",
        "x-ms-lease-id": "8225bb18-42a8-3459-9b9a-1c4b74858067",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-84d4d2a6-5257-18ad-dc90-c8e4a375842f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:59:02 GMT",
        "x-ms-lease-id": "8225bb18-42a8-3459-9b9a-1c4b74858067",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T13:59:01.0671706-08:00",
    "RandomSeed": "1596023870",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttps://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}