{
  "Entries": [
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-3235f656-7ab8-10d4-65fa-0bec0d27a802?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 23 Dec 2019 21:03:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D787EB90B1A3C1\u0022",
        "Last-Modified": "Mon, 23 Dec 2019 21:03:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.dfs.core.windows.net/test-filesystem-3235f656-7ab8-10d4-65fa-0bec0d27a802/test-file-0cab13d8-9704-89b2-c76d-d1a709d6808c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Dec 2019 21:03:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D787EB90C1D230\u0022",
        "Last-Modified": "Mon, 23 Dec 2019 21:03:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.dfs.core.windows.net/test-filesystem-3235f656-7ab8-10d4-65fa-0bec0d27a802/test-file-0cab13d8-9704-89b2-c76d-d1a709d6808c",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Dec 2019 21:03:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-3235f656-7ab8-10d4-65fa-0bec0d27a802?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Dec 2019 21:03:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "45052773",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttp://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}