{
  "Entries": [
    {
      "RequestUri": "https://dgxxscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-49b26734-3781-7327-71a6-7d77dd6abfeb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 03 Mar 2022 04:57:50 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FCD25DD12C89\u0022",
        "Last-Modified": "Thu, 03 Mar 2022 04:57:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dgxxscnapby3pev24a.dfs.preprod.core.windows.net/test-filesystem-49b26734-3781-7327-71a6-7d77dd6abfeb/test-file-892a807e-b4e6-ddbf-d742-1c8a8d5f75db?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Mar 2022 04:57:50 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FCD25DE17302\u0022",
        "Last-Modified": "Thu, 03 Mar 2022 04:57:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dgxxscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-49b26734-3781-7327-71a6-7d77dd6abfeb/test-file-892a807e-b4e6-ddbf-d742-1c8a8d5f75db?comp=expiry",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Mar 2022 04:57:50 GMT",
        "x-ms-expiry-option": "Absolute",
        "x-ms-expiry-time": "Fri, 04 Mar 2022 04:57:50 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FCD25DE17302\u0022",
        "Last-Modified": "Thu, 03 Mar 2022 04:57:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dgxxscnapby3pev24a.dfs.preprod.core.windows.net/test-filesystem-49b26734-3781-7327-71a6-7d77dd6abfeb?resource=filesystem\u0026recursive=false\u0026upn=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Mar 2022 04:57:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "132907570698023682",
            "etag": "0x8D9FCD25DE17302",
            "expiryTime": "132908434700000000",
            "group": "$superuser",
            "lastModified": "Thu, 03 Mar 2022 04:57:49 GMT",
            "name": "test-file-892a807e-b4e6-ddbf-d742-1c8a8d5f75db",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dgxxscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-49b26734-3781-7327-71a6-7d77dd6abfeb/test-file-892a807e-b4e6-ddbf-d742-1c8a8d5f75db",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Mar 2022 04:57:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9FCD25DE17302\u0022",
        "Last-Modified": "Thu, 03 Mar 2022 04:57:49 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Mar 2022 04:57:49 GMT",
        "x-ms-expiry-time": "Fri, 04 Mar 2022 04:57:50 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dgxxscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-49b26734-3781-7327-71a6-7d77dd6abfeb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Mar 2022 04:57:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-03-02T22:57:50.9744976-06:00",
    "RandomSeed": "1570231423",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\ndgxxscnapby3pev24a\nU2FuaXRpemVk\nhttps://dgxxscnapby3pev24a.blob.preprod.core.windows.net\nhttps://dgxxscnapby3pev24a.file.core.windows.net\nhttps://dgxxscnapby3pev24a.queue.core.windows.net\nhttps://dgxxscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://dgxxscnapby3pev24a-secondary.blob.core.windows.net\nhttps://dgxxscnapby3pev24a-secondary.file.core.windows.net\nhttps://dgxxscnapby3pev24a-secondary.queue.core.windows.net\nhttps://dgxxscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://dgxxscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://dgxxscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://dgxxscnapby3pev24a.file.core.windows.net/;BlobSecondaryEndpoint=https://dgxxscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://dgxxscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://dgxxscnapby3pev24a-secondary.file.core.windows.net/;AccountName=dgxxscnapby3pev24a;AccountKey=Sanitized\n\n\n"
  }
}
