{
  "Entries": [
    {
      "RequestUri": "https://storagedotnetdatalake.blob.core.windows.net/test-filesystem-2dfcecbc-72f1-e6d6-644a-c54751ff6a71?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 02 Oct 2020 03:34:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8668409585D03\u0022",
        "Last-Modified": "Fri, 02 Oct 2020 03:34:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnetdatalake.dfs.core.windows.net/test-filesystem-2dfcecbc-72f1-e6d6-644a-c54751ff6a71/foo?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 02 Oct 2020 03:34:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86684097D18AC\u0022",
        "Last-Modified": "Fri, 02 Oct 2020 03:34:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnetdatalake.dfs.core.windows.net/test-filesystem-2dfcecbc-72f1-e6d6-644a-c54751ff6a71/bar?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 02 Oct 2020 03:34:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D866840984B3C1\u0022",
        "Last-Modified": "Fri, 02 Oct 2020 03:34:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnetdatalake.dfs.core.windows.net/test-filesystem-2dfcecbc-72f1-e6d6-644a-c54751ff6a71/baz?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 02 Oct 2020 03:34:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86684098CAEFE\u0022",
        "Last-Modified": "Fri, 02 Oct 2020 03:34:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnetdatalake.dfs.core.windows.net/test-filesystem-2dfcecbc-72f1-e6d6-644a-c54751ff6a71/baz/bar?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 02 Oct 2020 03:34:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8668409951EEB\u0022",
        "Last-Modified": "Fri, 02 Oct 2020 03:34:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnetdatalake.dfs.core.windows.net/test-filesystem-2dfcecbc-72f1-e6d6-644a-c54751ff6a71/foo/foo?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 02 Oct 2020 03:34:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86684099BDD17\u0022",
        "Last-Modified": "Fri, 02 Oct 2020 03:34:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnetdatalake.dfs.core.windows.net/test-filesystem-2dfcecbc-72f1-e6d6-644a-c54751ff6a71/foo/bar?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 02 Oct 2020 03:34:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8668409A33544\u0022",
        "Last-Modified": "Fri, 02 Oct 2020 03:34:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnetdatalake.dfs.core.windows.net/test-filesystem-2dfcecbc-72f1-e6d6-644a-c54751ff6a71/baz/foo?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 02 Oct 2020 03:34:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8668409AE0C0C\u0022",
        "Last-Modified": "Fri, 02 Oct 2020 03:34:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnetdatalake.dfs.core.windows.net/test-filesystem-2dfcecbc-72f1-e6d6-644a-c54751ff6a71/baz/foo/bar?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 02 Oct 2020 03:34:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8668409B4C87F\u0022",
        "Last-Modified": "Fri, 02 Oct 2020 03:34:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnetdatalake.dfs.core.windows.net/test-filesystem-2dfcecbc-72f1-e6d6-644a-c54751ff6a71/baz/bar/foo?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 02 Oct 2020 03:34:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8668409BF2C6E\u0022",
        "Last-Modified": "Fri, 02 Oct 2020 03:34:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnetdatalake.dfs.core.windows.net/test-filesystem-2dfcecbc-72f1-e6d6-644a-c54751ff6a71?resource=filesystem\u0026recursive=false\u0026directory=foo\u0026upn=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 02 Oct 2020 03:34:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "{\u0022paths\u0022:[{\u0022contentLength\u0022:\u00220\u0022,\u0022creationTime\u0022:\u0022132460832556332356\u0022,\u0022etag\u0022:\u00220x8D8668409A33544\u0022,\u0022group\u0022:\u0022$superuser\u0022,\u0022isDirectory\u0022:\u0022true\u0022,\u0022lastModified\u0022:\u0022Fri, 02 Oct 2020 03:34:15 GMT\u0022,\u0022name\u0022:\u0022foo/bar\u0022,\u0022owner\u0022:\u0022$superuser\u0022,\u0022permissions\u0022:\u0022rwxr-x---\u0022},{\u0022contentLength\u0022:\u00220\u0022,\u0022creationTime\u0022:\u0022132460832555851031\u0022,\u0022etag\u0022:\u00220x8D86684099BDD17\u0022,\u0022group\u0022:\u0022$superuser\u0022,\u0022isDirectory\u0022:\u0022true\u0022,\u0022lastModified\u0022:\u0022Fri, 02 Oct 2020 03:34:15 GMT\u0022,\u0022name\u0022:\u0022foo/foo\u0022,\u0022owner\u0022:\u0022$superuser\u0022,\u0022permissions\u0022:\u0022rwxr-x---\u0022}]}\n"
      ]
    },
    {
      "RequestUri": "https://storagedotnetdatalake.blob.core.windows.net/test-filesystem-2dfcecbc-72f1-e6d6-644a-c54751ff6a71?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 02 Oct 2020 03:34:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "587546984",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nstoragedotnetdatalake\nU2FuaXRpemVk\nhttps://storagedotnetdatalake.blob.core.windows.net\nhttps://storagedotnetdatalake.file.core.windows.net\nhttps://storagedotnetdatalake.queue.core.windows.net\nhttps://storagedotnetdatalake.table.core.windows.net\n\n\n\n\nhttps://storagedotnetdatalake-secondary.blob.core.windows.net\nhttps://storagedotnetdatalake-secondary.file.core.windows.net\nhttps://storagedotnetdatalake-secondary.queue.core.windows.net\nhttps://storagedotnetdatalake-secondary.table.core.windows.net\n183fee76-3bc8-488e-866f-b6562a249293\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://storagedotnetdatalake.blob.core.windows.net/;QueueEndpoint=https://storagedotnetdatalake.queue.core.windows.net/;FileEndpoint=https://storagedotnetdatalake.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnetdatalake-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnetdatalake-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnetdatalake-secondary.file.core.windows.net/;AccountName=storagedotnetdatalake;AccountKey=Sanitized\n"
  }
}