{
  "Entries": [
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-cb30da1f-e944-f092-e212-e6153c95a8ec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 21:05:17 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D812B5AF9C41\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 21:05:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-cb30da1f-e944-f092-e212-e6153c95a8ec?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 21:05:18 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "acf5ca61-cae9-408e-c999-81f75ee99276",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D812B5AF9C41\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 21:05:16 GMT",
        "x-ms-lease-id": "acf5ca61-cae9-408e-c999-81f75ee99276",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-001ceb5f-2d57-a9a8-d99a-ce39cba3f096?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 02 Apr 2020 21:05:17 GMT",
        "x-ms-date": "Fri, 03 Apr 2020 21:05:18 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "4dbf935f-5f4e-5084-8a55-39748204c93d",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D812B6051EE8\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 21:05:17 GMT",
        "x-ms-lease-id": "4dbf935f-5f4e-5084-8a55-39748204c93d",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-ebdde662-67af-80f1-0c50-5afa2a2017fe?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 04 Apr 2020 21:05:17 GMT",
        "x-ms-date": "Fri, 03 Apr 2020 21:05:19 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "8760cedb-49a0-4dd1-f5a4-11e9f0d2e4cf",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D812B63D9E67\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 21:05:17 GMT",
        "x-ms-lease-id": "8760cedb-49a0-4dd1-f5a4-11e9f0d2e4cf",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-ebdde662-67af-80f1-0c50-5afa2a2017fe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 21:05:19 GMT",
        "x-ms-lease-id": "8760cedb-49a0-4dd1-f5a4-11e9f0d2e4cf",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-03T14:05:17.9860165-07:00",
    "RandomSeed": "1451089021",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttp://seannsecanary.blob.core.windows.net\nhttp://seannsecanary.file.core.windows.net\nhttp://seannsecanary.queue.core.windows.net\nhttp://seannsecanary.table.core.windows.net\n\n\n\n\nhttp://seannsecanary-secondary.blob.core.windows.net\nhttp://seannsecanary-secondary.file.core.windows.net\nhttp://seannsecanary-secondary.queue.core.windows.net\nhttp://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seannsecanary.blob.core.windows.net/;QueueEndpoint=http://seannsecanary.queue.core.windows.net/;FileEndpoint=http://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=http://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}