{
  "Entries": [
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-e68d54c0-14ac-8b15-0976-04b7ccee03bc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Apr 2020 04:56:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA6757EEBC0A\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:56:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-e68d54c0-14ac-8b15-0976-04b7ccee03bc?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Modified-Since": "Tue, 28 Apr 2020 04:56:27 GMT",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Apr 2020 04:56:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CSignedIdentifiers\u003E\u003CSignedIdentifier\u003E\u003CId\u003Escbwhwywsypblcmvmmvp\u003C/Id\u003E\u003CAccessPolicy\u003E\u003CStart\u003E2020-04-27T03:56:27.3880785Z\u003C/Start\u003E\u003CExpiry\u003E2020-04-27T05:56:27.3880785Z\u003C/Expiry\u003E\u003CPermission\u003Ercw\u003C/Permission\u003E\u003C/AccessPolicy\u003E\u003C/SignedIdentifier\u003E\u003C/SignedIdentifiers\u003E",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:0116a669-c01e-00c2-1a50-1cb0a7000000\n",
        "Time:2020-04-27T04:56:27.4929972Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-0021734d-e5de-22b2-9095-3db6704b2935?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Unmodified-Since": "Sun, 26 Apr 2020 04:56:27 GMT",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Apr 2020 04:56:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CSignedIdentifiers\u003E\u003CSignedIdentifier\u003E\u003CId\u003Edrehdkvygbprumnrrabj\u003C/Id\u003E\u003CAccessPolicy\u003E\u003CStart\u003E2020-04-27T03:56:27.3880785Z\u003C/Start\u003E\u003CExpiry\u003E2020-04-27T05:56:27.3880785Z\u003C/Expiry\u003E\u003CPermission\u003Ercw\u003C/Permission\u003E\u003C/AccessPolicy\u003E\u003C/SignedIdentifier\u003E\u003C/SignedIdentifiers\u003E",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:0116a67b-c01e-00c2-2a50-1cb0a7000000\n",
        "Time:2020-04-27T04:56:27.7652539Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-882f9278-f871-8ace-3460-c44738438994?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Apr 2020 04:56:28 GMT",
        "x-ms-lease-id": "\u0022garbage\u0022",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CSignedIdentifiers\u003E\u003CSignedIdentifier\u003E\u003CId\u003Enbfcsmqjdrheepjlnvat\u003C/Id\u003E\u003CAccessPolicy\u003E\u003CStart\u003E2020-04-27T03:56:27.3880785Z\u003C/Start\u003E\u003CExpiry\u003E2020-04-27T05:56:27.3880785Z\u003C/Expiry\u003E\u003CPermission\u003Ercw\u003C/Permission\u003E\u003C/AccessPolicy\u003E\u003C/SignedIdentifier\u003E\u003C/SignedIdentifiers\u003E",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidHeaderValue\u003C/Code\u003E\u003CMessage\u003EThe value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:0116a69e-c01e-00c2-4b50-1cb0a7000000\n",
        "Time:2020-04-27T04:56:28.0535258Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-lease-id\u003C/HeaderName\u003E\u003CHeaderValue\u003E\u0022garbage\u0022\u003C/HeaderValue\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-882f9278-f871-8ace-3460-c44738438994?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:56:28 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-26T21:56:27.3880785-07:00",
    "RandomSeed": "1920142689",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttp://amandaadlscanary.blob.core.windows.net\nhttp://amandaadlscanary.file.core.windows.net\nhttp://amandaadlscanary.queue.core.windows.net\nhttp://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary-secondary.blob.core.windows.net\nhttp://amandaadlscanary-secondary.file.core.windows.net\nhttp://amandaadlscanary-secondary.queue.core.windows.net\nhttp://amandaadlscanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}