{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5d81a6e3-b46b-91ed-96b3-8701b4423809?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Feb 2021 02:20:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3B3D0620AA3\"",
        "Last-Modified": "Thu, 18 Feb 2021 02:20:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5d81a6e3-b46b-91ed-96b3-8701b4423809?restype=container&comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 18 Feb 2021 02:20:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "﻿<SignedIdentifiers><SignedIdentifier><Id>dhphmtmysxvdkytsaudq</Id><AccessPolicy><Start>2021-02-18T01:20:52.1101374Z</Start><Expiry>2021-02-18T03:20:52.1101374Z</Expiry><Permission>rcw</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3B3D073EFC1\"",
        "Last-Modified": "Thu, 18 Feb 2021 02:20:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-495ee9f6-6d21-525d-fda7-333f44985f97?restype=container&comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Modified-Since": "Wed, 17 Feb 2021 02:20:52 GMT",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 18 Feb 2021 02:20:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "﻿<SignedIdentifiers><SignedIdentifier><Id>btocyhjcdgpskcxuapjl</Id><AccessPolicy><Start>2021-02-18T01:20:52.1101374Z</Start><Expiry>2021-02-18T03:20:52.1101374Z</Expiry><Permission>rcw</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3B3D0BA06E4\"",
        "Last-Modified": "Thu, 18 Feb 2021 02:20:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ce57f5fe-50b7-b421-19ba-8706839abbad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Feb 2021 02:20:53 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:c243c11b-c01e-0083-129c-05613d000000\n",
        "Time:2021-02-18T02:20:53.0873032Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ce57f5fe-50b7-b421-19ba-8706839abbad?restype=container&comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Unmodified-Since": "Fri, 19 Feb 2021 02:20:52 GMT",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 18 Feb 2021 02:20:53 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "﻿<SignedIdentifiers><SignedIdentifier><Id>ihnsbfmsrdehsqyeemof</Id><AccessPolicy><Start>2021-02-18T01:20:52.1101374Z</Start><Expiry>2021-02-18T03:20:52.1101374Z</Expiry><Permission>rcw</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3B3D0FBFE8D\"",
        "Last-Modified": "Thu, 18 Feb 2021 02:20:53 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T20:20:52.1101374-06:00",
    "RandomSeed": "2061964641",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n\n\n"
  }
}