{
  "Entries": [
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Tue, 30 Aug 2022 21:48:03 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtablejAQ015mD"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtablejAQ015mD\u0027)",
        "Location": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtablejAQ015mD\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtablejAQ015mD()?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 30 Aug 2022 21:48:03 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrisstablesprim.table.core.windows.net/$metadata#testtablejAQ015mD",
        "value": []
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtablejAQ015mD\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Aug 2022 21:48:03 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "129501456",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "chrisstablesprim"
  }
}
