{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11822"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testeventhubRG-6109?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "tags": {
          "test": "env"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109",
        "name": "testeventhubRG-6109",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.EventHub/checkNameAvailability?api-version=2021-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "testnamespacemgmt3393"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None",
        "message": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3393?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "46"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3393",
        "name": "testnamespacemgmt3393",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "East US 2",
        "tags": {},
        "properties": {
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:testnamespacemgmt3393",
          "createdAt": "2021-11-19T06:48:57.15Z",
          "updatedAt": "2021-11-19T06:48:57.15Z",
          "serviceBusEndpoint": "https://testnamespacemgmt3393.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.Network/virtualNetworks/vnet-8533?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "default",
              "properties": {
                "addressPrefix": "10.0.1.0/24",
                "privateEndpointNetworkPolicies": "Disabled"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/43082609-1ae5-4581-8c11-ac90315b2bae?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022vnet-8533\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.Network/virtualNetworks/vnet-8533\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u002208a08f41-8f34-4227-8e63-13912349b2e9\\\u0022\u0022,\r\n",
        "  \u0022type\u0022: \u00[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/43082609-1ae5-4581-8c11-ac90315b2bae?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.Network/virtualNetworks/vnet-8533?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00227755ef30-b353-4914-b484-0363008d0160\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022vnet-8533\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.Network/virtualNetworks/vnet-8533\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u00227755ef30-b353-4914-b484-0363008d0160\\\u00[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.Network/privateEndpoints/pe-6925?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "subnet": {
            "name": "default",
            "type": "Microsoft.Network/virtualNetworks/subnets",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.Network/virtualNetworks/vnet-8533/subnets/default",
            "properties": {
              "addressPrefix": "10.0.1.0/24",
              "delegations": [],
              "privateEndpointNetworkPolicies": "Disabled",
              "privateLinkServiceNetworkPolicies": "Enabled"
            }
          },
          "manualPrivateLinkServiceConnections": [
            {
              "name": "pec3957",
              "properties": {
                "privateLinkServiceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3393",
                "groupIds": [
                  "namespace"
                ],
                "requestMessage": "SDK test"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/0413e045-d9a8-4900-93a5-a8a480df5088?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3393/privateEndpointConnections?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11940"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3393/privateEndpointConnections/840842ac-a3a2-483a-a40f-12422390e455",
            "name": "840842ac-a3a2-483a-a40f-12422390e455",
            "type": "Microsoft.EventHub/Namespaces/PrivateEndpointConnections",
            "location": "East US 2",
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpoint": {
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.Network/privateEndpoints/pe-6925"
              },
              "privateLinkServiceConnectionState": {
                "status": "Pending",
                "description": "SDK test"
              },
              "groupIds": [
                "namespace"
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3393/privateEndpointConnections/840842ac-a3a2-483a-a40f-12422390e455?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "a[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3393/privateEndpointConnections/840842ac-a3a2-483a-a40f-12422390e455/operationStatus/840842ac-a3a2-483a-a40f-12422390e455?api-version=2021-11-01\u0026operationType=Delete",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3393/privateEndpointConnections/840842ac-a3a2-483a-a40f-12422390e455/operationStatus/840842ac-a3a2-483a-a40f-12422390e455?api-version=2021-11-01\u0026operationType=Delete",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11932"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3393/privateEndpointConnections/840842ac-a3a2-483a-a40f-12422390e455/operationStatus/840842ac-a3a2-483a-a40f-12422390e455/operationStatus/840842ac-a3a2-483a-a40f-12422390e455",
        "name": "840842ac-a3a2-483a-a40f-12422390e455",
        "status": "Succeeded",
        "startTime": "0001-01-01T00:00:00",
        "endTime": "0001-01-01T00:00:00"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3393/privateEndpointConnections/840842ac-a3a2-483a-a40f-12422390e455?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11931"
      },
      "ResponseBody": {
        "error": {
          "message": "The requested resource 840842ac-a3a2-483a-a40f-12422390e455 does not exist. CorrelationId: 2ccda0ce-34c6-4249-8a49-32f7f771ccd7",
          "code": "NotFound"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3393?api-version=2021-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3393/operationresults/testnamespacemgmt3393?api-version=2021-11-01",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3393/operationresults/testnamespacemgmt3393?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3393/operationresults/testnamespacemgmt3393?api-version=2021-11-01",
        "Retry-After": "42",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11928"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3393",
        "name": "testnamespacemgmt3393",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "East US 2",
        "tags": {},
        "properties": {
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "privateEndpointConnections": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3393/operationresults/testnamespacemgmt3393/privateEndpointConnections/840842ac-a3a2-483a-a40f-12422390e455",
              "name": "840842ac-a3a2-483a-a40f-12422390e455",
              "type": "Microsoft.EventHub/Namespaces/PrivateEndpointConnections",
              "location": "East US 2",
              "properties[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-6109/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3393/operationresults/testnamespacemgmt3393?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11917"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "330605234",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}