{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:51:31 GMT"
      },
      "RequestBody": {
        "id": "sdk-wd5D-4mv6Uqgm3dvBVeRdw--CPPri",
        "name": "Priority-ClassificationPolicy",
        "prioritizationRule": {
          "value": 10,
          "kind": "static-rule"
        },
        "workerSelectors": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "a7b6ce9904a45a47b034119516dc500e"
      },
      "ResponseBody": {
        "id": "sdk-wd5D-4mv6Uqgm3dvBVeRdw--CPPri",
        "name": "Priority-ClassificationPolicy",
        "fallbackQueueId": null,
        "queueSelector": null,
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationpolicies/sdk-wd5D-4mv6Uqgm3dvBVeRdw--CPPri?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:51:31 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221100bae4-0000-0700-0000-61661f830000\u0022",
        "trace-id": "e65c203d7fdd724db20962cac02e2dbc"
      },
      "ResponseBody": {
        "id": "sdk-wd5D-4mv6Uqgm3dvBVeRdw--CPPri",
        "name": "Priority-ClassificationPolicy",
        "fallbackQueueId": null,
        "queueSelector": null,
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectors": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-wd5D-4mv6Uqgm3dvBVeRdw-",
    "RandomSeed": "945133917"
  }
}