{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/channels?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:17 GMT"
      },
      "RequestBody": {
        "id": "sdk-J14qmCNY20uxaXkfc54fbQ-CP_StaticQueue",
        "name": "TestChannelName-ChannelId"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "8c300596e59a344d99cb2e42c451e0be"
      },
      "ResponseBody": {
        "id": "sdk-J14qmCNY20uxaXkfc54fbQ-CP_StaticQueue",
        "name": "TestChannelName-ChannelId",
        "acsManaged": false
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:17 GMT"
      },
      "RequestBody": {
        "id": "sdk-J14qmCNY20uxaXkfc54fbQ-Q2_CP_StaticQueue",
        "name": "LongestIdleDistributionPolicysdk-J14qmCNY20uxaXkfc54fbQ-Q2_CP_StaticQueue",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "b55b932a1aae554896accceb530820d4"
      },
      "ResponseBody": {
        "id": "sdk-J14qmCNY20uxaXkfc54fbQ-Q2_CP_StaticQueue",
        "name": "LongestIdleDistributionPolicysdk-J14qmCNY20uxaXkfc54fbQ-Q2_CP_StaticQueue",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:17 GMT"
      },
      "RequestBody": {
        "id": "sdk-J14qmCNY20uxaXkfc54fbQ-Q2_CP_StaticQueue",
        "name": "DefaultQueue-Sdk-Testsdk-J14qmCNY20uxaXkfc54fbQ-Q2_CP_StaticQueue",
        "distributionPolicyId": "sdk-J14qmCNY20uxaXkfc54fbQ-Q2_CP_StaticQueue",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "1361e18502546a4db66ceb0f2c5ccb7f"
      },
      "ResponseBody": {
        "id": "sdk-J14qmCNY20uxaXkfc54fbQ-Q2_CP_StaticQueue",
        "name": "DefaultQueue-Sdk-Testsdk-J14qmCNY20uxaXkfc54fbQ-Q2_CP_StaticQueue",
        "distributionPolicyId": "sdk-J14qmCNY20uxaXkfc54fbQ-Q2_CP_StaticQueue",
        "labels": {
          "Label_1": "Value_1"
        },
        "exceptionPolicyId": null
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:17 GMT"
      },
      "RequestBody": {
        "id": "sdk-J14qmCNY20uxaXkfc54fbQ--CP_StaticQueue",
        "name": "StaticQueueSelector-ClassificationPolicy",
        "queueSelector": {
          "rule": {
            "value": "sdk-J14qmCNY20uxaXkfc54fbQ-Q2_CP_StaticQueue",
            "kind": "static-rule"
          },
          "kind": "queue-id"
        },
        "workerSelectors": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "4ff95a6f6afb0e40a6230d08340acf11"
      },
      "ResponseBody": {
        "id": "sdk-J14qmCNY20uxaXkfc54fbQ--CP_StaticQueue",
        "name": "StaticQueueSelector-ClassificationPolicy",
        "fallbackQueueId": null,
        "queueSelector": {
          "kind": "queue-id",
          "rule": {
            "kind": "static-rule",
            "value": "sdk-J14qmCNY20uxaXkfc54fbQ-Q2_CP_StaticQueue"
          }
        },
        "prioritizationRule": null,
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs?api-version=2021-04-07-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:18 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "sdk-J14qmCNY20uxaXkfc54fbQ-CP_StaticQueue",
        "classificationPolicyId": "sdk-J14qmCNY20uxaXkfc54fbQ--CP_StaticQueue",
        "workerSelectors": null,
        "labels": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "b648fce9-63f2-4af3-af94-dfbaf2e603da",
        "trace-id": "285420a37bfd6345b2ef7b8bc486bb3c"
      },
      "ResponseBody": {
        "id": "b648fce9-63f2-4af3-af94-dfbaf2e603da"
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/b648fce9-63f2-4af3-af94-dfbaf2e603da?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "4c588c7e50e47b42882009e7bb85661e"
      },
      "ResponseBody": {
        "id": "b648fce9-63f2-4af3-af94-dfbaf2e603da",
        "channelReference": "123",
        "jobStatus": "Queued",
        "enqueueTimeUtc": "2021-10-12T23:52:18.064981\u002B00:00",
        "channelId": "sdk-J14qmCNY20uxaXkfc54fbQ-CP_StaticQueue",
        "classificationPolicyId": "sdk-J14qmCNY20uxaXkfc54fbQ--CP_StaticQueue",
        "queueId": "sdk-J14qmCNY20uxaXkfc54fbQ-Q2_CP_StaticQueue",
        "priority": 1,
        "dispositionCode": null,
        "workerSelectors": [],
        "labels": {},
        "assignments": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/b648fce9-63f2-4af3-af94-dfbaf2e603da/cancel?api-version=2021-04-07-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:18 GMT"
      },
      "RequestBody": {},
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "trace-id": "07d07b5a493bbc42b630158629baa8a6"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationpolicies/sdk-J14qmCNY20uxaXkfc54fbQ--CP_StaticQueue?api-version=2021-04-07-preview1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "trace-id": "b8ab5850289cc14199e541d9278eedea"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-J14qmCNY20uxaXkfc54fbQ-",
    "RandomSeed": "1111880335"
  }
}