{
  "Entries": [
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/distributionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:06:46 GMT"
      },
      "RequestBody": {
        "id": "sdk-pZfbY2CrPkeMz0WUSy1-_w-CreateQueueSelectionCla",
        "name": "LongestIdleDistributionPolicysdk-pZfbY2CrPkeMz0WUSy1-_w-CreateQueueSelectionCla",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "b1c6b9cf58174d46ad02e21833212a4a"
      },
      "ResponseBody": {
        "id": "sdk-pZfbY2CrPkeMz0WUSy1-_w-CreateQueueSelectionCla",
        "name": "LongestIdleDistributionPolicysdk-pZfbY2CrPkeMz0WUSy1-_w-CreateQueueSelectionCla",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/queues?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:06:46 GMT"
      },
      "RequestBody": {
        "id": "sdk-pZfbY2CrPkeMz0WUSy1-_w-CreateQueueSelectionCla",
        "name": "DefaultQueue-Sdk-Testsdk-pZfbY2CrPkeMz0WUSy1-_w-CreateQueueSelectionCla",
        "distributionPolicyId": "sdk-pZfbY2CrPkeMz0WUSy1-_w-CreateQueueSelectionCla",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "0b8e3e07ebadc94e8532bc5b4248a6bc"
      },
      "ResponseBody": {
        "id": "sdk-pZfbY2CrPkeMz0WUSy1-_w-CreateQueueSelectionCla",
        "name": "DefaultQueue-Sdk-Testsdk-pZfbY2CrPkeMz0WUSy1-_w-CreateQueueSelectionCla",
        "distributionPolicyId": "sdk-pZfbY2CrPkeMz0WUSy1-_w-CreateQueueSelectionCla",
        "labels": {
          "Label_1": "Value_1",
          "Id": "sdk-pZfbY2CrPkeMz0WUSy1-_w-CreateQueueSelectionCla"
        },
        "exceptionPolicyId": null,
        "estimatedWaitTimeMs": null
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/classificationpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:06:47 GMT"
      },
      "RequestBody": {
        "id": "sdk-pZfbY2CrPkeMz0WUSy1-_w--CPQS",
        "name": "QueueSelection-ClassificationPolicy",
        "queueSelector": {
          "rule": {
            "value": "sdk-pZfbY2CrPkeMz0WUSy1-_w-CreateQueueSelectionCla",
            "kind": "static-rule"
          },
          "kind": "queue-id"
        },
        "workerSelectors": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "c7d4c7c1f7b1824d94d6fa00a7cd1555"
      },
      "ResponseBody": {
        "id": "sdk-pZfbY2CrPkeMz0WUSy1-_w--CPQS",
        "name": "QueueSelection-ClassificationPolicy",
        "fallbackQueueId": null,
        "queueSelector": {
          "kind": "queue-id",
          "rule": {
            "kind": "static-rule",
            "value": "sdk-pZfbY2CrPkeMz0WUSy1-_w-CreateQueueSelectionCla"
          }
        },
        "prioritizationRule": null,
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/classificationpolicies/sdk-pZfbY2CrPkeMz0WUSy1-_w--CPQS?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:06:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221e00464f-0000-0700-0000-620d2f270000\u0022",
        "trace-id": "9c9bc1d02678dc449d03e6347110cda4"
      },
      "ResponseBody": {
        "id": "sdk-pZfbY2CrPkeMz0WUSy1-_w--CPQS",
        "name": "QueueSelection-ClassificationPolicy",
        "fallbackQueueId": null,
        "queueSelector": {
          "kind": "queue-id",
          "rule": {
            "kind": "static-rule",
            "value": "sdk-pZfbY2CrPkeMz0WUSy1-_w-CreateQueueSelectionCla"
          }
        },
        "prioritizationRule": null,
        "workerSelectors": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://prod-test.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-pZfbY2CrPkeMz0WUSy1-_w-",
    "RandomSeed": "1408902483"
  }
}