{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/channels?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:11 GMT"
      },
      "RequestBody": {
        "id": "sdk-tby3AuxoX0WnHDOjKKUdPQ-CreateChannelTest"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "b6bdba21eda19f45b1d4d7c988e4ec11"
      },
      "ResponseBody": {
        "id": "sdk-tby3AuxoX0WnHDOjKKUdPQ-CreateChannelTest",
        "name": null,
        "acsManaged": false
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/channels?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:11 GMT"
      },
      "RequestBody": {
        "id": "sdk-tby3AuxoX0WnHDOjKKUdPQ-CreateChannelTest",
        "name": "TestChannelName-ChannelIdsdk-tby3AuxoX0WnHDOjKKUdPQ-CreateChannelTest"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "da6ba53e0143c2488cc69caea610a393"
      },
      "ResponseBody": {
        "id": "sdk-tby3AuxoX0WnHDOjKKUdPQ-CreateChannelTest",
        "name": "TestChannelName-ChannelIdsdk-tby3AuxoX0WnHDOjKKUdPQ-CreateChannelTest",
        "acsManaged": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-tby3AuxoX0WnHDOjKKUdPQ-",
    "RandomSeed": "592771638"
  }
}