{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:51:22 GMT"
      },
      "RequestBody": {
        "id": "sdk-6KeFUiOJKEK17oPRrA7d0A--RR-DistributionPolicy",
        "name": "sdk-6KeFUiOJKEK17oPRrA7d0A--RR-DistributionPolicy-Name",
        "offerTTL": "00:00:00.0010000",
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "8e5fbc40a63a4a4eb95cc577f8158b19"
      },
      "ResponseBody": {
        "id": "sdk-6KeFUiOJKEK17oPRrA7d0A--RR-DistributionPolicy",
        "name": "sdk-6KeFUiOJKEK17oPRrA7d0A--RR-DistributionPolicy-Name",
        "offerTTL": "00:00:00.0010000",
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:51:22 GMT"
      },
      "RequestBody": {
        "id": "sdk-6KeFUiOJKEK17oPRrA7d0A--RR-DistributionPolicy",
        "name": "sdk-6KeFUiOJKEK17oPRrA7d0A--RR-DistributionPolicy-Name",
        "offerTTL": "00:00:00.0010000",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "7b73afe79b6342499016618cb29e2c61"
      },
      "ResponseBody": {
        "id": "sdk-6KeFUiOJKEK17oPRrA7d0A--RR-DistributionPolicy",
        "name": "sdk-6KeFUiOJKEK17oPRrA7d0A--RR-DistributionPolicy-Name",
        "offerTTL": "00:00:00.0010000",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-6KeFUiOJKEK17oPRrA7d0A-",
    "RandomSeed": "2138294848"
  }
}