{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:50:27 GMT"
      },
      "RequestBody": {
        "id": "sdk-1282jDgfRUmulv-_dhlpiw-CreateClassificationPol",
        "name": "LongestIdleDistributionPolicysdk-1282jDgfRUmulv-_dhlpiw-CreateClassificationPol",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "0a6dbf8a135c884e8c5b0358b6a51a87"
      },
      "ResponseBody": {
        "id": "sdk-1282jDgfRUmulv-_dhlpiw-CreateClassificationPol",
        "name": "LongestIdleDistributionPolicysdk-1282jDgfRUmulv-_dhlpiw-CreateClassificationPol",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/queues?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:50:28 GMT"
      },
      "RequestBody": {
        "id": "sdk-1282jDgfRUmulv-_dhlpiw-CreateClassificationPol",
        "name": "DefaultQueue-Sdk-Testsdk-1282jDgfRUmulv-_dhlpiw-CreateClassificationPol",
        "distributionPolicyId": "sdk-1282jDgfRUmulv-_dhlpiw-CreateClassificationPol",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "2a4141e1a803434081ce987b07744dec"
      },
      "ResponseBody": {
        "id": "sdk-1282jDgfRUmulv-_dhlpiw-CreateClassificationPol",
        "name": "DefaultQueue-Sdk-Testsdk-1282jDgfRUmulv-_dhlpiw-CreateClassificationPol",
        "distributionPolicyId": "sdk-1282jDgfRUmulv-_dhlpiw-CreateClassificationPol",
        "labels": {
          "Label_1": "Value_1",
          "Id": "sdk-1282jDgfRUmulv-_dhlpiw-CreateClassificationPol"
        },
        "exceptionPolicyId": null,
        "estimatedWaitTimeMs": null
      }
    },
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/classificationpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:50:28 GMT"
      },
      "RequestBody": {
        "id": "sdk-1282jDgfRUmulv-_dhlpiw-CreateClassificationPol",
        "queueSelector": {
          "rule": {
            "value": "sdk-1282jDgfRUmulv-_dhlpiw-CreateClassificationPol",
            "kind": "static-rule"
          },
          "kind": "queue-id"
        },
        "prioritizationRule": {
          "value": 1,
          "kind": "static-rule"
        },
        "workerSelectors": [
          {
            "labelSelector": {
              "key": "key",
              "operator": "equal",
              "value": "value"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "81f12a8f4a66bb468894bb6eedcee088"
      },
      "ResponseBody": {
        "id": "sdk-1282jDgfRUmulv-_dhlpiw-CreateClassificationPol",
        "name": null,
        "fallbackQueueId": null,
        "queueSelector": {
          "kind": "queue-id",
          "rule": {
            "kind": "static-rule",
            "value": "sdk-1282jDgfRUmulv-_dhlpiw-CreateClassificationPol"
          }
        },
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "key",
              "operator": "equal",
              "value": "value",
              "ttl": null
            }
          }
        ]
      }
    },
[...]
