{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:13 GMT"
      },
      "RequestBody": {
        "id": "sdk-8OHfj2dpDUW8ceOqy3BcGw-CreateEmptyClassificati",
        "name": "LongestIdleDistributionPolicysdk-8OHfj2dpDUW8ceOqy3BcGw-CreateEmptyClassificati",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "f3e99f327fdaba4c80084f7077cb8bb0"
      },
      "ResponseBody": {
        "id": "sdk-8OHfj2dpDUW8ceOqy3BcGw-CreateEmptyClassificati",
        "name": "LongestIdleDistributionPolicysdk-8OHfj2dpDUW8ceOqy3BcGw-CreateEmptyClassificati",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:13 GMT"
      },
      "RequestBody": {
        "id": "sdk-8OHfj2dpDUW8ceOqy3BcGw-CreateEmptyClassificati",
        "name": "DefaultQueue-Sdk-Testsdk-8OHfj2dpDUW8ceOqy3BcGw-CreateEmptyClassificati",
        "distributionPolicyId": "sdk-8OHfj2dpDUW8ceOqy3BcGw-CreateEmptyClassificati",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "65f83618b866b941a1adaf196455fb6c"
      },
      "ResponseBody": {
        "id": "sdk-8OHfj2dpDUW8ceOqy3BcGw-CreateEmptyClassificati",
        "name": "DefaultQueue-Sdk-Testsdk-8OHfj2dpDUW8ceOqy3BcGw-CreateEmptyClassificati",
        "distributionPolicyId": "sdk-8OHfj2dpDUW8ceOqy3BcGw-CreateEmptyClassificati",
        "labels": {
          "Label_1": "Value_1"
        },
        "exceptionPolicyId": null
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:13 GMT"
      },
      "RequestBody": {
        "id": "sdk-8OHfj2dpDUW8ceOqy3BcGw--CPEmpty",
        "workerSelectors": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "bbcb941306418544862a628f2afaf1c0"
      },
      "ResponseBody": {
        "id": "sdk-8OHfj2dpDUW8ceOqy3BcGw--CPEmpty",
        "name": null,
        "fallbackQueueId": null,
        "queueSelector": null,
        "prioritizationRule": null,
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationpolicies/sdk-8OHfj2dpDUW8ceOqy3BcGw--CPEmpty?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022110028e6-0000-0700-0000-61661fad0000\u0022",
        "trace-id": "9133be32ad761a4a8a5bad248d556b53"
      },
      "ResponseBody": {
        "id": "sdk-8OHfj2dpDUW8ceOqy3BcGw--CPEmpty",
        "name": null,
        "fallbackQueueId": null,
        "queueSelector": null,
        "prioritizationRule": null,
        "workerSelectors": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-8OHfj2dpDUW8ceOqy3BcGw-",
    "RandomSeed": "1042492350"
  }
}