{
  "Entries": [
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/channels?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:06:15 GMT"
      },
      "RequestBody": {
        "id": "sdk-68P_mE2oTkm-ibjsAK5Rcg-CreateChannelTest"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "400b51eb5091a942b681e6876ccfeaf4"
      },
      "ResponseBody": {
        "id": "sdk-68P_mE2oTkm-ibjsAK5Rcg-CreateChannelTest",
        "name": null,
        "acsManaged": false
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/channels?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:06:16 GMT"
      },
      "RequestBody": {
        "id": "sdk-68P_mE2oTkm-ibjsAK5Rcg-CreateChannelTest",
        "name": "TestChannelName-ChannelIdsdk-68P_mE2oTkm-ibjsAK5Rcg-CreateChannelTest"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "2a9fb3bc413a4a428727e46a28ddef53"
      },
      "ResponseBody": {
        "id": "sdk-68P_mE2oTkm-ibjsAK5Rcg-CreateChannelTest",
        "name": "TestChannelName-ChannelIdsdk-68P_mE2oTkm-ibjsAK5Rcg-CreateChannelTest",
        "acsManaged": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://prod-test.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-68P_mE2oTkm-ibjsAK5Rcg-",
    "RandomSeed": "1030642201"
  }
}