{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:51:33 GMT"
      },
      "RequestBody": {
        "id": "sdk-iHo9Za48Y0y1mxHWy8BvAQ--CPWR",
        "name": "Priority-ClassificationPolicy",
        "workerSelectors": [
          {
            "labelSelector": {
              "key": "department",
              "operator": "equal",
              "value": "sales"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "38e6f4e85f50344ba7c824d835ed9cdb"
      },
      "ResponseBody": {
        "id": "sdk-iHo9Za48Y0y1mxHWy8BvAQ--CPWR",
        "name": "Priority-ClassificationPolicy",
        "fallbackQueueId": null,
        "queueSelector": null,
        "prioritizationRule": null,
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "department",
              "operator": "Equal",
              "value": "sales",
              "ttl": null
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationpolicies/sdk-iHo9Za48Y0y1mxHWy8BvAQ--CPWR?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:51:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221100bce4-0000-0700-0000-61661f840000\u0022",
        "trace-id": "907473996daf3747a7bf9562ed44888e"
      },
      "ResponseBody": {
        "id": "sdk-iHo9Za48Y0y1mxHWy8BvAQ--CPWR",
        "name": "Priority-ClassificationPolicy",
        "fallbackQueueId": null,
        "queueSelector": null,
        "prioritizationRule": null,
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "department",
              "operator": "Equal",
              "value": "sales",
              "ttl": null
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-iHo9Za48Y0y1mxHWy8BvAQ-",
    "RandomSeed": "1888919846"
  }
}