{
  "Entries": [
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/distributionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:06:16 GMT"
      },
      "RequestBody": {
        "id": "sdk-ylEZrny_F0iVbhObQpk8mw-CreateClassificationPol",
        "name": "LongestIdleDistributionPolicysdk-ylEZrny_F0iVbhObQpk8mw-CreateClassificationPol",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "60cb991838c9dc40b3868d7f56188720"
      },
      "ResponseBody": {
        "id": "sdk-ylEZrny_F0iVbhObQpk8mw-CreateClassificationPol",
        "name": "LongestIdleDistributionPolicysdk-ylEZrny_F0iVbhObQpk8mw-CreateClassificationPol",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/queues?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:06:16 GMT"
      },
      "RequestBody": {
        "id": "sdk-ylEZrny_F0iVbhObQpk8mw-CreateClassificationPol",
        "name": "DefaultQueue-Sdk-Testsdk-ylEZrny_F0iVbhObQpk8mw-CreateClassificationPol",
        "distributionPolicyId": "sdk-ylEZrny_F0iVbhObQpk8mw-CreateClassificationPol",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "73d28550666459479d6c897c48cddcb4"
      },
      "ResponseBody": {
        "id": "sdk-ylEZrny_F0iVbhObQpk8mw-CreateClassificationPol",
        "name": "DefaultQueue-Sdk-Testsdk-ylEZrny_F0iVbhObQpk8mw-CreateClassificationPol",
        "distributionPolicyId": "sdk-ylEZrny_F0iVbhObQpk8mw-CreateClassificationPol",
        "labels": {
          "Label_1": "Value_1",
          "Id": "sdk-ylEZrny_F0iVbhObQpk8mw-CreateClassificationPol"
        },
        "exceptionPolicyId": null,
        "estimatedWaitTimeMs": null
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/classificationpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:06:17 GMT"
      },
      "RequestBody": {
        "id": "sdk-ylEZrny_F0iVbhObQpk8mw-CreateClassificationPol",
        "queueSelector": {
          "rule": {
            "value": "sdk-ylEZrny_F0iVbhObQpk8mw-CreateClassificationPol",
            "kind": "static-rule"
          },
          "kind": "queue-id"
        },
        "prioritizationRule": {
          "value": 1,
          "kind": "static-rule"
        },
        "workerSelectors": [
          {
            "labelSelector": {
              "key": "key",
              "operator": "equal",
              "value": "value"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "351345052afffb46904a4a7aaaa564ad"
      },
      "ResponseBody": {
        "id": "sdk-ylEZrny_F0iVbhObQpk8mw-CreateClassificationPol",
        "name": null,
        "fallbackQueueId": null,
        "queueSelector": {
          "kind": "queue-id",
          "rule": {
            "kind": "static-rule",
            "value": "sdk-ylEZrny_F0iVbhObQpk8mw-CreateClassificationPol"
          }
        },
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "key",
              "operator": "equal",
              "value": "value",
              "ttl": null
            }
          }
        ]
      }
    },
[...]
