{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/channels?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:14 GMT"
      },
      "RequestBody": {
        "id": "sdk-_0iB1Bk3Hk27Lysqp3l0Zw-CP_FallbackQueue",
        "name": "TestChannelName-ChannelId"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "7dc4964099fecd45b4d037cc2bd8fd5d"
      },
      "ResponseBody": {
        "id": "sdk-_0iB1Bk3Hk27Lysqp3l0Zw-CP_FallbackQueue",
        "name": "TestChannelName-ChannelId",
        "acsManaged": false
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:14 GMT"
      },
      "RequestBody": {
        "id": "sdk-_0iB1Bk3Hk27Lysqp3l0Zw-Q2_CP_FallbackQueue",
        "name": "LongestIdleDistributionPolicysdk-_0iB1Bk3Hk27Lysqp3l0Zw-Q2_CP_FallbackQueue",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "86ff824255055941b7573f33be15ccb3"
      },
      "ResponseBody": {
        "id": "sdk-_0iB1Bk3Hk27Lysqp3l0Zw-Q2_CP_FallbackQueue",
        "name": "LongestIdleDistributionPolicysdk-_0iB1Bk3Hk27Lysqp3l0Zw-Q2_CP_FallbackQueue",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:14 GMT"
      },
      "RequestBody": {
        "id": "sdk-_0iB1Bk3Hk27Lysqp3l0Zw-Q2_CP_FallbackQueue",
        "name": "DefaultQueue-Sdk-Testsdk-_0iB1Bk3Hk27Lysqp3l0Zw-Q2_CP_FallbackQueue",
        "distributionPolicyId": "sdk-_0iB1Bk3Hk27Lysqp3l0Zw-Q2_CP_FallbackQueue",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "36737cbceb1261458743812ed686845b"
      },
      "ResponseBody": {
        "id": "sdk-_0iB1Bk3Hk27Lysqp3l0Zw-Q2_CP_FallbackQueue",
        "name": "DefaultQueue-Sdk-Testsdk-_0iB1Bk3Hk27Lysqp3l0Zw-Q2_CP_FallbackQueue",
        "distributionPolicyId": "sdk-_0iB1Bk3Hk27Lysqp3l0Zw-Q2_CP_FallbackQueue",
        "labels": {
          "Label_1": "Value_1"
        },
        "exceptionPolicyId": null
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:14 GMT"
      },
      "RequestBody": {
        "id": "sdk-_0iB1Bk3Hk27Lysqp3l0Zw--CP_FallbackQueue",
        "name": "FallbackQueue-ClassificationPolicy",
        "fallbackQueueId": "sdk-_0iB1Bk3Hk27Lysqp3l0Zw-Q2_CP_FallbackQueue",
        "workerSelectors": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "25e5c6f48f52f64298f74bfbbb87cf3d"
      },
      "ResponseBody": {
        "id": "sdk-_0iB1Bk3Hk27Lysqp3l0Zw--CP_FallbackQueue",
        "name": "FallbackQueue-ClassificationPolicy",
        "fallbackQueueId": "sdk-_0iB1Bk3Hk27Lysqp3l0Zw-Q2_CP_FallbackQueue",
        "queueSelector": null,
        "prioritizationRule": null,
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs?api-version=2021-04-07-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:14 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "sdk-_0iB1Bk3Hk27Lysqp3l0Zw-CP_FallbackQueue",
        "classificationPolicyId": "sdk-_0iB1Bk3Hk27Lysqp3l0Zw--CP_FallbackQueue",
        "workerSelectors": null,
        "labels": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "2775d9ff-faf8-4f11-b2c0-93c744544522",
        "trace-id": "b587cc349c107a46804c0b0c9eb0a53b"
      },
      "ResponseBody": {
        "id": "2775d9ff-faf8-4f11-b2c0-93c744544522"
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/2775d9ff-faf8-4f11-b2c0-93c744544522?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "0d104e647d3ded4a87b71574e9630cda"
      },
      "ResponseBody": {
        "id": "2775d9ff-faf8-4f11-b2c0-93c744544522",
        "channelReference": "123",
        "jobStatus": "Queued",
        "enqueueTimeUtc": "2021-10-12T23:52:14.855836\u002B00:00",
        "channelId": "sdk-_0iB1Bk3Hk27Lysqp3l0Zw-CP_FallbackQueue",
        "classificationPolicyId": "sdk-_0iB1Bk3Hk27Lysqp3l0Zw--CP_FallbackQueue",
        "queueId": "sdk-_0iB1Bk3Hk27Lysqp3l0Zw-Q2_CP_FallbackQueue",
        "priority": 1,
        "dispositionCode": null,
        "workerSelectors": [],
        "labels": {},
        "assignments": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/2775d9ff-faf8-4f11-b2c0-93c744544522/cancel?api-version=2021-04-07-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:15 GMT"
      },
      "RequestBody": {},
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "trace-id": "8d597e49b36cfc4f9dad38919bde9581"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationpolicies/sdk-_0iB1Bk3Hk27Lysqp3l0Zw--CP_FallbackQueue?api-version=2021-04-07-preview1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "trace-id": "6d49d55c0aa98849a70f066cb079bd74"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-_0iB1Bk3Hk27Lysqp3l0Zw-",
    "RandomSeed": "1756792046"
  }
}