{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:20 GMT"
      },
      "RequestBody": {
        "id": "sdk-AW9ixHetakmpsIMykuP4QA-CreateQueueSelectionCla",
        "name": "LongestIdleDistributionPolicysdk-AW9ixHetakmpsIMykuP4QA-CreateQueueSelectionCla",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "9ea7f071465e9747835a710de12052db"
      },
      "ResponseBody": {
        "id": "sdk-AW9ixHetakmpsIMykuP4QA-CreateQueueSelectionCla",
        "name": "LongestIdleDistributionPolicysdk-AW9ixHetakmpsIMykuP4QA-CreateQueueSelectionCla",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:21 GMT"
      },
      "RequestBody": {
        "id": "sdk-AW9ixHetakmpsIMykuP4QA-CreateQueueSelectionCla",
        "name": "DefaultQueue-Sdk-Testsdk-AW9ixHetakmpsIMykuP4QA-CreateQueueSelectionCla",
        "distributionPolicyId": "sdk-AW9ixHetakmpsIMykuP4QA-CreateQueueSelectionCla",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "0f2f27159f25d54abd5f0235ca77206d"
      },
      "ResponseBody": {
        "id": "sdk-AW9ixHetakmpsIMykuP4QA-CreateQueueSelectionCla",
        "name": "DefaultQueue-Sdk-Testsdk-AW9ixHetakmpsIMykuP4QA-CreateQueueSelectionCla",
        "distributionPolicyId": "sdk-AW9ixHetakmpsIMykuP4QA-CreateQueueSelectionCla",
        "labels": {
          "Label_1": "Value_1"
        },
        "exceptionPolicyId": null
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:21 GMT"
      },
      "RequestBody": {
        "id": "sdk-AW9ixHetakmpsIMykuP4QA--CPQS",
        "name": "QueueSelection-ClassificationPolicy",
        "queueSelector": {
          "rule": {
            "value": "sdk-AW9ixHetakmpsIMykuP4QA-CreateQueueSelectionCla",
            "kind": "static-rule"
          },
          "kind": "queue-id"
        },
        "workerSelectors": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "b7db2b843d17854e8345eec39ee9b437"
      },
      "ResponseBody": {
        "id": "sdk-AW9ixHetakmpsIMykuP4QA--CPQS",
        "name": "QueueSelection-ClassificationPolicy",
        "fallbackQueueId": null,
        "queueSelector": {
          "kind": "queue-id",
          "rule": {
            "kind": "static-rule",
            "value": "sdk-AW9ixHetakmpsIMykuP4QA-CreateQueueSelectionCla"
          }
        },
        "prioritizationRule": null,
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationpolicies/sdk-AW9ixHetakmpsIMykuP4QA--CPQS?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:21 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022110070e6-0000-0700-0000-61661fb50000\u0022",
        "trace-id": "d3d09d8121a4ac4f848469654f644ca7"
      },
      "ResponseBody": {
        "id": "sdk-AW9ixHetakmpsIMykuP4QA--CPQS",
        "name": "QueueSelection-ClassificationPolicy",
        "fallbackQueueId": null,
        "queueSelector": {
          "kind": "queue-id",
          "rule": {
            "kind": "static-rule",
            "value": "sdk-AW9ixHetakmpsIMykuP4QA-CreateQueueSelectionCla"
          }
        },
        "prioritizationRule": null,
        "workerSelectors": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-AW9ixHetakmpsIMykuP4QA-",
    "RandomSeed": "1694771046"
  }
}