{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:51:52 GMT"
      },
      "RequestBody": {
        "id": "sdk-Q43Ot2VC4UegeHNF6iXc2g--Longest-DistributionPo",
        "name": "sdk-Q43Ot2VC4UegeHNF6iXc2g--Longest-DistributionPo-Name",
        "offerTTL": "00:00:00.0010000",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "f1dc7526f784af4693da3e4fd2cdd5ee"
      },
      "ResponseBody": {
        "id": "sdk-Q43Ot2VC4UegeHNF6iXc2g--Longest-DistributionPo",
        "name": "sdk-Q43Ot2VC4UegeHNF6iXc2g--Longest-DistributionPo-Name",
        "offerTTL": "00:00:00.0010000",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:51:52 GMT"
      },
      "RequestBody": {
        "id": "sdk-Q43Ot2VC4UegeHNF6iXc2g--Longest-DistributionPo",
        "name": "sdk-Q43Ot2VC4UegeHNF6iXc2g--Longest-DistributionPo-Name",
        "offerTTL": "00:00:00.0010000",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "8b609a52ffb4054bb95596dbdd54bb8f"
      },
      "ResponseBody": {
        "id": "sdk-Q43Ot2VC4UegeHNF6iXc2g--Longest-DistributionPo",
        "name": "sdk-Q43Ot2VC4UegeHNF6iXc2g--Longest-DistributionPo-Name",
        "offerTTL": "00:00:00.0010000",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 2,
          "bypassSelectors": true
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-ppe-test.ppe.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-Q43Ot2VC4UegeHNF6iXc2g-",
    "RandomSeed": "362496788"
  }
}