{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/exceptionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:51:22 GMT"
      },
      "RequestBody": {
        "id": "sdk-g9vYim46MU-IHoEGgrpZrg-CreateExceptionPolicyTe",
        "exceptionRules": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "3a24a5875c6823498e68f6b151c24fe1"
      },
      "ResponseBody": {
        "id": "sdk-g9vYim46MU-IHoEGgrpZrg-CreateExceptionPolicyTe",
        "name": null,
        "exceptionRules": []
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/exceptionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:51:22 GMT"
      },
      "RequestBody": {
        "id": "sdk-g9vYim46MU-IHoEGgrpZrg-CreateExceptionPolicyTe",
        "exceptionRules": [
          {
            "id": "sdk-g9vYim46MU-IHoEGgrpZrg--ExceptionRule",
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": [
              {
                "dispositionCode": "CancelledDueToMaxQueueLengthReached",
                "kind": "cancel",
                "id": "sdk-g9vYim46MU-IHoEGgrpZrg--CancellationExceptionA"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "e6f85b6c0333b94680bf92d1b1862257"
      },
      "ResponseBody": {
        "id": "sdk-g9vYim46MU-IHoEGgrpZrg-CreateExceptionPolicyTe",
        "name": null,
        "exceptionRules": [
          {
            "id": "sdk-g9vYim46MU-IHoEGgrpZrg--ExceptionRule",
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel",
                "note": null,
                "dispositionCode": "CancelledDueToMaxQueueLengthReached",
                "id": "sdk-g9vYim46MU-IHoEGgrpZrg--CancellationExceptionA"
              }
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-g9vYim46MU-IHoEGgrpZrg-",
    "RandomSeed": "677776077"
  }
}