{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:51:33 GMT"
      },
      "RequestBody": {
        "id": "sdk-IC7QTGY01k6ZwQiUaDfwNw-CreateWorkerTest",
        "name": "LongestIdleDistributionPolicysdk-IC7QTGY01k6ZwQiUaDfwNw-CreateWorkerTest",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "d1f9b1a4a043074b82966db4477ffea1"
      },
      "ResponseBody": {
        "id": "sdk-IC7QTGY01k6ZwQiUaDfwNw-CreateWorkerTest",
        "name": "LongestIdleDistributionPolicysdk-IC7QTGY01k6ZwQiUaDfwNw-CreateWorkerTest",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:51:33 GMT"
      },
      "RequestBody": {
        "id": "sdk-IC7QTGY01k6ZwQiUaDfwNw-CreateWorkerTest",
        "name": "DefaultQueue-Sdk-Testsdk-IC7QTGY01k6ZwQiUaDfwNw-CreateWorkerTest",
        "distributionPolicyId": "sdk-IC7QTGY01k6ZwQiUaDfwNw-CreateWorkerTest",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "e7b1941e3f62644b8863e402f920c756"
      },
      "ResponseBody": {
        "id": "sdk-IC7QTGY01k6ZwQiUaDfwNw-CreateWorkerTest",
        "name": "DefaultQueue-Sdk-Testsdk-IC7QTGY01k6ZwQiUaDfwNw-CreateWorkerTest",
        "distributionPolicyId": "sdk-IC7QTGY01k6ZwQiUaDfwNw-CreateWorkerTest",
        "labels": {
          "Label_1": "Value_1"
        },
        "exceptionPolicyId": null
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/workers?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:51:33 GMT"
      },
      "RequestBody": {
        "id": "sdk-IC7QTGY01k6ZwQiUaDfwNw-CreateWorkerTest",
        "queueAssignments": [
          {
            "queueId": "sdk-IC7QTGY01k6ZwQiUaDfwNw-CreateWorkerTest"
          }
        ],
        "totalCapacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12
        },
        "channelConfigurations": [
          {
            "channelId": "ACS_Chat_Channel",
            "capacityCostPerJob": 20
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "eb4a42f67ca508429ed284078b001c41"
      },
      "ResponseBody": {
        "id": "sdk-IC7QTGY01k6ZwQiUaDfwNw-CreateWorkerTest",
        "state": "Active",
        "queueAssignments": [
          {
            "queueId": "sdk-IC7QTGY01k6ZwQiUaDfwNw-CreateWorkerTest"
          }
        ],
        "totalCapacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12
        },
        "channelConfigurations": [
          {
            "channelId": "ACS_Chat_Channel",
            "capacityCostPerJob": 20
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-IC7QTGY01k6ZwQiUaDfwNw-",
    "RandomSeed": "53643346"
  }
}