{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/classificationpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:52:02 GMT"
      },
      "RequestBody": {
        "id": "sdk-gAWq3ZRO20yhMSL85pB4BA--CPPri",
        "name": "Priority-ClassificationPolicy",
        "prioritizationRule": {
          "value": 10,
          "kind": "static-rule"
        },
        "workerSelectors": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "a2be334b74aa7641b77b65a20acd2611"
      },
      "ResponseBody": {
        "id": "sdk-gAWq3ZRO20yhMSL85pB4BA--CPPri",
        "name": "Priority-ClassificationPolicy",
        "fallbackQueueId": null,
        "queueSelector": null,
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/classificationpolicies/sdk-gAWq3ZRO20yhMSL85pB4BA--CPPri?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:52:02 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c2014250-0000-0700-0000-620aa4d20000\u0022",
        "trace-id": "5eb2c4ac97c90f4785a2c4474ff5f175"
      },
      "ResponseBody": {
        "id": "sdk-gAWq3ZRO20yhMSL85pB4BA--CPPri",
        "name": "Priority-ClassificationPolicy",
        "fallbackQueueId": null,
        "queueSelector": null,
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectors": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-ppe-test.ppe.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-gAWq3ZRO20yhMSL85pB4BA-",
    "RandomSeed": "1616591583"
  }
}