{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "https://prod-test.communication.azure.com/routing/channels?api-version=2021-04-07-preview1",
=======
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/channels?api-version=2021-04-07-preview1",
>>>>>>> 6c7c35af66 (JobRouter - initial commit)
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
<<<<<<< HEAD
        "traceparent": "00-7b6560ef18bb3e4889522ed5c8a3b168-8cceaea36b67d448-00",
        "User-Agent": [
          "azsdk-net-Communication.JobRouter/1.0.0-alpha.20220216.1",
          "(.NET 5.0.14; Microsoft Windows 10.0.22000)"
        ],
        "x-ms-client-request-id": "32959106f973029121743f054f36c984",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:09:59 GMT",
        "x-ms-return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "sdk-1v4HbmgkG0es-dNZiehpWg-DeleteChannelTest",
=======
        "traceparent": "00-dc0d712b34b71148957f17470209bd27-7caa52446a162546-00",
        "User-Agent": [
          "azsdk-net-Communication.JobRouter/1.0.0-alpha.20211012.1",
          "(.NET 5.0.11; Microsoft Windows 10.0.19043)"
        ],
        "x-ms-client-request-id": "32959106f973029121743f054f36c984",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 23:52:22 GMT",
        "x-ms-return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "sdk-rwKi75Ang0-kqL-5Ji3Xhg-DeleteChannelTest",
>>>>>>> 6c7c35af66 (JobRouter - initial commit)
        "name": "TestChannelName-ChannelId"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8"
<<<<<<< HEAD
        "Date": "Wed, 16 Feb 2022 17:09:59 GMT",
        "Request-Context": "appId=",
        "trace-id": "7b6560ef18bb3e4889522ed5c8a3b168",
        "Transfer-Encoding": "chunked",
        "X-Azure-Ref": "05y8NYgAAAABdFi9/TXLFToNcQwZojxMbWVZSMzExMDAwMTE2MDUxADlmYzdiNTE5LWE4Y2MtNGY4OS05MzVlLWM5MTQ4YWUwOWU4MQ==",
        "X-Cache": "CONFIG_NOCACHE"
      },
      "ResponseBody": {
        "id": "sdk-1v4HbmgkG0es-dNZiehpWg-DeleteChannelTest",
=======
        "Date": "Tue, 12 Oct 2021 23:52:22 GMT",
        "Request-Context": "appId=",
        "trace-id": "dc0d712b34b71148957f17470209bd27",
        "Transfer-Encoding": "chunked",
        "X-Azure-Ref": "0th9mYQAAAAAw7i6Va880RadwWUTgTne7WVZSMzBFREdFMDQxMABjYzkyNzU4ZC0wNWY3LTRhZDYtYWE1ZS0wZmE5NzE4ZDg5ODU=",
        "X-Cache": "CONFIG_NOCACHE"
      },
      "ResponseBody": {
        "id": "sdk-rwKi75Ang0-kqL-5Ji3Xhg-DeleteChannelTest",
>>>>>>> 6c7c35af66 (JobRouter - initial commit)
        "name": "TestChannelName-ChannelId",
        "acsManaged": false
      }
    },
    {
<<<<<<< HEAD
      "RequestUri": "https://prod-test.communication.azure.com/routing/channels/sdk-1v4HbmgkG0es-dNZiehpWg-DeleteChannelTest?api-version=2021-04-07-preview1",
=======
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/channels/sdk-rwKi75Ang0-kqL-5Ji3Xhg-DeleteChannelTest?api-version=2021-04-07-preview1",
>>>>>>> 6c7c35af66 (JobRouter - initial commit)
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorizat[...]
