{
  "Entries": [
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/channels?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:10:47 GMT"
      },
      "RequestBody": {
        "id": "sdk-Moz2BOEPxkySTvJNNvSs4A-GetChannelTest",
        "name": "TestChannelName-ChannelId"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "a2c4b2d9b4a6cd4ba5e0b480a1bbed72"
      },
      "ResponseBody": {
        "id": "sdk-Moz2BOEPxkySTvJNNvSs4A-GetChannelTest",
        "name": "TestChannelName-ChannelId",
        "acsManaged": false
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/channels/sdk-Moz2BOEPxkySTvJNNvSs4A-GetChannelTest?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:10:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "c70f2443fe8d694ba8316744691e41e9"
      },
      "ResponseBody": {
        "id": "sdk-Moz2BOEPxkySTvJNNvSs4A-GetChannelTest",
        "name": "TestChannelName-ChannelId",
        "acsManaged": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://prod-test.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-Moz2BOEPxkySTvJNNvSs4A-",
    "RandomSeed": "910354887"
  }
}