{
  "Entries": [
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/channels?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:07:35 GMT"
      },
      "RequestBody": {
        "id": "sdk-7QYsS6Z3IUKTccFJEDJT2A-GetJobsTest",
        "name": "TestChannelName-ChannelId"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "8a9c3e6062f7924bbe52e938da6c9d02"
      },
      "ResponseBody": {
        "id": "sdk-7QYsS6Z3IUKTccFJEDJT2A-GetJobsTest",
        "name": "TestChannelName-ChannelId",
        "acsManaged": false
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/distributionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:07:35 GMT"
      },
      "RequestBody": {
        "id": "sdk-7QYsS6Z3IUKTccFJEDJT2A-GetJobsTest",
        "name": "LongestIdleDistributionPolicysdk-7QYsS6Z3IUKTccFJEDJT2A-GetJobsTest",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "3634db548af15c4ea47e4428fe041ef8"
      },
      "ResponseBody": {
        "id": "sdk-7QYsS6Z3IUKTccFJEDJT2A-GetJobsTest",
        "name": "LongestIdleDistributionPolicysdk-7QYsS6Z3IUKTccFJEDJT2A-GetJobsTest",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/queues?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:07:35 GMT"
      },
      "RequestBody": {
        "id": "sdk-7QYsS6Z3IUKTccFJEDJT2A-GetJobsTest",
        "name": "DefaultQueue-Sdk-Testsdk-7QYsS6Z3IUKTccFJEDJT2A-GetJobsTest",
        "distributionPolicyId": "sdk-7QYsS6Z3IUKTccFJEDJT2A-GetJobsTest",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "d96847968d5379478a36e0b65a1cddfe"
      },
      "ResponseBody": {
        "id": "sdk-7QYsS6Z3IUKTccFJEDJT2A-GetJobsTest",
        "name": "DefaultQueue-Sdk-Testsdk-7QYsS6Z3IUKTccFJEDJT2A-GetJobsTest",
        "distributionPolicyId": "sdk-7QYsS6Z3IUKTccFJEDJT2A-GetJobsTest",
        "labels": {
          "Label_1": "Value_1",
          "Id": "sdk-7QYsS6Z3IUKTccFJEDJT2A-GetJobsTest"
        },
        "exceptionPolicyId": null,
        "estimatedWaitTimeMs": null
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/jobs?api-version=2021-04-07-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:07:36 GMT"
      },
      "RequestBody": {
        "channelId": "sdk-7QYsS6Z3IUKTccFJEDJT2A-GetJobsTest",
        "queueId": "sdk-7QYsS6Z3IUKTccFJEDJT2A-GetJobsTest",
        "priority": 1,
        "workerSelectors": null,
        "labels": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://global.router.prod.communication.microsoft.com/routing/jobs/1bd51a00-f963-40a6-83e4-dbe7d3642255",
        "trace-id": "e0dd19aa3a98c545a1f18be7e81010f8"
      },
      "ResponseBody": {
        "id": "1bd51a00-f963-40a6-83e4-dbe7d3642255"
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/jobs/1bd51a00-f963-40a6-83e4-dbe7d3642255?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:07:36 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-dc97-8bd46ef1d908\u0022",
        "trace-id": "bf452aef42028f478e8f84dd857d5310"
      },
      "ResponseBody": {
        "id": "1bd51a00-f963-40a6-83e4-dbe7d3642255",
        "channelReference": null,
        "jobStatus": "queued",
        "enqueueTimeUtc": null,
        "channelId": "sdk-7QYsS6Z3IUKTccFJEDJT2A-GetJobsTest",
        "classificationPolicyId": null,
        "queueId": "sdk-7QYsS6Z3IUKTccFJEDJT2A-GetJobsTest",
        "priority": 1,
        "dispositionCode": null,
        "workerSelectors": [],
        "labels": {},
        "assignments": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/jobs/1bd51a00-f963-40a6-83e4-dbe7d3642255/cancel?api-version=2021-04-07-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:07:36 GMT"
      },
      "RequestBody": {},
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "trace-id": "972b5013fb4f044b9ea0927276c76849"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/jobs?maxPageSize=100\u0026api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:07:38 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "82baeb0f1a8c794dbc01028a226bbf8a"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "525284ee-63f4-47c5-8f0b-b7fc75042291",
            "channelReference": "123",
            "jobStatus": "cancelled",
            "enqueueTimeUtc": "2021-10-15T22:17:03.7233362\u002B00:00",
            "channelId": "sdk-unA-YDC72USeOO1JDw-CCw-CP_FallbackQueue",
            "classificationPolicyId": "sdk-unA-YDC72USeOO1JDw-CCw--CP_FallbackQueue",
            "queueId": "sdk-unA-YDC72USeOO1JDw-CCw-Q2_CP_FallbackQueue",
            "priority": 1,
            "disposi[...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/jobs?maxPageSize=100\u0026api-version=2021-04-07-preview1\u0026continuationToken=eyJWIjowLCJSaWQiOiIiLCJDb250aW51YXRpb24iOlt7InRva2VuIjoiXCIrUklEOn5WRGxPQU9adTlaeDRxQ0VBQUFBQUFBPT0jUlQ6MSNUUkM6MTAwI0lTVjoyI0lFTzo2NTU2NyNRQ0Y6NCNGUEM6QWdHR2g0WUNBSGlvaHg0QVRJUUR3T0FCMlA5L0gwVUFBTUFIL2dUKy9kOEJBQk1CNEFIZS93Y0FcIiIsInJhbmdlIjp7Im1pbiI6IiIsIm1heCI6IkZGIn19XSwiUEsiOiJbXCJiYzUxY2YxNS0zZmFiLTQ4MTEtYTYwMy00NGYwNzY4MmY4N2RcIl0ifQ[...]
