{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/channels/ACS_Chat_Channel?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:50:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "f24eda176705a041b954d2ffe6bd8c33"
      },
      "ResponseBody": {
        "id": "ACS_Chat_Channel",
        "name": "ACS Chat Channel",
        "acsManaged": true
      }
    },
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/channels/ACS_SMS_Channel?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:50:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "20759fa746d4ac468244597b8575c745"
      },
      "ResponseBody": {
        "id": "ACS_SMS_Channel",
        "name": "ACS SMS Channel",
        "acsManaged": true
      }
    },
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/channels/ACS_Voice_Channel?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:50:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "74c27423183e26418afe8b57e3ef265d"
      },
      "ResponseBody": {
        "id": "ACS_Voice_Channel",
        "name": "ACS Voice Channel",
        "acsManaged": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-ppe-test.ppe.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-l4CZg1TPqUqVAknkphX1rA-",
    "RandomSeed": "1972758773"
  }
}