{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/channels?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:52:10 GMT"
      },
      "RequestBody": {
        "id": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch1GetWorkersTest",
        "name": "TestChannelName-ChannelId"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "072cf3266d14d344b24ff7981e390def"
      },
      "ResponseBody": {
        "id": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch1GetWorkersTest",
        "name": "TestChannelName-ChannelId",
        "acsManaged": false
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:52:11 GMT"
      },
      "RequestBody": {
        "id": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Q1GetWorkersTest",
        "name": "LongestIdleDistributionPolicysdk-VIm1Ouz8_kCbB3uFNXC5gA-Q1GetWorkersTest",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "0af42b887d98b64db65d9afbb8a4a0fe"
      },
      "ResponseBody": {
        "id": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Q1GetWorkersTest",
        "name": "LongestIdleDistributionPolicysdk-VIm1Ouz8_kCbB3uFNXC5gA-Q1GetWorkersTest",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/queues?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:52:11 GMT"
      },
      "RequestBody": {
        "id": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Q1GetWorkersTest",
        "name": "DefaultQueue-Sdk-Testsdk-VIm1Ouz8_kCbB3uFNXC5gA-Q1GetWorkersTest",
        "distributionPolicyId": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Q1GetWorkersTest",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "fba9175b68713c4c93e068aad0807cf7"
      },
      "ResponseBody": {
        "id": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Q1GetWorkersTest",
        "name": "DefaultQueue-Sdk-Testsdk-VIm1Ouz8_kCbB3uFNXC5gA-Q1GetWorkersTest",
        "distributionPolicyId": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Q1GetWorkersTest",
        "labels": {
          "Label_1": "Value_1",
          "Id": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Q1GetWorkersTest"
        },
        "exceptionPolicyId": null,
        "estimatedWaitTimeMs": null
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:52:11 GMT"
      },
      "RequestBody": {
        "id": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-GetWorkersTest_1",
        "queueAssignments": [
          {
            "queueId": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Q1GetWorkersTest"
          }
        ],
        "totalCapacity": 10,
        "labels": null,
        "channelConfigurations": [
          {
            "channelId": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch1GetWorkersTest",
            "capacityCostPerJob": 1
          },
          {
            "channelId": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch2GetWorkersTest",
            "capacityCostPerJob": 10
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "9be93de3c133bb4595051b18f8e283c4"
      },
      "ResponseBody": {
        "id": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-GetWorkersTest_1",
        "state": "active",
        "queueAssignments": [
          {
            "queueId": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Q1GetWorkersTest"
          }
        ],
        "totalCapacity": 10,
        "labels": {
          "Id": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-GetWorkersTest_1"
        },
        "channelConfigurations": [
          {
            "channelId": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch1GetWorkersTest",
            "capacityCostPerJob": 1
          },
          {
            "channelId": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch2GetWorkersTest",
            "capacityCostPerJob": 10
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers?channelId=sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch2GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:52:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "e79c161e6f781a46a40b955a065ed7ec"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-GetWorkersTest_1",
            "state": "active",
            "queueAssignments": [
              {
                "queueId": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Q1GetWorkersTest"
              }
            ],
            "totalCapacity": 10,
            "labels": {
              "Id": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-GetWorkersTest_1"
            },
            "channelConfigurations": [
              {
                "channelId": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch1GetWorkersTest",
                "capacityCostPerJob": 1
              },
              {
                "channelId": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch2GetWorkersTest",
                "capacityCostPerJob": 10
              }
            ],
            "offers": [],
            "assignedJobs": [],
            "loadRatio": 0
          }
        ],
        "nextLink": "/routing/workers?channelId=sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch2GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1\u0026continuationToken=W3sidG9rZW4iOiIrUklEOn5lbzAxQUxxZlREN2NzZ0VBQUFBQUFBPT0jUlQ6MSNUUkM6MSNJU1Y6MiNJRU86NjU1NjcjUUNGOjQjRlBDOkFkeXlBUUFBQUFBQTNySUJBQUFBQUFBPSIsInJhbmdlIjp7Im1pbiI6IiIsIm1heCI6IkZGIn19XQ%3D%3D"
      }
    },
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers?channelId=sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch2GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1\u0026continuationToken=W3sidG9rZW4iOiIrUklEOn5lbzAxQUxxZlREN2NzZ0VBQUFBQUFBPT0jUlQ6MSNUUkM6MSNJU1Y6MiNJRU86NjU1NjcjUUNGOjQjRlBDOkFkeXlBUUFBQUFBQTNySUJBQUFBQUFBPSIsInJhbmdlIjp7Im1pbiI6IiIsIm1heCI6IkZGIn19XQ%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization"[...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers?channelId=sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch2GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1\u0026continuationToken=W3sidG9rZW4iOiIrUklEOn5lbzAxQUxxZlREN2RzZ0VBQUFBQUFBPT0jUlQ6MiNUUkM6MiNJU1Y6MiNJRU86NjU1NjcjUUNGOjQjRlBDOkFkMnlBUUFBQUFBQTNySUJBQUFBQUFBPSIsInJhbmdlIjp7Im1pbiI6IiIsIm1heCI6IkZGIn19XQ%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization"[...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers?queueId=sdk-VIm1Ouz8_kCbB3uFNXC5gA-Q2GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:52:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-su[...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers?queueId=sdk-VIm1Ouz8_kCbB3uFNXC5gA-Q2GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1\u0026continuationToken=W3sidG9rZW4iOiIrUklEOn5lbzAxQUxxZlREN2RzZ0VBQUFBQUFBPT0jUlQ6MSNUUkM6MSNJU1Y6MiNJRU86NjU1NjcjUUNGOjQjRlBDOkFkMnlBUUFBQUFBQTNySUJBQUFBQUFBPSIsInJhbmdlIjp7Im1pbiI6IiIsIm1heCI6IkZGIn19XQ%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "[...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers?channelId=sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch1GetWorkersTest\u0026hasCapacity=true\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:52:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHe[...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers?channelId=sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch1GetWorkersTest\u0026hasCapacity=true\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1\u0026continuationToken=W3sidG9rZW4iOiIrUklEOn5lbzAxQUxxZlREN2NzZ0VBQUFBQUFBPT0jUlQ6MSNUUkM6MSNJU1Y6MiNJRU86NjU1NjcjUUNGOjQjRlBDOkFkeXlBUUFBQUFBQTM3SUJBQUFBQUFBPSIsInJhbmdlIjp7Im1pbiI6IiIsIm1heCI6IkZGIn19XQ%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
 [...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers?channelId=sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch1GetWorkersTest\u0026hasCapacity=true\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1\u0026continuationToken=W3sidG9rZW4iOiIrUklEOn5lbzAxQUxxZlREN2RzZ0VBQUFBQUFBPT0jUlQ6MiNUUkM6MiNJU1Y6MiNJRU86NjU1NjcjUUNGOjQjRlBDOkFkMnlBUUFBQUFBQTM3SUJBQUFBQUFBPSIsInJhbmdlIjp7Im1pbiI6IiIsIm1heCI6IkZGIn19XQ%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
 [...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers?channelId=sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch1GetWorkersTest\u0026hasCapacity=true\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1\u0026continuationToken=W3sidG9rZW4iOiIrUklEOn5lbzAxQUxxZlREN2VzZ0VBQUFBQUFBPT0jUlQ6MyNUUkM6MyNJU1Y6MiNJRU86NjU1NjcjUUNGOjQjRlBDOkFkNnlBUUFBQUFBQTM3SUJBQUFBQUFBPSIsInJhbmdlIjp7Im1pbiI6IiIsIm1heCI6IkZGIn19XQ%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
 [...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers/sdk-VIm1Ouz8_kCbB3uFNXC5gA-GetWorkersTest_1?api-version=2021-04-07-preview1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:52:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "trace-id": "cb976c37523cbc4d828c43a77c6a98a1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers/sdk-VIm1Ouz8_kCbB3uFNXC5gA-GetWorkersTest_1?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:52:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-1411-ca1cebefd908\u0022",
        "trace-id": "a3e19ba80a7a8e44947335f51c193922"
      },
      "ResponseBody": {
        "id": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-GetWorkersTest_1",
        "state": "inactive",
        "queueAssignments": [
          {
            "queueId": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Q1GetWorkersTest"
          }
        ],
        "totalCapacity": 10,
        "labels": {
          "Id": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-GetWorkersTest_1"
        },
        "channelConfigurations": [
          {
            "channelId": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch1GetWorkersTest",
            "capacityCostPerJob": 1
          },
          {
            "channelId": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch2GetWorkersTest",
            "capacityCostPerJob": 10
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0
      }
    },
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers?status=active\u0026channelId=sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch1GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:52:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers?status=active\u0026channelId=sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch1GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1\u0026continuationToken=W3sidG9rZW4iOiIrUklEOn5lbzAxQUxxZlREN2RzZ0VBQUFBQUFBPT0jUlQ6MSNUUkM6MSNJU1Y6MiNJRU86NjU1NjcjUUNGOjQjRlBDOkFkMnlBUUFBQUFBQTM3SUJBQUFBQUFBPSIsInJhbmdlIjp7Im1pbiI6IiIsIm1heCI6IkZGIn19XQ%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
    [...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers?status=active\u0026channelId=sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch1GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1\u0026continuationToken=W3sidG9rZW4iOiIrUklEOn5lbzAxQUxxZlREN2VzZ0VBQUFBQUFBPT0jUlQ6MiNUUkM6MiNJU1Y6MiNJRU86NjU1NjcjUUNGOjQjRlBDOkFkNnlBUUFBQUFBQTM3SUJBQUFBQUFBPSIsInJhbmdlIjp7Im1pbiI6IiIsIm1heCI6IkZGIn19XQ%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
    [...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers?status=inactive\u0026channelId=sdk-VIm1Ouz8_kCbB3uFNXC5gA-Ch1GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:52:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHea[...]
[...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers/sdk-VIm1Ouz8_kCbB3uFNXC5gA-GetWorkersTest_4?api-version=2021-04-07-preview1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:52:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "trace-id": "016b6de5baddc442b48fd4c6767b1059"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-ppe-test.ppe.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-VIm1Ouz8_kCbB3uFNXC5gA-",
    "RandomSeed": "1714705576"
  }
}