{
  "Entries": [
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/channels?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:10:52 GMT"
      },
      "RequestBody": {
        "id": "sdk-qkCo8Z3rsky82FU2JMFEbw-Ch1GetWorkersTest",
        "name": "TestChannelName-ChannelId"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "976de55de547954faeaf08710e6b40a8"
      },
      "ResponseBody": {
        "id": "sdk-qkCo8Z3rsky82FU2JMFEbw-Ch1GetWorkersTest",
        "name": "TestChannelName-ChannelId",
        "acsManaged": false
      }
    },
[...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/distributionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:10:52 GMT"
      },
      "RequestBody": {
        "id": "sdk-qkCo8Z3rsky82FU2JMFEbw-Q1GetWorkersTest",
        "name": "LongestIdleDistributionPolicysdk-qkCo8Z3rsky82FU2JMFEbw-Q1GetWorkersTest",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "48d93b2e21406140b0f625422b2fe09e"
      },
      "ResponseBody": {
        "id": "sdk-qkCo8Z3rsky82FU2JMFEbw-Q1GetWorkersTest",
        "name": "LongestIdleDistributionPolicysdk-qkCo8Z3rsky82FU2JMFEbw-Q1GetWorkersTest",
        "offerTTL": "00:00:30",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/queues?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:10:53 GMT"
      },
      "RequestBody": {
        "id": "sdk-qkCo8Z3rsky82FU2JMFEbw-Q1GetWorkersTest",
        "name": "DefaultQueue-Sdk-Testsdk-qkCo8Z3rsky82FU2JMFEbw-Q1GetWorkersTest",
        "distributionPolicyId": "sdk-qkCo8Z3rsky82FU2JMFEbw-Q1GetWorkersTest",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "ae6dfc5a236091469443b61b96c3458d"
      },
      "ResponseBody": {
        "id": "sdk-qkCo8Z3rsky82FU2JMFEbw-Q1GetWorkersTest",
        "name": "DefaultQueue-Sdk-Testsdk-qkCo8Z3rsky82FU2JMFEbw-Q1GetWorkersTest",
        "distributionPolicyId": "sdk-qkCo8Z3rsky82FU2JMFEbw-Q1GetWorkersTest",
        "labels": {
          "Label_1": "Value_1",
          "Id": "sdk-qkCo8Z3rsky82FU2JMFEbw-Q1GetWorkersTest"
        },
        "exceptionPolicyId": null,
        "estimatedWaitTimeMs": null
      }
    },
[...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/workers?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:10:54 GMT"
      },
      "RequestBody": {
        "id": "sdk-qkCo8Z3rsky82FU2JMFEbw-GetWorkersTest_1",
        "queueAssignments": [
          {
            "queueId": "sdk-qkCo8Z3rsky82FU2JMFEbw-Q1GetWorkersTest"
          }
        ],
        "totalCapacity": 10,
        "labels": null,
        "channelConfigurations": [
          {
            "channelId": "sdk-qkCo8Z3rsky82FU2JMFEbw-Ch1GetWorkersTest",
            "capacityCostPerJob": 1
          },
          {
            "channelId": "sdk-qkCo8Z3rsky82FU2JMFEbw-Ch2GetWorkersTest",
            "capacityCostPerJob": 10
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "758166d756e6934e99abb93b4647ba1e"
      },
      "ResponseBody": {
        "id": "sdk-qkCo8Z3rsky82FU2JMFEbw-GetWorkersTest_1",
        "state": "active",
        "queueAssignments": [
          {
            "queueId": "sdk-qkCo8Z3rsky82FU2JMFEbw-Q1GetWorkersTest"
          }
        ],
        "totalCapacity": 10,
        "labels": {
          "Id": "sdk-qkCo8Z3rsky82FU2JMFEbw-GetWorkersTest_1"
        },
        "channelConfigurations": [
          {
            "channelId": "sdk-qkCo8Z3rsky82FU2JMFEbw-Ch1GetWorkersTest",
            "capacityCostPerJob": 1
          },
          {
            "channelId": "sdk-qkCo8Z3rsky82FU2JMFEbw-Ch2GetWorkersTest",
            "capacityCostPerJob": 10
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0
      }
    },
[...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/workers?channelId=sdk-qkCo8Z3rsky82FU2JMFEbw-Ch2GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:10:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "d6d662f7020d034a9b7af27fd4be1f50"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "sdk-qkCo8Z3rsky82FU2JMFEbw-GetWorkersTest_1",
            "state": "active",
            "queueAssignments": [
              {
                "queueId": "sdk-qkCo8Z3rsky82FU2JMFEbw-Q1GetWorkersTest"
              }
            ],
            "totalCapacity": 10,
            "labels": {
              "Id": "sdk-qkCo8Z3rsky82FU2JMFEbw-GetWorkersTest_1"
            },
            "channelConfigurations": [
              {
                "channelId": "sdk-qkCo8Z3rsky82FU2JMFEbw-Ch1GetWorkersTest",
                "capacityCostPerJob": 1
              },
              {
                "channelId": "sdk-qkCo8Z3rsky82FU2JMFEbw-Ch2GetWorkersTest",
                "capacityCostPerJob": 10
              }
            ],
            "offers": [],
            "assignedJobs": [],
            "loadRatio": 0
          }
        ],
        "nextLink": "/routing/workers?channelId=sdk-qkCo8Z3rsky82FU2JMFEbw-Ch2GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1\u0026continuationToken=W3sidG9rZW4iOiIrUklEOn5WRGxPQUswc1Q1MFpwU0VBQUFBQUFBPT0jUlQ6MSNUUkM6MSNJU1Y6MiNJRU86NjU1NjcjUUNGOjQjRlBDOkFSbWxJUUFBQUFBQUc2VWhBQUFBQUFBPSIsInJhbmdlIjp7Im1pbiI6IiIsIm1heCI6IkZGIn19XQ%3D%3D"
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/workers?channelId=sdk-qkCo8Z3rsky82FU2JMFEbw-Ch2GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1\u0026continuationToken=W3sidG9rZW4iOiIrUklEOn5WRGxPQUswc1Q1MFpwU0VBQUFBQUFBPT0jUlQ6MSNUUkM6MSNJU1Y6MiNJRU86NjU1NjcjUUNGOjQjRlBDOkFSbWxJUUFBQUFBQUc2VWhBQUFBQUFBPSIsInJhbmdlIjp7Im1pbiI6IiIsIm1heCI6IkZGIn19XQ%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitize[...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/workers?channelId=sdk-qkCo8Z3rsky82FU2JMFEbw-Ch2GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1\u0026continuationToken=W3sidG9rZW4iOiIrUklEOn5WRGxPQUswc1Q1MGFwU0VBQUFBQUFBPT0jUlQ6MiNUUkM6MiNJU1Y6MiNJRU86NjU1NjcjUUNGOjQjRlBDOkFScWxJUUFBQUFBQUc2VWhBQUFBQUFBPSIsInJhbmdlIjp7Im1pbiI6IiIsIm1heCI6IkZGIn19XQ%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitize[...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/workers?queueId=sdk-qkCo8Z3rsky82FU2JMFEbw-Q2GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:10:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-ver[...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/workers?queueId=sdk-qkCo8Z3rsky82FU2JMFEbw-Q2GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1\u0026continuationToken=W3sidG9rZW4iOiIrUklEOn5WRGxPQUswc1Q1MGFwU0VBQUFBQUFBPT0jUlQ6MSNUUkM6MSNJU1Y6MiNJRU86NjU1NjcjUUNGOjQjRlBDOkFScWxJUUFBQUFBQUc2VWhBQUFBQUFBPSIsInJhbmdlIjp7Im1pbiI6IiIsIm1heCI6IkZGIn19XQ%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",[...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/workers?channelId=sdk-qkCo8Z3rsky82FU2JMFEbw-Ch1GetWorkersTest\u0026hasCapacity=true\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:10:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
 [...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/workers?channelId=sdk-qkCo8Z3rsky82FU2JMFEbw-Ch1GetWorkersTest\u0026hasCapacity=true\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1\u0026continuationToken=W3sidG9rZW4iOiIrUklEOn5WRGxPQUswc1Q1MFpwU0VBQUFBQUFBPT0jUlQ6MSNUUkM6MSNJU1Y6MiNJRU86NjU1NjcjUUNGOjQjRlBDOkFSbWxJUUFBQUFBQUhLVWhBQUFBQUFBPSIsInJhbmdlIjp7Im1pbiI6IiIsIm1heCI6IkZGIn19XQ%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Aut[...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/workers?channelId=sdk-qkCo8Z3rsky82FU2JMFEbw-Ch1GetWorkersTest\u0026hasCapacity=true\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1\u0026continuationToken=W3sidG9rZW4iOiIrUklEOn5WRGxPQUswc1Q1MGFwU0VBQUFBQUFBPT0jUlQ6MiNUUkM6MiNJU1Y6MiNJRU86NjU1NjcjUUNGOjQjRlBDOkFScWxJUUFBQUFBQUhLVWhBQUFBQUFBPSIsInJhbmdlIjp7Im1pbiI6IiIsIm1heCI6IkZGIn19XQ%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Aut[...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/workers?channelId=sdk-qkCo8Z3rsky82FU2JMFEbw-Ch1GetWorkersTest\u0026hasCapacity=true\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1\u0026continuationToken=W3sidG9rZW4iOiIrUklEOn5WRGxPQUswc1Q1MGJwU0VBQUFBQUFBPT0jUlQ6MyNUUkM6MyNJU1Y6MiNJRU86NjU1NjcjUUNGOjQjRlBDOkFSdWxJUUFBQUFBQUhLVWhBQUFBQUFBPSIsInJhbmdlIjp7Im1pbiI6IiIsIm1heCI6IkZGIn19XQ%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Aut[...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/workers/sdk-qkCo8Z3rsky82FU2JMFEbw-GetWorkersTest_1?api-version=2021-04-07-preview1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:10:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "trace-id": "db314088834c944d90f78e7f1b6958cc"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/workers/sdk-qkCo8Z3rsky82FU2JMFEbw-GetWorkersTest_1?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:10:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-0ae4-df4c6ff1d908\u0022",
        "trace-id": "5ac64d533d75224599a1556b4f2b5d63"
      },
      "ResponseBody": {
        "id": "sdk-qkCo8Z3rsky82FU2JMFEbw-GetWorkersTest_1",
        "state": "inactive",
        "queueAssignments": [
          {
            "queueId": "sdk-qkCo8Z3rsky82FU2JMFEbw-Q1GetWorkersTest"
          }
        ],
        "totalCapacity": 10,
        "labels": {
          "Id": "sdk-qkCo8Z3rsky82FU2JMFEbw-GetWorkersTest_1"
        },
        "channelConfigurations": [
          {
            "channelId": "sdk-qkCo8Z3rsky82FU2JMFEbw-Ch1GetWorkersTest",
            "capacityCostPerJob": 1
          },
          {
            "channelId": "sdk-qkCo8Z3rsky82FU2JMFEbw-Ch2GetWorkersTest",
            "capacityCostPerJob": 10
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/workers?status=active\u0026channelId=sdk-qkCo8Z3rsky82FU2JMFEbw-Ch1GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:10:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
    [...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/workers?status=active\u0026channelId=sdk-qkCo8Z3rsky82FU2JMFEbw-Ch1GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1\u0026continuationToken=W3sidG9rZW4iOiIrUklEOn5WRGxPQUswc1Q1MGFwU0VBQUFBQUFBPT0jUlQ6MSNUUkM6MSNJU1Y6MiNJRU86NjU1NjcjUUNGOjQjRlBDOkFScWxJUUFBQUFBQUhLVWhBQUFBQUFBPSIsInJhbmdlIjp7Im1pbiI6IiIsIm1heCI6IkZGIn19XQ%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Author[...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/workers?status=active\u0026channelId=sdk-qkCo8Z3rsky82FU2JMFEbw-Ch1GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1\u0026continuationToken=W3sidG9rZW4iOiIrUklEOn5WRGxPQUswc1Q1MGJwU0VBQUFBQUFBPT0jUlQ6MiNUUkM6MiNJU1Y6MiNJRU86NjU1NjcjUUNGOjQjRlBDOkFSdWxJUUFBQUFBQUhLVWhBQUFBQUFBPSIsInJhbmdlIjp7Im1pbiI6IiIsIm1heCI6IkZGIn19XQ%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Author[...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/workers?status=inactive\u0026channelId=sdk-qkCo8Z3rsky82FU2JMFEbw-Ch1GetWorkersTest\u0026maxPageSize=1\u0026api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:10:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
  [...]
[...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/workers/sdk-qkCo8Z3rsky82FU2JMFEbw-GetWorkersTest_4?api-version=2021-04-07-preview1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:11:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "trace-id": "977e9365a5ebc74594b306b04e87273a"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://prod-test.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-qkCo8Z3rsky82FU2JMFEbw-",
    "RandomSeed": "1714705576"
  }
}