{
  "Entries": [
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/workers?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:11:01 GMT"
      },
      "RequestBody": {
        "id": "sdk-7vbJu4w7dEuvtj9J415bLg--WorkerIDRegisterWorker",
        "queueAssignments": null,
        "totalCapacity": 100,
        "labels": null,
        "channelConfigurations": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "0404e155745d134fb939cc02ff9bd2f7"
      },
      "ResponseBody": {
        "id": "sdk-7vbJu4w7dEuvtj9J415bLg--WorkerIDRegisterWorker",
        "state": "active",
        "queueAssignments": [],
        "totalCapacity": 100,
        "labels": {
          "Id": "sdk-7vbJu4w7dEuvtj9J415bLg--WorkerIDRegisterWorker"
        },
        "channelConfigurations": [],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://prod-test.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-7vbJu4w7dEuvtj9J415bLg-",
    "RandomSeed": "458515723"
  }
}