{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Feb 2022 18:50:52 GMT"
      },
      "RequestBody": {
        "id": "sdk-JeQrUb1Ua0KToFCvgDi_6g--WorkerIDRegisterWorker",
        "queueAssignments": null,
        "totalCapacity": 100,
        "labels": null,
        "channelConfigurations": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "ac5dd87da1a9044ab5929aeda12819ff"
      },
      "ResponseBody": {
        "id": "sdk-JeQrUb1Ua0KToFCvgDi_6g--WorkerIDRegisterWorker",
        "state": "active",
        "queueAssignments": [],
        "totalCapacity": 100,
        "labels": {
          "Id": "sdk-JeQrUb1Ua0KToFCvgDi_6g--WorkerIDRegisterWorker"
        },
        "channelConfigurations": [],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-ppe-test.ppe.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-JeQrUb1Ua0KToFCvgDi_6g-",
    "RandomSeed": "485091562"
  }
}