{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "I need a reservation for an indoor restaurant in China. Please don\u0027t stop the music. Play music and add it to my playlist",
              "language": "en"
            },
            {
              "id": "2",
              "text": "David Schmidt, senior vice president--Food Safety, International Food Information Council (IFIC), Washington, D.C., discussed the physical activity component.",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "customMultiClassificationTasks": [
            {
              "parameters": {
                "project-name": "7cdace98-537b-494a-b69a-c19754718025",
                "deployment-name": "7cdace98-537b-494a-b69a-c19754718025"
              }
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/03300451-bb3e-48bf-919e-dea2a14af1fb"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/03300451-bb3e-48bf-919e-dea2a14af1fb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "03300451-bb3e-48bf-919e-dea2a14af1fb",
        "lastUpdateDateTime": "2021-10-25T23:30:54Z",
        "createdDateTime": "2021-10-25T23:30:53Z",
        "expirationDateTime": "2021-10-26T23:30:53Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/03300451-bb3e-48bf-919e-dea2a14af1fb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "03300451-bb3e-48bf-919e-dea2a14af1fb",
        "lastUpdateDateTime": "2021-10-25T23:30:54Z",
        "createdDateTime": "2021-10-25T23:30:53Z",
        "expirationDateTime": "2021-10-26T23:30:53Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "customMultiClassificationTasks": [
            {
              "lastUpdateDateTime": "2021-10-25T23:30:54.585657Z",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "classifications": [
                      {
                        "category": "BookRestaurant",
                        "confidenceScore": 0.97
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "classifications": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "7cdace98-537b-494a-b69a-c19754718025",
                "deploymentName": "7cdace98-537b-494a-b69a-c19754718025"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "542519583",
    "TEXTANALYTICS_MULTI_CATEGORY_CLASSIFY_DEPLOYMENT_NAME": "7cdace98-537b-494a-b69a-c19754718025",
    "TEXTANALYTICS_MULTI_CATEGORY_CLASSIFY_PROJECT_NAME": "7cdace98-537b-494a-b69a-c19754718025",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}