{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Subject is taking 100mg of ibuprofen twice daily",
              "language": "en"
            },
            {
              "id": "1",
              "text": "",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "customMultiClassificationTasks": [
            {
              "parameters": {
                "project-name": "7cdace98-537b-494a-b69a-c19754718025",
                "deployment-name": "7cdace98-537b-494a-b69a-c19754718025"
              }
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/6c59e27c-1acd-424f-ad05-271924ea0de0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/6c59e27c-1acd-424f-ad05-271924ea0de0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "6c59e27c-1acd-424f-ad05-271924ea0de0",
        "lastUpdateDateTime": "2021-10-25T21:19:03Z",
        "createdDateTime": "2021-10-25T21:19:03Z",
        "expirationDateTime": "2021-10-26T21:19:03Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/6c59e27c-1acd-424f-ad05-271924ea0de0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "6c59e27c-1acd-424f-ad05-271924ea0de0",
        "lastUpdateDateTime": "2021-10-25T21:19:04Z",
        "createdDateTime": "2021-10-25T21:19:03Z",
        "expirationDateTime": "2021-10-26T21:19:03Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "customMultiClassificationTasks": [
            {
              "lastUpdateDateTime": "2021-10-25T21:19:04.8725439Z",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "classifications": [],
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "1",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid document in request.",
                      "innererror": {
                        "code": "InvalidDocument",
                        "message": "Document text is empty."
                      }
                    }
                  }
                ],
                "projectName": "7cdace98-537b-494a-b69a-c19754718025",
                "deploymentName": "7cdace98-537b-494a-b69a-c19754718025"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "651258290",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com/"
  }
}