{
  "Entries": [
    {
      "RequestUri": "/subscriptions/19b520e4-39a7-4fac-b1da-d940f2d39a38/resourceGroups/hydra11029/providers/Microsoft.Cache/Redis/hydracache1/listKeys?api-version=2016-04-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"NRrgFIOUJrn6fRqbBtCK4gj7jFLe7eCJOAs6XIxcpD4=\",\r\n  \"secondaryKey\": \"cPRwBJ9guYIaw4xZDwrrnXnS9cMcC+KEUmUDCrq/JJY=\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-rp-server-mvid": [
          "bd1e4ace-5dbd-4224-976a-99df2f0c997c"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/19b520e4-39a7-4fac-b1da-d940f2d39a38/resourceGroups/hydra11029/providers/Microsoft.Cache/Redis/hydracache1/regenerateKey?api-version=2016-04-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyType\": \"Primary\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"KB3eyuceFDvMSFLf33wnNTBw/25ZUUWde8VGlZxTc9o=\",\r\n  \"secondaryKey\": \"cPRwBJ9guYIaw4xZDwrrnXnS9cMcC+KEUmUDCrq/JJY=\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-rp-server-mvid": [
          "bd1e4ace-5dbd-4224-976a-99df2f0c997c"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1189"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "19b520e4-39a7-4fac-b1da-d940f2d39a38"
  }
}