{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-7577?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7577",
        "name": "testRG-7577",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-7577/providers/Microsoft.Insights/autoscalesettings/testAutoscaleSetting-3313?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "profiles": [
            {
              "name": "Profiles2",
              "capacity": {
                "minimum": "1",
                "maximum": "1",
                "default": "1"
              },
              "rules": [
                {
                  "metricTrigger": {
                    "metricName": "AbandonMessage",
                    "metricNamespace": "microsoft.servicebus/namespaces",
                    "metricResourceUri": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-9432/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt7892",
                    "metricResourceLocation": "eastus2",
                    "timeGrain": "PT1M",
                    "statistic": "Average",
                    "timeWindow": "PT10M",
                    "timeAggregation": "Average",
                    "operator": "GreaterThan",
                    "threshold": 70,
                    "dividePerInstance": false
                  },
                  "scaleAction": {
                    "direction": "Increase",
                    "type": "ServiceAllowedNextValue",
                    "value": "1",
                    "cooldown": "PT5M"
                  }
                }
              ],
              "fixedDate": {
                "timeZone": "UTC",
                "start": "2014-04-15T21:06:11.7882792Z",
                "end": "2014-04-15T21:06:11.7882792Z"
              }
            },
            {
              "name": "Profiles3",
              "capacity": {
                "minimum": "1",
                "maximum": "1",
                "default": "1"
              },
              "rules": [
                {
                  "metricTrigger": {
                    "metricName": "AbandonMessage",
                    "metricNamespace": "microsoft.servicebus/namespaces",
                    "metricResourceUri": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-9432/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt7892",
                    "metricResourceLocation": "eastus2",
                    "timeGrain": "PT1M",
                    "statistic": "Average",
                    "timeWindow": "PT10M",
                    "timeAggregation": "Average",
                    "operator": "GreaterThan",
                    "threshold": 70,
                    "dividePerInstance": false
                  },
                  "scaleAction": {
                    "direction": "Increase",
                    "type": "ServiceAllowedNextValue",
                    "value": "1",
                    "cooldown": "PT5M"
                  }
                }
              ],
              "recurrence": {
                "frequency": "Week",
                "schedule": {
                  "timeZone": "UTC-11",
                  "days": [
                    "Monday"
                  ],
                  "hours": [
                    0
                  ],
                  "minutes": [
                    10
                  ]
                }
              }
            }
          ],
          "enabled": true,
          "targetResourceUri": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-9432/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt7892",
          "targetResourceLocation": "eastus"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7577/providers/microsoft.insights/autoscalesettings/testAutoscaleSetting-3313",
        "name": "testAutoscaleSetting-3313",
        "type": "Microsoft.Insights/autoscaleSettings",
        "location": "eastus",
        "tags": {},
        "properties": {
          "profiles": [
            {
              "name": "Profiles2",
              "capacity": {
                "minimum": "1",
                "maximum": "1",
                "default": "1"
              },
              "rules": [
                {
                  "metricTrigger": {
                    "metricName": "AbandonMessage",
                    "metricNamespace": "microsoft.servicebus/namespaces",
                    "metricResourceUri": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-9432/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt7892",
                    "timeGrain": "PT1M",
                    "statistic": "Average",
                    "timeWindow": "PT10M",
                    "timeAggregation": "Average",
                    "operator": "GreaterThan",
                    "threshold": 70.0,
                    "dimensions": null,
                    "dividePerInstance": false
                  },
                  "scaleAction": {
                    "direction": "Increase",
                    "type": "ServiceAllowedNextValue",
                    "value": "1",
                    "cooldown": "PT5M"
                  }
                }
              ],
              "fixedDate": {
                "timeZone": "UTC",
                "start": "2014-04-15T21:06:11.7882792Z",
                "end": "2014-04-15T21:06:[...]
[...]
