{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Marketplace/privateStores/3bc6b734-0508-42db-849e-7a60818a96fc?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-version": [
          "6.0.01791.0001-ba6ad208"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14990"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"systemData\": {\r\n    \"createdBy\": \"\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2021-04-20T15:09:28.4534435Z\",\r\n    \"lastModifiedBy\": \"\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2021-11-28T12:56:13.3140062Z\"\r\n  },\r\n  \"id\": \"/providers/Microsoft.Marketplace/privateStores/3bc6b734-0508-42db-849e-7a60818a96fc\",\r\n  \"name\": \"3bc6b734-0508-42db-849e-7a60818a96fc\",\r\n  \"type\": \"Microsoft.Marketplace/privateStores\",\r\n  \"properties\": {\r\n    \"privateStoreId\": \"3bc6b734-0508-42db-849e-7a60818a96fc\",\r\n    \"availability\": \"enabled\",\r\n    \"eTag\": \"\\\"9300f825-0000-0100-0000-61a37c6d0000\\\"\",\r\n    \"privateStoreName\": \"JEDI\",\r\n    \"tenantId\": \"3bc6b734-0508-42db-849e-7a60818a96fc\",\r\n    \"isGov\": true,\r\n    \"collectionIds\": [\r\n      \"3bc6b734-0508-42db-849e-7a60818a96fc\",\r\n      \"e6b33686-78e6-4c57-bff7-e3d8c0eed070\",\r\n      \"05c73f76-4d19-4987-8787-a71e2258ad6d\",\r\n      \"a110934a-988b-44c2-a039-5c6bb2ec9401\",\r\n      \"a4e6c4e9-ad35-4ee8-9665-591cac5e43c0\",\r\n      \"3862029f-1a7e-4bff-b14b-6b53d7a501d0\",\r\n      \"fe038aee-798e-495f-998f-78779eb3b0c5\"\r\n    ],\r\n    \"branding\": {\r\n      \"newExperience\": \"True\"\r\n    },\r\n    \"notificationsSettings\": {\r\n      \"recipients\": [\r\n        {\r\n          \"principalId\": \"946963ca-d883-4eb5-9897-2791b2283035\"\r\n        }\r\n      ],\r\n      \"sendToAllMarketplaceAdmins\": false\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Marketplace/privateStores/3bc6b734-0508-42db-849e-7a60818a96fc/collections/6408057d-3c16-4c09-bd4b-4aa0f2bb6a17?api-version=2021-06-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-version": [
          "6.0.01791.0001-ba6ad208"
        ],
        "x-ms-ratelimit-remaining-tenant-deletes": [
          "14991"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Marketplace/privateStores/3bc6b734-0508-42db-849e-7a60818a96fc/collections/6408057d-3c16-4c09-bd4b-4aa0f2bb6a17?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"collectionName\": \"TestCollection\",\r\n    \"allSubscriptions\": false,\r\n    \"subscriptionsList\": [\r\n      \"bc17bb69-1264-4f90-a9f6-0e51e29d5281\"\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-version": [
          "6.0.01791.0001-ba6ad208"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1190"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"systemData\": {\r\n    \"createdBy\": \"\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2021-11-28T12:56:18.281792Z\",\r\n    \"lastModifiedBy\": \"\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2021-11-28T12:56:18.2867976Z\"\r\n  },\r\n  \"id\": \"providers/Microsoft.Marketplace/privateStores/3bc6b734-0508-42db-849e-7a60818a96fc/collections/6408057d-3c16-4c09-bd4b-4aa0f2bb6a17\",\r\n  \"name\": \"6408057d-3c16-4c09-bd4b-4aa0f2bb6a17\",\r\n  \"type\": \"Microsoft.Marketplace/privateStores/collections\",\r\n  \"properties\": {\r\n    \"collectionId\": \"6408057d-3c16-4c09-bd4b-4aa0f2bb6a17\",\r\n    \"collectionName\": \"TestCollection\",\r\n    \"claim\": null,\r\n    \"allSubscriptions\": false,\r\n    \"subscriptionsList\": [\r\n      \"bc17bb69-1264-4f90-a9f6-0e51e29d5281\"\r\n    ],\r\n    \"enabled\": false,\r\n    \"numberOfOffers\": 0\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Marketplace/privateStores/3bc6b734-0508-42db-849e-7a60818a96fc/requestApprovals/data3-limited-1019419.d3_azure_managed_services?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publisherId\": \"data3-limited-1019419\",\r\n    \"plansDetails\": [\r\n      {\r\n        \"planId\": \"d3-azure-health-check\",\r\n        \"justification\": \"because ...\",\r\n        \"subscriptionId\": \"bc17bb69-1264-4f90-a9f6-0e51e29d5281\",\r\n        \"subscriptionName\": \"Renamed JEDI Sub\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-version": [
          "6.0.01791.0001-ba6ad208"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1188"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"systemData\": {\r\n    \"createdBy\": \"\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2021-11-28T14:56:18.9424345+02:00\",\r\n    \"lastModifiedBy\": \"\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2021-11-28T14:56:18.9424345+02:00\"\r\n  },\r\n  \"id\": \"/providers/Microsoft.Marketplace/privateStores/3bc6b734-0508-42db-849e-7a60818a96fc/requestApprovals/data3-limited-1019419.d3_azure_managed_services\",\r\n  \"name\": \"data3-limited-1019419.d3_azure_managed_services\",\r\n  \"type\": \"Microsoft.Marketplace/privateStores/requestApprovals\",\r\n  \"properties\": {\r\n    \"offerId\": \"data3-limited-1019419.d3_azure_managed_services\",\r\n    \"publisherId\": \"data3-limited-1019419\",\r\n    \"offerDisplayName\": \"Data#3 Azure Managed Services\",\r\n    \"plansDetails\": [\r\n      {\r\n        \"planId\": \"d3-azure-health-check\",\r\n        \"requestDate\": \"2021-11-28T14:56:18.9424345+02:00\",\r\n        \"justification\": \"because ...\",\r\n        \"status\": \"Pending\",\r\n        \"subscriptionId\": \"bc17bb69-1264-4f90-a9f6-0e51e29d5281\",\r\n        \"subscriptionName\": null\r\n      }\r\n    ],\r\n    \"isClosed\": false,\r\n    \"messageCode\": 0\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Marketplace/privateStores/3bc6b734-0508-42db-849e-7a60818a96fc/queryNotificationsState?api-version=2021-06-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-version": [
          "6.0.01791.0001-ba6ad208"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1193"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"stopSellNotifications\": [],\r\n  \"newNotifications\": [],\r\n  \"approvalRequests\": [\r\n    {\r\n      \"publisherId\": \"aumatics\",\r\n      \"offerId\": \"aumatics.azure_managedservices\",\r\n      \"displayName\": \"Aumatics Azure Managed Services\",\r\n      \"plans\": [\r\n        {\r\n          \"planDisplayName\": \"Azure Managed Services - Professional\",\r\n          \"planId\": \"azure_managedservices_professional\"\r\n        }\r\n      ],\r\n      \"icon\": \"https://store-images.s-microsoft.com/image/apps.28502.8bd414a4-a646-44ba-b745-faf1acee99a2.5610b36b-a1d5-4ed6-a2ec-675fd8b46e6e.6ed46d56-5177-4b3b-b792-d171f21ac71e\",\r\n      \"messageCode\": 0\r\n    },\r\n    {\r\n      \"publisherId\": \"128technology\",\r\n      \"offerId\": \"128technology.128t_networking_platform\",\r\n      \"displayName\": \"128T Networking Platform\",\r\n      \"plans\": [\r\n        {\r\n          \"planDisplayName\": \"*\",\r\n          \"planId\": \"*\"\r\n     [...]
    {
      "RequestUri": "/providers/Microsoft.Marketplace/privateStores/3bc6b734-0508-42db-849e-7a60818a96fc/adminRequestApprovals/data3-limited-1019419.d3_azure_managed_services?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publisherId\": \"data3-limited-1019419\",\r\n    \"adminAction\": \"Approved\",\r\n    \"approvedPlans\": [\r\n      \"d3-azure-health-check\"\r\n    ],\r\n    \"comment\": \"I'm ok with that\",\r\n    \"collectionIds\": [\r\n      \"6408057d-3c16-4c09-bd4b-4aa0f2bb6a17\"\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-version": [
          "6.0.01791.0001-ba6ad208"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"systemData\": null,\r\n  \"id\": \"/providers/Microsoft.Marketplace/privateStores/3bc6b734-0508-42db-849e-7a60818a96fc/adminRequestApprovals/data3-limited-1019419.d3_azure_managed_services\",\r\n  \"name\": \"data3-limited-1019419.d3_azure_managed_services\",\r\n  \"type\": \"/providers/Microsoft.Marketplace/privateStores/adminRequestApprovals\",\r\n  \"properties\": {\r\n    \"publisherId\": null,\r\n    \"offerId\": \"data3-limited-1019419.d3_azure_managed_services\",\r\n    \"displayName\": null,\r\n    \"plans\": null,\r\n    \"adminAction\": \"Approved\",\r\n    \"approvedPlans\": [\r\n      \"d3-azure-health-check\"\r\n    ],\r\n    \"comment\": \"I'm ok with that\",\r\n    \"administrator\": null,\r\n    \"collectionIds\": [\r\n      \"6408057d-3c16-4c09-bd4b-4aa0f2bb6a17\"\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Marketplace/privateStores/3bc6b734-0508-42db-849e-7a60818a96fc/collections/6408057d-3c16-4c09-bd4b-4aa0f2bb6a17/offers?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-version": [
          "6.0.01791.0001-ba6ad208"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Marketplace/privateStores/3bc6b734-0508-42db-849e-7a60818a96fc/collections/6408057d-3c16-4c09-bd4b-4aa0f2bb6a17/offers/data3-limited-1019419.d3_azure_managed_services\",\r\n      \"name\": \"data3-limited-1019419.d3_azure_managed_services\",\r\n      \"type\": \"Microsoft.Marketplace/privateStores/collection/offers\",\r\n      \"properties\": {\r\n        \"uniqueOfferId\": \"data3-limited-1019419.d3_azure_managed_services\",\r\n        \"specificPlanIdsLimitation\": [\r\n          \"d3-azure-health-check\"\r\n        ],\r\n        \"eTag\": \"\\\"93005126-0000-0100-0000-61a37c760000\\\"\",\r\n        \"privateStoreId\": \"3bc6b734-0508-42db-849e-7a60818a96fc\",\r\n        \"updateSuppressedDueIdempotence\": false\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "bc17bb69-1264-4f90-a9f6-0e51e29d5281"
  }
}