{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Marketplace/privateStores/3bc6b734-0508-42db-849e-7a60818a96fc?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-version": [
          "6.0.01791.0001-ba6ad208"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14977"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"systemData\": {\r\n    \"createdBy\": \"\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2021-04-20T15:09:28.4534435Z\",\r\n    \"lastModifiedBy\": \"\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2021-11-28T12:56:54.4849253Z\"\r\n  },\r\n  \"id\": \"/providers/Microsoft.Marketplace/privateStores/3bc6b734-0508-42db-849e-7a60818a96fc\",\r\n  \"name\": \"3bc6b734-0508-42db-849e-7a60818a96fc\",\r\n  \"type\": \"Microsoft.Marketplace/privateStores\",\r\n  \"properties\": {\r\n    \"privateStoreId\": \"3bc6b734-0508-42db-849e-7a60818a96fc\",\r\n    \"availability\": \"enabled\",\r\n    \"eTag\": \"\\\"93008127-0000-0100-0000-61a37c960000\\\"\",\r\n    \"privateStoreName\": \"JEDI\",\r\n    \"tenantId\": \"3bc6b734-0508-42db-849e-7a60818a96fc\",\r\n    \"isGov\": true,\r\n    \"collectionIds\": [\r\n      \"3bc6b734-0508-42db-849e-7a60818a96fc\",\r\n      \"e6b33686-78e6-4c57-bff7-e3d8c0eed070\",\r\n      \"05c73f76-4d19-4987-8787-a71e2258ad6d\",\r\n      \"a110934a-988b-44c2-a039-5c6bb2ec9401\",\r\n      \"a4e6c4e9-ad35-4ee8-9665-591cac5e43c0\",\r\n      \"3862029f-1a7e-4bff-b14b-6b53d7a501d0\",\r\n      \"fe038aee-798e-495f-998f-78779eb3b0c5\"\r\n    ],\r\n    \"branding\": {\r\n      \"newExperience\": \"True\"\r\n    },\r\n    \"notificationsSettings\": {\r\n      \"recipients\": [\r\n        {\r\n          \"principalId\": \"946963ca-d883-4eb5-9897-2791b2283035\"\r\n        }\r\n      ],\r\n      \"sendToAllMarketplaceAdmins\": false\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Marketplace/privateStores/3bc6b734-0508-42db-849e-7a60818a96fc/collections/6408057d-3c16-4c09-bd4b-4aa0f2bb6a17?api-version=2021-06-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-version": [
          "6.0.01791.0001-ba6ad208"
        ],
        "x-ms-ratelimit-remaining-tenant-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Marketplace/privateStores/3bc6b734-0508-42db-849e-7a60818a96fc/collections/6408057d-3c16-4c09-bd4b-4aa0f2bb6a17?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"collectionName\": \"TestCollection\",\r\n    \"allSubscriptions\": false,\r\n    \"subscriptionsList\": [\r\n      \"bc17bb69-1264-4f90-a9f6-0e51e29d5281\"\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-version": [
          "6.0.01791.0001-ba6ad208"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1194"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"systemData\": {\r\n    \"createdBy\": \"\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2021-11-28T12:56:59.0297884Z\",\r\n    \"lastModifiedBy\": \"\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2021-11-28T12:56:59.0397872Z\"\r\n  },\r\n  \"id\": \"providers/Microsoft.Marketplace/privateStores/3bc6b734-0508-42db-849e-7a60818a96fc/collections/6408057d-3c16-4c09-bd4b-4aa0f2bb6a17\",\r\n  \"name\": \"6408057d-3c16-4c09-bd4b-4aa0f2bb6a17\",\r\n  \"type\": \"Microsoft.Marketplace/privateStores/collections\",\r\n  \"properties\": {\r\n    \"collectionId\": \"6408057d-3c16-4c09-bd4b-4aa0f2bb6a17\",\r\n    \"collectionName\": \"TestCollection\",\r\n    \"claim\": null,\r\n    \"allSubscriptions\": false,\r\n    \"subscriptionsList\": [\r\n      \"bc17bb69-1264-4f90-a9f6-0e51e29d5281\"\r\n    ],\r\n    \"enabled\": false,\r\n    \"numberOfOffers\": 0\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Marketplace/privateStores/3bc6b734-0508-42db-849e-7a60818a96fc/collectionsToSubscriptionsMapping?api-version=2021-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"subscriptionIds\": [\r\n      \"bc17bb69-1264-4f90-a9f6-0e51e29d5281\"\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-version": [
          "6.0.01791.0001-ba6ad208"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"details\": {\r\n    \"3bc6b734-0508-42db-849e-7a60818a96fc\": {\r\n      \"collectionName\": \"DefaultCollection\",\r\n      \"subscriptions\": [\r\n        \"bc17bb69-1264-4f90-a9f6-0e51e29d5281\"\r\n      ]\r\n    },\r\n    \"e6b33686-78e6-4c57-bff7-e3d8c0eed070\": {\r\n      \"collectionName\": \"non BA - Renamed GEDI sub\",\r\n      \"subscriptions\": [\r\n        \"bc17bb69-1264-4f90-a9f6-0e51e29d5281\"\r\n      ]\r\n    },\r\n    \"05c73f76-4d19-4987-8787-a71e2258ad6d\": {\r\n      \"collectionName\": \"non BA - Test JEDI Sub1 Renamed\",\r\n      \"subscriptions\": null\r\n    },\r\n    \"a110934a-988b-44c2-a039-5c6bb2ec9401\": {\r\n      \"collectionName\": \"BA collection\",\r\n      \"subscriptions\": [\r\n        \"bc17bb69-1264-4f90-a9f6-0e51e29d5281\"\r\n      ]\r\n    },\r\n    \"a4e6c4e9-ad35-4ee8-9665-591cac5e43c0\": {\r\n      \"collectionName\": \"non BA -All\",\r\n      \"subscriptions\": [\r\n        \"bc17bb69-1264-4f90-a9f6-0e51e29d5281\"\r\n      ]\r\n    },\r\n    \"3862029f-1a7e-4bff-b14b-6b53d7a501d0\": {\r\n      \"collectionName\": \"ccccc\",\r\n      \"subscriptions\": [\r\n        \"bc17bb69-1264-4f90-a9f6-0e51e29d5281\"\r\n      ]\r\n    },\r\n    \"fe038aee-798e-495f-998f-78779eb3b0c5\": {\r\n      \"collectionName\": \"xxxx\",\r\n      \"subscriptions\": null\r\n    },\r\n    \"6408057d-3c16-4c09-bd4b-4aa0f2bb6a17\": {\r\n      \"collectionName\": \"TestCollection\",\r\n      \"subscriptions\": [\r\n        \"bc17bb69-1264-4f90-a9f6-0e51e29d5281\"\r\n      ]\r\n    },\r\n    \"1065c936-3533-4af5-b636-cc75136d696f\": {\r\n      \"collectionName\": \"TargetTestCollection\",\r\n      \"subscriptions\": [\r\n        \"bc17bb69-1264-4f90-a9f6-0e51e29d5281\"\r\n      ]\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "bc17bb69-1264-4f90-a9f6-0e51e29d5281"
  }
}