{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Marketplace/privateStores?api-version=2020-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-version": [
          "1.0.0.903 (AzureUX-MarketPlaceRP:master.7b5ad350e.200430-1520)"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Marketplace/privateStores/420c70be-a111-4152-8d48-640c069d441f\",\r\n      \"name\": \"420c70be-a111-4152-8d48-640c069d441f\",\r\n      \"type\": \"Microsoft.Marketplace/privateStores\",\r\n      \"properties\": {\r\n        \"privateStoreId\": \"420c70be-a111-4152-8d48-640c069d441f\",\r\n        \"availability\": \"disabled\",\r\n        \"eTag\": \"\\\"00000225-0000-0300-0000-5eabcee00000\\\"\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Marketplace/privateStores/420c70be-a111-4152-8d48-640c069d441f?api-version=2020-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"availability\": \"enabled\",\r\n    \"eTag\": \"\\\"00000225-0000-0300-0000-5eabcee00000\\\"\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-version": [
          "1.0.0.903 (AzureUX-MarketPlaceRP:master.7b5ad350e.200430-1520)"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Marketplace/privateStores/420c70be-a111-4152-8d48-640c069d441f?api-version=2020-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"availability\": \"disabled\",\r\n    \"eTag\": \"\\\"00001625-0000-0300-0000-5eabd35e0000\\\"\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-version": [
          "1.0.0.903 (AzureUX-MarketPlaceRP:master.7b5ad350e.200430-1520)"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1198"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "bc17bb69-1264-4f90-a9f6-0e51e29d5281"
  }
}