{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-15602d2e-7651-667a-471f-2afa22a2e94d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF563726D3\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:01:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-15602d2e-7651-667a-471f-2afa22a2e94d/test-blob-2dcc86f0-3276-afd2-80ef-c3701fdbe774",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF56404539\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:01:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:01:03.4203449Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-15602d2e-7651-667a-471f-2afa22a2e94d/test-blob-2dcc86f0-3276-afd2-80ef-c3701fdbe774?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "RuHvuzpiACbh6mUHGb\u002BGgULGb30r7m6NXG\u002BrdSrtsvl6JsxID/HBnqKIFxvMpJMSuB11aF92xldyYV7Ltov78zhsjPLzPnJQBdDao9dSwbjbmL0NeEmaA1901a2S9ugXjCTiYBegHnmqJGOPnCOAIKCm7x7O7nrv0YmSf2nFvQ7owxazb2CgO3lDYlPlC2c887QN7AfJSZ6p846ODZ8P5WZVp9gMzLA/BrSkiosmCcYhVou0uNEHHnp4CnzSEi3aM33skGSPLycEzeZSJb4SgunIbbcUWy2VTYhelMIzbfOGyVYOOXlikiZksOrrtPi7ZYeSCqV1xdhPV0LbMJp[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-15602d2e-7651-667a-471f-2afa22a2e94d/test-blob-2dcc86f0-3276-afd2-80ef-c3701fdbe774",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF564A2ED9\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:01:03 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:01:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:01:03.4203449Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-15602d2e-7651-667a-471f-2afa22a2e94d/test-blob-bca76ac9-a747-4ee6-0008-47cacf3a28b4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-15602d2e-7651-667a-471f-2afa22a2e94d/test-blob-2dcc86f0-3276-afd2-80ef-c3701fdbe774",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:03 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003EThe copy source must be a block blob.\n",
        "RequestId:131b6444-f01e-0076-12e8-74ffa9000000\n",
        "Time:2023-04-22T07:01:03.6863991Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-15602d2e-7651-667a-471f-2afa22a2e94d/test-blob-bca76ac9-a747-4ee6-0008-47cacf3a28b4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:04 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-15602d2e-7651-667a-471f-2afa22a2e94d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:05 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "874228422",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
