{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-14bbb4d6-9d46-95d2-00c1-73fcea962265?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:25 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE249D48C292\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:43:26 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-14bbb4d6-9d46-95d2-00c1-73fcea962265/test-blob-ecc4d2af-ea63-164a-caae-0639636a83ee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:25 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE249D5AE091\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:43:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:43:26.6524053Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-14bbb4d6-9d46-95d2-00c1-73fcea962265/test-blob-ecc4d2af-ea63-164a-caae-0639636a83ee?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:25 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "1MTxBkGBrgO2/5rTRn4IRjrTyOOyRKEVEh\u002BSmACCSPRkQfdJkm3y79G1iE7FqjIJa2VfqJRIsJAi3PMh7xYCM7albgWGv7PM4dkS/LtTT2ftiSybI59fHJFnJrV60AC6slWXIDwsgquxkse7NbPVz42LM2XpZxAWRVF0H5n9UhDZV0lmuy4rwQaA6ZDYpObdkVYo7p2a0UtEgNrquGMSs0C34t5qbhNeYHJfaH6APqFrlo1D1WRzPob\u002BIjtUQAijbjVPIcIIcyNCyo4qO2jNw0E4fyHWzt7cRKNXa0zYCR9pu/lIMB3fYiNqAArWSAMdMF75G8HnzaBWc9wesAf[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-14bbb4d6-9d46-95d2-00c1-73fcea962265/test-blob-ecc4d2af-ea63-164a-caae-0639636a83ee",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:25 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE249D66C5AA\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:43:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 22:43:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:43:26.6524053Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-14bbb4d6-9d46-95d2-00c1-73fcea962265/test-blob-af5483f4-85ca-f869-b4c2-75395a08e3f0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-14bbb4d6-9d46-95d2-00c1-73fcea962265/test-blob-ecc4d2af-ea63-164a-caae-0639636a83ee",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:25 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003EThe copy source must be a block blob.\n",
        "RequestId:14f3ddd4-e01e-0018-250d-10aa86000000\n",
        "Time:2022-12-14T22:43:26.9284460Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-14bbb4d6-9d46-95d2-00c1-73fcea962265?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:25 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "280118776",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
