{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ca8f41d1-2355-825e-8dc1-70b274c43aac?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:07 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF58609466\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:01:06 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ca8f41d1-2355-825e-8dc1-70b274c43aac/test-blob-88910ce5-da96-8344-8f5e-75138a0a33dc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:07 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "nzNU8Lg8z\u002BE2hvesmIJOcbWgbUIfmaaCQIhufsgIpQM\u002B2ZCvjpxAqDyvURDjmOoNDwRd6Z3wvAWN0rAvzlEYLuDzbb/yn\u002BIYX8UFb0eVn6edYW7EqrxmThyKIbzsENrqliMv8CorGnAhRInX6ky99zMIkm3jVIMkjB\u002BjaH0mLE/rG9gkZa99ckb\u002Bo2Uyj2PQzCqJ5H5tB0KfC2MLiLLy\u002Bhg67M9zmZGDih8m5bAd8f270pxTnUfQfhOWhVpLceqTC6lM96KUXDKZBVlfRiKRgRlmT7UWn1zRam673RQ3OBk1k9kH0fpbJ3VpupjtcTfxBANA5SE0fWxMe4[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ca8f41d1-2355-825e-8dc1-70b274c43aac/test-blob-f9dd9893-df6c-32ff-1f6f-897af2a61854",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:07 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "mzQBXaFN/ucIY4K46ApBqQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF5876A853\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:01:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:01:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:01:07.1322195Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ca8f41d1-2355-825e-8dc1-70b274c43aac/test-blob-88910ce5-da96-8344-8f5e-75138a0a33dc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-ca8f41d1-2355-825e-8dc1-70b274c43aac/test-blob-f9dd9893-df6c-32ff-1f6f-897af2a61854",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:07 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:131b68f0-f01e-0076-46e8-74ffa9000000\n",
        "Time:2023-04-22T07:01:07.3383311Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ca8f41d1-2355-825e-8dc1-70b274c43aac/test-blob-88910ce5-da96-8344-8f5e-75138a0a33dc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:07 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF586B3848\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:01:07 GMT",
        "x-ms-blob-content-md5": "mhOsix6w8ml6YugDHD37Fw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:01:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:01:07.0572616Z"
      },
      "ResponseBody": "nzNU8Lg8z\u002BE2hvesmIJOcbWgbUIfmaaCQIhufsgIpQM\u002B2ZCvjpxAqDyvURDjmOoND[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ca8f41d1-2355-825e-8dc1-70b274c43aac?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:01:07 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "633452438",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
