{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-af5e2c3e-72f8-be6d-1682-4cd085805724?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 09 Jun 2023 18:55:23 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB691B14857741\u0022",
        "Last-Modified": "Fri, 09 Jun 2023 18:55:23 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-af5e2c3e-72f8-be6d-1682-4cd085805724/test-blob-ca308808-bc2d-9688-2017-73ff1b3a5e1c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 09 Jun 2023 18:55:23 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "CoPKSy3JMpz9Km9W5v2loSRcTqCAWBPSJ5F9O4UgPgqZnOSD4YWZCoAYEHOcczYse8OojuUivrJv9yObTPYX3OxlvUkYIsCew0QgaEegNbRbUMDCeK8ldt4yE\u002Bli/b6JATSGN7btE1kDCcqhAVZqz8JvQPs2VWM8QEZr5g7WPMWGl2cTGv7\u002BbTxmvm7lg3WHx0Qn8r3CUqvQSfdvgS1KLc0EG2nuV7XEcdK/z5b1V7zQ4x/JrkoIw0S7Q9AGjuwPG5Gg4GgMmHCPY4DrA4IV2vE6n50NgX6D/FckMxPkvePmr7MEVHdUxEqvOkrJHcDBpWjfzO5OAZoSHeMR52Vcq6adBFPPEIV55t[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-af5e2c3e-72f8-be6d-1682-4cd085805724/test-blob-ca308808-bc2d-9688-2017-73ff1b3a5e1c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Jun 2023 18:55:23 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "HLQ2u8J/01b0Ugf/ySHh6A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB691B148DD2BA\u0022",
        "Last-Modified": "Fri, 09 Jun 2023 18:55:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 09 Jun 2023 18:55:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 09 Jun 2023 18:55:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-09T18:55:23.2929466Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-af5e2c3e-72f8-be6d-1682-4cd085805724/test-blob-caec8377-fdb9-9d9b-44ab-4b8754bd17b8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-af5e2c3e-72f8-be6d-1682-4cd085805724/test-blob-ca308808-bc2d-9688-2017-73ff1b3a5e1c",
        "x-ms-date": "Fri, 09 Jun 2023 18:55:23 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB691B14A157E6\u0022",
        "Last-Modified": "Fri, 09 Jun 2023 18:55:23 GMT",
        "x-ms-content-crc64": "wGxUGWWE/DE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-09T18:55:23.4218736Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-af5e2c3e-72f8-be6d-1682-4cd085805724/test-blob-caec8377-fdb9-9d9b-44ab-4b8754bd17b8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Jun 2023 18:55:23 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB691B14A157E6\u0022",
        "Last-Modified": "Fri, 09 Jun 2023 18:55:23 GMT",
        "x-ms-blob-content-md5": "HLQ2u8J/01b0Ugf/ySHh6A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 09 Jun 2023 18:55:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 09 Jun 2023 18:55:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-09T18:55:23.4218736Z"
      },
      "ResponseBody": "CoPKSy3JM[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-af5e2c3e-72f8-be6d-1682-4cd085805724?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Jun 2023 18:55:23 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1759427309",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
