{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0abbaea8-f17a-cb17-f3a8-bdbbab796541?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:39 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB71C7E74D7A09\u0022",
        "Last-Modified": "Tue, 20 Jun 2023 19:52:39 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0abbaea8-f17a-cb17-f3a8-bdbbab796541/test-blob-b7b80e62-a405-396b-01a8-feb82f5cfc95",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:39 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "3EUQpMzJQ3HAiC9KBj4PTmXaCXwONkLH5cMcSsCmt6Hc2HYU6s2OPthfXEyOIfsbtr\u002BXzUr/yqYDSb8JrfmwGtCObi7I\u002BmOXS8qjrtr1OcTIAJMAD\u002BpW3Q3QEKEOhZHfr0F8/7LNU7tc/4F/WxzLDhD7QKxlrwvmN5Ag9\u002BrBicY5xP\u002BYeDkR\u002B63YpA9o14LxBAKREkXlef82lscirFvRmna7RpYcM5XW6kX\u002BjQv7fWAOLvPnMHaBU0sAYuJx705SBgqYrJHs1NFsuij/5\u002Bz0OhhnE35n6moAOvJKHNCzZfv2rIcAY9HOIlkienVNgWxeDCjJ[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0abbaea8-f17a-cb17-f3a8-bdbbab796541/test-blob-b7b80e62-a405-396b-01a8-feb82f5cfc95",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:39 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "cSUBEAWgWJfq45S2SfxcQg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB71C7E7543663\u0022",
        "Last-Modified": "Tue, 20 Jun 2023 19:52:39 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 20 Jun 2023 19:52:39 GMT",
        "x-ms-last-access-time": "Tue, 20 Jun 2023 19:52:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0abbaea8-f17a-cb17-f3a8-bdbbab796541/test-blob-ba707f86-2453-96a1-3025-98b39a63e0b9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-0abbaea8-f17a-cb17-f3a8-bdbbab796541/test-blob-278b21f6-cb3c-93dd-1f52-09085947372c",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:39 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB71C7E76E9852\u0022",
        "Last-Modified": "Tue, 20 Jun 2023 19:52:39 GMT",
        "x-ms-content-crc64": "6vM2faiQzmI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0abbaea8-f17a-cb17-f3a8-bdbbab796541/test-blob-c058e275-faa5-8c96-1703-98bb86a056b1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB71C7E770BAE4\u0022",
        "Last-Modified": "Tue, 20 Jun 2023 19:52:39 GMT",
        "x-ms-blob-content-md5": "cSUBEAWgWJfq45S2SfxcQg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 20 Jun 2023 19:52:39 GMT",
        "x-ms-last-access-time": "Tue, 20 Jun 2023 19:52:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": "3EUQpMzJQ3HAiC9KBj4PTmXaCXwONkLH5cMcSsCmt6Hc2HYU6s2OPthfXEyOIfsbtr\u002BXzUr/yqYDSb8JrfmwGtCObi7I\u002BmOXS8qjr[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0abbaea8-f17a-cb17-f3a8-bdbbab796541?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:40 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1453675480",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
