{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f43ea76b-c630-dd04-03ae-dc0a9e622d41?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 28 Apr 2023 19:37:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB481FF19503A7\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:37:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f43ea76b-c630-dd04-03ae-dc0a9e622d41/test-blob-25d4dbf7-b241-7a71-c675-83570df00de9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 28 Apr 2023 19:37:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "r/\u002BBEuv6hm1yvRj51atE3YUYHPRE2ZrWGvxsRslr7HuHMYaEEkC0/FVns4OZd6QbMKbS9dQZpNZlqvjujkCjB9CccqMkwMpEYx\u002Bf3SUXPKJYUBUjmfenbo2wH2dIxm4UxKyy/QUB93DcjZG0ecewTW5Wlj0qgG3Z9QQWdKBi/J2xihl5ZD\u002BcV1mlRgxm8/TF/9H58S8w6kM\u002B2QgB6oLPeZDzAu\u002BuNukuuT/jhDlhcgEQUHTOaQtugJ/VOoo3m2zX1c17cvAEF8joyjfvTGUK3WYG8ZkNABCFhYJP2Pxe9x7TDK5s5f8RCzis5p7TfjM5yl0kMarSydW89u1utD7[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f43ea76b-c630-dd04-03ae-dc0a9e622d41/test-blob-5308799b-2fbb-1e7a-741a-b5ecc00b7493",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:37:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "7d2z4pfQIr47a3aMlOHYbg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB481FF1D6A420\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:37:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 28 Apr 2023 19:37:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-28T19:37:04.1618976Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f43ea76b-c630-dd04-03ae-dc0a9e622d41/test-blob-25d4dbf7-b241-7a71-c675-83570df00de9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-f43ea76b-c630-dd04-03ae-dc0a9e622d41/test-blob-5308799b-2fbb-1e7a-741a-b5ecc00b7493",
        "x-ms-date": "Fri, 28 Apr 2023 19:37:04 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:0a04915c-901e-002d-5a08-7ac692000000\n",
        "Time:2023-04-28T19:37:04.7242388Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f43ea76b-c630-dd04-03ae-dc0a9e622d41/test-blob-25d4dbf7-b241-7a71-c675-83570df00de9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:37:04 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB481FF1CC6C68\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:37:04 GMT",
        "x-ms-blob-content-md5": "S5XwDTG0jR4QSXAQls4QRA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 28 Apr 2023 19:37:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-28T19:37:04.0949352Z"
      },
      "ResponseBody": "r/\u002BBEuv6hm1yvRj51atE3YUYHPRE2ZrWGvxsRslr7HuHMYaEEkC0/FVns4OZd6QbMKbS9d[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f43ea76b-c630-dd04-03ae-dc0a9e622d41?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:37:04 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1586396394",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
