{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-88f3cec7-00a7-079a-e2e7-7dea1707a836?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:40 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB71C7E7AD664F\u0022",
        "Last-Modified": "Tue, 20 Jun 2023 19:52:40 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-88f3cec7-00a7-079a-e2e7-7dea1707a836/test-blob-9e19c324-4f3d-0e79-13df-21a3760fad6e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:40 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "6W1MhDLyOIHv1tErO/71I1bWlXPXvDkjiLXU6OVu0Fr6xaC9IfaHPwzVxTk2dsKF18gbq0uMUSwzKPx8HU\u002BbgQV3MXZeNwFfTlVnAvcA7BLzTxAdUyUPbXN0ivj6CyK8OUQzvkRLJ6DGu131JU81Mzvpic4/fi7gaMQD6a0IZUMzqsmyzC7NpyhwVpfIGUcjP1a9EIJTfboWU1Z/SD3yvlUawnuGgmcNG\u002BGmzyiWGE9936pXS1TA3ywOm3jYTl7qfZhCrVfLnbzvr/Wgra6SgDsGAmmTm3IBWeJPd\u002BfuNc2Cu1KPVGr3skHuZ5tfHzJ\u002BfBo90Uv1V\u002BElQVR1eyX[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-88f3cec7-00a7-079a-e2e7-7dea1707a836/test-blob-9e19c324-4f3d-0e79-13df-21a3760fad6e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:40 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "swdWQtRbfXFg01yBlFKLPQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB71C7E7B3FB97\u0022",
        "Last-Modified": "Tue, 20 Jun 2023 19:52:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 20 Jun 2023 19:52:40 GMT",
        "x-ms-last-access-time": "Tue, 20 Jun 2023 19:52:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-88f3cec7-00a7-079a-e2e7-7dea1707a836/test-blob-03e11015-3f66-ab87-6229-edccf19d1365",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-88f3cec7-00a7-079a-e2e7-7dea1707a836/test-blob-9e19c324-4f3d-0e79-13df-21a3760fad6e",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:40 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB71C7E7E84A64\u0022",
        "Last-Modified": "Tue, 20 Jun 2023 19:52:40 GMT",
        "x-ms-content-crc64": "M47/xqp\u002B2\u002BU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-88f3cec7-00a7-079a-e2e7-7dea1707a836/test-blob-03e11015-3f66-ab87-6229-edccf19d1365",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB71C7E7E84A64\u0022",
        "Last-Modified": "Tue, 20 Jun 2023 19:52:40 GMT",
        "x-ms-blob-content-md5": "swdWQtRbfXFg01yBlFKLPQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 20 Jun 2023 19:52:40 GMT",
        "x-ms-last-access-time": "Tue, 20 Jun 2023 19:52:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": "6W1MhDLyOIHv1tErO/71I1bWlXPXvDkjiLXU6OVu0Fr6xaC9IfaHPwzVxTk2dsKF18gbq0uMUSwzKPx8HU\u002BbgQV3MXZeNwFfTlVnAvcA7B[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-88f3cec7-00a7-079a-e2e7-7dea1707a836?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Jun 2023 19:52:41 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "374340266",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
