{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ff9bff4f-2509-e7b7-d1a2-9c873e25dbd0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:05 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE249200F082\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:43:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ff9bff4f-2509-e7b7-d1a2-9c873e25dbd0/test-blob-72dfccbf-2c68-eab7-e285-abb0788bf7bb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:06 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "ju0vTbwjx88fV5cWtzhhVgb\u002BbCM2oUYqOH7Wg646oiB78lXHzQTwnAUQUxGVoTKpI1WqeR7UhO2mBRQ\u002BTEMh5bR2msXjmYgCDs8dJU40lJdMLWBYkCgCp21oIMjvslDB725dHgZtxonNp2tOtl\u002BfcnB98h/jyFSLdPNYe3jAE1t/Wzbg13aR3mfWi\u002Bi9s/EOyK5XccAx3icZ0aoTFEoRDJMQz1opv5r67BO3DDxszsABSrLJaaGaTn0OxgbMfckcxX9UrOSW5AkUXIWtedHqrQPpEcqYR6PydYHdGviULm5Jm0e9FyHca2WotQwc7dSrIxkC4mz/g33bYjZiucoRgC4X[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ff9bff4f-2509-e7b7-d1a2-9c873e25dbd0/test-blob-cc2453ac-4812-4cff-7606-f8076704652b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:06 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "kbKAXphxbPTw5FgFxbyKWA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE249227DE63\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:43:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 22:43:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:43:07.8621795Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ff9bff4f-2509-e7b7-d1a2-9c873e25dbd0/test-blob-72dfccbf-2c68-eab7-e285-abb0788bf7bb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-ff9bff4f-2509-e7b7-d1a2-9c873e25dbd0/test-blob-cc2453ac-4812-4cff-7606-f8076704652b",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:06 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE249243518C\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:43:08 GMT",
        "x-ms-content-crc64": "cVDdx0vxVRA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:43:08.0440748Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ff9bff4f-2509-e7b7-d1a2-9c873e25dbd0/test-blob-72dfccbf-2c68-eab7-e285-abb0788bf7bb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE249243518C\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:43:08 GMT",
        "x-ms-blob-content-md5": "kbKAXphxbPTw5FgFxbyKWA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 22:43:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:43:08.0440748Z"
      },
      "ResponseBody": "oQx0km19M4Bptqey5QZqjmVdOOewXlrcH0CObRpWzRfKnIW/vUPc9bhs9/Tcaxzto33vFJ6KEEK[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ff9bff4f-2509-e7b7-d1a2-9c873e25dbd0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:06 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2000961549",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
