{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-04b0cf1d-b008-57b0-fd9b-a72696cf36be?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:42 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF49B2BCB2\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:42 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-04b0cf1d-b008-57b0-fd9b-a72696cf36be/test-blob-a3527a58-8bd7-b4eb-6e8f-90571fb33ca7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:42 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "xnI2mLHhAapVa/iMB\u002BEiA9Bwo58DMV1jEmnnLZ8PUG6VurmMOkZud3inTmuSXq2MbIyHrg\u002Bdo5UU0oZI\u002BdMKRRuK900olsiJASsnXOPx0LS7W8ESh6Ff\u002BBYjd2jAJn6knAhQCGdgY9XE/a3jdUeyIgHSjJ4S9755K/42BB5fyNutgr/bochMW/frTon0e4LOcVVm7pnfkqRK191oKV62ZDXRNfOI14E5hTGnJ6k0hK97Z5PJ\u002BdpBzu8akMnq4zGYNOlUIkWORpnTLGloN2v6FVIu7cLL7WtbkGYEbUa3T6H/D/LA32Jp7SD59sxw2ZaEH3t3vPZvzUd9\u002BZ[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-04b0cf1d-b008-57b0-fd9b-a72696cf36be/test-blob-c8a9ac4a-8864-0e93-a5f9-60207aaff7af",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ewrKoTRFxaDc7k2yX/7Iig==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF4A023B0E\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:00:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:42.8811022Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-04b0cf1d-b008-57b0-fd9b-a72696cf36be/test-blob-a3527a58-8bd7-b4eb-6e8f-90571fb33ca7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-04b0cf1d-b008-57b0-fd9b-a72696cf36be/test-blob-c8a9ac4a-8864-0e93-a5f9-60207aaff7af",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:00f39164-f01e-0059-1be8-74f262000000\n",
        "Time:2023-04-22T07:00:43.0847213Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-04b0cf1d-b008-57b0-fd9b-a72696cf36be/test-blob-a3527a58-8bd7-b4eb-6e8f-90571fb33ca7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF49EEDCFC\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:42 GMT",
        "x-ms-blob-content-md5": "SSoUN1I6iECKEXus6tccvA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:00:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:42.7551745Z"
      },
      "ResponseBody": "xnI2mLHhAapVa/iMB\u002BEiA9Bwo58DMV1jEmnnLZ8PUG6VurmMOkZud3inTmuSXq2MbIyHrg[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-04b0cf1d-b008-57b0-fd9b-a72696cf36be?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "228753099",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
