{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4b5b59ad-600f-b970-445d-f9f353e69411?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 09 Jun 2023 20:00:27 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB69242DF66F67\u0022",
        "Last-Modified": "Fri, 09 Jun 2023 20:00:31 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4b5b59ad-600f-b970-445d-f9f353e69411/test-blob-58a50832-1f0f-e94c-5cb6-0e6247a4eaaa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 09 Jun 2023 20:00:27 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "14raoqnfMXT/PzCofQc8nN80cusW0NjEBhaDsT3SzKU48aPbUORWMnRnBKJ3ptM1q4nxhm48nQexFpyTW382LHKKb4tjYUz63T92r8s1TV9CTQaz4UU3\u002B1ScKTpIw9b0MNgw7DdI0kk99qguxu47e8k8UA55g0osU3M3xzgRshppgX/zBWAo\u002Bnq8deucCDVlYK1xC3LIe6yNA5nDEAsRLEOOxURvR3ZpE1aTvQ5ej0o90WaLoKenoQbSZQLGZOlvq0ioDkPx9hg2CPgcNL6dL3NOhj6khouc5iM9nOJ0oq5tIxHFtoEHS9tNVJiui2xINTaOd96qyiW8CycftFk2wmVJrhGs13jyRj[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4b5b59ad-600f-b970-445d-f9f353e69411/test-blob-58a50832-1f0f-e94c-5cb6-0e6247a4eaaa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Jun 2023 20:00:27 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "EOKmvdSEeqsE1VnCtFHITw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB69242E029FD3\u0022",
        "Last-Modified": "Fri, 09 Jun 2023 20:00:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 09 Jun 2023 20:00:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-09T20:00:31.4720211Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4b5b59ad-600f-b970-445d-f9f353e69411/test-blob-1930c9ef-ec1f-95c7-e962-4333f1cb7e92?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-4b5b59ad-600f-b970-445d-f9f353e69411/test-blob-58a50832-1f0f-e94c-5cb6-0e6247a4eaaa",
        "x-ms-date": "Fri, 09 Jun 2023 20:00:27 GMT",
        "x-ms-source-range": "bytes=0-199",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "hCSo3cU6q5Q=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4b5b59ad-600f-b970-445d-f9f353e69411/test-blob-1930c9ef-ec1f-95c7-e962-4333f1cb7e92?comp=block\u0026blockid=kAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-4b5b59ad-600f-b970-445d-f9f353e69411/test-blob-58a50832-1f0f-e94c-5cb6-0e6247a4eaaa",
        "x-ms-date": "Fri, 09 Jun 2023 20:00:27 GMT",
        "x-ms-source-range": "bytes=400-599",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "oImpU0bh\u002Bxk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4b5b59ad-600f-b970-445d-f9f353e69411/test-blob-1930c9ef-ec1f-95c7-e962-4333f1cb7e92?comp=block\u0026blockid=IAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-4b5b59ad-600f-b970-445d-f9f353e69411/test-blob-58a50832-1f0f-e94c-5cb6-0e6247a4eaaa",
        "x-ms-date": "Fri, 09 Jun 2023 20:00:27 GMT",
        "x-ms-source-range": "bytes=800-999",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "\u002BHNAslFaC8M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4b5b59ad-600f-b970-445d-f9f353e69411/test-blob-1930c9ef-ec1f-95c7-e962-4333f1cb7e92?comp=block\u0026blockid=WAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-4b5b59ad-600f-b970-445d-f9f353e69411/test-blob-58a50832-1f0f-e94c-5cb6-0e6247a4eaaa",
        "x-ms-date": "Fri, 09 Jun 2023 20:00:27 GMT",
        "x-ms-source-range": "bytes=600-799",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "A\u002BUKKTJMxT0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4b5b59ad-600f-b970-445d-f9f353e69411/test-blob-1930c9ef-ec1f-95c7-e962-4333f1cb7e92?comp=block\u0026blockid=6AMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-4b5b59ad-600f-b970-445d-f9f353e69411/test-blob-58a50832-1f0f-e94c-5cb6-0e6247a4eaaa",
        "x-ms-date": "Fri, 09 Jun 2023 20:00:27 GMT",
        "x-ms-source-range": "bytes=1000-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "bjLzm/cnS34=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4b5b59ad-600f-b970-445d-f9f353e69411/test-blob-1930c9ef-ec1f-95c7-e962-4333f1cb7e92?comp=block\u0026blockid=yAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-4b5b59ad-600f-b970-445d-f9f353e69411/test-blob-58a50832-1f0f-e94c-5cb6-0e6247a4eaaa",
        "x-ms-date": "Fri, 09 Jun 2023 20:00:27 GMT",
        "x-ms-source-range": "bytes=200-399",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "IqxAEUkurtI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4b5b59ad-600f-b970-445d-f9f353e69411/test-blob-1930c9ef-ec1f-95c7-e962-4333f1cb7e92?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 09 Jun 2023 20:00:27 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EyAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EkAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EWAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EIAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003E6AMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB69242E49FEA8\u0022",
        "Last-Modified": "Fri, 09 Jun 2023 20:00:31 GMT",
        "x-ms-content-crc64": "KcRi2J8nBCM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-09T20:00:31.9397544Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4b5b59ad-600f-b970-445d-f9f353e69411/test-blob-1930c9ef-ec1f-95c7-e962-4333f1cb7e92",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Jun 2023 20:00:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB69242E49FEA8\u0022",
        "Last-Modified": "Fri, 09 Jun 2023 20:00:31 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 09 Jun 2023 20:00:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4b5b59ad-600f-b970-445d-f9f353e69411?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Jun 2023 20:00:27 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1271301573",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
