{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-53b53974-231d-3ffa-8634-f8ebdc4eb1ad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Dec 2022 22:41:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE246247EEE9\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:41:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-53b53974-231d-3ffa-8634-f8ebdc4eb1ad/test-blob-21b03541-6309-94c9-4755-e2371c64e83d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Dec 2022 22:41:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "RzvGv/hTN1fAFhMlb40\u002B7SqKVCGYy7PBU8EVIJbxE/9LMxzlvPyE7f5YYfNQpCW6F/UNkg/HpXyHBWw3PRbBzgIT2TtxWDAtBWciP2rAcK\u002BbWwmg5IHvhI6gXrePTK/nl5LxPcrpSL7E34yopGYRx5S8m\u002BINIeqAJFWt0fp4nbm3OqjXzzPkshNK2wX1R98njpYi07DN2nWocBh1O3fES0HT8Gm9Ofhh2OnOw0Xli9x1hUJjVsoI6mAyL14ab3achY/DIVZ2alSewPvH/hYwwuQ8ALY0YfV2ywYJiwmZR2lyMj61IWmG/xvuxJXPQOxJAW153m7AZyOaTVZQbN5KBHmRVMvYe[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-53b53974-231d-3ffa-8634-f8ebdc4eb1ad/test-blob-9c204028-4160-5808-ca72-d4badf4fcd28",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:41:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DJjapHl03RdB0l19xpnp3w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE24626461EB\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:41:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 22:41:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:41:47.7281259Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-53b53974-231d-3ffa-8634-f8ebdc4eb1ad/test-blob-21b03541-6309-94c9-4755-e2371c64e83d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-53b53974-231d-3ffa-8634-f8ebdc4eb1ad/test-blob-9c204028-4160-5808-ca72-d4badf4fcd28",
        "x-ms-date": "Wed, 14 Dec 2022 22:41:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:2947f13b-901e-0002-020d-10cb59000000\n",
        "Time:2022-12-14T22:41:47.8824856Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-53b53974-231d-3ffa-8634-f8ebdc4eb1ad/test-blob-21b03541-6309-94c9-4755-e2371c64e83d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:41:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE24625A5140\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:41:47 GMT",
        "x-ms-blob-content-md5": "dvECeQCHB/M5TFk7TxncNA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 22:41:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:41:47.6621632Z"
      },
      "ResponseBody": "RzvGv/hTN1fAFhMlb40\u002B7SqKVCGYy7PBU8EVIJbxE/9LMxzlvPyE7f5YYfNQpCW6F/UNkg[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-53b53974-231d-3ffa-8634-f8ebdc4eb1ad?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:41:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1521799400",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
