{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b6332bca-c3e1-3268-51b7-558331fc721a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:34 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF452E7923\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:34 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b6332bca-c3e1-3268-51b7-558331fc721a/test-blob-2f5be51f-8d10-c866-aab1-cd77156027d0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:35 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8DB42FF4568C617\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:35 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:35.1645207Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b6332bca-c3e1-3268-51b7-558331fc721a/test-blob-2f5be51f-8d10-c866-aab1-cd77156027d0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:35 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF4568C617\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:00:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:35.1645207Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b6332bca-c3e1-3268-51b7-558331fc721a/test-blob-0d6979b0-c5fe-1f91-0f54-f0384282b51c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-b6332bca-c3e1-3268-51b7-558331fc721a/test-blob-2f5be51f-8d10-c866-aab1-cd77156027d0",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:35 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF458598A5\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:35 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:35.3534117Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b6332bca-c3e1-3268-51b7-558331fc721a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:35 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1762214851",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
