{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-468387cc-99a6-9c8d-ed97-66df7eb1e4e1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:39 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF47F82DC0\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:39 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-468387cc-99a6-9c8d-ed97-66df7eb1e4e1/test-blob-6ce99600-791c-578c-be60-ba583b3c1c79",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:39 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "DLIc0yYl/YoV4MYmbItCavNKUOmKHZhIHzP/g31uHsawji8tBYft2pheVzyzZeszHU9k8esz7\u002B8a07PzJXkMp8H/dd1cFWVsXHZQK8ZblblIzGUuCS3bfJ9AEzHT\u002BrQfUq97s/AN1gjq\u002BJR148Movj75qlgT3p2TJPg9GwIzmGLBMNkW4OHJOvZdQxCYZZncF1Ty2k9bDHMR54/30LoGt2AytLLpEt1cMHBitpuM\u002Br9fYAStQL4SZSRmBPlS0Wk7V4ywZrHm8gV3lqne\u002BFXXhezQmG\u002B2WHaiH06Ogw3kCl4GJ18P3JQNeG7\u002BNqoUM2zOjn8MgTn6h[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-468387cc-99a6-9c8d-ed97-66df7eb1e4e1/test-blob-7e73afc8-c6f2-deae-ac59-c0d2e956694a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:39 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "9k6sFsc1BQJ3RdBVHIGmkA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF4827A625\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:39 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:00:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:39.7708837Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-468387cc-99a6-9c8d-ed97-66df7eb1e4e1/test-blob-6ce99600-791c-578c-be60-ba583b3c1c79",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-468387cc-99a6-9c8d-ed97-66df7eb1e4e1/test-blob-7e73afc8-c6f2-deae-ac59-c0d2e956694a",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:40 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:00f38699-f01e-0059-04e8-74f262000000\n",
        "Time:2023-04-22T07:00:39.9894806Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-468387cc-99a6-9c8d-ed97-66df7eb1e4e1/test-blob-6ce99600-791c-578c-be60-ba583b3c1c79",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF481D205C\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:39 GMT",
        "x-ms-blob-content-md5": "bNp5VIaanhtnrJ7lsPqSCg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:00:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:39.7019228Z"
      },
      "ResponseBody": "DLIc0yYl/YoV4MYmbItCavNKUOmKHZhIHzP/g31uHsawji8tBYft2pheVzyzZeszHU9k8esz7\u[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-468387cc-99a6-9c8d-ed97-66df7eb1e4e1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:40 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "215576155",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
