{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-afd6757d-f10b-85e1-53b3-992244b06c36?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:28 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE249F0FD1EA\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:43:29 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-afd6757d-f10b-85e1-53b3-992244b06c36/test-blob-021c1751-be6c-d5b4-ecc1-be46dae832e9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:28 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "0l6KtoE/RhQUNIMVdqnnI13s0DwA4oOm4xHl5kV4cjAPFQDs\u002B6Xud/k0S/rvnuSPFZnQ4o2Pl\u002B/b5NNwWl/PnMJSBWGp\u002Bii3/VlDzJaItkQtVtGrp5Cif30QERfRfh2ZZK84nZiD5RpxGeQ0S8tZUy6OQgOOI/QxsIbjmekR5X87qWfnTxmrqnG2Oo6sbjOytr7pQjsaCkC6BuwSn0sxXzNk\u002BKFjcQMU4piS2OlmhUFSMOIrKKNEIZ8mLUksmQolhdpbR3WRT0W71F\u002BihzJXU4GrwG9pBTeQINYCPUO56EmObFIOCz3MwOGdcFNDoZlsz9rHgdmbvH\u002Bjyy[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-afd6757d-f10b-85e1-53b3-992244b06c36/test-blob-021c1751-be6c-d5b4-ecc1-be46dae832e9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:28 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "wxFVfDRAnmwBiu6MevA\u002BCA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE249F1A292C\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:43:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 22:43:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:43:29.5827244Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-afd6757d-f10b-85e1-53b3-992244b06c36/test-blob-b29f4319-dbec-d803-4436-e1f867d78a6f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-afd6757d-f10b-85e1-53b3-992244b06c36/test-blob-021c1751-be6c-d5b4-ecc1-be46dae832e9",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:28 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE249F328FA2\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:43:29 GMT",
        "x-ms-content-crc64": "564wM6BiL4M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:43:29.7426338Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-afd6757d-f10b-85e1-53b3-992244b06c36/test-blob-b29f4319-dbec-d803-4436-e1f867d78a6f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:28 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE249F328FA2\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:43:29 GMT",
        "x-ms-blob-content-md5": "wxFVfDRAnmwBiu6MevA\u002BCA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 22:43:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:43:29.7426338Z"
      },
      "ResponseBody": "0l6KtoE/RhQUNIMVdqnnI13s0DwA4oOm4xHl5kV4cjAPFQDs\u002B6Xud/k0S/rvnuSPF[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-afd6757d-f10b-85e1-53b3-992244b06c36?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:28 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "646170492",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
