{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be215ffa-66c2-758c-c382-0352aa02eef4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:25 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE249DA0E7A2\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:43:27 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be215ffa-66c2-758c-c382-0352aa02eef4/test-blob-9c54be45-8290-3df2-00d5-71f48c83af30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:25 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "jrT9rMCpu2BMdfHDWASv6G4RpA3vJZpLej2vruqOwSH0Chhp7FGYg7fPzBQ1rPi1XCQ9HKlcmmkasTGD\u002Bgx1vrPPz07rRvsdeCBVIFiFFs1E\u002BVLGUaR3mG\u002BvTjsfFYiqWg5gZt2qyRUoH6SJBnoQlJtkPwG6rmwOVzffPPfA/mKYqsVKJbDwmS88njEA7pH1n7qgutaG8KuhUQ\u002Bmy40eaCFC8Fu0xW/rdKXRfRA7Dmil6p09IEOLEboaqdOgSc6iHjUPvf42QNlKtUYxtXOaZUOnAeDw4Ujett6hmhucSirWL17aLFBpbqnD8mr8WlxGf0SP\u002BUjtsj3tMQcflaa[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be215ffa-66c2-758c-c382-0352aa02eef4/test-blob-9c54be45-8290-3df2-00d5-71f48c83af30",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:25 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "8lkyQXydYTZd6XXSjbuTRA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE249DAEC097\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:43:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 22:43:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:43:27.2010903Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be215ffa-66c2-758c-c382-0352aa02eef4/test-blob-d3f1e901-dada-4246-0951-b45963181399",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-be215ffa-66c2-758c-c382-0352aa02eef4/test-blob-9c54be45-8290-3df2-00d5-71f48c83af30",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:25 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE249DC308E6\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:43:27 GMT",
        "x-ms-content-crc64": "sv8TLRvRfyE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:43:27.3340134Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be215ffa-66c2-758c-c382-0352aa02eef4/test-blob-d3f1e901-dada-4246-0951-b45963181399",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE249DC308E6\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:43:27 GMT",
        "x-ms-blob-content-md5": "8lkyQXydYTZd6XXSjbuTRA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 22:43:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:43:27.3340134Z"
      },
      "ResponseBody": "jrT9rMCpu2BMdfHDWASv6G4RpA3vJZpLej2vruqOwSH0Chhp7FGYg7fPzBQ1rPi1XCQ9HKlcmmk[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be215ffa-66c2-758c-c382-0352aa02eef4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:43:25 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "383943132",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
