{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3877ab5e-7964-ddc4-fb2d-cc6baa3e29f2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:38 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF472BD3B9\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:38 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3877ab5e-7964-ddc4-fb2d-cc6baa3e29f2/test-blob-6f61d8e6-4349-0df3-8500-37496bd85e74",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:38 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "4AXeEanEXuUKfw\u002By3lEeqzzW6hxwKUHm4n1CFN7KW1QospTpyjzU9EICtxLEZhPgaehoLar9p7fE9y4rgUoHQCS7iiu9NeEAAfbabXEuInxpYqr1Yi2pKgvcJdINqXP4\u002B3fuCdvoIzQHZyy0IzpFldWxwh\u002BfEd32EV8g4BAO8liC4XH5QBmggD927voB9QfQl4/8XOZUWOmZ9/d8yEIk\u002BHXTMUHIS1S8EEHgKCLi9BxXT0mAEZZxLoiHX0ghJLj8UvWFLcPFCEs7QEulczDHtwPaJHn4o\u002BbfYgK4QOwLmuyI49YsXcZYkkb\u002BRdFKy7tYwKhFR/8\u002BA[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3877ab5e-7964-ddc4-fb2d-cc6baa3e29f2/test-blob-6f61d8e6-4349-0df3-8500-37496bd85e74",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:38 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "hM14g4Vb0x\u002BATsNcZP2xhw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF47383921\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:38 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:00:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:38.2017825Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3877ab5e-7964-ddc4-fb2d-cc6baa3e29f2/test-blob-77a97dea-3c52-fd30-7578-06cf79d455bb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-3877ab5e-7964-ddc4-fb2d-cc6baa3e29f2/test-blob-6f61d8e6-4349-0df3-8500-37496bd85e74",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:38 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF475162C2\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:38 GMT",
        "x-ms-content-crc64": "gLoOZbTmlGk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:38.3666882Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3877ab5e-7964-ddc4-fb2d-cc6baa3e29f2/test-blob-77a97dea-3c52-fd30-7578-06cf79d455bb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:38 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF475162C2\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:38 GMT",
        "x-ms-blob-content-md5": "hM14g4Vb0x\u002BATsNcZP2xhw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:00:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:38.3666882Z"
      },
      "ResponseBody": "4AXeEanEXuUKfw\u002By3lEeqzzW6hxwKUHm4n1CFN7KW1QospTpyjzU9EICtxLEZhPga[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3877ab5e-7964-ddc4-fb2d-cc6baa3e29f2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:38 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1772910276",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
