{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b3ecc5ca-3a90-79fa-0012-304e663b874c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:39 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB31C4C5243C\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:00:39 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b3ecc5ca-3a90-79fa-0012-304e663b874c/test-blob-56a3199c-8292-2620-b1aa-0487ca79436d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:39 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "O6DkG\u002B/aFAhUVdI4WmLMY9dx9GSb3Q\u002BYsLZTQY4pX3NXtEwplSd\u002BBXa7nGkwMJOghJAfVUnvtF2RS2s4h9J6K/Ve4KUWos6w8u7t30GlaIAjsr39CgoqaADumEm8RX6jQXBz0U/tiuHCbmJaAdQc6\u002BPrFdQVfCDrNHikJwqE861wSp7QMpYwNSjbO5uo0GYr0qxm0S\u002BpjcRQiJ3XSWLWPXq16bc1S7lMu\u002BCrOUCFQmMReFVdHiJ9x7zZgKn5WOzGBf4g8\u002Bav9obzGhZP/VOEykU5xtANeR5YNyL6XMsQUmLz5TRCZU98YYLOagQMLcloVbVjv5Icu[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b3ecc5ca-3a90-79fa-0012-304e663b874c/test-blob-56a3199c-8292-2620-b1aa-0487ca79436d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:39 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "I17qReJQhMYMu3YCE75TCw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB31C4D5DAC4\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:00:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:00:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:00:40.0665284Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b3ecc5ca-3a90-79fa-0012-304e663b874c/test-blob-f0c38ae0-03bf-ed69-0350-f4f7c63d534f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-b3ecc5ca-3a90-79fa-0012-304e663b874c/test-blob-56a3199c-8292-2620-b1aa-0487ca79436d",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:39 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB31C4F0159A\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:00:40 GMT",
        "x-ms-content-crc64": "vWvHINmXvjM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:00:40.2384282Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b3ecc5ca-3a90-79fa-0012-304e663b874c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:39 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "491848741",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
