{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-027028b3-4c8f-804f-2fdd-7436f88e4c63?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 28 Apr 2023 19:37:05 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB481FF31FD6DD\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:37:06 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-027028b3-4c8f-804f-2fdd-7436f88e4c63/test-blob-d8fd292c-1ed0-c317-01c8-954ef2d13811",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 28 Apr 2023 19:37:05 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "066oVFrYocOtwZI0gckzhmLij/ca2wWA4TDX4eAjCcrexzQZX92IU4c6Kg\u002BM4kE3lQ7rD0FB9/epKHMqAMDiibjHVrmVGieFWjxv37H28/7un0zROPmInNA8bzZpXlLHV6BWxIyIonrnZrUF0RdGszR1O2BzEVG\u002BP7npWKrwG/zpp4cQny5xZv3R6tJDgsq49rwC9CLyVEZPmIXSnkrP9kq5HCqPNRQGA9VjoiZ/erzvMWHu7ifZ91NBwQapn8eyAfSHimagKMGo\u002B/BMjrIgzx3I423o4Qgj3yXWTnMNXWQOsKAy9/BWTgigRvI2jWihIfHo4LtayiDsZKpBydpNmp6MPt0R7[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-027028b3-4c8f-804f-2fdd-7436f88e4c63/test-blob-d9f3f89f-75a9-fc72-9b17-d807c70732e2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:37:05 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "7gsJUWeszRhwucwN0ODV2Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB481FF339D122\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:37:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 28 Apr 2023 19:37:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-28T19:37:06.4895778Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-027028b3-4c8f-804f-2fdd-7436f88e4c63/test-blob-d8fd292c-1ed0-c317-01c8-954ef2d13811",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-027028b3-4c8f-804f-2fdd-7436f88e4c63/test-blob-d9f3f89f-75a9-fc72-9b17-d807c70732e2",
        "x-ms-date": "Fri, 28 Apr 2023 19:37:05 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:0a0496c5-901e-002d-0e08-7ac692000000\n",
        "Time:2023-04-28T19:37:06.6531410Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-027028b3-4c8f-804f-2fdd-7436f88e4c63?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:37:06 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1502064813",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
