{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-72e4901c-0a05-b510-f6c4-30c3d22a3357?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB31C1D59D36\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:00:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-72e4901c-0a05-b510-f6c4-30c3d22a3357/test-blob-cf85dd73-2aac-b9ee-82e0-acd2e54274dd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "uH1aY5PsjbtcB9JFgyLVXxY7Qu7q8z6Vq7CO0x/Db8DArhpn6BFKHGghKmIL7FIeA6oUDX8xFMU\u002BxbfjXrqcmZcShdUIbXcF8SaFycjcib5db890rmFAjplVKSJZZ76thJHK\u002BWd9FZYzDxxZrEr8Yjz5he7rJ\u002Bo10fY7skNUq4po10Q3EZBX4Fo4QZ9F5uFPWMbmYOHPwl2mlSdwQmJS3mOS8dQGxVGroaSUs\u002BZL8OoU7Fp8bkuomBXnkHto5p735WM8s/UMSJN1Or49Ow93W6U9W1YI1XAY6Vi/HjTVQ7oGnM2DDjz0CKPGBzOMa1wGcDXWKotI7hDzJMmcTSpeoPYE[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-72e4901c-0a05-b510-f6c4-30c3d22a3357/test-blob-cf85dd73-2aac-b9ee-82e0-acd2e54274dd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "YqsSBqWiT8VCHVnXA3KIMA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB31C23C8049\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:00:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:00:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:00:35.7070681Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-72e4901c-0a05-b510-f6c4-30c3d22a3357/test-blob-cf85dd73-2aac-b9ee-82e0-acd2e54274dd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-72e4901c-0a05-b510-f6c4-30c3d22a3357/test-blob-cf85dd73-2aac-b9ee-82e0-acd2e54274dd",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:55cc4d2b-e01e-0008-781a-2d6fee000000\n",
        "Time:2023-01-20T22:00:35.9252812Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-72e4901c-0a05-b510-f6c4-30c3d22a3357?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1831549436",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
