{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-451dae33-e97e-be20-4768-1baaae5d7451?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 09 Jun 2023 19:16:10 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB691DFBCB652D\u0022",
        "Last-Modified": "Fri, 09 Jun 2023 19:16:10 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-451dae33-e97e-be20-4768-1baaae5d7451/test-blob-0b63a356-5e78-fa1b-bde4-1a00154aec3f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 09 Jun 2023 19:16:10 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "9NN/L6PKUWeSKwWRRSaCgcdL7dlViMmlx8V\u002B/g0LTEzWKAxCy72cxwB8bgysSVll989IYYI0m2sK2WfeTFNah964uxwaP7YJrybZ2Bq9\u002BX5rGQY9wurKooygOPFWvXutIuct8448S7cZP7JcWsNRTeDpczNMHcXz7hiPeQfEs/KqLLYzjwXvL81OJII4bUjJT\u002BsQbEpIYAQiOQV1rNKwVIu/si0MHr3b\u002BUNl/vhCu4DQxSocs0eoYcyxEVYAeoL7ns/3eLsavTEtNXMG42IM332EpOaok6FEF1BhWgxn2n7AamApS0LFtgj47n7ToX5qpTHYfNWcUwousmBquGIkxlr0[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-451dae33-e97e-be20-4768-1baaae5d7451/test-blob-0b63a356-5e78-fa1b-bde4-1a00154aec3f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Jun 2023 19:16:10 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1IdUUEejNL2i\u002BmAMQ9K02g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB691DFBD3363C\u0022",
        "Last-Modified": "Fri, 09 Jun 2023 19:16:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 09 Jun 2023 19:16:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 09 Jun 2023 19:16:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-09T19:16:10.2948412Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-451dae33-e97e-be20-4768-1baaae5d7451/test-blob-00e45192-b137-9edb-8c7a-5110ad700df1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-451dae33-e97e-be20-4768-1baaae5d7451/test-blob-0b63a356-5e78-fa1b-bde4-1a00154aec3f",
        "x-ms-date": "Fri, 09 Jun 2023 19:16:10 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB691DFBFB78E3\u0022",
        "Last-Modified": "Fri, 09 Jun 2023 19:16:10 GMT",
        "x-ms-content-crc64": "iQXmbF\u002BNqg8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-09T19:16:10.5596909Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-451dae33-e97e-be20-4768-1baaae5d7451?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Jun 2023 19:16:10 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "847287847",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
