{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bd59d535-215a-38e4-637c-e91699ce40d1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:55 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF517D8274\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:55 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bd59d535-215a-38e4-637c-e91699ce40d1/test-blob-ba986830-9e88-a57b-0d23-de725d5e2e37",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:55 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "zMFWoZNl0ulZrCuasieDK\u002BMG9UENVoUoVUYfHVf7Upe\u002Bm6abCIyj972ka9HbeJ905xucTIAjNXY8LUtNRrSSXlqT2xaB6CNWYv6Eaeu0TdymqzY8XgYXm2YvXtpAVrEIEg12R5yJ8//3RemCn8uLiOBuppp9Vf9UfECwUYlIFQxNe1fePQU/Hbg3RBgclPyapNb60bAWi7wNIspc2KF1rzDdNSN0rUvaL4jiRRHmN\u002BhEFq2yTkNbNvCb0Bo740UWwZXoPl/YJveLIKInM0WrJ\u002BviGML0w2Dsgf4z2dwxn0tDzIR7/fmJa\u002B\u002B2Jy6hNAOr76kvWMuCIv40/L[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bd59d535-215a-38e4-637c-e91699ce40d1/test-blob-ba986830-9e88-a57b-0d23-de725d5e2e37",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "J7nwSlizl9F0ncf\u002BFc2k1Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF51D1AA7B\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:00:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:55.9856011Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bd59d535-215a-38e4-637c-e91699ce40d1/test-blob-ba986830-9e88-a57b-0d23-de725d5e2e37",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-bd59d535-215a-38e4-637c-e91699ce40d1/test-blob-ba986830-9e88-a57b-0d23-de725d5e2e37",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:131b58dc-f01e-0076-01e8-74ffa9000000\n",
        "Time:2023-04-22T07:00:56.1586632Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bd59d535-215a-38e4-637c-e91699ce40d1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1080009366",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
