{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-91737350-5ebc-36d8-78b7-296951e83a24?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB31C67A35F6\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:00:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-91737350-5ebc-36d8-78b7-296951e83a24/test-blob-aaf25146-d1c6-9d91-e271-677d0b2d7a37",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "m79jak5c3uHzVgTlKeetbU1hHN5Q1p/zhD7/lvcsgh7TReFMyQ/oVKbV2J1P54rDgmwXuae/0cUgcOYPXEfqx9TmEeQFYKQ\u002BeMc4e/0BpJyzOxOLFMh2FHMbLFkp2Phe6hDJadamviLI2EHghlbIHsxJWyAzX7ILb/1x6TRKFZ/P2pDsNzvGDX3xwjuHlo0cUw2N4HzXKotdvvnZNdXtfcOhEazF2\u002BaRgk6jQpx2g9hvVJUnvTQi968EjnlB7deoA0R45oXgVngm\u002B10uNOjv5zogaeE/xsCOfhn9wUxtT5V2\u002Bz5X/p1Tj/0cAMHX9MLGFac/IIT2aDyE6Whr45UruazI[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-91737350-5ebc-36d8-78b7-296951e83a24/test-blob-aaf25146-d1c6-9d91-e271-677d0b2d7a37",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "bDYhr2bt1xzoYVwQ7t32Rw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB31C6854633\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:00:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:00:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:00:42.8938803Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-91737350-5ebc-36d8-78b7-296951e83a24/test-blob-ccb684b0-53f4-b3cc-aa30-da651ac39e22",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-91737350-5ebc-36d8-78b7-296951e83a24/test-blob-aaf25146-d1c6-9d91-e271-677d0b2d7a37",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB31C6A23FC7\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:00:43 GMT",
        "x-ms-content-crc64": "ABCF899XePg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:00:43.0837703Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-91737350-5ebc-36d8-78b7-296951e83a24?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "979920268",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
