{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-acaf3761-7b29-8fc1-7b77-253c8f265859?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:40 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB31C5CD6D3B\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:00:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-acaf3761-7b29-8fc1-7b77-253c8f265859/test-blob-bb59560d-cb12-10d2-588b-fbdd2dae3d19",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "G7IF/AhD/DAW7Lq0KakgOcBTdaCWinLHPeOCxMucLGYeIcJ6qEERNBkQjz2LY02PLcZ1kHzMQpBAPr4lwThker9TlgfnpZF/QkGHhvs0O9qW85YFJpzqUt4xOmqC7HLgqxR\u002BOM1Fp4g19k06RLuUCwPjj82hXlQiaUMotWon/FbOp9vntQMNUEwO0DBOrw4jnC5mn12kP0zAW86JHPEdDfn3a53grVYA1j6Bko4j07k1BRk7wF34KWeOJlo0gzNa8cI3V0RxQu/YZsgeI6y\u002BnIcVUxfY4U2c/kE1Uob8y1ILJ6HL7Hx1xMMpY1mU2ga70IrSHzAcghB1m1gCPPBo3Jt1E/sK8rALn4[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-acaf3761-7b29-8fc1-7b77-253c8f265859/test-blob-bb59560d-cb12-10d2-588b-fbdd2dae3d19",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "aRN93TL5S1l4/JcysnPxrg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB31C5F0BD7D\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:00:41 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:00:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:00:41.9214477Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-acaf3761-7b29-8fc1-7b77-253c8f265859/test-blob-bb59560d-cb12-10d2-588b-fbdd2dae3d19",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-acaf3761-7b29-8fc1-7b77-253c8f265859/test-blob-bb59560d-cb12-10d2-588b-fbdd2dae3d19",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:55cc5e37-e01e-0008-791a-2d6fee000000\n",
        "Time:2023-01-20T22:00:42.1037818Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-acaf3761-7b29-8fc1-7b77-253c8f265859?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "44423873",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
