{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-012bbd02-7b54-2829-4f0d-0f9ee6bffb2a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF5201E183\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-012bbd02-7b54-2829-4f0d-0f9ee6bffb2a/test-blob-ea34bbf9-f627-c164-1ab6-1b9eee03fe6b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "Xo0tbq9m\u002BxpjcPe55GkcLT/QFAhkOHIOAeQewVYcvEY2Jz9g1o\u002B7VPBzuxzyAGtiSXIIM793jyYaHm3LSDrDRrSxg7wqu1avFb8Y8HxWHAF4u3jkFIiGvpgZRbgi8Au2r3VoQX2uOI0bWB7/X56pxAFsUozC3zIrKsQkEHWejSW0YkEH7dqEyoPqyLtqh175b4G2tp1/89BCPRe4iScYfcv5S/1dotYm54cI1xZ3waNlK6H059eHNG5xxbDDy0Bc0krvcDthm82qkM4Vdhy5y3tzUl6GI5b0cRaO7N0lYhxHrAXMh1BnBI/USVcIcb5St/o0UHjh1a6z\u002B/8k0q/whC2xzskW7[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-012bbd02-7b54-2829-4f0d-0f9ee6bffb2a/test-blob-ea34bbf9-f627-c164-1ab6-1b9eee03fe6b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "0ZYSxUNfk3hrS/U/L0gutA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF52156051\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:00:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:00:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T07:00:56.4293473Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-012bbd02-7b54-2829-4f0d-0f9ee6bffb2a/test-blob-ea34bbf9-f627-c164-1ab6-1b9eee03fe6b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-012bbd02-7b54-2829-4f0d-0f9ee6bffb2a/test-blob-ea34bbf9-f627-c164-1ab6-1b9eee03fe6b",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:131b597b-f01e-0076-0ee8-74ffa9000000\n",
        "Time:2023-04-22T07:00:56.5934159Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-012bbd02-7b54-2829-4f0d-0f9ee6bffb2a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 07:00:57 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "433805824",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
