{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1aaeb8ab-288c-8d4e-3bca-5bc35d0c2304?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 28 Apr 2023 19:37:05 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB481FF2BFEA84\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:37:05 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1aaeb8ab-288c-8d4e-3bca-5bc35d0c2304/test-blob-c82374a0-3061-ad4a-01ca-56469e4bb875",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 28 Apr 2023 19:37:05 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "JVY4Xl2Wy1D0LuQPpcMYz6GSvdYJlr8kVDCSUfhZ3MLxAuJaiDGgCqnT0zNMOgg\u002BsYakDI7ia46XFAosA3lYm1EhHqLhvkdv8bMsNsOM2BkoVJ9xtNA0D5ZTw3QncwYvejjhKhxlXfM\u002BNRrbtTXLCjvwBK/Z5ueB7A8MjfrTR32s/buKq639w/esMn61WVlhh7g4N29XVZNRXz0MWc/4a\u002B6dLrh6QF\u002BO80C4LbRozJO1qgVCmhAOVKcnOUtv8Gons8eQGCqh50ZYqkMunyjf6JOpV67JttDdjtoRUgcTHgPWkHns17NpFMO\u002B6fDM37V/R1C4xZi7Xf32solQj5Q[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1aaeb8ab-288c-8d4e-3bca-5bc35d0c2304/test-blob-94de9e55-4e1b-7b9f-0eaa-7807b1c090fe",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:37:05 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "k1PXgnrXlyHC0mmKo5caWQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB481FF2D9218D\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:37:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 28 Apr 2023 19:37:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-28T19:37:05.8559373Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1aaeb8ab-288c-8d4e-3bca-5bc35d0c2304/test-blob-c82374a0-3061-ad4a-01ca-56469e4bb875",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-1aaeb8ab-288c-8d4e-3bca-5bc35d0c2304/test-blob-94de9e55-4e1b-7b9f-0eaa-7807b1c090fe",
        "x-ms-date": "Fri, 28 Apr 2023 19:37:05 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:0a049524-901e-002d-2708-7ac692000000\n",
        "Time:2023-04-28T19:37:06.0744712Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1aaeb8ab-288c-8d4e-3bca-5bc35d0c2304?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:37:05 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "621062557",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
