{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e5ade92b-d2e2-373c-ce67-dd905211da34?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:55 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB481FED2A110D\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:36:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e5ade92b-d2e2-373c-ce67-dd905211da34/test-blob-0dec0da3-49f5-a936-31a4-e5668ff0104e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:55 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "iG0or\u002BDMlo\u002BsYHqZ/In9WNRfPSq81izZocPGlS4xKyZToO7UyAGg13ZcYJTPna2np4ySMLPmkbFBTw0cBQFhezVTRVyaKI/SvmWzYHWYCQQWHu2hn/tzbQ48k3n0hNJ1\u002B\u002BVee1dQDX79wHJNMjE7qEUJBecTv9w54NhNXZQW3TmTPmSQOY2sxRFvpN6JJTrcAes06n7qYjwIJZt/Aq/q5\u002BI4uvTMq263XT/WpBr9sLuecFyp4fO7qNwohxTyLcNhhL38UWpFEFV8fY0\u002BFL0hC3Tg4JFSQAXufREYpCNaxC98dB9cAV9QWGAGLWRmfJQeBnyfEUwxD0S4Dd[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e5ade92b-d2e2-373c-ce67-dd905211da34/test-blob-f76dd722-1439-bb97-1764-ee7642f1b080",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:55 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "yh1nEhSw2bZ7SLLIY\u002BP0tA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB481FED3EB3D1\u0022",
        "Last-Modified": "Fri, 28 Apr 2023 19:36:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 28 Apr 2023 19:36:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-28T19:36:56.4562653Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e5ade92b-d2e2-373c-ce67-dd905211da34/test-blob-0dec0da3-49f5-a936-31a4-e5668ff0104e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-e5ade92b-d2e2-373c-ce67-dd905211da34/test-blob-f76dd722-1439-bb97-1764-ee7642f1b080",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:0a0480db-901e-002d-3308-7ac692000000\n",
        "Time:2023-04-28T19:36:56.9096912Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e5ade92b-d2e2-373c-ce67-dd905211da34?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Apr 2023 19:36:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "579033461",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
