{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.workspace.discovery.azure.com/conversations?api-version=2026-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "projectName": "Sanitized",
        "investigationName": "/projects/test-project/investigations/test-invst"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "Sanitized",
        "x-ms-build-version": "1"
      },
      "ResponseBody": {
        "name": "238dcafe-43c3-450d-ac2f-28e42d88006b",
        "displayName": null,
        "investigationName": "projects/test-project/investigations/test-invst",
        "projectName": "Sanitized",
        "createdAt": "2026-05-12T00:57:27.777483Z",
        "createdBy": "Sanitized",
        "createdByType": "User",
        "lastModifiedAt": "2026-05-12T00:57:27.777483Z",
        "lastModifiedBy": "Sanitized",
        "lastModifiedByType": "User"
      }
    },
    {
      "RequestUri": "https://Sanitized.workspace.discovery.azure.com/conversations?api-version=2026-02-01-preview&projectName=test-project",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "Sanitized",
        "x-ms-build-version": "1"
      },
      "ResponseBody": "[{\[...]
    {
      "RequestUri": "https://Sanitized.workspace.discovery.azure.com/conversations/238dcafe-43c3-450d-ac2f-28e42d88006b?api-version=2026-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "Sanitized",
        "x-ms-build-version": "1"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_DISCOVERY_INVESTIGATION_NAME": "test-invst",
    "AZURE_DISCOVERY_PROJECT_NAME": "test-project",
    "AZURE_DISCOVERY_WORKSPACE_ENDPOINT": "https://Sanitized.workspace.discovery.azure.com",
    "RandomSeed": "1746110480"
  }
}
