{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.workspace.discovery.azure.com/conversations?api-version=2026-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "projectName": "Sanitized",
        "investigationName": "/projects/test-project/investigations/test-invst"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "Sanitized",
        "x-ms-build-version": "1"
      },
      "ResponseBody": {
        "name": "5dda3b73-4b76-403f-bfd0-806a4fd40e5e",
        "displayName": null,
        "investigationName": "projects/test-project/investigations/test-invst",
        "projectName": "Sanitized",
        "createdAt": "2026-05-12T00:58:20.7571886Z",
        "createdBy": "Sanitized",
        "createdByType": "User",
        "lastModifiedAt": "2026-05-12T00:58:20.7571886Z",
        "lastModifiedBy": "Sanitized",
        "lastModifiedByType": "User"
      }
    },
    {
      "RequestUri": "https://Sanitized.workspace.discovery.azure.com/conversations/5dda3b73-4b76-403f-bfd0-806a4fd40e5e?api-version=2026-02-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "displayName": "Updated conversation"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "Sanitized",
        "x-ms-build-version": "1"
      },
      "ResponseBody": {
        "name": "5dda3b73-4b76-403f-bfd0-806a4fd40e5e",
        "displayName": "Updated conversation",
        "investigationName": "projects/test-project/investigations/test-invst",
        "projectName": "Sanitized",
        "createdAt": "2026-05-12T00:58:20.7571886Z",
        "createdBy": "Sanitized",
        "createdByType": "User",
        "lastModifiedAt": "2026-05-12T00:58:23.7140128Z",
        "lastModifiedBy": "Sanitized",
        "lastModifiedByType": "User"
      }
    },
    {
      "RequestUri": "https://Sanitized.workspace.discovery.azure.com/conversations/5dda3b73-4b76-403f-bfd0-806a4fd40e5e?api-version=2026-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "Sanitized",
        "x-ms-build-version": "1"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_DISCOVERY_INVESTIGATION_NAME": "test-invst",
    "AZURE_DISCOVERY_PROJECT_NAME": "test-project",
    "AZURE_DISCOVERY_WORKSPACE_ENDPOINT": "https://Sanitized.workspace.discovery.azure.com",
    "RandomSeed": "644380458"
  }
}
