{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Communication-RG-8185?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8185",
        "name": "Communication-RG-8185",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8185/providers/Microsoft.Communication/communicationServices/communication-service-4341?api-version=2021-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/79770ee0-e5d5-4a22-9567-a8f09766505b*642807B8A4AF7D700CAE83E536E2D7ED4DEA91E62E36F16200E2531A6EBC7834?api-version=2021-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221f00a98a-0000-0100-0000-629de6860000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8185/providers/Microsoft.Communication/communicationServices/communication-service-4341",
        "name": "communication-service-4341",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-06-06T11:35:32.2784364Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-06-06T11:35:32.2784364Z"
        },
        "properties": {
          "dataLocation": "UnitedStates",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/79770ee0-e5d5-4a22-9567-a8f09766505b*642807B8A4AF7D700CAE83E536E2D7ED4DEA91E62E36F16200E2531A6EBC7834?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223d00bc05-0000-0800-0000-629de6860000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/79770ee0-e5d5-4a22-9567-a8f09766505b*642807B8A4AF7D700CAE83E536E2D7ED4DEA91E62E36F16200E2531A6EBC7834",
        "name": "79770ee0-e5d5-4a22-9567-a8f09766505b*642807B8A4AF7D700CAE83E536E2D7ED4DEA91E62E36F16200E2531A6EBC7834",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8185/providers/Microsoft.Communication/communicationServices/communication-service-4341",
        "status": "Accepted",
        "startTime": "2022-06-06T11:35:33.9504392Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8185/providers/Microsoft.Communication/communicationServices/communication-service-4341/providers/Microsoft.Resources/tags/default?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8185/providers/Microsoft.Communication/CommunicationServices/communication-service-4341/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {}
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8185/providers/Microsoft.Communication/communicationServices/communication-service-4341/providers/Microsoft.Resources/tags/default?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "testkey": "testvalue"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8185/providers/Microsoft.Communication/CommunicationServices/communication-service-4341/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {
            "testkey": "testvalue"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8185/providers/Microsoft.Communication/communicationServices?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8185/providers/Microsoft.Communication/communicationServices/communication-service-4341",
            "name": "communication-service-4341",
            "type": "microsoft.communication/communicationservices",
            "location": "global",
            "tags": {
              "testkey": "testvalue"
            },
            "systemData": {
              "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "createdByType": "Application",
              "createdAt": "2022-06-06T11:35:32.2784364Z",
              "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-06-06T11:37:17.3569218Z"
            },
            "properties": {
              "hostName": "communication-service-4341.communication.azure.com",
              "immutableResourceId": "c6bdd41b-a9b4-4f77-ac7c-ad9220d9bf37",
              "dataLocation": "UnitedStates",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8185/providers/Microsoft.Communication/communicationServices/communication-service-4341?api-version=2021-10-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/ca443593-b215-4e7c-a487-8be7099583ef*642807B8A4AF7D700CAE83E536E2D7ED4DEA91E62E36F16200E2531A6EBC7834?api-version=2021-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221f00e68e-0000-0100-0000-629de6f40000\u0022",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/ca443593-b215-4e7c-a487-8be7099583ef*642807B8A4AF7D700CAE83E536E2D7ED4DEA91E62E36F16200E2531A6EBC7834?api-version=2021-10-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/ca443593-b215-4e7c-a487-8be7099583ef*642807B8A4AF7D700CAE83E536E2D7ED4DEA91E62E36F16200E2531A6EBC7834?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223d008006-0000-0800-0000-629de73e0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11973"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/ca443593-b215-4e7c-a487-8be7099583ef*642807B8A4AF7D700CAE83E536E2D7ED4DEA91E62E36F16200E2531A6EBC7834",
        "name": "ca443593-b215-4e7c-a487-8be7099583ef*642807B8A4AF7D700CAE83E536E2D7ED4DEA91E62E36F16200E2531A6EBC7834",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8185/providers/Microsoft.Communication/communicationServices/communication-service-4341",
        "status": "Succeeded",
        "startTime": "2022-06-06T11:37:24.4639125Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1488876651",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
