{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourcegroups/sqlcrudtest-5874?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Japan East\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-5874\": \"2017-06-01 05:19:28Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourceGroups/sqlcrudtest-5874\",\r\n  \"name\": \"sqlcrudtest-5874\",\r\n  \"location\": \"japaneast\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-5874\": \"2017-06-01 05:19:28Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourceGroups/sqlcrudtest-5874/providers/Microsoft.Sql/servers/sqlcrudtest-7638?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"administratorLoginPassword\": \"Un53cuRE!\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"tags\": {},\r\n  \"location\": \"japaneast\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2017-06-01T05:19:30.12Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/providers/Microsoft.Sql/locations/japaneast/serverOperationResults/e96df13e-933a-432d-a4b7-424aeed6ce1a?api-version=2015-05-01-preview"
        ],
        "Retry-After": [
          "60"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/providers/Microsoft.Sql/locations/japaneast/serverAzureAsyncOperation/e96df13e-933a-432d-a4b7-424aeed6ce1a?api-version=2015-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/providers/Microsoft.Sql/locations/japaneast/serverAzureAsyncOperation/e96df13e-933a-432d-a4b7-424aeed6ce1a?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"e96df13e-933a-432d-a4b7-424aeed6ce1a\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2017-06-01T05:19:30.12Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourceGroups/sqlcrudtest-5874/providers/Microsoft.Sql/servers/sqlcrudtest-7638?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourceGroups/sqlcrudtest-5874/providers/Microsoft.Sql/servers/sqlcrudtest-7638\",\r\n  \"name\": \"sqlcrudtest-7638\",\r\n  \"type\": \"Microsoft.Sql/servers\",\r\n  \"location\": \"japaneast\",\r\n  \"kind\": \"v12.0\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"sqlcrudtest-7638.database.windows.net\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourceGroups/sqlcrudtest-5874/providers/Microsoft.Sql/servers/sqlcrudtest-7638/elasticPools/1974?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"edition\": \"Basic\",\r\n    \"dtu\": 100,\r\n    \"databaseDtuMax\": 5,\r\n    \"databaseDtuMin\": 0\r\n  },\r\n  \"tags\": {\r\n    \"tagKey1\": \"TagValue1\"\r\n  },\r\n  \"location\": \"japaneast\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CREATE\",\r\n  \"startTime\": \"2017-05-31T22:20:01.973-07:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourceGroups/sqlcrudtest-5874/providers/Microsoft.Sql/servers/sqlcrudtest-7638/elasticPools/1974/operationResults/0841775b-1555-4770-b29f-bcd8a3a24e79?api-version=2014-04-01-Preview"
        ],
        "Retry-After": [
          "30"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourceGroups/sqlcrudtest-5874/providers/Microsoft.Sql/servers/sqlcrudtest-7638/elasticPools/1974/operationResults/0841775b-1555-4770-b29f-bcd8a3a24e79?api-version=2014-04-01-Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"tags\": {\r\n    \"tagKey1\": \"TagValue1\"\r\n  },\r\n  \"id\": \"/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourceGroups/sqlcrudtest-5874/providers/Microsoft.Sql/servers/sqlcrudtest-7638/elasticPools/1974\",\r\n  \"name\": \"1974\",\r\n  \"type\": \"Microsoft.Sql/servers/elasticPools\",\r\n  \"location\": \"Japan East\",\r\n  \"kind\": null,\r\n  \"properties\": {\r\n    \"creationDate\": \"2017-06-01T05:20:02.113Z\",\r\n    \"edition\": \"Basic\",\r\n    \"state\": \"Ready\",\r\n    \"dtu\": 100,\r\n    \"databaseDtuMin\": 0,\r\n    \"databaseDtuMax\": 5,\r\n    \"storageMB\": 10000\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourceGroups/sqlcrudtest-5874/providers/Microsoft.Sql/servers/sqlcrudtest-7638/databases/6040?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"japaneast\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\":[...]
    {
      "RequestUri": "/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourceGroups/sqlcrudtest-5874/providers/Microsoft.Sql/servers/sqlcrudtest-7638/databases/6040?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"elasticPoolName\": \"1974\"\r\n  },\r\n  \"location\": \"japaneast\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"AlterDatabaseOperation\",\r\n  \"startTime\": \"2017-05-31T22:21:07.207-07:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourceGroups/sqlcrudtest-5874/providers/Microsoft.Sql/servers/sqlcrudtest-7638/databases/6040/operationResults/28d88be7-762b-47c3-9971-f3b43beb5abd?api-version=2014-04-01-Preview"
        ],
        "Retry-After": [
          "30"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourceGroups/sqlcrudtest-5874/providers/Microsoft.Sql/servers/sqlcrudtest-7638/databases/6040/azureAsyncOperation/28d88be7-762b-47c3-9971-f3b43beb5abd?api-version=2014-04-01-Preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourceGroups/sqlcrudtest-5874/providers/Microsoft.Sql/servers/sqlcrudtest-7638/databases/6040/azureAsyncOperation/97426037-283d-4f00-b57f-de58be8153e8?api-version=2014-04-01-Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"operationId\": \"97426037-283d-4f00-b57f-de58be8153e8\",\r\n  \"status\": \"Succeeded\",\r\n  \"error\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourceGroups/sqlcrudtest-5874/providers/Microsoft.Sql/servers/sqlcrudtest-7638/databases/6040/azureAsyncOperation/97426037-283d-4f00-b57f-de58be8153e8?api-version=2014-04-01-Preview"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourceGroups/sqlcrudtest-5874/providers/Microsoft.Sql/servers/sqlcrudtest-7638/databases/6040?api-version=2014-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourceGroups/sqlcrudtest-5874/providers/Microsoft.Sql/servers/sqlcrudtest-7638/databases/6040\",\r\n  \"name\": \"6040\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\",\r\n  \"location\": \"Japan East\",\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"databaseId\": \"ee482484-24c9-4db5-8de5-4e77f77c9f76\",\r\n    \"edition\": \"Standard\",\r\n    \"status\": \"Online\",\r\n    \"serviceLevelObjective\": \"S0\",\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": \"268435456000\",\r\n    \"creationDate\": \"2017-06-01T05:20:36.193Z\",\r\n    \"currentServiceObjectiveId\": \"f1173c43-91bd-4aaa-973c-54e79e15235b\",\r\n    \"requestedServiceObjectiveId\": \"f1173c43-91bd-4aaa-973c-54e79e15235b\",\r\n    \"requestedServiceObjectiveName\": \"S0\",\r\n    \"sampleName\": null,\r\n    \"defaultSecondaryLocation\": \"Japan West\",\r\n    \"earliestRestoreDate\": \"2017-06-01T05:31:01.58Z\",\r\n    \"elasticPoolName\": null,\r\n    \"containmentState\": 2,\r\n    \"readScale\": \"Disabled\",\r\n    \"failoverGroupId\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourceGroups/sqlcrudtest-5874/providers/Microsoft.Sql/servers/sqlcrudtest-7638/elasticPools/1974/elasticPoolDatabaseActivity?api-version=2014-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourceGroups/sqlcrudtest-5874/providers/Microsoft.Sql/servers/sqlcrudtest-7638/elasticPools/1974/elasticPoolDatabaseActivity/97426037-283d-4f00-b57f-de58be8153e8\",\r\n      \"name\": \"97426037-283d-4f00-b57f-de58be8153e8\",\r\n      \"type\": \"Microsoft.Sql/servers/elasticPools/elasticPoolDatabaseActivity\",\r\n      \"location\": \"Japan East\",\r\n      \"properties\": {\r\n        \"operationId\": \"97426037-283d-4f00-b57f-de58be8153e8\",\r\n        \"serverName\": \"sqlcrudtest-7638\",\r\n        \"databaseName\": \"6040\",\r\n        \"state\": \"COMPLETED\",\r\n        \"operation\": \"CREATE\",\r\n        \"errorCode\": null,\r\n        \"errorMessage\": null,\r\n        \"errorSeverity\": null,\r\n        \"startTime\": \"2017-06-01T05:20:35.913\",\r\n        \"endTime\": \"2017-06-01T05:21:01.783\",\r\n        \"percentComplete\": 100,\r\n        \"currentServiceObjective\": \"ElasticPool\",\r\n        \"requestedServiceObjective\": null,\r\n        \"currentElasticPoolName\": \"1974\",\r\n        \"requestedElasticPoolName\": null\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourceGroups/sqlcrudtest-5874/providers/Microsoft.Sql/servers/sqlcrudtest-7638/elasticPools/1974/elasticPoolDatabaseActivity/28d88be7-762b-47c3-9971-f3b43beb5abd\",\r\n      \"name\": \"28d88be7-762b-47c3-9971-f3b43beb5abd\",\r\n      \"type\": \"Microsoft.Sql/servers/elasticPools/elasticPoolDatabaseActivity\",\r\n      \"location\": \"Japan East\",\r\n      \"properties\": {\r\n        \[...]
    {
      "RequestUri": "/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/resourcegroups/sqlcrudtest-5874?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUxDUlVEVEVTVDoyRDU4NzQtSkFQQU5FQVNUIiwiam9iTG9jYXRpb24iOiJqYXBhbmVhc3QifQ?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {
    "RunTestInNewResourceGroup": [
      "sqlcrudtest-5874"
    ],
    "CreateServer": [
      "sqlcrudtest-7638"
    ],
    "TestListElasticPoolDatabaseActivity": [
      "1974",
      "6040"
    ]
  },
  "Variables": {
    "SubscriptionId": "f28872d6-4a93-4bb1-84b9-aecb02b6af4c"
  }
}