{
  "Entries": [
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/providers/Microsoft.Compute/locations/SoutheastAsia/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2012-R2-Datacenter/versions?$top=1&api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"southeastasia\",\r\n    \"name\": \"4.127.20170406\",\r\n    \"id\": \"/Subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/Providers/Microsoft.Compute/Locations/southeastasia/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2012-R2-Datacenter/Versions/4.127.20170406\"\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14930"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourcegroups/crptestar29001?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"crptestar29001\": \"2017-12-15 19:54:12Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001\",\r\n  \"name\": \"crptestar29001\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"crptestar29001\": \"2017-12-15 19:54:12Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Storage/storageAccounts/crptestar8349?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"SoutheastAsia\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Retry-After": [
          "17"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/1399b26f-89f9-4800-9200-f0fb3dd22a15?monitor=true&api-version=2015-06-15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/1399b26f-89f9-4800-9200-f0fb3dd22a15?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"location\": \"SoutheastAsia\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14938"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Storage/storageAccounts?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Storage/storageAccounts/crptestar8349\",\r\n      \"name\": \"crptestar8349\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"location\": \"southeastasia\",\r\n      \"properties\": {\r\n        \"accountType\": \"Standard_GRS\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"creationTime\": \"2017-12-15T19:54:18.1730908Z\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://crptestar8349.blob.core.windows.net/\",\r\n          \"queue\": \"https://crptestar8349.queue.core.windows.net/\",\r\n          \"table\": \"https://crptestar8349.table.core.windows.net/\",\r\n          \"file\": \"https://crptestar8349.file.core.windows.net/\"\r\n        },\r\n        \"primaryLocation\": \"southeastasia\",\r\n        \"statusOfPrimary\": \"available\",\r\n        \"secondaryLocation\": \"eastasia\",\r\n        \"statusOfSecondary\": \"unavailable\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14937"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Network/publicIPAddresses/pip4986?api-version=2017-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn6438\"\r\n    }\r\n  },\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip4986\",\r\n  \"id\": \"/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Network/publicIPAddresses/pip4986\",\r\n  \"etag\": \"W/\\\"0c281399-b5ce-4770-a738-55969710a117\\\"\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"8337df5f-240a-44e1-9063-c82ec0e50510\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn6438\",\r\n      \"fqdn\": \"dn6438.southeastasia.cloudapp.azure.com\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/providers/Microsoft.Network/locations/southeastasia/operations/9649a1dc-6f2e-456a-bf69-c7d2418eec66?api-version=2017-03-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/providers/Microsoft.Network/locations/southeastasia/operations/9649a1dc-6f2e-456a-bf69-c7d2418eec66?api-version=2017-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14961"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Network/publicIPAddresses/pip4986?api-version=2017-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"pip4986\",\r\n  \"id\": \"/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Network/publicIPAddresses/pip4986\",\r\n  \"etag\": \"W/\\\"e885bc33-ff11-47ab-8cf6-8da08694eef9\\\"\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"8337df5f-240a-44e1-9063-c82ec0e50510\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn6438\",\r\n      \"fqdn\": \"dn6438.southeastasia.cloudapp.azure.com\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"e885bc33-ff11-47ab-8cf6-8da08694eef9\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14960"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Network/virtualNetworks/vn5186?api-version=2017-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\",\r\n        \"10.1.2.4\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        },\r\n        \"name\": \"sn5826\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"SoutheastAsia\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vn5186\",\r\n  \"id\": \"/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Network/virtualNetworks/vn5186\",\r\n  \"etag\": \"W/\\\"7c034b01-9e49-4788-b48d-deedaeaa264a\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"89e3913d-e3fb-4efb-8e75-1076dc542b9d\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\",\r\n        \"10.1.2.4\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"sn5826\",\r\n        \"id\": \"/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Network/virtualNetworks/vn5186/subnets/sn5826\",\r\n        \"etag\": \"W/\\\"7c034b01-9e49-4788-b48d-deedaeaa264a\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/providers/Microsoft.Network/locations/southeastasia/operations/3b4d24ef-858b-4deb-88d4-5c27a5702b95?api-version=2017-03-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Network/virtualNetworks/vn5186/subnets/sn5826?api-version=2017-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"sn5826\",\r\n  \"id\": \"/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Network/virtualNetworks/vn5186/subnets/sn5826\",\r\n  \"etag\": \"W/\\\"8d3af246-8fec-4215-81b1-f3cefdf4c261\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"8d3af246-8fec-4215-81b1-f3cefdf4c261\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14955"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Network/networkInterfaces/nic1708?api-version=2017-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefix\": \"10.0.0.0/24\",\r\n              \"provisioningState\": \"Succeeded\"\r\n            },\r\n            \"name\": \"sn5826\",\r\n            \"etag\": \"W/\\\"8d3af246-8fec-4215-81b1-f3cefdf4c261\\\"\",\r\n            \"id\": \"/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Network/virtualNetworks/vn5186/subnets/sn5826\"\r\n          }\r\n        },\r\n        \"name\": [...]
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Network/networkInterfaces/nic1708?api-version=2017-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"nic1708\",\r\n  \"id\": \"/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Network/networkInterfaces/nic1708\",\r\n  \"etag\": \"W/\\\"7f1f2b35-4104-44b9-858d-13af5c102b87\\\"\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"8421f7f9-c283-4487-b423-4e4d6b3c2b73\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ip9671\",\r\n        \"id\": \"/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Network/networkInterfaces/nic1708/ipConfigurations/ip9671\",\r\n        \"etag\": \"W/\\\"7f1f2b35-4104-44b9-858d-13af5c102b87\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Network/virtualNetworks/vn5186/subnets/sn5826\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"hwi4hcp12p3u3dtvcb1nyvbltf.ix.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\": false\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"7f1f2b35-4104-44b9-858d-13af5c102b87\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14954"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1314?api-version=2017-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_A0\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Automatic\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"test\",\r\n        \"adminUsername\": \"Foo12\",\r\n        \"adminPassword\": \"[PLACEHOLDER@123]\",\r\n        \"customData\": \"Q3VzdG9tIGRhdGE=\"\r\n      },\r\n      \"storageProfile\": {\r\n        \"imageReference\": {\r\n          \"publisher\": \"MicrosoftWindowsServer\",\r\n          \"offer\": \"WindowsServer\",\r\n          \"sku\": \"2012-R2-Datacenter\",\r\n          \"version\": \"4.127.20170406\"\r\n        },\r\n        \"osDisk\": {\r\n          \"name\": \"test\",\r\n          \"caching\": \"None\",\r\n          \"createOption\": \"FromImage\",\r\n          \"vhdContainers\": [\r\n            \"https://crptestar8349.blob.core.windows.net/crptestar8914\"\r\n          ]\r\n        }\r\n      },\r\n      \"networkProfile\": {\r\n        \"networkInterfaceConfigurations\": [\r\n          {\r\n            \"name\": \"vmsstestnetconfig7831\",\r\n            \"properties\": {\r\n              \"primary\": true,\r\n              \"ipConfigurations\": [\r\n                {\r\n                  \"name\": \"vmsstestnetconfig7710\",\r\n                  \"properties\": {\r\n                    \"subnet\": {\r\n                      \"id\": \"/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Network/virtualNetworks/vn5186/subnets/sn5826\"\r\n                    },\r\n                    \"applicationGatewayBackendAddressPools\": []\r\n                  }\r\n                }\r\n              ]\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"overprovision\": false\r\n  },\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_A0\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Automatic\",\r\n      \"automaticOSUpgrade\": false\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"test\",\r\n        \"adminUsername\": \"Foo12\",\r\n        \"windowsConfiguration\": {\r\n          \"provisionVMAgent\": true,\r\n          \"enableAutomaticUpdates\": true\r\n        },\r\n        \"secrets\": []\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\n          \"vhdContainers\": [\r\n            \"https://crptestar8349.blob.core.windows.net/crptestar8914\"\r\n          ],\r\n          \"name\": \"test\",\r\n          \"createOption\": \"FromImage\",\r\n          \"caching\": \"None\"\r\n        },\r\n        \"imageReference\": {\r\n          \"publisher\": \"MicrosoftWindowsServer\",\r\n          \"offer\": \"WindowsServer\",\r\n          \"sku\": \"2012-R2-Datacente[...]
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/providers/Microsoft.Compute/locations/southeastasia/operations/dd839f4a-1abe-4477-8446-9db957e1fa94?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2017-12-16T01:26:10.2331189+05:30\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"dd839f4a-1abe-4477-8446-9db957e1fa94\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;2158,Microsoft.Compute/GetOperation30Min;17998"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14952"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/providers/Microsoft.Compute/locations/southeastasia/operations/dd839f4a-1abe-4477-8446-9db957e1fa94?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2017-12-16T01:26:10.2331189+05:30\",\r\n  \"endTime\": \"2017-12-16T01:39:30.8317167+05:30\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"dd839f4a-1abe-4477-8446-9db957e1fa94\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;2144,Microsoft.Compute/GetOperation30Min;17925"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14950"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1314/virtualmachines/0?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"instanceId\": \"0\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_A0\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"latestModelApplied\": true,\r\n    \"vmId\": \"4327a63f-3171-4640-bad5-9b85d238f199\",\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2012-R2-Datacenter\",\r\n        \"version\": \"4.127.20170406\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"test-os-0-6e0a54f5e3ef43a3ba503ad867fa8bff\",\r\n        \"createOption\": \"FromImage\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://crptestar8349.blob.core.windows.net/crptestar8914/test-os-0-6e0a54f5e3ef43a3ba503ad867fa8bff.vhd\"\r\n        },\r\n        \"caching\": \"None\"\r\n      }\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test000000\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": true\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1314/virtualMachines/0/networkInterfaces/vmsstestnetconfig7831\"\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets/virtualMachines\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  },\r\n  \"id\": \"/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1314/virtualMachines/0\",\r\n  \"name\": \"vmss1314_0\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetVMScaleSetVM3Min;719,Microsoft.Compute/GetVMScaleSetVM30Min;3599,Microsoft.Compute/VMScaleSetVMViews3Min;4993"
        ],
        "x-ms-request-charge": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14947"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1314/virtualmachines/0/instanceView?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"placementGroupId\": \"a2c3462b-7a95-47f6-8b34-b29d7f7b55f2\",\r\n  \"platformUpdateDomain\": 0,\r\n  \"platformFaultDomain\": 0,\r\n  \"vmAgent\": {\r\n    \"vmAgentVersion\": \"Unknown\",\r\n    \"statuses\": [\r\n      {\r\n        \"code\": \"ProvisioningState/Unavailable\",\r\n        \"level\": \"Warning\",\r\n        \"displayStatus\": \"Not Ready\",\r\n        \"message\": \"VM status blob is found but not yet populated.\",\r\n        \"time\": \"2017-12-16T01:39:43+05:30\"\r\n      }\r\n    ]\r\n  },\r\n  \"disks\": [\r\n    {\r\n      \"name\": \"test-os-0-6e0a54f5e3ef43a3ba503ad867fa8bff\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning succeeded\",\r\n          \"time\": \"2017-12-16T01:26:22.0305661+05:30\"\r\n        }\r\n      ]\r\n    }\r\n  ],\r\n  \"statuses\": [\r\n    {\r\n      \"code\": \"ProvisioningState/succeeded\",\r\n      \"level\": \"Info\",\r\n      \"displayStatus\": \"Provisioning succeeded\",\r\n      \"time\": \"2017-12-16T01:39:30.8160893+05:30\"\r\n    },\r\n    {\r\n      \"code\": \"PowerState/running\",\r\n      \"level\": \"Info\",\r\n      \"displayStatus\": \"VM running\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetVMScaleSetVM3Min;718,Microsoft.Compute/GetVMScaleSetVM30Min;3598,Microsoft.Compute/VMScaleSetVMViews3Min;4992"
        ],
        "x-ms-request-charge": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14946"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1314/virtualMachines?$filter=properties/latestModelApplied%20eq%20true&api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"instanceId\": \"0\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_A0\",\r\n    [...]
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1314/virtualMachines?$expand=instanceView&$select=instanceView&api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"instanceId\": \"0\",\r\n      \"properties\": {\r\n        \"latestModelApplied\": false,\r\n        \"instanceView\": {\r\n          \"placementGroupId\": \"a2c3462b-7a95-47f6-8b34-b29d7f7b55f2\",\r\n          \"platformUpdateDomain\": 0,\r\n          \"platformFaultDomain\": 0,\r\n          \"vmAgent\": {\r\n            \"vmAgentVersion\": \"Unknown\",\r\n            \"statuses\": [\r\n              {\r\n                \"code\": \"ProvisioningState/Unavailable\",\r\n                \"level\": \"Warning\",\r\n                \"displayStatus\": \"Not Ready\",\r\n                \"message\": \"VM status blob is[...]
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1314/virtualmachines/0/start?api-version=2017-12-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/providers/Microsoft.Compute/locations/southeastasia/operations/a19cc3cc-8c9f-4cbc-bc8f-7747f4aa8e52?api-version=2017-12-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/VMScaleSetActions3Min;239,Microsoft.Compute/VMScaleSetActions30Min;1199,Microsoft.Compute/VMScaleSetVMActions3Min;299,Microsoft.Compute/VMScaleSetVMActions30Min;1499,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1199,Microsoft.Compute/VmssQueuedVMOperations;1799"
        ],
        "x-ms-request-charge": [
          "1"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/providers/Microsoft.Compute/locations/southeastasia/operations/a19cc3cc-8c9f-4cbc-bc8f-7747f4aa8e52?monitor=true&api-version=2017-12-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/resourceGroups/crptestar29001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1314/virtualmachines/0/reimage?api-version=2017-12-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/bc6a9702-673d-4864-8238-cdf22c0054c4/providers/Microsoft.Compute/locations/southeastasia/operations/e65d84a8-e880-44ec-b2cd-f29be60e100d?api-version=2017-12-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
[...]
