{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourcegroups/dbaccount-297?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11902"
      },
      "ResponseBody": {
        "id": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-297",
        "name": "dbaccount-297",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-297/providers/Microsoft.DocumentDB/databaseAccounts/r-table-account-1120?api-version=2023-03-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "GlobalDocumentDB",
        "tags": {},
        "location": "westus",
        "properties": {
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxStalenessPrefix": 300,
            "maxIntervalInSeconds": 1000
          },
          "locations": [
            {
              "locationName": "westus",
              "isZoneRedundant": false
            }
          ],
          "databaseAccountOfferType": "Standard",
          "ipRules": [
            {
              "ipAddressOrRange": "23.43.231.120"
            }
          ],
          "isVirtualNetworkFilterEnabled": true,
          "enableAutomaticFailover": false,
          "capabilities": [
            {
              "name": "EnableTable"
            }
          ],
          "connectorOffer": "Small",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "backupPolicy": {
            "type": "Continuous"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/3639500d-45ad-4952-abe7-4ec6bff2c346?api-version=2023-03-15-preview",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-297/providers/Microsoft.DocumentDB/databaseAccounts/r-table-account-1120/operationResults/3639500d-45ad-4952-abe7-4ec6bff2c346?api-version=2023-03-15-preview",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-297/providers/Microsoft.DocumentDB/databaseAccounts/r-table-account-1120",
        "name": "r-table-account-1120",
        "location": "West US",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "GlobalDocumentDB",
        "tags": {},
        "systemData": {
          "createdAt": "2023-07-01T01:47:27.540533Z"
        },
        "properties": {
          "provisioningState": "Creating",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": true,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "Table, Sql",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "WellDefined"
          },
          "instanceId": "2709ef1e-097c-4455-bb78-fea54887da90",
          "createMode": "Default",
          "databaseAccountOfferType": "Standard",
          "enableCassandraConnector": false,
          "connectorOffer": "Small",
          "enableMaterializedViews": false,
          "enableFullFidelityChangeFeed": false,
          "defaultIdentity": "",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "enablePartitionMerge": false,
          "enableBurstCapacity": false,
          "minimalTlsVersion": "Tls",
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxIntervalInSeconds": 1000,
            "maxStalenessPrefix": 300
          },
          "configurationOverrides": {},
          "writeLocations": [
            {
              "id": "r-table-account-1120-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "r-table-account-1120-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "locations": [
            {
              "id": "r-table-account-1120-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "failoverPolicies": [
            {
              "id": "r-table-account-1120-westus",
              "locationName": "West US",
              "failoverPriority": 0
            }
          ],
          "cors": [],
          "capabilities": [
            {
              "name": "EnableTable"
            }
          ],
          "ipRules": [
            {
              "ipAddressOrRange": "23.43.231.120"
            }
          ],
          "backupPolicy": {
            "type": "Continuous",
            "continuousModeProperties": {
              "tier": "Continuous30Days"
            }
          },
          "networkAclBypassResourceIds": [],
          "diagnosticLogSettings": {
            "enableFullTextQuery": "None"
          },
          "keysMetadata": {
            "primaryMasterKey": {
              "generationTime": "2023-07-01T01:47:27.540533Z"
            },
            "secondaryMasterKey": {
              "generationTime": "2023-07-01T01:47:27.540533Z"
            },
            "primaryReadonlyMasterKey": {
              "generationTime": "2023-07-01T01:47:27.540533Z"
            },
            "secondaryReadonlyMasterKey": {
              "generationTime": "2023-07-01T01:47:27.540533Z"
            }
          }
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/3639500d-45ad-4952-abe7-4ec6bff2c346?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11901"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-297/providers/Microsoft.DocumentDB/databaseAccounts/r-table-account-1120?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11887"
      },
      "ResponseBody": {
        "id": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-297/providers/Microsoft.DocumentDB/databaseAccounts/r-table-account-1120",
        "name": "r-table-account-1120",
        "location": "West US",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "GlobalDocumentDB",
        "tags": {},
        "systemData": {
          "createdAt": "2023-07-01T01:50:47.6457677Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "documentEndpoint": "https://r-table-account-1120.documents.azure.com:443/",
          "tableEndpoint": "https://r-table-account-1120.table.cosmos.azure.com:443/",
          "sqlEndpoint": "https://r-table-account-1120.documents.azure.com:443/",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": true,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "Table, Sql",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": fal[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11886"
      },
      "ResponseBody": {
        "id": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "220fc532-6091-423c-8ba0-66c2397d591b",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CosmosDB-Demos-GeneralUse",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/restorableDatabaseAccounts?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          ""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11885"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "e3b8d461-1403-43f5-8af8-6b03f6e462e1",
            "location": "West Central US",
            "type": "Microsoft.DocumentDB/locations/restorableDatabaseAccounts",
            "id": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/locations/westcentralus/restorableDatabaseAccounts/e3b8d461-1403-43f5-8af8-6b03f6e462e1",
            "properties": {
              "accountName": "r-database-account-4185",
              "apiType": "Sql",
              "creationTime": "2023-06-30T17:34:32Z",
              "deletionTime": "2023-06-30T18:40:00Z",
              "oldestRestorableTime": "2023-06-01T01:51:16Z",
              "restorableLocations": [
                {
                  "locationName": "West Central US",
                  "regionalDatabaseAccountInstanceId": "bcb2142a-85be-415b-993f-9d25c03b0848",
                  "creationTime": "2023-06-30T17:34:33Z",
                  "deletionTime": "2023-06-30T18:40:00Z"
                }
              ]
            }
          },
          {
            "name": "ee102bad-8eef-4279-998a-9b927835741c",
            "location": "West Central US",
            "type": "Microsoft.DocumentDB/locations/restorableDatabaseAccounts",
            "id": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Micros[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/c1ed5fb2-f9ae-40b3-a6ff-fb27fbcd560f?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11860"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "661645348",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "220fc532-6091-423c-8ba0-66c2397d591b"
  }
}
