{
  "Entries": [
    {
      "RequestUri": "https://ads-perf-westeurope-pv.purview.azure.com/share/sentShares/e802f487-92bf-4dc3-bf1d-86afe0d757a3?api-version=2022-06-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://ads-perf-westeurope-pv.purview.azure.com/share/operationResults/e22ab175-725d-4c23-b39c-95195dcf0e5f?api-version=2022-06-30-preview",
        "Operation-Id": "https://ads-perf-westeurope-pv.purview.azure.com/share/operationResults/e22ab175-725d-4c23-b39c-95195dcf0e5f?api-version=2022-06-30-preview",
        "Operation-Location": "https://ads-perf-westeurope-pv.purview.azure.com/share/operationResults/e22ab175-725d-4c23-b39c-95195dcf0e5f?api-version=2022-06-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ads-perf-westeurope-pv.purview.azure.com/share/operationResults/e22ab175-725d-4c23-b39c-95195dcf0e5f?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "startTime": "2023-02-10T21:56:07.0371676Z",
        "endTime": null,
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://ads-perf-westeurope-pv.purview.azure.com/share/operationResults/e22ab175-725d-4c23-b39c-95195dcf0e5f?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "startTime": "2023-02-10T21:56:07.0371676Z",
        "endTime": null,
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://ads-perf-westeurope-pv.purview.azure.com/share",
    "RandomSeed": "1475348010"
  }
}
