{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-2037?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2037",
        "name": "testRG-2037",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2037/providers/Microsoft.Automation/automationAccounts/account9992?api-version=2021-06-22",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "sku": {
            "name": "Basic"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2037/providers/Microsoft.Automation/automationAccounts/account9992?api-version=2021-06-22",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "account9992",
        "systemData": {
          "createdAt": "2023-04-18T08:29:00.63\u002B00:00",
          "lastModifiedAt": "2023-04-18T08:29:00.63\u002B00:00"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2037/providers/Microsoft.Automation/automationAccounts/account9992",
        "type": "Microsoft.Automation/AutomationAccounts",
        "location": "eastus",
        "tags": {},
        "etag": null,
        "properties": {
          "disableLocalAuth": false,
          "sku": {
            "name": "Basic",
            "family": null,
            "capacity": null
          },
          "state": "Ok",
          "RegistrationUrl": "https://397a76a4-c471-4181-98e1-4267f36ea2c3.agentsvc.eus.azure-automation.net/accounts/397a76a4-c471-4181-98e1-4267f36ea2c3",
          "encryption": {
            "keySource": "Microsoft.Automation",
            "identity": {
              "userAssignedIdentity": null
            }
          },
          "automationHybridServiceUrl": "https://397a76a4-c471-4181-98e1-4267f36ea2c3.jrds.eus.azure-automation.net/automationAccounts/397a76a4-c471-4181-98e1-4267f36ea2c3",
          "RuntimeConfiguration": {
            "powershell": {
              "builtinModules": {
                "Az": "8.0.0"
              }
            },
            "powershell7": {
              "builtinModules": {
                "Az": "8.0.0"
              }
            }
          },
          "creationTime": "2023-04-18T08:29:00.63\u002B00:00",
          "lastModifiedBy": null,
          "lastModifiedTime": "2023-04-18T08:29:00.63\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2037/providers/Microsoft.Automation/automationAccounts/account9992/configurations/SampleConfiguration?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "source": {
            "hash": {
              "algorithm": "sha256",
              "value": "A9E5DB56BA21513F61E0B3868816FDC6D4DF5131F5617D7FF0D769674BD5072F"
            },
            "type": "embeddedContent",
            "value": "Configuration SampleConfiguration { Node SampleConfiguration.localhost { WindowsFeature IIS { Name = \u0022Web - Server\u0022; Ensure = \u0022Present\u0022; }}}",
            "version": "1.0.0"
          },
          "description": "new sample configuration test"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022638174033448966667\u0022",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2037/providers/Microsoft.Automation/automationAccounts/account9992/configurations/SampleConfiguration?api-version=2019-06-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2037/providers/Microsoft.Automation/automationAccounts/account9992/configurations/SampleConfiguration",
        "name": "SampleConfiguration",
        "type": "Microsoft.Automation/AutomationAccounts/Configurations",
        "location": "eastus",
        "tags": {},
        "etag": "\u0022638174033448966667\u0022",
        "properties": {
          "provisioningState": "Succeeded",
          "jobCount": 0,
          "parameters": {},
          "description": "new sample configuration test",
          "source": null,
          "state": "Published",
          "creationTime": "2023-04-18T08:29:04.8966667\u002B00:00",
          "lastModifiedTime": "2023-04-18T08:29:04.8966667\u002B00:00",
          "logVerbose": false,
          "rawTags": null,
          "nodeConfigurationCount": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2037/providers/Microsoft.Automation/automationAccounts/account9992/nodeConfigurations/SampleConfiguration.localhost?api-version=2020-01-13-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "SampleConfiguration.localhost",
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2037/providers/Microsoft.Automation/automationAccounts/account9992/nodeConfigurations/SampleConfiguration.localhost?api-version=2020-01-13-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2037/providers/Microsoft.Automation/automationAccounts/account9992/nodeConfigurations/SampleConfiguration.localhost",
        "name": "SampleConfiguration.localhost",
        "type": "Microsoft.Automation/AutomationAccounts/nodeConfigurations",
        "properties": {
          "lastModifiedTime": "2023-04-18T08:29:07.7816638\u002B00:00",
          "creationTime": "2023-04-18T08:29:07.7816638\u002B00:00",
          "configuration": {
            "name": "SampleConfiguration"
          },
          "source": null,
          "nodeCount": 0,
          "incrementNodeConfigurationBuild": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2037/providers/Microsoft.Automation/automationAccounts/account9992/nodeConfigurations?api-version=2020-01-13-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2037/providers/Microsoft.Automation/automationAccounts/account9992/nodeConfigurations/SampleConfiguration.localhost",
            "name": "SampleConfiguration.localhost",
            "properties": {
              "creationTime": "2023-04-18T08:29:07.7816638\u002B00:00",
              "lastModifiedTime": "2023-04-18T08:29:07.7816638\u002B00:00",
              "configuration": {
                "name": "SampleConfiguration"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2037/providers/Microsoft.Automation/automationAccounts/account9992/nodeConfigurations/SampleConfiguration.localhost1?api-version=2020-01-13-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "code": "NotFound",
        "message": ""
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2037/providers/Microsoft.Automation/automationAccounts/account9992/nodeConfigurations/SampleConfiguration.localhost?api-version=2020-01-13-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "LOCATION": "EastUS",
    "RandomSeed": "692656926",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
