{
  "Entries": [
    {
      "RequestUri": "/279b0675-cf67-467f-98f0-67ae31eb540f/services/WATM/operations/isavailable/ATMTest6903.trafficmanager.net",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<AvailabilityResponse xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Result>true</Result>\r\n</AvailabilityResponse>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "CheckDnsPrefixesAvailability": [
      "ATMTest6903"
    ]
  },
  "Variables": {
    "SubscriptionId": "279b0675-cf67-467f-98f0-67ae31eb540f",
    "UserId": "destanko@microsoft.com"
  }
}