{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "id": "/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "65634139-3762-476b-946d-e221f4cdc2bf",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "WA-Batch-Test4",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf/resourcegroups/testRG-1366?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf/resourceGroups/testRG-1366",
        "name": "testRG-1366",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf/resourceGroups/testRG-1366/providers/Microsoft.Storage/storageAccounts/accountforbatch182?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_RAGRS"
        },
        "kind": "StorageV2",
        "location": "westus2",
        "properties": {
          "encryption": {
            "services": {
              "blob": {
                "enabled": true
              },
              "file": {
                "enabled": true
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Allow"
          },
          "accessTier": "Hot",
          "supportsHttpsTrafficOnly": true,
          "allowBlobPublicAccess": true,
          "minimumTlsVersion": "TLS1_2",
          "allowSharedKeyAccess": true
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf/providers/Microsoft.Storage/locations/westus2/asyncoperations/ebd9f868-f1f9-4da1-affb-635fc98e6166?monitor=true\u0026api-version=2022-05-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf/providers/Microsoft.Storage/locations/westus2/asyncoperations/ebd9f868-f1f9-4da1-affb-635fc98e6166?monitor=true\u0026api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf/providers/Microsoft.Storage/locations/westus2/asyncoperations/ebd9f868-f1f9-4da1-affb-635fc98e6166?monitor=true\u0026api-version=2022-05-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf/providers/Microsoft.Storage/locations/westus2/asyncoperations/ebd9f868-f1f9-4da1-affb-635fc98e6166?monitor=true\u0026api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_RAGRS",
          "tier": "Standard"
        },
        "kind": "StorageV2",
        "id": "/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf/resourceGroups/testRG-1366/providers/Microsoft.Storage/storageAccounts/accountforbatch182",
        "name": "accountforbatch182",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "westus2",
        "tags": {},
        "properties": {
          "keyCreationTime": {
            "key1": "2022-11-10T00:14:46.4471468Z",
            "key2": "2022-11-10T00:14:46.4471468Z"
          },
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_2",
          "allowBlobPublicAccess": true,
          "allowSharedKeyAccess": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-11-10T00:14:46.8533935Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-11-10T00:14:46.8533935Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2022-11-10T00:14:46.3377717Z",
          "primaryEndpoints": {
            "dfs": "https://accountforbatch182.dfs.core.windows.net/",
            "web": "https://accountforbatch182.z5.web.core.windows.net/",
            "blob": "https://accountforbatch182.blob.core.windows.net/",
            "queue": "https://accountforbatch182.queue.core.windows.net/",
            "table": "https://accountforbatch182.table.core.windows.net/",
            "file": "https://accountforbatch182.file.core.windows.net/"
          },
          "primaryLocation": "westus2",
          "statusOfPrimary": "available",
          "secondaryLocation": "westcentralus",
          "statusOfSecondary": "available",
          "secondaryEndpoints": {
            "dfs": "https://accountforbatch182-secondary.dfs.core.windows.net/",
            "web": "https://accountforbatch182-secondary.z5.web.core.windows.net/",
            "blob": "https://accountforbatch182-secondary.blob.core.windows.net/",
            "queue": "https://accountforbatch182-secondary.queue.core.windows.net/",
            "table": "https://accountforbatch182-secondary.table.core.windows.net/"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf/resourceGroups/testRG-9560/providers/Microsoft.Batch/batchAccounts/account7621?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "autoStorage": {
            "storageAccountId": "/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf/resourceGroups/testRG-1366/providers/Microsoft.Storage/storageAccounts/accountforbatch182"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf/resourceGroups/testRG-9560/providers/Microsoft.Batch/batchAccounts/account7621/operationResults/0410feb5-e416-48ea-987c-84f9ca77237e?api-version=2022-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf/resourceGroups/testRG-9560/providers/Microsoft.Batch/batchAccounts/account7621/operationResults/0410feb5-e416-48ea-987c-84f9ca77237e?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf/resourceGroups/testRG-9560/providers/Microsoft.Batch/batchAccounts/account7621/operationResults/0410feb5-e416-48ea-987c-84f9ca77237e?api-version=2022-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf/resourceGroups/testRG-9560/providers/Microsoft.Batch/batchAccounts/account7621/operationResults/0410feb5-e416-48ea-987c-84f9ca77237e?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220x8DAC2B0A93E273C\u0022",
        "Last-Modified": "Thu, 10 Nov 2022 00:15:23 GMT",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "id": "/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf/resourceGroups/testrg-9560/providers/Microsoft.Batch/batchAccounts/account7621",
        "name": "account7621",
        "type": "Microsoft.Batch/batchAccounts",
        "location": "westus",
        "properties": {
          "accountEndpoint": "account7621.westus.batch.azure.com",
          "nodeManagementEndpoint": "eb38f66e-e0d9-4a53-b121-66efc5baf079.westus.service.batch.azure.com",
          "provisioningState": "Succeeded",
          "dedicatedCoreQuota": 0,
          "dedicatedCoreQuotaPerVMFamily": [
            {
              "name": "standardDSv3Family",
              "coreQuota": 100
            },
            {
              "name": "standardA0_A7Family",
              "coreQuota": 0
            },
            {
              "name": "standardA8_A11Family",
              "coreQuota": 0
            },
            {
              "name": "standardDFamily",
              "coreQuota": 0
            },
            {
              "name": "standardDv2Family",
              "coreQuota": 0
            },
            {
              "name": "standardGFamily",
              "cor[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf/resourceGroups/testRG-9560/providers/Microsoft.Batch/batchAccounts?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf/resourceGroups/testrg-9560/providers/Microsoft.Batch/batchAccounts/account2654",
            "name": "account2654",
            "type": "Microsoft.Batch/batchAccounts",
            "location": "westus",
            "properties": {
              "accountEndpoint": "account2654.westus.batch.azure.com",
              "nodeManagementEndpoint": "f3efcdc7-3cf6-44bd-a3c8-3723055f15c4.westus.service.batch.azure.com",
 [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/65634139-3762-476b-946d-e221f4cdc2bf/resourceGroups/testRG-9560/providers/Microsoft.Batch/batchAccounts/account76211?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.Batch/batchAccounts/account76211\u0027 under resource group \u0027testRG-9560\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1451470763",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "65634139-3762-476b-946d-e221f4cdc2bf"
  }
}
