{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "ad44cbb7-4f0b-47b4-97bd-be70a5b1e681"
          }
        ],
        "subscriptionId": "ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "HCI IDC Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourcegroups/hci-cluster-rg3954?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg3954",
        "name": "hci-cluster-rg3954",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg3954/providers/Microsoft.AzureStackHCI/clusters/hci-cluster4515?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "identity": {
          "type": "None"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222b00330b-0000-0100-0000-642fa2ef0000\u0022",
        "mise-correlation-id": "4cb87653-342b-4681-ac56-e98e3e64c6cb",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg3954/providers/Microsoft.AzureStackHCI/clusters/hci-cluster4515",
        "name": "hci-cluster4515",
        "type": "microsoft.azurestackhci/clusters",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "createdByType": "Application",
          "createdAt": "2023-04-07T04:58:23.435431Z",
          "lastModifiedBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-07T04:58:23.435431Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "status": "NotYetRegistered",
          "cloudId": "43e1a36c-4875-4559-bfb1-f04bbf201b17",
          "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "softwareAssuranceProperties": {
            "softwareAssuranceStatus": "Disabled",
            "softwareAssuranceIntent": "Disable"
          },
          "desiredProperties": {
            "windowsServerSubscription": "Disabled",
            "diagnosticLevel": "Basic"
          },
          "trialDaysRemaining": 60,
          "billingModel": "Trial",
          "serviceEndpoint": "https://dp.stackhci.azure.com/eastus/",
          "resourceProviderObjectId": "f57be460-ae5d-444a-9317-bbfa416ab4b9"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg3954/providers/Microsoft.AzureStackHCI/clusters/hci-cluster4515/arcSettings/default?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg3954/providers/Microsoft.AzureStackHCI/clusters/hci-cluster4515/arcSettings/default/extensions/MicrosoftMonitoringAgent?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "extensionParameters": {
            "publisher": "Microsoft",
            "type": "MicrosoftMonitoringAgent",
            "typeHandlerVersion": "1.10",
            "settings": {
              "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            },
            "protectedSettings": {
              "workspaceKey": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220d00472a-0000-0100-0000-642fa2f30000\u0022",
        "mise-correlation-id": "354bb93c-e86c-4e06-be31-9bc488444756",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg3954/providers/Microsoft.AzureStackHCI/clusters/hci-cluster4515/arcSettings/default/extensions/MicrosoftMonitoringAgent",
        "name": "MicrosoftMonitoringAgent",
        "type": "microsoft.azurestackhci/clusters/arcsettings/extensions",
        "systemData": {
          "createdBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "createdByType": "Application",
          "createdAt": "2023-04-07T04:58:26.9354936Z",
          "lastModifiedBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-07T04:58:26.9354936Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "aggregateState": "NotSpecified",
          "extensionParameters": {
            "type": "MicrosoftMonitoringAgent",
            "publisher": "Microsoft",
            "autoUpgradeMinorVersion": false,
            "enableAutomaticUpgrade": true,
            "settings": {
              "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg3954/providers/Microsoft.AzureStackHCI/clusters/hci-cluster4515/arcSettings/default/extensions/MicrosoftMonitoringAgent?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220d00472a-0000-0100-0000-642fa2f30000\u0022",
        "mise-correlation-id": "bcb1f666-3dcc-4d0a-9810-b596490d2c47",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg3954/providers/Microsoft.AzureStackHCI/clusters/hci-cluster4515/arcSettings/default/extensions/MicrosoftMonitoringAgent",
        "name": "MicrosoftMonitoringAgent",
        "type": "microsoft.azurestackhci/clusters/arcsettings/extensions",
        "properties": {
          "provisioningState": "Succeeded",
          "aggregateState": "NotSpecified",
          "perNodeExtensionDetails": [],
          "extensionParameters": {
            "type": "MicrosoftMonitoringAgent",
            "publisher": "Microsoft",
            "autoUpgradeMinorVersion": false,
            "enableAutomaticUpgrade": true,
            "settings": {
              "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg3954/providers/Microsoft.AzureStackHCI/clusters/hci-cluster4515/arcSettings/default/extensions?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3d0699ce-1aa4-4ba3-b0a1-6605c7975c8b",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg3954/providers/Microsoft.AzureStackHCI/clusters/hci-cluster4515/arcSettings/default/extensions/MicrosoftMonitoringAgent",
            "name": "MicrosoftMonitoringAgent",
            "type": "microsoft.azurestackhci/clusters/arcsettings/extensions",
            "properties": {
              "provisioningState": "Succeeded",
              "aggregateState": "NotSpecified",
              "perNodeExtensionDetails": [],
              "extensionParameters": {
                "type": "MicrosoftMonitoringAgent",
                "publisher": "Microsoft",
                "autoUpgradeMinorVersion": false,
                "enableAutomaticUpgrade": true,
                "settings": {
                  "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
                }
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
    "RandomSeed": "272661526",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
