{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11958"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "ad44cbb7-4f0b-47b4-97bd-be70a5b1e681"
          }
        ],
        "subscriptionId": "ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "HCI IDC Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourcegroups/hci-cluster-rg7783?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1151"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg7783",
        "name": "hci-cluster-rg7783",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg7783/providers/Microsoft.AzureStackHCI/clusters/hci-cluster14?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "identity": {
          "type": "None"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c134e99-0000-0100-0000-645b6d4f0000\u0022",
        "mise-correlation-id": "e4bba921-6fa8-403b-9896-66c19b74c653",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1150"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg7783/providers/Microsoft.AzureStackHCI/clusters/hci-cluster14",
        "name": "hci-cluster14",
        "type": "microsoft.azurestackhci/clusters",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "createdByType": "Application",
          "createdAt": "2023-05-10T10:09:19.179899Z",
          "lastModifiedBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-10T10:09:19.179899Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "status": "NotYetRegistered",
          "cloudId": "178f0ffa-550c-417e-8827-ed62c53d515f",
          "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "softwareAssuranceProperties": {
            "softwareAssuranceStatus": "Disabled",
            "softwareAssuranceIntent": "Disable"
          },
          "desiredProperties": {
            "windowsServerSubscription": "Disabled",
            "diagnosticLevel": "Basic"
          },
          "trialDaysRemaining": 60,
          "billingModel": "Trial",
          "serviceEndpoint": "https://dp.stackhci.azure.com/eastus/",
          "resourceProviderObjectId": "f57be460-ae5d-444a-9317-bbfa416ab4b9"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg7783/providers/Microsoft.AzureStackHCI/clusters/hci-cluster14/arcSettings/default?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
  [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg7783/providers/Microsoft.AzureStackHCI/clusters/hci-cluster14/arcSettings/default/extensions/MicrosoftMonitoringAgent?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "extensionParameters": {
            "publisher": "Microsoft",
            "type": "MicrosoftMonitoringAgent",
            "typeHandlerVersion": "1.10",
            "settings": {
              "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            },
            "protectedSettings": {
              "workspaceKey": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225b002d2d-0000-0100-0000-645b6d530000\u0022",
        "mise-correlation-id": "5f677836-a547-4712-a357-a3514c5d0e0a",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1148"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg7783/providers/Microsoft.AzureStackHCI/clusters/hci-cluster14/arcSettings/default/extensions/MicrosoftMonitoringAgent",
        "name": "MicrosoftMonitoringAgent",
        "type": "microsoft.azurestackhci/clusters/arcsettings/extensions",
        "systemData": {
          "createdBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "createdByType": "Application",
          "createdAt": "2023-05-10T10:09:22.5864295Z",
          "lastModifiedBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-10T10:09:22.5864295Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "aggregateState": "NotSpecified",
          "extensionParameters": {
            "type": "MicrosoftMonitoringAgent",
            "publisher": "Microsoft",
            "autoUpgradeMinorVersion": false,
            "enableAutomaticUpgrade": true,
            "settings": {
              "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg7783/providers/Microsoft.AzureStackHCI/clusters/hci-cluster14/arcSettings/default/extensions/MicrosoftMonitoringAgent?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225b002d2d-0000-0100-0000-645b6d530000\u0022",
        "mise-correlation-id": "9edd26ba-9620-4b20-ba27-5c0c8e515953",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11957"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg7783/providers/Microsoft.AzureStackHCI/clusters/hci-cluster14/arcSettings/default/extensions/MicrosoftMonitoringAgent",
        "name": "MicrosoftMonitoringAgent",
        "type": "microsoft.azurestackhci/clusters/arcsettings/extensions",
        "properties": {
          "provisioningState": "Succeeded",
          "aggregateState": "NotSpecified",
          "perNodeExtensionDetails": [],
          "extensionParameters": {
            "type": "MicrosoftMonitoringAgent",
            "publisher": "Microsoft",
            "autoUpgradeMinorVersion": false,
            "enableAutomaticUpgrade": true,
            "settings": {
              "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg7783/providers/Microsoft.AzureStackHCI/clusters/hci-cluster14/arcSettings/default/extensions?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0dafca78-c111-4789-ad47-f43e6b44752f",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11956"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg7783/providers/Microsoft.AzureStackHCI/clusters/hci-cluster14/arcSettings/default/extensions/MicrosoftMonitoringAgent",
            "name": "MicrosoftMonitoringAgent",
            "type": "microsoft.azurestackhci/clusters/arcsettings/extensions",
            "properties": {
              "provisioningState": "Succeeded",
              "aggregateState": "NotSpecified",
              "perNodeExtensionDetails": [],
              "extensionParameters": {
                "type": "MicrosoftMonitoringAgent",
                "publisher": "Microsoft",
                "autoUpgradeMinorVersion": false,
                "enableAutomaticUpgrade": true,
                "settings": {
                  "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
                }
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
    "RandomSeed": "858847727",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
