{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "a9280d5f-f9ab-436e-90cb-b6b9863c5551",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ASME_RestonAzureStackEdge_Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourcegroups/hci-cluster-rg9124?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg9124",
        "name": "hci-cluster-rg9124",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg9124/providers/Microsoft.AzureStackHCI/clusters/hci-cluster956?api-version=2022-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "aadClientId": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "identity": {
          "type": "None"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ee002d97-0000-0100-0000-63ef7a6b0000\u0022",
        "mise-correlation-id": "1c6beca8-9060-4cf1-834c-3ccd6b4757c0",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg9124/providers/Microsoft.AzureStackHCI/clusters/hci-cluster956",
        "name": "hci-cluster956",
        "type": "microsoft.azurestackhci/clusters",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "createdByType": "Application",
          "createdAt": "2023-02-17T13:00:27.1780576Z",
          "lastModifiedBy": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-17T13:00:27.1780576Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "status": "NotYetRegistered",
          "cloudId": "515ba379-ccb2-4899-8883-f109b8bfb1c4",
          "aadClientId": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "softwareAssuranceProperties": {
            "softwareAssuranceStatus": "Disabled",
            "softwareAssuranceIntent": "Disable"
          },
          "desiredProperties": {
            "windowsServerSubscription": "Disabled",
            "diagnosticLevel": "Basic"
          },
          "trialDaysRemaining": 60,
          "billingModel": "Trial",
          "serviceEndpoint": "https://dp.stackhci.azure.com/eastus/",
          "resourceProviderObjectId": "f57be460-ae5d-444a-9317-bbfa416ab4b9"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg9124/providers/Microsoft.AzureStackHCI/clusters/hci-cluster956/arcSettings/default?api-version=2022-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
 [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg9124/providers/Microsoft.AzureStackHCI/clusters/hci-cluster956/arcSettings/default/extensions/MicrosoftMonitoringAgent?api-version=2022-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "extensionParameters": {
            "publisher": "Microsoft",
            "type": "MicrosoftMonitoringAgent",
            "typeHandlerVersion": "1.10",
            "settings": {
              "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            },
            "protectedSettings": {
              "workspaceKey": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229b00cdbd-0000-0100-0000-63ef7a6d0000\u0022",
        "mise-correlation-id": "99d404a5-d46d-4765-bf35-b605ccd5f56c",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg9124/providers/Microsoft.AzureStackHCI/clusters/hci-cluster956/arcSettings/default/extensions/MicrosoftMonitoringAgent",
        "name": "MicrosoftMonitoringAgent",
        "type": "microsoft.azurestackhci/clusters/arcsettings/extensions",
        "systemData": {
          "createdBy": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "createdByType": "Application",
          "createdAt": "2023-02-17T13:00:28.8656468Z",
          "lastModifiedBy": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-17T13:00:28.8656468Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "aggregateState": "NotSpecified",
          "extensionParameters": {
            "type": "MicrosoftMonitoringAgent",
            "publisher": "Microsoft",
            "autoUpgradeMinorVersion": false,
            "enableAutomaticUpgrade": true,
            "settings": {
              "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg9124/providers/Microsoft.AzureStackHCI/clusters/hci-cluster956/arcSettings/default/extensions/MicrosoftMonitoringAgent?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229b00cdbd-0000-0100-0000-63ef7a6d0000\u0022",
        "mise-correlation-id": "ef414631-95c6-41ae-b6c5-e932f32a2682",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg9124/providers/Microsoft.AzureStackHCI/clusters/hci-cluster956/arcSettings/default/extensions/MicrosoftMonitoringAgent",
        "name": "MicrosoftMonitoringAgent",
        "type": "microsoft.azurestackhci/clusters/arcsettings/extensions",
        "properties": {
          "provisioningState": "Succeeded",
          "aggregateState": "NotSpecified",
          "perNodeExtensionDetails": [],
          "extensionParameters": {
            "type": "MicrosoftMonitoringAgent",
            "publisher": "Microsoft",
            "autoUpgradeMinorVersion": false,
            "enableAutomaticUpgrade": true,
            "settings": {
              "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg9124/providers/Microsoft.AzureStackHCI/clusters/hci-cluster956/arcSettings/default/extensions?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "32a27f64-eb7f-4e61-9a15-dc19514c8af1",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg9124/providers/Microsoft.AzureStackHCI/clusters/hci-cluster956/arcSettings/default/extensions/MicrosoftMonitoringAgent",
            "name": "MicrosoftMonitoringAgent",
            "type": "microsoft.azurestackhci/clusters/arcsettings/extensions",
            "properties": {
              "provisioningState": "Succeeded",
              "aggregateState": "NotSpecified",
              "perNodeExtensionDetails": [],
              "extensionParameters": {
                "type": "MicrosoftMonitoringAgent",
                "publisher": "Microsoft",
                "autoUpgradeMinorVersion": false,
                "enableAutomaticUpgrade": true,
                "settings": {
                  "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
                }
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
    "RandomSeed": "1130750741",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "a9280d5f-f9ab-436e-90cb-b6b9863c5551",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
