{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "ad44cbb7-4f0b-47b4-97bd-be70a5b1e681"
          }
        ],
        "subscriptionId": "ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "HCI IDC Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourcegroups/hci-cluster-rg1047?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg1047",
        "name": "hci-cluster-rg1047",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg1047/providers/Microsoft.AzureStackHCI/clusters/hci-cluster659?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "identity": {
          "type": "None"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002212050734-0000-0100-0000-6436aae30000\u0022",
        "mise-correlation-id": "1a1d425a-5c9d-434c-b367-e8496a57986d",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg1047/providers/Microsoft.AzureStackHCI/clusters/hci-cluster659",
        "name": "hci-cluster659",
        "type": "microsoft.azurestackhci/clusters",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "createdByType": "Application",
          "createdAt": "2023-04-12T12:58:11.4423734Z",
          "lastModifiedBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-12T12:58:11.4423734Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "status": "NotYetRegistered",
          "cloudId": "11d57c9f-d7f8-4ae9-88f1-2e8fee31da19",
          "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "softwareAssuranceProperties": {
            "softwareAssuranceStatus": "Disabled",
            "softwareAssuranceIntent": "Disable"
          },
          "desiredProperties": {
            "windowsServerSubscription": "Disabled",
            "diagnosticLevel": "Basic"
          },
          "trialDaysRemaining": 60,
          "billingModel": "Trial",
          "serviceEndpoint": "https://dp.stackhci.azure.com/eastus/",
          "resourceProviderObjectId": "f57be460-ae5d-444a-9317-bbfa416ab4b9"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg1047/providers/Microsoft.AzureStackHCI/clusters/hci-cluster659/arcSettings/default?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
 [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg1047/providers/Microsoft.AzureStackHCI/clusters/hci-cluster659/arcSettings/default/extensions/MicrosoftMonitoringAgent?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "extensionParameters": {
            "publisher": "Microsoft",
            "type": "MicrosoftMonitoringAgent",
            "typeHandlerVersion": "1.10",
            "settings": {
              "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            },
            "protectedSettings": {
              "workspaceKey": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022b3007f11-0000-0100-0000-6436aae70000\u0022",
        "mise-correlation-id": "ac0513ae-1389-4cca-a8a7-ae455af2147b",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg1047/providers/Microsoft.AzureStackHCI/clusters/hci-cluster659/arcSettings/default/extensions/MicrosoftMonitoringAgent",
        "name": "MicrosoftMonitoringAgent",
        "type": "microsoft.azurestackhci/clusters/arcsettings/extensions",
        "systemData": {
          "createdBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "createdByType": "Application",
          "createdAt": "2023-04-12T12:58:14.708105Z",
          "lastModifiedBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-12T12:58:14.708105Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "aggregateState": "NotSpecified",
          "extensionParameters": {
            "type": "MicrosoftMonitoringAgent",
            "publisher": "Microsoft",
            "autoUpgradeMinorVersion": false,
            "enableAutomaticUpgrade": true,
            "settings": {
              "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg1047/providers/Microsoft.AzureStackHCI/clusters/hci-cluster659/arcSettings/default/extensions/MicrosoftMonitoringAgent?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022b3007f11-0000-0100-0000-6436aae70000\u0022",
        "mise-correlation-id": "c2d0aa64-4ed3-473a-aeea-904fd1646f3f",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg1047/providers/Microsoft.AzureStackHCI/clusters/hci-cluster659/arcSettings/default/extensions/MicrosoftMonitoringAgent",
        "name": "MicrosoftMonitoringAgent",
        "type": "microsoft.azurestackhci/clusters/arcsettings/extensions",
        "properties": {
          "provisioningState": "Succeeded",
          "aggregateState": "NotSpecified",
          "perNodeExtensionDetails": [],
          "extensionParameters": {
            "type": "MicrosoftMonitoringAgent",
            "publisher": "Microsoft",
            "autoUpgradeMinorVersion": false,
            "enableAutomaticUpgrade": true,
            "settings": {
              "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg1047/providers/Microsoft.AzureStackHCI/clusters/hci-cluster659/arcSettings/default/extensions?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5e73a1db-fd00-4d77-9e92-05bf0b814dac",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg1047/providers/Microsoft.AzureStackHCI/clusters/hci-cluster659/arcSettings/default/extensions/MicrosoftMonitoringAgent",
            "name": "MicrosoftMonitoringAgent",
            "type": "microsoft.azurestackhci/clusters/arcsettings/extensions",
            "properties": {
              "provisioningState": "Succeeded",
              "aggregateState": "NotSpecified",
              "perNodeExtensionDetails": [],
              "extensionParameters": {
                "type": "MicrosoftMonitoringAgent",
                "publisher": "Microsoft",
                "autoUpgradeMinorVersion": false,
                "enableAutomaticUpgrade": true,
                "settings": {
                  "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
                }
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
    "RandomSeed": "2135737592",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
