{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "HCI IDC Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourcegroups/hci-cluster-rg73?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg73",
        "name": "hci-cluster-rg73",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg73/providers/Microsoft.AzureStackHCI/clusters/hci-cluster5025?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "identity": {
          "type": "None"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e501cdde-0000-0100-0000-642a7e860000\u0022",
        "mise-correlation-id": "94ec43c6-1d7c-4e7c-9789-22d4afa348ac",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg73/providers/Microsoft.AzureStackHCI/clusters/hci-cluster5025",
        "name": "hci-cluster5025",
        "type": "microsoft.azurestackhci/clusters",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "createdByType": "Application",
          "createdAt": "2023-04-03T07:21:41.1869712Z",
          "lastModifiedBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-03T07:21:41.1869712Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "status": "NotYetRegistered",
          "cloudId": "03be88e9-b0ca-4dd0-aac3-f1f4e9761918",
          "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "softwareAssuranceProperties": {
            "softwareAssuranceStatus": "Disabled",
            "softwareAssuranceIntent": "Disable"
          },
          "desiredProperties": {
            "windowsServerSubscription": "Disabled",
            "diagnosticLevel": "Basic"
          },
          "trialDaysRemaining": 60,
          "billingModel": "Trial",
          "serviceEndpoint": "https://dp.stackhci.azure.com/eastus/",
          "resourceProviderObjectId": "f57be460-ae5d-444a-9317-bbfa416ab4b9"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg73/providers/Microsoft.AzureStackHCI/clusters/hci-cluster5025/arcSettings/default?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
  [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg73/providers/Microsoft.AzureStackHCI/clusters/hci-cluster5025/arcSettings/default/extensions/MicrosoftMonitoringAgent?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "extensionParameters": {
            "publisher": "Microsoft",
            "type": "MicrosoftMonitoringAgent",
            "typeHandlerVersion": "1.10",
            "settings": {
              "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            },
            "protectedSettings": {
              "workspaceKey": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022dc005748-0000-0100-0000-642a7e890000\u0022",
        "mise-correlation-id": "d32c8b20-fa9d-4bcb-a5b1-9ff0a8dbbd9e",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg73/providers/Microsoft.AzureStackHCI/clusters/hci-cluster5025/arcSettings/default/extensions/MicrosoftMonitoringAgent",
        "name": "MicrosoftMonitoringAgent",
        "type": "microsoft.azurestackhci/clusters/arcsettings/extensions",
        "systemData": {
          "createdBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "createdByType": "Application",
          "createdAt": "2023-04-03T07:21:45.124565Z",
          "lastModifiedBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-03T07:21:45.124565Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "aggregateState": "NotSpecified",
          "extensionParameters": {
            "type": "MicrosoftMonitoringAgent",
            "publisher": "Microsoft",
            "autoUpgradeMinorVersion": false,
            "enableAutomaticUpgrade": true,
            "settings": {
              "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg73/providers/Microsoft.AzureStackHCI/clusters/hci-cluster5025/arcSettings/default/extensions/MicrosoftMonitoringAgent?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022dc005748-0000-0100-0000-642a7e890000\u0022",
        "mise-correlation-id": "b6ea45c0-173f-474e-81f4-4b03bc107870",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg73/providers/Microsoft.AzureStackHCI/clusters/hci-cluster5025/arcSettings/default/extensions/MicrosoftMonitoringAgent",
        "name": "MicrosoftMonitoringAgent",
        "type": "microsoft.azurestackhci/clusters/arcsettings/extensions",
        "properties": {
          "provisioningState": "Succeeded",
          "aggregateState": "NotSpecified",
          "perNodeExtensionDetails": [],
          "extensionParameters": {
            "type": "MicrosoftMonitoringAgent",
            "publisher": "Microsoft",
            "autoUpgradeMinorVersion": false,
            "enableAutomaticUpgrade": true,
            "settings": {
              "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg73/providers/Microsoft.AzureStackHCI/clusters/hci-cluster5025/arcSettings/default/extensions?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0138db8c-996a-424e-b0e2-c0b85e36cd56",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg73/providers/Microsoft.AzureStackHCI/clusters/hci-cluster5025/arcSettings/default/extensions/MicrosoftMonitoringAgent",
            "name": "MicrosoftMonitoringAgent",
            "type": "microsoft.azurestackhci/clusters/arcsettings/extensions",
            "properties": {
              "provisioningState": "Succeeded",
              "aggregateState": "NotSpecified",
              "perNodeExtensionDetails": [],
              "extensionParameters": {
                "type": "MicrosoftMonitoringAgent",
                "publisher": "Microsoft",
                "autoUpgradeMinorVersion": false,
                "enableAutomaticUpgrade": true,
                "settings": {
                  "workspaceId": "5dcf9bc1-c220-4ed6-84f3-6919c3a393b6"
                }
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
    "RandomSeed": "2028382920",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
