{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Mon, 05 Jun 2023 21:56:18 GMT",
        "Repeatability-Request-ID": "2322e8a5-039e-4b55-8984-a247ad8b19c6",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Jun 2023 21:56:18 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview, 2023-06-14",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99443040409068601",
        "MS-CV": "o0eIpX\u002BBEkylmuuyJUNy3Q.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99443040409068601",
        "createdAt": "2023-06-05T21:56:17.6140083\u002B00:00",
        "validFrom": "2023-06-05T21:56:18.8511532\u002B00:00",
        "validUntil": "2023-06-06T21:56:18.8511532\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-06-14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Jun 2023 21:56:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview, 2023-06-14",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "dnOBRll02USWoAO7Xispzg.0"
      },
      "ResponseBody": {
        "id": "99443040409068601",
        "createdAt": "2023-06-05T21:56:17.6140083\u002B00:00",
        "validFrom": "2023-06-05T21:56:18.8511532\u002B00:00",
        "validUntil": "2023-06-06T21:56:18.8511532\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-06-14",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Jun 2023 21:56:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview, 2023-06-14",
        "MS-CV": "0lWvoe1hWkazmfLWnIVPOQ.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1397401151"
  }
}
