{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Mon, 01 May 2023 23:03:23 GMT",
        "Repeatability-Request-ID": "96db4165-603e-4b8b-81d4-10d0f2f8258f"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99455713895310044",
        "MS-CV": "9U1uLE8WEkaBn/o\u002BawhrVA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99455713895310044",
        "createdAt": "2023-05-01T23:03:25.5943729\u002B00:00",
        "validFrom": "2023-05-01T23:03:23.8818822\u002B00:00",
        "validUntil": "2023-05-02T23:03:23.8818822\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-03-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "lbEsd/0yvEijId7Uux67/Q.0"
      },
      "ResponseBody": {
        "id": "99455713895310044",
        "createdAt": "2023-05-01T23:03:25.5943729\u002B00:00",
        "validFrom": "2023-05-01T23:03:23.8818822\u002B00:00",
        "validUntil": "2023-05-02T23:03:23.8818822\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-03-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "MS-CV": "LwnAqN66wkSaT7bDIdYd7w.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "2018251014"
  }
}
