{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 05 Apr 2022 03:06:47 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "LATv5znCIEKHk21kRTJiXw.0",
        "X-Processing-Time": "277ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-9792-12b5-84f5-084822005544"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2021-04-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 05 Apr 2022 03:06:53 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-05-01T00:00:00.0000000Z",
        "validUntil": "2022-05-02T00:00:00.0000000Z",
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-9792-12b5-84f5-084822005544": {},
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-9792-17e5-84f5-084822005545": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99447643543049986",
        "MS-CV": "iV4Pe9dTx0CtuTBvL8pkFg.0"
      },
      "ResponseBody": {
        "room": {
          "id": "99447643543049986",
          "createdDateTime": "2022-04-05T03:06:55.2152284\u002B00:00",
          "validFrom": "2022-05-01T00:00:00\u002B00:00",
          "validUntil": "2022-05-02T00:00:00\u002B00:00",
          "participants": {
            "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-9792-12b5-84f5-084822005544": {},
            "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-9792-17e5-84f5-084822005545": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99447643543049986?api-version=2021-04-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 05 Apr 2022 03:06:55 GMT"
      },
      "RequestBody": {
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000010-[...]
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/99447643543049986?api-version=2021-04-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 05 Apr 2022 03:06:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "MG\u002B082B6VEuwbKfToJcpQw.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "2001337184"
  }
}
