{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-11-17T19:43:55.5100695Z",
        "Repeatability-Request-ID": "f4116061-a12e-406d-8f5d-68c90c347838",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 17 Nov 2022 19:43:55 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99427844279938308",
        "MS-CV": "jingGvToR0OXUAj62QlKwQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "createdDateTime": "2022-11-17T19:43:59.0611343\u002B00:00",
        "validFrom": "2022-11-17T19:43:55.5100695\u002B00:00",
        "validUntil": "2022-11-18T19:43:55.5100695\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99427844279938308?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 17 Nov 2022 19:43:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ohWsRmSM5EuwvWJLDXLuyg.0"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "createdDateTime": "2022-11-17T19:43:59.0611343\u002B00:00",
        "validFrom": "2022-11-17T19:43:55.5100695\u002B00:00",
        "validUntil": "2022-11-18T19:43:55.5100695\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99427844279938308?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 17 Nov 2022 19:43:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "/MJFhYo6MUasOmHVVi3HUw.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-e2e-prod.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1287361074"
  }
}
