{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 06 Jul 2023 18:38:27 GMT",
        "Repeatability-Request-ID": "bc2b3e89-bcd4-4767-b210-16a4175326d9",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 06 Jul 2023 18:38:27 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99484456223095506",
        "MS-CV": "pu2AVoh2cUWf7aoZh9HIcQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99484456223095506",
        "createdAt": "2023-07-06T18:38:28.29687\u002B00:00",
        "validFrom": "2023-07-06T18:38:27.3660397\u002B00:00",
        "validUntil": "2023-07-07T18:38:27.3660397\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-06-14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 06 Jul 2023 18:38:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "kjs/236N80Ka4pBHkG57Vg.0"
      },
      "ResponseBody": {
        "id": "99484456223095506",
        "createdAt": "2023-07-06T18:38:28.29687\u002B00:00",
        "validFrom": "2023-07-06T18:38:27.3660397\u002B00:00",
        "validUntil": "2023-07-07T18:38:27.3660397\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-06-14",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 06 Jul 2023 18:38:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14",
        "MS-CV": "e8836a9l\u002BUmfTqMnl\u002B9qRg.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.unitedstates.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "157647069"
  }
}
