{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Fri, 31 Mar 2023 01:24:51 GMT",
        "Repeatability-Request-ID": "3f04371f-cc21-42b9-bde3-85b8873a7bef",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 31 Mar 2023 01:24:51 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99498600191160846",
        "MS-CV": "Hgi6AW6wv0C6L4OZtZ2FnQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99498600191160846",
        "createdAt": "2023-03-31T01:24:50.0608164\u002B00:00",
        "validFrom": "2023-03-31T01:24:51.2634784\u002B00:00",
        "validUntil": "2023-09-27T01:24:50.0082912\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-03-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 31 Mar 2023 01:24:51 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "pq\u002B6RJ15nESnsHQZ7UKWTA.0"
      },
      "ResponseBody": {
        "id": "99498600191160846",
        "createdAt": "2023-03-31T01:24:50.0608164\u002B00:00",
        "validFrom": "2023-03-31T01:24:51.2634784\u002B00:00",
        "validUntil": "2023-04-01T01:24:51.2634784\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-03-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 31 Mar 2023 01:24:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01, 2023-03-31-preview",
        "MS-CV": "GOQT0u/0tEKyT8\u002BZl3Wnow.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "2121691429"
  }
}
