{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-11-21T09:12:32.0930631Z",
        "Repeatability-Request-ID": "31219ced-c6ce-47ce-8ac3-59f9bcfee4d9",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 21 Nov 2022 09:12:32 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99447899705045809",
        "MS-CV": "G4uddVUTVEG4LK2WPd1XWA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99447899705045809",
        "createdDateTime": "2022-11-21T09:12:39.0205091\u002B00:00",
        "validFrom": "2022-11-21T09:12:32.0930631\u002B00:00",
        "validUntil": "2023-05-20T09:12:38.9255049\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 21 Nov 2022 09:12:32 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "brFrxUhPGE2lPsjIAjFLPw.0"
      },
      "ResponseBody": {
        "id": "99447899705045809",
        "createdDateTime": "2022-11-21T09:12:39.0205091\u002B00:00",
        "validFrom": "2022-11-21T09:12:32.0930631\u002B00:00",
        "validUntil": "2022-11-22T09:12:32.0930631\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 21 Nov 2022 09:12:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "bsu5REGoJUSTgE9\u002BHnvJ6A.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-e2e-prod.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1164642746"
  }
}
