{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 21 Nov 2022 09:12:06 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "uWVyY5Rf5E2XIl0Cd/L0OA.2.0",
        "X-Processing-Time": "42ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-11-21T09:12:08.3361774Z",
        "Repeatability-Request-ID": "b38207fa-c999-4da3-a4a5-905af7a6ab67",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 21 Nov 2022 09:12:08 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "roomJoinPolicy": "InviteOnly",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "Sanitized"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "Sanitized"
              }
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99466127025428282",
        "MS-CV": "smVESTOj1Ui1m4IWEpM9VA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99466127025428282",
        "createdDateTime": "2022-11-21T09:12:15.2595666\u002B00:00",
        "validFrom": "2022-11-21T09:12:08.3361774\u002B00:00",
        "validUntil": "2022-11-22T09:12:08.3361774\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "Sanitized",
              "communicationUser": {
                "id": "Sanitized"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "rawId": "Sanitized",
              "communicationUser": {
                "id": "Sanitized"
              }
            },
            "role": "Attendee"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 21 Nov 2022 09:12:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "XnLXiuYumkuLm0eBNCsS8Q.0"
      },
      "ResponseBody": {
        "id": "99466127025428282",
        "createdDateTime": "2022-11-21T09:12:15.2595666\u002B00:00",
        "validFrom": "2022-11-21T09:12:08.3361774\u002B00:00",
        "validUntil": "2022-11-22T09:12:08.3361774\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "Sanitized",
              "communicationUser": {
                "id": "Sanitized"
              }
            },
            "role": "Presenter"
          },
          {
            "communicationIdentifier": {
              "rawId": "Sanitized",
              "communicationUser": {
                "id": "Sanitized"
              }
            },
            "role": "Attendee"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 21 Nov 2022 09:12:09 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "EwHDFNVVVUGLeI1ZiQeGzA.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-e2e-prod.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "770488181"
  }
}
