{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Mon, 01 May 2023 23:03:40 GMT",
        "Repeatability-Request-ID": "066d1861-1e5b-4fe4-a498-4e388cc47530",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 01 May 2023 23:03:41 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99496505330460364",
        "MS-CV": "BkXEgixaiUqlG6naa7uvJA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99496505330460364",
        "createdAt": "2023-05-01T23:03:42.053974\u002B00:00",
        "validFrom": "2023-05-01T23:03:40.8858016\u002B00:00",
        "validUntil": "2023-05-02T23:03:40.8858016\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-03-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 01 May 2023 23:03:42 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "GY2HPu06XkiKJVALP3UmnQ.0"
      },
      "ResponseBody": {
        "id": "99496505330460364",
        "createdAt": "2023-05-01T23:03:42.053974\u002B00:00",
        "validFrom": "2023-05-01T23:03:40.8858016\u002B00:00",
        "validUntil": "2023-05-02T23:03:40.8858016\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-03-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 01 May 2023 23:03:42 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "MS-CV": "lHTzxwpdlUKrD6F5RGC1WA.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1016461680"
  }
}
