{
  "Entries": [
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-07-28T15:51:11.4518277Z",
        "Repeatability-Request-ID": "1ebcdf8b-4616-42ad-84cf-2014d09708a5",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Jul 2022 15:51:11 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "9949129611414459",
        "MS-CV": "b3RNBcLHdkWu6XcdKUHbQA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "9949129611414459",
        "createdDateTime": "2022-07-28T15:51:10.4274721\u002B00:00",
        "validFrom": "2022-07-28T15:51:11.4517596\u002B00:00",
        "validUntil": "2022-07-29T15:51:11.4517596\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": []
      }
    },
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/9949129611414459?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Jul 2022 15:51:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "H88/xgFQ4EqAzbx3JGX3mQ.0"
      },
      "ResponseBody": {
        "id": "9949129611414459",
        "createdDateTime": "2022-07-28T15:51:10.4274721\u002B00:00",
        "validFrom": "2022-07-28T15:51:11.4517596\u002B00:00",
        "validUntil": "2022-07-29T15:51:11.4517596\u002B00:00",
        "roomJoinPolicy": "InviteOnly",
        "participants": []
      }
    },
[...]
    {
      "RequestUri": "https://rooms-ppe-us.ppe.communication.azure.net/rooms/9949129611414459?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Jul 2022 15:51:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "vLNOQnnY\u002BU6I6gpCNpDFNw.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "991652010"
  }
}
