{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 30 Mar 2023 22:02:52 GMT",
        "Repeatability-Request-ID": "726201c1-a632-4cb0-9a52-d8025d2a8303",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 30 Mar 2023 22:02:52 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99428735058203204",
        "MS-CV": "IzPFAX1htUqy/b0UPm3FDQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99428735058203204",
        "createdAt": "2023-03-30T22:02:50.9755791\u002B00:00",
        "validFrom": "2023-03-30T22:02:52.0277538\u002B00:00",
        "validUntil": "2023-03-31T22:02:52.0277538\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-03-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 30 Mar 2023 22:02:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "xRJr53a\u002BykiLCLuHlJNbOQ.0"
      },
      "ResponseBody": {
        "id": "99428735058203204",
        "createdAt": "2023-03-30T22:02:50.9755791\u002B00:00",
        "validFrom": "2023-03-30T22:02:52.0277538\u002B00:00",
        "validUntil": "2023-03-31T22:02:52.0277538\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-03-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 30 Mar 2023 22:02:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01, 2023-03-31-preview",
        "MS-CV": "JmGqYVDhvki0XFMFyAxn0g.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1282534880"
  }
}
