{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Mon, 05 Jun 2023 21:56:33 GMT",
        "Repeatability-Request-ID": "178991cf-5298-4ac4-8104-fec505981e69",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Jun 2023 21:56:33 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview, 2023-06-14",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99445183700845645",
        "MS-CV": "meYPYRxiokut/1K7M6/t5Q.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99445183700845645",
        "createdAt": "2023-06-05T21:56:32.6613116\u002B00:00",
        "validFrom": "2023-06-05T21:56:33.8995384\u002B00:00",
        "validUntil": "2023-12-02T21:56:32.6034153\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-06-14",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Jun 2023 21:56:34 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview, 2023-06-14",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "3KRV8VEBwUSDJJ80TkdixA.0"
      },
      "ResponseBody": {
        "id": "99445183700845645",
        "createdAt": "2023-06-05T21:56:32.6613116\u002B00:00",
        "validFrom": "2023-06-05T21:56:33.8995384\u002B00:00",
        "validUntil": "2023-06-06T21:56:33.8995384\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-06-14",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Jun 2023 21:56:34 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview, 2023-06-14",
        "MS-CV": "vN2UDXUTAEynSDYILLY07A.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "229082071"
  }
}
