{
  "Entries": [
    {
      "RequestUri": "https://rooms-e2e-prod.communication.azure.com/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-04-29T19:46:24.1598278Z",
        "Repeatability-Request-ID": "860bacc5-a934-483e-8b1f-697e7b6edfaa",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Apr 2022 19:46:24 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-05-01T00:00:00.0000000Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99465191308934787",
        "MS-CV": "iCaIJsVJ00y5FnYab5w/yg.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99465191308934787",
        "createdDateTime": "2022-04-29T19:46:24.5794716\u002B00:00",
        "validFrom": "2022-05-01T00:00:00\u002B00:00",
        "validUntil": "2022-10-26T19:46:24.4853419\u002B00:00"
      }
    },
    {
      "RequestUri": "https://rooms-e2e-prod.communication.azure.com/rooms/99465191308934787?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Apr 2022 19:46:24 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-05-01T00:00:00.0000000Z",
        "validUntil": "2022-05-02T00:00:00.0000000Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "OUJD6lhfZE2bPNSM4nPzEQ.0"
      },
      "ResponseBody": {
        "id": "99465191308934787",
        "createdDateTime": "2022-04-29T19:46:24.5794716\u002B00:00",
        "validFrom": "2022-05-01T00:00:00\u002B00:00",
        "validUntil": "2022-05-02T00:00:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://rooms-e2e-prod.communication.azure.com/rooms/99465191308934787?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Apr 2022 19:46:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "Mzg/nUHdO0arjEv6IsTmzw.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-e2e-prod.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2126808787"
  }
}
