{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 06 Jul 2023 18:38:31 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "9RO/24171E6yYXX/1lydaw.0",
        "X-Processing-Time": "17ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_00000019-cc61-524e-f38d-09482200f5c3"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 06 Jul 2023 18:38:31 GMT",
        "Repeatability-Request-ID": "f7b253dc-7b15-459f-a225-6d81ec24d167",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 06 Jul 2023 18:38:31 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "participants": {
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_00000019-cc61-524e-f38d-09482200f5c3": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99487623663034567",
        "MS-CV": "91FOK2Qf6k\u002BtblnebYMn5w.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99487623663034567",
        "createdAt": "2023-07-06T18:38:32.8393125\u002B00:00",
        "validFrom": "2023-07-06T18:38:31.9087912\u002B00:00",
        "validUntil": "2023-07-07T18:38:31.9087912\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.unitedstates.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1642122509"
  }
}
