{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Mon, 05 Jun 2023 21:19:51 GMT",
        "Repeatability-Request-ID": "b74f1430-8b2c-40e4-abed-40db20f2680e",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Jun 2023 21:19:51 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview, 2023-06-14",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "9949626807952593",
        "MS-CV": "IMi1eGwwrkqQEv4pKQvxAg.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "9949626807952593",
        "createdAt": "2023-06-05T21:19:50.1581078\u002B00:00",
        "validFrom": "2023-06-05T21:19:50.1049718\u002B00:00",
        "validUntil": "2023-12-02T21:19:50.1049718\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Jun 2023 21:19:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview, 2023-06-14",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "xEz04\u002B8GDkKtMCT2UfOeJQ.0"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "99440561260311208",
            "createdAt": "2023-05-31T02:48:14.3184476\u002B00:00",
            "validFrom": "2023-05-31T02:48:10.9892607\u002B00:00",
            "validUntil": "2023-05-31T03:48:10.9892607\u002B00:00"
          },
          {
            "id": "99420295844209048",
            "createdAt": "2023-05-31T01:22:10.8244311\u002B00:00",
            "validFrom": "2023-05-31T01:22:10.6094032\u002B00:00",
            "validUntil": "2023-05-31T02:22:10.[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-06-14",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Jun 2023 21:19:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview, 2023-06-14",
        "MS-CV": "Zs\u002BaBrEnIk6nKCPfwwPGrQ.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1487300696"
  }
}
