{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Mon, 05 Jun 2023 21:56:23 GMT",
        "Repeatability-Request-ID": "d6192120-f3f2-49bb-8b14-0470f71713f5",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Jun 2023 21:56:23 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview, 2023-06-14",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99439875868434026",
        "MS-CV": "eTL5ZqvLHkSxpEZftD4OSg.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99439875868434026",
        "createdAt": "2023-06-05T21:56:22.1298313\u002B00:00",
        "validFrom": "2023-06-05T21:56:22.079954\u002B00:00",
        "validUntil": "2023-12-02T21:56:22.079954\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Jun 2023 21:56:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview, 2023-06-14",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "MIKXumLwOEO/l8pE7xaiDQ.0"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "9942259570295115",
            "createdAt": "2023-05-31T01:22:13.8257287\u002B00:00",
            "validFrom": "2023-05-31T01:22:10.6094032\u002B00:00",
            "validUntil": "2023-05-31T02:22:10.6094032\u002B00:00"
          },
          {
            "id": "99476151581713529",
            "createdAt": "2023-05-31T02:26:11.736549\u002B00:00",
            "validFrom": "2023-05-31T02:26:11.3138579\u002B00:00",
            "validUntil": "2023-05-31T03:26:11.31[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-06-14",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Jun 2023 21:56:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview, 2023-06-14",
        "MS-CV": "m8nMsVzeM06vHhVfnEIZaQ.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1542828538"
  }
}
