{
    "Entries": [
        {
            "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
            "RequestMethod": "POST",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "Content-Type": "application/json",
                "Repeatability-First-Sent": "Wed, 10 May 2023 19:54:44 GMT",
                "Repeatability-Request-ID": "3cb783dc-3faa-432c-a87e-a006b27515fa",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Wed, 10 May 2023 19:54:44 GMT"
            },
            "RequestBody": {},
            "StatusCode": 201,
            "ResponseHeaders": {
                "api-deprecated-versions": "2021-04-07",
                "api-supported-versions": "2022-02-01, 2023-03-31-preview",
                "Content-Type": "application/json; charset=utf-8",
                "Location": "99423625893727684",
                "MS-CV": "0N6\u002Bw5aTmkmPnMB2Ly206g.0",
                "Repeatability-Result": "accepted"
            },
            "ResponseBody": {
                "id": "99423625893727684",
                "createdAt": "2023-05-10T19:54:43.3366492\u002B00:00",
                "validFrom": "2023-05-10T19:54:43.0479462\u002B00:00",
                "validUntil": "2023-11-06T19:54:43.0479462\u002B00:00"
            }
        },
        {
            "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Wed, 10 May 2023 19:54:45 GMT"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "api-deprecated-versions": "2021-04-07",
                "api-supported-versions": "2022-02-01, 2023-03-31-preview",
                "Content-Type": "application/json; charset=utf-8",
                "MS-CV": "QUxG47JZ70q/HxF146sfZg.0"
            },
            "ResponseBody": {
                "value": [
                    {
                        "id": "99464414878638188",
                        "createdAt": "2023-04-21T02:36:43.5155872\u002B00:00",
                        "validFrom": "2023-05-01T22:08:46.6009669\u002B00:00",
                        "validUntil": "2023-05-23T22:08:46.6009669\u002B00:00"
                    },
                    {
                        "id": "9942972699855444",
                        "createdAt": "2023-04-21T02:36:31.4492374\u002B00:00",
             [...]
        {
            "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-03-31-preview",
            "RequestMethod": "DELETE",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Wed, 10 May 2023 19:55:01 GMT"
            },
            "RequestBody": null,
            "StatusCode": 204,
            "ResponseHeaders": {
                "api-deprecated-versions": "2021-04-07",
                "api-supported-versions": "2022-02-01, 2023-03-31-preview",
                "MS-CV": "27Qb7z93SkW\u002BAFFYalHzBA.0"
            },
            "ResponseBody": null
        }
    ],
    "Variables": {
        "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-e2e-prod.communication.azure.com/;accesskey=Kg==",
        "RandomSeed": "1756997767"
    }
}
