{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 06 Jul 2023 18:38:36 GMT",
        "Repeatability-Request-ID": "04ca2a85-d694-45db-8a6e-1a7ccdc8c5de",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 06 Jul 2023 18:38:36 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99417089365195529",
        "MS-CV": "bYt\u002BNzZIHUqSaVQHmzcFhg.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99417089365195529",
        "createdAt": "2023-07-06T18:38:37.4725904\u002B00:00",
        "validFrom": "2023-07-06T18:38:37.3177615\u002B00:00",
        "validUntil": "2024-01-02T18:38:37.3177615\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2023-06-14",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 06 Jul 2023 18:38:36 GMT"
      },
      "RequestBody": {
        "participants": {
          "invalid_mri": null
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01, 2023-03-31-preview, 2023-06-14",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "cuvAhs1/b0Ox5Nqh05UP4Q.0",
        "x-ms-error-code": "BadRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "Invalid value for the Participants."
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.unitedstates.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1528490977"
  }
}
