{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Apr 2023 19:27:51 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "OYLQJVT\u002B70WEs1ERw9Gbog.0",
        "X-Processing-Time": "21ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-11ab-928a-3400-08bd4560fb30"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Tue, 11 Apr 2023 19:27:52 GMT",
        "Repeatability-Request-ID": "aec620a0-1766-436a-8507-f97ea8e6b1c8",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Apr 2023 19:27:52 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-11ab-928a-3400-08bd4560fb30": {
            "role": "Presenter"
          },
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-11ab-92cd-3400-08bd4560fb31": {
            "role": "Attendee"
          },
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-11ab-934f-3400-08bd4560fb32": {
            "role": "Presenter"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99422160657629900",
        "MS-CV": "GkHKDDXWn0CU/U1\u002BT9GZwg.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99422160657629900",
        "createdAt": "2023-04-11T19:27:52.3754515\u002B00:00",
        "validFrom": "2023-04-11T19:27:52.1615401\u002B00:00",
        "validUntil": "2023-04-12T19:27:52.1615401\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2023-03-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Apr 2023 19:27:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "SnOPBWnZik6fjddjSRxZ7g.0"
      },
      "ResponseBody": {
        "value": [
          {
            "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-11ab-928a-3400-08bd4560fb30",
            "role": "Presenter"
          },
          {
            "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-11ab-92cd-3400-08bd4560fb31",
            "role": "Attendee"
          },
          {
            "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-11ab-934f-3400-08bd4560fb32",
            "role": "Presenter"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-03-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Apr 2023 19:27:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01, 2023-03-31-preview",
        "MS-CV": "1En3yGFWt0WUyE7wAsbVAw.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1745781502"
  }
}
