{
  "Entries": [
    {
      "RequestUri": "https://rooms-e2e-prod.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Apr 2022 19:46:32 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "1puu98QNBkK5Vw/Tdp764Q.0",
        "X-Processing-Time": "90ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:42a0ff0c-356d-4487-a288-ad0aad95d504_00000011-16bd-f909-290c-113a0d00f325"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rooms-e2e-prod.communication.azure.com/rooms?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "2022-04-29T19:46:33.6455931Z",
        "Repeatability-Request-ID": "0441b1de-932b-43e0-9f9a-adfcf7ebac23",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Apr 2022 19:46:33 GMT"
      },
      "RequestBody": {
        "validFrom": "2022-05-01T00:00:00.0000000Z",
        "validUntil": "2022-05-02T00:00:00.0000000Z",
        "participants": {
          "8:acs:42a0ff0c-356d-4487-a288-ad0aad95d504_00000011-16bd-f909-290c-113a0d00f325": {
            "role": "Presenter"
          },
          "8:acs:42a0ff0c-356d-4487-a288-ad0aad95d504_00000011-16bd-f9d6-290c-113a0d00f326": {
            "role": "Organizer"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "9943843362918989",
        "MS-CV": "OPa\u002BdCJACU6508vOZ8abNw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "9943843362918989",
        "createdDateTime": "2022-04-29T19:46:34.113885\u002B00:00",
        "validFrom": "2022-05-01T00:00:00\u002B00:00",
        "validUntil": "2022-05-02T00:00:00\u002B00:00",
        "participants": {
          "8:acs:42a0ff0c-356d-4487-a288-ad0aad95d504_00000011-16bd-f909-290c-113a0d00f325": {
            "role": "Presenter"
          },
          "8:acs:42a0ff0c-356d-4487-a288-ad0aad95d504_00000011-16bd-f9d6-290c-113a0d00f326": {
            "role": "Organizer"
          }
        }
      }
    },
    {
      "RequestUri": "https://rooms-e2e-prod.communication.azure.com/rooms/9943843362918989?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Apr 2022 19:46:34 GMT"
      },
      "RequestBody": {
        "participants": {
          "8:acs:42a0ff0c-356d-4487-a288-ad0aad95d504_00000011-16b[...]
    {
      "RequestUri": "https://rooms-e2e-prod.communication.azure.com/rooms/9943843362918989?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Apr 2022 19:46:34 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01",
        "MS-CV": "AAZAYLWx8kGj88ReH/bkiw.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rooms-e2e-prod.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "275254154"
  }
}
