{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 31 Mar 2023 17:15:34 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "E3GNOA8J4Eq19xmtCD4/9g.0",
        "X-Processing-Time": "23ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-d88c-7b3b-1788-094822004e55"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Fri, 31 Mar 2023 17:15:34 GMT",
        "Repeatability-Request-ID": "8c81e164-973f-404d-a8cb-165a9d41cf3d",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 31 Mar 2023 17:15:34 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-d88c-7b3b-1788-094822004e55": {
            "role": "Presenter"
          },
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-d88c-7b82-1788-094822004e56": {},
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-d88c-7bc2-1788-094822004e57": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99478675162792963",
        "MS-CV": "os9bLTb/o0OU6F5EPlhvaQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99478675162792963",
        "createdAt": "2023-03-31T17:15:33.6082757\u002B00:00",
        "validFrom": "2023-03-31T17:15:34.7674165\u002B00:00",
        "validUntil": "2023-04-01T17:15:34.7674165\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2023-03-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 31 Mar 2023 17:15:35 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "b6CrLIdPXUC5hDmqUP\u002BmBg.0"
      },
      "ResponseBody": {
        "value": [
          {
            "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-d88c-7b3b-1788-094822004e55",
            "role": "Presenter"
          },
          {
            "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-d88c-7b82-1788-094822004e56",
            "role": "Attendee"
          },
          {
            "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-d88c-7bc2-1788-094822004e57",
            "role": "Attendee"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-03-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 31 Mar 2023 17:15:37 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07, 2022-02-01, 2023-03-31-preview",
        "MS-CV": "E2Y0p4IoS0aezZjri/h\u002BOA.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-us.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1254836778"
  }
}
