{
  "Entries": [
    {
      "RequestUri": "https://contosoprodwus2.api.prod.adu.microsoft.com/deviceupdate/blue/v2/management/deviceclasses",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022value\u0022: [\r\n",
        "    {\r\n",
        "      \u0022deviceClassId\u0022: \u0022c97c9c774a1c541ecc88e8c65b6431fd8b7eafc3\u0022,\r\n",
        "      \u0022manufacturer\u0022: \u0022Microsoft-Corporation\u0022,\r\n",
        "      \u0022model\u0022: \u0022Virtual-Machine\u0022,\r\n",
        "      \u0022bestCompatibleUpdateId\u0022: {\r\n",
        "        \u0022provider\u0022: \u0022Microsoft-Corporation\u0022,\r\n",
        "        \u0022name\u[...]
