{
  "Entries": [
    {
      "RequestUri": "https://contosoprod.api.prod.adu.microsoft.com/deviceupdate/blue/v2/management/devices",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "deviceId": "functionaltests-device1",
            "deviceClassId": "c97c9c774a1c541ecc88e8c65b6431fd8b7eafc3",
            "manufacturer": "Microsoft-Corporation",
            "model": "Virtual-Machine",
            "lastAttemptedUpdateId": null,
            "installedUpdateId": null,
            "onLatestUpdate": true,
            "deploymentStatus": "InProgress",
            "groupId": "functionaltests-groupname1",
            "lastDeploymentId": "24975a81-aa92-4e70-a4de-9ae074a51d8b"
          },
          {
            "deviceId": "adu-raspi-e2etest-raps-prod",
            "deviceClassId": "e27bc5237d50fee933b11146d6804f3acdd605dd",
            "manufacturer": "Contoso",
            "model": "ADU-Raspberry-Pi-Example",
            "lastAttemptedUpdateId": {
              "provider": "contoso",
              "name": "adu-raspberry-pi-example",
              "version": "1.0.1355.1"
            },
            "installedUpdateId": {
              "provider": "contoso",
              "name": "adu-raspberry-pi-example",
              "version": "1.0.1355.1"
            },
            "onLatestUpdate": false,
            "deploymentStatus": "Succeeded",
            "groupId": null,
            "lastDeploymentId": "[ManagementE2ETest] 45446ff1-4c19-4c0a-ab56-ea95eeb37321"
          },
          {
            "deviceId": "dpokluda-test",
            "deviceClassId":[...]
