{
  "Entries": [
    {
      "RequestUri": "https://contosoprodwus2.api.prod.adu.microsoft.com/deviceupdate/blue/v2/management/groups",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022value\u0022: [\r\n",
        "    {\r\n",
        "      \u0022groupId\u0022: \u0022Uncategorized\u0022,\r\n",
        "      \u0022tags\u0022: [],\r\n",
        "      \u0022createdDateTime\u0022: \u00222021-02-04T21:55:58.7115058\u002B00:00\u0022,\r\n",
        "      \u0022groupType\u0022: \u0022IoTHubTag\u0022,\r\n",
        "      \u0022deviceCount\u0022: 3\r\n",
        "    },\r\n",
        "    {\r\n",
        "      \u0022groupId\u0022: \u0022dpokluda-test\u0022,\r\n",
        "      \u0022tags\u0022: [\r\n",
        "        \u0022dpokluda-test\u0022\r\n",
        "      ],\r\n",
        "      \u0022createdDateTime\u0022: \u00222021-02-09T23:28:03\u002B00:00\u0022,\r\n",
        "      \u0022groupType\u0022: \u0022IoTHubTag\u0022,\r\n",
        "      \u0022deviceCount\u0022: 1\r\n",
        "    },\r\n",
        "    {\r\n",
        "      \u0022groupId\u0022: \u0022my-test\u0022,\r\n",
        "      \u0022tags\u0022: [\r\n",
        "        \u0022my-test\u0022\r\n",
        "      ],\r\n",
        "      \u0022createdDateTime\u0022: \u00222021-02-15T01:11:54\u002B00:00\u0022,\r\n",
        "      \u0022groupType\u0022: \u0022IoTHubTag\u0022,\r\n",
        "      \u0022deviceCount\u0022: 0\r\n",
        "    }\r\n",
        "  ]\r\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "contosoprodwus2.api.prod.adu.microsoft.com",
    "DEVICEUPDATE_INSTANCE_ID": "blue",
    "RandomSeed": "23114203"
  }
}