{
  "Entries": [
    {
      "RequestUri": "https://contosoprod.api.prod.adu.microsoft.com/deviceupdate/blue/v2/management/deviceclasses/b83e3c87fbf98063c20c3269f1c9e58d255906dd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022deviceClassId\u0022: \u0022b83e3c87fbf98063c20c3269f1c9e58d255906dd\u0022,\r\n",
        "  \u0022manufacturer\u0022: \u0022Contoso\u0022,\r\n",
        "  \u0022model\u0022: \u0022Virtual-Machine\u0022,\r\n",
        "  \u0022bestCompatibleUpdateId\u0022: {\r\n",
        "    \u0022provider\u0022: \u0022Contoso\u0022,\r\n",
        "    \u0022name\u0022: \u0022Virtual-Machine\u0022,\r\n",
        "    \u0022version\u0022: \u00222020.1104.1616.17\u0022\r\n",
        "  }\r\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "contosoprod.api.prod.adu.microsoft.com",
    "DEVICEUPDATE_INSTANCE_ID": "blue",
    "RandomSeed": "1131599422"
  }
}