{
  "Entries": [
    {
      "RequestUri": "https://contosoprodwus2.api.prod.adu.microsoft.com/deviceupdate/blue/v2/management/devices/dpokluda-test",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "deviceId": "dpokluda-test",
        "moduleId": null,
        "deviceClassId": "b83e3c87fbf98063c20c3269f1c9e58d255906dd",
        "manufacturer": "Contoso",
        "model": "Virtual-Machine",
        "lastAttemptedUpdateId": {
          "provider": "Contoso",
          "name": "Virtual-Machine",
          "version": "2021.302.1202.48"
        },
        "installedUpdateId": {
          "provider": "Contoso",
          "name": "Virtual-Machine",
          "version": "2021.302.1202.48"
        },
        "onLatestUpdate": true,
        "deploymentStatus": "Succeeded",
        "groupId": "dpokluda-test",
        "lastDeploymentId": "07efd653e403453d90d49427a988ad57"
      }
    }
  ],
  "Variables": {
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "contosoprodwus2.api.prod.adu.microsoft.com",
    "DEVICEUPDATE_DEVICE_ID": "dpokluda-test",
    "DEVICEUPDATE_INSTANCE_ID": "blue",
    "RandomSeed": "1320659871"
  }
}