{
  "Entries": [
    {
      "RequestUri": "https://contosoprodwus2.api.prod.adu.microsoft.com/deviceupdate/blue/v2/management/groups/foo/updateCompliance",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/problem\u002Bjson; charset=utf-8"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022type\u0022: \u0022https://tools.ietf.org/html/rfc7231#section-6.5.4\u0022,\r\n",
        "  \u0022title\u0022: \u0022Not Found\u0022,\r\n",
        "  \u0022status\u0022: 404,\r\n",
        "  \u0022traceId\u0022: \u002200-0d84b24e7080bc4cba6a253ba48a6f23-c652ce717a9a784e-00\u0022\r\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "contosoprodwus2.api.prod.adu.microsoft.com",
    "DEVICEUPDATE_INSTANCE_ID": "blue",
    "RandomSeed": "211236400"
  }
}