{
  "Entries": [
    {
      "RequestUri": "https://contosoprod.api.prod.adu.microsoft.com/deviceupdate/blue/v2/management/groups/dpokluda-test/bestUpdates",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022value\u0022: [\r\n",
        "    {\r\n",
        "      \u0022updateId\u0022: {\r\n",
        "        \u0022provider\u0022: \u0022Contoso\u0022,\r\n",
        "        \u0022name\u0022: \u0022Virtual-Machine\u0022,\r\n",
        "        \u0022version\u0022: \u00222020.1104.1616.17\u0022\r\n",
        "      },\r\n",
        "      \u0022deviceCount\u0022: 0\r\n",
        "    }\r\n",
        "  ]\r\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "contosoprod.api.prod.adu.microsoft.com",
    "DEVICEUPDATE_DEVICE_ID": "dpokluda-test",
    "DEVICEUPDATE_INSTANCE_ID": "blue",
    "RandomSeed": "107024186"
  }
}