{
  "Entries": [
    {
      "RequestUri": "https://contosoprodwus2.api.prod.adu.microsoft.com/deviceupdate/blue/v2/management/updatecompliance",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022totalDeviceCount\u0022: 4,\r\n",
        "  \u0022onLatestUpdateDeviceCount\u0022: 1,\r\n",
        "  \u0022newUpdatesAvailableDeviceCount\u0022: 0,\r\n",
        "  \u0022updatesInProgressDeviceCount\u0022: 0\r\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "contosoprodwus2.api.prod.adu.microsoft.com",
    "DEVICEUPDATE_INSTANCE_ID": "blue",
    "RandomSeed": "54219554"
  }
}