{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin535275433?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-cb832aebdce95db958eec58dc747483a-c2fec512dd522f44-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin535275433. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11961838?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "92311da6-bc31-484c-a5ea-0789a351d599",
        "traceresponse": "00-3249a787c367788925535dd26eb18862-3747a6b1dba8684b-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11961838. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B141615891?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a642d9dd-5cf0-421b-b0c2-a73f41e3d33f",
        "traceresponse": "00-6fc5fcd079ea87a895e0bdc7e2e55ade-cd07fc4762db4449-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;141615891. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;141615891\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a building.\u0[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "135b2e07-b22e-4c7b-a53b-d21ce22cd1e4",
        "traceresponse": "00-ae32532ab9ebb0355666a74bfd3f84ca-85945df3c642e842-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:Ward;113089428",
            "description": {
              "en-US": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en-US": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-05-26T01:04:05.1560817\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;115732946",
            "description": {
              "en-US": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en-US": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-05-26T01:04:05.1564508\u002B00:00"
          },
          {
            "id": "dtmi:example:room;116996374",[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin535275433?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "$metadata": {
          "$model": "dtmi:example:room;141615891"
        },
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00226ed95d27-865b-449f-a4f9-ea0b42c4f58c\u0022",
        "traceresponse": "00-3ca98251bda7aaa5a523d2fd9877e60e-f060a4c8a551e94a-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin535275433",
        "$etag": "W/\u00226ed95d27-865b-449f-a4f9-ea0b42c4f58c\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;141615891",
          "$lastUpdateTime": "2022-05-26T01:31:02.9819867Z",
          "Temperature": {
            "lastUpdateTime": "2022-05-26T01:31:02.9819867Z"
          },
          "Humidity": {
            "lastUpdateTime": "2022-05-26T01:31:02.9819867Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-05-26T01:31:02.9819867Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2022-05-26T01:31:02.9819867Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin535275433?api-version=2022-05-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch\u002Bjson",
        "If-Match": "*"
      },
      "RequestBody": "[{\u0022op\u0022:\u0022add\u0022,\u0022path\u0022:\u0022/Humidity\u0022,\u0022value\u0022:30},{\u0022op\u0022:\u0022replace\u0022,\u0022path\u0022:\u0022/Temperature\u0022,\u0022value\u0022:70},{\u0022op\u0022:\u0022replace\u0022,\u0022path\u0022:\u0022/$metadata/Temperature/sourceTime\u0022,\u0022value\u0022:\u00222022-01-20T02:03:00.0943478Z\u0022},{\u0022op\u0022:\u0022remove\u0022,\u0022path\u0022:\u0022/EmployeeId\u0022}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u002226e53700-3498-495a-9dff-bddb14d66071\u0022",
        "traceresponse": "00-be5d945f39a4133028746b664c64a565-b23c01f5f11c514b-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B141615891?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "b1a9674f-27c8-4c99-b201-390d5790f991",
        "traceresponse": "00-0a107b8e9b511a37143df9222136f02f-17af952d0cdea642-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "211074658"
  }
}
