{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1500009210?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bd5cf78c-df7b-4d2c-9a6c-e257e088b58c",
        "traceresponse": "00-cd39506fe390dd55e23a36d732bf0dc3-aa33c8ac858a1e96-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1500009210. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11287265?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e37d971e-b436-4988-9c24-d7a7ea92af5a",
        "traceresponse": "00-a3955226823986bb76c37bfce1f27b45-23dac15cfb4fb0f4-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11287265. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B199770337?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3ffcd4ae-f8f8-45df-9d1b-4f5c324a8e7e",
        "traceresponse": "00-5fbd90e3a3ba61d24fc0d26903493c52-3fc6a7b4503426a6-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;199770337. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;199770337\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a building.\u0[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9ac5e812-0b2e-493d-ae78-d53d25dbb87c",
        "traceresponse": "00-65cb8476a9f5e704d1fcf7f05aef8a01-4732c1e6cc09279f-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:com:microsoft:azure:iot:demomodel900;1",
            "description": {
              "en": "This is the description of model"
            },
            "displayName": {
              "en": "This is the display name"
            },
            "decommissioned": false,
            "uploadTime": "2023-05-18T00:40:07.4729517\u002B00:00"
          },
          {
            "id": "dtmi:com:microsoft:azure:iot:model0;1",
            "description": {
              "en": "This is the description of model"
            },
            "displayName": {
              "en": "This is the display name"
            },
            "decommissioned": false,
            "uploadTime": "2023-05-18T00:50:17.6199536\u002B00:00"
          },
          {
            "id": "dtmi:com:microsoft:azure:iot:model1;[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1500009210?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;199770337"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022d10725b3-deb8-4613-82ce-c63ffa543ca9\u0022",
        "mise-correlation-id": "9d9dbad7-786e-4da2-a705-f85422c78886",
        "traceresponse": "00-92ea3f4d4553baca74ced55a69b11cc4-7ba19b1b1a2e3077-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1500009210",
        "$etag": "W/\u0022d10725b3-deb8-4613-82ce-c63ffa543ca9\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;199770337",
          "$lastUpdateTime": "2023-05-18T23:07:56.5386930Z",
          "Temperature": {
            "lastUpdateTime": "2023-05-18T23:07:56.5386930Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-05-18T23:07:56.5386930Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-05-18T23:07:56.5386930Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-05-18T23:07:56.5386930Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B199770337?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "4ff86f28-9326-4c38-b300-2c33059bb67f",
        "traceresponse": "00-9b5c79a3ad4131398b05c30c90075971-75adc48891952d96-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "739548344"
  }
}
