{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1849431799?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "048d16a1-779d-46ef-8073-3fb076f18b7b",
        "traceresponse": "00-14378dead15c8d2f385d9de038c973db-598c81b44fdbe9fb-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1849431799. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B17350335?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a4b54425-49a7-4334-b621-4827f01f60be",
        "traceresponse": "00-0a1d9f2affceffb446acecc7f10130e9-3af0d82918cc8e93-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;17350335. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B134037016?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a8b5e022-697b-4e7d-be77-915b19c9070e",
        "traceresponse": "00-a2a8b1d7cdc4c044ff039ba1f8c80bd6-c32ea2b4cf96326f-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;134037016. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;134037016\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a building.\u0[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c30e8e36-3daa-4640-86e7-99a292967877",
        "traceresponse": "00-9fbd9268a8885be01a378e6e93a36cd8-11c9e02fcc04c6bf-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:com:microsoft:azure:iot:demomodel900;1",
            "description": {
              "en": "This is the description of model"
            },
            "displayName": {
              "en": "This is the display name"
            },
            "decommissioned": false,
            "uploadTime": "2023-05-18T00:40:07.4729517\u002B00:00"
          },
          {
            "id": "dtmi:com:microsoft:azure:iot:model0;1",
            "description": {
              "en": "This is the description of model"
            },
            "displayName": {
              "en": "This is the display name"
            },
            "decommissioned": false,
            "uploadTime": "2023-05-18T00:50:17.6199536\u002B00:00"
          },
          {
            "id": "dtmi:com:microsoft:azure:iot:model1;[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1849431799?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;134037016"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00227fa1024e-55e8-461f-816a-c835343ffd5f\u0022",
        "mise-correlation-id": "12187067-92cc-4b92-8b52-d4f651fd341e",
        "traceresponse": "00-2e150d5662cfd25f11c175d9a74106ea-ec24497598489a08-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1849431799",
        "$etag": "W/\u00227fa1024e-55e8-461f-816a-c835343ffd5f\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;134037016",
          "$lastUpdateTime": "2023-05-18T23:07:54.9057049Z",
          "Temperature": {
            "lastUpdateTime": "2023-05-18T23:07:54.9057049Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-05-18T23:07:54.9057049Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-05-18T23:07:54.9057049Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-05-18T23:07:54.9057049Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1849431799?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;134037016"
        }
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "940b3e1b-63b9-441f-a98c-f525a74ddc07",
        "traceresponse": "00-8077d6767946eaf6fbe3e07ee9e625d9-8b9f01ecf8188c0a-01",
        "x-ms-error-code": "PreconditionFailed"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "If-None-Match: * header was specified but a twin with the id roomTwin1849431799 was found. Please specify a different twin id."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B134037016?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "38ec7beb-3320-4029-8cdf-e629da24fc1f",
        "traceresponse": "00-0cb1a8f3ca05e7aac3e346324894b8c3-6dc4b0dc78cf645e-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1778409426"
  }
}
