{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1355219331?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "69a04068-7c65-46ef-b5a6-c0dc070b12e7",
        "traceresponse": "00-90914af7cc2b5d4783c893539935bb74-89e98d2cffda8389-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1355219331. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11966023?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c22e97c9-f02a-45cd-9eac-f07f638a7105",
        "traceresponse": "00-73ddc699c6f39741893783ee3f24a24b-3eee341abed7e3eb-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11966023. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B113202986?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "04705642-c12e-44b1-abd4-fb992330d488",
        "traceresponse": "00-cdf548906997ee409d8ac6edec064bd5-c63c480329e68a83-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;113202986. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;113202986\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a building.\u0[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "78140cf5-33e4-4b64-9669-665d547bfcc1",
        "traceresponse": "00-9e20124747614a4bbdf9c1d5e8dcb19e-639db3d29b79bb44-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;121402403",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2022-06-29T09:12:41.9553675\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;152687811",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-06-29T09:16:39.2263719\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;131703964",
     [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1355219331?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;113202986"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00222ad0f321-e742-4b99-a9f7-deca42148b3f\u0022",
        "mise-correlation-id": "52544da8-91c3-4857-b00b-f78bfc6216d0",
        "traceresponse": "00-796ac145cea45344ba7034a0c3b60ced-5b9bf6ee3f3f17fa-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1355219331",
        "$etag": "W/\u00222ad0f321-e742-4b99-a9f7-deca42148b3f\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;113202986",
          "$lastUpdateTime": "2022-06-29T09:17:48.3999618Z",
          "Temperature": {
            "lastUpdateTime": "2022-06-29T09:17:48.3999618Z"
          },
          "Humidity": {
            "lastUpdateTime": "2022-06-29T09:17:48.3999618Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-06-29T09:17:48.3999618Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2022-06-29T09:17:48.3999618Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1355219331?api-version=2022-05-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch\u002Bjson",
        "If-Match": "*"
      },
      "RequestBody": "[{\u0022op\u0022:\u0022add\u0022,\u0022path\u0022:\u0022/Humidity\u0022,\u0022value\u0022:30},{\u0022op\u0022:\u0022replace\u0022,\u0022path\u0022:\u0022/Temperature\u0022,\u0022value\u0022:70},{\u0022op\u0022:\u0022remove\u0022,\u0022path\u0022:\u0022/EmployeeId\u0022}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u00226e02fcd8-5492-4bcf-89bd-02fd91032ba5\u0022",
        "mise-correlation-id": "e9988238-3435-440a-80b4-b1e038d20584",
        "traceresponse": "00-ccc0da2a6b353d478913b383c8d78e89-d11cf2ededbc0829-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B113202986?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "a15c0565-aced-4b94-85e9-46925ba58ec0",
        "traceresponse": "00-191271a88e23f84bb807f93c1ccbcd79-d5c07ac76bf5c64e-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "855611085"
  }
}
