{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1924728210?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cc8f13ce-8020-4c10-81eb-d1088ae5a2b8",
        "traceresponse": "00-9e8134f9d425c5552dee37911f0941db-d4340524ce803a01-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1924728210. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11859700?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2c4160b7-43a9-45b7-b4ef-15f7426a3a2b",
        "traceresponse": "00-0793413a6f88f9fa40bcfab32c17778a-6c1a93a6e3648fc8-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11859700. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B111442405?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "eb4a133b-a23d-458f-a35a-45a85322162f",
        "traceresponse": "00-ebc55c48bd0d03216b6d870fba2fd757-5c236f37e406f875-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;111442405. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;111442405\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a building.\u0[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "677ec925-5c7b-4334-be19-50bf9d5ee8de",
        "traceresponse": "00-1c8d9adbf3d90124770c95b712f67422-967599acf35e9c34-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:com:microsoft:azure:iot:demomodel900;1",
            "description": {
              "en": "This is the description of model"
            },
            "displayName": {
              "en": "This is the display name"
            },
            "decommissioned": false,
            "uploadTime": "2023-05-18T00:40:07.4729517\u002B00:00"
          },
          {
            "id": "dtmi:com:microsoft:azure:iot:model0;1",
            "description": {
              "en": "This is the description of model"
            },
            "displayName": {
              "en": "This is the display name"
            },
            "decommissioned": false,
            "uploadTime": "2023-05-18T00:50:17.6199536\u002B00:00"
          },
          {
            "id": "dtmi:com:microsoft:azure:iot:model1;[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1924728210?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;111442405"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022a219e927-1330-42be-996f-76721cb00090\u0022",
        "mise-correlation-id": "daf2e34c-af8f-435d-85c3-e7c5901a5a35",
        "traceresponse": "00-a53cef750c70a4de529092b2e4808745-a81bb4737cda1c72-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1924728210",
        "$etag": "W/\u0022a219e927-1330-42be-996f-76721cb00090\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;111442405",
          "$lastUpdateTime": "2023-05-18T23:08:01.8660869Z",
          "Temperature": {
            "lastUpdateTime": "2023-05-18T23:08:01.8660869Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-05-18T23:08:01.8660869Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-05-18T23:08:01.8660869Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-05-18T23:08:01.8660869Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1924728210?api-version=2023-06-30",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch\u002Bjson",
        "If-Match": "*"
      },
      "RequestBody": "[{\u0022op\u0022:\u0022add\u0022,\u0022path\u0022:\u0022/Humidity\u0022,\u0022value\u0022:30},{\u0022op\u0022:\u0022replace\u0022,\u0022path\u0022:\u0022/Temperature\u0022,\u0022value\u0022:70},{\u0022op\u0022:\u0022replace\u0022,\u0022path\u0022:\u0022/$metadata/Temperature/sourceTime\u0022,\u0022value\u0022:\u00222022-01-20T02:03:00.0943478Z\u0022},{\u0022op\u0022:\u0022remove\u0022,\u0022path\u0022:\u0022/EmployeeId\u0022}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022ff5ff13f-eb20-4c77-b798-4eeae86db59c\u0022",
        "mise-correlation-id": "39064145-1899-4c1f-a83e-b8fde4bb566a",
        "traceresponse": "00-a07f5f12540b319d8121d58c31b55515-ae814f682c6f0925-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B111442405?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "f48be15a-2a46-4127-ba89-219be80815f2",
        "traceresponse": "00-fea5c39c84862ce52e605229e1d4921a-b8182d4d1ffccc67-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1919693156"
  }
}
