{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin2145815592?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4ed54200-6f38-4d4b-b271-8927f1ef6d34",
        "traceresponse": "00-be21d97d1b1f6918719c5674c836eae2-accdebb125cd736d-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin2145815592. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11106816?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "23c74c43-5a90-4d56-8446-97f270f6ac9a",
        "traceresponse": "00-ab844ddb5bf302f8e34a65e0ed629348-9534bee62e35775f-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11106816. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B147335605?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "97e99ea5-33a5-4733-a00c-bbd7548d1b35",
        "traceresponse": "00-9487184e183378b50a68e582753c5a4b-58bdbdd52b2cdb60-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;147335605. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;147335605\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a buil[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0318ff2c-f746-4e93-8cbc-a1c5450b711b",
        "traceresponse": "00-fe7bc0634f924731f348aa785de65978-092813311fd378d5-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;172332512",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-30T18:49:13.4317179\u002B00:00"
          },
          {
            "id": "dtmi:example:room;120668288",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-30T18:49:13.443748\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;136137213",
            "description": {
         [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin2145815592?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;147335605"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022cbbb3030-2942-436c-84e5-a91d30ad0d00\u0022",
        "mise-correlation-id": "9ebfe96f-a718-482f-a947-ee950ead81d7",
        "traceresponse": "00-3928bf02ed583d496a58322672f7ccc3-631531fd9a239060-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin2145815592",
        "$etag": "W/\u0022cbbb3030-2942-436c-84e5-a91d30ad0d00\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;147335605",
          "$lastUpdateTime": "2023-02-01T23:58:10.7916733Z",
          "Temperature": {
            "lastUpdateTime": "2023-02-01T23:58:10.7916733Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-02-01T23:58:10.7916733Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-02-01T23:58:10.7916733Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-02-01T23:58:10.7916733Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin2145815592?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;147335605"
        }
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "afa2e900-6717-4f11-b9fe-bfa91142013a",
        "traceresponse": "00-52964d177f62938a9cb4a996e738070b-c548563e3ff2d4d7-01"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "If-None-Match: * header was specified but a twin with the id roomTwin2145815592 was found. Please specify a different twin id."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B147335605?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "aa70dbd6-a3e7-4786-a538-c61fe1a1d922",
        "traceresponse": "00-576032c2fe1b6c3fef139aa3a05a9e60-b7811188b92a8855-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "144112575"
  }
}
