{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin238253595?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2cdcaf02-3f8a-4641-a197-3f842837e92c",
        "traceresponse": "00-7e3f9e6c8bfaba45975c246d7a2e4f0b-37c9ed931d237aff-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin238253595. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B12041980?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fc3ccea1-382a-4c5a-ac52-737d5862389b",
        "traceresponse": "00-95cea9af370dce428d7d0e5ac6af405d-b86cb0d90495a564-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;12041980. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B123228694?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "73723898-3b1c-4e65-bdfd-e91e561d68a3",
        "traceresponse": "00-0aa1e82d89759046b2e80298ee148406-f65ec2b7efa263b6-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;123228694. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;123228694\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a buil[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ef69a010-f0a4-423f-8d64-c74feeeccd27",
        "traceresponse": "00-871a02c3945cdf4599403066a6b3f03e-9df783151ff5f68e-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:Ward;142582203",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-19T23:58:12.9369753\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;177753514",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-19T23:58:12.9483585\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;160994964",
     [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin238253595?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;123228694"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00223d64e47f-9e3a-41b3-9672-773c705c8adb\u0022",
        "mise-correlation-id": "6f54c29c-0f60-40e1-bb81-83cd1d8688dd",
        "traceresponse": "00-3fbab8c3d6f4914daa97e10234766e1c-a190324a5de50970-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin238253595",
        "$etag": "W/\u00223d64e47f-9e3a-41b3-9672-773c705c8adb\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;123228694",
          "$lastUpdateTime": "2023-01-24T01:01:37.0184707Z",
          "Temperature": {
            "lastUpdateTime": "2023-01-24T01:01:37.0184707Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-01-24T01:01:37.0184707Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-01-24T01:01:37.0184707Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-01-24T01:01:37.0184707Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin238253595?api-version=2023-02-27-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch\u002Bjson",
        "If-Match": "*"
      },
      "RequestBody": "[{\u0022op\u0022:\u0022add\u0022,\u0022path\u0022:\u0022/Humidity\u0022,\u0022value\u0022:30},{\u0022op\u0022:\u0022replace\u0022,\u0022path\u0022:\u0022/Temperature\u0022,\u0022value\u0022:70},{\u0022op\u0022:\u0022replace\u0022,\u0022path\u0022:\u0022/$metadata/Temperature/sourceTime\u0022,\u0022value\u0022:\u00222022-01-20T02:03:00.0943478Z\u0022},{\u0022op\u0022:\u0022remove\u0022,\u0022path\u0022:\u0022/EmployeeId\u0022}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022d56552cc-aba2-4bd4-932a-241b6c0ab86a\u0022",
        "mise-correlation-id": "eb3c859b-2d6c-4e00-be1a-d15d3eb89916",
        "traceresponse": "00-f2af4bdbc73d3c4087efd4e6c578afbe-b9ade950edcd25fd-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B123228694?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "2907b2c0-61ac-4057-92b4-c0f81ea051f4",
        "traceresponse": "00-88f5624753c7894b8ac5b13c2be57add-8021eb0f7b1f7dbd-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1135551376"
  }
}
