{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1084185015?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "51b9bef7-0fe4-48e8-b247-f0c8fedeca85",
        "traceresponse": "00-bfcd208aa7f56541b37254a0e883d934-2f7bbdd692f5b1f5-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1084185015. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11216398?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "36417585-dd48-47fc-b1a8-1620dac40e8e",
        "traceresponse": "00-9f500c453098bc4282a97a01ecb9a303-0e77ef8ccceabb95-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11216398. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B120398842?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d521cc30-9929-4cef-b152-f07d94a9f85a",
        "traceresponse": "00-9fd0202090dc754e9084cb3aaece5245-eadefff08503480f-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;120398842. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;120398842\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a buil[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c28d9fea-403f-4fb7-98b6-f3b224f3f64f",
        "traceresponse": "00-a6ad06fd4eafbb429519fe79f14612e0-cfcb8b2a5be2bc3f-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;113146068",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-02-15T17:42:08.2255171\u002B00:00"
          },
          {
            "id": "dtmi:example:room;130376293",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-02-15T17:42:08.3082608\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;111396979",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1084185015?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;120398842"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022306f5f82-5681-4bca-a809-60ec706950cc\u0022",
        "mise-correlation-id": "e3ebbd66-74df-4668-9118-bbd279c4e0e4",
        "traceresponse": "00-871fb546c519f4479044f3cc51bdd59d-af805859063ad204-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1084185015",
        "$etag": "W/\u0022306f5f82-5681-4bca-a809-60ec706950cc\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;120398842",
          "$lastUpdateTime": "2023-02-15T21:31:05.4124221Z",
          "Temperature": {
            "lastUpdateTime": "2023-02-15T21:31:05.4124221Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-02-15T21:31:05.4124221Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-02-15T21:31:05.4124221Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-02-15T21:31:05.4124221Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1084185015?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022306f5f82-5681-4bca-a809-60ec706950cc\u0022",
        "mise-correlation-id": "5c5938d4-a07c-4124-abcd-711e86278926",
        "traceresponse": "00-9cfd707ef3b1b941a291ad8903e3eded-0f636a4a86d26f34-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1084185015",
        "$etag": "W/\u0022306f5f82-5681-4bca-a809-60ec706950cc\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;120398842",
          "$lastUpdateTime": "2023-02-15T21:31:05.4124221Z",
          "Temperature": {
            "lastUpdateTime": "2023-02-15T21:31:05.4124221Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-02-15T21:31:05.4124221Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-02-15T21:31:05.4124221Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-02-15T21:31:05.4124221Z"
          }
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "167307568"
  }
}
