{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin298405819?api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022b4d76a9b-9fc8-4251-8ade-4620e3029b96\u0022",
        "traceresponse": "00-8ac4f96e5efa8c4a84d7921ba47d1c80-496edd3a5605d145-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin298405819",
        "$etag": "W/\u0022b4d76a9b-9fc8-4251-8ade-4620e3029b96\u0022",
        "Temperature": 70,
        "Humidity": 80,
        "IsOccupied": true,
        "$metadata": {
          "$model": "dtmi:example:room;117174263",
          "Temperature": {
            "lastUpdateTime": "2022-01-20T06:09:38.7476617Z"
          },
          "Humidity": {
            "lastUpdateTime": "2022-01-20T06:09:39.1946594Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-01-20T06:09:38.4440311Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin171742636?api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-10dc800171cab94dba6ad769e966e2e8-1dcab8a214a9da4c-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin171742636. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B14034842?includeModelDefinition=true\u0026api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-9126dc4748b9094f9f2ed065a9fbbc20-e9908626b3366049-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;14034842. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B189522296?includeModelDefinition=true\u0026api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-0fe03a834077d24bbafc3ce5ea199c6a-86516646b76d684e-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;189522296. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;189522296\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a buil[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-16a3d639b971d044b94d89d8ef22165b-27e8cd69950baa45-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:Ward;145613168",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-01-20T06:09:22.6352542\u002B00:00"
          },
          {
            "id": "dtmi:example:room;133999852",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2022-01-20T06:09:22.9537885\u002B00:00"
          },
          {
            "id": "dtmi:example:room;111892730",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin171742636?api-version=2021-06-30-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "$metadata": {
          "$model": "dtmi:example:room;189522296"
        },
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022f8256ef1-8b8d-4a76-837a-b36e733b1466\u0022",
        "traceresponse": "00-e958dd74927cc649917e41bd840bfe04-d18beecb6a095c4e-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin171742636",
        "$etag": "W/\u0022f8256ef1-8b8d-4a76-837a-b36e733b1466\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;189522296",
          "Temperature": {
            "lastUpdateTime": "2022-01-20T06:11:45.3517182Z"
          },
          "Humidity": {
            "lastUpdateTime": "2022-01-20T06:11:45.3517182Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-01-20T06:11:45.3517182Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2022-01-20T06:11:45.3517182Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin171742636?api-version=2021-06-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch\u002Bjson",
        "If-Match": "*"
      },
      "RequestBody": "[{\u0022op\u0022:\u0022add\u0022,\u0022path\u0022:\u0022/Humidity\u0022,\u0022value\u0022:30},{\u0022op\u0022:\u0022replace\u0022,\u0022path\u0022:\u0022/Temperature\u0022,\u0022value\u0022:70},{\u0022op\u0022:\u0022remove\u0022,\u0022path\u0022:\u0022/EmployeeId\u0022}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022cbd9d5dd-5f5f-4353-bc55-d4ffb6615514\u0022",
        "traceresponse": "00-c39b3e960583c847a19c5cc12662702d-e6c4f7daee4f174a-01"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B189522296?api-version=2021-06-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "traceresponse": "00-8e2cd1604e53104994456e17e36b95a3-c0f711e3a5833942-01"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "536687683"
  }
}