{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1950063862?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ff62efb4-e2c3-4224-a691-e01176c21a81",
        "traceresponse": "00-eefffc4a4a8059c7851ec9f19782b44f-eed1bf6096e240a2-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1950063862. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B18252880?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "82a8de31-de88-4b81-af98-0dac340be1f4",
        "traceresponse": "00-b0655ee18b6fafd6a89722332461a1e4-c4672bcce51366fc-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;18252880. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B133283964?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cddf330a-e744-4c56-ae97-ace6950ffb3c",
        "traceresponse": "00-394f6bc8d16db35627443811ba3b8a6a-546e993ac622def0-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;133283964. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \"@id\": \"dtmi:example:room;133283964\",    \"@type\": \"Interface\",    \"displayName\": \"Room\",    \"description\": \"An enclosure inside a building.\",    \"contents\": [        {            \"@type\": \"Relationship\",            \"name\": \"containedIn\",            \"target\": \"dtmi:example:floor;18252880\"        },        {            \"@type\": \"Property\",            \"name\": \"Temperature\",            \"schema\": \"double\"        },        {            \"@type\": \"Property\",            \"name\": \"Humidity\",            \"schema\": \"double\"        },        {            \"@type\": \"Property\",            \"name\": \"IsOccupied\",            \"schema\": \"boolean\"        },        {            \"@type\": \"Property\",            \"name\": \"EmployeeId\",            \"schema\": \"string\"        }    ],    \"@context\": \"dtmi:dtdl:context;2\"}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "abf61bac-a3a1-4b92-b5a6-a887657e0a58",
        "traceresponse": "00-95bc7907700739c6ee7a183d14249800-f4cd9740981c1845-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:example:room;133283964\",\"description\":{\"en\":\"An enclosure inside a building.\"},\"displayName\":{\"en\":\"Room\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-02T14:55:24.1517427+00:00\"}]"
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ba28a45f-9403-494f-96ed-dfe4008d9cc0",
        "traceresponse": "00-88d3d761dee5d5596bc13c1168d8c5bc-d5f4e0068cfc9cf8-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;119382704",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T14:44:45.4197809+00:00"
          },
          {
            "id": "dtmi:example:room;114026432",
            "description": {
              "en": "An enclosure inside a building."
           [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1950063862?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;133283964"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"614b365e-17b0-4a31-9529-b541dfa33015\"",
        "mise-correlation-id": "cc8fe3ad-918c-492c-a976-eb2ed996ab9d",
        "traceresponse": "00-15536ddd9378abf4e16a85e8210c1ad3-6477100d85f73d94-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1950063862",
        "$etag": "W/\"614b365e-17b0-4a31-9529-b541dfa33015\"",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;133283964",
          "$lastUpdateTime": "2025-05-02T14:55:29.5468038Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-02T14:55:29.5468038Z"
          },
          "Humidity": {
            "lastUpdateTime": "2025-05-02T14:55:29.5468038Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-02T14:55:29.5468038Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2025-05-02T14:55:29.5468038Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1950063862?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"614b365e-17b0-4a31-9529-b541dfa33015\"",
        "mise-correlation-id": "0ca533df-9151-4144-893e-4028eaadf5b0",
        "traceresponse": "00-f5ae984515355db5f4518cf3899eda0b-f78728d63d6ef0e8-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1950063862",
        "$etag": "W/\"614b365e-17b0-4a31-9529-b541dfa33015\"",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;133283964",
          "$lastUpdateTime": "2025-05-02T14:55:29.5468038Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-02T14:55:29.5468038Z"
          },
          "Humidity": {
            "lastUpdateTime": "2025-05-02T14:55:29.5468038Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-02T14:55:29.5468038Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2025-05-02T14:55:29.5468038Z"
          }
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "225205437"
  }
}
