{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin635546497?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "32822278-0e47-4861-88c0-72bdaa8f79a2",
        "traceresponse": "00-64d0dd2e01c5af43bc9b202300034a59-a86fce72299cf0fb-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin635546497. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B16083188?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "148937eb-8105-45f0-9ab3-e42a0ee27c8c",
        "traceresponse": "00-8d3f6e018c576b40a1cb79503b05e365-1f7eab092ccb0a62-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;16083188. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B110568059?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c9d3f9ff-36b2-4089-8d42-0be9cb8f8ef8",
        "traceresponse": "00-d12c6e450b749542a2bbe3f44244dea7-9459f8271d0fa27b-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;110568059. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;110568059\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a buil[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f2f7268a-81ea-4738-a578-210f65bf24ef",
        "traceresponse": "00-cb4507eacdc7c14b81d6d33290df8e12-2d9fa2ed532775be-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:Ward;142582203",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-19T23:58:12.9369753\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;177753514",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-19T23:58:12.9483585\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;160994964",
     [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin635546497?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;110568059"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022a2de503d-0db4-4d8e-8563-51a2afab3274\u0022",
        "mise-correlation-id": "4480fd27-be78-4823-9b2d-5f235688bba9",
        "traceresponse": "00-151eae6f9ddceb4d9ab10181890f5b74-83c2e20a49f4441e-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin635546497",
        "$etag": "W/\u0022a2de503d-0db4-4d8e-8563-51a2afab3274\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;110568059",
          "$lastUpdateTime": "2023-01-24T01:04:14.4873224Z",
          "Temperature": {
            "lastUpdateTime": "2023-01-24T01:04:14.4873224Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-01-24T01:04:14.4873224Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-01-24T01:04:14.4873224Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-01-24T01:04:14.4873224Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin635546497?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022a2de503d-0db4-4d8e-8563-51a2afab3274\u0022",
        "mise-correlation-id": "c5942c82-d060-4160-8ba4-2563970e6e18",
        "traceresponse": "00-1532380e3ca20e42ad6bd02f18c7477b-7173f5a2ab294c7f-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin635546497",
        "$etag": "W/\u0022a2de503d-0db4-4d8e-8563-51a2afab3274\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;110568059",
          "$lastUpdateTime": "2023-01-24T01:04:14.4873224Z",
          "Temperature": {
            "lastUpdateTime": "2023-01-24T01:04:14.4873224Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-01-24T01:04:14.4873224Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-01-24T01:04:14.4873224Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-01-24T01:04:14.4873224Z"
          }
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "13897222"
  }
}
