{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1522261906?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-ac8d924718b2927fd487d8806cc6cec0-526aff1b6dabdb40-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1522261906. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B16965343?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d7c0857e-8db2-4ade-8e10-030c4a5311fe",
        "traceresponse": "00-6dcaf77407c9f3128d9e2abba320c443-712bc07083330149-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;16965343. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B187010417?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1f18b0d0-28cf-4837-8e7a-e2b4ac9e2408",
        "traceresponse": "00-07641ec6bceca69e7cf883e962cde237-9a54096949ff9b4c-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;187010417. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;187010417\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a building.\u0[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "19056268-c386-469b-b9f5-b59ff01e3f7f",
        "traceresponse": "00-80fa4c50e4e0992435aea1c8a8443a5f-f2f17a0a6688554a-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:Ward;113089428",
            "description": {
              "en-US": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en-US": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-05-26T01:04:05.1560817\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;115732946",
            "description": {
              "en-US": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en-US": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-05-26T01:04:05.1564508\u002B00:00"
          },
          {
            "id": "dtmi:example:room;116996374",[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1522261906?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "$metadata": {
          "$model": "dtmi:example:room;187010417"
        },
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00222f2d7484-dedf-4734-90af-8b77914f3868\u0022",
        "traceresponse": "00-08e1b0c827cf941388231fab853506a8-a163509f9620ac47-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1522261906",
        "$etag": "W/\u00222f2d7484-dedf-4734-90af-8b77914f3868\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;187010417",
          "$lastUpdateTime": "2022-05-26T01:31:00.0806702Z",
          "Temperature": {
            "lastUpdateTime": "2022-05-26T01:31:00.0806702Z"
          },
          "Humidity": {
            "lastUpdateTime": "2022-05-26T01:31:00.0806702Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-05-26T01:31:00.0806702Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2022-05-26T01:31:00.0806702Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1522261906?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00222f2d7484-dedf-4734-90af-8b77914f3868\u0022",
        "traceresponse": "00-0c4594b63d9925cdccff2b7a29f166dc-964ccc873a146845-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1522261906",
        "$etag": "W/\u00222f2d7484-dedf-4734-90af-8b77914f3868\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;187010417",
          "$lastUpdateTime": "2022-05-26T01:31:00.0806702Z",
          "Temperature": {
            "lastUpdateTime": "2022-05-26T01:31:00.0806702Z"
          },
          "Humidity": {
            "lastUpdateTime": "2022-05-26T01:31:00.0806702Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-05-26T01:31:00.0806702Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2022-05-26T01:31:00.0806702Z"
          }
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1452704016"
  }
}
