{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-825?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-825",
        "name": "testRG-825",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-825/providers/Microsoft.StreamAnalytics/streamingjobs/testJob-?api-version=2021-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "sku": {
            "name": "Standard"
          },
          "eventsOutOfOrderPolicy": "Drop",
          "outputErrorPolicy": "Drop",
          "eventsOutOfOrderMaxDelayInSeconds": 0,
          "eventsLateArrivalMaxDelayInSeconds": 5,
          "dataLocale": "en-US",
          "compatibilityLevel": "1.0"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "8dbdb64e-eb9e-4f86-84e0-4e4d55ca4b76",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-825/providers/Microsoft.StreamAnalytics/streamingjobs/testJob-",
        "name": "testJob-",
        "type": "Microsoft.StreamAnalytics/streamingjobs",
        "location": "West US",
        "tags": {},
        "properties": {
          "sku": {
            "name": "Standard"
          },
          "jobId": "0f89902b-e8c1-4ec8-ac66-1b94562235c8",
          "provisioningState": "Succeeded",
          "jobState": "Created",
          "eventsOutOfOrderPolicy": "Drop",
          "outputErrorPolicy": "Drop",
          "eventsOutOfOrderMaxDelayInSeconds": 0,
          "eventsLateArrivalMaxDelayInSeconds": 5,
          "dataLocale": "en-US",
          "createdDate": "2022-08-29T07:50:04.11Z",
          "compatibilityLevel": "1.0",
          "jobStorageAccount": null,
          "contentStoragePolicy": "SystemAccount",
          "inputs": [],
          "functions": [],
          "outputs": [],
          "jobType": "Cloud",
          "cluster": null
        },
        "sku": {
          "name": "Standard"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-825/providers/Microsoft.StreamAnalytics/streamingjobs/testJob-/inputs/streamingJobInput-8062?api-version=2021-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "datasource": {
            "type": "Microsoft.Storage/Blob",
            "properties": {
              "storageAccounts": [
                {
                  "accountName": "myhditest0811hdistorage",
                  "accountKey": "$testAccountName$"
                }
              ],
              "container": "differentContainer",
              "pathPattern": "{date}/{time}",
              "dateFormat": "yyyy/MM/dd",
              "timeFormat": "HH",
              "sourcePartitionCount": 16
            }
          },
          "type": "Stream",
          "serialization": {
            "type": "Csv",
            "properties": {
              "fieldDelimiter": ",",
              "encoding": "UTF8"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "c9cd526a-461f-4c99-a153-8b7e93ba67d6",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-825/providers/Microsoft.StreamAnalytics/streamingjobs/testJob-/inputs/streamingJobInput-8062",
        "name": "streamingJobInput-8062",
        "type": "Microsoft.StreamAnalytics/streamingjobs/inputs",
        "properties": {
          "type": "Stream",
          "datasource": {
            "type": "Microsoft.Storage/Blob",
            "properties": {
              "sourcePartitionCount": 16,
              "storageAccounts": [
                {
                  "accountName": "myhditest0811hdistorage"
                }
              ],
              "container": "differentContainer",
              "pathPattern": "{date}/{time}",
              "dateFormat": "yyyy/MM/dd",
              "timeFormat": "HH",
              "authenticationMode": "ConnectionString"
            }
          },
          "compression": {
            "type": "None"
          },
          "serialization": {
            "type": "Csv",
            "properties": {
              "fieldDelimiter": ",",
              "encoding": "UTF8"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-825/providers/Microsoft.StreamAnalytics/streamingjobs/testJob-/inputs?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "198"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-825/providers/Microsoft.StreamAnalytics/streamingjobs/testJob-/inputs/streamingJobInput-8062",
            "name": "streamingJobInput-8062",
            "type": "Microsoft.StreamAnalytics/streamingjobs/inputs",
            "properties": {
              "type": "Stream",
              "datasource": {
                "type": "Microsoft.Storage/Blob",
                "properties": {
                  "sourcePartitionCount": 16,
                  "storageAccounts": [
                    {
                      "accountName": "myhditest0811hdistorage"
                    }
                  ],
                  "container": "differentContainer",
                  "pathPattern": "{date}/{time}",
                  "dateFormat": "yyyy/MM/dd",
                  "timeFormat": "HH",
                  "authenticationMode": "ConnectionString"
                }
              },
              "compression": {
                "type": "None"
              },
              "serialization": {
                "type": "Csv",
                "properties": {
                  "fieldDelimiter": ",",
                  "encoding": "UTF8"
                }
              },
              "etag": "cb510039-75ec-4aa9-9b9f-221576b1ac07"
            }
          }
        ],
        "nextLink": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-825/providers/Microsoft.StreamAnalytics/streamingjobs/testJob-/inputs/streamingJobInput-80621?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "196"
      },
      "ResponseBody": {
        "code": "NotFound",
        "message": "streamingJobInput-80621 does not exist in Stream Analytics job \u0027testJob-\u0027 in resource group \u0027testRG-825\u0027 in subscription \u0027db1ab6f0-4769-4b27-930e-01e2ef9c123c\u0027.",
        "details": {
          "code": "404",
          "message": "streamingJobInput-80621 does not exist in Stream Analytics job \u0027testJob-\u0027 in resource group \u0027testRG-825\u0027 in subscription \u0027db1ab6f0-4769-4b27-930e-01e2ef9c123c\u0027.",
          "correlationId": "d982cda5-58c3-41d6-9fa4-cc5445d72b46",
          "requestId": "ee4ea986-e2e3-a8a1-768e-e3138c296248"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1318762224",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
