{
  "Entries": [
    {
      "RequestUri": "/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationRecoveryPlans/rpTest1/failoverCommit?api-version=2018-07-10",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationRecoveryPlans/rpTest1/operationresults/4ebba536-f02c-4317-9a3c-1a048f0daebb?api-version=2018-07-10"
        ],
        "Retry-After": [
          "30"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationJobs/4ebba536-f02c-4317-9a3c-1a048f0daebb?api-version=2018-07-10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationJobs/4ebba536-f02c-4317-9a3c-1a048f0daebb?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationJobs/c3b0cd39-2f94-4630-9726-7e5eba8d1dfc\",\r\n  \"name\": \"c3b0cd39-2f94-4630-9726-7e5eba8d1dfc\",\r\n  \"properties\": {\r\n    \"activityId\": \"9cea4caf-6b79-4af4-a43f-36181bb55ac3 ActivityId: 8847ee14-2bfe-4cbf-9571-37f654f96d1b\",\r\n    \"scenarioName\": \"CommitFailover\",\r\n    \"friendlyName\": \"Commit\",\r\n    \"state\": \"Succeeded\",\r\n    \"stateDescription\": \"Completed\",\r\n    \"tasks\": [\r\n      {\r\n        \"taskId\": \"6eadfa52-62b2-42f3-b616-798091c03c95\",\r\n        \"name\": \"Unknown\",\r\n        \"startTime\": \"2017-05-13T18:09:53.881558Z\",\r\n        \"endTime\": \"2017-05-13T18:09:56.4053053Z\",\r\n        \"allowedActions\": [],\r\n        \"friendlyName\": \"Group 1: Commit (1)\",\r\n        \"state\": \"Succeeded\",\r\n        \"stateDescription\": \"Completed\",\r\n        \"taskType\": \"RecoveryPlanGroupTaskDetails\",\r\n        \"customDetails\": null,\r\n        \"groupTaskCustomDetails\": {\r\n          \"name\": \"Group1\",\r\n          \"groupId\": \"Group1\",\r\n          \"rpGroupType\": \"CommitGroup\",\r\n          \"instanceType\": \"RecoveryPlanGroupTaskDetails\",\r\n          \"childTasks\": [\r\n            {\r\n              \"taskId\": \"05bf85f2-d6d2-4f18-a23a-980520bcc78d\",\r\n              \"name\": \"Unknown\",\r\n              \"startTime\": \"2017-05-13T18:09:53.7409128Z\",\r\n              \"endTime\": \"2017-05-13T18:09:56.4053053Z\",\r\n              \"allowedActions\": [],\r\n              \"friendlyName\": \"vm1\",\r\n              \"state\": \"Succeeded\",\r\n              \"stateDescription\": \"Completed\",\r\n              \"taskType\": \"VirtualMachineTaskDetails\",\r\n              \"customDetails\": {\r\n                \"skippedReason\": \"None\",\r\n                \"skippedReasonString\": null,\r\n                \"jobTask\": {\r\n                  \"jobId\": \"/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationJobs/d9ee5f62-46b6-48f3-9365-327fc58e9885\",\r\n                  \"jobFriendlyName\": \"Commit\",\r\n                  \"targetObjectId\": \"f8491e4f-817a-40dd-a90c-af773978c75b\",\r\n                  \"targetObjectName\": \"vm1\",\r\n                  \"targetInstanceType\": \"Vm\",\r\n                  \"jobScenarioName\": \"CommitFailover\"\r\n                },\r\n                \"instanceType\": \"VirtualMachineTaskDetails\"\r\n              },\r\n              \"groupTaskCustomDetails\": null,\r\n              \"errors\": []\r\n            }\r\n          ]\r\n        },\r\n        \"errors\": []\r\n      }\r\n    ],\r\n    \"errors\": [],\r\n    \"startTime\": \"2017-05-13T18:09:53.4051525Z\",\r\n    \"endTime\": \"2017-05-13T18:09:55Z\",\r\n    \"allowedActions\": [],\r\n    \"targetObjectId\": \"bc06a2b0-c8b0-47ae-af1c-0dae26a8b61e\",\r\n    \"targetObjectName\": \"rpTest1\",\r\n    \"targetInstanceType\": \"RecoveryPlan\",\r\n    \"customDetails\": {\r\n      \"instanceType\": \"AsrJobDetails\",\r\n      \"affectedObjectDetails\": {\r\n        \"PrimaryVmmId\": \"fa06e03b-e306-52f4-a01f-88cdeba67a1c\",\r\n        \"PrimaryVmmName\": \"SiteRecoveryTestSite1\",\r\n        \"RecoveryVmmId\": \"21a9403c-6ec1-44f2-b744-b4e50b792387\",\r\n        \"RecoveryVmmName\": \"Microsoft Azure\",\r\n        \"PrimaryFabricProviderId\": \"HyperVSite\",\r\n        \"RecoveryFabricProviderId\": \"Azure\"\r\n      }\r\n    }\r\n  },\r\n  \"status\": \"Succeeded\",\r\n  \"error\": null,\r\n  \"startTime\": \"2017-05-13T18:09:53.4051525Z\",\r\n  \"endTime\": \"2017-05-13T18:09:55Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13944"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationRecoveryPlans/rpTest1?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationRecoveryPlans/rpTest1\",\r\n  \"name\": \"rpTest1\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/replicationRecoveryPlans\",\r\n  \"properties\": {\r\n    \"friendlyName\": \"rpTest1\",\r\n    \"primaryFabricId\": \"/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationFabrics/SiteRecoveryTestSite1\",\r\n    \"primaryFabricFriendlyName\": \"SiteRecoveryTestSite1\",\r\n    \"recoveryFabricId\": \"Microsoft Azure\",\r\n    \"recoveryFabricFriendlyName\": \"Microsoft Azure\",\r\n    \"failoverDeploymentModel\": \"ResourceManager\",\r\n    \"replicationProviders\": [\r\n      \"HyperVReplicaAzure\"\r\n    ],\r\n    \"allowedOperations\": [\r\n      \"PlannedFailover\",\r\n      \"UnplannedFailover\",\r\n      \"TestFailover\"\r\n    ],\r\n    \"lastPlannedFailoverTime\": \"2017-05-13T17:49:23.8812431Z\",\r\n    \"lastTestFailoverTime\": \"2017-05-13T14:36:28.4407195Z\",\r\n    \"currentScenario\": {\r\n      \"scenarioName\": \"CommitFailover\",\r\n      \"jobId\": \"/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationJobs/c3b0cd39-2f94-4630-9726-7e5eba8d1dfc\",\r\n      \"startTime\": \"2017-05-13T18:09:53.8659314Z\"\r\n    },\r\n    \"currentScenarioStatus\": \"Succeeded\",\r\n    \"currentScenarioStatusDescription\": \"Completed\",\r\n    \"groups\": [\r\n      {\r\n        \"groupType\": \"Shutdown\",\r\n        \"replicationProtectedItems\": [],\r\n        \"startGroupActions\": [],\r\n        \"endGroupActions\": []\r\n      },\r\n      {\r\n        \"groupType\": \"Failover\",\r\n        \"replicationProtectedItems\": [],\r\n        \"startGroupActions\": [],\r\n        \"endGroupActions\": []\r\n      },\r\n      {\r\n        \"groupType\": \"Boot\",\r\n        \"replicationProtectedItems\": [\r\n          {\r\n            \"id\": \"/Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/siterecoveryprod1/providers/Microsoft.RecoveryServices/vaults/SDKVault/replicationFabrics/SiteRecoveryTestSite1/replicationProtectionContainers/cloud_fa06e03b-e306-52f4-a01f-88cdeba67a1c/replicationProtectedItems/vm1\",\r\n            \"virtualMachineId\": \"f8491e4f-817a-40dd-a90c-af773978c75b\"\r\n          }\r\n        ],\r\n        \"startGroupActions\": [],\r\n        \"endGroupActions\": []\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13943"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "c183865e-6077-46f2-a3b1-deb0f4f4650a"
  }
}
