{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/networkcloud-sdk2169?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk2169",
        "name": "networkcloud-sdk2169",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk2169/providers/Microsoft.NetworkCloud/virtualMachines/virtualMachineName?api-version=2022-12-12-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "extendedLocation": {
          "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/m20-b47967bf4604-hostedresources-388f31f9/providers/microsoft.extendedlocation/customlocations/m20-b47967bf4604-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {
          "key1": "myvalue1"
        },
        "location": "eastus",
        "properties": {
          "adminUsername": "admin",
          "bootMethod": "UEFI",
          "cloudServicesNetworkAttachment": {
            "attachedNetworkId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/v-dymurphy-rg/providers/Microsoft.NetworkCloud/cloudServicesNetworks/cloudservicenetwork-test",
            "defaultGateway": "False",
            "ipAllocationMethod": "Dynamic",
            "networkAttachmentName": "cloudservices"
          },
          "cpuCores": 2,
          "memorySizeGB": 8,
          "networkAttachments": [
            {
              "attachedNetworkId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/v-dymurphy-rg/providers/Microsoft.NetworkCloud/l3Networks/l3network-549",
              "defaultGateway": "False",
              "ipAllocationMethod": "Dynamic",
              "networkAttachmentName": "l3netw-1b5f1"
            }
          ],
          "sshPublicKeys": [
            {
              "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDLYVAibDxCYQcs4xeiGLcHMw\u002BDvwKVAhMPG0OP85JKsBmFkeMPm5\u002B2fEzQqjmE2r46V0\u002BIdjdq3BYHwOzxPVb0p0Ekb4o7G3eEE/aCoSkr9S\u002BcTn2CzCgDn3S8d1Muee56XlVJU4Z3G2oIcQchXetqYdD5NNwTyYZuDIaPoxCkGy1g\u002BmYHsj7yxs65KfBNM/ucnvKy5cphI/uGNgcYUki0tRPT2/3H2QGVQVDfIficjPKBt9Jp08psvdJGs2Lk0Z5KrkgKyzb4VCDYmgV5AYoCPIO640n97nBwZlhVXkd4hSWHksVBBN\u002BsajoWrWlU7h4ihwwwZcO90RYIiaHrJm9YmSMO3Y4AARHIKJ1\u002BUerpAloAR3Jp01gTVzZdQrd9T0YfNnF7/ltg7OTo9m/mDn7zh1ZKFjyJv7bPQdhSIGbhdGrewyPe04\u002BtSDGyH7bjpjm1A99qDYj6SeoEr790N0Lw2QGdP10Lo55\u002BuMwzzbLyyIWzodHVIH4pPfz7mg1oWAs= osh@osh"
            }
          ],
          "storageProfile": {
            "osDisk": {
              "createOption": "Ephemeral",
              "deleteOption": "Delete",
              "diskSizeGB": 20
            }
          },
          "vmImage": "hbusipalleacr1.azurecr.io/ubuntu-pw:20.04",
          "vmImageRepositoryCredentials": {
            "password": "fake-password123",
            "registryUrl": "hbusipalleacr1.azurecr.io",
            "username": "hbusipalleacr1"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/02fa8f86-7d40-497a-8aab-f90d2e33449b*200D2BB81577932523D2FF806D740D2BA8A150EE569389255E4EC26EB1D7E29D?api-version=2022-12-12-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226b05d6be-0000-0100-0000-64023f9c0000\u0022",
        "mise-correlation-id": "625c8b67-6627-4eea-8b81-6f38b26efc1a",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk2169/providers/Microsoft.NetworkCloud/virtualMachines/virtualMachineName",
        "name": "virtualMachineName",
        "type": "microsoft.networkcloud/virtualmachines",
        "location": "eastus",
        "extendedLocation": {
          "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/m20-b47967bf4604-hostedresources-388f31f9/providers/microsoft.extendedlocation/customlocations/m20-b47967bf4604-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {
          "key1": "myvalue1"
        },
        "systemData": {
          "createdBy": "v-dymurphy@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-03-03T18:42:35.6341912Z",
          "lastModifiedBy": "v-dymurphy@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2023-03-03T18:42:35.6341912Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "adminUsername": "admin",
          "bootMethod": "UEFI",
          "cloudServicesNetworkAttachment": {
            "attachedNetworkId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/v-dymurphy-rg/providers/Microsoft.NetworkCloud/cloudServicesNetworks/cloudservicenetwork-test",
            "defaultGateway": "False",
            "ipAllocationMethod": "Dynam[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/02fa8f86-7d40-497a-8aab-f90d2e33449b*200D2BB81577932523D2FF806D740D2BA8A150EE569389255E4EC26EB1D7E29D?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222b000087-0000-0100-0000-64023f9b0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/02fa8f86-7d40-497a-8aab-f90d2e33449b*200D2BB81577932523D2FF806D740D2BA8A150EE569389255E4EC26EB1D7E29D",
        "name": "02fa8f86-7d40-497a-8aab-f90d2e33449b*200D2BB81577932523D2FF806D740D2BA8A150EE569389255E4EC26EB1D7E29D",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk2169/providers/Microsoft.NetworkCloud/virtualMachines/virtualMachineName",
        "status": "Accepted",
        "startTime": "2023-03-03T18:42:35.728546Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/02fa8f86-7d40-497a-8aab-f90d2e33449b*200D2BB81577932523D2FF806D740D2BA8A150EE569389255E4EC26EB1D7E29D?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222b000387-0000-0100-0000-64023fa50000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/02fa8f86-7d40-497a-8aab-f90d2e33449b*200D2BB81577932523D2FF806D740D2BA8A150EE569389255E4EC26EB1D7E29D",
        "name": "02fa8f86-7d40-497a-8aab-f90d2e33449b*200D2BB81577932523D2FF806D740D2BA8A150EE569389255E4EC26EB1D7E29D",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk2169/providers/Microsoft.NetworkCloud/virtualMachines/virtualMachineName",
        "status": "Provisioning",
        "startTime": "2023-03-03T18:42:35.728546Z",
        "error": {}
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/02fa8f86-7d40-497a-8aab-f90d2e33449b*200D2BB81577932523D2FF806D740D2BA8A150EE569389255E4EC26EB1D7E29D?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222b001387-0000-0100-0000-64023fd60000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/02fa8f86-7d40-497a-8aab-f90d2e33449b*200D2BB81577932523D2FF806D740D2BA8A150EE569389255E4EC26EB1D7E29D",
        "name": "02fa8f86-7d40-497a-8aab-f90d2e33449b*200D2BB81577932523D2FF806D740D2BA8A150EE569389255E4EC26EB1D7E29D",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk2169/providers/Microsoft.NetworkCloud/virtualMachines/virtualMachineName",
        "status": "Succeeded",
        "startTime": "2023-03-03T18:42:35.728546Z",
        "endTime": "2023-03-03T18:43:34.8853249Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk2169/providers/Microsoft.NetworkCloud/virtualMachines/virtualMachineName?api-version=2022-12-12-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1",
          "key2": "myvalue2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2d47f4c2-514c-400b-9a75-0cb1c95f363c*200D2BB81577932523D2FF806D740D2BA8A150EE569389255E4EC26EB1D7E29D?api-version=2022-12-12-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226b050fea-0000-0100-0000-64023fe00000\u0022",
        "Location": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2d47f4c2-514c-400b-9a75-0cb1c95f363c*200D2BB81577932523D2FF806D740D2BA8A150EE569389255E4EC26EB1D7E29D?api-version=2022-12-12-preview",
        "mise-correlation-id": "396cf766-2939-4fff-88a9-fa13f628e2e9",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk2169/providers/Microsoft.NetworkCloud/virtualMachines?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "a03b066d-6fe4-4133-9afe-a768c0e47618",
          "5cd52a07-ff9c-42ce-9a80-d3ae333e6b8c",
          "3d63fa95-4d2f-4c7a-b27a-af25a0082ef2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11971"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk2169/providers/Microsoft.NetworkCloud/virtualMachines/virtualMachineName",
            "name": "virtualMachineName",
            "type": "microsoft.networkcloud/virtualmachines",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/m20-b47967bf4604-hostedresources-388f31f9/prov[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/virtualMachines?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "1219190d-1e19-4f6c-b2[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/742470bb-3463-471a-bc4a-ec6b3bdcd8e0*200D2BB81577932523D2FF806D740D2BA8A150EE569389255E4EC26EB1D7E29D?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222b002387-0000-0100-0000-640240130000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11963"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/742470bb-3463-471a-bc4a-ec6b3bdcd8e0*200D2BB81577932523D2FF806D740D2BA8A150EE569389255E4EC26EB1D7E29D",
        "name": "742470bb-3463-471a-bc4a-ec6b3bdcd8e0*200D2BB81577932523D2FF806D740D2BA8A150EE569389255E4EC26EB1D7E29D",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk2169/providers/Microsoft.NetworkCloud/virtualMachines/virtualMachineName",
        "status": "Succeeded",
        "startTime": "2023-03-03T18:44:20.6092619Z",
        "endTime": "2023-03-03T18:44:35.6257082Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "CLUSTER_EXTENDED_LOCATION": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/m20-b47967bf4604-hostedresources-388f31f9/providers/microsoft.extendedlocation/customlocations/m20-b47967bf4604-cstm-loc",
    "CSN_ATTACHMENT_ID": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/v-dymurphy-rg/providers/Microsoft.NetworkCloud/cloudServicesNetworks/cloudservicenetwork-test",
    "CSN_ATTACHMENT_NAME": "cloudservices",
    "L3_ATTACHMENT_ID": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/v-dymurphy-rg/providers/Microsoft.NetworkCloud/l3Networks/l3network-549",
    "L3_ATTACHMENT_NAME": "l3netw-1b5f1",
    "LOCATION": "eastus",
    "RandomSeed": "636566354",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "fca2e8ee-1179-48b8-9532-428ed0873a2e",
    "VM_IMAGE": "ubuntu-pw:20.04",
    "VM_IMAGE_REPO_PWD": "Sanitized",
    "VM_IMAGE_REPO_URI": "hbusipalleacr1.azurecr.io",
    "VM_IMAGE_REPO_USER": "hbusipalleacr1"
  }
}
