{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/networkcloud-sdk733?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk733",
        "name": "networkcloud-sdk733",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk733/providers/Microsoft.NetworkCloud/virtualMachines/vm4383?api-version=2023-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {
          "key1": "myvalue1"
        },
        "location": "eastus",
        "properties": {
          "adminUsername": "admin",
          "cloudServicesNetworkAttachment": {
            "attachedNetworkId": "/subscriptions/subscriptionId/resourceGroups/resourceGroupName/providers/Microsoft.NetworkCloud/cloudServicesNetworks/csn1",
            "ipAllocationMethod": "Dynamic"
          },
          "cpuCores": 2,
          "memorySizeGB": 1,
          "networkAttachments": [
            {
              "attachedNetworkId": "/subscriptions/121213213131/resourceGroups/op317q-rg/providers/Microsoft.NetworkCloud/l3Networks/l3network1",
              "defaultGateway": "True",
              "ipAllocationMethod": "Dynamic",
              "networkAttachmentName": "l3network"
            }
          ],
          "sshPublicKeys": [
            {
              "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDLYVAibDxCYQcs4xeiGLcHMw\u002BDvwKVAhMPG0OP85JKsBmFkeMPm5\u002B2fEzQqjmE2r46V0\u002BIdjdq3BYHwOzxPVb0p0Ekb4o7G3eEE/aCoSkr9S\u002BcTn2CzCgDn3S8d1Muee56XlVJU4Z3G2oIcQchXetqYdD5NNwTyYZuDIaPoxCkGy1g\u002BmYHsj7yxs65KfBNM/ucnvKy5cphI/uGNgcYUki0tRPT2/3H2QGVQVDfIficjPKBt9Jp08psvdJGs2Lk0Z5KrkgKyzb4VCDYmgV5AYoCPIO640n97nBwZlhVXkd4hSWHksVBBN\u002BsajoWrWlU7h4ihwwwZcO90RYIiaHrJm9YmSMO3Y4AARHIKJ1\u002BUerpAloAR3Jp01gTVzZdQrd9T0YfNnF7/ltg7OTo9m/mDn7zh1ZKFjyJv7bPQdhSIGbhdGrewyPe04\u002BtSDGyH7bjpjm1A99qDYj6SeoEr790N0Lw2QGdP10Lo55\u002BuMwzzbLyyIWzodHVIH4pPfz7mg1oWAs= osh@osh"
            }
          ],
          "storageProfile": {
            "osDisk": {
              "createOption": "Ephemeral",
              "deleteOption": "Delete",
              "diskSizeGB": 20
            }
          },
          "vmDeviceModel": "T2",
          "vmImage": "afoinccitools.azurecr.io/manual/cirros-kubevirt:0.5.2",
          "vmImageRepositoryCredentials": {
            "password": "fake-password123",
            "registryUrl": "afoinccitools.azurecr.io",
            "username": "00000000-0000-0000-0000-000000000000"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2e11520a-7b47-4470-b65e-d7382818287f*DDCCFB78AE4BA4B15FC69A6C29BCF282F6900771C267D9DC8E7BE8A9286B736E?api-version=2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224d06bf82-0000-0100-0000-64949a860000\u0022",
        "mise-correlation-id": "8d92edcf-f336-4311-abba-e3547924337b",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk733/providers/Microsoft.NetworkCloud/virtualMachines/vm4383",
        "name": "vm4383",
        "type": "microsoft.networkcloud/virtualmachines",
        "location": "eastus",
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {
          "key1": "myvalue1"
        },
        "systemData": {
          "createdBy": "REDACTED",
          "createdByType": "User",
          "createdAt": "2023-06-22T19:01:25.9392985Z",
          "lastModifiedBy": "REDACTED",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2023-06-22T19:01:25.9392985Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "adminUsername": "admin",
          "cloudServicesNetworkAttachment": {
            "attachedNetworkId": "/subscriptions/subscriptionId/resourceGroups/resourceGroupName/providers/Microsoft.NetworkCloud/cloudServicesNetworks/csn1",
            "ipAllocationMethod": "Dynamic"
          },
          "cpuCores": 2,
          "memorySizeGB": 1,
          "networkAttachments": [
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2e11520a-7b47-4470-b65e-d7382818287f*DDCCFB78AE4BA4B15FC69A6C29BCF282F6900771C267D9DC8E7BE8A9286B736E?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e602846c-0000-0100-0000-64949a860000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11932"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2e11520a-7b47-4470-b65e-d7382818287f*DDCCFB78AE4BA4B15FC69A6C29BCF282F6900771C267D9DC8E7BE8A9286B736E",
        "name": "2e11520a-7b47-4470-b65e-d7382818287f*DDCCFB78AE4BA4B15FC69A6C29BCF282F6900771C267D9DC8E7BE8A9286B736E",
        "resourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk733/providers/Microsoft.NetworkCloud/virtualMachines/vm4383",
        "status": "Accepted",
        "startTime": "2023-06-22T19:01:26.0131223Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2e11520a-7b47-4470-b65e-d7382818287f*DDCCFB78AE4BA4B15FC69A6C29BCF282F6900771C267D9DC8E7BE8A9286B736E?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e602ce6c-0000-0100-0000-64949ae50000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11923"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2e11520a-7b47-4470-b65e-d7382818287f*DDCCFB78AE4BA4B15FC69A6C29BCF282F6900771C267D9DC8E7BE8A9286B736E",
        "name": "2e11520a-7b47-4470-b65e-d7382818287f*DDCCFB78AE4BA4B15FC69A6C29BCF282F6900771C267D9DC8E7BE8A9286B736E",
        "resourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk733/providers/Microsoft.NetworkCloud/virtualMachines/vm4383",
        "status": "Succeeded",
        "startTime": "2023-06-22T19:01:26.0131223Z",
        "endTime": "2023-06-22T19:03:01.9429246Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk733/providers/Microsoft.NetworkCloud/virtualMachines/vm4383?api-version=2023-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1",
          "key2": "myvalue2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2c09c40f-3d54-46db-ae43-9a092e22dc13*DDCCFB78AE4BA4B15FC69A6C29BCF282F6900771C267D9DC8E7BE8A9286B736E?api-version=2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224d063ca9-0000-0100-0000-64949ae90000\u0022",
        "Location": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/2c09c40f-3d54-46db-ae43-9a092e22dc13*DDCCFB78AE4BA4B15FC69A6C29BCF282F6900771C267D9DC8E7BE8A9286B736E?api-version=2023-05-01-preview",
        "mise-correlation-id": "b2d2f481-e444-4e02-84b7-cc6d732f816a",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk733/providers/Microsoft.NetworkCloud/virtualMachines?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "88e70511-4262-40ab-bf43-30d1cfc57bc1",
          "123a7887-c012-4c3a-a15c-ca719e573813",
          "6bb8511c-64ee-466b-a452-ac5ada17b91e"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11912"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk733/providers/Microsoft.NetworkCloud/virtualMachines/vm4383",
            "name": "vm4383",
            "type": "microsoft.networkcloud/virtualmachines",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
              "type": "CustomLocation"
            },
            "tags": {
              "key1": "myvalue1",
              "key2": "myvalue2"
            },
            "systemData": {
              "createdBy": "REDACTED",
              "createdByType": "User",
              "createdAt": "2023-06-22T19:01:25.9392985Z",
              "lastModifiedBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-06-22T19:03:22.6826065Z"
            },
            "properties": {
              "adminUsername": "admin",
              "cloudServicesNetworkAttachment": {
                "attachedNetworkId": "/subscriptions/subscriptionId/resourceGroups/resourceGroupName/providers/Microsoft.NetworkCloud/cloudServicesNetworks/csn1",
                "ipAllocationMethod": "Dynamic",
                "defaultGateway": "False",
                "ipv4Address": "169.254.8.4",
                "macAddress": "02:00:00:1a:6b:7f",
                "networkAttachmentName": "cloudservices"
              },
              "cpuCores": 2,
              "memorySizeGB": 1,
              "networkAttachments": [
                {
                  "attachedNetworkId": "/subscriptions/121213213131/resourceGroups/op317q-rg/providers/Microsoft.NetworkCloud/l3Networks/l3network1",
                  "defaultGateway": "True",
                  "ipAllocationMethod": "Dynamic",
                  "ipv4Address": "10.10.1[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/virtualMachines?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "59a245b2-d6a1-4ad5-bb[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/cbec91e5-e57a-4351-b597-6609040a65d0*DDCCFB78AE4BA4B15FC69A6C29BCF282F6900771C267D9DC8E7BE8A9286B736E?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220a00782e-0000-4d00-0000-64949b4e0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11901"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/cbec91e5-e57a-4351-b597-6609040a65d0*DDCCFB78AE4BA4B15FC69A6C29BCF282F6900771C267D9DC8E7BE8A9286B736E",
        "name": "cbec91e5-e57a-4351-b597-6609040a65d0*DDCCFB78AE4BA4B15FC69A6C29BCF282F6900771C267D9DC8E7BE8A9286B736E",
        "resourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk733/providers/Microsoft.NetworkCloud/virtualMachines/vm4383",
        "status": "Succeeded",
        "startTime": "2023-06-22T19:03:24.6247046Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "CLUSTER_EXTENDED_LOCATION": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
    "CSN_ATTACHMENT_ID": "/subscriptions/subscriptionId/resourceGroups/resourceGroupName/providers/Microsoft.NetworkCloud/cloudServicesNetworks/csn1",
    "L3_ATTACHMENT_ID": "/subscriptions/121213213131/resourceGroups/op317q-rg/providers/Microsoft.NetworkCloud/l3Networks/l3network1",
    "LOCATION": "eastus",
    "RandomSeed": "2046311925",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "a3eeb848-665a-4dbf-80a4-eb460930fb23",
    "VM_IMAGE": "afoinccitools.azurecr.io/manual/cirros-kubevirt:0.5.2",
    "VM_IMAGE_REPO_PWD": "REDACTED",
    "VM_IMAGE_REPO_URI": "afoinccitools.azurecr.io",
    "VM_IMAGE_REPO_USER": "00000000-0000-0000-0000-000000000000"
  }
}
