{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "62e47139-66d0-4b0b-a000-1e8a412890c1",
        "tenantId": "8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd",
        "displayName": "Project Fidalgo - PPE Integration Testing",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "Sponsored_2016-01-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourcegroups/azsdk?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "australiaeast"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk",
        "name": "azsdk",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "australiaeast",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226101acac-0000-1a00-0000-630e52ef0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter",
        "name": "sdk-default-devcenter",
        "type": "microsoft.devcenter/devcenters",
        "location": "australiaeast",
        "systemData": {
          "createdBy": "tbyfield@microsoft.com",
          "createdByType": "User",
          "createdAt": "2022-08-30T18:10:30.6728815Z",
          "lastModifiedBy": "tbyfield@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2022-08-30T18:10:30.6728815Z"
        },
        "identity": {
          "principalId": "6c7d9842-faeb-43ec-bffb-e9c271d6e5e9",
          "tenantId": "8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd",
          "type": "SystemAssigned"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/galleries/default?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c004f83-0000-1a00-0000-630e52ee0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/galleries/Default",
        "name": "Default",
        "type": "microsoft.devcenter/devcenters/galleries",
        "systemData": {
          "createdBy": "2dc3760b-4713-48b1-a383-1dfe3e449ec2",
          "createdByType": "Application",
          "createdAt": "2022-08-30T18:11:56.409091Z",
          "lastModifiedBy": "2dc3760b-4713-48b1-a383-1dfe3e449ec2",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-30T18:11:56.409091Z"
        },
        "properties": {
          "galleryResourceId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourcegroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/galleries/Default",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/galleries/Default/images?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11981",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2022-08-30T18:21:55.4034839Z"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/galleries/Default/images/MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-os",
            "name": "MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-os",
            "type": "Microsoft.DevCenter/devcenters/galleries/images",
            "systemData": {
              "createdByType": "Application",
              "createdAt": "2021-10-04T00:00:00Z",
              "lastModifiedByType": "Application"
            },
            "properties": {
              "description": "Windows 11 Enterprise \u002B OS Optimizations 21H2",
              "publisher": "MicrosoftWindowsDesktop",
              "offer": "windows-ent-cpc",
              "sku": "win11-21h2-ent-cpc-os",
              "recommendedMachineConfiguration": {
                "memory": {
                  "min": 2,
                  "max": 4
                },
                "vCPUs": {
                  "min": 1,
                  "max": 2
                }
              },
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/galleries/Default/images/MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-m365",
            "name": "MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent[...]
