{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "62e47139-66d0-4b0b-a000-1e8a412890c1",
        "tenantId": "8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd",
        "displayName": "Project Fidalgo - PPE Integration Testing",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "Sponsored_2016-01-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourcegroups/azsdk?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "australiaeast"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk",
        "name": "azsdk",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "australiaeast",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223301f105-0000-1a00-0000-630b39d20000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter",
        "name": "sdk-default-devcenter",
        "type": "microsoft.devcenter/devcenters",
        "location": "australiaeast",
        "systemData": {
          "createdBy": "tbyfield@microsoft.com",
          "createdByType": "User",
          "createdAt": "2022-08-28T08:47:01.7155142Z",
          "lastModifiedBy": "8788af82-a59e-490f-ba2a-2b05bf776033",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-28T09:47:17.5926627Z"
        },
        "identity": {
          "principalId": "33eb0772-298d-4335-92b4-bcaa03d9539b",
          "tenantId": "8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd",
          "type": "SystemAssigned"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/images?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11997",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2022-08-30T17:52:20.7715995Z"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/galleries/Default/images/MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-os",
            "name": "MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-os",
            "type": "Microsoft.DevCenter/devcenters/galleries/images",
            "systemData": {
              "createdByType": "Application",
              "createdAt": "2021-10-04T00:00:00Z",
              "lastModifiedByType": "Application"
            },
            "properties": {
              "description": "Windows 11 Enterprise \u002B OS Optimizations 21H2",
              "publisher": "MicrosoftWindowsDesktop",
              "offer": "windows-ent-cpc",
              "sku": "win11-21h2-ent-cpc-os",
              "recommendedMachineConfiguration": {
                "memory": {
                  "min": 2,
                  "max": 4
                },
                "vCPUs": {
                  "min": 1,
                  "max": 2
                }
              },
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/galleries/Default/images/MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-m365",
            "name": "MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent[...]
