{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9eeb26dc-89e2-b751-37cd-42a4d717bd78?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:24 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-3a0e59cc-55d4-9ec8-3bb7-ffbabdf6023d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:01 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:23 GMT",
        "ETag": "\u00220x8D77939319AE33C\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:24 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:01 GMT",
        "ETag": "\u00220x8D779E30348E877\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:01 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "1d4b33cd-a16b-7850-a048-f5430955ad35",
        "x-ms-request-id": "011a028a-f01a-0002-0722-ab2c83000000",
=======
        "x-ms-client-request-id": "e4789c30-14df-b92b-89cd-146167ed6552",
        "x-ms-request-id": "4376e436-b01a-003c-28cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9eeb26dc-89e2-b751-37cd-42a4d717bd78/test-directory-e3e55c52-5b1b-4651-8a34-b593ec519cc6?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:24 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-3a0e59cc-55d4-9ec8-3bb7-ffbabdf6023d/test-directory-85fd0b2a-b5ec-a1a4-0a3a-24109daf4417?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:01 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:24 GMT",
        "ETag": "\u00220x8D7793931A9AE40\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:24 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:01 GMT",
        "ETag": "\u00220x8D779E30357382D\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:01 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "4eef655f-3a27-7a50-f8d7-daa4f01b1bda",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:11:24.9515072Z",
        "x-ms-file-creation-time": "2019-12-05T04:11:24.9515072Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:11:24.9515072Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "011a028d-f01a-0002-0922-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:27:01.6799277Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:01.6799277Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:01.6799277Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e43b-b01a-003c-2ccb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9eeb26dc-89e2-b751-37cd-42a4d717bd78/test-directory-e3e55c52-5b1b-4651-8a34-b593ec519cc6/test-file-6bd72fab-097f-b169-4f60-312e3c3ba431",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-3a0e59cc-55d4-9ec8-3bb7-ffbabdf6023d/test-directory-85fd0b2a-b5ec-a1a4-0a3a-24109daf4417/test-file-a569fd89-4463-0cd4-ad4b-087365a18b1c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "1979745d-c683-1ac4-91e2-a1db31dc1456",
        "x-ms-content-length": "1048576",
<<<<<<< HEAD
        "x-ms-date": "Thu, 05 Dec 2019 04:11:25 GMT",
=======
        "x-ms-date": "Fri, 06 Dec 2019 00:27:01 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:24 GMT",
        "ETag": "\u00220x8D7793931B6A67F\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:25 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:01 GMT",
        "ETag": "\u00220x8D779E303647C21\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:01 GMT",
>>>>>>> feature/storage/stg71-bas[...]
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-3a0e59cc-55d4-9ec8-3bb7-ffbabdf6023d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:02 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:24 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:01 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "1063f457-c88b-2ed4-b169-b76e80025de4",
        "x-ms-request-id": "011a0291-f01a-0002-0d22-ab2c83000000",
=======
        "x-ms-client-request-id": "8950ae18-23c6-d92e-24cb-bdd43d3c3ef8",
        "x-ms-request-id": "4376e440-b01a-003c-31cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "709498765",
=======
    "RandomSeed": "65600760",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}