{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9eeb26dc-89e2-b751-37cd-42a4d717bd78?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-3c1658730c1eef4190b46f5adde490f7-5f9fe708a28c7a48-00",
=======
        "traceparent": "00-b4b8fd6138311640aff272aff4f18f79-38eccaae6171e244-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "1d4b33cd-a16b-7850-a048-f5430955ad35",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:01:30 GMT",
        "x-ms-return-client-request-id": "true",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:46:30 GMT",
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:01:29 GMT",
        "ETag": "\u00220x8D7790DE6508BB5\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:01:30 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:46:29 GMT",
        "ETag": "\u00220x8D778F2A8DB1D94\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:46:30 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "1d4b33cd-a16b-7850-a048-f5430955ad35",
<<<<<<< HEAD
        "x-ms-request-id": "e3041579-401a-0038-02f6-aa36fb000000",
=======
        "x-ms-request-id": "46202f82-801a-0018-6bdb-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9eeb26dc-89e2-b751-37cd-42a4d717bd78/test-directory-e3e55c52-5b1b-4651-8a34-b593ec519cc6?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-a06f8cbc7fe0e440a2535c93145cefc9-04c7e4a2cc485448-00",
=======
        "traceparent": "00-de2b6b277eefc14c86c9f57a2815021a-36ac295d29c8bd4b-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "bead67a1-7e8b-7187-e105-9236ebbc8c4f",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:01:30 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:46:30 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:01:29 GMT",
        "ETag": "\u00220x8D7790DE65F0C30\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:01:30 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:46:30 GMT",
        "ETag": "\u00220x8D778F2A8E955F5\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:46:30 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "bead67a1-7e8b-7187-e105-9236ebbc8c4f",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T23:01:30.2738992Z",
        "x-ms-file-creation-time": "2019-12-04T23:01:30.2738992Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T23:01:30.2738992Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "e304157b-401a-0038-03f6-aa36fb000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:46:30.7497461Z",
        "x-ms-file-creation-time": "2019-12-04T19:46:30.7497461Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:46:30.7497461Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "46202f87-801a-0018-6edb-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9eeb26dc-89e2-b751-37cd-42a4d717bd78/test-directory-e3e55c52-5b1b-4651-8a34-b593ec519cc6/test-file-6bd72fab-097f-b169-4f60-312e3c3ba431",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-cc37489b3e62c645ab131b9a709c4d21-b9b7e68a1a6ebb42-00",
=======
        "traceparent": "00-cf6c560ed1bea24e852eaa77a2a8d568-2ef021a270c32441-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "726ad060-4181-9712-fdfb-6e2a4c5935a5",
        "x-ms-content-length": "1048576",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:01:30 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:46:30 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:01:30 GMT",
        "ETag": "\u00220x8D7790DE66D6140\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:01:30 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:46:30 GMT",
        "ETag": "\u00220x8D778F2A8F69C5A\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:46:30 GMT",
>>>>>>> feature/storage/stg71-bas[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9eeb26dc-89e2-b751-37cd-42a4d717bd78/test-directory-e3e55c52-5b1b-4651-8a34-b593ec519cc6/test-file-6bd72fab-097f-b169-4f60-312e3c3ba431?comp=copy\u0026copyid=id",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-a29e41edb89b8947a36c57b9ab3f53e6-6b488bea0890744b-00",
=======
        "traceparent": "00-7d8414227102034da6761a679dd3f618-37da03c8f9a2894b-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "6ccd3cc6-32d1-45af-105a-87a86f0fa0bd",
        "x-ms-copy-action": "abort",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:01:30 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:46:30 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:01:30 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:46:30 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "6ccd3cc6-32d1-45af-105a-87a86f0fa0bd",
        "x-ms-error-code": "InvalidQueryParameterValue",
<<<<<<< HEAD
        "x-ms-request-id": "e3041584-401a-0038-0af6-aa36fb000000",
=======
        "x-ms-request-id": "46202f8c-801a-0018-73db-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidQueryParameterValue\u003C/Code\u003E\u003CMessage\u003EValue for one of the query parameters specified in the request URI is invalid.\n",
<<<<<<< HEAD
        "RequestId:e3041584-401a-0038-0af6-aa36fb000000\n",
        "Time:2019-12-04T23:01:30.4688650Z\u003C/Message\u003E\u003CQueryParameterName\u003Ecopyid\u003C/QueryParameterName\u003E\u003CQueryParameterValue\u003Eid\u003C/QueryParameterValue\u003E\u003CReason\u003Ecopyid needs to be valid Guid.\u003C/Reason\u003E\u003C/Error\u003E"
=======
        "RequestId:46202f8c-801a-0018-73db-aa4d5c000000\n",
        "Time:2019-12-04T19:46:31.0075620Z\u003C/Message\u003E\u003CQueryParameterName\u003Ecopyid\u003C/QueryParameterName\u003E\u003CQueryParameterValue\u003Eid\u003C/QueryParameterValue\u003E\u003CReason\u003Ecopyid needs to be valid Guid.\u003C/Reason\u003E\u003C/Error\u003E"
>>>>>>> feature/storage/stg71-base
      ]
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9eeb26dc-89e2-b751-37cd-42a4d717bd78?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-08abc0eccbc98849a3094d81236c1137-07e5dada6f3ccb4e-00",
=======
        "traceparent": "00-96c5f66a23918d4091a1f542e736341c-f6f1748d0356af41-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "1063f457-c88b-2ed4-b169-b76e80025de4",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:01:30 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:46:31 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:01:30 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:46:30 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "1063f457-c88b-2ed4-b169-b76e80025de4",
<<<<<<< HEAD
        "x-ms-request-id": "e3041587-401a-0038-0df6-aa36fb000000",
=======
        "x-ms-request-id": "46202f8e-801a-0018-74db-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "709498765",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}