{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-292582a5-b335-a6bf-1471-2e965e74f722?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-bdd22e63c01a8b4b95424c7c853bb07b-f4e8f7ca22ceca4d-00",
=======
        "traceparent": "00-34cbbe48998d0a46b2f3f91c2da8650a-48e394f654f4564e-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "6f0d6ae8-121a-0ea3-ac81-daaa9bbeaa59",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:11 GMT",
        "x-ms-return-client-request-id": "true",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:12 GMT",
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:10 GMT",
        "ETag": "\u00220x8D7790DB7241DF8\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:11 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:11 GMT",
        "ETag": "\u00220x8D778F27A018874\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:12 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "6f0d6ae8-121a-0ea3-ac81-daaa9bbeaa59",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8d2b-501a-0046-79f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805ab5d-401a-0007-50db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-292582a5-b335-a6bf-1471-2e965e74f722/test-directory-df46fea3-5188-982b-faa0-be272e03592c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-ee2e95f35626dd47be819c2a04f36e9e-973c27239edb4b4a-00",
=======
        "traceparent": "00-fc004b1c85976d4fb050483c04587365-ef12c0ef2114e84d-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "4d182b64-66a1-9660-3e74-747a537be0a9",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:11 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:12 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:10 GMT",
        "ETag": "\u00220x8D7790DB7326D67\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:11 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:11 GMT",
        "ETag": "\u00220x8D778F27A1015FE\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:12 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "4d182b64-66a1-9660-3e74-747a537be0a9",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T23:00:11.1285607Z",
        "x-ms-file-creation-time": "2019-12-04T23:00:11.1285607Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T23:00:11.1285607Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "edfb8d32-501a-0046-7ff6-aaa6bc000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:45:12.1507838Z",
        "x-ms-file-creation-time": "2019-12-04T19:45:12.1507838Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:45:12.1507838Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "6805ab60-401a-0007-52db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-292582a5-b335-a6bf-1471-2e965e74f722/test-directory-df46fea3-5188-982b-faa0-be272e03592c/test-file-557ead28-b610-1bf1-f738-92565b56661d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-ccdf005e56c68f4f9dce1a2568e56536-637dfb269a83dd48-00",
=======
        "traceparent": "00-9df8dfb51c1dec49b0662c04273db196-8a276ad41342ac4c-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "83ad4c52-935e-ae9b-3afd-5669d3093be8",
        "x-ms-content-length": "1048576",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:11 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:12 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:10 GMT",
        "ETag": "\u00220x8D7790DB74003FF\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:11 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:11 GMT",
        "ETag": "\u00220x8D778F27A1D0E8D\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:12 GMT",
>>>>>>> feature/storage/stg71-bas[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-292582a5-b335-a6bf-1471-2e965e74f722/test-directory-df46fea3-5188-982b-faa0-be272e03592c/test-file-557ead28-b610-1bf1-f738-92565b56661d?comp=copy\u0026copyid=id",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-abd6c96ac6849f4fb40ab6d4d0512ad1-ffeb1e77aaaaae43-00",
=======
        "traceparent": "00-9faf822d2a020a45b6774f82f958ed80-2ea3aa03b259ca4d-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "0e04c17e-e3a8-24be-7514-c8edb621f1db",
        "x-ms-copy-action": "abort",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:11 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:12 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:10 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:11 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "0e04c17e-e3a8-24be-7514-c8edb621f1db",
        "x-ms-error-code": "InvalidQueryParameterValue",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8d38-501a-0046-05f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805ab68-401a-0007-58db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidQueryParameterValue\u003C/Code\u003E\u003CMessage\u003EValue for one of the query parameters specified in the request URI is invalid.\n",
<<<<<<< HEAD
        "RequestId:edfb8d38-501a-0046-05f6-aaa6bc000000\n",
        "Time:2019-12-04T23:00:11.3237828Z\u003C/Message\u003E\u003CQueryParameterName\u003Ecopyid\u003C/QueryParameterName\u003E\u003CQueryParameterValue\u003Eid\u003C/QueryParameterValue\u003E\u003CReason\u003Ecopyid needs to be valid Guid.\u003C/Reason\u003E\u003C/Error\u003E"
=======
        "RequestId:6805ab68-401a-0007-58db-aafe58000000\n",
        "Time:2019-12-04T19:45:12.3607374Z\u003C/Message\u003E\u003CQueryParameterName\u003Ecopyid\u003C/QueryParameterName\u003E\u003CQueryParameterValue\u003Eid\u003C/QueryParameterValue\u003E\u003CReason\u003Ecopyid needs to be valid Guid.\u003C/Reason\u003E\u003C/Error\u003E"
>>>>>>> feature/storage/stg71-base
      ]
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-292582a5-b335-a6bf-1471-2e965e74f722?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-cb8224d7eb5d114dbaa6ef923966f62f-f05b8c9b569e2047-00",
=======
        "traceparent": "00-3e45daff4d53ef4cbab74a5c433a685e-cabc345e4defea42-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "12eaecf5-2c05-2a40-989e-cca415d16501",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:11 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:12 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:10 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:11 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "12eaecf5-2c05-2a40-989e-cca415d16501",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8d3b-501a-0046-07f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805ab6b-401a-0007-5bdb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1029987368",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}