{
  "Entries": [
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-ec1f9239-58cb-9a01-b77c-aa8ec48de8bd?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Nov 2022 02:48:37 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD27D619D9E7F\u0022",
        "Last-Modified": "Wed, 30 Nov 2022 02:48:37 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-ec1f9239-58cb-9a01-b77c-aa8ec48de8bd/test-directory-faa3b92e-a0d4-9e99-8776-ee046983e858?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD27D61AC285D\u0022",
        "Last-Modified": "Wed, 30 Nov 2022 02:48:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-11-30T02:48:37.7763933Z",
        "x-ms-file-creation-time": "2022-11-30T02:48:37.7763933Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-11-30T02:48:37.7763933Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8792472798472242479*1359530181238362790",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-ec1f9239-58cb-9a01-b77c-aa8ec48de8bd/test-directory-faa3b92e-a0d4-9e99-8776-ee046983e858/test-directory-be695b90-3501-6b47-e854-d8f2f9a9b7b0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD27D61B59CCE\u0022",
        "Last-Modified": "Wed, 30 Nov 2022 02:48:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-11-30T02:48:37.8383566Z",
        "x-ms-file-creation-time": "2022-11-30T02:48:37.8383566Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-11-30T02:48:37.8383566Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13438439191449926184*1359530181238362790",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-ec1f9239-58cb-9a01-b77c-aa8ec48de8bd/test-directory-faa3b92e-a0d4-9e99-8776-ee046983e858/test-directory-be695b90-3501-6b47-e854-d8f2f9a9b7b0?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "eed6ee1a-1715-a0e0-be57-7058c1fe468d",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD27D61B59CCE\u0022",
        "Last-Modified": "Wed, 30 Nov 2022 02:48:37 GMT",
        "x-ms-lease-id": "eed6ee1a-1715-a0e0-be57-7058c1fe468d",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-ec1f9239-58cb-9a01-b77c-aa8ec48de8bd?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Nov 2022 02:48:37 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "673528607",
    "Storage_TestConfigOAuth": "OAuthTenant\nsdkfileoauthsa\nU2FuaXRpemVk\nhttps://sdkfileoauthsa.blob.core.windows.net\nhttps://sdkfileoauthsa.file.core.windows.net\nhttps://sdkfileoauthsa.queue.core.windows.net\nhttps://sdkfileoauthsa.table.core.windows.net\n\n\n\n\nhttps://sdkfileoauthsa-secondary.blob.core.windows.net\nhttps://sdkfileoauthsa-secondary.file.core.windows.net\nhttps://sdkfileoauthsa-secondary.queue.core.windows.net\nhttps://sdkfileoauthsa-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://sdkfileoauthsa.blob.core.windows.net/;QueueEndpoint=https://sdkfileoauthsa.queue.core.windows.net/;FileEndpoint=https://sdkfileoauthsa.file.core.windows.net/;BlobSecondaryEndpoint=https://sdkfileoauthsa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://sdkfileoauthsa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://sdkfileoauthsa-secondary.file.core.windows.net/;AccountName=sdkfileoauthsa;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
