{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a82f03a4-47e5-1d86-6700-267e3c748a21?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:38:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C84FE8AC4\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:38:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a82f03a4-47e5-1d86-6700-267e3c748a21/test-directory-f09c4e32-3adb-df1b-8e53-f683a501bc0a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:38:33 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C8509262E\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:38:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:38:33.1686446Z",
        "x-ms-file-creation-time": "2021-01-21T20:38:33.1686446Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:38:33.1686446Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a82f03a4-47e5-1d86-6700-267e3c748a21/test-directory-f09c4e32-3adb-df1b-8e53-f683a501bc0a/test-directory-f978ac67-5e82-0467-c8b3-a469bb3fd080?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:38:33 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "442cbb98-a9b0-cc48-05a4-391e603d8d05",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified resource does not exist.\n",
        "RequestId:40bf292e-c01a-002b-2d35-f05a0e000000\n",
        "Time:2021-01-21T20:38:34.3059887Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a82f03a4-47e5-1d86-6700-267e3c748a21?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:38:34 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1968098900",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}