{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8a2336a9-2849-89f3-cdf1-f9cce2c3319a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:38:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C85E91A03\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:38:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8a2336a9-2849-89f3-cdf1-f9cce2c3319a/test-directory-50ffee21-3eb2-0685-dee4-259f3ec047a7?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:38:34 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C85F3B0E0\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:38:34 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:38:34.7057376Z",
        "x-ms-file-creation-time": "2021-01-21T20:38:34.7057376Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:38:34.7057376Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8a2336a9-2849-89f3-cdf1-f9cce2c3319a/test-directory-50ffee21-3eb2-0685-dee4-259f3ec047a7/test-directory-3b81cbce-96f9-1f17-eddb-2ab19a97d6e1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 21 Jan 2021 20:38:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C85FDC4D6\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:38:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:38:34.7717846Z",
        "x-ms-file-creation-time": "2021-01-21T20:38:34.7717846Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:38:34.7717846Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8a2336a9-2849-89f3-cdf1-f9cce2c3319a/test-directory-50ffee21-3eb2-0685-dee4-259f3ec047a7/test-directory-3b81cbce-96f9-1f17-eddb-2ab19a97d6e1?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:38:35 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "aa1a70b8-b75c-da74-4a72-0f95ee786fa0",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C85FDC4D6\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:38:34 GMT",
        "x-ms-lease-id": "aa1a70b8-b75c-da74-4a72-0f95ee786fa0",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8a2336a9-2849-89f3-cdf1-f9cce2c3319a/test-directory-50ffee21-3eb2-0685-dee4-259f3ec047a7/test-directory-3b81cbce-96f9-1f17-eddb-2ab19a97d6e1?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:38:35 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C85FDC4D6\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:38:34 GMT",
        "x-ms-lease-time": "0",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8a2336a9-2849-89f3-cdf1-f9cce2c3319a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:38:35 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "164883691",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}