{
  "Entries": [
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-4dcbc56c-cf45-6fe4-efb5-85dfa74ee02b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 04:03:01 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807EEDD9C4B\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:03:01 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-4dcbc56c-cf45-6fe4-efb5-85dfa74ee02b/test-directory-f63afc24-2bd0-ed9b-fe8d-5a344dac9696?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Wed, 07 Dec 2022 04:03:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807EEE99003\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:03:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-12-07T04:03:01.1001347Z",
        "x-ms-file-creation-time": "2022-12-07T04:03:01.1001347Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-12-07T04:03:01.1001347Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8650070825487796121*17630419429429764568",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-4dcbc56c-cf45-6fe4-efb5-85dfa74ee02b/test-directory-f63afc24-2bd0-ed9b-fe8d-5a344dac9696/test-file-c874a790-3212-e34f-5239-84cf6d9eac40.",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 07 Dec 2022 04:03:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807EEF4DAC3\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:03:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-12-07T04:03:01.1741379Z",
        "x-ms-file-creation-time": "2022-12-07T04:03:01.1741379Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-12-07T04:03:01.1741379Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1629230238038922942*17630419429429764568",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-4dcbc56c-cf45-6fe4-efb5-85dfa74ee02b/test-directory-f63afc24-2bd0-ed9b-fe8d-5a344dac9696/test-file-c874a790-3212-e34f-5239-84cf6d9eac40.?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Wed, 07 Dec 2022 04:03:01 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "e13d60fd-1839-d6bc-2f0c-457fdd43429c",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807EEF4DAC3\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:03:01 GMT",
        "x-ms-lease-id": "e13d60fd-1839-d6bc-2f0c-457fdd43429c",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-4dcbc56c-cf45-6fe4-efb5-85dfa74ee02b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 04:03:01 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1389337370",
    "Storage_TestConfigDefault": "ProductionTenant\n2iqxscnapby3pev24a\nU2FuaXRpemVk\nhttps://2iqxscnapby3pev24a.blob.core.windows.net\nhttps://2iqxscnapby3pev24a.file.preprod.core.windows.net\nhttps://2iqxscnapby3pev24a.queue.core.windows.net\nhttps://2iqxscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://2iqxscnapby3pev24a-secondary.blob.core.windows.net\nhttps://2iqxscnapby3pev24a-secondary.file.core.windows.net\nhttps://2iqxscnapby3pev24a-secondary.queue.core.windows.net\nhttps://2iqxscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://2iqxscnapby3pev24a.blob.core.windows.net/;QueueEndpoint=https://2iqxscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://2iqxscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://2iqxscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://2iqxscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://2iqxscnapby3pev24a-secondary.file.core.windows.net/;AccountName=2iqxscnapby3pev24a;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
