{
  "Entries": [
    {
      "RequestUri": "https://oauthfilerest5.file.core.windows.net/test-share-4becf09b-cf46-a829-43e6-cefc05a66578?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA70C258CEB0B2\u0022",
        "Last-Modified": "Thu, 28 Jul 2022 17:55:24 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://oauthfilerest5.file.core.windows.net/test-share-4becf09b-cf46-a829-43e6-cefc05a66578/test-directory-f15b2ae9-4f01-4772-47dd-556521c2de98?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA70C258D9B211\u0022",
        "Last-Modified": "Thu, 28 Jul 2022 17:55:24 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-07-28T17:55:24.2974737Z",
        "x-ms-file-creation-time": "2022-07-28T17:55:24.2974737Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-28T17:55:24.2974737Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13845701464110498980*12177440975642301229",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://oauthfilerest5.file.core.windows.net/test-share-4becf09b-cf46-a829-43e6-cefc05a66578/test-directory-f15b2ae9-4f01-4772-47dd-556521c2de98/test-file-a082a7f0-c4f6-098e-56d2-81c2f4943446",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA70C258E410CF\u0022",
        "Last-Modified": "Thu, 28 Jul 2022 17:55:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-28T17:55:24.3654351Z",
        "x-ms-file-creation-time": "2022-07-28T17:55:24.3654351Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-07-28T17:55:24.3654351Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "26491967737166755*12177440975642301229",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://oauthfilerest5.file.core.windows.net/test-share-4becf09b-cf46-a829-43e6-cefc05a66578/test-directory-f15b2ae9-4f01-4772-47dd-556521c2de98/test-file-a082a7f0-c4f6-098e-56d2-81c2f4943446?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2021-10-04",
        "x-ms-write": "clear"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA70C258EE6F8D\u0022",
        "Last-Modified": "Thu, 28 Jul 2022 17:55:24 GMT",
        "x-ms-file-last-write-time": "2022-07-28T17:55:24.4333965Z",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://oauthfilerest5.file.core.windows.net/test-share-4becf09b-cf46-a829-43e6-cefc05a66578?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1470279125",
    "Storage_TestConfigOAuth": "OAuthTenant\noauthfilerest5\nU2FuaXRpemVk\nhttps://oauthfilerest5.blob.core.windows.net\nhttps://oauthfilerest5.file.core.windows.net\nhttps://oauthfilerest5.queue.core.windows.net\nhttps://oauthfilerest5.table.core.windows.net\n\n\n\n\nhttps://oauthfilerest5-secondary.blob.core.windows.net\nhttps://oauthfilerest5-secondary.file.core.windows.net\nhttps://oauthfilerest5-secondary.queue.core.windows.net\nhttps://oauthfilerest5-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://oauthfilerest5.blob.core.windows.net/;QueueEndpoint=https://oauthfilerest5.queue.core.windows.net/;FileEndpoint=https://oauthfilerest5.file.core.windows.net/;BlobSecondaryEndpoint=https://oauthfilerest5-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://oauthfilerest5-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://oauthfilerest5-secondary.file.core.windows.net/;AccountName=oauthfilerest5;AccountKey=Sanitized\n\njaschrep\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
