{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-b8d2d863-c4bc-adb0-e2da-320f398c57dc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-9ca071f30968de40a581b8d59ca19ac6-a478d8f8adff644f-00",
=======
        "traceparent": "00-00480c385f61d4408a835e80dbb72da3-5ae29ac201b95f43-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "de7efc04-85b0-f5be-d803-36912ae05694",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:12 GMT",
        "x-ms-return-client-request-id": "true",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:13 GMT",
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:11 GMT",
        "ETag": "\u00220x8D7790DB7C4CB35\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:12 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:12 GMT",
        "ETag": "\u00220x8D778F27AA5443E\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:13 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "de7efc04-85b0-f5be-d803-36912ae05694",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8d5e-501a-0046-27f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805ab84-401a-0007-71db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-b8d2d863-c4bc-adb0-e2da-320f398c57dc/test-directory-24600f1e-ed14-7800-1d90-e8f8510fba10?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-aaddca3f63265b4190a621794ec64bcb-6f17290f30f91a47-00",
=======
        "traceparent": "00-f35b40091247f546bbb9be6e49de8bee-e4c4f8b411007545-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "e382de6d-2372-1624-fc05-c1209dc6a4c9",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:12 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:13 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:11 GMT",
        "ETag": "\u00220x8D7790DB7D36972\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:12 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:12 GMT",
        "ETag": "\u00220x8D778F27AB3373C\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:13 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "e382de6d-2372-1624-fc05-c1209dc6a4c9",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T23:00:12.1835890Z",
        "x-ms-file-creation-time": "2019-12-04T23:00:12.1835890Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T23:00:12.1835890Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "edfb8d64-501a-0046-2cf6-aaa6bc000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:45:13.2198716Z",
        "x-ms-file-creation-time": "2019-12-04T19:45:13.2198716Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:45:13.2198716Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "6805ab87-401a-0007-73db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-b8d2d863-c4bc-adb0-e2da-320f398c57dc/test-directory-24600f1e-ed14-7800-1d90-e8f8510fba10/test-file-30fe2649-19d4-a586-e38d-b4920929c4f2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-76abc6e017d4b740ad0655c7b9e037da-c3f168f3bfdb5e43-00",
=======
        "traceparent": "00-068881443668ff4e9e2e8b55974a3588-4337fda5480a664a-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "8d8d1bde-e72b-531a-57dc-00e46e920dd2",
        "x-ms-content-length": "1048576",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:12 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:13 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:11 GMT",
        "ETag": "\u00220x8D7790DB7E171B4\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:12 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:12 GMT",
        "ETag": "\u00220x8D778F27AC0539E\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:13 GMT",
>>>>>>> feature/storage/stg71-bas[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-b8d2d863-c4bc-adb0-e2da-320f398c57dc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-7d9ffca7b910ae4ea6b0e5405ea84855-5d5f413af2a93848-00",
=======
        "traceparent": "00-49822180074abe44bdc7f6c95e9a614a-c9e985d4916d984b-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "edb30b59-379c-90c7-dd37-1bb0d5b90042",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:12 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:13 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:11 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:12 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "edb30b59-379c-90c7-dd37-1bb0d5b90042",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8d70-501a-0046-37f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805ab8d-401a-0007-79db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1805340310",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}