{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ccf36df4-9474-0712-bc69-848bd12bd7c3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Aug 2021 19:28:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D967356946A815\u0022",
        "Last-Modified": "Tue, 24 Aug 2021 19:28:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ccf36df4-9474-0712-bc69-848bd12bd7c3/test-directory-40543235-7fe9-7bf6-0bba-52271986d208?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Aug 2021 19:28:55 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D967356956A16A\u0022",
        "Last-Modified": "Tue, 24 Aug 2021 19:28:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-08-24T19:28:54.7848554Z",
        "x-ms-file-creation-time": "2021-08-24T19:28:54.7848554Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-08-24T19:28:54.7848554Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ccf36df4-9474-0712-bc69-848bd12bd7c3/test-directory-40543235-7fe9-7bf6-0bba-52271986d208/test-file-6cbd4dac-cb28-34f3-f80b-d2fc8c6e5803",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "vuiondkchjwmoqjjtefp",
        "x-ms-content-disposition": "whjgufrlcrrdocvfgjgv",
        "x-ms-content-encoding": "mbegajuasknwicfnkbsi",
        "x-ms-content-language": "kyyoqsxmtddjwjcudcgk",
        "x-ms-content-length": "1048576",
        "x-ms-content-md5": "w7lghz/VXYIibSDvt4NtgA==",
        "x-ms-content-type": "jrsreutlvitepxkncopg",
        "x-ms-date": "Tue, 24 Aug 2021 19:28:55 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9673569687F04\u0022",
        "Last-Modified": "Tue, 24 Aug 2021 19:28:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-24T19:28:54.9019396Z",
        "x-ms-file-creation-time": "2021-08-24T19:28:54.9019396Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-24T19:28:54.9019396Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ccf36df4-9474-0712-bc69-848bd12bd7c3/test-directory-40543235-7fe9-7bf6-0bba-52271986d208/test-file-6cbd4dac-cb28-34f3-f80b-d2fc8c6e5803",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Aug 2021 19:28:55 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "whjgufrlcrrdocvfgjgv",
        "Content-Language": "kyyoqsxmtddjwjcudcgk",
        "Content-MD5": "w7lghz/VXYIibSDvt4NtgA==",
        "Content-Type": "jrsreutlvitepxkncopg",
        "ETag": "\u00220x8D9673569687F04\u0022",
        "Last-Modified": "Tue, 24 Aug 2021 19:28:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-24T19:28:54.9019396Z",
        "x-ms-file-creation-time": "2021-08-24T19:28:54.9019396Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-24T19:28:54.9019396Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ccf36df4-9474-0712-bc69-848bd12bd7c3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Aug 2021 19:28:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-08-24T14:28:54.5309469-05:00",
    "RandomSeed": "797497282",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}