{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f62ee60b-38a0-509c-2da2-5e62e1cae132?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:42 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e3b5062f-2083-fc02-ff3c-70c197da46bc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:02 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:41 GMT",
        "ETag": "\u00220x8D779E6BD45731A\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:53:42 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:01 GMT",
        "ETag": "\u00220x8D779E30397F2F9\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:02 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "44bc326f-6127-e582-da2d-c3691e41c64a",
        "x-ms-request-id": "ab3222b8-201a-002e-0bcf-abc02c000000",
=======
        "x-ms-client-request-id": "e771e257-49ae-bc9f-ef44-b3158d564e26",
        "x-ms-request-id": "4376e441-b01a-003c-32cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f62ee60b-38a0-509c-2da2-5e62e1cae132/test-directory-f92df763-13ac-a350-9fa6-0b9798bb0f17?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:42 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e3b5062f-2083-fc02-ff3c-70c197da46bc/test-directory-66cae374-1d64-77be-53b7-62ff5e824100?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:02 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:41 GMT",
        "ETag": "\u00220x8D779E6BD528D57\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:53:42 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:01 GMT",
        "ETag": "\u00220x8D779E303A55898\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:02 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "4a7e5443-06e9-5cc7-e219-a48056eb4d1f",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:53:42.1957463Z",
        "x-ms-file-creation-time": "2019-12-06T00:53:42.1957463Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:53:42.1957463Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "ab3222bc-201a-002e-0ecf-abc02c000000",
=======
        "x-ms-client-request-id": "d70c9b34-6233-3a15-24fa-94f6e6a05d6c",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:27:02.1919384Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:02.1919384Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:02.1919384Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e444-b01a-003c-34cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f62ee60b-38a0-509c-2da2-5e62e1cae132/test-directory-f92df763-13ac-a350-9fa6-0b9798bb0f17/test-file-33c8ab1e-174e-c73c-ec88-f2d9f81cfec2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:42 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e3b5062f-2083-fc02-ff3c-70c197da46bc/test-directory-66cae374-1d64-77be-53b7-62ff5e824100/test-file-97a3b202-99ec-15bd-d5a1-1f1f33f572b5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:02 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:41 GMT",
        "ETag": "\u00220x8D779E6BD5F856E\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:53:42 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:02 GMT",
        "ETag": "\u00220x8D779E303B24FD1\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:02 GMT",
>>>>>>> feature/storage/stg71-bas[...]
