{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-cfd37454-3a84-1d40-4a34-d85be6100184?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:52:07 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-3b06e558-1ca9-c275-c0e8-e3641f811e77?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:42 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:52:07 GMT",
        "ETag": "\u00220x8D779E684F158E5\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:52:07 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:42 GMT",
        "ETag": "\u00220x8D779E2D45E5940\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:42 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "5e3ed21d-9e09-3850-cd9f-beb114cd686f",
        "x-ms-request-id": "e6d5fb50-101a-0035-65cf-abfe2f000000",
=======
        "x-ms-client-request-id": "d1d63d41-55db-c1cf-9251-ede513f3593d",
        "x-ms-request-id": "a2d0f614-501a-0034-3ccb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-cfd37454-3a84-1d40-4a34-d85be6100184/test-directory-396467aa-4f20-c4c9-e258-6dc050efe1a3?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:52:07 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-3b06e558-1ca9-c275-c0e8-e3641f811e77/test-directory-c82d84a9-bbeb-cab7-ee23-04c348369def?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:42 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:52:07 GMT",
        "ETag": "\u00220x8D779E684FF45DB\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:52:07 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:42 GMT",
        "ETag": "\u00220x8D779E2D46BEE67\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:42 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "d5a6795b-5842-cd0b-0979-7cb1318fe7dd",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:52:07.6975579Z",
        "x-ms-file-creation-time": "2019-12-06T00:52:07.6975579Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:52:07.6975579Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "e6d5fb53-101a-0035-66cf-abfe2f000000",
=======
        "x-ms-client-request-id": "a095968c-9fa2-86ba-850b-e3b8510c795b",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:25:42.9627495Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:42.9627495Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:42.9627495Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "a2d0f616-501a-0034-3dcb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-cfd37454-3a84-1d40-4a34-d85be6100184?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:52:07 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-3b06e558-1ca9-c275-c0e8-e3641f811e77?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:43 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:52:07 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:42 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "b62c7135-fed0-0605-dc9e-e8e3d007cd2b",
        "x-ms-request-id": "e6d5fb54-101a-0035-67cf-abfe2f000000",
=======
        "x-ms-client-request-id": "a3d161f7-f8ac-1573-0438-b702e63f8852",
        "x-ms-request-id": "a2d0f618-501a-0034-3fcb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "1738951780",
=======
    "RandomSeed": "719345972",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}