{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-41982d80-e1aa-0a72-75a4-99662e750797?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-391798083b9f5545bc78c4ee53922120-f2f04d42a0cfd540-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "4b50a09b-d9fe-c4e2-cc36-100fd6577401",
        "x-ms-date": "Wed, 04 Dec 2019 05:11:46 GMT",
=======
        "traceparent": "00-d40b161d8e86c74fbbc6ddc9dc07248a-09ffc54dbde34d44-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "4b50a09b-d9fe-c4e2-cc36-100fd6577401",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:12 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:11:46 GMT",
        "ETag": "\u00220x8D778787608AF36\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:11:46 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:12 GMT",
        "ETag": "\u00220x8D778F27A7DDC94\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:12 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "4b50a09b-d9fe-c4e2-cc36-100fd6577401",
<<<<<<< HEAD
        "x-ms-request-id": "b5590b59-301a-000d-5661-aa5aef000000",
=======
        "x-ms-request-id": "6805ab7a-401a-0007-69db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-41982d80-e1aa-0a72-75a4-99662e750797/test-directory-f38ee09f-8ae7-1176-a447-589c0a6b03da/test-file-8dcb6aba-bc24-d099-0f73-28bd5f797a92",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-4784302790705c45b1a00541afa10e60-2f924a3899e88b48-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
=======
        "traceparent": "00-d269d90b68975b468e613eeed27ecb3b-e89e74aa98dfeb40-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "6b543633-e78c-e3dc-47bd-e37361b9b12a",
        "x-ms-content-length": "1024",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 05:11:46 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:12 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:11:46 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:12 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "6b543633-e78c-e3dc-47bd-e37361b9b12a",
        "x-ms-error-code": "ParentNotFound",
<<<<<<< HEAD
        "x-ms-request-id": "b5590b64-301a-000d-5861-aa5aef000000",
=======
        "x-ms-request-id": "6805ab7f-401a-0007-6ddb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EParentNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified parent path does not exist.\n",
<<<<<<< HEAD
        "RequestId:b5590b64-301a-000d-5861-aa5aef000000\n",
        "Time:2019-12-04T05:11:46.8873829Z\u003C/Message\u003E\u003C/Error\u003E"
=======
        "RequestId:6805ab7f-401a-0007-6ddb-aafe58000000\n",
        "Time:2019-12-04T19:45:12.9672690Z\u003C/Message\u003E\u003C/Error\u003E"
>>>>>>> feature/storage/stg71-base
      ]
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-41982d80-e1aa-0a72-75a4-99662e750797?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-e82aaed93014eb45aa008f384a82ad32-30ea3e9ff47cc348-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "2989c7b9-0e25-b105-f983-e04f12d4af71",
        "x-ms-date": "Wed, 04 Dec 2019 05:11:46 GMT",
=======
        "traceparent": "00-fe9e11cbb69075499442348cab5b0c8a-be44fa1ef9a6194d-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "2989c7b9-0e25-b105-f983-e04f12d4af71",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:13 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:11:46 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:12 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "2989c7b9-0e25-b105-f983-e04f12d4af71",
<<<<<<< HEAD
        "x-ms-request-id": "b5590b65-301a-000d-5961-aa5aef000000",
=======
        "x-ms-request-id": "6805ab81-401a-0007-6fdb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1083838372",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}