{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1a717af4-f577-7319-f637-e37cf788c006?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:06 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7793902AF5474\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:10:06 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1a717af4-f577-7319-f637-e37cf788c006/test-directory-b295c79e-9b3b-1ce1-972b-1e00380e223b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7793902C082E1\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:10:06 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-05T04:10:06.2482145Z",
        "x-ms-file-creation-time": "2019-12-05T04:10:06.2482145Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:10:06.2482145Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1a717af4-f577-7319-f637-e37cf788c006/test-directory-b295c79e-9b3b-1ce1-972b-1e00380e223b/test-file-0166277a-d832-78c8-018d-4476dcc6a6b7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "muweyiubxbsydicariun",
        "x-ms-content-disposition": "jebwhxrkypbfkbbktnxt",
        "x-ms-content-encoding": "lhnhhusgcqyeeccityvb",
        "x-ms-content-language": "pjbianochrgejbcbpspm",
        "x-ms-content-length": "1048576",
        "x-ms-content-md5": "YMxZWG2CSFyje4pRoz\u002BuOw==",
        "x-ms-content-type": "ekihqvahxsqtqwdbffhs",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7793902CE62E1\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:10:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-05T04:10:06.3391457Z",
        "x-ms-file-creation-time": "2019-12-05T04:10:06.3391457Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-05T04:10:06.3391457Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1a717af4-f577-7319-f637-e37cf788c006/test-directory-b295c79e-9b3b-1ce1-972b-1e00380e223b/test-file-0166277a-d832-78c8-018d-4476dcc6a6b7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:06 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "jebwhxrkypbfkbbktnxt",
        "Content-Language": "pjbianochrgejbcbpspm",
        "Content-MD5": "YMxZWG2CSFyje4pRoz\u002BuOw==",
        "Content-Type": "ekihqvahxsqtqwdbffhs",
        "ETag": "\u00220x8D7793902CE62E1\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:10:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-05T04:10:06.3391457Z",
        "x-ms-file-creation-time": "2019-12-05T04:10:06.3391457Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-05T04:10:06.3391457Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1a717af4-f577-7319-f637-e37cf788c006?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-04T20:10:06.1278022-08:00",
    "RandomSeed": "1731584380",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}