{
  "Entries": [
    {
      "RequestUri": "http://seandevtest.file.core.windows.net/test-share-5640e22a-2c91-b728-aa6c-e6dd56a72030?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2020 22:59:33 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7B6588CCB97C9\u0022",
        "Last-Modified": "Thu, 20 Feb 2020 22:59:33 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seandevtest.file.core.windows.net/test-share-5640e22a-2c91-b728-aa6c-e6dd56a72030/test-file-2a3210a9-8d3b-4c59-b676-9f96babb947e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 20 Feb 2020 22:59:33 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7B6588CD2CA16\u0022",
        "Last-Modified": "Thu, 20 Feb 2020 22:59:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-02-20T22:59:33.2216342Z",
        "x-ms-file-creation-time": "2020-02-20T22:59:33.2216342Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-02-20T22:59:33.2216342Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9973529139831694751*2506815767522118929",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seandevtest.file.core.windows.net/test-share-5640e22a-2c91-b728-aa6c-e6dd56a72030/test-file-2a3210a9-8d3b-4c59-b676-9f96babb947e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2020 22:59:33 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7B6588CD2CA16\u0022",
        "Last-Modified": "Thu, 20 Feb 2020 22:59:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-02-20T22:59:33.2216342Z",
        "x-ms-file-creation-time": "2020-02-20T22:59:33.2216342Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-02-20T22:59:33.2216342Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9973529139831694751*2506815767522118929",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seandevtest.file.core.windows.net/test-share-5640e22a-2c91-b728-aa6c-e6dd56a72030?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2020 22:59:33 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2055504685",
    "Storage_TestConfigDefault": "ProductionTenant\nseandevtest\nU2FuaXRpemVk\nhttps://seandevtest.blob.core.windows.net\nhttp://seandevtest.file.core.windows.net\nhttp://seandevtest.queue.core.windows.net\nhttp://seandevtest.table.core.windows.net\n\n\n\n\nhttp://seandevtest-secondary.blob.core.windows.net\nhttp://seandevtest-secondary.file.core.windows.net\nhttp://seandevtest-secondary.queue.core.windows.net\nhttp://seandevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seandevtest.blob.core.windows.net/;QueueEndpoint=http://seandevtest.queue.core.windows.net/;FileEndpoint=http://seandevtest.file.core.windows.net/;BlobSecondaryEndpoint=http://seandevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seandevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seandevtest-secondary.file.core.windows.net/;AccountName=seandevtest;AccountKey=Sanitized\nseanscope1"
  }
}