{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-22aee13c-9fca-c451-562e-75ae3bacc61b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:25 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e3b5062f-2083-fc02-ff3c-70c197da46bc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:02 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:24 GMT",
        "ETag": "\u00220x8D7793931DAD274\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:25 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:01 GMT",
        "ETag": "\u00220x8D779E30397F2F9\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:02 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "90201033-98ec-5c7e-1dfe-391223fdc23e",
        "x-ms-request-id": "011a0295-f01a-0002-1122-ab2c83000000",
=======
        "x-ms-client-request-id": "e771e257-49ae-bc9f-ef44-b3158d564e26",
        "x-ms-request-id": "4376e441-b01a-003c-32cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-22aee13c-9fca-c451-562e-75ae3bacc61b/test-directory-ff33544a-8ef6-2b31-011d-d007a86980e5?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:25 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e3b5062f-2083-fc02-ff3c-70c197da46bc/test-directory-66cae374-1d64-77be-53b7-62ff5e824100?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:02 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:24 GMT",
        "ETag": "\u00220x8D7793931E978B8\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:25 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:01 GMT",
        "ETag": "\u00220x8D779E303A55898\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:02 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "d70c9b34-6233-3a15-24fa-94f6e6a05d6c",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:11:25.3695672Z",
        "x-ms-file-creation-time": "2019-12-05T04:11:25.3695672Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:11:25.3695672Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "011a029a-f01a-0002-1422-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:27:02.1919384Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:02.1919384Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:02.1919384Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e444-b01a-003c-34cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-22aee13c-9fca-c451-562e-75ae3bacc61b/test-directory-ff33544a-8ef6-2b31-011d-d007a86980e5/test-file-ac3a537e-9783-13b3-252a-4ae82ad55334",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e3b5062f-2083-fc02-ff3c-70c197da46bc/test-directory-66cae374-1d64-77be-53b7-62ff5e824100/test-file-97a3b202-99ec-15bd-d5a1-1f1f33f572b5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "52c57de6-d7fa-9b3d-ddf6-019243f5062e",
        "x-ms-content-length": "1048576",
<<<<<<< HEAD
        "x-ms-date": "Thu, 05 Dec 2019 04:11:25 GMT",
=======
        "x-ms-date": "Fri, 06 Dec 2019 00:27:02 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:24 GMT",
        "ETag": "\u00220x8D7793931F6E662\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:25 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:02 GMT",
        "ETag": "\u00220x8D779E303B24FD1\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:02 GMT",
>>>>>>> feature/storage/stg71-bas[...]
