{
  "Entries": [
    {
      "RequestUri": "https://0n3xscnapsn4prde17h.file.preprod.core.windows.net/test-share-9b78315f-3887-7c22-2774-865d2883352f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Sep 2020 17:30:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D850F84593DCF4\u0022",
        "Last-Modified": "Fri, 04 Sep 2020 17:30:52 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0n3xscnapsn4prde17h.file.preprod.core.windows.net/test-share-9b78315f-3887-7c22-2774-865d2883352f/test-directory-e1e7c3cc-7dc5-38d7-7708-899d1f67ee61?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Sep 2020 17:30:52 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D850F845AA933C\u0022",
        "Last-Modified": "Fri, 04 Sep 2020 17:30:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-09-04T17:30:52.3843388Z",
        "x-ms-file-creation-time": "2020-09-04T17:30:52.3843388Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-09-04T17:30:52.3843388Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14827816195503570342*11897905858180131375",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0n3xscnapsn4prde17h.file.preprod.core.windows.net/test-share-9b78315f-3887-7c22-2774-865d2883352f/test-directory-e1e7c3cc-7dc5-38d7-7708-899d1f67ee61/test-file-9978a689-432b-7902-175d-7d1d01ea1a5b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "4398046511104",
        "x-ms-date": "Fri, 04 Sep 2020 17:30:52 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D850F845BB863B\u0022",
        "Last-Modified": "Fri, 04 Sep 2020 17:30:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-09-04T17:30:52.4954171Z",
        "x-ms-file-creation-time": "2020-09-04T17:30:52.4954171Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-09-04T17:30:52.4954171Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "990002565778260641*11897905858180131375",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0n3xscnapsn4prde17h.file.preprod.core.windows.net/test-share-9b78315f-3887-7c22-2774-865d2883352f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Sep 2020 17:30:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1992454047",
    "Storage_TestConfigDefault": "ProductionTenant\n0n3xscnapsn4prde17h\nU2FuaXRpemVk\nhttps://0n3xscnapsn4prde17h.blob.preprod.core.windows.net\nhttps://0n3xscnapsn4prde17h.file.preprod.core.windows.net\nhttps://0n3xscnapsn4prde17h.queue.preprod.core.windows.net\nhttps://0n3xscnapsn4prde17h.table.preprod.core.windows.net\n\n\n\n\nhttps://0n3xscnapsn4prde17h-secondary.blob.preprod.core.windows.net\nhttps://0n3xscnapsn4prde17h-secondary.file.preprod.core.windows.net\nhttps://0n3xscnapsn4prde17h-secondary.queue.preprod.core.windows.net\nhttps://0n3xscnapsn4prde17h-secondary.table.preprod.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://0n3xscnapsn4prde17h.blob.preprod.core.windows.net/;QueueEndpoint=https://0n3xscnapsn4prde17h.queue.preprod.core.windows.net/;FileEndpoint=https://0n3xscnapsn4prde17h.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://0n3xscnapsn4prde17h-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://0n3xscnapsn4prde17h-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://0n3xscnapsn4prde17h-secondary.file.preprod.core.windows.net/;AccountName=0n3xscnapsn4prde17h;AccountKey=Kg==;\n"
  }
}