{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1157bccd-9e06-5100-6d2f-e7aaf959d24c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:52:06 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7ca8b701-611d-f5ff-321a-77c52eb8c2c0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:42 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:52:06 GMT",
        "ETag": "\u00220x8D779E6848FB3B5\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:52:06 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:41 GMT",
        "ETag": "\u00220x8D779E2D40563DA\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:42 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "4ffd8504-858c-e782-dcfc-7dc3735c3ba7",
        "x-ms-request-id": "e6d5fb47-101a-0035-5ecf-abfe2f000000",
=======
        "x-ms-client-request-id": "158489ac-34a3-5ce9-cd2b-1af08a82fe11",
        "x-ms-request-id": "a2d0f607-501a-0034-32cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1157bccd-9e06-5100-6d2f-e7aaf959d24c/test-directory-d08aacf0-26c6-ec7d-a3bd-f12fc334478b/test-file-73a68958-825c-f2bf-9c94-7727635526c3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2019 00:52:07 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7ca8b701-611d-f5ff-321a-77c52eb8c2c0/test-directory-2ede3f49-7786-ce79-9579-a71358f18761/test-file-a518bfd3-ad34-fb1d-16d5-fcd01832a352",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:42 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:52:06 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:41 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "e96af1b5-c8b5-6d4a-ec98-3332af55884d",
        "x-ms-error-code": "ParentNotFound",
        "x-ms-request-id": "e6d5fb49-101a-0035-5fcf-abfe2f000000",
=======
        "x-ms-client-request-id": "ca1db8a4-5969-9cdc-21e3-18b17aa9b562",
        "x-ms-error-code": "ParentNotFound",
        "x-ms-request-id": "a2d0f60a-501a-0034-33cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EParentNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified parent path does not exist.\n",
<<<<<<< HEAD
        "RequestId:e6d5fb49-101a-0035-5fcf-abfe2f000000\n",
        "Time:2019-12-06T00:52:07.0593624Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7ca8b701-611d-f5ff-321a-77c52eb8c2c0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:42 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:52:06 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:41 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "7172cf70-3dea-d20e-e96e-70bfd3652db3",
        "x-ms-request-id": "e6d5fb4a-101a-0035-60cf-abfe2f000000",
=======
        "x-ms-client-request-id": "602c20d1-d914-b2e8-1a27-0d0f007fba65",
        "x-ms-request-id": "a2d0f60b-501a-0034-34cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "1350598037",
=======
    "RandomSeed": "553798284",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}