{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-cdb9495c-641b-be9e-7e35-f8e5fe8d97f9?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:43 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-ce8a8309-6a2e-a55f-b04c-41f2b0c7dcd6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:03 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:42 GMT",
        "ETag": "\u00220x8D779E6BDD3340F\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:53:43 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:02 GMT",
        "ETag": "\u00220x8D779E3042A482C\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:03 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "3e7c19b9-794e-c779-e811-f6072030a720",
        "x-ms-request-id": "ab3222ef-201a-002e-3ecf-abc02c000000",
=======
        "x-ms-client-request-id": "1afeb44b-6377-0c08-8adf-29662a6034ac",
        "x-ms-request-id": "4376e456-b01a-003c-42cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-cdb9495c-641b-be9e-7e35-f8e5fe8d97f9/test-directory-ecbeef69-6c8f-c4c8-734e-323c2a01ec95?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:43 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-ce8a8309-6a2e-a55f-b04c-41f2b0c7dcd6/test-directory-eb109fab-5580-94a5-6285-fe91b533adb3?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:03 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:42 GMT",
        "ETag": "\u00220x8D779E6BDE0EAAE\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:53:43 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:02 GMT",
        "ETag": "\u00220x8D779E3043783AF\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:03 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "e2331836-512a-4dda-51b7-ca00463c9ce6",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:53:43.1287470Z",
        "x-ms-file-creation-time": "2019-12-06T00:53:43.1287470Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:53:43.1287470Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "ab3222f1-201a-002e-3fcf-abc02c000000",
=======
        "x-ms-client-request-id": "57800867-b7ec-f6ee-0e6a-b8f264765657",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:27:03.1498671Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:03.1498671Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:03.1498671Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e458-b01a-003c-43cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-cdb9495c-641b-be9e-7e35-f8e5fe8d97f9?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:43 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-ce8a8309-6a2e-a55f-b04c-41f2b0c7dcd6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:03 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:42 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:03 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "40ce05ec-b8bd-7365-0823-9e858bd4cc7b",
        "x-ms-request-id": "ab3222f9-201a-002e-47cf-abc02c000000",
=======
        "x-ms-client-request-id": "d5995b58-81fd-2eb5-2596-171f381d5334",
        "x-ms-request-id": "4376e45a-b01a-003c-45cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "207799327",
=======
    "RandomSeed": "970615879",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}