{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-dc2e3d6b-b04d-18b7-f236-8ac5649fac44?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 19:48:31 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926C890D2803A\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:48:31 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-dc2e3d6b-b04d-18b7-f236-8ac5649fac44/test-directory-d937ed2a-9426-b033-dc8f-cd877b0a89fe?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 19:48:31 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926C890E068A3\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:48:31 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-06-03T19:48:31.5576483Z",
        "x-ms-file-creation-time": "2021-06-03T19:48:31.5576483Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-06-03T19:48:31.5576483Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-dc2e3d6b-b04d-18b7-f236-8ac5649fac44/test-directory-d937ed2a-9426-b033-dc8f-cd877b0a89fe/test-file-b3889259-31b2-1e9a-c112-a03745e0878d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "iixmwyhlmykwmceglhuc",
        "x-ms-content-disposition": "adbhkonafaoqodeumyuj",
        "x-ms-content-encoding": "qwfoxehxokrriwrfhpbh",
        "x-ms-content-language": "lggmjthixjsmlkkcwlig",
        "x-ms-content-length": "1048576",
        "x-ms-content-md5": "aAQV\u002BOkhCYytxWROvOCAVQ==",
        "x-ms-content-type": "holtiwhrlxnwwnxkqsfe",
        "x-ms-date": "Thu, 03 Jun 2021 19:48:32 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926C890EBB196\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:48:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-06-03T19:48:31.6316054Z",
        "x-ms-file-creation-time": "2021-06-03T19:48:31.6316054Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-06-03T19:48:31.6316054Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-dc2e3d6b-b04d-18b7-f236-8ac5649fac44/test-directory-d937ed2a-9426-b033-dc8f-cd877b0a89fe/test-file-b3889259-31b2-1e9a-c112-a03745e0878d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 19:48:32 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "adbhkonafaoqodeumyuj",
        "Content-Language": "lggmjthixjsmlkkcwlig",
        "Content-MD5": "aAQV\u002BOkhCYytxWROvOCAVQ==",
        "Content-Type": "holtiwhrlxnwwnxkqsfe",
        "ETag": "\u00220x8D926C890EBB196\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:48:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-06-03T19:48:31.6316054Z",
        "x-ms-file-creation-time": "2021-06-03T19:48:31.6316054Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-06-03T19:48:31.6316054Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-dc2e3d6b-b04d-18b7-f236-8ac5649fac44?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 19:48:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-06-03T14:48:31.8616190-05:00",
    "RandomSeed": "1511163181",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}