{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.file.core.windows.net/test-share-61b5a085-aa85-6028-99ad-02344331b4b2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Dec 2020 22:30:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8A3A491F5CBCC\u0022",
        "Last-Modified": "Fri, 18 Dec 2020 22:30:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.file.core.windows.net/test-share-61b5a085-aa85-6028-99ad-02344331b4b2/test-file-73b00a41-d4b8-b032-ba33-7c7da238f32e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 18 Dec 2020 22:30:49 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8A3A4921DAA86\u0022",
        "Last-Modified": "Fri, 18 Dec 2020 22:30:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-12-18T22:30:49.4306950Z",
        "x-ms-file-creation-time": "2020-12-18T22:30:49.4306950Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-12-18T22:30:49.4306950Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "53270788590723121*12114024658378361023",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.file.core.windows.net/test-share-61b5a085-aa85-6028-99ad-02344331b4b2/test-file-73b00a41-d4b8-b032-ba33-7c7da238f32e?sv=2020-04-08\u0026st=2020-12-18T21:30:49Z\u0026se=2020-12-18T23:30:49Z\u0026sr=s\u0026sp=rcwdl\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8A3A4921DAA86\u0022",
        "Last-Modified": "Fri, 18 Dec 2020 22:30:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-12-18T22:30:49.4306950Z",
        "x-ms-file-creation-time": "2020-12-18T22:30:49.4306950Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-12-18T22:30:49.4306950Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "53270788590723121*12114024658378361023",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.file.core.windows.net/test-share-61b5a085-aa85-6028-99ad-02344331b4b2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Dec 2020 22:30:49 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-12-18T14:30:49.2867504-08:00",
    "RandomSeed": "682770529",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope"
  }
}