{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-b2525414-592f-bff1-edce-cc9fa4cc50d7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-d4d8d30e4f646146a6364d1c36f9489a-7c4dc52ec05dd341-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "008cbff7-6ea1-fe10-c1c4-58827477fa3b",
        "x-ms-date": "Wed, 04 Dec 2019 05:11:50 GMT",
=======
        "traceparent": "00-0b264abf713b9a4796024428c26d4bee-25f47945efb1b14a-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "008cbff7-6ea1-fe10-c1c4-58827477fa3b",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:15 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:11:50 GMT",
        "ETag": "\u00220x8D77878781B1554\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:11:50 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:14 GMT",
        "ETag": "\u00220x8D778F27BF393F6\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:15 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "008cbff7-6ea1-fe10-c1c4-58827477fa3b",
<<<<<<< HEAD
        "x-ms-request-id": "b5590bbf-301a-000d-2861-aa5aef000000",
=======
        "x-ms-request-id": "6805abd3-401a-0007-36db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-b2525414-592f-bff1-edce-cc9fa4cc50d7/test-directory-eac1a9d7-a3b3-12ba-5e56-4ac663cefa3e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-99b81998aca5d944a4e6a1ff10d54ab2-9cf6aa964d7bee42-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "1a4bba6e-b6ed-530b-057a-a14a234a9bf2",
        "x-ms-date": "Wed, 04 Dec 2019 05:11:50 GMT",
=======
        "traceparent": "00-d43b3dfbdea1b8458dbea8cf63ad1f61-05d2ad5f1765fd4f-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "1a4bba6e-b6ed-530b-057a-a14a234a9bf2",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:15 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:11:50 GMT",
        "ETag": "\u00220x8D77878782863D3\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:11:50 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:14 GMT",
        "ETag": "\u00220x8D778F27C01FC76\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:15 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "1a4bba6e-b6ed-530b-057a-a14a234a9bf2",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T05:11:50.3536083Z",
        "x-ms-file-creation-time": "2019-12-04T05:11:50.3536083Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T05:11:50.3536083Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "b5590bc3-301a-000d-2b61-aa5aef000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:45:15.4138230Z",
        "x-ms-file-creation-time": "2019-12-04T19:45:15.4138230Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:45:15.4138230Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "6805abd7-401a-0007-39db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-b2525414-592f-bff1-edce-cc9fa4cc50d7/test-directory-eac1a9d7-a3b3-12ba-5e56-4ac663cefa3e/test-file-675519c9-15cf-87fb-73ea-58ddb51d67ea",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-01a139983d5d664d98a0d546625a629f-aa6f12118a40e44c-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
=======
        "traceparent": "00-060b10e8f2a8474080caf13dd2f68894-87ad7151d23e5747-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "90d3fa3b-201e-5821-bec4-a7035e2d9ee7",
        "x-ms-content-length": "1048576",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 05:11:50 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:15 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:11:50 GMT",
        "ETag": "\u00220x8D778787835D185\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:11:50 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:14 GMT",
        "ETag": "\u00220x8D778F27C0F42C4\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:15 GMT",
>>>>>>> feature/storage/stg71-bas[...]
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-b2525414-592f-bff1-edce-cc9fa4cc50d7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-980a169025594e4b83ade6f4ad3cdcf2-aef5af85fcc9134f-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "4dcc20eb-e38b-3b9d-ebcc-90f208b0b27a",
        "x-ms-date": "Wed, 04 Dec 2019 05:11:50 GMT",
=======
        "traceparent": "00-5509a9bfa86b7a4b94179d5a30bf3317-104d5c9c62219440-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "4dcc20eb-e38b-3b9d-ebcc-90f208b0b27a",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:15 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:11:50 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:15 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "4dcc20eb-e38b-3b9d-ebcc-90f208b0b27a",
<<<<<<< HEAD
        "x-ms-request-id": "b5590bc7-301a-000d-2f61-aa5aef000000",
=======
        "x-ms-request-id": "6805abdf-401a-0007-41db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1234959983",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}