{
  "Entries": [
    {
      "RequestUri": "https://oauthfilerest3.file.core.windows.net/test-share-d5c8b2a8-7606-fc71-8d53-dec4a322a77b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A542B99D92A9\u0022",
        "Last-Modified": "Thu, 11 Nov 2021 18:40:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://oauthfilerest3.file.core.windows.net/test-share-d5c8b2a8-7606-fc71-8d53-dec4a322a77b/test-directory-75bb1cd3-e789-2e3a-71b5-fc83da1cff5b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A542B9A7F572\u0022",
        "Last-Modified": "Thu, 11 Nov 2021 18:40:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-11-11T18:40:25.0852722Z",
        "x-ms-file-creation-time": "2021-11-11T18:40:25.0852722Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-11T18:40:25.0852722Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15786088493850344481*12954698658981292968",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://oauthfilerest3.file.core.windows.net/test-share-d5c8b2a8-7606-fc71-8d53-dec4a322a77b/test-directory-75bb1cd3-e789-2e3a-71b5-fc83da1cff5b/test-file-654fda8e-86dc-20ca-a463-604ea560e9cf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A542B9B190FB\u0022",
        "Last-Modified": "Thu, 11 Nov 2021 18:40:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-11T18:40:25.1482363Z",
        "x-ms-file-creation-time": "2021-11-11T18:40:25.1482363Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-11-11T18:40:25.1482363Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1975036839435879206*12954698658981292968",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://oauthfilerest3.file.core.windows.net/test-share-d5c8b2a8-7606-fc71-8d53-dec4a322a77b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "611753711",
    "Storage_TestConfigOAuth": "OAuthTenant\noauthfilerest3\nU2FuaXRpemVk\nhttps://oauthfilerest3.blob.core.windows.net\nhttps://oauthfilerest3.file.core.windows.net\nhttps://oauthfilerest3.queue.core.windows.net\nhttps://oauthfilerest3.table.core.windows.net\n\n\n\n\nhttps://oauthfilerest3-secondary.blob.core.windows.net\nhttps://oauthfilerest3-secondary.file.core.windows.net\nhttps://oauthfilerest3-secondary.queue.core.windows.net\nhttps://oauthfilerest3-secondary.table.core.windows.net\ndc57b189-cd6a-485e-beb1-dd71492b0a92\nSanitized\n922923f3-36c9-4663-b1d7-68e670802ae1\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://oauthfilerest3.blob.core.windows.net/;QueueEndpoint=https://oauthfilerest3.queue.core.windows.net/;FileEndpoint=https://oauthfilerest3.file.core.windows.net/;BlobSecondaryEndpoint=https://oauthfilerest3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://oauthfilerest3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://oauthfilerest3-secondary.file.core.windows.net/;AccountName=oauthfilerest3;AccountKey=Sanitized\nseanscope1\nXClient\n25c81a3f-c3f0-41c0-8453-4f699167c22d"
  }
}