{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5117965b-a093-e517-5362-5af5a835accf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:21 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E80F705F7\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:45:21 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5117965b-a093-e517-5362-5af5a835accf/test-directory-a0cb12d8-a279-d631-612e-226236edd283?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:21 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E810501B1\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:45:21 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-03-05T21:45:21.2413361Z",
        "x-ms-file-creation-time": "2020-03-05T21:45:21.2413361Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-03-05T21:45:21.2413361Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5117965b-a093-e517-5362-5af5a835accf/test-directory-a0cb12d8-a279-d631-612e-226236edd283/test-file-ca2fab07-6fef-76ab-1eb8-b913cf8b80a4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:21 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E8112E46F\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:45:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-03-05T21:45:21.3323375Z",
        "x-ms-file-creation-time": "2020-03-05T21:45:21.3323375Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-03-05T21:45:21.3323375Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5117965b-a093-e517-5362-5af5a835accf/test-directory-a0cb12d8-a279-d631-612e-226236edd283/test-file-ca2fab07-6fef-76ab-1eb8-b913cf8b80a4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:21 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "KbNw\u002BjL4qxg8onNy7FCjiRk2oA9M/8yeMH751JywKuc\u002BIIm8\u002BfaSlVe9WCZm/mhacxizbCL5hinn0sm0/9d8jHiLM8vG548jpAq4j6alODIVnmGD/L3FRZpf1Scs3pZ/QMyu28qclIyIkMgYQPaDQZmXnmB2\u002BI\u002B6xe4xZhFo9sZzOE7Z911neQrU\u002B2z1rAWj3JONlT82CUc98xXcay16H5kCpAeoqUk8MCRWofwixBnpjYp922CGPS4GnARIig7cWtzT8wf9\u002BzNKUGUa4GhKGi77892j/EQ4e2fYoQ1F9KYWeUYgT9ER65FWM4r7a13GvIHVTJYwOV2XmnegJFomBFy/BGYhKctd6ghLTMm5PBAKEuWLb6gP5T/piLRZccY3MC4tPGb2pJK1eGGO5O2U3V1nlRJ1mpW0rx4nOKEW[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5117965b-a093-e517-5362-5af5a835accf/test-directory-a0cb12d8-a279-d631-612e-226236edd283/test-file-ca2fab07-6fef-76ab-1eb8-b913cf8b80a4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:21 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "34d816a9-31e9-44e2-1e68-7e2ce88ee763",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E8121D873\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:45:21 GMT",
        "x-ms-lease-id": "34d816a9-31e9-44e2-1e68-7e2ce88ee763",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5117965b-a093-e517-5362-5af5a835accf/test-directory-a0cb12d8-a279-d631-612e-226236edd283/test-file-ca2fab07-6fef-76ab-1eb8-b913cf8b80a4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:21 GMT",
        "x-ms-lease-id": "34d816a9-31e9-44e2-1e68-7e2ce88ee763",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 1024-2047/1048576",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C14E8121D873\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:45:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-03-05T21:45:21.3323375Z",
        "x-ms-file-creation-time": "2020-03-05T21:45:21.3323375Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-03-05T21:45:21.3323375Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-lease-duration": "infinite",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "KbNw\u002BjL4qxg8onNy7FCjiRk2oA9M/8yeMH751JywKuc\u002BIIm8\u002BfaSlVe9WCZm/mhacxizbCL5hinn0sm0/9d8jHiLM8vG548jpAq4j6alODIVnmGD/L3FRZpf1Scs3pZ/QMyu28qclIyIkMgYQPaDQZmXnmB2\u002BI\u002B6xe4xZhFo9sZzOE7Z911neQrU\u002B2z1rAWj3JONlT82CUc98xXcay16H5kCpAeoqUk8MCRWofwixBnpjYp922CGPS4GnARIig7cWtzT8wf9\u002BzNKUGUa4GhKGi77892j/EQ4e2fYoQ1F9KYWeUYgT9ER65FWM4r7a13GvIHVTJYwOV2XmnegJFomBFy/BGYhKctd6ghLTM[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5117965b-a093-e517-5362-5af5a835accf?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "133965864",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}