{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a54143d6-0d2f-66c8-a13b-e3f71ab324dc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:31:36 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D966643D9D01DA\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:31:36 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a54143d6-0d2f-66c8-a13b-e3f71ab324dc/test-directory-87a3bffa-58ce-5bb2-d40b-ef0c034bf58c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:31:36 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D966643DA7DF07\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:31:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-08-23T18:31:36.6810375Z",
        "x-ms-file-creation-time": "2021-08-23T18:31:36.6810375Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-08-23T18:31:36.6810375Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a54143d6-0d2f-66c8-a13b-e3f71ab324dc/test-directory-87a3bffa-58ce-5bb2-d40b-ef0c034bf58c/test-file-2b89a07f-bb5b-87da-8346-041462950d11",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Mon, 23 Aug 2021 18:31:36 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D966643DB54A93\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:31:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:31:36.7689875Z",
        "x-ms-file-creation-time": "2021-08-23T18:31:36.7689875Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:31:36.7689875Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a54143d6-0d2f-66c8-a13b-e3f71ab324dc/test-directory-87a3bffa-58ce-5bb2-d40b-ef0c034bf58c/test-file-2b89a07f-bb5b-87da-8346-041462950d11?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 23 Aug 2021 18:31:36 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-10-02",
        "x-ms-write": "update"
      },
      "RequestBody": "K0Eo018IT/N13uYn/mNnQnSD3IeMyYOax\u002B6DPbOhbXLTQNsJiWEpiSyRxjVc/eqZL80gVHaUPWK9jgtwhRE/1HB0VL2HXrkTWlJa\u002BgNNPcoE6Q3mgBn7PgJ5S/pVuAQaUfHF6KksEtEUDfojOkJecFBBbJsEWVNXeBa6DhK\u002BvaFOQKkRiFUg19Y80nIf2AO/GtuqE0xoFvedbnCTcgO\u002BVU9Y1fqZTef6IJXEx4bgOJ8S\u002BvM3E6lV5SmxcxrkjWXTfXwixgIJJs3zr/K2o05xvTbQgHcQh0KmA\u002B/Q59rNFpMw8UkKvXGdCNQmRGO2nkLaQLbkFAztwvY6fMMSOT/zJZlfhrEFZv/EM3ij6UPe72St9aYj6QGGQi9Tz0Guis6UMx7KVxeQ1dm3H\u002BGUStizXI1eZUOYzzyX2ESCspa\[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a54143d6-0d2f-66c8-a13b-e3f71ab324dc/test-directory-87a3bffa-58ce-5bb2-d40b-ef0c034bf58c/test-file-2b89a07f-bb5b-87da-8346-041462950d11",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:31:36 GMT",
        "x-ms-lease-id": "c9cd21ac-2820-0647-9c61-2743ab87fcf3",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithFileOperation",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithFileOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the file.\n",
        "RequestId:69aefdc9-101a-0075-254d-98b1ee000000\n",
        "Time:2021-08-23T18:31:37.4454119Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a54143d6-0d2f-66c8-a13b-e3f71ab324dc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:31:37 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1645004944",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}