{
  "Entries": [
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-6ba011ee-2f57-9053-7a77-55b6d0e77a59?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Jul 2021 06:40:20 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9525BBC0C43F6\u0022",
        "Last-Modified": "Thu, 29 Jul 2021 06:40:20 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-6ba011ee-2f57-9053-7a77-55b6d0e77a59/test-directory-2698ce1d-2d3b-1c4b-2726-f5a04809cdbe?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Jul 2021 06:40:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9525BBC127D9F\u0022",
        "Last-Modified": "Thu, 29 Jul 2021 06:40:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-29T06:40:20.0465823Z",
        "x-ms-file-creation-time": "2021-07-29T06:40:20.0465823Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-07-29T06:40:20.0465823Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-6ba011ee-2f57-9053-7a77-55b6d0e77a59/test-directory-2698ce1d-2d3b-1c4b-2726-f5a04809cdbe/test-file-2b4fb36c-b6ad-6ad3-b3d8-174ababebcab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 29 Jul 2021 06:40:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9525BBC190E80\u0022",
        "Last-Modified": "Thu, 29 Jul 2021 06:40:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-29T06:40:20.0896128Z",
        "x-ms-file-creation-time": "2021-07-29T06:40:20.0896128Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-07-29T06:40:20.0896128Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-6ba011ee-2f57-9053-7a77-55b6d0e77a59/test-directory-2698ce1d-2d3b-1c4b-2726-f5a04809cdbe/test-file-2b4fb36c-b6ad-6ad3-b3d8-174ababebcab?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 29 Jul 2021 06:40:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02",
        "x-ms-write": "update"
      },
      "RequestBody": "oP8sDNC4CFvNkGHu7ohob3zKJ0ELJM0JEoF1w6rpT2PjN87jadgrQulqQdTPAl9IIycCKbpWvXsyI/lOQ0Wx5EH9C7a6hAWjnuVXoeP5OQ8iLZ\u002BD5iWpjXpTsUXf3f\u002BkuV2T0vepjp8hXovV/huXOerpKxalLf0bVH08ZtO/xMDlsuiGZWYXeZ8AYYea1I5eu3hb9bHp/otfd355bCfLYZrK70wyEdOD0bJ3pcx1gYDv3ataZM4P/LRdJ\u002B3onQx4NP/tz\u002BRBLKml2CP/clm\u002B6fb9io97cf3Lu/KX1erlmjSm/3DMiLGbrbECtYurD4pbnj336hN8/MMCIRTyqla/vz3vWXPo8mFEYtzeebtyIKtoPDat7a8gKQKtymacqQNaQvZNu7YXcqzcsog3noMIkAFpiW0gEdKOzy9wOyf6qLnYhDbFJG[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-6ba011ee-2f57-9053-7a77-55b6d0e77a59/test-directory-2698ce1d-2d3b-1c4b-2726-f5a04809cdbe/test-file-2b4fb36c-b6ad-6ad3-b3d8-174ababebcab",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Jul 2021 06:40:20 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-range-get-content-md5": "false",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9525BBC2768F8\u0022",
        "Last-Modified": "Thu, 29 Jul 2021 06:40:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-29T06:40:20.1346457Z",
        "x-ms-file-creation-time": "2021-07-29T06:40:20.1346457Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-07-29T06:40:20.1346457Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "oP8sDNC4CFvNkGHu7ohob3zKJ0ELJM0JEoF1w6rpT2PjN87jadgrQulqQdTPAl9IIycCKbpWvXsyI/lOQ0Wx5EH9C7a6hAWjnuVXoeP5OQ8iLZ\u002BD5iWpjXpTsUXf3f\u002BkuV2T0vepjp8hXovV/huXOerpKxalLf0bVH08ZtO/xMDlsuiGZWYXeZ8AYYea1I5eu3hb9bHp/otfd355bCfLYZrK70wyEdOD0bJ3pcx1gYDv3ataZM4P/LRdJ\u002B3onQx4NP/tz\u002BRBLKml2CP/clm\u002B6fb9io97cf3Lu/KX1erlmjSm/3DMiLGbrbECtYurD4pbnj336hN8/MMCIRTyqla/vz3vWXPo8mFEYtzeebtyIKtoPDat[...]
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-6ba011ee-2f57-9053-7a77-55b6d0e77a59?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Jul 2021 06:40:20 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "735449388",
    "Storage_TestConfigDefault": "ProductionTenant\nrnpstd\nU2FuaXRpemVk\nhttps://rnpstd.blob.core.windows.net\nhttps://rnpstd.file.core.windows.net\nhttps://rnpstd.queue.core.windows.net\nhttps://rnpstd.table.core.windows.net\n\n\n\n\nhttps://rnpstd-secondary.blob.core.windows.net\nhttps://rnpstd-secondary.file.core.windows.net\nhttps://rnpstd-secondary.queue.core.windows.net\nhttps://rnpstd-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://rnpstd.blob.core.windows.net/;QueueEndpoint=https://rnpstd.queue.core.windows.net/;FileEndpoint=https://rnpstd.file.core.windows.net/;BlobSecondaryEndpoint=https://rnpstd-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://rnpstd-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://rnpstd-secondary.file.core.windows.net/;AccountName=rnpstd;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}