{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cda35ca3-887f-ea02-d2bf-235750d75d13?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 20:42:51 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D40613FCE79\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 20:42:51 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cda35ca3-887f-ea02-d2bf-235750d75d13/test-directory-5daa3d5d-5366-fc79-4ca3-af8830787f27?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 20:42:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D406149DCE9\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 20:42:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-09-21T20:42:51.3245417Z",
        "x-ms-file-creation-time": "2021-09-21T20:42:51.3245417Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-21T20:42:51.3245417Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cda35ca3-887f-ea02-d2bf-235750d75d13/test-directory-5daa3d5d-5366-fc79-4ca3-af8830787f27/test-file-b79c8159-ac02-a30e-a60c-f183dcc0fe1a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 21 Sep 2021 20:42:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D4061537874\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 20:42:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T20:42:51.3875060Z",
        "x-ms-file-creation-time": "2021-09-21T20:42:51.3875060Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T20:42:51.3875060Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cda35ca3-887f-ea02-d2bf-235750d75d13/test-directory-5daa3d5d-5366-fc79-4ca3-af8830787f27/test-file-b79c8159-ac02-a30e-a60c-f183dcc0fe1a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 20:42:51 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "yU6hcI8OmiAyNSCZqLqp5xCrpnOiq222TiYeLmT5aCYKG3q86IvP1OqnTd5H5PNdKdDzI9xYuB3g6iFo72y8OM36j40/7f\u002BE3NGI\u002B12Pb2ozwQSTBkVJsWNd2/1qZuV\u002B6hURTVVmHTzRbkYKz72/UXu3NS5nKDKHsN0q4hEBGnbsChBIfiEUzKPIwpf\u002BPuKmnYqBsjC2FsLiiZx3Ozsq0FPQHsSsd9JZommLn2aaiHH7g0SGf2hFNvRNZvWFnZBnnfJELiAd\u002BSa4KA/HKndbSAAre7f3o1DriufQXxHd1AXYJAF0VlpQ3ooezldYfgt98R70WSLYcPmhWKQ5TJoV2lMK7wV15/Gm2pwt2NX4kgvbUm3y6Hri/7QH0v22F5HwCfMETY8FBwosTn\u002BFq5ckqcWYXfosIvLYJ/BRbRXz78IKP[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cda35ca3-887f-ea02-d2bf-235750d75d13/test-directory-5daa3d5d-5366-fc79-4ca3-af8830787f27/test-file-b79c8159-ac02-a30e-a60c-f183dcc0fe1a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 20:42:51 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "25c00a26-431b-5144-b656-231cfb2c6d7b",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D4061661362\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 20:42:51 GMT",
        "x-ms-lease-id": "25c00a26-431b-5144-b656-231cfb2c6d7b",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cda35ca3-887f-ea02-d2bf-235750d75d13/test-directory-5daa3d5d-5366-fc79-4ca3-af8830787f27/test-file-b79c8159-ac02-a30e-a60c-f183dcc0fe1a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 20:42:51 GMT",
        "x-ms-lease-id": "25c00a26-431b-5144-b656-231cfb2c6d7b",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 1024-2047/1048576",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D4061661362\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 20:42:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T20:42:51.3875060Z",
        "x-ms-file-creation-time": "2021-09-21T20:42:51.3875060Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T20:42:51.3875060Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-duration": "infinite",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "yU6hcI8OmiAyNSCZqLqp5xCrpnOiq222TiYeLmT5aCYKG3q86IvP1OqnTd5H5PNdKdDzI9xYuB3g6iFo72y8OM36j40/7f\u002BE3NGI\u002B12Pb2ozwQSTBkVJsWNd2/1qZuV\u002B6hURTVVmHTzRbkYKz72/UXu3NS5nKDKHsN0q4hEBGnbsChBIfiEUzKPIwpf\u002BPuKmnYqBsjC2FsLiiZx3Ozsq0FPQHsSsd9JZommLn2aaiHH7g0SGf2hFNvRNZvWFnZBnnfJELiAd\u002BSa4KA/HKndbSAAre7f3o1DriufQXxHd1AXYJAF0VlpQ3ooezldYfgt98R70WSLYcPmhWKQ5TJoV2lMK7wV15/Gm2pwt2NX4kgvbUm3y[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cda35ca3-887f-ea02-d2bf-235750d75d13?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 20:42:51 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "67735788",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}