{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-fa2141c8-8e7b-b98d-473c-e6c5651b9bde?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:35 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D325CC47D52\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:35 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-fa2141c8-8e7b-b98d-473c-e6c5651b9bde/test-directory-4323e6b7-0bd5-05da-8598-4c3efc4dcb7b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D325CD1F6C8\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-10T05:32:35.5315400Z",
        "x-ms-file-creation-time": "2019-12-10T05:32:35.5315400Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-10T05:32:35.5315400Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-fa2141c8-8e7b-b98d-473c-e6c5651b9bde/test-directory-4323e6b7-0bd5-05da-8598-4c3efc4dcb7b/test-file-78454b3d-c86a-3d52-72fb-ebe3a4180856",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D325CDEEC4B\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-10T05:32:35.6164683Z",
        "x-ms-file-creation-time": "2019-12-10T05:32:35.6164683Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-10T05:32:35.6164683Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-fa2141c8-8e7b-b98d-473c-e6c5651b9bde/test-directory-4323e6b7-0bd5-05da-8598-4c3efc4dcb7b/test-file-78454b3d-c86a-3d52-72fb-ebe3a4180856?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:35 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "YsoOEOHVH/6fxwOlxm8RBjWwJcGlW\u002BS9JpjAVUbh67WfZgTqi6Y3TpRIoupOOhpwtHx0z6BZkwfmUOlJFMq3vdtOBmBqJnuOeNctXbj5b\u002Bx\u002BUKHJbRsURdL9BDq97jnKkOQP/zO5BY0A5VfJKzZO7OH8y8Mo7lDAOcCObSJB0YqdY83U6m\u002B5xEoTyIfESxqbrhdZwCJ1oaGTTsZyK5hrvxTMLMhoeQJxQwZ4FSbI\u002B\u002B6m8r4K6BFnJ8EsQJupRpmyqAlz\u002BB9RMjQU53wc/Ix7ylPXzDjZYNYCZQQHPDhnx/1txmwcVQPPVb\u002BJ9gCUSyo1sHZH0nlg2EcycJIaSvb7rSB/rjYfXnVPCHd4T2rVbhna0YvCH/WDDe0k6eRwtAvJjUjgFZz0FVIA\u002BMoC54ndXQJ5QHhqOY[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-fa2141c8-8e7b-b98d-473c-e6c5651b9bde/test-directory-4323e6b7-0bd5-05da-8598-4c3efc4dcb7b/test-file-78454b3d-c86a-3d52-72fb-ebe3a4180856?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:35 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "9afdf12c-0d9d-f6c8-f00a-3a3a565dfe3a",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D325CEB49BF\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:35 GMT",
        "x-ms-lease-id": "9afdf12c-0d9d-f6c8-f00a-3a3a565dfe3a",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-fa2141c8-8e7b-b98d-473c-e6c5651b9bde/test-directory-4323e6b7-0bd5-05da-8598-4c3efc4dcb7b/test-file-78454b3d-c86a-3d52-72fb-ebe3a4180856",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:35 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 1024-2047/1048576",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77D325CEB49BF\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-10T05:32:35.6164683Z",
        "x-ms-file-creation-time": "2019-12-10T05:32:35.6164683Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-10T05:32:35.6164683Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-lease-duration": "infinite",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "YsoOEOHVH/6fxwOlxm8RBjWwJcGlW\u002BS9JpjAVUbh67WfZgTqi6Y3TpRIoupOOhpwtHx0z6BZkwfmUOlJFMq3vdtOBmBqJnuOeNctXbj5b\u002Bx\u002BUKHJbRsURdL9BDq97jnKkOQP/zO5BY0A5VfJKzZO7OH8y8Mo7lDAOcCObSJB0YqdY83U6m\u002B5xEoTyIfESxqbrhdZwCJ1oaGTTsZyK5hrvxTMLMhoeQJxQwZ4FSbI\u002B\u002B6m8r4K6BFnJ8EsQJupRpmyqAlz\u002BB9RMjQU53wc/Ix7ylPXzDjZYNYCZQQHPDhnx/1txmwcVQPPVb\u002BJ9gCUSyo1sHZH0nlg2EcycJIaSvb7rSB/rjYfXnVPC[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-fa2141c8-8e7b-b98d-473c-e6c5651b9bde?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:35 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "742075882",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}