{
  "Entries": [
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-aca9c321-845c-aa06-d839-440b440a757d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Nov 2022 02:48:49 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD27D6916B477\u0022",
        "Last-Modified": "Wed, 30 Nov 2022 02:48:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-aca9c321-845c-aa06-d839-440b440a757d/test-directory-b1835faf-a969-025b-8045-e897798a5fba?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD27D6929AF88\u0022",
        "Last-Modified": "Wed, 30 Nov 2022 02:48:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-11-30T02:48:50.3431048Z",
        "x-ms-file-creation-time": "2022-11-30T02:48:50.3431048Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-11-30T02:48:50.3431048Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8792472798472242479*1359530181238362790",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-aca9c321-845c-aa06-d839-440b440a757d/test-directory-b1835faf-a969-025b-8045-e897798a5fba/test-file-2046f41b-a237-e599-1144-0d1fd4089384",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD27D6932D5EA\u0022",
        "Last-Modified": "Wed, 30 Nov 2022 02:48:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-11-30T02:48:50.4030698Z",
        "x-ms-file-creation-time": "2022-11-30T02:48:50.4030698Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-11-30T02:48:50.4030698Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13438439191449926184*1359530181238362790",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-aca9c321-845c-aa06-d839-440b440a757d/test-directory-b1835faf-a969-025b-8045-e897798a5fba/test-file-2046f41b-a237-e599-1144-0d1fd4089384?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2021-12-02",
        "x-ms-write": "update"
      },
      "RequestBody": "RtwIvJDlyniJ0yP7xCBMu23DJPULs9c4qmgghSmcmMCYFj\u002B8u60jxWb2uXlH4IQYcWWpbnZXCpIF0BEoxURP7TtjY67hjwC/oF\u002BPFPld8cnkBxTD8ypJQAyst\u002Buc\u002BwAhp8w\u002B433WNuFl6c4Xx/WYp95IQ70wi/kRGSKhNdgVI6Rfbm0tHw1LDtEyXglbMnkXEw8MVLdD8RvSLMlbNAEJT8Ypt1mHa4fR/DXs/S3wteeoiiHICc/tHHxSWvND79nPKQ5DMnogj6eHOleCVvTt4nfis6rfQUb3O5vcNRGUjQxbHNQfrYJsiPt6QM53asWIZHh8YTwv8OjHTPbeQ1mW861LJzofzjX0dSquZQB4f9HWU9GZGCvQKyzsV2GMjUSi400hLEOKaJZDh\u002BwRgYvnTswlB\u002B\u002BI/dqBevs[...]
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-aca9c321-845c-aa06-d839-440b440a757d/test-directory-b1835faf-a969-025b-8045-e897798a5fba/test-file-2046f41b-a237-e599-1144-0d1fd4089384",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAD27D693B872A\u0022",
        "Last-Modified": "Wed, 30 Nov 2022 02:48:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-11-30T02:48:50.4600362Z",
        "x-ms-file-creation-time": "2022-11-30T02:48:50.4030698Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-11-30T02:48:50.4600362Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13438439191449926184*1359530181238362790",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-aca9c321-845c-aa06-d839-440b440a757d/test-directory-b1835faf-a969-025b-8045-e897798a5fba/test-file-2046f41b-a237-e599-1144-0d1fd4089384",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 1024-2047/1048576",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAD27D693B872A\u0022",
        "Last-Modified": "Wed, 30 Nov 2022 02:48:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-11-30T02:48:50.4600362Z",
        "x-ms-file-creation-time": "2022-11-30T02:48:50.4030698Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-11-30T02:48:50.4600362Z",
        "x-ms-file-pa[...]
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-aca9c321-845c-aa06-d839-440b440a757d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Nov 2022 02:48:49 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1281885222",
    "Storage_TestConfigOAuth": "OAuthTenant\nsdkfileoauthsa\nU2FuaXRpemVk\nhttps://sdkfileoauthsa.blob.core.windows.net\nhttps://sdkfileoauthsa.file.core.windows.net\nhttps://sdkfileoauthsa.queue.core.windows.net\nhttps://sdkfileoauthsa.table.core.windows.net\n\n\n\n\nhttps://sdkfileoauthsa-secondary.blob.core.windows.net\nhttps://sdkfileoauthsa-secondary.file.core.windows.net\nhttps://sdkfileoauthsa-secondary.queue.core.windows.net\nhttps://sdkfileoauthsa-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://sdkfileoauthsa.blob.core.windows.net/;QueueEndpoint=https://sdkfileoauthsa.queue.core.windows.net/;FileEndpoint=https://sdkfileoauthsa.file.core.windows.net/;BlobSecondaryEndpoint=https://sdkfileoauthsa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://sdkfileoauthsa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://sdkfileoauthsa-secondary.file.core.windows.net/;AccountName=sdkfileoauthsa;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
