{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-98d0e171-ed13-d2ae-3cac-f0bcf3538692?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:28 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-4084d84a-c536-d0fc-041b-3aa1c492956c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:05 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:27 GMT",
        "ETag": "\u00220x8D7793933F9E1E3\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:28 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:05 GMT",
        "ETag": "\u00220x8D779E305AE5074\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:05 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "64f173b4-4dc1-7458-3152-68b1acf2153c",
        "x-ms-request-id": "011a0309-f01a-0002-7522-ab2c83000000",
=======
        "x-ms-client-request-id": "1f749b6d-2cdf-7cfd-ba87-eea6e0cf6e19",
        "x-ms-request-id": "4376e48c-b01a-003c-70cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-98d0e171-ed13-d2ae-3cac-f0bcf3538692/test-directory-b474cf2b-bf39-2b27-4717-9709e12e406a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:28 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-4084d84a-c536-d0fc-041b-3aa1c492956c/test-directory-d5c332ae-2dab-2522-45b4-aad6f8b55755?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:05 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:27 GMT",
        "ETag": "\u00220x8D77939340837E4\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:28 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:05 GMT",
        "ETag": "\u00220x8D779E305BC00FE\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:05 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "4697b2f1-67ec-3f49-784e-d92a81268304",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:11:28.9265124Z",
        "x-ms-file-creation-time": "2019-12-05T04:11:28.9265124Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:11:28.9265124Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "011a030c-f01a-0002-7722-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:27:05.6958718Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:05.6958718Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:05.6958718Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e490-b01a-003c-73cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-98d0e171-ed13-d2ae-3cac-f0bcf3538692/test-directory-b474cf2b-bf39-2b27-4717-9709e12e406a/test-file-22bcfd12-95ea-09da-ffd2-4b9a35604d5e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-4084d84a-c536-d0fc-041b-3aa1c492956c/test-directory-d5c332ae-2dab-2522-45b4-aad6f8b55755/test-file-9ac89830-449a-39fb-a4f6-f04b7ea8ee59",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "9e49aadc-5523-ac2c-b75e-a1f577fec1d0",
        "x-ms-content-length": "1048576",
<<<<<<< HEAD
        "x-ms-date": "Thu, 05 Dec 2019 04:11:29 GMT",
=======
        "x-ms-date": "Fri, 06 Dec 2019 00:27:05 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:28 GMT",
        "ETag": "\u00220x8D77939341668CC\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:29 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:05 GMT",
        "ETag": "\u00220x8D779E305C92058\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:05 GMT",
>>>>>>> feature/storage/stg71-bas[...]
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-4084d84a-c536-d0fc-041b-3aa1c492956c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:06 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:28 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:05 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "facaac80-0b4b-d78e-2b41-0e0201402bf4",
        "x-ms-request-id": "011a031b-f01a-0002-0622-ab2c83000000",
=======
        "x-ms-client-request-id": "abecb343-9e26-9a95-2f2d-465ab2423544",
        "x-ms-request-id": "4376e498-b01a-003c-7bcb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "347767872",
=======
    "RandomSeed": "1676961660",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}