{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-58c269c9-e40b-ec0c-5d7a-04198d4c8f50?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 20:39:38 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E7A3E225943\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 20:39:38 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-58c269c9-e40b-ec0c-5d7a-04198d4c8f50/test-directory-3ce1e423-8dc7-3421-b848-c925bec9b4a9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 20:39:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E7A3E31B5C1\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 20:39:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-11T20:39:39.0769601Z",
        "x-ms-file-creation-time": "2019-12-11T20:39:39.0769601Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-11T20:39:39.0769601Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-58c269c9-e40b-ec0c-5d7a-04198d4c8f50/test-directory-3ce1e423-8dc7-3421-b848-c925bec9b4a9/test-file-6b7d0806-afce-51af-5c18-633e26e051b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 11 Dec 2019 20:39:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E7A3E3E887D\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 20:39:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-11T20:39:39.1609981Z",
        "x-ms-file-creation-time": "2019-12-11T20:39:39.1609981Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-11T20:39:39.1609981Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-58c269c9-e40b-ec0c-5d7a-04198d4c8f50/test-directory-3ce1e423-8dc7-3421-b848-c925bec9b4a9/test-file-6b7d0806-afce-51af-5c18-633e26e051b6?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 20:39:39 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "qmA5VF6GCOySLlDnl/QiGEREF2nwPIXCD3OOTeuOennrhi9w8uBVSGc5VjytAhVQTIv5N3zyqm7ad0Tq\u002BLoABLTW\u002BxHFsiZk7s8CtuZJFQxePQFglEL8\u002BNvAlXqba1CsOFKH1gcEippklUit7/SIkWI3jLq5oG9x2gI1BByryIN/VX2TwT4FWbNm\u002B/75TwnnOAQXY96V85jjFfsEzoV9uc3FLZp29M8kMjIHUqRweIv5TcwXlGSl6WLksKtCAYst6UIxNCFucEQ08zGrjqD0cp1wCoC5ZSRoH0Q3kkQk4TGn2WlhP0Rqit2H4qAz\u002BVrB8D4O0vYKc4MeyBTcN94AEBIABLU3kjJZBn\u002BjMoODNSbpdaEFFQ46nWXmQ3YvjVP/h9GOM/Wlil4Ltct2ZkEAmpPu8sE8\u002BvsDxWZPUU68[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-58c269c9-e40b-ec0c-5d7a-04198d4c8f50/test-directory-3ce1e423-8dc7-3421-b848-c925bec9b4a9/test-file-6b7d0806-afce-51af-5c18-633e26e051b6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 20:39:39 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77E7A3E4AE47B\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 20:39:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-11T20:39:39.1609981Z",
        "x-ms-file-creation-time": "2019-12-11T20:39:39.1609981Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-11T20:39:39.1609981Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-58c269c9-e40b-ec0c-5d7a-04198d4c8f50/test-directory-3ce1e423-8dc7-3421-b848-c925bec9b4a9/test-file-6b7d0806-afce-51af-5c18-633e26e051b6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 20:39:39 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 1024-2047/1048576",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77E7A3E4AE47B\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 20:39:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-11T20:39:39.1609981Z",
        "x-ms-file-creation-time": "2019-12-11T20:39:39.1609981Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-11T20:39:39.1609981Z",
        "x-ms-file-pa[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-58c269c9-e40b-ec0c-5d7a-04198d4c8f50?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 20:39:39 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "792616073",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}