{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-98d0e171-ed13-d2ae-3cac-f0bcf3538692?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:28 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7793933F9E1E3\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:28 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-98d0e171-ed13-d2ae-3cac-f0bcf3538692/test-directory-b474cf2b-bf39-2b27-4717-9709e12e406a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:28 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77939340837E4\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-05T04:11:28.9265124Z",
        "x-ms-file-creation-time": "2019-12-05T04:11:28.9265124Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:11:28.9265124Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-98d0e171-ed13-d2ae-3cac-f0bcf3538692/test-directory-b474cf2b-bf39-2b27-4717-9709e12e406a/test-file-22bcfd12-95ea-09da-ffd2-4b9a35604d5e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:29 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77939341668CC\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-05T04:11:29.0195148Z",
        "x-ms-file-creation-time": "2019-12-05T04:11:29.0195148Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-05T04:11:29.0195148Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-98d0e171-ed13-d2ae-3cac-f0bcf3538692/test-directory-b474cf2b-bf39-2b27-4717-9709e12e406a/test-file-22bcfd12-95ea-09da-ffd2-4b9a35604d5e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:29 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "Dq0EoSgice2jD62eJR0ql9/jdwWglnYJU1HM/unCsJtuZjxHSrY0BMWboUB06cwqQj15qk1Azng2\u002B07WVXIE4V8RML/g4kwpr3M/BPQ1lGmEorusSAZNLpjEEU5nXa5Sl8DhY7kNSV/wUPvaAMmEAGfkUrK3V5hYxAImHNH9wVHE7G0zUzGwdlhbu/gKci3OPxDngwv8mz8niZ635iyO8o\u002BpFhRcUKw2M9tZW5ygTVHUV93AFj1Gx1AuC8qS\u002BY8szcloYVwZcu5ksE8vokCjhjtN4o9PztxRYk7DLUThpDpLLY3TN\u002Bz1u\u002BTuXGXuFiUPi4SPRBcA3P/sF/4NVUWqggwV5HSyz09OWCeqYXJ2Ykwps6K/Ul8jSlGO5iDt52WfQ9lY2TKxXbs1QOvvVnqMdrSy5KGi6i\u002Bs8ZkjI\u002Bkv[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-98d0e171-ed13-d2ae-3cac-f0bcf3538692/test-directory-b474cf2b-bf39-2b27-4717-9709e12e406a/test-file-22bcfd12-95ea-09da-ffd2-4b9a35604d5e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:29 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77939342312EC\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-05T04:11:29.0195148Z",
        "x-ms-file-creation-time": "2019-12-05T04:11:29.0195148Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-05T04:11:29.0195148Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-98d0e171-ed13-d2ae-3cac-f0bcf3538692/test-directory-b474cf2b-bf39-2b27-4717-9709e12e406a/test-file-22bcfd12-95ea-09da-ffd2-4b9a35604d5e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:29 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 1024-2047/1048576",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77939342312EC\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-05T04:11:29.0195148Z",
        "x-ms-file-creation-time": "2019-12-05T04:11:29.0195148Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-05T04:11:29.0195148Z",
        "x-ms-file-pa[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-98d0e171-ed13-d2ae-3cac-f0bcf3538692?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:29 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "347767872",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}