{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b40b108b-14e4-852a-d2dd-c533cfd155a5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96664E3B3A888\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:36:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b40b108b-14e4-852a-d2dd-c533cfd155a5/test-directory-360831cc-1729-5454-12ed-491dcb0d42d9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:15 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96664E3CC07BA\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:36:15 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-08-23T18:36:15.4197946Z",
        "x-ms-file-creation-time": "2021-08-23T18:36:15.4197946Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-08-23T18:36:15.4197946Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b40b108b-14e4-852a-d2dd-c533cfd155a5/test-directory-360831cc-1729-5454-12ed-491dcb0d42d9/test-file-88f5a890-22ee-ff15-639e-594cff409e93",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:15 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96664E3E7C910\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:36:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:36:15.6016912Z",
        "x-ms-file-creation-time": "2021-08-23T18:36:15.6016912Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:36:15.6016912Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b40b108b-14e4-852a-d2dd-c533cfd155a5/test-directory-360831cc-1729-5454-12ed-491dcb0d42d9/test-file-88f5a890-22ee-ff15-639e-594cff409e93?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:15 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-10-02",
        "x-ms-write": "update"
      },
      "RequestBody": "7I7KrgV21p4jXh2TEdbx6IOo6TagO6BmAKAJTVal6gjcqLeYX\u002BgqquLcQGjoKyc8ym8jUug6TLDuZK1kbYlIfnMUt2geWIiafT5UxPs4ftV5zYPmgZgfoVwHqfs7xTxZlML003O\u002BHXHniNSp5oe1tubX66AFYfzb9RUMF6\u002BMX7gC\u002BjA4Q6piu68R//jEdbvUUfMVY9qcUzLFGd5esQbCWikbp\u002BtXfXI7dTDw82IDF39ZOMa7d/veZqb9cyrMAwmoT6TPqM7QfNSB2u6qq1/PwQFeBHlABuMuPUFEWQlHbnEmSKS\u002BNG6wibvxOp0MNLpGLrEobv\u002BPaEjBoGqNiyPKOWt8g2O7EY2SrXu\u002BTsxGIQmG/StYHgByl99b/JQEI/6YJwAxkLBXix0klcCD0Bl8e39gB433cRtqCey[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b40b108b-14e4-852a-d2dd-c533cfd155a5/test-directory-360831cc-1729-5454-12ed-491dcb0d42d9/test-file-88f5a890-22ee-ff15-639e-594cff409e93",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96664E3F55BA8\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:36:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:36:15.6016912Z",
        "x-ms-file-creation-time": "2021-08-23T18:36:15.6016912Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:36:15.6016912Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b40b108b-14e4-852a-d2dd-c533cfd155a5/test-directory-360831cc-1729-5454-12ed-491dcb0d42d9/test-file-88f5a890-22ee-ff15-639e-594cff409e93",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:15 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 1024-2047/1048576",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96664E3F55BA8\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:36:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:36:15.6016912Z",
        "x-ms-file-creation-time": "2021-08-23T18:36:15.6016912Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:36:15.6016912Z",
        "x-ms-file-pa[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b40b108b-14e4-852a-d2dd-c533cfd155a5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "182276835",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}