{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8a3a1dcf-abf9-60ed-f76f-39b9ccd7f7cf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:34 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D325C080A82\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:34 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8a3a1dcf-abf9-60ed-f76f-39b9ccd7f7cf/test-directory-c2cbb03a-377e-51f0-e2b6-ba4ca6975326?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:34 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D325C158194\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:34 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-10T05:32:34.2964628Z",
        "x-ms-file-creation-time": "2019-12-10T05:32:34.2964628Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-10T05:32:34.2964628Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8a3a1dcf-abf9-60ed-f76f-39b9ccd7f7cf/test-directory-c2cbb03a-377e-51f0-e2b6-ba4ca6975326/test-file-f1dce0c9-6d71-1e77-ead2-ba6f2bd6da98",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:34 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D325C22C967\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-10T05:32:34.3834983Z",
        "x-ms-file-creation-time": "2019-12-10T05:32:34.3834983Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-10T05:32:34.3834983Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8a3a1dcf-abf9-60ed-f76f-39b9ccd7f7cf/test-directory-c2cbb03a-377e-51f0-e2b6-ba4ca6975326/test-file-f1dce0c9-6d71-1e77-ead2-ba6f2bd6da98?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:34 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "PNEg\u002BdpW8s3EDQbUilpycdEvN1KF18O0Jh6NTovtXQN3QsG7xkvmFlpHNg/Uaq4zUbrflmQ8X2QOa9O8yKRB1q8CXUiZt6uFSCD4PqGz37twWvzRDsefOuJcrFp4Kk61Bl9f0g1mmpoPWU1DRCHDWowXS26ncMjoYiNlPApRDR7SQzdCUw2uCcBhwrV5XPbBmVHNYN7gDZWXd2/qAF2QvUsucADpgQd\u002BaUKtRa4SbgYso6O4g6xA8jWiqtyexAli0QRpS\u002Bv12BdKT/ecMsjnhAhovVy61zqf7X7LR9Yq4KU4SnOpqCMbN8uLbTS1pMBtuibUNQesqPnJyl1tKZFBIG5SY\u002BdUPdvkTYWRL2oG6km\u002BXoywVquei6J54N7FrQ06SU3GYkHYGH1K7\u002BiBG3mPw\u002BAUrssEkcnCtNdE2l39[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8a3a1dcf-abf9-60ed-f76f-39b9ccd7f7cf/test-directory-c2cbb03a-377e-51f0-e2b6-ba4ca6975326/test-file-f1dce0c9-6d71-1e77-ead2-ba6f2bd6da98",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:34 GMT",
        "x-ms-lease-id": "c3ac7789-4b75-eab0-277f-d80b2519a6b7",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithFileOperation",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithFileOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the file.\n",
        "RequestId:0cb0093d-501a-0046-051b-afa6bc000000\n",
        "Time:2019-12-10T05:32:34.6902196Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8a3a1dcf-abf9-60ed-f76f-39b9ccd7f7cf?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:34 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1069205680",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}