{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d6d53adb-eccb-1ef5-cbba-75117e3c431f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 06:01:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D36580B00A1\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 06:01:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d6d53adb-eccb-1ef5-cbba-75117e3c431f/test-directory-6d32d55a-9d96-5feb-5791-af5356ed9079?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 06:01:05 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D365818E882\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 06:01:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-10T06:01:05.5947906Z",
        "x-ms-file-creation-time": "2019-12-10T06:01:05.5947906Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-10T06:01:05.5947906Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d6d53adb-eccb-1ef5-cbba-75117e3c431f/test-directory-6d32d55a-9d96-5feb-5791-af5356ed9079/test-file-dbffbd4e-08a1-98e5-d4c5-a84bd2171965",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 10 Dec 2019 06:01:05 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D3658260646\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 06:01:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-10T06:01:05.6807494Z",
        "x-ms-file-creation-time": "2019-12-10T06:01:05.6807494Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-10T06:01:05.6807494Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d6d53adb-eccb-1ef5-cbba-75117e3c431f/test-directory-6d32d55a-9d96-5feb-5791-af5356ed9079/test-file-dbffbd4e-08a1-98e5-d4c5-a84bd2171965?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 06:01:05 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "Qj6Y5yg\u002Ba7D1x29EBi7QWVAlcpTNZCkPxv9G3HzaEvDO9AdsXsZ\u002BE1TLfpeAjs3p0egR78gzb90ViCEo\u002BI80G7V\u002BdhInY/uJpl9AAeaRjjgyXAuTySIomoQpV9WlVhvEl2LiARe7wm7th0lp8273g/ro9puEoFKSVtuN/Qsm5FBDe2mDr40gd5qdpkHZvqcWMtPbvF\u002BAQPYQT6s8LcRix6L4JncEc9RtyH8A5/oQuZczdss3Syjwwztyc2Dh5EnVOt\u002Bf4JgwEr//bvTff1n8/5UTCLb5Knt6CGI7kf9zi\u002BQ1Kqwbcdn/A2QLON0zEEPhdnPKztuT3A9jJdg19IC/i\u002BIQqlSt4I68EwVR7fKeRvceWhuLqL0Iok6cuEsAyg7kTKz6I2bvNJXkDrrWQe8dxN/gFppkM\u002B[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d6d53adb-eccb-1ef5-cbba-75117e3c431f/test-directory-6d32d55a-9d96-5feb-5791-af5356ed9079/test-file-dbffbd4e-08a1-98e5-d4c5-a84bd2171965",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 06:01:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77D365832AE5A\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 06:01:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-10T06:01:05.6807494Z",
        "x-ms-file-creation-time": "2019-12-10T06:01:05.6807494Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-10T06:01:05.6807494Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d6d53adb-eccb-1ef5-cbba-75117e3c431f/test-directory-6d32d55a-9d96-5feb-5791-af5356ed9079/test-file-dbffbd4e-08a1-98e5-d4c5-a84bd2171965",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 06:01:05 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 1024-2047/1048576",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77D365832AE5A\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 06:01:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-10T06:01:05.6807494Z",
        "x-ms-file-creation-time": "2019-12-10T06:01:05.6807494Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-10T06:01:05.6807494Z",
        "x-ms-file-pa[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d6d53adb-eccb-1ef5-cbba-75117e3c431f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 06:01:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1633663206",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}