{
  "Entries": [
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-65bb7973-05a5-c682-60cf-7467ae7e3701?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Jul 2021 06:41:48 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9525BF0D13809\u0022",
        "Last-Modified": "Thu, 29 Jul 2021 06:41:48 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-65bb7973-05a5-c682-60cf-7467ae7e3701/test-directory-7db62460-40f8-b031-81e4-852616f4eefd?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Jul 2021 06:41:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9525BF0D77CD9\u0022",
        "Last-Modified": "Thu, 29 Jul 2021 06:41:48 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-29T06:41:48.5791449Z",
        "x-ms-file-creation-time": "2021-07-29T06:41:48.5791449Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-07-29T06:41:48.5791449Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-65bb7973-05a5-c682-60cf-7467ae7e3701/test-directory-7db62460-40f8-b031-81e4-852616f4eefd/test-file-014c1b8a-6dbf-83c2-246a-233b428a0692",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 29 Jul 2021 06:41:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9525BF0E38CF9\u0022",
        "Last-Modified": "Thu, 29 Jul 2021 06:41:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-29T06:41:48.6582009Z",
        "x-ms-file-creation-time": "2021-07-29T06:41:48.6582009Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-07-29T06:41:48.6582009Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-65bb7973-05a5-c682-60cf-7467ae7e3701/test-directory-7db62460-40f8-b031-81e4-852616f4eefd/test-file-014c1b8a-6dbf-83c2-246a-233b428a0692?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 29 Jul 2021 06:41:49 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2020-10-02",
        "x-ms-write": "update"
      },
      "RequestBody": "ssRHuCJrTK0\u002Be7LNYDVd/LaRBLJkaet/s2fhGfhOSpNlu4cHGvJl0iVvjbTziGkbFMYnBqs4xEjZyAW6ijO07zAeaKStVeLDKzKM9Nw2jCv\u002BxQQyJ0ToLPY/LlLtqkjxup2D1B/Fbr7kZNp5rNBsojvavMQvgsjsNjytbieQ1oDqmjk\u002Bs7cLOVdGTsJpb4Am0owWEu6DwjjVlp7jF/\u002BXU41ZjxGWLe\u002BEzoNs6DMFg8e8h5uaecOSZtgBaRwZKCFXr/o1D\u002BBukKWdkkNqF9kE0BPXJ5Bk/NrJxig4lMTSaqZhFDk5z3PnTff2/ed/J0/\u002B/JgIQgCR87Iga0m3NvvhyiecCQKgygCg79qZbv7ySZ/ZOpgrySimzyGGGWQqLxf7FDPA4x5NXjGYaFIm\u002BIS0LSKp3vtjtQD/9jn[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-65bb7973-05a5-c682-60cf-7467ae7e3701/test-directory-7db62460-40f8-b031-81e4-852616f4eefd/test-file-014c1b8a-6dbf-83c2-246a-233b428a0692",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Jul 2021 06:41:49 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-range-get-content-md5": "false",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9525BF0F03970\u0022",
        "Last-Modified": "Thu, 29 Jul 2021 06:41:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-29T06:41:48.7062343Z",
        "x-ms-file-creation-time": "2021-07-29T06:41:48.7062343Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-07-29T06:41:48.7062343Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "ssRHuCJrTK0\u002Be7LNYDVd/LaRBLJkaet/s2fhGfhOSpNlu4cHGvJl0iVvjbTziGkbFMYnBqs4xEjZyAW6ijO07zAeaKStVeLDKzKM9Nw2jCv\u002BxQQyJ0ToLPY/LlLtqkjxup2D1B/Fbr7kZNp5rNBsojvavMQvgsjsNjytbieQ1oDqmjk\u002Bs7cLOVdGTsJpb4Am0owWEu6DwjjVlp7jF/\u002BXU41ZjxGWLe\u002BEzoNs6DMFg8e8h5uaecOSZtgBaRwZKCFXr/o1D\u002BBukKWdkkNqF9kE0BPXJ5Bk/NrJxig4lMTSaqZhFDk5z3PnTff2/ed/J0/\u002B/JgIQgCR87Iga0m3NvvhyiecCQKgygCg79qZbv[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-65bb7973-05a5-c682-60cf-7467ae7e3701?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Jul 2021 06:41:49 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "977677507",
    "Storage_TestConfigDefault": "ProductionTenant\nrnpstd\nU2FuaXRpemVk\nhttps://rnpstd.blob.core.windows.net\nhttps://rnpstd.file.core.windows.net\nhttps://rnpstd.queue.core.windows.net\nhttps://rnpstd.table.core.windows.net\n\n\n\n\nhttps://rnpstd-secondary.blob.core.windows.net\nhttps://rnpstd-secondary.file.core.windows.net\nhttps://rnpstd-secondary.queue.core.windows.net\nhttps://rnpstd-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://rnpstd.blob.core.windows.net/;QueueEndpoint=https://rnpstd.queue.core.windows.net/;FileEndpoint=https://rnpstd.file.core.windows.net/;BlobSecondaryEndpoint=https://rnpstd-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://rnpstd-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://rnpstd-secondary.file.core.windows.net/;AccountName=rnpstd;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}