{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c14f18f3-af06-3545-b0d3-49ae1286ec0e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96664E4276704\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:36:16 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c14f18f3-af06-3545-b0d3-49ae1286ec0e/test-directory-57d50f45-c5f0-81d2-9121-f29177d94989?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96664E4343042\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:36:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-08-23T18:36:16.1024066Z",
        "x-ms-file-creation-time": "2021-08-23T18:36:16.1024066Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-08-23T18:36:16.1024066Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c14f18f3-af06-3545-b0d3-49ae1286ec0e/test-directory-57d50f45-c5f0-81d2-9121-f29177d94989/test-file-8d673aff-c544-8e11-f086-c8d8e227d455",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96664E4403C74\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:36:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:36:16.1813620Z",
        "x-ms-file-creation-time": "2021-08-23T18:36:16.1813620Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:36:16.1813620Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c14f18f3-af06-3545-b0d3-49ae1286ec0e/test-directory-57d50f45-c5f0-81d2-9121-f29177d94989/test-file-8d673aff-c544-8e11-f086-c8d8e227d455?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:16 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-10-02",
        "x-ms-write": "update"
      },
      "RequestBody": "ExaoNJcuLn9SZsALRKztNPyNPwh8y\u002BuHDV0jX6FOyBwkqhGMmzXpSk6RQXc/O2n51WCDLOPonUgrICc5C87dA52j55qaYZjHo/S56olzSNHzKYlAypw5PAzJYXsNrz5/tD3Zm1TPX3TIvInuLrK\u002Bt9dVRuJEnTgBaaqN0QAcufO2OTZLmqx9JMoVdw4TSw1ZCqmkuGlcOhcE2DKpQY5zrAOVN/R8ch0q1yEXLyUq7h2dNMZWeAGJWf4fR8J61OI8ocsKfRMY3ZeMeeBHRAvx2ekUDA3HHTMCC972XCtbrwM/241ZH3AKhFYvyf8gQRTzLW3YZsjVdISXCHE1IoBrMcncCGl\u002BmLp4CYe2mFM04cnJAy\u002B\u002Bgkk6amYIwRf\u002B1GHWw5g1QzmrdJWyX1xAHtwxYyenbB9Rra\u002BAop4Dddej[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c14f18f3-af06-3545-b0d3-49ae1286ec0e/test-directory-57d50f45-c5f0-81d2-9121-f29177d94989/test-file-8d673aff-c544-8e11-f086-c8d8e227d455",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:16 GMT",
        "x-ms-lease-id": "c44372a6-f5cc-8132-2d1a-71b9f1f57d28",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithFileOperation",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithFileOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the file.\n",
        "RequestId:d25c3642-b01a-0088-5f4d-983fcb000000\n",
        "Time:2021-08-23T18:36:16.3388393Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c14f18f3-af06-3545-b0d3-49ae1286ec0e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:16 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "180202028",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}