{
  "Entries": [
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-fe0989b6-3221-f490-5a73-e929cc00e883?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Jul 2021 06:40:20 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9525BBC4ADF16\u0022",
        "Last-Modified": "Thu, 29 Jul 2021 06:40:20 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-fe0989b6-3221-f490-5a73-e929cc00e883/test-directory-d3c0ea72-3ba2-7467-0f40-30097dda7e1f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Jul 2021 06:40:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9525BBC507C3A\u0022",
        "Last-Modified": "Thu, 29 Jul 2021 06:40:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-29T06:40:20.4528698Z",
        "x-ms-file-creation-time": "2021-07-29T06:40:20.4528698Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-07-29T06:40:20.4528698Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-fe0989b6-3221-f490-5a73-e929cc00e883/test-directory-d3c0ea72-3ba2-7467-0f40-30097dda7e1f/test-file-8dcba567-3e5b-420b-0db1-dd3a5079f862",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 29 Jul 2021 06:40:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9525BBC600F6A\u0022",
        "Last-Modified": "Thu, 29 Jul 2021 06:40:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-29T06:40:20.5549418Z",
        "x-ms-file-creation-time": "2021-07-29T06:40:20.5549418Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-07-29T06:40:20.5549418Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-fe0989b6-3221-f490-5a73-e929cc00e883/test-directory-d3c0ea72-3ba2-7467-0f40-30097dda7e1f/test-file-8dcba567-3e5b-420b-0db1-dd3a5079f862",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Jul 2021 06:40:20 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-range-get-content-md5": "false",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 416,
      "ResponseHeaders": {
        "Content-Range": "bytes */0",
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidRange",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidRange\u003C/Code\u003E\u003CMessage\u003EThe range specified is invalid for the current size of the resource.\n",
        "RequestId:d0668de6-001a-0003-5f44-84436b000000\n",
        "Time:2021-07-29T06:40:20.6462446Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-fe0989b6-3221-f490-5a73-e929cc00e883/test-directory-d3c0ea72-3ba2-7467-0f40-30097dda7e1f/test-file-8dcba567-3e5b-420b-0db1-dd3a5079f862",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Jul 2021 06:40:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9525BBC68C38A\u0022",
        "Last-Modified": "Thu, 29 Jul 2021 06:40:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-29T06:40:20.6119818Z",
        "x-ms-file-creation-time": "2021-07-29T06:40:20.6119818Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-07-29T06:40:20.6119818Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-fe0989b6-3221-f490-5a73-e929cc00e883?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Jul 2021 06:40:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1285715517",
    "Storage_TestConfigDefault": "ProductionTenant\nrnpstd\nU2FuaXRpemVk\nhttps://rnpstd.blob.core.windows.net\nhttps://rnpstd.file.core.windows.net\nhttps://rnpstd.queue.core.windows.net\nhttps://rnpstd.table.core.windows.net\n\n\n\n\nhttps://rnpstd-secondary.blob.core.windows.net\nhttps://rnpstd-secondary.file.core.windows.net\nhttps://rnpstd-secondary.queue.core.windows.net\nhttps://rnpstd-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://rnpstd.blob.core.windows.net/;QueueEndpoint=https://rnpstd.queue.core.windows.net/;FileEndpoint=https://rnpstd.file.core.windows.net/;BlobSecondaryEndpoint=https://rnpstd-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://rnpstd-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://rnpstd-secondary.file.core.windows.net/;AccountName=rnpstd;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}