{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5f73903b-9908-5292-fd2b-f2f0f21ae668?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:43:38 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E43D1609A\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:43:38 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5f73903b-9908-5292-fd2b-f2f0f21ae668/test-directory-e603edd5-2adf-dd6f-c320-14f5b372eeb6?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:43:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E43DEEA21\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:43:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-03-05T21:43:38.6506785Z",
        "x-ms-file-creation-time": "2020-03-05T21:43:38.6506785Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-03-05T21:43:38.6506785Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5f73903b-9908-5292-fd2b-f2f0f21ae668/test-directory-e603edd5-2adf-dd6f-c320-14f5b372eeb6/test-file-d9212476-ec22-3bff-3895-6af23e495b18",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 05 Mar 2020 21:43:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E43EC7E81\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:43:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-03-05T21:43:38.7396737Z",
        "x-ms-file-creation-time": "2020-03-05T21:43:38.7396737Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-03-05T21:43:38.7396737Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5f73903b-9908-5292-fd2b-f2f0f21ae668/test-directory-e603edd5-2adf-dd6f-c320-14f5b372eeb6/test-file-d9212476-ec22-3bff-3895-6af23e495b18?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:43:38 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "orogQLuPisqi0tRPVvOsa3vQofMGC9vDxRZJFco17GdSTpbhl0UHsNpy7TQcbYYls3KOPV\u002BA05ffXXulRnX/beZt/AddytM1yfEYlB2np1iPI2FYpq4H0nv/AjrKYWplc4BNrnB\u002ByOieWHRtaD55N7YjFSITpsY3ZSqMXsiZa2eHsyGcWfnnEVt5uk06mmk8hcqEpkxHUcy5FkhG8WofBe0M5rQd3d69PATHmux5/cvAT9j\u002BFMUbP2FU4kOwoR/wWbRgLbO1H6fsx2pIf7fgQBh8haKRIfAn8KdTyPqbDJvk1kA3GNAYCy8xEk1b07\u002BqdKIqNBt9XzfEODwMYletULvOY6l2qCdIZHpyYA\u002BjzB3nqFNXcNd/ZncIc9\u002BTC6nYg8GSjG8WM8x64tChC/4oIGwfJbkDVeDjTv0xbTVHtFjQm[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5f73903b-9908-5292-fd2b-f2f0f21ae668/test-directory-e603edd5-2adf-dd6f-c320-14f5b372eeb6/test-file-d9212476-ec22-3bff-3895-6af23e495b18",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:43:38 GMT",
        "x-ms-lease-id": "9fadf7a6-7493-6ab2-92b1-ab26146eb144",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithFileOperation",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithFileOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the file.\n",
        "RequestId:c9ef6224-f01a-0012-5937-f3e9eb000000\n",
        "Time:2020-03-05T21:43:38.9289635Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5f73903b-9908-5292-fd2b-f2f0f21ae668?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:43:39 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1839418777",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}