{
  "Entries": [
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-31740d25-b794-5f5d-9e5a-890c1cfbb33a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Jul 2021 06:41:52 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9525BF2C6105A\u0022",
        "Last-Modified": "Thu, 29 Jul 2021 06:41:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-31740d25-b794-5f5d-9e5a-890c1cfbb33a/test-directory-6eaa5eb8-85e8-1132-acd8-9da87da7b891?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Jul 2021 06:41:52 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9525BF2CBDF0E\u0022",
        "Last-Modified": "Thu, 29 Jul 2021 06:41:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-29T06:41:51.8584590Z",
        "x-ms-file-creation-time": "2021-07-29T06:41:51.8584590Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-07-29T06:41:51.8584590Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-31740d25-b794-5f5d-9e5a-890c1cfbb33a/test-directory-6eaa5eb8-85e8-1132-acd8-9da87da7b891/test-file-a8ccacf5-67f0-042d-a869-ef0c4f813acf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 29 Jul 2021 06:41:52 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9525BF2D15E43\u0022",
        "Last-Modified": "Thu, 29 Jul 2021 06:41:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-29T06:41:51.8944835Z",
        "x-ms-file-creation-time": "2021-07-29T06:41:51.8944835Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-07-29T06:41:51.8944835Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-31740d25-b794-5f5d-9e5a-890c1cfbb33a/test-directory-6eaa5eb8-85e8-1132-acd8-9da87da7b891/test-file-a8ccacf5-67f0-042d-a869-ef0c4f813acf?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 29 Jul 2021 06:41:52 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02",
        "x-ms-write": "update"
      },
      "RequestBody": "kSTAyFe7paO15MWQI5yBCcwpKVuhPeLT1yjsgKFhtsCVqPHhVK/cA2knKskBOoxmt\u002BMnPchxP1NC7fEuziUCVC4F\u002B3uroLUcTSbyehMY0pybhsi\u002BOXn4JGmdnma\u002BrjREJNab/D8RuxctC/ChfsRAKRtVkkhcQxq1DNcSDQFOXp7xrVU8fNVdisqxkS6JVqWkXXVLaBvr5\u002BG75u9n/64V3qxRr9BuA61F9wh\u002Bq7LsLLYxbbCMA/WDBsZ0gZbl9Ysbm7KCN6bUNVnHBXETbTsvz7o5NpH\u002Bidu2zakK\u002BoIXYAJ8YhD/avQPXTdWxP2EcJiKRbLbq7/6HRLXzGr8yTvXsKVulworL2TGKthZp8TeMV0Rf7XQO7RDgkT9KJ6KEpP8fxNXFtmNXxVNFYHmoHZN\u002BZoM60qFBn[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-31740d25-b794-5f5d-9e5a-890c1cfbb33a/test-directory-6eaa5eb8-85e8-1132-acd8-9da87da7b891/test-file-a8ccacf5-67f0-042d-a869-ef0c4f813acf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Jul 2021 06:41:52 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-range-get-content-md5": "false",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9525BF2DEF54A\u0022",
        "Last-Modified": "Thu, 29 Jul 2021 06:41:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-29T06:41:51.9415169Z",
        "x-ms-file-creation-time": "2021-07-29T06:41:51.9415169Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-07-29T06:41:51.9415169Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "kSTAyFe7paO15MWQI5yBCcwpKVuhPeLT1yjsgKFhtsCVqPHhVK/cA2knKskBOoxmt\u002BMnPchxP1NC7fEuziUCVC4F\u002B3uroLUcTSbyehMY0pybhsi\u002BOXn4JGmdnma\u002BrjREJNab/D8RuxctC/ChfsRAKRtVkkhcQxq1DNcSDQFOXp7xrVU8fNVdisqxkS6JVqWkXXVLaBvr5\u002BG75u9n/64V3qxRr9BuA61F9wh\u002Bq7LsLLYxbbCMA/WDBsZ0gZbl9Ysbm7KCN6bUNVnHBXETbTsvz7o5NpH\u002Bidu2zakK\u002BoIXYAJ8YhD/avQPXTdWxP2EcJiKRbLbq7/6HRLXzGr8yTvXsKVulworL2TGK[...]
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-31740d25-b794-5f5d-9e5a-890c1cfbb33a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Jul 2021 06:41:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2141892926",
    "Storage_TestConfigDefault": "ProductionTenant\nrnpstd\nU2FuaXRpemVk\nhttps://rnpstd.blob.core.windows.net\nhttps://rnpstd.file.core.windows.net\nhttps://rnpstd.queue.core.windows.net\nhttps://rnpstd.table.core.windows.net\n\n\n\n\nhttps://rnpstd-secondary.blob.core.windows.net\nhttps://rnpstd-secondary.file.core.windows.net\nhttps://rnpstd-secondary.queue.core.windows.net\nhttps://rnpstd-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://rnpstd.blob.core.windows.net/;QueueEndpoint=https://rnpstd.queue.core.windows.net/;FileEndpoint=https://rnpstd.file.core.windows.net/;BlobSecondaryEndpoint=https://rnpstd-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://rnpstd-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://rnpstd-secondary.file.core.windows.net/;AccountName=rnpstd;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}