{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7ce1c54a-5b9d-a700-410f-8a46c73d58d5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:51 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7a8a8c95-b80b-c290-e76f-9aa2d147c93a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:08 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:51 GMT",
        "ETag": "\u00220x8D779E6C31BBE39\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:53:51 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:08 GMT",
        "ETag": "\u00220x8D779E3077EF2A1\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:08 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "c4a6e5fb-8fc7-de48-43eb-f5a90668227c",
        "x-ms-request-id": "ab3224f9-201a-002e-1ccf-abc02c000000",
=======
        "x-ms-client-request-id": "8d89bf1f-843a-7cbc-1761-a0f81bd57171",
        "x-ms-request-id": "4376e4c8-b01a-003c-25cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7ce1c54a-5b9d-a700-410f-8a46c73d58d5/test-directory-7de6ab35-720d-afb6-4f31-7f3101b6b5c6?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:51 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7a8a8c95-b80b-c290-e76f-9aa2d147c93a/test-directory-728c0e7e-bcef-9281-8d45-3f8018d5c1ae?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:08 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:51 GMT",
        "ETag": "\u00220x8D779E6C329274F\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:53:51 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:08 GMT",
        "ETag": "\u00220x8D779E3078CF09F\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:08 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "4614dd49-2c93-898b-2ef7-74951016dd8d",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:53:51.9907663Z",
        "x-ms-file-creation-time": "2019-12-06T00:53:51.9907663Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:53:51.9907663Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "ab3224ff-201a-002e-21cf-abc02c000000",
=======
        "x-ms-client-request-id": "f23c2d1a-bcad-63ae-3df6-00f4453c6342",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:27:08.7428767Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:08.7428767Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:08.7428767Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e4ca-b01a-003c-26cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7ce1c54a-5b9d-a700-410f-8a46c73d58d5/test-directory-7de6ab35-720d-afb6-4f31-7f3101b6b5c6/test-file-15442e35-401d-a0e4-9d90-c795877f0883",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:52 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7a8a8c95-b80b-c290-e76f-9aa2d147c93a/test-directory-728c0e7e-bcef-9281-8d45-3f8018d5c1ae/test-file-1eb8f2a0-5f52-43b3-0e28-497396783187",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:08 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:52 GMT",
        "ETag": "\u00220x8D779E6C335F88A\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:53:52 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:08 GMT",
        "ETag": "\u00220x8D779E3079A129A\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:08 GMT",
>>>>>>> feature/storage/stg71-bas[...]
