{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-a8ee75b8-2c40-7bfb-5e0a-eb4c71f4c960?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:51 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5b274fc3-c5ca-c164-4789-ec9bc9c6540f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:08 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:51 GMT",
        "ETag": "\u00220x8D779E6C2E78F0B\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:53:51 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:08 GMT",
        "ETag": "\u00220x8D779E307434919\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:08 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "a46ac7e3-3c6a-75da-4afe-8edf24165faf",
        "x-ms-request-id": "ab3224e7-201a-002e-0ccf-abc02c000000",
=======
        "x-ms-client-request-id": "4c956c40-8e45-8db6-eebe-87fc7cedd6c1",
        "x-ms-request-id": "4376e4c2-b01a-003c-21cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-a8ee75b8-2c40-7bfb-5e0a-eb4c71f4c960/test-directory-ccbf42bd-4c1e-1dc9-3a92-d670799b79f2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:51 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5b274fc3-c5ca-c164-4789-ec9bc9c6540f/test-directory-8bc8f0e0-91e1-9610-de3b-723dab8a7a10?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:08 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:51 GMT",
        "ETag": "\u00220x8D779E6C2F4D11A\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:53:51 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:08 GMT",
        "ETag": "\u00220x8D779E30751BCC0\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:08 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "bfa20470-e3ac-972d-fd4c-6ad7656afcae",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:53:51.6477722Z",
        "x-ms-file-creation-time": "2019-12-06T00:53:51.6477722Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:53:51.6477722Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "ab3224ed-201a-002e-11cf-abc02c000000",
=======
        "x-ms-client-request-id": "56f959b6-246d-af99-5cfe-6e091c79e164",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:27:08.3548864Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:08.3548864Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:08.3548864Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e4c4-b01a-003c-22cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-a8ee75b8-2c40-7bfb-5e0a-eb4c71f4c960/test-directory-ccbf42bd-4c1e-1dc9-3a92-d670799b79f2/test-directory-84859b85-b5ad-9724-4c1d-c5f8155610de?comp=forceclosehandles",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:51 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5b274fc3-c5ca-c164-4789-ec9bc9c6540f/test-directory-8bc8f0e0-91e1-9610-de3b-723dab8a7a10/test-directory-0b227644-7992-d88f-253c-8602a1d7f169?comp=forceclosehandles",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:08 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-handle-id": "*",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:51 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:08 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "71ee8829-b2d6-bb0d-df0a-738e1e3481a7",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-request-id": "ab3224f0-201a-002e-14cf-abc02c000000",
=======
        "x-ms-client-request-id": "2ef48afd-6351-3d69-c921-30319d960d85",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-request-id": "4376e4c6-b01a-003c-23cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified resource does not exist.\n",
<<<<<<< HEAD
        "RequestId:ab3224f0-201a-002e-14cf-abc02c000000\n",
        "Time:2019-12-06T00:53:51.7468792Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5b274fc3-c5ca-c164-4789-ec9bc9c6540f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:08 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:51 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:08 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "8dcf28e0-9f67-a907-0e44-94ef46b7573e",
        "x-ms-request-id": "ab3224f3-201a-002e-16cf-abc02c000000",
=======
        "x-ms-client-request-id": "1605facd-c3e2-6718-0c48-896ef2721740",
        "x-ms-request-id": "4376e4c7-b01a-003c-24cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "1897244802",
=======
    "RandomSeed": "2134951114",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}