{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-37e28174-fc31-dc52-4a5a-b9d30c29c25e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:31 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7a8a8c95-b80b-c290-e76f-9aa2d147c93a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:08 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:30 GMT",
        "ETag": "\u00220x8D7793935BD160B\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:31 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:08 GMT",
        "ETag": "\u00220x8D779E3077EF2A1\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:08 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "b11610a2-62fb-1b18-b184-f0623a6abc1f",
        "x-ms-request-id": "011a035f-f01a-0002-4422-ab2c83000000",
=======
        "x-ms-client-request-id": "8d89bf1f-843a-7cbc-1761-a0f81bd57171",
        "x-ms-request-id": "4376e4c8-b01a-003c-25cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-37e28174-fc31-dc52-4a5a-b9d30c29c25e/test-directory-3cba0266-f5db-7694-8b1e-cd6f6ea8f3e2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:31 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7a8a8c95-b80b-c290-e76f-9aa2d147c93a/test-directory-728c0e7e-bcef-9281-8d45-3f8018d5c1ae?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:08 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:30 GMT",
        "ETag": "\u00220x8D7793935CB937D\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:31 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:08 GMT",
        "ETag": "\u00220x8D779E3078CF09F\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:08 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "f23c2d1a-bcad-63ae-3df6-00f4453c6342",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:11:31.8845309Z",
        "x-ms-file-creation-time": "2019-12-05T04:11:31.8845309Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:11:31.8845309Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "011a0364-f01a-0002-4822-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:27:08.7428767Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:08.7428767Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:08.7428767Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e4ca-b01a-003c-26cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-37e28174-fc31-dc52-4a5a-b9d30c29c25e/test-directory-3cba0266-f5db-7694-8b1e-cd6f6ea8f3e2/test-file-b3a40d90-c139-550c-9f7a-43e2d44969f7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7a8a8c95-b80b-c290-e76f-9aa2d147c93a/test-directory-728c0e7e-bcef-9281-8d45-3f8018d5c1ae/test-file-1eb8f2a0-5f52-43b3-0e28-497396783187",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "6f68e317-0b4e-ba12-7af9-e384733acdc4",
        "x-ms-content-length": "1048576",
<<<<<<< HEAD
        "x-ms-date": "Thu, 05 Dec 2019 04:11:31 GMT",
=======
        "x-ms-date": "Fri, 06 Dec 2019 00:27:08 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:31 GMT",
        "ETag": "\u00220x8D7793935D927A9\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:31 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:08 GMT",
        "ETag": "\u00220x8D779E3079A129A\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:08 GMT",
>>>>>>> feature/storage/stg71-bas[...]
