{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-94acab9d-b00d-6f3d-91e2-d8ede8b9baf8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-d5eb7cb77a625d499d4f5cdd0752d506-96d2881a5e1a2c41-00",
=======
        "traceparent": "00-6a9835d1173f064382ee583f9e986d9a-9f2358259cd3e141-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "229f8633-50c7-2a10-2880-a63d3c057c2f",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:17 GMT",
        "x-ms-return-client-request-id": "true",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:18 GMT",
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:16 GMT",
        "ETag": "\u00220x8D7790DBAE658C3\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:17 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:17 GMT",
        "ETag": "\u00220x8D778F27DDDFA48\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:18 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "229f8633-50c7-2a10-2880-a63d3c057c2f",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8eaa-501a-0046-60f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805ac2f-401a-0007-0adb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-94acab9d-b00d-6f3d-91e2-d8ede8b9baf8/test-directory-24592af0-7ece-9316-91d3-ed903670cbb3?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-3ba7fbc2e7f06c4697ee66fe2e8ffdb1-95d1f39f8cd53041-00",
=======
        "traceparent": "00-58ec3e8754ece34fb5046a8151b3a1e7-c0d5fad1e83ef44e-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "79db49ff-cc84-b518-700c-90f3627ff3b7",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:17 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:18 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:16 GMT",
        "ETag": "\u00220x8D7790DBAF459F7\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:17 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:17 GMT",
        "ETag": "\u00220x8D778F27DEC1A6F\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:18 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "79db49ff-cc84-b518-700c-90f3627ff3b7",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T23:00:17.4326263Z",
        "x-ms-file-creation-time": "2019-12-04T23:00:17.4326263Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T23:00:17.4326263Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "edfb8eb0-501a-0046-65f6-aaa6bc000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:45:18.6258543Z",
        "x-ms-file-creation-time": "2019-12-04T19:45:18.6258543Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:45:18.6258543Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "6805ac34-401a-0007-0edb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-94acab9d-b00d-6f3d-91e2-d8ede8b9baf8/test-directory-24592af0-7ece-9316-91d3-ed903670cbb3/test-directory-4b4cf3b5-1b4b-5916-f94b-d2f216412eb6?comp=forceclosehandles",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-70e0ddc94ba0f04b814578127e290637-7ed630a921534a45-00",
=======
        "traceparent": "00-bf39c982e3c77441a72cd4a737c6b636-e2b7f0c64807eb4b-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "711eb0e9-508f-e455-3382-7f39fa269e2e",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:17 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:18 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-handle-id": "nonExistantHandleId",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:16 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:18 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "711eb0e9-508f-e455-3382-7f39fa269e2e",
        "x-ms-error-code": "InvalidHeaderValue",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8eb4-501a-0046-69f6-aaa6bc000000",
=======
        "x-ms-request-id": "6805ac39-401a-0007-12db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidHeaderValue\u003C/Code\u003E\u003CMessage\u003EThe value for one of the HTTP headers is not in the correct format.\n",
<<<<<<< HEAD
        "RequestId:edfb8eb4-501a-0046-69f6-aaa6bc000000\n",
        "Time:2019-12-04T23:00:17.5168496Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-handle-id\u003C/HeaderName\u003E\u003CHeaderValue\u003EnonExistantHandleId\u003C/HeaderValue\u003E\u003C/Error\u003E"
=======
        "RequestId:6805ac39-401a-0007-12db-aafe58000000\n",
        "Time:2019-12-04T19:45:18.7073998Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-handle-id\u003C/HeaderName\u003E\u003CHeaderValue\u003EnonExistantHandleId\u003C/HeaderValue\u003E\u003C/Error\u003E"
>>>>>>> feature/storage/stg71-base
      ]
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-94acab9d-b00d-6f3d-91e2-d8ede8b9baf8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-9fbdced126ce794999f2aac0dd65a9d7-3ecd6d8e724cfa47-00",
=======
        "traceparent": "00-8688a83e4ea3444cb52cd8aa69f0abad-3f1122a272a77f42-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "6609ff9f-bd22-e626-f6ad-ba11d2f52ab2",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:17 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:18 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:16 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:18 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "6609ff9f-bd22-e626-f6ad-ba11d2f52ab2",
<<<<<<< HEAD
        "x-ms-request-id": "edfb8eb7-501a-0046-6cf6-aaa6bc000000",
=======
        "x-ms-request-id": "6805ac3a-401a-0007-13db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "350272571",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}