{
  "Entries": [
    {
      "RequestUri": "http://jolovstorage.file.core.windows.net/test-share-7182f0d4-9cd4-3c73-9eed-6cc4ea4e6f67?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2019 00:42:57 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D751D1C9C77868\u0022",
        "Last-Modified": "Wed, 16 Oct 2019 00:42:57 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jolovstorage.file.core.windows.net/test-share-7182f0d4-9cd4-3c73-9eed-6cc4ea4e6f67/test-directory-dbd84f0c-464d-39f1-2417-9a67f4e991e1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2019 00:42:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D751D1C9CEC3EA\u0022",
        "Last-Modified": "Wed, 16 Oct 2019 00:42:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-10-16T00:42:57.2000234Z",
        "x-ms-file-creation-time": "2019-10-16T00:42:57.2000234Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-10-16T00:42:57.2000234Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "2514336555444402195*5350155227445161882",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jolovstorage.file.core.windows.net/test-share-7182f0d4-9cd4-3c73-9eed-6cc4ea4e6f67/test-directory-dbd84f0c-464d-39f1-2417-9a67f4e991e1/test-directory-46427de5-7c7a-8ed5-d7d1-9701dabefd02?comp=forceclosehandles",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2019 00:42:57 GMT",
        "x-ms-handle-id": "nonExistantHandleId",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidHeaderValue\u003C/Code\u003E\u003CMessage\u003EThe value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:5893820e-601a-0051-60ba-83ef5a000000\n",
        "Time:2019-10-16T00:42:57.2412783Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-handle-id\u003C/HeaderName\u003E\u003CHeaderValue\u003EnonExistantHandleId\u003C/HeaderValue\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "http://jolovstorage.file.core.windows.net/test-share-7182f0d4-9cd4-3c73-9eed-6cc4ea4e6f67?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2019 00:42:57 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1605347705",
    "Storage_TestConfigDefault": "ProductionTenant\njolovstorage\nU2FuaXRpemVk\nhttp://jolovstorage.blob.core.windows.net\nhttp://jolovstorage.file.core.windows.net\nhttp://jolovstorage.queue.core.windows.net\nhttp://jolovstorage.table.core.windows.net\n\n\n\n\nhttp://jolovstorage-secondary.blob.core.windows.net\n\nhttp://jolovstorage-secondary.queue.core.windows.net\nhttp://jolovstorage-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://jolovstorage.blob.core.windows.net/;QueueEndpoint=http://jolovstorage.queue.core.windows.net/;TableEndpoint=http://jolovstorage.table.core.windows.net/;FileEndpoint=http://jolovstorage.file.core.windows.net/;BlobSecondaryEndpoint=http://jolovstorage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://jolovstorage-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://jolovstorage-secondary.table.core.windows.net/;AccountName=jolovstorage;AccountKey=Sanitized"
  }
}