{
  "Entries": [
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-d01dbbb4-90d7-bff8-c63e-ce14ff027da4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 May 2020 18:28:22 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D803FE11885693\u0022",
        "Last-Modified": "Fri, 29 May 2020 18:28:22 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-d01dbbb4-90d7-bff8-c63e-ce14ff027da4/test-directory-ffb33523-378b-ca9b-683c-34519652e978?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 May 2020 18:28:22 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D803FE11909B2E\u0022",
        "Last-Modified": "Fri, 29 May 2020 18:28:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-05-29T18:28:22.4191278Z",
        "x-ms-file-creation-time": "2020-05-29T18:28:22.4191278Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-05-29T18:28:22.4191278Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-d01dbbb4-90d7-bff8-c63e-ce14ff027da4/test-directory-ffb33523-378b-ca9b-683c-34519652e978/test-\u0192\u00A1\u00A3\u20AC\u203D%253A-1e4a873f-06e6-cd67-f422-d5983c0ae0d8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 29 May 2020 18:28:22 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D803FE11988BE1\u0022",
        "Last-Modified": "Fri, 29 May 2020 18:28:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-05-29T18:28:22.4711649Z",
        "x-ms-file-creation-time": "2020-05-29T18:28:22.4711649Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-05-29T18:28:22.4711649Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-d01dbbb4-90d7-bff8-c63e-ce14ff027da4/test-directory-ffb33523-378b-ca9b-683c-34519652e978?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 May 2020 18:28:22 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022http://amandadev2.file.core.windows.net/\u0022 ShareName=\u0022test-share-d01dbbb4-90d7-bff8-c63e-ce14ff027da4\u0022 DirectoryPath=\u0022test-directory-ffb33523-378b-ca9b-683c-34519652e978\u0022\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003Etest-\u0192\u00A1\u00A3\u20AC\u203D%3A-1e4a873f-06e6-cd67-f422-d5983c0ae0d8\u003C/Name\u003E\u003CProperties\u003E\u003CContent-Length\u003E1048576\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-d01dbbb4-90d7-bff8-c63e-ce14ff027da4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 May 2020 18:28:22 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1358807126",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttp://amandadev2.blob.core.windows.net\nhttp://amandadev2.file.core.windows.net\nhttp://amandadev2.queue.core.windows.net\nhttp://amandadev2.table.core.windows.net\n\n\n\n\nhttp://amandadev2-secondary.blob.core.windows.net\nhttp://amandadev2-secondary.file.core.windows.net\nhttp://amandadev2-secondary.queue.core.windows.net\nhttp://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandadev2.blob.core.windows.net/;QueueEndpoint=http://amandadev2.queue.core.windows.net/;FileEndpoint=http://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=http://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\n"
  }
}