{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-71377377-6074-5941-e34b-b96f043e6ec0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Jun 2020 19:42:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80D76779FF91B\u0022",
        "Last-Modified": "Wed, 10 Jun 2020 19:42:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-71377377-6074-5941-e34b-b96f043e6ec0/test-directory-ae2a1ef3-51fd-fe02-6db4-a200d62c2739?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Jun 2020 19:42:53 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80D7677A93A73\u0022",
        "Last-Modified": "Wed, 10 Jun 2020 19:42:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-06-10T19:42:53.7806451Z",
        "x-ms-file-creation-time": "2020-06-10T19:42:53.7806451Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-06-10T19:42:53.7806451Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11811099930176499864*14641856446884751121",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-71377377-6074-5941-e34b-b96f043e6ec0/test-directory-ae2a1ef3-51fd-fe02-6db4-a200d62c2739/test-\u0192\u00A1\u00A3\u20AC\u203D%253A-0db7123e-7638-2eeb-f15e-0dea7a34d024",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 10 Jun 2020 19:42:53 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80D7677B215B1\u0022",
        "Last-Modified": "Wed, 10 Jun 2020 19:42:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-06-10T19:42:53.8386865Z",
        "x-ms-file-creation-time": "2020-06-10T19:42:53.8386865Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-06-10T19:42:53.8386865Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "7175002341387128735*14641856446884751121",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-71377377-6074-5941-e34b-b96f043e6ec0/test-directory-ae2a1ef3-51fd-fe02-6db4-a200d62c2739?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Jun 2020 19:42:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanary.file.core.windows.net/\u0022 ShareName=\u0022test-share-71377377-6074-5941-e34b-b96f043e6ec0\u0022 DirectoryPath=\u0022test-directory-ae2a1ef3-51fd-fe02-6db4-a200d62c2739\u0022\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003Etest-\u0192\u00A1\u00A3\u20AC\u203D%3A-0db7123e-7638-2eeb-f15e-0dea7a34d024\u003C/Name\u003E\u003CProperties\u003E\u003CContent-Length\u003E1048576\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-71377377-6074-5941-e34b-b96f043e6ec0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Jun 2020 19:42:53 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1308916652",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}