{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e1f4fa61-8812-aff3-1b1f-07765b880f6f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Jan 2020 19:41:53 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D79929CF02AFB7\u0022",
        "Last-Modified": "Tue, 14 Jan 2020 19:41:54 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e1f4fa61-8812-aff3-1b1f-07765b880f6f/test-file-a0491697-c7dc-e4dd-091a-0ae5ea0d306f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 14 Jan 2020 19:41:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D79929CF3E3930\u0022",
        "Last-Modified": "Tue, 14 Jan 2020 19:41:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-01-14T19:41:54.5884976Z",
        "x-ms-file-creation-time": "2020-01-14T19:41:54.5884976Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-01-14T19:41:54.5884976Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e1f4fa61-8812-aff3-1b1f-07765b880f6f?restype=share\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Tue, 14 Jan 2020 19:41:54 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "\u003CSignedIdentifiers\u003E\u003CSignedIdentifier\u003E\u003CId\u003Ewfmruhertwtircubnvqk\u003C/Id\u003E\u003CAccessPolicy\u003E\u003CStart\u003E2020-01-14T18:41:54.6973534Z\u003C/Start\u003E\u003CExpiry\u003E2020-01-14T20:41:54.6973534Z\u003C/Expiry\u003E\u003CPermission\u003Erw\u003C/Permission\u003E\u003C/AccessPolicy\u003E\u003C/SignedIdentifier\u003E\u003C/SignedIdentifiers\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D79929CF53A101\u0022",
        "Last-Modified": "Tue, 14 Jan 2020 19:41:54 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e1f4fa61-8812-aff3-1b1f-07765b880f6f/test-file-a0491697-c7dc-e4dd-091a-0ae5ea0d306f?sv=2019-07-07\u0026si=wfmruhertwtircubnvqk\u0026sr=s\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D79929CF3E3930\u0022",
        "Last-Modified": "Tue, 14 Jan 2020 19:41:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-01-14T19:41:54.5884976Z",
        "x-ms-file-creation-time": "2020-01-14T19:41:54.5884976Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-01-14T19:41:54.5884976Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e1f4fa61-8812-aff3-1b1f-07765b880f6f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Jan 2020 19:41:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-01-14T11:41:54.6973534-08:00",
    "RandomSeed": "152870400",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}