{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-19966297-ecdd-e0d4-110f-ca10dda5a4d7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:19:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B6C20F41B6\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:19:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-19966297-ecdd-e0d4-110f-ca10dda5a4d7/test-directory-563ed7d2-0a83-484f-66f2-d9c8a03dfd0f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:19:53 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B6C21B2E78\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:19:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-04-25T01:19:53.4467704Z",
        "x-ms-file-creation-time": "2020-04-25T01:19:53.4467704Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-04-25T01:19:53.4467704Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15599277547783403350*12727421398096584927",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-19966297-ecdd-e0d4-110f-ca10dda5a4d7/test-directory-563ed7d2-0a83-484f-66f2-d9c8a03dfd0f/test-file-ded89ea0-94a0-4af5-3af5-58152e6aa719",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Sat, 25 Apr 2020 01:19:53 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B6C2269E8E\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:19:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-04-25T01:19:53.5217294Z",
        "x-ms-file-creation-time": "2020-04-25T01:19:53.5217294Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-04-25T01:19:53.5217294Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1729393344912377937*12727421398096584927",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-19966297-ecdd-e0d4-110f-ca10dda5a4d7/test-directory-563ed7d2-0a83-484f-66f2-d9c8a03dfd0f/test-file-ded89ea0-94a0-4af5-3af5-58152e6aa719?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:19:53 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "6e769c7d-4aef-aeff-53e4-db5587e378e5",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B6C2269E8E\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:19:53 GMT",
        "x-ms-lease-id": "6e769c7d-4aef-aeff-53e4-db5587e378e5",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-19966297-ecdd-e0d4-110f-ca10dda5a4d7/test-directory-563ed7d2-0a83-484f-66f2-d9c8a03dfd0f/test-file-ded89ea0-94a0-4af5-3af5-58152e6aa719",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:19:53 GMT",
        "x-ms-lease-id": "6e769c7d-4aef-aeff-53e4-db5587e378e5",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B6C2269E8E\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:19:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-04-25T01:19:53.5217294Z",
        "x-ms-file-creation-time": "2020-04-25T01:19:53.5217294Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-04-25T01:19:53.5217294Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1729393344912377937*12727421398096584927",
        "x-ms-lease-duration": "infinite",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-19966297-ecdd-e0d4-110f-ca10dda5a4d7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:19:53 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "269270585",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}