{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8f964291-81ed-a351-2135-e4a2adef746e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:12 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-fa616fe9-6642-6319-84ee-426baee3f26a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:50 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:10:12 GMT",
        "ETag": "\u00220x8D7793906C0203E\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:10:12 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:49 GMT",
        "ETag": "\u00220x8D779E2D8A2E0DB\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:50 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "ab95d100-55aa-f5b0-6d44-907401b63c7c",
        "x-ms-request-id": "0119f847-f01a-0002-5521-ab2c83000000",
=======
        "x-ms-client-request-id": "bf1629b9-7ab1-da5b-83cb-f02498855493",
        "x-ms-request-id": "a2d0f6bf-501a-0034-4bcb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8f964291-81ed-a351-2135-e4a2adef746e/test-directory-1f1770c4-8be1-18d3-e341-042e2df53413?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:13 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-fa616fe9-6642-6319-84ee-426baee3f26a/test-directory-fa1af120-82cb-c0ba-d289-e60e54a33418?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:50 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:10:12 GMT",
        "ETag": "\u00220x8D7793906CEB7EE\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:10:13 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:49 GMT",
        "ETag": "\u00220x8D779E2D8B02676\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:50 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "427b0997-5c28-7119-46da-aaac8b79cd2f",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:10:13.0522094Z",
        "x-ms-file-creation-time": "2019-12-05T04:10:13.0522094Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:10:13.0522094Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "0119f84e-f01a-0002-5a21-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:25:50.1207158Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:50.1207158Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:50.1207158Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "a2d0f6c2-501a-0034-4dcb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8f964291-81ed-a351-2135-e4a2adef746e/test-directory-1f1770c4-8be1-18d3-e341-042e2df53413/test-file-1e44010c-cebd-d302-8f6d-891ddc6790a1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-fa616fe9-6642-6319-84ee-426baee3f26a/test-directory-fa1af120-82cb-c0ba-d289-e60e54a33418/test-file-7832ee55-450f-4e6d-0aa7-ea356c3e1ccb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "8e8df0fc-1209-116a-02b2-6c135bf24ed7",
        "x-ms-content-length": "1048576",
<<<<<<< HEAD
        "x-ms-date": "Thu, 05 Dec 2019 04:10:13 GMT",
=======
        "x-ms-date": "Fri, 06 Dec 2019 00:25:50 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:10:12 GMT",
        "ETag": "\u00220x8D7793906DBFC60\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:10:13 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:49 GMT",
        "ETag": "\u00220x8D779E2D8BCD0A0\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:50 GMT",
>>>>>>> feature/storage/stg71-bas[...]
