{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f36ff894-c91a-6dfb-426b-a2e83f812654?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:53 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f79d94e8-8314-e90f-a1b0-3bb0b48c5466?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:09 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:53 GMT",
        "ETag": "\u00220x8D779E6C3D0DD73\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:53:53 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:09 GMT",
        "ETag": "\u00220x8D779E30839DE8D\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:09 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "14cfa2fe-9419-1f16-73ab-fbdebbd103f7",
        "x-ms-request-id": "ab322537-201a-002e-56cf-abc02c000000",
=======
        "x-ms-client-request-id": "1dcb3ab1-ea87-4fc8-07ce-b2122129b824",
        "x-ms-request-id": "4376e4dc-b01a-003c-36cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f36ff894-c91a-6dfb-426b-a2e83f812654/test-directory-6a78d87e-01c5-d182-f54f-b66cc5c86cff?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:53 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f79d94e8-8314-e90f-a1b0-3bb0b48c5466/test-directory-fb729958-fe6a-3596-fa94-d2bb75dafe00?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:09 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:53 GMT",
        "ETag": "\u00220x8D779E6C3DE94CF\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:53:53 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:09 GMT",
        "ETag": "\u00220x8D779E30847DE1F\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:09 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "2ab2cc3f-8b2e-4caf-694a-3754b54fd6a3",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:53:53.1797711Z",
        "x-ms-file-creation-time": "2019-12-06T00:53:53.1797711Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:53:53.1797711Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "ab32253c-201a-002e-5acf-abc02c000000",
=======
        "x-ms-client-request-id": "42bc15e4-3f0a-6625-0cb1-dc23354ac9d4",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:27:09.9679263Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:09.9679263Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:09.9679263Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e4df-b01a-003c-38cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f36ff894-c91a-6dfb-426b-a2e83f812654/test-directory-6a78d87e-01c5-d182-f54f-b66cc5c86cff/test-file-92672b19-5e3d-cc65-6fe6-46b0cdfd9fc8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:53 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f79d94e8-8314-e90f-a1b0-3bb0b48c5466/test-directory-fb729958-fe6a-3596-fa94-d2bb75dafe00/test-file-690497e5-099d-a391-4858-dc6d7cd55cac",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:10 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:53 GMT",
        "ETag": "\u00220x8D779E6C3EBB6EF\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:53:53 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:09 GMT",
        "ETag": "\u00220x8D779E3085522C0\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:10 GMT",
>>>>>>> feature/storage/stg71-bas[...]
