{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-635b2123-2440-5f58-bcad-50bf656c69c8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:33:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C23138AB48E5\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:33:13 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-635b2123-2440-5f58-bcad-50bf656c69c8/test-directory-e4fc5aae-a479-3084-3ae9-88eb428831ad?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:33:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C23138B6C47A\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:33:13 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-26T19:33:13.3613178Z",
        "x-ms-file-creation-time": "2021-01-26T19:33:13.3613178Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-26T19:33:13.3613178Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-635b2123-2440-5f58-bcad-50bf656c69c8/test-directory-e4fc5aae-a479-3084-3ae9-88eb428831ad/test-file-0001f0e6-e601-f11a-3719-22197a44dbc4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 26 Jan 2021 19:33:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C23138C0B15B\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:33:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:33:13.4263643Z",
        "x-ms-file-creation-time": "2021-01-26T19:33:13.4263643Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:33:13.4263643Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-635b2123-2440-5f58-bcad-50bf656c69c8?restype=share\u0026comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:33:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C23138AB48E5\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:33:13 GMT",
        "x-ms-snapshot": "2021-01-26T19:33:13.0000000Z",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-635b2123-2440-5f58-bcad-50bf656c69c8/test-directory-e4fc5aae-a479-3084-3ae9-88eb428831ad/test-file-0001f0e6-e601-f11a-3719-22197a44dbc4?sharesnapshot=2021-01-26T19:33:13.0000000Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:33:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C23138C0B15B\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:33:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:33:13.4263643Z",
        "x-ms-file-creation-time": "2021-01-26T19:33:13.4263643Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:33:13.4263643Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-635b2123-2440-5f58-bcad-50bf656c69c8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:33:15 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1784349096",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}