{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-083b2add-999f-b2f8-10b7-8bb7390f80bf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-9604d4270c4afd418c52873cb4e54591-373c75e01449a249-00",
=======
        "traceparent": "00-0fc7fbc08902f146b1a4f4e04e2f7ca2-73c4693847b9874d-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "78dc76a2-f618-e63b-eb21-5ba9993dcab1",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:01:38 GMT",
        "x-ms-return-client-request-id": "true",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:46:39 GMT",
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:01:38 GMT",
        "ETag": "\u00220x8D7790DEB67F625\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:01:38 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:46:38 GMT",
        "ETag": "\u00220x8D778F2AE28DF00\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:46:39 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "78dc76a2-f618-e63b-eb21-5ba9993dcab1",
<<<<<<< HEAD
        "x-ms-request-id": "e30416ae-401a-0038-16f6-aa36fb000000",
=======
        "x-ms-request-id": "4620302f-801a-0018-7cdb-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-083b2add-999f-b2f8-10b7-8bb7390f80bf/test-directory-c96aff1f-c883-83e2-e1f7-fa31ec3e1514?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-1322e633b55ce640bbe200db6fe05745-6a28074657c8e245-00",
=======
        "traceparent": "00-bb769f19b532564b882a2e68d8680713-5e70ca28bb31c344-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "42025c14-a253-c2da-43df-e1d4648f7a0a",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:01:38 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:46:39 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:01:38 GMT",
        "ETag": "\u00220x8D7790DEB767255\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:01:38 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:46:38 GMT",
        "ETag": "\u00220x8D778F2AE37D566\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:46:39 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "42025c14-a253-c2da-43df-e1d4648f7a0a",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T23:01:38.8158549Z",
        "x-ms-file-creation-time": "2019-12-04T23:01:38.8158549Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T23:01:38.8158549Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "e30416b1-401a-0038-18f6-aa36fb000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:46:39.6527974Z",
        "x-ms-file-creation-time": "2019-12-04T19:46:39.6527974Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:46:39.6527974Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "46203032-801a-0018-7edb-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-083b2add-999f-b2f8-10b7-8bb7390f80bf/test-directory-c96aff1f-c883-83e2-e1f7-fa31ec3e1514/test-file-8af6c0da-3884-4813-6dda-2fa5b9301af2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-ec66f5bc119b2b43b8c1c76ca96fc9d5-340392cbaf3a7940-00",
=======
        "traceparent": "00-ecb11a057a35da4593a75c81bcaa0528-aad6a3ae93f4e84e-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "3d95b477-873a-3a5e-2db6-2a976649b5f8",
        "x-ms-content-length": "1048576",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:01:38 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:46:39 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:01:38 GMT",
        "ETag": "\u00220x8D7790DEB839482\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:01:38 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:46:38 GMT",
        "ETag": "\u00220x8D778F2AE451D1A\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:46:39 GMT",
>>>>>>> feature/storage/stg71-bas[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-083b2add-999f-b2f8-10b7-8bb7390f80bf?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-64fdf9ac619af041beca68058b1f3cc3-0efc99f721870340-00",
=======
        "traceparent": "00-cc748a1685bdf441a59ea71a70e19fbb-c44b0d89d9e31941-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "058c56a6-04eb-29fe-6977-870eaac18e3e",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:01:39 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:46:39 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:01:38 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:46:39 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "058c56a6-04eb-29fe-6977-870eaac18e3e",
<<<<<<< HEAD
        "x-ms-request-id": "e30416b9-401a-0038-20f6-aa36fb000000",
=======
        "x-ms-request-id": "46203038-801a-0018-04db-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "DateTimeOffsetNow": "2019-12-04T15:01:38.9755510-08:00",
=======
    "DateTimeOffsetNow": "2019-12-04T11:46:39.7948667-08:00",
>>>>>>> feature/storage/stg71-base
    "RandomSeed": "194438951",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}