{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-3a8ba357-a399-e198-3b74-1cf53bb0b5db?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:31:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D3225AE836E\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:31:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-3a8ba357-a399-e198-3b74-1cf53bb0b5db/test-directory-1c9b0545-8546-f38f-46a5-c96c96228d6d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:31:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D3225BD486B\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:31:03 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-10T05:31:03.1213163Z",
        "x-ms-file-creation-time": "2019-12-10T05:31:03.1213163Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-10T05:31:03.1213163Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-3a8ba357-a399-e198-3b74-1cf53bb0b5db/test-directory-1c9b0545-8546-f38f-46a5-c96c96228d6d/test-file-c6988a7b-21de-3b04-985c-552aba1a876b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 Dec 2019 05:31:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D3225CB9EAC\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:31:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-10T05:31:03.2152748Z",
        "x-ms-file-creation-time": "2019-12-10T05:31:03.2152748Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-10T05:31:03.2152748Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-3a8ba357-a399-e198-3b74-1cf53bb0b5db/test-directory-1c9b0545-8546-f38f-46a5-c96c96228d6d/test-file-c6988a7b-21de-3b04-985c-552aba1a876b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:31:03 GMT",
        "x-ms-lease-id": "0a19f9b3-3520-3df3-4f1c-4a6f23be96f5",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "x-ms-error-code": "LeaseNotPresentWithFileOperation",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-3a8ba357-a399-e198-3b74-1cf53bb0b5db?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:31:03 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "225830175",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}