{
  "Entries": [
    {
      "RequestUri": "https://blobindex1.file.core.windows.net/test-share-840b0883-68fe-71bb-455c-b6ed6b92b022?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 17:32:13 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E93E97BEE006\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 17:32:13 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.file.core.windows.net/test-share-840b0883-68fe-71bb-455c-b6ed6b92b022/test-directory-0b8e9f4c-ae98-39ae-3025-9286e7b2e843?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 17:32:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E93E97CD5710\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 17:32:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-04-25T17:32:14.0275472Z",
        "x-ms-file-creation-time": "2020-04-25T17:32:14.0275472Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-04-25T17:32:14.0275472Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "16682841523147366999*10330833039735551454",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.file.core.windows.net/test-share-840b0883-68fe-71bb-455c-b6ed6b92b022/test-directory-0b8e9f4c-ae98-39ae-3025-9286e7b2e843/test-file-7b0e55c1-273d-fd59-6212-bf6a85bf6ec1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Sat, 25 Apr 2020 17:32:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E93E97DCEA40\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 17:32:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-04-25T17:32:14.1296192Z",
        "x-ms-file-creation-time": "2020-04-25T17:32:14.1296192Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-04-25T17:32:14.1296192Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "2881905375708421456*10330833039735551454",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.file.core.windows.net/test-share-840b0883-68fe-71bb-455c-b6ed6b92b022/test-directory-0b8e9f4c-ae98-39ae-3025-9286e7b2e843/test-file-7b0e55c1-273d-fd59-6212-bf6a85bf6ec1?sv=2019-12-12\u0026st=2020-04-25T16%3A32%3A14Z\u0026se=2020-04-25T18%3A32%3A14Z\u0026sr=s\u0026sp=rcwdl\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E93E97DCEA40\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 17:32:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-04-25T17:32:14.1296192Z",
        "x-ms-file-creation-time": "2020-04-25T17:32:14.1296192Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-04-25T17:32:14.1296192Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "2881905375708421456*10330833039735551454",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.file.core.windows.net/test-share-840b0883-68fe-71bb-455c-b6ed6b92b022?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 17:32:14 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-25T10:32:14.3163213-07:00",
    "RandomSeed": "1113554916",
    "Storage_TestConfigDefault": "ProductionTenant\nblobindex1\nU2FuaXRpemVk\nhttps://blobindex1.blob.core.windows.net\nhttps://blobindex1.file.core.windows.net\nhttps://blobindex1.queue.core.windows.net\nhttps://blobindex1.table.core.windows.net\n\n\n\n\nhttps://blobindex1-secondary.blob.core.windows.net\nhttps://blobindex1-secondary.file.core.windows.net\nhttps://blobindex1-secondary.queue.core.windows.net\nhttps://blobindex1-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://blobindex1.blob.core.windows.net/;QueueEndpoint=https://blobindex1.queue.core.windows.net/;FileEndpoint=https://blobindex1.file.core.windows.net/;BlobSecondaryEndpoint=https://blobindex1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blobindex1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blobindex1-secondary.file.core.windows.net/;AccountName=blobindex1;AccountKey=Sanitized\nseanscope1"
  }
}