{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-46e6838f-d46a-bc1c-aeb0-eddf03d67265?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:52:17 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-eadb2724-009c-35eb-6303-20b9b4c4f4de?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:48 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:52:16 GMT",
        "ETag": "\u00220x8D779E68AD2A841\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:52:17 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:47 GMT",
        "ETag": "\u00220x8D779E2D7EA1829\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:48 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "9160c346-fd97-4d54-3bf0-17327253dd8d",
        "x-ms-request-id": "e6d5fbd7-101a-0035-51cf-abfe2f000000",
=======
        "x-ms-client-request-id": "af198913-b580-225f-d332-2e1ea87ba4b0",
        "x-ms-request-id": "a2d0f6a1-501a-0034-32cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-46e6838f-d46a-bc1c-aeb0-eddf03d67265/test-directory-76e375b5-a286-fc94-d412-b2a40aef0f63?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:52:17 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-eadb2724-009c-35eb-6303-20b9b4c4f4de/test-directory-5daced6c-9e19-89b9-09af-15571a49c167?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:48 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:52:16 GMT",
        "ETag": "\u00220x8D779E68AE0DEF1\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:52:17 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:48 GMT",
        "ETag": "\u00220x8D779E2D7FCB502\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:48 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "38763ce9-3767-a4c5-2f63-bc854aaf434c",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:52:17.5646449Z",
        "x-ms-file-creation-time": "2019-12-06T00:52:17.5646449Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:52:17.5646449Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "e6d5fbd9-101a-0035-52cf-abfe2f000000",
=======
        "x-ms-client-request-id": "853536a0-db4f-7430-cf90-a5d09f080889",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:25:48.9447170Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:48.9447170Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:48.9447170Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "a2d0f6a5-501a-0034-35cb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-46e6838f-d46a-bc1c-aeb0-eddf03d67265/test-directory-76e375b5-a286-fc94-d412-b2a40aef0f63/test-file-d130b3e1-9cbb-d417-a751-17990a528158",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2019 00:52:17 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-eadb2724-009c-35eb-6303-20b9b4c4f4de/test-directory-5daced6c-9e19-89b9-09af-15571a49c167/test-file-d253c770-78d4-2805-8f89-33b262221d0a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:49 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:52:16 GMT",
        "ETag": "\u00220x8D779E68AEDD727\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:52:17 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:48 GMT",
        "ETag": "\u00220x8D779E2D809B02B\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:49 GMT",
>>>>>>> feature/storage/stg71-bas[...]
