{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8737a824-a31c-6f42-d60e-754d381e510b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:32 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-31b117d8-9e7f-c6e6-beaa-d6018cdf36ff?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:09 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:31 GMT",
        "ETag": "\u00220x8D7793935FE64B6\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:32 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:08 GMT",
        "ETag": "\u00220x8D779E307C0DDC7\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:09 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "5d1c1286-30f1-5e17-e871-10942fd75f64",
        "x-ms-request-id": "011a0371-f01a-0002-5522-ab2c83000000",
=======
        "x-ms-client-request-id": "81f1273a-98d9-6167-9367-cbfe75717060",
        "x-ms-request-id": "4376e4cf-b01a-003c-2bcb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8737a824-a31c-6f42-d60e-754d381e510b/test-directory-a5602503-c101-5686-a044-e607ca12940f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:32 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-31b117d8-9e7f-c6e6-beaa-d6018cdf36ff/test-directory-f4d9cfd2-b575-b3f1-9b5a-4b02ad689558?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:09 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:31 GMT",
        "ETag": "\u00220x8D77939360CE1E1\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:32 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:08 GMT",
        "ETag": "\u00220x8D779E307CE906A\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:09 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "61ab900b-d88d-8410-353d-e67e4d64b42b",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:11:32.3125217Z",
        "x-ms-file-creation-time": "2019-12-05T04:11:32.3125217Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:11:32.3125217Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "011a0378-f01a-0002-5b22-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:27:09.1729514Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:09.1729514Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:09.1729514Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e4d2-b01a-003c-2dcb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8737a824-a31c-6f42-d60e-754d381e510b/test-directory-a5602503-c101-5686-a044-e607ca12940f/test-file-a29300dc-3911-0e62-0bbc-4612a969972c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-31b117d8-9e7f-c6e6-beaa-d6018cdf36ff/test-directory-f4d9cfd2-b575-b3f1-9b5a-4b02ad689558/test-file-252072d2-0baa-1d72-a892-69ed682f591d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "e7f022d3-bc5c-00ca-1e8e-b8fa6e231c06",
        "x-ms-content-length": "1024",
<<<<<<< HEAD
        "x-ms-date": "Thu, 05 Dec 2019 04:11:32 GMT",
=======
        "x-ms-date": "Fri, 06 Dec 2019 00:27:09 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:31 GMT",
        "ETag": "\u00220x8D77939361AEBBC\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:32 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:09 GMT",
        "ETag": "\u00220x8D779E307DD337A\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:09 GMT",
>>>>>>> feature/storage/stg71-bas[...]
