{
  "Entries": [
    {
      "RequestUri": "https://blobindex1.file.core.windows.net/test-share-244d4eb2-ac65-79a4-642e-425a9ea43f68?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 17:32:11 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E93E964F5D7D\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 17:32:11 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.file.core.windows.net/test-share-244d4eb2-ac65-79a4-642e-425a9ea43f68/test-directory-16422d16-070f-30ca-b7cd-f4cc9b1afa48?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 17:32:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E93E96656FB8\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 17:32:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-04-25T17:32:11.6688824Z",
        "x-ms-file-creation-time": "2020-04-25T17:32:11.6688824Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-04-25T17:32:11.6688824Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "16682841523147366999*10330833039735551454",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.file.core.windows.net/test-share-244d4eb2-ac65-79a4-642e-425a9ea43f68/test-directory-16422d16-070f-30ca-b7cd-f4cc9b1afa48/test-file-6bffd0e8-0b88-d76c-dbaa-8da50e491d23",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Sat, 25 Apr 2020 17:32:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E93E967AD051\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 17:32:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-04-25T17:32:11.8089809Z",
        "x-ms-file-creation-time": "2020-04-25T17:32:11.8089809Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-04-25T17:32:11.8089809Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "2881905375708421456*10330833039735551454",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.file.core.windows.net/test-share-244d4eb2-ac65-79a4-642e-425a9ea43f68/test-directory-16422d16-070f-30ca-b7cd-f4cc9b1afa48/test-file-6bffd0e8-0b88-d76c-dbaa-8da50e491d23?sv=2019-12-12\u0026st=2020-04-25T16%3A32%3A11Z\u0026se=2020-04-25T18%3A32%3A11Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E93E967AD051\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 17:32:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-04-25T17:32:11.8089809Z",
        "x-ms-file-creation-time": "2020-04-25T17:32:11.8089809Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-04-25T17:32:11.8089809Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "2881905375708421456*10330833039735551454",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.file.core.windows.net/test-share-244d4eb2-ac65-79a4-642e-425a9ea43f68?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 17:32:12 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-25T10:32:11.9974090-07:00",
    "RandomSeed": "1799548664",
    "Storage_TestConfigDefault": "ProductionTenant\nblobindex1\nU2FuaXRpemVk\nhttps://blobindex1.blob.core.windows.net\nhttps://blobindex1.file.core.windows.net\nhttps://blobindex1.queue.core.windows.net\nhttps://blobindex1.table.core.windows.net\n\n\n\n\nhttps://blobindex1-secondary.blob.core.windows.net\nhttps://blobindex1-secondary.file.core.windows.net\nhttps://blobindex1-secondary.queue.core.windows.net\nhttps://blobindex1-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://blobindex1.blob.core.windows.net/;QueueEndpoint=https://blobindex1.queue.core.windows.net/;FileEndpoint=https://blobindex1.file.core.windows.net/;BlobSecondaryEndpoint=https://blobindex1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blobindex1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blobindex1-secondary.file.core.windows.net/;AccountName=blobindex1;AccountKey=Sanitized\nseanscope1"
  }
}