{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c2305d94-4e31-bbfa-7c99-466a530bc619?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:54 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-df8bcb57-37cf-1c2f-b1dd-690e6bcb567a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:10 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:54 GMT",
        "ETag": "\u00220x8D779E6C4E5A8C6\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:53:54 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:10 GMT",
        "ETag": "\u00220x8D779E3087B7B82\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:10 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "22005a22-16d7-c852-cb4d-65f3eb4c3c98",
        "x-ms-request-id": "ab32259a-201a-002e-34cf-abc02c000000",
=======
        "x-ms-client-request-id": "699608e3-b699-bad9-195e-450eee20cde2",
        "x-ms-request-id": "4376e4e6-b01a-003c-3ecb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c2305d94-4e31-bbfa-7c99-466a530bc619/test-directory-e7f79883-0f8c-811e-34f5-a9707ca477ec?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:54 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-df8bcb57-37cf-1c2f-b1dd-690e6bcb567a/test-directory-a2eeb18e-f55c-fa99-c9b0-294db4d3fa61?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:10 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:54 GMT",
        "ETag": "\u00220x8D779E6C4F2C437\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:53:54 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:10 GMT",
        "ETag": "\u00220x8D779E30889A083\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:10 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "eaaf4c58-229b-f880-71e4-8a85e90899f3",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:53:54.9897783Z",
        "x-ms-file-creation-time": "2019-12-06T00:53:54.9897783Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:53:54.9897783Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "ab3225a1-201a-002e-3acf-abc02c000000",
=======
        "x-ms-client-request-id": "249529e7-0e50-486d-f525-1a37c4c07311",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:27:10.3988867Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:10.3988867Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:10.3988867Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e4e8-b01a-003c-3fcb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c2305d94-4e31-bbfa-7c99-466a530bc619/test-directory-e7f79883-0f8c-811e-34f5-a9707ca477ec/test-file-b0333169-bbc6-a9cc-8198-24d1449c4457",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:55 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-df8bcb57-37cf-1c2f-b1dd-690e6bcb567a/test-directory-a2eeb18e-f55c-fa99-c9b0-294db4d3fa61/test-file-a0310278-d3a0-8f98-5d4e-07782ce77707",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:10 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:54 GMT",
        "ETag": "\u00220x8D779E6C4FF9712\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:53:55 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:10 GMT",
        "ETag": "\u00220x8D779E3089698A4\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:10 GMT",
>>>>>>> feature/storage/stg71-bas[...]
