{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-92889294-99cd-737b-376c-bbbe12335e4c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:19:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B6C33CC2C4\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:19:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-92889294-99cd-737b-376c-bbbe12335e4c/test-directory-b010618b-7f1d-1951-1941-f0af72e44a0e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:19:55 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B6C349C0CF\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:19:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-04-25T01:19:55.4297039Z",
        "x-ms-file-creation-time": "2020-04-25T01:19:55.4297039Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-04-25T01:19:55.4297039Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15599277547783403350*12727421398096584927",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-92889294-99cd-737b-376c-bbbe12335e4c/test-directory-b010618b-7f1d-1951-1941-f0af72e44a0e/test-file-a9132d10-5472-e82b-95a0-bc8999cbda54",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Sat, 25 Apr 2020 01:19:55 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B6C35509E0\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:19:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-04-25T01:19:55.5036640Z",
        "x-ms-file-creation-time": "2020-04-25T01:19:55.5036640Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-04-25T01:19:55.5036640Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1729393344912377937*12727421398096584927",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-92889294-99cd-737b-376c-bbbe12335e4c/test-directory-b010618b-7f1d-1951-1941-f0af72e44a0e/test-file-a9132d10-5472-e82b-95a0-bc8999cbda54?comp=rangelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:19:55 GMT",
        "x-ms-lease-id": "20ec4de2-e156-8b8c-388c-e74c7b8de608",
        "x-ms-range": "bytes=0-1048575",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithFileOperation",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithFileOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the file.\n",
        "RequestId:8411e36a-001a-007c-2c9f-1a0b56000000\n",
        "Time:2020-04-25T01:19:55.5744328Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-92889294-99cd-737b-376c-bbbe12335e4c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:19:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1867585407",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}