{
  "Entries": [
    {
      "RequestUri": "https://0n3xscnapsn4prde17h.file.preprod.core.windows.net/test-share-09c7b4f4-10c0-d89e-f2b2-c8f625a81fba?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Sep 2020 17:47:03 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D850FA881533F9\u0022",
        "Last-Modified": "Fri, 04 Sep 2020 17:47:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0n3xscnapsn4prde17h.file.preprod.core.windows.net/test-share-09c7b4f4-10c0-d89e-f2b2-c8f625a81fba/test-directory-66516841-f53f-59c3-e08b-6492385d2586?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Sep 2020 17:47:04 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D850FA881C8F3B\u0022",
        "Last-Modified": "Fri, 04 Sep 2020 17:47:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-09-04T17:47:02.8544315Z",
        "x-ms-file-creation-time": "2020-09-04T17:47:02.8544315Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-09-04T17:47:02.8544315Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14827816195503570342*11897905858180131375",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0n3xscnapsn4prde17h.file.preprod.core.windows.net/test-share-09c7b4f4-10c0-d89e-f2b2-c8f625a81fba/test-directory-66516841-f53f-59c3-e08b-6492385d2586/test-file-6ac9d896-f076-7995-3038-21e2aff11cfa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 04 Sep 2020 17:47:04 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D850FA88217218\u0022",
        "Last-Modified": "Fri, 04 Sep 2020 17:47:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-09-04T17:47:02.8864536Z",
        "x-ms-file-creation-time": "2020-09-04T17:47:02.8864536Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-09-04T17:47:02.8864536Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "990002565778260641*11897905858180131375",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0n3xscnapsn4prde17h.file.preprod.core.windows.net/test-share-09c7b4f4-10c0-d89e-f2b2-c8f625a81fba/test-directory-66516841-f53f-59c3-e08b-6492385d2586/test-file-6ac9d896-f076-7995-3038-21e2aff11cfa?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Sep 2020 17:47:04 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "9e787ca4-6658-ba5a-6bcd-671ddec829ef",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D850FA88217218\u0022",
        "Last-Modified": "Fri, 04 Sep 2020 17:47:02 GMT",
        "x-ms-lease-id": "9e787ca4-6658-ba5a-6bcd-671ddec829ef",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0n3xscnapsn4prde17h.file.preprod.core.windows.net/test-share-09c7b4f4-10c0-d89e-f2b2-c8f625a81fba/test-directory-66516841-f53f-59c3-e08b-6492385d2586/test-file-6ac9d896-f076-7995-3038-21e2aff11cfa?comp=rangelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Sep 2020 17:47:04 GMT",
        "x-ms-lease-id": "9e787ca4-6658-ba5a-6bcd-671ddec829ef",
        "x-ms-range": "bytes=0-1048575",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D850FA88217218\u0022",
        "Last-Modified": "Fri, 04 Sep 2020 17:47:02 GMT",
        "x-ms-content-length": "1048576",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CRanges /\u003E"
    },
    {
      "RequestUri": "https://0n3xscnapsn4prde17h.file.preprod.core.windows.net/test-share-09c7b4f4-10c0-d89e-f2b2-c8f625a81fba?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Sep 2020 17:47:04 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "520134248",
    "Storage_TestConfigDefault": "ProductionTenant\n0n3xscnapsn4prde17h\nU2FuaXRpemVk\nhttps://0n3xscnapsn4prde17h.blob.preprod.core.windows.net\nhttps://0n3xscnapsn4prde17h.file.preprod.core.windows.net\nhttps://0n3xscnapsn4prde17h.queue.preprod.core.windows.net\nhttps://0n3xscnapsn4prde17h.table.preprod.core.windows.net\n\n\n\n\nhttps://0n3xscnapsn4prde17h-secondary.blob.preprod.core.windows.net\nhttps://0n3xscnapsn4prde17h-secondary.file.preprod.core.windows.net\nhttps://0n3xscnapsn4prde17h-secondary.queue.preprod.core.windows.net\nhttps://0n3xscnapsn4prde17h-secondary.table.preprod.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://0n3xscnapsn4prde17h.blob.preprod.core.windows.net/;QueueEndpoint=https://0n3xscnapsn4prde17h.queue.preprod.core.windows.net/;FileEndpoint=https://0n3xscnapsn4prde17h.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://0n3xscnapsn4prde17h-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://0n3xscnapsn4prde17h-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://0n3xscnapsn4prde17h-secondary.file.preprod.core.windows.net/;AccountName=0n3xscnapsn4prde17h;AccountKey=Kg==;\nseanscope1"
  }
}