{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-dd938aa7-4ae1-677c-793e-0045daf38a95?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Sep 2020 19:55:50 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F31816DE8BA\u0022",
        "Last-Modified": "Tue, 22 Sep 2020 19:55:50 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-dd938aa7-4ae1-677c-793e-0045daf38a95/test-directory-6eafbe67-da24-345b-18f6-3357dafcd024?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Sep 2020 19:55:50 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F318179508B\u0022",
        "Last-Modified": "Tue, 22 Sep 2020 19:55:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-09-22T19:55:50.3172747Z",
        "x-ms-file-creation-time": "2020-09-22T19:55:50.3172747Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-09-22T19:55:50.3172747Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-dd938aa7-4ae1-677c-793e-0045daf38a95/test-directory-6eafbe67-da24-345b-18f6-3357dafcd024/test-file-ba3892eb-fd1a-0b48-82b5-5a9ef910784a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 22 Sep 2020 19:55:50 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F318185127B\u0022",
        "Last-Modified": "Tue, 22 Sep 2020 19:55:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-09-22T19:55:50.3943291Z",
        "x-ms-file-creation-time": "2020-09-22T19:55:50.3943291Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-09-22T19:55:50.3943291Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-dd938aa7-4ae1-677c-793e-0045daf38a95/test-directory-6eafbe67-da24-345b-18f6-3357dafcd024/test-file-ba3892eb-fd1a-0b48-82b5-5a9ef910784a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Sep 2020 19:55:50 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "EsqqOjdlefMUMk5eu5/Dqi2qZHexTrMzVv4\u002B2KKP\u002BtDdNZZ8LU540whsFWM1g3IKSKvCXzVmXMQXd\u002BM4J6FQhDd\u002BgIYIR3zfMpFuRDlQ/tKMNI/2zJubdtnSZbZqP6xnG5ArtwLrAQEv4i2k\u002BBeKxnkRrPMRWrec4wqtNeHFdfLkBiipJEbQoDKOxult9n7BSJ49WZO5VsHYj9P4Pssfam06v/Hv4aIyQAzAgpPOLuyL6\u002B1DiBxfK7Bn0JVz2GFmb1x8MzeM0mb7CxiH\u002BNMtCmDnbFLe2\u002BJR25RBhxANv2iqWhM3Uvu1/xmHR30D2DLdOcY0i2sPh5N6KliiS0pV7kuv3Z6/9rhlMW04V5RlTgNiZE5K2DP8mtKAvCejErTPMVkxU/qTHUMOz1r\u002B1jD\u002BFdxUQ[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-dd938aa7-4ae1-677c-793e-0045daf38a95?restype=share\u0026comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Sep 2020 19:55:50 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F31816DE8BA\u0022",
        "Last-Modified": "Tue, 22 Sep 2020 19:55:50 GMT",
        "x-ms-snapshot": "2020-09-22T19:55:50.0000000Z",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-dd938aa7-4ae1-677c-793e-0045daf38a95/test-directory-6eafbe67-da24-345b-18f6-3357dafcd024/test-file-ba3892eb-fd1a-0b48-82b5-5a9ef910784a?comp=rangelist\u0026sharesnapshot=2020-09-22T19%3A55%3A51.0000000Z\u0026prevsharesnapshot=2020-09-22T19%3A55%3A50.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Sep 2020 19:55:50 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D85F3181A85847\u0022",
        "Last-Modified": "Tue, 22 Sep 2020 19:55:50 GMT",
        "x-ms-content-length": "1048576",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CRanges\u003E\u003CClearRange\u003E\u003CStart\u003E0\u003C/Start\u003E\u003CEnd\u003E511\u003C/End\u003E\u003C/ClearRange\u003E\u003CRange\u003E\u003CStart\u003E3072\u003C/Start\u003E\u003CEnd\u003E4095\u003C/End\u003E\u003C/Range\u003E\u003C/Ranges\u003E"
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-dd938aa7-4ae1-677c-793e-0045daf38a95?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Sep 2020 19:55:50 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1632881646",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}