{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-185ff969-1bc3-a4d6-f545-21c5abce5455?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CF915CEAC\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:41:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-185ff969-1bc3-a4d6-f545-21c5abce5455/test-directory-21c9522c-5882-a0ce-86a5-d0245e10a953?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CF9206496\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:41:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:41:47.9366806Z",
        "x-ms-file-creation-time": "2021-01-21T20:41:47.9366806Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:41:47.9366806Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-185ff969-1bc3-a4d6-f545-21c5abce5455/test-directory-21c9522c-5882-a0ce-86a5-d0245e10a953/test-file-4bbb0447-5f86-06ee-6ee4-f2d16b122e50",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CF92AEDCB\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:41:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:41:48.0057291Z",
        "x-ms-file-creation-time": "2021-01-21T20:41:48.0057291Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:41:48.0057291Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-185ff969-1bc3-a4d6-f545-21c5abce5455/test-directory-21c9522c-5882-a0ce-86a5-d0245e10a953/test-file-4bbb0447-5f86-06ee-6ee4-f2d16b122e50?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:48 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "fFat9SF/xUWJ3BhZ8ReHV9JusrydwdbkcFC45MeGLk75SFonaRxin\u002Bku450hE0hEC\u002BIhQTF3h7qAyYXQx\u002BF9Aq3JX6i8X\u002B22DBPTbt44wlwHc9jlZewdgsGgp6CWkdcHseDvWLSgiKz0azUdoxncRwYoyVQJmJ3Bq9znG7dNH3o7y73\u002BSWmoZ\u002Bos8Pq2AN6nw2CZbsiD/hhCLqzXuW30p0u74dhb3v6cf2Jq3aijCqv\u002BP1hXs7Cxt82luxq90a19N0iu\u002Bx4GTOVi/e5mGSFvnyMA2HkUnPSaCSoLtiLj36207KVg9A\u002BN9/Jy9bbBS56rNhz3vPg0aJpTE/H0\u002B5bDfh1Asix7D6oTcuGHoqc\u002B2L6LX4AG6yK1gIQKDOAemfxcr3aYgZlxMCdx40kXrcXz[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-185ff969-1bc3-a4d6-f545-21c5abce5455/test-directory-21c9522c-5882-a0ce-86a5-d0245e10a953/test-file-4bbb0447-5f86-06ee-6ee4-f2d16b122e50?comp=rangelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D8BE4CF933A1F3\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:41:48 GMT",
        "x-ms-content-length": "1048576",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CRanges\u003E\u003CRange\u003E\u003CStart\u003E1024\u003C/Start\u003E\u003CEnd\u003E2047\u003C/End\u003E\u003C/Range\u003E\u003C/Ranges\u003E"
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-185ff969-1bc3-a4d6-f545-21c5abce5455?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2060470445",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}