{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-82578e0b-aa33-eaa4-0b9d-f6e21b9d2c28?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CF97216C2\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:41:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-82578e0b-aa33-eaa4-0b9d-f6e21b9d2c28/test-directory-a0dbc898-b386-d497-3f42-66a43242e711?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CF97EC268\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:41:48 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:41:48.5551208Z",
        "x-ms-file-creation-time": "2021-01-21T20:41:48.5551208Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:41:48.5551208Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-82578e0b-aa33-eaa4-0b9d-f6e21b9d2c28/test-directory-a0dbc898-b386-d497-3f42-66a43242e711/test-file-a265604a-6aa0-861e-ad1a-2e46b69f119b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CF9894BA1\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:41:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:41:48.6241697Z",
        "x-ms-file-creation-time": "2021-01-21T20:41:48.6241697Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:41:48.6241697Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-82578e0b-aa33-eaa4-0b9d-f6e21b9d2c28/test-directory-a0dbc898-b386-d497-3f42-66a43242e711/test-file-a265604a-6aa0-861e-ad1a-2e46b69f119b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:48 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "Dz6DlD3HaJ1s1yHxSZdNXMdKUJryrV3u7GnwNB7wBM8kD3j6zb6nLbMP9mY3\u002B5769jE7P2DuH2HhlKjT1zN/e9NRzDkeUo4JoyLn4rf2t/DK9j7ttcVvNvAXGTgV01Z/kHqT5i5k26OiMZw9Bj2p6t23CeH0ksYO4ZZJBzlV88/MaFE9Y9DCZhqbSoMpMi\u002BzbS5bXsp1iv6zhQSXGtNpTD3McZ7rbIcM9KLGWUdC5K9nlpoL\u002BpUFVt1Sid7MK0tGMf1FXMGQxwCmTmknrjC2caBUL4Q5XlGoxhrBmeOpQMlXgChK/Ifu18\u002BZZKwr3qismxg9d/vGDNKrnZWmzi4d/Q2gzy4IbHQYZli1oPqkfehyFf3La8nOkHNVn1/yRwigfGefiw55oy\u002BkJRGjEWzYBiCsNLkwUpFE0j66s80UJh9PFCSSBf[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-82578e0b-aa33-eaa4-0b9d-f6e21b9d2c28?restype=share\u0026comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CF97216C2\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:41:48 GMT",
        "x-ms-snapshot": "2021-01-21T20:41:49.0000000Z",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-82578e0b-aa33-eaa4-0b9d-f6e21b9d2c28/test-directory-a0dbc898-b386-d497-3f42-66a43242e711/test-file-a265604a-6aa0-861e-ad1a-2e46b69f119b?comp=rangelist\u0026sharesnapshot=2021-01-21T20%3A41%3A49.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D8BE4CF992EA4F\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:41:48 GMT",
        "x-ms-content-length": "1048576",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CRanges\u003E\u003CRange\u003E\u003CStart\u003E1024\u003C/Start\u003E\u003CEnd\u003E2047\u003C/End\u003E\u003C/Range\u003E\u003C/Ranges\u003E"
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-82578e0b-aa33-eaa4-0b9d-f6e21b9d2c28?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "782846902",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}