{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9494b4ee-2117-70d6-f45e-b1c81a6a361d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:34 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5e5037c2-2e8c-524b-8fb7-f1eefbfb3944?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:11 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:33 GMT",
        "ETag": "\u00220x8D77939373CD7F6\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:34 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:10 GMT",
        "ETag": "\u00220x8D779E308FE404E\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:11 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "31003882-680b-98d5-0ab4-df32554b6ff4",
        "x-ms-request-id": "011a03c2-f01a-0002-2022-ab2c83000000",
=======
        "x-ms-client-request-id": "9e7fe77c-59d6-ac45-a54b-3374893c5de1",
        "x-ms-request-id": "4376e500-b01a-003c-56cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9494b4ee-2117-70d6-f45e-b1c81a6a361d/test-directory-6543da84-f985-9877-4454-eb15bfd1d268?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:34 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5e5037c2-2e8c-524b-8fb7-f1eefbfb3944/test-directory-995a41d5-388f-0880-3764-118c6b34c953?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:11 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:33 GMT",
        "ETag": "\u00220x8D77939374BA3BA\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:34 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:10 GMT",
        "ETag": "\u00220x8D779E3090C3DE5\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:11 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "4741e1a3-33e1-441f-6776-667248b94070",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:11:34.4015290Z",
        "x-ms-file-creation-time": "2019-12-05T04:11:34.4015290Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:11:34.4015290Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "011a03c5-f01a-0002-2222-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:27:11.2548837Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:11.2548837Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:11.2548837Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e502-b01a-003c-57cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9494b4ee-2117-70d6-f45e-b1c81a6a361d/test-directory-6543da84-f985-9877-4454-eb15bfd1d268/test-file-e88776e2-8e05-808b-c89b-29b0ad262107?comp=rangelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:34 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5e5037c2-2e8c-524b-8fb7-f1eefbfb3944/test-directory-995a41d5-388f-0880-3764-118c6b34c953/test-file-4689e081-49ca-3a65-d3df-28e1a92c82ad?comp=rangelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:11 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-range": "bytes=0-1048575",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:33 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:11 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "a6d11d6d-1b00-5946-7b07-73020a3e9a3a",
        "x-ms-error-code": "ResourceNotFound",
<<<<<<< HEAD
        "x-ms-request-id": "011a03c7-f01a-0002-2422-ab2c83000000",
=======
        "x-ms-request-id": "4376e503-b01a-003c-58cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified resource does not exist.\n",
<<<<<<< HEAD
        "RequestId:011a03c7-f01a-0002-2422-ab2c83000000\n",
        "Time:2019-12-05T04:11:34.4835666Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5e5037c2-2e8c-524b-8fb7-f1eefbfb3944?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:11 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:33 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:11 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "99b4ad6f-21b9-6852-367e-6f511372389f",
        "x-ms-request-id": "011a03ca-f01a-0002-2722-ab2c83000000",
=======
        "x-ms-client-request-id": "8c7371ab-dc5a-e5ac-b98f-0eec0f6eace4",
        "x-ms-request-id": "4376e505-b01a-003c-5acb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "445418994",
=======
    "RandomSeed": "660966022",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}