{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-17cdfd9c-cea5-b39d-0b6d-907e63276d55?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C98B26DC3\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-17cdfd9c-cea5-b39d-0b6d-907e63276d55/test-directory-df1baf10-f5bb-3911-0be4-6921e2095e3c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C98BD2B16\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:06 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:39:06.2251286Z",
        "x-ms-file-creation-time": "2021-01-21T20:39:06.2251286Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:39:06.2251286Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-17cdfd9c-cea5-b39d-0b6d-907e63276d55/test-directory-df1baf10-f5bb-3911-0be4-6921e2095e3c/test-file-70a71710-d307-e4c5-07d0-faf008962ace",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C98C877BC\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:39:06.2991804Z",
        "x-ms-file-creation-time": "2021-01-21T20:39:06.2991804Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:39:06.2991804Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-17cdfd9c-cea5-b39d-0b6d-907e63276d55/test-directory-df1baf10-f5bb-3911-0be4-6921e2095e3c/test-file-70a71710-d307-e4c5-07d0-faf008962ace?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:06 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "S2c3hE3le1eOGvuC88HtKFNtPx4rMzmuMMZN6BqmB7WLvbiPp/g/ym4TaHvnlk8lsHaOGIDb9xctiVOHmJM86BJF9zYIXoBbLXWvF8u\u002Bxpp2JzekGO81r8ahYR6luDLb14Boop4ZHFH1M\u002BoLK99MbsK4EHBbl9AiEEhwZ/1htXVC1EBLVST8XQrlruQFKYPmVPJb7KjBfz\u002BvRpFWqLVUlH11yFeeARmevLJldejrHebEiRIKBcnNgVQBmw\u002BSpbRVkRpmj2EsR1PZvS/1WwlWxCiqkh\u002BiSo60qEcCnWYJCxb\u002BEOTOhY2Fl0G/MEiZ2CVLqtbm6BOVs0aMsucaKars0LIY9ksliD6aJfrd4hlGGtAit/KPIyMDaVydQdOmam2X0mCVgeHZJSKYS8IZt9AtRpcX\u002BHK3Xa2PFY3vh0Zr[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-17cdfd9c-cea5-b39d-0b6d-907e63276d55/test-directory-df1baf10-f5bb-3911-0be4-6921e2095e3c/test-file-70a71710-d307-e4c5-07d0-faf008962ace?comp=rangelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D8BE4C98D23D84\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:06 GMT",
        "x-ms-content-length": "1048576",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CRanges\u003E\u003CRange\u003E\u003CStart\u003E1024\u003C/Start\u003E\u003CEnd\u003E2047\u003C/End\u003E\u003C/Range\u003E\u003C/Ranges\u003E"
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-17cdfd9c-cea5-b39d-0b6d-907e63276d55?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1823174988",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}