{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-456c8138-187a-f207-6801-a6931d40b639?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Jun 2021 19:11:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D930FA9546D9E7\u0022",
        "Last-Modified": "Wed, 16 Jun 2021 19:11:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-456c8138-187a-f207-6801-a6931d40b639/test-directory-b5549a45-c8b8-590d-8253-04deba08d153?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Jun 2021 19:11:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D930FA95529D78\u0022",
        "Last-Modified": "Wed, 16 Jun 2021 19:11:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-06-16T19:11:45.4812536Z",
        "x-ms-file-creation-time": "2021-06-16T19:11:45.4812536Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-06-16T19:11:45.4812536Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-456c8138-187a-f207-6801-a6931d40b639/test-directory-b5549a45-c8b8-590d-8253-04deba08d153/test-file-1e78052a-40ea-28c6-4c80-141a3516d382",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 16 Jun 2021 19:11:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D930FA955DC314\u0022",
        "Last-Modified": "Wed, 16 Jun 2021 19:11:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-06-16T19:11:45.5543060Z",
        "x-ms-file-creation-time": "2021-06-16T19:11:45.5543060Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-06-16T19:11:45.5543060Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-456c8138-187a-f207-6801-a6931d40b639/test-directory-b5549a45-c8b8-590d-8253-04deba08d153/test-file-1e78052a-40ea-28c6-4c80-141a3516d382?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Jun 2021 19:11:45 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "5ZPiIWFPRt5yt02ROlEhlw3kHzdIUvs4Z36xvxFREFxVl5Bz0lDOq7fuDdAwR1RQbqIyzFTMJZKYqbrjnobNIabxPKPBrsS8FXOAWkUqCB8pYVBvHkMHiXH92imW6w0xIewpPgqxjsDddbfhTMtNbaGauTw1XgJi6bMyw9ObJillTjlYAckUeNKQkaiMJj2lsGyH/DLQ\u002B8Pqx1VXf8vsQU\u002BOe/2S9GzYhUFqpcxZ1sN2jBJmEyr3lVN2bjlzvfgGo09Z/qo/E7wAr3fwZlb2kPGR4fK5hS0lluapHIUyZMhIYwF8ANgZNnlVZmSyBi78f95I4tsFTR4hM2fDlfY3zUuvpwJVeZAZeKt5Yx/JcpC4rJyn6oLsQxbiW8xwVaCCHpkYA18rpwZNL2kwjOn/WMHWC\u002BhZj\u002BPJwmTsch7EqCIK9kSGsG4xjAW[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-456c8138-187a-f207-6801-a6931d40b639?restype=share\u0026comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Jun 2021 19:11:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D930FA9546D9E7\u0022",
        "Last-Modified": "Wed, 16 Jun 2021 19:11:45 GMT",
        "x-ms-snapshot": "2021-06-16T19:11:45.0000000Z",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-456c8138-187a-f207-6801-a6931d40b639/test-directory-b5549a45-c8b8-590d-8253-04deba08d153/test-file-1e78052a-40ea-28c6-4c80-141a3516d382?comp=rangelist\u0026sharesnapshot=2021-06-16T19%3A11%3A45.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Jun 2021 19:11:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D930FA9568E8AC\u0022",
        "Last-Modified": "Wed, 16 Jun 2021 19:11:45 GMT",
        "x-ms-content-length": "1048576",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CRanges\u003E\u003CRange\u003E\u003CStart\u003E1024\u003C/Start\u003E\u003CEnd\u003E2047\u003C/End\u003E\u003C/Range\u003E\u003C/Ranges\u003E"
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-456c8138-187a-f207-6801-a6931d40b639?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Jun 2021 19:11:45 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1002407826",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}