{
  "Entries": [
    {
      "RequestUri": "https://oauthfilerest5.file.core.windows.net/test-share-87e64a81-0657-57c6-3491-01e228d47af6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA70C25F14C434\u0022",
        "Last-Modified": "Thu, 28 Jul 2022 17:55:34 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://oauthfilerest5.file.core.windows.net/test-share-87e64a81-0657-57c6-3491-01e228d47af6/test-directory-dda207ec-16b1-9442-8a5c-1307e91067a9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA70C25F27C49D\u0022",
        "Last-Modified": "Thu, 28 Jul 2022 17:55:34 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-07-28T17:55:34.8754589Z",
        "x-ms-file-creation-time": "2022-07-28T17:55:34.8754589Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-28T17:55:34.8754589Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13845701464110498980*12177440975642301229",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://oauthfilerest5.file.core.windows.net/test-share-87e64a81-0657-57c6-3491-01e228d47af6/test-directory-dda207ec-16b1-9442-8a5c-1307e91067a9/test-file-48c41f56-60d1-5a81-f70d-84dbc7e06f81",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA70C25F3CF72B\u0022",
        "Last-Modified": "Thu, 28 Jul 2022 17:55:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-28T17:55:35.0143787Z",
        "x-ms-file-creation-time": "2022-07-28T17:55:35.0143787Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-07-28T17:55:35.0143787Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "26491967737166755*12177440975642301229",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://oauthfilerest5.file.core.windows.net/test-share-87e64a81-0657-57c6-3491-01e228d47af6/test-directory-dda207ec-16b1-9442-8a5c-1307e91067a9/test-file-48c41f56-60d1-5a81-f70d-84dbc7e06f81?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2021-10-04",
        "x-ms-write": "update"
      },
      "RequestBody": "idwgZBJxGthdkvrMCzMmcrZxDNrUaj7BccLB2Yvn9SlobMRXZPEAXdEzp7Gum2afR38jyxjBEh6dX/NPr0FNdZzQY55uzw7Fca4IocKNEtVbIpIMxCoRp1qmuQX\u002BsK2Q5TIU3jfHMHhwXllpuHFcEE0d9I2vQbFyv7xEyBUJx8EBeLuQeDSek/IZm2bRp\u002B/pSai34Lsg4aSAoh57gmdjZ5aYaEC1y5gZf2GblaVLoRjMW35sUeYF4JYXD9YVIhCKtjPPOD6vM34QnmBahEz\u002BNQEGryfo9hawkoipnrvBA11QEN5ye2jZHScAW7KGqltKGNrVDnPpor8dH6W2BZXCT5oDCnRtjLmYLJL/55tjKegsX4Xh7PTpZ24eVVzCIxeSPgwXgqDn3IwgPOLh6rokufW9iqYP4GKmGaIGTzdd1gl6bKmOS6dHRIP5wK8S[...]
    {
      "RequestUri": "https://oauthfilerest5.file.core.windows.net/test-share-87e64a81-0657-57c6-3491-01e228d47af6?restype=share\u0026comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA70C25F14C434\u0022",
        "Last-Modified": "Thu, 28 Jul 2022 17:55:34 GMT",
        "x-ms-snapshot": "2022-07-28T17:55:35.0000000Z",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://oauthfilerest5.file.core.windows.net/test-share-87e64a81-0657-57c6-3491-01e228d47af6/test-directory-dda207ec-16b1-9442-8a5c-1307e91067a9/test-file-48c41f56-60d1-5a81-f70d-84dbc7e06f81?comp=rangelist\u0026sharesnapshot=2022-07-28T17%3A55%3A36.0000000Z\u0026prevsharesnapshot=2022-07-28T17%3A55%3A35.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DA70C25F64769E\u0022",
        "Last-Modified": "Thu, 28 Jul 2022 17:55:35 GMT",
        "x-ms-content-length": "1048576",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CRanges\u003E\u003CClearRange\u003E\u003CStart\u003E0\u003C/Start\u003E\u003CEnd\u003E511\u003C/End\u003E\u003C/ClearRange\u003E\u003CRange\u003E\u003CStart\u003E3072\u003C/Start\u003E\u003CEnd\u003E4095\u003C/End\u003E\u003C/Range\u003E\u003C/Ranges\u003E"
    },
    {
      "RequestUri": "https://oauthfilerest5.file.core.windows.net/test-share-87e64a81-0657-57c6-3491-01e228d47af6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "412148128",
    "Storage_TestConfigOAuth": "OAuthTenant\noauthfilerest5\nU2FuaXRpemVk\nhttps://oauthfilerest5.blob.core.windows.net\nhttps://oauthfilerest5.file.core.windows.net\nhttps://oauthfilerest5.queue.core.windows.net\nhttps://oauthfilerest5.table.core.windows.net\n\n\n\n\nhttps://oauthfilerest5-secondary.blob.core.windows.net\nhttps://oauthfilerest5-secondary.file.core.windows.net\nhttps://oauthfilerest5-secondary.queue.core.windows.net\nhttps://oauthfilerest5-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://oauthfilerest5.blob.core.windows.net/;QueueEndpoint=https://oauthfilerest5.queue.core.windows.net/;FileEndpoint=https://oauthfilerest5.file.core.windows.net/;BlobSecondaryEndpoint=https://oauthfilerest5-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://oauthfilerest5-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://oauthfilerest5-secondary.file.core.windows.net/;AccountName=oauthfilerest5;AccountKey=Sanitized\n\njaschrep\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
