{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-a9daa292-8626-4059-fd38-24cc282d84cc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-6d608de5799c6a47a060d89468bcd70f-5be7251ab6359a42-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "c11c111d-9767-4f63-e5b4-02fbf11e3525",
        "x-ms-date": "Wed, 04 Dec 2019 05:13:43 GMT",
=======
        "traceparent": "00-091815a81e4db143b48d87cd43923a59-999b55bccdce284e-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "c11c111d-9767-4f63-e5b4-02fbf11e3525",
        "x-ms-date": "Wed, 04 Dec 2019 19:46:40 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:13:43 GMT",
        "ETag": "\u00220x8D77878BBB37051\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:13:43 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:46:39 GMT",
        "ETag": "\u00220x8D778F2AEE13198\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:46:40 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "c11c111d-9767-4f63-e5b4-02fbf11e3525",
<<<<<<< HEAD
        "x-ms-request-id": "b5591747-301a-000d-3c61-aa5aef000000",
=======
        "x-ms-request-id": "46203048-801a-0018-11db-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-a9daa292-8626-4059-fd38-24cc282d84cc/test-directory-aa6b005b-c695-0535-cac8-e59426bb5ef2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-4d4b320528940f4c8f02c809a88f93f3-c1041f178fb2574a-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "e143395c-d7a0-56d1-db17-f69eb2ce282a",
        "x-ms-date": "Wed, 04 Dec 2019 05:13:43 GMT",
=======
        "traceparent": "00-c5d89ca6074b4c478063f5d484e7c99a-13722ec1aae1cb43-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "e143395c-d7a0-56d1-db17-f69eb2ce282a",
        "x-ms-date": "Wed, 04 Dec 2019 19:46:40 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:13:43 GMT",
        "ETag": "\u00220x8D77878BBC0CD59\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:13:43 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:46:40 GMT",
        "ETag": "\u00220x8D778F2AEEFDA97\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:46:40 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "e143395c-d7a0-56d1-db17-f69eb2ce282a",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T05:13:43.7598041Z",
        "x-ms-file-creation-time": "2019-12-04T05:13:43.7598041Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T05:13:43.7598041Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "b559174a-301a-000d-3e61-aa5aef000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:46:40.8587927Z",
        "x-ms-file-creation-time": "2019-12-04T19:46:40.8587927Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:46:40.8587927Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4620304a-801a-0018-12db-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-a9daa292-8626-4059-fd38-24cc282d84cc/test-directory-aa6b005b-c695-0535-cac8-e59426bb5ef2/test-file-33450f55-1e6e-9814-9be5-7457a8f27aed",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-bfc9a3dc77f71f438adf129c541f3792-5480686cef024641-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
=======
        "traceparent": "00-75527cc13d5fdb4aa85e9a9e8d7e1916-32a19bc5471e464f-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "7bedf316-ec97-3d37-24aa-45ba627aaee9",
        "x-ms-content-length": "1048576",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 05:13:43 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:46:40 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:13:43 GMT",
        "ETag": "\u00220x8D77878BBCE649B\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:13:43 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:46:40 GMT",
        "ETag": "\u00220x8D778F2AEFD9625\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:46:40 GMT",
>>>>>>> feature/storage/stg71-bas[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-a9daa292-8626-4059-fd38-24cc282d84cc/test-directory-aa6b005b-c695-0535-cac8-e59426bb5ef2/test-file-33450f55-1e6e-9814-9be5-7457a8f27aed?comp=listhandles",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "b5400d13-fe04-bb56-07fa-c8cd37977b71",
        "x-ms-date": "Wed, 04 Dec 2019 05:13:43 GMT",
=======
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "b5400d13-fe04-bb56-07fa-c8cd37977b71",
        "x-ms-date": "Wed, 04 Dec 2019 19:46:41 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Content-Type": "application/xml",
        "Date": "Wed, 04 Dec 2019 05:13:43 GMT",
=======
        "Access-Control-Allow-Origin": "*",
        "Content-Type": "application/xml",
        "Date": "Wed, 04 Dec 2019 19:46:40 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "Transfer-Encoding": "chunked",
        "Vary": "Origin",
        "x-ms-client-request-id": "b5400d13-fe04-bb56-07fa-c8cd37977b71",
<<<<<<< HEAD
        "x-ms-request-id": "b559174c-301a-000d-4061-aa5aef000000",
=======
        "x-ms-request-id": "4620304c-801a-0018-14db-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults\u003E\u003CEntries /\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-a9daa292-8626-4059-fd38-24cc282d84cc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-f5093eb25c11ff45b994a403a5769603-170b403f2cf8a640-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "55a76fdd-f839-9ee4-b23b-6c9a71e4a026",
        "x-ms-date": "Wed, 04 Dec 2019 05:13:44 GMT",
=======
        "traceparent": "00-d12535b414800749ad8a65ebfab72195-68e79625c6bd944d-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "55a76fdd-f839-9ee4-b23b-6c9a71e4a026",
        "x-ms-date": "Wed, 04 Dec 2019 19:46:41 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:13:43 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:46:40 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "55a76fdd-f839-9ee4-b23b-6c9a71e4a026",
<<<<<<< HEAD
        "x-ms-request-id": "b5591750-301a-000d-4461-aa5aef000000",
=======
        "x-ms-request-id": "4620304e-801a-0018-15db-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "232667860",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}