{
  "Entries": [
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-7949d6bd-b8c3-912c-a0ea-afcb392ff1fc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Nov 2022 02:48:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD27D6A6C73E3\u0022",
        "Last-Modified": "Wed, 30 Nov 2022 02:48:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-7949d6bd-b8c3-912c-a0ea-afcb392ff1fc/test-directory-8fdafaa9-50bd-cbaf-a547-4632cd6018eb?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD27D6A814452\u0022",
        "Last-Modified": "Wed, 30 Nov 2022 02:48:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-11-30T02:48:52.5947986Z",
        "x-ms-file-creation-time": "2022-11-30T02:48:52.5947986Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-11-30T02:48:52.5947986Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8792472798472242479*1359530181238362790",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-7949d6bd-b8c3-912c-a0ea-afcb392ff1fc/test-directory-8fdafaa9-50bd-cbaf-a547-4632cd6018eb/test-file-8889e37a-bdac-3a73-c562-c3f1b1c0a762",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD27D6A8A43A9\u0022",
        "Last-Modified": "Wed, 30 Nov 2022 02:48:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-11-30T02:48:52.6537641Z",
        "x-ms-file-creation-time": "2022-11-30T02:48:52.6537641Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-11-30T02:48:52.6537641Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13438439191449926184*1359530181238362790",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-7949d6bd-b8c3-912c-a0ea-afcb392ff1fc/test-directory-8fdafaa9-50bd-cbaf-a547-4632cd6018eb/test-file-8889e37a-bdac-3a73-c562-c3f1b1c0a762?comp=listhandles",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults\u003E\u003CEntries /\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-7949d6bd-b8c3-912c-a0ea-afcb392ff1fc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Nov 2022 02:48:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "725458269",
    "Storage_TestConfigOAuth": "OAuthTenant\nsdkfileoauthsa\nU2FuaXRpemVk\nhttps://sdkfileoauthsa.blob.core.windows.net\nhttps://sdkfileoauthsa.file.core.windows.net\nhttps://sdkfileoauthsa.queue.core.windows.net\nhttps://sdkfileoauthsa.table.core.windows.net\n\n\n\n\nhttps://sdkfileoauthsa-secondary.blob.core.windows.net\nhttps://sdkfileoauthsa-secondary.file.core.windows.net\nhttps://sdkfileoauthsa-secondary.queue.core.windows.net\nhttps://sdkfileoauthsa-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://sdkfileoauthsa.blob.core.windows.net/;QueueEndpoint=https://sdkfileoauthsa.queue.core.windows.net/;FileEndpoint=https://sdkfileoauthsa.file.core.windows.net/;BlobSecondaryEndpoint=https://sdkfileoauthsa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://sdkfileoauthsa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://sdkfileoauthsa-secondary.file.core.windows.net/;AccountName=sdkfileoauthsa;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
