{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-60168be5-a6c0-456c-c9e9-d9595d88d5c6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230F8E0EF6C\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:26 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-60168be5-a6c0-456c-c9e9-d9595d88d5c6/test-directory-27457bfc-dfc2-765d-aa6d-37eb3e7b6653?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:27 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230F8EF0C00\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-26T19:31:26.3559680Z",
        "x-ms-file-creation-time": "2021-01-26T19:31:26.3559680Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-26T19:31:26.3559680Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-60168be5-a6c0-456c-c9e9-d9595d88d5c6/test-directory-27457bfc-dfc2-765d-aa6d-37eb3e7b6653/test-file-fcbdda78-7627-6f15-dd3b-d3cea33c59ce",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:27 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230F8FDDBC0\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:31:26.4530368Z",
        "x-ms-file-creation-time": "2021-01-26T19:31:26.4530368Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:31:26.4530368Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-60168be5-a6c0-456c-c9e9-d9595d88d5c6/test-directory-27457bfc-dfc2-765d-aa6d-37eb3e7b6653/test-file-fcbdda78-7627-6f15-dd3b-d3cea33c59ce?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-write": "update"
      },
      "RequestBody": "JAFWOVZWTSN7OyidPDhdApTMBymGAiL/E1M2\u002BIal56e/gv8XUZ8UjcfQ5/W55Ncsr0/FVU87mSHfVyYCH1Wd1lOA3bk4RbD0uHphthssRi98Ckg235JXhOneN/l5EW5yMxGiOAYd82qf0Z3V2eMGsxH2hhQMZvbBKVnQWg22eqYM7oIJiQ0pXhfelg70gqoF14Tog4tZZcwb4Q6sTZlc6Vf3yetg/CkDzCf8Ls/ozKauyoKJzvYasoi27qj\u002BfBB\u002Bga22/bi/pdta5LZjXDb8MhVo/oMW0hpg3Bdiqg6ABVAWfqwiMc7u7iWnLupAt1VSubuTln2NZ66SViGhXfrM2t9mTN6K2gFGeRBeb6QwICXBEPFS7W7SiRb9j9usTJEq2lQK2Wp3x966TB1tLvgKYTX8300JeuxwlMPHjEslmSx/NJRPJUe6SkgSmKBR[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-60168be5-a6c0-456c-c9e9-d9595d88d5c6/test-directory-27457bfc-dfc2-765d-aa6d-37eb3e7b6653/test-file-fcbdda78-7627-6f15-dd3b-d3cea33c59ce",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C230F907C8A5\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:31:26.5180837Z",
        "x-ms-file-creation-time": "2021-01-26T19:31:26.4530368Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:31:26.5180837Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-60168be5-a6c0-456c-c9e9-d9595d88d5c6/test-directory-27457bfc-dfc2-765d-aa6d-37eb3e7b6653/test-file-fcbdda78-7627-6f15-dd3b-d3cea33c59ce",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:27 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-range-get-content-md5": "false"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C230F907C8A5\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:31:26.5180837Z",
        "x-ms-file-creation-time": "2021-01-26T19:31:26.4530368Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:31:26.5180837Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-60168be5-a6c0-456c-c9e9-d9595d88d5c6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:27 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1140870096",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}