{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e5360cf1-977f-28aa-9c1c-79671ec65df1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:11 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D966654CC55174\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:11 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e5360cf1-977f-28aa-9c1c-79671ec65df1/test-directory-6eb68c83-2b68-5c2d-8f54-250135812f7b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D966654CD0ECA8\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-08-23T18:39:11.6126376Z",
        "x-ms-file-creation-time": "2021-08-23T18:39:11.6126376Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-08-23T18:39:11.6126376Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e5360cf1-977f-28aa-9c1c-79671ec65df1/test-directory-6eb68c83-2b68-5c2d-8f54-250135812f7b/test-file-4ed00c98-7bf2-2342-2d72-5155bba401f0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D966654CDA6127\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:39:11.6746023Z",
        "x-ms-file-creation-time": "2021-08-23T18:39:11.6746023Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:39:11.6746023Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e5360cf1-977f-28aa-9c1c-79671ec65df1/test-directory-6eb68c83-2b68-5c2d-8f54-250135812f7b/test-file-4ed00c98-7bf2-2342-2d72-5155bba401f0?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:11 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02",
        "x-ms-write": "update"
      },
      "RequestBody": "9MDTWcBeKKBERAKRbj8FxTAypHHcwxEPt92WgvjzmgQfbPiX9ssy/ZsFJybMG8Dt7iUkpMJGczGvxKLjyKWnUan\u002BcQJHbc9k/6bV15zrQpscqJPTzvVB2fjH5zEpTzX2XtV8zqm\u002BpoBVv6QccJyUw4EGxiAR04K0vZcJgIadO7Bx33nGbnTyXgETfg9QJWlcMiOwIokV5IpTyBERtCb6uIT0qpEjzlQNFGge/lRzZJcurU1i7RgmW/ruc6Zi4KnbGMaLW3rXOGPOow4g9\u002BY132R54wbYl8trzk\u002BWNVuuqjO\u002BQuWO6AgdVnXqk0kKBWQUuJNC6f2jA4D6H40qQQMIIPjaYrUApvZbW4yR7gSBYMjrgnzHa8A2Gz5klMh78hVx4XJQL6OvExGc541xERV8eb7FP76GQbU4pEd2nBIu4Gh2HwyRMD[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e5360cf1-977f-28aa-9c1c-79671ec65df1/test-directory-6eb68c83-2b68-5c2d-8f54-250135812f7b/test-file-4ed00c98-7bf2-2342-2d72-5155bba401f0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:11 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D966654CE3D5A7\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:39:11.6746023Z",
        "x-ms-file-creation-time": "2021-08-23T18:39:11.6746023Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:39:11.6746023Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e5360cf1-977f-28aa-9c1c-79671ec65df1/test-directory-6eb68c83-2b68-5c2d-8f54-250135812f7b/test-file-4ed00c98-7bf2-2342-2d72-5155bba401f0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:11 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D966654CE3D5A7\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:39:11.6746023Z",
        "x-ms-file-creation-time": "2021-08-23T18:39:11.6746023Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:39:11.6746023Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e5360cf1-977f-28aa-9c1c-79671ec65df1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:11 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "88371386",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}