{
  "Entries": [
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-aa8a7289-14a6-4be5-76a4-a8c0bcf36cbf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:16:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8503DDFA225D7\u0022",
        "Last-Modified": "Thu, 03 Sep 2020 19:16:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-aa8a7289-14a6-4be5-76a4-a8c0bcf36cbf/test-directory-2da278ed-22c1-d88b-8748-993db52d6c78?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:16:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8503DE0D8644D\u0022",
        "Last-Modified": "Thu, 03 Sep 2020 19:16:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-09-03T19:16:36.8430157Z",
        "x-ms-file-creation-time": "2020-09-03T19:16:36.8430157Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-09-03T19:16:36.8430157Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17913408918638655783*10394889115079208622",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-aa8a7289-14a6-4be5-76a4-a8c0bcf36cbf/test-directory-2da278ed-22c1-d88b-8748-993db52d6c78/test-file-03990a12-d0e6-b228-2f41-54751449881d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 03 Sep 2020 19:16:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8503DE0F5DE87\u0022",
        "Last-Modified": "Thu, 03 Sep 2020 19:16:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-09-03T19:16:37.0361991Z",
        "x-ms-file-creation-time": "2020-09-03T19:16:37.0361991Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-09-03T19:16:37.0361991Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4099112195243312672*10394889115079208622",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-aa8a7289-14a6-4be5-76a4-a8c0bcf36cbf/test-directory-2da278ed-22c1-d88b-8748-993db52d6c78/test-file-03990a12-d0e6-b228-2f41-54751449881d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:16:37 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "Wg3JZVh86PIf\u002BX175cyseDxqufdiBR2rt3OfVA86wEccXWQdRabWB9XYR2HonC/8tnLhfq4xfVTwHq7l3ZPj5Dk1XohojzOVk7Ihir67whpEop6dWEKZ6\u002BAPLSb48SlB9WIosz2mlCc\u002BTOr8D/KWNFyToDr1RYz3nHOoWGEMnKGI4JVckw/dnQ13XwxXnNvtefjKZVDuTK/VMBbK/jzFMq9Jcy9dOaBNtgMtfuZ/oP\u002BXu99pQjdQmZTlhmL4Ep/RsSxcDSisj0BYfa9Nwc3JVZAWMkNdXO94\u002BNqbeLI9VKNkXMy5I5LW6yueEMWIA9fGGzDS4eBbdFU95BVOEReNGigL6WUAEDL\u002BP0cYvksq7/UC1FyBa3LDCOd2fD58iNkTEfWcfBlyxQv91KGYQ7UKEvUgSzy7C6\u002B1SOF9ipT0[...]
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-aa8a7289-14a6-4be5-76a4-a8c0bcf36cbf/test-directory-2da278ed-22c1-d88b-8748-993db52d6c78/test-file-03990a12-d0e6-b228-2f41-54751449881d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:16:37 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8503DE110C010\u0022",
        "Last-Modified": "Thu, 03 Sep 2020 19:16:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-09-03T19:16:37.0361991Z",
        "x-ms-file-creation-time": "2020-09-03T19:16:37.0361991Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-09-03T19:16:37.0361991Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4099112195243312672*10394889115079208622",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-aa8a7289-14a6-4be5-76a4-a8c0bcf36cbf/test-directory-2da278ed-22c1-d88b-8748-993db52d6c78/test-file-03990a12-d0e6-b228-2f41-54751449881d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:16:37 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8503DE110C010\u0022",
        "Last-Modified": "Thu, 03 Sep 2020 19:16:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-09-03T19:16:37.0361991Z",
        "x-ms-file-creation-time": "2020-09-03T19:16:37.0361991Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-09-03T19:16:37.0361991Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4099112195243312672*10394889115079208622",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "3ytjxhaM369ygz6Z6RDDpX5NxIrPhtAGcvsxZNkLNecktCY/msCMah76qwcPM31Sb8zYM9nxrFhbXVMbWnvWZ05WdDTqhAq\u002BwFls1dvI9j993/UNMgIOMwfN5D1scBCiJEO5ub5IaOrBGXJ/hNd9kmcUnnuFyTRLSEEsHKDNUlA="
    },
[...]
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-aa8a7289-14a6-4be5-76a4-a8c0bcf36cbf?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:16:37 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1417687179",
    "Storage_TestConfigDefault": "ProductionTenant\nemilydevtest\nU2FuaXRpemVk\nhttp://emilydevtest.blob.core.windows.net\nhttp://emilydevtest.file.core.windows.net\nhttp://emilydevtest.queue.core.windows.net\nhttp://emilydevtest.table.core.windows.net\n\n\n\n\nhttp://emilydevtest-secondary.blob.core.windows.net\nhttp://emilydevtest-secondary.file.core.windows.net\nhttp://emilydevtest-secondary.queue.core.windows.net\nhttp://emilydevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://emilydevtest.blob.core.windows.net/;QueueEndpoint=http://emilydevtest.queue.core.windows.net/;FileEndpoint=http://emilydevtest.file.core.windows.net/;BlobSecondaryEndpoint=http://emilydevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://emilydevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://emilydevtest-secondary.file.core.windows.net/;AccountName=emilydevtest;AccountKey=Kg==;\nencryptionScope"
  }
}