{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-93ff8109-f581-2236-53b4-41f97951da46?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:27:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D874544E025730\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:27:50 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-93ff8109-f581-2236-53b4-41f97951da46/test-directory-5d2c76b8-2027-0d0b-4e8e-414c960db80d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:27:49 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D874544E163EAF\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:27:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-10-19T17:27:50.9080751Z",
        "x-ms-file-creation-time": "2020-10-19T17:27:50.9080751Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-10-19T17:27:50.9080751Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-93ff8109-f581-2236-53b4-41f97951da46/test-directory-5d2c76b8-2027-0d0b-4e8e-414c960db80d/test-file-c3bad496-c178-dbe6-55a1-48c6eb3ccb37",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 19 Oct 2020 17:27:49 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D874544E29A2F3\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:27:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-19T17:27:51.0351603Z",
        "x-ms-file-creation-time": "2020-10-19T17:27:51.0351603Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-19T17:27:51.0351603Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-93ff8109-f581-2236-53b4-41f97951da46/test-directory-5d2c76b8-2027-0d0b-4e8e-414c960db80d/test-file-c3bad496-c178-dbe6-55a1-48c6eb3ccb37?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:27:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "Pix2n8FGQUEWa/qjzEFLTxdE\u002BySexPQlmE/KE2IIYQS3qYqVh9c7Cy8t3K2dHXePTMRAGmKoC3o4UAZxey7eDgn16yO3tshACO/1cOdGh3vYO8aex0aiD50QXDbQyo8BT86kqDJT2JX8ABJyspqS8cmLmEBnQEbCU9yFplqRbz5f9CEZot9IhGIxocY0L1wCfmptRDFPmQ\u002BH4VRVzTI7apHTEr55eU/pQhTeNp6AjSN/gyjvJCoNEFoRkcCK87Yw9Tc1YRyeiAQbgwIdcWNwB1Mw1UoJTEZmxgJjZ\u002BeOXk9drUFnSiwH4foj06Ao8J/3oYltWR1rJqjxzpsaOiEdjCWyv8MhCb0nKfRQ5nilPtVjbMZdIQQy8YeYdXuR7afZBkd7djDb1ZfMRTAoG0AwS5DFts1av2ogf808iZNBlTxMd98xKsekh5YvkNvU[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-93ff8109-f581-2236-53b4-41f97951da46/test-directory-5d2c76b8-2027-0d0b-4e8e-414c960db80d/test-file-c3bad496-c178-dbe6-55a1-48c6eb3ccb37",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:27:50 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D874544E36C4A1\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:27:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-19T17:27:51.0351603Z",
        "x-ms-file-creation-time": "2020-10-19T17:27:51.0351603Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-19T17:27:51.0351603Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-93ff8109-f581-2236-53b4-41f97951da46/test-directory-5d2c76b8-2027-0d0b-4e8e-414c960db80d/test-file-c3bad496-c178-dbe6-55a1-48c6eb3ccb37",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:27:50 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D874544E36C4A1\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:27:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-19T17:27:51.0351603Z",
        "x-ms-file-creation-time": "2020-10-19T17:27:51.0351603Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-19T17:27:51.0351603Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "Pix2n8FGQUEWa/qjzEFLTxdE\u002BySexPQlmE/KE2IIYQS3qYqVh9c7Cy8t3K2dHXePTMRAGmKoC3o4UAZxey7eDgn16yO3tshACO/1cOdGh3vYO8aex0aiD50QXDbQyo8BT86kqDJT2JX8ABJyspqS8cmLmEBnQEbCU9yFplqRbz4="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-93ff8109-f581-2236-53b4-41f97951da46?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:27:50 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1030274719",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Kg==;\nseanscope1"
  }
}