{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cc79ed56-5eb9-497b-f007-acb11f0649de?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:27:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8745450715FCC\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:27:54 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cc79ed56-5eb9-497b-f007-acb11f0649de/test-directory-7c78c8e7-c0a8-60e2-7e63-5cfd0aa8a89a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:27:53 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87454507DE574\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:27:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-10-19T17:27:54.9428084Z",
        "x-ms-file-creation-time": "2020-10-19T17:27:54.9428084Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-10-19T17:27:54.9428084Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cc79ed56-5eb9-497b-f007-acb11f0649de/test-directory-7c78c8e7-c0a8-60e2-7e63-5cfd0aa8a89a/test-file-d5f586a2-67a9-f558-53a2-b40c7f77f416",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 19 Oct 2020 17:27:53 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87454508931F4\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:27:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-19T17:27:55.0168564Z",
        "x-ms-file-creation-time": "2020-10-19T17:27:55.0168564Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-19T17:27:55.0168564Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cc79ed56-5eb9-497b-f007-acb11f0649de/test-directory-7c78c8e7-c0a8-60e2-7e63-5cfd0aa8a89a/test-file-d5f586a2-67a9-f558-53a2-b40c7f77f416?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:27:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "t6UibmBROdMz5ZV4gEGpp1j6PPa90LxgNmwVZ1yvCuarRekRs5wBb9oWpPiA7sFS9Q\u002BNjcSOPOfowjj0PNJ3hNuuzTpXmPO7\u002BcwcpivE30eqwnFNIX0iHAkCKPFkDTIHnyAc0SGG\u002Bl0b0pP3cZW7JOLwSXlgKWJei7AxVG8CV\u002ByZFQcLpw4mI8gUMU/pKqt0RwMOc8O4pna9vkZxVaXtGXqnXVyOr33UyiWxTPgTdWAEvAxr9OMo4G6QTunHtM4iJxjUQc1P5piGOamdB1p9qUjlbJmYgSSXfnzu/WCTDBVXjyXfPjOTtdZ05bs6itkTEqWg4kg1iaXzPcJQYeg48iyURnc1nmoUUbfCJJxpXPOj2\u002Bq78irMIgV/6wFxQ1TtPPKOpkRh3XQ6jJGRcmQJiuDOrYX\u002BfP8CxyNytrJpow5i1[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cc79ed56-5eb9-497b-f007-acb11f0649de/test-directory-7c78c8e7-c0a8-60e2-7e63-5cfd0aa8a89a/test-file-d5f586a2-67a9-f558-53a2-b40c7f77f416",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:27:54 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8745450947E93\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:27:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-19T17:27:55.0168564Z",
        "x-ms-file-creation-time": "2020-10-19T17:27:55.0168564Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-19T17:27:55.0168564Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cc79ed56-5eb9-497b-f007-acb11f0649de/test-directory-7c78c8e7-c0a8-60e2-7e63-5cfd0aa8a89a/test-file-d5f586a2-67a9-f558-53a2-b40c7f77f416",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:27:54 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8745450947E93\u0022",
        "Last-Modified": "Mon, 19 Oct 2020 17:27:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-19T17:27:55.0168564Z",
        "x-ms-file-creation-time": "2020-10-19T17:27:55.0168564Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-19T17:27:55.0168564Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "t6UibmBROdMz5ZV4gEGpp1j6PPa90LxgNmwVZ1yvCuarRekRs5wBb9oWpPiA7sFS9Q\u002BNjcSOPOfowjj0PNJ3hNuuzTpXmPO7\u002BcwcpivE30eqwnFNIX0iHAkCKPFkDTIHnyAc0SGG\u002Bl0b0pP3cZW7JOLwSXlgKWJei7AxVG8CV\u002Bw="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cc79ed56-5eb9-497b-f007-acb11f0649de?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Oct 2020 17:27:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1055321572",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Kg==;\nseanscope1"
  }
}