{
  "Entries": [
    {
      "RequestUri": "https://seanchangefeed.file.core.windows.net/test-share-21742cba-1ede-bf25-4890-d9a994b86d86?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:43:01 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80663FF58EA14\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 19:43:02 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanchangefeed.file.core.windows.net/test-share-21742cba-1ede-bf25-4890-d9a994b86d86/test-directory-8f392a61-f17f-c266-853d-850de639d1e3?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:43:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80663FF6763B7\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 19:43:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-06-01T19:43:02.9419959Z",
        "x-ms-file-creation-time": "2020-06-01T19:43:02.9419959Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-06-01T19:43:02.9419959Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "16139752084155814565*13195772385302791468",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanchangefeed.file.core.windows.net/test-share-21742cba-1ede-bf25-4890-d9a994b86d86/test-directory-8f392a61-f17f-c266-853d-850de639d1e3/test-file-c372f63a-634e-81eb-360a-88e776d3e2ae",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 01 Jun 2020 19:43:02 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80663FF7521D6\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 19:43:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-06-01T19:43:03.0320598Z",
        "x-ms-file-creation-time": "2020-06-01T19:43:03.0320598Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-06-01T19:43:03.0320598Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "2269855239715433890*13195772385302791468",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanchangefeed.file.core.windows.net/test-share-21742cba-1ede-bf25-4890-d9a994b86d86/test-directory-8f392a61-f17f-c266-853d-850de639d1e3/test-file-c372f63a-634e-81eb-360a-88e776d3e2ae?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:43:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "RQVNze98nwUFfkeLVrK0rQexPpavDbcBD/rem88BQazHF24IimjkUbCEvq04mYf1\u002Bd8cyFyV1DdNS770nQQ2BD2axD9DqyKeze3mKk8KyXVy6aLv5HlPMkI3uz6q77OrTrlwndVIsU28fvpvr6roQ4JIgbRiRiDES5H8DPDk9N46OtyVmiufKjhUM2Z\u002B34OYTne8YW3/SQeZq1JDS6Vd2IkcNXTOUqlWqVd7DRO6RWsOZL14J5JxOvDU/O7ZXN6T91vcYaoOyvzOZrgWgzz032XmNOfn5LD3q/qE\u002BVa6fEx46Ba33uPBAJnBqsHaW7e04B2I8yf3qxKq5LavitGlE\u002BlrnZolPACCJTROJjrvHFBCzxg5MoklgT0DDfktEXXIG5bXbr0djqQcBs3yqYXYushmbLq4bOFgRhxdIi4HVBS\u002BhQqjGK[...]
    {
      "RequestUri": "https://seanchangefeed.file.core.windows.net/test-share-21742cba-1ede-bf25-4890-d9a994b86d86/test-directory-8f392a61-f17f-c266-853d-850de639d1e3/test-file-c372f63a-634e-81eb-360a-88e776d3e2ae?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:43:02 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "7407fedc-6a98-faae-263a-b847e1aefdef",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80663FF8291C2\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 19:43:03 GMT",
        "x-ms-lease-id": "7407fedc-6a98-faae-263a-b847e1aefdef",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanchangefeed.file.core.windows.net/test-share-21742cba-1ede-bf25-4890-d9a994b86d86/test-directory-8f392a61-f17f-c266-853d-850de639d1e3/test-file-c372f63a-634e-81eb-360a-88e776d3e2ae",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:43:02 GMT",
        "x-ms-lease-id": "7407fedc-6a98-faae-263a-b847e1aefdef",
        "x-ms-range": "bytes=0-1048575",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D80663FF8291C2\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 19:43:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-06-01T19:43:03.0320598Z",
        "x-ms-file-creation-time": "2020-06-01T19:43:03.0320598Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-06-01T19:43:03.0320598Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "2269855239715433890*13195772385302791468",
        "x-ms-lease-duration": "infinite",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "RQVNze98nwUFfkeLVrK0rQexPpavDbcBD/rem88BQazHF24IimjkUbCEvq04mYf1\u002Bd8cyFyV1DdNS770nQQ2BD2axD9DqyKeze3mKk8KyXVy6aLv5HlPMkI3uz6q77OrTrlwndVIsU28fvpvr6roQ4JIgbRiRiDES5H8DPDk9N46OtyVmiufKjhUM2Z\u002B34OYTne8YW3/SQeZq1JDS6Vd2IkcNXTOUqlWqVd7DRO6RWsOZL14J5JxOvDU/O7ZXN6T91vcYaoOyvzOZrgWgzz032XmNOfn5LD3q/qE\u002BVa6fEx46Ba33uPBAJnBqsHaW7e04B2I8yf3qxKq5LavitGlE\u002BlrnZolPACCJTROJjrvHFBCzxg5Moklg[...]
    {
      "RequestUri": "https://seanchangefeed.file.core.windows.net/test-share-21742cba-1ede-bf25-4890-d9a994b86d86?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:43:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1956932711",
    "Storage_TestConfigDefault": "ProductionTenant\nseanchangefeed\nU2FuaXRpemVk\nhttps://seanchangefeed.blob.core.windows.net\nhttps://seanchangefeed.file.core.windows.net\nhttps://seanchangefeed.queue.core.windows.net\nhttps://seanchangefeed.table.core.windows.net\n\n\n\n\nhttps://seanchangefeed-secondary.blob.core.windows.net\nhttps://seanchangefeed-secondary.file.core.windows.net\nhttps://seanchangefeed-secondary.queue.core.windows.net\nhttps://seanchangefeed-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanchangefeed.blob.core.windows.net/;QueueEndpoint=https://seanchangefeed.queue.core.windows.net/;FileEndpoint=https://seanchangefeed.file.core.windows.net/;BlobSecondaryEndpoint=https://seanchangefeed-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanchangefeed-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanchangefeed-secondary.file.core.windows.net/;AccountName=seanchangefeed;AccountKey=Sanitized\nseanscope1"
  }
}