{
  "Entries": [
    {
      "RequestUri": "http://kasobolcanadacentral.file.core.windows.net/test-share-8171039b-5094-137e-0a3b-12865d2e4033?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:57:41 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F075577952D\"",
        "Last-Modified": "Mon, 24 May 2021 22:57:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.file.core.windows.net/test-share-8171039b-5094-137e-0a3b-12865d2e4033/test-directory-e44aa56d-2d77-f649-cc9b-f6872bb68bab?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:57:41 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F075586A32D\"",
        "Last-Modified": "Mon, 24 May 2021 22:57:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-05-24T22:57:40.9754925Z",
        "x-ms-file-creation-time": "2021-05-24T22:57:40.9754925Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-05-24T22:57:40.9754925Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3917056552249722909*6811422022089678740",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.file.core.windows.net/test-share-8171039b-5094-137e-0a3b-12865d2e4033/test-directory-e44aa56d-2d77-f649-cc9b-f6872bb68bab/test-file-fde7ec91-3145-654d-bd1a-c0af824709be",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 24 May 2021 22:57:41 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D91F0755943A2E\"",
        "Last-Modified": "Mon, 24 May 2021 22:57:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-05-24T22:57:41.064555Z",
        "x-ms-file-creation-time": "2021-05-24T22:57:41.064555Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-05-24T22:57:41.064555Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17737392480967489306*6811422022089678740",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.file.core.windows.net/test-share-8171039b-5094-137e-0a3b-12865d2e4033/test-directory-e44aa56d-2d77-f649-cc9b-f6872bb68bab/test-file-fde7ec91-3145-654d-bd1a-c0af824709be?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 24 May 2021 22:57:41 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "sZA98Zkb5NAjJfHvRu2N/mBmr3xbqZf+uWoe68VsYf1o+6rYkEn1u8qKv+46AbENGNm0XUWjkAj4Pzcv/fgLtsP0h0pDtW0XcPOy0OqpxLi4ENPstwS3xGqi31ARxr7SfwgqRnpmyWJrnO1S8b8dT3t+du0lHv+/PMLgodYcBqo131Hhfn0+UkZwgRoWZdOqhI/Vkk/RrWAJagm4hiiMTpZCHBFuO9H9QCSmtJ3kqNfuNR1HRnNaZDLw2BN0hcwe5DKD1EjCPEi+2FIrKvjCJMIyyVALRQcj6LjefWK9iLtXiNBrYNSOLPjUiG4hLzk6LrRRQrx7Ep8rYOyQ477lAE+W06InV8Pto51YNryZArh/pE+ua0b+23UxPwDo/kk57ogeiluWEtbwZJ4fI9vikl0zET5vNpQJmPcs9RfDBKRTHkczenhc6JF5vgen37iZTq2itO0KyrjzFfJkaR2+LF/5ywSTrhfl1yms9niNYbg/k6ZqIFC3SFSPQGWF+H50upGnrhSzBaCVvN3EXtRAZrM6JNZ2UwsPQYKwBG6xYN6qODvm5bOji40G1GRy8+p/T9qxS9On/maGmGyRAwEx5Fz+GSWYWoEAlplIb3+nnU6YMLSU/xQLAjrUX0xGEoiM1fAIc9rE5/VYsbU6Xo7n3vse+NJMneRH8xbrxPo0uYMQvJqPnylz00m/O05f0KOr7YFRKBm2PzcMwH/D2SP7JPcxKaL0WD/RqiWIjWKV6CNyQNZ445FqWn1ig96psPomwxZXLqYBtpVBf37zLbLVdthcUJhMgkFlxs8lkdVgJ/orYslLPrp8cYlBN2MSdi3KjQwGTV9h2UHV8WfX3CTA4FeEyMroijgd398PC0rdU1CiWgTIWtqbyoiHdkxTpZVlgFYMjq1i4QLU6G1/Us72954WNIEf94Z86f5CYRPryjpKqYr00cSiQHgC9HFsG3i6kX+tPHATRYnQj6WvH4Du6B0zNKhEAiXadPQIHQMVEM2GiNCUPY7JN2MBJEIe8yD4EwtTOOfPdo5Z08h8CiiFun7YKZewWqqPaf1EQt7ju4HTEAr4wdfmthFBO2rGTSw7fGnDRsqISLlhxM/pijOwdhhHqPoejPmn8nKFbh5AyRzRCcZ1H3W3SshRl/0I/CvekcRRf6QxHe9vHFNXA9maIPqyGIBtO1ejkF0yzPX7n/VGp91a7kl3n+zXBQMhX0fvt3YCVeSrcVVtru9H/1D5c31eEVv7PzKxO3iUlTZTgTAVQxV/+UkRmzWI7D9aL6Cc3ZGGw07s83dDURprFtsfGSy+Mbs6enozTHUlc1PyVgvY97ikzb7iKU+eO6cupoRaaNMSnP7kYWMWUnbYxoAkUQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "xLZz+pG0mYRC1sLULGn5Mg==",
        "ETag": "\"0x8D91F0755ACA889\"",
        "Last-Modified": "Mon, 24 May 2021 22:57:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.file.core.windows.net/test-share-8171039b-5094-137e-0a3b-12865d2e4033/test-directory-e44aa56d-2d77-f649-cc9b-f6872bb68bab/test-file-fde7ec91-3145-654d-bd1a-c0af824709be",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:57:41 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F0755ACA889\"",
        "Last-Modified": "Mon, 24 May 2021 22:57:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-05-24T22:57:41.064555Z",
        "x-ms-file-creation-time": "2021-05-24T22:57:41.064555Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-05-24T22:57:41.064555Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17737392480967489306*6811422022089678740",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://kasobolcanadacentral.file.core.windows.net/test-share-8171039b-5094-137e-0a3b-12865d2e4033/test-directory-e44aa56d-2d77-f649-cc9b-f6872bb68bab/test-file-fde7ec91-3145-654d-bd1a-c0af824709be",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:57:41 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-range-get-content-md5": "false",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D91F0755CF7905\"",
        "Last-Modified": "Mon, 24 May 2021 22:57:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-05-24T22:57:41.064555Z",
        "x-ms-file-creation-time": "2021-05-24T22:57:41.064555Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-05-24T22:57:41.064555Z",
        "x-ms-file-parent-id": "138351[...]
    {
      "RequestUri": "http://kasobolcanadacentral.file.core.windows.net/test-share-8171039b-5094-137e-0a3b-12865d2e4033?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:57:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "617909450",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttp://kasobolcanadacentral.blob.core.windows.net\nhttp://kasobolcanadacentral.file.core.windows.net\nhttp://kasobolcanadacentral.queue.core.windows.net\nhttp://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttp://kasobolcanadacentral-secondary.blob.core.windows.net\nhttp://kasobolcanadacentral-secondary.file.core.windows.net\nhttp://kasobolcanadacentral-secondary.queue.core.windows.net\nhttp://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=http://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=http://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}