{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-aec81c49-3d49-81e0-1518-5e60b2f96aa3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38EAD61305\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-aec81c49-3d49-81e0-1518-5e60b2f96aa3/test-directory-7ac265b7-a2cc-6825-6444-6da1ccd85ef0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38EADFA3EF\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-09-21T19:49:26.1801455Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:26.1801455Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-21T19:49:26.1801455Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-aec81c49-3d49-81e0-1518-5e60b2f96aa3/test-directory-7ac265b7-a2cc-6825-6444-6da1ccd85ef0/test-file-8b53e80f-f9b1-6a3c-a744-6bf57c817dc3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38EAE8A350\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:26.2391120Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:26.2391120Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:26.2391120Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-aec81c49-3d49-81e0-1518-5e60b2f96aa3/test-directory-7ac265b7-a2cc-6825-6444-6da1ccd85ef0/test-file-8b53e80f-f9b1-6a3c-a744-6bf57c817dc3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "XA5LwWXW3mivwlGwTKqGhfqPIw2HoI57YDwYFZYNQ0XaRR/Tk4h4p\u002BDoDqDAaHSPNjKuLb8yibuAz2AovsnRon4L1QaKs/JxFnstn5Htu/jIiN5kXhaGqLxjUsMnUOkWFmshtZJtBINAPBZEBOkpkhRoYDXrbUNohC1KJ2EuScaSF4gmzAZmWoRbIyL/QaPSOb\u002Bvv/CzK6kouDBkIt0hEfJQsu1gA8YNAgWxkEkhaUOKeO2hf4rV3uzf/RTWATemORIvro\u002B1cTb5ob3qAZtgBk7t2arvgJJoetMBgQWxNwDNC1Y28rqz1Aa3p97N6t1QfvfF6SiNt7mAxjS8tO8wR2m8HfZEKRSUOQSkONizm4/2sAMO7E7YQFSdtiuG9iAWh2B1EM3mDFTjMK8j6H7gzCukxgPsIVsa5NyipnLoDkLkjbB4PYvCD6SuK7uf[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-aec81c49-3d49-81e0-1518-5e60b2f96aa3/test-directory-7ac265b7-a2cc-6825-6444-6da1ccd85ef0/test-file-8b53e80f-f9b1-6a3c-a744-6bf57c817dc3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38EAF9B7D6\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:26.2391120Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:26.2391120Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:26.2391120Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-aec81c49-3d49-81e0-1518-5e60b2f96aa3/test-directory-7ac265b7-a2cc-6825-6444-6da1ccd85ef0/test-file-8b53e80f-f9b1-6a3c-a744-6bf57c817dc3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38EAF9B7D6\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:26.2391120Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:26.2391120Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:26.2391120Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-aec81c49-3d49-81e0-1518-5e60b2f96aa3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2089235353",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}