{
  "Entries": [
    {
      "RequestUri": "https://kasobolcanadacentral.file.core.windows.net/test-share-206baac9-7cd5-03b4-17a8-7018dd6b2ee1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 15:52:57 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94ACD47382FE5\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 15:52:57 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadacentral.file.core.windows.net/test-share-206baac9-7cd5-03b4-17a8-7018dd6b2ee1/test-directory-dbd28fd8-a46e-879d-6910-55cd39acb9c9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 15:52:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94ACD4745FA9D\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 15:52:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-19T15:52:57.4155421Z",
        "x-ms-file-creation-time": "2021-07-19T15:52:57.4155421Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-07-19T15:52:57.4155421Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3917056552249722909*6811422022089678740",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadacentral.file.core.windows.net/test-share-206baac9-7cd5-03b4-17a8-7018dd6b2ee1/test-directory-dbd28fd8-a46e-879d-6910-55cd39acb9c9/test-file-3e388309-75cf-8cf1-72c1-215c779e935b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 19 Jul 2021 15:52:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94ACD47527FFF\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 15:52:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-19T15:52:57.4975999Z",
        "x-ms-file-creation-time": "2021-07-19T15:52:57.4975999Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-07-19T15:52:57.4975999Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17737392480967489306*6811422022089678740",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadacentral.file.core.windows.net/test-share-206baac9-7cd5-03b4-17a8-7018dd6b2ee1/test-directory-dbd28fd8-a46e-879d-6910-55cd39acb9c9/test-file-3e388309-75cf-8cf1-72c1-215c779e935b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 19 Jul 2021 15:52:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "3pI4g33\u002BTifT/r1R02ndzLVb9XHV8/IexKJIubC6xKO1HNSgtNhTCjQQatG4n7gI41WmG6gihuugGb7btpR3GDkanLaUPRjdB\u002Bs8xIghZiTpP9ZbFKj6k5bpAJoZeFSfmVGXngMBdKY9yRS95cJif7KZ8Xe\u002BGwSRHwggqj19w46WnCo2icgg58swHkqTPa3UhoDof4bd4X5NBX/64clowAWGJkiXK/XqeAqrjv25/uFbSyO8lUMIubus6YNJJgYBx15FDRdkPFuL/QZ8MVKAkwedn5WlrCrBfWyN60FyoVIDqsafdPDJ9g7IMZc9i4hpK1Z7q4ZwWxozg4\u002Bq11EZGFy0eIaL4R4W06iH3HuThPLkJMDr9vXMk06sa/BhHx\u002B9rxg6iBMB3Uk4ZNfe6X\u002Ben/\u002BdxrOQLiJm5\u002BQ[...]
    {
      "RequestUri": "https://kasobolcanadacentral.file.core.windows.net/test-share-206baac9-7cd5-03b4-17a8-7018dd6b2ee1/test-directory-dbd28fd8-a46e-879d-6910-55cd39acb9c9/test-file-3e388309-75cf-8cf1-72c1-215c779e935b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 15:52:57 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D94ACD4769DCCD\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 15:52:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-19T15:52:57.4975999Z",
        "x-ms-file-creation-time": "2021-07-19T15:52:57.4975999Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-07-19T15:52:57.4975999Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17737392480967489306*6811422022089678740",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "3pI4g33\u002BTifT/r1R02ndzLVb9XHV8/IexKJIubC6xKO1HNSgtNhTCjQQatG4n7gI41WmG6gihuugGb7btpR3GDkanLaUPRjdB\u002Bs8xIghZiTpP9ZbFKj6k5bpAJoZeFSfmVGXngMBdKY9yRS95cJif7KZ8Xe\u002BGwSRHwggqj19w46WnCo2icgg58swHkqTPa3UhoDof4bd4X5NBX/64clowAWGJkiXK/XqeAqrjv25/uFbSyO8lUMIubus6YNJJgYBx15FDRdkPFuL/QZ8MVKAkwedn5WlrCrBfWyN60FyoVIDqsafdPDJ9g7IMZc9i4hpK1Z7q4ZwWxozg4\u002Bq11EZGFy0eIaL4R4W06iH3HuThPLkJMDr9vXMk[...]
    {
      "RequestUri": "https://kasobolcanadacentral.file.core.windows.net/test-share-206baac9-7cd5-03b4-17a8-7018dd6b2ee1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 15:52:57 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1331863728",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttps://kasobolcanadacentral.blob.core.windows.net\nhttps://kasobolcanadacentral.file.core.windows.net\nhttps://kasobolcanadacentral.queue.core.windows.net\nhttps://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttps://kasobolcanadacentral-secondary.blob.core.windows.net\nhttps://kasobolcanadacentral-secondary.file.core.windows.net\nhttps://kasobolcanadacentral-secondary.queue.core.windows.net\nhttps://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=https://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=https://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=https://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}