{
  "Entries": [
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-0aa1c58a-5468-06c0-68ad-f873c4606385?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:35:50 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D832538242E3F5\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:35:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-0aa1c58a-5468-06c0-68ad-f873c4606385/test-directory-e91715e9-55ab-8a79-b22c-1a48d25cea8d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:35:50 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83253824D1231\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:35:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-07-27T17:35:52.2688561Z",
        "x-ms-file-creation-time": "2020-07-27T17:35:52.2688561Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-07-27T17:35:52.2688561Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10468614340527976405*17986492168883239004",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-0aa1c58a-5468-06c0-68ad-f873c4606385/test-directory-e91715e9-55ab-8a79-b22c-1a48d25cea8d/test-file-0b09a112-3ee7-308a-6394-42d95adeba78",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 27 Jul 2020 17:35:50 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83253825689BC\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:35:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-07-27T17:35:52.3308988Z",
        "x-ms-file-creation-time": "2020-07-27T17:35:52.3308988Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-07-27T17:35:52.3308988Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5853609782263189714*17986492168883239004",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-0aa1c58a-5468-06c0-68ad-f873c4606385/test-directory-e91715e9-55ab-8a79-b22c-1a48d25cea8d/test-file-0b09a112-3ee7-308a-6394-42d95adeba78?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:35:50 GMT",
        "x-ms-lease-id": "97ddfd5c-21de-8516-8d01-0ace24548c28",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12",
        "x-ms-write": "update"
      },
      "RequestBody": "AH4emF8F0S3WLs6G2ilvWHs7ARRXi0fvb3SkmUKcKY5cz2BC7ICn0nVZVwLK2/Ao2UmzdazwPXQ3LynrYTfrOgQ/KQvILGv6lC\u002Be/jNEJJODe7/46LPhbJLsC7xXu3E9bhz9irHlX63euOF9UT5A8guVaOV48lJRXb153CCuo9m9YZAWRpninRsRGi/SZBtTqxixwVKLxXzKrCz0bIOMLxUHv/CuKatxs8vJZtcifvmiJTAH/OGGMpsTTJps7jGYheoayqQqpIFtQA6Hwl\u002Bkpy0zUUZThDIzgI1Umt0RBMWZMeDsCLNVd4CumrzT/288b6RsOZzqRQC350oW1gqkXDxJ7ZB\u002Bt5953dnFpOp2X4EdFys4pMoor\u002BzgNCBpPqF2CT5/iRHfvrcE8lvCJKAWQYfI\u002BL7fa7dyID6knoJ/EJ44T5qr99[...]
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-0aa1c58a-5468-06c0-68ad-f873c4606385?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:35:50 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "680627425",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmccprodca\nU2FuaXRpemVk\nhttps://seanmccprodca.blob.core.windows.net\nhttps://seanmccprodca.file.core.windows.net\nhttps://seanmccprodca.queue.core.windows.net\nhttps://seanmccprodca.table.core.windows.net\n\n\n\n\nhttps://seanmccprodca-secondary.blob.core.windows.net\nhttps://seanmccprodca-secondary.file.core.windows.net\nhttps://seanmccprodca-secondary.queue.core.windows.net\nhttps://seanmccprodca-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmccprodca.blob.core.windows.net/;QueueEndpoint=https://seanmccprodca.queue.core.windows.net/;FileEndpoint=https://seanmccprodca.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccprodca-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccprodca-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccprodca-secondary.file.core.windows.net/;AccountName=seanmccprodca;AccountKey=Kg==;\nseanscope1"
  }
}