{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6129c172-8332-46d7-94fa-8b41e2ddb1a4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:27:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C23074A647BA\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:27:44 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6129c172-8332-46d7-94fa-8b41e2ddb1a4/test-directory-c4a25725-73ca-5135-fe92-8791e254edaf?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:27:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C23074B0A182\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:27:44 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-26T19:27:44.4876674Z",
        "x-ms-file-creation-time": "2021-01-26T19:27:44.4876674Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-26T19:27:44.4876674Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6129c172-8332-46d7-94fa-8b41e2ddb1a4/test-directory-c4a25725-73ca-5135-fe92-8791e254edaf/test-file-6e1db313-2e61-e0b1-35bc-a9ef9de44fc3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 26 Jan 2021 19:27:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C23074BA674F\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:27:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:27:44.5517135Z",
        "x-ms-file-creation-time": "2021-01-26T19:27:44.5517135Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:27:44.5517135Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6129c172-8332-46d7-94fa-8b41e2ddb1a4/test-directory-c4a25725-73ca-5135-fe92-8791e254edaf/test-file-6e1db313-2e61-e0b1-35bc-a9ef9de44fc3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 26 Jan 2021 19:27:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-write": "update"
      },
      "RequestBody": "TNNBzEw23R\u002BBNREfbhq0hy5jdqb27GzdDAPwhFqZJe7Huc7JNZfY5V4\u002Bfw0bOvZDTyQN4049VGBnZL9IRVjF6A8jWLVL6lGWi5FHt2xfwdIMrTQ1jEKfiWVuYdHYj58FeZf9\u002BOFB92TSdle99Z3zCKLsPJgkj1vNg85Q3Ih/vvzxQj7UYcnxy7XPYhbq4ZTIelkv7FMH4ek8MHQS8RvcUrhbzLJeH6fY\u002B3DjVCxF4qI6iGEvUNGp6WBUmDFV3tqa8xBejxThaVuyVvHiJI29903R2Gm5rALmseJRCoZ1gxyWSWAc51KOWB4Gffngx8XTl6HjgwZw4EcOd94xj1/VPNLUS9ssoA/7Q4BKsy8IBeocfnLkkgAVJWgZDm90XMi/MEAnC3vqp/aR50CGJi0YBXHzFRHs8KrSvyZyEpKgh\u002Be3ioLu4f[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6129c172-8332-46d7-94fa-8b41e2ddb1a4/test-directory-c4a25725-73ca-5135-fe92-8791e254edaf/test-file-6e1db313-2e61-e0b1-35bc-a9ef9de44fc3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:27:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C23074C565CB\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:27:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:27:44.6237643Z",
        "x-ms-file-creation-time": "2021-01-26T19:27:44.5517135Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:27:44.6237643Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6129c172-8332-46d7-94fa-8b41e2ddb1a4/test-directory-c4a25725-73ca-5135-fe92-8791e254edaf/test-file-6e1db313-2e61-e0b1-35bc-a9ef9de44fc3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:27:45 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-range-get-content-md5": "false"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C23074C565CB\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:27:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:27:44.6237643Z",
        "x-ms-file-creation-time": "2021-01-26T19:27:44.5517135Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:27:44.6237643Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "TNNBzEw23R\u002BBNREfbhq0hy5jdqb27GzdDAPwhFqZJe7Huc7JNZfY5V4\u002Bfw0bOvZDTyQN4049VGBnZL9IRVjF6A8jWLVL6lGWi5FHt2xfwdIMrTQ1jEKfiWVuYdHYj58FeZf9\u002BOFB92TSdle99Z3zCKLsPJgkj1vNg85Q3Ih/vvw="
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6129c172-8332-46d7-94fa-8b41e2ddb1a4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:27:45 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1759784255",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}