{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-da2fd449-b0f9-6a0f-8d2d-dbce2581b2f0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:46 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38D3305DEA\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:46 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-da2fd449-b0f9-6a0f-8d2d-dbce2581b2f0/test-directory-5bc1f189-3b52-4121-3794-7247e70aea81?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:46 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38D33ADB06\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:46 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-09-21T19:48:46.5126150Z",
        "x-ms-file-creation-time": "2021-09-21T19:48:46.5126150Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-21T19:48:46.5126150Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-da2fd449-b0f9-6a0f-8d2d-dbce2581b2f0/test-directory-5bc1f189-3b52-4121-3794-7247e70aea81/test-file-c82c8c6e-921b-5121-83ac-0dcd74a46b9a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:46 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38D3449D9C\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:48:46.5765788Z",
        "x-ms-file-creation-time": "2021-09-21T19:48:46.5765788Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:48:46.5765788Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-da2fd449-b0f9-6a0f-8d2d-dbce2581b2f0/test-directory-5bc1f189-3b52-4121-3794-7247e70aea81/test-file-c82c8c6e-921b-5121-83ac-0dcd74a46b9a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "8D\u002BXu\u002BvXrQWpyA8izSr7HtzcFuiQXTYIxzZO940zJ8XMMgYGgfyqWVF15ILVPuEvKNg39W96q5MJjvS1ibV3daFKVpok9Z3gMr2WGnmzM4hVHs\u002B1/DFVUYZy/PII9c\u002Bc/m7hiuhGCzM7V8Oy5JEaVlprX2vmwnlv9AQUsfiq1zzt\u002BhwK0aigDhObeqVuom31V6aYnJVktTz1cpbkMlk6kH\u002BGxel0D4Sxy1FYSkjTAVKWH1pSEjqniUTgFV8SvNy5YOkl592DgEch5tFDDGr0IXFETRL/6H5E3juklPolnw50nulerhl0E54SMCtpY33a7PTuzm/Junhr4Amh3uxN\u002B0fCz22BlXJYzzp07LdS23q\u002ByqcFN9CfquNx880P0jSxxDXkppQPWVaBlf40Vc3AGASO4xRER8R2IyS[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-da2fd449-b0f9-6a0f-8d2d-dbce2581b2f0/test-directory-5bc1f189-3b52-4121-3794-7247e70aea81/test-file-c82c8c6e-921b-5121-83ac-0dcd74a46b9a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:46 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38D3567555\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:48:46.5765788Z",
        "x-ms-file-creation-time": "2021-09-21T19:48:46.5765788Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:48:46.5765788Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-da2fd449-b0f9-6a0f-8d2d-dbce2581b2f0/test-directory-5bc1f189-3b52-4121-3794-7247e70aea81/test-file-c82c8c6e-921b-5121-83ac-0dcd74a46b9a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:46 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38D3567555\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:48:46.5765788Z",
        "x-ms-file-creation-time": "2021-09-21T19:48:46.5765788Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:48:46.5765788Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "8D\u002BXu\u002BvXrQWpyA8izSr7HtzcFuiQXTYIxzZO940zJ8XMMgYGgfyqWVF15ILVPuEvKNg39W96q5MJjvS1ibV3daFKVpok9Z3gMr2WGnmzM4hVHs\u002B1/DFVUYZy/PII9c\u002Bc/m7hiuhGCzM7V8Oy5JEaVlprX2vmwnlv9AQUsfiq1zw="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-da2fd449-b0f9-6a0f-8d2d-dbce2581b2f0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:47 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "256631964",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}