{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-92ff5058-e15b-c661-44b2-69add1d2f1c3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:32:35 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F68EED0F32B\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:32:36 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-92ff5058-e15b-c661-44b2-69add1d2f1c3/test-directory-9c0c7e03-de4e-b43c-e026-735624243da8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:32:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F68EEDB8280\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:32:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-09-23T02:32:36.1525888Z",
        "x-ms-file-creation-time": "2020-09-23T02:32:36.1525888Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-09-23T02:32:36.1525888Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-92ff5058-e15b-c661-44b2-69add1d2f1c3/test-directory-9c0c7e03-de4e-b43c-e026-735624243da8/test-file-814364d8-50a8-959d-8a88-f0a867b1c69d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 23 Sep 2020 02:32:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F68EEE5484C\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:32:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-09-23T02:32:36.2166348Z",
        "x-ms-file-creation-time": "2020-09-23T02:32:36.2166348Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-09-23T02:32:36.2166348Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-92ff5058-e15b-c661-44b2-69add1d2f1c3/test-directory-9c0c7e03-de4e-b43c-e026-735624243da8/test-file-814364d8-50a8-959d-8a88-f0a867b1c69d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:32:36 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12",
        "x-ms-write": "update"
      },
      "RequestBody": "OIAb1ljB4/2k5eiLh445GeIBTVbqMxoCYd3e\u002BfoVY8V8nnX6q24ZR\u002Bo8Zqmg0fHM2PLgwaDwzgRmGHR74\u002BoDjoEjDukYP2106AZsrs1wYpDrESAINaEljNBwlJP5nmP/ONcnfcMHs5mEbNmZhB839bbkj9HK\u002B1ng/oEZp6rZekmibHX1SOTN5F6Gg8jHiwiwOZ7dFQ6SNT19R35B7QvuqvGQ9hepQazRFqpzQ3eQGXJ5aG4L/GU7EDY4eAFmjPZSmNjXN5XwB/fyDP5jHvLF7S4Mx4Wc466MVOXhccmra4q0IKufueHdiGF3GfBm1/FEcovTWsRxtbQqS\u002BKvD5UtRqB0r/5HJjNMLj4jJcm\u002BJX3znf4\u002B1xHGQ2r2dW3/LXnMStJP8ifz/ExXhiuFTZDrayVku3KW7m\u002BPrWy[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-92ff5058-e15b-c661-44b2-69add1d2f1c3/test-directory-9c0c7e03-de4e-b43c-e026-735624243da8/test-file-814364d8-50a8-959d-8a88-f0a867b1c69d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:32:36 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85F68EEEFAA70\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:32:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-09-23T02:32:36.2166348Z",
        "x-ms-file-creation-time": "2020-09-23T02:32:36.2166348Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-09-23T02:32:36.2166348Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-92ff5058-e15b-c661-44b2-69add1d2f1c3/test-directory-9c0c7e03-de4e-b43c-e026-735624243da8/test-file-814364d8-50a8-959d-8a88-f0a867b1c69d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:32:36 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85F68EEEFAA70\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:32:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-09-23T02:32:36.2166348Z",
        "x-ms-file-creation-time": "2020-09-23T02:32:36.2166348Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-09-23T02:32:36.2166348Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-92ff5058-e15b-c661-44b2-69add1d2f1c3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:32:36 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "961029268",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}