{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-0b7c6774-a518-8399-6938-c724ec87d549?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 20:56:23 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86B03739BF1AC\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 20:56:24 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-0b7c6774-a518-8399-6938-c724ec87d549/test-directory-bd1dc631-3fc4-f321-b663-3b2d45e15ddc?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 20:56:24 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86B0373A482C1\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 20:56:24 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-10-07T20:56:24.2160321Z",
        "x-ms-file-creation-time": "2020-10-07T20:56:24.2160321Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-10-07T20:56:24.2160321Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-0b7c6774-a518-8399-6938-c724ec87d549/test-directory-bd1dc631-3fc4-f321-b663-3b2d45e15ddc/test-file-39ba41a1-5a30-3de2-9ddf-1b3a299f999f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 07 Oct 2020 20:56:24 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86B0373ACE8B9\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 20:56:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-07T20:56:24.2710713Z",
        "x-ms-file-creation-time": "2020-10-07T20:56:24.2710713Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-07T20:56:24.2710713Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-0b7c6774-a518-8399-6938-c724ec87d549/test-directory-bd1dc631-3fc4-f321-b663-3b2d45e15ddc/test-file-39ba41a1-5a30-3de2-9ddf-1b3a299f999f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 20:56:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "u80miuOI4p7j3RRKz6ocJ1WHe2hb/m16AI2YrgbfNPUqKroIaIPPKPrne5BsN9xv1WStgzfm6b1fq4pW7zOXA6keIKTvFL/SuFJudILdDsiwKdiiMrG9REH9qLz5eTnGUHfnTRc4gMGl2svkd3U7gpzBpsZa9dH4YNti8msC2T8ZqCML9cGxd6kX/Fjl2MzMwiUfN9JybFql7\u002Bw71o1WowGMys9RL43bDy4dQ/l5EogPljBG4qFspzzJZQbUdqEbwVlXWQ39e5KYRCikVChhLNxkK0BdD8BfHyOSiMmGBpmMAoKfIrh6ERqdrZ55x1MTZzkpcEphvbGZ9znqavPJET2OF1GmwQoj6holwGIh5VfPfyCQXZZOK0XRBip\u002Bj6cn1Jxh6rABbKYvBYYwPPxOdxLhGuvSOLSmQOwM1bvfpFpz/ezFv/qnzhJ6YVcQHu5Jg[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-0b7c6774-a518-8399-6938-c724ec87d549/test-directory-bd1dc631-3fc4-f321-b663-3b2d45e15ddc/test-file-39ba41a1-5a30-3de2-9ddf-1b3a299f999f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 20:56:24 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86B0373B415F3\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 20:56:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-07T20:56:24.2710713Z",
        "x-ms-file-creation-time": "2020-10-07T20:56:24.2710713Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-07T20:56:24.2710713Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-0b7c6774-a518-8399-6938-c724ec87d549?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 20:56:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "358659585",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}