{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-2e671b9f-8d68-5aa8-8131-569a30c3a3f1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C9D5EB3CC\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-2e671b9f-8d68-5aa8-8131-569a30c3a3f1/test-directory-9fd86149-75ad-c563-0d78-9a7a74b9459f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C9D69D802\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:39:14.0676610Z",
        "x-ms-file-creation-time": "2021-01-21T20:39:14.0676610Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:39:14.0676610Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-2e671b9f-8d68-5aa8-8131-569a30c3a3f1/test-directory-9fd86149-75ad-c563-0d78-9a7a74b9459f/test-file-cecbf258-845a-5bbf-99a3-0474dc7d5f8c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C9D7599F4\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:39:14.1447156Z",
        "x-ms-file-creation-time": "2021-01-21T20:39:14.1447156Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:39:14.1447156Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-2e671b9f-8d68-5aa8-8131-569a30c3a3f1/test-directory-9fd86149-75ad-c563-0d78-9a7a74b9459f/test-file-cecbf258-845a-5bbf-99a3-0474dc7d5f8c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "J4eEdRAv2MfHaBcBdp8RM3rRkvQUkpXNTlDeg226j1QdTpwrVoi4uafd66HLLPNXK\u002BFjDqGanJXytifAUFRaDNjC4ycD5dzyGdhMN6fzAiJch1iMVoGzg7EGOZ9h92hTg97ICEjMU0UEcfXITWXt/rQFZMn7zrVXD2B1/Kw8kSFv\u002BbTJKvnZkDMSh\u002BWL6jVMGDrrXJOfV7QocfnoVleZx\u002BDTWVSxJNO6K9OV6UbQyyQqKeNyUTSNz6H/oLkA8TncecAEuJHgmvNmMDC/Cm5tV6XUvS1zJnWrRYmzsoQaujmauW\u002BGzBOTSo7wCyAEzcUykUkULDQMaVJKWHIILehvTHb2JVD/5ouRQHKegxtVp3fDgCA7BY4FjU8cPHOhixymgL\u002BqDah0M6q9guvBbeY39bH6RKzHNEbo8ZcB4qoY8LVW\[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-2e671b9f-8d68-5aa8-8131-569a30c3a3f1/test-directory-9fd86149-75ad-c563-0d78-9a7a74b9459f/test-file-cecbf258-845a-5bbf-99a3-0474dc7d5f8c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4C9D7E26FF\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:39:14.2007551Z",
        "x-ms-file-creation-time": "2021-01-21T20:39:14.1447156Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:39:14.2007551Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-2e671b9f-8d68-5aa8-8131-569a30c3a3f1/test-directory-9fd86149-75ad-c563-0d78-9a7a74b9459f/test-file-cecbf258-845a-5bbf-99a3-0474dc7d5f8c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:14 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-range-get-content-md5": "false",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4C9D7E26FF\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:39:14.2007551Z",
        "x-ms-file-creation-time": "2021-01-21T20:39:14.1447156Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:39:14.2007551Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "J4eEdRAv2MfHaBcBdp8RM3rRkvQUkpXNTlDeg226j1QdTpwrVoi4uafd66HLLPNXK\u002BFjDqGanJXytifAUFRaDNjC4ycD5dzyGdhMN6fzAiJch1iMVoGzg7EGOZ9h92hTg97ICEjMU0UEcfXITWXt/rQFZMn7zrVXD2B1/Kw8kSE="
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-2e671b9f-8d68-5aa8-8131-569a30c3a3f1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "395414173",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}