{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-be989f79-ff0b-8b75-7383-a2ac9ef6d4be?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 03:00:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F6CC4E712DE\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 03:00:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-be989f79-ff0b-8b75-7383-a2ac9ef6d4be/test-directory-3eb52d25-62ca-bbcb-3b81-62a8f0b14113?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 03:00:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F6CC4F08A14\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 03:00:03 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-09-23T03:00:03.8130196Z",
        "x-ms-file-creation-time": "2020-09-23T03:00:03.8130196Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-09-23T03:00:03.8130196Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-be989f79-ff0b-8b75-7383-a2ac9ef6d4be/test-directory-3eb52d25-62ca-bbcb-3b81-62a8f0b14113/test-file-48b2f33b-a0f0-a0dd-c7eb-a5caabf472a4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 23 Sep 2020 03:00:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F6CC4F8C8FD\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 03:00:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-09-23T03:00:03.8670589Z",
        "x-ms-file-creation-time": "2020-09-23T03:00:03.8670589Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-09-23T03:00:03.8670589Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-be989f79-ff0b-8b75-7383-a2ac9ef6d4be/test-directory-3eb52d25-62ca-bbcb-3b81-62a8f0b14113/test-file-48b2f33b-a0f0-a0dd-c7eb-a5caabf472a4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 03:00:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12",
        "x-ms-write": "update"
      },
      "RequestBody": "wb/Pu8abWZ1QGUt\u002B/ZrRfTm0OIUSJGpnToXYWnZ9IW2Av28q74vm1RABy48jRmTiHpMlxk1Fk5xVZ21Bwv8m0vjd/T4rp46tzWJ1EFnbRAcg9jziV1sgOyzS1YcepRIR2vmXRUgmtnYFd/jq0IJDeSJlIMzCRHqdvMISWNIGjyhQYzZfRP\u002B/\u002BkDF3eBiNmupj1tluIVFTpZ\u002B\u002BoiGFF2k/ufQmWxL4zUjpiWM/GeaOoZXaMh2odeiCxSg4Ul2OObiIN74kpz\u002BXawmQRFfuVEu478CL6uULl0QLY5XqwHrrG0/qdyJoqfpWAocUF/GQ1LCcf6JdAk6TvKA6GUOp7KrOpSjIA91pUEYGNaheN39Seo8lDoCYThkBVvpCLlC27FYcBXKIiJCTcy9cVwymNUUgp560hJ3qNhcPhqzjJyH1TwlS[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-be989f79-ff0b-8b75-7383-a2ac9ef6d4be/test-directory-3eb52d25-62ca-bbcb-3b81-62a8f0b14113/test-file-48b2f33b-a0f0-a0dd-c7eb-a5caabf472a4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 03:00:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85F6CC500E0BA\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 03:00:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-09-23T03:00:03.8670589Z",
        "x-ms-file-creation-time": "2020-09-23T03:00:03.8670589Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-09-23T03:00:03.8670589Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-be989f79-ff0b-8b75-7383-a2ac9ef6d4be?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 03:00:03 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "332480497",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}