{
  "Entries": [
    {
      "RequestUri": "https://seanchangefeed.file.core.windows.net/test-share-0d5a6793-56a9-be96-a3bc-53fb5dca9bca?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:18:45 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D806609B8091A3\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 19:18:46 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanchangefeed.file.core.windows.net/test-share-0d5a6793-56a9-be96-a3bc-53fb5dca9bca/test-directory-dcca8464-596a-a686-34b7-585e9d76662f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:18:46 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D806609B9B4B48\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 19:18:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-06-01T19:18:47.0198088Z",
        "x-ms-file-creation-time": "2020-06-01T19:18:47.0198088Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-06-01T19:18:47.0198088Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "16139752084155814565*13195772385302791468",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanchangefeed.file.core.windows.net/test-share-0d5a6793-56a9-be96-a3bc-53fb5dca9bca/test-directory-dcca8464-596a-a686-34b7-585e9d76662f/test-file-404fa674-b4db-3e29-ffe3-9005c4402992",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 01 Jun 2020 19:18:46 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D806609BABF018\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 19:18:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-06-01T19:18:47.1288856Z",
        "x-ms-file-creation-time": "2020-06-01T19:18:47.1288856Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-06-01T19:18:47.1288856Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "2269855239715433890*13195772385302791468",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanchangefeed.file.core.windows.net/test-share-0d5a6793-56a9-be96-a3bc-53fb5dca9bca/test-directory-dcca8464-596a-a686-34b7-585e9d76662f/test-file-404fa674-b4db-3e29-ffe3-9005c4402992?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:18:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "Z2Y5EPjpfaLT5zb1t09P3W4pw9S6k4VjqHq3vx1On4sfydDwHTg2sUsZ/8IHqlzAYsfzGVeBHtTg1md9Mr6FhEer1e5/Xr818xGIoZPDXP4e911WW4Yznqv7EEfRuH\u002BMk3p6W9RtQQQHviVF\u002BH1BHXlpXzthLynAeDdCg014ZDuS\u002Bw0YSAEpsLVYTp1h7aUuuvPNaFhEK2RRueKdK762j1rps/xwKNR4P6\u002BFCOCMX4qRFMhaq/vjTtCox44ejIT3or9DdzqpvpIfVCiovyODxVpYCxb1W\u002BNeBmUsx2FFWbIqjWUhSehQ51Y1O1bTOo\u002BsJAI0xoBuAkbb5XDUffYx2fp2fTG9YnxyByPAvyCNisvVf6JfEZMyvIsfRmN3e2pfBGFbXb1d78KFwr5crUImTVql//1U0chnQ8CmnhsY\u002[...]
    {
      "RequestUri": "https://seanchangefeed.file.core.windows.net/test-share-0d5a6793-56a9-be96-a3bc-53fb5dca9bca/test-directory-dcca8464-596a-a686-34b7-585e9d76662f/test-file-404fa674-b4db-3e29-ffe3-9005c4402992",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:18:46 GMT",
        "x-ms-range": "bytes=0-156",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-156/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D806609BBB0E02\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 19:18:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-06-01T19:18:47.1288856Z",
        "x-ms-file-creation-time": "2020-06-01T19:18:47.1288856Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-06-01T19:18:47.1288856Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "2269855239715433890*13195772385302791468",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "Z2Y5EPjpfaLT5zb1t09P3W4pw9S6k4VjqHq3vx1On4sfydDwHTg2sUsZ/8IHqlzAYsfzGVeBHtTg1md9Mr6FhEer1e5/Xr818xGIoZPDXP4e911WW4Yznqv7EEfRuH\u002BMk3p6W9RtQQQHviVF\u002BH1BHXlpXzthLynAeDdCg014ZDuS\u002Bw0YSAEpsLVYTp1h7aUuuvPNaFhEK2RRueKdKw=="
    },
[...]
    {
      "RequestUri": "https://seanchangefeed.file.core.windows.net/test-share-0d5a6793-56a9-be96-a3bc-53fb5dca9bca?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:18:46 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1630801385",
    "Storage_TestConfigDefault": "ProductionTenant\nseanchangefeed\nU2FuaXRpemVk\nhttps://seanchangefeed.blob.core.windows.net\nhttps://seanchangefeed.file.core.windows.net\nhttps://seanchangefeed.queue.core.windows.net\nhttps://seanchangefeed.table.core.windows.net\n\n\n\n\nhttps://seanchangefeed-secondary.blob.core.windows.net\nhttps://seanchangefeed-secondary.file.core.windows.net\nhttps://seanchangefeed-secondary.queue.core.windows.net\nhttps://seanchangefeed-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanchangefeed.blob.core.windows.net/;QueueEndpoint=https://seanchangefeed.queue.core.windows.net/;FileEndpoint=https://seanchangefeed.file.core.windows.net/;BlobSecondaryEndpoint=https://seanchangefeed-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanchangefeed-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanchangefeed-secondary.file.core.windows.net/;AccountName=seanchangefeed;AccountKey=Sanitized\nseanscope1"
  }
}