{
  "Entries": [
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-ebecc4e6-20cf-59ad-cc67-a8077291348e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:35:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8325382D737DD\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:35:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-ebecc4e6-20cf-59ad-cc67-a8077291348e/test-directory-82f7f572-ccca-6bb1-d72d-b45545f0157f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:35:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8325382E0E09F\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:35:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-07-27T17:35:53.2375199Z",
        "x-ms-file-creation-time": "2020-07-27T17:35:53.2375199Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-07-27T17:35:53.2375199Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10468614340527976405*17986492168883239004",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-ebecc4e6-20cf-59ad-cc67-a8077291348e/test-directory-82f7f572-ccca-6bb1-d72d-b45545f0157f/test-file-01811ce3-2768-7f41-37ea-3773a09a8b18",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Mon, 27 Jul 2020 17:35:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8325382EA5825\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:35:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-07-27T17:35:53.2995621Z",
        "x-ms-file-creation-time": "2020-07-27T17:35:53.2995621Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-07-27T17:35:53.2995621Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5853609782263189714*17986492168883239004",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-ebecc4e6-20cf-59ad-cc67-a8077291348e/test-directory-82f7f572-ccca-6bb1-d72d-b45545f0157f/test-file-01811ce3-2768-7f41-37ea-3773a09a8b18?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:35:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12",
        "x-ms-write": "update"
      },
      "RequestBody": "k1GOnUxPeR3yDphx/Fr3GvozHJJmyNv8ssVf2q6\u002BcKL1\u002BlI2jlG3B5QW0S5\u002BWzj30/1wzqpuyct1keuG759uNJ72ewEHwIypexX\u002BUPetflaNZwaxTaL3hjGHwPxmMRf1p5yQiN827xNwx1KUcHjUyBOU\u002BYiZveb7/vXPgP\u002BPQkr\u002BCalaHPV3VnfyQYZQYxa4s/jp0TePW\u002Bq1lYrqZm8T4IQHlmfPeawdHaIQpntgq5veF80HpnESb62\u002BpIdrjPAI3mACSMyv6DlMy7OVfrVuVenuC0\u002BiDDkS9Se5EdQkspGxCMcbXWLOLy6Tu9u9fPD3T0\u002BdfIChZdIm71Ol9ddkJxgi5HbtU/eHH9wgD1BeVXg3wcGFhjUQEKP19G4PKTpXL5PCm5h6CvxXFlyjgFaB[...]
[...]
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-ebecc4e6-20cf-59ad-cc67-a8077291348e/test-directory-82f7f572-ccca-6bb1-d72d-b45545f0157f/test-file-01811ce3-2768-7f41-37ea-3773a09a8b18",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:35:51 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8325382FCAADD\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:35:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-07-27T17:35:53.2995621Z",
        "x-ms-file-creation-time": "2020-07-27T17:35:53.2995621Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-07-27T17:35:53.2995621Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5853609782263189714*17986492168883239004",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "k1GOnUxPeR3yDphx/Fr3GvozHJJmyNv8ssVf2q6\u002BcKL1\u002BlI2jlG3B5QW0S5\u002BWzj30/1wzqpuyct1keuG759uNJ72ewEHwIypexX\u002BUPetflaNZwaxTaL3hjGHwPxmMRf1p5yQiN827xNwx1KUcHjUyBOU\u002BYiZveb7/vXPgP\u002BPQkr\u002BCalaHPV3VnfyQYZQYxa4s/jp0TePW\u002Bq1lYrqZm8T4IQHlmfPeawdHaIQpntgq5veF80HpnESb62\u002BpIdrjPAI3mACSMyv6DlMy7OVfrVuVenuC0\u002BiDDkS9Se5EdQkspGxCMcbXWLOLy6Tu9u9fPD3T0\u002BdfIChZdIm71Ol9d[...]
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-ebecc4e6-20cf-59ad-cc67-a8077291348e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:35:51 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "848054279",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmccprodca\nU2FuaXRpemVk\nhttps://seanmccprodca.blob.core.windows.net\nhttps://seanmccprodca.file.core.windows.net\nhttps://seanmccprodca.queue.core.windows.net\nhttps://seanmccprodca.table.core.windows.net\n\n\n\n\nhttps://seanmccprodca-secondary.blob.core.windows.net\nhttps://seanmccprodca-secondary.file.core.windows.net\nhttps://seanmccprodca-secondary.queue.core.windows.net\nhttps://seanmccprodca-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmccprodca.blob.core.windows.net/;QueueEndpoint=https://seanmccprodca.queue.core.windows.net/;FileEndpoint=https://seanmccprodca.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccprodca-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccprodca-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccprodca-secondary.file.core.windows.net/;AccountName=seanmccprodca;AccountKey=Kg==;\nseanscope1"
  }
}