{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-dde95b4a-85cd-04e3-5eb3-ada022bc60e1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:08 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF9A30D1129\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:08 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-dde95b4a-85cd-04e3-5eb3-ada022bc60e1/test-directory-03f6c31c-16ce-e3bc-e190-7940a753fce6?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:08 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF9A31438A7\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-10-07T19:46:08.8337575Z",
        "x-ms-file-creation-time": "2020-10-07T19:46:08.8337575Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-10-07T19:46:08.8337575Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-dde95b4a-85cd-04e3-5eb3-ada022bc60e1/test-directory-03f6c31c-16ce-e3bc-e190-7940a753fce6/test-file-67528914-b601-df10-e0fa-3c6f8f59b0da",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:08 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF9A31A5446\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-07T19:46:08.8737862Z",
        "x-ms-file-creation-time": "2020-10-07T19:46:08.8737862Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-07T19:46:08.8737862Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-dde95b4a-85cd-04e3-5eb3-ada022bc60e1/test-directory-03f6c31c-16ce-e3bc-e190-7940a753fce6/test-file-67528914-b601-df10-e0fa-3c6f8f59b0da?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:08 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "oO\u002BhqrFSYK9uMiAECT9S6HTAqBTgt2UOQ2fd\u002BlpYbiSFqdyhV3EIRDLD1k6xSYiEnSqHlRUvgemKk2dJdGZVFcT7fl9isJACuGPiHeAWXfnfWV0w0dgOVSjzF8QJvs/LbcGKtcooIuyZhN2yTWQIczZtahsJJETs7Ck3bpnM\u002BfmTF68ejKcvtjZwl0z6XAjE6qOOm1S0wUl9nsih8bNTzYvkHja06ueOPrPlmI338ZAhc4P1PV2l31Vmoe3ejsSCHcnAFj7RDwC8/1ygzii7haw4f34wXY8uPj7hTUj5r7DuYnvDNttST2ODOT0ABRAsqhtBpg5GUsA5ktf/8MK3wlCssWyt907Q5i8arCNRLTkttKMttwmipw\u002B7iqQEUl\u002Bhy3ftVFOkf7LMcb/eK6Wc6GWd0TsfigpHCQlc8W2qzJTQeeGsZN[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-dde95b4a-85cd-04e3-5eb3-ada022bc60e1/test-directory-03f6c31c-16ce-e3bc-e190-7940a753fce6/test-file-67528914-b601-df10-e0fa-3c6f8f59b0da",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:08 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF9A3221DE4\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-07T19:46:08.8737862Z",
        "x-ms-file-creation-time": "2020-10-07T19:46:08.8737862Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-07T19:46:08.8737862Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-dde95b4a-85cd-04e3-5eb3-ada022bc60e1/test-directory-03f6c31c-16ce-e3bc-e190-7940a753fce6/test-file-67528914-b601-df10-e0fa-3c6f8f59b0da",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:08 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF9A3221DE4\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-07T19:46:08.8737862Z",
        "x-ms-file-creation-time": "2020-10-07T19:46:08.8737862Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-07T19:46:08.8737862Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-dde95b4a-85cd-04e3-5eb3-ada022bc60e1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:08 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1549466516",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}