{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-aef9592b-73ea-1041-3900-8dc8e0e0d934?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D966654BAD45CB\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-aef9592b-73ea-1041-3900-8dc8e0e0d934/test-directory-00480792-a4bb-f2fd-5c24-0f4c3096c34d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:09 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D966654BB82B75\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:09 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-08-23T18:39:09.7726837Z",
        "x-ms-file-creation-time": "2021-08-23T18:39:09.7726837Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-08-23T18:39:09.7726837Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-aef9592b-73ea-1041-3900-8dc8e0e0d934/test-directory-00480792-a4bb-f2fd-5c24-0f4c3096c34d/test-file-a77f636b-1372-5723-fb2a-11c97d3fe642",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:09 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D966654BC151E2\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:39:09.8326498Z",
        "x-ms-file-creation-time": "2021-08-23T18:39:09.8326498Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:39:09.8326498Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-aef9592b-73ea-1041-3900-8dc8e0e0d934/test-directory-00480792-a4bb-f2fd-5c24-0f4c3096c34d/test-file-a77f636b-1372-5723-fb2a-11c97d3fe642?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02",
        "x-ms-write": "update"
      },
      "RequestBody": "JinMiajgtkIP2Hx6hNUxUzQ8elt\u002BfqlN5yLygCHfkfes1AGXPGYq8R3VNctd\u002B3wiBdnjoxI4zaeAfqGG7jYgL0eEza/UmhbOEYg\u002BqEne8Oyl0HtI/O3lcwdZF77EpAPntAaE2S3NTWrCFJKK\u002BiReoY604B272DJZnlqoeoJYCWyEVvRDWhe/2IIQhedbW3ji\u002B3UwEMPmLNvTKzrTJNPoagolBaQwG0d29Qiaq1NL/UPhxn8NKPmonioYby/c67OvKBrdNlXUseAtuRq6S4CIiC328V5T2kIQfGd5GKsYmglV64I5bcfuDRSf327f7VOpkOcB5fpVW03XzLnuWpk0FB8RZV/9ThpmCORJtPrTMY4T0IfEF7QPAI81YaEOALJ7aspPzojzq0HMmt0VC6dTBJoq2ooRcP1qAWTQyO14WAgxzUkvg2[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-aef9592b-73ea-1041-3900-8dc8e0e0d934/test-directory-00480792-a4bb-f2fd-5c24-0f4c3096c34d/test-file-a77f636b-1372-5723-fb2a-11c97d3fe642",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D966654BCA2A3A\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:39:09.8326498Z",
        "x-ms-file-creation-time": "2021-08-23T18:39:09.8326498Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:39:09.8326498Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-aef9592b-73ea-1041-3900-8dc8e0e0d934/test-directory-00480792-a4bb-f2fd-5c24-0f4c3096c34d/test-file-a77f636b-1372-5723-fb2a-11c97d3fe642",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:09 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D966654BCA2A3A\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:39:09.8326498Z",
        "x-ms-file-creation-time": "2021-08-23T18:39:09.8326498Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:39:09.8326498Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "JinMiajgtkIP2Hx6hNUxUzQ8elt\u002BfqlN5yLygCHfkfes1AGXPGYq8R3VNctd\u002B3wiBdnjoxI4zaeAfqGG7jYgL0eEza/UmhbOEYg\u002BqEne8Oyl0HtI/O3lcwdZF77EpAPntAaE2S3NTWrCFJKK\u002BiReoY604B272DJZnlqoeoJYCWw="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-aef9592b-73ea-1041-3900-8dc8e0e0d934?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1122207620",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}