{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-74f3ae0c-61dd-f176-afba-9fad6f5e70bd?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:28 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38EC5161E3\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:28 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-74f3ae0c-61dd-f176-afba-9fad6f5e70bd/test-directory-6b619091-1b04-d0a0-88a0-ad2e81b0beea?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:28 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38EC5C6FC5\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-09-21T19:49:28.6757317Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:28.6757317Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-21T19:49:28.6757317Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-74f3ae0c-61dd-f176-afba-9fad6f5e70bd/test-directory-6b619091-1b04-d0a0-88a0-ad2e81b0beea/test-file-f35bfa7d-2b7f-b011-5252-d13e6ea66d05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:28 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38EC66A77A\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:28.7426938Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:28.7426938Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:28.7426938Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-74f3ae0c-61dd-f176-afba-9fad6f5e70bd/test-directory-6b619091-1b04-d0a0-88a0-ad2e81b0beea/test-file-f35bfa7d-2b7f-b011-5252-d13e6ea66d05?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:28 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "AQqAvxUdi\u002BtLbbUbSXaJ1zzyVrN6G4eYwl2mfWNsZeQglyg8MKSlukJJVvWmUFGdf2mbm3oUwOWC6P23dw6I3wfR\u002B7FOTKeXTZxxMMWS8nIMCP750MppDNZDuken7UM0wXft1FWfTzLBBE3eo5Af7/WLq24Pjg49Z\u002B7aCpJg8GBZPG5NpB0dbLnLN8x8i2hGI8pRHELVJDNosG1mxUSfYRPthGYh0UvYbT60Q1ZBwNuGlObIDtMehBc75PSvt6d0LNa4jwYCJFF\u002Bea4DIOHcJ\u002B\u002BR4DBd1lNAzwBO5uxWKLaXPxeAiTHVg2\u002BVSZUlG2M2Xr0EHtd2F1WDeMAFsz5kKFD3a\u002BDJW56\u002BvFzByIy9GrScF4cvUgrfICjB/RBwz9AwMCFELa\u002BDbQIfRWF6tU7IxV4Ma[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-74f3ae0c-61dd-f176-afba-9fad6f5e70bd/test-directory-6b619091-1b04-d0a0-88a0-ad2e81b0beea/test-file-f35bfa7d-2b7f-b011-5252-d13e6ea66d05",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:28 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38EC7746E1\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:28.7426938Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:28.7426938Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:28.7426938Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-74f3ae0c-61dd-f176-afba-9fad6f5e70bd/test-directory-6b619091-1b04-d0a0-88a0-ad2e81b0beea/test-file-f35bfa7d-2b7f-b011-5252-d13e6ea66d05",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:28 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38EC7746E1\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:28.7426938Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:28.7426938Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:28.7426938Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "AQqAvxUdi\u002BtLbbUbSXaJ1zzyVrN6G4eYwl2mfWNsZeQglyg8MKSlukJJVvWmUFGdf2mbm3oUwOWC6P23dw6I3wfR\u002B7FOTKeXTZxxMMWS8nIMCP750MppDNZDuken7UM0wXft1FWfTzLBBE3eo5Af7/WLq24Pjg49Z\u002B7aCpJg8GA="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-74f3ae0c-61dd-f176-afba-9fad6f5e70bd?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:29 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1917175205",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}