{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ebecc4e6-20cf-59ad-cc67-a8077291348e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D074129F0\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ebecc4e6-20cf-59ad-cc67-a8077291348e/test-directory-82f7f572-ccca-6bb1-d72d-b45545f0157f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D074C9D38\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:42:11.7145912Z",
        "x-ms-file-creation-time": "2021-01-21T20:42:11.7145912Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:42:11.7145912Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ebecc4e6-20cf-59ad-cc67-a8077291348e/test-directory-82f7f572-ccca-6bb1-d72d-b45545f0157f/test-file-01811ce3-2768-7f41-37ea-3773a09a8b18",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:12 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D0757E9E3\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:42:11.7886435Z",
        "x-ms-file-creation-time": "2021-01-21T20:42:11.7886435Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:42:11.7886435Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ebecc4e6-20cf-59ad-cc67-a8077291348e/test-directory-82f7f572-ccca-6bb1-d72d-b45545f0157f/test-file-01811ce3-2768-7f41-37ea-3773a09a8b18?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "k1GOnUxPeR3yDphx/Fr3GvozHJJmyNv8ssVf2q6\u002BcKL1\u002BlI2jlG3B5QW0S5\u002BWzj30/1wzqpuyct1keuG759uNJ72ewEHwIypexX\u002BUPetflaNZwaxTaL3hjGHwPxmMRf1p5yQiN827xNwx1KUcHjUyBOU\u002BYiZveb7/vXPgP\u002BPQkr\u002BCalaHPV3VnfyQYZQYxa4s/jp0TePW\u002Bq1lYrqZm8T4IQHlmfPeawdHaIQpntgq5veF80HpnESb62\u002BpIdrjPAI3mACSMyv6DlMy7OVfrVuVenuC0\u002BiDDkS9Se5EdQkspGxCMcbXWLOLy6Tu9u9fPD3T0\u002BdfIChZdIm71Ol9ddkJxgi5HbtU/eHH9wgD1BeVXg3wcGFhjUQEKP19G4PKTpXL5PCm5h6CvxXFlyjgFaB[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ebecc4e6-20cf-59ad-cc67-a8077291348e/test-directory-82f7f572-ccca-6bb1-d72d-b45545f0157f/test-file-01811ce3-2768-7f41-37ea-3773a09a8b18",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4D076224EE\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:42:11.8556910Z",
        "x-ms-file-creation-time": "2021-01-21T20:42:11.7886435Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:42:11.8556910Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ebecc4e6-20cf-59ad-cc67-a8077291348e/test-directory-82f7f572-ccca-6bb1-d72d-b45545f0157f/test-file-01811ce3-2768-7f41-37ea-3773a09a8b18",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:12 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-range-get-content-md5": "false",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4D0773B458\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:42:11.9707736Z",
        "x-ms-file-creation-time": "2021-01-21T20:42:11.7886435Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:42:11.9707736Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ebecc4e6-20cf-59ad-cc67-a8077291348e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:12 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "848054279",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}