{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-0a1ee51f-07e5-dd11-da10-6531b78fdaf9?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CFF4E64CD\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:41:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-0a1ee51f-07e5-dd11-da10-6531b78fdaf9/test-directory-c57cfa62-78ea-703b-6749-73adb44b0256?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:58 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CFF59045F\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:41:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:41:58.3741023Z",
        "x-ms-file-creation-time": "2021-01-21T20:41:58.3741023Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:41:58.3741023Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-0a1ee51f-07e5-dd11-da10-6531b78fdaf9/test-directory-c57cfa62-78ea-703b-6749-73adb44b0256/test-file-d879d222-4473-4a1d-1b04-967ceb0f89c2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:58 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CFF633F73\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:41:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:41:58.4411507Z",
        "x-ms-file-creation-time": "2021-01-21T20:41:58.4411507Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:41:58.4411507Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-0a1ee51f-07e5-dd11-da10-6531b78fdaf9/test-directory-c57cfa62-78ea-703b-6749-73adb44b0256/test-file-d879d222-4473-4a1d-1b04-967ceb0f89c2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "EKbauQrAtG9IIZ0H28y\u002BHJyBRwXoIE9mYnyowHOysBUhsl4LcfLnpPrzmeZVBUKdcGNiKcq7AvBWdFeOF/P8lXCH5Slts6qqmaML9YdpEF05C1APUIdLZbButP2bWYwH9wN2zR8ZMLy5t48nsA1p7WP5VAyj7EXoPIB4//\u002BtDkAWBP2D80I9INuTVpj4I7SjBMaaoQSAYwq\u002BjZGeoDC9C6lOEKwP5fogvDQxD5as8BjL1fo4E208lqDzxWWxnn\u002Bq1UrvqRMIkx/MeeXQTlNzEZ150ss2hfg7EnkLGx\u002BUbh20hjpLvEYFw0Hba5mIbEdMf7TIOMy0dE9StJaZ/Xj/NwvHG8gZJ1VWdA\u002BKWhles6YxvptrzDZRABLq\u002BQiva8bJ3DSOwFF/M1dfccS8Khk28wDwZz7ck2rUdhq1Ly5M[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-0a1ee51f-07e5-dd11-da10-6531b78fdaf9/test-directory-c57cfa62-78ea-703b-6749-73adb44b0256/test-file-d879d222-4473-4a1d-1b04-967ceb0f89c2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4CFF6D2C4B\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:41:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:41:58.5061963Z",
        "x-ms-file-creation-time": "2021-01-21T20:41:58.4411507Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:41:58.5061963Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-0a1ee51f-07e5-dd11-da10-6531b78fdaf9/test-directory-c57cfa62-78ea-703b-6749-73adb44b0256/test-file-d879d222-4473-4a1d-1b04-967ceb0f89c2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:58 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-range-get-content-md5": "false",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4CFF6D2C4B\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:41:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:41:58.5061963Z",
        "x-ms-file-creation-time": "2021-01-21T20:41:58.4411507Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:41:58.5061963Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-0a1ee51f-07e5-dd11-da10-6531b78fdaf9?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:41:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "434393986",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}