{
  "Entries": [
    {
      "RequestUri": "https://seanchangefeed.file.core.windows.net/test-share-a1c0655c-16c4-69c9-f2c1-3fc60f5b74fd?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:42:57 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80663FD0AF36F\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 19:42:58 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanchangefeed.file.core.windows.net/test-share-a1c0655c-16c4-69c9-f2c1-3fc60f5b74fd/test-directory-8624a8d4-ed6d-c35e-3943-d40090a4333e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:42:58 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80663FD1BF863\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 19:42:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-06-01T19:42:59.0922851Z",
        "x-ms-file-creation-time": "2020-06-01T19:42:59.0922851Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-06-01T19:42:59.0922851Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "16139752084155814565*13195772385302791468",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanchangefeed.file.core.windows.net/test-share-a1c0655c-16c4-69c9-f2c1-3fc60f5b74fd/test-directory-8624a8d4-ed6d-c35e-3943-d40090a4333e/test-file-e4bce587-e253-a597-feab-95edcd68f23a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 01 Jun 2020 19:42:58 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80663FD2DAED4\u0022",
        "Last-Modified": "Mon, 01 Jun 2020 19:42:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-06-01T19:42:59.2083668Z",
        "x-ms-file-creation-time": "2020-06-01T19:42:59.2083668Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-06-01T19:42:59.2083668Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "2269855239715433890*13195772385302791468",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanchangefeed.file.core.windows.net/test-share-a1c0655c-16c4-69c9-f2c1-3fc60f5b74fd/test-directory-8624a8d4-ed6d-c35e-3943-d40090a4333e/test-file-e4bce587-e253-a597-feab-95edcd68f23a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:42:58 GMT",
        "x-ms-lease-id": "891ea7dc-b32d-2e38-977c-0d7f471a65f4",
        "x-ms-range": "bytes=0-1048575",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithFileOperation",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithFileOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the file.\n",
        "RequestId:24546f92-601a-00a5-214c-382925000000\n",
        "Time:2020-06-01T19:42:59.3330097Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanchangefeed.file.core.windows.net/test-share-a1c0655c-16c4-69c9-f2c1-3fc60f5b74fd?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jun 2020 19:42:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1972899272",
    "Storage_TestConfigDefault": "ProductionTenant\nseanchangefeed\nU2FuaXRpemVk\nhttps://seanchangefeed.blob.core.windows.net\nhttps://seanchangefeed.file.core.windows.net\nhttps://seanchangefeed.queue.core.windows.net\nhttps://seanchangefeed.table.core.windows.net\n\n\n\n\nhttps://seanchangefeed-secondary.blob.core.windows.net\nhttps://seanchangefeed-secondary.file.core.windows.net\nhttps://seanchangefeed-secondary.queue.core.windows.net\nhttps://seanchangefeed-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanchangefeed.blob.core.windows.net/;QueueEndpoint=https://seanchangefeed.queue.core.windows.net/;FileEndpoint=https://seanchangefeed.file.core.windows.net/;BlobSecondaryEndpoint=https://seanchangefeed-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanchangefeed-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanchangefeed-secondary.file.core.windows.net/;AccountName=seanchangefeed;AccountKey=Sanitized\nseanscope1"
  }
}