{
  "Entries": [
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-2e671b9f-8d68-5aa8-8131-569a30c3a3f1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 08 Sep 2020 16:13:22 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D854121E8518EA\u0022",
        "Last-Modified": "Tue, 08 Sep 2020 16:13:27 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-2e671b9f-8d68-5aa8-8131-569a30c3a3f1/test-directory-9fd86149-75ad-c563-0d78-9a7a74b9459f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 08 Sep 2020 16:13:28 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D854121F8E5C70\u0022",
        "Last-Modified": "Tue, 08 Sep 2020 16:13:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-09-08T16:13:28.8493168Z",
        "x-ms-file-creation-time": "2020-09-08T16:13:28.8493168Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-09-08T16:13:28.8493168Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17913408918638655783*10394889115079208622",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-2e671b9f-8d68-5aa8-8131-569a30c3a3f1/test-directory-9fd86149-75ad-c563-0d78-9a7a74b9459f/test-file-cecbf258-845a-5bbf-99a3-0474dc7d5f8c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 08 Sep 2020 16:13:28 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D854121F95B0BF\u0022",
        "Last-Modified": "Tue, 08 Sep 2020 16:13:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-09-08T16:13:28.8973503Z",
        "x-ms-file-creation-time": "2020-09-08T16:13:28.8973503Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-09-08T16:13:28.8973503Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4099112195243312672*10394889115079208622",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-2e671b9f-8d68-5aa8-8131-569a30c3a3f1/test-directory-9fd86149-75ad-c563-0d78-9a7a74b9459f/test-file-cecbf258-845a-5bbf-99a3-0474dc7d5f8c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 08 Sep 2020 16:13:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "J4eEdRAv2MfHaBcBdp8RM3rRkvQUkpXNTlDeg226j1QdTpwrVoi4uafd66HLLPNXK\u002BFjDqGanJXytifAUFRaDNjC4ycD5dzyGdhMN6fzAiJch1iMVoGzg7EGOZ9h92hTg97ICEjMU0UEcfXITWXt/rQFZMn7zrVXD2B1/Kw8kSFv\u002BbTJKvnZkDMSh\u002BWL6jVMGDrrXJOfV7QocfnoVleZx\u002BDTWVSxJNO6K9OV6UbQyyQqKeNyUTSNz6H/oLkA8TncecAEuJHgmvNmMDC/Cm5tV6XUvS1zJnWrRYmzsoQaujmauW\u002BGzBOTSo7wCyAEzcUykUkULDQMaVJKWHIILehvTHb2JVD/5ouRQHKegxtVp3fDgCA7BY4FjU8cPHOhixymgL\u002BqDah0M6q9guvBbeY39bH6RKzHNEbo8ZcB4qoY8LVW\[...]
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-2e671b9f-8d68-5aa8-8131-569a30c3a3f1/test-directory-9fd86149-75ad-c563-0d78-9a7a74b9459f/test-file-cecbf258-845a-5bbf-99a3-0474dc7d5f8c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 08 Sep 2020 16:13:29 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D854121F9F0139\u0022",
        "Last-Modified": "Tue, 08 Sep 2020 16:13:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-09-08T16:13:28.8973503Z",
        "x-ms-file-creation-time": "2020-09-08T16:13:28.8973503Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-09-08T16:13:28.8973503Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4099112195243312672*10394889115079208622",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-2e671b9f-8d68-5aa8-8131-569a30c3a3f1/test-directory-9fd86149-75ad-c563-0d78-9a7a74b9459f/test-file-cecbf258-845a-5bbf-99a3-0474dc7d5f8c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 08 Sep 2020 16:13:29 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D854121F9F0139\u0022",
        "Last-Modified": "Tue, 08 Sep 2020 16:13:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-09-08T16:13:28.8973503Z",
        "x-ms-file-creation-time": "2020-09-08T16:13:28.8973503Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-09-08T16:13:28.8973503Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4099112195243312672*10394889115079208622",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "J4eEdRAv2MfHaBcBdp8RM3rRkvQUkpXNTlDeg226j1QdTpwrVoi4uafd66HLLPNXK\u002BFjDqGanJXytifAUFRaDNjC4ycD5dzyGdhMN6fzAiJch1iMVoGzg7EGOZ9h92hTg97ICEjMU0UEcfXITWXt/rQFZMn7zrVXD2B1/Kw8kSE="
    },
[...]
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-2e671b9f-8d68-5aa8-8131-569a30c3a3f1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 08 Sep 2020 16:13:36 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "395414173",
    "Storage_TestConfigDefault": "ProductionTenant\nemilydevtest\nU2FuaXRpemVk\nhttp://emilydevtest.blob.core.windows.net\nhttp://emilydevtest.file.core.windows.net\nhttp://emilydevtest.queue.core.windows.net\nhttp://emilydevtest.table.core.windows.net\n\n\n\n\nhttp://emilydevtest-secondary.blob.core.windows.net\nhttp://emilydevtest-secondary.file.core.windows.net\nhttp://emilydevtest-secondary.queue.core.windows.net\nhttp://emilydevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://emilydevtest.blob.core.windows.net/;QueueEndpoint=http://emilydevtest.queue.core.windows.net/;FileEndpoint=http://emilydevtest.file.core.windows.net/;BlobSecondaryEndpoint=http://emilydevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://emilydevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://emilydevtest-secondary.file.core.windows.net/;AccountName=emilydevtest;AccountKey=Kg==;\nencryptionScope"
  }
}