{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-942bf028-6e45-6892-9b30-0521a53edade?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF9A673DA52\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-942bf028-6e45-6892-9b30-0521a53edade/test-directory-2da43ab4-f2cd-1ea2-1f8e-0299d65583e5?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF9A67BD057\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-10-07T19:46:14.5458263Z",
        "x-ms-file-creation-time": "2020-10-07T19:46:14.5458263Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-10-07T19:46:14.5458263Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-942bf028-6e45-6892-9b30-0521a53edade/test-directory-2da43ab4-f2cd-1ea2-1f8e-0299d65583e5/test-file-e71064aa-b822-68c2-9b7f-579fbff91326",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF9A68520D9\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-07T19:46:14.6068697Z",
        "x-ms-file-creation-time": "2020-10-07T19:46:14.6068697Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-07T19:46:14.6068697Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-942bf028-6e45-6892-9b30-0521a53edade/test-directory-2da43ab4-f2cd-1ea2-1f8e-0299d65583e5/test-file-e71064aa-b822-68c2-9b7f-579fbff91326?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "B54OEY5XvyT2sdojEnSYO0dbKf7L2NS5To3G4WU4GezOhSfm1TUXGBhktF9K0L6ph\u002B/EfT7cji7KVcMBkN2/vZftVYxNsWURRBDmZiR1bn3OHVp1dJyu8ff5HIBxFog7pffIXHsxXNWJsjkt9ScJVeZGMnKCSUj7P2OUU5Tlny6Iq8EsrBICncGF7MJigPvQ78eZK\u002BMVuFuvzRwXnAhBpBMLpUpl3ajURJWx/V2GmL9nxGTMS3NKcvJlfd/16gC5REeuV9qxahIfxedNZLv\u002BKDRdr9ijdFmfwDNYAF/I31mV97gV10DltllSrYaM/A02ZlWqmDsoFtDuD5emWWqyVuWOuGwD6VH0d/l\u002BUMbSE8MlIZkKHUcdbeHoJsioPl3vn1ag/UShM3wEtiBCqcUJHPvUgTfRqDmecEuKGsOISzmcj7BvMRV/hO4[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-942bf028-6e45-6892-9b30-0521a53edade/test-directory-2da43ab4-f2cd-1ea2-1f8e-0299d65583e5/test-file-e71064aa-b822-68c2-9b7f-579fbff91326",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF9A68BB1BA\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-07T19:46:14.6068697Z",
        "x-ms-file-creation-time": "2020-10-07T19:46:14.6068697Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-07T19:46:14.6068697Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-942bf028-6e45-6892-9b30-0521a53edade/test-directory-2da43ab4-f2cd-1ea2-1f8e-0299d65583e5/test-file-e71064aa-b822-68c2-9b7f-579fbff91326",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:14 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF9A68BB1BA\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-07T19:46:14.6068697Z",
        "x-ms-file-creation-time": "2020-10-07T19:46:14.6068697Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-07T19:46:14.6068697Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-942bf028-6e45-6892-9b30-0521a53edade?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:14 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "704140183",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}