{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a8d1e79d-d230-792f-13cd-cdeaf144e831?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38DCFEBB93\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a8d1e79d-d230-792f-13cd-cdeaf144e831/test-directory-edcc8001-c2a7-d958-f5af-50b18baa665d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:02 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38DD086BA0\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-09-21T19:49:02.9592992Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:02.9592992Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-21T19:49:02.9592992Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a8d1e79d-d230-792f-13cd-cdeaf144e831/test-directory-edcc8001-c2a7-d958-f5af-50b18baa665d/test-file-7e9d2ac7-ba2c-d355-43e4-bd4115c02953",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:02 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38DD122E40\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:03.0232640Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:03.0232640Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:03.0232640Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a8d1e79d-d230-792f-13cd-cdeaf144e831/test-directory-edcc8001-c2a7-d958-f5af-50b18baa665d/test-file-7e9d2ac7-ba2c-d355-43e4-bd4115c02953",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:03 GMT",
        "x-ms-lease-id": "c789f9f7-6b4c-7588-8994-a9a7509c748a",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "x-ms-error-code": "LeaseNotPresentWithFileOperation",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a8d1e79d-d230-792f-13cd-cdeaf144e831?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:03 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2062813945",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}