{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a20940ef-b9ff-dff7-547a-35f063374779?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:06 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF9A1B5AB56\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:06 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a20940ef-b9ff-dff7-547a-35f063374779/test-directory-84a6b146-0237-276c-9825-e0ae3dfb386b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF9A1BCF590\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:06 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-10-07T19:46:06.5841552Z",
        "x-ms-file-creation-time": "2020-10-07T19:46:06.5841552Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-10-07T19:46:06.5841552Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a20940ef-b9ff-dff7-547a-35f063374779/test-directory-84a6b146-0237-276c-9825-e0ae3dfb386b/test-file-eb3cc5b1-c64f-7bf2-8e54-6f1c77145eb8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF9A1C5D0CD\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-07T19:46:06.6421965Z",
        "x-ms-file-creation-time": "2020-10-07T19:46:06.6421965Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-07T19:46:06.6421965Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a20940ef-b9ff-dff7-547a-35f063374779/test-directory-84a6b146-0237-276c-9825-e0ae3dfb386b/test-file-eb3cc5b1-c64f-7bf2-8e54-6f1c77145eb8?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-02-10",
        "x-ms-write": "update"
      },
      "RequestBody": "jGIqV/iY4PqBS8Fk6Ywtrx/T5xlGQyo2EI3r4OgLIwnoVVOXvq4UL0O6dPaeEUV5abQEZNHQfEg480ZqrP8SdSi3fJQ4lvBxvrjWi88zl/9IcXYzB784F9gLX8pnqoJDqP7O55WxQdPDk6UZ\u002BfB5BFtHIjuI3m5pf2S7LTclCRQ2k\u002BPRZbBpli\u002Bjb3QZHh7nkVpvH4hGusmQZWgx9hSbnYmQ42YNqJ\u002Bq3YsL5W75T2BG05vdtuqM79kZQABIOKAbB9HriDu42um6xEH8O9RalhUH6iJ5vuefBPOM82efYqXr8N2dDsYkjvmxIvKoj7MEv6rqQU19oUnqS4RHK\u002BaCG2KcEUv3vYdP41wpx5z19nRAiDS9tSFXbU6UssJC3GISLwaQC35oDQEim13xVNqs9VQPB6KyxWZARaT9YgvEDAb5F5iWZe[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a20940ef-b9ff-dff7-547a-35f063374779/test-directory-84a6b146-0237-276c-9825-e0ae3dfb386b/test-file-eb3cc5b1-c64f-7bf2-8e54-6f1c77145eb8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:06 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF9A1CCAFDD\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-07T19:46:06.6421965Z",
        "x-ms-file-creation-time": "2020-10-07T19:46:06.6421965Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-07T19:46:06.6421965Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a20940ef-b9ff-dff7-547a-35f063374779?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "793619801",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}