{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b62aeb9c-bee3-67a0-a932-6386294c8eb6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:25 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38EA3F96A7\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:25 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b62aeb9c-bee3-67a0-a932-6386294c8eb6/test-directory-d3b7565e-26f7-260d-842b-b7c3f68668aa?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:25 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38EA49BB3C\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-09-21T19:49:25.1977020Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:25.1977020Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-21T19:49:25.1977020Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b62aeb9c-bee3-67a0-a932-6386294c8eb6/test-directory-d3b7565e-26f7-260d-842b-b7c3f68668aa/test-file-bba51b91-e576-980e-4cfc-6755ca81167d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:25 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38EA5356C6\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:25.2606662Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:25.2606662Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:25.2606662Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b62aeb9c-bee3-67a0-a932-6386294c8eb6/test-directory-d3b7565e-26f7-260d-842b-b7c3f68668aa/test-file-bba51b91-e576-980e-4cfc-6755ca81167d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "YmnE1BUlGlsDnJIhIhvEnKVH1XrLv2MX3JP7PPsbAkYJuo/4I7JayGFfpKoRpsP0MGqR0CRSfqIFrfeBKd5g6JpMGGiLy3nz7Q0YbBu5BjbQBwuRiTEitjzt83a72Z6C/7sPxY5aaGXwnuMXORKHTKfAsSLTzl9pKWEsntgDNxRulm1fqUGndZ6moepOC30pZqbP\u002Bih7rzBcppstLsmM7GbPqKOlJ6JlGTuELC11Gh7kAjgxND3r8uY8AwOlekbUGbSDfmLZhD4DaeHs94ID54t8SCyRWrcp47W8aCSfwJ70rxN48Zu7Cn35Lstc//tjORx3KDEaQr78WputHBwaZKhC90hvivXwwT6umCzszOO6WS8IKJds2mxVfJcADu1h3soiGQiz9K4mh2fza6qREI238sPsEjwR1h3bGg5e77JQTbliybLbB2WA4aAveG7Bw2sJSB[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b62aeb9c-bee3-67a0-a932-6386294c8eb6/test-directory-d3b7565e-26f7-260d-842b-b7c3f68668aa/test-file-bba51b91-e576-980e-4cfc-6755ca81167d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:25 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38EA63F62E\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:25.2606662Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:25.2606662Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:25.2606662Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b62aeb9c-bee3-67a0-a932-6386294c8eb6/test-directory-d3b7565e-26f7-260d-842b-b7c3f68668aa/test-file-bba51b91-e576-980e-4cfc-6755ca81167d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:25 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38EA63F62E\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:25.2606662Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:25.2606662Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:25.2606662Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b62aeb9c-bee3-67a0-a932-6386294c8eb6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:25 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1666567592",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}