{
  "Entries": [
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-436fbd4e-ecd8-40fb-40e8-46486eda60d8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 08 Sep 2020 16:13:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85412120DC89E\u0022",
        "Last-Modified": "Tue, 08 Sep 2020 16:13:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-436fbd4e-ecd8-40fb-40e8-46486eda60d8/test-directory-af59a525-a64e-f571-ffc1-a132b526c536?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 08 Sep 2020 16:13:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85412122022E3\u0022",
        "Last-Modified": "Tue, 08 Sep 2020 16:13:06 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-09-08T16:13:06.3165667Z",
        "x-ms-file-creation-time": "2020-09-08T16:13:06.3165667Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-09-08T16:13:06.3165667Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17913408918638655783*10394889115079208622",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-436fbd4e-ecd8-40fb-40e8-46486eda60d8/test-directory-af59a525-a64e-f571-ffc1-a132b526c536/test-file-faf133b4-1f5c-eba3-4e52-86a0a31cf001",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 08 Sep 2020 16:13:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85412122505C1\u0022",
        "Last-Modified": "Tue, 08 Sep 2020 16:13:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-09-08T16:13:06.3485889Z",
        "x-ms-file-creation-time": "2020-09-08T16:13:06.3485889Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-09-08T16:13:06.3485889Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4099112195243312672*10394889115079208622",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-436fbd4e-ecd8-40fb-40e8-46486eda60d8/test-directory-af59a525-a64e-f571-ffc1-a132b526c536/test-file-faf133b4-1f5c-eba3-4e52-86a0a31cf001?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 08 Sep 2020 16:13:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "\u002BxY0K4bNcI7ILbRXiQfr9yORlVZ28YbM0XR5682i9xRxP2/z0nKJ0O4gDIIBuw26kdIXolEuZgqQaFkSVITBJjWg5kmX9yWxB8VnVeQDyhZmvlr6ilTDQthlYmoYdntqX\u002BZNYNTDIpmsZpqMxxEljZ1Dq5Uqxpvg3aNxMpW7mZFJ/fb\u002BtmlCopvATSS5NnvHP9XM1crlP5lLbIMwUu8E8c0JQskaJ9YzAAn6aXh2JqYoqfK/7sPGY71cs0nmEVCrvFxXsPSxrBj/mNTB69Uh1EXdCKj8RQIJQ98MvnOMTe64Tq0cH3aydv3av1XvBHfoO94ECQmorndZTm0Upe6kckvlCZ0oBbXPKpGqIoWtGT5nI4OViETlEJ81wtEJndAPNU0KCfvawDYpNN53/YzyrDQurYJrD\u002BkHAPj\u002B8kLkxY3Bm\u002[...]
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-436fbd4e-ecd8-40fb-40e8-46486eda60d8/test-directory-af59a525-a64e-f571-ffc1-a132b526c536/test-file-faf133b4-1f5c-eba3-4e52-86a0a31cf001",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 08 Sep 2020 16:13:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D854121230526F\u0022",
        "Last-Modified": "Tue, 08 Sep 2020 16:13:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-09-08T16:13:06.3485889Z",
        "x-ms-file-creation-time": "2020-09-08T16:13:06.3485889Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-09-08T16:13:06.3485889Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4099112195243312672*10394889115079208622",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-436fbd4e-ecd8-40fb-40e8-46486eda60d8/test-directory-af59a525-a64e-f571-ffc1-a132b526c536/test-file-faf133b4-1f5c-eba3-4e52-86a0a31cf001",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 08 Sep 2020 16:13:06 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D854121230526F\u0022",
        "Last-Modified": "Tue, 08 Sep 2020 16:13:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-09-08T16:13:06.3485889Z",
        "x-ms-file-creation-time": "2020-09-08T16:13:06.3485889Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-09-08T16:13:06.3485889Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-436fbd4e-ecd8-40fb-40e8-46486eda60d8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 08 Sep 2020 16:13:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "487161417",
    "Storage_TestConfigDefault": "ProductionTenant\nemilydevtest\nU2FuaXRpemVk\nhttp://emilydevtest.blob.core.windows.net\nhttp://emilydevtest.file.core.windows.net\nhttp://emilydevtest.queue.core.windows.net\nhttp://emilydevtest.table.core.windows.net\n\n\n\n\nhttp://emilydevtest-secondary.blob.core.windows.net\nhttp://emilydevtest-secondary.file.core.windows.net\nhttp://emilydevtest-secondary.queue.core.windows.net\nhttp://emilydevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://emilydevtest.blob.core.windows.net/;QueueEndpoint=http://emilydevtest.queue.core.windows.net/;FileEndpoint=http://emilydevtest.file.core.windows.net/;BlobSecondaryEndpoint=http://emilydevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://emilydevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://emilydevtest-secondary.file.core.windows.net/;AccountName=emilydevtest;AccountKey=Kg==;\nencryptionScope"
  }
}