{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-67bf3a8d-6d8e-ed34-f417-1376c40cfb94?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:40:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CC0E8FE36\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:40:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-67bf3a8d-6d8e-ed34-f417-1376c40cfb94/test-directory-9312c34d-4216-fcf7-2c59-ea29ef4e9811?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:40:13 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CC0F43636\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:40:13 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:40:13.6947254Z",
        "x-ms-file-creation-time": "2021-01-21T20:40:13.6947254Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:40:13.6947254Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-67bf3a8d-6d8e-ed34-f417-1376c40cfb94/test-directory-9312c34d-4216-fcf7-2c59-ea29ef4e9811/test-file-0ec60b24-8086-5ecc-dc70-50082995ff4e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 21 Jan 2021 20:40:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CC0FEBF70\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:40:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:40:13.7637744Z",
        "x-ms-file-creation-time": "2021-01-21T20:40:13.7637744Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:40:13.7637744Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-67bf3a8d-6d8e-ed34-f417-1376c40cfb94/test-directory-9312c34d-4216-fcf7-2c59-ea29ef4e9811/test-file-0ec60b24-8086-5ecc-dc70-50082995ff4e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:40:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "rfRoeyGXyQua3iJCgzFw3xtHrti3B0AxXTrXLbUXfIwW4ReW5MKC5E2M9vEGDflIAa32cDfkJqa0Nh3mv5xWg2KWK6EZ2ftYxMqLKhBOKlBAjysHIAxVMbtx4q2lmySxNnOPcOFXLyeynqtsWfuWZQvNpjBwTmJWQfnmqPdOsyil2vScvrpu6V8EVYJg6Ni/2n2h1/X0QecQOS/ncYYwY\u002BuDx38H\u002BaZRXrzQa/ng9VghJ815rNsysJkNjIWKhnjZ1PGX3CFZuOHWUHg4JNXtL0PWxkm4trcPUBbl\u002BW0hxthE9pcISRg3x2/so1xi\u002BYvDH1xBtMAuIR05h4wKc75ztImg9C4\u002B5eYrn/7ayxNbrFaKItkR4BIXFtV5zsKMLVSwee7SwQVdhDp2FhTBVFUK3to2f1DkYtR3iN1YxRcjnnGqKVIkie[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-67bf3a8d-6d8e-ed34-f417-1376c40cfb94/test-directory-9312c34d-4216-fcf7-2c59-ea29ef4e9811/test-file-0ec60b24-8086-5ecc-dc70-50082995ff4e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:40:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4CC107C1C7\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:40:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:40:13.8228167Z",
        "x-ms-file-creation-time": "2021-01-21T20:40:13.7637744Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:40:13.8228167Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-67bf3a8d-6d8e-ed34-f417-1376c40cfb94/test-directory-9312c34d-4216-fcf7-2c59-ea29ef4e9811/test-file-0ec60b24-8086-5ecc-dc70-50082995ff4e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:40:14 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-range-get-content-md5": "false",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4CC107C1C7\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:40:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:40:13.8228167Z",
        "x-ms-file-creation-time": "2021-01-21T20:40:13.7637744Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:40:13.8228167Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-67bf3a8d-6d8e-ed34-f417-1376c40cfb94?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:40:14 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "308940574",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}