{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-69a51387-4717-5098-188d-0df57fb4a1a8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:23 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38E91062E8\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:23 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-69a51387-4717-5098-188d-0df57fb4a1a8/test-directory-dfb8c24b-d7b7-40b8-f2c4-2919aba0c3b9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:23 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38E919CBBD\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:23 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-09-21T19:49:23.2058301Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:23.2058301Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-21T19:49:23.2058301Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-69a51387-4717-5098-188d-0df57fb4a1a8/test-directory-dfb8c24b-d7b7-40b8-f2c4-2919aba0c3b9/test-file-18d0aeba-d575-b1ee-5b22-a7cdb2d9ccff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:23 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38E922CB21\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:23.2647969Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:23.2647969Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:23.2647969Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-69a51387-4717-5098-188d-0df57fb4a1a8/test-directory-dfb8c24b-d7b7-40b8-f2c4-2919aba0c3b9/test-file-18d0aeba-d575-b1ee-5b22-a7cdb2d9ccff?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "UC5OgryOzY5RNZ7DRXPhn3vE1nH0\u002BRNS1h6TtMr9fwWfm/QwBMWotGwdeHCPfLom/lP3P2TiAlYb/Kyd\u002BhnDVLWYI6p\u002BsZq2GyIE14GiwllkbbZ3BUChvZmdFQgYCrlTWiO69lgQp0y4QSNB3SvVeDlTOY1iTE5192YR4JyRnRFosXxd6MsAVMVpvsQdYN9tyJzOxdEs8A7VRf/y/8awJqMR2Cyud5BtUuTH\u002BY2KV5eGoxj/wthAPMBtiKLMDlX\u002BuJcgDIezv1AMYXLsZfeASu1na1uusWPL0ZxsQO/toEOPyED2aksP0uPH8mFlVNbI7T20ZKP5TwczVDrrR35hHsAvXJy2iuCiWJh45r4CZnzFo1OxODyflng5whUQJItlZtShNfc6EmJdEgwKgWlIMe6\u002BJaQrr\u002BWEj8YjfcjK[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-69a51387-4717-5098-188d-0df57fb4a1a8/test-directory-dfb8c24b-d7b7-40b8-f2c4-2919aba0c3b9/test-file-18d0aeba-d575-b1ee-5b22-a7cdb2d9ccff",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:23 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38E9339192\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:23.2647969Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:23.2647969Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:23.2647969Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-69a51387-4717-5098-188d-0df57fb4a1a8/test-directory-dfb8c24b-d7b7-40b8-f2c4-2919aba0c3b9/test-file-18d0aeba-d575-b1ee-5b22-a7cdb2d9ccff",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:23 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38E9339192\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:23.2647969Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:23.2647969Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:23.2647969Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-69a51387-4717-5098-188d-0df57fb4a1a8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:23 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "966414069",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}