{
  "Entries": [
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-77515420-4195-bc47-0ef4-ef2abebce3ed?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:13:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8503D6F5BA660\u0022",
        "Last-Modified": "Thu, 03 Sep 2020 19:13:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-77515420-4195-bc47-0ef4-ef2abebce3ed/test-directory-355bcac1-af95-16a3-411e-336a35611ef8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:13:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8503D6F64DFCF\u0022",
        "Last-Modified": "Thu, 03 Sep 2020 19:13:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-09-03T19:13:26.5034191Z",
        "x-ms-file-creation-time": "2020-09-03T19:13:26.5034191Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-09-03T19:13:26.5034191Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17913408918638655783*10394889115079208622",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-77515420-4195-bc47-0ef4-ef2abebce3ed/test-directory-355bcac1-af95-16a3-411e-336a35611ef8/test-file-5e1352cc-62d7-baae-7702-fe2cf58557ba",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:13:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://emilydevtest.file.core.windows.net/test-share-77515420-4195-bc47-0ef4-ef2abebce3ed?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Sep 2020 19:13:26 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "227952279",
    "Storage_TestConfigDefault": "ProductionTenant\nemilydevtest\nU2FuaXRpemVk\nhttp://emilydevtest.blob.core.windows.net\nhttp://emilydevtest.file.core.windows.net\nhttp://emilydevtest.queue.core.windows.net\nhttp://emilydevtest.table.core.windows.net\n\n\n\n\nhttp://emilydevtest-secondary.blob.core.windows.net\nhttp://emilydevtest-secondary.file.core.windows.net\nhttp://emilydevtest-secondary.queue.core.windows.net\nhttp://emilydevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://emilydevtest.blob.core.windows.net/;QueueEndpoint=http://emilydevtest.queue.core.windows.net/;FileEndpoint=http://emilydevtest.file.core.windows.net/;BlobSecondaryEndpoint=http://emilydevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://emilydevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://emilydevtest-secondary.file.core.windows.net/;AccountName=emilydevtest;AccountKey=Kg==;\nencryptionScope"
  }
}