{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-48172401-4f2f-50d3-ca30-d6ec535dc2b3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:27 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C5E00AB0F\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:37:27 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-48172401-4f2f-50d3-ca30-d6ec535dc2b3/test-directory-5e9d2b7c-78d4-a24f-3c4c-eb76c08980e2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:28 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C5E0A76CC\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:37:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:37:27.7461196Z",
        "x-ms-file-creation-time": "2021-01-21T20:37:27.7461196Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:37:27.7461196Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-48172401-4f2f-50d3-ca30-d6ec535dc2b3/test-directory-5e9d2b7c-78d4-a24f-3c4c-eb76c08980e2/test-file-3b07de24-ec25-e406-820c-4361750be88d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:28 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C5E13C75E\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:37:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:37:27.8071646Z",
        "x-ms-file-creation-time": "2021-01-21T20:37:27.8071646Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:37:27.8071646Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-48172401-4f2f-50d3-ca30-d6ec535dc2b3/test-directory-5e9d2b7c-78d4-a24f-3c4c-eb76c08980e2/test-file-3b07de24-ec25-e406-820c-4361750be88d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:28 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "gronQBkASiwWsGJpo0Lge32W6ee72pkrdGZTHBnBSS8wm4sHmo47i46hjplx3eOVbrvVDuNSfqch/MuzrC4SVWYyOQi22eHuWl5YGkz/uZeCvq1e7DpM3R3k5p3Ch95gjjgyPqPa35XZ5rOF\u002BWNaIUIzMe6AtGks5lvr0vNDK9J/\u002BIwTzXvzp94YhAaGxuS5icRbj1bw39nPBlhI7wyhlrrhBgHWR1THP4kPaC9jpR93MUgu55x8jxmyQ8Yiq7jSdu1LpcDj40Jwk0/M4HepbGA40b3Ec64dZHfnIwONpJTRPfFCF/9elE4GvlNNr66hCddl6tn7DQM/LkFJ\u002B78/4\u002B\u002B6\u002B6KGZ1Rh2T1uvbRaz7XIRhorJ7q61i/tAum\u002BFJiPx9tkk7MMG6GCBBCcjE9O5F6LgbSlE7s1/yVymGRr[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-48172401-4f2f-50d3-ca30-d6ec535dc2b3/test-directory-5e9d2b7c-78d4-a24f-3c4c-eb76c08980e2/test-file-3b07de24-ec25-e406-820c-4361750be88d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4C5E1EC5DF\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:37:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:37:27.8792159Z",
        "x-ms-file-creation-time": "2021-01-21T20:37:27.8071646Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:37:27.8792159Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-48172401-4f2f-50d3-ca30-d6ec535dc2b3/test-directory-5e9d2b7c-78d4-a24f-3c4c-eb76c08980e2/test-file-3b07de24-ec25-e406-820c-4361750be88d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:28 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-range-get-content-md5": "false",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4C5E1EC5DF\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:37:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:37:27.8792159Z",
        "x-ms-file-creation-time": "2021-01-21T20:37:27.8071646Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:37:27.8792159Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-48172401-4f2f-50d3-ca30-d6ec535dc2b3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:28 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1442186887",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}