{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e8e6098f-cc6c-7a5a-d687-c8fd16adfbf0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:17:17 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B306929EE55\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:17:18 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e8e6098f-cc6c-7a5a-d687-c8fd16adfbf0/test-directory-cf5d8983-df06-a311-745c-7bc49e47651f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:17:18 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B306930EC2B\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:17:18 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-08-08T00:17:18.2208043Z",
        "x-ms-file-creation-time": "2020-08-08T00:17:18.2208043Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-08-08T00:17:18.2208043Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e8e6098f-cc6c-7a5a-d687-c8fd16adfbf0/test-directory-cf5d8983-df06-a311-745c-7bc49e47651f/test-file-5881114a-9f6d-0d98-e526-6dc51047e8ce",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Sat, 08 Aug 2020 00:17:18 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B30693707CE\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:17:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-08-08T00:17:18.2608334Z",
        "x-ms-file-creation-time": "2020-08-08T00:17:18.2608334Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-08-08T00:17:18.2608334Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e8e6098f-cc6c-7a5a-d687-c8fd16adfbf0/test-directory-cf5d8983-df06-a311-745c-7bc49e47651f/test-file-5881114a-9f6d-0d98-e526-6dc51047e8ce?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:17:18 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "svwlSrfaxSFM4894ZbO6zs2Cf6kkUhH\u002Bu4KlM910jVPfQj1/bSiUcExgC4rPH6cybJ74jsg/qV/rJ481NZFD2FZ8mCJ1OmGk7Q9cw0eHL5vac8c/fP6KoJnelEaZXjq7HTI0UoaFvDE9U6C54uUYY/fzWsLKBFtX8fiIl6UbC4/UoaYUU9wVVbaVAShe0b2zxTFOpQR48BjX3GGO/CSMIUgR5EE\u002BBBAb3gULNQIz\u002BB861dF0zGWLXLCOPXZ7hliRCN/gTe17dMEgMsf\u002BbLoVpORBVCdTF1XihoiRsMeaoFiseSwiUqsyvmAQVJmejO/1eJiROjIxPvCK/sdk6sT6hZJuUvON81E5DpXHQsO7Q/mZnDguCGYlejs8l1TjztScFs4HLzr8Z4RHWCudavstz7rNyk6Ly3wsSde3UVv9VT/BKyz1sxO/nTS[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e8e6098f-cc6c-7a5a-d687-c8fd16adfbf0/test-directory-cf5d8983-df06-a311-745c-7bc49e47651f/test-file-5881114a-9f6d-0d98-e526-6dc51047e8ce",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:17:18 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D83B30693CFC58\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:17:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-08-08T00:17:18.2608334Z",
        "x-ms-file-creation-time": "2020-08-08T00:17:18.2608334Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-08-08T00:17:18.2608334Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "svwlSrfaxSFM4894ZbO6zs2Cf6kkUhH\u002Bu4KlM910jVPfQj1/bSiUcExgC4rPH6cybJ74jsg/qV/rJ481NZFD2FZ8mCJ1OmGk7Q9cw0eHL5vac8c/fP6KoJnelEaZXjq7HTI0UoaFvDE9U6C54uUYY/fzWsLKBFtX8fiIl6UbC4/UoaYUU9wVVbaVAShe0b2zxTFOpQR48BjX3GGO/CSMIUgR5EE\u002BBBAb3gULNQIz\u002BB861dF0zGWLXLCOPXZ7hliRCN/gTe17dMEgMsf\u002BbLoVpORBVCdTF1XihoiRsMeaoFiseSwiUqsyvmAQVJmejO/1eJiROjIxPvCK/sdk6sT6hZJuUvON81E5DpXHQsO7Q/mZnDguCGYle[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e8e6098f-cc6c-7a5a-d687-c8fd16adfbf0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:17:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1269835954",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}