{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-403d8ec1-b873-ac46-f38f-76b5f93c3eaf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:40:09 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CBE3A088D\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:40:09 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-403d8ec1-b873-ac46-f38f-76b5f93c3eaf/test-directory-5ddb4f85-48c0-5511-c7f7-623dd6cd7a22?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:40:09 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CBE44EDD2\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:40:09 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:40:09.1905490Z",
        "x-ms-file-creation-time": "2021-01-21T20:40:09.1905490Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:40:09.1905490Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-403d8ec1-b873-ac46-f38f-76b5f93c3eaf/test-directory-5ddb4f85-48c0-5511-c7f7-623dd6cd7a22/test-file-0935421f-e3c4-5ff9-da48-9af2191b868c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 21 Jan 2021 20:40:09 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CBE4F01C0\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:40:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:40:09.2565952Z",
        "x-ms-file-creation-time": "2021-01-21T20:40:09.2565952Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:40:09.2565952Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-403d8ec1-b873-ac46-f38f-76b5f93c3eaf/test-directory-5ddb4f85-48c0-5511-c7f7-623dd6cd7a22/test-file-0935421f-e3c4-5ff9-da48-9af2191b868c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:40:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "6EHjTAWMZmlV5TDmNSBMMnBWw/HZli5oLit1RsE7W1uvAQjHsjoG7X6KjQ60XWuYAyhNQw04OFETex7ZFyCnGonUNjMYhX81UNZzTwkfs9C/3EKZ7RhNd8m2tDYcLNZd4nKE3yY4f36oGPM3xOlI88dNGjrdDS1xh79qYdBIGCP/FmyWmtOqh13D8dQlFrLfbsBvzxKbf9RFE1hmzR2tX//PN658slnzo5LdGhxZS3ANivMQ2UkQZJaXUYZ7Q7k/FpLUVd4DYrxmeyx/vmW47MjnWUMqnYW2v9MY5WDSeGDZngOKhPWRCSc3qV4dkaYw3mW\u002Bk\u002Bl1FHkMHpYL631blALMph9hLmfSVlAb8vMnmS4t5wb7E\u002BV2Y4mKfWVehh2p3BVbUOqGzrD97D2ZWiKF5YVo3gN3YIAdVUKW17ACc88ycRXdy0hDpxhV/Seo[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-403d8ec1-b873-ac46-f38f-76b5f93c3eaf/test-directory-5ddb4f85-48c0-5511-c7f7-623dd6cd7a22/test-file-0935421f-e3c4-5ff9-da48-9af2191b868c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:40:09 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4CBE5A0040\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:40:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:40:09.3286464Z",
        "x-ms-file-creation-time": "2021-01-21T20:40:09.2565952Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:40:09.3286464Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-403d8ec1-b873-ac46-f38f-76b5f93c3eaf?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:40:09 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1179704531",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}