{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a8e876b6-1bcb-8733-be1e-91203f1eea46?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:30:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230CFFFAD8F\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:30:17 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a8e876b6-1bcb-8733-be1e-91203f1eea46/test-directory-01b43e4e-fdb5-992b-770d-f6dfb04059f1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:30:18 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230D00AC32E\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:30:17 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-26T19:30:17.7510190Z",
        "x-ms-file-creation-time": "2021-01-26T19:30:17.7510190Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-26T19:30:17.7510190Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a8e876b6-1bcb-8733-be1e-91203f1eea46/test-directory-01b43e4e-fdb5-992b-770d-f6dfb04059f1/test-file-260a1109-40c5-129a-a589-3ea12b88c4c0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 26 Jan 2021 19:30:18 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230D01413A9\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:30:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:30:17.8120617Z",
        "x-ms-file-creation-time": "2021-01-26T19:30:17.8120617Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:30:17.8120617Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a8e876b6-1bcb-8733-be1e-91203f1eea46/test-directory-01b43e4e-fdb5-992b-770d-f6dfb04059f1/test-file-260a1109-40c5-129a-a589-3ea12b88c4c0?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 26 Jan 2021 19:30:18 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-write": "update"
      },
      "RequestBody": "GymqMNT\u002B6/Jjir22yIiWhybkf8Wba9itrG8GpEV9E90Q4YfZRbY9Yf\u002Byi476YZH/WY82MuYotrBQ/IRl\u002BEas5XbgpuYAvEFwph7G6d9Ks0rdB0q2RuD25yrWiUgx2Gi4BaUXGbqr/pxNxozIYs3RBUk5h/D79p6W6b\u002B7KjP4Ps21DeM5M5mQMgmuaIBULoRdBYP/\u002BFB3vA8HgTD779RpVIe\u002BElTpl9KwqVXnTY0eQbo6XiSw\u002BUZ9PVHUMrFolEM0RRP4lRsvc22wTk76kG\u002BB6D91wJGvuVpBQdUDFWUhSBQSsgh6JaufC\u002Bq2/6v3gq3hUklx8tSyhYy4tlRGK10IjwY56N1mB8KT1rWm\u002BLmvSb4nIcIbr1VAYC18wW5XWd\u002BMrnClvpnQe0uG3RseC43S[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a8e876b6-1bcb-8733-be1e-91203f1eea46/test-directory-01b43e4e-fdb5-992b-770d-f6dfb04059f1/test-file-260a1109-40c5-129a-a589-3ea12b88c4c0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:30:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C230D01FFCB4\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:30:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:30:17.8901172Z",
        "x-ms-file-creation-time": "2021-01-26T19:30:17.8120617Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:30:17.8901172Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a8e876b6-1bcb-8733-be1e-91203f1eea46/test-directory-01b43e4e-fdb5-992b-770d-f6dfb04059f1/test-file-260a1109-40c5-129a-a589-3ea12b88c4c0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:30:18 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-range-get-content-md5": "false"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C230D01FFCB4\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:30:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:30:17.8901172Z",
        "x-ms-file-creation-time": "2021-01-26T19:30:17.8120617Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:30:17.8901172Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a8e876b6-1bcb-8733-be1e-91203f1eea46?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:30:18 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "614693024",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}