{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-aa8a7289-14a6-4be5-76a4-a8c0bcf36cbf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:22 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CA28164C1\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:22 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-aa8a7289-14a6-4be5-76a4-a8c0bcf36cbf/test-directory-2da278ed-22c1-d88b-8748-993db52d6c78?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:22 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CA28BCA1C\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:39:22.6787356Z",
        "x-ms-file-creation-time": "2021-01-21T20:39:22.6787356Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:39:22.6787356Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-aa8a7289-14a6-4be5-76a4-a8c0bcf36cbf/test-directory-2da278ed-22c1-d88b-8748-993db52d6c78/test-file-03990a12-d0e6-b228-2f41-54751449881d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:23 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CA298286A\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:39:22.7597930Z",
        "x-ms-file-creation-time": "2021-01-21T20:39:22.7597930Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:39:22.7597930Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-aa8a7289-14a6-4be5-76a4-a8c0bcf36cbf/test-directory-2da278ed-22c1-d88b-8748-993db52d6c78/test-file-03990a12-d0e6-b228-2f41-54751449881d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "Wg3JZVh86PIf\u002BX175cyseDxqufdiBR2rt3OfVA86wEccXWQdRabWB9XYR2HonC/8tnLhfq4xfVTwHq7l3ZPj5Dk1XohojzOVk7Ihir67whpEop6dWEKZ6\u002BAPLSb48SlB9WIosz2mlCc\u002BTOr8D/KWNFyToDr1RYz3nHOoWGEMnKGI4JVckw/dnQ13XwxXnNvtefjKZVDuTK/VMBbK/jzFMq9Jcy9dOaBNtgMtfuZ/oP\u002BXu99pQjdQmZTlhmL4Ep/RsSxcDSisj0BYfa9Nwc3JVZAWMkNdXO94\u002BNqbeLI9VKNkXMy5I5LW6yueEMWIA9fGGzDS4eBbdFU95BVOEReNGigL6WUAEDL\u002BP0cYvksq7/UC1FyBa3LDCOd2fD58iNkTEfWcfBlyxQv91KGYQ7UKEvUgSzy7C6\u002B1SOF9ipT0[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-aa8a7289-14a6-4be5-76a4-a8c0bcf36cbf/test-directory-2da278ed-22c1-d88b-8748-993db52d6c78/test-file-03990a12-d0e6-b228-2f41-54751449881d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:23 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4CA2A37514\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:39:22.8338452Z",
        "x-ms-file-creation-time": "2021-01-21T20:39:22.7597930Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:39:22.8338452Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-aa8a7289-14a6-4be5-76a4-a8c0bcf36cbf/test-directory-2da278ed-22c1-d88b-8748-993db52d6c78/test-file-03990a12-d0e6-b228-2f41-54751449881d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:23 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-range-get-content-md5": "false",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4CA2A37514\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:39:22.8338452Z",
        "x-ms-file-creation-time": "2021-01-21T20:39:22.7597930Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:39:22.8338452Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "3ytjxhaM369ygz6Z6RDDpX5NxIrPhtAGcvsxZNkLNecktCY/msCMah76qwcPM31Sb8zYM9nxrFhbXVMbWnvWZ05WdDTqhAq\u002BwFls1dvI9j993/UNMgIOMwfN5D1scBCiJEO5ub5IaOrBGXJ/hNd9kmcUnnuFyTRLSEEsHKDNUlA="
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-aa8a7289-14a6-4be5-76a4-a8c0bcf36cbf?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:23 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1417687179",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}