{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8ec7020f-86be-f456-2df9-cb8841d72f41?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:10 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D06AF4CD6\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:10 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8ec7020f-86be-f456-2df9-cb8841d72f41/test-directory-e3415f33-4262-43d1-28e9-e83e6fee7de1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D06B96A22\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:42:10.7499042Z",
        "x-ms-file-creation-time": "2021-01-21T20:42:10.7499042Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:42:10.7499042Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8ec7020f-86be-f456-2df9-cb8841d72f41/test-directory-e3415f33-4262-43d1-28e9-e83e6fee7de1/test-file-6514522b-0f53-7b48-910f-0f87b221aa41",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D06C37E18\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:42:10.8159512Z",
        "x-ms-file-creation-time": "2021-01-21T20:42:10.8159512Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:42:10.8159512Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8ec7020f-86be-f456-2df9-cb8841d72f41/test-directory-e3415f33-4262-43d1-28e9-e83e6fee7de1/test-file-6514522b-0f53-7b48-910f-0f87b221aa41",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4D06C37E18\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:42:10.8159512Z",
        "x-ms-file-creation-time": "2021-01-21T20:42:10.8159512Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:42:10.8159512Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8ec7020f-86be-f456-2df9-cb8841d72f41/test-directory-e3415f33-4262-43d1-28e9-e83e6fee7de1/test-file-6514522b-0f53-7b48-910f-0f87b221aa41?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:11 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "eA1ewzd9DMR8blbZI/sRTBbvPeqdZG7TVsr\u002BAeHbfunGTdRc5jXpzbvAyWQBRY8YpznkOOfIAhOfimxtfgvjoO9sEtYmtWbhBXAv3ZoK0hE75lqn9kYB/UrBvFzIfE6w3Cl0lTO58fHTAjJ3mSV4lbdbMpiwO6mpahSLZfgJGYkhfgBxlTzdgfRo1PMTiWQlSCekbUq2/6F/yioeLYz5yemoVhokB/97fbCjSGa2luCwZRzRZas/a39f8ssSvlRobwsKajNJAUEoKe\u002BZErc6yTRJbshvJ2M9aOqbxRQ0aL5cO9lbqyutZmTbqTy8pVjHJCmWyFCL\u002BUenzAJIrTss9MAwPdfe3x0JnAdjk34ngcKS1KHrnaBu0EKRs98oZLgor7V8jGiB6UQLjCtIJ2XIgEs/ttmaQFYfwW2VTCw94DhOO\u002BTJqvRaEepc3xB1JqjcyDKU6a3fjm5eXMr665wYzqzz\u002BeyA/9VW5KXuPWFGqpvEuIT5qfeKb6x2a04qXyVNRBFkgSy7XMlcPgQI8FANGLEuNTIYHiW1aIk/CpSHK4R/oflP4ShvCFy7nWrygX9caFKc/CnzNSXsrxmifFE01RKAiU9WvTaIvi3VXYG6w\u002BcK46FB6i9ajGzUYzIPzIwLhsdYcfgvBaobEz38HdekMewyl5iv8\u002BriJf3igloEefI=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "UXpuPIMfuyZUmgHIRm/rHA==",
        "ETag": "\u00220x8D8BE4D06D7A609\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8ec7020f-86be-f456-2df9-cb8841d72f41/test-directory-e3415f33-4262-43d1-28e9-e83e6fee7de1/test-file-6514522b-0f53-7b48-910f-0f87b221aa41",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:11 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4D06E144C0\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:42:11.0110912Z",
        "x-ms-file-creation-time": "2021-01-21T20:42:10.8159512Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:42:11.0110912Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8ec7020f-86be-f456-2df9-cb8841d72f41?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:11 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1495784271",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}