{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-860ca257-bbfb-6293-b189-81070c2b9344?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:27 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38EBBD91CD\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:27 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-860ca257-bbfb-6293-b189-81070c2b9344/test-directory-ac4f7972-3f5c-0ec6-6029-737a77321619?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:27 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38EBC6FC35\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-09-21T19:49:27.6962869Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:27.6962869Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-21T19:49:27.6962869Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-860ca257-bbfb-6293-b189-81070c2b9344/test-directory-ac4f7972-3f5c-0ec6-6029-737a77321619/test-file-0500e037-4123-ba3e-aba9-223ddb961799",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:27 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38EBCFFB95\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:27.7552533Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:27.7552533Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:27.7552533Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-860ca257-bbfb-6293-b189-81070c2b9344/test-directory-ac4f7972-3f5c-0ec6-6029-737a77321619/test-file-0500e037-4123-ba3e-aba9-223ddb961799?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "VILnJzHcrjXhkOOHzX5hHGqSxltDQ9BP1TqY1kcSQkUSYfMqXZav2G648bjin/nYQdkZ6b1mzBCxl1L2RNjtz06edWuLN7/U4\u002B3si1IYbDVBv5Ru\u002BFiHq5XieMVDuJOWyyJpQyqNTQoaRQXPekG\u002BmSodtYRDf9b1F8nWqL75kCtaVsAwrikKs3KKVLNStzFTI9\u002BaJgMOUktMdCxgtqRMILTadSOBjeoBEgERuSsiol\u002BYg4TeXmooSwN05Dn8qv3OPTP\u002BeEIN0pb0mRMB/ZkgKdLMyDMfbcFKsiofDamwBWgEQ3v3IyodirDu6cVXJk5qU7pnL\u002BLJr9BxtMUY7sXsQ5Sq/bkdKQWorz2CMIP88ozbtbnuSdWGOpSrhW9kBZzrAqUxrCmUTCq1v4CkR35MdcE5PDgL/vq\u002BI8M[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-860ca257-bbfb-6293-b189-81070c2b9344/test-directory-ac4f7972-3f5c-0ec6-6029-737a77321619/test-file-0500e037-4123-ba3e-aba9-223ddb961799",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:27 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38EBE073F0\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:27.7552533Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:27.7552533Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:27.7552533Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-860ca257-bbfb-6293-b189-81070c2b9344/test-directory-ac4f7972-3f5c-0ec6-6029-737a77321619/test-file-0500e037-4123-ba3e-aba9-223ddb961799",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:27 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38EBE073F0\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:27.7552533Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:27.7552533Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:27.7552533Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "VILnJzHcrjXhkOOHzX5hHGqSxltDQ9BP1TqY1kcSQkUSYfMqXZav2G648bjin/nYQdkZ6b1mzBCxl1L2RNjtz06edWuLN7/U4\u002B3si1IYbDVBv5Ru\u002BFiHq5XieMVDuJOWyyJpQyqNTQoaRQXPekG\u002BmSodtYRDf9b1F8nWqL75kCs="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-860ca257-bbfb-6293-b189-81070c2b9344?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:28 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "319408260",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}