{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c3299306-2483-8e2d-cb53-63630462f873?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96665484D9F1D\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c3299306-2483-8e2d-cb53-63630462f873/test-directory-891843ff-cb7c-1209-3368-abd705036b1b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:04 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9666548586734\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:04 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-08-23T18:39:04.1119028Z",
        "x-ms-file-creation-time": "2021-08-23T18:39:04.1119028Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-08-23T18:39:04.1119028Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c3299306-2483-8e2d-cb53-63630462f873/test-directory-891843ff-cb7c-1209-3368-abd705036b1b/test-file-fd98baf5-023b-5d26-fee2-94c41af0d948",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:04 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9666548618DA4\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:39:04.1718692Z",
        "x-ms-file-creation-time": "2021-08-23T18:39:04.1718692Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:39:04.1718692Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c3299306-2483-8e2d-cb53-63630462f873/test-directory-891843ff-cb7c-1209-3368-abd705036b1b/test-file-fd98baf5-023b-5d26-fee2-94c41af0d948?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:04 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02",
        "x-ms-write": "update"
      },
      "RequestBody": "vldPT8cY\u002B/IMrC8mASiQ\u002BfGiAETXjIPiC/V8c1Ri\u002B5KApiIp6idBvsU50uvEx04XXr7izsaPTDHUbUTRm4idqbGdplsFZg/JYUF/nrmXHUSmZRSVgCzL8FnxVXzjbyM8myg6JiDzEvevGW2EEK13PFAAKzVzBymE0bYCExCT5fEeQgORXfYjs1Md5ma/R\u002BCseRks40TtyZP/tVVq8P7mHDN7Zc2q5t5Z3HfiVSHCxIrWVZr3ZgGtMXlvkqihuMJVN8ozROESApM70gbNCnNyPPDLlJtk77UxzjRTOlQ2uCS0jR5Xj4Cow1MGu5P74CYG/VW31iQn8EcUAXWsvsc\u002BBBriGH1UG6xvItFHXTMhNu4NTT3\u002BfuIAjJzXQo4L\u002BwSLyLZ5GMeoseGpR7NS35MT8sqHn3GKP4Y44ozhfdgd[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c3299306-2483-8e2d-cb53-63630462f873/test-directory-891843ff-cb7c-1209-3368-abd705036b1b/test-file-fd98baf5-023b-5d26-fee2-94c41af0d948",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96665486AB408\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:39:04.1718692Z",
        "x-ms-file-creation-time": "2021-08-23T18:39:04.1718692Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:39:04.1718692Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c3299306-2483-8e2d-cb53-63630462f873/test-directory-891843ff-cb7c-1209-3368-abd705036b1b/test-file-fd98baf5-023b-5d26-fee2-94c41af0d948",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:04 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96665486AB408\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:39:04.1718692Z",
        "x-ms-file-creation-time": "2021-08-23T18:39:04.1718692Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:39:04.1718692Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "vldPT8cY\u002B/IMrC8mASiQ\u002BfGiAETXjIPiC/V8c1Ri\u002B5KApiIp6idBvsU50uvEx04XXr7izsaPTDHUbUTRm4idqbGdplsFZg/JYUF/nrmXHUSmZRSVgCzL8FnxVXzjbyM8myg6JiDzEvevGW2EEK13PFAAKzVzBymE0bYCExCT5fE="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c3299306-2483-8e2d-cb53-63630462f873?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:04 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "949990546",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}