{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-fae4f969-5f18-23ce-0888-15742751aad4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 03 Aug 2020 20:21:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D837EAC07BB924\u0022",
        "Last-Modified": "Mon, 03 Aug 2020 20:21:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-fae4f969-5f18-23ce-0888-15742751aad4/test-directory-d0c040c7-55e6-e141-3903-8bf4475494be?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 03 Aug 2020 20:21:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D837EAC0A55C75\u0022",
        "Last-Modified": "Mon, 03 Aug 2020 20:21:06 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-08-03T20:21:06.6862709Z",
        "x-ms-file-creation-time": "2020-08-03T20:21:06.6862709Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-08-03T20:21:06.6862709Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-fae4f969-5f18-23ce-0888-15742751aad4/test-directory-d0c040c7-55e6-e141-3903-8bf4475494be/test-file-9e395e04-a8e6-122f-0cd8-fe8adbed77c7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 03 Aug 2020 20:21:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D837EAC0AF495E\u0022",
        "Last-Modified": "Mon, 03 Aug 2020 20:21:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-08-03T20:21:06.7513182Z",
        "x-ms-file-creation-time": "2020-08-03T20:21:06.7513182Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-08-03T20:21:06.7513182Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-fae4f969-5f18-23ce-0888-15742751aad4/test-directory-d0c040c7-55e6-e141-3903-8bf4475494be/test-file-9e395e04-a8e6-122f-0cd8-fe8adbed77c7?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 03 Aug 2020 20:21:06 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "5d92ba01-0716-61da-af4c-2d58d4ad109b",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D837EAC0AF495E\u0022",
        "Last-Modified": "Mon, 03 Aug 2020 20:21:06 GMT",
        "x-ms-lease-id": "5d92ba01-0716-61da-af4c-2d58d4ad109b",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-fae4f969-5f18-23ce-0888-15742751aad4/test-directory-d0c040c7-55e6-e141-3903-8bf4475494be/test-file-9e395e04-a8e6-122f-0cd8-fe8adbed77c7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 03 Aug 2020 20:21:07 GMT",
        "x-ms-lease-id": "5d92ba01-0716-61da-af4c-2d58d4ad109b",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D837EAC0AF495E\u0022",
        "Last-Modified": "Mon, 03 Aug 2020 20:21:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-08-03T20:21:06.7513182Z",
        "x-ms-file-creation-time": "2020-08-03T20:21:06.7513182Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-08-03T20:21:06.7513182Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-duration": "infinite",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-fae4f969-5f18-23ce-0888-15742751aad4/test-directory-d0c040c7-55e6-e141-3903-8bf4475494be/test-file-9e395e04-a8e6-122f-0cd8-fe8adbed77c7?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 03 Aug 2020 20:21:07 GMT",
        "x-ms-lease-id": "5d92ba01-0716-61da-af4c-2d58d4ad109b",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "6vRlJhVW\u002Br8pyN9OfIUYdXTD7v6ebI8KFri8AQOEy5GvO74FMTwkReOP4W9N\u002BE0oiMw74T/qUX5lWxBcmfi8pf1Nn0DGEkM4n6gaD4ofvB1qlHk2SOlSxepAoNYsx6zq0jtxAFkNYXWJA0KXz0HzRZ/z8gV/hl0T\u002BtlVhnJtC9f7MDxPrbvDXTMDrESnu/WoTFo3OdWmakveXgV/uNoCG/hrm54EpJfjL5TSe9kZaz7krDoYNdIBVcXwcE\u002B1Q6VYAJBMPCBXpKfCVAlB1O9yxfLHmwuf6uUlaUXZEzRILevveXpJzC8ejQiSVeHIwIDWfqtc7qiZuBaqJtLafZBzeiYeUVt0KfjDqA4CDZUEXanFA5SI6z5DVsBknqZcQw94H9u7qm8lYVWymUWZlquBpskpFXr7647n2/uaEIpSZmX/iu66SLM6oKE[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-fae4f969-5f18-23ce-0888-15742751aad4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 03 Aug 2020 20:21:07 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1879488625",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}