{
  "Entries": [
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-91822afe-b644-09d9-837f-5a174294e43a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Jul 2020 16:27:37 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82424FE777694\u0022",
        "Last-Modified": "Thu, 09 Jul 2020 16:27:37 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-91822afe-b644-09d9-837f-5a174294e43a/test-directory-d4064ed9-4efd-e164-2ce5-ce80695e0b79?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Jul 2020 16:27:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82424FE8C1BF2\u0022",
        "Last-Modified": "Thu, 09 Jul 2020 16:27:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-07-09T16:27:38.0942834Z",
        "x-ms-file-creation-time": "2020-07-09T16:27:38.0942834Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-07-09T16:27:38.0942834Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5337567907660077720*2506815767522118929",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-91822afe-b644-09d9-837f-5a174294e43a/test-directory-d4064ed9-4efd-e164-2ce5-ce80695e0b79/test-file-15753595-23a9-9b04-64f5-87c46dbd68ed",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 09 Jul 2020 16:27:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82424FE982C11\u0022",
        "Last-Modified": "Thu, 09 Jul 2020 16:27:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-07-09T16:27:38.1733393Z",
        "x-ms-file-creation-time": "2020-07-09T16:27:38.1733393Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-07-09T16:27:38.1733393Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9973529139831694751*2506815767522118929",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-91822afe-b644-09d9-837f-5a174294e43a/test-directory-d4064ed9-4efd-e164-2ce5-ce80695e0b79/test-file-15753595-23a9-9b04-64f5-87c46dbd68ed",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Jul 2020 16:27:38 GMT",
        "x-ms-lease-id": "4f336296-b559-6c4b-896e-655e60f91763",
        "x-ms-range": "bytes=0-1048575",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithFileOperation",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithFileOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the file.\n",
        "RequestId:190bb09d-101a-003d-210d-56bf2c000000\n",
        "Time:2020-07-09T16:27:38.2521902Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-91822afe-b644-09d9-837f-5a174294e43a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Jul 2020 16:27:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1891983338",
    "Storage_TestConfigDefault": "ProductionTenant\nseandevtest\nU2FuaXRpemVk\nhttps://seandevtest.blob.core.windows.net\nhttps://seandevtest.file.core.windows.net\nhttps://seandevtest.queue.core.windows.net\nhttps://seandevtest.table.core.windows.net\n\n\n\n\nhttps://seandevtest-secondary.blob.core.windows.net\nhttps://seandevtest-secondary.file.core.windows.net\nhttps://seandevtest-secondary.queue.core.windows.net\nhttps://seandevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seandevtest.blob.core.windows.net/;QueueEndpoint=https://seandevtest.queue.core.windows.net/;FileEndpoint=https://seandevtest.file.core.windows.net/;BlobSecondaryEndpoint=https://seandevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seandevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seandevtest-secondary.file.core.windows.net/;AccountName=seandevtest;AccountKey=Kg==;\nseanscope1"
  }
}