{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7a2438e6-09b4-c564-a02e-3c423ab2b4cf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:23 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C5B753FEC\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:37:23 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7a2438e6-09b4-c564-a02e-3c423ab2b4cf/test-directory-cca97b76-1e0f-c59f-5d68-a15c463f77f7?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:23 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C5B7EC18D\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:37:23 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:37:23.4750861Z",
        "x-ms-file-creation-time": "2021-01-21T20:37:23.4750861Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:37:23.4750861Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7a2438e6-09b4-c564-a02e-3c423ab2b4cf/test-directory-cca97b76-1e0f-c59f-5d68-a15c463f77f7/test-file-b704e1ac-5fd4-f1ea-1c00-e7a7055c9ba8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:23 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C5B8775B1\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:37:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:37:23.5321265Z",
        "x-ms-file-creation-time": "2021-01-21T20:37:23.5321265Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:37:23.5321265Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7a2438e6-09b4-c564-a02e-3c423ab2b4cf/test-directory-cca97b76-1e0f-c59f-5d68-a15c463f77f7/test-file-b704e1ac-5fd4-f1ea-1c00-e7a7055c9ba8?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "QhvFdlGmheU6VEU4hZm3MY53GcSRpPdwqJdAiskb9ikH0cTyZWPYnPvImKsziUCTeZSW50QLNp4jVc65ZvscHl4bMbPVxMwrnnzIyAtMPB5WrBA0hQ7k\u002B5smzxCUHjYArHlNGFiNvrXIakjHQm2S1hmvY7nq6JlPNjUXr/S8l4BFyByR/yTGyO5baxrFHbktk/j35bt9FcPg/eEidQ7ADNPIgXlRANf06JrLj3x\u002BiRl76hv8xbHFyLJYsQFDpFPfm19H/ZtA3JMgAvwgsYZHYnTHp4vzxEchA7nG\u002BE/WsURH7PQdNox\u002BOw2I28K1pBYsEU6Ne/3H69cXJfrheeRESlC42cWSKSvoSGt9auiEbF\u002BimuYASTZHfwAcBhGRnMEpRJFy/cpRmegipDKRSoHukrmaP9/\u002BQwAacFrFdSMaVqyqV[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7a2438e6-09b4-c564-a02e-3c423ab2b4cf/test-directory-cca97b76-1e0f-c59f-5d68-a15c463f77f7/test-file-b704e1ac-5fd4-f1ea-1c00-e7a7055c9ba8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:23 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4C5B8F8D7D\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:37:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:37:23.5851645Z",
        "x-ms-file-creation-time": "2021-01-21T20:37:23.5321265Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:37:23.5851645Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7a2438e6-09b4-c564-a02e-3c423ab2b4cf/test-directory-cca97b76-1e0f-c59f-5d68-a15c463f77f7/test-file-b704e1ac-5fd4-f1ea-1c00-e7a7055c9ba8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:23 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-range-get-content-md5": "false",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4C5B8F8D7D\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:37:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:37:23.5851645Z",
        "x-ms-file-creation-time": "2021-01-21T20:37:23.5321265Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:37:23.5851645Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "QhvFdlGmheU6VEU4hZm3MY53GcSRpPdwqJdAiskb9ikH0cTyZWPYnPvImKsziUCTeZSW50QLNp4jVc65ZvscHl4bMbPVxMwrnnzIyAtMPB5WrBA0hQ7k\u002B5smzxCUHjYArHlNGFiNvrXIakjHQm2S1hmvY7nq6JlPNjUXr/S8l4A="
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7a2438e6-09b4-c564-a02e-3c423ab2b4cf?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1481426829",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}