{
  "Entries": [
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-e701871c-cd19-3e20-b128-f9c7b4c0ba68?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Jul 2020 16:27:35 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82424FD4B76EA\u0022",
        "Last-Modified": "Thu, 09 Jul 2020 16:27:35 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-e701871c-cd19-3e20-b128-f9c7b4c0ba68/test-directory-cfcca01d-d464-2de3-ef5d-893aa2c847ac?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Jul 2020 16:27:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82424FD57F7D2\u0022",
        "Last-Modified": "Thu, 09 Jul 2020 16:27:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-07-09T16:27:36.0748498Z",
        "x-ms-file-creation-time": "2020-07-09T16:27:36.0748498Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-07-09T16:27:36.0748498Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5337567907660077720*2506815767522118929",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-e701871c-cd19-3e20-b128-f9c7b4c0ba68/test-directory-cfcca01d-d464-2de3-ef5d-893aa2c847ac/test-file-b6b5c9f5-dd8e-a802-7fda-5abd6cb5c22c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 09 Jul 2020 16:27:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82424FD6FF104\u0022",
        "Last-Modified": "Thu, 09 Jul 2020 16:27:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-07-09T16:27:36.2319620Z",
        "x-ms-file-creation-time": "2020-07-09T16:27:36.2319620Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-07-09T16:27:36.2319620Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9973529139831694751*2506815767522118929",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-e701871c-cd19-3e20-b128-f9c7b4c0ba68/test-directory-cfcca01d-d464-2de3-ef5d-893aa2c847ac/test-file-b6b5c9f5-dd8e-a802-7fda-5abd6cb5c22c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Jul 2020 16:27:36 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12",
        "x-ms-write": "update"
      },
      "RequestBody": "H1PI5CHh707ENP1t0MQ/mlv4UPqN8HSa5WVTk9OsV6k\u002Bqf\u002BajB1vCLjrkwPiaXX6wGHUSdi9zC/fLf\u002B7jlx6F9xTLybFpQ0\u002BiUdBoVxwuHvwWNJy2A7RgN3Pul4dtHpccXsnjzpONRtTlb\u002BReyrTbnWDyzWKCD7Oga5J9eqvINXM5TDgSSlBoSO2H0JOQAWy/EzpmelE0mg9WA2LBD8xpHTqxJX68iRMQikS0\u002Bn7f0Gpl/mexobriBPHo/AbtZzjhXrNY3xvuAknnFe/Mv5/QdjL4m1Gk97u/juCMk40MIyNLk1uLhzFOt7vdikuLFUUSGIYUNMunfKc32RA7Ia682vLMgSxEBO8BqeOVxy0v9LmbensG\u002BC4XpFa0U63hE1YNIO9Y/pRYzdPW0krn0bW6CCSWn6czteLE9NyVj/E[...]
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-e701871c-cd19-3e20-b128-f9c7b4c0ba68/test-directory-cfcca01d-d464-2de3-ef5d-893aa2c847ac/test-file-b6b5c9f5-dd8e-a802-7fda-5abd6cb5c22c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Jul 2020 16:27:36 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D82424FD7C4F5F\u0022",
        "Last-Modified": "Thu, 09 Jul 2020 16:27:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-07-09T16:27:36.2319620Z",
        "x-ms-file-creation-time": "2020-07-09T16:27:36.2319620Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-07-09T16:27:36.2319620Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9973529139831694751*2506815767522118929",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "H1PI5CHh707ENP1t0MQ/mlv4UPqN8HSa5WVTk9OsV6k\u002Bqf\u002BajB1vCLjrkwPiaXX6wGHUSdi9zC/fLf\u002B7jlx6F9xTLybFpQ0\u002BiUdBoVxwuHvwWNJy2A7RgN3Pul4dtHpccXsnjzpONRtTlb\u002BReyrTbnWDyzWKCD7Oga5J9eqvINU="
    },
[...]
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-e701871c-cd19-3e20-b128-f9c7b4c0ba68?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Jul 2020 16:27:36 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "48335524",
    "Storage_TestConfigDefault": "ProductionTenant\nseandevtest\nU2FuaXRpemVk\nhttps://seandevtest.blob.core.windows.net\nhttps://seandevtest.file.core.windows.net\nhttps://seandevtest.queue.core.windows.net\nhttps://seandevtest.table.core.windows.net\n\n\n\n\nhttps://seandevtest-secondary.blob.core.windows.net\nhttps://seandevtest-secondary.file.core.windows.net\nhttps://seandevtest-secondary.queue.core.windows.net\nhttps://seandevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seandevtest.blob.core.windows.net/;QueueEndpoint=https://seandevtest.queue.core.windows.net/;FileEndpoint=https://seandevtest.file.core.windows.net/;BlobSecondaryEndpoint=https://seandevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seandevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seandevtest-secondary.file.core.windows.net/;AccountName=seandevtest;AccountKey=Kg==;\nseanscope1"
  }
}