{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cdeb3e09-264a-fbce-a276-1bb516e4e6f4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38E7486E46\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cdeb3e09-264a-fbce-a276-1bb516e4e6f4/test-directory-f9013dae-ad84-60a5-6a90-8c2e4709241e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38E7521F12\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-09-21T19:49:20.2195218Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:20.2195218Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-21T19:49:20.2195218Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cdeb3e09-264a-fbce-a276-1bb516e4e6f4/test-directory-f9013dae-ad84-60a5-6a90-8c2e4709241e/test-file-7a55de67-70a5-f807-5859-4100d7488c25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38E75B6C8A\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:20.2804874Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:20.2804874Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:20.2804874Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cdeb3e09-264a-fbce-a276-1bb516e4e6f4/test-directory-f9013dae-ad84-60a5-6a90-8c2e4709241e/test-file-7a55de67-70a5-f807-5859-4100d7488c25?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "9B6w8BmIeHV\u002BVu11AS70bcD3cpzzipvPnxpA8vUZCBvNDoJOTN97MzOhGytphXVp1Nblq32lqWmC4VD/SIV/ZU7SqPKspiDgez5oUW9wZhmk1h4fNF2dKGUYy2uPe\u002ButIrXdlt2DvC21BC8\u002BPFj6Eno3W3FmXzHwNX\u002BNlNq1Uf9Tui65ks87IBnwai8tXuwMHrnwVyB6R8KD7GFe9ihS/7Mw64EpQH\u002Br/DpXdfUBw9aTgHYhxfne2XNsNaVu3CrxnWt8/XNq4905RVrmItHNgSmLy3ayMTm5URIOvQraPB8PZteJhcZiKJyY54Cf\u002BLainrN84xGzPmwxwqtgXCbSXwg71rz5RPxiKKPZGkm4Gllbax9WXVkOWyhrV8MaAst2xoh4YyH6qVq3Gbtu2iQieahSBfAHewKvLXqTjew4SCbXY[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cdeb3e09-264a-fbce-a276-1bb516e4e6f4/test-directory-f9013dae-ad84-60a5-6a90-8c2e4709241e/test-file-7a55de67-70a5-f807-5859-4100d7488c25",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38E76C0BF1\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:20.2804874Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:20.2804874Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:20.2804874Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cdeb3e09-264a-fbce-a276-1bb516e4e6f4/test-directory-f9013dae-ad84-60a5-6a90-8c2e4709241e/test-file-7a55de67-70a5-f807-5859-4100d7488c25",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:20 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38E76C0BF1\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:20.2804874Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:20.2804874Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:20.2804874Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "9B6w8BmIeHV\u002BVu11AS70bcD3cpzzipvPnxpA8vUZCBvNDoJOTN97MzOhGytphXVp1Nblq32lqWmC4VD/SIV/ZU7SqPKspiDgez5oUW9wZhmk1h4fNF2dKGUYy2uPe\u002ButIrXdlt2DvC21BC8\u002BPFj6Eno3W3FmXzHwNX\u002BNlNq1Uf8="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cdeb3e09-264a-fbce-a276-1bb516e4e6f4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1721474017",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}