{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e919193f-b1cc-277e-0676-2e7812320272?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:05 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D966654977FD86\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:05 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e919193f-b1cc-277e-0676-2e7812320272/test-directory-88131477-fad5-b6de-bcf0-3b2f03d4bbb2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96665498597CD\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:06 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-08-23T18:39:06.0857805Z",
        "x-ms-file-creation-time": "2021-08-23T18:39:06.0857805Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-08-23T18:39:06.0857805Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e919193f-b1cc-277e-0676-2e7812320272/test-directory-88131477-fad5-b6de-bcf0-3b2f03d4bbb2/test-file-df939e3c-6b68-eb8b-71fc-73f2e70ea935",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96665498F5A62\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:39:06.1497442Z",
        "x-ms-file-creation-time": "2021-08-23T18:39:06.1497442Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:39:06.1497442Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e919193f-b1cc-277e-0676-2e7812320272/test-directory-88131477-fad5-b6de-bcf0-3b2f03d4bbb2/test-file-df939e3c-6b68-eb8b-71fc-73f2e70ea935?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02",
        "x-ms-write": "update"
      },
      "RequestBody": "7pAkY\u002BXulLN3I3ccfA5xksaulvugY3Ir3fj3p0G4yDitaOG0BsWnqnN/4B1pocUP\u002BO8eeUIPdIse\u002BIXs9u1xv1o\u002BbxQtvYwAB\u002ByHIYNUwTwz6K5SmU/1nfRVlQ0/urOGDiDCKzKx4TtjHXFWiFIHyTdJuQ4\u002BHyULSdEg1yd\u002BwE04ABJikpYKgQZz7nzdnhShTsvW9gCkSO/7t\u002BJgkQoT5FwkHohApDegPjcHyjCoLaq8folbqMpMk7cjZ9q0qfD8YAkfuYCMYamUNbfJnX6\u002BUoo3oxKAtzuS14rQHD1d65VGCmoniXMpMB3fx3MSg/Y5ZRRPfAbee6jNjeL2vERrNkkigpITl8kXDXP0oPDIf1OTlrcpDW6OaI7BWfuRM3PZdJAp8AFkJc5KOG6S6du4BA2OYiaMQS[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e919193f-b1cc-277e-0676-2e7812320272/test-directory-88131477-fad5-b6de-bcf0-3b2f03d4bbb2/test-file-df939e3c-6b68-eb8b-71fc-73f2e70ea935",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:06 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9666549996B09\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:39:06.1497442Z",
        "x-ms-file-creation-time": "2021-08-23T18:39:06.1497442Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:39:06.1497442Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e919193f-b1cc-277e-0676-2e7812320272/test-directory-88131477-fad5-b6de-bcf0-3b2f03d4bbb2/test-file-df939e3c-6b68-eb8b-71fc-73f2e70ea935",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:06 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9666549996B09\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:39:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:39:06.1497442Z",
        "x-ms-file-creation-time": "2021-08-23T18:39:06.1497442Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:39:06.1497442Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "7pAkY\u002BXulLN3I3ccfA5xksaulvugY3Ir3fj3p0G4yDitaOG0BsWnqnN/4B1pocUP\u002BO8eeUIPdIse\u002BIXs9u1xv1o\u002BbxQtvYwAB\u002ByHIYNUwTwz6K5SmU/1nfRVlQ0/urOGDiDCKzKx4TtjHXFWiFIHyTdJuQ4\u002BHyULSdEg1yd\u002BwE0="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e919193f-b1cc-277e-0676-2e7812320272?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:39:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "172919976",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}