{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-32bb8699-73d0-edc8-d986-824a9148763e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:48 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38D427A149\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:48 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-32bb8699-73d0-edc8-d986-824a9148763e/test-directory-8bdaa7c1-bf8e-c840-d395-ceb0b497b2e8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38D4317355\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:48 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-09-21T19:48:48.1286997Z",
        "x-ms-file-creation-time": "2021-09-21T19:48:48.1286997Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-21T19:48:48.1286997Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-32bb8699-73d0-edc8-d986-824a9148763e/test-directory-8bdaa7c1-bf8e-c840-d395-ceb0b497b2e8/test-file-40e192be-911e-00e2-758a-23f1f216ff2f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38D43B0EE0\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:48:48.1916640Z",
        "x-ms-file-creation-time": "2021-09-21T19:48:48.1916640Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:48:48.1916640Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-32bb8699-73d0-edc8-d986-824a9148763e/test-directory-8bdaa7c1-bf8e-c840-d395-ceb0b497b2e8/test-file-40e192be-911e-00e2-758a-23f1f216ff2f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "UW5UcLIXwQhGduxZy3VPF3a8A9InHtJINrNmtc0Z/s4U63kKZ65elSBnTZ9sBSCAFdLRqc1O4TOcCzr/sAw7LXcdReD7RbDIXW2ywNEy2zCT5Z/6SFUAxgpGbVtzX\u002BQTKx8oT79AhNAiCExgmyBhaTAJbMttQOUiHX/WtddVVP2InpSxCoxxU2HO2D8JoCrp5AQrafMZpes6BTJAac75zbRO1/2LsF6jmBlpn2elGXxV7NHSKeoKb/iodgRaMOmS1AuLusktXTOlh9DarwaEley16n39JqPJRGgE4zpZSGgv18pcGl6yKI\u002BdLKIaL7/yJOEYpEVrlK1nwnZgKHr5TD9oqtg7J3qOAsLuX/oBrhSpEr5YQaMixEIc9FjnUv8UpOBjsYXmtvxmiaKCfTSzZhNhtxa7oAqbRuaWHzIiprDD2bsZnf2Pw1zB8bgBn0YNa[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-32bb8699-73d0-edc8-d986-824a9148763e/test-directory-8bdaa7c1-bf8e-c840-d395-ceb0b497b2e8/test-file-40e192be-911e-00e2-758a-23f1f216ff2f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:48 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38D44DF7E3\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:48:48.1916640Z",
        "x-ms-file-creation-time": "2021-09-21T19:48:48.1916640Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:48:48.1916640Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-32bb8699-73d0-edc8-d986-824a9148763e/test-directory-8bdaa7c1-bf8e-c840-d395-ceb0b497b2e8/test-file-40e192be-911e-00e2-758a-23f1f216ff2f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:48 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38D466D377\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:48:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:48:48.1916640Z",
        "x-ms-file-creation-time": "2021-09-21T19:48:48.1916640Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:48:48.1916640Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-32bb8699-73d0-edc8-d986-824a9148763e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:48:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "643949787",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}