{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7264d002-6b51-52a1-3ba4-d8afc3a40bd9?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:07 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF9A24FC267\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:07 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7264d002-6b51-52a1-3ba4-d8afc3a40bd9/test-directory-0f4c14ad-d657-7fa6-e6d9-1aee751afa56?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:07 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF9A256925E\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:07 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-10-07T19:46:07.5908702Z",
        "x-ms-file-creation-time": "2020-10-07T19:46:07.5908702Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-10-07T19:46:07.5908702Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7264d002-6b51-52a1-3ba4-d8afc3a40bd9/test-directory-0f4c14ad-d657-7fa6-e6d9-1aee751afa56/test-file-e03f8ead-3ed4-8e3e-9f4f-bdef8c93597c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:07 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF9A25D7173\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-07T19:46:07.6359027Z",
        "x-ms-file-creation-time": "2020-10-07T19:46:07.6359027Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-07T19:46:07.6359027Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7264d002-6b51-52a1-3ba4-d8afc3a40bd9/test-directory-0f4c14ad-d657-7fa6-e6d9-1aee751afa56/test-file-e03f8ead-3ed4-8e3e-9f4f-bdef8c93597c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:07 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-02-10",
        "x-ms-write": "update"
      },
      "RequestBody": "xzxO/VlcrQFuu3OVfRWQg73pV1lAt7/aY8C/MzJMWvIta8myEx7YOm7Y1dvqeY6ZaPWbTVE7rA99dJmYnXrPImGAZxJL3W\u002BfER3qaOLj8OoyJso9sAyh8r65NZ\u002BEP5zzCLJ6aRF7TYuF/Dw0UEQtmYOvZXawkXFV33VUkafQG9GA918vaYfYt9g\u002BuLTQbKF6jJwc1dkmQ3dBJYqbJ7vktOBqtFnk/i/81q6dcdm9hXPU2QUKs0X3WbPo7kT8PY8dWgPTZbdIlY5sH/8riNGdg6AXx0222QCbclql/BDr/5kegBfW6h\u002B7i0N3npRGzNHiSmqk5XVCZoECOPNdopl\u002BgR9lDQe6x5mAWzsJPzpsVKWIwrGlRxoj3BmV07EsXumq\u002BR104L/KKIPQI4k5OCdGleNN1ODn2DkFQTDtJPPnVP1SX[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7264d002-6b51-52a1-3ba4-d8afc3a40bd9/test-directory-0f4c14ad-d657-7fa6-e6d9-1aee751afa56/test-file-e03f8ead-3ed4-8e3e-9f4f-bdef8c93597c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:07 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF9A264507F\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-07T19:46:07.6359027Z",
        "x-ms-file-creation-time": "2020-10-07T19:46:07.6359027Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-07T19:46:07.6359027Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7264d002-6b51-52a1-3ba4-d8afc3a40bd9/test-directory-0f4c14ad-d657-7fa6-e6d9-1aee751afa56/test-file-e03f8ead-3ed4-8e3e-9f4f-bdef8c93597c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:07 GMT",
        "x-ms-range": "bytes=1034-4195337",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 1034-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF9A27087BC\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-07T19:46:07.6359027Z",
        "x-ms-file-creation-time": "2020-10-07T19:46:07.6359027Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-07T19:46:07.6359027Z",
        "x-ms-file-paren[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7264d002-6b51-52a1-3ba4-d8afc3a40bd9?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:07 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1549628970",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}