{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-3c90b891-b04c-070a-622f-64055cbef38e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CA814EF46\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:31 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-3c90b891-b04c-070a-622f-64055cbef38e/test-directory-46d3523e-29fe-c498-9056-5c35bce76b92?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:32 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CA81DF77A\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:32 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:39:32.0253306Z",
        "x-ms-file-creation-time": "2021-01-21T20:39:32.0253306Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:39:32.0253306Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-3c90b891-b04c-070a-622f-64055cbef38e/test-directory-46d3523e-29fe-c498-9056-5c35bce76b92/test-file-74b8f3a6-c5ec-f51d-e3e2-d233c16c7d6a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:32 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CA827961B\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:39:32.0883739Z",
        "x-ms-file-creation-time": "2021-01-21T20:39:32.0883739Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:39:32.0883739Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-3c90b891-b04c-070a-622f-64055cbef38e/test-directory-46d3523e-29fe-c498-9056-5c35bce76b92/test-file-74b8f3a6-c5ec-f51d-e3e2-d233c16c7d6a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4CA827961B\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:39:32.0883739Z",
        "x-ms-file-creation-time": "2021-01-21T20:39:32.0883739Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:39:32.0883739Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-3c90b891-b04c-070a-622f-64055cbef38e/test-directory-46d3523e-29fe-c498-9056-5c35bce76b92/test-file-74b8f3a6-c5ec-f51d-e3e2-d233c16c7d6a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:32 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "Bq/\u002BFYu234VdEG2afyrFPAVSejvoKv2xjmIXELl72gzNdOx/qMf0Aqb\u002B9F2r1ocZKioUfIBI6duxTYcons7M4jZgzQs\u002BRpM\u002BXXeU6TWgBrfa/eaOZ16LhYoRzVs/y2PXMhImSgl82\u002BSX1R4IswClEUbPTqHoPXrX1UiALXg4/5EUvbYiebyuXiIB95I/gtGJa7wUcH3C7vWYT3TB\u002B65sXtaN9PZKgpiKIO9\u002B50XomFJ29sG7I44TUc7BiipH7WJ0lZm7so3bP\u002Bkkik\u002BORAevsLYiSgXssDpHeaMnifhtQzKNClGsLOXEmrfYl5k\u002BhQ3HEdpzJaJdh\u002BRedDjqs7bxtg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "KKiFGeDnYjvfvLHljdztUQ==",
        "ETag": "\u00220x8D8BE4CA838FE69\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-3c90b891-b04c-070a-622f-64055cbef38e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1687958582",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}