{
  "Entries": [
    {
      "RequestUri": "http://kasobolcanadacentral.file.core.windows.net/test-share-3175892b-89ef-8130-c6d3-c3e49ea83018?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:57:39 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91F0754AFDA08\u0022",
        "Last-Modified": "Mon, 24 May 2021 22:57:39 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.file.core.windows.net/test-share-3175892b-89ef-8130-c6d3-c3e49ea83018/test-directory-aab0b0ea-ce34-5043-9432-801cb7b2c5e8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:57:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91F0754D31192\u0022",
        "Last-Modified": "Mon, 24 May 2021 22:57:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-05-24T22:57:39.7986706Z",
        "x-ms-file-creation-time": "2021-05-24T22:57:39.7986706Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-05-24T22:57:39.7986706Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3917056552249722909*6811422022089678740",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.file.core.windows.net/test-share-3175892b-89ef-8130-c6d3-c3e49ea83018/test-directory-aab0b0ea-ce34-5043-9432-801cb7b2c5e8/test-file-7c8c2a8e-e0c1-bbcd-d88b-b788b64b1624",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 24 May 2021 22:57:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91F0754E319F1\u0022",
        "Last-Modified": "Mon, 24 May 2021 22:57:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-05-24T22:57:39.9037425Z",
        "x-ms-file-creation-time": "2021-05-24T22:57:39.9037425Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-05-24T22:57:39.9037425Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17737392480967489306*6811422022089678740",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.file.core.windows.net/test-share-3175892b-89ef-8130-c6d3-c3e49ea83018/test-directory-aab0b0ea-ce34-5043-9432-801cb7b2c5e8/test-file-7c8c2a8e-e0c1-bbcd-d88b-b788b64b1624?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 24 May 2021 22:57:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "iUakhvVj6ETC3qG655GkmRicGDAfubp/t5d5ba/0woKf\u002ByhmVpLuoZ1OSE8zMVdeUF3gcm6qy8\u002BLJc9e6XuUzhsfGutoPkKFrXaS0HBqTIY/GhxSFFAU9S9Y2jHDkLgiunozExZs9RIaWsT3F/tfINhJHs5eQrnLCyS7EGQRwh2\u002BcBb1Nzlv0yQKOLqMHN00\u002BblYeXHpw3fBZwjysOWtCJimOaflaumf2kqpVAr/Pu9GhxequEis1KyeM88xfSM/XC8i5uI2To7PuZ8nQG9twSkZqyjOA09P\u002BmX6RjYZbl0mavfa3VgMEDiI2v\u002BohJQ8MXKmGNH7cFng0ut9OwhYtktCANV4kuTQDJrvRihQpnXRvhXEc1WLK/md\u002Bgpsj9UwLySzZoS\u002BxJ6N1Qs2Cyoxjyx2q33ylEP1ttT[...]
    {
      "RequestUri": "http://kasobolcanadacentral.file.core.windows.net/test-share-3175892b-89ef-8130-c6d3-c3e49ea83018/test-directory-aab0b0ea-ce34-5043-9432-801cb7b2c5e8/test-file-7c8c2a8e-e0c1-bbcd-d88b-b788b64b1624",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:57:40 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D91F075504B1C6\u0022",
        "Last-Modified": "Mon, 24 May 2021 22:57:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-05-24T22:57:39.9037425Z",
        "x-ms-file-creation-time": "2021-05-24T22:57:39.9037425Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-05-24T22:57:39.9037425Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17737392480967489306*6811422022089678740",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://kasobolcanadacentral.file.core.windows.net/test-share-3175892b-89ef-8130-c6d3-c3e49ea83018/test-directory-aab0b0ea-ce34-5043-9432-801cb7b2c5e8/test-file-7c8c2a8e-e0c1-bbcd-d88b-b788b64b1624",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:57:40 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-range-get-content-md5": "false",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D91F07552A41D2\u0022",
        "Last-Modified": "Mon, 24 May 2021 22:57:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-05-24T22:57:39.9037425Z",
        "x-ms-file-creation-time": "2021-05-24T22:57:39.9037425Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-05-24T22:57:39.9037425Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "http://kasobolcanadacentral.file.core.windows.net/test-share-3175892b-89ef-8130-c6d3-c3e49ea83018?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 May 2021 22:57:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "639014136",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttp://kasobolcanadacentral.blob.core.windows.net\nhttp://kasobolcanadacentral.file.core.windows.net\nhttp://kasobolcanadacentral.queue.core.windows.net\nhttp://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttp://kasobolcanadacentral-secondary.blob.core.windows.net\nhttp://kasobolcanadacentral-secondary.file.core.windows.net\nhttp://kasobolcanadacentral-secondary.queue.core.windows.net\nhttp://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=http://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=http://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope"
  }
}