{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e16e05f5-92b0-b64e-12df-5e2b7c15a0a0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:30 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96664EC9045D4\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:36:30 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e16e05f5-92b0-b64e-12df-5e2b7c15a0a0/test-directory-89029d15-472b-4017-b506-ddaee743443b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:30 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96664EC9A9BBE\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:36:30 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-08-23T18:36:30.1953982Z",
        "x-ms-file-creation-time": "2021-08-23T18:36:30.1953982Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-08-23T18:36:30.1953982Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e16e05f5-92b0-b64e-12df-5e2b7c15a0a0/test-directory-89029d15-472b-4017-b506-ddaee743443b/test-file-a0d3db6c-20f2-4e55-f5ac-2ba621a26f8b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:30 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96664ECA680E7\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:36:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:36:30.2733543Z",
        "x-ms-file-creation-time": "2021-08-23T18:36:30.2733543Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:36:30.2733543Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e16e05f5-92b0-b64e-12df-5e2b7c15a0a0/test-directory-89029d15-472b-4017-b506-ddaee743443b/test-file-a0d3db6c-20f2-4e55-f5ac-2ba621a26f8b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:30 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02",
        "x-ms-write": "update"
      },
      "RequestBody": "vv7ilihGO\u002BM7qqvCK7TFwpEXIwJOb2efhUX6PXgpx30wwaN8EN6eRakRmSovFaOAhfameDw1DE\u002BXQhHjTP5rEuItkWoRSbGzeN5ZPdU8b2\u002BiebeBgk9A\u002B7VU5M7Nu/mqpYdIAoM4bzxE8v9e2856WtKhQNJH6o\u002BT7Ja0vWTj5r3kr5dO9G3saQl6PI9P4R/m2or7K3omY7v4tRXthLLXYQxBeSw2LGZltdfIzK3/Qwp2zuLa6LpDvkzcVT9X/\u002BVXo9uDDWfzr64jlXajXZYO\u002BHEKdrXP/XhS/rvfWtYnDbXxcSnRezaigh40tlJDoGC1zlzNTIgvh6ZjMQ\u002BsFFTX/IfAsettPH06aPSWmkYmDl1aKox5WcEtwuqDbkon9m7JXbnKgu90SJHfk\u002BSUmOxfPCKxUurIXq[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e16e05f5-92b0-b64e-12df-5e2b7c15a0a0/test-directory-89029d15-472b-4017-b506-ddaee743443b/test-file-a0d3db6c-20f2-4e55-f5ac-2ba621a26f8b?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:30 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "193a0e91-5577-1dd9-d492-48b07ffa925c",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96664ECAFA74F\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:36:30 GMT",
        "x-ms-lease-id": "193a0e91-5577-1dd9-d492-48b07ffa925c",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e16e05f5-92b0-b64e-12df-5e2b7c15a0a0/test-directory-89029d15-472b-4017-b506-ddaee743443b/test-file-a0d3db6c-20f2-4e55-f5ac-2ba621a26f8b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:30 GMT",
        "x-ms-lease-id": "193a0e91-5577-1dd9-d492-48b07ffa925c",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96664ECAFA74F\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:36:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:36:30.2733543Z",
        "x-ms-file-creation-time": "2021-08-23T18:36:30.2733543Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:36:30.2733543Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-duration": "infinite",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e16e05f5-92b0-b64e-12df-5e2b7c15a0a0/test-directory-89029d15-472b-4017-b506-ddaee743443b/test-file-a0d3db6c-20f2-4e55-f5ac-2ba621a26f8b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:30 GMT",
        "x-ms-lease-id": "193a0e91-5577-1dd9-d492-48b07ffa925c",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D96664ECAFA74F\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:36:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:36:30.2733543Z",
        "x-ms-file-creation-time": "2021-08-23T18:36:30.2733543Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:36:30.2733543Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e16e05f5-92b0-b64e-12df-5e2b7c15a0a0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:36:30 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1997687200",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}