{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a4c3944d-deba-7328-5104-339dd5901243?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:15 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38E49CEA09\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:15 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a4c3944d-deba-7328-5104-339dd5901243/test-directory-09baa67f-6d1c-ff17-8234-7723d6a0600c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:15 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38E4AB5652\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:15 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-09-21T19:49:15.7710418Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:15.7710418Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-21T19:49:15.7710418Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a4c3944d-deba-7328-5104-339dd5901243/test-directory-09baa67f-6d1c-ff17-8234-7723d6a0600c/test-file-b416c219-1062-db81-97ae-afb4bc6b6ba4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:15 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38E4B4F1DE\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:15.8340062Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:15.8340062Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:15.8340062Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a4c3944d-deba-7328-5104-339dd5901243/test-directory-09baa67f-6d1c-ff17-8234-7723d6a0600c/test-file-b416c219-1062-db81-97ae-afb4bc6b6ba4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:15 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "MVU1RoVdwJIzHtIRxCsTCJr7N4KY9ILKRSbfVUrX3bnum7qWRFP1j5J2OWzFV0BDi5oBw0WZdT3TagFffWtHW0EYIihwfMNHBafvIboVBe7lm8qv1hl0VSZ9wtpSlhEnLt0rrDQY0g7Xur2dqVOCvWQTeeKhl4UnpMwB8rnp9W\u002BWyPLd6lm5zci72Bxb1qzT\u002BwV1PhwvhZdXAwdnFuBU7cROB\u002BBgpNMLWasZ5r5py80gLfe0c7ZSZ0NbheZRUbboZ\u002BtXDc/Lc1YyauRwFZ/Y7jg6R\u002BjooHkO\u002B5\u002BdBB/suQj1MH7TEr79VbqgggnR4lGkg5euFwrNAMZxSRIwLm43RrHce\u002BUgBNx6PPEuRx5wPBhO\u002BIGIPaH\u002BJzC4YsirzSdMaTtY9WZshH66NNsYn7ioAQz54[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a4c3944d-deba-7328-5104-339dd5901243/test-directory-09baa67f-6d1c-ff17-8234-7723d6a0600c/test-file-b416c219-1062-db81-97ae-afb4bc6b6ba4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:15 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38E4C6C997\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:15.8340062Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:15.8340062Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:15.8340062Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a4c3944d-deba-7328-5104-339dd5901243/test-directory-09baa67f-6d1c-ff17-8234-7723d6a0600c/test-file-b416c219-1062-db81-97ae-afb4bc6b6ba4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:16 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38E4C6C997\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:15.8340062Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:15.8340062Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:15.8340062Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "zi3UZfes0PXLOPmKKThc8HoAQ2H2DzFKVhZ4leXl\u002BM4u30efDlbtEk1YmEiairk7jwb/NpAvgb/7ig7gMzsP5kArW0rxveEjEzEUnXbpr8xdPAXe5cE9/12Ho4RIDd8RSLIHbi9uStIl3CNfG\u002BRIEtpCg/Y1MQF/7lztaRld2gU="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a4c3944d-deba-7328-5104-339dd5901243?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:16 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "210426592",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}