{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-6437bbd6-c00f-4b84-67a2-7ac97afe119a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38EADE57F6\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-6437bbd6-c00f-4b84-67a2-7ac97afe119a/test-directory-38973509-248a-d288-3abf-f5030894da20?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38EAE80727\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-09-21T19:49:26.2351143Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:26.2351143Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-21T19:49:26.2351143Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-6437bbd6-c00f-4b84-67a2-7ac97afe119a/test-directory-38973509-248a-d288-3abf-f5030894da20/test-file-1c81dc51-40b9-2e00-4579-7a0d118f8a73",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38EB0D8B17\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:26.4809751Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:26.4809751Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:26.4809751Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-6437bbd6-c00f-4b84-67a2-7ac97afe119a/test-directory-38973509-248a-d288-3abf-f5030894da20/test-file-1c81dc51-40b9-2e00-4579-7a0d118f8a73?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "c7tRqgbdB670U9CZBAaqGOBE9T\u002Bsn3Kv7MhPpN6oCu7p8A1r0DSpMMA4RluMaOnLmWO49YPIgtRJob09jmLQTEjisBT4PkismsV\u002BdFkWI4Tfgwt67xRqIG05IS52a6FeZ/kSqrjV0loaC1q\u002BSQ16M345XgpXVlwzd4\u002BmvhwZNS4jIA1gA3jLCbGwX\u002BS5rNZgv\u002B6vPQ2XBhCc3jIoLxM9AdYsmikAGi8FblVZp/Z4esq4Rv8uavghjBr8wyRFotqdcl4NjRGtYKS\u002Bqs\u002B3PV8aJGRocOgUD5feCg4PA1cLwMt7vDSYa\u002By5C\u002BZab78oak664p\u002B/3TLxiGPHLoMDnlxNs\u002BkDPIEqgrh4rmQCuZ/XtaC/VCG3S\u002BKYiTPR0Dxptm2JDLzVJS3Nj1[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-6437bbd6-c00f-4b84-67a2-7ac97afe119a/test-directory-38973509-248a-d288-3abf-f5030894da20/test-file-1c81dc51-40b9-2e00-4579-7a0d118f8a73",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38EB1FB0E7\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:26.4809751Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:26.4809751Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:26.4809751Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-6437bbd6-c00f-4b84-67a2-7ac97afe119a/test-directory-38973509-248a-d288-3abf-f5030894da20/test-file-1c81dc51-40b9-2e00-4579-7a0d118f8a73",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38EB1FB0E7\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:26.4809751Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:26.4809751Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:26.4809751Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "c7tRqgbdB670U9CZBAaqGOBE9T\u002Bsn3Kv7MhPpN6oCu7p8A1r0DSpMMA4RluMaOnLmWO49YPIgtRJob09jmLQTEjisBT4PkismsV\u002BdFkWI4Tfgwt67xRqIG05IS52a6FeZ/kSqrjV0loaC1q\u002BSQ16M345XgpXVlwzd4\u002BmvhwZNS4="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-6437bbd6-c00f-4b84-67a2-7ac97afe119a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1210156705",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}