{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6d2c4ea2-8230-a483-15e1-363041329a6c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230F94C4146\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:26 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6d2c4ea2-8230-a483-15e1-363041329a6c/test-directory-953f0282-f423-70c5-3069-947911a23057?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:27 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230F957088F\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-26T19:31:27.0374543Z",
        "x-ms-file-creation-time": "2021-01-26T19:31:27.0374543Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-26T19:31:27.0374543Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6d2c4ea2-8230-a483-15e1-363041329a6c/test-directory-953f0282-f423-70c5-3069-947911a23057/test-file-cbd8c4f9-a4ad-98f8-1b65-767fc6ef827e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:27 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230F9653BEE\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:31:27.1305198Z",
        "x-ms-file-creation-time": "2021-01-26T19:31:27.1305198Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:31:27.1305198Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6d2c4ea2-8230-a483-15e1-363041329a6c/test-directory-953f0282-f423-70c5-3069-947911a23057/test-file-cbd8c4f9-a4ad-98f8-1b65-767fc6ef827e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-write": "update"
      },
      "RequestBody": "KBzpljvZrWv\u002BiRD/fByzzuohFChEvdhXShl088QCB0iHqoCheOg2izzzc/VpZJTnNIQVjSdziWpDkksiZLmm\u002B4LIeNKbElUC64nsUUrj7eaEjb9A7XkgFCAVXeWcFCaCTXdzoezCSyIuEqKehjggYKVlndf6ZQ4Ip2OxhbRwZtZiaQTTb0z6wkKdEtvXgo3o9fxAN3ZPiOdpa/qIEMVtvqvLOx0zTPFZa9qUXVMyMCTVyJC4Ly5fEuEcagRRcbJ8L1MvDEZwtakK58ycuiqUNjrVskc1tI59ayk7F\u002BHsB/koGC3/AiPeZRPnrUhiw1i2iDTJfL5qR3vFsqEdNZ3HHt/Sc6L9lDQX900zTgdFG6fRhI6tI4s7vdGyOlCBwDB1H49oj0\u002B1ufT/soRwNvlzf5f6TLAPGfpUl7bRSlnjlTYdvi533ItXG8q[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6d2c4ea2-8230-a483-15e1-363041329a6c/test-directory-953f0282-f423-70c5-3069-947911a23057/test-file-cbd8c4f9-a4ad-98f8-1b65-767fc6ef827e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C230F96FC534\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:31:27.1995700Z",
        "x-ms-file-creation-time": "2021-01-26T19:31:27.1305198Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:31:27.1995700Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6d2c4ea2-8230-a483-15e1-363041329a6c/test-directory-953f0282-f423-70c5-3069-947911a23057/test-file-cbd8c4f9-a4ad-98f8-1b65-767fc6ef827e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:28 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-range-get-content-md5": "false"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C230F96FC534\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:31:27.1995700Z",
        "x-ms-file-creation-time": "2021-01-26T19:31:27.1305198Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:31:27.1995700Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6d2c4ea2-8230-a483-15e1-363041329a6c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:28 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2067149080",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}