{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-ff57e220-8aac-fd64-587c-4b9ca608aba6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38EB295FF7\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-ff57e220-8aac-fd64-587c-4b9ca608aba6/test-directory-c111d451-4c89-10b6-5c16-dbce3e47ff2d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38EB333612\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-09-21T19:49:26.7278354Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:26.7278354Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-21T19:49:26.7278354Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-ff57e220-8aac-fd64-587c-4b9ca608aba6/test-directory-c111d451-4c89-10b6-5c16-dbce3e47ff2d/test-file-08616551-a12f-5594-da07-86e9281c8a8f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38EB42EB3A\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:26.8307770Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:26.8307770Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:26.8307770Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-ff57e220-8aac-fd64-587c-4b9ca608aba6/test-directory-c111d451-4c89-10b6-5c16-dbce3e47ff2d/test-file-08616551-a12f-5594-da07-86e9281c8a8f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "2ldMzZFXG2yblJzLVzCF45RPNzN61RPFH7zuVXnjBsNCmKw0LLT6P\u002B5fjoVeBfLQS4fBJihH4QREh63Vacbyt43Zib6DUbbgVPdEGkaNZxrJHQrxIuCa\u002B7en8KQGJNYobdb4hHwzTPrR4dExAsa9tiCSC0u7AJWtPo0H3GES2TAhHK1vleKeltAQIEEOafjx6TmEcxiKbGxBSkbuLHCYvgehD\u002BYYTiA99HV7q\u002BBUn9WVFfInjWUXlq9BLkqcsGlfd2E5bFkR2JsZRn\u002BiD8GM7atwWBZ9cTGiink31x/VoUMMGzR\u002BGjJ7gz1XDkbldIbutUCfK1hS4gYwluLf2QB7Q6U8lvSMDdJ59NTZJmLqvBXySSLfNnXruTkuTYRPm6k928uhqd2SYadtJTaDebujRtrM7ZDenAwvUd26XsBOKVkqm[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-ff57e220-8aac-fd64-587c-4b9ca608aba6/test-directory-c111d451-4c89-10b6-5c16-dbce3e47ff2d/test-file-08616551-a12f-5594-da07-86e9281c8a8f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38EB53B1A8\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:26.8307770Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:26.8307770Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:26.8307770Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-ff57e220-8aac-fd64-587c-4b9ca608aba6/test-directory-c111d451-4c89-10b6-5c16-dbce3e47ff2d/test-file-08616551-a12f-5594-da07-86e9281c8a8f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:27 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38EB53B1A8\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:26.8307770Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:26.8307770Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:26.8307770Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "2ldMzZFXG2yblJzLVzCF45RPNzN61RPFH7zuVXnjBsNCmKw0LLT6P\u002B5fjoVeBfLQS4fBJihH4QREh63Vacbyt43Zib6DUbbgVPdEGkaNZxrJHQrxIuCa\u002B7en8KQGJNYobdb4hHwzTPrR4dExAsa9tiCSC0u7AJWtPo0H3GES2TA="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-ff57e220-8aac-fd64-587c-4b9ca608aba6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1780832886",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}