{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a6f71939-4b65-845a-9a87-99543f3c1a7e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C5EBA5015\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:37:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a6f71939-4b65-845a-9a87-99543f3c1a7e/test-directory-8829c05a-65b2-27f4-58cb-c2203f915740?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:29 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C5EC4C106\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:37:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:37:28.9669894Z",
        "x-ms-file-creation-time": "2021-01-21T20:37:28.9669894Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:37:28.9669894Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a6f71939-4b65-845a-9a87-99543f3c1a7e/test-directory-8829c05a-65b2-27f4-58cb-c2203f915740/test-file-8653827f-8b63-e7e3-f814-0671c4bbee19",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:29 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4C5ED082FC\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:37:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:37:29.0440444Z",
        "x-ms-file-creation-time": "2021-01-21T20:37:29.0440444Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:37:29.0440444Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a6f71939-4b65-845a-9a87-99543f3c1a7e/test-directory-8829c05a-65b2-27f4-58cb-c2203f915740/test-file-8653827f-8b63-e7e3-f814-0671c4bbee19?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "BXPhY2fdBTkBQqYRUuDKjO4m8hIj6xAs788nnn/L616irQ7q6nk0UCc1a\u002B1C6bwxcBQE1ZDsQhpitHOYtma5NVZIb6XS36J18aLr7YAi6QUT9S1rxxXNtmrzhzUFnJnAezWX\u002BnoWX5Bxj\u002BTuAFSaP8tuhcE5Tm5Aerk73ldtb1QIKnJKi\u002B6L/JWc\u002BTcx37UWWUhplxfYhy3HVn/A24A5AyCP5dbiT7Tc4ogrnFQ2D5sEJYUPA9g9MKJEgzRuyiAVY/UXofneMwqTjLSOrOvYkEbkvLb7Kf9IUrQ0ncx/bhhoFjheH26hJfF7e3YjroO3bPPuig5qGTr1zk5FqpU9FB6cJpayeXDYQpbFgK2JJKMwfTHZkeMJ/vz\u002BaFAfXHtbPWdXh4jtBPKCFkh4pJmMbKqrFC1kZII7kiiZtBEfuOUaa[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a6f71939-4b65-845a-9a87-99543f3c1a7e/test-directory-8829c05a-65b2-27f4-58cb-c2203f915740/test-file-8653827f-8b63-e7e3-f814-0671c4bbee19",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:29 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4C5EDB334A\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:37:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:37:29.1140938Z",
        "x-ms-file-creation-time": "2021-01-21T20:37:29.0440444Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:37:29.1140938Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a6f71939-4b65-845a-9a87-99543f3c1a7e/test-directory-8829c05a-65b2-27f4-58cb-c2203f915740/test-file-8653827f-8b63-e7e3-f814-0671c4bbee19",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:29 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-range-get-content-md5": "false",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4C5EDB334A\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:37:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:37:29.1140938Z",
        "x-ms-file-creation-time": "2021-01-21T20:37:29.0440444Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:37:29.1140938Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a6f71939-4b65-845a-9a87-99543f3c1a7e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:37:29 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1048990083",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}