{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6e4bed34-6650-592e-7e6a-55db5e140085?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:28:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230862A2D4D\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:28:13 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6e4bed34-6650-592e-7e6a-55db5e140085/test-directory-bc5f9a45-855a-ddd9-beaf-5b0ba2df15ca?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:28:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C2308634B9F1\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:28:13 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-26T19:28:13.8746353Z",
        "x-ms-file-creation-time": "2021-01-26T19:28:13.8746353Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-26T19:28:13.8746353Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6e4bed34-6650-592e-7e6a-55db5e140085/test-directory-bc5f9a45-855a-ddd9-beaf-5b0ba2df15ca/test-file-2967983d-8817-165d-a293-0ccc555fa91d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 26 Jan 2021 19:28:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230863F4338\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:28:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:28:13.9436856Z",
        "x-ms-file-creation-time": "2021-01-26T19:28:13.9436856Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:28:13.9436856Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6e4bed34-6650-592e-7e6a-55db5e140085/test-directory-bc5f9a45-855a-ddd9-beaf-5b0ba2df15ca/test-file-2967983d-8817-165d-a293-0ccc555fa91d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 26 Jan 2021 19:28:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-write": "update"
      },
      "RequestBody": "E8zp1eOjtRML5g9iSfAcxlSWBFPWa3Xr2n\u002BvRSJGc7Uv29T0D4XhY5n1nm1SLqL5XEnybvJ1iahW/ftj83DwxXJaM20bKLbPtKC64MwImazdtejZUwXDuVIsnRGJfnAoBdj6\u002BPs03TSTIrlRu6jcTmROhj2HF3Ftlnka74qkRjYwkdvzDaGxqNi0RTBLcf6pT06tOvcyoe1njWGBGe2p7tyDICnN6EDDnd1l0tFAIiR7cKA89ws//vDujIA/MI7qC1dUyFHU3GcN6Z0ZzM4bJms8BahNbfbRRCE53lvAg21Oe8d67FnTp5Q4Lg5tJTIh0mYVAyrlnJ5hgoQvmv0LTWUwylAHoTkRaV4UFT7oYx/vFwz1q4BCaN8pGGnVowyWLeCoPVrhGjEsBJrL0YdfeB9lP4LxFqLk7WJx3YjQO8VSfuhePybEDv3byKbmdpdYy[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6e4bed34-6650-592e-7e6a-55db5e140085/test-directory-bc5f9a45-855a-ddd9-beaf-5b0ba2df15ca/test-file-2967983d-8817-165d-a293-0ccc555fa91d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:28:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C230864A68C9\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:28:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:28:14.0167369Z",
        "x-ms-file-creation-time": "2021-01-26T19:28:13.9436856Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:28:14.0167369Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6e4bed34-6650-592e-7e6a-55db5e140085/test-directory-bc5f9a45-855a-ddd9-beaf-5b0ba2df15ca/test-file-2967983d-8817-165d-a293-0ccc555fa91d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:28:14 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-range-get-content-md5": "false"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C230864A68C9\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:28:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:28:14.0167369Z",
        "x-ms-file-creation-time": "2021-01-26T19:28:13.9436856Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:28:14.0167369Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6e4bed34-6650-592e-7e6a-55db5e140085?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:28:14 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1609356125",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}