{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-404cbc64-8e74-ab80-06d7-360ee1c796cf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:17:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B3066E0F43C\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:17:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-404cbc64-8e74-ab80-06d7-360ee1c796cf/test-directory-84967bd7-4239-f71b-595d-1bbcec32f6a2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:17:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B3066E7A24F\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:17:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-08-08T00:17:14.3850575Z",
        "x-ms-file-creation-time": "2020-08-08T00:17:14.3850575Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-08-08T00:17:14.3850575Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-404cbc64-8e74-ab80-06d7-360ee1c796cf/test-directory-84967bd7-4239-f71b-595d-1bbcec32f6a2/test-file-cf796cca-9dd2-5395-a958-febfa7999920",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Sat, 08 Aug 2020 00:17:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B3066F279BA\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:17:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-08-08T00:17:14.4561082Z",
        "x-ms-file-creation-time": "2020-08-08T00:17:14.4561082Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-08-08T00:17:14.4561082Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-404cbc64-8e74-ab80-06d7-360ee1c796cf/test-directory-84967bd7-4239-f71b-595d-1bbcec32f6a2/test-file-cf796cca-9dd2-5395-a958-febfa7999920?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:17:14 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "bcc6e6e4-a1dd-8a73-cc60-c96fa07a9f36",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B3066F279BA\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:17:14 GMT",
        "x-ms-lease-id": "bcc6e6e4-a1dd-8a73-cc60-c96fa07a9f36",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-404cbc64-8e74-ab80-06d7-360ee1c796cf/test-directory-84967bd7-4239-f71b-595d-1bbcec32f6a2/test-file-cf796cca-9dd2-5395-a958-febfa7999920?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:17:14 GMT",
        "x-ms-lease-id": "bcc6e6e4-a1dd-8a73-cc60-c96fa07a9f36",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "D5ii2QboNg6YbE4uhRaHd/OQN//ip2BrtgW6mCxfZwG2W28zj4ton3GpWVNCGoc4mxiBFEft2mg3NyMALp3iOQVNdymmVOhoKJiNOU0NKJt9gv0T3VK5yYEH\u002B1doZ3DTxyBN9aJdkUYwGeyvX6AaKg6Hg6ygzluyk62nn1mR/8EouXIsvzP4H/C248RmCmrg7NBI4OTDM/jFm2H0tfLtnhkrh6Uu7WvbjmO86euXTIhDx7KISB7dZIZ6ZyPSA2n\u002ByUSqOoPEsv5lbVGAB0kMLU7Yse4/ZFb6TiIftIZHCYv5vSCm7REFfxS0I9vNXFw9bTrV\u002BVJ7v2Tur\u002BxgpP54HWTGh0koZUA90jHZi0F7LfLF4kdMcg84fv67uD0lpdoWOwV2BtUTFAf5lyYgoTMicoH6msK2LKtUjglLbK0CFy1Xwk88BCcdss0[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-404cbc64-8e74-ab80-06d7-360ee1c796cf?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:17:14 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1189797984",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}