{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8cc04ba6-a02f-6a07-7306-11f94c426bff?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:32:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F68E35F6390\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:32:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8cc04ba6-a02f-6a07-7306-11f94c426bff/test-directory-76c86beb-9274-ab20-2319-6a4321a2dd02?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:32:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F68E368CE3F\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:32:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-09-23T02:32:16.9459263Z",
        "x-ms-file-creation-time": "2020-09-23T02:32:16.9459263Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-09-23T02:32:16.9459263Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8cc04ba6-a02f-6a07-7306-11f94c426bff/test-directory-76c86beb-9274-ab20-2319-6a4321a2dd02/test-file-ee4979b1-21d8-f04d-f2b8-325e123c58cc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 23 Sep 2020 02:32:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85F68E371D09C\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:32:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-09-23T02:32:17.0049692Z",
        "x-ms-file-creation-time": "2020-09-23T02:32:17.0049692Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-09-23T02:32:17.0049692Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8cc04ba6-a02f-6a07-7306-11f94c426bff/test-directory-76c86beb-9274-ab20-2319-6a4321a2dd02/test-file-ee4979b1-21d8-f04d-f2b8-325e123c58cc?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:32:16 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12",
        "x-ms-write": "update"
      },
      "RequestBody": "pYPQHSnBJGM5EN7aZFI2VKLQ1qMpu1t9iVROIsh\u002BVFvx\u002Bijw/llwq1kV6ZYqr6Qcg2sQk2QECuooUpTVcgGburyD6GkpRlVJXytKFNLEU9mvMp5cbcD27PA\u002ByKvEmzhXeS7ap8c78j0WxzM5uvUXY/\u002B6JUBjPk37jPt4636phMTz8pqk6qwScz9hRaaNvTL6JmSsCnX49Drg3hrMwwe/bUJvRchbc3lTqLEAAvmnbs/JfcQZ/HpO\u002B/5fwwyRRrA4odhkHXhqn7LrWGHE\u002BPFBOW9LA0VDpXDHIEnJ\u002B7BswWIAx2AgQ1FXXt4SLqMZiQMMHoqcRkNq9fxnnPwuoKMCfpb/wzCQIfYe9KRnMXbMrZZGvd0m0HsfldJkuKZUKL46D7ANGsbTe/yTflKeA8SFmu9l5\u002BPF3K4b3y1[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8cc04ba6-a02f-6a07-7306-11f94c426bff/test-directory-76c86beb-9274-ab20-2319-6a4321a2dd02/test-file-ee4979b1-21d8-f04d-f2b8-325e123c58cc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:32:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D85F68E37AABD4\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 02:32:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-09-23T02:32:17.0049692Z",
        "x-ms-file-creation-time": "2020-09-23T02:32:17.0049692Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-09-23T02:32:17.0049692Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8cc04ba6-a02f-6a07-7306-11f94c426bff?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 02:32:16 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "13917657",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}