{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-f1908848-b183-0301-58d3-b0b02164cc38?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:39 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C23100301072\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:38 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-f1908848-b183-0301-58d3-b0b02164cc38/test-directory-e8e98fd6-710f-2251-d1d7-bf6a35032ceb?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C23100399CEF\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-26T19:31:38.5886959Z",
        "x-ms-file-creation-time": "2021-01-26T19:31:38.5886959Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-26T19:31:38.5886959Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-f1908848-b183-0301-58d3-b0b02164cc38/test-directory-e8e98fd6-710f-2251-d1d7-bf6a35032ceb/test-file-ebb2d4ef-0802-ce99-02a8-fabc450fbd32",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C2310042782B\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:31:38.6467371Z",
        "x-ms-file-creation-time": "2021-01-26T19:31:38.6467371Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:31:38.6467371Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-f1908848-b183-0301-58d3-b0b02164cc38/test-directory-e8e98fd6-710f-2251-d1d7-bf6a35032ceb/test-file-ebb2d4ef-0802-ce99-02a8-fabc450fbd32?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-write": "update"
      },
      "RequestBody": "PmxugdzkaOHLfFcaFLhVN8DbUpDsrVDzGllF2oquHKxVwZZ/RxF0CmzQH4awf7lJU8L7abwtRZAce2aCn45WHWCqxFMi1vCvZ0cjG47KQpug\u002B4bIs7LwKHsFY8yr8mveegEmBbplJ33SSwF0CSkCUjnL4aQHjmqtupvYHXIkBHTcRaGMozzgO9QI9mewex9SAhGT4BDG1uuXeEsejQoKrkeMmMOHda786qbQ/pgD/D58hRphkCRkFW629Svxwq3K/kgfJONbyo1ilvVp9thTk3wMogfvqB0jKIJU0YCCCif5BQBQ49hbILqN/vku\u002Bx6WYmGu5R\u002Bm2lUq/PtgB/kM34zOcPDXAq\u002BksIJMYqkj9S1jvm4e1CQIUiurJefc\u002BhnBgB5tYIotv1\u002BxCjSdWXerBwbO/UiL7gtnxR3FLN3Ix7Zoi[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-f1908848-b183-0301-58d3-b0b02164cc38/test-directory-e8e98fd6-710f-2251-d1d7-bf6a35032ceb/test-file-ebb2d4ef-0802-ce99-02a8-fabc450fbd32",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:39 GMT",
        "x-ms-range": "bytes=0-"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C231004BA196\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:31:38.7067798Z",
        "x-ms-file-creation-time": "2021-01-26T19:31:38.6467371Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:31:38.7067798Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "PmxugdzkaOHLfFcaFLhVN8DbUpDsrVDzGllF2oquHKxVwZZ/RxF0CmzQH4awf7lJU8L7abwtRZAce2aCn45WHWCqxFMi1vCvZ0cjG47KQpug\u002B4bIs7LwKHsFY8yr8mveegEmBbplJ33SSwF0CSkCUjnL4aQHjmqtupvYHXIkBHTcRaGMozzgO9QI9mewex9SAhGT4BDG1uuXeEsejQoKrkeMmMOHda786qbQ/pgD/D58hRphkCRkFW629Svxwq3K/kgfJONbyo1ilvVp9thTk3wMogfvqB0jKIJU0YCCCif5BQBQ49hbILqN/vku\u002Bx6WYmGu5R\u002Bm2lUq/PtgB/kM34zOcPDXAq\u002BksIJMYqkj9S1jvm4e1CQI[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-f1908848-b183-0301-58d3-b0b02164cc38?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:39 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "62705983",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}