{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-0dabac09-2a20-d3c0-ef3f-c17e6977a5cd?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:17 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38E5DD2B69\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:17 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-0dabac09-2a20-d3c0-ef3f-c17e6977a5cd/test-directory-33aec1ef-31b4-5c89-7b3a-011f1469eec8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:17 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38E5E72AF4\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:17 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-09-21T19:49:17.8408692Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:17.8408692Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-21T19:49:17.8408692Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-0dabac09-2a20-d3c0-ef3f-c17e6977a5cd/test-directory-33aec1ef-31b4-5c89-7b3a-011f1469eec8/test-file-637cea25-615a-ff76-96f0-4f247a485174",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:17 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38E5F05162\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:17.9008354Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:17.9008354Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:17.9008354Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-0dabac09-2a20-d3c0-ef3f-c17e6977a5cd/test-directory-33aec1ef-31b4-5c89-7b3a-011f1469eec8/test-file-637cea25-615a-ff76-96f0-4f247a485174?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:17 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "u5297UrtZoIXFoDNbOsVyh8unkkCy1B5xJFHsLHA/vWS/uKp9C2Ik2XkC2LI1/FgH/LJax4Lw\u002B9NQyi4pbXRVxeKO20Ia9bypQvkHr/tsOyf5pC\u002B9pPWhzvyXLAE0O2vE7RKPpyDWLMc18UTJqUwX5I8Gb8lEmCEs7MyFg8l7dUeNAsLo3JQHI7coh/Nw2CWwv0eyLctiQBTxYroUUGk9\u002Brw9PGaJLwg6/wwSG9At/BTm1MSBiQe8KsKt93naMtMOKs13c5u/J1B/t26/UGQEw6ZlbXukvDF0QRGj23eOIMx5A/EC9ki5J\u002B20QhHZPNpeqTPTtMVXqa7cAvKJ20vYsZaiBgyzAc0d7AWN8DofW0Q3RXJDuqvHIZoCZvOV70xhm5C7dvaN66cm9Yj/ibl0/KeuUpXZlPbqmySycJsZh/z5LBSpZCSNqZ[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-0dabac09-2a20-d3c0-ef3f-c17e6977a5cd/test-directory-33aec1ef-31b4-5c89-7b3a-011f1469eec8/test-file-637cea25-615a-ff76-96f0-4f247a485174",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:18 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38E603FD99\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:17.9008354Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:17.9008354Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:17.9008354Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-0dabac09-2a20-d3c0-ef3f-c17e6977a5cd/test-directory-33aec1ef-31b4-5c89-7b3a-011f1469eec8/test-file-637cea25-615a-ff76-96f0-4f247a485174",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:18 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38E603FD99\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:17.9008354Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:17.9008354Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:17.9008354Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "u5297UrtZoIXFoDNbOsVyh8unkkCy1B5xJFHsLHA/vWS/uKp9C2Ik2XkC2LI1/FgH/LJax4Lw\u002B9NQyi4pbXRVxeKO20Ia9bypQvkHr/tsOyf5pC\u002B9pPWhzvyXLAE0O2vE7RKPpyDWLMc18UTJqUwX5I8Gb8lEmCEs7MyFg8l7dU="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-0dabac09-2a20-d3c0-ef3f-c17e6977a5cd?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1370534345",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}