{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-742fa75c-e516-50f6-2798-86a2d2c90277?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:19 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF9A9A40B58\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:19 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-742fa75c-e516-50f6-2798-86a2d2c90277/test-directory-4bc0d0bc-740d-8fdc-dc51-d6a53df44936?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:19 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF9A9AAE8A4\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:19 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-10-07T19:46:19.8876324Z",
        "x-ms-file-creation-time": "2020-10-07T19:46:19.8876324Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-10-07T19:46:19.8876324Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-742fa75c-e516-50f6-2798-86a2d2c90277/test-directory-4bc0d0bc-740d-8fdc-dc51-d6a53df44936/test-file-d39b42c2-0e12-f3d7-25b0-65dfd06aba70",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:19 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86AF9A9B28B2F\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-07T19:46:19.9376687Z",
        "x-ms-file-creation-time": "2020-10-07T19:46:19.9376687Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-07T19:46:19.9376687Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-742fa75c-e516-50f6-2798-86a2d2c90277/test-directory-4bc0d0bc-740d-8fdc-dc51-d6a53df44936/test-file-d39b42c2-0e12-f3d7-25b0-65dfd06aba70?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "94eGFt/IeD9uG0QJ\u002BAx//QBW5ZOvEwV9dk3Y0NSdHlZ8KtiIWTmg9zEFxxWj9/cCNavDMMrzoeSBCaCS8Kdr0PzujM4z9qPHte1hqkvw2X5V1psp2u2LiYjzB1CYDgeKmvYYtGsozj4H\u002B3vdkveZkC8hPBkMQfYPYwNGP\u002B9TL6fl1xBU2CUTLQddId9xrfaRWnYgdtHufVgACFBn4Y5OtMzT97rmRLgJDg8RriAXnbUMteR5MrjW91m4VM/Uq0t4D20SnrU8qha9F2jC3M836WqbWyyp1YEU/QBhLfDpNWLDmZ\u002BzBP//0ArOuxtPExuJgWpkOVAfzjnr/qC12n0l1OEG/kMvg\u002BRqm4sh2xpmxOnk16yFhPwSpMplyAZfSfWNqOY6SRXYWv2G\u002BZ7F/vMfhTm20QLRoFDl9Fl4yrveC1GVk[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-742fa75c-e516-50f6-2798-86a2d2c90277/test-directory-4bc0d0bc-740d-8fdc-dc51-d6a53df44936/test-file-d39b42c2-0e12-f3d7-25b0-65dfd06aba70",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:19 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF9A9B8A6CE\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-07T19:46:19.9376687Z",
        "x-ms-file-creation-time": "2020-10-07T19:46:19.9376687Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-07T19:46:19.9376687Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-742fa75c-e516-50f6-2798-86a2d2c90277/test-directory-4bc0d0bc-740d-8fdc-dc51-d6a53df44936/test-file-d39b42c2-0e12-f3d7-25b0-65dfd06aba70",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:19 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D86AF9A9B8A6CE\u0022",
        "Last-Modified": "Wed, 07 Oct 2020 19:46:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-10-07T19:46:19.9376687Z",
        "x-ms-file-creation-time": "2020-10-07T19:46:19.9376687Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-10-07T19:46:19.9376687Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "94eGFt/IeD9uG0QJ\u002BAx//QBW5ZOvEwV9dk3Y0NSdHlZ8KtiIWTmg9zEFxxWj9/cCNavDMMrzoeSBCaCS8Kdr0PzujM4z9qPHte1hqkvw2X5V1psp2u2LiYjzB1CYDgeKmvYYtGsozj4H\u002B3vdkveZkC8hPBkMQfYPYwNGP\u002B9TL6c="
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-742fa75c-e516-50f6-2798-86a2d2c90277?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Oct 2020 19:46:20 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1052502741",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}