{
  "Entries": [
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-141a6a76-3dbb-45bd-fa47-81385e85595b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:35:48 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83253813BDA52\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:35:50 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-141a6a76-3dbb-45bd-fa47-81385e85595b/test-directory-3b8217da-0ab1-c742-9ec6-cdf9f25eab81?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:35:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8325381455F20\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:35:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-07-27T17:35:50.5406752Z",
        "x-ms-file-creation-time": "2020-07-27T17:35:50.5406752Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-07-27T17:35:50.5406752Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10468614340527976405*17986492168883239004",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-141a6a76-3dbb-45bd-fa47-81385e85595b/test-directory-3b8217da-0ab1-c742-9ec6-cdf9f25eab81/test-file-96be6e10-360b-f43e-40c9-1e39143809e9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 27 Jul 2020 17:35:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83253814EAF95\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:35:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-07-27T17:35:50.6017173Z",
        "x-ms-file-creation-time": "2020-07-27T17:35:50.6017173Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-07-27T17:35:50.6017173Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5853609782263189714*17986492168883239004",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-141a6a76-3dbb-45bd-fa47-81385e85595b/test-directory-3b8217da-0ab1-c742-9ec6-cdf9f25eab81/test-file-96be6e10-360b-f43e-40c9-1e39143809e9?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:35:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12",
        "x-ms-write": "update"
      },
      "RequestBody": "G\u002BzXBfx2yOfjGachTMvkJrVttcA\u002BuPKdfh5HSuVcDzfcCFckQg60DYoSbNyhAAVqqxx4JwFMomP5OYbeLn4BhwpwRENzwOSmuag2LEsV/H0Y3J7J5Oc1j2X0KgmH1d4LEOXSMLzB9\u002Bs30W5ZFnYY5DwJxVLgN6MiO7TdfpbaH\u002BPKKhxmQszBVuWzkRJ53Hnv3EbMfhCMK9hBsPQH43hUXbKKj\u002BtasqFvR25tLKWQqF877qJQDqDTPf9DJJLXunNsXjRg70yNlSqkXDehH/8ysAeVzPXWBE4StlHsFo0OmI37AM1xMLkSrVh4q7FoMh7/EXOLQu19lVnmTTj7oX6clsSqph4xwX9Ngh\u002BcXlmdqYQy7AUaglWffWtziuOBFgzZ2xTtvosAzk/zPr/O4Tf/SKSzybR5gRNvCyiyvTaczGwSw[...]
[...]
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-141a6a76-3dbb-45bd-fa47-81385e85595b/test-directory-3b8217da-0ab1-c742-9ec6-cdf9f25eab81/test-file-96be6e10-360b-f43e-40c9-1e39143809e9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:35:49 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D83253816AEF19\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:35:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-07-27T17:35:50.7278034Z",
        "x-ms-file-creation-time": "2020-07-27T17:35:50.7278034Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-07-27T17:35:50.7278034Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5853609782263189714*17986492168883239004",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "eb1kA3cdMygOiKJD2i/IXDz9T/y98Qb5sr6CzS2IaLcpG\u002BAB970LVlJgQxyDqHI7Uy9BsiCDBYi2a1C5mmb6hSDqGb5Px2R/8fipXa7qdQlMR3r\u002BRraWpRZXSoxsUrvsZb37mI6z64zKwsAn2qfazPVHbFPr\u002Bz5qVHSo93zXEp89vPfw7tx7mFvuM4T1bstvfX2WJeVoAWp\u002BkEQaC/QP8q8h6h2v6d4Zy9P3/ce6deaoOXr\u002BQO251LuNcl2XYI1m3kDU1IOuv5OffVkScAOixBtectJ6ELLBaBVhIXeAgWtGkB6G5qBi\u002BnnmX8OUpmO3665COe667M2OEmxuTJ0cH/vty\u002BDkG916/HdZlL[...]
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-141a6a76-3dbb-45bd-fa47-81385e85595b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:35:49 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "147370107",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmccprodca\nU2FuaXRpemVk\nhttps://seanmccprodca.blob.core.windows.net\nhttps://seanmccprodca.file.core.windows.net\nhttps://seanmccprodca.queue.core.windows.net\nhttps://seanmccprodca.table.core.windows.net\n\n\n\n\nhttps://seanmccprodca-secondary.blob.core.windows.net\nhttps://seanmccprodca-secondary.file.core.windows.net\nhttps://seanmccprodca-secondary.queue.core.windows.net\nhttps://seanmccprodca-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmccprodca.blob.core.windows.net/;QueueEndpoint=https://seanmccprodca.queue.core.windows.net/;FileEndpoint=https://seanmccprodca.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccprodca-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccprodca-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccprodca-secondary.file.core.windows.net/;AccountName=seanmccprodca;AccountKey=Kg==;\nseanscope1"
  }
}