{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-30b07eb8-7411-7954-9540-08e631612bf0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:16 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38E5471B6A\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:16 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-30b07eb8-7411-7954-9540-08e631612bf0/test-directory-dc1376b7-6dde-e37c-241f-770d3a2224e7?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38E550CD25\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-09-21T19:49:16.8554277Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:16.8554277Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-21T19:49:16.8554277Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-30b07eb8-7411-7954-9540-08e631612bf0/test-directory-dc1376b7-6dde-e37c-241f-770d3a2224e7/test-file-74a13925-58c8-679d-91d8-e957a20085d8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38E559A579\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:16.9133945Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:16.9133945Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:16.9133945Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-30b07eb8-7411-7954-9540-08e631612bf0/test-directory-dc1376b7-6dde-e37c-241f-770d3a2224e7/test-file-74a13925-58c8-679d-91d8-e957a20085d8?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:16 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "VMeX4mQl3mO9mwVOB/W\u002BVDC/EQ2nRk6CVcAP3aCgRlyZ3jJcOAxU1k8XIP1rHNTdkV7ncmjp3w55FIyjFQDCHVWotCjDYhwkaju9jyVQFjnsMkxBudP0r/4j4yN/sMFOVQOow2esGS9CwggtK1DoKf1TtuOzgGOCtAQpn374pLl5bzoip1PSQBgd//bLx4SuOromLPrdmtSfJg9ignmwSR1Os7wVxoGpgHbLloFstu2AemTE0ni/nNRmgoFEb72ebLXYfBPHmHQ4fKuEEgRSMm8h4ggU63eljhfor0T/ZRG4LCnLkznZuOHwjFXMO4nPE08RIo21iYE9M\u002B773ukvOBeay\u002Bbah581SCkmJF8h2FKOGJz17kKEAqKojWBL3dn4wFM\u002BMm\u002Bj9Yuw3Npjj2UhHFqbbcZMOkrUFclDMvk\u002B6mpPL[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-30b07eb8-7411-7954-9540-08e631612bf0/test-directory-dc1376b7-6dde-e37c-241f-770d3a2224e7/test-file-74a13925-58c8-679d-91d8-e957a20085d8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:17 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38E56BA440\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:16.9133945Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:16.9133945Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:16.9133945Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-30b07eb8-7411-7954-9540-08e631612bf0/test-directory-dc1376b7-6dde-e37c-241f-770d3a2224e7/test-file-74a13925-58c8-679d-91d8-e957a20085d8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:17 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38E56BA440\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:16.9133945Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:16.9133945Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:16.9133945Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-30b07eb8-7411-7954-9540-08e631612bf0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:17 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1032404969",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}