{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a65eb44c-53e3-39e8-8024-29a20dabf810?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38E7A3798A\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a65eb44c-53e3-39e8-8024-29a20dabf810/test-directory-28c8cd08-a7a4-5c7b-7bf9-c933b0824abb?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38E7AD9F4E\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-09-21T19:49:20.8191822Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:20.8191822Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-21T19:49:20.8191822Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a65eb44c-53e3-39e8-8024-29a20dabf810/test-directory-28c8cd08-a7a4-5c7b-7bf9-c933b0824abb/test-file-4eb99002-7f6d-1766-4a61-ddda23c4e942",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D38E7B7AFF9\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:20.8851449Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:20.8851449Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:20.8851449Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a65eb44c-53e3-39e8-8024-29a20dabf810/test-directory-28c8cd08-a7a4-5c7b-7bf9-c933b0824abb/test-file-4eb99002-7f6d-1766-4a61-ddda23c4e942?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "2mrdwEdALYz7l0XY/YGTd73W76YmKcCzS0rIh3uMC8vVFx9eJnusAt3PJWNeQ1riT4mGUCdQbbGqKnT8eKURbox6A\u002BZhNFBCKezIVgNcVQfw5TfxBrqjhaputPwGsIo3vbfW40B0gBs4RCY6hxauTdVsC5NtH2jR1n47839UO3likJlLhXHHe2QcucKUaP2UwGcnmqT2yp1OBQ3COI2b5Ait2Pd8YsdjpY8vUWamPW2BpzMYLKHUa8b7/YBjBEPWgNS55pAGF12fw/QUx3k2qMefQZBag7hn2G0wgWVG/6FMWNCS7FbdepDVeGitwKNMxFS5xMKyfP0cUg4i1ZX4WMNSyG\u002BopLtxwcb/hApPuRjJ5LwQjTvemdvTdZpIuqX73B\u002BkWvg0pB\u002BYRwL8s/fyzJj2WfHY58uIdC6T1S8gKAYgBKjqql8glUC[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a65eb44c-53e3-39e8-8024-29a20dabf810/test-directory-28c8cd08-a7a4-5c7b-7bf9-c933b0824abb/test-file-4eb99002-7f6d-1766-4a61-ddda23c4e942",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:21 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38E7C9AEBC\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:20.8851449Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:20.8851449Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:20.8851449Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a65eb44c-53e3-39e8-8024-29a20dabf810/test-directory-28c8cd08-a7a4-5c7b-7bf9-c933b0824abb/test-file-4eb99002-7f6d-1766-4a61-ddda23c4e942",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:21 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D38E7C9AEBC\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 19:49:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T19:49:20.8851449Z",
        "x-ms-file-creation-time": "2021-09-21T19:49:20.8851449Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-09-21T19:49:20.8851449Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "2mrdwEdALYz7l0XY/YGTd73W76YmKcCzS0rIh3uMC8vVFx9eJnusAt3PJWNeQ1riT4mGUCdQbbGqKnT8eKURbox6A\u002BZhNFBCKezIVgNcVQfw5TfxBrqjhaputPwGsIo3vbfW40B0gBs4RCY6hxauTdVsC5NtH2jR1n47839UO3k="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a65eb44c-53e3-39e8-8024-29a20dabf810?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 19:49:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1140230734",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}