{
  "Entries": [
    {
      "RequestUri": "https://fp8xscnapby3pev24a.file.preprod.core.windows.net/test-share-02c52e7a-b045-24cf-7d75-f79e58ce27da?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Nov 2021 19:04:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9B43434800B2F\u0022",
        "Last-Modified": "Tue, 30 Nov 2021 19:04:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://fp8xscnapby3pev24a.file.preprod.core.windows.net/test-share-02c52e7a-b045-24cf-7d75-f79e58ce27da/test-directory-4bc90310-135f-6d83-a038-3dd7afdba3db?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Nov 2021 19:04:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9B434348FBC48\u0022",
        "Last-Modified": "Tue, 30 Nov 2021 19:04:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-11-30T19:04:16.2769992Z",
        "x-ms-file-creation-time": "2021-11-30T19:04:16.2769992Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-30T19:04:16.2769992Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10156757773834485186*23892369358363523",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://fp8xscnapby3pev24a.file.preprod.core.windows.net/test-share-02c52e7a-b045-24cf-7d75-f79e58ce27da/test-directory-4bc90310-135f-6d83-a038-3dd7afdba3db/test-file-c9151155-2157-8641-5c2d-490dda774c3b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 30 Nov 2021 19:04:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9B434349D50E3\u0022",
        "Last-Modified": "Tue, 30 Nov 2021 19:04:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-30T19:04:16.3660003Z",
        "x-ms-file-creation-time": "2021-11-30T19:04:16.3660003Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-11-30T19:04:16.3660003Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "16312887433045634277*23892369358363523",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://fp8xscnapby3pev24a.file.preprod.core.windows.net/test-share-02c52e7a-b045-24cf-7d75-f79e58ce27da?restype=share\u0026comp=filepermission",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 30 Nov 2021 19:04:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-file-permission-key": "12075044870606081650*23892369358363523",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://fp8xscnapby3pev24a.file.preprod.core.windows.net/test-share-02c52e7a-b045-24cf-7d75-f79e58ce27da/test-directory-4bc90310-135f-6d83-a038-3dd7afdba3db/test-file-c13dc299-b29f-3048-0e1c-ce78e4acfbb0?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Nov 2021 19:04:14 GMT",
        "x-ms-file-attributes": "ReadOnly|Archive",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-permission-key": "12075044870606081650*23892369358363523",
        "x-ms-file-rename-source": "https%3A%2F%2Ffp8xscnapby3pev24a.file.preprod.core.windows.net%2Ftest-share-02c52e7a-b045-24cf-7d75-f79e58ce27da%2Ftest-directory-4bc90310-135f-6d83-a038-3dd7afdba3db%2Ftest-file-c9151155-2157-8641-5c2d-490dda774c3b=",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9B43434B71AB6\u0022",
        "Last-Modified": "Tue, 30 Nov 2021 19:04:16 GMT",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2021-11-30T19:04:16.5350070Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12075044870606081650*23892369358363523",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://fp8xscnapby3pev24a.file.preprod.core.windows.net/test-share-02c52e7a-b045-24cf-7d75-f79e58ce27da/test-directory-4bc90310-135f-6d83-a038-3dd7afdba3db/test-file-c13dc299-b29f-3048-0e1c-ce78e4acfbb0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Nov 2021 19:04:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9B43434B71AB6\u0022",
        "Last-Modified": "Tue, 30 Nov 2021 19:04:16 GMT",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2021-11-30T19:04:16.5350070Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12075044870606081650*23892369358363523",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://fp8xscnapby3pev24a.file.preprod.core.windows.net/test-share-02c52e7a-b045-24cf-7d75-f79e58ce27da?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Nov 2021 19:04:14 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "742570455",
    "Storage_TestConfigDefault": "ProductionTenant\nfp8xscnapby3pev24a\nU2FuaXRpemVk\nhttps://fp8xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://fp8xscnapby3pev24a.file.preprod.core.windows.net\nhttps://fp8xscnapby3pev24a.queue.core.windows.net\nhttps://fp8xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://fp8xscnapby3pev24a-secondary.blob.core.windows.net\nhttps://fp8xscnapby3pev24a-secondary.file.core.windows.net\nhttps://fp8xscnapby3pev24a-secondary.queue.core.windows.net\nhttps://fp8xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://fp8xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://fp8xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://fp8xscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://fp8xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://fp8xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://fp8xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=fp8xscnapby3pev24a;AccountKey=Kg==;\nseanscope1\n\n"
  }
}