{
  "Entries": [
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-701b69f7-8a31-504e-4aeb-e4dcea9e6b19?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Feb 2023 02:24:25 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB04C49AB59D51\u0022",
        "Last-Modified": "Thu, 02 Feb 2023 02:24:25 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-701b69f7-8a31-504e-4aeb-e4dcea9e6b19/test-directory-15bc94b4-2e70-2810-b5bb-6212c6a5ed46?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB04C49AD76D8A\u0022",
        "Last-Modified": "Thu, 02 Feb 2023 02:24:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-02-02T02:24:26.0967818Z",
        "x-ms-file-creation-time": "2023-02-02T02:24:26.0967818Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-02-02T02:24:26.0967818Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8792472798472242479*1359530181238362790",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-701b69f7-8a31-504e-4aeb-e4dcea9e6b19/test-directory-15bc94b4-2e70-2810-b5bb-6212c6a5ed46/test-file-b5778d3d-20af-f0fe-808d-6b73a173228c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB04C49AE5C344\u0022",
        "Last-Modified": "Thu, 02 Feb 2023 02:24:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-02-02T02:24:26.1907268Z",
        "x-ms-file-creation-time": "2023-02-02T02:24:26.1907268Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-02-02T02:24:26.1907268Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13438439191449926184*1359530181238362790",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-701b69f7-8a31-504e-4aeb-e4dcea9e6b19/test-directory-15bc94b4-2e70-2810-b5bb-6212c6a5ed46/test-file-b5778d3d-20af-f0fe-808d-6b73a173228c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02",
        "x-ms-write": "update"
      },
      "RequestBody": "vjosnwplYqfVPmPC/pdFz1IAqsE790JEQN849C4pQgaG6KhwhJtgY32PVQvzsmOEjpc89qCk/cb4518rLG15q/xdOxXv1Eu3n0dDq6E3UY57tGaX7Utl4uvheJw7NTYQFqoPlXZNlLlMhFdZYFIkwJXRr3gH4b2w91kqDlyue2kRM5T3J7sXLR\u002BtSmj0DIGZvLcGaoa9CDTtXp4dI4VcnQntRyy9LZnZuYFYWpdUvOrXkVGkqBDjVCpfCsgd\u002BgqaUKxfBsVU248eLLAEZK6dmKK0RZE0uPX5CfICXiPQvL92vgnq9bYlg7bChntf3\u002B97wXEmabV5Zpi3ZfzSUn1rTm/xjaWls6Lsj8HbcTJ6mSoChpyxqVMJ/VhxM4\u002B5UjA5VjcLblJK1g7OOtnznvRmPMzSz8zguaQc549NM38TMjyQohv6birYuK\[...]
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-701b69f7-8a31-504e-4aeb-e4dcea9e6b19/test-directory-15bc94b4-2e70-2810-b5bb-6212c6a5ed46/test-file-e7c41a82-611c-08be-ace1-c7c8554cb929?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-rename-source": "https://sdkfileoauthsa.file.core.windows.net/test-share-701b69f7-8a31-504e-4aeb-e4dcea9e6b19/test-directory-15bc94b4-2e70-2810-b5bb-6212c6a5ed46/test-file-b5778d3d-20af-f0fe-808d-6b73a173228c",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB04C49B015D76\u0022",
        "Last-Modified": "Thu, 02 Feb 2023 02:24:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-02-02T02:24:26.3716214Z",
        "x-ms-file-creation-time": "2023-02-02T02:24:26.1907268Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-02-02T02:24:26.3026619Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13438439191449926184*1359530181238362790",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-701b69f7-8a31-504e-4aeb-e4dcea9e6b19/test-directory-15bc94b4-2e70-2810-b5bb-6212c6a5ed46/test-file-e7c41a82-611c-08be-ace1-c7c8554cb929",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB04C49B015D76\u0022",
        "Last-Modified": "Thu, 02 Feb 2023 02:24:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-02-02T02:24:26.3716214Z",
        "x-ms-file-creation-time": "2023-02-02T02:24:26.1907268Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-02-02T02:24:26.3026619Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13438439191449926184*1359530181238362790",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": "vjosnwplYqfVPmPC/pdFz1IAqsE790JEQN849C4pQgaG6KhwhJtgY32PVQvzsmOEjpc89qCk/cb4518rLG15q/xdOxXv1Eu3n0dDq6E3UY57tGaX7Utl4uvheJw7NTYQFqoPlXZNlLlMhFdZYFIkwJXRr3gH4b2w91kqDlyue2kRM5T3J7sXLR\u002BtSmj0DIGZvLcGaoa9CDTtXp4dI4VcnQntRyy9LZnZuYFYWpdUvOrXkVGkqBDjVCpfCsgd\u002BgqaUKxfBsVU248eLLAEZK6dmKK0RZE0uPX5CfICXiPQvL92vgnq9bYlg7bChntf3\u002B97wXEmabV5Zpi3ZfzSUn1rTm/xjaWls6Lsj8HbcTJ6mSoChpyxqVMJ/VhxM4[...]
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-701b69f7-8a31-504e-4aeb-e4dcea9e6b19?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Feb 2023 02:24:26 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1010072715",
    "Storage_TestConfigOAuth": "OAuthTenant\nsdkfileoauthsa\nU2FuaXRpemVk\nhttps://sdkfileoauthsa.blob.core.windows.net\nhttps://sdkfileoauthsa.file.core.windows.net\nhttps://sdkfileoauthsa.queue.core.windows.net\nhttps://sdkfileoauthsa.table.core.windows.net\n\n\n\n\nhttps://sdkfileoauthsa-secondary.blob.core.windows.net\nhttps://sdkfileoauthsa-secondary.file.core.windows.net\nhttps://sdkfileoauthsa-secondary.queue.core.windows.net\nhttps://sdkfileoauthsa-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://sdkfileoauthsa.blob.core.windows.net/;QueueEndpoint=https://sdkfileoauthsa.queue.core.windows.net/;FileEndpoint=https://sdkfileoauthsa.file.core.windows.net/;BlobSecondaryEndpoint=https://sdkfileoauthsa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://sdkfileoauthsa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://sdkfileoauthsa-secondary.file.core.windows.net/;AccountName=sdkfileoauthsa;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
