{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-9ed1719c-0f46-2f47-d3fe-b9e7c9ddf48e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jun 2022 20:50:51 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA587EB92F35A8\u0022",
        "Last-Modified": "Mon, 27 Jun 2022 20:50:52 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-9ed1719c-0f46-2f47-d3fe-b9e7c9ddf48e/test-directory-472e5440-93a2-ad11-c177-2d5b74f13a13?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jun 2022 20:50:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA587EB945492F\u0022",
        "Last-Modified": "Mon, 27 Jun 2022 20:50:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-06-27T20:50:52.3795759Z",
        "x-ms-file-creation-time": "2022-06-27T20:50:52.3795759Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-06-27T20:50:52.3795759Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-9ed1719c-0f46-2f47-d3fe-b9e7c9ddf48e/test-directory-472e5440-93a2-ad11-c177-2d5b74f13a13/test-file-8717d675-d3ae-401a-f591-54f1d654a921?sv=2021-08-06\u0026ss=f\u0026srt=sco\u0026st=2022-06-27T19%3A50%3A51Z\u0026se=2022-06-27T21%3A50%3A51Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA587EB95AC9C8\u0022",
        "Last-Modified": "Mon, 27 Jun 2022 20:50:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-06-27T20:50:52.5204936Z",
        "x-ms-file-creation-time": "2022-06-27T20:50:52.5204936Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-06-27T20:50:52.5204936Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-9ed1719c-0f46-2f47-d3fe-b9e7c9ddf48e/test-directory-472e5440-93a2-ad11-c177-2d5b74f13a13/test-file-8717d675-d3ae-401a-f591-54f1d654a921?comp=range\u0026sv=2021-08-06\u0026ss=f\u0026srt=sco\u0026st=2022-06-27T19%3A50%3A51Z\u0026se=2022-06-27T21%3A50%3A51Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-08-06",
        "x-ms-write": "update"
      },
      "RequestBody": "zBEgsq\u002Ba7tpT2rfQ79Z0T6yjh\u002BQLe5lAip0ACPCD1J74zne7hjIAzwNt2a6fqQXVYFtSxaoAClB43ycSmebq0AUZ2CBfuMh5orfhnaLqoOCYKqeUMA/0\u002BMQmQqYL7jUdgwiohtHldqeS2SLyHmyujT5Hem8\u002BVaD2JN9bOXYhbrOBxBqZQRoPsrQAAVfsAdpYd7Vow3TG3y1osmHxiTwxcWpucFpSFUskOMe7PVNJCSMFA8HAuas\u002Bu\u002BTsMI\u002B4HSl3z5DsfZF/BWJpQ4utC6HZHqg\u002B7IV7cLi/MLV1ZeS8axudRG7DXIyRhf1eV3UfkbBDEhLneTCj\u002B17YLU3cCp9\u002BrddwEMYyFsIcrGaIHBlCn58EMVPS1PLq\u002BUgQ6i4\u002BtXtd4Kmdr4DpEPtPysz[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-9ed1719c-0f46-2f47-d3fe-b9e7c9ddf48e/test-directory-472e5440-93a2-ad11-c177-2d5b74f13a13/test-file-fef9369a-93e3-4d19-9fa1-e292ee22ddd2?comp=rename\u0026sv=2021-08-06\u0026ss=f\u0026srt=sco\u0026st=2022-06-27T19%3A50%3A51Z\u0026se=2022-06-27T21%3A50%3A51Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-rename-source": "https://amandadev2.file.core.windows.net/test-share-9ed1719c-0f46-2f47-d3fe-b9e7c9ddf48e/test-directory-472e5440-93a2-ad11-c177-2d5b74f13a13/test-file-8717d675-d3ae-401a-f591-54f1d654a921?sv=2021-08-06\u0026ss=f\u0026srt=sco\u0026st=2022-06-27T19%3A50%3A51Z\u0026se=2022-06-27T21%3A50%3A51Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA587EB9846BB2\u0022",
        "Last-Modified": "Mon, 27 Jun 2022 20:50:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-06-27T20:50:52.7933362Z",
        "x-ms-file-creation-time": "2022-06-27T20:50:52.5204936Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-06-27T20:50:52.6604123Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-9ed1719c-0f46-2f47-d3fe-b9e7c9ddf48e/test-directory-472e5440-93a2-ad11-c177-2d5b74f13a13/test-file-fef9369a-93e3-4d19-9fa1-e292ee22ddd2?sv=2021-08-06\u0026ss=f\u0026srt=sco\u0026st=2022-06-27T19%3A50%3A51Z\u0026se=2022-06-27T21%3A50%3A51Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA587EB9846BB2\u0022",
        "Last-Modified": "Mon, 27 Jun 2022 20:50:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-06-27T20:50:52.7933362Z",
        "x-ms-file-creation-time": "2022-06-27T20:50:52.5204936Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-06-27T20:50:52.6604123Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "zBEgsq\u002Ba7tpT2rfQ79Z0T6yjh\u002BQLe5lAip0ACPCD1J74zne7hjIAzwNt2a6fqQXVYFtSxaoAClB43ycSmebq0AUZ2CBfuMh5orfhnaLqoOCYKqeUMA/0\u002BMQmQqYL7jUdgwiohtHldqeS2SLyHmyujT5Hem8\u002BVaD2JN9bOXYhbrOBxBqZQRoPsrQAAVfsAdpYd7Vow3TG3y1osmHxiTwxcWpucFpSFUskOMe7PVNJCSMFA8HAuas\u002Bu\u002BTsMI\u002B4HSl3z5DsfZF/BWJpQ4utC6HZHqg\u002B7IV7cLi/MLV1ZeS8axudRG7DXIyRhf1eV3UfkbBDEhLneTCj\u002B17YLU3cCp9\u002Brdd[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-9ed1719c-0f46-2f47-d3fe-b9e7c9ddf48e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jun 2022 20:50:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-06-27T13:50:51.6157678-07:00",
    "RandomSeed": "1886308352",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
