{
  "Entries": [
    {
      "RequestUri": "https://8umxscnapby3pev24a.file.preprod.core.windows.net/test-share-53a57f07-14ba-919e-4947-d739310039d8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 05 Jul 2022 18:19:15 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA5EB2DEC75A76\u0022",
        "Last-Modified": "Tue, 05 Jul 2022 18:19:16 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://8umxscnapby3pev24a.file.preprod.core.windows.net/test-share-53a57f07-14ba-919e-4947-d739310039d8/test-directory-9bd2724e-ed66-8243-6e6e-df5582dad1ca?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 05 Jul 2022 18:19:15 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA5EB2DED22BBB\u0022",
        "Last-Modified": "Tue, 05 Jul 2022 18:19:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-07-05T18:19:16.1851835Z",
        "x-ms-file-creation-time": "2022-07-05T18:19:16.1851835Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-05T18:19:16.1851835Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6380327732882384147*15288479242722132818",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://8umxscnapby3pev24a.file.preprod.core.windows.net/test-share-53a57f07-14ba-919e-4947-d739310039d8/test-directory-9bd2724e-ed66-8243-6e6e-df5582dad1ca/test-file-a91c1ace-b1a0-250a-e981-a688174ce2af?sv=2021-12-02\u0026ss=f\u0026srt=sco\u0026st=2022-07-05T17%3A19%3A15Z\u0026se=2022-07-05T19%3A19%3A15Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA5EB2DEDC8C13\u0022",
        "Last-Modified": "Tue, 05 Jul 2022 18:19:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-05T18:19:16.2531859Z",
        "x-ms-file-creation-time": "2022-07-05T18:19:16.2531859Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-07-05T18:19:16.2531859Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "3899118464631977012*15288479242722132818",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://8umxscnapby3pev24a.file.preprod.core.windows.net/test-share-53a57f07-14ba-919e-4947-d739310039d8/test-directory-9bd2724e-ed66-8243-6e6e-df5582dad1ca/test-file-a91c1ace-b1a0-250a-e981-a688174ce2af?comp=range\u0026sv=2021-12-02\u0026ss=f\u0026srt=sco\u0026st=2022-07-05T17%3A19%3A15Z\u0026se=2022-07-05T19%3A19%3A15Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-10-04",
        "x-ms-write": "update"
      },
      "RequestBody": "X258CSReDV9tTSkTIfPyu9/zZpJYyvUMq96HRnsSOMqwIcthumCmaOXv6vbWTigJaPt2/3YM6JR4cF1G1sfkWhReYv8okQB/Tf6taeD/NVy1ft5/mzlUpDk26EoCX5IdC4/hd\u002Bso4df697F3X3\u002BzeToBkFfpZb/aCr7G8ai2fe5sj15RHb1wjZ0GhKSI3US5gm4PAc46NKbQBm0tYe8uRHnDCs8hYlx8kAO64uAaUi15DW86pnwfMlq4gRZQQyuu2EAqxdJ1mCASk3DLgFLFtbQ/s1R/9J39o9h0aeBFK0zYCwqg741bBHROJxMLVLII8stiEZDWLuOiLCH5AC8/zWcj8nRHJMUm5K7gMc2K8U8mbHYV4xq8Ad0m/sJsYQRFDlqr6GE9wM0FOyzh9v0WFzvS05S4KulNZvCWISYDuoOqmyJy3wnt6KupD6jt2gvgD[...]
    {
      "RequestUri": "https://8umxscnapby3pev24a.file.preprod.core.windows.net/test-share-53a57f07-14ba-919e-4947-d739310039d8/test-directory-9bd2724e-ed66-8243-6e6e-df5582dad1ca/test-file-d178d692-8464-c11e-f249-be2d85a72238?comp=rename\u0026sv=2021-12-02\u0026ss=f\u0026srt=sco\u0026st=2022-07-05T17%3A19%3A15Z\u0026se=2022-07-05T19%3A19%3A15Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-rename-source": "https://8umxscnapby3pev24a.file.preprod.core.windows.net/test-share-53a57f07-14ba-919e-4947-d739310039d8/test-directory-9bd2724e-ed66-8243-6e6e-df5582dad1ca/test-file-a91c1ace-b1a0-250a-e981-a688174ce2af?sv=2021-12-02\u0026ss=f\u0026srt=sco\u0026st=2022-07-05T17%3A19%3A15Z\u0026se=2022-07-05T19%3A19%3A15Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA5EB2DEF01418\u0022",
        "Last-Modified": "Tue, 05 Jul 2022 18:19:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-05T18:19:16.3811864Z",
        "x-ms-file-creation-time": "2022-07-05T18:19:16.2531859Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-07-05T18:19:16.3201860Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "3899118464631977012*15288479242722132818",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://8umxscnapby3pev24a.file.preprod.core.windows.net/test-share-53a57f07-14ba-919e-4947-d739310039d8/test-directory-9bd2724e-ed66-8243-6e6e-df5582dad1ca/test-file-d178d692-8464-c11e-f249-be2d85a72238?sv=2021-12-02\u0026ss=f\u0026srt=sco\u0026st=2022-07-05T17%3A19%3A15Z\u0026se=2022-07-05T19%3A19%3A15Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA5EB2DEF01418\u0022",
        "Last-Modified": "Tue, 05 Jul 2022 18:19:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-05T18:19:16.3811864Z",
        "x-ms-file-creation-time": "2022-07-05T18:19:16.2531859Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-07-05T18:19:16.3201860Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "3899118464631977012*15288479242722132818",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": "X258CSReDV9tTSkTIfPyu9/zZpJYyvUMq96HRnsSOMqwIcthumCmaOXv6vbWTigJaPt2/3YM6JR4cF1G1sfkWhReYv8okQB/Tf6taeD/NVy1ft5/mzlUpDk26EoCX5IdC4/hd\u002Bso4df697F3X3\u002BzeToBkFfpZb/aCr7G8ai2fe5sj15RHb1wjZ0GhKSI3US5gm4PAc46NKbQBm0tYe8uRHnDCs8hYlx8kAO64uAaUi15DW86pnwfMlq4gRZQQyuu2EAqxdJ1mCASk3DLgFLFtbQ/s1R/9J39o9h0aeBFK0zYCwqg741bBHROJxMLVLII8stiEZDWLuOiLCH5AC8/zWcj8nRHJMUm5K7gMc2K8U8mbHYV4xq8Ad0m/sJsYQR[...]
    {
      "RequestUri": "https://8umxscnapby3pev24a.file.preprod.core.windows.net/test-share-53a57f07-14ba-919e-4947-d739310039d8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 05 Jul 2022 18:19:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-05T13:19:15.1767603-05:00",
    "RandomSeed": "926545382",
    "Storage_TestConfigDefault": "ProductionTenant\n8umxscnapby3pev24a\nU2FuaXRpemVk\nhttps://8umxscnapby3pev24a.blob.core.windows.net\nhttps://8umxscnapby3pev24a.file.preprod.core.windows.net\nhttps://8umxscnapby3pev24a.queue.core.windows.net\nhttps://8umxscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://8umxscnapby3pev24a-secondary.blob.core.windows.net\nhttps://8umxscnapby3pev24a-secondary.file.preprod.core.windows.net\nhttps://8umxscnapby3pev24a-secondary.queue.core.windows.net\nhttps://8umxscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://8umxscnapby3pev24a.blob.core.windows.net/;QueueEndpoint=https://8umxscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://8umxscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://8umxscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://8umxscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://8umxscnapby3pev24a-secondary.file.preprod.core.windows.net/;AccountName=8umxscnapby3pev24a;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
