{
  "Entries": [
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-cb8e3d44-56bc-fa64-11c5-0b56c2d47dbc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F46184F7\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-cb8e3d44-56bc-fa64-11c5-0b56c2d47dbc/test-directory-5f2ddbee-ee95-98ab-631a-f3b307ad86b1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:24 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F471BA93\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-10-29T19:40:25.7413779Z",
        "x-ms-file-creation-time": "2021-10-29T19:40:25.7413779Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-29T19:40:25.7413779Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15110104144358886944*6706197617703823457",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-cb8e3d44-56bc-fa64-11c5-0b56c2d47dbc/test-directory-5f2ddbee-ee95-98ab-631a-f3b307ad86b1/test-%C6%92%C2%A1%C2%A3%E2%82%AC%E2%80%BD%253A-e8229f8c-37f3-2874-a79d-d39900c93d8b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:25 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F47DA139\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-29T19:40:25.8193721Z",
        "x-ms-file-creation-time": "2021-10-29T19:40:25.8193721Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-10-29T19:40:25.8193721Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13773932323712163591*6706197617703823457",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-cb8e3d44-56bc-fa64-11c5-0b56c2d47dbc/test-directory-5f2ddbee-ee95-98ab-631a-f3b307ad86b1/test-%C6%92%C2%A1%C2%A3%E2%82%AC%E2%80%BD%253A-19f9c7f8-ad2f-9f95-20cb-94e2a9a4b4e0?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:25 GMT",
        "x-ms-file-rename-source": "https%3A%2F%2F712xscnapby3pev55a.file.preprod.core.windows.net%2Ftest-share-cb8e3d44-56bc-fa64-11c5-0b56c2d47dbc%2Ftest-directory-5f2ddbee-ee95-98ab-631a-f3b307ad86b1%2Ftest-%C6%92%C2%A1%C2%A3%E2%82%AC%E2%80%BD%253A-e8229f8c-37f3-2874-a79d-d39900c93d8b=",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F4889DAE\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-29T19:40:25.8913710Z",
        "x-ms-file-creation-time": "2021-10-29T19:40:25.8193721Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-10-29T19:40:25.8193721Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13773932323712163591*6706197617703823457",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-cb8e3d44-56bc-fa64-11c5-0b56c2d47dbc/test-directory-5f2ddbee-ee95-98ab-631a-f3b307ad86b1/test-%C6%92%C2%A1%C2%A3%E2%82%AC%E2%80%BD%253A-19f9c7f8-ad2f-9f95-20cb-94e2a9a4b4e0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D99B13F4889DAE\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-29T19:40:25.8913710Z",
        "x-ms-file-creation-time": "2021-10-29T19:40:25.8193721Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-10-29T19:40:25.8193721Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13773932323712163591*6706197617703823457",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "false",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-cb8e3d44-56bc-fa64-11c5-0b56c2d47dbc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:25 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1148683551",
    "Storage_TestConfigDefault": "ProductionTenant\n712xscnapby3pev55a\nU2FuaXRpemVk\nhttps://712xscnapby3pev55a.blob.preprod.core.windows.net\nhttps://712xscnapby3pev55a.file.preprod.core.windows.net\nhttps://712xscnapby3pev55a.queue.core.windows.net\nhttps://712xscnapby3pev55a.table.core.windows.net\n\n\n\n\nhttps://712xscnapby3pev55a-secondary.blob.core.windows.net\nhttps://712xscnapby3pev55a-secondary.file.core.windows.net\nhttps://712xscnapby3pev55a-secondary.queue.core.windows.net\nhttps://712xscnapby3pev55a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://712xscnapby3pev55a.blob.preprod.core.windows.net/;QueueEndpoint=https://712xscnapby3pev55a.queue.core.windows.net/;FileEndpoint=https://712xscnapby3pev55a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://712xscnapby3pev55a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://712xscnapby3pev55a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://712xscnapby3pev55a-secondary.file.core.windows.net/;AccountName=712xscnapby3pev55a;AccountKey=Kg==;\nscope-1\n\n"
  }
}