{
  "Entries": [
    {
      "RequestUri": "https://htoxscnapby3pev24a.file.preprod.core.windows.net/test-share-df319734-90e3-052c-46b3-4fb192e44089?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 18:48:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BF326156EF7F\u0022",
        "Last-Modified": "Tue, 14 Dec 2021 18:48:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://htoxscnapby3pev24a.file.preprod.core.windows.net/test-share-df319734-90e3-052c-46b3-4fb192e44089/test-directory-307a5e71-afd0-f606-9aeb-abf1dd161345?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 18:48:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BF3261661B65\u0022",
        "Last-Modified": "Tue, 14 Dec 2021 18:48:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-12-14T18:48:55.2987493Z",
        "x-ms-file-creation-time": "2021-12-14T18:48:55.2987493Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-12-14T18:48:55.2987493Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11335661366610323900*1292734777967284221",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://htoxscnapby3pev24a.file.preprod.core.windows.net/test-share-df319734-90e3-052c-46b3-4fb192e44089/test-directory-307a5e71-afd0-f606-9aeb-abf1dd161345/test-file-99f3368f-7f71-2fc0-b3f5-c794056cd5ff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 14 Dec 2021 18:48:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BF326173FE0F\u0022",
        "Last-Modified": "Tue, 14 Dec 2021 18:48:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-12-14T18:48:55.3897487Z",
        "x-ms-file-creation-time": "2021-12-14T18:48:55.3897487Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-12-14T18:48:55.3897487Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17566099191294621851*1292734777967284221",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://htoxscnapby3pev24a.file.preprod.core.windows.net/test-share-df319734-90e3-052c-46b3-4fb192e44089/test-directory-307a5e71-afd0-f606-9aeb-abf1dd161345/test-file-50092260-cac3-9b2e-59b7-c9dfffb2207f?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 18:48:54 GMT",
        "x-ms-file-rename-source": "https://htoxscnapby3pev24a.file.preprod.core.windows.net/test-share-df319734-90e3-052c-46b3-4fb192e44089/test-directory-307a5e71-afd0-f606-9aeb-abf1dd161345/test-file-99f3368f-7f71-2fc0-b3f5-c794056cd5ff",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BF326182F2A8\u0022",
        "Last-Modified": "Tue, 14 Dec 2021 18:48:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-12-14T18:48:55.4877608Z",
        "x-ms-file-creation-time": "2021-12-14T18:48:55.3897487Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-12-14T18:48:55.3897487Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17566099191294621851*1292734777967284221",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://htoxscnapby3pev24a.file.preprod.core.windows.net/test-share-df319734-90e3-052c-46b3-4fb192e44089/test-directory-307a5e71-afd0-f606-9aeb-abf1dd161345/test-file-50092260-cac3-9b2e-59b7-c9dfffb2207f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 18:48:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9BF326182F2A8\u0022",
        "Last-Modified": "Tue, 14 Dec 2021 18:48:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-12-14T18:48:55.4877608Z",
        "x-ms-file-creation-time": "2021-12-14T18:48:55.3897487Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-12-14T18:48:55.3897487Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17566099191294621851*1292734777967284221",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://htoxscnapby3pev24a.file.preprod.core.windows.net/test-share-df319734-90e3-052c-46b3-4fb192e44089?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 18:48:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "916459451",
    "Storage_TestConfigDefault": "ProductionTenant\nhtoxscnapby3pev24a\nU2FuaXRpemVk\nhttps://htoxscnapby3pev24a.blob.preprod.core.windows.net\nhttps://htoxscnapby3pev24a.file.preprod.core.windows.net\nhttps://htoxscnapby3pev24a.queue.core.windows.net\nhttps://htoxscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://htoxscnapby3pev24a-secondary.blob.core.windows.net\nhttps://htoxscnapby3pev24a-secondary.file.core.windows.net\nhttps://htoxscnapby3pev24a-secondary.queue.core.windows.net\nhttps://htoxscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://htoxscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://htoxscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://htoxscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://htoxscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://htoxscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://htoxscnapby3pev24a-secondary.file.core.windows.net/;AccountName=htoxscnapby3pev24a;AccountKey=Kg==;\nseanscope1\n\n"
  }
}