{
  "Entries": [
    {
      "RequestUri": "https://ccqxscnapby3pev24a.file.preprod.core.windows.net/test-share-09f27456-b895-e4b0-7b58-2d2ee9bd1b76?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 02 Mar 2022 02:29:41 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FBF480E59355\u0022",
        "Last-Modified": "Wed, 02 Mar 2022 02:29:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ccqxscnapby3pev24a.file.preprod.core.windows.net/test-share-09f27456-b895-e4b0-7b58-2d2ee9bd1b76/test-directory-580459c7-4e72-d906-8a6c-5ff912dfb343?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 02 Mar 2022 02:29:41 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FBF480F2B78F\u0022",
        "Last-Modified": "Wed, 02 Mar 2022 02:29:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-03-02T02:29:40.3618191Z",
        "x-ms-file-creation-time": "2022-03-02T02:29:40.3618191Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-03-02T02:29:40.3618191Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6636718055355906454*15040535609108930519",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ccqxscnapby3pev24a.file.preprod.core.windows.net/test-share-09f27456-b895-e4b0-7b58-2d2ee9bd1b76/test-directory-580459c7-4e72-d906-8a6c-5ff912dfb343/test-file-fc13ee0a-6f14-4f90-1bcb-821054248d81",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 02 Mar 2022 02:29:41 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FBF480FEEC6B\u0022",
        "Last-Modified": "Wed, 02 Mar 2022 02:29:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-03-02T02:29:40.4418155Z",
        "x-ms-file-creation-time": "2022-03-02T02:29:40.4418155Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-03-02T02:29:40.4418155Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "3642658080986097841*15040535609108930519",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ccqxscnapby3pev24a.file.preprod.core.windows.net/test-share-09f27456-b895-e4b0-7b58-2d2ee9bd1b76?restype=share\u0026comp=filepermission",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Wed, 02 Mar 2022 02:29:41 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-file-permission-key": "8610174248090028582*15040535609108930519",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ccqxscnapby3pev24a.file.preprod.core.windows.net/test-share-09f27456-b895-e4b0-7b58-2d2ee9bd1b76/test-directory-580459c7-4e72-d906-8a6c-5ff912dfb343/test-file-313a9775-db3c-2e59-de75-5a8b84b2f1a8?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 02 Mar 2022 02:29:41 GMT",
        "x-ms-file-attributes": "ReadOnly|Archive",
        "x-ms-file-change-time": "2010-08-26T05:15:21.0600000Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-permission-key": "8610174248090028582*15040535609108930519",
        "x-ms-file-rename-source": "https://ccqxscnapby3pev24a.file.preprod.core.windows.net/test-share-09f27456-b895-e4b0-7b58-2d2ee9bd1b76/test-directory-580459c7-4e72-d906-8a6c-5ff912dfb343/test-file-fc13ee0a-6f14-4f90-1bcb-821054248d81",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FBF48115A8D4\u0022",
        "Last-Modified": "Wed, 02 Mar 2022 02:29:40 GMT",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2010-08-26T05:15:21.0600000Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8610174248090028582*15040535609108930519",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ccqxscnapby3pev24a.file.preprod.core.windows.net/test-share-09f27456-b895-e4b0-7b58-2d2ee9bd1b76/test-directory-580459c7-4e72-d906-8a6c-5ff912dfb343/test-file-313a9775-db3c-2e59-de75-5a8b84b2f1a8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 02 Mar 2022 02:29:41 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9FBF48115A8D4\u0022",
        "Last-Modified": "Wed, 02 Mar 2022 02:29:40 GMT",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2010-08-26T05:15:21.0600000Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8610174248090028582*15040535609108930519",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ccqxscnapby3pev24a.file.preprod.core.windows.net/test-share-09f27456-b895-e4b0-7b58-2d2ee9bd1b76?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 02 Mar 2022 02:29:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1679883713",
    "Storage_TestConfigDefault": "ProductionTenant\nccqxscnapby3pev24a\nU2FuaXRpemVk\nhttps://ccqxscnapby3pev24a.blob.core.windows.net\nhttps://ccqxscnapby3pev24a.file.preprod.core.windows.net\nhttps://ccqxscnapby3pev24a.queue.core.windows.net\nhttps://ccqxscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://ccqxscnapby3pev24a-secondary.blob.core.windows.net\nhttps://ccqxscnapby3pev24a-secondary.file.core.windows.net\nhttp://ccqxscnapby3pev24a-secondary.queue.core.windows.net\nhttps://ccqxscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://ccqxscnapby3pev24a.blob.core.windows.net/;QueueEndpoint=https://ccqxscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://ccqxscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ccqxscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://ccqxscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ccqxscnapby3pev24a-secondary.file.core.windows.net/;AccountName=ccqxscnapby3pev24a;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
