{
  "Entries": [
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-95617b6b-ce57-e413-8d23-760672b0c40b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F1D5A931\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:21 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-95617b6b-ce57-e413-8d23-760672b0c40b/test-directory-1964ea5d-b890-0c68-8ea1-0e4289b980d1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F1E605E3\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:21 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-10-29T19:40:21.4703587Z",
        "x-ms-file-creation-time": "2021-10-29T19:40:21.4703587Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-29T19:40:21.4703587Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15110104144358886944*6706197617703823457",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-95617b6b-ce57-e413-8d23-760672b0c40b/test-directory-1964ea5d-b890-0c68-8ea1-0e4289b980d1/test-file-8f9ab31f-0e42-2b3a-fda5-281cd8063149",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F1F2B07F\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-29T19:40:21.5533695Z",
        "x-ms-file-creation-time": "2021-10-29T19:40:21.5533695Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-10-29T19:40:21.5533695Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13773932323712163591*6706197617703823457",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-95617b6b-ce57-e413-8d23-760672b0c40b/test-directory-1964ea5d-b890-0c68-8ea1-0e4289b980d1/test-file-0f26ba94-3d64-1954-3888-a85b7622fd8f?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:20 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "2a59ecd2-d09f-896d-1c89-127ed1678f6f",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F1FD5D1E\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:21 GMT",
        "x-ms-lease-id": "2a59ecd2-d09f-896d-1c89-127ed1678f6f",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-95617b6b-ce57-e413-8d23-760672b0c40b/test-directory-1964ea5d-b890-0c68-8ea1-0e4289b980d1/test-file-0f26ba94-3d64-1954-3888-a85b7622fd8f?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:20 GMT",
        "x-ms-destination-lease-id": "2a59ecd2-d09f-896d-1c89-127ed1678f6f",
        "x-ms-file-rename-replace-if-exists": "true",
        "x-ms-file-rename-source": "https%3A%2F%2F712xscnapby3pev55a.file.preprod.core.windows.net%2Ftest-share-95617b6b-ce57-e413-8d23-760672b0c40b%2Ftest-directory-1964ea5d-b890-0c68-8ea1-0e4289b980d1%2Ftest-file-8f9ab31f-0e42-2b3a-fda5-281cd8063149=",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F214DD07\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-29T19:40:21.7773319Z",
        "x-ms-file-creation-time": "2021-10-29T19:40:21.5533695Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-10-29T19:40:21.5533695Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13773932323712163591*6706197617703823457",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-95617b6b-ce57-e413-8d23-760672b0c40b/test-directory-1964ea5d-b890-0c68-8ea1-0e4289b980d1/test-file-0f26ba94-3d64-1954-3888-a85b7622fd8f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:21 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D99B13F214DD07\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-29T19:40:21.7773319Z",
        "x-ms-file-creation-time": "2021-10-29T19:40:21.5533695Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-10-29T19:40:21.5533695Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13773932323712163591*6706197617703823457",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "false",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-95617b6b-ce57-e413-8d23-760672b0c40b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "772689135",
    "Storage_TestConfigDefault": "ProductionTenant\n712xscnapby3pev55a\nU2FuaXRpemVk\nhttps://712xscnapby3pev55a.blob.preprod.core.windows.net\nhttps://712xscnapby3pev55a.file.preprod.core.windows.net\nhttps://712xscnapby3pev55a.queue.core.windows.net\nhttps://712xscnapby3pev55a.table.core.windows.net\n\n\n\n\nhttps://712xscnapby3pev55a-secondary.blob.core.windows.net\nhttps://712xscnapby3pev55a-secondary.file.core.windows.net\nhttps://712xscnapby3pev55a-secondary.queue.core.windows.net\nhttps://712xscnapby3pev55a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://712xscnapby3pev55a.blob.preprod.core.windows.net/;QueueEndpoint=https://712xscnapby3pev55a.queue.core.windows.net/;FileEndpoint=https://712xscnapby3pev55a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://712xscnapby3pev55a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://712xscnapby3pev55a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://712xscnapby3pev55a-secondary.file.core.windows.net/;AccountName=712xscnapby3pev55a;AccountKey=Kg==;\nscope-1\n\n"
  }
}