{
  "Entries": [
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-c8ef47f7-94d5-ba1d-70a0-a1d56c350d5f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jan 2022 18:40:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D531C8C7EA8B\u0022",
        "Last-Modified": "Tue, 11 Jan 2022 18:40:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-c8ef47f7-94d5-ba1d-70a0-a1d56c350d5f/test-directory-69eb0f2e-7bfc-bd5d-906d-53583ad1b577?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jan 2022 18:40:04 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D531C8E258A1\u0022",
        "Last-Modified": "Tue, 11 Jan 2022 18:40:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-01-11T18:40:05.0026657Z",
        "x-ms-file-creation-time": "2022-01-11T18:40:05.0026657Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-01-11T18:40:05.0026657Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10502926625530500462*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-c8ef47f7-94d5-ba1d-70a0-a1d56c350d5f/test-directory-69eb0f2e-7bfc-bd5d-906d-53583ad1b577/test-file-b85a34ce-c0b4-be69-ee75-0c6aa5ad158c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 11 Jan 2022 18:40:04 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D531C8F45A4F\u0022",
        "Last-Modified": "Tue, 11 Jan 2022 18:40:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-11T18:40:05.1206735Z",
        "x-ms-file-creation-time": "2022-01-11T18:40:05.1206735Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-01-11T18:40:05.1206735Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-c8ef47f7-94d5-ba1d-70a0-a1d56c350d5f/test-directory-69eb0f2e-7bfc-bd5d-906d-53583ad1b577/test-file-98d57dc1-f06e-9ce6-401b-4e388c1f782b?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-type": "contentType",
        "x-ms-date": "Tue, 11 Jan 2022 18:40:04 GMT",
        "x-ms-file-rename-source": "https%3A%2F%2F0c2xscnapby3pev24a.file.preprod.core.windows.net%2Ftest-share-c8ef47f7-94d5-ba1d-70a0-a1d56c350d5f%2Ftest-directory-69eb0f2e-7bfc-bd5d-906d-53583ad1b577%2Ftest-file-b85a34ce-c0b4-be69-ee75-0c6aa5ad158c=",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D531C906A9F8\u0022",
        "Last-Modified": "Tue, 11 Jan 2022 18:40:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-11T18:40:05.2406776Z",
        "x-ms-file-creation-time": "2022-01-11T18:40:05.1206735Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-01-11T18:40:05.1206735Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-c8ef47f7-94d5-ba1d-70a0-a1d56c350d5f/test-directory-69eb0f2e-7bfc-bd5d-906d-53583ad1b577/test-file-98d57dc1-f06e-9ce6-401b-4e388c1f782b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jan 2022 18:40:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "contentType",
        "ETag": "\u00220x8D9D531C906A9F8\u0022",
        "Last-Modified": "Tue, 11 Jan 2022 18:40:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-11T18:40:05.2406776Z",
        "x-ms-file-creation-time": "2022-01-11T18:40:05.1206735Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-01-11T18:40:05.1206735Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-c8ef47f7-94d5-ba1d-70a0-a1d56c350d5f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jan 2022 18:40:04 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1167880550",
    "Storage_TestConfigDefault": "ProductionTenant\n0c2xscnapby3pev24a\nU2FuaXRpemVk\nhttps://0c2xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.file.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.queue.core.windows.net\nhttps://0c2xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://0c2xscnapby3pev24a-secondary.blob.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.file.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.queue.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://0c2xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://0c2xscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=0c2xscnapby3pev24a;AccountKey=Kg==;\nseanscope1\n\n"
  }
}