{
  "Entries": [
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-73f67d3a-8a6f-7356-03f5-741adbb0525c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:21 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F28B16B6\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:22 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-73f67d3a-8a6f-7356-03f5-741adbb0525c/test-directory-ad6b2d16-f9a0-e847-6c8b-955f86ac8732?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:21 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F2999DBA\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-10-29T19:40:22.6473402Z",
        "x-ms-file-creation-time": "2021-10-29T19:40:22.6473402Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-29T19:40:22.6473402Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15110104144358886944*6706197617703823457",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-73f67d3a-8a6f-7356-03f5-741adbb0525c/test-directory-ad6b2d16-f9a0-e847-6c8b-955f86ac8732/test-file-1bf67a4c-31c0-1007-a514-468b69474275",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:21 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F2A53691\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-29T19:40:22.7233425Z",
        "x-ms-file-creation-time": "2021-10-29T19:40:22.7233425Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-10-29T19:40:22.7233425Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13773932323712163591*6706197617703823457",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-73f67d3a-8a6f-7356-03f5-741adbb0525c/test-directory-ad6b2d16-f9a0-e847-6c8b-955f86ac8732/test-file-18f16acf-7845-830a-aef8-b73a0862ea65?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:22 GMT",
        "x-ms-file-rename-replace-if-exists": "true",
        "x-ms-file-rename-source": "https%3A%2F%2F712xscnapby3pev55a.file.preprod.core.windows.net%2Ftest-share-73f67d3a-8a6f-7356-03f5-741adbb0525c%2Ftest-directory-ad6b2d16-f9a0-e847-6c8b-955f86ac8732%2Ftest-file-1bf67a4c-31c0-1007-a514-468b69474275=",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F2BD795E\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-29T19:40:22.8823390Z",
        "x-ms-file-creation-time": "2021-10-29T19:40:22.7233425Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-10-29T19:40:22.7233425Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13773932323712163591*6706197617703823457",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-73f67d3a-8a6f-7356-03f5-741adbb0525c/test-directory-ad6b2d16-f9a0-e847-6c8b-955f86ac8732/test-file-18f16acf-7845-830a-aef8-b73a0862ea65",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:22 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D99B13F2BD795E\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-29T19:40:22.8823390Z",
        "x-ms-file-creation-time": "2021-10-29T19:40:22.7233425Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-10-29T19:40:22.7233425Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13773932323712163591*6706197617703823457",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "false",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-73f67d3a-8a6f-7356-03f5-741adbb0525c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:22 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "808142164",
    "Storage_TestConfigDefault": "ProductionTenant\n712xscnapby3pev55a\nU2FuaXRpemVk\nhttps://712xscnapby3pev55a.blob.preprod.core.windows.net\nhttps://712xscnapby3pev55a.file.preprod.core.windows.net\nhttps://712xscnapby3pev55a.queue.core.windows.net\nhttps://712xscnapby3pev55a.table.core.windows.net\n\n\n\n\nhttps://712xscnapby3pev55a-secondary.blob.core.windows.net\nhttps://712xscnapby3pev55a-secondary.file.core.windows.net\nhttps://712xscnapby3pev55a-secondary.queue.core.windows.net\nhttps://712xscnapby3pev55a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://712xscnapby3pev55a.blob.preprod.core.windows.net/;QueueEndpoint=https://712xscnapby3pev55a.queue.core.windows.net/;FileEndpoint=https://712xscnapby3pev55a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://712xscnapby3pev55a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://712xscnapby3pev55a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://712xscnapby3pev55a-secondary.file.core.windows.net/;AccountName=712xscnapby3pev55a;AccountKey=Kg==;\nscope-1\n\n"
  }
}