{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5376cfc5-4480-2d54-e187-eb4a5387c685?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jun 2022 20:50:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA587EBC0B0F98\u0022",
        "Last-Modified": "Mon, 27 Jun 2022 20:50:57 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5376cfc5-4480-2d54-e187-eb4a5387c685/test-directory-db92d11a-4e00-0965-e0a8-f0214d9e07d4?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jun 2022 20:50:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA587EBC2148EA\u0022",
        "Last-Modified": "Mon, 27 Jun 2022 20:50:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-06-27T20:50:57.1768042Z",
        "x-ms-file-creation-time": "2022-06-27T20:50:57.1768042Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-06-27T20:50:57.1768042Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5376cfc5-4480-2d54-e187-eb4a5387c685/test-directory-db92d11a-4e00-0965-e0a8-f0214d9e07d4/test-file-2ce82b21-61ff-1273-a678-e5a996784ceb?sv=2021-08-06\u0026ss=f\u0026srt=sco\u0026st=2022-06-27T19%3A50%3A56Z\u0026se=2022-06-27T21%3A50%3A56Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA587EBC347FF3\u0022",
        "Last-Modified": "Mon, 27 Jun 2022 20:50:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-06-27T20:50:57.3027315Z",
        "x-ms-file-creation-time": "2022-06-27T20:50:57.3027315Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-06-27T20:50:57.3027315Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5376cfc5-4480-2d54-e187-eb4a5387c685/test-directory-db92d11a-4e00-0965-e0a8-f0214d9e07d4/test-file-2ce82b21-61ff-1273-a678-e5a996784ceb?comp=range\u0026sv=2021-08-06\u0026ss=f\u0026srt=sco\u0026st=2022-06-27T19%3A50%3A56Z\u0026se=2022-06-27T21%3A50%3A56Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-08-06",
        "x-ms-write": "update"
      },
      "RequestBody": "86dgcK6737Y4gTF4BVW/BrUQBDjjgydAlly9mG1wxluggg8O0O1LORLgyJXXF2h9tO82SHSwSHCAH9pR/kZJyLrW14NFsDXIxMslAruRaH70QOR9OX7m7zqfjrAS\u002BjvLl//aAT/lNwS6boOpika17rZbXL5iy4887\u002BhJpiKEtcqPWmq7t2c\u002BDwjgw8r7PGTz6aD6t519aMtwnhFXnJHiNrm4GTDb\u002BTdPHEy1ggjEQbODVbyCiv0sEvGeShhW53N3/o0RQiI0GO9oqppRx\u002BbDrF1d1EbUX6u7jAc\u002BPK8e\u002BTXYPoR7sv6RTjzNGd9j20sL2567\u002BBIsop7hVbUb9dtASbFleIhiR/lezIYJB0bMWLG7M2EQYwAirJvmmV1JdVhhjM8t/mLCqZOkXCuMIptXFf0EX8J6L\u002B[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5376cfc5-4480-2d54-e187-eb4a5387c685/test-directory-db92d11a-4e00-0965-e0a8-f0214d9e07d4/test-file-05a09419-b301-7458-3713-09f9297a843e?comp=rename\u0026sv=2021-08-06\u0026ss=f\u0026srt=sco\u0026st=2022-06-27T19%3A50%3A56Z\u0026se=2022-06-27T21%3A50%3A56Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-rename-source": "https://amandadev2.file.core.windows.net/test-share-5376cfc5-4480-2d54-e187-eb4a5387c685/test-directory-db92d11a-4e00-0965-e0a8-f0214d9e07d4/test-file-2ce82b21-61ff-1273-a678-e5a996784ceb?sv=2021-08-06\u0026ss=f\u0026srt=sco\u0026st=2022-06-27T19%3A50%3A56Z\u0026se=2022-06-27T21%3A50%3A56Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA587EBC5AC6F7\u0022",
        "Last-Modified": "Mon, 27 Jun 2022 20:50:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-06-27T20:50:57.5535863Z",
        "x-ms-file-creation-time": "2022-06-27T20:50:57.3027315Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-06-27T20:50:57.4236618Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5376cfc5-4480-2d54-e187-eb4a5387c685/test-directory-db92d11a-4e00-0965-e0a8-f0214d9e07d4/test-file-05a09419-b301-7458-3713-09f9297a843e?sv=2021-08-06\u0026ss=f\u0026srt=sco\u0026st=2022-06-27T19%3A50%3A56Z\u0026se=2022-06-27T21%3A50%3A56Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA587EBC5AC6F7\u0022",
        "Last-Modified": "Mon, 27 Jun 2022 20:50:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-06-27T20:50:57.5535863Z",
        "x-ms-file-creation-time": "2022-06-27T20:50:57.3027315Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-06-27T20:50:57.4236618Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "86dgcK6737Y4gTF4BVW/BrUQBDjjgydAlly9mG1wxluggg8O0O1LORLgyJXXF2h9tO82SHSwSHCAH9pR/kZJyLrW14NFsDXIxMslAruRaH70QOR9OX7m7zqfjrAS\u002BjvLl//aAT/lNwS6boOpika17rZbXL5iy4887\u002BhJpiKEtcqPWmq7t2c\u002BDwjgw8r7PGTz6aD6t519aMtwnhFXnJHiNrm4GTDb\u002BTdPHEy1ggjEQbODVbyCiv0sEvGeShhW53N3/o0RQiI0GO9oqppRx\u002BbDrF1d1EbUX6u7jAc\u002BPK8e\u002BTXYPoR7sv6RTjzNGd9j20sL2567\u002BBIsop7hVbUb9dtASbFleIhiR/lez[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5376cfc5-4480-2d54-e187-eb4a5387c685?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jun 2022 20:50:57 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-06-27T13:50:56.4021466-07:00",
    "RandomSeed": "1056655112",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
