{
  "Entries": [
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-5b44f5cb-4873-f0c3-d0e5-3d5ae8d608b5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:22 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F2DC9224\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:23 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-5b44f5cb-4873-f0c3-d0e5-3d5ae8d608b5/test-directory-88c18c3b-63e1-63d9-ee3d-ee87bd98f7b3?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:22 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F2EAF22C\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:23 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-10-29T19:40:23.1803436Z",
        "x-ms-file-creation-time": "2021-10-29T19:40:23.1803436Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-29T19:40:23.1803436Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15110104144358886944*6706197617703823457",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-5b44f5cb-4873-f0c3-d0e5-3d5ae8d608b5/test-directory-88c18c3b-63e1-63d9-ee3d-ee87bd98f7b3/test-file-100a2af2-d182-e006-ee05-bb05567bd887",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:22 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F2F6B377\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-29T19:40:23.2573815Z",
        "x-ms-file-creation-time": "2021-10-29T19:40:23.2573815Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-10-29T19:40:23.2573815Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13773932323712163591*6706197617703823457",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-5b44f5cb-4873-f0c3-d0e5-3d5ae8d608b5/test-directory-88c18c3b-63e1-63d9-ee3d-ee87bd98f7b3/test-file-3e90378b-12d5-6872-d33a-6a752c5d4329?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:22 GMT",
        "x-ms-file-rename-replace-if-exists": "false",
        "x-ms-file-rename-source": "https%3A%2F%2F712xscnapby3pev55a.file.preprod.core.windows.net%2Ftest-share-5b44f5cb-4873-f0c3-d0e5-3d5ae8d608b5%2Ftest-directory-88c18c3b-63e1-63d9-ee3d-ee87bd98f7b3%2Ftest-file-100a2af2-d182-e006-ee05-bb05567bd887=",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceAlreadyExists",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified resource already exists.\n",
        "RequestId:d8bf6488-901a-0009-23fc-cc22b6000000\n",
        "Time:2021-10-29T19:40:23.3951357Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-5b44f5cb-4873-f0c3-d0e5-3d5ae8d608b5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:22 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "498793554",
    "Storage_TestConfigDefault": "ProductionTenant\n712xscnapby3pev55a\nU2FuaXRpemVk\nhttps://712xscnapby3pev55a.blob.preprod.core.windows.net\nhttps://712xscnapby3pev55a.file.preprod.core.windows.net\nhttps://712xscnapby3pev55a.queue.core.windows.net\nhttps://712xscnapby3pev55a.table.core.windows.net\n\n\n\n\nhttps://712xscnapby3pev55a-secondary.blob.core.windows.net\nhttps://712xscnapby3pev55a-secondary.file.core.windows.net\nhttps://712xscnapby3pev55a-secondary.queue.core.windows.net\nhttps://712xscnapby3pev55a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://712xscnapby3pev55a.blob.preprod.core.windows.net/;QueueEndpoint=https://712xscnapby3pev55a.queue.core.windows.net/;FileEndpoint=https://712xscnapby3pev55a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://712xscnapby3pev55a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://712xscnapby3pev55a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://712xscnapby3pev55a-secondary.file.core.windows.net/;AccountName=712xscnapby3pev55a;AccountKey=Kg==;\nscope-1\n\n"
  }
}