{
  "Entries": [
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-568312a4-5f97-06b1-c644-3957ac1c519d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F55B7664\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:27 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-568312a4-5f97-06b1-c644-3957ac1c519d/test-directory-3a237949-3be4-8d79-baf3-20d4ccc03bd7?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F56AC0D3\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-10-29T19:40:27.3733843Z",
        "x-ms-file-creation-time": "2021-10-29T19:40:27.3733843Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-29T19:40:27.3733843Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15110104144358886944*6706197617703823457",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-568312a4-5f97-06b1-c644-3957ac1c519d/test-directory-3a237949-3be4-8d79-baf3-20d4ccc03bd7/test-file-a164f7e0-2c31-773a-e293-e55ffd79464c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F5768099\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-29T19:40:27.4503833Z",
        "x-ms-file-creation-time": "2021-10-29T19:40:27.4503833Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-10-29T19:40:27.4503833Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13773932323712163591*6706197617703823457",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-568312a4-5f97-06b1-c644-3957ac1c519d/test-directory-3a237949-3be4-8d79-baf3-20d4ccc03bd7/test-file-a15578f6-8ab3-f7dd-ec62-83ca94266a5e?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:26 GMT",
        "x-ms-file-rename-replace-if-exists": "true",
        "x-ms-file-rename-source": "https%3A%2F%2F712xscnapby3pev55a.file.preprod.core.windows.net%2Ftest-share-568312a4-5f97-06b1-c644-3957ac1c519d%2Ftest-directory-3a237949-3be4-8d79-baf3-20d4ccc03bd7%2Ftest-file-a164f7e0-2c31-773a-e293-e55ffd79464c=",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99B13F58E2758\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-29T19:40:27.6053848Z",
        "x-ms-file-creation-time": "2021-10-29T19:40:27.4503833Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-10-29T19:40:27.4503833Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13773932323712163591*6706197617703823457",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-568312a4-5f97-06b1-c644-3957ac1c519d/test-directory-3a237949-3be4-8d79-baf3-20d4ccc03bd7/test-file-a15578f6-8ab3-f7dd-ec62-83ca94266a5e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D99B13F58E2758\u0022",
        "Last-Modified": "Fri, 29 Oct 2021 19:40:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-29T19:40:27.6053848Z",
        "x-ms-file-creation-time": "2021-10-29T19:40:27.4503833Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-10-29T19:40:27.4503833Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13773932323712163591*6706197617703823457",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "false",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://712xscnapby3pev55a.file.preprod.core.windows.net/test-share-568312a4-5f97-06b1-c644-3957ac1c519d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Oct 2021 19:40:26 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "201115707",
    "Storage_TestConfigDefault": "ProductionTenant\n712xscnapby3pev55a\nU2FuaXRpemVk\nhttps://712xscnapby3pev55a.blob.preprod.core.windows.net\nhttps://712xscnapby3pev55a.file.preprod.core.windows.net\nhttps://712xscnapby3pev55a.queue.core.windows.net\nhttps://712xscnapby3pev55a.table.core.windows.net\n\n\n\n\nhttps://712xscnapby3pev55a-secondary.blob.core.windows.net\nhttps://712xscnapby3pev55a-secondary.file.core.windows.net\nhttps://712xscnapby3pev55a-secondary.queue.core.windows.net\nhttps://712xscnapby3pev55a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://712xscnapby3pev55a.blob.preprod.core.windows.net/;QueueEndpoint=https://712xscnapby3pev55a.queue.core.windows.net/;FileEndpoint=https://712xscnapby3pev55a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://712xscnapby3pev55a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://712xscnapby3pev55a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://712xscnapby3pev55a-secondary.file.core.windows.net/;AccountName=712xscnapby3pev55a;AccountKey=Kg==;\nscope-1\n\n"
  }
}