{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-53dd6e75-687a-ebdb-0d37-3a520b723fea?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E8950A46B\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:45:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-53dd6e75-687a-ebdb-0d37-3a520b723fea/test-directory-44f3260b-9c76-c5de-aa74-8a97d916bbb3?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E895E78D4\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:45:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-03-05T21:45:35.2494292Z",
        "x-ms-file-creation-time": "2020-03-05T21:45:35.2494292Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-03-05T21:45:35.2494292Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-53dd6e75-687a-ebdb-0d37-3a520b723fea/test-directory-44f3260b-9c76-c5de-aa74-8a97d916bbb3/test-file-78d983f6-a08a-efea-a6b3-20258e5c4b01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E896C363F\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:45:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-03-05T21:45:35.3394751Z",
        "x-ms-file-creation-time": "2020-03-05T21:45:35.3394751Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-03-05T21:45:35.3394751Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-53dd6e75-687a-ebdb-0d37-3a520b723fea/test-directory-44f3260b-9c76-c5de-aa74-8a97d916bbb3/test-file-78d983f6-a08a-efea-a6b3-20258e5c4b01?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:35 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "f00276ac-881b-4605-3649-6225a42c4c1b",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E896C363F\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:45:35 GMT",
        "x-ms-lease-id": "f00276ac-881b-4605-3649-6225a42c4c1b",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-53dd6e75-687a-ebdb-0d37-3a520b723fea/test-directory-44f3260b-9c76-c5de-aa74-8a97d916bbb3/test-file-78d983f6-a08a-efea-a6b3-20258e5c4b01?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-type": "sfsceemmbjcsksxpcreu",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:35 GMT",
        "x-ms-file-attributes": "Preserve",
        "x-ms-file-creation-time": "Preserve",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-file-permission": "Preserve",
        "x-ms-lease-id": "f00276ac-881b-4605-3649-6225a42c4c1b",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E89864C2A\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:45:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-03-05T21:45:35.5104298Z",
        "x-ms-file-creation-time": "2020-03-05T21:45:35.3394751Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-03-05T21:45:35.3394751Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-53dd6e75-687a-ebdb-0d37-3a520b723fea/test-directory-44f3260b-9c76-c5de-aa74-8a97d916bbb3/test-file-78d983f6-a08a-efea-a6b3-20258e5c4b01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "sfsceemmbjcsksxpcreu",
        "ETag": "\u00220x8D7C14E89864C2A\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:45:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-03-05T21:45:35.5104298Z",
        "x-ms-file-creation-time": "2020-03-05T21:45:35.3394751Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-03-05T21:45:35.3394751Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-lease-duration": "infinite",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-53dd6e75-687a-ebdb-0d37-3a520b723fea?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:35 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T13:45:35.1991825-08:00",
    "RandomSeed": "1478877353",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}