{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-14b0eed4-bac0-d0aa-e6c0-e9decf13dc9a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 19:49:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926C8BE483038\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:49:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-14b0eed4-bac0-d0aa-e6c0-e9decf13dc9a/test-directory-bfdb9265-b328-d120-e741-ae27ae0c9eb8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 19:49:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926C8BE5DB5A2\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:49:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-06-03T19:49:47.8762914Z",
        "x-ms-file-creation-time": "2021-06-03T19:49:47.8762914Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-06-03T19:49:47.8762914Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-14b0eed4-bac0-d0aa-e6c0-e9decf13dc9a/test-directory-bfdb9265-b328-d120-e741-ae27ae0c9eb8/test-file-ce39b873-8d67-8d56-9e90-db7c707340d9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 03 Jun 2021 19:49:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926C8BE730F34\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:49:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-06-03T19:49:48.0162100Z",
        "x-ms-file-creation-time": "2021-06-03T19:49:48.0162100Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-06-03T19:49:48.0162100Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-14b0eed4-bac0-d0aa-e6c0-e9decf13dc9a/test-directory-bfdb9265-b328-d120-e741-ae27ae0c9eb8/test-file-ce39b873-8d67-8d56-9e90-db7c707340d9?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 19:49:48 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "aea443af-59bf-74a6-53b7-511841f5d310",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926C8BE730F34\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:49:48 GMT",
        "x-ms-lease-id": "aea443af-59bf-74a6-53b7-511841f5d310",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-14b0eed4-bac0-d0aa-e6c0-e9decf13dc9a/test-directory-bfdb9265-b328-d120-e741-ae27ae0c9eb8/test-file-ce39b873-8d67-8d56-9e90-db7c707340d9?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-type": "pwpmcrsnarpcnjwmjnbk",
        "x-ms-date": "Thu, 03 Jun 2021 19:49:48 GMT",
        "x-ms-file-attributes": "Preserve",
        "x-ms-file-creation-time": "Preserve",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-file-permission": "Preserve",
        "x-ms-lease-id": "aea443af-59bf-74a6-53b7-511841f5d310",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926C8BE9ADC99\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:49:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-06-03T19:49:48.2770585Z",
        "x-ms-file-creation-time": "2021-06-03T19:49:48.0162100Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-06-03T19:49:48.0162100Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-14b0eed4-bac0-d0aa-e6c0-e9decf13dc9a/test-directory-bfdb9265-b328-d120-e741-ae27ae0c9eb8/test-file-ce39b873-8d67-8d56-9e90-db7c707340d9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 19:49:48 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "pwpmcrsnarpcnjwmjnbk",
        "ETag": "\u00220x8D926C8BE9ADC99\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:49:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-06-03T19:49:48.2770585Z",
        "x-ms-file-creation-time": "2021-06-03T19:49:48.0162100Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-06-03T19:49:48.0162100Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-duration": "infinite",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-14b0eed4-bac0-d0aa-e6c0-e9decf13dc9a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 19:49:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-06-03T14:49:47.3551411-05:00",
    "RandomSeed": "83032048",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}