{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-66288292-418c-d766-897a-0d94bf00e7f7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:33:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C2314F6B13F2\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:33:51 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-66288292-418c-d766-897a-0d94bf00e7f7/test-directory-2bcbca1f-de5a-facd-9d56-d209d25ba4fe?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:33:52 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C2314F75402D\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:33:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-26T19:33:51.5195437Z",
        "x-ms-file-creation-time": "2021-01-26T19:33:51.5195437Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-26T19:33:51.5195437Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-66288292-418c-d766-897a-0d94bf00e7f7/test-directory-2bcbca1f-de5a-facd-9d56-d209d25ba4fe/test-file-67989806-df9d-721b-58b1-1a67f360f970",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 26 Jan 2021 19:33:52 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C2314F7F05FD\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:33:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:33:51.5835901Z",
        "x-ms-file-creation-time": "2021-01-26T19:33:51.5835901Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:33:51.5835901Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-66288292-418c-d766-897a-0d94bf00e7f7/test-directory-2bcbca1f-de5a-facd-9d56-d209d25ba4fe/test-file-67989806-df9d-721b-58b1-1a67f360f970?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:33:52 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "e6592b16-b63e-cabb-58aa-46941c356215"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C2314F7F05FD\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:33:51 GMT",
        "x-ms-lease-id": "e6592b16-b63e-cabb-58aa-46941c356215"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-66288292-418c-d766-897a-0d94bf00e7f7/test-directory-2bcbca1f-de5a-facd-9d56-d209d25ba4fe/test-file-67989806-df9d-721b-58b1-1a67f360f970?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-type": "nfqrpwbpgwtuleikrlhf",
        "x-ms-date": "Tue, 26 Jan 2021 19:33:52 GMT",
        "x-ms-file-attributes": "Preserve",
        "x-ms-file-creation-time": "Preserve",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-file-permission": "Preserve",
        "x-ms-lease-id": "e6592b16-b63e-cabb-58aa-46941c356215"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C2314F924362\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:33:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:33:51.7096802Z",
        "x-ms-file-creation-time": "2021-01-26T19:33:51.5835901Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:33:51.5835901Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-66288292-418c-d766-897a-0d94bf00e7f7/test-directory-2bcbca1f-de5a-facd-9d56-d209d25ba4fe/test-file-67989806-df9d-721b-58b1-1a67f360f970",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:33:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "nfqrpwbpgwtuleikrlhf",
        "ETag": "\u00220x8D8C2314F924362\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:33:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:33:51.7096802Z",
        "x-ms-file-creation-time": "2021-01-26T19:33:51.5835901Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:33:51.5835901Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-duration": "infinite",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-66288292-418c-d766-897a-0d94bf00e7f7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:33:52 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-01-26T13:33:52.0633470-06:00",
    "RandomSeed": "1535519510",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}