{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-4e7b4739-6988-631f-e39e-5764327a90b6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:59 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0b5defdc-83bc-2f91-4535-f8e8225bed98?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:14 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:59 GMT",
        "ETag": "\u00220x8D779E6C7A4A1D0\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:53:59 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:13 GMT",
        "ETag": "\u00220x8D779E30AC0FFA6\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:14 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "6cb45c4e-b9b1-1ad8-5971-060b330942c6",
        "x-ms-request-id": "ab322676-201a-002e-7fcf-abc02c000000",
=======
        "x-ms-client-request-id": "fbd70503-8717-7d37-a1a6-12e6dadd3dcb",
        "x-ms-request-id": "4376e52c-b01a-003c-78cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-4e7b4739-6988-631f-e39e-5764327a90b6/test-directory-2648b23f-7cf2-ed02-cf67-deff067e5f6f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:59 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0b5defdc-83bc-2f91-4535-f8e8225bed98/test-directory-6858f5ff-e565-cda2-6179-8440b0408cb5?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:14 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:59 GMT",
        "ETag": "\u00220x8D779E6C7B1E60D\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:53:59 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:13 GMT",
        "ETag": "\u00220x8D779E30ACF98FC\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:14 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "51619c47-cb2b-d10b-59c7-9c4adbd914da",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:53:59.5978253Z",
        "x-ms-file-creation-time": "2019-12-06T00:53:59.5978253Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:53:59.5978253Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "ab322678-201a-002e-80cf-abc02c000000",
=======
        "x-ms-client-request-id": "ad51073e-8337-1ee1-630a-9a9e03f6cc60",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:27:14.2128892Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:14.2128892Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:14.2128892Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e52f-b01a-003c-7acb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-4e7b4739-6988-631f-e39e-5764327a90b6/test-directory-2648b23f-7cf2-ed02-cf67-deff067e5f6f/test-file-d95f9712-6bf2-1b00-aeeb-84d6d26ba763",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:53:59 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0b5defdc-83bc-2f91-4535-f8e8225bed98/test-directory-6858f5ff-e565-cda2-6179-8440b0408cb5/test-file-299d5d19-20f8-0d47-750d-18f9f877d0ba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:14 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:53:59 GMT",
        "ETag": "\u00220x8D779E6C7BE903F\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:53:59 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:13 GMT",
        "ETag": "\u00220x8D779E30ADCDFE3\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:14 GMT",
>>>>>>> feature/storage/stg71-bas[...]
