{
  "Entries": [
    {
      "RequestUri": "http://kasobolcanadacentral.file.core.windows.net/test-share-91e2f38e-ebf7-e1f7-9498-af5b253b25fd?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 26 Apr 2021 22:15:37 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D90900D250ADDA\u0022",
        "Last-Modified": "Mon, 26 Apr 2021 22:15:38 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.file.core.windows.net/test-share-91e2f38e-ebf7-e1f7-9498-af5b253b25fd/test-directory-dab105a7-b42c-70df-5a90-41015df4cc91?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 26 Apr 2021 22:15:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D90900D273BF20\u0022",
        "Last-Modified": "Mon, 26 Apr 2021 22:15:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-04-26T22:15:38.5086752Z",
        "x-ms-file-creation-time": "2021-04-26T22:15:38.5086752Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-04-26T22:15:38.5086752Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3917056552249722909*6811422022089678740",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.file.core.windows.net/test-share-91e2f38e-ebf7-e1f7-9498-af5b253b25fd/test-directory-dab105a7-b42c-70df-5a90-41015df4cc91/test-file-df5167a0-d647-2aa0-d8da-26bb51d64cf0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Mon, 26 Apr 2021 22:15:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D90900D2904D1B\u0022",
        "Last-Modified": "Mon, 26 Apr 2021 22:15:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-04-26T22:15:38.6958107Z",
        "x-ms-file-creation-time": "2021-04-26T22:15:38.6958107Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-04-26T22:15:38.6958107Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17737392480967489306*6811422022089678740",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolcanadacentral.file.core.windows.net/test-share-91e2f38e-ebf7-e1f7-9498-af5b253b25fd/test-directory-dab105a7-b42c-70df-5a90-41015df4cc91/test-file-df5167a0-d647-2aa0-d8da-26bb51d64cf0?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-type": "xdrqrmhdaoiocsdxejlo",
        "x-ms-date": "Mon, 26 Apr 2021 22:15:38 GMT",
        "x-ms-file-attributes": "Preserve",
        "x-ms-file-creation-time": "Preserve",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-file-permission": "Preserve",
        "x-ms-lease-id": "64dd5ca3-21c1-e2db-2652-d95818b3faeb",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithFileOperation",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithFileOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the file.\n",
        "RequestId:d2c3dcf0-701a-001e-6be9-3a2669000000\n",
        "Time:2021-04-26T22:15:38.8012292Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "http://kasobolcanadacentral.file.core.windows.net/test-share-91e2f38e-ebf7-e1f7-9498-af5b253b25fd?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 26 Apr 2021 22:15:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-04-26T15:15:37.3477908-07:00",
    "RandomSeed": "1694091373",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttp://kasobolcanadacentral.blob.core.windows.net\nhttp://kasobolcanadacentral.file.core.windows.net\nhttp://kasobolcanadacentral.queue.core.windows.net\nhttp://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttp://kasobolcanadacentral-secondary.blob.core.windows.net\nhttp://kasobolcanadacentral-secondary.file.core.windows.net\nhttp://kasobolcanadacentral-secondary.queue.core.windows.net\nhttp://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=http://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=http://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope"
  }
}