{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-beef5254-fab3-96f7-0ac3-33f2a06a6ebb?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:19:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B6C5997245\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:19:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-beef5254-fab3-96f7-0ac3-33f2a06a6ebb/test-directory-ae215712-e61b-71bd-ee19-1113db133689?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:19:59 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B6C5A5862D\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:19:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-04-25T01:19:59.3865773Z",
        "x-ms-file-creation-time": "2020-04-25T01:19:59.3865773Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-04-25T01:19:59.3865773Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15599277547783403350*12727421398096584927",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-beef5254-fab3-96f7-0ac3-33f2a06a6ebb/test-directory-ae215712-e61b-71bd-ee19-1113db133689/test-file-04736c51-febc-51c8-c966-010b393a8440",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Sat, 25 Apr 2020 01:19:59 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B6C5B0CF41\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:19:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-04-25T01:19:59.4605377Z",
        "x-ms-file-creation-time": "2020-04-25T01:19:59.4605377Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-04-25T01:19:59.4605377Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1729393344912377937*12727421398096584927",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-beef5254-fab3-96f7-0ac3-33f2a06a6ebb/test-directory-ae215712-e61b-71bd-ee19-1113db133689/test-file-04736c51-febc-51c8-c966-010b393a8440?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-type": "potjjgtjfajdqafiratf",
        "x-ms-date": "Sat, 25 Apr 2020 01:19:59 GMT",
        "x-ms-file-attributes": "Preserve",
        "x-ms-file-creation-time": "Preserve",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-file-permission": "Preserve",
        "x-ms-lease-id": "bc1c7d86-e7eb-2413-4202-bdad5fe64d50",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithFileOperation",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithFileOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the file.\n",
        "RequestId:8411e3b4-001a-007c-619f-1a0b56000000\n",
        "Time:2020-04-25T01:19:59.5313045Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-beef5254-fab3-96f7-0ac3-33f2a06a6ebb?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:19:59 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-24T18:19:59.2762778-07:00",
    "RandomSeed": "994658626",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}