{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-87edd46a-568a-ad20-d276-b813eeaa70fb?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:46 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D326347FCB3\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:46 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-87edd46a-568a-ad20-d276-b813eeaa70fb/test-directory-be727aea-fff1-e505-0725-8b8c6918501e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:46 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D3263559669\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:46 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-10T05:32:46.4604777Z",
        "x-ms-file-creation-time": "2019-12-10T05:32:46.4604777Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-10T05:32:46.4604777Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-87edd46a-568a-ad20-d276-b813eeaa70fb/test-directory-be727aea-fff1-e505-0725-8b8c6918501e/test-file-eccc56f3-1a8a-624c-6254-ac5f0417d54b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:46 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D326362B7B4\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-10T05:32:46.5465268Z",
        "x-ms-file-creation-time": "2019-12-10T05:32:46.5465268Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-10T05:32:46.5465268Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-87edd46a-568a-ad20-d276-b813eeaa70fb/test-directory-be727aea-fff1-e505-0725-8b8c6918501e/test-file-eccc56f3-1a8a-624c-6254-ac5f0417d54b?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "vmsebdgylixouegbptpn",
        "x-ms-content-disposition": "hpbylbnwxhlocgqxhbgj",
        "x-ms-content-encoding": "yurvuewfjjbaymqflsry",
        "x-ms-content-language": "ojbdwjlomisomgomxfeg",
        "x-ms-content-md5": "QllkQUFBj0cQ8Dqw/kZKDw==",
        "x-ms-content-type": "dinnfkopokmnigtotnxk",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:46 GMT",
        "x-ms-file-attributes": "Preserve",
        "x-ms-file-creation-time": "Preserve",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-file-permission": "Preserve",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D3263746A6C\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-10T05:32:46.6625132Z",
        "x-ms-file-creation-time": "2019-12-10T05:32:46.5465268Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-10T05:32:46.5465268Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-87edd46a-568a-ad20-d276-b813eeaa70fb/test-directory-be727aea-fff1-e505-0725-8b8c6918501e/test-file-eccc56f3-1a8a-624c-6254-ac5f0417d54b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:46 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "hpbylbnwxhlocgqxhbgj",
        "Content-Language": "ojbdwjlomisomgomxfeg",
        "Content-MD5": "QllkQUFBj0cQ8Dqw/kZKDw==",
        "Content-Type": "dinnfkopokmnigtotnxk",
        "ETag": "\u00220x8D77D3263746A6C\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-10T05:32:46.6625132Z",
        "x-ms-file-creation-time": "2019-12-10T05:32:46.5465268Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-10T05:32:46.5465268Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-87edd46a-568a-ad20-d276-b813eeaa70fb?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:46 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-09T21:32:46.3753403-08:00",
    "RandomSeed": "284767120",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}