{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a12a7d1b-34fd-4010-aec8-37d1586cee31?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 19:49:37 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926C8B8228B75\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:49:37 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a12a7d1b-34fd-4010-aec8-37d1586cee31/test-directory-d4ddc0e8-8b79-4a8a-5a46-48474b0ba27c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 19:49:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926C8B8304A9D\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:49:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-06-03T19:49:37.5123101Z",
        "x-ms-file-creation-time": "2021-06-03T19:49:37.5123101Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-06-03T19:49:37.5123101Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a12a7d1b-34fd-4010-aec8-37d1586cee31/test-directory-d4ddc0e8-8b79-4a8a-5a46-48474b0ba27c/test-file-6f5bb77a-291d-12ce-8e93-4e0eea50ad43",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 03 Jun 2021 19:49:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926C8B83B4579\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:49:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-06-03T19:49:37.5842681Z",
        "x-ms-file-creation-time": "2021-06-03T19:49:37.5842681Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-06-03T19:49:37.5842681Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a12a7d1b-34fd-4010-aec8-37d1586cee31/test-directory-d4ddc0e8-8b79-4a8a-5a46-48474b0ba27c/test-file-6f5bb77a-291d-12ce-8e93-4e0eea50ad43?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-type": "ggetrhqtaufkmpaxfkih",
        "x-ms-date": "Thu, 03 Jun 2021 19:49:38 GMT",
        "x-ms-file-attributes": "Preserve",
        "x-ms-file-creation-time": "Preserve",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-file-permission": "Preserve",
        "x-ms-lease-id": "51a5794f-9eef-b46c-8eee-aad70ba7fa15",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithFileOperation",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithFileOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the file.\n",
        "RequestId:966e5260-a01a-004f-4bb1-58ab96000000\n",
        "Time:2021-06-03T19:49:37.6523831Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a12a7d1b-34fd-4010-aec8-37d1586cee31?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 19:49:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-06-03T14:49:37.8223697-05:00",
    "RandomSeed": "1255517622",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}