{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6a671316-dd45-497e-46b2-5727662e5a70?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:36 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-28f5ec19-2c26-e7f9-e10d-2c10a6397c25?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:15 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:35 GMT",
        "ETag": "\u00220x8D7793938C8815F\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:36 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:14 GMT",
        "ETag": "\u00220x8D779E30B5D8E22\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:15 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "a1a2056b-30f8-dbb4-b757-4d8feb264f54",
        "x-ms-request-id": "011a0424-f01a-0002-7722-ab2c83000000",
=======
        "x-ms-client-request-id": "1dd405d5-42d1-03a3-898e-188aef9526fe",
        "x-ms-request-id": "4376e546-b01a-003c-0dcb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6a671316-dd45-497e-46b2-5727662e5a70/test-directory-22e57d85-b43c-ab3c-1452-3d9b75f787a7?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:36 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-28f5ec19-2c26-e7f9-e10d-2c10a6397c25/test-directory-ac1d58cb-6374-ac74-48a5-e6620356711b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:15 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:36 GMT",
        "ETag": "\u00220x8D7793938D7261D\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:36 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:14 GMT",
        "ETag": "\u00220x8D779E30B6B3CBE\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:15 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "1ed72a9d-70a8-71ed-9028-d52b5b400033",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:11:36.9935389Z",
        "x-ms-file-creation-time": "2019-12-05T04:11:36.9935389Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:11:36.9935389Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "011a0429-f01a-0002-7b22-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:27:15.2328894Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:15.2328894Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:15.2328894Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e549-b01a-003c-0fcb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-6a671316-dd45-497e-46b2-5727662e5a70/test-directory-22e57d85-b43c-ab3c-1452-3d9b75f787a7/test-file-87b0a5d0-ef6b-ccc8-0575-bac7b67e8ea5?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:37 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-28f5ec19-2c26-e7f9-e10d-2c10a6397c25/test-directory-ac1d58cb-6374-ac74-48a5-e6620356711b/test-file-259afc1d-855a-6d99-04f6-55f18cf9572f?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:15 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:36 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:14 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "585ea382-3a7e-1851-906a-19b11bfbe597",
        "x-ms-error-code": "ResourceNotFound",
<<<<<<< HEAD
        "x-ms-request-id": "011a042b-f01a-0002-7d22-ab2c83000000",
=======
        "x-ms-request-id": "4376e54c-b01a-003c-12cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified resource does not exist.\n",
<<<<<<< HEAD
        "RequestId:011a042b-f01a-0002-7d22-ab2c83000000\n",
        "Time:2019-12-05T04:11:37.0775671Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-28f5ec19-2c26-e7f9-e10d-2c10a6397c25?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:15 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:36 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:15 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "78b96cf7-178f-86e6-9bd7-16bf03ab35bb",
        "x-ms-request-id": "011a042c-f01a-0002-7e22-ab2c83000000",
=======
        "x-ms-client-request-id": "e86f3e2c-fe9a-0ab1-e9ad-481338c064e2",
        "x-ms-request-id": "4376e54d-b01a-003c-13cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "853349285",
=======
    "RandomSeed": "129530252",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}