{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e70d01fa-f21b-f643-87d4-e675cb0528d6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:15 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-be4581b3-fa84-d82d-fba0-77bdefd17dd7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:52 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:10:15 GMT",
        "ETag": "\u00220x8D7793908874B21\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:10:15 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:51 GMT",
        "ETag": "\u00220x8D779E2DA5F0FE5\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:52 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "ed212c03-c4a3-ec7e-7d7b-e6a4e60d9ed5",
        "x-ms-request-id": "0119f8b2-f01a-0002-2d21-ab2c83000000",
=======
        "x-ms-client-request-id": "931568f8-21d3-d08f-334b-f9cfd3daaa63",
        "x-ms-request-id": "a2d0f709-501a-0034-0bcb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e70d01fa-f21b-f643-87d4-e675cb0528d6/test-directory-0254bffb-71d5-ea24-9aec-0580797a55a0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:16 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-be4581b3-fa84-d82d-fba0-77bdefd17dd7/test-directory-ae0216d0-7a51-8fa4-33b3-ac3956414bf9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:53 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:10:16 GMT",
        "ETag": "\u00220x8D7793908951E63\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:10:16 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:53 GMT",
        "ETag": "\u00220x8D779E2DA6C5783\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:53 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "761b40a0-e5ff-7d24-c386-5f1f745679f1",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:10:16.0301667Z",
        "x-ms-file-creation-time": "2019-12-05T04:10:16.0301667Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:10:16.0301667Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "0119f8b5-f01a-0002-2f21-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:25:53.0317699Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:53.0317699Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:53.0317699Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "a2d0f70b-501a-0034-0ccb-aba1f3000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-e70d01fa-f21b-f643-87d4-e675cb0528d6/test-directory-0254bffb-71d5-ea24-9aec-0580797a55a0/test-file-a2904526-fe9b-c1f0-8c6e-8c7d95a1c1d7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-be4581b3-fa84-d82d-fba0-77bdefd17dd7/test-directory-ae0216d0-7a51-8fa4-33b3-ac3956414bf9/test-file-d2c1ffff-2315-e7a7-11d5-2b3edb7c63b4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "2c27ad99-ebbd-7d21-9934-642ab9e6a146",
        "x-ms-content-length": "1048576",
<<<<<<< HEAD
        "x-ms-date": "Thu, 05 Dec 2019 04:10:16 GMT",
=======
        "x-ms-date": "Fri, 06 Dec 2019 00:25:53 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:10:16 GMT",
        "ETag": "\u00220x8D7793908A23DC2\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:10:16 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:25:53 GMT",
        "ETag": "\u00220x8D779E2DA79753B\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:53 GMT",
>>>>>>> feature/storage/stg71-bas[...]
