{
  "Entries": [
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-c8264def-e829-1069-74ca-7863386d7fb2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Nov 2022 02:48:44 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD27D6649CFFF\u0022",
        "Last-Modified": "Wed, 30 Nov 2022 02:48:45 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-c8264def-e829-1069-74ca-7863386d7fb2/test-directory-14d46211-682c-f884-992f-ac0bf15785c8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD27D665CF02D\u0022",
        "Last-Modified": "Wed, 30 Nov 2022 02:48:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-11-30T02:48:45.6458285Z",
        "x-ms-file-creation-time": "2022-11-30T02:48:45.6458285Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-11-30T02:48:45.6458285Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8792472798472242479*1359530181238362790",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-c8264def-e829-1069-74ca-7863386d7fb2/test-directory-14d46211-682c-f884-992f-ac0bf15785c8/test-file-0ba2ec32-32c2-0270-fea1-6a0a56b8b65e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD27D6665C880\u0022",
        "Last-Modified": "Wed, 30 Nov 2022 02:48:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-11-30T02:48:45.7037952Z",
        "x-ms-file-creation-time": "2022-11-30T02:48:45.7037952Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-11-30T02:48:45.7037952Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13438439191449926184*1359530181238362790",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-c8264def-e829-1069-74ca-7863386d7fb2/test-directory-14d46211-682c-f884-992f-ac0bf15785c8/test-file-0ba2ec32-32c2-0270-fea1-6a0a56b8b65e?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD27D66702734\u0022",
        "Last-Modified": "Wed, 30 Nov 2022 02:48:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-c8264def-e829-1069-74ca-7863386d7fb2/test-directory-14d46211-682c-f884-992f-ac0bf15785c8/test-file-0ba2ec32-32c2-0270-fea1-6a0a56b8b65e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAD27D66702734\u0022",
        "Last-Modified": "Wed, 30 Nov 2022 02:48:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-11-30T02:48:45.7717556Z",
        "x-ms-file-creation-time": "2022-11-30T02:48:45.7037952Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-11-30T02:48:45.7037952Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13438439191449926184*1359530181238362790",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkfileoauthsa.file.core.windows.net/test-share-c8264def-e829-1069-74ca-7863386d7fb2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Nov 2022 02:48:45 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1774780081",
    "Storage_TestConfigOAuth": "OAuthTenant\nsdkfileoauthsa\nU2FuaXRpemVk\nhttps://sdkfileoauthsa.blob.core.windows.net\nhttps://sdkfileoauthsa.file.core.windows.net\nhttps://sdkfileoauthsa.queue.core.windows.net\nhttps://sdkfileoauthsa.table.core.windows.net\n\n\n\n\nhttps://sdkfileoauthsa-secondary.blob.core.windows.net\nhttps://sdkfileoauthsa-secondary.file.core.windows.net\nhttps://sdkfileoauthsa-secondary.queue.core.windows.net\nhttps://sdkfileoauthsa-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://sdkfileoauthsa.blob.core.windows.net/;QueueEndpoint=https://sdkfileoauthsa.queue.core.windows.net/;FileEndpoint=https://sdkfileoauthsa.file.core.windows.net/;BlobSecondaryEndpoint=https://sdkfileoauthsa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://sdkfileoauthsa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://sdkfileoauthsa-secondary.file.core.windows.net/;AccountName=sdkfileoauthsa;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
