{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0f5750e6-699e-3a1e-5f7a-26594f9471a0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-1e92e6919aa82f46b4740b934dbff37a-a489b4c79ca8e948-00",
=======
        "traceparent": "00-cca6e39dfd14574fac4eabed6c419e11-64d587fa0289e64a-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "2e0d97b6-0ad5-0dde-7707-0d82f4eb2f57",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:01:41 GMT",
        "x-ms-return-client-request-id": "true",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:46:42 GMT",
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:01:41 GMT",
        "ETag": "\u00220x8D7790DED37D519\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:01:41 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:46:41 GMT",
        "ETag": "\u00220x8D778F2AFEF466C\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:46:42 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "2e0d97b6-0ad5-0dde-7707-0d82f4eb2f57",
<<<<<<< HEAD
        "x-ms-request-id": "e3041730-401a-0038-0af6-aa36fb000000",
=======
        "x-ms-request-id": "46203066-801a-0018-27db-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0f5750e6-699e-3a1e-5f7a-26594f9471a0/test-directory-b68c47ca-943f-29bd-667a-c62628092900?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-fc448f194aa10d43a85a2c2c5255fb72-e7167d411a23b045-00",
=======
        "traceparent": "00-5045f7c2a4e842498f206b3804e64a22-aaa9abca1050da45-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "ca4ae948-83d2-221d-dae4-c75b43b8e46d",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:01:41 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:46:42 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:01:41 GMT",
        "ETag": "\u00220x8D7790DED46032C\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:01:41 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:46:41 GMT",
        "ETag": "\u00220x8D778F2AFFE3FC8\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:46:42 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "ca4ae948-83d2-221d-dae4-c75b43b8e46d",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T23:01:41.8538796Z",
        "x-ms-file-creation-time": "2019-12-04T23:01:41.8538796Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T23:01:41.8538796Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "e3041733-401a-0038-0cf6-aa36fb000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:46:42.6308552Z",
        "x-ms-file-creation-time": "2019-12-04T19:46:42.6308552Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:46:42.6308552Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "46203068-801a-0018-28db-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0f5750e6-699e-3a1e-5f7a-26594f9471a0/test-directory-b68c47ca-943f-29bd-667a-c62628092900/test-file-2a420cdd-7848-87d1-7c02-bd9cbd8e7aff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-57dd875f97298d4885c6c4597578a050-ec55dbf6d97be241-00",
=======
        "traceparent": "00-35772f7d2d8f684196d4748c687900f3-a26f5bc94870b34a-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "a25168bd-be24-d014-18c3-4dd0c680644c",
        "x-ms-content-length": "1048576",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:01:41 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:46:42 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:01:41 GMT",
        "ETag": "\u00220x8D7790DED534BEB\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:01:41 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:46:41 GMT",
        "ETag": "\u00220x8D778F2B00B86FD\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:46:42 GMT",
>>>>>>> feature/storage/stg71-bas[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0f5750e6-699e-3a1e-5f7a-26594f9471a0/test-directory-b68c47ca-943f-29bd-667a-c62628092900/test-file-2a420cdd-7848-87d1-7c02-bd9cbd8e7aff?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-570989b4ed7000418331128307a778ef-6ac0e6b77647f543-00",
=======
        "traceparent": "00-35771a1d5d1e6840a5f10c2040835b62-63340b795120c14d-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "55de7cbb-d73c-d2db-550c-26fa115ef52b",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:01:42 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:46:42 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:01:41 GMT",
        "ETag": "\u00220x8D7790DED6041E8\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:01:42 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:46:41 GMT",
        "ETag": "\u00220x8D778F2B0185602\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:46:42 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "55de7cbb-d73c-d2db-550c-26fa115ef52b",
<<<<<<< HEAD
        "x-ms-request-id": "e304173d-401a-0038-15f6-aa36fb000000",
=======
        "x-ms-request-id": "4620306a-801a-0018-2adb-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0f5750e6-699e-3a1e-5f7a-26594f9471a0/test-directory-b68c47ca-943f-29bd-667a-c62628092900/test-file-2a420cdd-7848-87d1-7c02-bd9cbd8e7aff",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-a2e848fef3fd714989bda4dad34bc9fe-8008c651fff3b14c-00",
=======
        "traceparent": "00-a9452f3d72d2634bace518b754ba44f1-a89c7868beedde48-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "491440b8-0fa2-910f-edf7-83ce7fb46c7f",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:01:42 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:46:42 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream"
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:01:41 GMT",
        "ETag": "\u00220x8D7790DED6041E8\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:01:42 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:46:42 GMT",
        "ETag": "\u00220x8D778F2B0185602\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:46:42 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "Vary": "Origin",
        "x-ms-client-request-id": "491440b8-0fa2-910f-edf7-83ce7fb46c7f",
        "x-ms-file-attributes": "Archive",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T23:01:42.0258792Z",
        "x-ms-file-creation-time": "2019-12-04T23:01:41.9409387Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-04T23:01:41.9409387Z",
=======
        "x-ms-file-change-time": "2019-12-04T19:46:42.8018178Z",
        "x-ms-file-creation-time": "2019-12-04T19:46:42.7178749Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-04T19:46:42.7178749Z",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
<<<<<<< HEAD
        "x-ms-request-id": "e3041740-401a-0038-18f6-aa36fb000000",
=======
        "x-ms-request-id": "4620306d-801a-0018-2cdb-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0f5750e6-699e-3a1e-5f7a-26594f9471a0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-c39232956b7a85478ad63b7e7286ec97-2a36792d2d325a42-00",
=======
        "traceparent": "00-11fb8e3ad07e294c83fd665d4985c8a5-34aa8f7694232f4d-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "d1423dd6-ac4a-0d89-81a7-c6aee9989804",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:01:42 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:46:42 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:01:41 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:46:42 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "d1423dd6-ac4a-0d89-81a7-c6aee9989804",
<<<<<<< HEAD
        "x-ms-request-id": "e3041741-401a-0038-19f6-aa36fb000000",
=======
        "x-ms-request-id": "4620306e-801a-0018-2ddb-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "73200690",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}