{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0f5750e6-699e-3a1e-5f7a-26594f9471a0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:36 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-04f81e0b-fba7-43ef-bc9b-223a337dc3c0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:14 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:35 GMT",
        "ETag": "\u00220x8D7793938794F93\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:36 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:14 GMT",
        "ETag": "\u00220x8D779E30B107F7D\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:14 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "2e0d97b6-0ad5-0dde-7707-0d82f4eb2f57",
        "x-ms-request-id": "011a0411-f01a-0002-6822-ab2c83000000",
=======
        "x-ms-client-request-id": "853cdc31-1f5b-c28f-172a-21437c0982c4",
        "x-ms-request-id": "4376e536-b01a-003c-01cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0f5750e6-699e-3a1e-5f7a-26594f9471a0/test-directory-b68c47ca-943f-29bd-667a-c62628092900?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:36 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-04f81e0b-fba7-43ef-bc9b-223a337dc3c0/test-directory-035003b7-d439-cb4c-ffa3-3cecfb82fbc8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:14 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:35 GMT",
        "ETag": "\u00220x8D77939388953D5\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:36 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:14 GMT",
        "ETag": "\u00220x8D779E30B1E2E38\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:14 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "43b63b39-06a3-5c83-9071-85b7e3a3c695",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:11:36.4835285Z",
        "x-ms-file-creation-time": "2019-12-05T04:11:36.4835285Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:11:36.4835285Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "011a0414-f01a-0002-6922-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:27:14.7278904Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:14.7278904Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:14.7278904Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e539-b01a-003c-03cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0f5750e6-699e-3a1e-5f7a-26594f9471a0/test-directory-b68c47ca-943f-29bd-667a-c62628092900/test-file-2a420cdd-7848-87d1-7c02-bd9cbd8e7aff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-04f81e0b-fba7-43ef-bc9b-223a337dc3c0/test-directory-035003b7-d439-cb4c-ffa3-3cecfb82fbc8/test-file-17b1592e-2b00-7983-9d5f-432f1eb4ad24",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "c4682043-c029-0dbe-b73d-a543c3543ddb",
        "x-ms-content-length": "1048576",
<<<<<<< HEAD
        "x-ms-date": "Thu, 05 Dec 2019 04:11:36 GMT",
=======
        "x-ms-date": "Fri, 06 Dec 2019 00:27:14 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:35 GMT",
        "ETag": "\u00220x8D779393896EB37\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:36 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:14 GMT",
        "ETag": "\u00220x8D779E30B2B26BF\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:14 GMT",
>>>>>>> feature/storage/stg71-bas[...]
