{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-91cf15a7-83f5-4b2c-dcac-15f17606cf08?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 20:38:19 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E7A0E9BCCCD\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 20:38:19 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-91cf15a7-83f5-4b2c-dcac-15f17606cf08?restype=share\u0026comp=filepermission",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Wed, 11 Dec 2019 20:38:19 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-91cf15a7-83f5-4b2c-dcac-15f17606cf08/test-directory-3dc9462a-a9ad-7a20-c328-182d50a41eef?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 20:38:19 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E7A0EB5C485\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 20:38:19 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-11T20:38:19.4117765Z",
        "x-ms-file-creation-time": "2019-12-11T20:38:19.4117765Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-11T20:38:19.4117765Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-91cf15a7-83f5-4b2c-dcac-15f17606cf08/test-directory-3dc9462a-a9ad-7a20-c328-182d50a41eef/test-file-76eafe17-97d5-18a6-bf3d-d2ae8eb837c7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 11 Dec 2019 20:38:19 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E7A0EC2988A\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 20:38:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-11T20:38:19.4958474Z",
        "x-ms-file-creation-time": "2019-12-11T20:38:19.4958474Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-11T20:38:19.4958474Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-91cf15a7-83f5-4b2c-dcac-15f17606cf08/test-directory-3dc9462a-a9ad-7a20-c328-182d50a41eef/test-file-76eafe17-97d5-18a6-bf3d-d2ae8eb837c7?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 20:38:19 GMT",
        "x-ms-file-attributes": "ReadOnly|Archive",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E7A0ECF1BFC\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 20:38:19 GMT",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2019-12-11T20:38:19.5778556Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-91cf15a7-83f5-4b2c-dcac-15f17606cf08?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 20:38:19 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1134420854",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}