{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d45066d5-b3a1-4524-dc7e-524218d1c1cf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:38 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8d2495a5-690b-948e-e198-dfc49d27b4da?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:16 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:37 GMT",
        "ETag": "\u00220x8D7793939DEAC27\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:38 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:16 GMT",
        "ETag": "\u00220x8D779E30C73E0C5\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:16 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "169ae95d-cc05-2e10-94c0-ff5ff6e62c9c",
        "x-ms-request-id": "011a0468-f01a-0002-3522-ab2c83000000",
=======
        "x-ms-client-request-id": "cc69c084-1a3d-af02-3ecd-0e8c30909f47",
        "x-ms-request-id": "4376e56f-b01a-003c-31cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d45066d5-b3a1-4524-dc7e-524218d1c1cf?restype=share\u0026comp=filepermission",
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8d2495a5-690b-948e-e198-dfc49d27b4da?restype=share\u0026comp=filepermission",
>>>>>>> feature/storage/stg71-base
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
<<<<<<< HEAD
        "traceparent": "00-9b749d1c7b785f44bc5b632bce4ce8d1-9f0c0790e4980345-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "2fe45665-ab36-84ca-727e-87724cffa85b",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:38 GMT",
=======
        "traceparent": "00-4fed37fff300864d8ff0b56d3660c5fe-00e43b3d50beb74f-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191205.1\u002B4f14c4315f17fbbc59c93c6819467b6f15d7008f",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "dd3f473a-e8be-519d-eaa8-475537d64e30",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:17 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:37 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:16 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "Transfer-Encoding": "chunked",
<<<<<<< HEAD
        "x-ms-client-request-id": "2fe45665-ab36-84ca-727e-87724cffa85b",
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
        "x-ms-request-id": "011a046b-f01a-0002-3722-ab2c83000000",
=======
        "x-ms-client-request-id": "dd3f473a-e8be-519d-eaa8-475537d64e30",
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
        "x-ms-request-id": "4376e572-b01a-003c-33cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d45066d5-b3a1-4524-dc7e-524218d1c1cf/test-directory-afb4b4b1-f7ce-738c-ae12-0f53394ccd1a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:38 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8d2495a5-690b-948e-e198-dfc49d27b4da/test-directory-1c8da637-35a6-350e-2609-9a974dce3442?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:17 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:38 GMT",
        "ETag": "\u00220x8D779393A08C86C\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:38 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:16 GMT",
        "ETag": "\u00220x8D779E30C8D27A1\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:17 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "d5fc9d57-c06e-052d-3909-b6b54e06041c",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:11:38.9965420Z",
        "x-ms-file-creation-time": "2019-12-05T04:11:38.9965420Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:11:38.9965420Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "011a046f-f01a-0002-3b22-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:27:17.1328929Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:17.1328929Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:17.1328929Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e576-b01a-003c-37cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d45066d5-b3a1-4524-dc7e-524218d1c1cf/test-directory-afb4b4b1-f7ce-738c-ae12-0f53394ccd1a/test-file-cbf26cb1-0705-b45a-4e6a-23c3499c10e6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8d2495a5-690b-948e-e198-dfc49d27b4da/test-directory-1c8da637-35a6-350e-2609-9a974dce3442/test-file-fd650474-6584-75df-1d6f-1f92f62d2ee1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "026c2210-29de-f1d7-be86-b7ffa09b0e0b",
        "x-ms-content-length": "1024",
<<<<<<< HEAD
        "x-ms-date": "Thu, 05 Dec 2019 04:11:39 GMT",
=======
        "x-ms-date": "Fri, 06 Dec 2019 00:27:17 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:38 GMT",
        "ETag": "\u00220x8D779393A16359D\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:39 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:16 GMT",
        "ETag": "\u00220x8D779E30C9A473C\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:17 GMT",
>>>>>>> feature/storage/stg71-bas[...]
