{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-99191f9f-5d94-9064-f63d-5b931ac7cf3f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:37 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-915c9c85-9ae6-9d3b-c184-188d80678605?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:15 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:36 GMT",
        "ETag": "\u00220x8D7793938FC3B43\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:37 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:15 GMT",
        "ETag": "\u00220x8D779E30B905E0E\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:15 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "7ad103f2-7c4d-6a93-7420-e3c92be20b26",
        "x-ms-request-id": "011a0430-f01a-0002-0222-ab2c83000000",
=======
        "x-ms-client-request-id": "05f109a9-cff8-1cb0-9383-48aca184880e",
        "x-ms-request-id": "4376e54f-b01a-003c-15cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-99191f9f-5d94-9064-f63d-5b931ac7cf3f/test-directory-2a062038-4518-9a92-78fd-459d8385f6cd?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:37 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-915c9c85-9ae6-9d3b-c184-188d80678605/test-directory-ca1832da-da71-de64-e6ca-438698beb1c0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:15 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:36 GMT",
        "ETag": "\u00220x8D77939390A6ACF\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:37 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:15 GMT",
        "ETag": "\u00220x8D779E30B9DBE7B\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:15 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "b9a2f4d8-b8e8-ce8b-a512-1e2e8c2a84d5",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:11:37.3295311Z",
        "x-ms-file-creation-time": "2019-12-05T04:11:37.3295311Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:11:37.3295311Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "011a0432-f01a-0002-0322-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:27:15.5638907Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:15.5638907Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:15.5638907Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e551-b01a-003c-16cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-99191f9f-5d94-9064-f63d-5b931ac7cf3f/test-directory-2a062038-4518-9a92-78fd-459d8385f6cd/test-file-e5b41629-f540-e430-2ed9-45ada3df7a9b?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "xkcvllujngplxpwdhkav",
        "x-ms-content-disposition": "uplirurlceaimrnlqasv",
        "x-ms-content-encoding": "cppwkfuvmtpyhurixtep",
        "x-ms-content-language": "sigiggyfcklgrdtfaowm",
        "x-ms-content-md5": "zyN\u002BSiejfRMtZ1jMh0Z6nQ==",
        "x-ms-content-type": "auyhnabqaemwvccsihpd",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:37 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-915c9c85-9ae6-9d3b-c184-188d80678605/test-directory-ca1832da-da71-de64-e6ca-438698beb1c0/test-file-85ab87d2-10a0-5898-25d4-bdba53f580dc?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "yimingitammabqludfmv",
        "x-ms-content-disposition": "cvtitfbrdpyvkbvuhmum",
        "x-ms-content-encoding": "rjhjllpghwnqqfcdndnh",
        "x-ms-content-language": "fqpjnppauqnpjadrnkvi",
        "x-ms-content-md5": "B\u002Bb0WcUQXrX\u002BH7nP3qcIiQ==",
        "x-ms-content-type": "ptjgcifexrgdxmhatwuu",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:15 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "Preserve",
        "x-ms-file-creation-time": "Preserve",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-file-permission": "Preserve",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:36 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:15 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "d79cb233-6a5e-c729-5c49-9414fbd17baf",
        "x-ms-error-code": "ResourceNotFound",
<<<<<<< HEAD
        "x-ms-request-id": "011a0434-f01a-0002-0522-ab2c83000000",
=======
        "x-ms-request-id": "4376e553-b01a-003c-18cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified resource does not exist.\n",
<<<<<<< HEAD
        "RequestId:011a0434-f01a-0002-0522-ab2c83000000\n",
        "Time:2019-12-05T04:11:37.4155670Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-915c9c85-9ae6-9d3b-c184-188d80678605?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:15 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:36 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:15 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "f02855e2-6f56-0172-a4bd-4c1d33635df9",
        "x-ms-request-id": "011a0438-f01a-0002-0922-ab2c83000000",
=======
        "x-ms-client-request-id": "a087da1c-a859-6e7e-4fe6-48d362c44dbe",
        "x-ms-request-id": "4376e555-b01a-003c-1acb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "DateTimeOffsetNow": "2019-12-04T20:11:37.2306828-08:00",
    "RandomSeed": "2112479800",
=======
    "DateTimeOffsetNow": "2019-12-05T16:27:15.4695919-08:00",
    "RandomSeed": "1092148389",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}