{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f02ba9c2-24df-f9bb-fc6f-6721a7980a5a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-52518961b35efd4c8155618be27efcfe-310792cafc39324a-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "51c3f588-93a8-42f4-6339-0009cf0f4e75",
        "x-ms-date": "Wed, 04 Dec 2019 05:12:04 GMT",
=======
        "traceparent": "00-42319c645cdd6244825ba2ab14f229a1-74e664d025e67747-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "51c3f588-93a8-42f4-6339-0009cf0f4e75",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:26 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:12:04 GMT",
        "ETag": "\u00220x8D7787880C89923\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:12:04 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:25 GMT",
        "ETag": "\u00220x8D778F28270EB5C\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:26 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "51c3f588-93a8-42f4-6339-0009cf0f4e75",
<<<<<<< HEAD
        "x-ms-request-id": "b5590d55-301a-000d-0e61-aa5aef000000",
=======
        "x-ms-request-id": "6805acfd-401a-0007-36db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f02ba9c2-24df-f9bb-fc6f-6721a7980a5a?restype=share\u0026comp=filepermission",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
<<<<<<< HEAD
        "traceparent": "00-788935dcc46a204084665597384b4d78-20153f227c53e843-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "b299e844-b8d4-47b1-9a7a-b193698812ae",
        "x-ms-date": "Wed, 04 Dec 2019 05:12:04 GMT",
=======
        "traceparent": "00-288756e2b5d0de459337c2745ac3c84f-7f99affe99fe5044-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "b299e844-b8d4-47b1-9a7a-b193698812ae",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:26 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:12:04 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:25 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "Transfer-Encoding": "chunked",
        "x-ms-client-request-id": "b299e844-b8d4-47b1-9a7a-b193698812ae",
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
<<<<<<< HEAD
        "x-ms-request-id": "b5590d5a-301a-000d-1261-aa5aef000000",
=======
        "x-ms-request-id": "6805ad01-401a-0007-39db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f02ba9c2-24df-f9bb-fc6f-6721a7980a5a/test-directory-38a2aff1-5b3c-6422-256b-3a5f60544121?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-eac93c5a4755184c9649381f65a2e0f5-a13bd1b60e15774c-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "51ae8536-179f-e942-c634-8d697e52e645",
        "x-ms-date": "Wed, 04 Dec 2019 05:12:04 GMT",
=======
        "traceparent": "00-3abcefda64b652419c6ceb5edb8e0232-72472a3b06240d4c-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "51ae8536-179f-e942-c634-8d697e52e645",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:26 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:12:04 GMT",
        "ETag": "\u00220x8D7787880E2759A\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:12:04 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:25 GMT",
        "ETag": "\u00220x8D778F2828B7260\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:26 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "51ae8536-179f-e942-c634-8d697e52e645",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T05:12:04.9948058Z",
        "x-ms-file-creation-time": "2019-12-04T05:12:04.9948058Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T05:12:04.9948058Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "b5590d5f-301a-000d-1761-aa5aef000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:45:26.3810144Z",
        "x-ms-file-creation-time": "2019-12-04T19:45:26.3810144Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:45:26.3810144Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "6805ad05-401a-0007-3ddb-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f02ba9c2-24df-f9bb-fc6f-6721a7980a5a/test-directory-38a2aff1-5b3c-6422-256b-3a5f60544121/test-file-e7a99038-2ac3-5538-0e84-7742263ff2e8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-0af45da616ff514bae6b354ad28fc534-f200539d8dc14c4a-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
=======
        "traceparent": "00-67ebbc2374781d40ada065629fcc5dfe-959cb88d95811d46-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "e1aaf013-0792-0cc9-4c59-421a9f00c286",
        "x-ms-content-length": "1024",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 05:12:05 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:26 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:12:04 GMT",
        "ETag": "\u00220x8D7787880F0F49B\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:12:05 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:25 GMT",
        "ETag": "\u00220x8D778F282990468\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:26 GMT",
>>>>>>> feature/storage/stg71-bas[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f02ba9c2-24df-f9bb-fc6f-6721a7980a5a/test-directory-38a2aff1-5b3c-6422-256b-3a5f60544121/test-file-e7a99038-2ac3-5538-0e84-7742263ff2e8?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-6af4bcc79a40114ab3286cf6f9bc0564-a0a575be77de4848-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f02ba9c2-24df-f9bb-fc6f-6721a7980a5a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-5f8e9489743cae49afe3faa6554287fb-048d0fe7c41a5d4f-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "95376b13-8bd1-31f2-4d77-ed0c7c5099a5",
        "x-ms-date": "Wed, 04 Dec 2019 05:12:05 GMT",
=======
        "traceparent": "00-36781fbf934854409caf12da0e0ea88e-d6fbe9de3bfc7142-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "95376b13-8bd1-31f2-4d77-ed0c7c5099a5",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:26 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:12:04 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:25 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "95376b13-8bd1-31f2-4d77-ed0c7c5099a5",
<<<<<<< HEAD
        "x-ms-request-id": "b5590d68-301a-000d-2061-aa5aef000000",
=======
        "x-ms-request-id": "6805ad0f-401a-0007-47db-aafe58000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2057992791",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}