{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-20e2b7bf-097d-ae95-c30a-830c53d65ce7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:59:38 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D3623F7B526\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:59:38 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-20e2b7bf-097d-ae95-c30a-830c53d65ce7?restype=share\u0026comp=filepermission",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 10 Dec 2019 05:59:38 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-20e2b7bf-097d-ae95-c30a-830c53d65ce7/test-directory-f05a7855-9370-6c76-0bcb-b663453b2743?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:59:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D362411C625\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:59:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-10T05:59:38.3065125Z",
        "x-ms-file-creation-time": "2019-12-10T05:59:38.3065125Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-10T05:59:38.3065125Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-20e2b7bf-097d-ae95-c30a-830c53d65ce7/test-directory-f05a7855-9370-6c76-0bcb-b663453b2743/test-file-27e46bd2-844b-19bf-a233-39646afba7b1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 Dec 2019 05:59:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D36241EE80E\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:59:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-10T05:59:38.3925774Z",
        "x-ms-file-creation-time": "2019-12-10T05:59:38.3925774Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-10T05:59:38.3925774Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-20e2b7bf-097d-ae95-c30a-830c53d65ce7/test-directory-f05a7855-9370-6c76-0bcb-b663453b2743/test-file-27e46bd2-844b-19bf-a233-39646afba7b1?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:59:38 GMT",
        "x-ms-file-attributes": "ReadOnly|Archive",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D36242B6B2F\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:59:38 GMT",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2019-12-10T05:59:38.4745775Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-20e2b7bf-097d-ae95-c30a-830c53d65ce7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:59:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "892516165",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}