{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7c3c0312-7aab-6f4c-6959-6fdcd04b83c7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:38 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c0a22f7d-e29d-96da-1c10-04f96bea88db?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:16 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:37 GMT",
        "ETag": "\u00220x8D779393972A3A8\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:38 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:15 GMT",
        "ETag": "\u00220x8D779E30C098609\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:16 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "188bd761-97b3-1cb3-6154-38462f89649e",
        "x-ms-request-id": "011a044e-f01a-0002-1e22-ab2c83000000",
=======
        "x-ms-client-request-id": "18d8b65b-d0d6-37f3-2d1b-79719bb3f4d8",
        "x-ms-request-id": "4376e561-b01a-003c-25cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7c3c0312-7aab-6f4c-6959-6fdcd04b83c7/test-directory-9bdf3469-e0c2-f970-634f-7b885a4824af?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:38 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c0a22f7d-e29d-96da-1c10-04f96bea88db/test-directory-5fe37393-0f28-1e92-bbc0-34c3116398ad?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:16 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:37 GMT",
        "ETag": "\u00220x8D779393981C171\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:38 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:16 GMT",
        "ETag": "\u00220x8D779E30C17AB51\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:16 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "8be2f9e5-328a-4cbc-24b9-5d159c3025c9",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:11:38.1116273Z",
        "x-ms-file-creation-time": "2019-12-05T04:11:38.1116273Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:11:38.1116273Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "011a0451-f01a-0002-2022-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:27:16.3629393Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:16.3629393Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:16.3629393Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e563-b01a-003c-26cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7c3c0312-7aab-6f4c-6959-6fdcd04b83c7/test-directory-9bdf3469-e0c2-f970-634f-7b885a4824af/test-file-8cb88830-6b0f-fede-2010-93b8ba041809",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c0a22f7d-e29d-96da-1c10-04f96bea88db/test-directory-5fe37393-0f28-1e92-bbc0-34c3116398ad/test-file-7bf2cb83-4015-23c6-6d24-9f3fc0f738ba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "1a1684c2-ca0e-a5c2-32be-1e65927d8b2c",
        "x-ms-content-length": "1024",
<<<<<<< HEAD
        "x-ms-date": "Thu, 05 Dec 2019 04:11:38 GMT",
=======
        "x-ms-date": "Fri, 06 Dec 2019 00:27:16 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:37 GMT",
        "ETag": "\u00220x8D77939398F2B50\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:38 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:16 GMT",
        "ETag": "\u00220x8D779E30C24A1C8\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:16 GMT",
>>>>>>> feature/storage/stg71-bas[...]
