{
  "Entries": [
    {
      "RequestUri": "https://oauthfilerest3.file.core.windows.net/test-share-9ce36c7d-76fc-8cf4-f110-0a8850bea229?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A542BE0BDF0C\u0022",
        "Last-Modified": "Thu, 11 Nov 2021 18:40:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://oauthfilerest3.file.core.windows.net/test-share-9ce36c7d-76fc-8cf4-f110-0a8850bea229/test-directory-9c042a34-c8ba-8f87-b996-843396b58a94?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A542BE161CBC\u0022",
        "Last-Modified": "Thu, 11 Nov 2021 18:40:32 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-11-11T18:40:32.5180604Z",
        "x-ms-file-creation-time": "2021-11-11T18:40:32.5180604Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-11-11T18:40:32.5180604Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15786088493850344481*12954698658981292968",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://oauthfilerest3.file.core.windows.net/test-share-9ce36c7d-76fc-8cf4-f110-0a8850bea229/test-directory-9c042a34-c8ba-8f87-b996-843396b58a94/test-file-aed02eb3-35a7-b9f8-571e-04e950ee6560",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A542BE205470\u0022",
        "Last-Modified": "Thu, 11 Nov 2021 18:40:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-11-11T18:40:32.5850224Z",
        "x-ms-file-creation-time": "2021-11-11T18:40:32.5850224Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-11-11T18:40:32.5850224Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1975036839435879206*12954698658981292968",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://oauthfilerest3.file.core.windows.net/test-share-9ce36c7d-76fc-8cf4-f110-0a8850bea229/test-directory-9c042a34-c8ba-8f87-b996-843396b58a94/test-file-aed02eb3-35a7-b9f8-571e-04e950ee6560?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "txfWJPB1nTMahDVEI1gWQdr2IVNsehUfVwxeWGGhb8Pe5drKY6I\u002BgNnhMhla3S/rpzl\u002B\u002BKghRj0Bt83jFkXSeRRyZj5\u002BS903t6B6i0f8xHrdc7AoIncavJ6dyazVW2qUD7kE6HbwbVxcRkAIp7v1BfJTBqOUqVacV6mg4YIwYlw25nyO99wD7AVUy9w3EhXip8O6glXG/2ViZ5DNUIzaLOPj0cA/Zg4WTxmdQN56ZUWUvTm\u002BdeAHcOYWLI9LNZx5ep/5U0BUo0G1pDI7KL\u002BH5wJLOZNSG7YC3GHaKDp\u002Byhl8I8Y\u002BgRIFPxr3CNGuy0cnj0SNAPwJJ17p9nfeenoHNtkYvwT5SGbvRfl5WhLkVBAZspj18codc/xnVYubJsWf8NL4lQxDLkfdnboCj8xLBKFmxMjhEUQP\u0[...]
    {
      "RequestUri": "https://oauthfilerest3.file.core.windows.net/test-share-19890d93-ff07-0226-f330-7ccda9bbac46/test-directory-a6063aa4-f728-29a7-3402-326ed3cbd2f3/test-file-c3e31410-bc98-f8ea-7ba1-2618cb81c8b3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://oauthfilerest3.file.core.windows.net/test-share-9ce36c7d-76fc-8cf4-f110-0a8850bea229/test-directory-9c042a34-c8ba-8f87-b996-843396b58a94/test-file-aed02eb3-35a7-b9f8-571e-04e950ee6560",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A542BE662CEF\u0022",
        "Last-Modified": "Thu, 11 Nov 2021 18:40:33 GMT",
        "x-ms-copy-id": "23a543c2-9295-4c12-b7c8-3709affbe15f",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://oauthfilerest3.file.core.windows.net/test-share-19890d93-ff07-0226-f330-7ccda9bbac46?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://oauthfilerest3.file.core.windows.net/test-share-9ce36c7d-76fc-8cf4-f110-0a8850bea229?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1977266947",
    "Storage_TestConfigOAuth": "OAuthTenant\noauthfilerest3\nU2FuaXRpemVk\nhttps://oauthfilerest3.blob.core.windows.net\nhttps://oauthfilerest3.file.core.windows.net\nhttps://oauthfilerest3.queue.core.windows.net\nhttps://oauthfilerest3.table.core.windows.net\n\n\n\n\nhttps://oauthfilerest3-secondary.blob.core.windows.net\nhttps://oauthfilerest3-secondary.file.core.windows.net\nhttps://oauthfilerest3-secondary.queue.core.windows.net\nhttps://oauthfilerest3-secondary.table.core.windows.net\ndc57b189-cd6a-485e-beb1-dd71492b0a92\nSanitized\n922923f3-36c9-4663-b1d7-68e670802ae1\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://oauthfilerest3.blob.core.windows.net/;QueueEndpoint=https://oauthfilerest3.queue.core.windows.net/;FileEndpoint=https://oauthfilerest3.file.core.windows.net/;BlobSecondaryEndpoint=https://oauthfilerest3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://oauthfilerest3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://oauthfilerest3-secondary.file.core.windows.net/;AccountName=oauthfilerest3;AccountKey=Sanitized\nseanscope1\nXClient\n25c81a3f-c3f0-41c0-8453-4f699167c22d"
  }
}