{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c0a5b20d-3d04-829f-63a1-424d20cf38d3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:54:09 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1bf86f51-3baf-84d3-414d-1e1637ce5517?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:19 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:54:09 GMT",
        "ETag": "\u00220x8D779E6CD9AA9E2\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:54:09 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:18 GMT",
        "ETag": "\u00220x8D779E30DB9809B\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:19 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "9f19fce0-7235-2a70-7522-ff273d44ade4",
        "x-ms-request-id": "ab32282d-201a-002e-17cf-abc02c000000",
=======
        "x-ms-client-request-id": "83ed9d70-e59b-d352-2085-d3cb9a34d09e",
        "x-ms-request-id": "4376e5a2-b01a-003c-54cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c0a5b20d-3d04-829f-63a1-424d20cf38d3/test-directory-cf778785-3a78-69c5-1efa-9fc145bdd548?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:54:09 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1bf86f51-3baf-84d3-414d-1e1637ce5517/test-directory-dbc249e7-7de2-28b8-5421-2aeea6416935?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:19 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:54:09 GMT",
        "ETag": "\u00220x8D779E6CDA86257\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:54:09 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:18 GMT",
        "ETag": "\u00220x8D779E30DC77C93\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:19 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "255b1495-18a3-a620-37b0-813ad2afe4b7",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:54:09.6018007Z",
        "x-ms-file-creation-time": "2019-12-06T00:54:09.6018007Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:54:09.6018007Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "ab322834-201a-002e-1dcf-abc02c000000",
=======
        "x-ms-client-request-id": "d0aaf5f0-3349-f376-e5c5-2f79ba642cdf",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:27:19.1928979Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:19.1928979Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:19.1928979Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e5a5-b01a-003c-56cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c0a5b20d-3d04-829f-63a1-424d20cf38d3/test-directory-cf778785-3a78-69c5-1efa-9fc145bdd548/test-file-936db74c-8ad7-ec2e-e9dc-000ef31ac5b1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:54:09 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1bf86f51-3baf-84d3-414d-1e1637ce5517/test-directory-dbc249e7-7de2-28b8-5421-2aeea6416935/test-file-d68d9d1b-368e-15bd-cdea-63a8a4e2d105",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:19 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:54:09 GMT",
        "ETag": "\u00220x8D779E6CDB55A91\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:54:09 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:18 GMT",
        "ETag": "\u00220x8D779E30DD53A25\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:19 GMT",
>>>>>>> feature/storage/stg71-bas[...]
