{
  "Entries": [
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-c8c2e8af-367d-c1ac-78df-efc66ae9d22e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 16 May 2020 00:26:17 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7F92FC03566AA\u0022",
        "Last-Modified": "Sat, 16 May 2020 00:26:17 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-c8c2e8af-367d-c1ac-78df-efc66ae9d22e/test-directory-d7ac0a4a-4de5-96bd-93d0-e3ba6d82804c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 16 May 2020 00:26:18 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7F92FC0473A7D\u0022",
        "Last-Modified": "Sat, 16 May 2020 00:26:18 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-05-16T00:26:18.0887165Z",
        "x-ms-file-creation-time": "2020-05-16T00:26:18.0887165Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-05-16T00:26:18.0887165Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-c8c2e8af-367d-c1ac-78df-efc66ae9d22e/test-directory-d7ac0a4a-4de5-96bd-93d0-e3ba6d82804c/test-\u0192\u00A1\u00A3\u20AC\u203D-a9c81b08-3cd6-51e0-f41c-395eb4514ac3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Sat, 16 May 2020 00:26:18 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7F92FC0571BD7\u0022",
        "Last-Modified": "Sat, 16 May 2020 00:26:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-05-16T00:26:18.1927895Z",
        "x-ms-file-creation-time": "2020-05-16T00:26:18.1927895Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-05-16T00:26:18.1927895Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-0476a135-34f5-b418-4962-a4bda0e1502e/test-directory-24c7a208-3bda-8095-5839-eca373c05dac/test-file-fffeb8cc-d10d-d701-bb5f-2c18707a3051",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Sat, 16 May 2020 00:26:18 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7F92FC0735B86\u0022",
        "Last-Modified": "Sat, 16 May 2020 00:26:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-05-16T00:26:18.3779206Z",
        "x-ms-file-creation-time": "2020-05-16T00:26:18.3779206Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-05-16T00:26:18.3779206Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-c8c2e8af-367d-c1ac-78df-efc66ae9d22e/test-directory-d7ac0a4a-4de5-96bd-93d0-e3ba6d82804c/test-\u0192\u00A1\u00A3\u20AC\u203D-a9c81b08-3cd6-51e0-f41c-395eb4514ac3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 16 May 2020 00:26:18 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "Y3Rr2NYDziLhtHyMlMlr47PT2uYqmkkL6LyP\u002BbBgfHlwT9T3bdOCOrsttVMbb3YoDBXC\u002BS8qwskqX\u002B8adNVygDgCG0T1dHbgUKAq/eX18HhFZ\u002BybnoJJRowKzQ3jaMbmujQbGFMyMpif4qmO/8XkNG531Azo1\u002BK1udW36qZo/OfaQ0Kw2tgkEzRU\u002B7zYukbHJZifbJS5/eNSZV5\u002BekfxN\u002BXCtLuDM1qWUsDYlNsl3P6O8MUOyI9TIUZeXnR5ppnsY8TWFgaKQ/E9CBrT4GkILIhg74mC4m5VbpN1JNXmHKsn6zEWT8b4A6zT0L91gEDdVjLrGLYQaYBWgKhzFR8cV\u002Bxuq/Q38dzCaOzcrxGu4O5Sl86i\u002BwP1F4KwwM4ehe6NtnnTBtRMpWRVKLDKM7puqJ\u0[...]
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-0476a135-34f5-b418-4962-a4bda0e1502e/test-directory-24c7a208-3bda-8095-5839-eca373c05dac/test-file-fffeb8cc-d10d-d701-bb5f-2c18707a3051",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://amandadev2.file.core.windows.net/test-share-c8c2e8af-367d-c1ac-78df-efc66ae9d22e/test-directory-d7ac0a4a-4de5-96bd-93d0-e3ba6d82804c/test-\u0192\u00A1\u00A3\u20AC\u203D-a9c81b08-3cd6-51e0-f41c-395eb4514ac3",
        "x-ms-date": "Sat, 16 May 2020 00:26:18 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7F92FC08BA2DD\u0022",
        "Last-Modified": "Sat, 16 May 2020 00:26:18 GMT",
        "x-ms-copy-id": "ad2a61ac-1aba-40eb-a684-4936631adb07",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-0476a135-34f5-b418-4962-a4bda0e1502e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 16 May 2020 00:26:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandadev2.file.core.windows.net/test-share-c8c2e8af-367d-c1ac-78df-efc66ae9d22e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 16 May 2020 00:26:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "819694172",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttp://amandadev2.blob.core.windows.net\nhttp://amandadev2.file.core.windows.net\nhttp://amandadev2.queue.core.windows.net\nhttp://amandadev2.table.core.windows.net\n\n\n\n\nhttp://amandadev2-secondary.blob.core.windows.net\nhttp://amandadev2-secondary.file.core.windows.net\nhttp://amandadev2-secondary.queue.core.windows.net\nhttp://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandadev2.blob.core.windows.net/;QueueEndpoint=http://amandadev2.queue.core.windows.net/;FileEndpoint=http://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=http://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\n"
  }
}