{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-686389b5-108f-d30d-a4cc-913bef31774f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Dec 2019 05:12:09 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7787883620793\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:12:09 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-686389b5-108f-d30d-a4cc-913bef31774f/test-directory-00c4c48e-e41b-3aa0-9be2-0379d7595b9c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Dec 2019 05:12:09 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77878836F634A\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:12:09 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-04T05:12:09.2738378Z",
        "x-ms-file-creation-time": "2019-12-04T05:12:09.2738378Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T05:12:09.2738378Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-686389b5-108f-d30d-a4cc-913bef31774f/test-directory-00c4c48e-e41b-3aa0-9be2-0379d7595b9c/test-file-e658117f-217c-4063-c5f7-50631eca6f54",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 04 Dec 2019 05:12:09 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77878837D448D\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:12:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-04T05:12:09.3648013Z",
        "x-ms-file-creation-time": "2019-12-04T05:12:09.3648013Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-04T05:12:09.3648013Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5c173ab2-4792-d8c6-b887-41f0c8b08034/test-directory-2038ba64-733a-fdbb-d468-cb380a761fac/test-file-c284555e-16de-693d-ffac-c5c023c549d5?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Dec 2019 05:12:09 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "77f3dbba-8ce4-3d03-7d26-8405e3931e55",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7787883A6778E\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:12:09 GMT",
        "x-ms-lease-id": "77f3dbba-8ce4-3d03-7d26-8405e3931e55",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-686389b5-108f-d30d-a4cc-913bef31774f/test-directory-00c4c48e-e41b-3aa0-9be2-0379d7595b9c/test-file-e658117f-217c-4063-c5f7-50631eca6f54?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Dec 2019 05:12:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "ZKlK2RbOe8\u002BAX9vb5/0bzIfqW1ijsJ\u002BE5\u002Bai0QkGj/lfJKF4ZsWD3BAf7VZ9Ib/BQBTMGUdQ3LQKxfIvLKnFes/he8JbombBZ35IhMJIB8Un4ZD1OXaxDkftbqDTU7BmWXOHm6X9ZZ2uCrLICFjxwb4sCEoZ0EBZMGx6bTTF7hPO4SpPwWsgKXvzRi/E6Abv/Kzhp0tlTYgyLWs5g/hp6Rye\u002BSYtof9TDN7PJYoRlUdminCH5EfIaZSiHJMA5qaCiV0TJe7fwVusjppslSf\u002BIZgk0viH4QTU1Y\u002BSi4RrUiU4TJwt/m9YhskV21WsXNRto/v73BSu\u002B6dYPlBeTTbWQDt1NEiK0CMoy0svcgavJ3m7JOeJcHYQiVH11b8f\u002BTmSPpoaNyeM4tPY0hDIf4mgqBfWoyhOTdDEZKr[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5c173ab2-4792-d8c6-b887-41f0c8b08034/test-directory-2038ba64-733a-fdbb-d468-cb380a761fac/test-file-c284555e-16de-693d-ffac-c5c023c549d5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.file.core.windows.net/test-share-686389b5-108f-d30d-a4cc-913bef31774f/test-directory-00c4c48e-e41b-3aa0-9be2-0379d7595b9c/test-file-e658117f-217c-4063-c5f7-50631eca6f54",
        "x-ms-date": "Wed, 04 Dec 2019 05:12:09 GMT",
        "x-ms-lease-id": "77f3dbba-8ce4-3d03-7d26-8405e3931e55",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7787883D5038C\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:12:09 GMT",
        "x-ms-copy-id": "dfd3179e-0038-4958-9803-f6ec4602195b",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5c173ab2-4792-d8c6-b887-41f0c8b08034?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Dec 2019 05:12:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-686389b5-108f-d30d-a4cc-913bef31774f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Dec 2019 05:12:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1640180916",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}