{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5e5310c8-5bc5-82b2-ee59-82d7208db5f3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 23:05:56 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E8EAE23BB5A\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 23:05:56 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5e5310c8-5bc5-82b2-ee59-82d7208db5f3/test-directory-9cdc88bc-d86c-6e61-b58d-04a5e2010aca?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 23:05:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E8EAE333237\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 23:05:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-11T23:05:56.9261111Z",
        "x-ms-file-creation-time": "2019-12-11T23:05:56.9261111Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-11T23:05:56.9261111Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5e5310c8-5bc5-82b2-ee59-82d7208db5f3/test-directory-9cdc88bc-d86c-6e61-b58d-04a5e2010aca/test-file-a00be796-3f50-743d-6b69-ecc0d082c7a2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 11 Dec 2019 23:05:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E8EAE40057E\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 23:05:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-11T23:05:57.0101630Z",
        "x-ms-file-creation-time": "2019-12-11T23:05:57.0101630Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-11T23:05:57.0101630Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5e5310c8-5bc5-82b2-ee59-82d7208db5f3/test-directory-9cdc88bc-d86c-6e61-b58d-04a5e2010aca/test-file-a00be796-3f50-743d-6b69-ecc0d082c7a2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 23:05:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "Bmc6K1rKjL2Q7n07uIzI9Qxq\u002BfHHSj5oc9rcH6xf1\u002Bxk3PkB\u002BdIJoP69f2prDXM394\u002BeWa\u002BJT7wp0rd/7WwRMBeQ1tuTxvs5YFjyCcrT/WZnpSccwH4924092CcbirKRrE5T2zaXozGTZfhWl0XxVtRQF0dF9HCYUvtOVu7UHtamYF17gCEvzwL2iVuF50NHS4JSynJqTLjeuok7SUxDv0YisDboddazIUdFTmsUE2q3BgtrgVRjOxOknMWY9Ia1s8kUYjcNXtWsn6gqJf5Nyqceg0JB1z3yvnQiQ9kQGi3Bj5uh/7Azqqg1v\u002BKrORYVV9IeenBDdNyLIqPC6hr8m4V7aJVjq8r26tmaCxdbR4VeDewH8p\u002B9fhu\u002BFd0MccCNOSNdMNCAsqwHJ5CXqGnEMNseY9wu9anlvup[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5e5310c8-5bc5-82b2-ee59-82d7208db5f3/test-directory-9cdc88bc-d86c-6e61-b58d-04a5e2010aca/test-file-a00be796-3f50-743d-6b69-ecc0d082c7a2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.file.core.windows.net/test-share-5e5310c8-5bc5-82b2-ee59-82d7208db5f3/test-directory-9cdc88bc-d86c-6e61-b58d-04a5e2010aca/test-file-a00be796-3f50-743d-6b69-ecc0d082c7a2",
        "x-ms-date": "Wed, 11 Dec 2019 23:05:57 GMT",
        "x-ms-file-copy-ignore-read-only": "true",
        "x-ms-file-copy-set-archive": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E8EAE8D8752\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 23:05:57 GMT",
        "x-ms-copy-id": "1269ee53-68a6-4e24-a9fa-2238bc745591",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-73fb150d-2eac-795f-6451-e93f52c7e498?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 23:05:57 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5e5310c8-5bc5-82b2-ee59-82d7208db5f3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 23:05:57 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "786852389",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}