{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-abed9209-8394-55a4-a47d-b11e18566db5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:23 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D779390D102DD8\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:10:23 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-abed9209-8394-55a4-a47d-b11e18566db5/test-directory-fd160164-f5bc-3a89-0897-56d0d7b3f025?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:23 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D779390D230E1B\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:10:23 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-05T04:10:23.6712475Z",
        "x-ms-file-creation-time": "2019-12-05T04:10:23.6712475Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:10:23.6712475Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-abed9209-8394-55a4-a47d-b11e18566db5/test-directory-fd160164-f5bc-3a89-0897-56d0d7b3f025/test-file-565e7dd4-be30-0e11-364a-3bd2c8220eb5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:23 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D779390D30C8E0\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:10:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-05T04:10:23.7612256Z",
        "x-ms-file-creation-time": "2019-12-05T04:10:23.7612256Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-05T04:10:23.7612256Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-abed9209-8394-55a4-a47d-b11e18566db5/test-directory-fd160164-f5bc-3a89-0897-56d0d7b3f025/test-file-565e7dd4-be30-0e11-364a-3bd2c8220eb5?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "aa\u002BQK4\u002BlAm1m8pkgd01QuoYc8EjPewpZJGDjnywX2SJdnOTa27\u002B2xfZxQKRZEr6Gxw/Gea/\u002BXe2kNwYvwWJATxl2wttpdd/GZitSXjtm/xGhXdgcUF9zXj72NaS5hwOUMPCL40/jHVEw/xOErP\u002ByPjj0jWSJJP65AmSdcj87Dd8nvi5K2hvCvj\u002BG7FFM77I\u002BQ/drxPmeCgzx0uDrRqoS9PE0XO7RZ2QcMs8kAzetbBOxXi9Iz0nlibMhWQg61niVdPdfGJPEbduST5EpeQfUQ2XNOud7yiWoTtI6rw5c4VxXj45ATVSA7fBTtX\u002B3vA\u002BsTRWibZyQGqnRtsrAib7NNm010up4k/UQTUz3JxWl8ZHDjWH5uXTAx3TlbpeKv2Myhn4SgeokNLkfkSBPmfKULMU4/Pxc03[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-abed9209-8394-55a4-a47d-b11e18566db5/test-directory-fd160164-f5bc-3a89-0897-56d0d7b3f025/test-file-565e7dd4-be30-0e11-364a-3bd2c8220eb5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.file.core.windows.net/test-share-abed9209-8394-55a4-a47d-b11e18566db5/test-directory-fd160164-f5bc-3a89-0897-56d0d7b3f025/test-file-565e7dd4-be30-0e11-364a-3bd2c8220eb5",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:24 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D779390D7B3D98\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:10:24 GMT",
        "x-ms-copy-id": "b3939981-83ca-4cad-abcc-39407272ee91",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-abed9209-8394-55a4-a47d-b11e18566db5/test-directory-fd160164-f5bc-3a89-0897-56d0d7b3f025/test-file-565e7dd4-be30-0e11-364a-3bd2c8220eb5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:24 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D779390D7B3D98\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:10:24 GMT",
        "x-ms-copy-completion-time": "Thu, 05 Dec 2019 04:10:24 GMT",
        "x-ms-copy-id": "b3939981-83ca-4cad-abcc-39407272ee91",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://seanstagetest.file.core.windows.net/test-share-abed9209-8394-55a4-a47d-b11e18566db5/test-directory-fd160164-f5bc-3a89-0897-56d0d7b3f025/test-file-565e7dd4-be30-0e11-364a-3bd2c8220eb5",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-05T04:10:24.2491800Z",
        "x-ms-file-creation-time": "2019-12-05T04:10:24.2491800Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-05T04:10:24.2491800Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-39005af4-096b-4751-c02c-d5aa72fbc7be?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-abed9209-8394-55a4-a47d-b11e18566db5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:10:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-04T20:10:24.3267580-08:00",
    "RandomSeed": "889172953",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}