{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-18b28eb6-859e-a4c5-7f9e-f19188828508?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D1486DC11\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-18b28eb6-859e-a4c5-7f9e-f19188828508/test-directory-06d896ed-993b-40ee-8b58-fd832feb9ba5?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:34 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D1491CA96\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:42:33.9783318Z",
        "x-ms-file-creation-time": "2021-01-21T20:42:33.9783318Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:42:33.9783318Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-18b28eb6-859e-a4c5-7f9e-f19188828508/test-directory-06d896ed-993b-40ee-8b58-fd832feb9ba5/test-file-b5470999-0b85-12f5-f5ae-f63aa5e679ec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:34 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D149CC917\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:42:34.0503831Z",
        "x-ms-file-creation-time": "2021-01-21T20:42:34.0503831Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:42:34.0503831Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-18b28eb6-859e-a4c5-7f9e-f19188828508/test-directory-06d896ed-993b-40ee-8b58-fd832feb9ba5/test-file-b5470999-0b85-12f5-f5ae-f63aa5e679ec?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "5S1IpVwlSP0hnEfOVonJljUbR55D0gfhAxljbXCeRDM\u002BneO56YswNT1H\u002BhesVykNJzFRMWkmkRMmZ6FDwdqNg1gUj7mlEKyp6hJh\u002B9fvNavvVkU\u002BTBLJGAvPkoLp7XNiuna\u002Bl8dwZxeEp0dXxJY7NjH2U2uVTjZGSneu1n4pwP2e/0BhMZ3jf\u002B4uuaXLclN0k1xQ85kIzGw/eExPwZGZWudKucVV2gWUEtR9Z5SRetgkOUIh2cxjljLUIbhQk71dlV69gbmOH7hWvOHEi2XXrf10K4hOd4Eb5iKSgbhNQ34XH9E10/kelRqKyxzqngrM/HS622g1Dx3dopqW\u002B54ACXhjrWuTodkEVpVtxKxkMEcYxYREkmgV4RC0WDFeh5l8icGkh/CfOVqatoXSx0txeHJTfjYZvHcQTcxa30mo[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-18b28eb6-859e-a4c5-7f9e-f19188828508/test-directory-06d896ed-993b-40ee-8b58-fd832feb9ba5/test-file-b5470999-0b85-12f5-f5ae-f63aa5e679ec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-share-18b28eb6-859e-a4c5-7f9e-f19188828508/test-directory-06d896ed-993b-40ee-8b58-fd832feb9ba5/test-file-b5470999-0b85-12f5-f5ae-f63aa5e679ec",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:34 GMT",
        "x-ms-file-attributes": "ReadOnly|Archive",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "x-ms-file-permission-copy-mode": "override",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D14F24B7F\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:34 GMT",
        "x-ms-copy-id": "b7f821c4-6d94-4b0e-a37e-c5653a6ff852",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-18b28eb6-859e-a4c5-7f9e-f19188828508/test-directory-06d896ed-993b-40ee-8b58-fd832feb9ba5/test-file-b5470999-0b85-12f5-f5ae-f63aa5e679ec",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4D14F24B7F\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:34 GMT",
        "x-ms-copy-completion-time": "Thu, 21 Jan 2021 20:42:34 GMT",
        "x-ms-copy-id": "b7f821c4-6d94-4b0e-a37e-c5653a6ff852",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-share-18b28eb6-859e-a4c5-7f9e-f19188828508/test-directory-06d896ed-993b-40ee-8b58-fd832feb9ba5/test-file-b5470999-0b85-12f5-f5ae-f63aa5e679ec",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2021-01-21T20:42:34.6107775Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9019159817152516874*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-d37b330d-bac5-7126-64a4-a92531c25864?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:35 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-18b28eb6-859e-a4c5-7f9e-f19188828508?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:35 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2122681621",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}