{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-bbd5991e-ff4e-1433-ac1a-52aa75aaeecd?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:26 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D778F282BFE215\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:26 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-bbd5991e-ff4e-1433-ac1a-52aa75aaeecd/test-directory-ab6a918f-c500-67a2-eb9f-f1500d8f0595?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D778F282CE935F\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-04T19:45:26.8209503Z",
        "x-ms-file-creation-time": "2019-12-04T19:45:26.8209503Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:45:26.8209503Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-bbd5991e-ff4e-1433-ac1a-52aa75aaeecd/test-directory-ab6a918f-c500-67a2-eb9f-f1500d8f0595/test-file-e5c3312f-14da-cfc1-4001-0cd69ef6777a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D778F282DCA045\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-04T19:45:26.9130309Z",
        "x-ms-file-creation-time": "2019-12-04T19:45:26.9130309Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-04T19:45:26.9130309Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-bbd5991e-ff4e-1433-ac1a-52aa75aaeecd/test-directory-ab6a918f-c500-67a2-eb9f-f1500d8f0595/test-file-e5c3312f-14da-cfc1-4001-0cd69ef6777a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "IBiV5App8/bMgpgmwk9qo2081i2S7xjTpUScdH/\u002BicqcaPnPnYA5UYU1DwRl54BNg18wjL6ZojH/wT7FzX92zfjNiVpWmwXtA4WoXd8Ubr3DTvAgzf0MA8XH0NxBc4MGvkEMl10m9uhZQ4k48UVR6lOBAX6PVv/6wYaUjsopq48CoZ6eCNZfnVcHxop00xGAduWJv3IFdmdBEdbXkmceMJf6Nk\u002Bms\u002BJ9IWQmh5B1hu50ExjkoOsd/Cs2XPf/iAvw6JbyepzB2cMDC54O3u/XzIrnYn5POY\u002Br3TokcFbrfZhYNp75ggxSszpV4ZRNDx47X5BsGCaNoK8GR51inWlsGI4GtadQ3Ul9la9E\u002BVj7Xs4b6BHGfmVyy5Xv8ztv8BXQ6ckFR1l264FG7oJ3SKdXC\u002BnPRrRYpZopk\u002BkSYOoO[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-bbd5991e-ff4e-1433-ac1a-52aa75aaeecd/test-directory-ab6a918f-c500-67a2-eb9f-f1500d8f0595/test-file-e5c3312f-14da-cfc1-4001-0cd69ef6777a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.file.core.windows.net/test-share-bbd5991e-ff4e-1433-ac1a-52aa75aaeecd/test-directory-ab6a918f-c500-67a2-eb9f-f1500d8f0595/test-file-e5c3312f-14da-cfc1-4001-0cd69ef6777a",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:27 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D778F2832ABEC6\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:27 GMT",
        "x-ms-copy-id": "85d81e69-b11e-466e-90b6-f06fbd5d747c",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-4043c8c8-b3bd-a7d8-493b-9eb5e4fe53cb?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-bbd5991e-ff4e-1433-ac1a-52aa75aaeecd?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1438633421",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}