{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-47ede76d-e7bc-4786-6c51-6dcf66603bb4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:46 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E9033A7CA\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:45:46 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-47ede76d-e7bc-4786-6c51-6dcf66603bb4/test-directory-452298d9-f609-fdcf-6941-96915ddbf940?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:46 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E9041A311\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:45:46 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-03-05T21:45:46.8045073Z",
        "x-ms-file-creation-time": "2020-03-05T21:45:46.8045073Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-03-05T21:45:46.8045073Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-47ede76d-e7bc-4786-6c51-6dcf66603bb4/test-directory-452298d9-f609-fdcf-6941-96915ddbf940/test-file-896f206b-8673-d806-b636-d4e3d5a7ef6b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:46 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E904FACB3\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:45:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-03-05T21:45:46.8965043Z",
        "x-ms-file-creation-time": "2020-03-05T21:45:46.8965043Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-03-05T21:45:46.8965043Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-47ede76d-e7bc-4786-6c51-6dcf66603bb4/test-directory-452298d9-f609-fdcf-6941-96915ddbf940/test-file-896f206b-8673-d806-b636-d4e3d5a7ef6b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "Rl92stVK9HzUliFLcVLXsT9gMBMp9Q28RdtjaVF/yEdVCDw9nriBZoomqD5pNJQhcjPtEmjsB1FRum365osqVc3a9mkVmhKH3smJAk3PUhFGQfcdkbbeaAHr6\u002BRKh3/\u002B\u002B1Nwjz0rC9chZjSfYwQDgWdbs6WTDcMX\u002B45oKq4uPFZJigb5X8PTGzUf/CqBPwT852p879Taau6PWJSvwuEp8irdVdn9CSKkiJhvdBGZlbuJa0JDsU2Cbx8YagYuJFhU9QkApOkr/91I2GY8a/bc9sLYJVef5UDdWua55J8bdWQ/G34HmPHRXmxk\u002B9nmRgQpO3REVv4BtRDJI0kDcRo\u002BLWIC/E931F3RBsfrOulm9hThkKgq1h9lPmZuPnWnzexRJs5340q0sWYXc083FnomYiw1IuBxE1ZDnL7pCZbnKTjam[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-47ede76d-e7bc-4786-6c51-6dcf66603bb4/test-directory-452298d9-f609-fdcf-6941-96915ddbf940/test-file-896f206b-8673-d806-b636-d4e3d5a7ef6b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.file.core.windows.net/test-share-47ede76d-e7bc-4786-6c51-6dcf66603bb4/test-directory-452298d9-f609-fdcf-6941-96915ddbf940/test-file-896f206b-8673-d806-b636-d4e3d5a7ef6b",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:47 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E90A01690\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:45:47 GMT",
        "x-ms-copy-id": "2b6b8079-fef0-4598-905c-cadfd76601ae",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-47ede76d-e7bc-4786-6c51-6dcf66603bb4/test-directory-452298d9-f609-fdcf-6941-96915ddbf940/test-file-896f206b-8673-d806-b636-d4e3d5a7ef6b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C14E90A01690\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:45:47 GMT",
        "x-ms-copy-completion-time": "Thu, 05 Mar 2020 21:45:47 GMT",
        "x-ms-copy-id": "2b6b8079-fef0-4598-905c-cadfd76601ae",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://seanstagetest.file.core.windows.net/test-share-47ede76d-e7bc-4786-6c51-6dcf66603bb4/test-directory-452298d9-f609-fdcf-6941-96915ddbf940/test-file-896f206b-8673-d806-b636-d4e3d5a7ef6b",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-03-05T21:45:47.4235024Z",
        "x-ms-file-creation-time": "2020-03-05T21:45:47.4235024Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-03-05T21:45:47.4235024Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-92be6573-8229-277f-e857-8a325868a865?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:47 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-47ede76d-e7bc-4786-6c51-6dcf66603bb4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:45:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T13:45:47.5575366-08:00",
    "RandomSeed": "1210778215",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}