{
  "Entries": [
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-cd8bcc14-2e6a-ccbb-dbcb-8f4c6be54c9b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807EBA61485\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:02:55 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-cd8bcc14-2e6a-ccbb-dbcb-8f4c6be54c9b/test-directory-476c5230-88cc-731a-dabc-feaac087610e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807EBB257B2\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:02:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-12-07T04:02:55.7050802Z",
        "x-ms-file-creation-time": "2022-12-07T04:02:55.7050802Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-12-07T04:02:55.7050802Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8650070825487796121*17630419429429764568",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-cd8bcc14-2e6a-ccbb-dbcb-8f4c6be54c9b/test-directory-476c5230-88cc-731a-dabc-feaac087610e/test-file-337534f2-4613-c6e5-d67c-ee74af4098ad.",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807EBBD2D27\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:02:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-12-07T04:02:55.7760807Z",
        "x-ms-file-creation-time": "2022-12-07T04:02:55.7760807Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-12-07T04:02:55.7760807Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1629230238038922942*17630419429429764568",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-cd8bcc14-2e6a-ccbb-dbcb-8f4c6be54c9b/test-directory-476c5230-88cc-731a-dabc-feaac087610e/test-file-337534f2-4613-c6e5-d67c-ee74af4098ad.?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02",
        "x-ms-write": "update"
      },
      "RequestBody": "YaiArsKXxWr0k7SLyTkDx7v5vMFICLuCFknMrMKJfjMBDwRKP9kcMyZdIxo3evUm14R8GKbyz1ns/ph5yhioahSAiro1uIjh3Ima6uShSptTptQ9DGWMDkCqXkFBomgNtbgFtu878R/8mjsdV\u002BV0S7P8JSRDal2u83t5ilpHoDogjTQrm5SrF7W1QHIqb7dbNRKNRH1EyUtbVsJ0wWbEtfoB/MqwSa8eUQ5ujSnrhITEHlRHuVu83MPp0EXSN1VP8Yt3KHLtquxjb/Nu1Tshb9I9r6MRffyfRB8Gx3hqTBm4H5yedFsR13Ro40pnTgeIx2FylIeyPXOO2ORS5uN0\u002BSLatraegvt3LNgvqZmyN/YYfv8W97iRBuEpD5t3vvCQ9OonjZdQ6UVm\u002B2ivg5TZ3KHtOmjjXQFpSLDUdXJf/23onrWviqlex5W6sPxQ[...]
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-dc802f80-bf9e-fe6d-9bf1-86cb07136c00/test-directory-4f147f79-03e8-53ad-aa8f-3842ccd03546/test-file-fea1a6ac-b3ab-ea23-51e6-8059cc564d3d.",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-copy-source": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-cd8bcc14-2e6a-ccbb-dbcb-8f4c6be54c9b/test-directory-476c5230-88cc-731a-dabc-feaac087610e/test-file-337534f2-4613-c6e5-d67c-ee74af4098ad.",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified resource does not exist.\n",
        "RequestId:781c0058-601a-0002-6df0-09e805000000\n",
        "Time:2022-12-07T04:02:56.1407270Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-dc802f80-bf9e-fe6d-9bf1-86cb07136c00?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-cd8bcc14-2e6a-ccbb-dbcb-8f4c6be54c9b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "411626742",
    "Storage_TestConfigDefault": "ProductionTenant\n2iqxscnapby3pev24a\nU2FuaXRpemVk\nhttps://2iqxscnapby3pev24a.blob.core.windows.net\nhttps://2iqxscnapby3pev24a.file.preprod.core.windows.net\nhttps://2iqxscnapby3pev24a.queue.core.windows.net\nhttps://2iqxscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://2iqxscnapby3pev24a-secondary.blob.core.windows.net\nhttps://2iqxscnapby3pev24a-secondary.file.core.windows.net\nhttps://2iqxscnapby3pev24a-secondary.queue.core.windows.net\nhttps://2iqxscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://2iqxscnapby3pev24a.blob.core.windows.net/;QueueEndpoint=https://2iqxscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://2iqxscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://2iqxscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://2iqxscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://2iqxscnapby3pev24a-secondary.file.core.windows.net/;AccountName=2iqxscnapby3pev24a;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
