{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-16dc4ddf-9ff2-5efe-bc63-4df5c10cda0c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:31:15 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D322CDC71B5\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:31:15 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-16dc4ddf-9ff2-5efe-bc63-4df5c10cda0c/test-directory-c9f6ab2e-b146-1e2f-e29d-acd43c534056?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:31:15 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D322CEA706A\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:31:15 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-10T05:31:15.1613034Z",
        "x-ms-file-creation-time": "2019-12-10T05:31:15.1613034Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-10T05:31:15.1613034Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-16dc4ddf-9ff2-5efe-bc63-4df5c10cda0c/test-directory-c9f6ab2e-b146-1e2f-e29d-acd43c534056/test-file-21f91a60-b805-5b77-27a4-9d85ff49cf7a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 10 Dec 2019 05:31:15 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D322CF87BA5\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:31:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-10T05:31:15.2533413Z",
        "x-ms-file-creation-time": "2019-12-10T05:31:15.2533413Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-10T05:31:15.2533413Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-16dc4ddf-9ff2-5efe-bc63-4df5c10cda0c/test-directory-c9f6ab2e-b146-1e2f-e29d-acd43c534056/test-file-21f91a60-b805-5b77-27a4-9d85ff49cf7a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:31:15 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "QObzTWFVJZXd57ZJmsWE51qGS9oCEU2yD/kAJvpjrvO4anRdm7y0byxd1UlZ\u002B\u002Bew9GhN0cn2jy\u002BZQT1nVP6aeTjDkS9RJkud0tutpTwEWBQSUDKRFdwqwdpExFl\u002BTRouwlsQlmm3Xs0csP/tSerzlekpVQTMCWRcmM9VDGLyH4XBf\u002BLg88GrWvFkdGXdPXjwUC5wVfcWYrn3tP2ZYlJqKpF6K8oHEqEnfvsSZ5T\u002BfltXZLszgsmNqxwp6T/DEfef\u002BkrUYhGu6T2NSdf8A/sl\u002BDWiQv6WN6jH7YCt3iliY2wDcm1JKhxKqXp9pjjxkKchA/AKIc/5CcKhDHWQAAsUK\u002BVr\u002BZCN284YWJmDGJBv1lzYi9o5V0GdCWmqqB2nuahvaXtThpYWkygh8ck2dfEyMjYYu[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-db4faaf9-8cc9-9399-3481-f3c4d71bad8f/test-directory-8f0fbb73-42a1-5ec9-9e92-6c9467e21117/test-file-bfefe8e0-96d2-c97a-7664-9c102bf6c37e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.file.core.windows.net/test-share-16dc4ddf-9ff2-5efe-bc63-4df5c10cda0c/test-directory-c9f6ab2e-b146-1e2f-e29d-acd43c534056/test-file-21f91a60-b805-5b77-27a4-9d85ff49cf7a",
        "x-ms-date": "Tue, 10 Dec 2019 05:31:15 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D322D469B6D\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:31:15 GMT",
        "x-ms-copy-id": "b3ef5220-68ca-4bfa-8321-2ab6a3031ec4",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-db4faaf9-8cc9-9399-3481-f3c4d71bad8f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:31:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-16dc4ddf-9ff2-5efe-bc63-4df5c10cda0c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:31:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2034598266",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}