{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d3ae9a2c-48f7-8265-18fa-426d302b23ea?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:55 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D779E2DC0F57FE\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:55 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d3ae9a2c-48f7-8265-18fa-426d302b23ea/test-directory-dc60bb6e-06ae-a54c-92c6-eb1141e0bf06?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:55 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D779E2DC1C79B9\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:25:55.8638009Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:55.8638009Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:25:55.8638009Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d3ae9a2c-48f7-8265-18fa-426d302b23ea/test-directory-dc60bb6e-06ae-a54c-92c6-eb1141e0bf06/test-file-930d1846-59d9-d54a-58d0-c1b803a63d9d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:55 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D779E2DC292111\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-06T00:25:55.9467281Z",
        "x-ms-file-creation-time": "2019-12-06T00:25:55.9467281Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-06T00:25:55.9467281Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d3ae9a2c-48f7-8265-18fa-426d302b23ea/test-directory-dc60bb6e-06ae-a54c-92c6-eb1141e0bf06/test-file-930d1846-59d9-d54a-58d0-c1b803a63d9d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "jvbgXxkYFtkgDRxDukTk9SuOiybl4PXQtgCOU1GGytkI5ctLGRRhOsFPBq1C0dWAbyxpz4qCta4AD6gYisOImkNCOtV5mdsXLVBkldpHjuQqDuMkHPpOhi8dSgprSLD9x2tqAJcAB9ZRUaI6HR/UuIDE7nzgZH1I87OlW0/QrOWgZs5u3Y1NKgYM0spYFGkQSZGJp1o0HWPuIg3jW6uHgaW9mrZRZdvzdsR105Gz795KlBK9RgSLa0lqf7uAas9bhVElm3myv\u002BO2ljCVvkrSOzIumMaZyTqgMi5t5uUgcgz0Gk0/jlRkl9UuB6/T9a3/mESIUtEIwrwXhGlLRdn9lSMkoKT8kq3dyQHwasGKzT2BbU2hlyA67FeRKArrGVH8MHGMrlQIAgaXq4jQGFf6jLYsyteLXP4D6rRMamqi8q\u002Bv8zlQ/h7oeGtHCeyXadMAl[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d3ae9a2c-48f7-8265-18fa-426d302b23ea/test-directory-dc60bb6e-06ae-a54c-92c6-eb1141e0bf06/test-file-930d1846-59d9-d54a-58d0-c1b803a63d9d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.file.core.windows.net/test-share-d3ae9a2c-48f7-8265-18fa-426d302b23ea/test-directory-dc60bb6e-06ae-a54c-92c6-eb1141e0bf06/test-file-930d1846-59d9-d54a-58d0-c1b803a63d9d",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:56 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D779E2DC74D342\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:25:56 GMT",
        "x-ms-copy-id": "c96b46c0-891b-4f80-ac60-6a8e2f568c59",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-2cf85958-ad8f-8eab-c322-79925bf132b5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d3ae9a2c-48f7-8265-18fa-426d302b23ea?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:25:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1541062866",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}