{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-20d7a3fc-47a5-ab4b-7f80-ea4f75812009?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C2315D81D1AD\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:15 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-20d7a3fc-47a5-ab4b-7f80-ea4f75812009/test-directory-527fac38-eddc-9608-4c1c-9ac051aa7a8e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:15 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C2315D8CDDAE\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:15 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-26T19:34:15.1624110Z",
        "x-ms-file-creation-time": "2021-01-26T19:34:15.1624110Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-26T19:34:15.1624110Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-20d7a3fc-47a5-ab4b-7f80-ea4f75812009/test-directory-527fac38-eddc-9608-4c1c-9ac051aa7a8e/test-\u0192\u00A1\u00A3\u20AC\u203D%253A-61db991f-9cff-c5bd-9d59-b5f8b3c308e0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C2315D98EDCF\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:34:15.2414671Z",
        "x-ms-file-creation-time": "2021-01-26T19:34:15.2414671Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:34:15.2414671Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-2ff22987-78fe-ba78-bfbb-070ed01e7299/test-directory-7144dfc8-17c4-77b5-c831-f83f1a1358bf/test-file-f331f815-9f09-4e3e-b453-13b3df4620ee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C2315DDF0467\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:34:15.7007975Z",
        "x-ms-file-creation-time": "2021-01-26T19:34:15.7007975Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:34:15.7007975Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-20d7a3fc-47a5-ab4b-7f80-ea4f75812009/test-directory-527fac38-eddc-9608-4c1c-9ac051aa7a8e/test-\u0192\u00A1\u00A3\u20AC\u203D%253A-61db991f-9cff-c5bd-9d59-b5f8b3c308e0?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:16 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-write": "update"
      },
      "RequestBody": "r0HeHGutfT/00kP1ZTcDxk7pI5zswEV\u002BsPLIKQicfRsBDlYJD\u002Bi94sUZatWcKXHSSgcY\u002BHF1Pe77X2t55VM3V1Un9Fbg\u002BrZmLEHW01Vw4oaB9d8Ag4Wpi9BnDbB9RP1x4ROAdDUa8U9RssswnmqZi3zk\u002BO90NtTPfmiFeO0F6ehEZfFC725RZgSPr9C5eexmzoIzmEwN/Ko\u002BsPXMlXhiS8nj7Dl4VpsOk5Hr5YcDFgV8H6pr0lCcNmhHBD54hNGLLGMH1Yyy7XjmJQW6IhcjO5nwUHXO93h4R7XRMVFdlQ7AX7kj/EF4yTExhK1L4RRQJMikhzRbvDTqjo3X4bwmiI/3\u002BcJd/z9YeIdEnXPLLWahgA2JuA3ZZaKFOW2zoeh1CvwdVOdS8iWJTA\u002BsFh/BHmAnNWCvndCBHZQ[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-2ff22987-78fe-ba78-bfbb-070ed01e7299/test-directory-7144dfc8-17c4-77b5-c831-f83f1a1358bf/test-file-f331f815-9f09-4e3e-b453-13b3df4620ee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-share-20d7a3fc-47a5-ab4b-7f80-ea4f75812009/test-directory-527fac38-eddc-9608-4c1c-9ac051aa7a8e/test-\u0192\u00A1\u00A3\u20AC\u203D%253A-61db991f-9cff-c5bd-9d59-b5f8b3c308e0",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C2315DF6FD99\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:15 GMT",
        "x-ms-copy-id": "154beade-f575-4ff6-899b-3e9994305398",
        "x-ms-copy-status": "success"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-2ff22987-78fe-ba78-bfbb-070ed01e7299?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:16 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-20d7a3fc-47a5-ab4b-7f80-ea4f75812009?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:16 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "341066987",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}