{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-4a1b489e-95a9-b0ea-c47c-9a4f07942f0e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230E958436A\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:00 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-4a1b489e-95a9-b0ea-c47c-9a4f07942f0e/test-directory-b0a787f6-0c42-baa4-0649-5d55964d8d02?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230E9628B9E\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-26T19:31:00.2693534Z",
        "x-ms-file-creation-time": "2021-01-26T19:31:00.2693534Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-26T19:31:00.2693534Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-4a1b489e-95a9-b0ea-c47c-9a4f07942f0e/test-directory-b0a787f6-0c42-baa4-0649-5d55964d8d02/test-file-99c25374-2f01-21b0-4c3b-16b6ed682b1f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230E96C0337\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:31:00.3313975Z",
        "x-ms-file-creation-time": "2021-01-26T19:31:00.3313975Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:31:00.3313975Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-07fe34ea-15d1-822e-6b5c-feb9be02a19b/test-directory-334fb3e3-6bdb-f9ef-3897-f3c0e20cdf61/test-file-9cb36e65-ee68-8d98-cb66-a4e3e193d903?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:01 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "e7c30ff0-eb1f-753f-c7b5-acb1012549fd"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230E9A76967\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:00 GMT",
        "x-ms-lease-id": "e7c30ff0-eb1f-753f-c7b5-acb1012549fd"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-4a1b489e-95a9-b0ea-c47c-9a4f07942f0e/test-directory-b0a787f6-0c42-baa4-0649-5d55964d8d02/test-file-99c25374-2f01-21b0-4c3b-16b6ed682b1f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:01 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-write": "update"
      },
      "RequestBody": "ZyYjwFmFv8iODt38KSKocyhy5HKjFfLg3cImHT\u002B0vvrOI7WlMMvhRs\u002B6pvxy13Ab2HWkgyri\u002B1I0Q\u002BOWX6KJ2VDjLQVtAkNdkZ2j6G/2bgVRCkTJEDrP6yhice3oSuYsMcyrj6lrrtUxR/KMPhLiPtTdRVVdv8kWE0HdCpFWdEe3d7ejSt9b5ltul8hIQqwWgDMYCwSRznEClXtojaRE29Kr1cdaP/P1gV/57ycBzdGUx4pdPmhCJahGoLVk81i3Krz2nWzlu0A/Iomll99JAcep08Ya5pxpaLAfFJ4\u002BkY0HQsRqCjBkrwtJHRvfnY3I/J/tuiCRnEMgjDS8xaahAZH7nlUb3vaWRSO70MiBisoiVxj/UNdtdaWBSn78qOplpxyJ4/84rR2pVnT91st6ngFpmW6OorC6jiivmZN3mpw5VSms96[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-07fe34ea-15d1-822e-6b5c-feb9be02a19b/test-directory-334fb3e3-6bdb-f9ef-3897-f3c0e20cdf61/test-file-9cb36e65-ee68-8d98-cb66-a4e3e193d903",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-share-4a1b489e-95a9-b0ea-c47c-9a4f07942f0e/test-directory-b0a787f6-0c42-baa4-0649-5d55964d8d02/test-file-99c25374-2f01-21b0-4c3b-16b6ed682b1f",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:01 GMT",
        "x-ms-lease-id": "e7c30ff0-eb1f-753f-c7b5-acb1012549fd"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230EAE68C59\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:02 GMT",
        "x-ms-copy-id": "193fe682-af6e-4a9a-abfa-88403cb19628",
        "x-ms-copy-status": "success"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-07fe34ea-15d1-822e-6b5c-feb9be02a19b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:03 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-4a1b489e-95a9-b0ea-c47c-9a4f07942f0e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:03 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1560513667",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}