{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-94ac016f-b8c8-a263-6213-4e49afd99045?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:41 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D779393B6E9AE7\"",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:41 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-94ac016f-b8c8-a263-6213-4e49afd99045/test-directory-14795466-42a5-8330-525d-b1a4e5132daa?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:41 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D779393B7C2E74\"",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:41 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-05T04:11:41.4305396Z",
        "x-ms-file-creation-time": "2019-12-05T04:11:41.4305396Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:11:41.4305396Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-94ac016f-b8c8-a263-6213-4e49afd99045/test-directory-14795466-42a5-8330-525d-b1a4e5132daa/test-file-28dea375-9b6b-0f3f-d64d-e3d9c6fce690",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:41 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D779393B899C1C\"",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-05T04:11:41.5185436Z",
        "x-ms-file-creation-time": "2019-12-05T04:11:41.5185436Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-05T04:11:41.5185436Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-94ac016f-b8c8-a263-6213-4e49afd99045/test-directory-14795466-42a5-8330-525d-b1a4e5132daa/test-file-28dea375-9b6b-0f3f-d64d-e3d9c6fce690?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:41 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "nkxzl5lcIUoGRgiLPoGTz2OuHUwb+Qx2i4s/rIZHjtnaLMPQFgOZTzboGs2zehgZ1BFX8f/8jqU//AwOHXXDvrcusBK+w7lfFM4WMt4/whByJth18J3Z3p0ekBr2izHAJFsWhMkGWxFY99wx5lvGADn7m/edTs4ZVdJ0nzKfaYmcVQ6DKD5HbMrGHPjBp/dCV5Dg+u86ItWM/C/2kbvfuY5SlZBNQ9f7tC4s1jLVWK3aMkihvm6ZYTI49iwPUNoP52JqbxJn9BS55EbBDUyjtqOBG19yPfofuDNdFEyq7GNUHe7Pa+mbcz0059on2FTmlT+IjjV7nKpnSrbfCd/HDvjjbfBd00u65aghPlYg+N/fd38MIV4u2IBEaCEyvGldbdjhRGtjicH0zqiMWV5TRlLWAJJfuu2atZRvGGsqhyk+w9B9P7N0e+2+GFO1oX8i8CHOXLvX/bLrR4/X83FVykd+TZWN1gefYoSloaKa5BMUTSdKWyttZ8UekfcjnId8aE0LN1PplBoZL/k3MVwQUWN8wqVJC24bEObPb0UPe8X8KThUjqy/K7kNMCwxNjVpDT+Tp9niMl3e8CZtGSTUCbMzOggku8O2vJfrPNtC6tqwZmIFfNTsGvbbdZ6GUhGUOCZ4/vstRFF83OtC9vaBnAZLvbLCz43fRyASSEYlMGmGVwO1yuvegyEQiZ/oqiQAWdmYOpRe0mmYmLbbGvsLV6yBu5/yzNEabTqQskXu9538Ee9sjfXUJ4WZHDI1AmgmBDHyZ+6EDowIfc1azR8jqaEZ3wkMn8q2rJMaWLCf5GrSaq0T+4+vdwNjYw8oellldXKQHCNeGWVnPLpaarXcaJljiGNyEK0RaWgGqTu7jjI6tOM9DshHc1BIrL/UVAxNhvt2xfH282XFf7K6WHAprK6IILXSn1rQGxUSKWPtPBVcuCJARMhAQ8F9eI8WjBvgHv8RTDRWe+ehpanc5MkB10KdXZ9N6WflR9z0VCfKuo75MQpk3PDgBjw7n58eZF73e6BMeC57kjWXLARXYSe/1usa4rK/nftSvFdjEknIxuN+/NiGfUFffp/UzbDriaQVe8izA4GsON6l+rvXGIDrzmUh2WVOOVipumQT6s9LZjOzTpaBFMNh0sT54IOFiGYe6f5Kyq8/xkJwCUgdmE4PWpSHI8rparqivwehVVjVIzL+9AHRAJuEdIdUEQp6RDl26obv/mWbNX5EqAuonXHpmuYWHqNMPVr4A65ClVmvKHrNK2rS5iXMYr+CjViQ3NYVanYkYyaWKa0r9/q2WaAllYCQ2nIGF7TASrzjya8CZyfYLCriisVUNwG9pu8rFgkfXfjXAAFjD1PCZBhps1/9KQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "26x0Ys0u9hELxWVYBrjNvw==",
        "ETag": "\"0x8D779393BBE1996\"",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-94ac016f-b8c8-a263-6213-4e49afd99045?restype=share&comp=filepermission",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:41 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-94ac016f-b8c8-a263-6213-4e49afd99045/test-directory-14795466-42a5-8330-525d-b1a4e5132daa/test-file-28dea375-9b6b-0f3f-d64d-e3d9c6fce690",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.file.core.windows.net/test-share-94ac016f-b8c8-a263-6213-4e49afd99045/test-directory-14795466-42a5-8330-525d-b1a4e5132daa/test-file-28dea375-9b6b-0f3f-d64d-e3d9c6fce690",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:42 GMT",
        "x-ms-file-attributes": "ReadOnly|Archive",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.06Z",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.06Z",
        "x-ms-file-permission-copy-mode": "override",
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8D779393BE1CE50\"",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:42 GMT",
        "x-ms-copy-id": "30303485-0821-4a55-8c5d-d9febee6a132",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-94ac016f-b8c8-a263-6213-4e49afd99045/test-directory-14795466-42a5-8330-525d-b1a4e5132daa/test-file-28dea375-9b6b-0f3f-d64d-e3d9c6fce690",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:42 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D779393BE1CE50\"",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:42 GMT",
        "x-ms-copy-completion-time": "Thu, 05 Dec 2019 04:11:42 GMT",
        "x-ms-copy-id": "30303485-0821-4a55-8c5d-d9febee6a132",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://seanstagetest.file.core.windows.net/test-share-94ac016f-b8c8-a263-6213-4e49afd99045/test-directory-14795466-42a5-8330-525d-b1a4e5132daa/test-file-28dea375-9b6b-0f3f-d64d-e3d9c6fce690",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2019-12-05T04:11:42.0965456Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.06Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.06Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "16713728419002454479*422928105932735866",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-b283572f-d59c-6779-36c0-722dfb15a1c1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:42 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-94ac016f-b8c8-a263-6213-4e49afd99045?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:42 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "403806116",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\n\n"
  }
}