{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-fbd1f53c-92f0-edd4-8c84-34af0873f36f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Feb 2022 16:30:59 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F2FC0C8E1BF7\u0022",
        "Last-Modified": "Fri, 18 Feb 2022 16:31:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-fbd1f53c-92f0-edd4-8c84-34af0873f36f/test-directory-1468288c-3801-f88d-efd7-e3358a1f4dd4?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Feb 2022 16:31:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F2FC0C9C5A23\u0022",
        "Last-Modified": "Fri, 18 Feb 2022 16:31:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-02-18T16:31:00.6889507Z",
        "x-ms-file-creation-time": "2022-02-18T16:31:00.6889507Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-02-18T16:31:00.6889507Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-fbd1f53c-92f0-edd4-8c84-34af0873f36f/test-directory-1468288c-3801-f88d-efd7-e3358a1f4dd4/test-file-f6b57a07-bc50-d9c3-8f9f-12f5601c032f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 18 Feb 2022 16:31:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F2FC0CA92986\u0022",
        "Last-Modified": "Fri, 18 Feb 2022 16:31:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-02-18T16:31:00.7729030Z",
        "x-ms-file-creation-time": "2022-02-18T16:31:00.7729030Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-02-18T16:31:00.7729030Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c7f62263-c25b-3049-f503-bf15e61578f5/test-directory-809ef2d5-f401-db02-fdc7-7016d6a04121/test-file-89ea64f6-ec70-9b8a-a052-a0277787d9e0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanmcccanary3.file.core.windows.net/test-share-fbd1f53c-92f0-edd4-8c84-34af0873f36f/test-directory-1468288c-3801-f88d-efd7-e3358a1f4dd4/test-file-f6b57a07-bc50-d9c3-8f9f-12f5601c032f",
        "x-ms-date": "Fri, 18 Feb 2022 16:31:00 GMT",
        "x-ms-file-attributes": "Source",
        "x-ms-file-creation-time": "Source",
        "x-ms-file-last-write-time": "Source",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F2FC0CFBD142\u0022",
        "Last-Modified": "Fri, 18 Feb 2022 16:31:01 GMT",
        "x-ms-copy-id": "82bce418-f9c1-4d7a-8a9b-08bfd413a1c6",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-fbd1f53c-92f0-edd4-8c84-34af0873f36f/test-directory-1468288c-3801-f88d-efd7-e3358a1f4dd4/test-file-f6b57a07-bc50-d9c3-8f9f-12f5601c032f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Feb 2022 16:31:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F2FC0CA92986\u0022",
        "Last-Modified": "Fri, 18 Feb 2022 16:31:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-02-18T16:31:00.7729030Z",
        "x-ms-file-creation-time": "2022-02-18T16:31:00.7729030Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-02-18T16:31:00.7729030Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c7f62263-c25b-3049-f503-bf15e61578f5/test-directory-809ef2d5-f401-db02-fdc7-7016d6a04121/test-file-89ea64f6-ec70-9b8a-a052-a0277787d9e0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Feb 2022 16:31:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F2FC0CFBD142\u0022",
        "Last-Modified": "Fri, 18 Feb 2022 16:31:01 GMT",
        "x-ms-copy-completion-time": "Fri, 18 Feb 2022 16:31:01 GMT",
        "x-ms-copy-id": "82bce418-f9c1-4d7a-8a9b-08bfd413a1c6",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-share-fbd1f53c-92f0-edd4-8c84-34af0873f36f/test-directory-1468288c-3801-f88d-efd7-e3358a1f4dd4/test-file-f6b57a07-bc50-d9c3-8f9f-12f5601c032f",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-02-18T16:31:01.3145922Z",
        "x-ms-file-creation-time": "2022-02-18T16:31:00.7729030Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-02-18T16:31:00.7729030Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c7f62263-c25b-3049-f503-bf15e61578f5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Feb 2022 16:31:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-fbd1f53c-92f0-edd4-8c84-34af0873f36f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Feb 2022 16:31:01 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2030140146",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}