{
  "Entries": [
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-e8771b44-91cd-e1ff-2c0b-1d75642c43d3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 16:20:47 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F1684AA4A686\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 16:20:48 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-e8771b44-91cd-e1ff-2c0b-1d75642c43d3/test-directory-74dc8197-7156-57c6-0624-c1a04a395df9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 16:20:47 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F1684AAC9E39\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 16:20:48 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-02-16T16:20:48.1355321Z",
        "x-ms-file-creation-time": "2022-02-16T16:20:48.1355321Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-02-16T16:20:48.1355321Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5337567907660077720*2506815767522118929",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-e8771b44-91cd-e1ff-2c0b-1d75642c43d3/test-directory-74dc8197-7156-57c6-0624-c1a04a395df9/test-file-d0daf0f6-9360-8b17-7156-37213e59545a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 16 Feb 2022 16:20:47 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F1684AC79C57\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 16:20:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-02-16T16:20:48.3124311Z",
        "x-ms-file-creation-time": "2022-02-16T16:20:48.3124311Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-02-16T16:20:48.3124311Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9973529139831694751*2506815767522118929",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-b69fd66d-3b07-9aba-4c54-dbc686c7af01?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 16:20:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-e8771b44-91cd-e1ff-2c0b-1d75642c43d3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 16:20:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-02-16T10:20:48.0671003-06:00",
    "RandomSeed": "1760822202",
    "Storage_TestConfigDefault": "ProductionTenant\nseandevtest\nU2FuaXRpemVk\nhttps://seandevtest.blob.core.windows.net\nhttps://seandevtest.file.core.windows.net\nhttps://seandevtest.queue.core.windows.net\nhttps://seandevtest.table.core.windows.net\n\n\n\n\nhttps://seandevtest-secondary.blob.core.windows.net\nhttps://seandevtest-secondary.file.core.windows.net\nhttps://seandevtest-secondary.queue.core.windows.net\nhttps://seandevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seandevtest.blob.core.windows.net/;QueueEndpoint=https://seandevtest.queue.core.windows.net/;FileEndpoint=https://seandevtest.file.core.windows.net/;BlobSecondaryEndpoint=https://seandevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seandevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seandevtest-secondary.file.core.windows.net/;AccountName=seandevtest;AccountKey=Kg==;\nseanscope1\n\n"
  }
}