{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8fa34d4f-3eb7-889e-90f8-42af3911c301?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:51 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D326688D209\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:51 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8fa34d4f-3eb7-889e-90f8-42af3911c301/test-directory-7c20f845-fc0c-bdf8-d05b-6e8f4761912c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D326696443F\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-10T05:32:51.9175231Z",
        "x-ms-file-creation-time": "2019-12-10T05:32:51.9175231Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-10T05:32:51.9175231Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8fa34d4f-3eb7-889e-90f8-42af3911c301/test-directory-7c20f845-fc0c-bdf8-d05b-6e8f4761912c/test-file-ce2b4bca-a33e-a0fc-0b4a-27ba122ea3d1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:52 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D3266A38A04\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-10T05:32:52.0045060Z",
        "x-ms-file-creation-time": "2019-12-10T05:32:52.0045060Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-10T05:32:52.0045060Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8fa34d4f-3eb7-889e-90f8-42af3911c301/test-directory-7c20f845-fc0c-bdf8-d05b-6e8f4761912c/test-file-ce2b4bca-a33e-a0fc-0b4a-27ba122ea3d1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:52 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "SAx6X6nx4iZSbkdE3AOSvboGIZbZ6g5wCBW4QB/YfyAuCcwDYeK0zroNGdNyOmCnyy8U90a4oV7\u002BClaUOKEGeu4nFdI2jlvXUlLcy9A6/s61EXXww4fZdWhuBVeMIJUYBp7lSySNcT3TPaXz3NWNxAuH3ycsFbZmTZ9px4gDSzG9w8QxVLKqJ6A4HYbi5pmT4EFMBEFu7PHofv2EI6m0z/FzNhgQW29Z3beH9PgwhGcG1udHt0fwTtfTSdW1JQP2g02Vbq\u002BAgoTS8iaJ5vf4uPqWfk3BbReqg\u002BdBPBGZo7izkHGrmha3hVNidMQgZmfg25HbHqe2NRY16\u002BrHP0VzOE9u1VaGTR3j3vn5X/hSiRx/YWGAvYUR/Vtada8r70UN7zx1spERWY1090CuvNUd4mHNSN7k8nrKXdf6K9dtt\u002B6z7HC83d[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c8dd7c90-b5f8-36b0-6205-0fd5051048d7/test-directory-be241a0f-52f4-bc73-7eb2-c6ef259f9472/test-file-cfecfa33-60c1-a218-9afc-65e1330c5650",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.file.core.windows.net/test-share-8fa34d4f-3eb7-889e-90f8-42af3911c301/test-directory-7c20f845-fc0c-bdf8-d05b-6e8f4761912c/test-file-ce2b4bca-a33e-a0fc-0b4a-27ba122ea3d1",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:52 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D3266F10F00\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:52 GMT",
        "x-ms-copy-id": "8262eac3-5e15-406c-b833-36f578d7145b",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c8dd7c90-b5f8-36b0-6205-0fd5051048d7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8fa34d4f-3eb7-889e-90f8-42af3911c301?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1233587702",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}