{
  "Entries": [
    {
      "RequestUri": "https://rttxscnapby3pev24a.file.preprod.core.windows.net/test-share-b0f741dd-a879-8f0b-d29e-6cb97c6727f1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Mar 2022 14:47:06 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA082502DEA371\u0022",
        "Last-Modified": "Thu, 17 Mar 2022 14:47:08 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rttxscnapby3pev24a.file.preprod.core.windows.net/test-share-b0f741dd-a879-8f0b-d29e-6cb97c6727f1/test-directory-4ffed450-7f29-be7d-299b-b415841c7adb?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Mar 2022 14:47:07 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA08250301CC75\u0022",
        "Last-Modified": "Thu, 17 Mar 2022 14:47:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-03-17T14:47:08.3608181Z",
        "x-ms-file-creation-time": "2022-03-17T14:47:08.3608181Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-03-17T14:47:08.3608181Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6894505412902873309*15208331304940637852",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rttxscnapby3pev24a.file.preprod.core.windows.net/test-share-b0f741dd-a879-8f0b-d29e-6cb97c6727f1/test-directory-4ffed450-7f29-be7d-299b-b415841c7adb/test-file-c4c05b34-7ba8-9bf4-830a-b12d04d8d6d5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 17 Mar 2022 14:47:07 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA08250311F944\u0022",
        "Last-Modified": "Thu, 17 Mar 2022 14:47:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-03-17T14:47:08.4668228Z",
        "x-ms-file-creation-time": "2022-03-17T14:47:08.4668228Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-03-17T14:47:08.4668228Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "3546934308278925818*15208331304940637852",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://rttxscnapby3pev24a.file.preprod.core.windows.net/test-share-fedb7310-b6bc-fa86-7807-bfca3a182f35/test-directory-fcee87d2-19f1-c61d-2f61-32bc190b7c84/test-file-41a38ff9-13c0-9b12-c3fa-b7687a2a8e76",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://rttxscnapby3pev24a.file.preprod.core.windows.net/test-share-b0f741dd-a879-8f0b-d29e-6cb97c6727f1/test-directory-4ffed450-7f29-be7d-299b-b415841c7adb/test-file-c4c05b34-7ba8-9bf4-830a-b12d04d8d6d5",
        "x-ms-date": "Thu, 17 Mar 2022 14:47:07 GMT",
        "x-ms-file-attributes": "Source",
        "x-ms-file-change-time": "Source",
        "x-ms-file-creation-time": "Source",
        "x-ms-file-last-write-time": "Source",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA082503665B80\u0022",
        "Last-Modified": "Thu, 17 Mar 2022 14:47:09 GMT",
        "x-ms-copy-id": "628ad9fd-c905-473b-aef9-83268999bf0a",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rttxscnapby3pev24a.file.preprod.core.windows.net/test-share-b0f741dd-a879-8f0b-d29e-6cb97c6727f1/test-directory-4ffed450-7f29-be7d-299b-b415841c7adb/test-file-c4c05b34-7ba8-9bf4-830a-b12d04d8d6d5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Mar 2022 14:47:08 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA08250311F944\u0022",
        "Last-Modified": "Thu, 17 Mar 2022 14:47:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-03-17T14:47:08.4668228Z",
        "x-ms-file-creation-time": "2022-03-17T14:47:08.4668228Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-03-17T14:47:08.4668228Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "3546934308278925818*15208331304940637852",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rttxscnapby3pev24a.file.preprod.core.windows.net/test-share-fedb7310-b6bc-fa86-7807-bfca3a182f35/test-directory-fcee87d2-19f1-c61d-2f61-32bc190b7c84/test-file-41a38ff9-13c0-9b12-c3fa-b7687a2a8e76",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Mar 2022 14:47:08 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA082503665B80\u0022",
        "Last-Modified": "Thu, 17 Mar 2022 14:47:09 GMT",
        "x-ms-copy-completion-time": "Thu, 17 Mar 2022 14:47:09 GMT",
        "x-ms-copy-id": "628ad9fd-c905-473b-aef9-83268999bf0a",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://rttxscnapby3pev24a.file.preprod.core.windows.net/test-share-b0f741dd-a879-8f0b-d29e-6cb97c6727f1/test-directory-4ffed450-7f29-be7d-299b-b415841c7adb/test-file-c4c05b34-7ba8-9bf4-830a-b12d04d8d6d5",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-03-17T14:47:08.4668228Z",
        "x-ms-file-creation-time": "2022-03-17T14:47:08.4668228Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-03-17T14:47:08.4668228Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "3546934308278925818*15208331304940637852",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rttxscnapby3pev24a.file.preprod.core.windows.net/test-share-fedb7310-b6bc-fa86-7807-bfca3a182f35?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Mar 2022 14:47:08 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rttxscnapby3pev24a.file.preprod.core.windows.net/test-share-b0f741dd-a879-8f0b-d29e-6cb97c6727f1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Mar 2022 14:47:08 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "209907636",
    "Storage_TestConfigDefault": "ProductionTenant\nrttxscnapby3pev24a\nU2FuaXRpemVk\nhttps://rttxscnapby3pev24a.blob.preprod.core.windows.net\nhttps://rttxscnapby3pev24a.file.preprod.core.windows.net\nhttps://rttxscnapby3pev24a.queue.core.windows.net\nhttps://rttxscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://rttxscnapby3pev24a-secondary.blob.core.windows.net\nhttps://rttxscnapby3pev24a-secondary.file.core.windows.net\nhttps://rttxscnapby3pev24a-secondary.queue.core.windows.net\nhttps://rttxscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://rttxscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://rttxscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://rttxscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://rttxscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://rttxscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://rttxscnapby3pev24a-secondary.file.core.windows.net/;AccountName=rttxscnapby3pev24a;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
