{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d82915d8-cf6e-3326-476b-190c6823d229?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Dec 2019 19:46:45 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D778F2B1A425EC\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:46:45 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d82915d8-cf6e-3326-476b-190c6823d229/test-directory-44bf5707-389a-a921-4bda-357dd3412b40?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Dec 2019 19:46:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D778F2B1B27F10\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:46:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-04T19:46:45.4898448Z",
        "x-ms-file-creation-time": "2019-12-04T19:46:45.4898448Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:46:45.4898448Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d82915d8-cf6e-3326-476b-190c6823d229/test-directory-44bf5707-389a-a921-4bda-357dd3412b40/test-file-a643f9d4-6786-77ce-38d6-5aaf9cdeb5a4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 04 Dec 2019 19:46:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D778F2B1C013A3\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:46:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-04T19:46:45.5788451Z",
        "x-ms-file-creation-time": "2019-12-04T19:46:45.5788451Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-04T19:46:45.5788451Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d82915d8-cf6e-3326-476b-190c6823d229/test-directory-44bf5707-389a-a921-4bda-357dd3412b40/test-file-a643f9d4-6786-77ce-38d6-5aaf9cdeb5a4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Dec 2019 19:46:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "8avNtmqv/zMkYOaYY0yO/aDEmMxsW7x365TXLnG8Wd8Wg4m28R920/ttF22K6B7R\u002BBkBO2d9F5XuVcvV2NDCZwYGgt/C2AuBTsXR/kRP7AJ1BTZYuh54mGz0x5tToPoqq69mg2Y\u002BDyANgOyhrBhRn2jJYNOZaqzojulzzhBwLa7LplOV6GmcNvYWSzky1uxToygyij8nkEACfvR9y0APnFM91gXFu7b/LSncgx9ztrf8HyvoPqJvpBYSkmp0Hmu1Bq7m9ADnjudxM10WSg0hj8c9gKsVJ16wzjHusilLig6\u002BJ31wjMG3FZFDdgpFWFkI8QOiN56/n95QNibO\u002BNy\u002BJahPVyOPsAIGhmoa0rBTanXY5sAlqFNv/oeeIFaa6B21hVBi9QA1eUEAnLE0pc0t/Muw9hIbmHxV4Fmc8Y\u002Bsa51NZ[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d82915d8-cf6e-3326-476b-190c6823d229/test-directory-44bf5707-389a-a921-4bda-357dd3412b40/test-file-a643f9d4-6786-77ce-38d6-5aaf9cdeb5a4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.file.core.windows.net/test-share-d82915d8-cf6e-3326-476b-190c6823d229/test-directory-44bf5707-389a-a921-4bda-357dd3412b40/test-file-a643f9d4-6786-77ce-38d6-5aaf9cdeb5a4",
        "x-ms-date": "Wed, 04 Dec 2019 19:46:45 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D778F2B20D229D\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:46:46 GMT",
        "x-ms-copy-id": "5c60cc93-6457-438f-ae38-e59ac70945b0",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-cb195210-88f1-5a2b-ffaa-5bf992e0de49?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Dec 2019 19:46:46 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d82915d8-cf6e-3326-476b-190c6823d229?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Dec 2019 19:46:46 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "205420633",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}