{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d1b64e75-aa55-d844-e5a5-57dd89230d19?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 20:39:56 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E7A48AFF426\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 20:39:56 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d1b64e75-aa55-d844-e5a5-57dd89230d19/test-directory-fc2118d6-b3bb-032c-34e9-aff417a2e43c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 20:39:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E7A48BDEBA8\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 20:39:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-11T20:39:56.7730600Z",
        "x-ms-file-creation-time": "2019-12-11T20:39:56.7730600Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-11T20:39:56.7730600Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d1b64e75-aa55-d844-e5a5-57dd89230d19/test-directory-fc2118d6-b3bb-032c-34e9-aff417a2e43c/test-file-072fa57d-9006-9688-3e3a-25fa9907753f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 11 Dec 2019 20:39:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E7A48CAE134\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 20:39:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-11T20:39:56.8579892Z",
        "x-ms-file-creation-time": "2019-12-11T20:39:56.8579892Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-11T20:39:56.8579892Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d1b64e75-aa55-d844-e5a5-57dd89230d19/test-directory-fc2118d6-b3bb-032c-34e9-aff417a2e43c/test-file-072fa57d-9006-9688-3e3a-25fa9907753f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 20:39:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "tir\u002BA9rvda0tc/tu/INoB3nexk4R\u002BkCuqtZjoqUCXckG2sMNrYKEPtdU84zYhVuhUtDI7ysAA7vqUFgEi9IHKxUyaCLAWlr3Woh2vQaz1SR7wlDUOW6dBtYHIlwqgLIETMd2ph044fh20ZWjiUa0NnozicmCM/KnlGFLuDf9zNnWcnA/PS8HQuBXXmfY\u002BnyPUuzi9vfogRnUzhK77CjAeAS7zRfWdflLLEboK9WKzpnlvGZLG9Xi7fBWam4cS1W3l\u002BVjHS1kudzzl8qw/1ZESv941jDCdV0u2N8nfwuKLuDxMJPvJ7FrgAKJWIQLMu2ZEiBvpHUk9SKINERNPTnRaGjqv87CVSNNDFUuOBzZI6byjW3rG4lqzDtxZ/JtHkPJuO8bIHMe1r38IZcf9rwFrhCdW6/L5k3ef/KTUO0w4O4SZYAtvgIz1Le[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1af35a3b-12c0-745a-f0ed-24ec84cbf0bc/test-directory-a727e044-be9a-af40-e00d-5974a9ba0886/test-file-b7a0722a-edc5-a0fc-b3ff-3ef49c141b40",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.file.core.windows.net/test-share-d1b64e75-aa55-d844-e5a5-57dd89230d19/test-directory-fc2118d6-b3bb-032c-34e9-aff417a2e43c/test-file-072fa57d-9006-9688-3e3a-25fa9907753f",
        "x-ms-date": "Wed, 11 Dec 2019 20:39:57 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E7A4918DD33\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 20:39:57 GMT",
        "x-ms-copy-id": "02956d14-0170-4f74-8982-f2b25b11f7a9",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1af35a3b-12c0-745a-f0ed-24ec84cbf0bc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 20:39:57 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d1b64e75-aa55-d844-e5a5-57dd89230d19?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 20:39:57 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "676874916",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}