{
  "Entries": [
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-cb397762-c640-4b2b-f36b-a8e4c568ac96?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:57 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807EC7D3B78\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:02:57 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-cb397762-c640-4b2b-f36b-a8e4c568ac96/test-directory-a8ec0ddb-cfd3-258f-d669-806475446164?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807EC8AB6E8\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:02:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-12-07T04:02:57.1230952Z",
        "x-ms-file-creation-time": "2022-12-07T04:02:57.1230952Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-12-07T04:02:57.1230952Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8650070825487796121*17630419429429764568",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-cb397762-c640-4b2b-f36b-a8e4c568ac96/test-directory-a8ec0ddb-cfd3-258f-d669-806475446164/test-file-70ca1049-fc37-2c67-5788-a3d11895314b.",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807EC9676C8\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:02:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-12-07T04:02:57.2000968Z",
        "x-ms-file-creation-time": "2022-12-07T04:02:57.2000968Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-12-07T04:02:57.2000968Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1629230238038922942*17630419429429764568",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-cb397762-c640-4b2b-f36b-a8e4c568ac96/test-directory-a8ec0ddb-cfd3-258f-d669-806475446164/test-file-70ca1049-fc37-2c67-5788-a3d11895314b.?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02",
        "x-ms-write": "update"
      },
      "RequestBody": "Wvau9cP4XL51ZBD1Khno0wLkMm\u002BR3MgrXHtLNdlPXPFF61uuBcPbsJBqhdm9I/u46F6YjYwZ6n4ug5hHrSfkJggfrz\u002B9Oc0/CIHfJ1fvbTiAk0x6ts5kLADdgIIqlANohV7RnnO8\u002Bq\u002BRWYQKOsMnPhZfxxnbaXA5uoM/37hLFXR\u002BdqH4Hs/Fw5id6V1KWvE8tkFrys3pjRvul\u002BPvfRr2RUQQi8MhLyBHmgOAPYAS72CSAil230qmleiGCYbr1UZ9p6QYOc8uGocgJDDJaFCb26iDXXrxf2b5afXbmyWaW8S9Apbb\u002BrWQY\u002BiiVroZ3CyY6y3eZ3fLjCc\u002BH8/ZUn9hhshrDGW5v\u002BHy8vmSTimr34zJQq/4u/NM8XZvndrltxFoQc/yrtDH3yxL7HV\u002BOD39[...]
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-1692c4df-fb7f-9767-55e6-5a8e9e327d33/test-directory-9cb548c4-a2e9-225d-04be-50f15b708edc/test-file-a720dd2f-1841-62f2-7241-7c497e50168e.",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-copy-source": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-cb397762-c640-4b2b-f36b-a8e4c568ac96/test-directory-a8ec0ddb-cfd3-258f-d669-806475446164/test-file-70ca1049-fc37-2c67-5788-a3d11895314b.",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:58 GMT",
        "x-ms-source-allow-trailing-dot": "true",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807ECDB70AB\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:02:57 GMT",
        "x-ms-copy-id": "48ac5dca-3243-4ea8-8499-9e0a8d96fdae",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-1692c4df-fb7f-9767-55e6-5a8e9e327d33?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-cb397762-c640-4b2b-f36b-a8e4c568ac96?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1036488833",
    "Storage_TestConfigDefault": "ProductionTenant\n2iqxscnapby3pev24a\nU2FuaXRpemVk\nhttps://2iqxscnapby3pev24a.blob.core.windows.net\nhttps://2iqxscnapby3pev24a.file.preprod.core.windows.net\nhttps://2iqxscnapby3pev24a.queue.core.windows.net\nhttps://2iqxscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://2iqxscnapby3pev24a-secondary.blob.core.windows.net\nhttps://2iqxscnapby3pev24a-secondary.file.core.windows.net\nhttps://2iqxscnapby3pev24a-secondary.queue.core.windows.net\nhttps://2iqxscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://2iqxscnapby3pev24a.blob.core.windows.net/;QueueEndpoint=https://2iqxscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://2iqxscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://2iqxscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://2iqxscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://2iqxscnapby3pev24a-secondary.file.core.windows.net/;AccountName=2iqxscnapby3pev24a;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
