{
  "Entries": [
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-9e583e95-7be6-98c9-71ac-edc491b37771?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:44 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807E48CE32A\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:02:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-9e583e95-7be6-98c9-71ac-edc491b37771/test-directory-ee84fdc8-e082-3db4-c669-5269c5d86e19?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807E4999C68\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:02:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-12-07T04:02:43.7989480Z",
        "x-ms-file-creation-time": "2022-12-07T04:02:43.7989480Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-12-07T04:02:43.7989480Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8650070825487796121*17630419429429764568",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-9e583e95-7be6-98c9-71ac-edc491b37771/test-directory-ee84fdc8-e082-3db4-c669-5269c5d86e19/test-file-5493ffc2-f032-2231-aa40-6fc1d731d0af.",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807E4A3D5AC\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:02:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-12-07T04:02:43.8659500Z",
        "x-ms-file-creation-time": "2022-12-07T04:02:43.8659500Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-12-07T04:02:43.8659500Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1629230238038922942*17630419429429764568",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-9e583e95-7be6-98c9-71ac-edc491b37771/test-directory-ee84fdc8-e082-3db4-c669-5269c5d86e19/test-file-5493ffc2-f032-2231-aa40-6fc1d731d0af.?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:44 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02",
        "x-ms-write": "update"
      },
      "RequestBody": "2KXNukWWXC46MJy/0EEHawG/v79GDS8QqL/1ddW1dIxghpgcyppU3mJNpxOb1Vbql5eqlMF0Wcp2vRKGoeZZhbsQXkqo66BmauFd\u002BWYcdNJoCt49CuDK6yzNpQ2Izj179CJXinYMQqv3RCngF2BkWkg/HZYHG3rbRXMd2kWT3Zyj4QVExOpcXMgzRsa26tPMaUvESLCmdNine0QC7mdmY2aMPDVbH5Ve48DO1NS0JVufUXD5zpXs/W0snUilWW5gzeNfKa6ecEq2ZWXw158E81bpYpz3bJTRoD7HL4JNuYpSbgfwVPutAeEmQ2kv/CXOJ6rxvPbRaGBOjolv10DIaKzbnmmYE55aO2G70SkroaQZ\u002BQjYW/2TgAWmosVyPiqgXtq8VF68NRMLl4CUFZc3Iu3lVt047w2vRx1j8XHZ6P03G3NOb0xFXMP0zMR8/mpub[...]
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-1be3f76b-7a6a-4bab-849e-c90cb7a6cd14/test-directory-8848c175-db39-4dad-c62c-2f837c3de1e8/test-file-aa745ce6-c8a3-9688-0942-d5a9306da5ec.",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-copy-source": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-9e583e95-7be6-98c9-71ac-edc491b37771/test-directory-ee84fdc8-e082-3db4-c669-5269c5d86e19/test-file-5493ffc2-f032-2231-aa40-6fc1d731d0af.",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:44 GMT",
        "x-ms-source-allow-trailing-dot": "true",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807E4F81059\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:02:44 GMT",
        "x-ms-copy-id": "015d848f-1745-4b9b-a7f7-7957216fd7d9",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-1be3f76b-7a6a-4bab-849e-c90cb7a6cd14?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:45 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-9e583e95-7be6-98c9-71ac-edc491b37771?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:45 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "232728693",
    "Storage_TestConfigDefault": "ProductionTenant\n2iqxscnapby3pev24a\nU2FuaXRpemVk\nhttps://2iqxscnapby3pev24a.blob.core.windows.net\nhttps://2iqxscnapby3pev24a.file.preprod.core.windows.net\nhttps://2iqxscnapby3pev24a.queue.core.windows.net\nhttps://2iqxscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://2iqxscnapby3pev24a-secondary.blob.core.windows.net\nhttps://2iqxscnapby3pev24a-secondary.file.core.windows.net\nhttps://2iqxscnapby3pev24a-secondary.queue.core.windows.net\nhttps://2iqxscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://2iqxscnapby3pev24a.blob.core.windows.net/;QueueEndpoint=https://2iqxscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://2iqxscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://2iqxscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://2iqxscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://2iqxscnapby3pev24a-secondary.file.core.windows.net/;AccountName=2iqxscnapby3pev24a;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
