{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-4376000a-7bf9-065e-4c96-ec5e09e7516b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:54 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D32681E674F\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:54 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-4376000a-7bf9-065e-4c96-ec5e09e7516b/test-directory-46417df3-21cd-1e4d-842b-c7ff143d4e54?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D32682BD801\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-10T05:32:54.5755137Z",
        "x-ms-file-creation-time": "2019-12-10T05:32:54.5755137Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-10T05:32:54.5755137Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-4376000a-7bf9-065e-4c96-ec5e09e7516b/test-directory-46417df3-21cd-1e4d-842b-c7ff143d4e54/test-file-3af44ec6-fc70-85ae-06a8-de0eff85d4fb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D326838CF79\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-10T05:32:54.6604921Z",
        "x-ms-file-creation-time": "2019-12-10T05:32:54.6604921Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-10T05:32:54.6604921Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-184a634c-32b8-b321-af48-954e1d287857/test-directory-f6fadd30-0127-7263-fc3f-9a1d8ebbd61e/test-file-403c2c77-70e2-6248-ea65-21f6c42ce2e2?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:55 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "a810cae4-a470-a18e-a56e-70b8dc20421c",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D3268600694\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:54 GMT",
        "x-ms-lease-id": "a810cae4-a470-a18e-a56e-70b8dc20421c",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-4376000a-7bf9-065e-4c96-ec5e09e7516b/test-directory-46417df3-21cd-1e4d-842b-c7ff143d4e54/test-file-3af44ec6-fc70-85ae-06a8-de0eff85d4fb?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "kfl9SEyx\u002BmTE6enqpdzhUMB63K/b61\u002Bq/scCTcGXrPrO/CHH12WqKjLgkdMf7iC8PW2tAOcHJ6Wa00qEr62jLT3vHKi7GXlbz7F9\u002B1qLig\u002BmRQ9T6asSxtV7LQMaJXqEPGSWMNJ3ASP0UjE2iitLDkg63mqeT0SR3VXTP\u002Bx1QKo3\u002BL729Fo9L0PrXpd63DypMB6730cQ5u0gBVJ9pMI2fxGG/pFtVRrt/a4msvCsFwEYKQ/OumFiJhLR1e8Hv4qBtN\u002BG892rPNsDzeKY6TP8c\u002B1RZXuyZ8WvJNd\u002BnH8r5T0kpf0RJiQjbOwzy\u002Bx/yT3e1GIBtloPzkwa1s4FLaBc2OikdEQ160zJLviPf5zZMFqaoMccKS/jFNax91BVHT9L1/MD2lT4qOkWOIhhgE\u002Bw[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-184a634c-32b8-b321-af48-954e1d287857/test-directory-f6fadd30-0127-7263-fc3f-9a1d8ebbd61e/test-file-403c2c77-70e2-6248-ea65-21f6c42ce2e2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.file.core.windows.net/test-share-4376000a-7bf9-065e-4c96-ec5e09e7516b/test-directory-46417df3-21cd-1e4d-842b-c7ff143d4e54/test-file-3af44ec6-fc70-85ae-06a8-de0eff85d4fb",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:55 GMT",
        "x-ms-lease-id": "a810cae4-a470-a18e-a56e-70b8dc20421c",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D32688DCF3A\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:55 GMT",
        "x-ms-copy-id": "46224256-3d93-4c37-8750-43e69ceeea20",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-184a634c-32b8-b321-af48-954e1d287857?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-4376000a-7bf9-065e-4c96-ec5e09e7516b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "349383376",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}