{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8942faa6-d783-b46f-2dc4-0c58d6367ea8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 23:05:53 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E8EAC497C45\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 23:05:53 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8942faa6-d783-b46f-2dc4-0c58d6367ea8/test-directory-743ce995-a3cf-a0fa-c393-1c11f6795942?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 23:05:53 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E8EAC576CFD\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 23:05:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-11T23:05:53.8081021Z",
        "x-ms-file-creation-time": "2019-12-11T23:05:53.8081021Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-11T23:05:53.8081021Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8942faa6-d783-b46f-2dc4-0c58d6367ea8/test-directory-743ce995-a3cf-a0fa-c393-1c11f6795942/test-file-f4559b7c-4a8b-592a-6b97-99593f5276a0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 11 Dec 2019 23:05:53 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E8EAC644033\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 23:05:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-11T23:05:53.8921523Z",
        "x-ms-file-creation-time": "2019-12-11T23:05:53.8921523Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-11T23:05:53.8921523Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8942faa6-d783-b46f-2dc4-0c58d6367ea8/test-directory-743ce995-a3cf-a0fa-c393-1c11f6795942/test-file-f4559b7c-4a8b-592a-6b97-99593f5276a0?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 23:05:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "M/SKfGMXv5hcFoMeIsu2djIIJLGvo1oH/2CIlxz8ZZjcHRL8LZjAmZIOCmuGm53VTLxwKDffJZCag3wCjih7X7HqQgW5uUmaR4oeoJnvgGTDskpgiz1h/PiCYqkbvgpqkqq6nFmYHJJy1uCtwYT3qwMYP9zdG9NziUUMNleffomAtA3uNeQLKpa37bVctDt0i7emA34ujXfWRhIUi\u002BY701dXLA12CHYeDRRGJS0eF9UJmKug\u002BHsKUiaWF\u002B7R9p\u002BvfBpdBYcu/YJAh/Zq6GdJuC89CvM7mtrcTNrm4PCHTRZ1lqgTwBFN2pooX3CEoGq\u002BTF\u002B/lOusdOE/gbmtSB2RuTrf9VG/Nvgd7zBYEjtpV6tvJ5ORx7gqySLH1D5XoJJ8lqU2pasY/xZmoaW7U2Gm1SkNPSCKAPKCtSsv92G5xU6d3[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8942faa6-d783-b46f-2dc4-0c58d6367ea8?restype=share\u0026comp=filepermission",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Wed, 11 Dec 2019 23:05:54 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8942faa6-d783-b46f-2dc4-0c58d6367ea8/test-directory-743ce995-a3cf-a0fa-c393-1c11f6795942/test-file-f4559b7c-4a8b-592a-6b97-99593f5276a0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.file.core.windows.net/test-share-8942faa6-d783-b46f-2dc4-0c58d6367ea8/test-directory-743ce995-a3cf-a0fa-c393-1c11f6795942/test-file-f4559b7c-4a8b-592a-6b97-99593f5276a0",
        "x-ms-date": "Wed, 11 Dec 2019 23:05:54 GMT",
        "x-ms-file-attributes": "ReadOnly|Archive",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-permission-copy-mode": "override",
        "x-ms-file-permission-key": "11680444563946999947*422928105932735866",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E8EACC105EF\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 23:05:54 GMT",
        "x-ms-copy-id": "c0b1af43-732c-4056-bfc0-66f3c1b1da47",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8942faa6-d783-b46f-2dc4-0c58d6367ea8/test-directory-743ce995-a3cf-a0fa-c393-1c11f6795942/test-file-f4559b7c-4a8b-592a-6b97-99593f5276a0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 23:05:54 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77E8EACC105EF\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 23:05:54 GMT",
        "x-ms-copy-completion-time": "Wed, 11 Dec 2019 23:05:54 GMT",
        "x-ms-copy-id": "c0b1af43-732c-4056-bfc0-66f3c1b1da47",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://seanstagetest.file.core.windows.net/test-share-8942faa6-d783-b46f-2dc4-0c58d6367ea8/test-directory-743ce995-a3cf-a0fa-c393-1c11f6795942/test-file-f4559b7c-4a8b-592a-6b97-99593f5276a0",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2019-12-11T23:05:54.5001455Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "16713728419002454479*422928105932735866",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-dbb6df55-26fc-9356-0729-1f4a2d2c9d84?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 23:05:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8942faa6-d783-b46f-2dc4-0c58d6367ea8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 23:05:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "111127222",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}