{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e611aaac-d373-5b9e-a025-319bbc84c3fe?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:27 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D1098C28C\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:27 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e611aaac-d373-5b9e-a025-319bbc84c3fe/test-directory-fd646dea-cff4-40a5-bae5-de9627963db8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:27 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D10A311B4\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:42:27.3806772Z",
        "x-ms-file-creation-time": "2021-01-21T20:42:27.3806772Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:42:27.3806772Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e611aaac-d373-5b9e-a025-319bbc84c3fe/test-directory-fd646dea-cff4-40a5-bae5-de9627963db8/test-file-8c8c4718-6f03-3a1e-d9ff-044e311ed307",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:27 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D10ACB05E\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:42:27.4437214Z",
        "x-ms-file-creation-time": "2021-01-21T20:42:27.4437214Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:42:27.4437214Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e611aaac-d373-5b9e-a025-319bbc84c3fe/test-directory-fd646dea-cff4-40a5-bae5-de9627963db8/test-file-8c8c4718-6f03-3a1e-d9ff-044e311ed307?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:28 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "MTA2dH2wZ\u002BLrZ56uLsrRgyj/GyeSp50EZ51quf/qrWOYrFMcxSf6dwbfAV20JuOUp6ixM\u002BzyWImSMg3gRa3iAbo6FYF2tL0ABaMhs6U/T0C61hJXOHl3pVPKipMaGjJY/P\u002BjehFhHfLqsC5I0aXjUuLMJW6bi8lAw3AurCoq5etwyLelnNUvWbgfbIdLLtOu5jiwTfTDvXA2Y7egM3HIwMtD1wntPbUNncy2ex5B9ZScf8XxeZf2rQpGbzgejiVGVqy8CFfKwKmCorAnDEJS9W4jBLOr1kYzTCr\u002Bp8587w6mbyVyhew90b4cb9bnz6DI9HrK\u002B4lymn9liLsszBnaBbOhgJ0d32\u002BB5jL1j2dvTH2JNbNTsvSFNNSlDPwxEAWlQWkjRU4DqxQKSRVXfQsY9js\u002Bo5ZlhlO\u002BHEz[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e611aaac-d373-5b9e-a025-319bbc84c3fe?restype=share\u0026comp=filepermission",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-file-permission-key": "4089320212444238414*11459378189709739967",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e611aaac-d373-5b9e-a025-319bbc84c3fe/test-directory-fd646dea-cff4-40a5-bae5-de9627963db8/test-file-8c8c4718-6f03-3a1e-d9ff-044e311ed307",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-share-e611aaac-d373-5b9e-a025-319bbc84c3fe/test-directory-fd646dea-cff4-40a5-bae5-de9627963db8/test-file-8c8c4718-6f03-3a1e-d9ff-044e311ed307",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:28 GMT",
        "x-ms-file-attributes": "ReadOnly|Archive",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-permission-copy-mode": "override",
        "x-ms-file-permission-key": "4089320212444238414*11459378189709739967",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D110AE6F9\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:28 GMT",
        "x-ms-copy-id": "5eb79bb4-26c0-48a3-9cdf-6402a8b45c85",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e611aaac-d373-5b9e-a025-319bbc84c3fe/test-directory-fd646dea-cff4-40a5-bae5-de9627963db8/test-file-8c8c4718-6f03-3a1e-d9ff-044e311ed307",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4D110AE6F9\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:28 GMT",
        "x-ms-copy-completion-time": "Thu, 21 Jan 2021 20:42:28 GMT",
        "x-ms-copy-id": "5eb79bb4-26c0-48a3-9cdf-6402a8b45c85",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-share-e611aaac-d373-5b9e-a025-319bbc84c3fe/test-directory-fd646dea-cff4-40a5-bae5-de9627963db8/test-file-8c8c4718-6f03-3a1e-d9ff-044e311ed307",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2021-01-21T20:42:28.0611577Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9019159817152516874*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6bcc52e1-c4fc-8b60-1352-e2ad3a44e4cc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:28 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e611aaac-d373-5b9e-a025-319bbc84c3fe?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:28 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1189796074",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}