{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-adb3e84e-02f3-5edb-7781-5050bbaeab3e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:52:30 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D779E692A69F14\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:52:30 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-adb3e84e-02f3-5edb-7781-5050bbaeab3e/test-directory-49a36568-929a-6353-b702-115c8def5cc8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:52:30 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D779E692B4F3DC\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:52:30 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:52:30.6985948Z",
        "x-ms-file-creation-time": "2019-12-06T00:52:30.6985948Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:52:30.6985948Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-adb3e84e-02f3-5edb-7781-5050bbaeab3e/test-directory-49a36568-929a-6353-b702-115c8def5cc8/test-file-a5e7dde7-0f2f-3779-a542-e398ad101dcf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:52:30 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D779E692C21581\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:52:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-06T00:52:30.7846529Z",
        "x-ms-file-creation-time": "2019-12-06T00:52:30.7846529Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-06T00:52:30.7846529Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-adb3e84e-02f3-5edb-7781-5050bbaeab3e/test-directory-49a36568-929a-6353-b702-115c8def5cc8/test-file-a5e7dde7-0f2f-3779-a542-e398ad101dcf?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:52:31 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "VV5yLKBg96wtwRdCXjo7sVjeD\u002Btjoa2OyXCReK/9xtVvAkualNXLEq78KYi\u002BGNBPKsqTenNcfbOx42Mwz379MPtB01zuoByCE/09Znck0LGfQU7kaUxiEoSY6bFymkIv//mNfER0YYmtEWd2HxY7jRKykI0vGMav38HYVrdqEHi6DWd\u002Bl1RsK\u002BDEN1jk6/NtXFyfvwm1/\u002BYy3ZyDmwvSQwDuvBGvvfW9RWWtauFuyvTOavlbylBuBQ2BTLm46Y/U8vNX9i/ivp9m4nqkB5UExBOotTERdnivf7cDLnE8BVzV2HjuFtTE7Kxa9ejWyv54fIemDzNew3t6qHZ33o8uKdwdzi4dFq4\u002B48mEtoGQ2bW5irHplvUodxX8c25dTQ0cLMsMufvPW2bZZyxq2Q356s7BvlTeRJPn9FcZIKJA4Za7a[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5ac1f31d-b196-2696-215b-d4754fa6c960/test-directory-f6ac9683-0b70-678e-23ab-791080785d2f/test-file-70e117d6-42fa-34db-b859-4a82900df8f7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.file.core.windows.net/test-share-adb3e84e-02f3-5edb-7781-5050bbaeab3e/test-directory-49a36568-929a-6353-b702-115c8def5cc8/test-file-a5e7dde7-0f2f-3779-a542-e398ad101dcf",
        "x-ms-date": "Fri, 06 Dec 2019 00:52:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D779E693142A8B\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:52:31 GMT",
        "x-ms-copy-id": "c65ed780-266f-4e0a-924a-561655d62f11",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5ac1f31d-b196-2696-215b-d4754fa6c960?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:52:31 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-adb3e84e-02f3-5edb-7781-5050bbaeab3e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:52:31 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "970537732",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}