{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d1dcc86c-0fcf-794c-2158-0e596fc7ce82?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:42 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1e344da2-f488-9cdd-9d2e-a3ab0cb95dcd?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:18 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:42 GMT",
        "ETag": "\u00220x8D779393C147825\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:42 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:18 GMT",
        "ETag": "\u00220x8D779E30D5121B0\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:18 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "95f6bf6a-4c3d-8d4e-6d9c-dc709092df98",
        "x-ms-request-id": "011a04ce-f01a-0002-1122-ab2c83000000",
=======
        "x-ms-client-request-id": "ff333e12-166a-8448-3d36-fbe821b5b7c2",
        "x-ms-request-id": "4376e596-b01a-003c-4bcb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d1dcc86c-0fcf-794c-2158-0e596fc7ce82/test-directory-50b8ff51-a163-44a5-69fe-f17e7b319e68?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:42 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1e344da2-f488-9cdd-9d2e-a3ab0cb95dcd/test-directory-a07d382c-5381-4798-21eb-2697b653552e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:18 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:42 GMT",
        "ETag": "\u00220x8D779393C228107\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:42 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:18 GMT",
        "ETag": "\u00220x8D779E30D5EA8D0\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:18 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "0d5e7b38-2ef1-bfa9-a6ec-dd7ef0b0cdea",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:11:42.5205511Z",
        "x-ms-file-creation-time": "2019-12-05T04:11:42.5205511Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:11:42.5205511Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "011a04d0-f01a-0002-1222-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:27:18.5059024Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:18.5059024Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:18.5059024Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e599-b01a-003c-4dcb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d1dcc86c-0fcf-794c-2158-0e596fc7ce82/test-directory-50b8ff51-a163-44a5-69fe-f17e7b319e68/test-file-c19e73fe-30a3-18c7-b9b3-0d0a0995f87a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1e344da2-f488-9cdd-9d2e-a3ab0cb95dcd/test-directory-a07d382c-5381-4798-21eb-2697b653552e/test-file-a887cde0-e91c-ce3d-d5cb-c80c04c5e8de",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "92f265a6-7ebb-4f26-3e8f-3726659cbbe0",
        "x-ms-content-length": "1048576",
<<<<<<< HEAD
        "x-ms-date": "Thu, 05 Dec 2019 04:11:42 GMT",
=======
        "x-ms-date": "Fri, 06 Dec 2019 00:27:18 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:42 GMT",
        "ETag": "\u00220x8D779393C303C2E\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:42 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:18 GMT",
        "ETag": "\u00220x8D779E30D6B7CBA\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:18 GMT",
>>>>>>> feature/storage/stg71-bas[...]
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1e344da2-f488-9cdd-9d2e-a3ab0cb95dcd?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:19 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:11:42 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:18 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "8e416ea5-100d-9900-8667-c1f4471999ee",
        "x-ms-request-id": "011a04da-f01a-0002-1b22-ab2c83000000",
=======
        "x-ms-client-request-id": "c31d4741-1c36-ae0e-db72-5042968f877a",
        "x-ms-request-id": "4376e5a1-b01a-003c-53cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "1938151350",
=======
    "RandomSeed": "1553044401",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}