{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-eee717d1-ccda-578f-50e0-1bfc2748f8e5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:30:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230E3B2500F\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:30:50 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-eee717d1-ccda-578f-50e0-1bfc2748f8e5/test-directory-47f65123-15f6-f6f5-d42a-6f4fd3daceef?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:30:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230E3BE7DE0\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:30:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-26T19:30:50.8056032Z",
        "x-ms-file-creation-time": "2021-01-26T19:30:50.8056032Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-26T19:30:50.8056032Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-eee717d1-ccda-578f-50e0-1bfc2748f8e5/test-directory-47f65123-15f6-f6f5-d42a-6f4fd3daceef/test-file-fdb9dc55-873a-5b4d-d86a-0731c761e844",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 26 Jan 2021 19:30:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230E3C7F571\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:30:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:30:50.8676465Z",
        "x-ms-file-creation-time": "2021-01-26T19:30:50.8676465Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:30:50.8676465Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-eee717d1-ccda-578f-50e0-1bfc2748f8e5/test-directory-47f65123-15f6-f6f5-d42a-6f4fd3daceef/test-file-fdb9dc55-873a-5b4d-d86a-0731c761e844?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 26 Jan 2021 19:30:52 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-write": "update"
      },
      "RequestBody": "aPSGEjg9ee6TzB8Ac5i0TtmuiWNmDpbJUXJTFmBtixZvTfv/\u002BWwp0fC5RFD/6J1jc10s0XnL0FpdvcHG6mOOJUEJkSadtVVshbdyrclGyWjU76MDQLmco3yhoTyrY\u002BaNKx4O9ld3xb0Hv0zBWCOQF/NY8vq/i\u002BSIbe2p/BMZwSHR5YKrN9MRXCrl\u002B4Ft2kpZEIlIUnHrzZ85holqzsmp7v0q8HOg5N8gR5XQ2pBjGpKiT\u002BuK0G\u002Bw5RjicbFJp45gOwyDQurXuCuqKAvbGvIP1mv3x3/eHx6OegpbvnMt1p8HcJ\u002BD39inypa/36hk1Mol0ptFUt8PgRvu9cjfe/q4fFFr1KlTi/aTT/3oH0B1KqU/NuvY6IPA\u002BO\u002BEleoQyE\u002BcBmJX\u002BAAh0kaksgPiJmLa[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-eee717d1-ccda-578f-50e0-1bfc2748f8e5?restype=share\u0026comp=filepermission",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 26 Jan 2021 19:30:52 GMT"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-file-permission-key": "4089320212444238414*11459378189709739967"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-eee717d1-ccda-578f-50e0-1bfc2748f8e5/test-directory-47f65123-15f6-f6f5-d42a-6f4fd3daceef/test-file-fdb9dc55-873a-5b4d-d86a-0731c761e844",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-share-eee717d1-ccda-578f-50e0-1bfc2748f8e5/test-directory-47f65123-15f6-f6f5-d42a-6f4fd3daceef/test-file-fdb9dc55-873a-5b4d-d86a-0731c761e844",
        "x-ms-date": "Tue, 26 Jan 2021 19:30:52 GMT",
        "x-ms-file-attributes": "ReadOnly|Archive",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-permission-copy-mode": "override",
        "x-ms-file-permission-key": "4089320212444238414*11459378189709739967"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230E42C95FA\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:30:51 GMT",
        "x-ms-copy-id": "6dd714b9-a600-4e41-bcdd-5370907ee708",
        "x-ms-copy-status": "success"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-eee717d1-ccda-578f-50e0-1bfc2748f8e5/test-directory-47f65123-15f6-f6f5-d42a-6f4fd3daceef/test-file-fdb9dc55-873a-5b4d-d86a-0731c761e844",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:30:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C230E42C95FA\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:30:51 GMT",
        "x-ms-copy-completion-time": "Tue, 26 Jan 2021 19:30:51 GMT",
        "x-ms-copy-id": "6dd714b9-a600-4e41-bcdd-5370907ee708",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-share-eee717d1-ccda-578f-50e0-1bfc2748f8e5/test-directory-47f65123-15f6-f6f5-d42a-6f4fd3daceef/test-file-fdb9dc55-873a-5b4d-d86a-0731c761e844",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2021-01-26T19:30:51.5271162Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9019159817152516874*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8187177a-ed56-be20-575f-8681bec2f0a0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:30:52 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-eee717d1-ccda-578f-50e0-1bfc2748f8e5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:30:52 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1626299602",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}