{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ad3b4756-4ed3-be75-2a44-c3d0c754242a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CB126816E\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ad3b4756-4ed3-be75-2a44-c3d0c754242a/test-directory-c15e9fce-caf6-5c20-a566-bcbcdcf6c876?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:47 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CB130ECCD\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:39:47.2490701Z",
        "x-ms-file-creation-time": "2021-01-21T20:39:47.2490701Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:39:47.2490701Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ad3b4756-4ed3-be75-2a44-c3d0c754242a/test-directory-c15e9fce-caf6-5c20-a566-bcbcdcf6c876/test-file-1c890622-2ef8-0130-3430-a6f89c9cdf48",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:47 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CB13B4EE4\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:39:47.3171172Z",
        "x-ms-file-creation-time": "2021-01-21T20:39:47.3171172Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:39:47.3171172Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ad3b4756-4ed3-be75-2a44-c3d0c754242a/test-directory-c15e9fce-caf6-5c20-a566-bcbcdcf6c876/test-file-1c890622-2ef8-0130-3430-a6f89c9cdf48?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "EwawLy4nFEB3KQAPvKkm6zdAilojTvc6KzCYWEbLxrGQTOxq6\u002B2B1\u002B77uZnvaJ\u002BkD90sRXcLjsQPdQT9j7v5rGJPfm\u002B8u/9Kv7NsKJRdS8KQ80lonoE5hb0nWnXpg0gyAQ02n\u002Bkv51Td4obDnmUwsipBbJtykA7hFfmxlWCJYDtrOSaHJqvZYAz1irv6duZY96hLpxesv3H\u002BVYnwflLzVIJKWGU/qIt\u002BaAuPfQVT5p8TWZ24Prkkvnq1idEh6OK5ATY5sB2BGE4dzT8LHUFrqm/q3CS1OhXJJZrqiR\u002B6XH8o1nvOGjWCkkBOmnB5GaA4St5hNwy\u002BBMchcIqClo8uY3C/4kfFnJA5Z0rjZp\u002BlTwz5sT9BWCRzatK0raqr//uxIDf/ujZZc61NJ8/B250neyB9i[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ad3b4756-4ed3-be75-2a44-c3d0c754242a/test-directory-c15e9fce-caf6-5c20-a566-bcbcdcf6c876/test-file-1c890622-2ef8-0130-3430-a6f89c9cdf48",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-share-ad3b4756-4ed3-be75-2a44-c3d0c754242a/test-directory-c15e9fce-caf6-5c20-a566-bcbcdcf6c876/test-file-1c890622-2ef8-0130-3430-a6f89c9cdf48",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:48 GMT",
        "x-ms-file-attributes": "ReadOnly|Archive",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "x-ms-file-permission-copy-mode": "override",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CB18EFC41\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:47 GMT",
        "x-ms-copy-id": "7d1cc7c3-7a65-4401-84f0-4bac7ae7d2a7",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ad3b4756-4ed3-be75-2a44-c3d0c754242a/test-directory-c15e9fce-caf6-5c20-a566-bcbcdcf6c876/test-file-1c890622-2ef8-0130-3430-a6f89c9cdf48",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4CB18EFC41\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:47 GMT",
        "x-ms-copy-completion-time": "Thu, 21 Jan 2021 20:39:47 GMT",
        "x-ms-copy-id": "7d1cc7c3-7a65-4401-84f0-4bac7ae7d2a7",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-share-ad3b4756-4ed3-be75-2a44-c3d0c754242a/test-directory-c15e9fce-caf6-5c20-a566-bcbcdcf6c876/test-file-1c890622-2ef8-0130-3430-a6f89c9cdf48",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2021-01-21T20:39:47.8655041Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9019159817152516874*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-5d6768c3-1183-b0f4-e596-64830c7fe522?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ad3b4756-4ed3-be75-2a44-c3d0c754242a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2102544741",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}