{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a84bf949-394e-6404-e701-61186c1b00e7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C23154D6C08A\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:00 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a84bf949-394e-6404-e701-61186c1b00e7/test-directory-77b976bf-0acc-6099-af24-e38c6754c634?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C23154E22E67\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-26T19:34:00.6220391Z",
        "x-ms-file-creation-time": "2021-01-26T19:34:00.6220391Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-26T19:34:00.6220391Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a84bf949-394e-6404-e701-61186c1b00e7/test-directory-77b976bf-0acc-6099-af24-e38c6754c634/test-file-14dcc152-bec8-56ec-210a-ba5056e76da5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C23154ED53FD\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:34:00.6950909Z",
        "x-ms-file-creation-time": "2021-01-26T19:34:00.6950909Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:34:00.6950909Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a84bf949-394e-6404-e701-61186c1b00e7/test-directory-77b976bf-0acc-6099-af24-e38c6754c634/test-file-14dcc152-bec8-56ec-210a-ba5056e76da5?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:01 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-write": "update"
      },
      "RequestBody": "9ZJeC7uZdEUAvuuoUYQHa4XZSA9RDq\u002BTLNAJsYzi8FZamgaRRqgz5loIIHE3t2V/0lMIMgSHf\u002Bbjy97qkMO5Hc6VTbd\u002BdSTcpmG1Se4\u002BW3Rqit452b1S0xofrnrJSFaXTgOiomquAF0uLIyj0jb4pHBqfwblgEMRQnqcXsaqEl0LHfrrnLkKvImBCq0wrgHkJwoKX8hPss6/kV/vEqGWgxkumLQ8DAi3YMN8Y3WV4JR5uDe8oLOVu2srKwpZGqnn6oaUARZNqBoCU/4E005ZKrDLdVpq2eNlmd1IEOD9XUUalXjuAN99LBAcuk20kOcd0gFajqRPfBGjL2g5BJc6BPW56j3VainRTUlKTh\u002BWsAj1Kj7eo8\u002BgyxhnS9F2RCd44rVX\u002B6aqR2fYiUBbBC7xDX5fRNpZW2EmGR8lbh9X[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a84bf949-394e-6404-e701-61186c1b00e7/test-directory-77b976bf-0acc-6099-af24-e38c6754c634/test-file-14dcc152-bec8-56ec-210a-ba5056e76da5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-share-a84bf949-394e-6404-e701-61186c1b00e7/test-directory-77b976bf-0acc-6099-af24-e38c6754c634/test-file-14dcc152-bec8-56ec-210a-ba5056e76da5",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:02 GMT",
        "x-ms-file-attributes": "ReadOnly|Archive",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "x-ms-file-permission-copy-mode": "override"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C2315776BF58\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:04 GMT",
        "x-ms-copy-id": "b7b6c5d3-00ec-4459-9977-860431a9273e",
        "x-ms-copy-status": "success"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a84bf949-394e-6404-e701-61186c1b00e7/test-directory-77b976bf-0acc-6099-af24-e38c6754c634/test-file-14dcc152-bec8-56ec-210a-ba5056e76da5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C2315776BF58\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:04 GMT",
        "x-ms-copy-completion-time": "Tue, 26 Jan 2021 19:34:04 GMT",
        "x-ms-copy-id": "b7b6c5d3-00ec-4459-9977-860431a9273e",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-share-a84bf949-394e-6404-e701-61186c1b00e7/test-directory-77b976bf-0acc-6099-af24-e38c6754c634/test-file-14dcc152-bec8-56ec-210a-ba5056e76da5",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2021-01-26T19:34:04.9511256Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9019159817152516874*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-826742fe-b808-b35e-86a0-bf8ec907d53a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:05 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a84bf949-394e-6404-e701-61186c1b00e7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:05 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1547022611",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}