{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c6b40b4a-35ab-2a1c-aacd-2ca464f65a91?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Feb 2022 16:32:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F2FC3A91883C\u0022",
        "Last-Modified": "Fri, 18 Feb 2022 16:32:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c6b40b4a-35ab-2a1c-aacd-2ca464f65a91/test-directory-872230f2-5211-4a88-3a5c-08956e9d2cd9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Feb 2022 16:32:17 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F2FC3A9EB904\u0022",
        "Last-Modified": "Fri, 18 Feb 2022 16:32:17 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-02-18T16:32:17.8796804Z",
        "x-ms-file-creation-time": "2022-02-18T16:32:17.8796804Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-02-18T16:32:17.8796804Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c6b40b4a-35ab-2a1c-aacd-2ca464f65a91/test-directory-872230f2-5211-4a88-3a5c-08956e9d2cd9/test-file-2501d1a0-e183-1492-277d-ca64ec78f520",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 18 Feb 2022 16:32:17 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F2FC3AAA01FA\u0022",
        "Last-Modified": "Fri, 18 Feb 2022 16:32:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-02-18T16:32:17.9536378Z",
        "x-ms-file-creation-time": "2022-02-18T16:32:17.9536378Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-02-18T16:32:17.9536378Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-49ee21eb-00ef-421c-a6d9-1878d5a8784a/test-directory-75925cfd-01e4-7866-1aa7-d3fbd1818aab/test-file-32c730a2-526b-fe84-0189-b2cb668be251",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanmcccanary3.file.core.windows.net/test-share-c6b40b4a-35ab-2a1c-aacd-2ca464f65a91/test-directory-872230f2-5211-4a88-3a5c-08956e9d2cd9/test-file-2501d1a0-e183-1492-277d-ca64ec78f520",
        "x-ms-date": "Fri, 18 Feb 2022 16:32:17 GMT",
        "x-ms-file-attributes": "Source",
        "x-ms-file-creation-time": "Source",
        "x-ms-file-last-write-time": "Source",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F2FC3ACA7D84\u0022",
        "Last-Modified": "Fri, 18 Feb 2022 16:32:18 GMT",
        "x-ms-copy-id": "54ce34ee-9be5-47c1-99e0-f592844fb0d2",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c6b40b4a-35ab-2a1c-aacd-2ca464f65a91/test-directory-872230f2-5211-4a88-3a5c-08956e9d2cd9/test-file-2501d1a0-e183-1492-277d-ca64ec78f520",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Feb 2022 16:32:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F2FC3AAA01FA\u0022",
        "Last-Modified": "Fri, 18 Feb 2022 16:32:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-02-18T16:32:17.9536378Z",
        "x-ms-file-creation-time": "2022-02-18T16:32:17.9536378Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-02-18T16:32:17.9536378Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-49ee21eb-00ef-421c-a6d9-1878d5a8784a/test-directory-75925cfd-01e4-7866-1aa7-d3fbd1818aab/test-file-32c730a2-526b-fe84-0189-b2cb668be251",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Feb 2022 16:32:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F2FC3ACA7D84\u0022",
        "Last-Modified": "Fri, 18 Feb 2022 16:32:18 GMT",
        "x-ms-copy-completion-time": "Fri, 18 Feb 2022 16:32:18 GMT",
        "x-ms-copy-id": "54ce34ee-9be5-47c1-99e0-f592844fb0d2",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-share-c6b40b4a-35ab-2a1c-aacd-2ca464f65a91/test-directory-872230f2-5211-4a88-3a5c-08956e9d2cd9/test-file-2501d1a0-e183-1492-277d-ca64ec78f520",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-02-18T16:32:18.1665156Z",
        "x-ms-file-creation-time": "2022-02-18T16:32:17.9536378Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-02-18T16:32:17.9536378Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-49ee21eb-00ef-421c-a6d9-1878d5a8784a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Feb 2022 16:32:17 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c6b40b4a-35ab-2a1c-aacd-2ca464f65a91?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Feb 2022 16:32:17 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1916754224",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}