{
  "Entries": [
    {
      "RequestUri": "https://ccqxscnapby3pev24a.file.preprod.core.windows.net/test-share-905e82a4-6a72-28a0-5bde-c41d93400673?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 02 Mar 2022 01:53:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FBEF813C9424\u0022",
        "Last-Modified": "Wed, 02 Mar 2022 01:53:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ccqxscnapby3pev24a.file.preprod.core.windows.net/test-share-905e82a4-6a72-28a0-5bde-c41d93400673/test-directory-83721620-69d3-15e3-ff50-e2f19d4a697b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 02 Mar 2022 01:53:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FBEF81487842\u0022",
        "Last-Modified": "Wed, 02 Mar 2022 01:53:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-03-02T01:53:53.4401602Z",
        "x-ms-file-creation-time": "2022-03-02T01:53:53.4401602Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-03-02T01:53:53.4401602Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6636718055355906454*15040535609108930519",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ccqxscnapby3pev24a.file.preprod.core.windows.net/test-share-905e82a4-6a72-28a0-5bde-c41d93400673/test-directory-83721620-69d3-15e3-ff50-e2f19d4a697b/test-file-512e1e5e-58d1-0a30-f06d-59af4beb1ff1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 02 Mar 2022 01:53:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FBEF8152FFA5\u0022",
        "Last-Modified": "Wed, 02 Mar 2022 01:53:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-03-02T01:53:53.5091621Z",
        "x-ms-file-creation-time": "2022-03-02T01:53:53.5091621Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-03-02T01:53:53.5091621Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "3642658080986097841*15040535609108930519",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://ccqxscnapby3pev24a.file.preprod.core.windows.net/test-share-905e82a4-6a72-28a0-5bde-c41d93400673/test-directory-83721620-69d3-15e3-ff50-e2f19d4a697b/test-file-512e1e5e-58d1-0a30-f06d-59af4beb1ff1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 02 Mar 2022 01:53:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "wHT3IixE0u6sMGgTtOT3sgzCMTE/6O2xt47PwgPKOC48gm0X\u002BHV8afIAEqJM85UlJsQ9Ljg\u002BWdeHRmuddQ/r4vc61zF337qXRsc/PtVKZcT5qZs/jAn1/iiVkLEJ3/PiFTCqERxjrUYJpuhw/xsBPOGmo8tzrFXuRNgI4k8IjWfUXCiln1OolvxVNeYhhP4Nk1PQYjsobmnbvMxDWsr3ARiBnKLyXJ2N/g3OHnZvzb/a\u002B077OCorq\u002B6/yeKGZDsxXjTNn\u002BhbGze1QmQtWU/zbO8NaF98\u002B8jtVfG0MpK6B5nSnMBCoS3Xft8XRvXG/VGezF3yefvbtWJr30r3puik\u002BjvKW7yPscrCNep/ZLXTJ1efFmY0x42e9udd1sHi4Nf3c0u6/KKVDxuTMEQRW1GtmLjyV5CBbzKtLGXVMdoI[...]
    {
      "RequestUri": "https://ccqxscnapby3pev24a.file.preprod.core.windows.net/test-share-905e82a4-6a72-28a0-5bde-c41d93400673/test-directory-83721620-69d3-15e3-ff50-e2f19d4a697b/test-file-512e1e5e-58d1-0a30-f06d-59af4beb1ff1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://ccqxscnapby3pev24a.file.preprod.core.windows.net/test-share-905e82a4-6a72-28a0-5bde-c41d93400673/test-directory-83721620-69d3-15e3-ff50-e2f19d4a697b/test-file-512e1e5e-58d1-0a30-f06d-59af4beb1ff1",
        "x-ms-date": "Wed, 02 Mar 2022 01:53:54 GMT",
        "x-ms-file-copy-ignore-readonly": "true",
        "x-ms-file-copy-set-archive": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FBEF8190CC42\u0022",
        "Last-Modified": "Wed, 02 Mar 2022 01:53:53 GMT",
        "x-ms-copy-id": "d090aec6-f51c-4800-89df-7615ffab8299",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ccqxscnapby3pev24a.file.preprod.core.windows.net/test-share-23b10072-bbbf-9d6a-11fd-d3e6312ae5c6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 02 Mar 2022 01:53:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ccqxscnapby3pev24a.file.preprod.core.windows.net/test-share-905e82a4-6a72-28a0-5bde-c41d93400673?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 02 Mar 2022 01:53:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "722523032",
    "Storage_TestConfigDefault": "ProductionTenant\nccqxscnapby3pev24a\nU2FuaXRpemVk\nhttps://ccqxscnapby3pev24a.blob.core.windows.net\nhttps://ccqxscnapby3pev24a.file.preprod.core.windows.net\nhttps://ccqxscnapby3pev24a.queue.core.windows.net\nhttps://ccqxscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://ccqxscnapby3pev24a-secondary.blob.core.windows.net\nhttps://ccqxscnapby3pev24a-secondary.file.core.windows.net\nhttp://ccqxscnapby3pev24a-secondary.queue.core.windows.net\nhttps://ccqxscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://ccqxscnapby3pev24a.blob.core.windows.net/;QueueEndpoint=https://ccqxscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://ccqxscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ccqxscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://ccqxscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ccqxscnapby3pev24a-secondary.file.core.windows.net/;AccountName=ccqxscnapby3pev24a;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
