{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-18b28eb6-859e-a4c5-7f9e-f19188828508?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 23:07:35 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E8EE8ECF4F1\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 23:07:35 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-18b28eb6-859e-a4c5-7f9e-f19188828508/test-directory-06d896ed-993b-40ee-8b58-fd832feb9ba5?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 23:07:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E8EE8FEA703\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 23:07:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-11T23:07:35.5673347Z",
        "x-ms-file-creation-time": "2019-12-11T23:07:35.5673347Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-11T23:07:35.5673347Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-18b28eb6-859e-a4c5-7f9e-f19188828508/test-directory-06d896ed-993b-40ee-8b58-fd832feb9ba5/test-file-b5470999-0b85-12f5-f5ae-f63aa5e679ec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 11 Dec 2019 23:07:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E8EE90BA1F2\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 23:07:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-11T23:07:35.6524018Z",
        "x-ms-file-creation-time": "2019-12-11T23:07:35.6524018Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-11T23:07:35.6524018Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-18b28eb6-859e-a4c5-7f9e-f19188828508/test-directory-06d896ed-993b-40ee-8b58-fd832feb9ba5/test-file-b5470999-0b85-12f5-f5ae-f63aa5e679ec?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 23:07:35 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "5S1IpVwlSP0hnEfOVonJljUbR55D0gfhAxljbXCeRDM\u002BneO56YswNT1H\u002BhesVykNJzFRMWkmkRMmZ6FDwdqNg1gUj7mlEKyp6hJh\u002B9fvNavvVkU\u002BTBLJGAvPkoLp7XNiuna\u002Bl8dwZxeEp0dXxJY7NjH2U2uVTjZGSneu1n4pwP2e/0BhMZ3jf\u002B4uuaXLclN0k1xQ85kIzGw/eExPwZGZWudKucVV2gWUEtR9Z5SRetgkOUIh2cxjljLUIbhQk71dlV69gbmOH7hWvOHEi2XXrf10K4hOd4Eb5iKSgbhNQ34XH9E10/kelRqKyxzqngrM/HS622g1Dx3dopqW\u002B54ACXhjrWuTodkEVpVtxKxkMEcYxYREkmgV4RC0WDFeh5l8icGkh/CfOVqatoXSx0txeHJTfjYZvHcQTcxa30mo[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-18b28eb6-859e-a4c5-7f9e-f19188828508/test-directory-06d896ed-993b-40ee-8b58-fd832feb9ba5/test-file-b5470999-0b85-12f5-f5ae-f63aa5e679ec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.file.core.windows.net/test-share-18b28eb6-859e-a4c5-7f9e-f19188828508/test-directory-06d896ed-993b-40ee-8b58-fd832feb9ba5/test-file-b5470999-0b85-12f5-f5ae-f63aa5e679ec",
        "x-ms-date": "Wed, 11 Dec 2019 23:07:36 GMT",
        "x-ms-file-attributes": "ReadOnly|Archive",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "x-ms-file-permission-copy-mode": "override",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E8EE95C331D\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 23:07:36 GMT",
        "x-ms-copy-id": "c66ea05a-e52e-44ff-a99b-a25978fe274c",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-18b28eb6-859e-a4c5-7f9e-f19188828508/test-directory-06d896ed-993b-40ee-8b58-fd832feb9ba5/test-file-b5470999-0b85-12f5-f5ae-f63aa5e679ec",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 23:07:36 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77E8EE95C331D\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 23:07:36 GMT",
        "x-ms-copy-completion-time": "Wed, 11 Dec 2019 23:07:36 GMT",
        "x-ms-copy-id": "c66ea05a-e52e-44ff-a99b-a25978fe274c",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://seanstagetest.file.core.windows.net/test-share-18b28eb6-859e-a4c5-7f9e-f19188828508/test-directory-06d896ed-993b-40ee-8b58-fd832feb9ba5/test-file-b5470999-0b85-12f5-f5ae-f63aa5e679ec",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2019-12-11T23:07:36.1804061Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "16713728419002454479*422928105932735866",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d37b330d-bac5-7126-64a4-a92531c25864?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 23:07:36 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-18b28eb6-859e-a4c5-7f9e-f19188828508?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 23:07:36 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2122681621",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}