{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5b075725-d59c-8231-18c3-666500403436?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 20:38:33 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E7A172A36D7\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 20:38:33 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5b075725-d59c-8231-18c3-666500403436/test-file-5367d658-1813-9546-1067-6f0f7e5ceecc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 11 Dec 2019 20:38:33 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E7A17386C88\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 20:38:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-11T20:38:33.6898184Z",
        "x-ms-file-creation-time": "2019-12-11T20:38:33.6898184Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-11T20:38:33.6898184Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5b075725-d59c-8231-18c3-666500403436/test-file-5367d658-1813-9546-1067-6f0f7e5ceecc?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 20:38:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "YeZTC/dhZpHgJougS6dK\u002BbKrSkCU8Krt\u002BJV6aNOf/tM/Vx2c/v78gQrJhBa/9MijqUO0xjbwmnA8ZRNi5/2\u002BQCi3YfSKrfq0r8g2ymyTLQPN17\u002BQ6jedTrysYJjqmpoMC0PuB5PTGPtIABdtuc8EqTgQlA89LVbxGhI33k1hyRQuKb8opSVw\u002Br7ER\u002BogMJXtp7Zg2gWKzt3t/O2Amzqt5jYCPo8P2wMSn5pQeeZr0Ol9SjaWAe8Po1viO6g3716EF2CzHfEF3suzTjprOlX2gSsEA1EEFuVH85o0LaBb2rA8zGKGuLP3d2tq47K0o2kF67l8M\u002BsMgAF7aylX0LArV3OJLm3zcMl4DIzlmTIykk8wL0Hn36bFL0tgCkyJoKa6P4w\u002BKnT7EnrwAyZfJubOSNnaJqFvQ3jNxP8[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5b075725-d59c-8231-18c3-666500403436/test-file-5367d658-1813-9546-1067-6f0f7e5ceecc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 20:38:33 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77E7A17451681\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 20:38:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-11T20:38:33.6898184Z",
        "x-ms-file-creation-time": "2019-12-11T20:38:33.6898184Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-11T20:38:33.6898184Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "YeZTC/dhZpHgJougS6dK\u002BbKrSkCU8Krt\u002BJV6aNOf/tM/Vx2c/v78gQrJhBa/9MijqUO0xjbwmnA8ZRNi5/2\u002BQCi3YfSKrfq0r8g2ymyTLQPN17\u002BQ6jedTrysYJjqmpoMC0PuB5PTGPtIABdtuc8EqTgQlA89LVbxGhI33k1hyRQuKb8opSVw\u002Br7ER\u002BogMJXtp7Zg2gWKzt3t/O2Amzqt5jYCPo8P2wMSn5pQeeZr0Ol9SjaWAe8Po1viO6g3716EF2CzHfEF3suzTjprOlX2gSsEA1EEFuVH85o0LaBb2rA8zGKGuLP3d2tq47K0o2kF67l8M\u002BsMgAF7aylX0LArV3OJLm3zcMl4DIzlmT[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5b075725-d59c-8231-18c3-666500403436?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 20:38:33 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1856665832",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}