{
  "Entries": [
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-3f82311b-58d1-594a-694a-555e460a61cd?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D2203138223D\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-3f82311b-58d1-594a-694a-555e460a61cd/test-directory-ffaa00d5-acc4-e74a-16aa-babc943c57db?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:36 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D22031446ED9\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-01-07T20:56:35.6990681Z",
        "x-ms-file-creation-time": "2022-01-07T20:56:35.6990681Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-01-07T20:56:35.6990681Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10502926625530500462*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-3f82311b-58d1-594a-694a-555e460a61cd/test-directory-ffaa00d5-acc4-e74a-16aa-babc943c57db/test-file-3ba257b8-2139-831c-dfd4-a4fc305fe672",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:36 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D2203151B520\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-07T20:56:35.7860640Z",
        "x-ms-file-creation-time": "2022-01-07T20:56:35.7860640Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-01-07T20:56:35.7860640Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-9bd88629-b431-62fe-5e44-917916182ac2/test-directory-094a5f8a-0f8f-eceb-16f2-cc322cae2e73/test-file-5203d7a1-125f-3220-e3fd-ea07cf8efa64",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9D22031720E71\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-07T20:56:35.9980657Z",
        "x-ms-file-creation-time": "2022-01-07T20:56:35.9980657Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-01-07T20:56:35.9980657Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-3f82311b-58d1-594a-694a-555e460a61cd/test-directory-ffaa00d5-acc4-e74a-16aa-babc943c57db/test-file-3ba257b8-2139-831c-dfd4-a4fc305fe672?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:36 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "fqZcQ5bUmyeScxTjTcnBOPw3R1Xov6USorOBVzON39UsbUlNc1QjhqaKx1/M0pKC88NYMOhKPL4ASqDjU0TzBZM/tt\u002BAdMSoFMCuXfdGRdAg/mNwNa/s4TGKTSmzQDNilsLMjRuzAn7\u002Brxwom97HuQTPwlTgg9DkUtWu9iab9NSNTMc1eri1bPzlcYWTxEZSwpMk5H3egRPx6DpFBQxYY7tImk4XkT9MGVVX\u002BxFLUI6PXDOTdxBWr8uzQ5J\u002Bb2fwjQ7JSir3OjFT2MonhoUBppertqnZxOur8eqDZE2tzanuZ24DgQVkmCECP55FLihFsp370rm9F8giHlk/c9bjpgogOR4X/iWRRh6H1oVNZcLCPrGwsvvwMFCm4GKsJSVLHpiUJPUJLbR3aoubNkBC1bmWfDQkMvQOMAjOcR3D5CH4O7fsuEHMuRD[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-9bd88629-b431-62fe-5e44-917916182ac2/test-directory-094a5f8a-0f8f-eceb-16f2-cc322cae2e73/test-file-5203d7a1-125f-3220-e3fd-ea07cf8efa64?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-3f82311b-58d1-594a-694a-555e460a61cd/test-directory-ffaa00d5-acc4-e74a-16aa-babc943c57db/test-file-3ba257b8-2139-831c-dfd4-a4fc305fe672?sv=2021-06-08\u0026se=2022-01-08T20%3A56%3A36Z\u0026sr=f\u0026sp=r\u0026sig=Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:36 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D220319CA101\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:36 GMT",
        "x-ms-content-crc64": "vdSZg0WSntU=",
        "x-ms-file-last-write-time": "2022-01-07T20:56:35.9980657Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-9bd88629-b431-62fe-5e44-917916182ac2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:36 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-3f82311b-58d1-594a-694a-555e460a61cd?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:36 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-01-07T14:56:36.6042488-06:00",
    "RandomSeed": "1550515480",
    "Storage_TestConfigDefault": "ProductionTenant\n0c2xscnapby3pev24a\nU2FuaXRpemVk\nhttps://0c2xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.file.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.queue.core.windows.net\nhttps://0c2xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://0c2xscnapby3pev24a-secondary.blob.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.file.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.queue.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://0c2xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://0c2xscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=0c2xscnapby3pev24a;AccountKey=Kg==;\nseanscope1\n\n"
  }
}