{
  "Entries": [
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-352fd6cc-7e2d-c502-5074-6dd263e5df2a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:44 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D2203600356F\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-352fd6cc-7e2d-c502-5074-6dd263e5df2a/test-directory-386e176d-0331-6804-91a9-39d3cc7d27e3?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D220360B2377\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-01-07T20:56:43.7121911Z",
        "x-ms-file-creation-time": "2022-01-07T20:56:43.7121911Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-01-07T20:56:43.7121911Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10502926625530500462*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-352fd6cc-7e2d-c502-5074-6dd263e5df2a/test-directory-386e176d-0331-6804-91a9-39d3cc7d27e3/test-%C6%92%C2%A1%C2%A3%E2%82%AC%E2%80%BD%253A-f8df8b37-4daa-fc2f-3541-f8bcd736729e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D22036153584\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-07T20:56:43.7781892Z",
        "x-ms-file-creation-time": "2022-01-07T20:56:43.7781892Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-01-07T20:56:43.7781892Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-352fd6cc-7e2d-c502-5074-6dd263e5df2a/test-directory-386e176d-0331-6804-91a9-39d3cc7d27e3/test-%C6%92%C2%A1%C2%A3%E2%82%AC%E2%80%BD%253A-f8df8b37-4daa-fc2f-3541-f8bcd736729e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:44 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "Q54cgGWh5KoSm03tkkOCQ/gElmoTbfBpHBtQvdBYQdHVP1oL3/zClac15g//QWrxv7XE06AHi9aus2NKUCfZuVl8GFPpdmP7QgHD3obgadqwXv0alG4xzrSEXCyZd0R/Wy21gykXCEhRyJGfQ6xPzUmJmfIpvyXrS0meZBk3Ysq8Q4NZK\u002BawmVa1ycvckosHNI/iD95SVpwHyjjgeKQuGmbH4v8p9qJi2P\u002Bcc/VaDrm\u002BljCKVFLrau3nUWCu0CGxh65kFa\u002BL3j3sgDbetuKmrbt\u002BIeF0o8UU23gSQqVBswje6uxG9fgJMrjyntQbDLMKQKOlL64/PePpUDk2eZyYq8wuAMv2X7jCde4pgQXx\u002BM7EBwEBnINanqwIXaS/07kcWvIH7QzoFOHr4rq/Frze91hqcXGalg5I1GEf7QEUA6E1D[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-352fd6cc-7e2d-c502-5074-6dd263e5df2a/test-directory-386e176d-0331-6804-91a9-39d3cc7d27e3/destFile",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D22036282170\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-07T20:56:43.9021936Z",
        "x-ms-file-creation-time": "2022-01-07T20:56:43.9021936Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2022-01-07T20:56:43.9021936Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-352fd6cc-7e2d-c502-5074-6dd263e5df2a/test-directory-386e176d-0331-6804-91a9-39d3cc7d27e3/destFile?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-352fd6cc-7e2d-c502-5074-6dd263e5df2a/test-directory-386e176d-0331-6804-91a9-39d3cc7d27e3/test-%C6%92%C2%A1%C2%A3%E2%82%AC%E2%80%BD%253A-f8df8b37-4daa-fc2f-3541-f8bcd736729e?sv=2021-06-08\u0026st=2022-01-07T19%3A56%3A44Z\u0026se=2022-01-07T21%3A56%3A44Z\u0026sr=s\u0026sp=rcwdl\u0026sig=Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:44 GMT",
        "x-ms-range": "bytes=256-511",
        "x-ms-source-range": "bytes=512-767",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D220363408AA\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:43 GMT",
        "x-ms-content-crc64": "3x2hSjY016g=",
        "x-ms-file-last-write-time": "2022-01-07T20:56:43.9802026Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-352fd6cc-7e2d-c502-5074-6dd263e5df2a/test-directory-386e176d-0331-6804-91a9-39d3cc7d27e3/test-%C6%92%C2%A1%C2%A3%E2%82%AC%E2%80%BD%253A-f8df8b37-4daa-fc2f-3541-f8bcd736729e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:44 GMT",
        "x-ms-range": "bytes=512-767",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-767/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9D220361ED28B\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-07T20:56:43.8411915Z",
        "x-ms-file-creation-time": "2022-01-07T20:56:43.7781892Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-01-07T20:56:43.8411915Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "HR9VMCFDP2hB63l36XlT2D8pSIi3UYnnTccV4T4oNDgGXbKUGc3HPjCUxjJFCHNY8fdQwwTtScyWbuNaLV0qGLZBcYzGvr5yYglYIopWoUVUvfBG13EzGRPm/qvqbRHSaq18BJfnkTI43mD7lSdCQMydBnBt40FFDVh44MASiPX4hbfc2ZytbCu9DfkQOIPso77eTGegZIdsN/c/brFyJlZrAg9vZmYw75lFsNVHNdTUjDwCNDuOVyAwb6Klbv55SueipDZzfD1XrlzNW7SxJAIiauF0cPEa3KrvPvbEi4Gay2XupZCeYRD/qoXfwPxsf0qgggQcBdr1iMeLhD1Gkw=="
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-352fd6cc-7e2d-c502-5074-6dd263e5df2a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-01-07T14:56:44.3871637-06:00",
    "RandomSeed": "578165766",
    "Storage_TestConfigDefault": "ProductionTenant\n0c2xscnapby3pev24a\nU2FuaXRpemVk\nhttps://0c2xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.file.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.queue.core.windows.net\nhttps://0c2xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://0c2xscnapby3pev24a-secondary.blob.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.file.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.queue.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://0c2xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://0c2xscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=0c2xscnapby3pev24a;AccountKey=Kg==;\nseanscope1\n\n"
  }
}