{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-57c16238-9b53-8a6a-0609-9e0586cae7ae?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230EF50EA72\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:10 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-57c16238-9b53-8a6a-0609-9e0586cae7ae/test-directory-82080e1d-c5ef-a135-eb55-8e180ebf9f1b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230EF5ABCA7\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-26T19:31:10.2845095Z",
        "x-ms-file-creation-time": "2021-01-26T19:31:10.2845095Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-26T19:31:10.2845095Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-57c16238-9b53-8a6a-0609-9e0586cae7ae/test-directory-82080e1d-c5ef-a135-eb55-8e180ebf9f1b/test-file-93935b0e-fed5-4d35-cfc6-5b76da3b8133",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C230EF645B09\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:31:10.3475465Z",
        "x-ms-file-creation-time": "2021-01-26T19:31:10.3475465Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:31:10.3475465Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-57c16238-9b53-8a6a-0609-9e0586cae7ae/test-directory-82080e1d-c5ef-a135-eb55-8e180ebf9f1b/test-file-93935b0e-fed5-4d35-cfc6-5b76da3b8133?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:11 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-write": "update"
      },
      "RequestBody": "/YbErjbYjdA2sCOisfqSqkkzKlq8EP/YwswFmZsHdWgbnWhTUTrQXE\u002BMtLsa3t5GU5nZ3rfdIu2G7Oxq0/Q1Lzu6hxORPlgOYs0KMFxEvePtv0UBLZewPXt7zWVNZolaV4WAYFbLtBVAynvq0vKQQi4JfBSvMwGjCUmYFXDzwftEsNnWw12MIgovwWIbxmuJ6oo2Q\u002Bl1qyOD3FYMMp6kTQl/piEYuX7QfVoJf3KeiELeDyrlvH0SzgW1U\u002BcGf\u002B9ri3RZmyBJcDEMZcaPayux5VMULiN0v5CLbdccY2aWyv1rnfT\u002BRO0hlJ752Ve2gmLZA26T8lDM98vjzi1JLQzKdZvJJM43s6Bm8pqEeuU51ep0QmD4A9esn6YoGna/2GaSL2O77V6Uok/OLf\u002B2R3zmqvhC1Oqs0XLDHIUnDpkppxkz8[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-57c16238-9b53-8a6a-0609-9e0586cae7ae?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:11 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "757242458",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}