{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-321ae1e4-5907-55a3-e38f-6da2e31bcb6f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Aug 2020 18:44:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D84B82558E2987\u0022",
        "Last-Modified": "Fri, 28 Aug 2020 18:44:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-321ae1e4-5907-55a3-e38f-6da2e31bcb6f/test-directory-818af530-3339-5c42-efa8-770602633aae?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Aug 2020 18:44:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D84B8255959649\u0022",
        "Last-Modified": "Fri, 28 Aug 2020 18:44:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-08-28T18:44:02.6623561Z",
        "x-ms-file-creation-time": "2020-08-28T18:44:02.6623561Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-08-28T18:44:02.6623561Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-321ae1e4-5907-55a3-e38f-6da2e31bcb6f/test-directory-818af530-3339-5c42-efa8-770602633aae/test-file-4d4da8f2-bbaa-a47d-8266-fc0dc4902bc8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Fri, 28 Aug 2020 18:44:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D84B82559D38D1\u0022",
        "Last-Modified": "Fri, 28 Aug 2020 18:44:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-08-28T18:44:02.7123921Z",
        "x-ms-file-creation-time": "2020-08-28T18:44:02.7123921Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-08-28T18:44:02.7123921Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-321ae1e4-5907-55a3-e38f-6da2e31bcb6f/test-directory-818af530-3339-5c42-efa8-770602633aae/test-file-4d4da8f2-bbaa-a47d-8266-fc0dc4902bc8?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Aug 2020 18:44:03 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "/Da9YAOJ3OMrCWlR/yaDSBBEmeUD/i5Ji5zNq0rRxXLxipAfLfpqSNwVDJ8QmuUcaJylRCb/GP4IdNVmuzCZWkP3X3SWYxsV2VAI7vGOOfG3sUKtK4FL8nKRF7klA42se7JbGTpxhgWAj2rV9yoNeTrjrwrt6y/Cq20CBUxi8NXDXHI/MyC2RSs9LZsXdftHg51\u002BQVSDvo\u002BCmW3Nb4C5HZ\u002BUEpq3zkYaLGnfsL6TqjZxuoGu5K6BP57jvJqy6daqgw/7gmJgj7VXYxXqpA3Q7\u002B43W7T/CjnxEtL81BKraEOSNCyvlyfTESrMV4GZlpuQEsyre40iq3nWCnCPY7ujq/vRWG/hIVfHZEqKM7O4WHw3bMJFAO22cImz2Y23Q61vKKuGxz4rrvB15BdCmHfFHrLzWPf4XasNG\u002BfmLUjKDyCcGgoHMpA9C73R0BvWc9gR7rvaw\u002Bu2dssAeKxWRYGoqtX2pn1tvewitUw5J42PN6gP1D\u002BN70s05qQ/B7nk58U8KCVG38xaozDPuA2efE49cEAERnFBG7qJwcDYLrUyPc6H/f5nSFjbtDAPvjc\u002BlmlVAZd54KBU\u002Bg1rvR0MgXV6nHo/F35Q1ifoKJFAMl2DSytWgy0euF0tMgPw/Is6zjK7lCG8/n/qBSpvkbcPE8iw53Lytv5HW\u002BQdEuR7X9qcrlo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "6/HrNUXRhRVWEDaQbmqm2g==",
        "ETag": "\u00220x8D84B8255A3C9B3\u0022",
        "Last-Modified": "Fri, 28 Aug 2020 18:44:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-321ae1e4-5907-55a3-e38f-6da2e31bcb6f/test-directory-818af530-3339-5c42-efa8-770602633aae/test-file-4d4da8f2-bbaa-a47d-8266-fc0dc4902bc8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Aug 2020 18:44:03 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D84B8255A3C9B3\u0022",
        "Last-Modified": "Fri, 28 Aug 2020 18:44:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-08-28T18:44:02.7123921Z",
        "x-ms-file-creation-time": "2020-08-28T18:44:02.7123921Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-08-28T18:44:02.7123921Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "/Da9YAOJ3OMrCWlR/yaDSBBEmeUD/i5Ji5zNq0rRxXLxipAfLfpqSNwVDJ8QmuUcaJylRCb/GP4IdNVmuzCZWkP3X3SWYxsV2VAI7vGOOfG3sUKtK4FL8nKRF7klA42se7JbGTpxhgWAj2rV9yoNeTrjrwrt6y/Cq20CBUxi8NXDXHI/MyC2RSs9LZsXdftHg51\u002BQVSDvo\u002BCmW3Nb4C5HZ\u002BUEpq3zkYaLGnfsL6TqjZxuoGu5K6BP57jvJqy6daqgw/7gmJgj7VXYxXqpA3Q7\u002B43W7T/CjnxEtL81BKraEOSNCyvlyfTESrMV4GZlpuQEsyre40iq3nWCnCPY7ujq/vRWG/hIVfHZEqKM7O4WHw3bMJFAO22cImz2Y23Q61vKKuGxz4rrvB15BdCmHfFHrLzWPf4XasNG\u002BfmLUjKDyCcGgoHMpA9C73R0BvWc9gR7rvaw\u002Bu2dssAeKxWRYGoqtX2pn1tvewitUw5J42PN6gP1D\u002BN70s05qQ/B7nk58U8KCVG38xaozDPuA2efE49cEAERnFBG7qJwcDYLrUyPc6H/f5nSFjbtDAPvjc\u002BlmlVAZd54KBU\u002Bg1rvR0MgXV6nHo/F35Q1ifoKJFAMl2DSytWgy0euF0tMgPw/Is6zjK7lCG8/n/qBSpvkbcPE8iw53Lytv5HW\u002BQdEuR7X9qcrlo="
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-321ae1e4-5907-55a3-e38f-6da2e31bcb6f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Aug 2020 18:44:03 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1407377138",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}