{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-59d26c0e-f4e2-c569-f8c6-5f30a286db28?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:33:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D326D3A3E29\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:33:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-59d26c0e-f4e2-c569-f8c6-5f30a286db28/test-file-2eeceefa-79a5-7e20-c732-29101561ee6d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Tue, 10 Dec 2019 05:33:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D326D48BFE3\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:33:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-10T05:33:03.1535587Z",
        "x-ms-file-creation-time": "2019-12-10T05:33:03.1535587Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-10T05:33:03.1535587Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-59d26c0e-f4e2-c569-f8c6-5f30a286db28/test-file-2eeceefa-79a5-7e20-c732-29101561ee6d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:33:03 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "WG8I2MBt4/LcHGF1nfuLGcBNSZo6vskjSRKaJYmm5gTUe12ZWAnEcV5MmWOl41Jcgj8xzG5WOpql5Y\u002Bu0r1oNjVcoCGd8sG2iNc87iVmfmbAPqNKdBmWfkHD83N6Fp\u002Bg42ItSEIwvpB9e0SWGUt1PmYp7ZQaHcIbxiLf2v5NO3E4nAvCODUjkIASzPjV/2T2TrUMUSgKhcWgEoIfUOOSMD/SXn1AsgYxBV0TCFHJRsa96YtIQOpILRdFIiazAz\u002Bcf5y5A6HntZuu20vL93x01sy7YmZXSe9ViTBm\u002BpDgfgEedom0EEIl1TPwmmWefTaa0Uta96HYRTWsY3lwgbsLzl1KrYDzv8aJlowyZ6\u002BKtgv6yylFhYdgRTFTB6zItFR45MsIVNC1phGE0GEUpt2FIq1udrWSxkjV6WdPoLgZwOE4uoPjgWI7RCUXwLQmTJ9TzeT/Wj6e5h6DMmtoZgZZahB/2\u002BxaoaBLMzGQegWTr53I\u002B9LTGmWimtNkYE/30t0fvlWkpnCy\u002BSxDsycMDmsY74LNn2s0hVCq3UEY9UFRVGBUcLuw7gksFQGmj2Y\u002BlYxoTHHMKTJx6zgF\u002BskvmgPq8l/GuJ2vaAB4oYpqjfbpbEe1sKnPhCou4oWCqvRA/Xv\u002Bu50Gd93vuONwU4eoB11CHI6BeepZG201mNUXLb0LOKM=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "\u002B9w2LIr7vFHyM2vLEpatUQ==",
        "ETag": "\u00220x8D77D326D556849\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:33:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-59d26c0e-f4e2-c569-f8c6-5f30a286db28/test-file-2eeceefa-79a5-7e20-c732-29101561ee6d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:33:03 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77D326D556849\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:33:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-10T05:33:03.1535587Z",
        "x-ms-file-creation-time": "2019-12-10T05:33:03.1535587Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-10T05:33:03.1535587Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "WG8I2MBt4/LcHGF1nfuLGcBNSZo6vskjSRKaJYmm5gTUe12ZWAnEcV5MmWOl41Jcgj8xzG5WOpql5Y\u002Bu0r1oNjVcoCGd8sG2iNc87iVmfmbAPqNKdBmWfkHD83N6Fp\u002Bg42ItSEIwvpB9e0SWGUt1PmYp7ZQaHcIbxiLf2v5NO3E4nAvCODUjkIASzPjV/2T2TrUMUSgKhcWgEoIfUOOSMD/SXn1AsgYxBV0TCFHJRsa96YtIQOpILRdFIiazAz\u002Bcf5y5A6HntZuu20vL93x01sy7YmZXSe9ViTBm\u002BpDgfgEedom0EEIl1TPwmmWefTaa0Uta96HYRTWsY3lwgbsLzl1KrYDzv8aJlowyZ6\u002BKtgv6yylFhYdgRTFTB6zItFR45MsIVNC1phGE0GEUpt2FIq1udrWSxkjV6WdPoLgZwOE4uoPjgWI7RCUXwLQmTJ9TzeT/Wj6e5h6DMmtoZgZZahB/2\u002BxaoaBLMzGQegWTr53I\u002B9LTGmWimtNkYE/30t0fvlWkpnCy\u002BSxDsycMDmsY74LNn2s0hVCq3UEY9UFRVGBUcLuw7gksFQGmj2Y\u002BlYxoTHHMKTJx6zgF\u002BskvmgPq8l/GuJ2vaAB4oYpqjfbpbEe1sKnPhCou4oWCqvRA/Xv\u002Bu50Gd93vuONwU4eoB11CHI6BeepZG201mNUXLb0LOKM="
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-59d26c0e-f4e2-c569-f8c6-5f30a286db28?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:33:03 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1376080126",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}