{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7de8ec6a-b11a-a31a-983e-bb707c58568d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 06:01:22 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D3662517796\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 06:01:22 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7de8ec6a-b11a-a31a-983e-bb707c58568d/test-directory-5cd89d77-021c-7504-d919-c37c2860d941?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 06:01:22 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D36625FD1F1\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 06:01:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-10T06:01:22.8367345Z",
        "x-ms-file-creation-time": "2019-12-10T06:01:22.8367345Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-10T06:01:22.8367345Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7de8ec6a-b11a-a31a-983e-bb707c58568d/test-directory-5cd89d77-021c-7504-d919-c37c2860d941/test-file-52ce5678-178c-b719-a5c7-7f50cf9c19f5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 10 Dec 2019 06:01:22 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D36626CA4DF\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 06:01:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-10T06:01:22.9207775Z",
        "x-ms-file-creation-time": "2019-12-10T06:01:22.9207775Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-10T06:01:22.9207775Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7de8ec6a-b11a-a31a-983e-bb707c58568d/test-directory-5cd89d77-021c-7504-d919-c37c2860d941/test-file-52ce5678-178c-b719-a5c7-7f50cf9c19f5?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 06:01:23 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "udlWcWB/jrB5PbP1gyHpRhZyyMna8y8BIRfjmFqGIJQlaKi7eZ0vLAuacol6EM49JRQkFBqSM8apVU9Im/VV8x0ezxp5Lsx5Q5u\u002BQIGmhxFIpnNFYQt6kzTiESRN5pEWRH9sW0C0xPdHq9F\u002B1PNFA80\u002B//SBEJIRozzllhyoLFwKqPsBOivQlOJ8/bU5/L5AnQ1WD\u002BaclDTtWrgEzi3ann90cyz4Q8mhbWoSBRLc16Z9pfkOUhx1bhPGFN9yzMa1oV42xYmSSFlEtKF7io8hEIIShykzy0xi/wQYMS/pL6GkXGOzphId6lyfyp17\u002BeSEpQNdYESdgdYS08WEeRYqWoUA1y0sbWpv9JzMlACu5wUglIwrjM5cBtuModJMmHBGdXAYeyK3VzeY7Wuo0e3VY\u002BzAY\u002BWK/s23o9FRn8yY[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7de8ec6a-b11a-a31a-983e-bb707c58568d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 06:01:23 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "626751605",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}