{
  "Entries": [
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-e11af94f-5e1a-bad8-c86f-54a19bec66e2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:44 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829BAF74244EA\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 19:03:46 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-e11af94f-5e1a-bad8-c86f-54a19bec66e2/test-directory-dc2a1219-c80a-cdd1-9bf9-a83ba72b0391?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829BAF754D19B\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 19:03:46 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-07-16T19:03:46.3112091Z",
        "x-ms-file-creation-time": "2020-07-16T19:03:46.3112091Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-07-16T19:03:46.3112091Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10468614340527976405*17986492168883239004",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-e11af94f-5e1a-bad8-c86f-54a19bec66e2/test-directory-dc2a1219-c80a-cdd1-9bf9-a83ba72b0391/test-file-7a768877-8bc4-c6f6-e51a-64a245c8653e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829BAF764B2FD\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 19:03:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-07-16T19:03:46.4152829Z",
        "x-ms-file-creation-time": "2020-07-16T19:03:46.4152829Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-07-16T19:03:46.4152829Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5853609782263189714*17986492168883239004",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-e11af94f-5e1a-bad8-c86f-54a19bec66e2/test-directory-dc2a1219-c80a-cdd1-9bf9-a83ba72b0391/test-file-7a768877-8bc4-c6f6-e51a-64a245c8653e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12",
        "x-ms-write": "update"
      },
      "RequestBody": "8Qa3GZlehIHwy9JE2nGJXuSAkt/ljtz4mMy/8qQKwTOHOsqAYmppGAT1ivi4sexzkAW\u002BxTWFWGIpvoDMn5Hd5gqfvJ\u002BmCfx6Fnrb8ATkQObfS2KfS/z9AuFnVqPpnHlyF6TuGPRMzIYIRK67qWdeRX6a7VMuPpoNorq9P7JYkHkAaNlf9Sfykn7blgdNQlh6CBElT68lQ9kJ4HY5j43UsLM0ukGO/lBWqFrVU6iSwF9iQzahM0HK2yX/VhSwuAPwB\u002BZTGIgX7ArBzqZUUPAxdiAX10xXMnxxat4bjqg7pu9X5EvCP6fXS1Ys32SadYs0zt/zmeG3mNRp4a6p\u002B11hhSi3/Wukbzd4P4v1K1IY1/RT57/JRwwOoEt3WV34LlD4ylo743gfkF\u002BnelpVwm2BUAq6VROemD0bqFwgLBbagBE7/GH43P[...]
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-e11af94f-5e1a-bad8-c86f-54a19bec66e2/test-directory-dc2a1219-c80a-cdd1-9bf9-a83ba72b0391/destFile",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829BAF778B3D6\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 19:03:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-07-16T19:03:46.5463766Z",
        "x-ms-file-creation-time": "2020-07-16T19:03:46.5463766Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2020-07-16T19:03:46.5463766Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5853609782263189714*17986492168883239004",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-e11af94f-5e1a-bad8-c86f-54a19bec66e2/test-directory-dc2a1219-c80a-cdd1-9bf9-a83ba72b0391/destFile?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:45 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "8f8a3bf6-eae0-1437-802f-5310d85f338c",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829BAF778B3D6\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 19:03:46 GMT",
        "x-ms-lease-id": "8f8a3bf6-eae0-1437-802f-5310d85f338c",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-e11af94f-5e1a-bad8-c86f-54a19bec66e2/test-directory-dc2a1219-c80a-cdd1-9bf9-a83ba72b0391/destFile?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmccprodca.file.core.windows.net/test-share-e11af94f-5e1a-bad8-c86f-54a19bec66e2/test-directory-dc2a1219-c80a-cdd1-9bf9-a83ba72b0391/test-file-7a768877-8bc4-c6f6-e51a-64a245c8653e?sv=2019-12-12\u0026st=2020-07-16T18%3A03%3A45Z\u0026se=2020-07-16T20%3A03%3A45Z\u0026sr=s\u0026sp=rcwdl\u0026sig=Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:45 GMT",
        "x-ms-lease-id": "8f8a3bf6-eae0-1437-802f-5310d85f338c",
        "x-ms-range": "bytes=256-511",
        "x-ms-source-range": "bytes=512-767",
        "x-ms-version": "2019-12-12",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829BAF796EFBB\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 19:03:46 GMT",
        "x-ms-content-crc64": "NASdVNdacL0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-e11af94f-5e1a-bad8-c86f-54a19bec66e2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:45 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-07-16T14:03:45.5304040-05:00",
    "RandomSeed": "874603943",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmccprodca\nU2FuaXRpemVk\nhttps://seanmccprodca.blob.core.windows.net\nhttps://seanmccprodca.file.core.windows.net\nhttps://seanmccprodca.queue.core.windows.net\nhttps://seanmccprodca.table.core.windows.net\n\n\n\n\nhttps://seanmccprodca-secondary.blob.core.windows.net\nhttps://seanmccprodca-secondary.file.core.windows.net\nhttps://seanmccprodca-secondary.queue.core.windows.net\nhttps://seanmccprodca-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmccprodca.blob.core.windows.net/;QueueEndpoint=https://seanmccprodca.queue.core.windows.net/;FileEndpoint=https://seanmccprodca.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccprodca-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccprodca-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccprodca-secondary.file.core.windows.net/;AccountName=seanmccprodca;AccountKey=Kg==;\nseanscope1"
  }
}