{
  "Entries": [
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-a4d8df69-0b60-c07a-ce57-f8b9843f221b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:37 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829BAF2C4D557\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 19:03:38 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-a4d8df69-0b60-c07a-ce57-f8b9843f221b/test-directory-ce42e495-d430-0bb8-f658-c11376c0582f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829BAF2D491E1\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 19:03:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-07-16T19:03:38.7598305Z",
        "x-ms-file-creation-time": "2020-07-16T19:03:38.7598305Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-07-16T19:03:38.7598305Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10468614340527976405*17986492168883239004",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-a4d8df69-0b60-c07a-ce57-f8b9843f221b/test-directory-ce42e495-d430-0bb8-f658-c11376c0582f/test-file-641daf5f-6b93-ff79-6ce4-f99541198da5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829BAF2E5FA2E\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 19:03:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-07-16T19:03:38.8739118Z",
        "x-ms-file-creation-time": "2020-07-16T19:03:38.8739118Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-07-16T19:03:38.8739118Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5853609782263189714*17986492168883239004",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-a4d8df69-0b60-c07a-ce57-f8b9843f221b/test-directory-ce42e495-d430-0bb8-f658-c11376c0582f/test-file-641daf5f-6b93-ff79-6ce4-f99541198da5?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:37 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12",
        "x-ms-write": "update"
      },
      "RequestBody": "BnZF05vV0WvJJFi7AC1k6tHxP84z7bdiKSUXeBVpnaAu8ESBpfUFit6xm24Tvf4\u002Bfw7DUNm\u002Bchm/4ql2vlhWX4e4jRDo40Xc67XwgVJJT2sm2PkHpk3GcH0rwsJLj8yFWzvnWjDuVpzI52UkzfHGdpM9T\u002BVfT7k68hySvCCDkFzoayUXYvQ6OIFcPr7ooaKMZEwvDj/mJQyBrGgUXJl7RVYIPGLLrxOeAhdjAhD7UlB6BVfUVIIcAkUZlbWMJtvn4Pln32VAwbU4kAsngiL8hloXmVZCp/HU6zocshleEdw7fCEXk3LrOkSim8N39X8iHA9adIyFpTkIk/MrIw6b2n4v6wYB5PLoLF8RnwwtXfa6\u002BpUJBJ1PttboDwB/wBY1B8FERwl4ITgdckgtcwUs2jX8cCh5kdbh4DUvGNXyaGxI25hL6BXsQdh[...]
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-a4d8df69-0b60-c07a-ce57-f8b9843f221b/test-directory-ce42e495-d430-0bb8-f658-c11376c0582f/destFile",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829BAF2F602A9\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 19:03:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-07-16T19:03:38.9789865Z",
        "x-ms-file-creation-time": "2020-07-16T19:03:38.9789865Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2020-07-16T19:03:38.9789865Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5853609782263189714*17986492168883239004",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-a4d8df69-0b60-c07a-ce57-f8b9843f221b/test-directory-ce42e495-d430-0bb8-f658-c11376c0582f/destFile?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmccprodca.file.core.windows.net/test-share-a4d8df69-0b60-c07a-ce57-f8b9843f221b/test-directory-ce42e495-d430-0bb8-f658-c11376c0582f/test-file-641daf5f-6b93-ff79-6ce4-f99541198da5?sv=2019-12-12\u0026st=2020-07-16T18%3A03%3A37Z\u0026se=2020-07-16T20%3A03%3A37Z\u0026sr=s\u0026sp=rcwdl\u0026sig=Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:37 GMT",
        "x-ms-range": "bytes=256-511",
        "x-ms-source-range": "bytes=512-767",
        "x-ms-version": "2019-12-12",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829BAF308CACD\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 19:03:39 GMT",
        "x-ms-content-crc64": "6/XjPMtR5rM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-a4d8df69-0b60-c07a-ce57-f8b9843f221b/test-directory-ce42e495-d430-0bb8-f658-c11376c0582f/test-file-641daf5f-6b93-ff79-6ce4-f99541198da5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:38 GMT",
        "x-ms-range": "bytes=512-767",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-767/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D829BAF2EEAE57\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 19:03:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-07-16T19:03:38.8739118Z",
        "x-ms-file-creation-time": "2020-07-16T19:03:38.8739118Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-07-16T19:03:38.8739118Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5853609782263189714*17986492168883239004",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "ggz\u002B3Ee6sSv5kvjTkCQGZA/ypmLl3cCbbXM9TuJmnj1/gRoU\u002B/rs90W7Po\u002BWRj2VvFmJ0\u002BsIdaRMY27TfGNIk/O7VA8J8mkUBq4cKZ8wBCc2qJGJ3MtRdgt1x5eLGHric6qb2/Iui8rvdMw87EwFG15HndTRvrcnad0DlCrSie4zOrb0lCg1CBzHmmf\u002BFYq/b6w4Q3qlELTzc3EUKvefHeveCLGVEYY2EpW4CSRPKVRTRCR\u002BmUVzjikCACC3IN0lKH18IAzYKV0lAjHl7QePo0odwebSIIOlanqIkxBlfvK3kuGm0whIehrGWZYUjqAicl3WmV/3Uwj51raRUJZNvw=="
    },
[...]
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-a4d8df69-0b60-c07a-ce57-f8b9843f221b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-07-16T14:03:37.8771998-05:00",
    "RandomSeed": "55914574",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmccprodca\nU2FuaXRpemVk\nhttps://seanmccprodca.blob.core.windows.net\nhttps://seanmccprodca.file.core.windows.net\nhttps://seanmccprodca.queue.core.windows.net\nhttps://seanmccprodca.table.core.windows.net\n\n\n\n\nhttps://seanmccprodca-secondary.blob.core.windows.net\nhttps://seanmccprodca-secondary.file.core.windows.net\nhttps://seanmccprodca-secondary.queue.core.windows.net\nhttps://seanmccprodca-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmccprodca.blob.core.windows.net/;QueueEndpoint=https://seanmccprodca.queue.core.windows.net/;FileEndpoint=https://seanmccprodca.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccprodca-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccprodca-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccprodca-secondary.file.core.windows.net/;AccountName=seanmccprodca;AccountKey=Kg==;\nseanscope1"
  }
}