{
  "Entries": [
    {
      "RequestUri": "https://oauthfilerest3.file.core.windows.net/test-share-dcb801f2-9e98-98d8-4a1c-049d9282f461?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E13E09ABA509\u0022",
        "Last-Modified": "Thu, 27 Jan 2022 02:38:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://oauthfilerest3.file.core.windows.net/test-share-dcb801f2-9e98-98d8-4a1c-049d9282f461/test-directory-935f4cde-085a-6610-793b-323f3d01b04f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E13E09B664CF\u0022",
        "Last-Modified": "Thu, 27 Jan 2022 02:38:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-01-27T02:38:01.6806095Z",
        "x-ms-file-creation-time": "2022-01-27T02:38:01.6806095Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-01-27T02:38:01.6806095Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15786088493850344481*12954698658981292968",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://oauthfilerest3.file.core.windows.net/test-share-dcb801f2-9e98-98d8-4a1c-049d9282f461/test-directory-935f4cde-085a-6610-793b-323f3d01b04f/test-file-c796a376-27ea-315b-f5c4-cb7cf10dcdde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E13E09E117FF\u0022",
        "Last-Modified": "Thu, 27 Jan 2022 02:38:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-27T02:38:01.9604479Z",
        "x-ms-file-creation-time": "2022-01-27T02:38:01.9604479Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-01-27T02:38:01.9604479Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1975036839435879206*12954698658981292968",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://oauthfilerest3.file.core.windows.net/test-share-dcb801f2-9e98-98d8-4a1c-049d9282f461/test-directory-935f4cde-085a-6610-793b-323f3d01b04f/test-file-c796a376-27ea-315b-f5c4-cb7cf10dcdde?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "RWbMtRGaYao9DIG3dt75b1sKZ1opK7nfhtXwhXDN65KeFu5LBWBBceon4PtGwcaT32aN3uz9lRms7C47qdw6byHuGWDwrWr7yPVwAUq\u002BmcUOXaUJPw2moYHUnhgyBccN7XHaV6dmojL8khX2jZPO7VNoLUw3MS8TSHjeGw9SycIuYhTZ5EEeqLpzDa33rxTtBrHEydh61rtBxg8vh4cjqslTyCp/9AgSSoSSwySCHJhj8RVdjf/ps4tYmB4x7iAzUGPjpOfpbRGosn5T6BKXvql2y5ZxxRzJaRSfJ1zq4FtkX3PBn3exeoMEtduAlct4wNl0uyKKwYpGGTvSSUa0vtEi74mf1h8yxFESbQ9BSdNJJmaDdSU52Z7oeoU83jE8T/YJXaVC2eq5QvbRd1N7BNBoiSLfMUms6Rbqtlua9uYg1h4YOOstB018yTIvZ2JKbXa11F[...]
    {
      "RequestUri": "https://oauthfilerest3.file.core.windows.net/test-share-dcb801f2-9e98-98d8-4a1c-049d9282f461?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1087419524",
    "Storage_TestConfigOAuth": "OAuthTenant\noauthfilerest3\nU2FuaXRpemVk\nhttps://oauthfilerest3.blob.core.windows.net\nhttps://oauthfilerest3.file.core.windows.net\nhttp://oauthfilerest3.queue.core.windows.net\nhttp://oauthfilerest3.table.core.windows.net\n\n\n\n\nhttp://oauthfilerest3-secondary.blob.core.windows.net\nhttp://oauthfilerest3-secondary.file.core.windows.net\nhttp://oauthfilerest3-secondary.queue.core.windows.net\nhttp://oauthfilerest3-secondary.table.core.windows.net\ndc57b189-cd6a-485e-beb1-dd71492b0a92\nSanitized\n922923f3-36c9-4663-b1d7-68e670802ae1\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://oauthfilerest3.blob.core.windows.net/;QueueEndpoint=http://oauthfilerest3.queue.core.windows.net/;FileEndpoint=https://oauthfilerest3.file.core.windows.net/;BlobSecondaryEndpoint=http://oauthfilerest3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://oauthfilerest3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://oauthfilerest3-secondary.file.core.windows.net/;AccountName=oauthfilerest3;AccountKey=Sanitized\n\njaschrep\n25c81a3f-c3f0-41c0-8453-4f699167c22d"
  }
}