{
  "Entries": [
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-b2503682-dc73-25ee-41ef-194f814e51f5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jan 2022 19:05:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D535634FDA2E\u0022",
        "Last-Modified": "Tue, 11 Jan 2022 19:05:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-b2503682-dc73-25ee-41ef-194f814e51f5/test-directory-a50247f8-17a0-e8c7-8bef-57c735a0e7f2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jan 2022 19:05:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D535635BDD83\u0022",
        "Last-Modified": "Tue, 11 Jan 2022 19:05:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-01-11T19:05:52.6583683Z",
        "x-ms-file-creation-time": "2022-01-11T19:05:52.6583683Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-01-11T19:05:52.6583683Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10502926625530500462*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-b2503682-dc73-25ee-41ef-194f814e51f5/test-directory-a50247f8-17a0-e8c7-8bef-57c735a0e7f2/test-file-e408a452-9572-c0f2-285c-cb4d8a41e523",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 11 Jan 2022 19:05:52 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D53563663DF9\u0022",
        "Last-Modified": "Tue, 11 Jan 2022 19:05:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-11T19:05:52.7263737Z",
        "x-ms-file-creation-time": "2022-01-11T19:05:52.7263737Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-01-11T19:05:52.7263737Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-b2503682-dc73-25ee-41ef-194f814e51f5/test-directory-a50247f8-17a0-e8c7-8bef-57c735a0e7f2/test-file-e408a452-9572-c0f2-285c-cb4d8a41e523",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jan 2022 19:05:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9D53563663DF9\u0022",
        "Last-Modified": "Tue, 11 Jan 2022 19:05:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-11T19:05:52.7263737Z",
        "x-ms-file-creation-time": "2022-01-11T19:05:52.7263737Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-01-11T19:05:52.7263737Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-b2503682-dc73-25ee-41ef-194f814e51f5/test-directory-a50247f8-17a0-e8c7-8bef-57c735a0e7f2/test-file-e408a452-9572-c0f2-285c-cb4d8a41e523?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 11 Jan 2022 19:05:52 GMT",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "aMWwdZa\u002BtZm7wuRqWof3uUzkbEgAlDwKq2oedZnfBsg8S0qj2aN\u002BZg2L5I5bD/9\u002B7EzXzOQFDtOIpckrn0D/3LwcLQ49U\u002BCoZgY6dK\u002Btr5tqoIhNCDnjNj12GzPZUsfNiwjSPuHxQZlsLmbey5kk2/Yuwf\u002B3stOCOfbRxjiszxQ/bOmn2nC6eV7v4drTBWujUj89q5DIFtg0UAXqH3tgv19Sn16vfACGc0egx9H5rjSLLnP4byODdlYRcopqz1njjiF7gWUN89Y/tjdJJ04HO6HRX/EHaFA7zigHngp2G6TtvDivfi3OfTqduLjrOk8ICjfomHBo3CbRP7I9BlTLyZuTW2sVV7xzA\u002BK3aa\u002BYT5TZ/pTSjYIzheAS3j96kHbl0e8cWN7j87J6dJWOsXJ2Oe8eZAjA\u002BT[...]
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-b2503682-dc73-25ee-41ef-194f814e51f5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jan 2022 19:05:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "813601102",
    "Storage_TestConfigDefault": "ProductionTenant\n0c2xscnapby3pev24a\nU2FuaXRpemVk\nhttps://0c2xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.file.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.queue.core.windows.net\nhttps://0c2xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://0c2xscnapby3pev24a-secondary.blob.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.file.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.queue.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://0c2xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://0c2xscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=0c2xscnapby3pev24a;AccountKey=Kg==;\nseanscope1\n\n"
  }
}