{
  "Entries": [
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-f12e0346-4881-df31-1cd3-839778344e7a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:45 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807E51B40A9\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:02:44 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-f12e0346-4881-df31-1cd3-839778344e7a/test-directory-e54318fb-926b-65cc-3798-b62a9eaebe2f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807E5270FA9\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:02:44 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-12-07T04:02:44.7259561Z",
        "x-ms-file-creation-time": "2022-12-07T04:02:44.7259561Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-12-07T04:02:44.7259561Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8650070825487796121*17630419429429764568",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-f12e0346-4881-df31-1cd3-839778344e7a/test-directory-e54318fb-926b-65cc-3798-b62a9eaebe2f/test-file-4f8707aa-b63d-acc6-d8f8-2502cca8ba42.",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD807E531E525\u0022",
        "Last-Modified": "Wed, 07 Dec 2022 04:02:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-12-07T04:02:44.7969573Z",
        "x-ms-file-creation-time": "2022-12-07T04:02:44.7969573Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-12-07T04:02:44.7969573Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1629230238038922942*17630419429429764568",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-f12e0346-4881-df31-1cd3-839778344e7a/test-directory-e54318fb-926b-65cc-3798-b62a9eaebe2f/test-file-4f8707aa-b63d-acc6-d8f8-2502cca8ba42.?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02",
        "x-ms-write": "update"
      },
      "RequestBody": "/QISaia1hbI\u002BjWaOhp1LJ0sheaNtS3dhbdswsHdp7nllhaT9hrN\u002B9YHVEK9QOCY7rf62qy8X1bKKsP1KhNU61J7sKAD5TaCYo4MhlzrHETS19AJ5s0NKTa/yc9a2M3CsmjwRYxAlQWBdHQis9T13wp7IlZDSwSFaotpQB9nK4m8Sdf3\u002Btq0kj7KiG5U7nlhxerA37Z7g2dkatsE11TqGkzuYmX9AeAzxpAbdMKWLHwOC3owpkvXQMZwk4wDr7rl4G4haogTYMQKkRkmYA6kzj5a\u002Bs/euXQFFx2fjHJQLBbVMZRUcMXz\u002Bqa2KhEyrOC7z8FRpLTvCyr2HFNqd9BRtmECUS52TF14avwlKI9m0mo848Cw/odd5iptXlRyhYbWYHOsLF\u002ByQX9n2Tm4yeKbk0npLZAToLvdpGsECPIFBeV1Ts[...]
[...]
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-f12e0346-4881-df31-1cd3-839778344e7a/test-directory-e54318fb-926b-65cc-3798-b62a9eaebe2f/test-file-12be2713-8dcf-ddd3-35c4-955eabce7e8a.?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-copy-source": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-f12e0346-4881-df31-1cd3-839778344e7a/test-directory-e54318fb-926b-65cc-3798-b62a9eaebe2f/test-file-4f8707aa-b63d-acc6-d8f8-2502cca8ba42.?sv=2023-01-03\u0026se=2022-12-08T04%3A02%3A45Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:45 GMT",
        "x-ms-range": "bytes=256-511",
        "x-ms-source-range": "bytes=512-767",
        "x-ms-version": "2022-11-02",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003EServer failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\n",
        "RequestId:781bff98-601a-0002-56f0-09e805000000\n",
        "Time:2022-12-07T04:02:45.1015716Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://2iqxscnapby3pev24a.file.preprod.core.windows.net/test-share-f12e0346-4881-df31-1cd3-839778344e7a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 04:02:45 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-12-06T22:02:45.5896797-06:00",
    "RandomSeed": "670990984",
    "Storage_TestConfigDefault": "ProductionTenant\n2iqxscnapby3pev24a\nU2FuaXRpemVk\nhttps://2iqxscnapby3pev24a.blob.core.windows.net\nhttps://2iqxscnapby3pev24a.file.preprod.core.windows.net\nhttps://2iqxscnapby3pev24a.queue.core.windows.net\nhttps://2iqxscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://2iqxscnapby3pev24a-secondary.blob.core.windows.net\nhttps://2iqxscnapby3pev24a-secondary.file.core.windows.net\nhttps://2iqxscnapby3pev24a-secondary.queue.core.windows.net\nhttps://2iqxscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://2iqxscnapby3pev24a.blob.core.windows.net/;QueueEndpoint=https://2iqxscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://2iqxscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://2iqxscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://2iqxscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://2iqxscnapby3pev24a-secondary.file.core.windows.net/;AccountName=2iqxscnapby3pev24a;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
