{
  "Entries": [
    {
      "RequestUri": "https://kasobolcanadacentral.file.core.windows.net/test-share-f562c782-39d7-be11-02c4-89c08edc2489?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 15:55:03 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94ACD926B6616\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 15:55:03 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadacentral.file.core.windows.net/test-share-f562c782-39d7-be11-02c4-89c08edc2489/test-file-9276f378-8ea9-4a53-a1f8-513dc02829f4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Mon, 19 Jul 2021 15:55:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94ACD9278B48B\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 15:55:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-19T15:55:03.5771019Z",
        "x-ms-file-creation-time": "2021-07-19T15:55:03.5771019Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-07-19T15:55:03.5771019Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17737392480967489306*6811422022089678740",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadacentral.file.core.windows.net/test-share-f562c782-39d7-be11-02c4-89c08edc2489/test-file-9276f378-8ea9-4a53-a1f8-513dc02829f4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 19 Jul 2021 15:55:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "Cf\u002BkXvbkuky87j7BUWE0pqec\u002Bmb7SLhTU8u5hkmUFi1ZfGA/b1awWrhJnmINnj/4ClX6f2D2KsFHUQsrKzMCKNgRaNQA9DZQ65\u002BtsapVRbSLwHz0mZfNY1Gf\u002BB5KhC\u002BER3WK/DZq9xUfqZPASHkW8gxXn2q3DY9BRAWDYfwYBWdwKGk0ykl9Ichn1e8DDBrYiAYR8\u002BTEzTrmSbcx5pYYBqMsTyAP4SfC2X6hTzifPTfrq9j2BhKCq1svToGRTDoyTs5L17z6yKbeThpmI34CRguARju\u002BIgCRqaTE4JOmMYxDbwFpU2Z68eMxF7f3G4jcLQh2EQb/cyvOuS0YNecTOB2NI7R8mfKlBVVYjQpImo4b57OKLyCGQ/vVmpo4Yrz7Hd\u002BaafjUYJQW0Quwp\u002BUghh\u002Bf/[...]
[...]
    {
      "RequestUri": "https://kasobolcanadacentral.file.core.windows.net/test-share-f562c782-39d7-be11-02c4-89c08edc2489/test-file-9276f378-8ea9-4a53-a1f8-513dc02829f4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 15:55:03 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D94ACD92A71FF5\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 15:55:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-19T15:55:03.5771019Z",
        "x-ms-file-creation-time": "2021-07-19T15:55:03.5771019Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-07-19T15:55:03.5771019Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17737392480967489306*6811422022089678740",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "Cf\u002BkXvbkuky87j7BUWE0pqec\u002Bmb7SLhTU8u5hkmUFi1ZfGA/b1awWrhJnmINnj/4ClX6f2D2KsFHUQsrKzMCKNgRaNQA9DZQ65\u002BtsapVRbSLwHz0mZfNY1Gf\u002BB5KhC\u002BER3WK/DZq9xUfqZPASHkW8gxXn2q3DY9BRAWDYfwYBWdwKGk0ykl9Ichn1e8DDBrYiAYR8\u002BTEzTrmSbcx5pYYBqMsTyAP4SfC2X6hTzifPTfrq9j2BhKCq1svToGRTDoyTs5L17z6yKbeThpmI34CRguARju\u002BIgCRqaTE4JOmMYxDbwFpU2Z68eMxF7f3G4jcLQh2EQb/cyvOuS0YNecTOB2NI7R8mfKlBVVYjQ[...]
    {
      "RequestUri": "https://kasobolcanadacentral.file.core.windows.net/test-share-f562c782-39d7-be11-02c4-89c08edc2489?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 15:55:04 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "635278314",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttps://kasobolcanadacentral.blob.core.windows.net\nhttps://kasobolcanadacentral.file.core.windows.net\nhttps://kasobolcanadacentral.queue.core.windows.net\nhttps://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttps://kasobolcanadacentral-secondary.blob.core.windows.net\nhttps://kasobolcanadacentral-secondary.file.core.windows.net\nhttps://kasobolcanadacentral-secondary.queue.core.windows.net\nhttps://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=https://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=https://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=https://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}