{
  "Entries": [
    {
      "RequestUri": "https://kasobolcanadacentral.file.core.windows.net/test-share-68cb6cc4-9c9c-f506-2205-3f6beb7c740b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 15:55:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94ACD921854EA\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 15:55:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadacentral.file.core.windows.net/test-share-68cb6cc4-9c9c-f506-2205-3f6beb7c740b/test-file-ebe1d5ed-efb1-121e-8064-f2b1184e2fe5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 19 Jul 2021 15:55:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94ACD922666E4\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 15:55:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-19T15:55:03.0377188Z",
        "x-ms-file-creation-time": "2021-07-19T15:55:03.0377188Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-07-19T15:55:03.0377188Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17737392480967489306*6811422022089678740",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadacentral.file.core.windows.net/test-share-68cb6cc4-9c9c-f506-2205-3f6beb7c740b/test-file-ebe1d5ed-efb1-121e-8064-f2b1184e2fe5?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 19 Jul 2021 15:55:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "7FDUXVBMOwCpMKQkT22o9Q3j3Ja9uPaClm1TzFOmnpN8AsC7dagxvrqPQmQeqkFxc8JqZSy1ZjNaUcbj\u002BG\u002BsA5EQqEyt7YBlsh7bLnaSZOwr4ViROzlnxpyMYCThTcVL4z7SDQH1xIZBBLMO2Ti9yO3auBcWG8dXqeGwIIxchGRYkEs4v1bqNR3STzeFWe1jz5g2BpWuNMh2e2QgRaP55YBPtUnshAiW8IP5RMuQ0lD0TFD0JX3OqluDwUTyyvB52Gm2NaOjdkqPoBYRtPD85agTK/hSBb8CgArtacPEpCaSgGxh2ZysUNUGZIVnvPZrhtub3p74JtKptLWZtg2HyvvwfzSDmgsMZtoiTKA6m8MUguLnKMaHmlmZtyXnE5rIfpmJdj3B5\u002BzPj3fD1dkybxjxhTMqn6I1aeXa6uLmJVNAWs4GsCWGUpr2F5lO[...]
    {
      "RequestUri": "https://kasobolcanadacentral.file.core.windows.net/test-share-68cb6cc4-9c9c-f506-2205-3f6beb7c740b/test-file-ebe1d5ed-efb1-121e-8064-f2b1184e2fe5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 15:55:03 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D94ACD923D4E6A\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 15:55:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-19T15:55:03.0377188Z",
        "x-ms-file-creation-time": "2021-07-19T15:55:03.0377188Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-07-19T15:55:03.0377188Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17737392480967489306*6811422022089678740",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "7FDUXVBMOwCpMKQkT22o9Q3j3Ja9uPaClm1TzFOmnpN8AsC7dagxvrqPQmQeqkFxc8JqZSy1ZjNaUcbj\u002BG\u002BsA5EQqEyt7YBlsh7bLnaSZOwr4ViROzlnxpyMYCThTcVL4z7SDQH1xIZBBLMO2Ti9yO3auBcWG8dXqeGwIIxchGRYkEs4v1bqNR3STzeFWe1jz5g2BpWuNMh2e2QgRaP55YBPtUnshAiW8IP5RMuQ0lD0TFD0JX3OqluDwUTyyvB52Gm2NaOjdkqPoBYRtPD85agTK/hSBb8CgArtacPEpCaSgGxh2ZysUNUGZIVnvPZrhtub3p74JtKptLWZtg2HyvvwfzSDmgsMZtoiTKA6m8MUguLnKMaHmlmZtyXnE5r[...]
    {
      "RequestUri": "https://kasobolcanadacentral.file.core.windows.net/test-share-68cb6cc4-9c9c-f506-2205-3f6beb7c740b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 15:55:03 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1815806524",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttps://kasobolcanadacentral.blob.core.windows.net\nhttps://kasobolcanadacentral.file.core.windows.net\nhttps://kasobolcanadacentral.queue.core.windows.net\nhttps://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttps://kasobolcanadacentral-secondary.blob.core.windows.net\nhttps://kasobolcanadacentral-secondary.file.core.windows.net\nhttps://kasobolcanadacentral-secondary.queue.core.windows.net\nhttps://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=https://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=https://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=https://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}