{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5dff82b1-8903-0fa0-4280-0e7024a8834b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:59:46 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D3628AE8D80\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:59:46 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5dff82b1-8903-0fa0-4280-0e7024a8834b/test-directory-0b3ac3d6-cf14-962a-f3f4-ed8536ac135e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:59:46 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D3628BCB180\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:59:46 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-10T05:59:46.1375360Z",
        "x-ms-file-creation-time": "2019-12-10T05:59:46.1375360Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-10T05:59:46.1375360Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5dff82b1-8903-0fa0-4280-0e7024a8834b/test-directory-0b3ac3d6-cf14-962a-f3f4-ed8536ac135e/test-file-ae853528-e6fc-70ff-017a-e2e637980f61",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 10 Dec 2019 05:59:46 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D3628CA209A\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:59:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-10T05:59:46.2255770Z",
        "x-ms-file-creation-time": "2019-12-10T05:59:46.2255770Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-10T05:59:46.2255770Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5dff82b1-8903-0fa0-4280-0e7024a8834b/test-directory-0b3ac3d6-cf14-962a-f3f4-ed8536ac135e/test-file-ae853528-e6fc-70ff-017a-e2e637980f61?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:59:46 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "RdUgSVpO9643usP32bgjOg8/7X3RptJhqxRJ9remyR1jySnlHRyUGRfUoEoC9we1HRD5ONOUvp8Dvp5GBQD2kfClkw\u002BOPhzyqtRm/AaHX7QNk9mmrJFKzguK4l5\u002BThQW3g9ZXGP3Jt/0B47\u002BLsGZfF/qOXEnUORfW8UEBFu\u002BdFvAUB73LQNQFWz6sqUCS6BJ8Wb/lBWi740q\u002BgCe8yKDNZIyPt6iok5bmSMELZ4/XQ8kuhP1v\u002BBGHWCRzDMCsiJJdnwSzw3Cp04Xo/rxncHu6pzxeTgPjnay7CB9EdUbWecBu7YiLY0BYRPE3RvlVICfouKWETjpOucFYOLtRZV5/EkT7\u002BILzL0P7xglS7FazJef3m7zhEiuGIDOHMyqExx9SuDS0WSdk9YkhyEgw\u002B42q5NLTmcnhngBZNd[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5dff82b1-8903-0fa0-4280-0e7024a8834b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:59:46 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1120211026",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}