{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e7622c0a-f2b8-db63-9ae3-007f08e9400e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C23100EE260B\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:39 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e7622c0a-f2b8-db63-9ae3-007f08e9400e/test-file-5479a5d7-b65d-f3b9-b06c-15eeb90d36d3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C23100F8CA04\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:31:39.8415876Z",
        "x-ms-file-creation-time": "2021-01-26T19:31:39.8415876Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-26T19:31:39.8415876Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e7622c0a-f2b8-db63-9ae3-007f08e9400e/test-file-5479a5d7-b65d-f3b9-b06c-15eeb90d36d3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:40 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-write": "update"
      },
      "RequestBody": "Ipi2JZbcc5hJj3B6\u002BopraGjNmb889vsEJD4Y4\u002B3F7B1/YdCpey\u002BsNIE\u002BHk4HrHND\u002BbfTi0twiCucsgBXw4\u002Brg6NS\u002B5i6we04IWQ9/det/XjK1eo18mDSDtmkDMkvVHHxk5qrtLDbiDfKmmnmMopT77SHje6kdpFDgOy\u002BFbQkCc3zTGk9AkjH7kyza1f369tPUB0Up8aDTB0JZzTEHXOCppGb8\u002BYgFu1sv56h8Qs6TJUQb8WXD2IGcP9MM5oUA9HZMMTGW/j1Ljkvp\u002Bco4VoSzxufs62u65YulYLm1ONTV7zMyMFGc/CcG0CLZ2h63o6lOmR\u002BdVAjKkQul8V1D1pW3FArWxmZzFsqApdtIoQus7bzQZl\u002B1OJrqZ19F9wrJwvmNYoXT4J1C24JU3O4tgfAAOMPgc7A1wdtv7J8HLR\u002B/9qMhu35FmQzfjUrdYFus/KVvBb4G6U9JV2DqpDQ\u002Be\u002B5ilOYLDAaxup/2wOYlWKG/gy/5l\u002BdhuM0TmCQdmzUY4VFcest1obCe/UseUCipJD7/KuDERKQGwRvZN3PiVB\u002Bq3h\u002BUyR2WSiF/WtpcQyjkqnQlXnAUFFytVXnvXKp8vGlrs7IJFFrhKOC/hSmJqr3zNE0//TWvVomC53Oj5u23Ap5xMM\u002B2m5YZBHWPlI9y4\u002Br7/GgdPP9zvFzohiznfQIzCE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "8yfqHwyIMqEknautjOHuHQ==",
        "ETag": "\u00220x8D8C2310103EFA7\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:39 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e7622c0a-f2b8-db63-9ae3-007f08e9400e/test-file-5479a5d7-b65d-f3b9-b06c-15eeb90d36d3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:40 GMT",
        "x-ms-range": "bytes=0-"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C2310103EFA7\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:31:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:31:39.9146407Z",
        "x-ms-file-creation-time": "2021-01-26T19:31:39.8415876Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-26T19:31:39.9146407Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "Ipi2JZbcc5hJj3B6\u002BopraGjNmb889vsEJD4Y4\u002B3F7B1/YdCpey\u002BsNIE\u002BHk4HrHND\u002BbfTi0twiCucsgBXw4\u002Brg6NS\u002B5i6we04IWQ9/det/XjK1eo18mDSDtmkDMkvVHHxk5qrtLDbiDfKmmnmMopT77SHje6kdpFDgOy\u002BFbQkCc3zTGk9AkjH7kyza1f369tPUB0Up8aDTB0JZzTEHXOCppGb8\u002BYgFu1sv56h8Qs6TJUQb8WXD2IGcP9MM5oUA9HZMMTGW/j1Ljkvp\u002Bco4VoSzxufs62u65YulYLm1ONTV7zMyMFGc/CcG0CLZ2h63o6lOmR\u002BdVAjKkQul8V1D1pW3FArWxmZzFsqApdtIoQus7bzQZl\u002B1OJrqZ19F9wrJwvmNYoXT4J1C24JU3O4tgfAAOMPgc7A1wdtv7J8HLR\u002B/9qMhu35FmQzfjUrdYFus/KVvBb4G6U9JV2DqpDQ\u002Be\u002B5ilOYLDAaxup/2wOYlWKG/gy/5l\u002BdhuM0TmCQdmzUY4VFcest1obCe/UseUCipJD7/KuDERKQGwRvZN3PiVB\u002Bq3h\u002BUyR2WSiF/WtpcQyjkqnQlXnAUFFytVXnvXKp8vGlrs7IJFFrhKOC/hSmJqr3zNE0//TWvVomC53Oj5u23Ap5xMM\u002B2m5YZBHWPlI9y4\u002Br7/GgdPP9zvFzohiznfQIzCE="
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e7622c0a-f2b8-db63-9ae3-007f08e9400e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:31:40 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1793322490",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}