{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-b5b440e5-d097-3cde-53fd-2ed9f1cac702?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:20:12 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B6CD369F86\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:20:12 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-b5b440e5-d097-3cde-53fd-2ed9f1cac702/test-directory-79fd2254-464d-8e68-0050-70c6601779ab?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:20:12 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B6CD428CBD\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:20:12 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-04-25T01:20:12.1597117Z",
        "x-ms-file-creation-time": "2020-04-25T01:20:12.1597117Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-04-25T01:20:12.1597117Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15599277547783403350*12727421398096584927",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-b5b440e5-d097-3cde-53fd-2ed9f1cac702/test-directory-79fd2254-464d-8e68-0050-70c6601779ab/test-file-b5d112b0-e75b-14c1-831e-16a8a8aff513",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Sat, 25 Apr 2020 01:20:12 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B6CD4DFCD7\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:20:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-04-25T01:20:12.2346711Z",
        "x-ms-file-creation-time": "2020-04-25T01:20:12.2346711Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-04-25T01:20:12.2346711Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1729393344912377937*12727421398096584927",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-b5b440e5-d097-3cde-53fd-2ed9f1cac702/test-directory-79fd2254-464d-8e68-0050-70c6601779ab/test-file-b5d112b0-e75b-14c1-831e-16a8a8aff513?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:20:12 GMT",
        "x-ms-lease-id": "8f2a7346-cb0b-d739-1153-0c66c3fd5bf5",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-12-12",
        "x-ms-write": "update"
      },
      "RequestBody": "uFz/3YtGaK1gk9nQZxuDLaJcsxRgClJlKvuTg7Cu\u002B5zfCRxlrpNqwock7QW\u002BRr9xqkfssly\u002BJK0JmbOPsuX8sZg98F3/HX8P8vGMOx1NpuM8Ithpwkg/IORuXBTf2g\u002BiJztsgFVhco3I3b9rMuiQu/PQUpANk\u002B9Q/tB4kMFqLxfh6RTh4CWN269KoeSI0\u002B383aAhD4h/lZRLHIKF6OHMXa2oiUjUrtrNQnfgwvEKxyrifLMgSCCPYlR/lsSjCPLOfkQ34EmlJy7FVMwRntOjQVRYo2wurBSMGCf0VRgWKjqEEkOt0\u002BfgPVWEWvRTfsSB21RvSmWGn9IvqscisdEVryqSjIuP9m5teGYWqVEgOZpjc3nEp9/U/XJwfiggvYyDb6vJwPE48eXmAdL\u002Bb/aADnEsvj5XUQdLvY8[...]
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-b5b440e5-d097-3cde-53fd-2ed9f1cac702?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:20:12 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1586490367",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}