{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-5984b03b-79c7-e038-1c4b-885e87a20c04?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:46 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D1C26ACF8\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:46 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-5984b03b-79c7-e038-1c4b-885e87a20c04/test-directory-7464c237-89fa-5ffd-55dc-8be20cb1aa94?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:47 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D1C322845\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:46 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:42:46.7733573Z",
        "x-ms-file-creation-time": "2021-01-21T20:42:46.7733573Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:42:46.7733573Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-5984b03b-79c7-e038-1c4b-885e87a20c04/test-directory-7464c237-89fa-5ffd-55dc-8be20cb1aa94/test-file-e7327767-044c-7b9b-f7cb-29aae4c4908d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:47 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D1C3E3865\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:42:46.8524133Z",
        "x-ms-file-creation-time": "2021-01-21T20:42:46.8524133Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:42:46.8524133Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-5984b03b-79c7-e038-1c4b-885e87a20c04/test-directory-7464c237-89fa-5ffd-55dc-8be20cb1aa94/test-file-e7327767-044c-7b9b-f7cb-29aae4c4908d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:47 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "9e416d7f-4560-307b-0649-74e6d379b98a",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D1C3E3865\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:46 GMT",
        "x-ms-lease-id": "9e416d7f-4560-307b-0649-74e6d379b98a",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-5984b03b-79c7-e038-1c4b-885e87a20c04/test-directory-7464c237-89fa-5ffd-55dc-8be20cb1aa94/test-file-e7327767-044c-7b9b-f7cb-29aae4c4908d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:47 GMT",
        "x-ms-lease-id": "9e416d7f-4560-307b-0649-74e6d379b98a",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "5JXdc\u002BnwoHlcYaA0u5Q\u002BM8Vset0JbXS8c/jStaa1JynPIilAy7f6Ds1/x2YVibQHV5apLP58ZXchIQDxHerTpjp2ZZlr/mcOcWsQiaUNpupEy10PDPoqUryxH6q2CPHirCAsniQam1kvmruTbNzRE3oWrVGMw5pASxLdut68V2h6LdyE4AfGKTAE33E\u002Bl\u002Bbf4AsvoFufVumG7FMRPeF6c0NSGT8ATDJzT4Mhh\u002BMoAbMs/dnTjLYN2tby/vS0tOxOiWwt7H6n35TYvFDYfs4GXuuf5D8Hp\u002BaNRD5oDU4\u002BvpuX0v52\u002BhQ1hB5F\u002Bs9lNVwI7KAIFc\u002BsRuKFoKdAP9JGmf61QKvQj2PXaWAhwqwWKA/iYCCtNanL6owb8Vps9UVM/2DRr/SxN108MatvioQ1bniXX[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-5984b03b-79c7-e038-1c4b-885e87a20c04?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:47 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "257394678",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}