{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d48e7352-609d-4961-28aa-260e19b0146d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:58 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D326A91D9E6\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:58 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d48e7352-609d-4961-28aa-260e19b0146d/test-directory-4140a87a-6432-5947-45b3-e47aca93f11c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:58 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D326A9FBE2C\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 05:32:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-10T05:32:58.6905132Z",
        "x-ms-file-creation-time": "2019-12-10T05:32:58.6905132Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-10T05:32:58.6905132Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d48e7352-609d-4961-28aa-260e19b0146d/test-directory-4140a87a-6432-5947-45b3-e47aca93f11c/test-file-df6bfe17-419b-4f6c-6d12-9cbe61347bf8?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:58 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "HQYwrz9BUYbXRFzFhroyC7Qy\u002B9/htUIIrgNBuFTQ0QbNq2L0aQ\u002BQ1q3kCFblp8mz35EJLjibF2fEKAE8/5gyB3JV99pYPqGkoiQy/K3rIgY6jtjCx6PNMpT6MEEOVNYUsgHjj7DuW6HwZIwUaBu62AX6AXHAcD/Ph8RGXQ5glk1OHUqsB5NWSzI30WIWucl4QFc8FFJkVEHBFAfrqP6TkM4\u002BxkrQDdBxo7Y/iJ7cuM76zRy2I4H66ckI6vOLa6I0o0GU1/N/qDKGynCbJcuj5Fs58Nrh3GxMRNyByCPd5TgTCuVdR\u002BHaeyXqL1kQXsP9ZQaYUnrIUsfUSJMW/d8PqeQ4iBrmRpx6XnS1960TO\u002BUYhGMdRJO\u002BS7ceiP9NxH5F2oV02NapFx9pHvQFE1sawQyt/Xl88mRRejxiyL2dLJn2b[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d48e7352-609d-4961-28aa-260e19b0146d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 05:32:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1688765465",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}