{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-acfec98d-d9bc-53a1-5615-7c245536fb98?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:26:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D779E2E0B5608E\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:26:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-acfec98d-d9bc-53a1-5615-7c245536fb98/test-file-1c51c8a5-85f2-72de-234d-c42b66fcb308",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2019 00:26:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D779E2E0C36A56\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:26:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-06T00:26:03.6687446Z",
        "x-ms-file-creation-time": "2019-12-06T00:26:03.6687446Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:26:03.6687446Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-acfec98d-d9bc-53a1-5615-7c245536fb98/test-file-1c51c8a5-85f2-72de-234d-c42b66fcb308?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:26:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "UVjE29N/d/RbW3qcZvzs1PqsFhankFuqEInOBCmxgbUDlWT83/yGuegb658TLzhOZdrigHJQPcD9GspKsHLLqdrFmdCY8PT9JVwti6W7luFQgJ9OzgBDslij/8UyPAl2T0HFTZZotnTl5VsVI7EbQoPp\u002BjDSfNvZgud39PEvy\u002BlTtztk9UhK58oqaemlLY\u002BmiLxBSELZo9Nm68uv8MGDthpxwmt2tkw6nxJmpxPxNFVY0Ws07YKnehNo/gp9m/cIprLPM2ojMNFwBqkvcvu/dLd1Vx9VT8iXykhYDbhBvAMaXgBgIQDqNKCaw\u002BbZdwcXqYlTCETYslfpOGkhyiIZL0mlFBT6XlO2iiJ\u002Bu4vivlJBQGQu7rS/QqupdumXyGl\u002BgZScM2LyHUo2nH0hWfbLB3oW4Iq96kCV5dJoUehqH8G4A[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-acfec98d-d9bc-53a1-5615-7c245536fb98/test-file-1c51c8a5-85f2-72de-234d-c42b66fcb308",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:26:03 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D779E2E0CFC6A9\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:26:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-06T00:26:03.6687446Z",
        "x-ms-file-creation-time": "2019-12-06T00:26:03.6687446Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:26:03.6687446Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "UVjE29N/d/RbW3qcZvzs1PqsFhankFuqEInOBCmxgbUDlWT83/yGuegb658TLzhOZdrigHJQPcD9GspKsHLLqdrFmdCY8PT9JVwti6W7luFQgJ9OzgBDslij/8UyPAl2T0HFTZZotnTl5VsVI7EbQoPp\u002BjDSfNvZgud39PEvy\u002BlTtztk9UhK58oqaemlLY\u002BmiLxBSELZo9Nm68uv8MGDthpxwmt2tkw6nxJmpxPxNFVY0Ws07YKnehNo/gp9m/cIprLPM2ojMNFwBqkvcvu/dLd1Vx9VT8iXykhYDbhBvAMaXgBgIQDqNKCaw\u002BbZdwcXqYlTCETYslfpOGkhyiIZL0mlFBT6XlO2iiJ\u002Bu4vivlJBQGQu[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-acfec98d-d9bc-53a1-5615-7c245536fb98?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:26:03 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2073857269",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}