{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-c0e1431b-118f-8fb9-2369-76f483983be6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D1ABDBF72\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-c0e1431b-118f-8fb9-2369-76f483983be6/test-directory-10f50d32-e48f-17d8-81e7-fdafa1bcd675?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D1AC8BA11\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:44 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:42:44.4046865Z",
        "x-ms-file-creation-time": "2021-01-21T20:42:44.4046865Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:42:44.4046865Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-c0e1431b-118f-8fb9-2369-76f483983be6/test-directory-10f50d32-e48f-17d8-81e7-fdafa1bcd675/test-file-b48dc4b2-3188-7355-a8ac-9eac454b4d6e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4D1AD258BC\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:42:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:42:44.4677308Z",
        "x-ms-file-creation-time": "2021-01-21T20:42:44.4677308Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:42:44.4677308Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-c0e1431b-118f-8fb9-2369-76f483983be6/test-directory-10f50d32-e48f-17d8-81e7-fdafa1bcd675/test-file-b48dc4b2-3188-7355-a8ac-9eac454b4d6e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:44 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "jiqX5csQ7ZmEBfjPCz2hrMbOLbITIl\u002B2cTNoWOexanpfnSuSUCzCkQAqOymGpx5asC4IUWdQk2vK4HSXqJSx05t\u002BcG4RDluaC5yy6Oc2MMkVDqi5qBgTDgnAyG\u002B3K\u002BhreWiOBzawSKLSbkXKnqqDk7CrgZns\u002BCqDa2JkUUXs4uC0R29/qCiTZcYF5jrSSHBfPDS/DKlOfoE9CpzUS/Zc5otlFVY7BOuHFxzT5hHwsCLyBBUQLdU2ZcjuQZ2MvxnQqQCubTMZJDhIN/WMe5dvTFp64UbgS7i2LrCOTMJO\u002BlgDAz0RQkPv2ODcx/XgquowfvVCEt3S711H\u002BD6Ci9d2\u002BjyciXhZXgoXiglmBITD1YTGXc7NDOh7MRPgyUoEbE0IZs24RCBy1yDqK4fUa\u002BvZhCK6vC0JqO[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-c0e1431b-118f-8fb9-2369-76f483983be6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:42:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "130257073",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}