{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a13dd26d-ecb0-378d-8c5f-a3e16e34c2e7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C23162CE9169\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:23 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a13dd26d-ecb0-378d-8c5f-a3e16e34c2e7/test-directory-200931f7-fc47-d0c3-0d6b-749189729f1a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:24 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C23162D91E86\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:24 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-26T19:34:24.0507526Z",
        "x-ms-file-creation-time": "2021-01-26T19:34:24.0507526Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-26T19:34:24.0507526Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a13dd26d-ecb0-378d-8c5f-a3e16e34c2e7/test-directory-200931f7-fc47-d0c3-0d6b-749189729f1a/test-file-884a449f-678f-91eb-8754-fb9997ce9347",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:24 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C23162E52EA3\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:34:24.1298083Z",
        "x-ms-file-creation-time": "2021-01-26T19:34:24.1298083Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:34:24.1298083Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a13dd26d-ecb0-378d-8c5f-a3e16e34c2e7/test-directory-200931f7-fc47-d0c3-0d6b-749189729f1a/test-file-884a449f-678f-91eb-8754-fb9997ce9347?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:24 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-write": "update"
      },
      "RequestBody": "MRP0eWDtG2WLHHmSKcww\u002BS2rt/tqlw8pxQkBfZwxFwn2h2Rv2itFk3caeJZMQm4SlD1B\u002BM\u002B6B5kDyrRW7J7IWgRwm6FnwB8BZiOETx953YKa7\u002Ble7x45O4DLbA937qfYUh2S3KbNqtMeQJKrNrd5iu0xvP21aWvlNmAhnFMQind8rP0B5gDbzUQVQK6LjQXIUeIhRjKpI\u002BiyrKVGqw6ADrYbLom5d6PsVe\u002B4nyi8WahaWEpx7kNF04kVTjlblSE2lTL4cF97D9k\u002BNPBC8IO/9lP961PDDx9y1lsApChpkcDOggr2w\u002BlJ3klxMrlTAuIFVVjmXqnNcoYShpkDe2qw1aMwdG14yTNpswwKUtxmH9N5\u002Bk/QgzMXABCE4zxPRmPewF0WI450jYwkfKqcwyCprGfGiYAb31FwGHNd9OX2Gm2pK5J/UPxFBW3CrAaIezzv2jbVibzjw\u002BALpQoaFpimLmI88peOKVxrgIQSWDNL5502bhmuIZGxxmixdKrxKu7UHH6kS4ikYbHaagg30GqswL5t5Kh/9wzQiywv3LWxeVaWPjy1ppsUkQxo1LeIevb9BbTshEZFVSRx08BbdYT8KPCyoJIu9hkiWFKbFiNVSBE2MtcAxfUQUOgXRNLbuRyIbKvG1tlkzg6aySv0qj8AG4uvJEOt\u002B2L6oVCpFrJHR58=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "VV6syrl0FeNB2Oco8NeInQ==",
        "ETag": "\u00220x8D8C23162F0A274\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:24 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a13dd26d-ecb0-378d-8c5f-a3e16e34c2e7/test-directory-200931f7-fc47-d0c3-0d6b-749189729f1a/test-file-884a449f-678f-91eb-8754-fb9997ce9347",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:25 GMT",
        "x-ms-range": "bytes=0-"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C23162F0A274\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:34:24.2048628Z",
        "x-ms-file-creation-time": "2021-01-26T19:34:24.1298083Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:34:24.2048628Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "MRP0eWDtG2WLHHmSKcww\u002BS2rt/tqlw8pxQkBfZwxFwn2h2Rv2itFk3caeJZMQm4SlD1B\u002BM\u002B6B5kDyrRW7J7IWgRwm6FnwB8BZiOETx953YKa7\u002Ble7x45O4DLbA937qfYUh2S3KbNqtMeQJKrNrd5iu0xvP21aWvlNmAhnFMQind8rP0B5gDbzUQVQK6LjQXIUeIhRjKpI\u002BiyrKVGqw6ADrYbLom5d6PsVe\u002B4nyi8WahaWEpx7kNF04kVTjlblSE2lTL4cF97D9k\u002BNPBC8IO/9lP961PDDx9y1lsApChpkcDOggr2w\u002BlJ3klxMrlTAuIFVVjmXqnNcoYShpkDe2qw1aMwdG14yTNpswwKUtxmH9N5\u002Bk/QgzMXABCE4zxPRmPewF0WI450jYwkfKqcwyCprGfGiYAb31FwGHNd9OX2Gm2pK5J/UPxFBW3CrAaIezzv2jbVibzjw\u002BALpQoaFpimLmI88peOKVxrgIQSWDNL5502bhmuIZGxxmixdKrxKu7UHH6kS4ikYbHaagg30GqswL5t5Kh/9wzQiywv3LWxeVaWPjy1ppsUkQxo1LeIevb9BbTshEZFVSRx08BbdYT8KPCyoJIu9hkiWFKbFiNVSBE2MtcAxfUQUOgXRNLbuRyIbKvG1tlkzg6aySv0qj8AG4uvJEOt\u002B2L6oVCpFrJHR58="
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a13dd26d-ecb0-378d-8c5f-a3e16e34c2e7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:25 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "927855229",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}