{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-79f4b17b-498b-0b31-175a-2062c43bf695?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:54:12 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1b1acae0-332a-5a5a-c88d-5fd8200af3a8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:20 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:54:11 GMT",
        "ETag": "\u00220x8D779E6CF3016EC\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:54:12 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:20 GMT",
        "ETag": "\u00220x8D779E30EC1F09B\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:20 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "fd6c5725-ed44-5301-9ea3-9af93c6f37b5",
        "x-ms-request-id": "ab3228a5-201a-002e-09cf-abc02c000000",
=======
        "x-ms-client-request-id": "493903bc-51a5-9074-38c5-1bd77acb539e",
        "x-ms-request-id": "4376e5c8-b01a-003c-76cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-79f4b17b-498b-0b31-175a-2062c43bf695/test-directory-a8c04f19-ede0-ff41-a371-b21d516d372e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:54:12 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1b1acae0-332a-5a5a-c88d-5fd8200af3a8/test-directory-9c9242d5-ed5c-8379-293f-0b0bf13c6341?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:20 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:54:12 GMT",
        "ETag": "\u00220x8D779E6CF3E1F9E\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:54:12 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:20 GMT",
        "ETag": "\u00220x8D779E30ECFC576\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:20 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "84aa4236-a829-3719-166c-59d33be30130",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:54:12.2608542Z",
        "x-ms-file-creation-time": "2019-12-06T00:54:12.2608542Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:54:12.2608542Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "ab3228ab-201a-002e-0ecf-abc02c000000",
=======
        "x-ms-client-request-id": "b447a3cb-6bf4-cec5-8ab5-206646699ffb",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:27:20.9249142Z",
        "x-ms-file-creation-time": "2019-12-06T00:27:20.9249142Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:27:20.9249142Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "4376e5cb-b01a-003c-78cb-abbbfc000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-79f4b17b-498b-0b31-175a-2062c43bf695/test-directory-a8c04f19-ede0-ff41-a371-b21d516d372e/test-file-15f06c6b-ca32-1fe6-fe0b-6a0a3c611e8f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:54:12 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1b1acae0-332a-5a5a-c88d-5fd8200af3a8/test-directory-9c9242d5-ed5c-8379-293f-0b0bf13c6341/test-file-3d53da62-36b0-2bcd-3f53-fa096135435f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2019 00:27:20 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:54:12 GMT",
        "ETag": "\u00220x8D779E6CF4B8B80\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:54:12 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:27:20 GMT",
        "ETag": "\u00220x8D779E30EDD59A2\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:27:21 GMT",
>>>>>>> feature/storage/stg71-bas[...]
