{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5d9b7d52-7e84-437a-d701-6020c7de628c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:44:07 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E55479FC3\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:44:07 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5d9b7d52-7e84-437a-d701-6020c7de628c/test-directory-d32db43d-533d-1386-84d4-9bc0c33d89af?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:44:07 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E55554F48\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:44:07 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-03-05T21:44:07.9478600Z",
        "x-ms-file-creation-time": "2020-03-05T21:44:07.9478600Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-03-05T21:44:07.9478600Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5d9b7d52-7e84-437a-d701-6020c7de628c/test-directory-d32db43d-533d-1386-84d4-9bc0c33d89af/test-file-988dc79e-5cca-834a-741c-833ffa054bfc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 05 Mar 2020 21:44:08 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14E556295E7\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:44:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-03-05T21:44:08.0348647Z",
        "x-ms-file-creation-time": "2020-03-05T21:44:08.0348647Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-03-05T21:44:08.0348647Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5d9b7d52-7e84-437a-d701-6020c7de628c/test-directory-d32db43d-533d-1386-84d4-9bc0c33d89af/test-file-988dc79e-5cca-834a-741c-833ffa054bfc?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:44:08 GMT",
        "x-ms-lease-id": "b575282b-827b-1ac3-13f1-02c12e6deeaa",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "yuguVoVFyjCPnRzSfAoUsIInMg8Fi4HPR2kDb4qetRVIOwyueqTNjoBoRJRuGLkdhjAAFYRDBz9mXg8cQVum8egHiUD\u002BZjbdWaOPnUbsYC6v5ulanZ\u002BRBDPMRxuVsU0kwVKsZ494Hh/5I7vgs2r4ev3gbFtyTFRJdoQMMR4aSKhWa9v0QPmfNsfJYHrjsFHJ080dtETxsnX\u002BYvEKa\u002BwB39oTikiOBDkEQDaTqOvaZcUzQ15Q/ZRkZLll9d0IlcrayIGgzyYJO8\u002BTGXMNXgmJJP0r1yiOsOJGryWOKA5c\u002B6truOBqOpWfKQeOveMgVgav29Hg3b2iTBifWSAAehLANx7HoqUpH\u002BlnjK0g//P\u002BJVgf3008fB7tyWzIy\u002BB1nq/1zoXFWLRghrzneVEQgUwkoDTI4JvFg7[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5d9b7d52-7e84-437a-d701-6020c7de628c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:44:08 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "637586231",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}