{
  "Entries": [
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-0d8796a3-cc61-6def-0895-76466e4ab698?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Aug 2020 15:13:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D84389336D3CD4\u0022",
        "Last-Modified": "Tue, 18 Aug 2020 15:13:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-0d8796a3-cc61-6def-0895-76466e4ab698/test-directory-b7da6570-8881-e79a-ea67-ca77d7b6c112?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Aug 2020 15:13:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D84389337E4E51\u0022",
        "Last-Modified": "Tue, 18 Aug 2020 15:13:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-08-18T15:13:02.6421329Z",
        "x-ms-file-creation-time": "2020-08-18T15:13:02.6421329Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-08-18T15:13:02.6421329Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5337567907660077720*2506815767522118929",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-0d8796a3-cc61-6def-0895-76466e4ab698/test-directory-b7da6570-8881-e79a-ea67-ca77d7b6c112/test-file-265bb47c-bba3-41dc-7615-8176f566f2c1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Tue, 18 Aug 2020 15:13:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D843893389C221\u0022",
        "Last-Modified": "Tue, 18 Aug 2020 15:13:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-08-18T15:13:02.7171873Z",
        "x-ms-file-creation-time": "2020-08-18T15:13:02.7171873Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-08-18T15:13:02.7171873Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9973529139831694751*2506815767522118929",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-0d8796a3-cc61-6def-0895-76466e4ab698/test-directory-b7da6570-8881-e79a-ea67-ca77d7b6c112/test-file-265bb47c-bba3-41dc-7615-8176f566f2c1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Aug 2020 15:13:03 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "9rIRTsIklHLFWI85zJF//GKp2ic5DqlMFBkyhuZqkf2XjDU\u002BNMJn/90m1gCv8FS7G9TxbZ0/OecJxTmp8g6MWsaRokBcQMifQtpJEjipnSPFd2sReCNfV1JNNW6Ivg3Pmns5HU4UX9sMUSvD9ievXygV5HqjeuKjMkrtDgpZFoTMeni8b3/VsRiPBSb4nGErntVGc9mSLB\u002BYluoEJ1DQsjqn9nyu8u\u002BoQDNiE3W7q5bpwXA0E6OqOk1YI9mV0YrHv1PsUaXkfKvmnTOmLxiq3etUGmXgm5\u002BX/LwuVs4WE2\u002Bom1Miz1rwBETFTnVwAwo1rUbuQbYk5ySzVVTptibc0IrD/ZTFiA6RYxUhG0wqJviy\u002BaiIJ9K4hLQvbnoFB04e6H7qrAV1byU3Xd6hA8vYiS5bN719U6i4C3nglhqUi1vGAjLNP3nzPImDUMn0FoHoVuRLqdCRoJTVMaGMldkLo9KC2gCZCkm0aPoz\u002BgPfxPT49z81SeGKNWKd9w3YZ6avd633cTyATkyalkHVXaWR9m2sk56a1Vrw96Se\u002BxM73AFUhIJW51O4eKjzmrKftNi8DACgLNMIFKJSBnmX4lI5XrpAgdgjOw8a9Bv1pzunUELM4e8Sm68tTG/gA\u002BDZIJZVujv4XzP/mdDxhji3Em1nq7U2ywBiJsMKEjVpQjguQNM=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "NPTBvAWZRSSdAI7UTjrDzg==",
        "ETag": "\u00220x8D84389339695B7\u0022",
        "Last-Modified": "Tue, 18 Aug 2020 15:13:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-0d8796a3-cc61-6def-0895-76466e4ab698/test-directory-b7da6570-8881-e79a-ea67-ca77d7b6c112/test-file-265bb47c-bba3-41dc-7615-8176f566f2c1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Aug 2020 15:13:03 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D84389339695B7\u0022",
        "Last-Modified": "Tue, 18 Aug 2020 15:13:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-08-18T15:13:02.7171873Z",
        "x-ms-file-creation-time": "2020-08-18T15:13:02.7171873Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-08-18T15:13:02.7171873Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9973529139831694751*2506815767522118929",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "9rIRTsIklHLFWI85zJF//GKp2ic5DqlMFBkyhuZqkf2XjDU\u002BNMJn/90m1gCv8FS7G9TxbZ0/OecJxTmp8g6MWsaRokBcQMifQtpJEjipnSPFd2sReCNfV1JNNW6Ivg3Pmns5HU4UX9sMUSvD9ievXygV5HqjeuKjMkrtDgpZFoTMeni8b3/VsRiPBSb4nGErntVGc9mSLB\u002BYluoEJ1DQsjqn9nyu8u\u002BoQDNiE3W7q5bpwXA0E6OqOk1YI9mV0YrHv1PsUaXkfKvmnTOmLxiq3etUGmXgm5\u002BX/LwuVs4WE2\u002Bom1Miz1rwBETFTnVwAwo1rUbuQbYk5ySzVVTptibc0IrD/ZTFiA6RYxUhG0wqJviy\u002BaiIJ9K4hLQvbnoFB04e6H7qrAV1byU3Xd6hA8vYiS5bN719U6i4C3nglhqUi1vGAjLNP3nzPImDUMn0FoHoVuRLqdCRoJTVMaGMldkLo9KC2gCZCkm0aPoz\u002BgPfxPT49z81SeGKNWKd9w3YZ6avd633cTyATkyalkHVXaWR9m2sk56a1Vrw96Se\u002BxM73AFUhIJW51O4eKjzmrKftNi8DACgLNMIFKJSBnmX4lI5XrpAgdgjOw8a9Bv1pzunUELM4e8Sm68tTG/gA\u002BDZIJZVujv4XzP/mdDxhji3Em1nq7U2ywBiJsMKEjVpQjguQNM="
    },
    {
      "RequestUri": "https://seandevtest.file.core.windows.net/test-share-0d8796a3-cc61-6def-0895-76466e4ab698?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Aug 2020 15:13:03 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "349183673",
    "Storage_TestConfigDefault": "ProductionTenant\nseandevtest\nU2FuaXRpemVk\nhttps://seandevtest.blob.core.windows.net\nhttps://seandevtest.file.core.windows.net\nhttps://seandevtest.queue.core.windows.net\nhttps://seandevtest.table.core.windows.net\n\n\n\n\nhttps://seandevtest-secondary.blob.core.windows.net\nhttps://seandevtest-secondary.file.core.windows.net\nhttps://seandevtest-secondary.queue.core.windows.net\nhttps://seandevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seandevtest.blob.core.windows.net/;QueueEndpoint=https://seandevtest.queue.core.windows.net/;FileEndpoint=https://seandevtest.file.core.windows.net/;BlobSecondaryEndpoint=https://seandevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seandevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seandevtest-secondary.file.core.windows.net/;AccountName=seandevtest;AccountKey=Kg==;\nseanscope1"
  }
}