{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-4bba37d0-e906-5369-0710-d1b771317b95?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CB51E8551\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-4bba37d0-e906-5369-0710-d1b771317b95/test-directory-0abdd92c-e423-4101-cfa4-50f7a51d852c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CB528A7F5\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-21T20:39:53.9057653Z",
        "x-ms-file-creation-time": "2021-01-21T20:39:53.9057653Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-21T20:39:53.9057653Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-4bba37d0-e906-5369-0710-d1b771317b95/test-directory-0abdd92c-e423-4101-cfa4-50f7a51d852c/test-file-1da41749-a860-a404-3b00-91c339fef4fb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8BE4CB5318333\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:39:53.9638067Z",
        "x-ms-file-creation-time": "2021-01-21T20:39:53.9638067Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:39:53.9638067Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-4bba37d0-e906-5369-0710-d1b771317b95/test-directory-0abdd92c-e423-4101-cfa4-50f7a51d852c/test-file-1da41749-a860-a404-3b00-91c339fef4fb?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:54 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2020-04-08",
        "x-ms-write": "update"
      },
      "RequestBody": "FcHmXAT8i4uLxNSa8eYt70lRUFjgFWBUPpiDUGUEbV5\u002BFTg5L/C0ZBr9MsYIllu/yNOTe\u002Bxu\u002BABgkR1seDolhlZ2HNyu9L9ZnOw\u002B4\u002BOaS6g8xIiScfJxDxw32J3SSOvf16twknl\u002BENQTOt7/MBQdxkZ1L7OykhVjBAy/dxshhlQBXgw3KrkuvbSzfzYTct8IGRJXXRg3LESVDI5svpm48bOK/tEI5ZyNRnH//hPfUJItt10JySk8yTLHoh4qwf4a\u002Bo2CiHQN/zN2yhemNy0xtrv7Pwc8ryiKTjSfQUN\u002BYoRy5QSGXMceH7gpk/8SlZIEletiL4L33kpl9zpAbr3w92iSM1Epq1nz3SBOEhwoeLihmqtXGzMCewe5IGSN3rD6OZuWf2FA2\u002BqRb1FhqcstPH\u002BCntQRmNw1kLhKcIr1Zv9vU9mBkflWYb/BxqvhoNE8i\u002BTlCj/c6aG\u002BYe\u002Bp9WpgnAlR8lXyrKqGKzwUUNEwU\u002B/mDuWlD1u/k2o3wjAJrWtUYSmij658St46X98Cx5jPjg0AwueFuoytkV7quul6fH3RwO\u002BojcNAasQGa7B7vcvSaDQiCeuEzqac9f5PkZD1v\u002BNiMQepJgBKv1gjf07cMdSSGFG0WHKRTfFIC5jF8dg0EKvNGYvEKEE02EqTYU9Xv8MpvHk\u002BQGdw0OMWYBtnhM0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "lMZ5qTA6xFQQVwV5F0/Eww==",
        "ETag": "\u00220x8D8BE4CB53D1E07\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-4bba37d0-e906-5369-0710-d1b771317b95/test-directory-0abdd92c-e423-4101-cfa4-50f7a51d852c/test-file-1da41749-a860-a404-3b00-91c339fef4fb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:54 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8BE4CB53D1E07\u0022",
        "Last-Modified": "Thu, 21 Jan 2021 20:39:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-21T20:39:54.0398599Z",
        "x-ms-file-creation-time": "2021-01-21T20:39:53.9638067Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-21T20:39:54.0398599Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "FcHmXAT8i4uLxNSa8eYt70lRUFjgFWBUPpiDUGUEbV5\u002BFTg5L/C0ZBr9MsYIllu/yNOTe\u002Bxu\u002BABgkR1seDolhlZ2HNyu9L9ZnOw\u002B4\u002BOaS6g8xIiScfJxDxw32J3SSOvf16twknl\u002BENQTOt7/MBQdxkZ1L7OykhVjBAy/dxshhlQBXgw3KrkuvbSzfzYTct8IGRJXXRg3LESVDI5svpm48bOK/tEI5ZyNRnH//hPfUJItt10JySk8yTLHoh4qwf4a\u002Bo2CiHQN/zN2yhemNy0xtrv7Pwc8ryiKTjSfQUN\u002BYoRy5QSGXMceH7gpk/8SlZIEletiL4L33kpl9zpAbr3w92iSM1Epq1nz3SBOEhwoeLihmqtXGzMCewe5IGSN3rD6OZuWf2FA2\u002BqRb1FhqcstPH\u002BCntQRmNw1kLhKcIr1Zv9vU9mBkflWYb/BxqvhoNE8i\u002BTlCj/c6aG\u002BYe\u002Bp9WpgnAlR8lXyrKqGKzwUUNEwU\u002B/mDuWlD1u/k2o3wjAJrWtUYSmij658St46X98Cx5jPjg0AwueFuoytkV7quul6fH3RwO\u002BojcNAasQGa7B7vcvSaDQiCeuEzqac9f5PkZD1v\u002BNiMQepJgBKv1gjf07cMdSSGFG0WHKRTfFIC5jF8dg0EKvNGYvEKEE02EqTYU9Xv8MpvHk\u002BQGdw0OMWYBtnhM0="
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-4bba37d0-e906-5369-0710-d1b771317b95?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Jan 2021 20:39:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1446413368",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}