{
  "Entries": [
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-166de6f3-1e66-9e16-2eef-8ee9987590a5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D220333AF8B7\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-166de6f3-1e66-9e16-2eef-8ee9987590a5/test-directory-93cad5b0-40c5-6b86-e641-33e8a90077fc?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D2203346D06A\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-01-07T20:56:39.0701162Z",
        "x-ms-file-creation-time": "2022-01-07T20:56:39.0701162Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-01-07T20:56:39.0701162Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10502926625530500462*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-166de6f3-1e66-9e16-2eef-8ee9987590a5/test-directory-93cad5b0-40c5-6b86-e641-33e8a90077fc/test-%C6%92%C2%A1%C2%A3%E2%82%AC%E2%80%BD%253A-4ad64ec2-96c5-9aa4-819e-9db5964d2fdf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D22033506D61\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-07T20:56:39.1331169Z",
        "x-ms-file-creation-time": "2022-01-07T20:56:39.1331169Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-01-07T20:56:39.1331169Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-166de6f3-1e66-9e16-2eef-8ee9987590a5/test-directory-93cad5b0-40c5-6b86-e641-33e8a90077fc/test-%C6%92%C2%A1%C2%A3%E2%82%AC%E2%80%BD%253A-4ad64ec2-96c5-9aa4-819e-9db5964d2fdf?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "ODd/9Jomlenom\u002BwsgkR6alesdu0wvTbSEMvPyJw68EW/s9d5DMNjnLnsYSqqeBg8JDJd6tZBr3oArePOVs1NrqunbM5tAV2USNo0RFwMJ5iykqRp3AVufgRceF/flEXsn7N/AwxJzyLVyKH8DGoe9IVLG8Mo49GlOe3JEYj\u002BtbSUSKSojSSMacOBlBRjcXKZPYPZlHiCw7vi2cofgL2a1hPsZ8PGdWdhvrIAp0\u002B8Qcd6MNMEJCA8EoXoxrNabOgF5r0Adwqv08cceNXFgRxrJZcCpE/plrLysFQ\u002B3a\u002B0BlHJ\u002BsCSvMq8y10M6KtLdpBofaAbV8iZHFAKDca1cPUYZ3KD\u002B4dc2GnNRtny3a4GpzrD1WAOmK\u002BJMN5viK4EBlpn9IA5x3oJDKQ3ThHupj6iBGaL8puVCc/C\u0[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-166de6f3-1e66-9e16-2eef-8ee9987590a5/test-directory-93cad5b0-40c5-6b86-e641-33e8a90077fc/destFile",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D2203363A757\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-07T20:56:39.2591191Z",
        "x-ms-file-creation-time": "2022-01-07T20:56:39.2591191Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2022-01-07T20:56:39.2591191Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-166de6f3-1e66-9e16-2eef-8ee9987590a5/test-directory-93cad5b0-40c5-6b86-e641-33e8a90077fc/destFile?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-166de6f3-1e66-9e16-2eef-8ee9987590a5/test-directory-93cad5b0-40c5-6b86-e641-33e8a90077fc/test-%C6%92%C2%A1%C2%A3%E2%82%AC%E2%80%BD%253A-4ad64ec2-96c5-9aa4-819e-9db5964d2fdf?sv=2021-06-08\u0026st=2022-01-07T19%3A56%3A39Z\u0026se=2022-01-07T21%3A56%3A39Z\u0026sr=s\u0026sp=rcwdl\u0026sig=Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:39 GMT",
        "x-ms-range": "bytes=256-511",
        "x-ms-source-range": "bytes=512-767",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D22033702A98\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:39 GMT",
        "x-ms-content-crc64": "v9rN3ZbZ/R4=",
        "x-ms-file-last-write-time": "2022-01-07T20:56:39.3411224Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-166de6f3-1e66-9e16-2eef-8ee9987590a5/test-directory-93cad5b0-40c5-6b86-e641-33e8a90077fc/test-%C6%92%C2%A1%C2%A3%E2%82%AC%E2%80%BD%253A-4ad64ec2-96c5-9aa4-819e-9db5964d2fdf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:39 GMT",
        "x-ms-range": "bytes=512-767",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-767/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9D220335A3259\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-07T20:56:39.1971417Z",
        "x-ms-file-creation-time": "2022-01-07T20:56:39.1331169Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-01-07T20:56:39.1971417Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "28vZ8/XaCMtqrcXQbRhuGbSOK2YNV\u002BqqhOTgK88\u002BCqJG1iegkOcCJsTZATPzvhC7tSZEyxRef4PgLm4R\u002Btz7LKIjipbxzonNiwSiNFa2tsXUJHao\u002BT6N51ajv2F48Szn3dSQ0DN5yueddj8Pu0stKXipPdVmUzNklqJATQ4nVZrYu1eBJuaSWlqOC4L\u002BfiwLdZbpz7RWgIqhLDqQOX3ZdSGlN//0rAORFuJ710ewZRd2Ndd3PYXmgTvM4PmrASHdtZVgWUYsFsmSV7jR2qhC8MciGgOlYTecv7XEJ8wK5hXBniKxTwzRSR4N5ebNFKaTiu8yieYdN1RdxJqRaO/9iA=="
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-166de6f3-1e66-9e16-2eef-8ee9987590a5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:39 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-01-07T14:56:39.7481381-06:00",
    "RandomSeed": "1573219355",
    "Storage_TestConfigDefault": "ProductionTenant\n0c2xscnapby3pev24a\nU2FuaXRpemVk\nhttps://0c2xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.file.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.queue.core.windows.net\nhttps://0c2xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://0c2xscnapby3pev24a-secondary.blob.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.file.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.queue.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://0c2xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://0c2xscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=0c2xscnapby3pev24a;AccountKey=Kg==;\nseanscope1\n\n"
  }
}