{
  "Entries": [
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-52888d0e-a30f-0299-b848-80ddeb7ccf18?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jan 2022 19:05:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D535649EA30B\u0022",
        "Last-Modified": "Tue, 11 Jan 2022 19:05:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-52888d0e-a30f-0299-b848-80ddeb7ccf18/test-directory-5545a8bc-5f28-69b7-74ba-24182b4fd3a8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jan 2022 19:05:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D53564AAA9AD\u0022",
        "Last-Modified": "Tue, 11 Jan 2022 19:05:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-01-11T19:05:54.8524973Z",
        "x-ms-file-creation-time": "2022-01-11T19:05:54.8524973Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-01-11T19:05:54.8524973Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10502926625530500462*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-52888d0e-a30f-0299-b848-80ddeb7ccf18/test-directory-5545a8bc-5f28-69b7-74ba-24182b4fd3a8/test-file-c1cb7b4d-20d3-62f0-cd5c-b509cbf1e8a8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 11 Jan 2022 19:05:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D53564B72CFC\u0022",
        "Last-Modified": "Tue, 11 Jan 2022 19:05:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-11T19:05:54.9345020Z",
        "x-ms-file-creation-time": "2022-01-11T19:05:54.9345020Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-01-11T19:05:54.9345020Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-c8975812-cc50-0160-9ebb-9cc12cd40877/test-directory-00a24222-919c-2fb4-b0b8-f59b8dc86f30/test-file-e9de3607-0d62-19df-899c-edf147b0b34d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jan 2022 19:05:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9D53564D711B9\u0022",
        "Last-Modified": "Tue, 11 Jan 2022 19:05:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-11T19:05:55.1435193Z",
        "x-ms-file-creation-time": "2022-01-11T19:05:55.1435193Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-01-11T19:05:55.1435193Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-52888d0e-a30f-0299-b848-80ddeb7ccf18/test-directory-5545a8bc-5f28-69b7-74ba-24182b4fd3a8/test-file-c1cb7b4d-20d3-62f0-cd5c-b509cbf1e8a8?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 11 Jan 2022 19:05:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "ufPJtfSEUiwNFHO5qRZ5xvrux30ECK64OvcAif/9kJ4eU6LFJazk45VWN576DhyYrnz8aWwvg7BFEHr8g8ksD4PUmlV0tKBNCuPnrdEPvivbaNuCACcy78/xfxQx52DMKScbJnTGI/ncr16IR9XfNlJPIRruqQ5boauGgzSLGyKDGoSp85i3FEThplHIqqf5EknC4sZF3n8Yv4TJQKDEUJM8BCxRNUK6lw3WDAO9kvcDjHDryThcPjwEkTMU7tOkHFW9jKV6qN0HCEu4b9F8Wy2MxbQw2Ydb38bwTKMOpak5Me\u002Bt/wVSieSS48Hto85qhzUGhygfdEPOYq3eils5\u002BGKhfz3iz1snOjzPnfXGbTv4hcVuBx6BGb2s3p1Yc/\u002BIWepeTCSQiLjZ303sT9ZNCPRx5gSWy/FEIGWANfG\u002Bz8Y9R0QKZyEXZ/0[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-c8975812-cc50-0160-9ebb-9cc12cd40877/test-directory-00a24222-919c-2fb4-b0b8-f59b8dc86f30/test-file-e9de3607-0d62-19df-899c-edf147b0b34d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-52888d0e-a30f-0299-b848-80ddeb7ccf18/test-directory-5545a8bc-5f28-69b7-74ba-24182b4fd3a8/test-file-c1cb7b4d-20d3-62f0-cd5c-b509cbf1e8a8?sv=2023-01-03\u0026se=2022-01-12T19%3A05%3A54Z\u0026sr=f\u0026sp=r\u0026sig=Sanitized",
        "x-ms-date": "Tue, 11 Jan 2022 19:05:54 GMT",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D53564F56FC3\u0022",
        "Last-Modified": "Tue, 11 Jan 2022 19:05:55 GMT",
        "x-ms-content-crc64": "uDbnsp1JoVo=",
        "x-ms-file-last-write-time": "2022-01-11T19:05:55.3425347Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-c8975812-cc50-0160-9ebb-9cc12cd40877?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jan 2022 19:05:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-52888d0e-a30f-0299-b848-80ddeb7ccf18?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jan 2022 19:05:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-01-11T13:05:54.6481109-06:00",
    "RandomSeed": "920069596",
    "Storage_TestConfigDefault": "ProductionTenant\n0c2xscnapby3pev24a\nU2FuaXRpemVk\nhttps://0c2xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.file.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.queue.core.windows.net\nhttps://0c2xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://0c2xscnapby3pev24a-secondary.blob.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.file.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.queue.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://0c2xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://0c2xscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=0c2xscnapby3pev24a;AccountKey=Kg==;\nseanscope1\n\n"
  }
}