{
  "Entries": [
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-5868d644-5ee6-97c8-cf6c-5e5924176d1a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D2203241A3CB\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-5868d644-5ee6-97c8-cf6c-5e5924176d1a/test-directory-1ba5223b-94f1-2703-321a-c967077eccde?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D220324D2D3F\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-01-07T20:56:37.4340927Z",
        "x-ms-file-creation-time": "2022-01-07T20:56:37.4340927Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-01-07T20:56:37.4340927Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10502926625530500462*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-5868d644-5ee6-97c8-cf6c-5e5924176d1a/test-directory-1ba5223b-94f1-2703-321a-c967077eccde/test-file-f984665f-4047-2c79-f480-c4b9e5c74fd2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D2203256A30D\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-07T20:56:37.4960909Z",
        "x-ms-file-creation-time": "2022-01-07T20:56:37.4960909Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-01-07T20:56:37.4960909Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-5868d644-5ee6-97c8-cf6c-5e5924176d1a/test-directory-1ba5223b-94f1-2703-321a-c967077eccde/test-file-f984665f-4047-2c79-f480-c4b9e5c74fd2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:37 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "ABBR7HAjkS4JWTCU41wiRnPh3XHaIHDUoOK0y8x4UDHeWdDxvtddO9RW8O4Q5EiYXX5GA\u002Brd9\u002BCffUuNb8VikAj/toqLMYebhKGdhDCBxLyZHG5NMU1HAGHwUUGLz8sO81/mES6\u002BDCz2qn5IQHOvHbmP9FNXFF\u002B6t7Yom99GELTWjpDRm7KO2w9CV4bO/sDuQDOI\u002B9t4t98ALFl3lXFMsJrKcbHi3oIGARhDFb3Y67n1OlqsvhTZXtex0W5ZFkae9qbsBIwOC2KwgfrDNKEhJ0CggloXoPGF8BPZMAwUrOvRpR4W7OYs5i/3\u002BzwaFSo1kKktuZPshla1ZhR5NNpVnNUO8Y6DCjtac5sqH6W1a9vppKBj5vNX5R7IYYXSsrJUoV5nCySbsoVu00X4wWexAPs4kJA58rbitgxwuqi2h8Hp1[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-5868d644-5ee6-97c8-cf6c-5e5924176d1a/test-directory-1ba5223b-94f1-2703-321a-c967077eccde/destFile",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D220326BD8E9\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-07T20:56:37.6350953Z",
        "x-ms-file-creation-time": "2022-01-07T20:56:37.6350953Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2022-01-07T20:56:37.6350953Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-5868d644-5ee6-97c8-cf6c-5e5924176d1a/test-directory-1ba5223b-94f1-2703-321a-c967077eccde/destFile?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-5868d644-5ee6-97c8-cf6c-5e5924176d1a/test-directory-1ba5223b-94f1-2703-321a-c967077eccde/test-file-f984665f-4047-2c79-f480-c4b9e5c74fd2?sv=2023-01-03\u0026st=2022-01-07T19%3A56%3A38Z\u0026se=2022-01-07T21%3A56%3A38Z\u0026sr=s\u0026sp=rcwdl\u0026sig=Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:38 GMT",
        "x-ms-range": "bytes=256-511",
        "x-ms-source-range": "bytes=512-767",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D22032780E0E\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:37 GMT",
        "x-ms-content-crc64": "qwAYUiUBiO0=",
        "x-ms-file-last-write-time": "2022-01-07T20:56:37.7150990Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-5868d644-5ee6-97c8-cf6c-5e5924176d1a/test-directory-1ba5223b-94f1-2703-321a-c967077eccde/test-file-f984665f-4047-2c79-f480-c4b9e5c74fd2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:38 GMT",
        "x-ms-range": "bytes=512-767",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-767/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9D2203262D831\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-07T20:56:37.5760945Z",
        "x-ms-file-creation-time": "2022-01-07T20:56:37.4960909Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-01-07T20:56:37.5760945Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "0VJOLGXnKpjQzbc\u002Ba3pGwY6plav8F31efQ/bqpG\u002BTse1JiTV8n0A\u002BPFswur7FWpKDBZVNRnR9rnU8K5WDIAGEn7wiUVWcM8QqZ26j1STYmilkJ56aBmu4y9qAALOqexwZa9rC4wl85tHRIx8F2dlQY1GsXvijKllQaUV7HDMQv\u002BwSimkJ1fbgJwCMySMMszHBb50h/hxjdkGBcrmDwcregGMy8w\u002BwBo2azDe31iF2Q/ZTeexV7sGP7xPniGM9XCV17giAGb/iUSkPhzIkq6BgSy7DMIgeSJGhYsQ7iH5qXXASQefYtmo2cOiDBmePqwOzh300eiudF2W23rb75ojqw=="
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-5868d644-5ee6-97c8-cf6c-5e5924176d1a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-01-07T14:56:38.1202490-06:00",
    "RandomSeed": "366932117",
    "Storage_TestConfigDefault": "ProductionTenant\n0c2xscnapby3pev24a\nU2FuaXRpemVk\nhttps://0c2xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.file.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.queue.core.windows.net\nhttps://0c2xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://0c2xscnapby3pev24a-secondary.blob.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.file.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.queue.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://0c2xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://0c2xscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=0c2xscnapby3pev24a;AccountKey=Kg==;\nseanscope1\n\n"
  }
}