{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-c1fa1a2e-3f06-cc9d-a2fd-f8e00e592ef4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:21 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C23160FD5303\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:20 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-c1fa1a2e-3f06-cc9d-a2fd-f8e00e592ef4/test-directory-019e01ff-653a-9dec-a83c-1fcc19365b93?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:21 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C2316108766F\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:21 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-26T19:34:21.0055791Z",
        "x-ms-file-creation-time": "2021-01-26T19:34:21.0055791Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-26T19:34:21.0055791Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-c1fa1a2e-3f06-cc9d-a2fd-f8e00e592ef4/test-directory-019e01ff-653a-9dec-a83c-1fcc19365b93/test-file-3e596098-db73-fcd1-d854-7279326f0003",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:21 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C23161139C0D\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-01-26T19:34:21.0786317Z",
        "x-ms-file-creation-time": "2021-01-26T19:34:21.0786317Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-01-26T19:34:21.0786317Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-c1fa1a2e-3f06-cc9d-a2fd-f8e00e592ef4/test-directory-019e01ff-653a-9dec-a83c-1fcc19365b93/test-file-3e596098-db73-fcd1-d854-7279326f0003?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:21 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-write": "update"
      },
      "RequestBody": "62VGHFxtC8\u002BY/aigUFqspHuJ8y3nn417D2\u002BTFQFZ/kZ6WgtQwrwUPiy0DjWQITP11rcxotTI3UvYyg3s2vXOP/5iJvVPW\u002BK\u002BdbQBMpBX6\u002B07nj9KJ1tysny/ePevKGQ25s83Lvs9pXrVci0fxqu6gN8fsDu1hBej73R5kOPqD01QykvBILzy/vnFdLQtU\u002BvRBPcXj3cogGK3kz6HxBWW6mPgzvtf\u002BWAjLbJC8A9jdpyIp4vr0n/VJ0rpCYx\u002BajnjLolQTITvcguW9GLE5o9SVB2i/h2JqxjkCqaxdfDUpcN5XsKFEikXmDWAVd0cEUG6l7Rv22scWoNxa0HdPvwawk\u002BfS4fNzELzimXoCVU6x/ll9t48ZMlXXQQ/FKbnOVo4ZpKNfcW67cpxfFAFNFEtNqRHeEgd3l[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-c1fa1a2e-3f06-cc9d-a2fd-f8e00e592ef4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:21 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "12286873",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}