{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-b226da02-bfc1-a860-3a80-b01f5500e71e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:45 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D779393E324EEF\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:45 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-b226da02-bfc1-a860-3a80-b01f5500e71e/test-directory-dbcb4309-6ee7-bb62-38e7-54508735adde?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:46 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D779393E407EEF\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:11:46 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-05T04:11:46.0725487Z",
        "x-ms-file-creation-time": "2019-12-05T04:11:46.0725487Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:11:46.0725487Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-b226da02-bfc1-a860-3a80-b01f5500e71e/test-directory-dbcb4309-6ee7-bb62-38e7-54508735adde/test-file-3bce7564-52fa-63ae-652b-d164bbbdc99d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:46 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "1wg0ehP2TskfexC1m4LremIuQX3M01HKXb1RZJxv3zP\u002BbIKtWqVwbiYEG39B\u002BMjjP1YCjXtL0AO2ahxVpOktsJvcti8APh\u002B8vdNWyLjSiGT1biVGbVK4spx\u002B9/CJG8k812vjZUGY4wE2Rs\u002Bo9QdL4\u002BG3XzbE50NJJASSgUcuM6IJGfBM7iMiXYskDyaCEL2UMxMP0buTeO8omkA9BWK5BxItntsW//W\u002BlQKroNgcxhRG/k00H2LmdqEAI1Pi5FcoagcUVHHhfTQdUTy459gXDNMs9wcUheiwRyc6Ftuh27CrgjXQB3KiZIAZFs4mLY/J6Bd/tu1PFOUfYw1Kp2dZfHWLDWWiRwRhipKG\u002B28ZihmYcC3EISXCW21QsKRkV7wZwJpYmiApJqESHixayBl2Bdn0sjY6lVpQybH[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-b226da02-bfc1-a860-3a80-b01f5500e71e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:11:46 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "905695585",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}