{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d8d41827-6630-67ca-e728-77e7563ba2f6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-717f859d2fb81b49aeeaf57b4e23fa1a-da92b62e519e6c4d-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "7167f4f6-f922-da11-070b-1c7e37b67341",
        "x-ms-date": "Wed, 04 Dec 2019 05:12:21 GMT",
=======
        "traceparent": "00-b36a747ac1b3f84c863b4337bb1890c9-d43f04a1baeae04e-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "7167f4f6-f922-da11-070b-1c7e37b67341",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:34 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:12:21 GMT",
        "ETag": "\u00220x8D778788ADFC0A0\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:12:21 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:33 GMT",
        "ETag": "\u00220x8D778F2871B06B0\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:34 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "7167f4f6-f922-da11-070b-1c7e37b67341",
<<<<<<< HEAD
        "x-ms-request-id": "b5590ef7-301a-000d-0361-aa5aef000000",
=======
        "x-ms-request-id": "46202bb6-801a-0018-0bdb-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d8d41827-6630-67ca-e728-77e7563ba2f6/test-file-5646fb7c-3fe1-5326-d82a-fc473eef2b89",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-b587bdde287b0b47a7feec7302e8d512-704398bada69284e-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
=======
        "traceparent": "00-d80237ecf2450d4aa53a09b5ab4fe7d6-0c2417cd1ef3be48-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "415ee675-8317-b715-ce13-98f8fcca9c17",
        "x-ms-content-length": "512",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 05:12:21 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:34 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:12:21 GMT",
        "ETag": "\u00220x8D778788AED7076\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:12:21 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:33 GMT",
        "ETag": "\u00220x8D778F2872A2A73\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:34 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "415ee675-8317-b715-ce13-98f8fcca9c17",
        "x-ms-file-attributes": "Archive",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T05:12:21.8439798Z",
        "x-ms-file-creation-time": "2019-12-04T05:12:21.8439798Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T05:12:21.8439798Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-id": "b5590ef9-301a-000d-0461-aa5aef000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:45:34.1320819Z",
        "x-ms-file-creation-time": "2019-12-04T19:45:34.1320819Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:45:34.1320819Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-id": "46202bb8-801a-0018-0cdb-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d8d41827-6630-67ca-e728-77e7563ba2f6/test-file-5646fb7c-3fe1-5326-d82a-fc473eef2b89?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "58d2d7b7-ea90-cb71-6b3a-93c098db9cad",
        "x-ms-date": "Wed, 04 Dec 2019 05:12:21 GMT",
=======
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "58d2d7b7-ea90-cb71-6b3a-93c098db9cad",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:34 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-range": "bytes=0-511",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "vJkVqzk\u002BouuJp77ea30AsorjkDVYjL1CiJEyVMGDE4YZipQ\u002BpsgBPFdJ9rC/\u002B4g4Z6fm0KN6Gi/c0yKoC04qBZQ4xODowgvB4lTdD5YMgo0I\u002BewanULinnBkYdKmWDAJH/EchzeoT6SbJO5PnQuZz1CVoBJhD2dRVSVwhGE5G4oj1O\u002Bk8PtVYKlIfnlUkwFly5KBELgepw\u002BJyjEROMtDYghjLMkb9N5VPz9oGZHt/cIjCrnPtwrRBCzgGibJRCjdBBtw8Gc4SdazLNF4tY5\u002BnM1v7S0SdKv9kSecO9m4i/oXihR1fAxb68DiG4s5WU6dYX5YWlf6y49wc14/mw78\u002BqDWYSt5CB/BFAJsMFggxDjY/9lbXzGjHL\u002BEBQmtG0\u002Bx5SHqYvgjI1hel0ZUjpo3UK4mZ5w1oZpvM0Rr9QMWE/myuko3NWJAtNuA/MfqTo0kTbVbh7OzfESGey6zuC5VSINNotNQ/xpL5rLAtKXShOS2RqdOuoxF/z0GsbozjPytK7NEnay61E6aD6AB8sees/ZK/XKHBo73B6KWSk5gF1m2E4nxjuY4/HFZtKrrRA12Z/3E6Y\u002BKJSQlTJUJJIr/OvhHSt8\u002BrSQPEQAALlLjC8OVH\u002BJQnC7KLO1kzEJRL9jnWXmypPkuN7rZtNeOiffRQkHRcwSnrp7JfB7x2eDivuI=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "FBPAP4fO8OGHJa6he7sgYg=="
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:12:21 GMT",
        "ETag": "\u00220x8D778788AF9CD60\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:12:21 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:33 GMT",
        "ETag": "\u00220x8D778F28736AD1C\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:34 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "58d2d7b7-ea90-cb71-6b3a-93c098db9cad",
<<<<<<< HEAD
        "x-ms-request-id": "b5590efd-301a-000d-0861-aa5aef000000",
=======
        "x-ms-request-id": "46202bb9-801a-0018-0ddb-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d8d41827-6630-67ca-e728-77e7563ba2f6/test-file-5646fb7c-3fe1-5326-d82a-fc473eef2b89",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-cc81c0d7a86c034c9c4f1ca2bd9dd5b8-8cd890508a0d654d-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "25418178-44f8-f586-2163-4a8b7eacb24c",
        "x-ms-date": "Wed, 04 Dec 2019 05:12:22 GMT",
=======
        "traceparent": "00-72a02568afb38e48a17b7e572ee3ae1a-dbac4d5265666e4a-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "25418178-44f8-f586-2163-4a8b7eacb24c",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:34 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-range": "bytes=0-",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream"
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:12:21 GMT",
        "ETag": "\u00220x8D778788AF9CD60\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:12:21 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:33 GMT",
        "ETag": "\u00220x8D778F28736AD1C\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:34 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "Vary": "Origin",
        "x-ms-client-request-id": "25418178-44f8-f586-2163-4a8b7eacb24c",
        "x-ms-file-attributes": "Archive",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T05:12:21.8439798Z",
        "x-ms-file-creation-time": "2019-12-04T05:12:21.8439798Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T05:12:21.8439798Z",
=======
        "x-ms-file-change-time": "2019-12-04T19:45:34.1320819Z",
        "x-ms-file-creation-time": "2019-12-04T19:45:34.1320819Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:45:34.1320819Z",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
<<<<<<< HEAD
        "x-ms-request-id": "b5590f01-301a-000d-0c61-aa5aef000000",
=======
        "x-ms-request-id": "46202bba-801a-0018-0edb-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "vJkVqzk\u002BouuJp77ea30AsorjkDVYjL1CiJEyVMGDE4YZipQ\u002BpsgBPFdJ9rC/\u002B4g4Z6fm0KN6Gi/c0yKoC04qBZQ4xODowgvB4lTdD5YMgo0I\u002BewanULinnBkYdKmWDAJH/EchzeoT6SbJO5PnQuZz1CVoBJhD2dRVSVwhGE5G4oj1O\u002Bk8PtVYKlIfnlUkwFly5KBELgepw\u002BJyjEROMtDYghjLMkb9N5VPz9oGZHt/cIjCrnPtwrRBCzgGibJRCjdBBtw8Gc4SdazLNF4tY5\u002BnM1v7S0SdKv9kSecO9m4i/oXihR1fAxb68DiG4s5WU6dYX5YWlf6y49wc14/mw78\u002BqDWYSt5CB/BFAJsMFggxDjY/9lbXzGjHL\u002BEBQmtG0\u002Bx5SHqYvgjI1hel0ZUjpo3UK4mZ5w1oZpvM0Rr9QMWE/myuko3NWJAtNuA/MfqTo0kTbVbh7OzfESGey6zuC5VSINNotNQ/xpL5rLAtKXShOS2RqdOuoxF/z0GsbozjPytK7NEnay61E6aD6AB8sees/ZK/XKHBo73B6KWSk5gF1m2E4nxjuY4/HFZtKrrRA12Z/3E6Y\u002BKJSQlTJUJJIr/OvhHSt8\u002BrSQPEQAALlLjC8OVH\u002BJQnC7KLO1kzEJRL9jnWXmypPkuN7rZtNeOiffRQkHRcwSnrp7JfB7x2eDivuI="
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d8d41827-6630-67ca-e728-77e7563ba2f6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-9fc16251dc71b4408eef456da9b30334-72b81fff0a4f8848-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "17483b4a-779a-45b5-d9da-042d72d4e5cd",
        "x-ms-date": "Wed, 04 Dec 2019 05:12:22 GMT",
=======
        "traceparent": "00-d63139acc5e0c44ba3aaf3ba47f38692-fe8548c5c70f3b46-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "17483b4a-779a-45b5-d9da-042d72d4e5cd",
        "x-ms-date": "Wed, 04 Dec 2019 19:45:34 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:12:21 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:33 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "17483b4a-779a-45b5-d9da-042d72d4e5cd",
<<<<<<< HEAD
        "x-ms-request-id": "b5590f03-301a-000d-0d61-aa5aef000000",
=======
        "x-ms-request-id": "46202bbc-801a-0018-10db-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "190387676",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}