{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-cd6ad5a3-53d5-93f7-b96f-eaf8733f051a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 06:01:23 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D366295103C\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 06:01:23 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-cd6ad5a3-53d5-93f7-b96f-eaf8733f051a/test-directory-3258e242-92a3-baca-ffd6-f92df99a17c9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 06:01:23 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D3662A36CD1\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 06:01:23 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-10T06:01:23.2797905Z",
        "x-ms-file-creation-time": "2019-12-10T06:01:23.2797905Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-10T06:01:23.2797905Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-cd6ad5a3-53d5-93f7-b96f-eaf8733f051a/test-directory-3258e242-92a3-baca-ffd6-f92df99a17c9/test-file-c53297ed-493c-b81f-1908-7c112a3c31cb?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 06:01:23 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "6WbXmoB\u002BMqJ8omsxDk29/nF1oPEBJlYMP2F/jlBTNmJ4r5Et34Zxb2WQSZrd7arMS32gtZtAysMPy1of/6NRKGsJuV67jx/qBDGLcd27LlK2skPSs4HGN\u002BXOHRMrUW/CPiEv1DRLELtetbBptVjlU5wIaExffnXqQoF57XIMv7LCyTK8jFoda6KIdP3QXYKM6Mp2IukjYr\u002BrRZGy0SNJUvb9p\u002BsmKcZC6v2q1wp4GeX/7ASnlZzJnmZzEEfJa5l/PiIG0rWWZr8DNDjreYu1MyussuUeobxaNAiFsxh/eX9jK5jocUYvaIZFpGBj3SXbvd0bHLi0YJxlrJ6sEbOmhLu5iE7yzMLkfEpe2P1c9lbjqfU7Y1zGrsr7g8WoglbTnh\u002BlqlXX6fEaN6BuVoifCbVIyWi\u002BayBf8tmD9kn9PPrzi[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-cd6ad5a3-53d5-93f7-b96f-eaf8733f051a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2019 06:01:23 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "294026688",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}