{
  "Entries": [
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-08c5d32c-8485-118e-788a-f6e37d7d4f12?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D22031C3E7E1\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-08c5d32c-8485-118e-788a-f6e37d7d4f12/test-directory-f6ad1eac-28bd-a875-f246-3161a33adcfc?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D22031D05B74\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-01-07T20:56:36.6160756Z",
        "x-ms-file-creation-time": "2022-01-07T20:56:36.6160756Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-01-07T20:56:36.6160756Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10502926625530500462*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-08c5d32c-8485-118e-788a-f6e37d7d4f12/test-directory-f6ad1eac-28bd-a875-f246-3161a33adcfc/test-file-0f7f5586-cb16-d14f-2e1f-04a31fa67690",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D22031DA4690\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-07T20:56:36.6810768Z",
        "x-ms-file-creation-time": "2022-01-07T20:56:36.6810768Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-01-07T20:56:36.6810768Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-5f33f2bd-bbfa-c0ac-2615-a7c761e17a19/test-directory-c0c4ce5a-bfcb-224a-441a-8a0aa8ede2a5/test-file-e49010a6-d2ce-458e-97b0-2ac085743c64",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9D22031FB634C\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-07T20:56:36.8980812Z",
        "x-ms-file-creation-time": "2022-01-07T20:56:36.8980812Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-01-07T20:56:36.8980812Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18399154802865325129*2116982663672312623",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-08c5d32c-8485-118e-788a-f6e37d7d4f12/test-directory-f6ad1eac-28bd-a875-f246-3161a33adcfc/test-file-0f7f5586-cb16-d14f-2e1f-04a31fa67690?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:37 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "HSVPOJCLwtNkW6zik\u002B4A2M1PIikceb3qqEHUv2M7eE06pJ6EnRiXXgIoFuq6MQl44badC7gK96NoZZBPtwNvKOJfp\u002B9PfDq1uMQm9GPSL3Y4W96tnW2VMKz6HDiHSKb/uO4IW4oaKGV751L04wNAlTUZFlwkwop0ynZCVGACLXAdJzt1ytTsHjJ4MbYaoE2puoYCbjFK2vZjk5ET19QFeLri1rzHy8thLPgprJDUWSkpmZrZAL8/00xFEjZD2UZec7j7OMqQ4e67oUE4IC5ljjln6T45K3j6owNvgrmUHlOxyzjX2SBfmLerHl9\u002BBrMe34P82\u002B8IJEdAAZXHIV81JoPth1T2jrUYCFCGjg0ZfJ1PUaI1mEJkqafwl9eLmHdYdvfckH5eKFHO49OegZY6J4X4d8\u002B8/45Aid2tBfbdjXDZLhcWPO[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-5f33f2bd-bbfa-c0ac-2615-a7c761e17a19/test-directory-c0c4ce5a-bfcb-224a-441a-8a0aa8ede2a5/test-file-e49010a6-d2ce-458e-97b0-2ac085743c64?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-08c5d32c-8485-118e-788a-f6e37d7d4f12/test-directory-f6ad1eac-28bd-a875-f246-3161a33adcfc/test-file-0f7f5586-cb16-d14f-2e1f-04a31fa67690?sv=2021-06-08\u0026se=2022-01-08T20%3A56%3A37Z\u0026sr=f\u0026sp=r\u0026sig=Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:37 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D2203219C0E8\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 20:56:37 GMT",
        "x-ms-content-crc64": "QKczFYBNc7E=",
        "x-ms-file-last-write-time": "2022-01-07T20:56:37.0970856Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-5f33f2bd-bbfa-c0ac-2615-a7c761e17a19?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:37 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.file.preprod.core.windows.net/test-share-08c5d32c-8485-118e-788a-f6e37d7d4f12?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 20:56:37 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-01-07T14:56:37.5028680-06:00",
    "RandomSeed": "1661498119",
    "Storage_TestConfigDefault": "ProductionTenant\n0c2xscnapby3pev24a\nU2FuaXRpemVk\nhttps://0c2xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.file.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.queue.core.windows.net\nhttps://0c2xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://0c2xscnapby3pev24a-secondary.blob.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.file.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.queue.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://0c2xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://0c2xscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=0c2xscnapby3pev24a;AccountKey=Kg==;\nseanscope1\n\n"
  }
}