{
  "Entries": [
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-f4d2d511-0739-59ff-ad2e-6c81b26ad29d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829BAFB2F5160\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 19:03:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-f4d2d511-0739-59ff-ad2e-6c81b26ad29d/test-directory-dbc68d7e-2d5e-939a-53dc-9a13d387a171?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829BAFB3FBB2D\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 19:03:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-07-16T19:03:52.8838957Z",
        "x-ms-file-creation-time": "2020-07-16T19:03:52.8838957Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-07-16T19:03:52.8838957Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10468614340527976405*17986492168883239004",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-f4d2d511-0739-59ff-ad2e-6c81b26ad29d/test-directory-dbc68d7e-2d5e-939a-53dc-9a13d387a171/test-file-a4155f15-7142-10fb-255b-d080c357e6be",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829BAFB5038EB\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 19:03:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-07-16T19:03:52.9919723Z",
        "x-ms-file-creation-time": "2020-07-16T19:03:52.9919723Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-07-16T19:03:52.9919723Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5853609782263189714*17986492168883239004",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-f4d2d511-0739-59ff-ad2e-6c81b26ad29d/test-directory-dbc68d7e-2d5e-939a-53dc-9a13d387a171/test-file-a4155f15-7142-10fb-255b-d080c357e6be?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12",
        "x-ms-write": "update"
      },
      "RequestBody": "q5WANY52/FowzyxcXBC2ckQrLE5/jMIhougFGatufp5WUqweF2OvnmK7dHJEnrMUpV47lyuYPh/SX5OlceKvwVGOBQljmFrgfI3rxBhQ3AM08HRMM\u002BZyvhSNTLjQCS2AC7IhtpiqsQ0DWhudrXoGgYKQcIFuYo5qG0f11kuiEHJga7hmLyZqij9nSdjL1RGZhso1QJmsEakjtppRtNrBYUqoPULCoFJcJeZBBxm2n0Y1W0\u002BBbNDZs1kOQ3iLGNZkpeeNIpfP1\u002BZ32BqyagmQbBdUG1iKP/R5z4nos13a0QwQ3WExKHyuZoNpCZO2JklQftZgN/192mXzFFIO5iSJnQcNoo2nXkSaprXUITZgw6hAmDSHeZoPkgL7PRQqoH9f32yMqIS8qCCRxpBIqLgvklCpzU7wAiRt/Q\u002BKqyAwcAU1dULK1BskhO8[...]
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-f4d2d511-0739-59ff-ad2e-6c81b26ad29d/test-directory-dbc68d7e-2d5e-939a-53dc-9a13d387a171/destFile",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D829BAFB64D621\u0022",
        "Last-Modified": "Thu, 16 Jul 2020 19:03:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-07-16T19:03:53.1270689Z",
        "x-ms-file-creation-time": "2020-07-16T19:03:53.1270689Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2020-07-16T19:03:53.1270689Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5853609782263189714*17986492168883239004",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-f4d2d511-0739-59ff-ad2e-6c81b26ad29d/test-directory-dbc68d7e-2d5e-939a-53dc-9a13d387a171/destFile?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmccprodca.file.core.windows.net/test-share-f4d2d511-0739-59ff-ad2e-6c81b26ad29d/test-directory-dbc68d7e-2d5e-939a-53dc-9a13d387a171/test-file-a4155f15-7142-10fb-255b-d080c357e6be?sv=2019-12-12\u0026st=2020-07-16T18%3A03%3A52Z\u0026se=2020-07-16T20%3A03%3A52Z\u0026sr=s\u0026sp=rcwdl\u0026sig=Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:52 GMT",
        "x-ms-lease-id": "e6fd6f5d-951a-b8ce-00cd-355055e20b51",
        "x-ms-range": "bytes=256-511",
        "x-ms-source-range": "bytes=512-767",
        "x-ms-version": "2019-12-12",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithFileOperation",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithFileOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the file.\n",
        "RequestId:6f94b50d-801a-0089-75a3-5b2b57000000\n",
        "Time:2020-07-16T19:03:53.2616761Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmccprodca.file.core.windows.net/test-share-f4d2d511-0739-59ff-ad2e-6c81b26ad29d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Jul 2020 19:03:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-07-16T14:03:52.0365620-05:00",
    "RandomSeed": "427927499",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmccprodca\nU2FuaXRpemVk\nhttps://seanmccprodca.blob.core.windows.net\nhttps://seanmccprodca.file.core.windows.net\nhttps://seanmccprodca.queue.core.windows.net\nhttps://seanmccprodca.table.core.windows.net\n\n\n\n\nhttps://seanmccprodca-secondary.blob.core.windows.net\nhttps://seanmccprodca-secondary.file.core.windows.net\nhttps://seanmccprodca-secondary.queue.core.windows.net\nhttps://seanmccprodca-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmccprodca.blob.core.windows.net/;QueueEndpoint=https://seanmccprodca.queue.core.windows.net/;FileEndpoint=https://seanmccprodca.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccprodca-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccprodca-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccprodca-secondary.file.core.windows.net/;AccountName=seanmccprodca;AccountKey=Kg==;\nseanscope1"
  }
}