{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-5061f878-e363-bb5b-4a21-a753102a7d29?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:18:43 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B69843BD48\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:18:43 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-5061f878-e363-bb5b-4a21-a753102a7d29/test-directory-5e379954-6b7f-7c16-908d-606bfa3ec1cc?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:18:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B6984FF898\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:18:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-04-25T01:18:43.3284248Z",
        "x-ms-file-creation-time": "2020-04-25T01:18:43.3284248Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-04-25T01:18:43.3284248Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15599277547783403350*12727421398096584927",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-5061f878-e363-bb5b-4a21-a753102a7d29/test-directory-5e379954-6b7f-7c16-908d-606bfa3ec1cc/test-file-ac0e1458-5f86-6a1c-7d5f-e89a8cf561db",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Sat, 25 Apr 2020 01:18:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B6985B41AC\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:18:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2020-04-25T01:18:43.4023852Z",
        "x-ms-file-creation-time": "2020-04-25T01:18:43.4023852Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2020-04-25T01:18:43.4023852Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1729393344912377937*12727421398096584927",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-5061f878-e363-bb5b-4a21-a753102a7d29/test-directory-5e379954-6b7f-7c16-908d-606bfa3ec1cc/test-file-ac0e1458-5f86-6a1c-7d5f-e89a8cf561db?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:18:43 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2019-12-12",
        "x-ms-write": "update"
      },
      "RequestBody": "0/Cf6DQgJuf9vR5LhqIveJrNtp69XBKX3wIpFoTZh/CvYKLoDW3hKPE3zJwy\u002BRnUBMJqpNXEGnbdCAgx9w9iIzYtmyb/Rmot646shpB2ZebpVRLBbuIa60UrCgVkrzDi1KhlBF3y1L1XPbhHGJPmZ6MiSKH9obVTE7Dg1DtlyTtdyrHoEGCI94BUaTEq0tKyRaNiQWeP5TPyEvGtEQCB8nN96k7i/VZCmlEgqDeEKUDdLo6YA4fTzeR\u002B9f5v2\u002BWA0ne9rOiE0EdNH6YWbjz8bumxz\u002BNx6e/rqRxpYwhX079roNW/xnxXWF5HSuPhvV\u002BngocVvgsCD\u002BiI0QPLG2w\u002B9Uznq81nPKdsWXaEKZ8LCuy8weGBQhSzaZHsN/V5jD3yCFWW\u002BRKSQEXfqGWVfeVJfMYXDlqKvbI4NEE[...]
    {
      "RequestUri": "http://amandacanary.file.core.windows.net/test-share-5061f878-e363-bb5b-4a21-a753102a7d29?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:18:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1492710188",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}