{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-63ae414f-2d85-e732-4b32-4b2ffbb02a0c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C231618DB964\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:21 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-63ae414f-2d85-e732-4b32-4b2ffbb02a0c/test-directory-7b9bee8c-a23d-86ce-4d05-24e8ac521568?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:22 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C2316198C2FD\u0022",
        "Last-Modified": "Tue, 26 Jan 2021 19:34:21 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-01-26T19:34:21.9512573Z",
        "x-ms-file-creation-time": "2021-01-26T19:34:21.9512573Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-01-26T19:34:21.9512573Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-63ae414f-2d85-e732-4b32-4b2ffbb02a0c/test-directory-7b9bee8c-a23d-86ce-4d05-24e8ac521568/test-file-a336b0a1-cc42-215c-f3f6-379e00d5d6aa?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:22 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-write": "update"
      },
      "RequestBody": "RC3\u002Bef4yIYF8fKC5\u002BewY5WcZWP9sHLUd1jHvUGIqiHBhx8hfYL6Kb4\u002B0J8UroigH3lI25nzXPih34KLMQtAfUfQvWDEkuYSpjuhwt/Tw8jQJ6HIQ9KHziYif538cvS2\u002BldXR\u002B0n24iTNjViUZoczh\u002B5tw1peDl1TPM6phNEFjNC7siIfHvbqEgVNQmZIXyMBbGCQrvrSYIZ4fb97TV5SyACH2LRkFGj3g7BUEMz2CtyrqBhxdN7W6FKcp6E3b8Wn\u002B3lmwIZunFf3mStJfk\u002B5gXLiz6RF4FQhsfBhx23HwBPrrRRSj0lWPAvAetqyjGoC4iUuVZ8hYRolRA\u002BWDdXpMNkXXtE6ZvEoi5KZhGZ5byWGX\u002BVImGp0ykv6LUo6wC8210oBmy6ZyHszBckNh9y0rNXqE[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-63ae414f-2d85-e732-4b32-4b2ffbb02a0c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 19:34:22 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "989327679",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}