{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-88aa7656-a11f-0642-8091-bb25612e7125?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-1069a375c36d3e4cad475d5ba48349fc-9728d85ae95d6a47-00",
=======
        "traceparent": "00-0dd6cedbf2891f4c9644d9d7711065c2-4eaf610ac1a88f48-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "7c15d7ee-f3dc-e221-3c5d-0a0fe5548c97",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:32 GMT",
        "x-ms-return-client-request-id": "true",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:33 GMT",
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:32 GMT",
        "ETag": "\u00220x8D7790DC3F6630D\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:32 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:32 GMT",
        "ETag": "\u00220x8D778F286D3ED29\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:33 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "7c15d7ee-f3dc-e221-3c5d-0a0fe5548c97",
<<<<<<< HEAD
        "x-ms-request-id": "e3040ded-401a-0038-51f6-aa36fb000000",
=======
        "x-ms-request-id": "46202bad-801a-0018-04db-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-88aa7656-a11f-0642-8091-bb25612e7125/test-directory-80c36cf0-e007-3e62-7b5a-5169288119f7?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-5ca11d8758cbc54c8024e5c88edc55a7-30a35c2dc266c940-00",
=======
        "traceparent": "00-6b238699a8dd6c4890ad17b272ce088a-ab9c1dcbfacfef43-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "80cfe229-68c5-0e85-75d7-0182a1b8b9bb",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:32 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:33 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:32 GMT",
        "ETag": "\u00220x8D7790DC4053652\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:32 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:32 GMT",
        "ETag": "\u00220x8D778F286E270F5\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:33 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "80cfe229-68c5-0e85-75d7-0182a1b8b9bb",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T23:00:32.6426194Z",
        "x-ms-file-creation-time": "2019-12-04T23:00:32.6426194Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T23:00:32.6426194Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "e3040def-401a-0038-52f6-aa36fb000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:45:33.6620277Z",
        "x-ms-file-creation-time": "2019-12-04T19:45:33.6620277Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:45:33.6620277Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "46202baf-801a-0018-05db-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-88aa7656-a11f-0642-8091-bb25612e7125/test-directory-80c36cf0-e007-3e62-7b5a-5169288119f7/destFile",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024"
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:32 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:33 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:32 GMT",
        "ETag": "\u00220x8D7790DC4127EC2\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:00:32 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:33 GMT",
        "ETag": "\u00220x8D778F286EFDEA9\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:45:33 GMT",
>>>>>>> feature/storage/stg71-bas[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-88aa7656-a11f-0642-8091-bb25612e7125/test-directory-80c36cf0-e007-3e62-7b5a-5169288119f7/destFile?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://seanstagetest.file.core.windows.net/test-share-88aa7656-a11f-0642-8091-bb25612e7125/test-directory-80c36cf0-e007-3e62-7b5a-5169288119f7/destFile"
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:32 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:33 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-range": "bytes=256-511",
        "x-ms-return-client-request-id": "true",
        "x-ms-source-range": "bytes=512-767",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:32 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:33 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "3044966b-358a-3c0a-ad19-e0dd3cb3866c",
        "x-ms-error-code": "CannotVerifyCopySource",
<<<<<<< HEAD
        "x-ms-request-id": "e3040df7-401a-0038-5af6-aa36fb000000",
=======
        "x-ms-request-id": "46202bb3-801a-0018-08db-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003EThe specified resource does not exist.\n",
<<<<<<< HEAD
        "RequestId:e3040df7-401a-0038-5af6-aa36fb000000\n",
        "Time:2019-12-04T23:00:33.0264659Z\u003C/Message\u003E\u003C/Error\u003E"
=======
        "RequestId:46202bb3-801a-0018-08db-aa4d5c000000\n",
        "Time:2019-12-04T19:45:33.8659077Z\u003C/Message\u003E\u003C/Error\u003E"
>>>>>>> feature/storage/stg71-base
      ]
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-88aa7656-a11f-0642-8091-bb25612e7125?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-1d3ad3952ff49e4fa28a73c76cd4347a-cacb3dede69f3a40-00",
=======
        "traceparent": "00-36a4bbe38a14314daab4076f5b215d52-658fc29fd2b7f04f-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "231300cd-b2f7-7116-6755-845e932b6e2c",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:00:33 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:45:33 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:00:32 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:45:33 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "231300cd-b2f7-7116-6755-845e932b6e2c",
<<<<<<< HEAD
        "x-ms-request-id": "e3040dfc-401a-0038-5ff6-aa36fb000000",
=======
        "x-ms-request-id": "46202bb5-801a-0018-0adb-aa4d5c000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "510986113",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}