{
  "Entries": [
    {
      "RequestUri": "https://eastus.easm.defender.microsoft.com/subscriptions/59af3bf1-d118-4916-808e-923509b34a94/resourceGroups/shad-rg/workspaces/sdktest/reports/assets:getSnapshot?api-version=2023-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metric": "savedfilter_metric_51126"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ui-version": "sdk"
      },
      "ResponseBody": {
        "displayName": "ASI: WordPress Core Multiple CVEs for SQLi and Stored XSS",
        "metric": "savedfilter_metric_51126",
        "labelName": null,
        "updatedAt": "2023-08-10T09:44:19\u002B0000",
        "description": "##### Description\n\nThis impacts all versions of WordPress major release branches from 3.7 to 5.8 and consists of the following CVEs:\n-   CVE-2022-21664: SQL injection due to improper sanitization in WP_Meta_Query  \n    Due to lack of proper sanitization in WP_Meta_Query, there\u2019s potential for blind SQL Injection\n-   CVE-2022-21661: SQL Injection through WP_Query  \n    Due to improper sanitization in WP_Query, there can be cases where SQL injection is possible through plugins or them[...]
