{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6246/providers/Microsoft.Media/mediaservices/mediaservice6572?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11809"
      },
      "ResponseBody": {
        "name": "mediaservice6572",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6246/providers/Microsoft.Media/mediaservices/mediaservice6572",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "properties": {
          "mediaServiceId": "535bc12f-b6db-4614-b4be-b7a3e301827f",
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6246/providers/Microsoft.Storage/storageAccounts/azstorageformedia738",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "encryption": {
            "type": "SystemKey"
          },
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6246/providers/Microsoft.Media/mediaServices/mediaservice6572/transforms/randomtransfer1505?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11808"
      },
      "ResponseBody": {
        "name": "randomtransfer1505",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6246/providers/Microsoft.Media/mediaservices/mediaservice6572/transforms/randomtransfer1505",
        "type": "Microsoft.Media/mediaservices/transforms",
        "properties": {
          "created": "2022-09-02T06:36:38.9618362Z",
          "lastModified": "2022-09-02T06:36:38.9618362Z",
          "outputs": [
            {
              "onError": "StopProcessingJob",
              "relativePriority": "Normal",
              "preset": {
                "@odata.type": "#Microsoft.Media.AudioAnalyzerPreset",
                "mode": "Standard"
              }
            }
          ]
        },
        "systemData": {
          "createdBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "createdByType": "Application",
          "createdAt": "2022-09-02T06:36:38.9618362Z",
          "lastModifiedBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-02T06:36:38.9618362Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6246/providers/Microsoft.Media/mediaServices/mediaservice6572/assets/empty-asset-input3203?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11978"
      },
      "ResponseBody": {
        "name": "empty-asset-input3203",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6246/providers/Microsoft.Media/mediaservices/mediaservice6572/assets/empty-asset-input3203",
        "type": "Microsoft.Media/mediaservices/assets",
        "properties": {
          "assetId": "64a82594-0a0f-44a4-ba41-30df6c5fb972",
          "created": "2022-09-02T06:36:46.81Z",
          "lastModified": "2022-09-02T06:36:46.81Z",
          "storageAccountName": "azstorageformedia738",
          "storageEncryptionFormat": "None"
        },
        "systemData": {
          "createdBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "createdByType": "Application",
          "createdAt": "2022-09-02T06:36:46.5244164Z",
          "lastModifiedBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-02T06:36:46.5244164Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6246/providers/Microsoft.Media/mediaServices/mediaservice6572/assets/empty-asset-output2701?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHead[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6246/providers/Microsoft.Media/mediaServices/mediaservice6572/transforms/randomtransfer1505/jobs/job6996?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "input": {
            "assetName": "empty-asset-input3203",
            "@odata.type": "#Microsoft.Media.JobInputAsset"
          },
          "outputs": [
            {
              "assetName": "empty-asset-output2701",
              "@odata.type": "#Microsoft.Media.JobOutputAsset"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11994"
      },
      "ResponseBody": {
        "name": "job6996",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6246/providers/Microsoft.Media/mediaservices/mediaservice6572/transforms/randomtransfer1505/jobs/job6996",
        "type": "Microsoft.Media/mediaservices/transforms/jobs",
        "properties": {
          "created": "2022-09-02T06:36:47.6025525Z",
          "state": "Scheduled",
          "input": {
            "@odata.type": "#Microsoft.Media.JobInputAsset",
            "files": [],
            "inputDefinitions": [],
            "assetName": "empty-asset-input3203"
          },
          "lastModified": "2022-09-02T06:36:47.6025525Z",
          "outputs": [
            {
              "@odata.type": "#Microsoft.Media.JobOutputAsset",
              "state": "Queued",
              "progress": 0,
              "label": "AudioAnalyzerPreset_0",
              "assetName": "empty-asset-output2701"
            }
          ],
          "priority": "Normal",
          "correlationData": {}
        },
        "systemData": {
          "createdBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "createdByType": "Application",
          "createdAt": "2022-09-02T06:36:47.6025525Z",
          "lastModifiedBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-02T06:36:47.6025525Z"
        }
      }
    },
[...]
