{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG199/providers/Microsoft.Media/mediaservices/mediaservice9882?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "name": "mediaservice9882",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG199/providers/Microsoft.Media/mediaservices/mediaservice9882",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "properties": {
          "mediaServiceId": "7b70d140-cec0-47ff-9ad7-db74aa80a5b2",
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG199/providers/Microsoft.Storage/storageAccounts/azstorageformedia1730",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "encryption": {
            "type": "SystemKey"
          },
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG199/providers/Microsoft.Media/mediaServices/mediaservice9882/transforms/randomtransfer1696?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "name": "randomtransfer1696",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG199/providers/Microsoft.Media/mediaservices/mediaservice9882/transforms/randomtransfer1696",
        "type": "Microsoft.Media/mediaservices/transforms",
        "properties": {
          "created": "2022-08-17T09:53:13.8478532Z",
          "lastModified": "2022-08-17T09:53:13.8478532Z",
          "outputs": [
            {
              "onError": "StopProcessingJob",
              "relativePriority": "Normal",
              "preset": {
                "@odata.type": "#Microsoft.Media.AudioAnalyzerPreset",
                "mode": "Standard"
              }
            }
          ]
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-08-17T09:53:13.8478532Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-17T09:53:13.8478532Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG199/providers/Microsoft.Media/mediaServices/mediaservice9882/assets/empty-asset-input8820?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11995"
      },
      "ResponseBody": {
        "name": "empty-asset-input8820",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG199/providers/Microsoft.Media/mediaservices/mediaservice9882/assets/empty-asset-input8820",
        "type": "Microsoft.Media/mediaservices/assets",
        "properties": {
          "assetId": "686f4d64-285b-4b0a-8128-0a8efb2d1ff2",
          "created": "2022-08-17T09:53:26.707Z",
          "lastModified": "2022-08-17T09:53:26.707Z",
          "storageAccountName": "azstorageformedia1730",
          "storageEncryptionFormat": "None"
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-08-17T09:53:26.2541971Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-17T09:53:26.2541971Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG199/providers/Microsoft.Media/mediaServices/mediaservice9882/assets/empty-asset-output8363?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeade[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG199/providers/Microsoft.Media/mediaServices/mediaservice9882/transforms/randomtransfer1696/jobs/job1173?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "input": {
            "assetName": "empty-asset-input8820",
            "@odata.type": "#Microsoft.Media.JobInputAsset"
          },
          "outputs": [
            {
              "assetName": "empty-asset-output8363",
              "@odata.type": "#Microsoft.Media.JobOutputAsset"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11996"
      },
      "ResponseBody": {
        "name": "job1173",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG199/providers/Microsoft.Media/mediaservices/mediaservice9882/transforms/randomtransfer1696/jobs/job1173",
        "type": "Microsoft.Media/mediaservices/transforms/jobs",
        "properties": {
          "created": "2022-08-17T09:53:27.4573255Z",
          "state": "Scheduled",
          "input": {
            "@odata.type": "#Microsoft.Media.JobInputAsset",
            "files": [],
            "inputDefinitions": [],
            "assetName": "empty-asset-input8820"
          },
          "lastModified": "2022-08-17T09:53:27.4573255Z",
          "outputs": [
            {
              "@odata.type": "#Microsoft.Media.JobOutputAsset",
              "state": "Queued",
              "progress": 0,
              "label": "AudioAnalyzerPreset_0",
              "assetName": "empty-asset-output8363"
            }
          ],
          "priority": "Normal",
          "correlationData": {}
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-08-17T09:53:27.4573255Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-17T09:53:27.4573255Z"
        }
      }
    },
[...]
