{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9380/providers/Microsoft.Media/mediaservices/mediafortjob1703?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "name": "mediafortjob1703",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9380/providers/Microsoft.Media/mediaservices/mediafortjob1703",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "properties": {
          "mediaServiceId": "ee3ca010-1e82-43b6-b382-3df9a46130de",
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9380/providers/Microsoft.Storage/storageAccounts/azstorageformedia7430",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "encryption": {
            "type": "SystemKey"
          },
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9380/providers/Microsoft.Media/mediaServices/mediafortjob1703/transforms/randomtransfer9298?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "name": "randomtransfer9298",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9380/providers/Microsoft.Media/mediaservices/mediafortjob1703/transforms/randomtransfer9298",
        "type": "Microsoft.Media/mediaservices/transforms",
        "properties": {
          "created": "2022-09-14T05:34:12.5749499Z",
          "lastModified": "2022-09-14T05:34:12.5749499Z",
          "outputs": [
            {
              "onError": "StopProcessingJob",
              "relativePriority": "Normal",
              "preset": {
                "@odata.type": "#Microsoft.Media.AudioAnalyzerPreset",
                "mode": "Standard"
              }
            }
          ]
        },
        "systemData": {
          "createdBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "createdByType": "Application",
          "createdAt": "2022-09-14T05:34:12.5749499Z",
          "lastModifiedBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-14T05:34:12.5749499Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9380/providers/Microsoft.Media/mediaServices/mediafortjob1703/assets/empty-asset-input6742?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "name": "empty-asset-input6742",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9380/providers/Microsoft.Media/mediaservices/mediafortjob1703/assets/empty-asset-input6742",
        "type": "Microsoft.Media/mediaservices/assets",
        "properties": {
          "assetId": "7621fe01-0723-46b1-8ff5-70f378b5b407",
          "created": "2022-09-14T05:34:17.25Z",
          "lastModified": "2022-09-14T05:34:17.25Z",
          "storageAccountName": "azstorageformedia7430",
          "storageEncryptionFormat": "None"
        },
        "systemData": {
          "createdBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "createdByType": "Application",
          "createdAt": "2022-09-14T05:34:16.1374537Z",
          "lastModifiedBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-14T05:34:16.1374537Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9380/providers/Microsoft.Media/mediaServices/mediafortjob1703/assets/empty-asset-output3356?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHead[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9380/providers/Microsoft.Media/mediaServices/mediafortjob1703/transforms/randomtransfer9298/jobs/job4654?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "input": {
            "assetName": "empty-asset-input6742",
            "@odata.type": "#Microsoft.Media.JobInputAsset"
          },
          "outputs": [
            {
              "assetName": "empty-asset-output3356",
              "@odata.type": "#Microsoft.Media.JobOutputAsset"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "name": "job4654",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9380/providers/Microsoft.Media/mediaservices/mediafortjob1703/transforms/randomtransfer9298/jobs/job4654",
        "type": "Microsoft.Media/mediaservices/transforms/jobs",
        "properties": {
          "created": "2022-09-14T05:34:18.1530814Z",
          "state": "Scheduled",
          "input": {
            "@odata.type": "#Microsoft.Media.JobInputAsset",
            "files": [],
            "inputDefinitions": [],
            "assetName": "empty-asset-input6742"
          },
          "lastModified": "2022-09-14T05:34:18.1530814Z",
          "outputs": [
            {
              "@odata.type": "#Microsoft.Media.JobOutputAsset",
              "state": "Queued",
              "progress": 0,
              "label": "AudioAnalyzerPreset_0",
              "assetName": "empty-asset-output3356"
            }
          ],
          "priority": "Normal",
          "correlationData": {}
        },
        "systemData": {
          "createdBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "createdByType": "Application",
          "createdAt": "2022-09-14T05:34:18.1530814Z",
          "lastModifiedBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-14T05:34:18.1530814Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9380/providers/Microsoft.Media/mediaServices/mediafortjob1703/transforms/randomtransfer9298/jobs?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "job4654",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9380/providers/Microsoft.Media/mediaservices/mediafortjob1703/transforms/randomtransfer9298/jobs/job4654",
            "type": "Microsoft.Media/mediaservices/transforms/jobs",
            "properties": {
              "created": "2022-09-14T05:34:18.407Z",
              "state": "Processing",
              "input": {
                "@odata.type": "#Microsoft.Media.JobInputAsset",
                "files": [],
                "inputDefinitions": [],
                "assetName": "empty-asset-input6742"
              },
              "lastModified": "2022-09-14T05:34:18.407Z",
              "outputs": [
                {
                  "@odata.type": "#Microsoft.Media.JobOutputAsset",
                  "state": "Processing",
                  "progress": 0,
                  "label": "AudioAnalyzerPreset_0",
                  "startTime": "2022-09-14T05:34:18.723Z",
                  "assetName": "empty-asset-output3356"
                }
              ],
              "priority": "Normal",
              "correlationData": {},
              "startTime": "2022-09-14T05:34:18.723Z"
            },
            "systemData": {
              "createdAt": "2022-09-14T05:34:18.407Z",
              "lastModifiedAt": "2022-09-14T05:34:18.407Z"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9380/providers/Microsoft.Media/mediaServices/mediafortjob1703/transforms/randomtransfer9298/jobs/job4654/cancelJob?api-version=2021-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9380/providers/Microsoft.Media/mediaServices/mediafortjob1703/transforms/randomtransfer9298/jobs/job4654?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en-US",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "The requested resource was not found."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "539202937",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
