{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG8936/providers/Microsoft.Media/mediaservices/mediadotnetsdktests3941?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "storageAccounts": [
            {
              "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG8936/providers/Microsoft.Storage/storageAccounts/azstorageformedia5832",
              "type": "Primary"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/e07fe0db-2bb4-4481-bb48-7f389d335996?api-version=2023-01-01",
        "Content-Type": "application/json; odata.metadata=minimal",
        "Location": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationResults/e07fe0db-2bb4-4481-bb48-7f389d335996?api-version=2023-01-01",
        "OData-Version": "4.0",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-writes": "1144"
      },
      "ResponseBody": {
        "name": "mediadotnetsdktests3941",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG8936/providers/Microsoft.Media/mediaservices/mediadotnetsdktests3941",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "tags": {},
        "properties": {
          "mediaServiceId": "f608a063-b909-4f3a-916f-7077f05ebcd4",
          "storageAccounts": [
            {
              "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG8936/providers/Microsoft.Storage/storageAccounts/azstorageformedia5832",
              "type": "Primary"
            }
          ],
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "InProgress",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/e07fe0db-2bb4-4481-bb48-7f389d335996?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11845"
      },
      "ResponseBody": {
        "name": "e07fe0db-2bb4-4481-bb48-7f389d335996",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/e07fe0db-2bb4-4481-bb48-7f389d335996",
        "startTime": "2023-03-06T18:34:35.8943515Z",
        "status": "InProgress"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/e07fe0db-2bb4-4481-bb48-7f389d335996?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11844"
      },
      "ResponseBody": {
        "name": "e07fe0db-2bb4-4481-bb48-7f389d335996",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/e07fe0db-2bb4-4481-bb48-7f389d335996",
        "startTime": "2023-03-06T18:34:35.8943515Z",
        "endTime": "2023-03-06T18:34:36.4568841Z",
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG8936/providers/Microsoft.Media/mediaservices/mediadotnetsdktests3941?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11843"
      },
      "ResponseBody": {
        "name": "mediadotnetsdktests3941",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG8936/providers/Microsoft.Media/mediaservices/mediadotnetsdktests3941",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "properties": {
          "mediaServiceId": "f608a063-b909-4f3a-916f-7077f05ebcd4",
          "storageAccounts": [
            {
              "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG8936/providers/Microsoft.Storage/storageAccounts/azstorageformedia5832",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "encryption": {
            "type": "SystemKey"
          },
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": [],
          "minimumTlsVersion": "Tls12"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG8936/providers/Microsoft.Media/mediaServices/mediadotnetsdktests3941/transforms/randomtransfer7173?api-version=2022-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "outputs": [
            {
              "preset": {
                "@odata.type": "#Microsoft.Media.AudioAnalyzerPreset"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1143"
      },
      "ResponseBody": {
        "name": "randomtransfer7173",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG8936/providers/Microsoft.Media/mediaservices/mediadotnetsdktests3941/transforms/randomtransfer7173",
        "type": "Microsoft.Media/mediaservices/transforms",
        "properties": {
          "created": "2023-03-06T18:34:37.4451699Z",
          "lastModified": "2023-03-06T18:34:37.4451699Z",
          "outputs": [
            {
              "onError": "StopProcessingJob",
              "relativePriority": "Normal",
              "preset": {
                "@odata.type": "#Microsoft.Media.AudioAnalyzerPreset",
                "mode": "Standard"
              }
            }
          ]
        },
        "systemData": {
          "createdBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "createdByType": "Application",
          "createdAt": "2023-03-06T18:34:37.4451699Z",
          "lastModifiedBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-06T18:34:37.4451699Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG8936/providers/Microsoft.Media/mediaServices/mediadotnetsdktests3941/assets/empty-asset-input5250?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11986"
      },
      "ResponseBody": {
        "name": "empty-asset-input5250",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG8936/providers/Microsoft.Media/mediaservices/mediadotnetsdktests3941/assets/empty-asset-input5250",
        "type": "Microsoft.Media/mediaservices/assets",
        "properties": {
          "assetId": "3442d4cf-0a16-430a-8f5b-3b2470e12ff5",
          "created": "2023-03-06T18:34:37.97Z",
          "lastModified": "2023-03-06T18:34:37.97Z",
          "container": "asset-3442d4cf-0a16-430a-8f5b-3b2470e12ff5",
          "storageAccountName": "azstorageformedia5832",
          "storageEncryptionFormat": "None"
        },
        "systemData": {
          "createdBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "createdByType": "Application",
          "createdAt": "2023-03-06T18:34:37.7733061Z",
          "lastModifiedBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-06T18:34:37.7733061Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG8936/providers/Microsoft.Media/mediaServices/mediadotnetsdktests3941/assets/empty-asset-output3790?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "Respo[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG8936/providers/Microsoft.Media/mediaServices/mediadotnetsdktests3941/transforms/randomtransfer7173/jobs/job1935?api-version=2022-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "input": {
            "assetName": "empty-asset-input5250",
            "@odata.type": "#Microsoft.Media.JobInputAsset"
          },
          "outputs": [
            {
              "assetName": "empty-asset-output3790",
              "@odata.type": "#Microsoft.Media.JobOutputAsset"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "name": "job1935",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG8936/providers/Microsoft.Media/mediaservices/mediadotnetsdktests3941/transforms/randomtransfer7173/jobs/job1935",
        "type": "Microsoft.Media/mediaservices/transforms/jobs",
        "properties": {
          "created": "2023-03-06T18:34:38.3826346Z",
          "state": "Scheduled",
          "input": {
            "@odata.type": "#Microsoft.Media.JobInputAsset",
            "files": [],
            "inputDefinitions": [],
            "assetName": "empty-asset-input5250"
          },
          "lastModified": "2023-03-06T18:34:38.3826346Z",
          "outputs": [
            {
              "@odata.type": "#Microsoft.Media.JobOutputAsset",
              "state": "Queued",
              "progress": 0,
              "label": "AudioAnalyzerPreset_0",
              "assetName": "empty-asset-output3790"
            }
          ],
          "priority": "Normal",
          "correlationData": {}
        },
        "systemData": {
          "createdBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "createdByType": "Application",
          "createdAt": "2023-03-06T18:34:38.3826346Z",
          "lastModifiedBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-06T18:34:38.3826346Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG8936/providers/Microsoft.Media/mediaServices/mediadotnetsdktests3941/transforms/randomtransfer7173/jobs?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11840"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "job1935",
            "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG8936/providers/Microsoft.Media/mediaservices/mediadotnetsdktests3941/transforms/randomtransfer7173/jobs/job1935",
            "type": "Microsoft.Media/mediaservices/transforms/jobs",
            "properties": {
              "created": "2023-03-06T18:34:38.423Z",
              "state": "Processing",
              "input": {
                "@odata.type": "#Microsoft.Media.JobInputAsset",
                "files": [],
                "inputDefinitions": [],
                "assetName": "empty-asset-input5250"
              },
              "lastModified": "2023-03-06T18:34:38.423Z",
              "outputs": [
                {
                  "@odata.type": "#Microsoft.Media.JobOutputAsset",
                  "state": "Processing",
                  "progress": 0,
                  "label": "AudioAnalyzerPreset_0",
                  "startTime": "2023-03-06T18:34:38.893Z",
                  "assetName": "empty-asset-output3790"
                }
              ],
              "priority": "Normal",
              "correlationData": {},
              "startTime": "2023-03-06T18:34:38.893Z"
            },
            "systemData": {
              "createdAt": "2023-03-06T18:34:38.423Z",
              "lastModifiedAt": "2023-03-06T18:34:38.423Z"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG8936/providers/Microsoft.Media/mediaServices/mediadotnetsdktests3941/transforms/randomtransfer7173/jobs/job1935/cancelJob?api-version=2022-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG8936/providers/Microsoft.Media/mediaServices/mediadotnetsdktests3941/transforms/randomtransfer7173/jobs/job1935?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en-US",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11838"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "The requested resource was not found."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2023-03-06T10:34:33.6717216-08:00",
    "RandomSeed": "248892284",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5"
  }
}
