{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6792/providers/Microsoft.Media/mediaservices/mediadotnetsdktests2385?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "storageAccounts": [
            {
              "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6792/providers/Microsoft.Storage/storageAccounts/azstorageformedia7876",
              "type": "Primary"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/dc46303d-a87d-4f81-921d-f90494b92d29?api-version=2023-01-01",
        "Content-Type": "application/json; odata.metadata=minimal",
        "Location": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationResults/dc46303d-a87d-4f81-921d-f90494b92d29?api-version=2023-01-01",
        "OData-Version": "4.0",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-writes": "1127"
      },
      "ResponseBody": {
        "name": "mediadotnetsdktests2385",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6792/providers/Microsoft.Media/mediaservices/mediadotnetsdktests2385",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "tags": {},
        "properties": {
          "mediaServiceId": "84329120-f8f3-4e56-99f1-b722e40c9234",
          "storageAccounts": [
            {
              "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6792/providers/Microsoft.Storage/storageAccounts/azstorageformedia7876",
              "type": "Primary"
            }
          ],
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "InProgress",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/dc46303d-a87d-4f81-921d-f90494b92d29?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11807"
      },
      "ResponseBody": {
        "name": "dc46303d-a87d-4f81-921d-f90494b92d29",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/dc46303d-a87d-4f81-921d-f90494b92d29",
        "startTime": "2023-03-21T17:50:15.8533868Z",
        "status": "InProgress"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/dc46303d-a87d-4f81-921d-f90494b92d29?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11806"
      },
      "ResponseBody": {
        "name": "dc46303d-a87d-4f81-921d-f90494b92d29",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/dc46303d-a87d-4f81-921d-f90494b92d29",
        "startTime": "2023-03-21T17:50:15.8533868Z",
        "endTime": "2023-03-21T17:50:17.1346739Z",
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6792/providers/Microsoft.Media/mediaservices/mediadotnetsdktests2385?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11805"
      },
      "ResponseBody": {
        "name": "mediadotnetsdktests2385",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6792/providers/Microsoft.Media/mediaservices/mediadotnetsdktests2385",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "properties": {
          "mediaServiceId": "84329120-f8f3-4e56-99f1-b722e40c9234",
          "storageAccounts": [
            {
              "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6792/providers/Microsoft.Storage/storageAccounts/azstorageformedia7876",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "encryption": {
            "type": "SystemKey"
          },
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": [],
          "minimumTlsVersion": "Tls12"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6792/providers/Microsoft.Media/mediaServices/mediadotnetsdktests2385/transforms/randomtransfer9689?api-version=2022-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "outputs": [
            {
              "preset": {
                "@odata.type": "#Microsoft.Media.AudioAnalyzerPreset"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1126"
      },
      "ResponseBody": {
        "name": "randomtransfer9689",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6792/providers/Microsoft.Media/mediaservices/mediadotnetsdktests2385/transforms/randomtransfer9689",
        "type": "Microsoft.Media/mediaservices/transforms",
        "properties": {
          "created": "2023-03-21T17:50:17.4669424Z",
          "lastModified": "2023-03-21T17:50:17.4669424Z",
          "outputs": [
            {
              "onError": "StopProcessingJob",
              "relativePriority": "Normal",
              "preset": {
                "@odata.type": "#Microsoft.Media.AudioAnalyzerPreset",
                "mode": "Standard"
              }
            }
          ]
        },
        "systemData": {
          "createdBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "createdByType": "Application",
          "createdAt": "2023-03-21T17:50:17.4669424Z",
          "lastModifiedBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-21T17:50:17.4669424Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6792/providers/Microsoft.Media/mediaServices/mediadotnetsdktests2385/assets/empty-asset-input9236?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11986"
      },
      "ResponseBody": {
        "name": "empty-asset-input9236",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6792/providers/Microsoft.Media/mediaservices/mediadotnetsdktests2385/assets/empty-asset-input9236",
        "type": "Microsoft.Media/mediaservices/assets",
        "properties": {
          "assetId": "f92a4b21-0796-4f7b-850f-c88a2388924b",
          "created": "2023-03-21T17:50:17.793Z",
          "lastModified": "2023-03-21T17:50:17.793Z",
          "container": "asset-f92a4b21-0796-4f7b-850f-c88a2388924b",
          "storageAccountName": "azstorageformedia7876",
          "storageEncryptionFormat": "None"
        },
        "systemData": {
          "createdBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "createdByType": "Application",
          "createdAt": "2023-03-21T17:50:17.7169123Z",
          "lastModifiedBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-21T17:50:17.7169123Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6792/providers/Microsoft.Media/mediaServices/mediadotnetsdktests2385/assets/empty-asset-output7771?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "Respo[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6792/providers/Microsoft.Media/mediaServices/mediadotnetsdktests2385/transforms/randomtransfer9689/jobs/job495?api-version=2022-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "input": {
            "assetName": "empty-asset-input9236",
            "@odata.type": "#Microsoft.Media.JobInputAsset"
          },
          "outputs": [
            {
              "assetName": "empty-asset-output7771",
              "@odata.type": "#Microsoft.Media.JobOutputAsset"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11998"
      },
      "ResponseBody": {
        "name": "job495",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6792/providers/Microsoft.Media/mediaservices/mediadotnetsdktests2385/transforms/randomtransfer9689/jobs/job495",
        "type": "Microsoft.Media/mediaservices/transforms/jobs",
        "properties": {
          "created": "2023-03-21T17:50:18.2794596Z",
          "state": "Scheduled",
          "input": {
            "@odata.type": "#Microsoft.Media.JobInputAsset",
            "files": [],
            "inputDefinitions": [],
            "assetName": "empty-asset-input9236"
          },
          "lastModified": "2023-03-21T17:50:18.2794596Z",
          "outputs": [
            {
              "@odata.type": "#Microsoft.Media.JobOutputAsset",
              "state": "Queued",
              "progress": 0,
              "label": "AudioAnalyzerPreset_0",
              "assetName": "empty-asset-output7771"
            }
          ],
          "priority": "Normal",
          "correlationData": {}
        },
        "systemData": {
          "createdBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "createdByType": "Application",
          "createdAt": "2023-03-21T17:50:18.2794596Z",
          "lastModifiedBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-21T17:50:18.2794596Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6792/providers/Microsoft.Media/mediaServices/mediadotnetsdktests2385/transforms/randomtransfer9689/jobs?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11802"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "job495",
            "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6792/providers/Microsoft.Media/mediaservices/mediadotnetsdktests2385/transforms/randomtransfer9689/jobs/job495",
            "type": "Microsoft.Media/mediaservices/transforms/jobs",
            "properties": {
              "created": "2023-03-21T17:50:18.34Z",
              "state": "Processing",
              "input": {
                "@odata.type": "#Microsoft.Media.JobInputAsset",
                "files": [],
                "inputDefinitions": [],
                "assetName": "empty-asset-input9236"
              },
              "lastModified": "2023-03-21T17:50:18.34Z",
              "outputs": [
                {
                  "@odata.type": "#Microsoft.Media.JobOutputAsset",
                  "state": "Processing",
                  "progress": 0,
                  "label": "AudioAnalyzerPreset_0",
                  "startTime": "2023-03-21T17:50:18.717Z",
                  "assetName": "empty-asset-output7771"
                }
              ],
              "priority": "Normal",
              "correlationData": {},
              "startTime": "2023-03-21T17:50:18.717Z"
            },
            "systemData": {
              "createdAt": "2023-03-21T17:50:18.34Z",
              "lastModifiedAt": "2023-03-21T17:50:18.34Z"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6792/providers/Microsoft.Media/mediaServices/mediadotnetsdktests2385/transforms/randomtransfer9689/jobs/job495/cancelJob?api-version=2022-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG6792/providers/Microsoft.Media/mediaServices/mediadotnetsdktests2385/transforms/randomtransfer9689/jobs/job495?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en-US",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11743"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "The requested resource was not found."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2023-03-21T10:50:14.0800560-07:00",
    "RandomSeed": "1192774794",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5"
  }
}
