{
  "Entries": [
    {
      "RequestUri": "https://orsamandacentral.blob.core.windows.net/test-container-8922d027-6eb7-9d56-2c41-9cd78979edea?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 17 Mar 2022 07:35:05 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA07E8A7E1A81C\u0022",
        "Last-Modified": "Thu, 17 Mar 2022 07:35:05 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://orsamandacentral.blob.core.windows.net/test-container-8922d027-6eb7-9d56-2c41-9cd78979edea/test-blob-0059ed6d-1468-b0ab-972b-92e71c2388da/27c5a448-adf8-af1e-64bb-58cc11b87c2b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 17 Mar 2022 07:35:05 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8DA07E8A7F968F7\u0022",
        "Last-Modified": "Thu, 17 Mar 2022 07:35:05 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2022-03-17T07:35:05.8294007Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://orsamandacentral.blob.core.windows.net/test-container-8922d027-6eb7-9d56-2c41-9cd78979edea?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Mar 2022 07:35:05 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version":[...]
    {
      "RequestUri": "https://orsamandacentral.blob.core.windows.net/test-container-8922d027-6eb7-9d56-2c41-9cd78979edea?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Mar 2022 07:35:05 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2036516449",
    "Storage_TestConfigDefault": "ProductionTenant\norsamandacentral\nU2FuaXRpemVk\nhttps://orsamandacentral.blob.core.windows.net\nhttps://orsamandacentral.file.core.windows.net\nhttps://orsamandacentral.queue.core.windows.net\nhttps://orsamandacentral.table.core.windows.net\n\n\n\n\nhttps://orsamandacentral-secondary.blob.core.windows.net\nhttps://orsamandacentral-secondary.file.core.windows.net\nhttps://orsamandacentral-secondary.queue.core.windows.net\nhttps://orsamandacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://orsamandacentral.blob.core.windows.net/;QueueEndpoint=https://orsamandacentral.queue.core.windows.net/;FileEndpoint=https://orsamandacentral.file.core.windows.net/;BlobSecondaryEndpoint=https://orsamandacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://orsamandacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://orsamandacentral-secondary.file.core.windows.net/;AccountName=orsamandacentral;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
