{
  "Entries": [
    {
      "RequestUri": "https://orsamandacentral.blob.core.windows.net/test-container-bdf25678-4b46-c1c5-afc0-0ec71dbde341?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 17 Mar 2022 07:35:06 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA07E8A83428DA\u0022",
        "Last-Modified": "Thu, 17 Mar 2022 07:35:06 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://orsamandacentral.blob.core.windows.net/test-container-bdf25678-4b46-c1c5-afc0-0ec71dbde341/test-blob-b27b9198-4c4b-55b4-9d80-5e5f987d057a/29afd732-fab9-364a-5bbe-c1502df79edb/c12da77c-dcce-19c1-2f0e-b1ebc21ea570",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 17 Mar 2022 07:35:06 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8DA07E8A843FB76\u0022",
        "Last-Modified": "Thu, 17 Mar 2022 07:35:06 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2022-03-17T07:35:06.3191183Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://orsamandacentral.blob.core.windows.net/test-container-bdf25678-4b46-c1c5-afc0-0ec71dbde341?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Mar 2022 07:35:06 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version":[...]
    {
      "RequestUri": "https://orsamandacentral.blob.core.windows.net/test-container-bdf25678-4b46-c1c5-afc0-0ec71dbde341?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Mar 2022 07:35:06 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1734099563",
    "Storage_TestConfigDefault": "ProductionTenant\norsamandacentral\nU2FuaXRpemVk\nhttps://orsamandacentral.blob.core.windows.net\nhttps://orsamandacentral.file.core.windows.net\nhttps://orsamandacentral.queue.core.windows.net\nhttps://orsamandacentral.table.core.windows.net\n\n\n\n\nhttps://orsamandacentral-secondary.blob.core.windows.net\nhttps://orsamandacentral-secondary.file.core.windows.net\nhttps://orsamandacentral-secondary.queue.core.windows.net\nhttps://orsamandacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://orsamandacentral.blob.core.windows.net/;QueueEndpoint=https://orsamandacentral.queue.core.windows.net/;FileEndpoint=https://orsamandacentral.file.core.windows.net/;BlobSecondaryEndpoint=https://orsamandacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://orsamandacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://orsamandacentral-secondary.file.core.windows.net/;AccountName=orsamandacentral;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
