{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/providers/Microsoft.Compute/locations/SoutheastAsia/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2012-R2-Datacenter/versions?$top=1&api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43997"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"southeastasia\",\r\n    \"name\": \"4.127.20180315\",\r\n    \"id\": \"/Subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/Providers/Microsoft.Compute/Locations/southeastasia/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2012-R2-Datacenter/Versions/4.127.20180315\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourcegroups/crptestar1364?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"crptestar1364\": \"2021-11-18 20:32:51Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364\",\r\n  \"name\": \"crptestar1364\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"crptestar1364\": \"2021-11-18 20:32:51Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Storage/storageAccounts/crptestar2380?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"SoutheastAsia\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/a956af8d-5bb8-4b31-a6e2-cf3517778f3c?monitor=true&api-version=2015-06-15"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/a956af8d-5bb8-4b31-a6e2-cf3517778f3c?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/a956af8d-5bb8-4b31-a6e2-cf3517778f3c?monitor=true&api-version=2015-06-15"
        ],
        "Retry-After": [
          "3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Storage/storageAccounts?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Storage/storageAccounts/crptestar2380\",\r\n      \"name\": \"crptestar2380\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"location\": \"southeastasia\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"creationTime\": \"2021-11-18T20:32:59.1453884Z\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://crptestar2380.blob.core.windows.net/\",\r\n          \"queue\": \"https://crptestar2380.queue.core.windows.net/\",\r\n          \"table\": \"https://crptestar2380.table.core.windows.net/\",\r\n          \"file\": \"https://crptestar2380.file.core.windows.net/\"\r\n        },\r\n        \"primaryLocation\": \"southeastasia\",\r\n        \"statusOfPrimary\": \"available\",\r\n        \"secondaryLocation\": \"eastasia\",\r\n        \"statusOfSecondary\": \"available\",\r\n        \"accountType\": \"Standard_GRS\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Network/publicIPAddresses/pip4239?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn3570\"\r\n    }\r\n  },\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/providers/Microsoft.Network/locations/southeastasia/operations/6f69da17-80c0-4698-a5d4-4c8a05408061?api-version=2019-09-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip4239\",\r\n  \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Network/publicIPAddresses/pip4239\",\r\n  \"etag\": \"W/\\\"42bbb16c-c632-423e-9291-1698f7f395d0\\\"\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"099abf25-f068-4ea7-9a83-a5e5f46e9341\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn3570\",\r\n      \"fqdn\": \"dn3570.southeastasia.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/providers/Microsoft.Network/locations/southeastasia/operations/6f69da17-80c0-4698-a5d4-4c8a05408061?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Network/publicIPAddresses/pip4239?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"1648ac4e-f312-4622-82aa-89a34367c2b7\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip4239\",\r\n  \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Network/publicIPAddresses/pip4239\",\r\n  \"etag\": \"W/\\\"1648ac4e-f312-4622-82aa-89a34367c2b7\\\"\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"099abf25-f068-4ea7-9a83-a5e5f46e9341\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn3570\",\r\n      \"fqdn\": \"dn3570.southeastasia.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Network/virtualNetworks/vn9556?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        },\r\n        \"name\": \"sn3059\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"SoutheastAsia\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/providers/Microsoft.Network/locations/southeasta[...]
[...]
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Network/virtualNetworks/vn9556/subnets/sn3059?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"4bb18b8e-dec9-48a0-95a8-747e5511a556\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"sn3059\",\r\n  \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Network/virtualNetworks/vn9556/subnets/sn3059\",\r\n  \"etag\": \"W/\\\"4bb18b8e-dec9-48a0-95a8-747e5511a556\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Network/networkInterfaces/nic5560?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefix\": \"10.0.0.0/24\",\r\n              \"delegations\": [],\r\n              \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n              \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n            },\r\n            \"name\": \"sn3059\",\r\n            \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Network/virtualNetworks/vn9556/subnets/sn3059\"\r\n       [...]
[...]
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/availabilitySets/crptestar1691?api-version=2021-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\": 1,\r\n    \"platformFaultDomainCount\": 1\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Aligned\"\r\n  },\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1199"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"crptestar1691\",\r\n  \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/availabilitySets/crptestar1691\",\r\n  \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  },\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\": 1,\r\n    \"platformFaultDomainCount\": 1\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Aligned\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/virtualMachines/vm5887?api-version=2021-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A1_v2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2012-R2-Datacenter\",\r\n        \"version\": \"4.127.20180315\"\r\n      },\r\n      \"osDisk\": {\r\n        \"name\": \"test\",\r\n        \"caching\": \"None\",\r\n        \"createOption\": \"FromImage\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\"\r\n        }\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 0,\r\n          \"caching\": \"None\",\r\n          \"createOption\": \"Empty\",\r\n          \"diskSizeGB\": 30,\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Standard_LRS\"\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"Test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"adminPassword\": \"[PLACEHOLDEr1]\"\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Network/networkInterfaces/nic5560\"\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": true\r\n      }\r\n    },\r\n    \"availabilitySet\": {\r\n      \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/availabilitySets/crptestar1691\"\r\n    }\r\n  },\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        [...]
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/providers/Microsoft.Compute/locations/southeastasia/operations/006fa397-3782-484c-8e5d-0c71a7909ab2?p=ab241072-17bd-45a5-b4db-5e32153b4f98&api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "50"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29999"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2021-11-18T12:34:18.5532563-08:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"006fa397-3782-484c-8e5d-0c71a7909ab2\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/providers/Microsoft.Compute/locations/southeastasia/operations/006fa397-3782-484c-8e5d-0c71a7909ab2?p=ab241072-17bd-45a5-b4db-5e32153b4f98&api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14994,Microsoft.Compute/GetOperation30Min;29993"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2021-11-18T12:34:18.5532563-08:00\",\r\n  \"endTime\": \"2021-11-18T12:37:08.7586234-08:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"006fa397-3782-484c-8e5d-0c71a7909ab2\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/virtualMachines/vm5887?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/LowCostGet3Min;3998,Microsoft.Compute/LowCostGet30Min;31998"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vm5887\",\r\n  \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/virtualMachines/vm5887\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\",\r\n    \"azsecpack\": \"nonprod\",\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\": \"true\"\r\n  },\r\n  \"properties\": {\r\n    \"vmId\": \"c85ea55e-29b6-482d-9687-479ab60d49d1\",\r\n    \"availabilitySet\": {\r\n      \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/availabilitySets/CRPTESTAR1691\"\r\n    },\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A1_v2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2012-R2-Datacenter\",\r\n        \"version\": \"4.127.20180315\",\r\n        \"exactVersion\": \"4.127.20180315\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"test\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"None\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\",\r\n          \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/disks/test\"\r\n        },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\": 127\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 0,\r\n          \"name\": \"vm5887_disk2_9be2af76cbb947a28aba4e04fac74ac4\",\r\n          \"createOption\": \"Empty\",\r\n          \"caching\": \"None\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Standard_LRS\",\r\n            \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/disks/vm5887_disk2_9be2af76cbb947a28aba4e04fac74ac4\"\r\n          },\r\n          \"deleteOption\": \"Detach\",\r\n          \"diskSizeGB\": 30,\r\n          \"toBeDetached\": false\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"Test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"AutomaticByOS\",\r\n          \"assessmentMode\": \"ImageDefault\"\r\n        }\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Network/networkInterfaces/nic5560\"\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": true\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/restorePointCollections/rpc1ClientTest9808?api-version=2021-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"source\": {\r\n      \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/virtualMachines/vm5887\"\r\n    }\r\n  },\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"testTagValue\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/CreateRestorePoints3Min;119,Microsoft.Compute/CreateRestorePoints30Min;599"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"rpc1ClientTest9808\",\r\n  \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/restorePointCollections/rpc1ClientTest9808\",\r\n  \"type\": \"Microsoft.Compute/restorePointCollections\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"testTagValue\"\r\n  },\r\n  \"properties\": {\r\n    \"source\": {\r\n      \"location\": \"southeastasia\",\r\n      \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/virtualMachines/vm5887\"\r\n    },\r\n    \"restorePointCollectionId\": \"6d821650-478c-44dd-ae36-e38677b708bc\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/restorePointCollections/rpc1ClientTest9808?api-version=2021-07-01",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"source\": {\r\n      \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/virtualMachines/vm5887\"\r\n    }\r\n  },\r\n  \"tags\": {\r\n    \"newTag\": \"newValue1\",\r\n    \"newtestTag\": \"newValue2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/CreateRestorePoints3Min;117,Microsoft.Compute/CreateRestorePoints30Min;597"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"rpc1ClientTest9808\",\r\n  \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/restorePointCollections/rpc1ClientTest9808\",\r\n  \"type\": \"Microsoft.Compute/restorePointCollections\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"newTag\": \"newValue1\",\r\n    \"newtestTag\": \"newValue2\"\r\n  },\r\n  \"properties\": {\r\n    \"source\": {\r\n      \"location\": \"southeastasia\",\r\n      \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/virtualMachines/vm5887\"\r\n    },\r\n    \"restorePointCollectionId\": \"6d821650-478c-44dd-ae36-e38677b708bc\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/restorePointCollections?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/HighCostGetRestorePoint3Min;119,Microsoft.Compute/HighCostGetRestorePoint30Min;1199"
        ],
        "x-ms-ratelimit-re[...]
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/providers/Microsoft.Compute/restorePointCollections?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/HighCostGetRestorePoint3Min;118,Microsoft.Compute/HighCostGetRestorePoint30Min;1198"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [...]
    {
      "RequestUri": "/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/restorePointCollections/rpc1ClientTest9808/restorePoints/rpClientTest8037?api-version=2021-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"excludeDisks\": [\r\n      {\r\n        \"id\": \"/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/resourceGroups/crptestar1364/providers/Microsoft.Compute/disks/vm5887_disk2_9be2af76cbb947a28aba4e04fac74ac4\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/b0fdd422-f617-4876-8d73-0d6cf4b53008/providers/Microsoft.Compute/locations/southeastasia/operations/c5e48fc8-795d-4f33-be7d-57e52e58b781?p=ab241072-17bd-45a5-b4db-5e32153b4f98&api-version=2021-07-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/CreateRestorePoints3Min;116,Microsoft.Compute/CreateRestorePoints30Min;596"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
[...]
