{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/prebuilts",
      "RequestMethod": "POST",
      "RequestBody": "[\r\n  \"datetimeV2\"\r\n]",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"c6f1bd2a-1738-449a-a213-20c49e7fc80c\",\r\n    \"name\": \"datetimeV2\",\r\n    \"typeId\": 2,\r\n    \"readableType\": \"Prebuilt Entity Extractor\",\r\n    \"roles\": []\r\n  }\r\n]",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/patternrule",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"pattern\": \"This is a {datetimeV2}\",\r\n  \"intent\": \"None\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/patternrule/7d2fcb35-ba0c-49f7-8285-f9053f98067f"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/patternrule/7d2fcb35-ba0c-49f7-8285-f9053f98067f"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"7d2fcb35-ba0c-49f7-8285-f9053f98067f\",\r\n  \"pattern\": \"this is a {datetimeV2}\",\r\n  \"intent\": \"None\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/patternrules/7d2fcb35-ba0c-49f7-8285-f9053f98067f",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/patternrules?skip=0&take=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/prebuilts/c6f1bd2a-1738-449a-a213-20c49e7fc80c",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}