{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/moveCollectionRg/providers/Microsoft.Migrate/moveCollections/RegionMove-eastus-westus2/moveResources?api-version=2019-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"2784cefb-8202-42ee-ba82-bbbb499885c5\",\r\n      \"id\": \"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/moveCollectionRg/providers/Microsoft.Migrate/MoveCollections/RegionMove-eastus-westus2/MoveResources/2784cefb-8202-42ee-ba82-bbbb499885c5\",\r\n      \"type\": null,\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"isResolveRequired\": \"False\",\r\n        \"sourceId\": \"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/NETSdkEastUS/providers/Microsoft.Compute/virtualMachines/vm1\",\r\n        \"targetId\": null,\r\n        \"existingTargetId\": null,\r\n        \"resourceSettings\": {\r\n          \"resourceType\": \"Microsoft.Compute/virtualMachines\",\r\n          \"targetAvailabilityZone\": \"1\",\r\n          \"targetAvailabilitySetId\": null,\r\n          \"targetVmSize\": null,\r\n          \"targetResourceName\": \"targetVm1\"\r\n        },\r\n        \"moveStatus\": {\r\n          \"moveState\": \"PreparePending\",\r\n          \"jobStatus\": null,\r\n          \"errors\": null\r\n        },\r\n        \"dependsOn\": [\r\n          {\r\n            \"id\": \"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/NETSdkEastUS/providers/Microsoft.Network/networkInterfaces/vm1364\",\r\n            \"resolutionStatus\": \"Resolved\",\r\n            \"resolutionType\": \"Automatic\",\r\n            \"manualResolution\": null,\r\n            \"automaticResolution\": {\r\n              \"moveResourceId\": \"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/moveCollectionRg/providers/Microsoft.Migrate/MoveCollections/RegionMove-eastus-westus2/MoveResources/8524767d-9f33-49a5-b630-b0d1611b55ea\"\r\n            },\r\n            \"dependencyType\": \"RequiredForMove\",\r\n            \"isOptional\": \"False\"\r\n          },\r\n          {\r\n            \"id\": \"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/NETSdkEastUS/providers/Microsoft.Compute/availabilitySets/AVAILABILITYSET1\",\r\n            \"resolutionStatus\": \"Resolved\",\r\n            \"resolutionType\": \"Manual\",\r\n            \"manualResolution\": {\r\n              \"targetId\": null\r\n            },\r\n            \"automaticResolution\": null,\r\n            \"dependencyType\": \"RequiredForMove\",\r\n            \"isOptional\": \"True\"\r\n          },\r\n          {\r\n            \"id\": \"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourcegroups/NETSdkEastUS\",\r\n            \"resolutionStatus\": \"Resolved\",\r\n            \"resolutionType\": \"Automatic\",\r\n            \"manualResolution\": null,\r\n            \"automaticResolution\": {\r\n              \"moveResourceId\": \"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/moveCollectionRg/providers/Microsoft.Migrate/MoveCollections/RegionMove-eastus-westus2/MoveResources/c4af0a1b-6a05-48c4-971e-8366be0b6691\"\r\n            },\r\n            \"dependencyType\": \"RequiredForPrepare\",\r\n            \"isOptional\": \"False\"\r\n          }\r\n        ],\r\n        \"dependsOnOverrides\": [\r\n          {\r\n            \"id\": \"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/NETSdkEastUS/providers/Microsoft.Compute/availabilitySets/AvailabilitySet1\",\r\n            \"targetId\": null\r\n          }\r\n        ],\r\n        \"errors\": null,\r\n        \"sourceResourceSettings\": {\r\n          \"resourceType\": \"Microsoft.Compute/virtualMachines\",\r\n          \"targetAvailabilityZone\": \"na\",\r\n          \"targetAvailabilitySetId\": null,\r\n          \"targetVmSize\": \"Standard_B2s\",\r\n          \"targetResourceName\": \"vm1\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"0eb3deec-badd-46ae-9700-9d2f7da50e85\",\r\n      \"id\": \"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/moveCollectionRg/providers/Microsoft.Migrate/MoveCollections/RegionMove-eastus-westus2/MoveResources/0eb3deec-badd-46ae-9700-9d2f7da50e85\",\r\n      \"type\": null,\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"isResolveRequired\": \"False\",\r\n        \"sourceId\": \"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/NETSdkEastUS/providers/Microsoft.Network/publicIPAddresses/vm1-publicIp\",\r\n        \"targetId\": null,\r\n        \"existingTargetId\": null,\r\n        \"resourceSettings\": {\r\n          \"resourceType\": \"Microsoft.Network/publicIPAddresses\",\r\n          \"sku\": null,\r\n          \"zones\": null,\r\n          \"publicIpAllocationMethod\": null,\r\n          \"domainNameLabel\": null,\r\n          \"fqdn\": null,\r\n          \"targetResourceName\": \"vm1-publicIp\"\r\n        },\r\n        \"moveStatus\": {\r\n          \"moveState\": \"PreparePending\",\r\n          \"jobStatus\": null,\r\n          \"errors\": null\r\n        },\r\n        \"dependsOn\": [\r\n          {\r\n            \"id\": \"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourcegroups/NETSdkEastUS\",\r\n            \"resolutionStatus\": \"Resolved\",\r\n            \"resolutionType\": \"Automatic\",\r\n            \"m[...]
