{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3AWard%3B120786730?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e9a6e62a-eafb-427d-875a-76792013db75",
        "traceresponse": "00-6022dfaf220b6ecd0e906ac8a7fea229-9d9927a6d0a10556-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:Ward;120786730. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \"@id\": \"dtmi:example:Ward;120786730\",    \"@type\": \"Interface\",    \"displayName\": \"Ward\",    \"description\": \"A separate partition in a building, made of rooms and hallways.\",    \"contents\": [        {            \"@type\": \"Property\",            \"name\": \"VisitorCount\",            \"schema\": \"double\"        },        {            \"@type\": \"Property\",            \"name\": \"HandWashPercentage\",            \"schema\": \"double\"        },        {            \"@type\": \"Relationship\",            \"name\": \"managedRooms\"        }    ],    \"@context\": \"dtmi:dtdl:context;2\"}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6f2efb2e-f9f1-4eba-8faf-d57988fc790e",
        "traceresponse": "00-e457f970cdcd3d13353074d242f52fc0-203b33e286f1305c-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:example:Ward;120786730\",\"description\":{\"en\":\"A separate partition in a building, made of rooms and hallways.\"},\"displayName\":{\"en\":\"Ward\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-02T14:56:55.0820256+00:00\"}]"
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "87de8368-b43e-486b-94df-816078b53b6a",
        "traceresponse": "00-9ec37119e575a75a339d62f60e535f74-9ce7912d8c9b6f18-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;119382704",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T14:44:45.4197809+00:00"
          },
          {
            "id": "dtmi:example:room;114026432",
            "description": {
              "en": "An enclosure inside a building."
           [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3AWard%3B120786730?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "610147e3-e729-4201-a9ac-4e9e28a10a0e",
        "traceresponse": "00-af61afd35a228aa19954b9cf7ab22986-e3db44966d83fb0e-01"
      },
      "ResponseBody": {
        "id": "dtmi:example:Ward;120786730",
        "description": {
          "en": "A separate partition in a building, made of rooms and hallways."
        },
        "displayName": {
          "en": "Ward"
        },
        "decommissioned": false,
        "uploadTime": "2025-05-02T14:56:55.0820256+00:00",
        "model": {
          "@id": "dtmi:example:Ward;120786730",
          "@type": "Interface",
          "displayName": "Ward",
          "description": "A separate partition in a building, made of rooms and hallways.",
          "contents": [
            {
              "@type": "Property",
              "name": "VisitorCount",
              "schema": "double"
            },
            {
              "@type": "Property",
              "name": "HandWashPercentage",
              "schema": "double"
            },
            {
              "@type": "Relationship",
              "name": "managedRooms"
            }
          ],
          "@context": "dtmi:dtdl:context;2"
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "2011861879"
  }
}
