{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3AWard%3B110184439?includeModelDefinition=true\u0026api-version=2020-05-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "dtmi:example:Ward;110184439",
        "description": {
          "en": "A separate partition in a building, made of rooms and hallways."
        },
        "displayName": {
          "en": "Ward"
        },
        "decommissioned": false,
        "uploadTime": "2020-07-28T23:41:10.1085481\u002B00:00",
        "model": {
          "@id": "dtmi:example:Ward;110184439",
          "@type": "Interface",
          "displayName": "Ward",
          "description": "A separate partition in a building, made of rooms and hallways.",
          "contents": [
            {
              "@type": "Property",
              "name": "VisitorCount",
              "schema": "double"
            },
            {
              "@type": "Property",
              "name": "HandWashPercentage",
              "schema": "double"
            },
            {
              "@type": "Relationship",
              "name": "managedRooms"
            }
          ],
          "@context": [
            "dtmi:dtdl:context;2"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3AWard%3B110855032?includeModelDefinition=true\u0026api-version=2020-05-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:Ward;110855032. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2020-05-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:Ward;110855032\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Ward\u0022,    \u0022description\u0022: \u0022A separate [...]
[...]
