{
  "Entries": [
    {
      "RequestUri": "https://vinageshnew.api.wus2.digitaltwins.azure.net/models/urn%3Adoesnotexist%3Afakemodel%3A1000?includeModelDefinition=true\u0026api-version=2020-05-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) urn:doesnotexist:fakemodel:1000. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://vinageshnew.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1370607071"
  }
}