{
  "Entries": [
    {
      "RequestUri": "https://barustum-rg4.api.wus2.digitaltwins.azure.net/models/thisIsNotAValidModelId?includeModelDefinition=true\u0026api-version=2020-05-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidArgument",
          "message": "The format of the Model ID thisIsNotAValidModelId provided is not supported. See model documentation(http://aka.ms/ADTv2Models) for supported format."
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://barustum-rg4.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "118439256"
  }
}