{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11890"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testservicebusRG-8455?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8455",
        "name": "testservicebusRG-8455",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ServiceBus/CheckNameAvailability?api-version=2021-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "testnamespacemgmt5533"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None",
        "message": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8455/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt5533?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8455/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt5533",
        "name": "testnamespacemgmt5533",
        "type": "Microsoft.ServiceBus/Namespaces",
        "location": "East US 2",
        "tags": {},
        "properties": {
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "provisioningState": "Created",
          "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:testnamespacemgmt5533",
          "createdAt": "2021-12-07T09:32:24.363Z",
          "updatedAt": "2021-12-07T09:32:24.363Z",
          "serviceBusEndpoint": "https://testnamespacemgmt5533.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8455/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt5533/topics/topic521?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8455/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt5533/topics/topic521",
        "name": "topic521",
        "type": "Microsoft.ServiceBus/Namespaces/Topics",
        "location": "East US 2",
        "properties": {
          "maxMessageSizeInKilobytes": 256,
          "defaultMessageTimeToLive": "P10675199DT2H48M5.4775807S",
          "maxSizeInMegabytes": 1024,
          "requiresDuplicateDetection": false,
          "duplicateDetectionHistoryTimeWindow": "PT10M",
          "enableBatchedOperations": true,
          "sizeInBytes": 0,
          "status": "Active",
          "supportOrdering": true,
          "autoDeleteOnIdle": "P10675199DT2H48M5.4775807S",
          "enablePartitioning": false,
          "enableExpress": false,
          "createdAt": "2021-12-07T09:33:11.023Z",
          "updatedAt": "2021-12-07T09:33:11.117Z",
          "accessedAt": "0001-01-01T00:00:00",
          "subscriptionCount": 0,
          "countDetails": {
            "activeMessageCount": 0,
            "deadLetterMessageCount": 0,
            "scheduledMessageCount": 0,
            "transferMessageCount": 0,
            "transferDeadLetterMessageCount": 0
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8455/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt5533/topics/topic521/subscriptions/subscription4875?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8455/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt5533/topics/topic521/subscriptions/subscription4875",
        "name": "subscription4875",
        "type": "Microsoft.ServiceBus/Namespaces/Topics/Subscriptions",
        "location": "East US 2",
        "properties": {
          "isClientAffine": false,
          "lockDuration": "PT1M",
          "requiresSession": false,
          "defaultMessageTimeToLive": "P10675199DT2H48M5.4775807S",
          "deadLetteringOnMessageExpiration": false,
          "deadLetteringOnFilterEvaluationExceptions": true,
          "messageCount": 0,
          "maxDeliveryCount": 10,
          "status": "Active",
          "enableBatchedOperations": true,
          "createdAt": "2021-12-07T09:33:13.4087756Z",
          "updatedAt": "2021-12-07T09:33:13.4087756Z",
          "accessedAt": "0001-01-01T00:00:00",
          "countDetails": {
            "activeMessageCount": 0,
            "deadLetterMessageCount": 0,
            "scheduledMessageCount": 0,
            "transferMessageCount": 0,
            "transferDeadLetterMessageCount": 0
          },
          "autoDeleteOnIdle": "P10675199DT2H48M5.4775807S"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8455/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt5533/topics/topic521/subscriptions/subscription4875/rules/rule7700?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8455/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt5533/topics/topic521/subscriptions/subscription4875/rules/rule7700",
        "name": "rule7700",
        "type": "Microsoft.ServiceBus/Namespaces/Topics/Subscriptions/Rules",
        "location": "East US 2",
        "properties": {
          "action": {},
          "filterType": "SqlFilter",
          "sqlFilter": {
            "sqlExpression": "1=1",
            "compatibilityLevel": 20
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8455/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt5533/topics/topic521/subscriptions/subscription4875/rules?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-inline-count": "",
        "x-ms-ratelimit-remaining-subscription-reads": "11774"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8455/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt5533/topics/topic521/subscriptions/subscription4875/rules/rule5564",
            "name": "rule5564",
            "type": "Microsoft.ServiceBus/Namespaces/Topics/Subscriptions/Rules",
            "location": "East US 2",
            "properties": {
              "action": {},
              "filterType": "SqlFilter",
              "sqlFilter": {
                "sqlExpression": "1=1",
                "compatibilityLevel": 20
              }
            }
          },
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8455/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt5533/topics/topic521/subscriptions/subscription4875/rules/rule7700",
            "name": "rule7700",
            "type": "Microsoft.ServiceBus/Namespaces/Topics/Subscriptions/Rules",
            "location": "East US 2",
            "properties": {
              "action": {},
              "filterType": "SqlFilter",
              "sqlFilter": {
                "sqlExpression": "1=1",
                "compatibilityLevel": 20
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8455/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt5533/topics/topic521/subscriptions/subscription4875/rules/rule7700?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "action": {
            "sqlExpression": "SET myproperty=test",
            "requiresPreprocessing": true
          },
          "filterType": "SqlFilter",
          "sqlFilter": {
            "sqlExpression": "myproperty=test"
          },
          "correlationFilter": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8455/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt5533/topics/topic521/subscriptions/subscription4875/rules/rule7700",
        "name": "rule7700",
        "type": "Microsoft.ServiceBus/Namespaces/Topics/Subscriptions/Rules",
        "location": "East US 2",
        "properties": {
          "action": {
            "sqlExpression": "SET myproperty=test",
            "compatibilityLevel": 20
          },
          "filterType": "SqlFilter",
          "sqlFilter": {
            "sqlExpression": "myproperty=test",
            "compatibilityLevel": 20
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-8455/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt5533/topics/topic521/subscriptions/subscription4875/rules/rule5564?api-version=2021-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-deletes": "14995"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2083838264",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}