{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/test-automation-8831?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/test-automation-8831",
        "name": "test-automation-8831",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/test-automation-8831/providers/Microsoft.Automation/automationAccounts/testAutomationAccount-8793?api-version=2021-06-22",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "testAutomationAccount-8793",
        "location": "eastus2",
        "properties": {
          "sku": {
            "name": "Free"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/test-automation-8831/providers/Microsoft.Automation/automationAccounts/testAutomationAccount-8793?api-version=2021-06-22",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "testAutomationAccount-8793",
        "systemData": {
          "createdAt": "2023-02-13T06:50:05.077\u002B00:00",
          "lastModifiedAt": "2023-02-13T06:50:05.077\u002B00:00"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/test-automation-8831/providers/Microsoft.Automation/automationAccounts/testAutomationAccount-8793",
        "type": "Microsoft.Automation/AutomationAccounts",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "disableLocalAuth": false,
          "sku": {
            "name": "Basic",
            "family": null,
            "capacity": null
          },
          "state": "Ok",
          "RegistrationUrl": "https://62068a12-c219-4862-9bbc-84a018026eab.agentsvc.eus2.azure-automation.net/accounts/62068a12-c219-4862-9bbc-84a018026eab",
          "encryption": {
            "keySource": "Microsoft.Automation",
            "identity": {
              "userAssignedIdentity": null
            }
          },
          "automationHybridServiceUrl": "https://62068a12-c219-4862-9bbc-84a018026eab.jrds.eus2.azure-automation.net/automationAccounts/62068a12-c219-4862-9bbc-84a018026eab",
          "RuntimeConfiguration": {
            "powershell": {
              "builtinModules": {
                "Az": "8.0.0"
              }
            },
            "powershell7": {
              "builtinModules": {
                "Az": "8.0.0"
              }
            }
          },
          "creationTime": "2023-02-13T06:50:05.077\u002B00:00",
          "lastModifiedBy": null,
          "lastModifiedTime": "2023-02-13T06:50:05.077\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/test-automation-8831/providers/Microsoft.Automation/automationAccounts/testAutomationAccount-8793/runbooks/Get-AzureVMTutorial?api-version=2018-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "Get-AzureVMTutorial",
        "location": "eastus2",
        "tags": {
          "tag01": "value01",
          "tag02": "value02"
        },
        "properties": {
          "logVerbose": false,
          "logProgress": true,
          "runbookType": "PowerShellWorkflow",
          "publishContentLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/quickstarts/microsoft.automation/101-automation/scripts/AzureAutomationTutorial.ps1",
            "contentHash": {
              "algorithm": "SHA256",
              "value": "115775B8FF2BE672D8A946BD0B489918C724DDE15A440373CA54461D53010A80"
            }
          },
          "description": "Description of the Runbook",
          "logActivityTrace": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022638118678104470000\u0022",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/test-automation-8831/providers/Microsoft.Automation/automationAccounts/testAutomationAccount-8793/runbooks/Get-AzureVMTutorial?api-version=2018-06-30",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/test-automation-8831/providers/Microsoft.Automation/automationAccounts/testAutomationAccount-8793/runbooks/Get-AzureVMTutorial",
        "name": "Get-AzureVMTutorial",
        "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
        "location": "eastus2",
        "tags": {
          "tag01": "value01",
          "tag02": "value02"
        },
        "etag": "\u0022638118678104470000\u0022",
        "properties": {
          "description": "Description of the Runbook",
          "logVerbose": false,
          "logProgress": true,
          "logActivityTrace": 1,
          "runbookType": "PowerShellWorkflow",
          "parameters": {},
          "state": "Published",
          "jobCount": 0,
          "provisioningState": "Succeeded",
          "serviceManagementTags": null,
          "outputTypes": [],
          "creationTime": "2023-02-13T06:50:10.443\u002B00:00",
          "lastModifiedBy": null,
          "lastModifiedTime": "2023-02-13T06:50:10.447\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/test-automation-8831/providers/Microsoft.Automation/automationAccounts/testAutomationAccount-8793/runbooks/Get-AzureVMTutorial/draft/content?api-version=2018-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "text/powershell"
      },
      "RequestBody": [
        "\u003C#\r\n",
        "        .DES[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/test-automation-8831/providers/Microsoft.Automation/automationAccounts/testAutomationAccount-8793/runbooks/Get-AzureVMTutorial/operationResults/9a0b9399-0769-46d6-b71d-4ebe0f8f97d6?api-version=2018-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1963970257",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
