<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="Microsoft.WindowsAzure.Storage">
        <listeners>
          <add name="TestListener" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="Microsoft.WindowsAzure.Storage" value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="TestListener"
        type="Microsoft.WindowsAzure.Storage.Core.TestLogListener,Microsoft.WindowsAzure.Storage.Test" />
    </sharedListeners>
  </system.diagnostics>
</configuration>