{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/resourcegroups/SdkRg2508?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/resourceGroups/SdkRg2508\",\r\n  \"name\": \"SdkRg2508\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/resourceGroups/SdkRg2508/providers/Microsoft.DataBox/jobs/SdkJob8558?api-version=2018-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"destinationAccountDetails\": [\r\n      {\r\n        \"accountId\": \"/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/resourceGroups/kvtestWUSrg/providers/microsoft.storage/storageAccounts/kvtestwus\",\r\n        }\r\n    ],\r\n    \"details\": {\r\n      \"contactDetails\": {\r\n        \"contactName\": \"Public SDK Test\",\r\n        \"phone\": \"1234567890\",\r\n        \"phoneExtension\": \"1234\",\r\n        \"emailList\": [\r\n          \"testing@microsoft.com\"\r\n        ]\r\n      },\r\n      \"shippingAddress\": {\r\n        \"streetAddress1\": \"16 TOWNSEND ST\",\r\n        \"streetAddress2\": \"Unit 1\",\r\n        \"city\": \"San Francisco\",\r\n        \"stateOrProvince\": \"CA\",\r\n        \"country\": \"US\",\r\n        \"postalCode\": \"94107\",\r\n        \"companyName\": \"Microsoft\",\r\n        \"addressType\": \"Commercial\"\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"westus\",\r\n  \"sku\": {\r\n    \"name\": \"DataBox\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/providers/Microsoft.DataBox/locations/westus/operationResults/a3f76c27-3ad2-4b94-892a-1ecca950a6d0?api-version=2018-01-01"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1179"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/providers/Microsoft.DataBox/locations/westus/operationResults/a3f76c27-3ad2-4b94-892a-1ecca950a6d0?api-version=2018-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/resourceGroups/SdkRg2508/providers/Microsoft.DataBox/jobs/SdkJob8558?api-version=2018-01-01"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14903"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/resourceGroups/SdkRg2508/providers/Microsoft.DataBox/jobs/SdkJob8558?api-version=2018-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"deviceType\": \"Pod\",\r\n    \"isCancellable\": true,\r\n    \"isShippingAddressEditable\": true,\r\n    \"status\": \"DeviceOrdered\",\r\n    \"startTime\": \"2018-04-13T16:28:38.9999793+05:30\",\r\n    \"deliveryPackage\": {\r\n      \"carrierName\": \"\",\r\n      \"trackingId\": \"\",\r\n      \"trackingUrl\": \"\"\r\n    },\r\n    \"returnPackage\": {\r\n      \"carrierName\": \"\",\r\n      \"trackingId\": \"\",\r\n      \"trackingUrl\": \"\"\r\n    },\r\n    \"destinationAccountDetails\": [\r\n      {\r\n        \"accountId\": \"/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/resourceGroups/kvtestWUSrg/providers/microsoft.storage/storageAccounts/kvtestwus\",\r\n        }\r\n    ]\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"DataBox\"\r\n  },\r\n  \"name\": \"SdkJob8558\",\r\n  \"id\": \"/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/resourceGroups/SdkRg2508/providers/Microsoft.DataBox/jobs/SdkJob8558\",\r\n  \"type\": \"Microsoft.DataBox/jobs\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14902"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/resourceGroups/SdkRg2508/providers/Microsoft.DataBox/jobs/SdkJob8558?api-version=2018-01-01&$expand=details",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"deviceType\": \"Pod\",\r\n    \"isCancellable\": true,\r\n    \"isShippingAddressEditable\": true,\r\n    \"status\": \"DeviceOrdered\",\r\n    \"startTime\": \"2018-04-13T16:28:38.9999793+05:30\",\r\n    \"deliveryPackage\": {\r\n      \"carrierName\": \"\",\r\n      \"trackingId\": \"\",\r\n      \"trackingUrl\": \"\"\r\n    },\r\n    \"returnPackage\": {\r\n      \"carrierName\": \"\",\r\n      \"trackingId\": \"\",\r\n      \"trackingUrl\": \"\"\r\n    },\r\n    \"destinationAccountDetails\": [\r\n      {\r\n        \"accountId\": \"/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/resourceGroups/kvtestWUSrg/providers/microsoft.storage/storageAccounts/kvtestwus\",\r\n        }\r\n    ],\r\n    \"details\": {\r\n      \"copyProgress\": [\r\n        {\r\n          \"storageAccountName\": \"kvtestwus\",\r\n          \"bytesSentToCloud\": 0,\r\n          \"totalBytesToProcess\": 0\r\n        }\r\n      ],\r\n      \"jobStages\": [\r\n        {\r\n          \"stageName\": \"DeviceOrdered\",\r\n          \"displayName\": \"Ordered\",\r\n          \"stageStatus\": \"Succeeded\",\r\n          \"stageTime\": \"2018-04-13T16:28:41.1669459+05:30\"\r\n        },\r\n        {\r\n          \"stageName\": \"DevicePrepared\",\r\n          \"displayName\": \"Processed\",\r\n          \"stageStatus\": \"None\"\r\n        },\r\n        {\r\n          \"stageName\": \"Dispatched\",\r\n          \"displayName\": \"Dispatched\",\r\n          \"stageStatus\": \"None\"\r\n        },\r\n        {\r\n          \"stageName\": \"Delivered\",\r\n          \"displayName\": \"Delivered\",\r\n          \"stageStatus\": \"None\"\r\n        },\r\n        {\r\n          \"stageName\": \"PickedUp\",\r\n          \"displayName\": \"Picked up\",\r\n          \"stageStatus\": \"None\"\r\n        },\r\n        {\r\n          \"stageName\": \"AtAzureDC\",\r\n          \"displayName\": \"Received\",\r\n          \"stageStatus\": \"None\"\r\n        },\r\n        {\r\n          \"stageName\": \"DataCopy\",\r\n          \"displayName\": \"Data copy in progress\",\r\n          \"stageStatus\": \"None\"\r\n        },\r\n        {\r\n          \"stageName\": \"Completed\",\r\n          \"displayName\": \"Completed\",\r\n          \"stageStatus\": \"None\"\r\n        }\r\n      ],\r\n      \"contactDetails\": {\r\n        \"contactName\": \"Public SDK Test\",\r\n        \"phone\": \"1234567890\",\r\n        \"phoneExtension\": \"1234\",\r\n        \"emailList\": [\r\n          \"testing@microsoft.com\"\r\n        ],\r\n        \"notificationPreference\": [\r\n          {\r\n            \"stageName\": \"DevicePrepared\",\r\n            \"sendNotification\": true\r\n          },\r\n          {\r\n            \"stageName\": \"Dispatched\",\r\n            \"sendNotification\": true\r\n          },\r\n          {\r\n            \"stageName\": \"Delivered\",\r\n            \"sendNotification\": true\r\n          },\r\n          {\r\n            \"stageName\": \"PickedUp\",\r\n            \"sendNotification\": true\r\n          },\r\n          {\r\n            \"stageName\": \"AtAzureDC\",\r\n            \"sendNotification\": true\r\n          },\r\n          {\r\n            \"stageName\": \"DataCopy\",\r\n            \"sendNotification\": true\r\n          }\r\n        ]\r\n      },\r\n      \"shippingAddress\": {\r\n        \"streetAddress1\": \"16 TOWNSEND ST\",\r\n        \"streetAddress2\": \"Unit 1\",\r\n        \"city\": \"San Francisco\",\r\n        \"stateOrProvince\": \"CA\",\r\n        \"country\": \"US\",\r\n        \"postalCode\": \"94107\",\r\n        \"companyName\": \"Microsoft\",\r\n        \"addressType\": \"Commercial\"\r\n      },\r\n      \"errorDetails\": [],\r\n      \"jobDetailsType\": \"Pod\"\r\n    }\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"DataBox\"\r\n  },\r\n  \"name\": \"SdkJob8558\",\r\n  \"id\": \"/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/resourceGroups/SdkRg2508/providers/Microsoft.DataBox/jobs/SdkJob8558\",\r\n  \"type\": \"Microsoft.DataBox/jobs\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14901"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/providers/Microsoft.DataBox/jobs?api-version=2018-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"deviceType\": \"Pod\",\r\n        \"isCancellable\": false,\r\n        \"isShippingAddressEditable\": false,\r\n        \"status\": \"Cancelled\",\r\n        \"startTime\": \"2017-06-15T10:31:21.3912273+05:30\",\r\n        \"deliveryPackage\": {\r\n          \"carrierName\": \"\",\r\n          \"trackingId\": \"\",\r\n          \"trackingUrl\": \"\"\r\n        },\r\n        \"returnPackage\": {\r\n          \"carrierName\": \"\",\r\n          \"trackingId\": \"\",\r\n          \"trackingUrl\": \"\"\r\n        },\r\n        \"destinationAccountDetails\": [\r\n          {\r\n            \"accountId\": \"/subscriptions/2c3771b6-6239-464c-9973-7995b0f45a6b/resourceGroups/CloudServiceCisVaultST14113BRS/providers/Microsoft.Storage/storageAccounts/devicemanagertest1\",\r\n                }\r\n        ],\r\n        \"cancellationReason\": \"Old job which is still in ordered state cancelled by the service\"\r\n      },\r\n      \"location\": \"westus\",\r\n      \"tags\": {},\r\n      \"sku\": {\r\n        \"name\": \"DataBox\"\r\n      },\r\n      \"name\": \"abbhat-test\",\r\n      \"id\": \"/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/resourcegroups/abbhat-RG/providers/Microsoft.DataBox/jobs/abbhat-test\",\r\n      \"type\": \"Microsoft.DataBox/jobs\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"deviceType[...]
    {
      "RequestUri": "/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/resourceGroups/SdkRg2508/providers/Microsoft.DataBox/jobs?api-version=2018-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"deviceType\": \"Pod\",\r\n        \"isCancellable\": true,\r\n        \"isShippingAddressEditable\": true,\r\n        \"status\": \"DeviceOrdered\",\r\n    [...]
    {
      "RequestUri": "/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/resourceGroups/SdkRg2508/providers/Microsoft.DataBox/jobs/SdkJob8558/cancel?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"reason\": \"CancelTest\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1177"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/resourceGroups/SdkRg2508/providers/Microsoft.DataBox/jobs/SdkJob8558?api-version=2018-01-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1176"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "TestJobCRUDOperations": [
      "SdkRg2508",
      "SdkJob8558"
    ]
  },
  "Variables": {
    "SubscriptionId": "3c66da21-607e-49b4-8bdf-f25fbb8f705f",
    "SubId": "3c66da21-607e-49b4-8bdf-f25fbb8f705f"
  }
}