{
  "Entries": [
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"culture\": \"en-us\",\r\n  \"domain\": \"Comics\",\r\n  \"description\": \"New LUIS App\",\r\n  \"usageScenario\": \"IoT\",\r\n  \"name\": \"New LUIS App\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/bfcb9a04-0e3b-4774-8f1e-0ad829add39d"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/bfcb9a04-0e3b-4774-8f1e-0ad829add39d"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"bfcb9a04-0e3b-4774-8f1e-0ad829add39d\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/bfcb9a04-0e3b-4774-8f1e-0ad829add39d/versions?skip=0&take=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"version\": \"0.1\",\r\n    \"createdDateTime\": \"2019-10-29T13:21:58Z\",\r\n    \"lastModifiedDateTime\": \"2019-10-29T13:21:58Z\",\r\n    \"lastTrainedDateTime\": null,\r\n    \"lastPublishedDateTime\": null,\r\n    \"endpointUrl\": null,\r\n    \"assignedEndpointKey\": null,\r\n    \"externalApiKeys\": null,\r\n    \"intentsCount\": 1,\r\n    \"entitiesCount\": 0,\r\n    \"endpointHitsCount\": 0,\r\n    \"trainingStatus\": \"NeedsTraining\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/bfcb9a04-0e3b-4774-8f1e-0ad829add39d/versions/0.1/customprebuiltdomains",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"domainName\": \"Communication\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  \"018e706a-6927-4485-a6ae-6a96b47ae140\",\r\n  \"c14cca2d-c4ab-45dc-af71-f534939d00a2\",\r\n  \"16c3c6fe-a343-4065-a33[...]
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/bfcb9a04-0e3b-4774-8f1e-0ad829add39d/versions/0.1/customprebuiltmodels",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"018e706a-6927-4485-a6ae-6a96b47ae140\",\r\n    \"name\": \"Communication.AddContact\",\r\n    \"typeId\": 0,\r\n    \"readableType\": \"Intent Classifier\",\r\n    \"customPrebuiltDomainName\": \"Communication\",\r\n    \"customPrebuiltModelName\": \"AddContact\"\r\n  },\r\n  {\r\n    \"id\": \"747353f0-0527-43a6-b352-9ba6e697a046\",\r\n    \"name\": \"Communication.AddFlag\",\r\n    \"typeId\": 0,\r\n    \"readableType\": \"Intent Classifier\",\r\n    \"customPrebuiltDomainName\": \"Communication\",\r\n    \"customPrebuiltModelName\": \"AddFlag\"\r\n  },\r\n  {\r\n    \"id\": \"af62e7c1-d915-4c7b-a9c8-2f3560ee0e48\",\r\n    \"name\": \"Communication.AddMore\",\r\n    \"typeId\": 0,\r\n    \"readableType\": \"Intent Classifier\",\r\n    \"customPrebuiltDomainName\": \"Communication\",\r\n    \"customPrebuiltModelName\": \"AddMore\"\r\n  },\r\n  {\r\n    \"id\": \"13d5f42f-e5db-4835-89ca-1ee9058da709\",\r\n    \"name\": \"Communication.Answer\",\r\n    \"typeId\": 0,\r\n    \"readableType\": \"Intent Classifier\",\r\n    \"customPrebuiltDomainName\": \"Communication\",\r\n    \"customPrebuiltModelName\": \"Answer\"\r\n  },\r\n  {\r\n    \"id\": \"c98e1553-8de8-47d8-a6a9-eb361dc5bbae\",\r\n    \"name\": \"Communication.AssignContactNickname\",\r\n    \"typeId\": 0,\r\n    \"readableType\": \"Intent Classifier\",\r\n    \"customPrebuiltDomainName\": \"Communication\",\r\n    \"customPrebuiltModelName\": \"AssignContactNickname\"\r\n  },\r\n  {\r\n    \"id\": \"145755fb-80ad-4807-8a41-0b54b6beba28\",\r\n    \"name\": \"Communication.Attachment\",\r\n    \"typeId\": 1,\r\n    \"readableType\": \"Entity Extractor\",\r\n    \"children\": [],\r\n    \"customPrebuiltDomainName\": \"Communication\",\r\n    \"customPrebuiltModelName\": \"Attachment\",\r\n    \"roles\": []\r\n  },\r\n  {\r\n    \"id\": \"194d92f1-fa42-46ed-bb2d-0233bb017122\",\r\n    \"name\": \"Communication.AudioDeviceType\",\r\n    \"typeId\": 1,\r\n    \"readableType\": \"Entity Extractor\",\r\n    \"children\": [],\r\n    \"customPrebuiltDomainName\": \"Communication\",\r\n    \"customPrebuiltModelName\": \"AudioDeviceType\",\r\n    \"roles\": []\r\n  },\r\n  {\r\n    \"id\": \"23075ca0-9a67-41ff-aacc-f12219d1c9b9\",\r\n    \"name\": \"Communication.CallBack\",\r\n    \"typeId\": 0,\r\n  [...]
[...]
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/bfcb9a04-0e3b-4774-8f1e-0ad829add39d/versions/0.1/customprebuiltdomains/Communication",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/bfcb9a04-0e3b-4774-8f1e-0ad829add39d?force=false",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}