{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/ingestion-sources?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "kind": "SasToken",
        "connectionInfo": {
          "containerUrl": "https://SANITIZED.blob.core.windows.net/SANITIZED",
          "sasToken": "sv=2021-01-01&st=2020-01-01T00:00:00Z&se=2099-12-31T23:59:59Z&sr=c&sp=rl&sig=faketoken"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "mise-correlation-id": "Sanitized"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "kind": "SasToken",
        "created": "2025-10-31T00:56:22.8667821Z",
        "connectionInfo": {
          "containerUrl": "https://SANITIZED.blob.core.windows.net/SANITIZED",
          "expiration": "2099-12-31T23:59:59.0000000Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/ingestion-sources/00000000-0000-0000-0000-000000000000?api-version=2025-04-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "mise-correlation-id": "Sanitized"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "PLANETARYCOMPUTER_ENDPOINT": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com",
    "PLANETARYCOMPUTER_INGESTION_SAS_CONTAINER_URI": "https://sanitized.blob.core.windows.net/sample-container",
    "PLANETARYCOMPUTER_INGESTION_SAS_TOKEN": "sv=sanitized",
    "RandomSeed": "232537378"
  }
}
