{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip-atl/ingestions?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "Sanitized"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "creationTime": "2025-11-10T14:25:50.6654579Z",
            "importType": "StaticCatalog",
            "displayName": "Ingestion",
            "sourceCatalogUrl": "https://raw.githubusercontent.com/chahibi/mpcpro-sample-datasets/refs/heads/main/datasets/planetary_computer/naip/atl/catalog.json",
            "skipExistingItems": true,
            "keepOriginalAssets": true,
            "status": "Ready"
          },
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "creationTime": "2025-11-10T14:26:08.7883432Z",
            "importType": "StaticCatalog",
            "displayName": "Updated Ingestion Name",
            "sourceCatalogUrl": "https://raw.githubusercontent.com/chahibi/mpcpro-sample-datasets/refs/heads/main/datasets/planetary_computer/naip/atl/catalog.json",
            "skipExistingItems": true,
            "keepOriginalAssets": true,
       [...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip-atl/ingestions/00000000-0000-0000-0000-000000000000?api-version=2025-04-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "mise-correlation-id": "Sanitized",
        "operation-location": "Sanitized"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2025-11-10T21:49:58.4495961Z"
          }
        ],
        "type": "DeleteIngestion",
        "creationTime": "2025-11-10T21:49:58.4495882Z",
        "collectionId": "naip-atl",
        "additionalInformation": {
          "IngestionId": "011d0bb4-bc65-4da1-9600-cf492c67d13f"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip-atl/ingestions?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "importType": "StaticCatalog",
        "displayName": "Ingestion",
        "sourceCatalogUrl": "https://raw.githubusercontent.com/chahibi/mpcpro-sample-datasets/refs/heads/main/datasets/planetary_computer/naip/atl/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "mise-correlation-id": "Sanitized"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "creationTime": "2025-11-10T21:50:31.1561317Z",
        "importType": "StaticCatalog",
        "displayName": "Ingestion",
        "sourceCatalogUrl": "https://raw.githubusercontent.com/chahibi/mpcpro-sample-datasets/refs/heads/main/datasets/planetary_computer/naip/atl/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "status": "Ready"
      }
    }
  ],
  "Variables": {
    "PLANETARYCOMPUTER_COLLECTION_ID": "naip-atl",
    "PLANETARYCOMPUTER_ENDPOINT": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com",
    "PLANETARYCOMPUTER_INGESTION_CATALOG_URL": "https://raw.githubusercontent.com/chahibi/mpcpro-sample-datasets/refs/heads/main/datasets/planetary_computer/naip/atl/catalog.json",
    "RandomSeed": "637875914"
  }
}
