{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/sdk-test8540?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test8540",
        "name": "sdk-test8540",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test8540/providers/Microsoft.Search/searchServices/search12420?api-version=2020-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "standard"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "replicaCount": 3,
          "partitionCount": 1,
          "hostingMode": "default"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "8185",
        "ETag": "W/\u0022datetime\u00272022-09-26T01%3A09%3A53.6691354Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test8540/providers/Microsoft.Search/searchServices/search12420",
        "name": "search12420",
        "type": "Microsoft.Search/searchServices",
        "location": "East US",
        "tags": {},
        "properties": {
          "replicaCount": 3,
          "partitionCount": 1,
          "status": "provisioning",
          "statusDetails": "",
          "provisioningState": "provisioning",
          "hostingMode": "default",
          "publicNetworkAccess": "Enabled",
          "networkRuleSet": {
            "ipRules": [],
            "bypass": "None"
          },
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": []
        },
        "sku": {
          "name": "standard"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test8540/providers/Microsoft.Search/searchServices?api-version=2020-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "472",
        "x-ms-ratelimit-remaining-subscription-reads": "11879"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test8540/providers/Microsoft.Search/searchServices/search12420",
            "name": "search12420",
            "type": "Microsoft.Search/searchServices",
            "location": "East US",
            "tags": {},
            "properties": {
              "replicaCount": 3,
              "partitionCount": 1,
              "status": "running",
              "statusDetails": "",
              "provisioningState": "succeeded",
              "hostingMode": "default",
              "publicNetworkAccess": "Enabled",
              "networkRuleSet": {
                "ipRules": [],
                "bypass": "None"
              },
              "privateEndpointConnections": [],
              "sharedPrivateLinkResources": [],
              "eTag": "W/\u0022datetime\u00272022-09-26T01%3A09%3A53.6691354Z\u0027\u0022"
            },
            "sku": {
              "name": "standard"
            }
          },
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test8540/providers/Microsoft.Search/searchServices/search29286",
            "name": "search29286",
            "type": "Microsoft.Search/searchServices",
            "location": "East US",
            "tags": {},
            "properties": {
              "replicaCount": 3,
              "partitionCount": 1,
              "status": "running",
              "statusDetails": "",
              "provisioningState": "succeeded",
              "hostingMode": "default",
              "publicNetworkAccess": "Enabled",
              "networkRuleSet": {
                "ipRules": [],
                "bypass": "None"
              },
              "privateEndpointConnections": [],
              "sharedPrivateLinkResources": [],
              "eTag": "W/\u0022datetime\u00272022-09-26T01%3A51%3A27.6911314Z\u0027\u0022"
            },
            "sku": {
              "name": "standard"
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "291830646",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
