{
  "Entries": [
    {
      "RequestUri": "https://eastus.easm.defender.microsoft.com/subscriptions/59af3bf1-d118-4916-808e-923509b34a94/resourceGroups/shad-rg/workspaces/sdktest/reports/assets:getBillable?api-version=2023-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ui-version": "sdk"
      },
      "ResponseBody": {
        "assetSummaries": [
          {
            "date": "2023-07-29",
            "total": 0,
            "assetBreakdown": [
              {
                "kind": "host",
                "count": 0
              },
              {
                "kind": "domain",
                "count": 0
              },
              {
                "kind": "ipAddress",
                "count": 0
              }
            ]
          },
          {
            "date": "2023-07-30",
            "total": 0,
            "assetBreakdown": [
              {
                "kind": "host",
                "count": 0
              },
              {
                "kind": "domain",
                "co[...]
