{
  "Entries": [
    {
      "RequestUri": "/vision/v2.0/recognizeText?mode=Printed",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://raw.githubusercontent.com/Azure/azure-sdk-for-net/psSdkJson6/src/SDKs/CognitiveServices/dataPlane/Vision/ComputerVision/ComputerVision.Tests/TestImages/signage.jpg\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/vision/v2.0/textOperations/8e986b05-3485-47f2-b725-fb9bcbeb4b19"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/vision/v2.0/textOperations/8e986b05-3485-47f2-b725-fb9bcbeb4b19",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"NotStarted\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/vision/v2.0/textOperations/8e986b05-3485-47f2-b725-fb9bcbeb4b19",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\",\r\n  \"recognitionResult\": {\r\n    \"lines\": [\r\n      {\r\n        \"boundingBox\": [\r\n          64,\r\n          41,\r\n          104,\r\n          41,\r\n          106,\r\n          61,\r\n          63,\r\n          60\r\n        ],\r\n        \"text\": \"520\",\r\n        \"words\": [\r\n          {\r\n            \"boundingBox\": [\r\n              66,\r\n              41,\r\n              104,\r\n              41,\r\n              104,\r\n              61,\r\n              66,\r\n              61\r\n            ],\r\n            \"text\": \"520\"\r\n          }\r\n        ]\r\n      },\r\n      {\r\n        \"boundingBox\": [\r\n          120,\r\n          30,\r\n          202,\r\n          33,\r\n          201,\r\n          58,\r\n          118,\r\n          54\r\n     [...]
