{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-2b169bec-6164-649e-a394-11d028692612?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:09 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F366393FA89C\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:56:09 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-2b169bec-6164-649e-a394-11d028692612/test-blob-f287729a-75ce-4cf7-6300-2e91aaa4404b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:09 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "1AtfAHXvifiDcON9n4imNuodNbXhNERPPRN1psaG/KOldkGxDal\u002bq\u002bmPbl6ReazbWvenjG6KaqDHEMJheuIy/XQ/1ylG9ClAn4rMUsXlvcRmmkzO3280Gwyh6fzmHDAGXXHqUqKDlGXOZu3kvhfb4lL\u002b\u002b\u002bCWYx4ECrwcpQosWoJZxfVT\u002b2si4gXmAHiBUFz0xgeq5yFPcPlT5UflZu5aoQtqivkih\u002bbn3Bjar2Olg7pfKN8CgnNhCVX7ABYjPHsWjF5tF8Vj0T4hwgoIdcCWrWKNhT4PVx\u002bYCYCjJ4bPw6CcwyMEOGv0/Feg4b9oWJSUZFK0[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-2b169bec-6164-649e-a394-11d028692612/test-blob-f287729a-75ce-4cf7-6300-2e91aaa4404b?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:09 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "cd2efb7c-2f35-8856-44a7-6728aca32a60",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F366394812D1\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:56:09 GMT",
        "x-ms-lease-id": "cd2efb7c-2f35-8856-44a7-6728aca32a60",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-2b169bec-6164-649e-a394-11d028692612/test-blob-f287729a-75ce-4cf7-6300-2e91aaa4404b?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 18 Jun 2019 20:56:09 GMT",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:09 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6ac7e6f3-201e-007b-5d4f-250f92000000\n",
        "Time:2019-06-17T20:56:09.4593148Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-569e6d83-e099-f923-a289-da53dd284c98/test-blob-b8896980-29cb-c8ee-b230-ffcc5b2cf69d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sun, 16 Jun 2019 20:56:09 GMT",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:09 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6ac7e736-201e-007b-124f-250f92000000\n",
        "Time:2019-06-17T20:56:09.5443953Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-15263660-9dc5-bce7-a721-f0624eb0c5b1/test-blob-5c491516-791a-a668-b8a4-899b5c30e880?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:09 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6ac7e77a-201e-007b-464f-250f92000000\n",
        "Time:2019-06-17T20:56:09.6745184Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0fdacffb-e047-4d6b-d35c-d49a7efc0823/test-blob-41c292e6-1b56-af2b-defe-61f04f2f66b5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:09 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "CFYoo4lXVdnpcDo1IVsinA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6F366398C586C\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:56:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2019 20:56:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0fdacffb-e047-4d6b-d35c-d49a7efc0823/test-blob-41c292e6-1b56-af2b-defe-61f04f2f66b5?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D6F366398C586C\u0022",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:09 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6ac7e7a4-201e-007b-6b4f-250f92000000\n",
        "Time:2019-06-17T20:56:09.7676064Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0fdacffb-e047-4d6b-d35c-d49a7efc0823?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:09 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-17T13:56:09.2275559-07:00",
    "RandomSeed": "1108766997"
  }
}