{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49c2102a-2a33-8ec1-20ec-c0492feef9d8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3663A1F4240\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49c2102a-2a33-8ec1-20ec-c0492feef9d8/test-blob-e7331698-6deb-eb84-9163-2a0d5e43ab9e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "NkvofpwygpeYW221FeddfXNosRm6Eu1KKF3PhmhpCJfSdaLlufq6ZpObTo8AztWpBayZ9ZKR4yRenVU/YvsuLlPV4qBEeMR4rkqGH8NdSlmHJYG8zxIFQJJ9hhukegSXbB87Kus1ZY3oIUdHC8RhAVP8uDx6cl5B0KINxvKo0zNG7rKjISBtUsD01K7KvTXNHIXIqMLHHfrB\u002blpJJ56bP00UAR0RveAyjmZ7hp2vdxJtQKps3ytwf9C44ifGJCoiWZRhtrwXu1\u002bllRlcS5dcEYNH3Of0Ll8io4JMWdq4bGo7WS0JTsBWVYRKx0kRFDM5XNGjfkdDLis1PxI6ymKE7CmuIPJqU8LC8I[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49c2102a-2a33-8ec1-20ec-c0492feef9d8/test-blob-e7331698-6deb-eb84-9163-2a0d5e43ab9e?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "cef1064d-e1d1-3f45-fd77-d4496e0283bf",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3663A273792\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-lease-id": "cef1064d-e1d1-3f45-fd77-d4496e0283bf",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49c2102a-2a33-8ec1-20ec-c0492feef9d8/test-blob-e7331698-6deb-eb84-9163-2a0d5e43ab9e?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 18 Jun 2019 20:56:10 GMT",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "cef1064d-e1d1-3f45-fd77-d4496e0283bf",
        "x-ms-proposed-lease-id": "373a3415-24fa-dd82-2169-c1957ed1e51a",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6ac7e9a9-201e-007b-284f-250f92000000\n",
        "Time:2019-06-17T20:56:10.7745584Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e18ddbd1-2014-7d77-280e-880232ae63eb/test-blob-44967763-df22-7116-42e0-0abbefa60470?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sun, 16 Jun 2019 20:56:10 GMT",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "8e0104b0-081f-b6c2-1cb0-4af69d38f7e3",
        "x-ms-proposed-lease-id": "b2c869e2-29e7-1ad7-0859-b4ea22901c73",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6ac7e9bf-201e-007b-3b4f-250f92000000\n",
        "Time:2019-06-17T20:56:10.8566365Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a11f037b-1d47-adec-f283-6e2f8c47f5bc/test-blob-504ad753-f2b8-7644-ea53-75aaed9d4315?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "d12df8b6-7033-aa20-0bc9-ac1e5fcb331f",
        "x-ms-proposed-lease-id": "76ed40e5-203a-f91b-68c6-8898afdc58fa",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6ac7e9e5-201e-007b-5d4f-250f92000000\n",
        "Time:2019-06-17T20:56:10.9347099Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f663a650-d098-df53-b193-d1acd82a8b19/test-blob-411c51a1-0324-a096-5dee-9c0eb392cb7f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:11 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "0mvtlLNeVZ5xaGaUTMPHAA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6F3663A4D184E\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2019 20:56:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f663a650-d098-df53-b193-d1acd82a8b19/test-blob-411c51a1-0324-a096-5dee-9c0eb392cb7f?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D6F3663A4D184E\u0022",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:11 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "307fd909-acff-3093-d991-e9a588b88178",
        "x-ms-proposed-lease-id": "7012a135-f215-6411-fbef-c2bed5005d80",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6ac7ea1b-201e-007b-084f-250f92000000\n",
        "Time:2019-06-17T20:56:11.0328031Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f663a650-d098-df53-b193-d1acd82a8b19?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:11 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-17T13:56:10.6926627-07:00",
    "RandomSeed": "1938221174"
  }
}