{
  "Entries": [
    {
      "RequestUri": "https://storageteglazatesting.blob.core.windows.net/test-container-53ece79f-d814-e2b9-17aa-0df91c4581e0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 13 Feb 2020 01:02:10 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7B0205ABC344E\u0022",
        "Last-Modified": "Thu, 13 Feb 2020 01:02:10 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storageteglazatesting.blob.core.windows.net/test-container-53ece79f-d814-e2b9-17aa-0df91c4581e0/test-blob-9173b1a5-91ae-ee59-2492-bdc3a926a0e4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 13 Feb 2020 01:02:10 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "ezTvGI2kvYPLIKPUDQ4zaXXU7Y\u002B/nSl4qsm4kXmw\u002BWSavzjyPMLNAfTwxo7uhOEWXlNN1DgQJd0Ld27D6ywKGic/OU3WQS2zB\u002BybztabiSXoojIlYiQripla5sRTCRXI5qtmr0uUPx0mms1LdVYGb\u002B5I20n55LcDE6\u002Bze1poX/3X0ugqNdraU2IU/shW3xVDU3fWCy7MzgHzY5uc4MTDvjrQdKNu2zoTbYfm5eXvrTSZcCfjkVTOCwPnNtE/PnOeUUCOhmty1Xc8wp2m5ekbBLVnAnCc4CzlAWmfhqRo1C8UR5OlYCfIJ5uvps62JyUZyzIc1zwDAnEUqIQC0k7[...]
    {
      "RequestUri": "https://storageteglazatesting.blob.core.windows.net/test-container-53ece79f-d814-e2b9-17aa-0df91c4581e0/test-blob-9173b1a5-91ae-ee59-2492-bdc3a926a0e4?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 13 Feb 2020 01:02:10 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7B0205AC569FA\u0022",
        "Last-Modified": "Thu, 13 Feb 2020 01:02:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storageteglazatesting.blob.core.windows.net/test-container-53ece79f-d814-e2b9-17aa-0df91c4581e0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2020 01:02:10 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1419267015",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttps://storageteglazatesting.blob.core.windows.net\nhttps://storageteglazatesting.file.core.windows.net\nhttps://storageteglazatesting.queue.core.windows.net\nhttps://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttps://storageteglazatesting-secondary.blob.core.windows.net\n\nhttps://storageteglazatesting-secondary.queue.core.windows.net\nhttps://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=https://storageteglazatesting.queue.core.windows.net/;FileEndpoint=https://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storageteglazatesting-secondary.queue.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized\n"
  }
}