{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7476c43a-eb7d-14b9-17cc-6301f8cc818a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F366442242AC\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:56:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7476c43a-eb7d-14b9-17cc-6301f8cc818a/test-blob-a9a9c20c-00ba-7b02-00a6-e63b3a525603",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "VWOt\u002bunQOP7NRCEF2ua0D6wZg2wUu/eX1hixW0rLvtHwL6uVH4agePxKCViA6YPcbZFCPcJvH5lrFSTRH92zAYZPFKo7H/AleQtwybKeF\u002byV1e25iYEPgRARKQlhzlkflwfSMdTYoE6gHMO3/1XnzP43O0nv\u002bngEQJOZKfXmw6qxUTKqzOUYvDSeGGy9WIG6KlwLKpIQL52OzfBBPndZulgZBq4jPQAYH38UUeELR\u002bgR3v\u002bY2pkXoCGUG/711329RV0To1LTl\u002b1c8goT/N67g4UIL194wN\u002b/AmWMjiEBI0gBVguD\u002bKOWPkcRPOeOBKRD2Zh4[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7476c43a-eb7d-14b9-17cc-6301f8cc818a/test-blob-1813324d-2a50-d8af-21fe-bee897999ae9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 18 Jun 2019 20:56:27 GMT",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-7476c43a-eb7d-14b9-17cc-6301f8cc818a/test-blob-a9a9c20c-00ba-7b02-00a6-e63b3a525603",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "TargetConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eTargetConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe target condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6ac80a92-201e-007b-344f-250f92000000\n",
        "Time:2019-06-17T20:56:27.5414180Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-87d54c67-92ac-f4aa-512e-814d741028bb/test-blob-153ecd85-07c4-d756-a0cd-359473ab9025",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sun, 16 Jun 2019 20:56:27 GMT",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-87d54c67-92ac-f4aa-512e-814d741028bb/test-blob-e4e0dbb3-c68a-6b8c-da10-5168a7b4024f",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "TargetConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eTargetConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe target condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6ac80ae1-201e-007b-764f-250f92000000\n",
        "Time:2019-06-17T20:56:27.7095771Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-516887c0-b6c9-a4ae-ba87-23344f46dfb1/test-blob-608d14ae-4319-cbaf-2226-edb9fd81e6ca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-516887c0-b6c9-a4ae-ba87-23344f46dfb1/test-blob-90a29560-7f55-ceca-7584-2a115acee4ed",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "TargetConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eTargetConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe target condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6ac80b06-201e-007b-174f-250f92000000\n",
        "Time:2019-06-17T20:56:27.7906538Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-746789d5-a01f-4888-0983-dcf09fff80c1/test-blob-1704776b-3f5e-6eb7-3843-7642c24cc1a3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "MgTCpaFgv1XzkMkKskpFsg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6F366445B1C9F\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:56:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2019 20:56:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-746789d5-a01f-4888-0983-dcf09fff80c1/test-blob-1704776b-3f5e-6eb7-3843-7642c24cc1a3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D6F366445B1C9F\u0022",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-746789d5-a01f-4888-0983-dcf09fff80c1/test-blob-3e5953a3-ff5f-fbac-6ac3-8b670c803fdc",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "TargetConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eTargetConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe target condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6ac80b4b-201e-007b-4d4f-250f92000000\n",
        "Time:2019-06-17T20:56:27.8917490Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a81dc699-cc0b-0614-711f-efbce538bf70/test-blob-3c40eb21-452f-c9df-9d1c-cff1856dca9e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "http://storageteglazatesting.blob.core.windows.net/test-container-a81dc699-cc0b-0614-711f-efbce538bf70/test-blob-8ee0ea25-0b89-5566-a5f9-cae856983049",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:28 GMT",
        "x-ms-lease-id": "395887e9-3dd2-ade8-dc2d-a3cda15d9294",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eLeaseNotPresentWithBlobOperation\u003c/Code\u003e\u003cMessage\u003eThere is currently no lease on the blob.\n",
        "RequestId:6ac80b8e-201e-007b-084f-250f92000000\n",
        "Time:2019-06-17T20:56:28.0488976Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a81dc699-cc0b-0614-711f-efbce538bf70?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:56:28 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-17T13:56:27.4868573-07:00",
    "RandomSeed": "1979237722"
  }
}