{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a73c67d7-6497-af42-d092-96076a95d37f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D7607FBA6E7A\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a73c67d7-6497-af42-d092-96076a95d37f/test-blob-fecbd114-db73-2832-2cba-62f1b38f3b60",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "P10",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "qeXFJPJIg8i4oxg3YvpchS0vnqKl6j1mE3peQa\u002Bii76u65c/\u002BVOOy00CRtDC\u002BsYyXt3EhPGZur6oXhF46kEYFRdaiHZjHIvZodJUoqNtpBi0K\u002BPS3gfNFDDYl5pCFuEM6jC4aHFPzkFR6uIeRRgbOrr4w75dRjcQjHRGi4TxlovwR7dytDumZVyigfMkrs8YvVzfSlIjrqT5qNv9CUO8X1NXLf1gqIV/UV5hu8RE696lLc4nEUw5zZkTeQxfqVwZ5SGfzYDStxTWYPnzwfPftLz9WNt1lU4HHmBjTS55H6cCSNajpB1d03a5ULBSRQumNMRQYlGBo1DTmK8gbmnmXUFR[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a73c67d7-6497-af42-d092-96076a95d37f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "289306764",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}