{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c76952bc-1d40-0663-aac2-79f60fff7da1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3756612A20B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:54:05 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c76952bc-1d40-0663-aac2-79f60fff7da1/test-blob-e2e1e4ca-804a-d25f-6ef9-f95ebb265baa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:05 GMT"
      },
      "RequestBody": "vrqJK/Z3kpj5PeD\u002BGMDeglntcsYeIHTshDWYFp7p6zvjJ2PXwVx9U1JI6AygYbquGncEzrSVi51FnafB33v6EFKkGvFcB8H8bx501ThoSyJ76vwm5B2GTpvFkSS1vHTWTti6\u002B0bIURK2CF6WILVl3VGERvR/0ys0HsxVlnWdR7OqnYdfrlDcspjpcNy\u002B8C3mYLTSMHV/V3uthdx6crqdGMGr64MuBi8BqJNclmJOdi6ebzbByxY9K0ULsilzYUDeTFgbEwSpt1mE0IfiI8EZXg6u2wKD202qbcA9I1QGjkZTfUoKM2Ip9LjdPPqOWwiE8VMaxIY9W3AKcKVEbJQFfkFBjqV3DyusheZKpp9TGxK3uTIB68rAFiLZ/8K85Igk2L2[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c76952bc-1d40-0663-aac2-79f60fff7da1/test-blob-e2e1e4ca-804a-d25f-6ef9-f95ebb265baa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "LPQgrXog5ytjIQMLw9gFPg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D375661DDE84\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:54:05 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:54:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:54:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:54:05.0803097Z"
      },
      "ResponseBody": "vrqJK/Z3kpj5PeD\u002BGMDeglntcsYeIHTshDWYFp7p6zvjJ2PXwVx9U1JI6AygYbquGncEzrSVi51FnafB33v6EFKkGvFcB8H8bx501ThoSyJ76vwm5B2GTpvFkSS1vHTWTti6\u002B0bIURK2CF6WILVl3VGERvR/0ys0HsxVlnWdR7OqnYdfrlDcspjpcNy\u002B8C3mYLTSMHV/V3uthdx6crqdGMGr64MuBi8BqJNclmJOdi6ebzbByxY9K0ULsilzYUDeTFgbEwSpt1mE0IfiI8EZXg6u2wKD202qbcA9I1QGjkZTfUoKM2Ip9LjdPPqOWwiE8VMaxIY9W3AKcKVEbJQFfkFBjqV3DyusheZKpp9TGxK3uTIB68rAFiLZ/8K85Igk2L25TcxiDeEobT\u002Bf8rXRtlWTjbNiBJJ3[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c76952bc-1d40-0663-aac2-79f60fff7da1/test-blob-e2e1e4ca-804a-d25f-6ef9-f95ebb265baa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "LPQgrXog5ytjIQMLw9gFPg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D375661DDE84\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:54:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:54:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:54:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:54:05.0803097Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c76952bc-1d40-0663-aac2-79f60fff7da1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "238574073",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}