{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-30aeb44e-a109-39eb-b695-7f8783f96ea8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Mar 2021 07:01:08 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8DFA473C150D7\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 07:01:08 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-30aeb44e-a109-39eb-b695-7f8783f96ea8/test-blob-090e850b-abb3-8a71-6c4d-075440d715f0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Mar 2021 07:01:08 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "raxhPYLNCXvEM0Owhv0uV6hCCJ633iB61O00UQskPK1eTp2Gb86bPXuSRX9nwQRvH7Cs/s52OM6M5miVmbdwoPeWUTdfp\u002BfapsojJJmgEhPoxDJaeD3f6BXP\u002BohlBqTEIqWI0W/MEHfI0VcEUxM07NRVrNSFFSe5t2kij61fdKAlXgL0F0CkHLS6kqbm2pQBmg20EFnQPgx9zxoFqoDKaV223vQRP9STsZAfyoOB09zUIPWfq2RGVR/1d0glnnI08ChIL/yg8Fs5IF/JsXSI/Pw\u002BMImLKr35cInUG8iLbRId6tlaOKPfNDCZZYsFfKOrbHpM523oqcZqT79zy9SSrbJMq8eaL[...]
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-30aeb44e-a109-39eb-b695-7f8783f96ea8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 07:01:08 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "475932931",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope"
  }
}