{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a79772f8-e2ee-d69a-2094-0a4ff5e28e47?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:37 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3755595FD04\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:53:37 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a79772f8-e2ee-d69a-2094-0a4ff5e28e47/test-blob-850e9375-5f7e-5de5-458e-8124cab0ed48",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:37 GMT"
      },
      "RequestBody": "8MLfdTruonni4ztwduBZqS5Jc1XJHsoPmkpaFksUVDCj3FvtnSaUh/GVopokdOdlNNj2gT2XftL3z9rvlIstzY8LzJmEbAsItetkNHsw6yVi9OFzHtPyDF6J9c1LpPNlZ9QKGahO4MjM7ctRMkpWxuS0jZ\u002Bquq\u002B8GMA7\u002B3Y\u002BvBD4/8ynJtF9FBQYpzEHodkTMy/olxdTuq0lTgHnE\u002BRRjTC6WDN9rqATNniLkRN\u002BtXbnJ8hHViX5pEQfgdjQlgEvxhkATEillYSO1WCeyCiZp5iK/\u002BscCjcLwbTuXi3IQqB3XMr6fmguQZFEuIDFW9schto/RZYVErzi9YuTtzdXxpLAJ2xdnykvW75a2FG2RWXY0th[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a79772f8-e2ee-d69a-2094-0a4ff5e28e47/test-blob-850e9375-5f7e-5de5-458e-8124cab0ed48",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:37 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "T1dWVe22EDZyYoG0FnNYbA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D375559FCFA1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:53:37 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:53:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:53:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:53:37.4096289Z"
      },
      "ResponseBody": "8MLfdTruonni4ztwduBZqS5Jc1XJHsoPmkpaFksUVDCj3FvtnSaUh/GVopokdOdlNNj2gT2XftL3z9rvlIstzY8LzJmEbAsItetkNHsw6yVi9OFzHtPyDF6J9c1LpPNlZ9QKGahO4MjM7ctRMkpWxuS0jZ\u002Bquq\u002B8GMA7\u002B3Y\u002BvBD4/8ynJtF9FBQYpzEHodkTMy/olxdTuq0lTgHnE\u002BRRjTC6WDN9rqATNniLkRN\u002BtXbnJ8hHViX5pEQfgdjQlgEvxhkATEillYSO1WCeyCiZp5iK/\u002BscCjcLwbTuXi3IQqB3XMr6fmguQZFEuIDFW9schto/RZYVErzi9YuTtzdXxpLAJ2xdnykvW75a2FG2RWXY0thSiPwJYUkOF4jdmopa7PLtBDNvvuaxD\u00[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a79772f8-e2ee-d69a-2094-0a4ff5e28e47/test-blob-850e9375-5f7e-5de5-458e-8124cab0ed48",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:37 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "T1dWVe22EDZyYoG0FnNYbA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D375559FCFA1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:53:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:53:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:53:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:53:37.4096289Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a79772f8-e2ee-d69a-2094-0a4ff5e28e47?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:53:37 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "122845912",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}