{
  "Entries": [
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-eb68786f-4ae3-5dac-efbf-b3edee2f7176?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D75349AB39181E\u0022",
        "Last-Modified": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-eb68786f-4ae3-5dac-efbf-b3edee2f7176/test-blob-4348c655-f93b-deb7-ff7e-f0c0734606b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "WU3becE3y/IR4QEkZkgyMzeBEJDwISoZvZA6LI7jkj7GdNZp7HGVHftWMln3kne3S7yI8TZ1xTcjwbsx/Z5jLk7DXvFyyEbG6/OVme/QIioYguHSWqEIUK6eRSq1ZB9c8wQKMzSFRYJ1wQZC4CtIU5\u002BQGHq9kNOtuw1D04MbEIfTOKbrxe/2kj1eXJibxXCCVvKLJUuln2IwXXcmQnH/WrF\u002Bb6eFXY2wmoY8XjQ6EvadwH2QkOs8LphDumh3z1DMXgLnHFbI/flk24rFaEEt9kqBiYLzb8nGQUEPQaIlOco2cP8yU/Wf1cKEK7Rgd8VXFcQe9UXN2O84IdoVuLtWP6LAj/hB\u002B[...]
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-eb68786f-4ae3-5dac-efbf-b3edee2f7176/test-blob-4348c655-f93b-deb7-ff7e-f0c0734606b6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D75349AB3DECDE\u0022",
        "Last-Modified": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-blob-content-md5": "z\u002Byc8zCvOXs\u002BkTsRSxVZDA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": "WU3becE3y/IR4QEkZkgyMzeBEJDwISoZvZA6LI7jkj7GdNZp7HGVHftWMln3kne3S7yI8TZ1xTcjwbsx/Z5jLk7DXvFyyEbG6/OVme/QIioYguHSWqEIUK6eRSq1ZB9c8wQKMzSFRYJ1wQZC4CtIU5\u002BQGHq9kNOtuw1D04MbEIfTOKbrxe/2kj1eXJibxXCCVvKLJUuln2IwXXcmQnH/WrF\u002Bb6eFXY2wmoY8XjQ6EvadwH2QkOs8LphDumh3z1DMXgLnHFbI/flk24rFaEEt9kqBiYLzb8nGQUEPQaIlOco2cP8yU/Wf1cKEK7Rgd8VXFcQe9UXN2O84IdoVuLtWP6LAj/hB\u002B6NU4bS/b0MVZcp7tyvdB0OEaJgP\u002BjIbihwHLesSoOjMFhohyRORDm[...]
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-eb68786f-4ae3-5dac-efbf-b3edee2f7176/test-blob-4348c655-f93b-deb7-ff7e-f0c0734606b6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "z\u002Byc8zCvOXs\u002BkTsRSxVZDA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D75349AB3DECDE\u0022",
        "Last-Modified": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-eb68786f-4ae3-5dac-efbf-b3edee2f7176?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "744293594",
    "Storage_TestConfigDefault": "ProductionTenant\njolovstorage\nU2FuaXRpemVk\nhttp://jolovstorage.blob.core.windows.net\nhttp://jolovstorage.file.core.windows.net\nhttp://jolovstorage.queue.core.windows.net\nhttp://jolovstorage.table.core.windows.net\n\n\n\n\nhttp://jolovstorage-secondary.blob.core.windows.net\n\nhttp://jolovstorage-secondary.queue.core.windows.net\nhttp://jolovstorage-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://jolovstorage.blob.core.windows.net/;QueueEndpoint=http://jolovstorage.queue.core.windows.net/;TableEndpoint=http://jolovstorage.table.core.windows.net/;FileEndpoint=http://jolovstorage.file.core.windows.net/;BlobSecondaryEndpoint=http://jolovstorage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://jolovstorage-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://jolovstorage-secondary.table.core.windows.net/;AccountName=jolovstorage;AccountKey=Sanitized"
  }
}