{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-346463f7-461a-40ec-81a6-eca27d341c0b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:06 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D7606E36B32C\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:06 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-346463f7-461a-40ec-81a6-eca27d341c0b/test-blob-e0b4f534-a0f4-5400-2aeb-2ebc5d30a720",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "uwI6Rif9IFgDe/tzZaJmQ2VZiKOsCvTGNrj0/31tbmIKHdwPiLBoNtVc3XmljO6IhOtXA6cDdLAOcxBuCSDblQ2YaUjGV7q08FHOTy17IanJbHqRFmq6BqkrABSg\u002Bi20gUdrDCOmwi0wohNWNCSCk1JmpJylSX6j3mKemlalFPYjGs7lDxWGI6pNYXRXY9GEqW3COVWQDjjJyC7AByfXio0cMxpWnIM834HyWOcJTHqRGvHo49qgkguWHEfnxhuCdtbmOjC2LgzqhVrUnrZQv3yzL\u002B0276eze6APv387VRlmcOIRIxFJ2uvk/V2AzPRURV3KM5YtS4YuM76Pp26MrjBAbi3UPpxqaV[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-346463f7-461a-40ec-81a6-eca27d341c0b/test-blob-e0b4f534-a0f4-5400-2aeb-2ebc5d30a720",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:07 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D7606E43C155\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:06 GMT",
        "x-ms-blob-content-md5": "c9vXF5Y4ELxxHYijLil69w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:49:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "uwI6Rif9IFgDe/tzZaJmQ2VZiKOsCvTGNrj0/31tbmIKHdwPiLBoNtVc3XmljO6IhOtXA6cDdLAOcxBuCSDblQ2YaUjGV7q08FHOTy17IanJbHqRFmq6BqkrABSg\u002Bi20gUdrDCOmwi0wohNWNCSCk1JmpJylSX6j3mKemlalFPYjGs7lDxWGI6pNYXRXY9GEqW3COVWQDjjJyC7AByfXio0cMxpWnIM834HyWOcJTHqRGvHo49qgkguWHEfnxhuCdtbmOjC2LgzqhVrUnrZQv3yzL\u002B0276eze6APv387VRlmcOIRIxFJ2uvk/V2AzPRURV3KM5YtS4YuM76Pp26MrjBAbi3UPpxqaVQCUvFKMq\u002BsunoicCKDOCVb4\u002B9TujN8WE4tQF7GgAfBYMlCK/[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-346463f7-461a-40ec-81a6-eca27d341c0b/test-blob-e0b4f534-a0f4-5400-2aeb-2ebc5d30a720",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "c9vXF5Y4ELxxHYijLil69w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D7606E43C155\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:49:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-346463f7-461a-40ec-81a6-eca27d341c0b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1141145834",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}