{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1bfaa9f5-5e30-16d8-ae68-fa1084f629a4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:42:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EDA1907BE0\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:42:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1bfaa9f5-5e30-16d8-ae68-fa1084f629a4/test-blob-c5002596-277d-61b7-1d17-7a470545396b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:42:13 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "\u002BJHBySqqztSLmF7mHCgEN7c\u002B/bZCqusnA2phvkBcQFGYDGtNp2fv61crOeXJ0UX1EkKPx0iCKE6mmsbASA\u002BUL1cMTRC9to9QThFfF3AFXTElbKv9zXgIFeMdpw2hLqJHlgqOvIM0OFuzP3k3IxHdoDyUm9xkl2HeBDgsoA\u002BCrh9uGIBld6Cu8DRPSo7/0fLRPwbQDZPG4/\u002Bor7hLCJdMMJBZyAuQdymb5qqoFE3T3jJFWmAJsqGLqDWBvMjoYuicAxn9pgnnQMfcNCfpHc6x1dCGBa02Qn7vzSDWD7ths4PCDBA01TgpXhqZLH16oopm0Of3Ylw7ZcGbDtnoEDEMe4CkJxG\u002Bff\u002BYXaeSnRUAdSqWbz/TaVEmhqZPmcdfQE3ojb[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1bfaa9f5-5e30-16d8-ae68-fa1084f629a4?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:42:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1bfaa9f5-5e30-16d8-ae68-fa1084f629a4/test-blob-c5002596-277d-61b7-1d17-7a470545396b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:42:13 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ACKJqRZg\u002BdfH4Lc97FmAjg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2EDA19C2454\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:42:13 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:42:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:42:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:42:13.3371988Z"
      },
      "ResponseBody": "\u002BJHBySqqztSLmF7mHCgEN7c\u002B/bZCqusnA2phvkBcQFGYDGtNp2fv61crOeXJ0UX1EkKPx0iCKE6mmsbASA\u002BUL1cMTRC9to9QThFfF3AFXTElbKv9zXgIFeMdpw2hLqJHlgqOvIM0OFuzP3k3IxHdoDyUm9xkl2HeBDgsoA\u002BCrh9uGIBld6Cu8DRPSo7/0fLRPwbQDZPG4/\u002Bor7hLCJdMMJBZyAuQdymb5qqoFE3T3jJFWmAJsqGLqDWBvMjoYuicAxn9pgnnQMfcNCfpHc6x1dCGBa02Qn7vzSDWD7ths4PCDBA01TgpXhqZLH16oopm0Of3Ylw7ZcGbDtnoEDEMe4CkJxG\u002Bff\u002BYXaeSnRUAdSqWbz/TaVEmhqZPmcdfQE3ojbD81Xt4p1LoXwW1q[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1bfaa9f5-5e30-16d8-ae68-fa1084f629a4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:42:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1172044812",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}