{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d574d497-90a2-1410-3b7c-219d17e3780b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:04 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D83919AF77BA\u0022",
        "Last-Modified": "Sat, 04 Apr 2020 01:40:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d574d497-90a2-1410-3b7c-219d17e3780b/test-blob-78b3c108-5467-23fc-6542-e967de0f263c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "wtJWZ7vIeJi0nOh2x\u002B4zhrjy9ytLQOjysgRLUFV1EqaYcb0rDhoEQEkbw8prhlt3DmOu6xf68ILqZLW2fSdCP4pC3VUwCHee7rfiMHwdhiyo00HyxiaOnoE7QKplTcMh2INAKakGRgbrEP1gF78FzN2IDqnmUHljsz/U9MfNOaHzwVj53V2Coow7BrUpLobBNnTM3D8aOocJ3HVqMVI\u002BHtdcbFVnC\u002B\u002BABmscqkrEOoW4E75TAFxh2YbQ7wDnGHA6/efezMEwWSqETNbT/ZA9RaLvsR6U6x56\u002BpPOlxzumO364a1i5W3Eh7mTzrOGjtv2k6le\u002BGZSphLJY9[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d574d497-90a2-1410-3b7c-219d17e3780b?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanary.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-d574d497-90a2-1410-3b7c-219d17e3780b\u0022\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Etest-blob-78b3c108-5467-23fc-6542-e967de0f263c\u003C/Name\u003E\u003CProperties\u003E\u003CCreation-Time\u003ESat, 04 Apr 2020 01:40:05 GMT\u003C/Creation-Time\u003E\u003CLast-Modified\u003ESat, 04 Apr 2020 01:40:05 GMT\u003C/Last-Modified\u003E\u003CEtag\u003E0x8D7D83919BD8AD6\u003C/Etag\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003CContent-Type\u003Eapplication/octet-stream\u003C/Content-Type\u003E\u003CContent-Encoding /\u003E\u003CContent-Language /\u003E\u003CContent-CRC64 /\u003E\u003CContent-MD5\u003ENuInwucZtfIZLJ8\u002B82H3jA==\u003C/Content-MD5\u003E\u003CCache-Control /\u003E\u003CContent-Disposition /\u003E\u003CBlobType\u003EBlockBlob\u003C/BlobType\u003E\u003CAccessTier\u003EHot\u003C/AccessTier\u003E\u003CAccessTierInferred\u003Etrue\u003C/AccessTierInferred\u003E\u003CLeaseStatus\u003Eunlocked\u003C/LeaseStatus\u003E\u003CLeaseState\u003Eavailable\u003C/LeaseState\u003E\u003CServerEncrypted\u003Etrue\u003C/ServerEncrypted\u003E\u003C/Properties\u003E\u003C/Blob\u003E\u003C/Blobs\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d574d497-90a2-1410-3b7c-219d17e3780b/test-blob-78b3c108-5467-23fc-6542-e967de0f263c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "NuInwucZtfIZLJ8\u002B82H3jA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D83919BD8AD6\u0022",
        "Last-Modified": "Sat, 04 Apr 2020 01:40:05 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 04 Apr 2020 01:40:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "wtJWZ7vIeJi0nOh2x\u002B4zhrjy9ytLQOjysgRLUFV1EqaYcb0rDhoEQEkbw8prhlt3DmOu6xf68ILqZLW2fSdCP4pC3VUwCHee7rfiMHwdhiyo00HyxiaOnoE7QKplTcMh2INAKakGRgbrEP1gF78FzN2IDqnmUHljsz/U9MfNOaHzwVj53V2Coow7BrUpLobBNnTM3D8aOocJ3HVqMVI\u002BHtdcbFVnC\u002B\u002BABmscqkrEOoW4E75TAFxh2YbQ7wDnGHA6/efezMEwWSqETNbT/ZA9RaLvsR6U6x56\u002BpPOlxzumO364a1i5W3Eh7mTzrOGjtv2k6le\u002BGZSphLJY9EuYcIOlrTo2Bzj2l80KypkABxq9Gy32ANyj5\u002BGqDubmYKbliX3hDj[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d574d497-90a2-1410-3b7c-219d17e3780b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "438160173",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}