{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-3be1421d-8aef-bb97-ae8a-7f1a3d4160e1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:03 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D839192DF4E2\u0022",
        "Last-Modified": "Sat, 04 Apr 2020 01:40:04 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-3be1421d-8aef-bb97-ae8a-7f1a3d4160e1/test-blob-f01a5c87-dda6-677c-a6a3-40c2f88376d6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:04 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "lWQPhKAABaeXb04BHz4Wz4UKi\u002Bi9BHUuPDm6Oe5IC0aHwMjEHCPmhldyWDaOekdnjXA87fiNGJHv4EdnRsu4T2QHel92UbNiJASQSqw\u002Bn8HxUqx\u002BCx1O\u002Bac31DvbfkCLugjShwDo8Du82snz/M3ksUGFdvMfOkNHuYC3P314hqXEBZCjaxjBCWJwwjFTW/zZUiP5VQhMa4DFi81/MLG\u002BQ1MjLvc9QUUpxGyRrncS816D3u1ZfzGdd5kQ3uBKQdiwsn7dMCwFnBHez5Gbu70Ispdv/FLEZcQihbZeLWNk3oKU4Pz5NMIxfkHceq\u002BgAbzcBytI20WG7E26u6[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-3be1421d-8aef-bb97-ae8a-7f1a3d4160e1?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:04 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanary.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-3be1421d-8aef-bb97-ae8a-7f1a3d4160e1\u0022\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Etest-blob-f01a5c87-dda6-677c-a6a3-40c2f88376d6\u003C/Name\u003E\u003CProperties\u003E\u003CCreation-Time\u003ESat, 04 Apr 2020 01:40:04 GMT\u003C/Creation-Time\u003E\u003CLast-Modified\u003ESat, 04 Apr 2020 01:40:04 GMT\u003C/Last-Modified\u003E\u003CEtag\u003E0x8D7D8391945FB29\u003C/Etag\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003CContent-Type\u003Eapplication/octet-stream\u003C/Content-Type\u003E\u003CContent-Encoding /\u003E\u003CContent-Language /\u003E\u003CContent-CRC64 /\u003E\u003CContent-MD5\u003EEdNXnm21WgEzw28g/ENxTQ==\u003C/Content-MD5\u003E\u003CCache-Control /\u003E\u003CContent-Disposition /\u003E\u003CBlobType\u003EBlockBlob\u003C/BlobType\u003E\u003CAccessTier\u003EHot\u003C/AccessTier\u003E\u003CAccessTierInferred\u003Etrue\u003C/AccessTierInferred\u003E\u003CLeaseStatus\u003Eunlocked\u003C/LeaseStatus\u003E\u003CLeaseState\u003Eavailable\u003C/LeaseState\u003E\u003CServerEncrypted\u003Etrue\u003C/ServerEncrypted\u003E\u003C/Properties\u003E\u003C/Blob\u003E\u003C/Blobs\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-3be1421d-8aef-bb97-ae8a-7f1a3d4160e1/test-blob-f01a5c87-dda6-677c-a6a3-40c2f88376d6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:04 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "EdNXnm21WgEzw28g/ENxTQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D8391945FB29\u0022",
        "Last-Modified": "Sat, 04 Apr 2020 01:40:04 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 04 Apr 2020 01:40:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "lWQPhKAABaeXb04BHz4Wz4UKi\u002Bi9BHUuPDm6Oe5IC0aHwMjEHCPmhldyWDaOekdnjXA87fiNGJHv4EdnRsu4T2QHel92UbNiJASQSqw\u002Bn8HxUqx\u002BCx1O\u002Bac31DvbfkCLugjShwDo8Du82snz/M3ksUGFdvMfOkNHuYC3P314hqXEBZCjaxjBCWJwwjFTW/zZUiP5VQhMa4DFi81/MLG\u002BQ1MjLvc9QUUpxGyRrncS816D3u1ZfzGdd5kQ3uBKQdiwsn7dMCwFnBHez5Gbu70Ispdv/FLEZcQihbZeLWNk3oKU4Pz5NMIxfkHceq\u002BgAbzcBytI20WG7E26u6p1pm\u002BtevAOB9rADn3VPX0Q5\u002BoUgYT6giU3GwM9DfSvP3kXu9[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-3be1421d-8aef-bb97-ae8a-7f1a3d4160e1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:04 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "252497264",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}