{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-ff24d37c-c57a-d4f1-2a2c-85375ccff3be?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:09:16 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C1497697B82C\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:09:16 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-ff24d37c-c57a-d4f1-2a2c-85375ccff3be/test-blob-e91cae94-8d4d-741a-d843-320ca4120756",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:09:16 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "4nO4WhngOZVWBA1M/7zoczYOSR\u002B3YcTx6EI5QNph/EbmsluDoN74s3SGkkl/zXUcW77WlcnnnoGvxnHXp/m79AjHZUxgZNNXFpaqMc57chrNHeUbi2Z9/hPa1NlsIQx7yp5At2cou/brfn8yPG2zM1RXCokToGihSmY4ho/66/WJL2cvOrqypGHvMA3mSsGmJ6GEFRaCZyo1n20A7zVm8JOKqA0Gg/mZpGUnI3Bbuv\u002Bkkl/uddbeB8c9\u002BptNsbUsiD96XKG0oKOo6nCxWkO52uRtXF3Vd3q8rKFFyYldTPOw\u002Bpow4V5e8PK7RotmLayDgx\u002B331VYVxHEvbD/b9Y[...]
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-ff24d37c-c57a-d4f1-2a2c-85375ccff3be?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:09:16 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1169960843",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}