{
  "Entries": [
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-3a67c3a0-6e9e-3ec7-53e7-bde72f25dd73?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D1C742604E58\u0022",
        "Last-Modified": "Thu, 26 Mar 2020 20:50:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-3a67c3a0-6e9e-3ec7-53e7-bde72f25dd73/test-blob-b1228f42-67eb-e995-127f-5d1b8fbfa5c0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "H7flSBmUR1lPn/4hVBXpuS1LxQhvFhuaUSM2rEXneAMNoXxGPQx5rkjJYktodJT9lqPtRPqcUQibS/f2XZoUZyf7E7KYo3wh0RfAprTPMt2OORah\u002BjMIcFB0qvIVg1CttPskbGDhZPIny3Lj3KpTzBkZZySEcmzz86JiJPiKDE7GEvG5q8V8rdUjei7BJJSlId7Y\u002BxssKUKOMHm\u002Bf0D6nL8kHcq4mSBTnLpOYPg9Ms4OvAMZsRAymemvK3pMvi6VKd1vnAfJ7Ie\u002BhV5h3chJUf6qr8I84Ouv8oPhCW6lB96LuTYazpXGRM98Wyyx0LsgZdl8oQ5rWEnyv6qE6OMYGH6A[...]
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-3a67c3a0-6e9e-3ec7-53e7-bde72f25dd73/test-blob-b1228f42-67eb-e995-127f-5d1b8fbfa5c0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ad2C9R1MJuTJWnHrCIyOlQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D1C742651FF8\u0022",
        "Last-Modified": "Thu, 26 Mar 2020 20:50:03 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 26 Mar 2020 20:50:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "H7flSBmUR1lPn/4hVBXpuS1LxQhvFhuaUSM2rEXneAMNoXxGPQx5rkjJYktodJT9lqPtRPqcUQibS/f2XZoUZyf7E7KYo3wh0RfAprTPMt2OORah\u002BjMIcFB0qvIVg1CttPskbGDhZPIny3Lj3KpTzBkZZySEcmzz86JiJPiKDE7GEvG5q8V8rdUjei7BJJSlId7Y\u002BxssKUKOMHm\u002Bf0D6nL8kHcq4mSBTnLpOYPg9Ms4OvAMZsRAymemvK3pMvi6VKd1vnAfJ7Ie\u002BhV5h3chJUf6qr8I84Ouv8oPhCW6lB96LuTYazpXGRM98Wyyx0LsgZdl8oQ5rWEnyv6qE6OMYGH6A1SORL4No42vzwIS\u002B/SHHwKOUKWXPIGHtKA7rQlvrY0OuMfqYjjZWF[...]
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-3a67c3a0-6e9e-3ec7-53e7-bde72f25dd73/test-blob-b1228f42-67eb-e995-127f-5d1b8fbfa5c0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ad2C9R1MJuTJWnHrCIyOlQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D1C742651FF8\u0022",
        "Last-Modified": "Thu, 26 Mar 2020 20:50:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 26 Mar 2020 20:50:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-3a67c3a0-6e9e-3ec7-53e7-bde72f25dd73?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1456118079",
    "Storage_TestConfigDefault": "ProductionTenant\nseandevtest\nU2FuaXRpemVk\nhttps://seandevtest.blob.core.windows.net\nhttps://seandevtest.file.core.windows.net\nhttps://seandevtest.queue.core.windows.net\nhttps://seandevtest.table.core.windows.net\n\n\n\n\nhttps://seandevtest-secondary.blob.core.windows.net\nhttps://seandevtest-secondary.file.core.windows.net\nhttps://seandevtest-secondary.queue.core.windows.net\nhttps://seandevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seandevtest.blob.core.windows.net/;QueueEndpoint=https://seandevtest.queue.core.windows.net/;FileEndpoint=https://seandevtest.file.core.windows.net/;BlobSecondaryEndpoint=https://seandevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seandevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seandevtest-secondary.file.core.windows.net/;AccountName=seandevtest;AccountKey=Sanitized\nseanscope1"
  }
}