{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5b8659a5-0b9b-3ecd-8cdd-2bea067a9c9a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6EADA610E2\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:54:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5b8659a5-0b9b-3ecd-8cdd-2bea067a9c9a/test-blob-66fe6e7c-bb4f-094c-f854-44d80653e534",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "OPYgZ9lWvV7pICKtAvm\u002b\u002bmBFbZd7NUsU1k4jugOYX\u002bQI1ZuJcRULJrGgfS6Ynwf/lUl3wOZNuAKqC5CLMgJaUMA\u002bpS1dNYlKOkfm2rgcfDdGJCS5IJ7\u002buhyY3mWEgPOuRi1tWvnaoWDALYaeZ91Kjo9ZRA7eoS8hQOsQxFYjxblUN5SLryE\u002bbILE\u002bfMYX1M/TlDWKzvk0KT9SxoNytwJnGfMSi9Ivt9tGtiMGag8CeCX0XYGTZp\u002bb2fwjWMHMKGlulyLSxQj9o9xaBFjWLb8wUE5dflmA0/NTtvIWDF7Zek2515LsL7Lc9rmlOSIGhew88sh[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5b8659a5-0b9b-3ecd-8cdd-2bea067a9c9a/test-blob-66fe6e7c-bb4f-094c-f854-44d80653e534",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "jOhv4jYFBdCjSffwdpp5gw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FE6EADA81D87\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:54:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 01 Jul 2019 21:54:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-5b8659a5-0b9b-3ecd-8cdd-2bea067a9c9a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:54:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1009063687"
  }
}