{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9e163461-620b-2986-ea91-47f2991df90d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:59:29 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEE85A9E72B\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:59:29 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9e163461-620b-2986-ea91-47f2991df90d/test-blob-e63f3986-4393-a842-8819-ddc68e5554ef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:59:29 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "mTPUeZ4t940XrtlGAJjHazPOqpu7EIDa3tVC\u002ByjxrDxdyXkBgZdnWEGyzuRp\u002B6fwUnKTwKu5M4my\u002BZvI6/xlJgKd6TcexeqbZlFZCUGccOIuUqm2XeyRpJXwTof8nm1FTajizBFv0YyH91lZXypHFoi4mphTrsgWDESiLndin8jkE7yYuqTQvoEcLmaTOERrqDj\u002BRATU8Z7gzMDNzaMVJFeQdEtur1zk59wXNn9hgtQANoU\u002BZFvDECIduO7kA/DdBwkOAsP4/PncGV0ovLsefknszJYd1sD8zGQpUPZtAOPrOS91UoAQBzqMYkr\u002Bm1Nm/jml9zdZwDBJEj[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9e163461-620b-2986-ea91-47f2991df90d/test-blob-e63f3986-4393-a842-8819-ddc68e5554ef",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:59:29 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DEE85B70A5E\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:59:29 GMT",
        "x-ms-blob-content-md5": "A7rbfT70Vytr7mLntdMuAw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 03:59:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "mTPUeZ4t940XrtlGAJjHazPOqpu7EIDa3tVC\u002ByjxrDxdyXkBgZdnWEGyzuRp\u002B6fwUnKTwKu5M4my\u002BZvI6/xlJgKd6TcexeqbZlFZCUGccOIuUqm2XeyRpJXwTof8nm1FTajizBFv0YyH91lZXypHFoi4mphTrsgWDESiLndin8jkE7yYuqTQvoEcLmaTOERrqDj\u002BRATU8Z7gzMDNzaMVJFeQdEtur1zk59wXNn9hgtQANoU\u002BZFvDECIduO7kA/DdBwkOAsP4/PncGV0ovLsefknszJYd1sD8zGQpUPZtAOPrOS91UoAQBzqMYkr\u002Bm1Nm/jml9zdZwDBJEjVez6wCbhl5PIOLqCzI28VckXR1/jERwlK9yAiskXn\u002BLEBKsjiNifM[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9e163461-620b-2986-ea91-47f2991df90d/test-blob-e63f3986-4393-a842-8819-ddc68e5554ef",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:59:29 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "A7rbfT70Vytr7mLntdMuAw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DEE85B70A5E\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:59:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 03:59:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9e163461-620b-2986-ea91-47f2991df90d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:59:29 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1560680821",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}