{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-a73c67d7-6497-af42-d092-96076a95d37f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:04 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEE9A592C7F\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:00:04 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-a73c67d7-6497-af42-d092-96076a95d37f/test-blob-fecbd114-db73-2832-2cba-62f1b38f3b60",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "P10",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:04 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "qeXFJPJIg8i4oxg3YvpchS0vnqKl6j1mE3peQa\u002Bii76u65c/\u002BVOOy00CRtDC\u002BsYyXt3EhPGZur6oXhF46kEYFRdaiHZjHIvZodJUoqNtpBi0K\u002BPS3gfNFDDYl5pCFuEM6jC4aHFPzkFR6uIeRRgbOrr4w75dRjcQjHRGi4TxlovwR7dytDumZVyigfMkrs8YvVzfSlIjrqT5qNv9CUO8X1NXLf1gqIV/UV5hu8RE696lLc4nEUw5zZkTeQxfqVwZ5SGfzYDStxTWYPnzwfPftLz9WNt1lU4HHmBjTS55H6cCSNajpB1d03a5ULBSRQumNMRQYlGBo1DTmK8gbmnmXUFR[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-a73c67d7-6497-af42-d092-96076a95d37f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:04 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "289306764",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}