{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-771dc5c1-d668-9a9f-06d8-7174d3bdabf5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:30 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D7607C314B38\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:29 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-771dc5c1-d668-9a9f-06d8-7174d3bdabf5/test-blob-5e4c84ef-5eb3-c881-9c27-4371811e2733",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:30 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "LMx0/AK/JNyYNJ7hxmqUjNMKke6HTvGhVPFOqc26zth4/pGUMyZIL19vxX7AnwIyk7eed4w5rN7b0qcQcHoP3mbFacjZ/1mswWGOF4hz4bTvHBYWG1ZLP1KyuWB\u002BOL7kYOcY\u002BjY5WJNd8bUrqpRWZ/DyIFRk\u002BcIPeSl2JkX4LYmjqbehWuZ\u002BtsSDuCqhIJS9XFJwixdqgGYkCYENwzFNZMMshwHdtA0KdGqP4UGYbliVuMrziKJxOClQfFFlcPKSNVNmdJiT36dFZhet2p8ljJooeApnWtwhu0/YjTi7pAN3/KvtMvnAAdkiriKKxF2JK\u002B\u002B2PPjoK9t3RL[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-771dc5c1-d668-9a9f-06d8-7174d3bdabf5/test-blob-5e4c84ef-5eb3-c881-9c27-4371811e2733",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:30 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D7607C3FB9F9\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:29 GMT",
        "x-ms-blob-content-md5": "1zVETTbSpKEuFvuQH1Dt3Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:49:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "LMx0/AK/JNyYNJ7hxmqUjNMKke6HTvGhVPFOqc26zth4/pGUMyZIL19vxX7AnwIyk7eed4w5rN7b0qcQcHoP3mbFacjZ/1mswWGOF4hz4bTvHBYWG1ZLP1KyuWB\u002BOL7kYOcY\u002BjY5WJNd8bUrqpRWZ/DyIFRk\u002BcIPeSl2JkX4LYmjqbehWuZ\u002BtsSDuCqhIJS9XFJwixdqgGYkCYENwzFNZMMshwHdtA0KdGqP4UGYbliVuMrziKJxOClQfFFlcPKSNVNmdJiT36dFZhet2p8ljJooeApnWtwhu0/YjTi7pAN3/KvtMvnAAdkiriKKxF2JK\u002B\u002B2PPjoK9t3RLlJu1JvicETNd3zN1qgaHYxRKu5l/bxTmFIBGcLj9HQdu5AdkaGsyRhd45/[...]
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-771dc5c1-d668-9a9f-06d8-7174d3bdabf5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:31 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "119397897",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}