{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-fe3d8da1-249d-1cac-9b98-51e9397dbeba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:40 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D7608270AEA9\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:40 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-fe3d8da1-249d-1cac-9b98-51e9397dbeba/test-blob-043f9ee6-276b-01f1-117c-87c735c4f3b8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:41 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "Kcru4Xrg1CQ3etLh3fcmLBuzAYujaxvTZQHNaUo07DxICVvQW9nBBskazPBUDyMaVVusgcJnFL6uGnt4E2vZAo6WmdObVtFB8frCiZ4rf1bdshTviGp64PWdIUBdSfNeQMlhvnZQfv6JapDHpYsfg5slm2BW6nokG7ne/TWQ5KgHZEjVycDgjTQVZR3asjpqfZ6lN62TB1ZOPaK9cYHJ\u002BIbowEFCSrnaRQ0sQYRdSWl\u002Bc3\u002BX6636c13xhosdIhuyS22X8fH5JzPkyvKgZ8XS8fM4P/4BMg3Z7U3kUcQuvCLyefUXxVh4hExMsyC6WgyXH5SX5eMdsBlfvgSkFdZutQ3Pru7Pu[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-fe3d8da1-249d-1cac-9b98-51e9397dbeba/test-blob-043f9ee6-276b-01f1-117c-87c735c4f3b8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:41 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D760827AF28B\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:40 GMT",
        "x-ms-blob-content-md5": "nrawLgqbKZuiIoay9lpQ2A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:49:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "Kcru4Xrg1CQ3etLh3fcmLBuzAYujaxvTZQHNaUo07DxICVvQW9nBBskazPBUDyMaVVusgcJnFL6uGnt4E2vZAo6WmdObVtFB8frCiZ4rf1bdshTviGp64PWdIUBdSfNeQMlhvnZQfv6JapDHpYsfg5slm2BW6nokG7ne/TWQ5KgHZEjVycDgjTQVZR3asjpqfZ6lN62TB1ZOPaK9cYHJ\u002BIbowEFCSrnaRQ0sQYRdSWl\u002Bc3\u002BX6636c13xhosdIhuyS22X8fH5JzPkyvKgZ8XS8fM4P/4BMg3Z7U3kUcQuvCLyefUXxVh4hExMsyC6WgyXH5SX5eMdsBlfvgSkFdZutQ3Pru7PuyybwLqxtH/sHpNBTDIwltc/1MjctwZT02923v0T66wdx2Nn\u002ByQpa/[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-fe3d8da1-249d-1cac-9b98-51e9397dbeba/test-blob-043f9ee6-276b-01f1-117c-87c735c4f3b8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:41 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "nrawLgqbKZuiIoay9lpQ2A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D760827AF28B\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:49:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-fe3d8da1-249d-1cac-9b98-51e9397dbeba?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:41 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1700412206",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}