{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-62c74fd1-ae7c-6cb0-1ff2-878925c3a190?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:04 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEE9ABE7BF4\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:00:04 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-62c74fd1-ae7c-6cb0-1ff2-878925c3a190/test-blob-a4eeb851-df04-8b00-7075-e84a5b3728ce",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:04 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "28X32WuV1ruE3byg9YXjCzIvJ4thcryyS82aRKeDVWtbgX2odyW3u\u002BEyHycjX5XqkdwXLA\u002BcbGgJRI2d\u002BpIUAYhRRXMIO5QNeGupLlOVj\u002Bs3sLPKaylbvhQVnjKYGcFPHh2e0Roi4lVICrSj8j0Vc7WhZkreSZZf9oZe85xidF6qWhA19r7RFc5dgmB1t8vW/yt89rN2cNWHP9qTw\u002B645ZVV\u002BZgt33z30FB8gcY16T\u002B7h/Nx5X6rNOk6rbfjPVLfpJzLH74yqCCuhSZi\u002Bu8OUlWb2Dv7RwAXqsSv8zLFE5L\u002BndwqacmAiN7Twl9YSDr[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-62c74fd1-ae7c-6cb0-1ff2-878925c3a190/test-blob-a4eeb851-df04-8b00-7075-e84a5b3728ce",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:04 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DEE9ACBA846\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:00:04 GMT",
        "x-ms-blob-content-md5": "Rp9VBt3Jrd56ivEuUyZJoQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 04:00:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "28X32WuV1ruE3byg9YXjCzIvJ4thcryyS82aRKeDVWtbgX2odyW3u\u002BEyHycjX5XqkdwXLA\u002BcbGgJRI2d\u002BpIUAYhRRXMIO5QNeGupLlOVj\u002Bs3sLPKaylbvhQVnjKYGcFPHh2e0Roi4lVICrSj8j0Vc7WhZkreSZZf9oZe85xidF6qWhA19r7RFc5dgmB1t8vW/yt89rN2cNWHP9qTw\u002B645ZVV\u002BZgt33z30FB8gcY16T\u002B7h/Nx5X6rNOk6rbfjPVLfpJzLH74yqCCuhSZi\u002Bu8OUlWb2Dv7RwAXqsSv8zLFE5L\u002BndwqacmAiN7Twl9YSDr6K1phSGUW412ctHX5g7Xt6XKTZFwS5OiLGk9cKIWgvmGKtMfXZMss6Ll/j[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-62c74fd1-ae7c-6cb0-1ff2-878925c3a190/test-blob-a4eeb851-df04-8b00-7075-e84a5b3728ce",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Rp9VBt3Jrd56ivEuUyZJoQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DEE9ACBA846\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:00:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 04:00:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-62c74fd1-ae7c-6cb0-1ff2-878925c3a190?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1227217160",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}