{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-56331f52-ffa9-786d-bbfa-03c53d9533c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 21 Oct 2019 02:08:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D755CB8E779FCE\u0022",
        "Last-Modified": "Mon, 21 Oct 2019 02:08:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-56331f52-ffa9-786d-bbfa-03c53d9533c7/test-blob-c7d504ca-b457-dc04-4964-28cae04cea2a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 21 Oct 2019 02:08:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "wSH7mVWwtg1Gkf2FwXiRhPndVom8cIoVn2M5qyTewgd5ipsbrUvrGk3Hgca2fhvR06PQAvVhbVGW5frydgvpZ8/2DDfdddeu8jw79O7EXiBHaNiBDr8RFxxKhMdR\u002BaNC3hr3wHLj813MIhC4Jnli0ofZqg4zaFkP5PQbk/APXfiZ\u002BBbUzZ6tZHR6teyvWPGj57JAd0\u002BUD3bB59t\u002ByGBsvMQXHy1ijgXoK0aauLJsYIwCd6s\u002Bz\u002BWpBOmgEuXCL5sTDfgnlznDQFmtV0sJ\u002BlbDVIdPe1C1Lu3fbhtEwnsfJvyqhqu6RchTPzZRkXeaoAmT3b5ecrNKX[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-56331f52-ffa9-786d-bbfa-03c53d9533c7?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Oct 2019 02:08:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022http://storageteglazatesting.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-56331f52-ffa9-786d-bbfa-03c53d9533c7\u0022\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Etest-blob-c7d504ca-b457-dc04-4964-28cae04cea2a\u003C/Name\u003E\u003CProperties\u003E\u003CCreation-Time\u003EMon, 21 Oct 2019 02:08:25 GMT\u003C/Creation-Time\u003E\u003CLast-Modified\u003EMon, 21 Oct 2019 02:08:25 GMT\u003C/Last-Modified\u003E\u003CEtag\u003E0x8D755CB8E7A7374\u003C/Etag\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003CContent-Type\u003Eapplication/octet-stream\u003C/Content-Type\u003E\u003CContent-Encoding /\u003E\u003CContent-Language /\u003E\u003CContent-CRC64 /\u003E\u003CContent-MD5\u003Etd5FqDScLKa9oMxBUnvshA==\u003C/Content-MD5\u003E\u003CCache-Control /\u003E\u003CContent-Disposition /\u003E\u003CBlobType\u003EBlockBlob\u003C/BlobType\u003E\u003CAccessTier\u003EHot\u003C/AccessTier\u003E\u003CAccessTierInferred\u003Etrue\u003C/AccessTierInferred\u003E\u003CLeaseStatus\u003Eunlocked\u003C/LeaseStatus\u003E\u003CLeaseState\u003Eavailable\u003C/LeaseState\u003E\u003CServerEncrypted\u003Etrue\u003C/ServerEncrypted\u003E\u003C/Properties\u003E\u003C/Blob\u003E\u003C/Blobs\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-56331f52-ffa9-786d-bbfa-03c53d9533c7/test-blob-c7d504ca-b457-dc04-4964-28cae04cea2a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Oct 2019 02:08:25 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D755CB8E7A7374\u0022",
        "Last-Modified": "Mon, 21 Oct 2019 02:08:25 GMT",
        "x-ms-blob-content-md5": "td5FqDScLKa9oMxBUnvshA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Oct 2019 02:08:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": "wSH7mVWwtg1Gkf2FwXiRhPndVom8cIoVn2M5qyTewgd5ipsbrUvrGk3Hgca2fhvR06PQAvVhbVGW5frydgvpZ8/2DDfdddeu8jw79O7EXiBHaNiBDr8RFxxKhMdR\u002BaNC3hr3wHLj813MIhC4Jnli0ofZqg4zaFkP5PQbk/APXfiZ\u002BBbUzZ6tZHR6teyvWPGj57JAd0\u002BUD3bB59t\u002ByGBsvMQXHy1ijgXoK0aauLJsYIwCd6s\u002Bz\u002BWpBOmgEuXCL5sTDfgnlznDQFmtV0sJ\u002BlbDVIdPe1C1Lu3fbhtEwnsfJvyqhqu6RchTPzZRkXeaoAmT3b5ecrNKXt8LSCgdf37ejTFOXnSrCA6\u002B/DwZZJ11RM4RseS8wbNJXyjMrv2fNb[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-56331f52-ffa9-786d-bbfa-03c53d9533c7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Oct 2019 02:08:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1807400236",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}