{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-82a3b1d4-48d8-1863-c6d4-6a9d416dd508?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:08 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEE9D265645\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:00:08 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-82a3b1d4-48d8-1863-c6d4-6a9d416dd508/test-blob-3305569f-d0da-665b-2859-ee0d0bff9311?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:08 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "saHim/50MA3TNAlstXJpjcA1[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-82a3b1d4-48d8-1863-c6d4-6a9d416dd508/test-blob-3305569f-d0da-665b-2859-ee0d0bff9311?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:08 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "\u003CBlockList\u003E\u003CUncommitted\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Uncommitted\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEE9D3FB6B0\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:00:09 GMT",
        "x-ms-content-crc64": "VDVdRbv592o=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-82a3b1d4-48d8-1863-c6d4-6a9d416dd508/test-blob-3305569f-d0da-665b-2859-ee0d0bff9311",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DEE9D3FB6B0\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:00:09 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 04:00:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "saHim/50MA3TNAlstXJpjcA1obw/yjiat/tw//q4P3YTmGB85RiuDINhbyxClJ/mj2ssSs9CDedpSOMDAzATG/STWB0R7aeoh5Q43lsMVyNcinCPjPWn0Yt5Ep00qghSTVM4rzuB1aHDg8I7CS6MXPDApnm/g4/\u002B64eSl9oKdNyL5pAH1Kfo2rXOywgybMdc7LascwSPksrEOcSz7z3HuQ/mryOehYhI2MvD8biGy37ANqokXQDY/FPGQprjNOt3BxL5TL2kvWctZJs4y6ERPm1F87mSolwODbLP10LtZKTgTOmmjX/BG3hD9vhloDCytAQtnkAx5WW26j8K1OUkQP/2V3\u002B4a7Dug9dBT6xjqG2CHSI\u002BwMZjr2aE8KJAt0eSHrb5bkix\u002BUlTPxpo75[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-82a3b1d4-48d8-1863-c6d4-6a9d416dd508?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:09 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1014219747",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}