{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7a847847-a834-c480-43fa-d732e3ae03ac?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:04 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D7606D06D27E\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:04 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7a847847-a834-c480-43fa-d732e3ae03ac/test-blob-6627aed6-a4ae-a66f-172c-4d035fbf13a0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:05 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "K/jrP\u002B0nC8PZ50JCfnlSHV7W6QJ6ZzCiNBvFc5K5K0ELgbsMI5OFr6JkjcZhLCed2S\u002BkiNYRJcTHSQvRYZcwH7sBN/29RfrLUTlfFtppQAj0KJliFKJr\u002BVv3RdqItE0LM20LYPUp35Q12Tecsg/pXQgC3Dn\u002BzgoYlT2hxgAgQp3rVOJtXt8TykkFLTtrzkZMDufRhdcUDWVi8sq3iBmTFJaasF4se/4o7xLw\u002BKDPrcf2VLcZTr3F10Z9C2wVW0Evchmk0B3oH5LoqZXEIxTEkkQDwDNhesXZ1NkXr3CSE5TQwIaHK9ypDjUkMKUnAbMyuHgnEZsOzvhTyvxE0HA[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7a847847-a834-c480-43fa-d732e3ae03ac/test-blob-6627aed6-a4ae-a66f-172c-4d035fbf13a0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:05 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D7606D13BC6B\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:04 GMT",
        "x-ms-blob-content-md5": "ubKqKE/UvowwSS5mkVvRQw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:49:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "K/jrP\u002B0nC8PZ50JCfnlSHV7W6QJ6ZzCiNBvFc5K5K0ELgbsMI5OFr6JkjcZhLCed2S\u002BkiNYRJcTHSQvRYZcwH7sBN/29RfrLUTlfFtppQAj0KJliFKJr\u002BVv3RdqItE0LM20LYPUp35Q12Tecsg/pXQgC3Dn\u002BzgoYlT2hxgAgQp3rVOJtXt8TykkFLTtrzkZMDufRhdcUDWVi8sq3iBmTFJaasF4se/4o7xLw\u002BKDPrcf2VLcZTr3F10Z9C2wVW0Evchmk0B3oH5LoqZXEIxTEkkQDwDNhesXZ1NkXr3CSE5TQwIaHK9ypDjUkMKUnAbMyuHgnEZsOzvhTyvxE0HAiVpUB9GOOPGZoWbL\u002BPEkfsdMl5fb3agH4wvKONGDgZD3FAtoQJgxQ[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7a847847-a834-c480-43fa-d732e3ae03ac/test-blob-6627aed6-a4ae-a66f-172c-4d035fbf13a0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:05 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ubKqKE/UvowwSS5mkVvRQw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D7606D13BC6B\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:49:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7a847847-a834-c480-43fa-d732e3ae03ac?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:05 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2016761533",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}