{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d93fa83d-61f6-96f9-3fe4-f41d9243d140?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:42:11 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EDA07B4BE8\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:42:11 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d93fa83d-61f6-96f9-3fe4-f41d9243d140/test-blob-5b02fd3a-7783-6196-d952-07c1166b3174",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:42:11 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "ce9dxwGFWxzehEmrE9msfrQPU2fIF4BINeBykm2ixPbsVIRQ9bk5tKHlff4t6k7/pYgNBhfJrFlvFZEgE8muPMBSv75VXIn61Z/G4pqCGkuSc\u002Bzllb7eIqgq4N8nGaHXN0A\u002B2yqQqUj\u002BEjB4A8q\u002B7fpGjp/cyaYCdJ0VK3up07z976tZQz8hAcmk54KNZR7ea/Pl4YoB\u002Bm6aO2aMen7MVD5zexQfZKm7JYzWOOEjdA5\u002BN7\u002BIxPIy/PQ9vwfYlIdL15JEGeoKvwZKKrv9K8GMdsZYDUK\u002BRJBMQX8f4qSh4pAFimFP31sjdHi4PZo2NNAysElAgIdEjZIC99dr6txhqEcr96BgPJZrNJnKBQb1Fgyu7TFaYGEJwf3PTOiDt[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d93fa83d-61f6-96f9-3fe4-f41d9243d140?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:42:11 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "617042355",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}