{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-207f0c0a-0b66-5aa6-03b4-43a010b5fc45?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:13:11 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E993B5E56A\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:13:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-207f0c0a-0b66-5aa6-03b4-43a010b5fc45/test-blob-8da84097-0d31-dfd9-53e3-dc38c27fabd4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cool",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:13:11 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "51Cbx2iMuI2Sc9Krh6jzI7h/j26HP8D3bm0cqYYIkzlTzyhWha9fC4ca\u002Br07Lleq77mAQ/A9TKiQo1j7bw8HiuCZV7eAnJ0JH4PmbEQDvEAVcbrNh1BJFYOAxuJWZJt4Em/dotagKlIcdiNsV99jjOYX5v5UOgKQUEE0ANW6srvnblrUJRpqdEdnsREs3L6jHTr7Pn6dI9hsTVGUayp8YcRohOmFjmfLrXG27YjxY3ODkeObvnQ9SkqBaNjI1gkd6k9MxFfVHY7SL5EM5zZQeuneENpH4KJQKzqeBCaOA9ZnmQI5pZ8brXNUyY7iMGMTMe3u6sUv1gqt/JkdNhhoRCy6pU40FtVKwmJm8hcTbfrXi9M5nxkROML4i6gF/Xdb7IRiJ4sU3xoXpCdiyePymY\u002BeRqt[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-207f0c0a-0b66-5aa6-03b4-43a010b5fc45/test-blob-8da84097-0d31-dfd9-53e3-dc38c27fabd4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:13:12 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "G0VREOWEfCIQpJVSsNx0eg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E993CBEC8B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:13:12 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Wed, 17 Feb 2021 02:13:12 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:13:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:13:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:13:12.1753227Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-207f0c0a-0b66-5aa6-03b4-43a010b5fc45?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:13:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1492634817",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}