{
  "Entries": [
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-e28f40b9-27fd-8434-0b51-6d877b5441c4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sun, 05 Apr 2020 23:24:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D9B87E62A664\u0022",
        "Last-Modified": "Sun, 05 Apr 2020 23:24:31 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-e28f40b9-27fd-8434-0b51-6d877b5441c4/test-blob-fcce226d-9c52-ccd5-50c9-8c795b962ed4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sun, 05 Apr 2020 23:24:32 GMT",
        "x-ms-tags": "tagKey0=tagValue0\u0026tagKey1=tagValue1",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "V4QcMs82536ppLvkI6BGnE0KMDNo/ZfNcri5ExfbzyHX9fj7nATxNjtPU63g8Kmwg\u002B8rUGb7a1rtT78XfNNnztWaDC6nSgBJGfn4Garp7YIPCZAnr3663ImdDk1E2rln6ITYRuN6CDju4jdtA1KwA2I9CHNDPx5W3zCkCTyzBD4/kDAlEaaelABXOcxHTdk37QrrBtJGI6lmgmaz1f/8O974LXIhi/K7n3Nz6wZRD5JWbRwxyP1s\u002BWyHv45A6r4BW/3uTh9nFWIYL2de0jijFHPTXGjiynLgjDQFmsxje7S0co8IY8Bz71e6GZiWDSY05KobbI5WHpGLDsHqYXuWtLSyqWCom7CyYGwQKLHZSn4O0bUhRw8mXlP\u[...]
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-e28f40b9-27fd-8434-0b51-6d877b5441c4/test-blob-fcce226d-9c52-ccd5-50c9-8c795b962ed4?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 05 Apr 2020 23:24:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E"
      ]
    },
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-e28f40b9-27fd-8434-0b51-6d877b5441c4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 05 Apr 2020 23:24:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "294358670",
    "Storage_TestConfigDefault": "ProductionTenant\nblobindex1\nU2FuaXRpemVk\nhttps://blobindex1.blob.core.windows.net\nhttps://blobindex1.file.core.windows.net\nhttps://blobindex1.queue.core.windows.net\nhttps://blobindex1.table.core.windows.net\n\n\n\n\nhttps://blobindex1-secondary.blob.core.windows.net\nhttps://blobindex1-secondary.file.core.windows.net\nhttps://blobindex1-secondary.queue.core.windows.net\nhttps://blobindex1-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://blobindex1.blob.core.windows.net/;QueueEndpoint=https://blobindex1.queue.core.windows.net/;FileEndpoint=https://blobindex1.file.core.windows.net/;BlobSecondaryEndpoint=https://blobindex1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blobindex1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blobindex1-secondary.file.core.windows.net/;AccountName=blobindex1;AccountKey=Sanitized\nseanscope1"
  }
}