{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5ba7bbb1-db87-258d-82f7-ed70211e47c6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3757451B100\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:54:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5ba7bbb1-db87-258d-82f7-ed70211e47c6/test-blob-e706500c-f473-915f-c86a-ad0f0c52d5d2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "9ygYCvbcoGVFWLTp7kZ62EHaLv+oGFFit5aivGos/kxsX7WavCv9L6+gohtAdqOB79TNMiPWKt7WtlNgOuP7GVlofI+R3xsW3P9QB3U2IkDzIcyVXssoljXWxAbYnfXLpYnB1/kU7w+5t1YkhiJpoJMSbRgWZbqOP+ZZuhsVPT4KhGLrdUtH3jG83Kd1BBATbSRzxjDctEDPM5gTujX0o3kXGgHAfSpIy47mWYkTGTvWRkz3oncOLc8iHEGyMyT8yDgtXeoOU/D5Kvqi9Vq2uxpcPXPo/QECCewynmDolZdp6pFR5rtRx/Nc/nd8azd0a2AnVvawE8s2KlP927SPEJVjOAvJZNVeC3V/i/6KhZ20[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5ba7bbb1-db87-258d-82f7-ed70211e47c6/test-blob-e706500c-f473-915f-c86a-ad0f0c52d5d2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:29 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "9yfi9/TvpwJS9BoKb0dcAA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D8D375745D7D89\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:54:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:54:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:54:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T18:54:28.9853598Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5ba7bbb1-db87-258d-82f7-ed70211e47c6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:29 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1571396808",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}