{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9ee3e07e-e4c3-d537-ef51-4e174bb5500f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:30 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B62AA7BEC\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:30 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9ee3e07e-e4c3-d537-ef51-4e174bb5500f/test-blob-4a5941d1-f850-1b90-c66d-881368e22cd4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:31 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "4WCha5H4KYlN2diSxIq7JIpgRQlbBr7df0tOz2x/oeMES8y5KVxd2RjP/Hcg/Vc8smOJB50jeNuixOxFqVodzTf0jXi9AvstA2vxiwlHvYL0Eh0I9plG4dLwF2VvFy\u002b9si4/LG/efq9oWwMxMezRWgZqUZc9FdedraylzOqWvew8M9naB5ESFZRtoJuWFa/mHrxeBcWYgJxXoX7DObHF0Z0X9P0S91N1VzwD0HU8B5f8v60uN7gmpLM9g2YSTtzip879fiGy0ydp6a6JlLAnGpnnx3kDl5nl8VBK1XTtYghgISimPol2SuyGxE4KnA8DFWjMK4di3hA0GIzQZ/2zfIalKXOHgdwQcH2NfdJ[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9ee3e07e-e4c3-d537-ef51-4e174bb5500f/test-blob-4a5941d1-f850-1b90-c66d-881368e22cd4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:31 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "JgMjxU5uqkd0RKCSEZ39Pg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5B62B0D870\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:06:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9ee3e07e-e4c3-d537-ef51-4e174bb5500f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:31 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "191527464",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}