{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-fa1c3404-20c7-10b8-614a-a23afe08a62c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:07 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEE9C761AD0\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:00:07 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-fa1c3404-20c7-10b8-614a-a23afe08a62c/test-blob-8797fb9a-7dbd-2285-0e0c-2fa6c2c08764",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:07 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "02sABpde0ssiNYQ5uZKz40wuXY1m8Hq8c084TbTNl7DGxL/w5s\u002BXOynLZIf4S2h7WExalGP5/uLxQ5NHJYQWVZ3Tc/XTw/x8liJjmovyxCjnvfRocwNNzMXc/6I8UBWktQ/pJNdzqJVP3f1AlWNX/n9rYGiPreKZhacv9sNaQEYMvuR7CJ9QcxRfGZUGDDZhhQAj0fCtFActUJ8wQ7HR9J23NNZ/2/bfGuxTMJRMk3hxzXHDNm9WXqncTrgAIDBjjST4T9df4qkKQ7YDWuRz4LwmvnY/Dr4tYNYtoow\u002B3/m876NvU0SgEerIufO4UgTFaW772WG6I35myu4BMkAczGS9R2pABIx3ha[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-fa1c3404-20c7-10b8-614a-a23afe08a62c/test-blob-8797fb9a-7dbd-2285-0e0c-2fa6c2c08764",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:07 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DEE9C831D3C\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:00:07 GMT",
        "x-ms-blob-content-md5": "gmB/Ih9QiwIrjRczKEnfkA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 04:00:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "02sABpde0ssiNYQ5uZKz40wuXY1m8Hq8c084TbTNl7DGxL/w5s\u002BXOynLZIf4S2h7WExalGP5/uLxQ5NHJYQWVZ3Tc/XTw/x8liJjmovyxCjnvfRocwNNzMXc/6I8UBWktQ/pJNdzqJVP3f1AlWNX/n9rYGiPreKZhacv9sNaQEYMvuR7CJ9QcxRfGZUGDDZhhQAj0fCtFActUJ8wQ7HR9J23NNZ/2/bfGuxTMJRMk3hxzXHDNm9WXqncTrgAIDBjjST4T9df4qkKQ7YDWuRz4LwmvnY/Dr4tYNYtoow\u002B3/m876NvU0SgEerIufO4UgTFaW772WG6I35myu4BMkAczGS9R2pABIx3hayLd1XLdQ7RZzkeQgWXAsskCYlWn9\u002Bqq\u002ByO\u002BwuahWThh[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-fa1c3404-20c7-10b8-614a-a23afe08a62c/test-blob-8797fb9a-7dbd-2285-0e0c-2fa6c2c08764",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:07 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "gmB/Ih9QiwIrjRczKEnfkA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DEE9C831D3C\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:00:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 04:00:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-fa1c3404-20c7-10b8-614a-a23afe08a62c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:07 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1158192549",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}