{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4cff5568-9d5f-b1e9-ca5c-62f62ec17ed6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:41 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B6909AF3A\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:41 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4cff5568-9d5f-b1e9-ca5c-62f62ec17ed6/test-blob-976a6e87-2f17-8c8a-1ac2-0e0f1ddcb138?comp=block\u0026blockid=QmxvY2tfMDAwMDA%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:41 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "r6eAgENeUhA2vqVlOYx86i7gigWQjvzxsS1UkpFsei751lGfm\u002bmOwjK4j[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4cff5568-9d5f-b1e9-ca5c-62f62ec17ed6/test-blob-976a6e87-2f17-8c8a-1ac2-0e0f1ddcb138?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:41 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": [
        "\u003cBlockList\u003e\r\n",
        "  \u003cUncommitted\u003eQmxvY2tfMDAwMDA=\u003c/Uncommitted\u003e\r\n",
        "\u003c/BlockList\u003e"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "HzlC9HG3KlqyFIGsFKDWfQ==",
        "ETag": "\u00220x8D70A5B690F48AC\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4cff5568-9d5f-b1e9-ca5c-62f62ec17ed6/test-blob-976a6e87-2f17-8c8a-1ac2-0e0f1ddcb138",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:41 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5B690F48AC\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:06:41 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:06:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "r6eAgENeUhA2vqVlOYx86i7gigWQjvzxsS1UkpFsei751lGfm\u002bmOwjK4jS4dEJdKcQYw5bFEuiCqj88VCsB/ykR2bGM63U5FUcjS1wHO1KGWCiCKO5R9tRsw9QwaebhyOcLqp6QzD5S465TpceIe3Lstf/\u002bf9I\u002bv\u002bbZHCedBKtcPYJ4/5Cz8YvuL0k8Ak0M5EhlR7Pq40kQzOq7t7AWsdsG82RFD3/iOMRwEFCI/rmVzDvfO7z7dV41aC6l\u002bDnb13luORLoy9TIgw7retL4h84tIet0O3oeD3oKD6NNODyOlDjXGsWqrQRjFrSuD/6LPOBcdNpSY5wDTC2U3rg1e0rSXOKaIWkIhnTjFSDBb/9/gs7C7MdmODSc08qUEc5ILZtt368f8Rt7V/Jlb[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4cff5568-9d5f-b1e9-ca5c-62f62ec17ed6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:06:41 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "913681591",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}