{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f5588ccf-ddad-54a0-6a79-02eed854a01d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D375771B28E1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:54:33 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f5588ccf-ddad-54a0-6a79-02eed854a01d/test-blob-093be061-d450-76ec-22ea-19dcc60be16b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:33 GMT",
        "x-ms-tags": "tagKey0=tagValue0\u0026tagKey1=tagValue1",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": "0tU57l7OGJtfcFAxvJLyo1U9M5LDntzh/n\u002BvGS7Zb127MAWl/416k8igqd\u002BDurmQ\u002BHaHidhOqDP5V\u002B/eHv5shgHydoyMTKPIwp/KI/T8XkPFHyG4UeaFbIfRrKednHXJMyPekEQtA6zSvsY4g4U//fmsGf7dtDQabQkEu6D8KyYqAfDQHc7/mBx15ZMfTOgCka6t8YJ37H7vwyI6KEgM1ZOfDoKVb98rrIDiZ86g\u002BiAhAinxTzqjsxVx4VmrxW/UaRAAfz5mbSLOgUQBlISvTsgCGSYfGoZZ/FptI42GgOcRDv6\u002BoHvhu5UGIs31oh6QwpKQqaxJtE6Kp4Pj\u002BEmVSAFd8IaG8a1NIF2RGPi4Y1o83GH79dY6yFmvNPn3/sJLcdrLmLGXCtHlQolOt5xW0UMppxzomlIqIigt[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f5588ccf-ddad-54a0-6a79-02eed854a01d/test-blob-093be061-d450-76ec-22ea-19dcc60be16b?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EtagKey0\u003C/Key\u003E\u003CValue\u003EtagValue0\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EtagKey1\u003C/Key\u003E\u003CValue\u003EtagValue1\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f5588ccf-ddad-54a0-6a79-02eed854a01d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:34 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1203017138",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}