{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-98e58dc0-c179-bb45-8694-1ba994fba6c0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D37564CE5E5A\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:54:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-98e58dc0-c179-bb45-8694-1ba994fba6c0/test-blob-dfbcf8e3-1809-82ef-aa8f-d958ebcf0c9e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cool",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "33q1bswBDHEIGjEArcT2NoBakrcr1ZfcNqv5JO6G9SzW8UDk0zKu4utK1+7m7tXlmKPYkT1Vcwnj2TchCOeCgiUEKruEEmNOrK/L4P6o9UfVE4xLrmPvgX02APn6jdoDyFXJ4cQaYYU/ieSNiZMKO+TvS/RbNtPBFag+TRJpUx/VyBep3xODu7IGCyR+YvfpLMUVC0HlqJGBB8wb3BRz1jXFt8F8YVvQbJBCVCuvQrOwVCFNU0jd7yCFKNhGZ9+dkzXuuas2bctpRZ+wo1Nm0sQZa4fyJYLt6Meh9jmDiQSxpMH2wIkIeeZW4w6pLEvMHlUTLfxXqm2yAdHjlXaS5bua//+ScBE7EPGgnEJ0RLt7[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-98e58dc0-c179-bb45-8694-1ba994fba6c0/test-blob-dfbcf8e3-1809-82ef-aa8f-d958ebcf0c9e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sgQzfK31SnD5ToopfliNSQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D8D37564D93C88\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:54:02 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Wed, 17 Feb 2021 18:54:02 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 18:54:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 18:54:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T18:54:02.951796Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-98e58dc0-c179-bb45-8694-1ba994fba6c0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:03 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2028649238",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}