{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b7a285c5-6e82-bbf4-181b-73c46d2f8a9b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:59:33 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEE87DCF256\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:59:33 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b7a285c5-6e82-bbf4-181b-73c46d2f8a9b/test-blob-dd5e4a96-cf2c-127c-815d-e79837377a9d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:59:33 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "iA3v2/ZhO6iKq1b0RPIAs6VqJvUdtTkGFCeoAs/1jZYy0Yk3LGjWNQ61UoB4h82OXTPyzRGEgNPT6cbOuTnYlR7AwnNpyIY9lPHnZ2K5jY1aGaScAr\u002BFrlG1Y0OhB3vU3L1huMVaJJSstDkgnRhxGVw5dJ\u002BVPJJeOxQhtGVDm4x1EoukV9TH//UP8E2GZBA5REnnaJLbP6AqA32xOHAvaBmsqoqMzMKHcnWqhUtF2NYD6G8bWzL5mdPrelRWFcaE34c02bmGrHeHX/YdMLlU5SqnrlAAFA3msxC3oVJtMFyuJaXEEP4cfTv3k/w822gZlpQpr2d2hMt6TSaozwslGi6abwsUkNQrij[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b7a285c5-6e82-bbf4-181b-73c46d2f8a9b/test-blob-dd5e4a96-cf2c-127c-815d-e79837377a9d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:59:33 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DEE87E9CA01\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:59:33 GMT",
        "x-ms-blob-content-md5": "FYzlytE3XBUhphoAGE153w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 03:59:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "iA3v2/ZhO6iKq1b0RPIAs6VqJvUdtTkGFCeoAs/1jZYy0Yk3LGjWNQ61UoB4h82OXTPyzRGEgNPT6cbOuTnYlR7AwnNpyIY9lPHnZ2K5jY1aGaScAr\u002BFrlG1Y0OhB3vU3L1huMVaJJSstDkgnRhxGVw5dJ\u002BVPJJeOxQhtGVDm4x1EoukV9TH//UP8E2GZBA5REnnaJLbP6AqA32xOHAvaBmsqoqMzMKHcnWqhUtF2NYD6G8bWzL5mdPrelRWFcaE34c02bmGrHeHX/YdMLlU5SqnrlAAFA3msxC3oVJtMFyuJaXEEP4cfTv3k/w822gZlpQpr2d2hMt6TSaozwslGi6abwsUkNQrijEUCIAQqteonQq9Q4H1OKHaScPYc64w0nnNomxdBQbA/SQ1YXtKaaJPADEB[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b7a285c5-6e82-bbf4-181b-73c46d2f8a9b/test-blob-dd5e4a96-cf2c-127c-815d-e79837377a9d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:59:33 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "FYzlytE3XBUhphoAGE153w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DEE87E9CA01\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:59:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 03:59:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-b7a285c5-6e82-bbf4-181b-73c46d2f8a9b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:59:33 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "517768167",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}