{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7f0ca1a6-262b-c4b3-d34b-2337e9ada169?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:02 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D7606BD99325\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:02 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7f0ca1a6-262b-c4b3-d34b-2337e9ada169/test-blob-8403ea7b-643a-a197-6279-1b0ad7636b30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "Z3JH3EuuqJwFDoAJpRIcEvAt1W6gXnaMdcCQR9NHKfZ9L8QEClPVzEFmfyzjjvtQXAkZqY78kAn8u2eKHWHJveSJjHVNGAedWAgtOd9JqOfFQOrKLn9ogZ\u002B7B07sSq/gncFIWQKFAkMBfFGFz1YpshJ/xdx2/49kIQrWkhC5sA1YTJseAU/lQD6nyLEu4rFIkVU7bIXTap4x4zj3r3AySMtELYK7CrHDmoSezjbeNj5ZjQC7fUSHheL97R0X7pDOdIDm6bUujYajeNIANZtnUq36nSFvdsqHvKegvR2Uq6z00Fq2\u002BEyIKv95GARyh09GlppvHVBvXv21Xi0NjtBpDswlDGVBsVphcX[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7f0ca1a6-262b-c4b3-d34b-2337e9ada169/test-blob-8403ea7b-643a-a197-6279-1b0ad7636b30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:03 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D7606BE713B9\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:02 GMT",
        "x-ms-blob-content-md5": "fZZjCCPdluvG0446opIogw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:49:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "Z3JH3EuuqJwFDoAJpRIcEvAt1W6gXnaMdcCQR9NHKfZ9L8QEClPVzEFmfyzjjvtQXAkZqY78kAn8u2eKHWHJveSJjHVNGAedWAgtOd9JqOfFQOrKLn9ogZ\u002B7B07sSq/gncFIWQKFAkMBfFGFz1YpshJ/xdx2/49kIQrWkhC5sA1YTJseAU/lQD6nyLEu4rFIkVU7bIXTap4x4zj3r3AySMtELYK7CrHDmoSezjbeNj5ZjQC7fUSHheL97R0X7pDOdIDm6bUujYajeNIANZtnUq36nSFvdsqHvKegvR2Uq6z00Fq2\u002BEyIKv95GARyh09GlppvHVBvXv21Xi0NjtBpDswlDGVBsVphcXMi9l7GFDVXWSaCJY5chHFcAJkfepwvDwo3THrqBeRADavcTGef70n3tTSp[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7f0ca1a6-262b-c4b3-d34b-2337e9ada169/test-blob-8403ea7b-643a-a197-6279-1b0ad7636b30",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "fZZjCCPdluvG0446opIogw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D7606BE713B9\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:02 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:49:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7f0ca1a6-262b-c4b3-d34b-2337e9ada169?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2000080306",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}