{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-0b787703-919e-1899-aed1-8db75df0d7bd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:08:43 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C149634704E2\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:08:43 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-0b787703-919e-1899-aed1-8db75df0d7bd/test-blob-d2e153af-e262-2acb-9fe3-ca6631c43c7f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:08:44 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "2uMXLqSL3xitZFItFr7Op0zmJYhNJEa9YyCt\u002Bo1vuX/0Qj/igr7UJHPIJf2PnRThFSMaS56zMrWcWcqE3eWLPqrTONR\u002B6ySOEQEVhP9JLcYLzORpVG7gQQ\u002BJRSjzUEaNPedSvGRAYin/izmdna22UysEeBEBIek88vfE9aX7msC7iEcX9nFhy2m6ask0Q6Nh0vL879g0jBv\u002BFspse2yEA/F44RVmnl26oqynRrYfB65UYiKz/qrohvsrGd\u002Bn9E/9NmbXu2KN\u002BzOVQkwrjEVk3g8bGBlJ0AVGkFsaOoV9E65cqhBQSEtMx2fuHrxdvfm2xzrQi9s2s2VhkC[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-0b787703-919e-1899-aed1-8db75df0d7bd/test-blob-d2e153af-e262-2acb-9fe3-ca6631c43c7f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:08:44 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sRRUg\u002B0cA9y/Rt71hZw6qg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C149635434DD\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:08:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 21:08:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-0b787703-919e-1899-aed1-8db75df0d7bd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:08:44 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1381321379",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}