{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-29d86586-7652-a509-5e57-41a2ccbcd193?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:59:24 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEE82C23079\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:59:24 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-29d86586-7652-a509-5e57-41a2ccbcd193/test-blob-ccf74f56-8f38-9a68-c891-18379f345bfd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 03:59:24 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "n2cNewosv5Fmojdk9y2DXIp7ffpq66EE6BfcQbF7QlJK99BcphVRKo9mZZZYBKKbDrusI7dhkrPFCJLyUH7f61/kGQBcJ7Z1KlNrBIYLq\u002BR1QDL2zh6b6WUclp2CXtkRhno2dOqhPucFNvlk9o0tulytfQ9L6BxBSDCbQJEZ8sx5Wn0L1Tf60wFL8ZclNvPX7ttA1ODJxZ5e9Cu5Bv5W60Mt65sPIuQls6oO//eEHBE9w1G12B7rr5TfreALQcwD9QVU90tXx8z3GyE1u8Wm2tgZe0KtoBMlQTsHMHUDGXLeCwryMCTF5vyFvb38tfTOOdMI8cWJVlTyLrUQT5dX8wGvV7C7tKm0VJVGJ\u[...]
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-29d86586-7652-a509-5e57-41a2ccbcd193?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 03:59:24 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "609023880",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}