{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7bee7d73-04e2-207c-86e9-88865199b400?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 04 Apr 2020 01:41:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D83946B1E723\u0022",
        "Last-Modified": "Sat, 04 Apr 2020 01:41:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7bee7d73-04e2-207c-86e9-88865199b400/test-blob-8bab3dfc-4f75-b498-b39f-e47e5a222c43?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 04 Apr 2020 01:41:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "7BlEFHzrxBRKO1CtZozKU7t[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7bee7d73-04e2-207c-86e9-88865199b400/test-blob-8bab3dfc-4f75-b498-b39f-e47e5a222c43?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Sat, 04 Apr 2020 01:41:21 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CBlockList\u003E\u003CLatest\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D83946F23E29\u0022",
        "Last-Modified": "Sat, 04 Apr 2020 01:41:21 GMT",
        "x-ms-content-crc64": "uivte8ftxTs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7bee7d73-04e2-207c-86e9-88865199b400/test-blob-8bab3dfc-4f75-b498-b39f-e47e5a222c43",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 04 Apr 2020 01:41:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D83946F23E29\u0022",
        "Last-Modified": "Sat, 04 Apr 2020 01:41:21 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 04 Apr 2020 01:41:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "7BlEFHzrxBRKO1CtZozKU7tC9w7ZrVMjoaR7EDDKYa780uFUSJj2pfQ2O9v0cLC1tiyed1lf2T7FIHLXcLPkf9qhsZSrdgsjS1IZo3J3LzH0xVoDLOlUnPiijiclHzRBUbwBUr4cCUAheywHRjbMTfFA46tZ4FPwTBSbCOfj/Swd11G1dtxz17sZ4rG9TVXC1kE15TyJ53BpEAapgAFYPX0A6W7kF9cVzQvvP/6hM/6\u002B2DKmrhjvlPDhS2XVyVe6waUzvGTn3r9qIBcwmadyx90H66fOso9lEFV\u002BA8txPwS0NX5Zbnaa1/pzPI4AvvpIboSIzd6v6w4VzawPadr0\u002BOASfGQpGVlmbROtW3YBZFFaNZRH6HEmBElvQ6DKi24ffkOt7UKVH1QqIWDKApCYFGl[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7bee7d73-04e2-207c-86e9-88865199b400?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 04 Apr 2020 01:41:21 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1713501043",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}