{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-5694a7b0-427b-6493-d976-7062891469d9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 03:59:59 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEE97DDF3DF\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 03:59:59 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-5694a7b0-427b-6493-d976-7062891469d9/test-blob-91a54f6b-eb12-650c-48b5-49fef6aef997",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:00 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "gxq5zrHmwKpWcIXCemIoMNHfeRqbYEO8rv47Yz4tEc9iOHmcIty7hY/7O6JmSurljBgtFjXe\u002ByPX/R\u002Byq1xrKV62YEHoiw70JPSLoCWgVmQUVdYlAPuagz1WxSS9CdozjxFDr\u002Bmo/QEJOPJBU1r\u002BNqe7nlWFRihjHN0EksbqNxoaWBATXKZ7a1jVG8cJWC/iWI59AWqErUno35MMpGo6HwHXJ/tK6tkAQDL9sCphWsOtITo4bDWvlarHKn0Tb8ftmvzFMTE0mG20fcE4hv0fh4XPXoIvArLMJ5FQgr9c7NBrEBUumyiReYnNhO9zdw\u002BtqKP3QxBFvphJ\u002BQ[...]
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-5694a7b0-427b-6493-d976-7062891469d9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:00 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "821174811",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}