{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-05aaa128-8e45-862e-8ed7-7893bb178416?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Mar 2021 07:01:07 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8DFA47378EFEC\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 07:01:07 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-05aaa128-8e45-862e-8ed7-7893bb178416/test-blob-014a4654-deaa-1838-f5eb-b9a43aaa6ddb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Mar 2021 07:01:08 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "IBB\u002BAtzrgirYhurDDxn6b4S8L9Jotbw2gCKkqOoXpddiJHG0Xhq8acQgKCPzdQnb8UkgfnqbcmtUR4G5Rtk/weESYeqoRRBq/8YNSIyYQwsYybeg9yddx7IGXxaYAiLq4GdC4BQfMqs5tn60jSrfuwR2oX0in8q5tZk3ouX50f2kI2ckVmP3\u002BZYLZ0CpqTmHJ6QSIWGlyEGdiSp655DFP\u002BSAD2rCumWhf6jmFjeJEAxgsHpB57Cc/lomh8w4fBEFRSdcKJnPxWw\u002BcKK5vrIJFHgdGTcVhFcz5BAQnDKYaQKW4NAPLOhzkeoOA3cO40CnHHNUGmLa78HQKEOIvik6pQef[...]
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-05aaa128-8e45-862e-8ed7-7893bb178416?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 07:01:08 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1246292746",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope"
  }
}