{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a35cd3e7-52eb-615d-0621-15d1a44931ed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:09 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D7606F8344E1\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:08 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a35cd3e7-52eb-615d-0621-15d1a44931ed/test-blob-90035ebd-5a3b-1dd4-f105-5e31de534fbd?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:09 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "ETeeuX9yr4rGqkFNAWx9JSU[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a35cd3e7-52eb-615d-0621-15d1a44931ed/test-blob-90035ebd-5a3b-1dd4-f105-5e31de534fbd?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:09 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CBlockList\u003E\u003CUncommitted\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Uncommitted\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D7606FC48CD7\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:08 GMT",
        "x-ms-content-crc64": "VDVdRbv592o=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a35cd3e7-52eb-615d-0621-15d1a44931ed/test-blob-90035ebd-5a3b-1dd4-f105-5e31de534fbd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D7606FC48CD7\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:08 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:49:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "ETeeuX9yr4rGqkFNAWx9JSUd0J57DkNMEHG3eHTkE9rkdyZcj2wd95b2Mh7otnd3ZCN8uGBTBwLzUqgNujYW4ZdmaIpGIJW5/9kHhNslZFn6PxNQaFp5kW8jaD3DEDxf4FCGgU3sMUONw7mHS4Imzu5PEnojxXg97dcaI7dY9e\u002BcqKSLnuILDQ7PwqWg8UXt/JpPdP3BPBvXSZN20g6MNc3J6qPdmy8LQwVsUwLTnPuSLCcdCIHy22uJs1VOlTv/Q4zX1weiD2BrRDD4VekYBKyX46bnbi1M1w83VOjZvK7KbBB1\u002B8X07xzGscRQ\u002BoWCcK\u002BptrGUGNRfiwD4arp4kYeCLejYowjno/SJIL1p/NyJteQ4MAX8NVM7FnDE/IVhTh88zcydqc2nwRO9C/[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a35cd3e7-52eb-615d-0621-15d1a44931ed?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:09 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1489198391",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}