{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-98e58dc0-c179-bb45-8694-1ba994fba6c0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D7607F613B63\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-98e58dc0-c179-bb45-8694-1ba994fba6c0/test-blob-dfbcf8e3-1809-82ef-aa8f-d958ebcf0c9e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "33q1bswBDHEIGjEArcT2NoBakrcr1ZfcNqv5JO6G9SzW8UDk0zKu4utK1\u002B7m7tXlmKPYkT1Vcwnj2TchCOeCgiUEKruEEmNOrK/L4P6o9UfVE4xLrmPvgX02APn6jdoDyFXJ4cQaYYU/ieSNiZMKO\u002BTvS/RbNtPBFag\u002BTRJpUx/VyBep3xODu7IGCyR\u002BYvfpLMUVC0HlqJGBB8wb3BRz1jXFt8F8YVvQbJBCVCuvQrOwVCFNU0jd7yCFKNhGZ9\u002BdkzXuuas2bctpRZ\u002Bwo1Nm0sQZa4fyJYLt6Meh9jmDiQSxpMH2wIkIeeZW4w6pLEvMHlUTLfxXqm2yAd[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-98e58dc0-c179-bb45-8694-1ba994fba6c0/test-blob-dfbcf8e3-1809-82ef-aa8f-d958ebcf0c9e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sgQzfK31SnD5ToopfliNSQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D7607F6F9597\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:35 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Thu, 02 Apr 2020 23:49:35 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:49:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-98e58dc0-c179-bb45-8694-1ba994fba6c0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2028649238",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}