{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-207f0c0a-0b66-5aa6-03b4-43a010b5fc45?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D7606A589A27\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:48:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-207f0c0a-0b66-5aa6-03b4-43a010b5fc45/test-blob-8da84097-0d31-dfd9-53e3-dc38c27fabd4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "51Cbx2iMuI2Sc9Krh6jzI7h/j26HP8D3bm0cqYYIkzlTzyhWha9fC4ca\u002Br07Lleq77mAQ/A9TKiQo1j7bw8HiuCZV7eAnJ0JH4PmbEQDvEAVcbrNh1BJFYOAxuJWZJt4Em/dotagKlIcdiNsV99jjOYX5v5UOgKQUEE0ANW6srvnblrUJRpqdEdnsREs3L6jHTr7Pn6dI9hsTVGUayp8YcRohOmFjmfLrXG27YjxY3ODkeObvnQ9SkqBaNjI1gkd6k9MxFfVHY7SL5EM5zZQeuneENpH4KJQKzqeBCaOA9ZnmQI5pZ8brXNUyY7iMGMTMe3u6sUv1gqt/JkdNhhoRCy6pU40FtVKwmJm8hc[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-207f0c0a-0b66-5aa6-03b4-43a010b5fc45/test-blob-8da84097-0d31-dfd9-53e3-dc38c27fabd4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "G0VREOWEfCIQpJVSsNx0eg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D7606A689258\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:48:59 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Thu, 02 Apr 2020 23:48:59 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:48:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-207f0c0a-0b66-5aa6-03b4-43a010b5fc45?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1492634817",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}