{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-fb20533c-b552-eb99-364b-6de9ddb98400?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Mar 2021 06:44:11 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8DFA2156F975B\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 06:44:11 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-fb20533c-b552-eb99-364b-6de9ddb98400/test-blob-fb2b6b29-3c98-cbd0-d232-7fdde1169e42",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Mar 2021 06:44:11 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "q0MJ5WbLOX6NqnHvWwZvZswOWeHIpJGjJ4fnlDxYlymS0887DMReXjKtbu3L4XDMwxkR0ry8eQayZr3e46RBNBNHXIc2M1oHsPuuGzaj10YXG9EjRsVs1VnIiaUGf3qOaznag4TolZC\u002BCSHADl3QDo52x8jTHe1O24cubqm0ATGBIK/8yFTCL4VAZT2jq8f793oXkLixu05LjKj9uSbmCQjwP\u002B6t1EY6tJdCkriwqi\u002B/MnYunXF5z2RhsDyrxXVfWls0smzZTiM03NsgbymVmuF4PYevuGyXd2\u002BJTCMKju8i4zddfPjD5uRT\u002BcGVWWA7zBVaM4ftr6LunTv8TwL[...]
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-fb20533c-b552-eb99-364b-6de9ddb98400?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 06:44:11 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1109765602",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope"
  }
}