{
  "Entries": [
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-b7a285c5-6e82-bbf4-181b-73c46d2f8a9b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D1C742A68312\u0022",
        "Last-Modified": "Thu, 26 Mar 2020 20:50:04 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-b7a285c5-6e82-bbf4-181b-73c46d2f8a9b/test-blob-dd5e4a96-cf2c-127c-815d-e79837377a9d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "iA3v2/ZhO6iKq1b0RPIAs6VqJvUdtTkGFCeoAs/1jZYy0Yk3LGjWNQ61UoB4h82OXTPyzRGEgNPT6cbOuTnYlR7AwnNpyIY9lPHnZ2K5jY1aGaScAr\u002BFrlG1Y0OhB3vU3L1huMVaJJSstDkgnRhxGVw5dJ\u002BVPJJeOxQhtGVDm4x1EoukV9TH//UP8E2GZBA5REnnaJLbP6AqA32xOHAvaBmsqoqMzMKHcnWqhUtF2NYD6G8bWzL5mdPrelRWFcaE34c02bmGrHeHX/YdMLlU5SqnrlAAFA3msxC3oVJtMFyuJaXEEP4cfTv3k/w822gZlpQpr2d2hMt6TSaozwslGi6abwsUkNQrij[...]
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-b7a285c5-6e82-bbf4-181b-73c46d2f8a9b/test-blob-dd5e4a96-cf2c-127c-815d-e79837377a9d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "FYzlytE3XBUhphoAGE153w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D1C742AB849C\u0022",
        "Last-Modified": "Thu, 26 Mar 2020 20:50:04 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 26 Mar 2020 20:50:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "iA3v2/ZhO6iKq1b0RPIAs6VqJvUdtTkGFCeoAs/1jZYy0Yk3LGjWNQ61UoB4h82OXTPyzRGEgNPT6cbOuTnYlR7AwnNpyIY9lPHnZ2K5jY1aGaScAr\u002BFrlG1Y0OhB3vU3L1huMVaJJSstDkgnRhxGVw5dJ\u002BVPJJeOxQhtGVDm4x1EoukV9TH//UP8E2GZBA5REnnaJLbP6AqA32xOHAvaBmsqoqMzMKHcnWqhUtF2NYD6G8bWzL5mdPrelRWFcaE34c02bmGrHeHX/YdMLlU5SqnrlAAFA3msxC3oVJtMFyuJaXEEP4cfTv3k/w822gZlpQpr2d2hMt6TSaozwslGi6abwsUkNQrijEUCIAQqteonQq9Q4H1OKHaScPYc64w0nnNomxdBQbA/SQ1YXtKaaJPADEB[...]
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-b7a285c5-6e82-bbf4-181b-73c46d2f8a9b/test-blob-dd5e4a96-cf2c-127c-815d-e79837377a9d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "FYzlytE3XBUhphoAGE153w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D1C742AB849C\u0022",
        "Last-Modified": "Thu, 26 Mar 2020 20:50:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 26 Mar 2020 20:50:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-b7a285c5-6e82-bbf4-181b-73c46d2f8a9b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "517768167",
    "Storage_TestConfigDefault": "ProductionTenant\nseandevtest\nU2FuaXRpemVk\nhttps://seandevtest.blob.core.windows.net\nhttps://seandevtest.file.core.windows.net\nhttps://seandevtest.queue.core.windows.net\nhttps://seandevtest.table.core.windows.net\n\n\n\n\nhttps://seandevtest-secondary.blob.core.windows.net\nhttps://seandevtest-secondary.file.core.windows.net\nhttps://seandevtest-secondary.queue.core.windows.net\nhttps://seandevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seandevtest.blob.core.windows.net/;QueueEndpoint=https://seandevtest.queue.core.windows.net/;FileEndpoint=https://seandevtest.file.core.windows.net/;BlobSecondaryEndpoint=https://seandevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seandevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seandevtest-secondary.file.core.windows.net/;AccountName=seandevtest;AccountKey=Sanitized\nseanscope1"
  }
}