{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-60f8d0bb-e742-f204-bfde-f5fd5f9cde0b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:13:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2E9A906E19D\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:13:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-60f8d0bb-e742-f204-bfde-f5fd5f9cde0b/test-blob-d1ae07e8-0806-56fc-106f-fcece4867b3b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:13:47 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "c4XPUGx0iNggK0PDffjxv0wDlW/VmGkkE9lZE0zyXMJerFMR1LqTc3/VsdrFOdkXfTyf4PEMZdscqzyTG3WLLc\u002BAZNCk3\u002BqScCHwAOaOXtr/QZUQU3vQUUd49Sl9/1gJSYQLRNQJc51RDXDPHGX0jUxik9nfe9pTsBOJLOrBFHDJ5rZigxoF9s73vkULADXhg2fdGmx\u002BKs2pt5TBf0azkPj/BjavkgoyXJ0L572USK/dp6mC5PoESrzouMuFRHaHRC5NC/r/MvFdq73Pc0IQFW/k49idMKv\u002B\u002B7t5xtk\u002BrBgmg6OORz213nW3JTk9NNd516NcoWGe6RSCTg8\u002BhWsYHv6lqe\u002Bfgc0yLwRi5gtywcfk/\u002B814gu2h5qP[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-60f8d0bb-e742-f204-bfde-f5fd5f9cde0b/test-blob-d1ae07e8-0806-56fc-106f-fcece4867b3b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:13:47 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "/MWTwp6Om70MYXVyhobFIg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E9A913B3C9\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:13:47 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:13:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:13:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:13:47.8778825Z"
      },
      "ResponseBody": "c4XPUGx0iNggK0PDffjxv0wDlW/VmGkkE9lZE0zyXMJerFMR1LqTc3/VsdrFOdkXfTyf4PEMZdscqzyTG3WLLc\u002BAZNCk3\u002BqScCHwAOaOXtr/QZUQU3vQUUd49Sl9/1gJSYQLRNQJc51RDXDPHGX0jUxik9nfe9pTsBOJLOrBFHDJ5rZigxoF9s73vkULADXhg2fdGmx\u002BKs2pt5TBf0azkPj/BjavkgoyXJ0L572USK/dp6mC5PoESrzouMuFRHaHRC5NC/r/MvFdq73Pc0IQFW/k49idMKv\u002B\u002B7t5xtk\u002BrBgmg6OORz213nW3JTk9NNd516NcoWGe6RSCTg8\u002BhWsYHv6lqe\u002Bfgc0yLwRi5gtywcfk/\u002B814gu2h5qPC/gtd1kJnwY6l4v[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-60f8d0bb-e742-f204-bfde-f5fd5f9cde0b/test-blob-d1ae07e8-0806-56fc-106f-fcece4867b3b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:13:47 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "/MWTwp6Om70MYXVyhobFIg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2E9A913B3C9\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:13:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:13:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 17 Feb 2021 02:13:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:13:47.8778825Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-60f8d0bb-e742-f204-bfde-f5fd5f9cde0b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:13:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "270164736",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}