{
  "Entries": [
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-3a67c3a0-6e9e-3ec7-53e7-bde72f25dd73?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:34 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D75349AA3ADADB\u0022",
        "Last-Modified": "Thu, 17 Oct 2019 21:33:34 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-3a67c3a0-6e9e-3ec7-53e7-bde72f25dd73/test-blob-b1228f42-67eb-e995-127f-5d1b8fbfa5c0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "H7flSBmUR1lPn/4hVBXpuS1LxQhvFhuaUSM2rEXneAMNoXxGPQx5rkjJYktodJT9lqPtRPqcUQibS/f2XZoUZyf7E7KYo3wh0RfAprTPMt2OORah\u002BjMIcFB0qvIVg1CttPskbGDhZPIny3Lj3KpTzBkZZySEcmzz86JiJPiKDE7GEvG5q8V8rdUjei7BJJSlId7Y\u002BxssKUKOMHm\u002Bf0D6nL8kHcq4mSBTnLpOYPg9Ms4OvAMZsRAymemvK3pMvi6VKd1vnAfJ7Ie\u002BhV5h3chJUf6qr8I84Ouv8oPhCW6lB96LuTYazpXGRM98Wyyx0LsgZdl8oQ5rWEnyv6qE6OMYGH6A[...]
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-3a67c3a0-6e9e-3ec7-53e7-bde72f25dd73/test-blob-b1228f42-67eb-e995-127f-5d1b8fbfa5c0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:35 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D75349AA3FD6F9\u0022",
        "Last-Modified": "Thu, 17 Oct 2019 21:33:35 GMT",
        "x-ms-blob-content-md5": "ad2C9R1MJuTJWnHrCIyOlQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 17 Oct 2019 21:33:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": "H7flSBmUR1lPn/4hVBXpuS1LxQhvFhuaUSM2rEXneAMNoXxGPQx5rkjJYktodJT9lqPtRPqcUQibS/f2XZoUZyf7E7KYo3wh0RfAprTPMt2OORah\u002BjMIcFB0qvIVg1CttPskbGDhZPIny3Lj3KpTzBkZZySEcmzz86JiJPiKDE7GEvG5q8V8rdUjei7BJJSlId7Y\u002BxssKUKOMHm\u002Bf0D6nL8kHcq4mSBTnLpOYPg9Ms4OvAMZsRAymemvK3pMvi6VKd1vnAfJ7Ie\u002BhV5h3chJUf6qr8I84Ouv8oPhCW6lB96LuTYazpXGRM98Wyyx0LsgZdl8oQ5rWEnyv6qE6OMYGH6A1SORL4No42vzwIS\u002B/SHHwKOUKWXPIGHtKA7rQlvrY0OuMfqYjjZWF[...]
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-3a67c3a0-6e9e-3ec7-53e7-bde72f25dd73/test-blob-b1228f42-67eb-e995-127f-5d1b8fbfa5c0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ad2C9R1MJuTJWnHrCIyOlQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D75349AA3FD6F9\u0022",
        "Last-Modified": "Thu, 17 Oct 2019 21:33:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 17 Oct 2019 21:33:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-3a67c3a0-6e9e-3ec7-53e7-bde72f25dd73?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1456118079",
    "Storage_TestConfigDefault": "ProductionTenant\njolovstorage\nU2FuaXRpemVk\nhttp://jolovstorage.blob.core.windows.net\nhttp://jolovstorage.file.core.windows.net\nhttp://jolovstorage.queue.core.windows.net\nhttp://jolovstorage.table.core.windows.net\n\n\n\n\nhttp://jolovstorage-secondary.blob.core.windows.net\n\nhttp://jolovstorage-secondary.queue.core.windows.net\nhttp://jolovstorage-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://jolovstorage.blob.core.windows.net/;QueueEndpoint=http://jolovstorage.queue.core.windows.net/;TableEndpoint=http://jolovstorage.table.core.windows.net/;FileEndpoint=http://jolovstorage.file.core.windows.net/;BlobSecondaryEndpoint=http://jolovstorage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://jolovstorage-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://jolovstorage-secondary.table.core.windows.net/;AccountName=jolovstorage;AccountKey=Sanitized"
  }
}