{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-12e6d47c-0883-b613-337f-160176c0f3bf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:08:38 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C149600BB287\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:08:38 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-12e6d47c-0883-b613-337f-160176c0f3bf/test-blob-5d596543-d7cd-34d7-20a0-6996cb048864",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:08:38 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "a1SBDp5DIdsOTEBA2ERgobx6y8h1tvSpkO2P/drgfWPvCgKRhiIk/0N9ToCWl1vbP8jZUDjA77Vf132wtCMBLc/dUM5CzxuaVcyE92dzEvmSs74RBywqLxpMMa6kdEogfCGxuUaNmW\u002BtPvprPPdO68WEHQFl7yWisiGz9Z5s9eGBZHtFwlmyBRlPZMgxv/Mj/kXoIFZJu437DgYl2aPRQEgZ6th8CClr0hjnFYtccfMukPdYhNWKN6jtSrNTjCt1fSOAGNQbpvUcfE4\u002BYaUBnp0S90isebxzjrIvjr51GEXscZho3FgfE\u002BoBOweHTNYD7KsWQJXjyQRmDIki7Bc3p2QIUu8Mm[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-12e6d47c-0883-b613-337f-160176c0f3bf?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:08:38 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanstagetest.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-12e6d47c-0883-b613-337f-160176c0f3bf\u0022\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Etest-blob-5d596543-d7cd-34d7-20a0-6996cb048864\u003C/Name\u003E\u003CProperties\u003E\u003CCreation-Time\u003EThu, 05 Mar 2020 21:08:38 GMT\u003C/Creation-Time\u003E\u003CLast-Modified\u003EThu, 05 Mar 2020 21:08:38 GMT\u003C/Last-Modified\u003E\u003CEtag\u003E0x8D7C1496019562F\u003C/Etag\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003CContent-Type\u003Eapplication/octet-stream\u003C/Content-Type\u003E\u003CContent-Encoding /\u003E\u003CContent-Language /\u003E\u003CContent-CRC64 /\u003E\u003CContent-MD5\u003ECKr\u002BHacvO/afrSVWRWRXuw==\u003C/Content-MD5\u003E\u003CCache-Control /\u003E\u003CContent-Disposition /\u003E\u003CBlobType\u003EBlockBlob\u003C/BlobType\u003E\u003CAccessTier\u003EHot\u003C/AccessTier\u003E\u003CAccessTierInferred\u003Etrue\u003C/AccessTierInferred\u003E\u003CLeaseStatus\u003Eunlocked\u003C/LeaseStatus\u003E\u003CLeaseState\u003Eavailable\u003C/LeaseState\u003E\u003CServerEncrypted\u003Etrue\u003C/ServerEncrypted\u003E\u003C/Properties\u003E\u003C/Blob\u003E\u003C/Blobs\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-12e6d47c-0883-b613-337f-160176c0f3bf/test-blob-5d596543-d7cd-34d7-20a0-6996cb048864",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:08:38 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C1496019562F\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:08:38 GMT",
        "x-ms-blob-content-md5": "CKr\u002BHacvO/afrSVWRWRXuw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 21:08:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "a1SBDp5DIdsOTEBA2ERgobx6y8h1tvSpkO2P/drgfWPvCgKRhiIk/0N9ToCWl1vbP8jZUDjA77Vf132wtCMBLc/dUM5CzxuaVcyE92dzEvmSs74RBywqLxpMMa6kdEogfCGxuUaNmW\u002BtPvprPPdO68WEHQFl7yWisiGz9Z5s9eGBZHtFwlmyBRlPZMgxv/Mj/kXoIFZJu437DgYl2aPRQEgZ6th8CClr0hjnFYtccfMukPdYhNWKN6jtSrNTjCt1fSOAGNQbpvUcfE4\u002BYaUBnp0S90isebxzjrIvjr51GEXscZho3FgfE\u002BoBOweHTNYD7KsWQJXjyQRmDIki7Bc3p2QIUu8MmcFE8\u002BReqj217ELcK6ISXtewCaiUAdDP/SfSypOjfvrm9lLq0U2whB[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-12e6d47c-0883-b613-337f-160176c0f3bf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:08:38 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "788571115",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}