{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-9ce81461-129e-a49a-320e-09bff725ec52?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:09 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D8391CA51490\u0022",
        "Last-Modified": "Sat, 04 Apr 2020 01:40:10 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-9ce81461-129e-a49a-320e-09bff725ec52/test-blob-c45d07de-af7b-e2fb-e017-c81d9afe1f48",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:10 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "bvGxKLu72HaVfmDSaAsKMAWcvX6M2ptd04dQYoZvolLHzbrU8VIgIi7mL/xPKHnUDZgY/kGhvJNVVFU0a3XwJtwOC5pQNj\u002Bze5pPpaufDaoNe1XuV6MQJREnfpz967e59gkgQRzfg9ZYZIKmURbotkeqJ\u002B8gAs45/eWJKbejtZDjlq\u002Bif8uNLvd\u002BlfIgatT7P8dVUsTImfM65kQ3Vlofta7yw7tmRTd7HPn3oWzcGJMRjurvTmPLG/28Z5iHVtidX\u002BBDLaYYlPmQ2TbL0PeGXs2xJcdwL2ZLJ6e\u002Bqd6f9MUhWUGMmOrs\u002BPnwX3QsAEoFNQnK1TEQL[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-9ce81461-129e-a49a-320e-09bff725ec52/test-blob-c45d07de-af7b-e2fb-e017-c81d9afe1f48",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:10 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "4bNh8xQmNioY6gy2R/IipA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D8391CB1B1CF\u0022",
        "Last-Modified": "Sat, 04 Apr 2020 01:40:10 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 04 Apr 2020 01:40:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "bvGxKLu72HaVfmDSaAsKMAWcvX6M2ptd04dQYoZvolLHzbrU8VIgIi7mL/xPKHnUDZgY/kGhvJNVVFU0a3XwJtwOC5pQNj\u002Bze5pPpaufDaoNe1XuV6MQJREnfpz967e59gkgQRzfg9ZYZIKmURbotkeqJ\u002B8gAs45/eWJKbejtZDjlq\u002Bif8uNLvd\u002BlfIgatT7P8dVUsTImfM65kQ3Vlofta7yw7tmRTd7HPn3oWzcGJMRjurvTmPLG/28Z5iHVtidX\u002BBDLaYYlPmQ2TbL0PeGXs2xJcdwL2ZLJ6e\u002Bqd6f9MUhWUGMmOrs\u002BPnwX3QsAEoFNQnK1TEQLS959wb\u002BWusb8eRwqne2\u002BsbjxCzOf9DyHyZduXPV1B6UESwRE[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-9ce81461-129e-a49a-320e-09bff725ec52/test-blob-c45d07de-af7b-e2fb-e017-c81d9afe1f48",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:10 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "4bNh8xQmNioY6gy2R/IipA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D8391CB1B1CF\u0022",
        "Last-Modified": "Sat, 04 Apr 2020 01:40:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 04 Apr 2020 01:40:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-9ce81461-129e-a49a-320e-09bff725ec52?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:10 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "717829692",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}