{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-45173495-8740-d64e-2804-9a854a4f972e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:09:23 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C1497AEA6B57\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:09:23 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-45173495-8740-d64e-2804-9a854a4f972e/test-blob-74453b34-aac0-89ae-0968-47b3783efb50",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:09:23 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "SAfzYkWy4r6zTCqUA3upe96Q25\u002BRR9PnOoDb4wNbymUZt2f\u002Bj0s4gViHwXN/GYaOvszV52NcvwEzDCjE1v66WILEe0sUquuSWFpGCoZfZyD6TSU2huICvPhlyoIic6pazGnxu547ehPgQo4IFbR71KQIyonZhNGfwb5SruBpb\u002BSv7D0cbauCv9IRVUNT\u002BqdE6vXeGqkggEiXUvnf6Mwzd9KqWSh2Xmb4hgu3yC6OS8cXDcPqilU7jmv1hRuyotYG3d1xqaB\u002BzYyP5ZSdabgZCQYxyNoISe19bsu8gdlLRuQ0sepRHKEnmEA3W6XAnSWz3HsUgNn7/ZTw8zrVwUy[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-45173495-8740-d64e-2804-9a854a4f972e/test-blob-74453b34-aac0-89ae-0968-47b3783efb50",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:09:23 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C1497AF6980F\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:09:23 GMT",
        "x-ms-blob-content-md5": "YWUiSUCsNrvs87CSClLavg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 21:09:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "SAfzYkWy4r6zTCqUA3upe96Q25\u002BRR9PnOoDb4wNbymUZt2f\u002Bj0s4gViHwXN/GYaOvszV52NcvwEzDCjE1v66WILEe0sUquuSWFpGCoZfZyD6TSU2huICvPhlyoIic6pazGnxu547ehPgQo4IFbR71KQIyonZhNGfwb5SruBpb\u002BSv7D0cbauCv9IRVUNT\u002BqdE6vXeGqkggEiXUvnf6Mwzd9KqWSh2Xmb4hgu3yC6OS8cXDcPqilU7jmv1hRuyotYG3d1xqaB\u002BzYyP5ZSdabgZCQYxyNoISe19bsu8gdlLRuQ0sepRHKEnmEA3W6XAnSWz3HsUgNn7/ZTw8zrVwUyzQ56wabjNx\u002BxkCjCa0e5HvNGlCaVdNsUKOLNWYChnUdb0hBcGEDRs[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-45173495-8740-d64e-2804-9a854a4f972e/test-blob-74453b34-aac0-89ae-0968-47b3783efb50",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:09:23 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "YWUiSUCsNrvs87CSClLavg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C1497AF6980F\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:09:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 21:09:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-45173495-8740-d64e-2804-9a854a4f972e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:09:23 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1961542965",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}