{
  "Entries": [
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-958935fa-4ab8-6e40-6900-d654908616ff?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 26 Mar 2020 20:49:49 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D1C73A4D8D04\u0022",
        "Last-Modified": "Thu, 26 Mar 2020 20:49:50 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-958935fa-4ab8-6e40-6900-d654908616ff/test-blob-cf160cd7-a85a-6486-b6fd-7f5886ba8644",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 26 Mar 2020 20:49:49 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "hyccXZdWmkiNgO8GlubxO5YPrtoOqVSPrYoKZqjmUtEcuxJxvWwdgXLOQtm4f83QDEPCdgyrNt3TjLAMSzSfpi4e6drTf34q8SxoP2d61y28OlplJNvEcIU0njG7ETY\u002BLpurmZXz/IzFl4XgQ/Z1WLWCTxHZOYJSWnlVn\u002BFMbuD2KhDMzz2XyT7NoIxW5C2OvkZ8OcEkZPQZWD8cnl2reCmk6hnlqYl36obTDJn1/HVLxuCb0DUf0cYbs3b9eirgIShjsvoUqBW8BE47UVdbI1zK0dh9EKfzhRhSyfYSenBb8upxkkl7Nx3K3szn44BuwJAaM6lSYxCAbyzhwd4fqore315s6pAST5[...]
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-958935fa-4ab8-6e40-6900-d654908616ff/test-blob-cf160cd7-a85a-6486-b6fd-7f5886ba8644",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Mar 2020 20:49:49 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "UxMeIkI1Jz1RP\u002B2I6dGHsQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D1C73A5288CD\u0022",
        "Last-Modified": "Thu, 26 Mar 2020 20:49:50 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 26 Mar 2020 20:49:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "hyccXZdWmkiNgO8GlubxO5YPrtoOqVSPrYoKZqjmUtEcuxJxvWwdgXLOQtm4f83QDEPCdgyrNt3TjLAMSzSfpi4e6drTf34q8SxoP2d61y28OlplJNvEcIU0njG7ETY\u002BLpurmZXz/IzFl4XgQ/Z1WLWCTxHZOYJSWnlVn\u002BFMbuD2KhDMzz2XyT7NoIxW5C2OvkZ8OcEkZPQZWD8cnl2reCmk6hnlqYl36obTDJn1/HVLxuCb0DUf0cYbs3b9eirgIShjsvoUqBW8BE47UVdbI1zK0dh9EKfzhRhSyfYSenBb8upxkkl7Nx3K3szn44BuwJAaM6lSYxCAbyzhwd4fqore315s6pAST5m6sjLbDKGY5Alm\u002BEfGCI7a8CMdmXY\u002BqzRBCQMhAdX/B\u002[...]
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-958935fa-4ab8-6e40-6900-d654908616ff/test-blob-cf160cd7-a85a-6486-b6fd-7f5886ba8644",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Mar 2020 20:49:49 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "UxMeIkI1Jz1RP\u002B2I6dGHsQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D1C73A5288CD\u0022",
        "Last-Modified": "Thu, 26 Mar 2020 20:49:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 26 Mar 2020 20:49:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-958935fa-4ab8-6e40-6900-d654908616ff?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Mar 2020 20:49:49 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "79660654",
    "Storage_TestConfigDefault": "ProductionTenant\nseandevtest\nU2FuaXRpemVk\nhttps://seandevtest.blob.core.windows.net\nhttps://seandevtest.file.core.windows.net\nhttps://seandevtest.queue.core.windows.net\nhttps://seandevtest.table.core.windows.net\n\n\n\n\nhttps://seandevtest-secondary.blob.core.windows.net\nhttps://seandevtest-secondary.file.core.windows.net\nhttps://seandevtest-secondary.queue.core.windows.net\nhttps://seandevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seandevtest.blob.core.windows.net/;QueueEndpoint=https://seandevtest.queue.core.windows.net/;FileEndpoint=https://seandevtest.file.core.windows.net/;BlobSecondaryEndpoint=https://seandevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seandevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seandevtest-secondary.file.core.windows.net/;AccountName=seandevtest;AccountKey=Sanitized\nseanscope1"
  }
}