{
  "Entries": [
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-066cbfcb-0011-f2ff-c9e6-1276c97949b1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D75349AAEF0956\u0022",
        "Last-Modified": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-066cbfcb-0011-f2ff-c9e6-1276c97949b1/test-blob-c4ba4bdd-6cbc-504c-224b-12a09f007865",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "yaBTpiYd3mXTcOo7v6R6JQ6FIC2pWba21wIJhyiroHkIVS4Ge7yzwG1V8EyBEJF90e2SGt9Ku3Dpnc4kE1c8KM9wM2l2dKpR0WDAVGhqNMdxi7Y6GYaZvZq9HN3tj6wVGMh8ENwnB1xDQEh/imcHfmkHs4ihAg5J13XPuFfMZEGzqzug7SPqSYRZ99k9GjMytp1z5twkcxa5MzlnWE4EdtwGy94rZ5BGHGkDRwo1C7xCnAK6WH1ljzcl5rrpg/A2VIH9N05UB08MLclyICsMhCd9JbxLSh1eoTymBoDWXJl5zfOIN9Rt7ZWzrSqz8m4LGGKSbF406gpknpUSrQHONtEw\u002BVM4hExTDzcnmJz[...]
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-066cbfcb-0011-f2ff-c9e6-1276c97949b1/test-blob-c4ba4bdd-6cbc-504c-224b-12a09f007865",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D75349AAF7613A\u0022",
        "Last-Modified": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-blob-content-md5": "7TwhaFIORILtb0WcGfQ8UA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": "yaBTpiYd3mXTcOo7v6R6JQ6FIC2pWba21wIJhyiroHkIVS4Ge7yzwG1V8EyBEJF90e2SGt9Ku3Dpnc4kE1c8KM9wM2l2dKpR0WDAVGhqNMdxi7Y6GYaZvZq9HN3tj6wVGMh8ENwnB1xDQEh/imcHfmkHs4ihAg5J13XPuFfMZEGzqzug7SPqSYRZ99k9GjMytp1z5twkcxa5MzlnWE4EdtwGy94rZ5BGHGkDRwo1C7xCnAK6WH1ljzcl5rrpg/A2VIH9N05UB08MLclyICsMhCd9JbxLSh1eoTymBoDWXJl5zfOIN9Rt7ZWzrSqz8m4LGGKSbF406gpknpUSrQHONtEw\u002BVM4hExTDzcnmJzyqq7Nmu0eQ\u002B87ROLoJJg\u002BWj\u002BT5HdZg/ka05QVPl0mDV[...]
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-066cbfcb-0011-f2ff-c9e6-1276c97949b1/test-blob-c4ba4bdd-6cbc-504c-224b-12a09f007865",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "7TwhaFIORILtb0WcGfQ8UA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D75349AAF7613A\u0022",
        "Last-Modified": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-066cbfcb-0011-f2ff-c9e6-1276c97949b1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1282030764",
    "Storage_TestConfigDefault": "ProductionTenant\njolovstorage\nU2FuaXRpemVk\nhttp://jolovstorage.blob.core.windows.net\nhttp://jolovstorage.file.core.windows.net\nhttp://jolovstorage.queue.core.windows.net\nhttp://jolovstorage.table.core.windows.net\n\n\n\n\nhttp://jolovstorage-secondary.blob.core.windows.net\n\nhttp://jolovstorage-secondary.queue.core.windows.net\nhttp://jolovstorage-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://jolovstorage.blob.core.windows.net/;QueueEndpoint=http://jolovstorage.queue.core.windows.net/;TableEndpoint=http://jolovstorage.table.core.windows.net/;FileEndpoint=http://jolovstorage.file.core.windows.net/;BlobSecondaryEndpoint=http://jolovstorage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://jolovstorage-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://jolovstorage-secondary.table.core.windows.net/;AccountName=jolovstorage;AccountKey=Sanitized"
  }
}