{
  "Entries": [
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-8475bfd6-886c-cffb-d4d4-d335bbd02845?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:34 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D75349AA23F349\u0022",
        "Last-Modified": "Thu, 17 Oct 2019 21:33:34 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-8475bfd6-886c-cffb-d4d4-d335bbd02845/test-blob-b01391b0-fabd-8b11-fbb1-130f01a180ca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:34 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "g8RYBC45OJl7R7mqr4T4Um2aqb32oFHipRbyW0TeK3Md0bsHxuu8dll6NHVAZ9t3uMGiZ/fD0\u002BNzdV4YRtxUnBxFjN7J8YyB3TJjfGvboT46e6ODPMN8Wv3XlFCNpDB9JZdZ\u002Btr9rcc0IIrEYFZ3l9Mf3so50V9YyTLh8Vw89DkC5VfUgqdjPc7bThw5uPqmYPx8bcZlRFM4ADGoHLxq\u002BCtRwXr/oxUsvKH8XYJDHxE4OpBgv4dynaEDm4J1uyAScFbx6PZ/p73nULElaObQ9OAgb\u002BErCjij3iTY\u002BweTtwCA6uwsUTYauJPTeW/WTTW6M6ehVEw\u002B52YdTQ[...]
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-8475bfd6-886c-cffb-d4d4-d335bbd02845/test-blob-b01391b0-fabd-8b11-fbb1-130f01a180ca",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:34 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D75349AA28A150\u0022",
        "Last-Modified": "Thu, 17 Oct 2019 21:33:34 GMT",
        "x-ms-blob-content-md5": "yxITXd0jOJRIffdzaDVitA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 17 Oct 2019 21:33:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": "g8RYBC45OJl7R7mqr4T4Um2aqb32oFHipRbyW0TeK3Md0bsHxuu8dll6NHVAZ9t3uMGiZ/fD0\u002BNzdV4YRtxUnBxFjN7J8YyB3TJjfGvboT46e6ODPMN8Wv3XlFCNpDB9JZdZ\u002Btr9rcc0IIrEYFZ3l9Mf3so50V9YyTLh8Vw89DkC5VfUgqdjPc7bThw5uPqmYPx8bcZlRFM4ADGoHLxq\u002BCtRwXr/oxUsvKH8XYJDHxE4OpBgv4dynaEDm4J1uyAScFbx6PZ/p73nULElaObQ9OAgb\u002BErCjij3iTY\u002BweTtwCA6uwsUTYauJPTeW/WTTW6M6ehVEw\u002B52YdTQrSp6u2U5ixpX35pKKqBbZOV5DJzZDuHchg8mKzQQOGDgQsSBHnHSXWJai3[...]
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-8475bfd6-886c-cffb-d4d4-d335bbd02845/test-blob-b01391b0-fabd-8b11-fbb1-130f01a180ca",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:34 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "yxITXd0jOJRIffdzaDVitA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D75349AA28A150\u0022",
        "Last-Modified": "Thu, 17 Oct 2019 21:33:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 17 Oct 2019 21:33:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-8475bfd6-886c-cffb-d4d4-d335bbd02845?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Oct 2019 21:33:34 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "337023793",
    "Storage_TestConfigDefault": "ProductionTenant\njolovstorage\nU2FuaXRpemVk\nhttp://jolovstorage.blob.core.windows.net\nhttp://jolovstorage.file.core.windows.net\nhttp://jolovstorage.queue.core.windows.net\nhttp://jolovstorage.table.core.windows.net\n\n\n\n\nhttp://jolovstorage-secondary.blob.core.windows.net\n\nhttp://jolovstorage-secondary.queue.core.windows.net\nhttp://jolovstorage-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://jolovstorage.blob.core.windows.net/;QueueEndpoint=http://jolovstorage.queue.core.windows.net/;TableEndpoint=http://jolovstorage.table.core.windows.net/;FileEndpoint=http://jolovstorage.file.core.windows.net/;BlobSecondaryEndpoint=http://jolovstorage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://jolovstorage-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://jolovstorage-secondary.table.core.windows.net/;AccountName=jolovstorage;AccountKey=Sanitized"
  }
}