{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-5c04d49b-ad12-8f57-cde6-a6cdf196fd33?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D7606C4152F9\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:02 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-5c04d49b-ad12-8f57-cde6-a6cdf196fd33/test-blob-077c7ae1-e8f8-dab8-a32e-76ce9ad89f89",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "kQi6uLyO2pBsBpzzjtTD3sBknXXHTaUrgP/LKjJvScfZqMoKTMryUp/rmvFMxEvOapcONjopwkRijze9wq9d/L3UGeYKuZH1cUvV27K03ru0/cCaYRONsOaFp72SNZDwjp00eKplw7EGGMTvU\u002BaSrrB8CcTvwpupRmn/hBHUYzy75U0UgGUQTjkOlEhOnVz/8/kMFizLAMsBijFBZT6gMbWING2YfS5Ka7qL4C1TWqkNAJEXx0wQ7\u002BWCEvU0z\u002Bn6bmOTxmnuZ3bLwqtyQCCdri\u002BINGWtiGpod0SIFmo4FpvQkHHKv5RAHpgaTAWhnq/E5GTFq5uDTOb4K04kZlEMkqsP[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-5c04d49b-ad12-8f57-cde6-a6cdf196fd33/test-blob-077c7ae1-e8f8-dab8-a32e-76ce9ad89f89",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:03 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D7606C4EC20F\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:03 GMT",
        "x-ms-blob-content-md5": "rBeLa7Z12AfNfUdLDhYt8A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:49:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "kQi6uLyO2pBsBpzzjtTD3sBknXXHTaUrgP/LKjJvScfZqMoKTMryUp/rmvFMxEvOapcONjopwkRijze9wq9d/L3UGeYKuZH1cUvV27K03ru0/cCaYRONsOaFp72SNZDwjp00eKplw7EGGMTvU\u002BaSrrB8CcTvwpupRmn/hBHUYzy75U0UgGUQTjkOlEhOnVz/8/kMFizLAMsBijFBZT6gMbWING2YfS5Ka7qL4C1TWqkNAJEXx0wQ7\u002BWCEvU0z\u002Bn6bmOTxmnuZ3bLwqtyQCCdri\u002BINGWtiGpod0SIFmo4FpvQkHHKv5RAHpgaTAWhnq/E5GTFq5uDTOb4K04kZlEMkqsPoa\u002Bu0\u002B6bSBXMkztkxtmUwzEGcmoATEOL0ZRFG7dHDrlZkv0A[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-5c04d49b-ad12-8f57-cde6-a6cdf196fd33/test-blob-077c7ae1-e8f8-dab8-a32e-76ce9ad89f89",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:04 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "rBeLa7Z12AfNfUdLDhYt8A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D7606C4EC20F\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:49:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-5c04d49b-ad12-8f57-cde6-a6cdf196fd33?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:04 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "962695312",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}