{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-43f8603e-c0a7-e63b-c88a-4a42a782c345?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEE99F49F17\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:00:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-43f8603e-c0a7-e63b-c88a-4a42a782c345/test-blob-cffc5c9c-01b0-d814-e9d9-df59190cea9d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "XWfkhqmS5kNGwubSy5tHq1Vmkp4uXjJcCwBIhKCHFnHv/H5v1HGXCna4iO4aQgxNkTMEsnpLbv81h3upSWGjv6t04s8c2Nfjz4codtZEQcnz\u002BvNsg2P3pI5/Okz27sEUFchCpV89MblbIOLyIvgp8UWxtU5uNjtHfT5AnJ2K7OHGFGANAZtqtsk5EGOBBIGWVkgHRThypd6N\u002Bigh/JUc0TMBKw2XG\u002B\u002BqR/6FNSXYxni8qkVUg6eoVG\u002BBfwdzSLkzHT8vf9lz/jpZXP457G\u002B4tDOvZFJPx06MWdeeFZvoNv5FURjmqUefSawL\u002Byapbmf/ycvUxORn5[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-43f8603e-c0a7-e63b-c88a-4a42a782c345/test-blob-cffc5c9c-01b0-d814-e9d9-df59190cea9d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "c9sD5AKIj8zZLhkpf1BtVg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77DEE9A017A07\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:00:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 04:00:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-43f8603e-c0a7-e63b-c88a-4a42a782c345?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:00:03 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1976539092",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}