{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-10552d3b-b0e7-279a-5167-6cbc69329edc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37572C76116\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:54:26 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-10552d3b-b0e7-279a-5167-6cbc69329edc/test-blob-4b104433-419b-f90a-5da4-1bb16dbd4777",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:26 GMT"
      },
      "RequestBody": "epRmGPurINqEejbK0S50KuL1qZrJojwURj2UF/OEcIYa\u002BSepYzpShyQ2xyELPycvL/DOeBOsrthXUtK\u002BFgjn/wmvsNcGy8eooiJ2ktobCAYVZecCtfhzbUtPURBok3AbT8cXW45QKWQoJtXwNhv9PEnLqbEh5EoRPEOMtnm3QA\u002BxWkMSA6x3xTyD2Y4igjcwUhXHnOq/\u002Bmp9Bh9Lw3LqcebGPtvX6jicVOR1ngq77rkLW2Rk76Ml8mDZlPyNKwHKmGeoXERcWGfcKkgFSltfwhhlP2gNhoJCoEt6/lU8DijiqgaiEpJ1rwL9h8RbH6gEedLkKOyZvBHlZbv44VoRoBwfIp9VvK\u002BG75BlD/6954GjdYSDV\u002BY8[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-10552d3b-b0e7-279a-5167-6cbc69329edc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:54:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "706635962",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}