{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-28c61993-629b-f30a-00c3-5246f5bf6e30?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:37 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F1DE17611D\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:37 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-28c61993-629b-f30a-00c3-5246f5bf6e30/test-blob-abfe4176-b54c-cbf5-9832-30fc5e4ec23c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:37 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "\u002btAMoAnUdAOr\u002bzNs\u002bh329UFz0LPAw\u002bSRtWowPV9xbKZtK/Es/\u002bDVoc36AFCCidF6PDu6634PfDfre\u002buepDakOY6M/s4syvZhnS7lxcKUDiuZtQEjt4EoXa\u002b6QIP0N/2WVsfB9YoCTnFFWE1PKbZ0V2y/Be81gYEMZKEecolybGYxT2/70xiglmeP3V402DT5RekWNTEOYNRFtJHp5Nzo0uznHtlHeYRTHm\u002bHpaMj2ItsJS2gXDc0Iu6ath6Ht7KLpwpyTLpascxlwhbBhrsxIdsFfL6uSHa0svvqrMJlzGe9/P6YsYzREXNhOpkhc5wzaZRD[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-28c61993-629b-f30a-00c3-5246f5bf6e30/test-blob-abfe4176-b54c-cbf5-9832-30fc5e4ec23c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:37 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D706F1DE19C72D\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:53:37 GMT",
        "x-ms-blob-content-md5": "/5\u002bHBCgTepHzT1ZHo2ehnw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:53:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\u002btAMoAnUdAOr\u002bzNs\u002bh329UFz0LPAw\u002bSRtWowPV9xbKZtK/Es/\u002bDVoc36AFCCidF6PDu6634PfDfre\u002buepDakOY6M/s4syvZhnS7lxcKUDiuZtQEjt4EoXa\u002b6QIP0N/2WVsfB9YoCTnFFWE1PKbZ0V2y/Be81gYEMZKEecolybGYxT2/70xiglmeP3V402DT5RekWNTEOYNRFtJHp5Nzo0uznHtlHeYRTHm\u002bHpaMj2ItsJS2gXDc0Iu6ath6Ht7KLpwpyTLpascxlwhbBhrsxIdsFfL6uSHa0svvqrMJlzGe9/P6YsYzREXNhOpkhc5wzaZRDgjrz3F\u002bTvZm\u002bbwUJ//auA4m9mHBONGpKTQ3dkz9et0MtIkotyiC[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-28c61993-629b-f30a-00c3-5246f5bf6e30?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:53:38 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "309082578",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}