{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-5ba7bbb1-db87-258d-82f7-ed70211e47c6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:31 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D7607CC00545\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:30 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-5ba7bbb1-db87-258d-82f7-ed70211e47c6/test-blob-e706500c-f473-915f-c86a-ad0f0c52d5d2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:31 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "9ygYCvbcoGVFWLTp7kZ62EHaLv\u002BoGFFit5aivGos/kxsX7WavCv9L6\u002BgohtAdqOB79TNMiPWKt7WtlNgOuP7GVlofI\u002BR3xsW3P9QB3U2IkDzIcyVXssoljXWxAbYnfXLpYnB1/kU7w\u002B5t1YkhiJpoJMSbRgWZbqOP\u002BZZuhsVPT4KhGLrdUtH3jG83Kd1BBATbSRzxjDctEDPM5gTujX0o3kXGgHAfSpIy47mWYkTGTvWRkz3oncOLc8iHEGyMyT8yDgtXeoOU/D5Kvqi9Vq2uxpcPXPo/QECCewynmDolZdp6pFR5rtRx/Nc/nd8azd0a2AnVvawE8s2KlP927S[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-5ba7bbb1-db87-258d-82f7-ed70211e47c6/test-blob-e706500c-f473-915f-c86a-ad0f0c52d5d2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:31 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "9yfi9/TvpwJS9BoKb0dcAA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D7607CCDBBDA\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:30 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Apr 2020 23:49:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-5ba7bbb1-db87-258d-82f7-ed70211e47c6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:31 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1571396808",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}