{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-fd86978b-ed4c-9b5a-fd49-4d28145cac00?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:09:37 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C1498363EF5B\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:09:37 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-fd86978b-ed4c-9b5a-fd49-4d28145cac00/test-blob-5ce0cfb4-0198-bd9f-3c39-a79230d5dd2c?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:09:37 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "TOjCHxZ9\u002B/RnOlhDju[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-fd86978b-ed4c-9b5a-fd49-4d28145cac00/test-blob-5ce0cfb4-0198-bd9f-3c39-a79230d5dd2c?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 05 Mar 2020 21:09:38 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "\u003CBlockList\u003E\u003CUncommitted\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Uncommitted\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14983A13617\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:09:38 GMT",
        "x-ms-content-crc64": "VDVdRbv592o=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-fd86978b-ed4c-9b5a-fd49-4d28145cac00/test-blob-5ce0cfb4-0198-bd9f-3c39-a79230d5dd2c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:09:38 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C14983A13617\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:09:38 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 21:09:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "TOjCHxZ9\u002B/RnOlhDjuCTHF4DRYal57W7GQvE\u002ByflOD9AsOWwyWEqhcaI0L30E7Y2PaRQCVqwZmUzBgYKuQDNgQEYAt364lP92L/AHRf3xwVUjr2ClS/lkEqAfMJaH8zGuk672xDZO1tRUjGa70hOPD8BtitCS\u002BzSM3KTeWWRornz\u002BmLIO\u002Bv1e1JiMEL9SqEBMkCCWWmhg29h6KeeRcL1wLB3p/TmhQBUDDrY3xqq1ejRkUckD0lPUXbzZ1JDVzaQbXCShqOsG61ALU0vyKRUtxO\u002BzLR60LFnKFV\u002B8x6tELQESHKqF09FJXaZ5OH7IIjSnq8/hYqBFZy\u002BK15NLSiPkh2YK4Axqp/Eeac94ezQawfNq1RubosqgjPW6\u002[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-fd86978b-ed4c-9b5a-fd49-4d28145cac00?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:09:38 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "60523740",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}