{
  "Entries": [
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-36760a2e-459a-d8a5-b49a-f67ff283320c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:25 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D1C74FA268CA\u0022",
        "Last-Modified": "Thu, 26 Mar 2020 20:50:26 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-36760a2e-459a-d8a5-b49a-f67ff283320c/test-blob-c5578603-2ef8-7b0f-2a7b-3fe19bc7cd22",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:25 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "jcKSoXrzsK9UtCchvszBJZwG24Q6Rzu\u002BQo0U4JmWIi7A0IV3QHspD9ancEQG7b1euRlFlOtI6EaG017t3s8VvZH5Ye5GSeQg3cuuktb3t1XQtid/UI5Cd\u002Bg/8WwdPDEHkrKyDYvOGG81JbcfmlVvjhwJHSinlWwDtuoGBlh4A6GapwAkRanKAZ63SivWI92S0GJQEx8JX/xFrlegyBEXvSEWhfJVS0lyPhuJ8EtBLZMNczb1J\u002B\u002BCkUgE3pdSKTmNoI0Jv53qPYQZ3dUDf2\u002BwBIHEk1XaIpUylPSqUGyxIBXi/E\u002B9N231IjWy20kafhHYU9kWjZbksn741y[...]
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-36760a2e-459a-d8a5-b49a-f67ff283320c/test-blob-c5578603-2ef8-7b0f-2a7b-3fe19bc7cd22",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:25 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "emrrh/zE18ooSDzjoMeg9A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D1C74FA71AE3\u0022",
        "Last-Modified": "Thu, 26 Mar 2020 20:50:26 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 26 Mar 2020 20:50:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "jcKSoXrzsK9UtCchvszBJZwG24Q6Rzu\u002BQo0U4JmWIi7A0IV3QHspD9ancEQG7b1euRlFlOtI6EaG017t3s8VvZH5Ye5GSeQg3cuuktb3t1XQtid/UI5Cd\u002Bg/8WwdPDEHkrKyDYvOGG81JbcfmlVvjhwJHSinlWwDtuoGBlh4A6GapwAkRanKAZ63SivWI92S0GJQEx8JX/xFrlegyBEXvSEWhfJVS0lyPhuJ8EtBLZMNczb1J\u002B\u002BCkUgE3pdSKTmNoI0Jv53qPYQZ3dUDf2\u002BwBIHEk1XaIpUylPSqUGyxIBXi/E\u002B9N231IjWy20kafhHYU9kWjZbksn741yuoP\u002B0XZ72/IYIf880TznAfKEZLGBbi0v2Sm5J\u002B/krRxV9BTO[...]
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-36760a2e-459a-d8a5-b49a-f67ff283320c/test-blob-c5578603-2ef8-7b0f-2a7b-3fe19bc7cd22",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:25 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "emrrh/zE18ooSDzjoMeg9A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D1C74FA71AE3\u0022",
        "Last-Modified": "Thu, 26 Mar 2020 20:50:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 26 Mar 2020 20:50:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-36760a2e-459a-d8a5-b49a-f67ff283320c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:25 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "256397000",
    "Storage_TestConfigDefault": "ProductionTenant\nseandevtest\nU2FuaXRpemVk\nhttps://seandevtest.blob.core.windows.net\nhttps://seandevtest.file.core.windows.net\nhttps://seandevtest.queue.core.windows.net\nhttps://seandevtest.table.core.windows.net\n\n\n\n\nhttps://seandevtest-secondary.blob.core.windows.net\nhttps://seandevtest-secondary.file.core.windows.net\nhttps://seandevtest-secondary.queue.core.windows.net\nhttps://seandevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seandevtest.blob.core.windows.net/;QueueEndpoint=https://seandevtest.queue.core.windows.net/;FileEndpoint=https://seandevtest.file.core.windows.net/;BlobSecondaryEndpoint=https://seandevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seandevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seandevtest-secondary.file.core.windows.net/;AccountName=seandevtest;AccountKey=Sanitized\nseanscope1"
  }
}