{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-045e116b-ebd3-71dc-6658-828fd7381424?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 21 Oct 2019 02:08:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D755CB8E89CCAA\u0022",
        "Last-Modified": "Mon, 21 Oct 2019 02:08:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-045e116b-ebd3-71dc-6658-828fd7381424/test-blob-99a05f57-70a5-e4b2-ad8d-51fdd88e9693",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 21 Oct 2019 02:08:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "3Sr5x4O3Fi1uuaor8Ogp\u002BVX79nsx4bMlXdCwgCiORnYnA559wLmToElzK\u002BvGhvTEZFio3JgaYvt302qzBpYE4HMzBOxJqzibaFYyvbXHX9bb6xvP5WneDKCiBuxO4Jmzbkt3koEHerkfDHNC6KVGr3ST1xp6NfoJVfhMp6RLTIe8f05qT8xV03FisNn1nCP7XFZ4ugl\u002BODlQbT2Ju9MU1L/shWlW22CnPgOpGIQhFLjUUEpN05J\u002BPUYVGuGPyxedTdwZCRa6pYH20HwF1R\u002B0LlmEtGuIxgAtbkgiQcF\u002BGHLrDMuoCAqhGqvJVwMVeGgnYOuHChesFIbb65[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-045e116b-ebd3-71dc-6658-828fd7381424/test-blob-99a05f57-70a5-e4b2-ad8d-51fdd88e9693",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Oct 2019 02:08:25 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D755CB8E8D8AEB\u0022",
        "Last-Modified": "Mon, 21 Oct 2019 02:08:25 GMT",
        "x-ms-blob-content-md5": "QGI1yr9yTvtynjTkOuPhfg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Oct 2019 02:08:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": "3Sr5x4O3Fi1uuaor8Ogp\u002BVX79nsx4bMlXdCwgCiORnYnA559wLmToElzK\u002BvGhvTEZFio3JgaYvt302qzBpYE4HMzBOxJqzibaFYyvbXHX9bb6xvP5WneDKCiBuxO4Jmzbkt3koEHerkfDHNC6KVGr3ST1xp6NfoJVfhMp6RLTIe8f05qT8xV03FisNn1nCP7XFZ4ugl\u002BODlQbT2Ju9MU1L/shWlW22CnPgOpGIQhFLjUUEpN05J\u002BPUYVGuGPyxedTdwZCRa6pYH20HwF1R\u002B0LlmEtGuIxgAtbkgiQcF\u002BGHLrDMuoCAqhGqvJVwMVeGgnYOuHChesFIbb65rOl2TAeLcJGclUDCZP45m/v2/8F/bf\u002B\u002BDV9g1bP/dEzBxv04[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-045e116b-ebd3-71dc-6658-828fd7381424?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Oct 2019 02:08:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1306278187",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}