{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c55704b5-ef1b-62bc-19d7-77174a66bd26?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D8391AA4A062\u0022",
        "Last-Modified": "Sat, 04 Apr 2020 01:40:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c55704b5-ef1b-62bc-19d7-77174a66bd26/test-blob-061cd870-4eda-79df-225e-8e68338a76b1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "DYg2KsjWFdq1i7TtaHgK17bqwRNKwxOTQSXEsZyoHK69IV1lKdIJmcJCUU\u002BZ8RCqVLexScliZ0p0o\u002BmiEWM\u002BDW4FMEcapa7k4ChQCHLE\u002BU8VGl3l9tPlWroS8IbpZohfA0Pgk8HJj68JzWihEl7Yr6mZjfYGWRabINWMCLQn\u002Bnqf8QUu42WOTIuu3ClqREhcOkDcUNiRWKosRXPrPIf64dLtASBYqcxECkFrWH3tMNyMMM5zS6qhDphbAZ7yow8Es/pWfUMnA5B0mEWWJf8sPxWXXgu4hpYoTPKH/agtUmcyZ6WClrOZZSw9/7JkCumZLsGIWkQDSyxkLTFQnwX[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c55704b5-ef1b-62bc-19d7-77174a66bd26/test-blob-061cd870-4eda-79df-225e-8e68338a76b1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:07 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "3LbxHilRUu80anW0LgTzQA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D8391AB2296C\u0022",
        "Last-Modified": "Sat, 04 Apr 2020 01:40:06 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 04 Apr 2020 01:40:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "DYg2KsjWFdq1i7TtaHgK17bqwRNKwxOTQSXEsZyoHK69IV1lKdIJmcJCUU\u002BZ8RCqVLexScliZ0p0o\u002BmiEWM\u002BDW4FMEcapa7k4ChQCHLE\u002BU8VGl3l9tPlWroS8IbpZohfA0Pgk8HJj68JzWihEl7Yr6mZjfYGWRabINWMCLQn\u002Bnqf8QUu42WOTIuu3ClqREhcOkDcUNiRWKosRXPrPIf64dLtASBYqcxECkFrWH3tMNyMMM5zS6qhDphbAZ7yow8Es/pWfUMnA5B0mEWWJf8sPxWXXgu4hpYoTPKH/agtUmcyZ6WClrOZZSw9/7JkCumZLsGIWkQDSyxkLTFQnwXnRkbeZL5aqqli/fnee4fjxEEI7s/mpfcjLht4HWiCSMUnVbhshaYrPoQYJ[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c55704b5-ef1b-62bc-19d7-77174a66bd26/test-blob-061cd870-4eda-79df-225e-8e68338a76b1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:07 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "3LbxHilRUu80anW0LgTzQA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D8391AB2296C\u0022",
        "Last-Modified": "Sat, 04 Apr 2020 01:40:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 04 Apr 2020 01:40:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c55704b5-ef1b-62bc-19d7-77174a66bd26?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 04 Apr 2020 01:40:07 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "399197945",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}