{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-18940f2f-ed95-424e-8c0c-d4ac06cdda83?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 21 Oct 2019 02:08:26 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D755CB8F6C4DAF\u0022",
        "Last-Modified": "Mon, 21 Oct 2019 02:08:26 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-18940f2f-ed95-424e-8c0c-d4ac06cdda83/test-blob-a50afac1-5858-b9f5-b36b-ca2d17ea39b3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 21 Oct 2019 02:08:26 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "nki1MKxY6SY/oiH0A81R676vog7OxzOe4GfOLoy9tAmfv\u002B\u002BPrXl6aBDjZrU3ALblGd9uaEgq5NcVF1BFibuagu4YVUPewj5FNDn962F9Z9\u002Bx6RSsTkvAdNoYeZUoNN9VSOTHHqpyB1agKTMOLPl2l69xlKCm7TOiV\u002BBpxUioHABaqKJ9tUk0P\u002BK9DCUYskjgouLlt6A/rlqwJcbJCEEO\u002BA0ytINX\u002BOJmPFW96OEOiaWYiCNmwmVgGvpHzJCCajahrxMX5f7Eian/f3tKgcV5opwhMYAdpzWn0pmJDyxR5NEeHDnN9qOn0/55ZkPpFZk0zir0YTm2g[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-18940f2f-ed95-424e-8c0c-d4ac06cdda83?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Oct 2019 02:08:26 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022http://storageteglazatesting.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-18940f2f-ed95-424e-8c0c-d4ac06cdda83\u0022\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Etest-blob-a50afac1-5858-b9f5-b36b-ca2d17ea39b3\u003C/Name\u003E\u003CProperties\u003E\u003CCreation-Time\u003EMon, 21 Oct 2019 02:08:26 GMT\u003C/Creation-Time\u003E\u003CLast-Modified\u003EMon, 21 Oct 2019 02:08:26 GMT\u003C/Last-Modified\u003E\u003CEtag\u003E0x8D755CB8F6F2138\u003C/Etag\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003CContent-Type\u003Eapplication/octet-stream\u003C/Content-Type\u003E\u003CContent-Encoding /\u003E\u003CContent-Language /\u003E\u003CContent-CRC64 /\u003E\u003CContent-MD5\u003ENbK0SjLbiHdzPWB9s4EoiA==\u003C/Content-MD5\u003E\u003CCache-Control /\u003E\u003CContent-Disposition /\u003E\u003CBlobType\u003EBlockBlob\u003C/BlobType\u003E\u003CAccessTier\u003EHot\u003C/AccessTier\u003E\u003CAccessTierInferred\u003Etrue\u003C/AccessTierInferred\u003E\u003CLeaseStatus\u003Eunlocked\u003C/LeaseStatus\u003E\u003CLeaseState\u003Eavailable\u003C/LeaseState\u003E\u003CServerEncrypted\u003Etrue\u003C/ServerEncrypted\u003E\u003C/Properties\u003E\u003C/Blob\u003E\u003C/Blobs\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-18940f2f-ed95-424e-8c0c-d4ac06cdda83/test-blob-a50afac1-5858-b9f5-b36b-ca2d17ea39b3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Oct 2019 02:08:26 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D755CB8F6F2138\u0022",
        "Last-Modified": "Mon, 21 Oct 2019 02:08:26 GMT",
        "x-ms-blob-content-md5": "NbK0SjLbiHdzPWB9s4EoiA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Oct 2019 02:08:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": "nki1MKxY6SY/oiH0A81R676vog7OxzOe4GfOLoy9tAmfv\u002B\u002BPrXl6aBDjZrU3ALblGd9uaEgq5NcVF1BFibuagu4YVUPewj5FNDn962F9Z9\u002Bx6RSsTkvAdNoYeZUoNN9VSOTHHqpyB1agKTMOLPl2l69xlKCm7TOiV\u002BBpxUioHABaqKJ9tUk0P\u002BK9DCUYskjgouLlt6A/rlqwJcbJCEEO\u002BA0ytINX\u002BOJmPFW96OEOiaWYiCNmwmVgGvpHzJCCajahrxMX5f7Eian/f3tKgcV5opwhMYAdpzWn0pmJDyxR5NEeHDnN9qOn0/55ZkPpFZk0zir0YTm2gwjecBNkO3p9rpqqLGSMq6z4el2Bo0Hxvr3/VUEBXYKXaJkx74aQQpiD/Li[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-18940f2f-ed95-424e-8c0c-d4ac06cdda83?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Oct 2019 02:08:27 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "67862548",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}