{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c40cd8c1-0175-f333-2de9-8d487311c01a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:27 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D7607AB4E737\u0022",
        "Last-Modified": "Thu, 02 Apr 2020 23:49:27 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c40cd8c1-0175-f333-2de9-8d487311c01a/test-blob-789a07f4-e0ed-8dbc-4793-8d895c6906aa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "tx5CjUoS9w\u002BPxpnRI9/qgJY61eXouYIlKTlmj1p\u002B3tZNZvpwdMce4RCK6CdG62loqQzyIZQgwv2bHGQRrGi1EOfCg7zleQzPHPPVXdBb3z7P/eVNjLxCLaT81VdjDTSo1dc/g2esgjAAIwWgS2QtQD0mQa6CZ4QqgFYY6aS0aw\u002B\u002BLIf4G1vWI3u1TWm3ouE/zpQaPcuFJW5TFQMQk5mLS7f24R7cNCXhTx4zzBkac9502BoPmS5DOAcZpQVYxo/hKQGywMDCY5pvOe6tUlhUOKIlm7t/fLKJs6gXw48fiYmPUqMYaLIdsXV/oGA/luauxGxjMirUYa1PKA0Xq6AKULBl[...]
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-c40cd8c1-0175-f333-2de9-8d487311c01a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Apr 2020 23:49:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "251363878",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}