{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-1bfaa9f5-5e30-16d8-ae68-fa1084f629a4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:10:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B5697E8D4B\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:10:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-1bfaa9f5-5e30-16d8-ae68-fa1084f629a4/test-blob-c5002596-277d-61b7-1d17-7a470545396b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:10:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u002BJHBySqqztSLmF7mHCgEN7c\u002B/bZCqusnA2phvkBcQFGYDGtNp2fv61crOeXJ0UX1EkKPx0iCKE6mmsbASA\u002BUL1cMTRC9to9QThFfF3AFXTElbKv9zXgIFeMdpw2hLqJHlgqOvIM0OFuzP3k3IxHdoDyUm9xkl2HeBDgsoA\u002BCrh9uGIBld6Cu8DRPSo7/0fLRPwbQDZPG4/\u002Bor7hLCJdMMJBZyAuQdymb5qqoFE3T3jJFWmAJsqGLqDWBvMjoYuicAxn9pgnnQMfcNCfpHc6x1dCGBa02Qn7vzSDWD7ths4PCDBA01TgpXhqZLH16oopm0Of3Ylw7ZcGbDtnoEDE[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-1bfaa9f5-5e30-16d8-ae68-fa1084f629a4?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:10:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022http://amandacanary.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-1bfaa9f5-5e30-16d8-ae68-fa1084f629a4\u0022\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Etest-blob-c5002596-277d-61b7-1d17-7a470545396b\u003C/Name\u003E\u003CProperties\u003E\u003CCreation-Time\u003ESat, 25 Apr 2020 01:10:15 GMT\u003C/Creation-Time\u003E\u003CLast-Modified\u003ESat, 25 Apr 2020 01:10:15 GMT\u003C/Last-Modified\u003E\u003CEtag\u003E0x8D7E8B5698AB5D7\u003C/Etag\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003CContent-Type\u003Eapplication/octet-stream\u003C/Content-Type\u003E\u003CContent-Encoding /\u003E\u003CContent-Language /\u003E\u003CContent-CRC64 /\u003E\u003CContent-MD5\u003EACKJqRZg\u002BdfH4Lc97FmAjg==\u003C/Content-MD5\u003E\u003CCache-Control /\u003E\u003CContent-Disposition /\u003E\u003CBlobType\u003EBlockBlob\u003C/BlobType\u003E\u003CAccessTier\u003EHot\u003C/AccessTier\u003E\u003CAccessTierInferred\u003Etrue\u003C/AccessTierInferred\u003E\u003CLeaseStatus\u003Eunlocked\u003C/LeaseStatus\u003E\u003CLeaseState\u003Eavailable\u003C/LeaseState\u003E\u003CServerEncrypted\u003Etrue\u003C/ServerEncrypted\u003E\u003C/Properties\u003E\u003C/Blob\u003E\u003C/Blobs\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-1bfaa9f5-5e30-16d8-ae68-fa1084f629a4/test-blob-c5002596-277d-61b7-1d17-7a470545396b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:10:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ACKJqRZg\u002BdfH4Lc97FmAjg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B5698AB5D7\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:10:15 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 25 Apr 2020 01:10:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "\u002BJHBySqqztSLmF7mHCgEN7c\u002B/bZCqusnA2phvkBcQFGYDGtNp2fv61crOeXJ0UX1EkKPx0iCKE6mmsbASA\u002BUL1cMTRC9to9QThFfF3AFXTElbKv9zXgIFeMdpw2hLqJHlgqOvIM0OFuzP3k3IxHdoDyUm9xkl2HeBDgsoA\u002BCrh9uGIBld6Cu8DRPSo7/0fLRPwbQDZPG4/\u002Bor7hLCJdMMJBZyAuQdymb5qqoFE3T3jJFWmAJsqGLqDWBvMjoYuicAxn9pgnnQMfcNCfpHc6x1dCGBa02Qn7vzSDWD7ths4PCDBA01TgpXhqZLH16oopm0Of3Ylw7ZcGbDtnoEDEMe4CkJxG\u002Bff\u002BYXaeSnRUAdSqWbz/TaVEmhqZPmcdfQE3ojbD[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-1bfaa9f5-5e30-16d8-ae68-fa1084f629a4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:10:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1172044812",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}