{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-0d30dc76-b30c-6c12-ff4f-4615293969f6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Mar 2021 06:45:27 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8DFA242DAEB06\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 06:45:27 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-0d30dc76-b30c-6c12-ff4f-4615293969f6/test-blob-1ea636c2-0c35-dc51-1cf6-67b89b489b15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Mar 2021 06:45:27 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "3KVDp3ve8HsOT5Jdel5fMpTNB5pEVGvGMOFtEG5o7qmICoQ1MBfO40YqD\u002BV59GK\u002BljQjzUAB0Ic6fXeZcd8NpmDp1W/ZKQJ9/yRUGUSFTDt/r3k5RCFohjn9\u002B7KgNXFmHWmEjx7y5G0xps4crLdDtDA7GsJm02E/gU413C5P3cmy7vzaALwcjMoMB55STNqCuUaCZBuvAEoHRA7QvQg/4sgEab67aLRzHo34WcvD7TRzsyLnzXiuA\u002B2x07uuTM/BzSXVTeMbx1GSDkWNt6Z\u002BRFfZXAnlVxVQVWXQCZX4xdK\u002BNoyl7p9RWOvRVb4zIUtHMo5k1O/F3HUQhf[...]
[...]
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-0d30dc76-b30c-6c12-ff4f-4615293969f6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 06:45:27 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1348611481",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope"
  }
}