{
  "Entries": [
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-7487be93-768f-b444-e1b8-ca26a5ba886f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:15 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D1C749F4F944\u0022",
        "Last-Modified": "Thu, 26 Mar 2020 20:50:16 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-7487be93-768f-b444-e1b8-ca26a5ba886f/test-blob-9324697a-3165-72e4-87f0-3270e5d4f27d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:15 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "t88Y4mMPJj195vojzoZYqAHD9Fg/bJbc3uTxWHCIlDXN1fhwgTtpa0PnFn42waMAl4luIt\u002BaPks4OwN\u002BHc3M9VLFVvmO6CfFWYkUWFUXphxB8cDmGXFVMpetN0U36k11GiErcWupcq9iqMhWhuX1IZXmPSwM5tvhbyNi4LHijm88nj406zSxl34RhHCp/6yxtxWvUa0gaTRGSgFIRpH9gBpZGuenwTVhNaWt\u002B2FqN3B2sSmbMjzBGzUJ7qEyaVHtEwRVT\u002BTFCfbgThsHc27S2xKQ0ZVoYk3dl/\u002ByndOULstUwOddFOeMsagzu\u002BQhuqfHNxKOope8hLG2eL[...]
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-7487be93-768f-b444-e1b8-ca26a5ba886f/test-blob-9324697a-3165-72e4-87f0-3270e5d4f27d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:16 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "4QH8q2xeOX1x\u002Bh\u002BoNc2khA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D1C74A042021\u0022",
        "Last-Modified": "Thu, 26 Mar 2020 20:50:16 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 26 Mar 2020 20:50:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "t88Y4mMPJj195vojzoZYqAHD9Fg/bJbc3uTxWHCIlDXN1fhwgTtpa0PnFn42waMAl4luIt\u002BaPks4OwN\u002BHc3M9VLFVvmO6CfFWYkUWFUXphxB8cDmGXFVMpetN0U36k11GiErcWupcq9iqMhWhuX1IZXmPSwM5tvhbyNi4LHijm88nj406zSxl34RhHCp/6yxtxWvUa0gaTRGSgFIRpH9gBpZGuenwTVhNaWt\u002B2FqN3B2sSmbMjzBGzUJ7qEyaVHtEwRVT\u002BTFCfbgThsHc27S2xKQ0ZVoYk3dl/\u002ByndOULstUwOddFOeMsagzu\u002BQhuqfHNxKOope8hLG2eLjlE2sjSx9Ps7KHdMYqBCDsNaZovN1X62bABow0lzs1ppwvpp48D2/F0Qb1[...]
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-7487be93-768f-b444-e1b8-ca26a5ba886f/test-blob-9324697a-3165-72e4-87f0-3270e5d4f27d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:16 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "4QH8q2xeOX1x\u002Bh\u002BoNc2khA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D1C74A042021\u0022",
        "Last-Modified": "Thu, 26 Mar 2020 20:50:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 26 Mar 2020 20:50:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.blob.core.windows.net/test-container-7487be93-768f-b444-e1b8-ca26a5ba886f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Mar 2020 20:50:16 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1255623752",
    "Storage_TestConfigDefault": "ProductionTenant\nseandevtest\nU2FuaXRpemVk\nhttps://seandevtest.blob.core.windows.net\nhttps://seandevtest.file.core.windows.net\nhttps://seandevtest.queue.core.windows.net\nhttps://seandevtest.table.core.windows.net\n\n\n\n\nhttps://seandevtest-secondary.blob.core.windows.net\nhttps://seandevtest-secondary.file.core.windows.net\nhttps://seandevtest-secondary.queue.core.windows.net\nhttps://seandevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seandevtest.blob.core.windows.net/;QueueEndpoint=https://seandevtest.queue.core.windows.net/;FileEndpoint=https://seandevtest.file.core.windows.net/;BlobSecondaryEndpoint=https://seandevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seandevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seandevtest-secondary.file.core.windows.net/;AccountName=seandevtest;AccountKey=Sanitized\nseanscope1"
  }
}