{
  "Entries": [
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1868521982?api-version=2021-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "This is the description for a test project",
        "language": "en",
        "multilingualResource": false,
        "settings": {
          "defaultAnswer": "No answer found for your question."
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "projectName": "TestProject1868521982",
        "description": "This is the description for a test project",
        "language": "en",
        "multilingualResource": false,
        "createdDateTime": "2022-10-13T00:29:32Z",
        "lastModifiedDateTime": "2022-10-13T00:29:32Z",
        "settings": {
          "defaultAnswer": "No answer found for your question."
        }
      }
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/query-knowledgebases/projects?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "projectName": "IssacNewton",
            "description": "biography of Sir Issac Newton",
            "language": "en",
            "multilingualResource": false,
            "createdDateTime": "2022-10-12T13:02:06Z",
            "lastModifiedDateTime": "2022-10-12T13:16:35Z",
            "lastDeployedDateTime": "2022-10-12T13:17:06Z",
            "settings": {
              "defaultAnswer": "no answer"
            }
          },
          {
            "projectName": "Microsoft",
            "description": "test project for some Microsoft QnAs",
            "language": "en",
            "multilingualResource": false,
            "createdDateTime": "2022-08-03T00:17:01Z",
            "lastModifiedDateTime": "2022-10-12T13:14:55Z",
            "settings": {
              "defaultAnswer": "no answer"
   [...]
[...]
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1868521982/sources?api-version=2021-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": "[{\u0022op\u0022:\u0022add\u0022,\u0022value\u0022:{\u0022displayName\u0022:\u0022MicrosoftFAQ\u0022,\u0022source\u0022:\u0022https://www.microsoft.com/en-in/software-download/faq\u0022,\u0022sourceUri\u0022:\u0022https://www.microsoft.com/en-in/software-download/faq\u0022,\u0022sourceKind\u0022:\u0022url\u0022,\u0022contentStructureKind\u0022:\u0022unstructured\u0022,\u0022refresh\u0022:false}}]",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://languagesdkresource.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/TestProject1868521982/sources/jobs/d072824c-a56e-41d4-8caa-5e1d550f33a1?api-version=2021-10-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1868521982/sources/jobs/d072824c-a56e-41d4-8caa-5e1d550f33a1?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "30"
      },
      "ResponseBody": {
        "createdDateTime": "2022-10-13T00:29:35\u002B00:00",
        "expirationDateTime": "2022-10-13T06:29:35\u002B00:00",
        "jobId": "d072824c-a56e-41d4-8caa-5e1d550f33a1",
        "lastUpdatedDateTime": "2022-10-13T00:29:35\u002B00:00",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1868521982/sources/jobs/d072824c-a56e-41d4-8caa-5e1d550f33a1?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "createdDateTime": "2022-10-13T00:29:35\u002B00:00",
        "expirationDateTime": "2022-10-13T06:29:35\u002B00:00",
        "jobId": "d072824c-a56e-41d4-8caa-5e1d550f33a1",
        "lastUpdatedDateTime": "2022-10-13T00:29:55\u002B00:00",
        "status": "succeeded",
        "resultUrl": "/knowledgebases/TestProject1868521982"
      }
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1868521982/sources?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "displayName": "MicrosoftFAQ",
            "source": "https://www.microsoft.com/en-in/software-download/faq",
            "sourceUri": "https://www.microsoft.com/en-in/software-download/faq",
            "sourceKind": "url",
            "contentStructureKind": "unstructured",
            "lastUpdatedDateTime": "2022-10-13T00:29:53.228808Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1868521982/deployments/production?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://languagesdkresource.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/TestProject1868521982/deployments/production/jobs/410666b6-0537-40ef-9f44-f67bfc4ed8cf?api-version=2021-10-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1868521982/deployments/production/jobs/410666b6-0537-40ef-9f44-f67bfc4ed8cf?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "30"
      },
      "ResponseBody": {
        "createdDateTime": "2022-10-13T00:30:06\u002B00:00",
        "expirationDateTime": "2022-10-13T06:30:06\u002B00:00",
        "jobId": "410666b6-0537-40ef-9f44-f67bfc4ed8cf",
        "lastUpdatedDateTime": "2022-10-13T00:30:06\u002B00:00",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1868521982/deployments/production?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "deploymentName": "production",
        "lastDeployedDateTime": "2022-10-13T00:30:16Z"
      }
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1868521982/deployments?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "deploymentName": "production",
            "lastDeployedDateTime": "2022-10-13T00:30:16Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1868521982/deployments?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "deploymentName": "production",
            "lastDeployedDateTime": "2022-10-13T00:30:16Z"
          }
        ]
      }
    }
  ],
  "Variables": {
    "QUESTIONANSWERING_ENDPOINT": "https://languagesdkresource.cognitiveservices.azure.com/",
    "QUESTIONANSWERING_KEY": "Sanitized",
    "RandomSeed": "1707177537"
  }
}
