{
  "Entries": [
    {
      "RequestUri": "/vision/v1.0/analyze?visualFeatures=Adult%2CCategories%2CColor%2CFaces%2CImageType%2CTags",
      "RequestMethod": "POST",
      "IsRequestBodyBinary": false,
      "RequestBody": "{\r\n  \"url\": \"https://raw.githubusercontent.com/Azure/azure-sdk-for-net/psSdkJson6/src/SDKs/CognitiveServices/dataPlane/Vision/ComputerVision/ComputerVision.Tests/TestImages/house.jpg\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Ocp-Apim-Subscription-Key": [
          ""
        ]
      },
      "IsResponseBodyBinary": false,
      "ResponseBody": "{\r\n  \"categories\": [\r\n    {\r\n      \"name\": \"building_\",\r\n      \"score\": 0.640625\r\n    },\r\n    {\r\n      \"name\": \"outdoor_house\",\r\n      \"score\": 0.31640625\r\n    }\r\n  ],\r\n  \"tags\": [\r\n    {\r\n      \"name\": \"grass\",\r\n      \"confidence\": 0.9999992847442627\r\n    },\r\n    {\r\n      \"name\": \"outdoor\",\r\n      \"confidence\": 0.99983179569244385\r\n    },\r\n    {\r\n      \"name\": \"sky\",\r\n      \"confidence\": 0.994972825050354\r\n    },\r\n    {\r\n      \"name\": \"house\",\r\n      \"confidence\": 0.98920279741287231\r\n    },\r\n    {\r\n      \"name\": \"building\",\r\n      \"confidence\": 0.96683281660079956\r\n    },\r\n    {\r\n      \"name\": \"green\",\r\n      \"confidence\": 0.84886491298675537\r\n    },\r\n    {\r\n      \"name\": \"lawn\",\r\n      \"confidence\": 0.8137822151184082\r\n    },\r\n    {\r\n      \"name\": \"residential\",\r\n      \"confidence\": 0.41664695739746094\r\n    },\r\n    {\r\n      \"name\": \"grassy\",\r\n      \"confidence\": 0.40174955129623413\r\n    }\r\n  ],\r\n  \"faces\": [],\r\n  \"adult\": {\r\n    \"isAdultContent\": false,\r\n    \"adultScore\": 0.010395138524472713,\r\n    \"isRacyContent\": false,\r\n    \"racyScore\": 0.014745410531759262\r\n  },\r\n  \"color\": {\r\n    \"dominantColorForeground\": \"Green\",\r\n    \"dominantColorBackground\": \"Green\",\r\n    \"dominantColors\": [\r\n      \"Green\",\r\n      \"White\"\r\n    ],\r\n    \"accentColor\": \"448318\",\r\n    \"isBwImg\": false\r\n  },\r\n  \"imageType\": {\r\n    \"clipArtType\": 0,\r\n    \"lineDrawingType\": 0\r\n  },\r\n  \"requestId\": \"790935aa-a11f-48e0-8f20-8b2b5b3ee781\",\r\n  \"metadata\": {\r\n    \"height\": 462,\r\n    \"width\": 600,\r\n    \"format\": \"Jpeg\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}