{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/structured/json?api-version=1.0\u0026countryCode=NZ\u0026municipality=Closeburn",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "a1ee513d-a824-4693-a430-e997b5d25172"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "query": "closeburn",
          "queryType": "NON_NEAR",
          "queryTime": 5,
          "numResults": 1,
          "offset": 0,
          "totalResults": 1,
          "fuzzyLevel": 1
        },
        "results": [
          {
            "type": "Geography",
            "id": "NZ/GEO/p0/332",
            "score": 2.382011652,
            "entityType": "Municipality",
            "address": {
              "municipality": "Closeburn",
              "countrySecondarySubdivision": "Otago",
              "countryTertiarySubdivision": "Queenstown Lakes",
              "countrySubdivision": "South Island",
              "countryCode": "NZ",
              "country": "New Zealand",
              "countryCodeISO3": "NZL",
              "freeformAddress": "Closeburn"
            },
            "position": {
              "lat": -45.06073,
              "lon": 168.56997
            },
            "viewport": {
              "topLeftPoint": {
                "lat": -44.99284,
                "lon": 168.54404
              },
              "btmRightPoint": {
                "lat": -45.08264,
                "lon": 168.59708
              }
            },
            "boundingBox": {
              "topLeftPoint": {
                "lat": -44.99284,
                "lon": 168.54404
              },
              "btmRightPoint": {
                "lat": -45.08264,
                "lon": 168.59708
              }
            },
            "dataSources": {
              "geometry": {
                "id": "00005831-3200-1200-0000-00007d340d53"
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "a1ee513d-a824-4693-a430-e997b5d25172",
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "ENDPOINT_URL": "https://atlas.microsoft.com",
    "RandomSeed": "395456507"
  }
}
