{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/json?api-version=1.0\u0026query=Moke\u0026topLeft=-44.99%2C-191.4481\u0026btmRight=-45.0128%2C-191.4148",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "a1ee513d-a824-4693-a430-e997b5d25172"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "query": "moke",
          "queryType": "NON_NEAR",
          "queryTime": 5,
          "numResults": 1,
          "offset": 0,
          "totalResults": 1,
          "fuzzyLevel": 1
        },
        "results": [
          {
            "type": "Street",
            "id": "NZ/STR/p0/122946",
            "score": 2.0553257465,
            "matchConfidence": {
              "score": 0.8924786087880523
            },
            "address": {
              "streetName": "Moke Lake Road",
              "municipality": "Closeburn",
              "countrySecondarySubdivision": "Otago",
              "countryTertiarySubdivision": "Queenstown Lakes",
              "countrySubdivision": "South Island",
              "postalCode": "9371",
              "countryCode": "NZ",
              "country": "New Zealand",
              "countryCodeISO3": "NZL",
              "freeformAddress": "Moke Lake Road, Closeburn, Closeburn 9371",
              "localName": "Closeburn"
            },
            "position": {
              "lat": -44.99791,
              "lon": 168.57396
            },
            "viewport": {
              "topLeftPoint": {
                "lat": -44.99757,
                "lon": 168.57261
              },
              "btmRightPoint": {
                "lat": -44.99862,
                "lon": 168.57492
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "a1ee513d-a824-4693-a430-e997b5d25172",
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "ENDPOINT_URL": "https://atlas.microsoft.com",
    "RandomSeed": "939762786"
  }
}
