{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/json?api-version=1.0\u0026query=Seattle",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "a1ee513d-a824-4693-a430-e997b5d25172"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "query": "seattle",
          "queryType": "NON_NEAR",
          "queryTime": 7,
          "numResults": 10,
          "offset": 0,
          "totalResults": 271,
          "fuzzyLevel": 1
        },
        "results": [
          {
            "type": "Geography",
            "id": "US/GEO/p0/45325",
            "score": 2.5829555988,
            "entityType": "Municipality",
            "matchConfidence": {
              "score": 1
            },
            "address": {
              "municipality": "Seattle",
              "countrySecondarySubdivision": "King",
              "countrySubdivision": "WA",
              "countrySubdivisionName": "Washington",
              "countryCode": "US",
              "country": "United States",
              "countryCodeISO3": "USA",
              "freeformAddress": "Seattle, WA"
            },
            "position": {
              "lat": 47.60323,
              "lon": -122.33028
            },
            "viewport": {
              "topLeftPoint": {
                "lat": 47.7364,
                "lon": -122.4594
              },
              "btmRightPoint": {
                "lat": 47.35069,
                "lon": -122.21866
              }
            },
            "boundingBox": {
              "topLeftPoint": {
                "lat": 47.7364,
                "lon": -122.4594
              },
              "btmRightPoint": {
                "lat": 47.35069,
                "lon": -122.21866
              }
            },
            "dataSources": {
              "geometry": {
                "id": "00005557-4100-3c00-0000-0000596ae44e"
              }
            }
          },
          {
            "type": "Geography",
            "id": "MX/GEO/p0/14890",
            "score": 2.1768069267,
            "entityType": "MunicipalitySubdivision",
            "matchConfidence": {
              "score": 1
            },
            "address": {
              "municipalitySubdivision": "Seattle",
              "municipality": "Zapopan",
              "countrySubdivision": "Jalisco",
              "countryCode": "MX",
              "country": "M\u00E9xico",
              "countryCodeISO3": "MEX",
              "freeformAddress": "Seattle, Zapopan, Jalisco"
            },
            "position": {
              "lat": 20.71994,
              "lon": -103.37196
            },
            "viewport": {
              "topLeftPoint": {
                "lat": 20.72179,
              [...]
