{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/json?api-version=1.0\u0026query=Road\u0026countrySet=FJI",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "a1ee513d-a824-4693-a430-e997b5d25172"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "query": "road",
          "queryType": "NON_NEAR",
          "queryTime": 7,
          "numResults": 10,
          "offset": 0,
          "totalResults": 386,
          "fuzzyLevel": 1
        },
        "results": [
          {
            "type": "Street",
            "id": "FJ/STR/p0/4126",
            "score": 2.0962057114,
            "matchConfidence": {
              "score": 0.8177943205775379
            },
            "address": {
              "streetName": "Queen\u0027s Road",
              "countrySecondarySubdivision": "Ba",
              "countrySubdivision": "Western",
              "countryCode": "FJ",
              "country": "Fiji",
              "countryCodeISO3": "FJI",
              "freeformAddress": "Queen\u0027s Road Ba, Western"
            },
            "position": {
              "lat": -17.70493,
              "lon": 177.43656
            },
            "viewport": {
              "topLeftPoint": {
                "lat": -17.70212,
                "lon": 177.42359
              },
              "btmRightPoint": {
                "lat": -17.72011,
                "lon": 177.44247
              }
            }
          },
          {
            "type": "Street",
            "id": "FJ/STR/p0/4206",
            "score": 2.0962057114,
            "matchConfidence": {
              "score": 0.8177943205775379
            },
            "address": {
              "streetName": "Queen\u0027s Road",
              "countryCode": "FJ",
              "country": "Fiji",
              "countryCodeISO3": "FJI",
  [...]
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/json?api-version=1.0\u0026query=Road\u0026countrySet=NZ",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "a1ee513d-a824-4693-a430-e997b5d25172"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "query": "road",
          "queryType": "NON_NEAR",
          "queryTime": 6,
          "numResults": 10,
          "offset": 0,
          "totalResults": 25966,
          "fuzzyLevel": 1
        },
        "results": [
          {
            "type": "Geography",
            "id": "NZ/GEO/p0/795",
            "score": 2.3589038849,
            "entityType": "Municipality",
            "matchConfidence": {
              "score": 0.8778741556780475
            },
            "address": {
              "municipality": "Gorge Road",
              "countrySecondarySubdivision": "Southland",
              "countryTertiarySubdivision": "Southland",
              "countrySubdivision": "South Island",
              "countryCode": "NZ",
              "country": "New Zealand",
              "countryCodeISO3": "NZL",
              "freeformAddress": "Gorge Road"
            },
            "position": {
              "lat": -46.4769,
              "lon": 168.702
            },
            "viewport": {
              "topLeftPoint": {
                "lat": -46.42802,
                "lon": 168.64996
              },
              "btmRightPoint": {
                "lat": -46.57068,
                "lon": 168.75584
              }
            },
            "boundingBox": {
              "topLeftPoint": {
                "lat": -46.42802,
                "lon": 168.64996
              },
              "btmRightPoint": {
                "lat": -46.57068,
                "lon": 168.75584
              }
            },
            "dataSources": {
              "geometry": {
                "id": "00005831-3200-1200-0000-00007d3288e1"
              }
            }
          },
          {
            "type": "Geography",
            "id": "NZ/GEO/p0/3871",
            "score": 2.3587200642,
            "entityType": "Municipality",
            "matchConfidence": {
              "score": 0.8651104317926912
            },
            "address": {
              "municipality": "Mill Road",
              "countrySecondarySubdivision": "Southland",
              "coun[...]
