{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/batch/sync/json?api-version=1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-client-id": "a1ee513d-a824-4693-a430-e997b5d25172"
      },
      "RequestBody": {
        "batchItems": [
          {
            "query": "?query=Microsoft%20Campus"
          },
          {
            "query": "?query=Millenium\u0026countrySet=US"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "batchItems": [
          {
            "statusCode": 200,
            "response": {
              "summary": {
                "query": "microsoft campus",
                "queryType": "NON_NEAR",
                "queryTime": 3,
                "numResults": 1,
                "offset": 0,
                "totalResults": 1,
                "fuzzyLevel": 1
              },
              "results": [
                {
                  "type": "Street",
                  "id": "US/STR/p2/1557700",
                  "score": 4.1924114227,
                  "matchConfidence": {
                    "score": 1
                  },
                  "address": {
                    "streetName": "Microsoft West Campus Road",
                    "municipality": "Redmond",
                    "countrySecondarySubdivision": "King",
                    "countrySubdivision": "WA",
                    "countrySubdivisionName": "Washington",
                    "countryCode": "US",
                    "country": "United States",
                    "countryCodeISO3": "USA",
                    "freeformAddress": "Microsoft West Campus Road, Redmond, WA",
                    "localName": "Redmond"
                  },
                  "position": {
                    "lat": 47.65977,
                    "lon": -122.13888
                  },
                  "viewport": {
                    "topLeftPoint": {
                      "lat": 47.66039,
                      "lon": -122.14335
                    },
                    "btmRightPoint": {
                      "lat": 47.65778,
                      "lon": -122.13749
                    }
                  }
                }
              ]
            }
          },
          {
            "statusCode": 200,
            "response": {
              "summary": {
                "query": "millenium",
                "queryType": "NON_NEAR",
                "queryTime": 3,
                "numResults": 2,
                "offset": 0,
                "totalResults": 2,
                "fuzzyLevel": 1
              },
              "results": [
                {
                  "type": "Street",
                  "id": "US/STR/p1/1964792",
                  "score": 2.0959999561,
                  "matchConfidence": {
                    "score": 1
                  },
                  "address": {
                    "streetName": "East Millenium Court",
                    "municipalitySubdivision": "Hedrick Acres",
                    "municipality": "Tucson",
                    "countrySecondarySubdivision": "Pima",
                    "countrySubdivision": "AZ",
                    "countrySubdivisionName": "Arizona",
                    "postalCode": "85719",
                    "extendedPostalCode": "85719-2548, 85719-2569",
                    "countryCode": "US",
                    "country": "United States",
                    "countryCodeISO3": "USA",
                    "freeformAddress": "East Millenium Court, Tucson, AZ 85719",
                    "localName": "Tucson"
                  },
                  "position": {
                    "lat": 32.26198,
                    "lon": -110.9588
                  },
                  "viewport": {
                    "topLeftPoint":[...]
