{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/json?api-version=1.0\u0026query=Road\u0026countrySet=FJI",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "6a782b5b-631c-450d-9aa4-e561679d0d28"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "query": "road",
          "queryType": "NON_NEAR",
          "queryTime": 3,
          "numResults": 10,
          "offset": 0,
          "totalResults": 386,
          "fuzzyLevel": 1
        },
        "results": [
          {
            "type": "Street",
            "id": "FJ/STR/p0/4231",
            "score": 2.0962057114,
            "address": {
              "streetName": "Bukuya Road",
              "countrySecondarySubdivision": "Ba",
              "countrySubdivision": "Western",
              "countryCode": "FJ",
              "country": "Fiji",
              "countryCodeISO3": "FJI",
              "freeformAddress": "Bukuya Road Ba, Western"
            },
            "position": {
              "lat": -17.66581,
              "lon": 177.7786
            },
            "viewport": {
              "topLeftPoint": {
                "lat": -17.65377,
                "lon": 177.75875
              },
              "btmRightPoint": {
                "lat": -17.67175,
                "lon": 177.77762
              }
            }
          },
          {
            "type": "Street",
            "id": "FJ/STR/p0/4249",
            "score": 2.0962057114,
            "address": {
              "streetName": "Meginyia Road",
              "municipality": "Nadi",
              "countrySecondarySubdivision": "Ba",
              "countrySubdivision": "Western",
              "countryCode": "FJ",
              "country": "Fiji",
              "countryCodeISO3": "FJI",
              "freeformAddress": "Meginyia Road Nadi Ba, Western",
              "localName": "Nadi"
            },
            "position": {
              "lat": -17.77726,
              "lon": 177.44487
            },
            "viewport": {
              "topLeftPoint": {
                "lat": -17.76666,
                "lon": 177.43525
              },
              "btmRightPoint": {
                "lat": -17.78464,
                "lon": 177.45413
              }
            }
          },
          {
            "type": "Street",
            "id": "FJ/STR/p0/4339",
          [...]
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/json?api-version=1.0\u0026query=Road\u0026countrySet=NZ",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "6a782b5b-631c-450d-9aa4-e561679d0d28"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "query": "road",
          "queryType": "NON_NEAR",
          "queryTime": 8,
          "numResults": 10,
          "offset": 0,
          "totalResults": 25935,
          "fuzzyLevel": 1
        },
        "results": [
          {
            "type": "Geography",
            "id": "NZ/GEO/p0/3259",
            "score": 2.3589038849,
            "entityType": "Municipality",
            "address": {
              "municipality": "Gorge Road",
              "countrySecondarySubdivision": "Southland",
              "countryTertiarySubdivision": "Southland",
              "countrySubdivision": "South Island",
              "countryCode": "NZ",
              "country": "New Zealand",
              "countryCodeISO3": "NZL",
              "freeformAddress": "Gorge Road"
            },
            "position": {
              "lat": -46.4769,
              "lon": 168.702
            },
            "viewport": {
              "topLeftPoint": {
                "lat": -46.42802,
                "lon": 168.64996
              },
              "btmRightPoint": {
                "lat": -46.57068,
                "lon": 168.75584
              }
            },
            "boundingBox": {
              "topLeftPoint": {
                "lat": -46.42802,
                "lon": 168.64996
              },
              "btmRightPoint": {
                "lat": -46.57068,
                "lon": 168.75584
              }
            },
            "dataSources": {
              "geometry": {
                "id": "00005831-3200-1200-0000-00007d3288e1"
              }
            }
          },
          {
            "type": "Geography",
            "id": "NZ/GEO/p0/2556",
            "score": 2.3587200642,
            "entityType": "Municipality",
            "address": {
              "municipality": "Mill Road",
              "countrySecondarySubdivision": "Southland",
              "countryTertiarySubdivision": "Invercargill",
              "countrySubdivision": "South Island[...]
