{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/json?api-version=1.0\u0026query=Redmond\u0026entityType=Municipality",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "a1ee513d-a824-4693-a430-e997b5d25172"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "query": "redmond",
          "queryType": "NON_NEAR",
          "queryTime": 5,
          "numResults": 6,
          "offset": 0,
          "totalResults": 6,
          "fuzzyLevel": 1
        },
        "results": [
          {
            "type": "Geography",
            "id": "US/GEO/p0/66290",
            "score": 2.4457623959,
            "entityType": "Municipality",
            "matchConfidence": {
              "score": 1
            },
            "address": {
              "municipality": "Redmond",
              "countrySecondarySubdivision": "King",
              "countrySubdivision": "WA",
              "countrySubdivisionName": "Washington",
              "countryCode": "US",
              "country": "United States",
              "countryCodeISO3": "USA",
              "freeformAddress": "Redmond, WA"
            },
            "position": {
              "lat": 47.67491,
              "lon": -122.124
            },
            "viewport": {
              "topLeftPoint": {
                "lat": 47.734,
                "lon": -122.165
              },
              "btmRightPoint": {
                "lat": 47.60034,
                "lon": -121.95058
              }
            },
            "boundingBox": {
              "topLeftPoint": {
                "lat": 47.734,
                "lon": -122.165
              },
              "btmRightPoint": {
                "lat": 47.60034,
                "lon": -121.95058
              }
            },
            "dataSources": {
              "geometry": {
                "id": "00005557-4100-3c00-0000-0000596ae571"
              }
            }
          },
          {
            "type": "Geography",
            "id": "US/GEO/p0/71393",
            "score": 2.4161009789,
            "entityType": "Municipality",
            "matchConfidence": {
              "score": 1
            },
            "address": {
              "municipality": "Redmond",
              "countrySecondarySubdivision": "Deschutes",
              "countrySubdivision": "[...]
