{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/json?api-version=1.0\u0026query=Road\u0026lat=25.04\u0026lon=121.56\u0026language=en",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "a1ee513d-a824-4693-a430-e997b5d25172"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "query": "road",
          "queryType": "NON_NEAR",
          "queryTime": 8,
          "numResults": 10,
          "offset": 0,
          "totalResults": 677236,
          "fuzzyLevel": 1,
          "geoBias": {
            "lat": 25.04,
            "lon": 121.56
          }
        },
        "results": [
          {
            "type": "Street",
            "id": "TW/STR/p0/82305",
            "score": 2.5942528248,
            "dist": 169.182626493177,
            "matchConfidence": {
              "score": 0.7699791583983249
            },
            "address": {
              "streetName": "Yixian Road",
              "municipalitySubdivision": "Xinyi District",
              "municipality": "Taipei City",
              "countrySubdivision": "Taipei City",
              "postalCode": "110",
              "extendedPostalCode": "11071",
              "countryCode": "TW",
              "country": "Taiwan",
              "countryCodeISO3": "TWN",
              "freeformAddress": "Yixian Road, Xinyi District, Taipei City 11071",
              "localName": "Xinyi District"
            },
            "position": {
              "lat": 25.03946,
              "lon": 121.56157
            },
            "viewport": {
              "topLeftPoint": {
                "lat": 25.04132,
                "lon": 121.56146
              },
              "btmRightPoint": {
                "lat": 25.03752,
                "lon": 121.56162
              }
            }
          },
          {
            "type": "Street",
            "id": "TW/STR/p0/84184",
            "score": 2.5942020416,
            "dist": 228.95988254790896,
            "matchConfidence": {
              "score": 0.7702488129039459
            },
            "address": {
              "streetName": "Songgao Road",
              "municipalitySubdivision": "Xinyi District",
              "m[...]
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/json?api-version=1.0\u0026query=Road\u0026lat=47.6773\u0026lon=-122.091",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "a1ee513d-a824-4693-a430-e997b5d25172"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "query": "road",
          "queryType": "NON_NEAR",
          "queryTime": 8,
          "numResults": 10,
          "offset": 0,
          "totalResults": 677234,
          "fuzzyLevel": 1,
          "geoBias": {
            "lat": 47.6773,
            "lon": -122.091
          }
        },
        "results": [
          {
            "type": "Street",
            "id": "US/STR/p3/2036439",
            "score": 2.5916588306,
            "dist": 1118.3589711278755,
            "matchConfidence": {
              "score": 0.8780473287489545
            },
            "address": {
              "streetName": "East Road",
              "municipality": "Redmond",
              "countrySecondarySubdivision": "King",
              "countrySubdivision": "WA",
              "countrySubdivisionName": "Washington",
              "postalCode": "98052",
              "countryCode": "US",
              "country": "United States",
              "countryCodeISO3": "USA",
              "freeformAddress": "East Road, Redmond, WA 98052",
              "localName": "Redmond"
            },
            "position": {
              "lat": 47.68616,
              "lon": -122.09807
            },
            "viewport": {
              "topLeftPoint": {
                "lat": 47.6871,
                "lon[...]
