{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/providers/Microsoft.Search/register?api-version=2015-11-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/providers/Microsoft.Search\",\r\n  \"namespace\": \"Microsoft.Search\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"searchServices\",\r\n      \"locations\": [\r\n        \"West US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-08-19\",\r\n        \"2015-02-28\",\r\n        \"2014-07-31-Preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"searchServicesCit\",\r\n      \"locations\": [\r\n        \"West US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-08-19\",\r\n        \"2015-02-28\",\r\n        \"2014-07-31-Preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"searchServicesNxt\",\r\n      \"lo[...]
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourcegroups/azsmnet2695?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet2695\",\r\n  \"name\": \"azsmnet2695\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1173"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet2695/providers/Microsoft.Search/searchServices/azs-8028?api-version=2015-08-19",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"free\"\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet2695/providers/Microsoft.Search/searchServices/azs-8028\",\r\n  \"name\": \"azs-8028\",\r\n  \"type\": \"Microsoft.Search/searchServices\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"replicaCount\": 1,\r\n    \"partitionCount\": 1,\r\n    \"status\": \"running\",\r\n    \"statusDetails\": \"\",\r\n    \"provisioningState\": \"succeeded\",\r\n    \"hostingMode\": \"Default\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"free\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"datetime'2017-05-04T01%3A41%3A29.9412499Z'\""
        ],
        "elapsed-time": [
          "924"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1176"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet2695/providers/Microsoft.Search/searchServices/azs-8028/listAdminKeys?api-version=2015-08-19",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"2966A5C09EC504B5BE2A6B7FA55152D1\",\r\n  \"secondaryKey\": \"21489BC85ECB80E816278BE9A6C9C904\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "elapsed-time": [
          "161"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1175"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet2695/providers/Microsoft.Search/searchServices/azs-8028/listQueryKeys?api-version=2015-08-19",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": null,\r\n      \"key\": \"A7816208F6AC426D0817FEA93D04CB2E\"\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "elapsed-time": [
          "386"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/indexes?api-version=2016-09-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"azsmnet4539\",\r\n  \"fields\": [\r\n    {\r\n      \"name\": \"hotelId\",\r\n      \"type\": \"Edm.String\",\r\n      \"key\": true,\r\n      \"searchable\": false,\r\n      \"filterable\": true,\r\n      \"sortable\": true,\r\n      \"facetable\": true,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"name\": \"baseRate\",\r\n      \"type\": \"Edm.Double\",\r\n      \"key\": false,\r\n      \"searchable\": false,\r\n      \"filterable\": true,\r\n      \"sortable\": true,\r\n      \"facetable\": true,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"name\": \"description\",\r\n      \"type\": \"Edm.String\",\r\n      \"key\": false,\r\n      \"searchable\": true,\r\n      \"filterable\": false,\r\n      \"sortable\": false,\r\n      \"facetable\": false,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"name\": \"description_fr\",\r\n      \"type\": \"Edm.String\",\r\n      \"analyzer\": \"fr.lucene\",\r\n      \"key\": false,\r\n      \"searchable\": true,\r\n      \"filterable\": false,\r\n      \"sortable\": false,\r\n      \"facetable\": false,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"name\": \"description_custom\",\r\n      \"type\": \"Edm.String\",\r\n      \"searchAnalyzer\": \"stop\",\r\n      \"indexAnalyzer\": \"stop\",\r\n      \"key\": false,\r\n      \"searchable\": true,\r\n      \"filterable\": false,\r\n      \"sortable\": false,\r\n      \"facetable\": false,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"name\": \"hotelName\",\r\n      \"type\": \"Edm.String\",\r\n      \"key\": false,\r\n      \"searchable\": true,\r\n      \"filterable\": true,\r\n      \"sortable\": true,\r\n      \"facetable\": true,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"name\": \"cate[...]
    {
      "RequestUri": "/indexes('azsmnet4539')/search.stats?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "api-key": [
          "2966A5C09EC504B5BE2A6B7FA55152D1"
        ],
        "Prefer": [
          "return=representation"
        ]
      },
      "ResponseBody": "{\"@odata.context\":\"https://azs-8028.search-dogfood.windows-int.net/$metadata#Microsoft.Azure.Search.V2016_09_01.IndexStatistics\",\"documentCount\":0,\"storageSize\":0}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "elapsed-time": [
          "49"
        ],
        "OData-Version": [
          "4.0"
        ],
        "Preference-Applied": [
          "odata.include-annotations=\"*\""
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/3c729b2a-4f86-4bb2-abe8-4b8647af156c/resourceGroups/azsmnet2695/providers/Microsoft.Search/searchServices/azs-8028?api-version=2015-08-19",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "elapsed-time": [
          "1616"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1174"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "GenerateName": [
      "azsmnet2695",
      "azsmnet4539"
    ],
    "GenerateServiceName": [
      "azs-8028"
    ]
  },
  "Variables": {
    "SubscriptionId": "3c729b2a-4f86-4bb2-abe8-4b8647af156c"
  }
}