{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "45b60d85-fd72-427a-a708-f994d26e593e",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AzureStorage_DMStaging_10041369",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourcegroups/teststomover?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststomover",
        "name": "teststomover",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststomover/providers/Microsoft.StorageMover/storageMovers/testsm1?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000072f-0000-3400-0000-63ff0a780000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststomover/providers/Microsoft.StorageMover/storageMovers/testsm1",
        "name": "testsm1",
        "type": "microsoft.storagemover/storagemovers",
        "location": "eastus2euap",
        "systemData": {
          "createdBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "createdByType": "Application",
          "createdAt": "2023-03-01T08:19:03.3105576Z",
          "lastModifiedBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-01T08:19:03.3105576Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststomover/providers/Microsoft.StorageMover/storageMovers/testsm1/endpoints/conendpoint-1479?api-version=2023-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "storageAccountResourceId": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststomover/providers/Microsoft.Storage/storageAccounts/testsomoveraccount",
          "blobContainerName": "testsmcontainer",
          "endpointType": "AzureStorageBlobContainer"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200003287-0000-3400-0000-6400be010000\u0022",
        "mise-correlation-id": "43a747c1-b61b-4f06-9a13-e97321a115a7",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststomover/providers/Microsoft.StorageMover/storageMovers/testsm1/endpoints/conendpoint-1479",
        "name": "conendpoint-1479",
        "type": "microsoft.storagemover/storagemovers/endpoints",
        "systemData": {
          "createdBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "createdByType": "Application",
          "createdAt": "2023-03-02T15:17:20.4798166Z",
          "lastModifiedBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-02T15:17:20.4798166Z"
        },
        "properties": {
          "storageAccountResourceId": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststomover/providers/Microsoft.Storage/storageAccounts/testsomoveraccount",
          "blobContainerName": "testsmcontainer",
          "endpointType": "AzureStorageBlobContainer",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststomover/providers/Microsoft.StorageMover/storageMovers/testsm1/endpoints/nfsendpoint-5730?api-version=2023-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "host": "10.0.0.1",
          "export": "/",
          "endpointType": "NfsMount"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200003387-0000-3400-0000-6400be020000\u0022",
        "mise-correlation-id": "b01fcf2f-8f5a-4668-8914-86b7f948a4ec",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststomover/providers/Microsoft.StorageMover/storageMovers/testsm1/endpoints/nfsendpoint-5730",
        "name": "nfsendpoint-5730",
        "type": "microsoft.storagemover/storagemovers/endpoints",
        "systemData": {
          "createdBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "createdByType": "Application",
          "createdAt": "2023-03-02T15:17:21.5735631Z",
          "lastModifiedBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-02T15:17:21.5735631Z"
        },
        "properties": {
          "host": "10.0.0.1",
          "nfsVersion": "NFSauto",
          "export": "/",
          "endpointType": "NfsMount",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststomover/providers/Microsoft.StorageMover/storageMovers/testsm1/endpoints?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststomover/providers/Microsoft.StorageMover/storageMovers/testsm1/endpoints/testsmcontainerendpoint",
            "name": "testsmcontainerendpoint",
            "type": "microsoft.storagemover/storagemovers/endpoints",
            "systemData": {
              "createdBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
              "createdByType": "Application",
              "createdAt": "2023-03-0[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststomover/providers/Microsoft.StorageMover/storageMovers/testsm1/endpoints/conendpoint-1479111?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-failure-cause": "gateway",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource \u0027Microsoft.StorageMover/storageMovers/testsm1/endpoints/conendpoint-1479111\u0027 could not be found."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1546623546",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "45b60d85-fd72-427a-a708-f994d26e593e"
  }
}
