{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/F7B05FC4B968B8240673EF9F4B7114A4923987DE621AF4AE83?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:24:38 GMT"
      },
      "RequestBody": {
        "name": "test",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225c005058-0000-0700-0000-642de7170000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:24:39 GMT",
        "trace-id": "744995ab-3c98-7845-b6ab-fca9e747065b"
      },
      "ResponseBody": {
        "id": "F7B05FC4B968B8240673EF9F4B7114A4923987DE621AF4AE83",
        "name": "test",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/sdk-q3N4Az5vxU6hPfxbfQkUgg--queue?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:24:39 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "F7B05FC4B968B8240673EF9F4B7114A4923987DE621AF4AE83"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b00ec27-0000-0700-0000-642de7180000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:24:40 GMT",
        "trace-id": "87074e3a-f04e-274d-aea8-99d513bb059f"
      },
      "ResponseBody": {
        "id": "sdk-q3N4Az5vxU6hPfxbfQkUgg--queue",
        "name": "test",
        "distributionPolicyId": "F7B05FC4B968B8240673EF9F4B7114A4923987DE621AF4AE83",
        "labels": {
          "Id": "sdk-q3N4Az5vxU6hPfxbfQkUgg--queue"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobId-sdk-q3N4Az5vxU6hPfxbfQkUgg--CancellationScenario?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:24:39 GMT"
      },
      "RequestBody": {
        "channelId": "12C59C701670C28038F31CE26B6828A84F77B41518BCE18320",
        "queueId": "sdk-q3N4Az5vxU6hPfxbfQkUgg--queue",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "notes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-2a14-ae2a1c36db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:24:40 GMT",
        "trace-id": "6dd671ae-2ad7-184d-89a3-578764a438b2"
      },
      "ResponseBody": {
        "id": "JobId-sdk-q3N4Az5vxU6hPfxbfQkUgg--CancellationScenario",
        "jobStatus": "created",
        "channelId": "12C59C701670C28038F31CE26B6828A84F77B41518BCE18320",
        "queueId": "sdk-q3N4Az5vxU6hPfxbfQkUgg--queue",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobId-sdk-q3N4Az5vxU6hPfxbfQkUgg--CancellationScenario?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:24:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-e3b2-ff2a1c36db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:24:41 GMT",
        "trace-id": "fef3c7a3-a823-c74c-bc1d-c500e7ec9d9a"
      },
      "ResponseBody": {
        "id": "JobId-sdk-q3N4Az5vxU6hPfxbfQkUgg--CancellationScenario",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2023-04-05T21:24:41.1441891\u002B00:00",
        "channelId": "12C59C701670C28038F31CE26B6828A84F77B41518BCE18320",
        "queueId": "sdk-q3N4Az5vxU6hPfxbfQkUgg--queue",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobId-sdk-q3N4Az5vxU6hPfxbfQkUgg--CancellationScenario:cancel?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:24:41 GMT"
      },
      "RequestBody": {
        "dispositionCode": "dispositionCode"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "24c785d6-2993-a349-952e-122bb1c1c75f"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobId-sdk-q3N4Az5vxU6hPfxbfQkUgg--CancellationScenario?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:24:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-e7c0-ae2b1c36db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:24:42 GMT",
        "trace-id": "81f29ecd-178f-cb43-b208-8d2a5a2ad963"
      },
      "ResponseBody": {
        "id": "JobId-sdk-q3N4Az5vxU6hPfxbfQkUgg--CancellationScenario",
        "jobStatus": "cancelled",
        "enqueueTimeUtc": "2023-04-05T21:24:41.1441891\u002B00:00",
        "channelId": "12C59C701670C28038F31CE26B6828A84F77B41518BCE18320",
        "queueId": "sdk-q3N4Az5vxU6hPfxbfQkUgg--queue",
        "priority": 1,
        "dispositionCode": "dispositionCode",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-q3N4Az5vxU6hPfxbfQkUgg-",
    "RandomSeed": "1947364112"
  }
}
