{
  "Entries": [
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/channels?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:08:21 GMT"
      },
      "RequestBody": {
        "id": "sdk-G75SpPsHak2CG7UDBXDD4A--channel",
        "name": "test"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "edcc5c6a086d2f4a8fb0c2b658296bdd"
      },
      "ResponseBody": {
        "id": "sdk-G75SpPsHak2CG7UDBXDD4A--channel",
        "name": "test",
        "acsManaged": false
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/distributionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:08:22 GMT"
      },
      "RequestBody": {
        "id": "sdk-G75SpPsHak2CG7UDBXDD4A--dist-policy",
        "name": "test",
        "offerTTL": "00:10:00",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "f6b788ce3d7d9c4cb35759fe89aac65b"
      },
      "ResponseBody": {
        "id": "sdk-G75SpPsHak2CG7UDBXDD4A--dist-policy",
        "name": "test",
        "offerTTL": "00:10:00",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/queues?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:08:22 GMT"
      },
      "RequestBody": {
        "id": "sdk-G75SpPsHak2CG7UDBXDD4A--queue",
        "name": "test",
        "distributionPolicyId": "sdk-G75SpPsHak2CG7UDBXDD4A--dist-policy",
        "labels": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "cb39e8ff3c0b5b4880aa8f0fd70baa1b"
      },
      "ResponseBody": {
        "id": "sdk-G75SpPsHak2CG7UDBXDD4A--queue",
        "name": "test",
        "distributionPolicyId": "sdk-G75SpPsHak2CG7UDBXDD4A--dist-policy",
        "labels": {
          "Id": "sdk-G75SpPsHak2CG7UDBXDD4A--queue"
        },
        "exceptionPolicyId": null,
        "estimatedWaitTimeMs": null
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/jobs?api-version=2021-04-07-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:08:23 GMT"
      },
      "RequestBody": {
        "channelId": "sdk-G75SpPsHak2CG7UDBXDD4A--channel",
        "queueId": "sdk-G75SpPsHak2CG7UDBXDD4A--queue",
        "priority": 1,
        "workerSelectors": null,
        "labels": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://global.router.prod.communication.microsoft.com/routing/jobs/bea5be24-9cea-4c8b-bece-321f0c98875c",
        "trace-id": "9a30d3626a58db4a8c273ac767550f62"
      },
      "ResponseBody": {
        "id": "bea5be24-9cea-4c8b-bece-321f0c98875c"
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/jobs/bea5be24-9cea-4c8b-bece-321f0c98875c?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:08:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-ec6d-54f06ef1d908\u0022",
        "trace-id": "de5815044b8aa04e9b0467757b0b9144"
      },
      "ResponseBody": {
        "id": "bea5be24-9cea-4c8b-bece-321f0c98875c",
        "channelReference": null,
        "jobStatus": "queued",
        "enqueueTimeUtc": null,
        "channelId": "sdk-G75SpPsHak2CG7UDBXDD4A--channel",
        "classificationPolicyId": null,
        "queueId": "sdk-G75SpPsHak2CG7UDBXDD4A--queue",
        "priority": 1,
        "dispositionCode": null,
        "workerSelectors": [],
        "labels": {},
        "assignments": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/jobs/bea5be24-9cea-4c8b-bece-321f0c98875c/cancel?api-version=2021-04-07-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:08:23 GMT"
      },
      "RequestBody": {
        "note": "note",
        "dispositionCode": "dispositionCode"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "trace-id": "1731dcfa552fb741988f5ac4436faf91"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/jobs/bea5be24-9cea-4c8b-bece-321f0c98875c?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:08:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-aa27-bbf06ef1d908\u0022",
        "trace-id": "a7b94381d9f6ae419f1682b35a7d7d6a"
      },
      "ResponseBody": {
        "id": "bea5be24-9cea-4c8b-bece-321f0c98875c",
        "channelReference": null,
        "jobStatus": "cancelled",
        "enqueueTimeUtc": "2022-02-16T17:08:23.3427889\u002B00:00",
        "channelId": "sdk-G75SpPsHak2CG7UDBXDD4A--channel",
        "classificationPolicyId": null,
        "queueId": "sdk-G75SpPsHak2CG7UDBXDD4A--queue",
        "priority": 1,
        "dispositionCode": "dispositionCode",
        "workerSelectors": [],
        "labels": {},
        "assignments": {},
        "notes": {
          "2022-02-16T17:08:23.7129642\u002B00:00": "note"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://prod-test.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-G75SpPsHak2CG7UDBXDD4A-",
    "RandomSeed": "1911015233"
  }
}