{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/F4-84-B8-56-42-E6-21-F5-F0-65-81-99-3A-07-FC-EF-F8?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:13 GMT"
      },
      "RequestBody": {
        "name": "test",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229f021abc-0000-0700-0000-62aa85890000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:21:13 GMT",
        "trace-id": "6cd272d5d89eb84f859cf32a0c156a9e"
      },
      "ResponseBody": {
        "id": "F4-84-B8-56-42-E6-21-F5-F0-65-81-99-3A-07-FC-EF-F8",
        "name": "test",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/sdk-olqEPGhc-0-x6CNDZpullw--queue?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:13 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "F4-84-B8-56-42-E6-21-F5-F0-65-81-99-3A-07-FC-EF-F8",
        "labels": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022250476b1-0000-0700-0000-62aa85890000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:21:13 GMT",
        "trace-id": "d1f9fe37d99b1d4fb94add26b8290aba"
      },
      "ResponseBody": {
        "id": "sdk-olqEPGhc-0-x6CNDZpullw--queue",
        "name": "test",
        "distributionPolicyId": "F4-84-B8-56-42-E6-21-F5-F0-65-81-99-3A-07-FC-EF-F8",
        "labels": {
          "Id": "sdk-olqEPGhc-0-x6CNDZpullw--queue"
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/JobId-sdk-olqEPGhc-0-x6CNDZpullw--CancellationScenario?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:13 GMT"
      },
      "RequestBody": {
        "channelId": "6A-C2-EE-C0-60-3A-D7-A6-4B-B2-3A-24-75-72-F1-68-D6",
        "queueId": "sdk-olqEPGhc-0-x6CNDZpullw--queue",
        "priority": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-8da8-fc80364fda08\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:21:13 GMT",
        "trace-id": "11b3dd5593dc3b41b0328075cc606cf5"
      },
      "ResponseBody": {
        "id": "JobId-sdk-olqEPGhc-0-x6CNDZpullw--CancellationScenario",
        "jobStatus": "created",
        "channelId": "6A-C2-EE-C0-60-3A-D7-A6-4B-B2-3A-24-75-72-F1-68-D6",
        "queueId": "sdk-olqEPGhc-0-x6CNDZpullw--queue",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/JobId-sdk-olqEPGhc-0-x6CNDZpullw--CancellationScenario?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-a4cb-1281364fda08\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:21:13 GMT",
        "trace-id": "872e0d053b7c754195a3d2eb469b301e"
      },
      "ResponseBody": {
        "id": "JobId-sdk-olqEPGhc-0-x6CNDZpullw--CancellationScenario",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-06-16T01:21:13.8667428\u002B00:00",
        "channelId": "6A-C2-EE-C0-60-3A-D7-A6-4B-B2-3A-24-75-72-F1-68-D6",
        "queueId": "sdk-olqEPGhc-0-x6CNDZpullw--queue",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/JobId-sdk-olqEPGhc-0-x6CNDZpullw--CancellationScenario:cancel?api-version=2021-10-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:14 GMT"
      },
      "RequestBody": {
        "dispositionCode": "dispositionCode"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "2c10ec422506e04a998643f7f8995633"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/JobId-sdk-olqEPGhc-0-x6CNDZpullw--CancellationScenario?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-f7f4-c581364fda08\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:21:15 GMT",
        "trace-id": "3002dfb35def8842bd541d9248ab6e61"
      },
      "ResponseBody": {
        "id": "JobId-sdk-olqEPGhc-0-x6CNDZpullw--CancellationScenario",
        "jobStatus": "cancelled",
        "enqueueTimeUtc": "2022-06-16T01:21:13.8667428\u002B00:00",
        "channelId": "6A-C2-EE-C0-60-3A-D7-A6-4B-B2-3A-24-75-72-F1-68-D6",
        "queueId": "sdk-olqEPGhc-0-x6CNDZpullw--queue",
        "priority": 1,
        "dispositionCode": "dispositionCode",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-olqEPGhc-0-x6CNDZpullw-",
    "RandomSeed": "349265024"
  }
}
