{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/B4BCA39336133CEC3FCE6C0D28A46D162675D260BD50876001?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:35:01 GMT"
      },
      "RequestBody": {
        "name": "test",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225900cde0-0000-0700-0000-642ddb760000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:35:02 GMT",
        "trace-id": "75557a0a-44b2-1fbe-b4e0-d2b32d79c8ff"
      },
      "ResponseBody": {
        "id": "B4BCA39336133CEC3FCE6C0D28A46D162675D260BD50876001",
        "name": "test",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/sdk-G142p41zkU2aZem8hoKtwQ--queue?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:35:02 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "B4BCA39336133CEC3FCE6C0D28A46D162675D260BD50876001"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220a0003f0-0000-0700-0000-642ddb770000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:35:03 GMT",
        "trace-id": "9d7f335c-7189-538e-f4ed-291315119589"
      },
      "ResponseBody": {
        "id": "sdk-G142p41zkU2aZem8hoKtwQ--queue",
        "name": "test",
        "distributionPolicyId": "B4BCA39336133CEC3FCE6C0D28A46D162675D260BD50876001",
        "labels": {
          "Id": "sdk-G142p41zkU2aZem8hoKtwQ--queue"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobId-sdk-G142p41zkU2aZem8hoKtwQ--CancellationScenario?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:35:02 GMT"
      },
      "RequestBody": {
        "channelId": "52F7F651E8E294AB4A1CEEFBEA5B104C84A458B6DCA5B0713C",
        "queueId": "sdk-G142p41zkU2aZem8hoKtwQ--queue",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "notes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-e0fe-503c1536db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:35:03 GMT",
        "trace-id": "25b321ac-aff5-65c6-208b-cb4a8c17f23a"
      },
      "ResponseBody": {
        "id": "JobId-sdk-G142p41zkU2aZem8hoKtwQ--CancellationScenario",
        "jobStatus": "created",
        "channelId": "52F7F651E8E294AB4A1CEEFBEA5B104C84A458B6DCA5B0713C",
        "queueId": "sdk-G142p41zkU2aZem8hoKtwQ--queue",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobId-sdk-G142p41zkU2aZem8hoKtwQ--CancellationScenario?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:35:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-31e9-a43c1536db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:35:04 GMT",
        "trace-id": "3e194856-5a08-8077-3f63-7b91d0c662cb"
      },
      "ResponseBody": {
        "id": "JobId-sdk-G142p41zkU2aZem8hoKtwQ--CancellationScenario",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2023-04-05T20:35:04.2710833\u002B00:00",
        "channelId": "52F7F651E8E294AB4A1CEEFBEA5B104C84A458B6DCA5B0713C",
        "queueId": "sdk-G142p41zkU2aZem8hoKtwQ--queue",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobId-sdk-G142p41zkU2aZem8hoKtwQ--CancellationScenario:cancel?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:35:04 GMT"
      },
      "RequestBody": {
        "dispositionCode": "dispositionCode"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "8e7c2811-31d8-446b-eff5-4755ae44032a"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobId-sdk-G142p41zkU2aZem8hoKtwQ--CancellationScenario?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:35:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-e4e1-603d1536db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:35:05 GMT",
        "trace-id": "0ec8940e-6475-dc3c-3047-59f054eddb43"
      },
      "ResponseBody": {
        "id": "JobId-sdk-G142p41zkU2aZem8hoKtwQ--CancellationScenario",
        "jobStatus": "cancelled",
        "enqueueTimeUtc": "2023-04-05T20:35:04.2710833\u002B00:00",
        "channelId": "52F7F651E8E294AB4A1CEEFBEA5B104C84A458B6DCA5B0713C",
        "queueId": "sdk-G142p41zkU2aZem8hoKtwQ--queue",
        "priority": 1,
        "dispositionCode": "dispositionCode",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-G142p41zkU2aZem8hoKtwQ-",
    "RandomSeed": "1440738851"
  }
}
