{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/WebPubSubRG-1715?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11703"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1715",
        "name": "WebPubSubRG-1715",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1715/providers/Microsoft.SignalRService/webPubSub/webpubsub-300?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_S1"
        },
        "tags": {},
        "location": "westus2",
        "properties": {
          "liveTraceConfiguration": {
            "enabled": "true",
            "categories": [
              {
                "name": "category-01",
                "enabled": "True"
              }
            ]
          },
          "resourceLogConfiguration": {
            "categories": [
              {
                "name": "category1",
                "enabled": "false"
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": [
                "RESTAPI"
              ]
            },
            "privateEndpoints": []
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1715/providers/Microsoft.SignalRService/WebPubSub/webpubsub-300/operationStatuses/d634908e-f862-411a-8908-9bd67337cdef?api-version=2021-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1715/providers/Microsoft.SignalRService/WebPubSub/webpubsub-300/operationResults/d634908e-f862-411a-8908-9bd67337cdef?api-version=2021-10-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1170",
        "x-rp-server-mvid": "a240317d-2594-4b08-9f0c-5f370ea616d7"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_S1",
          "tier": "Standard",
          "size": "S1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Creating",
          "externalIP": null,
          "hostName": "webpubsub-300.webpubsub.azure.com",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0-preview",
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "webpubsub-300",
          "liveTraceConfiguration": {
            "enabled": "true",
            "categories": [
              {
                "name": "category-01",
                "enabled": "True"
              }
            ]
          },
          "resourceLogConfiguration": {
            "categories": [
              {
                "name": "category1",
                "enabled": "false"
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": [
                "RESTAPI"
              ]
            },
            "privateEndpoints": []
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-07-12T08:03:34.5683999Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-07-12T08:03:34.5683999Z"
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1715/providers/Microsoft.SignalRService/WebPubSub/webpubsub-300",
        "name": "webpubsub-300",
        "type": "Microsoft.SignalRService/WebPubSub"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1715/providers/Microsoft.SignalRService/WebPubSub/webpubsub-300/operationStatuses/d634908e-f862-411a-8908-9bd67337cdef?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11702",
        "x-rp-server-mvid": "a240317d-2594-4b08-9f0c-5f370ea616d7"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1715/providers/Microsoft.SignalRService/WebPubSub/webpubsub-300/operationStatuses/d634908e-f862-411a-8908-9bd67337cdef",
        "name": "d634908e-f862-411a-8908-9bd67337cdef",
        "status": "Running",
        "startTime": "2022-07-12T08:03:35.9767951Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1715/providers/Microsoft.SignalRService/WebPubSub/webpubsub-300/operationStatuses/d634908e-f862-411a-8908-9bd67337cdef?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11694",
        "x-rp-server-mvid": "a240317d-2594-4b08-9f0c-5f370ea616d7"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1715/providers/Microsoft.SignalRService/WebPubSub/webpubsub-300/operationStatuses/d634908e-f862-411a-8908-9bd67337cdef",
        "name": "d634908e-f862-411a-8908-9bd67337cdef",
        "status": "Succeeded",
        "startTime": "2022-07-12T08:03:35.9767951Z",
        "endTime": "2022-07-12T08:04:37.3523308Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1715/providers/Microsoft.SignalRService/webPubSub/webpubsub-300/hubs/webpubsubhub1983?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "eventHandlers": [
            {
              "urlTemplate": "http://example.com/api/{hub}/{event}",
              "systemEvents": [
                "none"
              ],
              "auth": {}
            }
          ],
          "anonymousConnectPolicy": "Deny"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1715/providers/Microsoft.SignalRService/WebPubSub/webpubsub-300/operationStatuses/b2cae330-e0dc-4372-b5a7-dfd84d5db3da?api-version=2021-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1715/providers/Microsoft.SignalRService/WebPubSub/webpubsub-300/operationResults/b2cae330-e0dc-4372-b5a7-dfd84d5db3da?api-version=2021-10-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1169",
        "x-rp-server-mvid": "a240317d-2594-4b08-9f0c-5f370ea616d7"
      },
      "ResponseBody": {
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-07-12T08:04:48.6156715Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-07-12T08:04:48.6156715Z"
        },
        "properties": {
          "eventHandlers": [
            {
              "urlTemplate": "http://example.com/api/{hub}/{event}",
              "userEventPattern": null,
              "systemEvents": [
                "none"
              ],
              "auth": {
                "type": "None"
              }
            }
          ],
          "anonymousConnectPolicy": "Deny"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1715/providers/Microsoft.SignalRService/WebPubSub/webpubsub-300/hubs/webpubsubhub1983",
        "name": "webpubsubhub1983",
        "type": "Microsoft.SignalRService/WebPubSub/hubs"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1715/providers/Microsoft.SignalRService/webPubSub/webpubsub-300/hubs?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11681",
        "x-rp-server-mvid": "a240317d-2594-4b08-9f0c-5f370ea616d7"
      },
      "ResponseBody": {
        "value": [
          {
            "systemData": {
              "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "createdByType": "Application",
              "createdAt": "2022-07-12T08:04:48.6156715Z",
              "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-07-12T08:04:48.6156715Z"
            },
            "properties": {
              "eventHandlers": [
                {
                  "urlTemplate": "http://example.com/api/{hub}/{event}",
                  "userEventPattern": null,
                  "systemEvents": [
                    "none"
                  ],
                  "auth": {
                    "type": "None"
                  }
                }
              ],
              "anonymousConnectPolicy": "Deny"
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1715/providers/Microsoft.SignalRService/WebPubSub/webpubsub-300/hubs/webpubsubhub1983",
            "name": "webpubsubhub1983",
            "type": "Microsoft.SignalRService/WebPubSub/hubs"
          }
        ],
        "nextLink": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1715/providers/Microsoft.SignalRService/webPubSub?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-read[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1715/providers/Microsoft.SignalRService/webPubSub/webpubsub-300?api-version=2021-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14975",
        "x-rp-server-mvid": "a240317d-2594-4b08-9f0c-5f370ea616d7"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "578788161",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
