{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/WebPubSubRG-1622?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11810"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622",
        "name": "WebPubSubRG-1622",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/webPubSub/webpubsub-8412?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_S1"
        },
        "tags": {},
        "location": "westus2",
        "properties": {
          "liveTraceConfiguration": {
            "enabled": "true",
            "categories": [
              {
                "name": "category-01",
                "enabled": "true"
              }
            ]
          },
          "resourceLogConfiguration": {
            "categories": [
              {
                "name": "category1",
                "enabled": "false"
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": [
                "RESTAPI"
              ]
            },
            "privateEndpoints": []
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412/operationStatuses/3047fa2a-6f93-4616-93a9-9b8fc90ddbe4?api-version=2021-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412/operationResults/3047fa2a-6f93-4616-93a9-9b8fc90ddbe4?api-version=2021-10-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-rp-server-mvid": "b9299c93-16a1-4ff5-be5d-e9bce565ddc3"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_S1",
          "tier": "Standard",
          "size": "S1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Creating",
          "externalIP": null,
          "hostName": "webpubsub-8412.webpubsub.azure.com",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0-preview",
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "webpubsub-8412",
          "liveTraceConfiguration": {
            "enabled": "true",
            "categories": [
              {
                "name": "category-01",
                "enabled": "true"
              }
            ]
          },
          "resourceLogConfiguration": {
            "categories": [
              {
                "name": "category1",
                "enabled": "false"
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": [
                "RESTAPI"
              ]
            },
            "privateEndpoints": []
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2021-12-01T10:10:53.6106112Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-12-01T10:10:53.6106112Z"
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412",
        "name": "webpubsub-8412",
        "type": "Microsoft.SignalRService/WebPubSub"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412/operationStatuses/3047fa2a-6f93-4616-93a9-9b8fc90ddbe4?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11809",
        "x-rp-server-mvid": "b9299c93-16a1-4ff5-be5d-e9bce565ddc3"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412/operationStatuses/3047fa2a-6f93-4616-93a9-9b8fc90ddbe4",
        "name": "3047fa2a-6f93-4616-93a9-9b8fc90ddbe4",
        "status": "Running",
        "startTime": "2021-12-01T10:10:54.1781036Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412/operationStatuses/3047fa2a-6f93-4616-93a9-9b8fc90ddbe4?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11770",
        "x-rp-server-mvid": "b9299c93-16a1-4ff5-be5d-e9bce565ddc3"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412/operationStatuses/3047fa2a-6f93-4616-93a9-9b8fc90ddbe4",
        "name": "3047fa2a-6f93-4616-93a9-9b8fc90ddbe4",
        "status": "Succeeded",
        "startTime": "2021-12-01T10:10:54.1781036Z",
        "endTime": "2021-12-01T10:11:45.0413292Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/webPubSub/webpubsub-8412/hubs/webpubsubhub-6146?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "eventHandlers": [
            {
              "urlTemplate": "http://example.com/api/{hub}/{event}",
              "systemEvents": [
                "none"
              ],
              "auth": {}
            }
          ],
          "anonymousConnectPolicy": "Deny"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412/operationStatuses/9957eedf-f3f9-49d5-adc9-7ed639c35f7f?api-version=2021-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412/operationResults/9957eedf-f3f9-49d5-adc9-7ed639c35f7f?api-version=2021-10-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-rp-server-mvid": "b9299c93-16a1-4ff5-be5d-e9bce565ddc3"
      },
      "ResponseBody": {
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2021-12-01T10:11:46.8159184Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-12-01T10:11:46.8159184Z"
        },
        "properties": {
          "eventHandlers": [
            {
              "urlTemplate": "http://example.com/api/{hub}/{event}",
              "userEventPattern": null,
              "systemEvents": [
                "none"
              ],
              "auth": {
                "type": "None"
              }
            }
          ],
          "anonymousConnectPolicy": "Deny"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412/hubs/webpubsubhub-6146",
        "name": "webpubsubhub-6146",
        "type": "Microsoft.SignalRService/WebPubSub/hubs"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/webPubSub?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11942",
        "x-rp-server-mvid": "b9299c93-16a1-4ff5-be5d-e9bce565ddc3"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_S1",
              "tier": "Standard",
              "size": "S1",
              "capacity": 1
            },
            "properties": {
              "provisioningState": "Succeeded",
              "externalIP": "20.51.13.49",
              "hostName": "webpubsub-8412.webpubsub.azure.com",
              "publicPort": 443,
              "serverPort": 443,
              "version": "1.0",
              "privateEndpointConnections[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/webPubSub/webpubsub-8412?api-version=2021-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14999",
        "x-rp-server-mvid": "b9299c93-16a1-4ff5-be5d-e9bce565ddc3"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1980622430",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}