{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/WebPubSubRG-1622?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11845"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622",
        "name": "WebPubSubRG-1622",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/webPubSub/webpubsub-8412?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_S1"
        },
        "tags": {},
        "location": "westus2",
        "properties": {
          "liveTraceConfiguration": {
            "enabled": "true",
            "categories": [
              {
                "name": "category-01",
                "enabled": "true"
              }
            ]
          },
          "resourceLogConfiguration": {
            "categories": [
              {
                "name": "category1",
                "enabled": "false"
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": [
                "RESTAPI"
              ]
            },
            "privateEndpoints": []
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412/operationStatuses/8aadcdf0-5dc0-41dc-b807-0a6f3c8e743d?api-version=2021-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412/operationResults/8aadcdf0-5dc0-41dc-b807-0a6f3c8e743d?api-version=2021-10-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-rp-server-mvid": "0e6feb06-4fcf-49fe-b063-a6e996dd1aba"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_S1",
          "tier": "Standard",
          "size": "S1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Creating",
          "externalIP": null,
          "hostName": "webpubsub-8412.webpubsub.azure.com",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0-preview",
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "webpubsub-8412",
          "liveTraceConfiguration": {
            "enabled": "true",
            "categories": [
              {
                "name": "category-01",
                "enabled": "true"
              }
            ]
          },
          "resourceLogConfiguration": {
            "categories": [
              {
                "name": "category1",
                "enabled": "false"
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": [
                "RESTAPI"
              ]
            },
            "privateEndpoints": []
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-01-18T06:54:17.1935658Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-01-18T06:54:17.1935658Z"
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412",
        "name": "webpubsub-8412",
        "type": "Microsoft.SignalRService/WebPubSub"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412/operationStatuses/8aadcdf0-5dc0-41dc-b807-0a6f3c8e743d?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11844",
        "x-rp-server-mvid": "0e6feb06-4fcf-49fe-b063-a6e996dd1aba"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412/operationStatuses/8aadcdf0-5dc0-41dc-b807-0a6f3c8e743d",
        "name": "8aadcdf0-5dc0-41dc-b807-0a6f3c8e743d",
        "status": "Running",
        "startTime": "2022-01-18T06:54:18.0490123Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412/operationStatuses/8aadcdf0-5dc0-41dc-b807-0a6f3c8e743d?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11790",
        "x-rp-server-mvid": "0e6feb06-4fcf-49fe-b063-a6e996dd1aba"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412/operationStatuses/8aadcdf0-5dc0-41dc-b807-0a6f3c8e743d",
        "name": "8aadcdf0-5dc0-41dc-b807-0a6f3c8e743d",
        "status": "Succeeded",
        "startTime": "2022-01-18T06:54:18.0490123Z",
        "endTime": "2022-01-18T06:55:29.151671Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/webPubSub/webpubsub-8412/hubs/webpubsubhub4091?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "eventHandlers": [
            {
              "urlTemplate": "http://example.com/api/{hub}/{event}",
              "systemEvents": [
                "none"
              ],
              "auth": {}
            }
          ],
          "anonymousConnectPolicy": "Deny"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412/operationStatuses/f0313ec6-7a74-44c2-ad26-242da5c4eebb?api-version=2021-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412/operationResults/f0313ec6-7a74-44c2-ad26-242da5c4eebb?api-version=2021-10-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-rp-server-mvid": "0e6feb06-4fcf-49fe-b063-a6e996dd1aba"
      },
      "ResponseBody": {
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-01-18T06:55:30.543951Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-01-18T06:55:30.543951Z"
        },
        "properties": {
          "eventHandlers": [
            {
              "urlTemplate": "http://example.com/api/{hub}/{event}",
              "userEventPattern": null,
              "systemEvents": [
                "none"
              ],
              "auth": {
                "type": "None"
              }
            }
          ],
          "anonymousConnectPolicy": "Deny"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-8412/hubs/webpubsubhub4091",
        "name": "webpubsubhub4091",
        "type": "Microsoft.SignalRService/WebPubSub/hubs"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/webPubSub?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11965",
        "x-rp-server-mvid": "0e6feb06-4fcf-49fe-b063-a6e996dd1aba"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_S1",
              "tier": "Standard",
              "size": "S1",
              "capacity": 1
            },
            "properties": {
              "provisioningState": "Succeeded",
              "externalIP": "20.51.13.49",
              "hostName": "webpubsub-8412.webpubsub.azure.com",
              "publicPort": 443,
              "serverPort": 443,
              "version": "1.0",
              "privateEndpointConnections[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/webPubSub/webpubsub-8412?api-version=2021-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14999",
        "x-rp-server-mvid": "0e6feb06-4fcf-49fe-b063-a6e996dd1aba"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1980622430",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}