{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/WebPubSubRG-1622?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11691"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622",
        "name": "WebPubSubRG-1622",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/webPubSub/webpubsub-1947?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_S1"
        },
        "tags": {},
        "location": "westus2",
        "properties": {
          "liveTraceConfiguration": {
            "enabled": "true",
            "categories": [
              {
                "name": "category-01",
                "enabled": "true"
              }
            ]
          },
          "resourceLogConfiguration": {
            "categories": [
              {
                "name": "category1",
                "enabled": "false"
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": [
                "RESTAPI"
              ]
            },
            "privateEndpoints": []
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-1947/operationStatuses/19e4e7e5-3867-4cb1-a3f1-2dfaceeba0b4?api-version=2021-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-1947/operationResults/19e4e7e5-3867-4cb1-a3f1-2dfaceeba0b4?api-version=2021-10-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1195",
        "x-rp-server-mvid": "aaf1fb15-e677-47bf-a3a6-dde567cbb64f"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_S1",
          "tier": "Standard",
          "size": "S1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Creating",
          "externalIP": null,
          "hostName": "webpubsub-1947.webpubsub.azure.com",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0-preview",
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "webpubsub-1947",
          "liveTraceConfiguration": {
            "enabled": "true",
            "categories": [
              {
                "name": "category-01",
                "enabled": "true"
              }
            ]
          },
          "resourceLogConfiguration": {
            "categories": [
              {
                "name": "category1",
                "enabled": "false"
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": [
                "RESTAPI"
              ]
            },
            "privateEndpoints": []
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2021-11-24T07:39:52.1931076Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-11-24T07:39:52.1931076Z"
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-1947",
        "name": "webpubsub-1947",
        "type": "Microsoft.SignalRService/WebPubSub"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-1947/operationStatuses/19e4e7e5-3867-4cb1-a3f1-2dfaceeba0b4?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11690",
        "x-rp-server-mvid": "aaf1fb15-e677-47bf-a3a6-dde567cbb64f"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-1947/operationStatuses/19e4e7e5-3867-4cb1-a3f1-2dfaceeba0b4",
        "name": "19e4e7e5-3867-4cb1-a3f1-2dfaceeba0b4",
        "status": "Running",
        "startTime": "2021-11-24T07:39:52.7554479Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-1947/operationStatuses/19e4e7e5-3867-4cb1-a3f1-2dfaceeba0b4?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11642",
        "x-rp-server-mvid": "aaf1fb15-e677-47bf-a3a6-dde567cbb64f"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-1947/operationStatuses/19e4e7e5-3867-4cb1-a3f1-2dfaceeba0b4",
        "name": "19e4e7e5-3867-4cb1-a3f1-2dfaceeba0b4",
        "status": "Succeeded",
        "startTime": "2021-11-24T07:39:52.7554479Z",
        "endTime": "2021-11-24T07:40:53.4815725Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/webPubSub/webpubsub-1947/hubs?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11640",
        "x-rp-server-mvid": "aaf1fb15-e677-47bf-a3a6-dde567cbb64f"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/webPubSub/webpubsub-1947/hubs/webpubsubhub-7955?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "eventHandlers": [
            {
              "urlTemplate": "http://example.com/api/{hub}/{event}",
              "systemEvents": [
                "none"
              ],
              "auth": {}
            }
          ],
          "anonymousConnectPolicy": "Deny"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-1947/operationStatuses/e297580f-0d26-4e19-b75d-1168bb7515e3?api-version=2021-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-1947/operationResults/e297580f-0d26-4e19-b75d-1168bb7515e3?api-version=2021-10-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1194",
        "x-rp-server-mvid": "aaf1fb15-e677-47bf-a3a6-dde567cbb64f"
      },
      "ResponseBody": {
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2021-11-24T07:40:54.9881485Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-11-24T07:40:54.9881485Z"
        },
        "properties": {
          "eventHandlers": [
            {
              "urlTemplate": "http://example.com/api/{hub}/{event}",
              "userEventPattern": null,
              "systemEvents": [
                "none"
              ],
              "auth": {
                "type": "None"
              }
            }
          ],
          "anonymousConnectPolicy": "Deny"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/WebPubSub/webpubsub-1947/hubs/webpubsubhub-7955",
        "name": "webpubsubhub-7955",
        "type": "Microsoft.SignalRService/WebPubSub/hubs"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/webPubSub?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-read[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-1622/providers/Microsoft.SignalRService/webPubSub/webpubsub-1947?api-version=2021-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14997",
        "x-rp-server-mvid": "aaf1fb15-e677-47bf-a3a6-dde567cbb64f"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "175368723",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}