{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-6996?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1178"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6996",
        "name": "testRG-6996",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-6996/providers/Microsoft.StreamAnalytics/streamingjobs/testJob-6313?api-version=2021-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "sku": {
            "name": "Standard"
          },
          "eventsOutOfOrderPolicy": "Drop",
          "outputErrorPolicy": "Drop",
          "eventsOutOfOrderMaxDelayInSeconds": 0,
          "eventsLateArrivalMaxDelayInSeconds": 5,
          "dataLocale": "en-US",
          "compatibilityLevel": "1.0"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "079e4b81-b5a6-4038-8c7b-dba54503ee10",
        "x-ms-ratelimit-remaining-subscription-writes": "1177"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6996/providers/Microsoft.StreamAnalytics/streamingjobs/testJob-6313",
        "name": "testJob-6313",
        "type": "Microsoft.StreamAnalytics/streamingjobs",
        "location": "West US",
        "tags": {},
        "properties": {
          "sku": {
            "name": "Standard"
          },
          "jobId": "79777e22-707c-49a8-8222-3b75db393b7c",
          "provisioningState": "Succeeded",
          "jobState": "Created",
          "eventsOutOfOrderPolicy": "Drop",
          "outputErrorPolicy": "Drop",
          "eventsOutOfOrderMaxDelayInSeconds": 0,
          "eventsLateArrivalMaxDelayInSeconds": 5,
          "dataLocale": "en-US",
          "createdDate": "2022-08-29T05:16:16.53Z",
          "compatibilityLevel": "1.0",
          "jobStorageAccount": null,
          "contentStoragePolicy": "SystemAccount",
          "inputs": [],
          "functions": [],
          "outputs": [],
          "jobType": "Cloud",
          "cluster": null
        },
        "sku": {
          "name": "Standard"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-6996/providers/Microsoft.StreamAnalytics/streamingjobs/testJob-6313/functions/testJob-6313?api-version=2021-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Scalar",
          "properties": {
            "inputs": [
              {
                "dataType": "nvarchar(max)"
              }
            ],
            "output": {
              "dataType": "Any"
            },
            "binding": {
              "type": "Microsoft.StreamAnalytics/JavascriptUdf",
              "properties": {
                "script": "function (x, y) { return x \u002B y; }"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "0922406f-20cd-4acc-8444-9a4a2adc7f0c",
        "x-ms-ratelimit-remaining-subscription-writes": "1176"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6996/providers/Microsoft.StreamAnalytics/streamingjobs/testJob-6313/functions/testJob-6313",
        "name": "testJob-6313",
        "type": "Microsoft.StreamAnalytics/streamingjobs/functions",
        "properties": {
          "type": "Scalar",
          "properties": {
            "inputs": [
              {
                "dataType": "nvarchar(max)",
                "isConfigurationParameter": null
              }
            ],
            "output": {
              "dataType": "Any"
            },
            "binding": {
              "type": "Microsoft.StreamAnalytics/JavascriptUdf",
              "properties": {
                "script": "function (x, y) { return x \u002B y; }"
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-6996/providers/Microsoft.StreamAnalytics/streamingjobs/testJob-6313/functions/testJob-6313?api-version=2021-10-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1073185495",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
