{
  "Entries": [
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/locations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Locations xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Location>\r\n    <Name>East US</Name>\r\n    <DisplayName>East US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableService>Storage</AvailableService>\r\n      <AvailableService>PersistentVMRole</AvailableService>\r\n      <AvailableService>HighMemory</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n        <RoleSize>A10</RoleSize>\r\n        <RoleSize>A11</RoleSize>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>A8</RoleSize>\r\n        <RoleSize>A9</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n        <RoleSize>Standard_D1</RoleSize>\r\n        <RoleSize>Standard_D11</RoleSize>\r\n        <RoleSize>Standard_D12</RoleSize>\r\n        <RoleSize>Standard_D13</RoleSize>\r\n        <RoleSize>Standard_D14</RoleSize>\r\n        <RoleSize>Standard_D2</RoleSize>\r\n        <RoleSize>Standard_D3</RoleSize>\r\n        <RoleSize>Standard_D4</RoleSize>\r\n      </WebWorkerRoleSizes>\r\n      <VirtualMachinesRoleSizes>\r\n        <RoleSize>A10</RoleSize>\r\n        <RoleSize>A11</RoleSize>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>A8</RoleSize>\r\n        <RoleSize>A9</RoleSize>\r\n        <RoleSize>Basic_A0</RoleSize>\r\n        <RoleSize>Basic_A1</RoleSize>\r\n        <RoleSize>Basic_A2</RoleSize>\r\n        <RoleSize>Basic_A3</RoleSize>\r\n        <RoleSize>Basic_A4</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n        <RoleSize>Standard_D1</RoleSize>\r\n        <RoleSize>Standard_D11</RoleSize>\r\n        <RoleSize>Standard_D12</RoleSize>\r\n        <RoleSize>Standard_D13</RoleSize>\r\n        <RoleSize>Standard_D14</RoleSize>\r\n        <RoleSize>Standard_D2</RoleSize>\r\n        <RoleSize>Standard_D3</RoleSize>\r\n        <RoleSize>Standard_D4</RoleSize>\r\n      </VirtualMachinesRoleSizes>\r\n    </ComputeCapabilities>\r\n    <StorageCapabilities>\r\n      <StorageAccountTypes>\r\n        <StorageAccountType>Standard_LRS</StorageAccountType>\r\n        <StorageAccountType>Standard_ZRS</StorageAccountType>\r\n        <StorageAccountType>Standard_GRS</StorageAccountType>\r\n        <StorageAccountType>Standard_RAGRS</StorageAccountType>\r\n      </StorageAccountTypes>\r\n    </StorageCapabilities>\r\n  </Location>\r\n  <Location>\r\n    <Name>West US</Name>\r\n    <DisplayName>West US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableServ[...]
[...]
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/services/storageservices",
      "RequestMethod": "POST",
      "RequestBody": "<CreateStorageServiceInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>azsmnet635</ServiceName>\r\n  <Description p2:nil=\"true\" xmlns:p2=\"http://www.w3.org/2001/XMLSchema-instance\" />\r\n  <Label>YXpzbW5ldDYzNQ==</Label>\r\n  <Location>West US</Location>\r\n  <AccountType>Standard_LRS</AccountType>\r\n</CreateStorageServiceInput>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "Location": [
          "https://ussouth2.management.core.windows.net/subscriptions/4d368445-cbb1-42a7-97a6-6850ab99f48e/storage/azsmnet635"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/operations/a719a862ab6ebf83ab487ab494488fc0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>a719a862-ab6e-bf83-ab48-7ab494488fc0</ID>\r\n  <Status>InProgress</Status>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/operations/a719a862ab6ebf83ab487ab494488fc0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>a719a862-ab6e-bf83-ab48-7ab494488fc0</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/services/storageservices/azsmnet635/keys",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<StorageService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://ussouth2.management.core.windows.net/4d368445-cbb1-42a7-97a6-6850ab99f48e/services/storageservices/azsmnet635</Url>\r\n  <StorageServiceKeys>\r\n    <Primary>0urZjDi8UzD7vFC2oz+u6Rnxk0Rz2tUsRbDMPVKEdMqysBQN7x7p1g6WkSlLZS6ocAkCAQRVYUB3Ffy/z6q3nw==</Primary>\r\n    <Secondary>speskEXuwirRD3oEYzbLTA2RZTbrgGTwhls42BeecGNaFXpikKZ8yw+StgC2e28FqpUwU76kdOmpXrT4sZJhbg==</Secondary>\r\n  </StorageServiceKeys>\r\n</StorageService>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Instantiate": [
      "azsmnet9213",
      "azsmnet635"
    ]
  },
  "Variables": {
    "SubscriptionId": "4d368445-cbb1-42a7-97a6-6850ab99f48e"
  }
}