{
  "Entries": [
    {
      "RequestUri": "https://petrsvihlikapi-learn-azconfig-net.azconfig.io/kv/FontColor?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "1.0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022w672K8RfpyzBXP2VVecwgwuN28s\u0022",
        "Last-Modified": "Thu, 27 May 2021 09:12:23 GMT",
        "Sync-Token": "zAJw6V16=MjoxNyM1MTAzNDM4;sn=5103438"
      },
      "ResponseBody": {
        "etag": "w672K8RfpyzBXP2VVecwgwuN28s",
        "key": "FontColor",
        "label": null,
        "content_type": "text/plain",
        "value": "Green",
        "tags": {},
        "locked": false,
        "last_modified": "2021-05-27T09:12:23\u002B00:00"
      }
    }
  ],
  "Variables": {
    "API-LEARN_ENDPOINT": "https://petrsvihlikapi-learn-azconfig-net.azconfig.io",
    "RandomSeed": "1032836566"
  }
}