{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/networkcloud-sdk6273?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk6273",
        "name": "networkcloud-sdk6273",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-4AE3464D/providers/Microsoft.NetworkCloud/racks?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "6994555f-8778-4aad-b771-929cf7eafd7b",
          "902a1de5-bf2b-4643-ac8d-a6c79b5da894",
          "3f184078-bf60-4ed7-9b23-247fc7f336e7"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-4AE3464D/providers/Microsoft.NetworkCloud/racks/aa1234",
            "name": "aa1234",
            "type": "microsoft.networkcloud/racks",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
              "type": "CustomLocation"
            },
            "tags": {
              "CreatedBy": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc/resourcesyncrules/rackshydrationrule"
            },
            "systemData": {
              "createdBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
              "createdByType": "Application",
              "createdAt": "2023-06-20T00:23:53.0161107Z",
              "lastModifiedBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-06-22T15:43:52.3517912Z"
            },
            "properties": {
              "rackSkuId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/VLab1_4_Aggregator_sim",
              "rackSerialNumber": "aa1234",
              "availabilityZone": "A",
              "rackLocation": "Foo Datacenter, Floor 3, Aisle 9, Rack 2",
              "clusterId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator",
              "detailedStatus": "Available",
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-4AE3464D/providers/Microsoft.NetworkCloud/racks/aa5678",
            "name": "aa5678",
            "type": "microsoft.networkcloud/racks",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resour[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/racks?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "3b279aad-b869-4565-8777-22c5f4f[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-4AE3464D/providers/Microsoft.NetworkCloud/racks/aa1234?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022bf00f45e-0000-0100-0000-64946c380000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-4AE3464D/providers/Microsoft.NetworkCloud/racks/aa1234",
        "name": "aa1234",
        "type": "microsoft.networkcloud/racks",
        "location": "eastus",
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-4AE3464D/providers/Microsoft.NetworkCloud/racks/aa1234?api-version=2023-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "CreatedBy": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc/resourcesyncrules/rackshydrationrule",
          "test-key": "test-value"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/777602a6-03b6-477a-b7e3-8f85ff2cabd8*DEB95F2010C44F0468AD396576019F03E795EE8A4D1A09CEDA28A3B8D94BB5AB?api-version=2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022bf00085f-0000-0100-0000-64946c490000\u0022",
        "Location": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/777602a6-03b6-477a-b7e3-8f85ff2cabd8*DEB95F2010C44F0468AD396576019F03E795EE8A4D1A09CEDA28A3B8D94BB5AB?api-version=2023-05-01-preview",
        "mise-correlation-id": "ffb5d913-d861-4467-a0c7-716fa619581f",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/777602a6-03b6-477a-b7e3-8f85ff2cabd8*DEB95F2010C44F0468AD396576019F03E795EE8A4D1A09CEDA28A3B8D94BB5AB?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e502deb5-0000-0100-0000-64946c480000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/777602a6-03b6-477a-b7e3-8f85ff2cabd8*DEB95F2010C44F0468AD396576019F03E795EE8A4D1A09CEDA28A3B8D94BB5AB",
        "name": "777602a6-03b6-477a-b7e3-8f85ff2cabd8*DEB95F2010C44F0468AD396576019F03E795EE8A4D1A09CEDA28A3B8D94BB5AB",
        "resourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-4AE3464D/providers/Microsoft.NetworkCloud/racks/aa1234",
        "status": "Accepted",
        "startTime": "2023-06-22T15:44:08.1335794Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/777602a6-03b6-477a-b7e3-8f85ff2cabd8*DEB95F2010C44F0468AD396576019F03E795EE8A4D1A09CEDA28A3B8D94BB5AB?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e502e4b5-0000-0100-0000-64946c4c0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/777602a6-03b6-477a-b7e3-8f85ff2cabd8*DEB95F2010C44F0468AD396576019F03E795EE8A4D1A09CEDA28A3B8D94BB5AB",
        "name": "777602a6-03b6-477a-b7e3-8f85ff2cabd8*DEB95F2010C44F0468AD396576019F03E795EE8A4D1A09CEDA28A3B8D94BB5AB",
        "resourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-4AE3464D/providers/Microsoft.NetworkCloud/racks/aa1234",
        "status": "Succeeded",
        "startTime": "2023-06-22T15:44:08.1335794Z",
        "endTime": "2023-06-22T15:44:12.1188393Z",
        "properties": null
      }
    },
[...]
