{
  "Entries": [
    {
      "RequestUri": "https://eastus2.chriss-eu2.managedhsm-int.azure-int.net/providers/Microsoft.Authorization/roleDefinitions?api-version=7.2-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows-ppe.net/f686d426-8d16-42db-81b7-ab578e110ccd\u0022, resource=\u0022https://managedhsm-int.azure-int.net\u0022",
        "x-ms-build-version": "1.0.20200827-3-83ffcc79-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": "OK"
    },
    {
      "RequestUri": "https://eastus2.chriss-eu2.managedhsm-int.azure-int.net/providers/Microsoft.Authorization/roleDefinitions?api-version=7.2-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20200827-3-83ffcc79-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/a290e904-7015-4bba-90c8-60543313cdb4",
            "name": "a290e904-7015-4bba-90c8-60543313cdb4",
            "properties": {
              "assignableScopes": [
                "/"
              ],
              "description": "",
              "permissions": [
                {
                  "actions": [],
                  "dataActions": [
                    "Microsoft.KeyVault/managedHsm/keys/read/action",
                    "Microsoft.KeyVault/managedHsm/keys/write/action",
                    "Microsoft.KeyVault/managedHsm/keys/deletedKeys/read/action",
                    "Microsoft.KeyVault/managedHsm/keys/deletedKeys/recover/action",
                    "Microsoft.KeyVault/managedHsm/keys/backup/action",
                    "Microsoft.KeyVault/managedHsm/keys/restore/action",
                    "Microsoft.KeyVault/mana[...]
    {
      "RequestUri": "https://eastus2.chriss-eu2.managedhsm-int.azure-int.net/keys/providers/Microsoft.Authorization/roleAssignments/e7ae2aff-eb17-4c9d-84f0-d12f7f468f16?api-version=7.2-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/21dbd100-6940-42c2-9190-5d6cb909625b",
          "principalId": "693a17da-7022-4cdd-9d4e-4e72e4ad449d"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "310"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Authorization/roleAssignments/e7ae2aff-eb17-4c9d-84f0-d12f7f468f16",
        "name": "e7ae2aff-eb17-4c9d-84f0-d12f7f468f16",
        "properties": {
          "principalId": "693a17da-7022-4cdd-9d4e-4e72e4ad449d",
          "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/21dbd100-6940-42c2-9190-5d6cb909625b",
          "scope": "/keys"
        },
        "type": "Microsoft.Authorization/roleAssignments"
      }
    },
    {
      "RequestUri": "https://eastus2.chriss-eu2.managedhsm-int.azure-int.net/keys/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows-ppe.net/f686d426-8d16-42db-81b7-ab578e110ccd\u0022, resource=\u0022https://managedhsm-int.azure-int.net\u0022",
        "x-ms-build-version": "1.0.20200827-3-83ffcc79-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
    {
      "RequestUri": "https://eastus2.chriss-eu2.managedhsm-int.azure-int.net/keys/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20200827-3-83ffcc79-develop",
        "x-ms-server-latency": "221"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1598970291,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1598970291
            },
            "kid": "https://eastus2.chriss-eu2.managedhsm-int.azure-int.net/keys/rsa-1"
          }
        ]
      }
    },
    {
      "RequestUri": "https://eastus2.chriss-eu2.managedhsm-int.azure-int.net/keys/rsa-1/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20200827-3-83ffcc79-develop",
        "x-ms-server-latency": "143"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1598970291,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1598970291
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://eastus2.chriss-eu2.managedhsm-int.azure-int.net/keys/rsa-1/ebba8d16972a096fa765aeccd263d667",
          "kty": "RSA-HSM",
          "n": "j_QtVIhfpncf4uyO_w-6GJCed9XWEEFsVc7G7pB9rBRzDlK_4_JSCea3v-79rpQceIrNKc-l0QrGwOSsxFi-RD63DmloXVK-4j1Bj56BK_VQu2DD83QK-3eoAKuE4GusVgVOpM_RyHyYGH6OEHQzIoVhpDPWGb4m8d-2O6aHh2c9VIuQXMh9SSRATh76ZYaVPNiSpDtqKxSJxgbOTJcHzQOKMyJ2fidl2ib4foCChLuZ8hn_30i_YwDEj5Edn6hjNSDGmW5d3iT5IFJb-RP13anebrgNBEpCZ07dLsf1H30LAfQ24BCWZS0z6fXwgidM3wXE6pQWSTTZpiY73UXusQ"
        }
      }
    },
    {
      "RequestUri": "https://eastus2.chriss-eu2.managedhsm-int.azure-int.net/keys/rsa-1/providers/Microsoft.Authorization/roleAssignments/e7ae2aff-eb17-4c9d-84f0-d12f7f468f16?api-version=7.2-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/21dbd100-6940-42c2-9190-5d6cb909625b",
          "principalId": "693a17da-7022-4cdd-9d4e-4e72e4ad449d"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "473"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Authorization/roleAssignments/e7ae2aff-eb17-4c9d-84f0-d12f7f468f16",
        "name": "e7ae2aff-eb17-4c9d-84f0-d12f7f468f16",
        "properties": {
          "principalId": "693a17da-7022-4cdd-9d4e-4e72e4ad449d",
          "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/21dbd100-6940-42c2-9190-5d6cb909625b",
          "scope": "/keys/rsa-1"
        },
        "type": "Microsoft.Authorization/roleAssignments"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://eastus2.chriss-eu2.managedhsm-int.azure-int.net",
    "CLIENT_OBJECTID": "693a17da-7022-4cdd-9d4e-4e72e4ad449d",
    "RandomSeed": "1588834660"
  }
}