{
  "Entries": [
    {
      "RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/shares/nfs1/refresh?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/shares/nfs1/operationResults/87a6445f-c2cd-4a7b-a522-b6d5e1077683?api-version=2023-07-01"
        ],
        "Retry-After": [
          "30"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/shares/nfs1/operationResults/87a6445f-c2cd-4a7b-a522-b6d5e1077683?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/operationsStatus/87a6445f-c2cd-4a7b-a522-b6d5e1077683?api-version=2019-07-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/operationsStatus/87a6445f-c2cd-4a7b-a522-b6d5e1077683?api-version=2019-07-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/operationsStatus/87a6445f-c2cd-4a7b-a522-b6d5e1077683?api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/operationsStatus/87a6445f-c2cd-4a7b-a522-b6d5e1077683\",\r\n  \"name\": \"87a6445f-c2cd-4a7b-a522-b6d5e1077683\",\r\n  \"type\": \"Microsoft.DataBoxEdge/dataBoxEdgeDevices/jobs\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2023-11-02T08:11:31Z\",\r\n  \"percentComplete\": 0,\r\n  \"properties\": {\r\n    \"jobType\": \"RefreshShare\",\r\n    \"currentStage\": \"Unknown\",\r\n    \"totalRefreshErrors\": 0,\r\n    \"shareId\": \"/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/shares/nfs1\",\r\n    \"folder\": \"\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/operationsStatus/87a6445f-c2cd-4a7b-a522-b6d5e1077683?api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/operationsStatus/87a6445f-c2cd-4a7b-a522-b6d5e1077683\",\r\n  \"name\": \"87a6445f-c2cd-4a7b-a522-b6d5e1077683\",\r\n  \"type\": \"Microsoft.DataBoxEdge/dataBoxEdgeDevices/jobs\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2023-11-02T08:11:31Z\",\r\n  \"endTime\": \"2023-11-02T08:16:31Z\",\r\n  \"percentComplete\": 100,\r\n  \"properties\": {\r\n    \"jobType\": \"RefreshShare\",\r\n    \"currentStage\": \"Unknown\",\r\n    \"totalRefreshErrors\": 0,\r\n    \"errorManifestFile\": \"__Microsoft Data Box Edge__\\\\Refresh\\\\Errors.xml\",\r\n    \"shareId\": \"/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/sdk-refresh-2023/shares/nfs1\",\r\n    \"folder\": \"\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
