{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/sdktestrg-kv-6216?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "canadacentral"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-6216",
        "name": "sdktestrg-kv-6216",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "canadacentral",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-6216/providers/Microsoft.KeyVault/managedHSMs/sdktest-vault-6316?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "initialAdminObjectIds": [
            "fdc9f735-07d7-441f-92ab-f95b1c49185a"
          ],
          "enableSoftDelete": true,
          "softDeleteRetentionInDays": 10,
          "enablePurgeProtection": false,
          "createMode": "default",
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Deny"
          },
          "publicNetworkAccess": "Disabled"
        },
        "sku": {
          "family": "B",
          "name": "Standard_B1"
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "location": "canadacentral"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "sku": {
          "family": "B",
          "name": "Standard_B1"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-6216/providers/Microsoft.KeyVault/managedHSMs/sdktest-vault-6316",
        "name": "sdktest-vault-6316",
        "type": "Microsoft.KeyVault/managedHSMs",
        "location": "canadacentral",
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "systemData": {
          "createdBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "createdByType": "Application",
          "createdAt": "2022-04-19T10:16:15.386Z",
          "lastModifiedBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-04-19T10:16:15.386Z"
        },
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "hsmUri": "https://sdktest-vault-6316.managedhsm.azure.net",
          "initialAdminObjectIds": [
            "fdc9f735-07d7-441f-92ab-f95b1c49185a"
          ],
          "enableSoftDelete": true,
          "softDeleteRetentionInDays": 10,
          "enablePurgeProtection": false,
          "provisioningState": "Provisioning",
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Deny",
            "ipRules": [],
            "virtualNetworkRules": []
          },
          "publicNetworkAccess": "Disabled",
          "regions": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-6216/providers/Microsoft.KeyVault/managedHSMs?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "family": "B",
              "name": "Standard_B1"
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-6216/providers/Microsoft.KeyVault/managedHSMs/sdktest-vault-6316",
            "name": "sdktest-vault-6316",
            "type": "Microsoft.KeyVault/managedHSMs",
            "location": "canadacentral",
            "tags": {
              "tag1": "value1",
              "tag2": "value2",
              "tag3": "value3"
            },
            "systemData": {
              "createdBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
              "createdByType": "Application",
              "createdAt": "2022-04-19T10:16:15.386Z",
              "lastModifiedBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-04-19T10:16:15.386Z"
            },
            "properties": {
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "hsmUri": "https://sdktest-vault-6316.managedhsm.azure.net/",
              "initialAdminObjectIds": [
                "fdc9f735-07d7-441f-92ab-f95b1c49185a"
              ],
              "enableSoftDelete": true,
              "softDeleteRetentionInDays": 10,
              "enablePurgeProtection": false,
              "provisioningState": "Succeeded",
              "statusMessage": "The Managed HSM is provisioned and ready to use.",
              "networkAcls": {
                "bypass": "AzureServices",
                "defaultAction": "Deny",
                "ipRules": [],
                "virtualNetworkRules": []
              },
              "publicNetworkAccess": "Disabled",
              "regions": []
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-6216/providers/Microsoft.KeyVault/managedHSMs/sdktest-vault-6316?api-version=2021-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/canadacentral/managedHsmOperationResults/2ff9af1e-e735-4ddc-b621-7bd342e40f48?api-version=2021-10-01",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/canadacentral/managedHsmOperationResults/2ff9af1e-e735-4ddc-b621-7bd342e40f48?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/canadacentral/managedHsmOperationResults/2ff9af1e-e735-4ddc-b621-7bd342e40f48?api-version=2021-10-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/canadacentral/managedHsmOperationResults/2ff9af1e-e735-4ddc-b621-7bd342e40f48?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11968"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "CLIENT_ID": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
    "ObjectId": "fdc9f735-07d7-441f-92ab-f95b1c49185a",
    "RandomSeed": "1085207743",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
