{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault",
        "namespace": "Microsoft.KeyVault",
        "authorizations": [
          {
            "applicationId": "cfa8b339-82a2-471a-a3c9-0fc0be7a4093",
            "roleDefinitionId": "1cf9858a-28a2-4228-abba-94e606305b95"
          },
          {
            "applicationId": "589d5083-6f11-4d30-a62a-a4b316a14abf"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "vaults",
            "locations": [
              "North Central US",
              "East US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "East US 2",
              "Central US",
              "South Central US",
              "West US",
              "Japan East",
              "Japan West",
              "Australia East",
              "Australia Southeast",
              "Brazil South",
              "Central India",
              "South India",
              "West India",
              "Canada Central",
              "Canada East",
              "UK South",
              "UK West",
              "West Central US",
              "West US 2",
              "Korea Central",
              "Korea South",
              "France Central",
              "Australia Central",
              "UAE North",
              "South Africa North",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "West US 3",
              "Jio India West"
            ],
            "apiVersions": [
              "2021-04-01-preview",
              "2020-04-01-preview",
              "2019-09-01",
              "2018-02-14-preview",
              "2018-02-14",
              "2016-10-01",
              "2015-06-01"
            ],
            "defaultApiVersion": "2019-09-01",
            "apiProfiles": [
              {
                "profileVersion": "2019-03-01-hybrid",
                "apiVersion": "2016-10-01"
              },
              {
                "profileVersion": "2018-03-01-hybrid",
                "apiVersion": "2016-10-01"
              },
              {
                "profileVersion": "2018-06-01-profile",
                "apiVersion": "2016-10-01"
              }
            ],
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "vaults/secrets",
            "locations": [
              "North Central US",
              "East US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "East US 2",
              "Central US",
              "South Central US",
              "West US",
              [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/sdktestrg9527?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "northcentralus",
        "tags": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg9527",
        "name": "sdktestrg9527",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "northcentralus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg9527/providers/Microsoft.KeyVault/managedHSMs/sdktestvault3434?api-version=2021-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "initialAdminObjectIds": [
            "7bee3764-dbea-4729-9c33-446f321aa721"
          ],
          "enableSoftDelete": true,
          "softDeleteRetentionInDays": 10,
          "enablePurgeProtection": false,
          "createMode": "default",
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Deny"
          },
          "publicNetworkAccess": "Disabled"
        },
        "sku": {
          "family": "B",
          "name": "Standard_B1"
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "location": "westus"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "sku": {
          "family": "B",
          "name": "Standard_B1"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg9527/providers/Microsoft.KeyVault/managedHSMs/sdktestvault3434",
        "name": "sdktestvault3434",
        "type": "Microsoft.KeyVault/managedHSMs",
        "location": "westus",
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "1970-01-19T19:57:09.311Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "1970-01-19T19:57:09.311Z"
        },
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "hsmUri": "https://sdktestvault3434.managedhsm.azure.net",
          "initialAdminObjectIds": [
            "7bee3764-dbea-4729-9c33-446f321aa721"
          ],
          "enableSoftDelete": true,
          "softDeleteRetentionInDays": 10,
          "enablePurgeProtection": false,
          "provisioningState": "Provisioning",
          "statusMessage": "Resource creation in progress. Allocating hardware...",
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Deny",
            "ipRules": [],
            "virtualNetworkRules": []
          },
          "publicNetworkAccess": "Disabled"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg9527/providers/Microsoft.KeyVault/managedHSMs?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11833"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "family": "B",
              "name": "Standard_B1"
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg9527/providers/Microsoft.KeyVault/managedHSMs/sdktestvault3434",
            "name": "sdktestvault3434",
            "type": "Microsoft.KeyVault/managedHSMs",
            "location": "westus",
            "tags": {
              "tag1": "value1",
              "tag2": "value2",
          [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg9527/providers/Microsoft.KeyVault/managedHSMs/sdktestvault3434?api-version=2021-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg9527/providers/Microsoft.KeyVault/managedhsms/sdktestvault3434?api-version=2021-04-01-preview\u0026kv-operation=eyJjb2RlIjoiU29mdERlbGV0ZU1hbmFnZWRIc21Bc3luYyJ9",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg9527/providers/Microsoft.KeyVault/managedhsms/sdktestvault3434?api-version=2021-04-01-preview\u0026kv-operation=eyJjb2RlIjoiU29mdERlbGV0ZU1hbmFnZWRIc21Bc3luYyJ9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg9527/providers/Microsoft.KeyVault/managedhsms/sdktestvault3434?api-version=2021-04-01-preview\u0026kv-operation=eyJjb2RlIjoiU29mdERlbGV0ZU1hbmFnZWRIc21Bc3luYyJ9",
        "x-ms-ratelimit-remaining-subscription-reads": "11832"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg9527/providers/Microsoft.KeyVault/managedhsms/sdktestvault3434?api-version=2021-04-01-preview\u0026kv-operation=eyJjb2RlIjoiU29mdERlbGV0ZU1hbmFnZWRIc21Bc3luYyJ9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11790"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "CLIENT_ID": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
    "ObjectId": "7bee3764-dbea-4729-9c33-446f321aa721",
    "RandomSeed": "1590552275",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}