{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/sdktestrg-kv-6808?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "canadacentral"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-6808",
        "name": "sdktestrg-kv-6808",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "canadacentral",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-6808/providers/Microsoft.KeyVault/managedHSMs/sdktest-mhsm-1177?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "initialAdminObjectIds": [
            "d8d75902-f0d1-442d-b310-62e23b1ff5ec"
          ],
          "enableSoftDelete": true,
          "softDeleteRetentionInDays": 7,
          "enablePurgeProtection": false,
          "createMode": "default",
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Deny"
          },
          "publicNetworkAccess": "Disabled"
        },
        "sku": {
          "family": "B",
          "name": "Standard_B1"
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "location": "canadacentral"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "sku": {
          "family": "B",
          "name": "Standard_B1"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-6808/providers/Microsoft.KeyVault/managedHSMs/sdktest-mhsm-1177",
        "name": "sdktest-mhsm-1177",
        "type": "Microsoft.KeyVault/managedHSMs",
        "location": "canadacentral",
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "systemData": {
          "createdBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "createdByType": "Application",
          "createdAt": "2022-04-22T07:44:00.52Z",
          "lastModifiedBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-04-22T07:44:00.52Z"
        },
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "hsmUri": "https://sdktest-mhsm-1177.managedhsm.azure.net",
          "initialAdminObjectIds": [
            "d8d75902-f0d1-442d-b310-62e23b1ff5ec"
          ],
          "enableSoftDelete": true,
          "softDeleteRetentionInDays": 7,
          "enablePurgeProtection": false,
          "provisioningState": "Provisioning",
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Deny",
            "ipRules": [],
            "virtualNetworkRules": []
          },
          "publicNetworkAccess": "Disabled",
          "regions": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-6808/providers/Microsoft.KeyVault/managedHSMs?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "family": "B",
              "name": "Standard_B1"
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-6808/providers/Microsoft.KeyVault/managedHSMs/sdktest-mhsm-1177",
            "name": "sdktest-mhsm-1177",
            "type": "Microsoft.KeyVault/managedHSMs",
            "location": "canadacentral",
            "tags": {
              "tag1": "value1",
              "tag2": "value2",
              "tag3": "value3"
            },
            "systemData": {
              "createdBy": "18521949-6d6e-454b-b208-4d3141df8607",
              "createdByType": "Application",
              "createdAt": "2022-04-22T07:44:00.52Z",
              "lastModifiedBy": "18521949-6d6e-454b-b208-4d3141df8607",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-04-22T07:44:00.52Z"
            },
            "properties": {
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "hsmUri": "https://sdktest-mhsm-1177.managedhsm.azure.net/",
              "initialAdminObjectIds": [
                "d8d75902-f0d1-442d-b310-62e23b1ff5ec"
              ],
              "enableSoftDelete": true,
              "softDeleteRetentionInDays": 7,
              "enablePurgeProtection": false,
              "provisioningState": "Succeeded",
              "statusMessage": "The Managed HSM is provisioned and ready to use.",
              "networkAcls": {
                "bypass": "AzureServices",
                "defaultAction": "Deny",
                "ipRules": [],
                "virtualNetworkRules": []
              },
              "publicNetworkAccess": "Disabled",
              "regions": []
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-6808/providers/Microsoft.KeyVault/managedHSMs/sdktest-mhsm-1177?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "initialAdminObjectIds": [
            "d8d75902-f0d1-442d-b310-62e23b1ff5ec"
          ],
          "enableSoftDelete": true,
          "softDeleteRetentionInDays": 7,
          "enablePurgeProtection": false,
          "createMode": "default",
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Allow"
          },
          "publicNetworkAccess": "Enabled"
        },
        "sku": {
          "family": "B",
          "name": "Standard_B1"
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "location": "canadacentral"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/canadacentral/managedHsmOperationResults/06c79140-27d8-4409-a08f-61681d2e13fc?api-version=2021-10-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/canadacentral/managedHsmOperationResults/06c79140-27d8-4409-a08f-61681d2e13fc?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/canadacentral/managedHsmOperationResults/06c79140-27d8-4409-a08f-61681d2e13fc?api-version=2021-10-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11969"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-6808/providers/Microsoft.KeyVault/managedHSMs/sdktest-mhsm-1177?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The specified resource does not exist. Follow this link for more information: https://go.microsoft.com/fwlink/?linkid=2147446"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/canadacentral/deletedManagedHSMs/sdktest-mhsm-1177?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/canadacentral/deletedManagedHSMs/sdktest-mhsm-1177",
        "name": "sdktest-mhsm-1177",
        "type": "Microsoft.Keyvault/deletedManagedHSMs",
        "properties": {
          "mhsmId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-6808/providers/Microsoft.KeyVault/managedHSMs/sdktest-mhsm-1177",
          "location": "canadacentral",
          "deletionDate": "2022-04-22T08:08:04Z",
          "scheduledPurgeDate": "2022-04-29T08:08:04Z",
          "purgeProtectionEnabled": false,
          "tags": {
            "tag1": "value1",
            "tag2": "value2",
            "tag3": "value3"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/canadacentral/deletedManagedHSMs/sdktest-mhsm-1177/purge?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/canadacentral/managedHsmOperationResults/d7a65b07-76f3-470c-a19e-63ea8f0ed2c2?api-version=2021-10-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/canadacentral/managedHsmOperationResults/d7a65b07-76f3-470c-a19e-63ea8f0ed2c2?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "CLIENT_ID": "18521949-6d6e-454b-b208-4d3141df8607",
    "ObjectId": "d8d75902-f0d1-442d-b310-62e23b1ff5ec",
    "RandomSeed": "1306107756",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
