root = true

[*]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
# Require explicit types for samples.
csharp_style_var_for_built_in_types = false:error
csharp_style_var_when_type_is_apparent = false:error
csharp_style_var_elsewhere = false:error

[*.{csproj,props,targets}]
indent_size = 2

[*.json]
indent_size = 2

[*.sh]
end_of_line = lf

[*.{yml,yaml}]
indent_size = 2
