{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejaazsearch.search.windows.net/indexes?api-version=2021-04-30-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "kswwhqpx",
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": false,
            "sortable": false,
            "facetable": false
          },
          {
            "name": "name",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": true,
            "facetable": false,
            "analyzer": "en.lucene"
          },
          {
            "name": "year",
            "type": "Edm.Int32",
            "key": false,
            "retrievable": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },
          {
            "name": "rating",
            "type": "Edm.Double",
            "key": false,
            "retrievable": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "genre",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": false,
            "facetable": true,
            "analyzer": "en.lucene",
            "normalizer": "lowercase"
          }
        ],
        "suggesters": [
          {
            "name": "n",
            "searchMode": "analyzingInfixMatching",
            "sourceFields": [
              "name"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "689",
        "ETag": "W/\u00220x8DAF26C59576010\u0022",
        "Location": "https://azs-net-shrejaazsearch.search.windows.net/indexes(\u0027kswwhqpx\u0027)?api-version=2021-04-30-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejaazsearch.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\u00220x8DAF26C59576010\u0022",
        "name": "kswwhqpx",
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "searchable": false,
            "filterable": false,
            "retrievable": true,
            "sortable": false,
            "facetable": false,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "synonymMaps": []
          },
          {
            "name": "name",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "retrievable": true,
            "sortable": true,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": "en.lucene",
            "normalizer": null,
            "synonymMaps": []
          },
          {
            "name": "year",
[...]
    {
      "RequestUri": "https://azs-net-shrejaazsearch.search.windows.net/indexes(\u0027kswwhqpx\u0027)/docs/search.index?api-version=2021-04-30-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "id": "147ca0f2e7c74db6a256e1b2b469d48b",
            "name": "The Lord of the Rings: The Return of the King",
            "genre": "Fantasy",
            "year": 2003,
            "rating": 9.0999999999999996
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "97",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "key": "147ca0f2e7c74db6a256e1b2b469d48b",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-shrejaazsearch.search.windows.net/indexes(\u0027kswwhqpx\u0027)?api-version=2021-04-30-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "189"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "511290995",
    "SearchIndexName": "kswwhqpx",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejaazsearch"
  }
}
