# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/                                           @AlexGhiondea

# Core
/sdk/core/                                      @pakrym @KrzysztofCwalina

# Extensions
/sdk/extensions/                                @parkym

# Service teams
/sdk/appconfiguration/                          @annelo-msft @AlexanderSher

/sdk/batch/                                     @bgklein @xingwu1 

/sdk/cognitiveservices/language.textanalytics/  @assafi 
/sdk/cognitiveservices/vision.computervision/   @toothache
/sdk/cognitiveservices/vision.face/             @TFR258 

/sdk/digitaltwins/                              @drwill-ms @timtay-microsoft @abhipsaMisra @vinagesh @azabbasi @prmathur-microsoft @bikamani @barustum

/sdk/eventgrid/                                 @Kishp01 @ahamad-MS

/sdk/eventhub/                                  @serkantkaraca @jsquire @kinelski
/sdk/eventhub/azure.messaging.eventhubs/        @jsquire @kinelski

/sdk/identity/                                  @schaabs

/sdk/iot/                                       @drwill-ms @timtay-microsoft @abhipsaMisra @vinagesh @azabbasi @prmathur-microsoft @bikamani @barustum

/sdk/keyvault/                                  @schaabs @heaths

/sdk/search/                                    @brjohnstmsft @arv100kri @bleroy @tg-msft @heaths
/sdk/search/Microsoft.*/                        @brjohnstmsft @arv100kri @bleroy

/sdk/servicebus/                                @JoshLove-msft @ShivangiReja @jsquire @MiYanni
/sdk/servicebus/Microsoft.*/                    @nemakam

/sdk/storage/                                   @amishra-dev @seanmcc-msft @amnguye @kasobol-msft @tg-msft

/sdk/tables/                                    @christothes

/sdk/textanalytics/                             @annelo-msft @maririos

/sdk/formrecognizer/                            @annelo-msft @kinelski @maririos

# Smoke tests
/common/SmokeTests/                             @AlexGhiondea @schaabs @heaths @tg-msft @jsquire

# Management Plane
/**/*Management*/                               @isra-fel @erich-wang

# Reviewers to double check any API changes
/sdk/**/api/                                    @KrzysztofCwalina @pakrym @tg-msft

# Update AutoRest C#
/eng/CodeGeneration.targets                     @pakrym @ShivangiReja

###########
# Eng Sys
###########
/eng/           @weshaggard @chidozieononiwu @mitchdenny @danieljurek
/eng/mgmt/      @isra-fel @erich-wang
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny
