# See for instructions on this file https://help.github.com/articles/about-codeowners/

# Instructions for subscribing to scheduled build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/engineering-system/codeowners-notifications.md
