# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @AlexGhiondea

# Core
/sdk/core/ @pakrym

# Service teams
/sdk/appconfiguration/ @annelo-msft

/sdk/batch/ @matthchr 

/sdk/cognitiveservices/language.textanalytics/ @assafi 
/sdk/cognitiveservices/vision.computervision/ @toothache
/sdk/cognitiveservices/vision.face/ @TFR258 

/sdk/eventgrid/ @kalyanaj 

/sdk/eventhub/ @serkantkaraca @jsquire @kinelski
/sdk/eventhub/azure.messaging.eventhubs/ @jsquire @kinelski

/sdk/identity/azure.identity/ @schaabs

/sdk/keyvault/ @schaabs @heaths

/sdk/search/ @brjohnstmsft @arv100kri @bleroy
/sdk/servicebus/ @nemakam @jsquire
/sdk/storage/ @seanmcc-msft @amnguye @tg-msft @JoshLove-msft
# Management Plane
/**/*Management*/ @erich-wang

###########
# Eng Sys
###########
/eng/           @weshaggard @chidozieononiwu @mitchdenny @danieljurek
/eng/mgmt/      @erich-wang
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny
