{
  "InitialIssueTriage": "On",
  "ManualIssueTriage": "On",
  "ServiceAttention": "On",
  "ManualTriageAfterExternalAssignment": "On",
  "RequireAttentionForNonMilestone": "On",
  "AuthorFeedbackNeeded": "On",
  "IssueAddressed": "On",
  "IssueAddressedReset": "On",
  "AuthorFeedback": "On",
  "ReopenIssue": "On",
  "DeclineToReopenIssue": "On",
  "IssueAddressedCommands": "On",
  "PullRequestTriage": "On",
  "ResetApprovalsForUntrustedChanges": "On",
  "ReopenPullRequest": "On",
  "ResetIssueActivity": "On",
  "ResetPullRequestActivity": "On",
  "CloseStaleIssues": "On",
  "CloseStalePullRequests": "On",
  "IdentifyStaleIssues": "On",
  "IdentifyStalePullRequests": "On",
  "CloseAddressedIssues": "On",
  "LockClosedIssues": "On"
}
