{
  "Entries": [
    {
      "RequestUri": "https://multi-ad-test-uscx-3.cognitiveservices.azure.com/anomalydetector/v1.1/multivariate/models",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "models": [
          {
            "modelId": "b17c6fde-6ef8-11ed-a1b6-8e0e9f689f05",
            "createdTime": "2022-11-28T08:43:12Z",
            "lastUpdatedTime": "2022-11-28T08:44:02Z",
            "modelInfo": {
              "dataSource": "https://mvaddataset.blob.core.windows.net/sample-multitable/sample_data_20_3000",
              "dataSchema": "MultiTable",
              "startTime": "2021-01-02T00:00:00Z",
              "endTime": "2021-01-02T05:00:00Z",
              "displayName": "SampleRequest",
              "slidingWindow": 200,
              "alignPolicy": {
                "alignMode": "Outer",
                "fillNAMethod": "Linear",
                "paddingValue": 0.0
              },
              "status": "READY",
              "errors": [],
              "diagnosticsInfo": {
                "modelState": {
                  "epochIds": [
                    10,
                    20,
                    30,
                    40,
                    50,
                    60,
                    70,
                    80,
                    90,
                    100
                  ],
                  "trainLosses": [
                    3.024805575609207,
                    1.6303358376026154,
                    1.2970665097236633,
                    1.4798658192157745,
                    1.3931093215942383,
                    1.2897053956985474,
                    1.2366772890090942,
                    1.2081778943538666,
                    1.219917356967926,
                    1.2086971998214722
                  ],
                  "validationLosses": [
                    0.0,
                    0.0,
                    0.0,
                    0.0,
                    0.0,
                    0.0,
                    0.0,
                    0.0,
                    0.0,
                    0.0
                  ],
                  "latenciesInSeconds": [
                    0.42853689193725586,
                    0.43964076042175293,
                    0.45970845222473145,
                    0.4330101013183594,
                    0.44196057319641113,
                    0.4225285053253174,
                    0.4233384132385254,
                    0.4440748691558838,
                    0.4538547992706299,
                    0.46767330169677734
                  ]
                },
                "variableStates": [
                  {
                    "variable": "series_0",
                    "filledNARatio": 0.0,
                    "effectiveCount": 301,
                    "firstTimestamp": "2021-01-02T00:00:00Z",
                    "lastTimestamp": "2021-01-02T05:00:00Z"
                  },
                  {
                    "variable": "series_1",
                    "filledNARatio": 0.0,
                    "effectiveCount": 301,
                    "firstTimestamp": "2021-01-02T00:00:00Z",
                    "lastTimestamp": "2021-01-02T05:00:00Z"
                  },
                  {
                    "variable": "series_10",
                    "filledNARatio": 0.0,
                    "effectiveCount": 301,
             [...]
