{
  "Entries": [
    {
      "RequestUri": "https://multi-ad-test-uscx-3.cognitiveservices.azure.com/anomalydetector/v1.1/timeseries/last/detect",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "series": [
          {
            "timestamp": "1972-01-01T00:00:00.0000000Z"
          },
          {
            "timestamp": "1972-02-01T00:00:00.0000000Z"
          },
          {
            "timestamp": "1972-03-01T00:00:00.0000000Z"
          },
          {
            "timestamp": "1972-04-01T00:00:00.0000000Z"
          },
          {
            "timestamp": "1972-05-01T00:00:00.0000000Z"
          },
          {
            "timestamp": "1972-06-01T00:00:00.0000000Z"
          },
          {
            "timestamp": "1972-07-01T0[...]
