{
  "Entries": [
    {
      "RequestUri": "https://shivangitest.cognitiveservices.azure.com/anomalydetector/v1.0/timeseries/entire/detect",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "series": [
          {
            "timestamp": "1972-01-01T00:00:00Z",
            "value": 826
          },
          {
            "timestamp": "1972-02-01T00:00:00Z",
            "value": 799
          },
          {
            "timestamp": "1972-03-01T00:00:00Z",
            "value": 890
          },
          {
            "timestamp": "1972-04-01T00:00:00Z",
            "value": 900
          },
          {
            "timestamp": "1972-05-01T00:00:00Z",
            "value": 961
          },
          {
            "timestamp": "1972-06-01T00:00:00Z",
            "value": 935
[...]
