{
  "Entries": [
    {
      "RequestUri": "https://sanitized.eastus.dev.communications.azure.net/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "2dF/Nc3PKUuoWVsJagLDYQ.0",
        "X-Processing-Time": "117ms"
      },
      "ResponseBody": {
        "id": "8:acs:69545f61-6ff4-4652-8df7-3ce0e173e06f_00000005-1fa6-ccfd-8a72-5a3a0d0000e8"
      }
    },
    {
      "RequestUri": "https://sanitized.eastus.dev.communications.azure.net/identities/8%3aacs%3a69545f61-6ff4-4652-8df7-3ce0e173e06f_00000005-1fa6-ccfd-8a72-5a3a0d0000e8/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "J\u002BdoRQjtFVYLx3qOvzptwBLjQWqy6OEWEEk1TY1\u002BrT4="
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "f2\u002Bv/Rk86k\u002BTsCohSZWzYw.0",
        "X-Processing-Time": "246ms"
      },
      "ResponseBody": {
        "id": "8:acs:69545f61-6ff4-4652-8df7-3ce0e173e06f_00000005-1fa6-ccfd-8a72-5a3a0d0000e8",
        "token": "Sanitized",
        "expiresOn": "2020-09-12T17:44:21.0367579-07:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.eastus.dev.communications.azure.net/chat/threads?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Thread Async from C# sdk",
        "members": [
          {
            "id": "8:acs:69545f61-6ff4-4652-8df7-3ce0e173e06f_00000005-1fa6-ccfd-8a72-5a3a0d0000e8"
          },
          {
            "id": "8:acs:69545f61-6ff4-4652-8df7-3ce0e173e06f_00000005-1fa6-cf6c-8a72-5a3a0d0000e9"
          }
        ]
      },
      "StatusCode": 207,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://168.61.22.92/chat/threads/19%3A73bcf1edc1a649d58625185d1c13351c@thread.v2",
        "MS-CV": "Y2XstOIR\u002BEC0JnoUMcUtig.0",
        "X-Processing-Time": "1750ms"
      },
      "ResponseBody": {
        "multipleStatus": [
          {
            "id": "8:acs:69545f61-6ff4-4652-8df7-3ce0e173e06f_00000005-1fa6-ccfd-8a72-5a3a0d0000e8",
            "statusCode": 201,
            "type": "ThreadMember"
          },
          {
            "id": "8:acs:69545f61-6ff4-4652-8df7-3ce0e173e06f_00000005-1fa6-cf6c-8a72-5a3a0d0000e9",
            "statusCode": 201,
            "type": "ThreadMember"
          },
          {
            "id": "19:73bcf1edc1a649d58625185d1c13351c@thread.v2",
            "statusCode": 201,
            "type": "Thread"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.eastus.dev.communications.azure.net/chat/threads/19%3a73bcf1edc1a649d58625185d1c13351c%40thread.v2?api-version=2020-09-21-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Updated topic - C# sdk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-09-21-preview2",
        "MS-CV": "6cM3jxNuz0qRogsXSUaWuA.0",
        "X-Processing-Time": "1210ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://sanitized.eastus.dev.communications.azure.net/chat/threads/19%3a73bcf1edc1a649d58625185d1c13351c%40thread.v2?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Z7/UFBS0uEKhHDCOtLAhaA.0",
        "X-Processing-Time": "341ms"
      },
      "ResponseBody": {
        "id": "19:73bcf1edc1a649d58625185d1c13351c@thread.v2",
        "topic": "Updated topic - C# sdk",
        "createdOn": "2020-09-12T00:44:24Z",
        "createdBy": "8:acs:69545f61-6ff4-4652-8df7-3ce0e173e06f_00000005-1fa6-ccfd-8a72-5a3a0d0000e8",
        "members": [
          {
            "id": "8:acs:69545f61-6ff4-4652-8df7-3ce0e173e06f_00000005-1fa6-ccfd-8a72-5a3a0d0000e8",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:69545f61-6ff4-4652-8df7-3ce0e173e06f_00000005-1fa6-cf6c-8a72-5a3a0d0000e9",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.eastus.dev.communications.azure.net/chat/threads?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "0\u002BknpRb6TE\u002BQ5BMmlyjOrw.0",
        "X-Processing-Time": "389ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:73bcf1edc1a649d58625185d1c13351c@thread.v2",
            "topic": "Updated topic - C# sdk",
            "isDeleted": false,
            "lastMessageReceivedOn": "2020-09-12T00:44:24Z"
          },
          {
            "id": "19:dda2e78a6fd440b7b8295a2a4e102d44@thread.v2",
            "topic": "Thread Async from C# sdk",
            "isDeleted": false,
            "lastMessageReceivedOn": "2020-09-12T00:44:25Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.eastus.dev.communications.azure.net/chat/threads/19%3a73bcf1edc1a649d58625185d1c13351c%40thread.v2/messages?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "priority": "High",
        "content": "This is message 1",
        "senderDisplayName": "DisplayName sender message 1"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://168.61.22.92/chat/threads/19%3A73bcf1edc1a649d58625185d1c13351c@thread.v2/messages/1599871468859",
        "MS-CV": "oQ3eVCfhHE6MEOkbKDRlYA.0",
        "X-Processing-Time": "416ms"
      },
      "ResponseBody": {
        "id": "1599871468859"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.eastus.dev.communications.azure.net/chat/threads/19%3a73bcf1edc1a649d58625185d1c13351c%40thread.v2/messages/1599871468859?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "/c\u002BbdyTowEG46tf7iIcVUw.0",
        "X-Processing-Time": "344ms"
      },
      "ResponseBody": {
        "id": "1599871468859",
        "type": "Text",
        "priority": "High",
        "version": "1599871468859",
        "content": "This is message 1",
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2020-09-12T00:44:28Z",
        "senderId": "8:acs:69545f61-6ff4-4652-8df7-3ce0e173e06f_00000005-1fa6-ccfd-8a72-5a3a0d0000e8"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.eastus.dev.communications.azure.net/chat/threads/19%3a73bcf1edc1a649d58625185d1c13351c%40thread.v2/messages/1599871468859?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Qpz45KjQ\u002B0KKWHnKqDWpyQ.0",
        "X-Processing-Time": "341ms"
      },
      "ResponseBody": {
        "id": "1599871468859",
        "type": "Text",
        "priority": "High",
        "version": "1599871471251",
        "content": "This is message 1 updated",
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2020-09-12T00:44:28Z",
        "senderId": "8:acs:69545f61-6ff4-4652-8df7-3ce0e173e06f_00000005-1fa6-ccfd-8a72-5a3a0d0000e8",
        "editedOn": "2020-09-12T00:44:31Z"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.eastus.dev.communications.azure.net/chat/threads/19%3a73bcf1edc1a649d58625185d1c13351c%40thread.v2/messages?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "KH4WQQVWA06ZoGBoMG6YFA.0",
        "X-Processing-Time": "360ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1599871468859",
            "type": "Text",
            "priority": "Normal",
            "version": "1599871472282",
            "content": "",
            "senderDisplayName": "DisplayName sender message 1",
            "createdOn": "2020-09-12T00:44:28Z",
            "senderId": "8:acs:69545f61-6ff4-4652-8df7-3ce0e173e06f_00000005-1fa6-ccfd-8a72-5a3a0d0000e8",
            "deletedOn": "2020-09-12T00:44:31Z"
          },
          {
            "id": "1599871469391",
            "type": "Text",
            "priority": "High",
            "version": "1599871469391",
            "content": "This is message 1",
            "senderDisplayName": "DisplayName sender message 1",
            "createdOn": "2020-09-12T00:44:29Z",
            "senderId": "8:acs:69545f61-6ff4-4652-8df7-3ce0e173e06f_00000005-1fa6-ccfd-8a72-5a3a0d0000e8"
          },
          {
            "id": "15998714[...]
    {
      "RequestUri": "https://sanitized.eastus.dev.communications.azure.net/chat/threads/19%3a73bcf1edc1a649d58625185d1c13351c%40thread.v2/members?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Fu3tY3jVZkCuLZDQbRDdRg.0",
        "X-Processing-Time": "353ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:69545f61-6ff4-4652-8df7-3ce0e173e06f_00000005-1fa6-ccfd-8a72-5a3a0d0000e8",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:69545f61-6ff4-4652-8df7-3ce0e173e06f_00000005-1fa6-cf6c-8a72-5a3a0d0000e9",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.eastus.dev.communications.azure.net/chat/threads/19%3a73bcf1edc1a649d58625185d1c13351c%40thread.v2/members/8%3aacs%3a69545f61-6ff4-4652-8df7-3ce0e173e06f_00000005-1fa6-d1b5-8a72-5a3a0d0000ea?api-version=2020-09-21-preview2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-09-21-preview2",
        "MS-CV": "uAYoIgqSl0WpJMLkr7NL3A.0",
        "X-Processing-Time": "469ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://sanitized.eastus.dev.communications.azure.net/chat/threads/19%3a73bcf1edc1a649d58625185d1c13351c%40thread.v2/typing?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-09-21-preview2",
        "MS-CV": "EE/8BXBIOUypEb4eCWyCSw.0",
        "X-Processing-Time": "376ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://sanitized.eastus.dev.communications.azure.net/chat/threads/19%3a73bcf1edc1a649d58625185d1c13351c%40thread.v2/readreceipts?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "chatMessageId": "1599871468859"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-09-21-preview2",
        "MS-CV": "vJqrolo2f0ipCYjwhTT5sw.0",
        "X-Processing-Time": "581ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://sanitized.eastus.dev.communications.azure.net/chat/threads/19%3a73bcf1edc1a649d58625185d1c13351c%40thread.v2/readreceipts?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "3Zc5isRczk\u002BRzpmxtIsCUw.0",
        "X-Processing-Time": "335ms"
      },
      "ResponseBody": {
        "value": [
          {
            "senderId": "8:acs:69545f61-6ff4-4652-8df7-3ce0e173e06f_00000005-1fa6-ccfd-8a72-5a3a0d0000e8",
            "chatMessageId": "1599871469391",
            "readOn": "2020-09-12T00:44:37Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.eastus.dev.communications.azure.net/chat/threads/19%3a73bcf1edc1a649d58625185d1c13351c%40thread.v2?api-version=2020-09-21-preview2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-09-21-preview2",
        "MS-CV": "aaa6zMZMl0etMEMVFR/SNw.0",
        "X-Processing-Time": "429ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://sanitized.eastus.dev.communications.azure.net/;accesskey=Kg==;",
    "RandomSeed": "524255031"
  }
}
