{
  "Entries": [
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Db\u002BLwvPrcE\u002BJ7tQW6eMd/Q.0",
        "X-Processing-Time": "227ms"
      },
      "ResponseBody": {
        "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-9b3c-b2de-89aa-1c4822001089"
      }
    },
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/identities/8%3Aacs%3Afa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-9b3c-b2de-89aa-1c4822001089/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "J\u002BdoRQjtFVYLx3qOvzptwBLjQWqy6OEWEEk1TY1\u002BrT4="
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "m4d\u002BESMzmE683CWXwlt/dg.0",
        "X-Processing-Time": "275ms"
      },
      "ResponseBody": {
        "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-9b3c-b2de-89aa-1c4822001089",
        "token": "Sanitized",
        "expiresOn": "2020-10-06T17:41:22.403677-07:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Thread topic - ReadReceipts Async Test",
        "members": [
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-9b3c-b2de-89aa-1c4822001089"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-9b3c-b5ad-89aa-1c482200108a"
          }
        ]
      },
      "StatusCode": 207,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://52.168.174.23/chat/threads/19%3A9bf734f479cf4b40a409838ee26ce39c@thread.v2",
        "MS-CV": "uXgucAkPgk\u002B4wl0SQ1xCQQ.0",
        "X-Processing-Time": "181ms"
      },
      "ResponseBody": {
        "multipleStatus": [
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-9b3c-b2de-89aa-1c4822001089",
            "statusCode": 201,
            "type": "ThreadMember"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-9b3c-b5ad-89aa-1c482200108a",
            "statusCode": 201,
            "type": "ThreadMember"
          },
          {
            "id": "19:9bf734f479cf4b40a409838ee26ce39c@thread.v2",
            "statusCode": 201,
            "type": "Thread"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3A9bf734f479cf4b40a409838ee26ce39c%40thread.v2/messages?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "This is message 1 content"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://52.168.174.23/chat/threads/19%3A9bf734f479cf4b40a409838ee26ce39c@thread.v2/messages/1601944884555",
        "MS-CV": "ZsV\u002BmxOSJ0aXdXz4GjSWoA.0",
        "X-Processing-Time": "129ms"
      },
      "ResponseBody": {
        "id": "1601944884555"
      }
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3A9bf734f479cf4b40a409838ee26ce39c%40thread.v2/readreceipts?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "chatMessageId": "1601944884755"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2",
        "MS-CV": "5/kvz/3bEUuZpcEa5hy7ZA.0",
        "X-Processing-Time": "160ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3A9bf734f479cf4b40a409838ee26ce39c%40thread.v2/readreceipts?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ofEd3HrVfEqHBwNnShJo4w.0",
        "X-Processing-Time": "57ms"
      },
      "ResponseBody": {
        "value": [
          {
            "senderId": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-9b3c-b2de-89aa-1c4822001089",
            "chatMessageId": "1601944884755",
            "readOn": "2020-10-06T00:41:24Z"
          },
          {
            "senderId": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-9b3c-b5ad-89aa-1c482200108a",
            "chatMessageId": "1601944884555",
            "readOn": "2020-10-06T00:41:25Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3A9bf734f479cf4b40a409838ee26ce39c%40thread.v2?api-version=2020-09-21-preview2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2",
        "MS-CV": "Gio9IKBlMESPcSwVPgznlA.0",
        "X-Processing-Time": "80ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-prod-e2e.communication.azure.com/;accesskey=Kg==;",
    "RandomSeed": "1916642439"
  }
}