{
  "Entries": [
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "07h6XbaNO0656PbqTe3CSA.0",
        "X-Processing-Time": "18ms"
      },
      "ResponseBody": {
        "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d17b-7743-0848220004e1"
      }
    },
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/identities/8%3Aacs%3Afa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d17b-7743-0848220004e1/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "J\u002BdoRQjtFVYLx3qOvzptwBLjQWqy6OEWEEk1TY1\u002BrT4="
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "j6zrnizZwUOM2\u002Bar05mxyg.0",
        "X-Processing-Time": "33ms"
      },
      "ResponseBody": {
        "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d17b-7743-0848220004e1",
        "token": "Sanitized",
        "expiresOn": "2020-10-16T20:46:32.0302466-07:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Thread sync from C# sdk",
        "members": [
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d17b-7743-0848220004e1"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d1f5-7743-0848220004e2"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d262-7743-0848220004e3"
          }
        ]
      },
      "StatusCode": 207,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://23.100.36.56/chat/threads/19%3Ac3f35658c3a04a4caa3bbe2bfc994dc6@thread.v2",
        "MS-CV": "mw1QwiVV5U\u002Bmu6cxvZG6pg.0",
        "X-Processing-Time": "262ms"
      },
      "ResponseBody": {
        "multipleStatus": [
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d17b-7743-0848220004e1",
            "statusCode": 201,
            "type": "ThreadMember"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d1f5-7743-0848220004e2",
            "statusCode": 201,
            "type": "ThreadMember"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d262-7743-0848220004e3",
            "statusCode": 201,
            "type": "ThreadMember"
          },
          {
            "id": "19:c3f35658c3a04a4caa3bbe2bfc994dc6@thread.v2",
            "statusCode": 201,
            "type": "Thread"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac3f35658c3a04a4caa3bbe2bfc994dc6%40thread.v2?api-version=2020-09-21-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Launch meeting"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2",
        "MS-CV": "KBffwifZxEKBKlr9py6xdw.0",
        "X-Processing-Time": "180ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac3f35658c3a04a4caa3bbe2bfc994dc6%40thread.v2?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "z1apt8QKlUWKP5F4tDzwUg.0",
        "X-Processing-Time": "70ms"
      },
      "ResponseBody": {
        "id": "19:c3f35658c3a04a4caa3bbe2bfc994dc6@thread.v2",
        "topic": "Launch meeting",
        "createdOn": "2020-10-16T03:46:33Z",
        "createdBy": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d17b-7743-0848220004e1",
        "members": [
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d17b-7743-0848220004e1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d1f5-7743-0848220004e2",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d262-7743-0848220004e3",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "q/hs8GQc9EW4VtRf\u002BSu9Eg.0",
        "X-Processing-Time": "66ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:c3f35658c3a04a4caa3bbe2bfc994dc6@thread.v2",
            "topic": "Launch meeting",
            "isDeleted": false,
            "lastMessageReceivedOn": "2020-10-16T03:46:33Z"
          },
          {
            "id": "19:7b6fc1bc995d4a6b9cd8953b57f5c2b4@thread.v2",
            "topic": "Thread sync from C# sdk",
            "isDeleted": false,
            "lastMessageReceivedOn": "2020-10-16T03:46:33Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac3f35658c3a04a4caa3bbe2bfc994dc6%40thread.v2/messages?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022content\u0022:\u0022Let\u0027s meet at 11am\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://23.100.36.56/chat/threads/19%3Ac3f35658c3a04a4caa3bbe2bfc994dc6@thread.v2/messages/1602819994414",
        "MS-CV": "lFcx0lj9LkiMAVNt1Dw2Ig.0",
        "X-Processing-Time": "132ms"
      },
      "ResponseBody": {
        "id": "1602819994414"
      }
    },
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac3f35658c3a04a4caa3bbe2bfc994dc6%40thread.v2/messages/1602819994414?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "M86AhLAgwk2jMBQTk7aXGQ.0",
        "X-Processing-Time": "72ms"
      },
      "ResponseBody": {
        "id": "1602819994414",
        "type": "Text",
        "priority": "Normal",
        "version": "1602819994414",
        "content": "Let\u0027s meet at 11am",
        "senderDisplayName": "",
        "createdOn": "2020-10-16T03:46:34Z",
        "senderId": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d17b-7743-0848220004e1"
      }
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac3f35658c3a04a4caa3bbe2bfc994dc6%40thread.v2/messages?maxPageSize=2\u0026api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
  [...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19:c3f35658c3a04a4caa3bbe2bfc994dc6@thread.v2/messages?syncState=3e2d00000031393a6333663335363538633361303461346361613362626532626663393934646336407468726561642e763201c238842f75010000cc3a842f75010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIU[...]
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac3f35658c3a04a4caa3bbe2bfc994dc6%40thread.v2/messages/1602819994414?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "CROA7E5BpUOHTrpAf61tnA.0",
        "X-Processing-Time": "183ms"
      },
      "ResponseBody": {
        "id": "1602819994414",
        "type": "Text",
        "priority": "Normal",
        "version": "1602819998830",
        "content": "Instead of 11am, let\u0027s meet at 2pm",
        "senderDisplayName": "",
        "createdOn": "2020-10-16T03:46:34Z",
        "senderId": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d17b-7743-0848220004e1",
        "editedOn": "2020-10-16T03:46:38Z"
      }
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac3f35658c3a04a4caa3bbe2bfc994dc6%40thread.v2/messages?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "miK/Evnx3UGFnfPp53Wd/A.0",
        "X-Processing-Time": "76ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1602819994414",
            "type": "Text",
            "priority": "Normal",
            "version": "1602819999258",
            "content": "",
            "senderDisplayName": "",
            "createdOn": "2020-10-16T03:46:34Z",
            "senderId": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d17b-7743-0848220004e1",
            "deletedOn": "2020-10-16T03:46:38Z"
          },
          {
            "id": "1602819996364",
            "type": "Text",
            "priority": "High",
            "version": "1602819996364",
            "content": "Content for message 6",
            "senderDisplayName": "Display Name for message 6",
            "createdOn": "2020-10-16T03:46:36Z",
            "senderId": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d262-7743-0848220004e3"
          },
          {
            "id": "160281[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac3f35658c3a04a4caa3bbe2bfc994dc6%40thread.v2/members?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "o691P7xxV0uWo38dVzK1UA.0",
        "X-Processing-Time": "58ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d17b-7743-0848220004e1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d1f5-7743-0848220004e2",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d262-7743-0848220004e3",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac3f35658c3a04a4caa3bbe2bfc994dc6%40thread.v2/members/8%3Aacs%3Afa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-cf65-d2d0-7743-0848220004e4?api-version=2020-09-21-preview2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2",
        "MS-CV": "C8JlEXxsUEi7ymGb098HEg.0",
        "X-Processing-Time": "195ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac3f35658c3a04a4caa3bbe2bfc994dc6%40thread.v2/typing?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2",
        "MS-CV": "hrcmGGLtvUOuzMQZdTNPHg.0",
        "X-Processing-Time": "102ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac3f35658c3a04a4caa3bbe2bfc994dc6%40thread.v2?api-version=2020-09-21-preview2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2",
        "MS-CV": "rseHytAp6Eu3Qch9VsJvDg.0",
        "X-Processing-Time": "153ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-prod-e2e.communication.azure.com/;accesskey=Kg==;",
    "RandomSeed": "261328872"
  }
}