{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourcegroups/rg-sdk-test-comm-link-notif-hub?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-comm-link-notif-hub",
        "name": "rg-sdk-test-comm-link-notif-hub",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/rg-sdk-test-comm-link-notif-hub/providers/Microsoft.Communication/communicationServices/sdk-test-link-notif-hub-1380?api-version=2020-08-20-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/3295f456-8d76-4053-a6b4-e8fb8d4c7639?api-version=2020-08-20-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227201da14-0000-0700-0000-5f66f7560000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-comm-link-notif-hub/providers/Microsoft.Communication/communicationServices/sdk-test-link-notif-hub-1380",
        "name": "sdk-test-link-notif-hub-1380",
        "type": "Microsoft.Communication/communicationServices",
        "location": "global",
        "properties": {
          "provisioningState": "Accepted",
          "hostName": "sdk-test-link-notif-hub-1380.communication.azure.com",
          "immutableResourceId": "2c3b4fbf-5747-4a22-bb43-85ea7199db9e",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/3295f456-8d76-4053-a6b4-e8fb8d4c7639?api-version=2020-08-20-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002275005c51-0000-0800-0000-5f66f7560000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/3295f456-8d76-4053-a6b4-e8fb8d4c7639",
        "name": "3295f456-8d76-4053-a6b4-e8fb8d4c7639",
        "resourceId": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-comm-link-notif-hub/providers/Microsoft.Communication/communicationServices/sdk-test-link-notif-hub-1380",
        "status": "Accepted",
        "startTime": "2020-09-20T06:31:50.0918329Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/3295f456-8d76-4053-a6b4-e8fb8d4c7639?api-version=2020-08-20-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002275005f51-0000-0800-0000-5f66f7570000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/3295f456-8d76-4053-a6b4-e8fb8d4c7639",
        "name": "3295f456-8d76-4053-a6b4-e8fb8d4c7639",
        "resourceId": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-comm-link-notif-hub/providers/Microsoft.Communication/communicationServices/sdk-test-link-notif-hub-1380",
        "status": "Succeeded",
        "startTime": "2020-09-20T06:31:50.0918329Z",
        "percentComplete": 100.0,
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/rg-sdk-test-comm-link-notif-hub/providers/Microsoft.Communication/communicationServices/sdk-test-link-notif-hub-1380/linkNotificationHub?api-version=2020-08-20-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceId": "/subscriptions/sanitized/resourcegroups/rg-sdk-test-comm-link-notif-hub/providers/Microsoft.NotificationHubs/namespaces/notif-hub-namespace-test/notificationHubs/notif-hub-test-comm-link",
        "connectionString": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "resourceId": "/subscriptions/sanitized/resourcegroups/rg-sdk-test-comm-link-notif-hub/providers/Microsoft.NotificationHubs/namespaces/notif-hub-namespace-test/notificationHubs/notif-hub-test-comm-link"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/rg-sdk-test-comm-link-notif-hub/providers/Microsoft.Communication/communicationServices/sdk-test-link-notif-hub-1380?api-version=2020-08-20-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002272010615-0000-0700-0000-5f66f75a0000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/91c80e0c-810c-4341-8375-7a2c0c62bbb8?api-version=2020-08-20-preview",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-comm-link-notif-hub/providers/Microsoft.Communication/communicationServices/sdk-test-link-notif-hub-1380",
        "name": "sdk-test-link-notif-hub-1380",
        "type": "Microsoft.Communication/communicationServices",
        "location": "global",
        "properties": {
          "provisioningState": "Deleting",
          "hostName": "sdk-test-link-notif-hub-1380.communication.azure.com",
          "immutableResourceId": "2c3b4fbf-5747-4a22-bb43-85ea7199db9e",
          "dataLocation": "UnitedStates",
          "notificationHubId": "/subscriptions/sanitized/resourcegroups/rg-sdk-test-comm-link-notif-hub/providers/Microsoft.NotificationHubs/namespaces/notif-hub-namespace-test/notificationHubs/notif-hub-test-comm-link"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/91c80e0c-810c-4341-8375-7a2c0c62bbb8?api-version=2020-08-20-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002275007251-0000-0800-0000-5f66f75b0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11996"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/91c80e0c-810c-4341-8375-7a2c0c62bbb8",
        "name": "91c80e0c-810c-4341-8375-7a2c0c62bbb8",
        "resourceId": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-comm-link-notif-hub/providers/Microsoft.Communication/communicationServices/sdk-test-link-notif-hub-1380",
        "status": "Deleted",
        "startTime": "2020-09-20T06:31:54.370354Z",
        "percentComplete": 100.0
      }
    }
  ],
  "Variables": {
    "LOCATION": "westus",
    "NOTIFICATION_HUBS_CONNECTION_STRING": "sanitized",
    "NOTIFICATION_HUBS_RESOURCE_GROUP_NAME": "rg-sdk-test-comm-link-notif-hub",
    "NOTIFICATION_HUBS_RESOURCE_ID": "/subscriptions/sanitized/resourcegroups/rg-sdk-test-comm-link-notif-hub/providers/Microsoft.NotificationHubs/namespaces/notif-hub-namespace-test/notificationHubs/notif-hub-test-comm-link",
    "RandomSeed": "228717473",
    "SUBSCRIPTION_ID": "sanitized"
  }
}