{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/shortCodes/countries/US/programBriefs/00000000-0000-0000-0000-000000000000/:submit?api-version=2021-10-25-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 02 Mar 2022 17:39:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-25-preview",
        "Content-Type": "application/json",
        "MS-CV": "KzqxWo7ZT02RTwOlkwUqHw.0",
        "X-Processing-Time": "4587ms"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Could not find the ProgramBrief with key \u0027Azure|eba63c29-ec73-422c-950e-9627c9e9a168|00000000-0000-0000-0000-000000000000\u0027"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "219151076"
  }
}
