{
  "Entries": [
    {
      "RequestUri": "/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/providers/Microsoft.Compute/locations/SoutheastAsia/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2012-R2-Datacenter/versions?$top=1&api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"southeastasia\",\r\n    \"name\": \"4.127.20180315\",\r\n    \"id\": \"/Subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/Providers/Microsoft.Compute/Locations/southeastasia/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2012-R2-Datacenter/Versions/4.127.20180315\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourcegroups/crptestar1361?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"crptestar1361\": \"2021-12-21 17:50:49Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361\",\r\n  \"name\": \"crptestar1361\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"crptestar1361\": \"2021-12-21 17:50:49Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Storage/storageAccounts/crptestar4162?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"SoutheastAsia\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/fdd58eec-1f24-4574-ad04-b1f66c57b681?monitor=true&api-version=2015-06-15"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/fdd58eec-1f24-4574-ad04-b1f66c57b681?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"SoutheastAsia\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Storage/storageAccounts?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Storage/storageAccounts/crptestar4162\",\r\n      \"name\": \"crptestar4162\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"location\": \"southeastasia\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"accountType\": \"Standard_GRS\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"creationTime\": \"2021-12-21T17:50:57.1182411Z\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://crptestar4162.blob.core.windows.net/\",\r\n          \"queue\": \"https://crptestar4162.queue.core.windows.net/\",\r\n          \"table\": \"https://crptestar4162.table.core.windows.net/\",\r\n          \"file\": \"https://crptestar4162.file.core.windows.net/\"\r\n        },\r\n        \"primaryLocation\": \"southeastasia\",\r\n        \"statusOfPrimary\": \"available\",\r\n        \"secondaryLocation\": \"eastasia\",\r\n        \"statusOfSecondary\": \"available\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/virtualNetworks/vn9309?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\",\r\n        \"10.1.2.4\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.1.0/24\"\r\n        },\r\n        \"name\": \"sn13475\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.2.0/24\"\r\n        },\r\n        \"name\": \"sn22274\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"SoutheastAsia\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/providers/Microsoft.Network/locations/southeastasia/operations/ddd95bcd-1066-462b-8585-8fd2b0e87da2?api-version=2019-09-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vn9309\",\r\n  \"id\": \"/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/virtualNetworks/vn9309\",\r\n  \"etag\": \"W/\\\"974be0c8-572a-40b4-87dd-e8ea20f62d54\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"18c4e369-8b13-4d48-927f-eab9eec41103\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\",\r\n        \"10.1.2.4\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"sn13475\",\r\n        \"id\": \"/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/virtualNetworks/vn9309/subnets/sn13475\",\r\n        \"etag\": \"W/\\\"974be0c8-572a-40b4-87dd-e8ea20f62d54\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      },\r\n      {\r\n        \"name\": \"sn22274\",\r\n        \"id\": \"/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/virtualNetworks/vn9309/subnets/sn22274\",\r\n        \"etag\": \"W/\\\"974be0c8-572a-40b4-87dd-e8ea20f62d54\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.2.0/24\",\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/providers/Microsoft.Network/locations/southeastasia/operations/ddd95bcd-1066-462b-8585-8fd2b0e87da2?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/virtualNetworks/vn9309?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"190fde0e-08b6-4c53-a128-9021cb501961\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vn9309\",\r\n  \"id\": \"/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/virtualNetworks/vn9309\",\r\n  \"etag\": \"W/\\\"190fde0e-08b6-4c53-a128-9021cb5[...]
    {
      "RequestUri": "/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/publicIPPrefixes/piprefix8091?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"prefixLength\": 30\r\n  },\r\n  \"location\": \"SoutheastAsia\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/providers/Microsoft.Network/locations/southeastasia/operations/ad98756b-ec38-4c33-b9e8-8d6b84bd6ff9?api-version=2019-09-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"piprefix8091\",\r\n  \"id\": \"/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/publicIPPrefixes/piprefix8091\",\r\n  \"etag\": \"W/\\\"533878de-6983-4a24-9709-efe9fdeb7c51\\\"\",\r\n  \"type\": \"Microsoft.Network/publicIPPrefixes\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"d7baa57d-25c3-48c5-9aac-131f6c34cd70\",\r\n    \"prefixLength\": 30,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"ipTags\": []\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/publicIPPrefixes/piprefix8091?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"e041d65b-8717-4a1b-915c-2b6123f5f104\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"piprefix8091\",\r\n  \"id\": \"/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/publicIPPrefixes/piprefix8091\",\r\n  \"etag\": \"W/\\\"e041d65b-8717-4a1b-915c-2b6123f5f104\\\"\",\r\n  \"type\": \"Microsoft.Network/publicIPPrefixes\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"d7baa57d-25c3-48c5-9aac-131f6c34cd70\",\r\n    \"prefixLength\": 30,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"ipPrefix\": \"20.43.174.168/30\",\r\n    \"ipTags\": []\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/publicIPPrefixes/piprefix8091?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"af74e73e-2b07-42a1-b540-b70ce37fd56d\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"piprefix8091\",\r\n  \"id\": \"/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/publicIPPrefixes/piprefix8091\",\r\n  \"etag\": \"W/\\\"af74e73e-2b07-42a1-b540-b70ce37fd56d\\\"\",\r\n  \"type\": \"Microsoft.Network/publicIPPrefixes\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"d7baa57d-25c3-48c5-9aac-131f6c34cd70\",\r\n    \"prefixLength\": 30,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"ipPrefix\": \"20.43.174.168/30\",\r\n    \"ipTags\": [],\r\n    \"publicIPAddresses\": [\r\n      {\r\n        \"id\": \"/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Compute/virtualMachineScaleSets/vmss5530/virtualMachines/0/networkInterfaces/vmsstestnetconfig4849/ipConfigurations/vmsstestnetconfig6085/publicIPAddresses/pip1\"\r\n      },\r\n      {\r\n        \"id\": \"/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Compute/virtualMachineScaleSets/vmss5530/virtualMachines/1/networkInterfaces/vmsstestnetconfig4849/ipConfigurations/vmsstestnetconfig6085/publicIPAddresses/pip1\"\r\n      }\r\n    ]\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/publicIPAddresses/pip7676?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn6317\"\r\n    }\r\n  },\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/providers/Microsoft.Network/locations/southeastasia/operations/1a29cdf3-993b-41f9-8b74-c8a0b9a4815f?api-version=2019-09-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip7676\",\r\n  \"id\": \"/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/publicIPAddresses/pip7676\",\r\n  \"etag\": \"W/\\\"08583d80-4abd-4fcf-8f47-651ed7730332\\\"\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"83ee93da-852c-426b-a988-d3185cebc69b\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn6317\",\r\n      \"fqdn\": \"dn6317.southeastasia.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/networkInterfaces/nic7709?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefix\": \"10.0.2.0/24\",\r\n              \"delegations\": [],\r\n              \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n              \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n            },\r\n            \"name\": \"sn22274\",\r\n            \"id\": \"/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/virtualNetworks/vn9309/subnets/sn22274\"\r\n     [...]
[...]
    {
      "RequestUri": "/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Compute/virtualMachineScaleSets/vmss5530?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_A1_v2\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Automatic\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"test\",\r\n        \"adminUsername\": \"Foo12\",\r\n        \"adminPassword\": \"[PLACEHOLDEr1]\",\r\n        \"customData\": \"Q3VzdG9tIGRhdGE=\"\r\n      },\r\n      \"storageProfile\": {\r\n        \"imageReference\": {\r\n          \"publisher\": \"MicrosoftWindowsServer\",\r\n          \"offer\": \"WindowsServer\",\r\n          \"sku\": \"2012-R2-Datacenter\",\r\n          \"version\": \"4.127.20180315\"\r\n        },\r\n        \"osDisk\": {\r\n          \"name\": \"test\",\r\n          \"caching\": \"None\",\r\n          \"createOption\": \"FromImage\",\r\n          \"vhdContainers\": [\r\n            \"https://crptestar4162.blob.core.windows.net/crptestar3424\"\r\n          ]\r\n        }\r\n      },\r\n      \"networkProfile\": {\r\n        \"networkInterfaceConfigurations\": [\r\n          {\r\n            \"name\": \"vmsstestnetconfig4849\",\r\n            \"properties\": {\r\n              \"primary\": true,\r\n              \"ipConfigurations\": [\r\n                {\r\n                  \"name\": \"vmsstestnetconfig6085\",\r\n                  \"properties\": {\r\n                    \"subnet\": {\r\n                      \"id\": \"/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/virtualNetworks/vn9309/subnets/sn22274\"\r\n                    },\r\n                    \"publicIPAddressConfiguration\": {\r\n                      \"name\": \"pip1\",\r\n                      \"properties\": {\r\n                        \"idleTimeoutInMinutes\": 10,\r\n                        \"dnsSettings\": {\r\n                          \"domainNameLabel\": \"dnsname6291\"\r\n                        },\r\n                        \"publicIPPrefix\": {\r\n                          \"id\": \"/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/publicIPPrefixes/piprefix8091\"\r\n                        }\r\n                      }\r\n                    },\r\n                    \"applicationGatewayBackendAddressPools\": []\r\n                  }\r\n                }\r\n              ]\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"overprovision\": false\r\n  },\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/providers/Microsoft.Compute/locations/southeastasia/operations/bc53c0c0-cf56-4eee-8ec5-252722e9b5ad?p=f5e374da-4748-470a-b8b6-0fbcd785d13b&api-version=2021-11-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/CreateVMScaleSet3Min;59,Microsoft.Compute/CreateVMScaleSet30Min;299,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1198,Microsoft.Compute/VmssQueuedVMOperations;0"
        ],
        "x-ms-request-charge": [
          "2"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vmss5530\",\r\n  \"id\": \"/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Compute/virtualMachineScaleSets/vmss5530\",\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\",\r\n    \"azsecpack\": \"nonprod\",\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\": \"true\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_A1_v2\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Automatic\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"test\",\r\n        \"adminUsername\": \"Foo12\",\r\n        \"windowsConfiguration\": {\r\n          \"provisionVMAgent\": true,\r\n          \"enableAutomaticUpdates\": true\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\": true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\n          \"vhdContainers\": [\r\n            \"https://crptestar4162.blob.core.windows.net/crptestar3424\"\r\n          ],\r\n          \"osType\": \"Windows\",\r\n          \"name\": \"test\",\r\n          \"createOption\": \"FromImage\",\r\n          \"caching\": \"None\"\r\n        },\r\n        \"imageReference\": {\r\n          \"publisher\": \"MicrosoftWindowsServer\",\r\n          \"offer\": \"WindowsServer\",\r\n          \"sku\": \"2012-R2-Datacenter\",\r\n          \"version\": \"4.127.20180315\"\r\n        }\r\n      },\r\n      \"networkProfile\": {\r\n        \"networkInterfaceConfigurations\": [\r\n          {\r\n            \"name\": \"vmsstestnetconfig4849\",\r\n            \"properties\": {\r\n              \"primary\": true,\r\n              \"enableAcceleratedNetworking\": false,\r\n              \"dnsSettings\": {\r\n                \"dnsServers\": []\r\n              },\r\n              \"enableIPForwarding\": false,\r\n              \"ipConfigurations\": [\r\n                {\r\n                  \"name\": \"vmsstestnetconfig6085\",\r\n                  \"properties\": {\r\n                    \"publicIPAddressConfiguration\": {\r\n                      \"name\": \"pip1\",\r\n                      \"properties\": {\r\n                        \"idleTimeoutInMinutes\": 10,\r\n                        \"ipTags\": [],\r\n                        \"publicIPPrefix\": {\r\n                          \"id\": \"/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/publicIPPrefixes/piprefix8091\"\r\n                        },\r\n                        \"dnsSettings\": {\r\n                          \"domainNameLabel\": \"dnsname6291\"\r\n                        },\r\n                        \"publicIPAddressVersion\": \"IPv4\"\r\n                      }\r\n                    },\r\n                    \"subnet\": {\r\n                      \"id\": \"/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Network/virtualNetworks/vn9309/subnets/sn22274\"\r\n                    },\r\n                    \"privateIPAddressVersion\": \"IPv4\"\r\n                  }\r\n                }\r\n              ]\r\n            }\r\n          }\r\n        ]\r\n      },\r\n      \"extensionProfile\": {\r\n        \"extensions\": [\r\n          {\r\n            \"name\": \"Microsoft.Azure.Security.AntimalwareSignature.AntimalwareConfiguration\",\r\n            \"properties\": {\r\n              \"autoUpgradeMinorVersion\": true,\r\n              \"enableAutomaticUpgrade\": true,\r\n              \"publisher\": \"Microsoft.Azure.Security.AntimalwareSignature\",\r\n              \"type\": \"AntimalwareConfiguration\",\r\n              \"typeHandlerVersion\": \"2.0\",\r\n              \"settings\": {}\r\n            }\r\n          },\r\n          {\r\n            \"name\": \"Microsoft.Azure.Geneva.GenevaMonitoring\",\r\n            \"properties\": {\r\n              \"autoUpgradeMinorVersion\": true,\r\n              \"enableAutomaticUpgrade\": true,\r\n              \"publisher\": \"Microsoft.Azure.Geneva\",\r\n              \"type\": \"GenevaMonitoring\",\r\n              \"typeHandlerVersion\": \"2.0\",\r\n              \"settings\": {}\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"overprovision\": false,\r\n    \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"uniqueId\": \"54736648-3372-4fde-8fe8-276d06be676e\",\r\n    \"timeCreated\": \"2021-12-21T09:52:09.2455028-08:00\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/providers/Microsoft.Compute/locations/southeastasia/operations/bc53c0c0-cf56-4eee-8ec5-252722e9b5ad?p=f5e374da-4748-470a-b8b6-0fbcd785d13b&api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "97"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29999"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2021-12-21T09:52:09.2299268-08:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"bc53c0c0-cf56-4eee-8ec5-252722e9b5ad\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/providers/Microsoft.Compute/locations/southeastasia/operations/bc53c0c0-cf56-4eee-8ec5-252722e9b5ad?p=f5e374da-4748-470a-b8b6-0fbcd785d13b&api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14997,Microsoft.Compute/GetOperation30Min;29987"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2021-12-21T09:52:09.2299268-08:00\",\r\n  \"endTime\": \"2021-12-21T10:01:32.9707368-08:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"bc53c0c0-cf56-4eee-8ec5-252722e9b5ad\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/14e0724e-b917-4c09-a545-6d0aab027dc0/resourceGroups/crptestar1361/providers/Microsoft.Compute/virtualMachineScaleSets/vmss5530?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
[...]
