{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/hierarchicalentities?skip=0&take=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"7d2dd1d4-dc52-43fa-8054-b3710c414f16\",\r\n    \"name\": \"MyHierarchicalEntity\",\r\n    \"typeId\": 3,\r\n    \"readableType\": \"Hierarchical Entity Extractor\",\r\n    \"children\": [\r\n      {\r\n        \"id\": \"fdcb01f0-d3e4-488c-ab1a-be985f410478\",\r\n        \"name\": \"Child1\"\r\n      }\r\n    ]\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/hierarchicalentities/7d2dd1d4-dc52-43fa-8054-b3710c414f16",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"7d2dd1d4-dc52-43fa-8054-b3710c414f16\",\r\n  \"name\": \"MyHierarchicalEntity\",\r\n  \"typeId\": 3,\r\n  \"readableType\": \"Hierarchical Entity Extractor\",\r\n  \"children\": [\r\n    {\r\n      \"id\": \"fdcb01f0-d3e4-488c-ab1a-be985f410478\",\r\n      \"name\": \"Child1\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}