{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/264e9200-2944-4334-9a02-721e6268b55f?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/264e9200-2944-4334-9a02-721e6268b55f",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS15767759": "20230530",
          "NRMS14293353": "20221028"
        },
        "subscriptionId": "264e9200-2944-4334-9a02-721e6268b55f",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "EnS-Velma-Fengy-NonProd",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourcegroups/testRg7563?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg7563",
        "name": "testRg7563",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg7563/providers/Microsoft.IoTFirmwareDefense/workspaces/resource3942?api-version=2023-02-08-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022840018ff-0000-0100-0000-646e30650000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg7563/providers/Microsoft.IoTFirmwareDefense/workspaces/resource3942",
        "name": "resource3942",
        "type": "microsoft.iotfirmwaredefense/workspaces",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "7b16e1fa-ea98-4de3-bf0e-c580630393bd",
          "createdByType": "Application",
          "createdAt": "2023-05-24T15:42:29.4701372Z",
          "lastModifiedBy": "7b16e1fa-ea98-4de3-bf0e-c580630393bd",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-24T15:42:29.4701372Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg7563/providers/Microsoft.IoTFirmwareDefense/workspaces/resource3942/firmwares/resource654?api-version=2023-02-08-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "fileName": "testFileName",
          "vendor": "testVendor",
          "model": "testModel",
          "version": "testVersion",
          "description": "testDescription",
          "fileSize": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220e00c40b-0000-0100-0000-646e30680000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg7563/providers/Microsoft.IoTFirmwareDefense/workspaces/resource3942/firmwares/resource654",
        "name": "resource654",
        "type": "microsoft.iotfirmwaredefense/workspaces/firmwares",
        "systemData": {
          "createdBy": "7b16e1fa-ea98-4de3-bf0e-c580630393bd",
          "createdByType": "Application",
          "createdAt": "2023-05-24T15:42:31.9858427Z",
          "lastModifiedBy": "7b16e1fa-ea98-4de3-bf0e-c580630393bd",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-24T15:42:31.9858427Z"
        },
        "properties": {
          "fileName": "testFileName",
          "vendor": "testVendor",
          "model": "testModel",
          "version": "testVersion",
          "description": "testDescription",
          "fileSize": 1,
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "897936240",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "264e9200-2944-4334-9a02-721e6268b55f"
  }
}
