{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/9865?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/9865",
        "name": "9865",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyDefinitions/9218?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "Azure.ResourceManager.Resources.Tests Policy Definition",
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "Azure.ResourceManager.Resources.Tests Policy Definition",
          "policyType": "Custom",
          "mode": "Indexed",
          "metadata": {
            "createdBy": "1aa92e15-ee4e-4dda-9e61-5b4dc35d280b",
            "createdOn": "2020-09-14T08:49:41.6070658Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyDefinitions/9218",
        "type": "Microsoft.Authorization/policyDefinitions",
        "name": "9218"
      }
    },
    {
      "RequestUri": "https://management.azure.com//subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/9865/providers/Microsoft.Authorization/policyAssignments/7773?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "A0",
          "tier": "Free"
        },
        "properties": {
          "displayName": "Azure.ResourceManager.Resources.Tests Policy Assignment",
          "policyDefinitionId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyDefinitions/9218",
          "scope": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/9865"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "sku": {
          "name": "A0",
          "tier": "Free"
        },
        "properties": {
          "displayName": "Azure.ResourceManager.Resources.Tests Policy Assignment",
          "policyDefinitionId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyDefinitions/9218",
          "scope": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/9865",
          "metadata": {
            "createdBy": "1aa92e15-ee4e-4dda-9e61-5b4dc35d280b",
            "createdOn": "2020-09-14T08:49:41.8414404Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "enforcementMode": "Default"
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/9865/providers/Microsoft.Authorization/policyAssignments/7773",
        "type": "Microsoft.Authorization/policyAssignments",
        "name": "7773"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/9865/providers/Microsoft.Authorization/policyAssignments?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "A0",
              "tier": "Free"
            },
            "properties": {
              "displayName": "Apply tag and its default value to resource groups",
              "policyDefinitionId": "/providers/Microsoft.Authorization/policyDefinitions/49c88fc8-6fd1-46fd-a676-f12d1d3a4c71",
              "scope": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590",
              "notScopes": [],
              "parameters": {
                "tagName": {
                  "value": "type"
                },
                "tagValue": {
                  "value": "test"
                }
              },
              "description": "Please do not enable this policy at will, because it will return the extra tags that affect the results of relevant unit test\nIf you know what this policy does or you need to turn it on, please contect with zhoxing@microsoft.com.",
              "metadata": {
                "createdBy": "2c4ad291-088a-4833-9d12-65562168e61f",
                "createdOn": "2020-03-11T15:04:17.0333963Z",
                "updatedBy": "f0f844e0-d2fe-4aa3-8e2c-2e429618f305",
                "updatedOn": "2020-09-11T07:45:19.6713639Z",
                "parameterScopes": {}
              },
              "enforcementMode": "DoNotEnforce"
            },
            "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyAssignments/0aa1605f5affd03d6155fcdc5fa7781afe03220801d799bb8cbb9e1dc6ec9c07",
            "type": "Microsoft.Authorization/policyAssignments",
            "name": "0aa1605f5affd03d6155fcdc5fa7781afe03220801d799bb8cbb9e1dc6ec9c07"
          },
          {
            "sku": {
              "name": "A0",
              "tier": "Free"
            },
            "properties": {
              "displayName": "deny-nsg-rule-internet-inbound",
              "policyDefinitionId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyDefinitions/deny-nsg-rule-internet-inbound",
              "scope": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590",
              "notScopes": [],
              "parameters": {},
              "description": "The policy block deployment of domain service, I deleted the policy in my resource group, and found that will apply to the whole subscription. Assign the policy again.",
              "metadata": {
                "assignedBy": "jiasli@microsoft.com",
                "parameterScopes": {},
                "createdBy": "97233d81-8d2d-4e63-8bd2-ae5707805489",
                "createdOn": "2020-03-04T10:07:29.1757898Z",
                "updatedBy": "f0f844e0-d2fe-4aa3-8e2c-2e429618f305",
                "updatedOn": "2020-09-11T07:45:35.593868Z"
              },
              "enforcementMode": "DoNotEnforce"
            },
            "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authori[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyDefinitions/9218?api-version=2019-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "14991"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "Azure.ResourceManager.Resources.Tests Policy Definition",
          "policyType": "Custom",
          "mode": "Indexed",
          "metadata": {
            "createdBy": "1aa92e15-ee4e-4dda-9e61-5b4dc35d280b",
            "createdOn": "2020-09-14T08:49:41.6070658Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyDefinitions/9218",
        "type": "Microsoft.Authorization/policyDefinitions",
        "name": "9218"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1966864896",
    "SUBSCRIPTION_ID": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}