{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Authorization/policySetDefinitions?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "displayName": "[Preview]: NIST SP 800-171 R2",
              "policyType": "BuiltIn",
              "description": "This initiative includes audit and virtual machine extension policies that address a subset of NIST SP 800-171 R2 requirements. Additional policies will be added in upcoming releases. For more information, visit https://aka.ms/nist800171r2-blueprint.",
              "metadata": {
                "version": "4.0.0-preview",
                "category": "Regulatory Compliance",
                "preview": true
              },
              "parameters": {
                "IncludeArcMachines": {
                  "type": "String",
                  "metadata": {
                    "displayName": "Include Arc connected servers for Guest Configuration policies",
                    "description": "Optionally choose to audit settings inside Arc connected servers using Guest Configuration policies. By selecting this option, you agree to be charged monthly per Arc connected machine."
                  },
                  "allowedValues": [
                    "true",
                    "false"
                  ],
                  "defaultValue": "false"
                },
                "membersToExcludeInLocalAdministratorsGroup": {
                  "type": "String",
                  "metadata": {
                    "displayName": "[Preview]: List of users excluded from Windows VM Administrators group",
                    "description": "A semicolon-separated list of users that should be excluded in the Administrators local group; Ex: Administrator; myUser1; myUser2"
                  }
                },
                "membersToIncludeInLocalAdministratorsGroup": {
                  "type": "String",
                  "metadata": {
                    "displayName": "[Preview]: List of users that must be included in Windows VM Administrators group",
                    "description": "A semicolon-separated list of users that should be included in the Administrators local group; Ex: Administrator; myUser1; myUser2"
                  }
                },
                "listOfLocationsForNetworkWatcher": {
                  "type": "Array",
                  "metadata": {
                    "displayName": "[Preview]: List of regions where Network Watcher should be enabled",
                    "description": "Audit if Network Watcher is not enabled for region(s).",
                    "strongType": "location"
                  }
                },
                "logAnalyticsWorkspaceIDForVMAgents": {
                  "type": "String",
                  "metadata": {
                    "displayName": "[Preview]: Log Analytics workspace ID for VM agent reporting",
                    "description": "ID (GUID) of the Log Analytics workspace where VMs agents should report."
                  }
                },
                "pHPLatestVersionForAppServices": {
                  "type": "String",
                  "metadata": {
                    "displayName": "[Preview]: Latest PHP version",
                    "description": "Latest supported PHP version for App Services"
                  },
                  "defaultValue": "7.3"
                },
                "windowsImagesToAddToLogAgentAuditScope": {
                  "type": "Array",
                  "metadata": {
                    "displayName": "[Preview]: Optional: List of Windows VM images that support Log Analytics agent to add to audit scope",
                    "description": "A semicolon-separated list of images; Ex: /subscriptions/\u003CsubscriptionId\u003E/resourceGroups/YourResourceGroup/providers/Microsoft.Compute/images/ContosoStdImage"
                  },
                  "defaultValue": []
                },
                "linuxImagesToAddToLogAgentAuditScope": {
                  "type": "Array",
                  "metadata": {
                    "displayName": "[Preview]: Optional: List of Linux VM images that support Log Analytics agent to add to audit scope",
                    "description": "A semicolon-separated list of images; Ex: /subscriptions/\u003CsubscriptionId\u003E/resourceGroups/YourResourceGroup/providers/Microsoft.Compute/images/ContosoStdImage"
                  },
                  "defaultValue": []
                },
                "javaLatestVersionForAppServices": {
                  "type": "String",
                  "metadata": {
                    "displayName": "[Preview]: Latest Java version",
                    "description": "Latest supported Java version for App Services"
                  },
                  "defaultValue": "11"
                },
                "windowsPythonLatestVersionForAppServices": {
                  "type": "String",
                  "metadata": {
                    "displayName": "[Preview]: Latest Windows Python version",
                    "description": "Latest supported Python version for App Services"
                  },
                  "defaultValue": "3.6"
                },
                "linuxPythonLatestVersionForAppServices": {
                  "type": "String",
                  "metadata": {
                    "displayName": "[Preview]: Latest Linux Python version",
                    "description": "Latest supported Python version for App Services"
                  },
                  "defaultValue": "3.8"
                },
                "listOfResourceTypesForDiagnosticLogs": {
                  "type": "Array",
                  "metadata": {
                    "displayName": "[Preview]: List of resource types that should have diagnostic logs enabled",
                    "description": "Audit diagnostic setting for selected resource types"
                  },
                  "allowedValues": [
                    "Microsoft.AnalysisServices/servers",
                    "Microsoft.ApiManagement/service",
                    "Microsoft.Network/applicationGatewa[...]
