{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyDefinitions/9121?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "ValidatePolicyDefinitionErrorHandling - Missing Rule [Auto Test]"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1168"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequestContent",
          "message": "The request content was invalid and could not be deserialized: \u0027Required property \u0027policyRule\u0027 not found in JSON. Path \u0027properties\u0027, line 1, position 96.\u0027."
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyDefinitions/9121?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Foo",
          "displayName": "ValidatePolicyDefinitionErrorHandling - Bad Mode $[Auto Test]",
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1167"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidPolicyDefinitionMode",
          "message": "The policy mode \u0027Foo\u0027 is invalid for policy with id \u00279121\u0027. The allowed values are \u0027All, Indexed, Microsoft.ContainerService.Data, Microsoft.CustomerLockbox.Data, Microsoft.DataCatalog.Data, Microsoft.KeyVault.Data, Microsoft.Kubernetes.Data, Microsoft.MachineLearningServices.Data, Microsoft.Network.Data, Microsoft.Synapse.Data\u0027."
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyDefinitions/9121?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "ValidatePolicyDefinitionErrorHandling - Unused Parameter $[Auto Test]",
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          },
          "parameters": {
            "foo": {
              "type": "String"
            }
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1166"
      },
      "ResponseBody": {
        "error": {
          "code": "UnusedPolicyParameters",
          "message": "The policy \u00279121\u0027 has defined parameters \u0027foo\u0027 which are not used in the policy rule. Please either remove these parameters from the definition or ensure that they are used in the policy rule."
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyDefinitions/9121?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "ValidatePolicyDefinitionErrorHandling - Missing Parameter $[Auto Test]",
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "[parameters(\u0027foo\u0027)]"
            },
            "then": {
              "effect": "deny"
            }
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1165"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidPolicyParameters",
          "message": "A function or parameter in policy \u00279121\u0027 could not be validated. If using template functions, try following the tips in: https://aka.ms/policy-avoiding-template-failures. The inner exception \u0027The policy \u00279121\u0027 has undefined parameter \u0027foo\u0027 which is used in the policy rule. Please either define it in policy definition or remove the reference in policy rule.\u0027."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "324997194",
    "SUBSCRIPTION_ID": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}