{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 15 Dec 2021 21:49:11 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableJNoQl1bo"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://pakrymtables3prim.table.core.windows.net/Tables(\u0027testtableJNoQl1bo\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtableJNoQl1bo"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_5dc86d67-2484-43a4-80fd-99ee2fd2f090",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 15 Dec 2021 21:49:12 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1tdWx0aXBhcnRfYm91bmRhcnkNCkNvbnRlbnQtVHlwZTogbXVsdGlwYXJ0L21pe[...]
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtableJNoQl1bo(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 15 Dec 2021 21:49:12 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-12-15T21%3A49%3A12.1959903Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#testtableJNoQl1bo/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-15T21%3A49%3A12.1959903Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2021-12-15T21:49:12.1959903Z",
        "BooleanProperty": true,
        "ByteArrayProperty@odata.type": "Edm.Binary",
        "ByteArrayProperty": "EjQ=",
        "DateTimeProperty@odata.type": "Edm.DateTime",
        "DateTimeProperty": "2021-12-15T21:49:12.182074Z",
        "DateTimeOffsetProperty@odata.type": "Edm.DateTime",
        "DateTimeOffsetProperty": "9999-12-31T23:59:59.9999999Z",
        "DoubleProperty": 1.2,
        "GuidProperty@odata.type": "Edm.Guid",
        "GuidProperty": "6ab77ae8-5234-221d-36b5-0921596bc908",
        "Int32Property": 123,
        "Int64Property@odata.type": "Edm.Int64",
        "Int64Property": "456",
        "StringProperty": "abc",
        "PocoProperty": "{\r\n  \u0022RowKey\u0022: \u0022ghi\u0022,\r\n  \u0022PartitionKey\u0022: \u0022def\u0022,\r\n  \u0022Property\u0022: \u0022jkl\u0022\r\n}"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/Tables(\u0027testtableJNoQl1bo\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 21:49:12 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-12-15T13:49:12.1820740-08:00",
    "RandomSeed": "1387155545",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "pakrymtables3prim"
  }
}
