{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 15 Dec 2021 21:38:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablemOowgwdR"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://pakrymtables3prim.table.core.windows.net/Tables(\u0027testtablemOowgwdR\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtablemOowgwdR"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_cbae0cc4-ebf5-4400-86b0-f2ab3735fccd",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 15 Dec 2021 21:38:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1tdWx0aXBhcnRfYm91bmRhcnkNCkNvbnRlbnQtVHlwZTogbXVsdGlwYXJ0L21pe[...]
[...]
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/TatesttablemOowgwdR()?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 15 Dec 2021 21:38:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#TatesttablemOowgwdR",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-12-15T21%3A38%3A55.1732983Z\u0027\u0022",
            "PartitionKey": "PK",
            "RowKey": "RK",
            "Timestamp": "2021-12-15T21:38:55.1732983Z",
            "Property": "123"
          }
        ]
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/TatesttablemOowgwdR(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 15 Dec 2021 21:38:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-12-15T21%3A38%3A55.1732983Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#TatesttablemOowgwdR/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-15T21%3A38%3A55.1732983Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2021-12-15T21:38:55.1732983Z",
        "Property": "123"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtablemOowgwdRxtesttablemOowgwdR()?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 15 Dec 2021 21:38:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#testtablemOowgwdRxtesttablemOowgwdR",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-12-15T21%3A38%3A55.4921159Z\u0027\u0022",
            "PartitionKey": "PK",
            "RowKey": "RK",
            "Timestamp": "2021-12-15T21:38:55.4921159Z",
            "Property": "456"
          }
        ]
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtablemOowgwdRxtesttablemOowgwdR(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 15 Dec 2021 21:38:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-12-15T21%3A38%3A55.4921159Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#testtablemOowgwdRxtesttablemOowgwdR/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-15T21%3A38%3A55.4921159Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2021-12-15T21:38:55.4921159Z",
        "Property": "456"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/Tables(\u0027testtablemOowgwdR\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 21:38:56 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "567331534",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "pakrymtables3prim"
  }
}
