{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11905"
      },
      "ResponseBody": {
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipGreenTeamLinuxSSHAuthForSub": "1020642667"
        },
        "subscriptionId": "e37510d7-33b6-4676-886f-ee75bcc01871",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CPlat SDK/PowerShell",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourcegroups/testRG-3409?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1174"
      },
      "ResponseBody": {
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-3409",
        "name": "testRG-3409",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Network?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11904"
      },
      "ResponseBody": {
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "2cf9eb86-36b5-49dc-86ae-9a63135dfa8c",
            "roleDefinitionId": "13ba9ab4-19f0-4804-adc4-14ece36cc7a1"
          },
          {
            "applicationId": "7c33bfcb-8d33-48d6-8e60-dc6404003489",
            "roleDefinitionId": "ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"
          },
          {
            "applicationId": "1e3e4475-288f-4018-a376-df66fd7fac5f",
            "roleDefinitionId": "1d538b69-3d87-4e56-8ff8-25786fd48261"
          },
          {
            "applicationId": "a0be0c72-870e-46f0-9c49-c98333a996f7",
            "roleDefinitionId": "7ce[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-3409/providers/Microsoft.Network/virtualNetworks/testVNet-7344?api-version=2022-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-4978",
              "properties": {
                "addressPrefix": "10.0.2.0/24"
              }
            }
          ]
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Network/locations/eastus/operations/8d832d6a-0a76-42c6-96c7-ffbf3a0618c8?api-version=2022-07-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1173"
      },
      "ResponseBody": {
        "name": "testVNet-7344",
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-3409/providers/Microsoft.Network/virtualNetworks/testVNet-7344",
        "etag": "W/\u002266dc7280-75ef-426d-9530-d81e3097525f\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "37f439a0-d770-4da3-b112-9080a74b3c22",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-4978",
              "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-3409/providers/Microsoft.Network/virtualNetworks/testVNet-7344/subnets/testSubnet-4978",
              "etag": "W/\u002266dc7280-75ef-426d-9530-d81e3097525f\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.2.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Network/locations/eastus/operations/8d832d6a-0a76-42c6-96c7-ffbf3a0618c8?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11903"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-3409/providers/Microsoft.Network/virtualNetworks/testVNet-7344?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220d862453-ed6a-4799-ac95-221e837bad61\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11902"
      },
      "ResponseBody": {
        "name": "testVNet-7344",
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-3409/providers/Microsoft.Network/virtualNetworks/testVNet-7344",
        "etag": "W/\u00220d862453-ed6a-4799-ac95-221e837bad61\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-3409/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-2423?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_F2",
          "tier": "Standard",
          "capacity": 2
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "upgradePolicy": {
            "mode": "Manual"
          },
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "testVMSS-2423",
              "adminUsername": "adminuser",
              "linuxConfiguration": {
                "disablePasswordAuthentication": true,
                "ssh": {
                  "publicKeys": [
                    {
                      "path": "/home/adminuser/.ssh/authorized_keys",
                      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC\u002BwWK73dCr\u002BjgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz\u002B3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG\u002BTo7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                    }
                  ]
                }
              }
            },
            "storageProfile": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "16.04-LTS",
                "version": "latest"
              },
              "osDisk": {
                "caching": "ReadWrite",
                "createOption": "FromImage",
                "managedDisk": {
                  "storageAccountType": "Standard_LRS"
                }
              }
            },
            "networkProfile": {
              "networkInterfaceConfigurations": [
                {
                  "name": "example",
                  "properties": {
                    "primary": true,
                    "ipConfigurations": [
                      {
                        "name": "internal",
                        "properties": {
                          "subnet": {
                            "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-3409/providers/Microsoft.Network/virtualNetworks/testVNet-7344/subnets/testSubnet-4978"
                          },
                          "primary": true
                        }
                      }
                    ]
                  }
                }
              ]
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/eastus/operations/8320d8f7-cbaf-461c-9109-9a26ab5cffcf?p=4bed644a-a596-4634-b1fa-8009f92f8b59\u0026api-version=2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateVMScaleSet3Min;57,Microsoft.Compute/CreateVMScaleSet30Min;278,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1180,Microsoft.Compute/VmssQueuedVMOperations;0",
        "x-ms-ratelimit-remaining-subscription-writes": "1172",
        "x-ms-request-charge": "4"
      },
      "ResponseBody": {
        "name": "testVMSS-2423",
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-3409/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-2423",
        "type": "Microsoft.Compute/virtualMachineScaleSets",
        "location": "eastus",
        "tags": {
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "sku": {
          "name": "Standard_F2",
          "tier": "Standard",
          "capacity": 2
        },
        "properties": {
          "singlePlacementGroup": true,
          "orchestrationMode": "Uniform",
          "upgradePolicy": {
            "mode": "Manual"
          },
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "testVMSS-2423",
              "adminUsername": "adminuser",
              "linuxConfiguration": {
                "disablePasswordAuthentication": true,
                "ssh": {
                  "publicKeys": [
                    {
                      "path": "/home/adminuser/.ssh/authorized_keys",
                      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC\u002BwWK73dCr\u002BjgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz\u002B3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG\u002BTo7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                    }
                  ]
                },
                "provisionVMAgent": true,
                "enableVMAgentPlatformUpdates": false
              },
              "secrets": [],
              "allowExtensionOperations": true,
              "requireGuestProvisionSignal": true
            },
            "storageProfile": {
              "osDisk": {
                "osType": "Linux",
                "createOption": "FromImage",
                "caching": "ReadWrite",
                "managedDisk": {
                  "storageAccountType": "Standard_LRS"
                },
                "diskSizeGB": 30
              },
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "16.04-LTS",
                "version": "latest"
              }
            },
            "networkProfile": {
              "networkInterfaceConfigurations": [
                {
                  "name": "example",
                  "properties": {
                    "primary": true,
                    "enableAcceleratedNetworking": false,
                    "disableTcpStateTracking": false,
                    "dnsSettings": {
                      "dnsServers": []
                    },
                    "enableIPForwarding": false,
                    "ipConfigurations": [
                      {
                        "name": "internal",
                        "properties": {
                          "primary": true,
                          "subnet": {
                            "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-3409/providers/Microsoft.Network/virtualNetworks/testVNet-7344/subnets/testSubnet-4978"
                          },
                          "privateIPAddressVersion": "IPv4"
                        }
                      }
                    ]
                  }
                }
              ]
            }
          },
          "provisioningState": "Creating",
          "overprovision": true,
          "doNotRunExtensionsOnOverprovisionedVMs": false,
          "uniqueId": "40dd632f-7d4d-40d3-bd73-fef5c09a3c1d",
          "timeCreated": "2023-02-01T18:11:27.9680761\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/eastus/operations/8320d8f7-cbaf-461c-9109-9a26ab5cffcf?p=4bed644a-a596-4634-b1fa-8009f92f8b59\u0026api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "61",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14977,Microsoft.Compute/GetOperation30Min;29826",
        "x-ms-ratelimit-remaining-subscription-reads": "11901"
      },
      "ResponseBody": {
        "startTime": "2023-02-01T18:11:27.9680761\u002B00:00",
        "status": "InProgress",
        "name": "8320d8f7-cbaf-461c-9109-9a26ab5cffcf"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/eastus/operations/8320d8f7-cbaf-461c-9109-9a26ab5cffcf?p=4bed644a-a596-4634-b1fa-8009f92f8b59\u0026api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14989,Microsoft.Compute/GetOperation30Min;29823",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "startTime": "2023-02-01T18:11:27.9680761\u002B00:00",
        "endTime": "2023-02-01T18:12:12.7489476\u002B00:00",
        "status": "Succeeded",
        "name": "8320d8f7-cbaf-461c-9109-9a26ab5cffcf"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-3409/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-2423/poweroff?api-version=2022-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/eastus/operations/77c59f36-61c6-4dc5-aafd-35c6d22e845d?p=4bed644a-a596-4634-b1fa-8009f92f8b59\u0026api-version=2022-11-01",
        "Location": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/eastus/operations/77c59f36-61c6-4dc5-aafd-35c6d22e845d?p=4bed644a-a596-4634-b1fa-8009f92f8b59\u0026monitor=true\u0026api-version=2022-11-01",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/DeleteVMScaleSet3Min;78,Microsoft.Compute/DeleteVMScaleSet30Min;381,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1180,Microsoft.Compute/VmssQueuedVMOperations;0",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-request-charge": "2"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/eastus/operations/77c59f36-61c6-4dc5-aafd-35c6d22e845d?p=4bed644a-a596-4634-b1fa-8009f92f8b59\u0026monitor=true\u0026api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14978,Microsoft.Compute/GetOperation30Min;29807",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "684147777",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "e37510d7-33b6-4676-886f-ee75bcc01871"
  }
}
