{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11817"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-273?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1173"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-273",
        "name": "testRG-273",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11816"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "2cf9eb86-36b5-49dc-86ae-9a63135dfa8c",
            "roleDefinitionId": "13ba9ab4-19f0-4804-adc4-14ece36cc7a1"
          },
          {
            "applicationId": "7c33bfcb-8d33-48d6-8e60-dc6404003489",
            "roleDefinitionId": "ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"
          },
          {
            "applicationId": "1e3e4475-288f-4018-a376-df66fd7fac5f",
            "roleDefinitionId": "1d538b69-3d87-4e56-8ff8-25786fd48261"
          },
          {
            "applicationId": "a0be0c72-870e-46f0-9c49-c98333a996f7",
            "roleDefinitionId": "7ce[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-273/providers/Microsoft.Network/virtualNetworks/testVNet-4088?api-version=2022-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-7180",
              "properties": {
                "addressPrefix": "10.0.2.0/24"
              }
            }
          ]
        },
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/eastus/operations/09e5eb75-9788-4942-bfc3-1afab29e16ed?api-version=2022-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1172"
      },
      "ResponseBody": {
        "name": "testVNet-4088",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-273/providers/Microsoft.Network/virtualNetworks/testVNet-4088",
        "etag": "W/\u0022d59d7c9a-6ea0-4c1c-b552-8cbde9cd478c\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "tags": {},
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "0fbbb68e-5b75-43a9-a9d6-d01fe87b4eea",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-7180",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-273/providers/Microsoft.Network/virtualNetworks/testVNet-4088/subnets/testSubnet-7180",
              "etag": "W/\u0022d59d7c9a-6ea0-4c1c-b552-8cbde9cd478c\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.2.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Enabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/eastus/operations/09e5eb75-9788-4942-bfc3-1afab29e16ed?api-version=2022-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11815"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-273/providers/Microsoft.Network/virtualNetworks/testVNet-4088?api-version=2022-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220a014c62-d97f-4bca-9420-cd6f322165a3\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11814"
      },
      "ResponseBody": {
        "name": "testVNet-4088",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-273/providers/Microsoft.Network/virtualNetworks/testVNet-4088",
        "etag": "W/\u00220a014c62-d97f-4bca-9420-cd6f322165a3\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "t[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-273/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-9389?api-version=2022-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_F2",
          "tier": "Standard",
          "capacity": 2
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "upgradePolicy": {
            "mode": "Manual"
          },
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "testVMSS-9389",
              "adminUsername": "adminuser",
              "linuxConfiguration": {
                "disablePasswordAuthentication": true,
                "ssh": {
                  "publicKeys": [
                    {
                      "path": "/home/adminuser/.ssh/authorized_keys",
                      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC\u002BwWK73dCr\u002BjgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz\u002B3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG\u002BTo7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                    }
                  ]
                }
              }
            },
            "storageProfile": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "16.04-LTS",
                "version": "latest"
              },
              "osDisk": {
                "caching": "ReadWrite",
                "createOption": "FromImage",
                "managedDisk": {
                  "storageAccountType": "Standard_LRS"
                }
              }
            },
            "networkProfile": {
              "networkInterfaceConfigurations": [
                {
                  "name": "example",
                  "properties": {
                    "primary": true,
                    "ipConfigurations": [
                      {
                        "name": "internal",
                        "properties": {
                          "subnet": {
                            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-273/providers/Microsoft.Network/virtualNetworks/testVNet-4088/subnets/testSubnet-7180"
                          },
                          "primary": true
                        }
                      }
                    ]
                  }
                }
              ]
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/operations/c36a1bf0-483b-49a0-b8ff-b206f63ab309?p=6a5473bf-f845-44a5-b675-411600120563\u0026api-version=2022-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateVMScaleSet3Min;58,Microsoft.Compute/CreateVMScaleSet30Min;291,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1188,Microsoft.Compute/VmssQueuedVMOperations;0",
        "x-ms-ratelimit-remaining-subscription-writes": "1171",
        "x-ms-request-charge": "4"
      },
      "ResponseBody": {
        "name": "testVMSS-9389",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-273/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-9389",
        "type": "Microsoft.Compute/virtualMachineScaleSets",
        "location": "eastus",
        "tags": {
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "sku": {
          "name": "Standard_F2",
          "tier": "Standard",
          "capacity": 2
        },
        "properties": {
          "singlePlacementGroup": true,
          "upgradePolicy": {
            "mode": "Manual"
          },
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "testVMSS-9389",
              "adminUsername": "adminuser",
              "linuxConfiguration": {
                "disablePasswordAuthentication": true,
                "ssh": {
                  "publicKeys": [
                    {
                      "path": "/home/adminuser/.ssh/authorized_keys",
                      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC\u002BwWK73dCr\u002BjgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz\u002B3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG\u002BTo7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                    }
                  ]
                },
                "provisionVMAgent": true,
                "enableVMAgentPlatformUpdates": false
              },
              "secrets": [],
              "allowExtensionOperations": true,
              "requireGuestProvisionSignal": true
            },
            "storageProfile": {
              "osDisk": {
                "osType": "Linux",
                "createOption": "FromImage",
                "caching": "ReadWrite",
                "managedDisk": {
                  "storageAccountType": "Standard_LRS"
                },
                "diskSizeGB": 30
              },
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "16.04-LTS",
                "version": "latest"
              }
            },
            "networkProfile": {
              "networkInterfaceConfigurations": [
                {
                  "name": "example",
                  "properties": {
                    "primary": true,
                    "enableAcceleratedNetworking": false,
                    "dnsSettings": {
                      "dnsServers": []
                    },
                    "enableIPForwarding": false,
                    "ipConfigurations": [
                      {
                        "name": "internal",
                        "properties": {
                          "primary": true,
                          "subnet": {
                            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-273/providers/Microsoft.Network/virtualNetworks/testVNet-4088/subnets/testSubnet-7180"
                          },
                          "privateIPAddressVersion": "IPv4"
                        }
                      }
                    ]
                  }
                }
              ]
            },
            "extensionProfile": {
              "extensions": [
                {
                  "name": "Microsoft.Azure.Monitor.AzureMonitorLinuxAgent",
                  "properties": {
                    "autoUpgradeMinorVersion": true,
                    "enableAutomaticUpgrade": true,
                    "publisher": "Microsoft.Azure.Monitor",
                    "type": "AzureMonitorLinuxAgent",
                    "typeHandlerVersion": "1.0",
                    "settings": {
                      "GCS_AUTO_CONFIG": true
                    }
                  }
                },
                {
                  "name": "Microsoft.Azure.Security.Monitoring.AzureSecurityLinuxAgent",
                  "properties": {
                    "autoUpgradeMinorVersion": true,
                    "enableAutomaticUpgrade": true,
                    "publisher": "Microsoft.Azure.Security.Monitoring",
                    "type": "AzureSecurityLinuxAgent",
                    "typeHandlerVersion": "2.0",
                    "settings": {
                      "enableGenevaUpload": true,
                      "enableAutoConfig": true,
                      "reportSuccessOnUnsupportedDistro": true
                    }
                  }
                }
              ]
            }
          },
          "provisioningState": "Creating",
          "overprovision": true,
          "doNotRunExtensionsOnOverprovisionedVMs": false,
          "uniqueId": "ff23c949-f2a8-4e04-87ca-56044a3358ff",
          "timeCreated": "2022-06-06T13:23:28.1817582\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/operations/c36a1bf0-483b-49a0-b8ff-b206f63ab309?p=6a5473bf-f845-44a5-b675-411600120563\u0026api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "61",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14988,Microsoft.Compute/GetOperation30Min;29816",
        "x-ms-ratelimit-remaining-subscription-reads": "11813"
      },
      "ResponseBody": {
        "startTime": "2022-06-06T13:23:28.1817582\u002B00:00",
        "status": "InProgress",
        "name": "c36a1bf0-483b-49a0-b8ff-b206f63ab309"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/operations/c36a1bf0-483b-49a0-b8ff-b206f63ab309?p=6a5473bf-f845-44a5-b675-411600120563\u0026api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14985,Microsoft.Compute/GetOperation30Min;29831",
        "x-ms-ratelimit-remaining-subscription-reads": "11804"
      },
      "ResponseBody": {
        "startTime": "2022-06-06T13:23:28.1817582\u002B00:00",
        "endTime": "2022-06-06T13:25:46.3544492\u002B00:00",
        "status": "Succeeded",
        "name": "c36a1bf0-483b-49a0-b8ff-b206f63ab309"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-273/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-9389/poweroff?api-version=2022-03-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/operations/12b0a339-c648-4a6a-b4fe-3b9cdfff3aca?p=6a5473bf-f845-44a5-b675-411600120563\u0026api-version=2022-03-01",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/operations/12b0a339-c648-4a6a-b4fe-3b9cdfff3aca?p=6a5473bf-f845-44a5-b675-411600120563\u0026monitor=true\u0026api-version=2022-03-01",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/DeleteVMScaleSet3Min;78,Microsoft.Compute/DeleteVMScaleSet30Min;389,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1192,Microsoft.Compute/VmssQueuedVMOperations;0",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-ms-request-charge": "2"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/operations/12b0a339-c648-4a6a-b4fe-3b9cdfff3aca?p=6a5473bf-f845-44a5-b675-411600120563\u0026monitor=true\u0026api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14971,Microsoft.Compute/GetOperation30Min;29815",
        "x-ms-ratelimit-remaining-subscription-reads": "11793"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1415133357",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
