{
  "Entries": [
    {
      "RequestUri": "/templeton/v1/mapreduce/streaming?user.name=testuser11508",
      "RequestMethod": "POST",
      "RequestBody": "input=%2Fexample%2Fdata%2Fgutenberg%2Fdavinci.txt&output=%2Fexample%2Fdata%2Fgutenberg%2Fwcount%2F70c4957f-5485-4cc5-84c3-0d0d45fa98de&mapper=cat&reducer=wc&statusdir=2018-12-13T10-20-48-8adb4f62-ac7d-4d01-92d0-a06230c7dac5",
      "RequestHeaders": {
        "Content-Type": [
          "text/plain"
        ]
      },
      "ResponseHeaders": {
        "x-ms-hdi-active": [
          "hn0-testcl.ubghleneayeu5mgdcmzywun5ga.ex.internal.cloudapp.net"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"job_1544695030287_0021\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/ws/v1/cluster/apps/application_1544695030287_0021/state",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-active": [
          "hn1-testcl.ubghleneayeu5mgdcmzywun5ga.ex.internal.cloudapp.net"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"state\": \"ACCEPTED\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/templeton/v1/jobs/job_1544695030287_0021?user.name=testuser11508&fields=%2A",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-active": [
          "hn0-testcl.ubghleneayeu5mgdcmzywun5ga.ex.internal.cloudapp.net"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": {\r\n    \"mapProgress\": 1.0,\r\n    \"reduceProgress\": 1.0,\r\n    \"cleanupProgress\": 0.0,\r\n    \"setupProgress\": 0.0,\r\n    \"runState\": 2,\r\n    \"startTime\": 1544696461315,\r\n    \"queue\": \"default\",\r\n    \"priority\": \"NORMAL\",\r\n    \"schedulingInfo\": \"NA\",\r\n    \"failureInfo\": \"NA\",\r\n    \"jobACLs\": {},\r\n    \"jobName\": \"TempletonControllerJob\",\r\n    \"jobFile\": \"wasb://testcontainer13369@testazureblob17653.blob.core.windows.net/mr-history/done/2018/12/13/000000/job_1544695030287_0021_conf.xml\",\r\n    \"finishTime\": 1544696524734,\r\n    \"historyFile\": \"\",\r\n    \"trackingUrl\": \"hn0-testcl.ubghleneayeu5mgdcmzywun5ga.ex.internal.cloudapp.net:19888/jobhistory/job/job_1544695030287_0021\",\r\n    \"numUsedSlots\": 0,\r\n    \"numReservedSlots\": 0,\r\n    \"usedMem\": 0,\r\n    \"reservedMem\": 0,\r\n    \"neededMem\": 0,\r\n    \"jobId\": \"job_1544695030287_0021\",\r\n    \"username\": \"testuser11508\",\r\n    \"jobPriority\": \"NORMAL\",\r\n    \"jobID\": {\r\n      \"id\": 21,\r\n      \"jtIdentifier\": \"1544695030287\"\r\n    },\r\n    \"jobComplete\": true,\r\n    \"retired\": false,\r\n    \"uber\": false,\r\n    \"state\": \"SUCCEEDED\"\r\n  },\r\n  \"profile\": {\r\n    \"user\": \"testuser11508\",\r\n    \"jobFile\": \"wasb://testcontainer13369@testazureblob17653.blob.core.windows.net/mr-history/done/2018/12/13/000000/job_1544695030287_0021_conf.xml\",\r\n    \"url\": null,\r\n    \"queueName\": \"default\",\r\n    \"jobId\": \"job_1544695030287_0021\",\r\n    \"jobName\": \"TempletonControllerJob\",\r\n    \"jobID\": {\r\n      \"id\": 21,\r\n      \"jtIdentifier\": \"1544695030287\"\r\n    }\r\n  },\r\n  \"id\": \"job_1544695030287_0021\",\r\n  \"parentId\": null,\r\n  \"percentComplete\": \"map 100% reduce 100%\",\r\n  \"exitValue\": 0,\r\n  \"user\": \"testuser11508\",\r\n  \"callback\": null,\r\n  \"completed\": \"done\",\r\n  \"userargs\": {\r\n    \"statusdir\": \"2018-12-13T10-20-48-8adb4f62-ac7d-4d01-92d0-a06230c7dac5\",\r\n    \"inputreader\": null,\r\n    \"user.name\": \"testuser11508\",\r\n    \"mapper\": \"cat\",\r\n    \"combiner\": null,\r\n    \"cmdenv\": [],\r\n    \"output\": \"/example/data/gutenberg/wcount/70c4957f-5485-4cc5-84c3-0d0d45fa98de\",\r\n    \"input\": [\r\n      \"/example/data/gutenberg/davinci.txt\"\r\n    ],\r\n    \"file\": [],\r\n    \"enablejobreconnect\": null,\r\n    \"arg\": [],\r\n    \"define\": [],\r\n    \"enablelog\": \"false\",\r\n    \"files\": null,\r\n    \"callback\": null,\r\n    \"reducer\": \"wc\"\r\n  },\r\n  \"msg\": null\r\n}",
      "StatusCode": 200
    },
[...]
