{
  "Entries": [
    {
      "RequestUri": "/templeton/v1/hive?user.name=testuser11508",
      "RequestMethod": "POST",
      "RequestBody": "execute=select%201.0000000001%20%2B%200.00001%20limit%201%3Bselect%201.0000000001%20%2B%200.00001%20limit%201%3Bselect%201.0000000001%20%2B%200.00001%20limit%201%3Bselect%201.0000000001%20%2B%200.00001%20limit%201%3Bselect%201.0000000001%20%2B%200.00001%20limit%201%3Bselect%201.0000000001%20%2B%200.00001%20limit%201%3Bselect%201.0000000001%20%2B%200.00001%20limit%201%3Bselect%201.0000000001%20%2B%200.00001%20limit%201%3Bselect%201.0000000001%20%2B%200.00001%20limit%201%3Bselect%201.0000000001%[...]
    {
      "RequestUri": "/ws/v1/cluster/apps/application_1544695030287_0028/state",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-active": [
          "hn1-testcl.ubghleneayeu5mgdcmzywun5ga.ex.internal.cloudapp.net"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"state\": \"ACCEPTED\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/templeton/v1/jobs/job_1544695030287_0028?user.name=testuser11508&fields=%2A",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-active": [
          "hn0-testcl.ubghleneayeu5mgdcmzywun5ga.ex.internal.cloudapp.net"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": {\r\n    \"mapProgress\": 1.0,\r\n    \"reduceProgress\": 1.0,\r\n    \"cleanupProgress\": 0.0,\r\n    \"setupProgress\": 0.0,\r\n    \"runState\": 2,\r\n    \"startTime\": 1544696894878,\r\n    \"queue\": \"default\",\r\n    \"priority\": \"NORMAL\",\r\n    \"schedulingInfo\": \"NA\",\r\n    \"failureInfo\": \"NA\",\r\n    \"jobACLs\": {},\r\n    \"jobName\": \"TempletonControllerJob\",\r\n    \"jobFile\": \"wasb://testcontainer13369@testazureblob17653.blob.core.windows.net/mr-history/done/2018/12/13/000000/job_1544695030287_0028_conf.xml\",\r\n    \"finishTime\": 1544698046222,\r\n    \"historyFile\": \"\",\r\n    \"trackingUrl\": \"hn0-testcl.ubghleneayeu5mgdcmzywun5ga.ex.internal.cloudapp.net:19888/jobhistory/job/job_1544695030287_0028\",\r\n    \"numUsedSlots\": 0,\r\n    \"numReservedSlots\": 0,\r\n    \"usedMem\": 0,\r\n    \"reservedMem\": 0,\r\n    \"neededMem\": 0,\r\n    \"jobId\": \"job_1544695030287_0028\",\r\n    \"username\": \"testuser11508\",\r\n    \"jobPriority\": \"NORMAL\",\r\n    \"jobID\": {\r\n      \"id\": 28,\r\n      \"jtIdentifier\": \"1544695030287\"\r\n    },\r\n    \"jobComplete\": true,\r\n    \"retired\": false,\r\n    \"uber\": false,\r\n    \"state\": \"SUCCEEDED\"\r\n  },\r\n  \"profile\": {\r\n    \"user\": \"testuser11508\",\r\n    \"jobFile\": \"wasb://testcontainer13369@testazureblob17653.blob.core.windows.net/mr-history/done/2018/12/13/000000/job_1544695030287_0028_conf.xml\",\r\n    \"url\": null,\r\n    \"queueName\": \"default\",\r\n    \"jobId\": \"job_1544695030287_0028\",\r\n    \"jobName\": \"TempletonControllerJob\",\r\n    \"jobID\": {\r\n      \"id\": 28,\r\n      \"jtIdentifier\": \"1544695030287\"\r\n    }\r\n  },\r\n  \"id\": \"job_1544695030287_0028\",\r\n  \"parentId\": null,\r\n  \"percentComplete\": null,\r\n  \"exitValue\": 0,\r\n  \"user\": \"testuser11508\",\r\n  \"callback\": null,\r\n  \"completed\": \"done\",\r\n  \"userargs\": {\r\n    \"statusdir\": \"2018-12-13T10-27-59-9a39c920-dca8-4086-ae32-80b600584f52\",\r\n    \"file\": null,\r\n    \"enablejobreconnect\": null,\r\n    \"define\": [],\r\n    \"enablelog\": \"false\",\r\n    \"user.name\": \"testuser11508\",\r\n    \"files\": null,\r\n    \"callback\": null,\r\n    \"execute\": \"select 1.0000000001 + 0.00001 limit 1;select 1.0000000001 + 0.00001 limit 1;select 1.0000000001 + 0.00001 limit 1;select 1.0000000001 + 0.00001 limit 1;select 1.0000000001 + 0.00001 limit 1;select 1.0000000001 + 0.00001 limit 1;select 1.0000000001 + 0.00001 limit 1;select 1.0000000001 + 0.00001 limit 1;select 1.0000000001 + 0.00001 limit 1;select 1.0000000001 + 0.00001 limit 1;select 1.0000000001 + 0.00001 limit 1;select 1.0000000001 + 0.00001 limit 1;select 1.0000000001 + 0.00001 limit 1;sel[...]
[...]
