{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-5683?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5683",
        "name": "testRG-5683",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-5683/providers/Microsoft.OperationalInsights/workspaces/testRG-5683-ws?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "sku": {
            "name": "PerNode"
          },
          "retentionInDays": 30,
          "publicNetworkAccessForIngestion": "Enabled",
          "publicNetworkAccessForQuery": "Enabled"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "source": "Azure",
          "customerId": "7afd3726-1dde-4dcf-96da-039741ea218d",
          "provisioningState": "Creating",
          "sku": {
            "name": "pergb2018",
            "lastSkuUpdate": "Fri, 28 Oct 2022 07:54:52 GMT"
          },
          "retentionInDays": 30,
          "features": {
            "legacy": 0,
            "searchVersion": 1,
            "enableLogAccessUsingOnlyResourcePermissions": true
          },
          "workspaceCapping": {
            "dailyQuotaGb": -1.0,
            "quotaNextResetTime": "Fri, 28 Oct 2022 21:00:00 GMT",
            "dataIngestionStatus": "RespectQuota"
          },
          "publicNetworkAccessForIngestion": "Enabled",
          "publicNetworkAccessForQuery": "Enabled",
          "createdDate": "Fri, 28 Oct 2022 07:54:52 GMT",
          "modifiedDate": "Fri, 28 Oct 2022 07:54:52 GMT"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testrg-5683/providers/microsoft.operationalinsights/workspaces/testrg-5683-ws",
        "name": "testRG-5683-ws",
        "type": "Microsoft.OperationalInsights/workspaces",
        "location": "eastus",
        "tags": {}
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5683/providers/Microsoft.OperationalInsights/workspaces/testRG-5683-ws/providers/Microsoft.SecurityInsights/onboardingStates/default?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "customerManagedKey": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11"
      },
      "ResponseBody": {
        "properties": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5683/providers/Microsoft.OperationalInsights/workspaces/testRG-5683-ws/providers/Microsoft.SecurityInsights/onboardingStates/default",
        "name": "default",
        "type": "Microsoft.SecurityInsights/onboardingStates",
        "systemData": {
          "createdAt": "2022-10-28T07:54:56.1861303Z",
          "createdBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "createdByType": "Application",
          "lastModifiedAt": "2022-10-28T07:54:56.1861303Z",
          "lastModifiedBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5683/providers/Microsoft.OperationalInsights/workspaces/testRG-5683-ws/providers/Microsoft.SecurityInsights/entityQueries/6d37a904-d199-43ff-892b-53653b784122?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "Activity",
        "properties": {
          "title": "The user consented to OAuth application",
          "content": "The user consented to the OAuth application named {{Target_CloudApplication_Name}} {{Count}} time(s)",
          "description": "This activity lists user\u0027s consents to an OAuth applications.",
          "queryDefinitions": {
            "query": "let UserConsentToApplication = (Account_Name:string, Account_UPNSuffix:string, Account_AadUserId:string){\nlet account_upn = iff(Account_Name != \u0022\u0022 and Account_UPNSuffix != \u0022\u0022\n, strcat(Account_Name,\u0022@\u0022,Account_UPNSuffix)\n,\u0022\u0022 );\nAuditLogs\n| where OperationName == \u0022Consent to application\u0022\n| extend Source_Account_UPNSuffix = tostring(todynamic(InitiatedBy) [\u0022user\u0022][\u0022userPrincipalName\u0022]), Source_Account_AadUserId = tostring(todynamic(InitiatedBy) [\u0022user\u0022][\u0022id\u0022])\n| where (account_upn != \u0022\u0022 and account_upn =~ Source_Account_UPNSuffix) \nor (Account_AadUserId != \u0022\u0022 and Account_AadUserId =~ Source_Account_AadUserId)\n| extend Target_CloudApplication_Name = tostring(todynamic(TargetResources)[0][\u0022displayName\u0022]), Target_CloudApplication_AppId = tostring(todynamic(TargetResources)[0][\u0022id\u0022])\n};\nUserConsentToApplication(\u0027{{Account_Name}}\u0027, \u0027{{Account_UPNSuffix}}\u0027, \u0027{{Account_AadUserId}}\u0027)  \n| project Target_CloudApplication_AppId, Target_CloudApplication_Name, TimeGenerated"
          },
          "inputEntityType": "Account",
          "requiredInputFieldsSets": [
            [
              "Account_AadUserId"
            ],
            [
              "Account_Name",
              "Account_UPNSuffix"
            ]
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5683/providers/Microsoft.OperationalInsights/workspaces/testRG-5683-ws/providers/Microsoft.SecurityInsights/entityQueries/6d37a904-d199-43ff-892b-53653b784122",
        "name": "6d37a904-d199-43ff-892b-53653b784122",
        "etag": "\u00225b024f29-0000-0100-0000-635b8ad90000\u0022",
        "type": "Microsoft.SecurityInsights/entityQueries",
        "kind": "Activity",
        "properties": {
          "title": "The user consented to OAuth application",
          "content": "The user consented to the OAuth application named {{Target_CloudApplication_Name}} {{Count}} time(s)",
          "description": "This activity lists user\u0027s consents to an OAuth applications.",
          "queryDefinitions": {
            "query": [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5683/providers/Microsoft.OperationalInsights/workspaces/testRG-5683-ws/providers/Microsoft.SecurityInsights/entityQueries/6d37a904-d199-43ff-892b-53653b784122?api-version=2022-08-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": {}
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1345539404",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
