{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-5336?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "test": "env"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5336",
        "name": "testRG-5336",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5336/providers/Microsoft.Web/sites/testSite-5704?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00221D7EB3AE2D62075\u0022",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "494"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5336/providers/Microsoft.Web/sites/testSite-5704",
        "name": "testSite-5704",
        "type": "Microsoft.Web/sites",
        "kind": "app",
        "location": "eastus",
        "tags": {},
        "properties": {
          "name": "testSite-5704",
          "state": "Running",
          "hostNames": [
            "testsite-5704.azurewebsites.net"
          ],
          "webSpace": "testRG-5336-EastUSwebspace",
          "selfLink": "https://waws-prod-blu-293.api.azurewebsites.windows.net:454/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/webspaces/testRG-5336-EastUSwebspace/sites/testSite-5704",
          "repositorySiteName": "testSite-5704",
          "owner": null,
          "usageState": "Normal",
          "enabled": true,
          "adminEnabled": true,
          "enabledHostNames": [
            "testsite-5704.azurewebsites.net",
            "testsite-5704.scm.azurewebsites.net"
          ],
          "siteProperties": {
            "metadata": null,
            "properties": [
              {
                "name": "LinuxFxVersion",
                "value": ""
              },
              {
                "name": "WindowsFxVersion",
                "value": null
              }
            ],
            "appSettings": null
          },
          "availabilityState": "Normal",
          "sslCertificates": null,
          "csrs": [],
          "cers": null,
          "siteMode": null,
          "hostNameSslStates": [
            {
              "name": "testsite-5704.azurewebsites.net",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "thumbprint": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Standard"
            },
            {
              "name": "testsite-5704.scm.azurewebsites.net",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "thumbprint": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Repository"
            }
          ],
          "computeMode": null,
          "serverFarm": null,
          "serverFarmId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-5336/providers/Microsoft.Web/serverfarms/Default1wu",
          "reserved": false,
          "isXenon": false,
          "hyperV": false,
          "lastModifiedTimeUtc": "2021-12-07T07:20:17.59",
          "storageRecoveryDefaultState": "Running",
          "contentAvailabilityState": "Normal",
          "runtimeAvailabilityState": "Normal",
          "siteConfig": {
            "numberOfWorkers": 1,
            "defaultDocuments": null,
            "netFrameworkVersion": null,
            "phpVersion": null,
            "pythonVersion": null,
            "nodeVersion": null,
            "powerShellVersion": null,
            "linuxFxVersion": "",
            "windowsFxVersion": null,
            "requestTracingEnabled": null,
            "remoteDebuggingEnabled": null,
            "remoteDebuggingVersion": null,
            "httpLoggingEnabled": null,
            "azureMonitorLogCategories": null,
            "acrUseManagedIdentityCreds": false,
            "acrUserManagedIdentityID": null,
            "logsDirectorySizeLimit": null,
            "detailedErrorLoggingEnabled": null,
            "publishingUsername": null,
            "publishingPassword": null,
            "appSettings": null,
            "metadata": null,
            "connectionStrings": null,
            "machineKey": null,
            "handlerMappings": null,
            "documentRoot": null,
            "scmType": null,
            "use32BitWorkerProcess": null,
            "webSocketsEnabled": null,
            "alwaysOn": false,
            "javaVersion": null,
            "javaContainer": null,
            "javaContainerVersion": null,
            "appCommandLine": null,
            "managedPipelineMode": null,
            "virtualApplications": null,
            "winAuthAdminState": null,
            "winAuthTenantState": null,
            "customAppPoolIdentityAdminState": null,
            "customAppPoolIdentityTenantState": null,
            "runtimeADUser": null,
            "runtimeADUserPassword": null,
            "loadBalancing": null,
            "routingRules": null,
            "experiments": null,
            "limits": null,
            "autoHealEnabled": null,
            "autoHealRules": null,
            "tracingOptions": null,
            "vnetName": null,
            "vnetRouteAllEnabled": null,
            "vnetPrivatePortsCount": null,
            "publicNetworkAccess": null,
            "cors": null,
            "push": null,
            "apiDefinition": null,
            "apiManagementConfig": null,
            "autoSwapSlotName": null,
            "localMySqlEnabled": null,
            "managedServiceIdentityId": null,
            "xManagedServiceIdentityId": null,
            "keyVaultReferenceIdentity": null,
            "ipSecurityRestrictions": [
              {
                "ipAddress": "Any",
                "action": "Allow",
                "priority": 1,
                "name": "Allow all",
                "description": "Allow all access"
              }
            ],
            "scmIpSecurityRestrictions": [
              {
                "ipAddress": "Any",
                "action": "Allow",
                "priority": 1,
                "name": "Allow all",
                "description": "Allow all access"
              }
            ],
            "scmIpSecurityRestrictionsUseMain": null,
            "http20Enabled": false,
            "minTlsVersion": null,
            "scmMinTlsVersion": null,
            "ftpsState": null,
            "preWarmedInstanceCount": null,
            "functionAppScaleLimit": 0,
            "healthCheckPath": null,
            "fileChangeAuditEnabled": null,
            "functionsRuntimeScaleMonitoringEnabled": null,
            "websiteTimeZone": null,
            "minimumElasticInstanceCount": 0,
            "azureStorageAccounts": null,
            "sitePort": null
          },
          "deploymentId": "testSite-5704",
          "slotName": null,
          "trafficManagerHostNames": null,
          "sku": "Free",
          "scmSiteAlsoStopped": false,
          "targetSwapSlot": null,
          "hostingEnvironment": null,
          "hostingEnvironmentProfile": null,
          "clientAffinityEnabled": true,
          "clientCertEnabled": false,
          "clientCertMode": "Required",
          "clientCertExclusionPaths": null,
          "hostNamesDisabled": false,
          "domainVerificationIdentifiers": null,
          "customDomainVerificationId": "B2B26A95110144FA7D61C7F11182785CA097CEE09243353FC8B6B68E6270D88A",
          "kind": "app",
          "inboundIpAddress": "20.49.104.56",
          "possibleInboundIpAddresses": "20.49.104.56",
          "ftpUsername": "testSite-5704\\$testSite-5704",
          "ftpsHostName": "ftps://waws-prod-blu-293.ftp.azurewebsites.windows.net/site/wwwroot",
          "outboundIpAddresses": "20.102.16.195,20.102.18.12,20.102.18.15,20.102.18.51,20.102.18.62,20.102.18.73,20.49.104.56",
          "possibleOutboundIpAddresses": "20.102.16.195,20.102.18.12,20.102.18.15,20.102.18.51,20.102.18.62,20.102.18.73,20.102.18.74,20.102.18.76,20.102.18.89,20.102.18.96,20.102.18.101,20.102.18.105,20.102.18.133,20.102.18.135,20.102.18.173,20.81.61.36,20.102.18.175,20.81.62.227,20.102.18.177,20.102.18.180,20.102.18.184,20.102.18.203,20.102.18.205,20.102.18.229,20.102.19.2,20.102.19.7,20.102.19.10,20.102.16.166,20.81.60.222,20.102.19.14,20.49.104.56",
          "containerSize": 0,
          "dailyMemoryTimeQuota": 0,
          "suspendedTill": null,
          "siteDisabledReason": 0,
          "functionExecutionUnitsCache": null,
          "maxNumberOfWorkers": null,
          "homeStamp": "waws-prod-blu-293",
          "cloningInfo": null,
          "hostingEnvironmentId": null,
          "tags": {},
          "resourceGroup": "testRG-5336",
          "defaultHostName": "testsite-5704.azurewebsites.net",
          "slotSwapStatus": null,
          "httpsOnly": false,
          "redundancyMode": "None",
          "inProgressOperationId": null,
          "geoDistributions": null,
          "privateEndpointConnections": null,
          "buildVersion": null,
          "targetBuildVersion": null,
          "migrationState": null,
          "eligibleLogCategories": "AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs",
          "storageAccountRequired": false,
          "virtualNetworkSubnetId": null,
          "keyVaultReferenceIdentity": "SystemAssigned"
        }
      }
    },
[...]
