{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ce7ed5ed-f8c9-abb0-5f3c-845e670cc65c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 07 Oct 2019 15:52:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D74B3E6356C8C4\u0022",
        "Last-Modified": "Mon, 07 Oct 2019 15:52:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ce7ed5ed-f8c9-abb0-5f3c-845e670cc65c/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 07 Oct 2019 15:52:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "Xr54KgYm/wWI5anvJEI7G53lMdKmbeY2s6KuMR1L6srOgg\u002Byy3SZBpVg0JA5ACEN4a5jySg5qfDYQXdjeM7nPfveIKEyiFAoSyo9Rp1W/LKBoE9v6CGhldge2on9NY7GeZKUWt9/21hdO339/GNTgUXE4td\u002Bd1TZPYrIE67GKxacdswKwaHTAcX3Ea2ko5l0y1hEOFK2RwE\u002Buh1Utseplg9nYYWXSMCj8eERh2WnNZnxU0dWgvLD5S7KzAaEfkv\u002BTXudPEIT3YOXoUdxpb\u002BcloWEY2J/UhQcpHtWzHu5H3KVEzrqCfhW3XbEv\u002BCrUUBuLjWB/xvofvpmgJ[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_58571ded-adac-d1cb-0ea4-ec8cd41fddc1",
        "x-ms-date": "Mon, 07 Oct 2019 15:52:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF81ODU3MWRlZC1hZGFjLWQxY2ItMGVhNC1lYzhjZDQxZmRkYzENCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogYmluYXJ5DQpDb250ZW50LUlEOiAwDQoNClBVVCAvdGVzdC1jb250YWluZXItY2U3ZWQ1ZWQtZjhjOS1hYmIwLTVmM2MtODQ1ZTY3MGNjNjVjL2Jsb2IxP2NvbXA9dGllciBIVFRQLzEuMQ0KeC1tcy1hY2Nlc3MtdGllc[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ce7ed5ed-f8c9-abb0-5f3c-845e670cc65c/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 07 Oct 2019 15:52:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "2CX2pjc7\u002BmVpynyr9biazg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D74B3E635B8260\u0022",
        "Last-Modified": "Mon, 07 Oct 2019 15:52:42 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Mon, 07 Oct 2019 15:52:42 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 07 Oct 2019 15:52:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ce7ed5ed-f8c9-abb0-5f3c-845e670cc65c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 07 Oct 2019 15:52:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1372207357",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}