{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-42507172-2ea8-c66e-2b72-0fdc35b47acf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 07 Oct 2019 15:52:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D74B3E68A02672\u0022",
        "Last-Modified": "Mon, 07 Oct 2019 15:52:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-42507172-2ea8-c66e-2b72-0fdc35b47acf/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 07 Oct 2019 15:52:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "ZESIRiN2vbQpYNzX3Y5k87AEcOjU3YZJrzSYYr8OKKmPkXoer3zn9Y8sc\u002BkK5XgxqwuJwktY6oe\u002BP5bv3lv1GjczSEwTRkMzHXpYp2mcP8q7ZrazhGVdNqfzX3Dl\u002BBc0N1ix1pwsHWXIVaXRAEIeIf/MM3ekQZbS1hKlIObSTiVjJHAQ6mgtj0hQ6y7AizZk1T5wGcSfj/XC3wCKhv1/9gd/btvSDTaXnqMvVFZnEUrcQEunYTRgw5V6TgtnowlL0PUnQB1akscH2XsgcDqfW822rkWy15TSH6pGV78rL/qa44NhQNEsga6Dn4e5QFNa2/M9sfXDmfhgVCFzFDoI3KmAhoy2P[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_ec6d8a83-d6b5-c8a3-e81e-56b45cbebb7a",
        "x-ms-date": "Mon, 07 Oct 2019 15:52:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF9lYzZkOGE4My1kNmI1LWM4YTMtZTgxZS01NmI0NWNiZWJiN2ENCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogYmluYXJ5DQpDb250ZW50LUlEOiAwDQoNClBVVCAvdGVzdC1jb250YWluZXItNDI1MDcxNzItMmVhOC1jNjZlLTJiNzItMGZkYzM1YjQ3YWNmL2Jsb2IxP2NvbXA9dGllciBIVFRQLzEuMQ0KeC1tcy1hY2Nlc3MtdGllc[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-42507172-2ea8-c66e-2b72-0fdc35b47acf/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 07 Oct 2019 15:52:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "fuFdMxNwFdCWjIieJ1cDPQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D74B3E68A38122\u0022",
        "Last-Modified": "Mon, 07 Oct 2019 15:52:51 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Mon, 07 Oct 2019 15:52:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 07 Oct 2019 15:52:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-42507172-2ea8-c66e-2b72-0fdc35b47acf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 07 Oct 2019 15:52:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1199295108",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}