{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e62e9bb9-a4d5-9476-f381-1fe6893b5d6f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 21 Oct 2019 05:27:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D755E75499BF9C\u0022",
        "Last-Modified": "Mon, 21 Oct 2019 05:27:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e62e9bb9-a4d5-9476-f381-1fe6893b5d6f/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 21 Oct 2019 05:27:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "s9ZZg7wsYKeFSYR5OcmXGcUKqGfpeIMeyIShtijLudu9ffklgDhYEMGqX6MfdMdJetCEIt43AzpTO7s4i6l/upCpu7zPcpiNsZemPhng/lS8WDxYRpb8hnm/0kV9IIUXK6QSdrgLeQg393BHkMUgczxmezJtJnP5rDVCEKBTD5ARjxJ1zYibsd40IE4ltfa0n14IFqRTqgUxGcmDyWlo5OjgNQGyq6W0yspUOQYk0/c/jXBBSvjsvuQNRLO\u002BGOh0yztmRYD0AvS5U0zZ/nH\u002BDEbSRDv5J5nv83YcpGfy9bLi4G3KvY13Sot8h/esEsBzDjdt7NOse6Shd1IJ112Nx12a9x4DNE65W/[...]
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_8b2365db-ac06-2015-75b2-d5e5c478716e",
        "x-ms-date": "Mon, 21 Oct 2019 05:27:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF84YjIzNjVkYi1hYzA2LTIwMTUtNzViMi1kNWU1YzQ3ODcxNmUNCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogYmluYXJ5DQpDb250ZW50LUlEOiAwDQoNClBVVCAvdGVzdC1jb250YWluZXItZTYyZTliYjktYTRkNS05NDc2LWYzODEtMWZlNjg5M2I1ZDZmL2Jsb2IxP2NvbXA9dGllciBIVFRQLzEuMQ0KeC1tcy1hY2Nlc3MtdGllc[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e62e9bb9-a4d5-9476-f381-1fe6893b5d6f/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Oct 2019 05:27:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Mqvjes7U3skTup5s1BztfQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D755E7549D1D3D\u0022",
        "Last-Modified": "Mon, 21 Oct 2019 05:27:14 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Mon, 21 Oct 2019 05:27:14 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 21 Oct 2019 05:27:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e62e9bb9-a4d5-9476-f381-1fe6893b5d6f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Oct 2019 05:27:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "955934213",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}