{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"adgroup9952\",\r\n  \"mailNickname\": \"adgroup9952tester\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/c0262fbc-0bfb-4912-8ffb-1edd292601ee/Microsoft.DirectoryServices.Group"
        ],
        "ocp-aad-diagnostics-server-name": [
          "Ww4JZ3phP63mdXQAX3Q+w5V7Po6AayFlRCSGeKGwhtg="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "_V6EX_1yvJkiCa06VAazsJOsKKxlXbwyuqvNQqdP572fZs3AGzxDL3CG26WzF2I5b_mNDJrQmh_t-1RvWfqlOk44jIhn6xlFdStux_rNqdYqpuSBbeKyuwiBTbwioEc-IIPD1IRPjb2rjR07FwsntQ.uxlZzKTwl5duErJU1rBZlO_DcARdIbVycq-c-J_kN_0"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1111064"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"c0262fbc-0bfb-4912-8ffb-1edd292601ee\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"adgroup9952\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"adgroup9952tester\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesDomainName\": null,\r\n  \"onPremisesNetBiosName\": null,\r\n  \"onPremisesSamAccountName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"aduser6782\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"Test12345\",\r\n    \"forceChangePasswordNextLogin\": false\r\n  },\r\n  \"userPrincipalName\": \"aduser6782@rbacclitest.onmicrosoft.com\",\r\n  \"mailNickname\": \"aduser6782test\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/ba8c4e10-d8bb-4974-9a01-b4898c360ec9/Microsoft.DirectoryServices.User"
        ],
        "ocp-aad-diagnostics-server-name": [
          "P277HeLOcMoYA[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/c0262fbc-0bfb-4912-8ffb-1edd292601ee/$links/members?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/ba8c4e10-d8bb-4974-9a01-b4898c360ec9\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "s1AYRiKTN8Zyk5kxIB0PtqEoINriycEcNdfPJWLTOYA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "Xwhd9gjLU0I69-diaTPhg2pp6XAjwUNgLm9zO31GINpHWaT1YiKtfA831J_EliA08FqLmOHiLbWm0nyiqey7AzLgtZhIzKAUGBJ-aTFMuTl0EXdIpFhpFazSQRLcQYb7szKY7nNUuM5wbgYm63Z6FQ.Lu0pD3qiPUPFK8Mybhr1vAfb8022-q6SpggI7ui8-XQ"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2959551"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users/ba8c4e10-d8bb-4974-9a01-b4898c360ec9/getMemberGroups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"securityEnabledOnly\": false\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "dWCANOa3JjPDcseMBZksFWn7gO0rsnL3G7snEFR71w8="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "MZ1cQ9x47s9-aohd3ajSQgByXhfR4NuxG7t9DSa5L6OnUQ0EIPmqMjihEyx5idxOO389_w0c87moj1h4TGNBn6A-vpLIZwp5RvbDOc8E3Gr71bubEdMh08F-jB8mE_b9MGeoFiWmh-MPK39jE-ZlyQ.IJD4TIt_Im12HABkKDxvnuTM40pZT_q_GafCfrUcxz8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "900369"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#Collection(Edm.String)\",\r\n  \"value\": [\r\n    \"c0262fbc-0bfb-4912-8ffb-1edd292601ee\"\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/c0262fbc-0bfb-4912-8ffb-1edd292601ee/$links/members/ba8c4e10-d8bb-4974-9a01-b4898c360ec9?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "7zDIRrVJqjSZfhHAIvOE5P1Iegs1wlixjPO7KsOVy0Y="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "ILByN_85rV7aYmyXUKUU6_iOqPv4C7I8qfYCF_q40od-qLuodxYaDllQ7hrG9akc1Or3Q3xKrv0H7PsExIO3iU7ZA8j8NGsztI2_SxU_xQpLbOImFgFxFebgj_aLCyj1YWGzJd1X0evi2-l8m9DCWw.Q0nANJqbYb1BGQFp7aP66zqj9JVbgco3Mt8Vsp4eOmE"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2278354"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/c0262fbc-0bfb-4912-8ffb-1edd292601ee?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "s1AYRiKTN8Zyk5kxIB0PtqEoINriycEcNdfPJWLTOYA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "IgBJDKGptCLqA5QqUd4S174Qsl9zZxBXzC1CKxZOuY2tvmIUmB6am_9a4m0POnVrBOxcrgIaCTnhlvYMJhVhh8pKEJUV2Q6UZMvMC0UZRYDEq1ltKH4HMEtvUHNl4-PP3YooB303xFE1Mlkr74XM5A.LaKJTYesp3zXdY_wWy53Cd_HhqUfBKmOcX5ioGBb-UQ"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1707226"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users/ba8c4e10-d8bb-4974-9a01-b4898c360ec9?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "zZ1f4XOAaTeupg8OmIBOPbaDV65tJpuytfDxxeFsj0o="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "A5wMygzDZNfRuY2jgqMpwhTymTt6XSlBh4POwWnULlCQRf48IC8tBTqpwRg3uwrKOSVyR1c73IpcuCXrTxWqh2jgpBnkscG0fbOIRSQ9_cvmMk-u5FL_w4LUUbkeDoDg1TcRyCU5p_z0QCTFDedt5w.WZi-czDPKZD3Hg3t1mYChqBjsiIfkrmHx4PyLlzv4I0"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "13030333"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateGroup": [
      "adgroup9952"
    ],
    "CreateUser": [
      "aduser6782"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}