{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourcegroups?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-EventHub-SouthCentralUS\",\r\n      \"name\": \"Default-EventHub-SouthCentralUS\",\r\n      \"location\": \"southcentralus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-MachineLearning-SouthCentralUS\",\r\n      \"name\": \"Default-MachineLearning-SouthCentralUS\",\r\n      \"location\": \"southcentralus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-Networking\",\r\n     [...]
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-96/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-8859?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Premium\",\r\n    \"tier\": \"Premium\",\r\n    \"capacity\": 1\r\n  },\r\n  \"location\": \"West Central US\",\r\n  \"tags\": {\r\n    \"tag1\": \"value1\",\r\n    \"tag2\": \"value2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Premium\",\r\n    \"tier\": \"Premium\",\r\n    \"capacity\": 1\r\n  },\r\n  \"id\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-96/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-8859\",\r\n  \"name\": \"sdk-Namespace-8859\",\r\n  \"type\": \"Microsoft.ServiceBus/Namespaces\",\r\n  \"location\": \"West Central US\",\r\n  \"tags\": {\r\n    \"tag1\": \"value1\",\r\n    \"tag2\": \"value2\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Created\",\r\n    \"metricId\": \"e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-namespace-8859\",\r\n    \"createdAt\": \"2018-05-05T01:55:51.573Z\",\r\n    \"updatedAt\": \"2018-05-05T01:55:51.573Z\",\r\n    \"serviceBusEndpoint\": \"https://sdk-Namespace-8859.servicebus.windows.net:443/\",\r\n    \"status\": \"Activating\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-96/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-8859/AuthorizationRules/sdk-AuthRules-1465?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-96/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-8859/AuthorizationRules/sdk-AuthRules-1465\",\r\n  \"name\": \"sdk-AuthRules-1465\",\r\n  \"type\": \"\",\r\n  \"location\": \"West Central US\",\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-96/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-8859/AuthorizationRules/sdk-AuthRules-1465/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"primaryConnectionString\": \"Endpoint=sb://sdk-namespace-8859.servicebus.windows.net/;SharedAccessKeyName=sdk-AuthRules-1465;SharedAccessKey=n2QYvo8XGJwsNVu6a4JwTsYTxSxlbip6lzWqmcYOcuM=\",\r\n  \"secondaryConnectionString\": \"Endpoint=sb://sdk-namespace-8859.servicebus.windows.net/;SharedAccessKeyName=sdk-AuthRules-1465;SharedAccessKey=kQyVoKbtvx2xjhlE6bWEoAchUSGWYWmPr0jK6LGIna8=\",\r\n  \"primaryKey\": \"n2QYvo8XGJwsNVu6a4JwTsYTxSxlbip6lzWqmcYOcuM=\",\r\n  \"secondaryKey\": \"kQyVoKbtvx2xjhlE6bWEoAchUSGWYWmPr0jK6LGIna8=\",\r\n  \"keyName\": \"sdk-AuthRules-1465\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-96/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-8859/disasterRecoveryConfigs/CheckNameAvailability?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"sdk-DisasterRecovery5396\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true,\r\n  \"reason\": \"None\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-96/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-8859/disasterRecoveryConfigs/sdk-DisasterRecovery5396?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"partnerNamespace\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-96/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-8067\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-96/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-8859/disasterRecoveryConfigs/sdk-DisasterRecovery5396\",\r\n  \"name\": \"sdk-DisasterRecovery5396\",\r\n  \"type\": \"Microsoft.ServiceBus/Namespaces/disasterrecoveryconfigs\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Accepted\",\r\n    \"partnerNamespace\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-96/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-8067\",\r\n    \"role\": \"Primary\",\r\n    \"type\": \"MetadataReplication\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-96/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-8859/disasterRecoveryConfigs/sdk-DisasterRecovery5396/AuthorizationRules/sdk-AuthRules-1465?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-96/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-8859/disasterRecoveryConfigs/sdk-DisasterRecovery5396/AuthorizationRules/sdk-AuthRules-1465\",\r\n  \"name\": \"sdk-AuthRules-1465\",\r\n  \"type\": \"\",\r\n  \"location\": \"West Central US\",\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14977"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-96/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-8859/disasterRecoveryConfigs/sdk-DisasterRecovery5396/AuthorizationRules/sdk-AuthRules-1465/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"aliasPrimaryConnectionString\": \"Endpoint=sb://sdk-disasterrecovery5396.servicebus.windows.net/;SharedAccessKeyName=sdk-AuthRules-1465;SharedAccessKey=n2QYvo8XGJwsNVu6a4JwTsYTxSxlbip6lzWqmcYOcuM=\",\r\n  \"aliasSecondaryConnectionString\": \"Endpoint=sb://sdk-disasterrecovery5396.servicebus.windows.net/;SharedAccessKeyName=sdk-AuthRules-1465;SharedAccessKey=kQyVoKbtvx2xjhlE6bWEoAchUSGWYWmPr0jK6LGIna8=\",\r\n  \"primaryKey\": \"n2QYvo8XGJwsNVu6a4JwTsYTxSxlbip6lzWqmcYOcuM=\",\r\n  \"secondaryKey\": \"kQyVoKbtvx2xjhlE6bWEoAchUSGWYWmPr0jK6LGIna8=\",\r\n  \"keyName\": \"sdk-AuthRules-1465\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-96/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-8859/disasterRecoveryConfigs/sdk-DisasterRecovery5396/breakPairing?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1189"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-96/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-8067/disasterRecoveryConfigs/sdk-DisasterRecovery5396/failover?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1187"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-96/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-8067/disasterRecoveryConfigs?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-96/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-8067/disasterRecoveryConfigs/sdk-DisasterRecovery5396\",\r\n      \"name\": \"sdk-DisasterRecovery5396\",\r\n      \"type\": \"Microsoft.ServiceBus/Namespaces/disasterrecoveryconfigs\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"partnerNamespace\": \"\",\r\n        \"role\": \"PrimaryNotReplicating\",\r\n        \"type\": \"MetadataReplication\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14936"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-96/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-8067/disasterRecoveryConfigs/sdk-DisasterRecovery5396?api-version=2017-04-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1186"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "DisasterRecoveryCreateGetUpdateDelete": [
      "sdk-Namespace-8859",
      "sdk-Namespace-8067",
      "sdk-AuthRules-1465",
      "sdk-DisasterRecovery5396"
    ]
  },
  "Variables": {
    "SubscriptionId": "e2f361f0-3b27-4503-a9cc-21cfba380093"
  }
}