{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/csmrg7594?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg7594",
        "name": "csmrg7594",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/csmrg7594/providers/Sendgrid.Email//accounts/csmr9106?api-version=2015-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "plan": {
          "name": "free",
          "publisher": "Sendgrid",
          "product": "sendgrid_azure",
          "promotionCode": ""
        },
        "properties": {
          "password": "p@ss9533",
          "acceptMarketingEmails": false,
          "email": "tiano@email.com"
        },
        "location": "centralus",
        "tags": {
          "provision_source": "RMS"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "plan": {
          "name": "free",
          "publisher": "Sendgrid",
          "product": "sendgrid_azure",
          "promotionCode": ""
        },
        "properties": {
          "email": "tiano@email.com",
          "provisioningState": "Succeeded",
          "status": "Running",
          "username": "azure_c10acee566e079b6562e0657b8b4e80c@azure.com",
          "smtpServer": "smtp.sendgrid.net",
          "planLabel": "Free"
        },
        "location": "centralus",
        "tags": {
          "provision_source": "RMS"
        }
      }
    },
[...]
