{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/csmrg8085?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "South Central US"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1161"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/csmrg8085",
        "name": "csmrg8085",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "southcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/csmrg8085/providers/Microsoft.Web//serverFarms/csmr2781?api-version=2018-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {},
        "sku": {
          "name": "S1"
        },
        "location": "West US"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1160"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/csmrg8085/providers/Microsoft.Web/serverfarms/csmr2781",
        "name": "csmr2781",
        "type": "Microsoft.Web/serverfarms",
        "kind": "app",
        "location": "West US",
        "properties": {
          "serverFarmId": 38119,
          "name": "csmr2781",
          "workerSize": "Default",
          "workerSizeId": 0,
          "workerTierName": null,
          "numberOfWorkers": 1,
          "currentWorkerSize": "Default",
          "currentWorkerSizeId": 0,
          "currentNumberOfWorkers": 1,
          "status": "Ready",
          "webSpace": "csmrg8085-WestUSwebspace",
          "subscription": "0b1f6471-1bf0-4dda-aec3-cb9272f09590",
          "adminSiteName": null,
          "hostingEnvironment": null,
          "hostingEnvironmentProfile": null,
          "maximumNumberOfWorkers": 10,
          "planName": "VirtualDedicatedPlan",
          "adminRuntimeSiteName": null,
          "computeMode": "Dedicated",
          "siteMode": null,
          "geoRegion": "West US",
          "perSiteScaling": false,
          "maximumElasticWorkerCount": 1,
          "numberOfSites": 0,
          "hostingEnvironmentId": null,
          "isSpot": false,
          "spotExpirationTime": null,
          "freeOfferExpirationTime": null,
          "tags": null,
          "kind": "app",
          "resourceGroup": "csmrg8085",
          "reserved": false,
          "isXenon": false,
          "hyperV": false,
          "mdmId": "waws-prod-bay-085_38119",
          "targetWorkerCount": 0,
          "targetWorkerSizeId": 0,
          "provisioningState": "Succeeded",
          "webSiteId": null,
          "existingServerFarmIds": null
        },
        "sku": {
          "name": "S1",
          "tier": "Standard",
          "size": "S1",
          "family": "S",
          "capacity": 1
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/csmrg8085/resources?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11950"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/csmrg8085/providers/Microsoft.Web/serverFarms/csmr2781",
            "name": "csmr2781",
            "type": "Microsoft.Web/serverFarms",
            "sku": {
              "name": "S1",
              "tier": "Standard",
              "size": "S1",
              "family": "S",
              "capacity": 1
            },
            "kind": "app",
            "location": "westus"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/csmrg8085/resources?$top=10\u0026api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11949"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/csmrg8085/providers/Microsoft.Web/serverFarms/csmr2781",
            "name": "csmr2781",
            "type": "Microsoft.Web/serverFarms",
            "sku": {
              "name": "S1",
              "tier": "Standard",
              "size": "S1",
              "family": "S",
              "capacity": 1
            },
            "kind": "app",
            "location": "westus"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1610491152",
    "SUBSCRIPTION_ID": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}