{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b2d94ec6-4c5b-0d4d-a84a-efba1592ff15?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 03 Apr 2020 00:02:43 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D76254CB2B9F\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 00:02:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b2d94ec6-4c5b-0d4d-a84a-efba1592ff15/test-blob-9692542a-29f3-5ce3-cf5e-b74bcc9c1372",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 03 Apr 2020 00:02:43 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "WySn05WO5k4L9Sd1cnZmepBNh6WiWdjqXqCh0MyTVTDzha3w2qucm25Ei/0CbelY\u002BDy7fhVuzwFLvXX17RWCd6D2gu3JdZ/ksOs3Xs3b5/C2SNeP19YbhLWrpR02p65YwhRcDOv8j4Od184pNnEzb9WEPqQ98p/J2v04Hs\u002BCrQk83py5ftsFurlU8gAI8U5DdzVHsmgKGs90kzHtxHCzGirE7VfVevD6foTq6QCfwemv9KeZO/ugMsTMReupGPZIoNjWQwT2bf1ETDPkHzHP1dJIPs/JGd4vJLuTCTQFUGaNoUkoyX3kuIapVO7HuxKT/HAZYdkmf4b5ph9JYmTIP/zNVn3npwtUY4[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b2d94ec6-4c5b-0d4d-a84a-efba1592ff15/test-blob-9692542a-29f3-5ce3-cf5e-b74bcc9c1372",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 00:02:43 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b2d94ec6-4c5b-0d4d-a84a-efba1592ff15?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 00:02:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1616701519",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}