{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Storage/operations?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Storage/storageAccounts/queueServices/read\",\r\n      \"isDataAction\": false,\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Storage\",\r\n        \"resource\": \"Storage Queue Service\",\r\n        \"operation\": \"Get Queue service properties\",\r\n        \"description\": \"Get Queue service properties\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Storage/storageAccounts/tableServices/read\",\r\n      \"isDataAction\": false,\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Storage\",\r\n        \"resource\": \"Storage Table Service\",\r\n        \"operation\": \"Get Table service properties\",\r\n        \"description\": \"Get Table service properties\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Storage/locations/c[...]
