{
  "Entries": [
    {
      "RequestUri": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/skus?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11963"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"resourceType\": \"storageAccounts\",\r\n      \"name\": \"Standard_ZRS\",\r\n      \"tier\": \"Standard\",\r\n      \"kind\": \"StorageV2\",\r\n      \"locations\": [\r\n        \"eastus\"\r\n      ],\r\n      \"locationInfo\": [\r\n        {\r\n          \"location\": \"eastus\",\r\n          \"zones\": [],\r\n          \"zoneDetails\": []\r\n        }\r\n      ],\r\n      \"capabilities\": [\r\n        {\r\n          \"name\": \"supportschangenotification\",\r\n          \"value\": \"true\"\r\n        },\r\n        {\r\n          \"name\": \"supportsmanagementpolicy\",\r\n          \"value\": \"true\"\r\n        },\r\n        {\r\n          \"name\": \"supportsfileencryption\",\r\n          \"value\": \"true\"\r\n        },\r\n        {\r\n          \"name\": \"supportshoeboxcapacitymetrics\",\r\n          \"value\": \"true\"\r\n        },\r\n        {\r\n          \"name\": \"su[...]
