{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ce4a7590-4722-4bcf-a2c6-e473e9f11778/resourcegroups/res957?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1189"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ce4a7590-4722-4bcf-a2c6-e473e9f11778/resourceGroups/res957\",\r\n  \"name\": \"res957\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/providers/Microsoft.Storage/operations?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Storage/locations/deleteVirtualNetworkOrSubnets/action\",\r\n      \"isDataAction\": false,\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Storage\",\r\n        \"resource\": \"Location\",\r\n        \"operation\": \"Delete virtual network or subnets notifications\",\r\n        \"description\": \"Notifies Microsoft.Storage that virtual network or subnet is being deleted\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Storage/storageAccounts/objectReplicationPolicies/delete\",\r\n      \"isDataAction\": false,\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Storage\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Storage/storageAccounts/objectReplicationPolicies/read\",\r\n      \"isDataAction\": false,\r\n      \"display\": {\r\n        \"prov[...]
