{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11950"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-6554?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1157"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6554",
        "name": "testRG-6554",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-6554/providers/Microsoft.OperationalInsights/workspaces/testRG-6554-ws?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "sku": {
            "name": "PerNode"
          },
          "retentionInDays": 30,
          "publicNetworkAccessForIngestion": "Enabled",
          "publicNetworkAccessForQuery": "Enabled"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6554/providers/Microsoft.OperationalInsights/workspaces/testRG-6554-ws?api-version=2022-10-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1156"
      },
      "ResponseBody": {
        "properties": {
          "customerId": "d28a735e-f87c-4675-81ff-7b49518d3eff",
          "provisioningState": "Creating",
          "sku": {
            "name": "PerGB2018",
            "lastSkuUpdate": "2022-12-27T05:55:45.8223668Z"
          },
          "retentionInDays": 30,
          "features": {
            "legacy": 0,
            "searchVersion": 1,
            "enableLogAccessUsingOnlyResourcePermissions": true
          },
          "workspaceCapping": {
            "dailyQuotaGb": -1.0,
            "quotaNextResetTime": "2022-12-27T18:00:00Z",
            "dataIngestionStatus": "RespectQuota"
          },
          "publicNetworkAccessForIngestion": "Enabled",
          "publicNetworkAccessForQuery": "Enabled",
          "createdDate": "2022-12-27T05:55:45.8223668Z",
          "modifiedDate": "2022-12-27T05:55:45.8223668Z"
        },
        "location": "westus",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6554/providers/Microsoft.OperationalInsights/workspaces/testRG-6554-ws",
        "name": "testRG-6554-ws",
        "type": "Microsoft.OperationalInsights/workspaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6554/providers/Microsoft.OperationalInsights/workspaces/testRG-6554-ws?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01"[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6554/providers/Microsoft.OperationalInsights/workspaces/testRG-6554-ws/providers/Microsoft.SecurityInsights/onboardingStates/default?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "customerManagedKey": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "3"
      },
      "ResponseBody": {
        "properties": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6554/providers/Microsoft.OperationalInsights/workspaces/testRG-6554-ws/providers/Microsoft.SecurityInsights/onboardingStates/default",
        "name": "default",
        "type": "Microsoft.SecurityInsights/onboardingStates",
        "systemData": {
          "createdAt": "2022-12-27T05:55:47.8916677Z",
          "createdBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "createdByType": "Application",
          "lastModifiedAt": "2022-12-27T05:55:47.8916677Z",
          "lastModifiedBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6554/providers/Microsoft.OperationalInsights/workspaces/testRG-6554-ws/providers/Microsoft.SecurityInsights/watchlists/testWatchlists-5691?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "SDK Test",
          "provider": "SDK Test",
          "source": "sdktest",
          "itemsSearchKey": "ipaddress"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1155"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6554/providers/Microsoft.OperationalInsights/workspaces/testRG-6554-ws/providers/Microsoft.SecurityInsights/Watchlists/testWatchlists-5691",
        "name": "testWatchlists-5691",
        "etag": "\u002200002d6a-0000-0100-0000-63aa88ea0000\u0022",
        "type": "Microsoft.SecurityInsights/Watchlists",
        "systemData": {
          "createdAt": "2022-12-27T05:55:53.8916417Z",
          "createdBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "createdByType": "Application",
          "lastModifiedAt": "2022-12-27T05:55:53.8916417Z",
          "lastModifiedBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "lastModifiedByType": "Application"
        },
        "properties": {
          "watchlistId": "f4fb48c7-9b82-402f-95a7-e8532d17c55f",
          "displayName": "SDK Test",
          "provider": "SDK Test",
          "source": "sdktest",
          "itemsSearchKey": "ipaddress",
          "created": "2022-12-27T05:55:53.8916417\u002B00:00",
          "updated": "2022-12-27T05:55:53.8916417\u002B00:00",
          "createdBy": {
            "objectId": "81fa2eb4-9d84-4df5-ad32-6c22e2feb57e",
            "name": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b"
          },
          "updatedBy": {
            "objectId": "81fa2eb4-9d84-4df5-ad32-6c22e2feb57e",
            "name": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b"
          },
          "watchlistType": "watchlist",
          "watchlistAlias": "testWatchlists-5691",
          "isDeleted": false,
          "labels": [],
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "numberOfLinesToSkip": 0,
          "uploadStatus": "New"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6554/providers/Microsoft.OperationalInsights/workspaces/testRG-6554-ws/providers/Microsoft.SecurityInsights/watchlists/testWatchlists-5691/watchlistItems/6d37a904-d199-43ff-892b-53653b784122?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "itemsKeyValue": {
            "ipaddress": "1.1.1.2"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1154"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6554/providers/Microsoft.OperationalInsights/workspaces/testRG-6554-ws/providers/Microsoft.SecurityInsights/Watchlists/testWatchlists-5691/WatchlistItems/6d37a904-d199-43ff-892b-53653b784122",
        "name": "6d37a904-d199-43ff-892b-53653b784122",
        "etag": "\u002200002e6a-0000-0100-0000-63aa88ef0000\u0022",
        "type": "Microsoft.SecurityInsights/Watchlists/WatchlistItems",
        "systemData": {
          "createdAt": "2022-12-27T05:55:55.0009976Z",
          "createdBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "createdByType": "Application",
          "lastModifiedAt": "2022-12-27T05:55:55.0009976Z",
          "lastModifiedBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "lastModifiedByType": "Application"
        },
        "properties": {
          "watchlistItemType": "watchlist-item",
          "watchlistItemId": "6d37a904-d199-43ff-892b-53653b784122",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "isDeleted": false,
          "created": "2022-12-27T05:55:55.0009976\u002B00:00",
          "updated": "2022-12-27T05:55:55.0009976\u002B00:00",
          "createdBy": {
            "objectId": "81fa2eb4-9d84-4df5-ad32-6c22e2feb57e",
            "name": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b"
          },
          "updatedBy": {
            "objectId": "81fa2eb4-9d84-4df5-ad32-6c22e2feb57e",
            "name": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b"
          },
          "itemsKeyValue": {
            "ipaddress": "1.1.1.2"
          },
          "entityMapping": {}
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6554/providers/Microsoft.OperationalInsights/workspaces/testRG-6554-ws/providers/Microsoft.SecurityInsights/watchlists/testWatchlists-5691/watchlistItems/6d37a904-d199-43ff-892b-53653b784122?api-version=2022-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "14994"
      },
      "ResponseBody": {}
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "944193662",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
