{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c493073e-2460-45ba-a403-f3e0df1e9fef?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/c493073e-2460-45ba-a403-f3e0df1e9fef",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "c493073e-2460-45ba-a403-f3e0df1e9fef",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "IoT-DigitalTwins-Test-PPE",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c493073e-2460-45ba-a403-f3e0df1e9fef/resourcegroups/digitaltwinsrg2123?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/c493073e-2460-45ba-a403-f3e0df1e9fef/resourceGroups/digitaltwinsrg2123",
        "name": "digitaltwinsrg2123",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c493073e-2460-45ba-a403-f3e0df1e9fef/resourceGroups/digitaltwinsrg2123/providers/Microsoft.DigitalTwins/digitalTwinsInstances/digitalTwinsResource4762?api-version=2022-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/c493073e-2460-45ba-a403-f3e0df1e9fef/providers/Microsoft.DigitalTwins/locations/westus2/operationsStatuses/693798b5-db5b-45f2-a76d-068608866ac6?api-version=2022-10-31",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c493073e-2460-45ba-a403-f3e0df1e9fef/providers/Microsoft.DigitalTwins/locations/westus2/operationResults/eyJvcGVyYXRpb25LaW5kIjoiQ3JlYXRlIiwicmVzb3VyY2VLaW5kIjoiRGlnaXRhbFR3aW5zSW5zdGFuY2UiLCJyZXNvdXJjZUdyb3VwTmFtZSI6ImRpZ2l0YWx0d2luc3JnMjEyMyIsInJlc291cmNlTmFtZSI6ImRpZ2l0YWxUd2luc1Jlc291cmNlNDc2MiJ9?api-version=2022-10-31",
        "Retry-After": "10",
        "traceresponse": "00-0ba6bdb5bac2c8b06f4c57dd2576079b-bdba0d9fb0428596-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/c493073e-2460-45ba-a403-f3e0df1e9fef/resourceGroups/digitaltwinsrg2123/providers/Microsoft.DigitalTwins/digitalTwinsInstances/digitalTwinsResource4762",
        "name": "digitalTwinsResource4762",
        "type": "Microsoft.DigitalTwins/digitalTwinsInstances",
        "properties": {
          "provisioningState": "Provisioning",
          "createdTime": "2022-12-08T15:54:52.3099901Z",
          "lastUpdatedTime": "2022-12-08T15:54:52.3099901Z",
          "hostName": null,
          "publicNetworkAccess": "Enabled"
        },
        "location": "westus2",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "d4f9cd37-4172-4066-88d2-87e4bbd20867",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "tags": {},
        "systemData": {
          "createdBy": "0564d1d0-08c7-404e-ae28-89a5a8f5d1a4",
          "createdByType": "Application",
          "createdAt": "2022-12-08T15:54:51.0376594Z",
          "lastModifiedBy": "0564d1d0-08c7-404e-ae28-89a5a8f5d1a4",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-12-08T15:54:51.0376594Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c493073e-2460-45ba-a403-f3e0df1e9fef/providers/Microsoft.DigitalTwins/locations/westus2/operationsStatuses/693798b5-db5b-45f2-a76d-068608866ac6?api-version=2022-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-0ba6bdb5bac2c8b06f4c57dd2576079b-65336094a834e409-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/c493073e-2460-45ba-a403-f3e0df1e9fef/locations/westus2/operationsStatuses/693798b5-db5b-45f2-a76d-068608866ac6",
        "name": "693798b5-db5b-45f2-a76d-068608866ac6",
        "status": "Running",
        "startTime": "2022-12-08T15:54:52.3242363Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c493073e-2460-45ba-a403-f3e0df1e9fef/providers/Microsoft.DigitalTwins/locations/westus2/operationsStatuses/693798b5-db5b-45f2-a76d-068608866ac6?api-version=2022-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-0ba6bdb5bac2c8b06f4c57dd2576079b-d8c73070035d1ad5-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "id": "/subscriptions/c493073e-2460-45ba-a403-f3e0df1e9fef/locations/westus2/operationsStatuses/693798b5-db5b-45f2-a76d-068608866ac6",
        "name": "693798b5-db5b-45f2-a76d-068608866ac6",
        "status": "Succeeded",
        "startTime": "2022-12-08T15:54:52.3242363Z",
        "endTime": "2022-12-08T15:55:34.6992811Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c493073e-2460-45ba-a403-f3e0df1e9fef/resourceGroups/digitaltwinsrg2123/providers/Microsoft.DigitalTwins/digitalTwinsInstances/digitalTwinsResource4762?api-version=2022-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-0ba6bdb5bac2c8b06f4c57dd2576079b-a36542e44204b3c4-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "id": "/subscriptions/c493073e-2460-45ba-a403-f3e0df1e9fef/resourceGroups/digitaltwinsrg2123/providers/Microsoft.DigitalTwins/digitalTwinsInstances/digitalTwinsResource4762",
        "name": "digitalTwinsResource4762",
        "type": "Microsoft.DigitalTwins/digitalTwinsInstances",
        "properties": {
          "provisioningState": "Succeeded",
          "createdTime": "2022-12-08T15:54:52.3099901Z",
          "lastUpdatedTime": "2022-12-08T15:55:34.4084772Z",
          "hostName": "digitalTwinsResource4762.api.wus2.digitaltwins.azure.net",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled"
        },
        "location": "westus2",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "d4f9cd37-4172-4066-88d2-87e4bbd20867",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "tags": {},
        "systemData": {
          "createdBy": "0564d1d0-08c7-404e-ae28-89a5a8f5d1a4",
          "createdByType": "Application",
          "createdAt": "2022-12-08T15:54:51.0376594Z",
          "lastModifiedBy": "0564d1d0-08c7-404e-ae28-89a5a8f5d1a4",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-12-08T15:54:51.0376594Z"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1699022662",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "c493073e-2460-45ba-a403-f3e0df1e9fef"
  }
}
