{
  "Entries": [
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 23 Mar 2021 18:29:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablepcgihdqq"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-03-23T18%3A29%3A56.6885896Z\u0027\u0022",
        "Location": "https://jverazsdkprim.table.cosmos.azure.com/Tables(\u0027testtablepcgihdqq\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtablepcgihdqq",
        "odata.metadata": "https://jverazsdkprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
[...]
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 23 Mar 2021 18:29:57 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "testtablem0salty4"
          },
          {
            "TableName": "testtablev2ywj4mn"
          },
          {
            "TableName": "testtable52s7iv7u"
          },
          {
            "TableName": "testtablepcgihdqq"
          },
          {
            "TableName": "testtable4nl3swnd"
          },
          {
            "TableName": "testtable7qf77nrx"
          },
          {
            "TableName": "testtable3infessf"
          },
          {
            "TableName": "testtable3p4ivby6"
          },
          {
            "TableName": "testtable71xaqee9"
          },
          {
            "TableName": "testtablecp3xtj5b"
          },
          {
            "TableName": "testtableyn3i441t"
          }
        ],
        "odata.metadata": "https://jverazsdkprim.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/Tables(\u0027testtablepcgihdqq\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Mar 2021 18:29:57 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/Tables(\u0027testtable7qf77nrx\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Mar 2021 18:29:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/Tables(\u0027testtable3infessf\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Mar 2021 18:29:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/Tables(\u0027testtable4nl3swnd\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Mar 2021 18:29:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/Tables(\u0027testtable3p4ivby6\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Mar 2021 18:29:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/Tables(\u0027testtablem0salty4\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Mar 2021 18:29:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/Tables(\u0027testtable71xaqee9\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Mar 2021 18:29:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/Tables(\u0027testtableyn3i441t\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Mar 2021 18:29:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/Tables(\u0027testtablev2ywj4mn\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Mar 2021 18:29:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/Tables(\u0027testtablecp3xtj5b\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Mar 2021 18:30:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/Tables(\u0027testtable52s7iv7u\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Mar 2021 18:30:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/Tables(\u0027testtablepcgihdqq\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Mar 2021 18:30:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": [
        "{\u0022odata.error\u0022:{\u0022code\u0022:\u0022ResourceNotFound\u0022,\u0022message\u0022:{\u0022lang\u0022:\u0022en-us\u0022,\u0022value\u0022:\u0022The specified resource does not exist.\\nRequestID:1729154e-8099-ac03-a848-4c97d06714b3\\n\u0022}}}\r\n"
      ]
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": null,
    "RandomSeed": "92824305",
    "TABLES_COSMOS_ACCOUNT_NAME": "jverazsdkprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}