{
  "Entries": [
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 19 Aug 2020 15:51:24 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablemxjcho2y"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-08-19T15%3A51%3A24.1778184Z\u0027\u0022",
        "Location": "https://chrissprim.table.cosmos.azure.com/Tables(\u0027testtablemxjcho2y\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtablemxjcho2y",
        "odata.metadata": "https://chrissprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?sv=2019-02-02\u0026ss=t\u0026srt=s\u0026se=2040-01-01T01%3A01%3A00Z\u0026sp=rwdlau\u0026sig=Sanitized\u0026$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableszh903fq"
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "AuthorizationResourceTypeMismatch",
          "message": {
            "lang": "en-US",
            "value": "This request is not authorized to perform this operation using this resource type.\nRequestId:fc8690ae-d002-0000-2c40-76c4e8000000\nTime:2020-08-19T15:51:25.1422148Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?sv=2019-02-02\u0026ss=t\u0026srt=sc\u0026se=2040-01-01T01%3A01%3A00Z\u0026sp=rwdlau\u0026sig=Sanitized\u0026$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableszh903fq"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtableszh903fq\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissscratch.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtableszh903fq"
      }
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/?sv=2019-02-02\u0026ss=t\u0026srt=s\u0026se=2040-01-01T01%3A01%3A00Z\u0026sp=rwdlau\u0026sig=Sanitized\u0026restype=service\u0026comp=properties",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-02-02"
      },
      "Resp[...]
[...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtableszh903fq\u0027)?sv=2019-02-02\u0026ss=t\u0026srt=sc\u0026se=2040-01-01T01%3A01%3A00Z\u0026sp=rwdlau\u0026sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/Tables(\u0027testtablemxjcho2y\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Aug 2020 15:51:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1961028985",
    "TABLES_COSMOS_ACCOUNT_NAME": "chrissprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "",
    "TABLES_STORAGE_ACCOUNT_NAME": "chrissscratch"
  }
}