{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/roleDefinitions?api-version=2020-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\u0022name\u0022:\u0022Synapse Administrator\u0022,\u0022description\u0022:\u0022Full Synapse access to serverless SQL pools, Apache Spark pools and Integration runtimes.\u00A0 Includes create, read, update and delete access to all published code artifacts.\u00A0 Includes Compute Operator, Linked Data Manager, and Credential User permissions on the workspace system identity credential.\u00A0 Includes granting access.\u00A0 Azure permissions are required to create, delete, or manage compute r[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/roleAssignments/141df277-2d58-4260-bf1d-51bd113d494a?api-version=2020-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "roleId": "6e4bf58a-b8e1-4cc3-bbf9-d73143322b78",
        "principalId": "dcc8f8ce-5a3b-e8fe-5d6c-54a9d6435d92",
        "scope": "workspaces/workspacechhamosynapse"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "141df277-2d58-4260-bf1d-51bd113d494a",
        "roleDefinitionId": "6e4bf58a-b8e1-4cc3-bbf9-d73143322b78",
        "principalId": "dcc8f8ce-5a3b-e8fe-5d6c-54a9d6435d92",
        "scope": "workspaces/workspacechhamosynapse"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/roleAssignments/141df277-2d58-4260-bf1d-51bd113d494a?api-version=2020-08-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1913274070"
  }
}