{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/rbac/roles?api-version=2020-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "6e4bf58a-b8e1-4cc3-bbf9-d73143322b78",
            "name": "Workspace Admin",
            "isBuiltIn": true
          },
          {
            "id": "c3a6d2f1-a26f-4810-9b0f-591308d5cbf1",
            "name": "Apache Spark Admin",
            "isBuiltIn": true
          },
          {
            "id": "7af0c69a-a548-47d6-aea3-d00e69bd83aa",
            "name": "Sql Admin",
            "isBuiltIn": true
          },
          {
            "id": "24fa9e0a-d130-4536-9f92-8b976b16986b",
            "name": "Scope Admin",
            "isBuiltIn": true
          }
        ]
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/rbac/roleAssignments?api-version=2020-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "roleId": "6e4bf58a-b8e1-4cc3-bbf9-d73143322b78",
        "principalId": "d70cd59c-e4fb-eefe-69e2-719493a4e55a"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "6e4bf58a-b8e1-4cc3-bbf9-d73143322b78-d70cd59c-e4fb-eefe-69e2-719493a4e55a",
        "roleId": "6e4bf58a-b8e1-4cc3-bbf9-d73143322b78",
        "principalId": "d70cd59c-e4fb-eefe-69e2-719493a4e55a"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/rbac/roleAssignments?api-version=2020-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": ""
      },
      "ResponseBody": "[{\u0022id\u0022:\u0022dbed89e9-88b2-4968-b719-87c5c7fbb2ce\u0022,\u0022roleId\u0022:\u00226e4bf58a-b8e1-4cc3-bbf9-d73143322b78\u0022,\u0022principalId\u0022:\u0022e6a55cd1-b0db-4fc9-b3e3-88507ceda553\u0022},{\u0022id\u0022:\u00228c8d0f88-2e26-464e-ac55-eef9e2fc0d7e\u0022,\u0022roleId\u0022:\u00226e4bf58a-b8e1-4cc3-bbf9-d73143322b78\u0022,\u0022principalId\u0022:\u0022412137cd-bce6-42cd-952a-92a3ce9130ee\u0022},{\u0022id\u0022:\u00229bffc76b-e4a2-4527-a2fe-0ebff3524b1a\u0022,\u0022roleId\u0022:\u00226e4bf58a-b8e1-4cc3-bbf9-d73143322b78\u0022,\u0022principalId\u0022:\u002200b81593-6414-45e8-98bf-c0396b2972ee\u0022},{\u0022id\u0022:\u00226e4bf58a-b8e1-4cc3-bbf9-d73143322b78-d70cd59c-e4fb-eefe-69e2-719493a4e55a\u0022,\u0022roleId\u0022:\u00226e4bf58a-b8e1-4cc3-bbf9-d73143322b78\u0022,\u0022principalId\u0022:\u0022d70cd59c-e4fb-eefe-69e2-719493a4e55a\u0022}]"
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/rbac/roleAssignments/dbed89e9-88b2-4968-b719-87c5c7fbb2ce?api-version=2020-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "dbed89e9-88b2-4968-b719-87c5c7fbb2ce",
        "roleId": "6e4bf58a-b8e1-4cc3-bbf9-d73143322b78",
        "principalId": "e6a55cd1-b0db-4fc9-b3e3-88507ceda553"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/rbac/roleAssignments/6e4bf58a-b8e1-4cc3-bbf9-d73143322b78-d70cd59c-e4fb-eefe-69e2-719493a4e55a?api-version=2020-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "492828136"
  }
}