{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-eacf5ce8-877b-9df4-2444-6601667483c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Jul 2021 01:10:48 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9466437709FED\u0022",
        "Last-Modified": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-eacf5ce8-877b-9df4-2444-6601667483c7/test-file-3090c6be-47a8-fc8e-089f-349dade9a078/birt4ezr.nyq?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-permissions": "0777",
        "x-ms-umask": "0057",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D946643788704F\u0022",
        "Last-Modified": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-eacf5ce8-877b-9df4-2444-6601667483c7/test-file-3090c6be-47a8-fc8e-089f-349dade9a078/4yjjfonq.l51?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-permissions": "0777",
        "x-ms-umask": "0057",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94664378BD733\u0022",
        "Last-Modified": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-eacf5ce8-877b-9df4-2444-6601667483c7/test-file-3090c6be-47a8-fc8e-089f-349dade9a078/birt4ezr.nyq?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": "miMa6XG6t/s0K8Or1mtneA1RMUARAjPpow247RVt0EDAE9QSP9HfTGYOeH09Cr4pc4ZEbybS9JfwMUZkAsnmx1uD68KXVTg8ceXaA4q2q5lOjnmOKGEZ7h88IQ6Le0qcJ7Ahuh/7kh5NCP5B\u002BPANOoWtFXRQV5/5avyjWzMqsfaaPdvZlPF5UvtbQR9j1/UuL\u002BeI3mXWTM8RJ1AiWDfqI1cHproVM6aUM8J49BZ/lpIHdStLodKQxPALx2yhV/rEcB3IWzE6GftB86qjXli5kpG9G\u002BMLnoKEd\u002BLJCWw589vHs4P4tjthzFsvCq0n7GWYUjTb4zwXu[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-eacf5ce8-877b-9df4-2444-6601667483c7/test-file-3090c6be-47a8-fc8e-089f-349dade9a078/4yjjfonq.l51?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": "/ICVVNsF6X4M[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-eacf5ce8-877b-9df4-2444-6601667483c7/test-file-3090c6be-47a8-fc8e-089f-349dade9a078/birt4ezr.nyq?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D946643793DBAA\u0022",
        "Last-Modified": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-eacf5ce8-877b-9df4-2444-6601667483c7/test-file-3090c6be-47a8-fc8e-089f-349dade9a078/4yjjfonq.l51?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D946643797DD52\u0022",
        "Last-Modified": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-eacf5ce8-877b-9df4-2444-6601667483c7/test-file-3090c6be-47a8-fc8e-089f-349dade9a078/svvaqhy0.ikb%5Cwqd3rqvd.bu5?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-permissions": "0777",
        "x-ms-umask": "0057",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94664379B2FC6\u0022",
        "Last-Modified": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-eacf5ce8-877b-9df4-2444-6601667483c7/test-file-3090c6be-47a8-fc8e-089f-349dade9a078/svvaqhy0.ikb%5Cwqd3rqvd.bu5?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody"[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-eacf5ce8-877b-9df4-2444-6601667483c7/test-file-3090c6be-47a8-fc8e-089f-349dade9a078/tez4lvlg.fdk%5Cpr2dmkqh.n0q?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-permissions": "0777",
        "x-ms-umask": "0057",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94664379FB8F0\u0022",
        "Last-Modified": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-eacf5ce8-877b-9df4-2444-6601667483c7/test-file-3090c6be-47a8-fc8e-089f-349dade9a078/svvaqhy0.ikb%5Cwqd3rqvd.bu5?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9466437A58B53\u0022",
        "Last-Modified": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-eacf5ce8-877b-9df4-2444-6601667483c7/test-file-3090c6be-47a8-fc8e-089f-349dade9a078/tez4lvlg.fdk%5Cpr2dmkqh.n0q?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody"[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-eacf5ce8-877b-9df4-2444-6601667483c7/test-file-3090c6be-47a8-fc8e-089f-349dade9a078/tez4lvlg.fdk%5Cpr2dmkqh.n0q?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9466437AC1DF6\u0022",
        "Last-Modified": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-eacf5ce8-877b-9df4-2444-6601667483c7?resource=filesystem\u0026recursive=true\u0026upn=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; c[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-eacf5ce8-877b-9df4-2444-6601667483c7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Jul 2021 01:10:49 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "277480994",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\nhttps://amandaadlscanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n"
  }
}