{
  "Entries": [
    {
      "RequestUri": "https://rnpadls.blob.core.windows.net/test-filesystem-dbf7242e-c310-a33b-011a-9e46536275ab?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 19 Jul 2021 09:16:19 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A95DF023E69\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:16:20 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpadls.dfs.core.windows.net/test-filesystem-dbf7242e-c310-a33b-011a-9e46536275ab/test-file-96530809-4b51-d783-65a0-09fce32385f7/test-file-3ea318f1-6783-38f6-f238-a056b8b23d9e/011ba615-fa90-a1b4-121b-a318ab2c1fb3?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 19 Jul 2021 09:16:20 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A95DF5FDFCD\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:16:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpadls.dfs.core.windows.net/test-filesystem-dbf7242e-c310-a33b-011a-9e46536275ab/test-file-96530809-4b51-d783-65a0-09fce32385f7/test-file-3ea318f1-6783-38f6-f238-a056b8b23d9e/011ba615-fa90-a1b4-121b-a318ab2c1fb3?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 19 Jul 2021 09:16:20 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": "idII4WBQeNvZiub5V5Q5vkpVpwSkGQBOsvxKUF9ACJWvjB\u002BZnY9nTc\u002B476ZdYWZ9Ye6QySGNFnDSuS9jBSh7mIJQScp1nyC67Vk16yla8VCWzO9xsD90InWux\u002BRgBEinPVcjDBibCMLN1dvIVypGeMfezTg4CuhD3CdVxtg8WukRja7SNuQ4\u002BsQto9pjrMpKZ04cgTYPbzJu4DDwRkHpkXvxt8p8dELjptN0C2YO3y9cCl6KH9iyAR57Y1W0R7OCQxJecvX/zvMLOdpjm2PMYAAAlDzjX3GiPrWsABDsLl8f8cdUr2w6XDtrfub\u002BT2a6rwNU[...]
    {
      "RequestUri": "https://rnpadls.dfs.core.windows.net/test-filesystem-dbf7242e-c310-a33b-011a-9e46536275ab/test-file-96530809-4b51-d783-65a0-09fce32385f7/test-file-3ea318f1-6783-38f6-f238-a056b8b23d9e/011ba615-fa90-a1b4-121b-a318ab2c1fb3?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:16:21 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A95DF713991\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:16:20 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpadls.dfs.core.windows.net/test-filesystem-dbf7242e-c310-a33b-011a-9e46536275ab/test-file-96530809-4b51-d783-65a0-09fce32385f7/test-file-3ea318f1-6783-38f6-f238-a056b8b23d9e/12404e5d-3c96-df0d-f36c-039bee1bac64%5C44b1f5e8-9f3b-a53c-65bb-1d454d38e230?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 19 Jul 2021 09:16:21 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A95DF8FB669\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:16:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpadls.dfs.core.windows.net/test-filesystem-dbf7242e-c310-a33b-011a-9e46536275ab/test-file-96530809-4b51-d783-65a0-09fce32385f7/test-file-3ea318f1-6783-38f6-f238-a056b8b23d9e/12404e5d-3c96-df0d-f36c-039bee1bac64%5C44b1f5e8-9f3b-a53c-65bb-1d454d38e230?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 19 Jul[...]
    {
      "RequestUri": "https://rnpadls.dfs.core.windows.net/test-filesystem-dbf7242e-c310-a33b-011a-9e46536275ab/test-file-96530809-4b51-d783-65a0-09fce32385f7/test-file-3ea318f1-6783-38f6-f238-a056b8b23d9e/12404e5d-3c96-df0d-f36c-039bee1bac64%5C44b1f5e8-9f3b-a53c-65bb-1d454d38e230?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:16:21 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A95DF9C7372\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:16:21 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpadls.dfs.core.windows.net/test-filesystem-dbf7242e-c310-a33b-011a-9e46536275ab?resource=filesystem\u0026recursive=true\u0026upn=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:16:21 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json;charset=utf[...]
    {
      "RequestUri": "https://rnpadls.blob.core.windows.net/test-filesystem-dbf7242e-c310-a33b-011a-9e46536275ab?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:16:21 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1279521412",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nrnpadls\nU2FuaXRpemVk\nhttps://rnpadls.blob.core.windows.net\nhttps://rnpadls.file.core.windows.net\nhttps://rnpadls.queue.core.windows.net\nhttps://rnpadls.table.core.windows.net\n\n\n\n\nhttps://rnpadls-secondary.blob.core.windows.net\nhttps://rnpadls-secondary.file.core.windows.net\nhttps://rnpadls-secondary.queue.core.windows.net\nhttps://rnpadls-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://rnpadls.blob.core.windows.net/;QueueEndpoint=https://rnpadls.queue.core.windows.net/;FileEndpoint=https://rnpadls.file.core.windows.net/;BlobSecondaryEndpoint=https://rnpadls-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://rnpadls-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://rnpadls-secondary.file.core.windows.net/;AccountName=rnpadls;AccountKey=Sanitized\n"
  }
}