{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-ecd6aca0-3c07-99cb-c828-e1790d4fa3f2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 15 Jul 2021 21:40:47 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D947D9356D579D\u0022",
        "Last-Modified": "Thu, 15 Jul 2021 21:40:47 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-ecd6aca0-3c07-99cb-c828-e1790d4fa3f2/test-file-ca8cc5c0-3ef1-e4ed-979f-0c64e8346329/hph2ojgj.p0b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-permissions": "0777",
        "x-ms-umask": "0057",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D947D93586B12B\u0022",
        "Last-Modified": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-ecd6aca0-3c07-99cb-c828-e1790d4fa3f2/test-file-ca8cc5c0-3ef1-e4ed-979f-0c64e8346329/ywr4e0ip.crd?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-permissions": "0777",
        "x-ms-umask": "0057",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D947D9358945B9\u0022",
        "Last-Modified": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-ecd6aca0-3c07-99cb-c828-e1790d4fa3f2/test-file-ca8cc5c0-3ef1-e4ed-979f-0c64e8346329/hph2ojgj.p0b?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": "qqAWggK4Nu0/hOmWUzgtNH/N1nESs08knmlUG9NFcM9fPzJolaGECI6fim1VVpBectjkG13xF/ZR8uSZZBoZ\u002BRQZNhMGxZ7eSc7icijizkfY9an7YVVxbig7FqO86qNzhZFZOyB8WKw5BdKPDqTNbyOcwW5wHpi/qMjryq77IV4qb\u002B2XiZMnW539wVuC4l\u002BEbad/Hyk1Amf5mpNXkY7\u002BPeRzZJ\u002B3NuaPdWXRc1w8PMVpZlwGfAE19GyFne8Az8kO/4R3D32/zTfB76rDZI8LvF3N7isx98HiPW8zMpn3j6WbwnTXxSxHqZklRYxXcpDdeeGR[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-ecd6aca0-3c07-99cb-c828-e1790d4fa3f2/test-file-ca8cc5c0-3ef1-e4ed-979f-0c64e8346329/ywr4e0ip.crd?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": "LzZ5PooQbHjn[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-ecd6aca0-3c07-99cb-c828-e1790d4fa3f2/test-file-ca8cc5c0-3ef1-e4ed-979f-0c64e8346329/ywr4e0ip.crd?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D947D935AD2DE7\u0022",
        "Last-Modified": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-ecd6aca0-3c07-99cb-c828-e1790d4fa3f2/test-file-ca8cc5c0-3ef1-e4ed-979f-0c64e8346329/hph2ojgj.p0b?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D947D935ABD614\u0022",
        "Last-Modified": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-ecd6aca0-3c07-99cb-c828-e1790d4fa3f2/test-file-ca8cc5c0-3ef1-e4ed-979f-0c64e8346329/31iz1gsp.hm2%5Cavtdpfu3.4o2?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-permissions": "0777",
        "x-ms-umask": "0057",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D947D935C16B6A\u0022",
        "Last-Modified": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-ecd6aca0-3c07-99cb-c828-e1790d4fa3f2/test-file-ca8cc5c0-3ef1-e4ed-979f-0c64e8346329/jxsuezyp.kl0%5Clfktv3kc.nfh?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-permissions": "0777",
        "x-ms-umask": "0057",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D947D935C11B5A\u0022",
        "Last-Modified": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-ecd6aca0-3c07-99cb-c828-e1790d4fa3f2/test-file-ca8cc5c0-3ef1-e4ed-979f-0c64e8346329/31iz1gsp.hm2%5Cavtdpfu3.4o2?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody"[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-ecd6aca0-3c07-99cb-c828-e1790d4fa3f2/test-file-ca8cc5c0-3ef1-e4ed-979f-0c64e8346329/jxsuezyp.kl0%5Clfktv3kc.nfh?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody"[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-ecd6aca0-3c07-99cb-c828-e1790d4fa3f2/test-file-ca8cc5c0-3ef1-e4ed-979f-0c64e8346329/31iz1gsp.hm2%5Cavtdpfu3.4o2?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D947D935F1B38B\u0022",
        "Last-Modified": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-ecd6aca0-3c07-99cb-c828-e1790d4fa3f2/test-file-ca8cc5c0-3ef1-e4ed-979f-0c64e8346329/jxsuezyp.kl0%5Clfktv3kc.nfh?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D947D935F270D6\u0022",
        "Last-Modified": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-ecd6aca0-3c07-99cb-c828-e1790d4fa3f2?resource=filesystem\u0026recursive=true\u0026upn=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Jul 2021 21:40:48 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; c[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-ecd6aca0-3c07-99cb-c828-e1790d4fa3f2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Jul 2021 21:40:49 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "219280077",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\nhttps://amandaadlscanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n"
  }
}