{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-5bd24f12-f549-8a16-30ce-2469e9bc7115?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 06 Aug 2021 06:25:46 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D958A30640E16C\u0022",
        "Last-Modified": "Fri, 06 Aug 2021 06:25:45 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-5bd24f12-f549-8a16-30ce-2469e9bc7115/test-file-47095009-15a0-d13d-1fd1-af1000db7e23/test-file-c97ea9dd-c4dd-3a8e-0494-e8905e6e55ce/02e3beb4-565f-45cc-c1ce-430c2cad72b0?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 06 Aug 2021 06:25:46 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D958A30651B92B\u0022",
        "Last-Modified": "Fri, 06 Aug 2021 06:25:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-5bd24f12-f549-8a16-30ce-2469e9bc7115/test-file-47095009-15a0-d13d-1fd1-af1000db7e23/test-file-c97ea9dd-c4dd-3a8e-0494-e8905e6e55ce/02e3beb4-565f-45cc-c1ce-430c2cad72b0?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Aug 2021 06:25:46 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "3RKA72Q\u002BY8i4D8wLAL4psd8xt73GtUjW6AAm6M9ICbnfueC2a9\u002BdwE5toJAQgWiFv1H97gCXuSjJqgZjGHr5bwUSK0bec0b/k/ZuWRS3xWeXoCh9Sxq4SP\u002B37MDYOqjTczGK/lUip0wK/VsKKGAUEeWfzHdSeyTqWeNGJoaGJlhNm\u002BbiLcYRdfncc02/riCfo9vaOW4wgfcMoKRy24DGhNcCvI16MeQejlZ\u002BdgjWK6vCp4Orq\u002B3qHRnu1Ywinpl4Fu52vPKSJXH2vKoXsQvvNnT5rzT8GtnpGJ9zi1tX/O\u002B9BV8ZYG\u002B4L[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-5bd24f12-f549-8a16-30ce-2469e9bc7115/test-file-47095009-15a0-d13d-1fd1-af1000db7e23/test-file-c97ea9dd-c4dd-3a8e-0494-e8905e6e55ce/02e3beb4-565f-45cc-c1ce-430c2cad72b0?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Aug 2021 06:25:46 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D958A30660AEAD\u0022",
        "Last-Modified": "Fri, 06 Aug 2021 06:25:45 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-5bd24f12-f549-8a16-30ce-2469e9bc7115/test-file-47095009-15a0-d13d-1fd1-af1000db7e23/test-file-c97ea9dd-c4dd-3a8e-0494-e8905e6e55ce/6a6976b3-d1d1-2925-7134-39bec8eccf01%5C5935b1ff-dd9f-698d-44e9-02dc1fb85480?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 06 Aug 2021 06:25:46 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D958A30680232B\u0022",
        "Last-Modified": "Fri, 06 Aug 2021 06:25:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-5bd24f12-f549-8a16-30ce-2469e9bc7115/test-file-47095009-15a0-d13d-1fd1-af1000db7e23/test-file-c97ea9dd-c4dd-3a8e-0494-e8905e6e55ce/6a6976b3-d1d1-2925-7134-39bec8eccf01%5C5935b1ff-dd9f-698d-44e9-02dc1fb85480?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fr[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-5bd24f12-f549-8a16-30ce-2469e9bc7115/test-file-47095009-15a0-d13d-1fd1-af1000db7e23/test-file-c97ea9dd-c4dd-3a8e-0494-e8905e6e55ce/6a6976b3-d1d1-2925-7134-39bec8eccf01%5C5935b1ff-dd9f-698d-44e9-02dc1fb85480?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Aug 2021 06:25:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D958A306927077\u0022",
        "Last-Modified": "Fri, 06 Aug 2021 06:25:46 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-5bd24f12-f549-8a16-30ce-2469e9bc7115?resource=filesystem\u0026recursive=true\u0026upn=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Aug 2021 06:25:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json;ch[...]
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-5bd24f12-f549-8a16-30ce-2469e9bc7115?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Aug 2021 06:25:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "667564362",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}