{
  "Entries": [
    {
      "RequestUri": "https://rnpadls.blob.core.windows.net/test-filesystem-dbecfb39-7e49-7d6a-0ec0-96ab89208793?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 19 Jul 2021 09:14:54 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A95ABDB3ECF\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:14:54 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpadls.dfs.core.windows.net/test-filesystem-dbecfb39-7e49-7d6a-0ec0-96ab89208793/test-file-f4e172b3-ad07-44a6-916a-4cdf3f552f05/da6001e6-4e27-f355-b687-f6a74f69a79e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 19 Jul 2021 09:14:54 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A95ABF10818\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:14:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpadls.dfs.core.windows.net/test-filesystem-dbecfb39-7e49-7d6a-0ec0-96ab89208793/test-file-f4e172b3-ad07-44a6-916a-4cdf3f552f05/da6001e6-4e27-f355-b687-f6a74f69a79e?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 19 Jul 2021 09:14:54 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": "qx2HBDXPSKzcngo1jpiu/P/UAl/XacUcZS0/B0RfwRhoID7DlKfgGNKHJfUfaemtuihKlfFUAkJXap4Hj0Fofd3xzG1a62dY9OmNT0TP/PtEkUwbFSwmFB78bCkI2YiRHqcYLpx7U8/A8aAIx7L\u002Bh26jw/30TWixyrhPXn8\u002BTxtg\u002BzCct85eyD59WiOLHk1r/eS7ZRWLnNE/Z2PkK/VQgqKFp8uCYdCgRPq/d/NEJaxr5GCagukF1V5fXVBqepxJLNeABneB6ZwUGiEbzCXe\u002BkG3eUeUtf\u002B5f9FsIwSANslddUobwx806fvEhmjH6gk5gGIO[...]
    {
      "RequestUri": "https://rnpadls.dfs.core.windows.net/test-filesystem-dbecfb39-7e49-7d6a-0ec0-96ab89208793/test-file-f4e172b3-ad07-44a6-916a-4cdf3f552f05/da6001e6-4e27-f355-b687-f6a74f69a79e?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:14:54 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A95ABFE6194\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:14:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpadls.dfs.core.windows.net/test-filesystem-dbecfb39-7e49-7d6a-0ec0-96ab89208793/test-file-f4e172b3-ad07-44a6-916a-4cdf3f552f05/3df8c901-54f5-2fde-e416-76cd08da55b8%5C17c98616-8952-8f82-18ab-eaea7a0a6b59?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 19 Jul 2021 09:14:54 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A95AC1A9B35\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:14:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpadls.dfs.core.windows.net/test-filesystem-dbecfb39-7e49-7d6a-0ec0-96ab89208793/test-file-f4e172b3-ad07-44a6-916a-4cdf3f552f05/3df8c901-54f5-2fde-e416-76cd08da55b8%5C17c98616-8952-8f82-18ab-eaea7a0a6b59?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 19 Jul 2021 09:14:54 GMT",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://rnpadls.dfs.core.windows.net/test-filesystem-dbecfb39-7e49-7d6a-0ec0-96ab89208793/test-file-f4e172b3-ad07-44a6-916a-4cdf3f552f05/3df8c901-54f5-2fde-e416-76cd08da55b8%5C17c98616-8952-8f82-18ab-eaea7a0a6b59?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:14:55 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A95AC28B3FE\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:14:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpadls.dfs.core.windows.net/test-filesystem-dbecfb39-7e49-7d6a-0ec0-96ab89208793?resource=filesystem\u0026recursive=true\u0026upn=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:14:55 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json;charset=utf[...]
    {
      "RequestUri": "https://rnpadls.blob.core.windows.net/test-filesystem-dbecfb39-7e49-7d6a-0ec0-96ab89208793?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:14:55 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "899280532",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nrnpadls\nU2FuaXRpemVk\nhttps://rnpadls.blob.core.windows.net\nhttps://rnpadls.file.core.windows.net\nhttps://rnpadls.queue.core.windows.net\nhttps://rnpadls.table.core.windows.net\n\n\n\n\nhttps://rnpadls-secondary.blob.core.windows.net\nhttps://rnpadls-secondary.file.core.windows.net\nhttps://rnpadls-secondary.queue.core.windows.net\nhttps://rnpadls-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://rnpadls.blob.core.windows.net/;QueueEndpoint=https://rnpadls.queue.core.windows.net/;FileEndpoint=https://rnpadls.file.core.windows.net/;BlobSecondaryEndpoint=https://rnpadls-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://rnpadls-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://rnpadls-secondary.file.core.windows.net/;AccountName=rnpadls;AccountKey=Sanitized\n"
  }
}