{
  "Entries": [
    {
      "RequestUri": "/v1/workspaces/DEMO_WORKSPACE/query",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"query\": \"union *\",\r\n  \"timespan\": \"PT24H\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true,wait=1"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Location": [
          "https://eastus.api.loganalytics.io/v1/workspaces/DEMO_WORKSPACE/query"
        ],
        "Preference-Applied": [
          "wait=1"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}