{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/DtSDKRG2140?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/DtSDKRG2140",
        "name": "DtSDKRG2140",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.DigitalTwins/locations/westus2/checkNameAvailability?api-version=2020-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "DtInstanceLifecycle2295",
        "type": "Microsoft.DigitalTwins/digitalTwinsInstances"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "NameIsAvailable",
        "message": "\u0027DtInstanceLifecycle2295\u0027 is available."
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/DtSDKRG2140/providers/Microsoft.DigitalTwins/digitalTwinsInstances/DtInstanceLifecycle2295?api-version=2020-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/DtSDKRG2140/providers/Microsoft.DigitalTwins/digitalTwinsInstances/DtInstanceLifecycle2295/operationResults/Create?api-version=2020-03-01-preview",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/DtSDKRG2140/providers/Microsoft.DigitalTwins/digitalTwinsInstances/DtInstanceLifecycle2295",
        "name": "DtInstanceLifecycle2295",
        "type": "Microsoft.DigitalTwins/digitalTwinsInstances",
        "properties": {
          "provisioningState": "Provisioning",
          "createdTime": "2020-10-05T22:58:46.7798244Z",
          "lastUpdatedTime": "2020-10-05T22:58:46.7798244Z",
          "hostName": null
        },
        "location": "westus2",
        "sku": {
          "name": "S1"
        },
        "tags": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/DtSDKRG2140/providers/Microsoft.DigitalTwins/digitalTwinsInstances/DtInstanceLifecycle2295/operationResults/Create?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charse[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.DigitalTwins/digitalTwinsInstances?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11965"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/DtSDKRG2140/providers/Microsoft.DigitalTwins/digitalTwinsInstances/DtInstanceLifecycle2295",
            "name": "DtInstanceLifecycle2295",
            "type": "Microsoft.DigitalTwins/digitalTwinsInstances",
            "properties": {
              "provisioningState": "Succeeded",
              "createdTime": "2020-10-05T22:58:46.7798244Z",
              "lastUpdatedTime": "2020-10-05T22:58:55.4350246Z",
              "hostName": "DtInstanceLifecycle2295.api.wus2.digitaltwins.azure.net"
            },
            "location": "westus2",
            "sku": {
              "name": "S1"
            },
            "tags": null
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/DtSDKRG2140/providers/Microsoft.DigitalTwins/digitalTwinsInstances/DtInstanceLifecycle2295/operationResults/Delete?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charse[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/DtSDKRG2140/providers/Microsoft.DigitalTwins/digitalTwinsInstances/DtInstanceLifecycle2295/operationResults/Delete?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11953"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/DtSDKRG2140/providers/Microsoft.DigitalTwins/digitalTwinsInstances/DtInstanceLifecycle2295",
        "name": "DtInstanceLifecycle2295",
        "type": "Microsoft.DigitalTwins/digitalTwinsInstances",
        "properties": {
          "provisioningState": "Deleted",
          "createdTime": "0001-01-01T00:00:00",
          "lastUpdatedTime": "0001-01-01T00:00:00",
          "hostName": null
        },
        "location": null,
        "tags": null
      }
    }
  ],
  "Variables": {
    "RandomSeed": "652899280",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb"
  }
}