<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <PROJECT_ENDPOINT>https://agenttestnt4c.services.ai.azure.com/api/projects/agenttestprojectnt4c</PROJECT_ENDPOINT>
      <CONNECTION_NAME>nt4cstorage</CONNECTION_NAME>
      <DATASET_NAME>datasetTesting2</DATASET_NAME>
      <SAMPLE_FILE_PATH>C:\Repos\AzureSdks\azure-sdk-for-net\sdk\ai\Azure.AI.Projects\tests\Samples\Datasets\sample_folder\sample_file1.txt</SAMPLE_FILE_PATH>
      <SAMPLE_FOLDER_PATH>C:\Repos\AzureSdks\azure-sdk-for-net\sdk\ai\Azure.AI.Projects\tests\Samples\Datasets\sample_folder\sample_subfolder1</SAMPLE_FOLDER_PATH>
      <PROJECT_CONNECTION_STRING></PROJECT_CONNECTION_STRING>
      <DATASET_VERSION_1>1.0</DATASET_VERSION_1>
      <DATASET_VERSION_2>2.0</DATASET_VERSION_2>
      <BING_CONNECTION_NAME></BING_CONNECTION_NAME>
      <MODEL_DEPLOYMENT_NAME></MODEL_DEPLOYMENT_NAME>
      <EMBEDDINGS_MODEL_DEPLOYMENT_NAME></EMBEDDINGS_MODEL_DEPLOYMENT_NAME>
      <MODEL_PUBLISHER></MODEL_PUBLISHER>
      <EMBEDDING_MODEL_DEPLOYMENT_NAME></EMBEDDING_MODEL_DEPLOYMENT_NAME>
      <STORAGE_QUEUE_URI></STORAGE_QUEUE_URI>
      <AZURE_BLOB_URI></AZURE_BLOB_URI>
      <FABRIC_CONNECTION_NAME></FABRIC_CONNECTION_NAME>
      <SHAREPOINT_CONNECTION_NAME></SHAREPOINT_CONNECTION_NAME>
      <INDEX_NAME></INDEX_NAME>
      <INDEX_VERSION></INDEX_VERSION>
      <AI_SEARCH_CONNECTION_NAME></AI_SEARCH_CONNECTION_NAME>
      <AI_SEARCH_INDEX_NAME></AI_SEARCH_INDEX_NAME>
      <TEST_IMAGE_PNG_INPUT_PATH></TEST_IMAGE_PNG_INPUT_PATH>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
