{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.workspace.discovery.azure.com/projects/test-project/investigations/Sanitized?api-version=2026-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Test investigation",
        "displayName": "Test"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://copilot-controller-service.test-wkspc.workspace.discovery.azure.com/projects/test-project/investigations/test-op-status?apiVersion=2026-02-01-preview",
        "mise-correlation-id": "Sanitized",
        "x-ms-build-version": "1"
      },
      "ResponseBody": {
        "name": "test-op-status",
        "projectName": "Sanitized",
        "description": "Test investigation",
        "tags": null,
        "createdBy": "Sanitized",
        "createdByType": null,
        "createdAt": "2026-05-12T00:32:50.3176129+00:00",
        "lastModifiedAt": "2026-05-12T00:32:50.3176129+00:00",
        "lastModifiedBy": "Sanitized",
        "lastModifiedByType": null,
        "displayName": "Test",
        "status": "Created"
      }
    },
    {
      "RequestUri": "https://Sanitized.workspace.discovery.azure.com/projects/test-project/investigations/Sanitized?api-version=2026-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "Sanitized",
        "operation-location": "https://test-wkspc.workspace.discovery.azure.com/projects/test-project/investigations/test-op-status/operations/7909b0d8-e69e-4d49-a11a-5942112ee7e9?api-version=2026-02-01-preview",
        "x-ms-build-version": "1"
      },
      "ResponseBody": {
        "id": "7909b0d8-e69e-4d49-a11a-5942112ee7e9",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.workspace.discovery.azure.com/projects/test-project/investigations/Sanitized/operations/7909b0d8-e69e-4d49-a11a-5942112ee7e9?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "Sanitized",
        "x-ms-build-version": "1"
      },
      "ResponseBody": {
        "id": "7909b0d8-e69e-4d49-a11a-5942112ee7e9",
        "status": "NotStarted",
        "error": null,
        "result": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.workspace.discovery.azure.com/projects/test-project/investigations/Sanitized/operations/7909b0d8-e69e-4d49-a11a-5942112ee7e9?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "Sanitized",
        "x-ms-build-version": "1"
      },
      "ResponseBody": {
        "id": "7909b0d8-e69e-4d49-a11a-5942112ee7e9",
        "status": "Succeeded",
        "error": null,
        "result": null
      }
    }
  ],
  "Variables": {
    "AZURE_DISCOVERY_PROJECT_NAME": "test-project",
    "AZURE_DISCOVERY_WORKSPACE_ENDPOINT": "https://Sanitized.workspace.discovery.azure.com",
    "RandomSeed": "2112009693"
  }
}
