<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-net45+sl50+win+wp80" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable-net45+sl50+win+wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="portable-net45+sl50+win+wp80" />
  <package id="Microsoft.Rest.ClientRuntime" version="1.4.1" targetFramework="net45" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Spatial" version="6.10.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="portable-net45+sl50+win+wp80" />
</packages>