{
  "Entries": [
    {
      "RequestUri": "/3de864df-1f7d-40d5-b3f0-1bfa713006fb/locations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Locations xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Location>\r\n    <Name>East US 2 (Stage)</Name>\r\n    <DisplayName>East US 2 (Stage)</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableService>Storage</AvailableService>\r\n      <AvailableService>PersistentVMRole</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n      </WebWorkerRoleSizes>\r\n      <VirtualMachinesRoleSizes>\r\n        <RoleSize>Basic_A0</RoleSize>\r\n        <RoleSize>Basic_A1</RoleSize>\r\n        <RoleSize>Basic_A2</RoleSize>\r\n        <RoleSize>Basic_A3</RoleSize>\r\n        <RoleSize>Basic_A4</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n      </VirtualMachinesRoleSizes>\r\n    </ComputeCapabilities>\r\n    <StorageCapabilities>\r\n      <StorageAccountTypes>\r\n        <StorageAccountType>Standard_LRS</StorageAccountType>\r\n        <StorageAccountType>Standard_ZRS</StorageAccountType>\r\n        <StorageAccountType>Standard_GRS</StorageAccountType>\r\n        <StorageAccountType>Standard_RAGRS</StorageAccountType>\r\n      </StorageAccountTypes>\r\n    </StorageCapabilities>\r\n  </Location>\r\n  <Location>\r\n    <Name>North Central US (Stage)</Name>\r\n    <DisplayName>North Central US (Stage)</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableService>PersistentVMRole</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n      </WebWorkerRoleSizes>\r\n      <VirtualMachinesRoleSizes>\r\n        <RoleSize>Basic_A0</RoleSize>\r\n        <RoleSize>Basic_A1</RoleSize>\r\n        <RoleSize>Basic_A2</RoleSize>\r\n        <RoleSize>Basic_A3</RoleSize>\r\n        <RoleSize>Basic_A4</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n      </VirtualMachinesRoleSizes>\r\n    </ComputeCapabilities>\r\n  </Location>\r\n</Locations>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/3de864df-1f7d-40d5-b3f0-1bfa713006fb/services/storageservices/operations/isavailable/teststorage429",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "<AvailabilityResponse xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Result>true</Result>\r\n  <Reason i:nil=\"true\" />\r\n</AvailabilityResponse>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/3de864df-1f7d-40d5-b3f0-1bfa713006fb/services/storageservices",
      "RequestMethod": "POST",
      "RequestBody": "<CreateStorageServiceInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>teststorage429</ServiceName>\r\n  <Description>Test测试2</Description>\r\n  <Label>VGVzdOa1i+ivlTE=</Label>\r\n  <Location>East US 2 (Stage)</Location>\r\n  <ExtendedProperties>\r\n    <ExtendedProperty>\r\n      <Name>foo1</Name>\r\n      <Value>bar</Value>\r\n    </ExtendedProperty>\r\n    <ExtendedProperty>\r\n      <Name>foo2</Name>\r\n      <Value>baz</Value>\r\n    </ExtendedProperty>\r\n  </ExtendedProperties>\r\n  <AccountType>Standard_GRS</AccountType>\r\n</CreateStorageServiceInput>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ],
        "Location": [
          "https://management.core.windows.net/subscriptions/3de864df-1f7d-40d5-b3f0-1bfa713006fb/storage/teststorage429"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/3de864df-1f7d-40d5-b3f0-1bfa713006fb/operations/84b435f534b3aa2fb76eb3c1418cdd1c",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>84b435f5-34b3-aa2f-b76e-b3c1418cdd1c</ID>\r\n  <Status>InProgress</Status>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/3de864df-1f7d-40d5-b3f0-1bfa713006fb/operations/84b435f534b3aa2fb76eb3c1418cdd1c",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>84b435f5-34b3-aa2f-b76e-b3c1418cdd1c</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/3de864df-1f7d-40d5-b3f0-1bfa713006fb/services/storageservices/teststorage429",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "<StorageService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://management.core.windows.net/3de864df-1f7d-40d5-b3f0-1bfa713006fb/services/storageservices/teststorage429</Url>\r\n  <ServiceName>teststorage429</ServiceName>\r\n  <StorageServiceProperties>\r\n    <Description>Test测试2</Description>\r\n    <Location>East US 2 (Stage)</Location>\r\n    <Label>VGVzdOa1i+ivlTE=</Label>\r\n    <Status>Created</Status>\r\n    <Endpoints>\r\n      <Endpoint>https://teststorage429.blob.core.windows.net/</Endpoint>\r\n      <Endpoint>https://teststorage429.queue.core.windows.net/</Endpoint>\r\n      <Endpoint>https://teststorage429.table.core.windows.net/</Endpoint>\r\n      <Endpoint>https://teststorage429.file.core.windows.net/</Endpoint>\r\n    </Endpoints>\r\n    <GeoPrimaryRegion>East US 2 (Stage)</GeoPrimaryRegion>\r\n    <StatusOfPrimary>Available</StatusOfPrimary>\r\n    <GeoSecondaryRegion>North Central US (Stage)</GeoSecondaryRegion>\r\n    <StatusOfSecondary>Available</StatusOfSecondary>\r\n    <CreationTime>2016-05-17T21:57:16Z</CreationTime>\r\n    <CustomDomains />\r\n    <AccountType>Standard_GRS</AccountType>\r\n  </StorageServiceProperties>\r\n  <ExtendedProperties>\r\n    <ExtendedProperty>\r\n      <Name>foo1</Name>\r\n      <Value>bar</Value>\r\n    </ExtendedProperty>\r\n    <ExtendedProperty>\r\n      <Name>foo2</Name>\r\n      <Value>baz</Value>\r\n    </ExtendedProperty>\r\n    <ExtendedProperty>\r\n      <Name>ResourceGroup</Name>\r\n      <Value>Default-Storage-EastUS2(Stage)</Value>\r\n    </ExtendedProperty>\r\n    <ExtendedProperty>\r\n      <Name>ResourceLocation</Name>\r\n      <Value>East US 2 (Stage)</Value>\r\n    </ExtendedProperty>\r\n  </ExtendedProperties>\r\n  <Capabilities>\r\n    <Capability>PersistentVMRole</Capability>\r\n  </Capabilities>\r\n</StorageService>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/3de864df-1f7d-40d5-b3f0-1bfa713006fb/services/storageservices/teststorage429",
      "RequestMethod": "PUT",
      "RequestBody": "<UpdateStorageServiceInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <Description>Test测试4</Description>\r\n  <Label>VGVzdOa1i+ivlTM=</Label>\r\n  <AccountType>Standard_RAGRS</AccountType>\r\n</UpdateStorageServiceInput>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/3de864df-1f7d-40d5-b3f0-1bfa713006fb/services/storageservices",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "<StorageServices xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <StorageService>\r\n    <Url>https://management.core.windows.net/3de864df-1f7d-40d5-b3f0-1bfa713006fb/services/storageservices/azsmnet1994</Url>\r\n    <ServiceName>azsmnet1994</ServiceName>\r\n    <StorageServiceProperties>\r\n      <Description i:nil=\"true\" />\r\n      <Location>East US 2 (Stage)</Location>\r\n      <Label>YXpzbW5ldDE5OTQ=</Label>\r\n      <Status>Created</Status>\[...]
[...]
    {
      "RequestUri": "/3de864df-1f7d-40d5-b3f0-1bfa713006fb/services/storageservices/teststorage429/keys",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "<StorageService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://management.core.windows.net/3de864df-1f7d-40d5-b3f0-1bfa713006fb/services/storageservices/teststorage429</Url>\r\n  <StorageServiceKeys>\r\n    <Primary>fFkNKS5sH5LqcSZEL120uMYXBNvPbMVR8u16KKVwNUGndzxZq2VHor4yBwNsaixRNxXecyXLciPOkkMeWU5vDw==</Primary>\r\n    <Secondary>B00FeD2o1GUN5bGBYwGlo4LfGxWlCUAer52HHMuxrVas3L1zcGakFfuchSV2mYhPnd21z2DFNdW8KZ5Wne3hrA==</Secondary>\r\n  </StorageServiceKeys>\r\n</StorageService>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/3de864df-1f7d-40d5-b3f0-1bfa713006fb/services/storageservices/teststorage429/keys?action=regenerate",
      "RequestMethod": "POST",
      "RequestBody": "<RegenerateKeys xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <KeyType>Primary</KeyType>\r\n</RegenerateKeys>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "<StorageService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://management.core.windows.net/3de864df-1f7d-40d5-b3f0-1bfa713006fb/services/storageservices/teststorage429</Url>\r\n  <StorageServiceKeys>\r\n    <Primary>uuqNSOngNSWAexOwNFP6C2b1izRTZY1akWtaFrRaJjIiEBieADFETJKU3fXHfrPQJVPWamAxoenW3D+gRxmejw==</Primary>\r\n    <Secondary>B00FeD2o1GUN5bGBYwGlo4LfGxWlCUAer52HHMuxrVas3L1zcGakFfuchSV2mYhPnd21z2DFNdW8KZ5Wne3hrA==</Secondary>\r\n  </StorageServiceKeys>\r\n</StorageService>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/3de864df-1f7d-40d5-b3f0-1bfa713006fb/services/storageservices/teststorage429",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "teststorage1234": [
      "teststorage429"
    ]
  },
  "Variables": {
    "SubscriptionId": "3de864df-1f7d-40d5-b3f0-1bfa713006fb"
  }
}