{
  "Entries": [
    {
      "RequestUri": "/subscriptions/7af28e48-8342-4c41-b993-dfba682c8948/resourceGroups/hdicsharprg6696/providers/Microsoft.HDInsight/clusters/hdisdk-applications-hue9172?api-version=2018-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\",\r\n  \"properties\": {\r\n    \"clusterVersion\": \"3.6\",\r\n    \"osType\": \"Linux\",\r\n    \"tier\": \"Standard\",\r\n    \"clusterDefinition\": {\r\n      \"kind\": \"Hadoop\",\r\n      \"configurations\": {\r\n        \"gateway\": {\r\n          \"restAuthCredential.isEnabled\": \"true\",\r\n          \"restAuthCredential.username\": \"admin1398\",\r\n          \"restAuthCredential.password\": \"Password13703\"\r\n        }\r\n      }\r\n    },\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser4557\",\r\n              \"password\": \"Password13609\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser4557\",\r\n              \"password\": \"Password13609\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"zookeepernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Small\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser4557\",\r\n              \"password\": \"Password13609\"\r\n            }\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"storageProfile\": {\r\n      \"storageaccounts\": [\r\n        {\r\n          \"name\": \"hdicsharpstorage964.blob.core.windows.net\",\r\n          \"isDefault\": true,\r\n          \"container\": \"default1830\",\r\n          \"key\": \"/bRisMDMYgjzIqeUVeiPFCGs8F0Ohsb5W01UA53lKafLcspURY4T9PJttGlEpl6AwIWAQuUsOcBhA9CJsKPcvA==\"\r\n        }\r\n      ]\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"7fff3ece-f368-4305-ac59-369493ae4d7f\""
        ],
        "x-ms-hdi-clusteruri": [
          "https://management.azure.com/subscriptions/7af28e48-8342-4c41-b993-dfba682c8948/resourceGroups/hdicsharprg6696/providers/Microsoft.HDInsight/clusters/hdisdk-applications-hue9172?api-version=2018-06-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/7af28e48-8342-4c41-b993-dfba682c8948/resourceGroups/hdicsharprg6696/providers/Microsoft.HDInsight/clusters/hdisdk-applications-hue9172/azureasyncoperations/create?api-version=2018-06-01-preview"
        ],
        "x-ms-hdi-served-by": [
          "global"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7af28e48-8342-4c41-b993-dfba682c8948/resourceGroups/hdicsharprg6696/providers/Microsoft.HDInsight/clusters/hdisdk-applications-hue9172\",\r\n  \"name\": \"hdisdk-applications-hue9172\",\r\n  \"type\": \"Microsoft.HDInsight/clusters\",\r\n  \"location\": \"East US 2\",\r\n  \"etag\": \"7fff3ece-f368-4305-ac59-369493ae4d7f\",\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"clusterVersion\": \"3.6.1000.67\",\r\n    \"clusterHdpVersion\": \"\",\r\n    \"osType\": \"Linux\",\r\n    \"clusterDefinition\": {\r\n      \"blueprint\": \"https://blueprints.azurehdinsight.net/hadoop-3.6.1000.67.1901050618.json\",\r\n      \"kind\": \"Hadoop\",\r\n      \"componentVersion\": {\r\n        \"Hadoop\": \"2.7\"\r\n      }\r\n    },\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser4557\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser4557\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"zookeepernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Medium\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser4557\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\": \"InProgress\",\r\n    \"clusterState\": \"Accepted\",\r\n    \"createdDate\": \"2019-01-26T09:55:22.61\",\r\n    \"quotaInfo\": {\r\n      \"coresUsed\": 20\r\n    },\r\n    \"tier\": \"standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7af28e48-8342-4c41-b993-dfba682c8948/resourceGroups/hdicsharprg6696/providers/Microsoft.HDInsight/clusters/hdisdk-applications-hue9172/azureasyncoperations/create?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "global"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7af28e48-8342-4c41-b993-dfba682c8948/resourceGroups/hdicsharprg6696/providers/Microsoft.HDInsight/clusters/hdisdk-applications-hue9172/applications/MyApplication?api-version=2018-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"edgenode\",\r\n          \"targetInstanceCount\": 1,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"installScriptActions\": [\r\n      {\r\n        \"name\": \"InstallHue\",\r\n        \"uri\": \"https://hdiconfigactions.blob.core.windows.net/linuxhueconfigactionv02/install-hue-uber-v02.sh\",\r\n        \"parameters\": \"-version latest -port 20000\",\r\n        \"roles\": [\r\n          \"edgenode\"\r\n        ]\r\n      }\r\n    ],\r\n    \"applicationType\": \"CustomApplication\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"03BC5594-B2B8-4A9E-8037-CF54C865CD43\""
        ],
        "x-ms-hdi-appuri": [
          "https://management.azure.com/subscriptions/7af28e48-8342-4c41-b993-dfba682c8948/resourceGroups/hdicsharprg6696/providers/Microsoft.HDInsight/clusters/hdisdk-applications-hue9172/applications/MyApplication?api-version=2018-06-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/7af28e48-8342-4c41-b993-dfba682c8948/resourceGroups/hdicsharprg6696/providers/Microsoft.HDInsight/clusters/hdisdk-applications-hue9172/azureasynco[...]
[...]
    {
      "RequestUri": "/subscriptions/7af28e48-8342-4c41-b993-dfba682c8948/resourceGroups/hdicsharprg6696/providers/Microsoft.HDInsight/clusters/hdisdk-applications-hue9172/applications?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "global"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11961"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/7af28e48-8342-4c41-b993-dfba682c8948/resourceGroups/hdicsharprg6696/providers/Microsoft.HDInsight/clusters/hdisdk-applications-hue9172/applications/MyApplication\",\r\n      \"name\": \"MyApplication\",\r\n      \"type\": \"Microsoft.HDInsight/clusters/applications\",\r\n      \"etag\": \"BF67D3C4-9C97-4904-82F2-78295A4797E8\",\r\n      \"tags\": null,\r\n      \"properties\": {\r\n        \"computeProfile\": {\r\n          \"roles\": [\r\n            {\r\n              \"name\": \"edgenode\",\r\n              \"targetInstanceCount\": 1,\r\n              \"hardwareProfile\": {\r\n                \"vmSize\": \"Large\"\r\n              },\r\n              \"encryptDataDisks\": false\r\n            }\r\n          ]\r\n        },\r\n        \"installScriptActions\": [\r\n          {\r\n            \"name\": \"InstallHue\",\r\n            \"uri\": \"https://hdiconfigactions.blob.core.windows.net/linuxhueconfigactionv02/install-hue-uber-v02.sh\",\r\n            \"roles\": [\r\n              \"edgenode\"\r\n            ]\r\n          }\r\n        ],\r\n        \"uninstallScriptActions\": [],\r\n        \"httpsEndpoints\": [],\r\n        \"sshEndpoints\": [],\r\n        \"provisioningState\": \"InProgress\",\r\n        \"applicationState\": \"AzureVMConfiguration\",\r\n        \"createdDate\": \"2019-01-26T10:13:31.82\",\r\n        \"applicationType\": \"CustomApplication\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7af28e48-8342-4c41-b993-dfba682c8948/resourceGroups/hdicsharprg6696/providers/Microsoft.HDInsight/clusters/hdisdk-applications-hue9172/applications/MyApplication?api-version=2018-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/7af28e48-8342-4c41-b993-dfba682c8948/resourceGroups/hdicsharprg6696/providers/Microsoft.HDInsight/clusters/hdisdk-applications-hue9172/operationresults/c1cd1269-0959-47bc-8eba-d99f56be31e6-0?api-version=2018-06-01-preview"
        ],
        "Retry-After": [
          "60"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/7af28e48-8342-4c41-b993-dfba682c8948/resourceGroups/hdicsharprg6696/providers/Microsoft.HDInsight/clusters/hdisdk-applications-hue9172/azureasyncoperations/c1cd1269-0959-47bc-8eba-d99f56be31e6-0?api-version=2018-06-01-preview"
        ],
        "x-ms-hdi-served-by": [
          "global"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/7af28e48-8342-4c41-b993-dfba682c8948/resourceGroups/hdicsharprg6696/providers/Microsoft.HDInsight/clusters/hdisdk-applications-hue9172/azureasyncoperations/c1cd1269-0959-47bc-8eba-d99f56be31e6-0?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "global"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11980"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7af28e48-8342-4c41-b993-dfba682c8948/resourceGroups/hdicsharprg6696/providers/Microsoft.HDInsight/clusters/hdisdk-applications-hue9172/operationresults/c1cd1269-0959-47bc-8eba-d99f56be31e6-0?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "global"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11979"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    ".ctor": [
      "admin1398",
      "Password13703",
      "sshuser4557",
      "Password13609",
      "1af16d77-7c89-4469-ac28-ea40a582b4e1",
      "hdicsharprg6696",
      "hdicsharpstorage964",
      "hdicsharpmsi8907",
      "hdicsharpvault9809",
      "hdicsharpadls77",
      "default1830",
      "storageaccountkey4417"
    ],
    "TestInitialize": [
      "7af28e48-8342-4c41-b993-dfba682c8948"
    ],
    "TestHueOnRunningCluster": [
      "hdisdk-applications-hue9172"
    ]
  },
  "Variables": {
    "SubscriptionId": "7af28e48-8342-4c41-b993-dfba682c8948"
  }
}
