{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1bfbb5d0-917e-4346-9026-1d3b344417f5/resourcegroups?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/1bfbb5d0-917e-4346-9026-1d3b344417f5/resourceGroups/k8c-dev-test-infra\",\r\n      \"name\": \"k8c-dev-test-infra\",\r\n      \"location\": \"centralus\",\r\n      \"tags\": {\r\n        \"Created\": \"20200814\",\r\n        \"SkipCleanup\": \"true\"\r\n      },\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/1bfbb5d0-917e-4346-9026-1d3b344417f5/resourceGroups/ansheno\",\r\n      \"name\": \"ansheno\",\r\n      \"location\": \"eastus\",\r\n      \"tags\": {\r\n        \"Created\": \"20200814\",\r\n        \"SkipCleanup\": \"true\"\r\n      },\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/1bfbb5d0-917e-4346-9026-1d3b344417f5/resourc[...]
    {
      "RequestUri": "/subscriptions/1bfbb5d0-917e-4346-9026-1d3b344417f5/resourcegroups/k8s-dotnet-sdk-RG-6159?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1bfbb5d0-917e-4346-9026-1d3b344417f5/resourceGroups/k8s-dotnet-sdk-RG-6159\",\r\n  \"name\": \"k8s-dotnet-sdk-RG-6159\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {\r\n    \"Created\": \"20210217\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/1bfbb5d0-917e-4346-9026-1d3b344417f5/resourcegroups/k8s-dotnet-sdk-RG-6159/providers/Microsoft.Kubernetes/connectedClusters/azsmnet2784?api-version=2021-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"agentPublicKeyCertificate\": \"testpubkey\",\r\n    \"distribution\": \"generic\",\r\n    \"infrastructure\": \"generic\"\r\n  },\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"5201b67b-0000-0800-0000-602d54340000\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/providers/Microsoft.Kubernetes/locations/WESTUS2/operationStatuses/11979b45-3b9b-4ac9-a642-f1a98c61b974?api-version=2021-03-01"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1bfbb5d0-917e-4346-9026-1d3b344417f5/resourceGroups/k8s-dotnet-sdk-RG-6159/providers/Microsoft.Kubernetes/connectedClusters/azsmnet2784\",\r\n  \"name\": \"azsmnet2784\",\r\n  \"type\": \"Microsoft.Kubernetes/connectedClusters\",\r\n  \"location\": \"westus2\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"bad6b5ab-f9e8-4302-95f8-5c49fb295fb9\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-02-17T17:36:45.7587214Z\",\r\n    \"lastModifiedBy\": \"bad6b5ab-f9e8-4302-95f8-5c49fb295fb9\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-02-17T17:36:45.7587214Z\"\r\n  },\r\n  \"identity\": {\r\n    \"principalId\": \"ef32df34-2788-46d2-a019-9ba371c80dbe\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Accepted\",\r\n    \"connectivityStatus\": \"Connecting\",\r\n    \"agentPublicKeyCertificate\": \"testpubkey\",\r\n    \"distribution\": \"generic\",\r\n    \"infrastructure\": \"generic\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/providers/Microsoft.Kubernetes/locations/WESTUS2/operationStatuses/11979b45-3b9b-4ac9-a642-f1a98c61b974?api-version=2021-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"59003707-0000-0800-0000-602d543f0000\""
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Kubernetes/locations/WESTUS2/operationStatuses/11979b45-3b9b-4ac9-a642-f1a98c61b974\",\r\n  \"name\": \"11979b45-3b9b-4ac9-a642-f1a98c61b974\",\r\n  \"resourceId\": \"/subscriptions/1bfbb5d0-917e-4346-9026-1d3b344417f5/resourceGroups/k8s-dotnet-sdk-RG-6159/providers/Microsoft.Kubernetes/connectedClusters/azsmnet2784\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-02-17T17:36:52.1066964Z\",\r\n  \"endTime\": \"2021-02-17T17:37:03.8017515Z\",\r\n  \"properties\": null\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1bfbb5d0-917e-4346-9026-1d3b344417f5/resourcegroups/k8s-dotnet-sdk-RG-6159?api-version=2015-11-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1bfbb5d0-917e-4346-9026-1d3b344417f5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1LOFM6MkRET1RORVQ6MkRTREs6MkRSRzoyRDYxNTktV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2015-11-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/1bfbb5d0-917e-4346-9026-1d3b344417f5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1LOFM6MkRET1RORVQ6MkRTREs6MkRSRzoyRDYxNTktV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1bfbb5d0-917e-4346-9026-1d3b344417f5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1LOFM6MkRET1RORVQ6MkRTREs6MkRSRzoyRDYxNTktV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2015-11-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/1bfbb5d0-917e-4346-9026-1d3b344417f5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1LOFM6MkRET1RORVQ6MkRTREs6MkRSRzoyRDYxNTktV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "CreateConnectedClusterTest": [
      "k8s-dotnet-sdk-RG-6159",
      "azsmnet2784"
    ]
  },
  "Variables": {
    "SubscriptionId": "1bfbb5d0-917e-4346-9026-1d3b344417f5"
  }
}