{
  "Entries": [
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/providers/Microsoft.Network?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "14992"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/providers/Microsoft.Network\u0022,\r\n",
        "  \u0022namespace\u0022: \u0022Microsoft.Network\u0022,\r\n",
        "  \u0022authorization\u0022: {\r\n",
        "    \u0022applicationId\u0022: \u00222cf9eb86-36b5-49dc-86ae-9a63135dfa8c\u0022,\r\n",
        "    \u0022roleDefinitionId\u0022: \u002213ba9ab4-19f0-4804-adc4-14ece36cc7a1\u0022\r\n",
        "  },\r\n",
        "  \u0022resour[...]
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourcegroups/csmrg4624?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": [
        "{\r\n",
        "  \u0022location\u0022: \u0022East US\u0022\r\n",
        "}"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/csmrg4624\u0022,\r\n",
        "  \u0022name\u0022: \u0022csmrg4624\u0022,\r\n",
        "  \u0022location\u0022: \u0022eastus\u0022,\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022provisioningState\u0022: \u0022Succeeded\u0022\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/csmrg4624/providers/Microsoft.Network/virtualNetworks/azsmnet3123?api-version=2017-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": [
        "{\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022addressSpace\u0022: {\r\n",
        "      \u0022addressPrefixes\u0022: [\r\n",
        "        \u002210.0.0.0/16\u0022\r\n",
        "      ]\r\n",
        "    },\r\n",
        "    \u0022dhcpOptions\u0022: {\r\n",
        "      \u0022dnsServers\u0022: [\r\n",
        "        \u002210.1.1.1\u0022,\r\n",
        "        \u002210.1.2.4\u0022\r\n",
        "      ]\r\n",
        "    },\r\n",
        "    \u0022subnets\u0022: [\r\n",
        "      {\r\n",
        "        \u0022properties\u0022: {\r\n",
        "          \u0022addressPrefix\u0022: \u002210.0.0.0/24\u0022\r\n",
        "        },\r\n",
        "        \u0022name\u0022: \u0022azsmnet3986\u0022\r\n",
        "      }\r\n",
        "    ]\r\n",
        "  },\r\n",
        "  \u0022location\u0022: \u0022East US\u0022\r\n",
        "}"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/providers/Microsoft.Network/locations/eastus/operations/dcd11be4-f28b-45e2-b0b2-d59f6f00441e?api-version=2017-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022azsmnet3123\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/csmrg4624/providers/Microsoft.Network/virtualNetworks/azsmnet3123\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022c6078ef4-a4a6-4c5f-8fd1-9e92213a5b6e\\\u0022\u0022,\r\n",
        "  \u0022type\u0022: \u0022Micr[...]
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/providers/Microsoft.Network/locations/eastus/operations/dcd11be4-f28b-45e2-b0b2-d59f6f00441e?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "14985"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022Succeeded\u0022\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/csmrg4624/providers/Microsoft.Network/virtualNetworks/azsmnet3123?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00224a84cf19-8111-4ab1-906b-8b6799364261\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "14984"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022azsmnet3123\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/csmrg4624/providers/Microsoft.Network/virtualNetworks/azsmnet3123\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u00224a84cf19-8111-4ab1-906b-8b6799364261\\\u0022\u00[...]
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/csmrg4624/providers/Microsoft.Network/virtualNetworks/azsmnet3123/subnets/azsmnet3986?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00224a84cf19-8111-4ab1-906b-8b6799364261\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "14983"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022azsmnet3986\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/csmrg4624/providers/Microsoft.Network/virtualNetworks/azsmnet3123/subnets/azsmnet3986\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u00224a84cf19-8111-4ab1-906b-8b6799364261\\\u0022\u0022,\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022provisioningState\u0022: \u0022Succeeded\u0022,\r\n",
        "    \u0022addressPrefix\u0022: \u002210.0.0.0/24\u0022\r\n",
        "  }\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/csmrg4624/providers/Microsoft.Cache/Redis/azsmnet698?api-version=2016-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": [
        "{\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022sku\u0022: {\r\n",
        "      \u0022name\u0022: \u0022Premium\u0022,\r\n",
        "      \u0022family\u0022: \u0022P\u0022,\r\n",
        "      \u0022capacity\u0022: 1\r\n",
        "    },\r\n",
        "    \u0022subnetId\u0022: \u0022/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/csmrg4624/providers/Microsoft.Network/virtualNetworks/azsmnet3123/subnets/azsmnet3986\u0022\r\n",
        "  },\r\n",
        "  \u0022location\u0022: \u0022East US\u0022\r\n",
        "}"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/csmrg4624/providers/Microsoft.Cache/redis/azsmnet698?api-version=2016-04-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-rp-server-mvid": "03c0bd98-ddec-4fbb-bf95-4bccfb4b14d6"
      },
      "ResponseBody": {
        "id": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/csmrg4624/providers/Microsoft.Cache/Redis/azsmnet698",
        "location": "East US",
        "name": "azsmnet698",
        "type": "Microsoft.Cache/Redis",
        "tags": {},
        "properties": {
          "provisioningState": "Creating",
          "redisVersion": "3.2.7",
          "sku": {
            "name": "Premium",
            "family": "P",
            "capacity": 1
          },
          "enableNonSslPort": false,
          "redisConfiguration": {
            "maxclients": "7500",
            "maxmemory-reserved": "200",
            "maxfragmentationmemory-reserved": "300",
            "maxmemory-delta": "200"
          },
          "accessKeys": {
            "primaryKey": "Sanitized",
            "secondaryKey": "Sanitized"
          },
          "hostName": "azsmnet698.redis.cache.windows.net",
          "port": 6379,
          "sslPort": 6380,
          "subnetId": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/csmrg4624/providers/Microsoft.Network/virtualNetworks/azsmnet3123/subnets/azsmnet3986",
          "staticIP": "10.0.0.9"
        }
      }
    },
[...]
