* text=auto

*.bmp binary
*.dll binary
*.gif binary
*.jpg binary
*.png binary
*.snk binary
*.exe binary
*.wmv binary
*.mp4 binary
*.ismv binary
*.isma binary

*.cs text diff=csharp
*.csproj text=auto
*.sln text=auto eol=crlf

# Automatically collapse Track 2 test recordings in github PRs
**/SessionRecords/**/*.json linguist-generated=true

# Generated code
**/Generated/**/*.cs linguist-generated=true
**/Generated/**/*.csproj linguist-generated=true
