<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget.org" value="https://www.nuget.org/api/v2" />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="xunit" value="https://www.myget.org/F/xunit/api/v2" />
    <add key="aspnetrc1" value="https://www.myget.org/F/aspnetrc1/api/v2" />
    <add key="local" value="localfeed" />
  </packageSources>
</configuration>