{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipNRMSNSG": "true"
        },
        "subscriptionId": "69a75bda-882e-44d5-8431-63421204132a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "QATest02-SVL",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourcegroups/testNetAppDotNetSDKRG-5026?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env",
          "Owner": "b-aubald"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5026",
        "name": "testNetAppDotNetSDKRG-5026",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env",
          "Owner": "b-aubald",
          "CreatedOnDate": "2023-06-23T10:43:46.8658336Z",
          "SkipNRMSNSG": "true"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/checkNameAvailability?api-version=2022-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "account480",
        "type": "Microsoft.NetApp/netAppAccounts",
        "resourceGroup": "testNetAppDotNetSDKRG-5026"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "isAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5026/providers/Microsoft.NetApp/netAppAccounts/account480?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/1a719d0a-7fb3-4dfc-bafe-abb7ceee935e?api-version=2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-06-23T10%3A43%3A54.3112596Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5026/providers/Microsoft.NetApp/netAppAccounts/account480",
        "name": "account480",
        "type": "Microsoft.NetApp/netAppAccounts",
        "etag": "W/\u0022datetime\u00272023-06-23T10%3A43%3A54.3112596Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2023-06-23T10:43:50.8404336Z"
        },
        "properties": {
          "activeDirectories": [
            {
              "activeDirectoryId": "09ef3da0-c3dd-8e10-a69c-04a84d8ebc85",
              "username": "sdkuser",
              "password": "****************",
              "domain": "sdkdomain",
              "dns": "192.0.2.2",
              "status": "Created",
              "smbServerName": "PSSMBSName",
              "organizationalUnit": "CN=Computers",
              "adName": "ps1792",
              "aesEncryption": false,
              "ldapSigning": false,
              "ldapOverTLS": false,
              "allowLocalNfsUsersWithLdap": false,
              "encryptDCConnections": false,
              "ldapSearchScope": {}
            }
          ],
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "createdByType": "Application",
          "createdAt": "2023-06-23T10:43:54.1606747Z",
          "lastModifiedBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-23T10:43:54.1606747Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/1a719d0a-7fb3-4dfc-bafe-abb7ceee935e?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/1a719d0a-7fb3-4dfc-bafe-abb7ceee935e",
        "name": "1a719d0a-7fb3-4dfc-bafe-abb7ceee935e",
        "status": "Succeeded",
        "startTime": "2023-06-23T10:43:54.3173938Z",
        "endTime": "2023-06-23T10:43:54.3684916Z",
        "percentComplete": 100.0,
        "properties": {
          "resourceName": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5026/providers/Microsoft.NetApp/netAppAccounts/account480",
          "action": "CREATE"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5026/providers/Microsoft.NetApp/netAppAccounts/account480/snapshotPolicies/snapshotPolicy-3023?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "hourlySchedule": {
            "snapshotsToKeep": 2,
            "minute": 50
          },
          "dailySchedule": {
            "snapshotsToKeep": 4,
            "hour": 14,
            "minute": 30
          },
          "weeklySchedule": {
            "snapshotsToKeep": 3,
            "day": "Wednesday",
            "hour": 14,
            "minute": 45
          },
          "monthlySchedule": {
            "snapshotsToKeep": 5,
            "daysOfMonth": "10,11,12",
            "hour": 14,
            "minute": 15
          },
          "enabled": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/35c638e1-dd94-4277-9134-c313564321cf?api-version=2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-06-23T10%3A43%3A58.9299727Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscri[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5026/providers/Microsoft.NetApp/netAppAccounts/account480/snapshotPolicies/snapshotPolicy-30231?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.NetApp/netAppAccounts/account480/snapshotPolicies/snapshotPolicy-30231\u0027 under resource group \u0027testNetAppDotNetSDKRG-5026\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5026/providers/Microsoft.NetApp/netAppAccounts/account480/snapshotPolicies/snapshotPolicy-3023?api-version=2022-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/917e58e8-6b68-4df8-b7e1-8dbc160f5dea?api-version=2022-11-01",
        "Location": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/917e58e8-6b68-4df8-b7e1-8dbc160f5dea?api-version=2022-11-01\u0026operationResultResponseType=Location",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5026/providers/Microsoft.NetApp/netAppAccounts/account480/snapshotPolicies?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/d7ac6b1d-8341-4801-ba3c-fabf63c243cd?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/d7ac6b1d-8341-4801-ba3c-fabf63c243cd",
        "name": "d7ac6b1d-8341-4801-ba3c-fabf63c243cd",
        "status": "Succeeded",
        "startTime": "2023-06-23T10:44:45.0333391Z",
        "endTime": "2023-06-23T10:44:45.0591947Z",
        "percentComplete": 100.0,
        "properties": {
          "resourceName": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5026/providers/Microsoft.NetApp/netAppAccounts/account480",
          "action": "DELETE"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1856600816",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "69a75bda-882e-44d5-8431-63421204132a"
  }
}
