{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11823"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipNRMSNSG": "true"
        },
        "subscriptionId": "69a75bda-882e-44d5-8431-63421204132a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "QATest02-SVL",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourcegroups/testNetAppDotNetSDKRG-4582?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env",
          "Owner": "b-aubald"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1167"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-4582",
        "name": "testNetAppDotNetSDKRG-4582",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env",
          "Owner": "b-aubald",
          "CreatedOnDate": "2022-09-14T14:56:30.9541006Z",
          "SkipNRMSNSG": "true"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/checkNameAvailability?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "account1709",
        "type": "Microsoft.NetApp/netAppAccounts",
        "resourceGroup": "testNetAppDotNetSDKRG-4582"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "isAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-4582/providers/Microsoft.NetApp/netAppAccounts/account1709?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/14ffcb73-920e-4592-a055-9001200fee4f?api-version=2022-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-09-14T14%3A56%3A33.6995748Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1166"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-4582/providers/Microsoft.NetApp/netAppAccounts/account1709",
        "name": "account1709",
        "type": "Microsoft.NetApp/netAppAccounts",
        "etag": "W/\u0022datetime\u00272022-09-14T14%3A56%3A33.6995748Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2022-09-14T14:56:31.7636272Z"
        },
        "properties": {
          "activeDirectories": [
            {
              "activeDirectoryId": "503d38f9-f17c-f92d-ef26-b0d46374534b",
              "username": "sdkuser",
              "password": "****************",
              "domain": "sdkdomain",
              "dns": "192.0.2.2",
              "status": "Created",
              "smbServerName": "SDKSMBSeNa",
              "organizationalUnit": "CN=Computers",
              "aesEncryption": false,
              "ldapSigning": false,
              "ldapOverTLS": false,
              "allowLocalNfsUsersWithLdap": false,
              "encryptDCConnections": false,
              "ldapSearchScope": {}
            }
          ],
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "createdByType": "Application",
          "createdAt": "2022-09-14T14:56:33.5522855Z",
          "lastModifiedBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-14T14:56:33.5522855Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/14ffcb73-920e-4592-a055-9001200fee4f?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11822"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/14ffcb73-920e-4592-a055-9001200fee4f",
        "name": "14ffcb73-920e-4592-a055-9001200fee4f",
        "status": "Succeeded",
        "startTime": "2022-09-14T14:56:33.7013239Z",
        "endTime": "2022-09-14T14:56:33.7325486Z",
        "percentComplete": 100.0,
        "properties": {
          "resourceName": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-4582/providers/Microsoft.NetApp/netAppAccounts/account1709"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-4582/providers/Microsoft.NetApp/netAppAccounts/account1709/snapshotPolicies/snapshotPolicy-2094?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "hourlySchedule": {
            "snapshotsToKeep": 2,
            "minute": 50
          },
          "dailySchedule": {
            "snapshotsToKeep": 4,
            "hour": 14,
            "minute": 30
          },
          "weeklySchedule": {
            "snapshotsToKeep": 3,
            "day": "Wednesday",
            "hour": 14,
            "minute": 45
          },
          "monthlySchedule": {
            "snapshotsToKeep": 5,
            "daysOfMonth": "10,11,12",
            "hour": 14,
            "minute": 15
          },
          "enabled": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/552d84fe-fa14-4348-9f11-09b39cedc26c?api-version=2022-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-09-14T14%3A56%3A37.4064557Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscri[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-4582/providers/Microsoft.NetApp/netAppAccounts/account1709/snapshotPolicies?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11818"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-4582/providers/Microsoft.NetApp/netAppAccounts/account1709/snapshotPolicies/snapshotPolicy-2094",
            "name": "account1709/snapshotPolicy-2094",
            "type": "Microsoft.NetApp/netAppAccounts/snapshotPolicies",
            "etag": "W/\u0022datetime\u00272022-09-14T14%3A56%3A37.4588599Z\u0027\u0022",
            "location": "westus2",
            "tags": {
     [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-4582/providers/Microsoft.NetApp/netAppAccounts/account1709/snapshotPolicies/snapshotPolicy-20941?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.NetApp/netAppAccounts/account1709/snapshotPolicies/snapshotPolicy-20941\u0027 under resource group \u0027testNetAppDotNetSDKRG-4582\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-4582/providers/Microsoft.NetApp/netAppAccounts/account1709/snapshotPolicies/snapshotPolicy-2094?api-version=2022-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/57506e4c-45b4-4b5e-aa79-f5f97a30368d?api-version=2022-05-01",
        "Location": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/57506e4c-45b4-4b5e-aa79-f5f97a30368d?api-version=2022-05-01\u0026operationResultResponseType=Location",
        "x-ms-ratelimit-remaining-subscription-deletes": "14978"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/c8272c90-e74e-4638-b9a4-b9c1a4e57e26?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11811"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/c8272c90-e74e-4638-b9a4-b9c1a4e57e26",
        "name": "c8272c90-e74e-4638-b9a4-b9c1a4e57e26",
        "status": "Succeeded",
        "startTime": "2022-09-14T14:57:25.1224017Z",
        "endTime": "2022-09-14T14:57:25.16933Z",
        "percentComplete": 100.0,
        "properties": {
          "resourceName": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-4582/providers/Microsoft.NetApp/netAppAccounts/account1709"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1973253165",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "69a75bda-882e-44d5-8431-63421204132a"
  }
}
