{
  "Entries": [
    {
      "RequestUri": "https://eccdc9b7-7603-402b-879d-bde2b637db56.eus.cnt-prod.loadtesting.azure.com/loadtests/a011890b-12cd-004d-015d-12aed8880000?api-version=2022-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9202c1fa-574b-40d2-bfbc-519a10cddf0e"
      },
      "ResponseBody": {
        "testId": "a011890b-12cd-004d-015d-12aed8880000",
        "description": "",
        "displayName": "testone",
        "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/yashika-rg/providers/microsoft.loadtestservice/loadtests/loadtestsdk",
        "loadTestConfig": {
          "engineInstances": 1,
          "splitAllCSVs": false
        },
        "passFailCriteria": {
          "passFailMetrics": {}
        },
        "createdDateTime": "2022-06-21T15:42:20.585Z",
        "createdBy": null,
        "lastModifiedDateTime": "2022-06-21T15:42:20.585Z",
        "lastModifiedBy": null,
        "inputArtifacts": {
          "configUrl": null,
          "testScriptUrl": null,
          "userPropUrl": null,
          "inputArtifactsZipFileurl": null,
          "additionalUrls": []
        },
        "secrets": null,
        "environmentVariables": null,
        "subnetId": null,
        "keyvaultReferenceIdentityType": "SystemAssigned",
        "keyvaultReferenceIdentityId": null
      }
    }
  ],
  "Variables": {
    "LoadTestService_ENDPOINT": "eccdc9b7-7603-402b-879d-bde2b637db56.eus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "1187437834"
  }
}
