{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 15 Dec 2021 19:51:34 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable1871vM4Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://pakrymtables3prim.table.core.windows.net/Tables(\u0027testtable1871vM4Z\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtable1871vM4Z"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtable1871vM4Z?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Wed, 15 Dec 2021 19:51:34 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "abc": 123
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://pakrymtables3prim.table.core.windows.net/testtable1871vM4Z(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
        "ETag": "W/\u0022datetime\u00272021-12-15T19%3A51%3A34.9424849Z\u0027\u0022",
        "Location": "https://pakrymtables3prim.table.core.windows.net/testtable1871vM4Z(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtable1871vM4Z(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 15 Dec 2021 19:51:34 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-12-15T19%3A51%3A34.9424849Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#testtable1871vM4Z/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-15T19%3A51%3A34.9424849Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2021-12-15T19:51:34.9424849Z",
        "abc": 123
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtable1871vM4Z(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "W/\u0022datetime\u00272021-12-15T19%3A51%3A34.9424849Z\u0027\u0022",
        "x-ms-date": "Wed, 15 Dec 2021 19:51:34 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "abc": 123
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-12-15T19%3A51%3A34.9806902Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/Tables(\u0027testtable1871vM4Z\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 19:51:34 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1814423749",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "pakrymtables3prim"
  }
}
