{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/45D167E7471E310B83E0C6B3B27825D9CC92D45215EE4035E3?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:22:25 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy45D167E7471E310B83E0C6B3B27825D9CC92D45215EE4035E3",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229800b7df-0000-0700-0000-649e20420000\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:22:26 GMT",
        "trace-id": "8acf4969-7553-95e6-60a8-4e3b4fc416be"
      },
      "ResponseBody": {
        "id": "45D167E7471E310B83E0C6B3B27825D9CC92D45215EE4035E3",
        "name": "LongestIdleDistributionPolicy45D167E7471E310B83E0C6B3B27825D9CC92D45215EE4035E3",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/EAD314554FA1312CC64969D55EF400D9E5403BABF8458C91CE?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:22:25 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestEAD314554FA1312CC64969D55EF400D9E5403BABF8458C91CE",
        "distributionPolicyId": "45D167E7471E310B83E0C6B3B27825D9CC92D45215EE4035E3",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222f00e9a2-0000-0700-0000-649e20420000\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:22:26 GMT",
        "trace-id": "11a860df-eb75-b06a-5236-cb4687e3cc5b"
      },
      "ResponseBody": {
        "id": "EAD314554FA1312CC64969D55EF400D9E5403BABF8458C91CE",
        "name": "DefaultQueue-Sdk-TestEAD314554FA1312CC64969D55EF400D9E5403BABF8458C91CE",
        "distributionPolicyId": "45D167E7471E310B83E0C6B3B27825D9CC92D45215EE4035E3",
        "labels": {
          "Label_1": "Value_1",
          "Id": "EAD314554FA1312CC64969D55EF400D9E5403BABF8458C91CE"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/D43803001353143B2DAB88A8BB480C3CFC8552DD231B39446E?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:22:26 GMT"
      },
      "RequestBody": {
        "channelReference": "IncorrectValue",
        "channelId": "96C233E8A0A70FD8D49CDE691A3D85FD6302A2F705F67CFBC9",
        "queueId": "EAD314554FA1312CC64969D55EF400D9E5403BABF8458C91CE",
        "priority": 1,
        "matchingMode": {
          "modeType": "queueAndMatchMode",
          "queueAndMatchMode": {},
          "scheduleAndSuspendMode": null,
          "suspendMode": null
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-f103-5e150079db08\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:22:26 GMT",
        "trace-id": "ed1e439d-9fca-725b-fb21-ce9349d94418"
      },
      "ResponseBody": {
        "id": "D43803001353143B2DAB88A8BB480C3CFC8552DD231B39446E",
        "channelReference": "IncorrectValue",
        "status": "created",
        "channelId": "96C233E8A0A70FD8D49CDE691A3D85FD6302A2F705F67CFBC9",
        "queueId": "EAD314554FA1312CC64969D55EF400D9E5403BABF8458C91CE",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "matchingMode": {
          "modeType": "queueAndMatchMode",
          "queueAndMatchMode": {}
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/EAD314554FA1312CC64969D55EF400D9E5403BABF8458C91CE?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=Oop5kGUjr4JWJ1m6Nd6VB7unmV0p7dUqfmi4V1YF3Qo=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Fri, 30 Jun 2023 00:22:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "515b1110-d901-e0bb-3464-9066e34beb86"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "Conflict",
          "message": "Validation failed: \r\n -- : There is active job with this queue",
          "target": "/routing/queues/EAD314554FA1312CC64969D55EF400D9E5403BABF8458C91CE"
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/45D167E7471E310B83E0C6B3B27825D9CC92D45215EE4035E3?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=O4jeIDR1OZRx0jrj2/0NUSCtjz9T5JLtsUiGpbGmG/8=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Fri, 30 Jun 2023 00:22:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "2ea0bb7d-13b0-b7a2-bb5f-2d6b055e6b14"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "BadRequest",
          "message": "One or more validation errors occurred.",
          "target": "/routing/distributionPolicies/45D167E7471E310B83E0C6B3B27825D9CC92D45215EE4035E3",
          "details": [
            {
              "code": "QueueExistsWithDistributionPolicy",
              "message": "There is a queue with this distribution policy"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/D43803001353143B2DAB88A8BB480C3CFC8552DD231B39446E?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=pgJzBWHLI9\u002BOYCp0FOVXlWAc\u002B6bNOqVS2ls4g375iuI=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Fri, 30 Jun 2023 00:22:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "bef060de-f2d5-0b48-57dc-13413928d60f"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "Conflict",
          "message": "Validation failed: \r\n -- JobStatus: The job is neither closed nor cancelled",
          "target": "/routing/jobs/D43803001353143B2DAB88A8BB480C3CFC8552DD231B39446E"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-HEeQ_iMyn0i-Vt9pBwLCEw-",
    "RandomSeed": "380111893"
  }
}
