{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/A9-4F-E1-11-F0-4D-15-74-55-76-CA-58-02-75-6F-B8-DA?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:02 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyA9-4F-E1-11-F0-4D-15-74-55-76-CA-58-02-75-6F-B8-DA",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002232002875-0000-0700-0000-62eae4a60000\u0022",
        "Last-Modified": "Wed, 03 Aug 2022 21:12:06 GMT",
        "trace-id": "31f6d40dd46f6445934d36110b91a5b7"
      },
      "ResponseBody": {
        "id": "A9-4F-E1-11-F0-4D-15-74-55-76-CA-58-02-75-6F-B8-DA",
        "name": "LongestIdleDistributionPolicyA9-4F-E1-11-F0-4D-15-74-55-76-CA-58-02-75-6F-B8-DA",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/45-F7-44-7D-09-66-70-D3-E9-F2-1B-4A-F1-06-DD-1E-94?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:06 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test45-F7-44-7D-09-66-70-D3-E9-F2-1B-4A-F1-06-DD-1E-94",
        "distributionPolicyId": "A9-4F-E1-11-F0-4D-15-74-55-76-CA-58-02-75-6F-B8-DA",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220300cce2-0000-0700-0000-62eae4a80000\u0022",
        "Last-Modified": "Wed, 03 Aug 2022 21:12:08 GMT",
        "trace-id": "7497012211eff44c8693aa427024dfe7"
      },
      "ResponseBody": {
        "id": "45-F7-44-7D-09-66-70-D3-E9-F2-1B-4A-F1-06-DD-1E-94",
        "name": "DefaultQueue-Sdk-Test45-F7-44-7D-09-66-70-D3-E9-F2-1B-4A-F1-06-DD-1E-94",
        "distributionPolicyId": "A9-4F-E1-11-F0-4D-15-74-55-76-CA-58-02-75-6F-B8-DA",
        "labels": {
          "Label_1": "Value_1",
          "Id": "45-F7-44-7D-09-66-70-D3-E9-F2-1B-4A-F1-06-DD-1E-94"
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/9F-6F-D1-7D-DD-21-58-33-CD-B8-8F-B3-FE-8E-78-7F-BC?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:08 GMT"
      },
      "RequestBody": {
        "name": "StaticQueueSelector-ClassificationPolicy",
        "queueSelectors": [
          {
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "45-F7-44-7D-09-66-70-D3-E9-F2-1B-4A-F1-06-DD-1E-94"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220700ef92-0000-0700-0000-62eae4a90000\u0022",
        "Last-Modified": "Wed, 03 Aug 2022 21:12:09 GMT",
        "trace-id": "75656b01b49789409c6e5e88f12c9fca"
      },
      "ResponseBody": {
        "id": "9F-6F-D1-7D-DD-21-58-33-CD-B8-8F-B3-FE-8E-78-7F-BC",
        "name": "StaticQueueSelector-ClassificationPolicy",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "45-F7-44-7D-09-66-70-D3-E9-F2-1B-4A-F1-06-DD-1E-94"
            }
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/8B-13-64-30-EA-BB-AA-B2-A3-F3-33-25-FD-D1-CA-40-63?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:09 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "11-EA-67-7C-2C-9C-73-0E-D9-E5-AE-CB-F8-4D-B0-1B-65",
        "classificationPolicyId": "9F-6F-D1-7D-DD-21-58-33-CD-B8-8F-B3-FE-8E-78-7F-BC",
        "priority": 0,
        "requestedWorkerSelectors": [],
        "notes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-5347-ccd49475da08\u0022",
        "Last-Modified": "Wed, 03 Aug 2022 21:12:11 GMT",
        "trace-id": "2b9c11fd6dfe8743bd4a308693b0a860"
      },
      "ResponseBody": {
        "id": "8B-13-64-30-EA-BB-AA-B2-A3-F3-33-25-FD-D1-CA-40-63",
        "channelReference": "123",
        "jobStatus": "pendingClassification",
        "channelId": "11-EA-67-7C-2C-9C-73-0E-D9-E5-AE-CB-F8-4D-B0-1B-65",
        "classificationPolicyId": "9F-6F-D1-7D-DD-21-58-33-CD-B8-8F-B3-FE-8E-78-7F-BC",
        "priority": 0,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/8B-13-64-30-EA-BB-AA-B2-A3-F3-33-25-FD-D1-CA-40-63?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-0f86-96d69475da08\u0022",
        "Last-Modified": "Wed, 03 Aug 2022 21:12:14 GMT",
        "trace-id": "268648fe6bed9d4496d4f743e7b563da"
      },
      "ResponseBody": {
        "id": "8B-13-64-30-EA-BB-AA-B2-A3-F3-33-25-FD-D1-CA-40-63",
        "channelReference": "123",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-08-03T21:12:14.2145039\u002B00:00",
        "channelId": "11-EA-67-7C-2C-9C-73-0E-D9-E5-AE-CB-F8-4D-B0-1B-65",
        "classificationPolicyId": "9F-6F-D1-7D-DD-21-58-33-CD-B8-8F-B3-FE-8E-78-7F-BC",
        "queueId": "45-F7-44-7D-09-66-70-D3-E9-F2-1B-4A-F1-06-DD-1E-94",
        "priority": 0,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/8B-13-64-30-EA-BB-AA-B2-A3-F3-33-25-FD-D1-CA-40-63:cancel?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:14 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "494e9fed80b2a3439ca26f6b636a5c83"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/9F-6F-D1-7D-DD-21-58-33-CD-B8-8F-B3-FE-8E-78-7F-BC?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "trace-id": "2dd4ede3f3de0149be8445cf30592955"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-KCrP7JvBAE-GlCLTUmsZag-",
    "RandomSeed": "819780809"
  }
}
