{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/D8-1D-22-82-D5-90-DC-AD-70-BD-F0-58-B5-DE-4F-73-CB?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:20:43 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyD8-1D-22-82-D5-90-DC-AD-70-BD-F0-58-B5-DE-4F-73-CB",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229f0251bb-0000-0700-0000-62aa856c0000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:20:44 GMT",
        "trace-id": "e87c25014c5818418de5ae131e40c8f7"
      },
      "ResponseBody": {
        "id": "D8-1D-22-82-D5-90-DC-AD-70-BD-F0-58-B5-DE-4F-73-CB",
        "name": "LongestIdleDistributionPolicyD8-1D-22-82-D5-90-DC-AD-70-BD-F0-58-B5-DE-4F-73-CB",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/5E-23-C4-2F-DF-AD-8B-2F-D2-E1-92-36-78-D1-E1-07-86?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:20:44 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test5E-23-C4-2F-DF-AD-8B-2F-D2-E1-92-36-78-D1-E1-07-86",
        "distributionPolicyId": "D8-1D-22-82-D5-90-DC-AD-70-BD-F0-58-B5-DE-4F-73-CB",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222504c7b0-0000-0700-0000-62aa856c0000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:20:44 GMT",
        "trace-id": "7ea7dea2e1b0b14494f540069df01acf"
      },
      "ResponseBody": {
        "id": "5E-23-C4-2F-DF-AD-8B-2F-D2-E1-92-36-78-D1-E1-07-86",
        "name": "DefaultQueue-Sdk-Test5E-23-C4-2F-DF-AD-8B-2F-D2-E1-92-36-78-D1-E1-07-86",
        "distributionPolicyId": "D8-1D-22-82-D5-90-DC-AD-70-BD-F0-58-B5-DE-4F-73-CB",
        "labels": {
          "Label_1": "Value_1",
          "Id": "5E-23-C4-2F-DF-AD-8B-2F-D2-E1-92-36-78-D1-E1-07-86"
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/52-EE-3B-AC-07-0B-4E-52-7D-1A-41-C7-9F-B1-2C-C6-C7?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:20:44 GMT"
      },
      "RequestBody": {
        "name": "StaticQueueSelector-ClassificationPolicy",
        "queueSelectors": [
          {
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "5E-23-C4-2F-DF-AD-8B-2F-D2-E1-92-36-78-D1-E1-07-86"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022220850db-0000-0700-0000-62aa856c0000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:20:44 GMT",
        "trace-id": "e8143b1993d3374cb79411ce276b097b"
      },
      "ResponseBody": {
        "id": "52-EE-3B-AC-07-0B-4E-52-7D-1A-41-C7-9F-B1-2C-C6-C7",
        "name": "StaticQueueSelector-ClassificationPolicy",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "5E-23-C4-2F-DF-AD-8B-2F-D2-E1-92-36-78-D1-E1-07-86"
            }
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/4C-2A-4E-5F-5B-60-53-CA-F7-97-4C-AB-C4-E4-FB-F9-DF?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:20:44 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "11-EA-67-7C-2C-9C-73-0E-D9-E5-AE-CB-F8-4D-B0-1B-65",
        "classificationPolicyId": "52-EE-3B-AC-07-0B-4E-52-7D-1A-41-C7-9F-B1-2C-C6-C7"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-55f1-b76f364fda08\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:20:44 GMT",
        "trace-id": "6585371d4a7d6149bff7d1254e9de940"
      },
      "ResponseBody": {
        "id": "4C-2A-4E-5F-5B-60-53-CA-F7-97-4C-AB-C4-E4-FB-F9-DF",
        "channelReference": "123",
        "jobStatus": "pendingClassification",
        "channelId": "11-EA-67-7C-2C-9C-73-0E-D9-E5-AE-CB-F8-4D-B0-1B-65",
        "classificationPolicyId": "52-EE-3B-AC-07-0B-4E-52-7D-1A-41-C7-9F-B1-2C-C6-C7",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/4C-2A-4E-5F-5B-60-53-CA-F7-97-4C-AB-C4-E4-FB-F9-DF?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:20:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-02db-fd6f364fda08\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:20:45 GMT",
        "trace-id": "0bb74097f198e34484db71b0239ba699"
      },
      "ResponseBody": {
        "id": "4C-2A-4E-5F-5B-60-53-CA-F7-97-4C-AB-C4-E4-FB-F9-DF",
        "channelReference": "123",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-06-16T01:20:45.2082434\u002B00:00",
        "channelId": "11-EA-67-7C-2C-9C-73-0E-D9-E5-AE-CB-F8-4D-B0-1B-65",
        "classificationPolicyId": "52-EE-3B-AC-07-0B-4E-52-7D-1A-41-C7-9F-B1-2C-C6-C7",
        "queueId": "5E-23-C4-2F-DF-AD-8B-2F-D2-E1-92-36-78-D1-E1-07-86",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/4C-2A-4E-5F-5B-60-53-CA-F7-97-4C-AB-C4-E4-FB-F9-DF:cancel?api-version=2021-10-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:20:46 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "a9af299577fe8b43af174a7eb3daf740"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/52-EE-3B-AC-07-0B-4E-52-7D-1A-41-C7-9F-B1-2C-C6-C7?api-version=2021-10-20-preview2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:20:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "trace-id": "f4e7628922828540a265d6f199faa30e"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-FYuV5P_pzkekaqk8Px4syQ-",
    "RandomSeed": "1666853046"
  }
}
