{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/22-A3-09-8B-A4-9E-5E-32-65-91-42-FF-76-ED-04-A3-54?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:31 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy22-A3-09-8B-A4-9E-5E-32-65-91-42-FF-76-ED-04-A3-54",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002232005f7a-0000-0700-0000-62eae4c10000\u0022",
        "Last-Modified": "Wed, 03 Aug 2022 21:12:33 GMT",
        "trace-id": "7cea002173a7604ea9c41fa822e70a5b"
      },
      "ResponseBody": {
        "id": "22-A3-09-8B-A4-9E-5E-32-65-91-42-FF-76-ED-04-A3-54",
        "name": "LongestIdleDistributionPolicy22-A3-09-8B-A4-9E-5E-32-65-91-42-FF-76-ED-04-A3-54",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/64-C2-F4-F8-44-1C-BD-9E-0B-F5-88-0E-95-48-80-07-8C?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:33 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test64-C2-F4-F8-44-1C-BD-9E-0B-F5-88-0E-95-48-80-07-8C",
        "distributionPolicyId": "22-A3-09-8B-A4-9E-5E-32-65-91-42-FF-76-ED-04-A3-54",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220300e7e2-0000-0700-0000-62eae4c20000\u0022",
        "Last-Modified": "Wed, 03 Aug 2022 21:12:34 GMT",
        "trace-id": "b36d146744265b4db2d9cc07c91a8f2a"
      },
      "ResponseBody": {
        "id": "64-C2-F4-F8-44-1C-BD-9E-0B-F5-88-0E-95-48-80-07-8C",
        "name": "DefaultQueue-Sdk-Test64-C2-F4-F8-44-1C-BD-9E-0B-F5-88-0E-95-48-80-07-8C",
        "distributionPolicyId": "22-A3-09-8B-A4-9E-5E-32-65-91-42-FF-76-ED-04-A3-54",
        "labels": {
          "Label_1": "Value_1",
          "Id": "64-C2-F4-F8-44-1C-BD-9E-0B-F5-88-0E-95-48-80-07-8C"
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/42-1C-80-E7-FE-5A-B0-B8-4E-BB-F6-4F-F3-B5-E4-D5-BF?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:35 GMT"
      },
      "RequestBody": {
        "name": "StaticQueueSelector-ClassificationPolicy",
        "queueSelectors": [
          {
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "64-C2-F4-F8-44-1C-BD-9E-0B-F5-88-0E-95-48-80-07-8C"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220700b193-0000-0700-0000-62eae4c40000\u0022",
        "Last-Modified": "Wed, 03 Aug 2022 21:12:36 GMT",
        "trace-id": "842a5074cd604e4d970af19a58f9347c"
      },
      "ResponseBody": {
        "id": "42-1C-80-E7-FE-5A-B0-B8-4E-BB-F6-4F-F3-B5-E4-D5-BF",
        "name": "StaticQueueSelector-ClassificationPolicy",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "64-C2-F4-F8-44-1C-BD-9E-0B-F5-88-0E-95-48-80-07-8C"
            }
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/50-93-E0-E5-15-60-06-97-3C-6F-0F-C6-0F-FE-EC-46-25?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:36 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "11-EA-67-7C-2C-9C-73-0E-D9-E5-AE-CB-F8-4D-B0-1B-65",
        "classificationPolicyId": "42-1C-80-E7-FE-5A-B0-B8-4E-BB-F6-4F-F3-B5-E4-D5-BF",
        "priority": 0,
        "requestedWorkerSelectors": [],
        "notes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-9358-0ee59475da08\u0022",
        "Last-Modified": "Wed, 03 Aug 2022 21:12:38 GMT",
        "trace-id": "c8b33eb07dba5943b29395bf7f0da818"
      },
      "ResponseBody": {
        "id": "50-93-E0-E5-15-60-06-97-3C-6F-0F-C6-0F-FE-EC-46-25",
        "channelReference": "123",
        "jobStatus": "pendingClassification",
        "channelId": "11-EA-67-7C-2C-9C-73-0E-D9-E5-AE-CB-F8-4D-B0-1B-65",
        "classificationPolicyId": "42-1C-80-E7-FE-5A-B0-B8-4E-BB-F6-4F-F3-B5-E4-D5-BF",
        "priority": 0,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/50-93-E0-E5-15-60-06-97-3C-6F-0F-C6-0F-FE-EC-46-25?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:38 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-3e31-6de59475da08\u0022",
        "Last-Modified": "Wed, 03 Aug 2022 21:12:39 GMT",
        "trace-id": "2cd6e1385c560144953b064e6464d909"
      },
      "ResponseBody": {
        "id": "50-93-E0-E5-15-60-06-97-3C-6F-0F-C6-0F-FE-EC-46-25",
        "channelReference": "123",
        "jobStatus": "pendingClassification",
        "channelId": "11-EA-67-7C-2C-9C-73-0E-D9-E5-AE-CB-F8-4D-B0-1B-65",
        "classificationPolicyId": "42-1C-80-E7-FE-5A-B0-B8-4E-BB-F6-4F-F3-B5-E4-D5-BF",
        "queueId": "64-C2-F4-F8-44-1C-BD-9E-0B-F5-88-0E-95-48-80-07-8C",
        "priority": 0,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/50-93-E0-E5-15-60-06-97-3C-6F-0F-C6-0F-FE-EC-46-25?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-d38e-24e69475da08\u0022",
        "Last-Modified": "Wed, 03 Aug 2022 21:12:40 GMT",
        "trace-id": "b1719a07672d064bbcf2beb830d9ae6d"
      },
      "ResponseBody": {
        "id": "50-93-E0-E5-15-60-06-97-3C-6F-0F-C6-0F-FE-EC-46-25",
        "channelReference": "123",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-08-03T21:12:40.3111635\u002B00:00",
        "channelId": "11-EA-67-7C-2C-9C-73-0E-D9-E5-AE-CB-F8-4D-B0-1B-65",
        "classificationPolicyId": "42-1C-80-E7-FE-5A-B0-B8-4E-BB-F6-4F-F3-B5-E4-D5-BF",
        "queueId": "64-C2-F4-F8-44-1C-BD-9E-0B-F5-88-0E-95-48-80-07-8C",
        "priority": 0,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/50-93-E0-E5-15-60-06-97-3C-6F-0F-C6-0F-FE-EC-46-25:cancel?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:40 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "1677c48f261b564ca5e47d4fbc13d949"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/42-1C-80-E7-FE-5A-B0-B8-4E-BB-F6-4F-F3-B5-E4-D5-BF?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "trace-id": "187f545dbb5f314a94848ab724b42381"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-mmVjox1-oEyDTWmb3r8nMQ-",
    "RandomSeed": "879148506"
  }
}
