{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/0C-56-9F-20-55-B0-B8-30-06-43-49-AC-D9-D8-0A-06-11?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Jul 2022 04:17:12 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy0C-56-9F-20-55-B0-B8-30-06-43-49-AC-D9-D8-0A-06-11",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002231077bc2-0000-0700-0000-62db76480000\u0022",
        "Last-Modified": "Sat, 23 Jul 2022 04:17:12 GMT",
        "trace-id": "8f8b179e392086408d1ebc3279376293"
      },
      "ResponseBody": {
        "id": "0C-56-9F-20-55-B0-B8-30-06-43-49-AC-D9-D8-0A-06-11",
        "name": "LongestIdleDistributionPolicy0C-56-9F-20-55-B0-B8-30-06-43-49-AC-D9-D8-0A-06-11",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/61-0A-5E-DC-AD-F1-62-9B-64-EA-B6-7F-FB-10-85-16-82?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Jul 2022 04:17:13 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test61-0A-5E-DC-AD-F1-62-9B-64-EA-B6-7F-FB-10-85-16-82",
        "distributionPolicyId": "0C-56-9F-20-55-B0-B8-30-06-43-49-AC-D9-D8-0A-06-11",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225f00ea56-0000-0700-0000-62db76490000\u0022",
        "Last-Modified": "Sat, 23 Jul 2022 04:17:13 GMT",
        "trace-id": "0b46f34a7297ff4f85f99e6feb815c71"
      },
      "ResponseBody": {
        "id": "61-0A-5E-DC-AD-F1-62-9B-64-EA-B6-7F-FB-10-85-16-82",
        "name": "DefaultQueue-Sdk-Test61-0A-5E-DC-AD-F1-62-9B-64-EA-B6-7F-FB-10-85-16-82",
        "distributionPolicyId": "0C-56-9F-20-55-B0-B8-30-06-43-49-AC-D9-D8-0A-06-11",
        "labels": {
          "Label_1": "Value_1",
          "Id": "61-0A-5E-DC-AD-F1-62-9B-64-EA-B6-7F-FB-10-85-16-82"
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/54-29-0D-9D-8B-F5-BF-06-91-18-EC-3C-74-04-93-EB-88?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Jul 2022 04:17:13 GMT"
      },
      "RequestBody": {
        "name": "StaticQueueSelector-ClassificationPolicy",
        "queueSelectors": [
          {
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "61-0A-5E-DC-AD-F1-62-9B-64-EA-B6-7F-FB-10-85-16-82"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224a01ec65-0000-0700-0000-62db764a0000\u0022",
        "Last-Modified": "Sat, 23 Jul 2022 04:17:14 GMT",
        "trace-id": "95e01179f3b89745879bd2881cb897ac"
      },
      "ResponseBody": {
        "id": "54-29-0D-9D-8B-F5-BF-06-91-18-EC-3C-74-04-93-EB-88",
        "name": "StaticQueueSelector-ClassificationPolicy",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "61-0A-5E-DC-AD-F1-62-9B-64-EA-B6-7F-FB-10-85-16-82"
            }
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/02-5A-2A-91-F8-EE-06-6C-B1-5D-22-25-B7-33-80-81-D1?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Jul 2022 04:17:14 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "11-EA-67-7C-2C-9C-73-0E-D9-E5-AE-CB-F8-4D-B0-1B-65",
        "classificationPolicyId": "54-29-0D-9D-8B-F5-BF-06-91-18-EC-3C-74-04-93-EB-88",
        "priority": 0,
        "requestedWorkerSelectors": [],
        "notes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-5770-1539626cda08\u0022",
        "Last-Modified": "Sat, 23 Jul 2022 04:17:14 GMT",
        "trace-id": "0d22df7d6f92f44780d5a8095fbaae76"
      },
      "ResponseBody": {
        "id": "02-5A-2A-91-F8-EE-06-6C-B1-5D-22-25-B7-33-80-81-D1",
        "channelReference": "123",
        "jobStatus": "pendingClassification",
        "channelId": "11-EA-67-7C-2C-9C-73-0E-D9-E5-AE-CB-F8-4D-B0-1B-65",
        "classificationPolicyId": "54-29-0D-9D-8B-F5-BF-06-91-18-EC-3C-74-04-93-EB-88",
        "priority": 0,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/02-5A-2A-91-F8-EE-06-6C-B1-5D-22-25-B7-33-80-81-D1?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Jul 2022 04:17:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-ffac-2e39626cda08\u0022",
        "Last-Modified": "Sat, 23 Jul 2022 04:17:14 GMT",
        "trace-id": "e6a5c62b8fc6d14ca6de1464dffd679a"
      },
      "ResponseBody": {
        "id": "02-5A-2A-91-F8-EE-06-6C-B1-5D-22-25-B7-33-80-81-D1",
        "channelReference": "123",
        "jobStatus": "pendingClassification",
        "channelId": "11-EA-67-7C-2C-9C-73-0E-D9-E5-AE-CB-F8-4D-B0-1B-65",
        "classificationPolicyId": "54-29-0D-9D-8B-F5-BF-06-91-18-EC-3C-74-04-93-EB-88",
        "queueId": "61-0A-5E-DC-AD-F1-62-9B-64-EA-B6-7F-FB-10-85-16-82",
        "priority": 0,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/02-5A-2A-91-F8-EE-06-6C-B1-5D-22-25-B7-33-80-81-D1?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Jul 2022 04:17:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-1088-3f39626cda08\u0022",
        "Last-Modified": "Sat, 23 Jul 2022 04:17:14 GMT",
        "trace-id": "732c8af551fb1b4db4906d04a3574571"
      },
      "ResponseBody": {
        "id": "02-5A-2A-91-F8-EE-06-6C-B1-5D-22-25-B7-33-80-81-D1",
        "channelReference": "123",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-07-23T04:17:14.9406224\u002B00:00",
        "channelId": "11-EA-67-7C-2C-9C-73-0E-D9-E5-AE-CB-F8-4D-B0-1B-65",
        "classificationPolicyId": "54-29-0D-9D-8B-F5-BF-06-91-18-EC-3C-74-04-93-EB-88",
        "queueId": "61-0A-5E-DC-AD-F1-62-9B-64-EA-B6-7F-FB-10-85-16-82",
        "priority": 0,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/02-5A-2A-91-F8-EE-06-6C-B1-5D-22-25-B7-33-80-81-D1:cancel?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Jul 2022 04:17:16 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "8eb82aeae5eab04ca1bd5f4eb7f6115a"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/54-29-0D-9D-8B-F5-BF-06-91-18-EC-3C-74-04-93-EB-88?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Jul 2022 04:17:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "trace-id": "dc1620a082b0ba45954ec43895490cb6"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-L-0zHTOdz0q2XZNhALqgdQ-",
    "RandomSeed": "1994380270"
  }
}
