{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/585EFACD8096E776E4C8EC135E1D7117B5916C084987E677AD?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:35:59 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy585EFACD8096E776E4C8EC135E1D7117B5916C084987E677AD",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b00e491-0000-0d00-0000-649e23700000\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:36:00 GMT",
        "trace-id": "0ea3c5cb-689f-b3a3-1fbd-652de8e7fb69"
      },
      "ResponseBody": {
        "id": "585EFACD8096E776E4C8EC135E1D7117B5916C084987E677AD",
        "name": "LongestIdleDistributionPolicy585EFACD8096E776E4C8EC135E1D7117B5916C084987E677AD",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/D0B920F91E43B7511E28BEC66C4240DE7DEF83BD53B3B7FBC9?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:35:59 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestD0B920F91E43B7511E28BEC66C4240DE7DEF83BD53B3B7FBC9",
        "distributionPolicyId": "585EFACD8096E776E4C8EC135E1D7117B5916C084987E677AD",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220801366b-0000-0d00-0000-649e23700000\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:36:00 GMT",
        "trace-id": "899cf53b-b476-b405-1074-50501c28084c"
      },
      "ResponseBody": {
        "id": "D0B920F91E43B7511E28BEC66C4240DE7DEF83BD53B3B7FBC9",
        "name": "DefaultQueue-Sdk-TestD0B920F91E43B7511E28BEC66C4240DE7DEF83BD53B3B7FBC9",
        "distributionPolicyId": "585EFACD8096E776E4C8EC135E1D7117B5916C084987E677AD",
        "labels": {
          "Label_1": "Value_1",
          "Id": "D0B920F91E43B7511E28BEC66C4240DE7DEF83BD53B3B7FBC9"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/EEB49A2A45FBC56C1785AADC87CE50C786248B08952CB4827F?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:36:00 GMT"
      },
      "RequestBody": {
        "name": "StaticPriority-ClassificationPolicy",
        "prioritizationRule": {
          "value": 10,
          "kind": "static-rule"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c70006d0-0000-0d00-0000-649e23710000\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:36:01 GMT",
        "trace-id": "9c4a9e3e-4447-31f1-1441-53e36d1d7c7f"
      },
      "ResponseBody": {
        "id": "EEB49A2A45FBC56C1785AADC87CE50C786248B08952CB4827F",
        "name": "StaticPriority-ClassificationPolicy",
        "queueSelectors": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/9A13840B8C0B60B67FCF81D7A675E5936366DF1A12E2B8BE45?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:36:00 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "EA009BDED2E0DD772BA7DDB18A7F7EF8A50B773A674DDD9136",
        "classificationPolicyId": "EEB49A2A45FBC56C1785AADC87CE50C786248B08952CB4827F",
        "queueId": "D0B920F91E43B7511E28BEC66C4240DE7DEF83BD53B3B7FBC9"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-a4df-f1fa0179db08\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:36:01 GMT",
        "trace-id": "0275f49f-f360-0137-10a1-c9cb60c9cf44"
      },
      "ResponseBody": {
        "id": "9A13840B8C0B60B67FCF81D7A675E5936366DF1A12E2B8BE45",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "EA009BDED2E0DD772BA7DDB18A7F7EF8A50B773A674DDD9136",
        "classificationPolicyId": "EEB49A2A45FBC56C1785AADC87CE50C786248B08952CB4827F",
        "queueId": "D0B920F91E43B7511E28BEC66C4240DE7DEF83BD53B3B7FBC9",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "matchingMode": {
          "modeType": "queueAndMatchMode",
          "queueAndMatchMode": {}
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/9A13840B8C0B60B67FCF81D7A675E5936366DF1A12E2B8BE45?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:36:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-6d05-06fb0179db08\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:36:01 GMT",
        "trace-id": "20cf1d2c-0d19-b695-804d-462f364be666"
      },
      "ResponseBody": {
        "id": "9A13840B8C0B60B67FCF81D7A675E5936366DF1A12E2B8BE45",
        "channelReference": "123",
        "status": "queued",
        "enqueuedAt": "2023-06-30T00:36:01.6461165\u002B00:00",
        "channelId": "EA009BDED2E0DD772BA7DDB18A7F7EF8A50B773A674DDD9136",
        "classificationPolicyId": "EEB49A2A45FBC56C1785AADC87CE50C786248B08952CB4827F",
        "queueId": "D0B920F91E43B7511E28BEC66C4240DE7DEF83BD53B3B7FBC9",
        "priority": 10,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "matchingMode": {
          "modeType": "queueAndMatchMode",
          "queueAndMatchMode": {}
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-lFP_NfRDCU2w0LYCup39zw-",
    "RandomSeed": "554495577"
  }
}
