{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/C5397274C11A68997E6952884C5AA138504B6333BE04FD47A6?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:34:28 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyC5397274C11A68997E6952884C5AA138504B6333BE04FD47A6",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b00a591-0000-0d00-0000-649e23150000\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:34:29 GMT",
        "trace-id": "d53b3727-7ba8-8e45-293f-8b0f6d46af3a"
      },
      "ResponseBody": {
        "id": "C5397274C11A68997E6952884C5AA138504B6333BE04FD47A6",
        "name": "LongestIdleDistributionPolicyC5397274C11A68997E6952884C5AA138504B6333BE04FD47A6",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/FDD0C5ABDC538A617E653AC8C34202A55D9E0D15D26D60B5BB?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:34:28 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestFDD0C5ABDC538A617E653AC8C34202A55D9E0D15D26D60B5BB",
        "distributionPolicyId": "C5397274C11A68997E6952884C5AA138504B6333BE04FD47A6",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002208012967-0000-0d00-0000-649e23150000\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:34:29 GMT",
        "trace-id": "d03b72c7-3103-6048-bf0f-3dbdf197c831"
      },
      "ResponseBody": {
        "id": "FDD0C5ABDC538A617E653AC8C34202A55D9E0D15D26D60B5BB",
        "name": "DefaultQueue-Sdk-TestFDD0C5ABDC538A617E653AC8C34202A55D9E0D15D26D60B5BB",
        "distributionPolicyId": "C5397274C11A68997E6952884C5AA138504B6333BE04FD47A6",
        "labels": {
          "Label_1": "Value_1",
          "Id": "FDD0C5ABDC538A617E653AC8C34202A55D9E0D15D26D60B5BB"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/599937F162127E86A650563134C082F33711FF02A3CEB86B33?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:34:29 GMT"
      },
      "RequestBody": {
        "name": "StaticPriority-ClassificationPolicy",
        "prioritizationRule": {
          "value": 10,
          "kind": "static-rule"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c700b2c3-0000-0d00-0000-649e23160000\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:34:30 GMT",
        "trace-id": "3c6b52bc-fb20-51c8-d2df-a22c23a65a3d"
      },
      "ResponseBody": {
        "id": "599937F162127E86A650563134C082F33711FF02A3CEB86B33",
        "name": "StaticPriority-ClassificationPolicy",
        "queueSelectors": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/966DC1BE238CB6200F3564AA3E32ADF819E1DA8CABCF2DD15D?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:34:29 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "EA009BDED2E0DD772BA7DDB18A7F7EF8A50B773A674DDD9136",
        "classificationPolicyId": "599937F162127E86A650563134C082F33711FF02A3CEB86B33",
        "queueId": "FDD0C5ABDC538A617E653AC8C34202A55D9E0D15D26D60B5BB"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-3fac-bec40179db08\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:34:30 GMT",
        "trace-id": "de2ecd9d-91d7-b781-22fc-c011e3ca608a"
      },
      "ResponseBody": {
        "id": "966DC1BE238CB6200F3564AA3E32ADF819E1DA8CABCF2DD15D",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "EA009BDED2E0DD772BA7DDB18A7F7EF8A50B773A674DDD9136",
        "classificationPolicyId": "599937F162127E86A650563134C082F33711FF02A3CEB86B33",
        "queueId": "FDD0C5ABDC538A617E653AC8C34202A55D9E0D15D26D60B5BB",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "matchingMode": {
          "modeType": "queueAndMatchMode",
          "queueAndMatchMode": {}
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/966DC1BE238CB6200F3564AA3E32ADF819E1DA8CABCF2DD15D?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:34:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-d23d-e5c40179db08\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:34:30 GMT",
        "trace-id": "2d5f4e79-41d1-b82c-456d-791ae8bd5139"
      },
      "ResponseBody": {
        "id": "966DC1BE238CB6200F3564AA3E32ADF819E1DA8CABCF2DD15D",
        "channelReference": "123",
        "status": "queued",
        "enqueuedAt": "2023-06-30T00:34:30.834325\u002B00:00",
        "channelId": "EA009BDED2E0DD772BA7DDB18A7F7EF8A50B773A674DDD9136",
        "classificationPolicyId": "599937F162127E86A650563134C082F33711FF02A3CEB86B33",
        "queueId": "FDD0C5ABDC538A617E653AC8C34202A55D9E0D15D26D60B5BB",
        "priority": 10,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "matchingMode": {
          "modeType": "queueAndMatchMode",
          "queueAndMatchMode": {}
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-VGT0Q1k6xUeNwHrbAt0aLw-",
    "RandomSeed": "2059248831"
  }
}
