{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/ED-01-43-3C-59-DE-FA-00-07-6C-C4-3E-03-28-90-60-13?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:43 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyED-01-43-3C-59-DE-FA-00-07-6C-C4-3E-03-28-90-60-13",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223200827c-0000-0700-0000-62eae4cc0000\u0022",
        "Last-Modified": "Wed, 03 Aug 2022 21:12:44 GMT",
        "trace-id": "fd5dc3809377cb4b9105e37f25c6d6bd"
      },
      "ResponseBody": {
        "id": "ED-01-43-3C-59-DE-FA-00-07-6C-C4-3E-03-28-90-60-13",
        "name": "LongestIdleDistributionPolicyED-01-43-3C-59-DE-FA-00-07-6C-C4-3E-03-28-90-60-13",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/59-61-D6-A0-80-45-70-8B-FE-0F-9B-B6-1F-B3-A0-C9-A7?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:45 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test59-61-D6-A0-80-45-70-8B-FE-0F-9B-B6-1F-B3-A0-C9-A7",
        "distributionPolicyId": "ED-01-43-3C-59-DE-FA-00-07-6C-C4-3E-03-28-90-60-13",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220300eee2-0000-0700-0000-62eae4cd0000\u0022",
        "Last-Modified": "Wed, 03 Aug 2022 21:12:45 GMT",
        "trace-id": "2f4f8bbc82109448bf11dc64604863ed"
      },
      "ResponseBody": {
        "id": "59-61-D6-A0-80-45-70-8B-FE-0F-9B-B6-1F-B3-A0-C9-A7",
        "name": "DefaultQueue-Sdk-Test59-61-D6-A0-80-45-70-8B-FE-0F-9B-B6-1F-B3-A0-C9-A7",
        "distributionPolicyId": "ED-01-43-3C-59-DE-FA-00-07-6C-C4-3E-03-28-90-60-13",
        "labels": {
          "Label_1": "Value_1",
          "Id": "59-61-D6-A0-80-45-70-8B-FE-0F-9B-B6-1F-B3-A0-C9-A7"
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/8C-F9-E8-F3-3F-22-D9-97-3D-20-A8-89-91-EA-3F-88-22?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:45 GMT"
      },
      "RequestBody": {
        "channelId": "D6-1D-8F-8C-09-CF-20-6E-D7-4F-79-74-C8-A9-2C-CB-1B",
        "queueId": "59-61-D6-A0-80-45-70-8B-FE-0F-9B-B6-1F-B3-A0-C9-A7",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "notes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-e01d-01ea9475da08\u0022",
        "Last-Modified": "Wed, 03 Aug 2022 21:12:46 GMT",
        "trace-id": "113a86c32bcd6c4097111e82227e5f1b"
      },
      "ResponseBody": {
        "id": "8C-F9-E8-F3-3F-22-D9-97-3D-20-A8-89-91-EA-3F-88-22",
        "jobStatus": "created",
        "channelId": "D6-1D-8F-8C-09-CF-20-6E-D7-4F-79-74-C8-A9-2C-CB-1B",
        "queueId": "59-61-D6-A0-80-45-70-8B-FE-0F-9B-B6-1F-B3-A0-C9-A7",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/8C-F9-E8-F3-3F-22-D9-97-3D-20-A8-89-91-EA-3F-88-22?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-9d90-bdea9475da08\u0022",
        "Last-Modified": "Wed, 03 Aug 2022 21:12:48 GMT",
        "trace-id": "ad2dc09967447145b3c962c0e42b80f4"
      },
      "ResponseBody": {
        "id": "8C-F9-E8-F3-3F-22-D9-97-3D-20-A8-89-91-EA-3F-88-22",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-08-03T21:12:48.0247965\u002B00:00",
        "channelId": "D6-1D-8F-8C-09-CF-20-6E-D7-4F-79-74-C8-A9-2C-CB-1B",
        "queueId": "59-61-D6-A0-80-45-70-8B-FE-0F-9B-B6-1F-B3-A0-C9-A7",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/8C-F9-E8-F3-3F-22-D9-97-3D-20-A8-89-91-EA-3F-88-22:cancel?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:48 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "1ad5c347a0e13d4ab487cb9ba6304680"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs?status=all\u0026queueId=59-61-D6-A0-80-45-70-8B-FE-0F-9B-B6-1F-B3-A0-C9-A7\u0026channelId=D6-1D-8F-8C-09-CF-20-6E-D7-4F-79-74-C8-A9-2C-CB-1B\u0026maxpagesize=1\u0026api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 03 Aug 2022 21:12:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "234b9c022fcb5d4d9754f97e62bae8f1"
      },
      "ResponseBody": {
        "value": [
          {
            "routerJob": {
              "id": "8C-F9-E8-F3-3F-22-D9-97-3D-20-A8-89-91-EA-3F-88-22",
              "jobStatus": "cancelled",
              "enqueueTimeUtc": "2022-08-03T21:12:48.0247965\u002B00:00",
              "channelId": "D6-1D-8F-8C-09-CF-20-6E-D7-4F-79-74-C8-A9-2C-CB-1B",
              "queueId": "59-61-D6-A0-80-45-70-8B-FE-0F-9B-B6-1F-B3-A0-C9-A7",
              "priority": 1,
              "dispositionCode": "Cancelled",
              "requestedWorkerSelectors": [],
              "attachedWorkerSelectors": [],
              "labels": {},
              "assignments": {},
              "tags": {},
              "notes": {}
            },
            "etag": "\u002200000002-0000-0000-ceff-c3eb9475da08\u0022"
          }
        ],
        "nextLink": "/routing/jobs?continuationToken=c3RhdHVzPWFsbCZxdWV1ZUlkPTU5LTYxLUQ2LUEwLTgwLTQ1LTcwLThCLUZFLTBGLTlCLUI2LTFGLUIzLUEwLUM5LUE3JmNoYW5uZWxJZD1ENi0xRC04Ri04Qy0wOS1DRi0yMC02RS1ENy00Ri03OS03NC1DOC1BOS0yQy1DQi0xQiZtYXhwYWdlc2l6ZT0xJmFwaS12ZXJzaW9uPTIwMjItMDctMTgtcHJldmlldyZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNVViVlpKUVV3elMzVk9iWEZCUVVsQlFVRkJRVUZCUFQwalVsUTZNU05VVWtNNk1TTkpVMVk2TWlOSlJVODZOalUxTmpjalVVTkdPamdqUmxCRE9rRmhiMEZCWjBGQlFVRkJRWEYzUVVOQlFVRkJRVUZCUFNJc0luSmhibWRsSWpwN0ltMXBiaUk2SWlJc0ltMWhlQ0k2SWtaR0luMTlYUT09"
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs?continuationToken=c3RhdHVzPWFsbCZxdWV1ZUlkPTU5LTYxLUQ2LUEwLTgwLTQ1LTcwLThCLUZFLTBGLTlCLUI2LTFGLUIzLUEwLUM5LUE3JmNoYW5uZWxJZD1ENi0xRC04Ri04Qy0wOS1DRi0yMC02RS1ENy00Ri03OS03NC1DOC1BOS0yQy1DQi0xQiZtYXhwYWdlc2l6ZT0xJmFwaS12ZXJzaW9uPTIwMjItMDctMTgtcHJldmlldyZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNVViVlpKUVV3elMzVk9iWEZCUVVsQlFVRkJRVUZCUFQwalVsUTZNU05VVWtNNk1TTkpVMVk2TWlOSlJVODZOalUxTmpjalVVTkdPam[...]
