{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/2D-DC-22-25-2A-23-BF-11-96-14-CF-27-01-7E-56-74-D5?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:38:56 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy2D-DC-22-25-2A-23-BF-11-96-14-CF-27-01-7E-56-74-D5",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022920235e1-0000-0700-0000-62aa19320000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:38:58 GMT",
        "trace-id": "48f1967beb12dd4bafdd8315349e391b"
      },
      "ResponseBody": {
        "id": "2D-DC-22-25-2A-23-BF-11-96-14-CF-27-01-7E-56-74-D5",
        "name": "LongestIdleDistributionPolicy2D-DC-22-25-2A-23-BF-11-96-14-CF-27-01-7E-56-74-D5",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/55-47-64-02-39-ED-23-0D-BE-F3-75-0A-ED-58-60-5D-E6?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:38:57 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test55-47-64-02-39-ED-23-0D-BE-F3-75-0A-ED-58-60-5D-E6",
        "distributionPolicyId": "2D-DC-22-25-2A-23-BF-11-96-14-CF-27-01-7E-56-74-D5",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002222049a58-0000-0700-0000-62aa19320000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:38:58 GMT",
        "trace-id": "ae1cfd68dff8db47b3cb5d277b39d257"
      },
      "ResponseBody": {
        "id": "55-47-64-02-39-ED-23-0D-BE-F3-75-0A-ED-58-60-5D-E6",
        "name": "DefaultQueue-Sdk-Test55-47-64-02-39-ED-23-0D-BE-F3-75-0A-ED-58-60-5D-E6",
        "distributionPolicyId": "2D-DC-22-25-2A-23-BF-11-96-14-CF-27-01-7E-56-74-D5",
        "labels": {
          "Label_1": "Value_1",
          "Id": "55-47-64-02-39-ED-23-0D-BE-F3-75-0A-ED-58-60-5D-E6"
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/D7-E3-1D-CD-63-C0-D4-B7-82-0F-B8-25-AD-E0-BA-F8-06?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:38:57 GMT"
      },
      "RequestBody": {
        "channelId": "D6-1D-8F-8C-09-CF-20-6E-D7-4F-79-74-C8-A9-2C-CB-1B",
        "queueId": "55-47-64-02-39-ED-23-0D-BE-F3-75-0A-ED-58-60-5D-E6",
        "priority": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-b7f1-99edf54eda08\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:38:58 GMT",
        "trace-id": "7a882a5d30b7a1489e354774ff065513"
      },
      "ResponseBody": {
        "id": "D7-E3-1D-CD-63-C0-D4-B7-82-0F-B8-25-AD-E0-BA-F8-06",
        "jobStatus": "created",
        "channelId": "D6-1D-8F-8C-09-CF-20-6E-D7-4F-79-74-C8-A9-2C-CB-1B",
        "queueId": "55-47-64-02-39-ED-23-0D-BE-F3-75-0A-ED-58-60-5D-E6",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/D7-E3-1D-CD-63-C0-D4-B7-82-0F-B8-25-AD-E0-BA-F8-06?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:38:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-7dcc-bfedf54eda08\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:38:58 GMT",
        "trace-id": "6d810531ae5d9e49a3d369aff0be3b24"
      },
      "ResponseBody": {
        "id": "D7-E3-1D-CD-63-C0-D4-B7-82-0F-B8-25-AD-E0-BA-F8-06",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-06-15T17:38:58.9070461\u002B00:00",
        "channelId": "D6-1D-8F-8C-09-CF-20-6E-D7-4F-79-74-C8-A9-2C-CB-1B",
        "queueId": "55-47-64-02-39-ED-23-0D-BE-F3-75-0A-ED-58-60-5D-E6",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/D7-E3-1D-CD-63-C0-D4-B7-82-0F-B8-25-AD-E0-BA-F8-06:cancel?api-version=2021-10-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:38:58 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "a5ed21e2c6f4134a9c405f018b08a4dd"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs?queueId=55-47-64-02-39-ED-23-0D-BE-F3-75-0A-ED-58-60-5D-E6\u0026channelId=D6-1D-8F-8C-09-CF-20-6E-D7-4F-79-74-C8-A9-2C-CB-1B\u0026maxpagesize=100\u0026api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:39:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "a5a939bc208413448d598c59074688bd"
      },
      "ResponseBody": {
        "value": [
          {
            "etag": "\u002200000002-0000-0000-e601-73eef54eda08\u0022",
            "id": "D7-E3-1D-CD-63-C0-D4-B7-82-0F-B8-25-AD-E0-BA-F8-06",
            "jobStatus": "cancelled",
            "enqueueTimeUtc": "2022-06-15T17:38:58.9070461\u002B00:00",
            "channelId": "D6-1D-8F-8C-09-CF-20-6E-D7-4F-79-74-C8-A9-2C-CB-1B",
            "queueId": "55-47-64-02-39-ED-23-0D-BE-F3-75-0A-ED-58-60-5D-E6",
            "priority": 1,
            "dispositionCode": "Cancelled",
            "requestedWorkerSelectors": [],
            "attachedWorkerSelectors": [],
            "labels": {},
            "assignments": {},
            "tags": {},
            "notes": {}
          },
          {
            "etag": "\u002200000001-0000-0000-c6cf-bfeef54eda08\u0022",
            "id": "A4-72-74-C1-FE-91-13-AB-68-59-5D-06-E6-CD-CB-86-15",
            "jobStatus": "queued",
            "enqueueTimeUtc": "2022-06-15T17:39:00.5848518\u002B00:00",
            "channelId": "D6-1D-8F-8C-09-CF-20-6E-D7-4F-79-74-C8-A9-2C-CB-1B",
            "queueId": "55-47-64-02-39-ED-23-0D-BE-F3-75-0A-ED-58-60-5D-E6",
            "priority": 1,
            "requestedWorkerSelectors": [],
            "attachedWorkerSelectors": [],
            "labels": {},
            "assignments": {},
            "tags": {},
            "notes": {}
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-qk3v36mr-0aguXwnjpdQJA-",
    "RandomSeed": "1535018245"
  }
}
