{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/A0-3D-65-B1-E0-2F-83-FA-A3-5E-34-01-0B-40-DC-08-47?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:05 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyA0-3D-65-B1-E0-2F-83-FA-A3-5E-34-01-0B-40-DC-08-47",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229f02ba10-0000-0700-0000-62aa6f010000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:05 GMT",
        "trace-id": "df1b0faf02efdb40af7b7d6c1529bda5"
      },
      "ResponseBody": {
        "id": "A0-3D-65-B1-E0-2F-83-FA-A3-5E-34-01-0B-40-DC-08-47",
        "name": "LongestIdleDistributionPolicyA0-3D-65-B1-E0-2F-83-FA-A3-5E-34-01-0B-40-DC-08-47",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/8A-69-43-1A-DA-ED-61-49-95-2A-58-A1-EB-6A-DA-DC-A7?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:05 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test8A-69-43-1A-DA-ED-61-49-95-2A-58-A1-EB-6A-DA-DC-A7",
        "distributionPolicyId": "A0-3D-65-B1-E0-2F-83-FA-A3-5E-34-01-0B-40-DC-08-47",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222504dd2c-0000-0700-0000-62aa6f010000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:05 GMT",
        "trace-id": "a3196f372dcd2543884439a5daaa0da1"
      },
      "ResponseBody": {
        "id": "8A-69-43-1A-DA-ED-61-49-95-2A-58-A1-EB-6A-DA-DC-A7",
        "name": "DefaultQueue-Sdk-Test8A-69-43-1A-DA-ED-61-49-95-2A-58-A1-EB-6A-DA-DC-A7",
        "distributionPolicyId": "A0-3D-65-B1-E0-2F-83-FA-A3-5E-34-01-0B-40-DC-08-47",
        "labels": {
          "Label_1": "Value_1",
          "Id": "8A-69-43-1A-DA-ED-61-49-95-2A-58-A1-EB-6A-DA-DC-A7"
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/E2-88-04-C8-4D-1C-2B-2D-BC-68-86-25-D0-BC-C5-67-D2?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:05 GMT"
      },
      "RequestBody": {
        "channelId": "D6-1D-8F-8C-09-CF-20-6E-D7-4F-79-74-C8-A9-2C-CB-1B",
        "queueId": "8A-69-43-1A-DA-ED-61-49-95-2A-58-A1-EB-6A-DA-DC-A7",
        "priority": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-d098-1313294fda08\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:05 GMT",
        "trace-id": "0866812cd695144e82449d628a8b021e"
      },
      "ResponseBody": {
        "id": "E2-88-04-C8-4D-1C-2B-2D-BC-68-86-25-D0-BC-C5-67-D2",
        "jobStatus": "created",
        "channelId": "D6-1D-8F-8C-09-CF-20-6E-D7-4F-79-74-C8-A9-2C-CB-1B",
        "queueId": "8A-69-43-1A-DA-ED-61-49-95-2A-58-A1-EB-6A-DA-DC-A7",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/E2-88-04-C8-4D-1C-2B-2D-BC-68-86-25-D0-BC-C5-67-D2?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-765b-2e13294fda08\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:06 GMT",
        "trace-id": "2cc8d1eec1439e4eaba2587c4311727e"
      },
      "ResponseBody": {
        "id": "E2-88-04-C8-4D-1C-2B-2D-BC-68-86-25-D0-BC-C5-67-D2",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-06-15T23:45:06.040511\u002B00:00",
        "channelId": "D6-1D-8F-8C-09-CF-20-6E-D7-4F-79-74-C8-A9-2C-CB-1B",
        "queueId": "8A-69-43-1A-DA-ED-61-49-95-2A-58-A1-EB-6A-DA-DC-A7",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/E2-88-04-C8-4D-1C-2B-2D-BC-68-86-25-D0-BC-C5-67-D2:cancel?api-version=2021-10-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:07 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "005fd8f13070cb49a79a748464c7fe92"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs?queueId=8A-69-43-1A-DA-ED-61-49-95-2A-58-A1-EB-6A-DA-DC-A7\u0026channelId=D6-1D-8F-8C-09-CF-20-6E-D7-4F-79-74-C8-A9-2C-CB-1B\u0026maxpagesize=100\u0026api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "2c5ed5862ac3884db8566c3276606887"
      },
      "ResponseBody": {
        "value": [
          {
            "etag": "\u002200000002-0000-0000-3d8d-ea13294fda08\u0022",
            "id": "E2-88-04-C8-4D-1C-2B-2D-BC-68-86-25-D0-BC-C5-67-D2",
            "jobStatus": "cancelled",
            "enqueueTimeUtc": "2022-06-15T23:45:06.040511\u002B00:00",
            "channelId": "D6-1D-8F-8C-09-CF-20-6E-D7-4F-79-74-C8-A9-2C-CB-1B",
            "queueId": "8A-69-43-1A-DA-ED-61-49-95-2A-58-A1-EB-6A-DA-DC-A7",
            "priority": 1,
            "dispositionCode": "Cancelled",
            "requestedWorkerSelectors": [],
            "attachedWorkerSelectors": [],
            "labels": {},
            "assignments": {},
            "tags": {},
            "notes": {}
          },
          {
            "etag": "\u002200000001-0000-0000-676f-6914294fda08\u0022",
            "id": "BE-D4-0B-F5-58-67-B2-DA-7F-D3-38-A7-1F-6D-98-6C-69",
            "jobStatus": "queued",
            "enqueueTimeUtc": "2022-06-15T23:45:08.1054055\u002B00:00",
            "channelId": "D6-1D-8F-8C-09-CF-20-6E-D7-4F-79-74-C8-A9-2C-CB-1B",
            "queueId": "8A-69-43-1A-DA-ED-61-49-95-2A-58-A1-EB-6A-DA-DC-A7",
            "priority": 1,
            "requestedWorkerSelectors": [],
            "attachedWorkerSelectors": [],
            "labels": {},
            "assignments": {},
            "tags": {},
            "notes": {}
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-0GCqrKeuC06G4RP9GV3bGg-",
    "RandomSeed": "1195557467"
  }
}
