{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/DE2BB893F9A21CDDF0034E4FF75B68E8BD4109E90C96C58B5A?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:55:06 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyDE2BB893F9A21CDDF0034E4FF75B68E8BD4109E90C96C58B5A",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227101d70e-0000-0700-0000-648ccc270000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:55:03 GMT",
        "trace-id": "4dc763fa-becb-e6b6-cd1c-9487a7363142"
      },
      "ResponseBody": {
        "id": "DE2BB893F9A21CDDF0034E4FF75B68E8BD4109E90C96C58B5A",
        "name": "LongestIdleDistributionPolicyDE2BB893F9A21CDDF0034E4FF75B68E8BD4109E90C96C58B5A",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/C01AF6FB51D953977297965194688B97E828ADFC3D14B23634?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:55:06 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestC01AF6FB51D953977297965194688B97E828ADFC3D14B23634",
        "distributionPolicyId": "DE2BB893F9A21CDDF0034E4FF75B68E8BD4109E90C96C58B5A",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220800804b-0000-0700-0000-648ccc280000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:55:04 GMT",
        "trace-id": "453dd150-e044-83cc-5d3c-29a6d9492aae"
      },
      "ResponseBody": {
        "id": "C01AF6FB51D953977297965194688B97E828ADFC3D14B23634",
        "name": "DefaultQueue-Sdk-TestC01AF6FB51D953977297965194688B97E828ADFC3D14B23634",
        "distributionPolicyId": "DE2BB893F9A21CDDF0034E4FF75B68E8BD4109E90C96C58B5A",
        "labels": {
          "Label_1": "Value_1",
          "Id": "C01AF6FB51D953977297965194688B97E828ADFC3D14B23634"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/0BB0BD65A19DD0B3F128A9B6514C8BDD340E38F46C7F3742B7?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:55:06 GMT"
      },
      "RequestBody": {
        "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
        "queueId": "C01AF6FB51D953977297965194688B97E828ADFC3D14B23634",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "notes": {},
        "unavailableForMatching": true,
        "scheduledTimeUtc": "2023-06-16T20:56:06.8790204Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-93ea-b6f5ab6edb08\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:55:04 GMT",
        "trace-id": "b2d55316-89d3-dd2c-2957-73ab062354cf"
      },
      "ResponseBody": {
        "id": "0BB0BD65A19DD0B3F128A9B6514C8BDD340E38F46C7F3742B7",
        "status": "pendingSchedule",
        "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
        "queueId": "C01AF6FB51D953977297965194688B97E828ADFC3D14B23634",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "unavailableForMatching": true,
        "scheduledTimeUtc": "2023-06-16T20:56:06.8790204\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs?queueId=C01AF6FB51D953977297965194688B97E828ADFC3D14B23634\u0026channelId=DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963\u0026scheduledAfter=2023-06-16T20%3A56%3A06.8790204Z\u0026maxpagesize=1\u0026api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:55:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "51e95f83-b69b-60f2-7922-08a53c3ebc5f"
      },
      "ResponseBody": {
        "value": [
          {
            "job": {
              "id": "0BB0BD65A19DD0B3F128A9B6514C8BDD340E38F46C7F3742B7",
              "status": "pendingSchedule",
              "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
              "queueId": "C01AF6FB51D953977297965194688B97E828ADFC3D14B23634",
              "priority": 1,
              "requestedWorkerSelectors": [],
              "attachedWorkerSelectors": [],
              "labels": {},
              "assignments": {},
              "tags": {},
              "notes": {},
              "unavailableForMatching": true,
              "scheduledTimeUtc": "2023-06-16T20:56:06.8790204\u002B00:00"
            },
            "etag": "\u002200000000-0000-0000-93ea-b6f5ab6edb08\u0022"
          }
        ]
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/DE2BB893F9A21CDDF0034E4FF75B68E8BD4109E90C96C58B5A?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=69aN5wvJ6tBE2Ixc0GaDJmyoS60sldnSkWE5Fm9q\u002BKU=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Fri, 16 Jun 2023 20:55:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "b4481fac-ce5e-58e2-efec-d59ec71110f1"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "BadRequest",
          "message": "One or more validation errors occurred.",
          "target": "/routing/distributionPolicies/DE2BB893F9A21CDDF0034E4FF75B68E8BD4109E90C96C58B5A",
          "details": [
            {
              "code": "QueueExistsWithDistributionPolicy",
              "message": "There is a queue with this distribution policy"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-GdC5ti6MmEOZgzoUqJ18EA-",
    "RandomSeed": "1031632341",
    "scheduled-time-utc": "2023-06-16T20:56:06.8790204\u002B00:00"
  }
}
