{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/AE2948BFBBADC926020D6F0F33F305AF77AB567F088C115598?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 06 Jun 2023 23:50:21 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyAE2948BFBBADC926020D6F0F33F305AF77AB567F088C115598",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022010072a7-0000-0700-0000-647fc63e0000\u0022",
        "Last-Modified": "Tue, 06 Jun 2023 23:50:22 GMT",
        "trace-id": "4d69545a-91b0-2746-8a46-069aa224ef06"
      },
      "ResponseBody": {
        "id": "AE2948BFBBADC926020D6F0F33F305AF77AB567F088C115598",
        "name": "LongestIdleDistributionPolicyAE2948BFBBADC926020D6F0F33F305AF77AB567F088C115598",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/3D52CDB7F65801F3FE396C7F037A5CFCFF6E2C014A09352ACA?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 06 Jun 2023 23:50:22 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test3D52CDB7F65801F3FE396C7F037A5CFCFF6E2C014A09352ACA",
        "distributionPolicyId": "AE2948BFBBADC926020D6F0F33F305AF77AB567F088C115598",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002277002a73-0000-0700-0000-647fc63e0000\u0022",
        "Last-Modified": "Tue, 06 Jun 2023 23:50:22 GMT",
        "trace-id": "2822b629-3fc7-9f4b-9eb5-9544b70cc847"
      },
      "ResponseBody": {
        "id": "3D52CDB7F65801F3FE396C7F037A5CFCFF6E2C014A09352ACA",
        "name": "DefaultQueue-Sdk-Test3D52CDB7F65801F3FE396C7F037A5CFCFF6E2C014A09352ACA",
        "distributionPolicyId": "AE2948BFBBADC926020D6F0F33F305AF77AB567F088C115598",
        "labels": {
          "Label_1": "Value_1",
          "Id": "3D52CDB7F65801F3FE396C7F037A5CFCFF6E2C014A09352ACA"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/E237EED7A5C38B31B018717807CE67C5803C3E9979D1717571?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 06 Jun 2023 23:50:22 GMT"
      },
      "RequestBody": {
        "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
        "queueId": "3D52CDB7F65801F3FE396C7F037A5CFCFF6E2C014A09352ACA",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "notes": {},
        "unavailableForMatching": true,
        "scheduledTimeUtc": "2023-06-06T23:51:22.5406671Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-4f97-55cbe866db08\u0022",
        "Last-Modified": "Tue, 06 Jun 2023 23:50:23 GMT",
        "trace-id": "320b2ff7-47ad-2c4a-b002-e455bd4f16b8"
      },
      "ResponseBody": {
        "id": "E237EED7A5C38B31B018717807CE67C5803C3E9979D1717571",
        "jobStatus": "pendingSchedule",
        "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
        "queueId": "3D52CDB7F65801F3FE396C7F037A5CFCFF6E2C014A09352ACA",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "unavailableForMatching": true,
        "scheduledTimeUtc": "2023-06-06T23:51:22.5406671\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs?queueId=3D52CDB7F65801F3FE396C7F037A5CFCFF6E2C014A09352ACA\u0026channelId=DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963\u0026scheduledAfter=2023-06-06T23%3A51%3A22.5406671Z\u0026maxpagesize=1\u0026api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 06 Jun 2023 23:50:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "45a2aea2-5a6a-e64a-829c-1e269d889852"
      },
      "ResponseBody": {
        "value": [
          {
            "routerJob": {
              "id": "E237EED7A5C38B31B018717807CE67C5803C3E9979D1717571",
              "jobStatus": "pendingSchedule",
              "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
              "queueId": "3D52CDB7F65801F3FE396C7F037A5CFCFF6E2C014A09352ACA",
              "priority": 1,
              "requestedWorkerSelectors": [],
              "attachedWorkerSelectors": [],
              "labels": {},
              "assignments": {},
              "tags": {},
              "notes": {},
              "unavailableForMatching": true,
              "scheduledTimeUtc": "2023-06-06T23:51:22.5406671\u002B00:00"
            },
            "etag": "\u002200000000-0000-0000-4f97-55cbe866db08\u0022"
          }
        ]
      }
    },
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/jobs/E237EED7A5C38B31B018717807CE67C5803C3E9979D1717571?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=Peb3Gu1RgI9fSKcNuuz\u002BQhy1CR8qs5JO6brzw5wZpms=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Tue, 06 Jun 2023 23:50:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "06647647-4e3a-2947-bc57-f6a249d42737"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "Conflict",
          "message": "Validation failed: \r\n -- JobStatus: The job is neither closed nor cancelled",
          "target": "/routing/jobs/E237EED7A5C38B31B018717807CE67C5803C3E9979D1717571"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-lNWGslsE7k6ANAhy6mTjVQ-",
    "RandomSeed": "1975420636",
    "scheduled-time-utc": "2023-06-06T23:51:22.5406671\u002B00:00"
  }
}
