{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/DBD023B072E8EBB14DA4359F0755D4845B509DDE5CE0A804C3?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 06 Jun 2023 23:51:48 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyDBD023B072E8EBB14DA4359F0755D4845B509DDE5CE0A804C3",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220100bda7-0000-0700-0000-647fc6950000\u0022",
        "Last-Modified": "Tue, 06 Jun 2023 23:51:49 GMT",
        "trace-id": "c5c35a44-58fd-1f46-bd14-563e4d0bd49d"
      },
      "ResponseBody": {
        "id": "DBD023B072E8EBB14DA4359F0755D4845B509DDE5CE0A804C3",
        "name": "LongestIdleDistributionPolicyDBD023B072E8EBB14DA4359F0755D4845B509DDE5CE0A804C3",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/60109138A05954EBD5F61F02BE1FAC2A254C27598C19A71DC3?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 06 Jun 2023 23:51:48 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test60109138A05954EBD5F61F02BE1FAC2A254C27598C19A71DC3",
        "distributionPolicyId": "DBD023B072E8EBB14DA4359F0755D4845B509DDE5CE0A804C3",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002277007075-0000-0700-0000-647fc6950000\u0022",
        "Last-Modified": "Tue, 06 Jun 2023 23:51:49 GMT",
        "trace-id": "cd6e4af8-fc87-294a-9199-ddfa11c7350d"
      },
      "ResponseBody": {
        "id": "60109138A05954EBD5F61F02BE1FAC2A254C27598C19A71DC3",
        "name": "DefaultQueue-Sdk-Test60109138A05954EBD5F61F02BE1FAC2A254C27598C19A71DC3",
        "distributionPolicyId": "DBD023B072E8EBB14DA4359F0755D4845B509DDE5CE0A804C3",
        "labels": {
          "Label_1": "Value_1",
          "Id": "60109138A05954EBD5F61F02BE1FAC2A254C27598C19A71DC3"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/928E2A550FA773409B410D4598BCA3BFBFF16D974D7B9CCD6A?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 06 Jun 2023 23:51:49 GMT"
      },
      "RequestBody": {
        "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
        "queueId": "60109138A05954EBD5F61F02BE1FAC2A254C27598C19A71DC3",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "notes": {},
        "unavailableForMatching": true,
        "scheduledTimeUtc": "2023-06-06T23:52:49.3177400Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-8b8f-52ffe866db08\u0022",
        "Last-Modified": "Tue, 06 Jun 2023 23:51:50 GMT",
        "trace-id": "a2839d2c-9d47-ec42-9bcf-b0cf587a0382"
      },
      "ResponseBody": {
        "id": "928E2A550FA773409B410D4598BCA3BFBFF16D974D7B9CCD6A",
        "jobStatus": "pendingSchedule",
        "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
        "queueId": "60109138A05954EBD5F61F02BE1FAC2A254C27598C19A71DC3",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "unavailableForMatching": true,
        "scheduledTimeUtc": "2023-06-06T23:52:49.31774\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs?queueId=60109138A05954EBD5F61F02BE1FAC2A254C27598C19A71DC3\u0026channelId=DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963\u0026scheduledAfter=2023-06-06T23%3A52%3A49.3177400Z\u0026maxpagesize=1\u0026api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 06 Jun 2023 23:51:50 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "d7f411ef-6d81-c149-bf11-f498db863eb2"
      },
      "ResponseBody": {
        "value": [
          {
            "routerJob": {
              "id": "928E2A550FA773409B410D4598BCA3BFBFF16D974D7B9CCD6A",
              "jobStatus": "pendingSchedule",
              "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
              "queueId": "60109138A05954EBD5F61F02BE1FAC2A254C27598C19A71DC3",
              "priority": 1,
              "requestedWorkerSelectors": [],
              "attachedWorkerSelectors": [],
              "labels": {},
              "assignments": {},
              "tags": {},
              "notes": {},
              "unavailableForMatching": true,
              "scheduledTimeUtc": "2023-06-06T23:52:49.31774\u002B00:00"
            },
            "etag": "\u002200000000-0000-0000-8b8f-52ffe866db08\u0022"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-9q5CawdT80iADptsVEpXKg-",
    "RandomSeed": "797840807",
    "scheduled-time-utc": "2023-06-06T23:52:49.3177400\u002B00:00"
  }
}
