{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/FEF3F9DD1F03B457FF106D3B8AAE3153300C3930B6865C2480?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 24 Jul 2023 18:57:45 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyFEF3F9DD1F03B457FF106D3B8AAE3153300C3930B6865C2480",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220200328c-0000-0700-0000-64bec9a90000\u0022",
        "Last-Modified": "Mon, 24 Jul 2023 18:57:45 GMT",
        "trace-id": "7a0b4265-09c9-a767-ddf0-d1612824ca83"
      },
      "ResponseBody": {
        "id": "FEF3F9DD1F03B457FF106D3B8AAE3153300C3930B6865C2480",
        "name": "LongestIdleDistributionPolicyFEF3F9DD1F03B457FF106D3B8AAE3153300C3930B6865C2480",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/0FB054EC22A8C58937D29C1E086DE8190305C49855255FFD48?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 24 Jul 2023 18:57:45 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test0FB054EC22A8C58937D29C1E086DE8190305C49855255FFD48",
        "distributionPolicyId": "FEF3F9DD1F03B457FF106D3B8AAE3153300C3930B6865C2480",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220200b500-0000-0700-0000-64bec9a90000\u0022",
        "Last-Modified": "Mon, 24 Jul 2023 18:57:45 GMT",
        "trace-id": "ff914757-8a28-03d4-0f93-074c8c32a92f"
      },
      "ResponseBody": {
        "id": "0FB054EC22A8C58937D29C1E086DE8190305C49855255FFD48",
        "name": "DefaultQueue-Sdk-Test0FB054EC22A8C58937D29C1E086DE8190305C49855255FFD48",
        "distributionPolicyId": "FEF3F9DD1F03B457FF106D3B8AAE3153300C3930B6865C2480",
        "labels": {
          "Label_1": "Value_1",
          "Id": "0FB054EC22A8C58937D29C1E086DE8190305C49855255FFD48"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/752396672DE972EC56CE2DE66061C2BF93AB4399FBABD73C1C?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 24 Jul 2023 18:57:45 GMT"
      },
      "RequestBody": {
        "prioritizationRule": {
          "value": 1,
          "kind": "static-rule"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223700d132-0000-0700-0000-64bec9a90000\u0022",
        "Last-Modified": "Mon, 24 Jul 2023 18:57:45 GMT",
        "trace-id": "f3015839-e2ad-5c4c-2f48-f26003caa8f2"
      },
      "ResponseBody": {
        "id": "752396672DE972EC56CE2DE66061C2BF93AB4399FBABD73C1C",
        "queueSelectors": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/1FF7C74C0270AA39ABF508723D1CB2930333269DED3CCF2E5E?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 24 Jul 2023 18:57:45 GMT"
      },
      "RequestBody": {
        "channelId": "935BD60A1C3AD0EFB521651F0F4989657ACD7238ED8A1E5997",
        "classificationPolicyId": "752396672DE972EC56CE2DE66061C2BF93AB4399FBABD73C1C",
        "queueId": "0FB054EC22A8C58937D29C1E086DE8190305C49855255FFD48"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-f80f-32de778cdb08\u0022",
        "Last-Modified": "Mon, 24 Jul 2023 18:57:45 GMT",
        "trace-id": "dcab20cf-99f9-1fd6-00d1-8a642a8ef6db"
      },
      "ResponseBody": {
        "id": "1FF7C74C0270AA39ABF508723D1CB2930333269DED3CCF2E5E",
        "status": "pendingClassification",
        "channelId": "935BD60A1C3AD0EFB521651F0F4989657ACD7238ED8A1E5997",
        "classificationPolicyId": "752396672DE972EC56CE2DE66061C2BF93AB4399FBABD73C1C",
        "queueId": "0FB054EC22A8C58937D29C1E086DE8190305C49855255FFD48",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "matchingMode": {
          "modeType": "queueAndMatchMode",
          "queueAndMatchMode": {}
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/1FF7C74C0270AA39ABF508723D1CB2930333269DED3CCF2E5E:reclassify?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 24 Jul 2023 18:57:46 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "f21be33d-c1b9-7085-5611-7c5d561cd419"
      },
      "ResponseBody": {}
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-WZX5BvGo10ey_A4jkpGDjA-",
    "RandomSeed": "959702594"
  }
}
