{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/AF7BD1CC5CADE95FC44009F1D13987C5897BBD5C3A035552FB?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 24 Jul 2023 18:57:42 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyAF7BD1CC5CADE95FC44009F1D13987C5897BBD5C3A035552FB",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220200318c-0000-0700-0000-64bec9a70000\u0022",
        "Last-Modified": "Mon, 24 Jul 2023 18:57:43 GMT",
        "trace-id": "4949f43c-2b2d-969f-ee9a-f2762ce54b3f"
      },
      "ResponseBody": {
        "id": "AF7BD1CC5CADE95FC44009F1D13987C5897BBD5C3A035552FB",
        "name": "LongestIdleDistributionPolicyAF7BD1CC5CADE95FC44009F1D13987C5897BBD5C3A035552FB",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/ED50A1D5BD06EED39262D90BBA9A0D6AD5F6C3A8AAB42E0903?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 24 Jul 2023 18:57:43 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestED50A1D5BD06EED39262D90BBA9A0D6AD5F6C3A8AAB42E0903",
        "distributionPolicyId": "AF7BD1CC5CADE95FC44009F1D13987C5897BBD5C3A035552FB",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220200b400-0000-0700-0000-64bec9a80000\u0022",
        "Last-Modified": "Mon, 24 Jul 2023 18:57:44 GMT",
        "trace-id": "eec9446a-8159-2b63-2196-6eb9448dec7b"
      },
      "ResponseBody": {
        "id": "ED50A1D5BD06EED39262D90BBA9A0D6AD5F6C3A8AAB42E0903",
        "name": "DefaultQueue-Sdk-TestED50A1D5BD06EED39262D90BBA9A0D6AD5F6C3A8AAB42E0903",
        "distributionPolicyId": "AF7BD1CC5CADE95FC44009F1D13987C5897BBD5C3A035552FB",
        "labels": {
          "Label_1": "Value_1",
          "Id": "ED50A1D5BD06EED39262D90BBA9A0D6AD5F6C3A8AAB42E0903"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/6CBB9110ED1EE709AEC44FCA536DA84DDBC24669B2FBAB8689?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 24 Jul 2023 18:57:44 GMT"
      },
      "RequestBody": {
        "prioritizationRule": {
          "value": 1,
          "kind": "static-rule"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223700c332-0000-0700-0000-64bec9a80000\u0022",
        "Last-Modified": "Mon, 24 Jul 2023 18:57:44 GMT",
        "trace-id": "1086e649-1a68-23e2-bc19-c108dbbef6c6"
      },
      "ResponseBody": {
        "id": "6CBB9110ED1EE709AEC44FCA536DA84DDBC24669B2FBAB8689",
        "queueSelectors": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/7C6628EF43E83F54A03153A4DD9F72BBFB214C14A2E257F78F?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 24 Jul 2023 18:57:44 GMT"
      },
      "RequestBody": {
        "channelId": "935BD60A1C3AD0EFB521651F0F4989657ACD7238ED8A1E5997",
        "classificationPolicyId": "6CBB9110ED1EE709AEC44FCA536DA84DDBC24669B2FBAB8689",
        "queueId": "ED50A1D5BD06EED39262D90BBA9A0D6AD5F6C3A8AAB42E0903"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-b293-5add778cdb08\u0022",
        "Last-Modified": "Mon, 24 Jul 2023 18:57:44 GMT",
        "trace-id": "0f62a195-0c57-0638-d71d-58c0defcc98f"
      },
      "ResponseBody": {
        "id": "7C6628EF43E83F54A03153A4DD9F72BBFB214C14A2E257F78F",
        "status": "pendingClassification",
        "channelId": "935BD60A1C3AD0EFB521651F0F4989657ACD7238ED8A1E5997",
        "classificationPolicyId": "6CBB9110ED1EE709AEC44FCA536DA84DDBC24669B2FBAB8689",
        "queueId": "ED50A1D5BD06EED39262D90BBA9A0D6AD5F6C3A8AAB42E0903",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "matchingMode": {
          "modeType": "queueAndMatchMode",
          "queueAndMatchMode": {}
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/7C6628EF43E83F54A03153A4DD9F72BBFB214C14A2E257F78F:reclassify?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 24 Jul 2023 18:57:44 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "d081761c-53f2-cf47-75b7-21ccee7779da"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/6CBB9110ED1EE709AEC44FCA536DA84DDBC24669B2FBAB8689?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=X3an1bnA/q/3fFNCtKD/VrH2OQ2AqtaF6i07Sv8zcC0=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 24 Jul 2023 18:57:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "2ef1656b-b39e-2df8-a806-9659fdd2d1f4"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "BadRequest",
          "message": "One or more validation errors occurred.",
          "target": "/routing/classificationPolicies/6CBB9110ED1EE709AEC44FCA536DA84DDBC24669B2FBAB8689",
          "details": [
            {
              "code": "ActiveJobWithClassificationPolicyExist",
              "message": "There is active job with this classification policy"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-An8GZ1i3qU69NSqlJsKuqg-",
    "RandomSeed": "1781597758"
  }
}
