{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/A9990450C1595806B2079DBBC20EFCE673B87B1CF2F32BA384?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Jul 2023 15:16:33 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyA9990450C1595806B2079DBBC20EFCE673B87B1CF2F32BA384",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022020007fc-0000-0700-0000-64bfe7510000\u0022",
        "Last-Modified": "Tue, 25 Jul 2023 15:16:33 GMT",
        "trace-id": "cc386c9d-50fc-af2a-2e40-5e9b491d3d46"
      },
      "ResponseBody": {
        "id": "A9990450C1595806B2079DBBC20EFCE673B87B1CF2F32BA384",
        "name": "LongestIdleDistributionPolicyA9990450C1595806B2079DBBC20EFCE673B87B1CF2F32BA384",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/35E3719D268079D8DF738921E3868A4D177D370ADDAC298DE6?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Jul 2023 15:16:34 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test35E3719D268079D8DF738921E3868A4D177D370ADDAC298DE6",
        "distributionPolicyId": "A9990450C1595806B2079DBBC20EFCE673B87B1CF2F32BA384",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002202008c2f-0000-0700-0000-64bfe7520000\u0022",
        "Last-Modified": "Tue, 25 Jul 2023 15:16:34 GMT",
        "trace-id": "8334c003-086d-38ad-c340-88c54813fc9a"
      },
      "ResponseBody": {
        "id": "35E3719D268079D8DF738921E3868A4D177D370ADDAC298DE6",
        "name": "DefaultQueue-Sdk-Test35E3719D268079D8DF738921E3868A4D177D370ADDAC298DE6",
        "distributionPolicyId": "A9990450C1595806B2079DBBC20EFCE673B87B1CF2F32BA384",
        "labels": {
          "Label_1": "Value_1",
          "Id": "35E3719D268079D8DF738921E3868A4D177D370ADDAC298DE6"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/C5D7E5AA44C22A1775BADA61B46AAEAD4AABA7263266B33C4E?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Jul 2023 15:16:34 GMT"
      },
      "RequestBody": {
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "35E3719D268079D8DF738921E3868A4D177D370ADDAC298DE6",
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true
        },
        "tags": {
          "Tag_1": "Value_1",
          "Tag_2": 2,
          "Tag_3": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-de92-0b22228ddb08\u0022",
        "Last-Modified": "Tue, 25 Jul 2023 15:16:34 GMT",
        "trace-id": "8031f45d-892c-85d2-22f9-6c3150439401"
      },
      "ResponseBody": {
        "id": "C5D7E5AA44C22A1775BADA61B46AAEAD4AABA7263266B33C4E",
        "status": "created",
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "35E3719D268079D8DF738921E3868A4D177D370ADDAC298DE6",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true
        },
        "assignments": {},
        "tags": {
          "Tag_1": "Value_1",
          "Tag_2": 2,
          "Tag_3": true
        },
        "notes": {},
        "matchingMode": {
          "modeType": "queueAndMatchMode",
          "queueAndMatchMode": {}
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/C5D7E5AA44C22A1775BADA61B46AAEAD4AABA7263266B33C4E?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Jul 2023 15:16:34 GMT"
      },
      "RequestBody": {
        "labels": {
          "Label_1": null,
          "Label_2": null,
          "Label_3": "Value_Updated_3",
          "Label_4": "Value_4"
        },
        "tags": {
          "Tag_1": null,
          "Tag_2": null,
          "Tag_3": "Value_Updated_3",
          "Tag_4": "Value_4"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000003-0000-0000-c999-5822228ddb08\u0022",
        "Last-Modified": "Tue, 25 Jul 2023 15:16:34 GMT",
        "trace-id": "2131aa32-ce2c-4930-407e-8ca90a76a4c4"
      },
      "ResponseBody": {
        "id": "C5D7E5AA44C22A1775BADA61B46AAEAD4AABA7263266B33C4E",
        "status": "queued",
        "enqueuedAt": "2023-07-25T15:16:34.4508575\u002B00:00",
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "35E3719D268079D8DF738921E3868A4D177D370ADDAC298DE6",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Label_3": "Value_Updated_3",
          "Label_4": "Value_4"
        },
        "assignments": {},
        "tags": {
          "Tag_3": "Value_Updated_3",
          "Tag_4": "Value_4"
        },
        "notes": {},
        "matchingMode": {
          "modeType": "queueAndMatchMode",
          "queueAndMatchMode": {}
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/C5D7E5AA44C22A1775BADA61B46AAEAD4AABA7263266B33C4E?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=9wlO8PwCQy9wONk8bOtP7F8sSyCCfiXl\u002BkvQwX2A2zo=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Tue, 25 Jul 2023 15:16:35 GMT"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "27620c2f-6f92-195a-3457-011b467ba07c"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "Conflict",
          "message": "Validation failed: \r\n -- JobStatus: The job is neither closed nor cancelled",
          "target": "/routing/jobs/C5D7E5AA44C22A1775BADA61B46AAEAD4AABA7263266B33C4E"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-snqMs3A3DUOv5bLzWOgBzA-",
    "RandomSeed": "43283493"
  }
}
