{
  "Entries": [
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexes(\u0027rxjicnaq\u0027)/docs/$count?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "elapsed-time": "70",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "\uFEFF0"
    },
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexes(\u0027rxjicnaq\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "195"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "486317286",
    "SearchIndexName": "rxjicnaq",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-heathsearch2"
  }
}