{
  "Entries": [
    {
      "RequestUri": "https://azs-net-twcjcxka.search.windows.net/indexes(\u0027yqniyiii\u0027)/docs/search.index?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "1",
            "hotelName": null,
            "description": null,
            "descriptionFr": null,
            "category": null,
            "tags": [],
            "parkingIncluded": null,
            "smokingAllowed": null,
            "lastRenovationDate": null,
            "rating": null,
            "address": null,
            "rooms": []
          },
          {
            "@search.action": "upload",
            "hotelId": "2",
            "hotelName": null,
            "description": null,
            "descriptionFr": null,
            "category": null,
            "tags": [],
            "parkingIncluded": null,
            "smokingAllowed": null,
            "lastRenovationDate": null,
            "rating": null,
            "address": null,
            "rooms": []
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "177",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-twcjcxka.search.windows.net/indexes(\u0027yqniyiii\u0027)/$metadata#Collection(Microsoft.Azure.Search.V2019_05_06_Preview.IndexResult)",
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "2",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-twcjcxka.search.windows.net/indexes(\u0027yqniyiii\u0027)/docs/$count?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "elapsed-time": "3",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "\uFEFF2"
    },
[...]
    {
      "RequestUri": "https://azs-net-twcjcxka.search.windows.net/indexes(\u0027yqniyiii\u0027)/docs/$count?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "elapsed-time": "4",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "\uFEFF0"
    }
  ],
  "Variables": {
    "CLIENT_ID": "f9ab11db-b032-44b3-af0a-44713541cc40",
    "LOCATION": "westus2",
    "RandomSeed": "432976220",
    "RESOURCE_GROUP": "heaths-search",
    "SearchIndexName": "yqniyiii",
    "SearchServiceName": "azs-net-twcjcxka",
    "SUBSCRIPTION_ID": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}