{
  "Entries": [
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexes(\u0027bvmydjqk\u0027)/docs/search.index?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "1",
            "hotelName": null,
            "description": null,
            "descriptionFr": null,
            "category": "Luxury",
            "tags": [],
            "parkingIncluded": null,
            "smokingAllowed": null,
            "lastRenovationDate": null,
            "rating": null,
            "address": null,
            "rooms": []
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "109",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexes(\u0027bvmydjqk\u0027)/docs/$count?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "elapsed-time": "3",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "\uFEFF1"
    },
[...]
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexes(\u0027bvmydjqk\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "191"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "836785609",
    "SearchIndexName": "bvmydjqk",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-heathsearch2"
  }
}