{
  "Entries": [
    {
      "RequestUri": "https://azs-net-mixqfrei.search.windows.net/indexes(\u0027fxpgsprx\u0027)/docs/search.index?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "1",
            "hotelName": "Secret Point Motel",
            "description": "The hotel is ideally located on the main commercial artery of the city in the heart of New York. A few minutes away is Time\u0027s Square and the historic centre of the city, as well as other places of interest that make New York one of America\u0027s most attractive and cosmopolitan cities.",
            "descriptionFr": "L\u0027h\u00F4tel est id\u00E9alement situ\u00E9 sur la principale art\u00E8re commerciale de la ville en plein c\u0153ur de New York. A quelques minutes se trouve la place du temps et le centre historique de la ville, ainsi que d\u0027autres lieux d\u0027int\u00E9r\u00EAt qui font de New York l\u0027une des villes les plus attractives et cosmopolites de l\u0027Am\u00E9rique.",
            "category": "Boutique",
            "tags": [
              "pool",
              "air conditioning",
              "concierge"
            ],
            "parkingIncluded": false,
            "smokingAllowed": true,
            "lastRenovationDate": "1970-01-18T00:00:00.0000000-05:00",
            "rating": 4,
            "location": null,
            "address": {
              "streetAddress": "677 5th Ave",
              "city": "New York",
              "stateProvince": "NY",
              "country": "USA",
              "postalCode": "10022"
            },
            "rooms": [
              {
                "description": "Budget Room, 1 Queen Bed (Cityside)",
                "descriptionFr": "Chambre \u00C9conomique, 1 grand lit (c\u00F4t\u00E9 ville)",
                "type": "Budget Room",
                "baseRate": 9.6899999999999995,
                "bedOptions": "1 Queen Bed",
                "sleepsCount": 2,
                "smokingAllowed": true,
                "tags": [
                  "vcr/dvd"
                ]
              },
              {
                "description": "Budget Room, 1 King Bed (Mountain View)",
                "descriptionFr": "Chambre \u00C9conomique, 1 tr\u00E8s grand lit (Mountain View)",
                "type": "Budget Room",
                "baseRate": 8.0899999999999999,
                "bedOptions": "1 King Bed",
                "sleepsCount": 2,
             [...]
    {
      "RequestUri": "https://azs-net-mixqfrei.search.windows.net/indexes(\u0027fxpgsprx\u0027)/docs/$count?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "elapsed-time": "22",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "\uFEFF3"
    }
  ],
  "Variables": {
    "CLIENT_ID": "f9ab11db-b032-44b3-af0a-44713541cc40",
    "LOCATION": "westus2",
    "RandomSeed": "1113032202",
    "RESOURCE_GROUP": "heaths-search",
    "SearchIndexName": "fxpgsprx",
    "SearchServiceName": "azs-net-mixqfrei",
    "SUBSCRIPTION_ID": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}