{
  "Entries": [
    {
      "RequestUri": "https://azs-net-teglaza.search.windows.net/indexes(\u0027xgmqwbvp\u0027)/docs/search.index?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "1",
            "hotelName": "Highway Hole in the Wall"
          },
          {
            "@search.action": "upload",
            "hotelId": "2",
            "hotelName": "Freeway Flophouse"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "171",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "2",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-teglaza.search.windows.net/indexes(\u0027xgmqwbvp\u0027)/docs/$count?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "elapsed-time": "4",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "\uFEFF2"
    },
[...]
    {
      "RequestUri": "https://azs-net-teglaza.search.windows.net/indexes(\u0027xgmqwbvp\u0027)/docs(\u00271\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "6",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "hotelId": "1",
        "hotelName": "Highway Haven",
        "description": null,
        "descriptionFr": null,
        "category": null,
        "tags": [],
        "parkingIncluded": null,
        "smokingAllowed": null,
        "lastRenovationDate": null,
        "rating": null,
        "location": null,
        "address": null,
        "rooms": []
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-teglaza.search.windows.net/indexes(\u0027xgmqwbvp\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "597"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1452263316",
    "SearchIndexName": "xgmqwbvp",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-teglaza"
  }
}