{
  "Entries": [
    {
      "RequestUri": "https://azs-net-xvesmvsh.search.windows.net/indexes(\u0027uesuuaiy\u0027)/docs/search.index?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "1",
            "hotelName": null,
            "description": null,
            "descriptionFr": null,
            "category": "",
            "tags": [],
            "parkingIncluded": false,
            "smokingAllowed": null,
            "lastRenovationDate": "0001-01-01T00:00:00.0000000\u002B00:00",
            "rating": -2147483648,
            "address": {
              "streetAddress": null,
              "city": null,
              "stateProvince": null,
              "country": null,
              "postalCode": null
            },
            "rooms": [
              {
                "description": null,
                "descriptionFr": null,
                "type": null,
                "baseRate": -1.7976931348623157E+308,
                "bedOptions": null,
                "sleepsCount": null,
                "smokingAllowed": null,
                "tags": []
              }
            ]
          },
          {
            "@search.action": "upload",
            "hotelId": "2",
            "hotelName": null,
            "description": null,
            "descriptionFr": null,
            "category": "test",
            "tags": [
              "test"
            ],
            "parkingIncluded": true,
            "smokingAllowed": null,
            "lastRenovationDate": "9999-1[...]
    {
      "RequestUri": "https://azs-net-xvesmvsh.search.windows.net/indexes(\u0027uesuuaiy\u0027)/docs(\u00271\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "elapsed-time": "11",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-xvesmvsh.search.windows.net/indexes(\u0027uesuuaiy\u0027)/$metadata#docs(*)/$entity",
        "hotelId": "1",
        "hotelName": null,
        "description": null,
        "descriptionFr": null,
        "category": "",
        "tags": [],
        "parkingIncluded": false,
        "smokingAllowed": null,
        "lastRenovationDate": "0001-01-01T00:00:00Z",
        "rating": -2147483648,
        "location": null,
        "address": {
          "streetAddress": null,
          "city": null,
          "stateProvince": null,
          "country": null,
          "postalCode": null
        },
        "rooms": [
          {
            "description": null,
            "descriptionFr": null,
            "type": null,
            "baseRate": -1.7976931348623157E+308,
            "bedOptions": null,
            "sleepsCount": null,
            "smokingAllowed": null,
            "tags": []
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-xvesmvsh.search.windows.net/indexes(\u0027uesuuaiy\u0027)/docs(\u00276\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "elapsed-time": "5",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-xvesmvsh.search.windows.net/indexes(\u0027uesuuaiy\u0027)/$metadata#docs(*)/$entity",
        "hotelId": "6",
        "hotelName": null,
        "description": null,
        "descriptionFr": null,
        "category": null,
        "tags": [],
        "parkingIncluded": null,
        "smokingAllowed": null,
        "lastRenovationDate": null,
        "rating": null,
        "location": null,
        "address": null,
        "rooms": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1917208391",
    "SearchIndexName": "uesuuaiy",
    "SearchServiceName": "azs-net-xvesmvsh"
  }
}