{
  "Entries": [
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027eocivdtc\u0027)/docs/search.index?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "1",
            "hotelName": null,
            "description": null,
            "descriptionFr": null,
            "category": "",
            "tags": [],
            "parkingIncluded": false,
            "smokingAllowed": null,
            "lastRenovationDate": "0001-01-01T00:00:00.0000000\u002B00:00",
            "rating": -2147483648,
            "geoLocation": {
              "type": "Point",
              "coordinates": [
                -180,
                -90
              ]
            },
            "location": {
              "type": "Point",
              "coordinates": [
                -180,
                -90
              ]
            },
            "address": {
              "streetAddress": null,
              "city": null,
              "stateProvince": null,
              "country": null,
              "postalCode": null
            },
            "rooms": [
              {
                "description": null,
                "descriptionFr": null,
                "type": null,
                "baseRate": -1.7976931348623157E+308,
                "bedOptions": null,
                "sleepsCount": null,
                "smokingAllowed": null,
                "tags": []
              }
            ]
          },
          {
            "@search.action": "upload",
            "hotelId": "2",
            "hotelName": null,
            "description": null,
            "descriptionFr": null,
            "category": "test",
            "tags": [
              "test"
            ],
            "parkingIncluded": true,
            "smokingAllowed": null,
            "lastRenovationDate": "9999-1[...]
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027eocivdtc\u0027)/docs(\u00271\u0027)?api-version=2020-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "19",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "hotelId": "1",
        "hotelName": null,
        "description": null,
        "descriptionFr": null,
        "category": "",
        "tags": [],
        "parkingIncluded": false,
        "smokingAllowed": null,
        "lastRenovationDate": "0001-01-01T00:00:00Z",
        "rating": -2147483648,
        "location": {
          "type": "Point",
          "coordinates": [
            -180.0,
            -90.0
          ],
          "crs": {
            "type": "name",
            "properties": {
              "name": "EPSG:4326"
            }
          }
        },
        "geoLocation": {
          "type": "Point",
          "coordinates": [
            -180.0,
            -90.0
          ],
          "crs": {
            "type": "name",
            "properties": {
              "name": "EPSG:4326"
            }
          }
        },
        "address": {
          "streetAddress": null,
          "city": null,
          "stateProvince": null,
          "country": null,
          "postalCode": null
        },
        "rooms": [
          {
            "description": null,
            "descriptionFr": null,
            "type": null,
            "baseRate": -1.7976931348623157E+308,
            "bedOptions": null,
            "sleepsCount": null,
            "smokingAllowed": null,
            "tags": []
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027eocivdtc\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "183"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1917208391",
    "SearchIndexName": "eocivdtc",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": null,
    "SEARCH_SERVICE_NAME": "mohitc-acs"
  }
}