{
  "Entries": [
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexes(\u0027elkvfalb\u0027)/docs/search.index?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "1",
            "hotelName": "Secret Point Motel",
            "description": "The hotel is ideally located on the main commercial artery of the city in the heart of New York. A few minutes away is Time\u0027s Square and the historic centre of the city, as well as other places of interest that make New York one of America\u0027s most attractive and cosmopolitan cities.",
            "lastRenovationDate": "1970-01-18T00:00:00.0000000-05:00"
          },
          {
            "@search.action": "upload",
            "hotelId": "2",
            "hotelName": "Countryside Hotel",
            "description": "Save up to 50% off traditional hotels.  Free WiFi, great location near downtown, full kitchen, washer \u0026 dryer, 24/7 support, bowling alley, fitness center and more.",
            "lastRenovationDate": "1999-09-06T00:00:00.0000000\u002B00:00"
          },
          {
            "@search.action": "merge",
            "hotelId": "3",
            "hotelName": null,
            "description": "Surprisingly expensive",
            "lastRenovationDate": null
          },
          {
            "@search.action": "delete",
            "hotelId": "4",
            "hotelName": null,
            "description": null,
            "lastRenovationDate": null
          },
          {
            "@search.action": "mergeOrUpload",
            "hotelId": "5",
            "hotelName": null,
            "description": null,
            "lastRenovationDate": null
          }
        ]
      },
      "StatusCode": 207,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "178",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "2",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "3",
            "status": false,
            "errorMessage": "Document not found.",
            "statusCode": 404
          },
          {
            "key": "4",
            "status": true,
            "errorMessage": null,
            "statusCode": 200
          },
          {
            "key": "5",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexes(\u0027elkvfalb\u0027)/docs/$count?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "elapsed-time": "3",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "\uFEFF3"
    },
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexes(\u0027elkvfalb\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "210"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1484375429",
    "SearchIndexName": "elkvfalb",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-heathsearch2"
  }
}