{
  "Entries": [
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexes(\u0027hqmrjpke\u0027)/docs/search.index?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload"
          }
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "69",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The request is invalid. Details: actions : 0: Document key cannot be missing or empty.\r\n"
        }
      }
    },
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexes(\u0027hqmrjpke\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "177"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1159546087",
    "SearchIndexName": "hqmrjpke",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-heathsearch2"
  }
}