{
  "Entries": [
    {
      "RequestUri": "https://azs-net-bbiteohl.search.windows.net/indexes(\u0027olbldbyh\u0027)/docs/search.index?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "merge",
            "hotelId": "42"
          }
        ]
      },
      "StatusCode": 207,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "114",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-bbiteohl.search.windows.net/indexes(\u0027olbldbyh\u0027)/$metadata#Collection(Microsoft.Azure.Search.V2019_05_06_Preview.IndexResult)",
        "value": [
          {
            "key": "42",
            "status": false,
            "errorMessage": "Document not found.",
            "statusCode": 404
          }
        ]
      }
    }
  ],
  "Variables": {
    "CLIENT_ID": "f9ab11db-b032-44b3-af0a-44713541cc40",
    "LOCATION": "westus2",
    "RandomSeed": "1230788505",
    "RESOURCE_GROUP": "heaths-search",
    "SearchIndexName": "olbldbyh",
    "SearchServiceName": "azs-net-bbiteohl",
    "SUBSCRIPTION_ID": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}