{
  "Entries": [
    {
      "RequestUri": "https://azs-net-wjjoqhus.search.windows.net/indexes(\u0027twyypove\u0027)/docs/search.index?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload"
          }
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "270",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The request is invalid. Details: actions : 0: Document key cannot be missing or empty.\r\n"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1159546087",
    "SearchIndexName": "twyypove",
    "SearchServiceName": "azs-net-wjjoqhus"
  }
}