{
  "Entries": [
    {
      "RequestUri": "https://azs-net-t50d8619e0b774b52.search.windows.net/indexes(\u0027iourtrik\u0027)/docs/search.index?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "merge",
            "hotelId": "42"
          }
        ]
      },
      "StatusCode": 207,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "113",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "key": "42",
            "status": false,
            "errorMessage": "Document not found.",
            "statusCode": 404
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-t50d8619e0b774b52.search.windows.net/indexes(\u0027iourtrik\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "488"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1670034816",
    "SearchIndexName": "iourtrik",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-t50d8619e0b774b52"
  }
}