{
  "Entries": [
    {
      "RequestUri": "https://azs-net-glsmvpas.search.windows.net/indexes(\u0027oqhtdmkj\u0027)/docs/search.index?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload"
          }
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "91",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The request is invalid. Details: actions : 0: Document key cannot be missing or empty.\r\n"
        }
      }
    }
  ],
  "Variables": {
    "CLIENT_ID": "f9ab11db-b032-44b3-af0a-44713541cc40",
    "LOCATION": "westus2",
    "RandomSeed": "687109065",
    "RESOURCE_GROUP": "heaths-search",
    "SearchIndexName": "oqhtdmkj",
    "SearchServiceName": "azs-net-glsmvpas",
    "SUBSCRIPTION_ID": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}