{
  "Entries": [
    {
      "RequestUri": "https://shreja-search-service.search.windows.net/indexes(\u0027ytlwgbve\u0027)/docs/search.index?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload"
          }
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "66",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "OperationNotAllowed",
          "message": "The request is invalid. Details: actions : 0: Document key cannot be missing or empty.",
          "details": [
            {
              "code": "MissingKeyField",
              "message": "0: Document key cannot be missing or empty. Parameters: actions"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://shreja-search-service.search.windows.net/indexes(\u0027ytlwgbve\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "200"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1525846180",
    "SearchIndexName": "ytlwgbve",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": null,
    "SEARCH_SERVICE_NAME": "shreja-search-service"
  }
}
