{
  "Entries": [
    {
      "RequestUri": "/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/TJ-636646322037905056/bookShipmentPickUp?api-version=2020-11-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"startTime\": \"2020-11-09T18:30:00Z\",\r\n  \"endTime\": \"2020-11-11T18:30:00Z\",\r\n  \"shipmentLocation\": \"Front desk\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"SsemUserErrorShipmentPickUpRequestAlreadyPlaced\",\r\n    \"message\": \"A shipment pickup request is already placed.\\r\\nContact Microsoft Support to reschedule the pickup.\",\r\n    \"details\": [\r\n      null\r\n    ]\r\n  }\r\n}",
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "fa68082f-8ff7-4a25-95c7-ce9da541242f",
    "SubId": "fa68082f-8ff7-4a25-95c7-ce9da541242f"
  }
}