{
  "Entries": [
    {
      "RequestUri": "/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/TJ-636646322037905056/listCredentials?api-version=2019-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"jobName\": \"TJ-636646322037905056\",\r\n      \"jobSecrets\": {\r\n        \"podSecrets\": [\r\n          {\r\n            \"deviceSerialNumber\": \"testimolapod-3ecc44ce\",\r\n            \"devicePassword\": \"cT5nt8R;S%5\",\r\n            \"networkConfigurations\": [\r\n              {\r\n                \"name\": \"DataPort3\",\r\n                \"macAddress\": \"D05099C1F439\"\r\n              },\r\n              {\r\n                \"name\": \"DataPort1\",\r\n                \"macAddress\": \"EC0D9A21A6C0\"\r\n              },\r\n              {\r\n                \"name\": \"DataPort2\",\r\n                \"macAddress\": \"EC0D9A21A6C1\"\r\n              }\r\n            ],\r\n            \"encodedValidationCertPubKey\": \"5CYoAoVKEBa4WgPVis8keX94w30pon4jGMADSqcdE/NlHLChj6Cmhbl4q9QOFKSB/US4AwhS7zY1QS3YMDrkAPfOy7Hi6kWMBpJWZidTq3oXX8FAQjg+IqQESti/2jvAlcDpO2453rgd7Yb6XZ43P8MMTpTjcarI0ImCf//eITQWnFa3AzfIJ9C+hxCCaA7HTYhwQEPUBMwyQJsI6v6WuQysROtlBgx1YtbWFhDVbcqYRSLIbaj+RdzlvxvDJSo70kv+8em5upuDTpVE7xP+WePLlARdSPNwwfRzHnvCUqC2UqXHpRUhQlYnMqAJEcjjroRnyIGumPmmQ8O155X8aw==\",\r\n            \"accountCredentialDetails\": [\r\n              {\r\n                \"accountName\": \"databoxbvttestaccount\",\r\n                \"dataDestinationType\": \"StorageAccount\",\r\n                \"accountConnectionString\": \"\",\r\n                \"shareCredentialDetails\": [\r\n                  {\r\n                    \"shareName\": \"databoxbvttestaccount_PageBlob\",\r\n                    \"shareType\": \"PageBlob\",\r\n                    \"userName\": \"databoxbvttestac_903\",\r\n                    \"password\": \"4N)K4(j6tyR\",\r\n                    \"supportedAccessProtocols\": [\r\n                      \"SMB\"\r\n                    ]\r\n                  },\r\n                  {\r\n                    \"shareName\": \"databoxbvttestaccount_BlockBlob\",\r\n                    \"shareType\": \"BlockBlob\",\r\n                    \"userName\": \"databoxbvttestac_903\",\r\n                    \"password\": \"4N)K4(j6tyR\",\r\n                    \"supportedAccessProtocols\": [\r\n                      \"SMB\"\r\n                    ]\r\n                  },\r\n                  {\r\n                    \"shareName\": \"databoxbvttestaccount_AzFile\",\r\n                    \"shareType\": \"AzureFile\",\r\n                    \"userName\": \"databoxbvttestac_903\",\r\n                    \"password\": \"4N)K4(j6tyR\",\r\n                    \"supportedAccessProtocols\": [\r\n                      \"SMB\"\r\n                    ]\r\n                  }\r\n                ]\r\n              }\r\n            ]\r\n          }\r\n        ],\r\n        \"jobSecretsType\": \"DataBox\",\r\n        \"dcAccessSecurityCode\": {}\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "fa68082f-8ff7-4a25-95c7-ce9da541242f",
    "SubId": "fa68082f-8ff7-4a25-95c7-ce9da541242f"
  }
}