{
  "Entries": [
    {
      "RequestUri": "/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/TJ-636646322037905056/bookShipmentPickUp?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"startTime\": \"2018-09-10T18:30:00Z\",\r\n  \"endTime\": \"2018-09-12T18:30:00Z\",\r\n  \"shipmentLocation\": \"Front desk\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"confirmationNumber\": \"2929602E9CP\",\r\n  \"readyByTime\": \"2018-09-10T18:30:00Z\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "fa68082f-8ff7-4a25-95c7-ce9da541242f",
    "SubId": "fa68082f-8ff7-4a25-95c7-ce9da541242f"
  }
}