{
  "Entries": [
    {
      "RequestUri": "/secrets/mysecretname?api-version=2015-02-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"value\": \"mysecretvalue\",\r\n  \"contentType\": null\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": \"mysecretvalue\",\r\n  \"id\": \"https://sdktestvault6755.vault.azure.net/secrets/mysecretname/1ad9d56d057349398185756974196ab6\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1426704758,\r\n    \"updated\": 1426704758\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/secrets/mysecretname/1ad9d56d057349398185756974196ab6?api-version=2015-02-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": \"mysecretvalue\",\r\n  \"id\": \"https://sdktestvault6755.vault.azure.net/secrets/mysecretname/1ad9d56d057349398185756974196ab6\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1426704758,\r\n    \"updated\": 1426704758\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/secrets/mysecretname?api-version=2015-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": \"mysecretvalue\",\r\n  \"id\": \"https://sdktestvault6755.vault.azure.net/secrets/mysecretname/730319c28e9444c6a5b752939ab25067\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1426704758,\r\n    \"updated\": 1426704758\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://sdktestvault6755.vault.azure.net",
    "KeyName": "sdktestkey",
    "KeyVersion": "0c740fac2a0a43bfa916681731d46afa"
  }
}