{
  "Entries": [
    {
      "RequestUri": "/keys/ImportSoftKeyTest/import?api-version=2015-02-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"key\": {\r\n    \"kty\": \"RSA\",\r\n    \"n\": \"njkuSMeoFHSw-KOLjViyp_aAjWHZqLTrQ0Fg70b5iSRP_qKLoU3cHGr1Q33E6MkiSKEFeRPYIZEOd2dbxNJNLAq-MQInHukC-CqObMFZCl8Dv_e0zhk42AYv53sFo_RSA33g7nHVK1L9ydCKkNvIBHTTWHzQBBScnlEixRY6NMS3GjbC4v5XCf-iuV5Ymoci7KVTf8DCPjzObitNQcerA4FjiiZUYPkhamW3lzou9dYkOM1dlFTfW2xyZ65EnAJ5Ih1aCqZqcD-Krzp3YlVhAllhwplIfSKoxIVQw_glVvQgL4CC4mcQ3X5pqx8bk4co4a9Awz9ispQLCFOojB_1Jw\",\r\n    \"e\": \"AQAB\",\r\n    \"d\": \"I1XJzF8qXkchLqX3iH2CiJg4ZVqw7UhaMg7rwwQqvkHpy4gpfsCQo5gPZh80Vnh0u5uaSUvxPK3UeT4P9Iiyy18q0m8UpYaMLzfxzr_vTq2hfMGpE032r-fR0vRach8iIb1--kFZxe8m1mdISsmKhdRBTsWw_vhLcd_U0AcCwL3DpQwhJMsS7Ki8g-QBiamIYgDKyNuC8-HurZuGPhZLskOdzxTEQZdBoxmEYMYRZ0OfJK_3gWFc6tXTlTn4QHymHlp3ZhwdkzO0ezwrNW8jcmHdbcyQMMp2OoB21vYIeYaWy2UHCr6Bo6rEhTsUl2ziH44fsoGTrXcgJzPk8ThVIQ\",\r\n    \"dp\": \"RzM7BDj1OaspqAPbmo9jwKIYQ0YA6bPHsMXmzEPZwrvS4NI1X_4fsABycJGswQgsRYtio6PucgwFPE1oXtHsulphVWrxC_ciLfKV-L2_Ir97uNCTndYgdBx0beyFCC_RiTVF74LZAqC6u3yFxyT3OtvnAKgrUitWw3Fn4Buwx08\",\r\n    \"dq\": \"CN6XvmEXN2fijRw-Da2av6hUm81Gxy1Wy8h2bICv6ShDPl7R4XW8rS_Jbvkc0B44kWVAa7r_1vdSGVG30arEPafH7WPQWrhKn5vH5u274gscjNutgZW2JS3vdz4IlNPCluAzZjc69tWXwheCNagbe4HcVpehUwJsu-x-6CDvq6k\",\r\n    \"qi\": \"WN0CQM7JwbqsyX3wrpVTJCCang2ctnlFl2-tSDUrSlK3QZ99ZFWRs0qP_4-ryu7IjQZqeJwXWPF0NUM8LWqrZaNctfY_67GaGQ_f9cAf8Tnr5itxJkX48rFfoCM0zQfcNf_wTsNURVtpgb-brZ5A_pqr9MwzFaYFGmm404hhI4E\",\r\n    \"p\": \"2mKtyopBVBNy_yS9zzmSqSvTWdNQEOz0a8DIWY3wuBizSvRqqHjchoZ7J2Ia5N-6AMlhYfPHwq-0wzpFqSoh0GBfRW8IywKBewsCeNaCDHe-on28GJsom1VxksSMnlowujhG47jWq8IAjcBY_dcf_9iIWf32g9kMdS1XG9OuOqM\",\r\n    \"q\": \"uXnCpwgirMWCnRAa8xDcpuNunKl2Jzfew6f18y8_X-l83bKVV7K8xGhxmpeW4_wiml6TcIOkBSjEGH2PjTL2uO-hA7yB7B8mYjfVF37XTYS0W4FrHDLzANLMooMCB96f_Z0vFZ2_eW3VK-Lx4c1y0TkA2pX3ZMdKMr64VPB2p60\"\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://sdktestvault6755.vault.azure.net/keys/ImportSoftKeyTest/18ca2df3bfb6403e9115f39ca66be593\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"njkuSMeoFHSw-KOLjViyp_aAjWHZqLTrQ0Fg70b5iSRP_qKLoU3cHGr1Q33E6MkiSKEFeRPYIZEOd2dbxNJNLAq-MQInHukC-CqObMFZCl8Dv_e0zhk42AYv53sFo_RSA33g7nHVK1L9ydCKkNvIBHTTWHzQBBScnlEixRY6NMS3GjbC4v5XCf-iuV5Ymoci7KVTf8DCPjzObitNQcerA4FjiiZUYPkhamW3lzou9dYkOM1dlFTfW2xyZ65EnAJ5Ih1aCqZqcD-Krzp3YlVhAllhwplIfSKoxIVQw_glVvQgL4CC4mcQ3X5pqx8bk4co4a9Awz9ispQLCFOojB_1Jw\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1426704763,\r\n    \"updated\": 1426704763\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/ImportSoftKeyTest/18ca2df3bfb6403e9115f39ca66be593/?api-version=2015-02-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://sdktestvault6755.vault.azure.net/keys/ImportSoftKeyTest/18ca2df3bfb6403e9115f39ca66be593\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"njkuSMeoFHSw-KOLjViyp_aAjWHZqLTrQ0Fg70b5iSRP_qKLoU3cHGr1Q33E6MkiSKEFeRPYIZEOd2dbxNJNLAq-MQInHukC-CqObMFZCl8Dv_e0zhk42AYv53sFo_RSA33g7nHVK1L9ydCKkNvIBHTTWHzQBBScnlEixRY6NMS3GjbC4v5XCf-iuV5Ymoci7KVTf8DCPjzObitNQcerA4FjiiZUYPkhamW3lzou9dYkOM1dlFTfW2xyZ65EnAJ5Ih1aCqZqcD-Krzp3YlVhAllhwplIfSKoxIVQw_glVvQgL4CC4mcQ3X5pqx8bk4co4a9Awz9ispQLCFOojB_1Jw\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1426704763,\r\n    \"updated\": 1426704763\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/ImportSoftKeyTest/delete?api-version=2015-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://sdktestvault6755.vault.azure.net/keys/ImportSoftKeyTest/18ca2df3bfb6403e9115f39ca66be593\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"njkuSMeoFHSw-KOLjViyp_aAjWHZqLTrQ0Fg70b5iSRP_qKLoU3cHGr1Q33E6MkiSKEFeRPYIZEOd2dbxNJNLAq-MQInHukC-CqObMFZCl8Dv_e0zhk42AYv53sFo_RSA33g7nHVK1L9ydCKkNvIBHTTWHzQBBScnlEixRY6NMS3GjbC4v5XCf-iuV5Ymoci7KVTf8DCPjzObitNQcerA4FjiiZUYPkhamW3lzou9dYkOM1dlFTfW2xyZ65EnAJ5Ih1aCqZqcD-Krzp3YlVhAllhwplIfSKoxIVQw_glVvQgL4CC4mcQ3X5pqx8bk4co4a9Awz9ispQLCFOojB_1Jw\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1426704763,\r\n    \"updated\": 1426704763\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://sdktestvault6755.vault.azure.net",
    "KeyName": "sdktestkey",
    "KeyVersion": "33c0d1a9646c45cdabc0cc51541af4fe"
  }
}