{
  "Entries": [
    {
      "RequestUri": "/keys/UpdateKeyAttributesTest/create?api-version=2015-02-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"kty\": \"RSA\",\r\n  \"key_size\": 2048,\r\n  \"key_ops\": [\r\n    \"encrypt\",\r\n    \"decrypt\",\r\n    \"sign\",\r\n    \"verify\",\r\n    \"wrapKey\",\r\n    \"unwrapKey\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://sdktestvault6755.vault.azure.net/keys/UpdateKeyAttributesTest/6729f806a73c4fc095f49db1881f1766\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"vQMKNO9Q8cHqowMGETd4LEboWncU9gPePlGAsMdxnshZTZL6tYTnaWz2zdHu8J9je78kaZe95C-wsRq4KRMf7Uj3eL-9cuQ1jfbjvtut0KEGYiOc_0hW8d5fmt7YRiuk_awfqQnwl1MfnJfIeYUu-zVn3IbG4y5jXYiTBPUl-iQ6wcjJvVgmAXYF9oRtiF9qMgs_HJxTC0V2yCzP6X1GWiqh8y3XAlfbH8ZwuSfUamcIqVSz8nEXyYvkQ-9ZejUxcThEn29RPbIXwBkBCC3AII5mF1PANeI5rtbD8XjbKr9zZD3Mw6oaiwoHJNxtIeKqNWJvHBvZ5pAxJxbUqZvUdQ\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1426704747,\r\n    \"updated\": 1426704747\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/keys/UpdateKeyAttributesTest/update?api-version=2015-02-01-preview",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"key_ops\": [\r\n    \"decrypt\",\r\n    \"encrypt\"\r\n  ],\r\n  \"attributes\": {\r\n    \"nbf\": 315561600,\r\n    \"exp\": 347184000,\r\n    \"enabled\": true\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://sdktestvault6755.vault.azure.net/keys/UpdateKeyAttributesTest/6729f806a73c4fc095f49db1881f1766\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"decrypt\",\r\n      \"encrypt\"\r\n    ],\r\n    \"n\": \"vQMKNO9Q8cHqowMGETd4LEboWncU9gPePlGAsMdxnshZTZL6tYTnaWz2zdHu8J9je78kaZe95C-wsRq4KRMf7Uj3eL-9cuQ1jfbjvtut0KEGYiOc_0hW8d5fmt7YRiuk_awfqQnwl1MfnJfIeYUu-zVn3IbG4y5jXYiTBPUl-iQ6wcjJvVgmAXYF9oRtiF9qMgs_HJxTC0V2yCzP6X1GWiqh8y3XAlfbH8ZwuSfUamcIqVSz8nEXyYvkQ-9ZejUxcThEn29RPbIXwBkBCC3AII5mF1PANeI5rtbD8XjbKr9zZD3Mw6oaiwoHJNxtIeKqNWJvHBvZ5pAxJxbUqZvUdQ\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"nbf\": 315561600,\r\n    \"exp\": 347184000,\r\n    \"created\": 1426704747,\r\n    \"updated\": 1426704748\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/UpdateKeyAttributesTest/6729f806a73c4fc095f49db1881f1766/update?api-version=2015-02-01-preview",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"key_ops\": [\r\n    \"decrypt\",\r\n    \"encrypt\"\r\n  ],\r\n  \"attributes\": {\r\n    \"nbf\": 631180800,\r\n    \"exp\": 662716800,\r\n    \"enabled\": false\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://sdktestvault6755.vault.azure.net/keys/UpdateKeyAttributesTest/6729f806a73c4fc095f49db1881f1766\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"decrypt\",\r\n      \"encrypt\"\r\n    ],\r\n    \"n\": \"vQMKNO9Q8cHqowMGETd4LEboWncU9gPePlGAsMdxnshZTZL6tYTnaWz2zdHu8J9je78kaZe95C-wsRq4KRMf7Uj3eL-9cuQ1jfbjvtut0KEGYiOc_0hW8d5fmt7YRiuk_awfqQnwl1MfnJfIeYUu-zVn3IbG4y5jXYiTBPUl-iQ6wcjJvVgmAXYF9oRtiF9qMgs_HJxTC0V2yCzP6X1GWiqh8y3XAlfbH8ZwuSfUamcIqVSz8nEXyYvkQ-9ZejUxcThEn29RPbIXwBkBCC3AII5mF1PANeI5rtbD8XjbKr9zZD3Mw6oaiwoHJNxtIeKqNWJvHBvZ5pAxJxbUqZvUdQ\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": false,\r\n    \"nbf\": 631180800,\r\n    \"exp\": 662716800,\r\n    \"created\": 1426704747,\r\n    \"updated\": 1426704748\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/UpdateKeyAttributesTest/delete?api-version=2015-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://sdktestvault6755.vault.azure.net/keys/UpdateKeyAttributesTest/97183463f9ea4ae99f5d665bae8e12f3\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"wfhuCQlCVO_MIZeohS4e4PltzrI2-sK3GbrdN4oj1iv9-1m2ibGvUp7v19VfjRw_NGZD-KSFVt6Bd_Yb7T-s6LRw0e4JbFxPHXKEqAT0aFbO9qIrhmcASXlgIyKsNYq2ufoCPlB-RUQIFWyvP8QyYSPvLJYR49lAZpp-oj6rNk-bslYJS98ruuNiFX7BMZDbsWRj6cE83DVqnpzxSpz3adD3ArNfPvIoWHd_pxbXauad7zWKrjnBcUib5N3JxjCyWTNp7ie2SNIVzJSE7jGX-VIgZnY5B2fFg7u8-AwmlIBb7wvW6kfOoHc0Unfu1VL71-zTX5VbKlvniyCNbHOjow\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1426704748,\r\n    \"updated\": 1426704748\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://sdktestvault6755.vault.azure.net",
    "KeyName": "sdktestkey",
    "KeyVersion": "888430351d0c455e8e3b327710bb5a1a"
  }
}