{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ce4a7590-4722-4bcf-a2c6-e473e9f11778/resourcegroups/res2168?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ce4a7590-4722-4bcf-a2c6-e473e9f11778/resourceGroups/res2168\",\r\n  \"name\": \"res2168\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/providers/Microsoft.Storage/operations?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Storage/storageAccounts/write\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Storage\",\r\n        \"resource\": \"Storage Accounts\",\r\n        \"operation\": \"Create/Update Storage Account\",\r\n        \"description\": \"Creates a storage account with the specified parameters or update the properties or tags or adds custom domain for the specified storage account.\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Storage/storageAccounts/delete\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Storage\",\r\n        \"resource\": \"Storage Accounts\",\r\n        \"operation\": \"Delete Storage Account\",\r\n        \"description\": \"Deletes an existing storage account.\"\r\n      }\r[...]
