{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/c017063b-18ad-5e26-f4af-a4d7eff204cb:171df24e-c924-4c58-9daa-a0bdb1686fef_2019-05-31/billingProfiles/RZKZ-H3N4-BG7-TGB/availableBalance/default?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "x-ms-service-version": [
          "10.6.1263.443"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Billing/billingAccounts/c017063b-18ad-5e26-f4af-a4d7eff204cb/billingProfiles/RZKZ-H3N4-BG7-TGB/availableBalance/default?balanceName=f81b4e48-2681-4af3-b139-482f2551a975\",\r\n  \"name\": \"default\",\r\n  \"properties\": {\r\n    \"amount\": {\r\n      \"currency\": \"USD\",\r\n      \"value\": 372.8\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Billing/billingAccounts/billingProfiles/availableBalance\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0e660d57-d14d-44e2-9586-a1e29288996e"
  }
}