{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/723c8ce0-33ba-5ba7-ef23-e1b72f15f1d8%3A4ce5b530-c82b-44e8-97ec-49f3cce9f14d_2019-05-31/billingProfiles/H6RI-TXWC-BG7-PGB/availableBalance/default?api-version=2019-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "x-ms-service-version": [
          "9.11.1047.343"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Billing/billingAccounts/723c8ce0-33ba-5ba7-ef23-e1b72f15f1d8:4ce5b530-c82b-44e8-97ec-49f3cce9f14d_2019-05-31/billingProfiles/H6RI-TXWC-BG7-PGB/availableBalance/default?balanceName=8a616b43-fa16-425d-86e4-180fc29c35d5\",\r\n  \"name\": \"default\",\r\n  \"properties\": {\r\n    \"amount\": {\r\n      \"currency\": \"USD\",\r\n      \"value\": 50.0\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Billing/billingAccounts/billingProfiles/availableBalance\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "df6e24cd-21d5-4f70-ac15-32bb1f8b4536"
  }
}