{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-676/providers/Microsoft.DataFactory/factories/datafactory-2230?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "name": "DataFactory-2230",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-676/providers/Microsoft.DataFactory/factories/datafactory-2230",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2022-07-22T06:44:24.8879156Z",
          "version": "2018-06-01",
          "factoryStatistics": {
            "totalResourceCount": 0,
            "maxAllowedResourceCount": 0,
            "factorySizeInGbUnits": 0,
            "maxAllowedFactorySizeInGbUnits": 0
          }
        },
        "eTag": "\u00223b00e78f-0000-0800-0000-62da47480000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-676/providers/Microsoft.DataFactory/factories/datafactory-2230/managedVirtualNetworks/managedVirtualNetwork-593?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-676/providers/Microsoft.DataFactory/factories/datafactory-2230/managedvirtualnetworks/managedVirtualNetwork-593",
        "name": "managedVirtualNetwork-593",
        "type": "Microsoft.DataFactory/factories/managedvirtualnetworks",
        "properties": {
          "vNetId": "eaef1428-9f88-421f-9a54-f8ea4259baf4",
          "preventDataExfiltration": false,
          "alias": "datafactory-2230"
        },
        "etag": "050063e4-0000-0800-0000-62da474e0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-676/providers/Microsoft.DataFactory/factories/datafactory-2230/managedVirtualNetworks/managedVirtualNetwork-593?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-676/providers/Microsoft.DataFactory/factories/datafactory-2230/managedvirtualnetworks/managedVirtualNetwork-593",
        "name": "managedVirtualNetwork-593",
        "type": "Microsoft.DataFactory/factories/managedvirtualnetworks",
        "properties": {
          "vNetId": "eaef1428-9f88-421f-9a54-f8ea4259baf4",
          "preventDataExfiltration": false,
          "alias": "datafactory-2230"
        },
        "etag": "050063e4-0000-0800-0000-62da474e0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "779167073",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
