{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "database": "database",
          "command": "command"
        },
        "dataSourceType": "MongoDB",
        "dataFeedName": "dataFeedsR6T7Z02",
        "dataFeedDescription": "This data feed was created to test the .NET client.",
        "granularityName": "Custom",
        "granularityAmount": 1360,
        "metrics": [
          {
            "metricName": "cost",
            "metricDisplayName": "costDisplayName",
            "metricDescription": "costDescription"
          },
          {
            "metricName": "revenue",
            "metricDisplayName": "revenueDisplayName",
            "metricDescription": "revenueDescription"
          }
        ],
        "dimension": [
          {
            "dimensionName": "city"
          },
          {
            "dimensionName": "category",
            "dimensionDisplayName": "categoryDisplayName"
          }
        ],
        "timestampColumn": "timestamp",
        "dataStartFrom": "2020-08-01T00:00:00Z",
        "startOffsetInSeconds": 1800,
        "maxConcurrency": 5,
        "minRetryIntervalInSeconds": 80,
        "stopRetryAfterInSeconds": 600,
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 45,
        "viewMode": "Public",
        "admins": [
          "fake@admin.com"
        ],
        "viewers": [
          "fake@viewer.com"
        ],
        "actionLinkTemplate": "https://fakeurl.com/%metric/%datafeed"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/77730d2d-c412-4eb8-be99-d0dabcb89ada"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/77730d2d-c412-4eb8-be99-d0dabcb89ada",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "77730d2d-c412-4eb8-be99-d0dabcb89ada",
        "dataFeedName": "dataFeedsR6T7Z02",
        "metrics": [
          {
            "metricId": "d4989480-956d-4f53-92f2-5dfb9cf50c7f",
            "metricName": "cost",
            "metricDisplayName": "costDisplayName",
            "metricDescription": "costDescription"
          },
          {
            "metricId": "2dece22f-62d8-45fc-b498-2f11c31f23aa",
            "metricName": "revenue",
            "metricDisplayName": "revenueDisplayName",
            "metricDescription": "revenueDescription"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "categoryDisplayName"
          },
          {
            "dimensionName": "city",
            "dimensionDisplayName": "city"
          }
        ],
        "dataStartFrom": "2020-08-01T00:00:00Z",
        "dataSourceType": "MongoDB",
        "timestampColumn": "timestamp",
        "startOffsetInSeconds": 1800,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Custom",
        "granularityAmount": 1360,
        "needRollup": "NoRollup",
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 45.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "This data feed was created to test the .NET client.",
        "stopRetryAfterInSeconds": 600,
        "minRetryIntervalInSeconds": 80,
        "maxConcurrency": 5,
        "viewMode": "Public",
        "admins": [
          "fake@admin.com",
          "foo@contoso.com"
        ],
        "viewers": [
          "fake@viewer.com"
        ],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2021-05-28T21:24:08Z",
        "isAdmin": true,
        "actionLinkTemplate": "https://fakeurl.com/%metric/%datafeed",
        "dataSourceParameter": {
          "database": "database",
          "command": "command"
        },
        "authenticationType": "Basic"
      }
    },
[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/77730d2d-c412-4eb8-be99-d0dabcb89ada",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-05-28T14:24:08.7760764-07:00",
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1089868721"
  }
}