{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "container": "container",
          "blobTemplate": "template"
        },
        "dataSourceType": "AzureBlob",
        "dataFeedName": "dataFeedB0kvnc8e",
        "dataFeedDescription": "This data feed was created to test the .NET client.",
        "granularityName": "Custom",
        "granularityAmount": 3000,
        "metrics": [
          {
            "metricName": "cost",
            "metricDisplayName": "costDisplayName",
            "metricDescription": "costDescription"
          },
          {
            "metricName": "revenue",
            "metricDisplayName": "revenueDisplayName",
            "metricDescription": "revenueDescription"
          }
        ],
        "dimension": [
          {
            "dimensionName": "city"
          },
          {
            "dimensionName": "category",
            "dimensionDisplayName": "categoryDisplayName"
          }
        ],
        "timestampColumn": "timestamp",
        "dataStartFrom": "2020-08-01T00:00:00Z",
        "startOffsetInSeconds": 1800,
        "maxConcurrency": 5,
        "minRetryIntervalInSeconds": 80,
        "stopRetryAfterInSeconds": 600,
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 45,
        "viewMode": "Public",
        "admins": [
          "fake@admin.com"
        ],
        "viewers": [
          "fake@viewer.com"
        ],
        "actionLinkTemplate": "https://fakeurl.com/%metric/%datafeed"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/cbc18690-c9c6-4cc4-a6c8-69bf2fa1e404"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/cbc18690-c9c6-4cc4-a6c8-69bf2fa1e404",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "cbc18690-c9c6-4cc4-a6c8-69bf2fa1e404",
        "dataFeedName": "dataFeedB0kvnc8e",
        "metrics": [
          {
            "metricId": "ac22e1f1-45da-45a5-a4e3-ea625e0ac5a0",
            "metricName": "cost",
            "metricDisplayName": "costDisplayName",
            "metricDescription": "costDescription"
          },
          {
            "metricId": "d962caa1-9064-436b-b6c1-309c372fddaf",
            "metricName": "revenue",
            "metricDisplayName": "revenueDisplayName",
            "metricDescription": "revenueDescription"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "categoryDisplayName"
          },
          {
            "dimensionName": "city",
            "dimensionDisplayName": "city"
          }
        ],
        "dataStartFrom": "2020-08-01T00:00:00Z",
        "dataSourceType": "AzureBlob",
        "timestampColumn": "timestamp",
        "startOffsetInSeconds": 1800,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Custom",
        "granularityAmount": 3000,
        "needRollup": "NoRollup",
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 45.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "This data feed was created to test the .NET client.",
        "stopRetryAfterInSeconds": 600,
        "minRetryIntervalInSeconds": 80,
        "maxConcurrency": 5,
        "viewMode": "Public",
        "admins": [
          "fake@admin.com",
          "foo@contoso.com"
        ],
        "viewers": [
          "fake@viewer.com"
        ],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2021-07-08T23:32:38Z",
        "isAdmin": true,
        "actionLinkTemplate": "https://fakeurl.com/%metric/%datafeed",
        "dataSourceParameter": {
          "container": "container",
          "blobTemplate": "template"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/cbc18690-c9c6-4cc4-a6c8-69bf2fa1e404",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-07-08T16:32:45.0013444-07:00",
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "228503568"
  }
}