{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "query": "query"
        },
        "dataSourceType": "AzureDataExplorer",
        "dataFeedName": "dataFeedm7a4TvMx",
        "dataFeedDescription": "This data feed was created to test the .NET client.",
        "granularityName": "Custom",
        "granularityAmount": 1360,
        "metrics": [
          {
            "metricName": "cost",
            "metricDisplayName": "costDisplayName",
            "metricDescription": "costDescription"
          },
          {
            "metricName": "revenue",
            "metricDisplayName": "revenueDisplayName",
            "metricDescription": "revenueDescription"
          }
        ],
        "dimension": [
          {
            "dimensionName": "city"
          },
          {
            "dimensionName": "category",
            "dimensionDisplayName": "categoryDisplayName"
          }
        ],
        "timestampColumn": "timestamp",
        "dataStartFrom": "2020-08-01T00:00:00Z",
        "startOffsetInSeconds": 1800,
        "maxConcurrency": 5,
        "minRetryIntervalInSeconds": 80,
        "stopRetryAfterInSeconds": 600,
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 45,
        "viewMode": "Public",
        "admins": [
          "fake@admin.com"
        ],
        "viewers": [
          "fake@viewer.com"
        ],
        "actionLinkTemplate": "https://fakeurl.com/%metric/%datafeed"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/82ff0a3d-3ca5-45e4-aeb2-c043e69fc3b0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/82ff0a3d-3ca5-45e4-aeb2-c043e69fc3b0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "82ff0a3d-3ca5-45e4-aeb2-c043e69fc3b0",
        "dataFeedName": "dataFeedm7a4TvMx",
        "metrics": [
          {
            "metricId": "65b5128a-ed5b-4c20-9d0c-7dc9cf3e6645",
            "metricName": "cost",
            "metricDisplayName": "costDisplayName",
            "metricDescription": "costDescription"
          },
          {
            "metricId": "d6df0302-59fb-4612-9c4e-6bd8a237d20c",
            "metricName": "revenue",
            "metricDisplayName": "revenueDisplayName",
            "metricDescription": "revenueDescription"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "categoryDisplayName"
          },
          {
            "dimensionName": "city",
            "dimensionDisplayName": "city"
          }
        ],
        "dataStartFrom": "2020-08-01T00:00:00Z",
        "dataSourceType": "AzureDataExplorer",
        "timestampColumn": "timestamp",
        "startOffsetInSeconds": 1800,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Custom",
        "granularityAmount": 1360,
        "allUpIdentification": null,
        "needRollup": "NoRollup",
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 45.0,
        "rollUpMethod": "None",
        "rollUpColumns": [],
        "dataFeedDescription": "This data feed was created to test the .NET client.",
        "stopRetryAfterInSeconds": 600,
        "minRetryIntervalInSeconds": 80,
        "maxConcurrency": 5,
        "viewMode": "Public",
        "admins": [
          "fake@admin.com",
          "foo@contoso.com"
        ],
        "viewers": [
          "fake@viewer.com"
        ],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2021-02-01T15:40:41Z",
        "isAdmin": true,
        "actionLinkTemplate": "https://fakeurl.com/%metric/%datafeed",
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "query": "query"
        }
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/82ff0a3d-3ca5-45e4-aeb2-c043e69fc3b0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-01T07:40:41.8968854-08:00",
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1301271195"
  }
}