{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "host": "https://fakehost.com/",
          "port": "port",
          "authHeader": "Sanitized",
          "query": "query"
        },
        "dataSourceType": "Elasticsearch",
        "dataFeedName": "dataFeedhbJW7QYR",
        "dataFeedDescription": "This data feed was created to test the .NET client.",
        "granularityName": "Custom",
        "granularityAmount": 1360,
        "metrics": [
          {
            "metricName": "cost",
            "metricDisplayName": "costDisplayName",
            "metricDescription": "costDescription"
          },
          {
            "metricName": "revenue",
            "metricDisplayName": "revenueDisplayName",
            "metricDescription": "revenueDescription"
          }
        ],
        "dimension": [
          {
            "dimensionName": "city"
          },
          {
            "dimensionName": "category",
            "dimensionDisplayName": "categoryDisplayName"
          }
        ],
        "timestampColumn": "timestamp",
        "dataStartFrom": "2020-08-01T00:00:00Z",
        "startOffsetInSeconds": 1800,
        "maxConcurrency": 5,
        "minRetryIntervalInSeconds": 80,
        "stopRetryAfterInSeconds": 600,
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 45,
        "viewMode": "Public",
        "admins": [
          "fake@admin.com"
        ],
        "viewers": [
          "fake@viewer.com"
        ],
        "actionLinkTemplate": "https://fakeurl.com/%metric/%datafeed"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/ea89d266-07a1-4627-a8db-1e197e595a1b"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/ea89d266-07a1-4627-a8db-1e197e595a1b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "ea89d266-07a1-4627-a8db-1e197e595a1b",
        "dataFeedName": "dataFeedhbJW7QYR",
        "metrics": [
          {
            "metricId": "092a98fb-61f7-495b-82a8-37ccb4386c9e",
            "metricName": "cost",
            "metricDisplayName": "costDisplayName",
            "metricDescription": "costDescription"
          },
          {
            "metricId": "26e0fbea-28bd-4cce-b76c-f6f9607cbb58",
            "metricName": "revenue",
            "metricDisplayName": "revenueDisplayName",
            "metricDescription": "revenueDescription"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "categoryDisplayName"
          },
          {
            "dimensionName": "city",
            "dimensionDisplayName": "city"
          }
        ],
        "dataStartFrom": "2020-08-01T00:00:00Z",
        "dataSourceType": "Elasticsearch",
        "timestampColumn": "timestamp",
        "startOffsetInSeconds": 1800,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Custom",
        "granularityAmount": 1360,
        "allUpIdentification": null,
        "needRollup": "NoRollup",
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 45.0,
        "rollUpMethod": "None",
        "rollUpColumns": [],
        "dataFeedDescription": "This data feed was created to test the .NET client.",
        "stopRetryAfterInSeconds": 600,
        "minRetryIntervalInSeconds": 80,
        "maxConcurrency": 5,
        "viewMode": "Public",
        "admins": [
          "fake@admin.com",
          "foo@contoso.com"
        ],
        "viewers": [
          "fake@viewer.com"
        ],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2021-02-01T14:21:28Z",
        "isAdmin": true,
        "actionLinkTemplate": "https://fakeurl.com/%metric/%datafeed",
        "dataSourceParameter": {
          "authHeader": "Sanitized",
          "port": "port",
          "query": "query",
          "host": "https://fakehost.com/"
        }
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/ea89d266-07a1-4627-a8db-1e197e595a1b",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-01T06:21:28.5357858-08:00",
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1721920861"
  }
}