{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "query": "query"
        },
        "dataSourceType": "MySql",
        "dataFeedName": "dataFeedza4Yw7iG",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "cost"
          }
        ],
        "dataStartFrom": "2020-08-01T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/4484fc1a-0b55-4783-87bd-51370873f4fe"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/4484fc1a-0b55-4783-87bd-51370873f4fe",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "4484fc1a-0b55-4783-87bd-51370873f4fe",
        "dataFeedName": "dataFeedza4Yw7iG",
        "metrics": [
          {
            "metricId": "588c45f0-79c6-4bb9-99d6-9243693af9f3",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": ""
          }
        ],
        "dimension": [],
        "dataStartFrom": "2020-08-01T00:00:00Z",
        "dataSourceType": "MySql",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "granularityAmount": null,
        "allUpIdentification": null,
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "rollUpColumns": [],
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2020-12-29T21:40:38Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "query": "query"
        }
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/4484fc1a-0b55-4783-87bd-51370873f4fe",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-12-29T13:40:38.4236877-08:00",
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1038333372"
  }
}