{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "query": "query"
        },
        "dataSourceType": "SqlServer",
        "dataFeedName": "dataFeedP9n9URW6",
        "dataFeedDescription": "This data feed was created to test the .NET client.",
        "granularityName": "Custom",
        "granularityAmount": 1360,
        "metrics": [
          {
            "metricName": "cost",
            "metricDisplayName": "costDisplayName",
            "metricDescription": "costDescription"
          },
          {
            "metricName": "revenue",
            "metricDisplayName": "revenueDisplayName",
            "metricDescription": "revenueDescription"
          }
        ],
        "dimension": [
          {
            "dimensionName": "city"
          },
          {
            "dimensionName": "category",
            "dimensionDisplayName": "categoryDisplayName"
          }
        ],
        "timestampColumn": "timestamp",
        "dataStartFrom": "2020-08-01T00:00:00Z",
        "startOffsetInSeconds": 1800,
        "maxConcurrency": 5,
        "minRetryIntervalInSeconds": 80,
        "stopRetryAfterInSeconds": 600,
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 45,
        "viewMode": "Public",
        "admins": [
          "fake@admin.com"
        ],
        "viewers": [
          "fake@viewer.com"
        ],
        "actionLinkTemplate": "https://fakeurl.com/%metric/%datafeed"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/7a2751c3-d140-4536-83da-cc0654b964f3"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/7a2751c3-d140-4536-83da-cc0654b964f3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "7a2751c3-d140-4536-83da-cc0654b964f3",
        "dataFeedName": "dataFeedP9n9URW6",
        "metrics": [
          {
            "metricId": "4a7ad4b4-88a1-4273-b673-fdce71e4c6d6",
            "metricName": "cost",
            "metricDisplayName": "costDisplayName",
            "metricDescription": "costDescription"
          },
          {
            "metricId": "85b7a0dd-2afb-4c85-a9e0-68bbce0cd485",
            "metricName": "revenue",
            "metricDisplayName": "revenueDisplayName",
            "metricDescription": "revenueDescription"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "categoryDisplayName"
          },
          {
            "dimensionName": "city",
            "dimensionDisplayName": "city"
          }
        ],
        "dataStartFrom": "2020-08-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "timestamp",
        "startOffsetInSeconds": 1800,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Custom",
        "granularityAmount": 1360,
        "needRollup": "NoRollup",
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 45.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "This data feed was created to test the .NET client.",
        "stopRetryAfterInSeconds": 600,
        "minRetryIntervalInSeconds": 80,
        "maxConcurrency": 5,
        "viewMode": "Public",
        "admins": [
          "fake@admin.com",
          "foo@contoso.com"
        ],
        "viewers": [
          "fake@viewer.com"
        ],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2021-05-28T21:21:06Z",
        "isAdmin": true,
        "actionLinkTemplate": "https://fakeurl.com/%metric/%datafeed",
        "dataSourceParameter": {
          "query": "query"
        },
        "authenticationType": "Basic"
      }
    },
[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/7a2751c3-d140-4536-83da-cc0654b964f3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-05-28T14:21:07.7418344-07:00",
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "433269873"
  }
}