{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "accountName": "account",
          "accountKey": "Sanitized",
          "fileSystemName": "fileSystem",
          "directoryTemplate": "dir",
          "fileTemplate": "file"
        },
        "dataSourceType": "AzureDataLakeStorageGen2",
        "dataFeedName": "dataFeedeNqX8GsA",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "cost"
          }
        ],
        "dataStartFrom": "2020-08-01T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/46e38d08-66e6-44c9-b409-2550cb0c57a6"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/46e38d08-66e6-44c9-b409-2550cb0c57a6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceType": "AzureApplicationInsights",
        "dataFeedName": "dataFeedH5QzBNwc",
        "dataFeedDescription": "This data feed was updated to test the .NET client.",
        "timestampColumn": "updatedTimestampColumn",
        "dataStartFrom": "2020-09-21T00:00:00Z",
        "startOffsetInSeconds": 2400,
        "maxConcurrency": 6,
        "minRetryIntervalInSeconds": 90,
        "stopRetryAfterInSeconds": 1200,
        "fillMissingPointType": "NoFilling",
        "viewMode": "Public",
        "viewers": [
          "fake@viewer.com"
        ],
        "actionLinkTemplate": "https://fakeurl.com/%datafeed/%metric"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/46e38d08-66e6-44c9-b409-2550cb0c57a6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "46e38d08-66e6-44c9-b409-2550cb0c57a6",
        "dataFeedName": "dataFeedH5QzBNwc",
        "metrics": [
          {
            "metricId": "789971ec-e7e0-4560-b697-a4b3a73024ae",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": ""
          }
        ],
        "dimension": [],
        "dataStartFrom": "2020-09-21T00:00:00Z",
        "dataSourceType": "AzureDataLakeStorageGen2",
        "timestampColumn": "updatedTimestampColumn",
        "startOffsetInSeconds": 2400,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "granularityAmount": null,
        "allUpIdentification": null,
        "needRollup": "NoRollup",
        "fillMissingPointType": "NoFilling",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "rollUpColumns": [],
        "dataFeedDescription": "This data feed was updated to test the .NET client.",
        "stopRetryAfterInSeconds": 1200,
        "minRetryIntervalInSeconds": 90,
        "maxConcurrency": 6,
        "viewMode": "Public",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [
          "fake@viewer.com"
        ],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2021-02-01T15:41:10Z",
        "isAdmin": true,
        "actionLinkTemplate": "https://fakeurl.com/%datafeed/%metric",
        "dataSourceParameter": {
          "fileTemplate": "file",
          "accountName": "account",
          "directoryTemplate": "dir",
          "fileSystemName": "fileSystem",
          "accountKey": "Sanitized"
        }
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/46e38d08-66e6-44c9-b409-2550cb0c57a6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-01T07:41:11.0026349-08:00",
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "2033828863"
  }
}