{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "parameters": {
          "clientId": "mock",
          "clientSecret": "Sanitized",
          "tenantId": "mock"
        },
        "dataSourceCredentialType": "ServicePrincipal",
        "dataSourceCredentialName": "credentialFMt84XyU"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/474679c5-903a-439f-9d92-7b914499bc32"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/474679c5-903a-439f-9d92-7b914499bc32",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataSourceCredentialId": "474679c5-903a-439f-9d92-7b914499bc32",
        "dataSourceCredentialName": "credentialFMt84XyU",
        "dataSourceCredentialDescription": "",
        "dataSourceCredentialType": "ServicePrincipal",
        "parameters": {
          "clientId": "mock",
          "tenantId": "mock"
        }
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "query": "mock"
        },
        "dataSourceType": "SqlServer",
        "dataFeedName": "dataFeedYdWmPGiX",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "cost"
          }
        ],
        "dataStartFrom": "2020-08-01T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/142cb682-eb91-433a-a0c8-b406778c8e4c"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/142cb682-eb91-433a-a0c8-b406778c8e4c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "142cb682-eb91-433a-a0c8-b406778c8e4c",
        "dataFeedName": "dataFeedYdWmPGiX",
        "metrics": [
          {
            "metricId": "1d4c9cab-6370-4f6d-95a1-587c4a7082f1",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": ""
          }
        ],
        "dimension": [],
        "dataStartFrom": "2020-08-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2021-07-06T07:57:33Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "query": "mock"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/142cb682-eb91-433a-a0c8-b406778c8e4c",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "query": "mock"
        },
        "dataSourceType": "SqlServer",
        "dataFeedName": "dataFeedYdWmPGiX",
        "dataFeedDescription": "",
        "timestampColumn": "",
        "dataStartFrom": "2020-08-01T00:00:00Z",
        "startOffsetInSeconds": 0,
        "maxConcurrency": -1,
        "minRetryIntervalInSeconds": -1,
        "stopRetryAfterInSeconds": -1,
        "needRollup": "NoRollup",
        "rollUpMethod": "None",
        "allUpIdentification": null,
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": null,
        "viewMode": "Private",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [],
        "status": "Active",
        "actionLinkTemplate": "",
        "authenticationType": "ServicePrincipal",
        "credentialId": "474679c5-903a-439f-9d92-7b914499bc32"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "142cb682-eb91-433a-a0c8-b406778c8e4c",
        "dataFeedName": "dataFeedYdWmPGiX",
        "metrics": [
          {
            "metricId": "1d4c9cab-6370-4f6d-95a1-587c4a7082f1",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription[...]
[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/474679c5-903a-439f-9d92-7b914499bc32",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1298481199"
  }
}