{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "sqlQuery": "mock",
          "database": "mock",
          "collectionId": "mock"
        },
        "dataSourceType": "AzureCosmosDB",
        "dataFeedName": "dataFeedxcJyCwWR",
        "dataFeedDescription": "description",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "metric"
          }
        ],
        "dimension": [
          {
            "dimensionName": "dimension"
          }
        ],
        "timestampColumn": "timestamp",
        "dataStartFrom": "2021-01-01T00:00:00Z",
        "startOffsetInSeconds": 60,
        "maxConcurrency": 1,
        "minRetryIntervalInSeconds": 60,
        "stopRetryAfterInSeconds": 60,
        "needRollup": "NeedRollup",
        "rollUpMethod": "Sum",
        "allUpIdentification": "dimension",
        "fillMissingPointType": "NoFilling",
        "viewMode": "Public",
        "actionLinkTemplate": "https://fakeurl.com/%datafeed/%metric"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/667e6624-4b32-42d2-8eee-5d0488f3a4a4"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/667e6624-4b32-42d2-8eee-5d0488f3a4a4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "667e6624-4b32-42d2-8eee-5d0488f3a4a4",
        "dataFeedName": "dataFeedxcJyCwWR",
        "metrics": [
          {
            "metricId": "9b55f73b-eb80-4541-ad7e-740d3cbc6d08",
            "metricName": "metric",
            "metricDisplayName": "metric",
            "metricDescription": ""
          }
        ],
        "dimension": [
          {
            "dimensionName": "dimension",
            "dimensionDisplayName": "dimension"
          }
        ],
        "dataStartFrom": "2021-01-01T00:00:00Z",
        "dataSourceType": "AzureCosmosDB",
        "timestampColumn": "timestamp",
        "startOffsetInSeconds": 60,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "allUpIdentification": "dimension",
        "needRollup": "NeedRollup",
        "fillMissingPointType": "NoFilling",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "Sum",
        "dataFeedDescription": "description",
        "stopRetryAfterInSeconds": 60,
        "minRetryIntervalInSeconds": 60,
        "maxConcurrency": 1,
        "viewMode": "Public",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2021-07-06T07:56:23Z",
        "isAdmin": true,
        "actionLinkTemplate": "https://fakeurl.com/%datafeed/%metric",
        "dataSourceParameter": {
          "database": "mock",
          "sqlQuery": "mock",
          "collectionId": "mock"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/667e6624-4b32-42d2-8eee-5d0488f3a4a4",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "sqlQuery": "mock",
          "database": "mock",
          "collectionId": "mock"
        },
        "dataSourceType": "AzureCosmosDB",
        "dataFeedName": "dataFeedxcJyCwWR",
        "dataFeedDescription": null,
        "timestampColumn": null,
        "dataStartFrom": "2021-01-01T00:00:00Z",
        "startOffsetInSeconds": null,
        "maxConcurrency": null,
        "minRetryIntervalInSeconds": null,
        "stopRetryAfterInSeconds": null,
        "needRollup": null,
        "rollUpMethod": null,
        "allUpIdentification": null,
        "fillMissingPointType": null,
        "fillMissingPointValue": null,
        "viewMode": null,
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [],
        "status": "Active",
        "actionLinkTemplate": null,
        "authenticationType": null,
        "credentialId": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "667e6624-4b32-42d2-8eee-5d0488f3a4a4",
        "dataFeedName": "dataFeedxcJyCwWR",
        "metrics": [
          {
            "metricId": "9b55f73b-eb80-4541-ad7e-740d3cbc6d08",
            "metricName": "metric",
            "metricDisplayName": "metric",
            "metricDescription": ""
          }
        ],
 [...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/667e6624-4b32-42d2-8eee-5d0488f3a4a4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1442657784"
  }
}