{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "url": "https://fakehost.com/",
          "httpHeader": "Sanitized",
          "httpMethod": "method",
          "payload": "payload"
        },
        "dataSourceType": "HttpRequest",
        "dataFeedName": "dataFeed0WLyGoTb",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "cost"
          }
        ],
        "dataStartFrom": "2020-08-01T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b7ab60b4-1be5-4f5d-8376-a29242662e59"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b7ab60b4-1be5-4f5d-8376-a29242662e59",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceType": null,
        "dataFeedName": "dataFeedvNmU1Yd5",
        "dataFeedDescription": "This data feed was updated to test the .NET client.",
        "timestampColumn": "updatedTimestampColumn",
        "dataStartFrom": "2020-09-21T00:00:00Z",
        "startOffsetInSeconds": 2400,
        "maxConcurrency": 6,
        "minRetryIntervalInSeconds": 90,
        "stopRetryAfterInSeconds": 1200,
        "fillMissingPointType": "NoFilling",
        "viewMode": "Public",
        "viewers": [
          "fake@viewer.com"
        ],
        "actionLinkTemplate": "https://fakeurl.com/%datafeed/%metric"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b7ab60b4-1be5-4f5d-8376-a29242662e59",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "b7ab60b4-1be5-4f5d-8376-a29242662e59",
        "dataFeedName": "dataFeedvNmU1Yd5",
        "metrics": [
          {
            "metricId": "54b88e72-2667-4214-ab3f-1797cefab062",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": ""
          }
        ],
        "dimension": [],
        "dataStartFrom": "2020-09-21T00:00:00Z",
        "dataSourceType": "HttpRequest",
        "timestampColumn": "updatedTimestampColumn",
        "startOffsetInSeconds": 2400,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "granularityAmount": null,
        "allUpIdentification": null,
        "needRollup": "NoRollup",
        "fillMissingPointType": "NoFilling",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "rollUpColumns": [],
        "dataFeedDescription": "This data feed was updated to test the .NET client.",
        "stopRetryAfterInSeconds": 1200,
        "minRetryIntervalInSeconds": 90,
        "maxConcurrency": 6,
        "viewMode": "Public",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [
          "fake@viewer.com"
        ],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2021-02-01T15:52:37Z",
        "isAdmin": true,
        "actionLinkTemplate": "https://fakeurl.com/%datafeed/%metric",
        "dataSourceParameter": {
          "httpHeader": "Sanitized",
          "payload": "payload",
          "httpMethod": "method",
          "url": "https://fakehost.com/"
        }
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b7ab60b4-1be5-4f5d-8376-a29242662e59",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-01T07:52:38.1549465-08:00",
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "2019828317"
  }
}