{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "sqlQuery": "query",
          "database": "database",
          "collectionId": "collectId"
        },
        "dataSourceType": "AzureCosmosDB",
        "dataFeedName": "dataFeedCG23sntr",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "cost"
          }
        ],
        "dataStartFrom": "2020-08-01T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/5a710092-6a79-4809-a83c-14e9ca5a4d5a"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/5a710092-6a79-4809-a83c-14e9ca5a4d5a",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "sqlQuery": "query",
          "database": "database",
          "collectionId": "collectId"
        },
        "dataSourceType": "AzureCosmosDB",
        "dataFeedName": "dataFeedU36paY9y",
        "dataFeedDescription": "This data feed was updated to test the .NET client.",
        "timestampColumn": "updatedTimestampColumn",
        "dataStartFrom": "2020-09-21T00:00:00Z",
        "startOffsetInSeconds": 2400,
        "maxConcurrency": 6,
        "minRetryIntervalInSeconds": 90,
        "stopRetryAfterInSeconds": 1200,
        "fillMissingPointType": "NoFilling",
        "viewMode": "Public",
        "viewers": [
          "fake@viewer.com"
        ],
        "actionLinkTemplate": "https://fakeurl.com/%datafeed/%metric"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/5a710092-6a79-4809-a83c-14e9ca5a4d5a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "5a710092-6a79-4809-a83c-14e9ca5a4d5a",
        "dataFeedName": "dataFeedU36paY9y",
        "metrics": [
          {
            "metricId": "ecf40fac-baad-43aa-bcaa-b37549eff408",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": ""
          }
        ],
        "dimension": [],
        "dataStartFrom": "2020-09-21T00:00:00Z",
        "dataSourceType": "AzureCosmosDB",
        "timestampColumn": "updatedTimestampColumn",
        "startOffsetInSeconds": 2400,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "granularityAmount": null,
        "allUpIdentification": null,
        "needRollup": "NoRollup",
        "fillMissingPointType": "NoFilling",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "rollUpColumns": [],
        "dataFeedDescription": "This data feed was updated to test the .NET client.",
        "stopRetryAfterInSeconds": 1200,
        "minRetryIntervalInSeconds": 90,
        "maxConcurrency": 6,
        "viewMode": "Public",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [
          "fake@viewer.com"
        ],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2021-02-01T13:42:10Z",
        "isAdmin": true,
        "actionLinkTemplate": "https://fakeurl.com/%datafeed/%metric",
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "database": "database",
          "sqlQuery": "query",
          "collectionId": "collectId"
        }
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/5a710092-6a79-4809-a83c-14e9ca5a4d5a",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-01T05:42:11.4414180-08:00",
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "879883807"
  }
}