{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "host": "host",
          "port": "port",
          "authHeader": "Sanitized",
          "query": "query"
        },
        "dataSourceType": "Elasticsearch",
        "dataFeedName": "dataFeedCleLfrR1",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "cost"
          }
        ],
        "dataStartFrom": "2020-08-01T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/aafa0287-e255-4e8a-bc8a-dc24feffa89e"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/aafa0287-e255-4e8a-bc8a-dc24feffa89e",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "host": "host",
          "port": "port",
          "authHeader": "Sanitized",
          "query": "query"
        },
        "dataSourceType": "Elasticsearch",
        "dataFeedName": "dataFeedCleLfrR1",
        "dataFeedDescription": "This data feed was updated to test the .NET client.",
        "timestampColumn": "updatedTimestampColumn",
        "dataStartFrom": "2020-08-01T00:00:00Z",
        "startOffsetInSeconds": 2400,
        "maxConcurrency": 6,
        "minRetryIntervalInSeconds": 90,
        "stopRetryAfterInSeconds": 1200,
        "fillMissingPointType": "NoFilling",
        "viewMode": "Public",
        "viewers": [
          "fake@viewer.com"
        ],
        "actionLinkTemplate": "https://fakeurl.com/%datafeed/%metric"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/aafa0287-e255-4e8a-bc8a-dc24feffa89e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "aafa0287-e255-4e8a-bc8a-dc24feffa89e",
        "dataFeedName": "dataFeedCleLfrR1",
        "metrics": [
          {
            "metricId": "ce141683-9769-4e6b-b050-1cdfdeb43957",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": ""
          }
        ],
        "dimension": [],
        "dataStartFrom": "2020-08-01T00:00:00Z",
        "dataSourceType": "Elasticsearch",
        "timestampColumn": "updatedTimestampColumn",
        "startOffsetInSeconds": 2400,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "granularityAmount": null,
        "allUpIdentification": null,
        "needRollup": "NoRollup",
        "fillMissingPointType": "NoFilling",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "rollUpColumns": [],
        "dataFeedDescription": "This data feed was updated to test the .NET client.",
        "stopRetryAfterInSeconds": 1200,
        "minRetryIntervalInSeconds": 90,
        "maxConcurrency": 6,
        "viewMode": "Public",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [
          "fake@viewer.com"
        ],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2021-01-05T04:51:03Z",
        "isAdmin": true,
        "actionLinkTemplate": "https://fakeurl.com/%datafeed/%metric",
        "dataSourceParameter": {
          "authHeader": "Sanitized",
          "port": "port",
          "query": "query",
          "host": "host"
        }
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/aafa0287-e255-4e8a-bc8a-dc24feffa89e",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-01-04T20:51:04.1217943-08:00",
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "294058770"
  }
}