{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "parameters": {
          "keyVaultEndpoint": "https://mock.com/",
          "keyVaultClientId": "mock",
          "keyVaultClientSecret": "Sanitized",
          "servicePrincipalIdNameInKV": "mock",
          "servicePrincipalSecretNameInKV": "mock",
          "tenantId": "mock"
        },
        "dataSourceCredentialType": "ServicePrincipalInKV",
        "dataSourceCredentialName": "credential73ZzE3La"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/ab0e2637-bc38-4b46-b3e2-5e81afc789eb"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/ab0e2637-bc38-4b46-b3e2-5e81afc789eb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataSourceCredentialId": "ab0e2637-bc38-4b46-b3e2-5e81afc789eb",
        "dataSourceCredentialName": "credential73ZzE3La",
        "dataSourceCredentialDescription": "",
        "dataSourceCredentialType": "ServicePrincipalInKV",
        "parameters": {
          "servicePrincipalSecretNameInKV": "mock",
          "servicePrincipalIdNameInKV": "mock",
          "tenantId": "mock",
          "keyVaultClientId": "mock",
          "keyVaultEndpoint": "https://mock.com/"
        }
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "accountName": "mock",
          "accountKey": "Sanitized",
          "fileSystemName": "mock",
          "directoryTemplate": "mock",
          "fileTemplate": "mock"
        },
        "dataSourceType": "AzureDataLakeStorageGen2",
        "dataFeedName": "dataFeedj10Ktbyc",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "cost"
          }
        ],
        "dataStartFrom": "2020-08-01T00:00:00.0000000Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/a995e42f-6658-4ad0-884e-172fa93d4674"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/a995e42f-6658-4ad0-884e-172fa93d4674",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "a995e42f-6658-4ad0-884e-172fa93d4674",
        "dataFeedName": "dataFeedj10Ktbyc",
        "metrics": [
          {
            "metricId": "464bdb13-1dc9-489e-93f8-a30fd1113df3",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": ""
          }
        ],
        "dimension": [],
        "dataStartFrom": "2020-08-01T00:00:00.0000000Z",
        "dataSourceType": "AzureDataLakeStorageGen2",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2021-07-06T07:56:03Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "fileTemplate": "mock",
          "accountName": "mock",
          "directoryTemplate": "mock",
          "fileSystemName": "mock"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/a995e42f-6658-4ad0-884e-172fa93d4674",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "accountName": "mock",
          "fileSystemName": "mock",
          "directoryTemplate": "mock",
          "fileTemplate": "mock"
        },
        "dataSourceType": "AzureDataLakeStorageGen2",
        "dataFeedName": "dataFeedj10Ktbyc",
        "dataFeedDescription": "",
        "timestampColumn": "",
        "dataStartFrom": "2020-08-01T00:00:00.0000000Z",
        "startOffsetInSeconds": 0,
        "maxConcurrency": -1,
        "minRetryIntervalInSeconds": -1,
        "stopRetryAfterInSeconds": -1,
        "needRollup": "NoRollup",
        "rollUpMethod": "None",
        "allUpIdentification": null,
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": null,
        "viewMode": "Private",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [],
        "status": "Active",
        "actionLinkTemplate": "",
        "authenticationType": "ServicePrincipalInKV",
        "credentialId": "ab0e2637-bc38-4b46-b3e2-5e81afc789eb"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "a995e42f-6658-4ad0-884e-172fa93d4674",
        "dataFeedName": "dataFeedj10Ktbyc",
        "metrics": [
          {
            "metricId": "464bdb13-1dc9-489e-93f8-a30fd1113df3",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription[...]
[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/ab0e2637-bc38-4b46-b3e2-5e81afc789eb",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1057557590"
  }
}