{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "accountName": "account",
          "accountKey": "Sanitized",
          "fileSystemName": "fileSystem",
          "directoryTemplate": "dir",
          "fileTemplate": "file"
        },
        "dataSourceType": "AzureDataLakeStorageGen2",
        "dataFeedName": "dataFeeddTt9Ks3M",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "cost"
          }
        ],
        "dataStartFrom": "2020-08-01T00:00:00.0000000Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/7fa1bfb3-9f62-46c7-892e-66fc61b81448"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/7fa1bfb3-9f62-46c7-892e-66fc61b81448",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "7fa1bfb3-9f62-46c7-892e-66fc61b81448",
        "dataFeedName": "dataFeeddTt9Ks3M",
        "metrics": [
          {
            "metricId": "7b639e9a-84e4-4de1-a6f9-b265877924f1",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": ""
          }
        ],
        "dimension": [],
        "dataStartFrom": "2020-08-01T00:00:00.0000000Z",
        "dataSourceType": "AzureDataLakeStorageGen2",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2021-07-06T07:59:04Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "fileTemplate": "file",
          "accountName": "account",
          "directoryTemplate": "dir",
          "fileSystemName": "fileSystem"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/7fa1bfb3-9f62-46c7-892e-66fc61b81448",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "accountName": "account",
          "fileSystemName": "fileSystem",
          "directoryTemplate": "dir",
          "fileTemplate": "file"
        },
        "dataSourceType": "AzureDataLakeStorageGen2",
        "dataFeedName": "dataFeedh9eW4KWH",
        "dataFeedDescription": "This data feed was updated to test the .NET client.",
        "timestampColumn": "updatedTimestampColumn",
        "dataStartFrom": "2020-09-21T00:00:00.0000000Z",
        "startOffsetInSeconds": 2400,
        "maxConcurrency": 6,
        "minRetryIntervalInSeconds": 90,
        "stopRetryAfterInSeconds": 1200,
        "needRollup": "NoRollup",
        "rollUpMethod": "None",
        "allUpIdentification": null,
        "fillMissingPointType": "NoFilling",
        "fillMissingPointValue": null,
        "viewMode": "Public",
        "admins": [
          "foo@contoso.com",
          "fake@admin.com"
        ],
        "viewers": [
          "fake@viewer.com"
        ],
        "status": "Active",
        "actionLinkTemplate": "https://fakeurl.com/%datafeed/%metric",
        "authenticationType": "Basic",
        "credentialId": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "7fa1bfb3-9f62-46c7-892e-66fc61b81448",
        "dataFeedName": "dataFeedh9eW4KWH",
        "metrics": [
          {
            "metricId": "7b639e9a-84e4-4de1-a6f9-b265877924f1",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": ""
          }
        ],
     [...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/7fa1bfb3-9f62-46c7-892e-66fc61b81448",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-07-06T00:59:07.4589772-07:00",
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1628686579"
  }
}