{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/networkcloud-sdk8480?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk8480",
        "name": "networkcloud-sdk8480",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m16-1-487bb720ddfb-HostedResources-25E56565/providers/Microsoft.NetworkCloud/storageAppliances?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "47619352-4dff-4631-8d9c-11f0fce11676",
          "b3e4b0a1-22a6-4185-9578-5992e761df72",
          "f7b25d80-b150-4ff2-95ea-d0ecc1f32bdb"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m16-1-487bb720ddfb-HostedResources-25E56565/providers/Microsoft.NetworkCloud/storageAppliances/b37m16purestor1",
            "name": "b37m16purestor1",
            "type": "microsoft.networkcloud/storageappliances",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m16-1-487bb720ddfb-hostedresources-25e56565/providers/microsoft.extendedlocation/customlocations/m16-1-487bb720ddfb-cstm-loc",
              "type": "CustomLocation"
            },
            "tags": {
              "CreatedBy": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m16-1-487bb720ddfb-hostedresources-25e56565/providers/microsoft.extendedlocation/customlocations/m16-1-487bb720ddfb-cstm-loc/resourcesyncrules/storageapplianceshydrationrule"
            },
            "systemData": {
              "createdBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
              "createdByType": "Application",
              "createdAt": "2023-06-20T07:25:44.1136628Z",
              "lastModifiedBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-06-22T15:45:56.5448268Z"
            },
            "properties": {
              "rackId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m16-1-487bb720ddfb-HostedResources-25E56565/providers/Microsoft.NetworkCloud/racks/b37m16r1",
              "storageApplianceSkuId": "Pure_x70r3_9_91000GB",
              "serialNumber": "serial",
              "rackSlot": 1,
              "administratorCredentials": {
                "username": "pureuser"
              },
              "clusterId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m16-1-cluster/providers/Microsoft.NetworkCloud/clusters/m16-1-487bb720ddfb",
              "detailedStatus": "Available",
              "detailedStatusMessage": "OK",
              "managementIpv4Address": "172.29.166.210",
              "provisioningState": "Succeeded",
              "capacity": 11792,
              "capacityUsed": 6,
              "remoteVendorManagementStatus": "Disabled",
              "remoteVendorManagementFeature": "Supported"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m16-1-487bb720ddfb-HostedResources-25E56565/providers/Microsoft.NetworkCloud/storageAppliances/b37m16purestor1?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229e06999b-0000-0100-0000-64946cb40000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m16-1-487bb720ddfb-HostedResources-25E56565/providers/Microsoft.NetworkCloud/storageAppliances/b37m16purestor1",
        "name": "b37m16purestor1",
        "type": "microsoft.networkcloud/storageappliances",
        "location": "eastus",
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-66[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m16-1-487bb720ddfb-HostedResources-25E56565/providers/Microsoft.NetworkCloud/storageAppliances/b37m16purestor1?api-version=2023-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test-key": "test-value",
          "CreatedBy": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m16-1-487bb720ddfb-hostedresources-25e56565/providers/microsoft.extendedlocation/customlocations/m16-1-487bb720ddfb-cstm-loc/resourcesyncrules/storageapplianceshydrationrule"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/95c2e9bd-fec2-4bc0-aa14-c621c26f6446*59EF5EDE11DD0D988E78E631A9351BB4859411331DE4F0D34290BC2C90DD6785?api-version=2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229e06589c-0000-0100-0000-64946d210000\u0022",
        "Location": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/95c2e9bd-fec2-4bc0-aa14-c621c26f6446*59EF5EDE11DD0D988E78E631A9351BB4859411331DE4F0D34290BC2C90DD6785?api-version=2023-05-01-preview",
        "mise-correlation-id": "19059ca4-21cc-4d79-9472-2bddfa9bef12",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/95c2e9bd-fec2-4bc0-aa14-c621c26f6446*59EF5EDE11DD0D988E78E631A9351BB4859411331DE4F0D34290BC2C90DD6785?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e502afb7-0000-0100-0000-64946d210000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/95c2e9bd-fec2-4bc0-aa14-c621c26f6446*59EF5EDE11DD0D988E78E631A9351BB4859411331DE4F0D34290BC2C90DD6785",
        "name": "95c2e9bd-fec2-4bc0-aa14-c621c26f6446*59EF5EDE11DD0D988E78E631A9351BB4859411331DE4F0D34290BC2C90DD6785",
        "resourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m16-1-487bb720ddfb-HostedResources-25E56565/providers/Microsoft.NetworkCloud/storageAppliances/b37m16purestor1",
        "status": "Accepted",
        "startTime": "2023-06-22T15:47:45.5227446Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/95c2e9bd-fec2-4bc0-aa14-c621c26f6446*59EF5EDE11DD0D988E78E631A9351BB4859411331DE4F0D34290BC2C90DD6785?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e502b7b7-0000-0100-0000-64946d270000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/95c2e9bd-fec2-4bc0-aa14-c621c26f6446*59EF5EDE11DD0D988E78E631A9351BB4859411331DE4F0D34290BC2C90DD6785",
        "name": "95c2e9bd-fec2-4bc0-aa14-c621c26f6446*59EF5EDE11DD0D988E78E631A9351BB4859411331DE4F0D34290BC2C90DD6785",
        "resourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/m16-1-487bb720ddfb-HostedResources-25E56565/providers/Microsoft.NetworkCloud/storageAppliances/b37m16purestor1",
        "status": "Succeeded",
        "startTime": "2023-06-22T15:47:45.5227446Z",
        "endTime": "2023-06-22T15:47:51.8003522Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/storageAppliances?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "51cd9b13-02af-4355-[...]
