{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/networkcloud-sdk3181?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk3181",
        "name": "networkcloud-sdk3181",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-1b65a4aa37ea-HostedResources-153901B1/providers/Microsoft.NetworkCloud/storageAppliances?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "3a77521e-9300-473f-933e-5cf0bd2c98ad",
          "aa1e55e6-1f36-43e4-a08c-14d9e7506fd8",
          "f8da069c-77de-4878-9572-680857e0c89a"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-1b65a4aa37ea-HostedResources-153901B1/providers/Microsoft.NetworkCloud/storageAppliances/b37m20purestor1",
            "name": "b37m20purestor1",
            "type": "microsoft.networkcloud/storageappliances",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-1b65a4aa37ea-hostedresources-153901b1/providers/microsoft.extendedlocation/customlocations/m20-1b65a4aa37ea-cstm-loc",
              "type": "CustomLocation"
            },
            "tags": {
              "CreatedBy": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-1b65a4aa37ea-hostedresources-153901b1/providers/microsoft.extendedlocation/customlocations/m20-1b65a4aa37ea-cstm-loc/resourcesyncrules/storageapplianceshydrationrule"
            },
            "systemData": {
              "createdBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
              "createdByType": "Application",
              "createdAt": "2023-02-26T05:01:57.1378426Z",
              "lastModifiedBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-02-27T18:49:51.4507939Z"
            },
            "properties": {
              "rackId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-1b65a4aa37ea-HostedResources-153901B1/providers/Microsoft.NetworkCloud/racks/b37m20r1",
              "storageApplianceSkuId": "Pure_x70r3_9_91000GB",
              "serialNumber": "serial",
              "rackSlot": 1,
              "administratorCredentials": {
                "username": "pureuser"
              },
              "detailedStatus": "Available",
              "detailedStatusMessage": "StorageAppliance provisioning Succeeded",
              "clusterId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.NetworkCloud/clusters/m20-1b65a4aa37ea",
              "managementIpv4Address": "172.29.127.58",
              "capacity": 11792,
              "capacityUsed": 1,
              "remoteVendorManagementStatus": "Disabled",
              "remoteVendorManagementFeature": "Supported",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-1b65a4aa37ea-HostedResources-153901B1/providers/Microsoft.NetworkCloud/storageAppliances/b37m20purestor1?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002201004e8b-0000-0100-0000-63fcfb4f0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-1b65a4aa37ea-HostedResources-153901B1/providers/Microsoft.NetworkCloud/storageAppliances/b37m20purestor1",
        "name": "b37m20purestor1",
        "type": "microsoft.networkcloud/storageappliances",
        "location": "eastus",
        "extendedLocation": {
          "name": "/subscriptions/fca2e8ee-1179[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-1b65a4aa37ea-HostedResources-153901B1/providers/Microsoft.NetworkCloud/storageAppliances/b37m20purestor1?api-version=2022-12-12-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test-key": "test-value",
          "CreatedBy": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-1b65a4aa37ea-hostedresources-153901b1/providers/microsoft.extendedlocation/customlocations/m20-1b65a4aa37ea-cstm-loc/resourcesyncrules/storageapplianceshydrationrule"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/627f6666-056f-4a5f-95d5-16fcd785b871*75A5895A15A69E75A161DECC7835227766697CB25A06C72C52A3B24630C6A742?api-version=2022-12-12-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002201004f8b-0000-0100-0000-63fcfb5c0000\u0022",
        "Location": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/627f6666-056f-4a5f-95d5-16fcd785b871*75A5895A15A69E75A161DECC7835227766697CB25A06C72C52A3B24630C6A742?api-version=2022-12-12-preview",
        "mise-correlation-id": "7df81d4e-438e-4d3e-9324-3040fe70978f",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/627f6666-056f-4a5f-95d5-16fcd785b871*75A5895A15A69E75A161DECC7835227766697CB25A06C72C52A3B24630C6A742?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002229009d28-0000-0100-0000-63fcfb5c0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/627f6666-056f-4a5f-95d5-16fcd785b871*75A5895A15A69E75A161DECC7835227766697CB25A06C72C52A3B24630C6A742",
        "name": "627f6666-056f-4a5f-95d5-16fcd785b871*75A5895A15A69E75A161DECC7835227766697CB25A06C72C52A3B24630C6A742",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-1b65a4aa37ea-HostedResources-153901B1/providers/Microsoft.NetworkCloud/storageAppliances/b37m20purestor1",
        "status": "Accepted",
        "startTime": "2023-02-27T18:50:04.5972794Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/627f6666-056f-4a5f-95d5-16fcd785b871*75A5895A15A69E75A161DECC7835227766697CB25A06C72C52A3B24630C6A742?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222900a128-0000-0100-0000-63fcfb630000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/627f6666-056f-4a5f-95d5-16fcd785b871*75A5895A15A69E75A161DECC7835227766697CB25A06C72C52A3B24630C6A742",
        "name": "627f6666-056f-4a5f-95d5-16fcd785b871*75A5895A15A69E75A161DECC7835227766697CB25A06C72C52A3B24630C6A742",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-1b65a4aa37ea-HostedResources-153901B1/providers/Microsoft.NetworkCloud/storageAppliances/b37m20purestor1",
        "status": "Succeeded",
        "startTime": "2023-02-27T18:50:04.5972794Z",
        "endTime": "2023-02-27T18:50:11.8914193Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/storageAppliances?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "42906414-5d6b-468a-[...]
