{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-1981?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-1981",
        "name": "testRG-1981",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-1981/providers/Microsoft.Compute/hostGroups/testDHG-976?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "platformFaultDomainCount": 2
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutDeleteDedicatedHost3Min;119,Microsoft.Compute/PutDeleteDedicatedHost30Min;580",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "testDHG-976",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/TESTRG-1981/providers/Microsoft.Compute/hostGroups/testDHG-976",
        "type": "Microsoft.Compute/hostGroups",
        "location": "eastus",
        "tags": {},
        "properties": {
          "platformFaultDomainCount": 2,
          "supportAutomaticPlacement": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/TESTRG-1981/providers/Microsoft.Compute/hostGroups/testDHG-976/hosts/testHost-3254?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "DSv3-Type1"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "platformFaultDomain": 0
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/operations/e558de49-d3a6-4211-9a60-a7d0b8c3a639?p=6a5473bf-f845-44a5-b675-411600120563\u0026api-version=2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutDeleteDedicatedHost3Min;118,Microsoft.Compute/PutDeleteDedicatedHost30Min;579",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "name": "testHost-3254",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/TESTRG-1981/providers/Microsoft.Compute/hostGroups/testDHG-976/hosts/testHost-3254",
        "type": "Microsoft.Compute/hostGroups/hosts",
        "location": "eastus",
        "tags": {},
        "sku": {
          "name": "DSv3-Type1"
        },
        "properties": {
          "platformFaultDomain": 0,
          "autoReplaceOnFailure": true,
          "hostId": "cbd28dc2-58d5-438a-8104-e68c34af1834",
          "provisioningState": "Creating",
          "timeCreated": "2022-10-03T03:40:01.9496827\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/operations/e558de49-d3a6-4211-9a60-a7d0b8c3a639?p=6a5473bf-f845-44a5-b675-411600120563\u0026api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29995",
        "x-ms-ratelimit-remaining-subscription-reads": "11973"
      },
      "ResponseBody": {
        "startTime": "2022-10-03T03:40:01.8871621\u002B00:00",
        "endTime": "2022-10-03T03:40:02.465318\u002B00:00",
        "status": "Succeeded",
        "name": "e558de49-d3a6-4211-9a60-a7d0b8c3a639"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/TESTRG-1981/providers/Microsoft.Compute/hostGroups/testDHG-976/hosts/testHost-3254?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetDedicatedHost3Min;188,Microsoft.Compute/GetDedicatedHost30Min;896",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "name": "testHost-3254",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/TESTRG-1981/providers/Microsoft.Compute/hostGroups/testDHG-976/hosts/testHost-3254",
        "type": "Microsoft.Compute/hostGroups/hosts",
        "location": "eastus",
        "tags": {},
        "sku": {
          "name": "DSv3-Type1"
        },
        "properties": {
          "platformFaultDomain": 0,
          "autoReplaceOnFailure": true,
          "hostId": "cbd28dc2-58d5-438a-8104-e68c34af1834",
          "virtualMachines": [],
          "provisioningTime": "2022-10-03T03:40:02.4028147\u002B00:00",
          "provisioningState": "Succeeded",
          "timeCreated": "2022-10-03T03:40:01.9496827\u002B00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/TESTRG-1981/providers/Microsoft.Compute/hostGroups/testDHG-976/hosts/testHost-3254?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetDedicatedHost3Min;186,Microsoft.Compute/GetDedicatedHost30Min;894",
        "x-ms-ratelimit-remaining-subscription-reads": "11971"
      },
      "ResponseBody": {
        "name": "testHost-3254",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/TESTRG-1981/providers/Microsoft.Compute/hostGroups/testDHG-976/hosts/testHost-3254",
        "type": "Microsoft.Compute/hostGroups/hosts",
        "location": "eastus",
        "tags": {},
        "sku": {
          "name": "DSv3-Type1"
        },
        "properties": {
          "platformFaultDomain": 0,
          "autoReplaceOnFailure": false,
          "hostId": "cbd28dc2-58d5-438a-8104-e68c34af1834",
          "virtualMachines": [],
          "provisioningTime": "2022-10-03T03:40:02.4028147\u002B00:00",
          "provisioningState": "Succeeded",
          "timeCreated": "2022-10-03T03:40:01.9496827\u002B00:00"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "498015852",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
