{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11965"
      },
      "ResponseBody": {
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipGreenTeamLinuxSSHAuthForSub": "1020642667"
        },
        "subscriptionId": "e37510d7-33b6-4676-886f-ee75bcc01871",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CPlat SDK/PowerShell",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourcegroups/testRG-9307?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1157"
      },
      "ResponseBody": {
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-9307",
        "name": "testRG-9307",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-9307/providers/Microsoft.Compute/hostGroups/testDHG-2420?api-version=2023-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "platformFaultDomainCount": 2
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutDeleteDedicatedHost3Min;45,Microsoft.Compute/PutDeleteDedicatedHost30Min;525",
        "x-ms-ratelimit-remaining-subscription-writes": "1156"
      },
      "ResponseBody": {
        "name": "testDHG-2420",
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/TESTRG-9307/providers/Microsoft.Compute/hostGroups/testDHG-2420",
        "type": "Microsoft.Compute/hostGroups",
        "location": "eastus",
        "tags": {},
        "properties": {
          "platformFaultDomainCount": 2,
          "supportAutomaticPlacement": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/TESTRG-9307/providers/Microsoft.Compute/hostGroups/testDHG-2420/hosts/testHost-8075?api-version=2023-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "DSv3-Type1"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "platformFaultDomain": 0
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/eastus/operations/7458d71d-25ae-4d89-bb6a-59da7a5fa924?p=4bed644a-a596-4634-b1fa-8009f92f8b59\u0026api-version=2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutDeleteDedicatedHost3Min;44,Microsoft.Compute/PutDeleteDedicatedHost30Min;524",
        "x-ms-ratelimit-remaining-subscription-writes": "1155"
      },
      "ResponseBody": {
        "name": "testHost-8075",
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/TESTRG-9307/providers/Microsoft.Compute/hostGroups/testDHG-2420/hosts/testHost-8075",
        "type": "Microsoft.Compute/hostGroups/hosts",
        "location": "eastus",
        "tags": {},
        "sku": {
          "name": "DSv3-Type1"
        },
        "properties": {
          "platformFaultDomain": 0,
          "autoReplaceOnFailure": true,
          "hostId": "0dcaebe1-dd8a-4576-b10e-425136e931d1",
          "provisioningState": "Creating",
          "timeCreated": "2023-04-28T17:55:24.1812783\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/eastus/operations/7458d71d-25ae-4d89-bb6a-59da7a5fa924?p=4bed644a-a596-4634-b1fa-8009f92f8b59\u0026api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14985,Microsoft.Compute/GetOperation30Min;29985",
        "x-ms-ratelimit-remaining-subscription-reads": "11964"
      },
      "ResponseBody": {
        "startTime": "2023-04-28T17:55:24.1500274\u002B00:00",
        "status": "InProgress",
        "name": "7458d71d-25ae-4d89-bb6a-59da7a5fa924"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/eastus/operations/7458d71d-25ae-4d89-bb6a-59da7a5fa924?p=4bed644a-a596-4634-b1fa-8009f92f8b59\u0026api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14984,Microsoft.Compute/GetOperation30Min;29984",
        "x-ms-ratelimit-remaining-subscription-reads": "11963"
      },
      "ResponseBody": {
        "startTime": "2023-04-28T17:55:24.1500274\u002B00:00",
        "endTime": "2023-04-28T17:55:24.5875274\u002B00:00",
        "status": "Succeeded",
        "name": "7458d71d-25ae-4d89-bb6a-59da7a5fa924"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/TESTRG-9307/providers/Microsoft.Compute/hostGroups/testDHG-2420/hosts/testHost-8075?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetDedicatedHost3Min;227,Microsoft.Compute/GetDedicatedHost30Min;963",
        "x-ms-ratelimit-remaining-subscription-reads": "11962"
      },
      "ResponseBody": {
        "name": "testHost-8075",
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/TESTRG-9307/providers/Microsoft.Compute/hostGroups/testDHG-2420/hosts/testHost-8075",
        "type": "Microsoft.Compute/hostGroups/hosts",
        "location": "eastus",
        "tags": {},
        "sku": {
          "name": "DSv3-Type1"
        },
        "properties": {
          "platformFaultDomain": 0,
          "autoReplaceOnFailure": true,
          "hostId": "0dcaebe1-dd8a-4576-b10e-425136e931d1",
          "virtualMachines": [],
          "provisioningTime": "2023-04-28T17:55:24.5250286\u002B00:00",
          "provisioningState": "Succeeded",
          "timeCreated": "2023-04-28T17:55:24.1812783\u002B00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/TESTRG-9307/providers/Microsoft.Compute/hostGroups/testDHG-2420/hosts/testHost-8075?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetDedicatedHost3Min;226,Microsoft.Compute/GetDedicatedHost30Min;961",
        "x-ms-ratelimit-remaining-subscription-reads": "11961"
      },
      "ResponseBody": {
        "name": "testHost-8075",
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/TESTRG-9307/providers/Microsoft.Compute/hostGroups/testDHG-2420/hosts/testHost-8075",
        "type": "Microsoft.Compute/hostGroups/hosts",
        "location": "eastus",
        "tags": {},
        "sku": {
          "name": "DSv3-Type1"
        },
        "properties": {
          "platformFaultDomain": 0,
          "autoReplaceOnFailure": false,
          "hostId": "0dcaebe1-dd8a-4576-b10e-425136e931d1",
          "virtualMachines": [],
          "provisioningTime": "2023-04-28T17:55:24.5250286\u002B00:00",
          "provisioningState": "Succeeded",
          "timeCreated": "2023-04-28T17:55:24.1812783\u002B00:00"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "241435906",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "e37510d7-33b6-4676-886f-ee75bcc01871"
  }
}
