{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/metrics/requests%2Fduration?timespan=PT12H&interval=PT1H&aggregation=avg&segment=request%2FresultCode",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": {\r\n    \"start\": \"2018-09-24T09:36:19.94Z\",\r\n    \"end\": \"2018-09-24T21:36:19.94Z\",\r\n    \"interval\": \"PT1H\",\r\n    \"segments\": [\r\n      {\r\n        \"start\": \"2018-09-24T09:36:19.94Z\",\r\n        \"end\": \"2018-09-24T10:00:00Z\",\r\n        \"segments\": [\r\n          {\r\n            \"requests/duration\": {\r\n              \"avg\": 211.13\r\n            },\r\n            \"request/resultCode\": \"500\"\r\n          },\r\n          {\r\n            \"requests/duration\": {\r\n              \"avg\": 93.42\r\n            },\r\n            \"request/resultCode\": \"200\"\r\n          },\r\n          {\r\n            \"requests/duration\": {\r\n              \"avg\": 2.95\r\n            },\r\n            \"request/resultCode\": \"404\"\r\n          }\r\n        ]\r\n      },\r\n      {\r\n        \"start\": \"2018-09-24T10:00:[...]
