{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/sip?api-version=2021-05-01-preview1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "trunks": {
          "sbs1.contoso.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.contoso.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.contoso.com"
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "J70/DCyEw0SbbLRa1h4vmA.0",
        "X-Processing-Time": "923ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.contoso.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.contoso.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with \u0027\u002B123\u0027",
            "name": "First rule",
            "numberPattern": "\\\u002B123[0-9]\u002B",
            "trunks": [
              "sbs1.contoso.com"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/sip?api-version=2021-05-01-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "eC/7rVykzkqGv6rC7dqItA.0",
        "X-Processing-Time": "179ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.contoso.com": {
            "sipSignalingPort": 1122
          },
          "sbs2.contoso.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle all other numbers\u0027",
            "name": "Last rule",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": [
              "sbs1.contoso.com",
              "sbs2.contoso.com"
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1457683873"
  }
}