<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="1.22.0" targetFramework="net451" />
  <package id="Hyak.Common" version="1.0.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.Azure.Common" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Azure.Common.Dependencies" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Azure.Test.Framework" version="1.0.5799.28345-prerelease" targetFramework="net451" />
  <package id="Microsoft.Azure.Test.HttpRecorder" version="1.0.5799.28345-prerelease" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net451" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.6.2" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.2" targetFramework="net451" />
  <package id="Microsoft.Data.Services.Client" version="5.6.2" targetFramework="net451" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.18.206251556" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.8.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.2" targetFramework="net451" />
  
  <!--Please do not upgrade the version to newer unless you have to.
    The newer one can't install using the "VS2013 + update2" we recommended to parnter teams, due to error 
    such as "'WindowsAzure.Storage' already has a dependency defined for 'Microsoft.Data.OData'".
    (The latest VS updates contain nuget components which fixes this issue, but we don't want 
    all teams to upgrade their environments unless we have other compelling reasons) -->
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net451" />
  
  <package id="xunit" version="1.9.2" targetFramework="net451" />
  <package id="xunit.runner.visualstudio" version="0.99.9-build1021" targetFramework="net451" />

  <package id="Microsoft.Azure.Management.Resources" version="2.18.0-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management" version="4.1.1" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.Storage" version="5.1.1" targetFramework="net45" />
</packages>
