{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "No roads or rails connect the 39,000 people dispersed across Nunavut, a territory in northeastern Canada that spans three time zones and features fjord-cut isles that stretch into the Arctic Circle off the west coast of Greenland. About 80% of the population is of Inuit descent with cultural ties to the land that date back more than 4,000 years. Today, low-bandwidth satellite internet service links the people of Nunavut to each other and with the rest of the world. The Government of Nunavut re[...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/analyze/jobs/0887034f-f934-43a1-bac0-36a4ac2c78c3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "0887034f-f934-43a1-bac0-36a4ac2c78c3",
        "lastUpdateDateTime": "2021-08-06T17:24:09Z",
        "createdDateTime": "2021-08-06T17:24:09Z",
        "expirationDateTime": "2021-08-07T17:24:09Z",
        "status": "running",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/analyze/jobs/0887034f-f934-43a1-bac0-36a4ac2c78c3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "0887034f-f934-43a1-bac0-36a4ac2c78c3",
        "lastUpdateDateTime": "2021-08-06T17:24:33Z",
        "createdDateTime": "2021-08-06T17:24:09Z",
        "expirationDateTime": "2021-08-07T17:24:09Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "extractiveSummarizationTasks": [
            {
              "lastUpdateDateTime": "2021-08-06T17:24:33.2614047Z",
              "taskName": "ExtractiveSummarization_latest",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "sentences": [
                      {
                        "text": "Today, low-bandwidth satellite internet service links the people of Nunavut to each other and with the rest of the world.",
                        "rankScore": 0.9994588075869211,
                        "offset": 348,
                        "length": 121
                      },
                      {
                        "text": "The Government of Nunavut relies on this internet link to provide healthcare, education, housing and family, and financial and other services to 25 communities.",
                        "rankScore": 1.0,
                        "offset": 470,
                        "length": 160
                      },
                      {
                        "text": "The smallest, Grise Fiord, has a population of 130;",
                        "rankScore": 0.9520915234713937,
                        "offset": 631,
                        "length": 51
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "sentences": [
                      {
                        "text": "Windows 365 was in the works before COVID-19 sent companies around the world on a scramble to secure solutions to support employees suddenly forced to work from home, but \u201Cwhat really put the firecracker behind it was the pandemic, it accelerated everything,\u201D McKelvey said.",
                        "rankScore": 1.0,
   [...]
