{
  "Entries": [
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Subject is taking 100mg of ibuprofen twice daily",
              "language": "en"
            },
            {
              "id": "1",
              "text": "",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "extractiveSummarizationTasks": [
            {
              "parameters": {
                "stringIndexType": "Utf16CodeUnit"
              }
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/73ad1a9a-58d0-4284-9bae-889a40063a5c"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/73ad1a9a-58d0-4284-9bae-889a40063a5c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "73ad1a9a-58d0-4284-9bae-889a40063a5c",
        "lastUpdateDateTime": "2021-09-23T14:46:28Z",
        "createdDateTime": "2021-09-23T14:46:28Z",
        "expirationDateTime": "2021-09-24T14:46:28Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/73ad1a9a-58d0-4284-9bae-889a40063a5c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "73ad1a9a-58d0-4284-9bae-889a40063a5c",
        "lastUpdateDateTime": "2021-09-23T14:46:30Z",
        "createdDateTime": "2021-09-23T14:46:28Z",
        "expirationDateTime": "2021-09-24T14:46:28Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "extractiveSummarizationTasks": [
            {
              "lastUpdateDateTime": "2021-09-23T14:46:30.2859851Z",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "sentences": [
                      {
                        "text": "Subject is taking 100mg of ibuprofen twice daily",
                        "rankScore": 1.0,
                        "offset": 0,
                        "length": 48
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "1",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid document in request.",
                      "innererror": {
                        "code": "InvalidDocument",
                        "message": "Document text is empty."
                      }
                    }
                  }
                ],
                "modelVersion": "2021-08-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1798314847",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://cognitiveweppe.azure-api.net"
  }
}