{
  "Entries": [
    {
      "RequestUri": "/17b273ba-2f10-4f38-abf6-4ab04663718b/services/servicebus/regions",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <title type=\"text\"></title>\r\n  <id>uuid:179f9414-0df8-48b2-a971-b0a3343a6e25;id=2658113</id>\r\n  <updated>2014-10-01T21:43:45Z</updated>\r\n  <entry>\r\n    <id>uuid:179f9414-0df8-48b2-a971-b0a3343a6e25;id=2658114</id>\r\n    <title type=\"text\"></title>\r\n    <updated>2014-10-01T21:43:45Z</updated>\r\n    <content type=\"application/xml\">\r\n      <RegionCodeDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n        <Code>Central US</Code>\r\n        <FullName>Central US</FullName>\r\n      </RegionCodeDescription>\r\n    </content>\r\n  </entry>\r\n  <entry>\r\n    <id>uuid:179f9414-0df8-48b2-a971-b0a3343a6e25;id=2658115</id>\r\n    <title type=\"text\"></title>\r\n    <updated>2014-10-01T21:43:45Z</updated>\r\n    <content type=\"application/xml\">\r\n      <RegionCodeDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n        <Code>East US</Code>\r\n    [...]
    {
      "RequestUri": "/17b273ba-2f10-4f38-abf6-4ab04663718b/services/servicebus/namespaces/dummy8006",
      "RequestMethod": "PUT",
      "RequestBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <content type=\"application/atom+xml;type=entry;charset=utf-8\">\r\n    <NamespaceDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\">\r\n      <Region>Central US</Region>\r\n      <CreateACSNamespace>true</CreateACSNamespace>\r\n      <NamespaceType>NotificationHub</NamespaceType>\r\n    </NamespaceDescription>\r\n  </content>\r\n</entry>",
      "RequestHeaders": {
        "Content-Type": [
          "application/atom+xml"
        ],
        "type": [
          "entry"
        ],
        "x-ms-version": [
          "2014-06-01"
        ]
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <id>uuid:179f9414-0df8-48b2-a971-b0a3343a6e25;id=2658127</id>\r\n  <title type=\"text\"></title>\r\n  <updated>2014-10-01T21:43:46Z</updated>\r\n  <content type=\"application/xml\">\r\n    <NamespaceDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n      <Name>dummy8006</Name>\r\n      <Region>Central US</Region>\r\n      <DefaultKey>P8hFqShxGq2B1VMIFXKzZTe+JP3eyKZO0rg43QVnpcQ=</DefaultKey>\r\n      <Status>Activating</Status>\r\n      <CreatedAt>2014-10-01T21:43:45.953Z</CreatedAt>\r\n      <AcsManagementEndpoint>https://dummy8006-sb.accesscontrol.windows.net/</AcsManagementEndpoint>\r\n      <ServiceBusEndpoint>https://dummy8006.servicebus.windows.net/</ServiceBusEndpoint>\r\n      <ConnectionString>Endpoint=sb://dummy8006.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=P8hFqShxGq2B1VMIFXKzZTe+JP3eyKZO0rg43QVnpcQ=</ConnectionString>\r\n      <SubscriptionId>17b273ba2f104f38abf64ab04663718b</SubscriptionId>\r\n      <Enabled>true</Enabled>\r\n      <Critical>false</Critical>\r\n      <CreateACSNamespace>true</CreateACSNamespace>\r\n      <NamespaceType>NotificationHub</NamespaceType>\r\n    </NamespaceDescription>\r\n  </content>\r\n</entry>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/atom+xml; type=entry; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/17b273ba-2f10-4f38-abf6-4ab04663718b/services/servicebus/namespaces/dummy8006",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-08-01"
        ]
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <id>uuid:179f9414-0df8-48b2-a971-b0a3343a6e25;id=2658226</id>\r\n  <title type=\"text\"></title>\r\n  <updated>2014-10-01T21:43:50Z</updated>\r\n  <content type=\"application/xml\">\r\n    <NamespaceDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n      <Name>dummy8006</Name>\r\n      <Region>Central US</Region>\r\n      <Status>Activating</Status>\r\n      <CreatedAt>2014-10-01T21:43:45.953Z</CreatedAt>\r\n      <AcsManagementEndpoint>https://dummy8006-sb.accesscontrol.windows.net/</AcsManagementEndpoint>\r\n      <ServiceBusEndpoint>https://dummy8006.servicebus.windows.net/</ServiceBusEndpoint>\r\n      <SubscriptionId>17b273ba2f104f38abf64ab04663718b</SubscriptionId>\r\n      <Enabled>true</Enabled>\r\n      <Critical>false</Critical>\r\n      <UpdatedAt>2014-10-01T21:43:45.953Z</UpdatedAt>\r\n      <CreateACSNamespace>true</CreateACSNamespace>\r\n      <EventHubEnabled>true</EventHubEnabled>\r\n      <NamespaceType>NotificationHub</NamespaceType>\r\n    </NamespaceDescription>\r\n  </content>\r\n</entry>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/atom+xml; type=entry; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ]
      },
      "StatusCode": 200
    },
[...]
