{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2023-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 May 2023 19:07:06 GMT"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Location": "Sanitized",
        "MS-CV": "Ic40iKbu60Wc7MZHKOnNbQ.0",
        "operation-id": "search_e78e1f67-e566-4624-bc8d-ed191ac8eb39",
        "Operation-Location": "/phoneNumbers/operations/search_e78e1f67-e566-4624-bc8d-ed191ac8eb39?api-version=2023-05-01-preview",
        "search-id": "e78e1f67-e566-4624-bc8d-ed191ac8eb39",
        "X-Processing-Time": "1338ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/search_e78e1f67-e566-4624-bc8d-ed191ac8eb39?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 May 2023 19:07:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "MS-CV": "wMdmsUOVRkSoKsX0DPLXqg.0",
        "X-Processing-Time": "250ms"
      },
      "ResponseBody": {
        "operationType": "search",
        "status": "notStarted",
        "resourceLocation": "/availablePhoneNumbers/searchResults/e78e1f67-e566-4624-bc8d-ed191ac8eb39?api-version=2023-05-01-preview",
        "createdDateTime": "2023-05-25T19:07:07.4043199\u002B00:00",
        "id": "search_e78e1f67-e566-4624-bc8d-ed191ac8eb39",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/searchResults/e78e1f67-e566-4624-bc8d-ed191ac8eb39?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 May 2023 19:07:09 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "vQq5A39QWk6E4I1/Ktfdfg.0",
        "X-Processing-Time": "764ms"
      },
      "ResponseBody": {
        "searchId": "e78e1f67-e566-4624-bc8d-ed191ac8eb39",
        "phoneNumbers": [
          "Sanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2023-05-25T19:23:08.8347872\u002B00:00",
        "error": "NoError"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/searchResults/e78e1f67-e566-4624-bc8d-ed191ac8eb39?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 May 2023 19:07:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ohirLUes\u002BUusNGY345UKUg.0",
        "X-Processing-Time": "771ms"
      },
      "ResponseBody": {
        "searchId": "e78e1f67-e566-4624-bc8d-ed191ac8eb39",
        "phoneNumbers": [
          "Sanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2023-05-25T19:23:08.8347872\u002B00:00",
        "error": "NoError"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "844126938"
  }
}
