{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2023-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 24 May 2023 23:01:51 GMT"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Location": "Sanitized",
        "MS-CV": "N60BRjTh4kSdMd/chIudnA.0",
        "operation-id": "search_2b0c10ad-686e-4310-bfb6-11b56ed4ae2f",
        "Operation-Location": "/phoneNumbers/operations/search_2b0c10ad-686e-4310-bfb6-11b56ed4ae2f?api-version=2023-05-01-preview",
        "search-id": "2b0c10ad-686e-4310-bfb6-11b56ed4ae2f",
        "X-Processing-Time": "1406ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/search_2b0c10ad-686e-4310-bfb6-11b56ed4ae2f?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 24 May 2023 23:01:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "MS-CV": "QtkM2crbj0GMEQan9l8KfA.0",
        "X-Processing-Time": "256ms"
      },
      "ResponseBody": {
        "operationType": "search",
        "status": "succeeded",
        "resourceLocation": "/availablePhoneNumbers/searchResults/2b0c10ad-686e-4310-bfb6-11b56ed4ae2f?api-version=2023-05-01-preview",
        "createdDateTime": "2023-05-24T23:01:53.274164\u002B00:00",
        "id": "search_2b0c10ad-686e-4310-bfb6-11b56ed4ae2f",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/searchResults/2b0c10ad-686e-4310-bfb6-11b56ed4ae2f?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 24 May 2023 23:01:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "d/VoA2\u002Bzp0eEusa81RvGkQ.0",
        "X-Processing-Time": "718ms"
      },
      "ResponseBody": {
        "searchId": "2b0c10ad-686e-4310-bfb6-11b56ed4ae2f",
        "phoneNumbers": [
          "Sanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2023-05-24T23:17:55.3841507\u002B00:00",
        "error": "NoError"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/searchResults/2b0c10ad-686e-4310-bfb6-11b56ed4ae2f?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 24 May 2023 23:01:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "X\u002BDifrUABkeTr62H1wK\u002BwA.0",
        "X-Processing-Time": "799ms"
      },
      "ResponseBody": {
        "searchId": "2b0c10ad-686e-4310-bfb6-11b56ed4ae2f",
        "phoneNumbers": [
          "Sanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2023-05-24T23:17:55.3841507\u002B00:00",
        "error": "NoError"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1450850779"
  }
}
