{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 Dec 2022 21:51:14 GMT"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        }
      },
      "StatusCode": 202,
        "ResponseHeaders": {
            "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
            "Location": "/availablePhoneNumbers/searchResults/4db71233-7472-4240-9cd3-17bb77a50321?api-version=2022-12-01",
            "MS-CV": "xdhWeivEIEKJ64gt0lEzBA.0",
            "operation-id": "search_4db71233-7472-4240-9cd3-17bb77a50321",
            "Operation-Location": "/phoneNumbers/operations/search_4db71233-7472-4240-9cd3-17bb77a50321?api-version=2022-12-01",
            "search-id": "4db71233-7472-4240-9cd3-17bb77a50321",
            "X-Processing-Time": "1443ms"
        },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/search_4db71233-7472-4240-9cd3-17bb77a50321?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 Dec 2022 21:51:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
        "ResponseHeaders": {
            "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01",
            "Content-Type": "application/json; charset=utf-8",
            "Location": "/availablePhoneNumbers/searchResults/4db71233-7472-4240-9cd3-17bb77a50321?api-version=2022-12-01",
            "MS-CV": "VGOBO6bo90uJjCj04QUiKQ.0",
            "X-Processing-Time": "243ms"
        },
      "ResponseBody": {
        "operationType": "search",
        "status": "notStarted",
        "resourceLocation": "/availablePhoneNumbers/searchResults/4db71233-7472-4240-9cd3-17bb77a50321?api-version=2022-12-01",
        "createdDateTime": "2022-12-20T21:51:15.8651833\u002B00:00",
        "id": "search_4db71233-7472-4240-9cd3-17bb77a50321",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/searchResults/4db71233-7472-4240-9cd3-17bb77a50321?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 Dec 2022 21:51:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "R2hf4IPQeESrQ\u002B2FVqvkvQ.0",
        "X-Processing-Time": "646ms"
      },
      "ResponseBody": {
        "searchId": "4db71233-7472-4240-9cd3-17bb77a50321",
        "phoneNumbers": [
          "Sanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2022-12-20T22:07:19.4666226\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "363547020"
  }
}
