{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Mar 2023 16:17:47 GMT"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2",
        "Location": "Sanitized",
        "MS-CV": "BnaCRz8Iok\u002B4fxzXoWKpJg.0",
        "operation-id": "search_39f03819-5f5e-418d-b234-36bd0d18c663",
        "Operation-Location": "/phoneNumbers/operations/search_39f03819-5f5e-418d-b234-36bd0d18c663?api-version=2022-12-01",
        "search-id": "39f03819-5f5e-418d-b234-36bd0d18c663",
        "X-Processing-Time": "1567ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/search_39f03819-5f5e-418d-b234-36bd0d18c663?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Mar 2023 16:17:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "MS-CV": "/rGfGu1lqkSTxlyUtsrWjQ.0",
        "X-Processing-Time": "184ms"
      },
      "ResponseBody": {
        "operationType": "search",
        "status": "notStarted",
        "resourceLocation": "/availablePhoneNumbers/searchResults/39f03819-5f5e-418d-b234-36bd0d18c663?api-version=2022-12-01",
        "createdDateTime": "2023-03-14T16:17:47.6313769\u002B00:00",
        "id": "search_39f03819-5f5e-418d-b234-36bd0d18c663",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/searchResults/39f03819-5f5e-418d-b234-36bd0d18c663?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Mar 2023 16:17:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Gcyq5R\u002BTTU\u002BhkJbpJHeTRA.0",
        "X-Processing-Time": "498ms"
      },
      "ResponseBody": {
        "searchId": "39f03819-5f5e-418d-b234-36bd0d18c663",
        "phoneNumbers": [
          "Sanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2023-03-14T16:33:49.0634860\u002B00:00"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/searchResults/39f03819-5f5e-418d-b234-36bd0d18c663?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Mar 2023 16:17:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "LcY9tuzqSEiIOp\u002BPMOxLPg.0",
        "X-Processing-Time": "1255ms"
      },
      "ResponseBody": {
        "searchId": "39f03819-5f5e-418d-b234-36bd0d18c663",
        "phoneNumbers": [
          "Sanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2023-03-14T16:33:49.0634860\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1043748813"
  }
}
