{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:51:00 GMT"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Location": "/availablePhoneNumbers/searchResults/0e16a0ce-2557-4d7e-aaf0-f733f69e7baa?api-version=2021-03-07",
        "MS-CV": "\u002Bb8et4WBG0a8b/7jeszwOg.0",
        "operation-id": "search_0e16a0ce-2557-4d7e-aaf0-f733f69e7baa",
        "Operation-Location": "/phoneNumbers/operations/search_0e16a0ce-2557-4d7e-aaf0-f733f69e7baa?api-version=2021-03-07",
        "search-id": "0e16a0ce-2557-4d7e-aaf0-f733f69e7baa",
        "X-Processing-Time": "5238ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/search_0e16a0ce-2557-4d7e-aaf0-f733f69e7baa?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:51:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/availablePhoneNumbers/searchResults/0e16a0ce-2557-4d7e-aaf0-f733f69e7baa?api-version=2021-03-07",
        "MS-CV": "FIvQxPnhH0ODeD6O5Bp8kg.0",
        "X-Processing-Time": "1371ms"
      },
      "ResponseBody": {
        "status": "running",
        "resourceLocation": "/availablePhoneNumbers/searchResults/0e16a0ce-2557-4d7e-aaf0-f733f69e7baa?api-version=2021-03-07",
        "createdDateTime": "2021-06-15T17:51:02.8922695\u002B00:00",
        "id": "search_0e16a0ce-2557-4d7e-aaf0-f733f69e7baa",
        "operationType": "search",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/searchResults/0e16a0ce-2557-4d7e-aaf0-f733f69e7baa?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:51:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Km9M9ifVuUCw21K7L0QZfg.0",
        "X-Processing-Time": "1469ms"
      },
      "ResponseBody": {
        "searchId": "0e16a0ce-2557-4d7e-aaf0-f733f69e7baa",
        "phoneNumbers": [
          "Sanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2021-06-15T18:07:06.9359813\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "617327329"
  }
}