{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "person",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        },
        "areaCode": "212",
        "quantity": 1
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "MS-CV": "pKeOyf4gdk\u002BBPmJ9doPtCA.0",
        "X-Processing-Time": "1153ms"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidInput",
          "message": "We are unable to find phone plans to match your requested capabilities.",
          "target": "areacode"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_COMMUNICATION_LIVETEST_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=3z7dN2ZEcANlOejjlHaJUfqdC4SyuzdiHbaMcFR0tNRK37KDZ14HUuhIybbBgt6oSQwUwu5TnF5cYFm22Lh/xg==",
    "RandomSeed": "1262755216"
  }
}