{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/localities?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 15 May 2023 15:53:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01, 2022-12-02-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "jJ8D3bsymUWhl5rgRNr\u002B\u002Bw.0",
        "X-Processing-Time": "191ms"
      },
      "ResponseBody": {
        "phoneNumberLocalities": [
          {
            "localizedName": "Anchorage",
            "administrativeDivision": {
              "localizedName": "AK",
              "abbreviatedName": "AK"
            }
          },
          {
            "localizedName": "Birmingham",
            "administrativeDivision": {
              "localizedName": "AL",
              "abbreviatedName": "AL"
            }
          },
          {
            "localizedName": "Huntsville",
            "administrativeDivision": {
              "localizedName": "AL",
              "abbreviatedName": "AL"
            }
          },
          {
            "localizedName": "Mobile",
            "administr[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=geographic\u0026assignmentType=person\u0026locality=Anchorage\u0026administrativeDivision=AK\u0026api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 15 May 2023 15:53:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "igGWz\u002BO900GAYnsSxTg7jA.0",
        "X-Processing-Time": "2054ms"
      },
      "ResponseBody": {
        "areaCodes": [
          {
            "areaCode": "907"
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1054975072"
  }
}
