{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/offerings?phoneNumberType=tollFree\u0026assignmentType=application\u0026api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Jul 2023 17:02:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "5rP\u002BrdQoX0K\u002BUTegWoE\u002BNQ.0",
        "X-Processing-Time": "482ms"
      },
      "ResponseBody": {
        "phoneNumberOfferings": [
          {
            "phoneNumberType": "tollFree",
            "assignmentType": "application",
            "availableCapabilities": {
              "calling": "inbound\u002Boutbound",
              "sms": "inbound\u002Boutbound"
            },
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "435541101"
  }
}
