{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/offerings?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Jul 2023 17:04:34 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "BlSIKFL8uUOo20LMmaNzsg.0",
        "X-Processing-Time": "433ms"
      },
      "ResponseBody": {
        "phoneNumberOfferings": [
          {
            "phoneNumberType": "geographic",
            "assignmentType": "person",
            "availableCapabilities": {
              "calling": "inbound\u002Boutbound",
              "sms": "none"
            },
            "cost": {
              "amount": 1.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          },
          {
            "phoneNumberType": "geographic",
            "assignmentType": "application",
            "availableCapabilities": {
              "calling": "inbound\u002Boutbound",
              "sms": "none"
            },
            "cost": {
              "amount": 1.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          },
          {
            "phoneNumberType": "tollFree",
            "assignmentType": "application",
            "availableCapabilities": {
              "calling": "inbound\u002Boutbound",
              "sms": "inbound\u002Boutbound"
            },
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/offerings?maxPageSize=1\u0026api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Jul 2023 17:04:35 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "\u002B\u002B2xkXSKr0a8wbB5\u002B0E/QA.0",
        "X-Processing-Time": "405ms"
      },
      "ResponseBody": {
        "phoneNumberOfferings": [
          {
            "phoneNumberType": "geographic",
            "assignmentType": "person",
            "availableCapabilities": {
              "calling": "inbound\u002Boutbound",
              "sms": "none"
            },
            "cost": {
              "amount": 1.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          }
        ],
        "nextLink": "/availablePhoneNumbers/countries/US/offerings?maxPageSize=1\u0026api-version=2022-12-01\u0026skip=1"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/offerings?maxPageSize=1\u0026api-version=2022-12-01\u0026skip=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Jul 2023 17:04:35 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "YOukvGbM\u002BEaHqjSWKvOolw.0",
        "X-Processing-Time": "413ms"
      },
      "ResponseBody": {
        "phoneNumberOfferings": [
          {
            "phoneNumberType": "geographic",
            "assignmentType": "application",
            "availableCapabilities": {
              "calling": "inbound\u002Boutbound",
              "sms": "none"
            },
            "cost": {
              "amount": 1.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          }
        ],
        "nextLink": "/availablePhoneNumbers/countries/US/offerings?maxPageSize=1\u0026api-version=2022-12-01\u0026skip=2"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/offerings?maxPageSize=1\u0026api-version=2022-12-01\u0026skip=3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Jul 2023 17:04:36 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "2J6GMJLeAk2kdZoX3FSHxA.0",
        "X-Processing-Time": "432ms"
      },
      "ResponseBody": {
        "phoneNumberOfferings": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "374099825"
  }
}
