{
  "Entries": [
    {
      "RequestUri": "https://live-testing.communication.azure.com/phoneNumbers/Sanitized?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "n9Sq94RqFkCDp7QsdHCItQ.0",
        "X-Processing-Time": "1102ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "TollFree",
        "capabilities": {
          "calling": "inbound",
          "sms": "inbound\u002Boutbound"
        },
        "assignmentType": "Application",
        "purchaseDate": "2020-11-30T17:51:21.2991518\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "Monthly"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_COMMUNICATION_LIVETEST_CONNECTION_STRING": "endpoint=https://live-testing.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2087757770"
  }
}