{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "1eDPpa24YUKWdu/UFWfChw.0",
        "X-Processing-Time": "2198ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "inbound",
          "sms": "inbound\u002Boutbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2021-03-09T15:03:04.7513808\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1229837306"
  }
}