{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "xLyy0hcXHkOp2LtKmZULwA.0",
        "X-Processing-Time": "8436ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "tollFree",
            "capabilities": {
              "calling": "inbound",
              "sms": "inbound\u002Boutbound"
            },
            "assignmentType": "application",
            "purchaseDate": "2021-02-09T23:03:57.6969271\u002B00:00",
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          },
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "tollFree",
            "capabilities": {
              "calling": "none",
              "sms": "inbound\u002Boutbound"
            },
            "assignmentType": "application",
            "purchaseDate": "2021-02-10T17:51:13.4876763\u002B00:00",
            "cost": {
              "amount": 2.0,
              [...]
