{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:50:50 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "fKZWdgIFAUuOS2SuqQ0dAQ.0",
        "X-Processing-Time": "1044ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "outbound",
          "sms": "outbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2021-03-09T15:03:04.7513808\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "621758115"
  }
}