{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=tollFree\u0026assignmentType=application\u0026api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Jul 2023 17:03:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Wd3DN6cVg0avam2yiZ6\u002BPg.0",
        "X-Processing-Time": "9159ms"
      },
      "ResponseBody": {
        "areaCodes": [
          {
            "areaCode": "888"
          },
          {
            "areaCode": "877"
          },
          {
            "areaCode": "866"
          },
          {
            "areaCode": "855"
          },
          {
            "areaCode": "844"
          },
          {
            "areaCode": "800"
          },
          {
            "areaCode": "833"
          },
          {
            "areaCode": "88"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=tollFree\u0026maxPageSize=4\u0026assignmentType=application\u0026api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Jul 2023 17:03:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "f0C0qAyaK0WNb0knFbTbiw.0",
        "X-Processing-Time": "9031ms"
      },
      "ResponseBody": {
        "areaCodes": [
          {
            "areaCode": "888"
          },
          {
            "areaCode": "877"
          },
          {
            "areaCode": "866"
          },
          {
            "areaCode": "855"
          }
        ],
        "nextLink": "/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=tollFree\u0026maxPageSize=4\u0026assignmentType=application\u0026api-version=2022-12-01\u0026skip=4"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=tollFree\u0026maxPageSize=4\u0026assignmentType=application\u0026api-version=2022-12-01\u0026skip=4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Jul 2023 17:03:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "YY8/QR7LTUaIxSG7kl4EKA.0",
        "X-Processing-Time": "9090ms"
      },
      "ResponseBody": {
        "areaCodes": [
          {
            "areaCode": "844"
          },
          {
            "areaCode": "800"
          },
          {
            "areaCode": "833"
          },
          {
            "areaCode": "88"
          }
        ],
        "nextLink": "/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=tollFree\u0026maxPageSize=4\u0026assignmentType=application\u0026api-version=2022-12-01\u0026skip=8"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2092933909"
  }
}
