{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=tollFree\u0026assignmentType=application\u0026api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Dec 2022 16:22:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "bjxpKIfvgEuWYJ2p7lzwww.0",
        "X-Processing-Time": "2902ms"
      },
      "ResponseBody": {
        "areaCodes": [
          {
            "areaCode": "888"
          },
          {
            "areaCode": "877"
          },
          {
            "areaCode": "866"
          },
          {
            "areaCode": "855"
          },
          {
            "areaCode": "844"
          },
          {
            "areaCode": "800"
          },
          {
            "areaCode": "833"
          },
          {
            "areaCode": "88"
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "391797153"
  }
}
