{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers?api-version=2021_03_07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "9dVJz9anxEiN/YH3BSEM6g.0",
        "X-Processing-Time": "970ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "Geographic",
            "capabilities": {
              "calling": "outbound",
              "sms": "none"
            },
            "assignmentType": "User"
          },
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "Geographic",
            "capabilities": {
              "calling": "outbound",
              "sms": "none"
            },
            "assignmentType": "User"
          },
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "TollFree",
            "capabilities": {
              "calling": "inbound",
              "sms": "inbound\u002Boutbound"
            },
            "assignmentType": "Application"
          },
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "TollFree",
            "capabilities": {
              "calling": "none",
              "sms": "inbound\u002Boutbound"
            },
            "assignmentType": "Application"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1246562785"
  }
}