{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/operatorInformation/:search?api-version=2023-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 May 2023 19:07:38 GMT"
      },
      "RequestBody": {
        "phoneNumbers": [
          "\u002BSanitized",
          "\u002BSanitized"
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2023-05-01-preview",
        "Content-Type": "application/json",
        "MS-CV": "vVygKD5SCkqMSM0G6prVwA.0",
        "X-Processing-Time": "10ms"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "Can only accept one phoneNumber"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "208720462"
  }
}
