{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2023-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 May 2023 19:06:30 GMT"
      },
      "RequestBody": {
        "searchId": "some-invalid-id"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json",
        "MS-CV": "GN\u002BWIhAC6kWqVSKfV0mGgw.0",
        "X-Processing-Time": "207ms"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Input searchId some-invalid-id cannot be found.",
          "target": "searchid"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1272400889"
  }
}
