{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:50:33 GMT"
      },
      "RequestBody": {
        "searchId": "\u002BSanitized"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Content-Type": "application/json",
        "MS-CV": "F\u002BP4\u002Bm7OBky9LeudzV5XNw.0",
        "X-Processing-Time": "311ms"
      },
      "ResponseBody": {
        "error": {
          "code": "SearchIdNotFound",
          "message": "The specified search id Sanitized cannot be found."
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1275622495"
  }
}