{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized/capabilities?api-version=2021-03-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Content-Type": "application/json",
        "MS-CV": "7xTjbH95Pk\u002BHMAtLtFdhPw.0",
        "X-Processing-Time": "17ms"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidInput",
          "message": "At least one of Sms or Calling must exist.",
          "target": "phonenumbercapabilitiesrequest"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1051100956"
  }
}