{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 01:17:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "FzZ29UAzqkyaxZnQg8JkVw.0",
        "X-Processing-Time": "2020ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "inbound",
          "sms": "inbound\u002Boutbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2021-06-23T23:38:41.0997634\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized/capabilities?api-version=2022-12-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 01:17:43 GMT"
      },
      "RequestBody": {
        "calling": "outbound",
        "sms": "outbound"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "capabilities-id": "9c6f9310-2487-41a6-9e85-521e90edce21",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "MS-CV": "x9JihY8LeECP02hhmDNz7A.0",
        "operation-id": "capabilities_9c6f9310-2487-41a6-9e85-521e90edce21",
        "Operation-Location": "/phoneNumbers/operations/capabilities_9c6f9310-2487-41a6-9e85-521e90edce21?api-version=2022-12-01",
        "X-Processing-Time": "3361ms"
      },
      "ResponseBody": {
        "capabilitiesUpdateId": "9c6f9310-2487-41a6-9e85-521e90edce21"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/capabilities_9c6f9310-2487-41a6-9e85-521e90edce21?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 01:17:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "MS-CV": "6soUdDhAXkWveEiMXYf91g.0",
        "X-Processing-Time": "418ms"
      },
      "ResponseBody": {
        "operationType": "updatePhoneNumberCapabilities",
        "status": "running",
        "resourceLocation": "/phoneNumbers/Sanitized?api-version=2022-12-01",
        "createdDateTime": "2023-06-21T01:17:46.2929954\u002B00:00",
        "id": "capabilities_9c6f9310-2487-41a6-9e85-521e90edce21",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized/Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 01:17:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "JoCNYn88I0mO0pxo0G4voA.0",
        "X-Processing-Time": "1811ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "outbound",
          "sms": "outbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2021-06-23T23:38:41.0997634\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER_1": "\u002B14255550123",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1779300365"
  }
}
