{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized/capabilities?api-version=2021-03-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "calling": "outbound",
        "sms": "outbound"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "capabilities-id": "2414810f-4ed7-4a09-8a20-edc23a554b11",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/\u002BSanitized?api-version=2021-03-07",
        "MS-CV": "SSmC63aPSEm/mXbMVFRVRw.0",
        "operation-id": "capabilities_2414810f-4ed7-4a09-8a20-edc23a554b11",
        "Operation-Location": "/phoneNumbers/operations/capabilities_2414810f-4ed7-4a09-8a20-edc23a554b11?api-version=2021-03-07",
        "X-Processing-Time": "1015ms"
      },
      "ResponseBody": {
        "capabilitiesUpdateId": "2414810f-4ed7-4a09-8a20-edc23a554b11"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/capabilities_2414810f-4ed7-4a09-8a20-edc23a554b11?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/\u002BSanitized?api-version=2021-03-07",
        "MS-CV": "PIxDz5hBXUS/kbcHHZDO0A.0",
        "X-Processing-Time": "312ms"
      },
      "ResponseBody": {
        "status": "running",
        "resourceLocation": "/phoneNumbers/Sanitized?api-version=2021-03-07",
        "createdDateTime": "2021-04-07T00:48:46.3915819\u002B00:00",
        "id": "capabilities_2414810f-4ed7-4a09-8a20-edc23a554b11",
        "operationType": "updatePhoneNumberCapabilities",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/\u002BSanitized?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "DsgZXdGXqE\u002Byj7IpH2TMYA.0",
        "X-Processing-Time": "1426ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "outbound",
          "sms": "outbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2000-01-01T00:00:00\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_COMMUNICATION_LIVETEST_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1062172258"
  }
}