{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "QPjltARKSU\u002BMS2C9qf7r2Q.0",
        "X-Processing-Time": "1794ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "inbound",
          "sms": "inbound\u002Boutbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2021-02-10T17:52:41.818335\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized/capabilities?api-version=2021-03-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "calling": "outbound",
        "sms": "outbound"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "capabilities-id": "61e26602-7dd8-4963-9071-cd72457970d0",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/\u002BSanitized?api-version=2021-03-07",
        "MS-CV": "BSaiaEpnREKMoDoI9Aclcw.0",
        "operation-id": "capabilities_61e26602-7dd8-4963-9071-cd72457970d0",
        "Operation-Location": "/phoneNumbers/operations/capabilities_61e26602-7dd8-4963-9071-cd72457970d0?api-version=2021-03-07",
        "X-Processing-Time": "4997ms"
      },
      "ResponseBody": {
        "capabilitiesUpdateId": "61e26602-7dd8-4963-9071-cd72457970d0"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/capabilities_61e26602-7dd8-4963-9071-cd72457970d0?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/\u002BSanitized?api-version=2021-03-07",
        "MS-CV": "UDJyoMpa80uiwosXLogNCw.0",
        "X-Processing-Time": "778ms"
      },
      "ResponseBody": {
        "status": "succeeded",
        "resourceLocation": "/phoneNumbers/Sanitized?api-version=2021-03-07",
        "createdDateTime": "2021-04-29T19:49:04.3495103\u002B00:00",
        "id": "capabilities_61e26602-7dd8-4963-9071-cd72457970d0",
        "operationType": "updatePhoneNumberCapabilities",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/\u002BSanitized?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Xa5zSzqQlkOa4wo91w4N5w.0",
        "X-Processing-Time": "5406ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "outbound",
          "sms": "outbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2021-02-10T17:52:41.818335\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1567684633"
  }
}