{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 May 2023 17:56:34 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "HgdHgWOFm0C1L1DEy2lTTw.0",
        "X-Processing-Time": "1418ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "inbound",
          "sms": "outbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2021-06-23T23:31:47.0550566\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized/capabilities?api-version=2023-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 May 2023 17:56:35 GMT"
      },
      "RequestBody": {
        "calling": "outbound",
        "sms": "inbound\u002Boutbound"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "capabilities-id": "739c304f-940c-4c1b-b4f1-78ddf9343bc9",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "MS-CV": "29fGeB/jEE6yO7yZxg\u002BZWg.0",
        "operation-id": "capabilities_739c304f-940c-4c1b-b4f1-78ddf9343bc9",
        "Operation-Location": "/phoneNumbers/operations/capabilities_739c304f-940c-4c1b-b4f1-78ddf9343bc9?api-version=2023-05-01-preview",
        "X-Processing-Time": "2033ms"
      },
      "ResponseBody": {
        "capabilitiesUpdateId": "739c304f-940c-4c1b-b4f1-78ddf9343bc9"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/capabilities_739c304f-940c-4c1b-b4f1-78ddf9343bc9?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 May 2023 17:56:39 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "MS-CV": "1NvN/hU0/U2R6dKAyK/COw.0",
        "X-Processing-Time": "172ms"
      },
      "ResponseBody": {
        "operationType": "updatePhoneNumberCapabilities",
        "status": "running",
        "resourceLocation": "/phoneNumbers/Sanitized?api-version=2023-05-01-preview",
        "createdDateTime": "2023-05-25T17:56:37.3526499\u002B00:00",
        "id": "capabilities_739c304f-940c-4c1b-b4f1-78ddf9343bc9",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/\u002BSanitized?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 May 2023 17:56:42 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "67yifqEgbkqZ\u002BWxXyRZa3A.0",
        "X-Processing-Time": "1440ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "outbound",
          "sms": "inbound\u002Boutbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2021-06-23T23:31:47.0550566\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER_WINDOWS_2019_NETCORE31": "\u002B14255550123",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "433099812"
  }
}
