{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 Dec 2022 21:51:39 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "imU25OG8kEeTIELDVOB43w.0",
        "X-Processing-Time": "1037ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "outbound",
          "sms": "outbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2021-06-23T23:38:41.0997634\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized/capabilities?api-version=2022-12-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 Dec 2022 21:51:40 GMT"
      },
      "RequestBody": {
        "calling": "inbound",
        "sms": "inbound\u002Boutbound"
      },
      "StatusCode": 202,
        "ResponseHeaders": {
            "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
            "capabilities-id": "a24ae670-9f76-401b-bf79-8de7a378144e",
            "Content-Type": "application/json; charset=utf-8",
            "Location": "/phoneNumbers/\u002BSanitized?api-version=2022-12-01",
            "MS-CV": "GwVpjCsXEUmbytqE2NoyxQ.0",
            "operation-id": "capabilities_a24ae670-9f76-401b-bf79-8de7a378144e",
            "Operation-Location": "/phoneNumbers/operations/capabilities_a24ae670-9f76-401b-bf79-8de7a378144e?api-version=2022-12-01",
            "X-Processing-Time": "12684ms"
        },
      "ResponseBody": {
        "capabilitiesUpdateId": "a24ae670-9f76-401b-bf79-8de7a378144e"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/capabilities_a24ae670-9f76-401b-bf79-8de7a378144e?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 Dec 2022 21:51:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
        "ResponseHeaders": {
            "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01",
            "Content-Type": "application/json; charset=utf-8",
            "Location": "/phoneNumbers/\u002BSanitized?api-version=2022-12-01",
            "MS-CV": "BArAXZc4mkSak99lHd2KBQ.0",
            "X-Processing-Time": "255ms"
        },
      "ResponseBody": {
        "operationType": "updatePhoneNumberCapabilities",
        "status": "running",
        "resourceLocation": "/phoneNumbers/Sanitized?api-version=2022-12-01",
        "createdDateTime": "2022-12-20T21:51:41.7721082\u002B00:00",
        "id": "capabilities_a24ae670-9f76-401b-bf79-8de7a378144e",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/\u002BSanitized?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 Dec 2022 21:51:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "u2CWDIbIe06/dJ7Bvw9\u002BkQ.0",
        "X-Processing-Time": "1064ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "inbound",
          "sms": "inbound\u002Boutbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2021-06-23T23:38:41.0997634\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER_1": "\u002B14255550123",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1071551880"
  }
}
