{
    "Entries": [
        {
            "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized?api-version=2022-01-11-preview2",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Tue, 22 Jun 2021 22:03:09 GMT"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "api-supported-versions": "2022-01-11-preview2",
                "Content-Type": "application/json; charset=utf-8",
                "MS-CV": "0nkFf/Fx/UmCqD5WdedpsA.0",
                "X-Processing-Time": "1738ms"
            },
            "ResponseBody": {
                "id": "Sanitized",
                "phoneNumber": "Sanitized",
                "countryCode": "US",
                "phoneNumberType": "tollFree",
                "capabilities": {
                    "calling": "inbound",
                    "sms": "outbound"
                },
                "assignmentType": "application",
                "purchaseDate": "2021-03-09T15:03:04.7513808\u002B00:00",
                "cost": {
                    "amount": 2.0,
                    "currencyCode": "USD",
                    "billingFrequency": "monthly"
                }
            }
        },
        {
            "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized/capabilities?api-version=2022-01-11-preview2",
            "RequestMethod": "PATCH",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "Content-Type": "application/merge-patch\u002Bjson",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Tue, 22 Jun 2021 22:03:11 GMT"
            },
            "RequestBody": {
                "calling": "outbound",
                "sms": "inbound\u002Boutbound"
            },
            "StatusCode": 202,
            "ResponseHeaders": {
                "api-supported-versions": "2022-01-11-preview2",
                "capabilities-id": "382276a5-d5a0-416c-bd2b-5a462d10f5fa",
                "Content-Type": "application/json; charset=utf-8",
                "Location": "/phoneNumbers/\u002BSanitized?api-version=2022-01-11-preview2",
                "MS-CV": "i/tl8R89sUm3uYVJausVXA.0",
                "operation-id": "capabilities_382276a5-d5a0-416c-bd2b-5a462d10f5fa",
                "Operation-Location": "/phoneNumbers/operations/capabilities_382276a5-d5a0-416c-bd2b-5a462d10f5fa?api-version=2022-01-11-preview2",
                "X-Processing-Time": "1759ms"
            },
            "ResponseBody": {
                "capabilitiesUpdateId": "382276a5-d5a0-416c-bd2b-5a462d10f5fa"
            }
        },
        {
            "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/capabilities_382276a5-d5a0-416c-bd2b-5a462d10f5fa?api-version=2022-01-11-preview2",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Tue, 22 Jun 2021 22:03:15 GMT"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "api-supported-versions": "2022-01-11-preview2",
                "Content-Type": "application/json; charset=utf-8",
                "Location": "/phoneNumbers/\u002BSanitized?api-version=2022-01-11-preview2",
                "MS-CV": "3BhwgQduckOgEqgBYSlYFQ.0",
                "X-Processing-Time": "378ms"
            },
            "ResponseBody": {
                "status": "running",
                "resourceLocation": "/phoneNumbers/Sanitized?api-version=2022-01-11-preview2",
                "createdDateTime": "2021-06-22T22:03:12.601351\u002B00:00",
                "id": "capabilities_382276a5-d5a0-416c-bd2b-5a462d10f5fa",
                "operationType": "updatePhoneNumberCapabilities",
                "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
            }
        },
[...]
        {
            "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/\u002BSanitized?api-version=2022-01-11-preview2",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Tue, 22 Jun 2021 22:03:20 GMT"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "api-supported-versions": "2022-01-11-preview2",
                "Content-Type": "application/json; charset=utf-8",
                "MS-CV": "MLIF1jdv8U62\u002BxsnDUxsaw.0",
                "X-Processing-Time": "1174ms"
            },
            "ResponseBody": {
                "id": "Sanitized",
                "phoneNumber": "Sanitized",
                "countryCode": "US",
                "phoneNumberType": "tollFree",
                "capabilities": {
                    "calling": "outbound",
                    "sms": "inbound\u002Boutbound"
                },
                "assignmentType": "application",
                "purchaseDate": "2021-03-09T15:03:04.7513808\u002B00:00",
                "cost": {
                    "amount": 2.0,
                    "currencyCode": "USD",
                    "billingFrequency": "monthly"
                }
            }
        }
    ],
    "Variables": {
        "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
        "RandomSeed": "1062172258"
    }
}
