{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Dec 2022 17:48:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "B/ZRIwtdTEGGKUJPxP/HPw.0",
        "X-Processing-Time": "1685ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "inbound",
          "sms": "inbound\u002Boutbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2021-06-23T23:38:41.0997634\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized/capabilities?api-version=2022-12-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Dec 2022 17:48:58 GMT"
      },
      "RequestBody": {
        "calling": "outbound",
        "sms": "outbound"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "capabilities-id": "91aec933-d391-413f-9b4e-0603b9bd58b3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "MS-CV": "uyaS0HBipEKY/2wmC9kHfA.0",
        "operation-id": "capabilities_91aec933-d391-413f-9b4e-0603b9bd58b3",
        "Operation-Location": "/phoneNumbers/operations/capabilities_91aec933-d391-413f-9b4e-0603b9bd58b3?api-version=2022-12-01",
        "X-Processing-Time": "2372ms"
      },
      "ResponseBody": {
        "capabilitiesUpdateId": "91aec933-d391-413f-9b4e-0603b9bd58b3"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/capabilities_91aec933-d391-413f-9b4e-0603b9bd58b3?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Dec 2022 17:49:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "MS-CV": "ErDgASr4qki\u002BJlzieQzP0Q.0",
        "X-Processing-Time": "445ms"
      },
      "ResponseBody": {
        "operationType": "updatePhoneNumberCapabilities",
        "status": "running",
        "resourceLocation": "/phoneNumbers/Sanitized?api-version=2022-12-01",
        "createdDateTime": "2022-12-05T17:49:00.1500916\u002B00:00",
        "id": "capabilities_91aec933-d391-413f-9b4e-0603b9bd58b3",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/\u002BSanitized?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 Dec 2022 17:49:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "JTLz9XyknkmFB1xUFJ56rg.0",
        "X-Processing-Time": "1730ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "outbound",
          "sms": "outbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2021-06-23T23:38:41.0997634\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER_1": "\u002B14255550123",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1599426360"
  }
}
