{
    "Entries": [
        {
            "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized?api-version=2022-01-11-preview2",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Tue, 22 Jun 2021 22:03:53 GMT"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "api-supported-versions": "2022-01-11-preview2",
                "Content-Type": "application/json; charset=utf-8",
                "MS-CV": "/uHd49Z7EEaXmLTX0axVAg.0",
                "X-Processing-Time": "1070ms"
            },
            "ResponseBody": {
                "id": "Sanitized",
                "phoneNumber": "Sanitized",
                "countryCode": "US",
                "phoneNumberType": "tollFree",
                "capabilities": {
                    "calling": "outbound",
                    "sms": "inbound\u002Boutbound"
                },
                "assignmentType": "application",
                "purchaseDate": "2021-03-09T15:03:04.7513808\u002B00:00",
                "cost": {
                    "amount": 2.0,
                    "currencyCode": "USD",
                    "billingFrequency": "monthly"
                }
            }
        },
        {
            "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized/capabilities?api-version=2022-01-11-preview2",
            "RequestMethod": "PATCH",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "Content-Type": "application/merge-patch\u002Bjson",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Tue, 22 Jun 2021 22:03:54 GMT"
            },
            "RequestBody": {
                "calling": "inbound",
                "sms": "outbound"
            },
            "StatusCode": 202,
            "ResponseHeaders": {
                "api-supported-versions": "2022-01-11-preview2",
                "capabilities-id": "4a3a4f18-e32f-4891-be9c-8d8948aca7e4",
                "Content-Type": "application/json; charset=utf-8",
                "Location": "/phoneNumbers/\u002BSanitized?api-version=2022-01-11-preview2",
                "MS-CV": "MW96JYsvTEiOblGIw4KHEg.0",
                "operation-id": "capabilities_4a3a4f18-e32f-4891-be9c-8d8948aca7e4",
                "Operation-Location": "/phoneNumbers/operations/capabilities_4a3a4f18-e32f-4891-be9c-8d8948aca7e4?api-version=2022-01-11-preview2",
                "X-Processing-Time": "1734ms"
            },
            "ResponseBody": {
                "capabilitiesUpdateId": "4a3a4f18-e32f-4891-be9c-8d8948aca7e4"
            }
        },
        {
            "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/capabilities_4a3a4f18-e32f-4891-be9c-8d8948aca7e4?api-version=2022-01-11-preview2",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Tue, 22 Jun 2021 22:03:56 GMT"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "api-supported-versions": "2022-01-11-preview2",
                "Content-Type": "application/json; charset=utf-8",
                "Location": "/phoneNumbers/\u002BSanitized?api-version=2022-01-11-preview2",
                "MS-CV": "jRSK/2QzFUyDwTFGf2m83g.0",
                "X-Processing-Time": "406ms"
            },
            "ResponseBody": {
                "status": "running",
                "resourceLocation": "/phoneNumbers/Sanitized?api-version=2022-01-11-preview2",
                "createdDateTime": "2021-06-22T22:03:56.2987516\u002B00:00",
                "id": "capabilities_4a3a4f18-e32f-4891-be9c-8d8948aca7e4",
                "operationType": "updatePhoneNumberCapabilities",
                "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
            }
        },
[...]
        {
            "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/\u002BSanitized?api-version=2022-01-11-preview2",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-content-sha256": "Sanitized",
                "x-ms-date": "Tue, 22 Jun 2021 22:04:04 GMT"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "api-supported-versions": "2022-01-11-preview2",
                "Content-Type": "application/json; charset=utf-8",
                "MS-CV": "6xZ0Y148cU693rZ8VrFZSg.0",
                "X-Processing-Time": "1105ms"
            },
            "ResponseBody": {
                "id": "Sanitized",
                "phoneNumber": "Sanitized",
                "countryCode": "US",
                "phoneNumberType": "tollFree",
                "capabilities": {
                    "calling": "inbound",
                    "sms": "outbound"
                },
                "assignmentType": "application",
                "purchaseDate": "2021-03-09T15:03:04.7513808\u002B00:00",
                "cost": {
                    "amount": 2.0,
                    "currencyCode": "USD",
                    "billingFrequency": "monthly"
                }
            }
        }
    ],
    "Variables": {
        "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
        "RandomSeed": "1567684633"
    }
}
