{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11917379?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3c6a0746-16c8-41ff-9d68-ce90089b3b8b",
        "traceresponse": "00-8bd36636e51ae634466d24d57692c157-f5219479b99bc9bd-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11917379. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B149293528?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "35b18b1e-3cfd-48d6-aff1-d5d09fe22bf3",
        "traceresponse": "00-41b45fb49de722db936feddc3456915a-f6acc1789ce89712-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;149293528. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B127447429?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a27c2763-fb6e-4523-8bf4-57f50978af52",
        "traceresponse": "00-e248d955bec57c9bce00608a398fb5be-cf56f0a6680803bf-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;127447429. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1862110667?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "da9c4c9c-c6ba-4afa-b3c5-b9110db8d2c3",
        "traceresponse": "00-d385432cb0ad0d6f58072c081c321771-c453ba94cc77a4ae-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin1862110667. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin357521709?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f04944de-8858-4e10-99de-fa765d8b0d5a",
        "traceresponse": "00-9617a88b52442d3321bf4bb831063b50-68627e36003b0d8d-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin357521709. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:floor;11917379\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022,    \u0022displayName\u0022: \u0022Floor\u0022,  [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "62809f11-e22c-4eb5-a53c-85b2e0011d88",
        "traceresponse": "00-87c9751a92c32b53a4b418ae15aa4156-8b0945366f11cc39-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;172332512",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-30T18:49:13.4317179\u002B00:00"
          },
          {
            "id": "dtmi:example:room;120668288",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-30T18:49:13.443748\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;136137213",
            "description": {
         [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1862110667?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11917379"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022dc29179b-922c-4ec3-9cf1-e104fdc4399c\u0022",
        "mise-correlation-id": "5f8107b7-8f4a-458d-ab8c-75d9f102db13",
        "traceresponse": "00-d509a083b65ff2ab3740042ce33ec4ea-8122bc9fff00f18b-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin1862110667",
        "$etag": "W/\u0022dc29179b-922c-4ec3-9cf1-e104fdc4399c\u0022",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11917379",
          "$lastUpdateTime": "2023-02-01T23:58:31.2600684Z",
          "AverageTemperature": {
            "lastUpdateTime": "2023-02-01T23:58:31.2600684Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin357521709?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;149293528"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220f904c0d-bac7-45e8-abb7-79652da2fb12\u0022",
        "mise-correlation-id": "b0f0a86c-c641-4d8d-bf49-bcd6f52c86a8",
        "traceresponse": "00-29685a624dadaa077cd82162c53b85b7-f0527d27632ba8fc-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin357521709",
        "$etag": "W/\u00220f904c0d-bac7-45e8-abb7-79652da2fb12\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;149293528",
          "$lastUpdateTime": "2023-02-01T23:58:31.4836988Z",
          "Temperature": {
            "lastUpdateTime": "2023-02-01T23:58:31.4836988Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-02-01T23:58:31.4836988Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-02-01T23:58:31.4836988Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-02-01T23:58:31.4836988Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1862110667/relationships/FloorToRoomRelationship-0-1580982614?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin357521709",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002245fade53-c8d6-4a08-bfef-16f15ca1e977\u0022",
        "mise-correlation-id": "d1cb66e7-4df2-480f-804c-6757e2691ffe",
        "traceresponse": "00-245431f58b14870dfdcc032fd214f2b2-cdb7bbe273a574f7-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship-0-1580982614",
        "$etag": "W/\u002245fade53-c8d6-4a08-bfef-16f15ca1e977\u0022",
        "$sourceId": "floorTwin1862110667",
        "$relationshipName": "contains",
        "$targetId": "roomTwin357521709",
        "isAccessRestricted": true
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin357521709/relationships/RoomToFloorRelationship-0-1580982614?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "floorTwin1862110667",
        "$sourceId": null,
        "$relationshipName": "containedIn",
        "$etag": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022d3d2d0d8-0236-4891-992f-2139d170f436\u0022",
        "mise-correlation-id": "ca97efd3-d7ea-40e8-b46d-f333ebe872f5",
        "traceresponse": "00-e5fd153a8994f9eb919cb0493fc16fb0-00463ff2948a5187-01"
      },
      "ResponseBody": {
        "$relationshipId": "RoomToFloorRelationship-0-1580982614",
        "$etag": "W/\u0022d3d2d0d8-0236-4891-992f-2139d170f436\u0022",
        "$sourceId": "roomTwin357521709",
        "$relationshipName": "containedIn",
        "$targetId": "floorTwin1862110667"
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1862110667/incomingrelationships?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0aa146f2-f8c9-4d37-be61-b0755fdd0d6b",
        "traceresponse": "00-06e598182658f7d209947742c6a94554-449a05e2404f10db-01"
      },
      "ResponseBody": {
        "nextLink": "https://bulksdktest2.api.neu.pp.azuredigitaltwins-ppe.net/digitaltwins/floorTwin1862110667/incomingrelationships?continuationToken=GG8nhDZsCVmMPzcUrPYdhAs7GOPOy7BUhsfDH0VBbBzieOjaXg6bEj3JqLrM58bPODsuRVmmCf32jXAXML1mYkeSDr61yIf9DvMJ4gEgsv%2FyqFRIq%2F%2FGMa8FInLK%2FKZPKjshs67WSPQeiCeI4wnj4g%3D%3D\u0026api-version=2023-02-27-preview",
        "value": [
          {
            "$relationshipId": "RoomToFloorRelationship-0-1580982614",
            "$sourceId": "roomTwin357521709",
            "$re[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1862110667/incomingrelationships?continuationToken=GG8nhDZsCVmMPzcUrPYdhAs7GOPOy7BUhsfDH0VBbBzieOjaXg6bEj3JqLrM58bPODsuRVmmCf32jXAXML1mYkeSDr61yIf9DvMJ4gEgsv%2FyqFRIq%2F%2FGMa8FInLK%2FKZPKjshs67WSPQeiCeI4wnj4g%3D%3D\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode":[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1862110667/incomingrelationships?continuationToken=GG8nhDZsCVmMPzcUrPYdhIHfOw3cZxECxmZNEzp1RiabbLfj4PgCO2xYj6wfV8p3V%2B5tbCbUWj7x4jpWCg8u2YCd7uU5BzH2VISx3345HSc1RcxeL8hLjocVI6tmpXLJE2gweJCXKyBw7iSm0DKJPw%3D%3D\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1862110667/incomingrelationships?continuationToken=GG8nhDZsCVmMPzcUrPYdhGVMKTqD%2F%2Fy4%2BgsPLWUNSavn9a7jElqrUBIYITjQ36pOeovKoI8PwGXFdQ2XWR6n8m8bNFPG9AbFN6Bb1e4tOuXNMTx7tFsBqf%2BdF5BAY5Nvy8Qk8WunyhMEKSLTHo4fBQ%3D%3D\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b0d3762e-8f3d-47b6-82dc-4bf853b0cb84",
        "traceresponse": "00-af2f5971523d6a8858b502469bb3e287-50fc52e9e30c1106-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "RoomToFloorRelationship-9-1580982614",
            "$sourceId": "roomTwin357521709",
            "$relationshipName": "containedIn",
            "$relationshipLink": "https://bulksdktest2.api.neu.pp.azuredigitaltwins-ppe.net/digitaltwins/roomTwin357521709/relationships/RoomToFloorRelationship-9-1580982614?api-version=2023-02-27-preview"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1862110667/relationships?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "26ae0911-83f2-4828-81af-9fc1bc50ae6f",
        "traceresponse": "00-7000[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1862110667/relationships?continuationToken=GG8nhDZsCVmMPzcUrPYdhMKag6SxkzAAdKShOKwbdWpXWuHdwNH8tsWhYZ6y%2F0%2BQ92dIeXOFl43JGGxaJVQvRUGKiFTekdlT9yGm%2BP5WDG5TjlYgvYpdULRGaioGtDvEZxSVhLD0ZySCvPbVExEl7A%3D%3D\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
    [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1862110667/relationships?continuationToken=GG8nhDZsCVmMPzcUrPYdhKKddXNJZ27K%2FoB0u%2BglEH1qb7qRCIh2Evz9UM%2FJroS5vHfWFZ5InYTofWFjNQHqNQ2g%2FgLDV1%2FQQhSz%2BkVjBFaokwxSeUGKVOXXa8Zro9ucN%2F1IOOam7KZdA6HUtgqsgw%3D%3D\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 2[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1862110667/relationships?continuationToken=GG8nhDZsCVmMPzcUrPYdhKGKkB6r%2FI%2B5cKL3qCaI9ReoVCGercCtEq7S%2BOOQDGM7dv1ef9QytS%2FAcchTJCeeECrebQ0MaJvIEB3RFqb2AkrhOGuA4K0o4B4MNDaPYCb9Ka7iRuJE%2BoyudFsnNdHzQw%3D%3D\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d8e48366-f38c-4bd5-bfda-9e6677f0f58f",
        "traceresponse": "00-ffe20b16a7b96e238e06cdc16dcb53c3-5bddcc96a3298be1-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "FloorToRoomRelationship-9-1580982614",
            "$etag": "W/\u0022aa93c141-6bc6-4688-9acd-56011f23c8ce\u0022",
            "$sourceId": "floorTwin1862110667",
            "$relationshipName": "contains",
            "$targetId": "roomTwin357521709",
            "isAccessRestricted": true
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B127447429?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "a5fbf212-8b35-40e4-bac6-e40a7286dca4",
        "traceresponse": "00-9d2c99f02bb6f35d247ec1a95b83d944-9de6c750c7f5305d-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11917379?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "47228b04-1098-4d75-a350-7841c63474ff",
        "traceresponse": "00-25cd4f67eb4ce84c7a40db037292e65d-267e2dd858505c3b-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B149293528?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "4ce87af0-a24b-4c5e-b326-970623dfcbd4",
        "traceresponse": "00-868190435e17cc0e8efd772bb003d122-5977568bc62bf9ed-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "350438063"
  }
}
