{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11752488?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6513b031-70d1-4cc4-8308-6a623366999b",
        "traceresponse": "00-c78d6159c342fbdf5ead292c00f50611-ae6bb7cb9ed72ff0-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11752488. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B115160886?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "aa6c9638-647e-4496-93fc-2c002ef78407",
        "traceresponse": "00-ce52e418307e0cb2e5d01efed4a6a03f-1334a45ffa85d29f-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;115160886. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B189261840?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5a5bddd1-982f-4bb1-b5ae-186012eeae3e",
        "traceresponse": "00-948bb5fb43dbe3c182f6f3988cec9adc-9a26b17b94f61e73-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;189261840. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1128846069?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "87b8bbd7-959e-4fa6-82e2-7b8d83fad50a",
        "traceresponse": "00-a1c67ba38888f16731f08881dabfc5e8-4091a2e36dba0a29-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin1128846069. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1548461419?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3ea0615d-e566-4af6-9b5b-5f40bc74a86d",
        "traceresponse": "00-0a6c094c1bad1c22add14c2a0afacc9b-d654ded89978254b-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1548461419. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:floor;11752488\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022,    \u0022displayName\u0022: \u0022Floor\u0022,    \u0022[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e213efb2-2265-413d-a5a3-499d5750e6e6",
        "traceresponse": "00-2d00bcda675428f89f9364b9d7b7c855-db1933d5921d72f8-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;180719651",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.0624733\u002B00:00"
          },
          {
            "id": "dtmi:example:room;151014275",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.2279247\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;192203971",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1128846069?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11752488"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00227c8a1e92-e135-462d-995e-cfdb37a70bb5\u0022",
        "mise-correlation-id": "6baff807-6939-4508-b9ef-1645b22529cb",
        "traceresponse": "00-b72716d339936d3433898ff31cb8be65-de30d71c28f3193f-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin1128846069",
        "$etag": "W/\u00227c8a1e92-e135-462d-995e-cfdb37a70bb5\u0022",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11752488",
          "$lastUpdateTime": "2023-07-20T18:54:35.9840610Z",
          "AverageTemperature": {
            "lastUpdateTime": "2023-07-20T18:54:35.9840610Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1548461419?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;115160886"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00222806ae47-7ef8-4330-9a29-e2a13501ef2a\u0022",
        "mise-correlation-id": "057ddc31-f4d2-4d2d-8382-f8d30c31e429",
        "traceresponse": "00-eb7353d36280a5d65f5ee0c85c37cd9f-9434ef9d128f26ec-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1548461419",
        "$etag": "W/\u00222806ae47-7ef8-4330-9a29-e2a13501ef2a\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;115160886",
          "$lastUpdateTime": "2023-07-20T18:54:36.1571210Z",
          "Temperature": {
            "lastUpdateTime": "2023-07-20T18:54:36.1571210Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-07-20T18:54:36.1571210Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-07-20T18:54:36.1571210Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-07-20T18:54:36.1571210Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1128846069/relationships/FloorToRoomRelationship-0-1793244327?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin1548461419",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002248815ec9-5e85-41c3-aae3-83dd25b1d533\u0022",
        "mise-correlation-id": "b5bfd539-2b94-433b-a7a5-a57dc02a413c",
        "traceresponse": "00-4e7e41031b129ef6a04783fd99705299-901acb1980c0c978-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship-0-1793244327",
        "$etag": "W/\u002248815ec9-5e85-41c3-aae3-83dd25b1d533\u0022",
        "$sourceId": "floorTwin1128846069",
        "$relationshipName": "contains",
        "$targetId": "roomTwin1548461419",
        "isAccessRestricted": true
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1548461419/relationships/RoomToFloorRelationship-0-1793244327?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "floorTwin1128846069",
        "$sourceId": null,
        "$relationshipName": "containedIn",
        "$etag": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022592abf76-0c2a-4195-9fe9-3685507f5f33\u0022",
        "mise-correlation-id": "b0ff50bc-fd35-4041-bacd-5b9741380917",
        "traceresponse": "00-d14e425345decd70fa34465ba084ba63-8b9c7a4077b532dd-01"
      },
      "ResponseBody": {
        "$relationshipId": "RoomToFloorRelationship-0-1793244327",
        "$etag": "W/\u0022592abf76-0c2a-4195-9fe9-3685507f5f33\u0022",
        "$sourceId": "roomTwin1548461419",
        "$relationshipName": "containedIn",
        "$targetId": "floorTwin1128846069"
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1128846069/incomingrelationships?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "27aae7ff-5af9-4191-a0a5-a8fac0166bd3",
        "traceresponse": "00-73776d860eff267cf10ecae57e835677-16a76d95c6071044-01"
      },
      "ResponseBody": {
        "nextLink": "https://importjobgatest.api.neu.pp.azuredigitaltwins-ppe.net/digitaltwins/floorTwin1128846069/incomingrelationships?continuationToken=pxvp5MMJ0cbIl%2FT1Xis285P1dNqvYNc1gkaIG8u%2FsShjGXZoKnWlgTYz2mNX9x3DvDo%2FmQuRyu7aj%2FwSB47yBfuAhWiwK%2FF3TQXVHZYF34Ya6y38X4Fl4lh9dBoOx%2F8pUNZ3NFM%2BGcuhfKA3Bcj0fA%3D%3D\u0026api-version=2023-06-30",
        "value": [
          {
            "$relationshipId": "RoomToFloorRelationship-0-1793244327",
            "$sourceId": "roomTwin1548461419",
            "$[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1128846069/incomingrelationships?continuationToken=pxvp5MMJ0cbIl%2FT1Xis285P1dNqvYNc1gkaIG8u%2FsShjGXZoKnWlgTYz2mNX9x3DvDo%2FmQuRyu7aj%2FwSB47yBfuAhWiwK%2FF3TQXVHZYF34Ya6y38X4Fl4lh9dBoOx%2F8pUNZ3NFM%2BGcuhfKA3Bcj0fA%3D%3D\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 2[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1128846069/incomingrelationships?continuationToken=pxvp5MMJ0cbIl%2FT1Xis280Mje8aqD7Cys9voYwQFExAcaj62I5BtxqCo7BC44H8Pf%2BfXlfXff79UNaid7w2FF%2Fmu4coBLkw0wFiAhGSr2LGtfzxykYJl6dul2yTIVtSAxleoU5gul2eUX5oNN6Q58A%3D%3D\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
    [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1128846069/incomingrelationships?continuationToken=pxvp5MMJ0cbIl%2FT1Xis28%2FMnldyDt%2FOwTgdI9wZhtz%2BuLmGr2TyBTUIn9ambGaO%2Buco5iVWsUEIXxo6ozlkhIL4fC0nvb96Qzx8F0ymPqkNX0dgcmHAh5GHpytS%2FmwjRagf77P7f%2FjPlmafgM5wXOQ%3D%3D\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2fbbe200-5250-455a-bc92-8b20d655e96d",
        "traceresponse": "00-be0aadc32e21c9a16f8793c22af9d0cf-d3925a208fa2767e-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "RoomToFloorRelationship-9-1793244327",
            "$sourceId": "roomTwin1548461419",
            "$relationshipName": "containedIn",
            "$relationshipLink": "https://importjobgatest.api.neu.pp.azuredigitaltwins-ppe.net/digitaltwins/roomTwin1548461419/relationships/RoomToFloorRelationship-9-1793244327?api-version=2023-06-30"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1128846069/relationships?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "631e9cfd-02c0-4c93-b3b4-0be33c30c76a",
        "traceresponse": "00-65d1a5af7eba[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1128846069/relationships?continuationToken=pxvp5MMJ0cbIl%2FT1Xis28%2BLVc4UZnWeqdHBp36BXeSAPlgCyxR4aG%2FpHQNlJy22rqUfIhcg1RGgobWhXQHefzjOrrNk7sBttLBas3P5DPACyRrRgnMn01SobogOBEegIJNz%2B3ZaBb66qcnWN9xjJMw%3D%3D\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Res[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1128846069/relationships?continuationToken=pxvp5MMJ0cbIl%2FT1Xis283%2F4r4WT7kMnInX3i6BSE%2BG75Q5FFCYqwl5tIgUKvljXqshn8F33Nc4cfpo1gv8B4UpkYsS2JfX9HYAJWeuUcRSlx7HHCLqxe4NCeTaLC8vxEGXLwJhiao1TUP3UiveiEQ%3D%3D\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Respo[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1128846069/relationships?continuationToken=pxvp5MMJ0cbIl%2FT1Xis28z5EmyrvtIx2DChj2vqWhmh2w57sIFQQrip0%2FmA3oxw7Ah1Pqm3HoGwwSeKvaCc%2FYm7Bj7N1Uc9M3YGGNi38LCZ6rX0qmn4CEgxzkDoag01AwrzpGUcI3GhWMtZ5ytTS4w%3D%3D\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "68466dc6-ab36-4495-8c95-9cf323f08c3d",
        "traceresponse": "00-353f89ee9520d4c24d0e18fd6e57291a-7d4a4eb8115d6516-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "FloorToRoomRelationship-9-1793244327",
            "$etag": "W/\u0022a1e61f35-6da9-45cb-bac3-624bcbcb756b\u0022",
            "$sourceId": "floorTwin1128846069",
            "$relationshipName": "contains",
            "$targetId": "roomTwin1548461419",
            "isAccessRestricted": true
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B189261840?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "50a9072f-af4d-47cd-a1c0-8736ea6a6ee1",
        "traceresponse": "00-8b6aa10bbc6bca33a18b1c0398565465-b9bd21d0dd2e5863-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B115160886?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "373e73d3-27da-45e7-b292-3441ea0786be",
        "traceresponse": "00-28c9eb4aeb4ab68b7c6bcdac9b9fcac4-6196552898b0b838-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11752488?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "80ea980d-6f78-4683-9627-3bbb36f8066d",
        "traceresponse": "00-171ce36253b6854554297ef3f24accab-62b81bf0be243ecc-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1651558626"
  }
}
