{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11443535?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9a941f84-959c-4b02-8e3f-f5b78ad8e5c6",
        "traceresponse": "00-5fe8c55ec5a2954c5bfdd37bfaedefc4-ea3f4339c1c79de6-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11443535. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B114186157?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7fe82fe6-9bc2-4c91-83eb-f9d45ad3be5e",
        "traceresponse": "00-125aea0f133c593ba79e3a7436718fb2-7c2c589c6efad783-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;114186157. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B114992826?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4ef4f317-e5e8-4aaf-899d-da77c0ed7407",
        "traceresponse": "00-0493c81ee2a95bcfae3a088bc12240a0-d0d732323d5e4693-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;114992826. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin453157470?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c032ff00-9fa9-40a8-9346-0201e58c3246",
        "traceresponse": "00-35ffec8c58a6d6ada1e7fab30391ea77-6df2947baefc0cd9-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin453157470. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin2000999889?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c4b0f945-780d-4c6e-a330-94b7c8409f36",
        "traceresponse": "00-5e46456dd36cb6f62ec13d4d49baa0a7-c4e28bc9f02a9c29-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin2000999889. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \"@id\": \"dtmi:example:floor;11443535\",    \"@type\": \"Interface\",    \"@context\": \"dtmi:dtdl:context;2\",    \"displayName\": \"Floor\",    \"description\": \"A building story.\",    \"contents\": [        {            \"@type\": \"Relationship\",            \"name\": \"contains\",            \"target\": \"dtmi:example:room;114186157\",            \"properties\": [                {                    \"@type\": \"Property\",                    \"name\": \"isAccessRestricted\",                    \"schema\": \"boolean\"                }            ]        },        {            \"@type\": \"Relationship\",            \"name\": \"cooledBy\",            \"target\": \"dtmi:example:hvac;114992826\"        },        {            \"@type\": \"Property\",            \"name\": \"AverageTemperature\",            \"schema\": \"double\"        }    ]},{    \"@id\": \"dtmi:example:room;114186157\",    \"@type\": \"Interface\",    \"displayName\": \"Room\",    \"description\": \"An enclosure inside a building.[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ecca7d0d-5ca0-413d-90d2-0312605a056a",
        "traceresponse": "00-b28b3d97bbe10613d6e5fd053b7c1300-014def42107f3f3a-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;119382704",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T14:44:45.4197809+00:00"
          },
          {
            "id": "dtmi:example:room;114026432",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T14:44:45.5534663+00:00"
          },
          {
            "id": "dtmi:example:Ward;111326234",
            "description": {
              "en"[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin453157470?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11443535"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"4d9cbc64-a9a5-492a-a6e9-1b27d64ddf00\"",
        "mise-correlation-id": "80ffa517-f53f-4469-90a1-1b75df36da84",
        "traceresponse": "00-82d72df8469003a0169eef1106db962b-616134f498fc18af-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin453157470",
        "$etag": "W/\"4d9cbc64-a9a5-492a-a6e9-1b27d64ddf00\"",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11443535",
          "$lastUpdateTime": "2025-05-02T14:58:54.1057088Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-02T14:58:54.1057088Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin2000999889?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;114186157"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"2d501802-72aa-4f8e-8187-1360928bc16c\"",
        "mise-correlation-id": "cf5d802e-b1e0-481b-bec9-2bf835d4ecfb",
        "traceresponse": "00-8896af5783758273f8dfcb3c7ff79940-812cc30393d7b973-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin2000999889",
        "$etag": "W/\"2d501802-72aa-4f8e-8187-1360928bc16c\"",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;114186157",
          "$lastUpdateTime": "2025-05-02T14:58:54.1924267Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-02T14:58:54.1924267Z"
          },
          "Humidity": {
            "lastUpdateTime": "2025-05-02T14:58:54.1924267Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-02T14:58:54.1924267Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2025-05-02T14:58:54.1924267Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin453157470/relationships/FloorToRoomRelationship-0-1290007424?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin2000999889",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"69599c85-ab52-4edf-b1c5-6ff855c30fbf\"",
        "mise-correlation-id": "ec000d0e-8609-4f38-811a-15def1d4808a",
        "traceresponse": "00-51a40e9ffa1915690d065d5623ae0fef-c01b88df8bf39a80-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship-0-1290007424",
        "$etag": "W/\"69599c85-ab52-4edf-b1c5-6ff855c30fbf\"",
        "$sourceId": "floorTwin453157470",
        "$relationshipName": "contains",
        "$targetId": "roomTwin2000999889",
        "isAccessRestricted": true
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin2000999889/relationships/RoomToFloorRelationship-0-1290007424?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "floorTwin453157470",
        "$sourceId": null,
        "$relationshipName": "containedIn",
        "$etag": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"50bd7c6a-a5dd-49f3-8d92-e60712dd94d5\"",
        "mise-correlation-id": "b5a1d40d-eae1-46e8-8d1f-0c9bc263179d",
        "traceresponse": "00-edaa5f4b78508e015d3e4607bb77a22d-37a13538b3e529ef-01"
      },
      "ResponseBody": {
        "$relationshipId": "RoomToFloorRelationship-0-1290007424",
        "$etag": "W/\"50bd7c6a-a5dd-49f3-8d92-e60712dd94d5\"",
        "$sourceId": "roomTwin2000999889",
        "$relationshipName": "containedIn",
        "$targetId": "floorTwin453157470"
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin453157470/incomingrelationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "42d5a502-757f-4f88-a9b7-f7d878b9a70c",
        "traceresponse": "00-771ec7744c4cd7623d3e155fc369c142-5a0f831c372248da-01"
      },
      "ResponseBody": {
        "nextLink": "https://azsdknew9.api.eus2.digitaltwins.azure.net/digitaltwins/floorTwin453157470/incomingrelationships?continuationToken=eGufKY7EOVQTOlM1kJGJ%2Fe3xJGJIBD2kJq%2Bwlm35nOQ2jA3kGOtXVJaAe0DqQM6QNWmtvR3Xof%2FTjZHlYb3BBnR76nkpH15l%2BMWJCC9Cn5aMZXg97f4WP54rcToIM%2B3r7q2NRnzFEAzcuZzDZlV%2BMQ%3D%3D&api-version=2023-10-31",
        "value": [
          {
            "$relationshipId": "RoomToFloorRelationship-0-1290007424",
            "$sourceId": "roomTwin2000999889",
            "$relationshipName": [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin453157470/incomingrelationships?continuationToken=eGufKY7EOVQTOlM1kJGJ%2Fe3xJGJIBD2kJq%2Bwlm35nOQ2jA3kGOtXVJaAe0DqQM6QNWmtvR3Xof%2FTjZHlYb3BBnR76nkpH15l%2BMWJCC9Cn5aMZXg97f4WP54rcToIM%2B3r7q2NRnzFEAzcuZzDZlV%2BMQ%3D%3D&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
    [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin453157470/incomingrelationships?continuationToken=eGufKY7EOVQTOlM1kJGJ%2FYnwtg0sYPMVBfZ90z%2B3xycIqUTymdwQfnAQqFmHkFkUww7hPSHRyfRMk0k14lEKFWjrfaOBCuZ%2BBFwdeS1DgOnpB9macSurDg9Z0EoKDRZ2HeC853rCVJU1V2ZS65rwkg%3D%3D&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Res[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin453157470/incomingrelationships?continuationToken=eGufKY7EOVQTOlM1kJGJ%2FUe0EpMFrNj1qU8%2F1pTeIFnONp%2FwfdfSQLXTA3GVTOFVDNy6%2Ft7%2FSnPrS6AMsn6DEcjQS00blQg9VmCibnQKLnbl6sVVBpzugSmqq1r0nZDiNbTpCAjhnzPcECdF7DyiqA%3D%3D&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8c817f14-aca7-411c-a02a-9fa535b15b6a",
        "traceresponse": "00-d237d06a0325153579f07ca3222a7248-8dee458f8df8f9d5-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "RoomToFloorRelationship-9-1290007424",
            "$sourceId": "roomTwin2000999889",
            "$relationshipName": "containedIn",
            "$relationshipLink": "https://azsdknew9.api.eus2.digitaltwins.azure.net/digitaltwins/roomTwin2000999889/relationships/RoomToFloorRelationship-9-1290007424?api-version=2023-10-31"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin453157470/relationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d04d1bf6-009d-4533-a5b2-30b846ffaf7e",
        "traceresponse": "00-5f88224e38d2a[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin453157470/relationships?continuationToken=eGufKY7EOVQTOlM1kJGJ%2FW%2BDK5nag7PShZyktn%2FHO3KF2I1SuyX%2BdMlLyGMKMikxWfrA3y1ur%2F77EBRhQFP3wbuwULF9TIr5B6HFHA8vY3p%2F6DC9vfMaQXl3Do3xhuX7zsGH5SApCBSeuyFgSJwGCQ%3D%3D&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Respo[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin453157470/relationships?continuationToken=eGufKY7EOVQTOlM1kJGJ%2FXksCOziu0HWvQbH6UdbWx2o%2BueCFhkcrdv80ufnc4rB8MCbeydFzU08lIQyrvpfG0E%2F6LWf0Ex2nRkb%2BSa78xjLN4Jxv74bRs9PK666L2Y1g%2F%2BzGZ2WIMKInqFBlkcllQ%3D%3D&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Respo[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin453157470/relationships?continuationToken=eGufKY7EOVQTOlM1kJGJ%2FYOrmmC6f2DIaf%2FUD%2FOHddxlUzkaznGCA58vNUe9Ttn1PcTXhFAR8xgJ9H%2FH2QHlmvcHsPR%2B7QDeUOU%2BMITSNarzYMcBlGEiT9S2CWvkCY%2ByI%2BbyRGRRXa%2BfEa7MaUr%2Bjw%3D%3D&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8cd4f84c-f63b-4319-896f-19bfa25acf2b",
        "traceresponse": "00-2e44a1065610ae2333e5fc35531dbc7f-7ad53cd9e55181cd-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "FloorToRoomRelationship-9-1290007424",
            "$etag": "W/\"817d1d7e-4e68-467c-9cd0-2feec1d1c78b\"",
            "$sourceId": "floorTwin453157470",
            "$relationshipName": "contains",
            "$targetId": "roomTwin2000999889",
            "isAccessRestricted": true
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin2000999889/relationships/RoomToFloorRelationship-18-1290007424?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "29787b5b-293e-4bb3-b837-7047f72fb8da",
        "Retry-After": "10",
        "traceresponse": "00-274fdf506dab2bb4a2a4e32e48deaa5b-149c76bab3c59f4e-01",
        "x-ms-error-code": "TooManyRequests"
      },
      "ResponseBody": {
        "error": {
          "twinId": "floorTwin453157470",
          "code": "TooManyRequests",
          "message": "Operation could not be completed as too many requests to this twin have been made. Please check Retry-After header to retry request."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B114992826?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "2456be52-81ca-429b-b3f9-58aacc7c6185",
        "traceresponse": "00-c00d180dbd091e2a0ad6a02ba9936c0b-1ff89513f0234715-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11443535?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "51639b25-e77c-42a0-8b9f-4d1071eb7cc9",
        "traceresponse": "00-1db98822473dd4c0f9d7d43745dc2cfd-8159b0a5a37e0d8d-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B114186157?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "f3dadc83-b5f5-45c7-a3c3-ad32367593d0",
        "traceresponse": "00-dcee968788388c6b1a900cad7e3ad504-5c7e011089204822-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1271387402"
  }
}
