{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11126038?includeModelDefinition=true\u0026api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-87b45b8cb3ac844e94641433d04803ad-6b0627e3cb39d746-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11126038. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B189133600?includeModelDefinition=true\u0026api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-0278da74df77f64b9b61aa6075f96a69-d0a120440200bf48-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;189133600. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B136041968?api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-e9614986a12c0e458f8fa5ce00fe0720-608f199634b7f94d-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;136041968. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1015807951?api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-7fd63bd8caf5c54291787221d7740c62-356324b3b5e7fc4b-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin1015807951. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin2022923286?api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-ad0190819aa9fa47a0a3ae7bcfd59f6d-8fcdc76a14306a45-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin2022923286. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1329178445?api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-5a62d5976c3c8348b768fc71c3da5293-0b5da8a5035db14e-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin1329178445. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:floor;11126038\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022,    \u0022displayName\u0022: \u0022Floor\u0022,  [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-a43b52395fc9054b9592f69527267847-f91edc4415d06245-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:Ward;145613168",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-01-20T06:09:22.6352542\u002B00:00"
          },
          {
            "id": "dtmi:example:room;133999852",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2022-01-20T06:09:22.9537885\u002B00:00"
          },
          {
            "id": "dtmi:example:room;111892730",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1015807951?api-version=2021-06-30-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "$metadata": {
          "$model": "dtmi:example:floor;11126038"
        },
        "AverageTemperature": 75
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022b45729f6-8d53-4ff4-a2b4-d96076328210\u0022",
        "traceresponse": "00-a5ec88d694045f4fb1709692c8c2d4ed-a8c86406384c9a4c-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin1015807951",
        "$etag": "W/\u0022b45729f6-8d53-4ff4-a2b4-d96076328210\u0022",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11126038",
          "AverageTemperature": {
            "lastUpdateTime": "2022-01-20T06:12:21.9780769Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin2022923286?api-version=2021-06-30-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "$metadata": {
          "$model": "dtmi:example:room;189133600"
        },
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022f957116d-0c7b-4616-9dbc-fd4dde86a8f3\u0022",
        "traceresponse": "00-9578e992478240438bc42ed45b33ba0e-37df4b7880ac1f4e-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin2022923286",
        "$etag": "W/\u0022f957116d-0c7b-4616-9dbc-fd4dde86a8f3\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;189133600",
          "Temperature": {
            "lastUpdateTime": "2022-01-20T06:12:22.1507372Z"
          },
          "Humidity": {
            "lastUpdateTime": "2022-01-20T06:12:22.1507372Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-01-20T06:12:22.1507372Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2022-01-20T06:12:22.1507372Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1329178445?api-version=2021-06-30-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "$metadata": {
          "$model": "dtmi:example:hvac;136041968"
        },
        "TargetTemperature": 80,
        "TargetHumidity": 25
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002269f7d457-4991-4198-885b-c0461d244a62\u0022",
        "traceresponse": "00-48003b8e0a54db4aa4a826ffb1a1f9bf-222a244713ed1446-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin1329178445",
        "$etag": "W/\u002269f7d457-4991-4198-885b-c0461d244a62\u0022",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;136041968",
          "TargetTemperature": {
            "lastUpdateTime": "2022-01-20T06:12:22.3201761Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2022-01-20T06:12:22.3201761Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1015807951/relationships/FloorToRoomRelationship?api-version=2021-06-30-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin2022923286",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00223c4b6545-1ddd-4b82-aba5-25b78f2a503a\u0022",
        "traceresponse": "00-b810ab2940f87343a10b72902212f184-8c33d4801e07df40-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\u00223c4b6545-1ddd-4b82-aba5-25b78f2a503a\u0022",
        "$sourceId": "floorTwin1015807951",
        "$relationshipName": "contains",
        "$targetId": "roomTwin2022923286",
        "isAccessRestricted": true
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1015807951/relationships/FloorToRoomRelationship?api-version=2021-06-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch\u002Bjson",
        "If-Match": "W/\u002237fe6953-ecb0-44e0-9fa9-6d00e8388ee7\u0022"
      },
      "RequestBody": "[{\u0022op\u0022:\u0022replace\u0022,\u0022path\u0022:\u0022/isAccessRestricted\u0022,\u0022value\u0022:true}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u002272600260-430c-4e87-9441-86afeb0e1299\u0022",
        "traceresponse": "00-19f77d200f5d7f46a3783c6aa1709561-f1b2d8fad15fc448-01"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B136041968?api-version=2021-06-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "traceresponse": "00-a5130b73cd8af04ebdc942054348cf09-e0efac3117eadb4e-01"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11126038?api-version=2021-06-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "traceresponse": "00-6add09f48a2b0b4eabb8e7e77092d167-06ee9ef9fa71df42-01"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B189133600?api-version=2021-06-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "traceresponse": "00-ad39b9a7662e934ebab1dcc2263e2b67-0ef4ec26ac0fd547-01"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1863449291"
  }
}