{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11119690?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "aa665113-7043-4229-bb7d-8a922d1e172d",
        "traceresponse": "00-80385a2fa2970e75043db720dc53175e-64ad253a2495988d-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11119690. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B111936039?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1e0f61eb-f328-4b7f-914d-f1481156987a",
        "traceresponse": "00-6e946ed29c210ca1fec5c917c13b6a30-c5cf8b706d213f49-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;111936039. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B153970324?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a1fe5641-2b5d-462b-b6f6-2fb114f24d39",
        "traceresponse": "00-cee4395499b30047fb1c43b5c63647c3-9d6338c669e18271-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;153970324. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1461008432?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2067141a-16d1-476e-b7f3-3e27cff530a6",
        "traceresponse": "00-8101a9966dd3e6130ebbbe56ed5e1767-77532e51fefeada4-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin1461008432. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin843783378?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "63505ae2-0df7-46f4-a3c1-7e985fb1c63e",
        "traceresponse": "00-f070bce56d6ce21caf0c034559d86506-0c5000dde67b3392-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin843783378. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1177030762?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7916d210-77fc-4421-b0b4-b04d349becb3",
        "traceresponse": "00-4cd0f7014bb23506db053718ba8cbf7c-f6566df6e023eeff-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin1177030762. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:floor;11119690\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022,    \u0022displayName\u0022: \u0022Floor\u0022,  [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "607ed442-1c5e-40dd-8ecf-81c60612ca3f",
        "traceresponse": "00-b7f08b4cb2668f59ede29001cc13ea74-0f36cd58d33bc14a-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;172332512",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-30T18:49:13.4317179\u002B00:00"
          },
          {
            "id": "dtmi:example:room;120668288",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-30T18:49:13.443748\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;136137213",
            "description": {
         [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1461008432?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11119690"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002294891cb6-3e62-4aaa-bb01-18f1f4eeb19b\u0022",
        "mise-correlation-id": "a40d827b-36d0-4cac-b20b-2f515f7b462f",
        "traceresponse": "00-f290dec778d6e69766b9ae1bd2daa84c-79ce2400050f696c-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin1461008432",
        "$etag": "W/\u002294891cb6-3e62-4aaa-bb01-18f1f4eeb19b\u0022",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11119690",
          "$lastUpdateTime": "2023-02-01T23:58:53.3391596Z",
          "AverageTemperature": {
            "lastUpdateTime": "2023-02-01T23:58:53.3391596Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin843783378?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;111936039"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022f2706a28-d1ed-4265-b1f0-b92438766ef4\u0022",
        "mise-correlation-id": "bd14961c-6675-4181-9c58-59a3817f838f",
        "traceresponse": "00-8b638942e004c46f114aeada4aff49a1-da38749c6a5fe4ee-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin843783378",
        "$etag": "W/\u0022f2706a28-d1ed-4265-b1f0-b92438766ef4\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;111936039",
          "$lastUpdateTime": "2023-02-01T23:58:53.5312304Z",
          "Temperature": {
            "lastUpdateTime": "2023-02-01T23:58:53.5312304Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-02-01T23:58:53.5312304Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-02-01T23:58:53.5312304Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-02-01T23:58:53.5312304Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1177030762?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;153970324"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022b35bc448-b740-4ee9-aa0e-28d545eb023d\u0022",
        "mise-correlation-id": "f048978d-6cb6-4df1-9022-ad452d63ad96",
        "traceresponse": "00-fbdcb77b6511dab88fa363ec2a285d30-24be0d38c53882b1-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin1177030762",
        "$etag": "W/\u0022b35bc448-b740-4ee9-aa0e-28d545eb023d\u0022",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;153970324",
          "$lastUpdateTime": "2023-02-01T23:58:53.7161505Z",
          "TargetTemperature": {
            "lastUpdateTime": "2023-02-01T23:58:53.7161505Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2023-02-01T23:58:53.7161505Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1461008432/relationships/FloorToRoomRelationship?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin843783378",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002285ea69c6-e45f-43ed-b9b1-ea4530e11dcc\u0022",
        "mise-correlation-id": "6f1f2f3e-3222-4941-be78-ceee6d946067",
        "traceresponse": "00-bfca73b87bbb9325f688187558691a37-3f070d3d6da7c16f-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\u002285ea69c6-e45f-43ed-b9b1-ea4530e11dcc\u0022",
        "$sourceId": "floorTwin1461008432",
        "$relationshipName": "contains",
        "$targetId": "roomTwin843783378",
        "isAccessRestricted": true
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1461008432/relationships/FloorToRoomRelationship?api-version=2023-02-27-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch\u002Bjson",
        "If-Match": "W/\u002285ea69c6-e45f-43ed-b9b1-ea4530e11dcc\u0022"
      },
      "RequestBody": "[{\u0022op\u0022:\u0022replace\u0022,\u0022path\u0022:\u0022/isAccessRestricted\u0022,\u0022value\u0022:true}]",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "25694140-aadd-4424-9eb4-e684c4ebf531",
        "traceresponse": "00-d9c21932111b6d34a781607622a77836-3e8cf88a10d8966d-01"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "The provided etag W/\u002285ea69c6-e45f-43ed-b9b1-ea4530e11dcc\u0022 doesn\u0027t match the current etag for the resource. Please obtain and provide the latest etag by getting the resource. See section on get apis in the documentation https://aka.ms/adtv2twins."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B153970324?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "a1f43417-bc84-491d-a49e-cb91b9eacd79",
        "traceresponse": "00-1bce68bfef1267707a3cb52204099ccf-8013bdcfe8089954-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B111936039?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "36752d05-b1fb-4e91-b098-5d525640a70a",
        "traceresponse": "00-75e2cb2b1d0752ee0078f12f3194bbbb-3be2285ec44cb2c7-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11119690?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "99607303-21fe-47b2-8b18-392f090fc8a6",
        "traceresponse": "00-ca1e1514308b880bdb8be76ed57b8751-0f46d3e63a61f159-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin843783378?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "f2281180-e42a-411b-b063-3fe530fd8e1d",
        "traceresponse": "00-f7e32acaa3a55e66baf1b006fd7a2f1d-f2c32cd6e92ef2a3-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "40804971"
  }
}
