{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B17314334?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "439d5d65-25b3-4c84-83b1-b39a2253acd6",
        "traceresponse": "00-d7d7e803da67c34daa53b24d3c673c6d-bf0a3e8609db93bd-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;17314334. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B165311920?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "af122321-f2f8-446d-a40f-9c335d61419a",
        "traceresponse": "00-8cb0a4de9379144caf7661e8e608a8e4-f1a11c5ad1339f7c-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;165311920. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B110354145?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "742b6c7f-92a2-4b9f-9c82-fd0fb9cc5df8",
        "traceresponse": "00-c5adb145532812449275afca841c59f9-0b986bdcf3ccd5ff-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;110354145. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1092064369?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8ff63fb9-f2b9-4117-9f76-4784e6e38ebf",
        "traceresponse": "00-c2c71ea9decd5e4da839cd05025be872-4bb53f75eb319d95-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin1092064369. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin2007650129?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "efdc67b3-ab57-4bf0-80d4-1451d8ef7375",
        "traceresponse": "00-2207686b859c5746bcc4173611153dd9-1a55a3f447461649-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin2007650129. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1999127366?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "112775ed-c8a3-4cbf-9eab-b5605dfd2397",
        "traceresponse": "00-8ac60f0b2a982a4ca5d46fb193986019-a80a696240dfd162-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin1999127366. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:floor;17314334\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022,    \u0022displayName\u0022: \u0022Floor\u0022,  [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fedf87f5-8617-48a9-b4ad-5f323ee9b536",
        "traceresponse": "00-2f8957c064951a4eba2ff9ef43d54454-9de33bfe6ae56fbd-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:Ward;142582203",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-19T23:58:12.9369753\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;177753514",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-19T23:58:12.9483585\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;160994964",
     [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1092064369?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;17314334"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022f6750524-698b-4d06-b2c2-ba6e25e3ac25\u0022",
        "mise-correlation-id": "bb6313c9-4d59-4f3c-bab0-fa5c950fd6b0",
        "traceresponse": "00-febd17ace7ba8e4a907e946895101c8a-8c988d7da057d47f-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin1092064369",
        "$etag": "W/\u0022f6750524-698b-4d06-b2c2-ba6e25e3ac25\u0022",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;17314334",
          "$lastUpdateTime": "2023-01-24T01:04:35.2381511Z",
          "AverageTemperature": {
            "lastUpdateTime": "2023-01-24T01:04:35.2381511Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin2007650129?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;165311920"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00228ae7d4c8-dd0f-48ec-87f7-d932c6d64707\u0022",
        "mise-correlation-id": "be0585a6-99dd-4f46-98df-eaee1dafc4bd",
        "traceresponse": "00-6f6a5067ab22ee4a94796010ee70f171-d2a67fe7fa095ba2-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin2007650129",
        "$etag": "W/\u00228ae7d4c8-dd0f-48ec-87f7-d932c6d64707\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;165311920",
          "$lastUpdateTime": "2023-01-24T01:04:35.4703696Z",
          "Temperature": {
            "lastUpdateTime": "2023-01-24T01:04:35.4703696Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-01-24T01:04:35.4703696Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-01-24T01:04:35.4703696Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-01-24T01:04:35.4703696Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1999127366?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;110354145"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00229e3350cc-ddd9-494a-bd94-d4f6ac80347c\u0022",
        "mise-correlation-id": "7d54dd65-ac74-409c-998c-433c0ae0127d",
        "traceresponse": "00-2b56d4af7fb612468c8b6411eceb8a6a-06949b14a5c04cee-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin1999127366",
        "$etag": "W/\u00229e3350cc-ddd9-494a-bd94-d4f6ac80347c\u0022",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;110354145",
          "$lastUpdateTime": "2023-01-24T01:04:35.6753699Z",
          "TargetTemperature": {
            "lastUpdateTime": "2023-01-24T01:04:35.6753699Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2023-01-24T01:04:35.6753699Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1092064369/relationships/FloorToRoomRelationship?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin2007650129",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022734f5e97-6f0a-469c-9729-eb5ea5fad3fc\u0022",
        "mise-correlation-id": "ca3d9fee-152f-4ec1-a9c4-ff73588414cd",
        "traceresponse": "00-c9de049282bd0f4ca7002d065cfd5cb8-603476d4c01e1aa1-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\u0022734f5e97-6f0a-469c-9729-eb5ea5fad3fc\u0022",
        "$sourceId": "floorTwin1092064369",
        "$relationshipName": "contains",
        "$targetId": "roomTwin2007650129",
        "isAccessRestricted": true
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1092064369/relationships/FloorToRoomRelationship?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "W/\u0022734f5e97-6f0a-469c-9729-eb5ea5fad3fc\u0022"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ba5db83e-68a0-42a2-bcfb-37f0fe96c495",
        "traceresponse": "00-451df844a35bd24383d74055122dd8cf-f25a4966c523fbf0-01"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "The provided etag W/\u0022734f5e97-6f0a-469c-9729-eb5ea5fad3fc\u0022 doesn\u0027t match the current etag for the resource. Please obtain and provide the latest etag by getting the resource. See section on get apis in the documentation https://aka.ms/adtv2twins."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B17314334?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "f9064dd7-1c1c-4bd0-aa02-571a4d289f53",
        "traceresponse": "00-364a5c321fd0c64c8eb88c0f5bd636a2-80fab1f55787d1eb-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B110354145?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "1cbcff12-6979-4c0e-95e5-7acbd935448b",
        "traceresponse": "00-81f8955d7cd453499f177f3f0f13ccf6-bf0ada01438b6973-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B165311920?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "f54f660f-89dd-4651-9e13-fb7760e167ab",
        "traceresponse": "00-ede9a1d04b110d47887493075deba0f5-200a8df95d5c76c4-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1999127366?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "1667db7b-1b5f-43a0-a348-cb62a0a04d7b",
        "traceresponse": "00-d36ee43af812c5419ea3d53523aafd0a-5f5bd71cb6462674-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1468922167"
  }
}
