{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B12047906?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7d3291c3-02fb-47fc-a2d2-afdf441c6989",
        "traceresponse": "00-a51384a1734ea7e55cb50e0c1095e1cb-60753c1f672fcfba-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;12047906. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B120547279?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0304c979-7f89-4348-a633-61958e7e1396",
        "traceresponse": "00-542621c7534ff3e2bbf1a1d6d128b296-758edbd8e3b565b4-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;120547279. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B194092631?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d046ed9d-ec79-40d7-9424-cb1ab8ce940b",
        "traceresponse": "00-353767619b56764f6ba24dae2a349bf3-d6fcc8f5e64f527c-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;194092631. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1702776251?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bf5889b9-f723-482f-853a-a334bcf9798e",
        "traceresponse": "00-cb0face011d1ac97a2488a89e6461445-d6ea9eb7f4fd46e2-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin1702776251. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin618677369?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6072c699-4bfa-4c12-aa4d-c6ce18430de6",
        "traceresponse": "00-c96f54163f1c7a760e29f3e10e5d7633-ce10effea198b6f7-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin618677369. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1132866408?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "983daecb-6a47-42d0-b717-0eb812aa68e4",
        "traceresponse": "00-0f78d021123ee28a04c5eb72d4c2ffff-84670727d4952f67-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin1132866408. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:floor;12047906\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022,    \u0022displayName\u0022: \u0022Floor\u0022,    \u0022[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4844854d-d834-4851-9542-2d51de4a3b29",
        "traceresponse": "00-9598c5d90a7872874ad597cec00558e6-5a0d4fb10c86db11-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:com:microsoft:azure:iot:demomodel900;1",
            "description": {
              "en": "This is the description of model"
            },
            "displayName": {
              "en": "This is the display name"
            },
            "decommissioned": false,
            "uploadTime": "2023-05-18T00:40:07.4729517\u002B00:00"
          },
          {
            "id": "dtmi:com:microsoft:azure:iot:model0;1",
            "description": {
              "en": "This is the description of model"
            },
            "displayName": {
              "en": "This is the display name"
            },
            "decommissioned": false,
            "uploadTime": "2023-05-18T00:50:17.6199536\u002B00:00"
          },
          {
            "id": "dtmi:com:microsoft:azure:iot:model1;[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1702776251?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;12047906"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220ee4bfb3-d71f-469e-ae75-d49afbfac0e4\u0022",
        "mise-correlation-id": "261551bd-fcf1-453a-9d77-23f3ac577cb5",
        "traceresponse": "00-9bdfda218990466063008d96a79db258-bf902fe8586ebef1-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin1702776251",
        "$etag": "W/\u00220ee4bfb3-d71f-469e-ae75-d49afbfac0e4\u0022",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;12047906",
          "$lastUpdateTime": "2023-05-18T23:08:06.0091565Z",
          "AverageTemperature": {
            "lastUpdateTime": "2023-05-18T23:08:06.0091565Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin618677369?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;120547279"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022954cd5bf-2a12-454f-b43e-cce0b0601ebf\u0022",
        "mise-correlation-id": "069265ec-3b01-4a7b-8543-869f128fb0de",
        "traceresponse": "00-1a22823a30567f0c01de586366084699-d9cbddf7c2e61476-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin618677369",
        "$etag": "W/\u0022954cd5bf-2a12-454f-b43e-cce0b0601ebf\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;120547279",
          "$lastUpdateTime": "2023-05-18T23:08:06.1967508Z",
          "Temperature": {
            "lastUpdateTime": "2023-05-18T23:08:06.1967508Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-05-18T23:08:06.1967508Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-05-18T23:08:06.1967508Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-05-18T23:08:06.1967508Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1132866408?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;194092631"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022d043644a-b7a4-4811-a2ed-8825bc789617\u0022",
        "mise-correlation-id": "a2657a49-0002-4231-aab0-b63d99eb30f1",
        "traceresponse": "00-fd7a46b9548e6c920290d9480efc1af6-c6921c3217446411-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin1132866408",
        "$etag": "W/\u0022d043644a-b7a4-4811-a2ed-8825bc789617\u0022",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;194092631",
          "$lastUpdateTime": "2023-05-18T23:08:06.4080361Z",
          "TargetTemperature": {
            "lastUpdateTime": "2023-05-18T23:08:06.4080361Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2023-05-18T23:08:06.4080361Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1702776251/relationships/FloorToRoomRelationship?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin618677369",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022a5aab5dc-0807-4c2a-b1e4-9ad3405c33eb\u0022",
        "mise-correlation-id": "d88f5b14-64fc-4580-9da6-8f619e15f8d9",
        "traceresponse": "00-799c1acac341b3bb362b2dd65c362a81-863e7d3e97c55530-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\u0022a5aab5dc-0807-4c2a-b1e4-9ad3405c33eb\u0022",
        "$sourceId": "floorTwin1702776251",
        "$relationshipName": "contains",
        "$targetId": "roomTwin618677369",
        "isAccessRestricted": true
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1702776251/relationships/FloorToHvacRelationship?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "hvacTwin1132866408",
        "$sourceId": null,
        "$relationshipName": "cooledBy",
        "$etag": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00224a077869-7a82-4465-b2ec-705b9ec1e77d\u0022",
        "mise-correlation-id": "2c00b248-c9b5-473b-87cf-9dbe26ba50fc",
        "traceresponse": "00-742c7d4f65bf5881bbda377e8d8e7295-ec457e1123d6f006-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToHvacRelationship",
        "$etag": "W/\u00224a077869-7a82-4465-b2ec-705b9ec1e77d\u0022",
        "$sourceId": "floorTwin1702776251",
        "$relationshipName": "cooledBy",
        "$targetId": "hvacTwin1132866408"
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1132866408/relationships/HvacToFloorRelationship?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "floorTwin1702776251",
        "$sourceId": null,
        "$relationshipName": "cools",
        "$etag": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022f4b201c9-7625-470e-a978-76bf24ae0faa\u0022",
        "mise-correlation-id": "d6cc0793-f9a0-4dca-89b1-0907cc941ab3",
        "traceresponse": "00-0101af3bc030e9d7d4d7ca9938ce4b56-5498e73ce3336d13-01"
      },
      "ResponseBody": {
        "$relationshipId": "HvacToFloorRelationship",
        "$etag": "W/\u0022f4b201c9-7625-470e-a978-76bf24ae0faa\u0022",
        "$sourceId": "hvacTwin1132866408",
        "$relationshipName": "cools",
        "$targetId": "floorTwin1702776251"
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin618677369/relationships/RoomToFloorRelationship?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "floorTwin1702776251",
        "$sourceId": null,
        "$relationshipName": "containedIn",
        "$etag": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022c256950e-9061-4798-8bd8-e22324fb9c35\u0022",
        "mise-correlation-id": "fb1fc34e-fb8b-490f-a592-4499bfa58ff4",
        "traceresponse": "00-a46e745036dbda7ab3cba2440908c5c9-f17770ccecf5bb45-01"
      },
      "ResponseBody": {
        "$relationshipId": "RoomToFloorRelationship",
        "$etag": "W/\u0022c256950e-9061-4798-8bd8-e22324fb9c35\u0022",
        "$sourceId": "roomTwin618677369",
        "$relationshipName": "containedIn",
        "$targetId": "floorTwin1702776251"
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1702776251/incomingrelationships?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0d534a52-f666-4339-a7d2-a0ae867374ab",
        "traceresponse": "00-16bf7253aafb72604b8b274eea8b5f3f-d816f023469b94ba-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "HvacToFloorRelationship",
            "$sourceId": "hvacTwin1132866408",
            "$relationshipName": "cools",
            "$relationshipLink": "https://importjobgatest.api.neu.pp.azuredigitaltwins-ppe.net/digitaltwins/hvacTwin1132866408/relationships/HvacToFloorRelationship?api-version=2023-06-30"
          },
          {
            "$relationshipId": "RoomToFloorRelationship",
            "$sourceId": "roomTwin618677369",
            "$relationshipName": "containedIn",
            "$relationshipLink": "https://importjobgatest.api.neu.pp.azuredigitaltwins-ppe.net/digitaltwins/roomTwin618677369/relationships/RoomToFloorRelationship?api-version=2023-06-30"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1702776251/relationships?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c5c30345-0382-444b-b423-5db4df7ca00d",
        "traceresponse": "00-a37ac3527ef0dafe4b84bb5f4a269d84-9a48592066d8fb6b-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "FloorToHvacRelationship",
            "$etag": "W/\u00224a077869-7a82-4465-b2ec-705b9ec1e77d\u0022",
            "$sourceId": "floorTwin1702776251",
            "$relationshipName": "cooledBy",
            "$targetId": "hvacTwin1132866408"
          },
          {
            "$relationshipId": "FloorToRoomRelationship",
            "$etag": "W/\u00229445372f-6655-4826-b4b9-34e20d7c0554\u0022",
            "$sourceId": "floorTwin1702776251",
            "$relationshipName": "contains",
            "$targetId": "roomTwin618677369",
            "isAccessRestricted": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin618677369/relationships?relationshipName=containedIn\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "66fdc147-c8b6-42d2-b41f-8dd2e6b0db94",
        "traceresponse": "00-8e5177d0f936211fe0630e159a368cd4-9ce20f858dfc0e48-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "RoomToFloorRelationship",
            "$etag": "W/\u0022c256950e-9061-4798-8bd8-e22324fb9c35\u0022",
            "$sourceId": "roomTwin618677369",
            "$relationshipName": "containedIn",
            "$targetId": "floorTwin1702776251"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B194092631?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "0037c6e3-5b55-4a26-89f7-40d83046f387",
        "traceresponse": "00-b5c4ae9a7a35ae3cb762caaa0cddcb11-de266b1c1d31c873-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B120547279?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "1e6043c0-a97d-42ef-a557-b1bbbb6c5add",
        "traceresponse": "00-15a59e40d5e8f59903511a2a37c25bec-8f175a8d9743cec1-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B12047906?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "87052de4-85eb-4442-91d6-20e41f6180de",
        "traceresponse": "00-6ff9e8d1b41d398c7a4749856d2a85c1-d0a56a4930e7baad-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1132866408?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "6de20c22-d589-4b25-8c07-2378707614f6",
        "traceresponse": "00-dbe5e68abec663388e01e1138d4aba99-3a9da1f9f893483a-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1382962201"
  }
}
