{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11944617?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "85d4d3de-85d1-459b-a9e9-8d072c838b86",
        "traceresponse": "00-6970b446e6c36e3a85078cab33e71721-4117052457c8d18b-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11944617. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B175358533?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4dfe5f03-33c9-43fc-bfab-e1f044682193",
        "traceresponse": "00-75e88354d184b6b8138ba28d0fc66bff-ac5c57c218f5b62e-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;175358533. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B127132788?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "62e67c1d-24c6-43e2-bb8b-94a0b45b1ad6",
        "traceresponse": "00-230ca6307a79fa5206942be993f07882-6e6410a9700094bc-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;127132788. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin2087921979?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f9c437ae-7780-413d-a5f3-2b289566e5ed",
        "traceresponse": "00-6e369bd7c0462d8e7a0a244e411597b3-f499189069792149-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin2087921979. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1618922552?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "15797946-b70d-45f9-81d0-a8de42eb9838",
        "traceresponse": "00-0d7319f9c752c3ac51cf087007b2adcb-a0ccb5c488479a1d-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1618922552. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1015665358?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a53ad6a5-db4d-4513-ae07-2668a8607fd7",
        "traceresponse": "00-ad9015c90ac489dc43e3b0915b8311e9-441197899d8cee65-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin1015665358. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:floor;11944617\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022,    \u0022displayName\u0022: \u0022Floor\u0022,    \u0022[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "07dbf706-3c45-4525-b4e7-a9175c63c7c0",
        "traceresponse": "00-1149e7b90f2c903bce98ece4d53f66fd-a7eeccf63caa013a-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;180719651",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.0624733\u002B00:00"
          },
          {
            "id": "dtmi:example:room;151014275",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.2279247\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;192203971",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin2087921979?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11944617"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022855956e6-7f1b-4f63-ba18-4a57760c79d9\u0022",
        "mise-correlation-id": "30a8abd1-857a-4b34-9f75-71a953b8f52f",
        "traceresponse": "00-d2c8e7de2fe2524317c3ecca4fedbddd-8de9ac9d323c56d6-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin2087921979",
        "$etag": "W/\u0022855956e6-7f1b-4f63-ba18-4a57760c79d9\u0022",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11944617",
          "$lastUpdateTime": "2023-07-20T18:54:18.9115143Z",
          "AverageTemperature": {
            "lastUpdateTime": "2023-07-20T18:54:18.9115143Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1618922552?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;175358533"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220b586b74-0a46-416b-a29f-3eb27b14f855\u0022",
        "mise-correlation-id": "8979ad8d-335e-4f56-813c-41e29bb8db52",
        "traceresponse": "00-562cd047a504161ad9589ff96fe697d2-5a8dbb99a5dcb3bc-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1618922552",
        "$etag": "W/\u00220b586b74-0a46-416b-a29f-3eb27b14f855\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;175358533",
          "$lastUpdateTime": "2023-07-20T18:54:19.0666670Z",
          "Temperature": {
            "lastUpdateTime": "2023-07-20T18:54:19.0666670Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-07-20T18:54:19.0666670Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-07-20T18:54:19.0666670Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-07-20T18:54:19.0666670Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1015665358?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;127132788"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00223603fd3d-2768-4e99-b855-c702efb00dda\u0022",
        "mise-correlation-id": "8b7766c7-b566-4502-8f7e-e2ebab7a4fd0",
        "traceresponse": "00-8655d0573b6a08b08be20e474b61f687-1095b0d242c718c6-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin1015665358",
        "$etag": "W/\u00223603fd3d-2768-4e99-b855-c702efb00dda\u0022",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;127132788",
          "$lastUpdateTime": "2023-07-20T18:54:19.3103637Z",
          "TargetTemperature": {
            "lastUpdateTime": "2023-07-20T18:54:19.3103637Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2023-07-20T18:54:19.3103637Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin2087921979/relationships/FloorToRoomRelationship?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin1618922552",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002227dea09e-de88-4528-85df-866910fcb942\u0022",
        "mise-correlation-id": "a7c1d5d3-7064-4b20-a9d4-e0c82a502f83",
        "traceresponse": "00-01d71ec84a08d5f833fff61a8bbe34ff-31b630d84c7e9916-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\u002227dea09e-de88-4528-85df-866910fcb942\u0022",
        "$sourceId": "floorTwin2087921979",
        "$relationshipName": "contains",
        "$targetId": "roomTwin1618922552",
        "isAccessRestricted": true
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin2087921979/relationships/FloorToRoomRelationship?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin1618922552",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "55435f09-40ec-44b8-a5c0-7fe73340d530",
        "traceresponse": "00-6de94a13cd20e9a0fa80c1a94f74f232-766003e9275709cb-01",
        "x-ms-error-code": "PreconditionFailed"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "If-None-Match: * header was specified but a relationship with the id FloorToRoomRelationship was found. Please specify a different relationship id."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B127132788?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "76f4cace-b507-4b81-bc7e-d9466abd356a",
        "traceresponse": "00-e4a4d21976bf3907680de5366e0f1201-00643f79638b87e3-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11944617?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "5af266c7-e4e9-456e-91d0-31b0ab3abb20",
        "traceresponse": "00-f23cb4f73fda8b7f0ca6ac19314b7139-5cdd1d861251716e-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B175358533?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "f00f4e07-7b7a-4493-b8b5-c6f97a94738c",
        "traceresponse": "00-178a8882d53b2816c94ee74c314babea-3f70fda28b6eb6c0-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "80155429"
  }
}
