{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B19870503?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5a9a4a45-30fb-46c0-8ace-4ea62bd9997d",
        "traceresponse": "00-abaef1383d481e4385e9f78e25cd0ee1-87dbd0e545ee6dc2-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;19870503. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B147925619?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "15af0509-6aaa-4e9f-9533-41df656582e7",
        "traceresponse": "00-614260b239fe834ba6850d25d7f9e362-2e8174bc54fde8ce-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;147925619. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B183849005?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b1f8b974-23b0-4708-b844-608b68a57704",
        "traceresponse": "00-80972b368b8f6145ab0cbb35522a729c-b889c627f3f21e77-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;183849005. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1017439265?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "176fb3fa-f5d2-49f8-9e60-3b704eee10d0",
        "traceresponse": "00-3a4a8a2c4bfb6e4ea63ea00483c46e2b-6b58330847ffc623-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin1017439265. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin872834999?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d4421b7c-4449-42e1-9835-a999b0784cbd",
        "traceresponse": "00-6ef3cd2dc45a7f4bafba041512a8580a-a1793169efebd91a-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin872834999. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin983549128?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d66a2629-a7d7-40c0-939a-dde62f07291e",
        "traceresponse": "00-0deca483d560244f93b015c8ad18c73d-a6412c7cb7d224ac-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin983549128. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:floor;19870503\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022,    \u0022displayName\u0022: \u0022Floor\u0022,  [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b6c882d0-1093-4bae-b1d3-926ab2e31008",
        "traceresponse": "00-8a87c9cb6794bf489e90ab651a8c74ee-eca708a094a820a7-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;113146068",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-02-15T17:42:08.2255171\u002B00:00"
          },
          {
            "id": "dtmi:example:room;130376293",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-02-15T17:42:08.3082608\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;111396979",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1017439265?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;19870503"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00223b15ab88-193a-4fa3-8e6e-98de275459c5\u0022",
        "mise-correlation-id": "c0f44a7e-6f31-4974-abd6-5f837b53b1b7",
        "traceresponse": "00-9cfdbd945966bc4ba2fbfd367958935c-8c864d9dbaff6123-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin1017439265",
        "$etag": "W/\u00223b15ab88-193a-4fa3-8e6e-98de275459c5\u0022",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;19870503",
          "$lastUpdateTime": "2023-02-15T18:26:30.6121854Z",
          "AverageTemperature": {
            "lastUpdateTime": "2023-02-15T18:26:30.6121854Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin872834999?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;147925619"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022a729d9ac-c63a-4663-bfd6-22206d821dce\u0022",
        "mise-correlation-id": "33bd9e76-5716-46ae-8639-8be01ac16beb",
        "traceresponse": "00-c03e5feb776af140aec3976282258234-9b1b0ba10a691775-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin872834999",
        "$etag": "W/\u0022a729d9ac-c63a-4663-bfd6-22206d821dce\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;147925619",
          "$lastUpdateTime": "2023-02-15T18:26:30.8961352Z",
          "Temperature": {
            "lastUpdateTime": "2023-02-15T18:26:30.8961352Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-02-15T18:26:30.8961352Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-02-15T18:26:30.8961352Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-02-15T18:26:30.8961352Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin983549128?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;183849005"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022ad680621-4842-47d5-a6c2-9cd8d3767952\u0022",
        "mise-correlation-id": "dbce8f9a-aecd-45af-b467-94239e09e026",
        "traceresponse": "00-385a1f21bab6144080cf72d0da78fe2f-7e26a2f1ec5335c5-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin983549128",
        "$etag": "W/\u0022ad680621-4842-47d5-a6c2-9cd8d3767952\u0022",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;183849005",
          "$lastUpdateTime": "2023-02-15T18:26:31.1522134Z",
          "TargetTemperature": {
            "lastUpdateTime": "2023-02-15T18:26:31.1522134Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2023-02-15T18:26:31.1522134Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1017439265/relationships/FloorToRoomRelationship?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin872834999",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002219ce28c6-b407-4d11-beb4-2b7a0a264da4\u0022",
        "mise-correlation-id": "57245911-658c-4a0c-a56c-c7ff50df2faf",
        "traceresponse": "00-93e93f4c65200440b755df256b0d9d0b-99bf7b5ac44c4db9-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\u002219ce28c6-b407-4d11-beb4-2b7a0a264da4\u0022",
        "$sourceId": "floorTwin1017439265",
        "$relationshipName": "contains",
        "$targetId": "roomTwin872834999",
        "isAccessRestricted": true
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1017439265/relationships/FloorToRoomRelationship?api-version=2023-02-27-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch\u002Bjson",
        "If-Match": "W/\u002273efd14e-8d77-435c-8016-0ea4c3a0ca01\u0022"
      },
      "RequestBody": "[{\u0022op\u0022:\u0022replace\u0022,\u0022path\u0022:\u0022/isAccessRestricted\u0022,\u0022value\u0022:true}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022265496a1-13cf-4743-9565-b5bdc9eb50f5\u0022",
        "mise-correlation-id": "fee17805-c40e-4ade-a16a-be04985e6cab",
        "traceresponse": "00-58e43aa0c47eb44bb1e61cc6a3f4a9eb-3fab5b4a5ad549ae-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B19870503?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "2bec49aa-8831-466c-a7b9-e6a71a7df173",
        "traceresponse": "00-2fe73fd5996876468af9416a0a2a13d9-fa92014dd0a067c2-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B147925619?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "1c276903-32b2-4c18-8be5-3c15cfae22c1",
        "traceresponse": "00-558d673395ee7a4e8ad5391ec2e79af5-332250786f0f294a-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B183849005?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "2c5d0f14-ee7d-47d7-937e-34d80333be58",
        "traceresponse": "00-8db99ea263c48b4a979121788661e0e8-ad248652939ff0f9-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "328395231"
  }
}
