{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B13724622?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "43b5f6bf-b23d-4e98-b2f3-e5bbe1f932ff",
        "traceresponse": "00-57d84e61805b05a8daf5c6e8e3fd5732-12dc314549f6474b-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;13724622. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B132934225?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "623ba937-f888-4606-998a-33eb320989e7",
        "traceresponse": "00-922b6a76ade9b8668442514892b52c55-19bab8321015dfa9-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;132934225. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B118794951?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d6362493-d587-4579-bdbd-ad906058c386",
        "traceresponse": "00-c29a8cfe2d304573aef92c643adb481c-c11ad669eb490a38-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;118794951. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin297151537?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "52528ddf-3e4a-4f1c-bb3d-e9a6fde03069",
        "traceresponse": "00-09af0c78dfa8e1d0c451c23671736706-d46306bb1415288e-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin297151537. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1846169735?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e84bac1b-08e9-403f-8d99-6879c18e31b3",
        "traceresponse": "00-23255fdab06b1331955dd479a35d6bf1-d423002203b36380-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1846169735. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:floor;13724622\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022,    \u0022displayName\u0022: \u0022Floor\u0022,    \u0022[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3c0c14da-015d-4259-82cb-a2b460a05728",
        "traceresponse": "00-1be592652f9240ebf3e7f527fa8e5554-6904d4584b47b04b-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;180719651",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.0624733\u002B00:00"
          },
          {
            "id": "dtmi:example:room;151014275",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.2279247\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;192203971",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin297151537?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;13724622"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022cc92ee35-047f-46fc-be4b-d1f9def8cfd2\u0022",
        "mise-correlation-id": "2090570b-e4af-476e-80c4-e20fa46ff473",
        "traceresponse": "00-20e7d491d64c5b6143628fa7b41a4530-f8f7ee7a3c220211-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin297151537",
        "$etag": "W/\u0022cc92ee35-047f-46fc-be4b-d1f9def8cfd2\u0022",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;13724622",
          "$lastUpdateTime": "2023-07-20T18:54:40.0976649Z",
          "AverageTemperature": {
            "lastUpdateTime": "2023-07-20T18:54:40.0976649Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1846169735?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;132934225"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00225244ff69-d1ca-465c-83fe-a90196897414\u0022",
        "mise-correlation-id": "f85c18cc-8d7a-4e15-a214-b01a0fd04c4c",
        "traceresponse": "00-c20afa863d2c596858157f36d64e9a1a-36e94d817857e589-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1846169735",
        "$etag": "W/\u00225244ff69-d1ca-465c-83fe-a90196897414\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;132934225",
          "$lastUpdateTime": "2023-07-20T18:54:40.3117811Z",
          "Temperature": {
            "lastUpdateTime": "2023-07-20T18:54:40.3117811Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-07-20T18:54:40.3117811Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-07-20T18:54:40.3117811Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-07-20T18:54:40.3117811Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin297151537/relationships/FloorToRoomRelationship-0-1274319557?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin1846169735",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00229bd86891-76aa-4c80-b1a1-02b080f1d20a\u0022",
        "mise-correlation-id": "019d8e10-33cc-446c-96c7-74454b6cba85",
        "traceresponse": "00-54fc378c1e76f0ee6409e746edc05ace-ac2b67e4150e6526-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship-0-1274319557",
        "$etag": "W/\u00229bd86891-76aa-4c80-b1a1-02b080f1d20a\u0022",
        "$sourceId": "floorTwin297151537",
        "$relationshipName": "contains",
        "$targetId": "roomTwin1846169735",
        "isAccessRestricted": true
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1846169735/relationships/RoomToFloorRelationship-0-1274319557?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "floorTwin297151537",
        "$sourceId": null,
        "$relationshipName": "containedIn",
        "$etag": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022cd9c1c10-1d5e-4611-b58c-283ec29bee3c\u0022",
        "mise-correlation-id": "61525fc4-0a4f-4317-8ee7-041ed313de62",
        "traceresponse": "00-175f9243463f49c67cd645d9d77dd4db-49ee1c8d8b81bad6-01"
      },
      "ResponseBody": {
        "$relationshipId": "RoomToFloorRelationship-0-1274319557",
        "$etag": "W/\u0022cd9c1c10-1d5e-4611-b58c-283ec29bee3c\u0022",
        "$sourceId": "roomTwin1846169735",
        "$relationshipName": "containedIn",
        "$targetId": "floorTwin297151537"
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin297151537/incomingrelationships?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c05e7f58-2395-4ff7-89aa-5738b8aa33bd",
        "traceresponse": "00-60e6e572d0aecf322fcd2b324b54591d-76d47de5b4050002-01"
      },
      "ResponseBody": {
        "nextLink": "https://importjobgatest.api.neu.pp.azuredigitaltwins-ppe.net/digitaltwins/floorTwin297151537/incomingrelationships?continuationToken=pxvp5MMJ0cbIl%2FT1Xis2881DYexKyGGt5I8r2YPa%2Bz81JOzvUwFavdwlA2tls9ZWsrh2zHmHi5TKtMi4UfgvguL4K1aWYCJrD0b40EfzY7RZdlDicJwthgzH3dvejpV1Y32iqrEcwgKTSPMWZyo8tg%3D%3D\u0026api-version=2023-06-30",
        "value": [
          {
            "$relationshipId": "RoomToFloorRelationship-0-1274319557",
            "$sourceId": "roomTwin1846169735",
            "$relationshi[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin297151537/incomingrelationships?continuationToken=pxvp5MMJ0cbIl%2FT1Xis2881DYexKyGGt5I8r2YPa%2Bz81JOzvUwFavdwlA2tls9ZWsrh2zHmHi5TKtMi4UfgvguL4K1aWYCJrD0b40EfzY7RZdlDicJwthgzH3dvejpV1Y32iqrEcwgKTSPMWZyo8tg%3D%3D\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin297151537/incomingrelationships?continuationToken=pxvp5MMJ0cbIl%2FT1Xis280HJWk6WyhkAAGgPixqhelxpstMPGR2fX8gpZCIOdhOVuoGVP1QSnq067GpChfAWMmid93OpbFYwcCEN55EI68rwtlGafCrg3%2BtyGJHzjB7gP732u2QF2uZ3p3eXIVoorw%3D%3D\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin297151537/incomingrelationships?continuationToken=pxvp5MMJ0cbIl%2FT1Xis287tz65UI%2FwEWiLjQQz6BYyFk6X7ylnC%2FmXpZ%2BxgPmSpEvP80y%2BrooViGLNIUtUdC6y%2BbnVB2xzSMLp38hpCI6GaWTktKARyb3TAAHjIGutavVECwFTvEwz3Ztjh2CNYuMA%3D%3D\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b20b365b-479b-45a0-82b1-05b2b454e6c1",
        "traceresponse": "00-72759b4bb771d671284352f43d421903-b088d847894462a2-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "RoomToFloorRelationship-9-1274319557",
            "$sourceId": "roomTwin1846169735",
            "$relationshipName": "containedIn",
            "$relationshipLink": "https://importjobgatest.api.neu.pp.azuredigitaltwins-ppe.net/digitaltwins/roomTwin1846169735/relationships/RoomToFloorRelationship-9-1274319557?api-version=2023-06-30"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin297151537/relationships?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c9579e20-948d-4d0c-ab1e-a3b47cecae65",
        "traceresponse": "00-b504d57b2b0e0[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin297151537/relationships?continuationToken=pxvp5MMJ0cbIl%2FT1Xis28%2BpDdJoN2cAgStExWl2zeObaK1J2x2s4JGK3BctOSpgTKK8SOBxN1Alq1QUAOyHktqgMhgYxJKyC%2Bj9lKG1C17tc38Q4P%2FVg4H%2BJ6M5zlBCNhdGnHUxRvhSiKu1ch9HHNg%3D%3D\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Re[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin297151537/relationships?continuationToken=pxvp5MMJ0cbIl%2FT1Xis28yGtN4vbgGjubM7VPS1Cc2E%2FRAWzXnkf%2FwY5FvPk9fbS7I6xLjttU935rsfd%2FZ8%2B%2FMCJcos9lwrhB2BEo7MXWKjgJObcE2zal%2FWGruo9%2FCKeMmvjRqMdxaIbl0407u1ChA%3D%3D\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
   [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin297151537/relationships?continuationToken=pxvp5MMJ0cbIl%2FT1Xis28332qQvNcGNBfWTVTgnWvflVWZA3fNlk3XKPBzjww8sfKBLpTs7dXP5eSfAeVOtC8l4kP58Q%2FqyjjN8Vlf6T0f7YlaqcOGO5AxKnK2kJA3%2Bec4tsJXVj6TTzBgNuxHYgzQ%3D%3D\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "477f8f12-c5ce-47bf-a4b7-6d71a7ec7155",
        "traceresponse": "00-ac2f2d70adef71ae7844e75158312bd5-186cf53e1f132f33-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "FloorToRoomRelationship-9-1274319557",
            "$etag": "W/\u0022f5aa50e1-de90-452b-824c-0cb616c54fa6\u0022",
            "$sourceId": "floorTwin297151537",
            "$relationshipName": "contains",
            "$targetId": "roomTwin1846169735",
            "isAccessRestricted": true
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B118794951?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "1eec6c0a-c6e7-465f-be7b-52809434bcc3",
        "traceresponse": "00-ec36bc54672fcc36754d76ae7ec5b19d-6a97f5e471db9b4e-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B13724622?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "fff89aa4-be8f-4336-809c-5a417a8b4fee",
        "traceresponse": "00-07be9826a944466a2b22fb687ce9dea7-7380e4886fed9fea-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B132934225?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "e0273133-a115-4a2f-9160-9fa4a071997d",
        "traceresponse": "00-37fc6c088fde3fa2735e77938f9598d4-68f122b461412e8c-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "2143682427"
  }
}
