{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B13958271?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ac443698-d34f-4fcb-91eb-67fa1f1f2e9c",
        "traceresponse": "00-d9cf54a0e9f3e54c860326ad21773176-c0768675c0b1af02-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;13958271. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B174512913?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9eff66cf-4434-4635-9af0-ba082bfaa602",
        "traceresponse": "00-fcf0fc8d99fa7f489d8e788341df635a-47f6b57866f23cc5-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;174512913. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B110185321?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7f7b2ca3-5bc6-4949-b48a-440fe382312c",
        "traceresponse": "00-1c28078fc914ff4094d296953ffd63f0-3426e4eec7244628-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;110185321. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin395043701?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fafeba31-5255-47e9-93ff-97bcb7e64293",
        "traceresponse": "00-4ff72ac65c28f148a54e8c106468b730-f19df9eea060d411-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin395043701. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin955623528?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0d74268f-b6b2-41e4-b70c-f328450da097",
        "traceresponse": "00-b9b10abe02feb94dadc9fddf24bc7cc6-ff28ed561c5cc8b1-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin955623528. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:floor;13958271\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022,    \u0022displayName\u0022: \u0022Floor\u0022,  [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "88f9a002-d3cc-4427-9fa9-44fdcf705ab4",
        "traceresponse": "00-8538f504df733a44a39902453fa72cdc-a77717eca10f5afa-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;113146068",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-02-15T17:42:08.2255171\u002B00:00"
          },
          {
            "id": "dtmi:example:room;130376293",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-02-15T17:42:08.3082608\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;111396979",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin395043701?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;13958271"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002281aa206d-ca76-4e65-84f8-71b8adbe1800\u0022",
        "mise-correlation-id": "170bb7fd-59c1-4710-9a4f-abddf6476689",
        "traceresponse": "00-f0f183e44d635448a44e4f9c72ad57c3-d7da1869b3e42b14-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin395043701",
        "$etag": "W/\u002281aa206d-ca76-4e65-84f8-71b8adbe1800\u0022",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;13958271",
          "$lastUpdateTime": "2023-02-15T21:29:47.7654960Z",
          "AverageTemperature": {
            "lastUpdateTime": "2023-02-15T21:29:47.7654960Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin955623528?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;174512913"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022c9a0b833-7479-4b20-89d9-478581e25b2e\u0022",
        "mise-correlation-id": "cb9a3269-2345-4f59-ae2a-b29bf57c32b4",
        "traceresponse": "00-d5043f4f120fe749b3dc60bbdb075806-8a8fb2b431235901-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin955623528",
        "$etag": "W/\u0022c9a0b833-7479-4b20-89d9-478581e25b2e\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;174512913",
          "$lastUpdateTime": "2023-02-15T21:29:48.0587911Z",
          "Temperature": {
            "lastUpdateTime": "2023-02-15T21:29:48.0587911Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-02-15T21:29:48.0587911Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-02-15T21:29:48.0587911Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-02-15T21:29:48.0587911Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin395043701/relationships/FloorToRoomRelationship-0-1968594724?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin955623528",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00223b0b671f-15ee-4574-97a6-ee6e77a0b102\u0022",
        "mise-correlation-id": "db9d57ea-7a2a-4c8c-90ea-2a5d941b764c",
        "traceresponse": "00-fd320ceac143b942b73a75078a49ed17-dc191da1156cf8fd-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship-0-1968594724",
        "$etag": "W/\u00223b0b671f-15ee-4574-97a6-ee6e77a0b102\u0022",
        "$sourceId": "floorTwin395043701",
        "$relationshipName": "contains",
        "$targetId": "roomTwin955623528",
        "isAccessRestricted": true
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin955623528/relationships/RoomToFloorRelationship-0-1968594724?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "floorTwin395043701",
        "$sourceId": null,
        "$relationshipName": "containedIn",
        "$etag": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022433da3a2-1eef-4255-a365-dfcf6b8679c9\u0022",
        "mise-correlation-id": "571d983b-2f18-4906-bb3b-6884fc586e4f",
        "traceresponse": "00-2588886153b7b2498085d589bd1a130e-821554dce3f6b164-01"
      },
      "ResponseBody": {
        "$relationshipId": "RoomToFloorRelationship-0-1968594724",
        "$etag": "W/\u0022433da3a2-1eef-4255-a365-dfcf6b8679c9\u0022",
        "$sourceId": "roomTwin955623528",
        "$relationshipName": "containedIn",
        "$targetId": "floorTwin395043701"
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin395043701/incomingrelationships?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c6f8158c-465a-400a-908f-bc43bd8c0264",
        "traceresponse": "00-8d1622914725f54a9418e429881d7eb4-96ade8f46ed0da65-01"
      },
      "ResponseBody": {
        "nextLink": "https://importjobsdktest3.api.neu.pp.azuredigitaltwins-ppe.net/digitaltwins/floorTwin395043701/incomingrelationships?continuationToken=GG8nhDZsCVmMPzcUrPYdhAnL0Yi8%2BDO5Fumik%2FWZIjlWEh2DKKOIYETEBlgAvvjvVjHXCkiO6VPs7h1M7V6h0Q0z7cqk%2Bv16A73huUl0h3Nst4RSoTgGXviZDiKfCCEVwyvSKBtKi4jGha4ExkffoQ%3D%3D\u0026api-version=2023-02-27-preview",
        "value": [
          {
            "$relationshipId": "RoomToFloorRelationship-0-1968594724",
            "$sourceId": "roomTwin955623528",
            "$[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin395043701/incomingrelationships?continuationToken=GG8nhDZsCVmMPzcUrPYdhAnL0Yi8%2BDO5Fumik%2FWZIjlWEh2DKKOIYETEBlgAvvjvVjHXCkiO6VPs7h1M7V6h0Q0z7cqk%2Bv16A73huUl0h3Nst4RSoTgGXviZDiKfCCEVwyvSKBtKi4jGha4ExkffoQ%3D%3D\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 20[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin395043701/incomingrelationships?continuationToken=GG8nhDZsCVmMPzcUrPYdhGey5psTHLY%2FjmtCgzJHSrQ9%2F1M%2B%2BCbgGneqNaJRpvNoYTyHnJhGtPwM%2BMESt4LPFC4Xm6PuuEZyZf94C4RUJ%2B5KHmKr6zQOpjt8%2BvKOfXNkhGoAF%2Bl45gT6tqe3aaUXDA%3D%3D\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Statu[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin395043701/incomingrelationships?continuationToken=GG8nhDZsCVmMPzcUrPYdhD31tJWFv8TeKEiGSPDnFzeoRdguXuLfIRu6gzgQA9791ZBMnIznudhUWiTZJXMau4ZUDxPABVLJXKmwdDBpTADHw%2FvOd2oY2F6SCWI7nT9m9IY%2Bw73YJRP9iFc2byTXeA%3D%3D\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5bdcde9c-5366-4891-9c30-cf5d3f2a8ecf",
        "traceresponse": "00-9a7cb3792242824688de37104b05959f-796201c81aa81b4a-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "RoomToFloorRelationship-9-1968594724",
            "$sourceId": "roomTwin955623528",
            "$relationshipName": "containedIn",
            "$relationshipLink": "https://importjobsdktest3.api.neu.pp.azuredigitaltwins-ppe.net/digitaltwins/roomTwin955623528/relationships/RoomToFloorRelationship-9-1968594724?api-version=2023-02-27-preview"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin395043701/relationships?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "dc4dc149-4726-450a-876e-c121674aa78c",
        "traceresponse": "00-4b280[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin395043701/relationships?continuationToken=GG8nhDZsCVmMPzcUrPYdhDFACLCPQHQWP00SrYdiryhNlbmjONS6zJnDUutCUVBcujcsu0%2B3wAMFEAFx1pX7QhDLB8Oxc7gs%2F6HkXopC660ISo37jl%2FsgwkBC6Z0YmcoFgLqU66%2BRl%2BYRLif69vraw%3D%3D\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
 [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin395043701/relationships?continuationToken=GG8nhDZsCVmMPzcUrPYdhKBPcaRXk%2B3eYt%2FOSELnTZCRwIkp41j2xI8MqXk%2FWFnA2wP%2FeGAksq4GDFXYhbi3v9LSuhFYlkQQKQ9yfgxTsKpJ587oTZt7KVeR4t4jdtbE4oxuO04p6qL8767sPZf%2B0A%3D%3D\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
 [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin395043701/relationships?continuationToken=GG8nhDZsCVmMPzcUrPYdhDZyk%2FRV%2F7f2bFVFt9UtdRRXFyYga0TCdiquAp9Y%2BdHfvZepfYWL3%2Bm5jnd2I8HXtXh1wd3aiosdeTbTpRJO9IQFUXKVcllISXJ9fm%2BlQSIjvn4h3cxdveGKiE63pfEyxw%3D%3D\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5e928d4c-36d5-40f4-ae87-abb2af53184d",
        "traceresponse": "00-44b5e92cafc3f34a8d981f2bbd6bdd21-b78a4a30c974a52b-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "FloorToRoomRelationship-9-1968594724",
            "$etag": "W/\u0022eee3b9c5-73ad-4b95-bbbf-081757a0dcd4\u0022",
            "$sourceId": "floorTwin395043701",
            "$relationshipName": "contains",
            "$targetId": "roomTwin955623528",
            "isAccessRestricted": true
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B110185321?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "545d7ee4-3b59-4ceb-872c-404eee7a7e0f",
        "traceresponse": "00-9dff4ed843778741907dec1be0cd0bc7-54b3cc03ef517aba-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B13958271?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "68b8376f-33f6-47d1-8bd2-9308b85b69c0",
        "traceresponse": "00-29a8398b44e9ab47bc0277065f7d2d43-87062c49ca6c9fbd-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B174512913?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "a3605513-38ae-46a5-aafb-e6aba4e3a0b2",
        "traceresponse": "00-d11086a6e3490346a90226dba20bb786-fd3cca40c8103b2e-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "324109883"
  }
}
