{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11722292?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "98eb9129-feeb-4793-9326-75ede165445a",
        "traceresponse": "00-c0ff3fd20bebc440bc73d36f626ec66a-0b5529b8b2b5e80d-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11722292. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B117047570?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8eb77b46-2933-4880-848a-19422d505d74",
        "traceresponse": "00-8e62ba14a6f25d478af97cfbe6692c0a-f23922a7717c2dec-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;117047570. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B177935720?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4a78f1e3-22eb-4e94-a0f5-98a44689c0b3",
        "traceresponse": "00-a116f05b6cce05479a2e32f2adbd88d3-db65c2cbf8ae0f13-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;177935720. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin297863343?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cbcf3bf3-da5d-4c19-b4fc-add6392204ed",
        "traceresponse": "00-f6622c735d589749a0b43e8f3db90469-e1ed82ed71ddbfdc-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin297863343. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1359959234?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8a94e81d-a693-45fd-a405-3d0145e21d9c",
        "traceresponse": "00-55cacf5b89f56e44a320d77b08a8f5fb-1c47d6e1926bb752-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1359959234. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1630873113?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "66f5a714-7903-424f-8196-ee0edb6c2496",
        "traceresponse": "00-dbbf3d11ff0b3b4e9a430fa2983ace69-ebf333dd0a386857-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin1630873113. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:floor;11722292\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022,    \u0022displayName\u0022: \u0022Floor\u0022,  [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "91485485-7d00-413d-876c-2cd118686d6c",
        "traceresponse": "00-85bee62ce0a2c74ebd5bef0453e84dfe-ec7dee12e79bbd3e-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:Ward;142582203",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-19T23:58:12.9369753\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;177753514",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-19T23:58:12.9483585\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;160994964",
     [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin297863343?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11722292"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022f770b7ef-79a8-4fae-b212-044f8caab877\u0022",
        "mise-correlation-id": "2fd53d4b-806b-4712-9366-b2858c68b8d3",
        "traceresponse": "00-1dcf44e93d093d4ab20e980886df5c2d-085bd70482aa92c5-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin297863343",
        "$etag": "W/\u0022f770b7ef-79a8-4fae-b212-044f8caab877\u0022",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11722292",
          "$lastUpdateTime": "2023-01-24T01:04:28.3570750Z",
          "AverageTemperature": {
            "lastUpdateTime": "2023-01-24T01:04:28.3570750Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1359959234?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;117047570"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022822e201d-b160-41f0-862f-532031b31444\u0022",
        "mise-correlation-id": "bfce4aee-786a-4b58-a4b4-a12610160d87",
        "traceresponse": "00-61a6e16331db3e419b95931b278efc15-38984dc8ffe07d17-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1359959234",
        "$etag": "W/\u0022822e201d-b160-41f0-862f-532031b31444\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;117047570",
          "$lastUpdateTime": "2023-01-24T01:04:28.6491572Z",
          "Temperature": {
            "lastUpdateTime": "2023-01-24T01:04:28.6491572Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-01-24T01:04:28.6491572Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-01-24T01:04:28.6491572Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-01-24T01:04:28.6491572Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1630873113?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;177935720"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00226dedcbc8-69e6-496b-b517-f519d347c2f4\u0022",
        "mise-correlation-id": "4db2413e-c1f9-48d3-9ff9-ac52fce324ec",
        "traceresponse": "00-26169179a0568b4b8a36bfc6be246e65-32672d013af14d66-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin1630873113",
        "$etag": "W/\u00226dedcbc8-69e6-496b-b517-f519d347c2f4\u0022",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;177935720",
          "$lastUpdateTime": "2023-01-24T01:04:28.8668588Z",
          "TargetTemperature": {
            "lastUpdateTime": "2023-01-24T01:04:28.8668588Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2023-01-24T01:04:28.8668588Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin297863343/relationships/FloorToRoomRelationship?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin1359959234",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002280edc381-3dba-4462-8c6a-2f09c8e5931b\u0022",
        "mise-correlation-id": "b695a5c7-eb99-42b9-90d2-9ab248780652",
        "traceresponse": "00-1628a74c11eedc4fa99873599bee804b-fb2df36654fa851d-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\u002280edc381-3dba-4462-8c6a-2f09c8e5931b\u0022",
        "$sourceId": "floorTwin297863343",
        "$relationshipName": "contains",
        "$targetId": "roomTwin1359959234",
        "isAccessRestricted": true
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin297863343/relationships/FloorToRoomRelationship?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin1359959234",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e37f655b-f542-46aa-b903-9f2ecdf70e37",
        "traceresponse": "00-ce8c2910e2ce0a48862a3c1002c92e74-776955519a6af4a8-01"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "If-None-Match: * header was specified but a relationship with the id FloorToRoomRelationship was found. Please specify a different relationship id."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B177935720?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "0e44b3f2-3427-49ed-b266-892f5464236b",
        "traceresponse": "00-ca7b5102edf1e9479e89b7f75a136de4-7c80455b83dff18a-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11722292?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "386d7d66-de19-4eb1-8dfd-ff8e65d4ea79",
        "traceresponse": "00-d89eee98de2a5b42aecbe4b7ba740733-83103bc1f1e08f3c-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B117047570?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "1544115b-4069-404d-a98d-077c6e2acbe2",
        "traceresponse": "00-d5895f7571f6974aacc31f0910909794-d82073b4a3caad3e-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "386660450"
  }
}
