{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B12019596?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d62457bf-8bb8-43d2-85c5-93c17bedcdd6",
        "traceresponse": "00-47fc5cd7073d69cf7dcfe1fba2770856-7438930c9555c657-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;12019596. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B115919548?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "280c5e86-b7e6-43a6-8748-2938544ac275",
        "traceresponse": "00-270d39d09ef3bb05eb91251396cd39b6-c18cd227de09c134-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;115919548. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B121153100?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ea1716a3-12ae-4d2b-b449-210e43ce4b15",
        "traceresponse": "00-c4c3fdb4b94ca44f75c0e649da9fcbc6-b51f980e01da168e-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;121153100. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin390135043?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7525fdc7-e13b-43f5-9bad-5fa9614c488c",
        "traceresponse": "00-d1b205c69a8e2911721c7e9b6a048c38-fb5389cb60d9f12c-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin390135043. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin255975607?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7ae329ec-de57-44f0-9e01-fc503bd3c093",
        "traceresponse": "00-731b35b620bc708bdd7ed1e2f78e7e0b-8839eb8e6f912156-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin255975607. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin2121857388?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9f9b96c1-985d-4ebd-a768-7c5b38e04c91",
        "traceresponse": "00-bf8d04ff347e667972f1dc5f71fdef0e-b1df8e9bbd61185e-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin2121857388. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:floor;12019596\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022,    \u0022displayName\u0022: \u0022Floor\u0022,    \u0022[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8c7680d3-a1ac-4f16-98c6-8554aafef593",
        "traceresponse": "00-ce30ec6192778950744274ccddeddb44-6b2ef577e2f95f99-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:com:microsoft:azure:iot:demomodel900;1",
            "description": {
              "en": "This is the description of model"
            },
            "displayName": {
              "en": "This is the display name"
            },
            "decommissioned": false,
            "uploadTime": "2023-05-18T00:40:07.4729517\u002B00:00"
          },
          {
            "id": "dtmi:com:microsoft:azure:iot:model0;1",
            "description": {
              "en": "This is the description of model"
            },
            "displayName": {
              "en": "This is the display name"
            },
            "decommissioned": false,
            "uploadTime": "2023-05-18T00:50:17.6199536\u002B00:00"
          },
          {
            "id": "dtmi:com:microsoft:azure:iot:model1;[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin390135043?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;12019596"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00221037f388-e265-4601-8f2c-0d3cb885b33f\u0022",
        "mise-correlation-id": "fdeceb52-5da8-46c6-a3e4-bfca774073c2",
        "traceresponse": "00-c5246ec569f99e0cc2c7250e1a2514b4-a6ff87e48807d25d-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin390135043",
        "$etag": "W/\u00221037f388-e265-4601-8f2c-0d3cb885b33f\u0022",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;12019596",
          "$lastUpdateTime": "2023-05-18T23:08:36.9486189Z",
          "AverageTemperature": {
            "lastUpdateTime": "2023-05-18T23:08:36.9486189Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin255975607?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;115919548"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022f2b1adf6-a008-49a9-a3d1-7ba014c8cf92\u0022",
        "mise-correlation-id": "929e074f-d2a9-48ab-a37a-3a93d6f71ab6",
        "traceresponse": "00-a14b5affd97e9b93eeb93d1d4fe5fcb8-61da182d23485908-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin255975607",
        "$etag": "W/\u0022f2b1adf6-a008-49a9-a3d1-7ba014c8cf92\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;115919548",
          "$lastUpdateTime": "2023-05-18T23:08:37.1256191Z",
          "Temperature": {
            "lastUpdateTime": "2023-05-18T23:08:37.1256191Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-05-18T23:08:37.1256191Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-05-18T23:08:37.1256191Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-05-18T23:08:37.1256191Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin2121857388?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;121153100"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00223e3d6514-7934-4f0c-942a-93d978a2701b\u0022",
        "mise-correlation-id": "edd6f087-3e7e-444a-8528-5a12715dabc3",
        "traceresponse": "00-3af7629ebfded6cbe301c027ed64fbbc-03df56df360fd6cc-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin2121857388",
        "$etag": "W/\u00223e3d6514-7934-4f0c-942a-93d978a2701b\u0022",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;121153100",
          "$lastUpdateTime": "2023-05-18T23:08:37.3609153Z",
          "TargetTemperature": {
            "lastUpdateTime": "2023-05-18T23:08:37.3609153Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2023-05-18T23:08:37.3609153Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin390135043/relationships/FloorToRoomRelationship?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin255975607",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00224aae736e-8a56-4e30-8b65-c52b1ef2ad53\u0022",
        "mise-correlation-id": "100592a4-45bc-4a27-87e8-e80013284519",
        "traceresponse": "00-4542d9771c4a6662c82255d67b3a1e54-d930de37b81a6451-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\u00224aae736e-8a56-4e30-8b65-c52b1ef2ad53\u0022",
        "$sourceId": "floorTwin390135043",
        "$relationshipName": "contains",
        "$targetId": "roomTwin255975607",
        "isAccessRestricted": true
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin390135043/relationships/FloorToRoomRelationship?api-version=2023-06-30",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch\u002Bjson",
        "If-Match": "W/\u00224aae736e-8a56-4e30-8b65-c52b1ef2ad53\u0022"
      },
      "RequestBody": "[{\u0022op\u0022:\u0022replace\u0022,\u0022path\u0022:\u0022/isAccessRestricted\u0022,\u0022value\u0022:true}]",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5b6d1ea8-19d6-46cb-b8e3-c3ac9bc363a6",
        "traceresponse": "00-f7c2761adeb14bad378dccb227e46c3a-bc09663fd0f88164-01",
        "x-ms-error-code": "PreconditionFailed"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "The provided etag W/\u00224aae736e-8a56-4e30-8b65-c52b1ef2ad53\u0022 doesn\u0027t match the current etag for the resource. Please obtain and provide the latest etag by getting the resource. See section on get apis in the documentation https://aka.ms/adtv2twins."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B115919548?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "793083c2-77e0-42d3-b0bf-18736595b6c8",
        "traceresponse": "00-5090bee3f242d37a9139e1f8307f1fab-543d4f5712896a53-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B121153100?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "e34fd578-6ee2-433e-a830-c797544586fc",
        "traceresponse": "00-793f4f137cb4d6f99b9fd05c4e18e440-bf130ac9b5effc5a-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B12019596?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "2ef5b978-66af-4942-9417-5b6fc7c80a9b",
        "traceresponse": "00-453ada9c8691050c8a71887c741b4e85-f5a9d241bab0edc0-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin390135043?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "e25b96c6-21c3-4538-a703-84082f9412ad",
        "traceresponse": "00-3db8ea06f976676c0994e43705db9c25-f9431857ff373b36-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "950795859"
  }
}
