{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11950063?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "eb2169aa-9cbb-46c0-aa5d-694927275cf4",
        "traceresponse": "00-dd116f981028df86094ac34a49d3fa2b-c3a74174b4b72898-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11950063. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B182528803?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "14a6a83e-1b69-4406-a201-81ad8296f52f",
        "traceresponse": "00-27d5301c71ed9996ee20cd3cbd6c7eee-4954e70a51a12056-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;182528803. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B133283964?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "250fbe12-70c8-4a72-96da-bbf021a5f10f",
        "traceresponse": "00-754eb3a14903e23b888ea9580e2fd467-73a2a62cb4465787-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;133283964. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin973885884?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0ae78ea2-a9bd-4ed2-9f20-180d59c4c1f7",
        "traceresponse": "00-0a394fc42cb57cc8190298075c76a9b8-7724f63abb7e3f84-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin973885884. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1244729101?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bb6a9cbb-1b16-4e68-b1eb-606e307324ad",
        "traceresponse": "00-cf98db334e7ee33819c8c6d755ffa7cc-47034b525eac92e9-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1244729101. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin793416712?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d089f957-4afe-4b0a-9790-447cbc680367",
        "traceresponse": "00-64eb731389072a3b570ec7eae6972c42-e56a6c841fbbc76e-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin793416712. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \"@id\": \"dtmi:example:floor;11950063\",    \"@type\": \"Interface\",    \"@context\": \"dtmi:dtdl:context;2\",    \"displayName\": \"Floor\",    \"description\": \"A building story.\",    \"contents\": [        {            \"@type\": \"Relationship\",            \"name\": \"contains\",            \"target\": \"dtmi:example:room;182528803\",            \"properties\": [                {                    \"@type\": \"Property\",                    \"name\": \"isAccessRestricted\",                    \"schema\": \"boolean\"                }            ]        },        {            \"@type\": \"Relationship\",            \"name\": \"cooledBy\",            \"target\": \"dtmi:example:hvac;133283964\"        },        {            \"@type\": \"Property\",            \"name\": \"AverageTemperature\",            \"schema\": \"double\"        }    ]},{    \"@id\": \"dtmi:example:room;182528803\",    \"@type\": \"Interface\",    \"displayName\": \"Room\",    \"description\": \"An enclosure inside a building.[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "db4d8a2f-d206-42e1-8786-3860f07879cb",
        "traceresponse": "00-611d9f7e04570c0b659f8cd36a01b834-95c6ee111a85803b-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;119382704",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T14:44:45.4197809+00:00"
          },
          {
            "id": "dtmi:example:room;114026432",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T14:44:45.5534663+00:00"
          },
          {
            "id": "dtmi:example:Ward;111326234",
            "description": {
              "en"[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin973885884?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11950063"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"cfa96600-94f7-4dc5-8c61-e4dd72e93296\"",
        "mise-correlation-id": "654ecb89-32a0-4fc2-92c7-e4fd15f41334",
        "traceresponse": "00-a64ff26e59aecf7dd38593248d359077-cab692a546791e43-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin973885884",
        "$etag": "W/\"cfa96600-94f7-4dc5-8c61-e4dd72e93296\"",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11950063",
          "$lastUpdateTime": "2025-05-02T14:55:39.2712963Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-02T14:55:39.2712963Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1244729101?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;182528803"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"dd356956-70a0-4ec7-8ed9-3f0bbd6a93a5\"",
        "mise-correlation-id": "347bcfc4-6af9-48d3-ac84-99bc5ca7484c",
        "traceresponse": "00-12983bf773df0e3492cd33752ca2bfec-77f4f318d72b7d21-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1244729101",
        "$etag": "W/\"dd356956-70a0-4ec7-8ed9-3f0bbd6a93a5\"",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;182528803",
          "$lastUpdateTime": "2025-05-02T14:55:39.3275892Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-02T14:55:39.3275892Z"
          },
          "Humidity": {
            "lastUpdateTime": "2025-05-02T14:55:39.3275892Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-02T14:55:39.3275892Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2025-05-02T14:55:39.3275892Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin793416712?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;133283964"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"cae5053d-4cee-430a-a7b5-4d332dfde30d\"",
        "mise-correlation-id": "77cad53c-36f0-4884-8017-4d1278aecfc2",
        "traceresponse": "00-0d9db91a93a09f813be6a1868b29807c-686e56a80a3d4bb0-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin793416712",
        "$etag": "W/\"cae5053d-4cee-430a-a7b5-4d332dfde30d\"",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;133283964",
          "$lastUpdateTime": "2025-05-02T14:55:39.3958501Z",
          "TargetTemperature": {
            "lastUpdateTime": "2025-05-02T14:55:39.3958501Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2025-05-02T14:55:39.3958501Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin973885884/relationships/FloorToRoomRelationship?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin1244729101",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"8a462416-a838-4813-ba7e-376978a19a16\"",
        "mise-correlation-id": "37dc10d7-dd1c-4120-9d08-f7ccdc35fe61",
        "traceresponse": "00-dfded78db4705e4f60198b2bd286e8a8-a3d3eb4eea7d68bf-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\"8a462416-a838-4813-ba7e-376978a19a16\"",
        "$sourceId": "floorTwin973885884",
        "$relationshipName": "contains",
        "$targetId": "roomTwin1244729101",
        "isAccessRestricted": true
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin973885884/relationships/FloorToRoomRelationship?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin1244729101",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cf1f555d-c989-4dcc-8268-dc40e9f16453",
        "traceresponse": "00-a0a0c6985e340bc1b99d7497f0dd29a1-d4fd8ad3da6ee58f-01",
        "x-ms-error-code": "PreconditionFailed"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "If-None-Match: * header was specified but a relationship with the id FloorToRoomRelationship was found. Please specify a different relationship id."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B182528803?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "a769d89f-e63c-47ff-9a30-7bd6150598b0",
        "traceresponse": "00-987b44c49c2c3dbbb469e05fb4fd0429-7155b0e32fdbc42d-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B133283964?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "ca2e72a9-edcc-45b0-b396-731670210d6b",
        "traceresponse": "00-4249af8580c7f86ea05a3418371fbc2d-4733388f4aab03f9-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11950063?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "d233f2e6-81b3-40e1-ad3c-e51bbfaa52a9",
        "traceresponse": "00-c341d0f1c05a4e8da6ea23b1fad98396-b86ac59862d7a476-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "225205437"
  }
}
