{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11040402?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "dedea02e-12e5-47df-aa00-5c8813a207c6",
        "traceresponse": "00-0ce70c57c24e63499419139d0271f913-ea03af6c85c10c42-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11040402. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B128873313?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5ea8b444-9823-4eec-93ad-0c437dd96a19",
        "traceresponse": "00-b9c09ee6d54dfb42bb6f2f5ee0683f3f-a5e53c064d42cb4f-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;128873313. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B137001016?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-1370fea59bd0124b917e236613d3f9c7-0f9976dfb61a374d-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;137001016. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin511901179?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-3227080a2ac89f4bb8038b53744d3013-5277e8efc0eb4142-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin511901179. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin188206583?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-b51dba05642b4549afe22efe7d522721-7e30362694fe6240-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin188206583. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1303559012?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-3cc302709b3c7144b41510730b7d2497-d5e6347540410e42-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin1303559012. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:floor;11040402\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022,    \u0022displayName\u0022: \u0022Floor\u0022,    \u0022[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3b47bf22-40b3-4b44-8c5e-b3420c2b36c1",
        "traceresponse": "00-83d4674d67da3e46b8745c9acb61b7da-216e64f765773342-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:Ward;1865639",
            "description": {
              "en": "Aseparatepartitioninabuilding,madeofroomsandhallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-06-10T18:18:31.0669485\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;1393609",
            "description": {
              "en": "Aseparatepartitioninabuilding,madeofroomsandhallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-06-10T18:18:31.0915231\u002B00:00"
          },
          {
            "id": "dtmi:example:Building;1841529",
            "de[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/Models?includeModelDefinition=False\u0026continuationToken=%5B%7B%22token%22%3A%22%2BRID%3A~XOMNALuXjGqyrAAAAAAACg%3D%3D%23RT%3A1%23TRC%3A100%23ISV%3A2%23IEO%3A65551%23QCF%3A8%22,%22range%22%3A%7B%22min%22%3A%2205C1D369B55B2C%22,%22max%22%3A%2205C1D74BA5D368%22%7D%7D%5D\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/Models?includeModelDefinition=False\u0026continuationToken=%5B%7B%22token%22%3A%22%2BRID%3A~XOMNALuXjGoKswAAAAAACg%3D%3D%23RT%3A2%23TRC%3A200%23ISV%3A2%23IEO%3A65551%23QCF%3A8%22,%22range%22%3A%7B%22min%22%3A%2205C1D369B55B2C%22,%22max%22%3A%2205C1D74BA5D368%22%7D%7D%5D\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin511901179?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "$metadata": {
          "$model": "dtmi:example:floor;11040402"
        },
        "AverageTemperature": 75
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002285eb43fc-2e88-4975-91c1-184b20586545\u0022",
        "traceresponse": "00-b42f40e59d79354190094c6af8d2a00e-1ed7af87ce264747-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin511901179",
        "$etag": "W/\u002285eb43fc-2e88-4975-91c1-184b20586545\u0022",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11040402",
          "$lastUpdateTime": "2022-06-10T20:08:15.8518135Z",
          "AverageTemperature": {
            "lastUpdateTime": "2022-06-10T20:08:15.8518135Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin188206583?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "$metadata": {
          "$model": "dtmi:example:room;128873313"
        },
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220d965bbc-d852-4dee-8458-8e7e64b8159b\u0022",
        "traceresponse": "00-4e34fea2f11d9d4f827bfe4f82336733-0eb427773dd7ef42-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin188206583",
        "$etag": "W/\u00220d965bbc-d852-4dee-8458-8e7e64b8159b\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;128873313",
          "$lastUpdateTime": "2022-06-10T20:08:15.9299305Z",
          "Temperature": {
            "lastUpdateTime": "2022-06-10T20:08:15.9299305Z"
          },
          "Humidity": {
            "lastUpdateTime": "2022-06-10T20:08:15.9299305Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-06-10T20:08:15.9299305Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2022-06-10T20:08:15.9299305Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1303559012?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "$metadata": {
          "$model": "dtmi:example:hvac;137001016"
        },
        "TargetTemperature": 80,
        "TargetHumidity": 25
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022b911604a-67e5-4b56-93d9-b9519ba31700\u0022",
        "traceresponse": "00-d6692c42ac32a947b628f5fa51b44f40-adb10c10484ab540-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin1303559012",
        "$etag": "W/\u0022b911604a-67e5-4b56-93d9-b9519ba31700\u0022",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;137001016",
          "$lastUpdateTime": "2022-06-10T20:08:16.0027483Z",
          "TargetTemperature": {
            "lastUpdateTime": "2022-06-10T20:08:16.0027483Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2022-06-10T20:08:16.0027483Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin511901179/relationships/FloorToRoomRelationship?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin188206583",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002276fe64f5-fd81-4bbe-acec-34fac42d3203\u0022",
        "traceresponse": "00-caaa7be4a6b67c4fa8a54dcc9ce5fa6b-3eb3bd84f7483142-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\u002276fe64f5-fd81-4bbe-acec-34fac42d3203\u0022",
        "$sourceId": "floorTwin511901179",
        "$relationshipName": "contains",
        "$targetId": "roomTwin188206583",
        "isAccessRestricted": true
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin511901179/relationships/FloorToHvacRelationship?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "hvacTwin1303559012",
        "$sourceId": null,
        "$relationshipName": "cooledBy",
        "$etag": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002262e249c0-908c-4d15-b4a3-5663d5edd935\u0022",
        "traceresponse": "00-95deb47621895640988652e3de7f806f-ba878d5a0498a34a-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToHvacRelationship",
        "$etag": "W/\u002262e249c0-908c-4d15-b4a3-5663d5edd935\u0022",
        "$sourceId": "floorTwin511901179",
        "$relationshipName": "cooledBy",
        "$targetId": "hvacTwin1303559012"
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1303559012/relationships/HvacToFloorRelationship?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "floorTwin511901179",
        "$sourceId": null,
        "$relationshipName": "cools",
        "$etag": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022135d62ea-bb92-4ed1-8e31-9e68bfc861d7\u0022",
        "traceresponse": "00-881adf98a4b5cb41b000b9d406fb1b1a-9175c7f8c5c02d49-01"
      },
      "ResponseBody": {
        "$relationshipId": "HvacToFloorRelationship",
        "$etag": "W/\u0022135d62ea-bb92-4ed1-8e31-9e68bfc861d7\u0022",
        "$sourceId": "hvacTwin1303559012",
        "$relationshipName": "cools",
        "$targetId": "floorTwin511901179"
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin188206583/relationships/RoomToFloorRelationship?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "floorTwin511901179",
        "$sourceId": null,
        "$relationshipName": "containedIn",
        "$etag": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022ec24dd22-c007-4f8a-b12b-b5c441db2f3f\u0022",
        "traceresponse": "00-a1b2ec6e0acbca459d0edbd63c16cf7b-88068d685c06954d-01"
      },
      "ResponseBody": {
        "$relationshipId": "RoomToFloorRelationship",
        "$etag": "W/\u0022ec24dd22-c007-4f8a-b12b-b5c441db2f3f\u0022",
        "$sourceId": "roomTwin188206583",
        "$relationshipName": "containedIn",
        "$targetId": "floorTwin511901179"
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin511901179/incomingrelationships?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-f58ae3dd12eaa7409a4ce3518a8b68c7-eb4f211325b61c43-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "HvacToFloorRelationship",
            "$sourceId": "hvacTwin1303559012",
            "$relationshipName": "cools",
            "$relationshipLink": "https://seherzigsdktestsadt.api.wcus.digitaltwins.azure.net/digitaltwins/hvacTwin1303559012/relationships/HvacToFloorRelationship?api-version=2022-05-31"
          },
          {
            "$relationshipId": "RoomToFloorRelationship",
            "$sourceId": "roomTwin188206583",
            "$relationshipName": "containedIn",
            "$relationshipLink": "https://seherzigsdktestsadt.api.wcus.digitaltwins.azure.net/digitaltwins/roomTwin188206583/relationships/RoomToFloorRelationship?api-version=2022-05-31"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin511901179/relationships?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-fb724b9172eb154bb1c445c566a015b0-a0faefc8e00c9d47-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "FloorToHvacRelationship",
            "$etag": "W/\u002262e249c0-908c-4d15-b4a3-5663d5edd935\u0022",
            "$sourceId": "floorTwin511901179",
            "$relationshipName": "cooledBy",
            "$targetId": "hvacTwin1303559012"
          },
          {
            "$relationshipId": "FloorToRoomRelationship",
            "$etag": "W/\u002243840433-01f9-4134-b9d0-db9beb7b5a9a\u0022",
            "$sourceId": "floorTwin511901179",
            "$relationshipName": "contains",
            "$targetId": "roomTwin188206583",
            "isAccessRestricted": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin188206583/relationships?relationshipName=containedIn\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-29b0feef5490e04a8781b435e7a200ff-bae0da0d2bdaee42-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "RoomToFloorRelationship",
            "$etag": "W/\u0022ec24dd22-c007-4f8a-b12b-b5c441db2f3f\u0022",
            "$sourceId": "roomTwin188206583",
            "$relationshipName": "containedIn",
            "$targetId": "floorTwin511901179"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B137001016?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "245d7e2e-c056-4f55-995e-7d6365ed9196",
        "traceresponse": "00-e180a928d95c6a47863aeb1669905f97-1100b52f841dc94a-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B128873313?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "3355b6ba-ede4-4f8c-a2b8-e18635e0e07c",
        "traceresponse": "00-d81010aa98002b488963153c55101757-216b7b597ad72a4e-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11040402?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "b3b01698-a2c7-463a-81c9-cdb4f5f38f14",
        "traceresponse": "00-58dad6c3eccbf845bfcbb009e2bdf6bf-d8f8855e315d904b-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1757082038"
  }
}
