{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11922877?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "46d09ca0-0bb5-4160-b7a6-49432be080ee",
        "traceresponse": "00-7f8e6eff344d9345b227fc63b59f277e-a3961182475e9392-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11922877. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B110314247?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3faeddd9-4222-4028-ac51-ae18786e2d1d",
        "traceresponse": "00-248791b316422746a735ddbbb196cb0d-ad27f15e7bbe35f6-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;110314247. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B142810330?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "260a33c0-58ec-4044-bada-5b5379890445",
        "traceresponse": "00-154e18d5007e4f459a819167c8c8639d-6f1c53ab58770354-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;142810330. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1505596263?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5a666a43-9b76-4cb8-a574-3e8f2369dc63",
        "traceresponse": "00-9b337437730fc0428281259fef9fc292-6091c39f834bbf94-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin1505596263. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin211371922?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5c811e65-ff0e-405c-ba98-67439694b168",
        "traceresponse": "00-dbde45b2bbb0a749a1e263d515c6149e-d028cac851440f95-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin211371922. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin247747352?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e6e788a2-1d0c-47db-8f26-e62a1276acbf",
        "traceresponse": "00-5ac842404010844987a8c3c9f59a6678-70e55ac498e84a38-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin247747352. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:floor;11922877\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022,    \u0022displayName\u0022: \u0022Floor\u0022,    \u0022[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5c04c9a2-4177-440b-8943-9564a16d0b65",
        "traceresponse": "00-e67846c004eeaf4dba447d7aa97f5763-9ed6cb87bd14d4c1-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;121402403",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2022-06-29T09:12:41.9553675\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;152687811",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-06-29T09:16:39.2263719\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;131703964",
     [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1505596263?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11922877"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002235334889-1430-4ec2-ba96-542387380d00\u0022",
        "mise-correlation-id": "3153aa21-3e09-417a-a110-9b312285fa5f",
        "traceresponse": "00-0e22d981044dc14592b80fccacf5d661-16ff1a0a3fb38606-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin1505596263",
        "$etag": "W/\u002235334889-1430-4ec2-ba96-542387380d00\u0022",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11922877",
          "$lastUpdateTime": "2022-06-29T09:18:15.5356560Z",
          "AverageTemperature": {
            "lastUpdateTime": "2022-06-29T09:18:15.5356560Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin211371922?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;110314247"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022e3132dfe-b15e-4d1e-8539-091c7de8b654\u0022",
        "mise-correlation-id": "20e78bf3-1609-4d97-95c4-511324b4582b",
        "traceresponse": "00-ab28e5ec2fa77a499f696e698bb072bb-95450a8ebd12dfb0-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin211371922",
        "$etag": "W/\u0022e3132dfe-b15e-4d1e-8539-091c7de8b654\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;110314247",
          "$lastUpdateTime": "2022-06-29T09:18:15.6056474Z",
          "Temperature": {
            "lastUpdateTime": "2022-06-29T09:18:15.6056474Z"
          },
          "Humidity": {
            "lastUpdateTime": "2022-06-29T09:18:15.6056474Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-06-29T09:18:15.6056474Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2022-06-29T09:18:15.6056474Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin247747352?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;142810330"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00226b5a9977-de20-4c23-b710-d5779403bec1\u0022",
        "mise-correlation-id": "dcd31fa5-ffbe-4c3a-90aa-c8b4fd024e1d",
        "traceresponse": "00-85193daa2efdc645b314db22d8092777-f6b9536c9a022649-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin247747352",
        "$etag": "W/\u00226b5a9977-de20-4c23-b710-d5779403bec1\u0022",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;142810330",
          "$lastUpdateTime": "2022-06-29T09:18:15.6909281Z",
          "TargetTemperature": {
            "lastUpdateTime": "2022-06-29T09:18:15.6909281Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2022-06-29T09:18:15.6909281Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1505596263/relationships/FloorToRoomRelationship?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin211371922",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022516ddad2-46be-4667-b24b-9f11b82ec652\u0022",
        "mise-correlation-id": "f42225e2-0ca7-4b67-b789-6c701e5cfdca",
        "traceresponse": "00-c9c8baf38398de4bbb6f3d16140e3a1f-fa52b23441f51129-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\u0022516ddad2-46be-4667-b24b-9f11b82ec652\u0022",
        "$sourceId": "floorTwin1505596263",
        "$relationshipName": "contains",
        "$targetId": "roomTwin211371922",
        "isAccessRestricted": true
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1505596263/relationships/FloorToRoomRelationship?api-version=2022-05-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch\u002Bjson",
        "If-Match": "W/\u002294d3744a-6f22-497d-a1df-5f6539acc367\u0022"
      },
      "RequestBody": "[{\u0022op\u0022:\u0022replace\u0022,\u0022path\u0022:\u0022/isAccessRestricted\u0022,\u0022value\u0022:true}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022bacbacf4-78e9-4734-9c5d-cbfa4c2eeb8c\u0022",
        "mise-correlation-id": "a168f127-975a-4d2d-b1e4-d836b9dbc5a8",
        "traceresponse": "00-55d0c05b7c214545b6b8202c308234cd-f54bb6e56f0956ac-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B142810330?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "bb900d3b-f5a8-4de1-8257-593eba6adacf",
        "traceresponse": "00-40fcaa35d725ad42b8e058e2dcb82eb7-20383e0eac9cd54f-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11922877?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "83ec0acf-e00f-4748-be07-101f96f90233",
        "traceresponse": "00-c93e23fcafad5d45892643c096648c96-47876a81aed1a3d2-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B110314247?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "3cea3254-6d94-45de-a749-2e9fee9095ce",
        "traceresponse": "00-859583e68bcc17449291cb952ef9381d-88ff0b05f257fe73-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1916907933"
  }
}
