{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B12035778?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8a952472-7f7f-4238-8ab0-500619f9bf9a",
        "traceresponse": "00-19de1186eaab414eb6a3a9ec4393d2ef-f51d3cef80217346-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;12035778. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B157765667?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f974f1a6-6074-4de0-b2f6-fa7293fc2725",
        "traceresponse": "00-c98205a6247a304aae0665434d237288-885fe46202f2af4e-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;157765667. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B112755620?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-bd29723b2f7ecd40933e8170cc06a258-cc4b8fd9985a8643-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;112755620. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin83937459?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-ab8b51f97db0884787df1dd90aca473a-9d6f92b094b84b4b-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin83937459. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin80997577?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-9cd8a9199e139a429217a04e7f977dfe-d7e20b8e3899244c-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin80997577. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:floor;12035778\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022,    \u0022displayName\u0022: \u0022Floor\u0022,    \u0022[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c191c208-d9f3-414e-95fe-0cd52c3395bc",
        "traceresponse": "00-3271fa6eca2b5a4faf0d3bdf2905b917-96aaf675c260164e-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:Ward;113089428",
            "description": {
              "en-US": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en-US": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-05-26T01:04:05.1560817\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;115732946",
            "description": {
              "en-US": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en-US": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-05-26T01:04:05.1564508\u002B00:00"
          },
          {
            "id": "dtmi:example:room;116996374",[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin83937459?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "$metadata": {
          "$model": "dtmi:example:floor;12035778"
        },
        "AverageTemperature": 75
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022bfbc232c-c21f-430f-8f9c-1dedb981d1f7\u0022",
        "traceresponse": "00-6ec5529bcca381498d2dcf478423a0fa-7e21bd4a4f374b48-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin83937459",
        "$etag": "W/\u0022bfbc232c-c21f-430f-8f9c-1dedb981d1f7\u0022",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;12035778",
          "$lastUpdateTime": "2022-05-26T01:30:32.5853547Z",
          "AverageTemperature": {
            "lastUpdateTime": "2022-05-26T01:30:32.5853547Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin80997577?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "$metadata": {
          "$model": "dtmi:example:room;157765667"
        },
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00228403ad8f-3ddb-4255-8b2a-404a3e4951c2\u0022",
        "traceresponse": "00-215f2249355c1d4ab4edf749425f5a09-d4ad12e62fc40f47-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin80997577",
        "$etag": "W/\u00228403ad8f-3ddb-4255-8b2a-404a3e4951c2\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;157765667",
          "$lastUpdateTime": "2022-05-26T01:30:32.6512459Z",
          "Temperature": {
            "lastUpdateTime": "2022-05-26T01:30:32.6512459Z"
          },
          "Humidity": {
            "lastUpdateTime": "2022-05-26T01:30:32.6512459Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-05-26T01:30:32.6512459Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2022-05-26T01:30:32.6512459Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin83937459/relationships/FloorToRoomRelationship-0-1683612039?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin80997577",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002238044362-a97e-4cda-a417-9503bdc8e665\u0022",
        "traceresponse": "00-7f32ad35609f114d88c656a3d4aff985-334d9db4959b2c47-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship-0-1683612039",
        "$etag": "W/\u002238044362-a97e-4cda-a417-9503bdc8e665\u0022",
        "$sourceId": "floorTwin83937459",
        "$relationshipName": "contains",
        "$targetId": "roomTwin80997577",
        "isAccessRestricted": true
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin80997577/relationships/RoomToFloorRelationship-0-1683612039?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "floorTwin83937459",
        "$sourceId": null,
        "$relationshipName": "containedIn",
        "$etag": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00225c80e113-0a8c-4431-840a-62514955495b\u0022",
        "traceresponse": "00-455b8c3b17f6274bb1c78c955bcb693c-258f2c0cf4fd4145-01"
      },
      "ResponseBody": {
        "$relationshipId": "RoomToFloorRelationship-0-1683612039",
        "$etag": "W/\u00225c80e113-0a8c-4431-840a-62514955495b\u0022",
        "$sourceId": "roomTwin80997577",
        "$relationshipName": "containedIn",
        "$targetId": "floorTwin83937459"
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin83937459/incomingrelationships?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-6ac26f9947f0664e92cb64b50ebcc302-e7c7af0cea984049-01"
      },
      "ResponseBody": {
        "nextLink": "https://seherzigsdktestsadt.api.wcus.digitaltwins.azure.net/digitaltwins/floorTwin83937459/incomingrelationships?continuationToken=RoomToFloorRelationship-17-1683612039_roomTwin80997577\u0026api-version=2022-05-31",
        "value": [
          {
            "$relationshipId": "RoomToFloorRelationship-0-1683612039",
            "$sourceId": "roomTwin80997577",
            "$relationshipName": "containedIn",
            "$relationshipLink": "https://seherzigsdktestsadt.api.wcus.digitaltwins.azu[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin83937459/incomingrelationships?continuationToken=RoomToFloorRelationship-17-1683612039_roomTwin80997577\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00[...]
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin83937459/relationships?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-fbffeb913633204ebba64404f2d9a962-b45e647df1f69c4c-01"
      },
      "ResponseBody": [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin83937459/relationships?continuationToken=FloorToRoomRelationship-17-1683612039_floorTwin83937459\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-d94724[...]
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin80997577/relationships/RoomToFloorRelationship-18-1683612039?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "13",
        "traceresponse": "00-ce39f49e1d83fc40b9cb752abb0b304a-39f6226b71e8f44a-01"
      },
      "ResponseBody": {
        "error": {
          "twinId": "floorTwin83937459",
          "code": "TooManyRequests",
          "message": "Operation could not be completed as too many requests to this twin have been made. Please check Retry-After header to retry request."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B112755620?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "87ce0f8f-64ba-4c27-aaf8-d8b1598ef237",
        "traceresponse": "00-09634b0f3708ad4b919af9728ff11cb8-c8df80f2afc99c48-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B12035778?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "18cb6f66-ae92-4fe2-8e49-c2204c654a22",
        "traceresponse": "00-03cfd2220721cc4eacd0b0cd4b2e6015-cbfc2792a5e74941-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B157765667?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "ccc06a94-d8a9-4df2-9a18-a2e959409fc6",
        "traceresponse": "00-53fae02ec31be544b513642fa6bc8057-e7548bf2a58ea848-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1155080259"
  }
}
