{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11102979?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1d6f5a45-d902-4b6f-8cb1-37d97d82d1c5",
        "traceresponse": "00-b4b49b69398a112cb1d9b0be2bb5f8f9-9eafaf0464979e58-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11102979. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B116865712?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b442d2ad-8118-4f30-89d3-be5328fb4a05",
        "traceresponse": "00-7e0a7b1c461bb754f94d1533dbdadc06-e8fba0faa8f67457-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;116865712. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B113557592?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "dc2b0400-8d8c-416b-b459-d23eae24dbb2",
        "traceresponse": "00-d7312354313205e1f65d02c84c19503e-0669126f9f516070-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;113557592. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1321744306?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5816e957-943a-475b-a7d2-b2df5441a742",
        "traceresponse": "00-27ab9332bdea5a2fd354e97b57e54d1f-024ab259c3b6409f-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin1321744306. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1686720353?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e8eac7b7-582b-492e-914c-045439259e39",
        "traceresponse": "00-87f2f36afa68dc8b6cecbd8d2471f29f-38c6857354dbe648-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1686720353. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1859110457?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6bb556d3-aef0-4428-b0ef-26c90cc00d18",
        "traceresponse": "00-ab5813aaa41e9bb60dafe71d54bdb53e-cf49b3993739a828-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin1859110457. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \"@id\": \"dtmi:example:floor;11102979\",    \"@type\": \"Interface\",    \"@context\": \"dtmi:dtdl:context;2\",    \"displayName\": \"Floor\",    \"description\": \"A building story.\",    \"contents\": [        {            \"@type\": \"Relationship\",            \"name\": \"contains\",            \"target\": \"dtmi:example:room;116865712\",            \"properties\": [                {                    \"@type\": \"Property\",                    \"name\": \"isAccessRestricted\",                    \"schema\": \"boolean\"                }            ]        },        {            \"@type\": \"Relationship\",            \"name\": \"cooledBy\",            \"target\": \"dtmi:example:hvac;113557592\"        },        {            \"@type\": \"Property\",            \"name\": \"AverageTemperature\",            \"schema\": \"double\"        }    ]},{    \"@id\": \"dtmi:example:room;116865712\",    \"@type\": \"Interface\",    \"displayName\": \"Room\",    \"description\": \"An enclosure inside a building.[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c7f82d5f-8ca2-4fc9-856c-e007b5802028",
        "traceresponse": "00-18ef7d61294ca786497da9c9a3ae3344-e3f46b6c1032a2e9-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;119382704",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T14:44:45.4197809+00:00"
          },
          {
            "id": "dtmi:example:room;114026432",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T14:44:45.5534663+00:00"
          },
          {
            "id": "dtmi:example:Ward;111326234",
            "description": {
              "en"[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1321744306?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11102979"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"ebdedb8f-7c21-4d35-8662-4fcdeed8904a\"",
        "mise-correlation-id": "aad0bb14-f26b-4fa0-9364-f66f5634a9ec",
        "traceresponse": "00-c6efec876086ef25750cc7a82467a7f9-09bfe24a761fc2df-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin1321744306",
        "$etag": "W/\"ebdedb8f-7c21-4d35-8662-4fcdeed8904a\"",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11102979",
          "$lastUpdateTime": "2025-05-02T14:56:45.0079614Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-02T14:56:45.0079614Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1686720353?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;116865712"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"262e3b17-6d06-4973-a2eb-684768bade03\"",
        "mise-correlation-id": "1a05ebf7-39cf-4679-a01d-d5b4e7746d59",
        "traceresponse": "00-15f2c87813af470268057e17d60e74f5-a7f89193264a40d9-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1686720353",
        "$etag": "W/\"262e3b17-6d06-4973-a2eb-684768bade03\"",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;116865712",
          "$lastUpdateTime": "2025-05-02T14:56:45.0905753Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-02T14:56:45.0905753Z"
          },
          "Humidity": {
            "lastUpdateTime": "2025-05-02T14:56:45.0905753Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-02T14:56:45.0905753Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2025-05-02T14:56:45.0905753Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1859110457?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;113557592"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"eac8308d-9c2e-44de-a4cc-5eb75ad76f76\"",
        "mise-correlation-id": "9be94767-9c47-49aa-b1f7-9a27769426a8",
        "traceresponse": "00-409b75ef17e7b566b980b867169cc628-a4ae1de24a0a3862-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin1859110457",
        "$etag": "W/\"eac8308d-9c2e-44de-a4cc-5eb75ad76f76\"",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;113557592",
          "$lastUpdateTime": "2025-05-02T14:56:45.1862569Z",
          "TargetTemperature": {
            "lastUpdateTime": "2025-05-02T14:56:45.1862569Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2025-05-02T14:56:45.1862569Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1321744306/relationships/FloorToRoomRelationship?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin1686720353",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"a889daab-8361-474a-b171-ccc0f7cd31ad\"",
        "mise-correlation-id": "e1331ea5-7249-4f1b-869e-28224f381e0b",
        "traceresponse": "00-f91811c2e1868bf0ba0c7411e542efd8-25c6a60770dffa76-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\"a889daab-8361-474a-b171-ccc0f7cd31ad\"",
        "$sourceId": "floorTwin1321744306",
        "$relationshipName": "contains",
        "$targetId": "roomTwin1686720353",
        "isAccessRestricted": true
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1321744306/relationships/FloorToRoomRelationship?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\":\"replace\",\"path\":\"/isAccessRestricted\",\"value\":false}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"ed53ef11-d220-41c8-9ede-a9607fc6ff2a\"",
        "mise-correlation-id": "244f15e7-843c-4311-af3e-739516774ca8",
        "traceresponse": "00-e4fc81a1b5f0f7927a5ce56f38fc92ad-f7b5c71883eff4d0-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1321744306/relationships/FloorToRoomRelationship?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "W/\"ed53ef11-d220-41c8-9ede-a9607fc6ff2a\""
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "ac1931e5-d96c-408d-a518-d694fec6d87e",
        "traceresponse": "00-0c74df59848e6510fa7dd89d6ece1188-6af008a09cbacaf2-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B113557592?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "2a59d1c8-b4b4-4fd1-8b3f-8feed21db488",
        "traceresponse": "00-30ff9601d2ed3ca191d1ede6eca5ac29-a1d83b57ee9ab8a0-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11102979?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "07f746fe-6fd9-4cdb-8588-19aea27052ef",
        "traceresponse": "00-c47c68bcec85bd8aaa978dd740fed111-28d54ba276cc3d69-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B116865712?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "af4a748b-06b9-4cb5-9942-e87a516fcc0b",
        "traceresponse": "00-c4bc20142ff9a05083a2892954473233-c50245b44829d61f-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "260194539"
  }
}
