{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11965117?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4f29de53-e570-4810-888e-c3d0b6fd546e",
        "traceresponse": "00-8c20e286e9cce747bfb779d489b9f78a-9342b53066fae376-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11965117. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B162267013?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "13663210-7947-473e-8a6d-4edb5c65b2c5",
        "traceresponse": "00-d43f899af68b814a94d896e281a11dde-7f15514202103ccc-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;162267013. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B116371676?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c717a329-d76b-4118-9556-05b162fe7738",
        "traceresponse": "00-772311f81ed6f349ba5e1413fe676aa7-9bedf783b16bf7ed-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;116371676. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1678699399?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "071fade4-825f-4aab-b91a-23a421940fab",
        "traceresponse": "00-5d245c4106b83941ad0d8ade2399f97c-4a40765b31772bcb-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin1678699399. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin310121161?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ec22b8e7-a531-4bfd-94e5-549b4bd9525d",
        "traceresponse": "00-a5f8882e66e67d4c87629b8593fd1868-0cead53b08a3c4e3-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin310121161. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:floor;11965117\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022,    \u0022displayName\u0022: \u0022Floor\u0022,    \u0022[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "80de7821-552c-486c-b142-657e4d03449b",
        "traceresponse": "00-ab238dcb1b6ff44d91ce050ce875fe26-037151fbaffde55f-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;121402403",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2022-06-29T09:12:41.9553675\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;152687811",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-06-29T09:16:39.2263719\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;131703964",
     [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1678699399?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11965117"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022a5735e94-d800-479a-b27d-88b9dabe4d53\u0022",
        "mise-correlation-id": "1126b1c2-017c-432b-9a08-75c120615792",
        "traceresponse": "00-15725c5379e87d46bff80c0d4c3884ea-aaf657f091ecacfb-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin1678699399",
        "$etag": "W/\u0022a5735e94-d800-479a-b27d-88b9dabe4d53\u0022",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11965117",
          "$lastUpdateTime": "2022-06-29T09:17:51.0119132Z",
          "AverageTemperature": {
            "lastUpdateTime": "2022-06-29T09:17:51.0119132Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin310121161?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;162267013"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022b3d929fe-5b75-4d0c-acb8-513f270d2fb3\u0022",
        "mise-correlation-id": "f34d60a8-4d30-42f0-baad-bf7dde207ebf",
        "traceresponse": "00-900bc18237bfb342b1af659640faa237-62f901350ccefe52-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin310121161",
        "$etag": "W/\u0022b3d929fe-5b75-4d0c-acb8-513f270d2fb3\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;162267013",
          "$lastUpdateTime": "2022-06-29T09:17:51.1093282Z",
          "Temperature": {
            "lastUpdateTime": "2022-06-29T09:17:51.1093282Z"
          },
          "Humidity": {
            "lastUpdateTime": "2022-06-29T09:17:51.1093282Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-06-29T09:17:51.1093282Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2022-06-29T09:17:51.1093282Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1678699399/relationships/FloorToRoomRelationship-0-1425571495?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin310121161",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022409af414-36af-40b1-96b4-5848d9d25aff\u0022",
        "mise-correlation-id": "599af4f8-ecde-43f4-a4a5-181a330e5155",
        "traceresponse": "00-6578c519c5b6304190cb96d38f0e2cd5-26bf82192c79bb60-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship-0-1425571495",
        "$etag": "W/\u0022409af414-36af-40b1-96b4-5848d9d25aff\u0022",
        "$sourceId": "floorTwin1678699399",
        "$relationshipName": "contains",
        "$targetId": "roomTwin310121161",
        "isAccessRestricted": true
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin310121161/relationships/RoomToFloorRelationship-0-1425571495?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "floorTwin1678699399",
        "$sourceId": null,
        "$relationshipName": "containedIn",
        "$etag": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022dc7606ea-5d5a-492f-ac53-3469814fb23d\u0022",
        "mise-correlation-id": "7f5ef3e7-d50f-4314-93ea-c68da8f62ec2",
        "traceresponse": "00-db14bf5ca704e3419826a166142c170e-3018f8bd98f5566f-01"
      },
      "ResponseBody": {
        "$relationshipId": "RoomToFloorRelationship-0-1425571495",
        "$etag": "W/\u0022dc7606ea-5d5a-492f-ac53-3469814fb23d\u0022",
        "$sourceId": "roomTwin310121161",
        "$relationshipName": "containedIn",
        "$targetId": "floorTwin1678699399"
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1678699399/incomingrelationships?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "eb4b1536-2d6b-4475-a2da-c142f657c69b",
        "traceresponse": "00-e7ccc63e591c654d8115871b32babbef-ecf8cb7913e50c3e-01"
      },
      "ResponseBody": {
        "nextLink": "https://seherzigsdktestsadt.api.wcus.digitaltwins.azure.net/digitaltwins/floorTwin1678699399/incomingrelationships?continuationToken=RoomToFloorRelationship-17-1425571495_roomTwin310121161\u0026api-version=2022-05-31",
        "value": [
          {
            "$relationshipId": "RoomToFloorRelationship-0-1425571495",
            "$sourceId": "roomTwin310121161",
            "$relationshipName": "containedIn",
            "$relationshipLink": "https://seherzigsdktestsadt.api.wcus.digitaltwins[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1678699399/incomingrelationships?continuationToken=RoomToFloorRelationship-17-1425571495_roomTwin310121161\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation[...]
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1678699399/relationships?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7959689f-3f17-46a4-8360-5688a793aafa",
        "traceresponse": "00-f25da166aa10[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1678699399/relationships?continuationToken=FloorToRoomRelationship-17-1425571495_floorTwin1678699399\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": [...]
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin310121161/relationships/RoomToFloorRelationship-18-1425571495?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2df39660-a614-45c4-8f86-6eed197ae82b",
        "Retry-After": "11",
        "traceresponse": "00-d7e6af1d6e40a3438905ecec21b6e9f0-1243872ca651ec1c-01"
      },
      "ResponseBody": {
        "error": {
          "twinId": "floorTwin1678699399",
          "code": "TooManyRequests",
          "message": "Operation could not be completed as too many requests to this twin have been made. Please check Retry-After header to retry request."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B116371676?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "d06a53bf-6be2-4f71-9306-3eeb170d9e05",
        "traceresponse": "00-358d69d7f0fe964798d4516ad4c80d4b-ccaefe56d0142345-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11965117?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "8ba4e9c8-4bab-4094-9621-3d076796cc8f",
        "traceresponse": "00-4a6d670717a966458dd41e0acb7591a5-6de56ace9e56a0f9-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B162267013?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "02d00312-39e4-44cb-874a-ffe0568f9745",
        "traceresponse": "00-f20d5537c623b047a874fd84aed9e2c1-c410539195f8fedf-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1975115212"
  }
}
