{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/dbaccount-1642/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-8949?api-version=2022-08-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11724"
      },
      "ResponseBody": {
        "id": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/dbaccount-1642/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-8949",
        "name": "dbaccount-8949",
        "location": "West US 2",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "MongoDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "systemData": {
          "createdAt": "2022-09-22T09:56:27.2873574Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "documentEndpoint": "https://dbaccount-8949.documents.azure.com:443/",
          "mongoEndpoint": "https://dbaccount-8949.mongo.cosmos.azure.com:443/",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": true,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "MongoDB",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "FullFidelity"
          },
          "instanceId": "f2e6ab31-9b01-475a-8707-b3b2c84f1de9",
          "databaseAccountOfferType": "Standard",
          "enableCassandraConnector": false,
          "connectorOffer": "Small",
          "defaultIdentity": "FirstPartyIdentity",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "enablePartitionMerge": false,
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxIntervalInSeconds": 1000,
            "maxStalenessPrefix": 300
          },
          "apiProperties": {
            "serverVersion": "3.6"
          },
          "configurationOverrides": {
            "EnableBsonSchema": "True"
          },
          "writeLocations": [
            {
              "id": "dbaccount-8949-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-8949-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "dbaccount-8949-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-8949-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "locations": [
            {
              "id": "dbaccount-8949-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-8949-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "failoverPolicies": [
            {
              "id": "dbaccount-8949-westus",
              "locationName": "West US",
              "failoverPriority": 0
            }
          ],
          "cors": [],
          "capabilities": [
            {
              "name": "EnableMongo"
            }
          ],
          "ipRules": [
            {
              "ipAddressOrRange": "23.43.230.120"
            }
          ],
          "backupPolicy": {
            "type": "Periodic",
            "periodicModeProperties": {
              "backupIntervalInMinutes": 240,
              "backupRetentionIntervalInHours": 8,
              "backupStorageRedundancy": "Geo"
            }
          },
          "networkAclBypassResourceIds": [],
          "keysMetadata": {
            "primaryMasterKey": {
              "generationTime": "2022-09-22T09:56:27.2873574Z"
            },
            "secondaryMasterKey": {
              "generationTime": "2022-09-22T09:56:27.2873574Z"
            },
            "primaryReadonlyMasterKey": {
              "generationTime": "2022-09-22T09:56:27.2873574Z"
            },
            "secondaryReadonlyMasterKey": {
              "generationTime": "2022-09-22T09:56:27.2873574Z"
            }
          }
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/dbaccount-1642/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-8949/privateLinkResources?api-version=2022-08-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11723"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/dbaccount-1642/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-8949/privateLinkResources/MongoDB",
            "name": "MongoDB",
            "type": "Microsoft.DocumentDB/databaseAccounts/privateLinkResources",
            "properties": {
              "groupId": "MongoDB",
              "requiredMembers": [
                "dbaccount-8949-westus",
                "dbaccount-8949"
              ],
              "requiredZoneNames": [
                "privatelink.mongo.cosmos.azure.com"
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/dbaccount-1642/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-8949/privateLinkResources/MongoDB?api-version=2022-08-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11722"
      },
      "ResponseBody": {
        "id": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/dbaccount-1642/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-8949/privateLinkResources/MongoDB",
        "name": "MongoDB",
        "type": "Microsoft.DocumentDB/databaseAccounts/privateLinkResources",
        "properties": {
          "groupId": "MongoDB",
          "requiredMembers": [
            "dbaccount-8949-westus",
            "dbaccount-8949"
          ],
          "requiredZoneNames": [
            "privatelink.mongo.cosmos.azure.com"
          ]
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "234389489",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "12053b8f-cab5-4f5c-9c1a-870580142abd"
  }
}
