{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/hierarchies/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "put": [
          {
            "id": "1163603626",
            "name": "hierarchyMPPoVlpW",
            "source": {
              "instanceFieldNames": [
                "hierarchySourceMkbCAm1y"
              ]
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "put": [
          {
            "hierarchy": {
              "id": "1163603626",
              "name": "hierarchyMPPoVlpW",
              "source": {
                "instanceFieldNames": [
                  "hierarchySourceMkbCAm1y"
                ]
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/hierarchies/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "names": [
            "hierarchyMPPoVlpW"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "hierarchy": {
              "id": "1163603626",
              "name": "hierarchyMPPoVlpW",
              "source": {
                "instanceFieldNames": [
                  "hierarchySourceMkbCAm1y"
                ]
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/hierarchies/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "hierarchyIds": [
            "1163603626"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "hierarchy": {
              "id": "1163603626",
              "name": "hierarchyMPPoVlpW",
              "source": {
                "instanceFieldNames": [
                  "hierarchySourceMkbCAm1y",
                  "hierarchySourcedrKf4Huv"
                ]
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/hierarchies?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "hierarchies": [
          {
            "id": "1163603626",
            "name": "hierarchyMPPoVlpW",
            "source": {
              "instanceFieldNames": [
                "hierarchySourceMkbCAm1y",
                "hierarchySourcedrKf4Huv"
              ]
            }
          },
          {
            "id": "1491416546",
            "name": "hierarchySica2bbz",
            "source": {
              "instanceFieldNames": [
                "hierarchySourceMkbCAm1y",
                "hierarchySourcedrKf4Huv"
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/hierarchies/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "delete": {
          "names": [
            "hierarchyMPPoVlpW",
            "hierarchySica2bbz"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "delete": [
          null,
          null
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1127596620",
    "TIMESERIESINSIGHTS_URL": "fakeHost.api.wus2.timeseriesinsights.azure.com"
  }
}