{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/closedlists",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"subLists\": [\r\n    {\r\n      \"canonicalForm\": \"test\",\r\n      \"list\": []\r\n    }\r\n  ],\r\n  \"name\": \"closed list model\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/closedlists/dc5d0bc7-70e6-4e66-bdf5-6c0925c980cd"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/closedlists/dc5d0bc7-70e6-4e66-bdf5-6c0925c980cd"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"dc5d0bc7-70e6-4e66-bdf5-6c0925c980cd\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/closedlists/dc5d0bc7-70e6-4e66-bdf5-6c0925c980cd/roles",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"simple role\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/closedlists/dc5d0bc7-70e6-4e66-bdf5-6c0925c980cd/roles/1f39fb74-299d-4803-9f5c-22d660db1e40"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/closedlists/dc5d0bc7-70e6-4e66-bdf5-6c0925c980cd/roles/1f39fb74-299d-4803-9f5c-22d660db1e40"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"1f39fb74-299d-4803-9f5c-22d660db1e40\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/closedlists/dc5d0bc7-70e6-4e66-bdf5-6c0925c980cd/roles/1f39fb74-299d-4803-9f5c-22d660db1e40",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"simple role 2\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/closedlists/dc5d0bc7-70e6-4e66-bdf5-6c0925c980cd/roles/1f39fb74-299d-4803-9f5c-22d660db1e40",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"1f39fb74-299d-4803-9f5c-22d660db1e40\",\r\n  \"name\": \"simple role 2\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/741516ba-5148-4f5c-91cc-f25d10d3a22e/versions/0.1/closedlists/dc5d0bc7-70e6-4e66-bdf5-6c0925c980cd",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}