{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Nov 2021 00:03:26 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview, 2021-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Z0ANbT/6DESCqZx57OdwcQ.0",
        "X-Processing-Time": "23ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000d-c5ef-e0b0-e3c7-593a0d0015c1"
        }
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networktraversal/:issueRelayConfiguration?api-version=2021-10-08-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000d-c5ef-e0b0-e3c7-593a0d0015c1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "6KiQh6KqXECsZ/YDFbBeOA.0",
        "X-Processing-Time": "19ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:world.relay.skype.com:3478",
              "turn:world.relay.skype.com:3478"
            ],
            "username": "BQAANrY98eEB19wPCejzxReOSTCJ/xA1u\u002BC63bA7oOIAAAAMARCsgNlqhd5IsZldo6P6NifI6azU5Ckdr/O9diK6ZFT5O\u002B/ictk=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANrY98eEB19wPCejzxReOSTCJ/xA1u\u002BC63bA7oOIAAAAMARCsgNlqhd5IsZldo6P6NifI6azU5Ckdr/O9diK6ZFT5O\u002B/ictk=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2021-11-16T00:03:27.0972861\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1149429717"
  }
}