{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networktraversal/:issueRelayConfiguration?api-version=2021-06-21-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "RzcaZyp8Aky\u002BdZ1NunAm8w.0",
        "X-Processing-Time": "17ms"
      },
      "ResponseBody": {
        "expiresOn": "2021-09-30T20:27:05.0541138\u002B00:00",
        "iceServers": [
          {
            "urls": [
              "stun:world.relay.skype.com:3478",
              "turn:world.relay.skype.com:3478"
            ],
            "username": "BQAANt1XvvYB17fLXn09YQ4mQclimXAMQ5Lg/yh9XDkAAAAMARCsgNlqhd5IsZldo6P6NifIIwHt\u002Bt\u002BAhm68MKxB9k9lI15ZFt4=",
            "credential": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2134524405"
  }
}