{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networktraversal/:issueRelayConfiguration?api-version=2021-06-21-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "xp5GWe/MC06PyzST\u002B9HuLg.0",
        "X-Processing-Time": "191ms"
      },
      "ResponseBody": {
        "expiresOn": "2021-10-15T21:02:05.7146262\u002B00:00",
        "iceServers": [
          {
            "urls": [
              "stun:world.relay.skype.com:3478",
              "turn:world.relay.skype.com:3478"
            ],
            "username": "BQAANj2gn\u002B8B18OapK2Nyk2Nvw5sB35Q6zM2aMeLBRYAAAAMARCsgNlqhd5IsZldo6P6NifIuwhO03TnILtgIdqdxXlBF/2qgSc=",
            "credential": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "535742880"
  }
}