{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networktraversal/:issueRelayConfiguration?api-version=2021-06-21-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 16 Oct 2021 19:44:15 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "O7TnlQuzDE6yeopPElONbg.0",
        "X-Processing-Time": "43ms"
      },
      "ResponseBody": {
        "expiresOn": "2021-10-16T19:44:15.2983383\u002B00:00",
        "iceServers": [
          {
            "urls": [
              "stun:world.relay.skype.com:3478",
              "turn:world.relay.skype.com:3478"
            ],
            "username": "BQAANog/22IB18RYFGkiBszTsqNU1IOEB8tr\u002BSif7MUAAAAMARCsgNlqhd5IsZldo6P6NifIcmTYeBYPbL4H6hbQn4wnk\u002BBpQmA=",
            "credential": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1739440598"
  }
}