{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 16 Oct 2021 19:44:17 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "AVKgb5neFk6VTNBSrIR/UQ.0",
        "X-Processing-Time": "64ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000d-2a83-d2f1-dc46-a63a0d006679"
        }
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networktraversal/:issueRelayConfiguration?api-version=2021-06-21-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 16 Oct 2021 19:44:17 GMT"
      },
      "RequestBody": {
        "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000d-2a83-d2f1-dc46-a63a0d006679"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "2KSO8GB3ekSrJugHCgomgQ.0",
        "X-Processing-Time": "83ms"
      },
      "ResponseBody": {
        "expiresOn": "2021-10-16T19:44:17.3274499\u002B00:00",
        "iceServers": [
          {
            "urls": [
              "stun:world.relay.skype.com:3478",
              "turn:world.relay.skype.com:3478"
            ],
            "username": "BQAANol09HkB18RYve6B4MMM2kSCL8hnbZXviyfl3H0AAAAMARCsgNlqhd5IsZldo6P6NifIH1D9/R2AuHsOGpAYUROxn9coVzg=",
            "credential": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "805148759"
  }
}