{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 08 Feb 2022 19:01:33 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "tfFX/FPt6EuVo1PnA\u002Bug3Q.0",
        "X-Processing-Time": "27ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANp7RbIUB2B6wvQOlwhe\u002BNh7j\u002BWX8uVrfkr\u002BSQJ4AAAAMARCsgNlqhd5IsZldo6P6NifImJ5dVy1EczxZYPRXZM7xOWNcqlM=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANp7RbIUB2B6wvQOlwhe\u002BNh7j\u002BWX8uVrfkr\u002BSQJ4AAAAMARCsgNlqhd5IsZldo6P6NifImJ5dVy1EczxZYPRXZM7xOWNcqlM=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-02-10T19:01:33.5203182\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1756924609"
  }
}
