{
  "Entries": [
    {
      "RequestUri": "https://anpearesource1.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "K\u002BP6PYmqpk2IFa1TF\u002BVhFg.0",
        "X-Processing-Time": "26ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:e1b50ade-1e68-426f-b602-fdda5fda7eb1_0000000a-1822-b051-6a0b-343a0d002f3a"
        }
      }
    },
    {
      "RequestUri": "https://anpearesource1.communication.azure.com/turn/8%3Aacs%3Ae1b50ade-1e68-426f-b602-fdda5fda7eb1_0000000a-1822-b051-6a0b-343a0d002f3a/:issueCredentials?api-version=2021-02-22-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "MaQIfRPBdEGpIOX3VL9zuA.0",
        "X-Processing-Time": "191ms"
      },
      "ResponseBody": {
        "expiresOn": "2021-05-17T02:56:40.0459698\u002B00:00",
        "turnServers": [
          {
            "urls": [
              "turn:worldaz.turn.skype.com:3478"
            ],
            "username": "BQAANpdS4OcB10xaYGDHJ434ioTosQiwsHtDscyKiIcAAAAMARDhtQreHmhCb7YC/dpf2n6x/sEXDFurgkKeD3Z1Sm76cXGI3sY=",
            "credential": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://anpearesource1.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1817727159"
  }
}