{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 07 Feb 2022 22:22:31 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "qrHy2clUA0GDUiAxNn84lw.0",
        "X-Processing-Time": "23ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANoeH4QcB2B4DoLoxjvulNC63SQvEqTASfK0YsHkAAAAMARCsgNlqhd5IsZldo6P6NifI1IhD3tw/lp6rRoMpRB99YGh3JVU=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANoeH4QcB2B4DoLoxjvulNC63SQvEqTASfK0YsHkAAAAMARCsgNlqhd5IsZldo6P6NifI1IhD3tw/lp6rRoMpRB99YGh3JVU=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-02-09T22:22:31.514755\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1441065797"
  }
}
