{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 22 Jun 2021 22:02:20 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "uNjlcvqzC0\u002BHcKvgssGHPg.0",
        "X-Processing-Time": "25ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d5a0-8757-99c6-593a0d00dc35"
        }
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/turn/8%3Aacs%3Aac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d5a0-8757-99c6-593a0d00dc35/:issueCredentials?api-version=2021-02-22-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "g9JuWii3pEW0KatFnQ7Xlg.0",
        "X-Processing-Time": "32ms"
      },
      "ResponseBody": {
        "expiresOn": "2021-06-22T22:02:29.1855661\u002B00:00",
        "turnServers": [
          {
            "urls": [
              "turn:worldaz.turn.skype.com:3478"
            ],
            "username": "BQAANp/hWDUB12lEaw0LQrr926\u002BjeCSVeyQlnpFx0A0AAAAMARCsgNlqhd5IsZldo6P6NifI2PrrGGbuWkmsM0wNKNegzq28ry0=",
            "credential": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1803713406"
  }
}