{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networktraversal/:issueRelayConfiguration?api-version=2021-06-21-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Xqc7U8pKGUmroj0EI/A4rw.0",
        "X-Processing-Time": "18ms"
      },
      "ResponseBody": {
        "expiresOn": "2021-10-12T21:48:29.4124755\u002B00:00",
        "iceServers": [
          {
            "urls": [
              "stun:world.relay.skype.com:3478",
              "turn:world.relay.skype.com:3478"
            ],
            "username": "BQAANjmZxE8B18FFJilb5mv9ry35PbIjDW14162NYeoAAAAMARCsgNlqhd5IsZldo6P6NifI0ra\u002B4HdygrJFXaoT0ziKyHJBHbo=",
            "credential": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2134524405"
  }
}