{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 07 Feb 2022 19:36:05 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "tEuUbzzHMUKBoHWx8IxRmw.0",
        "X-Processing-Time": "25ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANkdTYMYB2B3sv0TsRpIOcAQYxn9i/PFVda8zAPAAAAAMARCsgNlqhd5IsZldo6P6NifIs9\u002B4XB34nL97l7B5WJBWoD2BzBU=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANkdTYMYB2B3sv0TsRpIOcAQYxn9i/PFVda8zAPAAAAAMARCsgNlqhd5IsZldo6P6NifIs9\u002B4XB34nL97l7B5WJBWoD2BzBU=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-02-09T19:36:05.3674077\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1144224589"
  }
}
