{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 07 Feb 2022 22:22:31 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "m6P3BLBFik6KxTv49MB3uA.0",
        "X-Processing-Time": "27ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000f-7629-a905-1000-343a0d00487f"
        }
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 07 Feb 2022 22:22:31 GMT"
      },
      "RequestBody": {
        "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000f-7629-a905-1000-343a0d00487f",
        "routeType": "nearest"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "rscfc6Lr1E\u002BBhl5Cy3DvSw.0",
        "X-Processing-Time": "28ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANodhuz0B2B4DF0t95t3ECbTJOfpO1D5Ab23ZNooAAAAMARCsgNlqhd5IsZldo6P6NifIMtTUSQna/a9EaRLThiZARUhDujo=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-02-09T22:22:31.2552102\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "407725242"
  }
}
