{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 08 Feb 2022 19:01:35 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "NG4DPC1iZEulhuECAh6pBg.0",
        "X-Processing-Time": "24ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANp\u002B\u002BmW4B2B6wlRbArxPmgv7kkugw1wqsApRYhwYAAAAMARCsgNlqhd5IsZldo6P6NifIjddtqsKgMV7FZqjk8DYOyk/1R\u002Bs=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANp\u002B\u002BmW4B2B6wlRbArxPmgv7kkugw1wqsApRYhwYAAAAMARCsgNlqhd5IsZldo6P6NifIjddtqsKgMV7FZqjk8DYOyk/1R\u002Bs=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-02-10T19:01:35.0669368\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "792202107"
  }
}
