{
  "Entries": [
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-e02a717a-e891-52fc-0543-a1e6e9b1d5b1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D46A7676104F\u0022",
        "Last-Modified": "Mon, 10 Jan 2022 18:53:16 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-e02a717a-e891-52fc-0543-a1e6e9b1d5b1/test-blob-44e5f517-1f4e-7b9d-1d98-8236d42baf75",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9D46A7684408C\u0022",
        "Last-Modified": "Mon, 10 Jan 2022 18:53:16 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2022-01-10T18:53:16.9636492Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": "\uFEFF\u003CKeyInfo\u003E\u003CExpiry\u003E2022-01-10T19:53:17Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2022-01-10T18:53:17Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2022-01-10T19:53:17Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-08-04\u003C/SignedVersion\u003E\u003CValue\u003EKSWjsR7MgsdC\u002BjDdChyPR/S9njjrR5wQQMRN\u002BQYOObQ=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-e02a717a-e891-52fc-0543-a1e6e9b1d5b1?restype=container\u0026comp=list\u0026prefix=test-blob-44e5f517-1f4e-7b9d-1d98-8236d42baf75\u0026skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2022-01-10T18%3A53%3A17Z\u0026ske=2022-01-10T19%3A53%3A17Z\u0026sks=b\u0026skv=2020-08-04\u0026sv=2021-02-12\u0026se=2022-01-10T19%3A53%3A17Z\u0026sr=c\u0026sp=racwdxlti\u0026sig[...]
    {
      "RequestUri": "https://seanoauthcanary.blob.core.windows.net/test-container-e02a717a-e891-52fc-0543-a1e6e9b1d5b1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-01-10T10:53:17.0162400-08:00",
    "RandomSeed": "1402831583",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanoauthcanary\nU2FuaXRpemVk\nhttps://seanoauthcanary.blob.core.windows.net\nhttps://seanoauthcanary.file.core.windows.net\nhttps://seanoauthcanary.queue.core.windows.net\nhttps://seanoauthcanary.table.core.windows.net\n\n\n\n\nhttps://seanoauthcanary-secondary.blob.core.windows.net\nhttps://seanoauthcanary-secondary.file.core.windows.net\nhttps://seanoauthcanary-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthcanary.blob.core.windows.net/;QueueEndpoint=https://seanoauthcanary.queue.core.windows.net/;FileEndpoint=https://seanoauthcanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthcanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthcanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthcanary-secondary.file.core.windows.net/;AccountName=seanoauthcanary;AccountKey=Sanitized\n\n\n"
  }
}