{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-28221e76-0636-b6c1-a11b-450ee986f326?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 Jan 2022 07:52:55 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DA57898E5706\u0022",
        "Last-Modified": "Tue, 18 Jan 2022 07:52:55 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-28221e76-0636-b6c1-a11b-450ee986f326/test-directory-dac0f199-d5bb-4529-f855-7b1dcd110420/test-blob-72c1abf5-4a61-f90e-814e-06e8e5d6a8d0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 Jan 2022 07:52:55 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": "jq8VwcBL3ndN36/DSot5BCMqWXgaGChP4sdZbM9AYCKsqo4e\u002B0Ngqs1KJIGaS6711AHFu30wtnaGxt758XGoDX\u002BNFqD8Wgngya\u002Br0POmtZcYY5fNeqSlfPQYlzVkZ7hcohcCDDQO\u002BXn45fHNheWC4BBG4I7Z2pLa6Jqs5MLTe2L2Ti7co6hjCmoe1ZWy1/YOlbckHoYqgsiFKCSZYRS2JGqP1za3pj1o49YjuwT8JxCjnk4Lrl3cy8xmVnuEyahWZ7ErI//AVu96vDqwBsfDiAAT9cPFq3UMswtqUU/B4xotzVRT0QMR40dfkfIiK8UEos57cdPlkLw7HnD0VgSfuNkg[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-28221e76-0636-b6c1-a11b-450ee986f326/test-directory-dac0f199-d5bb-4529-f855-7b1dcd110420/test-blob-72c1abf5-4a61-f90e-814e-06e8e5d6a8d0?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "x-ms-date": "Tue, 18 Jan 2022 07:52:55 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-28221e76-0636-b6c1-a11b-450ee986f326/test-directory-dac0f199-d5bb-4529-f855-7b1dcd110420/test-blob-72c1abf5-4a61-f90e-814e-06e8e5d6a8d0?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-date": "Tue, 18 Jan 2022 07:52:55 GMT",
        "x-ms-rehydrate-priority": "High",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-28221e76-0636-b6c1-a11b-450ee986f326?restype=container\u0026comp=list\u0026prefix=test-directory-dac0f199-d5bb-4529-f855-7b1dcd110420",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Jan 2022 07:52:55 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      [...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-28221e76-0636-b6c1-a11b-450ee986f326?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Jan 2022 07:52:55 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1067870444",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}