{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-af35398e-1c0c-efd1-765b-1a6396da61c5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 10 Jan 2022 18:53:27 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D46A7D1C946D\u0022",
        "Last-Modified": "Mon, 10 Jan 2022 18:53:28 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-af35398e-1c0c-efd1-765b-1a6396da61c5/test-directory-ac43f53e-3b37-0e09-b195-656fa2ea5502/test-blob-e89263e2-bf11-a663-9fc3-13c19353fcdc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 10 Jan 2022 18:53:28 GMT",
        "x-ms-tags": "tagKey0=tagValue0\u0026tagKey1=tagValue1",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D46A7D2A00DF\u0022",
        "Last-Modified": "Mon, 10 Jan 2022 18:53:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2022-01-10T18:53:28.1162463Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-af35398e-1c0c-efd1-765b-1a6396da61c5?restype=container\u0026comp=list\u0026prefix=test-directory-ac43f53e-3b37-0e09-b195-656fa2ea5502\u0026include=Tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 10 Jan 2022 18:53:28 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://amandacanary.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-af35398e-1c0c-efd1-765b-1a6396da61c5\u0022\u003E\u003CPrefix\u003Etest-directory-ac43f53e-3b37-0e09-b195-656fa2ea5502\u003C/Prefix\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Etest-directory-ac43f[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-af35398e-1c0c-efd1-765b-1a6396da61c5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 10 Jan 2022 18:53:28 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "102214824",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}