{
  "Entries": [
    {
      "RequestUri": "/subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourcegroups/OI-Default-East-US/providers/Microsoft.OperationalInsights/workspaces/rasha/search?api-version=2015-03-20",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"top\": 25,\r\n  \"query\": \"*\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourceGroups/OI-Default-East-US/providers/Microsoft.OperationalInsights/workspaces/rasha/search/6b3ab1f5-640f-403a-9351-ac03bca7e29d\",\r\n  \"__metadata\": {\r\n    \"resultType\": \"raw\",\r\n    \"total\": 49796124,\r\n    \"top\": 25,\r\n    \"RequestId\": \"6b3ab1f5-640f-403a-9351-ac03bca7e29d\",\r\n    \"CoreResponses\": [],\r\n    \"CoreSummaries\": [\r\n      {\r\n        \"Status\": \"Pending\",\r\n        \"NumberOfDocuments\": 211176680\r\n      }\r\n    ],\r\n    \"Status\": \"Pending\",\r\n    \"NumberOfDocuments\": 211176680,\r\n    \"StartTime\": \"2015-12-18T19:09:52.0789777Z\",\r\n    \"LastUpdated\": \"2015-12-18T19:09:52.6102371Z\",\r\n    \"ETag\": \"635860625926102371\",\r\n    \"sort\": [\r\n      {\r\n        \"name\": \"TimeGenerated\",\r\n        \"order\": \"desc\"\r\n      }\r\n    ],\r\n    \"requestTime\": 855\r\n  },\r\n  \"value\": [\r\n    {\r\n      \"Computer\": \"OMPERFSRV92.redmond.corp.microsoft.com\",\r\n      \"MG\": \"00000000-0000-0000-0000-000000000001\",\r\n      \"ManagementGroupName\": \"AOI-54bd7c21-cc2a-40fb-898f-ffd15604043e\",\r\n      \"SourceSystem\": \"OpsManager\",\r\n      \"TimeGenerated\": \"2015-12-18T19:06:24.28Z\",\r\n      \"SessionStartTime\": \"2015-12-18T13:08:19Z\",\r\n      \"SessionEndTime\": \"2015-12-18T19:06:10Z\",\r\n      \"LocalIP\": \"10.177.104.13\",\r\n      \"LocalSubnet\": \"10.177.104.0/23\",\r\n      \"LocalMAC\": \"78-e3-b5-08-7b-ba\",\r\n      \"LocalPortNumber\": 0,\r\n      \"RemoteIP\": \"157.59.234.11\",\r\n      \"RemoteMAC\": \"e8-65-49-cd-41-c1\",\r\n      \"RemotePortNumber\": 0,\r\n      \"SessionID\": \"10.177.104.13_0_157.59.234.11_0_9213_2015-12-18T13:08:19.000Z\",\r\n      \"SentBytes\": 0,\r\n      \"ReceivedBytes\": 120,\r\n      \"TotalBytes\": 120,\r\n      \"ProtocolName\": \"ICMP\",\r\n      \"SentPackets\": 0,\r\n      \"ReceivedPackets\": 4,\r\n      \"ProcessID\": 0,\r\n      \"ProcessName\": \"Idle\",\r\n      \"LatencyMilliseconds\": 6,\r\n      \"LatencySamplingTimeStamp\": \"2015-12-18T11:06:08Z\",\r\n      \"LatencySamplingFailureRate\": \"0.0%\",\r\n      \"id\": \"24837d7b-479a-b005-0d05-bbaf7ce304d4\",\r\n      \"Type\": \"WireData\",\r\n      \"Direction\": \"Unknown\",\r\n      \"SequenceNumber\": 71,\r\n      \"SessionState\": \"Unknown\",\r\n      \"IPVersion\": \"IPv4\",\r\n      \"ApplicationProtocol\": \"Unknown\",\r\n      \"ApplicationServiceName\": \"N/A\",\r\n      \"ProcessExe_CF\": \"Idle\",\r\n      \"__metadata\": {\r\n        \"Type\": \"WireData\",\r\n        \"TimeGenerated\": \"2015-12-18T19:06:24.28Z\"\r\n      }\r\n    },\r\n    {\r\n      \"Computer\": \"OMPERFSRV92.redmond.corp.microsoft.com\",\r\n      \"MG\": \"00000000-0000-0000-0000-000000000001\",\r\n      \"ManagementGroupName\": \"AOI-54bd7c21-cc2a-40fb-898f-ffd15604043e\",\r\n      \"SourceSystem\": \"OpsManager\",\r\n      \"TimeGenerated\": \"2015-12-18T19:06:24.28Z\",\r\n      \"SessionStartTime\": \"[...]
    {
      "RequestUri": "/subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourcegroups/OI-Default-East-US/providers/Microsoft.OperationalInsights/workspaces/rasha/search/6b3ab1f5-640f-403a-9351-ac03bca7e29d?api-version=2015-03-20",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourceGroups/OI-Default-East-US/providers/Microsoft.OperationalInsights/workspaces/rasha/search/6b3ab1f5-640f-403a-9351-ac03bca7e29d\",\r\n  \"__metadata\": {\r\n    \"resultType\": \"raw\",\r\n    \"total\": 49796124,\r\n    \"top\": 25,\r\n    \"partialResults\": true,\r\n    \"RequestId\": \"6b3ab1f5-640f-403a-9351-ac03bca7e29d\",\r\n    \"CoreResponses\": [],\r\n    \"CoreSummaries\": [\r\n      {\r\n        \"Status\": \"Pending\",\r\n        \"NumberOfDocuments\": 185821085\r\n      },\r\n      {\r\n        \"Status\": \"Error\",\r\n        \"NumberOfDocuments\": 25355595\r\n      }\r\n    ],\r\n    \"Status\": \"Pending\",\r\n    \"NumberOfDocuments\": 211176680,\r\n    \"StartTime\": \"2015-12-18T19:09:52.0789777Z\",\r\n    \"LastUpdated\": \"2015[...]
