{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-4482?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4482",
        "name": "testRG-4482",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4482/providers/Microsoft.StreamAnalytics/clusters/testCluser-4379?api-version=2020-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Default",
          "capacity": 36
        },
        "properties": {},
        "tags": {},
        "location": "westus"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4482/providers/Microsoft.StreamAnalytics/clusters/testCluser-4379/OperationResults/0637973280000000000.bd5452e0-1af4-4c76-93af-52e76a9868b3?api-version=2020-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "61235b72-254e-464c-8703-8cfc17fa9274",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4482/providers/Microsoft.StreamAnalytics/clusters/testCluser-4379",
        "name": "testCluser-4379",
        "type": "Microsoft.StreamAnalytics/clusters",
        "location": "West US",
        "tags": {},
        "properties": {
          "createdDate": "2022-08-29T02:05:10.843Z",
          "clusterId": "f6eea389-b40a-4ec8-aab9-e6c47cb73ed7",
          "provisioningState": "InProgress",
          "capacityAllocated": 0,
          "capacityAssigned": 0
        },
        "sku": {
          "name": "Default",
          "capacity": 36
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4482/providers/Microsoft.StreamAnalytics/clusters/testCluser-4379/OperationResults/0637973280000000000.bd5452e0-1af4-4c76-93af-52e76a9868b3?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "status": "InProgress",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4482/providers/Microsoft.StreamAnalytics/clusters/testCluser-4379/privateEndpoints/testCluser-4379?api-version=2020-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "manualPrivateLinkServiceConnections": [
            {
              "properties": {
                "privateLinkServiceId": "/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourceGroups/sjrg5830/providers/Microsoft.EventHub/namespaces/testeventhub4asacluster",
                "groupIds": [
                  "namespace"
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "254c25f3-a74a-4e3b-914d-741596f40121",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4482/providers/Microsoft.StreamAnalytics/clusters/testCluser-4379/privateEndpoints/testCluser-4379",
        "name": "testCluser-4379",
        "type": "Microsoft.StreamAnalytics/clusters/privateEndpoints",
        "properties": {
          "createdDate": "2022-08-29T02:49:27.443Z",
          "manualPrivateLinkServiceConnections": [
            {
              "properties": {
                "privateLinkServiceConnectionState": {
                  "status": "PendingCreation",
                  "description": null,
                  "actionsRequired": null
                },
                "privateLinkServiceId": "/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourceGroups/sjrg5830/providers/Microsoft.EventHub/namespaces/testeventhub4asacluster",
                "groupIds": [
                  "namespace"
                ],
                "requestMessage": "This request originated from a Stream Analytics cluster named testCluser-4379"
              }
            }
          ]
        },
        "etag": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4482/providers/Microsoft.StreamAnalytics/clusters/testCluser-4379/privateEndpoints/testCluser-4379?api-version=2020-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4482/providers/Microsoft.StreamAnalytics/clusters/testCluser-4379/privateEndpoints/testCluser-4379/OperationResults/0637973280000000000.29fac926-2036-4777-8aaf-f102b57c38ae?api-version=2020-03-01-preview",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4482/providers/Microsoft.StreamAnalytics/clusters/testCluser-4379/privateEndpoints/testCluser-4379/OperationResults/0637973280000000000.29fac926-2036-4777-8aaf-f102b57c38ae?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4482/providers/Microsoft.StreamAnalytics/clusters/testCluser-4379/privateEndpoints/testCluser-4379/OperationResults/0637973280000000000.29fac926-2036-4777-8aaf-f102b57c38ae?api-version=2020-03-01-preview",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4482/providers/Microsoft.StreamAnalytics/clusters/testCluser-4379/privateEndpoints/testCluser-4379/OperationResults/0637973280000000000.29fac926-2036-4777-8aaf-f102b57c38ae?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "status": "InProgress",
        "error": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1674053350",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
