{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/015e4827-ea09-9d5a-b0c1-36144699475c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "SubscriptionNotFound",
          "message": "The subscription \u0027015e4827-ea09-9d5a-b0c1-36144699475c\u0027 could not be found."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1448691196",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "ab716eee-96d3-4021-9fa7-1b01da5de034"
  }
}
