{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11935"
      },
      "ResponseBody": {
        "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "ab716eee-96d3-4021-9fa7-1b01da5de034",
        "tenantId": "6d1de6b2-88b7-42b6-9b3e-89a4351d16b4",
        "displayName": "Visual Studio Professional \u8BA2\u9605",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/providers/Microsoft.Fake?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway",
        "x-ms-ratelimit-remaining-subscription-reads": "11934"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidResourceNamespace",
          "message": "The resource namespace \u0027Microsoft.Fake\u0027 is invalid."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1789075368",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "ab716eee-96d3-4021-9fa7-1b01da5de034"
  }
}
