{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-7818?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-7818",
        "name": "testRg-7818",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-7818/providers/Microsoft.DeviceUpdate/accounts/Account-1162?api-version=2020-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-03-01-preview, 2021-11-02-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/d8b91a09-3572-49db-9a40-ea57d89882f0*18B6BEF7F90AA7A9C415C9A1C25FA28A3499147D02FD08FC666048374A2D552E?api-version=2020-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223200eb76-0000-0800-0000-619219f30000\u0022",
        "x-ms-async-operation-timeout": "PT15M",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-7818/providers/Microsoft.DeviceUpdate/accounts/Account-1162",
        "name": "Account-1162",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "systemData": {
          "createdBy": "814cdb39-82c4-4a9a-b57d-82a22becc8f7",
          "createdByType": "Application",
          "createdAt": "2021-11-15T08:27:29.7039887Z",
          "lastModifiedBy": "814cdb39-82c4-4a9a-b57d-82a22becc8f7",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-11-15T08:27:29.7039887Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "hostName": "account-1162.api.adu.microsoft.com"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/d8b91a09-3572-49db-9a40-ea57d89882f0*18B6BEF7F90AA7A9C415C9A1C25FA28A3499147D02FD08FC666048374A2D552E?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222c00e26f-0000-0800-0000-619219f30000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/d8b91a09-3572-49db-9a40-ea57d89882f0*18B6BEF7F90AA7A9C415C9A1C25FA28A3499147D02FD08FC666048374A2D552E",
        "name": "d8b91a09-3572-49db-9a40-ea57d89882f0*18B6BEF7F90AA7A9C415C9A1C25FA28A3499147D02FD08FC666048374A2D552E",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-7818/providers/Microsoft.DeviceUpdate/accounts/Account-1162",
        "status": "Accepted",
        "startTime": "2021-11-15T08:27:31.5179279Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/d8b91a09-3572-49db-9a40-ea57d89882f0*18B6BEF7F90AA7A9C415C9A1C25FA28A3499147D02FD08FC666048374A2D552E?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222c00a470-0000-0800-0000-61921a0e0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11979"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/d8b91a09-3572-49db-9a40-ea57d89882f0*18B6BEF7F90AA7A9C415C9A1C25FA28A3499147D02FD08FC666048374A2D552E",
        "name": "d8b91a09-3572-49db-9a40-ea57d89882f0*18B6BEF7F90AA7A9C415C9A1C25FA28A3499147D02FD08FC666048374A2D552E",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-7818/providers/Microsoft.DeviceUpdate/accounts/Account-1162",
        "status": "Succeeded",
        "startTime": "2021-11-15T08:27:31.5179279Z",
        "endTime": "2021-11-15T08:27:58.0068072Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-7818/providers/Microsoft.DeviceUpdate/accounts/Account-1162?api-version=2020-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/0f1d425a-4a73-4ea5-ab2b-1f1134ee8da9*18B6BEF7F90AA7A9C415C9A1C25FA28A3499147D02FD08FC666048374A2D552E?api-version=2020-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002232007677-0000-0800-0000-61921a100000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/0f1d425a-4a73-4ea5-ab2b-1f1134ee8da9*18B6BEF7F90AA7A9C415C9A1C25FA28A3499147D02FD08FC666048374A2D552E?api-version=2020-03-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-7818/providers/Microsoft.DeviceUpdate/accounts/Account-1162?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-failure-cause": "gateway",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource \u0027Microsoft.DeviceUpdate/accounts/Account-1162\u0027 could not be found."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "516214849",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}