{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-127?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-127",
        "name": "testRg-127",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-127/providers/Microsoft.DeviceUpdate/accounts/Account-3157?api-version=2020-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-03-01-preview, 2021-11-02-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/852990a7-88fb-4574-a4c1-b6a09f7bbadd*ECAD51005D813A90526808B186AC60FE02058E37A3E83FD5360523173B103793?api-version=2020-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222900b790-0000-0800-0000-61e8f51f0000\u0022",
        "x-ms-async-operation-timeout": "PT15M",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-127/providers/Microsoft.DeviceUpdate/accounts/Account-3157",
        "name": "Account-3157",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "systemData": {
          "createdBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "createdByType": "Application",
          "createdAt": "2022-01-20T05:37:33.0718968Z",
          "lastModifiedBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-01-20T05:37:33.0718968Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "hostName": "account-3157.api.adu.microsoft.com",
          "publicNetworkAccess": "Enabled"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/852990a7-88fb-4574-a4c1-b6a09f7bbadd*ECAD51005D813A90526808B186AC60FE02058E37A3E83FD5360523173B103793?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002207009ce3-0000-0800-0000-61e8f51f0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/852990a7-88fb-4574-a4c1-b6a09f7bbadd*ECAD51005D813A90526808B186AC60FE02058E37A3E83FD5360523173B103793",
        "name": "852990a7-88fb-4574-a4c1-b6a09f7bbadd*ECAD51005D813A90526808B186AC60FE02058E37A3E83FD5360523173B103793",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-127/providers/Microsoft.DeviceUpdate/accounts/Account-3157",
        "status": "Accepted",
        "startTime": "2022-01-20T05:37:35.1325802Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/852990a7-88fb-4574-a4c1-b6a09f7bbadd*ECAD51005D813A90526808B186AC60FE02058E37A3E83FD5360523173B103793?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002207009fe3-0000-0800-0000-61e8f53b0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11893"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/852990a7-88fb-4574-a4c1-b6a09f7bbadd*ECAD51005D813A90526808B186AC60FE02058E37A3E83FD5360523173B103793",
        "name": "852990a7-88fb-4574-a4c1-b6a09f7bbadd*ECAD51005D813A90526808B186AC60FE02058E37A3E83FD5360523173B103793",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-127/providers/Microsoft.DeviceUpdate/accounts/Account-3157",
        "status": "Succeeded",
        "startTime": "2022-01-20T05:37:35.1325802Z",
        "endTime": "2022-01-20T05:38:03.8572115Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-127/providers/Microsoft.DeviceUpdate/accounts/Account-3157?api-version=2020-03-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "None"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-03-01-preview, 2021-11-02-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/a62fb12a-f291-415a-a1e6-da289c27cb6d*ECAD51005D813A90526808B186AC60FE02058E37A3E83FD5360523173B103793?api-version=2020-03-01-preview",
        "Content-Type": "app[...]
[...]
