{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Env": "NonProd",
          "IsHostedOnBehalfOf": "False"
        },
        "subscriptionId": "cf65b9a6-fe0f-4011-881c-aba5a5fb8603",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AzureDeviceUpdate/PPE-MS",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourcegroups/testRg-8546?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-8546",
        "name": "testRg-8546",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Env": "NonProd"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-8546/providers/Microsoft.DeviceUpdate/accounts/Account-7154?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "sku": "Standard"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-03-01-preview, 2022-04-01-preview, 2022-10-01",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/2755d0c9-e518-4d57-affa-489738e78a0e*D3BBF40F0F7206807E85B985968E40E83C6385AABA6532521E2CD8F6940B3D92?api-version=2022-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f503427e-0000-0800-0000-629ef8220000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-8546/providers/Microsoft.DeviceUpdate/accounts/Account-7154",
        "name": "Account-7154",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "createdByType": "Application",
          "createdAt": "2022-06-07T07:02:56.9328188Z",
          "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-06-07T07:02:56.9328188Z"
        },
        "properties": {
          "sku": "Standard",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/2755d0c9-e518-4d57-affa-489738e78a0e*D3BBF40F0F7206807E85B985968E40E83C6385AABA6532521E2CD8F6940B3D92?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022d40431dd-0000-0800-0000-629ef8220000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/2755d0c9-e518-4d57-affa-489738e78a0e*D3BBF40F0F7206807E85B985968E40E83C6385AABA6532521E2CD8F6940B3D92",
        "name": "2755d0c9-e518-4d57-affa-489738e78a0e*D3BBF40F0F7206807E85B985968E40E83C6385AABA6532521E2CD8F6940B3D92",
        "resourceId": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-8546/providers/Microsoft.DeviceUpdate/accounts/Account-7154",
        "status": "Accepted",
        "startTime": "2022-06-07T07:02:58.480855Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-8546/providers/Microsoft.DeviceUpdate/accounts/Account-7154?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f503527e-0000-0800-0000-629ef84c0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-8546/providers/Microsoft.DeviceUpdate/accounts/Account-7154",
        "name": "Account-7154",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "createdByType": "Application",
          "createdAt": "2022-06-07T07:02:56.9328188Z",
          "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-06-07T07:02:56.9328188Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "hostName": "account-7154.api.adu.microsoft.com",
          "locations": [
            {
              "name": "westus2",
              "role": "Primary"
            },
            {
              "name": "WestCentralUS",
              "role": "Failover"
            }
          ],
          "sku": "Standard",
          "publicNetworkAccess": "Enabled"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-8546/providers/Microsoft.DeviceUpdate/accounts/Account-7154?api-version=2022-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "None"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-03-01-preview, 2022-04-01-preview, 2022-10-01",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/3c539028-81c1-4e6a-900d-b0a5ed2343b5*D3BBF40F0F7206807E85B985968E40E83C6385AABA6532521E2CD8F6940B3D92?api-version=2022-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f503647e-0000-0800-0000-629ef8850000\u0022",
        "x-ms-async-operation-timeout": "PT15M",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-8546/providers/Microsoft.DeviceUpdate/accounts/Account-7154",
        "name": "Account-7154",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "createdByType": "Application",
          "createdAt": "2022-06-07T07:02:56.9328188Z",
          "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-06-07T07:04:36.699249Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "provisioningState": "Accepted",
          "hostName": "account-7154.api.adu.microsoft.com",
          "locations": [
            {
              "name": "westus2",
              "role": "Primary"
            },
            {
              "name": "WestCentralUS",
              "role": "Failover"
            }
          ],
          "sku": "Standard",
          "publicNetworkAccess": "Enabled"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/3c539028-81c1-4e6a-900d-b0a5ed2343b5*D3BBF40F0F7206807E85B985968E40E83C6385AABA6532521E2CD8F6940B3D92?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022d404bdde-0000-0800-0000-629ef8860000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11988"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/3c539028-81c1-4e6a-900d-b0a5ed2343b5*D3BBF40F0F7206807E85B985968E40E83C6385AABA6532521E2CD8F6940B3D92",
        "name": "3c539028-81c1-4e6a-900d-b0a5ed2343b5*D3BBF40F0F7206807E85B985968E40E83C6385AABA6532521E2CD8F6940B3D92",
        "resourceId": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-8546/providers/Microsoft.DeviceUpdate/accounts/Account-7154",
        "status": "Succeeded",
        "startTime": "2022-06-07T07:04:36.9840929Z",
        "endTime": "2022-06-07T07:04:38.027121Z",
        "properties": null
      }
    },
[...]
