{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "id": "/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Env": "NonProd",
          "IsHostedOnBehalfOf": "False"
        },
        "subscriptionId": "a645d3be-5a4a-40ef-82a1-d5f5358a424c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AzureDeviceUpdate/Canary-MS",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourcegroups/testRg-6462?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": {
        "id": "/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-6462",
        "name": "testRg-6462",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Env": "NonProd"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-6462/providers/Microsoft.DeviceUpdate/accounts/Account-9141?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "sku": "Standard"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-03-01-preview, 2022-04-01-preview, 2022-10-01",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/eda0a407-1847-479a-8cb5-5b380cf5d1ac*C15AC1E68133B7EC02F63A294AAA83F52AD2D3B555ACE3D6BBDEE3A20304A2F0?api-version=2022-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c6002e7e-0000-0800-0000-62f32d160000\u0022",
        "mise-correlation-id": "3049c6ae-a00e-4757-80cf-0fe2b0d45873",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1181"
      },
      "ResponseBody": {
        "id": "/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-6462/providers/Microsoft.DeviceUpdate/accounts/Account-9141",
        "name": "Account-9141",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "createdByType": "Application",
          "createdAt": "2022-08-10T03:59:16.3656796Z",
          "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-10T03:59:16.3656796Z"
        },
        "properties": {
          "sku": "Standard",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/eda0a407-1847-479a-8cb5-5b380cf5d1ac*C15AC1E68133B7EC02F63A294AAA83F52AD2D3B555ACE3D6BBDEE3A20304A2F0?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e7002c08-0000-0800-0000-62f32d150000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11900"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/eda0a407-1847-479a-8cb5-5b380cf5d1ac*C15AC1E68133B7EC02F63A294AAA83F52AD2D3B555ACE3D6BBDEE3A20304A2F0",
        "name": "eda0a407-1847-479a-8cb5-5b380cf5d1ac*C15AC1E68133B7EC02F63A294AAA83F52AD2D3B555ACE3D6BBDEE3A20304A2F0",
        "resourceId": "/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-6462/providers/Microsoft.DeviceUpdate/accounts/Account-9141",
        "status": "Accepted",
        "startTime": "2022-08-10T03:59:17.9544863Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-6462/providers/Microsoft.DeviceUpdate/accounts/Account-9141?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c600fe80-0000-0800-0000-62f32d3d0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": {
        "id": "/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-6462/providers/Microsoft.DeviceUpdate/accounts/Account-9141",
        "name": "Account-9141",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "createdByType": "Application",
          "createdAt": "2022-08-10T03:59:16.3656796Z",
          "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-10T03:59:16.3656796Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "hostName": "account-9141.api.adu.microsoft.com",
          "locations": [
            {
              "name": "westus2",
              "role": "Primary"
            },
            {
              "name": "WestCentralUS",
              "role": "Failover"
            }
          ],
          "sku": "Standard",
          "publicNetworkAccess": "Enabled"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-6462/providers/Microsoft.DeviceUpdate/accounts/Account-9141?api-version=2022-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "None"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-03-01-preview, 2022-04-01-preview, 2022-10-01",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/c3e0bc19-92db-47e1-aea3-bd6af7b6ac43*C15AC1E68133B7EC02F63A294AAA83F52AD2D3B555ACE3D6BBDEE3A20304A2F0?api-version=2022-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c6001585-0000-0800-0000-62f32d780000\u0022",
        "mise-correlation-id": "276cee66-dbd2-418d-aaae-84817cd0aed8",
        "x-ms-async-operation-timeout": "PT15M",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1180"
      },
      "ResponseBody": {
        "id": "/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-6462/providers/Microsoft.DeviceUpdate/accounts/Account-9141",
        "name": "Account-9141",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "createdByType": "Application",
          "createdAt": "2022-08-10T03:59:16.3656796Z",
          "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-10T04:00:56.1986923Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "provisioningState": "Accepted",
          "hostName": "account-9141.api.adu.microsoft.com",
          "locations": [
            {
              "name": "westus2",
              "role": "Primary"
            },
            {
              "name": "WestCentralUS",
              "role": "Failover"
            }
          ],
          "sku": "Standard",
          "publicNetworkAccess": "Enabled"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/c3e0bc19-92db-47e1-aea3-bd6af7b6ac43*C15AC1E68133B7EC02F63A294AAA83F52AD2D3B555ACE3D6BBDEE3A20304A2F0?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e700ec1d-0000-0800-0000-62f32d790000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11889"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/c3e0bc19-92db-47e1-aea3-bd6af7b6ac43*C15AC1E68133B7EC02F63A294AAA83F52AD2D3B555ACE3D6BBDEE3A20304A2F0",
        "name": "c3e0bc19-92db-47e1-aea3-bd6af7b6ac43*C15AC1E68133B7EC02F63A294AAA83F52AD2D3B555ACE3D6BBDEE3A20304A2F0",
        "resourceId": "/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-6462/providers/Microsoft.DeviceUpdate/accounts/Account-9141",
        "status": "Succeeded",
        "startTime": "2022-08-10T04:00:56.4185388Z",
        "endTime": "2022-08-10T04:00:57.2624498Z",
        "properties": null
      }
    },
[...]
