{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/eastus2/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2012-R2-Datacenter/versions?$top=1\u0026api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11951"
      },
      "ResponseBody": [
        "[\r\n",
        "  {\r\n",
        "    \u0022location\u0022: \u0022eastus2\u0022,\r\n",
        "    \u0022name\u0022: \u00224.127.20180315\u0022,\r\n",
        "    \u0022id\u0022: \u0022/Subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/Providers/Microsoft.Compute/Locations/eastus2/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2012-R2-Datacenter/Versions/4.127.20180315\u0022\r\n",
        "  }\r\n",
        "]"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/galleryPsTestRg2989?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "tags": {
          "galleryPsTestRg2989": "2020-09-10 08:10:32Z"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989",
        "name": "galleryPsTestRg2989",
        "location": "eastus2",
        "tags": {
          "galleryPsTestRg2989": "2020-09-10 08:10:32Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Storage/storageAccounts/saforgallery9521?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "Storage",
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/2eb2fa36-780a-4880-a118-4bdad2122441?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/2eb2fa36-780a-4880-a118-4bdad2122441?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/2eb2fa36-780a-4880-a118-4bdad2122441?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11950"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/2eb2fa36-780a-4880-a118-4bdad2122441?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11938"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "Storage",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Storage/storageAccounts/saforgallery9521",
        "name": "saforgallery9521",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2",
        "tags": {},
        "properties": {
          "privateEndpointConnections": [],
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-09-10T08:10:39.1767943Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-09-10T08:10:39.1767943Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "provisioningState": "Succeeded",
          "creationTime": "2020-09-10T08:10:39.0986517Z",
          "primaryEndpoints": {
            "blob": "https://saforgallery9521.blob.core.windows.net/",
            "queue": "https://saforgallery9521.queue.core.windows.net/",
            "table": "https://saforgallery9521.table.core.windows.net/",
            "file": "https://saforgallery9521.file.core.windows.net/"
          },
          "primaryLocation": "eastus2",
          "statusOfPrimary": "available",
          "secondaryLocation": "centralus",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11937"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_GRS",
              "tier": "Standard"
            },
            "kind": "Storage",
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Storage/storageAccounts/saforgallery9521",
            "name": "saforgallery9521",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "eastus2",
            "tags": {},
            "propertie[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Network/publicIPAddresses/pip3599?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "tags": {
          "key": "value"
        },
        "properties": {
          "publicIPAllocationMethod": "Dynamic",
          "dnsSettings": {
            "domainNameLabel": "dn8403"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2/operations/a8b6a1b4-d3df-49cd-b796-12ee2218aa63?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022pip3599\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscript[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2/operations/a8b6a1b4-d3df-49cd-b796-12ee2218aa63?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11935"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022Succeeded\u0022\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Network/publicIPAddresses/pip3599?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002234ad9647-94da-407e-a0e0-bcae3a59aea1\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11934"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022pip3599\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Network/publicIPAddresses/pip3599\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u002234ad9647-94da-407e-a0e0-bcae3a59aea1\\\u0022[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Network/virtualNetworks/vn7809?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "sn6121",
              "properties": {
                "addressPrefix": "10.0.0.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2/operations/c383bca4-a7dd-4a48-a326-cb8ec04010ad?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Network/virtualNetworks/vn7809/subnets/sn6121?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022bb[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Network/networkInterfaces/nic5837?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "tags": {
          "key": "value"
        },
        "properties": {
          "ipConfigurations": [
            {
              "name": "ip6643",
              "properties": {
                "privateIPAllocationMethod": "Dynamic",
                "subnet": {
                  "name": "sn6121",
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Network/virtualNetworks/vn7809/subnets/sn6121",
                  "properties": {
                    "addressPrefix": "10.0.0.0/24",
                    "delegations": [],
                    "privateEndpointNetworkPolicies": "Enabled",
                    "privateLinkServiceNetworkPolicies": "Enabled"
                  }
                }
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2/operations/69c0a75d-175b-4bd6-a3ed-99df26d8f894?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
 [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Compute/availabilitySets/asforgallery438?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Classic"
        },
        "location": "eastus2",
        "tags": {
          "RG": "rg",
          "testTag": "1"
        },
        "properties": {
          "platformUpdateDomainCount": 5,
          "platformFaultDomainCount": 3
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1199",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022asforgallery438\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Compute/availabilitySets/asforgallery438\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Compute/availabilitySets\u0022,\r\n",
        "  \u0022location\u0022: \u0022eastus2\u0022,\r\n",
        "  \u0022tags\u0022: {\r\n",
        "    \u0022RG\u0022: \u0022rg\u0022,\r\n",
        "    \u0022testTag\u0022: \u00221\u0022\r\n",
        "  },\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022platformUpdateDomainCount\u0022: 5,\r\n",
        "    \u0022platformFaultDomainCount\u0022: 3\r\n",
        "  },\r\n",
        "  \u0022sku\u0022: {\r\n",
        "    \u0022name\u0022: \u0022Classic\u0022\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Compute/virtualMachines/vm2201?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "tags": {
          "RG": "rg",
          "testTag": "1"
        },
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_A0"
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "MicrosoftWindowsServer",
              "offer": "WindowsServer",
              "sku": "2012-R2-Datacenter",
              "version": "4.127.20180315"
            },
            "osDisk": {
              "name": "test",
              "vhd": {
                "uri": "https://saforgallery9521.blob.core.windows.net/crptestar7999/oscrptestar5884.vhd"
              },
              "caching": "None",
              "createOption": "FromImage"
            }
          },
          "osProfile": {
            "computerName": "Test",
            "adminUsername": "Foo12",
            "adminPassword": "[PLACEHOLDEr1]"
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Network/networkInterfaces/nic5837",
                "properties": {}
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/eastus2/operations/10ad3c7b-07f8-4d5e-ad2e-1d2ac9abf936?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "50",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29948",
        "x-ms-ratelimit-remaining-subscription-reads": "11926"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022startTime\u0022: \u00222020-09-10T08:11:23.2734707\u002B00:00\u0022,\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022,\r\n",
        "  \u0022name\u0022: \u002210ad3c7b-07f8-4d5e-ad2e-1d2ac9abf936\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Compute/virtualMachines/vm2201?$expand=instanceView\u0026api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ra[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Compute/images/psTestSourceImage2815?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "tags": {
          "RG": "rg",
          "testTag": "1"
        },
        "properties": {
          "storageProfile": {
            "osDisk": {
              "osType": "Windows",
              "osState": "Generalized",
              "blobUri": "https://saforgallery9521.blob.core.windows.net/crptestar7999/oscrptestar5884.vhd"
            },
            "zoneResilient": true
          },
          "hyperVGeneration": "V1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/eastus2/operations/9e1ea198-a1b9-4961-9cec-c7942b257f64?api-version=2019-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateImages3Min;39,Mi[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Compute/galleries/galleryPsTestGallery607?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "description": "This is a sample gallery description"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/eastus2/capsOperations/1b97dd2c-5cf7-4dba-a9e7-0f2f4bc4afff?api-version=2019-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateUpdateGallery3Min;49,Mic[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/eastus2/capsOperations/1b97dd2c-5cf7-4dba-a9e7-0f2f4bc4afff?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperationStatus3Min;1199,Microsoft.Compute/GetOperationStatus30Min;2394",
        "x-ms-ratelimit-remaining-subscription-reads": "11698"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022startTime\u0022: \u00222020-09-10T08:16:44.637929\u002B00:00\u0022,\r\n",
        "  \u0022endTime\u0022: \u00222020-09-10T08:16:44.8879403\u002B00:00\u0022,\r\n",
        "  \u0022status\u0022: \u0022Succeeded\u0022,\r\n",
        "  \u0022name\u0022: \u00221b97dd2c-5cf7-4dba-a9e7-0f2f4bc4afff\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Compute/galleries/galleryPsTestGallery607/images/galleryPsTestGalleryImage1192?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "description": "This is the gallery image description.",
          "osType": "Windows",
          "osState": "Generalized",
          "identifier": {
            "publisher": "testPub",
            "offer": "testOffer",
            "sku": "testSku"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/eastus2/capsOperations/d083f58c-acf8-470f-83be-4f1ac850fe50?api-version=2019-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-rateli[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Compute/galleries/galleryPsTestGallery607/images/galleryPsTestGalleryImage1192/versions/1.0.0?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "publishingProfile": {
            "targetRegions": [
              {
                "name": "eastus2",
                "regionalReplicaCount": 1,
                "storageAccountType": "Standard_LRS"
              }
            ],
            "replicaCount": 1,
            "endOfLifeDate": "2020-09-20T08:10:32.0052070Z",
            "storageAccountType": "Standard_LRS"
          },
          "storageProfile": {
            "source": {
              "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/galleryPsTestRg2989/providers/Microsoft.Compute/images/psTestSourceImage2815"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/eastus2/capsOperations/c8a86cfb-8c5c-40b0-ab45-72f1a05b784c?api-version=2019-12-01"[...]
[...]
