{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/E9331B7A7BCDF07063E9FE82BD23BBB5AF26018DEE6189F8E4?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:40:16 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b007792-0000-0d00-0000-649e24710000\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:40:17 GMT",
        "trace-id": "992fe04e-a8ef-14d2-b8c3-33858b375fb6"
      },
      "ResponseBody": {
        "id": "E9331B7A7BCDF07063E9FE82BD23BBB5AF26018DEE6189F8E4",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:40:16 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "E9331B7A7BCDF07063E9FE82BD23BBB5AF26018DEE6189F8E4",
        "labels": {
          "Region": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81NA",
          "Language": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81EN",
          "Product": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81O365"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220801f478-0000-0d00-0000-649e24710000\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:40:17 GMT",
        "trace-id": "00e5ef90-d8eb-7ef3-3385-1d51ccdf3906"
      },
      "ResponseBody": {
        "id": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81",
        "name": "test",
        "distributionPolicyId": "E9331B7A7BCDF07063E9FE82BD23BBB5AF26018DEE6189F8E4",
        "labels": {
          "Region": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81NA",
          "Language": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81EN",
          "Product": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81O365",
          "Id": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/3FA65BE6DAF8831F4E9778022FAC2D8858376ABA89A57FB0BF?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:40:17 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "A88BA9E0208689395FB1AD48539827C53E705FE0501875B5FB",
        "queueSelectors": [
          {
            "key": "Region",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Language",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Product",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c70077f2-0000-0d00-0000-649e24720000\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:40:18 GMT",
        "trace-id": "80711254-16f8-d6d0-880a-0cb37d23f125"
      },
      "ResponseBody": {
        "id": "3FA65BE6DAF8831F4E9778022FAC2D8858376ABA89A57FB0BF",
        "fallbackQueueId": "A88BA9E0208689395FB1AD48539827C53E705FE0501875B5FB",
        "queueSelectors": [
          {
            "kind": "pass-through",
            "key": "Region",
            "labelOperator": "equal"
          },
          {
            "kind": "pass-through",
            "key": "Language",
            "labelOperator": "equal"
          },
          {
            "kind": "pass-through",
            "key": "Product",
            "labelOperator": "equal"
          },
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81"
            }
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/AD3B2D18456CDB58A1580BDF25C8A96EF88ACF7C34D5CD7310?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:40:17 GMT"
      },
      "RequestBody": {
        "channelId": "AD3B2D18456CDB58A1580BDF25C8A96EF88ACF7C34D5CD7310",
        "classificationPolicyId": "3FA65BE6DAF8831F4E9778022FAC2D8858376ABA89A57FB0BF",
        "labels": {
          "Product": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81O365",
          "Region": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81NA",
          "Language": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81EN"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-d665-2d940279db08\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:40:18 GMT",
        "trace-id": "ffe7c53c-a1a6-73e5-34d6-b3649f0b09de"
      },
      "ResponseBody": {
        "id": "AD3B2D18456CDB58A1580BDF25C8A96EF88ACF7C34D5CD7310",
        "status": "pendingClassification",
        "channelId": "AD3B2D18456CDB58A1580BDF25C8A96EF88ACF7C34D5CD7310",
        "classificationPolicyId": "3FA65BE6DAF8831F4E9778022FAC2D8858376ABA89A57FB0BF",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81O365",
          "Region": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81NA",
          "Language": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {},
        "matchingMode": {
          "modeType": "queueAndMatchMode",
          "queueAndMatchMode": {}
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/AD3B2D18456CDB58A1580BDF25C8A96EF88ACF7C34D5CD7310?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:40:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-f939-44940279db08\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:40:18 GMT",
        "trace-id": "253026d0-4520-4df0-119d-76a6a7336587"
      },
      "ResponseBody": {
        "id": "AD3B2D18456CDB58A1580BDF25C8A96EF88ACF7C34D5CD7310",
        "status": "queued",
        "enqueuedAt": "2023-06-30T00:40:18.7451897\u002B00:00",
        "channelId": "AD3B2D18456CDB58A1580BDF25C8A96EF88ACF7C34D5CD7310",
        "classificationPolicyId": "3FA65BE6DAF8831F4E9778022FAC2D8858376ABA89A57FB0BF",
        "queueId": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81O365",
          "Region": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81NA",
          "Language": "7402039394443B4540714F89C60B7FF275606FC73CFDAB7C81EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {},
        "matchingMode": {
          "modeType": "queueAndMatchMode",
          "queueAndMatchMode": {}
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-MR8J4KJ9vEW7LxMx1jiYug-",
    "RandomSeed": "1940735432"
  }
}
