{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/01-44-1A-06-C1-E0-03-D7-30-15-5E-7C-23-82-3B-62-72?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:35 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229f027b16-0000-0700-0000-62aa6f1f0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:35 GMT",
        "trace-id": "96ff03b9897bc942a73c5ca9d205fc79"
      },
      "ResponseBody": {
        "id": "01-44-1A-06-C1-E0-03-D7-30-15-5E-7C-23-82-3B-62-72",
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/DA-E0-96-26-D8-FC-A3-E3-07-02-DF-CC-CA-76-54-41-50?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:35 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "01-44-1A-06-C1-E0-03-D7-30-15-5E-7C-23-82-3B-62-72",
        "labels": {
          "Region": "NA",
          "Language": "en",
          "Product": "O365",
          "UniqueIdentifier": "sdk-ckmIWHP2UkmFMWoVyHSDCw-"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002225049a2d-0000-0700-0000-62aa6f1f0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:35 GMT",
        "trace-id": "f3cb21be9a399549a33bfdb94e5d070a"
      },
      "ResponseBody": {
        "id": "DA-E0-96-26-D8-FC-A3-E3-07-02-DF-CC-CA-76-54-41-50",
        "name": "test",
        "distributionPolicyId": "01-44-1A-06-C1-E0-03-D7-30-15-5E-7C-23-82-3B-62-72",
        "labels": {
          "Region": "NA",
          "Language": "en",
          "Product": "O365",
          "UniqueIdentifier": "sdk-ckmIWHP2UkmFMWoVyHSDCw-",
          "Id": "DA-E0-96-26-D8-FC-A3-E3-07-02-DF-CC-CA-76-54-41-50"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/E3-7D-53-DF-B8-8E-9B-FD-F5-FA-FB-2F-96-9F-8F-B9-03?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:36 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "A4-1D-46-BA-79-10-F3-11-A1-7F-DC-5A-01-6B-52-42-53",
        "queueSelectors": [
          {
            "key": "Region",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Product",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u0022EN\u0022, true, false)",
              "kind": "expression-rule"
            },
            "labelSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "en"
              }
            ],
            "kind": "conditional"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u0022FR\u0022, true, false)",
              "kind": "expression-rule"
            },
            "labelSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "fr"
              }
            ],
            "kind": "conditional"
          },
          {
            "labelSelector": {
              "key": "UniqueIdentifier",
              "labelOperator": "equal",
              "value": "sdk-ckmIWHP2UkmFMWoVyHSDCw-"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022220885da-0000-0700-0000-62aa6f200000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:36 GMT",
        "trace-id": "e8b8e20beaf68b489015d425a2f26439"
      },
      "ResponseBody": {
        "id": "E3-7D-53-DF-B8-8E-9B-FD-F5-FA-FB-2F-96-9F-8F-B9-03",
        "fallbac[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/60-2E-E3-8D-C4-FA-C8-C3-C2-53-40-7D-42-48-F3-6F-C0?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:36 GMT"
      },
      "RequestBody": {
        "channelId": "6B-7F-A9-5C-5F-0B-D8-1F-ED-0C-DB-89-DF-A9-11-9C-AC",
        "classificationPolicyId": "E3-7D-53-DF-B8-8E-9B-FD-F5-FA-FB-2F-96-9F-8F-B9-03",
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Lang": "EN"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-d4d1-3725294fda08\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:36 GMT",
        "trace-id": "8c92c2fbce4091459c00bb0ddd946b72"
      },
      "ResponseBody": {
        "id": "60-2E-E3-8D-C4-FA-C8-C3-C2-53-40-7D-42-48-F3-6F-C0",
        "jobStatus": "pendingClassification",
        "channelId": "6B-7F-A9-5C-5F-0B-D8-1F-ED-0C-DB-89-DF-A9-11-9C-AC",
        "classificationPolicyId": "E3-7D-53-DF-B8-8E-9B-FD-F5-FA-FB-2F-96-9F-8F-B9-03",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Lang": "EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/60-2E-E3-8D-C4-FA-C8-C3-C2-53-40-7D-42-48-F3-6F-C0?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:37 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-167f-6a25294fda08\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:36 GMT",
        "trace-id": "086468089f3d3e42b12c7d82afbc085f"
      },
      "ResponseBody": {
        "id": "60-2E-E3-8D-C4-FA-C8-C3-C2-53-40-7D-42-48-F3-6F-C0",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-06-15T23:45:36.6336278\u002B00:00",
        "channelId": "6B-7F-A9-5C-5F-0B-D8-1F-ED-0C-DB-89-DF-A9-11-9C-AC",
        "classificationPolicyId": "E3-7D-53-DF-B8-8E-9B-FD-F5-FA-FB-2F-96-9F-8F-B9-03",
        "queueId": "DA-E0-96-26-D8-FC-A3-E3-07-02-DF-CC-CA-76-54-41-50",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Lang": "EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
