{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/C6-20-07-51-4F-CA-7D-C5-E1-2B-32-B4-CA-C1-FE-B8-93?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:39:24 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002292029fe5-0000-0700-0000-62aa194d0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:39:25 GMT",
        "trace-id": "ce72f8563ac86c49b64f53f9062fa387"
      },
      "ResponseBody": {
        "id": "C6-20-07-51-4F-CA-7D-C5-E1-2B-32-B4-CA-C1-FE-B8-93",
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/C6-20-07-51-4F-CA-7D-C5-E1-2B-32-B4-CA-C1-FE-B8-93?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:39:24 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "C6-20-07-51-4F-CA-7D-C5-E1-2B-32-B4-CA-C1-FE-B8-93",
        "labels": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222204a659-0000-0700-0000-62aa194d0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:39:25 GMT",
        "trace-id": "af3e8a48a9715c498f2009113b44e425"
      },
      "ResponseBody": {
        "id": "C6-20-07-51-4F-CA-7D-C5-E1-2B-32-B4-CA-C1-FE-B8-93",
        "name": "test",
        "distributionPolicyId": "C6-20-07-51-4F-CA-7D-C5-E1-2B-32-B4-CA-C1-FE-B8-93",
        "labels": {
          "Id": "C6-20-07-51-4F-CA-7D-C5-E1-2B-32-B4-CA-C1-FE-B8-93"
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/04-60-E7-DD-D2-41-C2-86-0A-F0-1C-73-7E-82-A2-EC-6D?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:39:24 GMT"
      },
      "RequestBody": {
        "queueSelectors": [
          {
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "C6-20-07-51-4F-CA-7D-C5-E1-2B-32-B4-CA-C1-FE-B8-93"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002222087fd7-0000-0700-0000-62aa194e0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:39:26 GMT",
        "trace-id": "a95181e55fd65d4390d911744cc4017f"
      },
      "ResponseBody": {
        "id": "04-60-E7-DD-D2-41-C2-86-0A-F0-1C-73-7E-82-A2-EC-6D",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "C6-20-07-51-4F-CA-7D-C5-E1-2B-32-B4-CA-C1-FE-B8-93"
            }
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/0B-F6-50-F5-1C-BA-1C-55-8A-AB-58-39-05-C4-E0-07-91?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:39:24 GMT"
      },
      "RequestBody": {
        "channelId": "7B-EA-5A-65-85-D4-A3-78-B9-08-85-94-FC-41-59-7B-CA",
        "classificationPolicyId": "04-60-E7-DD-D2-41-C2-86-0A-F0-1C-73-7E-82-A2-EC-6D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-34eb-26fef54eda08\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:39:26 GMT",
        "trace-id": "2c59219555a4ff4da6a3c7ea163b0c4f"
      },
      "ResponseBody": {
        "id": "0B-F6-50-F5-1C-BA-1C-55-8A-AB-58-39-05-C4-E0-07-91",
        "jobStatus": "pendingClassification",
        "channelId": "7B-EA-5A-65-85-D4-A3-78-B9-08-85-94-FC-41-59-7B-CA",
        "classificationPolicyId": "04-60-E7-DD-D2-41-C2-86-0A-F0-1C-73-7E-82-A2-EC-6D",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/0B-F6-50-F5-1C-BA-1C-55-8A-AB-58-39-05-C4-E0-07-91?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:39:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-51f0-62fef54eda08\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:39:26 GMT",
        "trace-id": "c40216f984b4d740a6f1f4735a2f1915"
      },
      "ResponseBody": {
        "id": "0B-F6-50-F5-1C-BA-1C-55-8A-AB-58-39-05-C4-E0-07-91",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-06-15T17:39:26.8197457\u002B00:00",
        "channelId": "7B-EA-5A-65-85-D4-A3-78-B9-08-85-94-FC-41-59-7B-CA",
        "classificationPolicyId": "04-60-E7-DD-D2-41-C2-86-0A-F0-1C-73-7E-82-A2-EC-6D",
        "queueId": "C6-20-07-51-4F-CA-7D-C5-E1-2B-32-B4-CA-C1-FE-B8-93",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-sKXT1VD70UaOrHWDUZnx0g-",
    "RandomSeed": "1233856187"
  }
}
