{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/4E-40-FD-8A-B3-9F-99-1D-88-26-1D-2E-6E-5B-3C-18-E9?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:39:22 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002292026ee5-0000-0700-0000-62aa194b0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:39:23 GMT",
        "trace-id": "d96066dc5316264f8a9a2827fdee3b17"
      },
      "ResponseBody": {
        "id": "4E-40-FD-8A-B3-9F-99-1D-88-26-1D-2E-6E-5B-3C-18-E9",
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/F2-81-C0-6D-A4-C6-B7-04-1A-F1-6A-8E-B8-6A-EC-81-FB?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:39:22 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "4E-40-FD-8A-B3-9F-99-1D-88-26-1D-2E-6E-5B-3C-18-E9",
        "labels": {
          "Region": "NA",
          "Language": "EN",
          "Product": "O365",
          "UniqueIdentifier": "sdk-7TLApBMlLkWlLv-AkvrYVw-"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002222049a59-0000-0700-0000-62aa194b0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:39:23 GMT",
        "trace-id": "3fb082496e2e124faeb5bea48dcaf7b0"
      },
      "ResponseBody": {
        "id": "F2-81-C0-6D-A4-C6-B7-04-1A-F1-6A-8E-B8-6A-EC-81-FB",
        "name": "test",
        "distributionPolicyId": "4E-40-FD-8A-B3-9F-99-1D-88-26-1D-2E-6E-5B-3C-18-E9",
        "labels": {
          "Region": "NA",
          "Language": "EN",
          "Product": "O365",
          "UniqueIdentifier": "sdk-7TLApBMlLkWlLv-AkvrYVw-",
          "Id": "F2-81-C0-6D-A4-C6-B7-04-1A-F1-6A-8E-B8-6A-EC-81-FB"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/6D-74-23-6B-72-30-49-DC-D4-AB-E3-0A-AA-B8-A0-BA-A1?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:39:22 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "18-64-38-25-74-92-0F-14-14-1F-25-8B-94-C8-5D-20-28",
        "queueSelectors": [
          {
            "key": "Region",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Language",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Product",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "labelSelector": {
              "key": "UniqueIdentifier",
              "labelOperator": "equal",
              "value": "sdk-7TLApBMlLkWlLv-AkvrYVw-"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002222087ed7-0000-0700-0000-62aa194c0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:39:24 GMT",
        "trace-id": "c03e183585d00241a2fedf087de91de0"
      },
      "ResponseBody": {
        "id": "6D-74-23-6B-72-30-49-DC-D4-AB-E3-0A-AA-B8-A0-BA-A1",
        "fallbackQueueId": "18-64-38-25-74-92-0F-14-14-1F-25-8B-94-C8-5D-20-28",
        "queueSelectors": [
          {
            "kind": "pass-through",
            "key": "Region",
            "labelOperator": "equal"
          },
          {
            "kind": "pass-through",
            "key": "Language",
            "labelOperator": "equal"
          },
          {
            "kind": "pass-through",
            "key": "Product",
            "labelOperator": "equal"
          },
          {
            "kind": "static",
            "labelSelector": {
              "key": "UniqueIdentifier",
              "labelOperator": "equal",
              "value": "sdk-7TLApBMlLkWlLv-AkvrYVw-"
            }
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/E3-3D-94-AD-66-D1-C5-37-4B-44-A0-32-AF-0D-24-AD-07?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:39:22 GMT"
      },
      "RequestBody": {
        "channelId": "E3-3D-94-AD-66-D1-C5-37-4B-44-A0-32-AF-0D-24-AD-07",
        "classificationPolicyId": "6D-74-23-6B-72-30-49-DC-D4-AB-E3-0A-AA-B8-A0-BA-A1",
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Language": "EN"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-886d-e7fcf54eda08\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:39:24 GMT",
        "trace-id": "776b8b353ddd644190beaf136d02283c"
      },
      "ResponseBody": {
        "id": "E3-3D-94-AD-66-D1-C5-37-4B-44-A0-32-AF-0D-24-AD-07",
        "jobStatus": "pendingClassification",
        "channelId": "E3-3D-94-AD-66-D1-C5-37-4B-44-A0-32-AF-0D-24-AD-07",
        "classificationPolicyId": "6D-74-23-6B-72-30-49-DC-D4-AB-E3-0A-AA-B8-A0-BA-A1",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Language": "EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/E3-3D-94-AD-66-D1-C5-37-4B-44-A0-32-AF-0D-24-AD-07?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:39:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-681f-21fdf54eda08\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:39:24 GMT",
        "trace-id": "0dea703516523f4488280a0569fbfc31"
      },
      "ResponseBody": {
        "id": "E3-3D-94-AD-66-D1-C5-37-4B-44-A0-32-AF-0D-24-AD-07",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-06-15T17:39:24.710692\u002B00:00",
        "channelId": "E3-3D-94-AD-66-D1-C5-37-4B-44-A0-32-AF-0D-24-AD-07",
        "classificationPolicyId": "6D-74-23-6B-72-30-49-DC-D4-AB-E3-0A-AA-B8-A0-BA-A1",
        "queueId": "F2-81-C0-6D-A4-C6-B7-04-1A-F1-6A-8E-B8-6A-EC-81-FB",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Language": "EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-7TLApBMlLkWlLv-AkvrYVw-",
    "RandomSeed": "1861388664"
  }
}
