{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/A3-64-3F-55-32-43-CE-B9-6F-A4-8B-6E-A5-E4-51-77-EE?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:52 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229f025518-0000-0700-0000-62aa6f300000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:52 GMT",
        "trace-id": "73bbe0a0f80c2c44a135ade5570025d3"
      },
      "ResponseBody": {
        "id": "A3-64-3F-55-32-43-CE-B9-6F-A4-8B-6E-A5-E4-51-77-EE",
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/2F-3D-E6-1F-66-BD-93-1A-54-AF-E9-A1-3C-AC-31-79-A6?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:52 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "A3-64-3F-55-32-43-CE-B9-6F-A4-8B-6E-A5-E4-51-77-EE",
        "labels": {
          "Region": "NA",
          "Language": "EN",
          "Product": "O365",
          "UniqueIdentifier": "sdk-gU10b0X3sEmBlw5n6656lA-"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222504102e-0000-0700-0000-62aa6f300000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:52 GMT",
        "trace-id": "3231a7e7f0c61646ba52416af39f23f7"
      },
      "ResponseBody": {
        "id": "2F-3D-E6-1F-66-BD-93-1A-54-AF-E9-A1-3C-AC-31-79-A6",
        "name": "test",
        "distributionPolicyId": "A3-64-3F-55-32-43-CE-B9-6F-A4-8B-6E-A5-E4-51-77-EE",
        "labels": {
          "Region": "NA",
          "Language": "EN",
          "Product": "O365",
          "UniqueIdentifier": "sdk-gU10b0X3sEmBlw5n6656lA-",
          "Id": "2F-3D-E6-1F-66-BD-93-1A-54-AF-E9-A1-3C-AC-31-79-A6"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/2D-E2-87-C5-EE-AA-A3-EF-59-80-39-B7-AE-4D-9C-56-D6?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:52 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "C4-4A-3E-19-BD-8B-06-B4-E6-F7-BE-59-02-BA-CC-85-66",
        "queueSelectors": [
          {
            "key": "Region",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Language",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Product",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "labelSelector": {
              "key": "UniqueIdentifier",
              "labelOperator": "equal",
              "value": "sdk-gU10b0X3sEmBlw5n6656lA-"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002222088dda-0000-0700-0000-62aa6f300000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:52 GMT",
        "trace-id": "46b6196fe3b4714c8b617f9cfd4abde6"
      },
      "ResponseBody": {
        "id": "2D-E2-87-C5-EE-AA-A3-EF-59-80-39-B7-AE-4D-9C-56-D6",
        "fallbackQueueId": "C4-4A-3E-19-BD-8B-06-B4-E6-F7-BE-59-02-BA-CC-85-66",
        "queueSelectors": [
          {
            "kind": "pass-through",
            "key": "Region",
            "labelOperator": "equal"
          },
          {
            "kind": "pass-through",
            "key": "Language",
            "labelOperator": "equal"
          },
          {
            "kind": "pass-through",
            "key": "Product",
            "labelOperator": "equal"
          },
          {
            "kind": "static",
            "labelSelector": {
              "key": "UniqueIdentifier",
              "labelOperator": "equal",
              "value": "sdk-gU10b0X3sEmBlw5n6656lA-"
            }
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/60-B1-6B-B7-51-27-6C-20-57-2C-0B-DA-97-09-65-AF-62?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:52 GMT"
      },
      "RequestBody": {
        "channelId": "60-B1-6B-B7-51-27-6C-20-57-2C-0B-DA-97-09-65-AF-62",
        "classificationPolicyId": "2D-E2-87-C5-EE-AA-A3-EF-59-80-39-B7-AE-4D-9C-56-D6",
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Language": "EN"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-2bc7-062f294fda08\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:52 GMT",
        "trace-id": "ba4dc548102afa4b871cb83342ef10c2"
      },
      "ResponseBody": {
        "id": "60-B1-6B-B7-51-27-6C-20-57-2C-0B-DA-97-09-65-AF-62",
        "jobStatus": "pendingClassification",
        "channelId": "60-B1-6B-B7-51-27-6C-20-57-2C-0B-DA-97-09-65-AF-62",
        "classificationPolicyId": "2D-E2-87-C5-EE-AA-A3-EF-59-80-39-B7-AE-4D-9C-56-D6",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Language": "EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/60-B1-6B-B7-51-27-6C-20-57-2C-0B-DA-97-09-65-AF-62?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-9602-302f294fda08\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:53 GMT",
        "trace-id": "0ebfd98f323c514abb2f125303676459"
      },
      "ResponseBody": {
        "id": "60-B1-6B-B7-51-27-6C-20-57-2C-0B-DA-97-09-65-AF-62",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-06-15T23:45:53.0275478\u002B00:00",
        "channelId": "60-B1-6B-B7-51-27-6C-20-57-2C-0B-DA-97-09-65-AF-62",
        "classificationPolicyId": "2D-E2-87-C5-EE-AA-A3-EF-59-80-39-B7-AE-4D-9C-56-D6",
        "queueId": "2F-3D-E6-1F-66-BD-93-1A-54-AF-E9-A1-3C-AC-31-79-A6",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Language": "EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-gU10b0X3sEmBlw5n6656lA-",
    "RandomSeed": "829301071"
  }
}
