{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/08-CF-C4-37-03-B4-40-7A-08-A1-78-EA-BD-B5-E0-EB-17?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:25 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229f023fbc-0000-0700-0000-62aa85950000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:21:25 GMT",
        "trace-id": "14adea93ec87f8479985f1a84037305d"
      },
      "ResponseBody": {
        "id": "08-CF-C4-37-03-B4-40-7A-08-A1-78-EA-BD-B5-E0-EB-17",
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/B3-8E-71-57-01-7A-C5-81-E4-86-A2-60-19-97-B9-17-8B?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:25 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "08-CF-C4-37-03-B4-40-7A-08-A1-78-EA-BD-B5-E0-EB-17",
        "labels": {
          "Region": "NA",
          "Language": "EN",
          "Product": "O365",
          "UniqueIdentifier": "sdk-erJtfVFNXESbUkotsoAXCA-"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222504b8b1-0000-0700-0000-62aa85950000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:21:25 GMT",
        "trace-id": "ce8542bf9b145a43a7bb820d7e007d70"
      },
      "ResponseBody": {
        "id": "B3-8E-71-57-01-7A-C5-81-E4-86-A2-60-19-97-B9-17-8B",
        "name": "test",
        "distributionPolicyId": "08-CF-C4-37-03-B4-40-7A-08-A1-78-EA-BD-B5-E0-EB-17",
        "labels": {
          "Region": "NA",
          "Language": "EN",
          "Product": "O365",
          "UniqueIdentifier": "sdk-erJtfVFNXESbUkotsoAXCA-",
          "Id": "B3-8E-71-57-01-7A-C5-81-E4-86-A2-60-19-97-B9-17-8B"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/88-01-3A-9B-8C-D9-BC-26-91-E1-C4-D3-F7-1B-B8-72-07?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:25 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "EC-44-6B-0F-92-E6-7E-D2-48-B8-66-79-2D-62-45-3C-E5",
        "queueSelectors": [
          {
            "key": "Region",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Language",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Product",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "labelSelector": {
              "key": "UniqueIdentifier",
              "labelOperator": "equal",
              "value": "sdk-erJtfVFNXESbUkotsoAXCA-"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022220855db-0000-0700-0000-62aa85950000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:21:25 GMT",
        "trace-id": "e439f48bd659f14caed59c18661bea47"
      },
      "ResponseBody": {
        "id": "88-01-3A-9B-8C-D9-BC-26-91-E1-C4-D3-F7-1B-B8-72-07",
        "fallbackQueueId": "EC-44-6B-0F-92-E6-7E-D2-48-B8-66-79-2D-62-45-3C-E5",
        "queueSelectors": [
          {
            "kind": "pass-through",
            "key": "Region",
            "labelOperator": "equal"
          },
          {
            "kind": "pass-through",
            "key": "Language",
            "labelOperator": "equal"
          },
          {
            "kind": "pass-through",
            "key": "Product",
            "labelOperator": "equal"
          },
          {
            "kind": "static",
            "labelSelector": {
              "key": "UniqueIdentifier",
              "labelOperator": "equal",
              "value": "sdk-erJtfVFNXESbUkotsoAXCA-"
            }
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/D5-E2-2D-3D-29-25-E6-14-F7-E2-4C-D2-DD-3E-D0-89-B2?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:25 GMT"
      },
      "RequestBody": {
        "channelId": "D5-E2-2D-3D-29-25-E6-14-F7-E2-4C-D2-DD-3E-D0-89-B2",
        "classificationPolicyId": "88-01-3A-9B-8C-D9-BC-26-91-E1-C4-D3-F7-1B-B8-72-07",
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Language": "EN"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-2337-5688364fda08\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:21:26 GMT",
        "trace-id": "f055ba841b24684ca3861ed9f3c54e8f"
      },
      "ResponseBody": {
        "id": "D5-E2-2D-3D-29-25-E6-14-F7-E2-4C-D2-DD-3E-D0-89-B2",
        "jobStatus": "pendingClassification",
        "channelId": "D5-E2-2D-3D-29-25-E6-14-F7-E2-4C-D2-DD-3E-D0-89-B2",
        "classificationPolicyId": "88-01-3A-9B-8C-D9-BC-26-91-E1-C4-D3-F7-1B-B8-72-07",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Language": "EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/D5-E2-2D-3D-29-25-E6-14-F7-E2-4C-D2-DD-3E-D0-89-B2?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-8d4a-7c88364fda08\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:21:26 GMT",
        "trace-id": "bd006f15e9797f498442eab422866800"
      },
      "ResponseBody": {
        "id": "D5-E2-2D-3D-29-25-E6-14-F7-E2-4C-D2-DD-3E-D0-89-B2",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-06-16T01:21:26.3021709\u002B00:00",
        "channelId": "D5-E2-2D-3D-29-25-E6-14-F7-E2-4C-D2-DD-3E-D0-89-B2",
        "classificationPolicyId": "88-01-3A-9B-8C-D9-BC-26-91-E1-C4-D3-F7-1B-B8-72-07",
        "queueId": "B3-8E-71-57-01-7A-C5-81-E4-86-A2-60-19-97-B9-17-8B",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Language": "EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-erJtfVFNXESbUkotsoAXCA-",
    "RandomSeed": "1874190621"
  }
}
