{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/5F889D17B94802563E143129B362BBB1CFF2F764E1BB965F62?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:24:41 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225c00d458-0000-0700-0000-642de71a0000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:24:42 GMT",
        "trace-id": "02349a53-6ace-0143-af69-7dd8ff2dc491"
      },
      "ResponseBody": {
        "id": "5F889D17B94802563E143129B362BBB1CFF2F764E1BB965F62",
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/956B495567F1D22491D0C772CB3EFA6E6B18CC76C6AFD77611?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:24:42 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "5F889D17B94802563E143129B362BBB1CFF2F764E1BB965F62",
        "labels": {
          "Region": "NA",
          "Language": "en",
          "Product": "O365",
          "UniqueIdentifier": "sdk-z1AUgXhHBUmjdePDLmbjkw-"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b00f927-0000-0700-0000-642de71b0000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:24:43 GMT",
        "trace-id": "4bc599bd-ab64-f34e-95cf-8b949765a345"
      },
      "ResponseBody": {
        "id": "956B495567F1D22491D0C772CB3EFA6E6B18CC76C6AFD77611",
        "name": "test",
        "distributionPolicyId": "5F889D17B94802563E143129B362BBB1CFF2F764E1BB965F62",
        "labels": {
          "Region": "NA",
          "Language": "en",
          "Product": "O365",
          "UniqueIdentifier": "sdk-z1AUgXhHBUmjdePDLmbjkw-",
          "Id": "956B495567F1D22491D0C772CB3EFA6E6B18CC76C6AFD77611"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/2296F5E9EA451346D9239B44B4A2D248ABA94E77C61AC53C1B?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:24:43 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "BE981991959B9550DA34937C0D2B37CD553B8F835860652CE9",
        "queueSelectors": [
          {
            "key": "Region",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Product",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u0022EN\u0022, true, false)",
              "kind": "expression-rule"
            },
            "labelSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "en"
              }
            ],
            "kind": "conditional"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u0022FR\u0022, true, false)",
              "kind": "expression-rule"
            },
            "labelSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "fr"
              }
            ],
            "kind": "conditional"
          },
          {
            "labelSelector": {
              "key": "UniqueIdentifier",
              "labelOperator": "equal",
              "value": "sdk-z1AUgXhHBUmjdePDLmbjkw-"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002239009d75-0000-0700-0000-642de71c0000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:24:44 GMT",
        "trace-id": "a143ec64-1e14-6b4e-bf8b-cacb7f9e75ff"
      },
      "ResponseBody": {
        "id": "2296F5E9EA451346D9239B44B4A2D248ABA94E77C61AC53C1B",
        "fall[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/530CC2776E2D16F2A0D77E017D5DE66452461E3AE5F503AE0F?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:24:43 GMT"
      },
      "RequestBody": {
        "channelId": "5D09DB30AD14C22C8AFB1F42A41CFD533E7C4553CE494CC621",
        "classificationPolicyId": "2296F5E9EA451346D9239B44B4A2D248ABA94E77C61AC53C1B",
        "requestedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Lang": "EN"
        },
        "notes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-877a-392d1c36db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:24:44 GMT",
        "trace-id": "8864e1be-6061-774f-8fd5-2ca4f06cb98e"
      },
      "ResponseBody": {
        "id": "530CC2776E2D16F2A0D77E017D5DE66452461E3AE5F503AE0F",
        "jobStatus": "pendingClassification",
        "channelId": "5D09DB30AD14C22C8AFB1F42A41CFD533E7C4553CE494CC621",
        "classificationPolicyId": "2296F5E9EA451346D9239B44B4A2D248ABA94E77C61AC53C1B",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Lang": "EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/530CC2776E2D16F2A0D77E017D5DE66452461E3AE5F503AE0F?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:24:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-c1d9-de2d1c36db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:24:45 GMT",
        "trace-id": "95baf8a8-9eee-564d-a273-cb076172b603"
      },
      "ResponseBody": {
        "id": "530CC2776E2D16F2A0D77E017D5DE66452461E3AE5F503AE0F",
        "jobStatus": "pendingClassification",
        "channelId": "5D09DB30AD14C22C8AFB1F42A41CFD533E7C4553CE494CC621",
        "classificationPolicyId": "2296F5E9EA451346D9239B44B4A2D248ABA94E77C61AC53C1B",
        "queueId": "956B495567F1D22491D0C772CB3EFA6E6B18CC76C6AFD77611",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Lang": "EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/530CC2776E2D16F2A0D77E017D5DE66452461E3AE5F503AE0F?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:24:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-a6a2-372e1c36db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:24:46 GMT",
        "trace-id": "0e2b3582-74b4-0c4d-b055-e65a5c2d5b34"
      },
      "ResponseBody": {
        "id": "530CC2776E2D16F2A0D77E017D5DE66452461E3AE5F503AE0F",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2023-04-05T21:24:46.5439398\u002B00:00",
        "channelId": "5D09DB30AD14C22C8AFB1F42A41CFD533E7C4553CE494CC621",
        "classificationPolicyId": "2296F5E9EA451346D9239B44B4A2D248ABA94E77C61AC53C1B",
        "queueId": "956B495567F1D22491D0C772CB3EFA6E6B18CC76C6AFD77611",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Lang": "EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
