{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/D415A322B0A723A1C3F5228604B2702A843A34886D27F82AF4?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:15 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002271015512-0000-0700-0000-648ccce50000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:13 GMT",
        "trace-id": "dea94705-3944-dd0b-6233-902e16fe75bd"
      },
      "ResponseBody": {
        "id": "D415A322B0A723A1C3F5228604B2702A843A34886D27F82AF4",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:15 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "D415A322B0A723A1C3F5228604B2702A843A34886D27F82AF4",
        "labels": {
          "Region": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577NA",
          "Language": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577EN",
          "Product": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577O365"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220800e84b-0000-0700-0000-648ccce50000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:13 GMT",
        "trace-id": "df098871-bc38-7ef0-51f9-1922c6a265dc"
      },
      "ResponseBody": {
        "id": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577",
        "name": "test",
        "distributionPolicyId": "D415A322B0A723A1C3F5228604B2702A843A34886D27F82AF4",
        "labels": {
          "Region": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577NA",
          "Language": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577EN",
          "Product": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577O365",
          "Id": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/9575CEAAE3CE41419FEA4231A2AD433CEA9AA1B5AD83B6C24E?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:16 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "0FF1FAC729F0ED0951CEC590D28B9187D518364A1AF3C8D118",
        "queueSelectors": [
          {
            "key": "Region",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Language",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Product",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ff00623a-0000-0700-0000-648ccce50000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:13 GMT",
        "trace-id": "b6495da6-8fe8-cc21-2eb5-bbb980929a60"
      },
      "ResponseBody": {
        "id": "9575CEAAE3CE41419FEA4231A2AD433CEA9AA1B5AD83B6C24E",
        "fallbackQueueId": "0FF1FAC729F0ED0951CEC590D28B9187D518364A1AF3C8D118",
        "queueSelectors": [
          {
            "kind": "pass-through",
            "key": "Region",
            "labelOperator": "equal"
          },
          {
            "kind": "pass-through",
            "key": "Language",
            "labelOperator": "equal"
          },
          {
            "kind": "pass-through",
            "key": "Product",
            "labelOperator": "equal"
          },
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577"
            }
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/37F6ACE1E7DAE35CD9612122E590A019BD5CA408E50A308584?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:16 GMT"
      },
      "RequestBody": {
        "channelId": "37F6ACE1E7DAE35CD9612122E590A019BD5CA408E50A308584",
        "classificationPolicyId": "9575CEAAE3CE41419FEA4231A2AD433CEA9AA1B5AD83B6C24E",
        "requestedWorkerSelectors": [],
        "labels": {
          "Product": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577O365",
          "Region": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577NA",
          "Language": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577EN"
        },
        "notes": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-b4f9-c366ac6edb08\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:14 GMT",
        "trace-id": "a71fca6f-d1ab-d19f-d2fb-00c94a865356"
      },
      "ResponseBody": {
        "id": "37F6ACE1E7DAE35CD9612122E590A019BD5CA408E50A308584",
        "status": "pendingClassification",
        "channelId": "37F6ACE1E7DAE35CD9612122E590A019BD5CA408E50A308584",
        "classificationPolicyId": "9575CEAAE3CE41419FEA4231A2AD433CEA9AA1B5AD83B6C24E",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577O365",
          "Region": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577NA",
          "Language": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {},
        "unavailableForMatching": false
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/37F6ACE1E7DAE35CD9612122E590A019BD5CA408E50A308584?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-bec9-fa66ac6edb08\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:14 GMT",
        "trace-id": "31ce3227-dc8f-2fae-d529-b0d84b0181f3"
      },
      "ResponseBody": {
        "id": "37F6ACE1E7DAE35CD9612122E590A019BD5CA408E50A308584",
        "status": "queued",
        "enqueuedAt": "2023-06-16T20:58:14.4199102\u002B00:00",
        "channelId": "37F6ACE1E7DAE35CD9612122E590A019BD5CA408E50A308584",
        "classificationPolicyId": "9575CEAAE3CE41419FEA4231A2AD433CEA9AA1B5AD83B6C24E",
        "queueId": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577O365",
          "Region": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577NA",
          "Language": "3EF23A38C8C81301447DFEFBE76C79402E6A5C18B484521577EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {},
        "unavailableForMatching": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-FlTsnyqB20eJ6th5zp4_kQ-",
    "RandomSeed": "1723431686"
  }
}
