{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/077D051D27FC7ACF5A5AC7606EAF278652C1D9CE726B49140B?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:12 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002259000df2-0000-0700-0000-642ddbbd0000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:13 GMT",
        "trace-id": "e5b489ff-cf43-1d10-e88b-b31b116e9692"
      },
      "ResponseBody": {
        "id": "077D051D27FC7ACF5A5AC7606EAF278652C1D9CE726B49140B",
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/664473D70671FA5B0514064C05DB53FCBB3EA6B939EFC853CE?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:12 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "077D051D27FC7ACF5A5AC7606EAF278652C1D9CE726B49140B",
        "labels": {
          "Region": "NA",
          "Language": "EN",
          "Product": "O365",
          "UniqueIdentifier": "sdk-1-mjVpoSEUGyx1xVc9jbNw-"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220a006ff1-0000-0700-0000-642ddbbd0000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:13 GMT",
        "trace-id": "768f808f-f513-1615-e8d7-6e4f300c778d"
      },
      "ResponseBody": {
        "id": "664473D70671FA5B0514064C05DB53FCBB3EA6B939EFC853CE",
        "name": "test",
        "distributionPolicyId": "077D051D27FC7ACF5A5AC7606EAF278652C1D9CE726B49140B",
        "labels": {
          "Region": "NA",
          "Language": "EN",
          "Product": "O365",
          "UniqueIdentifier": "sdk-1-mjVpoSEUGyx1xVc9jbNw-",
          "Id": "664473D70671FA5B0514064C05DB53FCBB3EA6B939EFC853CE"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/416BFC9D4D2FE9CF6ABE02C245B4D367A989A747593B5F712D?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:13 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "3995D6F6A2C9845B8DF73BCD34AD71DB8F7763D4D532D6A3B5",
        "queueSelectors": [
          {
            "key": "Region",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Language",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Product",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "labelSelector": {
              "key": "UniqueIdentifier",
              "labelOperator": "equal",
              "value": "sdk-1-mjVpoSEUGyx1xVc9jbNw-"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002238007b52-0000-0700-0000-642ddbbe0000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:14 GMT",
        "trace-id": "40a42d24-dda8-a428-d6d9-da91f0f40227"
      },
      "ResponseBody": {
        "id": "416BFC9D4D2FE9CF6ABE02C245B4D367A989A747593B5F712D",
        "fallbackQueueId": "3995D6F6A2C9845B8DF73BCD34AD71DB8F7763D4D532D6A3B5",
        "queueSelectors": [
          {
            "kind": "pass-through",
            "key": "Region",
            "labelOperator": "equal"
          },
          {
            "kind": "pass-through",
            "key": "Language",
            "labelOperator": "equal"
          },
          {
            "kind": "pass-through",
            "key": "Product",
            "labelOperator": "equal"
          },
          {
            "kind": "static",
            "labelSelector": {
              "key": "UniqueIdentifier",
              "labelOperator": "equal",
              "value": "sdk-1-mjVpoSEUGyx1xVc9jbNw-"
            }
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/5708922E9868412684B7343B14ABD2449C9BA92732FC1037D1?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:14 GMT"
      },
      "RequestBody": {
        "channelId": "5708922E9868412684B7343B14ABD2449C9BA92732FC1037D1",
        "classificationPolicyId": "416BFC9D4D2FE9CF6ABE02C245B4D367A989A747593B5F712D",
        "requestedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Language": "EN"
        },
        "notes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-2bb0-e3661536db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:15 GMT",
        "trace-id": "fbb8c8d3-84ab-a0ef-c393-36a8f6b161ea"
      },
      "ResponseBody": {
        "id": "5708922E9868412684B7343B14ABD2449C9BA92732FC1037D1",
        "jobStatus": "pendingClassification",
        "channelId": "5708922E9868412684B7343B14ABD2449C9BA92732FC1037D1",
        "classificationPolicyId": "416BFC9D4D2FE9CF6ABE02C245B4D367A989A747593B5F712D",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Language": "EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/5708922E9868412684B7343B14ABD2449C9BA92732FC1037D1?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-190e-88671536db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:16 GMT",
        "trace-id": "48c16444-6472-6b64-73b8-3ef5dcc8da4e"
      },
      "ResponseBody": {
        "id": "5708922E9868412684B7343B14ABD2449C9BA92732FC1037D1",
        "jobStatus": "pendingClassification",
        "channelId": "5708922E9868412684B7343B14ABD2449C9BA92732FC1037D1",
        "classificationPolicyId": "416BFC9D4D2FE9CF6ABE02C245B4D367A989A747593B5F712D",
        "queueId": "664473D70671FA5B0514064C05DB53FCBB3EA6B939EFC853CE",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Language": "EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/5708922E9868412684B7343B14ABD2449C9BA92732FC1037D1?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-c9b5-e1671536db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:16 GMT",
        "trace-id": "a2fa7c7a-a571-5283-7346-2e090e92e344"
      },
      "ResponseBody": {
        "id": "5708922E9868412684B7343B14ABD2449C9BA92732FC1037D1",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2023-04-05T20:36:16.8115657\u002B00:00",
        "channelId": "5708922E9868412684B7343B14ABD2449C9BA92732FC1037D1",
        "classificationPolicyId": "416BFC9D4D2FE9CF6ABE02C245B4D367A989A747593B5F712D",
        "queueId": "664473D70671FA5B0514064C05DB53FCBB3EA6B939EFC853CE",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Language": "EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-1-mjVpoSEUGyx1xVc9jbNw-",
    "RandomSeed": "792696382"
  }
}
