{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/99A26CBB051F5A567CAC1726EA334F91C1A773D43235C2234B?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:38 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227101c712-0000-0700-0000-648cccfc0000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:36 GMT",
        "trace-id": "b88aa6aa-1cb6-decc-cba0-319ae98029c7"
      },
      "ResponseBody": {
        "id": "99A26CBB051F5A567CAC1726EA334F91C1A773D43235C2234B",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/99A26CBB051F5A567CAC1726EA334F91C1A773D43235C2234B?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:39 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "99A26CBB051F5A567CAC1726EA334F91C1A773D43235C2234B"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220800004c-0000-0700-0000-648cccfc0000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:36 GMT",
        "trace-id": "bd2fda48-0627-2f39-d081-6da0086ef63f"
      },
      "ResponseBody": {
        "id": "99A26CBB051F5A567CAC1726EA334F91C1A773D43235C2234B",
        "name": "test",
        "distributionPolicyId": "99A26CBB051F5A567CAC1726EA334F91C1A773D43235C2234B",
        "labels": {
          "Id": "99A26CBB051F5A567CAC1726EA334F91C1A773D43235C2234B"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/E2D26768096D29B01DDDDF2665B182307973E86127468C2079?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:39 GMT"
      },
      "RequestBody": {
        "queueSelectors": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "99A26CBB051F5A567CAC1726EA334F91C1A773D43235C2234B"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ff00123b-0000-0700-0000-648cccfc0000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:36 GMT",
        "trace-id": "06fd52cc-ef1f-cbc7-a7f5-221b6fc6f962"
      },
      "ResponseBody": {
        "id": "E2D26768096D29B01DDDDF2665B182307973E86127468C2079",
        "queueSelectors": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "99A26CBB051F5A567CAC1726EA334F91C1A773D43235C2234B"
            }
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/0BF650F51CBA1C558AAB583905C4E00791895B90E1C4F4A3F9?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:39 GMT"
      },
      "RequestBody": {
        "channelId": "3BA0A4024E8E529162E235D43751359A8731AC1135339F3722",
        "classificationPolicyId": "E2D26768096D29B01DDDDF2665B182307973E86127468C2079",
        "requestedWorkerSelectors": [],
        "notes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000020-0000-0000-f914-7e74ac6edb08\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:37 GMT",
        "trace-id": "d9e98510-ee4b-bb4e-8081-9c89ddafaa4e"
      },
      "ResponseBody": {
        "id": "0BF650F51CBA1C558AAB583905C4E00791895B90E1C4F4A3F9",
        "status": "pendingClassification",
        "enqueuedAt": "2023-06-16T19:54:42.2965996\u002B00:00",
        "channelId": "3BA0A4024E8E529162E235D43751359A8731AC1135339F3722",
        "classificationPolicyId": "E2D26768096D29B01DDDDF2665B182307973E86127468C2079",
        "queueId": "6713988A8EAC5F0F8135AE9CC45E7C1EC33D7C43C8BAE1328B",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "unavailableForMatching": false
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/0BF650F51CBA1C558AAB583905C4E00791895B90E1C4F4A3F9?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000022-0000-0000-eb6f-b474ac6edb08\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:37 GMT",
        "trace-id": "63743768-3d61-f371-2f2d-7e815b9f56cb"
      },
      "ResponseBody": {
        "id": "0BF650F51CBA1C558AAB583905C4E00791895B90E1C4F4A3F9",
        "status": "queued",
        "enqueuedAt": "2023-06-16T19:54:42.2965996\u002B00:00",
        "channelId": "3BA0A4024E8E529162E235D43751359A8731AC1135339F3722",
        "classificationPolicyId": "E2D26768096D29B01DDDDF2665B182307973E86127468C2079",
        "queueId": "99A26CBB051F5A567CAC1726EA334F91C1A773D43235C2234B",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "unavailableForMatching": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-gmc4XTW-9E-f6yJStJYq_Q-",
    "RandomSeed": "2085726446"
  }
}
