{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/38-B9-41-3B-AE-E3-C4-8A-B4-D0-46-0C-88-03-95-E4-F1?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Jul 2022 04:20:40 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223107b1d5-0000-0700-0000-62db77190000\u0022",
        "Last-Modified": "Sat, 23 Jul 2022 04:20:41 GMT",
        "trace-id": "be928904fa6380429106e3abb6b61808"
      },
      "ResponseBody": {
        "id": "38-B9-41-3B-AE-E3-C4-8A-B4-D0-46-0C-88-03-95-E4-F1",
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/38-B9-41-3B-AE-E3-C4-8A-B4-D0-46-0C-88-03-95-E4-F1?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Jul 2022 04:20:42 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "38-B9-41-3B-AE-E3-C4-8A-B4-D0-46-0C-88-03-95-E4-F1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225f006e58-0000-0700-0000-62db771b0000\u0022",
        "Last-Modified": "Sat, 23 Jul 2022 04:20:43 GMT",
        "trace-id": "55b83e7e93ef714586d81eff0870945f"
      },
      "ResponseBody": {
        "id": "38-B9-41-3B-AE-E3-C4-8A-B4-D0-46-0C-88-03-95-E4-F1",
        "name": "test",
        "distributionPolicyId": "38-B9-41-3B-AE-E3-C4-8A-B4-D0-46-0C-88-03-95-E4-F1",
        "labels": {
          "Id": "38-B9-41-3B-AE-E3-C4-8A-B4-D0-46-0C-88-03-95-E4-F1"
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/B6-63-50-00-95-49-97-9F-F5-C6-2C-F9-AB-F2-35-4F-E8?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Jul 2022 04:20:43 GMT"
      },
      "RequestBody": {
        "queueSelectors": [
          {
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "38-B9-41-3B-AE-E3-C4-8A-B4-D0-46-0C-88-03-95-E4-F1"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224a014d68-0000-0700-0000-62db771c0000\u0022",
        "Last-Modified": "Sat, 23 Jul 2022 04:20:44 GMT",
        "trace-id": "3bec596b10a63f4ab781cd112dc05ebe"
      },
      "ResponseBody": {
        "id": "B6-63-50-00-95-49-97-9F-F5-C6-2C-F9-AB-F2-35-4F-E8",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "38-B9-41-3B-AE-E3-C4-8A-B4-D0-46-0C-88-03-95-E4-F1"
            }
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/0B-F6-50-F5-1C-BA-1C-55-8A-AB-58-39-05-C4-E0-07-91?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Jul 2022 04:20:45 GMT"
      },
      "RequestBody": {
        "channelId": "A6-6D-56-0C-C8-19-96-F6-7B-AB-34-5A-D7-70-4F-17-AD",
        "classificationPolicyId": "B6-63-50-00-95-49-97-9F-F5-C6-2C-F9-AB-F2-35-4F-E8",
        "priority": 0,
        "requestedWorkerSelectors": [],
        "notes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000004b-0000-0000-2ad2-1cb7626cda08\u0022",
        "Last-Modified": "Sat, 23 Jul 2022 04:20:46 GMT",
        "trace-id": "721a02f2ff3ced4694b035626e095bdd"
      },
      "ResponseBody": {
        "id": "0B-F6-50-F5-1C-BA-1C-55-8A-AB-58-39-05-C4-E0-07-91",
        "jobStatus": "pendingClassification",
        "enqueueTimeUtc": "2022-06-15T17:39:26.8197457\u002B00:00",
        "channelId": "A6-6D-56-0C-C8-19-96-F6-7B-AB-34-5A-D7-70-4F-17-AD",
        "classificationPolicyId": "B6-63-50-00-95-49-97-9F-F5-C6-2C-F9-AB-F2-35-4F-E8",
        "queueId": "94-78-08-36-DD-F9-EE-9F-AC-71-06-E1-64-BE-8A-76-A7",
        "priority": 0,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/0B-F6-50-F5-1C-BA-1C-55-8A-AB-58-39-05-C4-E0-07-91?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Jul 2022 04:20:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000004d-0000-0000-659b-2bb8626cda08\u0022",
        "Last-Modified": "Sat, 23 Jul 2022 04:20:47 GMT",
        "trace-id": "7a735c1fae3b8b4781ea1b5824bed9df"
      },
      "ResponseBody": {
        "id": "0B-F6-50-F5-1C-BA-1C-55-8A-AB-58-39-05-C4-E0-07-91",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-06-15T17:39:26.8197457\u002B00:00",
        "channelId": "A6-6D-56-0C-C8-19-96-F6-7B-AB-34-5A-D7-70-4F-17-AD",
        "classificationPolicyId": "B6-63-50-00-95-49-97-9F-F5-C6-2C-F9-AB-F2-35-4F-E8",
        "queueId": "38-B9-41-3B-AE-E3-C4-8A-B4-D0-46-0C-88-03-95-E4-F1",
        "priority": 0,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-ouj8rD8AkUOKy1MLu6GUFA-",
    "RandomSeed": "651868328"
  }
}
