{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/54197481C2DB89F3C3DEA20FA40AD5A060B2531FFB4A5D80B5?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:13 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002271014b12-0000-0700-0000-648ccce20000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:10 GMT",
        "trace-id": "32be0a5b-6854-7c3d-8de4-534e95669c25"
      },
      "ResponseBody": {
        "id": "54197481C2DB89F3C3DEA20FA40AD5A060B2531FFB4A5D80B5",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/B76A1F924F80623AF26036A896DB6FFD64E0503D8D33E5E76C?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:13 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "54197481C2DB89F3C3DEA20FA40AD5A060B2531FFB4A5D80B5"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220800e74b-0000-0700-0000-648ccce30000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:11 GMT",
        "trace-id": "177dc3bf-f4f0-1828-a441-ea8a6adaf096"
      },
      "ResponseBody": {
        "id": "B76A1F924F80623AF26036A896DB6FFD64E0503D8D33E5E76C",
        "name": "test",
        "distributionPolicyId": "54197481C2DB89F3C3DEA20FA40AD5A060B2531FFB4A5D80B5",
        "labels": {
          "Id": "B76A1F924F80623AF26036A896DB6FFD64E0503D8D33E5E76C"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/C939A736FA87BC9446E37B52B63D2ACECD319B1D5C82A648F3?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:13 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "B76A1F924F80623AF26036A896DB6FFD64E0503D8D33E5E76C",
        "queueSelectors": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "QueueIdDoesNotExist"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ff00503a-0000-0700-0000-648ccce30000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:11 GMT",
        "trace-id": "c8e0ba73-7cb6-80a8-d5ee-b86b98c1c7e7"
      },
      "ResponseBody": {
        "id": "C939A736FA87BC9446E37B52B63D2ACECD319B1D5C82A648F3",
        "fallbackQueueId": "B76A1F924F80623AF26036A896DB6FFD64E0503D8D33E5E76C",
        "queueSelectors": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "QueueIdDoesNotExist"
            }
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/6386FC918ED8DAF24B342B08838A0A1D7BC0455CB755058429?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:14 GMT"
      },
      "RequestBody": {
        "channelId": "9BAB2183F813068D95E0768F66FA69158E534AE10774424CB5",
        "classificationPolicyId": "C939A736FA87BC9446E37B52B63D2ACECD319B1D5C82A648F3",
        "requestedWorkerSelectors": [],
        "notes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000010-0000-0000-0b6e-5c65ac6edb08\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:11 GMT",
        "trace-id": "332eed57-b644-1133-cffc-3a2264e433e2"
      },
      "ResponseBody": {
        "id": "6386FC918ED8DAF24B342B08838A0A1D7BC0455CB755058429",
        "status": "pendingClassification",
        "enqueuedAt": "2023-06-16T19:54:32.5427896\u002B00:00",
        "channelId": "9BAB2183F813068D95E0768F66FA69158E534AE10774424CB5",
        "classificationPolicyId": "C939A736FA87BC9446E37B52B63D2ACECD319B1D5C82A648F3",
        "queueId": "9CFF86F5FAE49A3037A80FB549CE48BE8913BEDAFF353B6C19",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "unavailableForMatching": false
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/6386FC918ED8DAF24B342B08838A0A1D7BC0455CB755058429?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000012-0000-0000-69ba-9f65ac6edb08\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:12 GMT",
        "trace-id": "7d6b2215-7e35-d798-6373-84818599e59c"
      },
      "ResponseBody": {
        "id": "6386FC918ED8DAF24B342B08838A0A1D7BC0455CB755058429",
        "status": "queued",
        "enqueuedAt": "2023-06-16T19:54:32.5427896\u002B00:00",
        "channelId": "9BAB2183F813068D95E0768F66FA69158E534AE10774424CB5",
        "classificationPolicyId": "C939A736FA87BC9446E37B52B63D2ACECD319B1D5C82A648F3",
        "queueId": "B76A1F924F80623AF26036A896DB6FFD64E0503D8D33E5E76C",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "unavailableForMatching": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-7Bx3Pnujh0qwJ9z3hM_sfQ-",
    "RandomSeed": "1668362761"
  }
}
