{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/FE-E6-99-B3-62-1F-31-19-89-60-E8-2E-63-F1-8F-C8-9A?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:39:12 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002292021ce4-0000-0700-0000-62aa19410000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:39:13 GMT",
        "trace-id": "ebe9fc2ecac3ad4d8b7bccce5caf91d4"
      },
      "ResponseBody": {
        "id": "FE-E6-99-B3-62-1F-31-19-89-60-E8-2E-63-F1-8F-C8-9A",
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/73-D9-BA-5F-99-73-80-6F-44-79-2E-2D-EC-D9-D9-D4-6F?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:39:12 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "FE-E6-99-B3-62-1F-31-19-89-60-E8-2E-63-F1-8F-C8-9A",
        "labels": {
          "Region": "NA",
          "Language": "en",
          "Product": "O365",
          "UniqueIdentifier": "sdk-F-vP2AlmgEG_UfhB1QqNNw-"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002222042959-0000-0700-0000-62aa19420000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:39:14 GMT",
        "trace-id": "a7b89b4e4fb448498b31b626248dadc9"
      },
      "ResponseBody": {
        "id": "73-D9-BA-5F-99-73-80-6F-44-79-2E-2D-EC-D9-D9-D4-6F",
        "name": "test",
        "distributionPolicyId": "FE-E6-99-B3-62-1F-31-19-89-60-E8-2E-63-F1-8F-C8-9A",
        "labels": {
          "Region": "NA",
          "Language": "en",
          "Product": "O365",
          "UniqueIdentifier": "sdk-F-vP2AlmgEG_UfhB1QqNNw-",
          "Id": "73-D9-BA-5F-99-73-80-6F-44-79-2E-2D-EC-D9-D9-D4-6F"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/EE-17-48-94-AD-B1-3C-1D-39-3D-BA-00-3E-53-EE-57-C8?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:39:13 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "46-E9-FE-7E-48-44-C6-5D-E7-01-44-F0-96-F7-22-42-A3",
        "queueSelectors": [
          {
            "key": "Region",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Product",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u0022EN\u0022, true, false)",
              "kind": "expression-rule"
            },
            "labelSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "en"
              }
            ],
            "kind": "conditional"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u0022FR\u0022, true, false)",
              "kind": "expression-rule"
            },
            "labelSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "fr"
              }
            ],
            "kind": "conditional"
          },
          {
            "labelSelector": {
              "key": "UniqueIdentifier",
              "labelOperator": "equal",
              "value": "sdk-F-vP2AlmgEG_UfhB1QqNNw-"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022220879d7-0000-0700-0000-62aa19420000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:39:14 GMT",
        "trace-id": "0aadf4aa497e33419f28bf54cbe78f9e"
      },
      "ResponseBody": {
        "id": "EE-17-48-94-AD-B1-3C-1D-39-3D-BA-00-3E-53-EE-57-C8",
        "fallbac[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/AE-D8-0C-1F-63-D9-70-8B-80-33-62-F2-EE-85-F5-A6-49?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:39:13 GMT"
      },
      "RequestBody": {
        "channelId": "3F-FE-3B-69-DF-7F-40-D5-38-D9-D5-40-3D-50-D2-86-E1",
        "classificationPolicyId": "EE-17-48-94-AD-B1-3C-1D-39-3D-BA-00-3E-53-EE-57-C8",
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Lang": "EN"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-1bf9-57f7f54eda08\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:39:15 GMT",
        "trace-id": "887d5114aa3012438afb0d4307dbc425"
      },
      "ResponseBody": {
        "id": "AE-D8-0C-1F-63-D9-70-8B-80-33-62-F2-EE-85-F5-A6-49",
        "jobStatus": "pendingClassification",
        "channelId": "3F-FE-3B-69-DF-7F-40-D5-38-D9-D5-40-3D-50-D2-86-E1",
        "classificationPolicyId": "EE-17-48-94-AD-B1-3C-1D-39-3D-BA-00-3E-53-EE-57-C8",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Lang": "EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/AE-D8-0C-1F-63-D9-70-8B-80-33-62-F2-EE-85-F5-A6-49?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:39:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-7e86-8ff8f54eda08\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:39:17 GMT",
        "trace-id": "223c1a9217a0e040800737f4941797f0"
      },
      "ResponseBody": {
        "id": "AE-D8-0C-1F-63-D9-70-8B-80-33-62-F2-EE-85-F5-A6-49",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-06-15T17:39:17.045619\u002B00:00",
        "channelId": "3F-FE-3B-69-DF-7F-40-D5-38-D9-D5-40-3D-50-D2-86-E1",
        "classificationPolicyId": "EE-17-48-94-AD-B1-3C-1D-39-3D-BA-00-3E-53-EE-57-C8",
        "queueId": "73-D9-BA-5F-99-73-80-6F-44-79-2E-2D-EC-D9-D9-D4-6F",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Lang": "EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
