{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/74A1A815BC1E79C3854F939DEA2C5513A12ABBED49F2BA62AE?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:17 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022590012f3-0000-0700-0000-642ddbc20000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:18 GMT",
        "trace-id": "8b96a23b-e633-0de9-ae62-f0350c846854"
      },
      "ResponseBody": {
        "id": "74A1A815BC1E79C3854F939DEA2C5513A12ABBED49F2BA62AE",
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/74A1A815BC1E79C3854F939DEA2C5513A12ABBED49F2BA62AE?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:17 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "74A1A815BC1E79C3854F939DEA2C5513A12ABBED49F2BA62AE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220a008ff1-0000-0700-0000-642ddbc20000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:18 GMT",
        "trace-id": "01fc10a0-3552-ac5c-d39b-13505a96c02f"
      },
      "ResponseBody": {
        "id": "74A1A815BC1E79C3854F939DEA2C5513A12ABBED49F2BA62AE",
        "name": "test",
        "distributionPolicyId": "74A1A815BC1E79C3854F939DEA2C5513A12ABBED49F2BA62AE",
        "labels": {
          "Id": "74A1A815BC1E79C3854F939DEA2C5513A12ABBED49F2BA62AE"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/BCBDEC6FAD52170143A002C4F64C3BE2DC052F6172C9A2CD8C?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:17 GMT"
      },
      "RequestBody": {
        "queueSelectors": [
          {
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "74A1A815BC1E79C3854F939DEA2C5513A12ABBED49F2BA62AE"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223800e252-0000-0700-0000-642ddbc20000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:18 GMT",
        "trace-id": "7ec04075-77cf-f344-3aae-040662f1ed94"
      },
      "ResponseBody": {
        "id": "BCBDEC6FAD52170143A002C4F64C3BE2DC052F6172C9A2CD8C",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "74A1A815BC1E79C3854F939DEA2C5513A12ABBED49F2BA62AE"
            }
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/0BF650F51CBA1C558AAB583905C4E00791895B90E1C4F4A3F9?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:18 GMT"
      },
      "RequestBody": {
        "channelId": "8502749BDB6AF98A06CC82E9AADFBE0226806B9FDBF7B05E37",
        "classificationPolicyId": "BCBDEC6FAD52170143A002C4F64C3BE2DC052F6172C9A2CD8C",
        "requestedWorkerSelectors": [],
        "notes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000000f-0000-0000-1c9f-58691536db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:19 GMT",
        "trace-id": "04ce26d5-08df-451a-a743-a2d9cab748b4"
      },
      "ResponseBody": {
        "id": "0BF650F51CBA1C558AAB583905C4E00791895B90E1C4F4A3F9",
        "jobStatus": "pendingClassification",
        "enqueueTimeUtc": "2023-04-05T20:25:16.8064023\u002B00:00",
        "channelId": "8502749BDB6AF98A06CC82E9AADFBE0226806B9FDBF7B05E37",
        "classificationPolicyId": "BCBDEC6FAD52170143A002C4F64C3BE2DC052F6172C9A2CD8C",
        "queueId": "4717AD4A7E9F92F36B88CE24D324D0231BDB2D21EC0574FA13",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/0BF650F51CBA1C558AAB583905C4E00791895B90E1C4F4A3F9?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000011-0000-0000-5e8b-3c6a1536db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:20 GMT",
        "trace-id": "3e8aa9d5-9a81-86cd-0e11-3a9ee5cd3e1c"
      },
      "ResponseBody": {
        "id": "0BF650F51CBA1C558AAB583905C4E00791895B90E1C4F4A3F9",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2023-04-05T20:25:16.8064023\u002B00:00",
        "channelId": "8502749BDB6AF98A06CC82E9AADFBE0226806B9FDBF7B05E37",
        "classificationPolicyId": "BCBDEC6FAD52170143A002C4F64C3BE2DC052F6172C9A2CD8C",
        "queueId": "74A1A815BC1E79C3854F939DEA2C5513A12ABBED49F2BA62AE",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-eg4i3-6eiUedFUwaRjcJbg-",
    "RandomSeed": "1193546479"
  }
}
