{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/F35940D8552ED8314D899B27C8C734890AE82526723A6489D0?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:25:08 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225c007c5d-0000-0700-0000-642de7350000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:25:09 GMT",
        "trace-id": "7346a836-10ed-cd4d-81ce-07e19cf07ac3"
      },
      "ResponseBody": {
        "id": "F35940D8552ED8314D899B27C8C734890AE82526723A6489D0",
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/C395CDF2B612028C91A488B8C0E8F4FCB559BF5E4113F44D10?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:25:09 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "F35940D8552ED8314D899B27C8C734890AE82526723A6489D0",
        "labels": {
          "Region": "NA",
          "Language": "en",
          "Product": "O365",
          "UniqueIdentifier": "sdk-5werAuYaTkudwx9XxVUD5A-"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b007128-0000-0700-0000-642de7360000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:25:10 GMT",
        "trace-id": "0f224ba7-d6bc-524c-a602-c9fc73fa31e0"
      },
      "ResponseBody": {
        "id": "C395CDF2B612028C91A488B8C0E8F4FCB559BF5E4113F44D10",
        "name": "test",
        "distributionPolicyId": "F35940D8552ED8314D899B27C8C734890AE82526723A6489D0",
        "labels": {
          "Region": "NA",
          "Language": "en",
          "Product": "O365",
          "UniqueIdentifier": "sdk-5werAuYaTkudwx9XxVUD5A-",
          "Id": "C395CDF2B612028C91A488B8C0E8F4FCB559BF5E4113F44D10"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/FD7EC3FC8C8235F3A19DCDB930DC4DF5D3021C30EE90C35DE4?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:25:10 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "7E50947AB072F29D36F108971F4A538E55502163316DF1084B",
        "queueSelectors": [
          {
            "key": "Region",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Product",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u0022EN\u0022, true, false)",
              "kind": "expression-rule"
            },
            "labelSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "en"
              }
            ],
            "kind": "conditional"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u0022FR\u0022, true, false)",
              "kind": "expression-rule"
            },
            "labelSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "fr"
              }
            ],
            "kind": "conditional"
          },
          {
            "labelSelector": {
              "key": "UniqueIdentifier",
              "labelOperator": "equal",
              "value": "sdk-5werAuYaTkudwx9XxVUD5A-"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002239000479-0000-0700-0000-642de7370000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:25:11 GMT",
        "trace-id": "f22a9cdd-401e-0a43-97bb-7e77b3914b4b"
      },
      "ResponseBody": {
        "id": "FD7EC3FC8C8235F3A19DCDB930DC4DF5D3021C30EE90C35DE4",
        "fall[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/4F98D9C684CFAADD5618BDE426C2ED87EBA856E6F1A78CB9F3?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:25:10 GMT"
      },
      "RequestBody": {
        "channelId": "9F2D0B5738E46C3B73C7F66E1660357FAC3FA4813637FE428F",
        "classificationPolicyId": "FD7EC3FC8C8235F3A19DCDB930DC4DF5D3021C30EE90C35DE4",
        "requestedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Lang": "EN"
        },
        "notes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-c0b4-5a3d1c36db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:25:11 GMT",
        "trace-id": "fdccdeac-4459-774a-ac65-c4ff12e1545e"
      },
      "ResponseBody": {
        "id": "4F98D9C684CFAADD5618BDE426C2ED87EBA856E6F1A78CB9F3",
        "jobStatus": "pendingClassification",
        "channelId": "9F2D0B5738E46C3B73C7F66E1660357FAC3FA4813637FE428F",
        "classificationPolicyId": "FD7EC3FC8C8235F3A19DCDB930DC4DF5D3021C30EE90C35DE4",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Lang": "EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/4F98D9C684CFAADD5618BDE426C2ED87EBA856E6F1A78CB9F3?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:25:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-97aa-fb3d1c36db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:25:12 GMT",
        "trace-id": "88717ca7-0dd1-e440-ace9-fa8c3019d6dc"
      },
      "ResponseBody": {
        "id": "4F98D9C684CFAADD5618BDE426C2ED87EBA856E6F1A78CB9F3",
        "jobStatus": "pendingClassification",
        "channelId": "9F2D0B5738E46C3B73C7F66E1660357FAC3FA4813637FE428F",
        "classificationPolicyId": "FD7EC3FC8C8235F3A19DCDB930DC4DF5D3021C30EE90C35DE4",
        "queueId": "C395CDF2B612028C91A488B8C0E8F4FCB559BF5E4113F44D10",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Lang": "EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/4F98D9C684CFAADD5618BDE426C2ED87EBA856E6F1A78CB9F3?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:25:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-c8f5-553e1c36db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:25:13 GMT",
        "trace-id": "815289d2-2e19-9944-9118-a0e01836d5fd"
      },
      "ResponseBody": {
        "id": "4F98D9C684CFAADD5618BDE426C2ED87EBA856E6F1A78CB9F3",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2023-04-05T21:25:13.5862216\u002B00:00",
        "channelId": "9F2D0B5738E46C3B73C7F66E1660357FAC3FA4813637FE428F",
        "classificationPolicyId": "FD7EC3FC8C8235F3A19DCDB930DC4DF5D3021C30EE90C35DE4",
        "queueId": "C395CDF2B612028C91A488B8C0E8F4FCB559BF5E4113F44D10",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Lang": "EN"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
