{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/A8-89-42-EA-29-75-43-5D-00-31-8E-3C-4D-78-EC-7B-F5?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:21 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229f0239bc-0000-0700-0000-62aa85910000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:21:21 GMT",
        "trace-id": "dc8edd54c8c22e488ee430e8f1d5a8c7"
      },
      "ResponseBody": {
        "id": "A8-89-42-EA-29-75-43-5D-00-31-8E-3C-4D-78-EC-7B-F5",
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/A8-89-42-EA-29-75-43-5D-00-31-8E-3C-4D-78-EC-7B-F5?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:22 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "A8-89-42-EA-29-75-43-5D-00-31-8E-3C-4D-78-EC-7B-F5",
        "labels": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002225049db1-0000-0700-0000-62aa85920000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:21:22 GMT",
        "trace-id": "ff0b0bbf330ca94c97ad57de406fdcad"
      },
      "ResponseBody": {
        "id": "A8-89-42-EA-29-75-43-5D-00-31-8E-3C-4D-78-EC-7B-F5",
        "name": "test",
        "distributionPolicyId": "A8-89-42-EA-29-75-43-5D-00-31-8E-3C-4D-78-EC-7B-F5",
        "labels": {
          "Id": "A8-89-42-EA-29-75-43-5D-00-31-8E-3C-4D-78-EC-7B-F5"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/97-48-C5-CD-B9-AD-4B-F5-B4-EE-FF-96-C7-3E-3B-C8-3A?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:22 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "8F-B9-52-44-55-3E-00-52-24-F7-2A-5A-C3-EB-04-4F-3E",
        "queueSelectors": [
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Product = \u0022O365\u0022, true, false)",
              "kind": "expression-rule"
            },
            "labelSelectors": [
              {
                "key": "Id",
                "labelOperator": "equal",
                "value": "A8-89-42-EA-29-75-43-5D-00-31-8E-3C-4D-78-EC-7B-F5"
              }
            ],
            "kind": "conditional"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022220853db-0000-0700-0000-62aa85920000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:21:22 GMT",
        "trace-id": "1c0443eb74ad8a43a6becbdab3a8a420"
      },
      "ResponseBody": {
        "id": "97-48-C5-CD-B9-AD-4B-F5-B4-EE-FF-96-C7-3E-3B-C8-3A",
        "fallbackQueueId": "8F-B9-52-44-55-3E-00-52-24-F7-2A-5A-C3-EB-04-4F-3E",
        "queueSelectors": [
          {
            "kind": "conditional",
            "condition": {
              "kind": "expression-rule",
              "language": "powerFx",
              "expression": "If(job.Product = \u0022O365\u0022, true, false)"
            },
            "labelSelectors": [
              {
                "key": "Id",
                "labelOperator": "equal",
                "value": "A8-89-42-EA-29-75-43-5D-00-31-8E-3C-4D-78-EC-7B-F5"
              }
            ]
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/A8-89-42-EA-29-75-43-5D-00-31-8E-3C-4D-78-EC-7B-F5?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:22 GMT"
      },
      "RequestBody": {
        "channelId": "7F-1E-BC-7C-EC-FF-2A-95-89-2F-42-10-C6-2F-10-2C-30",
        "classificationPolicyId": "97-48-C5-CD-B9-AD-4B-F5-B4-EE-FF-96-C7-3E-3B-C8-3A",
        "labels": {
          "Product": "O365"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-799d-4086364fda08\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:21:22 GMT",
        "trace-id": "3e1b5bd7f029f744ab3e8595fd103aed"
      },
      "ResponseBody": {
        "id": "A8-89-42-EA-29-75-43-5D-00-31-8E-3C-4D-78-EC-7B-F5",
        "jobStatus": "pendingClassification",
        "channelId": "7F-1E-BC-7C-EC-FF-2A-95-89-2F-42-10-C6-2F-10-2C-30",
        "classificationPolicyId": "97-48-C5-CD-B9-AD-4B-F5-B4-EE-FF-96-C7-3E-3B-C8-3A",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/A8-89-42-EA-29-75-43-5D-00-31-8E-3C-4D-78-EC-7B-F5?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-293f-6886364fda08\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:21:22 GMT",
        "trace-id": "5c2fe355593ccd409f4e93f600dfaab1"
      },
      "ResponseBody": {
        "id": "A8-89-42-EA-29-75-43-5D-00-31-8E-3C-4D-78-EC-7B-F5",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-06-16T01:21:22.8153641\u002B00:00",
        "channelId": "7F-1E-BC-7C-EC-FF-2A-95-89-2F-42-10-C6-2F-10-2C-30",
        "classificationPolicyId": "97-48-C5-CD-B9-AD-4B-F5-B4-EE-FF-96-C7-3E-3B-C8-3A",
        "queueId": "A8-89-42-EA-29-75-43-5D-00-31-8E-3C-4D-78-EC-7B-F5",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-VMUUvMkNikmVbKGEIRk_sQ-",
    "RandomSeed": "54402909"
  }
}
