{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/5C-FB-AC-71-8B-A4-A7-08-C2-17-90-DE-C5-7D-8D-9E-4B?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:38 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229f02c716-0000-0700-0000-62aa6f230000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:39 GMT",
        "trace-id": "74a6b5c8456cbb4d926788539612adf6"
      },
      "ResponseBody": {
        "id": "5C-FB-AC-71-8B-A4-A7-08-C2-17-90-DE-C5-7D-8D-9E-4B",
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/5C-FB-AC-71-8B-A4-A7-08-C2-17-90-DE-C5-7D-8D-9E-4B?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:39 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "5C-FB-AC-71-8B-A4-A7-08-C2-17-90-DE-C5-7D-8D-9E-4B",
        "labels": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222504ba2d-0000-0700-0000-62aa6f230000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:39 GMT",
        "trace-id": "483fe92138e05e4db7035dd0fd36426f"
      },
      "ResponseBody": {
        "id": "5C-FB-AC-71-8B-A4-A7-08-C2-17-90-DE-C5-7D-8D-9E-4B",
        "name": "test",
        "distributionPolicyId": "5C-FB-AC-71-8B-A4-A7-08-C2-17-90-DE-C5-7D-8D-9E-4B",
        "labels": {
          "Id": "5C-FB-AC-71-8B-A4-A7-08-C2-17-90-DE-C5-7D-8D-9E-4B"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/5A-9A-7E-52-9D-99-A5-EE-82-9F-03-6F-3C-0E-5A-AD-AD?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:39 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "D2-FF-74-D0-C4-FD-CF-A8-0A-DA-FC-10-C5-85-21-7D-B1",
        "queueSelectors": [
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Product = \u0022O365\u0022, true, false)",
              "kind": "expression-rule"
            },
            "labelSelectors": [
              {
                "key": "Id",
                "labelOperator": "equal",
                "value": "5C-FB-AC-71-8B-A4-A7-08-C2-17-90-DE-C5-7D-8D-9E-4B"
              }
            ],
            "kind": "conditional"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022220886da-0000-0700-0000-62aa6f230000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:39 GMT",
        "trace-id": "a368b023babf9b408ec412a4933a3a14"
      },
      "ResponseBody": {
        "id": "5A-9A-7E-52-9D-99-A5-EE-82-9F-03-6F-3C-0E-5A-AD-AD",
        "fallbackQueueId": "D2-FF-74-D0-C4-FD-CF-A8-0A-DA-FC-10-C5-85-21-7D-B1",
        "queueSelectors": [
          {
            "kind": "conditional",
            "condition": {
              "kind": "expression-rule",
              "language": "powerFx",
              "expression": "If(job.Product = \u0022O365\u0022, true, false)"
            },
            "labelSelectors": [
              {
                "key": "Id",
                "labelOperator": "equal",
                "value": "5C-FB-AC-71-8B-A4-A7-08-C2-17-90-DE-C5-7D-8D-9E-4B"
              }
            ]
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/5C-FB-AC-71-8B-A4-A7-08-C2-17-90-DE-C5-7D-8D-9E-4B?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:39 GMT"
      },
      "RequestBody": {
        "channelId": "14-4D-17-2F-07-C8-09-E6-13-50-1A-36-24-84-23-DD-30",
        "classificationPolicyId": "5A-9A-7E-52-9D-99-A5-EE-82-9F-03-6F-3C-0E-5A-AD-AD",
        "labels": {
          "Product": "O365"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-94f8-2a27294fda08\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:39 GMT",
        "trace-id": "029987ff898e2b43a8f66df5d0243d9e"
      },
      "ResponseBody": {
        "id": "5C-FB-AC-71-8B-A4-A7-08-C2-17-90-DE-C5-7D-8D-9E-4B",
        "jobStatus": "pendingClassification",
        "channelId": "14-4D-17-2F-07-C8-09-E6-13-50-1A-36-24-84-23-DD-30",
        "classificationPolicyId": "5A-9A-7E-52-9D-99-A5-EE-82-9F-03-6F-3C-0E-5A-AD-AD",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/5C-FB-AC-71-8B-A4-A7-08-C2-17-90-DE-C5-7D-8D-9E-4B?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-4e7b-5227294fda08\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:39 GMT",
        "trace-id": "ac149405a204164198bba4e2cf239426"
      },
      "ResponseBody": {
        "id": "5C-FB-AC-71-8B-A4-A7-08-C2-17-90-DE-C5-7D-8D-9E-4B",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-06-15T23:45:39.8316878\u002B00:00",
        "channelId": "14-4D-17-2F-07-C8-09-E6-13-50-1A-36-24-84-23-DD-30",
        "classificationPolicyId": "5A-9A-7E-52-9D-99-A5-EE-82-9F-03-6F-3C-0E-5A-AD-AD",
        "queueId": "5C-FB-AC-71-8B-A4-A7-08-C2-17-90-DE-C5-7D-8D-9E-4B",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-zS-ZLsj-w06Ro2_f_dgoUw-",
    "RandomSeed": "419016247"
  }
}
