{
  "Entries": [
    {
      "RequestUri": "https://wzhao-test.int.communication.azure.net/routing/distributionPolicies/AD-FD-53-E6-F7-1A-4A-B0-C8-9D-FB-41-CF-86-82-EA-B6?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 15 Aug 2022 17:44:51 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002207027b0d-0000-0700-0000-62fa86150000\u0022",
        "Last-Modified": "Mon, 15 Aug 2022 17:44:53 GMT",
        "trace-id": "c48bfdc76957f24e90f7512a271895f0"
      },
      "ResponseBody": {
        "id": "AD-FD-53-E6-F7-1A-4A-B0-C8-9D-FB-41-CF-86-82-EA-B6",
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://wzhao-test.int.communication.azure.net/routing/queues/AD-FD-53-E6-F7-1A-4A-B0-C8-9D-FB-41-CF-86-82-EA-B6?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 15 Aug 2022 17:44:53 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "AD-FD-53-E6-F7-1A-4A-B0-C8-9D-FB-41-CF-86-82-EA-B6"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225e0053b9-0000-0700-0000-62fa86160000\u0022",
        "Last-Modified": "Mon, 15 Aug 2022 17:44:54 GMT",
        "trace-id": "7a7c9978c00e484b8b6750c5be65b2ba"
      },
      "ResponseBody": {
        "id": "AD-FD-53-E6-F7-1A-4A-B0-C8-9D-FB-41-CF-86-82-EA-B6",
        "name": "test",
        "distributionPolicyId": "AD-FD-53-E6-F7-1A-4A-B0-C8-9D-FB-41-CF-86-82-EA-B6",
        "labels": {
          "Id": "AD-FD-53-E6-F7-1A-4A-B0-C8-9D-FB-41-CF-86-82-EA-B6"
        }
      }
    },
[...]
    {
      "RequestUri": "https://wzhao-test.int.communication.azure.net/routing/classificationPolicies/BA-D9-6E-1F-47-82-D1-BA-12-98-13-6F-54-7B-5C-C8-11?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 15 Aug 2022 17:44:56 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "9C-F8-46-DF-7F-09-23-63-9B-6F-D9-74-F2-F3-6B-70-89",
        "queueSelectors": [
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Product = \u0022O365\u0022, true, false)",
              "kind": "expression-rule"
            },
            "labelSelectors": [
              {
                "key": "Id",
                "labelOperator": "equal",
                "value": "AD-FD-53-E6-F7-1A-4A-B0-C8-9D-FB-41-CF-86-82-EA-B6"
              }
            ],
            "kind": "conditional"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229600ae95-0000-0700-0000-62fa86190000\u0022",
        "Last-Modified": "Mon, 15 Aug 2022 17:44:57 GMT",
        "trace-id": "8a8f930a9416d145bd97bd304f297135"
      },
      "ResponseBody": {
        "id": "BA-D9-6E-1F-47-82-D1-BA-12-98-13-6F-54-7B-5C-C8-11",
        "fallbackQueueId": "9C-F8-46-DF-7F-09-23-63-9B-6F-D9-74-F2-F3-6B-70-89",
        "queueSelectors": [
          {
            "kind": "conditional",
            "condition": {
              "kind": "expression-rule",
              "language": "powerFx",
              "expression": "If(job.Product = \u0022O365\u0022, true, false)"
            },
            "labelSelectors": [
              {
                "key": "Id",
                "labelOperator": "equal",
                "value": "AD-FD-53-E6-F7-1A-4A-B0-C8-9D-FB-41-CF-86-82-EA-B6"
              }
            ]
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://wzhao-test.int.communication.azure.net/routing/jobs/AD-FD-53-E6-F7-1A-4A-B0-C8-9D-FB-41-CF-86-82-EA-B6?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 15 Aug 2022 17:44:57 GMT"
      },
      "RequestBody": {
        "channelId": "32-CC-76-45-BF-A2-87-8C-11-4A-AA-96-72-F3-CD-6F-FE",
        "classificationPolicyId": "BA-D9-6E-1F-47-82-D1-BA-12-98-13-6F-54-7B-5C-C8-11",
        "requestedWorkerSelectors": [],
        "labels": {
          "Product": "O365"
        },
        "notes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-e05b-5adfe57eda08\u0022",
        "Last-Modified": "Mon, 15 Aug 2022 17:44:58 GMT",
        "trace-id": "fe13b8d0aa0cd94088399e9f7c9f4505"
      },
      "ResponseBody": {
        "id": "AD-FD-53-E6-F7-1A-4A-B0-C8-9D-FB-41-CF-86-82-EA-B6",
        "jobStatus": "pendingClassification",
        "channelId": "32-CC-76-45-BF-A2-87-8C-11-4A-AA-96-72-F3-CD-6F-FE",
        "classificationPolicyId": "BA-D9-6E-1F-47-82-D1-BA-12-98-13-6F-54-7B-5C-C8-11",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://wzhao-test.int.communication.azure.net/routing/jobs/AD-FD-53-E6-F7-1A-4A-B0-C8-9D-FB-41-CF-86-82-EA-B6?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 15 Aug 2022 17:45:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-012c-0de0e57eda08\u0022",
        "Last-Modified": "Mon, 15 Aug 2022 17:44:59 GMT",
        "trace-id": "926116588fbe9d4387a60d1f38f985f6"
      },
      "ResponseBody": {
        "id": "AD-FD-53-E6-F7-1A-4A-B0-C8-9D-FB-41-CF-86-82-EA-B6",
        "jobStatus": "pendingClassification",
        "channelId": "32-CC-76-45-BF-A2-87-8C-11-4A-AA-96-72-F3-CD-6F-FE",
        "classificationPolicyId": "BA-D9-6E-1F-47-82-D1-BA-12-98-13-6F-54-7B-5C-C8-11",
        "queueId": "AD-FD-53-E6-F7-1A-4A-B0-C8-9D-FB-41-CF-86-82-EA-B6",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://wzhao-test.int.communication.azure.net/routing/jobs/AD-FD-53-E6-F7-1A-4A-B0-C8-9D-FB-41-CF-86-82-EA-B6?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 15 Aug 2022 17:45:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-154c-bce0e57eda08\u0022",
        "Last-Modified": "Mon, 15 Aug 2022 17:45:00 GMT",
        "trace-id": "503e4108acd0714c82c4a7a8b55900bd"
      },
      "ResponseBody": {
        "id": "AD-FD-53-E6-F7-1A-4A-B0-C8-9D-FB-41-CF-86-82-EA-B6",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-08-15T17:45:00.9393685\u002B00:00",
        "channelId": "32-CC-76-45-BF-A2-87-8C-11-4A-AA-96-72-F3-CD-6F-FE",
        "classificationPolicyId": "BA-D9-6E-1F-47-82-D1-BA-12-98-13-6F-54-7B-5C-C8-11",
        "queueId": "AD-FD-53-E6-F7-1A-4A-B0-C8-9D-FB-41-CF-86-82-EA-B6",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365"
        },
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://wzhao-test.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-hIeLq3-2f0ucGuHNmVOrHA-",
    "RandomSeed": "1471777490"
  }
}
