{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/7E35F265FF20CD087043E4E0F4B5BDC713F3EC0A4CDDFE770E?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:34 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227101ac12-0000-0700-0000-648cccf70000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:31 GMT",
        "trace-id": "e8c9dbc1-dd99-f650-7a55-8a2ddc4cfd3c"
      },
      "ResponseBody": {
        "id": "7E35F265FF20CD087043E4E0F4B5BDC713F3EC0A4CDDFE770E",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/A57F61DBCEE8500135A2AEA77BC26554B1DC5AFA29022B2C54?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:34 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "7E35F265FF20CD087043E4E0F4B5BDC713F3EC0A4CDDFE770E"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220800fc4b-0000-0700-0000-648cccf70000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:31 GMT",
        "trace-id": "c80ce490-ed96-2c08-6634-dc1beface5b2"
      },
      "ResponseBody": {
        "id": "A57F61DBCEE8500135A2AEA77BC26554B1DC5AFA29022B2C54",
        "name": "test",
        "distributionPolicyId": "7E35F265FF20CD087043E4E0F4B5BDC713F3EC0A4CDDFE770E",
        "labels": {
          "Id": "A57F61DBCEE8500135A2AEA77BC26554B1DC5AFA29022B2C54"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/B6E8A0DA8E9C7DA6524F9FF1E622CB0D42FAF03AB1B5652CA5?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:34 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "A57F61DBCEE8500135A2AEA77BC26554B1DC5AFA29022B2C54",
        "queueSelectors": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "QueueIdDoesNotExist"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ff00e73a-0000-0700-0000-648cccf80000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:32 GMT",
        "trace-id": "b0403d06-567a-1a39-5f93-c7d214a8eb01"
      },
      "ResponseBody": {
        "id": "B6E8A0DA8E9C7DA6524F9FF1E622CB0D42FAF03AB1B5652CA5",
        "fallbackQueueId": "A57F61DBCEE8500135A2AEA77BC26554B1DC5AFA29022B2C54",
        "queueSelectors": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "QueueIdDoesNotExist"
            }
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/6386FC918ED8DAF24B342B08838A0A1D7BC0455CB755058429?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:34 GMT"
      },
      "RequestBody": {
        "channelId": "85C8A9D1BF6935B823F434B56FF42F2EB8AA86F32E31A66266",
        "classificationPolicyId": "B6E8A0DA8E9C7DA6524F9FF1E622CB0D42FAF03AB1B5652CA5",
        "requestedWorkerSelectors": [],
        "notes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000014-0000-0000-6240-b371ac6edb08\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:32 GMT",
        "trace-id": "5dda87c6-1d1e-0078-8cf7-48f75004eb6d"
      },
      "ResponseBody": {
        "id": "6386FC918ED8DAF24B342B08838A0A1D7BC0455CB755058429",
        "status": "pendingClassification",
        "enqueuedAt": "2023-06-16T19:54:32.5427896\u002B00:00",
        "channelId": "85C8A9D1BF6935B823F434B56FF42F2EB8AA86F32E31A66266",
        "classificationPolicyId": "B6E8A0DA8E9C7DA6524F9FF1E622CB0D42FAF03AB1B5652CA5",
        "queueId": "B76A1F924F80623AF26036A896DB6FFD64E0503D8D33E5E76C",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "unavailableForMatching": false
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/6386FC918ED8DAF24B342B08838A0A1D7BC0455CB755058429?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:36 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000016-0000-0000-301d-f671ac6edb08\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:32 GMT",
        "trace-id": "2bec567b-d1de-3cbc-7871-486088d4f85b"
      },
      "ResponseBody": {
        "id": "6386FC918ED8DAF24B342B08838A0A1D7BC0455CB755058429",
        "status": "queued",
        "enqueuedAt": "2023-06-16T19:54:32.5427896\u002B00:00",
        "channelId": "85C8A9D1BF6935B823F434B56FF42F2EB8AA86F32E31A66266",
        "classificationPolicyId": "B6E8A0DA8E9C7DA6524F9FF1E622CB0D42FAF03AB1B5652CA5",
        "queueId": "A57F61DBCEE8500135A2AEA77BC26554B1DC5AFA29022B2C54",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "unavailableForMatching": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-KHggJ0R2mkiHArvHZBQtow-",
    "RandomSeed": "117357724"
  }
}
