{
  "Entries": [
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/channels?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:41:49 GMT"
      },
      "RequestBody": {
        "id": "sdk-h9IPQLP2GEixw412HAEZdQ--QueueScenario",
        "name": "test"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "bf00cde12a1c9b4784ee8b6450856e81"
      },
      "ResponseBody": {
        "id": "sdk-h9IPQLP2GEixw412HAEZdQ--QueueScenario",
        "name": "test",
        "acsManaged": false
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/distributionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:41:50 GMT"
      },
      "RequestBody": {
        "id": "sdk-h9IPQLP2GEixw412HAEZdQ--QueueScenario",
        "name": "Simple-Queue-Distribution",
        "offerTTL": "00:10:00",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "80a5237d8774464b90f40574aba9484e"
      },
      "ResponseBody": {
        "id": "sdk-h9IPQLP2GEixw412HAEZdQ--QueueScenario",
        "name": "Simple-Queue-Distribution",
        "offerTTL": "00:10:00",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/queues?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:41:50 GMT"
      },
      "RequestBody": {
        "id": "sdk-h9IPQLP2GEixw412HAEZdQ--QueueScenario-1",
        "name": "test",
        "distributionPolicyId": "sdk-h9IPQLP2GEixw412HAEZdQ--QueueScenario",
        "labels": {
          "Region": "NA",
          "Language": "en",
          "Product": "O365",
          "UniqueIdentifier": "sdk-h9IPQLP2GEixw412HAEZdQ-"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "dcb4b70240a02a46a0793e88fc96e216"
      },
      "ResponseBody": {
        "id": "sdk-h9IPQLP2GEixw412HAEZdQ--QueueScenario-1",
        "name": "test",
        "distributionPolicyId": "sdk-h9IPQLP2GEixw412HAEZdQ--QueueScenario",
        "labels": {
          "Region": "NA",
          "Language": "en",
          "Product": "O365",
          "UniqueIdentifier": "sdk-h9IPQLP2GEixw412HAEZdQ-",
          "Id": "sdk-h9IPQLP2GEixw412HAEZdQ--QueueScenario-1"
        },
        "exceptionPolicyId": null,
        "estimatedWaitTimeMs": null
      }
    },
[...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/classificationpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:41:51 GMT"
      },
      "RequestBody": {
        "id": "sdk-h9IPQLP2GEixw412HAEZdQ--cmbo",
        "fallbackQueueId": "sdk-h9IPQLP2GEixw412HAEZdQ--QueueScenario-flbkQueu",
        "queueSelector": {
          "labelSelectors": [
            {
              "key": "Region",
              "operator": "equal",
              "kind": "pass-through"
            },
            {
              "key": "Product",
              "operator": "equal",
              "kind": "pass-through"
            },
            {
              "condition": {
                "language": "powerFx",
                "expression": "If(job.Lang = \u0022EN\u0022, true, false)",
                "kind": "expression-rule"
              },
              "labelSelectors": [
                {
                  "key": "Language",
                  "operator": "equal",
                  "value": "en"
                }
              ],
              "kind": "conditional"
            },
            {
              "condition": {
                "language": "powerFx",
                "expression": "If(job.Lang = \u0022FR\u0022, true, false)",
                "kind": "expression-rule"
              },
              "labelSelectors": [
                {
                  "key": "Language",
                  "operator": "equal",
                  "value": "fr"
                }
              ],
              "kind": "conditional"
            },
            {
              "labelSelector": {
                "key": "UniqueIdentifier",
                "operator": "equal",
                "value": "sdk-h9IPQLP2GEixw412HAEZdQ-"
              },
              "kind": "static"
            }
          ],
          "kind": "queue-label"
        },
        "workerSelectors": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "7be90ec6010ea543a6beb51311513404"
      },
      "ResponseBody": {
        "id": "sdk-h9IPQLP2GEixw412HAEZdQ--cmbo",
        "name": null,
        "fallbackQueueId": "sdk-h9IPQLP2GEixw412HAEZdQ--QueueScenario-flbkQueu",
        "queueSelector": {
          "kind": "queue-label",
          "labelSelectors": [
            {
              "kind": "pass-through",
              "key": "Region",
              "operator": "equal",
              "ttl": null
            },
            {
              "kind": "pass-through",
              "key": "Product",
              "operator": "equal",
              "ttl": null
            },
            {
              "kind": "conditional",
              "condition": {
                "kind": "expression-rule",
                "language": "powerFx",
                "expression": "If(job.Lang = \u0022EN\u0022, true, false)"
              },
              "labelSelectors": [
                {
                  "key": "Language",
                  "operator": "equal",
                  "value": "en",
                  "ttl": null
                }
              ]
            },
            {
              "kind": "conditional",
              "condition": {
                "kind": "expression-rule",
                "language": "powerFx",
                "expression": "If(job.Lang = \u0022FR\u0022, true, false)"
              },
              "labelSelectors": [
                {
                  "key": "Language",
                  "operator": "equal",
                  "value": "fr",
                  "ttl": null
                }
              ]
            },
            {
              "kind": "static",
              "labelSelector": {
                "key": "UniqueIdentifier",
                "operator": "equal",
                "value": "sdk-h9IPQLP2GEixw412HAEZdQ-",
                "ttl": null
              }
            }
          ]
        },
        "prioritizationRule": null,
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/jobs?api-version=2021-04-07-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:41:52 GMT"
      },
      "RequestBody": {
        "channelId": "sdk-h9IPQLP2GEixw412HAEZdQ--QueueScenario",
        "classificationPolicyId": "sdk-h9IPQLP2GEixw412HAEZdQ--cmbo",
        "workerSelectors": null,
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Lang": "EN"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://global.router.prod.communication.microsoft.com/routing/jobs/3423bbff-9963-4b3b-af67-8e189d369dac",
        "trace-id": "d1eede4742489849bd6a9d6f314bca65"
      },
      "ResponseBody": {
        "id": "3423bbff-9963-4b3b-af67-8e189d369dac"
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/jobs/3423bbff-9963-4b3b-af67-8e189d369dac?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:41:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-764d-3a9e73f1d908\u0022",
        "trace-id": "6910c58480f27947995ef56a6f92d997"
      },
      "ResponseBody": {
        "id": "3423bbff-9963-4b3b-af67-8e189d369dac",
        "channelReference": null,
        "jobStatus": "pendingClassification",
        "enqueueTimeUtc": null,
        "channelId": "sdk-h9IPQLP2GEixw412HAEZdQ--QueueScenario",
        "classificationPolicyId": "sdk-h9IPQLP2GEixw412HAEZdQ--cmbo",
        "queueId": "sdk-h9IPQLP2GEixw412HAEZdQ--QueueScenario-1",
        "priority": 1,
        "dispositionCode": null,
        "workerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Lang": "EN"
        },
        "assignments": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/jobs/e64dc43f-0ee5-452f-a44a-1196108db51b?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:41:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-58a2-729f73f1d908\u0022",
        "trace-id": "469b9491529a8a4cafbfec38349a84ad"
      },
      "ResponseBody": {
        "id": "e64dc43f-0ee5-452f-a44a-1196108db51b",
        "channelReference": null,
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-02-16T17:41:54.8258904\u002B00:00",
        "channelId": "sdk-h9IPQLP2GEixw412HAEZdQ--QueueScenario",
        "classificationPolicyId": "sdk-h9IPQLP2GEixw412HAEZdQ--cmbo",
        "queueId": "sdk-h9IPQLP2GEixw412HAEZdQ--QueueScenario-2",
        "priority": 1,
        "dispositionCode": null,
        "workerSelectors": [],
        "labels": {
          "Product": "O365",
          "Region": "NA",
          "Lang": "FR"
        },
        "assignments": {},
        "notes": {}
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://prod-test.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-h9IPQLP2GEixw412HAEZdQ-",
    "RandomSeed": "430660416"
  }
}