{
  "Entries": [
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/channels?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:41:56 GMT"
      },
      "RequestBody": {
        "id": "sdk-98RWkOyBpESU3dqSeTrcKQ--QueueScenario",
        "name": "test"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "fb9d6f9df71bb24c92b2316beb95cd66"
      },
      "ResponseBody": {
        "id": "sdk-98RWkOyBpESU3dqSeTrcKQ--QueueScenario",
        "name": "test",
        "acsManaged": false
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/distributionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:41:56 GMT"
      },
      "RequestBody": {
        "id": "sdk-98RWkOyBpESU3dqSeTrcKQ--QueueScenario",
        "name": "Simple-Queue-Distribution",
        "offerTTL": "00:10:00",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "4c1dce015e009346b4b5cdf7f3231411"
      },
      "ResponseBody": {
        "id": "sdk-98RWkOyBpESU3dqSeTrcKQ--QueueScenario",
        "name": "Simple-Queue-Distribution",
        "offerTTL": "00:10:00",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/queues?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:41:56 GMT"
      },
      "RequestBody": {
        "id": "sdk-98RWkOyBpESU3dqSeTrcKQ--QueueScenario",
        "name": "test",
        "distributionPolicyId": "sdk-98RWkOyBpESU3dqSeTrcKQ--QueueScenario",
        "labels": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "c838c87a15077f498b4a168c251ac3ab"
      },
      "ResponseBody": {
        "id": "sdk-98RWkOyBpESU3dqSeTrcKQ--QueueScenario",
        "name": "test",
        "distributionPolicyId": "sdk-98RWkOyBpESU3dqSeTrcKQ--QueueScenario",
        "labels": {
          "Id": "sdk-98RWkOyBpESU3dqSeTrcKQ--QueueScenario"
        },
        "exceptionPolicyId": null,
        "estimatedWaitTimeMs": null
      }
    },
[...]
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/classificationpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:41:57 GMT"
      },
      "RequestBody": {
        "id": "sdk-98RWkOyBpESU3dqSeTrcKQ--cp-cond",
        "fallbackQueueId": "sdk-98RWkOyBpESU3dqSeTrcKQ--QueueScenario-flbkQ",
        "queueSelector": {
          "labelSelectors": [
            {
              "condition": {
                "language": "powerFx",
                "expression": "If(job.Product = \u0022O365\u0022, true, false)",
                "kind": "expression-rule"
              },
              "labelSelectors": [
                {
                  "key": "Id",
                  "operator": "equal",
                  "value": "sdk-98RWkOyBpESU3dqSeTrcKQ--QueueScenario"
                }
              ],
              "kind": "conditional"
            }
          ],
          "kind": "queue-label"
        },
        "workerSelectors": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "1d8dfed77bbfbe478cd313794716a0c1"
      },
      "ResponseBody": {
        "id": "sdk-98RWkOyBpESU3dqSeTrcKQ--cp-cond",
        "name": null,
        "fallbackQueueId": "sdk-98RWkOyBpESU3dqSeTrcKQ--QueueScenario-flbkQ",
        "queueSelector": {
          "kind": "queue-label",
          "labelSelectors": [
            {
              "kind": "conditional",
              "condition": {
                "kind": "expression-rule",
                "language": "powerFx",
                "expression": "If(job.Product = \u0022O365\u0022, true, false)"
              },
              "labelSelectors": [
                {
                  "key": "Id",
                  "operator": "equal",
                  "value": "sdk-98RWkOyBpESU3dqSeTrcKQ--QueueScenario",
                  "ttl": null
                }
              ]
            }
          ]
        },
        "prioritizationRule": null,
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/jobs?api-version=2021-04-07-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:41:58 GMT"
      },
      "RequestBody": {
        "channelId": "sdk-98RWkOyBpESU3dqSeTrcKQ--QueueScenario",
        "classificationPolicyId": "sdk-98RWkOyBpESU3dqSeTrcKQ--cp-cond",
        "workerSelectors": null,
        "labels": {
          "Product": "O365"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://global.router.prod.communication.microsoft.com/routing/jobs/d6583367-6f68-4277-860b-eadc7eec8ab3",
        "trace-id": "f142b91f7edccb40adaa3dd66407d89f"
      },
      "ResponseBody": {
        "id": "d6583367-6f68-4277-860b-eadc7eec8ab3"
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/jobs/d6583367-6f68-4277-860b-eadc7eec8ab3?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:41:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-6844-b4a173f1d908\u0022",
        "trace-id": "1b0e0dbcdfb14e4d8213a921caff3400"
      },
      "ResponseBody": {
        "id": "d6583367-6f68-4277-860b-eadc7eec8ab3",
        "channelReference": null,
        "jobStatus": "pendingClassification",
        "enqueueTimeUtc": null,
        "channelId": "sdk-98RWkOyBpESU3dqSeTrcKQ--QueueScenario",
        "classificationPolicyId": "sdk-98RWkOyBpESU3dqSeTrcKQ--cp-cond",
        "queueId": "sdk-98RWkOyBpESU3dqSeTrcKQ--QueueScenario",
        "priority": 1,
        "dispositionCode": null,
        "workerSelectors": [],
        "labels": {
          "Product": "O365"
        },
        "assignments": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/jobs/d6583367-6f68-4277-860b-eadc7eec8ab3?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:41:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-a333-f7a173f1d908\u0022",
        "trace-id": "eb1eec4e191b574a836520f6711145de"
      },
      "ResponseBody": {
        "id": "d6583367-6f68-4277-860b-eadc7eec8ab3",
        "channelReference": null,
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-02-16T17:41:59.0501283\u002B00:00",
        "channelId": "sdk-98RWkOyBpESU3dqSeTrcKQ--QueueScenario",
        "classificationPolicyId": "sdk-98RWkOyBpESU3dqSeTrcKQ--cp-cond",
        "queueId": "sdk-98RWkOyBpESU3dqSeTrcKQ--QueueScenario",
        "priority": 1,
        "dispositionCode": null,
        "workerSelectors": [],
        "labels": {
          "Product": "O365"
        },
        "assignments": {},
        "notes": {}
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://prod-test.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-98RWkOyBpESU3dqSeTrcKQ-",
    "RandomSeed": "831283037"
  }
}