{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/4C-A8-7E-91-4F-65-4B-91-2E-50-54-68-3D-47-C5-6D-64?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:29 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229f0266bc-0000-0700-0000-62aa85990000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:21:29 GMT",
        "trace-id": "1b446da32a18f342aa818e0affde3536"
      },
      "ResponseBody": {
        "id": "4C-A8-7E-91-4F-65-4B-91-2E-50-54-68-3D-47-C5-6D-64",
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/4C-A8-7E-91-4F-65-4B-91-2E-50-54-68-3D-47-C5-6D-64?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:29 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "4C-A8-7E-91-4F-65-4B-91-2E-50-54-68-3D-47-C5-6D-64",
        "labels": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222504d2b1-0000-0700-0000-62aa85990000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:21:29 GMT",
        "trace-id": "ee3483ad62265f44a383d75ea1529d48"
      },
      "ResponseBody": {
        "id": "4C-A8-7E-91-4F-65-4B-91-2E-50-54-68-3D-47-C5-6D-64",
        "name": "test",
        "distributionPolicyId": "4C-A8-7E-91-4F-65-4B-91-2E-50-54-68-3D-47-C5-6D-64",
        "labels": {
          "Id": "4C-A8-7E-91-4F-65-4B-91-2E-50-54-68-3D-47-C5-6D-64"
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/86-F7-69-C8-DD-D4-46-DB-03-CA-C5-BD-62-4F-B3-6E-D1?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:29 GMT"
      },
      "RequestBody": {
        "channelId": "B0-FA-52-50-3E-19-D1-1D-86-97-DA-CB-3E-6B-08-63-32",
        "queueId": "4C-A8-7E-91-4F-65-4B-91-2E-50-54-68-3D-47-C5-6D-64",
        "priority": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000025-0000-0000-d8e4-718a364fda08\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:21:29 GMT",
        "trace-id": "206a63d2949c2f4db5487bbc5834d111"
      },
      "ResponseBody": {
        "id": "86-F7-69-C8-DD-D4-46-DB-03-CA-C5-BD-62-4F-B3-6E-D1",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-06-15T17:39:28.3649941\u002B00:00",
        "channelId": "B0-FA-52-50-3E-19-D1-1D-86-97-DA-CB-3E-6B-08-63-32",
        "queueId": "4C-A8-7E-91-4F-65-4B-91-2E-50-54-68-3D-47-C5-6D-64",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/86-F7-69-C8-DD-D4-46-DB-03-CA-C5-BD-62-4F-B3-6E-D1?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:21:29 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000025-0000-0000-d8e4-718a364fda08\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:21:29 GMT",
        "trace-id": "5d5e608961c38844ae6a02e1a22d9a07"
      },
      "ResponseBody": {
        "id": "86-F7-69-C8-DD-D4-46-DB-03-CA-C5-BD-62-4F-B3-6E-D1",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-06-15T17:39:28.3649941\u002B00:00",
        "channelId": "B0-FA-52-50-3E-19-D1-1D-86-97-DA-CB-3E-6B-08-63-32",
        "queueId": "4C-A8-7E-91-4F-65-4B-91-2E-50-54-68-3D-47-C5-6D-64",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-yhJJDGl-UECGaUOeJrTr2Q-",
    "RandomSeed": "2078047398"
  }
}
