{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/37E1DDE69ADE35E82965122DE7052AE35E699D6C4485FF0668?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:21 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022590013f4-0000-0700-0000-642ddbc60000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:22 GMT",
        "trace-id": "85530ab0-daaf-c1a5-bdaa-43b59ce5bb63"
      },
      "ResponseBody": {
        "id": "37E1DDE69ADE35E82965122DE7052AE35E699D6C4485FF0668",
        "name": "Simple-Queue-Distribution",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/37E1DDE69ADE35E82965122DE7052AE35E699D6C4485FF0668?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:21 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "37E1DDE69ADE35E82965122DE7052AE35E699D6C4485FF0668"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220a00b1f1-0000-0700-0000-642ddbc60000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:22 GMT",
        "trace-id": "a4c15836-fc0d-4394-c964-2e40e35c3330"
      },
      "ResponseBody": {
        "id": "37E1DDE69ADE35E82965122DE7052AE35E699D6C4485FF0668",
        "name": "test",
        "distributionPolicyId": "37E1DDE69ADE35E82965122DE7052AE35E699D6C4485FF0668",
        "labels": {
          "Id": "37E1DDE69ADE35E82965122DE7052AE35E699D6C4485FF0668"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/86F769C8DDD446DB03CAC5BD624FB36ED1E83B7A196A549487?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:21 GMT"
      },
      "RequestBody": {
        "channelId": "29F1DE06F9655191C469F1780206B3863FE2D63A1680BB076E",
        "queueId": "37E1DDE69ADE35E82965122DE7052AE35E699D6C4485FF0668",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "notes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000000b-0000-0000-7f91-816b1536db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:22 GMT",
        "trace-id": "87f55e17-70a9-739f-1d17-26e54942b6c4"
      },
      "ResponseBody": {
        "id": "86F769C8DDD446DB03CAC5BD624FB36ED1E83B7A196A549487",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2023-04-05T20:25:19.5743446\u002B00:00",
        "channelId": "29F1DE06F9655191C469F1780206B3863FE2D63A1680BB076E",
        "queueId": "37E1DDE69ADE35E82965122DE7052AE35E699D6C4485FF0668",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/86F769C8DDD446DB03CAC5BD624FB36ED1E83B7A196A549487?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000000b-0000-0000-7f91-816b1536db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:22 GMT",
        "trace-id": "33ef3868-2abd-7f53-de45-c2040eee797e"
      },
      "ResponseBody": {
        "id": "86F769C8DDD446DB03CAC5BD624FB36ED1E83B7A196A549487",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2023-04-05T20:25:19.5743446\u002B00:00",
        "channelId": "29F1DE06F9655191C469F1780206B3863FE2D63A1680BB076E",
        "queueId": "37E1DDE69ADE35E82965122DE7052AE35E699D6C4485FF0668",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-xXoxeJsy4k6b_KlvdG8S7w-",
    "RandomSeed": "87620324"
  }
}
