{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/75DB41E6F99DA708E5E11AB771428ED8D79CFDA18AE7E46545?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:41 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227101d512-0000-0700-0000-648cccfe0000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:38 GMT",
        "trace-id": "94877dcc-e2ed-f5ac-4335-01d4af947af2"
      },
      "ResponseBody": {
        "id": "75DB41E6F99DA708E5E11AB771428ED8D79CFDA18AE7E46545",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/75DB41E6F99DA708E5E11AB771428ED8D79CFDA18AE7E46545?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:41 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "75DB41E6F99DA708E5E11AB771428ED8D79CFDA18AE7E46545"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220800014c-0000-0700-0000-648cccfe0000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:38 GMT",
        "trace-id": "47231f40-e5ed-dc82-60b6-0c6f25ba4dc3"
      },
      "ResponseBody": {
        "id": "75DB41E6F99DA708E5E11AB771428ED8D79CFDA18AE7E46545",
        "name": "test",
        "distributionPolicyId": "75DB41E6F99DA708E5E11AB771428ED8D79CFDA18AE7E46545",
        "labels": {
          "Id": "75DB41E6F99DA708E5E11AB771428ED8D79CFDA18AE7E46545"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/86F769C8DDD446DB03CAC5BD624FB36ED1E83B7A196A549487?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:41 GMT"
      },
      "RequestBody": {
        "channelId": "7B312BC786DFBB0F3283D7EAAE3694642C7E6ADD2B0B1D4E79",
        "queueId": "75DB41E6F99DA708E5E11AB771428ED8D79CFDA18AE7E46545",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "notes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000000b-0000-0000-aee4-b375ac6edb08\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:39 GMT",
        "trace-id": "0f0f696d-9f40-e7a9-b292-d9fb8096656c"
      },
      "ResponseBody": {
        "id": "86F769C8DDD446DB03CAC5BD624FB36ED1E83B7A196A549487",
        "status": "queued",
        "enqueuedAt": "2023-06-16T19:54:43.8263891\u002B00:00",
        "channelId": "7B312BC786DFBB0F3283D7EAAE3694642C7E6ADD2B0B1D4E79",
        "queueId": "75DB41E6F99DA708E5E11AB771428ED8D79CFDA18AE7E46545",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "unavailableForMatching": false
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/86F769C8DDD446DB03CAC5BD624FB36ED1E83B7A196A549487?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:58:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000000b-0000-0000-aee4-b375ac6edb08\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:58:39 GMT",
        "trace-id": "07d9ac79-d944-ca12-bc90-3742f0617e33"
      },
      "ResponseBody": {
        "id": "86F769C8DDD446DB03CAC5BD624FB36ED1E83B7A196A549487",
        "status": "queued",
        "enqueuedAt": "2023-06-16T19:54:43.8263891\u002B00:00",
        "channelId": "7B312BC786DFBB0F3283D7EAAE3694642C7E6ADD2B0B1D4E79",
        "queueId": "75DB41E6F99DA708E5E11AB771428ED8D79CFDA18AE7E46545",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "unavailableForMatching": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-onsbfKPmAkGMsQO8UnGYYA-",
    "RandomSeed": "2109679689"
  }
}
