{
  "Entries": [
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/channels?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:42:40 GMT"
      },
      "RequestBody": {
        "id": "sdk-FmW3_D8XPkqyE2rrJZELwQ--QueueScenario",
        "name": "test"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "c0ae7eeb4ac5f84a9ffc7ca37751b18d"
      },
      "ResponseBody": {
        "id": "sdk-FmW3_D8XPkqyE2rrJZELwQ--QueueScenario",
        "name": "test",
        "acsManaged": false
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/distributionpolicies?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:42:40 GMT"
      },
      "RequestBody": {
        "id": "sdk-FmW3_D8XPkqyE2rrJZELwQ--QueueScenario",
        "name": "Simple-Queue-Distribution",
        "offerTTL": "00:10:00",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "9d5c747f91cee6449fac5d5b4c2ea72c"
      },
      "ResponseBody": {
        "id": "sdk-FmW3_D8XPkqyE2rrJZELwQ--QueueScenario",
        "name": "Simple-Queue-Distribution",
        "offerTTL": "00:10:00",
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/queues?api-version=2021-04-07-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:42:41 GMT"
      },
      "RequestBody": {
        "id": "sdk-FmW3_D8XPkqyE2rrJZELwQ--QueueScenario",
        "name": "test",
        "distributionPolicyId": "sdk-FmW3_D8XPkqyE2rrJZELwQ--QueueScenario",
        "labels": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "361e46bcec8e9440ba49e9bade1a3bae"
      },
      "ResponseBody": {
        "id": "sdk-FmW3_D8XPkqyE2rrJZELwQ--QueueScenario",
        "name": "test",
        "distributionPolicyId": "sdk-FmW3_D8XPkqyE2rrJZELwQ--QueueScenario",
        "labels": {
          "Id": "sdk-FmW3_D8XPkqyE2rrJZELwQ--QueueScenario"
        },
        "exceptionPolicyId": null,
        "estimatedWaitTimeMs": null
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/jobs?api-version=2021-04-07-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:42:41 GMT"
      },
      "RequestBody": {
        "channelId": "sdk-FmW3_D8XPkqyE2rrJZELwQ--QueueScenario",
        "queueId": "sdk-FmW3_D8XPkqyE2rrJZELwQ--QueueScenario",
        "priority": 1,
        "workerSelectors": null,
        "labels": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://global.router.prod.communication.microsoft.com/routing/jobs/3c9d6831-fe48-4eb9-9d5f-68dc94c5fa2b",
        "trace-id": "efa85efa0cf4264aa49051d79dd6f6d9"
      },
      "ResponseBody": {
        "id": "3c9d6831-fe48-4eb9-9d5f-68dc94c5fa2b"
      }
    },
    {
      "RequestUri": "https://prod-test.communication.azure.com/routing/jobs/3c9d6831-fe48-4eb9-9d5f-68dc94c5fa2b?api-version=2021-04-07-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 17:42:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-7037-43bb73f1d908\u0022",
        "trace-id": "3efcf281485c7140907b3fea411922ed"
      },
      "ResponseBody": {
        "id": "3c9d6831-fe48-4eb9-9d5f-68dc94c5fa2b",
        "channelReference": null,
        "jobStatus": "queued",
        "enqueueTimeUtc": null,
        "channelId": "sdk-FmW3_D8XPkqyE2rrJZELwQ--QueueScenario",
        "classificationPolicyId": null,
        "queueId": "sdk-FmW3_D8XPkqyE2rrJZELwQ--QueueScenario",
        "priority": 1,
        "dispositionCode": null,
        "workerSelectors": [],
        "labels": {},
        "assignments": {},
        "notes": {}
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://prod-test.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-FmW3_D8XPkqyE2rrJZELwQ-",
    "RandomSeed": "600931159"
  }
}