{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-dfb04662-eb17-e984-64b5-266f9793c54d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:08:23 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA773766BFA96D\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:08:25 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-dfb04662-eb17-e984-64b5-266f9793c54d/test-directory-3620f268-9e02-584e-b508-fc5dff776dca?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:08:23 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA773766CCC8CD\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:08:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-08-05T23:08:25.7949901Z",
        "x-ms-file-creation-time": "2022-08-05T23:08:25.7949901Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-08-05T23:08:25.7949901Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3480340292393086624*6383712961487845673",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-dfb04662-eb17-e984-64b5-266f9793c54d/test-directory-3620f268-9e02-584e-b508-fc5dff776dca/test-file-2a09658f-09b7-7803-f926-d724bb562519",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 05 Aug 2022 23:08:23 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA773766D7EAD0\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:08:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-08-05T23:08:25.8679504Z",
        "x-ms-file-creation-time": "2022-08-05T23:08:25.8679504Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-08-05T23:08:25.8679504Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17309419537579889063*6383712961487845673",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-dfb04662-eb17-e984-64b5-266f9793c54d/test-directory-3620f268-9e02-584e-b508-fc5dff776dca/test-file-2a09658f-09b7-7803-f926-d724bb562519?sv=2022-11-02\u0026ss=qftb\u0026srt=sco\u0026se=2022-08-06T23%3A08%3A24Z\u0026sp=racwdlxyuptf\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA773766D7EAD0\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:08:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-08-05T23:08:25.8679504Z",
        "x-ms-file-creation-time": "2022-08-05T23:08:25.8679504Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-08-05T23:08:25.8679504Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17309419537579889063*6383712961487845673",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-dfb04662-eb17-e984-64b5-266f9793c54d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:08:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-08-05T16:08:24.0061443-07:00",
    "RandomSeed": "1493449803",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
