{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-200a24a6-9db5-3c19-3a50-c99fb9d0cc58?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:06:44 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA77372B9BAC92\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:06:46 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-200a24a6-9db5-3c19-3a50-c99fb9d0cc58/test-directory-65f13b18-e698-8baf-09d2-f6c299484221?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:06:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA77372BA95A36\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:06:46 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-08-05T23:06:46.5772086Z",
        "x-ms-file-creation-time": "2022-08-05T23:06:46.5772086Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-08-05T23:06:46.5772086Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3480340292393086624*6383712961487845673",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-200a24a6-9db5-3c19-3a50-c99fb9d0cc58/test-directory-65f13b18-e698-8baf-09d2-f6c299484221?sv=2023-01-03\u0026ss=tfb\u0026srt=sco\u0026se=2022-08-06T23%3A06%3A44Z\u0026sp=racwdlxyuptf\u0026sig=Sanitized\u0026restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA77372BA95A36\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:06:46 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-08-05T23:06:46.5772086Z",
        "x-ms-file-creation-time": "2022-08-05T23:06:46.5772086Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-08-05T23:06:46.5772086Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3480340292393086624*6383712961487845673",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-200a24a6-9db5-3c19-3a50-c99fb9d0cc58?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:06:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-08-05T16:06:44.7199556-07:00",
    "RandomSeed": "169156294",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
