{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-313d451b-423b-e7e0-37e1-2902bee12a66?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jul 2022 06:15:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6ECE427A678A\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 06:15:38 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-313d451b-423b-e7e0-37e1-2902bee12a66/test-file-d5f69ac8-15d0-94fb-ef56-40706333a01e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 26 Jul 2022 06:15:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6ECE4286FCCE\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 06:15:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-26T06:15:38.4807630Z",
        "x-ms-file-creation-time": "2022-07-26T06:15:38.4807630Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-26T06:15:38.4807630Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17309419537579889063*6383712961487845673",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-313d451b-423b-e7e0-37e1-2902bee12a66?restype=share\u0026comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jul 2022 06:15:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6ECE427A678A\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 06:15:38 GMT",
        "x-ms-snapshot": "2022-07-26T06:15:38.0000000Z",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-313d451b-423b-e7e0-37e1-2902bee12a66/test-file-d5f69ac8-15d0-94fb-ef56-40706333a01e?sharesnapshot=2022-07-26T06:15:38.0000000Z\u0026sv=2021-08-06\u0026ss=bqtf\u0026srt=soc\u0026se=2022-07-27T06%3A15%3A37Z\u0026sp=rwdylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6ECE4286FCCE\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 06:15:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-26T06:15:38.4807630Z",
        "x-ms-file-creation-time": "2022-07-26T06:15:38.4807630Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-26T06:15:38.4807630Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17309419537579889063*6383712961487845673",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-313d451b-423b-e7e0-37e1-2902bee12a66?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jul 2022 06:15:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-25T23:15:37.9440022-07:00",
    "RandomSeed": "746725237",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
