{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-6f4b88f7-6166-19f0-9958-287e6453313e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 22:36:08 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA702067CDBBE5\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 22:36:10 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-6f4b88f7-6166-19f0-9958-287e6453313e/test-directory-0145a37a-f2b7-7d97-bac0-430ece3ea247?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 22:36:08 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA702067DB5087\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 22:36:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-07-27T22:36:11.0037127Z",
        "x-ms-file-creation-time": "2022-07-27T22:36:11.0037127Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-27T22:36:11.0037127Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3480340292393086624*6383712961487845673",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-6f4b88f7-6166-19f0-9958-287e6453313e/test-directory-0145a37a-f2b7-7d97-bac0-430ece3ea247/test-file-7fddd56e-6496-7972-4c0c-e3da8672d130",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 27 Jul 2022 22:36:08 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA702067E7F8DE\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 22:36:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-27T22:36:11.0866654Z",
        "x-ms-file-creation-time": "2022-07-27T22:36:11.0866654Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-07-27T22:36:11.0866654Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17309419537579889063*6383712961487845673",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-6f4b88f7-6166-19f0-9958-287e6453313e/test-directory-0145a37a-f2b7-7d97-bac0-430ece3ea247/test-file-7fddd56e-6496-7972-4c0c-e3da8672d130?sv=2021-10-04\u0026ss=bqtf\u0026srt=soc\u0026se=2022-07-28T22%3A36%3A08Z\u0026sp=rwdylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA702067E7F8DE\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 22:36:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-27T22:36:11.0866654Z",
        "x-ms-file-creation-time": "2022-07-27T22:36:11.0866654Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-07-27T22:36:11.0866654Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17309419537579889063*6383712961487845673",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-6f4b88f7-6166-19f0-9958-287e6453313e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 22:36:08 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-27T15:36:08.6797936-07:00",
    "RandomSeed": "2098697165",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
