{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-ee315a42-efb1-b3c1-43dc-654b4724d011?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:08:17 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7737634C0FFC\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:08:19 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-ee315a42-efb1-b3c1-43dc-654b4724d011/test-directory-4c322353-fbfb-9db4-46db-b1cd24ee9892?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:08:18 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA773763584211\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:08:19 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-08-05T23:08:19.9981585Z",
        "x-ms-file-creation-time": "2022-08-05T23:08:19.9981585Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-08-05T23:08:19.9981585Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3480340292393086624*6383712961487845673",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-ee315a42-efb1-b3c1-43dc-654b4724d011/test-directory-4c322353-fbfb-9db4-46db-b1cd24ee9892/test-file-d6f68a3c-8673-d8b3-46c8-26004ee7180f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 05 Aug 2022 23:08:18 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA77376363D934\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:08:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-08-05T23:08:20.0741172Z",
        "x-ms-file-creation-time": "2022-08-05T23:08:20.0741172Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-08-05T23:08:20.0741172Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17309419537579889063*6383712961487845673",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-ee315a42-efb1-b3c1-43dc-654b4724d011/test-directory-4c322353-fbfb-9db4-46db-b1cd24ee9892/test-file-d6f68a3c-8673-d8b3-46c8-26004ee7180f?sv=2021-12-02\u0026ss=tqfb\u0026srt=sco\u0026se=2022-08-06T23%3A08%3A18Z\u0026sp=racwdlxyuptf\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA77376363D934\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:08:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-08-05T23:08:20.0741172Z",
        "x-ms-file-creation-time": "2022-08-05T23:08:20.0741172Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-08-05T23:08:20.0741172Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17309419537579889063*6383712961487845673",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-ee315a42-efb1-b3c1-43dc-654b4724d011?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:08:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-08-05T16:08:18.2122391-07:00",
    "RandomSeed": "919736504",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
