{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-fff9f3dc-ee57-6c8d-030a-66e091f78e04?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jul 2022 06:14:59 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6ECE2BF5BBB3\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 06:15:00 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-fff9f3dc-ee57-6c8d-030a-66e091f78e04/test-directory-26021eda-8184-30cc-fcfe-2d4e88dbe4fe?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jul 2022 06:15:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6ECE2C05AD06\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 06:15:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-07-26T06:15:00.7234310Z",
        "x-ms-file-creation-time": "2022-07-26T06:15:00.7234310Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-26T06:15:00.7234310Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3480340292393086624*6383712961487845673",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-fff9f3dc-ee57-6c8d-030a-66e091f78e04/test-directory-26021eda-8184-30cc-fcfe-2d4e88dbe4fe/test-file-86a08615-ab33-7503-d9d6-e0b46c20837a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 26 Jul 2022 06:15:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6ECE2C114413\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 06:15:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-26T06:15:00.7993875Z",
        "x-ms-file-creation-time": "2022-07-26T06:15:00.7993875Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-07-26T06:15:00.7993875Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17309419537579889063*6383712961487845673",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-fff9f3dc-ee57-6c8d-030a-66e091f78e04/test-directory-26021eda-8184-30cc-fcfe-2d4e88dbe4fe/test-file-86a08615-ab33-7503-d9d6-e0b46c20837a?sv=2021-08-06\u0026ss=bqtf\u0026srt=sco\u0026se=2022-07-27T06%3A15%3A00Z\u0026sp=cudypafitrwl\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6ECE2C114413\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 06:15:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-26T06:15:00.7993875Z",
        "x-ms-file-creation-time": "2022-07-26T06:15:00.7993875Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-07-26T06:15:00.7993875Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17309419537579889063*6383712961487845673",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-fff9f3dc-ee57-6c8d-030a-66e091f78e04?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jul 2022 06:15:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-25T23:15:00.1801367-07:00",
    "RandomSeed": "1595283319",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
