{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-999b2795-9f93-29c2-4871-dc978b958f23?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:08:18 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA773763C6D3AC\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:08:20 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-999b2795-9f93-29c2-4871-dc978b958f23/test-directory-8949c524-27e2-5d5b-a9d4-686e753389e8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:08:18 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA773763D3C966\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:08:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-08-05T23:08:20.8077158Z",
        "x-ms-file-creation-time": "2022-08-05T23:08:20.8077158Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-08-05T23:08:20.8077158Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3480340292393086624*6383712961487845673",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-999b2795-9f93-29c2-4871-dc978b958f23/test-directory-8949c524-27e2-5d5b-a9d4-686e753389e8/test-file-2ecd2abd-55c0-f8eb-88dc-cf11b8556f4d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 05 Aug 2022 23:08:18 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA773763DEEB68\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:08:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-08-05T23:08:20.8806760Z",
        "x-ms-file-creation-time": "2022-08-05T23:08:20.8806760Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-08-05T23:08:20.8806760Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17309419537579889063*6383712961487845673",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-999b2795-9f93-29c2-4871-dc978b958f23/test-directory-8949c524-27e2-5d5b-a9d4-686e753389e8/test-file-2ecd2abd-55c0-f8eb-88dc-cf11b8556f4d?sv=2022-11-02\u0026ss=qf\u0026srt=sco\u0026se=2022-08-06T23%3A08%3A19Z\u0026sp=racwdlxyuptf\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA773763DEEB68\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:08:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-08-05T23:08:20.8806760Z",
        "x-ms-file-creation-time": "2022-08-05T23:08:20.8806760Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-08-05T23:08:20.8806760Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17309419537579889063*6383712961487845673",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-999b2795-9f93-29c2-4871-dc978b958f23?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:08:19 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-08-05T16:08:19.0180431-07:00",
    "RandomSeed": "1759122428",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
