{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-9366daba-f28a-6216-e3e1-0cb1c242f908?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jul 2022 06:18:50 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6ECEB57A4053\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 06:18:51 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-9366daba-f28a-6216-e3e1-0cb1c242f908/test-directory-1bcb1d20-cbfa-a306-9768-2bf132702bc4?sv=2021-08-06\u0026ss=bqtf\u0026srt=sco\u0026se=2022-07-27T06%3A18%3A50Z\u0026sp=cuprwdylatfi\u0026sig=Sanitized\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6ECEB589054E\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 06:18:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-07-26T06:18:51.4320718Z",
        "x-ms-file-creation-time": "2022-07-26T06:18:51.4320718Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-26T06:18:51.4320718Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3480340292393086624*6383712961487845673",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-9366daba-f28a-6216-e3e1-0cb1c242f908?sv=2021-08-06\u0026ss=bqtf\u0026srt=sco\u0026se=2022-07-27T06%3A18%3A50Z\u0026sp=cuprwdylatfi\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6ECEB57A4053\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 06:18:51 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Tue, 26 Jul 2022 06:18:51 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "5120",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-9366daba-f28a-6216-e3e1-0cb1c242f908?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jul 2022 06:18:50 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-25T23:18:50.7197252-07:00",
    "RandomSeed": "1726743298",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
