{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-a542c7ac-0c1b-0361-e8e1-02dd8f2daefb?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jul 2022 06:15:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6ECE4D68A2BB\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 06:15:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-a542c7ac-0c1b-0361-e8e1-02dd8f2daefb/test-directory-15246b88-82ec-b9d5-e102-30e54b7e92bd?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jul 2022 06:15:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6ECE4D75108D\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 06:15:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-07-26T06:15:56.8182413Z",
        "x-ms-file-creation-time": "2022-07-26T06:15:56.8182413Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-26T06:15:56.8182413Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3480340292393086624*6383712961487845673",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-a542c7ac-0c1b-0361-e8e1-02dd8f2daefb/test-directory-15246b88-82ec-b9d5-e102-30e54b7e92bd/test-file-d05f5a5a-a2ea-f756-0d98-fa4e1bdddc19?sv=2021-08-06\u0026ss=fqt\u0026srt=sco\u0026se=2022-07-27T06%3A15%3A56Z\u0026sp=rwdylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6ECE4D838D5B\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 06:15:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-26T06:15:56.9131867Z",
        "x-ms-file-creation-time": "2022-07-26T06:15:56.9131867Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-07-26T06:15:56.9131867Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17309419537579889063*6383712961487845673",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-a542c7ac-0c1b-0361-e8e1-02dd8f2daefb?sv=2021-08-06\u0026ss=fqt\u0026srt=sco\u0026se=2022-07-27T06%3A15%3A56Z\u0026sp=rwdylacuptfi\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6ECE4D68A2BB\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 06:15:56 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Tue, 26 Jul 2022 06:15:56 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "5120",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.file.core.windows.net/test-share-a542c7ac-0c1b-0361-e8e1-02dd8f2daefb?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jul 2022 06:15:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-25T23:15:56.2031475-07:00",
    "RandomSeed": "827543556",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
