{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-6014?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6014",
        "name": "testRG-6014",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6014/providers/Microsoft.LabServices/labPlans/sdklabplan-8394?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "defaultConnectionProfile": {
            "webSshAccess": "None",
            "webRdpAccess": "None",
            "clientSshAccess": "Public",
            "clientRdpAccess": "Public"
          },
          "defaultAutoShutdownProfile": {
            "shutdownOnDisconnect": "Enabled",
            "shutdownWhenNotConnected": "Enabled",
            "shutdownOnIdle": "UserAbsence",
            "disconnectDelay": "PT15M",
            "noConnectDelay": "PT15M",
            "idleDelay": "PT15M"
          },
          "allowedRegions": [
            "eastus",
            "eastus2"
          ],
          "supportInfo": {
            "url": "http://help.contoso.com/",
            "email": "help@contoso.com",
            "phone": "\u002B1-202-555-0123",
            "instructions": "Contact support for help."
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/b3c153d1-efdc-407a-b09a-f626f3e4b800?api-version=2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6014/providers/Microsoft.LabServices/labPlans/sdklabplan-8394?api-version=2022-08-01",
        "Operation-Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/b3c153d1-efdc-407a-b09a-f626f3e4b800?api-version=2022-08-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-02-17T09:10:43.2940279Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-17T09:10:43.2940279Z"
        },
        "properties": {
          "provisioningState": "Creating",
          "defaultConnectionProfile": {
            "webSshAccess": "None",
            "webRdpAccess": "None",
            "clientSshAccess": "Public",
            "clientRdpAccess": "Public"
          },
          "defaultAutoShutdownProfile": {
            "shutdownOnDisconnect": "Enabled",
            "shutdownWhenNotConnected": "Enabled",
            "shutdownOnIdle": "UserAbsence",
            "disconnectDelay": "PT15M",
            "noConnectDelay": "PT15M",
            "idleDelay": "PT15M"
          },
          "allowedRegions": [
            "eastus",
            "eastus2"
          ],
          "supportInfo": {
            "url": "http://help.contoso.com/",
            "email": "help@contoso.com",
            "phone": "\u002B1-202-555-0123",
            "instructions": "Contact support for help."
          }
        },
        "tags": {},
        "location": "eastus",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6014/providers/Microsoft.LabServices/labPlans/sdklabplan-8394",
        "name": "sdklabplan-8394",
        "type": "Microsoft.LabServices/labPlans"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/b3c153d1-efdc-407a-b09a-f626f3e4b800?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/b3c153d1-efdc-407a-b09a-f626f3e4b800",
        "name": "b3c153d1-efdc-407a-b09a-f626f3e4b800",
        "status": "InProgress",
        "startTime": "2023-02-17T09:10:44.1461203Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/b3c153d1-efdc-407a-b09a-f626f3e4b800?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/b3c153d1-efdc-407a-b09a-f626f3e4b800",
        "name": "b3c153d1-efdc-407a-b09a-f626f3e4b800",
        "status": "Succeeded",
        "startTime": "2023-02-17T09:10:44.1461203Z",
        "endTime": "2023-02-17T09:10:47.9126841Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6014/providers/Microsoft.LabServices/labPlans?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "value": [
          {
            "systemData": {
              "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "createdByType": "Application",
              "createdAt": "2023-02-17T09:10:43.2940279Z",
              "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-02-17T09:10:51.3663778Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
        [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6014/providers/Microsoft.LabServices/labPlans/sdklabplan-8394?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01",
        "Content-Type": "application/problem\u002Bjson; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "type": "https://tools.ietf.org/html/rfc7231#section-6.5.4",
        "title": "Not Found",
        "status": 404,
        "traceId": "00-8ee82c05e020009d8f76000ba86a962f-0fab4130951767f7-01"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1588736269",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
