{
  "Entries": [
    {
      "RequestUri": "https://acstestbot3.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ySWyUUNOFUa\u002BLO4pwO043w.0",
        "X-Processing-Time": "81ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:02665c56-277e-4c59-bab4-c475caa3ee80_0000000a-6655-cf31-b8ba-a43a0d0040a9"
        }
      }
    },
    {
      "RequestUri": "https://acstestbot3.communication.azure.com/calling/calls?api-version=2021-04-15-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "sourceAlternateIdentity": {
          "value": "\u002B15129104698"
        },
        "targets": [
          {
            "phoneNumber": {
              "value": "\u002B15129104698"
            }
          }
        ],
        "source": {
          "communicationUser": {
            "id": "8:acs:02665c56-277e-4c59-bab4-c475caa3ee80_0000000a-6655-cf31-b8ba-a43a0d0040a9"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedModalities": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated",
          "dtmfReceived"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "8663e228-b2c6-4ef2-8f5b-49035c5f67d8"
      },
      "ResponseBody": {
        "callLegId": "411f0b00-c178-43fa-8198-786a8deea22b"
      }
    },
    {
      "RequestUri": "https://acstestbot3.communication.azure.com/calling/calls/411f0b00-c178-43fa-8198-786a8deea22b/Hangup?api-version=2021-04-15-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "c8003a2d-c71b-4538-9004-137e6f687b53"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstestbot3.communication.azure.com/calling/calls/411f0b00-c178-43fa-8198-786a8deea22b?api-version=2021-04-15-preview1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "33e09cc0-c152-429f-a659-69fca8b27e55"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "\u002B15129104698",
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://acstestbot3.communication.azure.com/;accesskey=Kg==",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstestbot3.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "869131480"
  }
}