{
  "Entries": [
    {
      "RequestUri": "https://acstestbot3.communication.azure.com/calling/calls?api-version=2021-04-15-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "sourceAlternateIdentity": {
          "value": "\u002B15129104698"
        },
        "targets": [
          {
            "phoneNumber": {
              "value": "\u002B15129104698"
            }
          }
        ],
        "source": {
          "communicationUser": {
            "id": "8:acs:02665c56-277e-4c59-bab4-c475caa3ee80_0000000a-540b-0ba7-570c-113a0d008793"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedModalities": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated",
          "dtmfReceived"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "ef5e0581-b21d-40a4-ac2f-ea1a627f0581"
      },
      "ResponseBody": {
        "callLegId": "421f0b00-7d4a-453b-8e0f-5d94a15d3639"
      }
    },
    {
      "RequestUri": "https://acstestbot3.communication.azure.com/calling/calls/421f0b00-7d4a-453b-8e0f-5d94a15d3639/Hangup?api-version=2021-04-15-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "78ac54c2-6ceb-40fe-b20b-ffdab44583b5"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstestbot3.communication.azure.com/calling/calls/421f0b00-7d4a-453b-8e0f-5d94a15d3639?api-version=2021-04-15-preview1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "64632314-fcf1-411d-9bd9-a7ff662e54d1"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "\u002B15129104698",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstestbot3.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "946057836"
  }
}