{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-48e8b4bc-254c-038f-a809-8d8cb036e393?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:51 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D982C99E9C3B18\u0022",
        "Last-Modified": "Tue, 28 Sep 2021 21:47:51 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-48e8b4bc-254c-038f-a809-8d8cb036e393/%21%2A%27%28%29%3B%5B%5D%3A%40%26%25%3D%2B%24%2C/%3F%23%C3%A4%C3%84%C3%B6%C3%96%C3%BC%C3%9C%C3%9F/test-blob-f4878b63-bf44-c21f-3644-11a8a4c40f2b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:51 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "Dd\u002B4qP81SwZdQUzsRNus7EluZ2f0B2kT6HR3AyUxL60uipUYkbITLkCAlwJzM31blyVfNVyoNgV2pL\u002BLvUjhKxKevrpFlFqXWjkndHBmoLT2HGsA0vlRhlSQoezyh3D3n2vw1XXDFQPKx9sjgMKVEAQKlaHc4VgYTDdmtfNtpdLJMNQEdso/MwZoNQoeLgWR\u002BpHo5/LOGr4T14g9XWAQXSIIWVDtkZk5y2GadKtN\u002Bh4y1Lphhb3g\u002BhUW8Z9CAtalWNjoFdS1o2j3rxyRM6YSxdxqCoimrtdkKF8716D598iL9RvTZeRJfTBSadahT8ZuAyzC1/dN/6kAg\u002B[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-48e8b4bc-254c-038f-a809-8d8cb036e393?restype=container\u0026comp=list\u0026prefix=%21%2A%27%28%29%3B%5B%5D%3A%40%26%25%3D%2B%24%2C%2F%3F%23%C3%A4%C3%84%C3%B6%C3%96%C3%BC%C3%9C%C3%9F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:51 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-48e8b4bc-254c-038f-a809-8d8cb036e393?sv=2020-12-06\u0026st=2021-09-28T20%3A47%3A51Z\u0026se=2021-09-28T22%3A47%3A51Z\u0026sr=c\u0026sp=racwdxlti\u0026sig=Sanitized\u0026restype=container\u0026comp=list\u0026prefix=!*%27()%3B%5B%5D%3A%40%26%25%3D%2B%24%2C%2F%3F%23%C3%A4%C3%84%C3%B6%C3%96%C3%BC%C3%9C%C3%9F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2020-12-06"
      },
     [...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-48e8b4bc-254c-038f-a809-8d8cb036e393?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:51 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-09-28T14:47:51.2839123-07:00",
    "RandomSeed": "660951058",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}