{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bcac0211-1622-2c97-5223-11bb62af897a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 01 Oct 2021 18:13:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D985073D800F10\u0022",
        "Last-Modified": "Fri, 01 Oct 2021 18:13:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bcac0211-1622-2c97-5223-11bb62af897a/test-blob-dir-c2a43a23-0e36-a6db-18cc-18d9deed87d6/test-blob-29457d13-bb7b-780d-9446-ff9095528dd4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 01 Oct 2021 18:13:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D985073DC8738A\u0022",
        "Last-Modified": "Fri, 01 Oct 2021 18:13:59 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-10-01T18:13:59.7458068Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bcac0211-1622-2c97-5223-11bb62af897a?restype=container\u0026comp=list\u0026prefix=test-blob-dir-c2a43a23-0e36-a6db-18cc-18d9deed87d6\u0026sv=2020-12-06\u0026st=2021-10-01T17%3A13%3A58Z\u0026se=2021-10-01T19%3A13%3A58Z\u0026sr=c\u0026sp=racwdxlti\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bcac0211-1622-2c97-5223-11bb62af897a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Oct 2021 18:13:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-10-01T13:13:58.6063706-05:00",
    "RandomSeed": "373997975",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}