{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79f9ad7a-5c21-7f9d-c657-7d643b420c36?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:12 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9850745DA1D69\u0022",
        "Last-Modified": "Fri, 01 Oct 2021 18:14:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79f9ad7a-5c21-7f9d-c657-7d643b420c36/test-blob-dir-3c40c936-fd7b-b2ba-3e3b-48d9ea4746db/test-blob-75d8b330-c043-7c2d-339e-8767e5db8dcb?comp=block\u0026blockid=dGVzdC1ibG9jay02M2ExOTg5NS1hMjVhLTA5YjEtMTdiYi0wMDU4YjhhYzgxMmY%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:12 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "Uh0fb6rqTY8MSw3N6sFrAfYGY3yNgBB2nMQI3XVSzWKufYbNJ9cxRmVIafiyX5FyMoZx3ngQPtIMqdPl4XAauX2qHmw6ntke1RwXRBcYwzwylqvu4O7qnj\u002B0wX4ES2X1Lq96CEElN5OsUwlb\u002BPm79OWWs0rEK9iPwIAsht1bGom3IhZnnrv7DV8XQY3kj6VG\u002BM2YbZgbMALW6kfB\u002BLG2UTh/pNbjU1Yqm6XqrOlLqjDa5o0Pwq3xm/ETkbNzOhStYfBVZevPYqR3btLyMIQYi0AX5hEkpo\u002BLjgjkz8Kit2GRPUv59UVFC4TomFTa/mtt\u00[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79f9ad7a-5c21-7f9d-c657-7d643b420c36?restype=container\u0026comp=list\u0026prefix=test-blob-dir-3c40c936-fd7b-b2ba-3e3b-48d9ea4746db\u0026include=Uncommittedblobs",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:12 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
  [...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79f9ad7a-5c21-7f9d-c657-7d643b420c36?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:12 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1033582002",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}