{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-adfe2c62-b696-2778-ad88-1b78837220b2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 28 Sep 2021 21:53:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D982CA79E77A81\u0022",
        "Last-Modified": "Tue, 28 Sep 2021 21:53:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-adfe2c62-b696-2778-ad88-1b78837220b2/test-blob-dir-045f11b9-3bfd-db16-18d3-23130458db54/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 21:53:59 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "zLUzAzMM58ak5DT41\u002BInPqx5ZTn5t2gJaWL794SboVHAWmROF9IErSqZYBkGHgQ2q\u002BVmivOiWxVNKpnREO9BCUPiN3x\u002B2SbZdbgPYFZPAktexUyfNBZeHf9PAO05M5w6V1fWI\u002BaIuNK\u002BjBU7k/u\u002B/idNckujotQshBp8L9k4oEIb1Qj\u002Bed9l1g164KcBI4oEkALG68BQlrWCqZ/MC4n5hezSH73ywIVI6Jw\u002BKcEtKmGPeJ7WcrSByj5TfM8/mcuEgVu6LwPMEdB8fgMkEmzzVH8\u002BPJLqIhM3UVV\u002BnkO1CE/Ruqhmc/tdwmfOWv[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-adfe2c62-b696-2778-ad88-1b78837220b2/test-blob-dir-045f11b9-3bfd-db16-18d3-23130458db54/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 21:53:59 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "zLUzAzMM58ak5D[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-adfe2c62-b696-2778-ad88-1b78837220b2/test-blob-dir-045f11b9-3bfd-db16-18d3-23130458db54/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 21:53:59 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "zLUzAzMM58ak5D[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-adfe2c62-b696-2778-ad88-1b78837220b2/test-blob-dir-045f11b9-3bfd-db16-18d3-23130458db54/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 21:53:59 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "zLUzAzMM58[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-adfe2c62-b696-2778-ad88-1b78837220b2/test-blob-dir-045f11b9-3bfd-db16-18d3-23130458db54/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 21:53:59 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "zLUzAzMM58[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-adfe2c62-b696-2778-ad88-1b78837220b2/test-blob-dir-045f11b9-3bfd-db16-18d3-23130458db54/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 21:53:59 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "zLUzAzMM58[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-adfe2c62-b696-2778-ad88-1b78837220b2/test-blob-dir-045f11b9-3bfd-db16-18d3-23130458db54/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 21:53:59 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "zLUzAz[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-adfe2c62-b696-2778-ad88-1b78837220b2/test-blob-dir-045f11b9-3bfd-db16-18d3-23130458db54/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 21:53:59 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "zLUzAz[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-adfe2c62-b696-2778-ad88-1b78837220b2/test-blob-dir-045f11b9-3bfd-db16-18d3-23130458db54/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Sep 2021 21:53:59 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D982CA7A6D06B7\u0022",
        "Last-Modified": "Tue, 28 Sep 2021 21:53:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-28T21:53:59.8626005Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-adfe2c62-b696-2778-ad88-1b78837220b2?restype=container\u0026comp=list\u0026prefix=test-blob-dir-045f11b9-3bfd-db16-18d3-23130458db54",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Sep 2021 21:53:59 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
       [...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-adfe2c62-b696-2778-ad88-1b78837220b2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Sep 2021 21:54:00 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1255804082",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}