{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-27a29a20-e710-8f90-5431-ab598e98eb50?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 28 Sep 2021 21:48:08 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D982C9A8ED65F1\u0022",
        "Last-Modified": "Tue, 28 Sep 2021 21:48:08 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-27a29a20-e710-8f90-5431-ab598e98eb50/test-blob-dir-2f403197-50f7-ba62-f878-1815cb478080/test-blob-43ad13de-fe4b-5be8-1252-e95cd548d7f1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 28 Sep 2021 21:48:08 GMT",
        "x-ms-tags": "tagKey0=tagValue0\u0026tagKey1=tagValue1",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D982C9A8F842C0\u0022",
        "Last-Modified": "Tue, 28 Sep 2021 21:48:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-28T21:48:08.4515520Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-27a29a20-e710-8f90-5431-ab598e98eb50?restype=container\u0026comp=list\u0026prefix=test-blob-dir-2f403197-50f7-ba62-f878-1815cb478080\u0026include=Tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Sep 2021 21:48:08 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://amandacanary.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-27a29a20-e710-8f90-5431-ab598e98eb50\u0022\u003E\u003CPrefix\u003Etest-blob-dir-2f403197-50f7-ba62-f878-1815cb478080\u003C/Prefix\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Etest-blob-dir-2f40319[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-27a29a20-e710-8f90-5431-ab598e98eb50?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Sep 2021 21:48:08 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1810409873",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}