{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-aac55a03-a517-c104-8885-7c44f7c711fa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 28 Sep 2021 23:17:23 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D982D620F85680\u0022",
        "Last-Modified": "Tue, 28 Sep 2021 23:17:23 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-aac55a03-a517-c104-8885-7c44f7c711fa/test-blob-dir-f0a23ea6-903f-dbe3-f55a-fc357aa944aa/test-blob-ad704282-b239-6365-9ca5-4e5770311b85",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 23:17:23 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "XIC1PzoS\u002BkNmsmk5Sv2dQ0EMsQy42HHz2D9UmUGMasQ\u002Bdtn58wVvcEgtRodJLBieCAsWZH8PzYMPwmb7vWEB2kel\u002BtQjpE88nEHDipLpqawmtZA2dQZELqlW6TGedLLmK2tApDFEemO72sc\u002BTELwJRi61AjQymRAYMwqzboenSiO3F8mqQV64jose5s\u002BBuJmZcQY45\u002BqFmEHAENlGa2pnDyfr2/jynwTQPLNo07IAVrpxGj2BrmI5Mb\u002BH6nBFciNg99fn1dzgppIBaOt3XISPv7pe1REs5aDF8qo5avTUSopPyBvaWIDdUHOrgAV2wdT6\u002BGq[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-aac55a03-a517-c104-8885-7c44f7c711fa/test-blob-dir-f0a23ea6-903f-dbe3-f55a-fc357aa944aa/test-blob-ad704282-b239-6365-9ca5-4e5770311b85?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "x-ms-date": "Tue, 28 Sep 2021 23:17:23 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-aac55a03-a517-c104-8885-7c44f7c711fa/test-blob-dir-f0a23ea6-903f-dbe3-f55a-fc357aa944aa/test-blob-ad704282-b239-6365-9ca5-4e5770311b85?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-date": "Tue, 28 Sep 2021 23:17:23 GMT",
        "x-ms-rehydrate-priority": "Standard",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-aac55a03-a517-c104-8885-7c44f7c711fa?restype=container\u0026comp=list\u0026prefix=test-blob-dir-f0a23ea6-903f-dbe3-f55a-fc357aa944aa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Sep 2021 23:17:24 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
       [...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-aac55a03-a517-c104-8885-7c44f7c711fa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Sep 2021 23:17:24 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "202024635",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}