{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-ad6276ee-1918-8cdd-764b-f57a810abc84?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:57 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D982C9A2619032\u0022",
        "Last-Modified": "Tue, 28 Sep 2021 21:47:57 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-ad6276ee-1918-8cdd-764b-f57a810abc84/test-blob-dir-2bf5488d-adcd-098c-1dc8-eb05ed4c7f06/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:57 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "H4mYCCHdbUnalOUvCq5mrnnnBMR6AZ406\u002BDAT99mdmgJ0oqpeo8jr9usUDjHXf5vYT2LBki7jB3rZBxAHR1pdB18JTgjvTTpxFTpzrBlbI7hUe6i2nAgTkZsvRVy4pK9QtwbSjfGS6MJoUH00b5thfeOXswvx5msXNbxtwAed\u002BHCLIvTSiFXGwVKmDguLH2I/zgd5IPGjXpDbu5g1JSj6ypgMaUymTrWNkPG5S9hfTBZabfHAJJd\u002B58RkNwz9kdxp60NzvrYVWX9R61AAKdL4fC9Bmrc2\u002BqYAjYFIQleoj/7VD2CU682gRNRyrnkHPv3xa7rde/clMzCdczE0jRcn6Vt[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-ad6276ee-1918-8cdd-764b-f57a810abc84/test-blob-dir-2bf5488d-adcd-098c-1dc8-eb05ed4c7f06/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:57 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "H4mYCCHdbUnalO[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-ad6276ee-1918-8cdd-764b-f57a810abc84/test-blob-dir-2bf5488d-adcd-098c-1dc8-eb05ed4c7f06/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:57 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "H4mYCCHdbUnalO[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-ad6276ee-1918-8cdd-764b-f57a810abc84/test-blob-dir-2bf5488d-adcd-098c-1dc8-eb05ed4c7f06/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:57 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "H4mYCCHdbU[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-ad6276ee-1918-8cdd-764b-f57a810abc84/test-blob-dir-2bf5488d-adcd-098c-1dc8-eb05ed4c7f06/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:57 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "H4mYCCHdbU[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-ad6276ee-1918-8cdd-764b-f57a810abc84/test-blob-dir-2bf5488d-adcd-098c-1dc8-eb05ed4c7f06/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:57 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "H4mYCCHdbU[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-ad6276ee-1918-8cdd-764b-f57a810abc84/test-blob-dir-2bf5488d-adcd-098c-1dc8-eb05ed4c7f06/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:57 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "H4mYCC[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-ad6276ee-1918-8cdd-764b-f57a810abc84/test-blob-dir-2bf5488d-adcd-098c-1dc8-eb05ed4c7f06/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "H4mYCC[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-ad6276ee-1918-8cdd-764b-f57a810abc84/test-blob-dir-2bf5488d-adcd-098c-1dc8-eb05ed4c7f06/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:58 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D982C9A2DC0775\u0022",
        "Last-Modified": "Tue, 28 Sep 2021 21:47:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-28T21:47:58.2012037Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-ad6276ee-1918-8cdd-764b-f57a810abc84?restype=container\u0026comp=list\u0026prefix=test-blob-dir-2bf5488d-adcd-098c-1dc8-eb05ed4c7f06\u0026maxresults=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseH[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-ad6276ee-1918-8cdd-764b-f57a810abc84?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1189178157",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}