{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-d930dedd-cf8e-b950-68d1-f76defd8dc08?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 28 Sep 2021 23:17:21 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D982D61FBC8148\u0022",
        "Last-Modified": "Tue, 28 Sep 2021 23:17:21 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-d930dedd-cf8e-b950-68d1-f76defd8dc08/test-blob-dir-369d9aad-4975-1d0d-a4e5-4d151665490d/test-blob-dc2d3e50-d647-0f41-c21e-b7364c7a6d1d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 23:17:21 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "glo81r1KQ/UFc2HiETdIiHhmb59AGRfWWI5zV5LX0Sp3MJO7KHNQBfs41tN0X/6K1S\u002B95gvO3GhDZn0v1\u002BtjLqE3auCkjF8FFWmjCENDYfmP6IFjGuseqVQqeML1IS4P1agxPfQd5kjPt9ChKtQlAASEn\u002B5q/xO2GMGMeRScEPQ6lDKaESQEcgI4k2MbfH5/BHi9cYJApdWUeyQzkGw0MqfcZ5ahiu7ggCzsMWuwm5tDDXWc3p5y\u002Be9dBpb/0eGVBGC8PhXo3XqJ3fFVVHRp49\u002BI74P3mFQIam2mRIRY4K5LViwK9FyGWy/7EgGtHKV78yK2d\u002BFdnmsMs9[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-d930dedd-cf8e-b950-68d1-f76defd8dc08?restype=container\u0026comp=list\u0026prefix=test-blob-dir-369d9aad-4975-1d0d-a4e5-4d151665490d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Sep 2021 23:17:22 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
       [...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-d930dedd-cf8e-b950-68d1-f76defd8dc08?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Sep 2021 23:17:22 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "739128",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}