{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-3aea84df-e83e-8a53-5605-db52cd058d55?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:46 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D982C99C074A78\u0022",
        "Last-Modified": "Tue, 28 Sep 2021 21:47:46 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-3aea84df-e83e-8a53-5605-db52cd058d55/test-blob-dir-0b1e07b7-6c8c-a2bc-a0e2-e49a2dfd0f65/test-blob-bb07742c-0730-164d-d61a-80829284eb6e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:46 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "Jp6fc9LO2t5VMuUlG8Pz/y1EM6jgwuuvugc0cuw5Dxv3dXSPXpuTXpopZf4iJ/sTJ4BUTlFCjWSy77nLmWjyGyLKLaVOY6GSsNQOt1ztjZIMIUpr5cHJtOgQ3W7iyMQyNknbV/pVxcPfwp18NNUHxGInv3gdhzZhAHi9PYYyr\u002BgP3IETETWYtluHiyMjTIASCRgMuglMFK8TeleBl4c8rRK1bFdU87IsjwgclfsTPbP4qzNuJfXfw8fRAJfeFh/USt4QbuAovRVl4CsAMH\u002B0AD2jiexTzogd1qmQg/MbTnjpSEodAs/Tz\u002B0eCUXJ3pJHHQBaOo0zgHxW85g2mDohSZKyF\u00[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-3aea84df-e83e-8a53-5605-db52cd058d55?restype=container\u0026comp=list\u0026prefix=test-blob-dir-0b1e07b7-6c8c-a2bc-a0e2-e49a2dfd0f65",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:46 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
       [...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-3aea84df-e83e-8a53-5605-db52cd058d55?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Sep 2021 21:47:46 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "836193281",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}