{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-079c30ad-eebc-2a42-b696-a762f0c36b23?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98507444885F1\u0022",
        "Last-Modified": "Fri, 01 Oct 2021 18:14:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-079c30ad-eebc-2a42-b696-a762f0c36b23/test-blob-dir-8f706cdc-c15c-30c7-44c0-536a50537b68/test-blob-373fb4be-88c8-357a-13e2-13c5bfb8b7f2?comp=block\u0026blockid=dGVzdC1ibG9jay1lMWY0MjU0MS04YWQxLTgyYWUtNjU1MC1mYjBjM2I1OGI2YmE%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "\u002BlgSQt1HlmHxyp7nCmPmR\u002B5VdG\u002BBH31T8Tt8eq0BcYsJYXD4QDmKdh7dRv7qkiqv/MzWaURIcdrav1Ciyxy071kS3qnz7Qe1yv5Qo9l/aV8QzX3hKwdHwe\u002BVHYHp6KsCKVek17OBvA7FIZ5F\u002BM4BWlXwkf2e08RRyx25XdCGy\u002BJTTXmC2pGrjxFvHAloAcghlMIr\u002BFatZFaSUwuWx14\u002BPlW88qpUf4DERALsLra66cpUmMkNW9OMpegj74eFFcezMd20rA4ezBVCZrNUwTWf2GlBQS\u002BUMOOCME3BMZD4Pi46Of3Z[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-079c30ad-eebc-2a42-b696-a762f0c36b23?restype=container\u0026comp=list\u0026prefix=test-blob-dir-8f706cdc-c15c-30c7-44c0-536a50537b68\u0026include=Uncommittedblobs",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
  [...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-079c30ad-eebc-2a42-b696-a762f0c36b23?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "408452682",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}