{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79d8519e-b349-a2d3-6650-6e62450d59a1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:12 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9850746186A44\u0022",
        "Last-Modified": "Fri, 01 Oct 2021 18:14:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79d8519e-b349-a2d3-6650-6e62450d59a1/test-blob-dir-965ea9b1-c7e9-72b6-7067-2685c7cbb88e/test-blob-86302e0e-6657-6e50-becf-02b88417029f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cool",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "/az3uyfZKMCONpbC7ncVGmsJzQEODd3zcTI5QX73c01jypUWrtgxGiwwcsRlL0Vic6Bi1TUtK/DOBEr0oOdCl8JIXyTi/2uT17LV3psZjULs1s3elZ0XNp6kR6mNPXpE7tsBHc8hgHQ0z/2DV0xUtXcIB8oaYwElMCiFPbfBBZo4kfDAGG9yy1VZqcWflN5RUJIyhTWwKYrZ3Oynm0K8cspjSsZclJ0Hljx0wbk8hZxKM\u002B0lj4Blh2dl5zuDyy8SnDf7PEkY9bz0Ku/5O2jQnVZQXGhVl\u002BNK/sNe9qxhhMoMYSWCQElSMT4wMGSQa0v\u002BlUrkM27HvQRUsT2Guf4Pk6Yk7NpDT[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79d8519e-b349-a2d3-6650-6e62450d59a1/test-blob-dir-965ea9b1-c7e9-72b6-7067-2685c7cbb88e/test-blob-dir-136662ef-39ca-52c5-5092-0492c3a69458/test-blob-29cf905f-9c66-b0ea-e028-2d1c18144f30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cool",
        "x-ms[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79d8519e-b349-a2d3-6650-6e62450d59a1/test-blob-dir-965ea9b1-c7e9-72b6-7067-2685c7cbb88e/test-blob-dir-136662ef-39ca-52c5-5092-0492c3a69458/test-blob-dir-01f155f3-fcfa-33f1-da89-bacede032f39/test-blob-a627a176-b1d1-6182-0c0b-4be4b12bb611",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*"[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79d8519e-b349-a2d3-6650-6e62450d59a1?restype=container\u0026comp=list\u0026prefix=test-blob-dir-965ea9b1-c7e9-72b6-7067-2685c7cbb88e\u0026include=Tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Respons[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79d8519e-b349-a2d3-6650-6e62450d59a1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "843469883",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}