{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4d344df-aed6-e79f-707d-4e8770fcec0a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 20 Sep 2021 17:58:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97C603BC70387\u0022",
        "Last-Modified": "Mon, 20 Sep 2021 17:58:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4d344df-aed6-e79f-707d-4e8770fcec0a/test-blob-53bde48a-3402-5045-3aeb-ceb3135b285d/a7ccc5e5-f4b6-dc4b-c3e5-cb226ce5e47e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 20 Sep 2021 17:58:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D97C603BD17532\u0022",
        "Last-Modified": "Mon, 20 Sep 2021 17:58:21 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-09-20T17:58:21.1923250Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4d344df-aed6-e79f-707d-4e8770fcec0a/test-blob-53bde48a-3402-5045-3aeb-ceb3135b285d/2a0b854c-c5bc-9748-bef3-69b09001339f/8e46ccf2-3d6a-9f8d-5bda-b4c33696fa59",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 20 Sep 2021 17:58:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D97C603BE0E154\u0022",
        "Last-Modified": "Mon, 20 Sep 2021 17:58:21 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-09-20T17:58:21.2933972Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4d344df-aed6-e79f-707d-4e8770fcec0a?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 Sep 2021 17:58:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4d344df-aed6-e79f-707d-4e8770fcec0a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 Sep 2021 17:58:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2142491",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Kg==;\ntestscope2\n\n"
  }
}