{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-c4d344df-aed6-e79f-707d-4e8770fcec0a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:34:39 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D2616DC3BCF\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:34:39 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-c4d344df-aed6-e79f-707d-4e8770fcec0a/test-blob-53bde48a-3402-5045-3aeb-ceb3135b285d/a7ccc5e5-f4b6-dc4b-c3e5-cb226ce5e47e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 21 Sep 2021 17:34:39 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D97D2616EAD4B8\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:34:39 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T17:34:39.6353720Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-c4d344df-aed6-e79f-707d-4e8770fcec0a/test-blob-53bde48a-3402-5045-3aeb-ceb3135b285d/2a0b854c-c5bc-9748-bef3-69b09001339f/8e46ccf2-3d6a-9f8d-5bda-b4c33696fa59",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 21 Sep 2021 17:34:39 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D97D26170584BC\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:34:39 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-09-21T17:34:39.8102716Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-c4d344df-aed6-e79f-707d-4e8770fcec0a?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:34:39 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-c4d344df-aed6-e79f-707d-4e8770fcec0a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:34:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2142491",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}