{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5d350967-3b53-8ff9-ad33-588593ee15fa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98507465D6F11\u0022",
        "Last-Modified": "Fri, 01 Oct 2021 18:14:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5d350967-3b53-8ff9-ad33-588593ee15fa/test-blob-dir-e5468496-fede-b642-f2d2-c474c95d817d/test-blob-70ab96a1-40cb-60b3-6303-1ae933b3afc8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "cacheControl",
        "x-ms-blob-content-disposition": "contentDisposition",
        "x-ms-blob-content-encoding": "contentEncoding",
        "x-ms-blob-content-language": "contentLanguage",
        "x-ms-blob-content-type": "contentType",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "9EF81v9yxfQOsV2OohX/7XnNm5mW/Kzm7L1rW1wL\u002B/NGE1eynssm/g02MisO6ZtJlF1FyDNJ0feUlupBB2mXA7VpR469TE6tp52LYMqB1wMiIsb/xTPA/UJgHQfh5Pejni52pKEMi0cOlyGWvnEsE7/nH\u002BSjmD2BqUlMXS9HzMKl58GcCjJhFZZ\u002B8C0SKT/RMwpI\u002BsUSAAbw9PtYwC4Yx8te8NavkAiMhQlOJacQbn8Keyol/9H9kua6qxY2CVRnZSlitDloIaIBu3S7xNte4IV8TUUE88f5YV7v9OXyVny05r9\u002BrbpGoVmHI0RcQc4LXMqQursPY3JhaFLaeCy[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5d350967-3b53-8ff9-ad33-588593ee15fa/test-blob-dir-e5468496-fede-b642-f2d2-c474c95d817d/test-blob-dir-c9fb6351-a7ef-91ca-c229-7b4cf31ba225/test-blob-2df5e54a-61f8-e7af-35c9-9a04f926afe4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "cacheControl"[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5d350967-3b53-8ff9-ad33-588593ee15fa/test-blob-dir-e5468496-fede-b642-f2d2-c474c95d817d/test-blob-dir-c9fb6351-a7ef-91ca-c229-7b4cf31ba225/test-blob-dir-402ad371-6bdc-3d77-5e94-4abf95cfe268/test-blob-88868780-63fe-2416-a2ab-7fbd1671e402",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*"[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5d350967-3b53-8ff9-ad33-588593ee15fa?restype=container\u0026comp=list\u0026prefix=test-blob-dir-e5468496-fede-b642-f2d2-c474c95d817d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
     [...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5d350967-3b53-8ff9-ad33-588593ee15fa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1551259640",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}