{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b7ef1c0d-fcb8-b558-d300-c5140c342107?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9850747B0E0CC\u0022",
        "Last-Modified": "Fri, 01 Oct 2021 18:14:16 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b7ef1c0d-fcb8-b558-d300-c5140c342107/test-blob-dir-85bbbc73-3181-7589-91cd-97ac3b917ef0/test-blob-2d92180d-2bc2-a7db-2ccf-d473a0162f13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "8gNprhyQCKrBQB5APfCWvzN8wV/1SaRa7nkWMsZSA3iwFRGMHPSeaV098/Meey7PXrp4zPmGgKheD8CjedbjbjylkCjfCaM\u002B3VcBuFaxPHNKR9QM2jd\u002BKpVoLQ00\u002BvCHWYS2eOoF8FUWOe6ihMdSrdNNWTEB15MFJmaTdtuVCuNneV7R\u002B8OIRFd\u002B9aFJ3KXNFYA55qG\u002BhYLxsVGEcnl5gS8LOgtpgbEPxBTZg\u002BHyu0rBxmBbXCNBqPPc4EpyA9LdBXRxPqGaZJTOKiKM5AKg/vUGw6sZHiQLyZIXjaFnncBC\u002B31tgH2oJmLMjDEBtMTwO\u0[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b7ef1c0d-fcb8-b558-d300-c5140c342107/test-blob-dir-85bbbc73-3181-7589-91cd-97ac3b917ef0/test-blob-dir-224570cd-0e4c-3cca-6edf-86e2cb447bf0/test-blob-39d93642-3006-9fbc-a3b0-2b51c0a7175a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b7ef1c0d-fcb8-b558-d300-c5140c342107/test-blob-dir-85bbbc73-3181-7589-91cd-97ac3b917ef0/test-blob-dir-224570cd-0e4c-3cca-6edf-86e2cb447bf0/test-blob-dir-1d196d5c-f0ba-af42-b0b0-7b422f6c0aa6/test-blob-9a94430a-ecce-5dda-4294-c3565d5e42de",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*"[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b7ef1c0d-fcb8-b558-d300-c5140c342107?restype=container\u0026comp=list\u0026prefix=test-blob-dir-85bbbc73-3181-7589-91cd-97ac3b917ef0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
     [...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b7ef1c0d-fcb8-b558-d300-c5140c342107/test-blob-dir-85bbbc73-3181-7589-91cd-97ac3b917ef0/test-blob-2d92180d-2bc2-a7db-2ccf-d473a0162f13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:16 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9850747B803FF\u0022",
        "Last-Modified": "Fri, 01 Oct 2021 18:14:16 GMT",
        "x-ms-blob-content-md5": "0fZOvpM1yUDYFDr9poQF9g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 01 Oct 2021 18:14:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 01 Oct 2021 18:14:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-10-01T18:14:16.4153101Z"
      },
      "ResponseBody": "8gNprhyQCKrBQB5APfCWvzN8wV/1SaRa7nkWMsZSA3iwFRGMHPSeaV098/Meey7PXrp4zPmGgKheD8CjedbjbjylkCjfCaM\u002B3VcBuFaxPHNKR9QM2jd\u002BKpVoLQ00\u002BvCHWYS2eOoF8FUWOe6ihMdSrdNNWTEB15MFJmaTdtuVCuNneV7R\u002B8OIRFd\u002B9aFJ3KXNFYA55qG\u002BhYLxsVGEcnl5gS8LOgtpgbEPxBTZg\u002BHyu0rBxmBbXCNBqPPc4EpyA9LdBXRxPqGaZJTOKiKM5AKg/vUGw6sZHiQLyZIXjaFnncBC\u002B31tgH2oJmLMjDEBtMTwO\u002BFUa0AmxOdPZXQPgtbzZ41hSuiFM313XpxJTJHzChTNJlG/EjGAGzeWHhoJmKSL2CWkn2r[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b7ef1c0d-fcb8-b558-d300-c5140c342107?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Oct 2021 18:14:16 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1493090817",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}