{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-f654e966-f4e6-a873-fa35-da46a37b1225?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:11:22 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5C1098D26C\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:11:22 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-f654e966-f4e6-a873-fa35-da46a37b1225/test-directory-acdfc6e9-8e0b-a91c-18db-74bf17cb1fbe?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:11:22 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5C109BFA4F\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:11:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-f654e966-f4e6-a873-fa35-da46a37b1225/test-directory-acdfc6e9-8e0b-a91c-18db-74bf17cb1fbe?comp=forceclosehandles",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:11:22 GMT",
        "x-ms-handle-id": "*",
        "x-ms-recursive": "true",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-number-of-handles-closed": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-f654e966-f4e6-a873-fa35-da46a37b1225?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:11:22 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1438481637",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}