{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-fd00e990-3d31-9c7c-56ff-36b3a071d654?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:04 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FD8127B7B110\u0022",
        "Last-Modified": "Sun, 30 Jun 2019 17:34:07 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-fd00e990-3d31-9c7c-56ff-36b3a071d654/test-directory-2d55c812-b8d1-7f6b-4f85-7a40839957e2?restype=directory\u0026comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:04 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eResourceNotFound\u003c/Code\u003e\u003cMessage\u003eThe specified resource does not exist.\n",
        "RequestId:992cc315-d01a-0040-046a-2f4a36000000\n",
        "Time:2019-06-30T17:34:07.8732478Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-fd00e990-3d31-9c7c-56ff-36b3a071d654?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:04 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "666020598"
  }
}