<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hyak.Generator" version="1.0.5435.25687-prerelease" targetFramework="portable-net403+win+wpa81" />
  <package id="Microsoft.Azure.Management.Sql.Specification" version="0.9.5442.9891-prerelease" targetFramework="portable-net403+win+wpa81" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Common" version="1.4.1" targetFramework="portable-net45+wp8+wpa81+win" />
  <package id="Microsoft.WindowsAzure.Common.Dependencies" version="1.1.1" targetFramework="portable-net45+wp8+wpa81+win" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="portable-net45+sl50+win+wp80" />
</packages>
