{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Commerce.Admin/operations?api-version=2015-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Commerce.Admin/updateEncryption/action\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Commerce Service\",\r\n        \"resource\": \"UpdateEncryption\",\r\n        \"operation\": \"Update Encryption\",\r\n        \"description\": \"Updates the encryption used to protect data in storage using the updated encryption configuration.\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Commerce.Admin/operations/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Commerce Service\",\r\n        \"resource\": \"Operation\",\r\n        \"operation\": \"List Operations\",\r\n        \"description\": \"Lists the supported operations.\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14933"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "57567fab-bab7-4071-9281-8efeda4c7995"
  }
}