{
  "Entries": [
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/providers/Microsoft.DeploymentManager?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/providers/Microsoft.DeploymentManager\",\r\n  \"namespace\": \"Microsoft.DeploymentManager\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"5b306cba-9c71-49db-96c3-d17ca2379c4d\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"artifactSources\",\r\n      \"locations\": [\r\n        \"Central US\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"West US 2\",\r\n        \"West Central US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Australia Central\",\r\n        \"Australia Central 2\",\r\n        \"Brazil South\",\r\n        \"South India\",\r\n        \"Central India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"France South\",\r\n        \"South Africa North\",\r\n        \"South Africa West\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2019-11-01-preview\",\r\n        \"2018-09-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"serviceTopologies\",\r\n      \"locations\": [\r\n        \"Central US\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"West US 2\",\r\n        \"West Central US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/admsdknet9706\",\r\n  \"name\": \"admsdknet9706\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/providers/Microsoft.Storage?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/providers/Microsoft.Storage\",\r\n  \"namespace\": \"Microsoft.Storage\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"a6aa9161-5291-40bb-8c5c-923b567bee3b\",\r\n      \"roleDefinitionId\": \"070ab87f-0efc-4423-b18b-756f3bdb0236\"\r\n    },\r\n    {\r\n      \"applicationId\": \"e406a681-f3d4-42a8-90b6-c2b029497af1\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageAccounts\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"North Central US\"[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/admsdknet9706/providers/Microsoft.Storage/storageAccounts/admsdknet9706stgacct?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_LRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/providers/Microsoft.Storage/locations/eastus/asyncoperations/30b7c52d-65e0-4995-a0bb-700d0ca5cbf7?monitor=true&api-version=2015-06-15"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/providers/Microsoft.Storage/locations/eastus/asyncoperations/30b7c52d-65e0-4995-a0bb-700d0ca5cbf7?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"East US\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_LRS\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/admsdknet9706/providers/Microsoft.Storage/storageAccounts/admsdknet9706stgacct/listKeys?api-version=2015-06-15",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"key1\": \"k2Nr+OWe1Ngx9pWV1uxQ2AZWHdTDB1Sdj9bvo/rnE5fLDYjJJ0KfDiXOA4cmcbHjg0E1MPfNvRnmViEUvDPHnA==\",\r\n  \"key2\": \"7ev1p25Y+iO74kfcUuMZhdW1TNEc3kVi/NhEsBREM66gbQX/NZUE8qOUKGPZJVLlYWuoZCQJTLJy/nTwIyMfNw==\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/admsdknet9706/providers/Microsoft.DeploymentManager/artifactSources/admsdknet9706ArtifactSource?api-version=2019-11-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sourceType\": \"AzureStorage\",\r\n    \"artifactRoot\": \"Tests\\\\ArtifactRoot\",\r\n    \"authentication\": {\r\n      \"type\": \"Sas\",\r\n      \"properties\": {\r\n        \"sasUri\": \"https://admsdknet9706stgacct.blob.core.windows.net/artifacts?sv=2017-04-17&sr=c&sig=hYz1Y67Pg0%2BkHWZHj7ckpvy1vQCkjn0ZvOohRjprhbs%3D&st=2019-11-13T00%3A01%3A31Z&se=2019-11-16T00%3A01%3A31Z&sp=rl\"\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"sourceType\": \"AzureStorage\",\r\n    \"artifactRoot\": \"Tests\\\\ArtifactRoot\",\r\n    \"authentication\": {\r\n      \"type\": \"Sas\",\r\n      \"properties\": {\r\n        \"sasUri\": \"https://admsdknet9706stgacct.blob.core.windows.net/artifacts?sv=2017-04-17&sr=c&sig=hYz1Y67Pg0%2BkHWZHj7ckpvy1vQCkjn0ZvOohRjprhbs%3D&st=2019-11-13T00%3A01%3A31Z&se=2019-11-16T00%3A01%3A31Z&sp=rl\"\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"Microsoft.DeploymentManager/artifactSources\",\r\n  \"apiVersion\": \"2019-11-01-preview\",\r\n  \"id\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.DeploymentManager/artifactSources/admsdknet9706ArtifactSource\",\r\n  \"name\": \"admsdknet9706ArtifactSource\",\r\n  \"location\": \"Central US\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/admsdknet9706/providers/Microsoft.DeploymentManager/serviceTopologies/admsdknet9706ServiceTopology?api-version=2019-11-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"artifactSourceId\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.DeploymentManager/artifactSources/admsdknet9706ArtifactSource\"\r\n  },\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"artifactSourceId\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.DeploymentManager/artifactSources/admsdknet9706ArtifactSource\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"Microsoft.DeploymentManager/serviceTopologies\",\r\n  \"apiVersion\": \"2019-11-01-preview\",\r\n  \"id\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.DeploymentManager/serviceTopologies/admsdknet9706ServiceTopology\",\r\n  \"name\": \"admsdknet9706ServiceTopology\",\r\n  \"location\": \"Central US\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/admsdknet9706/providers/Microsoft.DeploymentManager/serviceTopologies/admsdknet9706ServiceTopology?api-version=2019-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DeploymentManager/serviceTopologies/admsdknet9706ServiceTopology' under resource group 'admsdknet9706' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/admsdknet9706/providers/Microsoft.DeploymentManager/serviceTopologies/admsdknet9706ServiceTopology/services/admsdknet9706Service?api-version=2019-11-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"targetLocation\": \"Central US\",\r\n    \"targetSubscriptionId\": \"53012dcb-5039-4e96-8e6c-5d913da1cdb5\"\r\n  },\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"targetSubscriptionId\": \"53012dcb-5039-4e96-8e6c-5d913da1cdb5\",\r\n    \"targetLocation\": \"Central US\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"Microsoft.DeploymentManager/serviceTopologies/services\",\r\n  \"apiVersion\": \"2019-11-01-preview\",\r\n  \"id\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.DeploymentManager/serviceTopologies/admsdknet9706ServiceTopology/services/admsdknet9706Service\",\r\n  \"name\": \"admsdknet9706Service\",\r\n  \"location\": \"Central US\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/admsdknet9706/providers/Microsoft.DeploymentManager/serviceTopologies/admsdknet9706ServiceTopology/services/admsdknet9706Service/serviceUnits/admsdknet9706ServiceUnit?api-version=2019-11-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"targetResourceGroup\": \"admsdknet9706\",\r\n    \"deploymentMode\": \"Incremental\",\r\n    \"artifacts\": {\r\n      \"templateArtifactSourceRelativePath\": \"Storage.Template.json\",\r\n      \"parametersArtifactSourceRelativePath\": \"Storage.Parameters.json\"\r\n    }\r\n  },\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.DeploymentManager/operationResults/8db43c87-d238-4039-aff3-6e12410f4508?api-version=2019-11-01-preview"
        ],
        "Retry-After": [
          "50"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.DeploymentManager/operationResults/8db43c87-d238-4039-aff3-6e12410f4508?api-version=2019-11-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"targetResourceGroup\": \"admsdknet9706\",\r\n    \"deploymentMode\": \"Incremental\",\r\n    \"artifacts\": {\r\n      \"templateArtifactSourceRelativePath\": \"Storage.Template.json\",\r\n      \"parametersArtifactSourceRelativePath\": \"Storage.Parameters.json\"\r\n    },\r\n    \"provisioningState\": \"Running\"\r\n  },\r\n  \"type\": \"Microsoft.DeploymentManager/serviceTopologies/services/serviceUnits\",\r\n  \"apiVersion\": \"2019-11-01-preview\",\r\n  \"id\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.DeploymentManager/serviceTopologies/admsdknet9706ServiceTopology/services/admsdknet9706Service/serviceUnits/admsdknet9706ServiceUnit\",\r\n  \"name\": \"admsdknet9706ServiceUnit\",\r\n  \"location\": \"Central US\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.DeploymentManager/operationResults/8db43c87-d238-4039-aff3-6e12410f4508?api-version=2019-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.DeploymentManager/serviceTopologies/admsdknet9706ServiceTopology/services/admsdknet9706Service/serviceUnits/admsdknet9706ServiceUnit?api-version=2019-11-01-preview"
        ],
        "Retry-After": [
          "30"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2019-11-14T00:01:37.111Z\",\r\n  \"endTime\": \"2019-11-14T00:01:43.304Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/admsdknet9706/providers/Microsoft.DeploymentManager/serviceTopologies/admsdknet9706ServiceTopology/services/admsdknet9706Service/serviceUnits/admsdknet9706InvalidServiceUnit?api-version=2019-11-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"targetResourceGroup\": \"admsdknet9706\",\r\n    \"deploymentMode\": \"Incremental\",\r\n    \"artifacts\": {\r\n[...]
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/admsdknet9706/providers/Microsoft.DeploymentManager/steps/admsdknet9706WaitStep?api-version=2019-11-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"stepType\": \"Wait\",\r\n    \"attributes\": {\r\n      \"duration\": \"PT5M\"\r\n    }\r\n  },\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"stepType\": \"Wait\",\r\n    \"attributes\": {\r\n      \"duration\": \"PT5M\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"Microsoft.DeploymentManager/steps\",\r\n  \"apiVersion\": \"2019-11-01-preview\",\r\n  \"id\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.DeploymentManager/steps/admsdknet9706WaitStep\",\r\n  \"name\": \"admsdknet9706WaitStep\",\r\n  \"location\": \"Central US\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/providers/Microsoft.ManagedIdentity?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53012dcb-5039[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/admsdknet9706/providers/Microsoft.ManagedIdentity/userAssignedIdentities/admsdknet9706Identity?api-version=2015-08-31-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"South Africa North\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.ManagedIdentity/userAssignedIdentities/admsdknet9706Identity"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.ManagedIdentity/userAssignedIdentities/admsdknet9706Identity\",\r\n  \"name\": \"admsdknet9706Identity\",\r\n  \"type\": \"Microsoft.ManagedIdentity/userAssignedIdentities\",\r\n  \"location\": \"southafricanorth\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"principalId\": \"d2e627d2-53d4-4701-883d-85732d080906\",\r\n    \"clientId\": \"449e6c95-ad26-498e-aa71-2b58de7a6e24\",\r\n    \"clientSecretUrl\": \"https://control-southafricanorth.identity.azure.net/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.ManagedIdentity/userAssignedIdentities/admsdknet9706Identity/credentials?tid=72f988bf-86f1-41af-91ab-2d7cd011db47&oid=d2e627d2-53d4-4701-883d-85732d080906&aid=449e6c95-ad26-498e-aa71-2b58de7a6e24\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "//subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20'Contributor'&api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-request-charge": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleName\": \"Contributor\",\r\n        \"type\": \"BuiltInRole\",\r\n        \"description\": \"Lets you manage everything except access to resources.\",\r\n        \"assignableScopes\": [\r\n          \"/\"\r\n        ],\r\n        \"permissions\": [\r\n          {\r\n            \"actions\": [\r\n              \"*\"\r\n            ],\r\n            \"notActions\": [\r\n              \"Microsoft.Authorization/*/Delete\",\r\n              \"Microsoft.Authorization/*/Write\",\r\n              \"Microsoft.Authorization/elevateAccess/Action\",\r\n              \"Microsoft.Blueprint/blueprintAssignments/write\",\r\n              \"Microsoft.Blueprint/blueprintAssignments/delete\"\r\n            ],\r\n            \"dataActions\": [],\r\n            \"notDataActions\": []\r\n          }\r\n        ],\r\n        \"createdOn\": \"2015-02-02T21:55:09.8806423Z\",\r\n        \"updatedOn\": \"2019-02-05T21:24:38.458061Z\",\r\n        \"createdBy\": null,\r\n        \"updatedBy\": null\r\n      },\r\n      \"id\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\r\n      \"type\": \"Microsoft.Authorization/roleDefinitions\",\r\n      \"name\": \"b24988ac-6180-42a0-ab88-20f7382dd24c\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/providers/Microsoft.Authorization/roleAssignments/9e64ab66-27bc-4148-9593-6f3e28b735ef?api-version=2018-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\r\n    \"principalId\": \"d2e627d2-53d4-4701-883d-85732d080906\",\r\n    \"canDelegate\": false\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-request-charge": [
          "2"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\r\n    \"principalId\": \"d2e627d2-53d4-4701-883d-85732d080906\",\r\n    \"principalType\": \"ServicePrincipal\",\r\n    \"scope\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5\",\r\n    \"createdOn\": \"2019-11-14T00:05:14.2857692Z\",\r\n    \"updatedOn\": \"2019-11-14T00:05:14.2857692Z\",\r\n    \"createdBy\": null,\r\n    \"updatedBy\": \"f52e71ff-b5e8-41f3-a79e-ece2d7ccd615\"\r\n  },\r\n  \"id\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/providers/Microsoft.Authorization/roleAssignments/9e64ab66-27bc-4148-9593-6f3e28b735ef\",\r\n  \"type\": \"Microsoft.Authorization/roleAssignments\",\r\n  \"name\": \"9e64ab66-27bc-4148-9593-6f3e28b735ef\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/admsdknet9706/providers/Microsoft.DeploymentManager/rollouts/admsdknet9706Rollout?api-version=2019-11-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"identity\": {\r\n    \"type\": \"userAssigned\",\r\n    \"identityIds\": [\r\n      \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.ManagedIdentity/userAssignedIdentities/admsdknet9706Identity\"\r\n    ]\r\n  },\r\n  \"properties\": {\r\n    \"buildVersion\": \"1.0.0.0\",\r\n    \"artifactSourceId\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.DeploymentManager/artifactSources/admsdknet9706ArtifactSource\",\r\n    \"targetServiceTopologyId\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.DeploymentManager/serviceTopologies/admsdknet9706ServiceTopology\",\r\n    \"stepGroups\": [\r\n      {\r\n        \"name\": \"First_Region\",\r\n        \"preDeploymentSteps\": [\r\n          {\r\n            \"stepId\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.DeploymentManager/steps/admsdknet9706WaitStep\"\r\n          }\r\n        ],\r\n        \"deploymentTargetId\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.DeploymentManager/serviceTopologies/admsdknet9706ServiceTopology/services/admsdknet9706Service/serviceUnits/admsdknet9706ServiceUnit\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://managemen[...]
[...]
    {
      "RequestUri": "/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourceGroups/admsdknet9706/providers/Microsoft.DeploymentManager/rollouts/admsdknet9706Rollout?api-version=2019-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.DeploymentManager/rollouts/admsdknet9706Rollout?api-version=2019-11-01-preview"
        ],
        "Retry-After": [
          "120"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"identity\": {\r\n    \"type\": \"userAssigned\",\r\n    \"identityIds\": [\r\n      \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.ManagedIdentity/userAssignedIdentities/admsdknet9706Identity\"\r\n    ]\r\n  },\r\n  \"properties\": {\r\n    \"status\": \"Running\",\r\n    \"totalRetryAttempts\": 0,\r\n    \"operationInfo\": {\r\n      \"retryAttempt\": 0,\r\n      \"skipSucceededOnRetry\": false,\r\n      \"startTime\": \"2019-11-14T00:06:23.422Z\",\r\n      \"lastUpdatedTime\": \"2019-11-14T00:06:23.422Z\"\r\n    },\r\n    \"services\": [\r\n      {\r\n        \"name\": \"admsdknet9706Service\",\r\n        \"targetSubscriptionId\": \"53012dcb-5039-4e96-8e6c-5d913da1cdb5\",\r\n        \"targetLocation\": \"Central US\",\r\n        \"serviceUnits\": [\r\n          {\r\n            \"name\": \"admsdknet9706ServiceUnit\",\r\n            \"targetResourceGroup\": \"admsdknet9706Service\",\r\n            \"artifacts\": {},\r\n            \"steps\": [\r\n              {\r\n                \"name\": \"Wait/admsdknet9706WaitStep.PreDeploy\",\r\n                \"stepGroup\": \"First_Region\",\r\n                \"status\": \"Running\",\r\n                \"operationInfo\": {\r\n                  \"deploymentName\": \"\",\r\n                  \"startTime\": \"2019-11-14T00:06:26.787Z\",\r\n                  \"lastUpdatedTime\": \"2019-11-14T00:06:26.787Z\"\r\n                },\r\n                \"resourceOperations\": [],\r\n                \"messages\": [\r\n                  {\r\n                    \"timestamp\": \"2019-11-14T00:06:26.7719758Z\",\r\n                    \"message\": \"Wait ending at '11/14/2019 00:11:26 UTC', with '5 minutes' remaining.\"\r\n                  }\r\n                ]\r\n              }\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"buildVersion\": \"1.0.0.0\",\r\n    \"targetServiceTopologyId\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.DeploymentManager/serviceTopologies/admsdknet9706ServiceTopology\",\r\n    \"artifactSourceId\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.DeploymentManager/artifactSources/admsdknet9706ArtifactSource\",\r\n    \"stepGroups\": [\r\n      {\r\n        \"name\": \"First_Region\",\r\n        \"deploymentTargetId\": \"/subscriptions/53012dcb-5039-4e96-8e6c-5d913da1cdb5/resourcegroups/admsdknet9706/providers/Microsoft.DeploymentManager/serviceTopologies/admsdknet9706ServiceTopology/services/admsdknet9706Service/serviceUnits/admsdknet9706ServiceUnit\",\r\n        \"preDeploymentStep
[...]
