{
  "Entries": [
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d528da8c-944d-42c2-8c0d-7cd1eef174d8"
      },
      "ResponseBody": "{\u0022passFailCriteria\u0022:{\u0022passFailMetrics\u0022:{}},\u0022loadTestConfiguration\u0022:{\u0022engineInstances\u0022:1,\u0022splitAllCSVs\u0022:false,\u0022quickStartTest\u0022:false},\u0022inputArtifacts\u0022:{\u0022testScriptFileInfo\u0022:{\u0022url\u0022:\u0022https://stcnteuapdata0901.blob.core.windows.net/31acb667-4f54-4c15-8281-e2ced69aa6ec/abda9864-1be2-41fa-9437-4d293556fd43?skoid=fe06edb5-033b-4f33-bef0-9489f8feffb8\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skt=2023-01-03T13%3A39%3A47Z\u0026ske=2023-01-03T14%3A39%3A47Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026se=2023-01-03T14%3A39%3A47Z\u0026sr=b\u0026sp=r\u0026sig=Sanitized test was created through loadtesting C# SDK\u0022,\u0022displayName\u0022:\u0022Dotnet Testing Framework Loadtest\u0022,\u0022createdDateTime\u0022:\u00222023-01-03T13:39:31.223Z\u0022,\u0022lastModifiedDateTime\u0022:\u00222023-01-03T13:39:47.056Z\u0022}"
    },
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxqbWV0ZXJUZXN0UGxhbiB2ZXJzaW9uPSIxLjIiIHByb3BlcnRpZXM9IjUuMCIgam1l[...]
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "350b4146-3ff5-47f3-961d-8efbeddf256c"
      },
      "ResponseBody": {
        "url": "https://stcnteuapdata0901.blob.core.windows.net/31acb667-4f54-4c15-8281-e2ced69aa6ec/77eda83e-31d3-4df3-88da-de321abad2e8?skoid=fe06edb5-033b-4f33-bef0-9489f8feffb8\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skt=2023-01-03T13%3A39%3A48Z\u0026ske=2023-01-03T13%3A49%3A48Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026se=2023-01-03T13%3A49%3A48Z\u0026sr=b\u0026sp=r\u0026sig=z%2BTh4C3sE4mi5SCtsFWfQ8wVHVmOryIIoTFTOjQaiTM%3D",
        "fileName": "sample.jmx",
        "fileType": "JMX_FILE",
        "expireDateTime": "2023-01-03T13:49:48.2682072",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2022-11-01",
        "mise-correlation-id": "34305935-a87a-4eaa-b019-5b3ef91797c6"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "testId": "test-from-csharp-sdk-testing-framework",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2023-01-03T13:40:43.991Z",
        "lastModifiedDateTime": "2023-01-03T13:40:43.991Z"
      }
    },
[...]
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2215df4f-2bc7-4a1e-8f64-fcfd7ba8bcf9"
      },
      "ResponseBody": {
        "url": "https://stcnteuapdata0901.blob.core.windows.net/46ae021a-6c02-4920-a995-1f90c9686551/0ee741d2-d337-426e-83bd-12c0b06a6b6b?skoid=fe06edb5-033b-4f33-bef0-9489f8feffb8\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skt=2023-01-03T13%3A42%3A24Z\u0026ske=2023-01-03T13%3A52%3A24Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026se=2023-01-03T13%3A52%3A24Z\u0026sr=b\u0026sp=r\u0026sig=nW8oeeIXQtuoSmULpbY7c5olXrE66bOANdt7rEVWNOQ%3D",
        "fileName": "sample.jmx",
        "fileType": "JMX_FILE",
        "expireDateTime": "2023-01-03T13:52:24.9758074",
        "validationStatus": "VALIDATION_SUCCESS"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "LOADTESTSERVICE_ENDPOINT": "f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com",
    "RandomSeed": "2064984198"
  }
}
