{
  "Entries": [
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "87f697bf-a593-41bd-aac3-5c16ede6eb34"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "testScriptFileInfo": {
            "url": "https://maltccstorageaccounteuap.blob.core.windows.net/ed72a324-f016-444f-9e1a-a1021305babd/6e58bfb4-c9ab-481b-860c-7a9c3ca2fcc1?skoid=fe06edb5-033b-4f33-bef0-9489f8feffb8\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skt=2023-01-17T17%3A12%3A10Z\u0026ske=2023-01-18T07%3A12%3A10Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026se=2023-01-17T20%3A25%3A09Z\u0026sr=b\u0026sp=r\u0026sig=Sanitized",
            "fileName": "sample.jmx",
            "fileType": "JMX_FILE",
            "expireDateTime": "2023-01-17T20:25:09.4921247",
            "validationStatus": "VALIDATION_FAILURE"
          },
          "additionalFileInfo": []
        },
        "testId": "test-from-csharp-sdk-testing-framework",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2023-01-17T19:24:58.859Z",
        "lastModifiedDateTime": "2023-01-17T19:25:09.484Z"
      }
    },
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2022-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "mise-correlation-id": "9ab41e52-c308-4dbb-b346-147e12acbd44"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "LOADTESTSERVICE_ENDPOINT": "f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com",
    "RandomSeed": "1949230636"
  }
}
