{
  "Entries": [
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
<<<<<<< HEAD
        "traceparent": "00-990da12651793ef5545aa60ee1c2a841-f78a80d74de3e208-00",
        "User-Agent": "azsdk-net-Developer.LoadTesting/1.0.0-alpha.20230116.1 (.NET 6.0.13; Linux 5.15.79.1-microsoft-standard-WSL2 #1 SMP Wed Nov 23 01:01:46 UTC 2022)",
        "x-ms-client-request-id": "9295f73ff0fd2f9f8900beb0c265093f",
=======
        "traceparent": "00-d0b8ae6a3d9cb9537a244fc23b81b71b-d29bec2c9a63dfc2-00",
        "User-Agent": "azsdk-net-Developer.LoadTesting/1.0.0-alpha.20230118.1 (.NET 6.0.13; Microsoft Windows 10.0.22621)",
        "x-ms-client-request-id": "ee12d1c0f1c0b09574e1f47270c8c288",
>>>>>>> ga-sdk
        "x-ms-return-client-request-id": "true"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8"
<<<<<<< HEAD
        "Date": "Mon, 16 Jan 2023 08:57:27 GMT",
        "mise-correlation-id": "98f56f53-55d8-42f3-9300-d4b86458d5bd",
        "Strict-Transport-Security": "max-age=15724800; includeSubDomains",
        "X-Content-Type-Options": "nosniff",
        "x-ms-correlation-request-id": "048d7ad6-44de-4873-89eb-4087df015516"
=======
        "Date": "Tue, 17 Jan 2023 19:24:11 GMT",
        "mise-correlation-id": "b010c695-8b47-4a5c-b06f-d8c4600bcb26",
        "Strict-Transport-Security": "max-age=15724800; includeSubDomains",
        "X-Content-Type-Options": "nosniff",
        "x-ms-correlation-request-id": "e91ea481-ccb7-41da-8edd-64fdc4f4bfaa"
>>>>>>> ga-sdk
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "testId": "test-from-csharp-sdk-testing-framework",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
<<<<<<< HEAD
        "createdDateTime": "2023-01-16T08:57:20.394Z",
        "lastModifiedDateTime": "2023-01-16T08:57:27.165Z"
=======
        "createdDateTime": "2023-01-17T19:23:43.356Z",
        "lastModifiedDateTime": "2023-01-17T19:24:11.388Z"
>>>>>>> ga-sdk
      }
    },
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/server-metrics-config?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
<<<<<<< HEAD
        "traceparent": "00-baaecb2d5954ffaf2b9626803d44b2e4-09d02927b7a61120-00",
        "User-Agent": "azsdk-net-Developer.LoadTesting/1.0.0-alpha.20230116.1 (.NET 6.0.13; Linux 5.15.79.1-microsoft-standard-WSL2 #1 SMP Wed Nov 23 01:01:46 UTC 2022)",
        "x-ms-client-request-id": "3e21fc19e40066c8658449753fa2ebb4",
=======
        "traceparent": "00-03f5ea293040677e0c94f936ddd75bd2-69e5a02c7865164a-00",
        "User-Agent": "azsdk-net-Developer.LoadTesting/1.0.0-alpha.20230118.1 (.NET 6.0.13; Microsoft Windows 10.0.22621)",
        "x-ms-client-request-id": "1a3c89de58fe19818591260d790776db",
>>>>>>> ga-sdk
        "x-ms-return-client-request-id": "true"
      },
      "RequestBody": {
        "metrics": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo",
            "metricNamespace": "microsoft.insights/components",
            "displayDescription": "sample description",
            "name": "requests/duration",
            "aggregation": "Average",
            "unit": "",
            "resourceType": "microsoft.insights/components"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8"
<<<<<<< HEAD
        "Date": "Mon, 16 Jan 2023 08:57:27 GMT",
        "mise-correlation-id": "e6a12361-fa18-4a9c-b632-e16154f65045",
        "Strict-Transport-Security": "max-age=15724800; includeSubDomains",
        "X-Content-Type-Options": "nosniff",
        "x-ms-correlation-request-id": "8f41f5d3-dd6c-4d58-aaac-abeac535d885"
=======
        "Date": "Tue, 17 Jan 2023 19:24:11 GMT",
        "mise-correlation-id": "b10e3547-84f5-4e2a-871f-51d11055b0bb",
        "Strict-Transport-Security": "max-age=15724800; includeSubDomains",
        "X-Content-Type-Options": "nosniff",
        "x-ms-correlation-request-id": "3e43f1c3-ddf2-4e7c-9cb6-9b9298e0b45a"
>>>>>>> ga-sdk
      },
      "ResponseBody": {
        "testId": "test-from-csharp-sdk-testing-framework",
        "metrics": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo/providers/microsoft.insights/metricdefinitions/Http5xx": {
            "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo/providers/microsoft.insights/metricdefinitions/Http5xx",
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo",
            "metricNamespace": "microsoft.web/sites",
            "name": "Http5xx",
            "aggregation": "Tot[...]
[...]
