{
  "Entries": [
    {
      "RequestUri": "https://603a9177-02a8-4877-b85f-50baa7351a2b.westus2.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "environmentVariables": {},
        "secrets": {},
        "testId": "test-from-csharp-sdk-testing-framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://603a9177-02a8-4877-b85f-50baa7351a2b.westus2.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2022-11-01",
        "mise-correlation-id": "d575fac2-acb5-471c-a905-5273a108bd67"
      },
      "ResponseBody": {
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "testId": "test-from-csharp-sdk-testing-framework",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2023-07-25T17:59:41.26Z",
        "lastModifiedDateTime": "2023-07-25T17:59:41.26Z"
      }
    },
    {
      "RequestUri": "https://603a9177-02a8-4877-b85f-50baa7351a2b.westus2.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "environmentVariables": {
          "NewEnvVar": "NewValue"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5a4b608b-7bac-4801-b8ba-cca00e2827e8"
      },
      "ResponseBody": {
        "environmentVariables": {
          "NewEnvVar": "NewValue"
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "testId": "test-from-csharp-sdk-testing-framework",
        "createdDateTime": "2023-07-25T17:59:41.26Z",
        "lastModifiedDateTime": "2023-07-25T17:59:41.472Z"
      }
    },
    {
      "RequestUri": "https://603a9177-02a8-4877-b85f-50baa7351a2b.westus2.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2022-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01, 2023-04-01-preview",
        "mise-correlation-id": "21033d88-2b89-41be-b2d5-b9fe3a03462a"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "LOADTESTSERVICE_ENDPOINT": "603a9177-02a8-4877-b85f-50baa7351a2b.westus2.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "1188811877"
  }
}
