{
  "Entries": [
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/library%2Fnode/_manifests?orderby=timedesc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistry.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistry.azurecr.io\u0022,scope=\u0022repository:library/node:metadata_read\u0022,error=\u0022invalid_token\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "library/node",
                "Action": "metadata_read"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/oauth2/exchange",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "grant_type=access_token\u0026service=annelocontainerregistry.azurecr.io\u0026access_token=Sanitized",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "refresh_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/oauth2/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "grant_type=refresh_token\u0026service=annelocontainerregistry.azurecr.io\u0026scope=repository%3alibrary%2fnode%3ametadata_read\u0026refresh_token=Sanitized",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/library%2Fnode/_manifests?orderby=timedesc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "annelocontainerregistry.azurecr.io",
        "imageName": "library/node",
        "manifests": [
          {
            "digest": "sha256:35b326a83fc2d8d3f34b2b72c62e25eed19a3a83c501650edcd722242ed0249f",
            "imageSize": 0,
            "createdTime": "2021-03-27T22:12:19.917263Z",
            "lastUpdateTime": "2021-03-27T22:12:19.917263Z",
            "mediaType": "application/vnd.docker.distribution.manifest.list.v2\u002Bjson",
            "tags": [
              "newest"
            ],
            "changeableAttributes": {
              "deleteEnabled": true,
              "writeEnabled": true,
              "readEnabled": true,
              "listEnabled": true
            }
          },
          {
            "digest": "sha256:e101cb7f870862bf54fbba4fbce2ef7d821fe926313406cb904dbef9179d2e4e",
            "imageSize": 0,
            "createdTime": "2021-03-27T21:15:59.4970892Z",
            "lastUpdateTime": "2021-03-27T21:15:59.4970892Z",
            "architecture": "arm64",
            "os": "linux",
            "mediaType": "application/vnd.docker.distribution.manifest.v2\u002Bjson",
            "changeableAttributes": {
              "deleteEnabled": true,
              "writeEnabled": true,
              "readEnabled": true,
              "listEnabled": true,
              "quarantineState": "Passed"
            }
          },
          {
            "digest": "sha256:d66c11f62793ec5d00678a387b0279781b6b84190e720eb5422a4566c4bbc25f",
            "imageSize": 0,
            "createdTime": "2021-03-27T21:15:56.5373551Z",
            "lastUpdateTime": "2021-03-27T21:15:56.5373551Z",
            "architecture": "amd64",
            "os": "linux",
            "mediaType": "application/vnd.docker.distribution.manifest.v2\u002Bjson",
            "changeableAttributes": {
              "deleteEnabled": true,
              "writeEnabled": true,
              "readEnabled": true,
              "listEnabled": true,
              "quarantineState": "Passed"
            }
          },
          {
            "digest": "sha256:f897b1887943cd7dd2a15f18e9743cc1aea8f55b7995eb9a25583406ee57438f",
            "imageSize": 0,
            "createdTime": "2021-03-27T21:15:54.904544Z",
            "lastUpdateTime": "2021-03-27T21:15:54.904544Z",
            "architecture": "arm",
            "os": "linux",
            "mediaType": "application/vnd.docker.distribution.manifest.v2\u002Bjson",
            "changeableAttributes": {
              "deleteEnabled": true,
              "writeEnabled": true,
              "readEnabled": true,
              "listEnabled": true,
              "quarantineState": "Passed"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/v2/library%2Fnode/manifests/sha256%3A35b326a83fc2d8d3f34b2b72c62e25eed19a3a83c501650edcd722242ed0249f",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistry.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistry.azurecr.io\u0022,scope=\u0022repository:library/node:delete\u0022,error=\u0022invalid_token\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "library/node",
                "Action": "delete"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/v2/library%2Fnode/manifests/sha256%3A35b326a83fc2d8d3f34b2b72c62e25eed19a3a83c501650edcd722242ed0249f",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "CLIENT_ID": "5487e79a-c0c4-47e2-ad50-7e6c236bc76f",
    "CONTAINERREGISTRY_ENDPOINT": "https://annelocontainerregistry.azurecr.io",
    "CONTAINERREGISTRY_REGISTRY_NAME": "annelocontainerregistry",
    "RandomSeed": "659704153",
    "RESOURCE_GROUP": "rg-annelocontainerregistry",
    "SUBSCRIPTION_ID": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}