{
  "Entries": [
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/library%2Fhello-world/_tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistry.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistry.azurecr.io\u0022,scope=\u0022repository:library/hello-world:metadata_read\u0022,error=\u0022invalid_token\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "library/hello-world",
                "Action": "metadata_read"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/oauth2/exchange",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "grant_type=access_token\u0026service=annelocontainerregistry.azurecr.io\u0026access_token=Sanitized",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "refresh_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/oauth2/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "grant_type=refresh_token\u0026service=annelocontainerregistry.azurecr.io\u0026scope=repository%3alibrary%2fhello-world%3ametadata_read\u0026refresh_token=Sanitized",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/library%2Fhello-world/_tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "annelocontainerregistry.azurecr.io",
        "imageName": "library/hello-world",
        "tags": [
          {
            "name": "latest",
            "digest": "sha256:308866a43596e83578c7dfa15e27a73011bdd402185a84c5cd7f32a88b501a24",
            "createdTime": "2021-03-27T21:14:30.3122024Z",
            "lastUpdateTime": "2021-03-27T21:14:30.3122024Z",
            "signed": false,
            "changeableAttributes": {
              "deleteEnabled": true,
              "writeEnabled": true,
              "readEnabled": true,
              "listEnabled": true
            }
          },
          {
            "name": "newest",
            "digest": "sha256:308866a43596e83578c7dfa15e27a73011bdd402185a84c5cd7f32a88b501a24",
            "createdTime": "2021-03-29T17:57:44.968777Z",
            "lastUpdateTime": "2021-03-29T17:57:44.968777Z",
            "signed": false,
            "changeableAttributes": {
              "deleteEnabled": true,
              "writeEnabled": true,
              "readEnabled": true,
              "listEnabled": true
[...]
