{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-97fbc4fd-1575-b682-62d5-25ce520ddc0f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 21:44:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977C8E0D55CB0\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 21:44:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-97fbc4fd-1575-b682-62d5-25ce520ddc0f/test-file-05cbe85f-346a-eeaa-3bce-e2f6eab28f96",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Tue, 14 Sep 2021 21:44:49 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977C8E0DFDB48\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 21:44:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-14T21:44:49.9567432Z",
        "x-ms-file-creation-time": "2021-09-14T21:44:49.9567432Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-14T21:44:49.9567432Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-97fbc4fd-1575-b682-62d5-25ce520ddc0f/test-file-05cbe85f-346a-eeaa-3bce-e2f6eab28f96?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "MA1otypjy0MB5LutC\u002B8anw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 14 Sep 2021 21:44:49 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2020-10-02",
        "x-ms-write": "update"
      },
      "RequestBody": "4lUoEAVJBzQS65qYDuMsdKrsxsOAF01Z2vLkX7NMhgoTbLw0xRkyvYdYstZeWFjHV6C6nCoFGssIzjYSZaeAxWWPhKIm96\u002BQuQg8J2R3\u002BoGZHAgTkungDVHxLPbjH1jg2O1wz9S1oV/xKeIiyfNmkNO0eEiebDN7r3ZRNcu4rZqvW052Biut43upImgGvkRdipsiLqYQQmu69B9dZGyTOHxIcm6l74moB5XN9ErKdfEy86ovln7znxjivBILT38PFunsvkvVuJoReicRQk4h738uK3DBY6L9VdJVwjJ3nLgVvt5g3relXDoPHRtX4V3Kwc2S3SMOTbJH7mh5gPZomt1v/IRvwBDIiM81skaGpXR1igBl5L6UB3AsGO9OLNtEp4M\u002B6OXYWgG8ylVT2JpswUj0BPX1ArUf2vQTQ6cgelz08QvCR72OnC//qBlo[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-97fbc4fd-1575-b682-62d5-25ce520ddc0f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 21:44:50 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2049288001",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}