{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a7c66bfb-91ae-da35-eb28-208384d6c103?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 21:44:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977C8E2DB8EAB\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 21:44:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a7c66bfb-91ae-da35-eb28-208384d6c103/test-file-8bbf314e-67e8-e7fb-3949-ffb7a2aed3cf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Tue, 14 Sep 2021 21:44:53 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977C8E2E5E75D\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 21:44:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-14T21:44:53.3518173Z",
        "x-ms-file-creation-time": "2021-09-14T21:44:53.3518173Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-14T21:44:53.3518173Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a7c66bfb-91ae-da35-eb28-208384d6c103/test-file-8bbf314e-67e8-e7fb-3949-ffb7a2aed3cf?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 14 Sep 2021 21:44:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02",
        "x-ms-write": "update"
      },
      "RequestBody": "hvmWQ6hNbvx3\u002Bu7CrWZZJPs7ONRcFj6GRUY7S8GZkKjql0Up7LgKAMLCFO14ODrS79u8Z3b\u002BcnC7EP5iEiM73WpG2BUhMDhCMDcSmQFQDQwMaFvm3Sgy6yTUbtu6qO6fhzaCMl8ksL\u002Biejc/7NluagLxVanHVABCFO3xTMFciIdIchLKztut57icQ2Lx8v5KZgPZyFJF2DI2QB1xMmT9RvGv93rHpJwnRG7wKxCdUSHvpua\u002Bg8A0ApnflI29O7RUnv1xQfuDg8FnsoPkVKwhmO/8got9P8Mxe/Tg5w8OaQm5nIwTLA8mayMkVtA8T63svfydwbgp1l86QMYGopuyWEh6K7ggDmzf1hdoWOny9CtG8yoScahQj8Ut2exJH8iHcv2HwiT1zK\u002BQveqhwH52R0uawK9xn\u002BegKZvy8jSAlrdO4[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a7c66bfb-91ae-da35-eb28-208384d6c103/test-file-8bbf314e-67e8-e7fb-3949-ffb7a2aed3cf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 21:44:53 GMT",
        "x-ms-range": "bytes=256-767",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "9WPrEEi68pp0Cw\u002BI0E5a/g==",
        "Content-Range": "bytes 256-767/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D977C8E2FE4DD3\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 21:44:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-14T21:44:53.3518173Z",
        "x-ms-file-creation-time": "2021-09-14T21:44:53.3518173Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-14T21:44:53.3518173Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "SHoruCAObN/WF2hY6fL0K0bzKhJxqFCPxS3Z7EkfyIdy/YfCJPXMr5C96qHAfnZHS5rAr3Gf56Apm/LyNICWt07g5utqMgdQJ3uCs72vz0e3kaCuXhkW0hbnmIgD2noQJzNT4JeK3BmTb4j1HTTjesyqOqLf51g0yhTVg5l\u002BTEwBcouJXO\u002BvLLWGGu\u002BRIbXhBB67WZ/XMD/bHhWDtVmAFSI786qoWR7d\u002Bg7tWM1oo6le8396w/OtKkFMrT3ZLHdbBgXMVi0KOaoA3l6R6ddycntsJcLaBVIujslpW6zgBM6WklLHnE17VLnUeuSVHEBp2jrCbAa1gQGznchjod3\u002BINmP\u002BleFqtYt8NAIBYttmXGI/4FxHZfH4RBRFP6FGLPb1lkLBSHp5C9jlHs2rHt1RgRW2qFcjQJBxxlGNJbYqNgdLC8xYpNQnhtSDYgckTSV2875Lj0Rf0hXyT4Ho6\u002BYi\u002ByjGIBLQ\u002BRxBTuGCX95JTblsVnI3nqaC63m2phVSPtruYGceXi0SZfqiCkBi3bI3aMHIvJW0KxyCAzSZWhLG71AGk/\u002B3ay9MGjB3lZQmYA3Hv31TSUIFenUKnFr4eQunmxswHAmygD3SvKKlfJWIW6Mm0drVs6XNwVmKbI7UU\u002BDkj/p5NgPEFP9/QIzfn/2fQkC30Wcw0id1Ilrv6FNu/g="
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a7c66bfb-91ae-da35-eb28-208384d6c103?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 21:44:53 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1048503144",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}