{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a7c66bfb-91ae-da35-eb28-208384d6c103?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 21:06:39 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641E679348D3\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 21:06:39 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a7c66bfb-91ae-da35-eb28-208384d6c103/test-directory-8bbf314e-67e8-e7fb-3949-ffb7a2aed3cf?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 21:06:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641E679F5685\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 21:06:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-08-20T21:06:39.9927941Z",
        "x-ms-file-creation-time": "2021-08-20T21:06:39.9927941Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-08-20T21:06:39.9927941Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a7c66bfb-91ae-da35-eb28-208384d6c103/test-directory-8bbf314e-67e8-e7fb-3949-ffb7a2aed3cf/test-file-1ca0afc6-6af8-18cc-a0e8-c99a6f1be269",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 20 Aug 2021 21:06:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641E67AE9B91\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 21:06:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-20T21:06:40.0928657Z",
        "x-ms-file-creation-time": "2021-08-20T21:06:40.0928657Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-20T21:06:40.0928657Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a7c66bfb-91ae-da35-eb28-208384d6c103/test-directory-8bbf314e-67e8-e7fb-3949-ffb7a2aed3cf/test-file-1ca0afc6-6af8-18cc-a0e8-c99a6f1be269?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Aug 2021 21:06:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02",
        "x-ms-write": "update"
      },
      "RequestBody": "6pdFKey4CgDCwhTteDg60u/bvGd2/nJwuxD\u002BYhIjO91qRtgVITA4QjA3EpkBUA0MDGhb5t0oMusk1G7buqjun4c2gjJfJLC/ono3P\u002BzZbmoC8VWpx1QAQhTt8UzBXIiHSHISys7bree4nENi8fL\u002BSmYD2chSRdgyNkAdcTJk/Ubxr/d6x6ScJ0Ru8CsQnVEh76bmvoPANAKZ35SNvTu0VJ79cUH7g4PBZ7KD5FSsIZjv/IKLfT/DMXv04OcPDmkJuZyMEywPJmsjJFbQPE\u002Bt7L38ncG4KdZfOkDGBqKbslhIeiu4IA5s39YXaFjp8vQrRvMqEnGoUI/FLdnsSR/Ih3L9h8Ik9cyvkL3qocB\u002BdkdLmsCvcZ/noCmb8vI0gJa3TuDm62oyB1Ane4Kzva/PR7eRoK5eGRbSFueYiAPaehAnM1Pgl4[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a7c66bfb-91ae-da35-eb28-208384d6c103/test-directory-8bbf314e-67e8-e7fb-3949-ffb7a2aed3cf/test-file-1ca0afc6-6af8-18cc-a0e8-c99a6f1be269",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 21:06:40 GMT",
        "x-ms-range": "bytes=256-767",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "grRtTwLAO66InMY6s1ZrQg==",
        "Content-Range": "bytes 256-767/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9641E67B94BED\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 21:06:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-20T21:06:40.0928657Z",
        "x-ms-file-creation-time": "2021-08-20T21:06:40.0928657Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-20T21:06:40.0928657Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "cv2HwiT1zK\u002BQveqhwH52R0uawK9xn\u002BegKZvy8jSAlrdO4ObrajIHUCd7grO9r89Ht5Ggrl4ZFtIW55iIA9p6ECczU\u002BCXitwZk2\u002BI9R0043rMqjqi3\u002BdYNMoU1YOZfkxMAXKLiVzvryy1hhrvkSG14QQeu1mf1zA/2x4Vg7VZgBUiO/OqqFke3foO7VjNaKOpXvN/esPzrSpBTK092Sx3WwYFzFYtCjmqAN5ekenXcnJ7bCXC2gVSLo7JaVus4ATOlpJSx5xNe1S51HrklRxAado6wmwGtYEBs53IY6Hd/iDZj/pXharWLfDQCAWLbZlxiP\u002BBcR2Xx\u002BEQURT\u002BhRiz29ZZCwUh6eQvY5R7Nqx7dUYEVtqhXI0CQccZRjSW2KjYHSwvMWKTUJ4bUg2IHJE0ldvO\u002BS49EX9IV8k\u002BB6OvmIvsoxiAS0PkcQU7hgl/eSU25bFZyN56mgut5tqYVUj7a7mBnHl4tEmX6ogpAYt2yN2jByLyVtCscggM0mVoSxu9QBpP/t2svTBowd5WUJmANx799U0lCBXp1Cpxa\u002BHkLp5sbMBwJsoA90ryipXyViFujJtHa1bOlzcFZimyO1FPg5I/6eTYDxBT/f0CM35/9n0JAt9FnMNIndSJa7\u002BhTbv4ogYDsm08lnyK825Yy2O5hW\u002BrqThyCefO9ksPT6RRsq8="
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a7c66bfb-91ae-da35-eb28-208384d6c103?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 21:06:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1048503144",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}