{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-67054bb6-9b53-f52c-bcc7-9cd22429bb9e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:23:26 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9666319AACFD1\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:23:26 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-67054bb6-9b53-f52c-bcc7-9cd22429bb9e/test-directory-1dcb679a-f1b5-3920-77b0-130fcab21b9b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:23:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9666319C3C702\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:23:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-08-23T18:23:26.9692162Z",
        "x-ms-file-creation-time": "2021-08-23T18:23:26.9692162Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-08-23T18:23:26.9692162Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-67054bb6-9b53-f52c-bcc7-9cd22429bb9e/test-directory-1dcb679a-f1b5-3920-77b0-130fcab21b9b/test-file-52616ae4-4851-41ee-f462-e86409835995",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 23 Aug 2021 18:23:27 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9666319DFD66C\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:23:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:23:27.1531116Z",
        "x-ms-file-creation-time": "2021-08-23T18:23:27.1531116Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:23:27.1531116Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-67054bb6-9b53-f52c-bcc7-9cd22429bb9e/test-directory-1dcb679a-f1b5-3920-77b0-130fcab21b9b/test-file-52616ae4-4851-41ee-f462-e86409835995?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 23 Aug 2021 18:23:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02",
        "x-ms-write": "update"
      },
      "RequestBody": "Yaai0IYVhnblvvElEQb\u002Bxhh4YGXSqEZV8Yb83AQWAJ220riUDsgUmd1pjZY41Zt9C1lTlC5zO7hgTd7/GKpxz71Tbz5OardPZMeHaRuvHBzrftCrw2xvQpb/M8HpFIAz977Y5WVcLqChAy9n7NGdsDHCFJnZxQtR5C2oTzb2Zk9GVHFd1ja3jlAwCb88CFXFYoKPJwDmWTGyhwE3tN9qq5zgIJdfQNr6C4ZJqbxLFNvY4\u002ByzZj9PX/pAqk41f9lwxl4iXOe9ZSGolRt6nLB1ZnIlX9HytkVdkMGdH5WLxIus2eJdKbf0Gn3LC9Ej1MJJykTbECAHfQ8YxcsmIEWMHNCQzcPNFz27MEVUJ6t0Orz\u002BU1RRr7RqpVzSRWPszvk4Pu4Akwf/fLIGIN/bs1VkpIsPJ83wO2wcJSdm\u002B9LZzmJLHOm8c6e1/te[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-67054bb6-9b53-f52c-bcc7-9cd22429bb9e/test-directory-1dcb679a-f1b5-3920-77b0-130fcab21b9b/test-file-52616ae4-4851-41ee-f462-e86409835995",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:23:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9666319EC7EC5\u0022",
        "Last-Modified": "Mon, 23 Aug 2021 18:23:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-23T18:23:27.1531116Z",
        "x-ms-file-creation-time": "2021-08-23T18:23:27.1531116Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-23T18:23:27.1531116Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "Yaai0IYVhnblvvElEQb\u002Bxhh4YGXSqEZV8Yb83AQWAJ220riUDsgUmd1pjZY41Zt9C1lTlC5zO7hgTd7/GKpxz71Tbz5OardPZMeHaRuvHBzrftCrw2xvQpb/M8HpFIAz977Y5WVcLqChAy9n7NGdsDHCFJnZxQtR5C2oTzb2Zk9GVHFd1ja3jlAwCb88CFXFYoKPJwDmWTGyhwE3tN9qq5zgIJdfQNr6C4ZJqbxLFNvY4\u002ByzZj9PX/pAqk41f9lwxl4iXOe9ZSGolRt6nLB1ZnIlX9HytkVdkMGdH5WLxIus2eJdKbf0Gn3LC9Ej1MJJykTbECAHfQ8YxcsmIEWMHNCQzcPNFz27MEVUJ6t0Orz\u002BU1RRr7RqpVzSRW[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-67054bb6-9b53-f52c-bcc7-9cd22429bb9e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Aug 2021 18:23:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1345835496",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}