{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cb884282-3dbb-34ab-b7ae-ca8ddd53f4e8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:42 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ShareAlreadyExists",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EShareAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified share already exists.\n",
        "RequestId:9c08b5d2-101a-0091-260f-afbf70000000\n",
        "Time:2021-09-21T17:39:42.8968166Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cb884282-3dbb-34ab-b7ae-ca8ddd53f4e8/test-file-0cdf85a5-12a1-968c-2476-a9896d2013b2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:42 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26CBB638D3\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T17:39:42.9582035Z",
        "x-ms-file-creation-time": "2021-09-21T17:39:42.9582035Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-21T17:39:42.9582035Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cb884282-3dbb-34ab-b7ae-ca8ddd53f4e8/test-file-0cdf85a5-12a1-968c-2476-a9896d2013b2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "GRA\u002BgwTy8aNT2MN2ATMlMA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "0y1Nyh0b7Tx7ojHBFhMvnhe19db9jNSrTCxoIzOrC5900cbWy8z2fBkY7HCzZK6EmXIEJQWuV0VZoX3xsskJ0JeRTURNWdNLvni85aBk\u002BOd\u002B5IrBp\u002BWaxXqAfSlOBclPDxvYIRdqN0CfuGaM8XGk9KmVc84/Rymy94fJzNup/LmubdWFi9bQFK1KIe5/DtMI3IiAuJL6EMfyJiqPoGpk9ryt3YScH2nSxV4h9CY7Mui0wfBSKEQms1wOkmSsQHND5Ssy0TBPbL0frfMz2Ruht/NB2995Es14hykojYwEJoTq3g/6CGG4ZFQyMntQ89pAbNtwamWUydJeukoGJt4xGoduSPoMpq6SiXaKRt9SJ5RO5yCwlLwfVhU8nE4WsT51ARj04qrfM8Ut3uHuCoLzC5K2tz\u002B9gIbLT/Ll0Apfe9g4FEXHXkXpb7N[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cb884282-3dbb-34ab-b7ae-ca8ddd53f4e8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1471673582",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}