{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c134f791-5d78-fc84-a35c-7e119842ce8e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:54 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26D2651219\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:54 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c134f791-5d78-fc84-a35c-7e119842ce8e/test-file-ef6b9382-e039-b963-4b65-f14538470d40",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26D26FF69E\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-21T17:39:54.2418078Z",
        "x-ms-file-creation-time": "2021-09-21T17:39:54.2418078Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-21T17:39:54.2418078Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c134f791-5d78-fc84-a35c-7e119842ce8e/test-file-ef6b9382-e039-b963-4b65-f14538470d40?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "n9WPccZrAE5eWYnPfsh3Xw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "pGcSe733l9o8k/qq4EIQuUTOCSrbePMJTYC7M\u002BJXLcpRg52E1pzyENaNGQdU58XtpRoepfRSHix0CS49PGP35WUvWV2ki\u002BKn2/hTTl7stGa7zY7IOIjW/mRxEM1utdRzlTShJY1nSRk3d8n7/9DNh1THgm7VLqzdWVv5M3sVOSYk4LgqS4/ZU4R1kcG/2v\u002BTo4h4pjNlnWaHw8sybRWdIj2i1x4YozzF7i7qYJ3rHn5cZZDznJLzvkJRoofDpuZu126EHAPge/9Ms7gFez3InKVM1giFqoaqrxncxgC0AkdHe4gvZwJ7e\u002BmQpuja7kIEiQbhdtDd6S3o2WzpBLX\u002Bl7FwvQC1mTSj0Voe9QOdz8HW1z350ot3aZJaR42Vknc0kQ83ajFBT\u002B/RPqV2v/QqSgmrEix4BMQl\u002BFNuW1Kn[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-c134f791-5d78-fc84-a35c-7e119842ce8e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1442966241",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}