{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e77a0211-01b3-e6a4-c725-4ca522a8fbc0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 21:58:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ShareAlreadyExists",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EShareAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified share already exists.\n",
        "RequestId:60aed7b1-401a-0068-80b3-a9bc52000000\n",
        "Time:2021-09-14T21:58:11.4399240Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e77a0211-01b3-e6a4-c725-4ca522a8fbc0/test-file-e99b8115-96ba-c44f-5adf-a1b48a32ac91",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Tue, 14 Sep 2021 21:58:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977CABEC4DBBB\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 21:58:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-09-14T21:58:11.7307323Z",
        "x-ms-file-creation-time": "2021-09-14T21:58:11.7307323Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-14T21:58:11.7307323Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e77a0211-01b3-e6a4-c725-4ca522a8fbc0/test-file-e99b8115-96ba-c44f-5adf-a1b48a32ac91?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "tcCnRue2VUqTOi/ENe8zpw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 14 Sep 2021 21:58:11 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2020-10-02",
        "x-ms-write": "update"
      },
      "RequestBody": "IwVxpAiJ6ibJC/NMQRjV1asaCeb7O9rBokuA231Cei0qFGgMgNYqEVGF9tuqxcGX8JhL2rxVsOcrsAG8CA\u002Boh5DFIi2wyVTU8PeVdkT/F92K6evl9p9w1GOA4dDUbQlC3G9K5KOT5iZDd\u002BrEwDqiLJkkMh4kw5DxVU3JMOiE/4PuU5nUtDI59gPEon\u002B1qxQp3bU2sDrqHRnfWI9WybY\u002Bvndm1m2gzndm6zwbXyARPKk4oFIyTU9IAzWA9Vyi4ixNheMHTtWmiA890MX\u002Bz734zhzmHSlkC3AoHtI4INgbxAgPzto9Ce3TkhdC9X2JSjR3hyc/vMUD6Hlz3zACbmg3Igy97wHju8QvEosRIRbyn9OdwZix2wdCDOVhySq90SOvC9JxzFszk8xiEKk58cdigEBcZK3PhUcEeuMbgvGacUFnYhZEgdN3ai3MTsteCRod/kjqYGx234WKbVF4FxHayJ5o0Y6wHv9t5Pp/Azd8pXHI/YOprxHU8YOQuROB/1Ib8oUs9TeMbeBIfXtx9txODsffsBmNMRmNk\u002BALIGTs6\u002BWoYxGxT7A6O5CjYDKVY/qmQqpMok84jsBsn2JWgUx7XJGVyZPLnL8XpHSJ6tHm9zDmZN25n0iWcNVQRbBN47pDJwOg/5pn26brNf3ar6PvhqcycBxvwbxI/1m9e1YPycE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "tcCnRue2VUqTOi/ENe8zpw==",
        "ETag": "\u00220x8D977CABEE9EA84\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 21:58:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e77a0211-01b3-e6a4-c725-4ca522a8fbc0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 21:58:16 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2116181303",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}