{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a9b8e25c-f972-ecbb-3ef6-b2cadea7d346?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:59:39 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641D6D16992B\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:59:39 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a9b8e25c-f972-ecbb-3ef6-b2cadea7d346/test-directory-00d321dc-c87f-cef7-eee2-c8573d647c1d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:59:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641D6D20FF9A\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:59:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-08-20T20:59:39.7344154Z",
        "x-ms-file-creation-time": "2021-08-20T20:59:39.7344154Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-08-20T20:59:39.7344154Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a9b8e25c-f972-ecbb-3ef6-b2cadea7d346/test-directory-00d321dc-c87f-cef7-eee2-c8573d647c1d/test-file-cce78c8e-01bd-7741-de0e-081f0d3eab5a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 20 Aug 2021 20:59:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641D6D343CFD\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:59:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-20T20:59:39.8605053Z",
        "x-ms-file-creation-time": "2021-08-20T20:59:39.8605053Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-20T20:59:39.8605053Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a9b8e25c-f972-ecbb-3ef6-b2cadea7d346/test-directory-00d321dc-c87f-cef7-eee2-c8573d647c1d/test-file-cce78c8e-01bd-7741-de0e-081f0d3eab5a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Aug 2021 20:59:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02",
        "x-ms-write": "update"
      },
      "RequestBody": "bDz9hoPRqmkvCgufvhyaBT4\u002BB8frLtEiI6cOYAGA58HgVm/37B4FfssPHkLe6G7QoWwzoyw2yT1q22LbwkloryJJvmisohgfOYn82xCPQzo5Pr\u002BUTUOVqo0xjRG7KbuCpm4flSoGI/9TE2qiOu0t25coooSJ1GLftBTbexUHYw/OejShb64QMxvAQDnZ8m\u002BfBLF6k4Y2\u002BNIMQOAVKqfqTK9a1MC4i2zoF29pyZMoBcGkO3djjdCIl4FilS/N\u002Bghz1vOKfh6v53lFkXsXzS4/5Dofce4whr/f0jw\u002BVvU8Gh1n9fOfnYai9FT\u002BHftUccpSIrD0rogZQ080q6zicZCDCHZer9c7n0a0fXyaMmnDimFx6zNFSGyUTbKja/LawIPDexSE9sHzF4NqQDEMfhDmcCBKcIVdPsAKyWEklzRT[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a9b8e25c-f972-ecbb-3ef6-b2cadea7d346/test-directory-00d321dc-c87f-cef7-eee2-c8573d647c1d/test-file-cce78c8e-01bd-7741-de0e-081f0d3eab5a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:59:39 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9641D6D3D8D83\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:59:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-20T20:59:39.8605053Z",
        "x-ms-file-creation-time": "2021-08-20T20:59:39.8605053Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-20T20:59:39.8605053Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a9b8e25c-f972-ecbb-3ef6-b2cadea7d346/test-directory-00d321dc-c87f-cef7-eee2-c8573d647c1d/test-file-cce78c8e-01bd-7741-de0e-081f0d3eab5a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:59:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "false",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9641D6D3D8D83\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:59:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-08-20T20:59:39.8605053Z",
        "x-ms-file-creation-time": "2021-08-20T20:59:39.8605053Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-08-20T20:59:39.8605053Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-a9b8e25c-f972-ecbb-3ef6-b2cadea7d346?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:59:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "800261751",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}