{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "33e01921-4d64-4f8c-a055-5bdaffd5e33d"
          }
        ],
        "subscriptionId": "204898ee-cd13-4332-b9d4-55ca5c25496d",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ARC-Testing",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourcegroups/testConnectedVMwareRG-5303?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
            "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-5303",
        "name": "testConnectedVMwareRG-5303",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-5303/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks/testvnet4359?api-version=2020-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "extendedLocation": {
          "type": "CustomLocation",
          "name": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ExtendedLocation/customLocations/service-sdk-test-cl"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "vCenterId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/VCenters/service-sdk-test-vcenter",
          "moRefId": "network-o61"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-10-01-preview, 2022-01-10-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/234d8da4-8007-434d-af5a-c4d576793e9c*107C912DA962588789FD601A9169D0475926BCB784D0269A7737E06AEF1DEE0C?api-version=2020-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c0102b0-0000-0100-0000-61de9b1b0000\u0022",
        "Location": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-5303/providers/Microsoft.ConnectedVMwarevSphere/VirtualNetworks/testvnet4359",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-5303/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks/testvnet4359",
        "name": "testvnet4359",
        "type": "microsoft.connectedvmwarevsphere/virtualnetworks",
        "location": "eastus",
        "extendedLocation": {
          "type": "CustomLocation",
          "name": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ExtendedLocation/customLocations/service-sdk-test-cl"
        },
        "tags": {},
        "systemData": {
          "createdBy": "bf1347fd-2d31-40a9-9980-5f31f8e0edd1",
          "createdByType": "Application",
          "createdAt": "2022-01-12T09:10:49.4929697Z",
          "lastModifiedBy": "bf1347fd-2d31-40a9-9980-5f31f8e0edd1",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-01-12T09:10:49.4929697Z"
        },
        "properties": {
          "vCenterId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/VCenters/service-sdk-test-vcenter",
          "moRefId": "network-o61",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/234d8da4-8007-434d-af5a-c4d576793e9c*107C912DA962588789FD601A9169D0475926BCB784D0269A7737E06AEF1DEE0C?api-version=2020-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002286000fe1-0000-0100-0000-61de9b1a0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/234d8da4-8007-434d-af5a-c4d576793e9c*107C912DA962588789FD601A9169D0475926BCB784D0269A7737E06AEF1DEE0C",
        "name": "234d8da4-8007-434d-af5a-c4d576793e9c*107C912DA962588789FD601A9169D0475926BCB784D0269A7737E06AEF1DEE0C",
        "resourceId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-5303/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks/testvnet4359",
        "status": "Accepted",
        "startTime": "2022-01-12T09:10:50.8030855Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/234d8da4-8007-434d-af5a-c4d576793e9c*107C912DA962588789FD601A9169D0475926BCB784D0269A7737E06AEF1DEE0C?api-version=2020-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022860033e1-0000-0100-0000-61de9b260000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11974"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/234d8da4-8007-434d-af5a-c4d576793e9c*107C912DA962588789FD601A9169D0475926BCB784D0269A7737E06AEF1DEE0C",
        "name": "234d8da4-8007-434d-af5a-c4d576793e9c*107C912DA962588789FD601A9169D0475926BCB784D0269A7737E06AEF1DEE0C",
        "resourceId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-5303/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks/testvnet4359",
        "status": "Succeeded",
        "startTime": "2022-01-12T09:10:50.8030855Z",
        "endTime": "2022-01-12T09:11:02.2132157Z",
        "properties": null
      }
    },
[...]
