{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11973"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "e3853e83-0d02-4fb3-b88f-05b5fd21aee2",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Liftr-Nginx-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/Default-Nginx-2816?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816",
        "name": "Default-Nginx-2816",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Microsoft.Network/publicIPAddresses/testPublicIP-6545?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "westcentralus",
        "properties": {
          "publicIPAllocationMethod": "Static",
          "publicIPAddressVersion": "IPv4"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "azure-asyncoperation": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/westcentralus/operations/d2919a2b-5eac-45a0-badf-6dc56afd3845?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "name": "testPublicIP-6545",
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Microsoft.Network/publicIPAddresses/testPublicIP-6545",
        "etag": "W/\u0022aa61feb7-ed75-4468-84bb-9630161a98a1\u0022",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "fa10ff76-8fba-4f3c-bece-11bde5b6f9e1",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Static",
          "idleTimeoutInMinutes": 4,
          "ipTags": []
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Standard",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/westcentralus/operations/d2919a2b-5eac-45a0-badf-6dc56afd3845?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Microsoft.Network/publicIPAddresses/testPublicIP-6545?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022172d750c-b94d-4372-95f1-1810107f7557\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11971"
      },
      "ResponseBody": {
        "name": "testPublicIP-6545",
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Microsoft.Network/publicIPAddresses/testPublicIP-6545",
        "etag": "W/\u0022172d750c-b94d-4372-95f1-1810107f7557\u0022",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "fa10ff76-8fba-4f3c-bece-11bde5b6f9e1",
          "ipAddress": "52.161.66.66",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Static",
          "idleTimeoutInMinutes": 4,
          "ipTags": []
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Standard",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Microsoft.Network/networkSecurityGroups/testNSG-8321?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "securityRules": [
            {
              "name": "http",
              "properties": {
                "protocol": "*",
                "sourcePortRange": "*",
                "sourceAddressPrefix": "*",
                "destinationAddressPrefix": "*",
                "destinationPortRanges": [
                  "80"
                ],
                "access": "Allow",
                "priority": 100,
                "direction": "Inbound"
              }
            },
            {
              "name": "NRMS-Rule-103",
              "properties": {
                "description": "Created by Azure Core Security managed policy, rule can be deleted but do not change source ips, please see aka.ms/cainsgpolicy",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "CorpNetPublic",
                "destinationAddressPrefix": "*",
                "access": "Allow",
                "priority": 103,
                "direction": "Inbound"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "azure-asyncoperation": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Microsoft.Network/virtualNetworks/testVNet-4832?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-5373",
              "properties": {
                "addressPrefix": "10.0.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Microsoft.Network/networkSecurityGroups/testNSG-8321",
                  "location": "westcentralus",
                  "properties": {
                    "securityRules": [
                      {
                        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Microsoft.Network/networkSecurityGroups/testNSG-8321/securityRules/http",
                        "name": "http",
                        "type": "Microsoft.Network/networkSecurityGroups/securityRules",
                        "properties": {
                          "protocol": "*",
                          "sourcePortRange": "*",
                          "sourceAddressPrefix": "*",
                          "sourceAddressPrefixes": [],
                          "destinationAddressPrefix": "*",
                          "destinationAddressPrefixes": [],
                          "sourcePortRanges": [],
                          "destinationPortRanges": [
                            "80"
                          ],
                          "access": "Allow",
                          "priority": 100,
                          "direction": "Inbound"
                        }
                      },
                      {
                        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Microsoft.Network/networkSecurityGroups/t[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-4957?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/synthetics-integration-tests/providers/Microsoft.ManagedIdentity/userAssignedIdentities/integration-tests-mi": {}
          }
        },
        "properties": {
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Microsoft.Network/publicIPAddresses/testPublicIP-6545"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Microsoft.Network/virtualNetworks/testVNet-4832/subnets/testSubnet-5373"
            }
          },
          "enableDiagnosticsSupport": true
        },
        "sku": {
          "name": "preview_Monthly"
        },
        "tags": {},
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/22703f81-7e9b-4bad-a869-8946d3992f6e*39634F494FE68FF11DEBF21D958D08E538B085261AC78CAA51B3D20375BD0D97?api-version=2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022000023b4-0000-0600-0000-633472900000\u0022",
        "Location": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/22703f81-7e9b-4bad-a869-8946d3992f6e*39634F494FE68FF11DEBF21D958D08E538B085261AC78CAA51B3D20375BD0D97?api-version=2022-08-01",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-4957",
        "name": "testDeployment-4957",
        "type": "nginx.nginxplus/nginxdeployments",
        "sku": {
          "name": "preview_Monthly"
        },
        "location": "westcentralus",
        "tags": {},
        "systemData": {
          "createdBy": "83e1fee6-9cf1-487c-afb2-b5822019b861",
          "createdByType": "Application",
          "createdAt": "2022-09-28T16:13:00.5366477Z",
          "lastModifiedBy": "83e1fee6-9cf1-487c-afb2-b5822019b861",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-28T16:13:00.5366477Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/synthetics-integration-tests/providers/Microsoft.ManagedIdentity/userAssignedIdentities/integration-tests-mi": {
              "principalId": "9c8c1eab-1b64-4d95-bbba-04843012d190",
              "clientId": "cfcab166-335a-4af7-a61d-c7c07236688e"
            }
          }
        },
        "properties": {
          "provisioningState": "Accepted",
          "nginxVersion": null,
          "managedResourceGroup": null,
          "ipAddress": null,
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Microsoft.Network/publicIPAddresses/testPublicIP-6545"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Microsoft.Network/virtualNetworks/testVNet-4832/subnets/testSubnet-5373"
            }
          },
          "enableDiagnosticsSupport": true,
          "logging": null
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/22703f81-7e9b-4bad-a869-8946d3992f6e*39634F494FE68FF11DEBF21D958D08E538B085261AC78CAA51B3D20375BD0D97?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000d3f1-0000-0600-0000-6334728f0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11982"
      },
      "ResponseBody": {
        "id": "/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/22703f81-7e9b-4bad-a869-8946d3992f6e*39634F494FE68FF11DEBF21D958D08E538B085261AC78CAA51B3D20375BD0D97",
        "name": "22703f81-7e9b-4bad-a869-8946d3992f6e*39634F494FE68FF11DEBF21D958D08E538B085261AC78CAA51B3D20375BD0D97",
        "resourceId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-4957",
        "status": "Accepted",
        "startTime": "2022-09-28T16:13:03.191476Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/22703f81-7e9b-4bad-a869-8946d3992f6e*39634F494FE68FF11DEBF21D958D08E538B085261AC78CAA51B3D20375BD0D97?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000eef1-0000-0600-0000-633474380000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11963"
      },
      "ResponseBody": {
        "id": "/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/22703f81-7e9b-4bad-a869-8946d3992f6e*39634F494FE68FF11DEBF21D958D08E538B085261AC78CAA51B3D20375BD0D97",
        "name": "22703f81-7e9b-4bad-a869-8946d3992f6e*39634F494FE68FF11DEBF21D958D08E538B085261AC78CAA51B3D20375BD0D97",
        "resourceId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-4957",
        "status": "Succeeded",
        "startTime": "2022-09-28T16:13:03.191476Z",
        "endTime": "2022-09-28T16:20:08.011823Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-4957/configurations/default?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "files": [
            {
              "content": "aHR0cCB7CiAgICBzZXJ2ZXIgewogICAgICAgIGxpc3RlbiA4MDsKICAgICAgICBsb2NhdGlvbiAvIHsKICAgICAgICAgICAgZGVmYXVsdF90eXBlIHRleHQvaHRtbDsKICAgICAgICAgICAgcmV0dXJuIDIwMCAnPCFET0NUWVBFIGh0bWw\u002BPGgxIHN0eWxlPSJmb250LXNpemU6MzBweDsiPk5naW54IGNvbmZpZyBpcyB3b3JraW5nITwvaDE\u002BJzsKICAgICAgICB9CiAgICB9Cn0=",
              "virtualPath": "/etc/nginx/nginx.conf"
            }
          ],
          "rootFile": "/etc/nginx/nginx.conf"
        },
        "tags": {},
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/cebdd874-62c1-470b-8603-3f9afc5b79c7*6DAE4F76A3C3E726357D68650E0FD8F4E2A2508ADE0CD5230F86714CFC3D1F8E?api-version=2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://ma[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-4957/configurations/default?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11968"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/NGINX.NGINXPLUS/nginxDeployments/testDeployment-4957/configurations/default",
        "name": "default",
        "type": "NGINX.NGINXPLUS/nginxDeployments/configurations",
        "properties": {
          "provisioningState": "Succeeded",
          "files": [
            {
              "content": "aHR0cCB7CiAgICBzZXJ2ZXIgewogICAgICAgIGxpc3RlbiA4MDsKICAgICAgICBsb2NhdGlvbiAvIHsKICAgICAgICAgICAgZGVmYXVsdF90eXBlIHRleHQvaHRtbDsKICAgICAgICAgICAgcmV0dXJuIDIwMCAnPCFET0NUWVBFIGh0bWw\u002BPGgxIHN0eWxlPSJmb250LXNpemU6MzBweDsiPk5naW54IGNvbmZpZyBpcyB3b3JraW5nITwvaDE\u002BJzsKICAgICAgICB9CiAgICB9Cn0=",
              "virtualPath": "/etc/nginx/nginx.conf"
            }
          ],
          "package": {
            "data": null
          },
          "rootFile": "/etc/nginx/nginx.conf"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-4957/configurations/default?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-failure-cause": "service",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11966"
      },
      "ResponseBody": {
        "error": {
          "code": "InternalServerError",
          "message": "Internal Server Error"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2816/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-4957/configurations/default?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-failure-cause": "service",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "error": {
          "code": "InternalServerError",
          "message": "Internal Server Error"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1447060441",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "e3853e83-0d02-4fb3-b88f-05b5fd21aee2"
  }
}
