{
  "Entries": [
    {
      "RequestUri": "/subscriptions/658c8950-e79d-4704-a903-1df66ba90258/providers/Microsoft.Advisor/generateRecommendations?api-version=2017-04-19",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/658c8950-e79d-4704-a903-1df66ba90258/providers/Microsoft.Advisor/generateRecommendations/c3bbfbaf-140d-4cbf-928e-094921f93066?api-version=2017-04-19"
        ],
        "Retry-After": [
          "60"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/658c8950-e79d-4704-a903-1df66ba90258/providers/Microsoft.Advisor/generateRecommendations/c3bbfbaf-140d-4cbf-928e-094921f93066?api-version=2017-04-19",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "359"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "658c8950-e79d-4704-a903-1df66ba90258"
  }
}