{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {},
        "subscriptionId": "f9b96b36-1f5e-4021-8959-51527e26e6d3",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CS-Platform-Dev-01",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourcegroups/testRG-9391?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "centralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-9391",
        "name": "testRG-9391",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-9391/providers/Microsoft.CognitiveServices/accounts/Account-5256?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "Face",
        "sku": {
          "name": "S0"
        },
        "properties": {},
        "tags": {},
        "location": "centralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/d636eaef-422d-4bba-884c-1f44395ae210?api-version=2017-04-18",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022bc03f368-0000-0300-0000-648a97e30000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-9391/providers/Microsoft.CognitiveServices/accounts/Account-5256",
        "name": "Account-5256",
        "type": "Microsoft.CognitiveServices/accounts",
        "etag": "\u0022bc03f368-0000-0300-0000-648a97e30000\u0022",
        "location": "centralus",
        "sku": {
          "name": "S0"
        },
        "kind": "Face",
        "tags": {},
        "properties": {
          "endpoint": "https://centralus.api.cognitive.microsoft.com/",
          "internalId": "fdfab17b9afc422ab76eeb866c8b60f9",
          "dateCreated": "2023-06-15T04:47:31.6423102Z",
          "callRateLimit": {
            "rules": [
              {
                "key": "face",
                "renewalPeriod": 1,
                "count": 10,
                "matchPatterns": [
                  {
                    "path": "face/*",
                    "method": "*"
                  }
                ]
              },
              {
                "key": "container.billing",
                "renewalPeriod": 10,
                "count": 500,
                "matchPatterns": [
                  {
                    "path": "billing/*",
                    "method": "*"
                  }
                ]
              },
              {
                "key": "default",
                "renewalPeriod": 1,
                "count": 10,
                "matchPatterns": [
                  {
                    "path": "*",
                    "method": "*"
                  }
                ]
              }
            ]
          },
          "isMigrated": false,
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "capabilities": [
            {
              "name": "VirtualNetworks"
            },
            {
              "name": "Container",
              "value": "Face.*,Face.Face"
            },
            {
              "name": "Scenario",
              "value": "Face.LegacyPreview,Face.Legacy"
            }
          ],
          "endpoints": {
            "Face": "https://centralus.api.cognitive.microsoft.com/"
          },
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "50841d5f-166a-406c-8472-6800c9698b43",
          "createdByType": "Application",
          "createdAt": "2023-06-15T04:47:31.5670869Z",
          "lastModifiedBy": "50841d5f-166a-406c-8472-6800c9698b43",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-15T04:47:31.5670869Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/d636eaef-422d-4bba-884c-1f44395ae210?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/d636eaef-422d-4bba-884c-1f44395ae210",
        "name": "d636eaef-422d-4bba-884c-1f44395ae210",
        "status": "Creating",
        "startTime": "2023-06-15T04:47:31Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/d636eaef-422d-4bba-884c-1f44395ae210?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/d636eaef-422d-4bba-884c-1f44395ae210",
        "name": "d636eaef-422d-4bba-884c-1f44395ae210",
        "status": "Succeeded",
        "startTime": "2023-06-15T04:47:31Z",
        "endTime": "2023-06-15T04:47:32Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-9391/providers/Microsoft.CognitiveServices/accounts?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads":[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-9391/providers/Microsoft.CognitiveServices/accounts/Account-52561?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.CognitiveServices/accounts/Account-52561\u0027 under resource group \u0027testRG-9391\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "364515846",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f9b96b36-1f5e-4021-8959-51527e26e6d3"
  }
}
