{
  "Entries": [
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/myService1/providers/Microsoft.Security/locations/centralus/discoveredSecuritySolutions/ContosoWAF2?api-version=2020-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"securityFamily\": \"SaasWaf\",\r\n    \"offer\": \"\",\r\n    \"publisher\": \"microsoft\",\r\n    \"sku\": \"\"\r\n  },\r\n  \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/myService1/providers/Microsoft.Security/locations/centralus/discoveredSecuritySolutions/ContosoWAF2\",\r\n  \"name\": \"ContosoWAF2\",\r\n  \"type\": \"Microsoft.Security/locations/discoveredSecuritySolutions\",\r\n  \"location\": \"northeurope\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}