{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "costcenter": "1000"
        },
        "subscriptionId": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
        "displayName": "Azure subscription 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11993"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
            "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/8d233700-d9f3-4021-aba1-f9350f3ac0dc?api-version=2022-11-01-beta",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11992",
        "x-ms-version": "1.0.2252.117"
      },
      "ResponseBody": {
        "id": "/providers/microsoft.capacity/reservationOrders/8d233700-d9f3-4021-aba1-f9350f3ac0dc",
        "name": "8d233700-d9f3-4021-aba1-f9350f3ac0dc",
        "type": "microsoft.capacity/reservationOrders",
        "etag": 21,
        "properties": {
          "originalQuantity": 3,
          "requestDateTime": "2023-03-03T18:40:21.8649162Z",
          "billingPlan": "Monthly",
          "reservations": [
            {
              "id": "/providers/Microsoft.Capacity/reservationOrders/8d233700-d9f3-4021-aba1-f9350f3ac0dc/reservations/ec1a9023-ec6b-44a7-8a49-1402bc2d766b"
            }
          ],
          "term": "P1Y",
          "displayName": "testingCreateTipVM",
          "createdDateTime": "2023-03-03T19:09:42.1467113Z",
          "benefitStartTime": "2023-03-03T19:09:40.9903755Z",
          "provisioningState": "Cancelled",
          "billingProfileId": "/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31/billingProfiles/KPSV-DWNE-BG7-TGB",
          "billingAccountId": "/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31",
          "expiryDate": "2024-03-03",
          "expiryDateTime": "2024-03-03T19:09:40.9903755Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/8d233700-d9f3-4021-aba1-f9350f3ac0dc/reservations?api-version=2022-11-01-beta",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11991",
        "x-ms-version": "1.0.2252.117"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/providers/microsoft.capacity/reservationOrders/8d233700-d9f3-4021-aba1-f9350f3ac0dc/reservations/ec1a9023-ec6b-44a7-8a49-1402bc2d766b",
            "name": "ec1a9023-ec6b-44a7-8a49-1402bc2d766b",
            "type": "microsoft.capacity/reservationOrders/reservations",
            "location": "westeurope",
            "etag": 10,
            "sku": {
              "name": "Standard_B1ls"
            },
            "properties": {
              "reservedResourceType": "VirtualMachines",
              "userFriendlyRenewState": "NotRenewed",
              "skuDescription": "Reserved VM Instance, Standard_B1ls, EU West, 1 Year",
              "renew": false,
              "archived": false,
              "quantity": 3,
              "appliedScopeType": "Shared",
              "displayName": "testingCreateTipVM",
              "provisioningState": "Expired",
              "term": "P1Y",
              "displayProvisioningState": "Expired",
              "userFriendlyAppliedScopeType": "Shared",
              "expiryDateTime": "2024-03-03T19:09:40.9903755Z",
              "purchaseDateTime": "2023-03-03T18:40:21.8649162Z",
              "benefitStartTime": "2023-03-03T19:09:40.9903755Z",
              "lastUpdatedDateTime": "2023-03-04T07:11:30.7183961Z",
              "expiryDate": "2024-03-03",
              "purchaseDate": "2023-03-03",
              "effectiveDateTime": "2023-03-04T07:11:30.7183961Z",
              "instanceFlexibility": "On",
              "utilization": {
                "aggregates": []
              },
              "billingPlan": "Monthly",
              "billingScopeId": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2078052559",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
  }
}
