{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "costcenter": "1000"
        },
        "subscriptionId": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
        "displayName": "Azure subscription 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11987"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
            "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservations?api-version=2022-11-01-beta",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/providers/microsoft.capacity/reservationOrders/5e500b18-4fb6-4a63-b6d8-8469a09c5e60/reservations/48f6eeec-cf66-4a23-a4be-81d4d7000beb",
            "name": "48f6eeec-cf66-4a23-a4be-81d4d7000beb",
            "type": "microsoft.capacity/reservationOrders/reservations",
            "location": "westeurope",
            "etag": 30,
            "sku": {
              "name": "Standard_B1ls"
            },
            "properties": {
              "reservedResourceType": "VirtualMachines",
              "userFriendlyRenewState": "NotRenewed",
              "skuDescription": "Reserved VM Instance, Standard_B1ls, EU West, 1 Year",
              "renew": false,
              "archived": false,
              "quantity": 3,
              "appliedScopeType": "Shared",
              "displayName": "testVM",
              "provisioningState": "Expired",
              "term": "P1Y",
              "displayProvisioningState": "Expired",
              "userFriendlyAppliedScopeType": "Shared",
              "expiryDateTime": "2024-03-01T22:37:41.9715130Z",
              "purchaseDateTime": "2023-03-01T22:35:38.6014200Z",
              "benefitStartTime": "2023-03-01T22:37:41.9715130Z",
              "lastUpdatedDateTime": "2023-03-02T23:32:44.4241282Z",
              "expiryDate": "2024-03-01",
              "purchaseDate": "2023-03-01",
              "effectiveDateTime": "2023-03-02T23:32:44.4241282Z",
              "instanceFlexibility": "On",
              "utilization": {
                "aggregates": []
              },
              "billingPlan": "Monthly",
              "billingScopeId": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
            }
          },
          {
            "id": "/providers/microsoft.capacity/reservationOrders/61d391ab-56f0-4fcb-8da5-946ddb47e8f6/reservations/e58a058f-d777-40ab-b119-072b32107054",
            "name": "e58a058f-d777-40ab-b119-072b32107054",
            "type": "microsoft.capacity/reservationOrders/reservations",
            "location": "westeurope",
            "etag": 10,
            "sku": {
              "name": "Standard_B1[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservations?api-version=2022-11-01-beta\u0026%24skiptoken=50",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/providers/microsoft.capacity[...]
