{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/6d5e2387-bdf5-4ca1-83db-795fd2398b93?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/6d5e2387-bdf5-4ca1-83db-795fd2398b93",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "6d5e2387-bdf5-4ca1-83db-795fd2398b93",
        "tenantId": "2fc06c85-616c-4845-9d37-2faa8091e955",
        "displayName": "Azure subscription 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/2fc06c85-616c-4845-9d37-2faa8091e955",
            "tenantId": "2fc06c85-616c-4845-9d37-2faa8091e955",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/545d132c-6066-47ad-9f39-e67e542caef2?api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "id": "/providers/microsoft.capacity/reservationOrders/545d132c-6066-47ad-9f39-e67e542caef2",
        "type": "Microsoft.Capacity/reservationOrders",
        "name": "545d132c-6066-47ad-9f39-e67e542caef2",
        "etag": 9,
        "properties": {
          "displayName": "testVM",
          "requestDateTime": "2022-05-20T00:33:44.5775431Z",
          "createdDateTime": "2022-05-20T00:37:20.5575727Z",
          "expiryDate": "2023-05-20",
          "benefitStartTime": "2022-05-20T00:37:20.0731843Z",
          "term": "P1Y",
          "provisioningState": "Succeeded",
          "reservations": [
            {
              "id": "/providers/microsoft.capacity/reservationOrders/545d132c-6066-47ad-9f39-e67e542caef2/reservations/c2e14316-531b-4c13-8fc4-f8e1857fb1d2"
            }
          ],
          "originalQuantity": 1,
          "billingPlan": "Upfront"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/545d132c-6066-47ad-9f39-e67e542caef2/reservations/c2e14316-531b-4c13-8fc4-f8e1857fb1d2?api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11997"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_B1ls"
        },
        "id": "/providers/microsoft.capacity/reservationOrders/545d132c-6066-47ad-9f39-e67e542caef2/reservations/c2e14316-531b-4c13-8fc4-f8e1857fb1d2",
        "type": "Microsoft.Capacity/reservationOrders/reservations",
        "name": "545d132c-6066-47ad-9f39-e67e542caef2/c2e14316-531b-4c13-8fc4-f8e1857fb1d2",
        "etag": 9,
        "location": "westus",
        "properties": {
          "appliedScopes": [
            "/subscriptions/6d5e2387-bdf5-4ca1-83db-795fd2398b93"
          ],
          "appliedScopeType": "Single",
          "quantity": 1,
          "provisioningState": "Succeeded",
          "expiryDate": "2023-05-20",
          "benefitStartTime": "2022-05-20T00:37:20.0731843Z",
          "displayName": "testVM",
          "effectiveDateTime": "2022-05-20T00:37:20.5575727Z",
          "lastUpdatedDateTime": "2022-05-20T00:37:20.5575727Z",
          "reservedResourceType": "VirtualMachines",
          "instanceFlexibility": "On",
          "skuDescription": "Reserved VM Instance, Standard_B1ls, US West, 1 Year",
          "renew": false,
          "term": "P1Y",
          "billingScopeId": "/subscriptions/6d5e2387-bdf5-4ca1-83db-795fd2398b93",
          "billingPlan": "Upfront",
          "archived": false
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1151644123",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "6d5e2387-bdf5-4ca1-83db-795fd2398b93"
  }
}
