{
  "Entries": [
    {
      "RequestUri": "/subscriptions?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590\",\r\n      \"subscriptionId\": \"0b1f6471-1bf0-4dda-aec3-cb9272f09590\",\r\n      \"displayName\": \"AzureSDKADGraph2\",\r\n      \"state\": \"Enabled\",\r\n      \"subscriptionPolicies\": {\r\n        \"locationPlacementId\": \"Internal_2014-09-01\",\r\n        \"quotaId\": \"Internal_2014-09-01\",\r\n        \"spendingLimit\": \"Off\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/domains?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#domains\",\r\n  \"value\": [\r\n    {\r\n      \"authenticationType\": \"Federated\",\r\n      \"availabilityStatus\": null,\r\n      \"isAdminManaged\": true,\r\n      \"isDefault\": false,\r\n      \"isInitial\": false,\r\n      \"isRoot\": false,\r\n      \"isVerified\": false,\r\n      \"name\": \"BFDevOpsNonRestricted.onmicrosoft.de\",\r\n      \"supportedServices\": [],\r\n      \"forceDeleteState\": null,\r\n      \"state\": null\r\n    },\r\n    {\r\n      \"authenticationType\": \"Managed\",\r\n      \"availabilityStatus\": null,\r\n      \"isAdminManaged\": true,\r\n      \"isDefault\": false,\r\n      \"isInitial\": false,\r\n      \"isRoot\": true,\r\n      \"isVerified\": true,\r\n      \"name\": \"azdevextest.com\",\r\n      \"supportedServices\": [],\r\n      \"forceDeleteState\": null,\r\n      \"state\": null\r\n    },\r\n    {\r\n      \"authenticationType\": \"Managed\",\r\n      \"availabilityStatus\": null,\r\n      \"isAdminManaged\": true,\r\n      \"isDefault\": true,\r\n      \"isInitial\": true,\r\n      \"isRoot\": true,\r\n      \"isVerified\": true,\r\n      \"name\": \"AzureSDKTeam.onmicrosoft.com\",\r\n      \"supportedServices\": [\r\n        \"Email\",\r\n        \"OfficeCommunicationsOnline\"\r\n      ],\r\n      \"forceDeleteState\": null,\r\n      \"state\": null\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "kpTVY9vhytH2Y1JxyUkph+h7pjb7c5rbFUPU3WdgiQ0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "JxdKmbS4zi5o-mExadYd64zshiKtzo1hoSFcvPls0oPoSE30S9nXpc-iGycCBhWzUANEyW1J4xBJ48UK5PpmbdhDe7WnSaWrqrHOF1cW3elGhVNkbCjvDlFsOmK2k2AK.FMPB24u4x-wthGdiiSK2uE8okIe98HFtdSNc9UIJyBI"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "635264"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"Test 40a7098491290e8a0\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"StrongPass!12\"\r\n  },\r\n  \"userPrincipalName\": \"test40a7098491290e8a0@AzureSDKTeam.onmicrosoft.com\",\r\n  \"mailNickname\": \"test40a7098491290e8a0\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n  \"objectType\": \"User\",\r\n  \"objectId\": \"f4b04969-52c4-469c-9ab1-77bcaee0d468\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"signInNames\": [],\r\n  \"assignedLicenses\": [],\r\n  \"assignedPlans\": [],\r\n  \"city\": null,\r\n  \"companyName\": null,\r\n  \"country\": null,\r\n  \"creationType\": null,\r\n  \"department\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"Test 40a7098491290e8a0\",\r\n  \"employeeId\": null,\r\n  \"facsimileTelephoneNumber\": null,\r\n  \"givenName\": null,\r\n  \"immutableId\": null,\r\n  \"isCompromised\": null,\r\n  \"jobTitle\": null,\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"test40a7098491290e8a0\",\r\n  \"mobile\": null,\r\n  \"onPremisesDistinguishedName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"otherMails\": [],\r\n  \"passwordPolicies\": null,\r\n  \"passwordProfile\": {\r\n    \"password\": null,\r\n    \"forceChangePasswordNextLogin\": true,\r\n    \"enforceChangePasswordPolicy\": false\r\n  },\r\n  \"physicalDeliveryOfficeName\": null,\r\n  \"postalCode\": null,\r\n  \"preferredLanguage\": null,\r\n  \"provisionedPlans\": [],\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"refreshTokensValidFromDateTime\": \"2017-08-14T21:22:07.5536412Z\",\r\n  \"showInAddressList\": null,\r\n  \"sipProxyAddress\": null,\r\n  \"state\": null,\r\n  \"streetAddress\": null,\r\n  \"surname\": null,\r\n  \"telephoneNumber\": null,\r\n  \"usageLocation\": null,\r\n  \"userPrincipalName\": \"test40a7098491290e8a0@AzureSDKTeam.onmicrosoft.com\",\r\n  \"userType\": \"Member\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/f4b04969-52c4-469c-9ab1-77bcaee0d468/Microsoft.DirectoryServices.User"
        ],
        "ocp-aad-diagnostics-server-name": [
          "EtcWSCm0yJGd3kCZLzFsjeCyL72QJUnSrwuPNHYUd1g="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "JZXsKPr-Hi2vct9G1I08N6FqmDEtEJmxGrKnArNGHSVlOH2iz-zjVUz0A6rZvrjIKOh0CYKknAHNh41jMVfBzOdh16wA58z9zhh_pBIQqjBnwoaOlByF1Ed5EEjJ12jRksfDeefS--G_Ntw_TZT0uWUaHdgQLoVbadVCbtXwOgs_QpCDhQey67cmSwxEBDy0RfZZAII4VGQ6o6vs-mEeHw.8f5M0pJTchXBTYPAUV2CpUrAXobVqqGXIORz4hCwnzo"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "9390770"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20'DNS%20Zone%20Contributor'&api-version=2015-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleName\": \"DNS Zone Contributor\",\r\n        \"type\": \"BuiltInRole\",\r\n        \"description\": \"Lets you manage DNS zones and record sets in Azure DNS, but does not let you control who has access to them.\",\r\n        \"assignableScopes\": [\r\n          \"/\"\r\n        ],\r\n        \"permissions\": [\r\n          {\r\n            \"actions\": [\r\n              \"Microsoft.Authorization/*/read\",\r\n              \"Microsoft.Insights/alertRules/*\",\r\n              \"Microsoft.Network/dnsZones/*\",\r\n              \"Microsoft.ResourceHealth/availabilityStatuses/read\",\r\n              \"Microsoft.Resources/deployments/*\",\r\n              \"Microsoft.Resources/subscriptions/resourceGroups/read\",\r\n              \"Microsoft.Support/*\"\r\n            ],\r\n            \"notActions\": []\r\n          }\r\n        ],\r\n        \"createdOn\": \"2015-10-15T23:33:25.9730842Z\",\r\n        \"updatedOn\": \"2016-05-31T23:13:40.3710365Z\",\r\n        \"createdBy\": null,\r\n        \"updatedBy\": null\r\n      },\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/befefa01-2a29-4197-83a8-272ff33ce314\",\r\n      \"type\": \"Microsoft.Authorization/roleDefinitions\",\r\n      \"name\": \"befefa01-2a29-4197-83a8-272ff33ce314\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleAssignments/8c159e8b-1d34-411b-a330-e1cc2912ee0f?api-version=2015-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/befefa01-2a29-4197-83a8-272ff33ce314\",\r\n    \"principalId\": \"f4b04969-52c4-469c-9ab1-77bcaee0d468\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/befefa01-2a29-4197-83a8-272ff33ce314\",\r\n    \"principalId\": \"f4b04969-52c4-469c-9ab1-77bcaee0d468\",\r\n    \"scope\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590\",\r\n    \"createdOn\": \"2017-08-14T21:22:09.0619124Z\",\r\n    \"updatedOn\": \"2017-08-14T21:22:09.0619124Z\",\r\n    \"createdBy\": null,\r\n    \"updatedBy\": \"aa68fe9d-9eb3-422e-a498-486120394085\"\r\n  },\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleAssignments/8c159e8b-1d34-411b-a330-e1cc2912ee0f\",\r\n  \"type\": \"Microsoft.Authorization/roleAssignments\",\r\n  \"name\": \"8c159e8b-1d34-411b-a330-e1cc2912ee0f\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "//subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleAssignments/8c159e8b-1d34-411b-a330-e1cc2912ee0f?api-version=2015-07-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/befefa01-2a29-4197-83a8-272ff33ce314\",\r\n    \"principalId\": \"f4b04969-52c4-469c-9ab1-77bcaee0d468\",\r\n    \"scope\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590\",\r\n    \"createdOn\": \"2017-08-14T21:22:10.5051108Z\",\r\n    \"updatedOn\": \"2017-08-14T21:22:10.5051108Z\",\r\n    \"createdBy\": \"aa68fe9d-9eb3-422e-a498-486120394085\",\r\n    \"updatedBy\": \"aa68fe9d-9eb3-422e-a498-486120394085\"\r\n  },\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleAssignments/8c159e8b-1d34-411b-a330-e1cc2912ee0f\",\r\n  \"type\": \"Microsoft.Authorization/roleAssignments\",\r\n  \"name\": \"8c159e8b-1d34-411b-a330-e1cc2912ee0f\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20'Contributor'&api-version=2015-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleName\": \"Contributor\",\r\n        \"type\": \"BuiltInRole\",\r\n        \"description\": \"Lets you manage everything ex[...]
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"http://spf2207357fc21a9d76e\",\r\n  \"homepage\": \"http://spf2207357fc21a9d76e\",\r\n  \"identifierUris\": [\r\n    \"http://spf2207357fc21a9d76e\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"http://spf2207357fc21a9d76e\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"9b82ed16-be0c-4a00-92a8-41c96b0c81bb\",\r\n  \"deletionTimestamp\": null,\r\n  \"acceptMappedClaims\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"3e381188-3212-439e-bcf4-65368ac7505a\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"http://spf2207357fc21a9d76e\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://spf2207357fc21a9d76e\",\r\n  \"identifierUris\": [\r\n    \"http://spf2207357fc21a9d76e\"\r\n  ],\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access http://spf2207357fc21a9d76e on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access http://spf2207357fc21a9d76e\",\r\n      \"id\": \"afdd1a13-477d-47a7-8e38-52f0d066932f\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access http://spf2207357fc21a9d76e on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access http://spf2207357fc21a9d76e\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"optionalClaims\": null,\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [\r\n    \"http://spf2207357fc21a9d76e\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/9b82ed16-be0c-4a00-92a8-41c96b0c81bb/Microsoft.DirectoryServices.Application"
        ],
        "ocp-aad-diagnostics-server-name": [
          "DRh1E8KpzyDQ2JIEbQFJYUEDvVJ2kaqlg9shn22LEv0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "70VFFJ5IU5-jPJ5YIEpt68sIJ-0RCQ65azGkeQYpZs9o7TF4IwpyC_A_ARCf5Grirz1bcPawyKgWy1dAmLGBUQnGsXNLBVCqeyThKXw5HXpP2PDtHpYFPc3pKXGUqLISs7aLCRRtbXqH2d_x6sruLKOfSuOVECaLCjZbhwhTHMebKI8wTV0OUMKwnQeQqNXhejIrxoD6K4aYXM3nHUA2cg.VRjUATT3Ykx1GG-RhremOsVo0HJj8UhFUIREmH3aDNI"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "3887248"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications/9b82ed16-be0c-4a00-92a8-41c96b0c81bb/keyCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.KeyCredential)\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "fZDW4qmLV9JXj3cogZcj4KUdsgN2NyKPG/qO9606ABg="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "gfRT6orHGCLiBFQ1tLQGR0tmUMNel8ME8_eKNAVY5oPRgrp5SkssRTFCDIevhOkAftbO9Ix1RqRZJKDopvtCREmXK3UC2RwMPb_1fA4gZ9RWpsMvlSBU6AHeyPwrZadyzBnpUaYNDX1wjQOoa1m1TrwiSxIr4GLjbHQGZMv4omQMGTxBPPsiUzNiqkMfoG8ub3qY-0OA9tmruSyDm_7eUg.23knJRG5zCVLowHv7wlWDsUstjUzhfTGxAVNofJLYdc"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "561522"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications/9b82ed16-be0c-4a00-92a8-41c96b0c81bb/passwordCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.PasswordCredential)\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "fZDW4qmLV9JXj3cogZcj4KUdsgN2NyKPG/qO9606ABg="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "DeVYUNjsdvl01K45F1R0Xw0TXlCyGjcF8LcAwjcQROWcEFwwJuBXAKU-hwb0JAQaTmKTTUt7KGedukDOQXebnqg4dSadwvqktmsukloGHvgh-XsWXdUS8KVkNyNyamqQDlMw6IU1NnASqf-FiwO5c3-04U6-vd9xFt2rdM-8ntuY_nvAENxVBMyd-BgXdYDowPJgscFc0ShqPPgOCH7JXw.d589X-23UQFe_tpjsZRyqmj_BvvppJf9bOIZVtfJTkc"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "859937"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"3e381188-3212-439e-bcf4-65368ac7505a\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"2cf5ab65-b41a-4e06-9d74-66cb5d4459d2\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"http://spf2207357fc21a9d76e\",\r\n  \"appId\": \"3e381188-3212-439e-bcf4-65368ac7505a\",\r\n  \"appOwnerTenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"http://spf2207357fc21a9d76e\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://spf2207357fc21a9d76e\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access http://spf2207357fc21a9d76e on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access http://spf2207357fc21a9d76e\",\r\n      \"id\": \"afdd1a13-477d-47a7-8e38-52f0d066932f\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access http://spf2207357fc21a9d76e on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access http://spf2207357fc21a9d76e\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [],\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"AzureSDKTeam\",\r\n  \"replyUrls\": [\r\n    \"http://spf2207357fc21a9d76e\"\r\n  ],\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"3e381188-3212-439e-bcf4-65368ac7505a\",\r\n    \"http://spf2207357fc21a9d76e\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"tags\": [],\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/2cf5ab65-b41a-4e06-9d74-66cb5d4459d2/Microsoft.DirectoryServices.ServicePrincipal"
        ],
        "ocp-aad-diagnostics-server-name": [
          "zg5+JwtDikezBobOHJM57bvip2XNo1YfbQb4XmRL4rE="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "vCgEm4sBKQ9YhHXxFUy_2BlBClIN-KMvWylmK7M5pnk_X8Ch5X9mbH55AwSacue6iTErHU9l07jBp5yfJKA9OeXl9WwiTDX6OLzhu03by4soDhs8wON39FhKmonBx1M-AAu1p8uLGiE6jowim0Zh3lo7dYxcE-78z10ZjBMWRNiOKI57JlydAXoB2nbDtjqXztBQ0myofZTizB1OXSDDyQ.EofxmJON8uaPKvyCIEoK-2ekyO2y69HTfaggOydXwrk"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "4410995"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/2cf5ab65-b41a-4e06-9d74-66cb5d4459d2/keyCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.KeyCredential)\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "kpTVY9vhytH2Y1JxyUkph+h7pjb7c5rbFUPU3WdgiQ0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "Ed-JFQEsjhDJTH0AgWEyuZl2ySk187F15gw5bGl9dxV4MDQ8ijg7Webi1BNVCe5McIxAW3XTYdlOExm6GIZu2jqOZsDEKJgFu8rTuX9WSvtEL2YPDBHR6kbl2jlN1hKzWBfxEXPYm4CDIToo2V8DikF_A5EJYw95fZbT0NUQkAr_UaSGbgGMisp89MGndOZx0FynWsfKja05Qh5-xwkI2g.HPbt6HN-2_ZSmmfau3Zs9wdBTOF4JjwCAmhemYvnECo"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "908142"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/2cf5ab65-b41a-4e06-9d74-66cb5d4459d2/passwordCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.PasswordCredential)\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "hV2ZqDb3QW3c/nJDZIUxQbdsgGQVmX4f43r2oZefMhw="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "A4yRGkUol8cS-UY7ajXVaeB3dNxHPl_mBTlUWSdf_zalHHOo3F2x3HsWabC9WtjOjGmzlz_CL0FHzsnhJBh5ItBaUIK5FK84kc-v7wtgNWOzpsMlW1IPYvf2-m7mlrygPcekvDvsh_UllQ5oGEHC835P5j7785b8Uny73VoEhM-q1r4-cKfE_X5Bo4FPVzkc11aGM0SW6D_tAh_5y_GefA.GiYoTe0DtIk57ovQEGC8cXARzUrXnoG9xyrMYt_Gxn8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1270263"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"Group 5c57815358dccb0c\",\r\n  \"mailNickname\": \"group15c57815358dccb0c\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"802b1669-7731-4406-92cd-b5b1233cc38a\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"Group 5c57815358dccb0c\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"group15c57815358dccb0c\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesDomainName\": null,\r\n  \"onPremisesNetBiosName\": null,\r\n  \"onPremisesSamAccountName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/802b1669-7731-4406-92cd-b5b1233cc38a/Microsoft.DirectoryServices.Group"
        ],
        "ocp-aad-diagnostics-server-name": [
          "EtcWSCm0yJGd3kCZLzFsjeCyL72QJUnSrwuPNHYUd1g="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "PdeFX7NKir9jOJf6KZnm8MvjdANinA4_Xb2ikhMrwU5eS27YfcI1v8gWCNpzSFvGTntawsT8GQvmB_C0fTyaDoGYGkRMsF2r5RZX2xFSEoB4L3UL67l6RouwnhpEdqGWbds3BSOTuvJkgVk5kh8RWxIej8qilEIhcXJt8jzktObovmbDfcKjSEg3DE9R88gN20_NwwWNqCgTDwK6WV-l1A.GHB12ofBXnzARMIcwIJ0iXNBgDrUfiOJwnFedI7B_18"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1409980"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/groups/802b1669-7731-4406-92cd-b5b1233cc38a/members?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "kpTVY9vhytH2Y1JxyUkph+h7pjb7c5rbFUPU3WdgiQ0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "ZFqAuEwdDekI5Y1YKvnyUoQNhp5Ckei3EDNSjG9QBsx1o1_ustfKvsuEEynXzto95h97v60DhscQH4NF5J17eNemkOo41dSIEObKZ5aD4lV6GHOEL5iZZo2dgiiNdvAvWqGLF4Fut7cmVPQoFHC1HP9H8TKqfbSgKA0jeUPrqT18Uqm7Jhqsmb2QQodnx6EE2ULI82o_-pmE4nTnI_mGwA.D5aywo7He4h8zTw-cHo6vYAbyj_YvbTIMYrfxbm-DTg"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "795501"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/groups/6c2ccdd6-1fb1-4592-9fc9-0056e9682732/$links/members?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/f4b04969-52c4-469c-9ab1-77bcaee0d468\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "kpTVY9vhytH2Y1JxyUkph+h7pjb7c5rbFUPU3WdgiQ0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "DcdkLjCIGWGGlGfQab3RINBL7DnTJvLLeWSpZCiBPJeZM-DLO7TOwdAQ_W6a3lEd5zVC1BUkNf8iXp0xEOtzjKl8cVACfl2xDnzjh4szrDvLXw0Im_xe0eMV0zqcM1PXY-vPCO5GTXjMIFtllfK_4au0kD1TEaCO9TrYMlPaObPkFGF6ndTbOwCgF_-cR8PYPTHpgFhD_No2bTJz92RSWA.5TxKJmGbviB9v0NiC2eMU4GSd2RjbgVIv13ZekCsLW4"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1584198"
        ]
      },
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/groups/6c2ccdd6-1fb1-4592-9fc9-0056e9682732/$links/members?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/802b1669-7731-4406-92cd-b5b1233cc38a\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "kpTVY9vhytH2Y1JxyUkph+h7pjb7c5rbFUPU3WdgiQ0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "mjb6VYT83rGrR68eNtI49AM4aUWouYzho94RA4j7q8JGYoL_RY1TXNEoRx2u0CEIPnk5WGaBPvBEpwc3-aleNcVsy1hZIkak2G_N7DLFtY9j0WRmd-jXiHmlD1vSl1IV-kTMCrjbQCh1b9So21pU6KJEO1rtDU0jM6WUl0DM6tUSgN1o5Pwg2G-GE5YlrqGCjPFk9ORpfQKYQxu4vQ6XDA.vPiXoBMpeyEPmwt8B3dtDAUBox4JB2veMmQWkkl0VrM"
        ],
[...]
