{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions?skip=0&take=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000 "
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"version\": \"0.1\",\r\n    \"createdDateTime\": \"2017-02-09T14:01:45Z\",\r\n    \"lastModifiedDateTime\": \"2017-12-14T21:37:17Z\",\r\n    \"lastTrainedDateTime\": null,\r\n    \"lastPublishedDateTime\": \"2017-12-12T21:59:37Z\",\r\n    \"endpointUrl\": \"https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b\",\r\n    \"assignedEndpointKey\": {\r\n      \"SubscriptionKey\": \"00000000000000000000000000000000\",\r\n      \"SubscriptionRegion\": \"westus\",\r\n      \"SubscriptionName\": null\r\n    },\r\n    \"externalApiKeys\": {},\r\n    \"intentsCount\": 9,\r\n    \"entitiesCount\": 11,\r\n    \"endpointHitsCount\": 0,\r\n    \"trainingStatus\": \"NeedsTraining\"\r\n  },\r\n  {\r\n    \"version\": \"0.2\",\r\n    \"createdDateTime\": \"2017-11-30T22:57:36Z\",\r\n    \"lastModifiedDateTime\": \"2017-11-30T22:57:41Z\",\r\n    \"lastTrainedDateTime\": null,\r\n    \"lastPublishedDateTime\": null,\r\n    \"endpointUrl\": \"https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b\",\r\n    \"assignedEndpointKey\": {\r\n      \"SubscriptionKey\": \"\",\r\n      \"SubscriptionRegion\": \"westus\",\r\n      \"SubscriptionName\": \"\"\r\n    },\r\n    \"externalApiKeys\": {},\r\n    \"intentsCount\": 5,\r\n    \"entitiesCount\": 4,\r\n    \"endpointHitsCount\": 0,\r\n    \"trainingStatus\": \"NeedsTraining\"\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000 "
        ]
      },
      "ResponseBody": "{\r\n  \"version\": \"0.1\",\r\n  \"createdDateTime\": \"2017-02-09T14:01:45Z\",\r\n  \"lastModifiedDateTime\": \"2017-12-14T21:37:17Z\",\r\n  \"lastTrainedDateTime\": null,\r\n  \"lastPublishedDateTime\": \"2017-12-12T21:59:37Z\",\r\n  \"endpointUrl\": \"https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b\",\r\n  \"assignedEndpointKey\": {\r\n    \"SubscriptionKey\": \"00000000000000000000000000000000\",\r\n    \"SubscriptionRegion\": \"westus\",\r\n    \"SubscriptionName\": null\r\n  },\r\n  \"externalApiKeys\": {},\r\n  \"intentsCount\": 9,\r\n  \"entitiesCount\": 11,\r\n  \"endpointHitsCount\": 0,\r\n  \"trainingStatus\": \"NeedsTraining\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.2/",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000 "
        ]
      },
      "ResponseBody": "{\r\n  \"version\": \"0.2\",\r\n  \"createdDateTime\": \"2017-11-30T22:57:36Z\",\r\n  \"lastModifiedDateTime\": \"2017-11-30T22:57:41Z\",\r\n  \"lastTrainedDateTime\": null,\r\n  \"lastPublishedDateTime\": null,\r\n  \"endpointUrl\": \"https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b\",\r\n  \"assignedEndpointKey\": {\r\n    \"SubscriptionKey\": \"\",\r\n    \"SubscriptionRegion\": \"westus\",\r\n    \"SubscriptionName\": \"\"\r\n  },\r\n  \"externalApiKeys\": {},\r\n  \"intentsCount\": 5,\r\n  \"entitiesCount\": 4,\r\n  \"endpointHitsCount\": 0,\r\n  \"trainingStatus\": \"NeedsTraining\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}