{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions?skip=0&take=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "3eff76bb229942899255402725b72933",
          "eceb0cb667234559aac66496e66aac3f"
        ]
      },
      "ResponseBody": "{\r\n  \"statusCode\": 401,\r\n  \"message\": \"Access denied due to invalid subscription key. Make sure to provide a valid key for an active subscription.\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "WWW-Authenticate": [
          "AzureApiManagementKey realm=\"https://westus.api.cognitive.microsoft.com/luis/api/v2.0\",name=\"Ocp-Apim-Subscription-Key\",type=\"header\""
        ]
      },
      "StatusCode": 401
    }
  ],
  "Names": {},
  "Variables": {}
}