<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hyak.Common" version="1.0.3" targetFramework="portable-net403+win+wpa81" />
  <package id="Microsoft.Azure.Common" version="2.1.0" targetFramework="portable-net45+wp8+wpa81+win" />
  <package id="Microsoft.Azure.Common.Dependencies" version="1.0.0" targetFramework="portable-net45+wp8+wpa81+win" />
</packages>
