{
  "Entries": [
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/Notebooks?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/notebooks/Notebook 1",
            "name": "Notebook 1",
            "type": "Microsoft.Synapse/workspaces/notebooks",
            "etag": "10003327-0000-0100-0000-5e031adb0000",
            "properties": {
              "nbformat": 4,
              "nbformat_minor": 2,
              "bigDataPool": {
                "referenceName": "testsparkpool",
                "type": "BigDataPoolReference"
              },
              "sessionProperties": {
                "driverMemory": "28g",
                "driverCores": 4,
                "executorMemory": "28g",
                "executorCores": 4,
                "numExecutors": 1
              },
              "metadata": {
                "language_info": {
                  "name": "python"
                },
                "a365ComputeOptions": {
                  "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/bigDataPools/testsparkpool",
                  "name": "testsparkpool",
                  "type": "Spark",
                  "endpoint": "https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool",
                  "auth": {
                    "type": "AAD",
                    "authResource": "https://dev.azuresynapse.net"
                  },
                  "sparkVersion": "2.4",
                  "nodeCount": 41,
                  "cores": 8,
                  "memory": 56,
                  "extraHeader": {}
                }
              },
              "cells": [
                {
                  "cell_type": "code",
                  "metadata": {},
                  "source": [
                    "print(\u0022hello from portal\u0022)"
                  ],
                  "attachments": {},
                  "outputs": [],
                  "execution_count": null
                }
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/Notebooks/Notebook%201?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/p[...]
