{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-2937?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2937",
        "name": "testRG-2937",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2937/providers/Microsoft.Automation/automationAccounts/automation8670?api-version=2021-06-22",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "sku": {
            "name": "Basic"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2937/providers/Microsoft.Automation/automationAccounts/automation8670?api-version=2021-06-22",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "automation8670",
        "systemData": {
          "createdAt": "2023-05-23T07:22:10.4333333\u002B00:00",
          "lastModifiedAt": "2023-05-23T07:22:10.4333333\u002B00:00"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2937/providers/Microsoft.Automation/automationAccounts/automation8670",
        "type": "Microsoft.Automation/AutomationAccounts",
        "location": "eastus",
        "tags": {},
        "etag": null,
        "properties": {
          "disableLocalAuth": false,
          "sku": {
            "name": "Basic",
            "family": null,
            "capacity": null
          },
          "state": "Ok",
          "RegistrationUrl": "https://cb7e53a1-a499-4a69-96fd-8db1695eafec.agentsvc.eus.azure-automation.net/accounts/cb7e53a1-a499-4a69-96fd-8db1695eafec",
          "encryption": {
            "keySource": "Microsoft.Automation",
            "identity": {
              "userAssignedIdentity": null
            }
          },
          "automationHybridServiceUrl": "https://cb7e53a1-a499-4a69-96fd-8db1695eafec.jrds.eus.azure-automation.net/automationAccounts/cb7e53a1-a499-4a69-96fd-8db1695eafec",
          "RuntimeConfiguration": {
            "powershell": {
              "builtinModules": {
                "Az": "8.0.0"
              }
            },
            "powershell7": {
              "builtinModules": {
                "Az": "8.0.0"
              }
            }
          },
          "creationTime": "2023-05-23T07:22:10.4333333\u002B00:00",
          "lastModifiedBy": null,
          "lastModifiedTime": "2023-05-23T07:22:10.4333333\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2937/providers/Microsoft.Automation/automationAccounts/automation8670/runbooks/runbook6086?api-version=2018-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "runbookType": "Script"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022638204233335866667\u0022",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2937/providers/Microsoft.Automation/automationAccounts/automation8670/runbooks/runbook6086?api-version=2018-06-30",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2937/providers/Microsoft.Automation/automationAccounts/automation8670/runbooks/runbook6086",
        "name": "runbook6086",
        "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
        "location": "eastus",
        "tags": {},
        "etag": "\u0022638204233335866667\u0022",
        "properties": {
          "description": null,
          "logVerbose": false,
          "logProgress": false,
          "logActivityTrace": 0,
          "runbookType": "Script",
          "parameters": {},
          "state": "New",
          "jobCount": 0,
          "provisioningState": "Succeeded",
          "serviceManagementTags": null,
          "outputTypes": [],
          "creationTime": "2023-05-23T07:22:13.5866667\u002B00:00",
          "lastModifiedBy": null,
          "lastModifiedTime": "2023-05-23T07:22:13.5866667\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2937/providers/Microsoft.Automation/automationAccounts/automation8670/runbooks/runbook6086/publish?api-version=2018-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2937/providers/Microsoft.Automation/automationAccounts/automation8670/runbooks/runbook6086/operationResults/36ff685b-9567-47d6-b022-0d5f5581f011?api-version=2018-06-30",
        "ocp-automation-operationresultid": [
          "36ff685b-9567-47d6-b022-0d5f5581f011",
          "36ff685b-9567-47d6-b022-0d5f5581f011"
        ],
        "Retry-After": "5",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2937/providers/Microsoft.Automation/automationAccounts/automation8670/runbooks/runbook6086/operationResults/36ff685b-9567-47d6-b022-0d5f5581f011?api-version=2018-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2937/providers/Microsoft.Automation/automationAccounts/automation8670/webhooks/webhook8995?api-version=2015-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "webhook8995",
        "properties": {
          "expiryTime": "2023-05-24T07:22:14.3804027Z",
          "runbook": {
            "name": "runbook6086"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2937/providers/Microsoft.Automation/automationAccounts/automation8670/webhooks/webhook8995?api-version=2015-10-31",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2937/providers/Microsoft.Automation/automationAccounts/automation8670/webhooks/webhook8995",
        "name": "webhook8995",
        "type": "Microsoft.Automation/AutomationAccounts/Webhooks",
        "properties": {
          "isEnabled": false,
          "expiryTime": "2023-05-24T07:22:14.3804027\u002B00:00",
          "runbook": {
            "name": "runbook6086"
          },
          "lastInvokedTime": null,
          "runOn": null,
          "parameters": null,
          "uri": "https://cb7e53a1-a499-4a69-96fd-8db1695eafec.webhook.eus.azure-automation.net/webhooks?token=m936BQsyhp5LHoejFE%2fy5IlM4UyyhZBYKrqeCEUmeKI%3d",
          "creationTime": "2023-05-23T07:22:16.7298529\u002B00:00",
          "lastModifiedBy": "",
          "lastModifiedTime": "2023-05-23T07:22:16.7298529\u002B00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2937/providers/Microsoft.Automation/automationAccounts/automation8670/webhooks?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2937/providers/Microsoft.Automation/automationAccounts/automation8670/webhooks/webhook8995",
            "name": "webhook8995",
            "properties": {
              "isEnabled": false,
              "expiryTime": "2023-05-24T07:22:14.3804027\u002B00:00",
              "runbook": {
                "name": "runbook6086"
              },
              "lastInvokedTime": null,
              "runOn": null,
              "parameters": null,
              "uri": null,
              "creationTime": "2023-05-23T07:22:16.7298529\u002B00:00",
              "lastModifiedBy": "",
              "lastModifiedTime": "2023-05-23T07:22:16.7298529\u002B00:00"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2023-05-23T15:22:14.3804027\u002B08:00",
    "LOCATION": "eastus",
    "RandomSeed": "815299064",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
