{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/providers/Microsoft.Features/providers/Microsoft.Cache/features/DONOTDELETEBETA/register?api-version=2014-08-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"location\": \"West US\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"Providers.Test/DONOTDELETEBETA\",\r\n  \"properties\": {\r\n    \"state\": \"Pending\"\r\n  }\r\n  \"id\": \"/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourceGroups/csmrg629\",\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 201
    },
  ],
  "Names": {
    "CreateDeploymentAndValidateProperties": [
      "csmr2872",
      "csmrg629",
      "csmd8942"
    ]
  },
  "Variables": {
    "SubscriptionId": "1a66ce04-b633-4a0b-b2bc-a912ec8986a6"
  }
}