{
  "Entries": [
    {
      "RequestUri": "http://emilydevtest.blob.core.windows.net/$blobchangefeed?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Aug 2020 16:07:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7F6C40E07B5B9\u0022",
        "Last-Modified": "Tue, 12 May 2020 22:30:20 GMT",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://emilydevtest.blob.core.windows.net/$blobchangefeed/meta%2Fsegments.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Aug 2020 16:07:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "CqRS5I6G65pfbf5BZJwR\u002BQ==",
        "Content-Type": "application/json",
        "ETag": "\u00220x8D83A21E988DB98\u0022",
        "Last-Modified": "Thu, 06 Aug 2020 16:00:59 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 12 May 2020 22:31:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": {
        "version": 0,
        "lastConsumable": "2020-08-06T16:00:00.000Z",
        "storageDiagnostics": {
          "version": 0,
          "lastModifiedTime": "2020-08-06T16:00:59.926Z",
          "data": {
            "aid": "2af0a453-b006-000d-000a-6c9b200639df",
            "lfz": "2020-08-06T15:00:00.000Z"
          }
        }
      }
    },
    {
      "RequestUri": "http://emilydevtest.blob.core.windows.net/$blobchangefeed?restype=container\u0026comp=list\u0026prefix=idx%2Fsegments%2F\u0026delimiter=%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Aug 2020 16:07:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022http://emilydevtest.blob.core.windows.net/\u0022 ContainerName=\u0022$blobchangefeed\u0022\u003E\u003CPrefix\u003Eidx/segments/\u003C/Prefix\u003E\u003CDelimiter\u003E/\u003C/Delimiter\u003E\u003CBlobs\u003E\u003CBlobPrefix\u003E\u003CName\u003Eidx/segments/1601/\u003C/Name\u003E\u003C/BlobPrefix\u003E\u003CBlobPrefix\u003E\u003CName\u003Eidx/segments/2020/\u003C/Name\u003E\u003C/BlobPrefix\u003E\u003C/Blobs\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "http://emilydevtest.blob.core.windows.net/$blobchangefeed?restype=container\u0026comp=list\u0026prefix=idx%2Fsegments%2F2020%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Aug 2020 16:07:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "http://emilydevtest.blob.core.windows.net/$blobchangefeed/idx%2Fsegments%2F2020%2F08%2F05%2F1600%2Fmeta.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Aug 2020 16:07:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "T5tSrcoF8N9RoCKVy4SVJQ==",
        "Content-Type": "application/json",
        "ETag": "\u00220x8D8396120DA1BE1\u0022",
        "Last-Modified": "Wed, 05 Aug 2020 17:00:59 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 05 Aug 2020 16:01:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": {
        "version": 0,
        "begin": "2020-08-05T16:00:00.000Z",
        "intervalSecs": 3600,
        "status": "Finalized",
        "config": {
          "version": 1,
          "configVersionEtag": "0x8d83958bf728636",
          "numShards": 1,
          "recordsFormat": "avro",
          "formatSchemaVersion": 4,
          "shardDistFnVersion": 1,
          "streamAppendType": 1
        },
        "chunkFilePaths": [
          "$blobchangefeed/log/00/2020/08/05/1600/"
        ],
        "storageDiagnostics": {
          "version": 0,
          "lastModifiedTime": "2020-08-05T16:01:00.478Z",
          "data": {
            "aid": "78d8656b-c006-00cc-0041-6b3cc20692d0"
          }
        }
      }
    },
    {
      "RequestUri": "http://emilydevtest.blob.core.windows.net/$blobchangefeed?restype=container\u0026comp=list\u0026prefix=log%2F00%2F2020%2F08%2F05%2F1600%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Aug 2020 16:07:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-ve[...]
    {
      "RequestUri": "http://emilydevtest.blob.core.windows.net/$blobchangefeed/log%2F00%2F2020%2F08%2F05%2F1600%2F00000.avro",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Aug 2020 16:07:42 GMT",
        "x-ms-range": "bytes=0-1048575",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-380181/380182",
        "Content-Type": "avro/binary",
        "ETag": "\u00220x8D83960FD0AD48E\u0022",
        "Last-Modified": "Wed, 05 Aug 2020 16:59:59 GMT",
        "x-ms-blob-committed-block-count": "59",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 05 Aug 2020 16:02:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "T2JqAQQUYXZyby5jb2RlYwhudWxsFmF2cm8uc2NoZW1hnCV7InR5cGUiOiJyZWNvcmQiLCJuYW1lIjoiQmxvYkNoYW5nZUV2ZW50IiwibmFtZXNwYWNlIjoiTWljcm9zb2Z0LlN0b3JhZ2UiLCJmaWVsZHMiOlt7Im5hbWUiOiJzY2hlbWFWZXJzaW9uIiwidHlwZS[...]
[...]
