{
  "Entries": [
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "I need a reservation for an indoor restaurant in China. Please don\u0027t stop the music. Play music and add it to my playlist",
              "language": "en"
            },
            {
              "id": "2",
              "text": "David Schmidt, senior vice president--Food Safety, International Food Information Council (IFIC), Washington, D.C., discussed the physical activity component.",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "customMultiClassificationTasks": [
            {
              "parameters": {
                "project-name": "7cdace98-537b-494a-b69a-c19754718025",
                "deployment-name": "7cdace98-537b-494a-b69a-c19754718025"
              }
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/a99eb920-f7a2-4ba4-95b8-73d369be7813"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/a99eb920-f7a2-4ba4-95b8-73d369be7813",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "a99eb920-f7a2-4ba4-95b8-73d369be7813",
        "lastUpdateDateTime": "2021-09-23T11:21:25Z",
        "createdDateTime": "2021-09-23T11:21:24Z",
        "expirationDateTime": "2021-09-24T11:21:24Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/a99eb920-f7a2-4ba4-95b8-73d369be7813",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "a99eb920-f7a2-4ba4-95b8-73d369be7813",
        "lastUpdateDateTime": "2021-09-23T11:21:25Z",
        "createdDateTime": "2021-09-23T11:21:24Z",
        "expirationDateTime": "2021-09-24T11:21:24Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "customMultiClassificationTasks": [
            {
              "lastUpdateDateTime": "2021-09-23T11:21:25.9206799Z",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "classifications": [
                      {
                        "category": "BookRestaurant",
                        "confidenceScore": 0.97
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "classifications": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "7cdace98-537b-494a-b69a-c19754718025",
                "deploymentName": "7cdace98-537b-494a-b69a-c19754718025"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1989776014",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://cognitiveweppe.azure-api.net"
  }
}