{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "33e01921-4d64-4f8c-a055-5bdaffd5e33d"
          }
        ],
        "subscriptionId": "204898ee-cd13-4332-b9d4-55ca5c25496d",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ARC-Testing",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourcegroups/testArcVMwareRG-8713?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "test": "env"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testArcVMwareRG-8713",
        "name": "testArcVMwareRG-8713",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testArcVMwareRG-8713/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/testvmtemplate3680?api-version=2020-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "extendedLocation": {
          "type": "CustomLocation",
          "name": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ExtendedLocation/customLocations/service-sdk-test-cl"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "vCenterId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/VCenters/service-sdk-test-vcenter",
          "moRefId": "vm-75"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-10-01-preview, 2022-01-10-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/8a60340b-2d63-4680-808c-e35cc42d0339*68E9D0C0AFCED29C625C86EA5B95C5D3D5C0892053F8F4BAC41E2FDEC9608A3D?api-version=2020-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022d400ea8c-0000-0100-0000-61dbed770000\u0022",
        "Location": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testArcVMwareRG-8713/providers/Microsoft.ConnectedVMwarevSphere/VirtualMachineTemplates/testvmtemplate3680",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testArcVMwareRG-8713/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/testvmtemplate3680",
        "name": "testvmtemplate3680",
        "type": "microsoft.connectedvmwarevsphere/virtualmachinetemplates",
        "location": "eastus",
        "extendedLocation": {
          "type": "CustomLocation",
          "name": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ExtendedLocation/customLocations/service-sdk-test-cl"
        },
        "tags": {},
        "systemData": {
          "createdBy": "bf1347fd-2d31-40a9-9980-5f31f8e0edd1",
          "createdByType": "Application",
          "createdAt": "2022-01-10T08:25:26.2403365Z",
          "lastModifiedBy": "bf1347fd-2d31-40a9-9980-5f31f8e0edd1",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-01-10T08:25:26.2403365Z"
        },
        "properties": {
          "vCenterId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/VCenters/service-sdk-test-vcenter",
          "moRefId": "vm-75",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/8a60340b-2d63-4680-808c-e35cc42d0339*68E9D0C0AFCED29C625C86EA5B95C5D3D5C0892053F8F4BAC41E2FDEC9608A3D?api-version=2020-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227c00d62f-0000-0100-0000-61dbed770000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/8a60340b-2d63-4680-808c-e35cc42d0339*68E9D0C0AFCED29C625C86EA5B95C5D3D5C0892053F8F4BAC41E2FDEC9608A3D",
        "name": "8a60340b-2d63-4680-808c-e35cc42d0339*68E9D0C0AFCED29C625C86EA5B95C5D3D5C0892053F8F4BAC41E2FDEC9608A3D",
        "resourceId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testArcVMwareRG-8713/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/testvmtemplate3680",
        "status": "Accepted",
        "startTime": "2022-01-10T08:25:27.7017767Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/8a60340b-2d63-4680-808c-e35cc42d0339*68E9D0C0AFCED29C625C86EA5B95C5D3D5C0892053F8F4BAC41E2FDEC9608A3D?api-version=2020-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227c00e02f-0000-0100-0000-61dbed800000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11982"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/8a60340b-2d63-4680-808c-e35cc42d0339*68E9D0C0AFCED29C625C86EA5B95C5D3D5C0892053F8F4BAC41E2FDEC9608A3D",
        "name": "8a60340b-2d63-4680-808c-e35cc42d0339*68E9D0C0AFCED29C625C86EA5B95C5D3D5C0892053F8F4BAC41E2FDEC9608A3D",
        "resourceId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testArcVMwareRG-8713/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/testvmtemplate3680",
        "status": "Succeeded",
        "startTime": "2022-01-10T08:25:27.7017767Z",
        "endTime": "2022-01-10T08:25:36.5023361Z",
        "properties": null
      }
    },
[...]
