{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "33e01921-4d64-4f8c-a055-5bdaffd5e33d"
          }
        ],
        "subscriptionId": "204898ee-cd13-4332-b9d4-55ca5c25496d",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ARC-Testing",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourcegroups/testConnectedVMwareRG-4153?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
            "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-4153",
        "name": "testConnectedVMwareRG-4153",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-4153/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/testvmtemplate7122?api-version=2020-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "extendedLocation": {
          "type": "CustomLocation",
          "name": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ExtendedLocation/customLocations/service-sdk-test-cl"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "vCenterId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/VCenters/service-sdk-test-vcenter",
          "moRefId": "vm-74"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-10-01-preview, 2022-01-10-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/7373acc8-8e21-4cee-90ed-f680b447c156*3CD73CA342946C830888F93965AA33B151BB34C1D99172DB283697EB0AAFD82E?api-version=2020-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022dd007bc2-0000-0100-0000-61de02c50000\u0022",
        "Location": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-4153/providers/Microsoft.ConnectedVMwarevSphere/VirtualMachineTemplates/testvmtemplate7122",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-4153/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/testvmtemplate7122",
        "name": "testvmtemplate7122",
        "type": "microsoft.connectedvmwarevsphere/virtualmachinetemplates",
        "location": "eastus",
        "extendedLocation": {
          "type": "CustomLocation",
          "name": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ExtendedLocation/customLocations/service-sdk-test-cl"
        },
        "tags": {},
        "systemData": {
          "createdBy": "bf1347fd-2d31-40a9-9980-5f31f8e0edd1",
          "createdByType": "Application",
          "createdAt": "2022-01-11T22:20:52.5720497Z",
          "lastModifiedBy": "bf1347fd-2d31-40a9-9980-5f31f8e0edd1",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-01-11T22:20:52.5720497Z"
        },
        "properties": {
          "vCenterId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/VCenters/service-sdk-test-vcenter",
          "moRefId": "vm-74",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/7373acc8-8e21-4cee-90ed-f680b447c156*3CD73CA342946C830888F93965AA33B151BB34C1D99172DB283697EB0AAFD82E?api-version=2020-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228400b446-0000-0100-0000-61de02c40000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11955"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/7373acc8-8e21-4cee-90ed-f680b447c156*3CD73CA342946C830888F93965AA33B151BB34C1D99172DB283697EB0AAFD82E",
        "name": "7373acc8-8e21-4cee-90ed-f680b447c156*3CD73CA342946C830888F93965AA33B151BB34C1D99172DB283697EB0AAFD82E",
        "resourceId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-4153/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/testvmtemplate7122",
        "status": "Accepted",
        "startTime": "2022-01-11T22:20:52.9910605Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/7373acc8-8e21-4cee-90ed-f680b447c156*3CD73CA342946C830888F93965AA33B151BB34C1D99172DB283697EB0AAFD82E?api-version=2020-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228400dc46-0000-0100-0000-61de02ce0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11935"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/7373acc8-8e21-4cee-90ed-f680b447c156*3CD73CA342946C830888F93965AA33B151BB34C1D99172DB283697EB0AAFD82E",
        "name": "7373acc8-8e21-4cee-90ed-f680b447c156*3CD73CA342946C830888F93965AA33B151BB34C1D99172DB283697EB0AAFD82E",
        "resourceId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-4153/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/testvmtemplate7122",
        "status": "Succeeded",
        "startTime": "2022-01-11T22:20:52.9910605Z",
        "endTime": "2022-01-11T22:21:02.2717293Z",
        "properties": null
      }
    },
[...]
