{
  "Entries": [
    {
      "RequestUri": "https://personalizersdktestrecordermultislot.cognitiveservices.azure.com/personalizer/v1.1-preview.1/configurations/service",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "rewardWaitTime": "PT5S",
        "defaultReward": 0.0,
        "rewardAggregation": "earliest",
        "explorationPercentage": 0.2,
        "modelExportFrequency": "PT5M",
        "logRetentionDays": 90,
        "lastConfigurationEditDate": "2021-08-04T21:21:12",
        "learningMode": "Online",
        "isAutoOptimizationEnabled": false,
        "autoOptimizationFrequency": "P28D",
        "autoOptimizationStartDate": "2021-08-18T21:43:46"
      }
    },
[...]
    {
      "RequestUri": "https://personalizersdktestrecordermultislot.cognitiveservices.azure.com/personalizer/v1.1-preview.1/configurations/policy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "name": "multiSlot",
        "arguments": "--ccb_explore_adf --epsilon 0.2 --power_t 0 -l 0.001 --cb_type mtr -q ::"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "name": "12101140dd64410ea42cd6a086ec9b5b",
        "arguments": "--ccb_explore_adf --epsilon 0.2 --power_t 0 -l 0.001 --cb_type mtr -q ::"
      }
    },
[...]
    {
      "RequestUri": "https://personalizersdktestrecordermultislot.cognitiveservices.azure.com/personalizer/v1.1-preview.1/multislot/events/123456789/activate",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "PERSONALIZER_API_KEY_MULTI_SLOT": "Sanitized",
    "PERSONALIZER_ENDPOINT_MULTI_SLOT": "https://personalizersdktestrecordermultislot.cognitiveservices.azure.com/",
    "RandomSeed": "447521776"
  }
}