{
  "Entries": [
    {
      "RequestUri": "https://sdktestrecorder.cognitiveservices.azure.com/personalizer/v1.1-preview.1/multislot/events/123456789/activate",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "PERSONALIZER_API_KEY": "Sanitized",
    "PERSONALIZER_ENDPOINT": "https://sdktestrecorder.cognitiveservices.azure.com/",
    "RandomSeed": "447521776"
  }
}