{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/crptestar9873?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1112"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/crptestar9873",
        "name": "crptestar9873",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/crptestar9873/providers/Microsoft.Compute/disks/diskrp4802?api-version=2019-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "zones": [
          "1"
        ],
        "location": "eastus2",
        "properties": {
          "osType": "Linux",
          "creationData": {
            "createOption": "Empty"
          },
          "diskSizeGB": 5
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus2/DiskOperations/7c372342-9ac1-4746-a7a9-4616824538b6?api-version=2019-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus2/DiskOperations/7c372342-9ac1-4746-a7a9-4616824538b6?monitor=true\u0026api-version=2019-11-01",
        "Retry-After": "2",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateUpdateDisks3Min;999,Microsoft.Compute/CreateUpdateDisks30Min;7999",
        "x-ms-ratelimit-remaining-subscription-writes": "1111"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022diskrp4802\u0022,\r\n",
        "  \u0022location\u0022: \u0022eastus2\u0022,\r\n",
        "  \u0022zones\u0022: [\r\n",
        "    \u00221\u0022\r\n",
        "  ],\r\n",
        "  \u0022sku\u0022: {\r\n",
        "    \u0022name\u0022: \u0022Standard_LRS\u0022\r\n",
        "  },\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022osType\u0022: \u0022Linux\u0022,\r\n",
        "    \u0022creationData\u0022: {\r\n",
        "      \u0022createOption\u0022: \u0022Empty\u0022\r\n",
        "    },\r\n",
        "    \u0022diskSizeGB\u0022: 5,\r\n",
        "    \u0022provisioningState\u0022: \u0022Updating\u0022,\r\n",
        "    \u0022isArmResource\u0022: true\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus2/DiskOperations/7c372342-9ac1-4746-a7a9-4616824538b6?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remain[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/crptestar9873/providers/Microsoft.Compute/disks/diskrp4802/beginGetAccess?api-version=2019-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "access": "Read",
        "durationInSeconds": 1000
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus2/DiskOperations/57388d9c-3f34-4b71-88a8-fbe651812fd2?api-version=2019-11-01",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus2/DiskOperations/57388d9c-3f34-4b71-88a8-fbe651812fd2?monitor=true\u0026api-version=2019-11-01",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/HighCostDiskHydrate3Min;999,Microsoft.Compute/HighCostDiskHydrate30Min;7999",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus2/DiskOperations/57388d9c-3f34-4b71-88a8-fbe651812fd2?monitor=true\u0026api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;49996,Microsoft.Compute/GetOperation30Min;399996",
        "x-ms-ratelimit-remaining-subscription-reads": "11238"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022accessSAS\u0022: \u0022https://md-x1dhlhdz3rrs.blob.core.windows.net/k1wll5blmm0w/abcd?sv=2017-04-17\u0026sr=b\u0026si=8e502cb3-1215-41e7-9e12-d8fff2de3c5c\u0026sig=xlwLZr8AKg2HS%2BDyqvEKMInBcSBd7DcsjMpOhRRYhfE%3D\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/crptestar9873/providers/Microsoft.Compute/disks/diskrp4802/endGetAccess?api-version=2019-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus2/DiskOperations/ffef5801-7478-42d1-b1c0-bad5cbcb9af2?api-version=2019-11-01",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus2/DiskOperations/ffef5801-7478-42d1-b1c0-bad5cbcb9af2?monitor=true\u0026api-version=2019-11-01",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/HighCostDiskHydrate3Min;998,Microsoft.Compute/HighCostDiskHydrate30Min;7998",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/crptestar9873/providers/Microsoft.Compute/disks/diskrp4802?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGet3Min;4995,Microsoft.Compute/LowCostGet30Min;39995",
        "x-ms-ratelimit-remaining-subscription-reads": "11230"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022error\u0022: {\r\n",
        "    \u0022code\u0022: \u0022NotFound\u0022,\r\n",
        "    \u0022message\u0022: \u0022Disk diskrp4802 is not found.\u0022\r\n",
        "  }\r\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "1124249812",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}