{
  "Entries": [
    {
      "RequestUri": "/subscriptions/a6383be3-f0e8-4968-93d5-10f2625f5bb5/resourcegroups/mms-eus/providers/Microsoft.OperationalInsights/workspaces/atlantisdemo/schema?api-version=2015-03-20",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"__metadata\": {\r\n    \"schema\": {\r\n      \"name\": \"CloudOps\",\r\n      \"version\": 2\r\n    },\r\n    \"resultType\": \"schema\",\r\n    \"requestTime\": 28\r\n  },\r\n  \"value\": [\r\n    {\r\n      \"name\": \"TenantId\",\r\n      \"displayName\": \"TenantId\",\r\n      \"type\": \"Guid\",\r\n      \"indexed\": true,\r\n      \"stored\": false,\r\n      \"facet\": false,\r\n      \"hidden\": true,\r\n      \"display\": false,\r\n      \"ownerType\": [\r\n        \"Alert\",\r\n        \"AzureActivity\",\r\n        \"AzureAudit\",\r\n        \"AzureMetrics\",\r\n        \"ComputerGroup\",\r\n        \"ETWEvent\",\r\n        \"Event\",\r\n        \"ExtraHopDBLogin\",\r\n        \"ExtraHopDBTransaction\",\r\n        \"ExtraHopDNSResponse\",\r\n        \"ExtraHopFTPResponse\",\r\n        \"ExtraHopHTTPTransaction\",\r\n        \"ExtraHopSMTPMessage\",\r\n        \"ExtraHopSYNScanDetect\",\r\n        \"ExtraHopTCPOpen\",\r\n        \"Heartbeat\",\r\n        \"Operation\",\r\n        \"Perf\",\r\n        \"ReservedAzureCommonFields\",\r\n        \"ReservedCommonFields\",\r\n        \"ServiceFabricOperationalEvent\",\r\n        \"ServiceFabricReliableActorEvent\",\r\n        \"ServiceFabricReliableServiceEvent\",\r\n        \"Syslog\",\r\n        \"Usage\",\r\n        \"W3CIISLog\"\r\n      ],\r\n      \"extraction\": null,\r\n      \"common\": false\r\n    },\r\n    {\r\n      \"name\": \"MG\",\r\n      \"displayName\": \"MG\",\r\n      \"type\": \"Guid\",\r\n      \"indexed\": true,\r\n      \"stored\": true,\r\n      \"facet\": false,\r\n      \"hidden\": true,\r\n      \"display\": false,\r\n      \"ownerType\": [\r\n        \"Alert\",\r\n        \"Event\",\r\n        \"Heartbeat\",\r\n        \"Operation\",\r\n        \"Perf\",\r\n        \"Syslog\",\r\n        \"W3CIISLog\"\r\n      ],\r\n      \"extraction\": null,\r\n      \"c[...]
