{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/test-queue-76403059-ae49-3b1e-ed75-14d5f9d599e1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:59:46 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/test-queue-76403059-ae49-3b1e-ed75-14d5f9d599e1/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 17 Jun 2019 20:59:46 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": [
        "\u003cQueueMessage\u003e\r\n",
        "  \u003cMessageText\u003emrpxehyvmtwjkylwgnnv\u003c/MessageText\u003e\r\n",
        "\u003c/QueueMessage\u003e"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cQueueMessagesList\u003e\u003cQueueMessage\u003e\u003cMessageId\u003e63b6f7d5-e4b3-4967-9f2b-39fad17fae5d\u003c/MessageId\u003e\u003cInsertionTime\u003eMon, 17 Jun 2019 20:59:46 GMT\u003c/InsertionTime\u003e\u003cExpirationTime\u003eMon, 24 Jun 2019 20:59:46 GMT\u003c/ExpirationTime\u003e\u003cPopReceipt\u003eAgAAAAMAAAAAAAAA0oBmmE8l1QE=\u003c/PopReceipt\u003e\u003cTimeNextVisible\u003eMon, 17 Jun 2019 20:59:46 GMT\u003c/TimeNextVisible\u003e\u003c/QueueMessage\u003e\u003c/QueueMessagesList\u003e"
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/test-queue-76403059-ae49-3b1e-ed75-14d5f9d599e1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:59:46 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "892067870"
  }
}