{
  "Entries": [
    {
      "RequestUri": "/subscriptions/64c568c3-d802-4f36-8da1-3915fcda3799/resourceGroups/TestRG/providers/Microsoft.AnalysisServices/servers/azsdktest?api-version=2017-08-01-beta",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"asAdministrators\": {\r\n      \"members\": [\r\n        \"aztest0@stabletest.ccsctp.net\",\r\n        \"aztest1@stabletest.ccsctp.net\"\r\n      ]\r\n    },\r\n    \"backupBlobContainerUri\": \"https://aassdk1.blob.core.windows.net/azsdktest?dummykey1\"\r\n  },\r\n  \"location\": \"West US\",\r\n  \"sku\": {\r\n    \"name\": \"S1\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Provisioning\",\r\n    \"state\": \"Provisioning\",\r\n    \"serverFullName\": \"asazure://aspaastest14.asazure-int.windows.net/azsdktest\",\r\n    \"managedMode\": 1,\r\n    \"asAdministrators\": {\r\n      \"members\": [\r\n        \"aztest0@stabletest.ccsctp.net\",\r\n        \"aztest1@stabletest.ccsctp.net\"\r\n      ]\r\n    },\r\n    \"backupBlobContainerUri\": \"https://aassdk1.blob.core.windows.net/azsdktest\",\r\n    \"querypoolConnectionMode\": \"All\"\r\n  },\r\n  \"id\": \"/subscriptions/64c568c3-d802-4f36-8da1-3915fcda3799/resourceGroups/TestRG/providers/Microsoft.AnalysisServices/servers/azsdktest\",\r\n  \"name\": \"azsdktest\",\r\n  \"type\": \"Microsoft.AnalysisServices/servers\",\r\n  \"location\": \"West US\",\r\n  \"sku\": {\r\n    \"name\": \"S1\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/64c568c3-d802-4f36-8da1-3915fcda3799/providers/Microsoft.AnalysisServices/locations/westus/operationresults/3631392D-56CD-4DD2-9DC3-C9E7265A47E1?api-version=2016-05-16"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/64c568c3-d802-4f36-8da1-3915fcda3799/providers/Microsoft.AnalysisServices/locations/westus/operationstatuses/3631392D-56CD-4DD2-9DC3-C9E7265A47E1?api-version=2016-05-16"
        ],
        "x-ms-current-utc-date": [
          "8/8/2017 4:19:35 PM"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/64c568c3-d802-4f36-8da1-3915fcda3799/providers/Microsoft.AnalysisServices/locations/westus/operationstatuses/3631392D-56CD-4DD2-9DC3-C9E7265A47E1?api-version=2016-05-16",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/64c568c3-d802-4f36-8da1-3915fcda3799/locations/westus/operationstatuses/3631392D-56CD-4DD2-9DC3-C9E7265A47E1\",\r\n  \"name\": \"3631392D-56CD-4DD2-9DC3-C9E7265A47E1\",\r\n  \"status\": \"Provisioning\",\r\n  \"startTime\": \"2017-08-08T16:19:36.837Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-current-utc-date": [
          "8/8/2017 4:20:11 PM"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14987"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/64c568c3-d802-4f36-8da1-3915fcda3799/providers/Microsoft.AnalysisServices/locations/westus/operationstatuses/3631392D-56CD-4DD2-9DC3-C9E7265A47E1?api-version=2016-05-16",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/64c568c3-d802-4f36-8da1-3915fcda3799/locations/westus/operationstatuses/3631392D-56CD-4DD2-9DC3-C9E7265A47E1\",\r\n  \"name\": \"3631392D-56CD-4DD2-9DC3-C9E7265A47E1\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2017-08-08T16:19:36.837Z\",\r\n  \"endTime\": \"2017-08-08T16:21:08.04Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-current-utc-date": [
          "8/8/2017 4:21:12 PM"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14985"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/64c568c3-d802-4f36-8da1-3915fcda3799/providers/Microsoft.AnalysisServices/locations/westus/operationstatuses/126C70D3-BAA3-4DED-AC16-B4D5AF271816?api-version=2016-05-16",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/64c568c3-d802-4f36-8da1-3915fcda3799/locations/westus/operationstatuses/126C70D3-BAA3-4DED-AC16-B4D5AF271816\",\r\n  \"name\": \"126C70D3-BAA3-4DED-AC16-B4D5AF271816\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2017-08-08T16:24:52.54Z\",\r\n  \"endTime\": \"2017-08-08T16:25:09.73Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-current-utc-date": [
          "8/8/2017 4:25:22 PM"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14984"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "64c568c3-d802-4f36-8da1-3915fcda3799"
  }
}