{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "accountName": "mock",
          "accountKey": "Sanitized",
          "fileSystemName": "mock",
          "directoryTemplate": "mock",
          "fileTemplate": "mock"
        },
        "dataSourceType": "AzureDataLakeStorageGen2",
        "dataFeedName": "dataFeedFt3L2376",
        "dataFeedDescription": "description",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "metric"
          }
        ],
        "dimension": [
          {
            "dimensionName": "dimension"
          }
        ],
        "timestampColumn": "timestamp",
        "dataStartFrom": "2021-01-01T00:00:00.0000000Z",
        "startOffsetInSeconds": 60,
        "maxConcurrency": 1,
        "minRetryIntervalInSeconds": 60,
        "stopRetryAfterInSeconds": 60,
        "needRollup": "NeedRollup",
        "rollUpMethod": "Sum",
        "allUpIdentification": "dimension",
        "fillMissingPointType": "NoFilling",
        "viewMode": "Public",
        "actionLinkTemplate": "https://fakeurl.com/%datafeed/%metric"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/3f9a12ef-3dd4-4fcf-9be4-3da93c04103c"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/3f9a12ef-3dd4-4fcf-9be4-3da93c04103c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "3f9a12ef-3dd4-4fcf-9be4-3da93c04103c",
        "dataFeedName": "dataFeedFt3L2376",
        "metrics": [
          {
            "metricId": "3ba822ea-6cda-4c43-83aa-e27e76618dc5",
            "metricName": "metric",
            "metricDisplayName": "metric",
            "metricDescription": ""
          }
        ],
        "dimension": [
          {
            "dimensionName": "dimension",
            "dimensionDisplayName": "dimension"
          }
        ],
        "dataStartFrom": "2021-01-01T00:00:00.0000000Z",
        "dataSourceType": "AzureDataLakeStorageGen2",
        "timestampColumn": "timestamp",
        "startOffsetInSeconds": 60,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "allUpIdentification": "dimension",
        "needRollup": "NeedRollup",
        "fillMissingPointType": "NoFilling",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "Sum",
        "dataFeedDescription": "description",
        "stopRetryAfterInSeconds": 60,
        "minRetryIntervalInSeconds": 60,
        "maxConcurrency": 1,
        "viewMode": "Public",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2021-07-06T08:02:50Z",
        "isAdmin": true,
        "actionLinkTemplate": "https://fakeurl.com/%datafeed/%metric",
        "dataSourceParameter": {
          "fileTemplate": "mock",
          "accountName": "mock",
          "directoryTemplate": "mock",
          "fileSystemName": "mock"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/3f9a12ef-3dd4-4fcf-9be4-3da93c04103c",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "accountName": "mock",
          "fileSystemName": "mock",
          "directoryTemplate": "mock",
          "fileTemplate": "mock"
        },
        "dataSourceType": "AzureDataLakeStorageGen2",
        "dataFeedName": "dataFeedFt3L2376",
        "dataFeedDescription": null,
        "timestampColumn": null,
        "dataStartFrom": "2021-01-01T00:00:00.0000000Z",
        "startOffsetInSeconds": null,
        "maxConcurrency": null,
        "minRetryIntervalInSeconds": null,
        "stopRetryAfterInSeconds": null,
        "needRollup": null,
        "rollUpMethod": null,
        "allUpIdentification": null,
        "fillMissingPointType": null,
        "fillMissingPointValue": null,
        "viewMode": null,
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [],
        "status": "Active",
        "actionLinkTemplate": null,
        "authenticationType": "Basic",
        "credentialId": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "3f9a12ef-3dd4-4fcf-9be4-3da93c04103c",
        "dataFeedName": "dataFeedFt3L2376",
        "metrics": [
          {
            "metricId": "3ba822ea-6cda-4c43-83aa-e27e76618dc5",
            "metricName": "metric",
            "metricDisplayName": "metric",
            "metricDescription": ""
          }
        ],
 [...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/3f9a12ef-3dd4-4fcf-9be4-3da93c04103c",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1002590941"
  }
}