{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/providers/Microsoft.Search/register?api-version=2014-04-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/providers/Microsoft.Search\",\r\n  \"namespace\": \"Microsoft.Search\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"searchServices\",\r\n      \"locations\": [\r\n        \"West US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-08-19\",\r\n        \"2015-02-28\",\r\n        \"2014-07-31-Preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"searchServicesCit\",\r\n      \"locations\": [\r\n        \"West US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-08-19\",\r\n        \"2015-02-28\",\r\n        \"2014-07-31-Preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"searchServicesInt\",\r\n      \"locations\": [\r\n        \"West US\"\r\n      ],\r\n      \"[...]
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourcegroups/azsmnet637?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourceGroups/azsmnet637\",\r\n  \"name\": \"azsmnet637\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1135"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourceGroups/azsmnet637/providers/Microsoft.Search/searchServices/azs-5091?api-version=2015-02-28",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"free\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourceGroups/azsmnet637/providers/Microsoft.Search/searchServices/azs-5091\",\r\n  \"name\": \"azs-5091\",\r\n  \"type\": \"Microsoft.Search/searchServices\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"free\"\r\n    },\r\n    \"replicaCount\": 1,\r\n    \"partitionCount\": 1,\r\n    \"status\": \"running\",\r\n    \"statusDetails\": null,\r\n    \"provisioningState\": \"succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "elapsed-time": [
          "6074"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1135"
        ],
        "ETag": [
          "W/\"datetime'2015-12-30T05%3A02%3A36.8347005Z'\""
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourceGroups/azsmnet637/providers/Microsoft.Search/searchServices/azs-5091/listAdminKeys?api-version=2015-02-28",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"ED45727CF06EBDD81A7ECB6B6FE3F26B\",\r\n  \"secondaryKey\": \"194E582635BC5D71FBFA34CC6F80C599\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "elapsed-time": [
          "264"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1134"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourceGroups/azsmnet637/providers/Microsoft.Search/searchServices/azs-5091/listQueryKeys?api-version=2015-02-28",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": null,\r\n      \"key\": \"A72D723F99206FBB7CE89CBBF01187BE\"\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "elapsed-time": [
          "264"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/indexes?api-version=2015-02-28",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"azsmnet9335\",\r\n  \"fields\": [\r\n    {\r\n      \"type\": \"Edm.String\",\r\n      \"name\": \"hotelId\",\r\n      \"key\": true,\r\n      \"searchable\": false,\r\n      \"filterable\": true,\r\n      \"sortable\": true,\r\n      \"facetable\": true,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"type\": \"Edm.Double\",\r\n      \"name\": \"baseRate\",\r\n      \"key\": false,\r\n      \"searchable\": false,\r\n      \"filterable\": true,\r\n      \"sortable\": true,\r\n      \"facetable\": true,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"type\": \"Edm.String\",\r\n      \"name\": \"description\",\r\n      \"key\": false,\r\n      \"searchable\": true,\r\n      \"filterable\": false,\r\n      \"sortable\": false,\r\n      \"facetable\": false,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"type\": \"Edm.String\",\r\n      \"analyzer\": \"fr.lucene\",\r\n      \"name\": \"descriptionFr\",\r\n      \"key\": false,\r\n      \"searchable\": true,\r\n      \"filterable\": false,\r\n      \"sortable\": false,\r\n      \"facetable\": false,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"type\": \"Edm.String\",\r\n      \"name\": \"hotelName\",\r\n      \"key\": false,\r\n      \"searchable\": true,\r\n      \"filterable\": true,\r\n      \"sortable\": true,\r\n      \"facetable\": true,\r\n      \"retrievable\": true\r[...]
    {
      "RequestUri": "/indexes/azsmnet9335/docs/$count?api-version=2015-02-28",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "api-key": [
          "ED45727CF06EBDD81A7ECB6B6FE3F26B"
        ],
        "Prefer": [
          "return=representation"
        ]
      },
      "ResponseBody": "0",
      "ResponseHeaders": {
        "Content-Type": [
          "text/plain"
        ],
        "elapsed-time": [
          "61"
        ],
        "OData-Version": [
          "4.0"
        ],
        "Preference-Applied": [
          "odata.include-annotations=\"*\""
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourceGroups/azsmnet637/providers/Microsoft.Search/searchServices/azs-5091?api-version=2015-02-28",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "elapsed-time": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1126"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "GenerateName": [
      "azsmnet637",
      "azsmnet9335"
    ],
    "GenerateServiceName": [
      "azs-5091"
    ]
  },
  "Variables": {
    "SubscriptionId": "b80cf239-2c72-47ab-b309-b26aec4656b1"
  }
}