{
  "Entries": [
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"culture\": \"en-us\",\r\n  \"domain\": \"Comics\",\r\n  \"description\": \"New LUIS App\",\r\n  \"usageScenario\": \"IoT\",\r\n  \"name\": \"Examples Test App\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "507dfc3e5c29448e98fad6046cdee451"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/authoring/v3.0-preview/apps/46a51b73-64e1-47d1-b2a3-2eb4d8665e7c"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/authoring/v3.0-preview/apps/46a51b73-64e1-47d1-b2a3-2eb4d8665e7c"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"46a51b73-64e1-47d1-b2a3-2eb4d8665e7c\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/46a51b73-64e1-47d1-b2a3-2eb4d8665e7c/versions/0.1/intents",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"WeatherInPlace\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "507dfc3e5c29448e98fad6046cdee451"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/authoring/v3.0-preview/apps/46a51b73-64e1-47d1-b2a3-2eb4d8665e7c/versions/0.1/intents/33d25319-9471-4142-a92e-5922881b2911"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/authoring/v3.0-preview/apps/46a51b73-64e1-47d1-b2a3-2eb4d8665e7c/versions/0.1/intents/33d25319-9471-4142-a92e-5922881b2911"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"33d25319-9471-4142-a92e-5922881b2911\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/46a51b73-64e1-47d1-b2a3-2eb4d8665e7c/versions/0.1/entities",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"children\": [\r\n    {\r\n      \"name\": \"City\"\r\n    },\r\n    {\r\n      \"name\": \"Country\"\r\n    }\r\n  ],\r\n  \"name\": \"Place\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "507dfc3e5c29448e98fad6046cdee451"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/authoring/v3.0-preview/apps/46a51b73-64e1-47d1-b2a3-2eb4d8665e7c/versions/0.1/entities/4224a47a-9948-43e8-b04a-4715506db3be"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/authoring/v3.0-preview/apps/46a51b73-64e1-47d1-b2a3-2eb4d8665e7c/versions/0.1/entities/4224a47a-9948-43e8-b04a-4715506db3be"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"4224a47a-9948-43e8-b04a-4715506db3be\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/46a51b73-64e1-47d1-b2a3-2eb4d8665e7c/versions/0.1/example?enableNestedChildren=true",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"text\": \"whats the weather in buenos aires, argentina?\",\r\n  \"entityLabels\": [\r\n    {\r\n      \"entityName\": \"Place\",\r\n      \"startCharIndex\": 21,\r\n      \"endCharIndex\": 43,\r\n      \"children\": [\r\n        {\r\n          \"entityName\": \"City\",\r\n          \"startCharIndex\": 21,\r\n          \"endCharIndex\": 32\r\n        },\r\n        {\r\n          \"entityName\": \"Country\",\r\n          \"startCharIndex\": 35,\r\n          \"endCharIndex\": 43\r\n        }\r\n      ]\r\n    }\r\n  ],\r\n  \"intentName\": \"WeatherInPlace\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "507dfc3e5c29448e98fad6046cdee451"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"ExampleId\": 1103291778,\r\n  \"UtteranceText\": \"whats the weather in buenos aires, argentina?\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/46a51b73-64e1-47d1-b2a3-2eb4d8665e7c/versions/0.1/examples?skip=0&take=100&enableNestedChildren=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "507dfc3e5c29448e98fad6046cdee451"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": 1103291778,\r\n    \"text\": \"whats the weather in buenos aires, argentina?\",\r\n    \"intentLabel\": \"WeatherInPlace\",\r\n    \"tokenizedText\": [\r\n      \"whats\",\r\n      \"the\",\r\n      \"weather\",\r\n      \"in\",\r\n      \"buenos\",\r\n      \"aires\",\r\n      \",\",\r\n      \"argentina\",\r\n      \"?\"\r\n    ],\r\n    \"entityLabels\": [\r\n      {\r\n        \"entityName\": \"Place\",\r\n        \"startTokenIndex\": 4,\r\n        \"endTokenIndex\": 7,\r\n        \"role\": null,\r\n        \"roleId\": null,\r\n        \"children\": [\r\n          {\r\n            \"entityName\": \"City\",\r\n            \"startTokenIndex\": 4,\r\n            \"endTokenIndex\": 5,\r\n            \"role\": null,\r\n            \"roleId\": null,\r\n            \"children\": []\r\n          },\r\n          {\r\n            \"entityName\": \"Country\",\r\n            \"startTokenIndex\": 7,\r\n            \"endTokenIndex\": 7,\r\n            \"role\": null,\r\n            \"roleId\": null,\r\n            \"children\": []\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"intentPredictions\": [\r\n      {\r\n        \"name\": \"None\",\r\n        \"score\": -1.0\r\n      },\r\n      {\r\n        \"name\": \"WeatherInPlace\",\r\n        \"score\": -1.0\r\n      }\r\n    ],\r\n    \"entityPredictions\": [],\r\n    \"multiIntentPredictions\": null\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/46a51b73-64e1-47d1-b2a3-2eb4d8665e7c?force=false",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "507dfc3e5c29448e98fad6046cdee451"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}