{
  "Entries": [
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"culture\": \"en-us\",\r\n  \"domain\": \"Comics\",\r\n  \"description\": \"New LUIS App\",\r\n  \"usageScenario\": \"IoT\",\r\n  \"name\": \"Examples Test App\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "507dfc3e5c29448e98fad6046cdee451"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/authoring/v3.0-preview/apps/2f63e121-0315-4fb7-a8be-935507a39d78"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/authoring/v3.0-preview/apps/2f63e121-0315-4fb7-a8be-935507a39d78"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"2f63e121-0315-4fb7-a8be-935507a39d78\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/2f63e121-0315-4fb7-a8be-935507a39d78/versions/0.1/intents",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"WeatherInPlace\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "507dfc3e5c29448e98fad6046cdee451"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/authoring/v3.0-preview/apps/2f63e121-0315-4fb7-a8be-935507a39d78/versions/0.1/intents/4ff28c78-3603-4026-9f3e-4cbd328eb83f"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/authoring/v3.0-preview/apps/2f63e121-0315-4fb7-a8be-935507a39d78/versions/0.1/intents/4ff28c78-3603-4026-9f3e-4cbd328eb83f"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"4ff28c78-3603-4026-9f3e-4cbd328eb83f\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/2f63e121-0315-4fb7-a8be-935507a39d78/versions/0.1/entities",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"Place\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "507dfc3e5c29448e98fad6046cdee451"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/authoring/v3.0-preview/apps/2f63e121-0315-4fb7-a8be-935507a39d78/versions/0.1/entities/7e8d1102-4ab3-4d44-91c0-2eb4ac501d0c"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/authoring/v3.0-preview/apps/2f63e121-0315-4fb7-a8be-935507a39d78/versions/0.1/entities/7e8d1102-4ab3-4d44-91c0-2eb4ac501d0c"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"7e8d1102-4ab3-4d44-91c0-2eb4ac501d0c\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/2f63e121-0315-4fb7-a8be-935507a39d78/versions/0.1/examples?enableNestedChildren=false",
      "RequestMethod": "POST",
      "RequestBody": "[\r\n  {\r\n    \"text\": \"whats the weather in seattle?\",\r\n    \"entityLabels\": [\r\n      {\r\n        \"entityName\": \"Place\",\r\n        \"startCharIndex\": 21,\r\n        \"endCharIndex\": 29\r\n      }\r\n    ],\r\n    \"intentName\": \"WeatherInPlace\"\r\n  },\r\n  {\r\n    \"text\": \"whats the weather in buenos aires?\",\r\n    \"entityLabels\": [\r\n      {\r\n        \"entityName\": \"Place\",\r\n        \"startCharIndex\": 21,\r\n        \"endCharIndex\": 34\r\n      }\r\n    ],\r\n    \"intentName\": \"WeatherInPlace\"\r\n  }\r\n]",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "507dfc3e5c29448e98fad6046cdee451"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"value\": {\r\n      \"ExampleId\": 1103647887,\r\n      \"UtteranceText\": \"whats the weather in seattle?\"\r\n    },\r\n    \"hasError\": false\r\n  },\r\n  {\r\n    \"value\": {\r\n      \"ExampleId\": 1103647888,\r\n      \"UtteranceText\": \"whats the weather in buenos aires?\"\r\n    },\r\n    \"hasError\": false\r\n  }\r\n]",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/2f63e121-0315-4fb7-a8be-935507a39d78?force=false",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "507dfc3e5c29448e98fad6046cdee451"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}