{
  "Entries": [
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"culture\": \"en-us\",\r\n  \"domain\": \"Comics\",\r\n  \"description\": \"New LUIS App\",\r\n  \"usageScenario\": \"IoT\",\r\n  \"name\": \"Examples Test App\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/616e79c5-4c0b-4e41-a841-0f8e1237e61d"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/616e79c5-4c0b-4e41-a841-0f8e1237e61d"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"616e79c5-4c0b-4e41-a841-0f8e1237e61d\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/616e79c5-4c0b-4e41-a841-0f8e1237e61d/versions/0.1/intents",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"WeatherInPlace\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/616e79c5-4c0b-4e41-a841-0f8e1237e61d/versions/0.1/intents/cc5d49f9-175f-46f8-97a5-da526d70e431"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/616e79c5-4c0b-4e41-a841-0f8e1237e61d/versions/0.1/intents/cc5d49f9-175f-46f8-97a5-da526d70e431"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"cc5d49f9-175f-46f8-97a5-da526d70e431\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/616e79c5-4c0b-4e41-a841-0f8e1237e61d/versions/0.1/entities",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"Place\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/616e79c5-4c0b-4e41-a841-0f8e1237e61d/versions/0.1/entities/afcd5f99-8a64-4d19-bf71-4d4f590bd411"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/616e79c5-4c0b-4e41-a841-0f8e1237e61d/versions/0.1/entities/afcd5f99-8a64-4d19-bf71-4d4f590bd411"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"afcd5f99-8a64-4d19-bf71-4d4f590bd411\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/616e79c5-4c0b-4e41-a841-0f8e1237e61d/versions/0.1/examples",
      "RequestMethod": "POST",
      "RequestBody": "[\r\n  {\r\n    \"text\": \"whats the weather in seattle?\",\r\n    \"entityLabels\": [\r\n      {\r\n        \"entityName\": \"Place\",\r\n        \"startCharIndex\": 21,\r\n        \"endCharIndex\": 29\r\n      }\r\n    ],\r\n    \"intentName\": \"WeatherInPlace\"\r\n  },\r\n  {\r\n    \"text\": \"whats the weather in buenos aires?\",\r\n    \"entityLabels\": [\r\n      {\r\n        \"entityName\": \"Place\",\r\n        \"startCharIndex\": 21,\r\n        \"endCharIndex\": 34\r\n      }\r\n    ],\r\n    \"intentName\": \"WeatherInPlace\"\r\n  }\r\n]",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"value\": {\r\n      \"ExampleId\": 650505999,\r\n      \"UtteranceText\": \"whats the weather in seattle?\"\r\n    },\r\n    \"hasError\": false\r\n  },\r\n  {\r\n    \"value\": {\r\n      \"ExampleId\": 650506000,\r\n      \"UtteranceText\": \"whats the weather in buenos aires?\"\r\n    },\r\n    \"hasError\": false\r\n  }\r\n]",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/616e79c5-4c0b-4e41-a841-0f8e1237e61d?force=false",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}