{
  "Entries": [
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/examples?skip=0&take=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": 648305186,\r\n    \"text\": \"will you cancel it please\",\r\n    \"intentLabel\": \"None\",\r\n    \"tokenizedText\": [\r\n      \"will\",\r\n      \"you\",\r\n      \"cancel\",\r\n      \"it\",\r\n      \"please\"\r\n    ],\r\n    \"entityLabels\": [],\r\n    \"intentPredictions\": [\r\n      {\r\n        \"name\": \"None\",\r\n        \"score\": 0.9945271\r\n      },\r\n      {\r\n        \"name\": \"Calendar.AcceptEventEntry\",\r\n        \"score\": 0.0165792368\r\n      },\r\n      {\r\n        \"name\": \"Communication.AddContact\",\r\n        \"score\": 0.00547824148\r\n      }\r\n    ],\r\n    \"entityPredictions\": [],\r\n    \"multiIntentPredictions\": null\r\n  },\r\n  {\r\n    \"id\": 648305185,\r\n    \"text\": \"stop finding it\",\r\n    \"intentLabel\": \"None\",\r\n    \"tokenizedText\": [\r\n      \"stop\",\r\n      \"finding\",\r\n      \"it\"\r\n    ],\r\n    \"entityLabels\": [],\r\n    \"intentPredictions\": [\r\n      {\r\n        \"name\": \"None\",\r\n        \"score\": 0.9981542\r\n      },\r\n      {\r\n        \"name\": \"Communication.AddContact\",\r\n        \"score\": 0.008028806\r\n      },\r\n      {\r\n        \"name\":[...]
