{
  "Entries": [
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/57145764-300b-4640-a4ed-0289ad085e05/versions/0.1/examples?skip=0&take=100&enableNestedChildren=false",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "507dfc3e5c29448e98fad6046cdee451"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": 1099329837,\r\n    \"text\": \"will you cancel it please\",\r\n    \"intentLabel\": \"None\",\r\n    \"tokenizedText\": [\r\n      \"will\",\r\n      \"you\",\r\n      \"cancel\",\r\n      \"it\",\r\n      \"please\"\r\n    ],\r\n    \"entityLabels\": [],\r\n    \"intentPredictions\": [\r\n      {\r\n        \"name\": \"None\",\r\n        \"score\": 0.999811649\r\n      }\r\n    ],\r\n    \"entityPredictions\": [],\r\n    \"multiIntentPredictions\": null\r\n  },\r\n  {\r\n    \"id\": 1099329836,\r\n    \"text\": \"stop finding it\",\r\n    \"intentLabel\": \"None\",\r\n    \"tokenizedText\": [\r\n      \"stop\",\r\n      \"finding\",\r\n      \"it\"\r\n    ],\r\n    \"entityLabels\": [],\r\n    \"intentPredictions\": [\r\n      {\r\n        \"name\": \"None\",\r\n        \"score\": 0.9997792\r\n      }\r\n    ],\r\n    \"entityPredictions\": [],\r\n    \"multiIntentPredictions\": null\r\n  },\r\n  {\r\n    \"id\": 1099329835,\r\n    \"text[...]
