{
  "Entries": [
    {
      "RequestUri": "//subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricDefinitions?api-version=2018-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/CpuTime\",\r\n      \"resourceId\": \"/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest\",\r\n      \"namespace\": \"Microsoft.Web/sites\",\r\n      \"name\": {\r\n        \"value\": \"CpuTime\",\r\n        \"localizedValue\": \"CPU Time\"\r\n      },\r\n      \"isDimensionRequired\": false,\r\n      \"unit\": \"Seconds\",\r\n      \"primaryAggregationType\": \"Total\",\r\n      \"supportedAggregationTypes\": [\r\n        \"None\",\r\n        \"Average\",\r\n        \"Minimum\",\r\n        \"Maximum\",\r\n        \"Total\",\r\n        \"Count\"\r\n      ],\r\n      \"metricAvailabilities\": [\r\n        {\r\n          \"timeGrain\": \"PT1M\",\r\n          \"retention\": \"P93D\"\r\n        },\r\n        {\r\n          \"timeGrain\": \"PT5M\",\r\n          \"retention\": \"P93D\"\r\n        },\r\n        {\r\n          \"timeGrain\": \"PT15M\",\r\n          \"retention\": \"P93D\"\r\n        },\r\n        {\r\n          \"timeGrain\": \"PT30M\",\r\n          \"retention\": \"P93D\"\r\n        },\r\n        {\r\n          \"timeGrain\": \"PT1H\",\r\n          \"retention\": \"P93D\"\r\n        },\r\n        {\r\n          \"timeGrain\": \"PT6H\",\r\n          \"retention\": \"P93D\"\r\n        },\r\n        {\r\n          \"timeGrain\": \"PT12H\",\r\n          \"retention\": \"P93D\"\r\n        },\r\n        {\r\n          \"timeGrain\": \"P1D\",\r\n          \"retention\": \"P93D\"\r\n        }\r\n      ],\r\n      \"dimensions\": [\r\n        {\r\n          \"value\": \"Instance\",\r\n          \"localizedValue\": \"Instance\"\r\n        }\r\n      ]\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metricdefinitions/Requests\",\r\n      \"resourceId\": \"/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTes[...]
    {
      "RequestUri": "/subscriptions/56bb45c9-5c14-4914-885e-c6fd6f130f7c/resourceGroups/contoso-data/providers/Microsoft.Storage/storageAccounts/contosodatadiag1/providers/microsoft.insights/metricDefinitions?api-version=2018-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/56bb45c9-5c14-4914-885e-c6fd6f130f7c/resourceGroups/contoso-data/providers/Microsoft.Storage/storageAccounts/contosodatadiag1/providers/microsoft.insights/metricdefinitions/UsedCapacity\",\r\n      \"resourceId\": \"/subscriptions/56bb45c9-5c14-4914-885e-c6fd6f130f7c/resourceGroups/contoso-data/providers/Microsoft.Storage/storageAccounts/contosodatadiag1\",\r\n      \"namespace\": \"Microsoft.Storage/storageAccounts\",\r\n      \"category\": \"Capacity\",\r\n      \"name\": {\r\n        \"value\": \"UsedCapacity\",\r\n        \"localizedValue\": \"Used capacity\"\r\n      },\r\n      \"isDimensionRequired\": false,\r\n      \"unit\": \"Bytes\",\r\n      \"primaryAggregationType\": \"Average\",\r\n      \"supportedAggregationTypes\": [\r\n        \"Total\",\r\n        \"Average\",\r\n        \"Minimum\",\r\n        \"Maximum\"\r\n      ],\r\n      \"metricAvailabilities\": [\r\n        {\r\n          \"timeGrain\": \"PT1H\",\r\n    [...]
