{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 18:40:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableHvAYi8tM"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-12-29T18%3A40%3A08.2074632Z\u0027\u0022",
        "Location": "https://pakrymtables3prim.table.cosmos.azure.com/Tables(\u0027testtableHvAYi8tM\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtableHvAYi8tM",
        "odata.metadata": "https://pakrymtables3prim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/Tables(\u0027testtableHvAYi8tM\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Dec 2021 18:40:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "1502742241",
    "TABLES_COSMOS_ACCOUNT_NAME": "pakrymtables3prim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
