{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch2685/providers/Microsoft.Batch/batchAccounts/testaccount3033?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "autoStorage": {
            "storageAccountId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch2685/providers/Microsoft.Storage/storageAccounts/azstorageforbatch5084"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch2685/providers/Microsoft.Batch/batchAccounts/testaccount3033/operationResults/7468b182-96f5-4a1d-a1fe-7968ac4d4a20?api-version=2022-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch2685/providers/Microsoft.Batch/batchAccounts/testaccount3033/operationResults/7468b182-96f5-4a1d-a1fe-7968ac4d4a20?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch2685/providers/Microsoft.Batch/batchAccounts/testaccount3033/operationResults/7468b182-96f5-4a1d-a1fe-7968ac4d4a20?api-version=2022-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch2685/providers/Microsoft.Batch/batchAccounts/testaccount3033/operationResults/7468b182-96f5-4a1d-a1fe-7968ac4d4a20?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220x8DAD34BBEDA0BEF\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 03:25:50 GMT",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch2685/providers/Microsoft.Batch/batchAccounts/testaccount3033",
        "name": "testaccount3033",
        "type": "Microsoft.Batch/batchAccounts",
        "location": "westus",
        "properties": {
          "accountEndpoint": "testaccount3033.westus.batch.azure.com",
          "nodeManagementEndpoint": "3abc1ef7-46c7-4c1a-bca2-caed3c4242d7.westus.service.batch.azure.com",
          "provisioningState": "Succeeded",
          "dedicatedCoreQuota": 0,
          "dedicatedCoreQuotaPerVMFamily": [
            {
              "name": "standardAv2Family",
              "coreQuota": 0
            },
            {
              "name": "standardDv2Family",
              "coreQuota": 0
            },
            {
              "name": "standardDv3Family",
              "coreQuota": 0
            },
            {
              "name": "standardEv3Family",
              "coreQuota": 0
            },
            {
              "name": "standardDSv2Family",
              "coreQuota": 0
            },
            {
              "name": "standardDSv3Family",
              "core[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch2685/providers/Microsoft.Batch/batchAccounts/testaccount3033/pools/testPool-6817?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "test_pool",
          "vmSize": "small",
          "deploymentConfiguration": {
            "cloudServiceConfiguration": {
              "osFamily": "2"
            }
          },
          "scaleSettings": {
            "fixedScale": {
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0
            }
          },
          "startTask": {
            "commandLine": "cmd.exe /c \u0022echo hello world\u0022",
            "resourceFiles": [
              {
                "httpUrl": "https://blobsource.com/",
                "filePath": "filename.txt",
                "identityReference": {
                  "resourceId": "refUserId123"
                }
              }
            ],
            "environmentSettings": [
              {
                "name": "ENV_VAR",
                "value": "env_value"
              }
            ],
            "userIdentity": {
              "autoUser": {
                "elevationLevel": "Admin"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220x8DAD34BBF475864\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 03:25:51 GMT",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch2685/providers/Microsoft.Batch/batchAccounts/testaccount3033/pools/testPool-6817",
        "name": "testPool-6817",
        "type": "Microsoft.Batch/batchAccounts/pools",
        "etag": "W/\u00220x8DAD34BBF475864\u0022",
        "properties": {
          "displayName": "test_pool",
          "lastModified": "2022-12-01T03:25:51.1478372Z",
          "creationTime": "2022-12-01T03:25:51.1478372Z",
          "provisioningState": "Succeeded",
          "provisioningStateTransitionTime": "2022-12-01T03:25:51.1478372Z",
          "allocationState": "Resizing",
          "allocationStateTransitionTime": "2022-12-01T03:25:51.1478372Z",
          "vmSize": "Small",
          "interNodeCommunication": "Disabled",
          "taskSlotsPerNode": 1,
          "taskSchedulingPolicy": {
            "nodeFillType": "Spread"
          },
          "deploymentConfiguration": {
            "cloudServiceConfiguration": {
              "osFamily": "2",
              "osVersion": "*"
            }
          },
          "scaleSettings": {
            "fixedScale": {
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0,
              "resizeTimeout": "PT15M"
            }
          },
          "startTask": {
            "commandLine": "cmd.exe /c \u0022echo hello world\u0022",
            "resourceFiles": [
              {
                "filePath": "filename.txt",
                "httpUrl": "https://blobsource.com/",
                "identityReference": {
                  "resourceId": "refUserId123"
                }
              }
            ],
            "environmentSettings": [
              {
                "name": "ENV_VAR",
                "value": "env_value"
              }
            ],
            "userIdentity": {
              "autoUser": {
                "scope": "Pool",
                "elevationLevel": "Admin"
              }
            },
            "maxTaskRetryCount": 0,
            "waitForSuccess": true
          },
          "resizeOperationStatus": {
            "targetDedicatedNodes": 0,
            "nodeDeallocationOption": "Requeue",
            "resizeTimeout": "PT15M",
            "startTime": "2022-12-01T03:25:51.1478372Z"
          },
          "currentDedicatedNodes": 0,
          "currentLowPriorityNodes": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch2685/providers/Microsoft.Batch/batchAccounts/testaccount3033/poolOperationResults/delete-testPool-6817?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2010237502",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
