{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/264e9200-2944-4334-9a02-721e6268b55f?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "id": "/subscriptions/264e9200-2944-4334-9a02-721e6268b55f",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS15767759": "20230530",
          "NRMS14293353": "20221028"
        },
        "subscriptionId": "264e9200-2944-4334-9a02-721e6268b55f",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "EnS-Velma-Fengy-NonProd",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourcegroups/testRg4886?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg4886",
        "name": "testRg4886",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg4886/providers/Microsoft.IoTFirmwareDefense/workspaces/resource9810?api-version=2023-02-08-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227300d1a5-0000-0100-0000-646d05d00000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg4886/providers/Microsoft.IoTFirmwareDefense/workspaces/resource9810",
        "name": "resource9810",
        "type": "microsoft.iotfirmwaredefense/workspaces",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "7b16e1fa-ea98-4de3-bf0e-c580630393bd",
          "createdByType": "Application",
          "createdAt": "2023-05-23T18:28:32.0811652Z",
          "lastModifiedBy": "7b16e1fa-ea98-4de3-bf0e-c580630393bd",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-23T18:28:32.0811652Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg4886/providers/Microsoft.IoTFirmwareDefense/workspaces/resource9810?api-version=2023-02-08-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227300d1a5-0000-0100-0000-646d05d00000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg4886/providers/Microsoft.IoTFirmwareDefense/workspaces/resource9810",
        "name": "resource9810",
        "type": "microsoft.iotfirmwaredefense/workspaces",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "7b16e1fa-ea98-4de3-bf0e-c580630393bd",
          "createdByType": "Application",
          "createdAt": "2023-05-23T18:28:32.0811652Z",
          "lastModifiedBy": "7b16e1fa-ea98-4de3-bf0e-c580630393bd",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-23T18:28:32.0811652Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "518050498",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "264e9200-2944-4334-9a02-721e6268b55f"
  }
}
