{
  "Entries": [
    {
      "RequestUri": "/v1/workspaces/DEMO_WORKSPACE/query",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"query\": \"set truncationmaxrecords=1; Perf\",\r\n  \"timespan\": \"PT1H\"\r\n}",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"tables\": [\r\n    {\r\n      \"name\": \"PrimaryResult\",\r\n      \"columns\": [\r\n        {\r\n          \"name\": \"TenantId\",\r\n          \"type\": \"string\"\r\n        },\r\n        {\r\n          \"name\": \"Computer\",\r\n          \"type\": \"string\"\r\n        },\r\n        {\r\n          \"name\": \"ObjectName\",\r\n          \"type\": \"string\"\r\n        },\r\n        {\r\n          \"name\": \"CounterName\",\r\n          \"type\": \"string\"\r\n        },\r\n        {\r\n          \"name\": \"InstanceName\",\r\n          \"type\": \"string\"\r\n        },\r\n        {\r\n          \"name\": \"Min\",\r\n          \"type\": \"rea[...]
