{
  "Entries": [
    {
      "RequestUri": "/subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/smartGroups/720dd30b-ed61-446b-bcd3-cf1793236916/changeState?api-version=2018-05-05&newState=Closed",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"alertsCount\": 6,\r\n    \"smartGroupState\": \"Closed\",\r\n    \"severity\": \"Sev3\",\r\n    \"startDateTime\": \"2019-05-23T18:25:23.2296295Z\",\r\n    \"lastModifiedDateTime\": \"2019-05-24T05:57:45.5499728Z\",\r\n    \"lastAlertAddedDateTime\": \"2019-05-23T19:53:29.9419822Z\",\r\n    \"lastModifiedUserName\": \"User\",\r\n    \"resources\": [\r\n      {\r\n        \"name\": \"/subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertslab/providers/microsoft.apimanagement/service/aig-test\",\r\n        \"count\": 6\r\n      }\r\n    ],\r\n    \"resourceTypes\": [\r\n      {\r\n        \"name\": \"microsoft.apimanagement/service\",\r\n        \"count\": 6\r\n      }\r\n    ],\r\n    \"resourceGroups\": [\r\n      {\r\n        \"name\": \"alertslab\",\r\n        \"count\": 6\r\n      }\r\n    ],\r\n    \"monitorSources\": [\r\n      {\r\n        \"name\": \"Platform\",\r\n        \"count\": 6\r\n      }\r\n    ],\r\n    \"monitorConditions\": [\r\n      {\r\n        \"name\": \"Resolved\",\r\n        \"count\": 6\r\n      }\r\n    ],\r\n    \"alertStates\": [\r\n      {\r\n        \"name\": \"New\",\r\n        \"count\": 6\r\n      }\r\n    ],\r\n    \"alertSeverities\": [\r\n      {\r\n        \"name\": \"Sev3\",\r\n        \"count\": 6\r\n      }\r\n    ]\r\n  },\r\n  \"id\": \"/subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/smartGroups/720dd30b-ed61-446b-bcd3-cf1793236916\",\r\n  \"type\": \"Microsoft.AlertsManagement/smartGroups\",\r\n  \"name\": \"Processing Latency high\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "dd91de05-d791-4ceb-b6dc-988682dc7d72"
  }
}