{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/dbaccount-6566?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566",
        "name": "dbaccount-6566",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-2985?api-version=2022-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11973"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-2985",
        "name": "dbaccount-2985",
        "location": "West US 2",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "MongoDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "systemData": {
          "createdAt": "2023-05-09T03:05:12.7597922Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "documentEndpoint": "https://dbaccount-2985.documents.azure.com:443/",
          "sqlEndpoint": "https://dbaccount-2985.documents.azure.com:443/",
          "mongoEndpoint": "https://dbaccount-2985.mongo.cosmos.azure.com:443/",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": true,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "MongoDB",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "FullFidelity"
          },
          "instanceId": "d00c4382-c35c-4db3-897c-5a9e60872cfe",
          "databaseAccountOfferType": "Standard",
          "enableMaterializedViews": false,
          "defaultIdentity": "FirstPartyIdentity",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "enablePartitionMerge": false,
          "enableBurstCapacity": false,
          "minimalTlsVersion": "Tls12",
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxIntervalInSeconds": 1000,
            "maxStalenessPrefix": 300
          },
          "apiProperties": {
            "serverVersion": "3.6"
          },
          "configurationOverrides": {
            "EnableBsonSchema": "True"
          },
          "writeLocations": [
            {
              "id": "dbaccount-2985-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-2985-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "dbaccount-2985-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-2985-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "locations": [
            {
              "id": "dbaccount-2985-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-2985-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "failoverPolicies": [
            {
              "id": "dbaccount-2985-westus",
              "locationName": "West US",
              "failoverPriority": 0
            }
          ],
          "cors": [],
          "capabilities": [
            {
              "name": "EnableMongo"
            }
          ],
          "ipRules": [
            {
              "ipAddressOrRange": "23.43.230.120"
            }
          ],
          "backupPolicy": {
            "type": "Periodic",
            "periodicModeProperties": {
              "backupIntervalInMinutes": 240,
              "backupRetentionIntervalInHours": 8,
              "backupStorageRedundancy": "Geo"
            }
          },
          "networkAclBypassResourceIds": [],
          "diagnosticLogSettings": {
            "enableFullTextQuery": "None"
          },
          "keysMetadata": {
            "primaryMasterKey": {
              "generationTime": "2023-05-09T03:05:12.7597922Z"
            },
            "secondaryMasterKey": {
              "generationTime": "2023-05-09T03:05:12.7597922Z"
            },
            "primaryReadonlyMasterKey": {
              "generationTime": "2023-05-09T03:05:12.7597922Z"
            },
            "secondaryReadonlyMasterKey": {
              "generationTime": "2023-05-09T03:05:12.7597922Z"
            }
          }
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.Network/virtualNetworks/vnet-9269?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "default",
              "properties": {
                "addressPrefix": "10.0.1.0/24",
                "privateEndpointNetworkPolicies": "Disabled"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus/operations/a9da8559-af14-48b4-869c-a8c9d7ebc143?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "name": "vnet-9269",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.Network/virtualNetworks/vnet-9269",
        "etag": "W/\u0022cf761ea6-dc02-4300-801f-bbf14bfe541a\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "westus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "a95777f5-4c52-4a09-93e7-65f7278d66d6",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "default",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.Network/virtualNetworks/vnet-9269/subnets/default",
              "etag": "W/\u0022cf761ea6-dc02-4300-801f-bbf14bfe541a\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.1.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus/operations/a9da8559-af14-48b4-869c-a8c9d7ebc143?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.Network/virtualNetworks/vnet-9269?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002205d4edb9-bcbe-497c-9672-b7d8ddc9be60\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11971"
      },
      "ResponseBody": {
        "name": "vnet-9269",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.Network/virtualNetworks/vnet-9269",
        "etag": "W/\u002205d4edb9-bcbe-497c-9672-b7d8ddc9be60\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "westus",
        "prope[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.Network/privateEndpoints/pe-1309?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "subnet": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.Network/virtualNetworks/vnet-9269/subnets/default",
            "properties": {}
          },
          "manualPrivateLinkServiceConnections": [
            {
              "name": "pec5368",
              "properties": {
                "privateLinkServiceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-2985",
                "groupIds": [
                  "MongoDB"
                ],
                "requestMessage": "SDK test"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus/operations/fcffb8fe-53ab-4cd9-89d6-b7099d9f21b4?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "name": "pe-1309",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.Network/privateEndpoints/pe-1309",
        "etag": "W/\u00227e9217e8-5bf4-4675-8e4d-5f853eddffc3\u0022",
        "type": "Microsoft.Network/privateEndpoints",
        "location": "westus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "bdd4fca8-5f42-4d85-9a54-4238de46ff1f",
          "privateLinkServiceConnections": [],
          "manualPrivateLinkServiceConnections": [
            {
              "name": "pec5368",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.Network/privateEndpoints/pe-1309/manualPrivateLinkServiceConnections/pec5368",
              "etag": "W/\u00227e9217e8-5bf4-4675-8e4d-5f853eddffc3\u0022",
              "properties": {
                "provisioningState": "Succeeded",
                "privateLinkServiceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-2985",
                "groupIds": [
                  "MongoDB"
                ],
                "requestMessage": "SDK test",
                "privateLinkServiceConnectionState": {
                  "status": "Pending",
                  "description": "SDK test",
                  "actionsRequired": "None"
                }
              },
              "type": "Microsoft.Network/privateEndpoints/manualPrivateLinkServiceConnections"
            }
          ],
          "subnet": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.Network/virtualNetworks/vnet-9269/subnets/default"
          },
          "networkInterfaces": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.Network/networkInterfaces/pe-1309.nic.925f54af-d8eb-4e24-af2a-173d2dfcda40"
            }
          ],
          "customDnsConfigs": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-2985/privateEndpointConnections?api-version=2022-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11965"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "pe-1309",
            "type": "Microsoft.DocumentDB/databaseAccounts/privateEndpointConnections",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-2985/privateEndpointConnections/pe-1309",
            "properties": {
              "provisioningState": "Succeeded",
              "groupId": "MongoDB",
              "privateEndpoint": {
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.Network/privateEndpoints/pe-1309"
              },
              "privateLinkServiceConnectionState": {
                "status": "Pending",
                "description": "SDK test",
                "actionsRequired": "None"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-2985/privateEndpointConnections/pe-1309?api-version=2022-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11964"
      },
      "ResponseBody": {
        "name": "pe-1309",
        "type": "Microsoft.DocumentDB/databaseAccounts/privateEndpointConnections",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-2985/privateEndpointConnections/pe-1309",
        "properties": {
          "provisioningState": "Succeeded",
          "groupId": "MongoDB",
          "privateEndpoint": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.Network/privateEndpoints/pe-1309"
          },
          "privateLinkServiceConnectionState": {
            "status": "Pending",
            "description": "SDK test",
            "actionsRequired": "None"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-2985/privateEndpointConnections/pe-1309?api-version=2022-11-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/0075a659-d165-4c1b-9dc1-b37b9b475f20?api-version=2022-11-15-preview",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-2985/privateEndpointConnections/pe-1309/operationResults/0075a659-d165-4c1b-9dc1-b37b9b475f20?api-version=2022-11-15-preview",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/0075a659-d165-4c1b-9dc1-b37b9b475f20?api-version=2022-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11963"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-2985/privateEndpointConnections/pe-1309?api-version=2022-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "code": "NotFound",
        "message": "Private endpoint connection \u0027pe-1309\u0027 is not found\r\nActivityId: 2f59f319-96ab-b6dd-57db-58f462a6666c, Microsoft.Azure.Documents.Common/2.14.0"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-6566/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-2985/privateEndpointConnections?api-version=2022-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "907162087",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
