{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/dbaccount-7528?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11855"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528",
        "name": "dbaccount-7528",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9757?api-version=2022-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11854"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9757",
        "name": "dbaccount-9757",
        "location": "West US 2",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "MongoDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "systemData": {
          "createdAt": "2022-07-06T16:40:15.4107129Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "documentEndpoint": "https://dbaccount-9757.documents.azure.com:443/",
          "mongoEndpoint": "https://dbaccount-9757.mongo.cosmos.azure.com:443/",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": true,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "MongoDB",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "FullFidelity"
          },
          "instanceId": "30232526-fd94-4ee0-a580-cc4b76b844d9",
          "databaseAccountOfferType": "Standard",
          "defaultIdentity": "FirstPartyIdentity",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxIntervalInSeconds": 1000,
            "maxStalenessPrefix": 300
          },
          "apiProperties": {
            "serverVersion": "3.6"
          },
          "configurationOverrides": {
            "EnableBsonSchema": "True"
          },
          "writeLocations": [
            {
              "id": "dbaccount-9757-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-9757-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "dbaccount-9757-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-9757-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "locations": [
            {
              "id": "dbaccount-9757-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-9757-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "failoverPolicies": [
            {
              "id": "dbaccount-9757-westus",
              "locationName": "West US",
              "failoverPriority": 0
            }
          ],
          "cors": [],
          "capabilities": [
            {
              "name": "EnableMongo"
            }
          ],
          "ipRules": [
            {
              "ipAddressOrRange": "23.43.230.120"
            }
          ],
          "backupPolicy": {
            "type": "Periodic",
            "periodicModeProperties": {
              "backupIntervalInMinutes": 240,
              "backupRetentionIntervalInHours": 8,
              "backupStorageRedundancy": "Geo"
            }
          },
          "networkAclBypassResourceIds": []
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.Network/virtualNetworks/vnet-1645?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "default",
              "properties": {
                "addressPrefix": "10.0.1.0/24",
                "privateEndpointNetworkPolicies": "Disabled"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "azure-asyncoperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus/operations/66fe9d83-d7a0-46ba-8dbd-5211e581a2bb?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "name": "vnet-1645",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.Network/virtualNetworks/vnet-1645",
        "etag": "W/\u00227d87be8e-c54f-4803-8385-c6b2c476669d\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "westus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "dd78f052-ddb3-4f50-809e-e0bb1cd2b88d",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "default",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.Network/virtualNetworks/vnet-1645/subnets/default",
              "etag": "W/\u00227d87be8e-c54f-4803-8385-c6b2c476669d\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.1.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus/operations/66fe9d83-d7a0-46ba-8dbd-5211e581a2bb?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11853"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.Network/virtualNetworks/vnet-1645?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022a08c5500-2665-4ebf-acb5-9e25c5692b6c\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11852"
      },
      "ResponseBody": {
        "name": "vnet-1645",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.Network/virtualNetworks/vnet-1645",
        "etag": "W/\u0022a08c5500-2665-4ebf-acb5-9e25c5692b6c\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "westus",
        "prope[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.Network/privateEndpoints/pe-2579?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "subnet": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.Network/virtualNetworks/vnet-1645/subnets/default",
            "name": "default",
            "type": "Microsoft.Network/virtualNetworks/subnets",
            "properties": {
              "addressPrefix": "10.0.1.0/24",
              "delegations": [],
              "privateEndpointNetworkPolicies": "Disabled",
              "privateLinkServiceNetworkPolicies": "Enabled"
            }
          },
          "manualPrivateLinkServiceConnections": [
            {
              "name": "pec9296",
              "properties": {
                "privateLinkServiceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9757",
                "groupIds": [
                  "MongoDB"
                ],
                "requestMessage": "SDK test"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "azure-asyncoperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus/operations/7736240d-f80c-444f-b872-f2b9a25eeeeb?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "name": "pe-2579",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.Network/privateEndpoints/pe-2579",
        "etag": "W/\u0022b0501ac0-ded9-44d4-ad44-cf8403714803\u0022",
        "type": "Microsoft.Network/privateEndpoints",
        "location": "westus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "b18ceaa8-f013-4639-8dc0-5af36d245a21",
          "privateLinkServiceConnections": [],
          "manualPrivateLinkServiceConnections": [
            {
              "name": "pec9296",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.Network/privateEndpoints/pe-2579/manualPrivateLinkServiceConnections/pec9296",
              "etag": "W/\u0022b0501ac0-ded9-44d4-ad44-cf8403714803\u0022",
              "properties": {
                "provisioningState": "Succeeded",
                "privateLinkServiceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9757",
                "groupIds": [
                  "MongoDB"
                ],
                "requestMessage": "SDK test",
                "privateLinkServiceConnectionState": {
                  "status": "Pending",
                  "description": "SDK test",
                  "actionsRequired": "None"
                }
              },
              "type": "Microsoft.Network/privateEndpoints/manualPrivateLinkServiceConnections"
            }
          ],
          "subnet": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.Network/virtualNetworks/vnet-1645/subnets/default"
          },
          "networkInterfaces": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.Network/networkInterfaces/pe-2579.nic.14041e9a-cf39-4184-9075-5fa94f034d1b"
            }
          ],
          "customDnsConfigs": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9757/privateEndpointConnections?api-version=2022-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11846"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "pe-2579",
            "type": "Microsoft.DocumentDB/databaseAccounts/privateEndpointConnections",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9757/privateEndpointConnections/pe-2579",
            "properties": {
              "provisioningState": "Succeeded",
              "groupId": "MongoDB",
              "privateEndpoint": {
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.Network/privateEndpoints/pe-2579"
              },
              "privateLinkServiceConnectionState": {
                "status": "Pending",
                "description": "SDK test",
                "actionsRequired": "None"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9757/privateEndpointConnections/pe-2579?api-version=2022-05-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/126e0e85-6a16-4576-958f-f2b8f1ce2024?api-version=2022-05-15",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7528/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9757/privateEndpointConnections/pe-2579/operationResults/126e0e85-6a16-4576-958f-f2b8f1ce2024?api-version=2022-05-15",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-deletes": "14993"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/126e0e85-6a16-4576-958f-f2b8f1ce2024?api-version=2022-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11844"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/126e0e85-6a16-4576-958f-f2b8f1ce2024?api-version=2022-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1388260478",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
