{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 06 Oct 2022 00:15:09 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "uC1X2/Q5tESN076YkKp1Xg.0",
        "X-Processing-Time": "100ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 06 Oct 2022 00:12:36 GMT",
        "Repeatability-Request-ID": "12345678-1234-4f65-8cec-b61cc24e646c",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 06 Oct 2022 00:15:09 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "identifier": {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "3a78d7ec-e54e-4b14-9406-eaafc95cf7b1"
      },
      "ResponseBody": {
        "callConnectionId": "411f3500-7189-46e1-81ce-0e4561a658af",
        "source": {
          "identifier": {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "mediaSubscriptionId": "9ad8599a-db47-49cb-baee-a3991d60bb65"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/411f3500-7189-46e1-81ce-0e4561a658af?api-version=2022-04-07-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 06 Oct 2022 00:15:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "3a78d7ec-e54e-4b14-9406-eaafc95cf7b1"
      },
      "ResponseBody": {
        "callConnectionId": "411f3500-7189-46e1-81ce-0e4561a658af",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVzZWEyLTAxLmNvbnYuc2t5cGUuY29tL2NvbnYvbGQwWEozb2dKVTYtMVhmVzN4MzBYZz9pPTE4JmU9NjM4MDA1OTEwOTI5NTYyOTgw",
        "source": {
          "identifier": {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connected",
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "mediaSubscriptionId": "9ad8599a-db47-49cb-baee-a3991d60bb65"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/411f3500-7189-46e1-81ce-0e4561a658af:terminate?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
        "RequestHeaders": {
            "Authorization": "Sanitized",
            "Repeatability-First-Sent": "Thu, 06 Oct 2022 00:13:17 GMT",
            "Repeatability-Request-ID": "95379a32-d0fa-450e-aa07-e16ef4357523",
            "x-ms-content-sha256": "Sanitized",
            "x-ms-date": "Thu, 06 Oct 2022 00:15:20 GMT"
        },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "3a78d7ec-e54e-4b14-9406-eaafc95cf7b1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/411f3500-7189-46e1-81ce-0e4561a658af?api-version=2022-04-07-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 06 Oct 2022 00:15:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "8a1b028d-e53f-4741-b444-bfb5533a3988"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found."
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://minwoolee-comm2.communication.azure.com/;accesskey=Kg==",
    "PMA_Endpoint": null,
    "RandomSeed": "1160517996",
    "TARGET_USER_ID": "8:acs:82e890fc-188a-4b67-bb7d-deff073d7d1e_0000000e-abbe-44ad-9f37-b0a72a616d0b"
  }
}
