{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 Sep 2022 21:51:55 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "kn\u002B/81syykCUwTpZ1zVmxQ.0",
        "X-Processing-Time": "50ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 Sep 2022 21:51:56 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "identifier": {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "mediaStreamingConfiguration": {
          "transportUrl": "wss://testwebsocket.webpubsub.azure.com/client/hubs/media?access_token=helloworld",
          "transportType": "websocket",
          "contentType": "audio",
          "audioChannelType": "mixed"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "4cff77a9-062d-4954-90a8-0ef3cb5d526c"
      },
      "ResponseBody": {
        "callConnectionId": "411f0b00-4d21-49bf-90b0-76f67c325d69",
        "source": {
          "identifier": {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "mediaSubscriptionId": "c745aedd-480a-4a04-bad7-109e2cc63985"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/411f0b00-4d21-49bf-90b0-76f67c325d69?api-version=2022-04-07-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 Sep 2022 21:52:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "4cff77a9-062d-4954-90a8-0ef3cb5d526c"
      },
      "ResponseBody": {
        "callConnectionId": "411f0b00-4d21-49bf-90b0-76f67c325d69",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVzZWEtMDEtc2RmLWFrcy5jb252LnNreXBlLmNvbS9jb252L2ZWTlFoRXF2REVPZ3B4b2tIck00Qnc/aT0xMC02MC0xMS0yMTkmZT02Mzc5OTIzODczNzM0NzA1MzQ=",
        "source": {
          "identifier": {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connected",
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "mediaSubscriptionId": "c745aedd-480a-4a04-bad7-109e2cc63985"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/411f0b00-4d21-49bf-90b0-76f67c325d69:terminate?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 Sep 2022 21:52:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "4cff77a9-062d-4954-90a8-0ef3cb5d526c"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/411f0b00-4d21-49bf-90b0-76f67c325d69?api-version=2022-04-07-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 Sep 2022 21:52:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "c4e41fe5-b0d4-4e9b-87b5-d9eb0e17f039"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found."
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://minwoolee-comm2.communication.azure.com/;accesskey=Kg==",
    "PMA_Endpoint": null,
    "RandomSeed": "185582095",
    "TARGET_USER_ID": "8:acs:82e890fc-188a-4b67-bb7d-deff073d7d1e_95a3d4a6-abbe-44ad-9f37-b0a72a616d0b"
  }
}
