<?xml version="1.0"?>
<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat Code Coverage" enabled="true">
                <Configuration>
                    <Format>cobertura</Format>
                    <ExcludeByAttribute>ExcludeFromCodeCoverageAttribute,GeneratedCodeAttribute,Obsolete</ExcludeByAttribute>
                    <Exclude>
                        <ModulePath>azure.communication.identity.*</ModulePath>
                        <ModulePath>Azure.Communication.Identity.*</ModulePath>
                        <ModulePath>.*Azure\.Communication\.Identity\.dll$</ModulePath>
                        <ModulePath>.*Azure.Communication.Identity.dll$</ModulePath>
                        <ModulePath>.*Azure.Communication.Identity.*</ModulePath>
                        <ModulePath>azure.communication.identity.*</ModulePath>
                        <!-- Add more ModulePath nodes here. -->

                        <Source>..\..\Azure.Communication.Identity\src\*</Source>
                        <Source>.*\\Azure.Communication.Identity\\src\\.*</Source>
                        <Function>^Azure.Communication.Identity\..*</Function>
                        <ModulePath>.*Azure.Communication.Identity.*</ModulePath>
                    </Exclude>
                    <IncludeTestAssembly>false</IncludeTestAssembly>
                    
                    <SingleHit>false</SingleHit>
                    <SkipAutoProps>true</SkipAutoProps>
                </Configuration>
            </DataCollector>
            <!-- Enable logging to diagnose test host failures -->
            <DataCollector friendlyName="blame" enabled="true" />
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>

