{
  "Entries": [
    {
      "RequestUri": "/subscriptions/28337c71-5911-4e75-8354-c4ac645e902d/resourceGroups/PatchStatusRg/providers/Microsoft.Compute/virtualMachines/testVmWindows/assessPatches?api-version=2020-12-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/28337c71-5911-4e75-8354-c4ac645e902d/providers/Microsoft.Compute/locations/southeastasia/operations/8e052bbb-a302-40e0-b390-1b54dd9f31f0?monitor=true&api-version=2020-12-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/28337c71-5911-4e75-8354-c4ac645e902d/providers/Microsoft.Compute/locations/southeastasia/operations/8e052bbb-a302-40e0-b390-1b54dd9f31f0?api-version=2020-12-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PatchOperation3Min;189,Microsoft.Compute/PatchOperation30Min;598"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/28337c71-5911-4e75-8354-c4ac645e902d/providers/Microsoft.Compute/locations/southeastasia/operations/8e052bbb-a302-40e0-b390-1b54dd9f31f0?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14998,Microsoft.Compute/GetOperation30Min;29989"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2021-02-05T18:10:58.0321712-08:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"8e052bbb-a302-40e0-b390-1b54dd9f31f0\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/28337c71-5911-4e75-8354-c4ac645e902d/providers/Microsoft.Compute/locations/southeastasia/operations/8e052bbb-a302-40e0-b390-1b54dd9f31f0?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14985,Microsoft.Compute/GetOperation30Min;29945"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11983"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2021-02-05T18:10:58.0321712-08:00\",\r\n  \"endTime\": \"2021-02-05T18:19:29.18398-08:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"properties\": {\r\n    \"output\": {\r\n      \"status\": \"Succeeded\",\r\n      \"assessmentActivityId\": \"8e052bbb-a302-40e0-b390-1b54dd9f31f0\",\r\n      \"rebootPending\": false,\r\n      \"criticalAndSecurityPatchCount\": 3,\r\n      \"otherPatchCount\": 2,\r\n      \"startDateTime\": \"2021-02-05T18:10:58.0478187-08:00\",\r\n      \"availablePatches\": [\r\n        {\r\n          \"patchId\": \"7392acaf-6a85-427c-8a8d-058c25beb0d6\",\r\n          \"name\": \"Cumulative Security Update for Internet Explorer 11 for Windows Server 2012 R2 (KB3185319)\",\r\n          \"kbId\": \"3185319\",\r\n          \"classifications\": [\r\n            \"Security\"\r\n          ],\r\n          \"rebootBehavior\": \"CanRequestReboot\",\r\n          \"publishedDate\": \"2016-09-12T17:00:00-07:00\",\r\n          \"activityId\": \"8e052bbb-a302-40e0-b390-1b54dd9f31f0\",\r\n          \"lastModifiedDateTime\": \"2021-02-05T18:18:56.3043631-08:00\",\r\n          \"assessmentState\": \"Available\"\r\n        },\r\n        {\r\n          \"patchId\": \"d1fe2427-174b-4b7b-ba04-69aa90060d12\",\r\n          \"name\": \"Microsoft .NET Framework 4.8 for Windows Server 2012 R2 for x64 (KB4486105)\",\r\n          \"kbId\": \"4486105\",\r\n          \"classifications\": [\r\n            \"FeaturePack\"\r\n          ],\r\n          \"rebootBehavior\": \"CanRequestReboot\",\r\n          \"publishedDate\": \"2020-01-13T16:00:00-08:00\",\r\n          \"activityId\": \"8e052bbb-a302-40e0[...]
    {
      "RequestUri": "/subscriptions/28337c71-5911-4e75-8354-c4ac645e902d/providers/Microsoft.Compute/locations/southeastasia/operations/8e052bbb-a302-40e0-b390-1b54dd9f31f0?monitor=true&api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14984,Microsoft.Compute/GetOperation30Min;29944"
        ],
        "x-ms[...]
