{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2",
        "authorizationSource": "Bypassed",
        "managedByTenants": [],
        "subscriptionId": "46841c0e-69c8-4b17-af46-6626ecb15fc2",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Avere_AscTIP1_Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-rdupuisstoragecache?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache",
        "name": "rg-rdupuisstoragecache",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "ServiceDirectory": "storagecache",
          "DeleteAfter": "2023-06-19T17:35:05.7616390Z",
          "Owners": "rdupuis"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.Network?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "2cf9eb86-36b5-49dc-86ae-9a63135dfa8c",
            "roleDefinitionId": "13ba9ab4-19f0-4804-adc4-14ece36cc7a1"
          },
          {
            "applicationId": "7c33bfcb-8d33-48d6-8e60-dc6404003489",
            "roleDefinitionId": "ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"
          },
          {
            "applicationId": "1e3e4475-288f-4018-a376-df66fd7fac5f",
            "roleDefinitionId": "1d538b69-3d87-4e56-8ff8-25786fd48261"
          },
          {
            "applicationId": "a0be0c72-870e-46f0-9c49-c98333a996f7",
            "roleDefinitionId": "7ce[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-4000?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "scTestSubnet-5450",
              "properties": {
                "addressPrefix": "10.0.0.0/16"
              }
            }
          ]
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.Network/locations/eastus/operations/f246361d-9ee8-4ada-9bc2-8db36ab0180d?api-version=2023-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "name": "scTestVNet-4000",
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-4000",
        "etag": "W/\u0022f96105c6-c1f9-4958-9db8-eab9f2d46798\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "77f9ad15-18dc-4e2e-952b-466af3a33a12",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "scTestSubnet-5450",
              "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-4000/subnets/scTestSubnet-5450",
              "etag": "W/\u0022f96105c6-c1f9-4958-9db8-eab9f2d46798\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.0.0/16",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.Network/locations/eastus/operations/f246361d-9ee8-4ada-9bc2-8db36ab0180d?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-4000?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022e49360d0-2275-4fd9-8924-baade8797f0a\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "name": "scTestVNet-4000",
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-4000",
        "etag": "W/\u0022e49360d0-2275-4fd9-8924-baade8797f0a\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eas[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc5199?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_2G"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "cacheSizeGB": 3072,
          "subnet": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-4000/subnets/scTestSubnet-5450",
          "zones": [
            "1"
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/135e0f6a-8ee9-4ee7-b807-525d71483e21?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateOrUpdateCache1Min;59",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "testsc5199",
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc5199",
        "type": "Microsoft.StorageCache/caches",
        "location": "eastus",
        "tags": {},
        "sku": {
          "name": "Standard_2G"
        },
        "properties": {
          "networkSettings": {
            "mtu": 1500,
            "ntpServer": "time.windows.com"
          },
          "securitySettings": {
            "accessPolicies": [
              {
                "name": "default",
                "accessRules": [
                  {
                    "scope": "default",
                    "access": "rw",
                    "suid": false,
                    "submountAccess": true,
                    "rootSquash": false
                  }
                ]
              }
            ]
          },
          "directoryServicesSettings": {},
          "zones": [
            "1"
          ],
          "cacheSizeGB": 3072,
          "health": {
            "state": "Transitioning",
            "statusDescription": "The cache is being allocated."
          },
          "provisioningState": "Creating",
          "subnet": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-4000/subnets/scTestSubnet-5450",
          "upgradeStatus": {
            "currentFirmwareVersion": "2023.04.2",
            "firmwareUpdateStatus": "unavailable",
            "firmwareUpdateDeadline": "0001-01-01T00:00:00Z",
            "lastFirmwareUpdate": "2023-06-16T02:19:39.933956Z",
            "pendingFirmwareVersion": ""
          },
          "upgradeSettings": {
            "upgradeScheduleEnabled": false,
            "scheduledTime": "0001-01-01T00:00:00Z"
          }
        },
        "systemData": {
          "createdBy": "31027db9-d339-4593-9b44-454cb0ee04b7",
          "createdByType": "Application",
          "createdAt": "2023-06-16T02:19:39.4336855Z",
          "lastModifiedBy": "31027db9-d339-4593-9b44-454cb0ee04b7",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-16T02:19:39.4336855Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/135e0f6a-8ee9-4ee7-b807-525d71483e21?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperationStatus1Min;233",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "startTime": "2023-06-16T02:19:39.4495471\u002B00:00",
        "status": "InProgress",
        "name": "135e0f6a-8ee9-4ee7-b807-525d71483e21"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/135e0f6a-8ee9-4ee7-b807-525d71483e21?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperationStatus1Min;227",
        "x-ms-ratelimit-remaining-subscription-reads": "11967"
      },
      "ResponseBody": {
        "startTime": "2023-06-16T02:19:39.4495471\u002B00:00",
        "endTime": "2023-06-16T02:30:20.5692944\u002B00:00",
        "status": "Succeeded",
        "name": "135e0f6a-8ee9-4ee7-b807-525d71483e21"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc5199?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetCache1Min;117",
        "x-ms-ratelimit-remaining-subscription-reads": "11966"
      },
      "ResponseBody": {
        "name": "testsc5199",
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc5199",
        "type": "Microsoft.StorageCache/caches",
        "location": "eastus",
        "tags": {},
        "sku": {
          "name": "Standard_2G"
        },
        "properties": {
          "networkSettings": {
            "mtu": 1500,
            "utilityAddresses": [
              "10.0.0.10",
              "10.0.0.11",
              "10.0.0.12"
            ],
            "ntpServer": "time.windows.com"
          },
          "securitySettings": {
            "accessPolicies": [
              {
                "name": "default",
                "accessRules": [
                  {
                    "scope": "default",
                    "access": "rw",
                    "suid": false,
                    "submountAccess": true,
                    "rootSquash": false
                  }
                ]
              }
            ]
          },
          "directoryServicesSettings": {},
          "zones": [
            "1"
          ],
          "cacheSizeGB": 3072,
          "health": {
            "state": "Healthy",
            "statusDescription": "The cache is in Running state",
            "conditions": []
          },
          "mountAddresses": [
            "10.0.0.7",
            "10.0.0.8",
            "10.0.0.9"
          ],
          "provisioningState": "Succeeded",
          "subnet": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-4000/subnets/scTestSubnet-5450",
          "upgradeStatus": {
            "currentFirmwareVersion": "2023.04.2",
            "firmwareUpdateStatus": "unavailable",
            "firmwareUpdateDeadline": "0001-01-01T00:00:00Z",
            "lastFirmwareUpdate": "2023-06-16T02:19:39.933956Z",
            "pendingFirmwareVersion": ""
          },
          "upgradeSettings": {
            "upgradeScheduleEnabled": false,
            "scheduledTime": "0001-01-01T00:00:00Z"
          }
        },
        "systemData": {
          "createdBy": "31027db9-d339-4593-9b44-454cb0ee04b7",
          "createdByType": "Application",
          "createdAt": "2023-06-16T02:19:39.4336855Z",
          "lastModifiedBy": "31027db9-d339-4593-9b44-454cb0ee04b7",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-16T02:19:39.4336855Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc5199/storageTargets/storagetarget10?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "targetType": "nfs3",
          "nfs3": {
            "target": "10.0.2.4",
            "usageModel": "READ_ONLY",
            "verificationTimer": 30
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/2c822215-3fd4-4ad8-ad8c-a3ea35c90566?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateStorageTarget1Min;59",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "name": "storagetarget10",
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc5199/storageTargets/storagetarget10",
        "type": "Microsoft.StorageCache/caches/storageTargets",
        "location": "eastus",
        "properties": {
          "allocationPercentage": 100,
          "targetType": "nfs3",
          "provisioningState": "Creating",
          "state": "Busy",
          "junctions": [],
          "nfs3": {
            "target": "10.0.2.4",
            "usageModel": "READ_ONLY",
            "verificationTimer": 30
          }
        },
        "systemData": {
          "createdBy": "31027db9-d339-4593-9b44-454cb0ee04b7",
          "createdByType": "Application",
          "createdAt": "2023-06-16T02:30:24.278045Z",
          "lastModifiedBy": "31027db9-d339-4593-9b44-454cb0ee04b7",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-16T02:30:24.278045Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc5199/storageTargets/storagetarget10/flush?api-version=2023-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/21fcd80c-2482-47f8-b8e1-9effbc46bea1?api-version=2023-05-01",
        "Location": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/21fcd80c-2482-47f8-b8e1-9effbc46bea1?monitor=true\u0026api-version=2023-05-01",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/FlushOrInvalidateStorageTarget5Min;119",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/21fcd80c-2482-47f8-b8e1-9effbc46bea1?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperationStatus1Min;211",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "startTime": "2023-06-16T02:30:59.256131\u002B00:00",
        "endTime": "2023-06-16T02:31:02.7405164\u002B00:00",
        "status": "Succeeded",
        "properties": {
          "output": "success"
        },
        "name": "21fcd80c-2482-47f8-b8e1-9effbc46bea1"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc5199/storageTargets/storagetarget10/dnsRefresh?api-version=2023-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/bf8e6a81-d457-4ded-9996-81b74c236d99?api-version=2023-05-01",
        "Location": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/bf8e6a81-d457-4ded-9996-81b74c236d99?monitor=true\u0026api-version=2023-05-01",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/DnsRefreshStorageTarget1Min;89",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc5199/storageTargets/storagetarget10/restoreDefaults?api-version=2023-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/7abac449-af04-42ce-a7b0-108fd55c3d4e?api-version=2023-05-01",
        "Location": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/7abac449-af04-42ce-a7b0-108fd55c3d4e?monitor=true\u0026api-version=2023-05-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/7abac449-af04-42ce-a7b0-108fd55c3d4e?monitor=true\u0026api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperationStatus1Min;215",
        "x-ms-ratelimit-remaining-subscription-reads": "11953"
      },
      "ResponseBody": "\u0022success\u0022"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc5199/storageTargets/storagetarget10/invalidate?api-version=2023-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/3872885c-07f7-4471-8c54-e86a02ea4481?api-version=2023-05-01",
        "Location": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/3872885c-07f7-4471-8c54-e86a02ea4481?monitor=true\u0026api-version=2023-05-01",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/FlushOrInvalidateStorageTarget5Min;118",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc5199/storageTargets/storagetarget10/suspend?api-version=2023-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/a75fadea-44ff-45c4-b004-e98c52261875?api-version=2023-05-01",
        "Location": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/a75fadea-44ff-45c4-b004-e98c52261875?monitor=true\u0026api-version=2023-05-01",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/ResumeOrSuspendStorageTarget1Min;239",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-rdupuisstoragecache/providers/Microsoft.StorageCache/caches/testsc5199/storageTargets/storagetarget10/resume?api-version=2023-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/50f5c981-1db6-4af6-a54e-c25de9bfc841?api-version=2023-05-01",
        "Location": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/50f5c981-1db6-4af6-a54e-c25de9bfc841?monitor=true\u0026api-version=2023-05-01",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/ResumeOrSuspendStorageTarget1Min;238",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/50f5c981-1db6-4af6-a54e-c25de9bfc841?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperationStatus1Min;218",
        "x-ms-ratelimit-remaining-subscription-reads": "11939"
      },
      "ResponseBody": {
        "startTime": "2023-06-16T02:33:37.0667111\u002B00:00",
        "endTime": "2023-06-16T02:33:37.8323681\u002B00:00",
        "status": "Succeeded",
        "properties": {
          "output": "success"
        },
        "name": "50f5c981-1db6-4af6-a54e-c25de9bfc841"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "850154780",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "46841c0e-69c8-4b17-af46-6626ecb15fc2"
  }
}
