{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0a705cdd-196b-4007-28f6-ecb816ce6e47?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72F32D7564B\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:47:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0a705cdd-196b-4007-28f6-ecb816ce6e47/test-blob-ec49e94b-4849-5473-ed0c-fee209138de1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72F32E184F1\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:47:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:47:13.8799857Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0a705cdd-196b-4007-28f6-ecb816ce6e47/test-blob-ec49e94b-4849-5473-ed0c-fee209138de1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F72F32E184F1\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:47:13 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 24 Feb 2022 00:47:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:47:13.8799857Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0a705cdd-196b-4007-28f6-ecb816ce6e47/test-blob-ec49e94b-4849-5473-ed0c-fee209138de1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9F72F32E184F1\u0022",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:13 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "iXhM8duxSp4dsxVG4WGXmykd6zBDacVvYyimjkXDX/8PcBwwQNv0G5vr582Wpyvg3F1RPwrkgyCy3Y2yC7tZWlQVN3BEZlpOKNCVWIH42Lz9xbHoch/0Ku37fmNNQhDfko15gHC6m3YDAhc6TyufugTRtUUJcec0IQyDSej2AOa/tsX0f1dMQio75XAIudvBXMRffIzL1SClRF9jN1KODAEwephlqjqshHIazox2LGcxwewjl4RZ9OGlTjr36ArXrdhu1z9CXLKJsvcZsAaULhj4MnZlanR914a3wFsAtJxoQyGzCFQo7mU6muSMP0TaEB8h/7aUckJk8QC5i5xWiP1bsWzl4CbE0EMRK9CP8ZdB3K873rXl1NDfTxZTb2LI4xHnMI7X9S/5XS9zg0dy1ABpd6/sG6p[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0a705cdd-196b-4007-28f6-ecb816ce6e47/test-blob-ec49e94b-4849-5473-ed0c-fee209138de1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F72F3303ADEF\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:47:14 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "3qnzYi\u002BDLyE=",
        "x-ms-creation-time": "Thu, 24 Feb 2022 00:47:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:47:13.8799857Z"
      },
      "ResponseBody": "iXhM8duxSp4dsxVG4WGXmykd6zBDacVvYyimjkXDX/8PcBwwQNv0G5vr582Wpyvg3F1RPwrkgyCy3Y2yC7tZWlQVN3BEZlpOKNCVWIH42Lz9xbHoch/0Ku37f[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0a705cdd-196b-4007-28f6-ecb816ce6e47?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1772117029",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}