{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-77e12953-8cb9-30b6-a89e-8ce3907a34f0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:04:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A71BA25D9E\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-77e12953-8cb9-30b6-a89e-8ce3907a34f0/test-blob-bbc7d748-9e09-34e3-abea-9593c1b3cb95",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 May 2022 17:04:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A71BB77F70\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:13.2284272Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-77e12953-8cb9-30b6-a89e-8ce3907a34f0/test-blob-bbc7d748-9e09-34e3-abea-9593c1b3cb95",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A71BB77F70\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:13 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:04:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:13.2284272Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-77e12953-8cb9-30b6-a89e-8ce3907a34f0/test-blob-bbc7d748-9e09-34e3-abea-9593c1b3cb95?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A71BB77F70\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:04:13 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "S09rbZT0fnPnIlG\u002B5k0vHaaLk4eKckAmI/lgIHMXoTWK0x2xH4psW4t82o7W8bTsjk6EkVvpR9gPREmblF7/z4AcMxIwff0bHzj8DpixUDJEc5EkkxDZoYxFodtA0cYtfAsNub6hvBFRaHIj7ThAXvMXViHM2jtwQpGF6twi2k1xzpGMpJd0oraA0yudtrRUBUPnKXqlYKHQnXYsHNI1Lo0ksR6ms7pco7RqTAYP0ozcMeWYOrHTzG7vvAYgR4bkS6WeeQSWrVGJi4bGOxObwMrqUOrsnPTcUeWvtvezO1sthQFhcVmHRoSTD64qDJBaVPw8Nveb966xwicf5/Za1U8qmLYSOU5xYgpmWYxFsURUVGH7dwVkko1SsK8xaF6NOTpfAHTaSBqty9PtNJ4ibBDjyp[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-77e12953-8cb9-30b6-a89e-8ce3907a34f0/test-blob-bbc7d748-9e09-34e3-abea-9593c1b3cb95",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:13 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A71BD7D407\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:13 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "N7bXBEQwcG8=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:04:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:13.2284272Z"
      },
      "ResponseBody": "S09rbZT0fnPnIlG\u002B5k0vHaaLk4eKckAmI/lgIHMXoTWK0x2xH4psW4t82o7W8bTsjk6EkVvpR9gPREmblF7/z4AcMxIwff0bHzj8DpixUDJEc5EkkxDZoYxFo[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-77e12953-8cb9-30b6-a89e-8ce3907a34f0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "691768297",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
