{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ae669f00-c161-90d3-4ffa-d226731e72f1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:03:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6FC448B01\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ae669f00-c161-90d3-4ffa-d226731e72f1/test-blob-3224d160-1807-237b-2402-b05a279608ca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 May 2022 17:03:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6FC53DD04\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:20.5660932Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ae669f00-c161-90d3-4ffa-d226731e72f1/test-blob-3224d160-1807-237b-2402-b05a279608ca",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6FC53DD04\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:03:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:20.5660932Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ae669f00-c161-90d3-4ffa-d226731e72f1/test-blob-3224d160-1807-237b-2402-b05a279608ca?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A6FC53DD04\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:03:21 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "2ViH8dEIB4lkQEq74Cts/MCCI\u002B8SLIzZeE8RizJZEiPyx87Ly0h/\u002BXyC4SR\u002B7lPcakcgkR3FBqzLrniB93xWCi4nyRhdoDF4AilykEtoW4r7NSDrOIAFLcAiABzP/gIAK9f1ViU7fsoWqI70UnZhYlPuhcFba9GtIpxYO6AUqAQmcmR0cgRkwLZW1ZDxEdpJwJ3I4HhBpL8FRzSI40MpAQCKzeAR7fBPicQKBZZAvBDBDnoCS8eM5c2lbirQ3N1yLNOQZ0P5N9OteVezNp8pxIsjx9TJJrU4/ugTbH7Ffq3nl9jDsFTNyNamVdJw2K4ue6merBUJqAUdV2la5spV6PqpzJ7GZRQ3Vf79I9HjyCU55PHVJtGY3u7TplnrcuELUW3XxwwPaBWVZ1cW[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ae669f00-c161-90d3-4ffa-d226731e72f1/test-blob-3224d160-1807-237b-2402-b05a279608ca",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6FC71C0EF\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "yiGfyAbwjQk=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:03:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:20.5660932Z"
      },
      "ResponseBody": "2ViH8dEIB4lkQEq74Cts/MCCI\u002B8SLIzZeE8RizJZEiPyx87Ly0h/\u002BXyC4SR\u002B7lPcakcgkR3FBqzLrniB93xWCi4nyRhdoDF4AilykEtoW4r7NSD[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ae669f00-c161-90d3-4ffa-d226731e72f1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1294428639",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
