{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-ff1b73c9-c803-4d71-1062-ec76da94b29f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2E8A25520\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:56:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-ff1b73c9-c803-4d71-1062-ec76da94b29f/test-blob-2330644f-6cb2-9264-203e-0e5698ae6663",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2E8AF2536\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:56:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:56:14.4796982Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-ff1b73c9-c803-4d71-1062-ec76da94b29f/test-blob-2330644f-6cb2-9264-203e-0e5698ae6663",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F2E8AF2536\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:56:14 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:56:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:56:14.4796982Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-ff1b73c9-c803-4d71-1062-ec76da94b29f/test-blob-2330644f-6cb2-9264-203e-0e5698ae6663?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D993F2E8AF2536\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:14 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "TxHQ\u002BNxFyIB629O1KQjixVt9BUgJ6dy5cz66qfkHoo2sSBlZeg6SK8kJTuj/zxUoY4mWIJhZS2Y1F4Sdih\u002BGczhGCOHviUtM69p/AJr0uaQpkkZwcYL0UvyyI2KK9aCqgtuvucY0ONk\u002BSTW\u002B2kvLQF7gdPjYFgG1UbbkPGXowvU51H2/RP/d9FlsMShNNniw5\u002BIDqYGo0Wza\u002BmcQT/xzVYc/hAXODPxfA3\u002BebOXZaBs\u002BM1WD5Bh0kQMR5UqXzKRd\u002BduhDrFy4tvmpKYBCWWHAZFM0hym8HFuy/ICvSexxzbaQXMJN1ppy1F6nEBycoieiuS4S/qItghqMkK\u002BbyW0NNxwJ8jyfck34gbKLFQw/FhqZ[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-ff1b73c9-c803-4d71-1062-ec76da94b29f/test-blob-2330644f-6cb2-9264-203e-0e5698ae6663",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "mmEyKrQGInmpeSMWXLHxTQ==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F2E8C800EE\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:56:14 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:56:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-ff1b73c9-c803-4d71-1062-ec76da94b29f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2000911584",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}