{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-61056157-be0a-65a7-006d-1a48bfb5bff7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:04:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A71B1B8DDF\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-61056157-be0a-65a7-006d-1a48bfb5bff7/test-blob-806dd9e1-8897-401c-9aa1-c87f8daa605b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 May 2022 17:04:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A71B2AE413\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:12.3069459Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-61056157-be0a-65a7-006d-1a48bfb5bff7/test-blob-806dd9e1-8897-401c-9aa1-c87f8daa605b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A71B2AE413\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:04:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:12.3069459Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-61056157-be0a-65a7-006d-1a48bfb5bff7/test-blob-806dd9e1-8897-401c-9aa1-c87f8daa605b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A71B2AE413\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:04:12 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "ywzySEDbfQxs9ORqecLRuxy61ijgKoyZEiz4uGYrvOlyMhqHUggflxnIKHdSLg6XPCmsmrwEMaGAWTUU4sSmQTf7\u002BEenSWgUmj8PGAEVRuQeYHw9fiIsbQB5B/nSC7RVIec/VjbH7/LAmP999RifaxJR9oJHaMMUz4pGLkJuQY\u002BLufYa1e\u002BuVnGKfOUjr3jn2ZzngRUxDbkjK4ergMCvUlZv8TsihZUjop8QvOvd8CASXlWmh796Waw99qpoAtax2iqOs708xVQGw951IVDNRjpnmSFrCcuX9ZeP5I7ruqDIX\u002BLBTjxi1ZkAoMPgBDhbb7BvAGm0RdFf974mreDGGgk\u002BrcFuDPf9BMOHamgHtvFeNHXdfLk2ExkQYld\u002BOyi4O[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-61056157-be0a-65a7-006d-1a48bfb5bff7/test-blob-806dd9e1-8897-401c-9aa1-c87f8daa605b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A71B4C70FE\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "a2XYOQRvK\u002B4=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:04:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:12.3069459Z"
      },
      "ResponseBody": "ywzySEDbfQxs9ORqecLRuxy61ijgKoyZEiz4uGYrvOlyMhqHUggflxnIKHdSLg6XPCmsmrwEMaGAWTUU4sSmQTf7\u002BEenSWgUmj8PGAEVRuQeYHw9fiIs[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-61056157-be0a-65a7-006d-1a48bfb5bff7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1619137316",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
