{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-068e119c-35e6-e80d-bce8-4d4931480cc6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:04:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A718D85A59\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-068e119c-35e6-e80d-bce8-4d4931480cc6/test-blob-bd9920f7-73c3-9f3d-6ccd-919c3e0daa89",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 May 2022 17:04:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A718E984B7\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:08.5230775Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-068e119c-35e6-e80d-bce8-4d4931480cc6/test-blob-bd9920f7-73c3-9f3d-6ccd-919c3e0daa89",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A718E984B7\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:08 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:04:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:08.5230775Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-068e119c-35e6-e80d-bce8-4d4931480cc6/test-blob-bd9920f7-73c3-9f3d-6ccd-919c3e0daa89?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A718E984B7\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:04:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "oAf8mBNQb1ALHPNmKfgHuvGYU\u002B0oHt/er6TbGx8Gz\u002BCLmHTZBl\u002BhpdPQ4sqRsDFRCnMNCd8GSoInHeludFMwBE0S2pGELrSS960aWDsVTP5zihGs\u002BcUBhU3xsuh1MjGAn919ftafzNy\u002BexIy7PJGEtHq\u002B\u002BlChAuHEVVEknzLHMV7mrldl80o1L007X2zzphaqp8WizdHPRrS9m2AWzpg815NtlI56XoDwiYrDpeN1EK86efctZGOM1yfi6Fgp3iD1PkfZhhGIcElEskQHC\u002BCRCEqw3FThD7NvoL2ml3ZoxquqDqdbm4qdsclt6LIfhcsHEd/NeMGL1C7UqeWT4djTG\u002BuYXP15NWzAE2pLcybBUBqyX0WWW[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-068e119c-35e6-e80d-bce8-4d4931480cc6/test-blob-bd9920f7-73c3-9f3d-6ccd-919c3e0daa89",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A719110439\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:08 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "pny6ofYvGNg=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:04:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:08.5230775Z"
      },
      "ResponseBody": "oAf8mBNQb1ALHPNmKfgHuvGYU\u002B0oHt/er6TbGx8Gz\u002BCLmHTZBl\u002BhpdPQ4sqRsDFRCnMNCd8GSoInHeludFMwBE0S2pGELrSS960aWDsVTP5zihG[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-068e119c-35e6-e80d-bce8-4d4931480cc6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:09 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "996124502",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
