{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b0943e54-c896-6eee-e184-a62617a244b6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:03:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6FE249E41\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b0943e54-c896-6eee-e184-a62617a244b6/test-blob-e6b9b3b6-8305-68df-c375-6c689d233b3b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 May 2022 17:03:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6FE36131C\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:23.7263132Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b0943e54-c896-6eee-e184-a62617a244b6/test-blob-e6b9b3b6-8305-68df-c375-6c689d233b3b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6FE36131C\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:03:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:23.7263132Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b0943e54-c896-6eee-e184-a62617a244b6/test-blob-e6b9b3b6-8305-68df-c375-6c689d233b3b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A6FE36131C\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:03:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "FaEBGUBJxVp48CYN6wsxoLhvOo2AFF/Qqtw73DAOJBmjIc2bP7L3osTIt2XqfWQ8Jyn/EDVXOgBCMG9jDukpacwMack\u002BlmAGeJjIt1z55ix4/rQHDhPkS\u002BfMWQ5Dk5Pank6Z3ROa/ZHJ\u002BZecj4KjSEpC6w80Ilq4KB3icj1RwuUE7hgOYAkY3QAjPhV7R7xkKBDEAKeEpnzz4LX2uItUdzaymKBqledBKQ4OEeRFPeBgfUksjMI9gEibG4BTIiV1z8beyK8b\u002BpMog9eZdZWYraPUlTpCJ\u002Bt0dRdYznln7QbpmUEdZnQxRYO1AwjqowuzA27df43qMqfaalOXwywawZbQsNtTekYuolC3jCPiidEMpcsLiW54/meZQ/wgmoFXm0JyGf[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b0943e54-c896-6eee-e184-a62617a244b6/test-blob-e6b9b3b6-8305-68df-c375-6c689d233b3b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6FE5333D1\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "YXo4ag8H9bw=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:03:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:23.7263132Z"
      },
      "ResponseBody": "FaEBGUBJxVp48CYN6wsxoLhvOo2AFF/Qqtw73DAOJBmjIc2bP7L3osTIt2XqfWQ8Jyn/EDVXOgBCMG9jDukpacwMack\u002BlmAGeJjIt1z55ix4/rQHDhPkS\u00[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b0943e54-c896-6eee-e184-a62617a244b6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "809723500",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
