{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-68f9e254-ad88-00db-f0e1-9b527b63af5d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:04:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A71A3101B3\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-68f9e254-ad88-00db-f0e1-9b527b63af5d/test-blob-9dd881b1-79b5-fd38-25d1-6d984ba9994c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 May 2022 17:04:11 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A71A44C3F0\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:10.7987952Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-68f9e254-ad88-00db-f0e1-9b527b63af5d/test-blob-9dd881b1-79b5-fd38-25d1-6d984ba9994c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:11 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A71A44C3F0\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:10 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:04:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:10.7987952Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-68f9e254-ad88-00db-f0e1-9b527b63af5d/test-blob-9dd881b1-79b5-fd38-25d1-6d984ba9994c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A71A44C3F0\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:04:11 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "UyHlunz7g4uFg9P0cffPjv0RwNmZHM1VcK/4O4NOuSlfCpAPfSkOlh8\u002BDQwlthBWSrYQq6pbmDdUj0rMAkcHN8mqlWZmvxDTAyq6Ww/AMLqfovDNPg5\u002BBHFZu\u002B7fQZPXNtVDeiCp74qmPKeAoD0nlF\u002BPLWBXOvm7LJH1DQQi9MKX4iQ5fbWZ9rJlJgFm/WMzMSaPTxMygPzciE6Ps\u002BKGg0jl6b0Y7hep9jet8RP4VC4twdvdk6WuZGIoXfVnCULQ36O5gRSlGkMP5VjchI/o5DMgYfIGqPCiN4Rb8JAiQez03RFwPtIZiKaYzq1M0d/TP3nBR6dQyjeyFkmPSiqy7aRs6Kd9eKVgBtlLbdlCVmalh7AXYflEpBLavSiJiT585uEJ3\[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-68f9e254-ad88-00db-f0e1-9b527b63af5d/test-blob-9dd881b1-79b5-fd38-25d1-6d984ba9994c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:11 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A71A6650D9\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:11 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "Q/FgrV8GYkI=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:04:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:10.7987952Z"
      },
      "ResponseBody": "UyHlunz7g4uFg9P0cffPjv0RwNmZHM1VcK/4O4NOuSlfCpAPfSkOlh8\u002BDQwlthBWSrYQq6pbmDdUj0rMAkcHN8mqlWZmvxDTAyq6Ww/AMLqfovDNPg5\u002B[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-68f9e254-ad88-00db-f0e1-9b527b63af5d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:11 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1626060136",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
