{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d51b923b-c8ec-2118-34d5-7aa04ec11da6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Apr 2022 22:57:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA28A14BD5A0E2\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:57:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d51b923b-c8ec-2118-34d5-7aa04ec11da6/test-blob-75b24231-dea8-a1b5-4958-2641d8001855",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Apr 2022 22:57:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "aw4K4AJM3ptQrlGC4EtcQbisAhOsZaE\u002B0sbyut4DeKgdWmC26DzLUVt6Z1XndNBllICFR9k44QZszA08WSS8TTapZIXqpVl84LC4Mf1MVl31jSZefTHO5HhaShsuj/g3vRofPg9Ke\u002B4nCWYpgK8IIHWwRsz9Xs8F2oAMkFs9TlG3gXTjLBhNqhI3NnTKpWTIUiqmfUksOV5LGmOPPeqT6roVcf47JfNcYpu6xShbOjUbRD0wltAHi0gVmBK1vWwnpEy5tDNljS02SRutcXM2798tdPmtYlPpDuW2Jozgp6QukyHboYYBtbYQ\u002BU21WRnU3qgzh0lzeUH40KZOrmagVaF2ft5RW[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d51b923b-c8ec-2118-34d5-7aa04ec11da6/test-blob-75b24231-dea8-a1b5-4958-2641d8001855",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:57:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA28A14BEA1108\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:57:25 GMT",
        "x-ms-blob-content-md5": "6phpiOsN8mLpKG4NWa68UA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "loydmRwBQSc=",
        "x-ms-creation-time": "Wed, 27 Apr 2022 22:57:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-27T22:57:25.4823176Z"
      },
      "ResponseBody": "aw4K4AJM3ptQrlGC4EtcQbisAhOsZaE\u002B0sbyut4DeKgdWmC26DzLUVt6Z1XndNBllICFR9k44QZszA08WSS8TTapZIXqpVl84LC4Mf1MVl31jSZefTHO5HhaShsuj/g3vRofPg9Ke\u002B4nCWYpgK8IIHWwRsz9Xs8F2oAMkFs9TlG3gXTjLBhNqhI3NnTKpWTIUiqmfUksOV5LGmOPPeqT6roVcf47JfNcYpu6xShbOjUbRD0wltAHi0gVmBK1vWwnpEy5tDNljS02SRutcXM2798tdPmtYlPpDuW2Jozgp6QukyHboYYBtbYQ\u002BU21WRnU3qgzh0lzeUH40KZOrmagVaF2ft5RWk5ZK75DnGgGNLTL4kjkrR9buxnf49HfswZQcKOrPto7g4Na2lyKL93Y8pvygswevKiBG8PFc[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d51b923b-c8ec-2118-34d5-7aa04ec11da6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:57:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "977834372",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
