{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-3110108e-ff1d-3c90-ed67-c2fe9a090b89?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Apr 2022 22:57:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA28A13F3FC11E\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:57:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-3110108e-ff1d-3c90-ed67-c2fe9a090b89/test-blob-8e181fe2-976c-6e2a-b042-f50c1857200c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Apr 2022 22:57:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "QqtTnaycVocYRzQaeKKGh\u002BGrCdrKGk1Mwo739VA6IiRYMKoKEuhqWWi32PR/3O4rzzDc\u002Bs7QiyhdB9odpGE33iQQwkf3e3T4QbByE0FZzOagzCUgXShViKWCrQsOTLQGgPrQbhmnM1S75LgeXXjmBDrzfdg7FoD7uzqidc5o6fT8a5JGiF3M\u002BZnRZHlwNyotm6jRGs/cy2l61LPfBL2FU/rDIvLloHvcJoQ\u002BarIGi4QPdNkml88lH6AozLOq7fTbSxF/rRQ4SPss9fRLnWG3c0kvz5DkX7srnQJRvNTIMjmQYx6hh91v1yve\u002BaLa2YI/cVhpeh1j9\u002BxVVA[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-3110108e-ff1d-3c90-ed67-c2fe9a090b89/test-blob-8e181fe2-976c-6e2a-b042-f50c1857200c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:57:04 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA28A13F51D848\u0022",
        "Last-Modified": "Wed, 27 Apr 2022 22:57:04 GMT",
        "x-ms-blob-content-md5": "6NdA8Tz78sxrCFgiWDleTw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "UE95kRAGZH4=",
        "x-ms-creation-time": "Wed, 27 Apr 2022 22:57:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-27T22:57:04.3530579Z"
      },
      "ResponseBody": "QqtTnaycVocYRzQaeKKGh\u002BGrCdrKGk1Mwo739VA6IiRYMKoKEuhqWWi32PR/3O4rzzDc\u002Bs7QiyhdB9odpGE33iQQwkf3e3T4QbByE0FZzOagzCUgXShViKWCrQsOTLQGgPrQbhmnM1S75LgeXXjmBDrzfdg7FoD7uzqidc5o6fT8a5JGiF3M\u002BZnRZHlwNyotm6jRGs/cy2l61LPfBL2FU/rDIvLloHvcJoQ\u002BarIGi4QPdNkml88lH6AozLOq7fTbSxF/rRQ4SPss9fRLnWG3c0kvz5DkX7srnQJRvNTIMjmQYx6hh91v1yve\u002BaLa2YI/cVhpeh1j9\u002BxVVA8S5ownZMK6uzlCFexrwPhkBmYZUMR/Ekp7XrcbLGwxSzLOXPGftpTfHx5I/Fts/bkl/vCFOw[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-3110108e-ff1d-3c90-ed67-c2fe9a090b89?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Apr 2022 22:57:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "122314398",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
