{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d315b815-8d14-a8af-591f-3f441d0185b5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2963D3ECD987\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d315b815-8d14-a8af-591f-3f441d0185b5/test-blob-26efdaf5-e2ef-4246-ee66-04d8d731964d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "3072",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2963D3FC0BBA\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T22:09:56.1358266Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d315b815-8d14-a8af-591f-3f441d0185b5/test-blob-26efdaf5-e2ef-4246-ee66-04d8d731964d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2963D3FC0BBA\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Apr 2022 22:09:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T22:09:56.1358266Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d315b815-8d14-a8af-591f-3f441d0185b5/test-blob-26efdaf5-e2ef-4246-ee66-04d8d731964d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA2963D3FC0BBA\u0022",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:56 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-3071",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "xk5EJLYm8gH2DAYnPdHc0p9X6wKLQ/Ds0aEf1Uhcp0ig3BZ8QlowMid0S7nPVlRV4PnGCppJ54NeWFIVBh25mmW\u002Bh2G6X5BEJ7jaFvg3HXtMyvROlZ2tVvSTHukHGisKurBTEM/zmoBpguLhbtCLJjvXyTwpawTHEDBsJ0GmPAyN0FtH4wyrWS9z5BO6zOcjB/iuMFHu4E\u002BsjACehnM/w0XVVJ50REMuK28NtYbxDURJSSBJ\u002BAy7nu8Mm1cMDdO8NCHO5HhJrsO0fwTh4CvIu368VD1S9so5GrWuaKjrIh6cUYFlIijLAJpclHgH2b3EQ\u002BDYULiVaT1WlMnCmkYayF3mRY\u002BpY5hW8FSj9WJRMUH36STIE9FlBuhEDo5eCGVTQssbIZ[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d315b815-8d14-a8af-591f-3f441d0185b5/test-blob-26efdaf5-e2ef-4246-ee66-04d8d731964d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA2963D41757B4\u0022",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "HBAbD4Db4R7vp1PaWgkwLA==",
        "Content-Range": "bytes 0-1023/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2963D41757B4\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Apr 2022 22:09:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d315b815-8d14-a8af-591f-3f441d0185b5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1660383510",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
