{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0fb7bd4c-d4e0-ee13-d613-30660b256f63?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 21:02:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FF2C0F4465\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:02:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0fb7bd4c-d4e0-ee13-d613-30660b256f63/test-blob-e5c38b1e-f5c7-9de5-e001-b6cf0f6969b4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 09 May 2022 21:02:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FF2C1F1CB1\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:02:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T21:02:05.3004465Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0fb7bd4c-d4e0-ee13-d613-30660b256f63/test-blob-e5c38b1e-f5c7-9de5-e001-b6cf0f6969b4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:02:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA31FF2C1F1CB1\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:02:05 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 21:02:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T21:02:05.3004465Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0fb7bd4c-d4e0-ee13-d613-30660b256f63/test-blob-e5c38b1e-f5c7-9de5-e001-b6cf0f6969b4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA31FF2C1F1CB1\u0022",
        "x-ms-content-crc64": "6NsiIxYH9zw=",
        "x-ms-date": "Mon, 09 May 2022 21:02:05 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "RJC\u002BVXR\u002BRsywWUV6tbcGUjjxzGbAOO45GCljFsp2snyJvhhWxoXKG16Yhho3mkb8\u002B2NeuoB1oAuhhD1KGzACOqfJ8feer4uyJrEIKLLUAX3iZxpnF/j7Ex4MtEFIf/8tlktzbqlPXUvXq5PPbHdZzYLAaLQWmiOuzd7ZkftJaaax25JnYJPUkgnOj2tlK6ams\u002Be/iBdKF/soxKHKdstQjULsHpHl8m3v7NWqRwu3SaE3Mt4TiuGPZsOWP5zxCRw\u002BfgEpeA0UwcF6z5tBn9DvcHv/kkTsPANgXbfOTrPQ/eK5bMkJjdCUI3EdmbpFTcfzp84g8nbYUUH\u002ByRtWRnINqdG4iDMG5uOqa2/Sz6JIGg/v2qfkrwts4RqHC8S1Pdz\u[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0fb7bd4c-d4e0-ee13-d613-30660b256f63?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:02:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1022749834",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
