{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1d3dae48-2e03-80ba-8eb3-1809eafb4f29?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA11E396489C74\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 00:24:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1d3dae48-2e03-80ba-8eb3-1809eafb4f29/test-blob-471ddd0a-c5f3-c6a8-dee4-75507624c521",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA11E396540888\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 00:24:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-03-30T00:24:00.3684488Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1d3dae48-2e03-80ba-8eb3-1809eafb4f29/test-blob-471ddd0a-c5f3-c6a8-dee4-75507624c521",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA11E396540888\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 00:24:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 30 Mar 2022 00:24:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-03-30T00:24:00.3684488Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1d3dae48-2e03-80ba-8eb3-1809eafb4f29/test-blob-471ddd0a-c5f3-c6a8-dee4-75507624c521?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA11E396540888\u0022",
        "x-ms-content-crc64": "dPqPOtwJm14=",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:58 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "eh8FWS/tPX1SKr6SXxyas\u002Bt0tZ4V0u3tNvLMBZm8Wtm5hCPH1m5zZg5nKRHz15CtUn60RNAYNKcyFyM9ITfkltDl2dr509x9AU6Qrqnb\u002BV5iHrMbBxUIoFB7lL9LNkXXgpNBDv61s3\u002BhN0KBiIX\u002BVh3E2gKEyI663DiKfj4dMcsJuCsVmupfrGozedDThhfKfD6hhltDUroFhjLFKzVBhAV3eM9Z6bwyZC6XUE\u002B\u002B51UhvwEAe6pwxWZxEBO4mYA08vTKWw5HcJOBbyEsqwJqRp7cpGw0QAlaBrJp6NmoesutYl1a84tH2U9tfgyIQxpkB8l03PQUALLrb1Rb3oi62PVWf0mkEFITlMscx8H90sOYBeEPM53WmGKrb4Q27PrHs[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1d3dae48-2e03-80ba-8eb3-1809eafb4f29?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1687403076",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
