{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-841e1c2e-a22b-5ab1-939a-2e12d209fec1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 May 2023 14:07:01 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFAA75976E\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:07:01 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-841e1c2e-a22b-5ab1-939a-2e12d209fec1/test-blob-34a97210-722b-1222-a375-7956348153c1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 03 May 2023 14:07:01 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFAA7D42FF\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:07:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-841e1c2e-a22b-5ab1-939a-2e12d209fec1/test-blob-34a97210-722b-1222-a375-7956348153c1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:07:01 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB4BDFAA7D42FF\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:07:01 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 03 May 2023 14:07:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-841e1c2e-a22b-5ab1-939a-2e12d209fec1/test-blob-34a97210-722b-1222-a375-7956348153c1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DB4BDFAA7D42FF\u0022",
        "x-ms-date": "Wed, 03 May 2023 14:07:01 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "cm0kVhxjqe81Sd8r1x\u002BUWPpTuQVEoWaaLo8zrW3osrq\u002BDyBYFkm\u002B9iPVKBFhLSA0p3gFzzA8dtAHiiiNL/uBTJYkbMf/O0KxlMPhb3hUOABu/wb14uKKgplPUYsgMMYnU9t6PMBZNWs1VDptWgZYslEnHzD1jGq0muousOq2kGT8uhuc2fxAFMmbv46oHCiS9p46\u002BBGWMsZxxqLVK4WAfsPWcJ/ru9lV5gpmWc3bC33Cm7lMfJdTZYdUKhNaa\u002BlEGkDK0quIpzrF5BEGMNj5lrokE4/LNAIsggsYlpHG\u002B3sgIj\u002BMEDnROfR\u002BhpeFTDWvW5RYNVdaeOY\u002Bnk\u002BgcBGp/\u002BmW5g2ZbIWBUtmbTK1q[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-841e1c2e-a22b-5ab1-939a-2e12d209fec1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:07:02 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "857664998",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
