{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0f8edc7d-59a1-e777-9bbe-562002bc5bfc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2963D17F98EC\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0f8edc7d-59a1-e777-9bbe-562002bc5bfc/test-blob-b8d0cf25-8d91-3251-7a22-ab17973e6c06",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "3072",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2963D18E0447\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T22:09:52.0592967Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0f8edc7d-59a1-e777-9bbe-562002bc5bfc/test-blob-b8d0cf25-8d91-3251-7a22-ab17973e6c06",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2963D18E0447\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Apr 2022 22:09:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T22:09:52.0592967Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0f8edc7d-59a1-e777-9bbe-562002bc5bfc/test-blob-b8d0cf25-8d91-3251-7a22-ab17973e6c06?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA2963D18E0447\u0022",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:52 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-3071",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "xq6XRkRDTB6B8CBGjA4hFp\u002BXsIvzuuQxnA\u002B7V7FXuEGhsqMX7th6LSmqHyfCzd/SzJdjTv0tJgvJZqo1h/RsKjfepNlqCSfGHYNhSZq9b84w6Ioa82pDdIyXTocuRKU1PvXv4ykFaMJvnTB5y91xDPfcBZ5pUTbNmi9M0rugmNjdLAulzYukKoDIq1Y5yamvJkGQUj8Hy\u002By\u002BIkj6uZUHzgRYnJ7Syz5rN9odoabgk9CGnax5D0WZ1mEe56pDqnHrwNxR4S0K3FsDJBpk6SlF3Y53cxvpjb6\u002Bv8Y8s\u002BSUJ4xpMeDJj7Kje8BQduorNOw42QkbzDdVAjMdkiJnzSl3b/2O\u002BrhIe07b1PdamBbUk4rZBNraeFtVFC\u002B[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0f8edc7d-59a1-e777-9bbe-562002bc5bfc/test-blob-b8d0cf25-8d91-3251-7a22-ab17973e6c06",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA2963D1A9C55B\u0022",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:52 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2963D1A9C55B\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "WVmGDvcPOoM=",
        "x-ms-creation-time": "Thu, 28 Apr 2022 22:09:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T22:09:52.0592967Z"
      },
      "ResponseBody": "xq6XRkRDTB6B8CBGjA4hFp\u002BXsIvzuuQxnA\u002B7V7FXuEGhsqMX7th6LSmqHyfCzd/SzJdjTv0tJgvJZqo1h/RsKjfepNlqCSfGHYNhSZq9b84w6Ioa82pD[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0f8edc7d-59a1-e777-9bbe-562002bc5bfc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "341717847",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
