{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ccfd9907-f5d8-c10b-11cc-a44ba5a62a0d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 May 2023 14:06:59 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFA9126B5C\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:06:58 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ccfd9907-f5d8-c10b-11cc-a44ba5a62a0d/test-blob-7798a6a1-1a4e-65fe-68c7-a0f45aeed9ed",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 03 May 2023 14:06:59 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFA91A8B5D\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:06:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ccfd9907-f5d8-c10b-11cc-a44ba5a62a0d/test-blob-7798a6a1-1a4e-65fe-68c7-a0f45aeed9ed",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:06:59 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB4BDFA91A8B5D\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:06:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 03 May 2023 14:06:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ccfd9907-f5d8-c10b-11cc-a44ba5a62a0d/test-blob-7798a6a1-1a4e-65fe-68c7-a0f45aeed9ed?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "k3UmfVAQSc73YDDFqb4LDA==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DB4BDFA91A8B5D\u0022",
        "x-ms-date": "Wed, 03 May 2023 14:06:59 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "5ZW/Fzr6\u002BcZMu2DAfyOFOh7ga\u002BwVkjlxqgI4NA8xWZn5mQKmF5aJ5MDLSxhdBHtmivf9B2cyxlJbTm03wsW2G2HGxuYg3iKHVoYsSUYhFKWH0qkYNFExxtKvS8kpUiL7FC\u002B2lj2VRazUdrHhBnwLOjrHr\u002B8bnecQlQAUcJNZXQNjMTUXa31n8Yz9RL2gUL9VoxCPYqIz33ZIpgE9gdUYexiufdVH9M\u002B8X75iHVkpcEVBvsyDyvtgMFG\u002BzsV7KnC35cil8dLpDq9B0gLk0MIdHjW8\u002B8MIlbEdTUyEiSUKQTRNqziQhH5yV68dQff4e2COobCPvy\u002Btr08XiKSGZIWJNpHNlyWKjJm3SaQT6lO5JNHs9ud1e4EFoPv[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ccfd9907-f5d8-c10b-11cc-a44ba5a62a0d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:07:00 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1675080273",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
