{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a1b8cb23-d1b6-b79d-243f-fd7fc88e4624?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA11E39609C7E6\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 00:23:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a1b8cb23-d1b6-b79d-243f-fd7fc88e4624/test-blob-7dc0fad0-8173-f3d3-8a13-edfd06e74859",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA11E3961AB166\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 00:23:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-03-30T00:23:59.9926630Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a1b8cb23-d1b6-b79d-243f-fd7fc88e4624/test-blob-7dc0fad0-8173-f3d3-8a13-edfd06e74859",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA11E3961AB166\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 00:23:59 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 30 Mar 2022 00:23:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-03-30T00:23:59.9926630Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a1b8cb23-d1b6-b79d-243f-fd7fc88e4624/test-blob-7dc0fad0-8173-f3d3-8a13-edfd06e74859?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA11E3961AB166\u0022",
        "x-ms-content-crc64": "rMXFisHnF\u002Bk=",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:58 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "dV8BQ8RSlcH83V6RIyen5dllGxD0Ti/GjelUr6Jekz2WtQGwPSLTECPY\u002BxfJNmh2WNqX4ul\u002BAyUvO7Xb/uUfnUog\u002Bm0m96e2kQvsHFMY/FaA3VfIx7FUGLLbgAJs\u002BBI\u002BuV3MqTz7T2Ez4FDekebRFz5eWiCNVtWZzOK6SnelSZn5rWP2S1MahY72ledgdYbLCWjDDZ3xsGKHM9xZQATpjpa25eSD28zrRNWSl8HuOFdc7kEO4Tv7B/0Abhh2wESJDAdQqZCiSC2c18nIXxmgmfqF/VHD26xbu93ngm2zdYOQCIu6no7GuaYTcQlyMqjjYNUe8cPzxjBa9e6yu8bA6WJGN1aN5vprvkOrr2qi6Ig0AyKXlYPAnUJaX6mgE/7gU4inK/[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a1b8cb23-d1b6-b79d-243f-fd7fc88e4624?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "340709907",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
