{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bf73906e-c799-bcbb-4374-a1a9ecc1e380?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2963D5502D66\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bf73906e-c799-bcbb-4374-a1a9ecc1e380/test-blob-ad57c98a-f552-0ee4-f3e6-e934d5f496a0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "3072",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2963D55F834C\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T22:09:58.4654156Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bf73906e-c799-bcbb-4374-a1a9ecc1e380/test-blob-ad57c98a-f552-0ee4-f3e6-e934d5f496a0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2963D55F834C\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Apr 2022 22:09:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T22:09:58.4654156Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bf73906e-c799-bcbb-4374-a1a9ecc1e380/test-blob-ad57c98a-f552-0ee4-f3e6-e934d5f496a0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA2963D55F834C\u0022",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:58 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-3071",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "g1VWKNJitGuQpnUl9CZEEwl0RT5P4htG82G5vzggyPI1ZREi2kJaAvkGb7\u002B3Iqd0SrXWkRIAHaA5DzVwqPUycN2C8I8UITnGGUNESHNcjtC6RHSDSjbfNEdx6coN6lkE0//hNTIXYCl8D3jPu9Ut3YFltmSAryano7tIozhvuS7pP3RzelmeouNLBjq\u002BD3lyQwxJqDP1gyPYOpF2z73wDVVJ5ntguWInxhSANanr6JNC1V8sJRH787xQm0DHJ9ImWvnldCn9EYmpIeEfdU567VH\u002BNPldxOdETvK/Dx4iX55BWdqvBnNqRcTVggQv235t1q3uyfPYyZYSoSY2PQFrh8FC3Rtzyufdk\u002B41h0HjFHJ0UjlxNJaraJBEnWRNNAfCavtC7f1i\u0[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bf73906e-c799-bcbb-4374-a1a9ecc1e380/test-blob-ad57c98a-f552-0ee4-f3e6-e934d5f496a0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA2963D57AF64A\u0022",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2963D57AF64A\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:09:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "ISwCV9ltw4c=",
        "x-ms-creation-time": "Thu, 28 Apr 2022 22:09:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T22:09:58.4654156Z"
      },
      "ResponseBody": "g1VWKNJitGuQpnUl9CZEEwl0RT5P4htG82G5vzggyPI1ZREi2kJaAvkGb7\u002B3Iqd0SrXWkRIAHaA5DzVwqPUycN2C8I8UITnGGUNESHNcjtC6RHSDSjbfNEdx6[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bf73906e-c799-bcbb-4374-a1a9ecc1e380?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 22:09:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2103047390",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
