{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cc6e7af1-b667-926a-7d05-e7b4d27ec004?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 May 2023 14:06:47 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFA213010C\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:06:47 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cc6e7af1-b667-926a-7d05-e7b4d27ec004/test-blob-de1a9f39-ff5c-9076-d645-cbba8900d53a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 03 May 2023 14:06:47 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFA21ACF79\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:06:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cc6e7af1-b667-926a-7d05-e7b4d27ec004/test-blob-de1a9f39-ff5c-9076-d645-cbba8900d53a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:06:47 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB4BDFA21ACF79\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:06:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 03 May 2023 14:06:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cc6e7af1-b667-926a-7d05-e7b4d27ec004/test-blob-de1a9f39-ff5c-9076-d645-cbba8900d53a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DB4BDFA21ACF79\u0022",
        "x-ms-date": "Wed, 03 May 2023 14:06:47 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "eToJXLkyr1fUF4YrGyfHn7DFYMNCSDoScuNFgyyts\u002BV\u002BfcqQ0/hnIl/korI0MGX71s5H3QD62zD/9\u002BrW7CsqJ2SgrZ5cN8u3Xj5kXaWI3kF9Sa1eZtXkg6GZkNwOkTUzuntOk4PHnp4Cj3/Cln2KdxioWKN\u002By8GOvCn8wqfuqc0IMaMqOku\u002BtqsOXNZWIe0kDhjEZTiRte65v9ZZy9v3FOayuWXaYD3M6qL4b2/rN5s72LOOKkOUd3u1cHp1ZOvPF0fvpGeISq7a93qWmUV\u002Bzog6HfMnaOmiHULpJO/DV4a3KFcn\u002B5M0so0FszLJ/t02NqHxOkb4p69eTYcknyW\u002BF6D033HtVtP1BmtlIrS32R9lsu5N0RxAvoG[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cc6e7af1-b667-926a-7d05-e7b4d27ec004?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:06:48 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "200501743",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
