{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-22aab938-ecec-6201-03db-c8b90357ec7f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 May 2023 19:15:05 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C1B1E45C7D\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:15:04 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-22aab938-ecec-6201-03db-c8b90357ec7f/test-blob-2df9d22d-8f58-9aaf-2410-4541b9f0f718",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 09 May 2023 19:15:05 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C1B1FE225E\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:15:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-22aab938-ecec-6201-03db-c8b90357ec7f/test-blob-2df9d22d-8f58-9aaf-2410-4541b9f0f718",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 May 2023 19:15:05 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB50C1B1FE225E\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:15:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 09 May 2023 19:15:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-22aab938-ecec-6201-03db-c8b90357ec7f/test-blob-2df9d22d-8f58-9aaf-2410-4541b9f0f718?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DB50C1B1FE225E\u0022",
        "x-ms-content-crc64": "hbhe5AVV\u002BLc=",
        "x-ms-date": "Tue, 09 May 2023 19:15:05 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "nrc2ZmzEKBCyCqRxKUpmSSTa8PVhEfyQTQAsnJ3ZDap\u002BphhFg0\u002BABOTmJ3fD1ykOiUEIuOIGuoy6phlrl4tz2f3684IyIcXVWuwQeumFzHbXHhNb0VTId\u002ByLi902FWxYck56yeSn3Gd8Ml719j\u002BiNNmjlHl4FweoMnuWppbnn0R/twibCgKRMEGs35720oGs6FYDk4Hy4FtG0pdoEDXQlJMZdT43BynWEWQ4yzhosWD66r5A4wzDjdasVDhrKB8L3EoL3VxCdOAsLIEduhUj3iA3biZ2j7GHVehoi7Pxa\u002BhELO/tXdMDt3beFLaKptLBiXYYM7n4lEyZhIhz2ugtO8GY2I4mNYBMM7ewmHv6/K4WpgE92TcuS5eiVNlLkN2Nsdn18c[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-22aab938-ecec-6201-03db-c8b90357ec7f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 May 2023 19:15:05 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2047124070",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
