{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-43f0b5f1-f837-3d94-13e4-7b0f798e1630?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 00:36:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72DB931AA7E\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:36:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-43f0b5f1-f837-3d94-13e4-7b0f798e1630/test-blob-6d2413ae-9bf5-014d-9a12-b63b6317809c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 24 Feb 2022 00:36:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72DB93AEE8C\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:36:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:36:40.2871948Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-43f0b5f1-f837-3d94-13e4-7b0f798e1630/test-blob-6d2413ae-9bf5-014d-9a12-b63b6317809c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:36:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F72DB93AEE8C\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:36:40 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 24 Feb 2022 00:36:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:36:40.2871948Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-43f0b5f1-f837-3d94-13e4-7b0f798e1630/test-blob-6d2413ae-9bf5-014d-9a12-b63b6317809c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9F72DB93AEE8C\u0022",
        "x-ms-content-crc64": "c3xcNhCItAA=",
        "x-ms-date": "Thu, 24 Feb 2022 00:36:40 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "DJushsTFFIag2B8e1BHUW6s\u002BcYm5hRCKvez8OXgSRuOqR3fNDLJ319xO8EZPGcHuVZZVks/kIoaKIcjYydoOjpI8dIyaB075x5mta5TKOqMqDuThvbMUxiXwQurpng4BP2K0E6U0VE1IW8s1N7bxwOclrrr2LNDeKK1nqcVkECiKqysyFif99bqWmWHn3o9u/4IDxPBUCxOR1er3zaqI5Eujq4yLv6q/J7gAX5Nv9koe\u002BKpDYEw3Np8YoEA8BScPDbUWRDIC4z/YQ5w3VKuAIt6g2dUARYP/a3Tsch9pgyGR8FLdWLIXGxVqah2vAOLzmH1hnCxSD8cyF9m\u002BFnAfbsB7pmNZososib2/ldpmT2uS\u002BdqhB\u002Bb0PuGKq0HYWQWlS/xcM1[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-43f0b5f1-f837-3d94-13e4-7b0f798e1630?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:36:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1724672597",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}