{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8aedcb27-951f-fefb-875f-b414b3806ab2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 21:02:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FF39D058B2\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:02:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8aedcb27-951f-fefb-875f-b414b3806ab2/test-blob-c0406d80-7ccf-45a9-2a75-d7d56dd52bb0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 09 May 2022 21:02:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FF39E03A70\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:02:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T21:02:28.3764336Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8aedcb27-951f-fefb-875f-b414b3806ab2/test-blob-c0406d80-7ccf-45a9-2a75-d7d56dd52bb0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:02:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA31FF39E03A70\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:02:28 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 21:02:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T21:02:28.3764336Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8aedcb27-951f-fefb-875f-b414b3806ab2/test-blob-c0406d80-7ccf-45a9-2a75-d7d56dd52bb0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "Gfs3fIdFSWL3lpYOgMTZjg==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA31FF39E03A70\u0022",
        "x-ms-date": "Mon, 09 May 2022 21:02:28 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "8v4WuDB6VD\u002BFC\u002B\u002BFGRP6n45D\u002BTJqiY7pbUR/P98k6g/z1/QG0RhAoCzWWxjrtaaZgGiSs5J0OmlvLErs\u002BxRfYSHgkUEf9M11A1kFky12/ree5b53kjZ8f5yLlqTOVKUXdvr2CiRkeoyaHLA5bqc7\u002BS6STRVV6M7rYxKkk14pp66z7hwzf/OTOWsy3HWFQhD1UJx1OwaPwY4rCqcSv\u002BYtcXQBhoCLB3o7/xSqIwtZZiEBr0PCs2yoJCyNCHRMgHmEBGsAg7yQakghOjvy5Z6C0qSFERCja70IWWJT/f8F7n6aJR6gWOJkcUX7oHgwtj6OCzXPxm9p4Zmt9ypaPGxIG0y9V8CA4XnCIKDKp8tE2KMjxfHJNigPMUOE8mC3[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8aedcb27-951f-fefb-875f-b414b3806ab2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:02:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "16440837",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
