{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-35ac6f67-c102-cc05-e52f-176b4826fc80?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 22:10:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2963D6BB8044\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:10:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-35ac6f67-c102-cc05-e52f-176b4826fc80/test-blob-e5221738-c5ce-a830-6849-e418aa6aeb64",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "3072",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Apr 2022 22:10:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2963D6CA25B6\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:10:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T22:10:00.8419766Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-35ac6f67-c102-cc05-e52f-176b4826fc80/test-blob-e5221738-c5ce-a830-6849-e418aa6aeb64",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 22:10:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2963D6CA25B6\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:10:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Apr 2022 22:10:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T22:10:00.8419766Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-35ac6f67-c102-cc05-e52f-176b4826fc80/test-blob-e5221738-c5ce-a830-6849-e418aa6aeb64?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA2963D6CA25B6\u0022",
        "x-ms-date": "Thu, 28 Apr 2022 22:10:01 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-3071",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "SUdvDaAFGwRKQnGU69BMwtozjNFlI2yjdNcfc7VoN/6TZes4skdC2Vq8jtH1tZ6G3\u002Bri/zkICybbzJnI5adO4gpyAIbkFA\u002BS8LJ3qJWbrb45mZTLhjjFi1nFXeauevSybazHgrQXocvaUA6GkWOQQB7aj0sTg1vRrXUtH7Yp43a\u002BxTro0ysKIvjJ8DUqPvr2NB3H0\u002Bqon\u002BpQ9dQ/6oIUsGyXyMsop2zz0GxTSpImp297NuqZYhCLFSVPmN1Wyjh2tEDJknYuzY2w0wN9VVRYKk5lxLOYe05cDLKl2A\u002BOnQU03ZVSXBX4TGlc6I8MDb/R926P8QaF3TnxbYXDiPR9Ijb9SXi/Bc44bHdJO5K\u002BT/7z1OGg/qz/r/9bYO6P[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-35ac6f67-c102-cc05-e52f-176b4826fc80/test-blob-e5221738-c5ce-a830-6849-e418aa6aeb64",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA2963D6E5BFBE\u0022",
        "x-ms-date": "Thu, 28 Apr 2022 22:10:01 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2963D6E5BFBE\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 22:10:01 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "PvyAjAteRMQ=",
        "x-ms-creation-time": "Thu, 28 Apr 2022 22:10:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T22:10:00.8419766Z"
      },
      "ResponseBody": "SUdvDaAFGwRKQnGU69BMwtozjNFlI2yjdNcfc7VoN/6TZes4skdC2Vq8jtH1tZ6G3\u002Bri/zkICybbzJnI5adO4gpyAIbkFA\u002BS8LJ3qJWbrb45mZTLhjjF[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-35ac6f67-c102-cc05-e52f-176b4826fc80?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 22:10:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "210955869",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
