{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-07f2ccbd-22ca-3ac2-051f-5a7bca3ca281?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 May 2023 14:06:51 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFA4554883\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:06:50 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-07f2ccbd-22ca-3ac2-051f-5a7bca3ca281/test-blob-ae882384-20e7-c6be-b059-05638d461607",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 03 May 2023 14:06:51 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFA45C7BF2\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:06:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-07f2ccbd-22ca-3ac2-051f-5a7bca3ca281/test-blob-ae882384-20e7-c6be-b059-05638d461607",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:06:51 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB4BDFA45C7BF2\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:06:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 03 May 2023 14:06:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-07f2ccbd-22ca-3ac2-051f-5a7bca3ca281/test-blob-ae882384-20e7-c6be-b059-05638d461607?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DB4BDFA45C7BF2\u0022",
        "x-ms-content-crc64": "R3Jm5uJYh1E=",
        "x-ms-date": "Wed, 03 May 2023 14:06:51 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "/g/2ZQTM15emFzSkwUZKmklL\u002B7\u002BofG5t\u002BoBPv7u6BjS1V33gdHAKszT9f/um0WZuUM8iiKOxYIKgiGuDfRjb7BD/72nIaiXYQEiLq/xyxyga4G7rl36QBPf7P\u002BwFhzUbIZLqpuL8puaqSUhbJbWFLcBCaZyp71SSb\u002BpyzSo507kSb4lqhyFGHTqIQU41NN5BdRErwx6ZcjE\u002BWDf4iti8cXaPSLYsG6af/EtiIK4GXDoMMFcYDQ\u002BbefxXKy/pTpNhzNDYpuwnFVpri8fSN1KDN/v861mAo2Nm9M\u002B61O92tq23AFTdLbZO5Bv9rYFIyEKq1PQ07GI64ChscrIcbUFr9NUZGzb9pQlFrgc\u002Bg/bhHSuNEAD7Qs[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-07f2ccbd-22ca-3ac2-051f-5a7bca3ca281?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:06:52 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1948427438",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
