{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-bca881c2-5bfb-8dd4-7720-711605cd31f0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72F3370C08C\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:47:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-bca881c2-5bfb-8dd4-7720-711605cd31f0/test-blob-833a5818-d77f-423a-8b1e-1cb7f12625d6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "3072",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72F337C27B6\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:47:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:47:14.8944057Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-bca881c2-5bfb-8dd4-7720-711605cd31f0/test-blob-833a5818-d77f-423a-8b1e-1cb7f12625d6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F72F337C27B6\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:47:14 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 24 Feb 2022 00:47:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:47:14.8944057Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-bca881c2-5bfb-8dd4-7720-711605cd31f0/test-blob-833a5818-d77f-423a-8b1e-1cb7f12625d6?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9F72F337C27B6\u0022",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:14 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-3071",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "Q80p3weIBcn6BHoufz6WflMCeDWCWgoWq6njNoetTEr4mFMqz\u002B1mFcqA3OJNx\u002Bw2cfOGVH6fwOjDEjRdpc9CTLgwNubqa65lm2JrAX0nyeS9rcSTJvjLWdhqZ725CW/6Po8qHJEFSwVEIbgbM75rm0lPoPgKriW/ZNwNgATxq5LzcMPt/axSt2G/TwU/ryUa/8xzaWh38I9pare098sAU3UlKML6fp2c/eiWSl8gf7S384A4fUIqe4A0g5P0nsCVvvuQGodjH4Au12x/4KUvSeoD/QRKx9Yz\u002B61CxvoJp14oAYxjkGUtU9P/CaXVqpraBDmo8aG8SvYlXR7ZIViGJTAOV98Zy7mF1akwSr4wXVETZ8LAYbW9bLeVPjNGVDJ6eeR1x1K6wDiAIhz3[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-bca881c2-5bfb-8dd4-7720-711605cd31f0/test-blob-833a5818-d77f-423a-8b1e-1cb7f12625d6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9F72F338D6337\u0022",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:15 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F72F338D6337\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:47:15 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "YZPp1ITtX7k=",
        "x-ms-creation-time": "Thu, 24 Feb 2022 00:47:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:47:14.8944057Z"
      },
      "ResponseBody": "Q80p3weIBcn6BHoufz6WflMCeDWCWgoWq6njNoetTEr4mFMqz\u002B1mFcqA3OJNx\u002Bw2cfOGVH6fwOjDEjRdpc9CTLgwNubqa65lm2JrAX0nyeS9rcSTJvjL[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-bca881c2-5bfb-8dd4-7720-711605cd31f0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:15 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1308516576",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}