{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fcf89602-9801-8171-6008-247c5e3d0c6d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 May 2023 14:06:58 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFA8AAB834\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:06:58 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fcf89602-9801-8171-6008-247c5e3d0c6d/test-blob-8540bbf6-bead-ff7e-37b3-e55b878dba08",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 03 May 2023 14:06:58 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFA8B19FAF\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:06:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fcf89602-9801-8171-6008-247c5e3d0c6d/test-blob-8540bbf6-bead-ff7e-37b3-e55b878dba08",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:06:58 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB4BDFA8B19FAF\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:06:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 03 May 2023 14:06:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fcf89602-9801-8171-6008-247c5e3d0c6d/test-blob-8540bbf6-bead-ff7e-37b3-e55b878dba08?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DB4BDFA8B19FAF\u0022",
        "x-ms-content-crc64": "bkhVCHf41ss=",
        "x-ms-date": "Wed, 03 May 2023 14:06:58 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "sbP1qKykJTsAfurEXYz9vHJslJ8UKNsmXSKZxMTlunorQTPPre4LQ5nt5BNkK9fKHUU\u002BUwNz5YnXzkqKC2B2GsRvmRtZLQ\u002BEYFEFJkTIwjFKz6d/pmZ3uFup\u002BN6jgTg5dslO9ZK7ce82uvKxbb9FDwwZPzu493Nd\u002BODArzUw4N8Yy696es2fj164SexzxUqcZOjSiUH8gH9W8Pyx\u002B8G6BdkTmaIPypU/ea/dAK6G6jKWI0pMXladHEswJInQ7pSc/kMSYCyojJpTkhCRHoDQzwbKGtd2baaCdXxW36YLb4sbQQJrdIkG7paw\u002BMtGC/3LYFSCBdO8JZCckOuvUa3zRyOEdt19ZVt9xCxBxnTbO2l/i39RiWm3XhtxzuOeVpzpv[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fcf89602-9801-8171-6008-247c5e3d0c6d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:06:59 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1334598971",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
