{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-925f1453-663b-918a-de12-6afdb287c7fe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:04:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A724EF11B3\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-925f1453-663b-918a-de12-6afdb287c7fe/test-blob-ae5a301a-f254-21d9-a9e5-3b7974a34f70",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 May 2022 17:04:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A72502122D\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:28.8166445Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-925f1453-663b-918a-de12-6afdb287c7fe/test-blob-ae5a301a-f254-21d9-a9e5-3b7974a34f70",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A72502122D\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:28 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:04:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:28.8166445Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-925f1453-663b-918a-de12-6afdb287c7fe/test-blob-ae5a301a-f254-21d9-a9e5-3b7974a34f70?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A72502122D\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:04:29 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "ZnQ529b/sTXMGPK9O2VATc7xl6T95XWkxKe6WjB1ivLRBr3cV2iiZlxUFG\u002BpjvTzPp8EyRcGJ4H/lRYvRVYFV44A6zWnZPZlTzBHqNAF\u002BjWyxxuQccDay9883cFRcyEGTr3hqaO/S9qpnnrnvn6w\u002BZvhfH07dOXNJSBVa4c0FNwOQVoTI1CS8ntB5tNG8gxhjOMmcPajytnXE4SCad9SdYqd2X0jndVKT4kC\u002Bo4ShzIU9N\u002BkDqPlaneAOxDMD4mb7nFJqBmPPe8N2yBsodBLxIxRbnUArmbmuG4Go2HFfj8AZgscyd8ZhLbwljOCeMimNHaEe6ETmz8KYu\u002BqiZmNSFzhbDvEL/usN\u002Bm\u002BEBgzYz\u002BmX27qQQ[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-925f1453-663b-918a-de12-6afdb287c7fe/test-blob-ae5a301a-f254-21d9-a9e5-3b7974a34f70",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32A7252DFDD5\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:04:29 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A7252DFDD5\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "/nF9ZmSwVcg=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:04:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:28.8166445Z"
      },
      "ResponseBody": "ZnQ529b/sTXMGPK9O2VATc7xl6T95XWkxKe6WjB1ivLRBr3cV2iiZlxUFG\u002BpjvTzPp8EyRcGJ4H/lRYvRVYFV44A6zWnZPZlTzBHqNAF\u002BjWyxxuQccDay9883cFRcyEGTr3hqaO/S9qpnnrnvn6w\u002BZvhfH07dOXNJSBVa4c0FNwOQVoTI1CS8ntB5tNG8gxhjOMmcPajytnXE4SCad9SdYqd2X0jndVKT4kC\u002Bo4ShzIU9N\u002BkDqPlaneAOxDMD4mb7nFJqBmPPe8N2yBsodBLxIxRbnUArmbmuG4Go2HFfj8AZgscyd8ZhLbwljOCeMimNHaEe6ETmz8KYu\u002BqiZmNSFzhbDvEL/usN\u002Bm\u002BEBgzYz\u002BmX27qQQKd7MvMEWbvb/sdYk7WoQyN4QV710O4VYon1/\u002BwBCkrogZaQ39w\u002BB2Uvcjtoa3JXcIyGH1pb2q\u002B5ZdApDpnP2rS8cBHfF6NHenn5xp7y7TcXXo9feuswTOcm13oL1PjLH5dG6/tgeFjpfuUgYdQQxriY0a/KsF/JjCMq\u002BAApO2VA7ubHq8E7tyZ2dfvF0CrTFhDBcsMIwG83vV/YdYAYwEN/n3MtCVq3XVqJlHpjw7w4F\u002BIvZ4iieC53z\u002B6hY0FmHXW4RnC35gy2CdWof2w0k7nj4B2eKZi63SdE9TlsFjnZY3cE670LQHHVeQ="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-925f1453-663b-918a-de12-6afdb287c7fe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1657113676",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
