{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5d754203-836a-359d-aa1b-70a8b68839df?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 May 2023 19:15:04 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C1B16C5822\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:15:03 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5d754203-836a-359d-aa1b-70a8b68839df/test-blob-b9dd08af-a438-0e1a-8b17-167094c9d1ce",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 09 May 2023 19:15:04 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C1B192030F\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:15:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5d754203-836a-359d-aa1b-70a8b68839df/test-blob-b9dd08af-a438-0e1a-8b17-167094c9d1ce",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 May 2023 19:15:04 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB50C1B192030F\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:15:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 09 May 2023 19:15:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5d754203-836a-359d-aa1b-70a8b68839df/test-blob-b9dd08af-a438-0e1a-8b17-167094c9d1ce?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DB50C1B192030F\u0022",
        "x-ms-content-crc64": "\u002B2X/mfVG/Ac=",
        "x-ms-date": "Tue, 09 May 2023 19:15:04 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "3mmrlvNcLfQZeEA7aKvjkPZ\u002B6LIoWyfyWfCVgzRLfitOMBLob47\u002BY9VrxD9crd54TknnAAktwYNBuD0Dx6rAzfkU7DeZ\u002ByBogITdvZfolawSHDTrY34hIW6PprZR\u002Bpwqq/ZGR8Cm31Iof4CFTwTsWSKQ8ap11Wl68svJCVRqF4XoshKgoU7raz3iwuT\u002BnNFqo02TwAnxtNaMy1T13dX9vmj6nZ3xS7fUpIVskxKFe1b5XmUH1lZ79v08E9b59o1n5AN8A/40eFeWvhyEhCHDB0/9\u002B39v9ugRf6aftTjh2674BK8PCXhXxeUOcRc693HceQuG\u002B/oO\u002BO0baoRXlMMftONti4Bxs/3XpjaZYYXQ14g1wjwsWt\u002[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5d754203-836a-359d-aa1b-70a8b68839df?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 May 2023 19:15:04 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "754679848",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
