{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-928648c3-33d0-bd3a-58b9-255ad89905d6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:44:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32ACBD4ED191\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:44:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-928648c3-33d0-bd3a-58b9-255ad89905d6/test-blob-fc4ca68d-993d-d5b0-113b-7044ee2d77c6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 May 2022 17:44:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32ACBD66F33E\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:44:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:44:31.9750974Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-928648c3-33d0-bd3a-58b9-255ad89905d6/test-blob-fc4ca68d-993d-d5b0-113b-7044ee2d77c6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:44:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32ACBD66F33E\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:44:31 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:44:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:44:31.9750974Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-928648c3-33d0-bd3a-58b9-255ad89905d6/test-blob-fc4ca68d-993d-d5b0-113b-7044ee2d77c6?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32ACBD66F33E\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:44:32 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "TqOt8SWAJidGhu/NhX2VbLDWsg75d3IxleknxFjOHzp9E22EPhYoJqR4R92lKfE5iteCCbV3odYwfFw7WGHOd2a1T3EPEC2aroxpgDCVjGv37jmATBaFBnKXU8G57M1Cqs938NmAKXqq51ooDSClm/DwQ2onTStPL0j\u002BeLxr4cK\u002BJ9ZhHZyRd8S/1mS7XPhR8bjRyKhjGlyjJ8CRgbC\u002BPgaYauZKRH1UXsymaHbGlNJPrYcDmhgZWwx5vfbbAPUTAJheI/ISB6w6fWnbvbHm3ZPtQdQpuqPtfg/Z0YaHeF3WkmjdZ3HgPaXayR2uPZ5ak\u002BBi7r8h6kb0caTiODYmswQLBSpJCHUiDAMuTvGGPkBxfz6lJIqetagh6fbM/gRvtBUYojhzEYp[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-928648c3-33d0-bd3a-58b9-255ad89905d6/test-blob-fc4ca68d-993d-d5b0-113b-7044ee2d77c6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32ACBD85C174\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:44:32 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32ACBD85C174\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:44:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:44:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:44:31.9750974Z"
      },
      "ResponseBody": "TqOt8SWAJidGhu/NhX2VbLDWsg75d3IxleknxFjOHzp9E22EPhYoJqR4R92lKfE5iteCCbV3odYwfFw7WGHOd2a1T3EPEC2aroxpgDCVjGv37jmATBaFBnKXU8G57M1Cqs938NmAKXqq51ooDSClm/DwQ2onTStPL0j\u002BeLxr4cK\u002BJ9ZhHZyRd8S/1mS7XPhR8bjRyKhjGlyjJ8CRgbC\u002BPgaYauZKRH1UXsymaHbGlNJPrYcDmhgZWwx5vfbbAPUTAJheI/ISB6w6fWnbvbHm3ZPtQdQpuqPtfg/Z0YaHeF3WkmjdZ3HgPaXayR2uPZ5ak\u002BBi7r8h6kb0caTiODYmswQLBSpJCHUiDAMuTvGGPkBxfz6lJIqetagh6fbM/gRvtBUYojhzEYprQOG78ptVbjJjcbn3gI95bVCCJx9/VQ7/vprbbZsI/W6zOuSo4sINzHrDaY1LdzOGnzXo8elr7OrTvDQAeQGWW3NLREaq0YqNdFqku\u002ByAtEdnVc5mHwyER0751SaODFN5LA0a/zPt286qWnyOxjD9UgjsmSMyLztmxvz3sftk/2gHK47eZrQUenkAvMSP9oAd\u002B4IeoXMvRv3Rszk29SrSRVoUh5uiH\u002BxT2B\u002BpMnN319B82rV5RV711\u002BSRDLN63YRPLXZpe27le9yWyshThhOKWttouRp0WP8="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-928648c3-33d0-bd3a-58b9-255ad89905d6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:44:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "225087313",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
