{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-7ff7fd15-788b-8549-204e-b013fa7bd6c1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:03:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A70506032E\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-7ff7fd15-788b-8549-204e-b013fa7bd6c1/test-blob-87f664dd-1be3-7062-2cef-e0bcbe0185a5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 May 2022 17:03:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A7051751E2\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:35.2688098Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-7ff7fd15-788b-8549-204e-b013fa7bd6c1/test-blob-87f664dd-1be3-7062-2cef-e0bcbe0185a5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A7051751E2\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:03:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:35.2688098Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-7ff7fd15-788b-8549-204e-b013fa7bd6c1/test-blob-87f664dd-1be3-7062-2cef-e0bcbe0185a5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A7051751E2\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:03:35 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "Cuz7opzJ6tLG1QN4CLonavNHDQdrmFZOnqtq7jtYnZSRLoRxurjMPAk9d5YnwjPp1p3rPNp71nGWrATxXvyXbTdu5to2trA6e9H9LSHAJtt3gBedbGC5FlgS2g202t0NpQleudxZsyDsscEJfahP1oYoed7k\u002BQDXtdCCI9uihqH08IgYYW3/Hs32sbufsJivwgSHi2H\u002BKKwIhgML1o9ESSogFY0gN3QZKFoR7UhFOAU30mDXG/o/9cfcD9tp9Eg9smeRf5sLj4uPbWIG7Tpjw07\u002B0wMubS4v4B/GQyiZrzQS0zvhtLhpLELVR62YOAeMeEyMayBED0U4YZ57RUtj9r4u9Br/gQ6WlKfAWCWAl6cYOcvbDEQUzsP2qFIZ7ub3clDvaUTtjPc99tZ4[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-7ff7fd15-788b-8549-204e-b013fa7bd6c1/test-blob-87f664dd-1be3-7062-2cef-e0bcbe0185a5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32A7053499AF\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:03:35 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A7053499AF\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "bYIhclRfe5U=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:03:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:35.2688098Z"
      },
      "ResponseBody": "Cuz7opzJ6tLG1QN4CLonavNHDQdrmFZOnqtq7jtYnZSRLoRxurjMPAk9d5YnwjPp1p3rPNp71nGWrATxXvyXbTdu5to2trA6e9H9LSHAJtt3gBedbGC5FlgS2g202t0NpQleudxZsyDsscEJfahP1oYoed7k\u002BQDXtdCCI9uihqH08IgYYW3/Hs32sbufsJivwgSHi2H\u002BKKwIhgML1o9ESSogFY0gN3QZKFoR7UhFOAU30mDXG/o/9cfcD9tp9Eg9smeRf5sLj4uPbWIG7Tpjw07\u002B0wMubS4v4B/GQyiZrzQS0zvhtLhpLELVR62YOAeMeEyMayBED0U4YZ57RUtj9r4u9Br/gQ6WlKfAWCWAl6cYOcvbDEQUzsP2qFIZ7ub3clDvaUTtjPc99tZ4g7cfuMn2YwuAh\u002Bp6GSVWCdi8fKbAyebUkC1jKqzUnhZtm0oM1vCJIovbdutmdU8el4MegXowuLnQSiebkzherOjUDH7bSTLoMlkb5VP7bhvdRJMptR2bPeOQO4zI7Y9SfMkCkmjRQ01QNU4gFdJm1dwMvU6lNfbLOM6aSg6mIETKyGiJ\u002BNyyDAFG2IDOeygQKWWvvC9ArEbTNlqaNvg/qhQJVkxq3d3/WbFNX112/b2miiGo9mQVihwhtsKCGNUJBi1rxCTcpkyIsGJ\u002B803pXTid86w="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-7ff7fd15-788b-8549-204e-b013fa7bd6c1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1765574789",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
