{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-276aa970-62d9-b4ed-47a5-ec6b7da72293?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:03:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A70ED198EB\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-276aa970-62d9-b4ed-47a5-ec6b7da72293/test-blob-44d61c10-f256-8fd0-eb32-ff2c53e79146",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 May 2022 17:03:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A70EE7071B\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:51.7295387Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-276aa970-62d9-b4ed-47a5-ec6b7da72293/test-blob-44d61c10-f256-8fd0-eb32-ff2c53e79146",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A70EE7071B\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:03:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:51.7295387Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-276aa970-62d9-b4ed-47a5-ec6b7da72293/test-blob-44d61c10-f256-8fd0-eb32-ff2c53e79146?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A70EE7071B\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:03:52 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "m2gWVH9JdM0G24Jbagj2k1bb4V41sg1\u002B8HTXxHg2LDtD10hVnvuRQKqlaaopXZIXr5cWhojb6\u002Blal2MKcq9Uz69HGJO/oPVbSqC0j0liVJPivxXhIKWzaOtf\u002BgaXhs76UZn74kX\u002BWA6iuzvnJluf\u002BEPQKLKZc68Jk6\u002BnYKXuw8TRuT6wZnFO42cHP2Vqy0GPwALDxl0cYd7p8k\u002BVVvdos/d3FWwd75HRgkRKkjRKn8dtF5\u002BjK/1mtVhgxnQiuIxvnotu8rXVctBw8UMY0s6pn1OHJz9YxYf5EGAUvSgdr8q42vOo3KwRmKXPMjm5TeOJtichmpBNF9kEdOFVwLWoUkJ5YPfbAcOmdY\u002BZiZJNP8N9igcB/B[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-276aa970-62d9-b4ed-47a5-ec6b7da72293/test-blob-44d61c10-f256-8fd0-eb32-ff2c53e79146",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:52 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "wUmbvouLKajH8ow3OwowKQ==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A70F0C8B10\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:03:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:51.7295387Z"
      },
      "ResponseBody": "m2gWVH9JdM0G24Jbagj2k1bb4V41sg1\u002B8HTXxHg2LDtD10hVnvuRQKqlaaopXZIXr5cWhojb6\u002Blal2MKcq9Uz69HGJO/oPVbSqC0j0liVJPivxXhIKWzaOtf\u002BgaXhs76UZn74kX\u002BWA6iuzvnJluf\u002BEPQKLKZc68Jk6\u002BnYKXuw8TRuT6wZnFO42cHP2Vqy0GPwALDxl0cYd7p8k\u002BVVvdos/d3FWwd75HRgkRKkjRKn8dtF5\u002BjK/1mtVhgxnQiuIxvnotu8rXVctBw8UMY0s6pn1OHJz9YxYf5EGAUvSgdr8q42vOo3KwRmKXPMjm5TeOJtichmpBNF9kEdOFVwLWoUkJ5YPfbAcOmdY\u002BZiZJNP8N9igcB/BQ5asIapGfLvNfwJt/2QOzrrrRkeiQBtI5GtjQe1zWuplYuQPY1wV1b27m3qWKzVv/WktxSnYHvN7Yz1O0zrOShQn\u002BJyP/2tu1WCZ9rSgoskl80SEVZWwnUPwk/AexvJy7VFWfiKo7/39vv\u002B5ThhOyrB0GN/mSeSOZ2tIn2trQA5\u002BFxljSjSmjRNWhpaWB187oclPqr4SnKNs2Aa3UECSgn7xSzcO23B73YvMn7NN6GAcHO2SK6VAW3pl9nI97zzCtAQnpLwoLNZIw80yVgzgLu\u002BWq0Ni8FbJoP\u002B8mOT\u002BTe5fCdu/FkOz8\u002BAXU="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-276aa970-62d9-b4ed-47a5-ec6b7da72293?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1990822903",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
