{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-689df486-13e3-aa42-bef4-9fcf0348bc43?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:03:48 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A70CD01FD7\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:48 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-689df486-13e3-aa42-bef4-9fcf0348bc43/test-blob-f6fec917-e030-e3ad-b973-2eb5005b1a09",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 May 2022 17:03:48 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A70CDF4D0A\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:48.3234570Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-689df486-13e3-aa42-bef4-9fcf0348bc43/test-blob-f6fec917-e030-e3ad-b973-2eb5005b1a09",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:48 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A70CDF4D0A\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:03:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:48.3234570Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-689df486-13e3-aa42-bef4-9fcf0348bc43/test-blob-f6fec917-e030-e3ad-b973-2eb5005b1a09?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A70CDF4D0A\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:03:48 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "zpeFjnoRAILFCk9nG4XX6xdReBtoplXY3hiIWLcTHwq9We06TE/TReddUOOP\u002BMMfFGEEIZajNShCra9iiafLsutFqcKXnZ/HfjM0C1VxSeVVaURVDv1zGiPF\u002BJ6fcbw/kp73SU8Ah3fCPKNibyrS0GTKDB9jdaTu0Y6f0qUAKA139Hi3ev\u002BWVOLNk9FaEKv58yc61WSc2xz6CXjAYbTSwhSW63qxGlZlNLg9luLSlMDipt99xVOo2hhcvXCH1fMt\u002B9G9xCQxR9jQ1aGsX0U6J3W33bvVVPzB7RFhVVzm3V7ED5oRFc\u002BbsV4GrfCy/HvTIZX70Pc4V6fU\u002B9cTz/F86vdC50\u002BqKRKlGytcz6YMD/CVjjTH6g1mjLfzPBn4[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-689df486-13e3-aa42-bef4-9fcf0348bc43/test-blob-f6fec917-e030-e3ad-b973-2eb5005b1a09",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A70CFCE2E4\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:03:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-689df486-13e3-aa42-bef4-9fcf0348bc43?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:48 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "215647720",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
