{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c9da26e9-8650-e3f4-5f6d-1ad8b5de8d16?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:03:47 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A70C4A134B\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:47 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c9da26e9-8650-e3f4-5f6d-1ad8b5de8d16/test-blob-b6203a92-59cc-956d-1616-2edc0854d0dc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 May 2022 17:03:47 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A70C59DC9E\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:47.4489502Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c9da26e9-8650-e3f4-5f6d-1ad8b5de8d16/test-blob-b6203a92-59cc-956d-1616-2edc0854d0dc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:47 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A70C59DC9E\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:03:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:47.4489502Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c9da26e9-8650-e3f4-5f6d-1ad8b5de8d16/test-blob-b6203a92-59cc-956d-1616-2edc0854d0dc?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A70C59DC9E\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:03:48 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "RWjqh3RoVe0rv1SjU6TZHTXdzoBsvG9jbZijJh2w\u002BVzrfguhV7DIod\u002BFpOa2bpOvl8EUQ0lASIj4hxrbxC7Pe8b4t9WZOMaFFC2h5hiJrf4E9I9cm7USqjaCqNCV7dywtikfvre\u002BFl76jy8cn2Fwb9kc19CfcuAQ5gyeFpD27ydQ8TDvae9HRd0xYgyG9QvVEjj2eRYMEENIDtiqIADNBJ8IzK0xgQXq1ZHzbRDUivAByQRX/3YRQ\u002BDsploXnCXcY11sfSlepJAyDKSEGaMzdITnqVf8dQUp9ojMRNur0jhrFgmyZwzHoiVzJPPRjCo9uDHWL/PO4O5YQ4egkV\u002B1hzlrGQKZgA13IAYyiFASV2pdj4up1KNFnTUbWiSFJhHFvp25Zn[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c9da26e9-8650-e3f4-5f6d-1ad8b5de8d16/test-blob-b6203a92-59cc-956d-1616-2edc0854d0dc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:48 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A70C8C08F5\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:03:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:47.4489502Z"
      },
      "ResponseBody": "RWjqh3RoVe0rv1SjU6TZHTXdzoBsvG9jbZijJh2w\u002BVzrfguhV7DIod\u002BFpOa2bpOvl8EUQ0lASIj4hxrbxC7Pe8b4t9WZOMaFFC2h5hiJrf4E9I9cm7USqjaCqNCV7dywtikfvre\u002BFl76jy8cn2Fwb9kc19CfcuAQ5gyeFpD27ydQ8TDvae9HRd0xYgyG9QvVEjj2eRYMEENIDtiqIADNBJ8IzK0xgQXq1ZHzbRDUivAByQRX/3YRQ\u002BDsploXnCXcY11sfSlepJAyDKSEGaMzdITnqVf8dQUp9ojMRNur0jhrFgmyZwzHoiVzJPPRjCo9uDHWL/PO4O5YQ4egkV\u002B1hzlrGQKZgA13IAYyiFASV2pdj4up1KNFnTUbWiSFJhHFvp25ZnMnozgkXw/sm1edRescQwHTC7OWJnvNfiXp8fr1bMqzWPH3NuxThXSTWAHdfhU4aeMP8rLpIz/3WiUSOm4V9y\u002BN6e36JQ0Vf4U\u002BAs157wAQsIcX5XoYyTWx/9vGQUsGfmHSUJQoPUTV\u002BXItqyFxfWokAYrm/hG1dR\u002B3SCUxTj46N4Nsp59r6HNDQesI6x4TQIFxoj/AIIBQHdt0cPQepKsz8nOdBdbLuRgWor0lrIoBowijwKz\u002BeRcDG4rE93h\u002BJZxA1PiqdjurpegnqX3CK3BRc8zseuT\u002BNHlcmek="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c9da26e9-8650-e3f4-5f6d-1ad8b5de8d16?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:48 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1330288493",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
