{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a2ac7264-6cec-5034-d128-ee2f298f1abf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 21:21:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA295D0FF4669F\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 21:21:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a2ac7264-6cec-5034-d128-ee2f298f1abf/test-blob-f70191a0-0cb3-3f2a-f04d-43db15b62a74",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Apr 2022 21:21:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA295D1003A8C2\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 21:21:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T21:21:30.3719106Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a2ac7264-6cec-5034-d128-ee2f298f1abf/test-blob-f70191a0-0cb3-3f2a-f04d-43db15b62a74",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 21:21:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA295D1003A8C2\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 21:21:30 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Apr 2022 21:21:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T21:21:30.3719106Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a2ac7264-6cec-5034-d128-ee2f298f1abf/test-blob-f70191a0-0cb3-3f2a-f04d-43db15b62a74?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA295D1003A8C2\u0022",
        "x-ms-date": "Thu, 28 Apr 2022 21:21:30 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "DNvM7NcaohqV7/gNJKZRn7yt2DVNSW8ven0nhGFHRRwpW4IjZYBoPFImPF/\u002BNVlI2knYybR/nsNrnHFZ8h65Tanc5MgkLTk8RZziJw0QMUQk36kXb3xoqb2\u002BuMkODko0bO62IlGQJK0PnIQYnXe2W2otNRJ1ot4tdDoLZXVwLTZSrroeWQ/zk7v7CNP3UAxGCFxe4dk3v8oQiK4Whb43n25Oxu68lwFbOaFXeZoLNiMuxV0YEUxcGu/wDtFh3Q78xGhkqIoeiXBbAqg34EYwBVKK579hHo0h8av/zIkw\u002BlyTWrQxpo2ZEDvsvQ6kJDqpwAh/1vVOmqXbQ7beH73mKwhLpIWR/1/F8NeEdWF\u002Bfc1wVQyBsSNmRL8OVmPWuvF9BZIGWIC1F8G[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a2ac7264-6cec-5034-d128-ee2f298f1abf/test-blob-f70191a0-0cb3-3f2a-f04d-43db15b62a74",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 21:21:30 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA295D101FB7E5\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 21:21:30 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "hEtBNLf5WLo=",
        "x-ms-creation-time": "Thu, 28 Apr 2022 21:21:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T21:21:30.3719106Z"
      },
      "ResponseBody": "DNvM7NcaohqV7/gNJKZRn7yt2DVNSW8ven0nhGFHRRwpW4IjZYBoPFImPF/\u002BNVlI2knYybR/nsNrnHFZ8h65Tanc5MgkLTk8RZziJw0QMUQk36kXb3xoqb2\u002BuMkODko0bO62IlGQJK0PnIQYnXe2W2otNRJ1ot4tdDoLZXVwLTZSrroeWQ/zk7v7CNP3UAxGCFxe4dk3v8oQiK4Whb43n25Oxu68lwFbOaFXeZoLNiMuxV0YEUxcGu/wDtFh3Q78xGhkqIoeiXBbAqg34EYwBVKK579hHo0h8av/zIkw\u002BlyTWrQxpo2ZEDvsvQ6kJDqpwAh/1vVOmqXbQ7beH73mKwhLpIWR/1/F8NeEdWF\u002Bfc1wVQyBsSNmRL8OVmPWuvF9BZIGWIC1F8GpueYdySVEXMXpbcmxZXrk5V/Fgqj87jXmBm/OdyRNuz1K1/c9SHqayvmd7E0ny58YInMg75UYrcqwN8O1deSgnLKLZo6CppzlKrivXgLovjrQtlSxLMuoMiosjBG35FQU/E\u002BanGURlXzXOsTdaE7IyHiI5b\u002BP72/m4zNjVhmKLUZjmmGyTSLVviDY2fEGy8nbY8SYL/\u002BVhA3ftLgxrj5iTA1\u002Bes7sFXpWsieetxV93xdqiPJU8f5GzRVU0plppBDhdozkiFH77k5KQnzY9833YdSgxyVMDVs="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a2ac7264-6cec-5034-d128-ee2f298f1abf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 21:21:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "123837271",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
