{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-dddd0362-7042-2ff7-f913-6623ceaf0e65?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 03 May 2022 20:53:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D46F4BD61B9\u0022",
        "Last-Modified": "Tue, 03 May 2022 20:53:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-dddd0362-7042-2ff7-f913-6623ceaf0e65/test-blob-69155e6c-4626-ab01-ca41-90fb2d53eac9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 03 May 2022 20:53:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D46F4CD7E36\u0022",
        "Last-Modified": "Tue, 03 May 2022 20:53:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-03T20:53:20.4415030Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-dddd0362-7042-2ff7-f913-6623ceaf0e65/test-blob-69155e6c-4626-ab01-ca41-90fb2d53eac9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 20:53:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2D46F4CD7E36\u0022",
        "Last-Modified": "Tue, 03 May 2022 20:53:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 03 May 2022 20:53:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-03T20:53:20.4415030Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-dddd0362-7042-2ff7-f913-6623ceaf0e65/test-blob-69155e6c-4626-ab01-ca41-90fb2d53eac9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA2D46F4CD7E36\u0022",
        "x-ms-date": "Tue, 03 May 2022 20:53:20 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "3MsCu2jn/9sZaXSJMAjhSWQ14uSiUNL78uWrxtNRnySJHhKCrfPIWesxpCnl\u002BVZGZGo0nmJLgIz5BsiCPDgIx8pP/xL2XptxbIj5cKuoFvmPZGJpHQDCPZ6GiaYqRh2yKdxflflETwXOwjHZUhDgUPDO8tfWnqrJjcFzcNX1RyZrRkbOSYH/SxVcm1vO6euOpjm1XFNF3IsylQg30N8w2HsLbQzKEQdvzqfCeQNP\u002B6PW5cqbP\u002BrTJmm6nLN4yHo1LMLgw3vexJQxRo2rg2OI45pkYeoVlJmQN0eiD3RU9gYsjE1Abjco9yE1avldKKIGMrgYFGePIJcpUIwzPLQf3U\u002BGfvcVSHRjPGnJ4CqfMg6lnN28O\u002BKfnGy1Fh6r9LtsFYyp1q[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-dddd0362-7042-2ff7-f913-6623ceaf0e65/test-blob-69155e6c-4626-ab01-ca41-90fb2d53eac9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 20:53:20 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "yPLn\u002BnkRx870hk/GWbgIqQ==",
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2D46F4EA29B5\u0022",
        "Last-Modified": "Tue, 03 May 2022 20:53:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 03 May 2022 20:53:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-03T20:53:20.4415030Z"
      },
      "ResponseBody": "3MsCu2jn/9sZaXSJMAjhSWQ14uSiUNL78uWrxtNRnySJHhKCrfPIWesxpCnl\u002BVZGZGo0nmJLgIz5BsiCPDgIx8pP/xL2XptxbIj5cKuoFvmPZGJpHQDCPZ6GiaYqRh2yKdxflflETwXOwjHZUhDgUPDO8tfWnqrJjcFzcNX1RyZrRkbOSYH/SxVcm1vO6euOpjm1XFNF3IsylQg30N8w2HsLbQzKEQdvzqfCeQNP\u002B6PW5cqbP\u002BrTJmm6nLN4yHo1LMLgw3vexJQxRo2rg2OI45pkYeoVlJmQN0eiD3RU9gYsjE1Abjco9yE1avldKKIGMrgYFGePIJcpUIwzPLQf3U\u002BGfvcVSHRjPGnJ4CqfMg6lnN28O\u002BKfnGy1Fh6r9LtsFYyp1qmr8OlEtdf9xkBtiR19jp/XY6Fs5\u002BGLXzFVt0itXMqd9ltl\u002Bavzd4YLodYrSI0BLmUclbHrPO/IIJC47v2PUGl1z5PBGJXz4\u002BwbYUYLXxejVInikccZsrlsndkbOomIe1Fstnn6PxbQKLHFz9qpvMF5FZlzrL\u002BiWx3ZVHq72KlikuX0nqieqRVzEmgVU\u002BLew\u002BAXoSXwFM\u002BSyVtbIOqbFE8IYz31tB4Z22yEAJpWjQc6\u002BpCaozeDcn0WYtRNQogq2P0ZDPCk6Q/C/sa4bBQ1OzxTISZaAHAYhPC/3lE="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-dddd0362-7042-2ff7-f913-6623ceaf0e65?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 20:53:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1273563357",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
