{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b13e3efc-5126-af93-39a2-f018269dff93?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:04:50 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A73207F88D\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:50 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b13e3efc-5126-af93-39a2-f018269dff93/test-blob-1fde5d24-855d-e411-cf12-0a687f0fde67",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 May 2022 17:04:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A732172AA3\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:50.7652771Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b13e3efc-5126-af93-39a2-f018269dff93/test-blob-1fde5d24-855d-e411-cf12-0a687f0fde67",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A732172AA3\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:50 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:04:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:50.7652771Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b13e3efc-5126-af93-39a2-f018269dff93/test-blob-1fde5d24-855d-e411-cf12-0a687f0fde67?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A732172AA3\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:04:51 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "\u002Biz6mvaCYpnbeElhsD7dxu0yyRRKKFYUyXF8NulEkpyG5FqmeBrHzK\u002B4/MRVS0yxaLIx/wMpctLW5dCFBiuwluat28zjNk7Ta/xkkiyRv34kys42EpKYXHKI0JJJQcaDB2XeqG\u002BAzjFkXpQHxd\u002BlRCZSYDtdeoNTFH9aWma8iik14IrHsxcOpPyc0rT\u002BkZaS4ots9uGLJo3hipPwJXPLqNNq0uRV3pAPRLs\u002BwKjPVIPox3faT5NIqbr85SiDHX6J0SnhlL\u002ByPAP7XLIlTWXlEjUQCF378FhAISgqWfloiyY9tO9\u002B7cDDNYt03/LhI1tVF9PycxUgjeDRoHKWiOMKktGL6Jh1ZyR1TNLShxFlXv7N1EEmdRgQHCY[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b13e3efc-5126-af93-39a2-f018269dff93/test-blob-1fde5d24-855d-e411-cf12-0a687f0fde67",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:51 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A73234996D\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:50 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "WvhX36N9\u002BiM=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:04:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:50.7652771Z"
      },
      "ResponseBody": "\u002Biz6mvaCYpnbeElhsD7dxu0yyRRKKFYUyXF8NulEkpyG5FqmeBrHzK\u002B4/MRVS0yxaLIx/wMpctLW5dCFBiuwluat28zjNk7Ta/xkkiyRv34kys42EpKYXHKI0JJJQcaDB2XeqG\u002BAzjFkXpQHxd\u002BlRCZSYDtdeoNTFH9aWma8iik14IrHsxcOpPyc0rT\u002BkZaS4ots9uGLJo3hipPwJXPLqNNq0uRV3pAPRLs\u002BwKjPVIPox3faT5NIqbr85SiDHX6J0SnhlL\u002ByPAP7XLIlTWXlEjUQCF378FhAISgqWfloiyY9tO9\u002B7cDDNYt03/LhI1tVF9PycxUgjeDRoHKWiOMKktGL6Jh1ZyR1TNLShxFlXv7N1EEmdRgQHCYOrUxOLa2naUwhVjrD37CufSZDTgbPa0JzybOh5B24esxxZ7rXJh4kKh3EQwjDCfWRd/fyzc0gPkEK2mT6BYUvadtuUXj211cHHiPoCyg6r7\u002B\u002BD2wlxaz\u002BUSh4zUu6KiSYldktVbh8m6Cg6q\u002BqNzMY0CqlPPUYCqMucP9QfQoLTfT\u002BUHZODVoGQXTMhNv9Uxn0YPwgFe0ugIs1/uW4LB6WlZy7rOe9ycPQnvuBS4XIMRzmWxwN6jgGz9DrGA50TRRVNu8\u002BQacyN5Y5UHbyrTQFbczJ0tEBiKpktNwX0rG0W1DmKxWWie8="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b13e3efc-5126-af93-39a2-f018269dff93?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1653048777",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
