{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-deb8cde5-7e0d-abe9-d896-088274458455?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72F31DB1A24\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:47:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-deb8cde5-7e0d-abe9-d896-088274458455/test-blob-e647d883-66ef-0021-7aec-95f1e27c7165",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72F31E4AC50\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:47:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:47:12.2229328Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-deb8cde5-7e0d-abe9-d896-088274458455/test-blob-e647d883-66ef-0021-7aec-95f1e27c7165",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F72F31E4AC50\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:47:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 24 Feb 2022 00:47:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:47:12.2229328Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-deb8cde5-7e0d-abe9-d896-088274458455/test-blob-e647d883-66ef-0021-7aec-95f1e27c7165?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9F72F31E4AC50\u0022",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:12 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "ivJbpzN\u002BSdIpVzqfCEnc1hd6cXPw115TQY/WwCvqlWbeLRXdp9dakreDg5\u002BPIOA1NxGiUcwcWLKTB2WjqIimP8HUwdo0/i4/IN68bFS/xCCvoIkZR0SZwtViSaBxtuov3ETdu18FATjiYjDuX\u002Bxd00JE8wf/jfd8Ov4F0bWOzWnzjI8Q4QjAqp9QNuQUq2LpBHVdLMLjME9MYYFg/y\u002BDVJTG\u002BtNcTfE6hElnr1YSaI6cHMw/MaGnEFw/w4CHX6pwzOJQTbGOjLeDI6h5e4H5OvjyxONiRCLzH\u002Bp2HIlxsiSe9\u002BJzwhvdDo8Vuw74LpTbRomIlJvHDoi/XC3HGG8tEnCE2oSehXfdFbVTTYkU\u002B/BVm9YA6R2I1\u[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-deb8cde5-7e0d-abe9-d896-088274458455/test-blob-e647d883-66ef-0021-7aec-95f1e27c7165",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:12 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F72F31F60EE5\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:47:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "3CCxVSYmUfo=",
        "x-ms-creation-time": "Thu, 24 Feb 2022 00:47:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:47:12.2229328Z"
      },
      "ResponseBody": "ivJbpzN\u002BSdIpVzqfCEnc1hd6cXPw115TQY/WwCvqlWbeLRXdp9dakreDg5\u002BPIOA1NxGiUcwcWLKTB2WjqIimP8HUwdo0/i4/IN68bFS/xCCvoIkZR0SZwtViSaBxtuov3ETdu18FATjiYjDuX\u002Bxd00JE8wf/jfd8Ov4F0bWOzWnzjI8Q4QjAqp9QNuQUq2LpBHVdLMLjME9MYYFg/y\u002BDVJTG\u002BtNcTfE6hElnr1YSaI6cHMw/MaGnEFw/w4CHX6pwzOJQTbGOjLeDI6h5e4H5OvjyxONiRCLzH\u002Bp2HIlxsiSe9\u002BJzwhvdDo8Vuw74LpTbRomIlJvHDoi/XC3HGG8tEnCE2oSehXfdFbVTTYkU\u002B/BVm9YA6R2I1\u002Blas2XtFvYf56iddFQQPMARqn/lc8D\u002Bq2E8cnyZLSlS/AKaRNER7/\u002B/M2XgdoacRF4V7j6eomQoWwgEsKR5hrl\u002BS3dRdvjv/7qAJj9bHTTaoC0ehD7rtFmecujIDT9bRq2sYisOS85lJu\u002BDHnwkzT3UKhB2WgJ6kpceswMQJvJ7Jd\u002BSrrsIy1VfuF5PaJXdeaWq9OMv5OuqMc\u002BU8JfKVf/9B/ickh6CzF67FqKkKyoBQDpeZTEOS0D0533sdNq9lGNeUmCdQeeHKCiEdM1JBgakk7BcbO/N7ru4p6qglVeE/YI\u002BRtjJZP4="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-deb8cde5-7e0d-abe9-d896-088274458455?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1479371420",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}