{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b4b2efba-3226-6e61-2319-a8c84b558250?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:03:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A7129DF2AA\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b4b2efba-3226-6e61-2319-a8c84b558250/test-blob-c64c8166-a306-bf8a-a678-5cf86f5f7955",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 May 2022 17:03:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A712ADBCE3\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:58.0649699Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b4b2efba-3226-6e61-2319-a8c84b558250/test-blob-c64c8166-a306-bf8a-a678-5cf86f5f7955",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A712ADBCE3\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:03:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:58.0649699Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b4b2efba-3226-6e61-2319-a8c84b558250/test-blob-c64c8166-a306-bf8a-a678-5cf86f5f7955?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A712ADBCE3\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:03:58 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "HecqhxBRnJxOYcdw5R8hSKVa/OxjJOpYtEO7MQAejIpquyVlsOw9esJVEANXQjLpU9PcamVeLvn80dLMlWucMNU9BSr6vJi5HIIqDRPmAXIQ0t4sQSIlC4wraN4ZceVWud8uGjwI75Y7Ik7jMyHlFtBfu8KMb\u002B6zF/mdzlS6oKqd01M0uOc1CONI8R7TQthrRVIOubUiykrwewJCaiBCgYKjRl/OsV7oKrPeRH3P39UhMokCrOb1egkIQzzk8p3DBXCcMPt4nJP0JY8BQ4bMIZwsITeWQNScrctWxW4hBDcVGz4NM67ZqZX2DoZW8zaCPCGguNFmLMWbAIIwIdck0iFY7CdHv\u002B3tU3ehoDJNRbqV04hMgUxlr\u002B94cTMrqYe\u002B0Ttl/gcOOn0[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b4b2efba-3226-6e61-2319-a8c84b558250/test-blob-c64c8166-a306-bf8a-a678-5cf86f5f7955",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A712CCB219\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "1sU6CSUwMFA=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:03:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:58.0649699Z"
      },
      "ResponseBody": "HecqhxBRnJxOYcdw5R8hSKVa/OxjJOpYtEO7MQAejIpquyVlsOw9esJVEANXQjLpU9PcamVeLvn80dLMlWucMNU9BSr6vJi5HIIqDRPmAXIQ0t4sQSIlC4wraN4Zce[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b4b2efba-3226-6e61-2319-a8c84b558250?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "834140871",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
