{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b310be78-b26c-b1bc-06b7-fd615adfa349?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:04:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A729E2F7D3\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b310be78-b26c-b1bc-06b7-fd615adfa349/test-blob-2ce1b3f9-ec59-b9a2-05e5-55f683b7612a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 May 2022 17:04:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A729F29E00\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:37.1039744Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b310be78-b26c-b1bc-06b7-fd615adfa349/test-blob-2ce1b3f9-ec59-b9a2-05e5-55f683b7612a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A729F29E00\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:04:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:37.1039744Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b310be78-b26c-b1bc-06b7-fd615adfa349/test-blob-2ce1b3f9-ec59-b9a2-05e5-55f683b7612a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA32A729F29E00\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:04:37 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "2mHsqhSWLjEfAVWaA93ZwJ7b7CD6KQ0Hk7IpVbGzArLnsAV2Wm4N3guzWjldDgJVLdRMMr/JArFU5Bdhbdh/bP\u002Bjs1LXYmUvzQ4UR87UqoSw1CjcZs/yHq1TInVXrHAzM\u002B06uluvfcpuHGWwtbvigDqSsZmvowYvsJWlg0Dv2CCe4BPgme8pAFdebUlqQmjycaI7xfvXhJDnCgnGCvmKfkNEEtSnAeZKabBCUDW8xG4sshKetBMkxlyD\u002BY/lYvZe1O4GJi\u002BUSm\u002B78FxLlTNaK0Wbmljm7MowH0t4IwhXZAa65HxGtp4\u002Bl2ei4sO32TEoKM1JSsied\u002Bgk1QbkHCZnZItVkLC2E3WnXALwRAoGeEUZT/s6DRo\u002BHGy[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b310be78-b26c-b1bc-06b7-fd615adfa349/test-blob-2ce1b3f9-ec59-b9a2-05e5-55f683b7612a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:37 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A72A0FBEBD\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:04:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "3CvmkzXFXDA=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:04:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:04:37.1039744Z"
      },
      "ResponseBody": "2mHsqhSWLjEfAVWaA93ZwJ7b7CD6KQ0Hk7IpVbGzArLnsAV2Wm4N3guzWjldDgJVLdRMMr/JArFU5Bdhbdh/bP\u002Bjs1LXYmUvzQ4UR87UqoSw1CjcZs/yHq1TInVXrHAzM\u002B06uluvfcpuHGWwtbvigDqSsZmvowYvsJWlg0Dv2CCe4BPgme8pAFdebUlqQmjycaI7xfvXhJDnCgnGCvmKfkNEEtSnAeZKabBCUDW8xG4sshKetBMkxlyD\u002BY/lYvZe1O4GJi\u002BUSm\u002B78FxLlTNaK0Wbmljm7MowH0t4IwhXZAa65HxGtp4\u002Bl2ei4sO32TEoKM1JSsied\u002Bgk1QbkHCZnZItVkLC2E3WnXALwRAoGeEUZT/s6DRo\u002BHGyUIuCXWntAOn03YUiAcRRYou3FrTPeHVzAyswrLVZxF3REIvGUDwKHrwmMzxf9mN3m4WsseG45tgWE1pCuFAwmxUrUPE8jxJLrPv4pUU1FwzHvRUzqRZ4GCmzrEDhx2Jr8ZgnMKVyNwh3ZQDpwD2W3PhJev8/AO4CszTHjOLNZeWZjLepEeJrVYYIvEQRjlfsGM9ElExnLPCqIIFsqqoppf8fUDeJ6c8V4iV1MkSl8SDg23AThNGZMmPDAu1g/q7f4xZI8j4gYjMAMrYm7fqsAC9ci882Fh0tgh3TxurdsON6lVMuXP7k="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b310be78-b26c-b1bc-06b7-fd615adfa349?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:04:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "366930283",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
