{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8c936c48-d7ae-e6af-0cc6-4ceafb76ad24?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 22:07:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A7A51630F\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8c936c48-d7ae-e6af-0cc6-4ceafb76ad24/test-blob-cc406ab2-83d5-56f8-8e6a-fc1b9a533ad9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 04 May 2022 22:07:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A7A62F9E2\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-04T22:07:28.3690739Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8c936c48-d7ae-e6af-0cc6-4ceafb76ad24/test-blob-cc406ab2-83d5-56f8-8e6a-fc1b9a533ad9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "ktpPuOti4Ew=",
        "x-ms-date": "Wed, 04 May 2022 22:07:28 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "RTGKcU9nCCTuJSCgO/v1iJsxobLRO4wjlao3QAyuNLuVXW7A\u002BrrL4UGBhHP6HY12wY80Bw7GbQqlZtulMMgXP/BlCt2MNY7gZsBwT7YYKHccwH58ei2sz/BkG5PeJbB5aUSClROw6osBU6BOVR1TjD5kiHBJm8TDuDrsJxr7AUEQ9\u002BVylZJjbNbzeyaMXXnTEI5Uep1AL85/v9zYw8JwBVJfPl434fasABuZVR\u002BdNlrBGRaMpoej0McW8ta1iqkTgnXULB8bmy\u002BXqHmBptqv4oiBF6mr5F7Ku22WIO8g9nVyhdKpyAo7pn7n9P4NIintZw9NM3MAaJ4WCnCxhHo/drEEDyAHBRl\u002BRnErxPBgvJlEqbnf08MCch00kr6ZiSEDp31NCR[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8c936c48-d7ae-e6af-0cc6-4ceafb76ad24?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:07:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1271620100",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
