{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f7abb2df-d5e7-fcde-c13a-b3f07ac8223d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 22:07:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A7AE85D06\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f7abb2df-d5e7-fcde-c13a-b3f07ac8223d/test-blob-51965301-d89c-b651-dd3f-4dfa9f657150",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 04 May 2022 22:07:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A7AF89457\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-04T22:07:29.3485143Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f7abb2df-d5e7-fcde-c13a-b3f07ac8223d/test-blob-51965301-d89c-b651-dd3f-4dfa9f657150?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "vR91xRtlNKY/r9SFK6wfig==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 04 May 2022 22:07:29 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "hzZZAYKITFM8T2bxPtUE015aOwa1vTQEuB1R8k\u002Blo0JtUIHBlNrVLCi/J7kgXseioWlxXRKBkcoBVUhlNlkDl6skg\u002B1TQz6DhQ/e9ZZ741lVrlDmNEUw67\u002B3vz\u002BRb/XOu5AO/NvaT14q7dgCo5szhnLvD4gJHGJm9Jctm4P\u002B8hYaEDoFbOd\u002Be17yvEZtLUgkhDnNomBsxZ4tqAhDrbTbK/vB6JNhLRmKcZQpFmAc\u002BMZPCRdJMU\u002B2rUub2MTfOs2qF5BLq0S1wlYfQjHLQ649EK9B9KOdkfqrCzpIxlVUqzbGf//Q0UyCmUbBKu8e6mqcXccVnkUqDIWVn58KbfwAypb6BcOubT9iv1pd3GcKjCHQq2iOPw3xnHJ[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f7abb2df-d5e7-fcde-c13a-b3f07ac8223d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:07:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1414447438",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
