{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5f0ee6cf-7133-001d-b229-a7a5e96e6333?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 23:18:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E246BF8B3BE\u0022",
        "Last-Modified": "Wed, 04 May 2022 23:18:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5f0ee6cf-7133-001d-b229-a7a5e96e6333/test-blob-fa419c76-438c-2291-cb7e-7ee2094b671c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 04 May 2022 23:18:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E246C0D12D7\u0022",
        "Last-Modified": "Wed, 04 May 2022 23:18:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-04T23:18:39.2852954Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5f0ee6cf-7133-001d-b229-a7a5e96e6333/test-blob-fa419c76-438c-2291-cb7e-7ee2094b671c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "HBkTbitNHTzTweijIil17Q==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 04 May 2022 23:18:39 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "4RfWhXlcTeVNd\u002BbrD8p6QqNmGP4u/aOxH1tuy1nD31VFa3BumgHHMJ1aGBi6FSkufE4xUQoExuRzJWYd7oKLiZeQpaNZC6einuhg1OSK9goyP04LkY5LQKWM\u002BnWaqkIbz4\u002BAKm\u002BF1XCmj7Iio/L/6S5b6q4zgPcJRWT\u002BzBAyB/SlRQRVCcyarWrdZALbKJyzjRFGP7\u002BU506Xd\u002BQKhwhgdIi\u002BfF7tqd9iwT1DVRz1Lh3ISj7/68g0EV62vpLnkCZiffB5HKw\u002BxeQx436BUJExoUjHQjzJYIjAiWr/NupNezAX4dcsexFwiYVazQhKssHMhBxJIE3qmBxnuZNBPo/55GhNam\u002B5BSU3Vri3bpOAdtapM[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5f0ee6cf-7133-001d-b229-a7a5e96e6333?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 23:18:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "353662195",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
