{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4e0e31d6-1a29-f528-7cd3-069c07541cce?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:46 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D111B6D2F3A\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:46 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4e0e31d6-1a29-f528-7cd3-069c07541cce/test-blob-af5b55a5-951a-7060-8e24-f5e8175e2d9e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:46 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D111B7653F2\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2021-10-11T23:44:46.4335858Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4e0e31d6-1a29-f528-7cd3-069c07541cce/test-blob-af5b55a5-951a-7060-8e24-f5e8175e2d9e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "RLaDyP013EJtvBFMZtwO\u002Bg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:46 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "Dl0kQgUDwQ5EX4VNWQFe1cDgzkcd2kEiqqaEV70p8QCW6Ro4gtAhyv8o/C1qvq96ajUC3Pn9uDIcAphef2lRG26Ft3DmJVPwvgRH9d4Tt\u002Bz3Ce2IJhUGmTDoHIA3w0qV1uC/5AY\u002BlETiEh31tcNTCEqsZnV8yfVZfh4//gjSuPu5sh79VNPluHWophP3EONtlBQ1i1zVGQ3rZmbo/5U7D1kiPAOkVbR3x67/0yPhYW060Wr0nS2f5JgREu1s/LngbZa61NTgyD5gvsSu1UbpCgT4rS0qR3Isg1hqk0PGCsr1H2aMJo2ZWgkrk95o8Q5SJwjoc0\u002BLtSUkjVF7dTX7mbP6ubbfXeN3X1Mk/7OTw5FKF2s73pZ7aWlAZ5k7HeTTMPoqbjhXcsokcRT7[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4e0e31d6-1a29-f528-7cd3-069c07541cce?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:46 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "7627791",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}