{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8886397d-8549-9351-680f-4756be1accd7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 22:07:27 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A7A0B3C82\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:27 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8886397d-8549-9351-680f-4756be1accd7/test-blob-06fd7e07-1854-6610-3c96-0611924d83b5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 04 May 2022 22:07:27 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A7A1BC21A\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-04T22:07:27.9013402Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8886397d-8549-9351-680f-4756be1accd7/test-blob-06fd7e07-1854-6610-3c96-0611924d83b5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 04 May 2022 22:07:28 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "GTdkVHEk\u002BwF1\u002BePrjGCiE6FVEgrAUaezdlb2P/lJ4uQgb9e58BiBHrhZBTdIrVRo2m/ZVa4yyMiQsd4bLbwHLBb/yx2J6SOI0/NSZktva8gBjmSKb4027qcOKT45ZfH7UdkhSOE33/BLUYG632F9IEYWGp9XfbyIyd12esDlTm4CVxVxTiLmya9zPh0Mew5FkQn4I0tRo9McmX8EwWQwZgISt4hMC9EkL1Dv4z\u002Bfe03OMOi27CoisLNBVLSi4QdKQtca\u002BsSG\u002BYU30/T7Yr\u002BUfR4yNpF8eXnY8AbUC7YcgU1IpKBnhIGIRzdjfxk2J07zrNeWb6t2zshdQgm9su7OGlGmsr0eLPmdqe9ZGPpgocm44F7fhhKi0dXXCUF3y5VJl[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8886397d-8549-9351-680f-4756be1accd7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:07:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1234098504",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
