{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-3977435c-7822-91ef-4100-13e65abc5a1e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 23:18:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E246BB06AAA\u0022",
        "Last-Modified": "Wed, 04 May 2022 23:18:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-3977435c-7822-91ef-4100-13e65abc5a1e/test-blob-ff7187f3-42d1-1d0f-921c-12014fc59fd9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 04 May 2022 23:18:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E246BC0D2B9\u0022",
        "Last-Modified": "Wed, 04 May 2022 23:18:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-04T23:18:38.7845817Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-3977435c-7822-91ef-4100-13e65abc5a1e/test-blob-ff7187f3-42d1-1d0f-921c-12014fc59fd9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "/IIuyhFGfsU=",
        "x-ms-date": "Wed, 04 May 2022 23:18:38 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "evVGup5wB0QNR5prpi0vfWArEMzwXHa9bXw4z0dOxBwtL0dsfuZJZYWH8V8/NZy9u1OHP3G9sR5\u002BiEwhNzf9voN9Pnfmw/564atGaWsXfjjfexTzxoSrcH0p7faZJy1OiTLcwvcl1vhVDF7GdkeyZwoTQrsjCff\u002B0c36vdUI4Ll9\u002BN85OrtBuqQbnrom5fo1doXshuVxKn863vApKhkiTCykSH1oeS1O0ocXCGs91\u002BzTxEdQHFrUC85f/lzKF4\u002BL\u002BVGOgp18zfxYnbNdWiIU/QYEVWbR0jDR0DyuCHvRg7r3iw4Zr1VPVvdK\u002BH6mdrGsSwFVxsEpuSchvLFgzcWBhxr5Zs8T\u002Bk2xtf9vh9mxKlmKArx6e7z4ztH[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-3977435c-7822-91ef-4100-13e65abc5a1e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 23:18:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1693096318",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
