{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-74d772dd-cd52-766b-6e32-35fccb56524f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D111D572E8F\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-74d772dd-cd52-766b-6e32-35fccb56524f/test-blob-d22edf48-abff-45b2-5a66-d1ad1ff32d35",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D111D60778D\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2021-10-11T23:44:49.6457613Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-74d772dd-cd52-766b-6e32-35fccb56524f/test-blob-d22edf48-abff-45b2-5a66-d1ad1ff32d35?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "z7a8YSYMFHQ=",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:49 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "XFhnBsCJL4wv67z3srLtyz2xCvVF6xHoRGz78iPTvBtv/VwvOu7DZ6aEN1Nsy/YdwmExfZH213FHf8FUjjxpWy\u002Bhh7VVvpBP7qNOwLS\u002BfHl13i/Boj6JeCXr57stb9lqGtwjykNBxwTR4o/upxe8iQNI3q8MqLjwGA6PatfVIn7J5KXXmrE1NBYr77\u002BvmtEOLl235JEpXXIjM7I0sV0s\u002B8AQJcNx5e9SEqmZ4bj5QX09gTt5HT3tn4cztGb\u002BAIK4/vT/nnQNnEluZdHnkHu5KvI19jAis96CI4U7PjCIVBEm4OLE\u002BaIJL\u002BXxC7hrBQ8LeYp0yQpSlksVfXru0l0Z5RHAwK\u002BZ9TBPLMZKMKcmFh12L8WmE4sH1Em[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-74d772dd-cd52-766b-6e32-35fccb56524f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1831935166",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}