{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2812c37c-b8ce-5d37-a2b0-0407b9b5f370?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 30 Mar 2022 00:24:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA11E39765A2A7\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 00:24:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2812c37c-b8ce-5d37-a2b0-0407b9b5f370/test-blob-0709cfb0-7032-dd0b-c9ce-c2e34304d35c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 30 Mar 2022 00:24:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA11E397710ED3\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 00:24:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-03-30T00:24:02.2363859Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2812c37c-b8ce-5d37-a2b0-0407b9b5f370/test-blob-0709cfb0-7032-dd0b-c9ce-c2e34304d35c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "dMDWV\u002BxwTLQ=",
        "x-ms-date": "Wed, 30 Mar 2022 00:24:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "RlRn72mtKUI6k/\u002BnHdimy5MS\u002BY/2P3VLyuXf6XYX9A5lahhibi2IX/98eWfyogU/r/jdeCAyOgbeHCWEzUDMIp7xQrO/RFxlipqPecYOWCfgoDl\u002BOXztMi8Rg1IIBJG/sFbIAWBSf2ubeO2GosBA0MP9oy0GTegiAw\u002BDrcEKXIYI0MhvRlfHjSDO48GOZ5Bv0bOOCmBkuGJtpf1QztKpkBtnftH40IprNhUNOGonlJx\u002BFNwOfFImpBdlAqBadr9NJFKlJui\u002BdgAoItRKVoD4RhFh0rr1mxTJQdq5ks7pEcBWvxMXgm2zv53b5Vl\u002B202XbbuP\u002BaQEWIg\u002B2\u002BUOBeQxPhAT85Zt4MSkrRIcGba6S2WMI[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2812c37c-b8ce-5d37-a2b0-0407b9b5f370?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Mar 2022 00:24:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "715589641",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
