{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9ed17ef3-349d-70c8-d883-8209493d380b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 30 Mar 2022 00:24:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA11E3973AEF5F\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 00:24:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9ed17ef3-349d-70c8-d883-8209493d380b/test-blob-f2bf4ad9-eebb-c2f6-3e04-1745f157ba4d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 30 Mar 2022 00:24:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA11E39746347A\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 00:24:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-03-30T00:24:01.9555450Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9ed17ef3-349d-70c8-d883-8209493d380b/test-blob-f2bf4ad9-eebb-c2f6-3e04-1745f157ba4d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "\u002BCSfl2hwlJ4=",
        "x-ms-date": "Wed, 30 Mar 2022 00:24:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "GUQ07Wd0m2Zcequ72o39h/LrwQZMRtN5T7qTLpih6NQfzCIuHaMv06eKlb2qH6DEMG2Ng1y8QNFwup6s4W3Nu5LXnA5qzmpPvO1fwrEWzy8azv0rE2R3YotQvmIFgvI6vNoq0oORWmIDPsdvXH0fWupukRNvoqcuXzmDGQ8HSTn7JAXX6/2siHOaKNSdCAUNMGN3lvDeyhoy/HJJDkBT\u002B/SNczh4SG/twQif1XrSkVYzdeisj7NIHFrrpO6KY3oyRyzfD5TNlej0itXnP/WgX2sbFplXp2xBRFfdjKOAY16ObI1N8oHBZd8AtwXeYd1lSkSDbk3h26C/nco98AhFcyZ2WdJnUm3pWrC5V\u002B9nY\u002BN6eEJe/fURrJHtjVW2hHXWu0TeZwcK/vfXmRSc[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9ed17ef3-349d-70c8-d883-8209493d380b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Mar 2022 00:24:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "371308683",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
