{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/resourceGroups/synapsesdkrp379/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace9520?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStorage\": {\r\n      \"accountUrl\": \"https://synapsesdkstorage9497.dfs.core.windows.net\",\r\n      \"filesystem\": \"synapsesdkfilesys3027\"\r\n    },\r\n    \"sqlAdministratorLoginPassword\": \"Password1!6459\",\r\n    \"sqlAdministratorLogin\": \"sshuser4866\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/resourceGroups/synapsesdkrp379/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace9520/operationStatuses/af44a5d8-d744-4c19-b1d1-d26daa7bddfe?api-version=2021-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStorage\": {\r\n      \"accountUrl\": \"https://synapsesdkstorage9497.dfs.core.windows.net\",\r\n      \"filesystem\": \"synapsesdkfilesys3027\"\r\n    },\r\n    \"encryption\": {\r\n      \"doubleEncryptionEnabled\": false\r\n    },\r\n    \"provisioningState\": \"Provisioning\",\r\n    \"connectivityEndpoints\": {\r\n      \"web\": \"https://web.azuresynapse.net?workspace=%2fsubscriptions%2fb7f4d3eb-f18f-4c5e-9888-d946d8aa81a6%2fresourceGroups%2fsynapsesdkrp379%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fsynapsesdkworkspace9520\",\r\n      \"dev\": \"https://synapsesdkworkspace9520.dev.azuresynapse.net\",\r\n      \"sqlOnDemand\": \"synapsesdkworkspace9520-ondemand.sql.azuresynapse.net\",\r\n      \"sql\": \"synapsesdkworkspace9520.sql.azuresynapse.net\"\r\n    },\r\n    \"managedResourceGroupName\": \"synapseworkspace-managedrg-763b9f23-7e88-42fe-9784-745778484111\",\r\n    \"privateEndpointConnections\": [],\r\n    \"workspaceUID\": \"9d8833ea-fb7a-4082-aa4f-d0b2809d6ff6\",\r\n    \"extraProperties\": {\r\n      \"WorkspaceType\": \"Normal\"\r\n    },\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"cspWorkspaceAdminProperties\": {\r\n      \"initialWorkspaceAdminObjectId\": \"2a1ad28b-d02c-4444-b9ef-fcc52ea0c9e3\"\r\n    },\r\n    \"trustedServiceBypassEnabled\": false\r\n  },\r\n  \"type\": \"Microsoft.Synapse/workspaces\",\r\n  \"id\": \"/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/resourceGroups/synapsesdkrp379/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace9520\",\r\n  \"location\": \"eastus2\",\r\n  \"name\": \"synapsesdkworkspace9520\",\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"principalId\": \"a8a3e889-383d-46be-a4e2-03b401cbf9a0\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/resourceGroups/synapsesdkrp379/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace9520/operationStatuses/af44a5d8-d744-4c19-b1d1-d26daa7bddfe?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/resourceGroups/synapsesdkrp379/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace9520/kustoPools/kustopool8313?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Storage optimized\",\r\n    \"size\": \"Medium\"\r\n  },\r\n  \"properties\": {\r\n    \"workspaceUID\": \"9d8833ea-fb7a-4082-aa4f-d0b2809d6ff6\"\r\n  },\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"\""
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/providers/Microsoft.Synapse/locations/eastus2/kustoPoolOperationResults/b6070349-9371-4514-93be-7d7225f8369f?api-version=2021-06-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/resourceGroups/synapsesdkrp379/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace9520/kustoPools/kustopool8313\",\r\n  \"name\": \"synapsesdkworkspace9520/kustopool8313\",\r\n  \"type\": \"Microsoft.Synapse/workspaces/kustoPools\",\r\n  \"etag\": \"\\\"\\\"\",\r\n  \"location\": \"eastus2\",\r\n  \"sku\": {\r\n    \"name\": \"Storage optimized\",\r\n    \"size\": \"Medium\"\r\n  },\r\n  \"properties\": {\r\n    \"state\": \"Creating\",\r\n    \"workspaceUID\": \"9d8833ea-fb7a-4082-aa4f-d0b2809d6ff6\",\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/providers/Microsoft.Synapse/locations/eastus2/kustoPoolOperationResults/b6070349-9371-4514-93be-7d7225f8369f?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/providers/Microsoft.Synapse/locations/eastus2/kustoPoolOperationResults/b6070349-9371-4514-93be-7d7225f8369f\",\r\n  \"name\": \"b6070349-9371-4514-93be-7d7225f8369f\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2021-10-08T09:04:35.4447187Z\",\r\n  \"endTime\": \"2021-10-08T09:04:35.4447187Z\",\r\n  \"percentComplete\": 0.5,\r\n  \"properties\": {\r\n    \"OperationKind\": \"ClusterCreateSynapse\",\r\n    \"RootActivityId\": \"bd37fc8f-a972-4295-997b-4ff35bae0edf\",\r\n    \"provisioningState\": \"Running\",\r\n    \"OperationState\": \"InProgress\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/resourceGroups/synapsesdkrp379/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace9520/kustoPools/kustopool8313?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"2021-10-08T09:19:30.2482704Z\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11960"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/resourceGroups/synapsesdkrp379/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace9520/kustoPools/kustopool8313\",\r\n  \"name\": \"synapsesdkworkspace9520/kustopool8313\",\r\n  \"type\": \"Microsoft.Synapse/workspaces/kustoPools\",\r\n  \"etag\": \"\\\"2021-10-08T09:19:30.2482704Z\\\"\",\r\n  \"location\": \"East US 2\",\r\n  \"sku\": {\r\n    \"name\": \"Storage optimized\",\r\n    \"size\": \"Medium\",\r\n    \"capacity\": 2\r\n  },\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"state\": \"Running\",\r\n    \"stateReason\": null,\r\n    \"uri\": \"https://kustopool8313.synapsesdkworkspace9520.kusto.azuresynapse.net\",\r\n    \"dataIngestionUri\": \"https://ingest-kustopool8313.synapsesdkworkspace9520.kusto.azuresynapse.net\",\r\n    \"trustedExternalTenants\": [],\r\n    \"optimizedAutoscale\": null,\r\n    \"enableDiskEncryption\": false,\r\n    \"enableStreamingIngest\": false,\r\n    \"languageExtensions\": {\r\n      \"value\": []\r\n    },\r\n    \"enablePurge\": null,\r\n    \"engineType\": \"V3\",\r\n    \"workspaceUID\": \"9d8833ea-fb7a-4082-aa4f-d0b2809d6ff6\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"zones\": [\r\n    \"1\",\r\n    \"3\",\r\n    \"2\"\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/resourceGroups/synapsesdkrp379/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace9520/kustoPools/kustopool8313/databases/kustodatabase2988?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"kind\": \"ReadWrite\",\r\n  \"properties\": {\r\n    \"softDeletePeriod\": \"P4D\",\r\n    \"hotCachePeriod\": \"P2D\"\r\n  },\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/providers/Microsoft.Synapse/locations/eastus2/kustoPoolOperationResults/ff24f3fd-2cce-44a7-8166-9e6434da76ac?api-version=2021-06-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/resourceGroups/synapsesdkrp379/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace9520/kustoPools/kustopool8313/Databases/kustodatabase2988\",\r\n  \"name\": \"synapsesdkworkspace9520/kustopool8313/kustodatabase2988\",\r\n  \"type\": \"Microsoft.Synapse/workspaces/kustoPools/Databases\",\r\n  \"location\": \"eastus2\",\r\n  \"kind\": \"ReadWrite\",\r\n  \"properties\": {\r\n    \"softDeletePeriod\": \"P4D\",\r\n    \"hotCachePeriod\": \"P2D\",\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/resourceGroups/synapsesdkrp379/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace9520/kustoPools/kustopool8313/databases/kustodatabase2988?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11956"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/resourceGroups/synapsesdkrp379/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace9520/kustoPools/kustopool8313/Databases/kustodatabase2988\",\r\n  \"name\": \"synapsesdkworkspace9520/kustopool8313/kustodatabase2988\",\r\n  \"type\": \"Microsoft.Synapse/workspaces/kustoPools/Databases\",\r\n  \"location\": \"East US 2\",\r\n  \"kind\": \"ReadWrite\",\r\n  \"properties\": {\r\n    \"softDeletePeriod\": \"P4D\",\r\n    \"hotCachePeriod\": \"P2D\",\r\n    \"statistics\": {\r\n      \"size\": 0.0\r\n    },\r\n    \"isFollowed\": false,\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/resourceGroups/synapsesdkrp379/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace9520/kustoPools/kustopool8313/databases/kustodatabase2988?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11950"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The resource with identifier '/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/resourceGroups/synapsesdkrp379/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace9520/kustoPools/kustopool8313/Databases/kustodatabase2988' is not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/providers/Microsoft.Synapse/locations/East%20US%202/kustoPoolOperationResults/480ce2e5-9891-488e-b227-0666b7c70335?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11954"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/providers/Microsoft.Synapse/locations/East US 2/kustoPoolOperationResults/480ce2e5-9891-488e-b227-0666b7c70335\",\r\n  \"name\": \"480ce2e5-9891-488e-b227-0666b7c70335\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-10-08T09:21:20.0280669Z\",\r\n  \"endTime\": \"2021-10-08T09:21:22.0281921Z\",\r\n  \"percentComplete\": 1.0,\r\n  \"properties\": {\r\n    \"OperationKind\": \"DatabaseCreate\",\r\n    \"RootActivityId\": \"3912f8a4-cc8d-4f22-91cc-1b15670bf44e\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"OperationState\": \"Completed\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/resourceGroups/synapsesdkrp379/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace9520/kustoPools/kustopool8313/databases/kustodatabase2988?api-version=2021-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/providers/Microsoft.Synapse/locations/East%20US%202/kustoPoolOperationResults/7f9ca8cd-91fb-4f41-ab8b-11efb62cc9a0?api-version=2021-06-01-preview&operationResultResponseType=Location"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/providers/Microsoft.Synapse/locations/East US 2/kustoPoolOperationResults/7f9ca8cd-91fb-4f41-ab8b-11efb62cc9a0?api-version=2021-06-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/providers/Microsoft.Synapse/locations/East%20US%202/kustoPoolOperationResults/7f9ca8cd-91fb-4f41-ab8b-11efb62cc9a0?api-version=2021-06-01-preview&operationResultResponseType=Location",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11951"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6/providers/Microsoft.Synapse/locations/East%20US%202/kustoPoolOperationResults/8ee33b1a-34ce-48a0-80fb-1f61d94c8162?api-version=2021-06-01-preview&operationResultResponseType=Location",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11936"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    ".ctor": [
      "synapsesdkrp379",
      "synapsesdkstorage9497",
      "sshuser4866",
      "Password1!6459",
      "synapsesdkfilesys3027"
    ],
    "TestInitialize": [
      "b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6"
    ],
    "TestKustoPoolDatabaseLifeCycle": [
      "synapsesdkworkspace9520",
      "kustopool8313",
      "kustodatabase2988"
    ]
  },
  "Variables": {
    "SubscriptionId": "b7f4d3eb-f18f-4c5e-9888-d946d8aa81a6"
  }
}
