{
  "Entries": [
    {
      "RequestUri": "/Subscriptions/00a07ea0-ad8b-491c-9de8-77bf10881499/resourceGroups/testsitegroup/providers/Microsoft.RecoveryServicesBVTD2/vaults/rsv5/ExtendedInfo?api-version=2015-08-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"ContractVersion\": \"1.0\",\r\n  \"ExtendedInfo\": \"extendedinfo\",\r\n  \"ExtendedInfoETag\": \"74869894-1b74-4483-a834-e77f255b563a\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/Subscriptions/00a07ea0-ad8b-491c-9de8-77bf10881499/resourceGroups/testsitegroup/providers/Microsoft.RecoveryServicesBVTD2/vaults/rsv5/ExtendedInfo?api-version=2015-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"resourceId\": 8310669959978329909,\r\n  \"resourceName\": \"rsv5\",\r\n  \"resourceType\": \"vaults\",\r\n  \"resourceGroupName\": \"testsitegroup\",\r\n  \"subscriptionId\": \"00a07ea0-ad8b-491c-9de8-77bf10881499\",\r\n  \"extendedInfoETag\": \"71fb4bb5-6f62-4fda-b754-5570089bedb9\",\r\n  \"extendedInfo\": \"extendedinfo\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "00a07ea0-ad8b-491c-9de8-77bf10881499"
  }
}