{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/collections/myCollection1?api-version=2019-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "parentCollection": {
          "referenceName": "dotnetLLCPurviewAccount"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "name": "myCollection1",
        "friendlyName": "myCollection1",
        "parentCollection": {
          "type": "CollectionReference",
          "referenceName": "dotnetllcpurviewaccount"
        },
        "systemData": {
          "createdBy": "4faa32fd-963a-464d-b6bf-c12cf48c0317",
          "createdByType": "Application",
          "createdAt": "2021-08-20T06:53:45.4716995Z",
          "lastModifiedBy": "4faa32fd-963a-464d-b6bf-c12cf48c0317",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-08-20T06:53:45.4716996Z"
        },
        "collectionProvisioningState": "Creating"
      }
    },
[...]
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/collections/myCollection1?api-version=2019-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetLLCPurviewAccount.purview.azure.com",
    "RandomSeed": "391599712"
  }
}