{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/sentShares/016eb068-ddaa-41be-8804-8bef566663a5?api-version=2023-05-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Id": "https://myaccountname.purview.azure.com/share/operationResults/1f1c1ed4-a485-4375-96c8-4492b7700795?api-version=2023-05-30-preview",
        "Operation-Location": "https://myaccountname.purview.azure.com/share/operationResults/1f1c1ed4-a485-4375-96c8-4492b7700795?api-version=2023-05-30-preview"
      },
      "ResponseBody": {
        "id": "1f1c1ed4-a485-4375-96c8-4492b7700795",
        "startTime": "2023-06-12T04:36:49.5914424Z",
        "endTime": null,
        "status": "NotStarted",
        "error": null
      }
    },
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/operationResults/1f1c1ed4-a485-4375-96c8-4492b7700795?api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "1f1c1ed4-a485-4375-96c8-4492b7700795",
        "startTime": "2023-06-12T04:36:49.4505849Z",
        "endTime": null,
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/operationResults/1f1c1ed4-a485-4375-96c8-4492b7700795?api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "1f1c1ed4-a485-4375-96c8-4492b7700795",
        "startTime": "2023-06-12T04:36:49.4505849Z",
        "endTime": null,
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://myaccountname.purview.azure.com/share",
    "RandomSeed": "2015864274"
  }
}
