{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/sentShares/9393cfc1-7300-4159-aeff-277b2026846a?api-version=2023-02-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Id": "https://myaccountname.purview.azure.com/share/operationResults/239bc792-1652-47e6-b8e8-8157fe575edc?api-version=2023-02-15-preview",
        "Operation-Location": "https://myaccountname.purview.azure.com/share/operationResults/239bc792-1652-47e6-b8e8-8157fe575edc?api-version=2023-02-15-preview"
      },
      "ResponseBody": {
        "id": "239bc792-1652-47e6-b8e8-8157fe575edc",
        "startTime": "2023-02-24T07:40:26.6017754Z",
        "endTime": null,
        "status": "NotStarted",
        "error": null
      }
    },
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/operationResults/239bc792-1652-47e6-b8e8-8157fe575edc?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "239bc792-1652-47e6-b8e8-8157fe575edc",
        "startTime": "2023-02-24T07:40:26.5189974Z",
        "endTime": null,
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/operationResults/239bc792-1652-47e6-b8e8-8157fe575edc?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "239bc792-1652-47e6-b8e8-8157fe575edc",
        "startTime": "2023-02-24T07:40:26.5189974Z",
        "endTime": null,
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://myaccountname.purview.azure.com/share",
    "RandomSeed": "1310630703"
  }
}
