<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hyak.Generator" version="1.0.5429.26906-prerelease" targetFramework="portable-net403+win+wpa81" />
  <package id="Microsoft.Azure.Management.Batch.Specification" version="1.0.5437.17172-prerelease" targetFramework="portable-net403+win+wpa81" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-net45+sl50+win+wp80" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable-net45+sl50+win+wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net45+sl50+win+wp80" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="portable-net45+sl50+win+wp80" />
  <package id="Microsoft.WindowsAzure.Common" version="1.4.0" targetFramework="portable-net45+sl50+win+wp80" />
  <package id="Microsoft.WindowsAzure.Common.Dependencies" version="1.1.0" targetFramework="portable-net45+sl50+win+wp80" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="portable-net45+sl50+win+wp80" />
</packages>