{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-sdk-nfcrg062123/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfa-tool-ts-sdk-nfc062223?api-version=2023-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus3",
        "properties": {
          "infrastructureExpressRouteConnections": [
            {
              "expressRouteCircuitId": "/subscriptions/xxxxx/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteCircuits/expressRouteCircuitName",
              "expressRouteAuthorizationKey": "asdghjklf"
            }
          ],
          "workloadExpressRouteConnections": [
            {
              "expressRouteCircuitId": "/subscriptions/xxxxx/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteCircuits/expressRouteCircuitName",
              "expressRouteAuthorizationKey": "asdghjklf"
            }
          ],
          "ipv4AddressSpace": "172.253.0.0/19"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/locations/WESTUS3/operationStatuses/7b6c8688-89b6-473e-9a64-b531dce37e28*1ADF71D9FF97053C6759C6746C5F9E93C8755D6555B9E0A9BEE6EE8E9799C037?api-version=2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000900a-0000-4d00-0000-649401410000\u0022",
        "mise-correlation-id": "ab2c284b-43ce-4e98-a913-d6f3659869e1",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-sdk-nfcrg062123/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfa-tool-ts-sdk-nfc062223",
        "name": "nfa-tool-ts-sdk-nfc062223",
        "type": "microsoft.managednetworkfabric/networkfabriccontrollers",
        "location": "westus3",
        "tags": {},
        "systemData": {
          "createdBy": "v-rmarimuthu@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-06-22T08:07:27.5609134Z",
          "lastModifiedBy": "v-rmarimuthu@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2023-06-22T08:07:27.5609134Z"
        },
        "properties": {
          "infrastructureExpressRouteConnections": [
            {
              "expressRouteCircuitId": "/subscriptions/xxxxx/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteCircuits/expressRouteCircuitName"
            }
          ],
          "workloadExpressRouteConnections": [
            {
              "expressRouteCircuitId": "/subscriptions/xxxxx/resourceGroups/resourceGroupName/providers/Microsoft.Network/expressRouteCircuits/expressRouteCircuitName"
            }
          ],
          "ipv4AddressSpace": "172.253.0.0/19",
          "managedResourceGroupConfiguration": {
            "location": "westus3",
            "name": "nfa-tool-ts-sdk-nfc062223-HostedResources-316856FB"
          },
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/locations/WESTUS3/operationStatuses/7b6c8688-89b6-473e-9a64-b531dce37e28*1ADF71D9FF97053C6759C6746C5F9E93C8755D6555B9E0A9BEE6EE8E9799C037?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022010026d2-0000-4d00-0000-649401410000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/locations/WESTUS3/operationStatuses/7b6c8688-89b6-473e-9a64-b531dce37e28*1ADF71D9FF97053C6759C6746C5F9E93C8755D6555B9E0A9BEE6EE8E9799C037",
        "name": "7b6c8688-89b6-473e-9a64-b531dce37e28*1ADF71D9FF97053C6759C6746C5F9E93C8755D6555B9E0A9BEE6EE8E9799C037",
        "resourceId": "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-sdk-nfcrg062123/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfa-tool-ts-sdk-nfc062223",
        "status": "Accepted",
        "startTime": "2023-06-22T08:07:29.0683537Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-sdk-nfcrg062123/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "918d1e31-d595-49a3-8ded-926a2dbb8d94",
          "218c1f18-2793-4f83-80b7-50415f25a4c3",
          "22dc762e-295a-4f86-972c-0638ae0f7987",
          "ba17eb4c-4708-4d78-8ff7-b40930815804"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-sdk-nfcrg062123/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfa-tool-ts-sdk-nfc062223",
            "name": "nfa-tool-ts-sdk-nfc062223",
            "type": "microsoft.managednetworkfabric/networkfabriccontrollers",
            "location": "westus3",
            "tags": {},
            "systemData": {
              "createdBy": "v-rmarimuthu@microsoft.com",
     [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "516e[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-sdk-nfcrg062123/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfa-tool-ts-sdk-nfc062223?api-version=2023-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/locations/WESTUS3/operationStatuses/2099b943-4a51-407d-870c-1d6f40931ad2*1ADF71D9FF97053C6759C6746C5F9E93C8755D6555B9E0A9BEE6EE8E9799C037?api-version=2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000a90a-0000-4d00-0000-64940c830000\u0022",
        "Location": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/locations/WESTUS3/operationStatuses/2099b943-4a51-407d-870c-1d6f40931ad2*1ADF71D9FF97053C6759C6746C5F9E93C8755D6555B9E0A9BEE6EE8E9799C037?api-version=2023-02-01-preview",
        "mise-correlation-id": "3215e39e-8564-4a7e-b036-477125b83108",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/locations/WESTUS3/operationStatuses/2099b943-4a51-407d-870c-1d6f40931ad2*1ADF71D9FF97053C6759C6746C5F9E93C8755D6555B9E0A9BEE6EE8E9799C037?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224504e46d-0000-0100-0000-649410150000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11959"
      },
      "ResponseBody": {
        "id": "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/locations/WESTUS3/operationStatuses/2099b943-4a51-407d-870c-1d6f40931ad2*1ADF71D9FF97053C6759C6746C5F9E93C8755D6555B9E0A9BEE6EE8E9799C037",
        "name": "2099b943-4a51-407d-870c-1d6f40931ad2*1ADF71D9FF97053C6759C6746C5F9E93C8755D6555B9E0A9BEE6EE8E9799C037",
        "resourceId": "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-sdk-nfcrg062123/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfa-tool-ts-sdk-nfc062223",
        "status": "Succeeded",
        "startTime": "2023-06-22T08:55:30.9648475Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "Network_Fabric_Controller_Name": "nfa-tool-ts-sdk-nfc062223",
    "NFC_LOCATION": "westus3",
    "NFC_RESOURCE_GROUP_NAME": "nfa-tool-ts-sdk-nfcrg062123",
    "RandomSeed": "1495108893",
    "RESOURCE_GROUP_NAME": "nfa-tool-ts-clisdktest-nfrg060523",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "61065ccc-9543-4b91-b2d1-0ce42a914507"
  }
}
