{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/map/copyright/world/json?api-version=1.0\u0026text=no",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "86ff944f-d704-4f24-8af8-34f4a58ff4e0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022302ece6377b0ba2b5a55a6fa1a6440d4\u0022",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "formatVersion": "0.0.1",
        "regions": [
          {
            "country": {
              "ISO3": "ABW"
            }
          },
          {
            "country": {
              "ISO3": "AFG"
            }
          },
          {
            "country": {
              "ISO3": "AGO"
            }
          },
          {
            "country": {
              "ISO3": "AIA"
            }
          },
          {
            "country": {
              "ISO3": "ALB"
            }
          },
          {
            "country": {
              "ISO3": "AND"
            }
          },
      [...]
