{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.DocumentDB/operations?api-version=2020-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.11.0"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14999"
        ],
        "Content-Type": [
          "application/json"
        ],
        "Content-Location": [
          "https://management30.documents-test.windows-int.net:450/providers/Microsoft.DocumentDB/operations?api-version=2020-06-01-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.DocumentDB/databaseAccounts/sqlDatabases/write\",\r\n      \"display\": {\r\n        \"Provider\": \"Microsoft DocumentDB\",\r\n        \"Resource\": \"SQL Database\",\r\n        \"Operation\": \"Write SQL database\",\r\n        \"Description\": \"Create a SQL database.\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.DocumentDB/databaseAccounts/sqlDatabases/read\",\r\n      \"display\": {\r\n        \"Provider\": \"Microsoft DocumentDB\",\r\n        \"Resource\": \"SQL Database\",\r\n        \"Operation\": \"Read SQL database(s)\",\r\n        \"Description\": \"Read a SQL database or list all the SQL databases.\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.DocumentDB/databaseAccounts/sqlDatabases/delete\[...]
