{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Orcas PM team",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourcegroups/pgflexrg170?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170",
        "name": "pgflexrg170",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.DBforPostgreSQL/flexibleServers/pgflexserver2998?api-version=2022-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_D2s_v3",
          "tier": "GeneralPurpose"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "administratorLogin": "testUser",
          "administratorLoginPassword": "testPassword1!",
          "version": "14",
          "storage": {
            "storageSizeGB": 128
          },
          "createMode": "Create"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/e717ea88-dd22-4224-b513-183c4ea3174c?api-version=2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/e717ea88-dd22-4224-b513-183c4ea3174c?api-version=2022-12-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "operation": "UpsertServerManagementOperationV2",
        "startTime": "2023-01-25T12:47:08.427Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/e717ea88-dd22-4224-b513-183c4ea3174c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "name": "e717ea88-dd22-4224-b513-183c4ea3174c",
        "status": "InProgress",
        "startTime": "2023-01-25T12:47:08.427Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.DBforPostgreSQL/flexibleServers/pgflexserver2998?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_D2s_v3",
          "tier": "GeneralPurpose"
        },
        "systemData": {
          "createdAt": "2023-01-25T12:47:14.5521433Z"
        },
        "properties": {
          "authConfig": {
            "activeDirectoryAuth": "Disabled",
            "passwordAuth": "Enabled"
          },
          "dataEncryption": {
            "type": "SystemManaged"
          },
          "fullyQualifiedDomainName": "pgflexserver2998.postgres.database.azure.com",
          "version": "14",
          "minorVersion": "5",
          "administratorLogin": "testUser",
          "state": "Ready",
          "availabilityZone": "2",
          "storage": {
            "storageSizeGB": 128
          },
          "backup": {
            "backupRetentionDays": 7,
            "geoRedundantBackup": "Disabled",
            "earliestRestoreDate": "2023-01-25T12:47:14.5521433\u002B00:00"
          },
          "network": {
            "publicNetworkAccess": "Enabled"
          },
          "highAvailability": {
            "mode": "Disabled",
            "state": "NotEnabled"
          },
          "maintenanceWindow": {
            "customWindow": "Disabled",
            "dayOfWeek": 0,
            "startHour": 0,
            "startMinute": 0
          },
          "replicationRole": "Primary",
          "replicaCapacity": 5,
          "storageAutoGrowth": false
        },
        "location": "East US",
        "tags": {},
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.DBforPostgreSQL/flexibleServers/pgflexserver2998",
        "name": "pgflexserver2998",
        "type": "Microsoft.DBforPostgreSQL/flexibleServers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.DBforPostgreSQL/flexibleServers/pgflexserver8396?api-version=2022-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "sourceServerResourceId": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.DBforPostgreSQL/flexibleServers/pgflexserver2998",
          "pointInTimeUTC": "2023-01-25T12:56:09.6720582Z",
          "createMode": "PointInTimeRestore"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/bc7ff635-db2c-4031-82d4-d2be81f3dfd3?api-version=2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/bc7ff635-db2c-4031-82d4-d2be81f3dfd3?api-version=2022-12-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "operation": "RestoreSnapshotManagementOperation",
        "startTime": "2023-01-25T12:56:13.11Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/virtualNetworks/vnet3818?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subnet6394",
              "properties": {
                "addressPrefix": "10.0.0.0/24",
                "delegations": [
                  {
                    "name": "Microsoft.DBforPostgreSQL/flexibleServers",
                    "properties": {
                      "serviceName": "Microsoft.DBforPostgreSQL/flexibleServers"
                    }
                  }
                ],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.Network/locations/eastus/operations/5ab5fe16-5e45-4457-8d15-4e2794344316?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "vnet3818",
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/virtualNetworks/vnet3818",
        "etag": "W/\u0022387582bf-ece6-429c-9f9f-8198e9aabe12\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "c1b5f1de-cd62-46df-9f72-14332a70da1b",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subnet6394",
              "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/virtualNetworks/vnet3818/subnets/subnet6394",
              "etag": "W/\u0022387582bf-ece6-429c-9f9f-8198e9aabe12\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.0.0/24",
                "delegations": [
                  {
                    "name": "Microsoft.DBforPostgreSQL/flexibleServers",
                    "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/virtualNetworks/vnet3818/subnets/subnet6394/delegations/Microsoft.DBforPostgreSQL/flexibleServers",
                    "etag": "W/\u0022387582bf-ece6-429c-9f9f-8198e9aabe12\u0022",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "serviceName": "Microsoft.DBforPostgreSQL/flexibleServers",
                      "actions": [
                        "Microsoft.Network/virtualNetworks/subnets/join/action"
                      ]
                    },
                    "type": "Microsoft.Network/virtualNetworks/subnets/delegations"
                  }
                ],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.Network/locations/eastus/operations/5ab5fe16-5e45-4457-8d15-4e2794344316?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/virtualNetworks/vnet3818?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002219ca9b6d-550b-4b57-8398-52dc8670bee4\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "name": "vnet3818",
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/virtualNetworks/vnet3818",
        "etag": "W/\u002219ca9b6d-550b-4b57-8398-52dc8670bee4\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/virtualNetworks/vnet3818/subnets/subnet6394?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002219ca[...]
[...]
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DBforPostgreSQL/getPrivateDnsZoneSuffix?api-version=2022-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-writes": "1199"
      },
      "ResponseBody": "\u0022postgres.database.azure.com\u0022"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/privateDnsZones/pgflexserver5921.private.postgres.database.azure.com?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {}
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs0MWIyNmFkYi1hZWFmLTRjMTktYmQ4Ny05YTY3MGRhZjU3MmRfNWM1MDM3ZTUtZDNmMS00ZTdiLWIzYTktZjZiZjk0OTAyYjMw?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/privateDnsZones/pgflexserver5921.private.postgres.database.azure.com?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "72c798f1-9d40-40b1-9eed-91c80637f279",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "499"
      },
      "ResponseBody": {
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/privateDnsZones/pgflexserver5921.private.postgres.database.azure.com",
        "name": "pgflexserver5921.private.postgres.database.azure.com",
        "type": "Microsoft.Network/privateDnsZones",
        "etag": "72c798f1-9d40-40b1-9eed-91c80637f279",
        "location": "global",
        "tags": {},
        "properties": {
          "internalId": "SW1tdXRhYmxlWm9uZUlkZW50aXR5OzRlOWMyNGUyLWNlYjktNGQzMi05NDZjLTk0NWJkZTQ1MTY1ZTsw",
          "maxNumberOfRecordSets": 25000,
          "maxNumberOfVirtualNetworkLinks": 1000,
          "maxNumberOfVirtualNetworkLinksWithRegistration": 100,
          "numberOfRecordSets": 1,
          "numberOfVirtualNetworkLinks": 0,
          "numberOfVirtualNetworkLinksWithRegistration": 0,
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/privateDnsZones/pgflexserver5921.private.postgres.database.azure.com/virtualNetworkLinks/vnet3818-link?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "virtualNetwork": {
            "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/virtualNetworks/vnet3818"
          },
          "registrationEnabled": false
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRWaXJ0dWFsTmV0d29ya0xpbms7YzlmNzgxZTAtZmNiMy00YmQwLWJhMGUtM2RiNTM1ZjRkMzgxXzVjNTAzN2U1LWQzZjEtNGU3Yi1iM2E5LWY2YmY5NDkwMmIzMA==?api-version=2020-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/privateDnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRWaXJ0dWFsTmV0d29ya0xpbms7YzlmNzgxZTAtZmNiMy00YmQwLWJhMGUtM2RiNTM1ZjRkMzgxXzVjNTAzN2U1LWQzZjEtNGU3Yi1iM2E5LWY2YmY5NDkwMmIzMA==?api-version=2020-06-01",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRWaXJ0dWFsTmV0d29ya0xpbms7YzlmNzgxZTAtZmNiMy00YmQwLWJhMGUtM2RiNTM1ZjRkMzgxXzVjNTAzN2U1LWQzZjEtNGU3Yi1iM2E5LWY2YmY5NDkwMmIzMA==?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/privateDnsZones/pgflexserver5921.private.postgres.database.azure.com/virtualNetworkLinks/vnet3818-link?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022b005f23c-0000-0100-0000-63d129120000\u0022",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "499"
      },
      "ResponseBody": {
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/privateDnsZones/pgflexserver5921.private.postgres.database.azure.com/virtualNetworkLinks/vnet3818-link",
        "name": "vnet3818-link",
        "type": "Microsoft.Network/privateDnsZones/virtualNetworkLinks",
        "etag": "\u0022b005f23c-0000-0100-0000-63d129120000\u0022",
        "location": "global",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded",
          "registrationEnabled": false,
          "virtualNetwork": {
            "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/virtualNetworks/vnet3818"
          },
          "virtualNetworkLinkState": "Completed"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.DBforPostgreSQL/flexibleServers/pgflexserver5921?api-version=2022-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_D2s_v3",
          "tier": "GeneralPurpose"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "administratorLogin": "testUser",
          "administratorLoginPassword": "testPassword1!",
          "version": "14",
          "storage": {
            "storageSizeGB": 128
          },
          "network": {
            "delegatedSubnetResourceId": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/virtualNetworks/vnet3818/subnets/subnet6394",
            "privateDnsZoneArmResourceId": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/privateDnsZones/pgflexserver5921.private.postgres.database.azure.com"
          },
          "createMode": "Create"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/8f14485c-bae2-40d8-be34-fdffbe55d387?api-version=2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/8f14485c-bae2-40d8-be34-fdffbe55d387?api-version=2022-12-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "operation": "UpsertServerManagementOperationV2",
        "startTime": "2023-01-25T13:05:34.133Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs5Mzk4NDI4My02ZGM3LTQzYjMtODZhNC00Y2Q0NjE1YWY2NjVfNWM1MDM3ZTUtZDNmMS00ZTdiLWIzYTktZjZiZjk0OTAyYjMw?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg170/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRWaXJ0dWFsTmV0d29ya0xpbms7MjUwNWNhMjktNjIyYS00NGE4LTlkZjEtOGQ1NTE2Zjc0MGZlXzVjNTAzN2U1LWQzZjEtNGU3Yi1iM2E5LWY2YmY5NDkwMmIzMA==?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody[...]
[...]
