{
  "Entries": [
    {
      "RequestUri": "https://autooptsdktest.cognitiveservices.azure.com/personalizer/v1.1-preview.1/rank",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "contextFeatures": [
          {
            "Features": {
              "day": "tuesday",
              "time": "night",
              "weather": "rainy"
            }
          },
          {
            "Features": {
              "userId": "1234",
              "payingUser": true,
              "favoriteGenre": "documentary",
              "hoursOnSite": 0.12,
              "lastwatchedType": "movie"
            }
          }
        ],
        "actions": [
          {
            "id": "Person1",
            "features": [
              {
                "videoType": "documentary",
                "videoLength": 35,
                "director": "CarlSagan"
              },
              {
                "mostWatchedByAge": "30-35"
              }
            ]
          },
          {
            "id": "Person2",
            "features": [
              {
                "videoType": "documentary",
                "videoLength": 35,
                "director": "CarlSagan"
              },
              {
                "mostWatchedByAge": "40-45"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "ranking": [
          {
            "id": "Person1",
            "probability": 0.5
          },
          {
            "id": "Person2",
            "probability": 0.5
          }
        ],
        "eventId": "e9909984f39c40949ef440a679f9a9b9-8ftuO",
        "rewardActionId": "Person1"
      }
    }
  ],
  "Variables": {
    "PERSONALIZER_API_KEY": "Sanitized",
    "PERSONALIZER_ENDPOINT": "https://autooptsdktest.cognitiveservices.azure.com/",
    "RandomSeed": "1185990246"
  }
}