{
    "Entries": [
        {
            "RequestUri": "https://singleslotrecordsdktests.cognitiveservices.azure.com/personalizer/v1.1-preview.3/configurations/service",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Ocp-Apim-Subscription-Key": "Sanitized"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "Content-Type": "application/json; charset=utf-8"
            },
            "ResponseBody": {
                "rewardWaitTime": "PT4H",
                "defaultReward": 1.0,
                "rewardAggregation": "average",
                "explorationPercentage": 0.2,
                "modelExportFrequency": "PT3M",
                "logRetentionDays": 2147483647,
                "lastConfigurationEditDate": "2021-08-05T14:18:34",
                "learningMode": "Online",
                "isAutoOptimizationEnabled": true,
                "autoOptimizationFrequency": "P28D",
                "autoOptimizationStartDate": "2021-08-18T21:43:47"
            }
        },
        {
            "RequestUri": "https://singleslotrecordsdktests.cognitiveservices.azure.com/personalizer/v1.1-preview.3/configurations/policy",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Ocp-Apim-Subscription-Key": "Sanitized"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "Content-Type": "application/json; charset=utf-8"
            },
            "ResponseBody": {
                "name": "d578f341411041e19ed83df0e0573a80",
                "arguments": "--cb_explore_adf --quadratic GT --quadratic MR --quadratic GR --quadratic ME --quadratic OT --quadratic OE --quadratic OR --quadratic MS --quadratic GX --ignore A --cb_type ips --epsilon 0.2"
            }
        }
    ],
    "Variables": {
        "PERSONALIZER_API_KEY_SINGLE_SLOT": "Sanitized",
        "PERSONALIZER_ENDPOINT_SINGLE_SLOT": "https://singleslotrecordsdktests.cognitiveservices.azure.com/",
        "RandomSeed": "1112192962"
    }
}
