{
  "Entries": [
    {
      "RequestUri": "https://singleslotrecordsdktests.cognitiveservices.azure.com/personalizer/v1.1-preview.1/rank",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "actions": [
          {
            "id": "Person",
            "features": [
              {
                "videoType": "documentary",
                "videoLength": 35,
                "director": "CarlSagan"
              },
              {
                "mostWatchedByAge": "30-35"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "ranking": [
          {
            "id": "Person",
            "probability": 1.0
          }
        ],
        "eventId": "4e9af3e0604e4fc1af091c9e76c0c93d-8iJRK",
        "rewardActionId": "Person"
      }
    },
    {
      "RequestUri": "https://singleslotrecordsdktests.cognitiveservices.azure.com/personalizer/v1.1-preview.1/rank",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "contextFeatures": [
          {
            "Features": {
              "day": "tuesday",
              "time": "night",
              "weather": "rainy"
            }
          },
          {
            "Features": {
              "userId": "1234",
              "payingUser": true,
              "favoriteGenre": "documentary",
              "hoursOnSite": 0.12,
              "lastwatchedType": "movie"
            }
          }
        ],
        "actions": [
          {
            "id": "Person1",
            "features": [
              {
                "videoType": "documentary",
                "videoLength": 35,
                "director": "CarlSagan"
              },
              {
                "mostWatchedByAge": "30-35"
              }
            ]
          },
          {
            "id": "Person2",
            "features": [
              {
                "videoType": "documentary",
                "videoLength": 35,
                "director": "CarlSagan"
              },
              {
                "mostWatchedByAge": "40-45"
              }
            ]
          }
        ],
        "excludedActions": [
          "Person1"
        ],
        "eventId": "123456789"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "ranking": [
          {
            "id": "Person1",
            "probability": 0.0
          },
          {
            "id": "Person2",
            "probability": 1.0
          }
        ],
        "eventId": "123456789",
        "rewardActionId": "Person2"
      }
    },
    {
      "RequestUri": "https://singleslotrecordsdktests.cognitiveservices.azure.com/personalizer/v1.1-preview.1/rank",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "actions": [
          {
            "id": "Person",
            "features": [
              {
                "videoType": "documentary",
                "videoLength": 35,
                "director": "CarlSagan"
              },
              {
                "mostWatchedByAge": "30-35"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "ranking": [
          {
            "id": "Person",
            "probability": 1.0
          }
        ],
        "eventId": "c638ab102e9f464dbc35f2f102f59f35-8iJSd",
        "rewardActionId": "Person"
      }
    }
  ],
  "Variables": {
    "PERSONALIZER_API_KEY_SINGLE_SLOT": "Sanitized",
    "PERSONALIZER_ENDPOINT_SINGLE_SLOT": "https://singleslotrecordsdktests.cognitiveservices.azure.com/",
    "RandomSeed": "1112192962"
  }
}