{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11789"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute",
        "namespace": "Microsoft.Compute",
        "authorizations": [
          {
            "applicationId": "60e6cd67-9c8c-4951-9b3c-23c25a2169af",
            "roleDefinitionId": "e4770acb-272e-4dc8-87f3-12f44a612224"
          },
          {
            "applicationId": "a303894e-f1d8-4a37-bf10-67aa654a0596",
            "roleDefinitionId": "903ac751-8ad5-4e5a-bfc2-5e49f450a241"
          },
          {
            "applicationId": "a8b6bf88-1d1a-4626-b040-9a729ea93c65",
            "roleDefinitionId": "45c8267c-80ba-4b96-9a43-115b8f49fccd"
          },
          {
            "applicationId": "184909ca-69f1-4368-a6a7-c558ee6eb0bd",
            "roleDefinitionId": "45c8267c-80ba-4b96-9a43-115b8f49fccd"
          },
          {
            "applicationId": "5e5e43d4-54da-4211-86a4-c6e7f3715801",
            "roleDefinitionId": "ffcd6e5b-8772-457d-bb17-89703c03428f"
          },
          {
            "applicationId": "ce6ff14a-7fdc-4685-bbe0-f6afdfcfa8e0",
            "roleDefinitionId": "cb17cddc-dbac-4ae0-ae79-8db34eddfca0"
          },
          {
            "applicationId": "372140e0-b3b7-4226-8ef9-d57986796201",
            "roleDefinitionId": "cb17cddc-dbac-4ae0-ae79-8db34eddfca0"
          },
          {
            "applicationId": "b9a92e36-2cf8-4f4e-bcb3-9d99e00e14ab",
            "roleDefinitionId": "6efa92ca-56b6-40af-a468-5e3d2b5232f0"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "availabilitySets",
            "locations": [
              "East US",
              "East US 2",
              "West US",
              "Central US",
              "North Central US",
              "South Central US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "Japan East",
              "Japan West",
              "Australia East",
              "Australia Southeast",
              "Australia Central",
              "Brazil South",
              "South India",
              "Central India",
              "West India",
              "Canada Central",
              "Canada East",
              "West US 2",
              "West Central US",
              "UK South",
              "UK West",
              "Korea Central",
              "Korea South",
              "France Central",
              "South Africa North",
              "UAE North",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "East US 2 EUAP",
              "Central US EUAP"
            ],
            "apiVersions": [
              "2020-06-01",
              "2019-12-01",
              "2019-07-01",
              "2019-03-01",
              "2018-10-01",
              "2018-06-01",
              "2018-04-01",
              "2017-12-01",
              "2017-03-30",
              "2016-08-30",
              "2016-04-30-preview",
              "2016-03-30",
              "2015-06-15",
              "2015-05-01-preview"
            ],
            "apiProfiles": [
              {
                "profileVersion": "2017-03-09-profile",
                "apiVersion": "2016-03-30"
              },
              {
                "profileVersion": "2018-03-01-hybrid",
                "apiVersion": "2017-03-30"
              },
              {
                "profileVersion": "2018-06-01-profile",
                "apiVersion": "2017-12-01"
              }
            ],
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove"
          },
          {
            "resourceType": "virtualMachines",
            "locations": [
              "East US",
              "East US 2",
              "West US",
              "Central US",
              "North Central US",
              "South Central US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "Japan East",
              "Ja[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet6782?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "East US"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6782",
        "name": "azsmnet6782",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet6782/providers/Microsoft.Resources/deployments/vmss3428?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "http://schema.management.azure.com/schemas/2015-01-01-preview/deploymentTemplate.json",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "newStorageAccountName": {
                "defaultValue": "testvmssnrpacc",
                "type": "string"
              },
              "storageAccountDomain": {
                "type": "string",
                "defaultValue": "vmssnrptester",
                "metadata": {
                  "description": "The domain of the storage account to be created."
                }
              },
              "adminUsername": {
                "type": "string",
                "defaultValue": "xplatuser"
              },
              "adminPassword": {
                "type": "securestring",
                "defaultValue": "Pa$$word2017"
              },
              "storageLocation": {
                "type": "string",
                "defaultValue": "Southeast Asia",
                "metadata": {
                  "description": "Location to deploy"
                }
              },
              "location": {
                "type": "string",
                "defaultValue": "Southeast Asia",
                "metadata": {
                  "description": "Location to deploy all the resources in."
                }
              },
              "newDomainName": {
                "type": "string",
                "defaultValue": "testvmssnrpacc"
              },
              "vmssName": {
                "type": "string",
                "defaultValue": "vmssip"
              },
              "imagePublisher": {
                "type": "string",
                "defaultValue": "MicrosoftWindowsServer",
                "metadata": {
                  "description": "Image Publisher"
                }
              },
              "imageOffer": {
                "type": "string",
                "defaultValue": "WindowsServer",
                "metadata": {
                  "description": "Image Offer"
                }
              },
              "imageSKU": {
                "type": "string",
                "defaultValue": "2012-R2-Datacenter",
                "metadata": {
                  "description": "Image SKU"
                }
              },
              "instanceCount": {
                "type": "string",
                "defaultValue": "2",
                "metadata": {
                  "description": "Number of VM instances"
                }
              }
            },
            "variables": {
              "storageAccountType": "Standard_LRS",
              "newStorageAccountName2": "[concat(parameters(\u0027newStorageAccountName\u0027), \u00272\u0027)]",
              "location": "[parameters(\u0027location\u0027)]",
              "vnetName": "vnet1",
              "pipName": "pip1",
              "lbName": "lb1",
              "nsgName": "nsg1",
              "pipID": "[resourceId(\u0027Microsoft.Network/publicIPAddresses\u0027,variables(\u0027pipName\u0027))]",
              "lbID": "[resourceId(\u0027Microsoft.Network/loadBalancers\u0027,variables(\u0027lbName\u0027))]",
              "vnetID": "[resourceId(\u0027Microsoft.Network/virtualNetworks\u0027,variables(\u0027vnetName\u0027))]",
              "frontendIPConfigID": "[concat(variables(\u0027lbID\u0027),\u0027/frontendIPConfigurations/ip1\u0027)]",
              "backendaddressPoolID": "[concat(variables(\u0027lbID\u0027),\u0027/backendAddressPools/addressPool1\u0027)]",
              "inboundNatPoolID": "[concat(variables(\u0027lbID\u0027),\u0027/backendAddressPools/natPool1\u0027)]",
              "subnetID": "[concat(variables(\u0027vnetID\u0027),\u0027/subnets/subnet1\u0027)]"
            },
            "resources": [
              {
                "type": "Microsoft.Storage/storageAccounts",
                "name": "[parameters(\u0027newStorageAccountName\u0027)]",
                "apiVersion": "2015-06-15",
                "location": "[parameters(\u0027storageLocation\u0027)]",
                "properties": {
                  "accountType": "[variables(\u0027storageAccountType\u0027)]"
                }
              },
              {
                "type": "Microsoft.Storage/storageAccounts",
                "name": "[variables(\u0027newStorageAccountName2\u0027)]",
                "apiVersion": "2015-06-15",
                "location": "[parameters(\u0027storageLocation\u0027)]",
                "properties": {
                  "accountType": "[variables(\u0027storageAccountType\u0027)]"
                }
              },
              {
                "apiVersion": "2015-06-15",
                "type": "Microsoft.Network/publicIPAddresses",
                "name": "[variables(\u0027pipName\u0027)]",
                "location": "[variables(\u0027location\u0027)]",
                "properties": {
                  "publicIPAllocationMethod": "Dynamic"
                }
              },
              {
                "apiVersion": "2015-06-15",
                "type": "Microsoft.Network/virtualNetworks",
                "name": "[variables(\u0027vnetName\u0027)]",
                "location": "[variables(\u0027location\u0027)]",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "10.0.0.0/16"
                    ]
                  },
                  "subnets": [
                    {
                      "name": "subnet1",
                      "properties": {
                        "addressPrefix": "10.0.0.0/24"
                      }
                    }
                  ]
                }
              },
              {
                "apiVersion": "2015-06-15",
                "name": "[variables(\u0027lbName\u0027)]",
                "type": "Microsoft.Network/loadBalancers",
                "location": "[variables(\u0027location\u0027)]",
                "dependsOn": [
                  "[concat(\u0027Microsoft.Network/publicIPAddresses/\u0027, variables(\u0027pipName\u0027))]"
                ],
                "properties": {
                  "frontendIPConfigurations": [
                    {
                      "name": "ip1",
                      "properties": {
                        "publicIPAddress": {
                          "id": "[variables(\u0027pipID\u0027)]"
                        }
                      }
                    }
                  ],
                  "backendAddressPools": [
                    {
                      "name": "addressPool1"
                    }
                  ],
                  "loadbalancingRules": [
                    {
                      "name": "lbrule1",
                      "properties": {
                        "frontendIPConfiguration": {
                          "id": "[variables(\u0027frontendIPConfigID\u0027)]"
                        },
                        "backendaddressPool": {
                          "id": "[variables(\u0027backendaddressPoolID\u0027)]"
                        },
                        "protocol": "tcp",
                        "frontendPort": 80,
                        "backendPort": 82
                      }
                    }
                  ],
                  "inboundNatPools": [
                    {
                      "name": "natPool1",
                      "properties": {
                        "frontendIPConfiguration": {
                          "id": "[variables(\u0027frontendIPConfigID\u0027)]"
                        },
                        "protocol": "tcp",
                        "frontendPortRangeStart": 3389,
                        "frontendPortRangeEnd": 4500,
                        "backendPort": 3389
                      }
                    }
                  ]
                }
              },
              {
                "apiVersion": "2015-06-15",
                "location": "[variables(\u0027location\u0027)]",
                "type": "Microsoft.Network/networkSecurityGroups",
                "name": "[variables(\u0027nsgName\u0027)]",
                "properties": {
                  "securityRules": [
                    {
                      "name": "ssh",
                      "properties": {
                        "access": "Allow",
                        "description": "Allow SSH",
                        "destinationAddressPrefix": "*",
                        "destinationPortRange": "22",
                        "direction": "Inbound",
                        "priority": 201,
                        "protocol": "Tcp",
                        "sourceAddressPrefix": "*",
                        "sourcePortRange": "*"
                      }
                    },
                    {
                      "name": "swarm-listen-port",
                      "properties": {
                        "access": "Allow",
                        "description": "Allow \u0027swarm join\u0027 ingress to manager node",
                        "destinationAddressPrefix": "10.0.0.0/24",
                        "destinationPortRange": "2377",
                        "direction": "Inbound",
                        "pri[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet6782/providers/Microsoft.Resources/deployments/vmss3428/operationStatuses/08586017979672951737?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11788"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet6782/providers/Microsoft.Resources/deployments/vmss3428?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11214"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6782/providers/Microsoft.Resources/deployments/vmss3428",
        "name": "vmss3428",
        "properties": {
          "templateHash": "14758687585401423412",
          "parameters": {
            "newStorageAccountName": {
              "type": "String",
              "value": "testvmssnrpacc"
            },
            "storageAccountDomain": {
              "type": "String",
              "value": "vmssnrptester"
            },
            "adminUsername": {
              "type": "String",
              "value": "xplatuser"
            },
            "adminPassword": {
              "type": "SecureString"
            },
            "storageLocation": {
              "type": "String",
              "value": "Southeast Asia"
            },
            "location": {
              "type": "String",
              "value": "Southeast Asia"
            },
            "newDomainName": {
              "type": "String",
              "value": "testvmssnrpacc"
            },
            "vmssName": {
              "type": "String",
              "value": "vmssip"
            },
            "imagePublisher": {
              "type": "String",
              "value": "MicrosoftWindowsServer"
            },
            "imageOffer": {
              "type": "String",
              "value": "WindowsServer"
            },
            "imageSKU": {
              "type": "String",
              "value": "2012-R2-Datacenter"
            },
            "instanceCount": {
              "type": "String",
              "value": "2"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Succeeded",
          "timestamp": "2020-09-11T07:37:08.1598229Z",
          "duration": "PT15M9.9773587S",
          "correlationId": "72e1d793-3189-4e84-9f5b-f6b72fe18384",
          "providers": [
            {
              "namespace": "Microsoft.Storage",
              "resourceTypes": [
                {
                  "resourceType": "storageAccounts",
                  "locations": [
                    "southeastasia"
                  ]
                }
              ]
            },
            {
              "namespace": "Microsoft.Network",
              "resourceTypes": [
                {
                  "resourceType": "publicIPAddresses",
                  "locations": [
                    "southeastasia"
                  ]
                },
                {
                  "resourceType": "virtualNetworks",
                  "locations": [
                    "southeastasia"
                  ]
                },
                {
                  "resourceType": "loadBalancers",
                  "locations": [
                    "southeastasia"
                  ]
                },
                {
                  "resourceType": "networkSecurityGroups",
                  "locations": [
                    "southeastasia"
                  ]
                }
              ]
            },
            {
              "namespace": "Microsoft.Compute",
              "resourceTypes": [
                {
                  "resourceType": "virtualMachineScaleSets",
                  "locations": [
                    "southeastasia"
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6782/providers/Microsoft.Network/publicIPAddresses/pip1",
                  "resourceType": "Microsoft.Network/publicIPAddresses",
                  "resourceName": "pip1"
                }
              ],
              "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6782/providers/Microsoft.Network/loadBalancers/lb1",
              "resourceType": "Microsoft.Network/loadBalancers",
              "resourceName": "lb1"
            },
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6782/providers/Microsoft.Storage/[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6782/providers/Microsoft.Compute/virtualMachineScaleSets/vmssip/publicipaddresses?api-version=2018-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6782/providers/Microsoft.Compute/virtualMachineScaleSets/vmssip/virtualMachines/0/networkInterfaces/nic1/ipconfigurations/ip1/publicipaddresses?api-version=2018-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6782/providers/Microsoft.Compute/virtualMachineScaleSets/vmssip/virtualMachines/0/networkInterfaces/nic1/ipconfigurations/ip1/publicipaddresses/pub1?api-version=2018-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002266fbc63a-99eb-4d01-a529-e13132f33d63\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11211"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022pub1\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6782/providers/Microsoft.Compute/virtualMachineScaleSets/vmssip/virtualMachines/0/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1\u0022,\r\n",
        " [...]
