{
  "Entries": [
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/patternanyentities",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"New Entity Test\",\r\n  \"explicitList\": []\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/patternanyentities/7121ab3a-1b92-43b7-915b-4c031d6f4d9c"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/patternanyentities/7121ab3a-1b92-43b7-915b-4c031d6f4d9c"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"7121ab3a-1b92-43b7-915b-4c031d6f4d9c\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/patternanyentities/7121ab3a-1b92-43b7-915b-4c031d6f4d9c/explicitlist",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"explicitListItem\": \"item\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/patternanyentities/7121ab3a-1b92-43b7-915b-4c031d6f4d9c/explicitlist/14849"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/patternanyentities/7121ab3a-1b92-43b7-915b-4c031d6f4d9c/explicitlist/14849"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "14849",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/patternanyentities/7121ab3a-1b92-43b7-915b-4c031d6f4d9c/explicitlist/14849",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": 14849,\r\n  \"explicitListItem\": \"item\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/patternanyentities/7121ab3a-1b92-43b7-915b-4c031d6f4d9c",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}