{
  "Entries": [
    {
      "RequestUri": "https://qqaccount01.blob.preprod.core.windows.net/test-container-a0bfcf35-6955-f053-4e87-887938d9e1d3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 24 Apr 2020 20:25:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E88DB17D7E47\u0022",
        "Last-Modified": "Fri, 24 Apr 2020 20:25:56 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://qqaccount01.blob.preprod.core.windows.net/test-container-a0bfcf35-6955-f053-4e87-887938d9e1d3/test-blob-841e5c53-15ac-5f23-11f0-839c3a37cfdb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 24 Apr 2020 20:25:57 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "MTAwLDIwMCwzMDAsNDAwCjMwMCw0MDAsNTAwLDYwMAoxMDAsMjAwLDMwMCw0MDAKMzAwLDQwMCw1MDAsNjAwCjEwMCwyMDAsMzAwLDQwMAozMDAsNDAwLDUwMCw2MDAKMTAwLDIwMCwzMDAsNDAwCjMwMCw0MDAsNTAwLDYwMAoxMDAsMjAwLDMwMCw0MDAKMzAwLDQwMCw1MDAsNjAwCjEwMCwyMDAsMzAwLDQwMAozMDAsNDAwLDUwMCw2MDAKMTAwLDIwMCwzMDAsNDAwCjMwMCw0MDAsNTAwLDYwMAoxMDAsMjAwLDMwMCw0MDAKMzAwLDQwMCw1MDAsNjAwCjEwMCwyMDAsMzAwLDQwMAoz[...]
    {
      "RequestUri": "https://qqaccount01.blob.preprod.core.windows.net/test-container-a0bfcf35-6955-f053-4e87-887938d9e1d3/test-blob-841e5c53-15ac-5f23-11f0-839c3a37cfdb?comp=query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Modified-Since": "Sat, 25 Apr 2020 20:25:56 GMT",
        "x-ms-date": "Fri, 24 Apr 2020 20:25:57 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CQueryRequest\u003E\u003CQueryType\u003ESQL\u003C/QueryType\u003E\u003CExpression\u003ESELECT * from BlobStorage\u003C/Expression\u003E\u003C/QueryRequest\u003E",
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://qqaccount01.blob.preprod.core.windows.net/test-container-95e71dab-0200-384d-c8de-b8d308dbeeed/test-blob-e2022f58-e572-c639-c2c7-42d817f15d2c?comp=query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Unmodified-Since": "Thu, 23 Apr 2020 20:25:56 GMT",
        "x-ms-date": "Fri, 24 Apr 2020 20:25:57 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CQueryRequest\u003E\u003CQueryType\u003ESQL\u003C/QueryType\u003E\u003CExpression\u003ESELECT * from BlobStorage\u003C/Expression\u003E\u003C/QueryRequest\u003E",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:62c08311-b01e-000a-6976-1ad686000000\n",
        "Time:2020-04-24T20:25:56.7322176Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://qqaccount01.blob.preprod.core.windows.net/test-container-a39230b0-bd0d-a243-a9bd-d27f22f705ac/test-blob-a191336d-9cbd-8264-52fb-4908da4e66a7?comp=query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 24 Apr 2020 20:25:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CQueryRequest\u003E\u003CQueryType\u003ESQL\u003C/QueryType\u003E\u003CExpression\u003ESELECT * from BlobStorage\u003C/Expression\u003E\u003C/QueryRequest\u003E",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:309a72da-601e-0003-6c76-1acc08000000\n",
        "Time:2020-04-24T20:25:57.1354113Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://qqaccount01.blob.preprod.core.windows.net/test-container-799a7733-e1ae-1088-6d60-d2a7aadcc241/test-blob-96799c1e-97df-e7e8-3da3-e0e3911bdaeb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2020 20:25:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "vDCMhAvvo34oZHeMW\u002BZcXg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E88DB24B214B\u0022",
        "Last-Modified": "Fri, 24 Apr 2020 20:25:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 24 Apr 2020 20:25:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://qqaccount01.blob.preprod.core.windows.net/test-container-799a7733-e1ae-1088-6d60-d2a7aadcc241/test-blob-96799c1e-97df-e7e8-3da3-e0e3911bdaeb?comp=query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-None-Match": "\u00220x8D7E88DB24B214B\u0022",
        "x-ms-date": "Fri, 24 Apr 2020 20:25:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CQueryRequest\u003E\u003CQueryType\u003ESQL\u003C/QueryType\u003E\u003CExpression\u003ESELECT * from BlobStorage\u003C/Expression\u003E\u003C/QueryRequest\u003E",
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://qqaccount01.blob.preprod.core.windows.net/test-container-880fa14c-98ef-8c37-5dc7-7eedc07975f5/test-blob-50ce8a07-4bfa-0c7a-3304-7e6cbd8d24d4?comp=query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Fri, 24 Apr 2020 20:25:59 GMT",
        "x-ms-lease-id": "5cb77387-9623-9a75-e234-2f95729ee8f6",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CQueryRequest\u003E\u003CQueryType\u003ESQL\u003C/QueryType\u003E\u003CExpression\u003ESELECT * from BlobStorage\u003C/Expression\u003E\u003C/QueryRequest\u003E",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:46c09cce-b01e-0001-4d76-1acef2000000\n",
        "Time:2020-04-24T20:25:58.1009442Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://qqaccount01.blob.preprod.core.windows.net/test-container-880fa14c-98ef-8c37-5dc7-7eedc07975f5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2020 20:25:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-24T13:25:56.9506924-07:00",
    "RandomSeed": "146470434",
    "Storage_TestConfigDefault": "ProductionTenant\nqqaccount01\nU2FuaXRpemVk\nhttps://qqaccount01.blob.preprod.core.windows.net\nhttps://qqaccount01.file.preprod.core.windows.net\nhttps://qqaccount01.queue.preprod.core.windows.net\nhttps://qqaccount01.table.preprod.core.windows.net\n\n\n\n\nhttps://qqaccount01-secondary.blob.preprod.core.windows.net\nhttps://qqaccount01-secondary.file.preprod.core.windows.net\nhttps://qqaccount01-secondary.queue.preprod.core.windows.net\nhttps://qqaccount01-secondary.table.preprod.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://qqaccount01.blob.preprod.core.windows.net/;QueueEndpoint=https://qqaccount01.queue.preprod.core.windows.net/;FileEndpoint=https://qqaccount01.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://qqaccount01-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://qqaccount01-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://qqaccount01-secondary.file.preprod.core.windows.net/;AccountName=qqaccount01;AccountKey=Sanitized\nseanscope1"
  }
}