{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Support/services?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11988"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Support/services/484e2236-bc6d-b1bb-76d2-7d09278cf9ea\",\r\n      \"name\": \"484e2236-bc6d-b1bb-76d2-7d09278cf9ea\",\r\n      \"type\": \"Microsoft.Support/services\",\r\n      \"properties\": {\r\n        \"displayName\": \"Activity Logs\",\r\n        \"resourceTypes\": []\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/providers/Microsoft.Support/services/809e8afe-489e-08b0-95f2-08f835a383e8\",\r\n      \"name\": \"809e8afe-489e-08b0-95f2-08f835a383e8\",\r\n      \"type\": \"Microsoft.Support/services\",\r\n      \"properties\": {\r\n        \"displayName\": \"Advanced Threat Protection - Azure\",\r\n        \"resourceTypes\": []\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/providers/Microsoft.Support/services/6859f4e8-4a1d-13e4-f276-6d055007e83d\",\r\[...]
    {
      "RequestUri": "/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-ad26996b1dfc/problemClassifications?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"i[...]
    {
      "RequestUri": "/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/supportTickets/SdkNetTest7557?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"description\": \"test ticket from sdk test. please ignore and close\",\r\n    \"problemClassificationId\": \"/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-ad26996b1dfc/problemClassifications/3ec1a070-f242-9ecf-5a7c-e1a88ce029ef\",\r\n    \"severity\": \"minimal\",\r\n    \"contactDetails\": {\r\n      \"firstName\": \"first name\",\r\n      \"lastName\": \"last name\",\r\n      \"preferredContactMethod\": \"Email\",\r\n      \"primaryEmailAddress\": \"user@contoso.com\",\r\n      \"preferredTimeZone\": \"pacific standard time\",\r\n      \"country\": \"usa\",\r\n      \"preferredSupportLanguage\": \"en-us\"\r\n    },\r\n    \"title\": \"test ticket from sdk test. please ignore and close\",\r\n    \"serviceId\": \"/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-ad26996b1dfc\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://centraluseuap.management.azure.com/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/operationResults/6746a1a6-5c6e-4a79-9f5b-f8233a6093b5?api-version=2020-04-01"
        ],
        "Azure-AsyncOperation": [
          "https://centraluseuap.management.azure.com/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/operationsStatus/6746a1a6-5c6e-4a79-9f5b-f8233a6093b5?api-version=2020-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/operationsStatus/6746a1a6-5c6e-4a79-9f5b-f8233a6093b5?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/operationsStatus/6746a1a6-5c6e-4a79-9f5b-f8233a6093b5\",\r\n  \"status\": \"Succeeded\",\r\n  \"properties\": {\r\n    \"supportTicketCreationWarning\": \"\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/supportTickets/SdkNetTest7557?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/supportTickets/SdkNetTest7557\",\r\n  \"name\": \"SdkNetTest7557\",\r\n  \"type\": \"Microsoft.Support/supportTickets\",\r\n  \"properties\": {\r\n    \"description\": \"test ticket from sdk test. please ignore and close\",\r\n    \"problemClassificationId\": \"/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-ad26996b1dfc/problemClassifications/3ec1a070-f242-9ecf-5a7c-e1a88ce029ef\",\r\n    \"problemClassificationDisplayName\": \"Add or update VAT, tax id, PO number or profile information\",\r\n    \"severity\": \"Minimal\",\r\n    \"require24X7Response\": false,\r\n    \"enrollmentId\": \"\",\r\n    \"contactDetails\": {\r\n      \"firstName\": \"first name\",\r\n      \"lastName\": \"last name\",\r\n      \"preferredContactMethod\": \"Email\",\r\n      \"primaryEmailAddress\": \"user@contoso.com\",\r\n      \"preferredTimeZone\": \"Pacific Standard Time\",\r\n      \"country\": \"USA\",\r\n      \"preferredSupportLanguage\": \"en-us\"\r\n    },\r\n    \"serviceLevelAgreement\": {\r\n      \"startTime\": \"2020-03-12T13:00:00Z\",\r\n      \"expirationTime\": \"2020-03-12T17:00:00Z\",\r\n      \"slaMinutes\": 240\r\n    },\r\n    \"supportEngineer\": {},\r\n    \"supportPlanType\": \"Premier\",\r\n    \"supportTicketId\": \"120031221000116\",\r\n    \"title\": \"test ticket from sdk test. please ignore and close\",\r\n    \"serviceId\": \"/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-ad26996b1dfc\",\r\n    \"serviceDisplayName\": \"Billing\",\r\n    \"status\": \"Open\",\r\n    \"createdDate\": \"2020-03-12T02:12:22Z\",\r\n    \"modifiedDate\": \"2020-03-12T02:12:24Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/supportTickets/SdkNetTest7557/communications/Communication2593?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sender\": \"user@contoso.com\",\r\n    \"subject\": \"test subject\",\r\n    \"body\": \"test body\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://centraluseuap.management.azure.com/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/operationResults/f8f2df22-d9a8-4b9e-ade4-60e92350f1f2?api-version=2020-04-01"
        ],
        "Azure-AsyncOperation": [
          "https://centraluseuap.management.azure.com/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/operationsStatus/f8f2df22-d9a8-4b9e-ade4-60e92350f1f2?api-version=2020-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/supportTickets/SdkNetTest7557/communications/Communication2593?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11985"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/supportTickets/SdkNetTest7557/communications/Communication2593\",\r\n  \"name\": \"Communication2593\",\r\n  \"type\": \"Microsoft.Support/communications\",\r\n  \"properties\": {\r\n    \"communicationType\": \"Web\",\r\n    \"communicationDirection\": \"Inbound\",\r\n    \"sender\": \"user@contoso.com\",\r\n    \"subject\": \"test subject\",\r\n    \"body\": \"test body\",\r\n    \"createdDate\": \"2020-03-12T02:12:50Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/supportTickets/SdkNetTest7557/communications/Communication2593?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/supportTickets/SdkNetTest7557/communications/Communication2593\",\r\n  \"name\": \"Communication2593\",\r\n  \"type\": \"Microsoft.Support/communications\",\r\n  \"properties\": {\r\n    \"communicationType\": \"Web\",\r\n    \"communicationDirection\": \"Inbound\",\r\n    \"sender\": \"user@contoso.com\",\r\n    \"subject\": \"test subject\",\r\n    \"body\": \"test body\",\r\n    \"createdDate\": \"2020-03-12T02:12:50Z\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {
    "CommunicationGetTest": [
      "SdkNetTest7557"
    ],
    "CreateCommunication": [
      "Communication2593"
    ]
  },
  "Variables": {
    "SubscriptionId": "76cb77fa-8b17-4eab-9493-b65dace99813"
  }
}