{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "zGkTT4L0EUetClO2P56cXw.0",
        "X-Processing-Time": "217ms"
      },
      "ResponseBody": {
        "id": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/identities/sanitized/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "J\u002BdoRQjtFVYLx3qOvzptwBLjQWqy6OEWEEk1TY1\u002BrT4="
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "AfkpuAnnUkiRedKyguatKg.0",
        "X-Processing-Time": "373ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "token": "Sanitized",
        "expiresOn": "2020-09-14T15:13:16.837851-07:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.net/;accesskey=Kg==;",
    "RandomSeed": "685538310"
  }
}