{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "kPltHgH7GEC8DdT5sFNwmA.0",
        "X-Processing-Time": "19ms"
      },
      "ResponseBody": {
        "id": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "MvoGMHIltUOB5Ja9/lZQkQ.0",
        "X-Processing-Time": "27ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "token": "Sanitized",
        "expiresOn": "2021-01-19T23:45:49.6175265\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_ACCESS_KEY": "yvjqskj1qKyksaYW6T6kg5wT8bDjF/\u002B\u002Bqnb7M0mihW3ke91IN2b8TjB9q5K/0yJBkHgYcQa1A6vgF7UQ8/K0UA==",
    "COMMUNICATION_ENDPOINT": "https://rejooyan-chitchat.communication.azure.com/",
    "RandomSeed": "372583475"
  }
}