{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "hLyi5n7yLk2H0nCvX4NH1g.0",
        "X-Processing-Time": "159ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "joJluqYK00iXdU\u002BlKcsY3A.0",
        "X-Processing-Time": "25ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-01-20T23:02:47.1847294\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_ENDPOINT": "https://sanitized.communication.azure.com/",
    "RandomSeed": "1971789895"
  }
}
