{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "B7JssobybUOmAIy9Q0IOYA.0",
        "X-Processing-Time": "22ms"
      },
      "ResponseBody": {
        "id": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "jDEwFQiovkSjpZvo9JlfGQ.0",
        "X-Processing-Time": "28ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "token": "Sanitized",
        "expiresOn": "2021-01-19T23:45:49.1271955\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==;",
    "RandomSeed": "1883040555"
  }
}