{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/WebPubSubRG-4769?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11889"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-4769",
        "name": "WebPubSubRG-4769",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-4769/providers/Microsoft.SignalRService/webPubSub/webpubsub-4016?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_S1"
        },
        "tags": {},
        "location": "westus2",
        "properties": {
          "liveTraceConfiguration": {
            "enabled": "true",
            "categories": [
              {
                "name": "category-01",
                "enabled": "true"
              }
            ]
          },
          "resourceLogConfiguration": {
            "categories": [
              {
                "name": "category1",
                "enabled": "false"
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": [
                "RESTAPI"
              ]
            },
            "privateEndpoints": []
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-4769/providers/Microsoft.SignalRService/WebPubSub/webpubsub-4016/operationStatuses/98011d09-caa5-47f9-9593-43eb9de3e757?api-version=2021-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-4769/providers/Microsoft.SignalRService/WebPubSub/webpubsub-4016/operationResults/98011d09-caa5-47f9-9593-43eb9de3e757?api-version=2021-10-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1188",
        "x-rp-server-mvid": "cc9350c4-39bb-4799-b2d8-466ffea269fe"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_S1",
          "tier": "Standard",
          "size": "S1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Creating",
          "externalIP": null,
          "hostName": "webpubsub-4016.webpubsub.azure.com",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0-preview",
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "webpubsub-4016",
          "liveTraceConfiguration": {
            "enabled": "true",
            "categories": [
              {
                "name": "category-01",
                "enabled": "true"
              }
            ]
          },
          "resourceLogConfiguration": {
            "categories": [
              {
                "name": "category1",
                "enabled": "false"
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": [
                "RESTAPI"
              ]
            },
            "privateEndpoints": []
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-03-22T03:15:30.4190425Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-22T03:15:30.4190425Z"
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-4769/providers/Microsoft.SignalRService/WebPubSub/webpubsub-4016",
        "name": "webpubsub-4016",
        "type": "Microsoft.SignalRService/WebPubSub"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-4769/providers/Microsoft.SignalRService/WebPubSub/webpubsub-4016/operationStatuses/98011d09-caa5-47f9-9593-43eb9de3e757?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11888",
        "x-rp-server-mvid": "cc9350c4-39bb-4799-b2d8-466ffea269fe"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-4769/providers/Microsoft.SignalRService/WebPubSub/webpubsub-4016/operationStatuses/98011d09-caa5-47f9-9593-43eb9de3e757",
        "name": "98011d09-caa5-47f9-9593-43eb9de3e757",
        "status": "Running",
        "startTime": "2023-03-22T03:15:31.3606342Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-4769/providers/Microsoft.SignalRService/WebPubSub/webpubsub-4016/operationStatuses/98011d09-caa5-47f9-9593-43eb9de3e757?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11880",
        "x-rp-server-mvid": "cc9350c4-39bb-4799-b2d8-466ffea269fe"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-4769/providers/Microsoft.SignalRService/WebPubSub/webpubsub-4016/operationStatuses/98011d09-caa5-47f9-9593-43eb9de3e757",
        "name": "98011d09-caa5-47f9-9593-43eb9de3e757",
        "status": "Succeeded",
        "startTime": "2023-03-22T03:15:31.3606342Z",
        "endTime": "2023-03-22T03:16:22.3016329Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-4769/providers/Microsoft.SignalRService/webPubSub?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11878"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "7700889",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
