{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/SdkRg1329/providers/Microsoft.EdgeOrder/orderItems?api-version=2020-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "orderItemDetails": {
                "productDetails": {
                  "displayInfo": {
                    "productFamilyDisplayName": "Azure Stack Edge",
                    "configurationDisplayName": "Azure Stack Edge Pro - 1 GPU"
                  },
                  "hierarchyInformation": {
                    "productFamilyName": "azurestackedge",
                    "productLineName": "azurestackedge",
                    "productName": "azurestackedgegpu",
                    "configurationName": "edgep_base"
                  },
                  "count": 0
                },
                "orderItemType": "Purchase",
                "currentStage": {
                  "stageStatus": "Succeeded",
                  "stageName": "Placed",
                  "startTime": "2021-06-21T12:27:23.9395335\u002B00:00"
                },
                "orderItemStageHistory": [
                  {
                    "stageStatus": "Succeeded",
                    "stageName": "Placed",
                    "startTime": "2021-06-21T12:27:23.9395335\u002B00:00"
                  },
                  {
                    "stageStatus": "None",
                    "stageName": "Confirmed"
                  },
                  {
                    "stageStatus": "None",
                    "stageName": "ReadyToShip"
                  },
                  {
                    "stageStatus": "None",
                    "stageName": "Shipped"
                  },
                  {
                    "stageStatus": "None",
                    "stageName": "Delivered"
                  },
                  {
                    "stageStatus": "None",
                    "stageName": "InUse"
                  }
                ],
                "preferences": {
                  "transportPreferences": {
                    "preferredShipmentType": "MicrosoftManaged"
                  }
                },
                "notificationEmailList": [],
                "cancellationStatus": "Cancellable",
                "deletionStatus": "NotAllowed",
                "returnStatus": "NotReturnable"
              },
              "addressDetails": {
                "forwardAddress": {
                  "shippingAddress": {
                    "streetAddress1": "16 TOWNSEND ST",
                    "streetAddress2": "Unit 1",
                    "city": "San Francisco",
                    "stateOrProvince": "CA",
                    "country": "US",
                    "postalCode": "94107",
                    "companyName": "Microsoft",
                    "addressType": "Commercial"
                  },
                  "contactDetails": {
                    "contactName": "Public SDK Test",
                    "phone": "1234567890",
                    "phoneExtension": "1234",
                    "emailList": [
                      "testing@microsoft.com"
                    ]
                  }
                }
              },
              "startTime": "2021-06-21T12:27:09.2190007\u002B00:00",
              "orderId": "/subscriptions/sanitized/resourceGroups/SdkRg1329/providers/Microsoft.EdgeOrder/locations/eastus/orders/SdkOrderItem3549"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2021-06-21T12:27:08.0527979\u002B00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2021-06-21T12:27:08.0527979\u002B00:00"
            },
            "location": "eastus",
            "tags": {},
            "sku": {},
            "identity": "Sanitized",
            "name": "SdkOrderItem3549",
            "id": "/subscriptions/sanitized/resourceGroups/SdkRg1329/providers/Microsoft.EdgeOrder/orderItems/SdkOrderItem3549",
            "type": "Microsoft.EdgeOrder/orderItems"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "520138639",
    "SUBSCRIPTION_ID": "sanitized"
  }
}