{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11928"
      },
      "ResponseBody": {
        "id": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "f100532e-a283-4523-8ff6-a8cebadb6e9d",
        "tenantId": "Sanitized",
        "displayName": "ASE_Ordering_IDC_testBVT",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg1388/providers/Microsoft.EdgeOrder/orderItems?api-version=2021-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11927"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "orderItemDetails": {
                "productDetails": {
                  "displayInfo": {
                    "productFamilyDisplayName": "Azure Stack Edge",
                    "configurationDisplayName": "Azure Stack Edge Pro - 1 GPU"
                  },
                  "hierarchyInformation": {
                    "productFamilyName": "azurestackedge",
                    "productLineName": "azurestackedge",
                    "productName": "azurestackedgegpu",
                    "configurationName": "edgep_base"
                  },
                  "count": 0,
                  "productDoubleEncryptionStatus": "Disabled"
                },
                "orderItemType": "Purchase",
                "currentStage": {
                  "stageStatus": "Succeeded",
                  "stageName": "Placed",
                  "startTime": "2021-11-23T08:56:09.6333904\u002B00:00"
                },
                "orderItemStageHistory": [
                  {
                    "stageStatus": "Succeeded",
                    "stageName": "Placed",
                    "startTime": "2021-11-23T08:56:09.6333904\u002B00:00"
                  },
                  {
                    "stageStatus": "None",
                    "stageName": "Confirmed"
                  },
                  {
                    "stageStatus": "None",
                    "stageName": "ReadyToShip"
                  },
                  {
                    "stageStatus": "None",
                    "stageName": "Shipped"
                  },
                  {
                    "stageStatus": "None",
                    "stageName": "Delivered"
                  },
                  {
                    "stageStatus": "None",
                    "stageName": "InUse"
                  }
                ],
                "preferences": {
                  "transportPreferences": {
                    "preferredShipmentType": "MicrosoftManaged"
                  }
                },
                "notificationEmailList": [],
                "cancellationStatus": "Cancellable",
                "deletionStatus": "NotAllowed",
                "returnStatus": "NotReturnable",
                "managementRpDetailsList": [
                  {
                    "resourceProviderNamespace": "Microsoft.DataBoxEdge"
                  }
                ]
              },
              "addressDetails": {
                "forwardAddress": {
                  "shippingAddress": {
                    "streetAddress1": "16 TOWNSEND ST",
                    "streetAddress2": "Unit 1",
                    "city": "San Francisco",
                    "stateOrProvince": "CA",
                    "country": "US",
                    "postalCode": "94107",
                    "companyName": "Microsoft",
                    "addressType": "Commercial"
                  },
                  "contactDetails": {
                    "contactName": "Public SDK Test",
                    "phone": "1234567890",
                    "phoneExtension": "1234",
                    "emailList": [
                      "testing@microsoft.com"
                    ]
                  },
                  "addressValidationStatus": "Valid"
                }
              },
              "startTime": "2021-11-23T08:56:03.0722529\u002B00:00",
              "orderId": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg1388/providers/Microsoft.EdgeOrder/locations/eastus/orders/Sdk-OrderItem9507"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2021-11-23T08:56:01.9412616\u002B00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2021-11-23T08:56:01.9412616\u002B00:00"
            },
            "location": "eastus",
            "tags": {},
            "name": "Sdk-OrderItem9507",
            "id": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg1388/providers/Microsoft.EdgeOrder/orderItems/Sdk-OrderItem9507",
            "type": "Microsoft.EdgeOrder/orderItems"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "456988440",
    "SUBSCRIPTION_ID": "f100532e-a283-4523-8ff6-a8cebadb6e9d"
  }
}