{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7c0822a6-d0d0-d6d6-2897-f1c4fe1e43de?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 03 Apr 2020 20:31:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D80DF2D457A0\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:31:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7c0822a6-d0d0-d6d6-2897-f1c4fe1e43de/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 03 Apr 2020 20:31:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "XZM\u002BrlL5vGcnAvvai4Ean5618q2szimysZZHomPT13feIfcnSkrp2ZQLTbIgf225\u002BTyIeRZpd45qjP27sRkDVCuE\u002B2qK8lVTzBkZoYF2kTEojaknS11hdalovb5NLSd7B/mHnIMDLwfmNaz9T9UM8/rLkyRw3AnNIoXAITWXBp/ynpqI7/WuJF2hQRWxZCbUW8nDgZkCCivvuXn\u002BQw3STi8MCrE7hAQFHW7HzprzHL5f7MVr04QF75NumDV7r\u002BFPz/LmpFl0mNfFvmQqOzuQ/J27nlZIZnuqBxsezOvPim2Nd/\u002BoDHhl6lPuphUg27RX3pyXvxGKB2h3O5[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_34b3a1bd-084d-6966-bbb2-3f85650dafbe",
        "x-ms-date": "Fri, 03 Apr 2020 20:31:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "LS1iYXRjaF8zNGIzYTFiZC0wODRkLTY5NjYtYmJiMi0zZjg1NjUwZGFmYmUNCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogYmluYXJ5DQpDb250ZW50LUlEOiAwDQoNCkRFTEVURSAvdGVzdC1jb250YWluZXItN2MwODIyYTYtZDBkMC1kNmQ2LTI4OTctZjFjNGZlMWU0M2RlL2Jsb2IxIEhUVFAvMS4xDQpBdXRob3JpemF0aW9uOiBTaGFyZWRLZ[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-7c0822a6-d0d0-d6d6-2897-f1c4fe1e43de?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 20:31:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "649283643",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}