{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-934f400c-c2ac-bcc4-926e-3df9fd614a86?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D832E984E8A6\u0022",
        "Last-Modified": "Tue, 23 Feb 2021 19:40:45 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-934f400c-c2ac-bcc4-926e-3df9fd614a86/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:45 GMT"
      },
      "RequestBody": "/e7GHBWUOXFhJ1nZHRjhQPBJ4p6JhWM0Jld0Av\u002BBnhcO9K7si2DegSRmY/vMMYZ5SFtsP0AlJ3iLkva\u002BIDdx34lByyhp9bSQa2B6IiJoZ/TR\u002BrmkFV7X6M02YPlqH2Ht9INyi2ZdD1On29TfqwRWIyoC7SV9zckqauJbM5S7Jkv/jS6e9dyNc\u002Btm/TqJ9z3I3z3OZzI7bye5RyGEAtu\u002B67WJ4B7Wty1OdHk6F9CPoHKlklNX7L4Ywx0H5K67CHAPpxGEABYe8igQgPO5AVhWKaau33CIZ//2cRwBztJ\u002BkmsIK2\u002B/C6Bchp8rRmzLX8LEsLoHDSkAhz8Sjo/6HSNVke2HsNXplx4GUljRXCGSKxFZPB4[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/?sv=2020-06-12\u0026st=2021-02-23T18%3A40%3A45Z\u0026se=2021-02-23T20%3A40%3A45Z\u0026sr=c\u0026sp=racwdxlt\u0026sig=Sanitized\u0026comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_77690f18-cbe4-80bc-d63f-0d7d113fc054"
      },
      "RequestBody": "LS1iYXRjaF83NzY5MGYxOC1jYmU0LTgwYmMtZDYzZi0wZDdkMTEzZmMwNTQNCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-934f400c-c2ac-bcc4-926e-3df9fd614a86?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-23T13:40:45.0652400-06:00",
    "RandomSeed": "795978237",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}