{
  "Entries": [
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-afc0fdae-6446-066f-b2e5-a4183afab71a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 19 Nov 2020 00:52:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D88C25730677D5\u0022",
        "Last-Modified": "Thu, 19 Nov 2020 00:52:54 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-afc0fdae-6446-066f-b2e5-a4183afab71a/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 19 Nov 2020 00:52:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "v9ebJK\u002BVf3RmlsurW1raON94n8XZYqNR30fvsLVoIRICKFVV3eB84/Wt7\u002BBCM7\u002BG1kxOjzHTCF00SUVnpc\u002B\u002B/XW5qDMEhVr/\u002B7zPK3PCD6uIadlpGZHgLx/4IZObFT0l7/FqiIqLgVHxT5N1A9zqcTqZ3jz1VOTj2XkTC2PGY\u002BZ\u002BqTyCWIYh/OeId8n\u002BaixDDrBZATYAL5oMh68ReHbtK\u002Bus91mfZxi0eOJVbdwa5W5Nz/2zbWKwfXqhddDWD4Rxm0zeUXPSpKaXpIhTqsK\u002B8qJBxKh4Ob6J\u002B3nf/vJI3Whe5NGQ[...]
[...]
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_c87f8dac-c45e-d480-a9ed-ff4ee0a04176",
        "x-ms-date": "Thu, 19 Nov 2020 00:52:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "LS1iYXRjaF9jODdmOGRhYy1jNDVlLWQ0ODAtYTllZC1mZjRlZTBhMDQxNzYNCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogYmluYXJ5DQpDb250ZW50LUlEOiAwDQoNCkRFTEVURSAvdGVzdC1jb250YWluZXItYWZjMGZkYWUtNjQ0Ni0wNjZmLWIyZTUtYTQxODNhZmFiNzFhL2Jsb2IxIEhUVFAvMS4xDQp0cmFjZXBhcmVudDogMDAtMjhmMGQ0N[...]
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-afc0fdae-6446-066f-b2e5-a4183afab71a/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 19 Nov 2020 00:52:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-afc0fdae-6446-066f-b2e5-a4183afab71a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 19 Nov 2020 00:52:54 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "345623654",
    "Storage_TestConfigDefault": "ProductionTenant\nbztvq4xscnapcan\nU2FuaXRpemVk\nhttps://bztvq4xscnapcan.blob.core.windows.net\nhttps://bztvq4xscnapcan.file.core.windows.net\nhttps://bztvq4xscnapcan.queue.core.windows.net\nhttps://bztvq4xscnapcan.table.core.windows.net\n\n\n\n\nhttps://bztvq4xscnapcan-secondary.blob.core.windows.net\nhttps://bztvq4xscnapcan-secondary.file.core.windows.net\nhttps://bztvq4xscnapcan-secondary.queue.core.windows.net\nhttps://bztvq4xscnapcan-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://bztvq4xscnapcan.blob.core.windows.net/;QueueEndpoint=https://bztvq4xscnapcan.queue.core.windows.net/;FileEndpoint=https://bztvq4xscnapcan.file.core.windows.net/;BlobSecondaryEndpoint=https://bztvq4xscnapcan-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bztvq4xscnapcan-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bztvq4xscnapcan-secondary.file.core.windows.net/;AccountName=bztvq4xscnapcan;AccountKey=Kg==;\ntestscope1"
  }
}