{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-7c0822a6-d0d0-d6d6-2897-f1c4fe1e43de?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 05:38:57 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DFC6AF83429\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 05:38:57 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-7c0822a6-d0d0-d6d6-2897-f1c4fe1e43de/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 05:38:57 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "XZM\u002BrlL5vGcnAvvai4Ean5618q2szimysZZHomPT13feIfcnSkrp2ZQLTbIgf225\u002BTyIeRZpd45qjP27sRkDVCuE\u002B2qK8lVTzBkZoYF2kTEojaknS11hdalovb5NLSd7B/mHnIMDLwfmNaz9T9UM8/rLkyRw3AnNIoXAITWXBp/ynpqI7/WuJF2hQRWxZCbUW8nDgZkCCivvuXn\u002BQw3STi8MCrE7hAQFHW7HzprzHL5f7MVr04QF75NumDV7r\u002BFPz/LmpFl0mNfFvmQqOzuQ/J27nlZIZnuqBxsezOvPim2Nd/\u002BoDHhl6lPuphUg27RX3pyXvxGKB2h3O5[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_34b3a1bd-084d-6966-bbb2-3f85650dafbe",
        "x-ms-date": "Wed, 11 Dec 2019 05:38:57 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF8zNGIzYTFiZC0wODRkLTY5NjYtYmJiMi0zZjg1NjUwZGFmYmUNCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogYmluYXJ5DQpDb250ZW50LUlEOiAwDQoNCkRFTEVURSAvdGVzdC1jb250YWluZXItN2MwODIyYTYtZDBkMC1kNmQ2LTI4OTctZjFjNGZlMWU0M2RlL2Jsb2IxIEhUVFAvMS4xDQpBdXRob3JpemF0aW9uOiBTaGFyZWRLZ[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-7c0822a6-d0d0-d6d6-2897-f1c4fe1e43de?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 05:38:57 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "649283643",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}