{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-cba04f64-31f8-8707-257f-38312a5c1350?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 23 Dec 2019 20:26:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D787E665D34FB7\u0022",
        "Last-Modified": "Mon, 23 Dec 2019 20:26:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-cba04f64-31f8-8707-257f-38312a5c1350/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 23 Dec 2019 20:26:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "Yvuyr2gnX6KNEdDOVzwALOtw52JVTCVzg1j5H23KXvRlsGiMRuVgImhkOBjsTnPrAygMwB5j1BbVPiwPLj81w7PbaabUdOUGEMT58BMMhzXlDhxEvp7WAtxRtge4UPQoL3VlEOXMF45DBrBaaeMCyLf3KiAj8AUVBWbJgr7dTcDP0MGep3ZPGfeOALfte5j5T\u002B1PwSXUBT5wUAp\u002BA5TQZbjwipkiYyFBpxAolPBNJ4nO0DLQjYua\u002BsqDLVZs0RVivpv\u002B/fD/1uvLDhoUq3FOIymArzJi/9gsVpDOnzbL1NX7xtZUTiqYzvlGBX5xhU9ZNAot6yLj/77D0adgMTe1ADlE[...]
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_e4e35f6a-87c1-4108-ff8b-104c9e32fed9",
        "x-ms-date": "Mon, 23 Dec 2019 20:26:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "LS1iYXRjaF9lNGUzNWY2YS04N2MxLTQxMDgtZmY4Yi0xMDRjOWUzMmZlZDkNCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogYmluYXJ5DQpDb250ZW50LUlEOiAwDQoNCkRFTEVURSAvdGVzdC1jb250YWluZXItY2JhMDRmNjQtMzFmOC04NzA3LTI1N2YtMzgzMTJhNWMxMzUwL2Jsb2IxIEhUVFAvMS4xDQpBdXRob3JpemF0aW9uOiBTaGFyZWRLZ[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-cba04f64-31f8-8707-257f-38312a5c1350/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Dec 2019 20:26:32 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-cba04f64-31f8-8707-257f-38312a5c1350?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Dec 2019 20:26:32 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "455916447",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}