{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d8e3e1d2-473f-5e1a-b21e-3d80205cac85?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D832EBCBD632\u0022",
        "Last-Modified": "Tue, 23 Feb 2021 19:40:48 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d8e3e1d2-473f-5e1a-b21e-3d80205cac85/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:48 GMT"
      },
      "RequestBody": "c7jE1IrWjUReeF9dhFartfUoR2YosCTb\u002BCAApHcIpZtKb1D5OFSJYivvnei4Hh2H5mGEnJYwK8KU6dxp1enNVtPEExUFsnygn\u002BQ7OBM8I9kDeL0VgwgFGkOOZU94H4xBIkcV9AsIgjTk4/yx9POvV8YCZl0rt9LKvvjRd0wtKIBY\u002BhXLJi7O\u002BvaJMJ8LUyVQ3g2JdbgvFWt1SzUSNwrnt7t8Wfrd4zGXNGxmooYyvmrSgZg/o7LHKOSqVtv5u8Pronnkjvorcvrc8kFLyXPkQozKP7VyqBMJtTAVMo1VnXipegAMTi9wpw6dYrFwe19wxRRPL3wNeflm29nJFUBth1TJok5z2PRcWZin1EVhmDnRpW15BW77nAEGpnNWp5[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d8e3e1d2-473f-5e1a-b21e-3d80205cac85?sv=2020-06-12\u0026se=2021-02-24T13%3A40%3A49Z\u0026sr=c\u0026sp=racwdxlt\u0026sig=Sanitized\u0026restype=container\u0026comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_3ff5cc46-a376-35d4-539a-9cfcca28fa6e"
      },
      "RequestBody": "LS1iYXRjaF8zZmY1Y2M0Ni1hMzc2LTM1ZDQtNTM5YS05Y2ZjY2EyOGZhNmU[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d8e3e1d2-473f-5e1a-b21e-3d80205cac85/blob3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d8e3e1d2-473f-5e1a-b21e-3d80205cac85?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-23T13:40:49.1189028-06:00",
    "RandomSeed": "1162311983",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}