{
  "Entries": [
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-fefa60c1-c1b6-d08e-b761-d981e631e136?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 04 Dec 2020 00:32:15 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D897EC0D280E68\u0022",
        "Last-Modified": "Fri, 04 Dec 2020 00:32:16 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-fefa60c1-c1b6-d08e-b761-d981e631e136/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 04 Dec 2020 00:32:16 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "5tj/uJXd3G8G5luDp/1Ehsl9z32mGFiorV\u002BXLy7BSY7AJqqzMuDG1Iwawvet6Fpjk5zOS0T1TM5/Vgo1RaxBRZzNwoFSkVTot/rxi1Vg\u002BsUENJyS8v5JytncM9vVkI7f2Xxa3yXYEAJI5ZRJA8B4HlxFMBEQr1OehPiodl15EyZsErLZBhufLCOaSQxp/8YYZBR/j199zyopu1stMJmkz9Ju3fEOnxhBpgTtdmVHNYQxjxJI\u002BYTG70KHr0q/cvuK9Xo6\u002BiLVCsT7Pulaj1jF4YbX\u002B6GHW9VNqO6uhu/OgTMJY4DqDTpiXIVNTLuba1/pws3D6HZZApql7FIzJoP[...]
[...]
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-fefa60c1-c1b6-d08e-b761-d981e631e136?sv=2020-06-12\u0026se=2020-12-04T18:32:16Z\u0026sr=c\u0026sp=racwdxlt\u0026sig=Sanitized\u0026restype=container\u0026comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_422c6ee4-037b-9f8f-d8f1-a6d018913e20",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "LS1iYXRjaF80MjJjNmVlNC0wMzdiLTlmOGYtZDhmMS1hNmQwMTg5MTNlMjANCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogYmluYXJ5DQpDb250ZW50LUlEOiAwDQoNCkRFTEVURSAvdGVzdC1jb250YWluZXItZmVmYTYwYzEtYzFiNi1kMDhlLWI3NjEtZDk4MWU2MzFlMTM2L2Jsb2IxP3N2PTIwMjAtMDYtMTImc2U9MjAyMC0xMi0wNFQxOCUzQTMyJTNBMTZaJnNyPWMmc3A9cmFjd2R4bHQmc2lnPWdIOVYzWTZ4eTN[...]
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-fefa60c1-c1b6-d08e-b761-d981e631e136/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Dec 2020 00:32:16 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-fefa60c1-c1b6-d08e-b761-d981e631e136?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Dec 2020 00:32:16 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-12-03T18:32:16.4018720-06:00",
    "RandomSeed": "1370688423",
    "Storage_TestConfigDefault": "ProductionTenant\nbztvq4xscnapcan\nU2FuaXRpemVk\nhttps://bztvq4xscnapcan.blob.core.windows.net\nhttps://bztvq4xscnapcan.file.core.windows.net\nhttps://bztvq4xscnapcan.queue.core.windows.net\nhttps://bztvq4xscnapcan.table.core.windows.net\n\n\n\n\nhttps://bztvq4xscnapcan-secondary.blob.core.windows.net\nhttps://bztvq4xscnapcan-secondary.file.core.windows.net\nhttps://bztvq4xscnapcan-secondary.queue.core.windows.net\nhttps://bztvq4xscnapcan-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://bztvq4xscnapcan.blob.core.windows.net/;QueueEndpoint=https://bztvq4xscnapcan.queue.core.windows.net/;FileEndpoint=https://bztvq4xscnapcan.file.core.windows.net/;BlobSecondaryEndpoint=https://bztvq4xscnapcan-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bztvq4xscnapcan-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bztvq4xscnapcan-secondary.file.core.windows.net/;AccountName=bztvq4xscnapcan;AccountKey=Kg==;\ntestscope1"
  }
}