{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-ef7052d9-f6f7-8d81-be26-35e19437902d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 05:39:24 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DFC7B255036\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 05:39:24 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-ef7052d9-f6f7-8d81-be26-35e19437902d/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 05:39:24 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "kEkIaXQoiAWUt3i3bqYOOLHoLi1Dh\u002BxY8NPq3tdqdI0f50s1fQvXi97udIkeSEaFRcKhW7vyXghdsHmhPaotKkLql4Zb2LqmEKNOVBNiOaeNZJgVyBnSLYlC2M2SNk00wElGM7G/Km0I\u002B0oYown1\u002BnfSFNkRGGEpGGr8GADtFNpWGpPJHAX2zToqDMzPuomATN1VvyFzIqfnHRtGwhFtG\u002BdwwYl1K91x20ef5gyVWl7gfMwil1S44vfs4f/qrwoovfHlXvgACiD/5OTa1DubUsK8ZUZFSoOTt9\u002BRiUrehys8dikbr/tm4HKrIrJv3g68UY48LUrE43NtUacYboH[...]
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_9f156545-be28-2b81-3252-7f125c9ee2b9",
        "x-ms-date": "Wed, 11 Dec 2019 05:39:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF85ZjE1NjU0NS1iZTI4LTJiODEtMzI1Mi03ZjEyNWM5ZWUyYjkNCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogYmluYXJ5DQpDb250ZW50LUlEOiAwDQoNCkRFTEVURSAvdGVzdC1jb250YWluZXItZWY3MDUyZDktZjZmNy04ZDgxLWJlMjYtMzVlMTk0Mzc5MDJkL2Jsb2IxIEhUVFAvMS4xDQpBdXRob3JpemF0aW9uOiBTaGFyZWRLZ[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-ef7052d9-f6f7-8d81-be26-35e19437902d/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 05:39:25 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-ef7052d9-f6f7-8d81-be26-35e19437902d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 05:39:25 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1826638814",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}