{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e2e4949a-8e23-4cac-4667-c31d3c657d37?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D832EB8050DA\u0022",
        "Last-Modified": "Tue, 23 Feb 2021 19:40:48 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e2e4949a-8e23-4cac-4667-c31d3c657d37/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:48 GMT"
      },
      "RequestBody": "Jse\u002BYqT\u002BoObwLYucHib8A\u002B1cvwbxjEordP65J6ev\u002BbLRX1\u002BIhRfBX5aNAMA9Fl4Z2wkGYOWvH5p9ku2mRHg\u002BQTTYy77HdH7WmmBwY4yJ7l6goEueqJnNIj/EC/IpGxsdT7\u002BMZEufUWeLMMWEPrsO86SPBqQsoJiaC6h/A2mLrH9FUxTN/YkSAE7kEnjUSOODthdNmhR28K8m8VmiIE79/4NFP\u002BunQfUbfAVVSI0fxcLF\u002B01RPRJqzmNlpgwwcOAA5hL0jgj43HUhMh0OIKchByyW3SQBrMFx2nGIQprp6wwlVWF7Kja6zB7XLwv1XK27RJ/fmZK7/zpQg7SXcJraOEcQ6ctGpdz13BAGK[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e2e4949a-8e23-4cac-4667-c31d3c657d37?restype=container\u0026comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_33ded1b1-22ea-02a3-0db8-5508b3b4150c",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:48 GMT"
      },
      "RequestBody": "LS1iYXRjaF8zM2RlZDFiMS0yMmVhLTAyYTMtMGRiOC01NTA4YjNiNDE1MGMNCkNvb[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e2e4949a-8e23-4cac-4667-c31d3c657d37/blob3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e2e4949a-8e23-4cac-4667-c31d3c657d37?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1206756399",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}