{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-4f844520-b2b8-ece9-3243-bfc796ff7d1b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 23 Dec 2019 20:26:23 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D787E661208C97\u0022",
        "Last-Modified": "Mon, 23 Dec 2019 20:26:23 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-4f844520-b2b8-ece9-3243-bfc796ff7d1b/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 23 Dec 2019 20:26:23 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "MZgre1HODThre17TeC/1siWvM19wEqcYOg5G6BAsMIK6mIheVKG\u002BxSlV//kcGU1jBySHKTrJMB7xEkBChyUoPkvcGOCnll2E8G42GxOt/CHB4\u002BHrpAZH8WhqbUJgfD4ELcCuPwBtvHDHAzjMkxULQxYfgKREPJpElSd3PCkbI3QwMu1S/7whVCdwJKHNel1TXykrQfuav/AmaarY9X9HrN/EnGEnuERa/Sx80xj4dxrKJN3/7\u002BJ5lXL9K5USSF6nKXfBCd78K6bl0UPOHezXLfGPDtChR7z9SwbuKo2uR7TO1amgNm48zfk3Gh6eqniGJf2kgjqNBuK6xL7XDgEZNomPAEhCN[...]
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_a4a86c2d-2328-413c-fdfb-5d4f05ac6fb8",
        "x-ms-date": "Mon, 23 Dec 2019 20:26:24 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "LS1iYXRjaF9hNGE4NmMyZC0yMzI4LTQxM2MtZmRmYi01ZDRmMDVhYzZmYjgNCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogYmluYXJ5DQpDb250ZW50LUlEOiAwDQoNCkRFTEVURSAvdGVzdC1jb250YWluZXItNGY4NDQ1MjAtYjJiOC1lY2U5LTMyNDMtYmZjNzk2ZmY3ZDFiL2Jsb2IxIEhUVFAvMS4xDQpBdXRob3JpemF0aW9uOiBTaGFyZWRLZ[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-4f844520-b2b8-ece9-3243-bfc796ff7d1b/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Dec 2019 20:26:24 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-4f844520-b2b8-ece9-3243-bfc796ff7d1b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Dec 2019 20:26:24 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1635593380",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}