{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-905928f2-0d11-77f8-1872-0d9067f33055?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 18 Feb 2021 03:57:10 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3C14447A185\u0022",
        "Last-Modified": "Thu, 18 Feb 2021 03:57:10 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-905928f2-0d11-77f8-1872-0d9067f33055/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 18 Feb 2021 03:57:10 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "M\u002Br6\u002B1L5dgfFNB86ezLV53Ccfj0KVR5PGmLyq07PIG1DfJK3NgUeGLLgFQLqPap/PLQiZ4VVCt7MquHvB8u49hOx9v6fHbFqfmaLKj8bZdy4cm6arLno7nG064skLhDnKB7uOEar4B8DuOgfyuCesEUEN5RcHkpayQiN6zElRk9VowEhLCyWDJJPlvPRyCOQFTpFH/d8igrUlG89HvXt3XGYyibffYMZbioBDYdWiADl/NX34CdY2Bn3TJi8WO2dYrmCOf78sZe2LLDMen2CfQxvWCEf9f1KQPEN6DDrXBY9ZKrO1E8B6Es\u002BQLN2i12cdM\u002BLTf/Lfmy7OPgN78lnys\u[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-905928f2-0d11-77f8-1872-0d9067f33055?sv=2020-06-12\u0026se=2021-02-18T21%3A57%3A10Z\u0026sr=c\u0026sp=racwdxlt\u0026sig=Sanitized\u0026restype=container\u0026comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_7af706a6-b7a8-75e9-e7f5-611205e468c6",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "LS1iYXRjaF83YWY3MDZhN[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-905928f2-0d11-77f8-1872-0d9067f33055/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Feb 2021 03:57:11 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-905928f2-0d11-77f8-1872-0d9067f33055?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Feb 2021 03:57:11 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T21:57:10.6122825-06:00",
    "RandomSeed": "1520151930",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}