{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3532f710-2bdd-d750-9a6f-064759c7ab33?sv=2022-11-02\u0026ss=b\u0026srt=sco\u0026st=2021-09-01T16%3A25%3A53Z\u0026se=2021-09-01T18%3A25%3A53Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-public-access": "container",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96D6D8C475CFC\u0022",
        "Last-Modified": "Wed, 01 Sep 2021 17:25:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3532f710-2bdd-d750-9a6f-064759c7ab33/blob1?sv=2022-11-02\u0026ss=b\u0026srt=sco\u0026st=2021-09-01T16%3A25%3A53Z\u0026se=2021-09-01T18%3A25%3A53Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "ZflyY3ZzWIMzav1PxqrVk5m/7rAQMIC1HiijQDz\u002B5EW9rUEJlHHQ5VA0R0iNi0HOA7wrIwQepjV4vUVO0BdGNYa3khloy/8o7whg2\u002Bg4KJLm1DyA08BBngcMkdcsgRU47RHB1vkoZje9AzP7vspMP5SyZ/vbxmLFdfMSXDon\u002B23yJ\u002B7XdlKZvm4Ews\u002BMReA8v1FCeRoaXSev/GAGFgn9lQfGCZbcdclCGKmN1gOSOS8S1Zzp5YFT2MrGJ3rxk6hlBy3IxjxKX0qI/2FxjYcjHcIw80BsE6\u002BFcjDLFU5OUYUAKM7WyXLyyHZSYeYg4ktDowm3wZ9n\u002BPN9QlMMfkn8Oa7bcGW4TVNQPSvKGrLJZJDliHJElpDlmC/aWYYf5ko[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/?sv=2022-11-02\u0026ss=b\u0026srt=sco\u0026st=2021-09-01T16%3A25%3A53Z\u0026se=2021-09-01T18%3A25%3A53Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized\u0026comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_a944fb88-3823-4c0f-cfe9-862ecda62d76",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "LS1iYXRjaF9hOTQ0ZmI4OC0zODIzLTRjMGYtY2ZlOS04[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3532f710-2bdd-d750-9a6f-064759c7ab33/blob3?sv=2022-11-02\u0026ss=b\u0026srt=sco\u0026st=2021-09-01T16%3A25%3A53Z\u0026se=2021-09-01T18%3A25%3A53Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3532f710-2bdd-d750-9a6f-064759c7ab33?sv=2022-11-02\u0026ss=b\u0026srt=sco\u0026st=2021-09-01T16%3A25%3A53Z\u0026se=2021-09-01T18%3A25%3A53Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-09-01T12:25:53.0796526-05:00",
    "RandomSeed": "1698552471",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}