{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-63c1388e-30cb-f4f0-4a61-c3fa18b974cf?sv=2020-06-12\u0026ss=b\u0026srt=sco\u0026st=2021-02-18T02%3A57%3A01Z\u0026se=2021-02-18T04%3A57%3A01Z\u0026sp=rwdxlacuptf\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-public-access": "container",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3C13F58ABF5\u0022",
        "Last-Modified": "Thu, 18 Feb 2021 03:57:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-63c1388e-30cb-f4f0-4a61-c3fa18b974cf/blob1?sv=2020-06-12\u0026ss=b\u0026srt=sco\u0026st=2021-02-18T02%3A57%3A01Z\u0026se=2021-02-18T04%3A57%3A01Z\u0026sp=rwdxlacuptf\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "HD6Qqosalxd7DC\u002B8ZS9eV7KQODOgM0g34LTwfIhFHbbxdKRXYQWnp00BxXpq5ELAL5fFB0bqtuj2WcnWKhqPNu94y/GLBvat6JDmnm7NzPxyL03xgBVwB767YQc80H0yco6L8RlQNSigFx61Axd6KIzMZPrNnrbaCMQz0KTucBcTsyzfQtvjIfokUGj2ugOmQDl7b2yCZdTYselUHGSDsqYHolDqmuWx6EL/qE1N403BjI9rcgGrkE1YB5HxjgSVoJ7B7xiyvKZTyoYpg72Gis2ck4/VGD\u002BlWxICkZJTwFo9agevjPQ0DtDoF6h6gg2Q0n3EVPt0v4heG5MGryoT/wks6xi21v3ZaIS/7ACWKtkFcr8Vj2teyKp\u002BUHBgLl6l1BefTpb02vt/6ux2tdO[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/?sv=2020-06-12\u0026ss=b\u0026srt=sco\u0026st=2021-02-18T02%3A57%3A01Z\u0026se=2021-02-18T04%3A57%3A01Z\u0026sp=rwdxlacuptf\u0026sig=Sanitized\u0026comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_e9b9a17c-3a8e-fa38-c3a7-32278fd0cb37",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "LS1iYXRjaF9lOWI5YTE3Yy0zYThlLWZhMzgtYzNhNy0zMj[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-63c1388e-30cb-f4f0-4a61-c3fa18b974cf/blob1?sv=2020-06-12\u0026ss=b\u0026srt=sco\u0026st=2021-02-18T02%3A57%3A01Z\u0026se=2021-02-18T04%3A57%3A01Z\u0026sp=rwdxlacuptf\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-63c1388e-30cb-f4f0-4a61-c3fa18b974cf?sv=2020-06-12\u0026ss=b\u0026srt=sco\u0026st=2021-02-18T02%3A57%3A01Z\u0026se=2021-02-18T04%3A57%3A01Z\u0026sp=rwdxlacuptf\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T21:57:01.8970174-06:00",
    "RandomSeed": "96180525",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}