{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4beeee6c-2d2a-09f1-2ebd-130ed316b6cc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D832EF251390\u0022",
        "Last-Modified": "Tue, 23 Feb 2021 19:40:54 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4beeee6c-2d2a-09f1-2ebd-130ed316b6cc/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:54 GMT"
      },
      "RequestBody": "JddFpZoLxt30tzXuEFEctmN1y3BEl/\u002BtcVQJuI2H\u002Be48KXoUMrQDN5z1KhS8E/TG/EsOyFyOro3YmDRGAQ5Pbb5GsebWB4OucZPUT23r8F1fQrxBeTCSrXvtPJqAvTWOpbxVdmEN8PTHX1bJul8f7KfW5r9RDfSNtANr6crpLrRdRamxlXr8UVHHehnayPMbzVDzqtd2PJjIyMJeogcq3jGia3S2blcs2ZRtipPas\u002BsQUBt69YPd5gkR6c24nq9KnZvoOFx\u002BZV/4xtBCCLEE7RTWTlLrr\u002BmtxIRrpIWJdDvkI\u002B348XqOkeq8gS\u002Bymt5XDPu44U9dXu2yO3PXEsDZb1KUXeXEDPuZSLxnLy25\u002Bi[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4beeee6c-2d2a-09f1-2ebd-130ed316b6cc?sv=2020-06-12\u0026se=2021-02-24T13%3A40%3A54Z\u0026sr=c\u0026sp=racwdxlt\u0026sig=Sanitized\u0026restype=container\u0026comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_9c8d2aae-9ed4-2e7e-3214-6114c2cc661d"
      },
      "RequestBody": "LS1iYXRjaF85YzhkMmFhZS05ZWQ0LTJlN2UtMzIxNC02MTE0YzJjYzY2MWQ[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4beeee6c-2d2a-09f1-2ebd-130ed316b6cc/blob3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "HyfXUFECHSP1jVyQhfohaQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D832EF40F7E7\u0022",
        "Last-Modified": "Tue, 23 Feb 2021 19:40:54 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Tue, 23 Feb 2021 19:40:54 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 23 Feb 2021 19:40:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 23 Feb 2021 19:40:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-23T19:40:54.6901991Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4beeee6c-2d2a-09f1-2ebd-130ed316b6cc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-23T13:40:54.6869544-06:00",
    "RandomSeed": "363924662",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}