{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4beeee6c-2d2a-09f1-2ebd-130ed316b6cc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 14 May 2021 16:54:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D916F8F4E37BB0\"",
        "Last-Modified": "Fri, 14 May 2021 16:54:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4beeee6c-2d2a-09f1-2ebd-130ed316b6cc/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 14 May 2021 16:54:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "JddFpZoLxt30tzXuEFEctmN1y3BEl/+tcVQJuI2H+e48KXoUMrQDN5z1KhS8E/TG/EsOyFyOro3YmDRGAQ5Pbb5GsebWB4OucZPUT23r8F1fQrxBeTCSrXvtPJqAvTWOpbxVdmEN8PTHX1bJul8f7KfW5r9RDfSNtANr6crpLrRdRamxlXr8UVHHehnayPMbzVDzqtd2PJjIyMJeogcq3jGia3S2blcs2ZRtipPas+sQUBt69YPd5gkR6c24nq9KnZvoOFx+ZV/4xtBCCLEE7RTWTlLrr+mtxIRrpIWJdDvkI+348XqOkeq8gS+ymt5XDPu44U9dXu2yO3PXEsDZb1KUXeXEDPuZSLxnLy25+imm[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4beeee6c-2d2a-09f1-2ebd-130ed316b6cc?sv=2023-01-03&se=2021-05-15T11%3A54%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_9c8d2aae-9ed4-2e7e-3214-6114c2cc661d",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "LS1iYXRjaF85YzhkMmFhZS05ZWQ0LTJlN2UtMzIxNC02MTE0Y[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4beeee6c-2d2a-09f1-2ebd-130ed316b6cc/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 14 May 2021 16:54:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "nSxjy9gwGl96aluBG5eVww==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D916F8F4ECC015\"",
        "Last-Modified": "Fri, 14 May 2021 16:54:36 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Fri, 14 May 2021 16:54:38 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 14 May 2021 16:54:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 14 May 2021 16:54:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2021-05-14T16:54:36.6492693Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4beeee6c-2d2a-09f1-2ebd-130ed316b6cc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 14 May 2021 16:54:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-05-14T11:54:37.2591612-05:00",
    "RandomSeed": "363924662",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}