{
  "Entries": [
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-e71f66ba-e8be-7f26-7da9-9cb21d463148?sv=2020-06-12\u0026ss=b\u0026srt=sco\u0026st=2020-12-04T17%3A02%3A58Z\u0026se=2020-12-04T19%3A02%3A58Z\u0026sp=rwdxlacuptf\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-public-access": "container",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8987ED4EAD907\u0022",
        "Last-Modified": "Fri, 04 Dec 2020 18:02:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-e71f66ba-e8be-7f26-7da9-9cb21d463148/blob1?sv=2020-06-12\u0026ss=b\u0026srt=sco\u0026st=2020-12-04T17%3A02%3A58Z\u0026se=2020-12-04T19%3A02%3A58Z\u0026sp=rwdxlacuptf\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "jgpdp/KBa9l9CaOj2KIVG94mZktwXgGTxt8jebjJXYD4qPVeAyKDymb8VT1cFqeIfww/kV3W9zAJyuESXvEgs6wjqjCsthi8o5zkcwnDN7A3mvqsissiIrDEVTlBcGt126GROGx328jzg\u002B3B8YMnRZMx28P3dCngAYiA52DeejMwb5hoMv5DwL8xuAbeYDAsnRCmEJWnfWd3sDfj9vNnFQm6kIHrvxKV7RoExbsjAqBXU0pQOGmdifEx8ILGX8nLyaP9I8\u002BuQd79ESN6o7erVK2WjKOpF9yfHQeQuc6Pzo1QOPwXJd/QqBJsUidGIuU5hZzVL9MmIrLHXgbIHocQbkKVKmu7ky7OxuSQPcS1WPoiVjMyup66KhVKUMfZCImKW\u002BTksfh6fvJtBmnuleX[...]
[...]
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/?sv=2020-06-12\u0026ss=b\u0026srt=sco\u0026st=2020-12-04T17%3A02%3A58Z\u0026se=2020-12-04T19%3A02%3A58Z\u0026sp=rwdxlacuptf\u0026sig=Sanitized\u0026comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_eb5210cd-7cd1-7b6f-89c3-fc6f906f80e4",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "LS1iYXRjaF9lYjUyMTBjZC03Y2QxLTdiNmYtODljMy1mYzZmOTA2ZjgwZTQNCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogYmluYXJ5DQpDb250ZW50LUlEOiAwDQoNClBVVCAvdGVzdC1jb250YWluZXItZTcxZjY2YmEtZThiZS03ZjI2LTdkYTktOWNiMjFkNDYzMTQ4L2Jsb2IxP3N2PTIwMjAtMDYtMTImc3M9YiZzcnQ9c2NvJnN0PTIwMjAtMTItMDRUMTclM0EwMiUzQTU4WiZzZT0yMDIwLTEyLTA0VDE5JTNBMDI[...]
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-e71f66ba-e8be-7f26-7da9-9cb21d463148/blob1?sv=2020-06-12\u0026ss=b\u0026srt=sco\u0026st=2020-12-04T17%3A02%3A58Z\u0026se=2020-12-04T19%3A02%3A58Z\u0026sp=rwdxlacuptf\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "g\u002BBSURHbVlzqwZwMLbPpWA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8987ED4F6616A\u0022",
        "Last-Modified": "Fri, 04 Dec 2020 18:02:57 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Fri, 04 Dec 2020 18:02:58 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 04 Dec 2020 18:02:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-e71f66ba-e8be-7f26-7da9-9cb21d463148?sv=2020-06-12\u0026ss=b\u0026srt=sco\u0026st=2020-12-04T17%3A02%3A58Z\u0026se=2020-12-04T19%3A02%3A58Z\u0026sp=rwdxlacuptf\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-12-04T12:02:58.2835968-06:00",
    "RandomSeed": "759572856",
    "Storage_TestConfigDefault": "ProductionTenant\nbztvq4xscnapcan\nU2FuaXRpemVk\nhttps://bztvq4xscnapcan.blob.core.windows.net\nhttps://bztvq4xscnapcan.file.core.windows.net\nhttps://bztvq4xscnapcan.queue.core.windows.net\nhttps://bztvq4xscnapcan.table.core.windows.net\n\n\n\n\nhttps://bztvq4xscnapcan-secondary.blob.core.windows.net\nhttps://bztvq4xscnapcan-secondary.file.core.windows.net\nhttps://bztvq4xscnapcan-secondary.queue.core.windows.net\nhttps://bztvq4xscnapcan-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://bztvq4xscnapcan.blob.core.windows.net/;QueueEndpoint=https://bztvq4xscnapcan.queue.core.windows.net/;FileEndpoint=https://bztvq4xscnapcan.file.core.windows.net/;BlobSecondaryEndpoint=https://bztvq4xscnapcan-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bztvq4xscnapcan-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bztvq4xscnapcan-secondary.file.core.windows.net/;AccountName=bztvq4xscnapcan;AccountKey=Kg==;\ntestscope1"
  }
}