{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-d9dc5808-d85a-198e-b270-e3414471da7d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 22:53:36 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C1580A151118\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:53:36 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-d9dc5808-d85a-198e-b270-e3414471da7d/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 22:53:36 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "TC0vwtfpicIs9sioQIxRphl\u002BcsuPLsFVEz1VkW4HCjy/97Wa3ZSN5fAff8WW7Wsy2DEKXWInEB5r2a\u002Bak/dTJOyM6EnWtsiE8Izbb678vybRI7k9/azZl\u002BeWLgPl81L4zFrZCgQhWyFohm3WTKFvbxqJyHA9Fic/slFiP4fFn/064qNUI7Uhr8eY1HY/A0pFJ7/pWyrhu7UzmVizvxuZouZvm2r\u002BG0tlZxmopUKw/64GHBjI3EPTWCbtIYlcbvCs/jGQz2jgRwt0hPQRORZzgpqprKMD0cajnENDEPrCCPko/KcQIC9GJdQMVFdPwh4Qep7vs8FMqCxq7DMknTcRsXv7[...]
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_4f56ce2f-c6c8-e5b3-43a5-bb0f393ad8e4",
        "x-ms-date": "Thu, 05 Mar 2020 22:53:37 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "LS1iYXRjaF80ZjU2Y2UyZi1jNmM4LWU1YjMtNDNhNS1iYjBmMzkzYWQ4ZTQNCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogYmluYXJ5DQpDb250ZW50LUlEOiAwDQoNClBVVCAvdGVzdC1jb250YWluZXItZDlkYzU4MDgtZDg1YS0xOThlLWIyNzAtZTM0MTQ0NzFkYTdkL2Jsb2IxP2NvbXA9dGllciBIVFRQLzEuMQ0KeC1tcy1hY2Nlc3MtdGllc[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-d9dc5808-d85a-198e-b270-e3414471da7d/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:53:37 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "75bpxEi5ERfe7eE/SOzD2Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C1580A224EE7\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:53:36 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Thu, 05 Mar 2020 22:53:37 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 22:53:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-d9dc5808-d85a-198e-b270-e3414471da7d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:53:37 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "437420158",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}