{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8da1470a-6ae4-88e5-ccae-9ae688ffb90c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 18 Feb 2021 03:57:38 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3C154F824E5\u0022",
        "Last-Modified": "Thu, 18 Feb 2021 03:57:38 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8da1470a-6ae4-88e5-ccae-9ae688ffb90c/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 18 Feb 2021 03:57:38 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "O4\u002BI4xQvy0wr1P0r36gdIxaKjuZEw/JnOAsnK9qxfTnDAgHbILT7KdZuykVpp\u002BO9D8BUxMgPRHidIKoJB59yeVfDaNynQgJhj2UP1fms/pEoaRsZXblws76IPgAK8SE2\u002B1HupT8GFs2\u002B8jRi/25/8CIZ4Z6EWRudUrQeHgMCV51E2dmovVlSIVJOW2qEDrRPCU3e8BCDsqI1UFKL5/jJu5uWHiaV1jPIx79LNf6xGUT/zxS2JGaNwCY2c2wHxzlahJ/P7e\u002BOujIaFSlQOHykgzcNixjjE5c1CV3/XmPGwQCG8LFe4itUcRXhnA88PIipku81\u002BTshdnEImu[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8da1470a-6ae4-88e5-ccae-9ae688ffb90c?sv=2020-06-12\u0026se=2021-02-18T21%3A57%3A38Z\u0026sr=c\u0026sp=racwdxlt\u0026sig=Sanitized\u0026restype=container\u0026comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_ebc95919-a9ec-9df6-5cef-b2b832167861",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "LS1iYXRjaF9lYmM5NTkxO[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8da1470a-6ae4-88e5-ccae-9ae688ffb90c/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Feb 2021 03:57:39 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "fdx32u3yOAVZlsnulzlZxA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D3C155024E1A\u0022",
        "Last-Modified": "Thu, 18 Feb 2021 03:57:38 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Thu, 18 Feb 2021 03:57:38 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 18 Feb 2021 03:57:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 18 Feb 2021 03:57:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-18T03:57:38.1288474Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8da1470a-6ae4-88e5-ccae-9ae688ffb90c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Feb 2021 03:57:39 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T21:57:38.6163907-06:00",
    "RandomSeed": "1675044628",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}