{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-0b6bbcb7-befc-8e2b-ff49-685486019490?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 23 Dec 2019 20:26:25 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D787E6621E902E\u0022",
        "Last-Modified": "Mon, 23 Dec 2019 20:26:25 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-0b6bbcb7-befc-8e2b-ff49-685486019490/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 23 Dec 2019 20:26:25 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "ftcoXzB6fwylCzVtact2NR2MEsdjfQiafkmcnIVojsj3UuFAocysxz\u002BRcXwisnv1g/CQRPrPnwHOjuDn3uOGPX1sdhbqNpRR30uI0QuMd8zNpxiV10nNJ7PgcRLsxelcCjP\u002BtjtkC01bP2WvR831QhcTGTbK8WYznk9iCcSCZBphLMbYjcCQaZzKOZfkHt/m6y762KuykRnNyxfsAgGJ2dtKTRsGHbVXg7CaALjOT4BvfB6Vh4xvr5utCsKoo2eaQV\u002B8mtDE3855o1X7F5Fg/3uXfYXi9FJO252AWRLzrt9IAL5YEbWvqpxQHOQ2c5gJTApGESbhuE0Nbb4yRIa7hfR2shfSC[...]
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_5160778c-5c5e-1ff5-1bde-7e52b2d7f4e9",
        "x-ms-date": "Mon, 23 Dec 2019 20:26:25 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "LS1iYXRjaF81MTYwNzc4Yy01YzVlLTFmZjUtMWJkZS03ZTUyYjJkN2Y0ZTkNCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogYmluYXJ5DQpDb250ZW50LUlEOiAwDQoNClBVVCAvdGVzdC1jb250YWluZXItMGI2YmJjYjctYmVmYy04ZTJiLWZmNDktNjg1NDg2MDE5NDkwL2Jsb2IxP2NvbXA9dGllciBIVFRQLzEuMQ0KeC1tcy1hY2Nlc3MtdGllc[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-0b6bbcb7-befc-8e2b-ff49-685486019490/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Dec 2019 20:26:25 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "vFmR\u002B2Ngf0JZl0/G4kiscQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D787E6622B438E\u0022",
        "Last-Modified": "Mon, 23 Dec 2019 20:26:25 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Mon, 23 Dec 2019 20:26:25 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 23 Dec 2019 20:26:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-0b6bbcb7-befc-8e2b-ff49-685486019490?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Dec 2019 20:26:26 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "720477817",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}