{
  "Entries": [
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-84d97c10-2f8f-fe35-c8fc-000aee06208b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 07 Jul 2021 22:48:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94199575EDEA3\u0022",
        "Last-Modified": "Wed, 07 Jul 2021 22:48:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-84d97c10-2f8f-fe35-c8fc-000aee06208b/blob \u0105\u0119\u00F31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 07 Jul 2021 22:48:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "saNtIsEQEigUftVOmWamsRKTm5USl057\u002B6pMaZTxmzTxNxy0qcerXkXMdL0iT/L0VKFjLN\u002B5TBlV8icWw6mTIuOgXGFJ8QhL5zxQRSOQWKu4WBXyjW5VOOsCX7aflZucOFHagvKRqmKZGEWjaQf2xJl7XmuToZV1SiR2RpFRq1Kgsw3Rtta5J62zWXQpss/jDJocJDcvCZe8ZTfOGmTRR2zyArX6JQ7Dwja94EcgS5hUkjr3NIcbcap1FVCe6gxJ4REINrAa6eaLWGIAcShPmxmfeogp2RPl15AKhA\u002B9JdcqdP42GBTnOahTa9slGv\u002BCJno3/3CDHwj\u002BI14fEGX[...]
[...]
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_56812d8c-54a0-d3d7-c4ab-d12d05f38260",
        "x-ms-date": "Wed, 07 Jul 2021 22:48:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "LS1iYXRjaF81NjgxMmQ4Yy01NGEwLWQzZDctYzRhYi1kMTJkMDVmMzgyNjANCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24[...]
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-84d97c10-2f8f-fe35-c8fc-000aee06208b/blob \u0105\u0119\u00F31",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jul 2021 22:48:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1jXOPwERRuk26c8aPamgGA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D94199577A5300\u0022",
        "Last-Modified": "Wed, 07 Jul 2021 22:48:30 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Wed, 07 Jul 2021 22:48:30 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Jul 2021 22:48:30 GMT",
        "x-ms-last-access-time": "Wed, 07 Jul 2021 22:48:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://kasobolcanadacentral.blob.core.windows.net/test-container-84d97c10-2f8f-fe35-c8fc-000aee06208b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jul 2021 22:48:31 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1542511914",
    "Storage_TestConfigDefault": "ProductionTenant\nkasobolcanadacentral\nU2FuaXRpemVk\nhttps://kasobolcanadacentral.blob.core.windows.net\nhttps://kasobolcanadacentral.file.core.windows.net\nhttps://kasobolcanadacentral.queue.core.windows.net\nhttps://kasobolcanadacentral.table.core.windows.net\n\n\n\n\nhttps://kasobolcanadacentral-secondary.blob.core.windows.net\nhttps://kasobolcanadacentral-secondary.file.core.windows.net\nhttps://kasobolcanadacentral-secondary.queue.core.windows.net\nhttps://kasobolcanadacentral-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasobolcanadacentral.blob.core.windows.net/;QueueEndpoint=https://kasobolcanadacentral.queue.core.windows.net/;FileEndpoint=https://kasobolcanadacentral.file.core.windows.net/;BlobSecondaryEndpoint=https://kasobolcanadacentral-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasobolcanadacentral-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasobolcanadacentral-secondary.file.core.windows.net/;AccountName=kasobolcanadacentral;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}