{
  "Entries": [
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-fc4c9de9-3de8-f4b9-bafb-0dc185ce3b0e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 04 Dec 2020 00:20:11 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D897EA5DBF86A4\u0022",
        "Last-Modified": "Fri, 04 Dec 2020 00:20:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-fc4c9de9-3de8-f4b9-bafb-0dc185ce3b0e/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 04 Dec 2020 00:20:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "towmqFWiJipbczDWUifN8GypON1594yWfzP3btVaw1F3U9uao\u002BYO5oEr6Q67Q/xYw/l7akK8Hb//jykhq7dUAa/eXv9LMk2Fm1FbTQ1\u002B2zs3nqvc3lkPuzYcmxO97DvK1\u002Bhe3OT9DZCr9s7xYM\u002BxgLTt6g0MdyNWz6PIL5c6yK8WkXUlIP5XOpEaMeeKHlpmahpe0AItvmDFBw1BNN35cC4f2s9ajGC2lrB88UU7zLFIYcV82/it6NMVXxjxFQWzIcC5akOKDN26qDlRscwaijtb\u002BdIYfZU2cvL8RCxHxYCqyc\u002BFgWFuvVXnwTO\u002BWzcG\u002BtXd[...]
[...]
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-fc4c9de9-3de8-f4b9-bafb-0dc185ce3b0e?restype=container\u0026comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_e951ca9f-f805-211d-918c-3ae0c5fff10b",
        "x-ms-date": "Fri, 04 Dec 2020 00:20:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "LS1iYXRjaF9lOTUxY2E5Zi1mODA1LTIxMWQtOTE4Yy0zYWUwYzVmZmYxMGINCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogYmluYXJ5DQpDb250ZW50LUlEOiAwDQoNClBVVCAvdGVzdC1jb250YWluZXItZmM0YzlkZTktM2RlOC1mNGI5LWJhZmItMGRjMTg1Y2UzYjBlL2Jsb2IxP2NvbXA9dGllciBIVFRQLzEuMQ0KeC1tcy1hY2Nlc3MtdGllc[...]
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-fc4c9de9-3de8-f4b9-bafb-0dc185ce3b0e/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Dec 2020 00:20:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "HYLol3v/RvmzzcwGvKWuSg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D897EA5DD23CBB\u0022",
        "Last-Modified": "Fri, 04 Dec 2020 00:20:12 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Fri, 04 Dec 2020 00:20:13 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 04 Dec 2020 00:20:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-fc4c9de9-3de8-f4b9-bafb-0dc185ce3b0e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Dec 2020 00:20:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1255720478",
    "Storage_TestConfigDefault": "ProductionTenant\nbztvq4xscnapcan\nU2FuaXRpemVk\nhttps://bztvq4xscnapcan.blob.core.windows.net\nhttps://bztvq4xscnapcan.file.core.windows.net\nhttps://bztvq4xscnapcan.queue.core.windows.net\nhttps://bztvq4xscnapcan.table.core.windows.net\n\n\n\n\nhttps://bztvq4xscnapcan-secondary.blob.core.windows.net\nhttps://bztvq4xscnapcan-secondary.file.core.windows.net\nhttps://bztvq4xscnapcan-secondary.queue.core.windows.net\nhttps://bztvq4xscnapcan-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://bztvq4xscnapcan.blob.core.windows.net/;QueueEndpoint=https://bztvq4xscnapcan.queue.core.windows.net/;FileEndpoint=https://bztvq4xscnapcan.file.core.windows.net/;BlobSecondaryEndpoint=https://bztvq4xscnapcan-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bztvq4xscnapcan-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bztvq4xscnapcan-secondary.file.core.windows.net/;AccountName=bztvq4xscnapcan;AccountKey=Kg==;\ntestscope1"
  }
}