{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d8b8c3bf-1742-473c-e0f9-6ab9e34b8d8a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D832F0A17F13\u0022",
        "Last-Modified": "Tue, 23 Feb 2021 19:40:57 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d8b8c3bf-1742-473c-e0f9-6ab9e34b8d8a/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:56 GMT"
      },
      "RequestBody": "fpDt2bSU/vXofBTgRKefZ3XuY/yQkdR9SRCnPODOBjJmbBUYiqvHwejFEzkrrfiNkYGWRi3/1uy7cI\u002Bj7cEUGXXhetiSh93JJ6IUy36bUZwYGqtfOL8EZ5YoXBocJNQmsPnDSjIg\u002BwqkzB\u002BL6gpuHx7zi9IWteG13BNBaSrCrQPO7RqF2Adp\u002BB\u002BgumugeXyLujz8KZkBD/sXDW0f3pHf4R8cvf3w6EcWiZKzdvt1FWKXtq7uxoRpzN0ebcqZShqNwNhMhLx\u002BmtL05Z8GTpkAovgKhyfj8RqbsvAf0Xt8fD94JbUiKZCmGBzc\u002BeHkY31EHsvSj8Lzqc\u002B9sdLLX8hXeGhfjijj3nlnZG4KB/g5tk[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_07d26b90-6e45-b8ae-70bb-29de32563c86",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:57 GMT"
      },
      "RequestBody": "LS1iYXRjaF8wN2QyNmI5MC02ZTQ1LWI4YWUtNzBiYi0yOWRlMzI1NjNjODYNCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzo[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d8b8c3bf-1742-473c-e0f9-6ab9e34b8d8a/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "VMrYMTKlXfFCR3Zyy0dv3w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D832F0AE10F1\u0022",
        "Last-Modified": "Tue, 23 Feb 2021 19:40:57 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Tue, 23 Feb 2021 19:40:57 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 23 Feb 2021 19:40:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 23 Feb 2021 19:40:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-23T19:40:57.0829041Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d8b8c3bf-1742-473c-e0f9-6ab9e34b8d8a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1653305426",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}