{
  "Entries": [
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-e308bc94-fb8a-2f40-50ad-1d75514c1f69?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 19 Nov 2020 00:52:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D88C2575C232C1\u0022",
        "Last-Modified": "Thu, 19 Nov 2020 00:52:59 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-e308bc94-fb8a-2f40-50ad-1d75514c1f69/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 19 Nov 2020 00:52:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "Dywa1bJ6xilEPcXW\u002BIdWpA5itwQYaoR6o\u002Bfi351VJFC2hqmskckIRIYKcKfvBDlnVikTRBb5Y6WooDLLl\u002BeM7hl1H3HeqhNFWnN9Dvndip6ue4l0Qt86vSIDBPCWPKyffoKNeuXHiasWzumie1WsyhWTHRxdGKw6O2JP2qYirh7G3pB3UBC45vHdXnP1l0HNVjnbAh6QQmbVUz\u002BDeK4F8x/L3J3ENXoE2zYqf7o4RKMhgYNsRqv/NZwqofzRNW5D2GpUKrqjCCG\u002B1ifnZcKsnA6bYfYqma1zzKYBmpN9M6XI56dP5BrpfXhirW\u002BDF8/ZfgXuNdN3GD684F[...]
[...]
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_88080982-5a86-b0a4-d74d-a8393c175401",
        "x-ms-date": "Thu, 19 Nov 2020 00:52:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "LS1iYXRjaF84ODA4MDk4Mi01YTg2LWIwYTQtZDc0ZC1hODM5M2MxNzU0MDENCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogYmluYXJ5DQpDb250ZW50LUlEOiAwDQoNClBVVCAvdGVzdC1jb250YWluZXItZTMwOGJjOTQtZmI4YS0yZjQwLTUwYWQtMWQ3NTUxNGMxZjY5L2Jsb2IxP2NvbXA9dGllciBIVFRQLzEuMQ0KeC1tcy1hY2Nlc3MtdGllc[...]
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-e308bc94-fb8a-2f40-50ad-1d75514c1f69/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 19 Nov 2020 00:52:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "YYuoW6Ki8fZX0vbAEI6Ufg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D88C2575CCA3A3\u0022",
        "Last-Modified": "Thu, 19 Nov 2020 00:52:59 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Thu, 19 Nov 2020 00:52:59 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 19 Nov 2020 00:52:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://bztvq4xscnapcan.blob.core.windows.net/test-container-e308bc94-fb8a-2f40-50ad-1d75514c1f69?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 19 Nov 2020 00:52:58 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1366540659",
    "Storage_TestConfigDefault": "ProductionTenant\nbztvq4xscnapcan\nU2FuaXRpemVk\nhttps://bztvq4xscnapcan.blob.core.windows.net\nhttps://bztvq4xscnapcan.file.core.windows.net\nhttps://bztvq4xscnapcan.queue.core.windows.net\nhttps://bztvq4xscnapcan.table.core.windows.net\n\n\n\n\nhttps://bztvq4xscnapcan-secondary.blob.core.windows.net\nhttps://bztvq4xscnapcan-secondary.file.core.windows.net\nhttps://bztvq4xscnapcan-secondary.queue.core.windows.net\nhttps://bztvq4xscnapcan-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://bztvq4xscnapcan.blob.core.windows.net/;QueueEndpoint=https://bztvq4xscnapcan.queue.core.windows.net/;FileEndpoint=https://bztvq4xscnapcan.file.core.windows.net/;BlobSecondaryEndpoint=https://bztvq4xscnapcan-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bztvq4xscnapcan-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bztvq4xscnapcan-secondary.file.core.windows.net/;AccountName=bztvq4xscnapcan;AccountKey=Kg==;\ntestscope1"
  }
}