{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fe796f49-5166-5a2d-df17-adf62d794ac7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D832D9A9A4E9\u0022",
        "Last-Modified": "Tue, 23 Feb 2021 19:40:18 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fe796f49-5166-5a2d-df17-adf62d794ac7/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:18 GMT"
      },
      "RequestBody": "yl\u002B\u002BvBQRVCp\u002B0Fe0vddlns4c\u002B2dzUAIhh3ZUDzwj3wrkmIuVgYx76XHce/T14BwqQUP\u002BrKJmiHldnTWdvEXtW/BN0CRLzx1CoBL2ltQOLKZaKc34JDJnfhAROONW3iwr7iADqBD333ImuwuPb/GkTnGPQ5J49Da95VETOZc57MLlyqe0CoSVYkpb0mgn2A4fbelyxpqZsvrpRcO\u002B5Kba7M9IqqVJ8EPt\u002BuBIHSLNlgxD9MyuxiUoSxitysXA1n6kgOWZ3i5p1Xylhcy5UZXYHK62eu/ZLCapIF6MmyV\u002BLCNipJw8NLje2h5PCEBYbvqD1a4WCluOylS/773P3DpXJlmpV634m\u002Bf216DRi[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fe796f49-5166-5a2d-df17-adf62d794ac7?restype=container\u0026comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_c5cc7ac4-ec5a-7c3f-ab68-7ce557198e8b",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:18 GMT"
      },
      "RequestBody": "LS1iYXRjaF9jNWNjN2FjNC1lYzVhLTdjM2YtYWI2OC03Y2U1NTcxOThlOGINCkNvb[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fe796f49-5166-5a2d-df17-adf62d794ac7/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "gYxJ5jM/ajYKRASC7M5tqw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D832D9B7B3CC\u0022",
        "Last-Modified": "Tue, 23 Feb 2021 19:40:18 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Tue, 23 Feb 2021 19:40:18 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 23 Feb 2021 19:40:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 23 Feb 2021 19:40:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-23T19:40:18.5584588Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fe796f49-5166-5a2d-df17-adf62d794ac7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Feb 2021 19:40:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "162016278",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}