{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-ce7ed5ed-f8c9-abb0-5f3c-845e670cc65c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 24 Apr 2020 22:25:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E89E5F338830\u0022",
        "Last-Modified": "Fri, 24 Apr 2020 22:25:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-ce7ed5ed-f8c9-abb0-5f3c-845e670cc65c/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 24 Apr 2020 22:25:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "Xr54KgYm/wWI5anvJEI7G53lMdKmbeY2s6KuMR1L6srOgg\u002Byy3SZBpVg0JA5ACEN4a5jySg5qfDYQXdjeM7nPfveIKEyiFAoSyo9Rp1W/LKBoE9v6CGhldge2on9NY7GeZKUWt9/21hdO339/GNTgUXE4td\u002Bd1TZPYrIE67GKxacdswKwaHTAcX3Ea2ko5l0y1hEOFK2RwE\u002Buh1Utseplg9nYYWXSMCj8eERh2WnNZnxU0dWgvLD5S7KzAaEfkv\u002BTXudPEIT3YOXoUdxpb\u002BcloWEY2J/UhQcpHtWzHu5H3KVEzrqCfhW3XbEv\u002BCrUUBuLjWB/xvofvpmgJ[...]
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_58571ded-adac-d1cb-0ea4-ec8cd41fddc1",
        "x-ms-date": "Fri, 24 Apr 2020 22:25:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "LS1iYXRjaF81ODU3MWRlZC1hZGFjLWQxY2ItMGVhNC1lYzhjZDQxZmRkYzENCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogYmluYXJ5DQpDb250ZW50LUlEOiAwDQoNClBVVCAvdGVzdC1jb250YWluZXItY2U3ZWQ1ZWQtZjhjOS1hYmIwLTVmM2MtODQ1ZTY3MGNjNjVjL2Jsb2IxP2NvbXA9dGllciBIVFRQLzEuMQ0KeC1tcy1hY2Nlc3MtdGllc[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-ce7ed5ed-f8c9-abb0-5f3c-845e670cc65c/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2020 22:25:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "2CX2pjc7\u002BmVpynyr9biazg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E89E5F400F68\u0022",
        "Last-Modified": "Fri, 24 Apr 2020 22:25:19 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Fri, 24 Apr 2020 22:25:19 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 24 Apr 2020 22:25:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-ce7ed5ed-f8c9-abb0-5f3c-845e670cc65c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2020 22:25:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1372207357",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}