{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS12581055": "20220228",
          "NRMSBreakGlassNonHighRisk ": "NRMSBreakGlassNonHighRisk "
        },
        "subscriptionId": "fb9e7fe1-af44-47ef-852d-2d086a069327",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "GenevaMetrics_Int",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourcegroups/testRg-4284?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/testRg-4284",
        "name": "testRg-4284",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/testRg-4284/providers/Microsoft.Cdn/profiles/AFDProfile-319?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "tags": {},
        "location": "Global",
        "properties": {
          "originResponseTimeoutSeconds": 60
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourcegroups/testRg-4284/providers/Microsoft.Cdn/operationresults/fa3ff37c-5400-495b-9a91-b8508263a621?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "23"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourcegroups/testRg-4284/providers/Microsoft.Cdn/profiles/AFDProfile-319",
        "type": "Microsoft.Cdn/profiles",
        "name": "AFDProfile-319",
        "location": "Global",
        "kind": "frontdoor",
        "tags": {},
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "properties": {
          "originResponseTimeoutSeconds": 60,
          "frontDoorId": "b9d69839-f2f4-4e81-aea5-55acb9e35c1a",
          "resourceState": "Creating",
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourcegroups/testRg-4284/providers/Microsoft.Cdn/operationresults/fa3ff37c-5400-495b-9a91-b8508263a621?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "status": "InProgress",
        "error": {
          "code": "None",
          "message": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/testRg-4284/providers/Microsoft.Cdn/profiles/AFDProfile-319/customDomains/AFDCustomDomain-1372?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tlsSettings": {
            "certificateType": "ManagedCertificate",
            "minimumTlsVersion": "TLS12"
          },
          "azureDnsZone": {
            "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/cdntest/providers/Microsoft.Network/dnszones/azuretest.net"
          },
          "hostName": "customdomain4afd-3.azuretest.net"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourcegroups/testRg-4284/providers/Microsoft.Cdn/operationresults/6caeb9ee-b303-4cb2-9f91-9377e0585401?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "98"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourcegroups/testRg-4284/providers/Microsoft.Cdn/profiles/AFDProfile-319/customdomains/AFDCustomDomain-1372",
        "type": "Microsoft.Cdn/profiles/customdomains",
        "name": "AFDCustomDomain-1372",
        "properties": {
          "hostName": "customdomain4afd-3.azuretest.net",
          "tlsSettings": {
            "certificateType": "ManagedCertificate",
            "minimumTlsVersion": "TLS12",
            "secret": null
          },
          "validationProperties": null,
          "azureDnsZone": {
            "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/cdntest/providers/Microsoft.Network/dnszones/azuretest.net"
          },
          "domainValidationState": "Submitting",
          "preValidatedCustomDomainResourceId": null,
          "provisioningState": "Creating",
          "deploymentStatus": "NotStarted"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/testRg-4284/providers/Microsoft.Cdn/profiles/AFDProfile-319/customDomains/AFDCustomDomain-1372?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11964"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourcegroups/testRg-4284/providers/Microsoft.Cdn/profiles/AFDProfile-319/customdomains/AFDCustomDomain-1372",
        "type": "Microsoft.Cdn/profiles/customdomains",
        "name": "AFDCustomDomain-1372",
        "properties": {
          "hostName": "customdomain4afd-3.azuretest.net",
          "tlsSettings": {
            "certificateType": "ManagedCertificate",
            "minimumTlsVersion": "TLS12",
            "secret": null
          },
          "validationProperties": {
            "validationToken": "9stfdwj7zzzmm54n59b10vn6jcyr29vl",
            "expirationDate": "2022-07-07T00:25:51.2579143\u002B00:00"
          },
          "azureDnsZone": {
            "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/cdntest/providers/Microsoft.Network/dnszones/azuretest.net"
          },
          "domainValidationState": "Pending",
          "preValidatedCustomDomainResourceId": null,
          "provisioningState": "Succeeded",
          "deploymentStatus": "NotStarted"
        }
      }
    },
[...]
