{
  "Entries": [
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/CLUScriptDeployed/models?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "label": "model1",
            "modelId": "model1-20220605T110641-613773bae1a04e9d9ae3baff5ffcae5e",
            "lastTrainedDateTime": "2022-06-05T11:06:41Z",
            "lastTrainingDurationInSeconds": 21,
            "modelExpirationDate": "2022-10-28",
            "modelTrainingConfigVersion": "2022-05-01"
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "CONVERSATIONS_ENDPOINT": "https://languagesdkresource.cognitiveservices.azure.com/",
    "CONVERSATIONS_KEY": "Sanitized",
    "CONVERSATIONS_PROJECT_NAME": "CLUScriptDeployed",
    "RandomSeed": "1550602700"
  }
}
