{
  "Entries": [
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/CLUScriptDeployed?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "createdDateTime": "2022-11-08T01:44:19Z",
        "lastModifiedDateTime": "2022-11-08T01:44:35Z",
        "projectKind": "Conversation",
        "settings": {
          "confidenceThreshold": 0.5
        },
        "projectName": "CLUScriptDeployed",
        "multilingual": true,
        "description": "",
        "language": "en-us"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "CONVERSATIONS_ENDPOINT": "https://languagesdkresource.cognitiveservices.azure.com/",
    "CONVERSATIONS_KEY": "Sanitized",
    "CONVERSATIONS_PROJECT_NAME": "CLUScriptDeployed",
    "RandomSeed": "559102303"
  }
}
