{
  "Entries": [
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "createdDateTime": "2022-06-05T12:36:31Z",
            "lastModifiedDateTime": "2022-06-05T12:40:18Z",
            "projectKind": "Orchestration",
            "projectName": "OrchestrationScriptDeployed",
            "multilingual": false,
            "description": "",
            "language": "en-us"
          },
          {
            "createdDateTime": "2022-06-05T11:05:30Z",
            "lastModifiedDateTime": "2022-06-05T12:30:03Z",
            "projectKind": "Conversation",
            "projectName": "CLUScriptDeployed",
            "multilingual": true,
            "description": "",
            "language": "en-us"
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "CONVERSATIONS_ENDPOINT": "https://languagesdkresource.cognitiveservices.azure.com/",
    "CONVERSATIONS_KEY": "Sanitized",
    "RandomSeed": "746936965"
  }
}
