{
  "Entries": [
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-06946ee3-c3c9-198b-2c65-e62f192a32d4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7540EB54E913B\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:04:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-06946ee3-c3c9-198b-2c65-e62f192a32d4/test-directory-3632589f-0987-456b-44b3-180aed06a443?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7540EB556A48D\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:04:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-06946ee3-c3c9-198b-2c65-e62f192a32d4/test-directory-3632589f-0987-456b-44b3-180aed06a443?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:04 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "1579ff4e-21ae-92d8-06bf-b7c786bcea5d",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7540EB556A48D\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:04:04 GMT",
        "x-ms-lease-id": "1579ff4e-21ae-92d8-06bf-b7c786bcea5d",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-06946ee3-c3c9-198b-2c65-e62f192a32d4/test-directory-3632589f-0987-456b-44b3-180aed06a443?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:04 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7540EB556A48D\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:04:04 GMT",
        "x-ms-lease-time": "0",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-fec19c65-b8ea-2b83-d5b1-01bea69b5250/test-directory-98c6e447-7362-d24c-fdd8-423f9d1f9a9f?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 17 Oct 2019 21:04:04 GMT",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:04 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7540EB56C9110\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:04:04 GMT",
        "x-ms-lease-time": "0",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-dcd9730f-27bd-ea5b-30ac-d8f5c91c3033/test-directory-09396d54-d3b8-a63e-0ad4-3666b890eb97?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 19 Oct 2019 21:04:04 GMT",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:04 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7540EB590A08D\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:04:04 GMT",
        "x-ms-lease-time": "0",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-bb06571e-9ff9-7512-d671-41ece297643d/test-directory-44ba0d40-7f57-563b-f65d-1f3c15894fc4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7540EB5A30C8F\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:04:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 18 Oct 2019 21:04:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-bb06571e-9ff9-7512-d671-41ece297643d/test-directory-44ba0d40-7f57-563b-f65d-1f3c15894fc4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7540EB5A30C8F\u0022",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:05 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7540EB5A30C8F\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:04:04 GMT",
        "x-ms-lease-time": "0",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-0b66ad97-91dd-358a-8670-3ab1990a44b5/test-directory-06110a7d-5fab-5a31-9c77-3ee25e19525d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:05 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7540EB5C23A58\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:04:05 GMT",
        "x-ms-lease-time": "0",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-0b66ad97-91dd-358a-8670-3ab1990a44b5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-10-18T14:04:04.4430260-07:00",
    "RandomSeed": "929443802",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttp://seannse.blob.core.windows.net\nhttp://seannse.file.core.windows.net\nhttp://seannse.queue.core.windows.net\nhttp://seannse.table.core.windows.net\n\n\n\n\nhttp://seannse-secondary.blob.core.windows.net\nhttp://seannse-secondary.file.core.windows.net\nhttp://seannse-secondary.queue.core.windows.net\nhttp://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seannse.blob.core.windows.net/;QueueEndpoint=http://seannse.queue.core.windows.net/;TableEndpoint=http://seannse.table.core.windows.net/;FileEndpoint=http://seannse.file.core.windows.net/;BlobSecondaryEndpoint=http://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seannse-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://seannse-secondary.table.core.windows.net/;FileSecondaryEndpoint=http://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized"
  }
}