{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-56063b2f-aa42-fe1b-2496-7bc415759161?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:41:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C35D44F7E8\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:41:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-56063b2f-aa42-fe1b-2496-7bc415759161/test-directory-93d0d160-ec58-23d3-da0d-76d593f92fdf?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:41:56 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C35D803A3B\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:41:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-56063b2f-aa42-fe1b-2496-7bc415759161/test-directory-93d0d160-ec58-23d3-da0d-76d593f92fdf?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:41:56 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "af0cd28b-e058-db9a-6110-bc117ececa6a",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C35D803A3B\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:41:57 GMT",
        "x-ms-lease-id": "af0cd28b-e058-db9a-6110-bc117ececa6a",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-56063b2f-aa42-fe1b-2496-7bc415759161/test-directory-93d0d160-ec58-23d3-da0d-76d593f92fdf?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:41:56 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C35D803A3B\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:41:57 GMT",
        "x-ms-lease-time": "0",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d76452dc-fed6-7446-b153-453322e989f1/test-directory-d80120fc-eec5-f717-f0ca-ab02333c5299?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Mon, 01 Feb 2021 21:41:56 GMT",
        "x-ms-date": "Tue, 02 Feb 2021 21:41:57 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C35E1B4F11\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:41:58 GMT",
        "x-ms-lease-time": "0",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-dd2b4675-10e2-840c-8e31-82a7e03afbd3/test-directory-e1d38216-2af5-22cd-fef2-344edc4c19b4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 03 Feb 2021 21:41:56 GMT",
        "x-ms-date": "Tue, 02 Feb 2021 21:41:58 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C35EB02EA5\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:41:59 GMT",
        "x-ms-lease-time": "0",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d1b6e578-c604-514a-5dc1-b2cb0cdfc0ec/test-directory-1e889c7b-2297-a78c-c4d3-44b384158e5e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:41:59 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C35F4A3CC7\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:42:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:42:00 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d1b6e578-c604-514a-5dc1-b2cb0cdfc0ec/test-directory-1e889c7b-2297-a78c-c4d3-44b384158e5e?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D8C7C35F4A3CC7\u0022",
        "x-ms-date": "Tue, 02 Feb 2021 21:42:00 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C35F4A3CC7\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:42:00 GMT",
        "x-ms-lease-time": "0",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-e7b54d6c-b51a-dbf0-0a02-8d65ef8c901d/test-directory-e2ea691f-4c15-6371-c065-b219192813ae?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Tue, 02 Feb 2021 21:42:01 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C35FFA98CD\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:42:01 GMT",
        "x-ms-lease-time": "0",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-e7b54d6c-b51a-dbf0-0a02-8d65ef8c901d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:42:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-02T15:41:56.1084050-06:00",
    "RandomSeed": "923269689",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}