{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-7c2a17f6-26cd-cb8a-2d69-98ff29e75a74?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:45:29 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D395BA03C2A0\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:45:29 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-7c2a17f6-26cd-cb8a-2d69-98ff29e75a74/test-directory-4c55cd96-b284-3b39-0472-d2d7a6640d1f?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:45:29 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D395BA36E826\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:45:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-7c2a17f6-26cd-cb8a-2d69-98ff29e75a74/test-directory-4c55cd96-b284-3b39-0472-d2d7a6640d1f?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:45:30 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "be85dd2e-ec96-f531-7e04-9b5d0b947c3c",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D395BA36E826\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:45:30 GMT",
        "x-ms-lease-id": "be85dd2e-ec96-f531-7e04-9b5d0b947c3c",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-1ca6e2e0-44a3-1a64-352a-f674f784c719/test-directory-86b640ed-ba11-2b1f-f4a5-c8580e7c1520?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Feb 2021 22:45:29 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 22:45:31 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "5661a3df-6869-9fe4-42fe-fc7c41de3a14",
        "x-ms-proposed-lease-id": "8adc3d3f-5182-b5c2-a701-f43dc98639c3",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D395BAD1E615\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:45:31 GMT",
        "x-ms-lease-id": "8adc3d3f-5182-b5c2-a701-f43dc98639c3",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-0ba2f129-f9c7-fc63-4c84-8049cfba4967/test-directory-9191a4c9-97e0-9a2d-b597-b2fa95531ede?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Feb 2021 22:45:29 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 22:45:32 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "919ae668-f20e-32de-5a2d-59f4247fd1b0",
        "x-ms-proposed-lease-id": "d52c7c87-e50d-4802-3176-756998c4647c",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D395BB62559B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:45:32 GMT",
        "x-ms-lease-id": "d52c7c87-e50d-4802-3176-756998c4647c",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-be8087f2-2d70-a518-8143-44d3b4ad6234/test-directory-802f4e0c-401b-b4d2-b157-4372feb1d11b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:45:33 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D395BC0A4744\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:45:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:45:33 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-be8087f2-2d70-a518-8143-44d3b4ad6234/test-directory-802f4e0c-401b-b4d2-b157-4372feb1d11b?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D395BC0A4744",
        "x-ms-date": "Wed, 17 Feb 2021 22:45:33 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "9eba8323-e42d-bbe2-04a5-2fe0eed2142e",
        "x-ms-proposed-lease-id": "12a7c439-4c57-6ce5-b007-b9c8f1b810a4",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D395BC0A4744\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:45:33 GMT",
        "x-ms-lease-id": "12a7c439-4c57-6ce5-b007-b9c8f1b810a4",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-a140fd77-77ae-dfef-a05a-041e162e2190/test-directory-9078f49f-d3d9-c890-edc6-a08f295665a3?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 17 Feb 2021 22:45:34 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "d86c3557-af7e-9832-7eb4-895bd7fef1b9",
        "x-ms-proposed-lease-id": "f42299d1-e15d-131e-2ead-7d67d921267c",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D395BCA9F0C2\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:45:34 GMT",
        "x-ms-lease-id": "f42299d1-e15d-131e-2ead-7d67d921267c",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-a140fd77-77ae-dfef-a05a-041e162e2190?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:45:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T16:45:29.5459233-06:00",
    "RandomSeed": "2118318148",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}