{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-b02dc000-a2c9-68ce-e43e-d704fb5b53bd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:04:18 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50927E36F63\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:04:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-b02dc000-a2c9-68ce-e43e-d704fb5b53bd/test-directory-51ec8337-036c-ef71-c826-732795860e66?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:04:18 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50927F12DD7\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:04:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-b02dc000-a2c9-68ce-e43e-d704fb5b53bd/test-directory-51ec8337-036c-ef71-c826-732795860e66/test-directory-03b73452-5365-db88-05f4-ed294d8b79ca?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:04:18 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50927FC6051\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:04:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-2610713f-e992-f912-db8f-667d5859b355/test-directory-80b986b9-788a-944d-d20d-e74306f0901d/test-directory-028738d3-685f-4718-60ec-e6695cd63ec0?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 18 Feb 2021 19:04:18 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:04:18 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50928493DE6\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:04:18 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-9683b5b6-f0f8-19f1-553d-22b525386d23/test-directory-5e00ab1e-f7ad-2f99-9e93-5ae913116046/test-directory-50b9b1fc-8578-994e-d5a3-890a266e9f5e?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 20 Feb 2021 19:04:18 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:04:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D509288BAF75\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:04:18 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-43874636-0f13-4a4e-5fd2-9bbc5eaf2c6f/test-directory-e60dc7bc-f849-2e47-052b-9e67d3cecc6b/test-directory-e8a85253-b20a-e6a7-174f-59a39002e50a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:04:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D8D50928CE7071\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:04:18 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:04:18 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-43874636-0f13-4a4e-5fd2-9bbc5eaf2c6f/test-directory-e60dc7bc-f849-2e47-052b-9e67d3cecc6b/test-directory-e8a85253-b20a-e6a7-174f-59a39002e50a?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D50928CE7071",
        "x-ms-date": "Fri, 19 Feb 2021 19:04:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50928EDB077\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:04:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-88f449e7-67b6-55eb-4f96-885afefe2ace/test-directory-4903e0fd-de7b-ed03-ac7d-2b69107bde2e/test-directory-b5d7527c-ea72-4fdf-df90-08d062e374bb?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Fri, 19 Feb 2021 19:04:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50929392F7F\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:04:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-e45d8093-a6fb-19c1-fad8-03d36606b142/test-directory-c4573248-9db8-f512-cf25-56de4d50f7bf/test-directory-17bf92cb-275b-b06d-2409-158d5f2daa3a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:04:20 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "c6dc0f67-5d31-c250-b51b-047d03826326",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D5092969CF60\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:04:19 GMT",
        "x-ms-lease-id": "c6dc0f67-5d31-c250-b51b-047d03826326",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-e45d8093-a6fb-19c1-fad8-03d36606b142?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:04:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-19T13:04:18.0422225-06:00",
    "RandomSeed": "394628021",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n\n\n"
  }
}