{
  "Entries": [
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-f615eb43-10e7-f6d5-40cd-18b4aeddfe99?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 22:11:43 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C152302BA60A\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:11:43 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-f615eb43-10e7-f6d5-40cd-18b4aeddfe99/test-directory-580fcc03-419c-9305-99f2-6e2e81a243ac?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:11:43 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C152305B8596\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:11:43 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-f615eb43-10e7-f6d5-40cd-18b4aeddfe99/test-directory-580fcc03-419c-9305-99f2-6e2e81a243ac/test-directory-89c8cdde-53dd-7480-2d3d-805ba11b5d69?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:11:44 GMT",
        "x-ms-permissions": "0777",
        "x-ms-umask": "0057",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C152307CDB31\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:11:44 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-f615eb43-10e7-f6d5-40cd-18b4aeddfe99/test-directory-580fcc03-419c-9305-99f2-6e2e81a243ac/test-directory-89c8cdde-53dd-7480-2d3d-805ba11b5d69?action=getAccessControl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:11:44 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C152307CDB31\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:11:44 GMT",
        "x-ms-acl": "user::rwx,group::-w-,other::---",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwx-w----",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-f615eb43-10e7-f6d5-40cd-18b4aeddfe99?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:11:44 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1861018077",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttps://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}