{
  "Entries": [
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-e89d5542-8b7c-3933-5027-580c6ff7a31b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7540ECD21FC3B\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:04:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-e89d5542-8b7c-3933-5027-580c6ff7a31b/test-directory-f1bab78b-a571-012f-e784-7ff69b6aa390?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7540ECD29C7E1\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:04:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-e89d5542-8b7c-3933-5027-580c6ff7a31b/test-directory-f1bab78b-a571-012f-e784-7ff69b6aa390?action=getAccessControl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7540ECD29C7E1\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:04:44 GMT",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-037feef9-f5d1-6394-628b-482e422b8aac/test-directory-35ca8ba7-c37d-1311-7229-8fc50c2db714?action=getAccessControl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 17 Oct 2019 21:04:44 GMT",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7540ECD3DB688\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:04:44 GMT",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-659a7815-58b4-1092-1565-a6414a1125b4/test-directory-69613a33-37d7-8f1c-0499-0833dd3f6acb?action=getAccessControl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 19 Oct 2019 21:04:44 GMT",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7540ECD4C1531\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:04:44 GMT",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-f9e038e0-b05b-af7e-2932-419cc94f51d4/test-directory-c8437802-41ed-8875-35ac-a8f9a886b9eb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7540ECD5B4076\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:04:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 18 Oct 2019 21:04:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-f9e038e0-b05b-af7e-2932-419cc94f51d4/test-directory-c8437802-41ed-8875-35ac-a8f9a886b9eb?action=getAccessControl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7540ECD5B4076\u0022",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7540ECD5B4076\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:04:44 GMT",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.dfs.core.windows.net/test-filesystem-902425d5-971b-42e2-c9a9-1c1b31cdba56/test-directory-283bef63-11c7-2ecd-8ebb-0f2ad783c26d?action=getAccessControl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7540ECD7AD5E6\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:04:44 GMT",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-5e40c430-38b7-6f5f-584a-1bd4d6fbbcdd/test-directory-bcabf245-4323-7091-b797-588d30bbda78?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:45 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "8dff0ac1-80d5-e65d-a7f1-80cbf16232be",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7540ECD8C74A7\u0022",
        "Last-Modified": "Fri, 18 Oct 2019 21:04:45 GMT",
        "x-ms-lease-id": "8dff0ac1-80d5-e65d-a7f1-80cbf16232be",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannse.blob.core.windows.net/test-filesystem-5e40c430-38b7-6f5f-584a-1bd4d6fbbcdd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2019 21:04:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-10-18T14:04:44.4145813-07:00",
    "RandomSeed": "1901810774",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttp://seannse.blob.core.windows.net\nhttp://seannse.file.core.windows.net\nhttp://seannse.queue.core.windows.net\nhttp://seannse.table.core.windows.net\n\n\n\n\nhttp://seannse-secondary.blob.core.windows.net\nhttp://seannse-secondary.file.core.windows.net\nhttp://seannse-secondary.queue.core.windows.net\nhttp://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seannse.blob.core.windows.net/;QueueEndpoint=http://seannse.queue.core.windows.net/;TableEndpoint=http://seannse.table.core.windows.net/;FileEndpoint=http://seannse.file.core.windows.net/;BlobSecondaryEndpoint=http://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seannse-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://seannse-secondary.table.core.windows.net/;FileSecondaryEndpoint=http://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized"
  }
}