{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "response_type=token\u0026grant_type=client_credentials\u0026client_id=68390a19-a643-458b-b726-408abf67b4fc\u0026client_secret=Sanitized\u0026scope=https%3A%2F%2Fstorage.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 3599,
        "ext_expires_in": 3599,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-23258a4c-f325-6b1d-61cd-5b04b3290281?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C1524AFAAD7B\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:12:28 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-23258a4c-f325-6b1d-61cd-5b04b3290281/test-directory-b827ebc0-dc16-7c5a-f8a6-c60cb61aea70?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C1524B3D5CDF\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:12:29 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-23258a4c-f325-6b1d-61cd-5b04b3290281/test-directory-b827ebc0-dc16-7c5a-f8a6-c60cb61aea70?action=getAccessControl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C1524B3D5CDF\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:12:29 GMT",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-group": "c4f48289-bb84-4086-b250-6f94a8f64cee",
        "x-ms-owner": "c4f48289-bb84-4086-b250-6f94a8f64cee",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-23258a4c-f325-6b1d-61cd-5b04b3290281?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "144189548",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttps://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}