{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-2ecb6b47-6597-a573-9a4c-7b4b122f7151?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 12 Jan 2021 17:51:29 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8B722B0D831FB\u0022",
        "Last-Modified": "Tue, 12 Jan 2021 17:51:29 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-2ecb6b47-6597-a573-9a4c-7b4b122f7151/test-directory-135e5f61-61a8-f46d-f050-4ddee4f7a1ff?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Jan 2021 17:51:29 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8B722B10657CB\u0022",
        "Last-Modified": "Tue, 12 Jan 2021 17:51:29 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-2ecb6b47-6597-a573-9a4c-7b4b122f7151/test-directory-135e5f61-61a8-f46d-f050-4ddee4f7a1ff/foo?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8B722B111D7E2\u0022",
        "Last-Modified": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-2ecb6b47-6597-a573-9a4c-7b4b122f7151/test-directory-135e5f61-61a8-f46d-f050-4ddee4f7a1ff/bar?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8B722B11C7BF4\u0022",
        "Last-Modified": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-2ecb6b47-6597-a573-9a4c-7b4b122f7151/test-directory-135e5f61-61a8-f46d-f050-4ddee4f7a1ff/baz?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8B722B128FA86\u0022",
        "Last-Modified": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-2ecb6b47-6597-a573-9a4c-7b4b122f7151/test-directory-135e5f61-61a8-f46d-f050-4ddee4f7a1ff/baz/bar?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8B722B135614B\u0022",
        "Last-Modified": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-2ecb6b47-6597-a573-9a4c-7b4b122f7151/test-directory-135e5f61-61a8-f46d-f050-4ddee4f7a1ff/foo/foo?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8B722B1414982\u0022",
        "Last-Modified": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-2ecb6b47-6597-a573-9a4c-7b4b122f7151/test-directory-135e5f61-61a8-f46d-f050-4ddee4f7a1ff/foo/bar?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8B722B14BBC41\u0022",
        "Last-Modified": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-2ecb6b47-6597-a573-9a4c-7b4b122f7151/test-directory-135e5f61-61a8-f46d-f050-4ddee4f7a1ff/baz/foo?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8B722B155BF04\u0022",
        "Last-Modified": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-2ecb6b47-6597-a573-9a4c-7b4b122f7151/test-directory-135e5f61-61a8-f46d-f050-4ddee4f7a1ff/baz/foo/bar?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8B722B164B3EB\u0022",
        "Last-Modified": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-2ecb6b47-6597-a573-9a4c-7b4b122f7151/test-directory-135e5f61-61a8-f46d-f050-4ddee4f7a1ff/baz/bar/foo?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8B722B170A51B\u0022",
        "Last-Modified": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-2ecb6b47-6597-a573-9a4c-7b4b122f7151/test-directory-135e5f61-61a8-f46d-f050-4ddee4f7a1ff/file?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8B722B17A9000\u0022",
        "Last-Modified": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-2ecb6b47-6597-a573-9a4c-7b4b122f7151?restype=container\u0026comp=list\u0026include=metadata%2Cpermissions\u0026prefix=test-directory-135e5f61-61a8-f46d-f050-4ddee4f7a1ff%2F\u0026delimiter=%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Jan 2021 17:51:30 GMT",
        "x-ms-upn": "true",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seannsecanary.blob.core.windows.net/\u0022 ContainerName=\u0022test-filesystem-2ecb6b47-6597-a573-9a4c-7b4b122f7151\u0022\u003E\u003CPrefix\u003Etest-directory-135e5f61-61a8-f46d-f050-4ddee4f7a1ff/\u003C/Prefix\u003E\u003CDelimiter\u003E/\u003C/Delimiter\u003E\u003CBlobs\u003E\u003[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-2ecb6b47-6597-a573-9a4c-7b4b122f7151?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Jan 2021 17:51:31 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2031102275",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}