{
  "Entries": [
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-20b4246a-7062-6b2f-15ea-dbd7abe24739?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 03 Apr 2020 20:53:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D8111B348FEA\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:53:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.dfs.core.windows.net/test-filesystem-20b4246a-7062-6b2f-15ea-dbd7abe24739/test-directory-db2181e8-d1b8-855d-1bc4-ed3368f1de24?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 20:53:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D8111B432FF8\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:53:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-20b4246a-7062-6b2f-15ea-dbd7abe24739/test-directory-db2181e8-d1b8-855d-1bc4-ed3368f1de24",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 20:53:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D8111B432FF8\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:53:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 03 Apr 2020 20:53:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-89d809a9-6c98-cfe0-f0f1-9954836f49c9/test-directory-02ed67b1-3c13-cb73-7959-a346beb505b3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 02 Apr 2020 20:53:49 GMT",
        "x-ms-date": "Fri, 03 Apr 2020 20:53:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D8111B7B1740\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:53:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 03 Apr 2020 20:53:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-3da54d23-b549-b574-2e8d-4bce0bce8c1a/test-directory-04e9d70c-780d-28f1-f923-8fa662c34e14",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 04 Apr 2020 20:53:49 GMT",
        "x-ms-date": "Fri, 03 Apr 2020 20:53:50 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D8111BB58EAA\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:53:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 03 Apr 2020 20:53:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-6e569d70-5ab9-4fd1-4211-02f72db2caf0/test-directory-20c281ca-bfc4-b309-ee54-967c90848532",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7D8111BF2A50C\u0022",
        "x-ms-date": "Fri, 03 Apr 2020 20:53:50 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D8111BF2A50C\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:53:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 03 Apr 2020 20:53:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-7a3eef9f-1d69-d45e-a3c9-b5d3fd125af2/test-directory-ce5b6562-de4d-51b8-2ebb-24d594407890",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 03 Apr 2020 20:53:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D8111C33BC07\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:53:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 03 Apr 2020 20:53:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-29fa4d5f-c89e-d3b3-348d-ca034350c118/test-directory-0035585b-ea9f-c5e2-d06b-d1212578f5e7?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 20:53:51 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "cad31c9f-a88f-38a9-05b5-cfcc03c03035",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D8111C6B37C8\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:53:49 GMT",
        "x-ms-lease-id": "cad31c9f-a88f-38a9-05b5-cfcc03c03035",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-29fa4d5f-c89e-d3b3-348d-ca034350c118?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 20:53:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-03T13:53:49.3067105-07:00",
    "RandomSeed": "584370375",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttp://seannsecanary.blob.core.windows.net\nhttp://seannsecanary.file.core.windows.net\nhttp://seannsecanary.queue.core.windows.net\nhttp://seannsecanary.table.core.windows.net\n\n\n\n\nhttp://seannsecanary-secondary.blob.core.windows.net\nhttp://seannsecanary-secondary.file.core.windows.net\nhttp://seannsecanary-secondary.queue.core.windows.net\nhttp://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seannsecanary.blob.core.windows.net/;QueueEndpoint=http://seannsecanary.queue.core.windows.net/;FileEndpoint=http://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=http://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}