{
  "Entries": [
    {
      "RequestUri": "http://aclcbn06stf.blob.core.windows.net/test-filesystem-00fd68e4-95ff-3514-6d01-4df494bfdd13?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 13 Mar 2020 20:34:49 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C78DFA4449BE\u0022",
        "Last-Modified": "Fri, 13 Mar 2020 20:34:49 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://aclcbn06stf.dfs.core.windows.net/test-filesystem-00fd68e4-95ff-3514-6d01-4df494bfdd13/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Fri, 13 Mar 2020 20:34:50 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C78DFA61F478\u0022",
        "Last-Modified": "Fri, 13 Mar 2020 20:34:50 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "response_type=token\u0026grant_type=client_credentials\u0026client_id=68390a19-a643-458b-b726-408abf67b4fc\u0026client_secret=Sanitized\u0026scope=https%3A%2F%2Fstorage.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 3599,
        "ext_expires_in": 3599,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://aclcbn06stf.dfs.core.windows.net/test-filesystem-00fd68e4-95ff-3514-6d01-4df494bfdd13/test-directory-d486c72e-c846-f302-89ba-367e2aaa4744?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C78DFAA510F6\u0022",
        "Last-Modified": "Fri, 13 Mar 2020 20:34:50 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://aclcbn06stf.dfs.core.windows.net/test-filesystem-00fd68e4-95ff-3514-6d01-4df494bfdd13/test-directory-d486c72e-c846-f302-89ba-367e2aaa4744/test-directory-769923f1-e773-81e2-b1f3-6168913f0ea4?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C78DFAAEBD1D\u0022",
        "Last-Modified": "Fri, 13 Mar 2020 20:34:50 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://aclcbn06stf.dfs.core.windows.net/test-filesystem-00fd68e4-95ff-3514-6d01-4df494bfdd13/test-directory-d486c72e-c846-f302-89ba-367e2aaa4744/test-directory-769923f1-e773-81e2-b1f3-6168913f0ea4/test-file-fc23349e-7b34-f33d-75b9-49aa0c169ca1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C78DFAB813FB\u0022",
        "Last-Modified": "Fri, 13 Mar 2020 20:34:50 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://aclcbn06stf.dfs.core.windows.net/test-filesystem-00fd68e4-95ff-3514-6d01-4df494bfdd13/test-directory-d486c72e-c846-f302-89ba-367e2aaa4744/test-directory-91df4065-48ee-b2a7-082f-37aadb2ececd/test-file-ad755794-5fef-8258-6702-783dd3c14cf6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 13 Mar 2020 20:34:50 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C78DFADBEFA7\u0022",
        "Last-Modified": "Fri, 13 Mar 2020 20:34:50 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://aclcbn06stf.dfs.core.windows.net/test-filesystem-00fd68e4-95ff-3514-6d01-4df494bfdd13/test-directory-d486c72e-c846-f302-89ba-367e2aaa4744?action=setAccessControlRecursive\u0026mode=modify",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjMsImZhaWxlZEVudHJpZXMiOlt7ImVycm9yTWVzc2FnZSI6IlRoaXMgcmVxdWVzdCBpcyBub3QgYXV0aG9yaXplZCB0byBwZXJmb3JtIHRoaXMgb3BlcmF0aW9uIHVzaW5nIHRoaXMgcGVybWlzc2lvbi4iLCJuYW1lIjoidGVzdC1kaXJlY3RvcnktZDQ4NmM3MmUtYzg0Ni1mMzAyLTg5YmEtMzY3ZTJhYWE0NzQ0L3Rlc3QtZGlyZWN0b3J5LTkxZGY0MDY1LTQ4ZWUtYjJhNy0wODJmLTM3YWFkYjJlY2VjZC90ZXN0LWZpbGUtYWQ3NTU3OTQtNWZlZi04MjU4LTY3MDItNzgzZGQzYzE0Y2Y2IiwidHlwZSI6IkZJTEUifV0sImZhaWx1cmVDb3VudCI6MSwiZmlsZXNTdWNjZXNzZnVsIjozfQo="
    },
    {
      "RequestUri": "http://aclcbn06stf.blob.core.windows.net/test-filesystem-00fd68e4-95ff-3514-6d01-4df494bfdd13?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 13 Mar 2020 20:34:51 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "997275216",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\naclcbn06stf\nU2FuaXRpemVk\nhttp://aclcbn06stf.blob.core.windows.net\nhttp://aclcbn06stf.file.core.windows.net\nhttp://aclcbn06stf.queue.core.windows.net\nhttp://aclcbn06stf.table.core.windows.net\n\n\n\n\nhttp://aclcbn06stf-secondary.blob.core.windows.net\nhttp://aclcbn06stf-secondary.file.core.windows.net\nhttp://aclcbn06stf-secondary.queue.core.windows.net\nhttp://aclcbn06stf-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://aclcbn06stf.blob.core.windows.net/;QueueEndpoint=http://aclcbn06stf.queue.core.windows.net/;FileEndpoint=http://aclcbn06stf.file.core.windows.net/;BlobSecondaryEndpoint=http://aclcbn06stf-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://aclcbn06stf-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://aclcbn06stf-secondary.file.core.windows.net/;AccountName=aclcbn06stf;AccountKey=Sanitized\n"
  }
}