{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-44964f65-3b5f-ded8-9efe-32e62f120a68?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:40:31 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39508A2EDCD\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:40:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-44964f65-3b5f-ded8-9efe-32e62f120a68/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Wed, 17 Feb 2021 22:40:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39508A60DEA\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:40:32 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-44964f65-3b5f-ded8-9efe-32e62f120a68/test-directory-37e79737-41d3-d9ba-310f-6527469b12e5?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:40:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39508EE84F9\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:40:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-44964f65-3b5f-ded8-9efe-32e62f120a68/test-directory-37e79737-41d3-d9ba-310f-6527469b12e5/test-directory-4a6959f3-9f1a-e6db-e104-cdea104a919b?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:40:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D395090B11E2\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:40:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-44964f65-3b5f-ded8-9efe-32e62f120a68/test-directory-37e79737-41d3-d9ba-310f-6527469b12e5/test-directory-4a6959f3-9f1a-e6db-e104-cdea104a919b/test-file-a7160a83-c780-d3b2-e55a-4b95be926703?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:40:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D395091A01E6\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:40:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-44964f65-3b5f-ded8-9efe-32e62f120a68/test-directory-37e79737-41d3-d9ba-310f-6527469b12e5?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:40:33 GMT",
        "x-ms-owner": "47f86df0-fa23-246c-3d91-e5ed9981c974",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39508FCE80B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:40:32 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-44964f65-3b5f-ded8-9efe-32e62f120a68/test-directory-37e79737-41d3-d9ba-310f-6527469b12e5/test-directory-4a6959f3-9f1a-e6db-e104-cdea104a919b?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:40:33 GMT",
        "x-ms-owner": "47f86df0-fa23-246c-3d91-e5ed9981c974",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D395090B11E2\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:40:32 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-44964f65-3b5f-ded8-9efe-32e62f120a68/test-directory-37e79737-41d3-d9ba-310f-6527469b12e5/test-directory-4a6959f3-9f1a-e6db-e104-cdea104a919b/test-file-a7160a83-c780-d3b2-e55a-4b95be926703?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:40:33 GMT",
        "x-ms-owner": "47f86df0-fa23-246c-3d91-e5ed9981c974",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D395091A01E6\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:40:32 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-44964f65-3b5f-ded8-9efe-32e62f120a68/test-directory-37e79737-41d3-d9ba-310f-6527469b12e5/test-directory-5067f380-8ecc-dbf1-3243-6925743c8e9a/test-directory-a263a553-fdd5-5531-013d-b8a428807d35?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:40:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39509DB0A94\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:40:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "\uFEFF\u003CKeyInfo\u003E\u003CExpiry\u003E2021-02-17T23:40:34Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2021-02-17T22:40:34Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2021-02-17T23:40:34Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-06-12\u003C/SignedVersion\u003E\u003CValue\u003E0LuwmJFM0vqohy\u002B9YELyC7DDLW8Juo8hMQxGZsLBkpk=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-44964f65-3b5f-ded8-9efe-32e62f120a68/test-directory-37e79737-41d3-d9ba-310f-6527469b12e5?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A40%3A34Z\u0026ske=2021-02-17T23%3A40%3A34Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A40%3A34Z\u0026se=2021-02-17T23%3A40%3A34Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=47f86df0-fa23-246c-3d91-e5ed9981c974\u0026sig=Sanitized\u0026action=setAccessControlRecursive\u0026mode=remove\u0026forceFlag=true\u0026maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBbnxLy7zLuqvHkY/AEY9gEvc2Vhbm5zZQEwMUQ1Nzk5MkM5NzE0OEMyL3Rlc3QtZmlsZXN5c3RlbS00NDk2NGY2NS0zYjVmLWRlZDgtOWVmZS0zMmU2MmYxMjBhNjgBMDFENzA1N0RFNjJDNUY4MC90ZXN0LWRpcmVjdG9yeS0zN2U3OTczNy00MWQzLWQ5YmEtMzEwZi02NTI3NDY5YjEyZTUvdGVzdC1kaXJlY3RvcnktNGE2OTU5ZjMtOWYxYS1lNmRiLWUxMDQtY2RlYTEwNGE5MTliL3Rlc3QtZmlsZS01ZDNiNmVjZS0wM2QyLWEzNmEtN2ExYi1lNzFlOGIzMzIzZDgWAAAA",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-44964f65-3b5f-ded8-9efe-32e62f120a68/test-directory-37e79737-41d3-d9ba-310f-6527469b12e5?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A40%3A34Z\u0026ske=2021-02-17T23%3A40%3A34Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A40%3A34Z\u0026se=2021-02-17T23%3A40%3A34Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=47f86df0-fa23-24[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-44964f65-3b5f-ded8-9efe-32e62f120a68/test-directory-37e79737-41d3-d9ba-310f-6527469b12e5?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A40%3A34Z\u0026ske=2021-02-17T23%3A40%3A34Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A40%3A34Z\u0026se=2021-02-17T23%3A40%3A34Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=47f86df0-fa23-24[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-44964f65-3b5f-ded8-9efe-32e62f120a68/test-directory-37e79737-41d3-d9ba-310f-6527469b12e5?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A40%3A34Z\u0026ske=2021-02-17T23%3A40%3A34Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A40%3A34Z\u0026se=2021-02-17T23%3A40%3A34Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=47f86df0-fa23-24[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-44964f65-3b5f-ded8-9efe-32e62f120a68/test-directory-37e79737-41d3-d9ba-310f-6527469b12e5?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A40%3A34Z\u0026ske=2021-02-17T23%3A40%3A34Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A40%3A34Z\u0026se=2021-02-17T23%3A40%3A34Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=47f86df0-fa23-24[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-44964f65-3b5f-ded8-9efe-32e62f120a68?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:40:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T16:40:34.3631162-06:00",
    "RandomSeed": "719170935",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}