{
  "Entries": [
    {
      "RequestUri": "http://amandaadlscanary2.blob.core.windows.net/test-filesystem-be2d1312-b82f-2f87-77e0-c05b09f11954?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Sep 2020 07:08:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86058A1F3508F\u0022",
        "Last-Modified": "Thu, 24 Sep 2020 07:08:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-be2d1312-b82f-2f87-77e0-c05b09f11954/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Thu, 24 Sep 2020 07:08:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86058A1F48FB8\u0022",
        "Last-Modified": "Thu, 24 Sep 2020 07:08:26 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary2.dfs.core.windows.net/test-filesystem-be2d1312-b82f-2f87-77e0-c05b09f11954/test-directory-14aed1d1-62b0-6bd5-4098-77d32fad9c34?action=setAccessControlRecursive\u0026mode=remove",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PathNotFound",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": {
        "error": {
          "code": "PathNotFound",
          "message": "The specified path does not exist.\nRequestId:a3442696-a01f-0099-7e41-92899c000000\nTime:2020-09-24T07:08:27.5454911Z"
        }
      }
    },
    {
      "RequestUri": "http://amandaadlscanary2.blob.core.windows.net/test-filesystem-be2d1312-b82f-2f87-77e0-c05b09f11954?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Sep 2020 07:08:27 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "179664305",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary2\nU2FuaXRpemVk\nhttp://amandaadlscanary2.blob.core.windows.net\nhttp://amandaadlscanary2.file.core.windows.net\nhttp://amandaadlscanary2.queue.core.windows.net\nhttp://amandaadlscanary2.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary2-secondary.blob.core.windows.net\nhttp://amandaadlscanary2-secondary.file.core.windows.net\nhttp://amandaadlscanary2-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary2.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary2.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary2.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary2-secondary.file.core.windows.net/;AccountName=amandaadlscanary2;AccountKey=Sanitized\n"
  }
}