{
  "Entries": [
    {
      "RequestUri": "http://amandaadlscanary2.blob.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2AB5951AA\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2AB5A814A\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:33 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2AB759B16\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95/test-directory-7df0abc9-2c8e-7314-b44c-7400adb0b678?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2AB8FF337\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95/test-directory-7df0abc9-2c8e-7314-b44c-7400adb0b678/test-file-735653c2-9367-1612-b091-eeb796cd50cf?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2ABA21F18\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:34 GMT",
        "x-ms-owner": "845eabed-ae2a-647a-181a-fdf635aec458",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2AB82F1D8\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:33 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95/test-directory-7df0abc9-2c8e-7314-b44c-7400adb0b678?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:34 GMT",
        "x-ms-owner": "845eabed-ae2a-647a-181a-fdf635aec458",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2AB8FF337\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:33 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95/test-directory-7df0abc9-2c8e-7314-b44c-7400adb0b678/test-file-735653c2-9367-1612-b091-eeb796cd50cf?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:34 GMT",
        "x-ms-owner": "845eabed-ae2a-647a-181a-fdf635aec458",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2ABA21F18\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:33 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95/test-directory-8c89cf36-1e83-6f5d-d9a0-ad544e4f1a0e/test-directory-a559c5e4-1eb3-9b66-dd61-279aabdc4cf2?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2AC521792\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary2.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CKeyInfo\u003E\u003CExpiry\u003E2020-09-29T22:57:35Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2020-09-29T21:57:35Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2020-09-29T22:57:35Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-02-10\u003C/SignedVersion\u003E\u003CValue\u003E\u002BdB4UvHCwlzUCa/YAyTuOfclMAEE634jSQ5Hg9FUENA=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-29T21%3A57%3A35Z\u0026ske=2020-09-29T22%3A57%3A35Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-29T20%3A57%3A35Z\u0026se=2020-09-29T22%3A57%3A35Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=845eabed-ae2a-647a-181a-fdf635aec458\u0026sig=Sanitized\u0026action=setAccessControlRecursive\u0026mode=remove\u0026forceFlag=true\u0026maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBaLobagq5TCwKcBGIYCGIACL2FtYW5kYWFkbHNjYW5hcnkyATAxRDY3RDZFQjgwNDhCNjkvdGVzdC1maWxlc3lzdGVtLWY5MWJlOTdjLTU2MWEtNmUzYS0zOWY2LTlhYWRhNzg0MWY1MQEwMUQ2OTZBQjg4RTI3MDlDL3Rlc3QtZGlyZWN0b3J5LThhZGRlZjRiLWIzODAtMjczOC1jZjNkLTVjMTgyMmQyOWE5NS90ZXN0LWRpcmVjdG9yeS03ZGYwYWJjOS0yYzhlLTczMTQtYjQ0Yy03NDAwYWRiMGI2NzgvdGVzdC1maWxlLTQ3OGQxYmYxLWVkMzgtMzNkZi00NTAwLWFiODUzZTRiNGVhNhYAAAA=",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-29T21%3A57%3A35Z\u0026ske=2020-09-29T22%3A57%3A35Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-29T20%3A57%3A35Z\u0026se=2020-09-29T22%3A57%3A35Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=845eabe[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-29T21%3A57%3A35Z\u0026ske=2020-09-29T22%3A57%3A35Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-29T20%3A57%3A35Z\u0026se=2020-09-29T22%3A57%3A35Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=845eabe[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-29T21%3A57%3A35Z\u0026ske=2020-09-29T22%3A57%3A35Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-29T20%3A57%3A35Z\u0026se=2020-09-29T22%3A57%3A35Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=845eabe[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-29T21%3A57%3A35Z\u0026ske=2020-09-29T22%3A57%3A35Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-29T20%3A57%3A35Z\u0026se=2020-09-29T22%3A57%3A35Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=845eabe[...]
    {
      "RequestUri": "http://amandaadlscanary2.blob.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-09-29T14:57:35.1022380-07:00",
    "RandomSeed": "2080472319",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary2\nU2FuaXRpemVk\nhttp://amandaadlscanary2.blob.core.windows.net\nhttp://amandaadlscanary2.file.core.windows.net\nhttp://amandaadlscanary2.queue.core.windows.net\nhttp://amandaadlscanary2.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary2-secondary.blob.core.windows.net\nhttp://amandaadlscanary2-secondary.file.core.windows.net\nhttp://amandaadlscanary2-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary2.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary2.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary2.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary2-secondary.file.core.windows.net/;AccountName=amandaadlscanary2;AccountKey=Sanitized\n"
  }
}