{
  "Entries": [
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-82f01d47-d85f-fedc-4331-27f259a67919?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 06 Jul 2020 23:52:57 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82207B5559865\u0022",
        "Last-Modified": "Mon, 06 Jul 2020 23:52:57 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-82f01d47-d85f-fedc-4331-27f259a67919/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Mon, 06 Jul 2020 23:52:57 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82207B556DA65\u0022",
        "Last-Modified": "Mon, 06 Jul 2020 23:52:57 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "response_type=token\u0026grant_type=client_credentials\u0026client_id=c6b5fe1a-9b59-4975-92c4-d9f728c3c371\u0026client_secret=Sanitized\u0026scope=https%3A%2F%2Fstorage.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-82f01d47-d85f-fedc-4331-27f259a67919/test-directory-e79dc088-88f3-61e0-a2d5-778e5a3a57c5?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82207B5CA96EF\u0022",
        "Last-Modified": "Mon, 06 Jul 2020 23:52:58 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-82f01d47-d85f-fedc-4331-27f259a67919/test-directory-e79dc088-88f3-61e0-a2d5-778e5a3a57c5/test-directory-7aacde7a-b8c2-efb4-1cce-984409336490?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82207B5D82823\u0022",
        "Last-Modified": "Mon, 06 Jul 2020 23:52:58 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-82f01d47-d85f-fedc-4331-27f259a67919/test-directory-e79dc088-88f3-61e0-a2d5-778e5a3a57c5/test-directory-7aacde7a-b8c2-efb4-1cce-984409336490/test-file-2dd85751-61f2-a2e7-2170-aa24e0964b58?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82207B5E67C17\u0022",
        "Last-Modified": "Mon, 06 Jul 2020 23:52:58 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-82f01d47-d85f-fedc-4331-27f259a67919/test-directory-e79dc088-88f3-61e0-a2d5-778e5a3a57c5/test-directory-b3587728-4151-2174-e352-e4ba294eec9a/test-file-9597fa54-5746-8f27-25fe-9b996d25f845?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Jul 2020 23:52:58 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82207B61BF6AA\u0022",
        "Last-Modified": "Mon, 06 Jul 2020 23:52:58 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-82f01d47-d85f-fedc-4331-27f259a67919/test-directory-e79dc088-88f3-61e0-a2d5-778e5a3a57c5/test-directory-b3587728-4151-2174-e352-e4ba294eec9a/test-directory-3aebadf8-fa23-dc33-8b63-08080e48dbae?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Jul 2020 23:52:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82207B6424A16\u0022",
        "Last-Modified": "Mon, 06 Jul 2020 23:52:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-82f01d47-d85f-fedc-4331-27f259a67919/test-directory-e79dc088-88f3-61e0-a2d5-778e5a3a57c5?action=setAccessControlRecursive\u0026mode=remove\u0026forceFlag=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec35[...]
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-82f01d47-d85f-fedc-4331-27f259a67919?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Jul 2020 23:52:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "256377884",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\ngen1gen2domain1\nU2FuaXRpemVk\nhttp://gen1gen2domain1.blob.core.windows.net\nhttp://gen1gen2domain1.file.core.windows.net\nhttp://gen1gen2domain1.queue.core.windows.net\nhttp://gen1gen2domain1.table.core.windows.net\n\n\n\n\nhttp://gen1gen2domain1-secondary.blob.core.windows.net\nhttp://gen1gen2domain1-secondary.file.core.windows.net\nhttp://gen1gen2domain1-secondary.queue.core.windows.net\nhttp://gen1gen2domain1-secondary.table.core.windows.net\nc6b5fe1a-9b59-4975-92c4-d9f728c3c371\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://gen1gen2domain1.blob.core.windows.net/;QueueEndpoint=http://gen1gen2domain1.queue.core.windows.net/;FileEndpoint=http://gen1gen2domain1.file.core.windows.net/;BlobSecondaryEndpoint=http://gen1gen2domain1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://gen1gen2domain1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://gen1gen2domain1-secondary.file.core.windows.net/;AccountName=gen1gen2domain1;AccountKey=Sanitized\n"
  }
}