{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:47:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3960F9F7518\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:47:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Wed, 17 Feb 2021 22:47:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3960FA1C658\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:47:53 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:47:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3960FECA628\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:47:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a/test-directory-5a679cfc-fbdf-7b92-bfce-964af9ae08aa?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:47:54 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3961008F16F\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:47:54 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a/test-directory-5a679cfc-fbdf-7b92-bfce-964af9ae08aa/test-file-d845f7a0-6777-db76-d41c-1fb12e39f734?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:47:54 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D396101900BF\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:47:54 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:47:54 GMT",
        "x-ms-owner": "f97f272b-822b-756c-7206-dcedbc604248",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3960FFA7A8D\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:47:53 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a/test-directory-5a679cfc-fbdf-7b92-bfce-964af9ae08aa?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:47:54 GMT",
        "x-ms-owner": "f97f272b-822b-756c-7206-dcedbc604248",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3961008F16F\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:47:54 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a/test-directory-5a679cfc-fbdf-7b92-bfce-964af9ae08aa/test-file-d845f7a0-6777-db76-d41c-1fb12e39f734?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:47:54 GMT",
        "x-ms-owner": "f97f272b-822b-756c-7206-dcedbc604248",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D396101900BF\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:47:54 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a/test-directory-f639d361-8cdd-2343-646a-05e46e51d0f5/test-directory-51092458-6c34-a081-b0c2-b98c34331d45?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:47:55 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39610E27413\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:47:55 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "\uFEFF\u003CKeyInfo\u003E\u003CExpiry\u003E2021-02-17T23:47:55Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2021-02-17T22:47:55Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2021-02-17T23:47:55Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-06-12\u003C/SignedVersion\u003E\u003CValue\u003E8peckXt7\u002BEERh4XyGZagJArVSkOMbVBZm8JO5tFaQAQ=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A47%3A55Z\u0026ske=2021-02-17T23%3A47%3A55Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A47%3A55Z\u0026se=2021-02-17T23%3A47%3A55Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=f97f272b-822b-756c-7206-dcedbc604248\u0026sig=Sanitized\u0026action=setAccessControlRecursive\u0026mode=remove\u0026forceFlag=true\u0026maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBbFy\u002BDg8YbGtYMBGPwBGPYBL3NlYW5uc2UBMDFENTc5OTJDOTcxNDhDMi90ZXN0LWZpbGVzeXN0ZW0tMzVmYmNkYWItOGMyYi1kYWQzLTgyMDItZDc1NTY1ODdjY2Q3ATAxRDcwNTdFRUQyOEM2RDcvdGVzdC1kaXJlY3RvcnktODA4Mjg0ZDMtN2VlMC0zMTdlLWZkOWYtMjRhMjkyNDFmOTJhL3Rlc3QtZGlyZWN0b3J5LTVhNjc5Y2ZjLWZiZGYtN2I5Mi1iZmNlLTk2NGFmOWFlMDhhYS90ZXN0LWZpbGUtODRjZjUzOGUtZmJhYS00OWRiLWM3MDEtYmQ2MzJhMWQ0MzA5FgAAAA==",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A47%3A55Z\u0026ske=2021-02-17T23%3A47%3A55Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A47%3A55Z\u0026se=2021-02-17T23%3A47%3A55Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=f97f272b-822b-75[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A47%3A55Z\u0026ske=2021-02-17T23%3A47%3A55Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A47%3A55Z\u0026se=2021-02-17T23%3A47%3A55Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=f97f272b-822b-75[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A47%3A55Z\u0026ske=2021-02-17T23%3A47%3A55Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A47%3A55Z\u0026se=2021-02-17T23%3A47%3A55Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=f97f272b-822b-75[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A47%3A55Z\u0026ske=2021-02-17T23%3A47%3A55Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A47%3A55Z\u0026se=2021-02-17T23%3A47%3A55Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=f97f272b-822b-75[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:47:57 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T16:47:55.6523125-06:00",
    "RandomSeed": "1622190536",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}