{
  "Entries": [
    {
      "RequestUri": "http://amandaadlscanary2.blob.core.windows.net/test-filesystem-d4059fa0-883c-4fd5-4397-d6e031f2c5bb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:19 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2A3561C40\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:19 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-d4059fa0-883c-4fd5-4397-d6e031f2c5bb/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:20 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2A3574BE2\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:19 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-d4059fa0-883c-4fd5-4397-d6e031f2c5bb/test-directory-4acd61b1-8ec4-2040-885c-8df1b8b5c7e9?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:20 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2A371B926\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:20 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-d4059fa0-883c-4fd5-4397-d6e031f2c5bb/test-directory-4acd61b1-8ec4-2040-885c-8df1b8b5c7e9/test-directory-c4335cc6-0c49-a991-13ff-c33f8b3c17f2?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:20 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2A38BC289\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:20 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-d4059fa0-883c-4fd5-4397-d6e031f2c5bb/test-directory-4acd61b1-8ec4-2040-885c-8df1b8b5c7e9/test-directory-c4335cc6-0c49-a991-13ff-c33f8b3c17f2/test-file-d29d8b5b-1115-aac6-b157-1d4b0d56e722?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:20 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2A3993747\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:20 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-d4059fa0-883c-4fd5-4397-d6e031f2c5bb/test-directory-4acd61b1-8ec4-2040-885c-8df1b8b5c7e9?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:20 GMT",
        "x-ms-owner": "b4a63c60-c880-2dc5-9a50-92aa69c33cf9",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2A37EB3BA\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:20 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-d4059fa0-883c-4fd5-4397-d6e031f2c5bb/test-directory-4acd61b1-8ec4-2040-885c-8df1b8b5c7e9/test-directory-c4335cc6-0c49-a991-13ff-c33f8b3c17f2?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:20 GMT",
        "x-ms-owner": "b4a63c60-c880-2dc5-9a50-92aa69c33cf9",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2A38BC289\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:20 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-d4059fa0-883c-4fd5-4397-d6e031f2c5bb/test-directory-4acd61b1-8ec4-2040-885c-8df1b8b5c7e9/test-directory-c4335cc6-0c49-a991-13ff-c33f8b3c17f2/test-file-d29d8b5b-1115-aac6-b157-1d4b0d56e722?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:20 GMT",
        "x-ms-owner": "b4a63c60-c880-2dc5-9a50-92aa69c33cf9",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2A3993747\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:20 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-d4059fa0-883c-4fd5-4397-d6e031f2c5bb/test-directory-4acd61b1-8ec4-2040-885c-8df1b8b5c7e9/test-directory-0543230c-891b-c7ed-6e9c-2a8eb87e84c7/test-directory-2b9bef7c-8acc-be7d-7d6b-e5ab713aa4c1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:21 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2A44742F1\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:21 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary2.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": "\u003CKeyInfo\u003E\u003CExpiry\u003E2020-09-29T22:57:21Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2020-09-29T21:57:22Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2020-09-29T22:57:21Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-02-10\u003C/SignedVersion\u003E\u003CValue\u003EntryDUi8iXAMGE90vyfkpkBs\u002BCB2kaCnkX6BqTpSzvg=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-d4059fa0-883c-4fd5-4397-d6e031f2c5bb/test-directory-4acd61b1-8ec4-2040-885c-8df1b8b5c7e9?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-29T21%3A57%3A22Z\u0026ske=2020-09-29T22%3A57%3A21Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-02-10\u0026st=2020-09-29T20%3A57%3A21Z\u0026se=2020-09-29T22%3A57%3A21Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=b4a63c6[...]
    {
      "RequestUri": "http://amandaadlscanary2.blob.core.windows.net/test-filesystem-d4059fa0-883c-4fd5-4397-d6e031f2c5bb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:22 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-09-29T14:57:21.6061113-07:00",
    "RandomSeed": "1013544596",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary2\nU2FuaXRpemVk\nhttp://amandaadlscanary2.blob.core.windows.net\nhttp://amandaadlscanary2.file.core.windows.net\nhttp://amandaadlscanary2.queue.core.windows.net\nhttp://amandaadlscanary2.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary2-secondary.blob.core.windows.net\nhttp://amandaadlscanary2-secondary.file.core.windows.net\nhttp://amandaadlscanary2-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary2.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary2.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary2.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary2-secondary.file.core.windows.net/;AccountName=amandaadlscanary2;AccountKey=Sanitized\n"
  }
}