{
  "Entries": [
    {
      "RequestUri": "http://amandaadlscanary2.blob.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 30 Sep 2020 21:57:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8658BCB3D6900\u0022",
        "Last-Modified": "Wed, 30 Sep 2020 21:57:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Wed, 30 Sep 2020 21:57:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8658BCB43B962\u0022",
        "Last-Modified": "Wed, 30 Sep 2020 21:57:15 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Sep 2020 21:57:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8658BCB9E5A8C\u0022",
        "Last-Modified": "Wed, 30 Sep 2020 21:57:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a/test-directory-5a679cfc-fbdf-7b92-bfce-964af9ae08aa?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Sep 2020 21:57:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8658BCBB8945D\u0022",
        "Last-Modified": "Wed, 30 Sep 2020 21:57:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a/test-directory-5a679cfc-fbdf-7b92-bfce-964af9ae08aa/test-file-d845f7a0-6777-db76-d41c-1fb12e39f734?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Sep 2020 21:57:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8658BCBC69730\u0022",
        "Last-Modified": "Wed, 30 Sep 2020 21:57:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Sep 2020 21:57:17 GMT",
        "x-ms-owner": "f97f272b-822b-756c-7206-dcedbc604248",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8658BCBAB68A8\u0022",
        "Last-Modified": "Wed, 30 Sep 2020 21:57:16 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a/test-directory-5a679cfc-fbdf-7b92-bfce-964af9ae08aa?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Sep 2020 21:57:17 GMT",
        "x-ms-owner": "f97f272b-822b-756c-7206-dcedbc604248",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8658BCBB8945D\u0022",
        "Last-Modified": "Wed, 30 Sep 2020 21:57:16 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a/test-directory-5a679cfc-fbdf-7b92-bfce-964af9ae08aa/test-file-d845f7a0-6777-db76-d41c-1fb12e39f734?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Sep 2020 21:57:17 GMT",
        "x-ms-owner": "f97f272b-822b-756c-7206-dcedbc604248",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8658BCBC69730\u0022",
        "Last-Modified": "Wed, 30 Sep 2020 21:57:16 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a/test-directory-f639d361-8cdd-2343-646a-05e46e51d0f5/test-directory-51092458-6c34-a081-b0c2-b98c34331d45?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Sep 2020 21:57:17 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8658BCC7E63A8\u0022",
        "Last-Modified": "Wed, 30 Sep 2020 21:57:17 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary2.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CKeyInfo\u003E\u003CExpiry\u003E2020-09-30T22:57:17Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2020-09-30T21:57:19Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2020-09-30T22:57:17Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-02-10\u003C/SignedVersion\u003E\u003CValue\u003EcKEUA7AVpgYHFAifZsTAfc\u002BuDrlxV5cVGRrYlPJAQbQ=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-30T21%3A57%3A19Z\u0026ske=2020-09-30T22%3A57%3A17Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-30T20%3A57%3A17Z\u0026se=2020-09-30T22%3A57%3A17Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=f97f272b-822b-756c-7206-dcedbc604248\u0026sig=Sanitized\u0026action=setAccessControlRecursive\u0026mode=remove\u0026forceFlag=true\u0026maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBby0uKkg/bag4QBGIYCGIACL2FtYW5kYWFkbHNjYW5hcnkyATAxRDY3RDZFQjgwNDhCNjkvdGVzdC1maWxlc3lzdGVtLTM1ZmJjZGFiLThjMmItZGFkMy04MjAyLWQ3NTU2NTg3Y2NkNwEwMUQ2OTc3NEE4QzZBNzVEL3Rlc3QtZGlyZWN0b3J5LTgwODI4NGQzLTdlZTAtMzE3ZS1mZDlmLTI0YTI5MjQxZjkyYS90ZXN0LWRpcmVjdG9yeS01YTY3OWNmYy1mYmRmLTdiOTItYmZjZS05NjRhZjlhZTA4YWEvdGVzdC1maWxlLTg0Y2Y1MzhlLWZiYWEtNDlkYi1jNzAxLWJkNjMyYTFkNDMwORYAAAA=",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-30T21%3A57%3A19Z\u0026ske=2020-09-30T22%3A57%3A17Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-30T20%3A57%3A17Z\u0026se=2020-09-30T22%3A57%3A17Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=f97f272[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-30T21%3A57%3A19Z\u0026ske=2020-09-30T22%3A57%3A17Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-30T20%3A57%3A17Z\u0026se=2020-09-30T22%3A57%3A17Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=f97f272[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-30T21%3A57%3A19Z\u0026ske=2020-09-30T22%3A57%3A17Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-30T20%3A57%3A17Z\u0026se=2020-09-30T22%3A57%3A17Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=f97f272[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7/test-directory-808284d3-7ee0-317e-fd9f-24a29241f92a?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-30T21%3A57%3A19Z\u0026ske=2020-09-30T22%3A57%3A17Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-30T20%3A57%3A17Z\u0026se=2020-09-30T22%3A57%3A17Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=f97f272[...]
    {
      "RequestUri": "http://amandaadlscanary2.blob.core.windows.net/test-filesystem-35fbcdab-8c2b-dad3-8202-d7556587ccd7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Sep 2020 21:57:20 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-09-30T14:57:17.9491507-07:00",
    "RandomSeed": "1622190536",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary2\nU2FuaXRpemVk\nhttp://amandaadlscanary2.blob.core.windows.net\nhttp://amandaadlscanary2.file.core.windows.net\nhttp://amandaadlscanary2.queue.core.windows.net\nhttp://amandaadlscanary2.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary2-secondary.blob.core.windows.net\nhttp://amandaadlscanary2-secondary.file.core.windows.net\nhttp://amandaadlscanary2-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary2.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary2.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary2.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary2-secondary.file.core.windows.net/;AccountName=amandaadlscanary2;AccountKey=Sanitized\n"
  }
}