{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:48:00 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D396141561B2\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:48:00 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Wed, 17 Feb 2021 22:48:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3961417B2ED\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:48:00 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:48:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39614544E4A\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:48:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95/test-directory-7df0abc9-2c8e-7314-b44c-7400adb0b678?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:48:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D396146C985B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:48:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95/test-directory-7df0abc9-2c8e-7314-b44c-7400adb0b678/test-file-735653c2-9367-1612-b091-eeb796cd50cf?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:48:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D396147946AB\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:48:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:48:01 GMT",
        "x-ms-owner": "845eabed-ae2a-647a-181a-fdf635aec458",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3961460553B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:48:01 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95/test-directory-7df0abc9-2c8e-7314-b44c-7400adb0b678?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:48:02 GMT",
        "x-ms-owner": "845eabed-ae2a-647a-181a-fdf635aec458",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D396146C985B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:48:01 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95/test-directory-7df0abc9-2c8e-7314-b44c-7400adb0b678/test-file-735653c2-9367-1612-b091-eeb796cd50cf?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:48:02 GMT",
        "x-ms-owner": "845eabed-ae2a-647a-181a-fdf635aec458",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D396147946AB\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:48:01 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95/test-directory-8c89cf36-1e83-6f5d-d9a0-ad544e4f1a0e/test-directory-a559c5e4-1eb3-9b66-dd61-279aabdc4cf2?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:48:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D396152FEA3B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:48:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "\uFEFF\u003CKeyInfo\u003E\u003CExpiry\u003E2021-02-17T23:48:02Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2021-02-17T22:48:03Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2021-02-17T23:48:02Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-06-12\u003C/SignedVersion\u003E\u003CValue\u003E6lluqL4qSk7pG372ssGVzbjBrO3YnQbCd9/yirIc5Fo=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A48%3A03Z\u0026ske=2021-02-17T23%3A48%3A02Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A48%3A02Z\u0026se=2021-02-17T23%3A48%3A02Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=845eabed-ae2a-647a-181a-fdf635aec458\u0026sig=Sanitized\u0026action=setAccessControlRecursive\u0026mode=remove\u0026forceFlag=true\u0026maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBaH3b\u002B/mLGRlQQY/AEY9gEvc2Vhbm5zZQEwMUQ1Nzk5MkM5NzE0OEMyL3Rlc3QtZmlsZXN5c3RlbS1mOTFiZTk3Yy01NjFhLTZlM2EtMzlmNi05YWFkYTc4NDFmNTEBMDFENzA1N0VGMTlFQUZBNi90ZXN0LWRpcmVjdG9yeS04YWRkZWY0Yi1iMzgwLTI3MzgtY2YzZC01YzE4MjJkMjlhOTUvdGVzdC1kaXJlY3RvcnktN2RmMGFiYzktMmM4ZS03MzE0LWI0NGMtNzQwMGFkYjBiNjc4L3Rlc3QtZmlsZS00NzhkMWJmMS1lZDM4LTMzZGYtNDUwMC1hYjg1M2U0YjRlYTYWAAAA",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A48%3A03Z\u0026ske=2021-02-17T23%3A48%3A02Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A48%3A02Z\u0026se=2021-02-17T23%3A48%3A02Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=845eabed-ae2a-64[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A48%3A03Z\u0026ske=2021-02-17T23%3A48%3A02Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A48%3A02Z\u0026se=2021-02-17T23%3A48%3A02Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=845eabed-ae2a-64[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A48%3A03Z\u0026ske=2021-02-17T23%3A48%3A02Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A48%3A02Z\u0026se=2021-02-17T23%3A48%3A02Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=845eabed-ae2a-64[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51/test-directory-8addef4b-b380-2738-cf3d-5c1822d29a95?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A48%3A03Z\u0026ske=2021-02-17T23%3A48%3A02Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A48%3A02Z\u0026se=2021-02-17T23%3A48%3A02Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=845eabed-ae2a-64[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-f91be97c-561a-6e3a-39f6-9aada7841f51?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:48:04 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T16:48:02.8680843-06:00",
    "RandomSeed": "2080472319",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}