{
  "Entries": [
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-8cf677f1-b9ac-baca-ded0-15ff75e9764d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 06 Jul 2020 23:52:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82207B2FFCCDB\u0022",
        "Last-Modified": "Mon, 06 Jul 2020 23:52:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-8cf677f1-b9ac-baca-ded0-15ff75e9764d/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Mon, 06 Jul 2020 23:52:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82207B300F47F\u0022",
        "Last-Modified": "Mon, 06 Jul 2020 23:52:53 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "response_type=token\u0026grant_type=client_credentials\u0026client_id=c6b5fe1a-9b59-4975-92c4-d9f728c3c371\u0026client_secret=Sanitized\u0026scope=https%3A%2F%2Fstorage.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-8cf677f1-b9ac-baca-ded0-15ff75e9764d/test-directory-d882bffe-337a-1fcd-9d01-e2f945259db6?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82207B3727E17\u0022",
        "Last-Modified": "Mon, 06 Jul 2020 23:52:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-8cf677f1-b9ac-baca-ded0-15ff75e9764d/test-directory-d882bffe-337a-1fcd-9d01-e2f945259db6/test-directory-4d9bf8a9-e342-c9d7-4194-d5004d47dd03?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82207B37F1E9D\u0022",
        "Last-Modified": "Mon, 06 Jul 2020 23:52:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-8cf677f1-b9ac-baca-ded0-15ff75e9764d/test-directory-d882bffe-337a-1fcd-9d01-e2f945259db6/test-directory-4d9bf8a9-e342-c9d7-4194-d5004d47dd03/test-file-a734a47a-b9e4-756f-b614-3a594dc7996a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82207B38DF547\u0022",
        "Last-Modified": "Mon, 06 Jul 2020 23:52:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-8cf677f1-b9ac-baca-ded0-15ff75e9764d/test-directory-d882bffe-337a-1fcd-9d01-e2f945259db6/test-directory-18ea90b9-b055-54b8-146c-0cceffa9b98a/test-file-4323bac0-a0d9-d75b-01c0-6741d44dc50b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Jul 2020 23:52:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82207B3C1F98A\u0022",
        "Last-Modified": "Mon, 06 Jul 2020 23:52:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-8cf677f1-b9ac-baca-ded0-15ff75e9764d/test-directory-d882bffe-337a-1fcd-9d01-e2f945259db6/test-directory-18ea90b9-b055-54b8-146c-0cceffa9b98a/test-directory-bb23e821-dce5-735e-8aa0-d9de9cd15355?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Jul 2020 23:52:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D82207B3E9E087\u0022",
        "Last-Modified": "Mon, 06 Jul 2020 23:52:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-8cf677f1-b9ac-baca-ded0-15ff75e9764d/test-directory-d882bffe-337a-1fcd-9d01-e2f945259db6?action=setAccessControlRecursive\u0026mode=remove\u0026forceFlag=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec35[...]
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-8cf677f1-b9ac-baca-ded0-15ff75e9764d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Jul 2020 23:52:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "232219146",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\ngen1gen2domain1\nU2FuaXRpemVk\nhttp://gen1gen2domain1.blob.core.windows.net\nhttp://gen1gen2domain1.file.core.windows.net\nhttp://gen1gen2domain1.queue.core.windows.net\nhttp://gen1gen2domain1.table.core.windows.net\n\n\n\n\nhttp://gen1gen2domain1-secondary.blob.core.windows.net\nhttp://gen1gen2domain1-secondary.file.core.windows.net\nhttp://gen1gen2domain1-secondary.queue.core.windows.net\nhttp://gen1gen2domain1-secondary.table.core.windows.net\nc6b5fe1a-9b59-4975-92c4-d9f728c3c371\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://gen1gen2domain1.blob.core.windows.net/;QueueEndpoint=http://gen1gen2domain1.queue.core.windows.net/;FileEndpoint=http://gen1gen2domain1.file.core.windows.net/;BlobSecondaryEndpoint=http://gen1gen2domain1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://gen1gen2domain1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://gen1gen2domain1-secondary.file.core.windows.net/;AccountName=gen1gen2domain1;AccountKey=Sanitized\n"
  }
}