{
  "Entries": [
    {
      "RequestUri": "https://setaclrectest1.blob.preprod.core.windows.net/test-filesystem-6ac7ca36-a89f-f79b-8287-9310b7a203e7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 25 Jun 2020 17:38:42 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8192E9AD250BE\u0022",
        "Last-Modified": "Thu, 25 Jun 2020 17:38:42 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://setaclrectest1.dfs.preprod.core.windows.net/test-filesystem-6ac7ca36-a89f-f79b-8287-9310b7a203e7/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Thu, 25 Jun 2020 17:38:43 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8192E9AF959AE\u0022",
        "Last-Modified": "Thu, 25 Jun 2020 17:38:43 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://login.windows-ppe.net/05304c84-6e73-4dc1-80ee-7a073eb3e0cb/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "response_type=token\u0026grant_type=client_credentials\u0026client_id=35036040-6b5f-4ea6-80d8-a5eea37d1901\u0026client_secret=Sanitized\u0026scope=https%3A%2F%2Fstorage.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 3599,
        "ext_expires_in": 3599,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://setaclrectest1.dfs.preprod.core.windows.net/test-filesystem-6ac7ca36-a89f-f79b-8287-9310b7a203e7/test-directory-9cd7f80b-3540-0873-cdf7-cd3fdd28d125?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8192E9BEACA45\u0022",
        "Last-Modified": "Thu, 25 Jun 2020 17:38:44 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://setaclrectest1.dfs.preprod.core.windows.net/test-filesystem-6ac7ca36-a89f-f79b-8287-9310b7a203e7/test-directory-9cd7f80b-3540-0873-cdf7-cd3fdd28d125/test-directory-56ea0a9a-8058-738c-0361-d4aceb14440c?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8192E9BF4FC52\u0022",
        "Last-Modified": "Thu, 25 Jun 2020 17:38:44 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://setaclrectest1.dfs.preprod.core.windows.net/test-filesystem-6ac7ca36-a89f-f79b-8287-9310b7a203e7/test-directory-9cd7f80b-3540-0873-cdf7-cd3fdd28d125/test-directory-56ea0a9a-8058-738c-0361-d4aceb14440c/test-file-f39cd053-5c03-957c-c79c-f059cdc1a61e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8192E9C00EF12\u0022",
        "Last-Modified": "Thu, 25 Jun 2020 17:38:44 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://setaclrectest1.dfs.preprod.core.windows.net/test-filesystem-6ac7ca36-a89f-f79b-8287-9310b7a203e7/test-directory-9cd7f80b-3540-0873-cdf7-cd3fdd28d125?action=setAccessControlRecursive\u0026mode=remove\u0026forceFlag=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjMsImZhaWxlZEVudHJpZXMiOlt7ImVycm9yTWVzc2FnZSI6IlRoaXMgcmVxdWVzdCBpcyBub3QgYXV0aG9yaXplZCB0byBwZXJmb3JtIHRoaXMgb3BlcmF0aW9uIHVzaW5nIHRoaXMgcGVybWlzc2lvbi4iLCJuYW1lIjoidGVzdC1kaXJlY3RvcnktOWNkN2Y4MGItMzU0MC0wODczLWNkZjctY2QzZmRkMjhkMTI1L3Rlc3QtZGlyZWN0b3J5LTdjNmZhZDhhLTFkNWMtMjljOS02Nzk4LTEyMDk2NzAyM2JmMy90ZXN0LWZpbGUtMWE1NmM4ZjItOWFjNS0xODdlLWIzOTEtZjM1ODBmZjk5OGZlIiwidHlwZSI6IkZJTEUifV0sImZhaWx1cmVDb3VudCI6MSwiZmlsZXNTdWNjZXNzZnVsIjozfQo="
    },
    {
      "RequestUri": "https://setaclrectest1.blob.preprod.core.windows.net/test-filesystem-6ac7ca36-a89f-f79b-8287-9310b7a203e7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 25 Jun 2020 17:38:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1263492229",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsetaclrectest1\nU2FuaXRpemVk\nhttps://setaclrectest1.blob.preprod.core.windows.net\nhttps://setaclrectest1.file.core.windows.net\nhttps://setaclrectest1.queue.core.windows.net\nhttps://setaclrectest1.table.core.windows.net\n\n\n\n\nhttps://setaclrectest1-secondary.blob.core.windows.net\nhttps://setaclrectest1-secondary.file.core.windows.net\nhttps://setaclrectest1-secondary.queue.core.windows.net\nhttps://setaclrectest1-secondary.table.core.windows.net\n35036040-6b5f-4ea6-80d8-a5eea37d1901\nSanitized\n05304c84-6e73-4dc1-80ee-7a073eb3e0cb\nhttps://login.windows-ppe.net/\nCloud\nBlobEndpoint=https://setaclrectest1.blob.preprod.core.windows.net/;QueueEndpoint=https://setaclrectest1.queue.core.windows.net/;FileEndpoint=https://setaclrectest1.file.core.windows.net/;BlobSecondaryEndpoint=https://setaclrectest1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://setaclrectest1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://setaclrectest1-secondary.file.core.windows.net/;AccountName=setaclrectest1;AccountKey=Sanitized\n"
  }
}