{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-8e74f131-8ea8-c180-28df-97c47e9422b4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:52:33 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C4D9761B02\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:52:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8e74f131-8ea8-c180-28df-97c47e9422b4/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Tue, 02 Feb 2021 21:52:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C4D9789032\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:52:34 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8e74f131-8ea8-c180-28df-97c47e9422b4/test-directory-0f66642b-839a-5bf4-f078-9affef1695de?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:52:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C4D9BFE4E4\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:52:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8e74f131-8ea8-c180-28df-97c47e9422b4/test-directory-0f66642b-839a-5bf4-f078-9affef1695de/test-directory-688d0a3d-b6d4-f85b-32e1-f38d16e6f084?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:52:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C4D9DBF940\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:52:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8e74f131-8ea8-c180-28df-97c47e9422b4/test-directory-0f66642b-839a-5bf4-f078-9affef1695de/test-directory-688d0a3d-b6d4-f85b-32e1-f38d16e6f084/test-file-b189a2b5-56c6-60f2-effd-0a376f48fdd5?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:52:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C4D9EA600E\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:52:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8e74f131-8ea8-c180-28df-97c47e9422b4/test-directory-0f66642b-839a-5bf4-f078-9affef1695de?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:52:35 GMT",
        "x-ms-owner": "f774fc79-0be1-26a8-ef31-9fa12cebc2a0",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C4D9CDA0D0\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:52:35 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8e74f131-8ea8-c180-28df-97c47e9422b4/test-directory-0f66642b-839a-5bf4-f078-9affef1695de/test-directory-688d0a3d-b6d4-f85b-32e1-f38d16e6f084?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:52:35 GMT",
        "x-ms-owner": "f774fc79-0be1-26a8-ef31-9fa12cebc2a0",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C4D9DBF940\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:52:35 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8e74f131-8ea8-c180-28df-97c47e9422b4/test-directory-0f66642b-839a-5bf4-f078-9affef1695de/test-directory-688d0a3d-b6d4-f85b-32e1-f38d16e6f084/test-file-b189a2b5-56c6-60f2-effd-0a376f48fdd5?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:52:35 GMT",
        "x-ms-owner": "f774fc79-0be1-26a8-ef31-9fa12cebc2a0",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C4D9EA600E\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:52:35 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8e74f131-8ea8-c180-28df-97c47e9422b4/test-directory-0f66642b-839a-5bf4-f078-9affef1695de/test-directory-4236d6a8-e2aa-49f4-eacf-774c306c7510/test-directory-725e2d26-3172-dfd3-d00f-4ca1dad2c2b0?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:52:36 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C4DAA60799\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:52:36 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "\u003CKeyInfo\u003E\u003CExpiry\u003E2021-02-02T22:52:36Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2021-02-02T21:52:37Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2021-02-02T22:52:36Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-06-12\u003C/SignedVersion\u003E\u003CValue\u003EREX\u002BgJ8H11m7kKCjerD0lyhi4T3P2NxsMc8MYVKPGek=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8e74f131-8ea8-c180-28df-97c47e9422b4/test-directory-0f66642b-839a-5bf4-f078-9affef1695de?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A52%3A37Z\u0026ske=2021-02-02T22%3A52%3A36Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A52%3A36Z\u0026se=2021-02-02T22%3A52%3A36Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=f774fc79-0be1-26a8-ef31-9fa12cebc2a0\u0026sig=Sanitized\u0026action=setAccessControlRecursive\u0026mode=remove\u0026forceFlag=true\u0026maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBbkpO7fhp\u002Br1PkBGIECGPsBL3NlYW5uc2UBMDFENTc5OTJDOTcxNDhDMi90ZXN0LWZpbGVzeXN0ZW0tOGU3NGYxMzEtOGVhOC1jMTgwLTI4ZGYtOTdjNDdlOTQyMmI0ATAxRDZGOUFEQjZGRjcyOEYvdGVzdC1kaXJlY3RvcnktMGY2NjY0MmItODM5YS01YmY0LWYwNzgtOWFmZmVmMTY5NWRlL3Rlc3QtZGlyZWN0b3J5LTQyMzZkNmE4LWUyYWEtNDlmNC1lYWNmLTc3NGMzMDZjNzUxMC90ZXN0LWRpcmVjdG9yeS03MjVlMmQyNi0zMTcyLWRmZDMtZDAwZi00Y2ExZGFkMmMyYjAWAAAA",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8e74f131-8ea8-c180-28df-97c47e9422b4/test-directory-0f66642b-839a-5bf4-f078-9affef1695de?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A52%3A37Z\u0026ske=2021-02-02T22%3A52%3A36Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A52%3A36Z\u0026se=2021-02-02T22%3A52%3A36Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=f774fc79-0be1-26[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8e74f131-8ea8-c180-28df-97c47e9422b4/test-directory-0f66642b-839a-5bf4-f078-9affef1695de?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A52%3A37Z\u0026ske=2021-02-02T22%3A52%3A36Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A52%3A36Z\u0026se=2021-02-02T22%3A52%3A36Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=f774fc79-0be1-26[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8e74f131-8ea8-c180-28df-97c47e9422b4/test-directory-0f66642b-839a-5bf4-f078-9affef1695de?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A52%3A37Z\u0026ske=2021-02-02T22%3A52%3A36Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A52%3A36Z\u0026se=2021-02-02T22%3A52%3A36Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=f774fc79-0be1-26[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8e74f131-8ea8-c180-28df-97c47e9422b4/test-directory-0f66642b-839a-5bf4-f078-9affef1695de?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A52%3A37Z\u0026ske=2021-02-02T22%3A52%3A36Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A52%3A36Z\u0026se=2021-02-02T22%3A52%3A36Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=f774fc79-0be1-26[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-8e74f131-8ea8-c180-28df-97c47e9422b4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:52:37 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-02T15:52:36.3366986-06:00",
    "RandomSeed": "148109076",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}