{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-13ea8d81-f051-b5c0-cfbb-cd60f908aa13?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D509447FB2D2\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:05:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-13ea8d81-f051-b5c0-cfbb-cd60f908aa13/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D5094481BD3D\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:05:05 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-13ea8d81-f051-b5c0-cfbb-cd60f908aa13/test-directory-5057357a-2d2d-322a-f884-235421abd0d1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D509449AEB00\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:05:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-13ea8d81-f051-b5c0-cfbb-cd60f908aa13/test-directory-5057357a-2d2d-322a-f884-235421abd0d1/test-directory-146da460-b26b-2fb5-ed19-fc3664b47f43?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50944A6C941\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:05:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-13ea8d81-f051-b5c0-cfbb-cd60f908aa13/test-directory-5057357a-2d2d-322a-f884-235421abd0d1/test-directory-146da460-b26b-2fb5-ed19-fc3664b47f43/test-file-83b418b5-8f88-b88d-b4ff-322e04533f95?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50944B6767A\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:05:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-13ea8d81-f051-b5c0-cfbb-cd60f908aa13/test-directory-5057357a-2d2d-322a-f884-235421abd0d1?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:06 GMT",
        "x-ms-owner": "1caf57e3-a679-5dea-2c9b-8529df530dd4",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D509449AEB00\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:05:05 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-13ea8d81-f051-b5c0-cfbb-cd60f908aa13/test-directory-5057357a-2d2d-322a-f884-235421abd0d1/test-directory-146da460-b26b-2fb5-ed19-fc3664b47f43?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:06 GMT",
        "x-ms-owner": "1caf57e3-a679-5dea-2c9b-8529df530dd4",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50944A6C941\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:05:05 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-13ea8d81-f051-b5c0-cfbb-cd60f908aa13/test-directory-5057357a-2d2d-322a-f884-235421abd0d1/test-directory-146da460-b26b-2fb5-ed19-fc3664b47f43/test-file-83b418b5-8f88-b88d-b4ff-322e04533f95?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:06 GMT",
        "x-ms-owner": "1caf57e3-a679-5dea-2c9b-8529df530dd4",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50944B6767A\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:05:05 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-13ea8d81-f051-b5c0-cfbb-cd60f908aa13/test-directory-5057357a-2d2d-322a-f884-235421abd0d1/test-directory-1077ca0f-47be-e8fa-b426-1a7b68752c66/test-directory-a6baa139-aebd-810d-463f-b584bc381443?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D5094567CCC8\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:05:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "﻿<KeyInfo><Expiry>2021-02-19T20:05:07Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>c4f48289-bb84-4086-b250-6f94a8f64cee</SignedOid><SignedTid>72f988bf-86f1-41af-91ab-2d7cd011db47</SignedTid><SignedStart>2021-02-19T19:05:07Z</SignedStart><SignedExpiry>2021-02-19T20:05:07Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2020-06-12</SignedVersion><Value>AbOe8W2kbwlSBcUuDzvZBNagc3IxQMFFeyauPUnowck=</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-13ea8d81-f051-b5c0-cfbb-cd60f908aa13/test-directory-5057357a-2d2d-322a-f884-235421abd0d1?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2021-02-19T19%3A05%3A07Z&ske=2021-02-19T20%3A05%3A07Z&sks=b&skv=2020-06-12&sv=2021-12-02&st=2021-02-19T18%3A05%3A07Z&se=2021-02-19T20%3A05%3A07Z&sr=c&sp=racwdlmeop&suoid=1caf57e3-a679-5dea-2c9b-8529df530dd4&sig=Sanitized&action=setAccessCont[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-13ea8d81-f051-b5c0-cfbb-cd60f908aa13?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-19T13:05:07.6403628-06:00",
    "RandomSeed": "333818005",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n\n\n"
  }
}