{
  "Entries": [
    {
      "RequestUri": "http://amandaadlscanary2.blob.core.windows.net/test-filesystem-880086c3-1a96-d4f6-920c-b63d8388a05d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:36 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2AD2840F0\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:36 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-880086c3-1a96-d4f6-920c-b63d8388a05d/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:36 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2AD2A1585\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:36 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-880086c3-1a96-d4f6-920c-b63d8388a05d/test-directory-06f47b17-30b9-690b-ec96-70d266837490?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:36 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2AD45A519\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:36 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-880086c3-1a96-d4f6-920c-b63d8388a05d/test-directory-06f47b17-30b9-690b-ec96-70d266837490/test-directory-a9fb78a8-9075-1763-eda8-b52d77377a35?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:36 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2AD5FA8A2\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:36 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-880086c3-1a96-d4f6-920c-b63d8388a05d/test-directory-06f47b17-30b9-690b-ec96-70d266837490/test-directory-a9fb78a8-9075-1763-eda8-b52d77377a35/test-file-30f57c13-4996-47e2-cdb3-aabc62e76307?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:36 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2AD6D30FE\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:36 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-880086c3-1a96-d4f6-920c-b63d8388a05d/test-directory-06f47b17-30b9-690b-ec96-70d266837490?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:37 GMT",
        "x-ms-owner": "dc03f17a-8c1e-d439-3706-19b005776d49",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2AD529A17\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:36 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-880086c3-1a96-d4f6-920c-b63d8388a05d/test-directory-06f47b17-30b9-690b-ec96-70d266837490/test-directory-a9fb78a8-9075-1763-eda8-b52d77377a35?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:37 GMT",
        "x-ms-owner": "dc03f17a-8c1e-d439-3706-19b005776d49",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2AD5FA8A2\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:36 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-880086c3-1a96-d4f6-920c-b63d8388a05d/test-directory-06f47b17-30b9-690b-ec96-70d266837490/test-directory-a9fb78a8-9075-1763-eda8-b52d77377a35/test-file-30f57c13-4996-47e2-cdb3-aabc62e76307?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:37 GMT",
        "x-ms-owner": "dc03f17a-8c1e-d439-3706-19b005776d49",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2AD6D30FE\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:36 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-880086c3-1a96-d4f6-920c-b63d8388a05d/test-directory-06f47b17-30b9-690b-ec96-70d266837490/test-directory-2afe695f-d8ca-af3a-28e7-cdb87696b9ab/test-directory-ddeea6aa-3298-110a-efc2-c571295f8961?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:38 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2AE1B66F0\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:38 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary2.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": "\u003CKeyInfo\u003E\u003CExpiry\u003E2020-09-29T22:57:38Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2020-09-29T21:57:38Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2020-09-29T22:57:38Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-02-10\u003C/SignedVersion\u003E\u003CValue\u003E\u002BElDLeIQG9cDU5YeWhd0MmZjkD24EqGW99WKRL/jBSc=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-880086c3-1a96-d4f6-920c-b63d8388a05d/test-directory-06f47b17-30b9-690b-ec96-70d266837490?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-29T21%3A57%3A38Z\u0026ske=2020-09-29T22%3A57%3A38Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-02-10\u0026st=2020-09-29T20%3A57%3A38Z\u0026se=2020-09-29T22%3A57%3A38Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=dc03f17[...]
    {
      "RequestUri": "http://amandaadlscanary2.blob.core.windows.net/test-filesystem-880086c3-1a96-d4f6-920c-b63d8388a05d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:38 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-09-29T14:57:38.0948707-07:00",
    "RandomSeed": "1659601387",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary2\nU2FuaXRpemVk\nhttp://amandaadlscanary2.blob.core.windows.net\nhttp://amandaadlscanary2.file.core.windows.net\nhttp://amandaadlscanary2.queue.core.windows.net\nhttp://amandaadlscanary2.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary2-secondary.blob.core.windows.net\nhttp://amandaadlscanary2-secondary.file.core.windows.net\nhttp://amandaadlscanary2-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary2.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary2.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary2.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary2-secondary.file.core.windows.net/;AccountName=amandaadlscanary2;AccountKey=Sanitized\n"
  }
}