{
  "Entries": [
    {
      "RequestUri": "https://mroxscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-76aa72aa-7884-d4eb-231a-6bda1a1a75db?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 05 Jul 2022 17:32:24 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA5EAC53793957\u0022",
        "Last-Modified": "Tue, 05 Jul 2022 17:32:25 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mroxscnapby3pev24a.dfs.preprod.core.windows.net/test-filesystem-76aa72aa-7884-d4eb-231a-6bda1a1a75db/test-directory-86467534-5f22-0f11-de18-027f12bda72e?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 05 Jul 2022 17:32:24 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA5EAC5387B914\u0022",
        "Last-Modified": "Tue, 05 Jul 2022 17:32:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mroxscnapby3pev24a.dfs.preprod.core.windows.net/test-filesystem-76aa72aa-7884-d4eb-231a-6bda1a1a75db/test-directory-1a34ab39-41ed-be3d-55e6-25c571534fb7?mode=legacy\u0026sv=2022-11-02\u0026ss=b\u0026srt=sco\u0026st=2022-07-05T16%3A32%3A24Z\u0026se=2022-07-05T18%3A32%3A24Z\u0026sp=rwdlac\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-rename-source": "/test-filesystem-76aa72aa-7884-d4eb-231a-6bda1a1a75db/test-directory-86467534-5f22-0f11-de18-027f12bda72e?sv=2022-11-02\u0026ss=b\u0026srt=sco\u0026st=2022-07-05T16%3A32%3A24Z\u0026se=2022-07-05T18%3A32%3A24Z\u0026sp=rwdlac\u0026sig=Sanitized",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA5EAC5387B914\u0022",
        "Last-Modified": "Tue, 05 Jul 2022 17:32:25 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mroxscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-76aa72aa-7884-d4eb-231a-6bda1a1a75db/test-directory-1a34ab39-41ed-be3d-55e6-25c571534fb7?sv=2022-11-02\u0026ss=b\u0026srt=sco\u0026st=2022-07-05T16%3A32%3A24Z\u0026se=2022-07-05T18%3A32%3A24Z\u0026sp=rwdlac\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA5EAC5387B914\u0022",
        "Last-Modified": "Tue, 05 Jul 2022 17:32:25 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 05 Jul 2022 17:32:25 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mroxscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-76aa72aa-7884-d4eb-231a-6bda1a1a75db?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 05 Jul 2022 17:32:24 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-05T12:32:24.3891142-05:00",
    "RandomSeed": "677172383",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nmroxscnapby3pev24a\nU2FuaXRpemVk\nhttps://mroxscnapby3pev24a.blob.preprod.core.windows.net\nhttps://mroxscnapby3pev24a.file.core.windows.net\nhttps://mroxscnapby3pev24a.queue.core.windows.net\nhttps://mroxscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://mroxscnapby3pev24a-secondary.blob.core.windows.net\nhttps://mroxscnapby3pev24a-secondary.file.core.windows.net\nhttps://mroxscnapby3pev24a-secondary.queue.core.windows.net\nhttps://mroxscnapby3pev24a-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://mroxscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://mroxscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://mroxscnapby3pev24a.file.core.windows.net/;BlobSecondaryEndpoint=https://mroxscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://mroxscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://mroxscnapby3pev24a-secondary.file.core.windows.net/;AccountName=mroxscnapby3pev24a;AccountKey=Sanitized\nseanscope1\nXClient\n"
  }
}
