{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-48e5768b-4553-25bc-c4cc-7e152242d5cc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:53:33 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C4FCA9C3D2\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:53:33 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-48e5768b-4553-25bc-c4cc-7e152242d5cc/test-directory-2867ac2c-26c8-404e-6af5-56c4d343ac1b?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:53:33 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C4FCE297B7\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:53:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-48e5768b-4553-25bc-c4cc-7e152242d5cc/test-directory-f806ebc0-b703-5617-587c-1726fa82fb19?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:53:33 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-48e5768b-4553-25bc-c4cc-7e152242d5cc%2Ftest-directory-2867ac2c-26c8-404e-6af5-56c4d343ac1b=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-48e5768b-4553-25bc-c4cc-7e152242d5cc/test-directory-f806ebc0-b703-5617-587c-1726fa82fb19",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:53:33 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C4FCE297B7\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:53:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:53:34 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-d4b24db9-7f9a-9565-c50f-769bce9c79e8/test-directory-be0b0a26-68fe-ed19-5ae8-47c50dfb9149?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Mon, 01 Feb 2021 21:53:33 GMT",
        "x-ms-date": "Tue, 02 Feb 2021 21:53:34 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-d4b24db9-7f9a-9565-c50f-769bce9c79e8%2Ftest-directory-7b873059-7ef0-c7bc-fd05-e24a3ce560b0=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-197bdbbf-e7ae-af4f-cd77-c19cbb14afaa/test-directory-f6afb602-2c17-171e-1c68-08e32156a424?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 03 Feb 2021 21:53:33 GMT",
        "x-ms-date": "Tue, 02 Feb 2021 21:53:36 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-197bdbbf-e7ae-af4f-cd77-c19cbb14afaa%2Ftest-directory-7d54c97f-d635-4956-a3d6-a7462da52a19=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-64d2baa4-aed7-b062-4e9d-59dffde3630f/test-directory-b4e7a43d-cb1e-fed7-4254-8fc628562198?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D8C7C4FEF305E6\u0022",
        "x-ms-date": "Tue, 02 Feb 2021 21:53:37 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-64d2baa4-aed7-b062-4e9d-59dffde3630f%2Ftest-directory-d2360a58-6342-a6c5-7c78-1bfb54a5bcd3=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-19d158f2-ceab-1e2b-74d0-c8b12fbdd6ec/test-directory-6555ec3b-045a-4a0f-6064-023f0b3accd1?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Tue, 02 Feb 2021 21:53:38 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-19d158f2-ceab-1e2b-74d0-c8b12fbdd6ec%2Ftest-directory-4effc45d-7111-deb1-feb4-0396353a7e15=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5d0a7335-09fc-a9bd-d2ad-d1cbf87230ae/test-directory-6ce52d00-0bed-9014-4261-16310ce6018e?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:53:39 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "14e77ddf-4f3f-295b-3af6-7c7322a9af6d",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C500656C67\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:53:40 GMT",
        "x-ms-lease-id": "14e77ddf-4f3f-295b-3af6-7c7322a9af6d",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5d0a7335-09fc-a9bd-d2ad-d1cbf87230ae?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:53:39 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-02T15:53:33.0229231-06:00",
    "RandomSeed": "669369877",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}