{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d6d0d0b6-a574-3c0c-f378-b0adb8913ad5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:01:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D508C28DFB64\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:01:27 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-d6d0d0b6-a574-3c0c-f378-b0adb8913ad5/test-directory-a1c4dae6-5e12-6509-f794-4ecb9e591afe?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:01:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D508C29DDF60\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:01:27 GMT"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-d6d0d0b6-a574-3c0c-f378-b0adb8913ad5/test-directory-7c72a10e-ab1a-4de8-02f5-0a3808a5b420?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:01:28 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-d6d0d0b6-a574-3c0c-f378-b0adb8913ad5%2Ftest-directory-a1c4dae6-5e12-6509-f794-4ecb9e591afe="
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-d6d0d0b6-a574-3c0c-f378-b0adb8913ad5/test-directory-7c72a10e-ab1a-4de8-02f5-0a3808a5b420",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:01:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D508C29DDF60\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:01:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:01:27 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8826fe6d-0380-21d7-e631-ca3e027dd94d/test-directory-20645815-6d19-8972-535f-7170a94fbbaf?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 18 Feb 2021 19:01:28 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:01:28 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-8826fe6d-0380-21d7-e631-ca3e027dd94d%2Ftest-directory-688b47f9-52ba-9a60-df13-76a0b0d1b99a="
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-591303d3-2a65-49f5-257e-cda32bf70ec3/test-directory-92aa454f-861f-e5ed-aef8-014087da4954?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 20 Feb 2021 19:01:28 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:01:29 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-591303d3-2a65-49f5-257e-cda32bf70ec3%2Ftest-directory-695252ca-0841-cd75-9c37-0cfa07f8c73c="
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-e72a06f6-1ad9-52e1-c173-3a60b3dd7092/test-directory-01974ae0-e2bb-8743-3c71-3bd49c689499?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D508C3AA02A9",
        "x-ms-date": "Fri, 19 Feb 2021 19:01:30 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-e72a06f6-1ad9-52e1-c173-3a60b3dd7092%2Ftest-directory-2eef0b92-cd36-e228-d54a-acab979c817d="
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-ac077d1a-8e4b-f1b8-350a-12185d6d6a1b/test-directory-5e034eef-6f92-7e51-93f7-67a19558387e?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 19 Feb 2021 19:01:30 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-ac077d1a-8e4b-f1b8-350a-12185d6d6a1b%2Ftest-directory-1540f32e-2760-f2a9-bda1-c5d2305de91f="
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-622ece83-8912-4f9d-9b45-2b94fdd48534/test-directory-d98a8d99-53e2-7f93-6cec-dc1afde2c597?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:01:31 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "b69bb585-fb56-b273-b8b7-a12cb936dfbb"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D508C465D253\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:01:30 GMT",
        "x-ms-lease-id": "b69bb585-fb56-b273-b8b7-a12cb936dfbb"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-622ece83-8912-4f9d-9b45-2b94fdd48534?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:01:31 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-19T13:01:28.0243837-06:00",
    "RandomSeed": "607323143",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}