{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-9d03a170-21eb-7943-9ca6-3c50849a3d5c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5096039F969\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:05:51 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-9d03a170-21eb-7943-9ca6-3c50849a3d5c/test-directory-de65d2a2-175c-55fd-b838-b65dccd4ea6c?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D509604B323F\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:05:51 GMT"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-9d03a170-21eb-7943-9ca6-3c50849a3d5c/test-directory-9b27c0a7-78cc-22bb-c405-cb0966c36771?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:52 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-9d03a170-21eb-7943-9ca6-3c50849a3d5c%2Ftest-directory-de65d2a2-175c-55fd-b838-b65dccd4ea6c="
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-9d03a170-21eb-7943-9ca6-3c50849a3d5c/test-directory-9b27c0a7-78cc-22bb-c405-cb0966c36771",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D509604B323F\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:05:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:05:51 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-05d3d2d7-4ccc-3d09-796f-81cf37a39813/test-directory-16acb802-b3ee-ea71-d79c-cee9738ffddb?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 18 Feb 2021 19:05:52 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:53 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-05d3d2d7-4ccc-3d09-796f-81cf37a39813%2Ftest-directory-4693902b-4e32-a1e9-9095-602e9d151dd9="
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-6cf77541-7b91-9128-080a-9bd73a4e8134/test-directory-8b0a3441-2bf9-2371-fb82-df89149ff783?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 20 Feb 2021 19:05:52 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:53 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-6cf77541-7b91-9128-080a-9bd73a4e8134%2Ftest-directory-9e25450a-ee83-a1b2-a4e9-199fd7202cc3="
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-aabc5a55-8e58-ef81-3042-a9e08c9c5983/test-directory-c55cc104-dc31-e64a-37dd-591962bc04c9?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D50961448E19",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:54 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-aabc5a55-8e58-ef81-3042-a9e08c9c5983%2Ftest-directory-909ff5fb-1f9f-8742-bcf9-15e79079b189="
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-1fb197cd-cb77-1a34-2135-e9bfd4444338/test-directory-72e4dc0e-1ac0-d037-4257-c536b246a087?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:54 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-1fb197cd-cb77-1a34-2135-e9bfd4444338%2Ftest-directory-80ec0e30-1bb1-6552-83c1-fa45e7d78dc7="
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-86ae25d6-bb16-e157-06e7-f51f5b3501db/test-directory-4b95daeb-cceb-4e24-e59d-53d122c3b620?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:55 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "e6e40750-1779-f8af-3a59-9dbb7667a23e"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50961F62CB3\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:05:54 GMT",
        "x-ms-lease-id": "e6e40750-1779-f8af-3a59-9dbb7667a23e"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-86ae25d6-bb16-e157-06e7-f51f5b3501db?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-19T13:05:52.5577051-06:00",
    "RandomSeed": "1410526261",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}