{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5b857aec-5d52-cd8c-d1c7-658ded9fc8f8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:45:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C3DE4D7129\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:45:33 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-5b857aec-5d52-cd8c-d1c7-658ded9fc8f8/test-directory-8015fbe8-97fc-8814-a376-bc68240d8f7d?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:45:32 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C3DE867E5F\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:45:33 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-5b857aec-5d52-cd8c-d1c7-658ded9fc8f8/test-directory-92c6c957-1a8d-0e87-c360-58aaf1916bf5?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:45:33 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-5b857aec-5d52-cd8c-d1c7-658ded9fc8f8%2Ftest-directory-8015fbe8-97fc-8814-a376-bc68240d8f7d=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5b857aec-5d52-cd8c-d1c7-658ded9fc8f8/test-directory-92c6c957-1a8d-0e87-c360-58aaf1916bf5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:45:33 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8C7C3DE867E5F\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:45:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Feb 2021 21:45:33 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-c247a3e5-c5be-c8f4-7592-3b71e8c57ada/test-directory-459814a0-dbf1-9034-6561-8a6959ec5a99?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Mon, 01 Feb 2021 21:45:32 GMT",
        "x-ms-date": "Tue, 02 Feb 2021 21:45:34 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-c247a3e5-c5be-c8f4-7592-3b71e8c57ada%2Ftest-directory-162f1960-2916-ca30-c367-0f89506b7a97=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-66c69961-d1a2-e47f-e527-51e03a2965f6/test-directory-afd367a8-ca9a-d29f-f34e-09cbd471f7cc?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 03 Feb 2021 21:45:32 GMT",
        "x-ms-date": "Tue, 02 Feb 2021 21:45:35 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-66c69961-d1a2-e47f-e527-51e03a2965f6%2Ftest-directory-02495ffd-c561-9312-31cd-ca78b51d2fcb=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-12b5d3d7-f1f9-176c-4fb9-42b8ed1857bf/test-directory-0fbe7afe-57f1-8a90-f1f7-dc431e4ded0a?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D8C7C3E0C07021\u0022",
        "x-ms-date": "Tue, 02 Feb 2021 21:45:37 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-12b5d3d7-f1f9-176c-4fb9-42b8ed1857bf%2Ftest-directory-a79725b9-837c-dde5-7dc3-a6a3afb9338f=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-9172d814-2664-0c6c-4e9c-143c9b6ed957/test-directory-58ad77cb-bcf6-27b6-2140-370676af7b9f?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Tue, 02 Feb 2021 21:45:38 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-9172d814-2664-0c6c-4e9c-143c9b6ed957%2Ftest-directory-01d20828-0859-dc3c-fbc3-5964f4d0405f=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-dfe8e700-e09d-2c04-dd87-c2f6bbd81068/test-directory-cb62ccf2-1293-fab5-c52d-3dcb46a9a401?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:45:39 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "2aa67024-11fc-935b-45ac-9127171e51e1",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C3E22E8359\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:45:40 GMT",
        "x-ms-lease-id": "2aa67024-11fc-935b-45ac-9127171e51e1",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-dfe8e700-e09d-2c04-dd87-c2f6bbd81068?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:45:39 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-02T15:45:32.5964527-06:00",
    "RandomSeed": "1435692858",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}