{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-e3fd9f00-8a5f-a691-526b-82fbc73910be?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:41:41 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39532328830\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:41:41 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-e3fd9f00-8a5f-a691-526b-82fbc73910be/test-directory-6d2c6124-830e-21ab-6b59-b038adeac278?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:41:42 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39532640C62\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:41:42 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-e3fd9f00-8a5f-a691-526b-82fbc73910be/test-directory-3b947c7e-5156-109e-2e24-6b23500537ca?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:41:42 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-e3fd9f00-8a5f-a691-526b-82fbc73910be%2Ftest-directory-6d2c6124-830e-21ab-6b59-b038adeac278=",
        "x-ms-source-if-modified-since": "Thu, 18 Feb 2021 22:41:41 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "SourceConditionNotMet",
          "message": "The source condition specified using HTTP conditional header(s) is not met.\nRequestId:38498fdb-501f-005a-4b7e-0519b8000000\nTime:2021-02-17T22:41:42.3654834Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-cc70f82a-d2f3-3582-2159-b1f510452d9a/test-directory-0dfcb664-4d82-d8cb-92cd-90f2740435f2?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:41:43 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-cc70f82a-d2f3-3582-2159-b1f510452d9a%2Ftest-directory-854fe79c-91f3-15f2-c5b5-c03720a42a7d=",
        "x-ms-source-if-unmodified-since": "Tue, 16 Feb 2021 22:41:41 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "SourceConditionNotMet",
          "message": "The source condition specified using HTTP conditional header(s) is not met.\nRequestId:ff8dd26a-901f-0018-4e7e-05a038000000\nTime:2021-02-17T22:41:43.2864456Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-c958d5fd-4b4a-e3a9-2491-de506f517b73/test-directory-4b7f8483-c577-58c0-992c-937aa3c87ff7?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:41:44 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-c958d5fd-4b4a-e3a9-2491-de506f517b73%2Ftest-directory-ba34e6f0-395f-85a0-aec1-8b8074f1efed=",
        "x-ms-source-if-match": "\u0022garbage\u0022",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "SourceConditionNotMet",
          "message": "The source condition specified using HTTP conditional header(s) is not met.\nRequestId:46af29ef-001f-0057-247e-05d16c000000\nTime:2021-02-17T22:41:44.1727191Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-aac917bd-cf0b-b5af-f49f-cbc118ff4dc6/test-directory-3efff40a-8409-9e01-ec52-135d2505dc81",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:41:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D395340D0DD2\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:41:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 22:41:44 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-aac917bd-cf0b-b5af-f49f-cbc118ff4dc6/test-directory-ba1d22fc-f6cf-e481-346a-c276e6542197?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:41:45 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-aac917bd-cf0b-b5af-f49f-cbc118ff4dc6%2Ftest-directory-3efff40a-8409-9e01-ec52-135d2505dc81=",
        "x-ms-source-if-none-match": "0x8D8D395340D0DD2",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "SourceConditionNotMet",
          "message": "The source condition specified using HTTP conditional header(s) is not met.\nRequestId:c5c50fb7-f01f-007c-407e-0551a0000000\nTime:2021-02-17T22:41:45.2698006Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-e73a37ee-22d8-0b22-f5d6-9b52556dfc0d/test-directory-76f66585-46ae-2218-e209-280e5b9dbbb8?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:41:46 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-e73a37ee-22d8-0b22-f5d6-9b52556dfc0d%2Ftest-directory-ef1ef2d7-9891-f0d6-a5b8-4ff6c25c5662=",
        "x-ms-source-lease-id": "47e7e1b2-a3fd-7551-cb35-208c7c210592",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "LeaseNotPresent",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": {
        "error": {
          "code": "LeaseNotPresent",
          "message": "There is currently no lease on the resource.\nRequestId:1d7ed33e-a01f-003c-037e-055698000000\nTime:2021-02-17T22:41:46.2947080Z"
        }
      }
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-e73a37ee-22d8-0b22-f5d6-9b52556dfc0d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:41:46 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T16:41:41.6864396-06:00",
    "RandomSeed": "1140186480",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}