{
  "Entries": [
    {
      "RequestUri": "https://ccqxscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-dac52d9c-5e4a-328f-1c33-6643fa8452e4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 01 Mar 2022 20:45:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FBC4792F0EF9\u0022",
        "Last-Modified": "Tue, 01 Mar 2022 20:45:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ccqxscnapby3pev24a.dfs.preprod.core.windows.net/test-filesystem-dac52d9c-5e4a-328f-1c33-6643fa8452e4/test-directory-07aee2d1-ae1c-9d30-a3a4-0e52cde54a80?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 01 Mar 2022 20:45:53 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "VHwqb0CfQf6mggTCFFej3VoAuS1FYNuRZG51DFyYjic=",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FBC47A38CA35\u0022",
        "Last-Modified": "Tue, 01 Mar 2022 20:45:53 GMT",
        "x-ms-encryption-key-sha256": "VHwqb0CfQf6mggTCFFej3VoAuS1FYNuRZG51DFyYjic=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ccqxscnapby3pev24a.dfs.preprod.core.windows.net/test-filesystem-dac52d9c-5e4a-328f-1c33-6643fa8452e4/test-directory-9af05573-603c-e482-216d-ae1cbd33e2f8?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 01 Mar 2022 20:45:54 GMT",
        "x-ms-rename-source": "/test-filesystem-dac52d9c-5e4a-328f-1c33-6643fa8452e4/test-directory-07aee2d1-ae1c-9d30-a3a4-0e52cde54a80",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FBC47A38CA35\u0022",
        "Last-Modified": "Tue, 01 Mar 2022 20:45:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ccqxscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-dac52d9c-5e4a-328f-1c33-6643fa8452e4/test-directory-9af05573-603c-e482-216d-ae1cbd33e2f8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 01 Mar 2022 20:45:54 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "VHwqb0CfQf6mggTCFFej3VoAuS1FYNuRZG51DFyYjic=",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9FBC47A38CA35\u0022",
        "Last-Modified": "Tue, 01 Mar 2022 20:45:53 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 01 Mar 2022 20:45:53 GMT",
        "x-ms-encryption-key-sha256": "VHwqb0CfQf6mggTCFFej3VoAuS1FYNuRZG51DFyYjic=",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ccqxscnapby3pev24a.blob.preprod.core.windows.net/test-filesystem-dac52d9c-5e4a-328f-1c33-6643fa8452e4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 01 Mar 2022 20:45:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1633122797",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nccqxscnapby3pev24a\nU2FuaXRpemVk\nhttps://ccqxscnapby3pev24a.blob.preprod.core.windows.net\nhttps://ccqxscnapby3pev24a.file.core.windows.net\nhttps://ccqxscnapby3pev24a.queue.core.windows.net\nhttps://ccqxscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://ccqxscnapby3pev24a-secondary.blob.core.windows.net\nhttps://ccqxscnapby3pev24a-secondary.file.core.windows.net\nhttps://ccqxscnapby3pev24a-secondary.queue.core.windows.net\nhttps://ccqxscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://ccqxscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://ccqxscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://ccqxscnapby3pev24a.file.core.windows.net/;BlobSecondaryEndpoint=https://ccqxscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ccqxscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ccqxscnapby3pev24a-secondary.file.core.windows.net/;AccountName=ccqxscnapby3pev24a;AccountKey=Sanitized\n\n\n"
  }
}
