{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5b9590d6-6af3-a509-1278-68d2dc4a9ce6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5096419DFA4\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:05:58 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-5b9590d6-6af3-a509-1278-68d2dc4a9ce6/test-directory-a5ea196e-9d2a-f069-db5f-5b4768213852?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D50964274098\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:05:58 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-5b9590d6-6af3-a509-1278-68d2dc4a9ce6/test-directory-71d52b10-e910-6446-2cfb-8b53098f89c6?sv=2020-06-12\u0026st=2021-02-19T17%3A05%3A59Z\u0026se=2021-02-19T21%3A05%3A59Z\u0026sr=c\u0026sp=racwdlmeop\u0026sig=Sanitized\u0026mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-rename-source": "%2Ftest-filesystem-5b9590d6-6af3-a509-1278-68d2dc4a9ce6%2Ftest-directory-a5ea196e-9d2a-f069-db5f-5b4768213852%3Fsv=2020-06-12\u0026st=2021-02-19T18%3A05%3A59Z\u0026se=2021-02-19T20%3A05%3A59Z\u0026sr=c\u0026sp=racwdlmeop\u0026sig=Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5b9590d6-6af3-a509-1278-68d2dc4a9ce6/test-directory-71d52b10-e910-6446-2cfb-8b53098f89c6?sv=2020-06-12\u0026st=2021-02-19T17%3A05%3A59Z\u0026se=2021-02-19T21%3A05%3A59Z\u0026sr=c\u0026sp=racwdlmeop\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D50964274098\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:05:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:05:58 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-5b9590d6-6af3-a509-1278-68d2dc4a9ce6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-19T13:05:59.2235143-06:00",
    "RandomSeed": "95697183",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}