{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-2dc3bc69-4485-20b0-94ca-56b4786461f3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 12 May 2020 19:12:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7F6A86445E3E6\u0022",
        "Last-Modified": "Tue, 12 May 2020 19:12:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-2dc3bc69-4485-20b0-94ca-56b4786461f3/test-directory-c6887a14-6a31-af76-ff0d-693340c9354f?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 May 2020 19:12:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7F6A864DC53B1\u0022",
        "Last-Modified": "Tue, 12 May 2020 19:12:20 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-2dc3bc69-4485-20b0-94ca-56b4786461f3/test-directory-1dd402be-2a84-932e-ecbb-c1c55aa44871?sv=2019-10-10\u0026st=2020-05-12T17%3A12%3A20Z\u0026se=2020-05-12T21%3A12%3A20Z\u0026sr=c\u0026sp=racwd\u0026sig=Sanitized\u0026mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-rename-source": "%2Ftest-filesystem-2dc3bc69-4485-20b0-94ca-56b4786461f3%2Ftest-directory-c6887a14-6a31-af76-ff0d-693340c9354f%3Fsv=2019-10-10\u0026st=2020-05-12T18%3A12%3A20Z\u0026se=2020-05-12T20%3A12%3A20Z\u0026sr=c\u0026sp=racwd\u0026sig=Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-2dc3bc69-4485-20b0-94ca-56b4786461f3/test-directory-1dd402be-2a84-932e-ecbb-c1c55aa44871?sv=2019-10-10\u0026st=2020-05-12T17%3A12%3A20Z\u0026se=2020-05-12T21%3A12%3A20Z\u0026sr=c\u0026sp=racwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7F6A864DC53B1\u0022",
        "Last-Modified": "Tue, 12 May 2020 19:12:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 12 May 2020 19:12:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-2dc3bc69-4485-20b0-94ca-56b4786461f3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 May 2020 19:12:21 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-05-12T12:12:20.9325068-07:00",
    "RandomSeed": "1001061061",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}