{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-b3bb79a5-364b-9e33-97ca-ed03b4960443?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:01:31 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D508C4AB2105\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:01:30 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-b3bb79a5-364b-9e33-97ca-ed03b4960443/test-directory-ba7c1b4a-cd45-387d-cb86-ea20324da47c?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:01:31 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D508C4B87A5C\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:01:30 GMT"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-b3bb79a5-364b-9e33-97ca-ed03b4960443/test-directory-6d701d4b-aadf-09ed-7e78-bbced32e66d7?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sat, 20 Feb 2021 19:01:31 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:01:31 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-b3bb79a5-364b-9e33-97ca-ed03b4960443%2Ftest-directory-ba7c1b4a-cd45-387d-cb86-ea20324da47c="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:da83c1c7-a01f-0061-27f1-065c1c000000\nTime:2021-02-19T19:01:31.1751332Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-4b2c1570-9531-a792-8220-6ca93cbf7184/test-directory-58ce8f6a-d8c4-a772-01c5-f0e7dfc64b87?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Feb 2021 19:01:31 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:01:32 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-4b2c1570-9531-a792-8220-6ca93cbf7184%2Ftest-directory-5ff13f9e-17f6-663f-cf36-bf3f3535615f="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:da83c1ef-a01f-0061-4ff1-065c1c000000\nTime:2021-02-19T19:01:31.6164416Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-8a37ee30-3235-6bf3-88fe-c2ba95c40990/test-directory-633caad6-16ff-3fa4-edfc-ca00ade21e68?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 19 Feb 2021 19:01:32 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-8a37ee30-3235-6bf3-88fe-c2ba95c40990%2Ftest-directory-6f95c192-961c-0396-ead1-0a841dac7b9e="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:da83c23e-a01f-0061-1ef1-065c1c000000\nTime:2021-02-19T19:01:32.1528159Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-0a663bc6-956e-322e-37b1-95b00b209d1f/test-directory-29b3b193-6484-033d-5e92-2eacfad6faf4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:01:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D508C5AD8C6C\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:01:32 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:01:32 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-0a663bc6-956e-322e-37b1-95b00b209d1f/test-directory-29b3b193-6484-033d-5e92-2eacfad6faf4?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8D8D508C5AD8C6C",
        "x-ms-date": "Fri, 19 Feb 2021 19:01:33 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-0a663bc6-956e-322e-37b1-95b00b209d1f%2Ftest-directory-b1260d40-b44d-1653-c742-20e1b3390ce2="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:da83c27f-a01f-0061-5ff1-065c1c000000\nTime:2021-02-19T19:01:32.7532397Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-825a82de-c611-f50f-84a0-665e88ab783f/test-directory-96c0dac1-ed27-a36e-e8e2-17c39a9a9059?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:01:33 GMT",
        "x-ms-lease-id": "318f957e-a785-8a63-664e-5eaab30528bd",
        "x-ms-rename-source": "%2Ftest-filesystem-825a82de-c611-f50f-84a0-665e88ab783f%2Ftest-directory-a41af279-ebe4-cd10-5deb-626e3e0fc8fa="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "LeaseNotPresent"
      },
      "ResponseBody": {
        "error": {
          "code": "LeaseNotPresent",
          "message": "There is currently no lease on the resource.\nRequestId:da83c2be-a01f-0061-1ef1-065c1c000000\nTime:2021-02-19T19:01:33.2265734Z"
        }
      }
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-825a82de-c611-f50f-84a0-665e88ab783f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:01:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-19T13:01:31.5643774-06:00",
    "RandomSeed": "1863758508",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}