{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-6716dbaa-f207-89b6-fa7e-f9ad5df84041?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5096237837C\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:05:55 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-6716dbaa-f207-89b6-fa7e-f9ad5df84041/test-directory-fcf6c364-9ca2-8c30-b909-0c9baa9c34db?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D5096248BD38\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:05:55 GMT"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-6716dbaa-f207-89b6-fa7e-f9ad5df84041/test-directory-7bfc6282-b5c5-b051-67e5-799c4992ab17?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sat, 20 Feb 2021 19:05:55 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:56 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-6716dbaa-f207-89b6-fa7e-f9ad5df84041%2Ftest-directory-fcf6c364-9ca2-8c30-b909-0c9baa9c34db="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:da846bd2-a01f-0061-57f2-065c1c000000\nTime:2021-02-19T19:05:55.5122999Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-198a9872-a972-e78d-9ca5-e73c5e42614d/test-directory-d66cd023-82fb-6681-ded7-52caa587e97a?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Feb 2021 19:05:55 GMT",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:56 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-198a9872-a972-e78d-9ca5-e73c5e42614d%2Ftest-directory-09971cdb-2ceb-ccd3-334b-f69dcc6ffaf0="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:da846c35-a01f-0061-3af2-065c1c000000\nTime:2021-02-19T19:05:55.9766274Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-9683b6b4-2c62-dabe-fcd3-332cb76b9fe4/test-directory-a47d8abd-8eef-3e47-2c7c-b68d36f2290e?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:57 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-9683b6b4-2c62-dabe-fcd3-332cb76b9fe4%2Ftest-directory-ee070ac5-14a6-9247-706b-9408bf7dfa2e="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:da846c89-a01f-0061-0ef2-065c1c000000\nTime:2021-02-19T19:05:56.3969241Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-4e55cb75-18d1-597c-113a-6d5c8fdd57ff/test-directory-52ac99eb-9e5d-0789-d37f-6f85ed4a0a56",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D509631B81EF\u0022",
        "Last-Modified": "Fri, 19 Feb 2021 19:05:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:05:56 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-4e55cb75-18d1-597c-113a-6d5c8fdd57ff/test-directory-52ac99eb-9e5d-0789-d37f-6f85ed4a0a56?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8D8D509631B81EF",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:57 GMT",
        "x-ms-rename-source": "%2Ftest-filesystem-4e55cb75-18d1-597c-113a-6d5c8fdd57ff%2Ftest-directory-7e4e51c3-63a5-a2db-7296-ad463e2baea2="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:da846cfa-a01f-0061-7ff2-065c1c000000\nTime:2021-02-19T19:05:56.8792647Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-4393b344-a11b-5df1-9931-2db04c57fa2c/test-directory-fcc6ef28-0c70-0323-a729-24238973a183?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:57 GMT",
        "x-ms-lease-id": "3740b72c-b7ff-9614-2fa5-057b4ce2f185",
        "x-ms-rename-source": "%2Ftest-filesystem-4393b344-a11b-5df1-9931-2db04c57fa2c%2Ftest-directory-2a5aaa8c-7901-fd23-a254-5a9def6281fa="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "LeaseNotPresent"
      },
      "ResponseBody": {
        "error": {
          "code": "LeaseNotPresent",
          "message": "There is currently no lease on the resource.\nRequestId:da846d60-a01f-0061-65f2-065c1c000000\nTime:2021-02-19T19:05:57.3245783Z"
        }
      }
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-4393b344-a11b-5df1-9931-2db04c57fa2c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:05:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-19T13:05:55.8982042-06:00",
    "RandomSeed": "350194261",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}