{
  "Entries": [
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-655eeffe-98cc-7788-0a1b-2bf031c8bb2a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 06:19:21 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E020F821D7E\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:19:21 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.dfs.core.windows.net/test-filesystem-655eeffe-98cc-7788-0a1b-2bf031c8bb2a/test-directory-1d1a76a4-bf93-22ca-73b4-54adfa1133b6?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:19:21 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E020F92CE6D\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:19:21 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-655eeffe-98cc-7788-0a1b-2bf031c8bb2a/test-directory-1d1a76a4-bf93-22ca-73b4-54adfa1133b6?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:19:21 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "6f9cfda0-0b40-0c66-c3d5-87d02c28f977",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E020F92CE6D\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:19:21 GMT",
        "x-ms-lease-id": "6f9cfda0-0b40-0c66-c3d5-87d02c28f977",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-81d3e89c-7634-7944-61a2-c05e2189d6cc/test-directory-2c9bb80d-b5c5-c842-d545-c4dee99a0649?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 10 Dec 2019 06:19:21 GMT",
        "x-ms-date": "Wed, 11 Dec 2019 06:19:21 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "30feb671-3b27-f6ff-2db1-8f1a8093f35e",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E020FDE118A\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:19:21 GMT",
        "x-ms-lease-id": "30feb671-3b27-f6ff-2db1-8f1a8093f35e",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-e96315bb-2453-7ff7-ad92-1e3f9ea6e89a/test-directory-b10a85e2-9787-407d-60ee-8d79241aeb1f?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 12 Dec 2019 06:19:21 GMT",
        "x-ms-date": "Wed, 11 Dec 2019 06:19:22 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "56ab342c-7246-16da-95c2-2ac6bb2b1918",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E021026E296\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:19:22 GMT",
        "x-ms-lease-id": "56ab342c-7246-16da-95c2-2ac6bb2b1918",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-1baf495c-9645-ac7e-85e0-772fcde9cb56/test-directory-a5760443-9f22-6af7-7631-e2924faa0e4d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:19:22 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77E0210719D32\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:19:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 06:19:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-1baf495c-9645-ac7e-85e0-772fcde9cb56/test-directory-a5760443-9f22-6af7-7631-e2924faa0e4d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D77E0210719D32\u0022",
        "x-ms-date": "Wed, 11 Dec 2019 06:19:22 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "761ee65f-072c-a389-7105-bc0ceca2ab5d",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E0210719D32\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:19:22 GMT",
        "x-ms-lease-id": "761ee65f-072c-a389-7105-bc0ceca2ab5d",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-86cff06d-edcb-0e04-9147-ea21f7b4f36c/test-directory-fa5f3088-72b4-668e-c222-68900ca786fc?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 11 Dec 2019 06:19:23 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "a8f70862-6e98-fcf2-7e2c-3c744ac366aa",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E0210C6923B\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:19:23 GMT",
        "x-ms-lease-id": "a8f70862-6e98-fcf2-7e2c-3c744ac366aa",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-86cff06d-edcb-0e04-9147-ea21f7b4f36c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:19:23 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-10T22:19:21.1122337-08:00",
    "RandomSeed": "1806169685",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttp://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}