{
  "Entries": [
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-77a43495-4d31-5a76-6c7e-3428b05d2b42?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 06:21:02 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E024C36BA81\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:21:02 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.dfs.core.windows.net/test-filesystem-77a43495-4d31-5a76-6c7e-3428b05d2b42/test-directory-522cadf9-91d7-88e1-0491-c10c40b36f68?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:21:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E024C471864\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:21:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-77a43495-4d31-5a76-6c7e-3428b05d2b42/test-directory-522cadf9-91d7-88e1-0491-c10c40b36f68?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:21:03 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "286ed68d-afc2-4994-2aa0-0b400140bb2c",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E024C471864\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:21:03 GMT",
        "x-ms-lease-id": "286ed68d-afc2-4994-2aa0-0b400140bb2c",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-3e17495e-201f-a078-d37c-497114213343/test-directory-5fd5fbcb-5322-5196-d705-b49cb91c4a81?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 10 Dec 2019 06:21:02 GMT",
        "x-ms-date": "Wed, 11 Dec 2019 06:21:03 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "22e40916-7bb1-1488-f351-537934a0d09c",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E024C911CCC\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:21:03 GMT",
        "x-ms-lease-id": "22e40916-7bb1-1488-f351-537934a0d09c",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-b92f264a-fdca-75a6-e731-6706e64c8e46/test-directory-31d709e9-5577-3602-15a8-e8c1baa1c6f4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 12 Dec 2019 06:21:02 GMT",
        "x-ms-date": "Wed, 11 Dec 2019 06:21:04 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "b7b52279-44dc-83da-da3c-de59ad1c394d",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E024CDC2B16\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:21:04 GMT",
        "x-ms-lease-id": "b7b52279-44dc-83da-da3c-de59ad1c394d",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-c7bd96f3-a6d1-f4d4-926c-cb9bcbb86d39/test-directory-0a42840c-5cfb-0a4d-3fd6-1bcda507c24a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:21:04 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D77E024D25FE40\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:21:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 11 Dec 2019 06:21:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-c7bd96f3-a6d1-f4d4-926c-cb9bcbb86d39/test-directory-0a42840c-5cfb-0a4d-3fd6-1bcda507c24a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D77E024D25FE40\u0022",
        "x-ms-date": "Wed, 11 Dec 2019 06:21:04 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "3363d443-8d56-98a8-feae-ac2f90533ffa",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E024D25FE40\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:21:04 GMT",
        "x-ms-lease-id": "3363d443-8d56-98a8-feae-ac2f90533ffa",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-a802c9bb-5a27-69d7-10c0-3f9e64f01a05/test-directory-ddc05045-13ac-fa65-ef61-8d80388fdc0a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Wed, 11 Dec 2019 06:21:05 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "65d0ef8c-84a8-4462-e8d6-9d4a6034321b",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E024D7C3932\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 06:21:05 GMT",
        "x-ms-lease-id": "65d0ef8c-84a8-4462-e8d6-9d4a6034321b",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagehierarchical.blob.core.windows.net/test-filesystem-a802c9bb-5a27-69d7-10c0-3f9e64f01a05?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 06:21:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-10T22:21:02.9596889-08:00",
    "RandomSeed": "539623395",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttp://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}