{
  "Entries": [
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-77a43495-4d31-5a76-6c7e-3428b05d2b42?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Apr 2020 04:49:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA66686980FD\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:49:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.dfs.core.windows.net/test-filesystem-77a43495-4d31-5a76-6c7e-3428b05d2b42/test-directory-522cadf9-91d7-88e1-0491-c10c40b36f68?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:49:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA666876F97D\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:49:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-77a43495-4d31-5a76-6c7e-3428b05d2b42/test-directory-522cadf9-91d7-88e1-0491-c10c40b36f68?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:49:45 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "286ed68d-afc2-4994-2aa0-0b400140bb2c",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA666876F97D\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:49:45 GMT",
        "x-ms-lease-id": "286ed68d-afc2-4994-2aa0-0b400140bb2c",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-3e17495e-201f-a078-d37c-497114213343/test-directory-5fd5fbcb-5322-5196-d705-b49cb91c4a81?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 26 Apr 2020 04:49:45 GMT",
        "x-ms-date": "Mon, 27 Apr 2020 04:49:46 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "22e40916-7bb1-1488-f351-537934a0d09c",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA6668B83897\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:49:46 GMT",
        "x-ms-lease-id": "22e40916-7bb1-1488-f351-537934a0d09c",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-b92f264a-fdca-75a6-e731-6706e64c8e46/test-directory-31d709e9-5577-3602-15a8-e8c1baa1c6f4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 28 Apr 2020 04:49:45 GMT",
        "x-ms-date": "Mon, 27 Apr 2020 04:49:46 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "b7b52279-44dc-83da-da3c-de59ad1c394d",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA6668FA0175\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:49:46 GMT",
        "x-ms-lease-id": "b7b52279-44dc-83da-da3c-de59ad1c394d",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-c7bd96f3-a6d1-f4d4-926c-cb9bcbb86d39/test-directory-0a42840c-5cfb-0a4d-3fd6-1bcda507c24a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:49:47 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7EA66693D32DB\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:49:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 27 Apr 2020 04:49:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-c7bd96f3-a6d1-f4d4-926c-cb9bcbb86d39/test-directory-0a42840c-5cfb-0a4d-3fd6-1bcda507c24a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7EA66693D32DB\u0022",
        "x-ms-date": "Mon, 27 Apr 2020 04:49:47 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "3363d443-8d56-98a8-feae-ac2f90533ffa",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA66693D32DB\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:49:46 GMT",
        "x-ms-lease-id": "3363d443-8d56-98a8-feae-ac2f90533ffa",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-a802c9bb-5a27-69d7-10c0-3f9e64f01a05/test-directory-ddc05045-13ac-fa65-ef61-8d80388fdc0a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Mon, 27 Apr 2020 04:49:47 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "65d0ef8c-84a8-4462-e8d6-9d4a6034321b",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7EA66698C957F\u0022",
        "Last-Modified": "Mon, 27 Apr 2020 04:49:47 GMT",
        "x-ms-lease-id": "65d0ef8c-84a8-4462-e8d6-9d4a6034321b",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-a802c9bb-5a27-69d7-10c0-3f9e64f01a05?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 04:49:47 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-26T21:49:45.5403174-07:00",
    "RandomSeed": "539623395",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttp://amandaadlscanary.blob.core.windows.net\nhttp://amandaadlscanary.file.core.windows.net\nhttp://amandaadlscanary.queue.core.windows.net\nhttp://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary-secondary.blob.core.windows.net\nhttp://amandaadlscanary-secondary.file.core.windows.net\nhttp://amandaadlscanary-secondary.queue.core.windows.net\nhttp://amandaadlscanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}