{
  "Entries": [
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-f1034f56-466b-0a78-91c5-db7557b351e1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 25 Jun 2020 05:56:09 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D818CC753F3B89\u0022",
        "Last-Modified": "Thu, 25 Jun 2020 05:56:09 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary.dfs.core.windows.net/test-filesystem-f1034f56-466b-0a78-91c5-db7557b351e1/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Thu, 25 Jun 2020 05:56:09 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D818CC7540E1A5\u0022",
        "Last-Modified": "Thu, 25 Jun 2020 05:56:09 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "response_type=token\u0026grant_type=client_credentials\u0026client_id=68390a19-a643-458b-b726-408abf67b4fc\u0026client_secret=Sanitized\u0026scope=https%3A%2F%2Fstorage.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-f1034f56-466b-0a78-91c5-db7557b351e1/test-directory-0b50ad49-7e79-9b2c-bfbb-05eed163ce8b?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D818CC75AF17D4\u0022",
        "Last-Modified": "Thu, 25 Jun 2020 05:56:09 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-f1034f56-466b-0a78-91c5-db7557b351e1/test-directory-0b50ad49-7e79-9b2c-bfbb-05eed163ce8b/test-directory-7f9021e7-9880-99e1-c822-0aaa50ff4dc7?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D818CC75BC5D7E\u0022",
        "Last-Modified": "Thu, 25 Jun 2020 05:56:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-f1034f56-466b-0a78-91c5-db7557b351e1/test-directory-0b50ad49-7e79-9b2c-bfbb-05eed163ce8b/test-directory-7f9021e7-9880-99e1-c822-0aaa50ff4dc7/test-file-a6cf3597-b546-0021-1f15-410813f724c8?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D818CC75CA99EC\u0022",
        "Last-Modified": "Thu, 25 Jun 2020 05:56:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary.dfs.core.windows.net/test-filesystem-f1034f56-466b-0a78-91c5-db7557b351e1/test-directory-0b50ad49-7e79-9b2c-bfbb-05eed163ce8b/test-directory-919e9e72-499f-83a0-0679-a6386e4f12e9/test-file-0c7d391c-bc4d-7bb4-e367-d64867a6071c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 25 Jun 2020 05:56:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D818CC75FF059B\u0022",
        "Last-Modified": "Thu, 25 Jun 2020 05:56:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-f1034f56-466b-0a78-91c5-db7557b351e1/test-directory-0b50ad49-7e79-9b2c-bfbb-05eed163ce8b?action=setAccessControlRecursive\u0026mode=set\u0026forceFlag=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjMsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6NH0K"
    },
    {
      "RequestUri": "http://amandaadlscanary.blob.core.windows.net/test-filesystem-f1034f56-466b-0a78-91c5-db7557b351e1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 25 Jun 2020 05:56:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "651083882",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttp://amandaadlscanary.blob.core.windows.net\nhttp://amandaadlscanary.file.core.windows.net\nhttp://amandaadlscanary.queue.core.windows.net\nhttp://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary-secondary.blob.core.windows.net\nhttp://amandaadlscanary-secondary.file.core.windows.net\nhttp://amandaadlscanary-secondary.queue.core.windows.net\nhttp://amandaadlscanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n"
  }
}