{
  "Entries": [
    {
      "RequestUri": "http://amandaadlscanary2.blob.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 30 Sep 2020 21:35:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86588C46C1279\u0022",
        "Last-Modified": "Wed, 30 Sep 2020 21:35:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Wed, 30 Sep 2020 21:35:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86588C46D3F85\u0022",
        "Last-Modified": "Wed, 30 Sep 2020 21:35:35 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Sep 2020 21:35:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86588C4869202\u0022",
        "Last-Modified": "Wed, 30 Sep 2020 21:35:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c/test-directory-31945aea-beb1-1c95-542a-3da5878c0287?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Sep 2020 21:35:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86588C49F2673\u0022",
        "Last-Modified": "Wed, 30 Sep 2020 21:35:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c/test-directory-31945aea-beb1-1c95-542a-3da5878c0287/test-file-d1933ffe-337b-007f-7042-a3d8b91607b5?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Sep 2020 21:35:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86588C4ABCF30\u0022",
        "Last-Modified": "Wed, 30 Sep 2020 21:35:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Sep 2020 21:35:36 GMT",
        "x-ms-owner": "82bb2a96-65b2-24b8-be68-596cca4f4cb8",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86588C492CAF4\u0022",
        "Last-Modified": "Wed, 30 Sep 2020 21:35:36 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c/test-directory-31945aea-beb1-1c95-542a-3da5878c0287?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Sep 2020 21:35:36 GMT",
        "x-ms-owner": "82bb2a96-65b2-24b8-be68-596cca4f4cb8",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86588C49F2673\u0022",
        "Last-Modified": "Wed, 30 Sep 2020 21:35:36 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c/test-directory-31945aea-beb1-1c95-542a-3da5878c0287/test-file-d1933ffe-337b-007f-7042-a3d8b91607b5?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Sep 2020 21:35:36 GMT",
        "x-ms-owner": "82bb2a96-65b2-24b8-be68-596cca4f4cb8",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86588C4ABCF30\u0022",
        "Last-Modified": "Wed, 30 Sep 2020 21:35:36 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c/test-directory-43e691f5-4806-4eac-41bf-f1a9705399bb/test-directory-f26068f9-4a7b-231b-2aac-27b1bf98eb1d?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Sep 2020 21:35:37 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D86588C550D8C5\u0022",
        "Last-Modified": "Wed, 30 Sep 2020 21:35:37 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary2.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CKeyInfo\u003E\u003CExpiry\u003E2020-09-30T22:35:37Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2020-09-30T21:35:37Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2020-09-30T22:35:37Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-02-10\u003C/SignedVersion\u003E\u003CValue\u003ECKaZQYHOQ6egj0AbGDx11x8\u002B2wXdIwjMAaqnWVwZLFg=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-30T21%3A35%3A37Z\u0026ske=2020-09-30T22%3A35%3A37Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-30T20%3A35%3A37Z\u0026se=2020-09-30T22%3A35%3A37Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=82bb2a96-65b2-24b8-be68-596cca4f4cb8\u0026sig=Sanitized\u0026action=setAccessControlRecursive\u0026mode=set\u0026forceFlag=true\u0026maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBacoODzuq\u002BGimgYhgIYgAIvYW1hbmRhYWRsc2NhbmFyeTIBMDFENjdENkVCODA0OEI2OS90ZXN0LWZpbGVzeXN0ZW0tMzIxODM4OTMtMGU0NC02ZDQ0LWZlNDUtZDQ3YTM1YmRjZGI5ATAxRDY5NzcxQTFGNTVGMzIvdGVzdC1kaXJlY3RvcnktNDBmNmMzYzctNGE2NS1jZmQxLWY0N2UtMDM5ZWY4YzFmZDFjL3Rlc3QtZGlyZWN0b3J5LTMxOTQ1YWVhLWJlYjEtMWM5NS01NDJhLTNkYTU4NzhjMDI4Ny90ZXN0LWZpbGUtMGVjOWVjN2YtOTMyNy0wMTgwLTUxYjMtMzJkNWI5NzhiYTAyFgAAAA==",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-30T21%3A35%3A37Z\u0026ske=2020-09-30T22%3A35%3A37Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-30T20%3A35%3A37Z\u0026se=2020-09-30T22%3A35%3A37Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=82bb2a9[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-30T21%3A35%3A37Z\u0026ske=2020-09-30T22%3A35%3A37Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-30T20%3A35%3A37Z\u0026se=2020-09-30T22%3A35%3A37Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=82bb2a9[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-30T21%3A35%3A37Z\u0026ske=2020-09-30T22%3A35%3A37Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-30T20%3A35%3A37Z\u0026se=2020-09-30T22%3A35%3A37Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=82bb2a9[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-30T21%3A35%3A37Z\u0026ske=2020-09-30T22%3A35%3A37Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-30T20%3A35%3A37Z\u0026se=2020-09-30T22%3A35%3A37Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=82bb2a9[...]
    {
      "RequestUri": "http://amandaadlscanary2.blob.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Sep 2020 21:35:38 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-09-30T14:35:37.4191124-07:00",
    "RandomSeed": "220856830",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary2\nU2FuaXRpemVk\nhttp://amandaadlscanary2.blob.core.windows.net\nhttp://amandaadlscanary2.file.core.windows.net\nhttp://amandaadlscanary2.queue.core.windows.net\nhttp://amandaadlscanary2.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary2-secondary.blob.core.windows.net\nhttp://amandaadlscanary2-secondary.file.core.windows.net\nhttp://amandaadlscanary2-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary2.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary2.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary2.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary2-secondary.file.core.windows.net/;AccountName=amandaadlscanary2;AccountKey=Sanitized\n"
  }
}