{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:39 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3964F355E6B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:49:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3964F37851A\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:49:40 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3964F76ABC8\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:49:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c/test-directory-31945aea-beb1-1c95-542a-3da5878c0287?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3964F929A43\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:49:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c/test-directory-31945aea-beb1-1c95-542a-3da5878c0287/test-file-d1933ffe-337b-007f-7042-a3d8b91607b5?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3964F9F3E53\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:49:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:41 GMT",
        "x-ms-owner": "82bb2a96-65b2-24b8-be68-596cca4f4cb8",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3964F836A23\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:49:40 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c/test-directory-31945aea-beb1-1c95-542a-3da5878c0287?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:41 GMT",
        "x-ms-owner": "82bb2a96-65b2-24b8-be68-596cca4f4cb8",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3964F929A43\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:49:40 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c/test-directory-31945aea-beb1-1c95-542a-3da5878c0287/test-file-d1933ffe-337b-007f-7042-a3d8b91607b5?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:41 GMT",
        "x-ms-owner": "82bb2a96-65b2-24b8-be68-596cca4f4cb8",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3964F9F3E53\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:49:40 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c/test-directory-43e691f5-4806-4eac-41bf-f1a9705399bb/test-directory-f26068f9-4a7b-231b-2aac-27b1bf98eb1d?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:41 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D396504AA4D6\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:49:41 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "\uFEFF\u003CKeyInfo\u003E\u003CExpiry\u003E2021-02-17T23:49:42Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2021-02-17T22:49:42Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2021-02-17T23:49:42Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-06-12\u003C/SignedVersion\u003E\u003CValue\u003EnYE6or6MHLkvNvJhtZnNyPXhhewcv5O/i8KtalL665I=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A49%3A42Z\u0026ske=2021-02-17T23%3A49%3A42Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A49%3A42Z\u0026se=2021-02-17T23%3A49%3A42Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=82bb2a96-65b2-24b8-be68-596cca4f4cb8\u0026sig=Sanitized\u0026action=setAccessControlRecursive\u0026mode=set\u0026forceFlag=true\u0026maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBbL5Y\u002Bnl/qo\u002BukBGPwBGPYBL3NlYW5uc2UBMDFENTc5OTJDOTcxNDhDMi90ZXN0LWZpbGVzeXN0ZW0tMzIxODM4OTMtMGU0NC02ZDQ0LWZlNDUtZDQ3YTM1YmRjZGI5ATAxRDcwNTdGMkNCRUIzMUIvdGVzdC1kaXJlY3RvcnktNDBmNmMzYzctNGE2NS1jZmQxLWY0N2UtMDM5ZWY4YzFmZDFjL3Rlc3QtZGlyZWN0b3J5LTMxOTQ1YWVhLWJlYjEtMWM5NS01NDJhLTNkYTU4NzhjMDI4Ny90ZXN0LWZpbGUtMGVjOWVjN2YtOTMyNy0wMTgwLTUxYjMtMzJkNWI5NzhiYTAyFgAAAA==",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A49%3A42Z\u0026ske=2021-02-17T23%3A49%3A42Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A49%3A42Z\u0026se=2021-02-17T23%3A49%3A42Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=82bb2a96-65b2-24[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A49%3A42Z\u0026ske=2021-02-17T23%3A49%3A42Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A49%3A42Z\u0026se=2021-02-17T23%3A49%3A42Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=82bb2a96-65b2-24[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A49%3A42Z\u0026ske=2021-02-17T23%3A49%3A42Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A49%3A42Z\u0026se=2021-02-17T23%3A49%3A42Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=82bb2a96-65b2-24[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9/test-directory-40f6c3c7-4a65-cfd1-f47e-039ef8c1fd1c?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A49%3A42Z\u0026ske=2021-02-17T23%3A49%3A42Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A49%3A42Z\u0026se=2021-02-17T23%3A49%3A42Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=82bb2a96-65b2-24[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-32183893-0e44-6d44-fe45-d47a35bdcdb9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:43 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T16:49:42.0274899-06:00",
    "RandomSeed": "220856830",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}