{
  "Entries": [
    {
      "RequestUri": "http://amandaadlscanary2.blob.core.windows.net/test-filesystem-d6e0aebf-a1ed-c1c3-8df9-18c3f0da6758?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 23 Sep 2020 19:21:02 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85FF5CFAB6E6F\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 19:21:02 GMT",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-d6e0aebf-a1ed-c1c3-8df9-18c3f0da6758/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Wed, 23 Sep 2020 19:21:03 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D85FF5CFBF2B1E\u0022",
        "Last-Modified": "Wed, 23 Sep 2020 19:21:02 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary2.dfs.core.windows.net/test-filesystem-d6e0aebf-a1ed-c1c3-8df9-18c3f0da6758/test-directory-26d6654b-bf5f-7dff-81a7-d7b540d27c60?action=setAccessControlRecursive\u0026mode=set\u0026continuation=Azure.Core.Tests",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PathNotFound",
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": {
        "error": {
          "code": "PathNotFound",
          "message": "The specified path does not exist.\nRequestId:ecdfa6e7-d01f-0093-03de-912d2b000000\nTime:2020-09-23T19:21:05.0127186Z"
        }
      }
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary2.blob.core.windows.net/test-filesystem-d6e0aebf-a1ed-c1c3-8df9-18c3f0da6758?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Sep 2020 19:21:05 GMT",
        "x-ms-version": "2020-02-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-02-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "932940871",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary2\nU2FuaXRpemVk\nhttp://amandaadlscanary2.blob.core.windows.net\nhttp://amandaadlscanary2.file.core.windows.net\nhttp://amandaadlscanary2.queue.core.windows.net\nhttp://amandaadlscanary2.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary2-secondary.blob.core.windows.net\nhttp://amandaadlscanary2-secondary.file.core.windows.net\nhttp://amandaadlscanary2-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary2.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary2.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary2.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary2-secondary.file.core.windows.net/;AccountName=amandaadlscanary2;AccountKey=Sanitized\n"
  }
}