{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-49da8f81-0b36-d57a-b20b-91362903746a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:54:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C5218C1537\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:54:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-49da8f81-0b36-d57a-b20b-91362903746a/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Tue, 02 Feb 2021 21:54:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C5218E7DD6\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:54:35 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-49da8f81-0b36-d57a-b20b-91362903746a/test-directory-d49f4072-c195-abf0-eb3e-0d76bd0402d5?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:54:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C521D4C534\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:54:36 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-49da8f81-0b36-d57a-b20b-91362903746a/test-directory-d49f4072-c195-abf0-eb3e-0d76bd0402d5/test-directory-2030ddb6-e06a-6dd4-b9f5-eb9b8ff01565?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:54:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C521F1B2A9\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:54:36 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-49da8f81-0b36-d57a-b20b-91362903746a/test-directory-d49f4072-c195-abf0-eb3e-0d76bd0402d5/test-directory-2030ddb6-e06a-6dd4-b9f5-eb9b8ff01565/test-file-a5691542-f30d-8559-7e74-76917bab0d03?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:54:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C5220175BE\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:54:36 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-49da8f81-0b36-d57a-b20b-91362903746a/test-directory-d49f4072-c195-abf0-eb3e-0d76bd0402d5?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:54:36 GMT",
        "x-ms-owner": "abd641d9-0b17-617a-8be4-64d3dd113f0e",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C521E2EC76\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:54:36 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-49da8f81-0b36-d57a-b20b-91362903746a/test-directory-d49f4072-c195-abf0-eb3e-0d76bd0402d5/test-directory-2030ddb6-e06a-6dd4-b9f5-eb9b8ff01565?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:54:36 GMT",
        "x-ms-owner": "abd641d9-0b17-617a-8be4-64d3dd113f0e",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C521F1B2A9\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:54:36 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-49da8f81-0b36-d57a-b20b-91362903746a/test-directory-d49f4072-c195-abf0-eb3e-0d76bd0402d5/test-directory-2030ddb6-e06a-6dd4-b9f5-eb9b8ff01565/test-file-a5691542-f30d-8559-7e74-76917bab0d03?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:54:36 GMT",
        "x-ms-owner": "abd641d9-0b17-617a-8be4-64d3dd113f0e",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C5220175BE\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:54:36 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-49da8f81-0b36-d57a-b20b-91362903746a/test-directory-d49f4072-c195-abf0-eb3e-0d76bd0402d5/test-directory-ba3e53f7-e82c-ef73-fba5-9e914c8910d5/test-directory-be5c72a5-8a42-4c48-7ede-5b1206d06459?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:54:37 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C522C680FD\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:54:37 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "\u003CKeyInfo\u003E\u003CExpiry\u003E2021-02-02T22:54:37Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2021-02-02T21:54:38Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2021-02-02T22:54:37Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-06-12\u003C/SignedVersion\u003E\u003CValue\u003EY9b\u002BguqLlCY7x\u002BQ\u002BmFIJcOotphypLSk4aYJupHjagJg=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-49da8f81-0b36-d57a-b20b-91362903746a/test-directory-d49f4072-c195-abf0-eb3e-0d76bd0402d5?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A54%3A38Z\u0026ske=2021-02-02T22%3A54%3A37Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A54%3A37Z\u0026se=2021-02-02T22%3A54%3A37Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=abd641d9-0b17-617a-8be4-64d3dd113f0e\u0026sig=Sanitized\u0026action=setAccessControlRecursive\u0026mode=set\u0026forceFlag=true\u0026maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBbXif\u002Bc07Xc2iwY/AEY9gEvc2Vhbm5zZQEwMUQ1Nzk5MkM5NzE0OEMyL3Rlc3QtZmlsZXN5c3RlbS00OWRhOGY4MS0wYjM2LWQ1N2EtYjIwYi05MTM2MjkwMzc0NmEBMDFENkY5QURGRjE1NUI0Ri90ZXN0LWRpcmVjdG9yeS1kNDlmNDA3Mi1jMTk1LWFiZjAtZWIzZS0wZDc2YmQwNDAyZDUvdGVzdC1kaXJlY3RvcnktMjAzMGRkYjYtZTA2YS02ZGQ0LWI5ZjUtZWI5YjhmZjAxNTY1L3Rlc3QtZmlsZS02OWIyYjJiMy02ZjVhLWZmZWUtNWEwNS02YTEzMjJiZjBhMDAWAAAA",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-49da8f81-0b36-d57a-b20b-91362903746a/test-directory-d49f4072-c195-abf0-eb3e-0d76bd0402d5?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A54%3A38Z\u0026ske=2021-02-02T22%3A54%3A37Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A54%3A37Z\u0026se=2021-02-02T22%3A54%3A37Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=abd641d9-0b17-61[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-49da8f81-0b36-d57a-b20b-91362903746a/test-directory-d49f4072-c195-abf0-eb3e-0d76bd0402d5?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A54%3A38Z\u0026ske=2021-02-02T22%3A54%3A37Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A54%3A37Z\u0026se=2021-02-02T22%3A54%3A37Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=abd641d9-0b17-61[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-49da8f81-0b36-d57a-b20b-91362903746a/test-directory-d49f4072-c195-abf0-eb3e-0d76bd0402d5?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A54%3A38Z\u0026ske=2021-02-02T22%3A54%3A37Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A54%3A37Z\u0026se=2021-02-02T22%3A54%3A37Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=abd641d9-0b17-61[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-49da8f81-0b36-d57a-b20b-91362903746a/test-directory-d49f4072-c195-abf0-eb3e-0d76bd0402d5?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A54%3A38Z\u0026ske=2021-02-02T22%3A54%3A37Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A54%3A37Z\u0026se=2021-02-02T22%3A54%3A37Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=abd641d9-0b17-61[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-49da8f81-0b36-d57a-b20b-91362903746a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:54:38 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-02T15:54:37.3474641-06:00",
    "RandomSeed": "1358728041",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}