{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-82955622-90cc-40ac-dd01-3dd166180b96?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:06:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D5096BDE8EB3\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:06:11 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-82955622-90cc-40ac-dd01-3dd166180b96/test-directory-50ca664c-c598-becb-4c44-1db5b9ce75fe?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:06:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D5096BEC9475\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:06:11 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-82955622-90cc-40ac-dd01-3dd166180b96/test-directory-50ca664c-c598-becb-4c44-1db5b9ce75fe?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sat, 20 Feb 2021 19:06:12 GMT",
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-date": "Fri, 19 Feb 2021 19:06:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:da847a8e-a01f-0061-04f2-065c1c000000\nTime:2021-02-19T19:06:11.5786164Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-380b0971-6fa6-0273-9207-41540503eccd/test-directory-8f023213-c7cd-e327-2086-30639cf81797?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Feb 2021 19:06:12 GMT",
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-date": "Fri, 19 Feb 2021 19:06:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:da847ad6-a01f-0061-4cf2-065c1c000000\nTime:2021-02-19T19:06:11.8878340Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-48dc1d30-073d-d055-daca-1b3ba168a5ba/test-directory-fff3672a-4846-620c-0d67-994a834c1771?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"garbage\"",
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-date": "Fri, 19 Feb 2021 19:06:12 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:da847b06-a01f-0061-7bf2-065c1c000000\nTime:2021-02-19T19:06:12.2190680Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-a3b9a3a1-0e26-4d4a-526d-14996956515e/test-directory-e32d1e8a-2741-8a85-6d0e-d9261972ed59",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:06:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D8D5096C7F24CB\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:06:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 19:06:12 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-a3b9a3a1-0e26-4d4a-526d-14996956515e/test-directory-e32d1e8a-2741-8a85-6d0e-d9261972ed59?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8D8D5096C7F24CB",
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-date": "Fri, 19 Feb 2021 19:06:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:da847b41-a01f-0061-36f2-065c1c000000\nTime:2021-02-19T19:06:12.6243537Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-ee350c71-62cd-f14f-22a7-bca66bfcddbf/test-directory-5f094b4e-ad9e-cd9f-e25e-375c4a65ab96?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-date": "Fri, 19 Feb 2021 19:06:13 GMT",
        "x-ms-lease-id": "059fcef8-35ae-3fc7-fa57-fd5fde1e5631",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "LeaseNotPresent",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": {
        "error": {
          "code": "LeaseNotPresent",
          "message": "There is currently no lease on the resource.\nRequestId:da847b74-a01f-0061-69f2-065c1c000000\nTime:2021-02-19T19:06:12.9345721Z"
        }
      }
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-ee350c71-62cd-f14f-22a7-bca66bfcddbf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:06:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-19T13:06:12.0947632-06:00",
    "RandomSeed": "1755761147",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n\n\n"
  }
}