{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-20ece95c-e203-996e-ce1d-00c21f61a5c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:43 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39651A5A8E2\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:49:44 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-20ece95c-e203-996e-ce1d-00c21f61a5c7/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:44 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39651A7E1BD\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:49:44 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-20ece95c-e203-996e-ce1d-00c21f61a5c7/test-directory-80110882-a690-bbdf-462e-0442e0f8cbd0?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:44 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39651EB2ED0\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:49:44 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-20ece95c-e203-996e-ce1d-00c21f61a5c7/test-directory-80110882-a690-bbdf-462e-0442e0f8cbd0/test-directory-0e2a6c8c-04fc-5a8c-536e-07ccb0fddcd9?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:44 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39651F907A6\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:49:44 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-20ece95c-e203-996e-ce1d-00c21f61a5c7/test-directory-80110882-a690-bbdf-462e-0442e0f8cbd0/test-directory-0e2a6c8c-04fc-5a8c-536e-07ccb0fddcd9/test-file-484cadcb-7439-ba36-04cc-07af6863b83d?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:44 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3965206BC82\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:49:44 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-20ece95c-e203-996e-ce1d-00c21f61a5c7/test-directory-80110882-a690-bbdf-462e-0442e0f8cbd0?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:45 GMT",
        "x-ms-owner": "3f0f4adc-6dcb-5b20-9a89-d5950a893b22",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39651EB2ED0\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:49:44 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-20ece95c-e203-996e-ce1d-00c21f61a5c7/test-directory-80110882-a690-bbdf-462e-0442e0f8cbd0/test-directory-0e2a6c8c-04fc-5a8c-536e-07ccb0fddcd9?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:45 GMT",
        "x-ms-owner": "3f0f4adc-6dcb-5b20-9a89-d5950a893b22",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39651F907A6\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:49:44 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-20ece95c-e203-996e-ce1d-00c21f61a5c7/test-directory-80110882-a690-bbdf-462e-0442e0f8cbd0/test-directory-0e2a6c8c-04fc-5a8c-536e-07ccb0fddcd9/test-file-484cadcb-7439-ba36-04cc-07af6863b83d?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:45 GMT",
        "x-ms-owner": "3f0f4adc-6dcb-5b20-9a89-d5950a893b22",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3965206BC82\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:49:44 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-20ece95c-e203-996e-ce1d-00c21f61a5c7/test-directory-80110882-a690-bbdf-462e-0442e0f8cbd0/test-directory-3373d509-9b17-c8b3-f47d-3cca5c6e64f7/test-directory-7b4853ee-e266-f65b-7ed8-aaea71ca1980?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:46 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39652BF3BD5\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:49:45 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "\uFEFF\u003CKeyInfo\u003E\u003CExpiry\u003E2021-02-17T23:49:46Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2021-02-17T22:49:46Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2021-02-17T23:49:46Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-06-12\u003C/SignedVersion\u003E\u003CValue\u003Ep6ZZ7NnqSB0VjiQQ6VtzuECvksHfHDbX9DC8qjDD8/o=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-20ece95c-e203-996e-ce1d-00c21f61a5c7/test-directory-80110882-a690-bbdf-462e-0442e0f8cbd0?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A49%3A46Z\u0026ske=2021-02-17T23%3A49%3A46Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A49%3A46Z\u0026se=2021-02-17T23%3A49%3A46Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=3f0f4adc-6dcb-5b[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-20ece95c-e203-996e-ce1d-00c21f61a5c7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:49:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T16:49:46.1517619-06:00",
    "RandomSeed": "2018761075",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}