{
  "Entries": [
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-14fbaf57-373d-43dc-99d8-3d6895087f24?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 03 Jun 2021 19:59:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CA0CB78821\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:59:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehns.dfs.core.windows.net/test-filesystem-14fbaf57-373d-43dc-99d8-3d6895087f24/test-directory-ae6f1d8a-2b9f-2252-1fef-ae504d9cfeba?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 19:59:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CA0CBE228F\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:59:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-14fbaf57-373d-43dc-99d8-3d6895087f24/test-directory-ae6f1d8a-2b9f-2252-1fef-ae504d9cfeba?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "wssnibpdojdmikandyhy",
        "x-ms-blob-content-disposition": "auplhnnsbmrhhpfrxtff",
        "x-ms-blob-content-encoding": "ehxohtbtnqvbbfpbdgft",
        "x-ms-blob-content-language": "nwccqueseiojscurwaem",
        "x-ms-blob-content-md5": "krtAXoCY6W8QP8nDvAF6RA==",
        "x-ms-blob-content-type": "msfjpqgcydoqokqhfvwl",
        "x-ms-date": "Thu, 03 Jun 2021 19:59:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CA0CC380E4\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:59:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-69f737fb-1a99-b923-a3b9-6a9e6f25c144/test-directory-5910eaf7-0dbf-c129-de1f-dbcb41153c48?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 02 Jun 2021 19:59:09 GMT",
        "x-ms-blob-cache-control": "wssnibpdojdmikandyhy",
        "x-ms-blob-content-disposition": "auplhnnsbmrhhpfrxtff",
        "x-ms-blob-content-encoding": "ehxohtbtnqvbbfpbdgft",
        "x-ms-blob-content-language": "nwccqueseiojscurwaem",
        "x-ms-blob-content-md5": "krtAXoCY6W8QP8nDvAF6RA==",
        "x-ms-blob-content-type": "msfjpqgcydoqokqhfvwl",
        "x-ms-date": "Thu, 03 Jun 2021 19:59:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CA0CDBCF6D\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:59:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-8d2de3b1-57ee-40ef-bee2-2fd62d061a6c/test-directory-102f0487-e92a-39cb-0865-7de2e1fb540d?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 04 Jun 2021 19:59:09 GMT",
        "x-ms-blob-cache-control": "wssnibpdojdmikandyhy",
        "x-ms-blob-content-disposition": "auplhnnsbmrhhpfrxtff",
        "x-ms-blob-content-encoding": "ehxohtbtnqvbbfpbdgft",
        "x-ms-blob-content-language": "nwccqueseiojscurwaem",
        "x-ms-blob-content-md5": "krtAXoCY6W8QP8nDvAF6RA==",
        "x-ms-blob-content-type": "msfjpqgcydoqokqhfvwl",
        "x-ms-date": "Thu, 03 Jun 2021 19:59:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CA0CFB5392\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:59:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-6a4edd30-7d3e-9c85-ca73-a3ad39496345/test-directory-a6f49f27-33d7-4d7b-5b22-3bbba1ec72c1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 19:59:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D926CA0D0CA376\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:59:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Jun 2021 19:59:09 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-6a4edd30-7d3e-9c85-ca73-a3ad39496345/test-directory-a6f49f27-33d7-4d7b-5b22-3bbba1ec72c1?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D926CA0D0CA376",
        "x-ms-blob-cache-control": "wssnibpdojdmikandyhy",
        "x-ms-blob-content-disposition": "auplhnnsbmrhhpfrxtff",
        "x-ms-blob-content-encoding": "ehxohtbtnqvbbfpbdgft",
        "x-ms-blob-content-language": "nwccqueseiojscurwaem",
        "x-ms-blob-content-md5": "krtAXoCY6W8QP8nDvAF6RA==",
        "x-ms-blob-content-type": "msfjpqgcydoqokqhfvwl",
        "x-ms-date": "Thu, 03 Jun 2021 19:59:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CA0D17E90D\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:59:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-a6c47af0-4551-103a-aea5-35f321422ab9/test-directory-380836f8-e8d7-bebd-e5e3-1be13e40185a?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-blob-cache-control": "wssnibpdojdmikandyhy",
        "x-ms-blob-content-disposition": "auplhnnsbmrhhpfrxtff",
        "x-ms-blob-content-encoding": "ehxohtbtnqvbbfpbdgft",
        "x-ms-blob-content-language": "nwccqueseiojscurwaem",
        "x-ms-blob-content-md5": "krtAXoCY6W8QP8nDvAF6RA==",
        "x-ms-blob-content-type": "msfjpqgcydoqokqhfvwl",
        "x-ms-date": "Thu, 03 Jun 2021 19:59:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CA0D2F13F2\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:59:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-a9b3efab-4c1a-9a7e-ff6e-a5788621aa9e/test-directory-d8c278bb-bb9b-d386-e077-bd6da2c7b480?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 19:59:10 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "30ce5aaa-7e34-4003-bea6-990de02bd695",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D926CA0D4262D0\u0022",
        "Last-Modified": "Thu, 03 Jun 2021 19:59:09 GMT",
        "x-ms-lease-id": "30ce5aaa-7e34-4003-bea6-990de02bd695",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-a9b3efab-4c1a-9a7e-ff6e-a5788621aa9e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jun 2021 19:59:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-06-03T14:59:09.2529653-05:00",
    "RandomSeed": "610758429",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehns\nU2FuaXRpemVk\nhttps://seanstagehns.blob.core.windows.net\nhttps://seanstagehns.file.core.windows.net\nhttps://seanstagehns.queue.core.windows.net\nhttps://seanstagehns.table.core.windows.net\n\n\n\n\nhttps://seanstagehns-secondary.blob.core.windows.net\nhttps://seanstagehns-secondary.file.core.windows.net\nhttps://seanstagehns-secondary.queue.core.windows.net\nhttps://seanstagehns-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstagehns.blob.core.windows.net/;QueueEndpoint=https://seanstagehns.queue.core.windows.net/;FileEndpoint=https://seanstagehns.file.core.windows.net/;BlobSecondaryEndpoint=https://seanstagehns-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanstagehns-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanstagehns-secondary.file.core.windows.net/;AccountName=seanstagehns;AccountKey=Sanitized\n"
  }
}