{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-b2003183-0111-80b9-3ec5-02a9440841d4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 24 Aug 2021 19:05:32 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96732255E0062\u0022",
        "Last-Modified": "Tue, 24 Aug 2021 19:05:32 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-b2003183-0111-80b9-3ec5-02a9440841d4/test-directory-69b010f1-f59f-e3e2-f2db-a9ec62d50d1e?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Aug 2021 19:05:32 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9673225696DC5\u0022",
        "Last-Modified": "Tue, 24 Aug 2021 19:05:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-b2003183-0111-80b9-3ec5-02a9440841d4/test-directory-69b010f1-f59f-e3e2-f2db-a9ec62d50d1e?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 25 Aug 2021 19:05:32 GMT",
        "x-ms-blob-cache-control": "nkndqnvjmeoskwunlcox",
        "x-ms-blob-content-disposition": "nulfqxgyxndfdqpypgsh",
        "x-ms-blob-content-encoding": "auqbccxtfwyuopcsyhms",
        "x-ms-blob-content-language": "gvlyaipsgvxfihwrdjcn",
        "x-ms-blob-content-md5": "w3j/lRapH\u002B9bj\u002BfuOZjiuw==",
        "x-ms-blob-content-type": "amtaohqmnwahtaaejrat",
        "x-ms-date": "Tue, 24 Aug 2021 19:05:32 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:7f8ba66f-f01e-0060-601b-99313f000000\n",
        "Time:2021-08-24T19:05:32.4068189Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-a04880a3-c010-9c52-0180-d914bb357aff/test-directory-8773d133-d1bb-c9a8-e93b-83476f175c54?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Mon, 23 Aug 2021 19:05:32 GMT",
        "x-ms-blob-cache-control": "nkndqnvjmeoskwunlcox",
        "x-ms-blob-content-disposition": "nulfqxgyxndfdqpypgsh",
        "x-ms-blob-content-encoding": "auqbccxtfwyuopcsyhms",
        "x-ms-blob-content-language": "gvlyaipsgvxfihwrdjcn",
        "x-ms-blob-content-md5": "w3j/lRapH\u002B9bj\u002BfuOZjiuw==",
        "x-ms-blob-content-type": "amtaohqmnwahtaaejrat",
        "x-ms-date": "Tue, 24 Aug 2021 19:05:33 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:7f8ba693-f01e-0060-771b-99313f000000\n",
        "Time:2021-08-24T19:05:32.7486234Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-83d8da51-236b-f35f-2810-9ce45686a0eb/test-directory-18053235-2762-7002-561e-1571e7e0c8d6?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-blob-cache-control": "nkndqnvjmeoskwunlcox",
        "x-ms-blob-content-disposition": "nulfqxgyxndfdqpypgsh",
        "x-ms-blob-content-encoding": "auqbccxtfwyuopcsyhms",
        "x-ms-blob-content-language": "gvlyaipsgvxfihwrdjcn",
        "x-ms-blob-content-md5": "w3j/lRapH\u002B9bj\u002BfuOZjiuw==",
        "x-ms-blob-content-type": "amtaohqmnwahtaaejrat",
        "x-ms-date": "Tue, 24 Aug 2021 19:05:33 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:7f8ba6a3-f01e-0060-021b-99313f000000\n",
        "Time:2021-08-24T19:05:32.9864872Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-8ab4e885-acba-0076-7671-a973ef999212/test-directory-1693cafc-445b-efae-6d9e-0d7e6a0e8c99",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Aug 2021 19:05:33 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9673225ECAD8B\u0022",
        "Last-Modified": "Tue, 24 Aug 2021 19:05:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Aug 2021 19:05:33 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-8ab4e885-acba-0076-7671-a973ef999212/test-directory-1693cafc-445b-efae-6d9e-0d7e6a0e8c99?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8D9673225ECAD8B",
        "x-ms-blob-cache-control": "nkndqnvjmeoskwunlcox",
        "x-ms-blob-content-disposition": "nulfqxgyxndfdqpypgsh",
        "x-ms-blob-content-encoding": "auqbccxtfwyuopcsyhms",
        "x-ms-blob-content-language": "gvlyaipsgvxfihwrdjcn",
        "x-ms-blob-content-md5": "w3j/lRapH\u002B9bj\u002BfuOZjiuw==",
        "x-ms-blob-content-type": "amtaohqmnwahtaaejrat",
        "x-ms-date": "Tue, 24 Aug 2021 19:05:33 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:7f8ba6c7-f01e-0060-211b-99313f000000\n",
        "Time:2021-08-24T19:05:33.3013068Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-a6167f02-e525-cb31-fd12-06edd01c25e9/test-directory-8ed9cdb3-869a-3e5f-fa56-70f996c8f880?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "nkndqnvjmeoskwunlcox",
        "x-ms-blob-content-disposition": "nulfqxgyxndfdqpypgsh",
        "x-ms-blob-content-encoding": "auqbccxtfwyuopcsyhms",
        "x-ms-blob-content-language": "gvlyaipsgvxfihwrdjcn",
        "x-ms-blob-content-md5": "w3j/lRapH\u002B9bj\u002BfuOZjiuw==",
        "x-ms-blob-content-type": "amtaohqmnwahtaaejrat",
        "x-ms-date": "Tue, 24 Aug 2021 19:05:33 GMT",
        "x-ms-lease-id": "fd132fd2-f94e-91fe-cb32-e583bad3e6a1",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:7f8ba6d6-f01e-0060-2e1b-99313f000000\n",
        "Time:2021-08-24T19:05:33.5401705Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-a6167f02-e525-cb31-fd12-06edd01c25e9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Aug 2021 19:05:33 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-08-24T14:05:32.6233046-05:00",
    "RandomSeed": "395850054",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n\nXClient\n"
  }
}