{
  "Entries": [
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-9505d500-07d1-c858-a907-d22493c34d48?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 24 Aug 2021 19:05:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9673222ABA19C\u0022",
        "Last-Modified": "Tue, 24 Aug 2021 19:05:27 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.dfs.core.windows.net/test-filesystem-9505d500-07d1-c858-a907-d22493c34d48/test-directory-12858c9b-54f2-a85a-7a35-ca79ba7d668a?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Aug 2021 19:05:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9673222B92072\u0022",
        "Last-Modified": "Tue, 24 Aug 2021 19:05:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-9505d500-07d1-c858-a907-d22493c34d48/test-directory-12858c9b-54f2-a85a-7a35-ca79ba7d668a?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 25 Aug 2021 19:05:28 GMT",
        "x-ms-blob-cache-control": "ykvubivfnpxtqibafkur",
        "x-ms-blob-content-disposition": "kjbmqehnmishoqnpiqjb",
        "x-ms-blob-content-encoding": "wkoerxvvnroevowoijdv",
        "x-ms-blob-content-language": "bhrewpfyulqnbstytwts",
        "x-ms-blob-content-md5": "8YGVEY2s5HFbo0iGJgykUA==",
        "x-ms-blob-content-type": "ilyutnlysxhymnaorjhc",
        "x-ms-date": "Tue, 24 Aug 2021 19:05:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:7f8ba511-f01e-0060-551b-99313f000000\n",
        "Time:2021-08-24T19:05:27.8774112Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-afd495d3-41ae-fbc1-d4c3-1e870951a0b8/test-directory-5a51e53d-44cc-3337-1359-740db8008099?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Mon, 23 Aug 2021 19:05:28 GMT",
        "x-ms-blob-cache-control": "ykvubivfnpxtqibafkur",
        "x-ms-blob-content-disposition": "kjbmqehnmishoqnpiqjb",
        "x-ms-blob-content-encoding": "wkoerxvvnroevowoijdv",
        "x-ms-blob-content-language": "bhrewpfyulqnbstytwts",
        "x-ms-blob-content-md5": "8YGVEY2s5HFbo0iGJgykUA==",
        "x-ms-blob-content-type": "ilyutnlysxhymnaorjhc",
        "x-ms-date": "Tue, 24 Aug 2021 19:05:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:7f8ba52f-f01e-0060-671b-99313f000000\n",
        "Time:2021-08-24T19:05:28.1492557Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-35c3b5b9-6dad-6bd5-501d-8ff95f8e8f95/test-directory-03701274-9514-24ed-e063-9c62ffc68890?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-blob-cache-control": "ykvubivfnpxtqibafkur",
        "x-ms-blob-content-disposition": "kjbmqehnmishoqnpiqjb",
        "x-ms-blob-content-encoding": "wkoerxvvnroevowoijdv",
        "x-ms-blob-content-language": "bhrewpfyulqnbstytwts",
        "x-ms-blob-content-md5": "8YGVEY2s5HFbo0iGJgykUA==",
        "x-ms-blob-content-type": "ilyutnlysxhymnaorjhc",
        "x-ms-date": "Tue, 24 Aug 2021 19:05:29 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:7f8ba560-f01e-0060-101b-99313f000000\n",
        "Time:2021-08-24T19:05:28.7329214Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-858d3319-e33c-6ebd-5131-894339f8b6d7/test-directory-cf59f60b-f478-7c70-cb37-04146633e55b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Aug 2021 19:05:29 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9673223694ECC\u0022",
        "Last-Modified": "Tue, 24 Aug 2021 19:05:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Aug 2021 19:05:28 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-858d3319-e33c-6ebd-5131-894339f8b6d7/test-directory-cf59f60b-f478-7c70-cb37-04146633e55b?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8D9673223694ECC",
        "x-ms-blob-cache-control": "ykvubivfnpxtqibafkur",
        "x-ms-blob-content-disposition": "kjbmqehnmishoqnpiqjb",
        "x-ms-blob-content-encoding": "wkoerxvvnroevowoijdv",
        "x-ms-blob-content-language": "bhrewpfyulqnbstytwts",
        "x-ms-blob-content-md5": "8YGVEY2s5HFbo0iGJgykUA==",
        "x-ms-blob-content-type": "ilyutnlysxhymnaorjhc",
        "x-ms-date": "Tue, 24 Aug 2021 19:05:29 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:7f8ba570-f01e-0060-1d1b-99313f000000\n",
        "Time:2021-08-24T19:05:29.0837214Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-22dc0dda-7e70-f1ce-b525-e5be36d21145/test-directory-ce3bd0e4-406b-47cb-970d-ca87aeaa24b3?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "ykvubivfnpxtqibafkur",
        "x-ms-blob-content-disposition": "kjbmqehnmishoqnpiqjb",
        "x-ms-blob-content-encoding": "wkoerxvvnroevowoijdv",
        "x-ms-blob-content-language": "bhrewpfyulqnbstytwts",
        "x-ms-blob-content-md5": "8YGVEY2s5HFbo0iGJgykUA==",
        "x-ms-blob-content-type": "ilyutnlysxhymnaorjhc",
        "x-ms-date": "Tue, 24 Aug 2021 19:05:29 GMT",
        "x-ms-lease-id": "9b086479-7f48-9b01-d6e8-d53db2cd795d",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:7f8ba588-f01e-0060-311b-99313f000000\n",
        "Time:2021-08-24T19:05:29.3945429Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seannsecanary.blob.core.windows.net/test-filesystem-22dc0dda-7e70-f1ce-b525-e5be36d21145?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Aug 2021 19:05:29 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-08-24T14:05:28.0930757-05:00",
    "RandomSeed": "814295291",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttps://seannsecanary.blob.core.windows.net\nhttps://seannsecanary.file.core.windows.net\nhttps://seannsecanary.queue.core.windows.net\nhttps://seannsecanary.table.core.windows.net\n\n\n\n\nhttps://seannsecanary-secondary.blob.core.windows.net\nhttps://seannsecanary-secondary.file.core.windows.net\nhttps://seannsecanary-secondary.queue.core.windows.net\nhttps://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannsecanary.blob.core.windows.net/;QueueEndpoint=https://seannsecanary.queue.core.windows.net/;FileEndpoint=https://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n\nXClient\n"
  }
}