{
  "Entries": [
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-067872d1-f97e-b8ce-52dc-a9b65b9194a0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 03 Apr 2020 20:55:52 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D81164CCB5B0\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:55:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.dfs.core.windows.net/test-filesystem-067872d1-f97e-b8ce-52dc-a9b65b9194a0/test-directory-4aad9842-c994-da7e-ed5e-0f76ac43310a?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 20:55:52 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D81164DB1561\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:55:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-067872d1-f97e-b8ce-52dc-a9b65b9194a0/test-directory-4aad9842-c994-da7e-ed5e-0f76ac43310a?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "msxgmmbnytnninsafafs",
        "x-ms-blob-content-disposition": "wexawxxkatllvsqimamf",
        "x-ms-blob-content-encoding": "oemqbeluyrhctneiuxio",
        "x-ms-blob-content-language": "npmehcqowkmemaerrhxs",
        "x-ms-blob-content-md5": "J6SZMIYl6M9Bj1o8VTWnKA==",
        "x-ms-blob-content-type": "mdlhmirioinoqxqxqiiy",
        "x-ms-date": "Fri, 03 Apr 2020 20:55:52 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D81164E7D954\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:55:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-c00a9832-5c82-5abf-6b65-aa72c26f16a8/test-directory-e1c8f380-aef3-c387-b171-f8e35b9c6d0e?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 02 Apr 2020 20:55:52 GMT",
        "x-ms-blob-cache-control": "msxgmmbnytnninsafafs",
        "x-ms-blob-content-disposition": "wexawxxkatllvsqimamf",
        "x-ms-blob-content-encoding": "oemqbeluyrhctneiuxio",
        "x-ms-blob-content-language": "npmehcqowkmemaerrhxs",
        "x-ms-blob-content-md5": "J6SZMIYl6M9Bj1o8VTWnKA==",
        "x-ms-blob-content-type": "mdlhmirioinoqxqxqiiy",
        "x-ms-date": "Fri, 03 Apr 2020 20:55:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D811651E6059\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:55:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-694c2259-7cf4-9a45-4133-753363d01ae6/test-directory-0afb8547-c4f5-8216-2514-425a1dd85c30?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 04 Apr 2020 20:55:52 GMT",
        "x-ms-blob-cache-control": "msxgmmbnytnninsafafs",
        "x-ms-blob-content-disposition": "wexawxxkatllvsqimamf",
        "x-ms-blob-content-encoding": "oemqbeluyrhctneiuxio",
        "x-ms-blob-content-language": "npmehcqowkmemaerrhxs",
        "x-ms-blob-content-md5": "J6SZMIYl6M9Bj1o8VTWnKA==",
        "x-ms-blob-content-type": "mdlhmirioinoqxqxqiiy",
        "x-ms-date": "Fri, 03 Apr 2020 20:55:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D81165563A66\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:55:52 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-bd0b03a7-0cba-31e1-ef88-7aed70e52649/test-directory-d407c613-26f8-1a72-4a7c-5e522272f4fc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 20:55:54 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D8116584D93D\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:55:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 03 Apr 2020 20:55:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-bd0b03a7-0cba-31e1-ef88-7aed70e52649/test-directory-d407c613-26f8-1a72-4a7c-5e522272f4fc?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7D8116584D93D\u0022",
        "x-ms-blob-cache-control": "msxgmmbnytnninsafafs",
        "x-ms-blob-content-disposition": "wexawxxkatllvsqimamf",
        "x-ms-blob-content-encoding": "oemqbeluyrhctneiuxio",
        "x-ms-blob-content-language": "npmehcqowkmemaerrhxs",
        "x-ms-blob-content-md5": "J6SZMIYl6M9Bj1o8VTWnKA==",
        "x-ms-blob-content-type": "mdlhmirioinoqxqxqiiy",
        "x-ms-date": "Fri, 03 Apr 2020 20:55:54 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D811659D6054\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:55:52 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-a2f2bcb6-d554-fda1-d388-3e262adb4382/test-directory-a521e6a8-538a-134a-140d-cbae70733640?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-blob-cache-control": "msxgmmbnytnninsafafs",
        "x-ms-blob-content-disposition": "wexawxxkatllvsqimamf",
        "x-ms-blob-content-encoding": "oemqbeluyrhctneiuxio",
        "x-ms-blob-content-language": "npmehcqowkmemaerrhxs",
        "x-ms-blob-content-md5": "J6SZMIYl6M9Bj1o8VTWnKA==",
        "x-ms-blob-content-type": "mdlhmirioinoqxqxqiiy",
        "x-ms-date": "Fri, 03 Apr 2020 20:55:54 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D81165D6A578\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:55:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-a35aa532-a08a-ccd6-29cb-2674125a5bfc/test-directory-cdb7cc6c-08bd-dc85-27f4-5794c2de6904?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 20:55:54 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "c47b48f9-cfe5-052f-96fe-95cf2ef4d499",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D81166001643\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:55:53 GMT",
        "x-ms-lease-id": "c47b48f9-cfe5-052f-96fe-95cf2ef4d499",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-a35aa532-a08a-ccd6-29cb-2674125a5bfc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 20:55:55 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-03T13:55:52.7789164-07:00",
    "RandomSeed": "676383089",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttp://seannsecanary.blob.core.windows.net\nhttp://seannsecanary.file.core.windows.net\nhttp://seannsecanary.queue.core.windows.net\nhttp://seannsecanary.table.core.windows.net\n\n\n\n\nhttp://seannsecanary-secondary.blob.core.windows.net\nhttp://seannsecanary-secondary.file.core.windows.net\nhttp://seannsecanary-secondary.queue.core.windows.net\nhttp://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seannsecanary.blob.core.windows.net/;QueueEndpoint=http://seannsecanary.queue.core.windows.net/;FileEndpoint=http://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=http://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}