{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-61303f36-ddc6-344c-9530-b44ce462eb9d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:50:42 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39674A73DB7\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:50:42 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-61303f36-ddc6-344c-9530-b44ce462eb9d/test-directory-31438525-5fc2-e569-8529-bbf5a0134552?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "ihwsxpyancmdpatsxbox",
        "x-ms-blob-content-disposition": "ntcddhraxkwhwdosdiqb",
        "x-ms-blob-content-encoding": "apuxecdmkgrndggnftop",
        "x-ms-blob-content-language": "wxccfefmkapojnxwydxb",
        "x-ms-blob-content-md5": "5ZJTI2wc2/gR1LtATiU9FQ==",
        "x-ms-blob-content-type": "efoqsidqwamjtadbnrsy",
        "x-ms-date": "Wed, 17 Feb 2021 22:50:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobNotFound"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified blob does not exist.\n",
        "RequestId:3d170a3f-101e-004b-327f-05830c000000\n",
        "Time:2021-02-17T22:50:42.9778530Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-61303f36-ddc6-344c-9530-b44ce462eb9d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:50:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T16:50:42.5850920-06:00",
    "RandomSeed": "725016358",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}