{
  "Entries": [
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-390e4841-1899-70a0-905e-14526d0a9e51?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 22:13:58 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C15280FCFFBB\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:13:59 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.dfs.core.windows.net/test-filesystem-390e4841-1899-70a0-905e-14526d0a9e51/test-directory-3f6a86a9-4cab-d73f-4fc7-a87fbfafa0ed?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:13:59 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C152812DF247\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:13:59 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-390e4841-1899-70a0-905e-14526d0a9e51/test-directory-3f6a86a9-4cab-d73f-4fc7-a87fbfafa0ed?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 06 Mar 2020 22:13:58 GMT",
        "x-ms-blob-cache-control": "jvcatbfjttaxaabhmuwu",
        "x-ms-blob-content-disposition": "qphqbqpglxixexlqwogx",
        "x-ms-blob-content-encoding": "qfeifltwswqedepsnlyd",
        "x-ms-blob-content-language": "lywukbscnkjwnxeklyko",
        "x-ms-blob-content-md5": "Qdm\u002BIpRVQMHP4NfDWAMYjQ==",
        "x-ms-blob-content-type": "wrnnheuyhrclpdmriiwe",
        "x-ms-date": "Thu, 05 Mar 2020 22:13:59 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:c8d80617-701e-000c-3b3b-f30533000000\n",
        "Time:2020-03-05T22:13:59.8247443Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-7466152c-fbc5-13c5-7c9b-534d10d24223/test-directory-f0cae0fe-7250-dde9-5bd5-3ab4e9920b4c?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 04 Mar 2020 22:13:58 GMT",
        "x-ms-blob-cache-control": "jvcatbfjttaxaabhmuwu",
        "x-ms-blob-content-disposition": "qphqbqpglxixexlqwogx",
        "x-ms-blob-content-encoding": "qfeifltwswqedepsnlyd",
        "x-ms-blob-content-language": "lywukbscnkjwnxeklyko",
        "x-ms-blob-content-md5": "Qdm\u002BIpRVQMHP4NfDWAMYjQ==",
        "x-ms-blob-content-type": "wrnnheuyhrclpdmriiwe",
        "x-ms-date": "Thu, 05 Mar 2020 22:14:00 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:9d526a7e-c01e-0044-2c3b-f31804000000\n",
        "Time:2020-03-05T22:14:00.7361960Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-3cd9ef7f-1125-8d60-2314-35ef876b08fa/test-directory-cf1c5f5a-5fc6-8564-9772-260b612c8801?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-blob-cache-control": "jvcatbfjttaxaabhmuwu",
        "x-ms-blob-content-disposition": "qphqbqpglxixexlqwogx",
        "x-ms-blob-content-encoding": "qfeifltwswqedepsnlyd",
        "x-ms-blob-content-language": "lywukbscnkjwnxeklyko",
        "x-ms-blob-content-md5": "Qdm\u002BIpRVQMHP4NfDWAMYjQ==",
        "x-ms-blob-content-type": "wrnnheuyhrclpdmriiwe",
        "x-ms-date": "Thu, 05 Mar 2020 22:14:01 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:50f74695-701e-0041-1c3b-f3cadf000000\n",
        "Time:2020-03-05T22:14:01.5662431Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-7d340dc4-7403-224c-1ed2-d23b021f7bf4/test-directory-7c7923d4-7ef9-e310-a82a-f4c261441795",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:14:02 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C15282D6E87D\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 22:14:02 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 22:14:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-7d340dc4-7403-224c-1ed2-d23b021f7bf4/test-directory-7c7923d4-7ef9-e310-a82a-f4c261441795?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D7C15282D6E87D\u0022",
        "x-ms-blob-cache-control": "jvcatbfjttaxaabhmuwu",
        "x-ms-blob-content-disposition": "qphqbqpglxixexlqwogx",
        "x-ms-blob-content-encoding": "qfeifltwswqedepsnlyd",
        "x-ms-blob-content-language": "lywukbscnkjwnxeklyko",
        "x-ms-blob-content-md5": "Qdm\u002BIpRVQMHP4NfDWAMYjQ==",
        "x-ms-blob-content-type": "wrnnheuyhrclpdmriiwe",
        "x-ms-date": "Thu, 05 Mar 2020 22:14:02 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:45e4e448-501e-001b-093b-f3ac38000000\n",
        "Time:2020-03-05T22:14:02.7441415Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-feb98a99-ca2c-04ae-e42f-02d3869c01be/test-directory-0a929cd3-f2ba-4626-65cd-26f247089b28?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "jvcatbfjttaxaabhmuwu",
        "x-ms-blob-content-disposition": "qphqbqpglxixexlqwogx",
        "x-ms-blob-content-encoding": "qfeifltwswqedepsnlyd",
        "x-ms-blob-content-language": "lywukbscnkjwnxeklyko",
        "x-ms-blob-content-md5": "Qdm\u002BIpRVQMHP4NfDWAMYjQ==",
        "x-ms-blob-content-type": "wrnnheuyhrclpdmriiwe",
        "x-ms-date": "Thu, 05 Mar 2020 22:14:03 GMT",
        "x-ms-lease-id": "88bd0b05-b241-ea44-d548-d70a105100a0",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the blob.\n",
        "RequestId:81609e7c-d01e-002a-3b3b-f34d2b000000\n",
        "Time:2020-03-05T22:14:03.5869833Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/test-filesystem-feb98a99-ca2c-04ae-e42f-02d3869c01be?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 22:14:03 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T14:13:58.9526118-08:00",
    "RandomSeed": "1633018777",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehierarchical\nU2FuaXRpemVk\nhttps://seanstagehierarchical.blob.core.windows.net\nhttp://seanstagehierarchical.file.core.windows.net\nhttp://seanstagehierarchical.queue.core.windows.net\nhttp://seanstagehierarchical.table.core.windows.net\n\n\n\n\nhttp://seanstagehierarchical-secondary.blob.core.windows.net\nhttp://seanstagehierarchical-secondary.file.core.windows.net\nhttp://seanstagehierarchical-secondary.queue.core.windows.net\nhttp://seanstagehierarchical-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstagehierarchical.blob.core.windows.net/;QueueEndpoint=http://seanstagehierarchical.queue.core.windows.net/;FileEndpoint=http://seanstagehierarchical.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagehierarchical-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagehierarchical-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagehierarchical-secondary.file.core.windows.net/;AccountName=seanstagehierarchical;AccountKey=Sanitized\n"
  }
}