{
  "Entries": [
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-be027542-0964-44c8-a46e-03c38fa7fefb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 26 Apr 2021 22:42:32 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9090494B2EE69\u0022",
        "Last-Modified": "Mon, 26 Apr 2021 22:42:32 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.dfs.core.windows.net/test-filesystem-be027542-0964-44c8-a46e-03c38fa7fefb/test-directory-906760d4-57f3-6e0e-82a5-52b013cafb2b?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 26 Apr 2021 22:42:33 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9090494F1AFAB\u0022",
        "Last-Modified": "Mon, 26 Apr 2021 22:42:33 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-be027542-0964-44c8-a46e-03c38fa7fefb/test-directory-906760d4-57f3-6e0e-82a5-52b013cafb2b?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "ljvgyveqkxflxccovjxe",
        "x-ms-blob-content-disposition": "llhklsfjsysjsdvgyylx",
        "x-ms-blob-content-encoding": "vdtwcdbyxmyrqeqybktf",
        "x-ms-blob-content-language": "quxlevrufvpvwyhhrjii",
        "x-ms-blob-content-md5": "toPpP6LgnHN8YWYmWMhgjA==",
        "x-ms-blob-content-type": "rfkgybsolweoefhbfhrf",
        "x-ms-date": "Mon, 26 Apr 2021 22:42:33 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D909049506AC45\u0022",
        "Last-Modified": "Mon, 26 Apr 2021 22:42:33 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-be027542-0964-44c8-a46e-03c38fa7fefb/test-directory-906760d4-57f3-6e0e-82a5-52b013cafb2b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 26 Apr 2021 22:42:33 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "llhklsfjsysjsdvgyylx",
        "Content-Language": "quxlevrufvpvwyhhrjii",
        "Content-MD5": "toPpP6LgnHN8YWYmWMhgjA==",
        "Content-Type": "rfkgybsolweoefhbfhrf",
        "ETag": "\u00220x8D909049506AC45\u0022",
        "Last-Modified": "Mon, 26 Apr 2021 22:42:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 26 Apr 2021 22:42:33 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://kasobolhnscanada.blob.core.windows.net/test-filesystem-be027542-0964-44c8-a46e-03c38fa7fefb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 26 Apr 2021 22:42:33 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-04-26T15:42:32.0822973-07:00",
    "RandomSeed": "854763909",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nkasobolhnscanada\nU2FuaXRpemVk\nhttp://kasobolhnscanada.blob.core.windows.net\nhttp://kasobolhnscanada.file.core.windows.net\nhttp://kasobolhnscanada.queue.core.windows.net\nhttp://kasobolhnscanada.table.core.windows.net\n\n\n\n\nhttp://kasobolhnscanada-secondary.blob.core.windows.net\nhttp://kasobolhnscanada-secondary.file.core.windows.net\nhttp://kasobolhnscanada-secondary.queue.core.windows.net\nhttp://kasobolhnscanada-secondary.table.core.windows.net\nc6b5fe1a-9b59-4975-92c4-d9f728c3c371\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://kasobolhnscanada.blob.core.windows.net/;QueueEndpoint=http://kasobolhnscanada.queue.core.windows.net/;FileEndpoint=http://kasobolhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolhnscanada-secondary.file.core.windows.net/;AccountName=kasobolhnscanada;AccountKey=Sanitized\n"
  }
}