{
  "Entries": [
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-74fd025f-3906-d236-b349-45385877dbd8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 03 Apr 2020 20:58:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D811B81119E0\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:58:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.dfs.core.windows.net/test-filesystem-74fd025f-3906-d236-b349-45385877dbd8/test-directory-fcbd81aa-7920-dd1b-c3a6-a1f5d04b4483?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 20:58:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D811B82004A3\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:58:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.dfs.core.windows.net/test-filesystem-74fd025f-3906-d236-b349-45385877dbd8/test-directory-fcbd81aa-7920-dd1b-c3a6-a1f5d04b4483?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 20:58:12 GMT",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D811B82004A3\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:58:11 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.dfs.core.windows.net/test-filesystem-924ad193-9299-f79d-5a9e-2378c713b3bb/test-directory-5130108b-62a0-e9fb-7e5b-c00032d30027?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 02 Apr 2020 20:58:12 GMT",
        "x-ms-date": "Fri, 03 Apr 2020 20:58:13 GMT",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D811B85B7DBD\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:58:11 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.dfs.core.windows.net/test-filesystem-40186121-febd-7869-3934-0b79dfbbfdb4/test-directory-a7d5973a-4284-3e8a-a621-226b7185ec7d?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 04 Apr 2020 20:58:12 GMT",
        "x-ms-date": "Fri, 03 Apr 2020 20:58:13 GMT",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D811B8913067\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:58:11 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-cac7a327-13c0-4afb-dcbc-5bb8fe18f778/test-directory-16313528-38da-1bf2-7ca3-3bcdb4519623",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 20:58:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D811B8CA7053\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:58:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 03 Apr 2020 20:58:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seannsecanary.dfs.core.windows.net/test-filesystem-cac7a327-13c0-4afb-dcbc-5bb8fe18f778/test-directory-16313528-38da-1bf2-7ca3-3bcdb4519623?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7D811B8CA7053\u0022",
        "x-ms-date": "Fri, 03 Apr 2020 20:58:13 GMT",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D811B8CA7053\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:58:12 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.dfs.core.windows.net/test-filesystem-0f609d1b-80e9-ef95-3d08-842f3fe4d8e0/test-directory-218e07d5-7078-b49d-5809-f8966eb2f1af?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 03 Apr 2020 20:58:14 GMT",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D811B90E28AD\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:58:12 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-aab1080a-cd77-742e-02d6-906c816ae40f/test-directory-da80116d-8f59-da00-ad49-6e9fefe5b2e0?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 20:58:14 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "66219fce-0494-3a39-ea24-b08b4e3d2b7f",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D811B94517A1\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 20:58:13 GMT",
        "x-ms-lease-id": "66219fce-0494-3a39-ea24-b08b4e3d2b7f",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seannsecanary.blob.core.windows.net/test-filesystem-aab1080a-cd77-742e-02d6-906c816ae40f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 20:58:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-03T13:58:12.4781888-07:00",
    "RandomSeed": "1837462829",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannsecanary\nU2FuaXRpemVk\nhttp://seannsecanary.blob.core.windows.net\nhttp://seannsecanary.file.core.windows.net\nhttp://seannsecanary.queue.core.windows.net\nhttp://seannsecanary.table.core.windows.net\n\n\n\n\nhttp://seannsecanary-secondary.blob.core.windows.net\nhttp://seannsecanary-secondary.file.core.windows.net\nhttp://seannsecanary-secondary.queue.core.windows.net\nhttp://seannsecanary-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://seannsecanary.blob.core.windows.net/;QueueEndpoint=http://seannsecanary.queue.core.windows.net/;FileEndpoint=http://seannsecanary.file.core.windows.net/;BlobSecondaryEndpoint=http://seannsecanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seannsecanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seannsecanary-secondary.file.core.windows.net/;AccountName=seannsecanary;AccountKey=Sanitized\n"
  }
}