{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-78386676-9b58-6bff-e0a5-f9e282255b22?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:48:11 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C43CDC707B\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:48:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-78386676-9b58-6bff-e0a5-f9e282255b22/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Tue, 02 Feb 2021 21:48:11 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C43CDE9EF5\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:48:12 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-78386676-9b58-6bff-e0a5-f9e282255b22/test-directory-07defa0c-71bd-d143-d2b6-f673bc7a7d5d?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:48:11 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C43D203D46\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:48:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-78386676-9b58-6bff-e0a5-f9e282255b22/test-directory-07defa0c-71bd-d143-d2b6-f673bc7a7d5d/test-directory-fc6841af-9fa7-7b8b-2e5d-bd73115bffa1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:48:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C43D3AE010\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:48:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-78386676-9b58-6bff-e0a5-f9e282255b22/test-directory-07defa0c-71bd-d143-d2b6-f673bc7a7d5d/test-directory-fc6841af-9fa7-7b8b-2e5d-bd73115bffa1/test-file-40e8a4ee-9114-f041-593a-d35a277f27ea?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:48:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C43D486E10\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:48:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-78386676-9b58-6bff-e0a5-f9e282255b22/test-directory-07defa0c-71bd-d143-d2b6-f673bc7a7d5d?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:48:12 GMT",
        "x-ms-owner": "7390c331-f114-b932-0f33-e3cd3b1d1b65",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C43D2D3BE0\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:48:12 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-78386676-9b58-6bff-e0a5-f9e282255b22/test-directory-07defa0c-71bd-d143-d2b6-f673bc7a7d5d/test-directory-fc6841af-9fa7-7b8b-2e5d-bd73115bffa1?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:48:12 GMT",
        "x-ms-owner": "7390c331-f114-b932-0f33-e3cd3b1d1b65",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C43D3AE010\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:48:12 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-78386676-9b58-6bff-e0a5-f9e282255b22/test-directory-07defa0c-71bd-d143-d2b6-f673bc7a7d5d/test-directory-fc6841af-9fa7-7b8b-2e5d-bd73115bffa1/test-file-40e8a4ee-9114-f041-593a-d35a277f27ea?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:48:12 GMT",
        "x-ms-owner": "7390c331-f114-b932-0f33-e3cd3b1d1b65",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C43D486E10\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:48:12 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-78386676-9b58-6bff-e0a5-f9e282255b22/test-directory-07defa0c-71bd-d143-d2b6-f673bc7a7d5d/test-directory-17760288-b5e7-4306-ea86-59bdd410cb0e/test-directory-082667ce-484f-f7ad-de8f-584dc1b61539?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:48:13 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C43E062D15\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:48:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "\u003CKeyInfo\u003E\u003CExpiry\u003E2021-02-02T22:48:13Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2021-02-02T21:48:14Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2021-02-02T22:48:13Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-06-12\u003C/SignedVersion\u003E\u003CValue\u003EW2edb7kwUd3\u002BgLA6qEK0fccDjdmnpbDsygUAiD2l8E0=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-78386676-9b58-6bff-e0a5-f9e282255b22/test-directory-07defa0c-71bd-d143-d2b6-f673bc7a7d5d?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A48%3A14Z\u0026ske=2021-02-02T22%3A48%3A13Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A48%3A13Z\u0026se=2021-02-02T22%3A48%3A13Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=7390c331-f114-b932-0f33-e3cd3b1d1b65\u0026sig=Sanitized\u0026action=setAccessControlRecursive\u0026mode=modify\u0026forceFlag=true\u0026maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBbjluTJvdnuyfIBGIECGPsBL3NlYW5uc2UBMDFENTc5OTJDOTcxNDhDMi90ZXN0LWZpbGVzeXN0ZW0tNzgzODY2NzYtOWI1OC02YmZmLWUwYTUtZjllMjgyMjU1YjIyATAxRDZGOUFEMUE2NUJCRUUvdGVzdC1kaXJlY3RvcnktMDdkZWZhMGMtNzFiZC1kMTQzLWQyYjYtZjY3M2JjN2E3ZDVkL3Rlc3QtZGlyZWN0b3J5LTE3NzYwMjg4LWI1ZTctNDMwNi1lYTg2LTU5YmRkNDEwY2IwZS90ZXN0LWRpcmVjdG9yeS0wODI2NjdjZS00ODRmLWY3YWQtZGU4Zi01ODRkYzFiNjE1MzkWAAAA",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-78386676-9b58-6bff-e0a5-f9e282255b22/test-directory-07defa0c-71bd-d143-d2b6-f673bc7a7d5d?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A48%3A14Z\u0026ske=2021-02-02T22%3A48%3A13Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A48%3A13Z\u0026se=2021-02-02T22%3A48%3A13Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=7390c331-f114-b9[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-78386676-9b58-6bff-e0a5-f9e282255b22/test-directory-07defa0c-71bd-d143-d2b6-f673bc7a7d5d?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A48%3A14Z\u0026ske=2021-02-02T22%3A48%3A13Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A48%3A13Z\u0026se=2021-02-02T22%3A48%3A13Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=7390c331-f114-b9[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-78386676-9b58-6bff-e0a5-f9e282255b22/test-directory-07defa0c-71bd-d143-d2b6-f673bc7a7d5d?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A48%3A14Z\u0026ske=2021-02-02T22%3A48%3A13Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A48%3A13Z\u0026se=2021-02-02T22%3A48%3A13Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=7390c331-f114-b9[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-78386676-9b58-6bff-e0a5-f9e282255b22/test-directory-07defa0c-71bd-d143-d2b6-f673bc7a7d5d?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A48%3A14Z\u0026ske=2021-02-02T22%3A48%3A13Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A48%3A13Z\u0026se=2021-02-02T22%3A48%3A13Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=7390c331-f114-b932-0f33-e3cd3b1d1b65\u0026sig=Sanitized\u0026action=setAccessControlRecursive\u0026continuation=VBby%2F7OVquLR5RUY%2FAEY9gEvc2Vhbm5zZQEwMUQ1Nzk5MkM5NzE0OEMyL3Rlc3QtZmlsZXN5c3RlbS03ODM4NjY3Ni05YjU4LTZiZmYtZTBhNS1mOWUyODIyNTViMjIBMDFENkY5QUQxQTY1QkJFRS90ZXN0LWRpcmVjdG9yeS0wN2RlZmEwYy03MWJkLWQxNDMtZDJiNi1mNjczYmM3YTdkNWQvdGVzdC1kaXJlY3RvcnktZmM2ODQxYWYtOWZhNy03YjhiLTJlNWQtYmQ3MzExNWJmZmExL3Rlc3QtZmlsZS0yODE2NzhiYS00OGQ2LWFiM2UtYTQ4Mi02ZjIzZGEzYTk1NjAWAAAA\u0026mode=modify\u0026forceFlag=true\u0026maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjAsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6Mn0K"
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-78386676-9b58-6bff-e0a5-f9e282255b22?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:48:15 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-02T15:48:13.5557292-06:00",
    "RandomSeed": "1898854699",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}