{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-56036deb-04a6-164c-0398-62c1ffee217d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:56:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C55545AB78\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:56:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-56036deb-04a6-164c-0398-62c1ffee217d/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Tue, 02 Feb 2021 21:56:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C5554841B5\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:56:02 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-56036deb-04a6-164c-0398-62c1ffee217d/test-directory-93f8daff-a1df-bdf5-6f26-971eff501386?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:56:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C5558B2C3E\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:56:03 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-56036deb-04a6-164c-0398-62c1ffee217d/test-directory-93f8daff-a1df-bdf5-6f26-971eff501386/test-directory-ee59fd49-d7f3-7da0-d1ba-81e31bd7c39b?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:56:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C555A8B97F\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:56:03 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-56036deb-04a6-164c-0398-62c1ffee217d/test-directory-93f8daff-a1df-bdf5-6f26-971eff501386/test-directory-ee59fd49-d7f3-7da0-d1ba-81e31bd7c39b/test-file-caaa6f4f-9f3c-2ad1-e5e9-2aab3dfc9ca8?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:56:02 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C555B6B436\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:56:03 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-56036deb-04a6-164c-0398-62c1ffee217d/test-directory-93f8daff-a1df-bdf5-6f26-971eff501386?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:56:03 GMT",
        "x-ms-owner": "d542397e-cfe5-33e2-466f-f2a6717f2ff2",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C555994558\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:56:03 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-56036deb-04a6-164c-0398-62c1ffee217d/test-directory-93f8daff-a1df-bdf5-6f26-971eff501386/test-directory-ee59fd49-d7f3-7da0-d1ba-81e31bd7c39b?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:56:03 GMT",
        "x-ms-owner": "d542397e-cfe5-33e2-466f-f2a6717f2ff2",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C555A8B97F\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:56:03 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-56036deb-04a6-164c-0398-62c1ffee217d/test-directory-93f8daff-a1df-bdf5-6f26-971eff501386/test-directory-ee59fd49-d7f3-7da0-d1ba-81e31bd7c39b/test-file-caaa6f4f-9f3c-2ad1-e5e9-2aab3dfc9ca8?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:56:03 GMT",
        "x-ms-owner": "d542397e-cfe5-33e2-466f-f2a6717f2ff2",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C555B6B436\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:56:03 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-56036deb-04a6-164c-0398-62c1ffee217d/test-directory-93f8daff-a1df-bdf5-6f26-971eff501386/test-directory-9cd61bb1-3526-6ff9-e857-19dfca05571c/test-directory-42c0fe93-30da-5ceb-13cc-77be17214414?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:56:03 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C5566F9C61\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:56:04 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "\u003CKeyInfo\u003E\u003CExpiry\u003E2021-02-02T22:56:04Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2021-02-02T21:56:05Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2021-02-02T22:56:04Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-06-12\u003C/SignedVersion\u003E\u003CValue\u003EzaBDM6cV\u002BF2gyExXWl8BDBaY7WBTpe99wp9cRjFIlbo=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-56036deb-04a6-164c-0398-62c1ffee217d/test-directory-93f8daff-a1df-bdf5-6f26-971eff501386?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A56%3A05Z\u0026ske=2021-02-02T22%3A56%3A04Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A56%3A04Z\u0026se=2021-02-02T22%3A56%3A04Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=d542397e-cfe5-33e2-466f-f2a6717f2ff2\u0026sig=Sanitized\u0026action=setAccessControlRecursive\u0026mode=modify\u0026forceFlag=true\u0026maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBbb36PBhJCngk0YgQIY\u002BwEvc2Vhbm5zZQEwMUQ1Nzk5MkM5NzE0OEMyL3Rlc3QtZmlsZXN5c3RlbS01NjAzNmRlYi0wNGE2LTE2NGMtMDM5OC02MmMxZmZlZTIxN2QBMDFENkY5QUUzMkNGMTRGRC90ZXN0LWRpcmVjdG9yeS05M2Y4ZGFmZi1hMWRmLWJkZjUtNmYyNi05NzFlZmY1MDEzODYvdGVzdC1kaXJlY3RvcnktOWNkNjFiYjEtMzUyNi02ZmY5LWU4NTctMTlkZmNhMDU1NzFjL3Rlc3QtZGlyZWN0b3J5LTQyYzBmZTkzLTMwZGEtNWNlYi0xM2NjLTc3YmUxNzIxNDQxNBYAAAA=",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-56036deb-04a6-164c-0398-62c1ffee217d/test-directory-93f8daff-a1df-bdf5-6f26-971eff501386?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A56%3A05Z\u0026ske=2021-02-02T22%3A56%3A04Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A56%3A04Z\u0026se=2021-02-02T22%3A56%3A04Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=d542397e-cfe5-33[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-56036deb-04a6-164c-0398-62c1ffee217d/test-directory-93f8daff-a1df-bdf5-6f26-971eff501386?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A56%3A05Z\u0026ske=2021-02-02T22%3A56%3A04Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A56%3A04Z\u0026se=2021-02-02T22%3A56%3A04Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=d542397e-cfe5-33[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-56036deb-04a6-164c-0398-62c1ffee217d/test-directory-93f8daff-a1df-bdf5-6f26-971eff501386?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A56%3A05Z\u0026ske=2021-02-02T22%3A56%3A04Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A56%3A04Z\u0026se=2021-02-02T22%3A56%3A04Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=d542397e-cfe5-33[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-56036deb-04a6-164c-0398-62c1ffee217d/test-directory-93f8daff-a1df-bdf5-6f26-971eff501386?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-02T21%3A56%3A05Z\u0026ske=2021-02-02T22%3A56%3A04Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-02T20%3A56%3A04Z\u0026se=2021-02-02T22%3A56%3A04Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=d542397e-cfe5-33e2-466f-f2a6717f2ff2\u0026sig=Sanitized\u0026action=setAccessControlRecursive\u0026continuation=VBaa6pT10v3L%2BYwBGPwBGPYBL3NlYW5uc2UBMDFENTc5OTJDOTcxNDhDMi90ZXN0LWZpbGVzeXN0ZW0tNTYwMzZkZWItMDRhNi0xNjRjLTAzOTgtNjJjMWZmZWUyMTdkATAxRDZGOUFFMzJDRjE0RkQvdGVzdC1kaXJlY3RvcnktOTNmOGRhZmYtYTFkZi1iZGY1LTZmMjYtOTcxZWZmNTAxMzg2L3Rlc3QtZGlyZWN0b3J5LWVlNTlmZDQ5LWQ3ZjMtN2RhMC1kMWJhLTgxZTMxYmQ3YzM5Yi90ZXN0LWZpbGUtY2FhYTZmNGYtOWYzYy0yYWQxLWU1ZTktMmFhYjNkZmM5Y2E4FgAAAA%3D%3D\u0026mode=modify\u0026forceFlag=true\u0026maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjAsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6Mn0K"
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-56036deb-04a6-164c-0398-62c1ffee217d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:56:05 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-02T15:56:04.0153435-06:00",
    "RandomSeed": "1941520971",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}