{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-928815e7-9bb7-2230-41f5-5890ebb3c96a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Feb 2021 19:03:42 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50912C528AE\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:03:41 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-928815e7-9bb7-2230-41f5-5890ebb3c96a/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Fri, 19 Feb 2021 19:03:42 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50912C76B18\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:03:41 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-928815e7-9bb7-2230-41f5-5890ebb3c96a/test-directory-6fcc4594-65c2-1bea-8628-ad4a7a48aaaf?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50912F55BBE\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:03:42 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-928815e7-9bb7-2230-41f5-5890ebb3c96a/test-directory-6fcc4594-65c2-1bea-8628-ad4a7a48aaaf/test-directory-93a08f99-79b1-a42b-5906-3a6f93bfdcde?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50913019D1F\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:03:42 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-928815e7-9bb7-2230-41f5-5890ebb3c96a/test-directory-6fcc4594-65c2-1bea-8628-ad4a7a48aaaf/test-directory-93a08f99-79b1-a42b-5906-3a6f93bfdcde/test-file-d664ac24-b3df-975b-512c-40f58b23ad0b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D509131245FA\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:03:42 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-928815e7-9bb7-2230-41f5-5890ebb3c96a/test-directory-6fcc4594-65c2-1bea-8628-ad4a7a48aaaf?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-owner": "48639a4a-7a8b-01e4-5185-e354907c7d93",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50912F55BBE\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:03:42 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-928815e7-9bb7-2230-41f5-5890ebb3c96a/test-directory-6fcc4594-65c2-1bea-8628-ad4a7a48aaaf/test-directory-93a08f99-79b1-a42b-5906-3a6f93bfdcde?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-owner": "48639a4a-7a8b-01e4-5185-e354907c7d93",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D50913019D1F\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:03:42 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-928815e7-9bb7-2230-41f5-5890ebb3c96a/test-directory-6fcc4594-65c2-1bea-8628-ad4a7a48aaaf/test-directory-93a08f99-79b1-a42b-5906-3a6f93bfdcde/test-file-d664ac24-b3df-975b-512c-40f58b23ad0b?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-owner": "48639a4a-7a8b-01e4-5185-e354907c7d93",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D509131245FA\"",
        "Last-Modified": "Fri, 19 Feb 2021 19:03:42 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "﻿<KeyInfo><Expiry>2021-02-19T20:03:44Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>c4f48289-bb84-4086-b250-6f94a8f64cee</SignedOid><SignedTid>72f988bf-86f1-41af-91ab-2d7cd011db47</SignedTid><SignedStart>2021-02-19T19:03:43Z</SignedStart><SignedExpiry>2021-02-19T20:03:44Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2020-06-12</SignedVersion><Value>0iZjoqKyarWWxVWANV80KpZ4418D8xKlJba0e/kr1mE=</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-928815e7-9bb7-2230-41f5-5890ebb3c96a/test-directory-6fcc4594-65c2-1bea-8628-ad4a7a48aaaf?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2021-02-19T19%3A03%3A43Z&ske=2021-02-19T20%3A03%3A44Z&sks=b&skv=2020-06-12&sv=2023-01-03&st=2021-02-19T18%3A03%3A44Z&se=2021-02-19T20%3A03%3A44Z&sr=c&sp=racwdlmeop&suoid=48639a4a-7a8b-01e4-5185-e354907c7d93&sig=Sanitized&action=setAccessControlRecursive&mode=modify",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOlt7ImVycm9yTWVzc2FnZSI6IlRoaXMgcmVxdWVzdCBpcyBub3QgYXV0aG9yaXplZCB0byBwZXJmb3JtIHRoaXMgb3BlcmF0aW9uIHVzaW5nIHRoaXMgcGVybWlzc2lvbi4iLCJuYW1lIjoidGVzdC1kaXJlY3RvcnktNmZjYzQ1OTQtNjVjMi0xYmVhLTg2MjgtYWQ0YTdhNDhhYWFmL3Rlc3QtZGlyZWN0b3J5LTE1ODFjMGNjLTAzZmItYjI0OS0xOGYyLTViMjZmZGY5YjUyNy90ZXN0LWZpbGUtZmE2NDljYWUtODg4ZC1mMDFiLTliNjUtZTEwYjE5NjZiMTM1IiwidHlwZSI6IkZJTEUifV0sImZhaWx1cmVDb3VudCI6MSwiZmlsZXNTdWNjZXNzZnVsIjoxfQo="
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-928815e7-9bb7-2230-41f5-5890ebb3c96a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Feb 2021 19:03:44 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-19T13:03:44.2340629-06:00",
    "RandomSeed": "1346093371",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n\n\n"
  }
}