{
  "Entries": [
    {
      "RequestUri": "http://amandaadlscanary2.blob.core.windows.net/test-filesystem-de8b4f35-c9c3-ad26-4f0d-8f1692033407?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2A831832D\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-de8b4f35-c9c3-ad26-4f0d-8f1692033407/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2A832CE50\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:28 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-de8b4f35-c9c3-ad26-4f0d-8f1692033407/test-directory-98355ea9-e744-7143-c386-d7d870b02b3e?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2A84D3AC3\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-de8b4f35-c9c3-ad26-4f0d-8f1692033407/test-directory-98355ea9-e744-7143-c386-d7d870b02b3e/test-directory-397a8aa1-d8fa-f485-4da2-33fe3a088a73?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2A8673CFF\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-de8b4f35-c9c3-ad26-4f0d-8f1692033407/test-directory-98355ea9-e744-7143-c386-d7d870b02b3e/test-directory-397a8aa1-d8fa-f485-4da2-33fe3a088a73/test-file-1859cb60-ff2c-7617-8e33-7a6cd63c9a0f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2A874A69F\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-de8b4f35-c9c3-ad26-4f0d-8f1692033407/test-directory-98355ea9-e744-7143-c386-d7d870b02b3e?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:28 GMT",
        "x-ms-owner": "d15c3b55-1ac4-fab7-b773-0535e193a2a0",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2A85A35A7\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:28 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-de8b4f35-c9c3-ad26-4f0d-8f1692033407/test-directory-98355ea9-e744-7143-c386-d7d870b02b3e/test-directory-397a8aa1-d8fa-f485-4da2-33fe3a088a73?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:28 GMT",
        "x-ms-owner": "d15c3b55-1ac4-fab7-b773-0535e193a2a0",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2A8673CFF\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:28 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-de8b4f35-c9c3-ad26-4f0d-8f1692033407/test-directory-98355ea9-e744-7143-c386-d7d870b02b3e/test-directory-397a8aa1-d8fa-f485-4da2-33fe3a088a73/test-file-1859cb60-ff2c-7617-8e33-7a6cd63c9a0f?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:29 GMT",
        "x-ms-owner": "d15c3b55-1ac4-fab7-b773-0535e193a2a0",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2A874A69F\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:28 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-de8b4f35-c9c3-ad26-4f0d-8f1692033407/test-directory-98355ea9-e744-7143-c386-d7d870b02b3e/test-directory-7874ae3b-b3d2-b006-8a05-43c5f8f3bfcb/test-directory-ea5c3639-1885-033c-effa-fef4307efd85?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:29 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D864C2A9226534\u0022",
        "Last-Modified": "Tue, 29 Sep 2020 21:57:29 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary2.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "\u003CKeyInfo\u003E\u003CExpiry\u003E2020-09-29T22:57:29Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2020-09-29T21:57:30Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2020-09-29T22:57:29Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-02-10\u003C/SignedVersion\u003E\u003CValue\u003E\u002BEBVFU40h0aijo/6s07xaiaa8RFapWy3tDoKqg\u002BFp10=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-de8b4f35-c9c3-ad26-4f0d-8f1692033407/test-directory-98355ea9-e744-7143-c386-d7d870b02b3e?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-29T21%3A57%3A30Z\u0026ske=2020-09-29T22%3A57%3A29Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-29T20%3A57%3A29Z\u0026se=2020-09-29T22%3A57%3A29Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=d15c3b55-1ac4-fab7-b773-0535e193a2a0\u0026sig=Sanitized\u0026action=setAccessControlRecursive\u0026mode=modify\u0026forceFlag=true\u0026maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBbWqNrS5\u002Br/0cgBGIYCGIACL2FtYW5kYWFkbHNjYW5hcnkyATAxRDY3RDZFQjgwNDhCNjkvdGVzdC1maWxlc3lzdGVtLWRlOGI0ZjM1LWM5YzMtYWQyNi00ZjBkLThmMTY5MjAzMzQwNwEwMUQ2OTZBQjg1QkFDOEY4L3Rlc3QtZGlyZWN0b3J5LTk4MzU1ZWE5LWU3NDQtNzE0My1jMzg2LWQ3ZDg3MGIwMmIzZS90ZXN0LWRpcmVjdG9yeS0zOTdhOGFhMS1kOGZhLWY0ODUtNGRhMi0zM2ZlM2EwODhhNzMvdGVzdC1maWxlLTE4NTljYjYwLWZmMmMtNzYxNy04ZTMzLTdhNmNkNjNjOWEwZhYAAAA=",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-de8b4f35-c9c3-ad26-4f0d-8f1692033407/test-directory-98355ea9-e744-7143-c386-d7d870b02b3e?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-29T21%3A57%3A30Z\u0026ske=2020-09-29T22%3A57%3A29Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-29T20%3A57%3A29Z\u0026se=2020-09-29T22%3A57%3A29Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=d15c3b5[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-de8b4f35-c9c3-ad26-4f0d-8f1692033407/test-directory-98355ea9-e744-7143-c386-d7d870b02b3e?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-29T21%3A57%3A30Z\u0026ske=2020-09-29T22%3A57%3A29Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-29T20%3A57%3A29Z\u0026se=2020-09-29T22%3A57%3A29Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=d15c3b5[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-de8b4f35-c9c3-ad26-4f0d-8f1692033407/test-directory-98355ea9-e744-7143-c386-d7d870b02b3e?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-29T21%3A57%3A30Z\u0026ske=2020-09-29T22%3A57%3A29Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-29T20%3A57%3A29Z\u0026se=2020-09-29T22%3A57%3A29Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=d15c3b5[...]
    {
      "RequestUri": "http://amandaadlscanary2.dfs.core.windows.net/test-filesystem-de8b4f35-c9c3-ad26-4f0d-8f1692033407/test-directory-98355ea9-e744-7143-c386-d7d870b02b3e?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2020-09-29T21%3A57%3A30Z\u0026ske=2020-09-29T22%3A57%3A29Z\u0026sks=b\u0026skv=2020-02-10\u0026sv=2020-04-08\u0026st=2020-09-29T20%3A57%3A29Z\u0026se=2020-09-29T22%3A57%3A29Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=d15c3b5[...]
    {
      "RequestUri": "http://amandaadlscanary2.blob.core.windows.net/test-filesystem-de8b4f35-c9c3-ad26-4f0d-8f1692033407?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 29 Sep 2020 21:57:30 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-09-29T14:57:29.7524337-07:00",
    "RandomSeed": "1696046088",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary2\nU2FuaXRpemVk\nhttp://amandaadlscanary2.blob.core.windows.net\nhttp://amandaadlscanary2.file.core.windows.net\nhttp://amandaadlscanary2.queue.core.windows.net\nhttp://amandaadlscanary2.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary2-secondary.blob.core.windows.net\nhttp://amandaadlscanary2-secondary.file.core.windows.net\nhttp://amandaadlscanary2-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary2.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary2.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary2.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary2-secondary.file.core.windows.net/;AccountName=amandaadlscanary2;AccountKey=Sanitized\n"
  }
}