{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-3bbeabc6-15ae-6bb5-0178-75b8d2daea66?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Feb 2021 21:56:00 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C554606EF3\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:56:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3bbeabc6-15ae-6bb5-0178-75b8d2daea66/test-directory-7fd735ea-dab3-ce04-e2c1-c2579356628b?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:56:00 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C55495041D\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:56:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3bbeabc6-15ae-6bb5-0178-75b8d2daea66/test-directory-7fd735ea-dab3-ce04-e2c1-c2579356628b/test-directory-bdb25336-7b93-d213-28fe-0e6a59e4b6f9?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:56:00 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C554A1D2A4\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:56:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3bbeabc6-15ae-6bb5-0178-75b8d2daea66/test-directory-7fd735ea-dab3-ce04-e2c1-c2579356628b/test-directory-bdb25336-7b93-d213-28fe-0e6a59e4b6f9/test-file-3baef6d0-cb53-a8d1-6652-b1db6115aab2?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:56:00 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C554AEC565\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:56:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3bbeabc6-15ae-6bb5-0178-75b8d2daea66/test-directory-7fd735ea-dab3-ce04-e2c1-c2579356628b/test-file-9ad4cecc-d0ba-04e4-0780-f7a17cb29de4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:56:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8C7C554E21B45\u0022",
        "Last-Modified": "Tue, 02 Feb 2021 21:56:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3bbeabc6-15ae-6bb5-0178-75b8d2daea66/test-directory-7fd735ea-dab3-ce04-e2c1-c2579356628b?action=setAccessControlRecursive\u0026mode=modify",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-date": "Tue, 02 Feb 2021 21:56:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjMsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6NH0K"
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-3bbeabc6-15ae-6bb5-0178-75b8d2daea66?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Feb 2021 21:56:01 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1243953480",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}