{
  "Entries": [
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-4e04967d-d39d-96f6-93c0-aa14eb7f9288?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 26 Jun 2020 16:56:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D819F1D6E104DC\u0022",
        "Last-Modified": "Fri, 26 Jun 2020 16:56:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-4e04967d-d39d-96f6-93c0-aa14eb7f9288/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Fri, 26 Jun 2020 16:56:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D819F1D6E254C3\u0022",
        "Last-Modified": "Fri, 26 Jun 2020 16:56:15 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "response_type=token\u0026grant_type=client_credentials\u0026client_id=c6b5fe1a-9b59-4975-92c4-d9f728c3c371\u0026client_secret=Sanitized\u0026scope=https%3A%2F%2Fstorage.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-4e04967d-d39d-96f6-93c0-aa14eb7f9288/test-directory-011bb9d5-2eb8-61d8-9fdf-86fd23cab88b?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D819F1D73CD865\u0022",
        "Last-Modified": "Fri, 26 Jun 2020 16:56:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-4e04967d-d39d-96f6-93c0-aa14eb7f9288/test-directory-011bb9d5-2eb8-61d8-9fdf-86fd23cab88b/test-directory-b5e8232c-033c-a676-002e-0485fce5e32a?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D819F1D74AA966\u0022",
        "Last-Modified": "Fri, 26 Jun 2020 16:56:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-4e04967d-d39d-96f6-93c0-aa14eb7f9288/test-directory-011bb9d5-2eb8-61d8-9fdf-86fd23cab88b/test-directory-b5e8232c-033c-a676-002e-0485fce5e32a/test-file-9429408f-c218-2f66-6876-f59fbd39face?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D819F1D75892AA\u0022",
        "Last-Modified": "Fri, 26 Jun 2020 16:56:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-4e04967d-d39d-96f6-93c0-aa14eb7f9288/test-directory-011bb9d5-2eb8-61d8-9fdf-86fd23cab88b/test-directory-4fb2d311-c7b7-987e-d360-da054bc2c411/test-file-da083cfc-cc85-8cc6-829e-b4578c4cf24a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 26 Jun 2020 16:56:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D819F1D78D1682\u0022",
        "Last-Modified": "Fri, 26 Jun 2020 16:56:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://gen1gen2domain1.dfs.core.windows.net/test-filesystem-4e04967d-d39d-96f6-93c0-aa14eb7f9288/test-directory-011bb9d5-2eb8-61d8-9fdf-86fd23cab88b/test-directory-4fb2d311-c7b7-987e-d360-da054bc2c411/test-directory-c3356fc5-e4a2-65fb-5b5e-4e6321130324?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 26 Jun 2020 16:56:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D819F1D7B02A57\u0022",
        "Last-Modified": "Fri, 26 Jun 2020 16:56:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://gen1gen2domain1.dfs.core.windows.net/test-filesystem-4e04967d-d39d-96f6-93c0-aa14eb7f9288/test-directory-011bb9d5-2eb8-61d8-9fdf-86fd23cab88b?action=setAccessControlRecursive\u0026mode=modify\u0026forceFlag=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode[...]
    {
      "RequestUri": "http://gen1gen2domain1.blob.core.windows.net/test-filesystem-4e04967d-d39d-96f6-93c0-aa14eb7f9288?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 26 Jun 2020 16:56:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1628163955",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\ngen1gen2domain1\nU2FuaXRpemVk\nhttp://gen1gen2domain1.blob.core.windows.net\nhttp://gen1gen2domain1.file.core.windows.net\nhttp://gen1gen2domain1.queue.core.windows.net\nhttp://gen1gen2domain1.table.core.windows.net\n\n\n\n\nhttp://gen1gen2domain1-secondary.blob.core.windows.net\nhttp://gen1gen2domain1-secondary.file.core.windows.net\nhttp://gen1gen2domain1-secondary.queue.core.windows.net\nhttp://gen1gen2domain1-secondary.table.core.windows.net\nc6b5fe1a-9b59-4975-92c4-d9f728c3c371\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://gen1gen2domain1.blob.core.windows.net/;QueueEndpoint=http://gen1gen2domain1.queue.core.windows.net/;FileEndpoint=http://gen1gen2domain1.file.core.windows.net/;BlobSecondaryEndpoint=http://gen1gen2domain1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://gen1gen2domain1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://gen1gen2domain1-secondary.file.core.windows.net/;AccountName=gen1gen2domain1;AccountKey=Sanitized\n"
  }
}