{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-3aee3091-81f1-bc47-38a9-9c614a36b654?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:51:08 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D396840EA896\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:51:08 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3aee3091-81f1-bc47-38a9-9c614a36b654/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Wed, 17 Feb 2021 22:51:08 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3968411180F\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:51:08 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3aee3091-81f1-bc47-38a9-9c614a36b654/test-directory-301b02b7-2c74-d381-4e5a-eacff56168df?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:51:09 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D39684540303\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:51:09 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3aee3091-81f1-bc47-38a9-9c614a36b654/test-directory-301b02b7-2c74-d381-4e5a-eacff56168df/test-directory-8ef185ac-c9e1-f536-23ac-189b20d61f3e?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:51:09 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D396846EEB63\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:51:09 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3aee3091-81f1-bc47-38a9-9c614a36b654/test-directory-301b02b7-2c74-d381-4e5a-eacff56168df/test-directory-8ef185ac-c9e1-f536-23ac-189b20d61f3e/test-file-d75ea3c4-6adc-4d63-5da8-19694089cb77?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:51:09 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D396847C9942\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:51:09 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3aee3091-81f1-bc47-38a9-9c614a36b654/test-directory-301b02b7-2c74-d381-4e5a-eacff56168df?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:51:09 GMT",
        "x-ms-owner": "dbe12079-c906-7218-e1f4-0289cc91cdbc",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3968461157E\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:51:09 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3aee3091-81f1-bc47-38a9-9c614a36b654/test-directory-301b02b7-2c74-d381-4e5a-eacff56168df/test-directory-8ef185ac-c9e1-f536-23ac-189b20d61f3e?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:51:09 GMT",
        "x-ms-owner": "dbe12079-c906-7218-e1f4-0289cc91cdbc",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D396846EEB63\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:51:09 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3aee3091-81f1-bc47-38a9-9c614a36b654/test-directory-301b02b7-2c74-d381-4e5a-eacff56168df/test-directory-8ef185ac-c9e1-f536-23ac-189b20d61f3e/test-file-d75ea3c4-6adc-4d63-5da8-19694089cb77?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:51:10 GMT",
        "x-ms-owner": "dbe12079-c906-7218-e1f4-0289cc91cdbc",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D396847C9942\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:51:09 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3aee3091-81f1-bc47-38a9-9c614a36b654/test-directory-301b02b7-2c74-d381-4e5a-eacff56168df/test-directory-efa00035-3084-c6c3-720e-b15045b37c56/test-directory-2c0bb201-5bd7-011e-4a0d-fde5bc144d2a?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:51:10 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D396855A017B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 22:51:10 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "\uFEFF\u003CKeyInfo\u003E\u003CExpiry\u003E2021-02-17T23:51:11Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Ec4f48289-bb84-4086-b250-6f94a8f64cee\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2021-02-17T22:51:11Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2021-02-17T23:51:11Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2020-06-12\u003C/SignedVersion\u003E\u003CValue\u003EBH3\u002BZ1pfPiTnPYgmE6MM0AEHKoc6djV2HmSvMQGLCcU=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3aee3091-81f1-bc47-38a9-9c614a36b654/test-directory-301b02b7-2c74-d381-4e5a-eacff56168df?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A51%3A11Z\u0026ske=2021-02-17T23%3A51%3A11Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A51%3A11Z\u0026se=2021-02-17T23%3A51%3A11Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=dbe12079-c906-7218-e1f4-0289cc91cdbc\u0026sig=Sanitized\u0026action=setAccessControlRecursive\u0026mode=modify\u0026forceFlag=true\u0026maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBbPr8Kx6oOizI4BGPwBGPYBL3NlYW5uc2UBMDFENTc5OTJDOTcxNDhDMi90ZXN0LWZpbGVzeXN0ZW0tM2FlZTMwOTEtODFmMS1iYzQ3LTM4YTktOWM2MTRhMzZiNjU0ATAxRDcwNTdGNjE5N0ZDQjQvdGVzdC1kaXJlY3RvcnktMzAxYjAyYjctMmM3NC1kMzgxLTRlNWEtZWFjZmY1NjE2OGRmL3Rlc3QtZGlyZWN0b3J5LThlZjE4NWFjLWM5ZTEtZjUzNi0yM2FjLTE4OWIyMGQ2MWYzZS90ZXN0LWZpbGUtYWQ1MDljMGItODhiMi0xNmNlLTU3NzgtMGM5MDY2NjcwMTEyFgAAAA==",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3aee3091-81f1-bc47-38a9-9c614a36b654/test-directory-301b02b7-2c74-d381-4e5a-eacff56168df?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A51%3A11Z\u0026ske=2021-02-17T23%3A51%3A11Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A51%3A11Z\u0026se=2021-02-17T23%3A51%3A11Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=dbe12079-c906-72[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3aee3091-81f1-bc47-38a9-9c614a36b654/test-directory-301b02b7-2c74-d381-4e5a-eacff56168df?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A51%3A11Z\u0026ske=2021-02-17T23%3A51%3A11Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A51%3A11Z\u0026se=2021-02-17T23%3A51%3A11Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=dbe12079-c906-72[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3aee3091-81f1-bc47-38a9-9c614a36b654/test-directory-301b02b7-2c74-d381-4e5a-eacff56168df?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A51%3A11Z\u0026ske=2021-02-17T23%3A51%3A11Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A51%3A11Z\u0026se=2021-02-17T23%3A51%3A11Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=dbe12079-c906-72[...]
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-3aee3091-81f1-bc47-38a9-9c614a36b654/test-directory-301b02b7-2c74-d381-4e5a-eacff56168df?skoid=c4f48289-bb84-4086-b250-6f94a8f64cee\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2021-02-17T22%3A51%3A11Z\u0026ske=2021-02-17T23%3A51%3A11Z\u0026sks=b\u0026skv=2020-06-12\u0026sv=2020-06-12\u0026st=2021-02-17T21%3A51%3A11Z\u0026se=2021-02-17T23%3A51%3A11Z\u0026sr=c\u0026sp=racwdlmeop\u0026suoid=dbe12079-c906-72[...]
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-3aee3091-81f1-bc47-38a9-9c614a36b654?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:51:12 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T16:51:11.0500446-06:00",
    "RandomSeed": "573341957",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n"
  }
}