{
  "Entries": [
    {
      "RequestUri": "/subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourcegroups/res8131?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/res8131\",\r\n  \"name\": \"res8131\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/res8131/providers/Microsoft.Maps/accounts/maps7038?api-version=2018-05-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"global\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"s0\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/res8131/providers/Microsoft.Maps/accounts/maps7038\",\r\n  \"name\": \"maps7038\",\r\n  \"type\": \"Microsoft.Maps/accounts\",\r\n  \"location\": \"global\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"s0\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"x-ms-client-id\": \"3767abac-50ef-47ae-b993-7b2e3f0eec41\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/res8131/providers/Microsoft.Maps/accounts/maps7038/listKeys?api-version=2018-05-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/res8131/providers/Microsoft.Maps/accounts/maps7038\",\r\n  \"primaryKey\": \"reosOttx3odGVUaVVWKXaf_lzmlRbH5hE7Z9cy209mk\",\r\n  \"secondaryKey\": \"4gSKIAemmDuPnWwmeROX33tEQQV53v8ktQpPKPSWelM\",\r\n  \"primaryKeyLastUpdated\": \"2018-12-21T21:07:51.1341058Z\",\r\n  \"secondaryKeyLastUpdated\": \"2018-12-21T21:07:51.1341058Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/res8131/providers/Microsoft.Maps/accounts/maps7038/regenerateKey?api-version=2018-05-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyType\": \"secondary\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/res8131/providers/Microsoft.Maps/accounts/maps7038\",\r\n  \"primaryKey\": \"reosOttx3odGVUaVVWKXaf_lzmlRbH5hE7Z9cy209mk\",\r\n  \"secondaryKey\": \"XgOK-JQe47evm6_5XULSS4RELBqU-1DeDKzCzErXFP4\",\r\n  \"primaryKeyLastUpdated\": \"2018-12-21T21:07:51.1341058Z\",\r\n  \"secondaryKeyLastUpdated\": \"2018-12-21T21:07:53.5970946Z\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {
    "CreateResourceGroup": [
      "res8131"
    ],
    "CreateDefaultMapsAccount": [
      "maps7038"
    ]
  },
  "Variables": {
    "SubscriptionId": "21a9967a-e8a9-4656-a70b-96ff1c4d05a0"
  }
}