{
  "Entries": [
    {
      "RequestUri": "/keys/sdktestkey//sign?api-version=2015-06-01-preview2",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RS512\",\r\n  \"value\": \"GMfmn5DNZutosj0tQFFdgwLmsQp875O6api0dxK1QNjYZURj2M_xg70F1RpqzjUk_zk4VtIlPapLdSnJx0aVmQ\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kid\": \"https://sdktestvault0518.vault.azure.net/keys/sdktestkey/31140407d0b9469e8dad03718dfb920b\",\r\n  \"value\": \"ArGm_XuanF4wEBlNwWjlElZatfS3jvID11-rAhQR8VkCu3RDfAwFtwy6huC0DBCY4FWN98l9_M-xbdH8NSPNedKn93yr67Zgsuha8aXOme7yHdRseS6wfpFX2RfjOjzy_s2NKo9UnJWyg1u_vM-5t_j9cilfFX4Xfrq3G94s4_Abhv_qa2yicnKzYlRbscHDM6KRmC5Iuv7ZvpqMESEDe2Py-l2VXqV8ov-uNxnTEZ2UYG49JTLh6iR1UFQslBRJunhbNfT1-UZgBz5ZCWZ-3nu6bLNmW3-BJryiefb56-QHP5hQs3Jf_WqV9LLVslLrskSLm6-qrmroUaaBfJ9gNQ\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/sdktestkey/31140407d0b9469e8dad03718dfb920b/verify?api-version=2015-06-01-preview2",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RS512\",\r\n  \"digest\": \"GMfmn5DNZutosj0tQFFdgwLmsQp875O6api0dxK1QNjYZURj2M_xg70F1RpqzjUk_zk4VtIlPapLdSnJx0aVmQ\",\r\n  \"value\": \"ArGm_XuanF4wEBlNwWjlElZatfS3jvID11-rAhQR8VkCu3RDfAwFtwy6huC0DBCY4FWN98l9_M-xbdH8NSPNedKn93yr67Zgsuha8aXOme7yHdRseS6wfpFX2RfjOjzy_s2NKo9UnJWyg1u_vM-5t_j9cilfFX4Xfrq3G94s4_Abhv_qa2yicnKzYlRbscHDM6KRmC5Iuv7ZvpqMESEDe2Py-l2VXqV8ov-uNxnTEZ2UYG49JTLh6iR1UFQslBRJunhbNfT1-UZgBz5ZCWZ-3nu6bLNmW3-BJryiefb56-QHP5hQs3Jf_WqV9LLVslLrskSLm6-qrmroUaaBfJ9gNQ\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://sdktestvault0518.vault.azure.net",
    "KeyName": "sdktestkey",
    "KeyVersion": "31140407d0b9469e8dad03718dfb920b",
    "RandomBytes": "Ro8rvRl5Y4OcVsF77fmNzHnmGJ2MAObc8SVtRgoRmi4KEnsR3rVSO6HmHLQyzZFgEhJ9tOEP2kWpT8zzDB15iw=="
  }
}