{
  "Entries": [
    {
      "RequestUri": "/keys/sdktestkey/create?api-version=2015-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"kty\": \"RSA\",\r\n  \"key_ops\": [\r\n    \"encrypt\",\r\n    \"decrypt\",\r\n    \"sign\",\r\n    \"verify\",\r\n    \"wrapKey\",\r\n    \"unwrapKey\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://sdktestvault0518.vault.azure.net/keys/sdktestkey/f7cfe2a465324fb3bdcbdeebad160d9c\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"ynsJqvmN7gi86Q2j3cypkb-E7wv2LCWdY8lU-XY7Zb5r9WX9GUIDmWVYPTXiucr_yiJTkzUpo27HjmCDRgZy4LAyaL2yWDo1Etx1xeXci3-99dFJDTYhfr4mw-Nk66Mx0T9q8qGeVO7gjyZL4geRxafUZXHAXfV9oedzvNh36d-zc90P7-IM8zMtHpDATai_r00s_-SnEqDrXzUcaWvTxFlB7GIhN_eXgKD_t37hXaAt1wD74DbzO10mVOVvHD0KJ0NTyO0d3ip5iCOPTeoWbhtwN1zO4bcITFx994VYVjHYqvZrOl5XkFZ4WcevB7iFEA9N-x9mGOWxdqHk8TMPjw\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1469645211,\r\n    \"updated\": 1469645211\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/sdktestkey//encrypt?api-version=2015-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RSA1_5\",\r\n  \"value\": \"B9bwx-7Ffto4kw\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kid\": \"https://sdktestvault0518.vault.azure.net/keys/sdktestkey/f7cfe2a465324fb3bdcbdeebad160d9c\",\r\n  \"value\": \"XR250CC31hS9shvQsithE1KQU_cUCNRpPIfh9VBx1lHB6EouS8HfF6Rb7mXO7zhxP-iGvSKFcdmY-CVfxmF1S8iNUlA_RFtfXU8fndHxmXw7mykfNL1PEq2Ef1LnbbiBXJM_2k0XUQzlwRe_AoMHdrmY2W4wInhQiTMkAQ_8UhGXL-0HJCsD1fhtpNU2sQtFaE_EFWoDOWU00A3eIAh8XbRfXgOqoPyuQO236dPwu5xRZIAlm5uOT2Wfyk_wOiHcNyRxLOSiN6gYrQYHYKSiHFFrPTLBUlcpcArUg0o2n3pZUTcR3RIS-QYP1hhR3uny2kr4QVLJY9UEcktBbXd7nA\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/sdktestkey/f7cfe2a465324fb3bdcbdeebad160d9c/decrypt?api-version=2015-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RSA1_5\",\r\n  \"value\": \"XR250CC31hS9shvQsithE1KQU_cUCNRpPIfh9VBx1lHB6EouS8HfF6Rb7mXO7zhxP-iGvSKFcdmY-CVfxmF1S8iNUlA_RFtfXU8fndHxmXw7mykfNL1PEq2Ef1LnbbiBXJM_2k0XUQzlwRe_AoMHdrmY2W4wInhQiTMkAQ_8UhGXL-0HJCsD1fhtpNU2sQtFaE_EFWoDOWU00A3eIAh8XbRfXgOqoPyuQO236dPwu5xRZIAlm5uOT2Wfyk_wOiHcNyRxLOSiN6gYrQYHYKSiHFFrPTLBUlcpcArUg0o2n3pZUTcR3RIS-QYP1hhR3uny2kr4QVLJY9UEcktBbXd7nA\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kid\": \"https://sdktestvault0518.vault.azure.net/keys/sdktestkey/f7cfe2a465324fb3bdcbdeebad160d9c\",\r\n  \"value\": \"B9bwx-7Ffto4kw\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://sdktestvault0518.vault.azure.net",
    "KeyName": "sdktestkey",
    "KeyVersion": "23a80231e4fd4584923ef1dbc1dae1b4",
    "RandomBytes": "B9bwx+7Ffto4kw=="
  }
}