{
  "Entries": [
    {
      "RequestUri": "/keys/sdktestkey//sign?api-version=2015-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RS384\",\r\n  \"value\": \"nUGIHuKa9CXv5oR5awTIQrV0J12V0_TTem-OF3n4CitF4YkA6l9Ng-oaSjYRTDiO\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kid\": \"https://sdktestvault0518.vault.azure.net/keys/sdktestkey/f7cfe2a465324fb3bdcbdeebad160d9c\",\r\n  \"value\": \"Cyo3qNxxkIoLyYJzGdRiWU_fTuE_ssiDSkwKpjDafc3vac_aLs_AD-ZUu2HSde17lDFG2YXUWTU__fL3Dn-GcR_ujEu-24Wav1T2wA7RL70fPDCLS2XtPqjB5w6RyUcAXv9XumbeXoVB0_n0DPa_htX1bIAqZxLg_-y1bAIh64TUwBD-T7987fJydcwYOhxZgvD49IVwLnneNM15U1MYPIo-Zr_oaikWG9G5SWyTN8wyjQb7TPIAihRmi8lFqP9nenWcxrnirM_HyW1aWJVB3Pt7wRjNTb1Zrsm67s_4rGJu596k9sFs3V-fLLIbPvF4VFRFl3jRaRuLzaCl0OMdkQ\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/sdktestkey/f7cfe2a465324fb3bdcbdeebad160d9c/verify?api-version=2015-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RS384\",\r\n  \"digest\": \"nUGIHuKa9CXv5oR5awTIQrV0J12V0_TTem-OF3n4CitF4YkA6l9Ng-oaSjYRTDiO\",\r\n  \"value\": \"Cyo3qNxxkIoLyYJzGdRiWU_fTuE_ssiDSkwKpjDafc3vac_aLs_AD-ZUu2HSde17lDFG2YXUWTU__fL3Dn-GcR_ujEu-24Wav1T2wA7RL70fPDCLS2XtPqjB5w6RyUcAXv9XumbeXoVB0_n0DPa_htX1bIAqZxLg_-y1bAIh64TUwBD-T7987fJydcwYOhxZgvD49IVwLnneNM15U1MYPIo-Zr_oaikWG9G5SWyTN8wyjQb7TPIAihRmi8lFqP9nenWcxrnirM_HyW1aWJVB3Pt7wRjNTb1Zrsm67s_4rGJu596k9sFs3V-fLLIbPvF4VFRFl3jRaRuLzaCl0OMdkQ\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://sdktestvault0518.vault.azure.net",
    "KeyName": "sdktestkey",
    "KeyVersion": "23a80231e4fd4584923ef1dbc1dae1b4",
    "RandomBytes": "TOywQ/Tz6RO56zA4tfqKRaPHV1czAT9a9Qc0qUt30oLuFVCgE3t/KtkgH6d/nGLdTwFbB/tTGEqsVk7tv0DIQg=="
  }
}