{
  "Entries": [
    {
      "RequestUri": "/keys/sdktestkey//wrapkey?api-version=2015-06-01-preview2",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RSA1_5\",\r\n  \"value\": \"whv7xqD_e_sJ8Lwzs4n4ih8AjYrTMvYyu0pY14lZ_QU\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kid\": \"https://sdktestvault0518.vault.azure.net/keys/sdktestkey/24be47dea9334e4687f117bd566701ca\",\r\n  \"value\": \"fVPCVSjogRCgc1vJMG9um4T4s1N5jTAbyqWs4Ua2gqkUVYj_9MUQoXUbXhZUMHrvLhoQ9W39Uu9tTMWqMZCYznosQmgoTbiYBlAo6oo4N-evJATr1GfVEOF52qJ8V5gurh_G82yTokv4atdEceLDV6UAeBT69XY_MxXMLdREpobfweWkAWiOz7r9qopzVhF5JgyxF1LAAemw7pNIzSoyY8dlhxdZzM4PeQmKQ_O7E8qkv7fnT_I8iIWVSAR2-TdxtRzGW_7LrXEckQX0LbBBpqwQP0gAhlhmSG0D3C2oKh2liKwHvwlau37olMV0erTd0yxqvEOYJWnuWiu2kwKesw\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/sdktestkey/24be47dea9334e4687f117bd566701ca/unwrapkey?api-version=2015-06-01-preview2",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RSA1_5\",\r\n  \"value\": \"fVPCVSjogRCgc1vJMG9um4T4s1N5jTAbyqWs4Ua2gqkUVYj_9MUQoXUbXhZUMHrvLhoQ9W39Uu9tTMWqMZCYznosQmgoTbiYBlAo6oo4N-evJATr1GfVEOF52qJ8V5gurh_G82yTokv4atdEceLDV6UAeBT69XY_MxXMLdREpobfweWkAWiOz7r9qopzVhF5JgyxF1LAAemw7pNIzSoyY8dlhxdZzM4PeQmKQ_O7E8qkv7fnT_I8iIWVSAR2-TdxtRzGW_7LrXEckQX0LbBBpqwQP0gAhlhmSG0D3C2oKh2liKwHvwlau37olMV0erTd0yxqvEOYJWnuWiu2kwKesw\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kid\": \"https://sdktestvault0518.vault.azure.net/keys/sdktestkey/24be47dea9334e4687f117bd566701ca\",\r\n  \"value\": \"whv7xqD_e_sJ8Lwzs4n4ih8AjYrTMvYyu0pY14lZ_QU\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://sdktestvault0518.vault.azure.net",
    "KeyName": "sdktestkey",
    "KeyVersion": "24be47dea9334e4687f117bd566701ca",
    "SymmetricKeyBytes": "whv7xqD/e/sJ8Lwzs4n4ih8AjYrTMvYyu0pY14lZ/QU="
  }
}