{
  "Entries": [
    {
      "RequestUri": "/keys/sdktestkey//wrapkey?api-version=2015-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RSA1_5\",\r\n  \"value\": \"GJArIzddwyJXTNXKjsOY4pm1uHNPVIVRwpcgqXgdD_0\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kid\": \"https://sdktestvault0518.vault.azure.net/keys/sdktestkey/23a80231e4fd4584923ef1dbc1dae1b4\",\r\n  \"value\": \"jmB3NG1WWRedwaZbXR8-o0v0kgB-FjSe7c7dSqHCiJaqeXfl1prwB4gdwHpnPjJqmEfh3g5FEYVIwIdkWX6IWiHyr4uMduWOvJJjckB_3rrml2Dbptq1kI8FxZLxdtbLebdQe3EifbTkR0H7HfT3By43XyEUDaaYl9t3wY_pa3lgnuvJPLpHp_HkALqXuO2_LtBw7XU1USB979PVUhcxMf7HBigacww4eWfEjVaaSStqjllzzEaJ-_AKyo8jO3nxmQy3eDfpbtoHA7O-BNGEZmYXWdMjGUU5aGmNj4d3atEU3t_fLyl_AermncNGMA1xtawaVlmK7mZ6IRsmySdETQ\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/sdktestkey/23a80231e4fd4584923ef1dbc1dae1b4/unwrapkey?api-version=2015-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RSA1_5\",\r\n  \"value\": \"jmB3NG1WWRedwaZbXR8-o0v0kgB-FjSe7c7dSqHCiJaqeXfl1prwB4gdwHpnPjJqmEfh3g5FEYVIwIdkWX6IWiHyr4uMduWOvJJjckB_3rrml2Dbptq1kI8FxZLxdtbLebdQe3EifbTkR0H7HfT3By43XyEUDaaYl9t3wY_pa3lgnuvJPLpHp_HkALqXuO2_LtBw7XU1USB979PVUhcxMf7HBigacww4eWfEjVaaSStqjllzzEaJ-_AKyo8jO3nxmQy3eDfpbtoHA7O-BNGEZmYXWdMjGUU5aGmNj4d3atEU3t_fLyl_AermncNGMA1xtawaVlmK7mZ6IRsmySdETQ\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kid\": \"https://sdktestvault0518.vault.azure.net/keys/sdktestkey/23a80231e4fd4584923ef1dbc1dae1b4\",\r\n  \"value\": \"GJArIzddwyJXTNXKjsOY4pm1uHNPVIVRwpcgqXgdD_0\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://sdktestvault0518.vault.azure.net",
    "KeyName": "sdktestkey",
    "KeyVersion": "23a80231e4fd4584923ef1dbc1dae1b4",
    "SymmetricKeyBytes": "GJArIzddwyJXTNXKjsOY4pm1uHNPVIVRwpcgqXgdD/0="
  }
}