{
  "Entries": [
    {
      "RequestUri": "/keys/sdktestkey//sign?api-version=2015-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RS256\",\r\n  \"value\": \"CJdbEXgtblCKOunCvzpk2S5c_LrRY6FtF6MQ8AmUY1g\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kid\": \"https://sdktestvault0518.vault.azure.net/keys/sdktestkey/dd25102e2bc940eda6d0a31ab7740b1f\",\r\n  \"value\": \"dQwyoh6HNgIBzgrRW4Ws3DZM_fxSluSaD3jLH64XuEc5uxoVs5gpau-SiIx_FHybCbtcCf3o93IcNIgIcfS1FSh9nn9gozwJ4oXI7W6hZxWXcsK9nA3v_GTeptqK0oBUevGN6H2jibvzkfYsUyFSYpDd-kJeRmvGDCEfDjDxVTRb6WOFj4X4pXtVacArlq4ERGLgRsUQpHrA_0LEOM6a9VEXcJzIL5f9RwFkGMdUvzHRaCZ9fZiisScWCJwtaYmuRskbn90u793B0OOkVi77kuV1FWL_7yLRh_V3v5Xyy_b_nch5dxsLGTwCbxxi8sK0QjMa0jqB8PC8WFpYuwbi0g\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/sdktestkey/dd25102e2bc940eda6d0a31ab7740b1f/verify?api-version=2015-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RS256\",\r\n  \"digest\": \"CJdbEXgtblCKOunCvzpk2S5c_LrRY6FtF6MQ8AmUY1g\",\r\n  \"value\": \"dQwyoh6HNgIBzgrRW4Ws3DZM_fxSluSaD3jLH64XuEc5uxoVs5gpau-SiIx_FHybCbtcCf3o93IcNIgIcfS1FSh9nn9gozwJ4oXI7W6hZxWXcsK9nA3v_GTeptqK0oBUevGN6H2jibvzkfYsUyFSYpDd-kJeRmvGDCEfDjDxVTRb6WOFj4X4pXtVacArlq4ERGLgRsUQpHrA_0LEOM6a9VEXcJzIL5f9RwFkGMdUvzHRaCZ9fZiisScWCJwtaYmuRskbn90u793B0OOkVi77kuV1FWL_7yLRh_V3v5Xyy_b_nch5dxsLGTwCbxxi8sK0QjMa0jqB8PC8WFpYuwbi0g\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://sdktestvault0518.vault.azure.net",
    "KeyName": "sdktestkey",
    "KeyVersion": "23a80231e4fd4584923ef1dbc1dae1b4",
    "RandomBytes": "UOfKXTsyObpoWW+DtTjVUkrSTugw0CcPFt2xePppE6w="
  }
}