{
  "Entries": [
    {
      "RequestUri": "/keys/sdktestkey/create?api-version=2015-06-01-preview2",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"kty\": \"RSA\",\r\n  \"key_ops\": [\r\n    \"encrypt\",\r\n    \"decrypt\",\r\n    \"sign\",\r\n    \"verify\",\r\n    \"wrapKey\",\r\n    \"unwrapKey\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://sdktestvault0518.vault.azure.net/keys/sdktestkey/4df2c95c8d7e4bcaafe16b133ae2d37d\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"nVnymQ7bJmuF_qrYXYVZqilI5gOpcGLvt8OhSub_dO_BtkTe6ms4YHqk9x2NOUeOe7mu79SdLC4D1_IwugrIZkdqqv0zwhJc3dXpSrQ1TrvgqJSD94ieemdMWhGBBfF4AakNX0uI9Zf_7zipTuroprPIzqpvs0Os5vP6t2110xgz4pfWgtKzDGOAvNq77jlyjSrPOXrz6wchd102fiZI_IGGF9AGwrXnzHHIdysUgsvoxlmBY8F2dk7FxXJtuRyOct3ZevKWTe1jEKUun-qmNf7Asd1HmFz_yUfC9OGHrqBR2OuDUbIc2tSYIfz8p_O2qJ2NRcAALtMOPXqjn-8mKw\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1463588743,\r\n    \"updated\": 1463588743\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/sdktestkey/4df2c95c8d7e4bcaafe16b133ae2d37d/encrypt?api-version=2015-06-01-preview2",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RSA1_5\",\r\n  \"value\": \"HkioHHni9IDirw\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kid\": \"https://sdktestvault0518.vault.azure.net/keys/sdktestkey/4df2c95c8d7e4bcaafe16b133ae2d37d\",\r\n  \"value\": \"jze6JGtkMRQl4oZWe0VD9QClj63WG08HFY8LScPL3X_w9cXXlpeWtlM3eR6HNVgum77xZfMEtWywmcG1J3a9ZJ2_BXpG8objDqMghjrq9asbYobdH8OG-EJv4P910soiFm_zJFxgzhjjzsoWdBP92GHtknmafuPTXoOebPMvUp3XgdTiV-4ELYKYAKRX2vD4h3mII6f_RKVdD5CJHE8XfPwfjUKyRoM3VWw70bwwU7n4B0GcjJKvNnlXNuDidEOFMYZk87iAhr7eeo5yAqGTXi4xb2hsGgjDWUtoqLCFqLpishJhCL2ONxWfJnl9mpSBY8fusOEEdXfLRH-Y51qsmw\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/sdktestkey/24be47dea9334e4687f117bd566701ca/decrypt?api-version=2015-06-01-preview2",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RSA1_5\",\r\n  \"value\": \"jze6JGtkMRQl4oZWe0VD9QClj63WG08HFY8LScPL3X_w9cXXlpeWtlM3eR6HNVgum77xZfMEtWywmcG1J3a9ZJ2_BXpG8objDqMghjrq9asbYobdH8OG-EJv4P910soiFm_zJFxgzhjjzsoWdBP92GHtknmafuPTXoOebPMvUp3XgdTiV-4ELYKYAKRX2vD4h3mII6f_RKVdD5CJHE8XfPwfjUKyRoM3VWw70bwwU7n4B0GcjJKvNnlXNuDidEOFMYZk87iAhr7eeo5yAqGTXi4xb2hsGgjDWUtoqLCFqLpishJhCL2ONxWfJnl9mpSBY8fusOEEdXfLRH-Y51qsmw\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"BadParameter\",\r\n    \"message\": \"The parameter is incorrect.\\r\\n\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://sdktestvault0518.vault.azure.net",
    "KeyName": "sdktestkey",
    "KeyVersion": "24be47dea9334e4687f117bd566701ca",
    "RandomBytes": "HkioHHni9IDirw=="
  }
}