{
  "Entries": [
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-share-5d07b40e-3005-5c97-a2d3-bd7a16af4f68?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D929D1375341A9\"",
        "Last-Modified": "Mon, 07 Jun 2021 16:28:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-share-5d07b40e-3005-5c97-a2d3-bd7a16af4f68/test-file-c362b67f-c241-5b10-6db1-aae48efc7f02",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D929D1376F3C40\"",
        "Last-Modified": "Mon, 07 Jun 2021 16:28:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-06-07T16:28:00.457632Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-share-5d07b40e-3005-5c97-a2d3-bd7a16af4f68/test-file-c362b67f-c241-5b10-6db1-aae48efc7f02?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "vpvcPBwK9VfOwTnTumtGau+PRnffWcW/NUHq12wX2Gjcked5JoX9kiDEV3tuT4EheFDgONsZlmTVHQbbHx7rt+nR9iiEzERqkbNXGwFKUOW/yV8cNp+Mw/uCowh+InIC2aCRnFlZnKsMdaYnwnpii8wgG1a/z4BJRTIsAik7625AVEJhuLSMZiyzD8H5ZQGAHxg7XgccQgkfSFcnLJqC0Ik35204AdIYk7UqC7+/UN8wrOIRAI1nJBI4QXBcZTmRMT83wX6USB5FIspS8jZKYPh39oC4cND80MJaAL9ivC57mNqAh45hnGPEy93CFDLc7eF45G652MBuO/C7Okde4mac11lcythpFVoc9KXzOruQfhLd6te/wr8ZEUyepmIcZel2Jj3YfyMJD88UnOQ[...]
    {
      "RequestUri": "https://seanoauthstage.file.core.windows.net/test-share-756d7f4e-4fb4-0e3a-1e7e-9748c7ec95f9?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 07 Jun 2021 16:28:01 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D929D137EDB440\"",
        "Last-Modified": "Mon, 07 Jun 2021 16:28:01 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.file.core.windows.net/test-share-756d7f4e-4fb4-0e3a-1e7e-9748c7ec95f9/test-directory-96d8cf0f-b961-1ab4-cb1d-08811314b125?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 07 Jun 2021 16:28:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D929D137FDA301\"",
        "Last-Modified": "Mon, 07 Jun 2021 16:28:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-06-07T16:28:01.3908737Z",
        "x-ms-file-creation-time": "2021-06-07T16:28:01.3908737Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-06-07T16:28:01.3908737Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17328120433303457917*10998634346073950196",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.file.core.windows.net/test-share-756d7f4e-4fb4-0e3a-1e7e-9748c7ec95f9/test-directory-96d8cf0f-b961-1ab4-cb1d-08811314b125/test-file-27f2ad5e-405d-aacc-e40f-e506cdacb983",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 07 Jun 2021 16:28:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D929D1380F53AB\"",
        "Last-Modified": "Mon, 07 Jun 2021 16:28:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-06-07T16:28:01.5068075Z",
        "x-ms-file-creation-time": "2021-06-07T16:28:01.5068075Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-06-07T16:28:01.5068075Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "3459353764275416954*10998634346073950196",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.file.core.windows.net/test-share-756d7f4e-4fb4-0e3a-1e7e-9748c7ec95f9/test-directory-96d8cf0f-b961-1ab4-cb1d-08811314b125/test-file-27f2ad5e-405d-aacc-e40f-e506cdacb983?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanoauthstage.blob.core.windows.net/test-share-5d07b40e-3005-5c97-a2d3-bd7a16af4f68/test-file-c362b67f-c241-5b10-6db1-aae48efc7f02",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-date": "Mon, 07 Jun 2021 16:28:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D929D1388D4AE8\"",
        "Last-Modified": "Mon, 07 Jun 2021 16:28:02 GMT",
        "x-ms-content-crc64": "lvoqWtU/SRg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.file.core.windows.net/test-share-756d7f4e-4fb4-0e3a-1e7e-9748c7ec95f9?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 07 Jun 2021 16:28:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-share-5d07b40e-3005-5c97-a2d3-bd7a16af4f68?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1678172742",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanoauthstage\nU2FuaXRpemVk\nhttps://seanoauthstage.blob.core.windows.net\nhttps://seanoauthstage.file.core.windows.net\nhttps://seanoauthstage.queue.core.windows.net\nhttps://seanoauthstage.table.core.windows.net\n\n\n\n\nhttps://seanoauthstage-secondary.blob.core.windows.net\nhttps://seanoauthstage-secondary.file.core.windows.net\nhttps://seanoauthstage-secondary.queue.core.windows.net\nhttps://seanoauthstage-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthstage.blob.core.windows.net/;QueueEndpoint=https://seanoauthstage.queue.core.windows.net/;FileEndpoint=https://seanoauthstage.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthstage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthstage-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthstage-secondary.file.core.windows.net/;AccountName=seanoauthstage;AccountKey=Sanitized\n\n\n"
  }
}