{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/mysqlflexrg2517?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/mysqlflexrg2517",
        "name": "mysqlflexrg2517",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/mysqlflexrg2517/providers/Microsoft.DBforMySQL/flexibleServers/mysqlflexserver6790?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_B1ms",
          "tier": "Burstable"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "administratorLogin": "testUser",
          "administratorLoginPassword": "testPassword1!",
          "version": "5.7",
          "createMode": "Default",
          "storage": {
            "storageSizeGB": 512
          },
          "backup": {
            "backupRetentionDays": 7
          },
          "highAvailability": {
            "mode": "Disabled"
          },
          "network": {}
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DBforMySQL/locations/eastus/azureAsyncOperation/78396c92-ffbb-498e-917e-a425833564b0?api-version=2021-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DBforMySQL/locations/eastus/operationResults/78396c92-ffbb-498e-917e-a425833564b0?api-version=2021-05-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "operation": "UpsertServerManagementOperationV2",
        "startTime": "2022-08-23T16:02:17.643Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DBforMySQL/locations/eastus/azureAsyncOperation/78396c92-ffbb-498e-917e-a425833564b0?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "name": "78396c92-ffbb-498e-917e-a425833564b0",
        "status": "InProgress",
        "startTime": "2022-08-23T16:02:17.643Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/mysqlflexrg2517/providers/Microsoft.DBforMySQL/flexibleServers/mysqlflexserver6790?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_B1ms",
          "tier": "Burstable"
        },
        "systemData": {
          "createdAt": "2022-08-23T16:02:19.2520572Z"
        },
        "properties": {
          "administratorLogin": "testUser",
          "storage": {
            "storageSizeGB": 512,
            "iops": 640,
            "autoGrow": "Enabled",
            "storageSku": "Premium_LRS"
          },
          "version": "5.7",
          "state": "Ready",
          "fullyQualifiedDomainName": "mysqlflexserver6790.mysql.database.azure.com",
          "availabilityZone": "2",
          "maintenanceWindow": {
            "customWindow": "Disabled",
            "dayOfWeek": 0,
            "startHour": 0,
            "startMinute": 0
          },
          "replicationRole": "None",
          "replicaCapacity": 10,
          "network": {
            "publicNetworkAccess": "Enabled"
          },
          "backup": {
            "backupRetentionDays": 7,
            "geoRedundantBackup": "Disabled",
            "earliestRestoreDate": "2022-08-23T16:05:44.4206409\u002B00:00"
          },
          "highAvailability": {
            "mode": "Disabled",
            "state": "NotEnabled"
          }
        },
        "location": "East US",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/mysqlflexrg2517/providers/Microsoft.DBforMySQL/flexibleServers/mysqlflexserver6790",
        "name": "mysqlflexserver6790",
        "type": "Microsoft.DBforMySQL/flexibleServers"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/mysqlflexrg2517/providers/Microsoft.DBforMySQL/flexibleServers?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_B1ms",
              "tier": "Burstable"
            },
            "systemData": {
              "createdAt": "2022-08-23T16:02:19.2520572Z"
            },
            "properties": {
              "administratorLogin": "testUser",
              "storage": {
                "storageSizeGB": 512,
                "iops": 640,
                "autoGrow": "Enabled",
                "storageSku": "Premium_LRS"
              },
     [...]
