{
  "Entries": [
    {
      "RequestUri": "/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationRuns?api-version=2017-05-15-preview&$filter=properties%2FsoftwareUpdateConfiguration%2Fname%20eq%20'all-01'",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationRuns/6997253d-1a09-4a86-8ce0-748bdb29ad9c\",\r\n      \"name\": \"6997253d-1a09-4a86-8ce0-748bdb29ad9c\",\r\n      \"properties\": {\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"all-01\"\r\n        },\r\n        \"status\": \"InProgress\",\r\n        \"configuredDuration\": \"PT2H\",\r\n        \"osType\": \"Windows\",\r\n        \"startTime\": \"2017-12-03T21:00:28.179483-08:00\",\r\n        \"endTime\": null,\r\n        \"computerCount\": 2,\r\n        \"failedCount\": 0,\r\n        \"creationTime\": \"2017-12-03T21:00:28.179483-08:00\",\r\n        \"lastModifiedBy\": null,\r\n        \"lastModifiedTime\": \"2017-12-03T21:00:29.99-08:00\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationRuns/c6f3a468-107f-42a3-ad8e-174ff9857fc8\",\r\n      \"name\": \"c6f3a468-107f-42a3-ad8e-174ff9857fc8\",\r\n      \"properties\": {\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"all-01\"\r\n        },\r\n        \"status\": [...]
