{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-cae2cb6f-f4d2-e2e5-a94e-b67f0270907d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1107B2A782\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-cae2cb6f-f4d2-e2e5-a94e-b67f0270907d/test-blob-1422d501-64b6-be5d-27e5-637e3e7f56a1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "yYaM27Ve9lZ1TrfqcjPHzNKfNYagAkuad55fUH6IL/n2K\u002BmVUKBi64Z6GOMQNp9Fi877xORrtcY68mMW/6XX7R6\u002B80dJMnsyPEn/JelnikD/GcSwjGsUi3UiWl09S\u002BvgoivEUUJY\u002B1lSyYeba4/d0mgiF\u002BbhJmCzqWjRJ9ce9PFdH4O9ozj9ph1rXsPjeSDlRIf1GzQF/3vLEKfahtSBM9SWPUwMHy8vJHDJdsid0DBI6\u002BJQKNm9WCAI8pKQIx9J6SruTDvT2SVYxfbDPImzLT93kpvxMQv72eUsAyycnwFRf4ydroT1dBK9\u002BGLj\u002BRuWVcRT[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-cae2cb6f-f4d2-e2e5-a94e-b67f0270907d/test-blob-1422d501-64b6-be5d-27e5-637e3e7f56a1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:13 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D1107F3E92D\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:13 GMT",
        "x-ms-blob-content-md5": "h9T8Uo000kJrBTpoDq/aiA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "hV1s07l7urM=",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:44:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:44:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-11T23:44:13.7021741Z"
      },
      "ResponseBody": "yYaM27Ve9lZ1TrfqcjPHzNKfNYagAkuad55fUH6IL/n2K\u002BmVUKBi64Z6GOMQNp9Fi877xORrtcY68mMW/6XX7R6\u002B80dJMnsyPEn/JelnikD/GcSwjGsUi3UiWl09S\u002BvgoivEUUJY\u002B1lSyYeba4/d0mgiF\u002BbhJmCzqWjRJ9ce9PFdH4O9ozj9ph1rXsPjeSDlRIf1GzQF/3vLEKfahtSBM9SWPUwMHy8vJHDJdsid0DBI6\u002BJQKNm9WCAI8pKQIx9J6SruTDvT2SVYxfbDPImzLT93kpvxMQv72eUsAyycnwFRf4ydroT1dBK9\u002BGLj\u002BRuWVcRTGZCEV7gf83JWp9X4uyb1crz8FX\u002B7gR6JMzioGN/Jla5oSYZwzCjTfbsRnsw8xTw77Yd[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-cae2cb6f-f4d2-e2e5-a94e-b67f0270907d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "416565452",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}