{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0cd0edbc-27cd-c4bd-415b-03a802a33f12?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:25:47 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0E74A45400\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:25:47 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0cd0edbc-27cd-c4bd-415b-03a802a33f12/test-blob-05f5a3f8-acce-0ed2-329a-3577bad34b53",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:25:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "6oQ1ILzM7AlRECCnQSqyhg==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D0E7508AD1C\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:25:48 GMT",
        "x-ms-blob-content-md5": "6oQ1ILzM7AlRECCnQSqyhg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:25:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:25:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:25:48.2197276Z"
      },
      "ResponseBody": "DXEC8e0/G6DV8qlspWF5jVEJev935hW\u002BgHOYPAG1p58tAE/asRgM7uiKhAkjIbqauI0RLEg0CSdbRHF6pt6fIEsJPqQRntw4/IwX7GILml\u002B4/oNzo3tW\u002BPYofm2nkkcJ62O\u002BGeIWiBqx2C\u002B8HR3ET6kSwahbK3zQskWt6SBvkWpEDQH\u002BTYF8onZpwspLmtrZYy7DlNCfrsDn7mecaJ75QkfFdxAcxgInlh8x8WmxhRdr1Ibxq/yZpV9AFl8a3zrXb3\u002BDhSPKvZwsm/6xbbxWNmhPMZQXCJZKLNGw26\u002BiDbbkWYLpLf/0oBbqxA/95zei6uD2y62mwGbpOVlRGuLsiY5HzBM6bQhpWpF9LUOHTESaDfHPrEIJPpkbAPSlo4Y0/TuBtRsjaHzY[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0cd0edbc-27cd-c4bd-415b-03a802a33f12?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:25:48 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "320937383",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}