{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d870d586-0bb5-218f-4d2b-396f18b416e0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:12 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D11078CC931\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:13 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d870d586-0bb5-218f-4d2b-396f18b416e0/test-blob-8ed345c8-9add-9e41-7135-3466b4f0544e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:13 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "nJALbX3CDJAY8284BJMdgCmWvM86AU50EG7ORB1HSi2JgV9zwZQl8Dzp/J/OtWaPe1hLnX8kSptCll0O9Mhz0KlCroM0qb\u002BUcMySUAWvploIP8nF\u002B62tZDfDMCo3Fvx0dSv1iwbjWtGYtiyykvmWk\u002B8CBrT/rtX8lElLcXiUXVnQHdvZuRtTJeT3LESA\u002B9I\u002BLZ06NRBHdcdW\u002Bfa9l\u002BlYA1nS4nQdvdnUruHQB4GQe5l3DEPbWShJiKgUgr8klo37nynqrRhdIHDEZoYvd21Fxn1cRoulfakxiFnMCToZrxhT1GhYpc2BGuzTF/OhGhE6zrtByFACV[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d870d586-0bb5-218f-4d2b-396f18b416e0/test-blob-8ed345c8-9add-9e41-7135-3466b4f0544e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:13 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "WyVKZztZf2Mgh8E50uza7w==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D110796466D\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:13 GMT",
        "x-ms-blob-content-md5": "WyVKZztZf2Mgh8E50uza7w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:44:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:44:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:44:13.0885229Z"
      },
      "ResponseBody": "nJALbX3CDJAY8284BJMdgCmWvM86AU50EG7ORB1HSi2JgV9zwZQl8Dzp/J/OtWaPe1hLnX8kSptCll0O9Mhz0KlCroM0qb\u002BUcMySUAWvploIP8nF\u002B62tZDfDMCo3Fvx0dSv1iwbjWtGYtiyykvmWk\u002B8CBrT/rtX8lElLcXiUXVnQHdvZuRtTJeT3LESA\u002B9I\u002BLZ06NRBHdcdW\u002Bfa9l\u002BlYA1nS4nQdvdnUruHQB4GQe5l3DEPbWShJiKgUgr8klo37nynqrRhdIHDEZoYvd21Fxn1cRoulfakxiFnMCToZrxhT1GhYpc2BGuzTF/OhGhE6zrtByFACVSF/uSS\u002BkBY1qrdt26IF7CGw2yue0ma2j25Ikjp/2OfIUX9G2eyowonVnWw8Mz9uNeKa[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d870d586-0bb5-218f-4d2b-396f18b416e0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:13 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1098204548",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}