{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-df3c1b69-66e6-55f4-c196-60fc1bfa54ad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:26:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0E7FDD7646\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:26:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-df3c1b69-66e6-55f4-c196-60fc1bfa54ad/test-blob-ac672120-ea8a-0da2-ce01-cb4da863673e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:26:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D0E7FE6741A\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:26:06 GMT",
        "x-ms-blob-content-md5": "hxMnw2diiKWKnzLlIodfkA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "m\u002B9d/fUh9Vg=",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:26:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:26:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:26:06.4503834Z"
      },
      "ResponseBody": "vdQ9qCQOLyV6r69Q0xJCKH47jH2mNJps\u002Bu2FzFbPwuD9myM\u002BWm8AYW4upWMyucOwB8RTjsMaUIg60a43iWLOquzPUzfvBM0OOisPd483OUEp1MSSfDQc4kuaA4nBydcMYPt2Y2WMwQP2RFSYC9j5AphtDrSdPC64s3DrVABETXFTAheUwNbbnBPAmzjfg9dzoADwVLojbiPMvrD1oWwDsvbiRAjAZULCkXGh3KH22C\u002BZeLT/U/m2MJT0xwIl5vumvehB/T7Osju\u002BLsJJgpGC1uWAWyi4A179LBRzzJ4/nKt1\u002Bh\u002B4tNvwysZ5QCQ2ba4DcfAdpYrS7bqJQ9EqWuWcf5IX1IdxySIKkJBiP8I6xr5mcFutIfcgogxlL3AKxXDg3MGSH5kmkajOExT6b673T3[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-df3c1b69-66e6-55f4-c196-60fc1bfa54ad?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:26:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "774588982",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}