{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-088868c5-4aaa-f880-cf1d-673460a7876c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:57 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10FE90E5F2\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:57 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-088868c5-4aaa-f880-cf1d-673460a7876c/test-blob-ea6ccb82-ebf9-6a6f-66a2-32c27c978749",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:57 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "U0QM/N676ZWeH3cK6fkEHMb6ZNwLUI27wx\u002BtG1bmTLUZYDOvpluOE5oGmb\u002Bq2hxu5L0eIXeo9AK2UDi\u002BDs0\u002Bt9LC8YnGVHVqa1BCBbfNEOgDPzeYyCo9cWsw\u002BVYjzwXMx\u002BHt6OmSqI9Hs7YnZu9L6D9Pu8\u002BWpe\u002BohIAdlVsfR5xKdT7V4Cj/cJanUBR0FQp85RAW0xM2NSHxRGNpdRMzKGwZ3PCwdQcXUEs47lTbM291oa9KCHOIFD8c5JvElfuDcyinWjkZy3AJ/4PI/UfMFhH09NNj6SD4kcexk5FrUrpPtXssM9g1W9U\u002BQQjwvxf[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-088868c5-4aaa-f880-cf1d-673460a7876c/test-blob-ea6ccb82-ebf9-6a6f-66a2-32c27c978749",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D10FE99F207\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:58 GMT",
        "x-ms-blob-content-md5": "OdMf2ZrmM2uxabxx\u002BUkg0g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "qUf5RDv1b8Y=",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:43:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:43:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:43:58.0130823Z"
      },
      "ResponseBody": "U0QM/N676ZWeH3cK6fkEHMb6ZNwLUI27wx\u002BtG1bmTLUZYDOvpluOE5oGmb\u002Bq2hxu5L0eIXeo9AK2UDi\u002BDs0\u002Bt9LC8YnGVHVqa1BCBbfNEOgDPzeYyCo9cWsw\u002BVYjzwXMx\u002BHt6OmSqI9Hs7YnZu9L6D9Pu8\u002BWpe\u002BohIAdlVsfR5xKdT7V4Cj/cJanUBR0FQp85RAW0xM2NSHxRGNpdRMzKGwZ3PCwdQcXUEs47lTbM291oa9KCHOIFD8c5JvElfuDcyinWjkZy3AJ/4PI/UfMFhH09NNj6SD4kcexk5FrUrpPtXssM9g1W9U\u002BQQjwvxf4UM2Kz6EnH4oHr8lxaDffnazIeEfLn\u002BI4vpj9JKgXCNKvuEPD4YIZKJbwJYQPw/OeX6[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-088868c5-4aaa-f880-cf1d-673460a7876c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "92737824",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}