{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8287e160-3129-ca70-f800-9a814f791646?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D11086F899D\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8287e160-3129-ca70-f800-9a814f791646/test-blob-a74fd757-8d79-9a4a-c71b-ff70243f620d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "ff3qXNhfqfEtFub8PQ3hFatWfmbtKFucd0zVIT0uvH563\u002BTs\u002BPhroz\u002BawNRCOmafoxzbXZ9LJlSiTeSMioe0/1logV0p9Ryy6tomUmiGWT3lNn4gU1/fLriQSasU3xm45sF62rgIdq4AKHLEJdPsG/OmplMJlKv6iVOkmKtxngvBbWymC3\u002BF3cDQHyrtGgjkoy63bjnFrlEVgFFkZN0Cj4pnA7dnRQ90IMmSOXSBDG5Kv/V9uS/R\u002B78bkYstIHjjzZCghhdRfV4eQ01wM3XdlHPiGqTohdZalQf4S7SERv9Qr2vk4IZX\u002BUGXXnbiYchJPf0XSwbU\u002B[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8287e160-3129-ca70-f800-9a814f791646/test-blob-a74fd757-8d79-9a4a-c71b-ff70243f620d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D1108789646\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:14 GMT",
        "x-ms-blob-content-md5": "gxjW2kiKCBF0C\u002B8o74tUEA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:44:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:44:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-11T23:44:14.5716806Z"
      },
      "ResponseBody": "ff3qXNhfqfEtFub8PQ3hFatWfmbtKFucd0zVIT0uvH563\u002BTs\u002BPhroz\u002BawNRCOmafoxzbXZ9LJlSiTeSMioe0/1logV0p9Ryy6tomUmiGWT3lNn4gU1/fLriQSasU3xm45sF62rgIdq4AKHLEJdPsG/OmplMJlKv6iVOkmKtxngvBbWymC3\u002BF3cDQHyrtGgjkoy63bjnFrlEVgFFkZN0Cj4pnA7dnRQ90IMmSOXSBDG5Kv/V9uS/R\u002B78bkYstIHjjzZCghhdRfV4eQ01wM3XdlHPiGqTohdZalQf4S7SERv9Qr2vk4IZX\u002BUGXXnbiYchJPf0XSwbU\u002B0e6RfEPWDGpmvxNH4MK\u002BLPtiyFiUCdfdzM/rw63bPv5fLQkKZqVR6AP7cN6lUFEP0RJ[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8287e160-3129-ca70-f800-9a814f791646?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1787895388",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}