{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dee9aa75-954f-dd6a-1a36-27282f011988?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:05 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1103575F3D\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:05 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dee9aa75-954f-dd6a-1a36-27282f011988/test-blob-490364ee-9550-0843-92c8-52177b182b03",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "wicLnIYu3EisEJ5JlU1mR9MylVvDbI3yCcKVjJzC6UXAQlpPx8dvZPf1AOpx7s7U8UlnvWXr\u002B1WZGZLDmE\u002Br6idYiVPzFn8MwjBjzWuigBvzwZtSWyvg1EYEtq40q8ynSRbDGWV74drKW/o1hy3p95l30Ne0WY77d7QM7mDQ1xdku4NV32a2d9/AiP8xq0wZGr8Vvdv08/CHyKGwb/N6\u002BYPj0MyplBcywFj49NCPycxn8tOhuxo8b8iSzhfFBQfsRY57TtqAb4an4vyC/P8f9/7USH0f2T1opmEDFsUAbbtRC65CE3vy54JM\u002BdkeuXLJc9YY8LyKzGxQE6d4fFjApnRB[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dee9aa75-954f-dd6a-1a36-27282f011988/test-blob-490364ee-9550-0843-92c8-52177b182b03",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:06 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D1103645C67\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:06 GMT",
        "x-ms-blob-content-md5": "SgykdJPiy2MVk7fjR2/1DQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "jm3h/18aFfA=",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:44:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:44:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:44:06.0505191Z"
      },
      "ResponseBody": "wicLnIYu3EisEJ5JlU1mR9MylVvDbI3yCcKVjJzC6UXAQlpPx8dvZPf1AOpx7s7U8UlnvWXr\u002B1WZGZLDmE\u002Br6idYiVPzFn8MwjBjzWuigBvzwZtSWyvg1EYEtq40q8ynSRbDGWV74drKW/o1hy3p95l30Ne0WY77d7QM7mDQ1xdku4NV32a2d9/AiP8xq0wZGr8Vvdv08/CHyKGwb/N6\u002BYPj0MyplBcywFj49NCPycxn8tOhuxo8b8iSzhfFBQfsRY57TtqAb4an4vyC/P8f9/7USH0f2T1opmEDFsUAbbtRC65CE3vy54JM\u002BdkeuXLJc9YY8LyKzGxQE6d4fFjApnRBMfBQ3eSC4mH6099kSuzuOqPv533\u002Bxj9B8QDTeWoqjFJl3YiBeJXylQ1bkPmN7Mi6iUK00b/2Q2qwDuzjr2n20EeM/2xkbcEO/VFwojZGtAU3GO8odbqTbpod0GmpDuajZMCxAO1cVhyAptRthqA0alrnrJZ6zlqM\u002BZHSRpxXZe5rzD52lLQX28LSqM/mJef66WYPwWJPKZVlJQdcig\u002BAKEDlArpivtWlz9DUpyaLpdOp2F01R6OMG6OoEG\u002Btu1CyUX\u002BOASMtlyqRavKRe4Fv2X8zsrKxS\u002BCdWOcWua1l\u002BBN/IVam/aSwfEAzpN2w\u002B58iODfveQmeAQae8Kk7Ft4="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dee9aa75-954f-dd6a-1a36-27282f011988/test-blob-490364ee-9550-0843-92c8-52177b182b03",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D98D1103645C67",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:06 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D1103645C67\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:06 GMT",
    [...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dee9aa75-954f-dd6a-1a36-27282f011988?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "852035331",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}