{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d3ad7668-6796-24fb-42d3-747400044733?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:26:17 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0E8691ECBB\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:26:17 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d3ad7668-6796-24fb-42d3-747400044733/test-blob-d0a6ea43-a33e-9975-4e4e-5a368923269b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:26:17 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D0E869B0237\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:26:17 GMT",
        "x-ms-blob-content-md5": "BAbHZGuHXkS0fQfpOzOZbg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "R2HzaJBrl64=",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:26:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:26:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:26:17.6999991Z"
      },
      "ResponseBody": "md4G7fsa\u002BUr1Zo0aAlGQhvNPXPQlGN2sDYZWdokvui/TDBC1tfIp/BOUOe4QVxlemw1ePLmyMoEAWuB0xILAxqtdRvVA29AAJWDhkN/unLZs\u002BNp80H12IdqPtFoStTiR1HNDshAjHcA8XRdY0aGhEb4qB8ynRPUu5yUbsCZ27nAnT7xsq\u002BmlSdoaP3JmHU847aOb561s6Y99FMvqCGyaxm\u002BmMYHlNWXUhL7xjAWCx8nW48OD2gbDu2Yt7pceu0FtgHgDwOzNUrg9xmPuelyK\u002BkwBEySpFuxo4nUbuEbOtsh9hAyMfwfcCZALRROj1EAJovRKHKccw2mMmt12sZpxbxCacfZQ/XtEJQqUntHYxQ00EhVSg5khYcCjAOQqZVf1mdUDCGNKuKV4BfedhyWXtNXPQp6FH\u002Bx2eRA1rPyWGr\u002BynwT71L2q6llv2X2ihNmaDEwPWyO5cHnpjI9TFAyo4us36uggnN8YJFhEFUZu1PU2m6Cwh7\u002Bc\u002BS\u002BLEUcuV9VNxveSapnxenBs9jbLdFoze7iaHHls\u002BFosm/G5lYqX6s2C909P22lbRSAwQ5CI0IXUV5aOkzpb4M6cZs6oN\u002BTl1QxoSHwL5J9PPtdYPLTJo8ts5D30CFaTJheAsnWasw08Sm6EH4cIyXL2P1ViA6QZ08IDPFOm8cy21SJlijIptYs="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d3ad7668-6796-24fb-42d3-747400044733/test-blob-d0a6ea43-a33e-9975-4e4e-5a368923269b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D98D0E869B0237",
        "x-ms-date": "Mon, 11 Oct 2021 23:26:17 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D0E869B0237\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:26:17 GMT",
    [...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d3ad7668-6796-24fb-42d3-747400044733?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:26:17 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1022435411",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}