{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-03b97449-05fb-b74f-7df5-b53d810aad74?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 18:26:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98CE493AD0C2A\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 18:26:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-03b97449-05fb-b74f-7df5-b53d810aad74/test-blob-0f8861b7-6dfc-b580-59ba-e1c14ad193e0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "H9NXWjhCGlN6gQvtIDMF8w==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 11 Oct 2021 18:26:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "2EjMSOaYWIJHrCLJBAMuV7wm082/KaYKuEsPdKFJuOX92XNAWPCp0VrJPSEAcZ4S3s0oLShmaK6hwpCaiOTg/vQ8yyqQ7f7MfAFz9uyECUas/JbUIYq9l3DEnpZfDkh16D8txKZzgvDPW7Em8nLCHblK7YxODN1pfjS5y05obG64/Q2sV0SgOXmlBcXZl6T9AYHcFSC8J9tiw0ZyubaiZu9DbfRlFcV0qbQTqAcXkOePu8nNi1dN/NYxSpT\u002BLn/CA57WlimwmOy8aGtsqX7USjNf4v7s1NqY9XEeM8sxdXs1UKVoQfq93iLdECPr4VNXXQBhn0uB1S7DPqC3kWUhi/LvN1jYawg4oQPbD8S[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-03b97449-05fb-b74f-7df5-b53d810aad74?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 18:26:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "288361484",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}