{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-747fe0af-24b2-a99c-8d7b-9d63a356a4cf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D11039DEAC8\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-747fe0af-24b2-a99c-8d7b-9d63a356a4cf/test-blob-92b18c9c-1a49-32a6-fbac-a333daa4f3ef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "x2hMTfFBX3Pb0ePvUF5rsKwQkrqNmL76HD9Wu/zYGm8PP3bVj4GbkIlVMD8yJllLuo6Ag4/4Bi\u002BqUTGy6qN3Ard04BHolSEqdAEwOGd\u002ByPblCwFtV5bgFjhGKj1Q6aXm3S6IvkZIYiRtVQ\u002BNyM7IK4k6zN\u002BiCqsglMnYomrj2opcSlo59gmwnKjd/wGHUk5qff\u002BzFR3GQ9KCZyp8cMC5iXuEMX50jzV/ii83xQqqmUF6biRrMMVtlQaHto7fMyznI3aGAiHQ9e7JM4rtj37H2M7oAQKcTVm1F5t37Nmnn1cDT6GUI5cfqng2ovw7gAaHv92/9zEqS9Yc0OuGWAk[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-747fe0af-24b2-a99c-8d7b-9d63a356a4cf/test-blob-92b18c9c-1a49-32a6-fbac-a333daa4f3ef",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:06 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D1103A70106\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:06 GMT",
        "x-ms-blob-content-md5": "pJogqx37c9820yibU14G3A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "LlZlbUqRZis=",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:44:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:44:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:44:06.4872710Z"
      },
      "ResponseBody": "x2hMTfFBX3Pb0ePvUF5rsKwQkrqNmL76HD9Wu/zYGm8PP3bVj4GbkIlVMD8yJllLuo6Ag4/4Bi\u002BqUTGy6qN3Ard04BHolSEqdAEwOGd\u002ByPblCwFtV5bgFjhGKj1Q6aXm3S6IvkZIYiRtVQ\u002BNyM7IK4k6zN\u002BiCqsglMnYomrj2opcSlo59gmwnKjd/wGHUk5qff\u002BzFR3GQ9KCZyp8cMC5iXuEMX50jzV/ii83xQqqmUF6biRrMMVtlQaHto7fMyznI3aGAiHQ9e7JM4rtj37H2M7oAQKcTVm1F5t37Nmnn1cDT6GUI5cfqng2ovw7gAaHv92/9zEqS9Yc0OuGWAkVIZMy6j/dM7Q3yVeKZqpdepeU8Cz756gl2ATLeFOsmFFuIIFoCJXHqowpiC7an\u002BUrv1[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-747fe0af-24b2-a99c-8d7b-9d63a356a4cf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1772313417",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}