{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-fffec6ac-25fa-828f-b27b-d4684408cdc7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:27 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D110FE71F66\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:27 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-fffec6ac-25fa-828f-b27b-d4684408cdc7/test-blob-8219c6de-af3d-cb5a-398f-0e423b111d3f?comp=block\u0026blockid=ZVoZ2wdCcV4YVNInJ1Mqnw%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "lepGDoyDHsw=",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:27 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "ZQeg6mk2hQRRl1kdm37HLBxCrVsAkOekYgTMkuvNxV5U7K2z5HQohWMD6kdnh551TpCLXpktnNMf/IhkafMYhNL7yK7QFEeoGSf3/KWfPNpmVkNaQWbEJ1DZk\u002BjsxBtw6mZ1bL/vpDlI40VxNp8tf7\u002Bt/hOvvkJsN6Be94Ffu1QMhhE/KtAbdrEKEV4hUvGwrBMpPsYHwSwkCDUfka246SfwZa\u002BN7lXvkodhpazjS\u002BSvrUptNn2OBcTlGyGa\u002B\u002BQDUSg3MO1BI76\u002BOaw\u002BpRyAQL1QcORjS7KpYV/qqNMzVJajXVODrBr3bYqMr/zQT1\u0[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-fffec6ac-25fa-828f-b27b-d4684408cdc7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:27 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1335218111",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}