{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "75e96d09-a291-40e1-a5e6-cda78233d867",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "susolank Projects",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourcegroups/chsmSdkTest2216?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/chsmSdkTest2216",
        "name": "chsmSdkTest2216",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/providers/Microsoft.ManagedIdentity?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/providers/Microsoft.ManagedIdentity",
        "namespace": "Microsoft.ManagedIdentity",
        "resourceTypes": [
          {
            "resourceType": "Identities",
            "locations": [
              "Global",
              "Asia",
              "Australia",
              "Brazil",
              "Canada",
              "Europe",
              "France",
              "Germany",
              "India",
              "Japan",
              "Korea",
              "Norway",
              "South Africa",
              "Sweden",
              "Switzerland",
              "UAE",
              "UK",
              "United States",
              "Singapore",
              "South Africa [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/chsmSdkTest2216/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testRi-40?api-version=2023-07-31-PREVIEW",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "ukwest"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourcegroups/chsmSdkTest2216/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testRi-40",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "location": "ukwest",
        "tags": {},
        "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourcegroups/chsmSdkTest2216/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testRi-40",
        "name": "testRi-40",
        "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "properties": {
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "clientId": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourcegroups/chsmSdkTest2216/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testRi-40?api-version=2023-07-31-PREVIEW",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "location": "ukwest",
        "tags": {},
        "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourcegroups/chsmSdkTest2216/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testRi-40",
        "name": "testRi-40",
        "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "properties": {
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "clientId": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/chsmSdkTest2216/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/sdkT8351?api-version=2024-06-30-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "Dept": "SDK Testing",
          "Env": "df",
          "UseMockHfc": "true",
          "MockHfcDelayInMs": "1"
        },
        "location": "ukwest",
        "sku": {
          "family": "B",
          "name": "Standard_B1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "name": "sdkT8351",
        "type": "Microsoft.HardwareSecurityModules/cloudHsmClusters",
        "location": "ukwest",
        "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/chsmSdkTest2216/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/sdkT8351",
        "sku": {
          "family": "B",
          "name": "Standard_B1"
        },
        "properties": {
          "provisioningState": "Provisioning",
          "statusMessage": null,
          "autoGeneratedDomainNameLabelScope": "TenantReuse",
          "fipsApprovedMode": false,
          "activationState": "NotDefined",
          "hsms": [],
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Disabled"
        },
        "tags": {
          "Dept": "SDK Testing",
          "Env": "df",
          "UseMockHfc": "true",
          "MockHfcDelayInMs": "1"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2024-10-18T13:59:29.662Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2024-10-18T13:59:29.662Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/chsmSdkTest2216/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters?api-version=2024-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "sdkT8351",
            "type": "Microsoft.HardwareSecurityModules/cloudHsmClusters",
            "location": "ukwest",
            "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/chsmSdkTest2216/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/sdkT8351",
            "sku": {
              "family": "B",
              "name": "Standard_B1"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "statusMessage": "HSM cluster provisioning successful.",
              "autoGeneratedDomainNameLabelScope": "TenantReuse",
              "fipsApprovedMode": false,
              "activationState": "NotActivated",
              "hsms": [],
              "privateEndpointConnections": [],
              "publicNetworkAccess": "Disabled"
            },
            "tags": {
              "Dept": "SDK Testing",
              "Env": "df",
              "UseMockHfc": "true",
              "MockHfcDelayInMs": "1"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2024-10-18T13:59:29.662Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2024-10-18T13:59:29.662Z"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1278685139",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "75e96d09-a291-40e1-a5e6-cda78233d867"
  }
}
