{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "75e96d09-a291-40e1-a5e6-cda78233d867",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "susolank Projects",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourcegroups/chsmSdkTest2271?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/chsmSdkTest2271",
        "name": "chsmSdkTest2271",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/chsmSdkTest2271/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/sdkT4017?api-version=2024-06-30-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "Env": "df",
          "UseMockHfc": "true",
          "MockHfcDelayInMs": "1"
        },
        "location": "ukwest",
        "sku": {
          "family": "B",
          "name": "Standard_B1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "name": "sdkT4017",
        "type": "Microsoft.HardwareSecurityModules/cloudHsmClusters",
        "location": "ukwest",
        "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/chsmSdkTest2271/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/sdkT4017",
        "sku": {
          "family": "B",
          "name": "Standard_B1"
        },
        "properties": {
          "provisioningState": "Provisioning",
          "statusMessage": null,
          "autoGeneratedDomainNameLabelScope": "TenantReuse",
          "fipsApprovedMode": false,
          "activationState": "NotDefined",
          "hsms": [],
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Disabled"
        },
        "tags": {
          "Env": "df",
          "UseMockHfc": "true",
          "MockHfcDelayInMs": "1"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2024-10-17T12:34:27.899Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2024-10-17T12:34:27.899Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/chsmSdkTest2271/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters?api-version=2024-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "sdkT4017",
            "type": "Microsoft.HardwareSecurityModules/cloudHsmClusters",
            "location": "ukwest",
            "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/chsmSdkTest2271/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/sdkT4017",
            "sku": {
              "family": "B",
              "name": "Standard_B1"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "statusMessage": "HSM cluster provisioning successful.",
              "autoGeneratedDomainNameLabelScope": "TenantReuse",
              "fipsApprovedMode": false,
              "activationState": "NotActivated",
              "hsms": [],
              "privateEndpointConnections": [],
              "publicNetworkAccess": "Disabled"
            },
            "tags": {
              "Env": "df",
              "UseMockHfc": "true",
              "MockHfcDelayInMs": "1"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2024-10-17T12:34:27.899Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2024-10-17T12:34:27.899Z"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1481512075",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "75e96d09-a291-40e1-a5e6-cda78233d867"
  }
}
