{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "75e96d09-a291-40e1-a5e6-cda78233d867",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "susolank Projects",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourcegroups/sdkTestsRg7744?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "ukwest"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg7744",
        "name": "sdkTestsRg7744",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "ukwest",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg7744/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/CloudhsmSDKTest7266?api-version=2022-08-31-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "family": "B",
          "name": "Standard_B1"
        },
        "tags": {
          "Dept": "SDK Testing",
          "Env": "df"
        },
        "location": "ukwest",
        "properties": {
          "securityDomain": {
            "fipsState": 2
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "CloudhsmSDKTest7266",
        "type": "Microsoft.HardwareSecurityModules/cloudHsmClusters",
        "location": "ukwest",
        "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg7744/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/CloudhsmSDKTest7266",
        "sku": {
          "family": "B",
          "name": "Standard_B1"
        },
        "properties": {
          "provisioningState": "Provisioning",
          "autoGeneratedDomainNameLabelScope": "TenantReuse",
          "securityDomain": {
            "fipsState": 2,
            "activationStatus": null
          },
          "hsms": [],
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Disabled"
        },
        "tags": {
          "Dept": "SDK Testing",
          "Env": "df"
        },
        "systemData": {
          "createdBy": "8c04e2a7-4a4a-43bf-bc08-53b4847b53f1",
          "createdByType": "Application",
          "createdAt": "2023-07-06T09:33:20.723Z",
          "lastModifiedBy": "8c04e2a7-4a4a-43bf-bc08-53b4847b53f1",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-07-06T09:33:20.723Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg7744/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/CloudhsmSDKTest7266?api-version=2022-08-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "name": "CloudhsmSDKTest7266",
        "type": "Microsoft.HardwareSecurityModules/cloudHsmClusters",
        "location": "ukwest",
        "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg7744/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/CloudhsmSDKTest7266",
        "sku": {
          "family": "B",
          "name": "Standard_B1"
        },
        "properties": {
          "provisioningState": "Provisioning",
          "autoGeneratedDomainNameLabelScope": "TenantReuse",
          "securityDomain": {
            "fipsState": 2,
            "activationStatus": null
          },
          "hsms": [
            {
              "fqdn": "hsm1.cloudhsmsdktest7266-g7cddccng2hqhzf0.cloudhsm.azure.net",
              "state": "Starting"
            },
            {
              "fqdn": "hsm2.cloudhsmsdktest7266-g7cddccng2hqhzf0.cloudhsm.azure.net",
              "state": "Starting"
            },
            {
              "fqdn": "hsm3.cloudhsmsdktest7266-g7cddccng2hqhzf0.cloudhsm.azure.net",
              "state": "Starting"
            }
          ],
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Disabled"
        },
        "tags": {
          "Dept": "SDK Testing",
          "Env": "df"
        },
        "systemData": {
          "createdBy": "8c04e2a7-4a4a-43bf-bc08-53b4847b53f1",
          "createdByType": "Application",
          "createdAt": "2023-07-06T09:33:20.723Z",
          "lastModifiedBy": "8c04e2a7-4a4a-43bf-bc08-53b4847b53f1",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-07-06T09:33:20.723Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg7744/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters?api-version=2022-08-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "CloudhsmSDKTest7266",
            "type": "Microsoft.HardwareSecurityModules/cloudHsmClusters",
            "location": "ukwest",
            "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg7744/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/CloudhsmSDKTest7266",
            "sku": {
              "family": "B",
              "name": "Standard_B1"
            },
            "properties": {
              "provis[...]
