{
  "Entries": [
    {
      "RequestUri": "/subscriptions/eaa04920-46c9-488e-b765-1db1491c42fb/resourcegroups/MixedRealityNetSdkTests?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"MixedRealityNetSdkTests\",\r\n  \"location\": \"EastUs2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/eaa04920-46c9-488e-b765-1db1491c42fb/resourceGroups/MixedRealityNetSdkTests\",\r\n  \"name\": \"MixedRealityNetSdkTests\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/eaa04920-46c9-488e-b765-1db1491c42fb/resourceGroups/MixedRealityNetSdkTests/providers/Microsoft.MixedReality/objectAnchorsAccounts/NetSdkTests?api-version=2021-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.MixedReality/objectAnchorsAccounts/NetSdkTests' under resource group 'MixedRealityNetSdkTests' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/eaa04920-46c9-488e-b765-1db1491c42fb/resourceGroups/MixedRealityNetSdkTests/providers/Microsoft.MixedReality/objectAnchorsAccounts/NetSdkTests?api-version=2021-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "MS-CV": [
          "UbcsKckhW0yKXBdgRJLbOw.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/eaa04920-46c9-488e-b765-1db1491c42fb/resourceGroups/MixedRealityNetSdkTests/providers/Microsoft.MixedReality/objectAnchorsAccounts/NetSdkTests\",\r\n  \"name\": \"NetSdkTests\",\r\n  \"type\": \"Microsoft.MixedReality/objectAnchorsAccounts\",\r\n  \"identity\": null,\r\n  \"location\": \"EastUs2\",\r\n  \"plan\": null,\r\n  \"sku\": null,\r\n  \"kind\": null,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"accountDomain\": \"mixedreality.azure.com\",\r\n    \"accountId\": \"970593fb-3cb1-4643-9f07-30bcf29e1941\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/eaa04920-46c9-488e-b765-1db1491c42fb/resourceGroups/MixedRealityNetSdkTests/providers/Microsoft.MixedReality/objectAnchorsAccounts/NetSdkTests?api-version=2021-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"EastUs2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "subscriptions/eaa04920-46c9-488e-b765-1db1491c42fb/resourceGroups/MixedRealityNetSdkTests/providers/Microsoft.MixedReality/objectAnchorsAccounts/NetSdkTests"
        ],
        "MS-CV": [
          "g96BQlbqN0a7I1hhtwVDeg.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/eaa04920-46c9-488e-b765-1db1491c42fb/resourceGroups/MixedRealityNetSdkTests/providers/Microsoft.MixedReality/objectAnchorsAccounts/NetSdkTests\",\r\n  \"name\": \"NetSdkTests\",\r\n  \"type\": \"Microsoft.MixedReality/objectAnchorsAccounts\",\r\n  \"identity\": null,\r\n  \"location\": \"EastUs2\",\r\n  \"plan\": null,\r\n  \"sku\": null,\r\n  \"kind\": null,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"accountDomain\": \"mixedreality.azure.com\",\r\n    \"accountId\": \"970593fb-3cb1-4643-9f07-30bcf29e1941\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/eaa04920-46c9-488e-b765-1db1491c42fb/resourceGroups/MixedRealityNetSdkTests/providers/Microsoft.MixedReality/objectAnchorsAccounts/NetSdkTests/listKeys?api-version=2021-03-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "MS-CV": [
          "vavxiTib2EmCHOdFKliP1w.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"CKp5kE+l1nllxYa49nERNP6tw6bN0D/wyc9RxDwbkl4=\",\r\n  \"secondaryKey\": \"wDuaaekBv0tsp8nK+PpdV1bh7EzMoFDEh7ABImQ6xo0=\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/eaa04920-46c9-488e-b765-1db1491c42fb/resourceGroups/MixedRealityNetSdkTests/providers/Microsoft.MixedReality/objectAnchorsAccounts/NetSdkTests/regenerateKeys?api-version=2021-03-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"serial\": 1\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "MS-CV": [
          "67Z7s6G4m0aDJmex70rR6Q.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"mu+sv4YY1P6EC+wLbD0heOawNFcJrb8PX3oqUA54YJ0=\",\r\n  \"secondaryKey\": \"wDuaaekBv0tsp8nK+PpdV1bh7EzMoFDEh7ABImQ6xo0=\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/eaa04920-46c9-488e-b765-1db1491c42fb/resourcegroups/MixedRealityNetSdkTests?api-version=2015-11-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/eaa04920-46c9-488e-b765-1db1491c42fb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1NSVhFRFJFQUxJVFlORVRTREtURVNUUy1FQVNUVVMyIiwiam9iTG9jYXRpb24iOiJlYXN0dXMyIn0?api-version=2015-11-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/eaa04920-46c9-488e-b765-1db1491c42fb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1NSVhFRFJFQUxJVFlORVRTREtURVNUUy1FQVNUVVMyIiwiam9iTG9jYXRpb24iOiJlYXN0dXMyIn0?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/eaa04920-46c9-488e-b765-1db1491c42fb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1NSVhFRFJFQUxJVFlORVRTREtURVNUUy1FQVNUVVMyIiwiam9iTG9jYXRpb24iOiJlYXN0dXMyIn0?api-version=2015-11-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/eaa04920-46c9-488e-b765-1db1491c42fb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1NSVhFRFJFQUxJVFlORVRTREtURVNUUy1FQVNUVVMyIiwiam9iTG9jYXRpb24iOiJlYXN0dXMyIn0?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "eaa04920-46c9-488e-b765-1db1491c42fb"
  }
}