{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/mgmt-group-1806?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "1.0.3.2425",
        "x-ms-ratelimit-remaining-tenant-reads": "11990"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/mgmt-group-1806",
        "type": "Microsoft.Management/managementGroups",
        "name": "mgmt-group-1806",
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "displayName": "mgmt-group-1806",
          "details": {
            "version": 2,
            "updatedTime": "2022-01-11T13:06:40.1599548Z",
            "updatedBy": "7b8faa77-f564-4284-9992-813b178ef8e0",
            "parent": {
              "id": "/providers/Microsoft.Management/managementGroups/72f988bf-86f1-41af-91ab-2d7cd011db47",
              "name": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "displayName": "72f988bf-86f1-41af-91ab-2d7cd011db47"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/mgmt-group-1806x?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "AuthorizationFailed",
          "message": "The client \u00277b8faa77-f564-4284-9992-813b178ef8e0\u0027 with object id \u00277b8faa77-f564-4284-9992-813b178ef8e0\u0027 does not have authorization to perform action \u0027Microsoft.Management/managementGroups/read\u0027 over scope \u0027/providers/Microsoft.Management/managementGroups/mgmt-group-1806x\u0027 or the scope is invalid. If access was recently granted, please refresh your credentials."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1679799225",
    "RESOURCE_MANAGER_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}