{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "0.0.0.0",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/providers/Microsoft.Management/managementGroups/mgmt-group-2449",
            "type": "Microsoft.Management/managementGroups",
            "name": "mgmt-group-2449",
            "properties": {
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "displayName": "mgmt-group-2449"
            }
          },
          {
            "id": "/providers/Microsoft.Management/managementGroups/mgmt-group-4790",
            "type": "Microsoft.Management/managementGroups",
            "name": "mgmt-group-4790",
            "properties": {
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "displayName": "mgmt-group-4790"
            }
          },
          {
            "id": "/providers/Microsoft.Management/managementGroups/mgmt-group-8250",
            "type": "Microsoft.Management/managementGroups",
            "name": "mgmt-group-8250",
            "properties": {
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "displayName": "mgmt-group-8250"
            }
          }
        ],
        "@nextLink": null
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2086783942",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
