{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/mgmt-group-1806?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-1806?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/mgmt-group-1806?api-version=2021-04-01",
        "Retry-After": "10",
        "x-ba-restapi": "1.0.3.2357",
        "x-ms-ratelimit-remaining-managementgroups-requests": "59",
        "x-ms-ratelimit-remaining-tenant-writes": "1199"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/mgmt-group-1806",
        "type": "Microsoft.Management/managementGroups",
        "name": "mgmt-group-1806",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-1806?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-1806?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/mgmt-group-1806?api-version=2021-04-01",
        "Retry-After": "10",
        "x-ba-restapi": "1.0.3.2357",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-1806",
        "name": "mgmt-group-1806",
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-1806?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "1.0.3.2357",
        "x-ms-ratelimit-remaining-tenant-reads": "11985"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-1806",
        "name": "mgmt-group-1806",
        "status": "Succeeded",
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "displayName": "mgmt-group-1806",
          "details": {
            "version": 1,
            "updatedTime": "2021-10-14T02:31:49.4556046Z",
            "updatedBy": "7b8faa77-f564-4284-9992-813b178ef8e0"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/mgmt-group-1806?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "1.0.3.2357",
        "x-ms-ratelimit-remaining-tenant-reads": "11984"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/mgmt-group-1806",
        "type": "Microsoft.Management/managementGroups",
        "name": "mgmt-group-1806",
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "displayName": "mgmt-group-1806",
          "details": {
            "version": 1,
            "updatedTime": "2021-10-14T02:31:49.4556046Z",
            "updatedBy": "7b8faa77-f564-4284-9992-813b178ef8e0",
            "parent": {
              "id": "/providers/Microsoft.Management/managementGroups/72f988bf-86f1-41af-91ab-2d7cd011db47",
              "name": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "displayName": "72f988bf-86f1-41af-91ab-2d7cd011db47"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/mgmt-group-1806?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "1.0.3.2357",
        "x-ms-ratelimit-remaining-tenant-reads": "11983"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/mgmt-group-1806",
        "type": "Microsoft.Management/managementGroups",
        "name": "mgmt-group-1806",
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "displayName": "mgmt-group-1806",
          "details": {
            "version": 1,
            "updatedTime": "2021-10-14T02:31:49.4556046Z",
            "updatedBy": "7b8faa77-f564-4284-9992-813b178ef8e0",
            "parent": {
              "id": "/providers/Microsoft.Management/managementGroups/72f988bf-86f1-41af-91ab-2d7cd011db47",
              "name": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "displayName": "72f988bf-86f1-41af-91ab-2d7cd011db47"
            }
          }
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1630685423",
    "RESOURCE_MANAGER_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}