{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/mgmt-group-7482?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-7482?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/mgmt-group-7482?api-version=2021-04-01",
        "Retry-After": "10",
        "x-ba-restapi": "0.0.0.0",
        "x-ms-ratelimit-remaining-managementgroups-requests": "59",
        "x-ms-ratelimit-remaining-tenant-writes": "1199"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/mgmt-group-7482",
        "type": "Microsoft.Management/managementGroups",
        "name": "mgmt-group-7482",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-7482?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-7482?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/mgmt-group-7482?api-version=2021-04-01",
        "Retry-After": "10",
        "x-ba-restapi": "0.0.0.0",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-7482",
        "name": "mgmt-group-7482",
        "status": "NotStarted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-7482?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "0.0.0.0",
        "x-ms-ratelimit-remaining-tenant-reads": "11996"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-7482",
        "name": "mgmt-group-7482",
        "status": "Succeeded",
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "displayName": "mgmt-group-7482",
          "details": {
            "version": 1,
            "updatedTime": "2022-06-23T03:39:44.0904685Z",
            "updatedBy": "fdc9f735-07d7-441f-92ab-f95b1c49185a"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/mgmt-group-7482?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "0.0.0.0",
        "x-ms-ratelimit-remaining-managementgroups-requests": "58",
        "x-ms-ratelimit-remaining-tenant-reads": "11995"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/mgmt-group-7482",
        "type": "Microsoft.Management/managementGroups",
        "name": "mgmt-group-7482",
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "displayName": "mgmt-group-7482",
          "details": {
            "version": 1,
            "updatedTime": "2022-06-23T03:39:44.0904685Z",
            "updatedBy": "fdc9f735-07d7-441f-92ab-f95b1c49185a",
            "parent": {
              "id": "/providers/Microsoft.Management/managementGroups/72f988bf-86f1-41af-91ab-2d7cd011db47",
              "name": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "displayName": "72f988bf-86f1-41af-91ab-2d7cd011db47"
            }
          }
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "927530640",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
