{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11633335?includeModelDefinition=true\u0026api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-ea24206376adc84ebd4bfce932b9bb14-c4ad31a6204c8147-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11633335. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B119708157?includeModelDefinition=true\u0026api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-b4ed3ac912b1fc4d8bb0bcc246cc46c0-a7ef1379b0e96441-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;119708157. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2020-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;119708157\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a building.\u0[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-f4eb3b8a7b7d0942a1b52d5eb4bd3d6b-210b7d8bff76e74b-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;148227774",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2021-05-17T20:55:33.3154566\u002B00:00"
          },
          {
            "id": "dtmi:example:room;111674183",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2021-05-17T20:55:33.4065933\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;116491062",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1755945808?api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002252edcd35-2870-4f0a-a365-4de27b4db63c\u0022",
        "traceresponse": "00-b86e76dd977aab49a6f6dcb3ca35c339-c6ba7bde6c14fc41-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1755945808",
        "$etag": "W/\u002252edcd35-2870-4f0a-a365-4de27b4db63c\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;119708157",
          "Temperature": {
            "lastUpdateTime": "2021-06-10T20:16:36.4777758Z"
          },
          "Humidity": {
            "lastUpdateTime": "2021-06-10T20:16:36.4777758Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2021-06-10T20:16:36.4777758Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2021-06-10T20:16:36.4777758Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2020-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "max-items-per-page": "5"
      },
      "RequestBody": {
        "query": "SELECT * FROM DigitalTwins"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "query-charge": "3.25",
        "traceresponse": "00-ddedfd24d15f4d4ca93e180ef995b57b-c70415fad04e0444-01"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "roomTwin1303979237",
            "$etag": "W/\u0022a47a8517-d19c-43f3-a555-7efbd0f63743\u0022",
            "Temperature": 80,
            "Humidity": 25,
            "IsOccupied": true,
            "EmployeeId": "Employee1",
            "$metadata": {
              "$model": "dtmi:example:room;169307524",
              [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2020-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "max-items-per-page": "5"
      },
      "RequestBody": {
        "continuationToken": "{\u0022_t\u0022:2,\u0022_s\u0022:null,\u0022_rc\u0022:\u0022[{\\\u0022token\\\u0022:\\\u0022\u002BRID:~20Y8AJCLHFAFAAAAAAAAAA==#RT:1#TRC:5#ISV:2#IEO:65567#QCF:4#FPC:AgEAAACMAALA4OAPADIA/P//AIEAAPQVAACgDcQ/4P/fTQDjAPwh/PD/v1EAgAF1AATg5w8BAED\u002B/xdxAAMAIQAA/FRA/4f43xQlCQK/gAXAB/8/oL6pFKMoAMUAAOBR/Lqo/vkfAOQAAOD/X/D/2wfVAACeviB\u002B/j8zEwBRAHgAVAAA/4/8z38DANEAHvwRQA8A\\\u0022,\\\u0022range\\\u0022:{\\\u0022min\\\u0022:\\\u0022\\\u0022,\\\u0022max\\\u0022:\\\u0022FF\\\u0022}}]\u0022,\u0022_q\u[...]
[...]
