{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B13983924?includeModelDefinition=true\u0026api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;13983924. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B120254295?includeModelDefinition=true\u0026api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "dtmi:example:room;120254295",
        "description": {
          "en": "An enclosure inside a building."
        },
        "displayName": {
          "en": "Room"
        },
        "decommissioned": false,
        "uploadTime": "2020-10-19T18:04:30.7532375\u002B00:00",
        "model": {
          "@id": "dtmi:example:room;120254295",
          "@type": "Interface",
          "displayName": "Room",
          "description": "An enclosure inside a building.",
          "contents": [
            {
              "@type": "Relationship",
              "name": "containedIn",
              "target": "dtmi:example:floor;13983924"
            },
            {
              "@type": "Property",
              "name": "Temperature",
              "schema": "double"
            },
            {
              "@type": "Property",
              "name": "Humidity",
              "schema": "double"
            },
            {
              "@type": "Property",
              "name": "IsOccupied",
              "schema": "boolean"
            },
            {
              "@type": "Property",
              "name": "EmployeeId",
              "schema": "string"
            }
          ],
          "@context": [
            "dtmi:dtdl:context;2"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2020-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;194944531\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a building.\u0[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1525191687?api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002274b0966c-4603-45bf-b59e-563ae095a50d\u0022"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1525191687",
        "$etag": "W/\u002274b0966c-4603-45bf-b59e-563ae095a50d\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;120254295",
          "Temperature": {
            "lastUpdateTime": "10/13/2020 21:31:42"
          },
          "Humidity": {
            "lastUpdateTime": "10/13/2020 21:31:42"
          },
          "IsOccupied": {
            "lastUpdateTime": "10/13/2020 21:31:42"
          },
          "EmployeeId": {
            "lastUpdateTime": "10/13/2020 21:31:42"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1557727833?api-version=2020-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": "{  \u0022$metadata\u0022: {    \u0022$model\u0022: \u0022dtmi:example:room;194944531\u0022  },  \u0022Temperature\u0022: 80,  \u0022Humidity\u0022: 25,  \u0022IsOccupied\u0022: true,  \u0022EmployeeId\u0022: \u0022Employee1\u0022}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022d5ff8392-6686-4461-b1b2-b4487a49d36d\u0022"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1557727833",
        "$etag": "W/\u0022d5ff8392-6686-4461-b1b2-b4487a49d36d\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;194944531",
          "Temperature": {
            "lastUpdateTime": "2020-10-19T18:37:53.1011141Z"
          },
          "Humidity": {
            "lastUpdateTime": "2020-10-19T18:37:53.1011141Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2020-10-19T18:37:53.1011141Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2020-10-19T18:37:53.1011141Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2020-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT * FROM digitaltwins"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "query-charge": "25.259999999999998"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "roomTwin93294209cce3da-9559-48d6-890f-27d0507bc984",
            "$etag": "W/\u00220688d285-22f4-4a4c-a760-a82a8a26a9f1\u0022",
            "Temperature": 80,
            "Humidity": 25,
            "IsOccupied": true,
            "EmployeeId": "Employee1",
            "$metadata": {
              "$model": "dtmi:example:room;1521787",
              "Temperature": {
                "desiredValue": 80,
                "desiredVersion": 1,
                "ackVersion": 1,
                "ackCode": 200,
                "ackDescription": "Auto-Sync"
              },
              "Humidity": {
                "desiredValue": 25,
                "desiredVersion": 1,
                "ackVersion": 1,
                "ackCode": 200,
                "ackDescription": "Auto-Sync"
              },
              "IsOccupied": {
                "desiredValue": true,
                "desiredVersion": 1,
                "ackVersion": 1,
                "ackCode": 200,
                "ackDescription": "Auto-Sync"
              },
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2020-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "continuationToken": "{\u0022_t\u0022:2,\u0022_s\u0022:null,\u0022_rc\u0022:\u0022[{\\\u0022token\\\u0022:\\\u0022\u002BRID:~WftkAMay\u002BXtnAAAAAAAAAA==#RT:4#TRC:100#ISV:2#IEO:65551#FPC:AgEAAADqAGEAgP8zQP9B4P4DABEA/H8iAAD4/wAiAPD/AQASAADg/wMhAMABMgCA/w8AIQBj/hJAgAADAHIAgP7JQBQAAD/AfwD4BwDPgAHAAwBiAADAAQCBAJABUQAAGnEAAAdxAIADYgCABuAAcwAAnHNOOwdxAIADcQAABxID/P//PxEAwP8xQP/PcUD/DxAAEUD/AxQA/z//P/8/AMAxQD/wQkADAAD4IUAfABEA/P8kQP8DAPz/AP8/FwDw/wMAAP8/8P8D8P/7/zFA//kxQAcA0QIw5jRA/3/w//8DAPwQQBMAwP//DwDAYUD/Dw==\\\u0022[...]
[...]
