{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11896582?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "653c3e05-c96d-4cd6-926a-7b8944831436",
        "traceresponse": "00-917bc464aff89847aa4834368455f446-e7c394f4d33c2589-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11896582. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B118658111?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b527727e-9670-45db-adee-8b34d7ed2e83",
        "traceresponse": "00-5cd89eb086f45a4c80433ce938249815-9ebf6def99e7f33b-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;118658111. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;118658111\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a buil[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a8c51816-d185-4c57-9f4a-83d6230be731",
        "traceresponse": "00-f5f541b17fa22f40924b874c2cac72fd-3d1b2a964d56e281-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:Ward;142582203",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-19T23:58:12.9369753\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;177753514",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-19T23:58:12.9483585\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;160994964",
     [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin2019405931?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0d559347-9af2-40c4-82d8-44ae74c62d63",
        "traceresponse": "00-f2751cb86118514ca585e3ebbfb80c52-02604f17e8c38f3a-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin2019405931. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin2019405931?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;118658111"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022177aa44c-89bd-4dd0-9119-08d4f8629af3\u0022",
        "mise-correlation-id": "efb32166-9e52-4560-acb6-444367da0ed0",
        "traceresponse": "00-e19367625f84d44082660dda11ba4a72-9eec891d1556a600-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin2019405931",
        "$etag": "W/\u0022177aa44c-89bd-4dd0-9119-08d4f8629af3\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;118658111",
          "$lastUpdateTime": "2023-01-24T01:01:56.2403131Z",
          "Temperature": {
            "lastUpdateTime": "2023-01-24T01:01:56.2403131Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-01-24T01:01:56.2403131Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-01-24T01:01:56.2403131Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-01-24T01:01:56.2403131Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "max-items-per-page": "5"
      },
      "RequestBody": {
        "query": "SELECT * FROM digitaltwins"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "faa4c10a-cad5-438e-ab29-109232010db3",
        "query-charge": "3.26",
        "traceresponse": "00-2ab8562c629d1d4e9ec96bacdf8ec0c5-ba35360cb71be848-01"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "roomTwin874907283",
            "$etag": "W/\u0022e40cd9e3-2290-4ab2-b922-2a475283c382\u0022",
            "Temperature": 80,
            "Humidity": 25,
            "IsOccupied": true,
            "EmployeeId": "Employee1",
            "$metadata": {
              "$model": "dtmi:example:room;113404396",
              "[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "max-items-per-page": "5"
      },
      "RequestBody": {
        "continuationToken": "{\u0022_t\u0022:2,\u0022_s\u0022:null,\u0022_rc\u0022:\u0022[{\\\u0022token\\\u0022:\\\u0022\u002BRID:~FoBNAMtKRNkLAAAAAAAAAA==#RT:1#TRC:5#ISV:2#IEO:65567#QCF:8#FPC:AgEAAACiAALAALh4DHEADABiAMD//wMTAMADP2YDAGEAADBhAP8/FAAAwP8\u002BAOYIACaAYgAA4C8ARgAACv4fgJTHgDEAAwBRAAADYgAA8P8BH4ADwD9\u002BHoUHADEAAwBiAAD8/wNDAA8AAP\u002BqFYEABgBVAOD/CQAA8L/nkfBAgFeAAcD4f0QAAB7gEODnMXhBAAMAYgDA/z8ANQAAwAMAjicBngE8MQAMAA==\\\u0022,\\\u0022range\\\u0022:{\\\u0022min\\\u0022:\\\u0022\\\u0022,\\\u0022max\\\u0022:\[...]
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B118658111?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "5f521089-c37d-4f20-8158-acf13ccd54b5",
        "traceresponse": "00-7efbe00abf6d64408a2885253685ae2a-5f308bd40f356486-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "464029247"
  }
}
