{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B13983924?includeModelDefinition=true\u0026api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;13983924. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B120254295?includeModelDefinition=true\u0026api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;120254295. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2020-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;120254295\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a building.\u0[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin537968733?api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin537968733. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins http://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin537968733?api-version=2020-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "$metadata": {
          "$model": "dtmi:example:room;120254295"
        },
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002200375bd3-cdbc-4f82-9ffd-5ee6edea29f4\u0022"
      },
      "ResponseBody": {
        "$dtId": "roomTwin537968733",
        "$etag": "W/\u002200375bd3-cdbc-4f82-9ffd-5ee6edea29f4\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;120254295",
          "Temperature": {
            "lastUpdateTime": "2020-10-22T18:12:10.7736364Z"
          },
          "Humidity": {
            "lastUpdateTime": "2020-10-22T18:12:10.7736364Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2020-10-22T18:12:10.7736364Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2020-10-22T18:12:10.7736364Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2020-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT * FROM digitaltwins"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "query-charge": "20.169999999999998"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "roomTwin1498980297",
            "$etag": "W/\u0022d9379766-dc49-4095-8469-7117a69534b0\u0022",
            "Temperature": 80,
            "Humidity": 25,
            "IsOccupied": true,
            "EmployeeId": "Employee1",
            "$metadata": {
              "$model": "dtmi:example:room;119270198",
              "Temperature": {
                "lastUpdateTime": "2020-10-21T16:21:47.6135616Z"
              },
              "Humidity": {
              [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2020-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "continuationToken": "{\u0022_t\u0022:2,\u0022_s\u0022:null,\u0022_rc\u0022:\u0022[{\\\u0022token\\\u0022:\\\u0022\u002BRID:~WftkAP4hqBlxAAAAAAAAAA==#RT:4#TRC:100#ISV:2#IEO:65551#FPC:AgEAAAAaAHEA/gMUQP8PAOAABzjAE0APAMD//48hQD8A\\\u0022,\\\u0022range\\\u0022:{\\\u0022min\\\u0022:\\\u0022\\\u0022,\\\u0022max\\\u0022:\\\u0022FF\\\u0022}}]\u0022,\u0022_q\u0022:\u0022SELECT * FROM digitaltwins\u0022}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
[...]
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2020-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "max-items-per-page": "5"
      },
      "RequestBody": {
        "query": "SELECT * FROM digitaltwins"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "query-charge": "3.26"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "roomTwin1498980297",
            "$etag": "W/\u0022d9379766-dc49-4095-8469-7117a69534b0\u0022",
            "Temperature": 80,
            "Humidity": 25,
            "IsOccupied":[...]
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2020-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "max-items-per-page": "5"
      },
      "RequestBody": {
        "continuationToken": "{\u0022_t\u0022:2,\u0022_s\u0022:null,\u0022_rc\u0022:\u0022[{\\\u0022token\\\u0022:\\\u0022\u002BRID:~WftkAP4hqBlQAAAAAAAAAA==#RT:16#TRC:80#ISV:2#IEO:65551#FPC:AgEAAAAeAFMAC4Lr//8DFED/DwDgAAc4wBNADwDA//\u002BPIUA/AA==\\\u0022,\\\u0022range\\\u0022:{\\\u0022min\\\u0022:\\\u0022\\\u0022,\\\u0022max\\\u0022:\\\u0022FF\\\u0022}}]\u0022,\u0022_q\u0022:\u0022SELECT * FROM digitaltwins\u0022}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "query-charge": "3.09"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "floorTwin941711815",
            "$etag": "W/\u0022eb738161-f2e0-4587-8cb5-29ad474cf93d\u0022",
            "AverageTemperature": 75,
            "$metadata": {
              "$model": "dtmi:example:floor;13675231",
              "AverageTemperature": {
                "lastUpdateTime": "2020-10-22T09:59:25.0436535Z"
              }
            }
          },
          {
            "$dtId": "roomTwin1735182331",
            "$etag": "W/\u00221c736187-8abb-499b-8063-cf15994d06b5\u0022",
            "Temperature": 80,
            "Humidity": 25,
            "IsOccupied": true,
            "EmployeeId": "Employee1",
            "$metadata": {
              "$model": "dtmi:example:room;153048334",
              "Temperature": {
                "lastUpdateTime": "2020-10-22T09:59:25.3435640Z"
              },
              "Humidity": {
                "lastUpdateTime": "2020-10-22T09:59:25.3435640Z"
              },
              "IsOccupied": {
                "lastUpdateTime": "2020-10-22T09:59:25.3435640Z"
              },
              "EmployeeId": {
                "lastUpdateTime": "2020-10-22T09:59:25.3435640Z"
              }
            }
          },
          {
            "$dtId": "hvacTwin1335730075",
            "$etag": "W/\u0022addded86-bbbe-48c6-915a-c42cd3b17213\u0022",
            "TargetTemperature": 80,
            "TargetHumidity": 25,
            "$metadata": {
              "$model": "dtmi:example:hvac;114614787",
              "TargetTemperature": {
                "lastUpdateTime": "2020-10-22T09:59:25.6287818Z"
              },
              "TargetHumidity": {
                "lastUpdateTime": "2020-10-22T09:59:25.6287818Z"
              }
            }
          },
          {
            "$dtId": "floorTwin2117646547",
            "$etag": "W/\u00222dc91dfa-469e-431d-97b6-c088938f5370\u0022",
            "AverageT[...]
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B120254295?api-version=2020-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "869835615"
  }
}