{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B17516826?includeModelDefinition=true\u0026api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;17516826. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B180130729?includeModelDefinition=true\u0026api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;180130729. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2020-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;180130729\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a building.\u0[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin77902172?api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022308533a7-a0ff-4814-b2b5-cd6297fcfa2e\u0022"
      },
      "ResponseBody": {
        "$dtId": "roomTwin77902172",
        "$etag": "W/\u0022308533a7-a0ff-4814-b2b5-cd6297fcfa2e\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;180130729",
          "Temperature": {
            "lastUpdateTime": "09/30/2020 21:22:25"
          },
          "Humidity": {
            "lastUpdateTime": "09/30/2020 21:22:25"
          },
          "IsOccupied": {
            "lastUpdateTime": "09/30/2020 21:22:25"
          },
          "EmployeeId": {
            "lastUpdateTime": "09/30/2020 21:22:25"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin477795476?api-version=2020-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": "{  \u0022$metadata\u0022: {    \u0022$model\u0022: \u0022dtmi:example:room;180130729\u0022  },  \u0022Temperature\u0022: 80,  \u0022Humidity\u0022: 25,  \u0022IsOccupied\u0022: true,  \u0022EmployeeId\u0022: \u0022Employee1\u0022}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022383c1fce-6776-456f-a849-b416bcb7966b\u0022"
      },
      "ResponseBody": {
        "$dtId": "roomTwin477795476",
        "$etag": "W/\u0022383c1fce-6776-456f-a849-b416bcb7966b\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;180130729",
          "Temperature": {
            "lastUpdateTime": "2020-10-06T19:15:50.5114901Z"
          },
          "Humidity": {
            "lastUpdateTime": "2020-10-06T19:15:50.5114901Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2020-10-06T19:15:50.5114901Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2020-10-06T19:15:50.5114901Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2020-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT * FROM digitaltwins where IsOccupied = true"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "query-charge": "25.880000000000003"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "roomTwin93294209cce3da-9559-48d6-890f-27d0507bc984",
            "$etag": "W/\u00220688d285-22f4-4a4c-a760-a82a8a26a9f1\u0022",
            "Temperature": 80,
            "Humidity": 25,
            "IsOccupied": true,
            "EmployeeId": "Employee1",
            "$metadata": {
              "$model": "dtmi:example:room;1521787",
              "Temperature": {
                "desiredValue": 80,
                "desiredVersion": 1,
                "ackVersion": 1,
                "ackCode": 200,
                "ackDescription": "Auto-Sync"
              },
              "Humidity": {
                "desiredValue": 25,
                "desiredVersion": 1,
                "ackVersion": 1,
                "ackCode": 200,
                "ackDescription": "Auto-Sync"
              },
              "IsOccupied": {
                "desiredValue": true,
                "desiredVersion": 1,
                "ackVersion": 1,
                "ackCode": 200,
                "ackDescription": "Auto-Sync"
              },
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2020-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "continuationToken": "{\u0022_t\u0022:2,\u0022_s\u0022:null,\u0022_rc\u0022:\u0022[{\\\u0022token\\\u0022:\\\u0022\u002BRID:~WftkAMay\u002BXtnAAAAAAAAAA==#RT:4#TRC:100#ISV:2#IEO:65551#FPC:AgEAAAA\u002BAGEAgP8zQP9BoN4DABEA\u002BD8iAADwfwAhAOD/IgAAwP8BJ4AyAAD/BwAhAGP\u002BEkCAAAMAcgAA/klAEgAAP8Af\\\u0022,\\\u0022range\\\u0022:{\\\u0022min\\\u0022:\\\u0022\\\u0022,\\\u0022max\\\u0022:\\\u0022FF\\\u0022}}]\u0022,\u0022_q\u0022:\u0022SELECT * FROM digitaltwins where IsOccupied = true\u0022}"
      },
      "StatusCode":[...]
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B180130729?api-version=2020-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "236307620"
  }
}