{
  "Entries": [
    {
      "RequestUri": "https://vinageshnew.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B14036604?includeModelDefinition=true\u0026api-version=2020-05-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;14036604. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://vinageshnew.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B177323580?includeModelDefinition=true\u0026api-version=2020-05-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;177323580. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://vinageshnew.api.wus2.digitaltwins.azure.net/models?api-version=2020-05-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;177323580\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclo[...]
    {
      "RequestUri": "https://vinageshnew.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin54248529?api-version=2020-05-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin54248529. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins http://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://vinageshnew.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin54248529?api-version=2020-05-31-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": "{  \u0022$metadata\u0022: {    \u0022$model\u0022: \u0022dtmi:example:room;177323580\u0022  },  \u0022Temperature\u0022: 80,  \u0022Humidity\u0022: 25,  \u0022IsOccupied\u0022: true,  \u0022EmployeeId\u0022: \u0022Employee1\u0022}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002240fc1d5e-a62b-4cf2-bfbf-10274428673b\u0022"
      },
      "ResponseBody": {
        "$dtId": "roomTwin54248529",
        "$etag": "40fc1d5e-a62b-4cf2-bfbf-10274428673b",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;177323580",
          "Temperature": {
            "desiredValue": 80,
            "desiredVersion": 1,
            "ackVersion": 1,
            "ackCode": 200,
            "ackDescription": "Auto-Sync"
          },
          "Humidity": {
            "desiredValue": 25,
            "desiredVersion": 1,
            "ackVersion": 1,
            "ackCode": 200,
            "ackDescription": "Auto-Sync"
          },
          "IsOccupied": {
            "desiredValue": true,
            "desiredVersion": 1,
            "ackVersion": 1,
            "ackCode": 200,
            "ackDescription": "Auto-Sync"
          },
          "EmployeeId": {
            "desiredValue": "Employee1",
            "desiredVersion": 1,
            "ackVersion": 1,
            "ackCode": 200,
            "ackDescription": "Auto-Sync"
          }
        }
      }
    },
    {
      "RequestUri": "https://vinageshnew.api.wus2.digitaltwins.azure.net/query?api-version=2020-05-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT * FROM digitaltwins where IsOccupied = true"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "query-charge": "5.85"
      },
      "ResponseBody": {
        "items": [],
        "continuationToken": null
      }
    },
    {
      "RequestUri": "https://vinageshnew.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B177323580?api-version=2020-05-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://vinageshnew.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "277400192"
  }
}