{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11301979?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "28ca0fb9-2800-4322-b652-9f1b6d1f5eec",
        "traceresponse": "00-6345184d7c1faef49c64f337f0794c47-e948022490fe054a-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11301979. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B177889497?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9fb4612b-a92c-47ee-9894-9f78459f5a70",
        "traceresponse": "00-000264c889a613ba582037bf457b7a9f-52609718e95b8a4a-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;177889497. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;177889497\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a building.\u0[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0d9eda52-ec58-4a54-a9d1-b12f566a472d",
        "traceresponse": "00-5112c8c5dabc83b7ea6ad2674b2c39e2-078cbadf5b69cc48-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:Ward;113089428",
            "description": {
              "en-US": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en-US": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-05-26T01:04:05.1560817\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;115732946",
            "description": {
              "en-US": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en-US": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-05-26T01:04:05.1564508\u002B00:00"
          },
          {
            "id": "dtmi:example:room;116996374",[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1257875478?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-db0e111e7d52cf38186433eb1a2bb4f7-25d6bd92f9080a40-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1257875478. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1257875478?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "$metadata": {
          "$model": "dtmi:example:room;177889497"
        },
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022ca2a06bc-6fc9-4c97-80ed-c6020d161fef\u0022",
        "traceresponse": "00-5124801802f5b986216b49512e93d79b-ce89da30558ee64a-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1257875478",
        "$etag": "W/\u0022ca2a06bc-6fc9-4c97-80ed-c6020d161fef\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;177889497",
          "$lastUpdateTime": "2022-05-26T01:31:01.7049576Z",
          "Temperature": {
            "lastUpdateTime": "2022-05-26T01:31:01.7049576Z"
          },
          "Humidity": {
            "lastUpdateTime": "2022-05-26T01:31:01.7049576Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-05-26T01:31:01.7049576Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2022-05-26T01:31:01.7049576Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT COUNT() FROM digitaltwins WHERE IS_OF_MODEL(\u0027dtmi:example:room;177889497\u0027, EXACT) AND IsOccupied = true"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6afd456a-6d7d-4f50-bd58-e0df38383bce",
        "query-charge": "2.99",
        "traceresponse": "00-25b3eede60a43604237d138f56b96a19-e84cba2d1fb2384c-01"
      },
      "ResponseBody": {
        "value": [
          {
            "COUNT": 0
          }
        ],
        "continuationToken": null
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B177889497?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "8842407a-f943-4255-b9c9-079c08b8099a",
        "traceresponse": "00-cc11baebbe3e2817b33a0401d5ddd6e9-2b91614c2c89614e-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "724742884"
  }
}
