{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B19112469?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b878e79c-4ccd-4e2c-aab2-96f3b8c5bec1",
        "traceresponse": "00-104b84156f61d84fb475c054f16e1fac-122ed9f240b4f96a-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;19112469. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B119444877?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "22275221-db02-4eba-ba1f-975c2b70860c",
        "traceresponse": "00-7637f7061f39f24c9c876cca2a961e5b-11fe8e224ad454e9-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;119444877. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;119444877\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a building.\u0[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00535bf4-08ed-40d3-85da-6c0638e6651f",
        "traceresponse": "00-26de9fcd3427044995e5dd66618b3c44-1ef0b048d90d4ea6-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;121402403",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2022-06-29T09:12:41.9553675\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;152687811",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-06-29T09:16:39.2263719\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;131703964",
     [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1360497911?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9b66e259-00f3-44be-8abe-87488f78f19f",
        "traceresponse": "00-e91d0f063c8d4c4b92f808a053b0718b-f2649f2a88586e55-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1360497911. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1360497911?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;119444877"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022584b03e4-4505-4b83-9a00-6e09b9d700fa\u0022",
        "mise-correlation-id": "7312f601-e0fa-4686-8569-f69a521ff634",
        "traceresponse": "00-e17c6088847a6344822a9dc130f17500-a1e363ad13b20beb-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1360497911",
        "$etag": "W/\u0022584b03e4-4505-4b83-9a00-6e09b9d700fa\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;119444877",
          "$lastUpdateTime": "2022-06-29T09:17:59.7070816Z",
          "Temperature": {
            "lastUpdateTime": "2022-06-29T09:17:59.7070816Z"
          },
          "Humidity": {
            "lastUpdateTime": "2022-06-29T09:17:59.7070816Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-06-29T09:17:59.7070816Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2022-06-29T09:17:59.7070816Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "max-items-per-page": "5"
      },
      "RequestBody": {
        "query": "SELECT * FROM digitaltwins"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "945bf487-0777-4c65-9ceb-4e204746d880",
        "query-charge": "3.26",
        "traceresponse": "00-74eb5ed4a9df764fba2f5b1032b44ba9-55848b58d000df4b-01"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "roomTwin1131791177",
            "$etag": "W/\u0022aeed63fd-8f53-4383-b707-501f90aee5ce\u0022",
            "Temperature": 80,
            "Humidity": 25,
            "IsOccupied": true,
            "EmployeeId": "Employee1",
            "$metadata": {
              "$model": "dtmi:example:room;121402403",
              [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "max-items-per-page": "5"
      },
      "RequestBody": {
        "continuationToken": "{\u0022_t\u0022:2,\u0022_s\u0022:null,\u0022_rc\u0022:\u0022[{\\\u0022token\\\u0022:\\\u0022\u002BRID:~20Y8ALBoki4CNwAAAAAAAA==#RT:1#TRC:5#ISV:2#IEO:65567#QCF:8#FPC:AgEAAAAkAAI3/AcMALEABQARAAD8EkD4ARwfz4ASQD/x9j8RAIAEoQAAMA==\\\u0022,\\\u0022range\\\u0022:{\\\u0022min\\\u0022:\\\u0022\\\u0022,\\\u0022max\\\u0022:\\\u0022FF\\\u0022}}]\u0022,\u0022_q\u0022:\u0022SELECT * FROM digitaltwins\u0022,\u0022_id\u0022:\u00229cecdb27-4233-4ce3-8d83-928f1dcc4733\u0022,\u0022_tr\u0022:5,\u0022_pn\u0022:1}"[...]
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B119444877?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "0941aac9-2600-42fc-a071-aea754ee7d53",
        "traceresponse": "00-d05c766a690b65408976799a99499c66-af5d93271867e2cb-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1061913046"
  }
}
