{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B13446708?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "da8dd1a6-4409-447c-8446-0bccea35730d",
        "traceresponse": "00-a84eccf75338aca5bd1a2233ad0a828d-d2bc032022009c03-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;13446708. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B119784027?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "161954ed-1485-4d24-b12e-b82e41389d78",
        "traceresponse": "00-28a9d553c97ee90ff7f0ed0251c26e36-0ce90dc84cddd3e6-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;119784027. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;119784027\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a buil[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "79efb32e-2d63-4168-a200-82b176054c8a",
        "traceresponse": "00-59028af3f06c8b8913f60f2f2b52ea0d-f35eb9ffb5bbeea8-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;172332512",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-30T18:49:13.4317179\u002B00:00"
          },
          {
            "id": "dtmi:example:room;120668288",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-30T18:49:13.443748\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;136137213",
            "description": {
         [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin25186255?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d59795fb-597a-4749-99b2-f9450edd1335",
        "traceresponse": "00-8f916f745cc01077a39c1c231a6e70f7-6048ce0a56b25125-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin25186255. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin25186255?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;119784027"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022ea8c0ca5-1bf9-4088-a861-5b0e3eb9b835\u0022",
        "mise-correlation-id": "4a970a56-30b9-4304-8290-ad909b43d258",
        "traceresponse": "00-233e5fc32d4d0d3b899616731b3084b4-e95d115964b1aca8-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin25186255",
        "$etag": "W/\u0022ea8c0ca5-1bf9-4088-a861-5b0e3eb9b835\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;119784027",
          "$lastUpdateTime": "2023-02-01T23:59:40.6573327Z",
          "Temperature": {
            "lastUpdateTime": "2023-02-01T23:59:40.6573327Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-02-01T23:59:40.6573327Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-02-01T23:59:40.6573327Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-02-01T23:59:40.6573327Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT * FROM digitaltwins WHERE IS_OF_MODEL(\u0027dtmi:example:room;119784027\u0027, EXACT) AND IsOccupied = true"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d9d7aea4-5664-461d-9fbe-0173ebc1ce7b",
        "query-charge": "2.89",
        "traceresponse": "00-f637fc90bb6f1379934d98c752f9f0dc-b7a49f92de5a850d-01"
      },
      "ResponseBody": {
        "value": [],
        "continuationToken": null
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B119784027?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "84c9cba0-6b5b-4d3e-b705-b2a2496ccac6",
        "traceresponse": "00-9f92ea53bc7fb4ac9a9f5a2b77549067-7344fb2bcec3be67-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "872810444"
  }
}
