{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11633335?includeModelDefinition=true\u0026api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-3121f6680bd61d48a4bda4bddb0e23e9-1af73b064b68eb40-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11633335. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B119708157?includeModelDefinition=true\u0026api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-21d3ee85e9a32f4d825619ca778540d0-77f3fbcae8f80f4c-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;119708157. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;119708157\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a buil[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-ba12ee101b09414582842d3ba97a9a41-3662a62f3ca7384b-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:Ward;145613168",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-01-20T06:09:22.6352542\u002B00:00"
          },
          {
            "id": "dtmi:example:room;133999852",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2022-01-20T06:09:22.9537885\u002B00:00"
          },
          {
            "id": "dtmi:example:room;111892730",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1755945808?api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022c3b20b5f-22c9-4e57-aaf3-8188f3d73c17\u0022",
        "traceresponse": "00-29dd40969fd3a140a001445790ad90b8-8b7fb12986f59543-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1755945808",
        "$etag": "W/\u0022c3b20b5f-22c9-4e57-aaf3-8188f3d73c17\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;119708157",
          "Temperature": {
            "lastUpdateTime": "2022-01-20T06:09:32.5927323Z"
          },
          "Humidity": {
            "lastUpdateTime": "2022-01-20T06:09:32.5927323Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-01-20T06:09:32.5927323Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2022-01-20T06:09:32.5927323Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2021-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "max-items-per-page": "5"
      },
      "RequestBody": {
        "query": "SELECT * FROM digitaltwins"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "query-charge": "3.25",
        "traceresponse": "00-23ec68d7fe93d648bfda31987b4b844a-c6e4db0d610e254a-01"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "roomTwin460152108",
            "$etag": "W/\u00221b00708e-abb3-4c27-9bb7-250349ac9247\u0022",
            "Temperature": 80,
            "Humidity": 25,
            "IsOccupied": true,
            "EmployeeId": "Employee1",
            "$metadata": {
              "$model": "dtmi:example:room;111892730",
              "[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2021-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "max-items-per-page": "5"
      },
      "RequestBody": {
        "continuationToken": "{\u0022_t\u0022:2,\u0022_s\u0022:null,\u0022_rc\u0022:\u0022[{\\\u0022token\\\u0022:\\\u0022\u002BRID:~FoBNAPEQG0rBEQAAAAAAAA==#RT:1#TRC:5#ISV:2#IEO:65567#QCF:4#FPC:AgEAAAAcAMQRnrF5\u002BP83DADyAAAK/J8SQG8AMADyAADw/wA=\\\u0022,\\\u0022range\\\u0022:{\\\u0022min\\\u0022:\\\u0022\\\u0022,\\\u0022max\\\u0022:\\\u0022FF\\\u0022}}]\u0022,\u0022_q\u0022:\u0022SELECT * FROM digitaltwins\u0022,\u0022_id\u0022:\u0022012dcea4-3a26-4ddc-80f0-297d04dd9807\u0022,\u0022_tr\u0022:5,\u0022_pn\u0022:1}"
      [...]
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B119708157?api-version=2021-06-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "traceresponse": "00-7a6e477ee8f2bb4fbab0b620cb063a61-f1ece0f7056a4e43-01"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "2052078653"
  }
}