{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.scan.purview.azure.com/datasources/test-datasource1009/scans/test-scan1009/filters/custom?api-version=2018-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "custom",
        "id": "datasources/test-datasource1009/scans/test-scan1009/filters/custom",
        "properties": {
          "includeUriPrefixes": [
            "https://foo.file.core.windows.net/share1/user",
            "https://foo.file.core.windows.net/share1/aggregated"
          ],
          "excludeUriPrefixes": [
            "https://foo.file.core.windows.net/share1/user/temp"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "excludeUriPrefixes": [
            "https://foo.file.core.windows.net/share1/user/temp"
          ],
          "includeUriPrefixes": [
            "https://foo.file.core.windows.net/share1/user",
            "https://foo.file.core.windows.net/share1/aggregated"
          ]
        },
        "id": "datasources/test-datasource1009/scans/test-scan1009/filters/custom",
        "name": "custom"
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.scan.purview.azure.com/datasources/test-datasource1009/scans/test-scan1009/filters/custom?api-version=2018-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "excludeUriPrefixes": [
            "https://foo.file.core.windows.net/share1/user/temp"
          ],
          "includeUriPrefixes": [
            "https://foo.file.core.windows.net/share1/user",
            "https://foo.file.core.windows.net/share1/aggregated"
          ]
        },
        "id": "datasources/test-datasource1009/scans/test-scan1009/filters/custom",
        "name": "custom"
      }
    }
  ],
  "Variables": {
    "PURVIEW_SCANNING_URL": "https://dotnetllcpurviewaccount.scan.purview.azure.com/",
    "RandomSeed": "1568566891"
  }
}