{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.scan.purview.azure.com/datasources/test-datasource1009/scans/test-scan1009-2?api-version=2018-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "test-scan1009-2",
        "kind": "AmazonS3Credential",
        "properties": {
          "credential": {
            "referenceName": "test-credential1009",
            "credentialType": "AmazonARN"
          },
          "collection": {
            "type": "CollectionReference",
            "referenceName": "dotnetllcpurviewaccount"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dotnetllcpurviewaccount.scan.purview.azure.com/datasources/test-datasource1009/scans/test-scan1009-2?api-version=2018-12-01-preview\u0026api-version=2018-12-01-preview"
      },
      "ResponseBody": {
        "properties": {
          "credential": {
            "referenceName": "test-credential1009",
            "credentialType": "AmazonARN"
          },
          "roleARN": null,
          "isMauiScan": false,
          "collection": {
            "lastModifiedAt": "2021-10-12T08:55:58.8292694Z",
            "referenceName": "dotnetllcpurviewaccount",
            "type": "CollectionReference"
          },
          "createdAt": "2021-10-12T08:55:58.8292694Z",
          "lastModifiedAt": "2021-10-12T08:55:58.8292694Z"
        },
        "kind": "AmazonS3Credential",
        "id": "datasources/test-datasource1009/scans/test-scan1009-2",
        "name": "test-scan1009-2"
      }
    },
[...]
    {
      "RequestUri": "https://dotnetllcpurviewaccount.scan.purview.azure.com/datasources/test-datasource1009/scans/test-scan1009-2?api-version=2018-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "credential": {
            "referenceName": "test-credential1009",
            "credentialType": "AmazonARN"
          },
          "roleARN": null,
          "isMauiScan": false,
          "collection": {
            "lastModifiedAt": "2021-10-12T08:55:58.8292694Z",
            "referenceName": "dotnetllcpurviewaccount",
            "type": "CollectionReference"
          },
          "createdAt": "2021-10-12T08:55:58.8292694Z",
          "lastModifiedAt": "2021-10-12T08:55:58.8292694Z"
        },
        "kind": "AmazonS3Credential",
        "id": "datasources/test-datasource1009/scans/test-scan1009-2",
        "name": "test-scan1009-2"
      }
    }
  ],
  "Variables": {
    "PURVIEW_SCANNING_URL": "https://dotnetllcpurviewaccount.scan.purview.azure.com/",
    "RandomSeed": "71189313"
  }
}