{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/SDK-test?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/SDK-test",
        "name": "SDK-test",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Resources/deployments/csmd9393?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "storageAccountName": {
                "type": "string",
                "defaultValue": "armbuilddemo1801"
              }
            },
            "variables": {},
            "resources": [
              {
                "type": "Microsoft.Authorization/policyDefinitions",
                "name": "policy2",
                "apiVersion": "2016-12-01",
                "properties": {
                  "policyType": "Custom",
                  "parameters": {},
                  "policyRule": {
                    "if": {
                      "field": "location",
                      "equals": "northeurope"
                    },
                    "then": {
                      "effect": "deny"
                    }
                  }
                }
              },
              {
                "type": "Microsoft.Authorization/policyAssignments",
                "name": "location-lock",
                "apiVersion": "2016-12-01",
                "dependsOn": [
                  "policy2"
                ],
                "properties": {
                  "scope": "[subscription().id]",
                  "policyDefinitionId": "[resourceId(\u0027Microsoft.Authorization/policyDefinitions\u0027, \u0027policy2\u0027)]"
                }
              },
              {
                "type": "Microsoft.Resources/deployments",
                "name": "rg-nested",
                "apiVersion": "2017-05-10",
                "resourceGroup": "SDK-test",
                "properties": {
                  "template": {
                    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "variables": {},
                    "resources": [
                      {
                        "type": "Microsoft.Storage/storageAccounts",
                        "name": "[parameters(\u0027storageAccountName\u0027)]",
                        "apiVersion": "2015-06-15",
                        "location": "East US",
                        "properties": {
                          "accountType": "Standard_LRS",
                          "supportsHttpsTrafficOnly": "true"
                        }
                      }
                    ]
                  },
                  "mode": "Incremental"
                }
              }
            ]
          },
          "parameters": {
            "storageAccountName": {
              "value": "whatifnetsdktest1"
            }
          },
          "mode": "Incremental"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Resources/deployments/csmd9393/operationStatuses/08586014680185971527?api-version=2019-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Resources/deployments/csmd9393",
        "name": "csmd9393",
        "type": "Microsoft.Resources/deployments",
        "location": "westus2",
        "properties": {
          "templateHash": "6720373025847754913",
          "parameters": {
            "storageAccountName": {
              "type": "String",
              "value": "whatifnetsdktest1"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2020-09-15T03:01:10.7295119Z",
          "duration": "PT3.8490448S",
          "correlationId": "8107b599-ee35-44f3-b252-5d2130296c0d",
          "providers": [
            {
              "namespace": "Microsoft.Authorization",
              "resourceTypes": [
                {
                  "resourceType": "policyDefinitions",
                  "locations": [
                    null
                  ]
                },
                {
                  "resourceType": "policyAssignments",
                  "locations": [
                    null
                  ]
                }
              ]
            },
            {
              "namespace": "Microsoft.Resources",
              "resourceTypes": [
                {
                  "resourceType": "deployments",
                  "locations": [
                    null
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyDefinitions/policy2",
                  "resourceType": "Microsoft.Authorization/policyDefinitions",
                  "resourceName": "policy2"
                }
              ],
              "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyAssignments/location-lock",
              "resourceType": "Microsoft.Authorization/policyAssignments",
              "resourceName": "location-lock"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Resources/deployments/csmd9393/operationStatuses/08586014680185971527?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Resources/deployments/csmd6525/whatIf?api-version=2019-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "whatIfSettings": {
            "resultFormat": "FullResourcePayloads"
          },
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "storageAccountName": {
                "type": "string",
                "defaultValue": "armbuilddemo1801"
              }
            },
            "variables": {},
            "resources": [
              {
                "type": "Microsoft.Aut[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItLUNTTUQ2NTI1LUMzMDczN0UzOjJEODNGRToyRDRBNzA6MkQ4MEFFOjJEQzQwQzgzQjBEMkUyIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItLUNTTUQ2NTI1LUMzMDczN0UzOjJEODNGRToyRDRBNzA6MkQ4MEFFOjJEQzQwQzgzQjBEMkUyIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2019-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11969"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItLUNTTUQ2NTI1LUMzMDczN0UzOjJEODNGRToyRDRBNzA6MkQ4MEFFOjJEQzQwQzgzQjBEMkUyIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11961"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "properties": {
          "correlationId": "c30737e3-83fe-4a70-80ae-c40c83b0d2e2",
          "changes": [
            {
              "resourceId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyAssignments/location-lock",
              "changeType": "NoChange",
              "before": {
                "apiVersion": "2016-12-01",
                "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyAssignments/location-lock",
                "name": "location-lock",
                "properties": {
                  "policyDefinitionId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyDefinitions/policy2",
                  "scope": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590"
                },
                "type": "Microsoft.Authorization/policyAssignments"
              },
              "after": {
                "apiVersion": "2016-12-01",
                "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyAssignments/location-lock",
                "name": "location-lock",
                "properties": {
                  "policyDefinitionId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyDefinitions/policy2",
                  "scope": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590"
 [...]
