{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/csmd1554?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/csmd1554",
        "name": "csmd1554",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/csmd1554/providers/Microsoft.Resources/deployments/csmd1154?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "storageAccountName": {
                "type": "string"
              }
            },
            "resources": [
              {
                "type": "Microsoft.Storage/storageAccounts",
                "name": "[parameters(\u0027storageAccountName\u0027)]",
                "apiVersion": "2015-06-15",
                "location": "[resourceGroup().location]",
                "properties": {
                  "accountType": "Standard_LRS",
                  "supportsHttpsTrafficOnly": "true"
                }
              }
            ],
            "outputs": {}
          },
          "parameters": {
            "storageAccountName": {
              "value": "ramokaSATestAnother1"
            }
          },
          "mode": "Incremental"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/csmd1554/providers/Microsoft.Resources/deployments/csmd1154/operationStatuses/08586014591679936557?api-version=2019-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/csmd1554/providers/Microsoft.Resources/deployments/csmd1154",
        "name": "csmd1154",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "5990385231242796503",
          "parameters": {
            "storageAccountName": {
              "type": "String",
              "value": "ramokaSATestAnother1"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2020-09-15T05:28:39.465033Z",
          "duration": "PT1.981068S",
          "correlationId": "a091e25f-f515-4d8b-9f44-72b2d91cd66d",
          "providers": [
            {
              "namespace": "Microsoft.Storage",
              "resourceTypes": [
                {
                  "resourceType": "storageAccounts",
                  "locations": [
                    "westus"
                  ]
                }
              ]
            }
          ],
          "dependencies": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/csmd1554/providers/Microsoft.Resources/deployments/csmd1154/operationStatuses/08586014591679936557?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/csmd1554/providers/Microsoft.Resources/deployments/csmd6064/whatIf?api-version=2019-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "whatIfSettings": {
            "resultFormat": "FullResourcePayloads"
          },
          "template": {
            "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "storageAccountName": {
                "type": "string"
              }
            },
            "resources": [
              {
                "type": "Microsoft.Storage/storageAccounts",
                "name": "[parameters(\u0027storageAccountName\u0027)]",
                "apiVersion": "2015-06-15",
                "location": "[resourceGroup().location]",
                "properties": {
                  "accountType": "Standard_GRS",
                  "supportsHttpsTrafficOnly": "true"
                }
              }
            ],
            "outputs": {}
          },
          "parameters": {
            "storageAccountName": {
              "value": "ramokaSATestAnother1"
            }
          },
          "mode": "Incremental"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItQ1NNRDE1NTQtQ1NNRDYwNjQtMUY3NDQ2Q0I6MkQ2RUFBOjJENDU4NToyRDlDMzQ6MkQ4QzAxMTM5RjRCN0UiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2019-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItQ1NNRDE1NTQtQ1NNRDYwNjQtMUY3NDQ2Q0I6MkQ2RUFBOjJENDU4NToyRDlDMzQ6MkQ4QzAxMTM5RjRCN0UiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItQ1NNRDE1NTQtQ1NNRDYwNjQtMUY3NDQ2Q0I6MkQ2RUFBOjJENDU4NToyRDlDMzQ6MkQ4QzAxMTM5RjRCN0UiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2019-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItQ1NNRDE1NTQtQ1NNRDYwNjQtMUY3NDQ2Q0I6MkQ2RUFBOjJENDU4NToyRDlDMzQ6MkQ4QzAxMTM5RjRCN0UiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11971"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "properties": {
          "correlationId": "1f7446cb-6eaa-4585-9c34-8c01139f4b7e",
          "changes": [
            {
              "resourceId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/csmd1554/providers/Microsoft.Storage/storageAccounts/ramokaSATestAnother1",
              "changeType": "Modify",
              "before": {
                "apiVersion": "2015-06-15",
                "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/csmd1554/providers/Microsoft.Storage/storageAccounts/ramokaSATestAnother1",
                "location": "westus",
                "name": "ramokaSATestAnother1",
                "properties": {
                  "accountType": "Standard_LRS"
                },
                "type": "Microsoft.Storage/storageAccounts"
              },
              "after": {
                "apiVersion": "2015-06-15",
                "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/csmd1554/providers/Microsoft.Storage/storageAccounts/ramokaSATestAnother1",
                "location": "westus",
                "name": "ramokaSATestAnother1",
                "properties": {
                  "accountType": "Standard_GRS",
                  "supportsHttpsTrafficOnly": "true"
                },
                "type": "Microsoft.Storage/storageAccounts"
              },
              "delta": [
                {
                  "path": "properties.accountType",
                  "propertyChangeType": "Modify",
                  "before": "Standard_LRS",
                  "after": "Standard_GRS"
                },
                {
                  "path": "properties.supportsHttpsTrafficOnly",
                  "propertyChangeType": "Create",
                  "after": "true"
                }
              ]
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1661619615",
    "SUBSCRIPTION_ID": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}