{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0004fee6-aec7-40be-8b4e-197a7eca2e0f/resourcegroups/System.local/providers/Microsoft.Backup.Admin/backupLocations?api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvtwYIAdo8oFESU4nnC63A4y2QMWJiPvYe51nAVbW99BrrwXXWRYex4YslGfpztwv1oM8F/R8OPKtpejJCi5tIIXJT4YTNAd5W3bckEovHKi7UBHgcki7lYOpZ4wD5G6qcw93/nf5e+4QOWEiZgHb7"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14976"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0004fee6-aec7-40be-8b4e-197a7eca2e0f/resourceGroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local\",\r\n      \"name\": \"local\",\r\n      \"type\": \"Microsoft.Backup.Admin/backupLocations\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"externalStoreDefault\": {\r\n          \"path\": \"\\\\\\\\su1fileserver\\\\SU1_Infrastructure_2\\\\BackupStore\",\r\n          \"userName\": \"azurestack\\\\azurestackadmin\",\r\n          \"password\": null,\r\n          \"encryptionCertBase64\": null,\r\n          \"encryptionCertThumbprint\": \"E13DFDFC5FDB554E8AE1491A334B694375CD69D2\",\r\n          \"backupFrequencyInHours\": 10,\r\n          \"availableCapacity\": \"29.6 TB\",\r\n          \"isBackupSchedulerEnabled\": false,\r\n          \"nextBackupTime\": \"2018-09-13T18:38:15.2951253Z\",\r\n          \"lastBackupTime\": \"2018-09-13T10:34:00.7672796Z\",\r\n          \"backupRetentionPeriodInDays\": 6\r\n        }\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0004fee6-aec7-40be-8b4e-197a7eca2e0f"
  }
}