{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0004fee6-aec7-40be-8b4e-197a7eca2e0f/resourcegroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local?api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvcxtfKwtRPk+KAg1/hXLp8SW0kJT4aZa/14FWTO0Kkn7V9McW5agDoveDXFsplxdn/0Q5GHwusyj60cknVqCl6acPYZTIo9Wlt8aXuyIqvMuat/F3bMPmGlA0cz9seLMwzo+bJXwNZAtrheAG5J/O"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14971"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0004fee6-aec7-40be-8b4e-197a7eca2e0f/resourceGroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local\",\r\n  \"name\": \"local\",\r\n  \"type\": \"Microsoft.Backup.Admin/backupLocations\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"externalStoreDefault\": {\r\n      \"path\": \"\\\\\\\\su1fileserver\\\\SU1_Infrastructure_2\\\\BackupStore\",\r\n      \"userName\": \"azurestack\\\\azurestackadmin\",\r\n      \"password\": null,\r\n      \"encryptionCertBase64\": null,\r\n      \"encryptionCertThumbprint\": \"E13DFDFC5FDB554E8AE1491A334B694375CD69D2\",\r\n      \"backupFrequencyInHours\": 10,\r\n      \"availableCapacity\": \"29.6 TB\",\r\n      \"isBackupSchedulerEnabled\": false,\r\n      \"nextBackupTime\": \"2018-09-13T18:38:15.2951253Z\",\r\n      \"lastBackupTime\": \"2018-09-13T10:34:00.7672796Z\",\r\n      \"backupRetentionPeriodInDays\": 6\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0004fee6-aec7-40be-8b4e-197a7eca2e0f/resourcegroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local?api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"externalStoreDefault\": {\r\n      \"path\": \"\\\\\\\\su1fileserver\\\\SU1_Infrastructure_2\\\\BackupStore\",\r\n      \"userName\": \"azurestack\\\\azurestackadmin\",\r\n      \"password\": \"password\",\r\n      \"encryptionCertBase64\": \"encryptionCert\",\r\n      \"backupFrequencyInHours\": 10,\r\n      \"isBackupSchedulerEnabled\": false,\r\n      \"backupRetentionPeriodInDays\": 6\r\n    }\r\n  },\r\n  \"location\": \"local\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://adminmanagement.local.azurestack.external/subscriptions/0004fee6-aec7-40be-8b4e-197a7eca2e0f/resourceGroups/system.local/providers/Microsoft.Backup.Admin/backupLocations/local/operationResults/a0851321-25ae-4136-b582-298b04d4262e?api-version=2018-09-01"
        ],
        "Retry-After": [
          "5"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvGserqDkCMVpbd+zvBIdTEmYHs7TxUhZu6+56v8494Ab+sWD5hI8USel+BjL3IVxSXfS0AOHbWiVuGbVIhGpZkO6zERKOCl3i6BtofPHWHPy0nCajuemGmfc8hSAB+xGATKYs8zb95cJgi9PqFpmW"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0004fee6-aec7-40be-8b4e-197a7eca2e0f/resourceGroups/system.local/providers/Microsoft.Backup.Admin/backupLocations/local/operationResults/a0851321-25ae-4136-b582-298b04d4262e?api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvc49ggX7Mjl0SQbydVx2F0qEL3YkEvy12sFz4DZY6xqHvGRTB30XnUzIjz57LUKWw2VpLDyb1PaENDnmznqI8t1btnCl32YXkWoSYleHXnJG4U7qbbmTlhlAL/nWq60oCdv3SZd1mEGn8h27bDsLg"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14970"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0004fee6-aec7-40be-8b4e-197a7eca2e0f/resourceGroups/system.local/providers/Microsoft.Backup.Admin/backupLocations/local\",\r\n  \"name\": \"local\",\r\n  \"type\": \"Microsoft.Backup.Admin/backupLocations\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"externalStoreDefault\": {\r\n      \"path\": \"\\\\\\\\su1fileserver\\\\SU1_Infrastructure_2\\\\BackupStore\",\r\n      \"userName\": \"azurestack\\\\azurestackadmin\",\r\n      \"password\": null,\r\n      \"encryptionKeyBase64\": null,\r\n      \"encryptionCertBase64\": null,\r\n      \"encryptionCertThumbprint\": \"E13DFDFC5FDB554E8AE1491A334B694375CD69D2\",\r\n      \"backupFrequencyInHours\": 10,\r\n      \"availableCapacity\": \"29.6 TB\",\r\n      \"isBackupSchedulerEnabled\": false,\r\n      \"nextBackupTime\": \"2018-09-13T18:38:15.2951253Z\",\r\n      \"lastBackupTime\": \"2018-09-13T10:34:00.7672796Z\",\r\n      \"backupRetentionPeriodInDays\": 6\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
