{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11890"
      },
      "ResponseBody": {
        "id": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "259fbb24-9bcd-4cfc-865c-fc33b22fe38a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CosmosDB-Backup-Restore",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourcegroups/dbaccount-9059?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-9059",
        "name": "dbaccount-9059",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-9059/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9362?api-version=2022-11-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "GlobalDocumentDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "westus2",
        "properties": {
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxStalenessPrefix": 300,
            "maxIntervalInSeconds": 1000
          },
          "locations": [
            {
              "locationName": "westus",
              "isZoneRedundant": false
            }
          ],
          "databaseAccountOfferType": "Standard",
          "ipRules": [
            {
              "ipAddressOrRange": "23.43.230.120"
            }
          ],
          "isVirtualNetworkFilterEnabled": true,
          "enableAutomaticFailover": false,
          "connectorOffer": "Small",
          "disableKeyBasedMetadataWriteAccess": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/dc3be512-512d-4b5d-9483-6e98f8aa3564?api-version=2022-11-15",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-9059/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9362/operationResults/dc3be512-512d-4b5d-9483-6e98f8aa3564?api-version=2022-11-15",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-9059/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9362",
        "name": "dbaccount-9362",
        "location": "West US 2",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "GlobalDocumentDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "systemData": {
          "createdAt": "2023-03-23T13:55:32.3562672Z"
        },
        "properties": {
          "provisioningState": "Creating",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": true,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "Sql",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "WellDefined"
          },
          "instanceId": "1d216c92-4a48-409a-9cdd-a42f614049db",
          "databaseAccountOfferType": "Standard",
          "defaultIdentity": "",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "enablePartitionMerge": false,
          "minimalTlsVersion": "Tls",
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxIntervalInSeconds": 1000,
            "maxStalenessPrefix": 300
          },
          "configurationOverrides": {},
          "writeLocations": [
            {
              "id": "dbaccount-9362-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "dbaccount-9362-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "locations": [
            {
              "id": "dbaccount-9362-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "failoverPolicies": [
            {
              "id": "dbaccount-9362-westus",
              "locationName": "West US",
              "failoverPriority": 0
            }
          ],
          "cors": [],
          "capabilities": [],
          "ipRules": [
            {
              "ipAddressOrRange": "23.43.230.120"
            }
          ],
          "backupPolicy": {
            "type": "Periodic",
            "periodicModeProperties": {
              "backupIntervalInMinutes": 240,
              "backupRetentionIntervalInHours": 8,
              "backupStorageRedundancy": "Invalid"
            }
          },
          "networkAclBypassResourceIds": [],
          "keysMetadata": {
            "primaryMasterKey": {
              "generationTime": "2023-03-23T13:55:32.3562672Z"
            },
            "secondaryMasterKey": {
              "generationTime": "2023-03-23T13:55:32.3562672Z"
            },
            "primaryReadonlyMasterKey": {
              "generationTime": "2023-03-23T13:55:32.3562672Z"
            },
            "secondaryReadonlyMasterKey": {
              "generationTime": "2023-03-23T13:55:32.3562672Z"
            }
          }
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/dc3be512-512d-4b5d-9483-6e98f8aa3564?api-version=2022-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11936"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-9059/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9362?api-version=2022-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11925"
      },
      "ResponseBody": {
        "id": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-9059/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9362",
        "name": "dbaccount-9362",
        "location": "West US 2",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "GlobalDocumentDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "systemData": {
          "createdAt": "2023-03-23T13:57:12.9355934Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "documentEndpoint": "https://dbaccount-9362.documents.azure.com:443/",
          "sqlEndpoint": "https://dbaccount-9362.documents.azure.com:443/",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": true,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "Sql",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
         [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-9059/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9362/sqlDatabases/sql-db-4533?api-version=2022-11-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "resource": {
            "id": "sql-db-4533"
          },
          "options": {
            "throughput": 700
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/7180e53c-10e0-42a7-a338-c83cd16ecddf?api-version=2022-11-15",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-9059/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9362/sqlDatabases/sql-db-4533/operationResults/7180e53c-10e0-42a7-a338-c83cd16ecddf?api-version=2022-11-15",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-9059/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9362/sqlDatabases/sql-db-4533?api-version=2022-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11917"
      },
      "ResponseBody": {
        "id": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-9059/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9362/sqlDatabases/sql-db-4533",
        "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases",
        "name": "sql-db-4533",
        "properties": {
          "resource": {
            "id": "sql-db-4533",
            "_rid": "o5dmAA==",
            "_self": "dbs/o5dmAA==/",
            "_etag": "\u002200005800-0000-0700-0000-641c5ae10000\u0022",
            "_colls": "colls/",
            "_users": "users/",
            "_ts": 1679579873
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-9059/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9362/sqlDatabases/sql-db-4533/containers/sql-container-8480?api-version=2022-11-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "resource": {
            "id": "sql-container-8480",
            "indexingPolicy": {
              "automatic": true,
              "indexingMode": "consistent",
              "includedPaths": [
                {
                  "path": "/*"
                }
              ],
              "excludedPaths": [
                {
                  "path": "/pathToNotIndex/*"
                }
              ],
              "compositeIndexes": [
                [
                  {
                    "path": "/orderByPath1",
                    "order": "ascending"
                  },
                  {
                    "path": "/orderByPath2",
                    "order": "descending"
                  }
                ]
              ],
              "spatialIndexes": [
                {
                  "path": "/*",
                  "types": [
                    "Point"
                  ]
                }
              ]
            },
            "partitionKey": {
              "paths": [
                "/address/zipCode"
              ],
              "kind": "Hash"
            }
          },
          "options": {
            "throughput": 700
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/8f9d2b89-fd82-4abd-a495-1e0507b87819?api-version=2022-11-15",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-9059/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9362/sqlDatabases/sql-db-4533/containers/sql-container-8480/operationResults/8f9d2b89-fd82-4abd-a495-1e0507b87819?api-version=2022-11-15",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
