{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-4500/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-5560/sqlDatabases/sql-db-6889/containers/sql-container-5979?api-version=2022-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11941"
      },
      "ResponseBody": {
        "id": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-4500/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-5560/sqlDatabases/sql-db-6889/containers/sql-container-5979",
        "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers",
        "name": "sql-container-5979",
        "properties": {
          "resource": {
            "id": "sql-container-5979",
            "indexingPolicy": {
              "indexingMode": "consistent",
              "automatic": true,
              "includedPaths": [
                {
                  "path": "/*"
                }
              ],
              "excludedPaths": [
                {
                  "path": "/pathToNotIndex/*"
                },
                {
                  "path": "/\u0022_etag\u0022/?"
                }
              ],
              "spatialIndexes": [
                {
                  "path": "/*",
                  "types": [
                    "Point",
                    "LineString",
                    "Polygon",
                    "MultiPolygon"
                  ]
                }
              ],
              "compositeIndexes": [
                [
                  {
                    "path": "/orderByPath1",
                    "order": "ascending"
                  },
                  {
                    "path": "/orderByPath2",
                    "order": "descending"
                  }
                ]
              ]
            },
            "partitionKey": {
              "paths": [
                "/address/zipCode"
              ],
              "kind": "Hash"
            },
            "uniqueKeyPolicy": {
              "uniqueKeys": []
            },
            "conflictResolutionPolicy": {
              "mode": "LastWriterWins",
              "conflictResolutionPath": "/_ts",
              "conflictResolutionProcedure": ""
            },
            "geospatialConfig": {
              "type": "Geography"
            },
            "_rid": "TMdaAMX3LQs=",
            "_ts": 1679580141,
            "_self": "dbs/TMdaAA==/colls/TMdaAMX3LQs=/",
            "_etag": "\u002200001f00-0000-0700-0000-641c5bed0000\u0022",
            "_docs": "docs/",
            "_sprocs": "sprocs/",
            "_triggers": "triggers/",
            "_udfs": "udfs/",
            "_conflicts": "conflicts/",
            "statistics": [
              {
                "id": "0",
                "sizeInKB": 0,
                "documentCount": 0,
                "sampledDistinctPartitionKeyCount": 0,
                "partitionKeys": []
              }
            ]
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-4500/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-5560/sqlDatabases/sql-db-6889/containers/sql-container-5979/storedProcedures/sql-stored-procedure-3286?api-version=2022-11-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "resource": {
            "id": "sql-stored-procedure-3286",
            "body": "function () {\r\n    var updatetext = getContext();\r\n    var response = context.getResponse();\r\n    response.setBody(\u0027First Hello World\u0027);\r\n}"
          },
          "options": {
            "throughput": 700
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/b164dc10-6466-424b-ac37-ceea368bd6fd?api-version=2022-11-15",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-4500/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-5560/sqlDatabases/sql-db-6889/containers/sql-container-5979/storedProcedures/sql-stored-procedure-3286/operationResults/b164dc10-6466-424b-ac37-ceea368bd6fd?api-version=2022-11-15",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/b164dc10-6466-424b-ac37-ceea368bd6fd?api-version=2022-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11940"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-4500/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-5560/sqlDatabases/sql-db-6889/containers/sql-container-5979/storedProcedures?api-version=2022-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11933"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-4500/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-5560/sqlDatabases/sql-db-6889/containers/sql-container-5979/storedProcedures/sql-stored-procedure-3286",
            "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/storedProcedures",
            "name": "sql-stored-procedure-3286",
            "properties": {
              "resource": {
                "id": "sql-stored-procedure-3286",
                "body": "function () {\r\n    var updatetext = getContext();\r\n    var response = context.getResponse();\r\n    response.setBody(\u0027First Hello World\u0027);\r\n}",
                "_rid": "TMdaAMX3LQsEAAAAAAAAgA==",
                "_self": "dbs/TMdaAA==/colls/TMdaAMX3LQs=/sprocs/TMdaAMX3LQsEAAAAAAAAgA==/",
                "_etag": "\u002200006b55-0000-0700-0000-641c5c2f0000\u0022",
                "_ts": 1679580207
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/05f73275-0f73-4885-82a5-42585331c863?api-version=2022-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11926"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "116445734",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "259fbb24-9bcd-4cfc-865c-fc33b22fe38a"
  }
}
