{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure SDK sandbox",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Resources?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Resources",
        "namespace": "Microsoft.Resources",
        "authorization": {
          "applicationId": "3b990c8b-9607-4c2a-8b04-1d41985facca"
        },
        "resourceTypes": [
          {
            "resourceType": "tenants",
            "locations": [],
            "apiVersions": [
              "2020-01-01",
              "2019-09-01",
              "2019-05-01",
              "2019-04-01",
              "2019-03-01",
              "2018-11-01",
              "2018-09-01",
              "2018-08-01",
              "2018-07-01",
              "2018-05-01",
              "2018-02-01",
              "2018-01-01",
              "2017-08-01",
              "2017-06-01",
              "2017-05-10",
              "2017-05-01",
              "2017-03-01",
              "2016-09-01",
              "2016-07-01",
              "2016-06-01",
              "2016-02-01",
              "2015-11-01",
              "2015-01-01",
              "2014-04-01-preview"
            ],
            "apiProfiles": [
              {
                "profileVersion": "2018-06-01-profile",
                "apiVersion": "2016-06-01"
              },
              {
                "profileVersion": "2019-03-01-hybrid",
                "apiVersion": "2016-06-01"
              }
            ],
            "capabilities": "None"
          },
          {
            "resourceType": "locations",
            "locations": [],
            "apiVersions": [
              "2019-09-01",
              "2019-05-01",
              "2019-04-01",
              "2019-03-01",
              "2018-11-01",
              "2018-09-01",
              "2018-08-01",
              "2018-07-01",
              "2018-05-01",
              "2018-02-01",
              "2018-01-01",
              "2017-08-01",
              "2017-06-01",
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-898?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-898",
        "name": "testRg-898",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "southcentralus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "353679548",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}