{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11974"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Subscription/aliases/test-alias-743?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "workload": "Production",
          "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
          "additionalProperties": {
            "tags": {
              "tag1": "test1",
              "tag2": "test2"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "652970dd-9cbe-4b7f-9efb-02ed2db8c621",
        "MS-CV": "fVb8feLqx0eFcOeihXpoJQ.0",
        "x-gsm": "1.0.0.0",
        "x-ms-ratelimit-remaining-tenant-writes": "1194"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Subscription/aliases/test-alias-743",
        "name": "test-alias-743",
        "type": "Microsoft.Subscription/aliases",
        "properties": {
          "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Subscription/aliases?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a803bd9a-8969-4866-a16d-c851cf0ae33a",
        "MS-CV": "ggfiEXiFNkShVSEQo9CkSQ.0",
        "x-gsm": "1.0.0.0",
        "x-ms-ratelimit-remaining-tenant-reads": "11972"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "434625119",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
