{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11984"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Subscription/aliases/test-alias-3004?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "workload": "Production",
          "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f106bb5b-320a-46c2-b7a9-5e65da338523",
        "MS-CV": "TETaRI3WKU6jq/2FcfEgiw.0",
        "x-gsm": "1.0.0.0",
        "x-ms-ratelimit-remaining-tenant-writes": "1196"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Subscription/aliases/test-alias-3004",
        "name": "test-alias-3004",
        "type": "Microsoft.Subscription/aliases",
        "properties": {
          "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Subscription/aliases?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4ff25f85-6d68-4cb7-b0d6-05a70e871e39",
        "MS-CV": "\u002BBGDEzLkvU6ACZGI4\u002B0A1g.0",
        "x-gsm": "1.0.0.0",
        "x-ms-ratelimit-remaining-tenant-reads": "11980"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1908345663",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
