{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Subscription/aliases/test-alias-6590?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "workload": "Production",
          "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
          "additionalProperties": {
            "tags": {
              "tag1": "test1",
              "tag2": "test2"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a60440d8-7cce-4c45-bedb-b081942cb967",
        "MS-CV": "L/klTEP9zU\u002BlKsDTlvXriA.0",
        "x-gsm": "1.0.0.0",
        "x-ms-ratelimit-remaining-tenant-writes": "1199"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Subscription/aliases/test-alias-6590",
        "name": "test-alias-6590",
        "type": "Microsoft.Subscription/aliases",
        "properties": {
          "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Subscription/aliases?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4aaef042-ec16-4f53-9024-a76c7ee3a3d6",
        "MS-CV": "xsWE/UjXoEqzzdqeD2POeg.0",
        "x-gsm": "1.0.0.0",
        "x-ms-ratelimit-remaining-tenant-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/providers/Microsoft.Subscription/aliases/test-alias-6590",
            "name": "test-alias-6590",
            "type": "Microsoft.Subscription/aliases",
            "properties": {
              "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Subscription/aliases/test-alias-6590?api-version=2021-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "mise-correlation-id": "bec610d1-aab2-44ce-b179-2e6d05f7e552",
        "MS-CV": "17uOlXmOvUynfStwzAMKEA.0",
        "x-gsm": "1.0.0.0",
        "x-ms-ratelimit-remaining-tenant-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "655259735",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
