{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11959"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Subscription/aliases/test-alias-5701?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "workload": "Production",
          "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
          "additionalProperties": {
            "tags": {
              "tag1": "test1",
              "tag2": "test2"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "178e93b2-aa2d-4329-958e-96b15c453df6",
        "MS-CV": "LX7rsqcjx06ALwjD2YIlFg.0",
        "x-gsm": "1.0.0.0",
        "x-ms-ratelimit-remaining-tenant-writes": "1191"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Subscription/aliases/test-alias-5701",
        "name": "test-alias-5701",
        "type": "Microsoft.Subscription/aliases",
        "properties": {
          "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Subscription/aliases?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0884f533-9043-4e98-9c25-3b255e1e1937",
        "MS-CV": "63OoiD7WAE\u002BPxQYcJjJZQA.0",
        "x-gsm": "1.0.0.0",
        "x-ms-ratelimit-remaining-tenant-reads": "11955"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1062688181",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
