{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Subscription/aliases/test-alias-4045?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "workload": "Production",
          "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
          "additionalProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c9d18d80-f602-47fa-917a-a5027b2d5b5a",
        "MS-CV": "FCvInMgJF0my1cSSzBgQZg.0",
        "x-gsm": "1.0.0.0",
        "x-ms-ratelimit-remaining-tenant-writes": "1198"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Subscription/aliases/test-alias-4045",
        "name": "test-alias-4045",
        "type": "Microsoft.Subscription/aliases",
        "properties": {
          "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Subscription/aliases?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "56b75347-ec61-49e3-989e-0a128282d37a",
        "MS-CV": "KIT9oXxtmkumzvc16m6doA.0",
        "x-gsm": "1.0.0.0",
        "x-ms-ratelimit-remaining-tenant-reads": "11994"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/providers/Microsoft.Subscription/aliases/test-alias-4045",
            "name": "test-alias-4045",
            "type": "Microsoft.Subscription/aliases",
            "properties": {
              "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Subscription/aliases/test-alias-4045?api-version=2021-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "mise-correlation-id": "dc73f4b0-e83d-446f-8e4a-8e810c0828c9",
        "MS-CV": "lsbZiCqPHE\u002B2pk0tXwgXAg.0",
        "x-gsm": "1.0.0.0",
        "x-ms-ratelimit-remaining-tenant-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1213084528",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
