{
  "Entries": [
    {
      "RequestUri": "https://t487ba7ce49634c8eprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 25 Aug 2020 16:38:18 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableihqg99qo"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": [
        "{\u0022odata.error\u0022:{\u0022code\u0022:\u0022429\u0022,\u0022message\u0022:{\u0022lang\u0022:\u0022en-us\u0022,\u0022value\u0022:\u0022Message: {\\\u0022Errors\\\u0022:[\\\u0022Request rate is large. More Request Units may be needed, so no changes were made. Please retry this request later. Learn more: http://aka.ms/cosmosdb-error-429\\\u0022]}\\r\\nActivityId: 1e74261a-36f8-46a6-a431-14c8678869d9, Request URI: /apps/65b0b36e-d528-403d-872e-6a1053e48e3d/services/a82d2903-67a5-4a5a-8dc0-7c5a1421f721/partitions/87d8bdaa-a936-4df3-8363-94235d9faaf9/replicas/132428460044248672p, RequestStats: , SDK: Microsoft.Azure.Documents.Common/2.11.0, documentdb-dotnet-sdk/2.11.0 Host/64-bit MicrosoftWindowsNT/6.2.9200.0\\nRequestID:8da52938-f555-45ea-47ef-0a9ea7d0193b\\n\u0022}}}\r\n"
      ]
    },
[...]
    {
      "RequestUri": "https://t487ba7ce49634c8eprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 25 Aug 2020 16:38:28 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableihqg99qo"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-08-25T16%3A38%3A28.6806024Z\u0027\u0022",
        "Location": "https://t487ba7ce49634c8eprim.table.cosmos.azure.com/Tables(\u0027testtableihqg99qo\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtableihqg99qo",
        "odata.metadata": "https://t487ba7ce49634c8eprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://t487ba7ce49634c8eprim.table.cosmos.azure.com/testtableihqg99qo?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Tue, 25 Aug 2020 16:38:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "DateTimeOffsetNull": null,
        "DateTimeOffsetN": "2020-01-01T01:02:00.0000000Z",
        "DateTimeOffsetN@odata.type": "Edm.DateTime",
        "DateTimeOffset": "2020-01-01T01:02:00.0000000Z",
        "DateTimeOffset@odata.type": "Edm.DateTime",
        "DateTimeNull": null,
        "DateTimeN": "2020-01-01T01:02:00.0000000Z",
        "DateTimeN@odata.type": "Edm.DateTime",
        "DateTime": "2020-01-01T01:02:00.0000000Z",
        "DateTime@odata.type": "Edm.DateTime",
        "DateTimeAsString": "2020-01-01T01:02:00.0000000Z",
        "BoolNull": null,
        "BoolN": false,
        "Bool": false,
        "BoolPrimitiveNull": null,
        "BoolPrimitiveN": false,
        "BoolPrimitive": false,
        "Binary": "AQIB",
        "Binary@odata.type": "Edm.Binary",
        "BinaryNull": null,
        "BinaryPrimitive": "AQIB",
        "BinaryPrimitive@odata.type": "Edm.Binary",
        "DoublePrimitiveNull": null,
        "DoublePrimitiveN": 1.01,
        "DoublePrimitiveN@odata.type": "Edm.Double",
        "DoublePrimitive": 1.01,
        "DoublePrimitive@odata.type": "Edm.Double",
        "DoubleNull": null,
        "DoubleN": 1.01,
        "DoubleN@odata.type": "Edm.Double",
        "Double": 1.01,
        "Double@odata.type": "Edm.Double",
        "DoubleInteger": 1,
        "DoubleInteger@odata.type": "Edm.Double",
        "GuidNull": null,
        "GuidN": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "GuidN@odata.type": "Edm.Guid",
        "Guid": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "Guid@odata.type": "Edm.Guid",
        "IntegerPrimitiveNull": null,
        "IntegerPrimitiveN": 1,
        "IntegerPrimitive": 1,
        "Int32Null": null,
        "Int32N": 1,
        "Int32": 1,
        "LongPrimitiveNull": null,
        "LongPrimitiveN": "2147483648",
        "LongPrimitiveN@odata.type": "Edm.Int64",
        "LongPrimitive": "2147483648",
        "LongPrimitive@odata.type": "Edm.Int64",
        "Int64Null": null,
        "Int64N": "123456789012",
        "Int64N@odata.type": "Edm.Int64",
        "Int64": "2147483648",
        "Int64@odata.type": "Edm.Int64",
        "String": "0001",
        "PartitionKey": "somPartition",
        "RowKey": "0001",
        "Timestamp": null
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272020-08-25T16%3A38%3A29.3032968Z\u0027\u0022",
        "Location": "https://t487ba7ce49634c8eprim.table.cosmos.azure.com/testtableihqg99qo(PartitionKey=\u0027somPartition\u0027,RowKey=\u00270001\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://t487ba7ce49634c8eprim.table.cosmos.azure.com/testtableihqg99qo()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=%28PartitionKey%20eq%20%27somPartition%27%29%20and%20%28RowKey%20eq%20%270002%27%29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 25 Aug 2020 16:38:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272020-08-25T16%3A38%3A29.3732360Z\u0027\u0022",
            "DateTimeOffsetN@odata.type": "Edm.DateTime",
            "DateTimeOffsetN": "2020-01-01T01:03:00.0000000Z",
            "DateTimeOffset@odata.type": "Edm.DateTime",
            "DateTimeOffset": "2020-01-01T01:03:00.0000000Z",
            "DateTimeN@odata.type": "Edm.DateTime",
            "DateTimeN": "2020-01-01T01:03:00.0000000Z",
            "DateTime@odata.type": "Edm.DateTime",
            "DateTime": "2020[...]
    {
      "RequestUri": "https://t487ba7ce49634c8eprim.table.cosmos.azure.com/Tables(\u0027testtableihqg99qo\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Aug 2020 16:38:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1915386832",
    "TABLES_COSMOS_ACCOUNT_NAME": "t487ba7ce49634c8eprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}