{
  "Entries": [
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 19 Aug 2020 13:14:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablea1nxjuh6"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-08-19T13%3A14%3A20.4229640Z\u0027\u0022",
        "Location": "https://chrissprim.table.cosmos.azure.com/Tables(\u0027testtablea1nxjuh6\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtablea1nxjuh6",
        "odata.metadata": "https://chrissprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/testtablea1nxjuh6?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 19 Aug 2020 13:14:21 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "StringTypeProperty": "This is table entity number 01",
        "DatetimeTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "GuidTypeProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "BinaryTypeProperty": "AQIDBAU=",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "Int64TypeProperty": "1",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "DoubleTypeProperty": 1,
        "DoubleTypeProperty@odata.type": "Edm.Double",
        "IntTypeProperty": 1,
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "Timestamp": null,
        "ETag": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-08-19T13%3A14%3A20.8902152Z\u0027\u0022",
        "Location": "https://chrissprim.table.cosmos.azure.com/testtablea1nxjuh6(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.cosmos.azure.com/testtablea1nxjuh6/$metadata#testtablea1nxjuh6/@Element",
        "odata.etag": "W/\u0022datetime\u00272020-08-19T13%3A14%3A20.8902152Z\u0027\u0022",
        "StringTypeProperty": "This is table entity number 01",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "GuidTypeProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "BinaryTypeProperty": "AQIDBAU=",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "Int64TypeProperty": "1",
        "DoubleTypeProperty": 1,
        "IntTypeProperty": 1,
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "Timestamp@odata.type": "Edm.DateTime",
        "Timestamp": "2020-08-19T13:14:20.8902152Z"
      }
    },
[...]
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/testtablea1nxjuh6()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$top=10\u0026$filter=PartitionKey%20eq%20%27somPartition%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 19 Aug 2020 13:14:22 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-continuation-NextPartitionKey": "{\u0022token\u0022:\u0022\u002BRID:~b1w3ALJ\u002BGoEKAAAAAAAAAA==#RT:1#TRC:10#ISV:2#IEO:65551#FPC:AQoAAAAAAAAAFAAAAAAAAAA=\u0022,\u0022range\u0022:{\u0022min\u0022:\u0022\u0022,\u0022max\u0022:\u0022FF\u0022}}",
        "x-ms-continuation-NextRowKey": "NA"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272020-08-19T13%3A14%3A20.8902152Z\u0027\u0022",
            "StringTypeProperty": "This is table entity number 01",
            "DatetimeTypeProperty@odata.type": "Edm.DateTime",
            "DatetimeTypeProperty": "2020-01-01T01:02:00.0000000Z",
            "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
            "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00.0000000Z",
            "GuidTypeProperty@odata.type": "Edm[...]
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/testtablea1nxjuh6()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$top=10\u0026$filter=PartitionKey%20eq%20%27somPartition%27\u0026NextPartitionKey=%7B%22token%22%3A%22%2BRID%3A~b1w3ALJ%2BGoEKAAAAAAAAAA%3D%3D%23RT%3A1%23TRC%3A10%23ISV%3A2%23IEO%3A65551%23FPC%3AAQoAAAAAAAAAFAAAAAAAAAA%3D%22%2C%22range%22%3A%7B%22min%22%3A%22%22%2C%22max%22%3A%22FF%22%7D%7D\u0026NextRowKey=NA",
      "RequestMethod": "GET",
      "Req[...]
    {
      "RequestUri": "https://chrissprim.table.cosmos.azure.com/Tables(\u0027testtablea1nxjuh6\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Aug 2020 13:14:22 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2029280009",
    "TABLES_COSMOS_ACCOUNT_NAME": "chrissprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": ""
  }
}