{
  "Entries": [
    {
      "RequestUri": "https://td29f528fe8af4d53prim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Aug 2020 22:26:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablef9lfnshy"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-08-20T22%3A26%3A03.0364680Z\u0027\u0022",
        "Location": "https://td29f528fe8af4d53prim.table.cosmos.azure.com/Tables(\u0027testtablef9lfnshy\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtablef9lfnshy",
        "odata.metadata": "https://td29f528fe8af4d53prim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://td29f528fe8af4d53prim.table.cosmos.azure.com/testtablef9lfnshy?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Aug 2020 22:26:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "DateTimeOffsetNull": null,
        "DateTimeOffsetN": "2020-01-01T01:02:00.0000000Z",
        "DateTimeOffsetN@odata.type": "Edm.DateTime",
        "DateTimeOffset": "2020-01-01T01:02:00.0000000Z",
        "DateTimeOffset@odata.type": "Edm.DateTime",
        "DateTimeNull": null,
        "DateTimeN": "2020-01-01T01:02:00.0000000Z",
        "DateTimeN@odata.type": "Edm.DateTime",
        "DateTime": "2020-01-01T01:02:00.0000000Z",
        "DateTime@odata.type": "Edm.DateTime",
        "DateTimeAsString": "2020-01-01T01:02:00.0000000Z",
        "BoolNull": null,
        "BoolN": false,
        "Bool": false,
        "BoolPrimitiveNull": null,
        "BoolPrimitiveN": false,
        "BoolPrimitive": false,
        "Binary": "AQIB",
        "Binary@odata.type": "Edm.Binary",
        "BinaryNull": null,
        "BinaryPrimitive": "AQIB",
        "BinaryPrimitive@odata.type": "Edm.Binary",
        "DoublePrimitiveNull": null,
        "DoublePrimitiveN": 1.01,
        "DoublePrimitiveN@odata.type": "Edm.Double",
        "DoublePrimitive": 1.01,
        "DoublePrimitive@odata.type": "Edm.Double",
        "DoubleNull": null,
        "DoubleN": 1.01,
        "DoubleN@odata.type": "Edm.Double",
        "Double": 1.01,
        "Double@odata.type": "Edm.Double",
        "DoubleInteger": 1,
        "DoubleInteger@odata.type": "Edm.Double",
        "GuidNull": null,
        "GuidN": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "GuidN@odata.type": "Edm.Guid",
        "Guid": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "Guid@odata.type": "Edm.Guid",
        "IntegerPrimitiveNull": null,
        "IntegerPrimitiveN": 1,
        "IntegerPrimitive": 1,
        "Int32Null": null,
        "Int32N": 1,
        "Int32": 1,
        "LongPrimitiveNull": null,
        "LongPrimitiveN": "2147483648",
        "LongPrimitiveN@odata.type": "Edm.Int64",
        "LongPrimitive": "2147483648",
        "LongPrimitive@odata.type": "Edm.Int64",
        "Int64Null": null,
        "Int64N": "123456789012",
        "Int64N@odata.type": "Edm.Int64",
        "Int64": "2147483648",
        "Int64@odata.type": "Edm.Int64",
        "String": "0001",
        "PartitionKey": "somPartition",
        "RowKey": "0001",
        "Timestamp": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272020-08-20T22%3A26%3A03.4564104Z\u0027\u0022",
        "Location": "https://td29f528fe8af4d53prim.table.cosmos.azure.com/testtablef9lfnshy(PartitionKey=\u0027somPartition\u0027,RowKey=\u00270001\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://td29f528fe8af4d53prim.table.cosmos.azure.com/testtablef9lfnshy/$metadata#testtablef9lfnshy/@Element",
        "odata.etag": "W/\u0022datetime\u00272020-08-20T22%3A26%3A03.4564104Z\u0027\u0022",
        "DateTimeOffsetN@odata.type": "Edm.DateTime",
        "DateTimeOffsetN": "2020-01-01T01:02:00.0000000Z",
        "DateTimeOffset@odata.type": "Edm.DateTime",
        "DateTimeOffset": "2020-01-01T01:02:00.0000000Z",
        "DateTimeN@odata.type": "Edm.DateTime",
        "DateTimeN": "2020-01-01T01:02:00.0000000Z",
        "DateTime@odata.type": "Edm.DateTime",
        "DateTime": "2020-01-01T01:02:00.0000000Z",
     [...]
[...]
    {
      "RequestUri": "https://td29f528fe8af4d53prim.table.cosmos.azure.com/testtablef9lfnshy()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=%28%28%28RowKey%20eq%20%270004%27%29%20and%20%28Int32%20eq%204%29%29%20or%20%28%28Int32%20eq%202%29%20and%20%28%28String%20eq%20%27wrong%20string%27%29%20or%20%28Bool%20eq%20true%29%29%29%29%20or%20%28LongPrimitiveN%20eq%202147483697L%29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Aug 2020 22:26:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272020-08-20T22%3A26%3A03.5267592Z\u0027\u0022",
            "DateTimeOffsetN@odata.type": "Edm.DateTime",
            "DateTimeOffsetN": "2020-01-01T01:03:00.0000000Z",
            "DateTimeOffset@odata.type": "Edm.DateTime",
            "DateTimeOffset": "2020-01-01T01:03:00.0000000Z",
            "DateTimeN@odata.type": "Edm.DateTime",
            "DateTimeN": "2020-01-01T01:03:00.0000000Z",
            "DateTime@odata.type": "Edm.[...]
    {
      "RequestUri": "https://td29f528fe8af4d53prim.table.cosmos.azure.com/Tables(\u0027testtablef9lfnshy\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Aug 2020 22:26:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1498365604",
    "TABLES_COSMOS_ACCOUNT_NAME": "td29f528fe8af4d53prim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
