{
  "Entries": [
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 22 Mar 2021 23:37:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablelpbwmxbz"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json;odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-03-22T23%3A37%3A50.6610184Z\u0027\u0022",
        "Location": "https://jverazsdkprim.table.cosmos.azure.com/Tables(\u0027testtablelpbwmxbz\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtablelpbwmxbz",
        "odata.metadata": "https://jverazsdkprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/testtablelpbwmxbz?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Mon, 22 Mar 2021 23:37:50 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "DateTimeOffsetNull": null,
        "DateTimeOffsetN": "2020-01-01T01:02:00.0000000Z",
        "DateTimeOffsetN@odata.type": "Edm.DateTime",
        "DateTimeOffset": "2020-01-01T01:02:00.0000000Z",
        "DateTimeOffset@odata.type": "Edm.DateTime",
        "DateTimeNull": null,
        "DateTimeN": "2020-01-01T01:02:00.0000000Z",
        "DateTimeN@odata.type": "Edm.DateTime",
        "DateTime": "2020-01-01T01:02:00.0000000Z",
        "DateTime@odata.type": "Edm.DateTime",
        "DateTimeAsString": "2020-01-01T01:02:00.0000000Z",
        "BoolNull": null,
        "BoolN": false,
        "Bool": false,
        "BoolPrimitiveNull": null,
        "BoolPrimitiveN": false,
        "BoolPrimitive": false,
        "Binary": "AQIB",
        "Binary@odata.type": "Edm.Binary",
        "BinaryNull": null,
        "BinaryPrimitive": "AQIB",
        "BinaryPrimitive@odata.type": "Edm.Binary",
        "DoublePrimitiveNull": null,
        "DoublePrimitiveN": 1.5,
        "DoublePrimitiveN@odata.type": "Edm.Double",
        "DoublePrimitive": 1.5,
        "DoublePrimitive@odata.type": "Edm.Double",
        "DoubleNull": null,
        "DoubleN": 1.5,
        "DoubleN@odata.type": "Edm.Double",
        "Double": 1.5,
        "Double@odata.type": "Edm.Double",
        "DoubleInteger": 1,
        "DoubleInteger@odata.type": "Edm.Double",
        "GuidNull": null,
        "GuidN": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "GuidN@odata.type": "Edm.Guid",
        "Guid": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "Guid@odata.type": "Edm.Guid",
        "IntegerPrimitiveNull": null,
        "IntegerPrimitiveN": 1,
        "IntegerPrimitive": 1,
        "Int32Null": null,
        "Int32N": 1,
        "Int32": 1,
        "LongPrimitiveNull": null,
        "LongPrimitiveN": "2147483648",
        "LongPrimitiveN@odata.type": "Edm.Int64",
        "LongPrimitive": "2147483648",
        "LongPrimitive@odata.type": "Edm.Int64",
        "Int64Null": null,
        "Int64N": "123456789012",
        "Int64N@odata.type": "Edm.Int64",
        "Int64": "2147483648",
        "Int64@odata.type": "Edm.Int64",
        "String": "0001",
        "PartitionKey": "somPartition",
        "RowKey": "0001"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-03-22T23%3A37%3A51.1697416Z\u0027\u0022",
        "Location": "https://jverazsdkprim.table.cosmos.azure.com/testtablelpbwmxbz(PartitionKey=\u0027somPartition\u0027,RowKey=\u00270001\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/testtablelpbwmxbz()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 22 Mar 2021 23:37:50 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json;odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-03-22T23%3A37%3A51.1697416Z\u0027\u0022",
            "DateTimeOffsetN@odata.type": "Edm.DateTime",
            "DateTimeOffsetN": "2020-01-01T01:02:00.0000000Z",
            "DateTimeOffset@odata.type": "Edm.DateTime",
            "DateTimeOffset": "2020-01-01T01:02:00.0000000Z",
            "DateTimeN@odata.type": "Edm.DateTime",
            "DateTimeN": "2020-01-01T01:02:00.0000000Z",
            "DateTime@odata.type": "Edm.DateTime",
            "DateTime": "2020[...]
    {
      "RequestUri": "https://jverazsdkprim.table.cosmos.azure.com/Tables(\u0027testtablelpbwmxbz\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 22 Mar 2021 23:37:50 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": null,
    "RandomSeed": "1033151482",
    "TABLES_COSMOS_ACCOUNT_NAME": "jverazsdkprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}