{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/projects/sdk-project-hcd5ysy4kfhig?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002221006292-0000-1b00-0000-6457e1540000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/projects/sdk-project-hcd5ysy4kfhig",
        "name": "sdk-project-hcd5ysy4kfhig",
        "type": "microsoft.devcenter/projects",
        "location": "australiaeast",
        "systemData": {
          "createdBy": "8788af82-a59e-490f-ba2a-2b05bf776033",
          "createdByType": "Application",
          "createdAt": "2023-05-06T19:42:59.9190211Z",
          "lastModifiedBy": "2dc3760b-4713-48b1-a383-1dfe3e449ec2",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-07T17:35:15.7418506Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "devCenterUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-let5cxa5e3dhm.australiaeast.devcenter.azure.com/",
          "devCenterId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-dc-let5cxa5e3dhm"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/projects/sdk-project-hcd5ysy4kfhig/environmentTypes/sdk-environment-type-oaulxpmgfnbxk?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "australiaeast",
        "properties": {
          "deploymentTargetId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1",
          "status": "Enabled",
          "creatorRoleAssignment": {
            "roles": {
              "4cbf0b6c-e750-441c-98a7-10da8387e4d6": {}
            }
          },
          "userRoleAssignments": {
            "7eb9110f-1e93-4854-9d9d-b543a401c1e0": {
              "roles": {
                "4cbf0b6c-e750-441c-98a7-10da8387e4d6": {}
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e2018658-0000-1b00-0000-64582f3e0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-07T23:08:35.2485928Z"
      },
      "ResponseBody": {
        "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/projects/sdk-project-hcd5ysy4kfhig/environmentTypes/sdk-environment-type-oaulxpmgfnbxk",
        "name": "sdk-environment-type-oaulxpmgfnbxk",
        "type": "microsoft.devcenter/projects/environmenttypes",
        "tags": {},
        "systemData": {
          "createdBy": "8788af82-a59e-490f-ba2a-2b05bf776033",
          "createdByType": "Application",
          "createdAt": "2023-05-07T00:02:58.2281582Z",
          "lastModifiedBy": "8788af82-a59e-490f-ba2a-2b05bf776033",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-07T23:07:32.5519826Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourcegroups/azsdk/providers/Microsoft.ManagedIdentity/userAssignedIdentities/azsdk-mi": {
              "principalId": "f07cd097-8bcf-4623-be86-61e85dd492b1",
              "clientId": "581a9e78-aacd-4337-a2c7-320827d190af"
            }
          }
        },
        "properties": {
          "provisioningState": "Succeeded",
          "deploymentTargetId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1",
          "status": "Enabled",
          "creatorRoleAssignment": {
            "roles": {
              "4cbf0b6c-e750-441c-98a7-10da8387e4d6": {}
            }
          },
          "userRoleAssignments": {
            "7eb9110f-1e93-4854-9d9d-b543a401c1e0": {
              "roles": {
                "4cbf0b6c-e750-441c-98a7-10da8387e4d6": {}
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/projects/sdk-project-hcd5ysy4kfhig/environmentTypes?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/projects/sdk-project-hcd5ysy4kfhig/environmentTypes/sdk-environment-type-oaulxpmgfnbxk",
            "name": "sdk-environment-type-oaulxpmgfnbxk",
            "type": "microsoft.devcenter/projects/environmenttypes",
            "tags": {},
            "systemData": {
              "createdBy": "8788af82-a59e-490f-ba2a-2b05bf776033",
              "createdByType[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/projects/sdk-project-hcd5ysy4kfhig/environmentTypes/sdk-environment-type-oaulxpmgfnbxk?api-version=2023-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-05-07T23:08:35.2485928Z"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DEFAULT_ENVIRONMENT_TYPE_NAME": "sdk-environment-type-oaulxpmgfnbxk",
    "DEFAULT_PROJECT_ID": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/projects/sdk-project-hcd5ysy4kfhig",
    "LOCATION": "australiaeast",
    "RandomSeed": "1235170168",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "STATIC_TEST_USER_ID": "7eb9110f-1e93-4854-9d9d-b543a401c1e0",
    "SUBSCRIPTION_ID": "62e47139-66d0-4b0b-a000-1e8a412890c1"
  }
}
