{
  "Entries": [
    {
      "RequestUri": "/contentmoderator/lists/v1.0/termlists/67/terms/sucks!?language=eng",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          
        ],
        "User-Agent": [
          "FxVersion/4.7.2600.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.CognitiveServices.ContentModerator.ContentModeratorClient/0.0.0.0"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 201
    }
  ],
  "Names": {},
  "Variables": {}
}