{
  "Entries": [
    {
      "RequestUri": "/contentmoderator/lists/v1.0/termlists/67/terms?language=eng&offset=0&limit=50",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          
        ],
        "User-Agent": [
          "FxVersion/4.7.2600.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.CognitiveServices.ContentModerator.ContentModeratorClient/0.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"Data\": {\r\n    \"Language\": \"eng\",\r\n    \"Terms\": [\r\n      {\r\n        \"Term\": \"sucks!\"\r\n      }\r\n    ],\r\n    \"Status\": {\r\n      \"Code\": 3000,\r\n      \"Description\": \"OK\",\r\n      \"Exception\": null\r\n    },\r\n    \"TrackingId\": \"18b95cd8-3cc3-455f-8544-dd98f1d90c65\"\r\n  },\r\n  \"Paging\": {\r\n    \"Total\": 1,\r\n    \"Limit\": 50,\r\n    \"Offset\": 0,\r\n    \"Returned\": 1\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}