{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourcegroups/rg-sdk-test-net-7845?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-7845",
        "name": "rg-sdk-test-net-7845",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-7845/providers/Microsoft.Communication/communicationServices/sdk-test-list-by-rg-8753?api-version=2020-08-20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/238d38e0-63c3-4cbc-82c3-5d4a946627df?api-version=2020-08-20",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200002ebb-0000-0700-0000-605272300000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/238d38e0-63c3-4cbc-82c3-5d4a946627df?api-version=2020-08-20",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-7845/providers/Microsoft.Communication/communicationServices/sdk-test-list-by-rg-8753",
        "name": "sdk-test-list-by-rg-8753",
        "type": "Microsoft.Communication/communicationServices",
        "location": "global",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "createdAt": "2021-03-17T21:18:37.4712283Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-03-17T21:18:37.4712283Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "hostName": "sdk-test-list-by-rg-8753.communication.azure.com",
          "immutableResourceId": "96ff1306-9553-4811-bfa0-dcbff63235f5",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/238d38e0-63c3-4cbc-82c3-5d4a946627df?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022060017b6-0000-0800-0000-605272300000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11944"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/238d38e0-63c3-4cbc-82c3-5d4a946627df",
        "name": "238d38e0-63c3-4cbc-82c3-5d4a946627df",
        "resourceId": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-7845/providers/Microsoft.Communication/communicationServices/sdk-test-list-by-rg-8753",
        "status": "Accepted",
        "startTime": "2021-03-17T21:18:40.4341266Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/238d38e0-63c3-4cbc-82c3-5d4a946627df?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022060026b6-0000-0800-0000-605272330000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11941"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/238d38e0-63c3-4cbc-82c3-5d4a946627df",
        "name": "238d38e0-63c3-4cbc-82c3-5d4a946627df",
        "resourceId": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-7845/providers/Microsoft.Communication/communicationServices/sdk-test-list-by-rg-8753",
        "status": "Succeeded",
        "startTime": "2021-03-17T21:18:40.4341266Z",
        "endTime": "2021-03-17T21:18:43.8039373Z",
        "percentComplete": 100.0,
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-7845/providers/Microsoft.Communication/communicationServices?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-7845/providers/Microsoft.Communication/communicationServices/sdk-test-list-by-rg-8753",
            "name": "sdk-test-list-by-rg-8753",
            "type": "Microsoft.Communication/communicationServices",
            "location": "global",
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2021-03-17T21:18:37.4712283Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2021-03-17T21:18:37.4712283Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "hostName": "sdk-test-list-by-rg-8753.communication.azure.com",
              "immutableResourceId": "96ff1306-9553-4811-bfa0-dcbff63235f5",
              "dataLocation": "UnitedStates"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "LOCATION": "westus",
    "NOTIFICATION_HUBS_CONNECTION_STRING": "sanitized",
    "NOTIFICATION_HUBS_RESOURCE_GROUP_NAME": "rg-sdk-test-comm-link-notif-hub",
    "NOTIFICATION_HUBS_RESOURCE_ID": "/subscriptions/sanitized/resourcegroups/rg-sdk-test-comm-link-notif-hub/providers/Microsoft.NotificationHubs/namespaces/notif-hub-namespace-test/notificationHubs/notif-hub-test-comm-link",
    "RandomSeed": "1975701441",
    "SUBSCRIPTION_ID": "sanitized"
  }
}