{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/rg-sdk-test-net-4810?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/rg-sdk-test-net-4810",
        "name": "rg-sdk-test-net-4810",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/rg-sdk-test-net-4810/providers/Microsoft.Communication/communicationServices/sdk-test-list-by-rg-9767?api-version=2020-08-20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/d5654526-b23f-447d-9b15-ff3bee101d0b*ABB9A5D445BBDB60EC6F6F5CBD5129FA266C1900C7BFC2E29DB46F09CBA06B0B?api-version=2020-08-20",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228c0189c0-0000-0700-0000-612de16c0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/rg-sdk-test-net-4810/providers/Microsoft.Communication/communicationServices/sdk-test-list-by-rg-9767",
        "name": "sdk-test-list-by-rg-9767",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "systemData": {
          "createdBy": "f03720c1-6b28-4033-b949-e30e027685c6",
          "createdByType": "Application",
          "createdAt": "2021-08-31T05:52:15.1779978Z",
          "lastModifiedBy": "f03720c1-6b28-4033-b949-e30e027685c6",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-08-31T07:59:38.6320919Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "hostName": "sdk-test-list-by-rg-9767.communication.azure.com",
          "immutableResourceId": "c7c110a1-c7ad-41eb-acdb-65c5994a042a",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/d5654526-b23f-447d-9b15-ff3bee101d0b*ABB9A5D445BBDB60EC6F6F5CBD5129FA266C1900C7BFC2E29DB46F09CBA06B0B?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000aa32-0000-0800-0000-612de16c0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/d5654526-b23f-447d-9b15-ff3bee101d0b*ABB9A5D445BBDB60EC6F6F5CBD5129FA266C1900C7BFC2E29DB46F09CBA06B0B",
        "name": "d5654526-b23f-447d-9b15-ff3bee101d0b",
        "resourceId": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/rg-sdk-test-net-4810/providers/Microsoft.Communication/communicationServices/sdk-test-list-by-rg-9767",
        "status": "Accepted",
        "startTime": "2021-08-31T07:59:39.342457Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/rg-sdk-test-net-4810/providers/Microsoft.Communication/communicationServices?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/rg-sdk-test-net-4810/providers/Microsoft.Communication/communicationServices/sdk-test-list-by-rg-9767",
            "name": "sdk-test-list-by-rg-9767",
            "type": "microsoft.communication/communicationservices",
            "location": "global",
            "systemData": {
              "createdBy": "f03720c1-6b28-4033-b949-e30e027685c6",
              "createdByType": "Application",
              "createdAt": "2021-08-31T05:52:15.1779978Z",
              "lastModifiedBy": "f03720c1-6b28-4033-b949-e30e027685c6",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2021-08-31T07:59:38.6320919Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "hostName": "sdk-test-list-by-rg-9767.communication.azure.com",
              "immutableResourceId": "c7c110a1-c7ad-41eb-acdb-65c5994a042a",
              "dataLocation": "UnitedStates"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1975701441",
    "SUBSCRIPTION_ID": "f3d94233-a9aa-4241-ac82-2dfb63ce637a"
  }
}