{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourcegroups/rg-sdk-test-net-3227?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-3227",
        "name": "rg-sdk-test-net-3227",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-3227/providers/Microsoft.Communication/communicationServices/sdk-test-list-by-subscription-3039?api-version=2020-08-20-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/b3e2b507-37ef-4fe3-a416-f8d4ea39a8a4?api-version=2020-08-20-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221c00d276-0000-0700-0000-5f72f8b60000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-3227/providers/Microsoft.Communication/communicationServices/sdk-test-list-by-subscription-3039",
        "name": "sdk-test-list-by-subscription-3039",
        "type": "Microsoft.Communication/communicationServices",
        "location": "global",
        "properties": {
          "provisioningState": "Accepted",
          "hostName": "sdk-test-list-by-subscription-3039.communication.azure.com",
          "immutableResourceId": "7a9b2e13-0d56-4f87-9ca5-7e1828f8191f",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/b3e2b507-37ef-4fe3-a416-f8d4ea39a8a4?api-version=2020-08-20-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221100c996-0000-0800-0000-5f72f8b70000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11989"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/b3e2b507-37ef-4fe3-a416-f8d4ea39a8a4",
        "name": "b3e2b507-37ef-4fe3-a416-f8d4ea39a8a4",
        "resourceId": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-3227/providers/Microsoft.Communication/communicationServices/sdk-test-list-by-subscription-3039",
        "status": "Succeeded",
        "startTime": "2020-09-29T09:04:53.6314489Z",
        "percentComplete": 100.0,
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/providers/Microsoft.Communication/communicationServices?api-version=2020-08-20-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-3009/providers/Microsoft.Communication/communicationServices/sdk-test-list-by-rg-3379",
            "name": "sdk-test-list-by-rg-3379",
            "type": "Microsoft.Communication/communicationServices",
            "location": "global",
            "properties": {
              "provisioningState": "Succeeded",
              "hostName": "sdk-test-list-by-rg-3379.communication.azure.com",
              "immutableResourceId": "33d52fa6-b8f0-4220-b299-fcc43c7463a8",
              "dataLocation": "UnitedStates"
            }
          },
          {
            "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-3227/providers/Microsoft.Communication/communicationServices/sdk-test-list-by-subscription-3039",
            "name": "sdk-test-list-by-subscription-3039",
            "type": "Microsoft.Communication/communicationServices",
            "location": "global",
            "properties": {
              "provisioningState": "Succeeded",
              "hostName": "sdk-test-list-by-subscription-3039.communication.azure.com",
              "immutableResourceId": "7a9b2e13-0d56-4f87-9ca5-7e1828f8191f",
              "dataLocation": "UnitedStates"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "LOCATION": "eastus",
    "NOTIFICATION_HUBS_CONNECTION_STRING": "sanitized",
    "NOTIFICATION_HUBS_RESOURCE_GROUP_NAME": "rg-sdk-test-comm-link-notif-hub",
    "NOTIFICATION_HUBS_RESOURCE_ID": "/subscriptions/sanitized/resourcegroups/rg-sdk-test-comm-link-notif-hub/providers/Microsoft.NotificationHubs/namespaces/notif-hub-namespace-test/notificationHubs/notif-hub-test-comm-link",
    "RandomSeed": "340252294",
    "SUBSCRIPTION_ID": "sanitized"
  }
}