{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourcegroups/rg-sdk-test-net-3227?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-3227",
        "name": "rg-sdk-test-net-3227",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-3227/providers/Microsoft.Communication/communicationServices/sdk-test-list-by-subscription-3039?api-version=2020-08-20-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/01d58f64-546d-4fa8-af92-b1eef432d12c?api-version=2020-08-20-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002272014245-0000-0700-0000-5f66fad20000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-3227/providers/Microsoft.Communication/communicationServices/sdk-test-list-by-subscription-3039",
        "name": "sdk-test-list-by-subscription-3039",
        "type": "Microsoft.Communication/communicationServices",
        "location": "global",
        "properties": {
          "provisioningState": "Accepted",
          "hostName": "sdk-test-list-by-subscription-3039.communication.azure.com",
          "immutableResourceId": "3f180b76-a8e4-4010-a5d0-5ef4537d22b9",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/01d58f64-546d-4fa8-af92-b1eef432d12c?api-version=2020-08-20-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227500ce64-0000-0800-0000-5f66fad20000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11983"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/01d58f64-546d-4fa8-af92-b1eef432d12c",
        "name": "01d58f64-546d-4fa8-af92-b1eef432d12c",
        "resourceId": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-3227/providers/Microsoft.Communication/communicationServices/sdk-test-list-by-subscription-3039",
        "status": "Accepted",
        "startTime": "2020-09-20T06:46:42.2791633Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/01d58f64-546d-4fa8-af92-b1eef432d12c?api-version=2020-08-20-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227500d064-0000-0800-0000-5f66fad30000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11982"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/01d58f64-546d-4fa8-af92-b1eef432d12c",
        "name": "01d58f64-546d-4fa8-af92-b1eef432d12c",
        "resourceId": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-3227/providers/Microsoft.Communication/communicationServices/sdk-test-list-by-subscription-3039",
        "status": "Succeeded",
        "startTime": "2020-09-20T06:46:42.2791633Z",
        "percentComplete": 100.0,
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/providers/Microsoft.Communication/communicationServices?api-version=2020-08-20-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/sanitized/resourceGroups/rg-memontic/providers/Microsoft.Communication/communicationServices/memontic-test-keys-1",
            "name": "memontic-test-keys-1",
            "type": "Microsoft.Communication/communicationServices",
            "location": "global",
            "properties": {
              "provisioningState": "Succeeded",
              "hostName": "memontic-test-keys-1.communication.azure.com",
              "immutableResourceId": "[...]
