{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-81da84a1-7285-1c11-f2cb-ecbdeb495e08?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB7E6D7E8D9465\u0022",
        "Last-Modified": "Thu, 06 Jul 2023 22:08:14 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-81da84a1-7285-1c11-f2cb-ecbdeb495e08/test-blob-f7d25731-ec5c-8868-9d88-5575262da089",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB7E6D7E9ECD01\u0022",
        "Last-Modified": "Thu, 06 Jul 2023 22:08:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-07-06T22:08:14.3928577Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-81da84a1-7285-1c11-f2cb-ecbdeb495e08/test-blob-f7d25731-ec5c-8868-9d88-5575262da089?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "I\u002B6BbHt78lQgdiBRdv6\u002BFhhSSorLUEWrMJ2M6xxMR2Y8F516PGs5V5Dv9KooN56Z7QxTkwDwwtKo1jze7gY30y\u002B6FF9hQ9qsGPP621yagvn\u002B8/4Q\u002BbNmS1TK0mUvWmmJtyB7biI\u002BN6kxp3oM9uZ2DVND3/oIJ9p7VMkLlnF0fL2JcSQ7HxTWwLxU3lE5WVVtVMQR63tugJBFABlZM6E4vSq8g4XCOu4/bB8\u002Bs0iIQft0nUKsYpBCG/CU9h76fYwaHCEnfNXPqhnW0n9bMM1HvL4d5ZVfi1qZeWeVLkTPRe\u002BSI5cnYcUlpPIp1pAR5\u002BsiTTlg3Jj3u5DHjgJtOnzUBo2PyAw2H1v5\u002B[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-81da84a1-7285-1c11-f2cb-ecbdeb495e08/test-blob-d1a3d894-1c09-26bf-d4f0-071d0d0f6567",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB7E6D7EC2074B\u0022",
        "Last-Modified": "Thu, 06 Jul 2023 22:08:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-07-06T22:08:14.6237259Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-81da84a1-7285-1c11-f2cb-ecbdeb495e08/test-blob-d1a3d894-1c09-26bf-d4f0-071d0d0f6567?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-81da84a1-7285-1c11-f2cb-ecbdeb495e08/test-blob-f7d25731-ec5c-8868-9d88-5575262da089",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "VdNRyZ5ao522nU4DlCZonQ==",
        "ETag": "\u00220x8DB7E6D7ED0F945\u0022",
        "Last-Modified": "Thu, 06 Jul 2023 22:08:14 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-81da84a1-7285-1c11-f2cb-ecbdeb495e08/test-blob-d1a3d894-1c09-26bf-d4f0-071d0d0f6567",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB7E6D7ED0F945\u0022",
        "Last-Modified": "Thu, 06 Jul 2023 22:08:14 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jul 2023 22:08:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-07-06T22:08:14.6237259Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-81da84a1-7285-1c11-f2cb-ecbdeb495e08?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1089226696",
    "Storage_TestConfigOAuth": "OAuthTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net/\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\n\namnguye-rg\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
