{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-099fb4df-faac-2439-a042-3391abda31cc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB7E6D805E680B\u0022",
        "Last-Modified": "Thu, 06 Jul 2023 22:08:17 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-099fb4df-faac-2439-a042-3391abda31cc/test-blob-4cc43318-461e-080d-5982-1b795a7e0e79",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB7E6D8069D3F6\u0022",
        "Last-Modified": "Thu, 06 Jul 2023 22:08:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-07-06T22:08:17.4011382Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-099fb4df-faac-2439-a042-3391abda31cc/test-blob-4cc43318-461e-080d-5982-1b795a7e0e79?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "TuTA59srFghXYP8uN/EoAWOWtWOUAVWLRpHM\u002BLjoxz4qL91My10mG\u002BYb24Et/tgjQbwTGFtDDEyPNaFJXx1QbpjBBAgU3DYFcJl9eCbTXUe4qLb71a/i5iKQvJW83LzJy23obPrQD2WGDajCxpQmu9hZkLZnVJjp3h7mgx\u002BgSZPcs6256/FN6JlRdccHIB\u002BOagC9Y0sGYnbU/47b6YxF5cQU5RLmbdDmC6gcFt/Q4r3\u002BWBke4uZI1lE25Oxicv4NC48D8jsMp/ww11ej6UyXBBzQ3JFyJgPezA/BsIjkhJmpDwpPze\u002BC8rEc7guOpOwFn\u002BDPkZVtmuSMJCYrS/ZzTFK\u002B\u002BtpBRzYtTurgVj[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-099fb4df-faac-2439-a042-3391abda31cc/test-blob-3224fc47-2ce1-102c-156a-be76ae10a7a1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-099fb4df-faac-2439-a042-3391abda31cc/test-blob-4cc43318-461e-080d-5982-1b795a7e0e79",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1wFsbnjZeauzp18AHNq\u002Bkg==",
        "ETag": "\u00220x8DB7E6D80BC54AF\u0022",
        "Last-Modified": "Thu, 06 Jul 2023 22:08:17 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-099fb4df-faac-2439-a042-3391abda31cc/test-blob-3224fc47-2ce1-102c-156a-be76ae10a7a1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB7E6D80BC54AF\u0022",
        "Last-Modified": "Thu, 06 Jul 2023 22:08:17 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jul 2023 22:08:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-07-06T22:08:17.8258937Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-099fb4df-faac-2439-a042-3391abda31cc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1316641518",
    "Storage_TestConfigOAuth": "OAuthTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net/\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\n\namnguye-rg\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
