{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ed88a2ef-d8e8-367c-820e-c5ef925cdaa1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 23 Jun 2023 17:13:58 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB740D3B7DCCA2\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 17:13:58 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ed88a2ef-d8e8-367c-820e-c5ef925cdaa1/test-blob-924ed2a6-9132-2f4f-865e-cf560be79225",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 23 Jun 2023 17:13:58 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB740D3B8751A7\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 17:13:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-23T17:13:58.5178023Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ed88a2ef-d8e8-367c-820e-c5ef925cdaa1/test-blob-924ed2a6-9132-2f4f-865e-cf560be79225?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 23 Jun 2023 17:13:59 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "UgKdX/jCF0WYYV8OMCOnZcwrwtqCA1owqIuxlnsaoTyZ6j0tb6ORFceWbxAn9TL70LqVsfGapE6nbLdtEIHKfsAidEblevUpma0S65RKCbJYtcbAhfBL/kXvhQLsIwRGzPBQBIHsFVbFbBdEh7i5XWMEFVu6CvjP13UA9vTyPHWozB\u002Bk\u002BgQxbJ9w\u002BxnYBnaMNSif6A6pi8H3gC0L6x9h0jChnLuYFWJf0qm7Sg/f99H\u002BdMDMU1Nn/kBerHrWJoCADijoN2q79CDFPxZl7UGyGIhcDHdelH/cOp17OmnoiKsoOzzm9sBmQ3\u002BfBxM8AhD/q5Px[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ed88a2ef-d8e8-367c-820e-c5ef925cdaa1/test-blob-08dcdfd8-8771-6303-1f77-1f62dcb47527?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-ed88a2ef-d8e8-367c-820e-c5ef925cdaa1/test-blob-924ed2a6-9132-2f4f-865e-cf560be79225",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-date": "Fri, 23 Jun 2023 17:14:00 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jZi3eghbfGt0Z1vILTpBCQ==",
        "ETag": "\u00220x8DB740D3C472A4E\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 17:13:59 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ed88a2ef-d8e8-367c-820e-c5ef925cdaa1/test-blob-08dcdfd8-8771-6303-1f77-1f62dcb47527",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 23 Jun 2023 17:14:00 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB740D3C472A4E\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 17:13:59 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 23 Jun 2023 17:13:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-23T17:13:59.3763142Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ed88a2ef-d8e8-367c-820e-c5ef925cdaa1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 23 Jun 2023 17:14:00 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1674133884",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net/\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\n\namnguye-rg\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
