{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2b86918d-3a9a-42ea-a605-9b4cf6d62e21?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 23 Jun 2023 17:14:03 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB740D3E1DB79F\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 17:14:02 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2b86918d-3a9a-42ea-a605-9b4cf6d62e21/test-blob-cb836b87-db62-d2b8-6a45-8bd96f95f75b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 23 Jun 2023 17:14:03 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB740D3E28004B\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 17:14:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-23T17:14:02.9262923Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2b86918d-3a9a-42ea-a605-9b4cf6d62e21/test-blob-cb836b87-db62-d2b8-6a45-8bd96f95f75b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 23 Jun 2023 17:14:03 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "l5OrXcgXkiyAq7HXu0wkKP6hc\u002B5F9mATSAQI\u002Bk9Tnhnq97D9wP6tgCXrN\u002Bxo8gyLqQ4KITk8yKEzlxXEDpjcLQ2Y7MSbJmgA9PPIWb5zqlX3fFFBSXzgri8Pyijp6HGNDgne0AVI74KmCS1Fc27iv\u002B2/zJFGm\u002BSQuD6VjFs/FwuBO0q1lNpQr43Omj9PmjrALAs7KRzfRnMlThfGsmImZvEhxDgjLSoTbhwEeACkQR4E1GBQA\u002B3vofXXj0bCif0qqDNNLtYCnf/gKLsA285ygAz5wt0C1mIEMSJDS57kUOQf2s/MVxJIAjdhb9sy7sY[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2b86918d-3a9a-42ea-a605-9b4cf6d62e21/test-blob-b717b897-1a98-c8ca-d7cd-3708c3ad2b0d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-2b86918d-3a9a-42ea-a605-9b4cf6d62e21/test-blob-cb836b87-db62-d2b8-6a45-8bd96f95f75b",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-date": "Fri, 23 Jun 2023 17:14:03 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Z9eJJAulRCTpYfGwep7agg==",
        "ETag": "\u00220x8DB740D3E617E7A\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 17:14:03 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2b86918d-3a9a-42ea-a605-9b4cf6d62e21/test-blob-b717b897-1a98-c8ca-d7cd-3708c3ad2b0d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 23 Jun 2023 17:14:03 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB740D3E617E7A\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 17:14:03 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 23 Jun 2023 17:14:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-23T17:14:03.2071323Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2b86918d-3a9a-42ea-a605-9b4cf6d62e21?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 23 Jun 2023 17:14:03 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "299252061",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net/\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\n\namnguye-rg\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
