{
  "Entries": [
    {
      "RequestUri": "https://amandacanaryoauth.blob.core.windows.net/test-container-298e4706-e1b6-d106-8a3e-6f21ad1be73a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD8EA5F198524\u0022",
        "Last-Modified": "Thu, 08 Dec 2022 07:03:55 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandacanaryoauth.blob.core.windows.net/test-container-298e4706-e1b6-d106-8a3e-6f21ad1be73a/test-blob-601ff24c-27ee-a118-27df-0a18211772f2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "NK\u002Bia3guAi/GUD4xnhyTaGi4a\u002Be/mujLyTemodkF5iKVdeRxdQZ5gHyaCNhC90meueWqApli1pnG1qJAh2BWwWkcmyk3IvNhPuprJJIQidHtCOf0WuOJM55Kqp5kOPkbREduJVwgZpfxSMSu97EHtkzQU395YWaGkmeK7XdU/QXxT\u002BBLoWN1zKJQAxIe2jztQvNSk\u002BV5ouLg6JP0lnkgnEu/vKfRvBXpWobcKV5TZ7grnKqDAmkfd639arnQgTYoL2bGXx6UHIbeaDlfnHmEjYDayPnPnJrioET601JcGNlQtPn3jQial4AjpZkwwNo0eN049bk8WZPM5L7Zmkg0glBfDuh/jQB4QDF5q/cAst9pxVp1IyIgE1plKqhJwPw37yNJ0LHytOvcv7[...]
    {
      "RequestUri": "https://amandacanaryoauth.blob.core.windows.net/test-container-298e4706-e1b6-d106-8a3e-6f21ad1be73a/test-blob-ceca7eaf-8029-e829-ba4d-4e12ba044995",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandacanaryoauth.blob.core.windows.net/test-container-298e4706-e1b6-d106-8a3e-6f21ad1be73a/test-blob-601ff24c-27ee-a118-27df-0a18211772f2",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-requires-sync": "true",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD8EA5FC82D06\u0022",
        "Last-Modified": "Thu, 08 Dec 2022 07:03:56 GMT",
        "x-ms-content-crc64": "O1\u002BUWEGij4E=",
        "x-ms-copy-id": "94833b57-ccc0-4900-a8df-f9a16b3fc702",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandacanaryoauth.blob.core.windows.net/test-container-298e4706-e1b6-d106-8a3e-6f21ad1be73a/test-blob-ceca7eaf-8029-e829-ba4d-4e12ba044995",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "34H1Kr59BiE4QsZCapoHtw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAD8EA5FC82D06\u0022",
        "Last-Modified": "Thu, 08 Dec 2022 07:03:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Thu, 08 Dec 2022 07:03:56 GMT",
        "x-ms-copy-id": "94833b57-ccc0-4900-a8df-f9a16b3fc702",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandacanaryoauth.blob.core.windows.net/test-container-298e4706-e1b6-d106-8a3e-6f21ad1be73a/test-blob-601ff24c-27ee-a118-27df-0a18211772f2",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 08 Dec 2022 07:03:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandacanaryoauth.blob.core.windows.net/test-container-298e4706-e1b6-d106-8a3e-6f21ad1be73a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1061582833",
    "Storage_TestConfigOAuth": "OAuthTenant\namandacanaryoauth\nU2FuaXRpemVk\nhttps://amandacanaryoauth.blob.core.windows.net\nhttps://amandacanaryoauth.file.core.windows.net\nhttps://amandacanaryoauth.queue.core.windows.net\nhttps://amandacanaryoauth.table.core.windows.net\n\n\n\n\nhttps://amandacanaryoauth-secondary.blob.storage.azure.net/\nhttps://amandacanaryoauth-secondary.file.storage.azure.net\nhttps://amandacanaryoauth-secondary.queue.storage.azure.net\nhttps://amandacanaryoauth-secondary.table.storage.azure.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandacanaryoauth.blob.core.windows.net/;QueueEndpoint=https://amandacanaryoauth.queue.core.windows.net/;FileEndpoint=https://amandacanaryoauth.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanaryoauth-secondary.blob.storage.azure.net/;QueueSecondaryEndpoint=https://amandacanaryoauth-secondary.queue.storage.azure.net/;FileSecondaryEndpoint=https://amandacanaryoauth-secondary.file.storage.azure.net/;AccountName=amandacanaryoauth;AccountKey=Sanitized\n\namnguye-rg\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
