{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6c69724d-9257-2057-0091-89d518fbba15?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 08 Dec 2022 07:09:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD8EB3496FAEC\u0022",
        "Last-Modified": "Thu, 08 Dec 2022 07:09:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6c69724d-9257-2057-0091-89d518fbba15/test-blob-7442ef77-6343-d8c8-4e59-902d739bfe14",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 08 Dec 2022 07:09:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD8EB34A4F59D\u0022",
        "Last-Modified": "Thu, 08 Dec 2022 07:09:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-08T07:09:53.8486685Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6c69724d-9257-2057-0091-89d518fbba15/test-blob-7442ef77-6343-d8c8-4e59-902d739bfe14?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 Dec 2022 07:09:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "BwvqklfMa50YaiAYyqbQY0ksHHDTQh2TwOnzg\u002B/\u002Be6\u002BUTgNAVc7Yd4zc9v2PCJGXVWtO2kv/LsTuV9Ju2OetGu5wg3yjjw57VKXk9ksfBLhXXC2EsKFklR8\u002BUv78ap\u002BkLtwOHoQU9MZd0oalGzh4zlMZFny6KWlNDO5cZDwPfukGP8dvEeUzQ2dnJt0avnrnxoSr4lQj6QVywBGWuJCJTlSdn9twCbxt5dMUUwOMM01zdJ64Y5yV41XC/FHUnYrX3deJfR\u002Bed7zIPvyBDpYC5o3DIkTx0Oq4B7yFrgxrmUhIPHUrA7Yu1Pzh8CWfE9S[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6c69724d-9257-2057-0091-89d518fbba15/test-blob-38eeaf5d-1b1d-1cb1-a4ab-5c60684c5185",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-6c69724d-9257-2057-0091-89d518fbba15/test-blob-7442ef77-6343-d8c8-4e59-902d739bfe14",
        "x-ms-date": "Thu, 08 Dec 2022 07:09:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD8EB34BE465B\u0022",
        "Last-Modified": "Thu, 08 Dec 2022 07:09:54 GMT",
        "x-ms-copy-id": "171e8eb2-5454-4616-9cbc-6ffaf3b6a983",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-08T07:09:54.0155740Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6c69724d-9257-2057-0091-89d518fbba15/test-blob-38eeaf5d-1b1d-1cb1-a4ab-5c60684c5185",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 Dec 2022 07:09:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAD8EB34BE465B\u0022",
        "Last-Modified": "Thu, 08 Dec 2022 07:09:54 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Thu, 08 Dec 2022 07:09:54 GMT",
        "x-ms-copy-id": "171e8eb2-5454-4616-9cbc-6ffaf3b6a983",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-6c69724d-9257-2057-0091-89d518fbba15/test-blob-7442ef77-6343-d8c8-4e59-902d739bfe14",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 08 Dec 2022 07:09:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-08T07:09:54.0155740Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6c69724d-9257-2057-0091-89d518fbba15?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 Dec 2022 07:09:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1528252763",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
