{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-850a466d-9b94-7b61-e9a0-1cbf762166de?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 19 Jun 2023 22:08:15 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB7111B02635CD\u0022",
        "Last-Modified": "Mon, 19 Jun 2023 22:08:18 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-850a466d-9b94-7b61-e9a0-1cbf762166de/test-blob-15972132-b4ef-b508-61f8-205cbef7be49",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 19 Jun 2023 22:08:16 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB7111B03AFBAD\u0022",
        "Last-Modified": "Mon, 19 Jun 2023 22:08:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-19T22:08:18.8095405Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-850a466d-9b94-7b61-e9a0-1cbf762166de/test-blob-15972132-b4ef-b508-61f8-205cbef7be49?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 19 Jun 2023 22:08:16 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "L3mCXL8jQY0Ok0pIlNsN\u002BSzM1o0EnbjZP9FaIFJQlQBaxdUnbaiB/i9cHVq32dBl2TOR2jopbpLAqRzuySA6vf5J7c8F5ouEStdep4BeIWYA9EYfv7rGMVZCZsSLkzQOIV9bbewBYPOnDY9iyscSYoe27dTZG/5Eg7x4wn/H\u002BLajT4UgA7R5/5RTd7EqY2aPMAQ81aZfNQZhF\u002BowiZ103xXZv3pC8V7TPO1AhqRMGSBV6JJ6iiIQQxp\u002Bv\u002BzJSXX335ecUaPsTD\u002BmaZi4H69hFP7K2qAL\u002BVTyyHxfwzFyCfN4SaYMsMd8aJxS1C[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-850a466d-9b94-7b61-e9a0-1cbf762166de/test-blob-2bea7021-01ee-6521-40e7-2cbea610b772?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-850a466d-9b94-7b61-e9a0-1cbf762166de/test-blob-15972132-b4ef-b508-61f8-205cbef7be49",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jun 2023 22:08:16 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "MAukFqbodigjNMqfTUHjRQ==",
        "ETag": "\u00220x8DB7111B0B9B644\u0022",
        "Last-Modified": "Mon, 19 Jun 2023 22:08:19 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-850a466d-9b94-7b61-e9a0-1cbf762166de/test-blob-2bea7021-01ee-6521-40e7-2cbea610b772",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jun 2023 22:08:17 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB7111B0B9B644\u0022",
        "Last-Modified": "Mon, 19 Jun 2023 22:08:19 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 19 Jun 2023 22:08:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-06-19T22:08:19.4651705Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-850a466d-9b94-7b61-e9a0-1cbf762166de?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jun 2023 22:08:17 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "453820764",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net/\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\n\namnguye-rg\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
