{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-32f30424-0f1e-11a0-bb88-a2e6c55e7eea?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 08 Dec 2022 07:07:05 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD8EAD11C375F\u0022",
        "Last-Modified": "Thu, 08 Dec 2022 07:07:06 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-32f30424-0f1e-11a0-bb88-a2e6c55e7eea/test-blob-e0db3fe3-7252-edae-5ffc-b99901b09702",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-32f30424-0f1e-11a0-bb88-a2e6c55e7eea/test-blob-db8f7bfd-a5b6-62b8-18eb-b84af2c93598",
        "x-ms-date": "Thu, 08 Dec 2022 07:07:06 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003EThe specified blob does not exist.\n",
        "RequestId:54b68513-701e-0047-48d3-0a1eba000000\n",
        "Time:2022-12-08T07:07:06.9959926Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-32f30424-0f1e-11a0-bb88-a2e6c55e7eea?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 Dec 2022 07:07:06 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "819133998",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
