{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-eff0665b-bd94-3e90-1083-88d5349a71e0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 18:19:00 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD7B65972370A\u0022",
        "Last-Modified": "Tue, 06 Dec 2022 18:19:01 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-eff0665b-bd94-3e90-1083-88d5349a71e0/test-blob-795059cb-0fd8-da35-212c-82cd8eae29b5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 06 Dec 2022 18:19:00 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD7B6597FD00A\u0022",
        "Last-Modified": "Tue, 06 Dec 2022 18:19:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-06T18:19:01.1914762Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-eff0665b-bd94-3e90-1083-88d5349a71e0/test-blob-795059cb-0fd8-da35-212c-82cd8eae29b5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 06 Dec 2022 18:19:00 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "IqGFxUiyVAhck5DCuVCxGqc656OWbKtkQvJdHDVFopvGBsOHgcAAM5cOX3bBczCAIHIQ32WsubX2IYJVVDfTF/D1\u002B7ONKZnnOrQMhw00os7C3fzCNcM1GkwNkV89qt5fO0iFzHh88/bYKaWxoDGnwX6zk3c7EOEtwOFmf5c5qY/VrEzFrtZWRekF6QwdhHoaZtDhihdmIypmWAuWFXRfn38V2/Pl4hKnXE2ONibVDzxnSxjHWB94b4ghXlbKvzB1pkqMCKiGNYO9OS3J2O0EkUjPL8lbl0dgnWxqxIO83JwdGJDcSAeT4BaVCh7yrpabHc0N\u002B5BmGQ8DLGo8G3D[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-eff0665b-bd94-3e90-1083-88d5349a71e0/test-blob-795059cb-0fd8-da35-212c-82cd8eae29b5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 18:19:00 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAD7B6598CC677\u0022",
        "Last-Modified": "Tue, 06 Dec 2022 18:19:01 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 06 Dec 2022 18:19:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-06T18:19:01.1914762Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-eff0665b-bd94-3e90-1083-88d5349a71e0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 18:19:00 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "733739517",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
