{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f825446f-552d-a88a-f5d9-2236f584c5b5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 18:19:03 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD7B65B2CEC81\u0022",
        "Last-Modified": "Tue, 06 Dec 2022 18:19:04 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f825446f-552d-a88a-f5d9-2236f584c5b5/test-blob-f564ac21-9b2b-c06a-ec2d-9bd718303b48",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 06 Dec 2022 18:19:03 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD7B65B36B676\u0022",
        "Last-Modified": "Tue, 06 Dec 2022 18:19:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-06T18:19:04.0678518Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f825446f-552d-a88a-f5d9-2236f584c5b5/test-blob-f564ac21-9b2b-c06a-ec2d-9bd718303b48?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 06 Dec 2022 18:19:03 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "kpAvQpp\u002BlfwvOpyzlpE3xTQBOMBIUWZrSSpa82QsWKXB0DQwaN6hoxdnxvD\u002Btyla9taiFvd6/0Apw/hvI6KYAuL38cVcB1xWYJWp4Yt1bJIAAP2OiUGuR9D0B6XmMn90zsQOB8Vk/e56TLZi0B60s1ZmbyOlCnigSKn1aP\u002B2by4VNBLHZ2TMnAMOEz2LS3ayP1ROf8Ncz8RLbb8bbpTvw9yITJwL7UvymtIglvY7Ff0zQiiraPBruWRNe/qlsC1uH1BgA//aplIIXOXwOznOEFfB6CxsQ1vsHJI3vXFQTOmksnel2xH9WZvWowsLen4rf2ui48gBAdv1c\[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f825446f-552d-a88a-f5d9-2236f584c5b5/test-blob-f564ac21-9b2b-c06a-ec2d-9bd718303b48?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 06 Dec 2022 18:19:03 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "kpAvQpp\u002BlfwvOpyzlpE3xTQBOMBIUWZrSSpa82QsWKXB0DQwaN6hoxdnxvD\u002Btyla9taiFvd6/0Apw/hvI6KYAuL38cVcB1xWYJWp4Yt1bJIAAP2OiUGuR9D0B6XmMn90zsQOB8Vk/e56TLZi0B60s1ZmbyOlCnigSKn1aP\u002B2by4VNBLHZ2TMnAMOEz2LS3ayP1ROf8Ncz8RLbb8bbpTvw9yITJwL7UvymtIglvY7Ff0zQiiraPBruWRNe/qlsC1uH1BgA//aplIIXOXwOznOEFfB6CxsQ1vsHJI3vXFQTOmksnel2xH9WZvWowsLen4rf2ui48gBAdv1c\u002BZsounhtxD7S4nBKDRF[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f825446f-552d-a88a-f5d9-2236f584c5b5/test-blob-f564ac21-9b2b-c06a-ec2d-9bd718303b48",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 18:19:03 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 1024-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAD7B65B4F920F\u0022",
        "Last-Modified": "Tue, 06 Dec 2022 18:19:04 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 06 Dec 2022 18:19:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-06T18:19:04.0678518Z"
      },
      "ResponseBody": "kpAvQpp\u002BlfwvOpyzlpE3xTQBOMBIUWZrSSpa82QsWKXB0DQwaN6hoxdnxvD\u002Btyla9taiFvd6/0Apw/hvI6KYAuL38cVcB1xWYJWp4Yt1bJIAAP2OiUGuR9D0B6XmMn90zsQOB8Vk/e56TLZi0B60s1ZmbyOlCnigSKn1aP\u002B2by4VNBLHZ2TMnAMOEz2LS3ayP1ROf8Ncz8RLbb8bbpTvw9yITJwL7UvymtIglvY7Ff0zQiiraPBruWRNe/qlsC1uH1BgA//aplIIXOXwOznOEFfB6CxsQ1vsHJI3vXFQTOmksnel2xH9WZvWowsLen4rf2ui48gBAdv1c\u002BZsounhtxD[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f825446f-552d-a88a-f5d9-2236f584c5b5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 18:19:03 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "617772139",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
