{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/reverse/batch/json?api-version=1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-client-id": "a1ee513d-a824-4693-a430-e997b5d25172"
      },
      "RequestBody": {
        "batchItems": [
          {
            "query": "?https://atlas.microsoft.com/search/address/reverse/json?api-version=1.0\u0026query=24%2C121\u0026language=en"
          },
          {
            "query": "?https://atlas.microsoft.com/search/address/reverse/json?api-version=1.0\u0026query=47.606038%2C-122.333345"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://atlas.microsoft.com/search/address/reverse/batch/33c800fe-ef0b-425c-bf0e-030105573a39?api-version=1.0",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": "\u0022\u0022"
    },
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/reverse/batch/33c800fe-ef0b-425c-bf0e-030105573a39?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "a1ee513d-a824-4693-a430-e997b5d25172"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "batchItems": [
          {
            "statusCode": 200,
            "response": {
              "summary": {
                "queryTime": 12,
                "numResults": 1
              },
              "addresses": [
                {
                  "address": {
                    "buildingNumber": "1-20",
                    "streetNumber": "1-20",
                    "routeNumbers": [],
                    "street": "Niuwei Road",
                    "streetName": "Niuwei Road",
                    "streetNameAndNumber": "1-20Niuwei Road",
                    "countryCode": "TW",
                    "countrySubdivision": "T\u00E1iw\u0101n",
                    "municipality": "Nantou County",
                    "postalCode": "545",
                    "municipalitySubdivision": "Puli Township",
                    "country": "Taiwan",
                    "countryCodeISO3": "TWN",
                    "freeformAddress": "1-20, Niuwei Road, Puli Township, Nantou County 54558",
                    "boundingBox": {
                      "northEast": "24.000558,120.988821",
                      "southWest": "24.000178,120.987017",
                      "entity": "position"
                    },
                    "extendedPostalCode": "54558",
                    "localName": "Puli Township"
                  },
                  "position": "24.000296,120.988716"
                }
              ]
            }
          },
          {
            "statusCode": 200,
            "response": {
              "summary": {
                "queryTime": 4,
                "numResults": 1
              },
              "addresses": [
                {
                  "address": {
                    "buildingNumber": "1016",
                    "streetNumber": "1016",
                    "routeNumbers": [],
                    "street": "3rd Avenue",
                    "streetName": "3rd Avenue",
                    "streetNameAndNumber": "1016 3rd Avenue",
                    "countryCode": "US",
                    "countrySubdivision": "WA",
                    "countrySecondarySubdivision": "King",
                    "municipality": "Seattle",
                    "postalCode": "98104",
                    "municipalitySubdivision": "Central Business District",
                    "country": "United States",
                    "countryCodeISO3": "USA",
                    "freeformAddress": "1016 3rd Avenue, Seattle, WA 98104",
                    "boundingBox": {
                      "northEast": "47.606332,-122.334075",
                      "southWest": "47.605617,-122.334708",
                      "entity": "position"
                    },
                    "extendedPostalCode": "98104-1107",
                    "countrySubdivisionName": "Washington",
                    "localName": "Seattle"
                  },
                  "position": "47.605797,-122.334236"
                }
              ]
            }
          }
        ],
        "summary": {
          "successfulRequests": 2,
          "totalRequests": 2
        }
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "a1ee513d-a824-4693-a430-e997b5d25172",
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "ENDPOINT_URL": "https://atlas.microsoft.com",
    "RandomSeed": "1175232104"
  }
}
