{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/reverse/crossStreet/json?api-version=1.0\u0026query=24%2C121\u0026language=en",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "a1ee513d-a824-4693-a430-e997b5d25172"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "numResults": 1,
          "queryTime": 65
        },
        "addresses": [
          {
            "address": {
              "streetName": "Niuwei Road Lane 1 \u0026 Niuwei Road",
              "municipalitySubdivision": "Puli Township",
              "municipality": "Nantou County",
              "countrySubdivision": "Taiwan",
              "postalCode": "545",
              "countryCode": "TW",
              "country": "Taiwan",
              "countryCodeISO3": "TWN",
              "freeformAddress": "Niuwei Road Lane 1 \u0026 Niuwei Road, Puli Township, Nantou County 545",
              "localName": "Puli Township"
            },
            "position": "23.99051,120.98466"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "a1ee513d-a824-4693-a430-e997b5d25172",
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "ENDPOINT_URL": "https://atlas.microsoft.com",
    "RandomSeed": "427672384"
  }
}
