{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/reverse/json?api-version=1.0\u0026query=24%2C121\u0026language=en",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "a1ee513d-a824-4693-a430-e997b5d25172"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "queryTime": 5,
          "numResults": 1
        },
        "addresses": [
          {
            "address": {
              "buildingNumber": "1-20",
              "streetNumber": "1-20",
              "routeNumbers": [],
              "street": "Niuwei Road",
              "streetName": "Niuwei Road",
              "streetNameAndNumber": "1-20Niuwei Road",
              "countryCode": "TW",
              "countrySubdivision": "T\u00E1iw\u0101n",
              "municipality": "Nantou County",
              "postalCode": "545",
              "municipalitySubdivision": "Puli Township",
              "country": "Taiwan",
              "countryCodeISO3": "TWN",
              "freeformAddress": "1-20, Niuwei Road, Puli Township, Nantou County 54558",
              "boundingBox": {
                "northEast": "24.000558,120.988821",
                "southWest": "24.000178,120.987017",
                "entity": "position"
              },
              "extendedPostalCode": "54558",
              "localName": "Puli Township"
            },
            "position": "24.000296,120.988716"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "a1ee513d-a824-4693-a430-e997b5d25172",
    "ENDPOINT_URL": "https://atlas.microsoft.com",
    "RandomSeed": "1726963810"
  }
}
