{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Dec 2021 21:50:22 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablenTdRZ40b"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://pakrymtables3prim.table.core.windows.net/Tables(\u0027testtablenTdRZ40b\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtablenTdRZ40b"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtablenTdRZ40b?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Wed, 22 Dec 2021 21:50:22 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "StringTypeProperty": "hello",
        "DatetimeTypeProperty": "1997-07-08T00:00:00.0000000Z",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "1997-07-08T00:00:00.0000000Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "GuidTypeProperty": "ca761232-ed42-11ce-bacd-00aa0057b223",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "BinaryTypeProperty": "AQID",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "Int64TypeProperty": "9223372036854775807",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "UInt64TypeProperty": "0",
        "UInt64TypeProperty@odata.type": "Edm.Int64",
        "DoubleTypeProperty": 1.7976931348623157E+308,
        "DoubleTypeProperty@odata.type": "Edm.Double",
        "IntTypeProperty": 2147483647,
        "EnumProperty": "Blue",
        "NullableDatetimeTypeProperty": "1997-07-08T00:00:00.0000000Z",
        "NullableDatetimeTypeProperty@odata.type": "Edm.DateTime",
        "NullableDatetimeOffsetTypeProperty": "1997-07-08T00:00:00.0000000Z",
        "NullableDatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "NullableGuidTypeProperty": "ca761232-ed42-11ce-bacd-00aa0057b223",
        "NullableGuidTypeProperty@odata.type": "Edm.Guid",
        "NullableInt64TypeProperty": "9223372036854775807",
        "NullableInt64TypeProperty@odata.type": "Edm.Int64",
        "NullableUInt64TypeProperty": null,
        "NullableDoubleTypeProperty": 1.7976931348623157E+308,
        "NullableDoubleTypeProperty@odata.type": "Edm.Double",
        "NullableIntTypeProperty": 2147483647,
        "NullableEnumProperty": "Blue",
        "PartitionKey": "PK",
        "RowKey": "RK"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://pakrymtables3prim.table.core.windows.net/testtablenTdRZ40b(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
        "ETag": "W/\u0022datetime\u00272021-12-22T21%3A50%3A22.9784597Z\u0027\u0022",
        "Location": "https://pakrymtables3prim.table.core.windows.net/testtablenTdRZ40b(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtablenTdRZ40b(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Dec 2021 21:50:22 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-12-22T21%3A50%3A22.9784597Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#testtablenTdRZ40b/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-22T21%3A50%3A22.9784597Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2021-12-22T21:50:22.9784597Z",
        "StringTypeProperty": "hello",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeTypeProperty": "1997-07-08T00:00:00Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "1997-07-08T00:00:00Z",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "GuidTypeProperty": "ca761232-ed42-11ce-bacd-00aa0057b223",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "Bin[...]
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtablenTdRZ40b(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "W/\u0022datetime\u00272021-12-22T21%3A50%3A22.9784597Z\u0027\u0022",
        "x-ms-date": "Wed, 22 Dec 2021 21:50:22 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "StringTypeProperty": "hello",
        "DatetimeTypeProperty": "1997-07-08T00:00:00.0000000Z",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "1997-07-08T00:00:00.0000000Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "[...]
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/Tables(\u0027testtablenTdRZ40b\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 22 Dec 2021 21:50:22 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "167925982",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "pakrymtables3prim"
  }
}
