{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Dec 2021 21:36:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable2zI4RpHj"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://pakrymtables3prim.table.core.windows.net/Tables(\u0027testtable2zI4RpHj\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtable2zI4RpHj"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_c8d44e44-9eac-44d6-97a2-a5896af06d9d",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Dec 2021 21:36:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1tdWx0aXBhcnRfYm91bmRhcnkNCkNvbnRlbnQtVHlwZTogbXVsdGlwYXJ0L21pe[...]
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtable2zI4RpHj(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Dec 2021 21:36:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-12-22T21%3A36%3A08.382193Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#testtable2zI4RpHj/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-22T21%3A36%3A08.382193Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2021-12-22T21:36:08.382193Z",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeTypeProperty": "1997-07-08T00:00:00Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "1997-07-08T00:00:00Z",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "GuidTypeProperty": "00000000-0000-0000-0000-000000000000",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "Int64TypeProperty": "0",
        "UInt64TypeProperty@odata.type": "Edm.Int64",
        "UInt64TypeProperty": "0",
        "DoubleTypeProperty": 0.0,
        "IntTypeProperty": 0
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtable2zI4RpHj(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "W/\u0022datetime\u00272021-12-22T21%3A36%3A08.382193Z\u0027\u0022",
        "x-ms-date": "Wed, 22 Dec 2021 21:36:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "StringTypeProperty": null,
        "DatetimeTypeProperty": "1997-07-08T00:00:00.0000000Z",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "1997-07-08T00:00:00.0000000Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "GuidTypeProperty": "00000000-0000-0000-0000-000000000000",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "BinaryTypeProperty": null,
        "Int64TypeProperty": "0",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "UInt64TypeProperty": "0",
        "UInt64TypeProperty@odata.type": "Edm.Int64",
        "DoubleTypeProperty": 0,
        "DoubleTypeProperty@odata.type": "Edm.Double",
        "IntTypeProperty": 0,
        "NullableDatetimeTypeProperty": null,
        "NullableDatetimeOffsetTypeProperty": null,
        "NullableGuidTypeProperty": null,
        "NullableInt64TypeProperty": null,
        "NullableUInt64TypeProperty": null,
        "NullableDoubleTypeProperty": null,
        "NullableIntTypeProperty": null,
        "PartitionKey": "PK",
        "RowKey": "RK"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-12-22T21%3A36%3A08.4159844Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/Tables(\u0027testtable2zI4RpHj\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 22 Dec 2021 21:36:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "717016806",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "pakrymtables3prim"
  }
}
