{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Dec 2021 22:48:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableqstWlokg"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://pakrymtables3prim.table.core.windows.net/Tables(\u0027testtableqstWlokg\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtableqstWlokg"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtableqstWlokg(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Dec 2021 22:48:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-12-22T22%3A48%3A10.4773113Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#testtableqstWlokg/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-22T22%3A48%3A10.4773113Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2021-12-22T22:48:10.4773113Z",
        "StringTypeProperty": "hello",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeTypeProperty": "1997-07-08T00:00:00Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "1997-07-08T00:00:00Z",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "GuidTypeProperty": "ca761232-ed42-11ce-bacd-00aa0057b223",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "BinaryTypeProperty": "AQID",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "Int64TypeProperty": "2147483647",
        "UInt64TypeProperty": "2147483647",
        "DoubleTypeProperty": 1.7976931348623157E+308,
        "IntTypeProperty": 2147483647,
        "EnumProperty": "Blue",
        "NullableDatetimeTypeProperty@odata.type": "Edm.DateTime",
        "NullableDatetimeTypeProperty": "1997-07-08T00:00:00Z",
        "NullableDatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "NullableDatetimeOffsetTypeProperty": "1997-07-08T00:00:00Z",
        "NullableGuidTypeProperty@odata.type": "Edm.Guid",
        "NullableGuidTypeProperty": "ca761232-ed42-11ce-bacd-00aa0057b223",
        "NullableInt64TypeProperty@odata.type": "Edm.Int64",
        "NullableInt64TypeProperty": "2147483647",
        "NullableUInt64TypeProperty": "2147483647",
        "NullableDoubleTypeProperty": 1.7976931348623157E+308,
        "NullableIntTypeProperty": 2147483647,
        "NullableEnumProperty": "Blue",
        "NestedEntity": "{\r\n  \u0022Timestamp\u0022: \u00220001-01-01T00:00:00\u002B00:00\u0022,\r\n  \u0022StringTypeProperty\u0022: \u0022hello\u0022,\r\n  \u0022DatetimeTypeProperty\u0022: \u00221997-07-08T00:00:00Z\u0022,\r\n  \u0022DatetimeOffsetTypeProperty\u0022: \u00221997-07-08T00:00:00\u002B00:00\u0022,\r\n  \u0022GuidTypeProperty\u0022: \u0022ca761232-ed42-11ce-bacd-00aa0057b223\u0022,\r\n  \u0022BinaryTypeProperty\u0022: \u0022AQID\u0022,\r\n  \u0022Int64TypeProperty\u0022: 9223372036854775807,\r\n  \u0022UInt64TypeProperty\u0022: 18446744073709551615,\r\n  \u0022DoubleTypeProperty\u0022: 1.7976931348623157E\u002B308,\r\n  \u0022IntTypeProperty\u0022: 2147483647,\r\n  \u0022EnumProperty\u0022: 9,\r\n  \u0022NullableDatetimeTypeProperty\u0022: \u00221997-07-08T00:00:00Z\u0022,\r\n  \u0022NullableDatetimeOffsetTypeProperty\u0022: \u00221997-07-08T00:00:00\u002B00:00\u0022,\r\n  \u0022NullableGuidTypeProperty\u0022: \u0022ca761232-ed42-11ce-bacd-00aa0057b223\u0022,\r\n  \u0022NullableInt64TypeProperty\u0022: 9223372036854775807,\r\n  \u0022NullableUInt64TypeProperty\u0022: 18446744073709551615,\r\n  \u0022NullableDoubleTypeProperty\u0022: 1.7976931348623157E\u002B308,\r\n  \u0022NullableIntTypeProperty\u0022: 2147483647,\r\n  \u0022NullableEnumProperty\u0022: 9\r\n}"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/Tables(\u0027testtableqstWlokg\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 22 Dec 2021 22:48:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "346377107",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "pakrymtables3prim"
  }
}
