{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/d2c8840c-37f0-4495-84b3-44817a413b8d/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "AppDependencies | where AppRoleName == \u0027VerifyTraceExporter\u0027 | top 1 by TimeGenerated",
        "timespan": "PT30M"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "TenantId",
                "type": "string"
              },
              {
                "name": "TimeGenerated",
                "type": "datetime"
              },
              {
                "name": "Id",
                "type": "string"
              },
              {
                "name": "Target",
                "type": "string"
              },
              {
                "name": "DependencyType",
                "type": "string"
              },
              {
                "name": "Name",
            [...]
