{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/test-queue-a46818b0-2ec4-0557-02cb-33d959b7d711",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2019 23:53:09 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/?comp=list\u0026maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2019 23:53:09 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cEnumerationResults ServiceEndpoint=\u0022http://storageteglazatesting.queue.core.windows.net/\u0022\u003e\u003cMaxResults\u003e1\u003c/MaxResults\u003e\u003cQueues\u003e\u003cQueue\u003e\u003cName\u003etest-queue-4b213b88-50a4-eb34-53f1-87e28ef035a1\u003c/Name\u003e\u003c/Queue\u003e\u003c/Queues\u003e\u003cNextMarker\u003e/storageteglazatesting/test-queue-568be49c-9510-e354-2c10-fe1825cb593f\u003c/NextMarker\u003e\u003c/EnumerationResults\u003e"
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/test-queue-a46818b0-2ec4-0557-02cb-33d959b7d711",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2019 23:53:09 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1822712226"
  }
}