{
  "Entries": [
    {
      "RequestUri": "https://devicemodels.azure.com/metadata.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "/UQmDZsQJzeHPV71jiPiVQ==",
        "Content-Type": "application/json",
        "ETag": "\u00220x8D99F209C28D31F\u0022",
        "Last-Modified": "Wed, 03 Nov 2021 23:21:05 GMT",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022commitId\u0022: \u002240f66e2f3231c46cc9b46b0feab54a28d9720710\u0022,\n",
        "  \u0022features\u0022: {\n",
        "    \u0022expanded\u0022: true,\n",
        "    \u0022index\u0022: true\n",
        "  },\n",
        "  \u0022publishDateUtc\u0022: \u00222021-11-03T23:01:02.367781\u002B00:00\u0022,\n",
        "  \u0022sourceRepo\u0022: \u0022Azure/iot-plugandplay-models\u0022,\n",
        "  \u0022totalModelCount\u0022: 19041\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://devicemodels.azure.com/dtmi/com/example/thermostat-1.expanded.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "pH51cS5\u002Bu5tWh2Krmys7qA==",
        "Content-Type": "application/json",
        "ETag": "\u00220x8D8FED94ECA13B6\u0022",
        "Last-Modified": "Wed, 14 Apr 2021 00:07:35 GMT",
        "x-ms-error-code": "ConditionNotMet",[...]
    {
      "RequestUri": "https://devicemodels.azure.com/dtmi/azure/devicemanagement/deviceinformation-1.expanded.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Vw1WdSQoTBOhmiB9XXUwsw==",
        "Content-Type": "application/json",
        "ETag": "\u00220x8D8FED95F570217\u0022",
        "Last-Modified": "Wed, 14 Apr 2021 00:08:03 GMT",
        "x-ms-error-code": "Cond[...]
