{
  "Entries": [
    {
      "RequestUri": "https://devicemodels.azure.com/metadata.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "/UQmDZsQJzeHPV71jiPiVQ==",
        "Content-Type": "application/json",
        "ETag": "\u00220x8D99F209C28D31F\u0022",
        "Last-Modified": "Wed, 03 Nov 2021 23:21:05 GMT",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022commitId\u0022: \u002240f66e2f3231c46cc9b46b0feab54a28d9720710\u0022,\n",
        "  \u0022features\u0022: {\n",
        "    \u0022expanded\u0022: true,\n",
        "    \u0022index\u0022: true\n",
        "  },\n",
        "  \u0022publishDateUtc\u0022: \u00222021-11-03T23:01:02.367781\u002B00:00\u0022,\n",
        "  \u0022sourceRepo\u0022: \u0022Azure/iot-plugandplay-models\u0022,\n",
        "  \u0022totalModelCount\u0022: 19041\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://devicemodels.azure.com/dtmi/com/example/thermojax-999.expanded.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "text/html",
        "x-ms-error-code": "WebContentNotFound",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\u003C!DOCTYPE html\u003E\u003Chtml\u003E\u003Chead\u003E\u003Ctitle\u003EWebContentNotFound\u003C/title\u003E\u003C/head\u003E\u003Cbody\u003E\u003Ch1\u003EThe requested content does not exist.\u003C/h1\u003E\u003Cp\u003E\u003Cul\u003E\u003Cli\u003EHttpStatusCode: 404\u003C/li\u003E\u003Cli\u003EErrorCode: WebContentNotFound\u003C/li\u003E\u003Cli\u003ERequestId : b3678e2d-001e-004a-0f11-d1458f000000\u003C/li\u003E\u003Cli\u003ETimeStamp : 2021-11-04T00:17:04.1063886Z\u003C/li\u003E\u003C/ul\u003E\u003C/p\u003E\u003C/body\u003E\u003C/html\u003E"
    },
    {
      "RequestUri": "https://devicemodels.azure.com/dtmi/com/example/thermojax-999.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "text/html",
        "x-ms-error-code": "WebContentNotFound",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\u003C!DOCTYPE html\u003E\u003Chtml\u003E\u003Chead\u003E\u003Ctitle\u003EWebContentNotFound\u003C/title\u003E\u003C/head\u003E\u003Cbody\u003E\u003Ch1\u003EThe requested content does not exist.\u003C/h1\u003E\u003Cp\u003E\u003Cul\u003E\u003Cli\u003EHttpStatusCode: 404\u003C/li\u003E\u003Cli\u003EErrorCode: WebContentNotFound\u003C/li\u003E\u003Cli\u003ERequestId : a92a400f-601e-00f4-3711-d191d6000000\u003C/li\u003E\u003Cli\u003ETimeStamp : 2021-11-04T00:17:04.1208560Z\u003C/li\u003E\u003C/ul\u003E\u003C/p\u003E\u003C/body\u003E\u003C/html\u003E"
    }
  ],
  "Variables": {
    "RandomSeed": "2091722528"
  }
}