{
  "Entries": [
    {
      "RequestUri": "https://devicemodels.azure.com/metadata.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "OkUGX73Wcpprz\u002BfCNCW9pg==",
        "Content-Type": "application/json",
        "ETag": "\u00220x8D997ED4E02500D\u0022",
        "Last-Modified": "Mon, 25 Oct 2021 19:26:12 GMT",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022commitId\u0022: \u00222d6b97fa1caf982c23ad1c2c3bea0ed777810698\u0022,\n",
        "  \u0022features\u0022: {\n",
        "    \u0022expanded\u0022: true,\n",
        "    \u0022index\u0022: true\n",
        "  },\n",
        "  \u0022publishDateUtc\u0022: \u00222021-10-25T19:01:02.538359\u002B00:00\u0022,\n",
        "  \u0022sourceRepo\u0022: \u0022Azure/iot-plugandplay-models\u0022,\n",
        "  \u0022totalModelCount\u0022: 19037\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://devicemodels.azure.com/dtmi/com/example/thermojax-999.expanded.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "text/html",
        "x-ms-error-code": "WebContentNotFound",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\u003C!DOCTYPE html\u003E\u003Chtml\u003E\u003Chead\u003E\u003Ctitle\u003EWebContentNotFound\u003C/title\u003E\u003C/head\u003E\u003Cbody\u003E\u003Ch1\u003EThe requested content does not exist.\u003C/h1\u003E\u003Cp\u003E\u003Cul\u003E\u003Cli\u003EHttpStatusCode: 404\u003C/li\u003E\u003Cli\u003EErrorCode: WebContentNotFound\u003C/li\u003E\u003Cli\u003ERequestId : 313d34e0-901e-0023-1bd5-ca74be000000\u003C/li\u003E\u003Cli\u003ETimeStamp : 2021-10-27T01:55:52.4041479Z\u003C/li\u003E\u003C/ul\u003E\u003C/p\u003E\u003C/body\u003E\u003C/html\u003E"
    },
    {
      "RequestUri": "https://devicemodels.azure.com/dtmi/com/example/thermojax-999.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "text/html",
        "x-ms-error-code": "WebContentNotFound",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\u003C!DOCTYPE html\u003E\u003Chtml\u003E\u003Chead\u003E\u003Ctitle\u003EWebContentNotFound\u003C/title\u003E\u003C/head\u003E\u003Cbody\u003E\u003Ch1\u003EThe requested content does not exist.\u003C/h1\u003E\u003Cp\u003E\u003Cul\u003E\u003Cli\u003EHttpStatusCode: 404\u003C/li\u003E\u003Cli\u003EErrorCode: WebContentNotFound\u003C/li\u003E\u003Cli\u003ERequestId : 3d67168e-d01e-00b3-60d5-ca93c9000000\u003C/li\u003E\u003Cli\u003ETimeStamp : 2021-10-27T01:55:52.4185492Z\u003C/li\u003E\u003C/ul\u003E\u003C/p\u003E\u003C/body\u003E\u003C/html\u003E"
    }
  ],
  "Variables": {
    "RandomSeed": "369697226"
  }
}