{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Subject is taking 100mg of ibuprofen twice daily",
              "language": "en"
            },
            {
              "id": "1",
              "text": "",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "projectName": "7cdace98-537b-494a-b69a-c19754718025",
              "deploymentName": "7cdace98-537b-494a-b69a-c19754718025"
            },
            "kind": "CustomMultiLabelClassification"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/b58f514c-7776-4eed-ae1a-853e538293d4?api-version=2022-05-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/b58f514c-7776-4eed-ae1a-853e538293d4?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "b58f514c-7776-4eed-ae1a-853e538293d4",
        "lastUpdatedDateTime": "2022-07-21T23:24:48Z",
        "createdDateTime": "2022-07-21T23:24:48Z",
        "expirationDateTime": "2022-07-22T23:24:48Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/b58f514c-7776-4eed-ae1a-853e538293d4?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "b58f514c-7776-4eed-ae1a-853e538293d4",
        "lastUpdatedDateTime": "2022-07-21T23:24:49Z",
        "createdDateTime": "2022-07-21T23:24:48Z",
        "expirationDateTime": "2022-07-22T23:24:48Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomMultiLabelClassificationLROResults",
              "lastUpdateDateTime": "2022-07-21T23:24:49.262003Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "class": [],
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "1",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Document in request.",
                      "innererror": {
                        "code": "InvalidDocument",
                        "message": "Document text is empty."
                      }
                    }
                  }
                ],
                "projectName": "7cdace98-537b-494a-b69a-c19754718025",
                "deploymentName": "7cdace98-537b-494a-b69a-c19754718025"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "300859891",
    "TEXTANALYTICS_MULTI_CATEGORY_CLASSIFY_DEPLOYMENT_NAME": "7cdace98-537b-494a-b69a-c19754718025",
    "TEXTANALYTICS_MULTI_CATEGORY_CLASSIFY_PROJECT_NAME": "7cdace98-537b-494a-b69a-c19754718025",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
