{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Subject is taking 100mg of ibuprofen twice daily",
              "language": "en"
            },
            {
              "id": "1",
              "text": "",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "projectName": "7cdace98-537b-494a-b69a-c19754718025",
              "deploymentName": "7cdace98-537b-494a-b69a-c19754718025"
            },
            "kind": "CustomMultiLabelClassification"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/a5f7d848-5f1d-49c9-8e76-c9176bbf135e?api-version=2022-10-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/a5f7d848-5f1d-49c9-8e76-c9176bbf135e?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "a5f7d848-5f1d-49c9-8e76-c9176bbf135e",
        "lastUpdateDateTime": "2022-10-14T22:18:56Z",
        "createdDateTime": "2022-10-14T22:18:56Z",
        "expirationDateTime": "2022-10-15T22:18:56Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/a5f7d848-5f1d-49c9-8e76-c9176bbf135e?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "a5f7d848-5f1d-49c9-8e76-c9176bbf135e",
        "lastUpdateDateTime": "2022-10-14T22:18:57Z",
        "createdDateTime": "2022-10-14T22:18:56Z",
        "expirationDateTime": "2022-10-15T22:18:56Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomMultiLabelClassificationLROResults",
              "lastUpdateDateTime": "2022-10-14T22:18:57.1834603Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "class": [],
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "1",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Document in request.",
                      "innererror": {
                        "code": "InvalidDocument",
                        "message": "Document text is empty."
                      }
                    }
                  }
                ],
                "projectName": "7cdace98-537b-494a-b69a-c19754718025",
                "deploymentName": "7cdace98-537b-494a-b69a-c19754718025"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "843572563",
    "TEXTANALYTICS_MULTI_CATEGORY_CLASSIFY_DEPLOYMENT_NAME": "7cdace98-537b-494a-b69a-c19754718025",
    "TEXTANALYTICS_MULTI_CATEGORY_CLASSIFY_PROJECT_NAME": "7cdace98-537b-494a-b69a-c19754718025",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
