{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "defaultLanguage": "en",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "I need a reservation for an indoor restaurant in China. Please don\u0027t stop the music. Play music and add it to my playlist",
              "language": "auto"
            },
            {
              "id": "1",
              "text": "David Schmidt, senior vice president--Food Safety, International Food Information Council (IFIC), Washington, D.C., discussed the physical activity component.",
              "language": "auto"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "projectName": "7cdace98-537b-494a-b69a-c19754718025",
              "deploymentName": "7cdace98-537b-494a-b69a-c19754718025"
            },
            "kind": "CustomMultiLabelClassification"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/046853a8-12a2-411f-b540-bb10d068b727?api-version=2022-10-01-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/046853a8-12a2-411f-b540-bb10d068b727?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "046853a8-12a2-411f-b540-bb10d068b727",
        "lastUpdatedDateTime": "2022-11-29T20:37:19Z",
        "createdDateTime": "2022-11-29T20:37:19Z",
        "expirationDateTime": "2022-11-30T20:37:19Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/046853a8-12a2-411f-b540-bb10d068b727?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "046853a8-12a2-411f-b540-bb10d068b727",
        "lastUpdatedDateTime": "2022-11-29T20:37:20Z",
        "createdDateTime": "2022-11-29T20:37:19Z",
        "expirationDateTime": "2022-11-30T20:37:19Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomMultiLabelClassificationLROResults",
              "lastUpdateDateTime": "2022-11-29T20:37:20.8647608Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "class": [
                      {
                        "category": "BookRestaurant",
                        "confidenceScore": 0.97
                      }
                    ],
                    "warnings": [],
                    "detectedLanguage": {
                      "name": "English",
                      "iso6391Name": "en",
                      "confidenceScore": 0.95
                    },
                    "isLanguageDefaulted": false
                  },
                  {
                    "id": "1",
                    "class": [],
                    "warnings": [],
                    "detectedLanguage": {
                      "name": "English",
                      "iso6391Name": "en",
                      "confidenceScore": 0.95
                    },
                    "isLanguageDefaulted": false
                  }
                ],
                "errors": [],
                "projectName": "7cdace98-537b-494a-b69a-c19754718025",
                "deploymentName": "7cdace98-537b-494a-b69a-c19754718025"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1264134569",
    "TEXTANALYTICS_MULTI_CATEGORY_CLASSIFY_DEPLOYMENT_NAME": "7cdace98-537b-494a-b69a-c19754718025",
    "TEXTANALYTICS_MULTI_CATEGORY_CLASSIFY_PROJECT_NAME": "7cdace98-537b-494a-b69a-c19754718025",
    "TEXT_ANALYTICS_STATIC_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_STATIC_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
