{
  "Entries": [
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-974cf6a8-27e9-e186-1e0c-2c37b5a4d120?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 14 May 2021 17:37:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D916FF03F22938\"",
        "Last-Modified": "Fri, 14 May 2021 17:37:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-974cf6a8-27e9-e186-1e0c-2c37b5a4d120?sv=2020-10-02&ss=b&srt=sco&se=2021-05-15T17%3A37%3A59Z&sp=rwdxlacuptfi&sig=Sanitized&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D916FF03F22938\"",
        "Last-Modified": "Fri, 14 May 2021 17:37:58 GMT",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-immutable-storage-with-versioning-enabled": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagehns.blob.core.windows.net/test-filesystem-974cf6a8-27e9-e186-1e0c-2c37b5a4d120?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 14 May 2021 17:37:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-05-14T12:37:59.4461838-05:00",
    "RandomSeed": "927757377",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanstagehns\nU2FuaXRpemVk\nhttps://seanstagehns.blob.core.windows.net\nhttps://seanstagehns.file.core.windows.net\nhttps://seanstagehns.queue.core.windows.net\nhttps://seanstagehns.table.core.windows.net\n\n\n\n\nhttps://seanstagehns-secondary.blob.core.windows.net\nhttps://seanstagehns-secondary.file.core.windows.net\nhttps://seanstagehns-secondary.queue.core.windows.net\nhttps://seanstagehns-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanstagehns.blob.core.windows.net/;QueueEndpoint=https://seanstagehns.queue.core.windows.net/;FileEndpoint=https://seanstagehns.file.core.windows.net/;BlobSecondaryEndpoint=https://seanstagehns-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanstagehns-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanstagehns-secondary.file.core.windows.net/;AccountName=seanstagehns;AccountKey=Sanitized\n\n\n"
  }
}