{
  "Entries": [
    {
      "RequestUri": "https://seanstagehierarchical.blob.core.windows.net/?sv=2019-10-10\u0026ss=b\u0026srt=sco\u0026st=2020-03-05T21%3A44%3A08Z\u0026se=2020-03-05T23%3A44%3A08Z\u0026sp=rwdlac\u0026sig=Sanitized\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanstagehierarchical.blob.core.windows.net/\u0022\u003E\u003CContainers\u003E\u003CContainer\u003E\u003CName\u003Etest-filesystem-061d29b7-55d3-37a6-5b67-625870cd1ddf\u003C/Name\u003E\u003CProperties\u003E\u003CLast-Modified\u003EMon, 23 Dec 2019 21:03:11 GMT\u003C/Last-Modified\u003E\u003CEtag\u003E\u00220x8D787EB8512ABF2\u0022\u003C/Etag\u003E\u003CLeaseStatus\u00[...]
