{
  "Entries": [
    {
      "RequestUri": "https://631xscnapsn4prde17h.blob.preprod.core.windows.net/test-filesystem-314b010c-5ee6-3843-b51e-fc08efffd5f8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Nov 2020 22:18:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D88FFDAAB3D671\u0022",
        "Last-Modified": "Mon, 23 Nov 2020 22:18:12 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://631xscnapsn4prde17h.blob.preprod.core.windows.net/test-filesystem-314b010c-5ee6-3843-b51e-fc08efffd5f8?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Nov 2020 22:18:12 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "30",
        "x-ms-proposed-lease-id": "e581eb5b-9133-88ac-e37e-21314dfbab43"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D88FFDAAB3D671\u0022",
        "Last-Modified": "Mon, 23 Nov 2020 22:18:12 GMT",
        "x-ms-lease-id": "e581eb5b-9133-88ac-e37e-21314dfbab43"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://631xscnapsn4prde17h.blob.preprod.core.windows.net/test-filesystem-83d1b69b-0c0f-3f05-a246-56d0e3c6c311?restype=container\u0026comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Nov 2020 22:18:12 GMT",
        "x-ms-source-container-name": "test-filesystem-314b010c-5ee6-3843-b51e-fc08efffd5f8",
        "x-ms-source-lease-id": "e581eb5b-9133-88ac-e37e-21314dfbab43",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://631xscnapsn4prde17h.blob.preprod.core.windows.net/test-filesystem-83d1b69b-0c0f-3f05-a246-56d0e3c6c311?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Nov 2020 22:18:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D88FFDAACC848A\u0022",
        "Last-Modified": "Mon, 23 Nov 2020 22:18:12 GMT",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://631xscnapsn4prde17h.blob.preprod.core.windows.net/test-filesystem-83d1b69b-0c0f-3f05-a246-56d0e3c6c311?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Nov 2020 22:18:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "48376739",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\n631xscnapsn4prde17h\nU2FuaXRpemVk\nhttps://631xscnapsn4prde17h.blob.preprod.core.windows.net\nhttps://631xscnapsn4prde17h.file.preprod.core.windows.net\nhttps://631xscnapsn4prde17h.queue.preprod.core.windows.net\nhttps://631xscnapsn4prde17h.table.preprod.core.windows.net\n\n\n\n\nhttps://631xscnapsn4prde17h-secondary.blob.preprod.core.windows.net\nhttps://631xscnapsn4prde17h-secondary.file.preprod.core.windows.net\nhttps://631xscnapsn4prde17h-secondary.queue.preprod.core.windows.net\nhttps://631xscnapsn4prde17h-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://631xscnapsn4prde17h.blob.preprod.core.windows.net/;QueueEndpoint=https://631xscnapsn4prde17h.queue.preprod.core.windows.net/;FileEndpoint=https://631xscnapsn4prde17h.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://631xscnapsn4prde17h-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://631xscnapsn4prde17h-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://631xscnapsn4prde17h-secondary.file.preprod.core.windows.net/;AccountName=631xscnapsn4prde17h;AccountKey=Sanitized\n"
  }
}