{
  "Entries": [
    {
      "RequestUri": "https://seannseca.blob.core.windows.net/test-filesystem-d83bbe5f-2e27-5b47-d026-f57c8f1712bc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 May 2021 23:58:32 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D914D8AF47A66B\u0022",
        "Last-Modified": "Tue, 11 May 2021 23:58:33 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannseca.blob.core.windows.net/?comp=list\u0026include=Deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 May 2021 23:58:32 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seannseca.blob.core.windows.net/\u0022\u003E\u003CContainers\u003E\u003CContainer\u003E\u003CName\u003Etest-filesystem-4bd1ea2c-a2d0-4c9f-8d65-d835c66c46ef\u003C/Name\u003E\u003CDeleted\u003Etrue\u003C/Deleted\u003E\u003CVersion\u003E01D746C15F65E566\u003C/Version\u003E\u003CProper[...]
    {
      "RequestUri": "https://seannseca.blob.core.windows.net/test-filesystem-d83bbe5f-2e27-5b47-d026-f57c8f1712bc?restype=container\u0026comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 May 2021 23:59:03 GMT",
        "x-ms-deleted-container-name": "test-filesystem-d83bbe5f-2e27-5b47-d026-f57c8f1712bc",
        "x-ms-deleted-container-version": "01D746C18CD1174B",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannseca.blob.core.windows.net/test-filesystem-d83bbe5f-2e27-5b47-d026-f57c8f1712bc?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 May 2021 23:59:03 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D914D8C16C420B\u0022",
        "Last-Modified": "Tue, 11 May 2021 23:59:04 GMT",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannseca.blob.core.windows.net/test-filesystem-d83bbe5f-2e27-5b47-d026-f57c8f1712bc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 May 2021 23:59:03 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1899801681",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannseca\nU2FuaXRpemVk\nhttps://seannseca.blob.core.windows.net\nhttps://seannseca.file.core.windows.net\nhttps://seannseca.queue.core.windows.net\nhttps://seannseca.table.core.windows.net\n\n\n\n\nhttps://seannseca-secondary.blob.core.windows.net\nhttps://seannseca-secondary.file.core.windows.net\nhttps://seannseca-secondary.queue.core.windows.net\nhttps://seannseca-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannseca.blob.core.windows.net/;QueueEndpoint=https://seannseca.queue.core.windows.net/;FileEndpoint=https://seannseca.file.core.windows.net/;BlobSecondaryEndpoint=https://seannseca-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannseca-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannseca-secondary.file.core.windows.net/;AccountName=seannseca;AccountKey=Sanitized\n"
  }
}