{
  "Entries": [
    {
      "RequestUri": "https://seannseca.blob.core.windows.net/test-filesystem-506aa225-56e8-5e32-8a63-a91451743255?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 May 2021 23:59:03 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D914D8C19DB8FE\"",
        "Last-Modified": "Tue, 11 May 2021 23:59:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seannseca.blob.core.windows.net/?comp=list&include=Deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 May 2021 23:59:03 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seannseca.blob.core.windows.net/\"><Containers><Container><Name>test-filesystem-4bd1ea2c-a2d0-4c9f-8d65-d835c66c46ef</Name><Deleted>true</Deleted><Version>01D746C15F65E566</Version><Properties><Last-Modified>Tue, 11 May 2021 23:57:17 GMT</Last-Modified><Etag>\"0x8D914D881DCD277\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>expired</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><DeletedTime>Tue, 11 May 2021 23:57:17 GMT</DeletedTime><RemainingRetentionDays>7</RemainingRetentionDays></Properties></Container><Container><Name>test-filesystem-506aa225-56e8-5e32-8a63-a91451743255</Name><Deleted>true</Deleted><Version>01D746C19F271B4D</Version><Properties><Last-Modified>Tue, 11 May 2021 23:59:04 GMT</Last-Modified><Etag>\"0x8D914D8C19DB8FE\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>fixed</LeaseDuration><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><DeletedTime>Tue, 11 May 2021 23:59:04 GMT</DeletedTime><RemainingRetentionDays>7</RemainingRetentionDays></Properties></Container><Container><Name>test-filesystem-d83bbe5f-2e27-5b47-d026-f57c8f1712bc</Name><Deleted>true</Deleted><Version>01D746C19EF52CD7</[...]
    {
      "RequestUri": "https://seannseca.blob.core.windows.net/test-filesystem-506aa225-56e8-5e32-8a63-a91451743255?restype=container&comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 May 2021 23:59:33 GMT",
        "x-ms-deleted-container-name": "test-filesystem-506aa225-56e8-5e32-8a63-a91451743255",
        "x-ms-deleted-container-version": "01D746C19F271B4D",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannseca.blob.core.windows.net/test-filesystem-506aa225-56e8-5e32-8a63-a91451743255?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 May 2021 23:59:33 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D914D8D3B71EF0\"",
        "Last-Modified": "Tue, 11 May 2021 23:59:34 GMT",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannseca.blob.core.windows.net/test-filesystem-506aa225-56e8-5e32-8a63-a91451743255?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 May 2021 23:59:34 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1159651492",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannseca\nU2FuaXRpemVk\nhttps://seannseca.blob.core.windows.net\nhttps://seannseca.file.core.windows.net\nhttps://seannseca.queue.core.windows.net\nhttps://seannseca.table.core.windows.net\n\n\n\n\nhttps://seannseca-secondary.blob.core.windows.net\nhttps://seannseca-secondary.file.core.windows.net\nhttps://seannseca-secondary.queue.core.windows.net\nhttps://seannseca-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannseca.blob.core.windows.net/;QueueEndpoint=https://seannseca.queue.core.windows.net/;FileEndpoint=https://seannseca.file.core.windows.net/;BlobSecondaryEndpoint=https://seannseca-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannseca-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannseca-secondary.file.core.windows.net/;AccountName=seannseca;AccountKey=Sanitized\n\n\n"
  }
}