{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-7607/providers/Microsoft.DataFactory/factories/datafactory-7170?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11907"
      },
      "ResponseBody": {
        "name": "DataFactory-7170",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-7607/providers/Microsoft.DataFactory/factories/datafactory-7170",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2022-07-30T17:03:40.0846666Z",
          "version": "2018-06-01",
          "factoryStatistics": {
            "totalResourceCount": 0,
            "maxAllowedResourceCount": 0,
            "factorySizeInGbUnits": 0,
            "maxAllowedFactorySizeInGbUnits": 0
          }
        },
        "eTag": "\u00221a00ec42-0000-0800-0000-62e5646c0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-7607/providers/Microsoft.DataFactory/factories/datafactory-7170/pipelines/pipeline-3433?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1122"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-7607/providers/Microsoft.DataFactory/factories/datafactory-7170/pipelines/pipeline-3433",
        "name": "pipeline-3433",
        "type": "Microsoft.DataFactory/factories/pipelines",
        "properties": {},
        "etag": "c300a74b-0000-0800-0000-62e5647a0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-7607/providers/Microsoft.DataFactory/factories/datafactory-7170/pipelines?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11906"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-7607/providers/Microsoft.DataFactory/factories/datafactory-7170/pipelines/pipeline-267",
            "name": "pipeline-267",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "properties": {
              "lastPublishTime": "2022-07-30T17:03:42Z"
            },
            "etag": "c300954b-0000-0800-0000-62e5646e0000"
          },
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-7607/providers/Microsoft.DataFactory/factories/datafactory-7170/pipelines/pipeline-9266",
            "name": "pipeline-9266",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "properties": {
              "lastPublishTime": "2022-07-30T17:03:49Z"
[...]
