{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-6469/providers/Microsoft.DataFactory/factories/datafactory-1558?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11957"
      },
      "ResponseBody": {
        "name": "DataFactory-1558",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-6469/providers/Microsoft.DataFactory/factories/datafactory-1558",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2022-07-20T08:22:09.8215618Z",
          "version": "2018-06-01",
          "factoryStatistics": {
            "totalResourceCount": 0,
            "maxAllowedResourceCount": 0,
            "factorySizeInGbUnits": 0,
            "maxAllowedFactorySizeInGbUnits": 0
          }
        },
        "eTag": "\u002230002943-0000-0800-0000-62d7bb310000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-6469/providers/Microsoft.DataFactory/factories/datafactory-1558/pipelines/pipeline-933?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1172"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-6469/providers/Microsoft.DataFactory/factories/datafactory-1558/pipelines/pipeline-933",
        "name": "pipeline-933",
        "type": "Microsoft.DataFactory/factories/pipelines",
        "properties": {},
        "etag": "1200945e-0000-0800-0000-62d7bb400000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-6469/providers/Microsoft.DataFactory/factories/datafactory-1558/pipelines?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11956"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-6469/providers/Microsoft.DataFactory/factories/datafactory-1558/pipelines/pipeline-5515",
            "name": "pipeline-5515",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "properties": {
              "lastPublishTime": "2022-07-20T08:22:12Z"
            },
            "etag": "1200815e-0000-0800-0000-62d7bb340000"
          },
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-6469/providers/Microsoft.DataFactory/factories/datafactory-1558/pipelines/pipeline-5237",
            "name": "pipeline-5237",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "properties": {
              "lastPublishTime": "2022-07-20T08:22:19Z"
[...]
