<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hyak.Generator" version="1.0.5400.37276-prerelease" targetFramework="net45" />
  <package id="Microsoft.Azure.Management.Insights.Specification" version="1.0.5424.10974-prerelease" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="net40" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="net40" />
  <package id="Microsoft.Data.Services.Client" version="5.6.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Common" version="1.4.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Common.Dependencies" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.0" targetFramework="net40" />
  <package id="WindowsAzure.Storage" version="4.0.1" targetFramework="net40" />
</packages>