{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11484"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/checkNameAvailability?api-version=2021-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "teststoragemgmt4820",
        "type": "Microsoft.Storage/storageAccounts"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11483"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-1031?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1032"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-1031",
        "name": "teststorageRG-1031",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-1031/providers/Microsoft.Storage/storageAccounts/teststoragemgmt4820?api-version=2021-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "StorageV2",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/5defe2a5-be34-41ac-9818-5ce413194c3a?monitor=true\u0026api-version=2021-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1031"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/5defe2a5-be34-41ac-9818-5ce413194c3a?monitor=true\u0026api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/5defe2a5-be34-41ac-9818-5ce413194c3a?monitor=true\u0026api-version=2021-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11482"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/5defe2a5-be34-41ac-9818-5ce413194c3a?monitor=true\u0026api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11481"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "kind": "StorageV2",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-1031/providers/Microsoft.Storage/storageAccounts/teststoragemgmt4820",
        "name": "teststoragemgmt4820",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "keyCreationTime": {
            "key1": "2022-06-10T07:30:19.5762258Z",
            "key2": "2022-06-10T07:30:19.5762258Z"
          },
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_0",
          "allowBlobPublicAccess": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-06-10T07:30:19.5918476Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-06-10T07:30:19.5918476Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2022-06-10T07:30:19.3887220Z",
          "primaryEndpoints": {
            "dfs": "https://teststoragemgmt4820.dfs.core.windows.net/",
            "web": "https://teststoragemgmt4820.z20.web.core.windows.net/",
            "blob": "https://teststoragemgmt4820.blob.core.windows.net/",
            "queue": "https://teststoragemgmt4820.queue.core.windows.net/",
            "table": "https://teststoragemgmt4820.table.core.windows.net/",
            "file": "https://teststoragemgmt4820.file.core.windows.net/"
          },
          "primaryLocation": "eastus2",
          "statusOfPrimary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-1031/providers/Microsoft.Storage/storageAccounts/teststoragemgmt4820/privateLinkResources?api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11480"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-1031/providers/Microsoft.Storage/storageAccounts/teststoragemgmt4820/privateLinkResources/blob",
            "name": "blob",
            "type": "Microsoft.Storage/storageAccounts/privateLinkResources",
            "properties": {
              "groupId": "blob",
              "requiredMembers": [
                "blob"
              ],
              "requiredZoneNames": [
                "privatelink.blob.core.windows.net"
              ]
            }
          },
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-1031/providers/Microsoft.Storage/storageAccounts/teststoragemgmt4820/privateLinkResources/table",
            "name": "table",
            "type": "Microsoft.Storage/storageAccounts/privateLinkResources",
            "properties": {
              "groupId": "table",
              "required[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-1031/providers/Microsoft.Storage/storageAccounts?api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11479"
  [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-1031/providers/Microsoft.Storage/storageAccounts/teststoragemgmt4820?api-version=2021-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "14931"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "914662737",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
