{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/usages?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11946"
      },
      "ResponseBody": {
        "value": [
          {
            "unit": "Count",
            "currentValue": 2,
            "limit": 250,
            "name": {
              "value": "StorageAccounts",
              "localizedValue": "Storage Accounts"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1030169175",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb"
  }
}