{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/checkNameAvailability?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "teststoragemgmt5921",
        "type": "Microsoft.Storage/storageAccounts"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-5134?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "tags": {
          "test": "env"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-5134",
        "name": "teststorageRG-5134",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-5134/providers/Microsoft.Storage/storageAccounts/teststoragemgmt5921?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "Storage",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0d519539-8f84-4ce7-b89b-ba1331c67e9f?monitor=true\u0026api-version=2021-04-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0d519539-8f84-4ce7-b89b-ba1331c67e9f?monitor=true\u0026api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0d519539-8f84-4ce7-b89b-ba1331c67e9f?monitor=true\u0026api-version=2021-04-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0d519539-8f84-4ce7-b89b-ba1331c67e9f?monitor=true\u0026api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11967"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "Storage",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-5134/providers/Microsoft.Storage/storageAccounts/teststoragemgmt5921",
        "name": "teststoragemgmt5921",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "keyCreationTime": {
            "key1": "2021-09-14T08:05:23.0160251Z",
            "key2": "2021-09-14T08:05:23.0160251Z"
          },
          "privateEndpointConnections": [],
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2021-09-14T08:05:23.0160251Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2021-09-14T08:05:23.0160251Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "provisioningState": "Succeeded",
          "creationTime": "2021-09-14T08:05:22.7035020Z",
          "primaryEndpoints": {
            "blob": "https://teststoragemgmt5921.blob.core.windows.net/",
            "queue": "https://teststoragemgmt5921.queue.core.windows.net/",
            "table": "https://teststoragemgmt5921.table.core.windows.net/",
            "file": "https://teststoragemgmt5921.file.core.windows.net/"
          },
          "primaryLocation": "eastus2",
          "statusOfPrimary": "available",
          "secondaryLocation": "centralus",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-5134/providers/Microsoft.Storage/storageAccounts/teststoragemgmt5921/revokeUserDelegationKeys?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-5134/providers/Microsoft.Storage/storageAccounts?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11966"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_GRS",
              "tier": "Standard"
            },
            "kind": "Storage",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-5134/providers/Microsoft.Storage/storageAccounts/teststoragemgmt5921",
            "name": "teststoragemgmt5921",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "eastus2",
            "tags": {
              "key1[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-5134/providers/Microsoft.Storage/storageAccounts/teststoragemgmt5921?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2008610975",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}