{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "e3853e83-0d02-4fb3-b88f-05b5fd21aee2",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Liftr-Nginx-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/Default-Nginx-6172?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172",
        "name": "Default-Nginx-6172",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Microsoft.Network/publicIPAddresses/testPublicIP-2922?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "westcentralus",
        "properties": {
          "publicIPAllocationMethod": "Static",
          "publicIPAddressVersion": "IPv4"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "azure-asyncoperation": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/westcentralus/operations/3280b1a7-b447-4c6e-aad1-1cc920fbded9?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "testPublicIP-2922",
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Microsoft.Network/publicIPAddresses/testPublicIP-2922",
        "etag": "W/\u0022341f664c-4aeb-4886-9416-dabe7f395406\u0022",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "5bd9c987-c102-4bd6-9a72-f206cf74d36b",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Static",
          "idleTimeoutInMinutes": 4,
          "ipTags": []
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Standard",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/westcentralus/operations/3280b1a7-b447-4c6e-aad1-1cc920fbded9?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Microsoft.Network/publicIPAddresses/testPublicIP-2922?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00227523e455-0a3e-4c50-b39b-316836e85810\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "name": "testPublicIP-2922",
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Microsoft.Network/publicIPAddresses/testPublicIP-2922",
        "etag": "W/\u00227523e455-0a3e-4c50-b39b-316836e85810\u0022",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "5bd9c987-c102-4bd6-9a72-f206cf74d36b",
          "ipAddress": "52.161.75.249",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Static",
          "idleTimeoutInMinutes": 4,
          "ipTags": []
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Standard",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Microsoft.Network/networkSecurityGroups/testNSG-3796?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "securityRules": [
            {
              "name": "http",
              "properties": {
                "protocol": "*",
                "sourcePortRange": "*",
                "sourceAddressPrefix": "*",
                "destinationAddressPrefix": "*",
                "destinationPortRanges": [
                  "80"
                ],
                "access": "Allow",
                "priority": 100,
                "direction": "Inbound"
              }
            },
            {
              "name": "NRMS-Rule-103",
              "properties": {
                "description": "Created by Azure Core Security managed policy, rule can be deleted but do not change source ips, please see aka.ms/cainsgpolicy",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "CorpNetPublic",
                "destinationAddressPrefix": "*",
                "access": "Allow",
                "priority": 103,
                "direction": "Inbound"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "azure-asyncoperation": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Microsoft.Network/virtualNetworks/testVNet-5077?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-8598",
              "properties": {
                "addressPrefix": "10.0.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Microsoft.Network/networkSecurityGroups/testNSG-3796",
                  "location": "westcentralus",
                  "properties": {
                    "securityRules": [
                      {
                        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Microsoft.Network/networkSecurityGroups/testNSG-3796/securityRules/http",
                        "name": "http",
                        "type": "Microsoft.Network/networkSecurityGroups/securityRules",
                        "properties": {
                          "protocol": "*",
                          "sourcePortRange": "*",
                          "sourceAddressPrefix": "*",
                          "sourceAddressPrefixes": [],
                          "destinationAddressPrefix": "*",
                          "destinationAddressPrefixes": [],
                          "sourcePortRanges": [],
                          "destinationPortRanges": [
                            "80"
                          ],
                          "access": "Allow",
                          "priority": 100,
                          "direction": "Inbound"
                        }
                      },
                      {
                        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Microsoft.Network/networkSecurityGroups/t[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-5909?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/synthetics-integration-tests/providers/Microsoft.ManagedIdentity/userAssignedIdentities/integration-tests-mi": {}
          }
        },
        "properties": {
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Microsoft.Network/publicIPAddresses/testPublicIP-2922"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Microsoft.Network/virtualNetworks/testVNet-5077/subnets/testSubnet-8598"
            }
          },
          "enableDiagnosticsSupport": true
        },
        "sku": {
          "name": "preview_Monthly"
        },
        "tags": {},
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/41b3c243-fc0c-4c66-8d56-3aacd00eb859*C7CF240BB52E5AA329077241794139A2137B90A8AA4749F217EC8DB4EC8DD7D2?api-version=2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022000010af-0000-0600-0000-633411b90000\u0022",
        "Location": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/41b3c243-fc0c-4c66-8d56-3aacd00eb859*C7CF240BB52E5AA329077241794139A2137B90A8AA4749F217EC8DB4EC8DD7D2?api-version=2022-08-01",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-5909",
        "name": "testDeployment-5909",
        "type": "nginx.nginxplus/nginxdeployments",
        "sku": {
          "name": "preview_Monthly"
        },
        "location": "westcentralus",
        "tags": {},
        "systemData": {
          "createdBy": "83e1fee6-9cf1-487c-afb2-b5822019b861",
          "createdByType": "Application",
          "createdAt": "2022-09-28T09:19:45.5287579Z",
          "lastModifiedBy": "83e1fee6-9cf1-487c-afb2-b5822019b861",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-28T09:19:45.5287579Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/synthetics-integration-tests/providers/Microsoft.ManagedIdentity/userAssignedIdentities/integration-tests-mi": {
              "principalId": "9c8c1eab-1b64-4d95-bbba-04843012d190",
              "clientId": "cfcab166-335a-4af7-a61d-c7c07236688e"
            }
          }
        },
        "properties": {
          "provisioningState": "Accepted",
          "nginxVersion": null,
          "managedResourceGroup": null,
          "ipAddress": null,
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Microsoft.Network/publicIPAddresses/testPublicIP-2922"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Microsoft.Network/virtualNetworks/testVNet-5077/subnets/testSubnet-8598"
            }
          },
          "enableDiagnosticsSupport": true,
          "logging": null
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/41b3c243-fc0c-4c66-8d56-3aacd00eb859*C7CF240BB52E5AA329077241794139A2137B90A8AA4749F217EC8DB4EC8DD7D2?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200002dd9-0000-0600-0000-633411b80000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/41b3c243-fc0c-4c66-8d56-3aacd00eb859*C7CF240BB52E5AA329077241794139A2137B90A8AA4749F217EC8DB4EC8DD7D2",
        "name": "41b3c243-fc0c-4c66-8d56-3aacd00eb859*C7CF240BB52E5AA329077241794139A2137B90A8AA4749F217EC8DB4EC8DD7D2",
        "resourceId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-5909",
        "status": "Accepted",
        "startTime": "2022-09-28T09:19:52.0137412Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/41b3c243-fc0c-4c66-8d56-3aacd00eb859*C7CF240BB52E5AA329077241794139A2137B90A8AA4749F217EC8DB4EC8DD7D2?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200002ed9-0000-0600-0000-633412720000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11987"
      },
      "ResponseBody": {
        "id": "/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/41b3c243-fc0c-4c66-8d56-3aacd00eb859*C7CF240BB52E5AA329077241794139A2137B90A8AA4749F217EC8DB4EC8DD7D2",
        "name": "41b3c243-fc0c-4c66-8d56-3aacd00eb859*C7CF240BB52E5AA329077241794139A2137B90A8AA4749F217EC8DB4EC8DD7D2",
        "resourceId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-5909",
        "status": "Succeeded",
        "startTime": "2022-09-28T09:19:52.0137412Z",
        "endTime": "2022-09-28T09:22:58.2180939Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-5909/configurations/default?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-failure-cause": "service",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "error": {
          "code": "InternalServerError",
          "message": "Internal Server Error"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-5909/configurations/default?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "files": [
            {
              "content": "aHR0cCB7CiAgICBzZXJ2ZXIgewogICAgICAgIGxpc3RlbiA4MDsKICAgICAgICBsb2NhdGlvbiAvIHsKICAgICAgICAgICAgZGVmYXVsdF90eXBlIHRleHQvaHRtbDsKICAgICAgICAgICAgcmV0dXJuIDIwMCAnPCFET0NUWVBFIGh0bWw\u002BPGgxIHN0eWxlPSJmb250LXNpemU6MzBweDsiPk5naW54IGNvbmZpZyBpcyB3b3JraW5nITwvaDE\u002BJzsKICAgICAgICB9CiAgICB9Cn0=",
              "virtualPath": "/etc/nginx/nginx.conf"
            }
          ],
          "rootFile": "/etc/nginx/nginx.conf"
        },
        "tags": {},
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/8117b659-d28f-4897-87a2-777f71f64763*331495EC4C79E01FDA29FCA7EB05C5AAB96C3D587EB95DB528828FCD60DA053A?api-version=2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://ma[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-5909/configurations/default?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-6172/providers/NGINX.NGINXPLUS/nginxDeployments/testDeployment-5909/configurations/default",
        "name": "default",
        "type": "NGINX.NGINXPLUS/nginxDeployments/configurations",
        "properties": {
          "provisioningState": "Succeeded",
          "files": [
            {
              "content": "aHR0cCB7CiAgICBzZXJ2ZXIgewogICAgICAgIGxpc3RlbiA4MDsKICAgICAgICBsb2NhdGlvbiAvIHsKICAgICAgICAgICAgZGVmYXVsdF90eXBlIHRleHQvaHRtbDsKICAgICAgICAgICAgcmV0dXJuIDIwMCAnPCFET0NUWVBFIGh0bWw\u002BPGgxIHN0eWxlPSJmb250LXNpemU6MzBweDsiPk5naW54IGNvbmZpZyBpcyB3b3JraW5nITwvaDE\u002BJzsKICAgICAgICB9CiAgICB9Cn0=",
              "virtualPath": "/etc/nginx/nginx.conf"
            }
          ],
          "package": {
            "data": null
          },
          "rootFile": "/etc/nginx/nginx.conf"
        }
      }
    },
[...]
