{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11916"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "e3853e83-0d02-4fb3-b88f-05b5fd21aee2",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Liftr-Nginx-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/Default-Nginx-4532?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1152"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532",
        "name": "Default-Nginx-4532",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9684?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "westcentralus",
        "properties": {
          "publicIPAllocationMethod": "Static",
          "publicIPAddressVersion": "IPv4"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "azure-asyncoperation": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/westcentralus/operations/96996e7a-0c82-49c8-a208-585d392c7565?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1151"
      },
      "ResponseBody": {
        "name": "testPublicIP-9684",
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9684",
        "etag": "W/\u0022efae00ef-18eb-4b39-ad7d-58e04b191781\u0022",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "fff9dcb5-cd8c-4dfe-bc42-36d825c01b89",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Static",
          "idleTimeoutInMinutes": 4,
          "ipTags": []
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Standard",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/westcentralus/operations/96996e7a-0c82-49c8-a208-585d392c7565?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11915"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9684?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00229683c0a7-8f16-4920-8015-de8359772f9c\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11914"
      },
      "ResponseBody": {
        "name": "testPublicIP-9684",
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9684",
        "etag": "W/\u00229683c0a7-8f16-4920-8015-de8359772f9c\u0022",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "fff9dcb5-cd8c-4dfe-bc42-36d825c01b89",
          "ipAddress": "20.69.39.156",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Static",
          "idleTimeoutInMinutes": 4,
          "ipTags": []
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Standard",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Microsoft.Network/networkSecurityGroups/testNSG-176?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "securityRules": [
            {
              "name": "http",
              "properties": {
                "protocol": "*",
                "sourcePortRange": "*",
                "sourceAddressPrefix": "*",
                "destinationAddressPrefix": "*",
                "destinationPortRanges": [
                  "80"
                ],
                "access": "Allow",
                "priority": 100,
                "direction": "Inbound"
              }
            },
            {
              "name": "NRMS-Rule-103",
              "properties": {
                "description": "Created by Azure Core Security managed policy, rule can be deleted but do not change source ips, please see aka.ms/cainsgpolicy",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "CorpNetPublic",
                "destinationAddressPrefix": "*",
                "access": "Allow",
                "priority": 103,
                "direction": "Inbound"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "azure-asyncoperation": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Microsoft.Network/virtualNetworks/testVNet-227?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-3481",
              "properties": {
                "addressPrefix": "10.0.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Microsoft.Network/networkSecurityGroups/testNSG-176",
                  "location": "westcentralus",
                  "properties": {
                    "securityRules": [
                      {
                        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Microsoft.Network/networkSecurityGroups/testNSG-176/securityRules/http",
                        "name": "http",
                        "type": "Microsoft.Network/networkSecurityGroups/securityRules",
                        "properties": {
                          "protocol": "*",
                          "sourcePortRange": "*",
                          "sourceAddressPrefix": "*",
                          "sourceAddressPrefixes": [],
                          "destinationAddressPrefix": "*",
                          "destinationAddressPrefixes": [],
                          "sourcePortRanges": [],
                          "destinationPortRanges": [
                            "80"
                          ],
                          "access": "Allow",
                          "priority": 100,
                          "direction": "Inbound"
                        }
                      },
                      {
                        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Microsoft.Network/networkSecurityGroups/t[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-6260?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/synthetics-integration-tests/providers/Microsoft.ManagedIdentity/userAssignedIdentities/integration-tests-mi": {}
          }
        },
        "properties": {
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9684"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Microsoft.Network/virtualNetworks/testVNet-227/subnets/testSubnet-3481"
            }
          },
          "enableDiagnosticsSupport": true
        },
        "sku": {
          "name": "preview_Monthly"
        },
        "tags": {},
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/32a3e3da-3961-4f5b-8eca-bfac0583498b*1605210FBB7C33A4231B8BB94A21807897E59AEB37CAA46DDDC5050227E64175?api-version=2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200003378-0000-0600-0000-63594fa70000\u0022",
        "Location": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/32a3e3da-3961-4f5b-8eca-bfac0583498b*1605210FBB7C33A4231B8BB94A21807897E59AEB37CAA46DDDC5050227E64175?api-version=2022-08-01",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1148"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-6260",
        "name": "testDeployment-6260",
        "type": "nginx.nginxplus/nginxdeployments",
        "sku": {
          "name": "preview_Monthly"
        },
        "location": "westcentralus",
        "tags": {},
        "systemData": {
          "createdBy": "83e1fee6-9cf1-487c-afb2-b5822019b861",
          "createdByType": "Application",
          "createdAt": "2022-10-26T15:17:56.7115807Z",
          "lastModifiedBy": "83e1fee6-9cf1-487c-afb2-b5822019b861",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-26T15:17:56.7115807Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/synthetics-integration-tests/providers/Microsoft.ManagedIdentity/userAssignedIdentities/integration-tests-mi": {
              "principalId": "9c8c1eab-1b64-4d95-bbba-04843012d190",
              "clientId": "cfcab166-335a-4af7-a61d-c7c07236688e"
            }
          }
        },
        "properties": {
          "provisioningState": "Accepted",
          "nginxVersion": null,
          "managedResourceGroup": null,
          "ipAddress": null,
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9684"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Microsoft.Network/virtualNetworks/testVNet-227/subnets/testSubnet-3481"
            }
          },
          "enableDiagnosticsSupport": true,
          "logging": null
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/32a3e3da-3961-4f5b-8eca-bfac0583498b*1605210FBB7C33A4231B8BB94A21807897E59AEB37CAA46DDDC5050227E64175?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000a445-0000-0600-0000-63594fa70000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11786"
      },
      "ResponseBody": {
        "id": "/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/32a3e3da-3961-4f5b-8eca-bfac0583498b*1605210FBB7C33A4231B8BB94A21807897E59AEB37CAA46DDDC5050227E64175",
        "name": "32a3e3da-3961-4f5b-8eca-bfac0583498b*1605210FBB7C33A4231B8BB94A21807897E59AEB37CAA46DDDC5050227E64175",
        "resourceId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-6260",
        "status": "Accepted",
        "startTime": "2022-10-26T15:17:59.1542829Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/32a3e3da-3961-4f5b-8eca-bfac0583498b*1605210FBB7C33A4231B8BB94A21807897E59AEB37CAA46DDDC5050227E64175?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000fa45-0000-0600-0000-635951720000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11803"
      },
      "ResponseBody": {
        "id": "/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/32a3e3da-3961-4f5b-8eca-bfac0583498b*1605210FBB7C33A4231B8BB94A21807897E59AEB37CAA46DDDC5050227E64175",
        "name": "32a3e3da-3961-4f5b-8eca-bfac0583498b*1605210FBB7C33A4231B8BB94A21807897E59AEB37CAA46DDDC5050227E64175",
        "resourceId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-6260",
        "status": "Succeeded",
        "startTime": "2022-10-26T15:17:59.1542829Z",
        "endTime": "2022-10-26T15:25:38.6667294Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-6260/configurations/default?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-failure-cause": "service",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11928"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource \u0027/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/NGINX.NGINXPLUS/nginxDeployments/testDeployment-6260/configurations/default\u0027 could not be found."
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-6260/configurations/default?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "files": [
            {
              "content": "aHR0cCB7CiAgICBzZXJ2ZXIgewogICAgICAgIGxpc3RlbiA4MDsKICAgICAgICBsb2NhdGlvbiAvIHsKICAgICAgICAgICAgZGVmYXVsdF90eXBlIHRleHQvaHRtbDsKICAgICAgICAgICAgcmV0dXJuIDIwMCAnPCFET0NUWVBFIGh0bWw\u002BPGgxIHN0eWxlPSJmb250LXNpemU6MzBweDsiPk5naW54IGNvbmZpZyBpcyB3b3JraW5nITwvaDE\u002BJzsKICAgICAgICB9CiAgICB9Cn0=",
              "virtualPath": "/etc/nginx/nginx.conf"
            }
          ],
          "rootFile": "/etc/nginx/nginx.conf"
        },
        "tags": {},
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/f835bde9-72c3-4351-916a-3affb9e11d11*9DD1E092AABBDBA90E6B6FACC289034AA3A3DB3315E5A68FCBCB0EF47319252F?api-version=2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://ma[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-6260/configurations/default?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11927"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-4532/providers/NGINX.NGINXPLUS/nginxDeployments/testDeployment-6260/configurations/default",
        "name": "default",
        "type": "NGINX.NGINXPLUS/nginxDeployments/configurations",
        "properties": {
          "provisioningState": "Succeeded",
          "files": [
            {
              "content": "aHR0cCB7CiAgICBzZXJ2ZXIgewogICAgICAgIGxpc3RlbiA4MDsKICAgICAgICBsb2NhdGlvbiAvIHsKICAgICAgICAgICAgZGVmYXVsdF90eXBlIHRleHQvaHRtbDsKICAgICAgICAgICAgcmV0dXJuIDIwMCAnPCFET0NUWVBFIGh0bWw\u002BPGgxIHN0eWxlPSJmb250LXNpemU6MzBweDsiPk5naW54IGNvbmZpZyBpcyB3b3JraW5nITwvaDE\u002BJzsKICAgICAgICB9CiAgICB9Cn0=",
              "virtualPath": "/etc/nginx/nginx.conf"
            }
          ],
          "protectedFiles": [],
          "package": {
            "data": null
          },
          "rootFile": "/etc/nginx/nginx.conf"
        }
      }
    },
[...]
