{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11995"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Support/services?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11994"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/providers/Microsoft.Support/services/484e2236-bc6d-b1bb-76d2-7d09278cf9ea",
            "name": "484e2236-bc6d-b1bb-76d2-7d09278cf9ea",
            "type": "Microsoft.Support/services",
            "properties": {
              "displayName": "Activity Logs",
              "resourceTypes": []
            }
          },
          {
            "id": "/providers/Microsoft.Support/services/26d8424b-0a41-4443-cbc6-0309ea8708d0",
            "name": "26d8424b-0a41-4443-cbc6-0309ea8708d0",
            "type": "Microsoft.Support/services",
            "properties": {
              "displayName": "Advisor",
              "resourceTypes": []
            }
          },
          {
            "id": "/providers/Microsoft.Support/services/1232100c-42c0-f626-2b4f-8c8a4877acad",
            "n[...]
