{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testNetAppDotNetSDKRG-2735?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env",
          "Owner": "b-aubald"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testNetAppDotNetSDKRG-2735",
        "name": "testNetAppDotNetSDKRG-2735",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env",
          "Owner": "b-aubald"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.NetApp/locations/westus2/checkNameAvailability?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "account9021",
        "type": "Microsoft.NetApp/netAppAccounts",
        "resourceGroup": "testNetAppDotNetSDKRG-2735"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "isAvailable": true
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testNetAppDotNetSDKRG-2735/providers/Microsoft.NetApp/netAppAccounts/account9021?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.NetApp/locations/westus2/operationResults/98757bfb-d7cd-467e-a812-1858521cc8f4?api-version=2022-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-04-24T16%3A34%3A44.0028656Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testNetAppDotNetSDKRG-2735/providers/Microsoft.NetApp/netAppAccounts/account9021",
        "name": "account9021",
        "type": "Microsoft.NetApp/netAppAccounts",
        "etag": "W/\u0022datetime\u00272023-04-24T16%3A34%3A44.0028656Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "createdByType": "Application",
          "createdAt": "2023-04-24T16:34:43.8799532Z",
          "lastModifiedBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-24T16:34:43.8799532Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.NetApp/locations/westus2/operationResults/98757bfb-d7cd-467e-a812-1858521cc8f4?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.NetApp/locations/westus2/operationResults/98757bfb-d7cd-467e-a812-1858521cc8f4",
        "name": "98757bfb-d7cd-467e-a812-1858521cc8f4",
        "status": "Succeeded",
        "startTime": "2023-04-24T16:34:44.0079677Z",
        "endTime": "2023-04-24T16:34:44.0507603Z",
        "percentComplete": 100.0,
        "properties": {
          "resourceName": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testNetAppDotNetSDKRG-2735/providers/Microsoft.NetApp/netAppAccounts/account9021",
          "action": "CREATE"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testNetAppDotNetSDKRG-2735/providers/Microsoft.NetApp/netAppAccounts/account9021?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-04-24T16%3A34%3A44.0495211Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testNetAppDotNetSDKRG-2735/providers/Microsoft.NetApp/netAppAccounts/account9021",
        "name": "account9021",
        "type": "Microsoft.NetApp/netAppAccounts",
        "etag": "W/\u0022datetime\u00272023-04-24T16%3A34%3A44.0495211Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "encryption": {
            "keySource": "Microsoft.NetApp"
          },
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "createdByType": "Application",
          "createdAt": "2023-04-24T16:34:43.8799532Z",
          "lastModifiedBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-24T16:34:43.8799532Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testNetAppDotNetSDKRG-2735/providers/Microsoft.NetApp/netAppAccounts?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testNetAppDotNetSDKRG-2735/providers/Microsoft.NetApp/netAppAccounts/account4444",
            "name": "account4444",
            "type": "Microsoft.NetApp/netAppAccounts",
            "etag": "W/\u0022datetime\u00272023-04-24T16%3A34%3A47.8902792Z\u0027\u0022",
            "location": "westus2",
            "tags": {
              "key1": "value1",
              "key2": "value2"
            },
 [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testNetAppDotNetSDKRG-2735/providers/Microsoft.NetApp/netAppAccounts/account4444?api-version=2022-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.NetApp/locations/westus2/operationResults/108c9533-be65-4575-b4f4-ef8d12a4550b?api-version=2022-09-01",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.NetApp/locations/westus2/operationResults/108c9533-be65-4575-b4f4-ef8d12a4550b?api-version=2022-09-01\u0026operationResultResponseType=Location",
        "x-ms-ratelimit-remaining-subscription-deletes": "14995"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.NetApp/locations/westus2/operationResults/00e870f5-6e46-42e4-938f-d854bf80e8c9?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.NetApp/locations/westus2/operationResults/00e870f5-6e46-42e4-938f-d854bf80e8c9",
        "name": "00e870f5-6e46-42e4-938f-d854bf80e8c9",
        "status": "Succeeded",
        "startTime": "2023-04-24T16:34:52.2706588Z",
        "endTime": "2023-04-24T16:34:52.2983463Z",
        "percentComplete": 100.0,
        "properties": {
          "resourceName": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testNetAppDotNetSDKRG-2735/providers/Microsoft.NetApp/netAppAccounts/account9021",
          "action": "DELETE"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "29397630",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
