{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher/azureReachabilityReport?api-version=2017-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": [
        "{\r\n",
        "  \"providerLocation\": {\r\n",
        "    \"country\": \"United States\",\r\n",
        "    \"state\": \"washington\"\r\n",
        "  },\r\n",
        "  \"azureLocations\": [\r\n",
        "    \"West US\"\r\n",
        "  ],\r\n",
        "  \"startTime\": \"2017-09-07T05:19:47.4154334Z\",\r\n",
        "  \"endTime\": \"2017-09-12T05:19:47.4154334Z\"\r\n",
        "}"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/providers/Microsoft.Network/locations/westus.validation/operationResults/d0faff70-9db1-49f8-a653-e9d74d6b617a?api-version=2017-09-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"aggregationLevel\": \"State\",\r\n",
        "  \"providerLocation\": {\r\n",
        "    \"country\": \"United States\",\r\n",
        "    \"state\": \"washington\"\r\n",
        "  },\r\n",
        "  \"reachabilityReport\": [\r\n",
        "    {\r\n",
        "      \"provider\": \"Qwest Communications Company, LLC - ASN 209\",\r\n",
        "      \"azureLocation\": \"West US\",\r\n",
        "      \"latencies\": [\r\n",
        "        {\r\n",
        "          \"timeStamp\": \"2017-09-11T00:00:00Z\",\r\n",
        "          \"score\": 200\r\n",
        "        },\r\n",
        "        {\r\n",
        "          \"timeStamp\": \"2017-09-10T00:00:00Z\",\r\n",
        "          \"score\": 200\r\n",
        "        },\r\n",
        "        {\r\n",
        "          \"timeStamp\": \"2017-09-09T00:00:00Z\",\r\n",
        "          \"score\": 200\r\n",
        "        },\r\n",
        "        {\r\n",
        "          \"timeStamp\": \"2017-09-08T00:00:00Z\",\r\n",
        "          \"score\": 200\r\n",
        "        }[...]
