{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Subscription/subscriptionDefinitions/MySubDefYYYY11DD2241061935?api-version=2017-11-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"subscriptionDisplayName\": \"MySubDefYYYY11DD2241061935\",\r\n    \"offerType\": \"MS-AZR-0017P\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"\"",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "60"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.Subscription/subscriptionOperations/9870eab8-492c-47e8-bd20-313624c71e7a?api-version=2017-11-01-preview"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/providers/Microsoft.Subscription/subscriptionOperations/9870eab8-492c-47e8-bd20-313624c71e7a?api-version=2017-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Subscription/subscriptionDefinitions/MySubDefYYYY11DD2241061935\",\r\n  \"name\": \"MySubDefYYYY11DD2241061935\",\r\n  \"properties\": {\r\n    \"etag\": \"rj7u2g==\",\r\n    \"subscriptionDisplayName\": \"MySubDefYYYY11DD2241061935\",\r\n    \"subscriptionId\": \"00fd1ef3-328d-4e75-a158-9dd4405585c8\",\r\n    \"offerType\": \"MS-AZR-0017P\"\r\n  },\r\n  \"type\": \"Microsoft.Subscription/subscriptionDefinitions\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "f4b6d4b2-7f09-4856-84f6-b98c14642bf6"
  }
}