{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE8876004908\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83/sourceFolder%5Ctest-blob-1a3d87fd-d18c-7aa6-a569-d8b6b9035c87",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "IUSY1KApl9PZ/QIDnzyQzc9gafYQGMqXcKUapt4oRnKyHZR0a4fmIAVNyLdjEvjEVSWv08nAqgl5AGP7D/D1sbaPUYGnG2FHeknxw08TNF6tVVG4eHOp8XOK\u002Bmoj6xAVWBcB08F2HDnDZ1mAz\u002Be6ZswFTbmePDhD5l8OHCD3I4443Go3EWCcNzgY9BEaKCKM0JOeHp5Wdhveve1iZwAYzEPKR/N8glRraRWAhkgnKL48gkuNWAXw4mVPWVNzOtA4/yfNT\u002BAvD04\u002BM7SI1fDSt5UvJeS0i3Q92mWNLSgB9y9FSIcgWtndDXL8TiRRZwx1fKK\u002BRBTrg3Ozj3R6oeI[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83/sourceFolder%5Cbar%5Ctest-blob-e81c9d2f-4769-dd65-cd12-5e9a010681f2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-version": "2021-12-02"
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83/sourceFolder%5Cpik%5Ctest-blob-b08f9289-f2cd-bc0a-3eec-ae0402eecee4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-version": "2021-12-02"
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83?restype=container\u0026comp=list\u0026prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83/sourceFolder/bar/test-blob-e81c9d2f-4769-dd65-cd12-5e9a010681f2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Ys4PBMrtQX6tZh5vEZhcoA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE88761CEA1E\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:10.4871454Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83/destFolder%5Cbar/test-blob-e81c9d2f-4769-dd65-cd12-5e9a010681f2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83/sourceFolder/bar/test-blob-e81c9d2f-4769-dd65-cd12-5e9a010681f2",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE887656DD59\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-content-crc64": "rLZ/gmSjllQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:10.8669273Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83/sourceFolder/pik/test-blob-b08f9289-f2cd-bc0a-3eec-ae0402eecee4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "SF5W4ieTtkR7nnryCccXvA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE887628A835\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:10.5641013Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83/destFolder%5Cpik/test-blob-b08f9289-f2cd-bc0a-3eec-ae0402eecee4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83/sourceFolder/pik/test-blob-b08f9289-f2cd-bc0a-3eec-ae0402eecee4",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE88766C5E13\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:11 GMT",
        "x-ms-content-crc64": "y2JICU3tRA0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:11.0078483Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83/sourceFolder/test-blob-1a3d87fd-d18c-7aa6-a569-d8b6b9035c87",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "k\u002BppW/V/s/3QV9wyDPsGdg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE88760A2836\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:10.3642166Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83/destFolder%5Ctest-blob-1a3d87fd-d18c-7aa6-a569-d8b6b9035c87",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83/sourceFolder/test-blob-1a3d87fd-d18c-7aa6-a569-d8b6b9035c87",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE8876833E0D\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:11 GMT",
        "x-ms-content-crc64": "0FfPxOSt4RQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:11.1577613Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83?restype=container\u0026comp=list\u0026prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
      [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83/destFolder/bar/test-blob-e81c9d2f-4769-dd65-cd12-5e9a010681f2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Ys4PBMrtQX6tZh5vEZhcoA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE887656DD59\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:10.8669273Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83/destFolder/bar/test-blob-e81c9d2f-4769-dd65-cd12-5e9a010681f2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:11 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE887656DD59\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-blob-content-md5": "Ys4PBMrtQX6tZh5vEZhcoA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:10.8669273Z"
      },
      "ResponseBody": "s68AjjHviCjVY2fNfckKVpldrY488r1yMhsPRY1bUCxTC9gdVYImPxXzEgXfmF8DBwcBpFnztsD[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83/destFolder/pik/test-blob-b08f9289-f2cd-bc0a-3eec-ae0402eecee4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "SF5W4ieTtkR7nnryCccXvA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE88766C5E13\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:11.0078483Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83/destFolder/test-blob-1a3d87fd-d18c-7aa6-a569-d8b6b9035c87",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "k\u002BppW/V/s/3QV9wyDPsGdg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE8876833E0D\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:11.1577613Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c4b48b96-7d92-b898-658e-bfc5222c0d83?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "265355162",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
