{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-825153cb-6f84-8f63-a714-56ef4d378c4b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:03 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE88723CC69C\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:03 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-825153cb-6f84-8f63-a714-56ef4d378c4b/sourceFolder%5Cfolder0%5Ctest-blob-286ffd38-ba00-19df-585d-b35eaf071788",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:04 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "A7yA4lga2WOe/3yd0cg7UD39JHqv6Jm0isUYFAGFu0y2Vy78/gVpHSMLigA9QkeQIWIgsuOd2Rsiy1eSAsRiGEMv5nmZP1E4lAZXpF2Zdkh\u002Bh/KeZAlpGX4T2TOt1hpeqXK9DlvN9uIR6B3cRTS\u002BiVQPFHvRw7Q6xs37hmUeir7s\u002BPvq3GjtsJAPjXzrjdNJVFDensGfjOa\u002BgkiO0nB98l1f7005063rIWPqwTU3Tzj5sTIUP\u002Bz8TWsVLFkgXt4gkpsfi52GEICi83xetMqwhjIPlCE9aLNwYqLiJKZTy8KFyS\u002BaGMObc6CxckxwnpigZKUnEcq94innri[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-825153cb-6f84-8f63-a714-56ef4d378c4b?restype=container\u0026comp=list\u0026prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:04 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-825153cb-6f84-8f63-a714-56ef4d378c4b/sourceFolder/folder0/test-blob-286ffd38-ba00-19df-585d-b35eaf071788",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:04 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "rJloGWm5vEp0PPIx\u002BHUY8Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE887246F6E4\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:04.0518372Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-825153cb-6f84-8f63-a714-56ef4d378c4b/destFolder%5Cfolder0/test-blob-286ffd38-ba00-19df-585d-b35eaf071788",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-825153cb-6f84-8f63-a714-56ef4d378c4b/sourceFolder/folder0/test-blob-286ffd38-ba00-19df-585d-b35eaf071788",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:04 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE8872704ABE\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:04 GMT",
        "x-ms-content-crc64": "u4zIYrZFoys=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:04.3226814Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-825153cb-6f84-8f63-a714-56ef4d378c4b?restype=container\u0026comp=list\u0026prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:04 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
      [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-825153cb-6f84-8f63-a714-56ef4d378c4b/destFolder/folder0/test-blob-286ffd38-ba00-19df-585d-b35eaf071788",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:04 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "rJloGWm5vEp0PPIx\u002BHUY8Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE8872704ABE\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:04.3226814Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-825153cb-6f84-8f63-a714-56ef4d378c4b/destFolder/folder0/test-blob-286ffd38-ba00-19df-585d-b35eaf071788",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:04 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE8872704ABE\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:04 GMT",
        "x-ms-blob-content-md5": "rJloGWm5vEp0PPIx\u002BHUY8Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:04.3226814Z"
      },
      "ResponseBody": "A7yA4lga2WOe/3yd0cg7UD39JHqv6Jm0isUYFAGFu0y2Vy78/gVpHSMLigA9QkeQIWIgsu[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-825153cb-6f84-8f63-a714-56ef4d378c4b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:04 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "34920458",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
