{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-58f7dc52-60f9-5589-e497-ca1081897492?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE887725B301\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-58f7dc52-60f9-5589-e497-ca1081897492/sourceFolder%5Ctest-blob-4c6e5ade-58ee-fd83-9b0b-e13512219667",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "BSupuH7OXmER9TCmtJNpdX1RiWUPRrAORQ0LJw4U409eOKhXWI5/EPsMOvko3EgHomy3wZcwWL56mnJwwjdS/BHgSHzrERzv0XlqAgu35mnFA4SiXSG4LeDp3b0cDk3DuT7nR5TMHJBPx\u002B8dxlWzw7QIq7\u002BysJ/vJxqbAjRe08MspkjNz5/V\u002Bef0UpUym2aKNRkJE2ONEQme\u002BB95MBpc8fQs8CAM5vQUM7HYvl4JvYyzEcwaVL9fnpQ/LteAW8nNmGGhBapGfU4l9OCytVKrlDqSxh9NQZw0zFGLzbgdlNfoCib8Z7fhbZN99V/frehBlJmc7ZWqf1fEbTlYurCWCGAI[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-58f7dc52-60f9-5589-e497-ca1081897492?restype=container\u0026comp=list\u0026prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-58f7dc52-60f9-5589-e497-ca1081897492/sourceFolder/test-blob-4c6e5ade-58ee-fd83-9b0b-e13512219667",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "KN0y6YHZyDJi7dmFWgFftw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE88773869AF\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:12.3450799Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-58f7dc52-60f9-5589-e497-ca1081897492/destFolder%5Ctest-blob-4c6e5ade-58ee-fd83-9b0b-e13512219667",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-58f7dc52-60f9-5589-e497-ca1081897492/sourceFolder/test-blob-4c6e5ade-58ee-fd83-9b0b-e13512219667",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE887755FF74\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:12 GMT",
        "x-ms-content-crc64": "zoF82wyvTrA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:12.5389684Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-58f7dc52-60f9-5589-e497-ca1081897492?restype=container\u0026comp=list\u0026prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
      [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-58f7dc52-60f9-5589-e497-ca1081897492/destFolder/test-blob-4c6e5ade-58ee-fd83-9b0b-e13512219667",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "KN0y6YHZyDJi7dmFWgFftw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE887755FF74\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:12.5389684Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-58f7dc52-60f9-5589-e497-ca1081897492/destFolder/test-blob-4c6e5ade-58ee-fd83-9b0b-e13512219667",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE887755FF74\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:12 GMT",
        "x-ms-blob-content-md5": "KN0y6YHZyDJi7dmFWgFftw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:12.5389684Z"
      },
      "ResponseBody": "BSupuH7OXmER9TCmtJNpdX1RiWUPRrAORQ0LJw4U409eOKhXWI5/EPsMOvko3EgHomy3wZcwWL5[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-58f7dc52-60f9-5589-e497-ca1081897492?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "389179154",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
