{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE887079D398\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c/sourceFolder%5Ctest-blob-0f45bbe5-dc6b-d311-1020-b3a1ce8ad108",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "vlH7rc9GIawemW8d2wJvowOdhATtv7ErnP/UohSe67q2neJ8jyM5YilutpFKAGk4WSVuStBlKP6g0BDPcX6Yf661Zz4f8hPgZCLafgkg4JyWnEjuL6DpUXTk3L8SafCq1jbilZkrGGYRjuWuiqr1f/B0OdU2qlANyxXJOxVUzfoxL6fSPUoDaoPh3aC7O8bJ71zOnjAbdCzm1cmDYt1QvMHrfFoCIkKlcc9RVMyvUpBP/0y5hS7KFrt77GiAgAemkCDfz75sx8waKS1hySBfNoM5M2KQlzaTIWWfhjXZJfDHqsOs0ILS4zh/nlwAaE2aHLXlR0ylFfjqTK5YzECXQQQ8mh5cs2YAZ1AqEfnZkrgY[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c/sourceFolder%5Cbar%5Ctest-blob-f9850689-a4ca-d23a-0084-26895299ff8f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-version": "2021-12-02"
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c/sourceFolder%5Cpik%5Ctest-blob-100798ed-597a-8da8-2372-71253e030842",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-version": "2021-12-02"
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c?restype=container\u0026comp=list\u0026prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c/sourceFolder/bar/test-blob-f9850689-a4ca-d23a-0084-26895299ff8f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "FOFgfzGe5vkMidUSNwx0cA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE88709A7031\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:01.2444473Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c/destFolder%5Cbar/test-blob-f9850689-a4ca-d23a-0084-26895299ff8f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c/sourceFolder/bar/test-blob-f9850689-a4ca-d23a-0084-26895299ff8f",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE8870EC06A6\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-content-crc64": "jW76rHITPgA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:01.7791403Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c/sourceFolder/pik/test-blob-100798ed-597a-8da8-2372-71253e030842",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "MYERHY4eL2ItjlnkfrGwUQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE8870AB369A\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:01.3543840Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c/destFolder%5Cpik/test-blob-100798ed-597a-8da8-2372-71253e030842",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c/sourceFolder/pik/test-blob-100798ed-597a-8da8-2372-71253e030842",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE887106DDAA\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-content-crc64": "7qjgy0pBSMk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:01.9550400Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c/sourceFolder/test-blob-0f45bbe5-dc6b-d311-1020-b3a1ce8ad108",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "IsAA03uTT2\u002BFrFqjvpKDdQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE8870839026\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:01.0935334Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c/destFolder%5Ctest-blob-0f45bbe5-dc6b-d311-1020-b3a1ce8ad108",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c/sourceFolder/test-blob-0f45bbe5-dc6b-d311-1020-b3a1ce8ad108",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE88711FB93F\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:02 GMT",
        "x-ms-content-crc64": "DzyNKfv\u002BepA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:02.1169471Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c?restype=container\u0026comp=list\u0026prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
      [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c/destFolder/bar/test-blob-f9850689-a4ca-d23a-0084-26895299ff8f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "FOFgfzGe5vkMidUSNwx0cA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE8870EC06A6\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:01.7791403Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c/destFolder/bar/test-blob-f9850689-a4ca-d23a-0084-26895299ff8f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE8870EC06A6\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-blob-content-md5": "FOFgfzGe5vkMidUSNwx0cA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:01.7791403Z"
      },
      "ResponseBody": "jSOiq7Fzt3zZ\u002BjXSnQdwbpufqXmNIEoK7DHxlwKOjbIuIO7L8t18Fk8IH89vaDX4E7fusu[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c/destFolder/pik/test-blob-100798ed-597a-8da8-2372-71253e030842",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "MYERHY4eL2ItjlnkfrGwUQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE887106DDAA\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:01.9550400Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c/destFolder/test-blob-0f45bbe5-dc6b-d311-1020-b3a1ce8ad108",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "IsAA03uTT2\u002BFrFqjvpKDdQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE88711FB93F\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 10:38:02 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 10:38:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T10:38:02.1169471Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2d99462-fbf4-3a6c-1dfe-d7a504973b5c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 10:38:03 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1464497540",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
