{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9e98bd4e-1d12-457c-bc4e-299b50e0bec8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB37484ED471\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:40:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9e98bd4e-1d12-457c-bc4e-299b50e0bec8/sourceFolder%5Cblob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "YQ6PK7VM54favtMk5e4DvvDULAXonPEL15TfbJl5yD8PBiszbjOfI2NwRxdZENQa\u002B295PF/YSMUcg1MgbHruYPWUFN/Cz1C8NAmieFXassfAxXEqAIzgN71mF\u002BrffrboguYhxPv0WCwfvAdVNdBvQtGMYKcJw2BptNwiW7hl3LZSufZuuO3Ly21FC0OEigLt99QZUx0P376GuBAe0vxzueBRA3zZAYrjwJU5xLgc5CraNGTjS4mYQ9o45//crflw0VFjM4aFE/ZKNpKI1RoFatPmQ52Yj25XuMChoRmKBhOcyfJnuLGjVSFtmRX2EG2/Mn0r9mlb2EHiDHrG5HLcvy9\u002B6wwnn[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9e98bd4e-1d12-457c-bc4e-299b50e0bec8/sourceFolder%5Cbar%5Cblob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "aai1HAR2SkDAvtDAHAa3Zv063/vIT/IvIP9vOCF\u002[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9e98bd4e-1d12-457c-bc4e-299b50e0bec8/sourceFolder%5Cpik%5Cblob4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "9bBkzKM\u002BjoJTDhpfnxR1ctojl0Hc2rpLCJqrE4n[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9e98bd4e-1d12-457c-bc4e-299b50e0bec8/destFolder/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "TpDUcExLS2dHqrPjLkce8ESDQf5RtTH7VMUQmu6USfc7v3LwJ17Hkk[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9e98bd4e-1d12-457c-bc4e-299b50e0bec8?restype=container\u0026comp=list\u0026prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9e98bd4e-1d12-457c-bc4e-299b50e0bec8/sourceFolder/bar/blob3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "UqVsIiRVXLefPxgMbOdU6g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB37488634A9\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:40:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:40:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:40:08.4874409Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9e98bd4e-1d12-457c-bc4e-299b50e0bec8/sourceFolder/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "WbZZD9zXj6HCk\u002BUS\u002B\u002B5PCg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB374864A7D6\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:40:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:40:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:40:08.2675670Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9e98bd4e-1d12-457c-bc4e-299b50e0bec8/sourceFolder/pik/blob4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Zs7/GDIOb6UFVDxlLuEmbg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB37489574B1\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:40:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:40:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:40:08.5873841Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9e98bd4e-1d12-457c-bc4e-299b50e0bec8/destFolder%5Cbar/blob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-9e98bd4e-1d12-457c-bc4e-299b50e0bec8/sourceFolder/bar/blob3",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB3749162A62\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:40:09 GMT",
        "x-ms-copy-id": "2f8f5dd6-37c3-43ea-9bab-7aed718820b1",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:40:09.4308962Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9e98bd4e-1d12-457c-bc4e-299b50e0bec8/destFolder%5Cblob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-9e98bd4e-1d12-457c-bc4e-299b50e0bec8/sourceFolder/blob1",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:cf8fb827-801e-006c-4420-2d9e76000000\n",
        "Time:2023-01-20T22:40:09.4548842Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9e98bd4e-1d12-457c-bc4e-299b50e0bec8/destFolder%5Cbar/blob3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "UqVsIiRVXLefPxgMbOdU6g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB3749162A62\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:40:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Fri, 20 Jan 2023 22:40:09 GMT",
        "x-ms-copy-id": "2f8f5dd6-37c3-43ea-9bab-7aed718820b1",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-9e98bd4e-1d12-457c-bc4e-299b50e0bec8/sourceFolder/bar/blob3",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:40:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:40:09.4308962Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9e98bd4e-1d12-457c-bc4e-299b50e0bec8/destFolder%5Cpik/blob4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-9e98bd4e-1d12-457c-bc4e-299b50e0bec8/sourceFolder/pik/blob4",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB3749201401\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:40:09 GMT",
        "x-ms-copy-id": "fd7c58a7-63dc-46e1-adfb-15f7dd7609a4",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:40:09.4958593Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9e98bd4e-1d12-457c-bc4e-299b50e0bec8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:09 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1684903686",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
