{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-90c7bb05-d3da-3394-e8fb-536496568c17?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:00 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB37442F12BA\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:40:01 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-90c7bb05-d3da-3394-e8fb-536496568c17/sourceFolder%5Cblob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:00 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "JX/HhexARM4uL09xt37vdVgO6CZP0gVtOmCgjBFSh4of5fHErB1XOyo4iuLTdCr3Q6/hAc0i51J6WUqLn7i93KjEUdKMK8k7t637FkgimsU1qElicIW8/f2fSlLTy5tye646DiNYaxjmpkogJ9EKV7\u002BEVvZuW2siB1TU7eF3Z\u002BsRiJqa6Iui3D0wfMo6nNUslfKSTnWlBCBCFwfOhH03bj5fD582cG804nm4Pd6h6Gt\u002Bp1ju5Bl1bIR6V9CE01jA\u002BQ2L2ow29iSDXWz77MZBoC\u002BbUNwlSYok6aMauxiesA4h\u002BETRFg3fSLEzaoaten\u002B9OLeh6IN7m[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-90c7bb05-d3da-3394-e8fb-536496568c17/sourceFolder%5Cbar%5Cblob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:00 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "i3sXstnNeToopWtFHX5gRuMa0DB\u002BHBNQWYSOPtN[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-90c7bb05-d3da-3394-e8fb-536496568c17/sourceFolder%5Cpik%5Cblob4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:00 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "qvMB0dKcv5vsqJo0F2iGmd7mjKjsAT7fiwN3uukApVGE[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-90c7bb05-d3da-3394-e8fb-536496568c17/destFolder/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:00 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "To0d/fEaniST7JKwF18KJaoIaX7ryLxZg2d2ayaQaY2vBbnkbub6rn[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-90c7bb05-d3da-3394-e8fb-536496568c17?restype=container\u0026comp=list\u0026prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:01 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-90c7bb05-d3da-3394-e8fb-536496568c17/sourceFolder/bar/blob3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:01 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "qXXCwoOcfL8dbkPve7XMng==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB37444ECFA2\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:40:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:40:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:40:01.4135202Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-90c7bb05-d3da-3394-e8fb-536496568c17/destFolder%5Cbar/blob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-90c7bb05-d3da-3394-e8fb-536496568c17/sourceFolder/bar/blob3",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:01 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB3744A3E7F2\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:40:01 GMT",
        "x-ms-copy-id": "8feec65d-b467-47db-b06e-f97c1a368918",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:40:01.9711986Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-90c7bb05-d3da-3394-e8fb-536496568c17/destFolder%5Cbar/blob3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:01 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "qXXCwoOcfL8dbkPve7XMng==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB3744A3E7F2\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:40:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Fri, 20 Jan 2023 22:40:01 GMT",
        "x-ms-copy-id": "8feec65d-b467-47db-b06e-f97c1a368918",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-90c7bb05-d3da-3394-e8fb-536496568c17/sourceFolder/bar/blob3",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:40:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:40:01.9711986Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-90c7bb05-d3da-3394-e8fb-536496568c17/sourceFolder/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:01 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "qAuGPiNPUVh7Y3oAjf9Jiw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB37443927FC\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:40:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:40:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:40:01.2716028Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-90c7bb05-d3da-3394-e8fb-536496568c17/destFolder%5Cblob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-90c7bb05-d3da-3394-e8fb-536496568c17/sourceFolder/blob1",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:01 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:7871b0ee-101e-0023-5b20-2def22000000\n",
        "Time:2023-01-20T22:40:02.1639698Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-90c7bb05-d3da-3394-e8fb-536496568c17?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:40:01 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "128397797",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
