<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hydra.Generator" version="1.0.5184.11632-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Monitoring.Specification" version="1.0.5178.11061-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="portable-net45+sl50+wp80+win" />
</packages>