{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourcegroups/galleryPsTestRg3093?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3093\",\r\n  \"name\": \"galleryPsTestRg3093\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3093/providers/Microsoft.Compute/galleries/galleryPsTestGallery797?api-version=2022-08-03",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"description\": \"This is a sample gallery description\"\r\n  },\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/capsOperations/c631965a-2b4b-4f9e-a323-63a0b7f06c01?api-version=2022-08-03"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/CreateUpdateGallery3Min;49,Microsoft.Compute/CreateUpdateGallery30Min;296"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"galleryPsTestGallery797\",\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3093/providers/Microsoft.Compute/galleries/galleryPsTestGallery797\",\r\n  \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"description\": \"This is a sample gallery description\",\r\n    \"identifier\": {\r\n      \"uniqueName\": \"0a516eae-8c7f-4039-a9f2-fc888ab94a33-GALLERYPSTESTGALLERY797\"\r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/capsOperations/c631965a-2b4b-4f9e-a323-63a0b7f06c01?api-version=2022-08-03",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperationStatus3Min;1194,Microsoft.Compute/GetOperationStatus30Min;4153"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2023-07-06T10:30:23.7247627-07:00\",\r\n  \"endTime\": \"2023-07-06T10:30:23.9591515-07:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"c631965a-2b4b-4f9e-a323-63a0b7f06c01\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3093/providers/Microsoft.Compute/galleries/galleryPsTestGallery797/images/galleryPsTestGalleryImage8267?api-version=2022-08-03",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"description\": \"This is the gallery image description.\",\r\n    \"osType\": \"Windows\",\r\n    \"osState\": \"Generalized\",\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"identifier\": {\r\n      \"publisher\": \"testPub\",\r\n      \"offer\": \"testOffer\",\r\n      \"sku\": \"testSku\"\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"name\": \"SecurityType\",\r\n        \"value\": \"ConfidentialVM\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/capsOperations/555cf298-a96d-459a-b71c-2e81d3b3d6eb?api-version=2022-08-03"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/CreateUpdateGalleryImage3Min;149,Microsoft.Compute/CreateUpdateGalleryImage30Min;745"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"galleryPsTestGalleryImage8267\",\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3093/providers/Microsoft.Compute/galleries/galleryPsTestGallery797/images/galleryPsTestGalleryImage8267\",\r\n  \"type\": \"Microsoft.Compute/galleries/images\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"architecture\": \"x64\",\r\n    \"features\": [\r\n      {\r\n        \"name\": \"SecurityType\",\r\n        \"value\": \"ConfidentialVM\"\r\n      }\r\n    ],\r\n    \"osType\": \"Windows\",\r\n    \"osState\": \"Generalized\",\r\n    \"identifier\": {\r\n      \"publisher\": \"testPub\",\r\n      \"offer\": \"testOffer\",\r\n      \"sku\": \"testSku\"\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"description\": \"This is the gallery image description.\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3093/providers/Microsoft.Compute/galleries/galleryPsTestGallery797/images?api-version=2022-08-03",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/ListGalleryImagesInGallery3Min;1499,Microsoft.Compute/ListGalleryImagesInGallery30Min;9998"
       [...]
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3093/providers/Microsoft.Compute/galleries/galleryPsTestGallery797/images/galleryPsTestGalleryImage8267?api-version=2022-08-03",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/capsOperations/5e96af7d-c822-49c0-a2fe-9e2dfc6b319e?monitor=true&api-version=2022-08-03"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/capsOperations/5e96af7d-c822-49c0-a2fe-9e2dfc6b319e?api-version=2022-08-03"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/DeleteGalleryImage3Min;49,Microsoft.Compute/DeleteGalleryImage30Min;296"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/capsOperations/5e96af7d-c822-49c0-a2fe-9e2dfc6b319e?monitor=true&api-version=2022-08-03",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperationStatus3Min;1190,Microsoft.Compute/GetOperationStatus30Min;4145"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/capsOperations/ba372f74-2ee7-48a1-a652-d8776179295b?monitor=true&api-version=2022-08-03",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperationStatus3Min;1186,Microsoft.Compute/GetOperationStatus30Min;4141"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "GalleryImage_ConfidentialVM_CRUD_Tests": [
      "galleryPsTestRg3093",
      "galleryPsTestGallery797",
      "galleryPsTestGalleryImage8267"
    ]
  },
  "Variables": {
    "SubscriptionId": "0a516eae-8c7f-4039-a9f2-fc888ab94a33"
  }
}