{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2012-R2-Datacenter/versions?$top=1&api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43997"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"eastus2\",\r\n    \"name\": \"4.127.20180315\",\r\n    \"id\": \"/Subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/Providers/Microsoft.Compute/Locations/eastus2/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2012-R2-Datacenter/Versions/4.127.20180315\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourcegroups/galleryPsTestRg9382?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"galleryPsTestRg9382\": \"2023-07-06 23:12:17Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382\",\r\n  \"name\": \"galleryPsTestRg9382\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"galleryPsTestRg9382\": \"2023-07-06 23:12:17Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Storage/storageAccounts/saforgallery8158?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Storage/locations/eastus2/asyncoperations/82c5676c-ba4a-425d-9c7c-6154740e0525?monitor=true&api-version=2015-06-15"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Storage/locations/eastus2/asyncoperations/82c5676c-ba4a-425d-9c7c-6154740e0525?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Storage/storageAccounts?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Storage/storageAccounts/saforgallery8158\",\r\n      \"name\": \"saforgallery8158\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"location\": \"eastus2\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"accountType\": \"Standard_GRS\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"creationTime\": \"2023-07-06T23:12:21.0507112Z\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://saforgallery8158.blob.core.windows.net/\",\r\n          \"queue\": \"https://saforgallery8158.queue.core.windows.net/\",\r\n          \"table\": \"https://saforgallery8158.table.core.windows.net/\",\r\n          \"file\": \"https://saforgallery8158.file.core.windows.net/\"\r\n        },\r\n        \"primaryLocation\": \"eastus2\",\r\n        \"statusOfPrimary\": \"available\",\r\n        \"secondaryLocation\": \"centralus\",\r\n        \"statusOfSecondary\": \"available\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Network/publicIPAddresses/pip9124?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn4885\"\r\n    }\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Network/locations/eastus2/operations/2b7440ea-b22f-4e0f-8b15-ece21dcc2182?api-version=2019-09-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip9124\",\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Network/publicIPAddresses/pip9124\",\r\n  \"etag\": \"W/\\\"94c068eb-3ad9-43f4-a624-37dcbab3d8fd\\\"\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"53b1c1f2-78e5-4cbf-9f42-38f66c3ea6dd\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn4885\",\r\n      \"fqdn\": \"dn4885.eastus2.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Network/locations/eastus2/operations/2b7440ea-b22f-4e0f-8b15-ece21dcc2182?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Network/publicIPAddresses/pip9124?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"3ac99cef-4ab4-48a7-939a-f9a23fc44c1e\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip9124\",\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Network/publicIPAddresses/pip9124\",\r\n  \"etag\": \"W/\\\"3ac99cef-4ab4-48a7-939a-f9a23fc44c1e\\\"\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"53b1c1f2-78e5-4cbf-9f42-38f66c3ea6dd\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn4885\",\r\n      \"fqdn\": \"dn4885.eastus2.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Network/virtualNetworks/vn7267?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\",\r\n        \"10.1.2.4\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        },\r\n        \"name\": \"sn875\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Network/locations/eastus2/operation[...]
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Network/virtualNetworks/vn7267/subnets/sn875?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"65545bc3-2a32-433c-be14-1670e50e49a0\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"sn875\",\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Network/virtualNetworks/vn7267/subnets/sn875\",\r\n  \"etag\": \"W/\\\"65545bc3-2a32-433c-be14-1670e50e49a0\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Network/networkInterfaces/nic2459?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefix\": \"10.0.0.0/24\",\r\n              \"delegations\": [],\r\n              \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n              \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n            },\r\n            \"name\": \"sn875\",\r\n            \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Network/virtualNetworks/vn7267/subnets/sn875\"\r\n  [...]
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Compute/availabilitySets/asforgallery6620?api-version=2023-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\": 5,\r\n    \"platformFaultDomainCount\": 3\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Classic\"\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1194"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"asforgallery6620\",\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Compute/availabilitySets/asforgallery6620\",\r\n  \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  },\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\": 5,\r\n    \"platformFaultDomainCount\": 3\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Classic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Compute/virtualMachines/vm3720?api-version=2023-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A1_v2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2012-R2-Datacenter\",\r\n        \"version\": \"4.127.20180315\"\r\n      },\r\n      \"osDisk\": {\r\n        \"name\": \"test\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://saforgallery8158.blob.core.windows.net/crptestar4278/oscrptestar6047.vhd\"\r\n        },\r\n        \"caching\": \"None\",\r\n        \"createOption\": \"FromImage\"\r\n      }\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"Test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"adminPassword\": \"[PLACEHOLDEr1]\"\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Network/networkInterfaces/nic2459\"\r\n        }\r\n      ]\r\n    },\r\n    \"availabilitySet\": {\r\n      \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Compute/availabilitySets/asforgallery6620\"\r\n    }\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
     [...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/operations/f2e8128b-6eb0-4b93-a2ee-f5d45705cc95?p=a10d9311-9dc7-4907-a60c-5f723b484db3&api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "50"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29962"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2023-07-06T16:13:06.4477518-07:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"f2e8128b-6eb0-4b93-a2ee-f5d45705cc95\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/operations/f2e8128b-6eb0-4b93-a2ee-f5d45705cc95?p=a10d9311-9dc7-4907-a60c-5f723b484db3&api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14994,Microsoft.Compute/GetOperation30Min;29968"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2023-07-06T16:13:06.4477518-07:00\",\r\n  \"endTime\": \"2023-07-06T16:15:00.8998505-07:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"f2e8128b-6eb0-4b93-a2ee-f5d45705cc95\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Compute/virtualMachines/vm3720?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/LowCostGet3Min;3996,Microsoft.Compute/LowCostGet30Min;31962"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vm3720\",\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Compute/virtualMachines/vm3720\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\",\r\n    \"azsecpack\": \"nonprod\",\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\": \"true\"\r\n  },\r\n  \"properties\": {\r\n    \"vmId\": \"e0248f01-b804-46aa-aa24-1a5d076d9f50\",\r\n    \"availabilitySet\": {\r\n      \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Compute/availabilitySets/ASFORGALLERY6620\"\r\n    },\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A1_v2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2012-R2-Datacenter\",\r\n        \"version\": \"4.127.20180315\",\r\n        \"exactVersion\": \"4.127.20180315\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"test\",\r\n        \"createOption\": \"FromImage\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://saforgallery8158.blob.core.windows.net/crptestar4278/oscrptestar6047.vhd\"\r\n        },\r\n        \"caching\": \"None\",\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\": 127\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"Test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"AutomaticByOS\",\r\n          \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n        \"enableVMAgentPlatformUpdates\": true\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Network/networkInterfaces/nic2459\"\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"timeCreated\": \"2023-07-06T16:13:06.4477518-07:00\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Compute/images/psTestSourceImage2496?api-version=2023-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"storageProfile\": {\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"osState\": \"Generalized\",\r\n        \"blobUri\": \"https://saforgallery8158.blob.core.windows.net/crptestar4278/oscrptestar6047.vhd\"\r\n      },\r\n      \"zoneResilient\": true\r\n    },\r\n    \"hyperVGeneration\": \"V2\"\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/operations/0504ceaa-f6ac-432a-94fc-d3a498efdc99?p=a10d9311-[...]
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Compute/images/psTestSourceImage2496?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetImages3Min;358,Microsoft.Compute/GetImages30Min;1789"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"psTestSourceImage2496\",\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Compute/images/psTestSourceImage2496\",\r\n  \"type\": \"Microsoft.Compute/images\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  },\r\n  \"properties\": {\r\n    \"storageProfile\": {\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"osState\": \"Generalized\",\r\n        \"diskSizeGB\": 127,\r\n        \"blobUri\": \"https://saforgallery8158.blob.core.windows.net/crptestar4278/oscrptestar6047.vhd\",\r\n        \"caching\": \"None\",\r\n        \"storageAccountType\": \"Standard_LRS\"\r\n      },\r\n      \"dataDisks\": [],\r\n      \"zoneResilient\": true\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"hyperVGeneration\": \"V2\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Compute/galleries/galleryPsTestGallery8253?api-version=2022-08-03",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"description\": \"This is a sample gallery description\"\r\n  },\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/capsOperations/dafaa304-603f-42df-9dcb-f00f2f5c9cc1?api-version=2022-08-03"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/CreateUpdateGallery3Min;49,Microsoft.Compute/CreateUpdateGallery30Min;297"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"galleryPsTestGallery8253\",\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Compute/galleries/galleryPsTestGallery8253\",\r\n  \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"description\": \"This is a sample gallery description\",\r\n    \"identifier\": {\r\n      \"uniqueName\": \"0a516eae-8c7f-4039-a9f2-fc888ab94a33-GALLERYPSTESTGALLERY8253\"\r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/capsOperations/dafaa304-603f-42df-9dcb-f00f2f5c9cc1?api-version=2022-08-03",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperationStatus3Min;1196,Microsoft.Compute/GetOperationStatus30Min;4176"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2023-07-06T16:15:46.4067002-07:00\",\r\n  \"endTime\": \"2023-07-06T16:15:46.6410823-07:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"dafaa304-603f-42df-9dcb-f00f2f5c9cc1\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Compute/galleries/galleryPsTestGallery8253/images/galleryPsTestGalleryImage7734?api-version=2022-08-03",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"description\": \"This is the gallery image description.\",\r\n    \"osType\": \"Windows\",\r\n    \"osState\": \"Generalized\",\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"i[...]
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Compute/galleries/galleryPsTestGallery8253/images/galleryPsTestGalleryImage7734?api-version=2022-08-03",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetGalleryImage3Min;595,Microsoft.Compute/GetGalleryImage30Min;2979"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"galleryPsTestGalleryImage7734\",\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Compute/galleries/galleryPsTestGallery8253/images/galleryPsTestGalleryImage7734\",\r\n  \"type\": \"Microsoft.Compute/galleries/images\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"architecture\": \"x64\",\r\n    \"osType\": \"Windows\",\r\n    \"osState\": \"Generalized\",\r\n    \"identifier\": {\r\n      \"publisher\": \"testPub\",\r\n      \"offer\": \"testOffer\",\r\n      \"sku\": \"testSku\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"description\": \"This is the gallery image description.\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg9382/providers/Microsoft.Compute/galleries/galleryPsTestGallery8253/images/galleryPsTestGalleryImage7734/versions/1.0.0?api-version=2022-08-03",
      "RequestMethod": "PUT",
[...]
