{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2012-R2-Datacenter/versions?$top=1&api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"eastus2\",\r\n    \"name\": \"4.127.20180315\",\r\n    \"id\": \"/Subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/Providers/Microsoft.Compute/Locations/eastus2/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2012-R2-Datacenter/Versions/4.127.20180315\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourcegroups/galleryPsTestRg3771?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"galleryPsTestRg3771\": \"2023-07-11 01:02:08Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771\",\r\n  \"name\": \"galleryPsTestRg3771\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"galleryPsTestRg3771\": \"2023-07-11 01:02:08Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Storage/storageAccounts/saforgallery6196?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Storage/locations/eastus2/asyncoperations/74df8ddf-f939-4a82-a9dc-ed973ba997bc?monitor=true&api-version=2015-06-15"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Storage/locations/eastus2/asyncoperations/74df8ddf-f939-4a82-a9dc-ed973ba997bc?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Storage/storageAccounts?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Storage/storageAccounts/saforgallery6196\",\r\n      \"name\": \"saforgallery6196\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"location\": \"eastus2\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"accountType\": \"Standard_GRS\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"creationTime\": \"2023-07-11T01:01:57.3538138Z\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://saforgallery6196.blob.core.windows.net/\",\r\n          \"queue\": \"https://saforgallery6196.queue.core.windows.net/\",\r\n          \"table\": \"https://saforgallery6196.table.core.windows.net/\",\r\n          \"file\": \"https://saforgallery6196.file.core.windows.net/\"\r\n        },\r\n        \"primaryLocation\": \"eastus2\",\r\n        \"statusOfPrimary\": \"available\",\r\n        \"secondaryLocation\": \"centralus\",\r\n        \"statusOfSecondary\": \"available\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Network/publicIPAddresses/pip3646?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn6266\"\r\n    }\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Network/locations/eastus2/operations/df4f8372-258f-4024-88bb-1f427c15352c?api-version=2019-09-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip3646\",\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Network/publicIPAddresses/pip3646\",\r\n  \"etag\": \"W/\\\"106efa4b-8255-4cb8-b2d3-6a0df18a45a9\\\"\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"b37530c7-3e0d-4cbf-8894-15ce6a8eb9ef\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn6266\",\r\n      \"fqdn\": \"dn6266.eastus2.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Network/locations/eastus2/operations/df4f8372-258f-4024-88bb-1f427c15352c?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Network/publicIPAddresses/pip3646?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"fa4b7773-b162-44cd-bc43-2afd7ab6348a\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip3646\",\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Network/publicIPAddresses/pip3646\",\r\n  \"etag\": \"W/\\\"fa4b7773-b162-44cd-bc43-2afd7ab6348a\\\"\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"b37530c7-3e0d-4cbf-8894-15ce6a8eb9ef\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn6266\",\r\n      \"fqdn\": \"dn6266.eastus2.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Network/virtualNetworks/vn9940?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\",\r\n        \"10.1.2.4\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        },\r\n        \"name\": \"sn906\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Network/locations/eastus2/operation[...]
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Network/virtualNetworks/vn9940/subnets/sn906?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"0e01c079-7501-4cd4-97b8-6056bb2d4973\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"sn906\",\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Network/virtualNetworks/vn9940/subnets/sn906\",\r\n  \"etag\": \"W/\\\"0e01c079-7501-4cd4-97b8-6056bb2d4973\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Network/networkInterfaces/nic6017?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefix\": \"10.0.0.0/24\",\r\n              \"delegations\": [],\r\n              \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n              \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n            },\r\n            \"name\": \"sn906\",\r\n            \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Network/virtualNetworks/vn9940/subnets/sn906\"\r\n  [...]
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Compute/availabilitySets/asforgallery3237?api-version=2023-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\": 5,\r\n    \"platformFaultDomainCount\": 3\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Classic\"\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1199"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"asforgallery3237\",\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Compute/availabilitySets/asforgallery3237\",\r\n  \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  },\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\": 5,\r\n    \"platformFaultDomainCount\": 3\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Classic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Compute/virtualMachines/vm9088?api-version=2023-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A1_v2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2012-R2-Datacenter\",\r\n        \"version\": \"4.127.20180315\"\r\n      },\r\n      \"osDisk\": {\r\n        \"name\": \"test\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://saforgallery6196.blob.core.windows.net/crptestar2373/oscrptestar2353.vhd\"\r\n        },\r\n        \"caching\": \"None\",\r\n        \"createOption\": \"FromImage\"\r\n      }\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"Test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"adminPassword\": \"[PLACEHOLDEr1]\"\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Network/networkInterfaces/nic6017\"\r\n        }\r\n      ]\r\n    },\r\n    \"availabilitySet\": {\r\n      \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Compute/availabilitySets/asforgallery3237\"\r\n    }\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
     [...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/operations/bfb631cc-981e-4674-8f5b-30db69db9c37?p=a10d9311-9dc7-4907-a60c-5f723b484db3&api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "50"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29999"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2023-07-10T18:02:52.3689859-07:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"bfb631cc-981e-4674-8f5b-30db69db9c37\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/operations/bfb631cc-981e-4674-8f5b-30db69db9c37?p=a10d9311-9dc7-4907-a60c-5f723b484db3&api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14994,Microsoft.Compute/GetOperation30Min;29994"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2023-07-10T18:02:52.3689859-07:00\",\r\n  \"endTime\": \"2023-07-10T18:04:35.0721505-07:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"bfb631cc-981e-4674-8f5b-30db69db9c37\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Compute/virtualMachines/vm9088?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/LowCostGet3Min;3997,Microsoft.Compute/LowCostGet30Min;31997"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vm9088\",\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Compute/virtualMachines/vm9088\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\",\r\n    \"azsecpack\": \"nonprod\",\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\": \"true\"\r\n  },\r\n  \"properties\": {\r\n    \"vmId\": \"5e4b90d4-0544-41f9-a238-52bf79e7b0d4\",\r\n    \"availabilitySet\": {\r\n      \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Compute/availabilitySets/ASFORGALLERY3237\"\r\n    },\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A1_v2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2012-R2-Datacenter\",\r\n        \"version\": \"4.127.20180315\",\r\n        \"exactVersion\": \"4.127.20180315\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"test\",\r\n        \"createOption\": \"FromImage\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://saforgallery6196.blob.core.windows.net/crptestar2373/oscrptestar2353.vhd\"\r\n        },\r\n        \"caching\": \"None\",\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\": 127\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"Test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"AutomaticByOS\",\r\n          \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n        \"enableVMAgentPlatformUpdates\": true\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Network/networkInterfaces/nic6017\"\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"timeCreated\": \"2023-07-10T18:02:52.3689859-07:00\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Compute/images/psTestSourceImage2861?api-version=2023-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"storageProfile\": {\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"osState\": \"Generalized\",\r\n        \"blobUri\": \"https://saforgallery6196.blob.core.windows.net/crptestar2373/oscrptestar2353.vhd\"\r\n      },\r\n      \"zoneResilient\": true\r\n    },\r\n    \"hyperVGeneration\": \"V2\"\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/operations/85e589e1-158a-4864-9422-bbfa3740b9f9?p=a10d9311-[...]
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Compute/images/psTestSourceImage2861?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetImages3Min;358,Microsoft.Compute/GetImages30Min;1798"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"psTestSourceImage2861\",\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Compute/images/psTestSourceImage2861\",\r\n  \"type\": \"Microsoft.Compute/images\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  },\r\n  \"properties\": {\r\n    \"storageProfile\": {\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"osState\": \"Generalized\",\r\n        \"diskSizeGB\": 127,\r\n        \"blobUri\": \"https://saforgallery6196.blob.core.windows.net/crptestar2373/oscrptestar2353.vhd\",\r\n        \"caching\": \"None\",\r\n        \"storageAccountType\": \"Standard_LRS\"\r\n      },\r\n      \"dataDisks\": [],\r\n      \"zoneResilient\": true\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"hyperVGeneration\": \"V2\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Compute/galleries/galleryPsTestGallery9062?api-version=2022-08-03",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"description\": \"This is a sample gallery description\"\r\n  },\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/capsOperations/85a6403b-c92f-489d-a6eb-f77f1c890a0b?api-version=2022-08-03"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/CreateUpdateGallery3Min;49,Microsoft.Compute/CreateUpdateGallery30Min;299"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"galleryPsTestGallery9062\",\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Compute/galleries/galleryPsTestGallery9062\",\r\n  \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"description\": \"This is a sample gallery description\",\r\n    \"identifier\": {\r\n      \"uniqueName\": \"0a516eae-8c7f-4039-a9f2-fc888ab94a33-GALLERYPSTESTGALLERY9062\"\r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/capsOperations/85a6403b-c92f-489d-a6eb-f77f1c890a0b?api-version=2022-08-03",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperationStatus3Min;1198,Microsoft.Compute/GetOperationStatus30Min;4183"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2023-07-10T18:05:31.4876691-07:00\",\r\n  \"endTime\": \"2023-07-10T18:05:31.7064165-07:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"85a6403b-c92f-489d-a6eb-f77f1c890a0b\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Compute/galleries/galleryPsTestGallery9062/images/galleryPsTestGalleryImage4569?api-version=2022-08-03",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"description\": \"This is the gallery image description.\",\r\n    \"osType\": \"Windows\",\r\n    \"osState\": \"Generalized\",\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"identifier\": {\r\n      \"publisher\": \"testPub\",\r\n      \"offer\": \"testOffer\",\r\n      \"sku\": \"testSku\"\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"name\": \"SecurityType\",\r\n        \"value\": \"TrustedLaunchSupported\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/providers/Microsoft.Compute/locations/eastus2/capsOperations/d3ef4f1e-3401-4749-a83b-2c31d6e7901f?api-version=2022-08-03"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/CreateUpdateGalleryImage3Min;149,Microsoft.Compute/CreateUpdateGalleryImage30Min;749"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"galleryPsTestGalleryImage4569\",\r\n  \"id\": \"/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Compute/galleries/galleryPsTestGallery9062/images/galleryPsTestGalleryImage4569\",\r\n  \"type\": \"Microsoft.Compute/galleries/images\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"architecture\": \"x64\",\r\n    \"features\": [\r\n      {\r\n        \"name\": \"SecurityType\",\r\n        \"value\": \"TrustedLaunchSupported\"\r\n      }\r\n    ],\r\n    \"osType\": \"Windows\",\r\n    \"osState\": \"Generalized\",\r\n    \"identifier\": {\r\n      \"publisher\": \"testPub\",\r\n      \"offer\": \"testOffer\",\r\n      \"sku\": \"testSku\"\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"description\": \"This is the gallery image description.\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0a516eae-8c7f-4039-a9f2-fc888ab94a33/resourceGroups/galleryPsTestRg3771/providers/Microsoft.Compute/galleries/galleryPsTestGallery9062/images/galleryPsTestGalleryImage4569/versions/1.0.0?api-version=2022-08-03",
      "RequestMethod": "PUT",
[...]
