{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Cu6k27O1/EydiGFtvlnb0A.0",
        "X-Processing-Time": "145ms"
      },
      "ResponseBody": {
        "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-8f9b-119e-557d-5a3a0d0025fc"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/identities/8%3Aacs%3A1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-8f9b-119e-557d-5a3a0d0025fc/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "J\u002BdoRQjtFVYLx3qOvzptwBLjQWqy6OEWEEk1TY1\u002BrT4="
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Mc3nvqf6cEmi/2633Fumqw.0",
        "X-Processing-Time": "223ms"
      },
      "ResponseBody": {
        "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-8f9b-119e-557d-5a3a0d0025fc",
        "token": "Sanitized",
        "expiresOn": "2021-01-12T04:34:35.0387825\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Thread topic - ReadReceipts Async Test",
        "participants": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-8f9b-119e-557d-5a3a0d0025fc",
            "shareHistoryTime": "0001-01-01T00:00:00.0000000Z"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-8f9b-14ae-557d-5a3a0d0025fd",
            "shareHistoryTime": "0001-01-01T00:00:00.0000000Z"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://168.61.22.92/chat/threads/19%3Aef620c595003425a84ff9f251e9e4cac@thread.v2",
        "MS-CV": "699liX0p1Eah\u002BAtuhqjcow.0",
        "X-Processing-Time": "2950ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:ef620c595003425a84ff9f251e9e4cac@thread.v2",
          "topic": "Thread topic - ReadReceipts Async Test",
          "createdOn": "2021-01-11T04:34:37Z",
          "createdBy": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-8f9b-119e-557d-5a3a0d0025fc"
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Aef620c595003425a84ff9f251e9e4cac%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "This is message 1 content"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://168.61.22.92/chat/threads/19%3Aef620c595003425a84ff9f251e9e4cac@thread.v2/messages/1610339680447",
        "MS-CV": "KHwofvAa/UeMx1qXCnIVxw.0",
        "X-Processing-Time": "1430ms"
      },
      "ResponseBody": {
        "id": "1610339680447"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Aef620c595003425a84ff9f251e9e4cac%40thread.v2/readReceipts?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "chatMessageId": "1610339682293"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "Huhi7ddnP0yWzqhcZ2BGFQ.0",
        "X-Processing-Time": "454ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Aef620c595003425a84ff9f251e9e4cac%40thread.v2/readReceipts?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "KXhficSk0ECVxvING8fyfg.0",
        "X-Processing-Time": "255ms"
      },
      "ResponseBody": {
        "value": [
          {
            "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-8f9b-119e-557d-5a3a0d0025fc",
            "chatMessageId": "1610339682293",
            "readOn": "2021-01-11T04:34:43Z"
          },
          {
            "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-8f9b-14ae-557d-5a3a0d0025fd",
            "chatMessageId": "1610339680447",
            "readOn": "2021-01-11T04:34:44Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Aef620c595003425a84ff9f251e9e4cac%40thread.v2?api-version=2020-11-01-preview3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "YizR7LMOTki7tkXy0nQaBQ.0",
        "X-Processing-Time": "2286ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.dev.communication.azure.net/;accesskey=Kg==;",
    "RandomSeed": "1649358197"
  }
}