{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "6F/s8lGrW0qfVeFj/yX5fQ.0",
        "X-Processing-Time": "158ms"
      },
      "ResponseBody": {
        "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-7216-42a0-b274-5a3a0d00004f"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/identities/8%3Aacs%3A1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-7216-42a0-b274-5a3a0d00004f/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "J\u002BdoRQjtFVYLx3qOvzptwBLjQWqy6OEWEEk1TY1\u002BrT4="
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "QMZyefmlvU2MubTr9Z30Rw.0",
        "X-Processing-Time": "320ms"
      },
      "ResponseBody": {
        "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-7216-42a0-b274-5a3a0d00004f",
        "token": "Sanitized",
        "expiresOn": "2020-11-17T17:57:44.7402926\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Thread topic - ReadReceipts Test",
        "participants": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-7216-42a0-b274-5a3a0d00004f"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-7216-459b-b274-5a3a0d000050"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://168.61.22.92/chat/threads/19%3A75801516984c4825a989762b05c8388b@thread.v2",
        "MS-CV": "3E8IV8j4QUiARvqbWF2viQ.0",
        "X-Processing-Time": "847ms"
      },
      "ResponseBody": {
        "id": "19:75801516984c4825a989762b05c8388b@thread.v2",
        "topic": "Thread topic - ReadReceipts Test",
        "createdOn": "2020-11-16T17:57:47Z",
        "createdBy": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-7216-42a0-b274-5a3a0d00004f",
        "participants": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-7216-42a0-b274-5a3a0d00004f",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-7216-459b-b274-5a3a0d000050",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A75801516984c4825a989762b05c8388b%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "This is message 1 content"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://168.61.22.92/chat/threads/19%3A75801516984c4825a989762b05c8388b@thread.v2/messages/1605549468048",
        "MS-CV": "rHXfhq9Etk\u002Bdou6\u002B\u002BL3wGw.0",
        "X-Processing-Time": "379ms"
      },
      "ResponseBody": {
        "id": "1605549468048"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A75801516984c4825a989762b05c8388b%40thread.v2/readreceipts?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "chatMessageId": "1605549468548"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "/tbr/WmlekGDnb6c5n8aDA.0",
        "X-Processing-Time": "958ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A75801516984c4825a989762b05c8388b%40thread.v2/readreceipts?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "FY3sJTEbdkmMN4xI6lD/gw.0",
        "X-Processing-Time": "289ms"
      },
      "ResponseBody": {
        "value": [
          {
            "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-7216-42a0-b274-5a3a0d00004f",
            "chatMessageId": "1605549468548",
            "readOn": "2020-11-16T17:57:48Z"
          },
          {
            "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-7216-459b-b274-5a3a0d000050",
            "chatMessageId": "1605549468048",
            "readOn": "2020-11-16T17:57:49Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A75801516984c4825a989762b05c8388b%40thread.v2?api-version=2020-11-01-preview3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "5TsQr3IfTUKO61tJyVuUuA.0",
        "X-Processing-Time": "334ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.dev.communication.azure.net/;accesskey=Kg==;",
    "RandomSeed": "2023588260"
  }
}