{
  "Entries": [
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "\u002Bbz985k3HUKMQLc2W6Hksw.0",
        "X-Processing-Time": "207ms"
      },
      "ResponseBody": {
        "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bac8-80f5-8b3a0d000d14"
      }
    },
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/identities/8%3Aacs%3Afa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bac8-80f5-8b3a0d000d14/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "J\u002BdoRQjtFVYLx3qOvzptwBLjQWqy6OEWEEk1TY1\u002BrT4="
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Uz/iJKrraEClO1TAbjwAQw.0",
        "X-Processing-Time": "278ms"
      },
      "ResponseBody": {
        "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bac8-80f5-8b3a0d000d14",
        "token": "Sanitized",
        "expiresOn": "2020-11-06T18:42:29.6529018-08:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Thread sync from C# sdk",
        "members": [
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bac8-80f5-8b3a0d000d14"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bd61-80f5-8b3a0d000d15"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bffa-80f5-8b3a0d000d16"
          }
        ]
      },
      "StatusCode": 207,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://52.168.174.23/chat/threads/19%3Ac186ef548ce24443b1ae083870cc9ab9@thread.v2",
        "MS-CV": "yAMdaLpE7EG5XoZ75uPa0w.0",
        "X-Processing-Time": "243ms"
      },
      "ResponseBody": {
        "multipleStatus": [
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bac8-80f5-8b3a0d000d14",
            "statusCode": 201,
            "type": "ThreadMember"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bd61-80f5-8b3a0d000d15",
            "statusCode": 201,
            "type": "ThreadMember"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bffa-80f5-8b3a0d000d16",
            "statusCode": 201,
            "type": "ThreadMember"
          },
          {
            "id": "19:c186ef548ce24443b1ae083870cc9ab9@thread.v2",
            "statusCode": 201,
            "type": "Thread"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac186ef548ce24443b1ae083870cc9ab9%40thread.v2?api-version=2020-09-21-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Launch meeting"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "dFqhcnvPUUO\u002Bvrf4H7UQYA.0",
        "X-Processing-Time": "176ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac186ef548ce24443b1ae083870cc9ab9%40thread.v2?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "rj\u002B1849MtE6hm8yghrH4ug.0",
        "X-Processing-Time": "56ms"
      },
      "ResponseBody": {
        "id": "19:c186ef548ce24443b1ae083870cc9ab9@thread.v2",
        "topic": "Launch meeting",
        "createdOn": "2020-11-06T02:42:32Z",
        "createdBy": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bac8-80f5-8b3a0d000d14",
        "members": [
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bac8-80f5-8b3a0d000d14",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bd61-80f5-8b3a0d000d15",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bffa-80f5-8b3a0d000d16",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "MAgKESSbz0mOgh4OtQVe\u002Bw.0",
        "X-Processing-Time": "24ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:c186ef548ce24443b1ae083870cc9ab9@thread.v2",
            "topic": "Launch meeting",
            "isDeleted": false,
            "lastMessageReceivedOn": "2020-11-06T02:42:32Z"
          },
          {
            "id": "19:cf284114a2e34843ba8a0ba194bf65e2@thread.v2",
            "topic": "Thread sync from C# sdk",
            "isDeleted": false,
            "lastMessageReceivedOn": "2020-11-06T02:42:33Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac186ef548ce24443b1ae083870cc9ab9%40thread.v2/messages?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022content\u0022:\u0022Let\u0027s meet at 11am\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://52.168.174.23/chat/threads/19%3Ac186ef548ce24443b1ae083870cc9ab9@thread.v2/messages/1604630554136",
        "MS-CV": "xNjOW9l6eEudUqOa4uZTgA.0",
        "X-Processing-Time": "280ms"
      },
      "ResponseBody": {
        "id": "1604630554136"
      }
    },
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Acf284114a2e34843ba8a0ba194bf65e2%40thread.v2/messages?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "priority": "High",
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://52.168.174.23/chat/threads/19%3Acf284114a2e34843ba8a0ba194bf65e2@thread.v2/messages/1604630554431",
        "MS-CV": "4avOSeiCjEmX1EDTD6lpFQ.0",
        "X-Processing-Time": "213ms"
      },
      "ResponseBody": {
        "id": "1604630554431"
      }
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac186ef548ce24443b1ae083870cc9ab9%40thread.v2/messages/1604630554136?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "IzuKPsngcE2ClQ6jdBFP8Q.0",
        "X-Processing-Time": "147ms"
      },
      "ResponseBody": {
        "id": "1604630554136",
        "type": "Text",
        "priority": "Normal",
        "version": "1604630554136",
        "content": "Let\u0027s meet at 11am",
        "senderDisplayName": "",
        "createdOn": "2020-11-06T02:42:34Z",
        "senderId": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bac8-80f5-8b3a0d000d14"
      }
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac186ef548ce24443b1ae083870cc9ab9%40thread.v2/messages?maxPageSize=2\u0026api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
  [...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19:c186ef548ce24443b1ae083870cc9ab9@thread.v2/messages?syncState=3e2d00000031393a6331383665663534386365323434343362316165303833383730636339616239407468726561642e763201b12a6f9b75010000d82b6f9b75010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIU[...]
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac186ef548ce24443b1ae083870cc9ab9%40thread.v2/messages/1604630554136?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "VJB5pdUhOUOdjo1Mkn3UJw.0",
        "X-Processing-Time": "111ms"
      },
      "ResponseBody": {
        "id": "1604630554136",
        "type": "Text",
        "priority": "Normal",
        "version": "1604630559163",
        "content": "Instead of 11am, let\u0027s meet at 2pm",
        "senderDisplayName": "",
        "createdOn": "2020-11-06T02:42:34Z",
        "senderId": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bac8-80f5-8b3a0d000d14",
        "editedOn": "2020-11-06T02:42:39Z"
      }
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac186ef548ce24443b1ae083870cc9ab9%40thread.v2/messages?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "0PXKMpDgD0Ks34apFX4G1g.0",
        "X-Processing-Time": "137ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1604630554136",
            "type": "Text",
            "priority": "Normal",
            "version": "1604630559734",
            "content": "",
            "senderDisplayName": "",
            "createdOn": "2020-11-06T02:42:34Z",
            "senderId": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bac8-80f5-8b3a0d000d14",
            "deletedOn": "2020-11-06T02:42:39Z"
          },
          {
            "id": "1604630555608",
            "type": "Text",
            "priority": "High",
            "version": "1604630555608",
            "content": "Content for message 6",
            "senderDisplayName": "DisplayName sender message 1",
            "createdOn": "2020-11-06T02:42:35Z",
            "senderId": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bffa-80f5-8b3a0d000d16"
          },
          {
            "id": "1604[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac186ef548ce24443b1ae083870cc9ab9%40thread.v2/members?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Dt6dywp4KE2GBRZFh2/MFw.0",
        "X-Processing-Time": "137ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bac8-80f5-8b3a0d000d14",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bd61-80f5-8b3a0d000d15",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-bffa-80f5-8b3a0d000d16",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac186ef548ce24443b1ae083870cc9ab9%40thread.v2/members/8%3Aacs%3Afa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-c29f-80f5-8b3a0d000d17?api-version=2020-09-21-preview2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "G9URdaww6kCiJraWC/EK\u002BA.0",
        "X-Processing-Time": "375ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac186ef548ce24443b1ae083870cc9ab9%40thread.v2/typing?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "/i8WcnDsokuKCg62PC5lzA.0",
        "X-Processing-Time": "105ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ac186ef548ce24443b1ae083870cc9ab9%40thread.v2?api-version=2020-09-21-preview2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "H7tC6xEmk0KGqiLNedCyMg.0",
        "X-Processing-Time": "151ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-prod-e2e.communication.azure.com/;accesskey=Kg==;",
    "RandomSeed": "1094461385"
  }
}