{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "19fwsiQzkkOISnlGbtemjg.0",
        "X-Processing-Time": "204ms"
      },
      "ResponseBody": {
        "id": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "J\u002BdoRQjtFVYLx3qOvzptwBLjQWqy6OEWEEk1TY1\u002BrT4="
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Q677yjpcbUi7dFuBLjuNng.0",
        "X-Processing-Time": "275ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "token": "Sanitized",
        "expiresOn": "2020-11-12T00:27:38.7250067\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Thread sync from C# sdk",
        "members": [
          {
            "id": "Sanitized"
          },
          {
            "id": "Sanitized"
          },
          {
            "id": "Sanitized"
          }
        ]
      },
      "StatusCode": 207,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://52.168.174.23/chat/threads/19%3Abea261e049ab4079baf9becba0e5a0e0@thread.v2",
        "MS-CV": "9bU50UMXoUC9jKxf0L2XXQ.0",
        "X-Processing-Time": "370ms"
      },
      "ResponseBody": {
        "multipleStatus": [
          {
            "id": "Sanitized",
            "statusCode": 201,
            "type": "ThreadMember"
          },
          {
            "id": "Sanitized",
            "statusCode": 201,
            "type": "ThreadMember"
          },
          {
            "id": "Sanitized",
            "statusCode": 201,
            "type": "ThreadMember"
          },
          {
            "id": "Sanitized",
            "statusCode": 201,
            "type": "Thread"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3abea261e049ab4079baf9becba0e5a0e0%40thread.v2?api-version=2020-09-21-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Launch meeting"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "l14EWUKIgEiOYpWqQCuVxQ.0",
        "X-Processing-Time": "203ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3abea261e049ab4079baf9becba0e5a0e0%40thread.v2?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "NZNzw8Mwe0K5Z0cNaMiMgQ.0",
        "X-Processing-Time": "62ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "topic": "Launch meeting",
        "createdOn": "2020-11-11T00:27:42Z",
        "createdBy": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000006-5495-115f-68ab-1c482200308a",
        "members": [
          {
            "id": "Sanitized",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "Sanitized",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "Sanitized",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "5osdR/uniEWG3089NuaVNA.0",
        "X-Processing-Time": "37ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "topic": "Launch meeting",
            "isDeleted": false,
            "lastMessageReceivedOn": "2020-11-11T00:27:42Z"
          },
          {
            "id": "Sanitized",
            "topic": "Thread sync from C# sdk",
            "isDeleted": false,
            "lastMessageReceivedOn": "2020-11-11T00:27:42Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3abea261e049ab4079baf9becba0e5a0e0%40thread.v2/messages?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022content\u0022:\u0022Let\u0027s meet at 11am\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://52.168.174.23/chat/threads/19%3Abea261e049ab4079baf9becba0e5a0e0@thread.v2/messages/1605054463583",
        "MS-CV": "5MTO9CHSl0CvsJn23vLH4g.0",
        "X-Processing-Time": "295ms"
      },
      "ResponseBody": {
        "id": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3a9f4ed7acb7794002ba4905618c2ab301%40thread.v2/messages?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "priority": "High",
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://52.168.174.23/chat/threads/19%3A9f4ed7acb7794002ba4905618c2ab301@thread.v2/messages/1605054463887",
        "MS-CV": "o5i5EBg8b0Gndw16eaedyQ.0",
        "X-Processing-Time": "202ms"
      },
      "ResponseBody": {
        "id": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3abea261e049ab4079baf9becba0e5a0e0%40thread.v2/messages/1605054463583?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "YproV9PpVU6bVQfjUqAaHg.0",
        "X-Processing-Time": "157ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "type": "Text",
        "priority": "Normal",
        "version": "1605054463583",
        "content": "Let\u0027s meet at 11am",
        "senderDisplayName": "",
        "createdOn": "2020-11-11T00:27:43Z",
        "senderId": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000006-5495-115f-68ab-1c482200308a"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3abea261e049ab4079baf9becba0e5a0e0%40thread.v2/messages?maxpagesize=2\u0026api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      [...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19:bea261e049ab4079baf9becba0e5a0e0@thread.v2/messages?syncstate=3e2d00000031393a6265613236316530343961623430373962616639626563626130653561306530407468726561642e7632011583b3b4750100004c84b3b475010000\u0026starttime=1%2f1%2f1970%2012%3a00%3a00%20am%20%2b00%3a00\u0026maxpagesize=2\u0026api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1N[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3abea261e049ab4079baf9becba0e5a0e0%40thread.v2/messages/1605054463583?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "BEUSa9gjGEmO9wmF9rr3PQ.0",
        "X-Processing-Time": "115ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "type": "Text",
        "priority": "Normal",
        "version": "1605054468808",
        "content": "Instead of 11am, let\u0027s meet at 2pm",
        "senderDisplayName": "",
        "createdOn": "2020-11-11T00:27:43Z",
        "senderId": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000006-5495-115f-68ab-1c482200308a",
        "editedOn": "2020-11-11T00:27:48Z"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3abea261e049ab4079baf9becba0e5a0e0%40thread.v2/messages?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "a\u002BR8hIdv2k\u002BJEGtbQMigxA.0",
        "X-Processing-Time": "201ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "type": "Text",
            "priority": "Normal",
            "version": "1605054469440",
            "content": "",
            "senderDisplayName": "",
            "createdOn": "2020-11-11T00:27:43Z",
            "senderId": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000006-5495-115f-68ab-1c482200308a",
            "deletedOn": "2020-11-11T00:27:48Z"
          },
          {
            "id": "Sanitized",
            "type": "Text",
            "priority": "High",
            "version": "1605054465100",
            "content": "Content for message 6",
            "senderDisplayName": "DisplayName sender message 1",
            "createdOn": "2020-11-11T00:27:45Z",
            "senderId": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000006-5495-16c7-68ab-1c482200308c"
          },
          {
            "id": "Sanitize[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3abea261e049ab4079baf9becba0e5a0e0%40thread.v2/members?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "vJxq79RlFkecbrgK\u002B71low.0",
        "X-Processing-Time": "98ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "Sanitized",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "Sanitized",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3abea261e049ab4079baf9becba0e5a0e0%40thread.v2/members/8%3aacs%3afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000006-5495-1962-68ab-1c482200308d?api-version=2020-09-21-preview2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "h/LqfUFhd0\u002B\u002BBSvVb6xN7g.0",
        "X-Processing-Time": "401ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3abea261e049ab4079baf9becba0e5a0e0%40thread.v2/typing?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "TBY6PbG54EOPbv5BgGI3JA.0",
        "X-Processing-Time": "104ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3abea261e049ab4079baf9becba0e5a0e0%40thread.v2?api-version=2020-09-21-preview2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "u4L0QnHs9UO3LluiYMFI/A.0",
        "X-Processing-Time": "172ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://azurecommunicationservices.communication.azure.com/;accesskey=Kg==;",
    "RandomSeed": "261328872"
  }
}