{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "LMTJUTdRyUmczOuS9kZXtg.0",
        "X-Processing-Time": "237ms"
      },
      "ResponseBody": {
        "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-8371-ff14-b274-5a3a0d000191"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/identities/8%3Aacs%3A1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-8371-ff14-b274-5a3a0d000191/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "J\u002BdoRQjtFVYLx3qOvzptwBLjQWqy6OEWEEk1TY1\u002BrT4="
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "TL16rGUz4kaXukuWgxlpqg.0",
        "X-Processing-Time": "719ms"
      },
      "ResponseBody": {
        "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-8371-ff14-b274-5a3a0d000191",
        "token": "Sanitized",
        "expiresOn": "2020-11-21T02:51:29.91506\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Thread async from C# sdk",
        "participants": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-8371-ff14-b274-5a3a0d000191"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-8372-0417-b274-5a3a0d000192"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-8372-0726-b274-5a3a0d000193"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://168.61.22.92/chat/threads/19%3A8c2623daeb8a48d48901aae6f8fac956@thread.v2",
        "MS-CV": "WYncmvM9i0\u002BpXYz\u002BUBUubw.0",
        "X-Processing-Time": "899ms"
      },
      "ResponseBody": {
        "id": "19:8c2623daeb8a48d48901aae6f8fac956@thread.v2",
        "topic": "Thread async from C# sdk",
        "createdOn": "2020-11-20T02:51:34Z",
        "createdBy": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-8371-ff14-b274-5a3a0d000191",
        "participants": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-8371-ff14-b274-5a3a0d000191",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-8372-0417-b274-5a3a0d000192",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-8372-0726-b274-5a3a0d000193",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A8c2623daeb8a48d48901aae6f8fac956%40thread.v2?api-version=2020-11-01-preview3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Updated topic - C# sdk"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "qHiTD0kBKUCcPDGAGbbTrw.0",
        "X-Processing-Time": "441ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Eb8/96tVVE2\u002BuyDvrkN/AQ.0",
        "X-Processing-Time": "408ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:8c2623daeb8a48d48901aae6f8fac956@thread.v2",
            "topic": "Updated topic - C# sdk",
            "lastMessageReceivedOn": "2020-11-20T02:51:34Z"
          },
          {
            "id": "19:d748d9b645ef438b804714e5fa44e21b@thread.v2",
            "topic": "Thread async from C# sdk",
            "lastMessageReceivedOn": "2020-11-20T02:51:36Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A8c2623daeb8a48d48901aae6f8fac956%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "priority": "High",
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://168.61.22.92/chat/threads/19%3A8c2623daeb8a48d48901aae6f8fac956@thread.v2/messages/1605840698795",
        "MS-CV": "3DTUGvbjXE2842dZPN\u002B30w.0",
        "X-Processing-Time": "399ms"
      },
      "ResponseBody": {
        "id": "1605840698795"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A8c2623daeb8a48d48901aae6f8fac956%40thread.v2/messages/1605840698795?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "naX/rjYi4kOHjkIFPutGwg.0",
        "X-Processing-Time": "264ms"
      },
      "ResponseBody": {
        "id": "1605840698795",
        "type": "Text",
        "priority": "High",
        "version": "1605840698795",
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2020-11-20T02:51:38Z",
        "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-8371-ff14-b274-5a3a0d000191"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A8c2623daeb8a48d48901aae6f8fac956%40thread.v2/messages?maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode"[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19:8c2623daeb8a48d48901aae6f8fac956@thread.v2/messages?syncState=3e2d00000031393a3863323632336461656238613438643438393031616165366638666163393536407468726561642e763201478690e375010000638890e375010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJh[...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A8c2623daeb8a48d48901aae6f8fac956%40thread.v2/messages/1605840698795?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "GOWP8O5DTU2qE0xYF4PxCA.0",
        "X-Processing-Time": "259ms"
      },
      "ResponseBody": {
        "id": "1605840698795",
        "type": "Text",
        "priority": "High",
        "version": "1605840708476",
        "content": "This is message 1 content updated",
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2020-11-20T02:51:38Z",
        "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-8371-ff14-b274-5a3a0d000191",
        "editedOn": "2020-11-20T02:51:48Z"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A8c2623daeb8a48d48901aae6f8fac956%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "CR07wvBrdUyqUy8Wg9dRPw.0",
        "X-Processing-Time": "287ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1605840698795",
            "type": "Text",
            "priority": "Normal",
            "version": "1605840709546",
            "content": "",
            "senderDisplayName": "DisplayName sender message 1",
            "createdOn": "2020-11-20T02:51:38Z",
            "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-8371-ff14-b274-5a3a0d000191",
            "deletedOn": "2020-11-20T02:51:48Z"
          },
          {
            "id": "1605840701539",
            "type": "Text",
            "priority": "High",
            "version": "1605840701539",
            "content": "Content for message 6",
            "senderDisplayName": "DisplayName sender message 1",
            "createdOn": "2020-11-20T02:51:41Z",
            "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-8372-0726-b274-5a3a0d000193"
          },
          {
            "id": "1605[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A8c2623daeb8a48d48901aae6f8fac956%40thread.v2/participants?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "a5ujZM2j9kSVgc2qikpFXg.0",
        "X-Processing-Time": "696ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-8371-ff14-b274-5a3a0d000191",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-8372-0417-b274-5a3a0d000192",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-8372-0726-b274-5a3a0d000193",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A8c2623daeb8a48d48901aae6f8fac956%40thread.v2/participants/8%3Aacs%3A1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000006-8372-0a31-b274-5a3a0d000194?api-version=2020-11-01-preview3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3",
        "MS-CV": "F5/B8K7Vf06ZmZsVQKzD2w.0",
        "X-Processing-Time": "459ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A8c2623daeb8a48d48901aae6f8fac956%40thread.v2/typing?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "cxl35qu6wU2ZBvY2Y6Po4Q.0",
        "X-Processing-Time": "371ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A8c2623daeb8a48d48901aae6f8fac956%40thread.v2?api-version=2020-11-01-preview3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "H1HBsNMZdEOc8iuZQIlWkg.0",
        "X-Processing-Time": "300ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.dev.communication.azure.net/;accesskey=Kg==;",
    "RandomSeed": "772597927"
  }
}