{
  "Entries": [
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/prebuilts",
      "RequestMethod": "POST",
      "RequestBody": "[\r\n  \"money\"\r\n]",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"88905073-bd3f-4275-abd1-fd29d1e79c81\",\r\n    \"name\": \"money\",\r\n    \"typeId\": 2,\r\n    \"readableType\": \"Prebuilt Entity Extractor\",\r\n    \"roles\": []\r\n  }\r\n]",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/prebuilts/88905073-bd3f-4275-abd1-fd29d1e79c81/roles",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"simple role\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/prebuilts/88905073-bd3f-4275-abd1-fd29d1e79c81/roles/5b3e9f0b-db18-41a9-864d-14552518feb4"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/prebuilts/88905073-bd3f-4275-abd1-fd29d1e79c81/roles/5b3e9f0b-db18-41a9-864d-14552518feb4"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"5b3e9f0b-db18-41a9-864d-14552518feb4\"",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/prebuilts/88905073-bd3f-4275-abd1-fd29d1e79c81",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}