{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/3327b33c-35df-40d0-a661-c9ade29da239/versions/0.1/entities",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"simple entity\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/3327b33c-35df-40d0-a661-c9ade29da239/versions/0.1/entities/b27c8cb1-f188-4c3b-b120-734bd9dad027"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/3327b33c-35df-40d0-a661-c9ade29da239/versions/0.1/entities/b27c8cb1-f188-4c3b-b120-734bd9dad027"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"b27c8cb1-f188-4c3b-b120-734bd9dad027\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/3327b33c-35df-40d0-a661-c9ade29da239/versions/0.1/entities/b27c8cb1-f188-4c3b-b120-734bd9dad027/roles",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"simple role\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/3327b33c-35df-40d0-a661-c9ade29da239/versions/0.1/entities/b27c8cb1-f188-4c3b-b120-734bd9dad027/roles/4bb28340-b3dc-4a24-ab3f-30ff432fdd7d"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/3327b33c-35df-40d0-a661-c9ade29da239/versions/0.1/entities/b27c8cb1-f188-4c3b-b120-734bd9dad027/roles/4bb28340-b3dc-4a24-ab3f-30ff432fdd7d"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"4bb28340-b3dc-4a24-ab3f-30ff432fdd7d\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/3327b33c-35df-40d0-a661-c9ade29da239/versions/0.1/entities/b27c8cb1-f188-4c3b-b120-734bd9dad027/roles",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"4bb28340-b3dc-4a24-ab3f-30ff432fdd7d\",\r\n    \"name\": \"simple role\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/3327b33c-35df-40d0-a661-c9ade29da239/versions/0.1/entities/b27c8cb1-f188-4c3b-b120-734bd9dad027",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}