{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/3327b33c-35df-40d0-a661-c9ade29da239/versions/0.1/entities",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"simple entity\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/3327b33c-35df-40d0-a661-c9ade29da239/versions/0.1/entities/6da07aca-1ace-4d2c-a46f-f4c3a74d0cdd"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/3327b33c-35df-40d0-a661-c9ade29da239/versions/0.1/entities/6da07aca-1ace-4d2c-a46f-f4c3a74d0cdd"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"6da07aca-1ace-4d2c-a46f-f4c3a74d0cdd\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/3327b33c-35df-40d0-a661-c9ade29da239/versions/0.1/entities/6da07aca-1ace-4d2c-a46f-f4c3a74d0cdd/roles",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"simple role\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/3327b33c-35df-40d0-a661-c9ade29da239/versions/0.1/entities/6da07aca-1ace-4d2c-a46f-f4c3a74d0cdd/roles/43749ae0-7faf-4f11-8a74-2542bb6866ce"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/3327b33c-35df-40d0-a661-c9ade29da239/versions/0.1/entities/6da07aca-1ace-4d2c-a46f-f4c3a74d0cdd/roles/43749ae0-7faf-4f11-8a74-2542bb6866ce"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"43749ae0-7faf-4f11-8a74-2542bb6866ce\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/3327b33c-35df-40d0-a661-c9ade29da239/versions/0.1/entities/6da07aca-1ace-4d2c-a46f-f4c3a74d0cdd/roles/43749ae0-7faf-4f11-8a74-2542bb6866ce",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/luis/api/v2.0/apps/3327b33c-35df-40d0-a661-c9ade29da239/versions/0.1/entities/6da07aca-1ace-4d2c-a46f-f4c3a74d0cdd",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}