{
  "Entries": [
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/regexentities",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"regexPattern\": \"a+\",\r\n  \"name\": \"regex model\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/regexentities/0fd883d2-5f3c-44d6-9125-f4d1e8b42e3e"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/regexentities/0fd883d2-5f3c-44d6-9125-f4d1e8b42e3e"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"0fd883d2-5f3c-44d6-9125-f4d1e8b42e3e\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/regexentities/0fd883d2-5f3c-44d6-9125-f4d1e8b42e3e/roles",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"simple role\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/regexentities/0fd883d2-5f3c-44d6-9125-f4d1e8b42e3e/roles/95fcb43e-04f1-4032-b5b1-e3081b2b57f3"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/regexentities/0fd883d2-5f3c-44d6-9125-f4d1e8b42e3e/roles/95fcb43e-04f1-4032-b5b1-e3081b2b57f3"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"95fcb43e-04f1-4032-b5b1-e3081b2b57f3\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/regexentities/0fd883d2-5f3c-44d6-9125-f4d1e8b42e3e/roles",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"95fcb43e-04f1-4032-b5b1-e3081b2b57f3\",\r\n    \"name\": \"simple role\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/6c859d36-47a0-4dd9-a2ab-7817e211646b/versions/0.1/regexentities/0fd883d2-5f3c-44d6-9125-f4d1e8b42e3e",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}