{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/alongRoute/json?api-version=1.0\u0026query=park\u0026maxDetourTime=1000",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-client-id": "a1ee513d-a824-4693-a430-e997b5d25172"
      },
      "RequestBody": {
        "route": {
          "coordinates": [
            [
              121.03684902191162,
              24.809729582963467
            ],
            [
              121.03638768196106,
              24.808979706076794
            ],
            [
              121.03898406028748,
              24.808083743328694
            ],
            [
              121.03933811187744,
              24.808940751309397
            ],
            [
              121.03684902191162,
              24.809729582963467
            ]
          ],
          "type": "LineString"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "query": "park",
          "queryType": "NON_NEAR",
          "queryTime": 110,
          "numResults": 10,
          "offset": 0,
          "totalResults": 10,
          "fuzzyLevel": 1
        },
        "results": [
          {
            "type": "POI",
            "id": "158007000043413",
            "score": 2.9977381229,
            "dist": 155.38691835079828,
            "query": "park",
            "info": "search:ta:158007000043413-TW",
            "poi": {
              "name": "\u570B\u96F2\u505C\u8ECA\u9AD8\u9435\u505C\u4E5D\u505C\u8ECA\u5834",
              "brands": [
                {
                  "name": "Parc Here"
                }
              ],
              "categorySet": [
                {
                  "id": 7313
                }
              ],
              "categories": [
                "parking garage"
              ],
              "classifications": [
                {
                  "code": "PARKING_GARAGE",
                  "names": [
                    {
                      "nameLocale": "en-US",
                      "name": "parking garage"
                    }
                  ]
                }
              ]
            },
            "address": {
              "streetName": "\u5149\u660E\u516D\u8DEF\u6771\u4E8C\u6BB5",
              "municipalitySubdivision": "\u7AF9\u5317\u5E02",
              "municipality": "\u65B0\u7AF9\u7E23",
              "countrySubdivision": "\u53F0\u7063",
              "postalCode": "302",
              "extendedPostalCode": "30271",
              "countryCode": "TW",
              "country": "\u53F0\u7063",
              "countryCodeISO3": "TWN",
              "freeformAddress": "\u5149\u660E\u516D\u8DEF\u6771\u4E8C\u6BB5, \u7AF9\u5317\u5E02, \u65B0\u7AF9\u7E23 30271",
              "localName": "\u7AF9\u5317\u5E02"
            },
            "position": {
              "lat": 24.81111,
              "lon": 121.03663
            },
            "viewport": {
              "topLeftPoint": {
                "lat": 24.81201,
                "lon": 121.03564
              },
              "btmRightPoint": {
                "lat": 24.81021,
                "lon": 121.03762
              }
            },
            "entryPoints": [
              {
                "type": "main",
                "position": {
                  "lat": 24.81157,
                  "lon": 121.03689
                }
              }
            ],
            "detourTime": -214,
            "detourDistance": 195
          },
          {
            "type": "POI",
            "id": "158007000030535",
            "score": 2.9976186752,
            "dist": 184.33246750120236,
            "query": "park",
            "info": "search:ta:158007000030535-TW",
            "poi": {
              "name": "\u6C34\u5733\u68EE\u6797\u516C\u5712",
              "categorySet": [
                {
                  "id": 9362008
                }
              ],
              "categories": [
                "park[...]
