{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/geometry/json?api-version=1.0\u0026query=coffee\u0026language=en",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-client-id": "a1ee513d-a824-4693-a430-e997b5d25172"
      },
      "RequestBody": {
        "geometry": {
          "geometries": [
            {
              "coordinates": [
                [
                  [
                    -122.43576049804686,
                    37.7524152343544
                  ],
                  [
                    -122.43301391601562,
                    37.70660472542312
                  ],
                  [
                    -122.36434936523438,
                    37.712059855877314
                  ],
                  [
                    -122.43576049804686,
                    37.7524152343544
                  ]
                ]
              ],
              "type": "Polygon"
            },
            {
              "coordinates": [
                [
                  [
                    121.56,
                    25.04
                  ],
                  [
                    121.565,
                    25.04
                  ],
                  [
                    121.565,
                    25.045
                  ],
                  [
                    121.56,
                    25.045
                  ],
                  [
                    121.56,
                    25.04
                  ]
                ]
              ],
              "type": "Polygon"
            }
          ],
          "type": "GeometryCollection"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "query": "coffee",
          "queryType": "NON_NEAR",
          "queryTime": 8,
          "numResults": 10,
          "offset": 0,
          "totalResults": 154,
          "fuzzyLevel": 1
        },
        "results": [
          {
            "type": "POI",
            "id": "840069006289203",
            "score": 2.1456444263,
            "info": "search:ta:840069006289203-US",
            "poi": {
              "name": "Piccolo Pete\u0027s Cafe",
              "phone": "\u002B1 415-468-6601",
              "categorySet": [
                {
                  "id": 9376002
                }
              ],
              "categories": [
                "caf\u00E9",
                "caf\u00E9/pub"
              ],
              "classifications": [
                {
                  "code": "CAFE_PUB",
                  "names": [
                    {
                      "nameLocale": "en-US",
                      "name": "caf\u00E9"
                    },
                    {
                      "nameLocale": "en-US",
                      "name": "caf\u00E9/pub"
                    }
                  ]
                }
              ]
            },
            "address": {
              "streetNumber": "2155",
              "streetName": "Bayshore Boulevard",
              "municipalitySubdivision": "Visitacion Valley",
              "municipality": "San Francisco",
              "countrySecondarySubdivision": "San Francisco",
              "countrySubdivision": "CA",
              "countrySubdivisionName": "California",
              "postalCode": "94134",
              "extendedPostalCode": "94134-2455",
              "countryCode": "US",
              "country": "United States",
              "countryCodeISO3": "USA",
              "freeformAddress": "2155 Bayshore Boulevard, San Francisco, CA 94134",
              "localName": "San Francisco"
            },
            "position": {
              "lat": 37.71277,
              "lon": -122.40067
            },
            "viewport": {
              "topLeftPoint": {
                "lat": 37.71367,
                "lon": -122.40181
              },
              "btmRightPoint": {
                "lat": 37.71187,
                "lon": -122.39953
              }
            },
            "entryPoints": [
              {
                "type": "main",
                "position": {
                  "lat": 37.71276,
                  "lon": -122.40086
                }
              }
            ],
            "dataSources": {
              "poiDetails": [
                {
                  "id": "Rm91cnNxdWFyZTo1NTA0ODE3MjQ5OGU3MTAzNzQyODI3YjY=",
                  "sourceName": "Foursquare"
                }
              ]
            }
          },
          {
            "type": "POI",
            "id": "158009002043399",
            "score": 2.1455750465,
            "info": "search:ta:158009002043399-TW",
            "poi": {
              "name": "Seven Tea House",
              "phone": "\u002B886 2 2766 7373",
              "categorySet": [
                {
                  "id": 9376005
                }
              ],
              "url": "www.7teahouse.com",
              "categories": [
                "caf\u00E9/pub",
                "tea house"
              ],
              "classifications": [
                {
                  "code": "CAFE_PUB",
                  "names": [
                    {
                      "nameLocale": "en-US",
                      "name": "caf\u00E9/pub"
                    },
                    {
                      "nameLocale": "en-US",
                      "name": "tea house"
     [...]
