{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/geometry/json?api-version=1.0\u0026query=coffee",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-client-id": "a1ee513d-a824-4693-a430-e997b5d25172"
      },
      "RequestBody": {
        "geometry": {
          "coordinates": [
            [
              [
                -122.43576049804686,
                37.7524152343544
              ],
              [
                -122.4330139159,
                37.70660472542312
              ],
              [
                -122.36434936523438,
                37.712059855877314
              ],
              [
                -122.43576049804686,
                37.7524152343544
              ]
            ]
          ],
          "type": "Polygon"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "query": "coffee",
          "queryType": "NON_NEAR",
          "queryTime": 9,
          "numResults": 10,
          "offset": 0,
          "totalResults": 64,
          "fuzzyLevel": 1
        },
        "results": [
          {
            "type": "POI",
            "id": "840069001883543",
            "score": 2.145586729,
            "info": "search:ta:840069001883543-US",
            "poi": {
              "name": "Cafe\u0027 Montechristo",
              "phone": "\u002B1 415-334-2326",
              "categorySet": [
                {
                  "id": 9376002
                }
              ],
              "categories": [
                "caf\u00E9",
                "caf\u00E9/pub"
              ],
              "classifications": [
                {
                  "code": "CAFE_PUB",
                  "names": [
                    {
                      "nameLocale": "en-US",
                      "name": "caf\u00E9/pub"
                    },
                    {
                      "nameLocale": "en-US",
                      "name": "caf\u00E9"
                    }
                  ]
                }
              ]
            },
            "address": {
              "streetNumber": "2101",
              "streetName": "Geneva Avenue",
              "municipalitySubdivision": "Visitacion Valley",
              "municipality": "San Francisco",
              "countrySecondarySubdivision": "San Francisco",
              "countrySubdivision": "CA",
              "countrySubdivisionName": "California",
              "postalCode": "94134",
              "extendedPostalCode": "94134-3118",
              "countryCode": "US",
              "country": "United States",
              "countryCodeISO3": "USA",
              "freeformAddress": "2101 Geneva Avenue, San Francisco, CA 94134",
              "localName": "San Francisco"
            },
            "position": {
              "lat": 37.70877,
              "lon": -122.42068
            },
            "viewport": {
              "topLeftPoint": {
                "lat": 37.70967,
                "lon": -122.42182
              },
              "btmRightPoint": {
                "lat": 37.70787,
                "lon": -122.41954
              }
            },
            "entryPoints": [
              {
                "type": "main",
                "position": {
                  "lat": 37.70851,
                  "lon": -122.42075
                }
              }
            ]
          },
          {
            "type": "POI",
            "id": "840069020982288",
            "score": 2.1455702782,
            "info": "search:ta:840069020982288-US",
            "poi": {
              "name": "La Cafeto Coffee Shop",
              "categorySet": [
                {
       [...]
