{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/alongRoute/json?api-version=1.0\u0026query=park\u0026maxDetourTime=1000",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-client-id": "6a782b5b-631c-450d-9aa4-e561679d0d28"
      },
      "RequestBody": {
        "route": {
          "coordinates": [
            [
              121.03684902191162,
              24.809729582963467
            ],
            [
              121.03638768196106,
              24.808979706076794
            ],
            [
              121.03898406028748,
              24.808083743328694
            ],
            [
              121.03933811187744,
              24.808940751309397
            ],
            [
              121.03684902191162,
              24.809729582963467
            ]
          ],
          "type": "LineString"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "query": "park",
          "queryType": "NON_NEAR",
          "queryTime": 116,
          "numResults": 10,
          "offset": 0,
          "totalResults": 10,
          "fuzzyLevel": 1
        },
        "results": [
          {
            "type": "POI",
            "id": "g6JpZK8xNTgwMDkwMDIwMjA1OTmhY6NUV06hdqdVbmlmaWVk",
            "score": 2.9973676205,
            "dist": 245.21981803194754,
            "info": "search:ta:158009002020599-TW",
            "poi": {
              "name": "\u6C34\u5733\u516C\u5712",
              "categorySet": [
                {
                  "id": 9362008
                }
              ],
              "categories": [
                "park",
                "park recreation area"
              ],
              "classifications": [
                {
                  "code": "PARK_RECREATION_AREA",
                  "names": [
                    {
                      "nameLocale": "en-US",
                      "name": "park recreation area"
                    },
                    {
                      "nameLocale": "en-US",
                      "name": "park"
                    }
                  ]
                }
              ]
            },
            "address": {
              "streetName": "\u5FA9\u8208\u4E8C\u8DEF",
              "municipalitySubdivision": "\u7AF9\u5317\u5E02",
              "municipality": "\u65B0\u7AF9\u7E23",
              "countrySubdivision": "\u53F0\u7063",
              "postalCode": "302",
              "extendedPostalCode": "30271",
              "countryCode": "TW",
              "country": "\u53F0\u7063",
              "countryCodeISO3": "TWN",
              "freeformAddress": "\u5FA9\u8208\u4E8C\u8DEF, \u7AF9\u5317\u5E02, \u65B0\u7AF9\u7E23 30271",
              "localName": "\u7AF9\u5317\u5E02"
            },
            "position": {
              "lat": 24.81076,
              "lon": 121.0349
            },
            "viewport": {
              "topLeftPoint": {
                "lat": 24.81166,
                "lon": 121.03391
              },
              "btmRightPoint": {
                "lat": 24.80986,
                "lon": 121.03589
              }
            },
            "entryPoints": [
              {
                "type": "main",
                "position": {
                  "lat": 24.81086,
                  "lon": 121.03497
                }
              }
            ],
            "dataSources": {
              "poiDetails": [
                {
                  "id": "Rm91cnNxdWFyZTo0ZDZiMjVjODYxMDdmMDRkZDVkNDJiN2E=",
                  "sourceName": "Foursquare"
                }
              ]
            },
            "detourTime": -93,
            "detourDistance": 673
          },
          {
            "type": "POI",
            "id": "g6JpZK8xNTgwMDkwMDMxNTU1ODChY6NUV06hdqdVbmlmaWVk",
            "score": 2.9965052605,
            "dist": 453.3501266656622,
            "info": "search:ev:158009003155580",
            "poi": {
              "name": "\u5104\u5BB6\u5177\u6279\u767C\u5009\u5EAB\u65B0\u7AF9",
              "phone": "\u002B886 3 657 8646",
              "categorySet": [
                {
                  "id": 7309
                }
              ],
              "categories": [
                "electric vehicle station"
              ],
              "classifications": [
                {
                  "code": "ELECTRIC_VEHICLE_STATION",
                  "names": [
                    {
                      "nameLocale": "en-US",
                      "name": "electric vehicle station"
            [...]
