{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/geometry/json?api-version=1.0\u0026query=",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-client-id": "a1ee513d-a824-4693-a430-e997b5d25172"
      },
      "RequestBody": {
        "geometry": {
          "coordinates": [
            [
              [
                -122.43576049804686,
                37.7524152343544
              ],
              [
                -122.43301391601562,
                37.70660472542312
              ],
              [
                -122.36434936523438,
                37.712059855877314
              ],
              [
                -122.43576049804686,
                37.7524152343544
              ]
            ]
          ],
          "type": "Polygon"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "400 BadRequest",
          "message": "query is missing or empty"
        }
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "a1ee513d-a824-4693-a430-e997b5d25172",
    "ENDPOINT_URL": "https://atlas.microsoft.com",
    "RandomSeed": "1259901244"
  }
}
