{
  "Entries": [
    {
      "RequestUri": "/%2Fsubscriptions%2F487bb485-b5b0-471e-9c0d-10717612f869%2FresourceGroups%2FDefaultResourceGroup-CUS%2Fproviders%2FMicrosoft.Storage%2FstorageAccounts%2Fsamplestorageaccount2/providers/Microsoft.Security/advancedThreatProtectionSettings/current?api-version=2017-08-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"isEnabled\": true\r\n  },\r\n  \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.Storage/storageAccounts/samplestorageaccount2/providers/Microsoft.Security/advancedThreatProtectionSettings/current\",\r\n  \"name\": \"current\",\r\n  \"type\": \"Microsoft.Security/advancedThreatProtectionSettings\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "487bb485-b5b0-471e-9c0d-10717612f869"
  }
}