{
  "Entries": [
    {
      "RequestUri": "//subscriptions/7e5c35c3-c2d0-43c7-ab12-2528b6b8dada/resourceGroups/NetSdkTests/providers/Microsoft.Storage/storageAccounts/netsdkstorage/providers/Microsoft.Security/advancedThreatProtectionSettings/current?api-version=2019-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"isEnabled\": true\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "4999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"isEnabled\": true\r\n  },\r\n  \"id\": \"/subscriptions/7e5c35c3-c2d0-43c7-ab12-2528b6b8dada/resourceGroups/NetSdkTests/providers/Microsoft.Storage/storageAccounts/netsdkstorage/providers/Microsoft.Security/advancedThreatProtectionSettings/current\",\r\n  \"name\": \"current\",\r\n  \"type\": \"Microsoft.Security/advancedThreatProtectionSettings\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}