{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.Authorization/roleDefinitions?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-05-01-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleName\": \"Kona Custom Operator\",\r\n        \"type\": \"CustomRole\",\r\n        \"description\": \"Test for custom role RBAC\",\r\n        \"scope\": null,\r\n        \"assignableScopes\": [\r\n          \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/\"\r\n        ],\r\n        \"permissions\": [\r\n          {\r\n            \"actions\": [\r\n              \"Microsoft.Kona/KonaAccounts/read\",\r\n              \"Microsoft.Kona/KonaAccounts/write\",\r\n              \"Microsoft.DataLake/DataLakeAccounts/read\"\r\n            ],\r\n            \"notActions\": [\r\n              \"Microsoft.Kona/KonaAccounts/delete\"\r\n            ]\r\n          }\r\n        ],\r\n        \"createdOn\": \"2015-08-19T09:23:32.3597288Z\",\r\n        \"updatedOn\": \"2015-08-20T03:09:07.9059236Z\",\r\n        \"createdBy\": \"353f35f8-e1c3-461c-8314-5650973a5ec7\",\r\n        \"updatedBy\": \"353f35f8-e1c3-461c-8314-5650973a5ec7\"\r\n      },\r\n      \"id\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.Authorization/roleDefinitions/0353d26d-e338-469a-a87a-bd3507471155\",\r\n      \"type\": \"Microsoft.Authorization/roleDefinitions\",\r\n      \"name\": \"0353d26d-e338-469a-a87a-bd3507471155\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"roleName\": \"API Management Service Contributor\",\r\n        \"type\": \"BuiltInRole\",\r\n        \"description\": \"Lets you manage API Management services, but not access to them.\",\r\n        \"scope\": null,\r\n        \"assignableScopes\": [\r\n          \"/\"\r\n        ],\r\n        \"permissions\": [\r\n          {\r\n            \"actions\": [\r\n              \"Microsoft.ApiManageme[...]
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.Authorization/roleDefinitions/0353d26d-e338-469a-a87a-bd3507471155?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-05-01-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"roleName\": \"Kona Custom Operator\",\r\n    \"type\": \"CustomRole\",\r\n    \"descrip[...]
    {
      "RequestUri": "//subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.Authorization/roleDefinitions/0353d26d-e338-469a-a87a-bd3507471155?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-05-01-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"roleName\": \"Kona Custom Operator\",\r\n    \"type\": \"CustomRole\",\r\n    \"descri[...]
[...]
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-05-01-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"roleName\": \"Contributor\",\r\n    \"type\": \"BuiltInRole\",\r\n    \"description\": \"Lets you manage everything except access to resources.\",\r\n    \"scope\": null,\r\n    \"assignableScopes\": [\r\n      \"/\"\r\n    ],\r\n    \"permissions\": [\r\n      {\r\n        \"actions\": [\r\n          \"*\"\r\n        ],\r\n        \"notActions\": [\r\n          \"Microsoft.Authorization/*/Write\",\r\n          \"Microsoft.Authorization/*/Delete\"\r\n        ]\r\n      }\r\n    ],\r\n    \"createdOn\": \"0001-01-01T00:00:00\",\r\n    \"updatedOn\": \"0001-01-01T00:00:00\",\r\n    \"createdBy\": null,\r\n    \"updatedBy\": null\r\n  },\r\n  \"id\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\r\n  \"type\": \"Microsoft.Authorization/roleDefinitions\",\r\n  \"name\": \"b24988ac-6180-42a0-ab88-20f7382dd24c\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-gateway-service-instanceid": [
          "PASFE_IN_3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14606"
        ]
      },
      "StatusCode": 200
    },
[...]
