{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.Authorization/roleDefinitions?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-05-01-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleName\": \"Kona Custom Operator\",\r\n        \"type\": \"CustomRole\",\r\n        \"description\": \"Test for custom role RBAC\",\r\n        \"scope\": null,\r\n        \"assignableScopes\": [\r\n          \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/\"\r\n        ],\r\n        \"permissions\": [\r\n          {\r\n            \"actions\": [\r\n              \"Microsoft.Kona/KonaAccounts/read\",\r\n              \"Microsoft.Kona/KonaAccounts/write\",\r\n              \"Microsoft.DataLake/DataLakeAccounts/read\"\r\n            ],\r\n            \"notActions\": [\r\n              \"Microsoft.Kona/KonaAccounts/delete\"\r\n            ]\r\n          }\r\n        ],\r\n        \"createdOn\": \"2015-08-19T09:23:32.3597288Z\",\r\n        \"updatedOn\": \"2015-08-20T03:09:07.9059236Z\",\r\n        \"createdBy\": \"353f35f8-e1c3-461c-8314-5650973a5ec7\",\r\n        \"updatedBy\": \"353f35f8-e1c3-461c-8314-5650973a5ec7\"\r\n      },\r\n      \"id\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.Authorization/roleDefinitions/0353d26d-e338-469a-a87a-bd3507471155\",\r\n      \"type\": \"Microsoft.Authorization/roleDefinitions\",\r\n      \"name\": \"0353d26d-e338-469a-a87a-bd3507471155\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"roleName\": \"API Management Service Contributor\",\r\n        \"type\": \"BuiltInRole\",\r\n        \"description\": \"Lets you manage API Management services, but not access to them.\",\r\n        \"scope\": null,\r\n        \"assignableScopes\": [\r\n          \"/\"\r\n        ],\r\n        \"permissions\": [\r\n          {\r\n            \"actions\": [\r\n              \"Microsoft.ApiManageme[...]
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.Authorization/roleAssignments/ccfd319a-4340-47df-b3aa-3bbc66596842?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.Authorization/roleDefinitions/0353d26d-e338-469a-a87a-bd3507471155\",\r\n    \"principalId\": \"65cb2e72-1be0-4c51-891c-bd8f3b7c7b0e\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.Authorization/roleDefinitions/0353d26d-e338-469a-a87a-bd3507471155\",\r\n    \"principalId\": \"65cb2e72-1be0-4c51-891c-bd8f3b7c7b0e\",\r\n    \"scope\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155\",\r\n    \"createdOn\": \"2015-10-21T20:26:43.2950898Z\",\r\n    \"updatedOn\": \"2015-10-21T20:26:43.2950898Z\",\r\n    \"createdBy\": null,\r\n    \"updatedBy\": \"353f35f8-e1c3-461c-8314-5650973a5ec7\"\r\n  },\r\n  \"id\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.Authorization/roleAssignments/ccfd319a-4340-47df-b3aa-3bbc66596842\",\r\n  \"type\": \"Microsoft.Authorization/roleAssignments\",\r\n  \"name\": \"ccfd319a-4340-47df-b3aa-3bbc66596842\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-gateway-service-instanceid": [
          "PASFE_IN_0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1167"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20'5006b4e7-cf16-4db7-9142-0cf7f372dfd3'&api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-05-01-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleDefinitionId\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.Authorization/roleDefinitions/0353d26d-e338-469a-a87a-bd3507471155\",\r\n        \"principalId\": \"5006b4e7-cf16-4db7-9142-0cf7f372dfd3\",\r\n        \"scope\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155\",\r\n        \"createdOn\": \"2015-10-21T20:26:44.0790374Z\",\r\n        \"updatedOn\": \"2015-10-21T20:26:44.0790374Z\",\r\n        \"createdBy\": \"353f35f8-e1c3-461c-8314-5650973a5ec7\",\r\n        \"updatedBy\": \"353f35f8-e1c3-461c-8314-5650973a5ec7\"\r\n      },\r\n      \"id\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.Authorization/roleAssignments/dcf57240-9eeb-4b0f-b92b-3ad36ba9c00c\",\r\n      \"type\": \"Microsoft.Authorization/roleAssignments\",\r\n      \"name\": \"dcf57240-9eeb-4b0f-b92b-3ad36ba9c00c\"\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-gateway-service-instanceid": [
          "PASFE_IN_0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14789"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0353d26d-e338-469a-a87a-bd3507471155",
    "AssignmentName_0": "ccfd319a-4340-47df-b3aa-3bbc66596842",
    "AssignmentName_1": "dcf57240-9eeb-4b0f-b92b-3ad36ba9c00c",
    "AssignmentName_2": "1e2f0a11-501e-4426-8cb9-bbce93736026",
    "AssignmentName_3": "0d715108-ca6d-42c3-9d7e-ba577b703800",
    "AssignmentName_4": "ba17825d-d899-4e2a-8744-b36e5ebf7875",
    "AssignmentName_5": "8f23e1fe-5ca3-4a74-8cea-4fadc89a505b",
    "AssignmentName_6": "1dea8c69-17d6-429d-aabd-18255f6d0cee",
    "AssignmentName_7": "95af0b99-14e0-43b6-960a-53940127edd4",
    "AssignmentName_8": "d8354ab9-39d6-48a8-a622-7b1ab81830e5",
    "AssignmentName_9": "4382fdf3-eb7e-4f80-a851-7fbb878bfaf0"
  }
}