{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/phonenumbers?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ESknZ9n5TEGmoHN/bhXbLw.0",
        "X-Processing-Time": "523ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "phoneNumber": "Sanitized",
            "acquiredCapabilities": [
              "Azure",
              "InboundCalling",
              "UserAssignment",
              "Geographic",
              "OutboundCalling"
            ],
            "availableCapabilities": [
              "UserAssignment",
              "Geographic",
              "Azure",
              "Office365",
              "InboundCalling",
              "OutboundCalling"
            ],
            "assignmentStatus": "Unassigned",
            "placeName": "Birmingham, United States",
            "activationState": "Activated"
          },
          {
            "phoneNumber": "Sanitized",
            "acquiredCapabilities": [
              "Azure",
              "ThirdPartyAppAssignment",
              "OutboundCalling",
              "TollFree"
            ],
            "availableCapabilities": [
              "Azure",
              "Office365",
              "InboundCalling",
              "OutboundCalling",
              "ThirdPartyAppAssignment",
              "ConferenceAssignment",
              [...]
