{
  "Entries": [
    {
      "RequestUri": "https://chitchat-test.communication.azure.com/administration/phonenumbers/countries?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "bYOKqLsmyU6tODAoWo\u002B8OQ.0",
        "X-Processing-Time": "1560ms"
      },
      "ResponseBody": {
        "countries": [
          {
            "localizedName": "United States",
            "countryCode": "US"
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chitchat-test.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1074755107"
  }
}