{
  "Entries": [
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/pipelines/Pipeline1530456393?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspaceywlive.dev.azuresynapse.net/operationResults/62dd5443-beb7-4042-ab51-15d9ece73e03?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/rg-ywlive/providers/Microsoft.Synapse/workspaces/workspaceywlive/pipelines/Pipeline1530456393",
        "recordId": 459905,
        "state": "Updating",
        "created": "2020-09-23T08:27:24.69Z",
        "changed": "2020-09-23T08:27:26.6133333Z",
        "type": "Pipeline",
        "name": "Pipeline1530456393",
        "operationId": "62dd5443-beb7-4042-ab51-15d9ece73e03",
        "artifactId": "7D79880E-0CBF-4E53-BEC8-6B4B21BEF30D"
      }
    },
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/operationResults/62dd5443-beb7-4042-ab51-15d9ece73e03?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspaceywlive.dev.azuresynapse.net/operationResults/62dd5443-beb7-4042-ab51-15d9ece73e03?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/operationResults/62dd5443-beb7-4042-ab51-15d9ece73e03?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/rg-ywlive/providers/Microsoft.Synapse/workspaces/workspaceywlive/pipelines/Pipeline1530456393",
        "name": "Pipeline1530456393",
        "type": "Microsoft.Synapse/workspaces/pipelines",
        "properties": {
          "lastPublishTime": "2020-09-23T08:57:46Z"
        },
        "etag": "77003467-0000-0800-0000-5f6b0e0a0000"
      }
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspaceywlive.dev.azuresynapse.net",
    "RandomSeed": "1777657858"
  }
}