{
  "Entries": [
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/pipelines/MyPipeline?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/82d19dc5-ba32-4c67-8bfc-cf02ed1fea1a?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/pipelines/MyPipeline",
        "recordId": 212209,
        "state": "Creating",
        "created": "2020-08-26T02:06:43.4466667Z",
        "changed": "2020-08-26T02:06:43.4466667Z",
        "type": "Pipeline",
        "name": "MyPipeline",
        "operationId": "82d19dc5-ba32-4c67-8bfc-cf02ed1fea1a"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/82d19dc5-ba32-4c67-8bfc-cf02ed1fea1a?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/82d19dc5-ba32-4c67-8bfc-cf02ed1fea1a?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/82d19dc5-ba32-4c67-8bfc-cf02ed1fea1a?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/pipelines/MyPipeline",
        "name": "MyPipeline",
        "type": "Microsoft.Synapse/workspaces/pipelines",
        "properties": {
          "lastPublishTime": "2020-08-26T02:06:44Z"
        },
        "etag": "05002091-0000-0100-0000-5f45c3b40000"
      }
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://testsynapseworkspace.dev.azuresynapse.net",
    "RandomSeed": "97481401"
  }
}