{
  "Entries": [
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/pipelines/Pipeline22452398?api-version=2020-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/adac5d90-c14e-4693-8ee7-2d8d8599b347?api-version=2020-12-01",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/pipelines/Pipeline22452398",
        "recordId": 2424394,
        "state": "Creating",
        "created": "2021-09-30T06:19:39.1533333Z",
        "changed": "2021-09-30T06:19:39.1533333Z",
        "type": "Pipeline",
        "name": "Pipeline22452398",
        "operationId": "adac5d90-c14e-4693-8ee7-2d8d8599b347",
        "artifactId": "4F743B43-F50E-40B3-8261-B211DDB810B5"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/adac5d90-c14e-4693-8ee7-2d8d8599b347?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/adac5d90-c14e-4693-8ee7-2d8d8599b347?api-version=2020-12-01",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/adac5d90-c14e-4693-8ee7-2d8d8599b347?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/pipelines/Pipeline22452398",
        "name": "Pipeline22452398",
        "type": "Microsoft.Synapse/workspaces/pipelines",
        "properties": {
          "lastPublishTime": "2021-09-30T06:19:40Z"
        },
        "etag": "2e006e80-0000-0100-0000-615556fc0000"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/pipelines/Pipeline22452398/createRun?api-version=2020-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "runId": "4677a26e-0866-9224-6c60-2bf165c5a6c4"
      }
    },
[...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/operationResults/f00869ba-f59d-452e-8972-e56ea532dd24?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://testsynapseworkspace.dev.azuresynapse.net",
    "RandomSeed": "1496319922"
  }
}