{
  "Entries": [
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/gateways/rameshr12?api-version=2016-07-01-preview&$expand=status",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/gateways/rameshr12\",\r\n  \"name\": \"rameshr12\",\r\n  \"type\": \"microsoft.servermanagement/gateways\",\r\n  \"location\": \"centralus\",\r\n  \"etag\": \"W/\\\"datetime'2016-10-14T01%3A13%3A59.8545155Z'\\\"\",\r\n  \"properties\": {\r\n    \"created\": \"2016-10-14T01:13:56.0773541Z\",\r\n    \"updated\": \"2016-10-14T01:13:56.0773541Z\",\r\n    \"autoUpgrade\": \"On\",\r\n    \"upgradeMode\": \"Automatic\",\r\n    \"desiredVersion\": null,\r\n    \"minimumVersion\": \"1.0.1547.0\",\r\n    \"instances\": [\r\n      {\r\n        \"availableMemoryMByte\": 23633.0,\r\n        \"gatewayWorkingSetMByte\": 120.086525,\r\n        \"totalCpuUtilizationPercent\": 5.313473,\r\n        \"gatewayCpuUtilizationPercent\": 1.14499533,\r\n        \"gatewayVersion\": \"1.0.1773.0\",\r\n        \"friendlyOsName\": \"Microsoft Windows 10 Enterprise\",\r\n        \"installedDate\": \"2016-10-07T19:19:00Z\",\r\n        \"logicalProcessorCount\": 12,\r\n        \"name\": \"RAMESHR12\",\r\n        \"gatewayId\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/gateways/rameshr12\",\r\n        \"allowGatewayGroupPolicyStatus\": true,\r\n        \"requireMfaGroupPolicyStatus\": false,\r\n        \"encryptionCertificateThumbprint\": \"69A20C48806D128935AD614A1C5A68769B6BAF99\",\r\n        \"secondaryEncryptionCertificateThumbprint\": null,\r\n        \"encryptionJwk\": {\r\n          \"kty\": \"RSA\",\r\n          \"alg\": \"RSA-OAEP\",\r\n          \"e\": \"AQAB\",\r\n          \"n\": \"uqGwd2gWUuu_G-OGAkujW6JSPth7nxT_LEO4TJkrCx4mLxOvlYPHyCf9I6eN9shI2GfFlMxGo-A6hoeoI_T2d29I6oCONLbqVoF0cl4mI7PEZ_sverUpOWN8vvwZMXtM9dBuhmqDmu_ZqY8DET4pf4e3nolbyXxdUmZDCMJBj_FPHin2cbaCJlS-EH9bXJlmA2aSFchoBorf2r0iACNYm_TIerS9tQ2TSWYseUtQ36h0DOKbaB9xD9rZv_JxeWtI2O0zEM3m622AbDsirtXb8eu6aNe_5EH5gbPTxSBJtuuRoyJjuqKsGaLtph0_-VBM6FvJXQOQSyKctujqkkGHlQ\"\r\n        },\r\n        \"secondaryEncryptionJwk\": null,\r\n        \"upgradeMode\": \"Automatic\",\r\n        \"groupPolicyError\": \"\",\r\n        \"statusUpdated\": \"2016-10-21T20:49:59Z\"\r\n      }\r\n    ],\r\n    \"activeMessageCount\": 0,\r\n    \"latestPublishedMsiVersion\": \"1.0.1645.0\",\r\n    \"publishedTimeUtc\": \"2016-09-12T17:52:47Z\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-managementservice-fileversion": [
          "1.0.1691.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14965"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12?api-version=2016-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"gatewayId\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/gateways/rameshr12\",\r\n    \"connectionName\": \"rameshr12\",\r\n    \"userName\": \"\",\r\n    \"password\": \"\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/nodes/rameshr12\",\r\n  \"name\": \"rameshr12\",\r\n  \"type\": \"microsoft.servermanagement/nodes\",\r\n  \"location\": \"centralus\",\r\n  \"etag\": \"W/\\\"datetime'2016-10-21T20%3A50%3A34.5405327Z'\\\"\",\r\n  \"properties\": {\r\n    \"gatewayId\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/gateways/rameshr12\",\r\n    \"connectionName\": \"rameshr12\",\r\n    \"created\": \"2016-10-21T20:50:33.6509772Z\",\r\n    \"updated\": \"2016-10-21T20:50:33.6509772Z\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-managementservice-fileversion": [
          "1.0.1691.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/64e5ee90-2bad-45db-8acb-9d0702f340dc?api-version=2016-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"userName\": \"VaDFQUqkwH4/9qIJxgKJBKJSl58/5oVh913CvtIJLod/ACkX+m8Nz3KMaH76zRh7wxz7lleVc5a70gbapVOWBMWPKbgfHjqh+6VX0dj4tuLRYvwS7KPjl7C/2DM+S/cJ5jxUaSdu+nYMZBF9fCis9keQdsfb5/Nc/W7mT8oQhIV2XZXVLu/FtdJZwooH1TzwlyfK+lpqzF7zEDPlHzYn/eP7d/iyNWl+1DKLchvgUYMt6I8cquuVzyVdevCH5Er9WWXihD2k/jtEduQcOvuCi4//qMTku2qIQDjpv6sUjOuQJlVHoUHGNowYddW3gly+HguLOJH5hsZy8BlwdEv8PA==\",\r\n    \"password\": \"bryY5mnRWHWR8Pkc0WAE6ShVUjlvobM3A8W5awBmceVQkb98Iatyv4mf2/og5sfUpRUriDgXXWvjqDJq3o4j/Rgz8/hD38iPQ1c1+ptyK+QH6/1LOYrfVJ4g5q3UFVNDjM4zS/6dA3MtMYAwat/ZuPHpKi/88K/Xs311dnDPvMkK5AiCZqGGUn/bQWiQmGu+KdmfCBM3Nb0673MEl/Zl+BgSL5oAle8SxROS8hTRh2Fy4yMvsf7AtblUMMaGmH8zx0Lzm/0IBd+HIRMTLX0cLcFD/H+o30x34mU6ik4kbyoxJDjxJJ+O57s89zLLHOm0x3ZdOczsNxItf4dOV0l8Og==\",\r\n    \"retentionPeriod\": \"Session\",\r\n    \"credentialDataFormat\": \"RsaEncrypted\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/nodes/rameshr12/sessions/64e5ee90-2bad-45db-8acb-9d0702f340dc\",\r\n  \"name\": \"64e5ee90-2bad-45db-8acb-9d0702f340dc\",\r\n  \"type\": \"microsoft.servermanagement/nodes/sessions\",\r\n  \"properties\": {\r\n    \"retentionPeriod\": \"session\",\r\n    \"created\": \"2016-10-21T20:50:34.4179547Z\",\r\n    \"updated\": \"2016-10-21T20:50:34.4179547Z\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-managementservice-fileversion": [
          "1.0.1691.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes?api-version=2016-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/nodes/rameshr12\",\r\n      \"name\": \"rameshr12\",\r\n      \"type\": \"microsoft.servermanagement/nodes\",\r\n      \"location\": \"centralus\",\r\n      \"etag\": \"W/\\\"datetime'2016-10-21T20%3A50%3A34.5405327Z'\\\"\",\r\n      \"properties\": {\r\n        \"gatewayId\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/gateways/rameshr12\",\r\n        \"connectionName\": \"rameshr12\",\r\n        \"created\": \"2016-10-21T20:50:33.6509772Z\",\r\n        \"updated\": \"2016-10-21T20:50:33.6509772Z\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-managementservice-fileversion": [
          "1.0.1691.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14962"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12?api-version=2016-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-managementservice-fileversion": [
          "1.0.1691.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "a01fbab8-1714-4f94-8b67-40d7827a5efd",
    "SMT_SESSION_ID_2": "64e5ee90-2bad-45db-8acb-9d0702f340dc",
    "SMT_GATEWAY_2": "rameshr12"
  }
}