{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipCleanup": "true"
        },
        "subscriptionId": "49d64d54-e966-4c46-a868-1999802b762c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Az WaaS Test 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/eastus2/sapVirtualInstanceMetadata/default/getAvailabilityZoneDetails?api-version=2022-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "appLocation": "eastus2",
        "sapProduct": "S4HANA",
        "databaseType": "HANA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "07be3924-bc83-44fe-9ce9-9fba7c7800b3",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "availabilityZonePairs": [
          {
            "zoneA": 2,
            "zoneB": 3
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/eastus2/sapVirtualInstanceMetadata/default/getDiskConfigurations?api-version=2022-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "appLocation": "eastus2",
        "environment": "NonProd",
        "sapProduct": "S4HANA",
        "databaseType": "HANA",
        "deploymentType": "ThreeTier",
        "dbVmSku": "Standard_M32ts"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "daa2cd7a-06b7-4b4a-84fb-1361bbd5e348",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "volumeConfigurations": {
          "hana/data": {
            "recommendedConfiguration": {
              "count": 4,
              "sizeGB": 128,
              "sku": {
                "name": "Premium_LRS"
              }
            },
            "supportedConfigurations": [
              {
                "sku": {
                  "name": "Premium_LRS"
                },
                "sizeGB": 128,
                "minimumSupportedDiskCount": 4,
                "maximumSupportedDiskCount": 5,
                "iopsReadWrite": 500,
                "mbpsReadWrite": 100,
                "diskTier": "P10"
              }
            ]
          },
          "hana/log": {
            "recommendedConfiguration": {
              "count": 3,
              "sizeGB": 128,
              "sku": {
                "name": "Premium_LRS"
              }
            },
            "supportedConfigurations": [
              {
                "sku": {
                  "name": "Premium_LRS"
                },
                "sizeGB": 128,
                "minimumSupportedDiskCount": 3,
                "[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/eastus2/sapVirtualInstanceMetadata/default/getSapSupportedSku?api-version=2022-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "appLocation": "eastus2",
        "environment": "Prod",
        "sapProduct": "S4HANA",
        "deploymentType": "ThreeTier",
        "databaseType": "HANA",
        "highAvailabilityType": "AvailabilitySet"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9a347979-30c0-4b5c-b999-a8539665d362",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "supportedSkus": [
          {
            "isAppServerCertified": true,
            "isDatabaseCertified": false,
            "vmSku": "Standard_D16ds_v4"
          },
          {
            "isAppServerCertified": true,
            "isDatabaseCertified": false,
            "vmSku": "Standard_D16ds_v5"
          },
          {
            "isAppServerCertified": true,
            "isDatabaseCertified": false,
            "vmSku": "Standard_D32ds_v4"
          },
          {
            "isAppServerCertified": true,
            "isDatabaseCertified": false,
            "vmSku": "Standard_D32ds_v5"
          },
          {
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/eastus2/sapVirtualInstanceMetadata/default/getSizingRecommendations?api-version=2022-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "appLocation": "eastus2",
        "environment": "Prod",
        "sapProduct": "S4HANA",
        "deploymentType": "ThreeTier",
        "saps": 23622,
        "dbMemory": 1024,
        "databaseType": "HANA",
        "dbScaleMethod": "ScaleUp",
        "highAvailabilityType": "AvailabilitySet"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "aa10d306-c52b-480c-a16a-33114b276779",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "applicationServerVmSku": "Standard_E8ds_v4",
        "applicationServerInstanceCount": 2,
        "centralServerVmSku": "Standard_E4ds_v4",
        "centralServerInstanceCount": 2,
        "dbVmSku": "Standard_M64ms",
        "databaseInstanceCount": 2,
        "deploymentType": "ThreeTier"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "868236797",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "49d64d54-e966-4c46-a868-1999802b762c"
  }
}
