{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dfc4e732-f03e-0714-ab5d-4f98351c5e24?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 20 Jan 2022 20:43:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC5594226245\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:43:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dfc4e732-f03e-0714-ab5d-4f98351c5e24/test-blob-13d04ff9-f3ba-a9a1-a793-acbd9789d950",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 20 Jan 2022 20:43:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55942BC3D1\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:43:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-01-20T20:43:56.5872860Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dfc4e732-f03e-0714-ab5d-4f98351c5e24/test-blob-13d04ff9-f3ba-a9a1-a793-acbd9789d950?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9DC55942BC3D1\u0022",
        "x-ms-date": "Thu, 20 Jan 2022 20:43:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "Y3Z0qurdT\u002B1KJEo8ERKcMUgBkd6K5h4x6ofZQUMn2bclJsgdjI1rHP/iyJWoZJiU9nt0lvj6xX1YQ8BjBA6qI0uTF\u002BpKfqS6lXTfqB2IiIXuRErHskO\u002BKmFLxUnNCBfxN6VKFEyuSnjXuQCDGxxfz7o6dL/D43AI1OyJ/rha7Y1c7nF4PnM4QPnS7/hCOg9E7PWPk5RYLVM0Qj9gJEy/fMxzJi2r5pFGATPG8fN3xZrcRBHDy1r5BMAdQ/sz2BytE3IszhPimQVjSJFgkTxgvHylg986/LFxeiFsjaOVEikXGN2AS/eG\u002BqsMX4PImHKEvYZ/jlQ8chfBulTxdgthzjVoSHle33GEH4k0LZwuqeGv588dFYTV26XGv5CjlISfqpFNYE/5Jt4U\u002B27KB0V6kxFyQo47RLiwkm3Tlx/g4YsFlIML4EiStcHxCBoWCtNgTCx/MFH1Y2XYnc3iJo6\u002BNBnjxXLBbrPJ4I3NSjydmYiZckvzYbA5DzEdMkJ6r48yM9QBM0Vgn915tlDDKBkoOwNFSbNDy9JoqbVBozxwTjD\u002Bmhdom2ZDONNteqtgdecX9Pc\u002BNWbb7mcBmYqPH/uhCGcgxY0CwJ\u002BdAhDf1VAnCDPOKa9EMRnKIqyvZgLbsxnYzHFDP7BZFTRYoTNV/BkW2pBXwfVMXNZOVqPhU1mcwU4=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC559442A3E3\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:43:56 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "9rYK4Z0GwIA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dfc4e732-f03e-0714-ab5d-4f98351c5e24/test-blob-13d04ff9-f3ba-a9a1-a793-acbd9789d950",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:43:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9DC55945AE350\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:43:56 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 20 Jan 2022 20:43:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-01-20T20:43:56.5872860Z"
      },
      "ResponseBody": "Y3Z0qurdT\u002B1KJEo8ERKcMUgBkd6K5h4x6ofZQUMn2bclJsgdjI1rHP/iyJWoZJiU9nt0lvj6xX1YQ8BjBA6qI0uTF\u002BpKfqS6lXTfqB2IiIXuRErHskO\u002BKmFLxUnNCBfxN6VKFEyuSnjXuQCDGxxfz7o6dL/D43AI1OyJ/rha7Y1c7nF4PnM4QPnS7/hCOg9E7PWPk5RYLVM0Qj9gJEy/fMxzJi2r5pFGATPG8fN3xZrcRBHDy1r5BMAdQ/sz2BytE3IszhPimQVjSJFgkTxgvHylg986/LFxeiFsjaOVEikXGN2AS/eG\u002BqsMX4PImHKEvYZ/jlQ8chfBulTxdgthzjV[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dfc4e732-f03e-0714-ab5d-4f98351c5e24?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:43:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1441649671",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}