{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c72e5d5e-a0c0-6130-05d5-113e13f54403?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 20 Jan 2022 20:43:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC559029AA39\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:43:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c72e5d5e-a0c0-6130-05d5-113e13f54403/test-blob-de64c04a-7727-fde6-81d7-14bcba28045a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 20 Jan 2022 20:43:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC559033CC9B\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:43:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-01-20T20:43:49.9280539Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c72e5d5e-a0c0-6130-05d5-113e13f54403/test-blob-de64c04a-7727-fde6-81d7-14bcba28045a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9DC559033CC9B\u0022",
        "x-ms-date": "Thu, 20 Jan 2022 20:43:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "AluCRetEBtb7\u002BdP45NFStJhsxe9pZxMguHhhLiVenEw/YhJQSvq8s8TooE2YIMKUkpnOYfkAxppIYoxy49iwnV2HuYK/AmqerxEqgcfFiJi2zJyLjztSPpx3B\u002BhtSdDsNwPvEGdA1ZAvMLLn1kTTgtrzvBY7JQ4hNHrlR/qCMGVAPUnE1XcxdvcMXF6JamhXpIUOeY26sRL0ztzsW42VrQBMp5j7D6xiwkYfLsivmMkSjaN0c7bXhow3zweaRRtqdq9ePMPPXJXZq7dHmoJJRTUT2s3qITlJdCAMxD\u002BkyH0qtLgZUFwFQjANm8j/kOsJ7YnSh2pNf[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c72e5d5e-a0c0-6130-05d5-113e13f54403/test-blob-de64c04a-7727-fde6-81d7-14bcba28045a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:43:50 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9DC559078E1E8\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:43:50 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 20 Jan 2022 20:43:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-01-20T20:43:50.1419337Z"
      },
      "ResponseBody": "zKLYUhBWasN9oh2ei\u002BOGSb3AHIR7brXgzSDbV/1UmWloHqyAHcXPDzmj7ZV\u002BDcWVYz1mK9ZvN17t94TvexLFKAi0Nm02BSz38AxL2IAfYsBbRvTA7m6T\u002BOdNkyZB4JMm3sWNytdXXl0RbzrJJF/ezZXEkzUdBTqaIT2F6HEFthB5Jfm7kpfpA\u002BeWrn8zydSIb8WRfExdCNiK8qmZ0XbrC7gqUP5lIjr92o9Ohla7Zlhp/XisdDnDGxwhMJ/uTzJwqqLGCHjVI02Kk6G9D4GBz4xRMNT\u002BP5Z\u002BZzXiQ/GaD4td3dy09F3fk9orIeGYBgyan2ETnB9dcmsMR[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1f88d483-0263-c434-63bf-7172d99117de/test-blob-0343af55-2ccd-adff-8ef1-b5b22632b829",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 19 Jan 2022 20:43:49 GMT",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 20 Jan 2022 20:43:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC5591161C98\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:43:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-01-20T20:43:51.4122152Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-dea2017e-7b0a-d123-d4b0-e0a0bde0f0f2/test-blob-97c286f4-b5ca-fb69-c77c-161c091cc245",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 21 Jan 2022 20:43:49 GMT",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 20 Jan 2022 20:43:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC559172AE1A\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:43:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-01-20T20:43:52.0188714Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-82841af5-4f85-7fd4-773d-01f0067205b6/test-blob-68c037c1-04c5-571b-6ff9-0a6f344f95a6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 20 Jan 2022 20:43:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55923608DF\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:43:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-01-20T20:43:53.2991471Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f1516931-3842-5149-baa2-c998e8148aef/test-blob-5878677d-0b6d-ec4d-8510-6b4130debad2?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:43:53 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "2b473836-6965-4133-c5b5-ec432814eeff",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55928AFA62\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:43:53 GMT",
        "x-ms-lease-id": "2b473836-6965-4133-c5b5-ec432814eeff",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f1516931-3842-5149-baa2-c998e8148aef?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:43:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-01-20T12:43:49.8215153-08:00",
    "RandomSeed": "106567098",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}