{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "EnableAzSecPackIdentityPolicy": "true"
        },
        "subscriptionId": "668f1741-ef48-4132-bf98-28b3a3d3f257",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Traffic Controller Corp Client Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/resourcegroups/tc-sdk-test-rg18362977?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "northeurope"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/resourceGroups/tc-sdk-test-rg18362977",
        "name": "tc-sdk-test-rg18362977",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "northeurope",
        "tags": {
          "Created": "2023-01-25T03:08:04.0757004Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/resourceGroups/tc-sdk-test-rg18362977/providers/Microsoft.ServiceNetworking/trafficControllers/tc-frontend-test8868?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "northeurope",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/providers/Microsoft.ServiceNetworking/locations/northeurope/operations/c0b2d8d6-3d92-4e8f-a3df-49f501c6b7a7?api-version=2022-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "frontends": [],
          "associations": [],
          "provisioningState": "Updating"
        },
        "id": "/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/resourceGroups/tc-sdk-test-rg18362977/providers/Microsoft.ServiceNetworking/trafficControllers/tc-frontend-test8868",
        "name": "tc-frontend-test8868",
        "type": "Microsoft.ServiceNetworking/TrafficControllers",
        "etag": "67f3c6b0-5479-451a-b593-9bbb90a6c03e",
        "location": "northeurope",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/providers/Microsoft.ServiceNetworking/locations/northeurope/operations/c0b2d8d6-3d92-4e8f-a3df-49f501c6b7a7?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/resourceGroups/tc-sdk-test-rg18362977/providers/Microsoft.ServiceNetworking/trafficControllers/tc-frontend-test8868?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002267f3c6b0-5479-451a-b593-9bbb90a6c03e\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "properties": {
          "configurationEndpoints": [
            "0500753f2c0b4e6a8af5b250461c9cd6.trafficcontroller.azure.com"
          ],
          "frontends": [],
          "associations": [],
          "provisioningState": "Succeeded"
        },
        "id": "/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/resourceGroups/tc-sdk-test-rg18362977/providers/Microsoft.ServiceNetworking/trafficControllers/tc-frontend-test8868",
        "name": "tc-frontend-test8868",
        "type": "Microsoft.ServiceNetworking/TrafficControllers",
        "etag": "67f3c6b0-5479-451a-b593-9bbb90a6c03e",
        "location": "northeurope",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/resourceGroups/tc-sdk-test-rg18362977/providers/Microsoft.ServiceNetworking/trafficControllers/tc-frontend-test8868/frontends/tc-frontend7432?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "northeurope",
        "properties": {
          "mode": "public",
          "publicIPAddress": {
            "id": "/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/resourceGroups/tc-sdk-test-rg18362977/providers/Microsoft.Network/publicIPAddresses/tc-pip2920"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/providers/Microsoft.ServiceNetworking/locations/northeurope/operations/529f9742-b28a-4edd-9889-6833fd1b9e0d?api-version=2022-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "properties": {
          "mode": "Public",
          "ipVersion": "IPv4",
          "publicIPAddress": {
            "id": "/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/resourceGroups/tc-sdk-test-rg18362977/providers/Microsoft.Network/publicIPAddresses/tc-pip2920"
          },
          "provisioningState": "Updating"
        },
        "id": "/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/resourceGroups/tc-sdk-test-rg18362977/providers/Microsoft.ServiceNetworking/trafficControllers/tc-frontend-test8868/frontends/tc-frontend7432",
        "name": "tc-frontend7432",
        "type": "Microsoft.ServiceNetworking/TrafficControllers/Frontends",
        "etag": "1af1be06-5545-481c-80ea-7f14c68b1dad",
        "location": "northeurope",
        "tags": {}
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/resourceGroups/tc-sdk-test-rg18362977/providers/Microsoft.ServiceNetworking/trafficControllers/tc-frontend-test8868/frontends/tc-frontend7432?api-version=2022-10-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/providers/Microsoft.ServiceNetworking/locations/northeurope/operations/c5ac5908-6c15-49bd-845d-e295d6c02610?api-version=2022-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/providers/Microsoft.ServiceNetworking/locations/northeurope/operationResults/c5ac5908-6c15-49bd-845d-e295d6c02610?api-version=2022-10-01-preview",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/resourcegroups/tc-sdk-test-rg18362977?api-version=**",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1UQzoyRFNESzoyRFRFU1Q6MkRSRzE4MzYyOTc3LU5PUlRIRVVST1BFIiwiam9iTG9jYXRpb24iOiJub3J0aGV1cm9wZSJ9?api-version=**",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14996"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1071063052",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "668f1741-ef48-4132-bf98-28b3a3d3f257"
  }
}
