{
  "Entries": [
    {
      "RequestUri": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/devices?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"friendlyName\": \"sugattdeviceforSDK\",\r\n        \"activationTime\": \"2017-06-14T07:01:51.8964712Z\",\r\n        \"culture\": \"en-US\",\r\n        \"deviceSoftwareVersion\": \"6.3.9600.17802\",\r\n        \"deviceConfigurationStatus\": \"Complete\",\r\n        \"targetIqn\": \"iqn.1991-05.com.microsoft:storsimple100-123456789-target\",\r\n        \"modelDescription\": \"100\",\r\n        \"status\": \"Offline\",\r\n        \"serialNumber\": \"123456789\",\r\n        \"deviceType\": \"Series8000PhysicalAppliance\",\r\n        \"activeController\": \"Controller0\",\r\n        \"friendlySoftwareVersion\": \"StorSimple 8000 Series Update 4.0\",\r\n        \"availableLocalStorageInBytes\": 43980464128,\r\n        \"availableTieredStorageInBytes\": 1099511627776,\r\n        \"provisionedTieredStorageInBytes\": 0,\r\n        \"provisionedLocalStorageInBytes\": 0,\r\n        \"provisionedVolumeSizeInBytes\": 0,\r\n        \"usingStorageInBytes\": 0,\r\n        \"totalTieredStorageInBytes\": 1099511627776,\r\n        \"agentGroupVersion\": 7,\r\n        \"networkInterfaceCardCount\": 6\r\n      },\r\n      \"id\": \"/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/devices/sugattdeviceforSDK\",\r\n      \"name\": \"sugattdeviceforSDK\",\r\n      \"type\": \"Microsoft.StorSimple/managers/devices\",\r\n      \"kind\": \"Series8000\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"friendlyName\": \"jemdeviceforsdk\",\r\n        \"activationTime\": \"2017-06-13T05:03:25.8680622Z\",\r\n        \"culture\": \"en-US\",\r\n        \"deviceSoftwareVersion\": \"6.3.9600.17802\",\r\n        \"deviceConfigurationStatus\": \"Complete\",\r\n        \"targetIqn\": \"Test-Target-IQN\",\r\n        \"modelDescription\": \"100\",\r\n        \"status\": \"Offline\",\r\n        \"serialNumber\": \"123456789\",\r\n  [...]
    {
      "RequestUri": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/devices/Device05ForSDKTest/sendTestAlertEmail?api-version=2017-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"emailList\": [\r\n    \"testemailid@contoso.com\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce",
    "SubId": "4385cf00-2d3a-425a-832f-f4285b1c9dce"
  }
}