{
  "Entries": [
    {
      "RequestUri": "/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/ResourceGroup-CUS/providers/Microsoft.Security/iotSecuritySolutions/IotHub-CUS/analyticsModels?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/resourcegroup-cus/providers/Microsoft.Security/IoTSecuritySolutions/Locations/centralus/default\",\r\n      \"name\": \"/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/resourcegroup-cus/providers/Microsoft.Security/IoTSecuritySolutions/Locations/centralus/default\",\r\n      \"type\": \"Microsoft.Security/IoTSecuritySolutionAnalyticsModel\",\r\n      \"properties\": {\r\n        \"metrics\": {\r\n          \"high\": 0,\r\n          \"medium\": 2,\r\n          \"low\": 0\r\n        },\r\n        \"unhealthyDeviceCount\": 2,\r\n        \"devicesMetrics\": [],\r\n        \"topAlertedDevices\": [],\r\n        \"mostPrevalentDeviceAlerts\": [],\r\n        \"mostPrevalentDeviceRecommendations\": [\r\n          {\r\n            \"recommendationDisplayName\": \"Permissive firewall policy in one of the chains\",\r\n            \"devicesCount\": 2,\r\n            \"reportedSeverity\": \"Medium\"\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "075423e9-7d33-4166-8bdf-3920b04e3735"
  }
}