{
  "Entries": [
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/IOT-ResourceGroup-CUS/providers/Microsoft.Security/iotSecuritySolutions/securitySolution/analyticsModels/default?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "748"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/IOT-ResourceGroup-CUS/providers/Microsoft.Security/iotSecuritySolutions/securitySolution/analyticsModels/\",\r\n  \"type\": \"Microsoft.Security/iotSecuritySolutions/analyticsModels\",\r\n  \"name\": \"default\",\r\n  \"properties\": {\r\n    \"metrics\": {\r\n      \"high\": 0,\r\n      \"medium\": 0,\r\n      \"low\": 0\r\n    },\r\n    \"unhealthyDeviceCount\": 0,\r\n    \"devicesMetrics\": [],\r\n    \"topAlertedDevices\": [],\r\n    \"mostPrevalentDeviceAlerts\": [],\r\n    \"mostPrevalentDeviceRecommendations\": []\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "487bb485-b5b0-471e-9c0d-10717612f869"
  }
}