{
  "Entries": [
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Jul 2020 18:18:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablevgz495vb"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtablevgz495vb\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissscratch.table.core.windows.net/$metadata#Tables/@Element",
        "odata.type": "chrissscratch.Tables",
        "odata.id": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtablevgz495vb\u0027)",
        "odata.editLink": "Tables(\u0027testtablevgz495vb\u0027)",
        "TableName": "testtablevgz495vb"
      }
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/testtablevgz495vb(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Jul 2020 18:18:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "SomeStringProperty": "This is the original"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272020-07-14T18%3A18%3A07.6452873Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/testtablevgz495vb()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20eq%20%271%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Jul 2020 18:18:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissscratch.table.core.windows.net/$metadata#testtablevgz495vb",
        "value": [
          {
            "odata.type": "chrissscratch.testtablevgz495vb",
            "odata.id": "https://chrissscratch.table.core.windows.net/testtablevgz495vb(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
            "odata.etag": "W/\u0022datetime\u00272020-07-14T18%3A18%3A07.6452873Z\u0027\u0022",
            "odata.editLink": "testtablevgz495vb(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
            "PartitionKey": "somPartition",
            "RowKey": "1",
            "Timestamp@odata.type": "Edm.DateTime",
            "Timestamp": "2020-07-14T18:18:07.6452873Z",
            "SomeStringProperty": "This is the original"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtablevgz495vb\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Jul 2020 18:18:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1565177040",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "",
    "TABLES_STORAGE_ACCOUNT_NAME": "chrissscratch"
  }
}