{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11939"
      },
      "ResponseBody": {
        "id": "/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "0336439f-0e9d-44ec-975e-62accb9b3901",
        "tenantId": "a66b4d27-b1b3-4b60-8b06-7fb4fd05bc3c",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourcegroups/uai-rg8559?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1138"
      },
      "ResponseBody": {
        "id": "/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/uai-rg8559",
        "name": "uai-rg8559",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/uai-rg8559/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai4143?api-version=2023-01-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourcegroups/uai-rg8559/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai4143",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourcegroups/uai-rg8559/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai4143",
        "name": "uai4143",
        "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "location": "eastus",
        "tags": {},
        "properties": {
          "tenantId": "a66b4d27-b1b3-4b60-8b06-7fb4fd05bc3c",
          "principalId": "2e0b870a-cfff-4552-aed8-610bd35ce633",
          "clientId": "cdf40ae9-33ea-454c-ae77-a0e48e4d5b6d"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/uai-rg8559/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai4143?api-version=2023-01-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourcegroups/uai-rg8559/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai4143",
        "name": "uai4143",
        "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "location": "eastus",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "tenantId": "a66b4d27-b1b3-4b60-8b06-7fb4fd05bc3c",
          "principalId": "2e0b870a-cfff-4552-aed8-610bd35ce633",
          "clientId": "cdf40ae9-33ea-454c-ae77-a0e48e4d5b6d"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/uai-rg8559/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai4143?api-version=2023-01-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key2": "value2"
        },
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourcegroups/uai-rg8559/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai4143",
        "name": "uai4143",
        "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "location": "eastus",
        "tags": {
          "key2": "value2"
        },
        "properties": {
          "tenantId": "a66b4d27-b1b3-4b60-8b06-7fb4fd05bc3c",
          "principalId": "2e0b870a-cfff-4552-aed8-610bd35ce633",
          "clientId": "cdf40ae9-33ea-454c-ae77-a0e48e4d5b6d"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "889847764",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "0336439f-0e9d-44ec-975e-62accb9b3901"
  }
}
