{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/test-collection-lifecycle?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "id": "test-collection-lifecycle",
        "type": "Collection",
        "links": [
          {
            "rel": "items",
            "type": "application/geo+json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/test-collection-lifecycle/items"
          },
          {
            "rel": "parent",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "root",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "self",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/test-collection-lifecycle"
          }
        ],
        "title": "Example Collection",
        "extent": {
          "spatial": {
            "bbox": [
              [
                -180,
                -90,
                180,
                90
              ]
            ]
          },
          "temporal": {
            "interval": [
              [
                "2018-01-01T00:00:00Z",
                "2018-12-31T23:59:59Z"
              ]
            ]
          }
        },
        "license": "CC-BY-4.0",
        "description": "An example collection",
        "stac_version": "1.0.0",
        "msft:_created": "2025-10-31T11:27:18.0303482Z",
        "msft:_updated": "2025-10-31T11:27:18.0303482Z",
        "msft:short_description": "An example collection"
      }
    },
[...]
