{
  "Entries": [
    {
      "RequestUri": "/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourcegroups/sqlcrudtest-7774?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"east us\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-7774\": \"2019-10-19 15:13:15Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774\",\r\n  \"name\": \"sqlcrudtest-7774\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-7774\": \"2019-10-19 15:13:15Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Network/networkSecurityGroups/sqlcrudtest-6956?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"securityRules\": [\r\n      {\r\n        \"properties\": {\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"destinationPortRanges\": [\r\n            \"1433\",\r\n            \"1434\",\r\n            \"5022\",\r\n            \"9000\",\r\n            \"9003\",\r\n            \"1438\",\r\n            \"1440\",\r\n            \"1452\",\r\n            \"80\",\r\n            \"443\"\r\n          ],\r\n          \"access\": \"Allow\",\r\n          \"priority\": 100,\r\n          \"direction\": \"Inbound\"\r\n        },\r\n        \"name\": \"allow_management_inbound\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\": \"10.0.0.0/26\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 200,\r\n          \"direction\": \"Inbound\"\r\n        },\r\n        \"name\": \"allow_misubnet_inbound\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\": \"Azur[...]
    {
      "RequestUri": "/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/providers/Microsoft.Network/locations/eastus/operations/d7998ff4-c4ab-40fd-9479-072af29634a6?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Network/networkSecurityGroups/sqlcrudtest-6956?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"2d4326fb-b668-4af5-a94b-4ee39aacf5e8\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"sqlcrudtest-6956\",\r\n  \"id\": \"/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Network/networkSecurityGroups/sqlcrudtest-6956\",\r\n  \"etag\": \"W/\\\"2d4326fb-b668-4af5-a94b-4ee39aacf5e8\\\"\",\r\n  \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"159e1d95-b161-46bd-9466-6c6b7dea43ac\",\r\n    \"securityRules\": [\r\n      {\r\n        \"name\": \"allow_management_inbound\",\r\n        \"id\": \"/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Network/networkSecurityGroups/sqlcrudtest-6956/securityRules/allow_management_inbound\",\r\n        \"etag\": \"W/\\\"2d4326fb-b668-4af5-a94b-4ee39aacf5e8\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/securityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 100,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [\r\n            \"1433\",\r\n            \"1434\",\r\n            \"5022\",\r\n            \"9000\",\r\n            \"9003\",\r\n            \"1438\",\r\n            \"1440\",\r\n            \"1452\",\r\n            \"80\",\r\n            \"443\"\r\n          ],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"allow_misubnet_inbound\",\r\n        \"id\": \"/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Network/networkSecurityGroups/sqlcrudtest-6956/securityRules/allow_misubnet_inbound\",\r\n        \"etag\": \"W/\\\"2d4326fb-b668-4af5-a94b-4ee39aacf5e8\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/securityRules\",\r\n        \"properties\": {\r\n          \"pr[...]
[...]
    {
      "RequestUri": "/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Network/routeTables/sqlcrudtest-9517?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"routes\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"0.0.0.0/0\",\r\n          \"nextHopType\": \"Internet\"\r\n        },\r\n        \"name\": \"sqlcrudtest-6141\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/26\",\r\n          \"nextHopType\": \"VnetLocal\"\r\n        },\r\n        \"name\": \"sqlcrudtest-744\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/providers/Microsoft.Network/locations/eastus/operations/33ba7564-4e1f-4da4-8589-9f10cef08c45?api-version=2019-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"sqlcrudtest-9517\",\r\n  \"id\": \"/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Network/routeTables/sqlcrudtest-9517\",\r\n  \"etag\": \"W/\\\"91845078-6635-4b7e-8cae-44617fb5193a\\\"\",\r\n  \"type\": \"Microsoft.Network/routeTables\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"5ac2c241-ca8c-4592-9ded-cd7a51bd0832\",\r\n    \"disableBgpRoutePropagation\": false,\r\n    \"routes\": [\r\n      {\r\n        \"name\": \"sqlcrudtest-6141\",\r\n        \"id\": \"/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Network/routeTables/sqlcrudtest-9517/routes/sqlcrudtest-6141\",\r\n        \"etag\": \"W/\\\"91845078-6635-4b7e-8cae-44617fb5193a\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"0.0.0.0/0\",\r\n          \"nextHopType\": \"Internet\"\r\n        },\r\n        \"type\": \"Microsoft.Network/routeTables/routes\"\r\n      },\r\n      {\r\n        \"name\": \"sqlcrudtest-744\",\r\n        \"id\": \"/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Network/routeTables/sqlcrudtest-9517/routes/sqlcrudtest-744\",\r\n        \"etag\": \"W/\\\"91845078-6635-4b7e-8cae-44617fb5193a\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.0.0/26\",\r\n          \"nextHopType\": \"VnetLocal\"\r\n        },\r\n        \"type\": \"Microsoft.Network/routeTables/routes\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Network/virtualNetworks/sqlcrudtest-1416?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/22\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/26\",\r\n          \"networkSecurityGroup\": {\r\n            \"properties\": {\r\n              \"securityRules\": [\r\n                {\r\n                  \"properties\": {\r\n                    \"protocol\": \"Tcp\",\r\n                    \"sourcePortRange\": \"*\",\r\n                    \"sourceAddressPrefix\": \"*\",\r\n                    \"sourceAddressPrefixes\": [],\r\n                    \"destinationAddressPrefix\": \"*\",\r\n                    \"destinationAddressPrefixes\": [],\r\n                    \"sourcePortRanges[...]
[...]
    {
      "RequestUri": "/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Sql/managedInstances/manageddatabaserestorescenariotest-sqlcrudtest-3600?api-version=2018-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"MIGP8G4\",\r\n    \"tier\": \"GeneralPurpose\"\r\n  },\r\n  \"properties\": {\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"administratorLoginPassword\": \"Un53cuRE!\",\r\n    \"subnetId\": \"/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Network/virtualNetworks/sqlcrudtest-1416/subnets/MISubnet\"\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Sql/locations/eastus/managedInstanceOperationResults/94da55c2-b4de-461e-b6db-22ba18fb1f7f?api-version=2018-06-01-preview"
        ],
        "Retry-After": [
          "60"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Sql/locations/eastus/managedInstanceAzureAsyncOperation/94da55c2-b4de-461e-b6db-22ba18fb1f7f?api-version=2018-06-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertManagedServer\",\r\n  \"startTime\": \"2019-10-19T15:15:48.99Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Sql/locations/eastus/managedInstanceAzureAsyncOperation/94da55c2-b4de-461e-b6db-22ba18fb1f7f?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"94da55c2-b4de-461e-b6db-22ba18fb1f7f\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2019-10-19T15:15:48.99Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Sql/managedInstances/manageddatabaserestorescenariotest-sqlcrudtest-3600?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11983"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen5\",\r\n    \"capacity\": 8\r\n  },\r\n  \"properties\": {\r\n    \"fullyQualifiedDomainName\": \"manageddatabaserestorescenariotest-sqlcrudtest-3600.eb380da298f4.database.windows.net\",\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"subnetId\": \"/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Network/virtualNetworks/sqlcrudtest-1416/subnets/MISubnet\",\r\n    \"state\": \"Ready\",\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"vCores\": 8,\r\n    \"storageSizeInGB\": 256,\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"dnsZone\": \"eb380da298f4\",\r\n    \"publicDataEndpointEnabled\": false,\r\n    \"timezoneId\": \"UTC\"\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Sql/managedInstances/manageddatabaserestorescenariotest-sqlcrudtest-3600\",\r\n  \"name\": \"manageddatabaserestorescenariotest-sqlcrudtest-3600\",\r\n  \"type\": \"Microsoft.Sql/managedInstances\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Sql/managedInstances/manageddatabaserestorescenariotest-sqlcrudtest-3600/databases/manageddatabaserestorescenariotest-6265?api-version=2018-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"createMode\": \"RestoreExternalBackup\",\r\n    \"storageContainerUri\": \"https://misosictest1.blob.core.windows.net/striped-inc\",\r\n    \"storageContainerSasToken\": \"?sv=2018-03-28&ss=bfqt&srt=co&sp=rl&se=2021-10-07T20:57:18Z&st=2019-10-07T12:57:18Z&spr=https&sig=wUFmxnyiCglm9U9%2B3VaPW0YlXFpvn%2BkGc%2B5wesmwWuU%3D\"\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/providers/Microsoft.Sql/locations/eastus/managedDatabaseRestoreOperationResults/936b068c-bdc0-4bf5-bb25-a30ea60404fa?api-version=2018-06-01-preview"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/providers/Microsoft.Sql/locations/eastus/managedDatabaseRestoreAzureAsyncOperation/936b068c-bdc0-4bf5-bb25-a30ea60404fa?api-version=2018-06-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateExternalManagedBackupRestoreV2Request\",\r\n  \"startTime\": \"2019-10-19T18:43:57.807Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Sql/managedInstances/manageddatabaserestorescenariotest-sqlcrudtest-3600/databases/manageddatabaserestorescenariotest-6265?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11982"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The requested resource of type 'Microsoft.Sql/managedInstances/databases' with name 'manageddatabaserestorescenariotest-6265' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Sql/managedInstances/manageddatabaserestorescenariotest-sqlcrudtest-3600/databases/manageddatabaserestorescenariotest-6265?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11981"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"status\": \"Restoring\",\r\n    \"creationDate\": \"2019-10-19T18:44:01.197Z\",\r\n    \"defaultSecondaryLocation\": \"westus\"\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"id\": \"/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Sql/managedInstances/manageddatabaserestorescenariotest-sqlcrudtest-3600/databases/manageddatabaserestorescenariotest-6265\",\r\n  \"name\": \"manageddatabaserestorescenariotest-6265\",\r\n  \"type\": \"Microsoft.Sql/managedInstances/databases\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Sql/managedInstances/manageddatabaserestorescenariotest-sqlcrudtest-3600/databases/manageddatabaserestorescenariotest-6265/restoreDetails/Default?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11980"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"status\": \"Initializing\",\r\n    \"numberOfFilesDetected\": 0\r\n  },\r\n  \"id\": \"/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Sql/managedInstances/manageddatabaserestorescenariotest-sqlcrudtest-3600/databases/manageddatabaserestorescenariotest-6265/restoreDetails/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/managedInstances/databases/restoreDetails\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Sql/managedInstances/manageddatabaserestorescenariotest-sqlcrudtest-3600/databases/manageddatabaserestorescenariotest-6265/restoreDetails/Default?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11979"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"status\": \"Waiting\",\r\n    \"currentRestoringFileName\": \"log2_0\",\r\n    \"lastRestoredFileName\": \"log2_0\",\r\n    \"unrestorableFiles\": [],\r\n    \"numberOfFilesDetected\": 26,\r\n    \"lastUploadedFileName\": \"full_2\",\r\n    \"lastUploadedFileTime\": \"2019-10-07T12:24:08Z\"\r\n  },\r\n  \"id\": \"/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Sql/managedInstances/manageddatabaserestorescenariotest-sqlcrudtest-3600/databases/manageddatabaserestorescenariotest-6265/restoreDetails/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/managedInstances/databases/restoreDetails\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/sqlcrudtest-7774/providers/Microsoft.Sql/managedInstances/manageddatabaserestorescenariotest-sqlcrudtest-3600/databases/manageddatabaserestorescenariotest-6265/completeRestore?api-version=2018-06-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"lastBackupName\": \"log2_0\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/providers/Microsoft.Sql/locations/eastus/managedDatabaseCompleteRestoreOperationResults/59661a6e-c6e4-46e0-863e-a03fb751798c?api-version=2018-06-01-preview"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/providers/Microsoft.Sql/locations/eastus/managedDatabaseCompleteRestoreAzureAsyncOperation/59661a6e-c6e4-46e0-863e-a03fb751798c?api-version=2018-06-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"ManagedDatabaseCompleteExternalRestore\",\r\n  \"startTime\": \"2019-10-19T18:44:39.513Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourcegroups/sqlcrudtest-7774?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUxDUlVEVEVTVDoyRDc3NzQtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {
    "CreateResourceGroup": [
      "sqlcrudtest-7774"
    ],
    "CreateVirtualNetwork": [
      "sqlcrudtest-1416",
      "sqlcrudtest-6956",
      "sqlcrudtest-6141",
      "sqlcrudtest-744",
      "sqlcrudtest-9517"
    ],
    "CreateManagedInstance": [
      "sqlcrudtest-3600"
    ],
    "ManagedDatabaseExternalBackupRestoreTest": [
      "manageddatabaserestorescenariotest-6265"
    ]
  },
  "Variables": {
    "SubscriptionId": "741fd0f5-9cb8-442c-91c3-3ef4ca231c2a",
    "DefaultLocation": "east us",
    "DefaultLocationId": "eastus"
  }
}