{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071",
        "authorizationSource": "Bypassed",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "f66367e1-cf7d-407b-ba39-53230cc79071",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "MGMT GCRP Package Test 001",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourcegroups/GuestConfigurationSDKTestRecord?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "id": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/GuestConfigurationSDKTestRecord",
        "name": "GuestConfigurationSDKTestRecord",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centraluseuap",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/GuestConfigurationSDKTestRecord/providers/Microsoft.Compute/virtualMachines/SDKTestVM/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditSecureProtocol?api-version=2022-01-25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "guestConfiguration": {
            "kind": "DSC",
            "name": "AuditSecureProtocol",
            "version": "1.0.0.3",
            "assignmentType": "ApplyAndAutoCorrect",
            "configurationParameter": [
              {}
            ],
            "configurationProtectedParameter": [
              {}
            ]
          },
          "context": "Azure policy"
        },
        "name": "AuditSecureProtocol",
        "location": "westcentralus"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "location": "westcentralus",
        "id": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/GuestConfigurationSDKTestRecord/providers/Microsoft.Compute/virtualMachines/SDKTestVM/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditSecureProtocol",
        "name": "AuditSecureProtocol",
        "properties": {
          "complianceStatus": "Pending",
          "assignmentHash": null,
          "parameterHash": null,
          "latestReportId": null,
          "lastComplianceStatusChecked": null,
          "context": "Azure policy",
          "guestConfiguration": {
            "kind": "DSC",
            "name": "AuditSecureProtocol",
            "version": "1.0.0.3",
            "contentUri": null,
            "contentHash": null,
            "contentType": "Builtin",
            "assignmentType": "ApplyAndAutoCorrect",
            "assignmentSource": null,
            "configurationParameter": [
              {
                "name": null,
                "value": null
              }
            ],
            "configurationProtectedParameter": [
              {
                "name": null,
                "value": null
              }
            ],
            "configurationSetting": null
          },
          "provisioningState": "Succeeded",
          "resourceType": null,
          "vmssVMList": null
        }
      }
    },
[...]
