{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071",
        "authorizationSource": "Bypassed",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "f66367e1-cf7d-407b-ba39-53230cc79071",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "MGMT GCRP Package Test 001",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourcegroups/GuestConfigurationSDKTestRecord?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/GuestConfigurationSDKTestRecord",
        "name": "GuestConfigurationSDKTestRecord",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centraluseuap",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/GuestConfigurationSDKTestRecord/providers/Microsoft.Compute/virtualMachines/SDKTestVM/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditSecureProtocol?api-version=2022-01-25",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "location": "westcentralus",
        "id": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/GuestConfigurationSDKTestRecord/providers/Microsoft.Compute/virtualMachines/SDKTestVM/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditSecureProtocol",
        "name": "AuditSecureProtocol",
        "properties": {
          "complianceStatus": "Pending",
          "assignmentHash": "",
          "parameterHash": "PQ==",
          "latestReportId": null,
          "lastComplianceStatusChecked": null,
          "context": null,
          "guestConfiguration": {
            "kind": null,
            "name": "AuditSecureProtocol",
            "version": "1.0.0.3",
            "contentUri": null,
            "contentHash": null,
            "contentType": null,
            "assignmentType": "ApplyAndAutoCorrect",
            "assignmentSource": "Manual assignment",
            "configurationParameter": [
              {
                "name": null,
                "value": null
              }
            ],
            "configurationProtectedParameter": [],
            "configurationSetting": {
              "configurationMode": "MonitorOnly",
              "allowModuleOverwrite": false,
              "actionAfterReboot": "",
              "refreshFrequencyMins": 5,
              "rebootIfNeeded": true,
              "configurationModeFrequencyMins": 15
            }
          },
          "provisioningState": "Succeeded",
          "resourceType": null,
          "vmssVMList": null
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/GuestConfigurationSDKTestRecord/providers/Microsoft.Compute/virtualMachines/SDKTestVM/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditSecureProtocol/reports?api-version=2022-01-25",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1999615316",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f66367e1-cf7d-407b-ba39-53230cc79071"
  }
}
