{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 09 Aug 2022 18:57:23 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sov/15iHN0uTAfOmRFloSg.0",
        "X-Processing-Time": "45ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 09 Aug 2022 18:57:24 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "identifier": {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "callbackUri": "https://localhost/"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "df2cd15a-0c6a-4917-81cc-6b4864bd519a"
      },
      "ResponseBody": {
        "callConnectionId": "401f0b00-7346-45a1-89d7-21ac675fcf4d",
        "source": {
          "identifier": {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://localhost/"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/recordings?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 09 Aug 2022 18:59:41 GMT"
      },
      "RequestBody": {
        "callLocator": {
          "serverCallId": "serverCallId",
          "kind": "serverCallLocator"
        },
        "recordingStateCallbackUri": "https://localhost/",
        "recordingContentType": null,
        "recordingChannelType": null,
        "recordingFormatType": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "3064684f-f8de-46c0-8424-cc3a4fada113"
      },
      "ResponseBody": {
        "recordingId": "eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiI0MjFmMGIwMC00Y2FkLTRkZWUtYmVhYS01OGVhMTJjOWVkMzkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiIzMTI2ZDU0NC05NDVkLTQxNDUtOGVmNy0xODMwODA2ZWFiOTAifQ",
        "recordingState": "inactive"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiI0MjFmMGIwMC00Y2FkLTRkZWUtYmVhYS01OGVhMTJjOWVkMzkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiIzMTI2ZDU0NC05NDVkLTQxNDUtOGVmNy0xODMwODA2ZWFiOTAifQ?api-version=2022-04-07-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 09 Aug 2022 18:59:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "df2cd15a-0c6a-4917-81cc-6b4864bd519a"
      },
      "ResponseBody": {
        "recordingId": "eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiI0MjFmMGIwMC00Y2FkLTRkZWUtYmVhYS01OGVhMTJjOWVkMzkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiIzMTI2ZDU0NC05NDVkLTQxNDUtOGVmNy0xODMwODA2ZWFiOTAifQ",
        "recordingState": "active"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiI0MjFmMGIwMC00Y2FkLTRkZWUtYmVhYS01OGVhMTJjOWVkMzkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiIzMTI2ZDU0NC05NDVkLTQxNDUtOGVmNy0xODMwODA2ZWFiOTAifQ:pause?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 09 Aug 2022 18:59:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "df2cd15a-0c6a-4917-81cc-6b4864bd519a"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiI0MjFmMGIwMC00Y2FkLTRkZWUtYmVhYS01OGVhMTJjOWVkMzkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiIzMTI2ZDU0NC05NDVkLTQxNDUtOGVmNy0xODMwODA2ZWFiOTAifQ:resume?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 09 Aug 2022 19:00:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "df2cd15a-0c6a-4917-81cc-6b4864bd519a"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiI0MjFmMGIwMC00Y2FkLTRkZWUtYmVhYS01OGVhMTJjOWVkMzkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiIzMTI2ZDU0NC05NDVkLTQxNDUtOGVmNy0xODMwODA2ZWFiOTAifQ?api-version=2022-04-07-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 09 Aug 2022 19:00:25 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "75f85442-c2cd-4713-bd96-4c6940de8538"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Recording not found."
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/401f0b00-7346-45a1-89d7-21ac675fcf4d:terminate?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 09 Aug 2022 19:00:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "df2cd15a-0c6a-4917-81cc-6b4864bd519a"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2136817247",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acs-recording-common-e2e.communication.azure.com/;accesskey=Kg==",
    "TARGET_USER_ID": "8:acs:75d93288-131e-4faa-b5b6-f7a8cf962802_00000013-1e8e-b94b-02c3-593a0d00c4cd",
    "PMA_Endpoint": ""
  }
}
