{
    "swagger": "2.0",
    "info": {
        "version": "2020-03-13",
        "title": "IotHub Gateway Service APIs"
    },
    "host": "fully-qualified-iothubname.azure-devices.net",
    "schemes": [
        "https"
    ],
    "paths": {
        "/twins/{id}": {
            "get": {
                "summary": "Gets a device twin.",
                "description": "Gets a device twin. See https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-device-twins for more information. For IoT Hub VNET related features(https://docs.microsoft.com/en-us/azure/iot-hub/virtual-network-support) please use API version '2020-03-13'.These features are currently in general availability in the East US, West US 2, and Southcentral US regions only. We are actively working to expand the availability of these features to all regions by end of month May. For rest of the APIs please continue using API version '2019-10-01'",
                "operationId": "Twin_GetDeviceTwin",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Device ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/api-version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the device twin object",
                        "schema": {
                            "$ref": "#/definitions/DeviceTwin"
                        }
                    }
                }
            },
            "put": {
                "summary": "Replaces tags and desired properties of a device twin.",
                "description": "Replaces a device twin. See https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-device-twins for more information. For IoT Hub VNET related features(https://docs.microsoft.com/en-us/azure/iot-hub/virtual-network-support) please use API version '2020-03-13'.These features are currently in general availability in the East US, West US 2, and Southcentral US regions only. We are actively working to expand the availability of these features to all regions by end of month May. For rest of the APIs please continue using API version '2019-10-01'",
                "operationId": "Twin_ReplaceDeviceTwin",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Device ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "deviceTwinInfo",
                        "in": "body",
                        "description": "Device twin info",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeviceTwin"
                        }
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/api-version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the device twin object",
                        "schema": {
                            "$ref": "#/definitions/DeviceTwin"
                        }
                    }
                }
            },
            "patch": {
                "summary": "Updates tags and desired properties of a device twin.",
                "description": "Updates a device twin. See https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-device-twins for more information. For IoT Hub VNET related features(https://docs.microsoft.com/en-us/azure/iot-hub/virtual-network-support) please use API version '2020-03-13'.These features are currently in general availability in the East US, West US 2, and Southcentral US regions only. We are actively working to expand the availability of these features to all regions by end of month May. For rest of the APIs please continue using API version '2019-10-01'",
                "operationId": "Twin_UpdateDeviceTwin",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Device ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "deviceTwinInfo",
                        "in": "body",
                        "description": "Device twin info",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeviceTwin"
                        }
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/api-version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the device twin object",
                        "schema": {
                            "$ref": "#/definitions/DeviceTwin"
                        }
                    }
                }
            }
        },
        "/twins/{id}/modules/{mid}": {
            "get": {
                "summary": "Gets a module twin.",
                "description": "Gets a module twin. See https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-device-twins for more information. For IoT Hub VNET related features(https://docs.microsoft.com/en-us/azure/iot-hub/virtual-network-support) please use API version '2020-03-13'.These features are currently in general availability in the East US, West US 2, and Southcentral US regions only. We are actively working to expand the availability of these features to all regions by end of month May. For rest of the APIs please continue using API version '2019-10-01'",
                "operationId": "Twin_GetModuleTwin",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Device ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "mid",
                        "in": "path",
                        "description": "Module ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/api-version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the device twin object",
                        "schema": {
                            "$ref": "#/definitions/DeviceTwin"
                        }
                    }
                }
            },
            "put": {
                "summary": "Replaces tags and desired properties of a module twin.",
                "description": "Replaces a module twin. See https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-device-twins for more information. For IoT Hub VNET related features(https://docs.microsoft.com/en-us/azure/iot-hub/virtual-network-support) please use API version '2020-03-13'.These features are currently in general availability in the East US, West US 2, and Southcentral US regions only. We are actively working to expand the availability of these features to all regions by end of month May. For rest of the APIs please continue using API version '2019-10-01'",
                "operationId": "Twin_ReplaceModuleTwin",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Device ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "mid",
                        "in": "path",
                        "description": "Module ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "deviceTwinInfo",
                        "in": "body",
                        "description": "Device twin info",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeviceTwin"
                        }
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/api-version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the device twin object",
                        "schema": {
                            "$ref": "#/definitions/DeviceTwin"
                        }
                    }
                }
            },
            "patch": {
                "summary": "Updates tags and desired properties of a module twin.",
                "description": "Updates a module twin. See https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-device-twins for more information. For IoT Hub VNET related features(https://docs.microsoft.com/en-us/azure/iot-hub/virtual-network-support) please use API version '2020-03-13'.These features are currently in general availability in the East US, West US 2, and Southcentral US regions only. We are actively working to expand the availability of these features to all regions by end of month May. For rest of the APIs please continue using API version '2019-10-01'",
                "operationId": "Twin_UpdateModuleTwin",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Device ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "mid",
                        "in": "path",
                        "description": "Module ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "deviceTwinInfo",
                        "in": "body",
                        "description": "Device twin information",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeviceTwin"
                        }
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/api-version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the device twin object",
                        "schema": {
                            "$ref": "#/definitions/DeviceTwin"
                        }
                    }
                }
            }
        },
        "/twins/{deviceId}/methods": {
            "post": {
                "summary": "Invoke a direct method on a device.",
                "description": "Invoke a direct method on a device. See https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-direct-methods for more information.",
                "operationId": "DeviceMethod_InvokeDeviceMethod",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "deviceId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "directMethodRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CloudToDeviceMethod"
                        }
                    },
                    {
                        "$ref": "#/parameters/api-version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the method response payload",
                        "schema": {
                            "$ref": "#/definitions/CloudToDeviceMethodResult"
                        }
                    }
                }
            }
        },
        "/twins/{deviceId}/modules/{moduleId}/methods": {
            "post": {
                "summary": "Invoke a direct method on a module of a device.",
                "description": "Invoke a direct method on a module of a device. See https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-direct-methods for more information",
                "operationId": "DeviceMethod_InvokeModuleMethod",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "deviceId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "moduleId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "directMethodRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CloudToDeviceMethod"
                        }
                    },
                    {
                        "$ref": "#/parameters/api-version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the method response payload",
                        "schema": {
                            "$ref": "#/definitions/CloudToDeviceMethodResult"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "DeviceCapabilities": {
            "description": "Status of Capabilities enabled on the device",
            "type": "object",
            "properties": {
                "iotEdge": {
                    "description": "Gets and sets the IoT Edge capability.",
                    "type": "boolean"
                }
            }
        },
        "X509Thumbprint": {
            "type": "object",
            "properties": {
                "primaryThumbprint": {
                    "description": "Gets and sets the X509 client certificate primary thumbprint",
                    "type": "string"
                },
                "secondaryThumbprint": {
                    "description": "Gets and sets the X509 client certificate secondary thumbprint",
                    "type": "string"
                }
            }
        },
        "DeviceTwin": {
            "description": "Twin Representation",
            "type": "object",
            "properties": {
                "deviceId": {
                    "description": "The deviceId uniquely identifies the device in the IoT hub's identity registry. A case-sensitive string (up to 128 char long) of ASCII 7-bit alphanumeric chars + {'-', ':', '.', '+', '%', '_', '#', '*', '?', '!', '(', ')', ',', '=', '@', ';', '$', '''}.",
                    "type": "string"
                },
                "moduleId": {
                    "description": "Gets and sets the Module Id.",
                    "type": "string"
                },
                "tags": {
                    "description": "A JSON document read and written by the solution back end. Tags are not visible to device apps.",
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                },
                "properties": {
                    "$ref": "#/definitions/TwinProperties",
                    "description": "Gets and sets the Twin properties."
                },
                "etag": {
                    "description": "Twin's ETag",
                    "type": "string"
                },
                "version": {
                    "format": "int64",
                    "description": "Version for device twin, including tags and desired properties",
                    "type": "integer"
                },
                "deviceEtag": {
                    "description": "Device's ETag",
                    "type": "string"
                },
                "status": {
                    "description": "Gets the corresponding Device's Status.",
                    "enum": [
                        "enabled",
                        "disabled"
                    ],
                    "type": "string"
                },
                "statusReason": {
                    "description": "Reason, if any, for the corresponding Device to be in specified Status",
                    "type": "string"
                },
                "statusUpdateTime": {
                    "format": "date-time",
                    "description": "Time when the corresponding Device's Status was last updated",
                    "type": "string"
                },
                "connectionState": {
                    "description": "Corresponding Device's ConnectionState",
                    "enum": [
                        "Disconnected",
                        "Connected"
                    ],
                    "type": "string"
                },
                "lastActivityTime": {
                    "format": "date-time",
                    "description": "The last time the device connected, received or sent a message. In ISO8601 datetime format in UTC, for example, 2015-01-28T16:24:48.789Z. This does not update if the device uses the HTTP/1 protocol to perform messaging operations.",
                    "type": "string"
                },
                "cloudToDeviceMessageCount": {
                    "format": "int32",
                    "description": "Number of messages sent to the corresponding Device from the Cloud",
                    "type": "integer"
                },
                "authenticationType": {
                    "description": "Corresponding Device's authentication type",
                    "enum": [
                        "sas",
                        "selfSigned",
                        "certificateAuthority",
                        "none"
                    ],
                    "type": "string"
                },
                "x509Thumbprint": {
                    "$ref": "#/definitions/X509Thumbprint",
                    "description": "Corresponding Device's X509 thumbprint"
                },
                "capabilities": {
                    "$ref": "#/definitions/DeviceCapabilities"
                },
                "deviceScope": {
                    "description": "Scope to which this device instance belongs to",
                    "type": "string"
                },
                "parentScopes": {
                    "description": "TODO: new property added - need explanation",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "TwinProperties": {
            "description": "Represents Twin properties",
            "type": "object",
            "properties": {
                "desired": {
                    "description": "Used in conjunction with reported properties to synchronize device configuration or condition. Desired properties can only be set by the solution back end and can be read by the device app. The device app can also be notified in real time of changes on the desired properties.",
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                },
                "reported": {
                    "description": "Used in conjunction with desired properties to synchronize device configuration or condition. Reported properties can only be set by the device app and can be read and queried by the solution back end.",
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                }
            }
        },
        "CloudToDeviceMethod": {
            "description": "Parameters to execute a direct method on the device",
            "type": "object",
            "properties": {
                "methodName": {
                    "description": "Method to run",
                    "type": "string"
                },
                "payload": {
                    "description": "Payload",
                    "type": "object"
                },
                "responseTimeoutInSeconds": {
                    "description": "Method timeout in seconds",
                    "format": "int32",
                    "type": "integer"
                },
                "connectTimeoutInSeconds": {
                    "description": "Connection timeout in seconds",
                    "format": "int32",
                    "type": "integer"
                }
            }
        },
        "CloudToDeviceMethodResult": {
            "description": "Represents the Device Method Invocation Results.",
            "type": "object",
            "properties": {
                "status": {
                    "format": "int32",
                    "description": "Method invocation result status.",
                    "type": "integer"
                },
                "payload": {
                    "description": "Method invocation result payload.",
                    "type": "object"
                }
            }
        }
    },
    "parameters": {
        "api-version": {
            "name": "api-version",
            "in": "query",
            "description": "Version of the Api.",
            "required": true,
            "type": "string",
            "default": "2020-03-13"
        }
    }
}
