{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/ServiceFabricManagedClustersRG6214?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/ServiceFabricManagedClustersRG6214",
        "name": "ServiceFabricManagedClustersRG6214",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/ServiceFabricManagedClustersRG6214/providers/Microsoft.ServiceFabric/managedClusters/sfmctest8642?api-version=2022-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "dnsName": "sfmcnetsdk6446",
          "clientConnectionPort": 19000,
          "httpGatewayConnectionPort": 19080,
          "adminUserName": "vmadmin",
          "adminPassword": "Password123!@#",
          "clients": [
            {
              "isAdmin": true,
              "thumbprint": "123BDACDCDFB2C7B250192C6078E47D1E1DB119B"
            }
          ],
          "clusterUpgradeMode": "Automatic",
          "zonalResiliency": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ServiceFabric/locations/eastus/managedclusteroperations/ca8e0005-8460-4709-ab9b-f1470ebc699a?api-version=2022-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/ServiceFabricManagedClustersRG6214/providers/Microsoft.ServiceFabric/managedClusters/sfmctest8642",
        "type": "Microsoft.ServiceFabric/managedclusters",
        "location": "eastus",
        "name": "sfmctest8642",
        "tags": {},
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-04-06T06:37:38.74738\u002B00:00",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-06T06:37:38.74738\u002B00:00"
        },
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "provisioningState": "Creating",
          "clusterId": "a1e64b31-0e4b-4cb2-9da7-2badc83748c8",
          "clusterUpgradeMode": "Automatic",
          "isPrivateClusterCodeVersion": false,
          "clusterUpgradeCadence": "Wave0",
          "adminUserName": "vmadmin",
          "dnsName": "sfmcnetsdk6446",
          "clusterCertificateThumbprints": [],
          "clientConnectionPort": 19000,
          "httpGatewayConnectionPort": 19080,
          "allowRdpAccess": false,
          "clients": [
            {
              "isAdmin": true,
              "thumbprint": "123BDACDCDFB2C7B250192C6078E47D1E1DB119B"
            }
          ],
          "enableAutoOSUpgrade": false,
          "zonalResiliency": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ServiceFabric/locations/eastus/managedclusteroperations/ca8e0005-8460-4709-ab9b-f1470ebc699a?api-version=2022-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "name": "ca8e0005-8460-4709-ab9b-f1470ebc699a",
        "startTime": "2023-04-06T06:37:40.2157744Z",
        "endTime": "0001-01-01T00:00:00",
        "percentComplete": 30.0,
        "status": "Created"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/ServiceFabricManagedClustersRG6214/providers/Microsoft.ServiceFabric/managedClusters/sfmctest8642?api-version=2022-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/ServiceFabricManagedClustersRG6214/providers/Microsoft.ServiceFabric/managedClusters/sfmctest8642",
        "type": "Microsoft.ServiceFabric/managedclusters",
        "location": "eastus",
        "name": "sfmctest8642",
        "tags": {},
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-04-06T06:37:38.74738\u002B00:00",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-06T06:37:38.74738\u002B00:00"
        },
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "clusterId": "a1e64b31-0e4b-4cb2-9da7-2badc83748c8",
          "clusterState": "WaitingForNodes",
          "clusterUpgradeMode": "Automatic",
          "isPrivateClusterCodeVersion": false,
          "clusterUpgradeCadence": "Wave0",
          "adminUserName": "vmadmin",
          "dnsName": "sfmcnetsdk6446",
          "fqdn": "sfmcnetsdk6446.eastus.cloudapp.azure.com",
          "ipv4Address": "4.246.193.81",
          "clusterCertificateThumbprints": [
            "B9C8B77FA166B3A53F2C3300C14121DB3812845B"
          ],
          "clientConnectionPort": 19000,
          "httpGatewayConnectionPort": 19080,
          "allowRdpAccess": false,
          "clients": [
            {
              "isAdmin": true,
              "thumbprint": "123BDACDCDFB2C7B250192C6078E47D1E1DB119B"
            }
          ],
          "enableAutoOSUpgrade": false,
          "zonalResiliency": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/ServiceFabricManagedClustersRG6214/providers/Microsoft.ServiceFabric/managedclusters/sfmctest8642/applicationTypes/appType5600?api-version=2022-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/ServiceFabricManagedClustersRG6214/providers/Microsoft.ServiceFabric/managedclusters/sfmctest8642/applicationTypes/appType5600?api-version=2022-01-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "addtagkey": "addtagvalue"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/ServiceFabricManagedClustersRG6214/providers/Microsoft.ServiceFabric/managedClusters/sfmctest8642/applicationTypes/appType5600",
        "type": "Microsoft.ServiceFabric/managedclusters/applicationTypes",
        "location": "eastus",
        "name": "appType5600",
        "tags": {
          "addtagkey": "addtagvalue"
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-04-06T06:48:03.3337888\u002B00:00",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-06T06:48:04.6306984\u002B00:00"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/ServiceFabricManagedClustersRG6214/providers/Microsoft.ServiceFabric/managedclusters/sfmctest8642/applicationTypes/appType5600?api-version=2022-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11968"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/ServiceFabricManagedClustersRG6214/providers/Microsoft.ServiceFabric/managedClusters/sfmctest8642/applicationTypes/appType5600",
        "type": "Microsoft.ServiceFabric/managedclusters/applicationTypes",
        "location": "eastus",
        "name": "appType5600",
        "tags": {},
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-04-06T06:48:03.3337888\u002B00:00",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-06T06:48:06.5838833\u002B00:00"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "309232392",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
