{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/FirewallPolicyRG-2140?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallPolicyRG-2140",
        "name": "FirewallPolicyRG-2140",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallPolicyRG-2140/providers/Microsoft.Network/virtualNetworks/vnet-8054?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.26.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "Default",
              "properties": {
                "addressPrefix": "10.26.1.0/26"
              }
            },
            {
              "name": "AzureFirewallSubnet",
              "properties": {
                "addressPrefix": "10.26.2.0/26"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/b9c94730-75d8-46d5-9cb0-bd9f70bd67f0?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"vnet-8054\",\r\n",
        "  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallPolicyRG-2140/providers/Microsoft.Network/virtualNetworks/vnet-8054\",\r\n",
        "  \"etag\": \"W/\\\"9cc15caf-6806-450c-87b9-0100ad5abaa3\\\"\",\r\n",
        "  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Updating\",\r\n",
        "    \"resourceGuid\": \"2c1deea0-6f06-4152-9534-d3d4c0c8b974\",\r\n",
        "    \"addressSpace\": {\r\n",
        "      \"addressPrefixes\": [\r\n",
        "        \"10.26.0.0/16\"\r\n",
        "      ]\r\n",
        "    },\r\n",
        "    \"subnets\": [\r\n",
        "      {\r\n",
        "        \"name\": \"Default\",\r\n",
        "        \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallPolicyRG-2140/providers/Microsoft.Network/virtualNetworks/vnet-8054/subnets/Default\",\r\n",
        "        \"etag\": \"W/\\\"9cc15caf-6806-450c-87b9-0100ad5abaa3\\\"\",\r\n",
        "        \"properties\": {\r\n",
        "          \"provisioningState\": \"Updating\",\r\n",
        "          \"addressPrefix\": \"10.26.1.0/26\",\r\n",
        "          \"delegations\": [],\r\n",
        "          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n",
        "          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n",
        "        },\r\n",
        "        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n",
        "      },\r\n",
        "      {\r\n",
        "        \"name\": \"AzureFirewallSubnet\",\r\n",
        "        \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallPolicyRG-2140/providers/Microsoft.Network/virtualNetworks/vnet-8054/subnets/AzureFirewallSubnet\",\r\n",
        "        \"etag\": \"W/\\\"9cc15caf-6806-450c-87b9-0100ad5abaa3\\\"\",\r\n",
        "        \"properties\": {\r\n",
        "          \"provisioningState\": \"Updating\",\r\n",
        "          \"addressPrefix\": \"10.26.2.0/26\",\r\n",
        "          \"delegations\": [],\r\n",
        "          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n",
        "          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n",
        "        },\r\n",
        "        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n",
        "      }\r\n",
        "    ],\r\n",
        "    \"virtualNetworkPeerings\": [],\r\n",
        "    \"enableDdosProtection\": false\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/b9c94730-75d8-46d5-9cb0-bd9f70bd67f0?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"status\": \"InProgress\"\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallPolicyRG-2140/providers/Microsoft.Network/virtualNetworks/vnet-8054?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"5f0fb66c-935f-4521-b18c-f3908483e998\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"vnet-8054\",\r\n",
        "  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallPolicyRG-2140/providers/Microsoft.Network/virtualNetworks/vnet-8054\",\r\n",
        "  \"etag\": \"W/\\\"5f0fb66c-935f-4521-b18c-f3908483e998\\\"\",\r\n",
        "  \"type\": \"Microsoft.Network/virtu[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallPolicyRG-2140/providers/Microsoft.Network/publicIPAddresses/publicIp-7682?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "westus2",
        "properties": {
          "publicIPAllocationMethod": "Static"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/27ecfd13-fc53-4103-89eb-8017d7954154?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"publicIp-7682\",\r\n",
        "  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallPolicyRG-2140/providers/Microsoft.Network/publicIPAddresses/publicIp-7682\",\r\n",
        "  \"etag\": \"W/\\\"6ab9f1ff-5803-403d-9eee-9355ef2f68cc\\\"\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Updating\",\r\n",
        "    \"resourceGuid\": \"debbec3b-849b-4782-a240-15e06aa0b770\",\r\n",
        "    \"publicIPAddressVersion\": \"IPv4\",\r\n",
        "    \"publicIPAllocationMethod\": \"Static\",\r\n",
        "    \"idleTimeoutInMinutes\": 4,\r\n",
        "    \"ipTags\": []\r\n",
        "  },\r\n",
        "  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n",
        "  \"sku\": {\r\n",
        "    \"name\": \"Standard\",\r\n",
        "    \"tier\": \"Regional\"\r\n",
        "  }\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallPolicyRG-2140/providers/Microsoft.Network/publicIPAddresses/publicIp-7682?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"b1f651a1-c099-493c-a8b4-32f7608d91ac\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"publicIp-7682\",\r\n",
        "  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallPolicyRG-2140/providers/Microsoft.Network/publicIPAddresses/publicIp-7682\",\r\n",
        "  \"etag\": \"W/\\\"b1f651a1-c099-493c-a8b4-32f7608d91ac\\\"\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Succeeded\",\r\n",
        "    \"resourceGuid\": \"debbec3b-849b-4782-a240-15e06aa0b770\",\r\n",
        "    \"ipAddress\": \"20.69.97.3\",\r\n",
        "    \"publicIPAddressVersion\": \"IPv4\",\r\n",
        "    \"publicIPAllocationMethod\": \"Static\",\r\n",
        "    \"idleTimeoutInMinutes\": 4,\r\n",
        "    \"ipTags\": []\r\n",
        "  },\r\n",
        "  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n",
        "  \"sku\": {\r\n",
        "    \"name\": \"Standard\",\r\n",
        "    \"tier\": \"Regional\"\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallPolicyRG-2140/providers/Microsoft.Network/azureFirewalls/firewall-5067?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "ipConfigurations": [
            {
              "name": "fwpip",
              "properties": {
                "subnet": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallPolicyRG-2140/providers/Microsoft.Network/virtualNetworks/vnet-8054/subnets/AzureFirewallSubnet"
                },
                "publicIPAddress": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallPolicyRG-2140/providers/Microsoft.Network/publicIPAddresses/publicIp-7682"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/393914d4-e971-49d7-9704-5d4b20f5416e?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"firewall-5067\",\r\n",
        "  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallPolicyRG-2140/providers/Microsoft.Network/azureFirewalls/firewall-5067\",\r\n",
        "  \"etag\": \"W/\\\"32ee8931-53b2-4215-b898-9e31c231f10b\\\"\",\r\n",
        "  \"type\": \"Microsoft.Network/azureFirewalls\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Updating\",\r\n",
        "    \"sku\": {\r\n",
        "      \"name\": \"AZFW_VNet\",\r\n",
        "      \"tier\": \"Standard\"\r\n",
        "    },\r\n",
        "    \"threatIntelMode\": \"Alert\",\r\n",
        "    \"additionalProperties\": {},\r\n",
        "    \"ipConfigurations\": [\r\n",
        "      {\r\n",
        "        \"name\": \"fwpip\",\r\n",
        "        \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallPolicyRG-2140/providers/Microsoft.Network/azureFirewalls/firewall-5067/azureFirewallIpConfigurations/fwpip\",\r\n",
        "        \"etag\": \"W/\\\"32ee8931-53b2-4215-b898-9e31c231f10b\\\"\",\r\n",
        "        \"type\": \"Microsoft.Network/azureFirewalls/azureFirewallIpConfigurations\",\r\n",
        "        \"properties\": {\r\n",
        "          \"provisioningState\": \"Succeeded\",\r\n",
        "          \"privateIPAllocationMethod\": \"Dynamic\",\r\n",
        "          \"publicIPAddress\": {\r\n",
        "            \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallPolicyRG-2140/providers/Microsoft.Network/publicIPAddresses/publicIp-7682\"\r\n",
        "          },\r\n",
        "          \"subnet\": {\r\n",
        "            \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/FirewallPolicyRG-2140/providers/Microsoft.Network/virtualNetworks/vnet-8054/subnets/AzureFirewallSubnet\"\r\n",
        "          }\r\n",
        "        }\r\n",
        "      }\r\n",
        "    ],\r\n",
        "    \"networkRuleCollections\": [],\r\n",
        "    \"applicationRuleCollections\": [],\r\n",
        "    \"natRuleCollections\": []\r\n",
        "  }\r\n",
        "}"
      ]
    },
[...]
